[2022-09-12 13:10] #9652 closed

[2022-09-12 13:13] RachL commented on #9424
No worries, hope you had a nice time :+1:

[2022-09-12 13:18] RachL commented on #9658
@BethanOFN FYI FR disabled the cookie banner following https://github.com/openfoodfoundation/wishlist/issues/1#issuecomment-1007265482 Have a look perhaps it's a good option as well?

[2022-09-12 13:22] #9145 closed, assigned to jibees

[2022-09-12 13:38] drummer83 commented on #9658
@BethanOFN Sometimes rotating the screen helps. Has someone tried that? ;-)

[2022-09-12 15:19] filipefurtad0 opened #9660 "[Split Checkout] Failed StripeSCA payments redirect to the Details step"
## Description

If a payment fails - for example, due to insufficient funds - then the customer is redirected to the `Details` step. This forces the user to re-select a shipping method.

## Expected Behavior

If a payment fails - for example, due to insufficient funds - then the customer should be redirected to the `Payment` step.

## Actual Behaviour

If a payment fails - for example, due to insu

[2022-09-12 15:19] filipefurtad0 commented on #9645
Hey @jibees
Spotted no regressions. Noticed https://github.com/openfoodfoundation/openfoodnetwork/issues/9660

Test cases covered manually:
https://docs.google.com/document/d/1iUsxFLsB3N9ArbEJk0st_vx2yuvdmVUvxyapBNCYjZA/edit#

[2022-09-12 15:53] RachL commented on #9660
Nice catch @filipefurtad0 ! I think this is not bloking the rollout. We can fix it even after complete release :+1:

[2022-09-12 16:28] filipefurtad0 commented on #9660
Agree @RachL :+1:

To the dev picking this up:

I investigated briefly to try and get a spec for this. If I understand correctly, we already have a case for this in the code; for some reason, it's not doing what it's supposed to:

[code]

We're getting this response, when the payment fails:
(retrieved from staging-FR, by tailing the log)

[code]

[2022-09-12 18:17] drummer83 opened #9661 "[Bulk Order Management] Incorrect sorting by date: months sorted alphabetically instead of chronologically"
## Description

When sorting the orders on bulk order management page by 'completed at' date, the months are sorted alphabetically and not chronologically as you would expect.

## Expected Behavior

Sorting ascending by date you would expect: July --> August --> September

## Actual Behaviour

It is sorted alphabetically: August --> July --> September

## Steps to Reproduce

1. Go to /admin/orders

[2022-09-12 22:32] AdamPRankin commented on #9661
looks like a good first issue for me to tackle, will look into it

[2022-09-12 22:49] drummer83 commented on #9661
Welcome @AdamPRankin! Great to have you here!

Let us know if you get stuck!

Looking forward to your contributions! 😊

[2022-09-13 00:33] mkllnk commented on #9002
Thank you for reproducing one way to trigger this issue. There may be many ways but the result is that we have several customer records for the same user. Our code assumes only one record though and chooses the first one (which can be random depending on database ordering). And then it appears random which tags are applied. As a result, access to private shops or discounted shipping methods are no

[2022-09-13 03:01] AdamPRankin commented on #9661
initial thought is that it looks like it is comparing the datestring and not a date object.  Maybe create a custom comparator and use that to compare date objects would be the most elegant way to go? Still finding my way around the codebase and yet to find the sorting code.

[2022-09-13 05:30] mkllnk commented on #9002
I'm currently working on a related issue with duplicate customer entries: https://github.com/openfoodfoundation/openfoodnetwork/compare/master...mkllnk:openfoodnetwork:9002-customer-association

Once that pull request is ready for review, I will start addressing the issue around changing email addresses or signing up after being a guest customer.

[2022-09-13 05:58] dacook commented on #9616
## Planning/Estimating

[2022-09-13 07:24] dacook commented on #9616
I'm not very familiar with the codebase, so will need to do a bit of

## Planning/estimating. [DRAFT]

Order cycles have a time when `orders_open_at`. Currently there isn't any actions triggered by this, so we will need to build the trigger.

**Data:** it looks like this is based on already existing data in the system, great.
I'm not aware of the required use-case(s), but would expect some more fi

[2022-09-13 07:55] filipefurtad0 commented on #9660
This seems to always fail for 3D-cards, like `x-3178` -> `pm_card_authenticationRequiredChargeDeclinedInsufficientFunds` code:
- regardless of saving the card, the redirection occurs to the Details step :x:

For non-3D cards, like x-0002 -> `card_declined` code:
- if the checkbox `Save card for future use` is **not ticked** -> redirection occurs to the `payment` page :heavy_check_mark:
- if the ch

[2022-09-13 09:27] filipefurtad0 commented on #9435
Another occurrence [here](https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3043402189/jobs/4902625487):
rspec ./spec/system/consumer/shopping/shopping_spec.rb:233

[2022-09-13 19:38] #9645 closed

[2022-09-13 20:24] filipefurtad0 commented on #9435
Finally :tada:

`bundle exec rspec --bisect spec/system/consumer/shopping/shopping_spec.rb spec/system/consumer/shopping/* --seed 1`

[code]

But if I run this I get all greens :rofl:

[2022-09-14 11:35] filipefurtad0 commented on #9435
I actually don't think these failures are order dependent, so for future notice:

`spec/system/consumer/shopping/shopping_spec.rb:184` -> pagination, for OCs with 20 items: 10 items are loaded first, then after scrolling, the full 20 should be displayed. Sometimes it takes too long and fails.

`rspec ./spec/system/consumer/shopping/shopping_spec.rb:233` -> the query takes too long to yield results

[2022-09-15 06:10] mkllnk opened #9671 "Release v4.2.13 Peas"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-09-15 07:55] dacook commented on #9616
More rough notes for self

## Event
A new OrderCycleOpeningJob to check every 5 mins for opened order cycles.  This can trigger:
 - existing SubscriptionPlacementJob
 - a new order cycle open webhook job

We could just look for those opened in the last 5 mins, but that's likely to be unreliable (if the service is down temporarily, events aren't triggered, and if the service runs more than once in

[2022-09-15 12:12] RachL commented on #9596
Closing for now. Let's see if we need to reopen after https://github.com/openfoodfoundation/ofn-install/issues/825

[2022-09-15 12:12] #9596 closed

[2022-09-15 15:20] filipefurtad0 opened #9676 "CI not running all specs"
## Description

It seems our CI is currently not running ~100 examples which exist and are able to be run locally.

This might be caused by the way we split tests in `openfoodnetwork/.github/workflows/build.yml`

## Expected Behavior

All tests should run on the system folder.

## Actual Behaviour

Not all tests are running on our CI.

## Steps to Reproduce

1. On current master, dry run the admin

[2022-09-15 15:57] sigmundpetersen commented on #9676
Does it run sub folders when splitting?

[2022-09-15 16:06] filipefurtad0 commented on #9676
Not sure, but that would make sense... Maybe because of the `_spec.rb` ending?

It is removed on this [commit](https://github.com/openfoodfoundation/openfoodnetwork/pull/9675/commits/1958a01bad857fa8116ad603466de82e65465d92) (it removes the `_spec.rb` ending) we are already getting some failures:
`https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3061780192/jobs/4941973864`

[2022-09-15 16:18] RachL commented on #9671
I haven't found anything unusual. this looks ready to go :) https://docs.google.com/document/d/173IT0UPlU-INGj7fdMxqHlVaEpyU2jDF5282l6_6PZI/edit#

[2022-09-15 16:23] filipefurtad0 commented on #9676
Yes, that's it @sigmundpetersen.

I've just confirmed that the folders are not being considered on the build, by comparing the output from the dry run with the `--format documentation` option:

`bundle exec rspec -fd spec/system/admin/[a-o0-9]*_spec.rb --dry-run`

vs.

`bundle exec rspec -fd spec/system/admin/[a-o0-9]* --dry-run`

No example within sub-folders is being ran.

[2022-09-15 16:26] sigmundpetersen commented on #9676
😬

[2022-09-15 16:51] filipefurtad0 commented on #9676
I was about to say that at least we now know why this [failing spec](https://github.com/openfoodfoundation/openfoodnetwork/issues/9643) was not spotted before, but it is under `/consumer`... so it does not explain it.

But it surely relates to some specs not running on the `admin/reports` subfolder.

[2022-09-16 07:14] jibees commented on #9676
Or
[code]

232+268=500

[2022-09-16 09:03] jibees opened #9677 "Remove `jquery.jstree` from the taxonomy page"
## Description
We should remove `jquery.jstree` from the `/admin/taxonomies/[TAXON_ID]/edit` page:
 - we should use a package that is imported via package.json and yarn
 - this trigger some errors for images not found (`GET http://localhost:3000/throbber.gif 404 (Not Found)`)

#### Context
https://github.com/openfoodfoundation/openfoodnetwork/pull/9675/commits/cf8bab97e8944b18d01efaf8f7a755d9fac3a

[2022-09-16 14:17] filipefurtad0 opened #9678 "Random product ordering in report Order Cycle Supplier Totals by Distributor"
## Description

For a given distributor, the results in report Order Cycle Supplier Totals by distributor are displayed in a random order. Refreshing the page changes the product ordering.

This was spotted with the `spec/system/admin/reports/orders_and_fulfillment_spec.rb`

## Expected Behavior

Ordering should be consistent: products should be displayed alphabetically - within each distributor.

[2022-09-16 15:28] drummer83 commented on #7719
So if the currency settings in super admin configuration have no effect (which I can confirm), where is this configured then? Is it during installation? And can this be changed later without any risk?
I am asking, because the typical format in Germany is the comma as decimal separator and dot as thousands separator (if at all).
Currently we have it the other way round:
![image](https://user-images

[2022-09-16 16:06] drummer83 opened #9679 "Weird decimals when using 1234.5 or 1234.6 as weight in imperial metric system"
## Description

Similar to #9493
When adding 1234.5 or 1234.6 as product weight in an imperial (oz) system, ends up with a huge number of unnecessary decimals on page /admin/products.

## Expected Behavior

Just keep 1234.5 or 1234.6 - no additional decimals.

## Actual Behaviour

![image](https://user-images.githubusercontent.com/1790176/190681290-e1d71e7e-5243-4f8c-89b2-f50148efd491.png)

## Ste

[2022-09-16 18:19] mariodz95 commented on #9678
I have only one item in the list, can you provide me steps to add it another one?

[2022-09-16 18:34] drummer83 commented on #9678
Hi @mariodz95,
Are you working on your local setup? You should be able to login as super admin user and see all the orders and enterprises. Try to adjust the date range. There should be more orders in the past. If there are not you can create orders by registering a customer and shopping or by creating a backoffice order.

[2022-09-16 19:17] mariodz95 commented on #9678
Yes, I'am working on local setup, ok I will try to figure out. (manel.super.admin@example.org, and password is?)

[2022-09-16 19:25] drummer83 commented on #9678
email: ***@***.***: ofn123https://github.com/openfoodfoundation/openfoodnetwork/blob/master/GETTING_STARTED.md
-------- Ursprüngliche Nachricht --------Von: Mario Džoić ***@***.***> Datum: 16.09.22  21:17  (GMT+01:00) An: openfoodfoundation/openfoodnetwork ***@***.***> Cc: Konrad ***@***.***>, Comment ***@***.***> Betreff: Re: [openfoodfoundation/openfoodnetwork] Random product ordering in report

[2022-09-17 13:48] saunmanoj888 commented on #9603
hii @audez @sigmundpetersen
Can I work on this issue?
Thanks

[2022-09-17 13:51] sigmundpetersen commented on #9603
Yes sure, go ahead @saunmanoj888 !
Thank you 🙏

[2022-09-18 04:36] binarygit commented on #9561
Looks like there are no real `pickup` or `delivery` categories. We're using those radio inputs to just toggle the `require_ship_address` to `true` or `false`. And I checked my `ShippingCategory` model but there's only this in there.

I think that there's no real `pickup` or `delivery` shipping categories. Like
[code]

There are models like `ShippingCategory` and `ShippingMethodCategory` but they a

[2022-09-18 04:37] binarygit commented on #9561
the

[2022-09-18 20:32] drummer83 commented on #9616
Reading through this I was just wondering if the 'API' tab should only be visible if the 'API view' is activated for this user (in admin/users/ ID /edit)? Just like the display of the API key in the user account? @lin-d-hop

[2022-09-19 06:44] jibees commented on #9561
@binarygit
If I understood correctly, I think those two lines will helps you a lot:

https://github.com/openfoodfoundation/openfoodnetwork/blob/887f886110a90b294ee5e0acb98cb65b1c2f4bd8/app/models/spree/shipping_method.rb#L98-L99

[2022-09-19 08:21] binarygit commented on #9561
That clears everything up. Thanks! :smile:

[2022-09-19 09:21] binarygit commented on #9637
Is this in production?

[2022-09-19 09:37] RachL commented on #9637
Perhaps here the quick fix is to introduce a spinner.

[2022-09-19 09:55] drummer83 commented on #9637
I observed this on staging servers.

[2022-09-19 10:25] binarygit commented on #9637
I like the idea of having a spinner there (for now). Will send a PR for it, should I have the spinner right next to the `Any` label? It just shows up until the DOM updates then goes away.
![spinner](https://user-images.githubusercontent.com/87677429/190997544-c0ebf08c-54df-43a8-83db-c54c3cd38c9e.png)

Meanwhile I can look into what's causing the delay. How do I go to the staging server?

[2022-09-19 10:51] drummer83 commented on #9637
@filipefurtad0 wrote a great post about this: https://openfoodnetwork.slack.com/archives/C02TZ6X00/p1662455775158809?thread_ts=1662048305.835949&cid=C02TZ6X00

[2022-09-19 12:16] #9486 closed

[2022-09-19 13:08] filipefurtad0 opened #9684 "[BO] Can't find customers as superadmin"
## Description

As superadmin, it's currently not possible to find customers by using the search box in /admin/orders/<order_nr>/customer. This works fine as the hub manager.

See #9683

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1. Login as super admin
2. Visit /orders
3. Click "New order"
4. Select an enterprise and order cycle
5. On the Customer Details tab try do find an

[2022-09-19 13:43] jibees commented on #9684
I can't reproduce it in my local environnement.

[2022-09-19 13:59] jibees commented on #9684
Found!

[code]

[2022-09-19 14:45] RachL commented on #9637
I think we should only refer to our wiki and if our wiki sucks, improve our wiki :D Here is the wiki : https://github.com/openfoodfoundation/openfoodnetwork/wiki/Testing-process

[2022-09-19 15:58] filipefurtad0 commented on #8859
I think we can close this now, as we are testing invoices with `rack_test`.

[2022-09-20 01:47] #9671 closed

[2022-09-20 04:36] muthumcr77 commented on #9128
Hey there.
Apologies for getting started on this so late. I've read and understood the progress so far. I've also made myself familiar with Angular directives as mentioned by @mkllnk. Currently, I am working with

https://github.com/openfoodfoundation/openfoodnetwork/blob/3e3fc4a5a2359f772d18034901154a38dd96a15e/app/assets/javascripts/admin/spree/orders/variant_autocomplete.js.erb

Let me quickly

[2022-09-20 07:36] sigmundpetersen commented on #9583
Is this the same as #8898 ? Can we consolidate the info and keep only one?
@filipefurtad0

[2022-09-20 08:58] filipefurtad0 commented on #8898
Duplicate of #9583 .

[2022-09-20 08:58] #8898 closed

[2022-09-20 09:06] filipefurtad0 commented on #9583
Thank you @sigmundpetersen for the heads up - it seems it has been here for a while - removed the regression label, and closed #8898.

Perhaps a clarification is needed on the expected behavior. Looking at [this related discussion](https://github.com/openfoodfoundation/openfoodnetwork/issues/5369#issuecomment-624045267), I'd think that the expected behavior is:
- if shop has no order cycles open -

[2022-09-20 13:08] muthumcr77 commented on #9128
Hello.
I understand that cancel_event_link uses a form_id as jquery selector and upon 'onclick' event calls ofnCancelOrderAlert(); to display the required modal here:
https://github.com/openfoodfoundation/openfoodnetwork/blob/3e3fc4a5a2359f772d18034901154a38dd96a15e/app/assets/javascripts/admin/spree/orders/variant_autocomplete.js.erb

`
ofnCancelOrderAlert = function(callback, i18nKey) {
  if (i1

[2022-09-21 04:19] mkllnk commented on #9128
I think that you are on the right way. I'm not sure what you mean by "redirect" here. You can use the same logic as is used at the moment when cancelling the last order.

[2022-09-21 11:04] #9569 closed

[2022-09-21 11:16] filipefurtad0 opened #9692 "Change invoice_rendere.rb to render HTML"
### What we should change and why (this is tech debt)

We should change `invoice_renderer.rb` and `invoice_renderer_spec.rb` to test for most of the invoice contents.

### Context

https://github.com/openfoodfoundation/openfoodnetwork/pull/9674#pullrequestreview-1114704355

### Impact and timeline

Invoice testing.

[2022-09-21 11:28] filipefurtad0 opened #9693 "[Flaky] checkout_paypal_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/2991329515/jobs/4796582818

### Impact and timeline

Improving our build.

[2022-09-21 12:00] RachL commented on #9168
@filipefurtad0 now that recalculation of taxes are fixed. Do we still need this issue?

[2022-09-21 12:04] filipefurtad0 commented on #9168
Hey @RachL,
We don't need it. The issue was rather here to spring discussion on why the split checkout was designed to create a shipment object in the DB before the order is completed. But it's not really a bug so we can close it.

[2022-09-21 12:04] #9168 closed

[2022-09-21 12:19] filipefurtad0 commented on #9693
Double from #9638

[2022-09-21 12:19] #9693 closed

[2022-09-21 14:58] RachL commented on #9648
Hello @ashwini-seshadri and welcome :) Feel free to start and ping us [on slack](https://join.slack.com/t/openfoodnetwork/shared_invite/zt-9sjkjdlu-r02kUMP1zbrTgUhZhYPF~A) (dev channel) if you are stuck :)

PS : subscription code can be a little overwhelming at first. thinking about it maybe it's not soo much a good first issue. So don't feel bad to pick up another one if you loose too much time o

[2022-09-21 16:42] ashwini-seshadri commented on #9648
Hello @RachL
Thank you for the kind words! :)
Can you please point me at the files/modules that might be useful to look at when understanding this issue.

[2022-09-21 18:51] RachL commented on #9648
@ashwini-seshadri perhaps a first step is the user guide? Here you have a detailed info on what the feature does: https://guide.openfoodnetwork.org/basic-features/subscriptions/subscriptions-creating-and-managing-orders

[2022-09-22 06:56] ashwini-seshadri commented on #9648
@RachL Thanks for the hint! It was very helpful. I was able to reproduce the issue. I am going to explore the fix for it.

[2022-09-22 08:21] ashwini-seshadri commented on #9648
Hi, I seem to have found an issue with `.ofn-select2` [here](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/templates/admin/new_subscription_dialog.html.haml#L8). I see the focus on the input field dropping in and out rapidly.
I tried to look for issues on select2, describing the above and was unable to find anything useful.
Can you also please help me wit

[2022-09-22 08:30] sigmundpetersen commented on #9648
@jibees would this be related to the switch to `tom-select` ?

[2022-09-22 08:40] jibees commented on #9648
Our vision/goal is to replace each occurence of `ofn-select2` by `tom-select` via the Stimulus controller `app/webpacker/controllers/tom_select_controller.js` (for example, see that commit : abbb61b943abb0c22012bdcb147f898d1b0b5bf2)

The one you point is handled via the old `ofn-select2`, thus I'd propose you to replace it to a select input handled via `tom-select`, and see how it goes. Maybe will

[2022-09-22 08:42] ashwini-seshadri commented on #9648
@jibees Thank you very much for your suggestion. I will try this out and let you know how it goes!
Hopefully, this will solve the issue. 🤞🏾

[2022-09-22 14:32] jibees opened #9695 "Release v4.2.14"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-09-22 14:59] RachL commented on #9646
closing as this is currently handled in #9487

[2022-09-22 14:59] #9646 closed

[2022-09-22 15:00] RachL commented on #2187
@openfoodfoundation/core-devs do we still need this issue?

[2022-09-22 15:01] RachL commented on #3398
@filipefurtad0 where you aware of this one? do you think we need to keep it or is it outdated?

[2022-09-22 15:03] RachL commented on #3083
Closing as we are steeping away from Angular.

[2022-09-22 15:03] #3083 closed

[2022-09-22 15:27] RachL commented on #5646
We are now on rails 6, so closing.

[2022-09-22 15:27] #5646 closed

[2022-09-22 15:29] RachL commented on #6514
@openfoodfoundation/core-devs do we still need this issue?

[2022-09-22 15:30] RachL commented on #6510
@jibees do you confirm we are on the path to ditch it so we can close here?

[2022-09-22 15:31] RachL commented on #6460
@openfoodfoundation/core-devs do we still need this issue?

[2022-09-22 15:33] RachL commented on #7586
@openfoodfoundation/core-devs do we still need this issue?

[2022-09-22 15:35] filipefurtad0 commented on #3398
Hey @RachL , thanks for the heads up on this one - I was not aware.

I've had a quick look and we do use this option in several places in our specs. It seems not to be outdated. I'll assign myself and remove this option and see if we still have a green build.

[2022-09-22 15:37] RachL commented on #8502
Closing this one as we will act on those separately as they come.

[2022-09-22 15:37] #8502 closed

[2022-09-22 15:44] RachL commented on #4220
Closng as we are unable to reproduce.

[2022-09-22 15:44] #4220 closed

[2022-09-22 15:46] jibees commented on #6514
Closing, as we don't use `foundation-rails` anymore

[2022-09-22 15:46] #6514 closed

[2022-09-22 15:47] jibees commented on #6510
Exactly.
Viva `tom-select`!

![200w](https://user-images.githubusercontent.com/296452/191793056-010b6121-cdf7-4020-8ff1-1963959b57ed.gif)

[2022-09-22 15:47] #6510 closed

[2022-09-22 15:47] RachL commented on #4146
Hub managers can now add notes to orders. @lin-d-hop @BethanOFN is it enough to close this one or do you still need orders to display customers notes on the edit order screen?

[2022-09-22 15:47] jibees commented on #6460
Nop, because we're using `'~> 8.1'`

[2022-09-22 15:47] #6460 closed

[2022-09-22 15:48] RachL commented on #3678
Closing this one as we are not able to reproduce.

[2022-09-22 15:48] #3678 closed

[2022-09-22 15:52] RachL commented on #5264
No user reports on this since it has been opened. Closing.

[2022-09-22 15:52] #5264 closed

[2022-09-22 15:58] RachL commented on #6084
Closing as no other user reports since then.

[2022-09-22 15:58] #6084 closed

[2022-09-22 16:00] RachL commented on #5721
@openfoodfoundation/testers is this still happening on latest Chrome, Firefox & Edge?

Otherwise let's close it. We aren't going to fix IE11 issues anymore I think.

[2022-09-22 16:21] ashwini-seshadri commented on #9648
I explored around and I am planning to stop using `select2` and start using `tom-select` in [this](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/templates/admin/new_subscription_dialog.html.haml) file.
I discovered that it is a file that gets compiled (I think) along with the rest of the JS files.

I think the way to solve this issue is to ditch the compi

[2022-09-22 16:56] drummer83 commented on #9261
This has not been implemented, sorry.

[2022-09-22 17:44] RachL commented on #9261
@drummer83 it is it's just behind a feature toggle that will be removed once https://github.com/openfoodfoundation/openfoodnetwork/issues/9625 is done. so I think we can close?

[2022-09-22 23:16] drummer83 commented on #9261
Oops, I wasn't aware of that.
Re-closing. 😉

[2022-09-22 23:16] #9261 closed

[2022-09-23 07:02] jibees commented on #9648
Hi @ashwini-seshadri

I'm not sure to understand what is the issue you're facing?
I can see that this file is added via:
[code]
Is that point that failed?

I'm not sure what's the solution is (since I don't know the problem), but adding this file into a rails view and attach to a stimulus controller seems definitely to be a good way to go!

Regarding stimulus and modal, we already have some (like

[2022-09-23 10:31] RachL opened #9698 "When producer enterprises "hide all references" their name gets hidden on product shopfront as well"
## Description

"hide all references" is made in order to hide link to enterprises which do not want to appear outside of their community. This should not include their products. Each products should always show the link to the producer profile.

## Expected Behavior

See producer 's name

![image](https://user-images.githubusercontent.com/6525576/191942441-a96244b3-ea29-4063-be2a-4908fffa4c09.png

[2022-09-23 12:36] audez opened #9700 "Different admin interface for a producer who didn't connect for few years"
## Description
There was a bug on shop #1080, who displayed a weird version (old version?) of the website with different wordings and some missing features. The producer created this shop in 2018/2019 and didn't access the admin page since then.
It could be good to check if this bug applies to other producers who didn't log in for a long time.

## Expected Behavior
The admin website must be the la

[2022-09-23 12:43] RachL commented on #9700
@audez I think this is a classic cache problem? I don't think we can do anything about it. When this occur we can ask the user to do a Ctrl+F5 to empty his cache properly.

We still have the user guide on this page:

![image](https://user-images.githubusercontent.com/6525576/191962409-315025e8-f5e0-4c3e-89d8-0c96cdd0e95c.png)

[2022-09-23 13:49] audez commented on #9700
Oh ok yes i edited the issue for the button, thanks :)
For the cache, I think I didn't give proper explanation: the producer created his account few years ago. Now the producer loged in again, and had this weird interface. Then the hub manager connected with the producer account on his own computer, and had the same old interface. So it can't be linked to the browser cache, can it?

[2022-09-25 16:23] ashwini-seshadri commented on #9648
Hi @jibees! Your inputs were really helpful. I have opened a pull request for the issue.

[2022-09-26 06:54] ashwini-seshadri commented on #9589
Hi, I would like to work on this issue!

[2022-09-26 07:21] sigmundpetersen commented on #9589
Yes, go ahead @ashwini-seshadri 🙂 Thank you 🙏

[2022-09-26 07:26] mkllnk commented on #2187
No, we don't actually need any fix here.

[2022-09-26 07:26] #2187 closed

[2022-09-26 08:17] jibees opened #9703 "Shopfront: product description should have a pointer cursor when it's clickable"
## Description
Product description can be clickable to open a modal, and read the whole production description:

<img width="951" alt="Capture d’écran 2022-09-26 à 10 14 43" src="https://user-images.githubusercontent.com/296452/192227669-d2ce8a52-6d5b-4fe7-b0a4-d44d6eae4920.png">

<img width="1041" alt="Capture d’écran 2022-09-26 à 10 14 48" src="https://user-images.githubusercontent.com/29645

[2022-09-26 08:58] RachL commented on #9468
hey @leopengilley as we don't have news from you I'm unassigning you. Feel free to come back any time if you wish to work again on this!

[2022-09-26 12:22] jibees commented on #9698
#### Possible fix

[code]

[2022-09-26 12:51] BethanOFN commented on #9658
Thanks @RachL - so we can remove the cookies banner altogether when following the steps outlined in the linked guide, this is great news. However, I am not a super user for the UK matomo account, only an admin. Who would be able to change my role?

[2022-09-26 13:09] RachL commented on #9658
@BethanOFN I've done it, however we are all on a shared instance. That means your are now super user for all OFN instances. So be careful when you change something ;)

[2022-09-26 13:54] BethanOFN commented on #9658
@RachL amazing thank you 👍 I will try not to get too drunk on the power 😆

[2022-09-26 15:44] filipefurtad0 commented on #9695
Hey @jibees
Spotted no regressions:
https://docs.google.com/document/d/13OdZ4k-o64F-WikhLZ87IIwZ5UZPC0wqxQ68_rvtNFM/edit#

Looks good to me :heavy_check_mark:

[2022-09-26 21:22] viniciusueharaweb commented on #9703
Hey, can I take this one?

[2022-09-27 01:06] Minami-jp commented on #9679
Hello. I am sure, I can fix the problem.
Please let me know when possible to discuss with me.

[2022-09-27 04:45] Minami-jp commented on #8901
hi, I am here to choose the fix-task.

[2022-09-27 04:50] mkllnk commented on #8901
Thank you. I assigned you and moved this issue to In Progress.

[2022-09-27 05:25] vjain98 commented on #9468
Hey @RachL
Can I work on this issue?

[2022-09-27 05:26] vsmay98 commented on #9468
Hi @RachL
Can I work on this issue?

[2022-09-27 07:55] filipefurtad0 commented on #9695
Hey @jibees ,
I've tested and merged https://github.com/openfoodfoundation/ofn-install/pull/826 :+1:

[2022-09-27 07:58] jibees commented on #9679
Hi @Minami-jp 👋
and welcome.

I've assigned to your the issue.
Please, feel free to comment here if you're stuck on something.

[2022-09-27 07:59] jibees commented on #9703
Hi @viniciusueharaweb 👋
and welcome!

Sure, I'll assign you. Please feel free to comment if you're stuck on something!

[2022-09-27 08:02] jibees commented on #9468
Hi @vsmay98 👋

Sure, will assign to you. Please feel free to comment here if you're stuck!

[2022-09-27 08:05] jibees commented on #9695
@filipefurtad0 Thanks!

[2022-09-27 12:57] #9695 closed

[2022-09-28 00:49] #7767 closed

[2022-09-28 07:21] #3398 closed

[2022-09-28 22:15] #9650 closed

[2022-09-29 10:32] drummer83 opened #9720 "Weird decimals when using 12.5 as weight in imperial metric system"
## Description

Similar to #9493 and #9679
When adding 12.5 as product weight in an imperial (oz) system, it is displayed in cart and order confirmation with a huge number of unnecessary decimals.

## Expected Behavior

Just keep 12.5 - no additional decimals.

## Actual Behaviour

Cart:
![image](https://user-images.githubusercontent.com/1790176/193008061-96f31317-3832-4fb9-9e19-8d5a99c0d7dd.png)

[2022-09-29 12:35] #9684 closed

[2022-09-29 16:29] drummer83 opened #9722 "[Split Checkout] Incorrect backgroundcolor in order summary table"
## Description

The alternating colors of the table displaying the products on the order summary page are not properly implemented.

## Expected Behavior

The background color of the complete row should be identical.

## Actual Behaviour

The background color of the product name is always grey, even in the white rows.

## Steps to Reproduce

1. Activate split checkout (as super admin)
2. As a cust

[2022-09-30 03:45] Yh010 commented on #9722
I would like to work on this issue. Could u pls assign this issue?

[2022-09-30 07:18] jibees commented on #9722
Hi @Yh010
And welcome here! Yep, sure, i'll assign it to you ;)

[2022-09-30 12:32] filipefurtad0 commented on #9648
Hey @ashwini-seshadri ,
Welcome :wave:

Thanks for picking this up, I've verified the issue prior to staging and checked that your PR fixes it after staging it:

[Screencast from 30-09-2022 13:29:30.webm](https://user-images.githubusercontent.com/49817236/193270291-803d3943-3fbc-4f5b-aa33-5e803b05b934.webm)

Many thanks! Merging.

[2022-09-30 12:32] #9648 closed

[2022-09-30 12:39] snehalsenapati23 commented on #9722
Hello @jibees i want to work on this issue . Could you assign it to me?

[2022-09-30 12:41] jibees commented on #9722
Hi @snehalsenapati23 👋
And welcome here !

This one is already assigned to @Yh010 ;)
Could you please find another issue, marked as `good first issue` if you want?

[2022-09-30 13:36] #8974 closed

[2022-09-30 14:13] audez opened #9723 "[Admin] Missing translation in payment report"
## Description
In Reports > Payment reports (/admin/reports/payments), translations are missing for the following field names:
paid
credit_owed
balance_due

I couldn't find the missing translations in Transifex.

## Animated Gif/Screenshot
![Screen Shot 2022-09-30 at 15 51 25](https://user-images.githubusercontent.com/28386648/193289131-23bb38d3-2aa8-4d2f-b318-f4aca1533238.png)

## Severity
bug-s4

[2022-09-30 14:30] jibees opened #9724 "Release v4.2.15"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-db2caac2388c5ac33d56
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the relea

[2022-09-30 14:36] #9002 closed

[2022-09-30 14:42] RachL commented on #9661
Hello @AdamPRankin ! I hope this message fins you well. Just checking in: are you still working on this issue?

[2022-09-30 16:49] matisnape commented on #9720
Hi, can I take this one? :)

[2022-09-30 17:06] audez commented on #1756
Can i create a specific issue "[Admin] Don't jump to primary details after saving a change in Enterprise settings"?
I think with this and adding the shipment methods to the [Improve admin UX (journey) when managing payment methods #3728](https://github.com/openfoodfoundation/openfoodnetwork/issues/3728), we could close this one

[2022-09-30 17:54] maniSHarma7575 commented on #9603
Hi @sigmundpetersen  can I take up this issue if no one else is working on it? 😊

cc: @saunmanoj888

[2022-09-30 17:56] maniSHarma7575 commented on #9723
@RachL can I take up this issue? 😊

[2022-09-30 18:35] sigmundpetersen commented on #9603
I have assigned you @maniSHarma7575 , thank you 🎉

[2022-09-30 18:37] sigmundpetersen commented on #9723
Go ahead @maniSHarma7575 , thanks 👍

[2022-09-30 18:38] sigmundpetersen commented on #9720
Yeah sure, thank you @matisnape 🎉

[2022-10-01 08:08] ashwini-seshadri commented on #9589
Hi, just an fyi, I am still working on this issue!

[2022-10-03 04:27] mkllnk opened #9726 "Unused Paperclip columns still present"
### What we should change and why (this is tech debt)

We replaced Paperclip with Active Storage but we kept the old Paperclip columns in the database tables for the transition. This transition is well over now and new devs get confused about inconsistent data. They look at the old Paperclip columns and wonder why they don't match up with uploaded files.

Removing the columns should also reduce th

[2022-10-03 04:37] AthiraKadampatta commented on #9726
Hello @mkllnk I would like to work on this one. Could you please assign it to me?

[2022-10-03 06:03] mkllnk commented on #9726
Done. All yours.

[2022-10-03 08:16] RachL commented on #9724
Everything looks good to go :) https://docs.google.com/document/d/11x73pJ_BQNTsUHm16NMFrtrLUVLo_RwY_XFVdJtl73Y/edit#heading=h.4ctypvfojpgm

[2022-10-03 11:57] toshitapandey commented on #9661
@RachL - If no one is working on this, can I pick this up?

[2022-10-03 11:58] toshitapandey commented on #9500
@filipefurtad0 - Is this issue still relevant? Can I pick this up?

[2022-10-03 12:08] filipefurtad0 commented on #9500
Hi @toshitapandey ,
I've assigned you to this issue. Let us know if you have any questions!

[2022-10-04 12:56] drummer83 opened #9733 "[Split Checkout] Message 303 when order cycle closes during checkout"
## Description

Follow up of #9688.

In #9688 the redirections and error messages when the order cycle closed during checkout were fixed for our legacy checkout. For Split Checkout the situation got worse, see below.

## Expected Behavior

- When clicking 'Next' on any of the three Split Checkout pages, the user should be redirected immediately
  - if shop has no order cycles open -> redirect to s

[2022-10-04 13:41] #9724 closed

[2022-10-04 14:30] binarygit commented on #9733
Thanks for creating this issue @drummer83 I'll take it up.

I don't have split checkout enabled in my local app, could you tell me how to do that?

[2022-10-04 14:44] drummer83 commented on #9733
Hi @binarygit,

Of course, you need to log in as super admin and follow the instructions provided here: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Feature-toggles

Don't hesitate to ask if anything is unclear.

[2022-10-04 16:28] drummer83 commented on #6944
We have removed the ability to view cancelled orders completely in #9390.
Maybe this issue can be closed?

BUT: I have found one way to create orders without shipping methods - I think this was a puzzle?
It seems to happen in the following scenario:
1. Have an order in states shipment: pending and payment: balance due
2. On edit order page delete all items one by one
3. After deleting the last ite

[2022-10-04 16:43] drummer83 opened #9734 "Deleted variants can't be deleted from orders (error 404)"
## Description

If an enterprise user deletes a variant which has been ordered by customers before, this item cannot be deleted from the customers orders (error 404).

## Expected Behavior

The line item should be removed from the order.
The question is, what should happen, if the user selects to 'restock' the item to the existing stock? A warning that the variant doesn't exist anymore?

## Actual

[2022-10-04 16:57] RachL commented on #9734
I think this is a duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/4203 ?

[2022-10-04 17:08] drummer83 commented on #9734
Yes, it is! Damn it - I couldn't find that one.
Closing.

Duplicate of #4203.

[2022-10-04 17:08] #9734 closed

[2022-10-04 17:46] #9583 closed

[2022-10-04 17:49] #9422 closed

[2022-10-05 02:19] #9435 closed

[2022-10-06 01:27] mkllnk opened #9740 "Release v4.2.16"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-10-06 06:12] drummer83 commented on #9740
Hi @mkllnk,

I have tested the release - all looking good.
Notes are here: https://docs.google.com/document/d/1CZosAyLZAVUOQ1Ewwco6UlFA1JIatBfraui_ei89rY4/edit?usp=sharing

Let's go! 🎉

[2022-10-06 09:14] audez opened #9745 "[Admin] Bulk co-op reports showing wrong info"
## Description
The bulk co-op reports (admin/reports/bulk_coop) are displaying non-bulk products. And the info in the different reports is not the same.

## Actual Behaviour
Bulk co-op supplier report: displaying bulk products AND non-bulk products
Bulk co-op Allocation report and bulk co-op packing sheets: displaying only non-bulk products (in my example)

## Steps to Reproduce
1. Connect to a sh

[2022-10-06 09:22] audez opened #9746 "[Admin] Non-bulk products appear in "Bulk order management" page"
## Description
In Orders > Bulk order management page (admin/orders/bulk_management), non-bulk products appear.

## Expected Behavior
Only bulk products should appear in this page.

## Actual Behaviour
The product list displays all ordered products, whether bulk or non-bulk.

## Steps to Reproduce
1. Connect to a shop with bulk (group by option = yes) and non-bulk products (normal products)
2. Pla

[2022-10-06 09:45] audez opened #9747 "[Admin] Wrong "bulk unit size" in bulk co-op supplier report"
## Description
The "bulk unit size" field in the bulk co-op supplier report is displaying 0 value instead of the bulk unit size.

## Steps to Reproduce
1. Create a product with group by option on "yes" and set bulk unit value to 30 for instance
2. Pass an order with this product
3. Go to admin/reports/bulk_coop and see that the bulk unit size column is not displaying the value you previously set

[2022-10-06 10:54] audez commented on #9746
it's actually normal that all products appear in "bulk order management" page, because it's bulk in the sense of "manage several products at the same time" and not bulk in the sense of a bulk product that is sold by weight..
I'll change translations in French to make it more clear

[2022-10-06 10:54] #9746 closed

[2022-10-06 13:03] audez opened #9748 "[Admin] Bulk co-op allocation report showing wrong total sum"
## Description
We have a hub that report that the Allocation report is showing the wrong total sum (with very strange values..) for enterprise 4100. Whereas it's the good total sum in the supplier report.

## Steps to Reproduce
Not sure how to reproduce this

1. Connect to shop 4100
2. Go to the admin/reports/bulk_coop
3. See total sum in the Allocation report

## Animated Gif/Screenshot
<img widt

[2022-10-06 14:32] RachL commented on #2078
@openfoodfoundation/developers do we still need this issue?

[2022-10-06 14:54] RachL commented on #4283
@openfoodfoundation/developers do we still need this one in the context of API V1?

[2022-10-06 15:01] RachL commented on #4917
We want to remove this one: https://github.com/openfoodfoundation/openfoodnetwork/issues/6665

so closing

[2022-10-06 15:01] #4917 closed

[2022-10-06 17:57] krishnasingh001 commented on #9747
Hello @audez  I would like to work on this one. Could you please assign it to me?

[2022-10-07 02:04] dacook commented on #9616
Hi @lin-d-hop , Maikel has raised a good question about exactly _when_ should enterprises be notified?
I had initially assumed that the **co-ordinator** would be notified, but I'm now aware that there can also be different **distributor** and **suppliers** enterprises attached to an order cycle. I wonder should all three be able to receive a notification (when they subscribe)?
Re-reading your crit

[2022-10-07 17:15] drummer83 commented on #9698
Ouch, this needs to be decided, see [#284](https://github.com/openfoodfoundation/wishlist/issues/284).
I don't have a strong opinion, but one of these two needs to be closed.
@openfoodfoundation/train-drivers-product-owners

[2022-10-07 17:21] drummer83 commented on #9589
Don't hesitate to reach out if you get stuck!
@ashwini-seshadri

[2022-10-07 17:36] ashwini-seshadri commented on #9589
Hi, @drummer83 Thank you, I was a bit sick, but hopefully, I will be able to finish it and submit a PR soon!
Thank you!

[2022-10-07 18:39] drummer83 opened #9750 "[Admin] [Permissions] A hub receiving permission from a producer shop lists the shop as a place to buy the hub's products"
## Description

This one is similar to (or already covered by) #9589.

A producer hub's products can't be bought at another producer shop because by definition the producer shop can only sell own products. But as can be seen in the screenshots below, the producer shop is listed as an opportunity to buy the producer hub's products.

## Expected Behavior

On pages /producers and /map (hub profile/mo

[2022-10-08 10:20] drummer83 opened #9751 "Multiple fees per item of same fee type are merged in shopfront but only one name is displayed"
## Description

This is an outcome of testing #9442.
If a product has multiple fees per item of same fee type assigned, then in the price chart in the shopfront the amounts of these fees are added up, but only one name is displayed next to it.

## Expected Behavior

The multiple fees shouldn't be merged so that each name and amount of the fees can be displayed separately.

## Actual Behaviour

The

[2022-10-08 12:19] drummer83 commented on #9561
#9682 was created to solve this issue. Looking at it in detail I understand that #9682 is great to have, but it's not really solving the original need. If this is true, @audez or @tschumilas, I would propose to open a wishlist item to either
- have an option to disable the email notification OR
- not set shipment state to 'ready' automatically as soon as the order is complete and paid, but instead

[2022-10-08 12:43] lin-d-hop commented on #2453
@binarygit I'm wondering with the Angular work you are doing on this area of the app if this is still an issue?

[2022-10-08 13:17] maniSHarma7575 commented on #9603
@sigmundpetersen Added PR: #9752

[2022-10-08 16:54] drummer83 commented on #8911
Thanks @kubczakn, I accidentally found this issue and you are right! I can confirm that this one is solved already.

![image](https://user-images.githubusercontent.com/1790176/194718643-195da3bb-35a9-4dc0-be00-f68b257510ac.png)

![image](https://user-images.githubusercontent.com/1790176/194718648-923e62e6-8229-4176-a1df-1f8f9bba1eff.png)

Closing.

[2022-10-08 16:54] #8911 closed

[2022-10-09 08:37] audez opened #10222 "In BOM, don't show "group buy" info if equal to 0"
## Description
**- As a:** enterprise or super admin
**- On page:** `admin/orders/bulk_management`
**- I want to be able to do:** If group by info is equal to 0 (because the product has no group by characteristics), leave the field empty instead of displaying "0g"

![Screen Shot 2022-10-09 at 10 31 26](https://user-images.githubusercontent.com/28386648/194746660-d3211fb7-c4cb-4035-aaa8-6bf8dd3da5d

[2022-10-09 08:57] audez opened #9753 "[Admin] Don't jump to primary details after saving a change in Enterprise settings"
## Description
In Enterprise > Parameters, if you're on any of the tabs, make some changes and click update, the page reloads, but brings you back on Primary Details.

## Expected Behavior
You should remain on the same tab.

## Actual Behaviour
When editing parameters on any tab (for ex Address - /edit#!#address_panel - or Social - edit#!#social_panel), and clicking the "Update" button, it brings

[2022-10-09 08:59] audez opened #9754 "[Admin] Improve UX (journey) when managing shipping methods"
## Description
Same as #3728 but for shipping methods

[2022-10-09 09:01] audez commented on #1756
I close this one as it is covered by:
- #9753 for the refresh in Enterprise parameters
- #3728 &  #9754 for navigation issues in shipping and payment methods

[2022-10-09 09:01] #1756 closed

[2022-10-09 14:30] vsmay98 commented on #8249
Hello @filipefurtad0 @drummer83
Can I work on this issue?

[2022-10-09 15:17] drummer83 commented on #8249
Yes, of course, @vsmay98!
I have assigned it to you, please go ahead!

Looking forward to another contribution of yours! 😊

[2022-10-10 00:41] #9125 closed

[2022-10-10 01:55] mkllnk commented on #2078
Yes, we still can't use the app without the superuser privilege. We actually get another error now:

[code]

[2022-10-10 02:02] mkllnk commented on #4283
No, lets not touch the old API for a cleanup tasks.

[2022-10-10 02:02] #4283 closed

[2022-10-10 02:11] #9468 closed

[2022-10-10 02:15] #8904 closed

[2022-10-10 02:15] #9561 closed

[2022-10-10 02:41] binarygit commented on #2453
Nopes not an issue now. Right now, you click the trash icon, and when it prompts you about unsaved changes you can just click `ok` once and it goes away. So, not an issue anymore.

[2022-10-10 02:59] #6730 closed

[2022-10-10 03:06] #2453 closed

[2022-10-10 03:54] mkllnk opened #9757 "[Flaky] spec/system/admin/bulk_order_management_spec.rb"
### What we should change and why (this is tech debt)

[code]

I ran this spec ten times and it failed eight times. Pretty bad.

### Context

This came up when trying to remove retries:

* https://github.com/openfoodfoundation/openfoodnetwork/pull/9635

### Impact and timeline

[2022-10-10 04:41] mkllnk commented on #9757
I tested this in the browser and the spec passes seem to be incorrect. We are expecting a confirmation which is not popping up for me. This patch makes the spec fail 100%:

[code]

The save-bar was still visible from before and sometimes the page had not reloaded yet when the dirty input is tested. But selecting a date seems to not trigger the modal as expected in the spec.

[2022-10-10 06:13] AthiraKadampatta commented on #9753
Hello @audez I would like to attempt this one. Could you please assign it to me?

[2022-10-10 06:57] drummer83 commented on #9753
Hi @AthiraKadampatta and welcome!
I have assigned it to you! Let us know if you get stuck or if anything is unclear.
Looking forward to your contribution! 🤗

[2022-10-10 09:32] RachL commented on #9753
@audez be cautious we the good first issue label, especially when it comes to Angular, it can be very tough. In doubt, ask a dev to add the label ;) Also I know this looks like a bug, but for all UX issue we should go through the wishlist process I think.

@AthiraKadampatta let us know how it goes. Note also that @binarygit is currently migrating all enterprise settings from angular to stimulus re

[2022-10-10 09:34] sigmundpetersen commented on #9698
It was decided to keep this open in https://github.com/openfoodfoundation/wishlist/issues/284#issuecomment-1272095510

[2022-10-10 10:23] RachL commented on #9424
@apricot12 Hello. I will unassigned you for now as it looks like you don't have much time. Feel free to pick this one up again once you have more space! I hope everything is ok for you.

[2022-10-10 11:07] binarygit commented on #9753
I don't think it's a good idea to try and fix this in Angular :sweat_smile: . I think you'll need to look at the `update` method in `app/controllers/enterprises_controller.rb` because that's the action invoked after clicking `update`.

The view files for this screen are located in `app/views/admin/enterprises`, also `app/views/admin/shared/_side_menu.html.haml` renders the side menu and has the lo

[2022-10-10 11:22] RachL commented on #9753
Thanks for the feedback @binarygit ! Can this be already worked on right now with Stimulus Reflex or is it best to wait for your work to be completely done?

[2022-10-10 12:12] binarygit commented on #9753
oh yes. It can be worked on right now :smiley:

[2022-10-10 17:54] ashwini-seshadri commented on #9589
Hi, I have a question, what are all the permissions that need to be enabled for a producer to be a producer on an organisation.
Eg: "to add to order cycle". "to manage products" etc

[2022-10-10 19:20] ashwini-seshadri commented on #9589
I'm going to change the query  to this to help me remove children in the enterprise relationship
from this :
[code]
to this:
[code]

This seems to fix the issue. I will write tests and create a PR.

[2022-10-10 19:58] sigmundpetersen commented on #9589
If you haven't already, you can read more about permissions [here ](https://guide.openfoodnetwork.org/basic-features/enterprise-profile/enterprise-to-enterprise-permissions-e2es#enterprise-permissions) 👍

[2022-10-10 20:13] ashwini-seshadri commented on #9589
@sigmundpetersen Thanks!
What about the sql query? Do you think it is ok top solve this with the above mentioned approach?

[2022-10-10 22:41] #9603 closed

[2022-10-11 02:51] mkllnk commented on #6624
I get a fail rate of 18% here. That's quite urgent.

[2022-10-11 06:09] mkllnk opened #9765 "[Flaky] spec/system/admin/bulk_order_management_spec.rb 'Loading orders'"
### What we should change and why (this is tech debt)

This is a different flaky spec to  #9757.

[code]

### Context

Lots of PRs are currently failing because of this.

- https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3224092026/jobs/5274853750

### Impact and timeline

[2022-10-11 07:29] jibees commented on #9589
hey @ashwini-seshadri 👋

I think the approach is to create a PR with specs, and then pass the CI specs, and code review. It'll be cleaner for everyone.

Thanks! 🙏

[2022-10-11 09:10] RachL commented on #8195
I'm closing this one as it looks like we are going to implement it only for super admin.

[2022-10-11 09:10] #8195 closed

[2022-10-11 09:11] RachL commented on #8596
New issue here: https://github.com/openfoodfoundation/openfoodnetwork/issues/9170

[2022-10-11 09:11] #8596 closed

[2022-10-11 11:01] #9740 closed

[2022-10-11 11:13] #9488 closed

[2022-10-11 21:38] ashwini-seshadri commented on #9589
Hi @jibees
Thank you for your response. It helped me in finding another approach to solve this issue. I have created a PR, but it is failing two tests that I don't understand very well. Can you advise me on how to handle it?

[2022-10-12 00:52] #9765 closed

[2022-10-12 04:27] mkllnk opened #9769 "[Flaky] spec/serializers/api/enterprise_shopfront_serializer_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

* https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3230093741

### Impact and timeline

[2022-10-12 04:50] mkllnk commented on #9769
Actually not flaky. A PR revealed a wrong spec.

[2022-10-12 04:50] #9769 closed

[2022-10-12 07:10] jibees commented on #9589
@ashwini-seshadri
I can see that PR #9768 is in code review, so i will review it and comment there

[2022-10-12 08:17] #6624 closed

[2022-10-12 23:05] #9625 closed

[2022-10-13 04:59] mkllnk opened #9770 "Release v4.2.17"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-10-13 06:55] amdweb82 opened #9773 "Product Variant ordering not showing according to saved order"
## Description
3 variants of a product, all with different pricing. A user can control via drag and drop, which order they'd like variants to be listed.

## Expected Behavior
Ideally they're ordered cheapest to most expensive, so drag and drop on /admin/products/PRODUCT_NAME/variants and then view front end shop which should show variants in the same order. Currently does not.

[2022-10-13 07:22] RachL commented on #9773
thanks for this idea @amdweb82 and welcome! As this is a new feature idea, I'm moving your issue to the wishlist repository :+1:

[2022-10-13 08:02] abdellani commented on #9298
let me handle this :)

[2022-10-13 08:17] sigmundpetersen commented on #9298
Sure thanks @abdellani , go ahead 🎉
Don't hesitate to ask any questions here if you are stuck 👍

[2022-10-13 08:19] sigmundpetersen commented on #9298
Please also have a look at the previous PR attempt by another contributor here #9317

[2022-10-13 10:33] jibees opened #9777 "Admin, Enterprise Settings, Business Details Panel, Business Address : First country of the available ones is selected"
## Description
Regarding several hub in `fr-prod`, it appears that all of them have Afghanistan selected as their country on page, although it seems very unlikely.

`/admin/enterprises/[HUB_PERMALINK]/edit#!#business_details_panel` :

<img width="855" alt="Capture d’écran 2022-10-13 à 12 22 51" src="https://user-images.githubusercontent.com/296452/195572990-6aebec1e-6306-492d-abd1-01ae0bfa84b3.p

[2022-10-13 11:25] abdellani commented on #9298
From the product model, `unit_value` is only validated when the variant unit (unit size) is selected.
[code]
So, if we submit an empty form. I belive we should not see an error related to that field.
Is that correct?

[2022-10-13 12:43] drummer83 commented on #9777
Great catch @jibees, another issue around this country selector was identified here: https://github.com/openfoodfoundation/openfoodnetwork/pull/7973#issuecomment-937727738.
It was agreed to tackle that at a later stage, but now that you are working on that anyway, it might be the right time to fix it. Maybe it was covered by your solution already? Or by @binarygit's work?

[2022-10-13 13:10] jibees commented on #9777
Oh, nice spotted @drummer83 ! I think I can correct it easily ;)

[2022-10-13 13:36] audez opened #9781 "[Product import] Wrong error message when shipping category doesn't match predefined shipping categories"
## Description
When importing a .csv with products with shipping categories:
- that contains a mispelling in the name: for instance "Default " (with one extra space)
- or that doesn't match one of the predefined categories (see the list below)
![Screen Shot 2022-10-13 at 15 27 18](https://user-images.githubusercontent.com/28386648/195610883-c40d42ba-cba2-4a6e-958f-7f6602260384.png)

The error disp

[2022-10-13 14:29] audez opened #9782 "[Shops list] Overlapping and overflowing texts on mobile"
## Description
In the shops page (shops#/)

- Shop city: can overlap with the shop "status" (closing in..)
- Shop title: sometimes overflow, sometimes there's "..." and the arrow (>>), sometimes there's "..." and no arrow

## Animated Gif/Screenshot
## Overlap
![Screen Shot 2022-10-13 at 16 27 51](https://user-images.githubusercontent.com/28386648/195624801-5d6869df-0bf5-41bb-b0e4-4cd5f9cd31aa.png

[2022-10-13 15:07] BethanOFN opened #9783 "Unhandled error when trying to change enterprise selling settings as a manager"
## Description

A user raised the following through the support team:
[code]
Essentially, an enterprise _manager_ tried to change the package type, but as they were not the owner this action failed and they experienced an unhandled 'Authorization Failure' error; see [bugsnag](https://app.bugsnag.com/yaycode/open-food-network-js-uk/errors/5e847f9022ed50001754372a).

## Expected Behavior

Either thi

[2022-10-13 17:05] drummer83 commented on #9770
All good. Ready to go!

[2022-10-14 02:44] abdellani commented on #9748
Hi @audez
I want to work on the problem, but where can I find this shop 4100?

[2022-10-14 06:55] drummer83 commented on #9748
Hi @abdellani,
I'm afraid that's on one of our production servers. It's probably best to reproduce the issue on your local setup first.

[2022-10-14 07:04] drummer83 commented on #9298
@abdellani There is some complexity around this because for 'unit value = item' the 'unit size' is not mandatory anymore. Unit size is set to '1' unless you type something else.
To be honest, I don't really understand why it is that way.
To answer your question: Yes, that's my understanding as well. 👍🏻

[2022-10-14 08:54] audez opened #9785 "[Reports] Bulk products missing in bulk co-op allocation report"
## Description
Some bulk products that have been ordered are missing from the allocation report. (you can test with shop 2732 on https://staging.coopcircuits.fr)

## Steps to Reproduce
1. Create bulk products in a shop
2. Pass an order with these products
3. Create a bulk co-op allocation report

## Animated Gif/Screenshot
## The order confirmation
![Screen Shot 2022-10-14 at 10 52 47](https://use

[2022-10-14 09:04] jibees commented on #9785
Similar to #9745 right?

[2022-10-14 09:52] audez commented on #9056
ok guys this completes and kinda confirm my previous comment.
I was doing some tests on a shop that only had a "pickup" method, and I was able to checkout several times without trouble. Then at some point, I was unable to checkout and was stuck at step 1 with the 422 error (obviously all fields were filled in).
I decided to create a "delivery" method, and I tested to checkout with that, and it wor

[2022-10-14 09:59] RachL commented on #9128
hello @muthumcr77 I hope this message finds you well. As it's been a while we don't have news here, I'm unassigning you so someone else can pick this up. If you want to come back to it, don't hesitate to comment here :)

[2022-10-14 10:00] RachL commented on #9661
@toshitapandey apologies for the late answer. If you are still interested yes go ahead, I've assigned it to you!

[2022-10-14 10:01] RachL commented on #8901
Hello @Minami-jp I hope this message finds you well. Are you still working on this issue?

[2022-10-14 10:03] RachL commented on #9679
hello @Minami-jp as you are already assigned to #9661 I've unassigned you here so someone else can have a look as well :) don't hesitate to comment if you already had started something.

[2022-10-14 10:03] audez commented on #9785
@jibees i also asked myself but actually the 9745 is for non-bulk products appearing in the "supplier" report, and this one is for some bulk products that don't appear in the "allocation" report.. there are many different bugs in the bulk reports and bulk management page, i guess we could group them together, so they could be managed together, but i don't know how

[2022-10-14 10:04] RachL commented on #9703
Hello @viniciusueharaweb I hope this message finds you well. Just checking in: are you still working on this issue?

[2022-10-14 10:05] RachL commented on #9722
hello @Yh010 I hope this message finds you well. Just checking in: are you still working on this issue?

[2022-10-14 10:05] RachL commented on #9723
Hello @maniSHarma7575 I hope this message finds you well. Just checking in: are you still working on this issue?

[2022-10-14 10:06] RachL commented on #9720
Hello @matisnape I hope this message finds you well. Just checking in: are you still working on this issue?

[2022-10-14 10:10] audez opened #9788 "[Admin][Products list] Unable to choose items in "unit list" dropdown for products at the bottom of the page"
## Description
In the Product list page (/admin/products), for the products that are at the bottom, when you want to change the "unit list", it unfolds a dropdown list but it's impossible to choose some of the last fields as they are masked by the banner at the bottom of the page (the banner with the buttons to 'save changes' or 'cancel')

## Animated Gif/Screenshot
## It is OK
![Screen Shot 2022-

[2022-10-14 10:12] RachL commented on #6011
@filipefurtad0 is this issue still valid? I see https://github.com/openfoodfoundation/openfoodnetwork/pull/6099 closes it?

[2022-10-14 10:13] RachL commented on #8250
Unless I'm wrong PR https://github.com/openfoodfoundation/openfoodnetwork/pull/8308 has fixed this. closing.

[2022-10-14 10:21] RachL commented on #9788
Nice catch! I'm moving this to wishlist to keep a track. But I don't think we want to fix this as we are completely recoding the page :+1:

[2022-10-14 10:23] RachL commented on #9745
I'm wondering if this hasn't actually been made on purpose: @tschumilas @lin-d-hop @kirstenalarsen do you know?

[2022-10-14 10:48] matisnape commented on #9720
@RachL I intend to, but I still haven't succeeded to setup the local environment on my mac - see thread here: https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p1665262863935319

[2022-10-14 11:41] jibees commented on #9785
That's why i've commented on it: therefore maybe the developper will have the same PR for those two issues. Never know!

[2022-10-14 11:52] drummer83 commented on #8250
You are wrong. :wink:
See https://github.com/openfoodfoundation/openfoodnetwork/pull/8308#issuecomment-948772358.
Reopening.

[2022-10-14 12:12] audez opened #9789 "[Bulk order management] "Group Buy Unit Size" displays zero when too small"
## Description
If the value entered by the user in the "group buy" option is too small, in the "Bulk order management page" the "group buy unit size" displays "0" instead of the value corresponding to that was set up by the user.

## Expected behavior
The "Group buy unit size" that is displayed in the "Bulk order management page" (admin/orders/bulk_management#) should match the "group buy" unit si

[2022-10-14 12:21] RachL commented on #9789
@audez I think this is expected behavior? If I follow the quote, instead of 1 kg we should use 1000 g. this way the quantity is never small?

[2022-10-14 12:23] RachL commented on #8250
ok thanks, what was confusing is that this was in progress on the welcome new dev board

[2022-10-14 12:48] audez commented on #9789
mmm nope. I mean the user is not _supposed to_ put small values, but if they put a small value:
- if we allow them to do it, then the value they entered must be displayed in the "Group buy unit size".
I think it's just a bug in this field that doesn't display values less than 0.001. Because we see that the value has still been recorded in database, as the calculations of "current" and "max fulfill

[2022-10-14 13:06] RachL commented on #9789
yes I understand, but it looks as something that was scoped this way. Let's use https://github.com/openfoodfoundation/wishlist/issues/300 to move forward! Thanks :green_heart:

[2022-10-14 13:06] #9789 closed

[2022-10-14 13:28] audez commented on #9785
oh ok, i thought by "similar" you meant "duplicate". Thanks then ^^

[2022-10-14 14:10] Yh010 commented on #9722
hey!
actually, I was occupied with my college's mid-semester exams, and on-campus internship rounds..will be starting to work on this issue this Monday...

From: "Rachel Arnould" ***@***.***>
To: "openfoodfoundation/openfoodnetwork" ***@***.***>
Cc: "Yash Hegde" ***@***.***>, "Mention" ***@***.***>
Sent: Friday, October 14, 2022 3:35:46 PM
Subject: Re: [openfoodfoundation/openfoodnetwork] [Split c

[2022-10-14 18:41] maniSHarma7575 commented on #9723
@RachL I'll work on this issue this weekend.
Sorry for the delay.

[2022-10-14 18:49] saunmanoj888 commented on #9559
hii @audez
Can you please assign me this issue?
Thanks

[2022-10-14 19:05] saunmanoj888 commented on #9679
hii @jibees @RachL
Can I work on this issue?
Thanks

[2022-10-15 02:47] viniciusueharaweb commented on #9703
Yup! Had a busy schedule past week, hope I can handle this issue next days!

[2022-10-15 09:31] drummer83 commented on #9679
Sure, @saunmanoj888!
I have assigned it to you! 👍🏻

[2022-10-15 11:23] maniSHarma7575 commented on #9723
@RachL I'm really sorry, Having busy weekends. You can assign this to someone else.

[2022-10-15 14:20] Laurel16 commented on #9559
Hi, I am already on it here (
https://github.com/openfoodfoundation/openfoodnetwork/pull/9737),  but feel
free to make suggestions for improvement :)

Le ven. 14 oct. 2022 à 20:50, Manoj Saun ***@***.***> a
écrit :

[2022-10-15 15:51] matisnape commented on #8421
Hi, I'd like to revisit this issue as an M1 Pro user :) After some digging I've managed to update (although it's basically hacky update) the Dockerfile to work on my machine. I'll prepare a PR with troubleshooting section for Docker setup for M1 users :)

[2022-10-16 06:39] vsmay98 commented on #6531
Hello @filipefurtad0
Can I work on this issue?

[2022-10-16 06:49] vsmay98 commented on #8250
Hello @filipefurtad0 @drummer83
Can I work on this issue?

[2022-10-16 07:01] drummer83 commented on #8250
Sure @vsmay98! I have assigned it to you.
Maybe worth looking at the linked issues and their pull requests (if any).
Have fun! 😉

[2022-10-16 19:07] matisnape commented on #9720
hey @RachL or @sigmundpetersen  - started working on this - I've managed to setup the app and reproduce the error.
However, I have problems locating the JS code that is responsible for parsing this part [= "(#{raw(line_item.options_text)})"](https://github.com/matisnape/openfoodnetwork/blob/master/app/views/spree/shared/_line_item_name.html.haml#L6)
The linked possible solution from https://github

[2022-10-16 20:44] drummer83 opened #9793 "[Admin][Permissions] Relationships between enterprises not displayed correctly"
## Description

This is a follow up of #9768.
While testing #9768 systematically, more issues going beyond #9750 were identified. The examples used the following permissions:
![image](https://user-images.githubusercontent.com/1790176/196057371-71551abb-ea68-4c78-80d8-7436eaefd6d0.png)

The identified issues are:
**!1!** Producer shop should not be displayed as a place to buy producer profile's or

[2022-10-16 22:58] #9589 closed

[2022-10-16 23:06] mkllnk commented on #9777
I think this bug was introduce with 0cfe842bd6f664489074db9975db63db9cf38d45 in [v4.2.13](https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v4.2.13). So it's already deployed and doesn't block the release.

[2022-10-17 08:07] jibees commented on #6531
Hi @vsmay98 👋
Sure, I'll assign you.

[2022-10-17 09:37] RachL commented on #9793
@drummer83 I'm a bit confused by your screenshots. On the first we can see that A grant permission to B. So with this in mind. Case 1,2,3 are correct?

[2022-10-17 10:42] abdellani commented on #9678
I want to work on this, Please assign it to me.
It's a good opportunity to explore the code used to generate the report : )

[2022-10-17 10:43] sigmundpetersen commented on #9678
Nice, thank you @abdellani 🎉
I'll assign you and move the issue to the 'In Dev' column 👍

[2022-10-17 13:02] audez opened #9803 "Wrong admin interface for a producer"
## Description
In prod, shop 3902 has a different and wrong interface, with wrong translations, with products that don't have the name she set and other weird things..
She is on Google Chrome, we tried to empty her cache and reload, but it remains the same.

It's the same bug than the one I reported in #9700 , and her shop has been created by the same person (the owner of shop 890). He then set he

[2022-10-17 13:12] RachL commented on #9803
@audez as we can't reproduce it's very unlikely we will have a fix for it :( If you happen to have her online again, the version of her google chrome could be interesting.

This being said, I doubt that we will have the time / budget to issue a special fix for an old version of google chrome. So asking her to try a new browser could be the best short term option. It could also be that there is som

[2022-10-17 13:16] jibees commented on #9420
I've started to work on it, but I think I've a question.
On my local setup, I've two orders:
 - R481177037, CANCELLED
 - R853342257, COMPLETE

If I go on the complete one page: `admin/orders/R853342257/edit`, I can resend the confirmation email
<img width="334" alt="Capture d’écran 2022-10-17 à 15 12 04" src="https://user-images.githubusercontent.com/296452/196185933-7b629de5-6cbd-484d-a448-91d2

[2022-10-17 13:17] RachL commented on #9793
@drummer83

By definition, yes. But the display on the profile would still be cases 1,2. The problem here is not the display on the profile. It's just that when a producer sells "own" and gives permission to another shop to sell, we should switch its settings to "any".

The profile display is matching the permissions so these cases look correct to me.

Ok for case 3. But it's weird I can't reprodu

[2022-10-17 13:23] RachL commented on #9420
@jibees yes we are well aware of the problem. We spoke together about it in papercut meeting when analyzing the solution here : https://github.com/openfoodfoundation/wishlist/issues/261 but it took too much time to discuss it during papercut meeting. For now, let's keep same behavior, but it would be good to find other solutions for 261 soon.

[2022-10-17 13:25] RachL commented on #9803
@audez as super admin you can change her password. But you need to tell her the new one.

[2022-10-17 13:37] audez commented on #9803
ok thank you, i'll see with her if it's ok for her

[2022-10-17 13:56] drummer83 commented on #9793
@RachL I think we both agree that there is something wrong here: either the display or the setting of 'sells'.
Possible solutions to solve this are:
- A: The 'sells' setting overrules the permissions and the display is rendered according to the 'sells' setting.
- B: The permissions overrule/set the 'sells' setting and the display is rendered according to the permissions.

Both is fine for me - no

[2022-10-17 14:24] filipefurtad0 commented on #8998
#9526 is now merged, removing the unblocked label. The issue still occurs:

[Screencast from 17-10-2022 15:23:16.webm](https://user-images.githubusercontent.com/49817236/196202833-7501c76c-356d-4373-b36a-35b767d7657e.webm)

[2022-10-17 15:31] RachL commented on #9793
@drummer83 but just to be sure, it looks to me that this solution is already in place, right?

[2022-10-17 16:46] filipefurtad0 commented on #9757
When running both examples on this spec, I've noticed that despite wrapping it with accept_modal or dismiss_modal, we get several of these warnings anyway:

[code]

So, I've checked on staging, and the modal seems indeed to be triggered several times. I think this might be what is causing the spec to fail...

[2022-10-17 18:04] audez commented on #9803
ok mystery resolved: it's not a browser version or cache problem. The thing is:
- You open coopcircuits.fr and chose "EN" language
- Then you ask Chrome to "translate in French" (when the popup opens or with a right click - translate)
- And you end up with a poorly translated interface... which is exactly the screenshots the 2 producers sent...

[2022-10-17 18:04] #9803 closed

[2022-10-17 18:05] audez commented on #9700
same as #9803
it's not a browser version or cache problem. The thing is:

    You open coopcircuits.fr and chose "EN" language
    Then you ask Chrome to "translate in French" (when the popup opens or with a right click - translate)
    And you end up with a poorly translated interface... which is exactly the screenshots the 2 producers sent...

[2022-10-17 18:05] #9700 closed

[2022-10-17 19:20] drummer83 commented on #9793
Uhmm, not so sure. I didn't focus on this during testing. We definitely don't have the functionality that adding permissions actually sets the 'sells' setting, e.g. from producer shop to producer hub.

[2022-10-18 02:57] mkllnk commented on #9757
I got a success rate of 95% locally for `bulk_product_update_spec.rb:525`. Not easy to catch.

[2022-10-18 03:22] #9770 closed

[2022-10-18 03:25] mkllnk opened #9805 "[Flaky] spec/system/admin/order_cycles/simple_spec.rb"
### What we should change and why (this is tech debt)

[code]

Locally, I got a pass rate of 97%. So difficult to reproduce but it's definitely happening on CI from time to time.

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3265236711/jobs/5367132845

### Impact and timeline

[2022-10-18 08:15] RachL commented on #9793
No but it looks to me like permissions do override the setting and perhaps we should leave it this way, as it's easier for the user. So we could open another issue in order to switch the setting when more permissions are added?

[2022-10-18 08:22] RachL commented on #9700
ha nice catch @audez !

[2022-10-18 08:26] RachL commented on #9309
@jibees FYI I can't reproduce either. Are you still experiencing this?

@abdellani it might be tough, but if you are interesting in looking into [#660](https://github.com/openfoodfoundation/openfoodnetwork/issues/660), a lot of users are annoying by this oooold bug!

this comment can be helpfull: https://github.com/openfoodfoundation/openfoodnetwork/issues/660#issuecomment-137298238

[2022-10-18 08:32] abdellani commented on #9309
Ok @RachL , please assign it to me : )

[2022-10-18 08:40] abdellani commented on #9678
Hi
There is one test failing among  `(spec/system/admin/[a-o0-9]*)` in the pipeline.
When I run the tests locally, I got 0 failures.
![image](https://user-images.githubusercontent.com/16113997/196376627-8c342a05-63d7-4005-8eff-1eb234cdce1c.png)

[2022-10-18 08:56] filipefurtad0 commented on #9678
Hi @abdellani :wave:
Thanks for signalling that - this issue is [being addressed elsewhere](https://github.com/openfoodfoundation/openfoodnetwork/issues/9757), so you're safe to ignore it for now.
Please carry on with your PR :+1:

[2022-10-18 09:01] abdellani commented on #9678
thank you @filipefurtad0
I'm done with PR

[2022-10-18 09:07] jibees commented on #9309
It's maybe an edge case, not so relevant...

Actually, some images failed and those products I cannot clone them.

<img width="1039" alt="Capture d’écran 2022-10-18 à 10 40 10" src="https://user-images.githubusercontent.com/296452/196381024-7691be87-6ca6-4f1c-8369-49ccfb28557e.png">

<img width="806" alt="Capture d’écran 2022-10-18 à 10 39 43" src="https://user-images.githubusercontent.com/296

[2022-10-18 09:07] #9309 closed

[2022-10-18 09:09] filipefurtad0 opened #9809 "[Flaky] spec/system/admin/bulk_order_management_spec.rb:384"
### What we should change and why (this is tech debt)

Failures:

  1)
  As an Administrator
  I want to be able to manage orders in bulk
 using page controls using drop down seletors distributor filter displays all line items when 'All' is selected from distributor filter
     Failure/Error:
       page.find(:xpath, '//body')
         .find(:css, '.select2-drop-active .select2-result-label', text

[2022-10-18 09:11] filipefurtad0 opened #9810 "[Flaky] spec/system/admin/bulk_order_management_spec.rb:479"
### What we should change and why (this is tech debt)

  As an Administrator
  I want to be able to manage orders in bulk
 using page controls using drop down seletors combination of filters displays a 'Clear All' button which sets all select filters to 'All'
     Failure/Error:
       page.find(:xpath, '//body')
         .find(:css, '.select2-drop-active .select2-result-label', text: options[:sel

[2022-10-18 09:14] filipefurtad0 opened #9811 "[Flaky] spec/system/admin/bulk_order_management_spec.rb:460"
### What we should change and why (this is tech debt)

[code]

     # ./spec/support/request/web_helper.rb:114:in `select2_select'
     # ./spec/system/admin/bulk_order_management_spec.rb:466:in `block (5 levels) in <top (required)>'
     # ./spec/system/support/cuprite_setup.rb:41:in `block (2 levels) in <top (required)>'

### Context

### Impact and timeline

[2022-10-18 09:16] filipefurtad0 opened #9812 "[Flaky] BOM spec"

[2022-10-18 14:02] drummer83 commented on #9793
Yes, I will open that as a wishlist item and edit here that !1! and !2! will we covered in that one.

[2022-10-19 02:53] mkllnk opened #9817 "[Flaky] spec/system/admin/order_cycles/complex_creating_specific_time_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3277527342/jobs/5395659632

### Impact and timeline

On my local machine I have a pass rate of only 61%.

[2022-10-19 03:41] #9809 closed

[2022-10-19 06:23] abdellani commented on #660
Please assign it to me

[2022-10-19 07:25] sigmundpetersen commented on #660
Sure, thanks @abdellani !

[2022-10-19 08:26] RachL commented on #9082
@BethanOFN do you know if this is still a problem?

[2022-10-19 08:53] filipefurtad0 commented on #6011
Yes - looks fixed:

Attempting to updating a `*.txt` file
- keeps the old file
- and triggers the warning
![image](https://user-images.githubusercontent.com/49817236/196644151-023e2e4d-9a01-4670-a37d-c93244bcd67c.png)

Thanks!

[2022-10-19 09:04] filipefurtad0 opened #9818 "[Matomo] Goals/funnels broken after removing general tracking code"
## Description

Goals/funnels broken after removing general tracking code.

## Expected Behavior

Goals and funnels should work as before, after the removal of the general tracking code.

## Actual Behaviour

Goals/funnels broken after removing general tracking code.

## Steps to Reproduce

Prod or staging test
1. Set up a goal
2. Assure it is triggered -> currently failing
3. Change those setting

[2022-10-19 09:07] filipefurtad0 commented on #9818
An S2 according to our processes, but maybe best to keep this one out of the In Dev column as I doubt it will require any changes in our code base - it should be a configuration issue. I've assigned myself.

[2022-10-19 09:23] jibees opened #9819 "CI: Node.js 12 actions are deprecated ; update the following actions to use Node.js 16"
### What we should change and why (this is tech debt)
When running specs in our CI :
[code]

https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

### Context
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3280121563

[2022-10-19 09:38] RachL opened #9821 "Remove report_inverse_columns_logic feature toggle and fix some small display issues"
Following up https://github.com/openfoodfoundation/openfoodnetwork/pull/9706

## Description
**- As a:** admin or super admin
**- On page:** `/admin/reports`
**- I want to be able to see:**

1. Remove "reports for bulk co-op orders" description and "reports for payments" description

2. Remove links from the left hand-side: this means that Orders and distributors and enterprise fee summary should

[2022-10-19 09:39] RachL commented on #9821
@jibees is it ok to finish the work in one PR? Or should stuff like headers be handles separately?

[2022-10-19 09:42] RachL commented on #8906
@openfoodfoundation/core-devs this is now unblocked 🎉 can this become a papercut or good first issue?

[2022-10-19 09:46] RachL commented on #9818
@filipefurtad0 I don't know if usefull, or overkill, but perhaps we need a repo for analytics issues?

[2022-10-19 10:13] #8922 closed

[2022-10-19 10:13] #5134 closed

[2022-10-19 10:35] filipefurtad0 opened #9824 "[Flaky] rspec ./spec/system/admin/bulk_order_management_spec.rb:284"
### What we should change and why (this is tech debt)

[code]

This came up here
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3280616448/jobs/5401614278

### Impact and timeline

[2022-10-19 10:56] filipefurtad0 opened #9825 "[CI] Redis::CannotConnectError"
### What we should change and why (this is tech debt)

At times, our CI is failing spec runs with:

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3280121563/jobs/5400516312

### Impact and timeline

A consistent build.

[2022-10-19 12:18] RachL commented on #9781
@viniciusueharaweb yes sure :) just beware that product import code can be messy. So don't hesitate to jump or another one after or ask for help :)

[2022-10-19 15:59] drummer83 commented on #9821
We have separated issues in wishlist already: #292, #293, #294. But #293 has slightly different specifications than this one here.

[2022-10-19 16:15] RachL commented on #9821
@drummer83 yes i know :) i'm trying to get the shortest road to remove the toggle :)

[2022-10-19 16:18] filipefurtad0 commented on #9818
Hum, not sure we need a new repo :shrug:

Between a new Analytics column on our main repo or a shiny new one: which one do you think it would make more sense?

Having a new repo for Analytics that could allow to combine it the occasional need to make specific metabase/DB queries. So, for example, when anyone needs a query we could open issues in this repo, and have the SQL queries addressing it.

[2022-10-19 17:58] filipefurtad0 commented on #9818
Ok, as far as I could gather from my last interaction with customer support (transcribing):

Ok, so, having:

1. created a general trigger (optional part left empty):

![image](https://user-images.githubusercontent.com/49817236/196766722-51416d2b-bb40-4e3e-bed9-29d0e2660093.png)

2. And creating an tag for this trigger:

![image](https://user-images.githubusercontent.com/49817236/196768377-a294450

[2022-10-20 07:42] jibees commented on #8906
I don't see this one as a `good first issue`, for sure.
About `papercut`, I'm sceptic, since there are still many occurrences of `fee_type` in the codebase, but maybe I'm wrong.

[2022-10-20 07:52] RachL commented on #8906
ok then i will move this to the wislist repo / feature request.

[2022-10-20 07:54] jibees commented on #9821
All those 4 points are ok in the same PR.

[2022-10-20 07:54] #8907 closed

[2022-10-20 07:55] #9824 closed

[2022-10-20 08:38] #9703 closed

[2022-10-20 08:58] filipefurtad0 opened #9829 "[Flaky] /spec/system/admin/order_cycles/simple_spec.rb:704"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3287398380/jobs/5416529471

### Impact and timeline

[2022-10-20 10:22] sigmundpetersen commented on #9829
I think this is a duplicate of #9805.
Closing

[2022-10-20 10:22] #9829 closed

[2022-10-20 14:52] drummer83 opened #9833 "[Admin][Users] Snail (error 404) when generating/clearing API key after changing the option 'Show API key view for user'"
## Description

While testing #9828 an error 404 (page not found) was observed when clicking the buttons 'generate key', 'clear key' or 'regenerate key' under certain conditions. This only happens after changing the checkbox setting 'Show API key view for user' or after clicking the 'Update' button, because the URL changes from `/admin/USER_ID/edit` to `/admin/USER_ID` (without `/edit`). As long a

[2022-10-20 15:24] drummer83 opened #9834 "Product creation: Further improvements of errors and mandatory information"
## What is the need / problem?
This is a follow-up of #9776.

Each of the following issues can be solved individually. There may be easy ones and hard ones. :wink:

During product creation (page `/admin/products/new`) there are still some things that could be improved.
- [ ] If 'item' is selected as unit size and a value is entered in 'unit name', these values are not kept if product creation fail

[2022-10-20 15:29] #9726 closed

[2022-10-20 15:30] #9298 closed

[2022-10-20 15:59] drummer83 opened #10272 "Fee calculators: Remove the currency input field"
## Description
**- As a:** enterprise or super admin
**- On pages :** `/admin/enterprise_fees?enterprise_id=XXXX` for all calculators

`/admin/shipping_methods/new` + edition page

`/admin/payment_methods/new` + edition page

**- I want to be able to do:** not seeing the currency field anymore. By default, it should use the currency of the instance.

## Acceptance Criteria & Tests

1. Login
2. Cre

[2022-10-20 16:15] jibees opened #9835 "Release v4.2.18"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
~Should we wait for: https://github.com/openfoodfoundation/openfoodnetwork/pull/9772 ?~ ✔️
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release comm

[2022-10-20 16:18] drummer83 opened #9836 "Shipping methods fees: improve validation of input"
## Description

These are little leftovers from #9756.

On pages `/admin/shipping_methods/new` and `/admin/shipping_methods/_ID_/edit` there is still room for improvement.

- For fee calculator 'Flexible rate' the 'max items' value is not validated as other fields, but it is set to '0' for invalid input while for 'Price sack' the amount values are validated as other fields and the error message is

[2022-10-20 16:47] filipefurtad0 commented on #9829
Thanks - I've missed that one :pray:

[2022-10-21 07:52] abdellani commented on #9292
I failed to reproduce the problem

https://user-images.githubusercontent.com/16113997/197142907-1923f660-0b58-4262-9ab7-a89b364731b4.mp4

[2022-10-21 08:34] abdellani commented on #9494
Hi

I was not able to reproduce the problem. The screenshot shows the third attempt to import your file.
![image](https://user-images.githubusercontent.com/16113997/197150771-c550aeff-bc8f-47e6-ab0e-b6aee06fe30e.png)

Also, I couldn't see any problem with the product table. Except for some values (693 converted to 693.0000000000001)

![image](https://user-images.githubusercontent.com/16113997/1971

[2022-10-21 08:37] RachL commented on #9494
thanks for your time on this @abdellani perhaps the underlining issue is fixed then. Let's close it and reopen if we manage to reproduce it.

[2022-10-21 09:03] audez commented on #9494
@abdellani thank you! I just tested and unfortunately the issue is still here 😢

To reproduce:
- Create two products from the admin interface (/admin/products), for instance:
701ml product, category "ALCOOL FORT", units: 701ml, TVA 20%
704ml product, category "ALCOOL FORT", units: 704ml, TVA 20%

- Then import a csv file to update these 2 products (
[test-weirdo4.csv](https://github.com/openfoodfo

[2022-10-21 10:04] RachL commented on #9494
@audez I don't think that should be the role of the product import? If I understand clearly the problem is at the product catalog level? Otherwise can you detail how the second 704ml product was saved with manual creation and then with product import?

[2022-10-21 10:32] filipefurtad0 commented on #9818
Alright - goals and funnels are back (on staging) :tada:

**Goals**

![image](https://user-images.githubusercontent.com/49817236/197174899-f851ddda-aa70-4606-ac01-bb4c7b002eb8.png)

**Funnels**

![image](https://user-images.githubusercontent.com/49817236/197174733-0ff5471c-166f-4fed-9f9a-3e394e9f6eb8.png)

So, as a **summary**, we need:
- a trigger and respective tag for general page visits
- a tr

[2022-10-21 10:41] audez commented on #9494
Maybe I formulate it poorly. This is what I wanted to say: there is a bug to be corrected: when you import products **only from 688 and 703ml** with a .csv file, the products unit are recorded with a bad formatting.
For instance you import a product, in the request it is "units":"701", but when you see the products in the product list, it displays 701.0000000000001. And in the db it is recorded as

[2022-10-21 10:46] audez commented on #9494
When I created the issue, the bug was both when creating from the dashboard or importing. But this summer after @jibees did some fix it was sorted out when creating from the dashboard, but remained when importing csv.

[2022-10-21 10:47] RachL commented on #9494
ah ok thanks for the additional info! @abdellani do you have enough info to move forward?

[2022-10-21 12:59] filipefurtad0 commented on #9835
Looks good to me @jibees .

No changes on testing notes other than the tested mobile model:
https://docs.google.com/document/d/1Dwa2ySJW3S6q-2QRGRWHdBjeb-lNpNrtjZ9g-gsPsBk/edit#

Good to go :rocket:

[2022-10-21 18:08] audez opened #9840 "[Admin] Payment amount not updated after adjusting order"
## Description
The payment amount owed by client is not updated after adjusting products. This is fine in the case of payments that have already been captured (=when the shop manager has clicked the "capture" icon in the orders list page). But this is problematic in the case of payments that have not been captured.

We have hubs that don't understand why the change is not impacted on the price amo

[2022-10-21 18:35] audez opened #9841 "[Admin][Orders] Creating a new payment makes the initial one "Invalid" and impossible to edit"
## Description
In Orders details, in the Payments tab, if you create a new payment, it makes the initial one "Payment status" switch to "Invalid" and you can't edit it anymore.

## Expected Behavior
You should be able to edit the first payment even after creating a new payment.
This is particularly bad as there is #9840 , where you have to add a payment to adjust to the full price, and this invali

[2022-10-22 11:22] audez opened #9842 "[Admin][Orders] Translation issues in fees section"
## Description
When entering an order details, there is a "Line Item Adjustments" section, displaying the fees on the products. There are translations issues in the wording.

## Actual Behaviour
When entering/editing an order (admin/orders/R780486670/edit), in the "Line Item Adjustments" section, if a fee is displayed, you will see: name of the product + name of the fee + "by" + distributor" + nam

[2022-10-22 12:21] abdellani commented on #9494
Yes @RachL .
You can assign it to me now : )

[2022-10-22 12:26] drummer83 commented on #9842
Search for `key:enterprise_fee_by_name` in the en_FR translation file in Transifex to fix this.

[2022-10-22 12:32] audez commented on #9842
Yea thank you! done. this en_FR is my great discovery of the day 🧞

[2022-10-23 10:56] audez opened #9843 "[Admin][Reports] Bulk co-op supplier report shows a total mixing all products"
## Description
In the "Bulk co-op supplier Report", there is a line "Total", but instead of adding the total sum of the same products, it adds the total sums of all products, which makes no sense.

## Expected Behavior
The "Total" line should be displayed for each product. For instance, if you have a product "almonds" and a product "peanuts", each of them should have a total line - and correspondi

[2022-10-23 11:12] audez opened #9844 "[Admin][Reports] Missing products in Bulk co-op Packing Sheets report"
## Description
Some bulk products that have been ordered are not displayed in the Bulk co-op Packing Sheets report.
And the "sum total" displayed is incorrect.

## Expected Behavior
There must be a line for each product, with the "sum total" for each product.

## Steps to Reproduce
1. Create 2 bulk products (products with the "group by option" set to yes)
2. Pass an order with these 2 products
3.

[2022-10-23 18:54] Jaxom99 opened #9845 "On checkout page, Checkbox Label is clickable but not active."
Hello,
I report here for lack of other channel, but I think it's a bug report for the french instance CoopCircuits.

## Description

On the checkout page, with my order filled, the last step to confirm order is "accept CGU". This step is a simple checkbox with a sentence as label : "accept the [link-to-CGU](CGU)".
The mouse cursor changes when you hover the label, so it looks like you can click on

[2022-10-23 19:09] RachL commented on #9840
I'm not sure we can do that. Payments are showing action from users, as in actual payments. So the software cannot pretend you intended to pay 9 euros when you agreed to 6.

Perhaps if one day we create a preorder form instead of an actual order this could be done. Anyway it needs a serious inception and cannot be done with a bug fix. Moving to wishlist :+1:

[2022-10-23 19:12] RachL commented on #9841
@audez FYI I've changed:

We shouldn't be able to edit a payment. That's illegal in case of an order. But I agree it's weird to consider the first payment invalid. It does not happen if you capture first, which is the workaround we need to tell users.

IMO the fix should be to warn the user they must capture first. Not capture by default.

[2022-10-23 19:19] audez commented on #9841
Yes by edit I mean: capture or void the payment, same way you do in reverse

[2022-10-23 19:32] audez commented on #9841
I dont understand but i think i dont understand/know how the payment currently works in case of adjustments

But if it's mandatory to capture/void the initial payment before creating a new payment i agree that we should warn the user and then not allow them to create a new payment (deactivate the button?)

[2022-10-24 02:45] mkllnk commented on #9825
I'm wondering if we need to start Redis on CI. Two solutions:

* https://stackoverflow.com/a/67631989/3377535
* https://docs.github.com/en/actions/using-containerized-services/creating-redis-service-containers

Not sure which one is quicker but avoiding the additional container sounds more performant.

[2022-10-24 03:57] mkllnk opened #9846 "[Flaky] spec/system/admin/reports/orders_and_fulfillment_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3309582615/jobs/5462910651

### Impact and timeline

Passed 99 out of 100 runs.

[2022-10-24 03:58] mkllnk commented on #8701
Came up again: https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3309143128/jobs/5462031614

[2022-10-24 04:26] #9819 closed

[2022-10-24 07:50] jibees commented on #9494
@abdellani done! and thanks! 🙏

[2022-10-24 07:57] #9846 closed

[2022-10-24 09:22] BethanOFN commented on #9818
@filipefurtad0 I just need to check tomorrow once stats update to ensure that each goal is working correctly - I've got all of them working bar one so far, will update once finished thank you 👍

[2022-10-24 10:47] audez opened #9859 "FR Prod performance issues"
## Description
FR prod experiences serious latency issues since this summer, as first stated in #9596
We raised the RAM but the issues are still here.
[See Slack discussion](https://openfoodnetwork.slack.com/archives/CN366FPS9/p1666038286445809)

## Expected Behavior

## Actual Behaviour
Several times a week the response time of the website is catastrophic. As a buyer, you would be stuck on loadin

[2022-10-24 10:50] RachL commented on #9859
@BethanOFN @lin-d-hop do you have info on problems in the UK? Can you add them in this issue? High changes we are suffering from our reports and timeouts at 4min. But best to dig more into it before reaching a conlusion.

[2022-10-24 11:01] RachL commented on #9841
Let's keep it, it's a shortcut in case you don't want to capture the first once, but cancel it (current default case).

[2022-10-24 11:16] abdellani commented on #9494
Here's what I found so far.
When I tried to create an invalid product with the unit_value = 700, the value was converted to 699.9999999999999 at the view level.
When I changed the unit from "mL" to "L", the unit value problem doesn't occur.

I think the problem is related to string-to-float conversion in javascript (when it tries to convert 0.7  in product.master.unit_value).

I'm not familiar wit

[2022-10-24 11:21] RachL commented on #9753
hello @AthiraKadampatta Just to be sure: are you working on this issue?

[2022-10-24 11:21] audez commented on #9841
OK so then if we do that we should warn them on click on "Create a new payment" that this will invalidate the initial payment, and don't display the "Void" icon on the initial invalidated payment

Also I think there is a real problem: it's not only for the first new payment that you create, it happens each time you will create a new payment. Creating a new payment will always invalidate the previo

[2022-10-24 11:26] RachL commented on #9841
yes, but this is logical.

Yes, theses cases exist in case of subscription. But do not fit the model of an ecommerce order. Currently our order model is not made for these cases, it's not a bug, it's something we need new feature for.

[2022-10-24 11:31] audez commented on #9753
I think it's the same problem but just to add this info:
When you're in Enterprise settings and you reload the page, whatever tab you were in, it brings you back on "Primary details".
And more boring: let's say you went in "Shipping methods" tab, you go in "Create a new shipping method", you click the previous arrow in your browser, and instead of being back to  "Shipping methods" tab you land on

[2022-10-24 11:43] abdellani commented on #9494
I found a  problem at the controller level: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/admin/products/controllers/units_controller.js.coffee#L39

When the controller initializes the visible `value` field in the form (`unit_value_with_description`), The code devises the unit_value by the unit_scale.

- the unit_value = 0.7 (I guess values in  mL are aut

[2022-10-24 12:08] audez commented on #9841
But then I don't understand this:
- There's an initial order of 10€
- The producer makes an adjustment and the order becomes 12€
- if creating a new payment always invalidate the previous one, why we don't automatically invalidate the 10€ payment intent, and create a new of 12€? Instead of asking the producer to do it manually..

I think it's very confusing for producers, because first we ask them

[2022-10-24 12:22] jibees commented on #9836
Hi @ashwini-seshadri 👋
Sure, I'll assign to you ;)

[2022-10-24 12:27] jibees commented on #9494
Hi @abdellani 👋
Thanks a lot for spotting this one!

Yes, we're facing this kind of issues and seems to using `js-big-decimal` is probably the good way to go.
You can see an example here: https://github.com/openfoodfoundation/openfoodnetwork/pull/9497

Feel free to open a PR, thanks a lot for that!

[2022-10-24 13:03] RachL commented on #9841
Because there are several use cases at play. Perhaps the edition or the order was made _after_ the first real life payment. And the producer just forgot to capture it at that time. We don't know that.

Again logical from a system point of vue. The system can only capture a payment that exist.

All we can do here is add messages, we cannot force a default behavior.

[2022-10-24 13:21] BethanOFN commented on #9818
@filipefurtad0 Bingo all working, thank you!

[2022-10-24 13:45] filipefurtad0 commented on #9818
Very happy to hear!
Thank you so much for your feedback @BethanOFN :pray:

[2022-10-24 19:49] #8250 closed

[2022-10-24 19:58] tschumilas commented on #9841
I think we need to have the concept of a payment intent.   Right now -  everything is just a 'payment' -   whether it is automated or cash.   But when a consumer selects a cash (non-automated) payment method at checkout,   they are making a payment intent -  not a payment.   A cash method payment intent is a payment once the cash is received.   And I concur it looks very bad that 'invalid' always

[2022-10-24 20:03] drummer83 opened #9860 "[Admin][Enterprise Fees] Improve validation of input"
## Description

These are little leftovers from #9791 and exactly the same as #9836 for shipping methods. Maybe the code can be referenced instead of copying it?

On page `/admin/enterprise_fees` there is still room for improvement.

- For fee calculator 'Flexible rate' the 'max items' value is not validated as other fields, but it is set to '0' for invalid input while for 'Price sack' the amount

[2022-10-24 20:39] drummer83 opened #9861 "Payment methods fees: improve validation of input"
## Description

These are little leftovers from #8204, very similar to #9836.

On pages `/admin/payment_methods/new` and `/admin/payment_methods/_ID_/edit` there is still room for improvement.

- After clicking 'update' or 'create' invalid input field(s) should be highlighted (red border of input field) and all other updated information should be kept (including description, tags, display, ...). C

[2022-10-24 20:40] drummer83 commented on #7841
### Update
Payment methods have been fixed in #8204, weight calculator has been removed for payment methods at some point!? --> Was this intentional? I can't find a discussion around this, @RachL? Leftover to be addressed in #9861.
Shipping methods are covered in #8249 and have been addressed in #8312 and #9756. Leftovers to be addressed in #9836.
Enterprise fees are covered in #8250 and have been

[2022-10-24 21:17] #9559 closed

[2022-10-24 22:23] #9821 closed

[2022-10-25 00:11] #9825 closed

[2022-10-25 03:26] mkllnk opened #9863 "Corrupt image files are accepted and raise errors later"
## Description

A user can upload files which are named like example.jpg but are not valid images. A [new version of active_storage_validations](https://github.com/openfoodfoundation/openfoodnetwork/pull/9849) can now check this, too.

## Expected Behavior

Uploading a non-image file as image should display an error straight away.

## Actual Behaviour

The upload succeeds but the image can't be di

[2022-10-25 07:35] zafar-hussain commented on #9863
hi @mkllnk,

Please assign this issue to me,

cheers

[2022-10-25 07:48] audez commented on #9841
thanks for the input @tschumilas and I think it rings with the discussion in the other issue https://github.com/openfoodfoundation/wishlist/issues/311#issuecomment-1288794509

[2022-10-25 08:16] zafar-hussain commented on #9863
hi @sigmundpetersen,

Thanks for assigning this issue to me.

Please, if you can have a look at my PR and advice.

If all is well,  can you please add "hacktoberfest-accepted label"

cheers

[2022-10-25 08:28] sigmundpetersen commented on #9863
Hi @zafar-hussain
The PR will be reviewed by one of our devs 👍

Since the issue has the hacktoberfest label and the repo has the hacktoberfest tag, I think the PR will be counted towards hacktoberfest once approved and merged.
Maybe @RachL has some further insights into this process.

BR

[2022-10-25 08:34] #9678 closed

[2022-10-25 09:52] #6531 closed

[2022-10-25 09:53] jibees commented on #9861
Hi @Lz-01
And welcome on board! 🤗
I'll assign this to you ;)

[2022-10-25 10:38] RachL commented on #9863
Yes that's it :+1:

[2022-10-25 10:42] audez opened #9868 "[Product Import] Empty variant names recorded differently leads to variant duplication"
## Description
When importing a file, some variants are duplicated instead of updated: it's the ones whose variant names have been deleted. As they have a `display_name=""` instead of `null`, they are considered new variants.

## Expected Behavior
Variants should be updated and not duplicated if the same variant already exists.

## Actual Behaviour
Some variants are duplicated instead.

In OFN, ea

[2022-10-25 10:53] abdellani commented on #9494
@jibees
What should be the precision of the results? 2 digits as in this [example](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/admin/products/controllers/variant_units_controller.js.coffee#L29)?

[2022-10-25 12:05] audez opened #9870 "[Product import] Incorrect error message when different variant unit names"
## Description
When importing a .csv with products with 2 variants, and putting 2 different variant_unit_name, the error message is incorrect and misleading.

## Expected Behavior
The error should be "Variants units of the same product must be the same. Please correct the variant_unit_name field."

## Actual Behaviour
The error is: " -  Variant_unit_name cannot be updated on existing products via

[2022-10-25 12:08] audez commented on #9870
it's not that actually

[2022-10-25 12:39] filipefurtad0 opened #9871 "[retry-spec] Flaky specs tagged with the "retry" option"
### What we should change and why (this is tech debt)

An epic grouping flaky specs tagged with the "retry" option.

### Context

This came up [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/9831#pullrequestreview-1154699889).

### Impact and timeline

No more flaky specs.

[2022-10-25 13:14] #9835 closed

[2022-10-25 13:29] drummer83 opened #9873 "Multi-distributor order cycle: Available shipping/payment methods don't respect OC settings (step 4 - checkout options)"
## Description

While testing #9755 it was observed that for **multiple-distributor** order cycles, the checkout options regarding payment and shipping methods are not applied correctly. Instead of displaying only the selected payment/shipping methods for the different distributors, all activated methods are displayed to the customers.
Example:
- Distributor A offers payment method A and shipping

[2022-10-25 13:47] drummer83 opened #9874 "Order cycle creation: Needless warning and lost data when leaving and saving"
## Description

During complex order cycle creation there are warnings when leaving the page without saving the data. However this isn't applied on all steps and sometimes the warning is shown even when no data was changed. Also the 'save' buttons should only be active when data was changed and needs to be saved.

- Leaving step 3 of complex order cycle asks to confirm to leave the page even when

[2022-10-25 13:49] audez commented on #9870
Yes it's just to link them as they're similar, so the person doing one can do the other if they want to

[2022-10-25 14:00] audez opened #10612 "[Product import] Remove spaces at the beginning and end of cell content"
## Description
**- As a:** enterprise or super admin
**- On page:** `/admin/product_import`
**- I want to be able to do:** when copy/pasting categories or other content, it's frequent that users end up with a space at the end or beginning of cell content. This is preventing the import to work.

We need to remove these spaces.

## Acceptance Criteria & Tests

1. Try to import a file with spaces at

[2022-10-25 15:38] RachL commented on #9873
I'm not sure this can be treated as an s2 as it is not clearly an acceptance criteria of https://github.com/openfoodfoundation/openfoodnetwork/issues/8971

ping @lin-d-hop what do you think?

[2022-10-25 15:49] lin-d-hop commented on #9873
It should be an edge case in how OFN is actually used.
Theoretically I would say this is an s2. It is allowing the shopper to checkout using shipping methods that do not exist for them.

It seems this is about how the payment methods are made available at checkout. The list from the OC is overridding the list from the selling enterprise. Instead this should be the overlap between the OC and the en

[2022-10-25 17:38] krishnasingh001 commented on #9874
Hello @drummer83  I would like to work on this one. Could you please assign it to me?

[2022-10-25 20:02] drummer83 commented on #9874
Sure, @krishnasingh001! And welcome!
I will assign it to you!

[2022-10-25 20:03] drummer83 commented on #9874
Sure, @krishnasingh001! And welcome!
I will assign it to you!

[2022-10-26 03:00] #8701 closed

[2022-10-26 05:32] abdellani commented on #9873
Hi
I want to work on this issue if no one else is already working on it.

[2022-10-26 06:36] jibees commented on #9873
Hi @abdellani !
You're on 🔥 ! I'll assign it to you ;)
Thanks 🙏 !

[2022-10-26 06:56] kirstenalarsen commented on #9616
My feeling is probably that it doesn't need to be that complicated - perhaps any coordinator, distributor or supplier in the OC can subscribe? and it's the same information for all of them?

But then I wonder why only them . . this is information that we will likely want to use on other sites like discovery sites . . so perhaps we do
- Step 1: available with API for any enterprise in the order cyc

[2022-10-26 06:57] lin-d-hop commented on #9616
Re @drummer83's questions - as this is API v1 I would like this to be visible for all shopfronts. The API is pubic and having this visible in the UI to everyone will enable people to understand they can use the API.

In the case that the 'API view' is not activated for the user, can we display a message 'Please contact your instance manager to enable API access.'

Ping @kirstenalarsen @RachL are y

[2022-10-26 10:11] kirstenalarsen commented on #9616
Hey @lin-d-hop - updates above look all good except that i think we agreed that the webhook would be for all enterprises that the User manages and would trigger when those enterprises were either Coordinator or Distributor on the order cycle

But we are not including when User is manager of enterprises that are Suppliers on the Order Cycle

We also discussed including the Supplier Enterprise IDs i

[2022-10-26 10:25] lin-d-hop commented on #9616
I thought that's what I wrote.... will reword to clarify.

Re supplier ids - I saw this as a potential additional issue. Another solution would be an OC endpoint that could be called after the webhook with full OC details. Might be preferable.

[2022-10-26 13:02] filipefurtad0 opened #9882 "Dependabot PRs run both on the push and pull request triggers"
### What we should change and why (this is tech debt)

Dependabot is running twice the jobs on our build, currently:

![image](https://user-images.githubusercontent.com/49817236/198032407-158dcc60-cfad-4fa4-b625-57db11ef610a.png)
https://github.com/openfoodfoundation/openfoodnetwork/pull/9850

### Context

This came up on this Slack thread:
https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p166

[2022-10-26 13:19] filipefurtad0 opened #9884 "[Flaky] ./spec/system/consumer/split_checkout_spec.rb:834"
### What we should change and why (this is tech debt)

[code]
     [Screenshot Image]: /home/runner/work/openfoodnetwork/openfoodnetwork/tmp/capybara/screenshots/failures_r_spec_example_groups_as_a_consumer_i_want_to_checkout_my_order_as_a_logged_in_user_summary_step_terms_and_conditions_when_the_platform_s_terms_of_service_have_to_be_accepted_shows_the_terms_which_nee_562.png

     # ./spec/syste

[2022-10-26 13:51] filipefurtad0 opened #9885 "[Flaky] ./spec/system/consumer/shopping/embedded_groups_spec.rb:58"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3329237810/jobs/5506204179

### Impact and timeline

[2022-10-26 18:53] #8975 closed

[2022-10-26 18:54] #8971 closed

[2022-10-26 23:51] mkllnk opened #9888 "Release v4.2.19"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-10-27 02:51] ijdershem commented on #9845
@RachL Happy to take a look at this one in the next few days!

[2022-10-27 07:03] sigmundpetersen commented on #9845
Great, thank you @ijdershem 🎉
And welcome to OFN!

[2022-10-27 08:19] jibees opened #9890 "[Flaky] spec/system/admin/bulk_order_management_spec.rb:396"
## Description
[code]

## Context
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3334763029/jobs/5519530818

[2022-10-27 09:16] filipefurtad0 commented on #9882
See https://github.com/openfoodfoundation/openfoodnetwork/pull/9891#issuecomment-1293223432 :exploding_head:

[2022-10-27 10:24] #9882 closed

[2022-10-27 10:34] sigmundpetersen opened #9894 "[Flaky] /spec/system/admin/bulk_product_update_spec.rb:320"
[code]

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3333332958/jobs/5515151349

[2022-10-27 11:43] sigmundpetersen commented on #9720
@jibees are you able to help @matisnape with the above question?

[2022-10-27 12:32] #9777 closed

[2022-10-27 12:45] jibees commented on #9720
Hi @matisnape 👋
Sorry for the delay.
As far as I understood,
[code]
is parsed via ruby, and the variable comes from ruby/haml file ; not related in any way with JS.

[2022-10-27 14:53] abdellani commented on #9873
Hi @drummer83

a. I was not able to reproduce the problem.
b. I create hub-1 (a producer) and hub-2 (non-producer).
c. I defined the payment methods:
1. cash (hub-1), paypal (hub-1) on hub-1
2. cash (hub-2), paypal (hub-2) on hub-2

d. I defined the shipment methods:
1. PICKUP (hub-1), DELIVERY (hub-1) on hub-1
2. PICKUP (hub-2), DELIVERY (hub-2) on hub-2

e. In the OC configuration:

- In step 2,

[2022-10-27 20:43] filipefurtad0 commented on #9812
A new occurrence from #9890, but currently being addressed:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3339898612/jobs/5529396883

-> https://github.com/openfoodfoundation/openfoodnetwork/pull/9896
[code]

[2022-10-27 20:44] filipefurtad0 opened #9899 "[Flaky] ./spec/system/admin/bulk_order_management_spec.rb:495"
### What we should change and why (this is tech debt)

[code]

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3339898612/jobs/5529396883

### Impact and timeline

[2022-10-27 23:25] drummer83 commented on #9873
Hi @abdellani,
I think your step b) and c) need to be adjusted. The payment method 1 must be activated for BOTH hubs (hub 1 and hub 2) and the payment method 2 must be activated for BOTH hubs (hub 1 and hub 2) as well. Same for shipping methods. You can set this when editing the payment/shipping method:
![image](https://user-images.githubusercontent.com/1790176/198415743-a9d75780-f5a3-4231-a685-06

[2022-10-28 06:47] jibees commented on #9899
Should be almost the same than: https://github.com/openfoodfoundation/openfoodnetwork/issues/9890

[2022-10-28 08:13] sigmundpetersen opened #9902 "[Flaky] /spec/system/admin/shipping_methods_spec.rb:106"
[code]

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3343720036/jobs/5537234447

[2022-10-28 08:45] #9894 closed

[2022-10-28 09:44] sigmundpetersen commented on #9805
I'm sorry but this failed again on the merge build https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3344082795/jobs/5538023567

[2022-10-28 09:49] filipefurtad0 commented on #9805
Hahah - I spoke too early https://github.com/openfoodfoundation/openfoodnetwork/pull/9897#issuecomment-1294782679
:sweat_smile:

[2022-10-28 09:53] filipefurtad0 commented on #9805
The bar is never really visible, when running on headless mode. Not even maximizing the screen. So I wonder if we should run such cases in larger screen size, by changing the config `window_size: [1200, 800]` on `cuprite_setup.rb`. I'll give it a try.

[2022-10-28 10:51] #660 closed

[2022-10-28 11:52] #9679 closed

[2022-10-28 12:28] #9845 closed

[2022-10-28 13:24] abdellani commented on #9873
Hi @drummer83
I see the mistake that I made in my test.
Now, I'm trying to enable the two different payment methods on the two hubs.
When I access the payment methods on one of them, I can't see the other.
![image](https://user-images.githubusercontent.com/16113997/198597206-5810d6e8-3a94-4e08-98d9-c6b3155fe1b8.png)

I thought that it was a problem with permissions. I granted all the permissions i

[2022-10-28 14:10] audez commented on #9859
I'm making this a s1 following an email from one of our users today, indicating that due to latency on the website, checkout is impossible or some orders are taken into account only partially in checkout 😬

The user says: "I write to you because I have noticed as well as my customers a bug of
slowdown when placing orders in our stores. The website is charging for a very long time when ordering and

[2022-10-28 14:14] audez commented on #9859
Some discussions on this issue on #performance Slack channel
https://openfoodnetwork.slack.com/archives/CN366FPS9/p1666038286445809

[2022-10-28 16:44] filipefurtad0 opened #9905 "[rspec-retry] spec/system/admin/bulk_order_management_spec.rb"
### What we should change and why (this is tech debt)

There are several flaky examples on this spec. These are listed in this issue - line numbers may change:

~~- 476:        it "allows filters to be used in combination", retry: 2 do~~
~~- 495:        it "displays a 'Clear All' button which sets all select filters to 'All'", retry: 2 do~~

440:         it "displays all line items when 'All' is s

[2022-10-28 17:20] drummer83 commented on #9873
@abdellani It should be possible when both hubs are created within the same user login. That's the way I did it. There may be other ways though.

[2022-10-29 07:32] binarygit opened #9908 "[Admin, Enterprise Edit] Remove hotfix for text angular directives"
### What we should change and why (this is tech debt)

https://github.com/openfoodfoundation/openfoodnetwork/pull/9807 introduces a stimulusJs implementation of `dirtyForm` plugin but it's not compatible with the `text-angular` directives inside the `about` and `shop preferences` tab. To get around this, there's a temporary solution that has been implemented in https://github.com/openfoodfoundatio

[2022-10-29 07:41] binarygit opened #9909 "[Admin, Enterprise Edit] Remove hotfix for tag rules tab"
### What we should change and why (this is tech debt)

https://github.com/openfoodfoundation/openfoodnetwork/pull/9807 introduces a stimulusJs implementation of dirtyForm plugin but it's not compatible with the tag rules tab.
Inside, `tag rules` tab, new `inputs` are generated when user tries to add a new tag. The correct behaviour should be that the `update` button in the form gets `enabled` when

[2022-10-29 07:45] binarygit opened #9910 "[Admin, Enterprise Edit] Remove hotfix for properties tab"
### What we should change and why (this is tech debt)

https://github.com/openfoodfoundation/openfoodnetwork/pull/9807 introduces a stimulusJs implementation of dirtyForm plugin but it's not compatible with the `properties` tab.

Hotfix commit:  https://github.com/openfoodfoundation/openfoodnetwork/pull/9807/commits/7c985d02da9bc17efca79a4af60c6e6da74c965e

### Context

Introduced by https://githu

[2022-10-29 18:41] basilawwad commented on #9128
Hi,

I would like to work on this issue, I have done a few tests and it seems that the cancel button is already showing the modal when clicked. The implementation is needed for selecting 'cancel order' from the actions drop-down only unless I am missing another cancel button :)

[2022-10-29 21:25] sigmundpetersen commented on #9128
Yes, sure @basilawwad ! Thanks a lot 🎉
Don't hesitate to shout if you have any questions 👍

[2022-10-31 01:15] mkllnk opened #9913 "[Flaky] spec/system/consumer/authentication_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3357747840/jobs/5563811492

### Impact and timeline

[2022-10-31 08:19] RachL commented on #9888
Everything looks good to me! Ready to go :)

https://docs.google.com/document/d/18LtX6sQL6e4LVKK_nPFZXflddUGPg1BqgcXZyNFLVAQ/edit#

[2022-10-31 08:47] sigmundpetersen commented on #9805
Still failing https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3357761424/jobs/5563838680

[2022-11-01 15:15] lin-d-hop commented on #9859
@mkllnk and I had a chat about this this morning. Here are some notes:

Confident that the issue in at the DB level - so tweaking here is the next port of call.
Experiment with timeout on DB - which we'll match to nginx however DB queries are much faster so this is probably not the end solution.

There are a number of queries that are taking a long time:
- Delete queries on line-items. There isn't

[2022-11-01 23:43] mkllnk commented on #9859
Canada was down this morning and I found that it ran out of memory. Both puma workers used most of the memory and the server was busy swapping, still responding but very slow.

[2022-11-02 01:59] #9888 closed

[2022-11-02 15:08] filipefurtad0 commented on #9818
This seems not to be working yet for FR-prod. Re-opening.

[2022-11-02 15:36] filipefurtad0 commented on #9818
Hum, so this does work in FR prod, but only for browsers explicitly allowing tracking - below Chrome, with the Tag set in debug mode:

![image](https://user-images.githubusercontent.com/49817236/199533075-4c828a66-ae8f-471a-a697-e73340524609.png)

[2022-11-02 15:48] filipefurtad0 commented on #9818
I believe this is happening because FR-prod requires tracking consent, but has cookies disabled on the respective variable named `Matomo Configuration (OFN FR)`, - below, left:

![image](https://user-images.githubusercontent.com/49817236/199536109-db7243cb-9c9c-4646-8321-ee6aa2f607aa.png)

[2022-11-02 17:49] RachL commented on #9818
Hmmmm the guidelines I've followed in https://github.com/openfoodfoundation/wishlist/issues/1 don't mention this, but I guess it makes sense!
Good catch:)

[2022-11-03 05:54] dacook opened #9928 "Release v"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Ready.
- [ ] Notify testers.
- [ ] Test

[2022-11-03 08:28] abdellani commented on #9873
Hi

![ofn-Page-3 drawio](https://user-images.githubusercontent.com/16113997/199668786-870d591b-5281-42d0-a9bf-96295247ccef.png)

The problem is in the helper `available_payment_methods` which uses `OrderAvailablePaymentMethods`
Instead of going from `Order` to `payment mehods`, through `Order_Cycle`, `Distributor payment methods`. It's loading [all the available payment methods on a distributor](h

[2022-11-03 09:20] abdellani commented on #9494
Hi
It seems that floating number precision problem is not only in the product creation form, it's also in the import function:
![image](https://user-images.githubusercontent.com/16113997/199682418-d561854d-29d7-4c9a-b656-acefec35ef0c.png)

I imported [test-weirdo4.csv](https://github.com/openfoodfoundation/openfoodnetwork/files/9926876/test-weirdo4.csv)

![image](https://user-images.githubusercont

[2022-11-03 11:51] filipefurtad0 commented on #9818
We need to pin that post somewhere :-) https://github.com/openfoodfoundation/wishlist/issues/1 - I was looking for it before but could not find it.

Anyway, I think we're back on track:
![image](https://user-images.githubusercontent.com/49817236/199713191-b8e9b240-864b-4f29-a182-ed67b2f22656.png)

Closing.

[2022-11-03 11:51] #9818 closed

[2022-11-03 13:45] #9810 closed

[2022-11-03 13:46] #9805 closed

[2022-11-03 14:58] RachL commented on #9753
As no one is working on this I'm moving this to wishlist to review it during next papercut meeting.

[2022-11-03 15:00] RachL commented on #9733
hello @binarygit are you still working / planning to work on this one?

[2022-11-03 15:01] RachL commented on #9500
hello @toshitapandey ! Are you still working / planning to work on this one?

[2022-11-03 15:03] RachL commented on #9722
Hello @Yh010 I'm unassigning you for now, but feel free to comment back here if you are still planning to work on this. Hope everything is well for you!

[2022-11-03 15:20] binarygit commented on #9733
yes I'm working on it. Just haven't been able to figure out the offending code, which is why it's taking me sometime. Also got distracted by the angular work. Will try to close soon.

[2022-11-03 21:12] David-OFN-CA commented on #9859
Hi @mkllnk just following on your request that we document more fully which reports I was running when we started run into performance issues:

Back on Tuesday Nov 1st, at around 3pm Eastern time, I ran a few large reports in order to try get some year-on-year sales data.

I ran a couple of the new 'Revenues by Hub' reports in super-admin, for 2021 and 2022 (Jan 01 - Nov 01). These two reports see

[2022-11-04 09:34] cillian commented on #9873
Hi @abdellani

I think the problem is [here](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/order_cycle.rb#L287-L291). This code was originally added to fix the scenario where...

* an order cycle has multiple distributors
* and one distributor (say with id `#1`) **is not** using the default payment methods on the order cycle i.e. they have specifically selected to sh

[2022-11-04 12:55] filipefurtad0 commented on #7583
The current deprecation warning:

[code]

[2022-11-04 13:04] filipefurtad0 opened #9938 "Spec order failure"
### What we should change and why (this is tech debt)

Documenting here as this is easily reproducible (at least in my) local system:

Running:

`bundle exec rspec --default-path spec "spec/system/admin/bulk_order_cancellation_spec.rb" "spec/system/admin/configuration/taxonomies_spec.rb" "spec/system/admin/enterprises/images_spec.rb" "spec/system/admin/payments_stripe_spec.rb" "spec/system/admin/s

[2022-11-04 13:32] filipefurtad0 commented on #9938
This narrows it down further:
`
bundle exec rspec --default-path spec "spec/system/admin/payments_stripe_spec.rb" "spec/system/consumer/account/developer_settings_spec.rb"
`

I guess we should be leaking the setup from stripe_spec into the next one.

[2022-11-04 14:22] jibees commented on #9938
Super strange that:
 - this spec fails --> will make a PR (if I manage to solve it :p)
 - Our build did no catch it!

[2022-11-04 14:38] jibees commented on #9938
Our build did not catch it, since the file is: `spec/system/flatpickr_spec.rb` and the regexp is
https://github.com/openfoodfoundation/openfoodnetwork/blob/9ef07cb110129dd9e5c64696c6eb495bf0bcb6b8/.github/workflows/build.yml#L43-L46

which did not catch everything that is in the folder `/system/` (but it's the only one).

We can either move the `flatpickr_spec` file nor change the build workflow.

[2022-11-04 23:06] basilawwad commented on #9128
Hi,

Since the cancel button already shows the modal when clicked. I thought the best way to do this would be to call the same function ofnCancelOrderAlert when the cancel link is clicked from the dropdown.

https://github.com/openfoodfoundation/openfoodnetwork/blob/9ef07cb110129dd9e5c64696c6eb495bf0bcb6b8/app/assets/javascripts/admin/spree/orders/variant_autocomplete.js.erb#L230-L251

I can see t

[2022-11-05 12:20] abdellani commented on #9873
Hi @cillian

Thank you for orienting me to that code.

![image](https://user-images.githubusercontent.com/16113997/200118548-80ba6882-4126-4f28-9563-1bc19163f6d2.png)

According to what I understand, if we have an order cycle with two distributors (D1 and D2), and:
- I select one payment method on D1
- I don't select any payment method on D2
=> `distributor_payment_methods` will return all the dis

[2022-11-06 19:47] ijdershem commented on #9834
@drummer83 Is this an issue I could jump on?

[2022-11-06 20:38] ijdershem commented on #9870
@audez Happy to take a look at this one if it's open!

[2022-11-06 21:42] drummer83 commented on #9834
Sure, @ijdershem!
You can tackle these step by step. No need to solve everything at once! 👍🏻

[2022-11-06 22:01] audez commented on #9629
just tested on split checkout and the bug is here too :/ I added screenshots :)

[2022-11-06 22:53] sigmundpetersen commented on #9870
Sure @ijdershem go ahead! Thanks 🎉

[2022-11-07 10:11] audez opened #9944 "[Admin][Reports] Columns names not translated in packing and Xero reports"
## Description
Since the new column selection feature ( #9830), columns names are not translated in admin language for **packing reports** and **Xero reports**.

## Expected Behavior
Column names should be displayed in the admin language.

## Actual Behaviour
Column names are not translated.
For instance, when you are on the French dashboard, if you open the packing report, you will see the column

[2022-11-07 10:47] jibees commented on #9944
@audez, do you confirm that for `/admin/reports/xero_invoices/summary` columns are not translated neither for the widget component:
<img width="516" alt="Capture d’écran 2022-11-07 à 11 44 45" src="https://user-images.githubusercontent.com/296452/200291536-eea173cc-bc70-4750-9036-231520f8e58f.png">

nor for the report itself:
<img width="1486" alt="Capture d’écran 2022-11-07 à 11 44 38" src="h

[2022-11-07 10:53] jibees commented on #9944
For the Xero columns, I can see a comment that specify that:
[code]

I'm not sure this was translated before I made the changes in https://github.com/openfoodfoundation/openfoodnetwork/pull/9830 ;)

[2022-11-07 11:34] audez commented on #9944
@jibees for Packing report: for the report itself, they are well translated when generating on screen, so the issue is only in the widget.
Indeed in the csv they aren't translated, as it was before.
![Screen Shot 2022-11-07 at 12 31 58](https://user-images.githubusercontent.com/28386648/200300413-3a0f23c4-a70f-4ce3-ad30-3c45ec369193.png)

OK for the Xero 👍

[2022-11-07 13:10] filipefurtad0 commented on #9938
Thanks for investigating this @jibees .

I think this one is an /admin spec, so I'd move it into `.spec/system/admin`

[2022-11-07 13:12] filipefurtad0 commented on #9938
I think we have other similar issues: I can't seem to make any spec on the `./spec/performance` spec pass, locally. I'm not sure this is running on our build, either.

[2022-11-07 13:14] jibees commented on #9938
In our build, we run specs that match:

[code]

which is not the case of anything in `/spec/performance` ...

[2022-11-07 13:17] filipefurtad0 commented on #9938
Yes, but we also have a second job - the test-the-rest, which should match the folder list below:

`run: bundle exec rake ofn:specs:run:excluding_folders["models,controllers,serializers,features,lib,migrations,system"]`

So, I'd expect `/performance` to run, right?

[2022-11-07 13:30] jibees commented on #9938
Ah yes, now I see.

Regarding
[code]
I agree with we should run `performance` stuff...

I'm also wondering if we should add `engines` and remove `features` in this `ofn:specs:run:excluding_folders` array

[2022-11-07 13:33] filipefurtad0 commented on #9938
I've opened a PR [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/9946). I have a question on syntax, maybe best to move the discussion to that issue :-)

[2022-11-07 15:24] filipefurtad0 opened #9947 "Performance specs failing"
### What we should change and why (this is tech debt)

Performance specs are currently failing in master branch.

### Context

This came up in the investigations to speed up the build, here #9895

### Impact and timeline

Our build should track performance.

[2022-11-08 09:09] jibees commented on #7583
Nice documentation also: https://bill.harding.blog/2021/07/22/rails-6-1-deprecation-warning-initialization-autoloaded-the-constants-what-to-do-about-it/

[2022-11-08 09:24] abdellani commented on #9494
Hi

The second part of the problem is in the [Unit Convert](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/product_import/unit_converter.rb#L64) used in the product imported.
[code]
Solution, use BigDecimal (`to_d`)
[code]

[2022-11-08 15:14] filipefurtad0 opened #9957 "[Flaky] ./spec/system/admin/configuration/taxonomies_spec.rb:50"
### What we should change and why (this is tech debt)

[code]

### Context

This came up here:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3420414609/jobs/5695206316

### Impact and timeline

[2022-11-08 16:30] brolinr commented on #9860
Can I work on this one

[2022-11-08 19:00] drummer83 commented on #9928
Hi @dacook,
Thanks for preparing the release. My tests don't show any regression. I was only wondering about #8952. But that's known for Split Background.
Testing notes can be found here: https://docs.google.com/document/d/10gTpHEKlhHS8vKy6AoPEp9yoXwm3L6qrtAr3Twgg9S8/edit?usp=sharing
This release is ready to go! :rocket:
Thanks again,
Konrad

[2022-11-08 22:19] mkllnk commented on #7853
Right, I just tested again and some of our recent gem updates must have resolved these. Now we can change the test config to raise exceptions on deprecation warnings and see if all specs pass. Only if they all pass, we can safely upgrade Rails.

[2022-11-08 22:20] audez opened #9959 "[Order Cycle] Linking a specific subscription schedule triggers a 500 error"
## Description
A hub manager has warned us that when she save changes on a specific OC (admin/order_cycles/15955/edit), she systematically gets the error "Failed to update order cycle ". The changes are saved though. It affects all the cloned OCs.

The issue is actually that this OC is linked to a subscription schedule that triggers a 500 error when linked to any OC. I wasnt able to reproduce yet

[2022-11-09 07:44] brolinr commented on #9860
I resolved the issue. Here is the pull request [https://github.com/openfoodfoundation/openfoodnetwork/pull/9960](url)

[2022-11-09 08:55] #9944 closed

[2022-11-09 09:43] RachL commented on #7853
So we can close this ? :)

[2022-11-09 10:02] kirstenalarsen opened #9962 "Get Producer and Product tax status in Order Cycle Supplier Totals Report"
## Description

**- As a:** Enterprise (Hub)
**- On page:** Reports: Order Cycle Supplier Totals
**- I want to be able to:** easily identify the correct tax that needs to be reported in payments to Producers.

In the OC Supplier Totals report I want to know if the Producer is registered for tax, and if the product is taxable. This information is contained in the Producer profile (in Aus 'Charges G

[2022-11-09 10:12] kirstenalarsen opened #9963 "Get Product and Product tax status in Order Cycles Supplier Totals report"
## Description
**- As a Enterprise (Hub)
**- On page: Reports: Order Cycle Supplier Totals
**- I want to be able to do:
easily identify the correct tax that needs to be reported in payments to Producers.

I am not concerned about fees, I just want to know if the Producer is registered for tax, and if the product is taxable. This information is contained in the Producer profile (in Aus 'Charges GST

[2022-11-09 10:38] RachL commented on #9963
Closing as duplicate of #9962

[2022-11-09 10:38] #9963 closed

[2022-11-09 10:50] abdellani commented on #9844
Hi
I'll work on this

[2022-11-09 10:50] abdellani commented on #9843
Hi
I'll work on this

[2022-11-09 10:57] abdellani commented on #9748
Can I have the CSV of the products that are part of the problem?

[2022-11-09 15:47] filipefurtad0 commented on #9905
`rspec ./spec/system/admin/bulk_order_management_spec.rb:440`

Also failed.

Came up here:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3428279085/jobs/5712345018

[2022-11-09 16:26] filipefurtad0 opened #9964 "[Xero reports] Bugnsag error: Missing target element "checkbox" for "csv-select" controller"
## Description

We're getting silent errors on bugsnag/console, since september 6th -> seems introduced by release https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v4.2.11

![image](https://user-images.githubusercontent.com/49817236/200883961-b07a2508-70a0-47a9-b183-c10bafe299fb.png)

https://app.bugsnag.com/yaycode/open-food-network-js-uk/errors/63170c556c7d0e0008851d24?event_id

[2022-11-09 17:15] filipefurtad0 commented on #9902
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3430085158/jobs/5716589526

[2022-11-09 18:42] #9757 closed

[2022-11-10 09:04] #9905 closed

[2022-11-10 09:05] #9902 closed

[2022-11-10 10:17] jibees commented on #9484
Confirmed that from what I tried, and what I saw, it's not a `papercut`.

[2022-11-10 13:11] jibees opened #9970 "Release v4.2.21"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify `@testers` in [#tes

[2022-11-10 13:30] filipefurtad0 opened #9971 "[Flaky] rspec ./spec/system/admin/order_spec.rb"
### What we should change and why (this is tech debt)

Failed examples:

rspec ./spec/system/admin/order_spec.rb:220 #
    As an administrator
    I want to create and edit orders
 can't add more items than are available
rspec ./spec/system/admin/order_spec.rb:150 #
    As an administrator
    I want to create and edit orders
 deleting item of an order when there a more than one items in the order

[2022-11-10 13:31] filipefurtad0 commented on #9971
When addressing this one we need to remove question marks from example descriptions - like `'Are you sure?'` - this prevents artifacts from being saved on Github Actions.

[2022-11-10 13:52] jibees opened #9972 "Remove question mark from capybara saved screenshots in order to save it through GHActions"
When addressing this one we need to remove question marks from example descriptions - like `'Are you sure?'` - this prevents artifacts from being saved on Github Actions.

_Originally posted by @filipefurtad0 in https://github.com/openfoodfoundation/openfoodnetwork/issues/9971#issuecomment-1310286760_

[2022-11-10 14:55] audez commented on #9748
Hi thanks @abdellani :)
I don't have the CSV for the products but i put all the info below if you want to create them. I tried to reproduce by doing 2 orders with the same products, but didn't get the bug on my side..

This is more info on this case:
- The supplier is a "Profile" (Enterprise ID: 3632) that supplies several hubs.
Info on the products:
"Abricots secs entiers "FAIR FOR LIFE" cal.1 vr

[2022-11-10 17:47] #9494 closed

[2022-11-10 18:06] drummer83 opened #9974 "Incorrect unit value for unit 'ml' in cart, order summary and order confirmation"
## Description

When shopping a product with a unit value of e.g. 701 ml or 704 ml, this gets rounded to 700 ml in the cart, in order summary and in order confirmation (on screen and in e-mail).

## Expected Behavior

The unit value in the cart, in order summary and in order confirmation (on screen and in e-mail) should remain 701 ml or 704 ml.

## Actual Behaviour

The unit value in the cart, in

[2022-11-10 19:07] drummer83 opened #9975 "[Split checkout] Transparent background of 'Complete Order' area on mobile"
## Description

On the last step of split checkout the background color of the 'complete order' area at the bottom of the page can have a transparent background. This leads to text overlapping and being impossible to read.

## Expected Behavior

Background color should be white on all devices and browsers.

## Actual Behaviour

On Firefox mobile the background color is transparent.

## Steps to Re

[2022-11-10 19:14] drummer83 opened #9976 "[Split Checkout] Cart and order summary don't fit to screen on mobile devices"
## Description

The layout of the order summary table on pages cart and order summary is too wide to fit the screen of mobile devices. Especially the very long names of applied enterprise fees could be a problem here.

## Expected Behavior

The layout should fit the screen without scrolling horizontally.

## Actual Behaviour

The layout doesn't fit the screen and the user needs to scroll horizonta

[2022-11-10 19:34] drummer83 opened #9977 "Inactive payment methods appear as 'back office only' during complex order cycle creation"
## Description

If a payment method is set to active = no in the admin area, then this payment method will have the addition '(back office only)' during complex order cycle creation even if the payment method is set to 'Both checkout and back office'.

## Expected Behavior

It is unclear to me what the expected behaviour would be:
A: Don't display this payment method at all.
B: Display a different

[2022-11-10 21:47] drummer83 opened #9978 "[Import] Some invalid input is not caught by import validation"
## Description

This is a follow up of #9911.

During import of products and variants some invalid input is not caught by validation. This should be improved to increase usability of the feature.

After import:
Table:
![image](https://user-images.githubusercontent.com/1790176/201206849-2d9e293b-5c95-477e-8c4c-03b2dc2b6cb9.png)
Messages:
![image](https://user-images.githubusercontent.com/1790176/20

[2022-11-10 21:48] #9781 closed

[2022-11-10 21:50] audez commented on #9781
😍

[2022-11-11 10:25] sigmundpetersen commented on #9890
Happened again https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3439891465

Guess we should bump retry from 2 -> 3

[2022-11-11 10:49] cillian commented on #9873
@abdellani sorry, you are correct, I misunderstood the bug

[code]

I think the above would fix this particular situation but it may cause problems in other cases because the `OrderCycle#selected_distributor_payment_methods` only works when someone chooses payment methods which are different from the default. The default is that _all_ payment methods for each distributor are available on order cyc

[2022-11-11 12:22] lin-d-hop opened #9981 "Reports Tweaks"
## Description

An epic to capture the set of small reports tweaks and improvements for bringing consistency across OFN reports.

More context linked from the #reports channel in Slack.

[2022-11-11 12:57] filipefurtad0 opened #9982 "[BO] Failed SCA payments after bank authorization refusal"
## Description

If the bank authorization step is refused, after the customer is prompted to authorize a payment, then any other Stripe payment using SCA cards  (x-3184 card) will fail, if these are coming from backoffice orders.

A payment is only possible with the x-4242 card (or other payment method).

## Expected Behavior

After a failed Stripe-SCA backoffice payment, a second attempt with a d

[2022-11-11 13:02] filipefurtad0 commented on #9970
Hey @jibees ,

Spotted a Stripe issue on Backoffice payments - I don't think this is a blocker:
https://github.com/openfoodfoundation/openfoodnetwork/issues/9982

https://docs.google.com/document/d/1r9lq5x6kNT5BpKuxjCLjaWoALHL0W7RXB2veVjI0qBw/edit#
Looks otherwise good to go :+1:

[2022-11-13 08:36] JulianPla opened #9984 ""Comment" cells left blank when exporting CSV from Orders and Fulfilments reports"
## Description

Since the updated reports, comments/delivery notes during checkout don´t make it into the csv file when exporting the "Orders and Fulfilments reports". When printing the report on the screen all comments appear as they should (image 1), but when exporting as csv the cells are blanked out.
So its just an issue with the csv export.

![image](https://user-images.githubusercontent.com/

[2022-11-13 19:25] audez commented on #9561
Yes i agree @drummer83 i don't think it's really solving the need neither, and clients are still confused even with 9682 and the new mail.. 😿

I like both options 1 & 2 - and the fact to manually choose the shipment state is a request we've had from users. Option 3 i'm not sure because for pickups generally when the order is "ready" that means it's "packed", and i'm afraid they still would go to t

[2022-11-14 01:06] ijdershem commented on #9870
@sigmundpetersen I'm hung up working on https://github.com/openfoodfoundation/openfoodnetwork/issues/9834 currently so if it would make sense to unassign this from me in case anyone else wants to swoop in feel free! Happy to keep it assigned as I hope to get to it once I'm unstuck on #9834

[2022-11-14 08:08] sigmundpetersen commented on #9870
Yes, don't worry 🙂 We can leave them both assigned to you, and you work on them at your pace.
There are a lot of open issues to choose from, so we don't need this one available to others right now 👍

Thanks for the update!

[2022-11-14 08:21] #9890 closed

[2022-11-14 10:28] lin-d-hop commented on #9981
Hi @abdellani :wave:
I'm pulling together a bunch of issues on reports into this epic. What do you think about starting in this area of the code? There's lots of simpler issues and some nice tricky ones (coming soon) that I think you might enjoy :)

[2022-11-14 12:45] lin-d-hop commented on #9989
Start date >= 00:00 End Date < 00:00

[2022-11-14 13:37] drummer83 commented on #9989
I'm not sure I understand @lin-d-hop ...

Let's assume I want a report for the whole last week (7th to 13th Nov).
1. On date/time picker: Select start date: Monday, 7th Nov '22
2. On date/time picker: Select start time: 00:00 (the new default)
3. On date/time picker: Select end date: Sunday, 13th Nov '22
4. On date/time picker: Select end time: 23:59 (my proposed new default)

Why is that? Because

[2022-11-14 13:40] drummer83 commented on #9989
Default times must be exact specified times. They can't be >= or < anything.

[2022-11-14 13:43] lin-d-hop commented on #9989
This is how you do it @drummer83. The date picker is to sets the boundaries and you specify how to handle them. Anyway it's not really a product question, this is something devs will just implement :)

[2022-11-14 13:46] lin-d-hop commented on #9989
We want:
Start Date >= orders to be returned < End Date.

Date times go to fractions of seconds so if you do 23:59 you miss everything between 23:59 and 00:00. Hence you handle it with >= && <

[2022-11-14 17:59] abdellani commented on #9981
Hi @lin-d-hop

Thank you for creating the epic. I'll work on them : )

[2022-11-14 18:21] Laurel16 commented on #8905
Hello!

Is this issue still relevant? I tried to reproduce it with a pop up blocker without success.
When I reduce the stock available of an item in my cart, I have an error message in a flash notice and text under the input.

<img width="1389" alt="Capture d’écran 2022-11-14 à 14 33 36" src="https://user-images.githubusercontent.com/16537140/201729385-18afc526-f846-479e-a33f-5c606f9b3e7b.png">

[2022-11-14 18:50] tschumilas commented on #8905
Its been a long time since I created this issue -  and I have not heard of it happening again.   I suggest we close it -  unless anyone else is still getting reports about this?

[2022-11-15 01:11] dacook commented on #9982
Hi @filipefurtad0, I'm still learning how things work, and wondering does anyone need to be notified of this (eg #instance-managers)?

[2022-11-15 01:42] #9970 closed

[2022-11-15 08:23] Laurel16 commented on #8905
Thanks @tschumilas for your answer.
Hello @RachL maybe this issue can be on file ?

[2022-11-15 08:58] abdellani commented on #9189
Hi

As the rendering options will persist after the logout, I was thinking about adding a new model to store the rendering options.
What do you think?
[code]

[2022-11-15 09:16] jibees commented on #9189
Yes, I think this should do the job. We want a tuple with `Report-Subreport`/`User`/`Rendering options`. I think it's good then.

[2022-11-15 09:33] abdellani commented on #9984
Hi

`Order Cycle Customer Totals` is the only report under `Orders & Fulfillment Reports` that includes the comments column. Please correct me if I'm wrong.

Also, I noticed many columns don't appear when I select the PDF format.

[2022-11-15 09:34] filipefurtad0 opened #9991 "Customer names and addresses leaking between checkout sessions"
## Description

Seems to affect legacy checkout only.

Since last release, customer names and addresses leaking between checkout sessions: a customer checkouts and finds other names and details.

This leads to orders placed with incorrect names and addresses.

## Expected Behavior

Customers should not find other customers details on the checkout screen.

## Actual Behaviour

Customers are find ot

[2022-11-15 09:39] jibees opened #9992 "Release v4.2.22"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Ready.
- [ ] Notify `@testers` in [#tes

[2022-11-15 09:53] lin-d-hop commented on #9984
I believe so, yes

Does this seem straight forward to fix to you? Any that are easy to fix we can do at the same.

[2022-11-15 10:06] #9992 closed

[2022-11-15 11:31] abdellani commented on #9984
@lin-d-hop
For the main problem, I found that the CSV report prints the `LineItem`s, while the shipping comment is stored in the `Order` model.
In the HTML version, we can see those comments because the summary row is checked, while this is not possible with CSVs.
One way to solve the problem is to copy the order comments to its line items, but this will create confusion because the `LineItem` als

[2022-11-15 11:34] abdellani commented on #9873
@cillian
Yes, I agree since no selected method means all methods.
I'll implement that :)

[2022-11-15 12:54] sigmundpetersen commented on #9991
I guess this needs to be taken into account if adding caching again.
What's the best process?
Remove bug label and update the description with reference to #9926?
Move to Dev Ready or All the things?

[2022-11-15 18:03] #9991 closed

[2022-11-15 18:32] filipefurtad0 commented on #9982
Hey @dacook,
Sure - please feel free to ask any time :+1: Also, do shout if you have any thoughts on how we could improve any of these processes.

Yeah, good point. I think the correct process would be to post this on #bugs channel. This one felt a little like an edge case, reason which I was not too loud about it. But still a good idea to post there. I've added it to a pre-existing epic too #8846

[2022-11-15 18:34] filipefurtad0 commented on #8846
I've spotted a recent issue on Stripe SCA payments on the backoffice recently, and it seems we had another one here - maybe good to group them. Should we re-open this or create a new epic?

[2022-11-16 01:15] dacook commented on #9859
I've manually added a script to restart the Puma workers, and scheduled it every day at 02:00 UTC on FR Prod.

A full puma restart would have been fine at this time, but I figured it was worth having the script ready just in case. It can be manually executed anytime.
[code]
Installed to run on ofn-admin crontab (because the openfoodnetwork crontab is used by the rails gem `whenever`).

[2022-11-16 09:07] #9938 closed

[2022-11-16 10:14] RachL opened #9998 "Changing back office main menu colors"
## Description

**- As a:** enterprise user or super admin
**- On page:** Main menu in the backend: **this work will need to be behind a feature toggle**
**- I want to be able to do:**

One the feature toggle is activated, I want to see a main menu in orange instead of blue (color `F27052` ):

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/e85e0cbd-f779-4f7f-8003-778427

[2022-11-16 10:45] abdellani commented on #9189
I noticed that when I access the report page for the first time after clicking a link from the reports list, the backend generates the report even if nothing is rendered. This will run unnecessary queries to the database, no?

This is question is maybe not related directly to the feature we want to develop here.

[2022-11-16 10:49] jibees commented on #9189
Yes, for sure. This is something we need to facing on. But not related to this issue here.
If you have any solution, ... feel free to open a new pull request!

[2022-11-16 11:07] RachL commented on #9834
Hello @ijdershem Just checking in: are you still working or planning to work on this? Don't hesitate to ask for help if you are stuck :)

[2022-11-16 11:08] RachL commented on #9834
Ah sorry I just saw your comment on https://github.com/openfoodfoundation/openfoodnetwork/issues/9870#issuecomment-1312910845

[2022-11-16 11:10] RachL commented on #9747
hello @krishnasingh001 just checking in: are still working or planning to work on this issue? Don't hesitate if you need help :)

[2022-11-16 11:11] RachL commented on #9861
Hello @Lz-01 Just checking : are you still working or planning to work on this issue? Don't hesitate if you need help!

[2022-11-16 11:16] ashwini-seshadri commented on #9836
Hi, just an FYI, I was a bit caught up with some uncertain personal things, I have started to work on this today and hopefully, will be able to create a PR soon! 🙏🏾

[2022-11-16 11:17] RachL commented on #9720
hi @matisnape sorry for our slow response on this. Was the answer above helpful?

[2022-11-16 11:19] RachL commented on #9836
No worries @ashwini-seshadri ! thanks for the update :)

[2022-11-16 13:59] #9957 closed

[2022-11-16 14:38] ijdershem commented on #9834
I am working on it! I think I’ve got the first part figured but I’m visiting family for the next two weeks so wont be able to work on the other sections.

Happy to open a PR for the first part of this issue though if you wanted this to be moved along!

[2022-11-16 15:18] heroinedor opened #10001 "missing dependency and insufficient privileges"
## Description
The [ofn-install](github.com/openfoodfoundation/ofn-install) repository used to deploy openfoodnetwork application  currently fails because of 2 points in the openfoodnetwork code :
- a missing dependency  in the Gemfile : mini_portile2-2.8.0
- insufficient privileges on postgresql are granted to the user ofn_user used with database openfoodnetwork to create extension pg_stat_statem

[2022-11-16 16:52] filipefurtad0 commented on #9817
Reoccurred here:

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3479993701/jobs/5819225599

[2022-11-16 17:10] audez opened #10003 "[Checkout] Impossible to checkout on certain shops in Safari"
## Description
When adding products to the cart on Safari, for some shops with one of my accounts i got the error "That product is not available from the chosen distributor or order cycle" and the cart is stucked on "Updating cart".
It's not possible to checkout.

## Expected Behavior
Checkout must be possible everytime.

## Actual Behaviour
On Safari only, for one of my account only, in most of t

[2022-11-16 17:41] RachL commented on #10003
@audez can you share the safari version and device?

[2022-11-16 18:16] audez opened #10004 "[Shipping methods] Minimal amount to apply a discount is incorrectly handled"
## Description
A user has warned us that even if she set up a 3€ shipping fee only for orders less than 40€ (this is configured in shipping method > Price sack), the 3€ fee was applied for orders until 45€.

The bug comes from the fact that she has a fee in the order cycle, and the shipping fee doesn't take it into consideration in the final order amount. In this case, she has a coordinator fee of

[2022-11-16 18:27] audez opened #10005 "[Admin][Order Cycle] Impossible to remove a fee"
## Description
If you add a fee to an order cycle and save, then you can't remove it because the save button is not clickable.
-- only for shops (it's ok for hubs) --

## Steps to Reproduce
1. Create an enterprise which is "Shop" (you can see the enterprise type in Enterprises tab, column "Package")
2. Create an enterprise fee for this shop (Enterprise > Settings > Enterprise fee)
3. Create or Edi

[2022-11-16 18:30] audez commented on #10003
yea sorry i add it to the issue thanks :)

[2022-11-16 18:31] RachL commented on #10004
Actually some user like that the price sack is used on the final price. This needs some inception : moving to wishlist.

[2022-11-16 18:38] RachL commented on #10003
Browserstack does not allow us to test on 13.1 with High Sierra, only 11.1... so we can't reproduce I'm afraid.

I've tested with High Sierra / 11.1 and Catalina / 13.1 but checkout worked fine in both version.

I will close it, if we get more insights in the future we can always re-open.

[2022-11-16 18:38] #10003 closed

[2022-11-16 18:40] audez commented on #10003
I don't think High sierra matters.. But anyways i guess it'll be hard to reproduce because i could only see that with 1 of my OFN accounts. I'll check if we have this 412 error a lot on cart populate

[2022-11-16 18:44] RachL commented on #9658
I see UK has also removed the cookie banner, so I'm closing this one. We can always reopen if we work on shopfront responsiveness one day.

[2022-11-16 18:44] #9658 closed

[2022-11-16 18:57] RachL commented on #8905
@Laurel16 @tschumilas it took me a while to figure it out, but yes unfortunately the issue is still relevant.

Actually the way to reproduce the popup is by trying to _add_ quantities on the cart page and going _above_ the stock limitation :

![image](https://user-images.githubusercontent.com/6525576/202268900-543d4cce-661d-487e-ad69-af64565287e1.png)

I will update the issue.

[2022-11-16 19:02] RachL commented on #8905
So in terms of design, I think we can follow the same design you have in your screenshot @Laurel16 but with the content of the popup currently - if it's doable of course.

[2022-11-16 19:31] audez opened #10006 "[Admin] [New enterprise] Latitude and longitude are not automatically calculated"
## Description
From the admin dashboard, when creating a new enterprise, entering the address alone (and saving it) will not automatically calculate latitude and longitude, leading to the enterprise not be placed on the map. The user must select 'calculate latitude and longitude' and only then the enterprises appears on the map.

It leads to a lot of enterprises not showing up on the general map.

[2022-11-16 19:46] RachL commented on #10006
Yep, not a bug. It was designed this way. Moving to wishlist :+1:

[2022-11-16 19:47] audez opened #10007 "[Open my shop] Missing enterprise type choice in the "open my shop" process"
## Description
When creating an enterprise from the “Open a shop” button (https://coopcircuits.fr/sell), you’re not asked what type of enterprise (profile, hub or shop) you want to choose. So you end up with an alert on the Enterprises list page, and your enterprise doesn't appear on the map.

## Expected Behavior
At some point in the enterprise creation process, you should be asked what type of e

[2022-11-16 19:55] audez opened #10008 "[Admin][Enterprise] Latitude and longitude fields are indicated as required but aren't required"
## Description
When you create an enterprise in the admin dashboard (admin/enterprises/new), as well as in an enterprise paramaters address (admin/enterprises/from-admin/edit#!#address_panel), latitude and longitude fields are indicated as required fields but aren't actually required. You can save without filling in these fields.

## Expected Behavior
If a field is not required, there should not b

[2022-11-16 20:10] RachL commented on #10007
@audez "open my shop" is not an OFN feature it's a translation that was tweaked. In anyway, when I click on "join" I'm always directed to the `/register` page. If I complete the registration I'm always redirected at the end to the choice. So I can't reproduce this.
If there is indeed a button that does not redirect to the `/register` page, then we need to fix this in translation.
Otherwise reopen

[2022-11-16 20:10] #10007 closed

[2022-11-16 22:48] aarozh commented on #9723
@RachL Can my partner and I both be assigned this issue?

[2022-11-16 22:49] crystalysun commented on #9723
Hi @RachL ! I am looking to contribute with Aaron (aarozh). Could we both be assigned?

[2022-11-16 22:49] aarozh commented on #9235
Can my partner and I both be assigned this issue?

[2022-11-16 22:50] crystalysun commented on #9235
Hi I am Aaron's (aarozh) partner! Could we both be assigned?

[2022-11-17 00:02] audez commented on #10007
I reproduced it well:

https://user-images.githubusercontent.com/28386648/202320133-06751f55-7b67-4d69-831a-c0490c853e44.mp4

But i also reproduced with landing on the choice page as you said

Actually the following happens:
- when you create a new enterprise from the /register page, in the end you have a button "Go to the dashboard" that brings you to the pack choice page (admin/enterprises/enter

[2022-11-17 00:27] audez opened #10009 "[Enterprise->Create] A disabled button prevents from going forward in the process"
## Description
When creating a new enterprise from the /register page, at step 3, if you don't choose "I'm a producer" or "No, I'm not a producer" and you click the red button to go to the next page, you have an error "Please choose one. Are you a producer?" and the button is disabled. But then, even after selecting one of the choices, the button remains disabled and you can't go forward.

## Expe

[2022-11-17 07:49] sigmundpetersen commented on #9723
Sure go ahead @aarozh and @crystalysun 🎉
Thank you

[2022-11-17 07:50] sigmundpetersen commented on #9235
I have assigned you. Thanks 💪

[2022-11-17 09:18] RachL commented on #10007
@audez

Nope as you've used an email that already has enterprises. That case was never treated in the enterprise creation as the design assumed you would use the admin section to create the enterprise when you already have one. To see the choice of the pack you must use a fresh email with 0 enterprises.

Two additional info

- Actually if it's the first ever enterprise of the email, on the first l

[2022-11-17 09:22] jibees commented on #9998
First iteration:

<img width="1408" alt="Capture d’écran 2022-11-17 à 10 22 28" src="https://user-images.githubusercontent.com/296452/202406933-1e0f5684-7183-41a3-8e67-d64b8131b6ff.png">

[2022-11-17 09:57] lin-d-hop commented on #9984
CLosing this issue as adding summary rows to the CSVs would be an enhancement rather than a bug.

[2022-11-17 09:57] #9984 closed

[2022-11-17 09:59] lin-d-hop commented on #9962
@abdellani Apologies but there was a missing acceptance criteria from this issue.

We also need to have these columns Hidden by Default.
Let me know if you'd like me to explain that more - I hope it's clear in the code that some columns are displayed by default and some are hidden.

Thanks for your patience with this late addition of acceptance criteria :pray:

[2022-11-17 10:34] abdellani commented on #9962
@lin-d-hop
No worries :)
I think I already know how to do that.

[2022-11-17 15:07] RachL opened #10016 "Reports memory leak"
## Description

We can reproduce the memory leak from reports: let's try to fix it!

Copying some ideas from slack:

From Lynne :

I'd be starting investigation looking at [this line](https://github.com/openfoodfoundation/openfoodnetwork/blob/0f618dfbf9b6250ecfab988cef5e4329581575dd/lib/reporting/reports/order_cycle_management/base.rb#L32) in the Order Cycle reports base controller. Customer balan

[2022-11-17 15:19] RachL opened #10017 "Introduce a "Filter results" button on the BOM page"
## Description

**- As a:** enterprise user or super admin
**- On page:** `admin/orders/bulk_management`
**- I want to be able to do:**

Currently each time you change a filter, the content of the page reloads. This can generate a lot of uneccessary request and is not consistent on what we have on the other pages.

The proposal is to mimic the behavior of the order list :

Current BOM page :

![im

[2022-11-17 15:20] RachL commented on #9859
Closing as the puma restart is in place : we need to open new issues for the memory leak. As follow up on performance, I've added these two tasks in priority:

https://github.com/openfoodfoundation/openfoodnetwork/issues/10016

and

https://github.com/openfoodfoundation/openfoodnetwork/issues/10017

[2022-11-17 15:20] #9859 closed

[2022-11-17 15:43] filipefurtad0 opened #10018 "[Flaky] Ferrum::ProcessTimeoutError"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3487271563/jobs/5834704950

### Impact and timeline

[2022-11-17 15:59] #9637 closed

[2022-11-17 16:17] filipefurtad0 commented on #10018
This is also coming up on this branch - not yet in master:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3489852498/jobs/5840503897

I wonder if this somehow relates to GH Actions?

[2022-11-17 16:45] jibees opened #10019 "Release v4.2.22"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify `@testers` in [#tes

[2022-11-17 16:50] Laurel16 commented on #8905
Thank you very much @RachL for cheeking. I think the culprit is an angular alert. I'll try to figure out.

[2022-11-17 19:01] filipefurtad0 opened #10020 "[Analytics - DE] Matomo Tracking code missing from page source code"
## Description

Since recent changes, the Matomo tracking code seems not to be generated in the pages from the OFN-DE.

## Expected Behavior

Tracking code should be automatically generated and appended to the webpages source code.

## Actual Behaviour

Tracking code is absent from the source code.

## Steps to Reproduce

1. Visit `view-source:https://openfoodnetwork.de/`
2. Compare with `view-sou

[2022-11-17 21:39] kirstenalarsen commented on #9962
When columns are hidden by default are they still included in API response?
Or is there a parameter needed to include them? Just checking so we can put
this into immediate use! Thanks!

On Thu, 17 Nov 2022, 21:35 Mohamed ABDELLANI, ***@***.***>
wrote:

[2022-11-17 21:42] lin-d-hop commented on #9962
Good question. API should return everything. This is something for acceptance criteria.

[2022-11-18 05:13] vviekk opened #10021 "Add Windows specific steps in Docker setup guide to run docker/build and docker/server scripts"
### What we should change and why (this is tech debt)

Update the [Docker setup](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/docker/README.md) doc to include additional steps required for setting up dev env on windows with Docker.
These few steps will make the setup more uniform across devs as they all run the same script to set up instead of translating the bash commands fro

[2022-11-18 05:56] abdellani commented on #9962
@lin-d-hop
Hitting the `Go` button will trigger a POST request with a payload that lists the `fields_to_show`.
The response will be an HTML document that includes exclusively the selected columns.
How will it be possible to return everything?

![image](https://user-images.githubusercontent.com/16113997/202631123-fbf3de48-8c56-47d7-8db4-6d12cf75f3ff.png)

[2022-11-18 09:21] RachL commented on #10020
@filipefurtad0 I don't think it's a bug. I've just remembered that I've never set up the tag manager for small instances. As before we only needed the tag manager to follow some specific goals, I only set it up for 3-4 main instances. that was enough to get data.

[2022-11-18 09:50] abdellani commented on #9989
For the end date, I set it to tomorrow at 00:00 to not lose records in the range [today 23:59 => tomorrow 00:00]

[code]

[2022-11-18 10:38] #10001 closed

[2022-11-18 10:43] drummer83 commented on #9989
My understanding of the original issue (before any edits):
- this issue is not about what the code does
- this issue is about what is shown as the default TIME when opening the date/time selector (see screenshot in opening post indicating 12:00)

@RachL: Either I completely misunderstood your issue or we are missing the goal you intended to reach.

OR: Is this about removing the option to enter a

[2022-11-18 10:52] RachL commented on #9989
I don't know what the code does to be honest.

The problem I'm trying to fix is that currently users are always changing from 12:00 to 00:00 in the UI. It's a waste of time for them. If the code does already take into account 00:00 great, but the UI needs to reveal that (outside of english speaking users, no one understand AM vs PM, there is no translation equivalent).

Removing the time from the

[2022-11-18 11:05] RachL commented on #9989
Looks good to me!

[2022-11-18 11:05] RachL commented on #9989
So it means that instead of have one month data per default, we now will have one day?

[2022-11-18 11:11] RachL commented on #10019
This look ready to go :)  https://docs.google.com/document/d/1bD9xN6YoJlWATO46KWllqMLaQL1uLZgDv5EvZJoc8dI/edit#heading=h.4ctypvfojpgm

thanks team!

[2022-11-18 11:11] filipefurtad0 opened #10027 "[Flaky] ./spec/system/admin/order_cycles/complex_editing_multiple_product_pages_spec.rb:37"
### What we should change and why (this is tech debt)

Not yet in master, but seems relevant, non-the less:
` rspec ./spec/system/admin/order_cycles/complex_editing_multiple_product_pages_spec.rb:37 # `

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3496323493/jobs/5854102860

### Impact and timeline

[2022-11-18 12:32] RachL commented on #1172
After chatting with Lynne, we agree that OFN is not supporting shopping in multiple shops. If this comes up in support we can see how to prioritise. Closing.

[2022-11-18 12:32] #1172 closed

[2022-11-18 12:46] lin-d-hop commented on #1362
This doesn't seem to be creating any major issues. CLosing.

[2022-11-18 12:46] #1362 closed

[2022-11-18 12:47] lin-d-hop commented on #1976
Closing since we'll be working on removing variant overrides soon.

[2022-11-18 12:47] #1976 closed

[2022-11-18 12:48] lin-d-hop commented on #2008
This is out of scope for the app right now. Closing.

[2022-11-18 12:48] #2008 closed

[2022-11-18 12:49] lin-d-hop commented on #2003
@audez just created a new one for this and we moved it to wishlist. Closing.

[2022-11-18 12:49] #2003 closed

[2022-11-18 12:54] lin-d-hop commented on #2062
This isn't causing any problems. A quality thing, sure, but its oooold now.

[2022-11-18 12:54] #2062 closed

[2022-11-18 12:57] RachL commented on #1157
2022 update: this is still an issue!

[2022-11-18 12:59] RachL commented on #2721
@dacook as you dive into translation recently, do you know if this issue is still needed? We are doing a bit of clean up with Lynne :) 🧹

[2022-11-18 13:18] audez commented on #2003
oops i .. duplicated again!!!
ty @lin-d-hop

[2022-11-18 17:09] lin-d-hop commented on #1716
CLosing as it doesn't seem to be causing problems and we don't seem to be getting to it:)

[2022-11-18 17:09] #1716 closed

[2022-11-18 17:12] lin-d-hop commented on #1818
This is a bit of an edge case and the logic seems not to be the problem. Let's reopen if the issue is reported on the new checkout flow.

[2022-11-18 17:12] #1818 closed

[2022-11-18 17:15] lin-d-hop commented on #1966
Closing as i couldnt reproduce

[2022-11-18 17:15] #1966 closed

[2022-11-18 17:17] lin-d-hop commented on #1719
Closing as this UX bug hasnt actually prevented any users from updating details.

[2022-11-18 17:17] #1719 closed

[2022-11-18 17:21] lin-d-hop commented on #3052
CLosing as this is no longer an agreed forthcoming priority.... still might be a good idea :)

[2022-11-18 17:21] #3052 closed

[2022-11-18 17:21] lin-d-hop commented on #2809
Closing as this is no longer an agreed priority. Still might bea  good idea

[2022-11-18 17:21] #2809 closed

[2022-11-18 17:22] #2890 closed

[2022-11-18 17:23] #10020 closed

[2022-11-18 17:23] lin-d-hop commented on #5207
Remaining issues can be reassigned to other wishlist epics

[2022-11-18 17:23] #5207 closed

[2022-11-18 17:27] lin-d-hop commented on #2489
This hasn't popped up as a problem for years. Closing

[2022-11-18 17:27] #2489 closed

[2022-11-18 17:28] #2161 closed

[2022-11-18 17:30] lin-d-hop commented on #2576
Closing as this is an old issue that we dont seem to be getting to.

[2022-11-18 17:34] filipefurtad0 commented on #3096
Hey @RachL ,
Yes - the build was fixed by skipping these specs, but the issue persists. I guess this would be a case where VCR or puffing billy would be appropriate as  Kristina suggested here https://github.com/openfoodfoundation/openfoodnetwork/issues/3096#issuecomment-444052352.

Keeping it open in the welcome new QAs board seems right :+1:

[2022-11-18 17:40] lin-d-hop commented on #3369
CLosing as @filipefurtad0 is doing great work on this

[2022-11-18 17:40] #3369 closed

[2022-11-18 17:56] lin-d-hop commented on #7613
CLsoing this epic as completed :tada:

[2022-11-18 17:56] #7613 closed

[2022-11-18 18:00] lin-d-hop commented on #3843
Not reported for some years so I'm closing

[2022-11-18 18:06] filipefurtad0 commented on #10000
Thanks @RachL , sound good - let's do that :+1:

We've got some results on this:

![image](https://user-images.githubusercontent.com/49817236/202772663-22d2bb06-74ca-458b-85f6-fc34babdaa55.png)

But before closing the issue, I'd like to make sure it's actually working as intended. I've now clicked the `shopping @ button` on staging FR on the pages:
- details
- payment
- summary
- order confirmatio

[2022-11-21 06:26] vviekk commented on #10008
Please assign this to me

[2022-11-21 07:10] abdellani commented on #9989
@RachL
Yes, you're right.
I'll fix that problem

[2022-11-21 07:33] abdellani commented on #9989
@RachL
Looks like the problem is already solved.
Can you please confirm?

[2022-11-21 08:30] abdellani commented on #9989
@RachL

Depending on the report type, when the user loads the page, the date fields may be empty or pre-filled.
- For `Bulk Co-op Supplier Report`, the date fields are empty

![image](https://user-images.githubusercontent.com/16113997/202999884-72147f44-2168-47a5-a13d-ce1e3beaab2c.png)

- For `Order Cycle Supplier Totals`, the data fields are already filled using `Reporting::Reports::OrdersAndFulf

[2022-11-21 08:41] krishnasingh001 commented on #9747
Hello @RachL, I wasn't able to reproduce this issue locally. I thought this issue has been fixed. But will check this issue again and update it here. Thanks

[2022-11-21 09:43] lin-d-hop opened #10030 "Add Variant SKU to Order Cycle Supplier Totals report"
## Description

As an enterprise user, I want to be able to access variant SKUs from the reports.
Let's add it to the Order Cycle Supplier Totals report

## Acceptance Criteria & Tests

1. Variant SKU added to the line item rows of Order Cycle Supplier Totals report
2. To be added to the end of each row.
3. These columns to be hidden by default in UI. API will return all data 'columns'.
4. All fie

[2022-11-21 09:56] RachL commented on #10030
@lin-d-hop actually I left this issue in review as the need is probably answered by https://github.com/openfoodfoundation/openfoodnetwork/pull/10023

So unless another instance needs it, there is no rush to add a column.

[2022-11-21 10:01] RachL commented on #9989
Yes I know that not all reports have default dates. We use default dates to improve performance, but it's actually something users hate.

I was reacting to your comment saying:

In end date:

    date: Tomorrow

=> does this mean that when there are default dates, the range is 1 day by default now?

[2022-11-21 10:10] lin-d-hop commented on #10030
Another besides AU?

[2022-11-21 10:12] RachL commented on #10030
No FR: https://github.com/openfoodfoundation/wishlist/issues/314

[2022-11-21 10:35] abdellani commented on #9989
The short answer: Yes.

The long answer:

### 1. For the reports that don't have `default_params` implemented
#### Before the PR
1. The default range is `Illimited` (includes all data).
2. If the user opens  `start date` and `end date` selectors, the date range will be : [Today @ 12:00, Today @ 12:00 ]

#### After the PR

1. The default range is `Illimited`.
2. If the user opens  `start date` and

[2022-11-21 10:54] RachL opened #10034 "Change orders page colors"
Work under `admin_style_v2`

Follow up on https://github.com/openfoodfoundation/openfoodnetwork/issues/9998

## Description
**- As a:** enterprise user
**- On page:** `/admin/orders`
**- I want to be able to do:**  Se BUU style on this page.

Which means:

![image](https://user-images.githubusercontent.com/6525576/203033174-a40f8d8c-6f47-4ff4-ac5e-924664307e14.png)

- New dropdowns in transparent

[2022-11-21 10:58] jibees commented on #10034
That one:
[code]

[2022-11-21 11:49] abdellani commented on #9844
Hi

The problem with this report is that we are grouping the [line items by order](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/lib/reporting/reports/bulk_coop/packing_sheets.rb#L8
), then we pick [the first line item to fetch the data](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/lib/reporting/reports/bulk_coop/base.rb#L79) needed to generate the report.

[2022-11-21 12:10] lin-d-hop opened #10035 "Add 'on hand' and 'on demand' to Products report"
## Description

As an enterprise user I would like a report that tells me what stock I have.

The following fields should be added to the Products & Inventory -> Products Report:
'On Hand' that displays the stock level
'On Demand' displays if the product can be ordered on demand from the supplier.

In the DB these fields are hard to find - they are in spree_stock_items.count_on_hand and (I think)

[2022-11-21 12:19] audez commented on #9561
- Have a different wording for shipment status "Shipped" if it's a pickup order --> for ex "Delivered" instead of "Shipped"
this is already the topic of  #287, i added a comment

[2022-11-21 13:13] filipefurtad0 commented on #10027
This could somehow be related to the knapsack settings, it seems to occur only in this branch:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3514641760/jobs/5888909217

[2022-11-21 14:21] filipefurtad0 commented on #10018
Re-occurred here:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3515094395/jobs/5889927725

[2022-11-21 15:06] jibees commented on #10018
Each time a different spec.

[2022-11-21 16:19] lin-d-hop opened #10036 "Add Final Weight to Order Cycle Customer Totals report"
## Description

In the 'Bulk Order Management' page (BOM) you can change the weight of a sold product. Currently there is no way to see this information in the reports.

Let's add an additional column to the OC Customer Totals report on each line item that has a Final Weight for that line item.

In the case that the weight has not been changed in BOM this column should give the variant weight
In t

[2022-11-21 16:30] lin-d-hop commented on #3698
Closing. Will reopen if still an issue on new reports code

[2022-11-21 16:31] lin-d-hop commented on #3834
CLosing. We can reopen if still an issue on new reports code

[2022-11-21 16:33] lin-d-hop commented on #4015
O&F reports have much better test coverage now. CLosing

[2022-11-21 16:34] lin-d-hop commented on #4406
Closing. Can reopen if still an issue on new reports code.

[2022-11-21 16:35] lin-d-hop commented on #4746
Reports have much better test coverage now. Closing

[2022-11-21 16:35] #4746 closed

[2022-11-21 16:36] lin-d-hop commented on #5029
THis is outdated and is being looked at in other work currently. Closing

[2022-11-21 16:37] lin-d-hop commented on #4977
Closing. Can be reopened if it pops up but I suspect resolved in reports refactorring

[2022-11-21 16:37] #4977 closed

[2022-11-21 16:37] lin-d-hop commented on #4753
Closing. Reports have much better test coverage now

[2022-11-21 16:37] #4753 closed

[2022-11-21 16:38] lin-d-hop commented on #4752
Closing, reports have much better test coverage now

[2022-11-21 16:38] #4752 closed

[2022-11-21 16:38] #4748 closed

[2022-11-21 16:38] lin-d-hop commented on #4750
Closing. Reports have better test coverage now

[2022-11-21 16:38] #4750 closed

[2022-11-21 16:39] lin-d-hop commented on #4749
Closing. Reports have better test coverage now

[2022-11-21 16:39] #4749 closed

[2022-11-21 16:39] lin-d-hop commented on #4751
Clsing. Reports have better test coverage now

[2022-11-21 16:40] lin-d-hop commented on #5130
Closing as curly edgey old cases like this are too hard to spot. Can be reopened if it pops up again

[2022-11-21 16:40] #5130 closed

[2022-11-21 17:00] lin-d-hop commented on #5926
Old performance issues are hard to follow up on. Closing

[2022-11-21 17:00] #5926 closed

[2022-11-21 17:01] #7088 closed

[2022-11-21 17:01] lin-d-hop commented on #6623
CLosing as likely fixed with new reports work.

[2022-11-21 17:01] #6623 closed

[2022-11-21 17:02] lin-d-hop commented on #6768
Closing as this is now old and seemed to be an edge case

[2022-11-21 17:02] #6768 closed

[2022-11-22 01:31] #10019 closed

[2022-11-22 09:05] RachL commented on #9989
@abdellani

Indeed it's a bit weird in terms of UX, but if it's easier to implement for now we can move forward with the PR: it already improves the problem a lot. Thanks Mohamed!

[2022-11-22 10:29] jibees commented on #9844
I think it's really a good move.

[2022-11-22 10:30] lin-d-hop commented on #7399
I don't think issue represents the desired behaviour.
I believe that reports should track the Customer details at the time of the order. Future orders should then take on any changes in the customers table.
Eg if a customer changes their address - old order went to the old address and should not change. New orders will be processed with the new Customer details and hence should change.

Closing th

[2022-11-22 10:34] lin-d-hop commented on #6038
Closing this one as it was a terrible curly one and hasn't bothered us for over a year now.
Curly old issues are so hard to track down.
Loads of useful info in here though. Lucky we can search closed issues :)

[2022-11-22 10:34] lin-d-hop commented on #6743
CLosing this one as it seems its an edge case and old edge cases are so hard to track down.

[2022-11-22 10:34] #6743 closed

[2022-11-22 10:36] lin-d-hop commented on #3774
I think this is a good candidate for teh Bye Bye Angular epic :)

[2022-11-22 11:14] vviekk commented on #10009
Hi,
How can we reproduce this on development environment?
Don't see similar UI after `join` button on homepage.
Couldn't find `staging.coopcircuits.fr/register` on dev.

Apologies if its a trivial question, a ruby(and OFN) noob here.

[2022-11-22 11:27] RachL commented on #10009
Hi @vviekk the /register page should be available on your local environment. What happens when you visit it?

[2022-11-22 11:37] audez opened #10038 "[Enterprise creation] Visibility is not set"
## Description
When creating a new enterprise from the register page, the visibility setting is not set (neither “visible”, “hide all ref” or “invisible”).
This leads to enterprises not showing on the map.

## Expected Behavior
Make visibility a required field to complete when users are registering a new enterprise.
We could also make the enterprise visible by default (as it is when you create an

[2022-11-22 11:47] RachL commented on #10038
Hi @audez I can't reproduce on my side, when I create an enterprise it's visible by default. Any other steps that you might have done in addition to the ones described? Did you use a fresh account or an account that already had enterprises?

[2022-11-22 11:49] vviekk commented on #10009
Hello @RachL,

It takes me to a signup page but with following UI:
![image](https://user-images.githubusercontent.com/91144693/203304897-7cb343a4-bc95-4f91-a9fd-d57935b05647.png)

When I click sign up with test data, i get the following text:
![image](https://user-images.githubusercontent.com/91144693/203305496-f2643cd2-6bab-4022-b39a-76e25e975f38.png)

How do I proceed to see the next steps as sh

[2022-11-22 11:57] vviekk commented on #10009
@RachL
Apologies, just stumbled on the issue.
I can see the /register UI by clicking on the register button AFTER logging in with the demo credentials.

Thanks for the clarification about dev!

[2022-11-22 11:58] vviekk commented on #10009
Please assign the issue to me.

[2022-11-22 13:04] audez commented on #10038
strange, i reproduce with a fresh account:
![dibidibiyo](https://user-images.githubusercontent.com/28386648/203320921-4b948228-41e9-4e1e-9c0f-be7275898ece.gif)

[2022-11-22 13:37] JulianPla commented on #9984
Hey, thanks guys for taking up that topic, and so fast. Very sorry for beeing late in the discussion.
@abdellani Yea exactly thats what i meant! -Duplication is not a problem at all (at least from user point of view), when later grouping that data to extract the comments..

@lin-d-hop Well my workaround for now is, like described in the report, to first show data on screen, than make the csv repor

[2022-11-23 05:20] dacook commented on #9189
Hi @abdellani, just wondering if you confirmed this bug or not? If so, could you please raise it?

[2022-11-23 05:33] abdellani commented on #9989
I fixed that : )

[2022-11-23 06:17] abdellani commented on #9844
Ok, I'll go with the second approach : )

[2022-11-23 07:55] abdellani commented on #9844
@jibees
Now that I start testing the suggested solution, I think that not grouping the line items is not the solution.
If two orders have the same product, the report will have two rows referring to the same product.

I tried to group by product.
=> if a product has multiple variants V1 and V2, the report will only show one variant V1 or V2.

I also tried to group by variants,
=> if two customers

[2022-11-23 08:04] abdellani commented on #10030
@lin-d-hop
The new column will be rendered by default?

[2022-11-23 08:38] lin-d-hop commented on #9962
Hi @abdellani
The API is exposed without hitting the Go button. You should just be able to call reports endpoints at any time and all of this should be automatic without you needing to implement.

Take a look at the API handbook reports page and see if you can test it for this report:
https://app.gitbook.com/o/-L9rgjXCVdbnhSow2XnR/s/Nv32980j4B1B2UoS6UMi/~/changes/Qu0Lc9n9XDQRAavUHT1F/ofn-api-v0-un

[2022-11-23 09:15] jibees commented on #9844
Right. I missed that.

I'm wondering what exactly is the requirement here?

Premises:
 * Shopper S_A checkouts Product P_1 variant V_1 quantity: 1
 * Shopper S_A checkouts Product P_1 variant V_2 quantity: 2
 * Shopper S_A re-checkouts Product P_1 variant V_2 quantity: 2
 * Shopper S_B checkouts Product P_1 variant V_1 quantity: 3

The report should be then:

| CUSTOMER | PRODUCT | VARIANT | SUM T

[2022-11-23 10:46] abdellani commented on #9844
@jibees
Yes, I'm grouping in `query_result` as you said.
The only difference is that I suggested using` [billing_address_hash(item.order.bill_address), item.variant.id]`
[code]

if we use `[line_item.order.user, line_item.variant]`, all customers :
1. who made an order as a guest during the checkout and,
2. selected the same variant

 will be grouped in one row.
=>  The reason is that for those or

[2022-11-23 11:12] abdellani commented on #10035
Hi @lin-d-hop

A variant has many `spree_stock_items`.

I can easily calculate the `on hand` by making the sum cross the stock_items
[code]

But for the `on_demand`, is it possible to have a variant with more than one `stock_item`, where each `stock_item` has a different value for `backorderable`?
if yes, how can we decide to show "Yes" or "No" in the report?

[2022-11-23 11:52] filipefurtad0 commented on #9817
It seems that sometimes adding a distributor to the outgoing section of the order cycle works fine - clicking the `Add distributor` button; However, sometimes, clicking the button does not add a distributor - this error can be seen in the console - and for that reason the spec fails:

![Screenshot from 2022-11-23 12-38-54](https://user-images.githubusercontent.com/49817236/203539516-58ade565-2115-

[2022-11-23 12:12] filipefurtad0 opened #10042 "[OC Edit] Flaky behavior when clicking "Add Distributor""
## Description

It seems that sometimes the "Add Distributor" button works, but sometimes it does not. An error is generated in the console. It seems related to this Bugsnag JS (production):

https://app.bugsnag.com/yaycode/open-food-network-js-uk/errors/637b7859e6772f0009c8acbc?event_id=637b785900a1db0c59c80000&i=sk&m=nw

## Expected Behavior

The "Add Distributor" button should work consistently

[2022-11-23 12:12] filipefurtad0 commented on #9817
Opened issue #10042.

[2022-11-23 12:42] sigmundpetersen commented on #7853
I still see some deprecation warnings in the build. I can try to separate them into issues.

We also have #7854 that could be handled in this upgrade round.

[2022-11-23 12:50] sigmundpetersen opened #10044 "[Deprecation warning] Enumerating ActiveModel::Errors as a hash has been deprecated."
### What we should change and why (this is tech debt)

[code]

### Context

### Impact and timeline

Preparation for Rails 7 upgrade

[2022-11-23 12:53] sigmundpetersen opened #10045 "[Deprecation warning] You are using the default localization behaviour ..."
### What we should change and why (this is tech debt)

[code]

### Context

### Impact and timeline

[2022-11-23 12:56] sigmundpetersen opened #10046 "[Deprecation warning] Using `stub` from rspec-mocks' old `:should` syntax without explicitly enabling the syntax is deprecated."
### What we should change and why (this is tech debt)

[code]

### Context

### Impact and timeline

[2022-11-23 13:55] jibees commented on #9844
Yep sorry, you're right, I think I meant the `customer` not the user:

```[line_item.order.customer, item.variant]```

Like customer: `# It's a relationship between a user and an enterprise but for guest orders it can also be between an email address and an enterprise.`

[2022-11-23 14:39] filipefurtad0 opened #10048 "StimulusReflex caching warning"
### What we should change and why (this is tech debt)

Were currently seeing this warning, when running the app/specs in the dev/test environment:

Heads up! 🔥

👉 StimulusReflex requires caching to be enabled. Caching allows the session to be modified during ActionCable requests.

To enable caching in development, run:

  rails dev:cache

### Context

This came up here:
https://github.com/openfood

[2022-11-23 14:40] abdellani commented on #9189
Hi @dacook

The data fetched from the database is not used. I wouldn't consider it as a problem if the queries don't impact the production server performance.

[2022-11-23 14:49] vviekk commented on #10009
Current behavior:
![image](https://user-images.githubusercontent.com/91144693/203575308-f29cf78e-0777-489a-8a40-743a85d62cbe.png)
The `ng-

![image](https://user-images.githubusercontent.com/91144693/203575417-a668d142-6468-4f95-a305-e5a6baff6f16.png)
![image](https://user-images.githubusercontent.com/91144693/203575769-c1f385b0-f89d-49dc-91f7-4a19167afaae.png)

[2022-11-23 19:16] #7583 closed

[2022-11-23 22:45] #10008 closed

[2022-11-23 23:35] dacook commented on #9189
From what I can see, the report class is automatically instantiated, but it's not immediately clear to me how it works.
It sounds like you're saying it runs the report (query the database) based on the default form parameters. That doesn't sound good, but if it's not a problem, then I won't look into it further :)

[2022-11-24 05:11] dacook opened #10049 "Release"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Ready.
- [ ] Notify `@testers` in [#tes

[2022-11-24 06:07] abdellani commented on #9189
@dacook

Yes, you're right.

I can't say if it's a problem or not.

[2022-11-24 06:17] abdellani commented on #9962
@lin-d-hop
I understand now.  All the columns are generated regardless of the list of columns to hide, We are hiding the columns in the view.

I don't have access to the link you shared.

[2022-11-24 08:09] sigmundpetersen commented on #9962
I think this is the same location https://ofn-user-guide.gitbook.io/ofn-api-handbook/ofn-api-v0-unsupported/reports

[2022-11-24 08:10] RachL commented on #9189
It's a problem but it's out of the scope of this PR. If it improves performance we can take a look into it in the next performance issues.

[2022-11-24 10:19] abdellani commented on #9843
Hi @audez

Can you please show me (a screenshot) where can I find the `group by` options from step 1?

I was able to reproduce the problem without checking that option.

[2022-11-24 10:37] audez commented on #9843
hi!
Yea i realized afterwards that the total mixing all products was actually appearing in reports even for non-bulk products - i don't understand why but maybe there's a reason.. @RachL @lin-d-hop @tschumilas is it?

This is more problematic for bulk products though because other fields (units required ; unallocated ; max quantities excess) are calculated according this wrong total sum

Where to

[2022-11-24 10:42] sigmundpetersen commented on #10018
Yes, #9986 seems relevant, with this change re. timeouts https://github.com/rubycdp/cuprite/pull/215

[2022-11-24 11:24] jibees commented on #10034
WIP
<img width="1367" alt="Capture d’écran 2022-11-24 à 12 23 34" src="https://user-images.githubusercontent.com/296452/203772548-e75a5145-36de-49a2-b71d-a70eb04424ba.png">

<img width="357" alt="Capture d’écran 2022-11-24 à 12 23 43" src="https://user-images.githubusercontent.com/296452/203772559-c842f323-d9cc-4e53-bda4-e7893d7b661f.png">

[2022-11-24 11:41] vviekk commented on #9978
Please assign the issue to me if no one else has started on it :)

[2022-11-24 11:53] sigmundpetersen commented on #9978
Thanks @vviekk 💪

[2022-11-24 12:06] drummer83 commented on #10049
Hey @dacook,
Thanks for the new release. I have tested it and found no problems. Notes are here: https://docs.google.com/document/d/1HomRGUM8pp3WfT0DqhqooSOLxESe5qu3h4yZYa0oPHQ/edit?usp=sharing

This one is ready to go! :rocket:

[2022-11-24 13:51] RachL commented on #9843
I'm sorry I'm only seeing this now. The total line refers to the total of the order and yes it's a behavior common to all reports as it shows the total for one order.

I don't think it's a good idea to tweak it for bulk reports. If we want data for each product, I think you want new columns to be added? @audez can you show an example of the data you want in the end?

In the meantime I'm moving thi

[2022-11-24 13:57] jibees commented on #10034
![screencapture-localhost-3000-admin-orders-2022-11-24-14_57_08](https://user-images.githubusercontent.com/296452/203801746-255e95ba-f5e5-4c4b-9520-a95ba1389058.png)

[2022-11-24 15:42] jibees commented on #10034
![screencapture-localhost-3000-admin-orders-2022-11-24-16_41_57](https://user-images.githubusercontent.com/296452/203822835-b4202e1f-5633-4c91-aed5-a0aed0c2b305.png)

[2022-11-24 22:01] audez commented on #10038
i confirm visibility is not set in prod, these are some of the last enterprises created:
![Screen Shot 2022-11-24 at 23 00 09](https://user-images.githubusercontent.com/28386648/203868307-65305d50-26cd-4a53-8efa-01c89dee0837.png)
![Screen Shot 2022-11-24 at 23 00 04](https://user-images.githubusercontent.com/28386648/203868310-3056d625-ec66-4c7f-9a02-99048cbd108e.png)
![Screen Shot 2022-11-24 at 2

[2022-11-24 22:30] audez commented on #10007
thanks for the input, i've written a wishlist: https://github.com/openfoodfoundation/wishlist/issues/381

[2022-11-24 22:51] #9972 closed

[2022-11-25 08:20] sigmundpetersen commented on #10046
I think we still have this, e.g. in https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3544348089/jobs/5951532231

It doesn't appear on all jobs, only where it's actually used I guess

[2022-11-25 09:11] filipefurtad0 opened #10055 "[Flaky] Order dependent failure rspec ./spec/system/admin/enterprises/index_spec.rb:83"
### What we should change and why (this is tech debt)

Order dependent failure:

`bundle exec rspec --format progress --default-path spec "spec/system/admin/tag_rules_spec.rb" "spec/system/admin/enterprises/index_spec.rb"
`

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/3544677610/jobs/5952175489

### Impact and timeline

[2022-11-25 10:42] abdellani commented on #10036
Hi @lin-d-hop

For the third case, the weights' sum will be rendered in the summary row, right?

[2022-11-25 11:01] lin-d-hop commented on #10036
Hi @abdellani
No incorrect.
The weight will _always_ be displayed in the line item row and _never_ in the summary row.

When the line item has a qty > 1 then there is the chance that the BOM has updated the weight to 2 different weights. Thus we will need to sum them to offer any information at all. So far all line items with qty>1 we will sum the weight of the line item.

Does that make more sens

[2022-11-25 12:13] sigmundpetersen commented on #9947
Did we remove these?
Should we close then?
@filipefurtad0

[2022-11-25 13:54] abdellani commented on #10036
@lin-d-hop
Sorry, I'm still confused. Maybe I misunderstood the problem.

I have a product with two variants:
![image](https://user-images.githubusercontent.com/16113997/203993027-267bbf03-6fe9-4e34-936e-aca434997cdf.png)

I make an order of 1Kg with quantity=3
![image](https://user-images.githubusercontent.com/16113997/203994137-0154510b-5f9e-4645-a16e-2944940b38be.png)

The order will have only

[2022-11-25 14:05] lin-d-hop commented on #10036
Hi @abdellani

In Bulk Order Management you can change the line item of a weight after ordering:

![Screenshot from 2022-11-25 14-00-00](https://user-images.githubusercontent.com/8669848/204001654-c2548e42-8fac-4c59-87ad-56d8e381db8d.png)

This is to account for products like cheese from the round - when it is cut it might be a different weight to what was ordered.

I am not sure where this is sto

[2022-11-25 14:21] RachL commented on #10036
@lin-d-hop I think @abdellani found the correct field? So actually the user is already putting the final sum, there is no additional multiply by quantity to do?

[2022-11-25 14:24] lin-d-hop commented on #10036
Ah ok great. The user doesn't do this - seems OFN does this....
This might be something we need to look at more closely. BOM separates the items out and I have no idea how the logic to recombine and separate again works... :thinking:

We need to test if this works with BOM - I don't know if the BOM data is stored elsewhere?

[2022-11-25 14:30] RachL commented on #10036
@lin-d-hop

I think then the UI is confusing. Because it looks like asking for the total weight of the quantity (when you edit it°. I agree that wihtout doing anything the multiplication happens. But if you edit the weight, it looks like you need to enter full weight and not weight per item?