[2017-07-21 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59716e456a4b8800188bbfec&i=gh&m=ra)

[2017-07-21 03:06] sstead commented on #1658
I'm still experiencing problems deleting items from orders, but the sequence of events has changed...
![image](https://user-images.githubusercontent.com/10843056/28447637-5c06da6a-6e15-11e7-9077-cab885a70033.png)

Another issue I spotted while testing this...
![image](https://user-images.githubusercontent.com/10843056/28447633-4ff1368a-6e15-11e7-89d0-98fc696311e2.png)

[2017-07-21 03:15] sstead opened #1710 "Alternate backgrounds to product list not retained when deleting items from order"
Another issue I spotted while testing spree upgrade...
![image](https://user-images.githubusercontent.com/10843056/28447633-4ff1368a-6e15-11e7-89d0-98fc696311e2.png)

[2017-07-21 03:20] sstead opened #1711 "'Send invoice' and 'print invoice' buttons give Snail Page"
'Send invoice' and 'print invoice' buttons are not working with the Spree Upgrade

This was first spotted here - https://community.openfoodnetwork.org/t/spree-testing-june-2017/976
It continues to be a problem as at June 21st 2017

![image](https://user-images.githubusercontent.com/10843056/28447898-29110098-6e17-11e7-90f0-412d21c373ef.png)

[2017-07-21 05:27] #1095 closed

[2017-07-21 06:05] sstead commented on #1695
Yes, i finally got Paypal and PinPayments to work!

Note to self:
Pinpayments won't process if amount is too low. $1.10 works.
Paypal: if Solution is 'Sole' then the Landing Page must be 'Billing'. If the solution is 'Mark' then Landing Page must be 'Login'.

[2017-07-21 06:15] sstead opened #1712 "new Open All Adjustments and Close All Adjustments buttons"
These buttons came up during Spree upgrade testing. I haven't noticed them before, and they are not on Production. They give the Snail Page, so perhaps it's better if they are not there.

It shows both when creating an order, and when editing an order.

![image](https://user-images.githubusercontent.com/10843056/28451267-987e3bb8-6e2f-11e7-85f0-1d917f611c22.png)

[2017-07-21 06:16] sstead commented on #1694
I'm still getting this error...

Would it help for you to login as my user to see the error @enricostano ? My login is sally+2@openfoodnetwork.org.au, I'll slack the pw

[2017-07-21 08:19] daniellemoorhead commented on #738
Hey @mkllnk are those new transifex PRs you created today linked to this issue?

[2017-07-21 08:23] daniellemoorhead commented on #1604
Hey @Duende13 now that #1652 has been merged feel free to close this issue 😄

[2017-07-21 08:25] daniellemoorhead commented on #959
I think that's a great idea @sineadfenton - have a go at talking through how you would see it working, then others can join in the conversation.

[2017-07-21 08:30] mkllnk commented on #738
The one merging the `transifex` branch is a monthly task for every release. We would like to automate that. But for now I'm doing it manually. In a dev chat long ago, we said that pull requests are a good way to make that step visible and remember it.

This issue is suggesting a new tool to clean up our translations and ensure that we don't mess things up with code typos. It would be a core common

[2017-07-21 08:43] daniellemoorhead commented on #1541
@myriamboure and @clairezed the PR for this issue was merged so feel free to close this one :-)

[2017-07-21 08:46] daniellemoorhead commented on #1560
@lin-d-hop @jeronimo the PR for this issue has been merged so feel free to close this :-)

[2017-07-21 08:58] daniellemoorhead commented on #738
Hey @kirstenalarsen reckon we could spend some CC funds on doing this work? ☝️

[2017-07-21 09:24] #1560 closed

[2017-07-21 10:17] enricostano commented on #1648
Yeah, I'm pretty sure it's not Spree related. It seems to be related to https://github.com/openfoodfoundation/openfoodnetwork/issues/1607 ping @oeoeaio

Yep, https://github.com/openfoodfoundation/openfoodnetwork/pull/1622 got merged 8 hrs ago. We're good here.

[2017-07-21 10:19] enricostano commented on #1482
Yeah that kind of tool would be nice to explore.

[2017-07-21 10:21] enricostano commented on #1647
Yeah @sstead it seems pretty related to seed data to me. Can @oeoeaio or @RohanM please shade some light here? Thanks!

[2017-07-21 10:25] enricostano commented on #1695
Cool, thanks @sstead !!!

[2017-07-21 10:25] #1695 closed

[2017-07-21 10:59] enricostano commented on #1694
The request is:
[code]
and the response is a redirect to `https://staging1.openfood.com.au/unauthorized`

[2017-07-21 12:46] enricostano opened #1715 "NoMethodError canceling an order from admin"
### Context
This issue has been found testing Spree upgrade step 6 https://github.com/openfoodfoundation/openfoodnetwork/pull/1524

### Steps to reproduce
 1. create an enterprise as **producer SHOP**
 2. create an order with a customer
 3. log in as the enterprise owner and go to `/admin/orders`
 4. edit the order, clic on **Actions** dropdown and select **Cancel Order**

### Screenshots
![2017-0

[2017-07-21 12:51] enricostano commented on #1715
Could be related to https://github.com/openfoodfoundation/openfoodnetwork/pull/1524/commits/27f08fe0db2a510245193459f12733698a80abfb

[2017-07-21 13:48] enricostano opened #1716 "Remove authorize_admin override"
### Context
In [Spree::Admin::BaseController#authorize_admin](https://github.com/openfoodfoundation/openfoodnetwork/blob/155a2574bb514b2aba4b2a23eddb9a1e68ec5b93/app/controllers/spree/admin/base_controller_decorator.rb#L18) we override the method since the old Spree version used to return `Object` when a model doesn't exist.

This override is not needed anymore since https://github.com/spree/spree

[2017-07-21 15:50] NickWeir63 opened #1717 "Tag rules not working on UK production"
I have set up a variant tag rule called 'trade' on the new shopfront for Purely Pickled Eggs and the rule is not working (the variant should be invisible by default and it is visible).  @OliverUK has tested a similar rule on the Stroudco shopfront and is having the same problem.
![image](https://user-images.githubusercontent.com/10517702/28471234-5f6deda0-6e34-11e7-909f-8a6a9c301c59.png)

[2017-07-21 20:03] enricostano commented on #1694
It seems a problem in loading order 😞

[2017-07-22 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=597295fe3ef9a2001a5c2554&i=gh&m=ra)

[2017-07-22 02:32] sstead opened #1718 "The 'show profiles' filter in the Shops directory is not working"
Expected functionality: By default the Shops page only shows shops that have a currently open order cycle. Profile-only hubs don't show unless the user clicks 'show profiles'. On Aus production this isn't happening, clicking the checkbox does nothing.

![image](https://user-images.githubusercontent.com/10843056/28487690-9cc8ee8e-6ed9-11e7-809d-5db0fc5e60c9.png)

[2017-07-22 05:14] lin-d-hop commented on #1717
Duplicate of #1664. Closing.

[2017-07-22 05:14] #1717 closed

[2017-07-22 05:16] lin-d-hop commented on #1664
@matt-yorkley can you take a high priority look?
Needed by a bigbarn user. Ideally well fix for next release.

[2017-07-24 03:40] kirstenalarsen commented on #738
please post to the discourse discussion if you want to nominate for spending OFN cc funds - https://community.openfoodnetwork.org/t/determining-use-of-ofn-cc-funds/987

Thanks :)

[2017-07-25 08:55] Matt-Yorkley commented on #1664
@oeoeaio maybe you can take a look, I can't figure this one out.

[2017-07-25 08:57] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5977080325277500180dc062&i=gh&m=ra)

[2017-07-25 10:00] kothagunda opened #1719 "Enterprise Edit page doesn't activate update button properly"
## Description
When i edit an Enterprise, the update button doesn't get enabled when i edit the text in a text box of a field. Only after i click another field, or some other part of the page,  the update button gets enabled, so that i can click and update(save).

## Expected Behavior
Update button activates when user starts typing in the field.

## Actual Behavior
If you modify some text field, y

[2017-07-26 00:35] sstead opened #1721 "Typo in the shopfront, on properties filter buttons"
Typo in the shopfront, on properties filter buttons.

![image](https://user-images.githubusercontent.com/10843056/28599452-07ba771e-71ee-11e7-972f-62d52260ee4a.png)

[2017-07-26 00:56] oeoeaio commented on #1668
@Matt-Yorkley my preference would be for `contact` to become `contact_name`, `email_address` to become `contact_email` and `email` to be removed (replaced by an association with a user who will receive notifications).

Ultimately, it would be cool to pull out all of the contact fields into a separate model, but I think that is outside the scope for now. Also, see my comment [here](https://github.c

[2017-07-26 01:41] sstead opened #1722 "Misalignment on Account page"
There is misalignment of text on the Account page, depending on whether the shop has a logo or not. Can we fix this so that the balance always aligns to the right?

![image](https://user-images.githubusercontent.com/10843056/28600714-1de1776e-71f7-11e7-9bd3-90da90089fbb.png)

[2017-07-26 01:51] oeoeaio opened #1723 "Stripe: ask customer about saving card details used in checkout"
### Overview
At the moment, we're just storing all Stripe card details used in the checkout. We need to ask whether this is what the customer wants to do.

![image](https://user-images.githubusercontent.com/10843056/28600585-3279ea7c-71f6-11e7-9e16-22dc364d7a44.png)

### Tasks
- [x] Add a 'Remember this card?' field in the stripe payments form in the checkout
- [x] Store this flag as an instance v

[2017-07-26 02:05] oeoeaio opened #1724 "Stripe: make existing card selection in checkout more clear"
### Overview
Currently, when an existing Stripe card is selected in the checkout, the card fields just get greyed out and disabled. It would be preferable to give a better visual indication that an existing card has been selected.

[2017-07-26 03:42] oeoeaio opened #1725 "Stripe: add explanation about configuring Stripe API keys"
### Overview
In super-admin, we need to add an explanation about configuring Stripe in the relevant section of the app configuration. From @sstead:

![image](https://user-images.githubusercontent.com/10843056/28600654-9a12193e-71f6-11e7-9b2e-7f1cb845f6a5.png)

While we are at, it would be good to add a message to the same section to warn the user that Stripe is in beta and should be used with caut

[2017-07-26 03:52] oeoeaio opened #1726 "[Stripe] Upgrade API to latest version"
### Overview
While we have been developing the Stripe integration, there have been updates to the API. We should assess what these are and then upgrade to the version of the API we are using to the latest version. This may require making changes to the codebase, but it may not.

UPDATE: The version we have been testing with on staging is `2017-05-25` and there has only been one minor update to the

[2017-07-26 04:04] oeoeaio opened #1727 "Stripe: Improve UI around connecting a stripe account"
### Overview
A couple of improvements are required to make the process of connecting an enterprise's Stripe account to the OFN a little more intuitive.

![image](https://user-images.githubusercontent.com/10843056/28600642-870ae2b2-71f6-11e7-8e71-d735e8b06c82.png)

### Tasks
- [x] Implement hash navigation on enterprise edit page, to allow navigation to a specific tab
- [x] Use hash navigation to d

[2017-07-26 04:23] oeoeaio opened #1728 "Stripe: allow enterprise users to add '+ New Payment' using Stripe"
### Overview
Attempting to add a new payment to an order as an enterprise user currently causes a crash, aparently because a partial is missing. We need to allow new Stripe-based payments to be added, so we need to work out what needs to be done to allow this.

![image](https://user-images.githubusercontent.com/10843056/28600845-10c13406-71f8-11e7-941e-96ea8aad623d.png)

![image](https://user-imag

[2017-07-26 04:31] oeoeaio opened #1729 "Stripe: restrict edit permissions to Stripe payment methods"
### Overview
Assume `Enterprise A` is connected to a Stripe account. If a manager of `Enterprise A` also manager `Enterprise B` and then adds `Enterprise B` to a payment method that uses `Enterprise A`'s Stripe account, any *other* managers of `Enterprise B` will have permission to change the payment method, regardless of whether they also manage `Enterprise A` (which owns the stripe account).

![

[2017-07-26 05:57] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59782f5b93f707001878ef5d&i=gh&m=ra)

[2017-07-26 06:19] sstead commented on #1306
Thanks Leta!

**Testing notes**
- The map profile buttons no longer look clickable (correct)
- Filter buttons are still clickable (correct)
- However, the property and category badges in product description modals, within shops are still clickable when they shouldn't be. See below.
![image](https://user-images.githubusercontent.com/10843056/28607201-155480a6-721e-11e7-8c6a-66f3830c7ced.png)

[2017-07-26 06:53] sstead opened #1730 "Can we simplify setup of Paypal by providing dropdown options or hiding fields and setting defaults"
Paypal is fiddly to setup and there's lots of room for human error.
Suggestions below:

![image](https://user-images.githubusercontent.com/10843056/28608245-f10ccd7a-7222-11e7-9441-b50d043b29b9.png)

[2017-07-26 06:55] oeoeaio opened #1731 "Standing Orders + Stripe: Restrict payment methods available to standing orders to only Cash/Cheque and Stripe"
### Overview
Payment methods other than Stripe or Cash/Cheque are not able to be 'automatically' processed, so they can't be used with standing orders. Therefore the list of payment methods that users are able to select from needs to be restricted to show only these two types, or an error if none are available.

### Tasks
- [x] Update the `shipping_and_payment_methods_ok?` method in the StandingOr

[2017-07-26 06:57] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59783d654a7cf3001864306e&i=gh&m=ra)

[2017-07-26 07:13] oeoeaio opened #1732 "Standing Orders + Stripe: Require customer has a Stripe card set-up for standing orders where Stripe is payment method"
### Overview
If Stripe is selected as the default payment method to use for a standing order, we need to make sure that the user has a saved card (with Stripe) that we can use to process a payment.

### Tasks
- [x] Add a `credit_card_id` field to the standing order model (can be nil) (0.5 hr)
- [x] Add a section to the bottom of `admin/standing_orders/_details` to allow selection of a saved card.

[2017-07-26 07:57] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59784b7883214600186994ff&i=gh&m=ra)

[2017-07-26 11:20] sauloperez commented on #1668
The least we can do to ease that much complexity is to improve the naming (It should be clear at first sight the purpose of each of them). I rename the database columns or maybe add alias methods on the models as first step until we have the time to implement the refactor/s you suggest. Agree that this should be done on another PR.

[2017-07-26 11:27] sauloperez commented on #1721
[This](https://github.com/openfoodfoundation/openfoodnetwork/commit/ef488133e#diff-ac406701b25523fd6e29778c25d99962R8) seems to be the culprit commit. Hope this makes it easier to fix.

[2017-07-26 11:34] sauloperez commented on #1716
Good catch @enricostano !

[2017-07-26 13:28] #1604 closed

[2017-07-26 14:17] sineadfenton commented on #1674
Hey all,

We've had a couple more requests on translating GST into VAT for the UK. I just wanted to follow up in relation to the #1684 ticket and if this was that was currently being actioned?

(excuse my ignorance! just can't quite work it out and it would be good to feedback to the community)

cheers,

S

[2017-07-26 15:25] sauloperez commented on #1712
As per my investigation on Spree, these two buttons where introduced in https://github.com/spree/spree/commit/43a3cca49. For the reasonable solution would be fixing the links to avoid the snale page (if possible) and so we avoid diverging from Spree in the middle of the upgrade.

The more we diverge from Spree the more effort the upgrade requires.

[2017-07-26 23:02] Matt-Yorkley commented on #1674
@sineadfenton it should be going through soon.

[2017-07-27 00:46] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59792d76fddc460018235a24&i=gh&m=ra)

[2017-07-27 02:34] oeoeaio commented on #1647
Wow, this is super weird. I have never seen that text before. It can't be from Spree though...

[2017-07-27 02:47] oeoeaio commented on #1647
No record of it anywhere in the codebase, doesn't appear in any other Aus staging or production database... WTF

[2017-07-27 02:49] oeoeaio commented on #1647
We don't seed our staging databases, so I don't think seed data is the answer, unless I'm missing something...

[2017-07-27 03:29] oeoeaio opened #1733 "[Stripe] Document charge process in GitHub wiki"
### Overview
The technical approach used to integrate Stripe into the OFN needs to be documented for posterity, so that other developers can understand what the hell is going on. Good starting point in #1466

### Tasks
- [x] Add a document to the GitHub wiki detailing the approach used to integrate Stripe into the OFN

[2017-07-27 03:30] oeoeaio commented on #1466
@sauloperez Yep! Added a new issue to the [Stripe Connect](https://github.com/openfoodfoundation/openfoodnetwork/projects/3) project: #1733

[2017-07-27 08:00] oeoeaio opened #1734 "Reports index is attempting set the description on sales tax reports which aren't loaded"
### Problem
Reports are loaded into the index page based on which ones the user has permission to view. Permissions are determined by the types of enterprise that a user manages, and are determined in `ability_decorator.rb`. At the moment, users who manage producer enterprises only (and no shops) do not have permission to view the sales tax reports, so they are not loaded.

The issue is that on we

[2017-07-27 08:02] mkllnk commented on #1734
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **spree/admin/reports#index**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/597966437d1fd70019261fc1?event_id=597966437d1fd70019261fc0&i=gh&m=li)

[2017-07-27 08:46] oeoeaio commented on #1691
I vote json. Agree that we need to review this. Add it to the tech debt pile. 🙂

[2017-07-27 09:01] oeoeaio commented on #920
@sauloperez do we get that commit in step 6 or step 7?

[2017-07-27 09:12] oeoeaio commented on #1657
Yeah, I fixed this in https://github.com/oeoeaio/openfoodnetwork/commit/688b28ad8778b2e640bbea9b28d01bfd22f7f4c0

Just have to wait for standing orders for the fix, or we can cherry-pick it I suppose...

[2017-07-27 09:37] lin-d-hop commented on #1556
Merged!

[2017-07-27 09:37] #1556 closed

[2017-07-27 09:37] lin-d-hop commented on #1565
Merged!

[2017-07-27 09:37] #1565 closed

[2017-07-27 09:37] lin-d-hop commented on #1566
Merged!

[2017-07-27 09:37] #1566 closed

[2017-07-27 09:38] lin-d-hop commented on #1597
Embeddable shopfronts has now been merged and coming soon to an instance near you :-D

[2017-07-27 09:38] #1597 closed

[2017-07-27 10:08] lin-d-hop commented on #1563
I think most instances will not be running with a huge language set... so I can't imagine that will be needed by many. Even in regions where dozens/hundreds of languages are spoken it seems unlikely to be that the instance will have translations into more that a few of them.

[2017-07-27 10:14] sauloperez commented on #920
will have to wait until step 7 to get it.

[2017-07-27 10:42] oeoeaio commented on #920
👍

[2017-07-27 11:18] lin-d-hop commented on #1465
@Matt-Yorkley Might you have the opportunity to stick your head into this again. Perhaps in the past months your new skills might give you a new take?

[2017-07-27 11:21] lin-d-hop commented on #1663
![](https://github.trello.services/images/mini-trello-icon.png) [Ordering of Variants and Shipping Methods](https://trello.com/c/l9oQNVZa/52-ordering-of-variants-and-shipping-methods)

[2017-07-27 11:21] sineadfenton commented on #1465
Ah hadn't seen this has been logged before (different terminology).

This was brought up again recently and it would be good to get it seen too

#1702

[2017-07-27 11:22] lin-d-hop commented on #1626
![](https://github.trello.services/images/mini-trello-icon.png) [Ordering of Variants and Shipping Methods](https://trello.com/c/l9oQNVZa/52-ordering-of-variants-and-shipping-methods)

[2017-07-27 11:22] lin-d-hop commented on #1604
![](https://github.trello.services/images/mini-trello-icon.png) [Ordering of Variants and Shipping Methods](https://trello.com/c/l9oQNVZa/52-ordering-of-variants-and-shipping-methods)

[2017-07-27 11:55] lin-d-hop commented on #1607
Basically I hacked it, like usual ;-)

1) I took the name of the file the logo was being loaded from via the webbrower. In our case:
/assets/admin/bg/spree_50-2a06eed2050bf730806d31c080c2a008.png

2) I replaced the image to our logo on the server. In our case this was located at:
/apps/openfoodnetwork/current/public/assets/admin/bg/spree_50-2a06eed2050bf730806d31c080c2a008.png

Hope that's useful

[2017-07-27 11:55] #1607 closed

[2017-07-27 11:57] sineadfenton commented on #1168
![](https://github.trello.services/images/mini-trello-icon.png) [Paypal Adjustment Fee](https://trello.com/c/zu9sNXMz/23-paypal-adjustment-fee)

[2017-07-27 11:58] sineadfenton commented on #925
![](https://github.trello.services/images/mini-trello-icon.png) [Ask tickbox](https://trello.com/c/M8YmsZY3/61-ask-tickbox)

[2017-07-27 12:01] sineadfenton commented on #1702
![](https://github.trello.services/images/mini-trello-icon.png) [Checkout Page Jumps to the Bottom](https://trello.com/c/FfnczmVi/60-checkout-page-jumps-to-the-bottom)

[2017-07-27 12:01] sineadfenton commented on #1465
![](https://github.trello.services/images/mini-trello-icon.png) [Checkout Page Jumps to the Bottom](https://trello.com/c/FfnczmVi/60-checkout-page-jumps-to-the-bottom)

[2017-07-27 12:01] sineadfenton commented on #1703
![](https://github.trello.services/images/mini-trello-icon.png) [Volume Fields 0 in IE](https://trello.com/c/UD9BEkNT/37-volume-fields-0-in-ie)

[2017-07-27 12:04] sineadfenton commented on #1444
![](https://github.trello.services/images/mini-trello-icon.png) [Bulk Upload/Download](https://trello.com/c/u2NMz4Se/33-bulk-upload-download)

[2017-07-27 12:05] sineadfenton commented on #1674
![](https://github.trello.services/images/mini-trello-icon.png) [GST/VAT Invoice for Shoppers](https://trello.com/c/YWiVRIah/47-gst-vat-invoice-for-shoppers)

[2017-07-27 12:05] sineadfenton commented on #1453
![](https://github.trello.services/images/mini-trello-icon.png) [Searching Logic (Oxford, space)](https://trello.com/c/mPoiy17B/43-searching-logic-oxford-space)

[2017-07-27 12:06] sineadfenton commented on #723
![](https://github.trello.services/images/mini-trello-icon.png) [Order Confirmation Emails](https://trello.com/c/GbyrU43C/15-order-confirmation-emails)

[2017-07-27 12:06] sineadfenton commented on #1473
![](https://github.trello.services/images/mini-trello-icon.png) [Order Cycle Customer Totals](https://trello.com/c/zYgi70s3/44-order-cycle-customer-totals)

[2017-07-27 12:07] sineadfenton commented on #1679
![](https://github.trello.services/images/mini-trello-icon.png) [Datepickers Not Working](https://trello.com/c/jJrOJHRo/65-datepickers-not-working)

[2017-07-27 12:07] sineadfenton commented on #1603
![](https://github.trello.services/images/mini-trello-icon.png) [Sizing of Images on Shopfronts](https://trello.com/c/FACSxZu1/67-sizing-of-images-on-shopfronts)

[2017-07-27 12:09] sineadfenton commented on #1526
![](https://github.trello.services/images/mini-trello-icon.png) [Suppling Producer Report Error Page](https://trello.com/c/8MFa84xs/70-suppling-producer-report-error-page)

[2017-07-27 13:51] sauloperez commented on #1715
Yep, this is due to a missing `Spree::MailMethod`. I suggest we add it to the seed data at least temporally until we reach Spree 2.0 with the step 7.

Check out my commit.

[2017-07-27 14:41] sauloperez commented on #1712
Solved in https://github.com/Em-AK/openfoodnetwork/pull/14

[2017-07-27 15:04] sauloperez commented on #1710
@oeoeaio @RohanM do you have any idea how is this implemented? I know we're using [Rails' cycle helper](http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-cycle) but I can't manage to find how we update the `class` on the `tr` dom element once a row is deleted. Do we do it from angular or from some hidden jQuery snippet?

[2017-07-27 23:26] oeoeaio commented on #1710
Hey @sauloperez, this is all vanilla Spree behaviour. I'm not sure what is happening with Spree step 6, but the version we are using seems to handle to removal of the row and update of the row classes from `core/app/assets/javascripts/admin/admin.js.erb`.

[2017-07-27 23:54] mkllnk commented on #1603
@sstead Do you have an idea what could be the cause?

[2017-07-28 01:24] sstead commented on #1732
What if the customer deletes the saved card after the SO is established? Need messaging to the customer and the shop.

[2017-07-28 02:49] sstead opened #1738 "When i use 'print invoice' for a long order it has display errors on second page"
If an order is long enough to cover 2 pages the 'print invoice' invoice has display issues. This occurs for both invoice types.

![image](https://user-images.githubusercontent.com/10843056/28700435-1fd0629a-7393-11e7-9d59-2c7399fae232.png)

![image](https://user-images.githubusercontent.com/10843056/28700448-2f22ae7e-7393-11e7-9657-16211fa8a429.png)

*Steps to reproduce*

* Create an order with at

[2017-07-28 03:47] sstead commented on #1081
There is now a warning message, which is good.
![image](https://user-images.githubusercontent.com/10843056/28701704-50e7339c-739b-11e7-8f2b-893eefbcc63e.png)

[2017-07-28 05:33] sstead commented on #1734
Is this related to this? - https://github.com/openfoodfoundation/openfoodnetwork/issues/1526

[2017-07-28 05:39] oeoeaio commented on #1734
Yep! Same issue. Closing now.

[2017-07-28 05:39] #1734 closed

[2017-07-28 05:39] oeoeaio commented on #1526
Technical explanation of what is going wrong in #1734

[2017-07-28 05:55] sauloperez commented on #1710
Good to know. Now I know where to investigate. Thanks!

[2017-07-28 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=597ad2f648ad55001891dd98&i=gh&m=ra)

[2017-07-28 06:34] sstead opened #1740 "If instance doesn't have thermal printing activated hide additional invoice options from enterprises"
It's my understanding that these fields in enterprise business details are only used in the thermally printed invoices.

![image](https://user-images.githubusercontent.com/10843056/28705267-616d15b2-73b2-11e7-9568-a91ea88bfc61.png)

If the instance has not got thermal printing activated, can the above fields be hidden? Otherwise people write things here and then wonder why they don't show anywhere

[2017-07-28 09:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=597afd2174314e0019157cf2&i=gh&m=ra)

[2017-07-28 09:00] lin-d-hop commented on #1674
Merged so closing

[2017-07-28 09:00] #1674 closed

[2017-07-28 11:21] lin-d-hop opened #1741 "Simplify the Product Edit Screen"
Based on [this discussion...](https://community.openfoodnetwork.org/t/edit-product-page-ux-improvements/977)

Could we make adjustments to the Edit Product page such that the initial edit page looks like this:

![productdetails-new](https://user-images.githubusercontent.com/8669848/28715270-09589f36-738f-11e7-84f9-86836fadf998.png)

With a number of fields removed and the SEO and Bulk Buy Options

[2017-07-29 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=597bd075befc46001c13ffdd&i=gh&m=ra)

[2017-07-29 11:17] sineadfenton opened #1743 "Producer description missing text on profile selection OFN UK"
When a new enterprise is setting up they're asked to select what profile they want.

The second profile "Producer Shop" still uses a translation. Can the below (if it can..) be deleted and inline with the others which just use p.description in that area

<span class="translation_missing" title="translation missing: en-GB.admin.enterprises.change_type_form.producer_description_text2">Producer Descr

[2017-07-29 11:18] sineadfenton commented on #1743
![](https://github.trello.services/images/mini-trello-icon.png) [Producer Translation Text](https://trello.com/c/jnvIXmZG/71-producer-translation-text)

[2017-07-29 11:26] sineadfenton commented on #1743
@NickWeir63 just as a thought, the second box should say something different right? It says the same as the first, but perhaps
"Add your own products and sell through the Open Food Network"

(Might explain my confusion earlier over on Slack)

[2017-07-30 08:52] OliverUK commented on #1664
Stroudco uses this feature to offer cheaper variants to full members.

[2017-07-30 14:34] Matt-Yorkley commented on #1628
I thought that maybe SASS could handle removing duplicates whilst compiling, but it looks like we'd need a separate CSS optimizer/purger. I've been looking at whether this relates directly to other discussions like #1393 on css-linting with codeclimate, but I think that's a separate issue.

This strange IE hack probably won't be needed if we can properly reduce the vast amounts of duplication of C

[2017-07-31 10:10] sauloperez commented on #1658
The problem is due to the fact that Spree only hides the deleted row once it's been deleted in the backend.

The hidden input id field for that line item it's still in the DOM and thus sent to the backend (among the other line items) when udpating the fees. The backend then simply fails because it can't find that same line item that it just removed.

[2017-07-31 16:52] sauloperez commented on #1658
It gets fixed by https://github.com/coopdevs/spree/pull/1. Once that gets merged we can upgrade to the latest spree fork commit.

[2017-08-02 02:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59813fbbe8cb6f00187fd713&i=gh&m=ra)

[2017-08-02 06:54] oeoeaio opened #1745 "[Stripe] add StripeJS functionality to admin 'new payment' section"
### Overview
Payments can be manually added to orders by enterprises users from the admin section. This does not apply to all payment methods (PayPal Express for instance), however it would be ideal to allow the creation of payments on behalf of customers using Stripe. To do this, we need to use StripeJS to submit card information to Stripe and then use the same token-based flow to create and proc

[2017-08-02 06:54] oeoeaio commented on #1728
I've made the decision to just fix the view so that we don't get the snail. I've created a new issue to cover the separate task of allowing the use of StripeJS to create a new Stripe-based payment from the admin section here: #1745. This is a nice-to-have for now.

[2017-08-02 08:51] enricostano commented on #1657
I think would be nice to have a separate PR to bring it into next release IMHO

[2017-08-02 09:54] oeoeaio commented on #1657
@enricostano #1746

[2017-08-02 10:00] sauloperez commented on #1712
The fix is already in the step 6 main branch. We will ping you @sstead once the branch is deployed again in staging.

[2017-08-02 10:58] enricostano commented on #1743
This should be fixed by https://github.com/openfoodfoundation/openfoodnetwork/pull/1622

[2017-08-02 13:25] enricostano commented on #1648
@sstead @oeoeaio I think we can close this issue, right?

[2017-08-02 13:36] sauloperez commented on #1711
We tried again and it works in our local machines. I'm pretty sure the issue is that we're missing a `MailMethod` in that staging. @oeoeaio can you please tell us what this returns when executed in the rails console?

[code]

We should have at least one mail method set up.

[2017-08-02 13:46] oeoeaio commented on #1648
I think this should be configurable from super admin (?), so we should be able test if it is a genuine issue or not fairly easily...

[2017-08-03 00:01] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=598267eea17ab4001a264ef4&i=gh&m=ra)

[2017-08-03 00:58] oeoeaio opened #1748 "Stripe: date for payments in frontend accounts view is out by one month"
### Overview
The use of `format: :long` to format dates causes the month to be out by one. We're using this format in Api::PaymentSerializer, which is resulting in bad stuff happening in the frontend account view. See #1692 for more detail on the issue.

![image](https://user-images.githubusercontent.com/10843056/28600674-c43488fa-71f6-11e7-82eb-d2e657e4a106.png)

### Tasks
- [x] Use an explicit f

[2017-08-03 02:03] oeoeaio commented on #1711
Sorry I did not see this earlier. I looked through the Bugsnag logs and their is a record that points to an issue with permission to access `wkhtmltopdf`. Looks like unicorn was running in a weird environment, causing a permission problem. This should be resolved.

There is definitely a mail_method there.

[code]

[2017-08-03 06:22] oeoeaio opened #1749 "Stripe: add CVC verification to checkout"
### Overview
This is more for discussion than definite inclusion. Customers can store their card details for later use as per #1456 and #1466. We use Stripe to store the card details, the card details never touch our servers. Stripe sends us back a card_id which we store locally and use to charge the card at a future date. The card id is linked to an OFN user, so at the moment we are just assuming

[2017-08-03 06:43] oeoeaio opened #1750 "Stripe: document setup process in GitHub wiki"
### Overview
We need an explanation of how to set Stripe up on an OFN instance. Add this to the wiki.

### Tasks
- [x] Add documentation to the GitHub wiki detailing the process for Stripe up on an OFN instance.

[2017-08-03 07:29] enricostano commented on #1658
@sstead @sigmundpetersen could you please test this again? We deployed a fix in staging1. Thanks!

[2017-08-03 07:31] enricostano commented on #1693
@sstead @sigmundpetersen could you please test this again? Thanks!

[2017-08-03 08:26] oeoeaio opened #1751 "Standing Orders + Stripe: Ensure that payment totals for standing orders are correct before processing payment"
### Overview
Standing Orders are 'placed' when an order cycle opens, but the customer is not charged until the order cycle closes. In the interim, they are able to make changes to the contents of their order. We need to add some logic to `StandingOrderPlacementJob` to ensure that the payment total for the order is up to date.

### Tasks
- [x] Update the payment total for each Standing Order in `St

[2017-08-03 08:37] oeoeaio opened #1752 "Standing Orders + Stripe: Auto-process Stripe payments for standing orders when order cycle closes"
### Overview
If a standing order is using a credit card stored with Stripe to pay for each order, we need to ensure that this happens. Each standing order using Stripe should already have a card linked to it, as per #1732. The payment total on a given order should be correct as per #1751. All that remains is to make sure that the charge is being attempted, and that we can handle any failures.

###

[2017-08-03 09:24] sauloperez commented on #1712
This is deployed in staging1. Can we test it again @sstead ?

[2017-08-03 09:26] sauloperez commented on #1715
solved by https://github.com/Em-AK/openfoodnetwork/pull/13

[2017-08-03 09:26] #1715 closed

[2017-08-03 09:31] sauloperez commented on #1710
We can't manage to find how our current version of Spree implements this behaviour. Given that it's not big deal we prefer to focus our efforts on more prioritary bugs. That is something that will surely be fixed in Spree 2.0.

Maybe you @morantron can take a look with your frontend wizardry skills?

[2017-08-03 09:38] sauloperez commented on #1696
I just encountered this. I think we should raise the priority of this bug. It's not only a bit flaky in terms of UX but also gives a bad image of how we deal with security.

[2017-08-03 17:39] enricostano commented on #1694
https://github.com/Em-AK/openfoodnetwork/pull/15 should fix this issue

[2017-08-03 17:58] enricostano commented on #1648
I've been able to set the footer image from configuration section with super admin user. Let's close this issue.

![2017-08-03-195530_1366x768_scrot](https://user-images.githubusercontent.com/748971/28935835-0eca0ed6-7886-11e7-8d4b-3240c706d8be.png)

[2017-08-03 17:58] #1648 closed

[2017-08-04 01:05] sstead commented on #1693
Yes @enricostano , this Authorisation Failure is still occurring for me. It is still occuring for New Orders and Editing Orders.

[2017-08-04 01:07] sstead commented on #1712
@sauloperez when I click on the Open All/Close All I get Authorisation Failure. I can add a new adjustment with no problem. Could this be related to the Authorisation Failure as part of https://github.com/openfoodfoundation/openfoodnetwork/issues/1693?
![image](https://user-images.githubusercontent.com/10843056/28950155-ed633220-7904-11e7-8db8-0e46e4c43b64.png)

[2017-08-04 01:13] sstead commented on #1658
@enricostano This issue seems to be fixed :) I can successfully delete line items.

[2017-08-04 01:22] mkllnk opened #1754 "Embedded shops require third-party cookies"
Some browsers deny third-party cookies. And security or privacy aware people change their browser setting to block third-party cookies as well. Embedded shops need third-party cookies to work. There is a work-around to open a new window setting a cookie. I found the following configuration still broken:

* Firefox ESR 52.2.0 with third-party cookies set to "From visited" or "Never"

The Allow Cook

[2017-08-04 01:33] oeoeaio commented on #1750
Done: see [here](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Setting-up-Stripe-on-an-OFN-instance)

[2017-08-04 02:18] sstead commented on #1648
Rob had a look into it and the image on /welcome is not set in SuperAdmin configuration. It's hard coded. We're not sure why the image displays correctly on Production, but not on Staging1 and Staging2. It's not likely to be Spree related.

And I can confirm the text at /welcome is fixed- instead of the incorrect 'producer description Text2'

[2017-08-04 02:55] oeoeaio opened #1755 "Stripe: use Stripe Elements instead of StripeJS"
### Overview
It appears that in the time that we have been developing the Stripe integration for the OFN, the component that we originally selected for collection of and transmission of card details (StripeJS) has fallen out of favour somewhat. Looking over Stripe's compliance guide (https://stripe.com/docs/security#pci-dss-guidelines) it seems that compliance for sites using StripeJS with a custo

[2017-08-04 03:00] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::InternalServerError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=5983e33bf1823d0017351bb1&i=gh&m=ra)

[2017-08-04 04:41] sstead commented on #1741
I've had another user get confused in the Edit Product area. Specifically she was trying to add variants... see image below with suggestion for how to improve...
![image](https://user-images.githubusercontent.com/10843056/28954486-0b03f29c-7923-11e7-9273-11a46b0ca775.png)

[2017-08-04 04:58] sstead opened #1756 "Navigation around Enterprise Settings and Shipping/Payment methods"
Navigation around the Enterprise Settings is not always intuitive. This is one of the first places a user goes, so we should make it less confusing.

Use case: If I'm in Edit Enterprise > Contact details and I make some changes and click update, the page reloads, but I'm back on Primary Details. I would expect to be taken to the contact details page refreshed.

Use case: I'm setting up shipping an

[2017-08-04 05:40] sstead commented on #1462
@oeoeaio
![image](https://user-images.githubusercontent.com/10843056/28955525-a99ffa02-792a-11e7-9fe1-2e11451835aa.png)

![image](https://user-images.githubusercontent.com/10843056/28955603-3716891e-792b-11e7-9037-69276b4aef34.png)

[2017-08-04 07:23] sauloperez commented on #1693
This seems to be related to https://github.com/Em-AK/openfoodnetwork/pull/15

[2017-08-04 07:31] sauloperez commented on #1711
@sstead can you take a look know? I'm pretty sure this is a false alarm.

[2017-08-04 07:36] sstead commented on #1711
@sauloperez  the Authorisation Failure error is still occuring :(

[2017-08-04 07:41] sauloperez commented on #1711
Also related to https://github.com/openfoodfoundation/openfoodnetwork/issues/1693

[2017-08-04 08:05] oeoeaio commented on #1755
@stveep if you're looking for an issue to pick up and there is budget available I think you're probably best placed to have a look at this.

[2017-08-04 09:23] sauloperez commented on #1712
Definitely related to https://github.com/openfoodfoundation/openfoodnetwork/issues/1693

[2017-08-04 10:38] Matt-Yorkley commented on #1754
Okay, maybe it needs some adjustment. This workaround fixes the issue for the default Safari and iOS cookie blocking policies, but if a user has adjusted their settings manually to block third party cookies entirely they will need to manually enable them again or whitelist the site.

I think in this case where third party cookies are fully blocked, getting the user to visit the site wouldn't chang

[2017-08-04 11:04] mkllnk commented on #1754
Yes, it was just my browser setting that needed to be changed manually. Can we detect if the user tried to solve the problem already? I would add the option to go to the OFN then. A not embedded shop is better than a broken shop.

[2017-08-04 11:15] Matt-Yorkley commented on #1754
Unfortunately I think we can't detect if they tried to solve it already, as if they have the cookies fully blocked we can't save anything between page loads with sessions or cookies, so it will always appear to be the first attempt. Unless there's another solution?

[2017-08-04 11:37] enricostano commented on #1693
@sstead this should be fixed now in staging1. Could you please test it again? Thanks!

[2017-08-04 11:41] enricostano commented on #1658
Thanks @sstead for the help 🙏

[2017-08-04 11:41] #1658 closed

[2017-08-04 11:57] lin-d-hop commented on #1562
Closing as merged

[2017-08-04 13:10] enricostano commented on #1712
Nope, it seems related to something else

[2017-08-04 13:18] enricostano commented on #1647
@mkllnk @oeoeaio I don't think this is related to Spree upgrade, can we close it or move out of the step 6 milestone?

[2017-08-04 15:28] Matt-Yorkley commented on #1614
I'm pretty sure this is now covered by a migration query in #1690.

[2017-08-06 13:18] stveep commented on #1749
Will be added as part of #1755

[2017-08-06 13:18] #1749 closed

[2017-08-09 17:42] Matt-Yorkley opened #1759 "Confusing UX on Delete Properties"
Update by Myriam 21.05.2018 to clarify what needs to be done.

## Description
While editing the product, there is an option to view 'PRODUCT PROPERTIES' This then shows any properties that have been assigned to the product. To delete a property you MUST click on the bin icon to the right of the product. Clicking the 'x' beside the property name does not result in a permanent removal of the propert

[2017-08-09 18:52] Matt-Yorkley commented on #1491
For reference this is apparently not a duplicate of #1335, and still occurs whilst `allow_backorders` is disabled.

[2017-08-09 19:31] Matt-Yorkley commented on #1759
@NickWeir63 It seems to work fine as long as you press the update button after adding or deleting properties.

[2017-08-09 22:44] Matt-Yorkley commented on #1491
Nope, this is definitely fixed by disabling `allow_backorders`.

[2017-08-10 07:56] sineadfenton commented on #1759
Hey @Matt-Yorkley,

We've just had a chat about this and all okay in terms of functionality, it's a UX issue.

"To remove a property we need to click the bin icon which is way over to the right of the property and that clicking the X does not make a permanent change" - users have been finding this quite confusing.

I believe @NickWeir63 will add some notes here to outline how this may work better

[2017-08-10 08:05] mkllnk commented on #1647
This is weird. I just searched for "Gumbo beet greens corn soko endive gumbo gourd" on Google and found 45.000 demo stores that seem to run on Wordpress. I'm wondering if that's a version of "Lorem ipsum".

It's not in the code base, it's not in the database, could it be something that Sally's browser auto-filled?

I don't like to make decisions on things I don't understand, but yes, I guess we ca

[2017-08-10 08:54] sineadfenton commented on #1759
![](https://github.trello.services/images/mini-trello-icon.png) [Product properties not deleting successfully](https://trello.com/c/B0ZE8H5t/77-product-properties-not-deleting-successfully)

[2017-08-10 09:11] NickWeir63 commented on #1759
@Matt-Yorkley sorry to waste your time on this.  I have put [some notes up here](https://community.openfoodnetwork.org.uk/t/deleting-product-properties/194) to help other users who are confused by this.  In the long term it would be good if the bin icon could be moved to the left (between the 'name' box and the 'description' box (which is rarely used so looks like a blank space)) so that the bin i

[2017-08-10 09:27] lin-d-hop commented on #1491
@sstead can confirm it is not.

[2017-08-10 09:30] lin-d-hop commented on #1491
Here is the bug spelled out:
If I had an item in my cart, then I logged out, then the item was removed from the OC (either just that item or the supplier), then I log in and go to the shopfront- my cart hangs and I'm unable to proceed through checkout. If I instead login and click straight on the edit my cart dropdown link, I can proceed through checkout and purchase something that's no longer in

[2017-08-11 01:10] mkllnk commented on #1754
After cookies have been enabled, we need to reload the shop page, right? If we append a URL parameter to indicate that we tried to set a cookie already, then we know that it failed.

[2017-08-11 02:42] daniellemoorhead commented on #1647
@sstead see above ☝️

[2017-08-11 02:50] sstead commented on #1711
I just tested 1693 and it is fixed. But this error remains.

[2017-08-11 02:55] sstead commented on #1694
Yes, this is now fixed

[2017-08-11 03:01] sstead commented on #1712
I just tested 1693 and it is fixed. But this error remains.

[2017-08-11 03:08] #1562 closed

[2017-08-11 03:50] daniellemoorhead commented on #1696
@sauloperez this should be fixed as part of the work @Matt-Yorkley and @ltrls are doing implementing email confirmation functionality.

[2017-08-11 04:00] daniellemoorhead commented on #1743
#1622 was merged 21 days ago (and part of the July dot point release) and this issue was created 13 days ago.

@sineadfenton are you guys on the latest version yet?

If you are and this is still occurring then #1622 doesn't fix it. If you aren't then I would suggest getting the updated version onto production and then test if it's still a problem :)

[2017-08-11 04:04] sstead opened #1760 "Instagram links not working"
## Description
In Enterprise Setting > Social there is a field to insert an Instagram link. This link will appear on enterprise profiles. If the instagram page is https://www.instagram.com/happyfarm/ the link needs to be in the format "happyfarm".
![image](https://user-images.githubusercontent.com/10843056/48240835-6d659a00-e428-11e8-9e10-c5c72dbca249.png)
Currently there is no pointer telling the

[2017-08-11 04:19] daniellemoorhead commented on #1745
Given StripeJS is going to be replaced by Elements ( #1755 ) is this issue impacted in terms of the defined solution? Ping @oeoeaio @stveep

[2017-08-11 04:26] daniellemoorhead commented on #1664
@oeoeaio is unfortunately away and not back till August 30th. @mkllnk would you be able to shed any light on this?

[2017-08-11 04:32] #1526 closed

[2017-08-11 04:51] sstead commented on #1603
No sorry, I'm not sure what could cause this

[2017-08-11 04:53] sstead commented on #1081
The warning message is an improvement. But even better would be to remove/disable selection of Paypal as a payment method. Because people who haven't seen the warning can still get the Snail page- best to prevent this.

[2017-08-11 04:54] daniellemoorhead commented on #1465
@sineadfenton would suggest closing #1702 if it's a duplicate of this.

[2017-08-11 04:54] daniellemoorhead commented on #1465
@enricostano @sauloperez any insights on this for @Matt-Yorkley given how in depth you've gone into the code these past few months? @mkllnk how about you?

[2017-08-11 05:00] daniellemoorhead commented on #1718
@kirstenalarsen this is a pretty bad experience for our users. Should we get it up the to do list and paid for out of AU funds?

[2017-08-11 05:03] mkllnk opened #1761 "Missing translations in all.js"
@lin-d-hop encountered a broken sign-up form on the UK production server. It seems related to some missing translations in the compiled `all.js` file. We see the same on the Australian production server, but our sign-up form is working. From the file:
[code]

There are eight `translation missing` errors in that file.

The visible errors on the UK production servers come from missing translations w

[2017-08-11 05:13] daniellemoorhead commented on #1719
Current functionality: click off the field, which then activates the update button.

Expected: update button activates when user starts typing in the field.

[2017-08-11 05:28] daniellemoorhead commented on #1721
Fixed so closing.

[2017-08-11 05:28] #1721 closed

[2017-08-11 05:48] daniellemoorhead commented on #1761
Ping @lin-d-hop @Matt-Yorkley @sineadfenton

[2017-08-11 07:44] sauloperez commented on #1712
Yep @sstead, and thanks again for testing :tada: !

The plan is now to remove the feature completely as it seems it's not fully implemented until Spree 2.0. Better to have all of it than trying to fix something unfinished. We will let you know when you can test again.

[2017-08-11 07:46] sauloperez commented on #1711
:see_no_evil: I hate these issues that work in dev and don't in staging...

[2017-08-11 07:52] enricostano commented on #1693
Thanks @sstead!

[2017-08-11 07:52] #1693 closed

[2017-08-11 07:53] enricostano commented on #1694
Go go go! Thanks!

[2017-08-11 07:53] #1694 closed

[2017-08-11 07:55] lin-d-hop commented on #1761
Thanks for looking into this @mkllnk. Personally I am still stumped. So is @Matt-Yorkley.

Since this is affecting no other servers I think UK configuration is not playing nice with the new i18n-js gem. Definitely not solved by rebuilding assets, clearing cache etc.

[2017-08-11 08:38] lin-d-hop commented on #1761
@Matt-Yorkley also tried some things on UK staging in this PR
https://github.com/openfoodfoundation/openfoodnetwork/pull/1757

[2017-08-11 09:21] kirstenalarsen commented on #1718
do we have a milestone or project or something that is ‘aus priorities’? If so, can we put it there and discuss whether there are any ‘aussie funds’ w serenity next week?

[2017-08-11 09:46] enricostano commented on #1657
Thanks @oeoeaio !

[2017-08-11 10:03] enricostano commented on #1711
From staging log:
[code]

[2017-08-11 14:31] enricostano commented on #1711
The root cause is that when we load our `wicked_pdf` initializer in `staging` environment Bundler returns that weird error and we pass it along as if it was a path...
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/config/initializers/wicked_pdf.rb#L4

[2017-08-11 14:46] enricostano opened #1762 "Change test strategy"
[code]
with specific `order` instance.

Introduced in Spree upgrade step 6 https://github.com/Em-AK/openfoodnetwork/pull/16/files#diff-a608492539c84613532313634418dd1dR180

https://github.com/Em-AK/openfoodnetwork/pull/16

[2017-08-12 00:01] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=598e45628c9d35001c2dd98a&i=gh&m=ra)

[2017-08-12 07:56] sineadfenton commented on #1761
![](https://github.trello.services/images/mini-trello-icon.png) [Translation Text](https://trello.com/c/mJnXNtVt/82-translation-text)

[2017-08-12 08:37] sineadfenton commented on #1702
Duplicate

[2017-08-12 08:39] sineadfenton commented on #1465
![](https://github.trello.services/images/mini-trello-icon.png) [Checkout Page Jumps to the Bottom](https://trello.com/c/FfnczmVi/60-checkout-page-jumps-to-the-bottom)

[2017-08-12 08:42] sineadfenton commented on #1603
Are we able to compare sections of the code for each platform to see what the discrepancies might be ?

[2017-08-12 09:21] jeronimo commented on #1761
Ok. So the problem is that registration page uses different layout which does not include
<img width="466" alt="screen shot 2017-08-12 at 10 05 37" src="https://user-images.githubusercontent.com/88912/29239459-1710fa74-7f47-11e7-938c-0b7a19e2423b.png">
partial `_i18n_script.html.haml`

It exists in `darkswarm` and `admin`
<img width="421" alt="screen shot 2017-08-12 at 10 06 41" src="https://user-

[2017-08-12 13:04] lin-d-hop commented on #1761
Officially fixed by @jeronimo
#1765

Just for clarity:
#1764 is a patch for v1.8.13.
#1765 is on current master

Since no one else is experiencing the problem is is probably on to just make sure #1765 is merged before the next release.

Thanks everyone for putting the time in to fix this. This has been stressing me out for a week!

[2017-08-12 13:17] lin-d-hop opened #1766 "Enterprise Registration - Scroll on first step"
Stage one of the enterprise registration is not intuitive.

On my 13" screen you cannot see the Continue button at all. It is totally hidden making it unclear to the user what the next step is after they tick the box.

![register](https://user-images.githubusercontent.com/8669848/29240988-68f04702-7f68-11e7-8932-035a62fae89c.png)

Can this be changed so that there is NO scroll on this screen, such

[2017-08-12 15:51] #1541 closed

[2017-08-12 16:01] lin-d-hop commented on #1603
@sineadfenton the code is the same. We all deploy from the same repo. Likely issue is server settings. Or possibly gem configuration if images are resized on upload...

[2017-08-13 09:34] sineadfenton commented on #1743
All good on this one
![image](https://user-images.githubusercontent.com/28807449/29248569-05a786c8-8013-11e7-9835-4ee689b3b0c8.png)

[2017-08-13 09:34] #1743 closed

[2017-08-13 18:31] Matt-Yorkley commented on #1696
Actually @daniellemoorhead I think this one is ok to go through as a standalone bugfix. It's a small amount of code and it's not really tied up with the other email branches.

[2017-08-13 18:41] Matt-Yorkley commented on #1465
I'm pretty sure this is a duplicate of the issue @stveep just fixed with #1747.

[2017-08-13 18:41] #1465 closed

[2017-08-14 08:15] sauloperez commented on #1766
I experience the same problem. Is there any reason why we placed the content in a fixed-height box in the first place? I'd remove the limitation of the light grey box and allow the content to fill the page as usual.

[2017-08-14 10:34] sauloperez commented on #1711
@oeoeaio @mkllnk I think we found the underlying reason why bundler raises a warning when finding `wkhtmltopdf`.

According to https://github.com/bundler/bundler/issues/5371 this error shows up when the user doesn't have a $HOME dir. This seems to be our problem as well. From running `ps aux` in staging1 we see:

[code]

We checked the `init.d` file but we don't see where the `1001` user is specif

[2017-08-14 10:34] enricostano commented on #1711
Extracted from `/etc/passwd`:
[code]

[2017-08-14 10:54] sauloperez commented on #1711
Seems to be related to this issue: https://github.com/bundler/bundler/issues/5371

[2017-08-14 12:14] sauloperez commented on #1711
Looks like the https://github.com/openfoodfoundation/ofn-install/blob/master/roles/webserver/templates/unicorn_init.j2 is broken. When executing it `ENV` contains:

[code]

When executing `RAILS_ENV=staging bundle exec rails s` instead:

[code]

Since when booting the app through init.d `HOME` is not defined ruby defaults to `/` as defined in https://github.com/rubygems/rubygems/blob/master/lib/ru

[2017-08-14 13:34] enricostano commented on #1711
It doesn't seem something related to Spree upgrade, maybe we should try to deploy step 6 branch to another staging server and give it a try.

[2017-08-14 13:49] sauloperez commented on #1712
This is deployed already in https://staging1.openfood.com.au. Can you test again, please?

[2017-08-14 13:49] sauloperez commented on #1710
This is deployed already in https://staging1.openfood.com.au. Can you test again, please?

[2017-08-14 16:05] enricostano commented on #1762
Thanks @sauloperez for fixing this! https://github.com/Em-AK/openfoodnetwork/pull/18

[2017-08-14 16:05] #1762 closed

[2017-08-15 00:32] sstead commented on #1712
Yes, these buttons are removed, which fixes the problem.

[2017-08-15 00:33] sstead commented on #1710
Yes, this is fixed.

[2017-08-15 07:05] sineadfenton commented on #1418
Hey All,

Have done some testing on this in IE11 and it is still an issue where the picture continues to render incorrectly.

It seems like this might be a wider issue given the comments in #1475. Do we think this is something that one of the newer developers can look into?

Cheers,

Sinead

[2017-08-15 07:06] sineadfenton commented on #1418
![](https://github.trello.services/images/mini-trello-icon.png) [Photo Display](https://trello.com/c/kiI8xLSh/41-photo-display)

[2017-08-15 07:06] sineadfenton commented on #1475
![](https://github.trello.services/images/mini-trello-icon.png) [Photo Display](https://trello.com/c/kiI8xLSh/41-photo-display)

[2017-08-15 08:23] sauloperez commented on #1712
thanks a lot @sstead !

[2017-08-15 08:23] #1712 closed

[2017-08-15 08:24] sauloperez commented on #1710
thanks a lot for the testing @sstead !

[2017-08-15 08:24] #1710 closed

[2017-08-15 17:47] myriamboure commented on #1539
@kirstenalarsen @lin-d-hop @sauloperez any idea how this can move forward ? Our user don't manage to charge his data and he is a bit annoyed...  @pacodelaluna can we try to increase the server timeout as proposed by Lynne meanwhile ? Am I the only one to have this issue ? This would be pretty surprising, I guess you have tons of data in Aus so you should have the same issue, no ? @sstead no worrie

[2017-08-16 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59939924e3fa3300180fa63f&i=gh&m=ra)

[2017-08-16 01:15] kirstenalarsen commented on #1539
I would recommend trying increasing the server timeout definitely to start
with . .

On 16 August 2017 at 03:47, Myriam <notifications@github.com> wrote:

[2017-08-16 06:03] mkllnk commented on #1761
Great. That fix for the registration got merged. But there are still missing translations in the `all.js` file. There have been no reports to visible issues yet, but it is something that should be fixed. So I'm not closing this yet.

[2017-08-16 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5993ed812dde16001842e556&i=gh&m=ra)

[2017-08-16 07:49] mkllnk commented on #1664
This is the first time for me to look into the tag rule feature. I can't see a feature spec covering this behaviour. That would be very helpful to reproduce this.

Products do get filtered in `app/controllers/shop_controller.rb`. There is an unused method `filtered_json` which should either be used or removed.

The `filter` method passes the product data to the tag filter rules. I think the proble

[2017-08-17 00:01] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5994dcde9007e600189fb83d&i=gh&m=ra)

[2017-08-17 03:07] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=59950855d501eb001969d2da&i=gh&m=ra)

[2017-08-17 08:06] sineadfenton commented on #1760
![](https://github.trello.services/images/mini-trello-icon.png) [Instructions on social page](https://trello.com/c/leuDlICS/81-instructions-on-social-page)

[2017-08-17 08:22] sineadfenton commented on #1760
Hey,

I'd agree here and think it would be a quick fix that saves a lot of support time (have spent a while rectify lots of enterprises who have got this wrong)

Our suggestions here are also to have the tooltip directing users how to enter this information

S

[2017-08-17 08:51] Matt-Yorkley commented on #1159
I have a branch for this now awaiting #1768. I've added the check to both the "Next" button in the details section and the final submit button.

Registered but unconfirmed users will also see an additional "please confirm your email" type message if they subsequently try to log in after being prompted.

[2017-08-17 09:01] mkllnk commented on #1711
I just had a long chat with Enrico about this and I looked into the configuration of our staging and production servers. It seems like this is a server issue happening on both of our staging servers independent of the Spree upgrade. Our production server runs some different versions of software and has a different configuration as well.

I will take this issue out of the Spree milestone, but we ne

[2017-08-17 10:08] sineadfenton commented on #1738
![](https://github.trello.services/images/mini-trello-icon.png) [Invoices & Second Page](https://trello.com/c/jYZOFZNa/83-invoices-second-page)

[2017-08-17 10:19] enricostano opened #1769 "Final test against re-provisioned AUS staging"
In https://github.com/openfoodfoundation/openfoodnetwork/issues/1711 we found out that the AUS staging server is out of date compared to the latest `ofn-istall` scripts. This was causing a subtle issue that took us quite a while to understand.

After AUS staging has been provisioned again with latest `ofn-install` scripts we would like to test step 6 using a snapshot of AUS production data. We alr

[2017-08-18 03:06] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5996583dfa96040018ed83b9&i=gh&m=ra)

[2017-08-18 04:04] #1657 closed

[2017-08-18 04:20] daniellemoorhead commented on #1766
I think it's fair to say that there wouldn't be a particularly good reason, so let's change it.

Could we but the angular for newbies label on this?

[2017-08-18 04:37] sstead opened #1770 "Property and category badges appear clickable in product description modals in shops"
The property and category badges in product description modals, within shops appear clickable even when there's no description attached. The property badge should be clickable IF there's a product description attached (Correct behaviour is that when the mouse hovers over the badge the description pops up). The category badge should never be clickable. See below.
![image](https://user-images.github

[2017-08-18 04:39] daniellemoorhead commented on #1761
Closed this as PR merged.

[2017-08-18 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5996745ea90760001807aac3&i=gh&m=ra)

[2017-08-18 05:03] #1702 closed

[2017-08-18 05:04] daniellemoorhead commented on #1696
PR merged so closing issue

[2017-08-18 05:06] #1696 closed

[2017-08-18 05:15] daniellemoorhead commented on #1755
I have a question that @stveep maybe you can answer while @oeoeaio is away - does this swap-over from .js to Element need to happen prior to launching version 1, is it on the critical path? Has the interface and connection as a new payment method already been built to allow it to go live (and therefore in use by customers) prior to swapping over?

As far as I understand @sstead has already tested

[2017-08-18 06:45] stveep commented on #1745
I can implement the Elements form on this page instead, the rest of the issue will be as above

[2017-08-18 06:49] stveep commented on #1755
I don't think it's absolutely required to launch - the old API (.js v2 as we previously implemented) will still work. Rob thought the new one will be better for compliance, but it will still work. The new API (.js v3 "Elements") uses a form supplied by Stripe to enter card details and also provides CVC verification as a side effect of that. As long as your payments are actually going through witho

[2017-08-18 11:47] sauloperez commented on #1766
I'm not sure there's even angular there. It seems to be a CSS only thing.

[2017-08-18 12:27] sigmundpetersen commented on #1664
I think we have a report of the same issue in Scandinavia. I'll add our label. Is it a problem that this is in the UK milestone, is it probable that it will be "hidden away" and lesser chance of getting it on the next dot point release? @daniellemoorhead maybe we should have a bigger discussion on this on discourse, regarding milestones, projects and priorities?

[2017-08-19 00:01] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59977fdb0a73e70018bf9bc5&i=gh&m=ra)

[2017-08-19 03:11] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=5997ac5cc049c6001790f449&i=gh&m=ra)

[2017-08-19 06:16] lin-d-hop commented on #1755
Can stripe exist as a payment method outside of standing orders @stveep? That is exciting for a few users in itself!

[2017-08-19 08:51] stveep commented on #1755
Yes, it can be used to take credit card payments if an enterprise has connected their Stripe account to the OFN instance Stripe account (done on the admin payment methods page) - that gives the instance authorisation to charge users on the enterprise's behalf. The payments go into the enterprise Stripe account

[2017-08-19 18:13] myriamboure opened #1772 "New missing translations"
When testing on French staging before upgrade, I noticed that there are still a lot of untranslated things, but just reporting here some new annoying:

In https://staging.openfoodfrance.fr/admin/enterprise_relationships

![screenshot from 2017-08-19 20-09-35](https://user-images.githubusercontent.com/8135376/29489169-b4831214-851a-11e7-93b5-8311d903bd0f.png)

Can you take care of that @pacodelalun

[2017-08-19 18:31] myriamboure commented on #1772
I add also this one in inventory:
https://staging.openfoodfrance.fr/admin/inventory

![screenshot from 2017-08-19 20-15-57](https://user-images.githubusercontent.com/8135376/29489188-4f7e9914-851b-11e7-8c33-b957d68dbf3d.png)

[2017-08-19 18:38] myriamboure commented on #1772
Can it be linked to https://github.com/openfoodfoundation/openfoodnetwork/pull/1735 ? I don't think so, just mentionning it in case...

Oups I just realized there were lots of new strings in Transifex, I guess that will solve this issue :-o I'll do those translation tomorrow @pacodelaluna so we can test if that work, sorry, I should have checked first, still a bit disconnected, week-end work :-p

[2017-08-19 19:06] myriamboure opened #1773 "Desindex unvisible shops in google search"
When I search by the name an entreprise that has an unvisible shop in Google, it appears as first link... if they are unvisible, this is because they don't want to be search... can we desindex the unvisible shops in Google/other search tools ?

[2017-08-21 08:57] enricostano commented on #1772
Related https://github.com/openfoodfoundation/openfoodnetwork/pull/1771

[2017-08-22 13:14] enricostano opened #1774 "Paperclip attachments location"
After deploying the last release of OFN to our production environment https://alpha.katuma.org we discovered that all the images created by the users were gone. The links were broken and were pointing to non existent directories under `/public/images/enterprises`.

We discovered that in the models with Paperclip attachments we are specifying a `path` to `/public/images`: https://github.com/openfoo

[2017-08-22 13:23] sigmundpetersen commented on #1774
Scandinavia use S3

[2017-08-23 00:14] kirstenalarsen commented on #1774
I believe Aus also uses S3 . . or something other than paperclip . . @mkllnk @RohanM  @oeoeaio ?

[2017-08-23 02:56] mkllnk commented on #1774
Yes, we use S3.

@kirstenalarsen paperclip is the software that allows us to store the images on S3 or locally, depending on the configuration.

[2017-08-23 03:10] mkllnk commented on #1774
@enricostano Why do you loose the content? Does the `public` directory get emptied on deploy? Are you using `ofn-install` for deploys?

The ofn-install scripts seem to assume that images are stored in `system`. The last change of this was by Rohan three years ago. I guess we didn't notice that this was broken since we use S3.

So your PR makes sure that local images are stored in the shared folder

[2017-08-23 05:07] daniellemoorhead commented on #1664
@sigmundpetersen it's all rather ad-hoc at the moment, and pretty much solely based on issues being picked up by instances who have funds for development (and devs), and then the AU team does higher level support, code review and merge. AU doesn't have funds to be able to pick up and run with this stuff ourselves. There's a core co-budget bucket which is pretty small and is managed by @kirstenalar

[2017-08-23 05:08] mkllnk commented on #1774
@enricostano

I think it is a setting in the database. We also had a weird thing that staging1 was access the S3 bucket of staging2. Same setting in Aus production. But I haven't really looked into the code to find out the details.

[2017-08-23 05:13] daniellemoorhead commented on #1664
@Matt-Yorkley are the notes that @mkllnk added above enough for you to be able to get into this bug or do we have to wait for @oeoeaio to return?

[2017-08-23 05:35] daniellemoorhead commented on #1755
@lin-d-hop it definitely is going to be released separately to subscriptions/standing orders. That's why I asked about using v2 rather than v3 given it's already working, has been built, and should be ready to go in the next week (as long as @sstead testing doesn't break anything).

[2017-08-23 06:42] sigmundpetersen commented on #1664
Yeah I'm just thinking that everything that is going to be released in August should be in the [August dot point release](https://github.com/openfoodfoundation/openfoodnetwork/milestone/57)? AFAIK an issue can be in only one milestone. But I guess fixed bugs get merged to master either way :)

So it's just to get a clearer view of what to expect for the next release and that it gets into release n

[2017-08-23 07:41] daniellemoorhead commented on #1664
No worries @sigmundpetersen :)

For some initial clarity:

@sstead is the release notes queen, she looks at what is closed within that month's dot point release milestone and writes them up to coincide with it going live. They all live [here](https://community.openfoodnetwork.org/c/releases).

We have no idea each month what will get developed and pushed through to done. Basically, the dot point r

[2017-08-23 08:31] sauloperez commented on #1774
Nope. The problem is that the content uploaded on a previous release's public images folder (something like `releases/<timestamp_of_the_deploy>/public/images`) is not available to any new release so, image URLs are then broken.

Yes, we do

Unfortunately, we configure `public/images` in https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/enterprise.rb#L55

That is why as @

[2017-08-23 15:42] Matt-Yorkley commented on #1563
@lin-d-hop We might need a rethink on the initial UI design. When a shop is selected it shows up in the top navigation bar, leaving very limited horizontal real estate on the right hand side.

![screenshot from 2017-08-23 16-41-28](https://user-images.githubusercontent.com/9029026/29624829-057f1a6e-8822-11e7-912f-6a1020d5ee95.png)

[2017-08-23 15:56] enricostano commented on #1563
@mllocs thoughts?

[2017-08-23 19:20] sigmundpetersen commented on #1563
Could we be considering a "hamburger" menu where we could put more of the entries like Log in, About, Language switcher and future meta features?

[2017-08-23 19:22] sigmundpetersen commented on #1563
Wait this picture looks different from ours, we have the wheel where your "iniciar de sesion" is

[2017-08-23 20:00] Matt-Yorkley commented on #1563
The wheel/cog shows up when logged in.

[2017-08-23 20:11] sigmundpetersen commented on #1563
Of course. So can we consider putting the cog there when not logged in as well and put the switcher in the cog?

[2017-08-25 02:00] daniellemoorhead commented on #1761
@mkllnk I assume this can't be closed yet due to the remaining translations not being done yet? If this is the case can you please change the milestone to September? Thanks.

[2017-08-25 06:47] mkllnk commented on #1761
True, this still needs fixing, but at least all visible issues are fixed.

[2017-08-25 14:14] sseerrggii opened #1777 "Email copy/paste bug"
We know that [this commit](https://github.com/openfoodfoundation/openfoodnetwork/commit/b6ffb863ce74efa2259d87f7a58508a6d855d4cf) was done to avoid spam, but it only works well for people who use email clients. Although in many cases copy/paste is used and in that case it doesn't work.

In the example I copy the producer email `ofn1@mailinator.com` and paste `moc.rotaniliam@1nfo`, click on the GIF

[2017-08-29 09:21] simoneluijckx commented on #1462
- [ ] Check that creating a Stripe-based payment method is possible
**Y:** clicking on 'connect with Stripe' leads to 'I agree' pop-up with info text
**?:** Will people be thrown back by this: "Please note that you will need to maintain your own Stripe account, pay the fees Stripe charges and handle any chargebacks and customer service yourself." --> Maybe the advantage of Stripe can be explained

[2017-08-29 10:35] simoneluijckx commented on #1462
- [ ] Store some test credit cards against a user account
**Y:** works perfectly
![image](https://user-images.githubusercontent.com/31434588/29816930-772b4be8-8cf9-11e7-959d-1168a08b747b.png)

[2017-08-29 11:39] sseerrggii opened #1778 "Missing translations in order cycle page"
![2017-08-29-133521_1920x1080_scrot](https://user-images.githubusercontent.com/2297137/29819086-67e86830-8cbf-11e7-97c6-8a6833c6bb3f.png)

[2017-08-29 11:40] sauloperez commented on #1778
The `selected` copy in the `productos` column is also missing

[2017-08-29 11:56] sseerrggii opened #1779 "Missing translations in register enterprise"
![contact0](https://user-images.githubusercontent.com/2297137/29819639-c86c66fa-8cc1-11e7-8a0e-9153eb7dc9fa.png)
![contact](https://user-images.githubusercontent.com/2297137/29819641-ca926808-8cc1-11e7-9873-ba82ce5fc954.png)
![contact2](https://user-images.githubusercontent.com/2297137/29819642-cca03a80-8cc1-11e7-94b5-6a167240ba19.png)

[2017-08-29 12:00] sseerrggii opened #1780 "Missing translations in account view"
![2017-08-29-135753_1920x1080_scrot](https://user-images.githubusercontent.com/2297137/29819779-7198239a-8cc2-11e7-93e7-221d30ca33c7.png)

[2017-08-29 12:10] sseerrggii opened #1781 "Localization time to order cycle end"
![2017-08-29-140218_1920x1080_scrot](https://user-images.githubusercontent.com/2297137/29820139-b54377ce-8cc3-11e7-82a6-8e3e797361e7.png)

[2017-08-29 12:11] simoneluijckx commented on #1462
- [ ] Use stored credit cards to pay for orders
**Y:** When I'm at checkout I can choose stored credit cards or add a new card
**Y:** I can pay!
![image](https://user-images.githubusercontent.com/31434588/29820179-f51da534-8d06-11e7-8f47-c9c09b9788d6.png)

[2017-08-29 12:25] simoneluijckx commented on #1462
- [ ] Account interface
**Y:** The order page has the correct details (incl the right date)
![image](https://user-images.githubusercontent.com/31434588/29820461-de9befb8-8d07-11e7-8a2b-fa7628f76d73.png)
**N:** When clicking on the ordernumber (or any other details page) it leads me to the order details: stating the date a month in the future
![image](https://user-images.githubusercontent.com/31434

[2017-08-29 15:27] sauloperez opened #1782 "Enterprises in the same address get overlapped in map"
When multiple enterprises have the same address, it's impossible to find them all in the map. Their markers get totally overlapped hiding all enterprises but the last one that was created.

At maximum zoom other markers don't show up:
![mapa](https://user-images.githubusercontent.com/762088/29828838-247324cc-8cde-11e7-8f8b-4e0572ab99bb.png)

So, can only click the last one of them:
![mapa_capfogue

[2017-08-29 15:32] enricostano commented on #1782
https://stackoverflow.com/questions/14248365/how-to-render-multiple-markers-at-the-exact-same-coordinates-in-google-maps-api

maybe?

[2017-08-29 15:36] sauloperez commented on #1782
Perhaps it's better to allow users to introduce latitude and longitude manually to fix these cases but that might involve more work than a pure JS solution.

[2017-08-29 17:22] Morantron commented on #1782
![](https://media.giphy.com/media/3o7btV5GAWaGkwjTrO/giphy.gif)

[2017-08-29 19:03] Morantron commented on #1782
Looks like google maps has some clustering options thingies

![image](https://user-images.githubusercontent.com/3304507/29839106-652457ba-8cfd-11e7-86f2-fb6fc179fc64.png)

( still need to center the image properly :sweat_smile: )

Maybe the modal when clicking on a marker can be expanded to showing more than one ( in the case of having many in the _exact same location_ )

[2017-08-29 20:29] jdiejim commented on #1722
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-08-30 00:10] sstead opened #1783 "Embedding group pages"
Users want to be able to embed group pages into their own websites. This feature should be based on the existing work around [embedding shopfronts](https://github.com/openfoodfoundation/openfoodnetwork/pull/1557), with some modifications.

@mkllnk I understand the plan is that you should spend 2 hours on this, and see how far we can get. I've listed some 'nice to have' elements, but it's ok if the

[2017-08-30 00:13] sstead commented on #1722
All yours @jdiejim !

[2017-08-30 00:18] daniellemoorhead commented on #1745
@stveep I spoke to @oeoeaio today and this isn't on the critical path for releasing Stripe first release. If you get a chance to do it then yay, we'll either add it into this release (which will hopefully be this week) or make it part of the dot point release for the end of september.

tl;dr: no rush on this, at your leisure :)

[2017-08-30 01:30] daniellemoorhead commented on #1563
Reading through this, I'm hoping the mobile version hamburger menu is being included in the design considerations for this switcher?

Thinking about it, might be worth going down the same path as many other sites and implement the hamburger menu on the desktop version. That way we don't constantly have to worry about cluttering the nav bar / fitting things in....

[2017-08-30 01:33] daniellemoorhead commented on #1761
REMAINING TO BE DONE FOR THIS ISSUE:

[2017-08-30 02:32] daniellemoorhead commented on #1722
Hi @jdiejim, good to have you onboard!

Not sure if you've been invited to our slack team by anyone on here (or if you've come through to the repository via chatting to someone about getting involved), but if you need an invite send an email to hello@openfoodnetwork.org and @sstead can set you up. Cheers 😄

[2017-08-30 06:32] sstead commented on #1462
Some other things spotted this morning:
![image](https://user-images.githubusercontent.com/10843056/29858355-7a655aae-8da0-11e7-9dd6-cdc40ec04216.png)

![image](https://user-images.githubusercontent.com/10843056/29858356-7f9b06f4-8da0-11e7-9c39-01ce73377ac8.png)

[2017-08-30 09:31] sauloperez commented on #1782
Awesome having you onboard @Morantron 💪 !

definitely, that's the other challenge besides the marker

[2017-08-30 09:43] sauloperez commented on #1779
Might be related to https://github.com/openfoodfoundation/openfoodnetwork/pull/1763

[2017-08-30 14:02] sauloperez opened #1784 "Missing translations in new product page"
![new_product](https://user-images.githubusercontent.com/762088/29876243-8113150c-8d9c-11e7-98bf-c974151fe0ea.jpg)

[2017-08-30 14:09] sauloperez opened #1785 "Missing translations in edit product page"
![edit_product](https://user-images.githubusercontent.com/762088/29876692-c8671e66-8d9d-11e7-9bd9-89c9dde1e653.jpg)

[2017-08-30 16:47] lin-d-hop commented on #1563
@daniellemoorhead Agreed. But I'm not sure we can expect a quick turnaround on the UI design. So we need an interim.
@Matt-Yorkley When a user is logged in can we assume that we know something about their language preferences and move the language selection to the footer? Does that add too much complexity?

[2017-08-30 17:08] lin-d-hop commented on #1561
Note from Maikel on slack (for posterity):
These symbols are in the custom ofn font created with icomoon.io. The source file is here: https://gist.github.com/mkllnk/5acd096b7d0da97830012068db7f9b56

[2017-08-31 08:07] dannyd4315 commented on #1760
Happy to pick this one up as a first commit, if thats ok?

[2017-08-31 08:19] sauloperez commented on #1760
Cool @dannyd4315 ! we're also experiencing the same problem while onboarding new enterprises in our OFN instance.

[2017-08-31 08:34] lin-d-hop commented on #1760
Thanks @dannyd4315 This is a great one to pick up.

I think it would be good to be consistent with the linkedin and facebook links and require the whole URL to be input. I think for twitter people are more used to referring to each other by only the handle so this can be different (eg @mytwitter rather than https://www.twitter.com/mytwitter)

-> Change field so that it does not replace "input" wit

[2017-08-31 08:50] simoneluijckx commented on #1462
Testing again, but now as a **hub**
**N:** Try to add new payment method: Stripe, but I don't get the Stripe button
Step 1:
![image](https://user-images.githubusercontent.com/31434588/29914751-ffe32e04-8e7c-11e7-9b44-7e6e2544f062.png)
Step 2:
![image](https://user-images.githubusercontent.com/31434588/29914790-234b7112-8e7d-11e7-89e4-5c1d532cbba5.png)
Step 3: No 'connect with Strip' button
![image

[2017-08-31 09:20] sstead commented on #1462
Sorry @simoneluijckx, Stripe isn't in Staging2 anymore

[2017-08-31 09:56] sauloperez opened #1788 "Modifying the product master price from the edit product page does not update the price shown in the shop page"
### What? Why?

When editing the master price of a product from the edit product page (see below), although the change is successfully saved the price shown in the shop isn't updated. See gif below.

![price_not_updated](https://user-images.githubusercontent.com/762088/29916905-8285140e-8e40-11e7-8744-97bbc230961d.gif)

To actually update the price listed in the shop, I need to go update the price

[2017-08-31 09:57] sauloperez commented on #1788
You can read the reason for this behaviour in https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p1504139427000114

[2017-08-31 12:18] sauloperez commented on #1780
It is very likely that solution will be the same as in https://github.com/openfoodfoundation/openfoodnetwork/pull/1789

[2017-08-31 12:19] sauloperez commented on #1779
It is very likely that solution will be the same as in https://github.com/openfoodfoundation/openfoodnetwork/pull/1789

[2017-08-31 12:19] sauloperez commented on #1785
It is very likely that solution will be the same as in https://github.com/openfoodfoundation/openfoodnetwork/pull/1789

[2017-08-31 12:19] sauloperez commented on #1784
It is very likely that solution will be the same as in https://github.com/openfoodfoundation/openfoodnetwork/pull/1789

[2017-08-31 12:56] Matt-Yorkley commented on #1563
@lin-d-hop I'm not sure we can assume that and moving the switcher between the header and footer is a bit weird for UX. I guess if we used a flag icon as a button for a dropdown, and then used flag and language names in a dropdown list it would use a small amount of space and work quite well? Just thinking of interim solutions, as opposed to the final UI...

[2017-08-31 13:32] sauloperez opened #1790 "Submit login form on enter"
## What?

When hitting enter once the login form is filed in, the form is not submitting as opposite to the user's expectations. The sign up form next to it, however, it does submit the form on enter.

![login_form](https://user-images.githubusercontent.com/762088/29925720-875319a6-8e61-11e7-8167-4f530f08c897.png)

The login form should be submitted when pressing enter as well.

[2017-08-31 14:03] leandroalemao commented on #1784
@sauloperez I'm picking this issue up as my first contribution, I mean having a go.. 😄 👍 Tks

[2017-08-31 14:47] sauloperez opened #1791 "/register allows submitting multiple times while the enterprise is still being created"
## What?

From the registration wizard in `/register` users are allowed to submit the `create profile` form multiple times while the first request didn't finish yet. This causes an alert dialog to appear with a somewhat clunky error message, totally unexpected for the user.

I managed to reproduce the issue by adding a breakpoint in https://github.com/openfoodfoundation/openfoodnetwork/blob/master

[2017-08-31 16:12] lin-d-hop commented on #1563
I think it is regressive to link language with nationality, specifically through a flag. But a small image of a globe or a blank flag might work as the icon to signify the dropdown.

For sure an interim design....

[2017-08-31 18:37] sigmundpetersen commented on #1186
@lin-d-hop ok if I move this to Sept dot release as it is connected to #1242 ?

[2017-08-31 18:42] sigmundpetersen commented on #1563
what about a [language icon](https://thenounproject.com/search/?q=language)? perhaps something like [this](https://thenounproject.com/search/?q=language&i=7368)?

[2017-08-31 18:49] lin-d-hop commented on #1563
[Or this one?](https://thenounproject.com/search/?q=language&i=863336)

[2017-08-31 23:28] sstead commented on #1738
@daniellemoorhead we've had a user in Australia request that this is fixed, how can we speed it along? Should we shift it to Aus Current? Or @sineadfenton any chance you guys can tackle it soonish?

[2017-09-01 01:40] daniellemoorhead commented on #1462
@simoneluijckx we should have it back up on staging next week if you are willing to get your hands dirty testing it again? If yes then I'll ping you when we're ready for you to test again 😄

[2017-09-01 02:11] daniellemoorhead commented on #1791
@Matt-Yorkley is it worth waiting until the email confirm functionality is live before fixing this?

[2017-09-01 02:15] daniellemoorhead commented on #1186
@sigmundpetersen usually I only add the PR into the dot point release milestone, as oftentimes the issues are in UK Current or a project milestone. I added #1242 to the milestone, let's see if it can get done in time for inclusion :)

[2017-09-01 02:18] daniellemoorhead commented on #1738
@kirstenalarsen are we able to get @mkllnk to fix this bug for AU?

[2017-09-01 03:27] daniellemoorhead commented on #1676
Hey @Matt-Yorkley the PR #1687 was merged in July, ok to close this issue?

[2017-09-01 05:37] sstead commented on #1493
Note to self, and any Aus people in case this gets pushed while I'm away. Kemmy has had to turn her shop from private to public due to this bug, so let her know once the fix is in. She's receiving a few unwanted orders.

[2017-09-01 05:57] daniellemoorhead commented on #1493
@Matt-Yorkley @mkllnk I'm just checking on this - it will be fixed with the changes we're making in the email confirmation work, yes?

[2017-09-01 06:26] sstead commented on #624
I've been in touch with Slow Food in Melbourne. They want to get all of their stallholders online, as they have some producers who have no other web presence. Currently profiles don't have a static URL, so producers with a profile probably don't show in a web search. This is a shame. Another good reason to have static pages for each producer?

[2017-09-01 06:35] sigmundpetersen commented on #1186
Okay :)

[2017-09-01 06:37] daniellemoorhead commented on #624
Hey @mkllnk exactly how easy do you think this would be? Angular for newbies easy? Could we have one of our newly arrived devs look at this?

[2017-09-01 08:11] sauloperez commented on #1791
@daniellemoorhead I believe it's a 5min change, so unless email confirmation is ready I'd fix it.

[2017-09-01 09:31] Duende13 commented on #1741
Hi @sstead  and @lin-d-hop ,
Sally's changes are just related with Edit/New Variant Screen not Edit Product Screen, could we just create a new issue? Thank you!

[2017-09-01 10:45] Matt-Yorkley commented on #1791
@daniellemoorhead I think this quick change to the button behaviour won't be any problem for the email confirmation branches.

[2017-09-01 10:47] #1676 closed

[2017-09-01 10:57] Matt-Yorkley commented on #1493
@daniellemoorhead I hadn't seen this one before. It almost seems like a separate issue to the email confirmation work, but yes it can be done alongside it.

[2017-09-01 11:03] sauloperez commented on #1779
`Back` and `Continue` are already translated in `config/locales/es.yml`. It must be that we translated them after the version we have deployed in alpha.katuma.org

[2017-09-01 13:33] enricostano commented on #1774
I merged https://github.com/openfoodfoundation/ofn-install/pull/75, we can close this issue for now. Thanks for the feedback!

[2017-09-01 13:33] #1774 closed

[2017-09-02 06:25] dannyd4315 commented on #1760
@lin-d-hop There is actually already translatable placeholders in the locale files, so not sure why they were not in there, the instagram one isn't quite right however and breaks. So will clean that up. Also with regards to existing enterprises, I could build a rake task that checks and updates all existing enterprises inputs to the new format? Unless you another idea?

With regards to instagram,

[2017-09-02 06:28] dannyd4315 commented on #1760
On second thoughts the current plans shouldn't break full url's or handles for current enterprises. They would work in both instances. Or not work at all in both...

[2017-09-02 17:08] Matt-Yorkley commented on #1563
I've got a working language switcher dropdown now with a globe for the icon. I think the backend is still being code-reviewed/changed?

In order to make the dropdown list with localised language names, I've added a translation key to **en.yml** at the top for `language_name: English` with a translation note next to it, so that each language file can contain a localised version of the language's na

[2017-09-02 19:41] leandroalemao commented on #1784
Hi @sauloperez I've just opened a new PR https://github.com/openfoodfoundation/openfoodnetwork/pull/1792.
I hope all good. 😄 👍
Always glad to help
Tks.
Leandro.

[2017-09-04 10:30] lin-d-hop commented on #1759
Solution Proposal

This page would be much more clear and consistent with the rest of OFN if we simply stop the X appearing next to the property name.

Let's update this:
![thispart](https://user-images.githubusercontent.com/8669848/30022690-4187d96a-9164-11e7-91a4-fce80b84ac20.png)

To this:
![tothis](https://user-images.githubusercontent.com/8669848/30022703-4d8ef37e-9164-11e7-9d8e-c4f90ab7759f.

[2017-09-04 10:31] lin-d-hop commented on #1759
If not picked up by a newbie this fits in nicely with the work you are doing @Duende13

[2017-09-04 10:42] sigmundpetersen commented on #1759
In support of the suggestion :)

[2017-09-04 14:45] sauloperez commented on #1784
Done in https://github.com/openfoodfoundation/openfoodnetwork/pull/1792. Thanks again @leandroalemao !

[2017-09-04 14:45] #1784 closed

[2017-09-05 01:06] kirstenalarsen commented on #1738
sure . .

[2017-09-05 11:59] myriamboure opened #1796 "Bug in confirmation email from "notification" field"
A user want to add a producer as a manager so that the producer can add his products himself. He is not a user yet as the hub has set up his profile for him.
We use for the moment a workaround which is to type the email in the "notification" field to trigger a confirmation email to be sent so that the producer can be added as a manager. As suggested by @sstead .
There is a bug, I click on the link

[2017-09-05 12:31] saimonmoore commented on #1780
Working on this.

[2017-09-05 12:35] saimonmoore commented on #1780
There are spanish copies in transifex already. Waiting for them to reach our repo.

[2017-09-05 12:37] sauloperez commented on #1780
@sseerrggii we will need to keep an eye on it. We should get this translations in next release.

[2017-09-05 12:37] #1780 closed

[2017-09-05 12:43] saimonmoore commented on #1779
I'm taking over this.

[2017-09-05 13:24] lin-d-hop commented on #1760
_I think it would be good to be consistent with the linkedin and facebook links and require the whole URL to be input._
So, let's just ask for the URL in the same way as we ask for it in the linkedin and facebook links.
Required Input format: "https://www.instagram.com/myinstagrampage"

_-> Change field so that it does not replace "input" with "https://www.instagram.com/input"_
By this I mean, now

[2017-09-05 13:38] sauloperez commented on #1760
We should create a data migration instead.

Agree on @lin-d-hop 's over all feedback

[2017-09-05 16:00] OliverUK commented on #1626
![screen shot 2017-09-05 at 16 57 49](https://user-images.githubusercontent.com/17590921/30070512-94f42480-925b-11e7-979e-5b8bbabaae5a.png)

Shipping methods now sort as expected on staging after deploy.

[2017-09-05 17:08] myriamboure opened #1797 "Confusing "notification field" for profile only producers"
A hub is managing producers profiles.
He put in "notification" field for the producers their own email, believing they would receive a notification each time some of their products are ordered, which in my understanding is not happening, only the hub notification address receive those.

I propose, as soon as the work on email confirmation is finished and the workaround using "notification" to add

[2017-09-05 17:08] myriamboure opened #7834 "Confusing "notification field" for profile only producers"
A hub is managing producers profiles.
He put in "notification" field for the producers their own email, believing they would receive a notification each time some of their products are ordered, which in my understanding is not happening, only the hub notification address receive those.

I propose, as soon as the work on email confirmation is finished and the workaround using "notification" to add

[2017-09-05 17:17] myriamboure commented on #1128
I don't know who solved that, it is almost ok, just missing two small translations, closing this issue and opening a specific one.

[2017-09-05 17:17] #1128 closed

[2017-09-05 17:19] myriamboure opened #1798 "Missing translations in the "nofify producers" email"
![illustration2](https://user-images.githubusercontent.com/8135376/30073687-ffda8c9a-926e-11e7-8928-d2cf4dd108f7.jpeg)

[2017-09-05 17:20] #1772 closed

[2017-09-05 18:03] myriamboure commented on #1761
Just to  be sure it is connected, there are now a lot of pages with js.something.something untranslated things, is that related to that issue ? Should I open different issues for each page concerned ?
![screenshot from 2017-09-05 19-54-01](https://user-images.githubusercontent.com/8135376/30075102-1a35f822-9274-11e7-8816-3f410ba69a01.png)
(I only see that when connecting with a non admin account b

[2017-09-05 18:17] myriamboure commented on #1107
@enricostano any idea how to solve this issue ? It's coming up again each time we do an upgrade, and it's a front end issue to even worse... @ltrls or @pacodelaluna if you have some minutes to find how to solve that it would be awesome :-) It's really annoying ! At the moment it's in english on the French production server...

[2017-09-05 18:17] sigmundpetersen commented on #1761
Those strings are translated in Scandinavia and I can see them in Transifex. I also see that French is fully translated. Did you deploy the latest release from the transifex branch?

[2017-09-05 18:21] sigmundpetersen commented on #1107
Same as this #1781 ?

[2017-09-05 18:27] #1542 closed

[2017-09-05 18:28] myriamboure opened #1799 "Missing translations in the "new shipping method" page"
![illustration](https://user-images.githubusercontent.com/8135376/30076322-c3bbeaf6-9278-11e7-81d3-12896385ff1d.jpeg)

[2017-09-05 18:30] myriamboure commented on #1799
Hi @sauloperez I created a few more missing translation issues following your model should I add them to the September milestone as well ? Please do it if that seems reasonable to you ;-)

[2017-09-05 18:52] myriamboure opened #1800 "Missing translations in "orders" page"
comment : "nombre" seems to be like a bad automatic translation from spree, it looks like it's translated but I checked in transifex and it's not.
![illustration](https://user-images.githubusercontent.com/8135376/30077409-10668f48-927c-11e7-8a84-0f9ef479461e.jpeg)

[2017-09-05 19:01] myriamboure opened #1801 "Missing translations in "new product" page"
comment : on the page title, the problem is probably not a translation one, just that the title remains the same as when you are on the main "products" page, but it should be different like "new product" so I guess you need to create a new string and add it somewhere ?

![illustration3](https://user-images.githubusercontent.com/8135376/30078406-56471176-927d-11e7-9c76-f295dc3fbea7.jpeg)

[2017-09-05 19:16] myriamboure opened #1802 "Missing translations in main "products" page"
comment : on the page title, it seems the key is missing in transifex, so it seems like an automatic translation from spree but which is not at all meaningful.
comment 2 : on the column header "nom" ("name") it looks like it is translated but I wanted to change the translation in transifex by "product/variant" to clarify following users feedbacks, and I realize there is also no key for that header

[2017-09-05 19:23] myriamboure commented on #1117
@ltrls great if you can pick that up next, should be quick but was reported again by a user yesterday, small ux improvment. Thanks !

[2017-09-05 19:30] myriamboure opened #1803 "Missing translations : calendar"
## Description
In order cycle page (but I guess it can happen in other calendar pages), the calendar needs to be translatable
![illustration](https://user-images.githubusercontent.com/8135376/30079271-f22e5b7e-927f-11e7-960d-05a81fef31be.jpeg)

## Step to reproduce
1. Log in as enterprise user or super admin
2. Go to the order cycles menu
3. Create a new order cycle or edit a current one
4. See th

[2017-09-05 19:37] myriamboure opened #1804 "Add "tooltips" on main bulk edit product page"
To improve the ux, after some users suggested it (after I explained them how to proceed as they didn't find alone), I propose to add some "tooltips" ("infobulles" in french, not sure about the translation) as it is done here on the "order" page to edit order or capture payments:
![illustration](https://user-images.githubusercontent.com/8135376/30079842-dec6a5da-9281-11e7-9a50-788ad30d5066.jpeg)

o

[2017-09-05 19:38] sigmundpetersen commented on #1801
#1784 duplicate?

[2017-09-05 19:41] myriamboure commented on #1043
Seems to be solved now

[2017-09-05 19:41] #1043 closed

[2017-09-05 20:23] myriamboure commented on #1801
Thanks @sigmundpetersen ! Seems there are 2 things that were not pointed in the previous issue : the page title and the image selection, as the other one is closed, I leave this one open, if you want to finish this off @leandroalemao that would be awesome :-) Nice to e-meet you btw !

[2017-09-05 20:26] myriamboure commented on #1761
I guess you are connected with an admin account, I also see them translated with an admin account. Try with a regular user account and let me know if they are translated ?

[2017-09-05 20:27] myriamboure commented on #1781
Thanks @sigmundpetersen there are various tips in the other discussion so useful reference ;-)

[2017-09-05 22:49] myriamboure commented on #683
So let's go for:
- set up limit to 50 by default
- when the limit is reached and the user can't create more entreprise, if he clicks on "new entreprise", he can't proceed and a pop up display and say "You have reached the limit of 50 enterprises set up by default to prevent spam profile creation, write to [default instance email] to increase your threshold!"

If any objection please raise your voi

[2017-09-05 22:54] dannyd4315 commented on #1760
Cheers @lin-d-hop, makes sense.

[2017-09-05 23:21] daniellemoorhead opened #1805 "Improve the Edit/New Variant Screen"
As noted by @sstead on #1741:

I've had another user get confused in the Edit Product area. Specifically she was trying to add variants... see image below with suggestion for how to improve...
Note there are 2 places to add variants- 1) in the bulk product edit area, by expanding the table and clicking the + symbol on the left. 2) in edit product - product variants. We want to model method 2 off t

[2017-09-05 23:22] daniellemoorhead commented on #1741
Sally is away @Duende13 so I created it for her - #1805

[2017-09-05 23:27] daniellemoorhead commented on #1738
@mkllnk can you also add this to your list :)

[2017-09-06 07:08] myriamboure commented on #1773
@ltrls is it something that is specific to each instance or is it needed to discuss and reach a consent by the community ? It sounds to me like more instance based...
I discussed with the invisible hubs and they all don't want to appear in google searches, so we need to move forward.
One question : if they are desindexed through OFN but embed their shopfront in their own website, I guess as the ur

[2017-09-06 07:21] myriamboure commented on #1805
Just wondering, it seemed to me that Spree upgrade would improve a lot the product / variant interface, shouldn't we focus on getting the upgrade up and running ? Just fear that we might destroy the work done very quickly ;) Ping @enricostano

I don't agree with hiding the  height, width, and depth field @daniellemoorhead actually we are in discussion in France with various big users (including GL

[2017-09-06 07:47] simoneluijckx opened #1806 "Non-clickable logo and shopname on shopping page"
A = action | P = problem | S = solution
**A:** I'm 'shopping' in customer mode and want to go back to the homepage of the shop
**P:** Logo and shopname are not-clickable
![image](https://user-images.githubusercontent.com/31434588/30100070-f4bac52a-932a-11e7-9e65-c49512634189.png)
**S:** perhaps the shopname and logo could be made clickable and lead to the same page as the 'about Simone's Sweet Sho

[2017-09-06 08:00] simoneluijckx opened #1808 "At checkout, button only shows 'Edit your cart'"
A: action | P: problem | S: solution

A: ordered 10 loafs: want to check out immediately
P: I can only click 'edit your cart', but I don't want to edit anything. It seemed to me as if I couldn't check out...
![image](https://user-images.githubusercontent.com/31434588/30100553-9b7e5678-932c-11e7-825a-47bd99deddef.png)
S: is it better if the button says 'check out' or is it then confusing if people

[2017-09-06 08:09] simoneluijckx opened #1809 "Using internetbrowser back button, forgets all shopping cart items #ux"
A: action | P: problem | S: solution

A: I'm viewing my shopping cart but want to do more shopping, I click on my internet browser's backbutton
P: My cart is empty suddenly! (so frustrating, could lead to people not continuing their shopping)
![image](https://user-images.githubusercontent.com/31434588/30100920-cf626b04-932d-11e7-84e5-1a1a78579b0d.png)
S: the 'continue shopping' button should be be

[2017-09-06 08:16] simoneluijckx opened #1810 "Click buttons not visible when creating profile on OFN"
A: action | P: problem | S: solution

A: register on OFN as a hub/shop/etc.
P: I get an 'agree with the terms' window, but I can't see where to continue. You apparently have to scroll down to see that button.
![image](https://user-images.githubusercontent.com/31434588/30101359-5f614bf2-932f-11e7-9b0a-fef8515b61ba.png)
P: same happens when you need to tell if you're a producer yes / no. Have to scr

[2017-09-06 08:21] mkllnk commented on #1760
Yes, I agree that we should use a data migration instead of a rake task.

What if people just put in their page name? Should we check for that and then save it in the database with the complete URL or not bother?

[2017-09-06 08:35] sauloperez commented on #1760
I'm not sure the extra logic to check the account is worth it @mkllnk

[2017-09-06 08:39] sauloperez commented on #1809
What happens if you then (after clicking on the browser's back button) refresh the page? AFAIK the line items are persisted in your cart until you remove them or place the order

[2017-09-06 08:43] sauloperez commented on #1808
I also feel the same. It's confusing when you just want to check out

[2017-09-06 09:20] myriamboure commented on #1808
Agree, maybe two button "see cart" and "checkout" ? a bit the same as what you have in top right corner but that lots of people don't see ;-)

[2017-09-06 09:21] myriamboure commented on #1810
100% agree :-)

[2017-09-06 09:24] enricostano commented on #1805
cc/ @sseerrggii @sauloperez @mllocs

[2017-09-06 09:28] dannyd4315 commented on #1760
@mkllnk and @sauloperez apologies, not sure why a data migration would be a better option than a rake task?

[2017-09-06 10:17] kirstenalarsen commented on #1808
or one button “cart” - fairly standard next step in a checkout process?

[2017-09-06 10:24] sauloperez commented on #1760
Migrations are designed to be the means of applying changes on the database. Rails keeps them as a log of historicall changes so you can kind of reproduce the state of the database but also track what changes were applied.

It also ensures that each migration is only run once (although of course you can re run it if you need) and in every environment (dev, prod, staging) and OFN instance (Aus, Uk,

[2017-09-06 10:26] sauloperez commented on #1808
Yep, let's check what is the standard. We're not inventing anything here.

[2017-09-06 10:28] simoneluijckx opened #1811 "Instagram link not working #ux #aus"
Action: clicking on Instagram icon on bottom window
Problem: leads to error page - link is not updated
![image](https://user-images.githubusercontent.com/31434588/30107150-42c241a6-9341-11e7-8c21-d00173d400e6.png)
Solution: update link to: https://www.instagram.com/openfoodnetworkaus/
Q: this is however on the general website (so for global users, it will lead to the aus account)
Idea: general Ins

[2017-09-06 10:30] sauloperez commented on #1808
![amazon](https://user-images.githubusercontent.com/762088/30107471-21084354-92ff-11e7-8b6b-2d8756e4d22e.png)
Fairly known marketplace does that :point_up:

[2017-09-06 10:36] sauloperez commented on #1805
absolutely, but yes, I also think we need to improve this screen. It is an issue that showed up in the user interviews that we did so far in Katuma.

[2017-09-06 10:39] simoneluijckx opened #1812 "Customer signup email confirmation outdated"
Action: signing up as a customer
Problem: email is good, but the 'connect with us' links look a bit outdated and doesn't have the same style as on the website
![image](https://user-images.githubusercontent.com/31434588/30107573-83e9f3a8-9342-11e7-8369-73528d9c3c2a.png)
Solution: update and add Instagram and newsletter sign-up
![image](https://user-images.githubusercontent.com/31434588/30107788-27f

[2017-09-06 10:44] simoneluijckx commented on #1808
Those 2 buttons look the best to me! Just one click and you go directly to what you wanna do.

[2017-09-06 10:53] simoneluijckx commented on #1809
After clicking on the back button and next on the refresh button, nothing changes. Still an empty card...

[2017-09-06 10:53] sauloperez commented on #1810
sort of duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/1766

[2017-09-06 10:58] sauloperez commented on #1809
weird... perhaps it's not persisted until you reach the checkout page...

[2017-09-06 11:05] sauloperez commented on #1773
This is the way to do so https://support.google.com/webmasters/answer/93710?hl=en

[2017-09-06 11:14] simoneluijckx commented on #1809
Here are the steps I took:
1:
![image](https://user-images.githubusercontent.com/31434588/30108916-9e9a0652-9347-11e7-8138-b7c7ff9f5f0b.png)
2.
![image](https://user-images.githubusercontent.com/31434588/30108976-ea783882-9347-11e7-947b-a39d56de2a02.png)
3.
![image](https://user-images.githubusercontent.com/31434588/30109072-45fdb16e-9348-11e7-9826-7967c4660fd9.png)

[2017-09-06 11:41] sauloperez commented on #1107
Yes, it is. Removing that one to keep the discussion here.

[2017-09-06 11:41] #1781 closed

[2017-09-06 11:51] sauloperez commented on #1801
I believe the image selection depends on the language setting of your machine as it is an operative-system-level UI element.

[2017-09-06 11:57] enricostano commented on #1186
I opened a PR with a proposal to solve this https://github.com/openfoodfoundation/openfoodnetwork/pull/1813

One question though: do we want to make the same change in other parts of the app? In admin perhaps?

[2017-09-06 12:51] myriamboure commented on #1801
Ok I don't manage to test, not Ubuntu savy enough, but I'll try that tonight with my boyfriend :-o Still the title key needs to be added ;-)

[2017-09-06 13:08] myriamboure commented on #1801
@RachL Maybe you can test if you have a French language based system ? Do you see the image upload thing in French ? Thanks ;-)

[2017-09-06 13:15] sauloperez commented on #1801
yep, I'll take a look

[2017-09-06 13:15] myriamboure commented on #1808
Agree !

[2017-09-06 14:03] RachL commented on #1801
@myriamboure yes it is in french !
![image](https://user-images.githubusercontent.com/6525576/30116077-d8a65768-931c-11e7-8509-3cb6f302f479.png)

However, the button "new product" does not work on the latest version of Firefox. I had to login on chrome to see this. Do you know if there is already an issue open for that ?

[2017-09-06 14:56] myriamboure commented on #1801
I don't think so @RachL but you can check by typing in the search bock on the issues page... and then please feel free to open your first OFN Github issue :-) Is it 55.0.2 ? It have this version and it seems to work on my computer.

[2017-09-06 16:35] sauloperez commented on #1801
Solved in https://github.com/openfoodfoundation/openfoodnetwork/pull/1814 @myriamboure

[2017-09-06 17:45] leandroalemao commented on #1801
Hi @sauloperez @myriamboure @enricostano @sigmundpetersen I've just opened the PR #1815 to fix the missing translations on edit products page.
I hope all good.
Tks
Leandro

[2017-09-07 07:19] myriamboure commented on #698
Or maybe if I click "on demand" the system can but a very high number like 9999 and as long as "on demand" is check the value remains 9999 ? @simoneluijckx @RachL what do you think in term of UX ?

[2017-09-07 08:07] myriamboure commented on #1801
Ok, we are happy to test when it's deployed somewhere if needed ;-)

[2017-09-07 08:34] sineadfenton commented on #1186
Hey @enricostano,

Just looking across admin now and it seems like they're already using the full county name in the one place I've been able to find it. There may be more but this below looks like it, if there are other places though, I think a consistent approach would be best.

![image](https://user-images.githubusercontent.com/28807449/30153749-809f3182-93af-11e7-90b6-ad806b482355.png)

The on

[2017-09-07 09:07] sauloperez commented on #698
What about hiding the `on hand` field from the UI when you choose `on demand` and then setting a `null` in the `on_hand` database column? I'm trying to find the way these things are normally solved in terms of UX/UI. As per my experience, things like setting 9999 are the worst you can do.

[2017-09-07 09:40] kirstenalarsen commented on #683
hmmmm, just a caution. This was originally done like this to prevent spam.
Given that we still don't have an easy way to get rid of enterprises that
people create, and excess enterprises clog up both the database and the
enterprises screen (to the point of extreme pain for superadmin), I would
retain caution about allowing anyone who comes along and is playing around
and not sure what they're doin

[2017-09-07 13:16] myriamboure commented on #683
Hum... the thing is that today it make people come on OFN and leave as some think it's just not working... so why not putting a lower number, if there is the pop-up explaining about the entreprise limit... I woudl say ok we can start with 5 as when people play and modelize their case they usually don't need more, and I guess if we need to increase that it's just one figure to change somewhere in t

[2017-09-07 13:22] myriamboure commented on #698
Sounds good @sauloperez, seems pretty user friendly to hide and have an empty field (is that what you mean with "null"?) in the product table ! If someone from your side want to move forward on that please feel free to pick-it up, else maybe @ltrls can work on it ? Feel free to comment on the tech proposal Pierre ;-)

[2017-09-07 14:14] enricostano commented on #698
Keep in mind that is possbile that this has been already fixed in Spree 2.0.

Was introduced here https://github.com/spree/spree/pull/2080

[2017-09-07 17:53] myriamboure commented on #683
So update for @ltrls after Kirsten's comment: for the "producer hub" and "distributor hub" package type (=those who are meant to manage multiple enterprises):

- set up limit to 50 by default
- when the limit is reached and the user can't create more entreprise, if he clicks on "new entreprise", he can't proceed and a pop up display and say "You have reached the limit of 50 enterprises set up by d

[2017-09-08 00:03] kirstenalarsen commented on #683
5, not 50? :)

[2017-09-08 03:52] daniellemoorhead commented on #1493
Thanks @Matt-Yorkley I think it's pretty important. @myriamboure will definitely want this to be done between yourself and @ltrls as part of the work 😄

[2017-09-08 04:42] mkllnk commented on #624
There have been easier tasks than this, but it's not too complicated either. Let's try that.

[2017-09-08 05:14] daniellemoorhead commented on #1796
@myriamboure I wouldn't see this as part of the email confirm work that @Matt-Yorkley and @ltrls are doing as none of it is live yet.

[2017-09-08 05:17] daniellemoorhead commented on #1796
The workaround for this is to have the manager sign up as a user of the OFN, which then makes it easy for the enterprise to assign them as the manager. At least this isn't completely blocked, the workaround is annoying but is there.

Suggestion would be, perhaps get @ltrls to work on #1593, rather than spend money on fixing the hack? By the time the bug is found and then fixed it may be easier jus

[2017-09-08 05:19] mkllnk commented on #1760
Okay, sure, not that important.

[2017-09-08 05:22] daniellemoorhead commented on #1626
Will hold off on closing this till the merged code has been released onto Aus production with the next thing we merge. Ping @oeoeaio and @mkllnk to take not that this will be going through with whatever the next thing is that you push to production.

[2017-09-08 05:23] daniellemoorhead commented on #1806
I'm loving the fact that you're adding these to the repo @simoneluijckx - keep it up! They're so handy to have :)

[2017-09-08 05:25] daniellemoorhead commented on #1811
Hey @oeoeaio or @mkllnk or @sstead or @kirstenalarsen do you know whether this is part of the config for the super admin, to change this, or is it hard coded?

[2017-09-08 05:26] daniellemoorhead commented on #1811
Hey @simoneluijckx is this on the global website? Can you add a link please? If it's for the wordpress site then we can fix that outside of the OFN codebase (and therefore it doesn't need to be a github issue so much as a message in the AU team slack channel).

[2017-09-08 05:27] daniellemoorhead commented on #1811
PS. That idea of a global instagram is lovely, but who would look after it? Maybe worth bringing up as an idea at the next global OFN hangout, next tuesday. You should come along to this and pitch the idea!

[2017-09-08 05:29] daniellemoorhead commented on #1805
@myriamboure this is actually added by @sstead onto a different issue that was being worked on. I just created a new issue for it (she's away) so that it didn't get lost as it won't get done as part of the other issue. So best to direct thoughts to her, it was her idea 🙂

[2017-09-08 05:32] daniellemoorhead commented on #1810
Duplicate of #1766

[2017-09-08 05:37] daniellemoorhead commented on #1773
I think @oeoeaio and @mkllnk can probably tell you better than I what the AU team have done @myriamboure...or maybe @kirstenalarsen?

[2017-09-08 05:38] daniellemoorhead commented on #1799
Hey, if you're adding things to the september release then just the PRs, not the issues. Thanks :)

[2017-09-08 05:44] mkllnk commented on #1773
That should be a very easy code change to include the mentioned meta tag.

[2017-09-08 05:54] daniellemoorhead commented on #624
@dannyd4315 may be something you'd be interested in picking up once the instagram PR is done. Also, there are a few UX labelled issues being added by @simoneluijckx at the  moment that could also be a tasty start to things :)

[2017-09-08 05:58] dannyd4315 commented on #624
@daniellemoorhead will take a look over the weekend, I am more comfortable with Ruby but happy to have a look over. 👍

[2017-09-08 06:39] myriamboure commented on #1796
No, actually this workaround doesn't work @daniellemoorhead as you need the user to be verified so that it appears in the available managers'list, and today, the only way is to create an entreprise, so it would mean the producer would have to sign up and create a new entreprise, and then will be able to be added as a manager to his first entreprise (created by the hub) so it would create a duplica

[2017-09-08 06:39] #1796 closed

[2017-09-08 06:46] myriamboure commented on #1593
Just to sum up for @ltrls as it was not clear to me reading the whole thing above: we want to be able to add a new manager without using the notification field hack, ie we want to be able if I type a user address in the "add manager" field, if the address is not recognized as a validated user, a validation link is send to that user (as it is done today when we use notification field). Let's talk d

[2017-09-08 06:52] myriamboure commented on #1493
Yes, definitely ! Please go ahead if you have space @Matt-Yorkley this is a top priority for us! If that makes sense to pair with @ltrls do it, else just go ahead !

[2017-09-08 07:00] myriamboure commented on #683
Oups, sorry, was too quick, thanks @kirstenalarsen, made the change, sorry @ltrls for the confusion, it's 5 not 50 the limit we want for now :)

[2017-09-08 07:07] sauloperez commented on #698
Agree @enricostano. We should first evaluate what happens in Spree 2.0 and then decide whether it's worth spending any effort on it while we reach 2.0.

[2017-09-08 09:05] sauloperez commented on #1785
Solved by https://github.com/openfoodfoundation/openfoodnetwork/pull/1815

[2017-09-08 09:05] #1785 closed

[2017-09-08 09:13] enricostano commented on #1801
Closing this issue as solved by https://github.com/openfoodfoundation/openfoodnetwork/pull/1815

Many thanks @leandroalemao 🎉

[2017-09-08 09:24] myriamboure opened #1818 "Bug if variant price is updated while it's already in a cart"
**Use case:**
- the product "pasta" is at 5€
![screenshot from 2017-09-08 11-03-26](https://user-images.githubusercontent.com/8135376/30204340-66a3f62e-9485-11e7-9b1c-1e534549211a.png)
- a customer has put in his cart
![screenshot from 2017-09-08 11-04-35](https://user-images.githubusercontent.com/8135376/30204373-86fc23c4-9485-11e7-8bc3-422c9afe6965.png)
- the hub/producer realise he has forgotte

[2017-09-08 09:53] sauloperez commented on #1818
What do you exactly mean by this? would that happen in realtime?

This sounds way better. Agree on the discourse thread so that we investigate Spree 2.0 and discuss the solution there.

[2017-09-08 10:01] sauloperez commented on #1801
Sorry @enricostano there was a misunderstanding here. Most of this issues was solved by @leandroalemao in https://github.com/openfoodfoundation/openfoodnetwork/pull/1792 but @myriamboure pointed out that we were missing the page title. This is still waiting for review in https://github.com/openfoodfoundation/openfoodnetwork/pull/1814

Meanwhile, @leandroalemao started working on the "edit product"

[2017-09-08 12:31] leandroalemao commented on #1107
All,
Just opened a PR #1819 to try to fix this issue.
👍 😄
Tks
Lenadro.

[2017-09-08 12:42] myriamboure commented on #1107
You are awesome @leandroalemao :-)

[2017-09-08 18:39] saimonmoore opened #1821 "Remove redundant enteprise registration I18n keys once new keys translated"
See related PR here: After 7.0 release, should be able to translate the new keys created by https://github.com/openfoodfoundation/openfoodnetwork/pull/1820 and remove these redundant keys:

https://github.com/openfoodfoundation/openfoodnetwork/pull/1820/files#diff-37c9b835927e3c363588f172de9bb6faR1366

[2017-09-08 18:44] sauloperez commented on #1821
Do you mean the next release by `7.0 release`?

[2017-09-08 18:45] saimonmoore commented on #1821
Yes. The next release (I thought it was 7.0 because of this: https://github.com/openfoodfoundation/openfoodnetwork/milestone/58 which I saw Enrica added to the PR)

[2017-09-08 18:46] saimonmoore commented on #1821
lol :bear: :blonde_woman:

[2017-09-08 18:53] saimonmoore commented on #1821
Enrica don't hold any hard feelings...only soft ones :laughing:

[2017-09-09 07:46] myriamboure opened #1822 "Variants not sorted by weight in shopfront"
See "avocats" the 10kg variant is in the middle... when the user tested it, he reported that to me, and I tested and on my side it was ok. Is there a delay for the ordering to happen ? This would be quite surprising... I have asked more details if he has, anyone experiencing a bug in variants ordering ?
![image_from_skype](https://user-images.githubusercontent.com/8135376/30238237-8afc9b34-9543-11

[2017-09-09 07:54] lin-d-hop commented on #1822
@myriamboure which release are you running?

@Duende13 - just tagging you in case...

[2017-09-09 10:44] myriamboure commented on #1822
1.8.13 @lin-d-hop I had on skype the user, now it's displaying correctly... maybe we shouldn't spend time on it and wait until it happens again... Maybe it's just a short delay in displaying in right order ? Anyway, the user is happy as it's displaying ok now so I'm happy to close it.

[2017-09-09 11:07] lin-d-hop commented on #1822
Twas fixed in https://github.com/openfoodfoundation/openfoodnetwork/pull/1652
Released in v1.8.13.
If if was reported after you deployed this release then watch out, it might be a bug.
If it was reported before you deployed this release you can safely close it.

[2017-09-10 19:17] myriamboure commented on #1822
Yes, that was reported after the upgrade, so I guess it is a bug somewhere, but I can't reproduce it... and not sure we should spend too much time on it as it seems not to be a persistent bug, now the variant is displayed correctly.

[2017-09-11 01:54] oeoeaio commented on #1118
See [my comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/1817#issuecomment-328395075) on @ltrls's PR. I have reservations but happy to be overruled if others think the interface remains usable.

[2017-09-12 15:49] myriamboure opened #1824 "Enable different fees to be charged based on tag used"
waiting for agreement on the spec here before detailing https://community.openfoodnetwork.org/t/enable-different-fees-to-be-charged-based-on-tag-used/1054

[2017-09-13 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59b8c9929f498d0017fcab19&i=gh&m=ra)

[2017-09-13 06:49] kirstenalarsen commented on #1074
hello people. I have just had an Aus user report this. Can I confirm that it is still a problem and is not prioritised for fixing because:
a) it's hard and likely expensive
b) people are not actually being charged the wrong thing, so it just messes up the records
c) Stripe shouldn't have the same problem, and we anticipate more people moving to Stripe?

[2017-09-13 09:16] myriamboure commented on #1822
Ok so this is happening again, if you click https://www.openfoodfrance.org/amap-de-treillieres/shop you will see by yourself on the "avocats" product.
![screenshot from 2017-09-13 11-13-24](https://user-images.githubusercontent.com/8135376/30369387-99d1c3bc-9874-11e7-954b-dd63bcd56b97.png)

I checked the product, the user created two variants for each weight with diferent prices but he just put on

[2017-09-13 11:44] Matt-Yorkley commented on #1593
@myriamboure There's some changes to these fields and the way users will be added as managers coming in the first 2 email confirmation PRs. I think it would be a good idea to wait for those to be merged.

[2017-09-13 12:55] myriamboure commented on #1593
Sure @Matt-Yorkley ! Let's wait, and if that makes sense to include that in the initial scope please go ahead, we want anyway this to be done asap, so feel free to pick it up if you do connected things.

[2017-09-13 19:17] Rocksj commented on #1074
Hi @kirstenalarsen yes this is still happening and not a priority because of the the reasons you have identified. I think some of my customers will continue to use paypal but I'll try to convert them to Stripe when it arrives!

[2017-09-13 22:37] mkllnk opened #1826 "ActiveRecord::RecordInvalid in spree/admin/orders#update"
## Error in OpenFoodNetwork

**ActiveRecord::RecordInvalid** in **spree/admin/orders#update**
Validation failed: State is invalid

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/59b9ab57bf20b40018c56d0d?event_id=59b9abdd93bd8700171ce04b&i=gh&m=ci)

## Stacktrace

    app/models/spree/adjustment_decorator.rb:26 - set_absolute_included_tax!
    app/models/spree/adjustment_d

[2017-09-13 22:40] mkllnk commented on #1826
@oeoeaio @enricostano This is new on Aus production since yesterday, happened four times so far, same user. Could this be connected to to the Spree upgrade?

[2017-09-13 22:45] oeoeaio commented on #1826
@mkllnk Yep, I think so. I'm investigating now.

[2017-09-14 04:54] #1826 closed

[2017-09-14 05:07] sstead opened #1828 "Appears that two adjustments are deleted when you delete just one."
It appears that 2 lines of adjustments are deleted after you first delete a single adjustment. This could confuse a user, and make them worry that more adjustments have been deleted than they intended.

![image](https://user-images.githubusercontent.com/10843056/30412906-4e719164-995e-11e7-8304-2781994ece05.png)

[2017-09-14 05:13] sstead opened #1829 "Translation missing for 'product category cannot be blank' error, in new product."
@mkllnk could you please appropriately tag and direct this translation error, I'm not certain who works on translation related bugs.

![image](https://user-images.githubusercontent.com/10843056/30413000-f4e572cc-995e-11e7-9fab-4f98b3af96ad.png)

[2017-09-14 05:22] oeoeaio opened #1830 "[Spree Upgrade][Admin/Orders/Edit] Fix edit orders shipping adjustment"
Related to Spree upgrade. `state` field has been added to adjustments, and does not seem to be playing perfectly with OFN yet.

Steps to reproduce.
- open up an order with shipping and/or payment fees in the backend
- click on 'Adjustments' and delete the adjustments for the shipping/payment fees
- click on 'Order Details', update the quantity of a line item and then 'Recalculate Fees'

Site will

[2017-09-14 06:33] sstead commented on #1462
testing notes:
Saving cards that are rejected.
![image](https://user-images.githubusercontent.com/10843056/30414931-17674a82-9969-11e7-84d4-6b5c53ffb64a.png)

Voids seem to work:
![image](https://user-images.githubusercontent.com/10843056/30414962-46fc61ba-9969-11e7-9f6f-a193bb76276d.png)

If not connected shouldn't be shown in the shop
![image](https://user-images.githubusercontent.com/10843056/3

[2017-09-14 09:33] simoneluijckx commented on #698
@myriamboure I agree with the confusion the nr. 0 can create when clicking 'on demand' and I think 9999 will be just as confusing... No number showing would be ideal or something like ' **-** ' .
But will wait for Spree 2.0 for now.

[2017-09-14 09:38] simoneluijckx commented on #1811
@daniellemoorhead this is the link:
https://openfoodnetwork.org/
So the global OFN website. On the AUS website we don't have a link to Instagram, allthough we do have an AUS OFN instagram ;)

And I saw this message too late to pitch at the global hangout :( I actually do have an idea ready ;)

[2017-09-14 15:09] lin-d-hop commented on #1822
@Duende13 can you take a look and see if you can replicate @myriamboures bug please? You recent fix should have fixed this so looks like it's not quite working.

[2017-09-14 23:51] sstead opened #1832 "Phone number not showing in Contact tab in shopfronts"
The contact phone number for an enterprise is not showing in the Contact tab in shopfronts. The contact number is showing on profiles in the directory and map however.

This feels like a possible task for a newbie - i'm not sure if it's angular or rubies though....

![image](https://user-images.githubusercontent.com/10843056/30460601-265fd382-99fb-11e7-81d0-3b3d452865c8.png)

[2017-09-15 00:07] daniellemoorhead commented on #1493
@ltrls just a suggestion - maybe set a fixed amount of time for you to understand this problem and what's causing it and what a potential solution is? That way @myriamboure and/or @RachL can chat with you about what you find and understand the amount of time you think you'll need to fix it.

[2017-09-15 01:14] sstead commented on #1811
Good spotting Simone! I've updated the link to the Aus instagram, but we can always change it if a global instagram evolves... I sense you have some ideas brewing :P
Here's where to change the link in Wordpress...
![image](https://user-images.githubusercontent.com/10843056/30462120-de1ae434-9a06-11e7-8029-62e0faf8198f.png)

[2017-09-15 01:14] #1811 closed

[2017-09-15 01:15] oeoeaio commented on #1811
Yay! Thanks @sstead 👏

[2017-09-15 01:16] daniellemoorhead commented on #1417
Reopened this @lin-d-hop as @NickWeir63 has offered to test on IE on the PR #1425. If you'd rather keep it closed then feel free to reclose this plus the PR.

@enricostano not as far as I'm aware.

[2017-09-15 01:59] daniellemoorhead commented on #1769
Hey @enricostano given we've pushed to aus production do we need this issue anymore? Can it be closed?

[2017-09-15 02:03] sstead opened #1833 "Quickbooks integration"
Quickbooks is a commonly used accounting package in Australia. OFN already has an integration with Xero that allows users to import their customer's invoices into the accounting package. This makes it easier for them to track whether invoices are paid or not in their accounting system. It would be great to offer something similar to users who use Quickbooks.

Quickbooks doesn't allow for direct im

[2017-09-15 02:07] daniellemoorhead commented on #1829
@enricostano apparently this has happened as a result of the spree step 6 upgrade.

[2017-09-15 03:06] sstead opened #1834 "Scroll bar disabled on mobile view of map profiles"
When the browser window is small, the scroll bar for longer profiles, viewed from the map, doesn't function.

![image](https://user-images.githubusercontent.com/10843056/30464723-9ec58c34-9a16-11e7-92c5-1bd3d7e7d789.png)

[2017-09-15 03:54] daniellemoorhead commented on #577
Work was done in #1021 but a new approach was discussed on that PR that isn't yet implemented. Would be good to have someone pick this up and implement the described approach:

[2017-09-15 03:59] daniellemoorhead commented on #1236
Is this still happening @sstead?

[2017-09-15 04:00] daniellemoorhead commented on #1227
@sstead is this still a bug?

[2017-09-15 04:05] daniellemoorhead commented on #1181
@kirstenalarsen is this still something you'd like on the Aus current backlog?

[2017-09-15 05:12] sstead commented on #1227
No seems fixed :D

[2017-09-15 05:12] #1227 closed

[2017-09-15 05:24] sstead commented on #1236
No this doesn't seem to be happening anymore.

[2017-09-15 05:35] mkllnk commented on #1801
#1814 has been merged.

[2017-09-15 05:35] #1801 closed

[2017-09-15 09:34] Duende13 commented on #1822
Hi @lin-d-hop and @myriamboure ,
I'll have a look but just in case you could ask for more information Miriam, about if the user used the 'display as' field,  because I found a case when the order could be a little bit messy, I explained it to Linda and Matt, and we all agree that the scenario was so unlikely that it will work for the most of the times.
The problem that I found is  that the order b

[2017-09-15 09:39] enricostano commented on #1769
🎉

[2017-09-15 09:39] #1769 closed

[2017-09-15 12:29] enricostano commented on #1186
In https://github.com/openfoodfoundation/openfoodnetwork/pull/1813 I cover all the cases I could find, please review!

[2017-09-18 06:42] kirstenalarsen opened #1837 "Paypal completing payment but returning to checkout not order conf, order not complete in OFN"
User reported: My store was open Thursday - Sunday yesterday and I took like 8 orders however there is no evidence or confirmation in OFN. Only PayPal receipts with orders in there.

The orders are in OFN but are not completed, still in State 'checkout'

![image](https://user-images.githubusercontent.com/2911176/30531167-ada96d4e-9c8f-11e7-8d6c-96b9ff708ecf.png)

I have confirmed this problem when

[2017-09-18 06:45] kirstenalarsen commented on #1837
Have now confirmed that when I put a payment fee on it causes this problem, so very likely connected to #1074

However, I think this behaviour in response to that problem is new? @oeoeaio @mkllnk @sstead

[2017-09-18 06:49] kirstenalarsen opened #1838 "Snail fails when trying to edit payments on orders"
Cannot add payment (fails when trying to update)
![image](https://user-images.githubusercontent.com/2911176/30531349-097161b2-9c91-11e7-87e4-d41841aaeb40.png)

Cannot open payment info from payments page
![image](https://user-images.githubusercontent.com/2911176/30531338-f74467c8-9c90-11e7-9b1b-f739e29567b8.png)

These are paypal payments originally, so not sure if connected to #1074 and #1837

[2017-09-18 07:46] oeoeaio commented on #1837
Probably not directly related, but great information to have!

Additional information (from server logs):
[code]

This is the method:
[code]

So now all we need to do is to work out is why adding a payment fee causes the order to not be complete at this point...

[2017-09-18 09:06] oeoeaio commented on #1837
Ok, so maybe it is more related to #1074 than I thought: `order.next` is failing to transition here because of [this callback](https://github.com/coopdevs/spree/blob/spree-upgrade-step-6/core/app/models/spree/order/checkout.rb#L66) for the state machine on `order`

More specifically: there are two payments on the order at the time `order.next` is called in the `confirm` action above, one is create

[2017-09-18 12:12] Matt-Yorkley opened #1839 "Rake tasks fatal errors in dev environment"
After some of the recent updates, rake tasks fail in dev environment due to a gem conflict. It seems to be related to this: https://stackoverflow.com/a/36208611

Seems to be solved by fixing rake to 11.3.0.

[2017-09-18 13:01] sauloperez commented on #1778
Solved in #1789

[2017-09-18 13:01] #1778 closed

[2017-09-18 13:22] oeoeaio commented on #1837
Ok, two more pieces of information:

1. The first payment is created in the CheckoutController by the params submitted in `payments_attributes`. For PayPal payments the only attributes submitted are `amount` and `payment_method_id`. Only `payment_method_id` is actually used, because the `PayPalController#express` action from `better_spree_paypal_express` ignores `amount` and recalculates the total

[2017-09-18 13:51] #1839 closed

[2017-09-18 15:39] myriamboure commented on #1822
Thank you @Duende13 for your comment, I checked and in the case I describe ("avocats") above there is nothing written in the "display as" field.
Three of the products (with the new prices) have been added months after the first ones, can this have an impact ? I would be surprised, but just wanted you to know that...
Here in the OC he has chosen one variant of 1kg, one of 6 and one of 10, but the f

[2017-09-18 16:58] myriamboure commented on #1773
@pacodelaluna do you have time to work on that in the coming days ? We just tested with @RachL and the french staging server is also still visible on google when you type "staging open food france"... I can create another issue but if you work on that one maybe you can desindex staging at the same time ? Please let me know if you can't work on it, I will try to see with @ltrls find someone else to

[2017-09-18 17:32] adamgunther1 commented on #1756
Hi there! First-time contributors and we're hoping to help out with this issue as an assignment for school. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-09-18 18:39] NickWeir63 commented on #1756
Hi @adamgunther1 welcome to OFN !  If you let me have your email address I will join you up to our Slack channel to help with communication.  My email is nick@openfoodnetwork.org.uk  This issue is not ladbelled as 'Rubies for Newbies' but I will ask @lin-d-hop to let you know if it is suitable for a first-time contribution.

Thanks very much for getting involved.  Hope to meet you soon.

[2017-09-18 19:54] adamgunther1 commented on #1756
Thank you, please let me know. Three of us are working on the issue and do have solid experience developing full stack rails apps and have been working with Ruby for close to a year.

[2017-09-18 21:08] Duende13 commented on #1822
Thank you, @myriamboure! I think you found the problem. In Spree everything is sorted by 'created at' but default. I added the other two fields but maybe 'created at' is still being added making that funny bug. I'll have a look into this and try to reproduce the problem.  Thank you for giving me the tip about it (prima attention to detail!) and confirming that it has nothing to do with the 'displa

[2017-09-19 07:59] sauloperez commented on #1756
Welcome @adamgunther1! Always happy to see new contributors! Your experience will come in handy.

[2017-09-19 08:12] sstead opened #1840 "Long website links displaying poorly on profiles"
Long website links are falling outside the profile modal, example below.

![image](https://user-images.githubusercontent.com/10843056/30582122-ec945e8e-9d65-11e7-97f7-5b8ea2b0d0d5.png)

[2017-09-19 08:12] sstead opened #13062 "Long website links displaying poorly on profiles"
Long website links are falling outside the profile modal, example below. The word falling off is Altona, so it's just one letter falling off the side.

![image](https://user-images.githubusercontent.com/10843056/30582122-ec945e8e-9d65-11e7-97f7-5b8ea2b0d0d5.png)

[2017-09-19 16:59] podoglyph commented on #543
Hi, I'm a new contributor to OFN. This seems like something I could handle. The suggestion from @Matt-Yorkley seems like a good direction to go in. If nobody is assigned to this I'm happy to take it on.

[2017-09-19 17:18] adamgunther1 commented on #1756
Hi, due to the timeframe for our assignment, this issue will require a lot of back and forth on UI/UX decisions, so we are going to offer to contribute on another issue. Thanks for the warm welcome!

[2017-09-19 17:28] NickWeir63 commented on #1756
Thanks @adamgunther1 you might like to look at the issues labelled 'rubies for newbies' unless anyone @daniellemoorhead ? can suggest a quick issue for you to look at.  Thanks again

[2017-09-19 17:32] NickWeir63 commented on #543
Hi @podoglyph welcome to OFN ! If you let me have your email address I will join you up to our Slack channel to help with communication. My email is nick@openfoodnetwork.org.uk This issue is not ladbelled as 'Rubies for Newbies' but I will ask @lin-d-hop or @daniellemoorhead  to let you know if it is suitable for a first-time contribution.

Thanks very much for getting involved. Hope to meet you s

[2017-09-19 17:42] lin-d-hop commented on #1300
Duplicate #543

Definitely a good one to pick up @podoglyph

[2017-09-19 18:41] podoglyph commented on #543
Thanks @lin-d-hop
I'll start working on it and check in with questions. And thanks to @NickWeir63 for getting me in the slack channel!

[2017-09-20 07:37] sauloperez commented on #1236
should be close the issue then @sstead ?

[2017-09-20 07:41] sauloperez commented on #577
Can someone describe that other approach?

To me it looks overly complex. What's wrong with having a VERSION file in each deploy and reading the number from it? I know it's not as cool as a webhook :trollface:

[2017-09-20 08:59] myriamboure opened #1843 "How to change the url for localization strategy ?"
![screenshot from 2017-09-20 10-56-03](https://user-images.githubusercontent.com/8135376/30635324-568a6b9e-9df2-11e7-9ffc-c57c47cab5a0.png)

See the url here is "https://www.openfoodfrance.org/sell", how can each instance change those to adapt it to local SEO strategies ? Like in France we would like to rethink all the url names so that we use relevant keywords and an understandable url (if someon

[2017-09-20 09:01] sauloperez commented on #1843
I'd first say what is the problem you're trying to solve?

[2017-09-20 09:55] myriamboure commented on #1843
I want the url to improve the SEO of the Open Food France website.
I also suspect it is reassuring for French users to see url text in French. But the main objective is SEO, put some relevant keywords in URL.
It's not super strategic if I share an url with a user of this given page where they can fin the various possible entreprises they can create to share with them a link with "sell" written on

[2017-09-20 10:23] RachL commented on #1843
@myriamboure Indeed URL with keywords could be very helpful in terms of SEO. I'm not an expert so I might be wrong, but I'm afraid it would imply a lot of work to personnalize URL per instances. Plus - if I'm not mistaken - if all instances use the same URL it stills improve the website's SEO, doesn't it ?
That being said, maybe it would be great to have a written process on how to create an SEO f

[2017-09-20 10:43] myriamboure opened #1844 ""entreprise relationship" tab still not translated."
Reference to PR https://github.com/openfoodfoundation/openfoodnetwork/pull/1771

In release note 1.8.14 the tab is supposed to be translated, we deployed it and it's not. No new string in transifex either but there was one existing already (maybe it's the same, not sure).
Not working either in Spain so it seems like a bug.

[2017-09-20 12:19] ltrls commented on #1493
I've pretty much found what's causing it, I'm unsure about the solution:
The customers table has no `email` field but a `user_id` foreign key, so when we add a customer, a Customer model's `before_create` hook looks for a user with the given email and saves it in the `user_id` field.
We need to save the email somewhere so that we can associate the customer later, when someone registers a user with

[2017-09-20 23:19] daniellemoorhead commented on #1838
@kirstenalarsen do you want this focused on by the AU team? If so best put it into the Australian current project :)

[2017-09-20 23:19] daniellemoorhead commented on #1493
@mkllnk @Matt-Yorkley any thoughts on how to solve this ☝️

[2017-09-21 01:45] oeoeaio commented on #1837
For posterity, here is my full understanding of this issue as it currently stands.

Starting at the start: in 2014, we rebuilt the checkout flow, so that it had a better UX. This involved submitting all attributes of the order in one step, so we now submit `payments_attributes` with every request made to `CheckoutController#update`. Generally speaking these attributes contain all of the informatio

[2017-09-21 02:29] kirstenalarsen commented on #1838
not necessarily, was just logging the bug, no idea how urgent it is in the
bigger scheme of things

On 21 September 2017 at 09:19, Danni M <notifications@github.com> wrote:

[2017-09-21 04:40] oeoeaio commented on #1074
Hey team, this should be fixed by #1842 which has been merged and will arrive with the next release.

[2017-09-21 04:41] #1074 closed

[2017-09-21 04:41] oeoeaio commented on #1837
Fixed by #1842 🤞

[2017-09-21 04:41] #1837 closed

[2017-09-21 06:54] sauloperez commented on #1074
Did we ever do a hotfix release @oeoeaio? I'm not sure this issue is worth it but something to keep in mind.

[2017-09-21 07:13] oeoeaio commented on #1074
Yep, we can do urgent dot releases whenever we like. Hopefully we'll do a spree-upgrade release this week (v1.9?), so I was thinking this will just go out as part of that.

[2017-09-21 08:17] sauloperez commented on #1493
To my understanding and related to https://community.openfoodnetwork.org/t/inviting-hub-members-via-email/989/12 this sort of UX flows are better solved by means of an invitation. IMO any time we add use to the system, be it customer or enterprise user, the user should signup/login through by clicking the link present in the email invitation.

If we leave it up to the user to type in her email the

[2017-09-21 11:05] enricostano commented on #1493
I think that we need to design the onboarding experience and make sure it's as smooth as possible.

[2017-09-21 11:35] sauloperez commented on #1493
Agree. Looks to me as a bunch of different features that lack cohesion.

[2017-09-21 13:49] enricostano commented on #1844
More than a bug it seems that the `en.yml` key has not been imported in Transifex.

cc/ @mkllnk @sseerrggii

[2017-09-21 14:17] ltrls commented on #1802
The title should appear in Transifex, if you can look for it by key it is: `spree.admin.products.bulk_edit.header.title`

[2017-09-21 14:20] ltrls commented on #1798
The email subject is translated in my development environment, I can't see why it wouldn't work in production oO

[2017-09-21 14:58] enricostano commented on #683
cc/ @sauloperez @sseerrggii

[2017-09-21 16:25] RachL commented on #1493
I'm trying to sum up everything I've read in the different links:
- we have here a bug that happens because a manager adds an unknown customer to a hub. This customer receive's an email with the hub link. To access the hub the customer has to sign up, but we are not able to link this new account to the previously added account, resulting in the customer not having access to the hub
- the potential

[2017-09-22 00:00] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59c452b9f2ecb5001a5e0eb6&i=gh&m=ra)

[2017-09-22 01:36] mkllnk commented on #1844
I'm sorry, the transifex branch was not updated after the last release. All I did now is `git push origin v1.8.14:transifex`. Within the next 24h Transifex will download `en.yml` from the transifex branch. The new text will then be available for translation. 100% translated languages will be committed to the transifex branch automatically. We really need to automated this more...

[2017-09-22 02:06] sstead opened #1848 "One tooltip is off the page on OC edit page"
Updated by Myriam 21.05.2018

## Description
One tooltip on order cycle edit page / "advance settings" can't be seen

## Expected Behavior
Tooltip can be read properly

## Actual Behavior
Tooltip can't be seen (Myriam just retested in 13inch screen for instance, so "regular" screen)
![image](https://user-images.githubusercontent.com/10843056/30726477-611a37a4-9f8e-11e7-8f8c-2181ca980282.png)

## S

[2017-09-22 02:07] sstead opened #1849 "Broken tooltips in simple, producer-shop order cycle"
## Description
In **producer shop** order cycles 2 tooltips have lost their content.

## Actual Behavior
For the 2 tooltips below the content is not shown:
![image](https://user-images.githubusercontent.com/10843056/30726506-8fb3c8be-9f8e-11e7-9cf5-683235f47438.png)

## Expected Behavior
Here's what the content should be... (the image comes from a non-producer shop order cycle, where the given too

[2017-09-22 02:12] sstead opened #1850 "Save button not activated when I remove a customer's tag"
In the screenshot below, I've just deleted a tag from a customer, yet the save button isn't clickable.

![image](https://user-images.githubusercontent.com/10843056/30726601-3356e3f2-9f8f-11e7-99b4-c54c4dc3d916.png)

[2017-09-22 04:38] #1718 closed

[2017-09-22 05:43] sstead commented on #1462
Testing notes
Void button disappearing when credit is owed...
![image](https://user-images.githubusercontent.com/10843056/30730757-b0166ec2-9fac-11e7-94c5-8c6f523a87be.png)

[2017-09-22 06:00] mkllnk commented on #577
Do you mean that the deployment process generates that file, but it's not tracked by Git? Sounds simple and it would do the job. Only in Aus production we would never see the tagged version name, because we deploy before we release. Not a big deal for me.

[2017-09-22 06:08] sstead commented on #1236
I'm not 100% certain the issue has fixed itself, but yes I'll close it.

[2017-09-22 06:08] #1236 closed

[2017-09-22 06:10] sstead opened #1851 "Profile only shops should not show when filtering"
The shops filters should only apply to functioning shops, not shops that are profile only. In the case below the shop was previously active on OFN, but then became 'profile-only'. It's still showing in filter results.

![image](https://user-images.githubusercontent.com/10843056/30731420-9f56641c-9fb0-11e7-9cff-0a9a87581ba5.png)

[2017-09-22 06:37] mkllnk commented on #1493
Yes, that sounds right. We intentionally didn't solve this problem, because we needed the email confirmation first. Otherwise someone could sneak in as customer by using another person's email address.

[2017-09-22 07:51] myriamboure commented on #1802
Thanks, and yes the title is translating ok, I guess it was just a transifex branch not update on our server ;-)

[2017-09-22 09:00] sauloperez opened #1852 "Missing translations in enterprise edit page"
The left-hand sidebar in the enterprise edit page is missing all translations.

![users](https://user-images.githubusercontent.com/762088/30736988-30cb4c36-9f85-11e7-84ae-b17eb758d338.png)

[2017-09-22 09:34] enricostano commented on #1844
Yes please 🙏 @mkllnk let's talk one day to understand how we can tackle this one 💪

[2017-09-22 10:24] myriamboure commented on #1798
I have re-tested and it's still the same for me... where can the issue come from ? Any idea @sauloperez or @enricostano do you have the same issue in Spain ?

[2017-09-22 10:45] myriamboure commented on #1843
Ok so for the French speakers I found two interesting posts [here](https://www.growthhacking.fr/t/url-en-francais-sur-notre-site-en-anglais/3575/2) and [here](https://yellowdolphins.com/2011/12/rediger-des-url-indexables-lisibles-et-seo-friendly/).
It doesn't seem to be so important in terms of SEO, but it is a good practice in terms of user experience from my understanding.
I'll invite Coralie in

[2017-09-22 12:39] myriamboure opened #1853 "Issue with "unsecure website" display on Android when access directly a shopfront"
I received this feedback from two different hubs, their clients get an "unsecure connexion" message if they try to access the  platform by clicking directly to a shopfront url.
If they go on main page and access the page from the shops list, there is no issue.
Here is the screen shot I got from a user, he uses the Android version 5.1 and browser is chrome 50.0.2661.89.

![screenshot_2017-09-13-00-

[2017-09-22 14:40] sauloperez opened #1854 "Expand all link should show a pointer cursor on hover"
The "EXPANDIR TODOS" red link shows a text cursor on hover which makes it impossible to guess that it is actually a link. It should change to a pointer cursor instead.

![captura de pantalla 2017-09-22 a les 16 37 56](https://user-images.githubusercontent.com/762088/30749741-9d87514c-9fb4-11e7-8d4b-5a47b76ca630.png)

[2017-09-22 15:08] myriamboure commented on #1854
Duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/1117 which is in the "dev ready" OFFrance project board, I thought @ltrls could work on it when he has solved the remaining issues on the ongoing PR ;)

[2017-09-22 15:38] sauloperez commented on #1854
Oops, sorry, I tend to forget about finding the issue first 😅 . Closing then.

[2017-09-22 15:38] #1854 closed

[2017-09-22 15:55] sauloperez commented on #1843
I understand having a clear an concise URLs helps a lot for SEO and UX but translating the URLs sounds like a huuuuge headache. Furthermore, I can't see the benefit.

In any case, URLs it's nothing we can change now. It'd break all links out there: email notifcations, orders and links shared anywhere. It's something to keep in mind for new features though.

[2017-09-22 16:28] sauloperez commented on #577
exactly that @mkllnk. You get the tag and the sha from the git remote, for instance. @enricostano you're way more familiar with the deployment process than me. Does this sound good?

[2017-09-22 21:18] oeoeaio commented on #577
Looking back at what we were proposing, I tend to agree. It would have been shiny, but maintaining webhooks to all servers wouldn't have been very pleasant.

If we are going to update the version as part of deployment it would be good to only have to implement that in one place. @maikel, in an ideal world would we use `ofn-install` for deployment, and encourage everyone else to do the same?

[2017-09-23 00:00] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59c5a436cc3492001804caac&i=gh&m=ra)

[2017-09-23 04:51] maikel commented on #577
You probably mean someone else.

[2017-09-23 08:03] oeoeaio opened #1856 "Payment fees not applied after an initial failed payment"
### Overview
Picked up as part of Stripe work, but theoretically affects any payment type that can fail at checkout. When I attempt to place an order that fails because of an issue with a payment, I get redirected back to the cart. If I then attempt to process the order again, payment fees are not applied to the order.

### Cause
Part of the Stripe worked involved handling fees on failed payments

[2017-09-23 09:49] sauloperez commented on #1850
Shouldn't we add the `bug` label to all these?

[2017-09-24 00:00] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59c6f5b5843812001cda0083&i=gh&m=ra)

[2017-09-25 12:10] myriamboure commented on #1804
I guess there will be no objection if we add those tooltips ? @enricostano @sauloperez @sstead @lin-d-hop if any objection please voice it now !

[2017-09-25 12:13] sauloperez commented on #1804
No problem of course

[2017-09-26 08:27] myriamboure opened #1859 "Allow producer to manage a hub's inventory"
Use case :  a producer wants to limit the stock allowed to a given hub. Today the producer can't access the hub inventory to set up himself the stock available for this hub.
Can we add an entreprise relationship that says:
"hub X" autorizes "producer Y" to manage inventory ? and in that case the producer can access and overrides his own products information in the hub inventory ?
Is there today an

[2017-09-26 08:46] sauloperez commented on #1859
Sorry, I completely unaware of how enterprise relationships work, but I can't think of another way :thinking:

[2017-09-26 09:38] myriamboure opened #1860 "[mobile ux] Copy-paste in shopfront message display strange white strips"
## In a feature branch or master?
This can be merged straight to master 🎉

## Description
When copy-pasting from another shopfront or any text file, into the "message when shopfront open/close" (in menu enterprise setting > shop preferences), here is what happens. Some shops have done that apparently and then their shopfront is not looking good.

![bug](https://user-images.githubusercontent.com/81

[2017-09-26 10:15] myriamboure opened #1861 "Enable sorting by producer in shopfront"
## Description
**- As a:** enterprise user and super admin
**- On page:** admin/enterprises/ENTERPRISENAME/edit#/shop_preferences
**- I want to be able to do:** to order the products in the shopfront by producer.

I propose to change a bit the shopfront ordering options, by creating another option ordering (either by category OR by producer).

The producer list available can be from those with who

[2017-09-26 10:32] Matt-Yorkley commented on #1593
@myriamboure I'm going to add this to the email confirmation scope as you suggested, if that's ok? It will fit nicely with the changes to how enterprise managers are added.

[2017-09-26 13:21] myriamboure commented on #1593
Sure, go ahead @Matt-Yorkley this is a critical priority for us the quicker fixed the better. Please take a look at what I suggested here : https://community.openfoodnetwork.org/t/inviting-hub-members-via-email/989/17?u=myriamboure I suggest that when you add a manager it is automatically added in the customer list of the hub as well. If it doesn't have to be done in the same issue we can add this

[2017-09-26 13:29] myriamboure commented on #1493
I summed up a solution here to enable a hub manager not to notify the user if they don't want to : https://community.openfoodnetwork.org/t/inviting-hub-members-via-email/989/17

[2017-09-26 13:35] myriamboure commented on #1546
@lin-d-hop is it fine also for uk ? @ltrls is about to work on it now.

[2017-09-26 13:37] myriamboure commented on #1546
https://github.com/openfoodfoundation/openfoodnetwork/issues/1770 should be fixed as well when dealing with this issue

[2017-09-26 14:31] myriamboure commented on #1770
The only issue I see is that there is no way to see the producer properties if you don't click on this "product description field". In https://github.com/openfoodfoundation/openfoodnetwork/issues/1546 I explain that we need to make it possible for the customer to see the products certificates (if they are organic for example the producer can publish the certification to prove it) so instead I woul

[2017-09-26 14:43] myriamboure commented on #795
Or even better it would be to enable automatic resizing of images, for products, but also for hub logo and banner. Do you see any solution for that @ltrls ?

[2017-09-26 14:45] myriamboure commented on #795
Also if the image is too heavy, the system take ages... can we limit the size of the image if the size is above this limit, display a message like "the file you try to upload is bigger than the authorized limit of xxxMo. Please upload another image."

[2017-09-26 14:50] myriamboure commented on #795
So to sum up here is the list I see for product images (but ideally would apply to logo and banner images as well):

- [ ] Write the image size accepted below each concerned image (in term of Lxl like 100x100) and max weight for the file (like 5Mo) > what should be that limit ?
- [ ] Set up an automatic resize tool if the image doesn't fit the image Lxl recommendation
- [ ] If the image is above t

[2017-09-26 21:08] sauloperez commented on #795
I like it but I wouldn't implement the resize tool on a first iteration. It's a bite off more than we can chew. IMO we have way to many open initiatives/features already.

[2017-09-26 21:29] sigmundpetersen commented on #795
Agree with @sauloperez , and when we first do it we should have an automatic compression tool as well. Sothe user shouldn't worry about either image size or file size. There must be off the shelf solutions out there though (?)

[2017-09-26 22:15] daniellemoorhead commented on #1493
Oh how lovely it would be to completely redesign the sign up process! So many things on the wishlist... 😀

@RachL all that sounds correct and a good plan. So the sooner we can get the email confirm functionality merged and released the sooner we can get this issue fixed and make a lot of people very happy.

Ping @sstead @lin-d-hop so you're both in the loop.

[2017-09-26 22:20] daniellemoorhead commented on #1860
Hey @myriamboure I think this could be something a newbie could do, so would you be able to add a little bit more information about what you did / where you did it and where this message displays? I'm not sure if it would be obvious for a new person :)

[2017-09-26 22:41] daniellemoorhead commented on #1844
In the meantime do we need to enforce in Australia that any release we do we MUST also update the transifex branch? Can it be something that we put in big letters on a wall somewhere in the australia office and that we remind each other each time we do a release?

(1. do we know which changes made it into the release? 2. are release notes done? 3. has transifex branch been updated)

[2017-09-26 22:44] daniellemoorhead commented on #1851
Don't forget the bug label @sstead 😃

[2017-09-26 22:56] daniellemoorhead commented on #1598
@ltrls would be great if you could tick the checkboxes in the description that have been done in PR #1572 so that we know what's left before this can be closed. Same for you @Matt-Yorkley once your #1793 has gone through.

[2017-09-26 23:10] daniellemoorhead commented on #1840
I wonder why we need to display the full link...could we just do like Google does and have an icon for a website link?

[2017-09-27 00:40] oeoeaio opened #1862 "Add action to handle Stripe refund webhook"
### Overview
Enterprise owners can issue refunds from their Stripe dashboard (ie. external to the OFN). It would be ideal to receive webhooks for these events and update any payment details within the OFN accordingly.

### Approach
We currently have a webhook for listening to the `account.deauthorized` event. I'm not sure whether it would be good to have a generalised webhook action, that can hand

[2017-09-27 00:44] oeoeaio opened #1863 "Allow customers to update their card details from the /account page"
### Overview
At the moment, customers can add cards to their account from the checkout or from their `/account` page. It would be good to allow customers to update their card details, in addition to just adding a card. This is not on the critical path to release, so is a nice to have for now.

### Approach
I am pretty sure that we can use Stripe Elements to handle this, so it shouldn't been too di

[2017-09-27 00:54] oeoeaio opened #1864 "Provide a locale to Stripe Elements requests to enable messages to be translated"
### Overview
Stripe Elements defaults to english, but a locale can be passed to enable any error messages that originate from Stripe to be translated.

### Approach
I think all that this would take is to provide a locale to the requestToken function in the StripeElements service.

### Also
I haven't looked into what it would take to get error messages generated by server side requests made to Stri

[2017-09-27 00:54] oeoeaio opened #7961 "Provide a locale to Stripe Elements requests to enable messages to be translated"
### Overview
Stripe Elements defaults to english, but a locale can be passed to enable any error messages that originate from Stripe to be translated.

### Approach
I think all that this would take is to provide a locale to the requestToken function in the StripeElements service.

### Also
I haven't looked into what it would take to get error messages generated by server side requests made to Stri

[2017-09-27 01:18] sstead commented on #1546
@myriamboure just trying to clarify with screenshots below..

Currently the only place that the 'Property Description' shows is when you hover your mouse over the Property button, in the Product modal. See below. Are you suggesting that hovering will show the description text, and if I click, another modal will open with the uploaded document? Or maybe the document will open in another tab?
![imag

[2017-09-27 01:21] sstead commented on #1861
I love this idea!

[2017-09-27 01:54] sstead commented on #1859
I agree that this would be a very useful feature. It would be handy our Prom Coast food hub, and others using a model where producers update their own stock details. @oeoeaio and I thought this through breifly, and he's what we think...

Using the 'permission to add to inventory' E2E backwards could be problematic for Producer Hubs. It would only work where it's clearly a 'hub only' giving a 'prod

[2017-09-27 07:55] myriamboure commented on #1860
Sure ! In the enterprise menu, the user write in "shopfront preference" a welcome message for his hub 1.
He creates another hub and wants to use the same welcome message. So he copies/pastes the welcome message from hub 1 to hub 2. He saves and go on the hub 2 shopfront, he sees the image above so the white strips below the text.
He is surprised so he goes back to the hub 2 menu and delete the mes

[2017-09-27 08:08] myriamboure opened #1865 "Enable hub manager to decide if she wants to receive a notification email or not"
Today there is no way for a hub manager to deactivate the notification emails.
The solution is, from their mailbox to set up a filter that send to trash or to a specific mailbox the confirmation emails.
Most of the hub in France do that, they are fed up with receiving an email each time an order is passed...
But we received a feedback from a user saying that emails have a carbon footprint so it wo

[2017-09-27 13:13] myriamboure opened #1866 "Basic technical configuration to enable "archive" of a user, entreprise, order cycle, order, product"
Set up the possibility to create a delete item for users, products, entreprises, order cycles, orders.

See @enricostano  comment [here ](https://community.openfoodnetwork.org/t/what-to-implement-in-terms-of-users-enterprises-removal/1046/2?u=myriamboure):

"
- allow people to delete their account in the UI
- just mark the record in the DB as deleted
- change the user's email in the DB to myemail+

[2017-09-27 13:16] myriamboure opened #1867 "A non-entreprise user can delete his account from front-end"
![deletes in ofn](https://user-images.githubusercontent.com/8135376/30915909-68f7a156-a398-11e7-8284-1a180d6ad983.jpg)

![deletes in ofn 1](https://user-images.githubusercontent.com/8135376/30915921-6dcabaf6-a398-11e7-9356-99d628ef2a74.jpg)

![deletes in ofn 2](https://user-images.githubusercontent.com/8135376/30915930-71c0e2f2-a398-11e7-9d9c-ddc0b4e151cf.jpg)

![deletes in ofn 3](https://user-ima

[2017-09-27 13:17] myriamboure opened #1868 "An entreprise owner can delete his account from front end"
![deletes in ofn 10](https://user-images.githubusercontent.com/8135376/30917838-2d96a684-a39d-11e7-9be8-6dd6e5a59a9d.jpg)

![deletes in ofn 11](https://user-images.githubusercontent.com/8135376/30917841-2f823814-a39d-11e7-9809-6daf3f08cb47.jpg)

![deletes in ofn 12](https://user-images.githubusercontent.com/8135376/30917851-31288290-a39d-11e7-8638-c56beed13ede.jpg)

![deletes in ofn 13](https://us

[2017-09-27 13:17] myriamboure opened #1869 "An admin can delete a user account from back-end"

[2017-09-27 13:17] myriamboure opened #1870 "An entreprise manager can delete customer from the hub's customer list"
![deletes in ofn 20](https://user-images.githubusercontent.com/8135376/30925187-4c7f42d6-a3b1-11e7-9def-3b15cf2f92d4.jpg)

- [ ] The "bin" icon already exists in the customer page, but when you clic on it you get a snail... so instead of having the snale, when you click on it, a warning modal opens.
- [ ] If clicks on "continue", the user is deleted from the customer list, BUT the user is not arch

[2017-09-27 13:18] myriamboure opened #1871 "An admin can delete customers"

[2017-09-27 13:18] myriamboure opened #1872 "An entreprise owner can delete an entreprise from back end"
![deletes in ofn 4](https://user-images.githubusercontent.com/8135376/30916406-a7892542-a399-11e7-91ad-e755d254a4c1.jpg)

![deletes in ofn 5](https://user-images.githubusercontent.com/8135376/30916412-aa97b24e-a399-11e7-8e1b-b20928c603cd.jpg)

![deletes in ofn 6](https://user-images.githubusercontent.com/8135376/30916732-63feeed2-a39a-11e7-9003-fd3d8ff1b5f0.jpg)

![deletes in ofn 8](https://user-i

[2017-09-27 13:19] myriamboure opened #1873 "An admin can delete an entreprise from back end"

[2017-09-27 13:20] myriamboure opened #1874 "An entreprise user can delete an order cycle"
![deletes in ofn 21](https://user-images.githubusercontent.com/8135376/30925896-b5f744f0-a3b3-11e7-9c6a-bea463226f5e.jpg)

- [ ] If no order associated with the OC, can already be deleted correctly
- [ ] If an order associated (even only in status "cart") it's not possible today, so what we want is, when click on the bin and orders associated, display warning modal saying that associated orders wi

[2017-09-27 13:20] myriamboure opened #1875 "An admin can delete an order cycle"

[2017-09-27 13:20] myriamboure opened #1876 "An entreprise user can delete an order"
(will be archived, shall we have a checkbox to show archived orders ?)

[2017-09-27 13:21] myriamboure opened #1877 "An admin can delete an order"

[2017-09-27 13:22] myriamboure opened #1878 "An entreprise user can delete a group"
![deletes in ofn 22](https://user-images.githubusercontent.com/8135376/30926416-5d99a986-a3b5-11e7-860a-0d115c1c7291.jpg)

- [ ] As an admin I can delete a group without any issue today
- [ ] But as a group owner I can't ! When I click on the "bin" icon I get a quick error and then the system charges indefinitely without any result... Just need to fix that, a group owner should be able to delete a

[2017-09-27 13:22] myriamboure opened #1879 "An admin can delete a group"

[2017-09-27 13:23] myriamboure opened #1880 "Deletions in OFN"
Today users feel pretty painful not to be able to delete any customer, any order cycle (as ong as someone has opened the shopfront page), any entreprise (when they make mistakes), any order (when they do tests).
This epic is implementing the ability to delete accounts, entreprises, users, customers, order cycles, orders,   and products.

See reference discussion (still ongoing) : https://community

[2017-09-27 13:30] myriamboure commented on #1867
- [ ] Add "delete account" link on the user front end account page > image 1
- [ ] When click on it, display warning modal and ask "continue' (drive to image 3) or "cancel" (close modal and nothing happens)  > image 2
- [ ] If clicks on "continue", back to main page with green success banner > image 3

[2017-09-27 15:57] myriamboure opened #1881 "An entreprise manager can delete his account from front end"
![deletes in ofn 14](https://user-images.githubusercontent.com/8135376/30923934-8df473d4-a3ad-11e7-8121-d4c2d5db2ffb.jpg)

![deletes in ofn 15](https://user-images.githubusercontent.com/8135376/30923949-91f2051e-a3ad-11e7-9562-43d60e2bc4d4.jpg)

![deletes in ofn 16](https://user-images.githubusercontent.com/8135376/30923952-93e78d8a-a3ad-11e7-9131-df99907960c6.jpg)

![deletes in ofn 17](https://us

[2017-09-27 16:12] myriamboure opened #1882 "Update "users an entreprises" report with filters on archived entries"
![deletes in ofn 19](https://user-images.githubusercontent.com/8135376/30924647-a6ccc648-a3af-11e7-9d7e-9cf731ed5735.jpg)

- [ ] In "users and entreprises" report, add a filter checkbox "display archived users/entreprises" (by default = unchecked)
- [ ] Add a column "archived?", if the user/entreprise is archived the date of deletion is written. See question below, I guess we might need to disting

[2017-09-27 16:29] #1877 closed

[2017-09-27 16:30] #1876 closed

[2017-09-27 17:10] myriamboure commented on #1870
This will solve https://github.com/openfoodfoundation/openfoodnetwork/issues/1494 as well.

[2017-09-27 17:21] myriamboure commented on #1880
@enricostano @sauloperez do you know if Spree upgrade will have an impact on any of those issues ? This seems like a fundamental think to get done, can it be done in parallel of Spree upgrade ?

[2017-09-27 17:32] myriamboure commented on #1546
Wahou, that's a precise specification @sstead you are my Master Yoda :-)
I agree that it's best to open in any case the certification document in another tab, that will be clearer.
I agree basically on all what you suggest, on producers related modals, hover shows description and click open new tab with document (is document available, if not, not clickable). On hubs modals, not hoverable/clickabl

[2017-09-27 19:56] myriamboure commented on #1844
Just tested, the tab is now translated :-)

[2017-09-27 19:56] #1844 closed

[2017-09-27 20:03] myriamboure opened #1883 "Bug in orders filter by dates"
Use case: as a hub manager I want to filter the orders from certain dates ranges.
The calendar displays properly, I can choose a start date but then it displays wrongly : aa-09-jj
If I select an "end date" the "start dates" disappears and the end dates also displays wrongly.

![screenshot from 2017-09-27 22-01-12](https://user-images.githubusercontent.com/8135376/30934937-6d15199e-a3cf-11e7-97c3-5

[2017-09-27 20:26] myriamboure opened #1884 "Order "order cycle" list from most recent to oldest in "orders" filtering"
We just got a feedback from a user (who actually is becoming kind of a very active tester apparently ;-)):
she got lost in trying to filter the orders by "order cycle" as she has many and they were proposed in a random order, whereas in other places on the platform they are ordered from most recent to oldest, so it's easier to search.

To do: display order cycles from most recent to oldest in "ord

[2017-09-27 21:11] myriamboure commented on #1859
@sstead can you explain more ?
I don't get that point...
If hub 1 is a producer 1 but in his hub, sells also products from producer 2
If he grants persmission to producer 2 to manager inventory, producer 2 will only be able to see his own products in hub 1's inventory.
What is the issue ? Thanks for this clarification ;-)

[2017-09-28 00:01] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59cc3bb25129e6001804a19f&i=gh&m=ra)

[2017-09-28 02:56] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59cc64e1c3772c0018440e99&i=gh&m=ra)

[2017-09-28 07:15] Matt-Yorkley commented on #795
I opened an issue previously that relates to the second point (resizing images). As far as I can tell there is some sort of image resizing that happens on AUS production but not UK production.

https://github.com/openfoodfoundation/openfoodnetwork/issues/1603

[2017-09-28 07:38] sigmundpetersen commented on #1883
I was looking into the same thing recently @myriamboure and I think it's related to the translation key spree.date_picker.js_format added to Transifex. I don't think this should be translated. I will try putting it back to yy-mm-dd and see. You may try in parallel :)

[2017-09-28 11:14] myriamboure commented on #1798
Did you manage to understand the issue @ltrls ?

[2017-09-28 15:14] sauloperez commented on #1862
hard to say without a bit more details on how these webhooks requests look like but having a single entry point sounds good.

[2017-09-28 18:31] enricostano commented on #1880
I don't think Spree upgrade will bring anything in this direction since every project that uses Spree will adopt a different take on the problem. We need to finish to discuss it first and then talk about implementation IMHO.

[2017-09-28 18:33] enricostano commented on #1844
@myriamboure do you think this Transifex automatization is something that OF France could dedicate time to? It's pretty urgent IMHO and I guess @mkllnk will be pleased to get help there. What do you think?

[2017-09-28 21:27] myriamboure commented on #1880
Sure sure @enricostano I just wanted to understand the project management process, but will change whatever is needed given the result of the Discourse discussion ;)

[2017-09-28 21:38] myriamboure commented on #1844
Yes, I'm sure Augustin will be happy to work on that :-) I can't @ him yet (not in the Github team, waiting to be added ;-)) but I invite him here.

[2017-09-28 21:38] myriamboure commented on #1844
I mean on transifex automation discussion ;-)

[2017-09-29 08:36] sauloperez commented on #1844
That would be awesom! this process is way to slow for our current needs.

[2017-09-29 13:26] myriamboure opened #1887 "Allow producer to see customers names if hub agrees"
As a producer, I want to see what has been ordered to prepare each individual client basket for the delivery in the food hub.
When I go in "report", "order cycle total by customer", i see that:
![masque](https://user-images.githubusercontent.com/8135376/31017700-b5e4effe-a529-11e7-990a-7a8c160c4278.png)

The producer doesn't know who he is supposed to deliver which basket :-(

**My proposal is:**

[2017-09-29 13:31] myriamboure commented on #1887
@enricostano @sauloperez @kirstenalarsen @lin-d-hop @sstead @daniellemoorhead any objection if we do that ?

[2017-09-29 13:45] myriamboure opened #1888 "When a producer adds a product, he can't add it to a shopfront he supplies"
In my producer account, I create a new product. I want to add it to the order cycle of the buying group I supply. I go in order cycle, I select normally the new product in "Incoming", BUT in "outgoing", I can't select it ! The product is available, I see it but I can't check the checkbox.

![screenshot from 2017-09-29 15-41-59](https://user-images.githubusercontent.com/8135376/31018526-c711a788-a5

[2017-09-29 14:05] myriamboure opened #1889 "Bug in "order cycles" filter on customer admin reports"
## Description
As a producer, I can't filter my sales by order cycle for the hubs I provide, so I can't get easily the information on what I'm suppose to deliver to a hub for a given order cycle.

## Expected Behavior
As a producer, when I generate a report, I should be able to filter the results by order cycle for all the order cycle I am a supplier for.

## Actual Behavior
As a producer, when I

[2017-09-29 17:50] myriamboure opened #1891 "Private shop wants to upload a file to get all their members in their customer list"
Not urgent, request by already 2 hubs in France who have many members... annoying to add them one by one in their customer list.

[2017-09-30 12:41] sstead commented on #1887
This sounds like a useful change to me, no objections.
________________________________
From: Myriam<mailto:notifications@github.com>
Sent: ‎29/‎09/‎2017 11:31 PM
To: openfoodfoundation/openfoodnetwork<mailto:openfoodnetwork@noreply.github.com>
Cc: Sally<mailto:sallystead@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [openfoodfoundation/openfoodnetwork] Allow producer to se

[2017-10-04 04:17] mkllnk commented on #577
I agree.

Yes, I agree on that as well.

The whole Ansible vs Git deployment discussion is a bit bigger. I think we should do that at the forum, possible topic: "What would be the best way to deploy and update OFN?"

Just to solve this issue, we could write a little shell script that writes the currently checked out version to a file. We can call that script from the Git hook and the Ansible playb

[2017-10-04 08:30] myriamboure commented on #1861
@augnustin seems like I can @ now ;-) If you would like that issue could be something you could work on to get your hand into OFN, I don't think it's over complex, but still will help you understand some complexity of the software. Cheers :-)

[2017-10-04 15:24] myriamboure commented on #1798
Seems like the key is in transifex since last May but it's not working...
![screenshot from 2017-10-04 17-23-28](https://user-images.githubusercontent.com/8135376/31184129-d9a1b7f8-a928-11e7-87b3-fe545aee7cac.png)

[2017-10-04 16:22] myriamboure commented on #1798
Title fixed with the upgrade on French production.

[2017-10-05 08:38] daniellemoorhead commented on #795
@Matt-Yorkley @myriamboure should we close #1603 as a duplicate or remove it from this issue?

[2017-10-05 11:11] sauloperez commented on #1779
Solved by https://github.com/openfoodfoundation/openfoodnetwork/pull/1820

[2017-10-05 11:12] #1779 closed

[2017-10-05 11:19] sineadfenton commented on #1075
Hey @sstead

Just wondering on this one (sorry know its old). But are you referring products essentially having their own URLs?

We've had a request in from a user about products having the own URLs so when you share a product directly for marketing purposes but I could see this tying into this too where clicking on the image would open a new window or iframe with the product and not the homepage?

[2017-10-05 12:47] sauloperez commented on #796
Hey @myriamboure @ltrls any news on this one? It's become one of our top-most priorities.

[2017-10-05 13:11] sigmundpetersen commented on #796
I think it's ready for stage and test here #1831 @sauloperez

[2017-10-05 13:25] #1791 closed

[2017-10-05 22:14] lin-d-hop commented on #1473
To update on UI-grids, I am working on having different developers look at this but it's a complex piece of work and our budgets are getting tight. If anyone else can contribute on cobudget it will really help us continue with confidence :-)

[2017-10-05 22:30] sstead commented on #1738
@mkllnk josh from Synchronicity farm has asked about this a couple of times. Any way to speed it up?

[2017-10-06 00:54] sstead commented on #1075
Hi @sineadfenton, I suppose most immediately we just need to remove the confusing homepage redirect. Either by making the image not clickable (this might be easiest), or by having it open the product modal that you see in the shop (e.g. below).
![image](https://user-images.githubusercontent.com/10843056/31258705-ea21e728-aa8c-11e7-9514-c156fa472d4f.png)

Giving products their own URL would be a ne

[2017-10-06 01:07] sstead commented on #1546
Sounds good!

[2017-10-06 01:20] sstead commented on #1859
The current logic for permission to add to Inventory:
- If a producer grants permission to a Hub, that Hub can override the producer's product details in Inventory.

Proposed new permission logic:
- If a hub grants permission to a producer, that producer can see their items in the hub's inventory and edit details without needing to be a manager of the hub.

The above logic breaks if:
- A Producer

[2017-10-06 05:05] mkllnk commented on #1711
I just added the following line to the init script:
[code]

That fixed it on staging2. Does that need to go into ofn-install?

[2017-10-06 06:19] #1738 closed

[2017-10-06 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59d72a072635d700180b1e0c&i=gh&m=ra)

[2017-10-06 07:14] sauloperez commented on #1711
:scream: I'm not sure. Shouldn't this be out of the box if we run the provisioning with the user `openfoodnetwork`? @danypr92 and @enricostano will tell you.

[2017-10-06 13:03] myriamboure commented on #1859
@augnustin @enricostano @sauloperez  I heard this morning that the future versions of spree was handling inventory much better, but when I look at https://guides.spreecommerce.org/user/configuring_inventory.html I have the impression they use inventory for something pretty different than us.
More for "stock" management, movements of stock and stock location, but I think we changed quite a lot the

[2017-10-06 13:09] myriamboure commented on #1883
@ltrls can you check that quickly ?

[2017-10-06 13:12] myriamboure commented on #1888
@sstead @lin-d-hop @sigmundpetersen @enricostano any objection to that ? It sounds like a small thing that is annoying one of our user in France. If it's quick to fix we would like to fix it :-)

[2017-10-06 13:21] Morantron commented on #1782
That's already done in the linked PR

[2017-10-06 13:23] myriamboure commented on #1889
To do:
- [ ] For "producer rights" users, propose in the order cycle filter not only the producer hub 's OC, but also the hubs' OC he is a supplier for.
This is a clear bug to me so we gonna move forward to fix it, annoying at least two users who reported that to us.

I propose to treat separately the calendar thing, maybe @augnustin you had some idea to add that in some locals so that all the cal

[2017-10-06 13:36] sauloperez opened #1894 "Form fields get erased on error in new product page"
When creating a new product, I get an error message but the data I typed in the form gets erased as well. We must keep that data so the user doesn't need to type in from scratch.

[2017-10-06 13:36] sauloperez opened #9047 "Form fields get erased on error in new product page"
## Description
**- As a:** enterprise user and super admin
**- On page:** `/admin/products/new`
**- I want to be able to do:**  When creating a new product, I get an error message but the data I typed in the form gets erased as well. We must keep that data so the user doesn't need to type in from scratch.

## Acceptance Criteria & Tests

1. Log in as enterprise user
2. Go to  `/admin/products/new`

[2017-10-06 15:05] myriamboure commented on #1824
It seems that Sally validates our approach, so I sum up here the spec (= option 1 in [this post](https://community.openfoodnetwork.org/t/enable-different-fees-to-be-charged-based-on-tag-used/1054/7?u=myriamboure) of the discussion) :

Following the "default rule" and "tag rule" logic, we need :

- [ ]  **to be able to tag an enterprise fee: add a column "tag" in the "enterprise fee" table**, like

[2017-10-06 15:07] myriamboure commented on #1824
Ok so following the discourse discussion I specified the work to do. Please @kirstenalarsen or @oeoeaio if you have anything to add on that go ahead, we want to launch asap, for our big cooperative food hub that we love :-)

[2017-10-06 15:14] myriamboure commented on #1473
I understand @lin-d-hop I think OFFrance will more likely commit more to Spree upgrade and other big pieces of work that makes our work just hard now (email confim, deletion, internationalisation...), before contributing or launching other big new features. But I keep that in mind, we also do want more flexibility in reports of course. There is a big issue on our side on performance on the reports

[2017-10-07 00:00] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59d819294041030018b5d8ee&i=gh&m=ra)

[2017-10-09 13:00] myriamboure commented on #1824
Precision: the tag rule concerns any enterprise fee, whether it be at coordinator, incoming or outgoing level.

[2017-10-09 13:15] lin-d-hop commented on #1777
@oeoeaio @mkllnk @Matt-Yorkley @enricostano
Is everyone happy for this to be changed?
I understand the design is to stop trolling so if anyone has an alternative suggestion please do comment here.

I'd like to assign to someone in the UK as it is a UX annoyance.

[2017-10-10 07:56] myriamboure commented on #1603
@augnustin @ltrls can one of you investigate on that ? This would answer our "resize" need, the problem is also happening in France, same as UK... any idea @mkllnk or @oeoeaio where that can come from ?

[2017-10-10 08:01] myriamboure commented on #795
@daniellemoorhead I suggest to keep the #1603 and take the "resize" thing out of this issue. It seems there is already a solution implemented in Aus for resize @sauloperez so we'll see if we can get it work elsewhere ;-)
So if I sum up the scope of this issue:
- [ ] Write the image size accepted below each concerned image (in term of Lxl like 100x100) and max weight for the file (like 5Mo) > what

[2017-10-10 08:03] myriamboure commented on #795
Also this issue woudl be covered if we solve this one: https://github.com/openfoodfoundation/openfoodnetwork/issues/1185 so closing it. @mkllnk had referenced https://github.com/openfoodfoundation/openfoodnetwork/issues/1389 as a potential solution, I'll let the devs have a look at it.

[2017-10-10 08:04] myriamboure commented on #1185
Closing as duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/795#issuecomment-334398196

[2017-10-10 08:04] #1185 closed

[2017-10-10 22:13] daniellemoorhead commented on #795
All sounds fine to me @myriamboure, go for it :)

[2017-10-10 22:40] oeoeaio commented on #1777
I am happy to change it. Spam filtering is pretty sophisticated these days, and the fact copying doesn't actually work is a problem.

[2017-10-10 22:46] daniellemoorhead commented on #796
Slight correction on that update - it's been tested, now we await a response to @myriamboure's question.

[2017-10-11 02:13] mkllnk commented on #1777
I agree. This is actually really cool. It basically means that we won the war against spam. :-)

[2017-10-11 07:43] oeoeaio commented on #1603
Are we actually sure that some kind of cropping is taking place? There has been a lot of hand-holding to get producers and shops set up on aus production. So perhaps the fact that the images seem to look better is just a reflection of this support? The only way that I have found to get product images for the Baw Baw Food Hub to display in the way that I want them is to crop them manually before I

[2017-10-11 09:22] enricostano commented on #1711
Yes it should be.

@mkllnk what was the value of `HOME` before the export?

[2017-10-11 09:46] sauloperez commented on #796
which question @daniellemoorhead ?

[2017-10-11 10:41] sigmundpetersen commented on #796
I think it's the last comment on #1831 @sauloperez

[2017-10-11 10:51] myriamboure commented on #796
Yes @sauloperez , @ltrls is working on fixing the inventory thing and making the format update dynamic. He wi also try to integrate some "unvalid format" rules (like if there is an amount with two digit between two "." =invalid format") hopefully he will be done today so I can test tomorrow on the French staging and we can quickly push again ;-)

[2017-10-11 10:52] oeoeaio commented on #1626
@daniellemoorhead do you think this can be closed?

[2017-10-11 10:59] sigmundpetersen commented on #1626
@oeoeaio seems this PR #1795 is connected and not merged yet?

[2017-10-11 12:52] saimonmoore commented on #1894
I'll take this

[2017-10-11 14:38] myriamboure commented on #1603
Yes, I was wondering about that @oeoeaio so I looked at various shops in Aus production and all products' pictures seemed nice so I supposed it was cropped, but as you say maybe it was just manual support ;-)
So I'll be happy to let @augnustin or @ltrls propose something that could work to either crop the image (like a "frame" where you see your image through and can move your image and then clic

[2017-10-11 15:08] Matt-Yorkley commented on #1603
Is it Paperclip that creates the thumbnails, or S3? Maybe there's some simple Paperclip settings that could be tweaked.

[2017-10-11 16:46] sauloperez commented on #795
@myriamboure 5 Mb feels too much for me. Keep in mind that the photos are listed in the shop page so in the worst case the browser would be rendering `5 Mb * number of products in the page`. Definitely slow. Besides, there's also a technical limitation regarding the time out of our servers. I suggest something like 2Mb.

We can take a look at issuing Gzip requests but I'd rather leave this for a l

[2017-10-11 18:34] myriamboure commented on #795
Agree, thanks @sauloperez but given https://github.com/openfoodfoundation/openfoodnetwork/issues/1185 shouldn't we even reduce more than that the allowed size? From the test I made it takes more than 10 sec to upload an image of 1,2MB... It's a bit annoying to put less than 2MB as the user likely will have to work on the image before he can upload it... but the load time is super high even for rel

[2017-10-12 00:13] oeoeaio commented on #1824
Sorry for my slow response @myriamboure. I must have missed the previous notification email.

I haven't done any deep investigation into this, but my first thought is that applying fees to products based on a customer tag will require a different approach to loading product information into the shop. At the moment, price information is cached along with all other product information, so that large

[2017-10-12 00:54] oeoeaio commented on #1859
Hi @myriamboure. Me again. Can you tell I'm catching up on my emails? :)

The issue isn't super technical, it's just that there is no way to use the existing 'inventory' permission to allow the existing functionality AND the new functionality independently of each other. By reusing the existing permission, there are scenarios where both the existing and new meaning of the permission would be appli

[2017-10-12 08:36] myriamboure commented on #1824
Thanks @oeoeaio for your comments, I guess we should be cautious in not increasing the loading time through that process. We'll investigate first on that.

[2017-10-12 08:47] myriamboure commented on #1859
Yes @oeoeaio you are catching up, thanks :+1:

My initial suggestion was not to use the existing inventory permission but as you say, create a new one that we can call "manage inventory" so we would have 2 different permissions:
- add to inventory: a producer allows a hub to add the producers' products to his inventory
- manage his own products in inventory: a hub allows a producer to manage his p

[2017-10-12 08:51] sauloperez commented on #795
I'll do the same test on my local setup. Do not forget the upload time is bound to the network. The smaller the bandwidth your provider gives you, the longer it'll take.

[2017-10-12 08:53] myriamboure commented on #795
Sure, but I think I have a "normal" connexion that probably most users will have ;-) I did test in two different locations and the results are pretty similar. Looking forward to see your tests ;-)

[2017-10-12 09:47] lin-d-hop commented on #1663
@Duende13
This has now been deployed to UK production but seems to not be working.
Ping @OliverUK to provide more details....

[2017-10-12 09:49] OliverUK commented on #1663
OK so here is an example of this mornings notify producer emails as copied to me:

![screen shot 2017-10-12 at 10 48 40](https://user-images.githubusercontent.com/17590921/31490175-fbb40c2a-af3a-11e7-97fa-b22c2b24ccd7.png)

[2017-10-12 10:03] lin-d-hop commented on #1741
@sstead @oeoeaio could we queue this one for testing tomorrow.
Either this or multilingual will be on UK staging if that saves some time :-)

[2017-10-13 00:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59e0021755e9a2001bf128ed&i=gh&m=ra)

[2017-10-13 00:00] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59e00222df4d170018762398&i=gh&m=ra)

[2017-10-13 01:50] sstead opened #1900 "Taxons not showing in Edit Product"
Taxons aren't loading in Product Edit. I believe that by default the product category should show here, and you should be able to select a series of product categories in this field e.g. below
![image](https://user-images.githubusercontent.com/10843056/31526843-1752fcb8-b015-11e7-9a6a-8df5ad3403af.png)

![image](https://user-images.githubusercontent.com/10843056/31526792-c92bf4d6-b014-11e7-9f49-7f