[2018-10-01 10:33] sauloperez commented on #2683
I agree with your plan. I don't really understand what you mean by

We'll be able to remove the column in OFN2 or not?

[2018-10-01 10:46] myriamboure commented on #2739
Ok so I think there are two different issues, so I propose to keep the performance 502 bad gateway issue out of this discussion, I opened https://github.com/openfoodfoundation/openfoodnetwork/issues/2773. So if I exclude that it seem I'm not able to reproduct the issue on French instance and I believe @kristinalim found the origin of the problem, I will try to test on Can instance with "clean inve

[2018-10-01 10:47] myriamboure commented on #2774
I pudated to s3 as it can be pretty confusing for users and lead to catalog management annoying mistakes.

[2018-10-01 11:03] luisramos0 commented on #2683
yes, we will drop the column.

I was just re-iterating the difference between spree v2 model and ofn v2 model. the column is non-sense in spree 2 because 1 order - n shipments. BUT, although we WILL drop it, the column would still make sense in ofn v2 because in ofn v2   1 order - 1 shipment. Sorry, I could have committed that, it just creates unnecessary complexity.

[2018-10-01 11:04] luisramos0 commented on #2683
I think this will take me a bit of time to get finished so I'll wait for @mkllnk feedback before I start the work to be sure we are all aligned.

[2018-10-01 11:38] myriamboure commented on #2739
I think I have some clue...
![capture du 2018-10-01 13-28-07](https://user-images.githubusercontent.com/8135376/46286156-5e184480-c57e-11e8-8443-98f010d67a37.png)
The CSA shares have non-numeric values in "unit" !
And indeed when I try to update inventory info I get the same error as you @tschumilas
![capture du 2018-10-01 13-30-39](https://user-images.githubusercontent.com/8135376/46286186-87d16b

[2018-10-01 11:40] sigmundpetersen commented on #2739
@myriamboure maybe the value '1' works for both Items and Weight and doesn't invalidate it?

[2018-10-01 11:53] myriamboure commented on #2739
Given @kristinalim analysis in #2769 it doesn't seem to be the same issue, it seems to be a normal authorization issue: 401

[2018-10-01 11:57] myriamboure commented on #2739
I found the bug ! I'm able to reproduce it. But still don't understand why...

I am a manager of CSA demo hub and Garden Party Flower Farm (GPFF). I can update GPFF products info in CSA farm inventory.
Then a super admin adds me as a manager of Garden Party Online. Now I can't update GPFF products info in CSA farm inventory.
I don't know why, but it seems adding the user as a manager of Garden Par

[2018-10-01 12:02] myriamboure commented on #2739
https://www.useloom.com/share/995ad89d888a4f64bb29e157f0585503?focus_title=1&muted=1

[2018-10-01 12:08] myriamboure commented on #2739
I'm wondering if that is not related to the tag rules set up by Garden Party Online on inventory variants, saying they are invisible by default...
![capture du 2018-10-01 14-04-22](https://user-images.githubusercontent.com/8135376/46287500-04fedf80-c583-11e8-883c-e485ec7c794d.png)
It seems like a strange coincidence no? I don't know... but now we have a way to reproduce it.

[2018-10-01 12:17] myriamboure commented on #2769
Thanks @OliverUK ! Here is the issue as a record: https://github.com/openfoodfoundation/openfoodnetwork/issues/2799

[2018-10-01 12:19] myriamboure commented on #2739
@HugsDaniel let's see with @kristinalim if she sees where the problem comes from given her previous investigation on potentially related issues. Of course if you have a clue yourself share it !

[2018-10-02 10:00] sauloperez opened #2801 "[Spree Upgrade][Reports] Do not use count_on_hand in products and inventory reports spec (3 broken specs)"
## Description

Products and inventory report specs update the variant's column `count_on_hand` in their setup. This column is now gone. See below:

https://github.com/openfoodfoundation/openfoodnetwork/blob/f0183cd17ec23fd52b637379f5859f0c2a574141/spec/features/admin/reports_spec.rb#L305-L318

## Possible Fix

Use the attribute accessor instead of directly updating the DB column. This will go thr

[2018-10-02 10:24] sauloperez opened #2802 "[Spree Upgrade] Remove reference to on_demand in Product serializers"
## Description
`Api::CachedProductSerializer` still calls `on_demand` on Product which cases a `NoMethodError`.

## Possible Fix

Similar to `VariantStock`, we need to provide an adapter that provides backward compatibility between our code and Spree 2.0's `Product`.

[2018-10-02 10:30] sauloperez opened #2803 "[Spree Upgrade] Replace usage of Config:allow_backorders with variant.on_demand in the cart context"
## Description

`CartService#quantitites_to_add` fails when querying `Spree::Config.allow_backorders` due to this config setting being removed from Spree in https://github.com/openfoodfoundation/spree/commit/5ef8dc67d. See below:

https://github.com/openfoodfoundation/openfoodnetwork/blob/f0183cd17ec23fd52b637379f5859f0c2a574141/app/services/cart_service.rb#L59-L67

This affects most of `spec/feat

[2018-10-02 10:35] sauloperez commented on #2783
`spec/models/product_importer_spec.rb:312` fails due to the same root cause. Product Import assumes variants have an `on_demand` column and that is no longer the case.

[2018-10-02 10:38] sauloperez commented on #2802
This one is the culprit of 90% of the tests that fail due to `on_demand`.

[2018-10-02 10:47] sauloperez opened #2804 "[Spree Upgrade][BackOffice] Fix reference to Product#on_hand= in bulk_product_update_spec (7 broken tests)"
## Description
Originally this issue included 3 similar errors in product_spec. 2 were fixed in #3125 and one was moved to a new separate issue #3137

Now this issue is only related to `spec/features/admin/bulk_product_update_spec.rb`
This spec creates products providing an `on_hand` value. As this method no longer exists. This results in the following type of error:

[code]

There are currently 7

[2018-10-02 10:56] sauloperez commented on #2688
This will fix errors like

[code]

[2018-10-02 11:05] sauloperez opened #2805 "[Spree Upgrade][Reports] Do not use count_on_hand in lettuce_share_report_spec.rb (1 broken spec)"
## Description

LettueShareReport `only available items` spec updates the variant's `count_on_hand` column in its setup. This column is now gone. See below:

https://github.com/openfoodfoundation/openfoodnetwork/blob/f0183cd17ec23fd52b637379f5859f0c2a574141/spec/lib/open_food_network/lettuce_share_report_spec.rb#L50-L54

## Possible Fix

Use the attribute accessor instead of directly updating the

[2018-10-02 14:23] #287 closed, assigned to nobody

[2018-10-02 14:28] luisramos0 opened #2807 "[Defacepocalypse] Convert heavily defaced Spree views to OFN views"
This EPIC represents the technical initiative to move away from deface and implement [this convention](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Code,-the-way-we-do-things#re-building-spree-views).
Some of this work will be done as part of the spree upgrade, but not necessarily.

[2018-10-02 14:34] luisramos0 opened #2808 "[Multi language] Make OFN multi language work"
EPIC to represent issues related to the usage of multi language instances of OFN. Currently we only have katuma with more than one language activated in production.

[2018-10-02 14:38] luisramos0 commented on #2808
currently just this blocking issue #2491 but Sara also reported an issue in the backoffice related to being unable to translate product categories, I'll have a look at some point.

[2018-10-02 14:41] luisramos0 opened #2809 "Breaking OFN down in domains"
Continuing the work done in #2521 by moving code to engines/domains.
Discourse conversation started [here](https://community.openfoodnetwork.org/t/breaking-ofn-down-into-domains/1377) and ended up in some agreemnts on the wiki [here](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Tech-Doc:-How-OFN-is-organized-in-Domains-using-Rails-Engines).

[2018-10-02 14:44] luisramos0 opened #2810 "[OFN API evolution] Move OFN API to the next level"
This EPIC represents the review of the OFN API strategy and specific improvements to the (currently) scattered OFN API.
The main discourse conversation is [this one](https://community.openfoodnetwork.org/t/road-map-for-ofns-api/931).

[2018-10-02 16:15] sauloperez commented on #2230
it is number one priority for Katuma without any doubt. We're even working on potential grants to pay its development.

[2018-10-02 23:08] luisramos0 commented on #2665
This issue will be closed when #2811, #2812 and #2816 are merged.

[2018-10-03 08:05] myriamboure commented on #2230
Agree with you @kirstenalarsen to find scoped and as tiny as possible implementation solution, but what we tried to do with Rachel is "go back to the need". We have opened a new version of a draft icebox https://community.openfoodnetwork.org/t/make-info-on-quantity-ordered-delivered-invoiced-voided-paid-accurate-and-improve-packing-operation-efficiency/1441/3.
I definitely agree that this "packing

[2018-10-03 11:57] luisramos0 commented on #2781
Revisiting this.... I hope it's clear to everyone why this is a disaster of Object Oriented programming.
And why [composition over inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance) is such an important OO programming mantra.
And stopping to put business logic in ActiveRecord classes would help a great deal.

In this case, a payment method is a very important business object

[2018-10-03 13:19] myriamboure commented on #2435
I don't really care about the use of backlorders in replacement of on_demand, but what I care for is the UX, as most users actually do check the box "on demand" on product as they don't manage stock levels within OFN.
My concern is that today backorder is setup at instance level, whereas every hub, for every product, should be able to decide if their customer can order more than stocked / order as

[2018-10-03 13:54] myriamboure commented on #2435
Ok that sounds pretty good actually, pretty aligned with the work we have done on product chain model as well. I summed up how it works, change, and potential solution here https://community.openfoodnetwork.org/t/what-to-do-with-backorders-and-on-demand-after-spree-got-rid-of-on-demand/1445 let me know if that is logical and if we see other options.

[2018-10-03 13:54] sauloperez commented on #2435
For the record, Ux-wise when user sets product to `on_demand`, product master variant sets its stock item backordable to true #headache

[2018-10-04 04:02] daniellemoorhead commented on #2665
Does the issue still need to sit in the code review column until these are merged? Or can it be unattached from the others and reattached to one of these?

[2018-10-04 04:18] kristinalim commented on #2769
@OliverUK If it is from a permission problem, it could be related. Thanks for creating the new issue!

I have been able to confirm that #2776 is not related to this issue. For Sacred Lotus:

* All products are valid
* Their master variants are valid
* Their non-master variants are valid

[2018-10-04 05:52] pacodelaluna opened #2819 "Update the language_name: key for IT locale file"
The language_name key should provide the name of the language itself.
I can see that in IT locale file, it is set as 'Inglese' when I think it should be 'Italiano', https://github.com/openfoodfoundation/openfoodnetwork/blob/master/config/locales/it.yml#L2.
Tell me if any issue.

[2018-10-04 06:47] myriamboure commented on #2819
I'm wondering if that issue shouldn't be in the OFN-install repo? We hit that issue when implementing multilingual switching French - Italiano on the French instance, apparently @pacodelaluna had to do some manual hack on production. @sauloperez @luisramos0 @Matt-Yorkley do you see what the issue can be that we need to fix?

[2018-10-04 06:47] sigmundpetersen commented on #2819
Couldn't this just be changed in Transifex?

[2018-10-04 08:34] nikobozi commented on #1219
Hello, new contributer here! I tried to reproduce this, but it looks to me like this is not an issue anymore, can this be closed then?

[2018-10-04 09:30] sigmundpetersen commented on #2362
Hi @nikobozi please go ahead! 🙂

[2018-10-04 10:17] luisramos0 commented on #2008
@sigmundpetersen 👍 removing myself from the assignee as this can be taken by anyone at some point in the future.

[2018-10-04 10:19] luisramos0 commented on #2665
I think we can leave the issue connections as they are.
This is currently in code review and will be closed after all the 3 PRs are merged. I can do that manually hopefully next week after Maikels review.

[2018-10-04 10:45] myriamboure commented on #2819
Oh yes, thanks @luisramos0 I didn't tell the italian translator about paying attention to that specific translation... anyway, I changed it @pacodelaluna so if we push again the italian translation from transifex into OFN and redo the process "Italiano" should automatically be there now. But we need to wait for next release to check that as we need to integrate translations into master to verify i

[2018-10-04 11:00] daniellemoorhead commented on #1219
@sauloperez @luisramos0 @HugsDaniel @kristinalim @myriamboure @RachL can one of you check whether this is actually still an issue, and close it if it isn't? 🙂

[2018-10-04 11:38] HugsDaniel commented on #2739
I had the same error as @mkllnk `502 - Bad Gateway` on french prod. I think I would need access to the french server at least to be able to go further in my investigation. @myriamboure can this work ?

[2018-10-04 11:39] HugsDaniel commented on #2756
I found the same scenario as @myriamboure. I would have to need access to the french server to be able to go further in there. Can we do this ?

[2018-10-04 11:41] sigmundpetersen commented on #2756
Yes @HugsDaniel please open a PR on ofn-install similar to what @kristinalim did here https://github.com/openfoodfoundation/ofn-install/pull/247 and then we get the right people to review and accept it

[2018-10-04 11:52] myriamboure commented on #2756
I think either @luisramos0 or @pacodelaluna can add you on the French server @HugsDaniel

[2018-10-04 11:55] myriamboure commented on #2739
@HugsDaniel please read my last posts, I suggested to not take into account the 502 issue as the original issue is a 401 one, and let's deal with performance issue separately... I said I opened another issue for it. But still you will have access to French prod soon when you open the PR @HugsDaniel ;-)

[2018-10-04 11:56] luisramos0 commented on #2756
I only have access to staging.

[2018-10-04 12:42] kristinalim commented on #2769
Sorry, I haven't been able to figure this out yet.

I've already checked nested associated records of products under Sacred Lotus and Global Organic Markets, and haven't been able to find anything which the software considers invalid. It appears that this isn't related to #2776.

I've looked into possible permission related issues too, but no promising hint so far.

I'll be back to continue invest

[2018-10-04 15:55] sauloperez commented on #2776
This is going to be harder... there's not a single unit test for the `ProductSet` class, the one responsible for this... :clap:

[2018-10-04 16:35] sauloperez opened #2822 "Update CI's badge"
## Description
We didn't update the README's CI badge when switched to Semaphore CI and so it still points to the last CI run we did in Travis. That is 3 months ago.

## Expected Behavior
The README's CI badge needs to point to the latest CI execution on `master` so that we can know the status of our test suite.

[2018-10-04 16:37] sauloperez commented on #2822
[![Build Status](https://semaphoreci.com/api/v1/openfoodfoundation/openfoodnetwork-2/branches/master/badge.svg)](https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2)

Is the appropriate snippet according to https://semaphoreci.com/docs/how-to-get-build-badge.html.

[2018-10-04 16:38] 73VW commented on #2822
I'll do it!

[2018-10-04 19:10] #2526 closed

[2018-10-04 20:18] luisramos0 commented on #2435
Currently "undefined method `allow_backorders" is the most common error in our 2-0-stable build, so it looks like this epic is the top priority in the Spree Upgrade ;-)

[2018-10-04 21:32] myriamboure commented on #1255
I'm not sure about the hacktoberfest label on this one, @kirstenalarsen can it be done by a newbee to the project?

[2018-10-04 21:46] sigmundpetersen commented on #1255
Yeah maybe remove both `good first issue` and `hacktoberfest` as it has become more integrated into the new design.

[2018-10-04 21:54] kirstenalarsen commented on #1255
Yep i think it's best done alongside the design issues rather than as a standalone. have removed labels

[2018-10-05 00:11] kirstenalarsen commented on #2676
I now have this issue on the german instance (I think) - order cycle failing to be created for no other apparent reason.

I realise that there are follow up issues created to fix this properly, but for now i need the quickfix applied asap - have created issue in ofn-install [here](https://github.com/openfoodfoundation/ofn-install/issues/254)

which brings attention to the fact that I AGAIN have no

[2018-10-05 01:58] kirstenalarsen opened #2827 "Product upload attempt leads to snail . ."
## Description
Trying to use product uploader on german instance openfoodnetwork.de

Selected csv file and hit upload
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/be564626-514c-472b-8f01-219be97697f7)

## Expected Behavior
Should progress through Product Upload and tell me if there is something wrong with my file and if so what it is

## Actual Behavior
Snail appears,

[2018-10-05 05:29] kirstenalarsen opened #2828 "Embedded UX requests"

[2018-10-05 06:12] #2747 closed

[2018-10-05 06:18] kirstenalarsen commented on #2708
see slides for responsive grid etc - https://docs.google.com/presentation/d/10I8-3mRjxnPUXtEk04X3UERVPEPvqPjrEdF37_1KpmE/edit#slide=id.g40ea76c80f_0_18

[2018-10-05 07:53] myriamboure commented on #2827
You are hacking the bug labels @kirstenalarsen this can be s2 as blocking use of major feature with no workaround but not preventing to use the app ;-)

[2018-10-05 11:26] myriamboure opened #2830 ""next" on checkout sometimes jump checkout sections, or bring too low > UX confusing and leads to errors"
**UPDATE 29.11.2018**
After PR 3047, on mobile when I click on "next" I am correctly taken to next section BUT too low, I see the  bottom of the section apparently and not the top, it's confusing.
Ex after address section when click on next:
![img_9649](https://user-images.githubusercontent.com/8135376/49243848-aa60f300-f40e-11e8-8ade-4db10941249a.PNG)
After shipping section when click on next:
![

[2018-10-05 11:33] myriamboure commented on #1766
I was just testifying while a user was setting up in front of me a hub, that when reaching the page "add promo image" she couldn't see the "next" button and the scroll didn't appear, so she just couldn't move on, she had to use tabulation to randomly "find" the next button to move to last page of the registration modal. I guess this is link to that issue, right? We are running on v1.18 so maybe so

[2018-10-05 14:48] Matt-Yorkley commented on #2769
I've added myself as a manager for that enterprise and can update the products on that page successfully...?

[2018-10-05 15:00] myriamboure commented on #2769
@Matt-Yorkley maybe you can "sit" (virtually) with @OliverUK or even hack his account with his permission to reproduce the bug? It seems @OliverUK has the issue with any item he tries to change in BEP... but no one managed to reproduce the error so far.

[2018-10-05 15:01] myriamboure commented on #2769
@OliverUK is it only for sacred lotus that you have an issue? Or all products you have access to?

[2018-10-05 15:02] OliverUK commented on #2769
@Matt-Yorkley @myriamboure fine by me. Can change my password to a temporary one and share with you, Matt.

[2018-10-05 15:05] myriamboure commented on #2769
@Matt-Yorkley I'm wondering if there is not some common problem also below this issue https://github.com/openfoodfoundation/openfoodnetwork/issues/2739#issuecomment-425881286, I found that behavior super strange, seems like a big breach in our app... and alsohttps://github.com/openfoodfoundation/openfoodnetwork/issues/2756#issuecomment-423355684. I don't know it feels to me like if all those issue

[2018-10-05 15:28] OliverUK commented on #2769
@Matt-Yorkley have sent you my password on Slack

[2018-10-05 15:58] Matt-Yorkley commented on #2769
Okay, I've tried with Oliver's login, and I can reproduce the bug with that. I get the 422 error. So a permissions issue makes the most sense, if I can save on one account and not on another.

Bugsnag is giving me nothing, and the production log is also giving me nothing...

[2018-10-05 16:05] Matt-Yorkley commented on #2769
@kristinalim maybe you can have a look as well. I'm looking in the `#bulk_update` method of `products_controller_decorator.rb` and trying to match up what's shown in the logs.

![screenshot from 2018-10-05 17-01-48](https://user-images.githubusercontent.com/9029026/46546255-6cd56300-c8c0-11e8-8ee1-9f369b6cd92b.png)

![screenshot from 2018-10-05 17-02-58](https://user-images.githubusercontent.com/9

[2018-10-05 16:06] lin-d-hop commented on #2769
Was anything that touches permissions recently merged to master? This appears in v1.20.

[2018-10-05 16:10] myriamboure commented on #2769
@HugsDaniel just did some tests and found strange permission bugs on can instance, seems all the s2 and some s3 bugs could be linked to a same permission issue.

[2018-10-05 16:14] lin-d-hop commented on #2769
@myriamboure I definitely think they are all related!

[2018-10-05 16:14] HugsDaniel commented on #2739
I found out a couple of things on Canada prod :
(Garden Party Flower Farm = GPFF ; Garden Party Online = GPO ; CSA farm demo #1 = CSA)
- As a manager of CSA only, I can manager my own products and GPFF products
- As a manager of GPFF only, I can manage my own products
- As a manager of GPO, I can't manage anything, not even my own products

Also in "Enterprise permissions", I have the following :

[2018-10-05 16:16] Matt-Yorkley commented on #2769
Update: on oliver's account, I update a product and the error message shows, but if I reload the page the product _has_ actually been updated successfully.

[2018-10-05 16:19] HugsDaniel commented on #2769
This doesn't appear to be the case in Can instance

[2018-10-05 16:19] HugsDaniel commented on #2769
This doesn't appear to be the case in Can instance

[2018-10-05 16:19] kristinalim commented on #2769
@Matt-Yorkley This could be misleading because an incomplete save continues to save other changes: https://github.com/openfoodfoundation/openfoodnetwork/issues/2776

[2018-10-05 16:29] Matt-Yorkley commented on #2769
But if I can save with one account with no errors, but on another account I get the 422, we can assume the product data that's being saved is ok, right?

[2018-10-05 16:32] kristinalim commented on #2769
Yes, you're right.

[2018-10-05 16:35] myriamboure commented on #2739
"As a manager of CSA only, I can manager my own products and GPFF products" you are right the permission to manage products is not allowed, it shouldn't work. I have no idea where it comes from but it looks bad. @Matt-Yorkley @kristinalim can you reproduce similar permission issues?

[2018-10-05 16:37] Matt-Yorkley commented on #2769
The redirect to '/api/products/bulk_products?page=1;per_page=500;' after saving seems a bit odd... we fetch 500 products every time we hit save on one or more products?

[2018-10-05 17:13] Matt-Yorkley commented on #2769
Also, the angular controller looks like it should be passing `$scope.currentFilters`, but this always seems to be blank, and it doesn't seem to be set anywhere?

[2018-10-05 17:59] Matt-Yorkley commented on #2769
@kristinalim Looks like the initial POST request is fine, but the subsequent redirect to the API route is what returns the 422, with this:

![screenshot from 2018-10-05 18-56-48](https://user-images.githubusercontent.com/9029026/46551767-8aaac400-c8d0-11e8-93c3-03f0fc3f3bbb.png)

[2018-10-05 18:02] kristinalim commented on #2769
@Matt-Yorkley I'm on it now too. Getting the same error in the console when running this:

[code]

[2018-10-05 18:06] kristinalim commented on #2769
Nice detective work, @Matt-Yorkley. So it's `#import_date` that's breaking. It's a simple change - I'll submit the PR for this.

[2018-10-05 19:31] kristinalim commented on #2769
I submitted PR #2831 which should address this.

Sorry I was looking at the wrong places. :slightly_frowning_face:  HTTP 422 is normally used when submitted data could not be processed, and the error was happening in a separate read-only request that did not indicate the error in the logs.

[2018-10-05 20:12] kristinalim commented on #2739
I've confirmed that #2769 and #2776 are both unrelated to this issue.

[2018-10-06 02:34] kristinalim commented on #2739
I'm just leaving these notes here for now.

In the back-end, below are the current authorization rules for saving inventory data (`VariantOverride`). Is this consistent with how this is expected to behave?

[code]

I submitted WIP PR #2833 that adds tests outlining this behaviour. If the implemented rules are not consistent with the specifications, changes will have to be made most likely in `app/

[2018-10-06 03:06] kirstenalarsen opened #2834 "Data or formatting issues in German email order confirmations"
## Description
Order confirmation email has some strange fields - looks like it's not collecting some data or something? Could be translation related?

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/da917a8e-33e5-42f4-9bcd-0c2879a8ece4)

## Expected Behavior
It should include the customer name rather than "%[name]"

and shouldn't end with "strong>!"

## Steps to Reprodu

[2018-10-06 03:06] kirstenalarsen commented on #2834
could this be connected to multilingual?

[2018-10-06 04:49] kirstenalarsen opened #2835 "Content Guidance to make mobile sing!!"
In designing new mobile interface @yukoosawa observed many painful things, often caused by the amount of flexibility we give our users in naming things (see below)

We thought that perhaps publishing a "Top Tips to make your Shop awesome on Mobile" guide when we release the new design could help people with this . . and then gradually we could guide with tooltips and eventually length restrictions

[2018-10-06 11:10] lin-d-hop commented on #2764
@sineadfenton this should now be fixed on uk prod with the patch this morning. Could you test if this can now be closed?

[2018-10-06 11:40] lin-d-hop commented on #2769
UK have deployed this patch to prod and can confirm that the issues we've been experiencing have been fixed

[2018-10-07 10:28] sauloperez commented on #2764
I wonder if we should really check (or persist) the variant when duplicating the OC. To me, the state of the variants should not affect OCs in any way.

[2018-10-07 10:31] sauloperez commented on #2773
Do we have Skylight set up for FR? I guess not but it'd give us the details we need here. We do for UK already

[2018-10-07 11:09] Matt-Yorkley commented on #2773
The way we load products on that page is super inefficient. For an admin user we end up loading every product in the database into the DOM, and the filtering doesn't fully work until its all finished... :grimacing:

[2018-10-07 11:11] Matt-Yorkley commented on #2773
So as UK and FR increase in size, the page becomes less and less usable.

[2018-10-07 13:42] OliverUK commented on #2769
Thank you guys!! Well done indeed.

[2018-10-07 13:48] OliverUK commented on #2799
With the fix of #2769 this too seems to be working again now. @myriamboure should I close?

[2018-10-08 04:48] mkllnk opened #2836 "[Product Import] Importing products with special characters fails"
## Description

The product import expects CSV files in UTF-8 character encoding. If the uploaded file is in a different encoding and contains characters like German umlauts, the application crashes (500 server error).

## Expected Behavior

Uploading an invalid file results in a validation error being displayed.

## Actual Behavior

The generic snail page is displayed. The log contains:
[code]

#

[2018-10-08 05:17] kirstenalarsen commented on #2836
thanks @mkllnk - I had saved this file as a csv so not sure why it was a .txt?

I have just gone back and saved the original file to comma delimited csv utf-8 and now it has even weirder stuff appearing in the file e.g.

![image](https://user-images.githubusercontent.com/2911176/46593037-de591f80-cb13-11e8-9221-7fc050e0e965.png)

I'm a bit unclear on next steps here - do I need to ask them to gene

[2018-10-08 05:47] kirstenalarsen commented on #2836
Ah ha!! I just need to change the language on the file before I save as utf-8 csv!! yippeee we're good to go :) @mkllnk

[2018-10-08 05:49] kirstenalarsen commented on #2836
So perhaps when dealing with this issue . . we could include in the validation warning some info like "please check the language setting of your source file and ensure it is saved in UTF-8.csv encoding"

[2018-10-08 07:14] HugsDaniel commented on #2739
Yes I am

I'll test this right now

[2018-10-08 07:20] HugsDaniel commented on #2739
Thanks @kristinalim for the PR ! That's going to be very useful :)

[2018-10-08 07:39] kirstenalarsen opened #2837 "[Product Import] Freezing when saving products"
## Description

## Expected Behavior

Trying to do a Product Import from csv file on german instance

My file passes validation

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/fbb03f74-13a0-464c-bb6b-a938bf3dab8d)

but fails when I try to save - it just freezes

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/84944cc3-8f3d-4a07-b057-e4987425a5

[2018-10-08 07:47] kirstenalarsen opened #2838 "Update OFN Germany logo"
@kirstenalarsen commented on [Fri Oct 05 2018](https://github.com/openfoodfoundation/ofn-install/issues/253)

Both front and back (customer and enterprise views)

[2018-10-08 07:48] kirstenalarsen opened #2839 "Change contact details in welcome email"
@kirstenalarsen commented on [Fri Oct 05 2018](https://github.com/openfoodfoundation/ofn-install/issues/252)

![image](https://user-images.githubusercontent.com/2911176/46508189-a46feb00-c87f-11e8-89cb-709ba1534b21.png)

Kirsten to confirm new details
Remove linkedin
Check Odi and others: will there be Facebook / Twitter?
Contact email . .

[2018-10-08 07:54] kirstenalarsen commented on #2827
File needs to be saved to UTF-8.csv FROM a file with german language setting in order to handle the accents. See new issue https://github.com/openfoodfoundation/openfoodnetwork/issues/2836. Closing this.

[2018-10-08 07:54] #2827 closed

[2018-10-08 08:02] myriamboure commented on #2836
@kirstenalarsen when you say "check the language setting of your source code", what do you mean, should each language be set to the appropriate one before encoding to UTF-8? Just to be sure I get it.

[2018-10-08 08:42] kirstenalarsen commented on #2836
I just used Excel, Tools, Language and changed it to German .. then saving my files as UTF-8 csv worked

[2018-10-08 09:11] myriamboure commented on #2799
Thanks @OliverUK we will close when we have tested and merged the patch to master, leave it open for now, I have added that issue number to the patch to know we have to close it when tested.

[2018-10-08 10:32] myriamboure commented on #2739
@HugsDaniel I can't reproduce what you mentioned above, when I am a manager of only Garden Party Online I can manage my own products without any problem.

I'm wondering though if there can't be some conflicts that we have not anticipated. I did another test that can give a clue:
I put my test user as a manager of GPO, GPFF and CSA but I made sure non of those three enterprises have any relationshi

[2018-10-08 10:53] HugsDaniel commented on #2739
It would really help me a lot to have access to production logs to see what's exactly going on here

[2018-10-08 10:58] myriamboure commented on #2739
How can you? Does someone need to give you access to Can server logs? @mkllnk I think you are still the only one to have access? If that's right you need to add other devs btw ;-) But maybe I'm wrong.

[2018-10-08 12:08] Matt-Yorkley commented on #2838
I was looking at this yesterday, and there's a Spree config value called `Spree::Config[:admin_interface_logo]` which allows for setting a custom logo for the backend, but it doesn't seem to be editable from anywhere in our current configs. It might be nice to add this option for all instances.

[2018-10-08 12:38] Matt-Yorkley commented on #2837
![screenshot from 2018-10-08 13-33-55](https://user-images.githubusercontent.com/9029026/46609287-5e28bf00-caff-11e8-8076-921983c8eb51.png)

[2018-10-08 12:45] myriamboure opened #2840 "When user changes their mail from "my account", no confirmation is sent + disturbing UX"
## Description

As a user I try to change my email address...
1- the UX is bad, when I click on "proceed" I am redirected violently to login modal
2- When I login again I see a message saying the new email will apply when it is validated, but I never receive any validation email on the new mailbox... **UPDATE: I receive the email but not on the new email, on the old one!!! So I can't validate the

[2018-10-08 12:58] luisramos0 commented on #2559
Moving this to the Stock Management epic as this is only related to inventory/stock.

[2018-10-08 13:10] myriamboure opened #2841 "Validation email error with an old account with bug before email confirmation work"
## Description
We have one user in France who created her account when there was a bug with private shopfronts. We discovered the bug with her actually. Today her account still have the following issue:
- she still appears as a "guest user" even though she has an account, she logs in, etc.
![capture du 2018-10-04 16-59-49](https://user-images.githubusercontent.com/8135376/46610187-460a6d00-cb0a-11

[2018-10-08 13:14] myriamboure commented on #2841
I just did another test: I added that user as a manager of a demo hub, it worked without problem, so the email is definitely validated, but still act as a guest account for some aspects of it... (marked as "guest checkout" and blocking subscription)

[2018-10-08 13:36] myriamboure commented on #2840
WARNING: this is REALLY ANNOYING I think it can break some logic we have implemented:
As user with validated email user@gmail.com, in "my account" I change the email to new-user@gmail.com.
The confirmation email is sent to "user@gmail.com", and if I click on validation link, I can then connect with "new-user@gmail.com" as a validated user BUT the new email is NOT validated.
I continue the experime

[2018-10-08 13:42] myriamboure commented on #2840
Ok I'm sorry but this seems REALLY bad to me, shall I put s2? @Matt-Yorkley tell me what you think, you know pretty well what can be the implication I think.

[2018-10-08 13:50] sineadfenton opened #2843 "Filtering on the Orders page does not filter and subsequent pages are not updated when scrolled through - UK Productions"
## Description

Users are trying to filter through orders and are unable to do so adequately.

- You enter a filter criteria and it does not filter correctly - i.e. I enter an email address and several others all come come up instead of the one I have searched for

- When I click next page, I'm presented with different data in terms of order status, but the same email addresses as the first page

[2018-10-08 13:52] albarnaz commented on #1760
If it`s ok I'm happy to work on option 1. Then you can see and decide if its the best solution.

[2018-10-08 13:53] sineadfenton commented on #2843
![](https://github.trello.services/images/mini-trello-icon.png) [Customer Order Issues](https://trello.com/c/N4J6bhpd/257-customer-order-issues)

[2018-10-08 13:56] lin-d-hop commented on #2843
Note that UK deployed a patch on the weekend to fix BEP issues.
@Matt-Yorkley with this S1 if there is no quick fix then please revert!

[2018-10-08 13:59] Matt-Yorkley commented on #2840
I'll take a look at this today, I think it will be a quick one.

[2018-10-08 14:44] Matt-Yorkley commented on #2843
I've reverted UK prod now, so the issue is temporarily fixed. This only affects UK at the moment.

[2018-10-08 15:47] #2822 closed

[2018-10-08 16:36] myriamboure commented on #2834
it might be a translation issue in German, I don't have access to German in transifex but it % needs to clicked on, not typed, check in Transifex if translation is good @kirstenalarsen

[2018-10-08 19:23] Matt-Yorkley commented on #2840
@myriamboure On the account details page you can add a new email address or change your password. If it's just an email change you don't need the password change as well. Maybe it's not very clear. The user gets logged out only if the change password fields have been used.

I'll take a look at making sure the email goes to the correct address.

[2018-10-08 20:51] Matt-Yorkley commented on #2840
I'll make a separate issue for the forced logout when updating user password.

[2018-10-08 20:59] Matt-Yorkley opened #2848 "User logged out when changing password."
## Description

Follow-on from bug report #2840. When setting a new password under the account page, the user is logged out unexpectedly.

## Expected Behavior

User should stay logged in when setting a new password.

## Actual Behavior

User is unexpectedly logged out and bounced to the home page / login modal.

## Steps to Reproduce

1. Log in as a user
2. Go to /account, then Account Settings t

[2018-10-08 22:55] mkllnk commented on #2739
I'll confirm it with Theresa.

[2018-10-08 23:00] mkllnk commented on #2684
Okay, if you can change the logic without breaking anything, go ahead. :-)

[2018-10-09 01:35] kirstenalarsen commented on #2837
What does that mean @Matt-Yorkley ? and how do I get rid of it?

here is what the file I'm using looks like as a text file. I can't see anything called 'line_number'? or does it need something called line_number?

![image](https://user-images.githubusercontent.com/2911176/46641864-b0311980-cbbf-11e8-801e-0c310be3c915.png)

[2018-10-09 05:12] kirstenalarsen opened #2851 "Village Centres - Germany - Instance Management"
Organising issues related to getting the German instance up and running

[2018-10-09 05:38] kirstenalarsen commented on #2616
@kristinalim do you need me to add anything here (or elsewhere) to capture the slack discussion about including fees set on shipping and payment methods? or you already have that in?

[2018-10-09 05:39] kirstenalarsen commented on #2616
nb. Payment method fees have no tax and shipping method fees are taxed (or not) according to instance level configuration
![image](https://user-images.githubusercontent.com/2911176/46648679-debfec00-cbe1-11e8-825a-4a57b7e86236.png)

[2018-10-09 05:39] mkllnk commented on #2834
The name thing got fixed 24 hours ago (curly brackets instead of `[`). It's in the master branch now, waiting for deployment to the German server.

[2018-10-09 05:41] kirstenalarsen commented on #2834
thanks @mkllnk - should I have known that somehow? just still finding my way into all the continuously improving processes?

[2018-10-09 05:42] kristinalim commented on #2616
Thanks, @kirstenalarsen! Adding this link to the Slack discussion too: https://openfoodnetwork.slack.com/messages/CCNR0BW1H/convo/CCNR0BW1H-1538016212.000100/

[2018-10-09 05:45] kirstenalarsen commented on #2616
so you've got it @kristinalim and don't need anything else explained to include that?

[2018-10-09 05:57] sauloperez opened #2852 "Remove parallel_tests gem"
## Description

`parallel_tests` gem was introduced by Rohan in 2015 before we used knapsack to parallelise spec runs. So we can remove it completely. See db47c01784df955cff00560f3c4b5454467025dd 2b3689fd933f99349f5284c61fc51ff1e875fb34 for details.

Stems from https://github.com/openfoodfoundation/openfoodnetwork/pull/2832

[2018-10-09 06:28] sauloperez commented on #2774
This is tightly related to the changes done in https://github.com/openfoodfoundation/openfoodnetwork/pull/2845 to fix #2776 .

Agree on the transaction solution but I'm starting to think having bulk actions in the API is not a good idea. The longer it takes to finish the transaction the more chances of causing performance problems due to lock contention (and our app is not particularly performant

[2018-10-09 09:24] myriamboure opened #2854 "Strange category duplication in product filter"
## Description
When trying to filter a product by category, one category is duplicated 11 times.

## Expected Behavior
Each category is proposed just once.

## Steps to Reproduce
1. As a hub manager go to products: https://openfoodnetwork.ca/admin/products
2. Try to filter with category.

## Animated Gif/Screenshot
On French staging while testing 2831
![capture du 2018-10-09 11-17-09](https://user

[2018-10-09 09:55] Matt-Yorkley commented on #2837
I've made a PR to address the freezing issue, which then uncovered validation errors at the product level, but when I played around with a copy of your file and resaved it as a CSV, the validation errors went away...

[2018-10-09 10:02] RachL commented on #2840
@myriamboure is this really a bug or a feature that has been forgotten during email validation project?

[2018-10-09 10:09] kirstenalarsen commented on #2837
hmmm interesting! ok, I look forward to testing . .

[2018-10-09 10:29] sigmundpetersen commented on #2142
Guess you mean https://github.com/openfoodfoundation/ofn-install/issues/172

[2018-10-09 10:35] sauloperez commented on #2142
Oops, yes. I thought I was on ofn-install. That remaining issue belongs there.

[2018-10-09 10:54] CoryWritesCode commented on #2852
Has anyone picked this up yet for hacktoberfest?

[2018-10-09 11:09] sigmundpetersen commented on #2852
Yes @CoryWritesCode this is now in Code Review with #2853

The best way to find another issue is to install the Zenhub extension and pick one in the 'Dev Ready' column here https://github.com/openfoodfoundation/openfoodnetwork/labels/Hacktoberfest#boards?labels=hacktoberfest&activeFilters=labels&repos=6257856

[2018-10-09 11:11] sigmundpetersen commented on #2852
BTW thanks a lot for your interest and welcome to Open Food Network. If you have any questions you can ask in our `dev` channel on [Slack](https://openfoodnetwork.org/slack-invite)

[2018-10-09 12:50] myriamboure commented on #2142
Closing it, I moved the last issue to the new epic, thanks Pau.

[2018-10-09 12:50] #2142 closed

[2018-10-09 12:54] Matt-Yorkley commented on #1351
We have various bugs on bugsnag for UK prod related to caches not being valid, or objects missing when caches are loaded. It would be great if a simple Rails.cache.clear on deploy would fix that!

[2018-10-09 13:14] Matt-Yorkley commented on #2840
I think there was some Spree code that was overriding some of Devise's user confirmation code, and it was only handling confirmations of new users but not confirmations for email changes on existing users. Anyway, it should be fixed by the PR above :+1:

[2018-10-09 13:15] #2843 closed

[2018-10-09 13:34] luisramos0 commented on #2484
I have added the tag good-first-issue. This can be tackled in several PRs (we can start by migrating a few more keys each time).

[2018-10-09 14:35] #2362 closed

[2018-10-09 17:05] nikobozi commented on #2854
The collection is apparently delivered that way from the backend `app/controllers/spree/admin/products_controller_decorator.rb`, they have the same name but different ids:
![screenshot_products](https://user-images.githubusercontent.com/23106612/46685079-dd4bef00-cbf4-11e8-94e3-550fc14b38ac.png)

[2018-10-10 08:54] #2769 closed

[2018-10-10 14:02] #2852 closed

[2018-10-10 14:05] sauloperez commented on #2773
We're talking about Bulk Edit Products page here, right?

[2018-10-10 15:44] tschumilas commented on #2616
Interesting question indeed.  I'd like to hear what others think too - but I agree with @kirstenalarsen  -  these generally these fees are all visible to buyers on the platform now,  and that is in keeping with  our transparency principle.   BUT
Right now,  a supplier doesn't know how much a peer supplier is getting.   They can see the consumer price in the shop,  and the pie chart -  but none of

[2018-10-10 19:02] myriamboure opened #2857 "Some translations are back to English on French instance... transifex process bugging"
## Description
Some translations, solved months ago, are back to English after the upgrade to v1.21 on French instance.
We had experienced that before on other random translations (remember @mkllnk the image of "choose a package" shared on Slack in the fr-new-prod channel https://openfoodnetwork.slack.com/files/U04HYLZHB/FCLRYD8MU/image.png)
Users have reported that, they are disturbed and worried

[2018-10-10 19:08] myriamboure commented on #2854
Hum... this is strange as categories are defined at instance level so there should be only one id for a category. How can that be possible? @Matt-Yorkley @kristinalim @mkllnk or others, any idea?

[2018-10-10 20:31] Matt-Yorkley commented on #2857
The namespacing of keys have been changed when the view was remade, so they are better organised, e.g. from `listing_orders` to `spree.admin.orders.index.listing_orders`.

[2018-10-10 20:40] myriamboure commented on #2857
Ok, but French was already translated 100% and no new string has appeared, so why don't they appear then? I thought if we are translated 100% translation are pulled. But does it happen if you modify a string? Or just if there are new strings translated and reach 100%?

[2018-10-10 23:16] kirstenalarsen commented on #2616
OK, i think this is going to be very curly and we are going to need to pick something that is reasonably straight-forward and then trial and adapt it. Very keen to get a working version of this and have @kristinalim move on to mobile - we can't afford to spend weeks designing the perfect solution. @tschumilas as the 'user lead' for this issue I am going to need you to nominate where you think is t

[2018-10-11 01:53] tschumilas commented on #2616
c is counter productive -  the coordinator NEEDS to see all the fees in order to parcel out payment.

b would be a preference -  but only marginally so.   So I totally agree that if a  is totally simple -   lets go with it a.    We just need to note that this is giving a supplier information that can help them figure out another supplier's prices -  and we haven't done that until now.   I think it

[2018-10-11 01:58] kirstenalarsen commented on #2616
I would imagine that use cases where suppliers are using fees to 'quietly' mark up their products are rare, because they would then be reliant on the coordinator pulling that out and paying them - which until now hasn't been possible! So if we consider that existing use of that case is very low - and most suppliers are just using their price with fees applied by distributor and coordinator, people

[2018-10-11 02:10] kristinalim commented on #2616
I am also worried about consequences of suppliers and distributors seeing the data of others :worried: so I don't like Option A very much, but I understand what you're saying about transparency. It is the simplest to implement.

I have structured the code in a way that would somewhat easily allow limiting entries based on permissions, so Options B and C are doable.

Regarding permissions:

1. Acce

[2018-10-11 06:59] pacodelaluna commented on #2819
Of course it could be fixed into Transiflex, but after it needs to be merged into the master branch, that's why I created the ticket here.
Still not solved by the way.

[2018-10-11 07:05] sstead commented on #2616
I don't anticipate that option A will cause any issues for Australian users. We don't have much uptake of complex fees at this stage. But Theresa makes good points in scenarios where complex fees are used.

[2018-10-11 10:27] sauloperez commented on #1251
@sstead I think several of this issues can be picked by newcomers for the Hacktoberfest, right? Let me know which ones are ready or assign them the "Hacktoberfest" label yourself.

[2018-10-11 13:50] luisramos0 commented on #2819
oh, I see you meant to create the issue to correct the translation in transifex and then merge it. I am not sure we create issues for that kind of translation issue. I will reopen so we can track this specific one.

[2018-10-11 13:51] luisramos0 commented on #2819
I dont think FR was updated on the last releasse. I think we need to update the transifex process. A manual update/PR of all languages in every release is probably the best/easiest process.

[2018-10-11 14:33] haseleyi commented on #2429
Note: To reproduce, I needed a window that wasn't maximized

[2018-10-11 22:37] sstead commented on #1253
Update: The background image no longer disappears but it does zoom in excessively giving a pixelated look.
![image](https://user-images.githubusercontent.com/10843056/46837804-66844100-ce02-11e8-84ed-b2b68e34221d.png)

[2018-10-11 22:42] sstead commented on #1277
Bugherd has been removed.

[2018-10-11 22:42] #1277 closed

[2018-10-11 22:42] sstead commented on #1278
Bugherd has been removed.

[2018-10-11 22:42] #1278 closed

[2018-10-11 22:46] sstead commented on #1279
Update: Yes bugherd has been removed so we no longer have a 'send feedback' button. Let's rephrase the email:

Existing text: "We welcome all your questions and feedback; you can use the Send Feedback button on the site or email us at hello@openfoodnetwork.org.au"

Update text to read: "We welcome all your questions and feedback; you can email us at hello@openfoodnetwork.org.au" <--- note that thi

[2018-10-11 22:53] sstead commented on #1288
We've relocated the guide to gitbook and the video is now centering :)

[2018-10-11 22:53] #1288 closed

[2018-10-11 23:04] sstead commented on #1287
I think the issue here is the users were/are being sent between local instances and the global instance (where the About Us pages are and the user guide/news pages were). The menus are different between the 2. I'm not sure what the solution is to this.

[2018-10-11 23:06] sstead commented on #1285
This is an Australia only issue, so might not be hacktoberfest suitable?

[2018-10-11 23:10] sstead commented on #1284
The order number now remains clickable.
![image](https://user-images.githubusercontent.com/10843056/46838872-fc21cf80-ce06-11e8-9e7a-2ec59da69089.png)

[2018-10-11 23:10] #1284 closed

[2018-10-11 23:15] sstead commented on #1283
I think the padding looks ok now...
![image](https://user-images.githubusercontent.com/10843056/46838992-89652400-ce07-11e8-8cae-59da89bedc3d.png)

[2018-10-11 23:15] #1283 closed

[2018-10-11 23:16] mkllnk opened #2860 "NoMethodError in spree/admin/orders#update"
There can be an error when updating shipping methods when updating an order as admin. This happened twice on Australian production.

## Error in OpenFoodNetwork

**NoMethodError** in **spree/admin/orders#update**
undefined method `finalized?' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5bbecb7e53a566001b5e61ec?event_id=5bbecd970030515178600000&i=gh&m=

[2018-10-11 23:18] sstead commented on #1282
Update:
Holding the tablet horizontal looks ok:
![image](https://user-images.githubusercontent.com/10843056/46839079-ed87e800-ce07-11e8-86bc-c58ef371da66.png)

But holding the tablet vertical it doesn't fit:
![image](https://user-images.githubusercontent.com/10843056/46839136-2e7ffc80-ce08-11e8-9310-18cdf8533117.png)

[2018-10-11 23:20] sstead commented on #1281
The Orders section of /account has been updated since this issue was created, this issue specifically is no longer a problem.

[2018-10-11 23:20] #1281 closed

[2018-10-11 23:29] sstead commented on #1273
On the Aus instance the banner has different content, but the issue still remains in that it will reappear after being closed and after a page refresh. Other instances have the same grey /register banner which also still has this issue.

[2018-10-11 23:38] sstead commented on #1311
The padding has been reduced since Yuko first picked up this issue.
![image](https://user-images.githubusercontent.com/10843056/46839692-e0202d00-ce0a-11e8-963e-324b9b164682.png)
I'm no designer, so I'll leave this for someone else to decide whether the padding could be further improved.

[2018-10-11 23:40] sstead commented on #1305
This is a staging only issue- not problematic

[2018-10-11 23:40] #1305 closed

[2018-10-11 23:45] sstead commented on #1298
Note: This issue may get cleaned up in the mobile improvements which are currently underway.

[2018-10-11 23:48] sstead commented on #1292
This issue is still outstanding on mobile and desktop devises.
If there is only one open order cycle in the shop, the dropdown can be removed.

[2018-10-11 23:56] sstead commented on #1290
This issue has been improved slightly since it was created:
![image](https://user-images.githubusercontent.com/10843056/46840084-1199f800-ce0d-11e8-8dd8-fdf63186c656.png)

- The message no longer reads "no results found for (blank)." Instead the search term has been added.

However the messaging could still be improved:
- The sentence "Did you mean? (text the user searched for)" doesn't help. I wo

[2018-10-12 00:09] sstead commented on #1289
The modal now opens at the top of the screen
![image](https://user-images.githubusercontent.com/10843056/46840532-46a74a00-ce0f-11e8-92f8-6dbd987a8c69.png)

[2018-10-12 00:09] #1289 closed

[2018-10-12 00:09] sstead commented on #1251
I've added the below to Hacktoberfest :)
https://github.com/openfoodfoundation/openfoodnetwork/issues/1252
https://github.com/openfoodfoundation/openfoodnetwork/issues/1274
https://github.com/openfoodfoundation/openfoodnetwork/issues/1279
https://github.com/openfoodfoundation/openfoodnetwork/issues/1282
https://github.com/openfoodfoundation/openfoodnetwork/issues/1273
https://github.com/openfoodfo

[2018-10-12 04:36] sstead commented on #2765
This bug has come up for me a few times while trying to 'clean up' the Australian database. Things I'm encountering:
- If a profile was initially created with a faulty address (e.g. a typo which prevents pin placement), but then the address is corrected, the pin won't get dropped at the new location. There is no pin for the enterprise.
- I'm finding that for past profiles which had an address such

[2018-10-12 10:32] Matt-Yorkley commented on #2860
I think there may be issues around orders created manually by an admin not always being in the right state or having the correct related objects in place. Maybe we need more specs for those manual creation cases.

[2018-10-12 11:38] myriamboure opened #2862 "[Subscriptions] When setting up OC I can't select French states in address zone, but I can for Italy (on French instance)"
## Description

French instance has three states/region bases setup for local addresses: France, Italy and Spain.
As a hub manager I try to setup a recurring order for a French customer, when setting up their address I can't proceed as I can't select any French state/region.
But strangely if I choose "Italy" or "Spain" I can see the states/regions and choose.
It seems in subscription states change

[2018-10-12 11:58] myriamboure commented on #2158
I'm closing this for now as not prioritary, UX is ok to start with, will see with user feedbacks.

[2018-10-12 11:58] #2158 closed

[2018-10-12 21:37] luisramos0 commented on #2684
ok, this is ready for dev.

As mentioned above, whoever takes a chance on this issue can:
- option 1 - set shipping_method_id in the order
-- first  get the order to the :delivery state by advancing workflow (to make create_proposed_shipments work you need to set order.ship_address and make sure the shipping_method is available in the zone of that address)
-- then set the shipping_method_id using

[2018-10-13 18:30] WalkingBlackBear commented on #2616
Option A wouldn't be an issue for us at all.  Currently, every producer is charged, and charges, the exact same fees.  So there is no issue with 'hidden' markups.  Every fee is transparent to all parties.

I see where option B might be really good overall though.  I think that would ultimately be the best option of the three.

[2018-10-13 22:06] LonghornRach commented on #2745
I can do this if still available?

[2018-10-14 14:32] luisramos0 commented on #2008
one of the things we need to do regarding shipping_method zones is to always pass zone tests on pickup shipping_methods.

One of the zone validations done on shipping_methods is in shipphing_method.include?
We can decorate this method with something like this:

app/models/spree/shipping_method_decorator.rb

[code]

[2018-10-15 01:07] sstead commented on #1539
This issue has come up in Aus from a SuperAdmin perspective. Gradually the reports have been getting slower and slower to the point that I can now only download 2 days of OC Customer Totals data at a time (any longer and the page times out).

[2018-10-15 08:11] sigmundpetersen commented on #2799
I guess we can close this now that #2769 is tested and merged @myriamboure ?

[2018-10-15 10:16] #2776 closed

[2018-10-15 10:17] #2527 closed

[2018-10-15 12:34] myriamboure commented on #1607
Agree with you @rbarreca and I guess that's the kind of "small tweaks" that @daniellemoorhead and @kirstenalarsen has been talking about lately, not really new features that deserve an icebox. Maybe a new type of labels and we decide to put some small tweaks regularly as a side of bigger features? So we would have the curation team to curate bugs / tech debt / features / small tweaks... Then we ne

[2018-10-15 12:58] sigmundpetersen commented on #2819
Ping @mkllnk for feedback on the transifex process and the way forward on this specific issue

[2018-10-15 13:04] myriamboure opened #2868 "On group, profile only hubs don't appear in the hub list"
## Description

We are creating a group for a local territory willing to cooperate with OFFrance. We created a group and are listing also hubs that don't use the OFFrance platform, so "profile only". They don't appear on the hub list, but they do appear on the map.

## Expected Behavior

Profile only hubs appear in the group hubs tab.

## Actual Behavior

They don't.

## Steps to Reproduce

1. Cre

[2018-10-15 13:13] myriamboure commented on #2765
I also hit again the issue while creating a demo group to convince a local territory to join OFFrance... demo is happening on Thursday :-( The enterprises are not shown on the group map. We created 4 enterprises and NONE of them has a pin on the map, either it is not shown at all, either it is in the middle of the ocean... There is no workaround and all enterprises and instances are affected, so t

[2018-10-15 13:15] #2799 closed

[2018-10-15 13:21] myriamboure commented on #2739
@HugsDaniel @kristinalim  this is S2 and you are both assigned to it, but it has not moved forward in the last 7 days ! If you miss something, like @mkllnk didn't give you access to the logs, ask again, but this should not stay here without moving ! Thanks :heart:

[2018-10-15 13:54] #2840 closed

[2018-10-15 16:58] luisramos0 opened #2870 "[Spree Upgrade] Implement adapter product.on_demand that uses variant.on_demand"
As part of making OFN compatible with spree 2 with no on_demand (#2435), we removed on_demand from some serializers to fix a good number of tests (#2802).

Now, we need to replace this with a valid solution. See [this comment in 2435](https://github.com/openfoodfoundation/openfoodnetwork/issues/2435#issuecomment-431006869) for more details.

As part of this issue we need to create a `product.on_de

[2018-10-15 17:01] myriamboure commented on #1539
Shall we treat some "report overhaul" as a feature? it is not really a bug as it is badly designed, we can't really fix it we need to rebuild it differently if I understand well. In doing that we have various technical solutions: the one proposed above, but also going for some "custom report" feature using zapier directly with possibly defaults requests that we can setup for users on the basics li

[2018-10-15 17:02] myriamboure commented on #1539
@lin-d-hop could be a great product owner on that one :-)

[2018-10-15 17:04] myriamboure commented on #1282
#killtablesifyouwantresponsiveux I think we would need some UX view on this. @RachL maybe?

[2018-10-15 22:01] myriamboure commented on #2745
Hi @LonghornRach ! Yes it is available, welcome to the OFN community ! @kirstenalarsen what do you mean by "place under shop listing" ? In your example where exactly do you want it to be? I don't understand so I thought it might not be clear for Rachel either... ;-)

[2018-10-15 22:28] myriamboure commented on #1290
Closing for https://github.com/openfoodfoundation/openfoodnetwork/issues/1382

[2018-10-15 22:28] #1290 closed

[2018-10-15 22:28] myriamboure commented on #1382
@sstead I reformatted the issue so that it is clear for a dev what to do. If you disagree please tell or modify directly. We need to give precise indications to devs ;-) I closed the other issue.

[2018-10-15 22:31] myriamboure commented on #1292
@kirstenalarsen has this been included in the new mobile overhaul project? I think the OC dropdown are impacted by UX overhaul so I'm wondering... In that case please can you close that issue? if it is independant of mobile UX overhaul then let's do it here, hopefully someone from Hacktoberfest will work on it ;-)

[2018-10-15 22:33] myriamboure commented on #1298
@kirstenalarsen this is definitely impacted by mobile UX overhaul so I'll close it now, no need to have someone working on this anymore as UX is gonna change pretty much on that area. Reopen if you disagree.

[2018-10-15 22:33] #1298 closed

[2018-10-15 22:35] myriamboure commented on #1311
@kirstenalarsen same here, I'm closing that issue as will definitely be impacted by mobile UX overhaul given Yuko new designs. Reopen if you disagree.

[2018-10-15 22:35] #1311 closed

[2018-10-15 22:39] myriamboure commented on #1287
I think we can close that issue as this is not related to the OFN repository, it is about informational wordpress websites. The more broader problematic would be about integration between the OFN app and local info websites. The current solution to do "as if" they were the same website doesn't work but we will iterate later on. If you disagree reopen.

[2018-10-15 22:39] #1287 closed

[2018-10-15 22:44] myriamboure commented on #1279
@sstead I think it's better in such cases to directly modify the main thread, as it is not valid anymore so we don't care about the precedent situation here. Let's try to do that whenever we can to avoid people spend time reading useless things ;-)

[2018-10-15 22:56] myriamboure commented on #1285
@kirstenalarsen can confirm but I removed the Hacktoberfest logo and I think we can close the issue as not related to this repo but to an external website. You can close if we are right.

[2018-10-15 23:01] myriamboure commented on #1304
Has this been covered by mobile UX overhaul work @kirstenalarsen ? I'm not sure, it doesn't seem mobile wheckout has already  been worked on, so shall we keep this one and try to find someone to do it by highliting this to hacktoberfest contributors?

[2018-10-15 23:03] myriamboure commented on #1314
Shall we cover this in a bigger UX overhaul project @kirstenalarsen ? After the first part of the work has been done on shops things will have changed on filter looks so I guess we will have to adjust on other page to have some consistency in the app. Do you agree? If yes shall we close this one for now? Or at least remove hacktoberfest if there is a risk that this work will not be used for long..

[2018-10-16 00:08] mkllnk commented on #2819
I agree. Manually pulling all translations when releasing fits our current process much better. The automatic Transifex integration hasn't been working well for us.

[2018-10-16 03:28] kirstenalarsen commented on #1314
hmmm - i don't really know what this is, but don't think it's clear that the producer listing will be included in quick wins (much as i would like it to be). If it's an easy fix just do it?

[2018-10-16 05:05] mkllnk commented on #2765
Whenever we change the address of an enterprise, it calls `geocode` on its Address object. The geocode method is provided by the geocoder gem version 1.1.8.

Geocoder supports several geocoding services and uses Google Maps by default. Since Google shut down public access to their API we now don't get locations any more:

[code]

We may be able to pass our API key on:

[code]

[2018-10-16 07:03] mkllnk opened #2873 "Register link on checkout page leads to broken page"
## Description

The registration call at the bottom of the page sometimes leads to the wrong URL. It should go to `/registration`, but from the checkout page it goes to `/signup` which is Spree's path for registrations. Since we are not using Spree's signup, the page is broken and shows the snail.

## Expected Behavior

On every page the "Register here" call leads to `/register`.

## Actual Behavi

[2018-10-16 07:49] HugsDaniel commented on #2739
I really don't get it. No matter what I do now (manager or owner of any enterprise) I have the unauthorized error message, and in the logs I have this :
![screenshot from 2018-10-16 09-47-23](https://user-images.githubusercontent.com/28786869/47000424-8aa89080-d128-11e8-8be0-aa0d1a374e72.png)

@luisramos0 @sauloperez @Matt-Yorkley would you have a clue what's going on ? Seems like CanCan is strugg

[2018-10-16 08:36] kirstenalarsen commented on #2765
Thanks @mkllnk - can you fix this for @myriamboure before her demo on Thursday? or knowing that you are likely to not work weds, could someone else do it - @Matt-Yorkley @luisramos0 ?

[2018-10-16 09:13] kirstenalarsen commented on #2616
@kristinalim I think it's option a for now, especially if as you say it won't be that hard to retrofit option b. Let's do this thing :) thanks!

[2018-10-16 10:12] luisramos0 commented on #2765
"I hope that it doesn't become too expensive."

Looking at Matomo FR and AU have 8k visits per month. If 2 to 5% of visits go to the map, you get between 160 and 400 requests per month.
According to https://developers.google.com/maps/documentation/geocoding/usage-and-billing
It's 5 usd per 1000 requests, you pay between 0.8 and 2usd per month.

[2018-10-16 11:16] myriamboure commented on #2765
Thank you @kirstenalarsen :heart: yes if one of you can do it for French production server today that would be great ! @pacodelaluna for info or if you have time but needs to be done today (or tomorrow morning latest) so @luisramos0 or @Matt-Yorkley might have more time in the coming hours. We need also to merge this and upgrade to master after that (we gonna test now the PR). Do we need to open a

[2018-10-16 11:19] #2837 closed

[2018-10-16 11:41] sauloperez commented on #2745
I wonder if this still valid :thinking:

This is what I see with an existing shop

![screencapture-alpha-katuma-org-cooperativa-ninkasi-shop-2018-10-16-13_41_17](https://user-images.githubusercontent.com/762088/47013988-39f55f80-d149-11e8-98b8-cce8b14f3618.png)

[2018-10-16 11:45] sauloperez commented on #2765
could we doc this?

[2018-10-16 11:52] sauloperez commented on #1539
I'd say refactoring them to fetch data from DB in a performant way it's much quicker than rebuilding them and https://github.com/openfoodfoundation/openfoodnetwork/issues/2616 is the first step towards that. Looking forward to what @kristinalim comes up with! Improving their UX can come as a second iteration.

[2018-10-16 11:55] kirstenalarsen commented on #2745
yes it is still valid.

It only appears in embedded shops

![image](https://user-images.githubusercontent.com/2911176/47014614-7c915900-d196-11e8-958c-f03eaef365c1.png)

The new place for it is probably bottom left, adjacent to the Cart button?

[2018-10-16 11:57] kirstenalarsen commented on #2745
or perhaps in the cog - account / admin menu at the bottom? @LonghornRach @myriamboure @sauloperez thoughts?

![image](https://user-images.githubusercontent.com/2911176/47014701-c0845e00-d196-11e8-9d04-cab7cd30f516.png)

[2018-10-16 11:57] kirstenalarsen commented on #2745
demo embedded shopfront to play with - aus instance embedded in global wordpress

https://openfoodnetwork.org/user-guide/advanced-features/demo-embedded-shop/

[2018-10-16 12:03] myriamboure commented on #2745
Can you reckon why we need to move it? That could help in deciding where to put it ;-) What is the intention? We want it to be less visible when shops are embedded so it doesn't mix with the shops brand? @kirstenalarsen

[2018-10-16 12:07] sigmundpetersen commented on #2745
Wonder if it originates from #1783

[2018-10-16 13:05] luisramos0 commented on #2739
I'm helping @HugsDaniel sorting this one out.
In case he cant sort it out, can I get access to canada live instance? (apparently this is the only place this bug is replicatable)

[2018-10-16 13:11] luisramos0 commented on #2862
hey @myriamboure
I was confused when you used "multilingual" here, please clarify
This is just the list of French states that is not showing up on the address form. It is not related to language selection, correct? it's the country selection.
Can we remove that word from the description?

[2018-10-16 13:16] luisramos0 commented on #2862
also, when you edit an enterprise or customer outside subscriptions, can you select French states for french addresses? I assume so but would like to confirm.

[2018-10-16 14:35] luisramos0 commented on #2739
can I also get my user (luisramos0) promoted to access level similar to what Hugo has so I can replicate and debug the issue as well? in canada live instance

[2018-10-16 17:18] myriamboure commented on #2745
Again, I'm sorry but we need to understand the problem, you are jumping to solution too quickly so we don't know what solution fits the need !
In the original #1783 issue the bug is formulated as " The 'powered by OFN logo' isn't always shown clearly, sometimes falling off the bottom of the page." so @sigmundpetersen it was on group and apparently has been fixed, I'm gonna comment there, but not r

[2018-10-16 17:22] myriamboure commented on #1783
@sstead I think the two remaining things mentioned here are done, so I'm closing this issue. If you disagree please reopen or preferably, open a small issue just for the small thing that remains to be done, to avoid having to read again whole the history of what has been done. Cheers!

About links fixed: https://github.com/openfoodfoundation/openfoodnetwork/issues/1348

About the footer: seems sta

[2018-10-16 17:22] #1783 closed

[2018-10-16 18:01] myriamboure commented on #2862
Yes you are right @luisramos0 sorry if it was confusing, I change it straight away. You got the issue.

[2018-10-16 18:25] #2802 closed, assigned to sauloperez

[2018-10-16 18:28] #2784 closed

[2018-10-16 19:11] luisramos0 commented on #2862
Hey @myriamboure
you say this is blocking creating subs? you can create subs with empty state in the address. correct? a workaround would be to put the state in another text field of the address. let me know if this is correct. we may not be testing the same thing.

Anyway, this is a simple javascript bug I'll have a PR ready in the next 24hours.

[2018-10-16 19:14] luisramos0 commented on #2739
thanks @myriamboure
I'll try to test/replicate.
Yes, I need access to the server to be able to debug. I dont have access yet. Even if ofn-install has been updated with the new sysadmins list, I believe the servers need to be reprovisioned so that the list gets updated on the server.

[2018-10-16 19:39] myriamboure opened #2874 "[Subscriptions] Missing translation on "subscription" pages"
## Description

In this issue I collect all the untranslated strings on the subscription section. I thought all those translations could be handled in just one PR to avoid multiple staging. If you prefer to break it per page I can do it.

## Steps to Reproduce

UPDATED BY @RachL on June the 4th 2019

1. On https://staging.openfoodfrance.org/admin/subscriptions page:

- [x] The search placeholder:

[2018-10-16 19:44] myriamboure opened #2875 "[Subscriptions] Currency internationalization issue on subs"
## Description

Currency symbol is $ on subscription pages, whatever the local currency setup.

## Expected Behavior

Currency adapt to local currency setup.

## Steps to Reproduce

1. On all screens of the subscription concerned (setup process when adding products and reviewing, "items" and "orders" tabs) you can see $ even on the French instance setup to €
![capture du 2018-10-16 21-41-36](https

[2018-10-16 20:03] myriamboure opened #2877 "[Subscriptions] If I have more than one OC planned with a same schedule, incoming orders shows wrong Order Cycle name"
## Description

If I have more than one OC planned with a same schedule, incoming orders for the second, third, etc OC shows in the Order Cycle column "Close date not set" instead of the OC name.

## Expected Behavior

Hub manager can check the recurring orders planned for the next OC easily.

## Actual Behavior

She can't as she can't see the name of the next OC concerned.

## Steps to Reproduce

[2018-10-16 20:15] myriamboure opened #2878 "Wrong logic in describing state of "order" in subs order tab"
## Description

When a customer has an incoming order linked to a recurring order, when an OC is setup for her schedule, a new line appear in "orders" tab with status "pending". So the OC has not started, but in the OC column it is written "[OC name] closed [time between current date and start date of the OC] ago".
It should be "[OC name] starting in [time between current date and stat date of the

[2018-10-16 20:15] myriamboure commented on #2157
I'm closing this one as covered by two separate issues more clearly described: https://github.com/openfoodfoundation/openfoodnetwork/issues/2877 and https://github.com/openfoodfoundation/openfoodnetwork/issues/2878

[2018-10-16 20:15] #2157 closed

[2018-10-16 20:17] myriamboure commented on #2156
Closing this issue as captured more clearly here https://github.com/openfoodfoundation/openfoodnetwork/issues/2878

[2018-10-16 20:17] #2156 closed

[2018-10-16 20:44] myriamboure opened #2879 "Make use of "cart" status consistent in subs feature"
## Description
Today here is what happens:
- There are 2 locations where a “cart” is mentioned or suggested:
1- In “orders” tab when OC opens
2- Within first email sent, when OC opens, where we say something like “an order is going to be made on your behalf, if you want to verify and modify it click here”.
- But in reality when I login and want to modify my cart, it’s not a cart, the order has alr

[2018-10-16 20:46] myriamboure commented on #1411
Closing as replaced by https://github.com/openfoodfoundation/openfoodnetwork/issues/2879

[2018-10-16 20:46] #1411 closed

[2018-10-16 20:56] myriamboure commented on #2862
Actually it is blocking subs creation @luisramos0 what we have done to test is do as if we were living in Spain :-) Ahh ! in English "state" might be use also as a text field like for "Victoria" or "South Australia" in Australia ;-) Sorry so I thing the field that is blocking in English is named "region", we have translated by the equivalent of state in French so I was confused, but did you unders

[2018-10-16 21:30] luisramos0 commented on #2862
lets clarify translations first, I believe there's a translation problem here in Admin - Configuration - Régions (which is States in English) - it should be Départments. Or the other way around, the address field should be called Région and not Départment. In OFN, there are only 2 concepts, country and state (lets ignore Zone which is not directly related to addresses). Translating the concept Sta

[2018-10-16 21:39] myriamboure commented on #2862
Actually I think I have to say "mea culpa" on this one @luisramos0 we tested with Rachel and had a bug preventing us to create the subs, but apparently it was connected to something else as I just reproduced and you are right, it is not preventing the creation of a subs... so it wouldn't have been s2 :-( But anyway this is solved now so let's finish it...

Forget about the "suburb" translation iss

[2018-10-16 21:55] luisramos0 commented on #2862
ok! I am sorry, I just wanted to clarify it.

"suburb" is another text field :-)

[2018-10-17 06:39] kirstenalarsen commented on #2745
Thanks @myriamboure - beautiful work as always

I think option 2, possibly on the left of page rather than under the actual button, but not too concerned. Agree that perhaps doing it in a footer is good, but that’s more technical than I understand i.e. whether that is required to have it in embedded only

[2018-10-17 06:49] sigmundpetersen commented on #2745
I vote for option 2 bottom left as Kirsten says

[2018-10-17 07:50] myriamboure commented on #2745
Ok so let's be more precise:

2.1 Bottom left of the shop (not the page)
![capture du 2018-10-17 09-43-46](https://user-images.githubusercontent.com/8135376/47070348-46cd8e00-d1f1-11e8-9e09-b7a57680b791.png)
When the shop is closed:
![capture du 2018-10-17 09-47-21](https://user-images.githubusercontent.com/8135376/47070539-b9d70480-d1f1-11e8-922f-3cc6bd890344.png)

2.2 Bottom left of the page
![c

[2018-10-17 07:53] myriamboure commented on #2745
Do you agree @kirstenalarsen @sigmundpetersen ? Maybe I was too quick and maybe you want to raise your voice about 2.1 or 2.2 ;-) I do have some hesitation still so maybe you can tell ;-) 2.1 is more like it's part of the shop, 2.2 is more like it's part of the website... what do you think?

[2018-10-17 07:54] kirstenalarsen commented on #2745
not fussed - 2.1 or 2.2 are great. thanks @myriamboure :)

[2018-10-17 08:05] sigmundpetersen commented on #2745
As it is the embedded shop that is 'Powered by OFN' and not the external website, I would say 2.1 :)

[2018-10-17 08:47] RachL commented on #2745
@myriamboure I agree with @sigmundpetersen :) And I don't understand even how 2.2 is technically possible. But let's not dig into that ;)

[2018-10-17 09:40] myriamboure commented on #2745
Ok, then let's go for 2.1. @LonghornRach I will review now the main thread and clean a bit that page, so that you see clearly what we want to do. Thanks in advance if you can help on that one !!!

[2018-10-17 10:43] pacodelaluna commented on #2765
@myriamboure Sorry I missed the notification but @sauloperez ping me on Slack! I am adding Payment method on Google Account to avoid this issue as suggested.

[2018-10-17 11:08] pacodelaluna commented on #2819
@mkllnk Ok, it is an option yes, and both options (merge one and direct pull one) can help to have better results. We could even add a recipe on ofn-install to proceed this automatically.

[2018-10-17 12:29] myriamboure commented on #2879
Note: I have updated the main thread as I said something wrong about first email content, all should be good now. Option 1 is a very easy fix, if no objection let's go for that.

[2018-10-17 14:28] HugsDaniel opened #2881 "[Spree upgrade] No banner shows up when successfully deleting a shipping method"
## Description

When a shipping_method is deleted, the banner confirming the deletion doesn't show up in browser. It shows up in feature test though.

## Expected Behavior

When successfully deleting a shipping method, a banner should show up.

## Actual Behavior

The banner doesn't show up in browser.

## Steps to Reproduce

1. Go to Configuration -> Shipping Methods
2. Delete one shipping method

[2018-10-17 14:28] HugsDaniel commented on #2744
I opened a new issue #2881 for the question in #2728 since it's slightly different from what was intended here. I close this one now.

[2018-10-17 14:28] #2744 closed

[2018-10-17 15:39] LonghornRach commented on #2745
2.1 it is!

[2018-10-17 21:20] luisramos0 opened #2882 "[Spree Upgrade] MailMethod is back from master into 2-0-stable and needs to be converted to spree 2 MailConfiguration"
## Description
There are around 20 test broken in the 2-0-stable build with error:
[code]

Change in master that originated this:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2725/files

This is the type of solution already used as part of #1957:
https://github.com/openfoodfoundation/openfoodnetwork/commit/b5038fa5dc8483c17cabd6883770c6a0a9285848#diff-d0a5855e5f1cb6163b01e2c22d95d787

[2018-10-18 06:57] #2781 closed

[2018-10-18 06:58] #2665 closed

[2018-10-18 08:22] sineadfenton opened #2883 "Error when changing weights in bulk order management due to stock levels"
## Description

This has been reported by Tamar

Each week Sara will update a series of invoices with the final weights that products come in at. One producer has a series of products with weights that are variable, so each week, these will change. The initial product sold will be 300g for £2, however when deliveries are made by producers, what comes in is 270g thus it will be £1.75, Sara will adj

[2018-10-18 11:28] luisramos0 opened #2884 "[Spree Upgrade] Order Shipments link is gone in spree 2"
## Description
The path admin_order_shipments_path used in product serializer as shipments_path is gone in spree 2. We need to remove the link to shipments from the orders page as it was done in spree 2 here:
https://github.com/openfoodfoundation/spree/commit/67f568914988bcc0a1fc520d15ed6444a6d12824#diff-a49b505b614b2659d9eae6c90d79f698

## Expected Behavior
No tests broken with this error.
Order_

[2018-10-18 11:54] luisramos0 commented on #2884
this was only breaking the orders page but after [this commit](https://github.com/openfoodfoundation/openfoodnetwork/commit/93d273f94a7293a5910097e10261a5621202912b) it's now breaking order_serializer and all its usages.

[2018-10-18 12:53] sauloperez commented on #2008
We purposefully wanted to get rid of this kind of metaprogramming as it's not explicit and it goes out of hand real soon. That's why we started refactoring our customizations with extension hooks like https://github.com/openfoodfoundation/spree/pull/6

[2018-10-18 13:06] luisramos0 opened #2885 "[Spree Upgrade] Replace usage of Config:allow_backorders with variant.on_demand in line_item_decorator"
Same as #2803 but for app/models/spree/line_item_decorator.rb

[2018-10-18 13:09] luisramos0 opened #2886 "[Spree Upgrade] Replace usage of Config:allow_backorders with product.on_demand"
We need to replace all occurrences of Spree::Config::allow_backorders related to products with product.on_demand.
This happens in app/helpers/add_to_cart_helper.rb

[2018-10-18 13:19] luisramos0 opened #2887 "[Spree Upgrade] Config::allow_backorders is gone in spree 2"
## Description

`Spree:Config::allow_backorders` disappeared in spree 2 here https://github.com/openfoodfoundation/spree/commit/5ef8dc67d

There are two dimensions to this task:
### Variants
To handle the disappearance of `Spree:Config::allow_backorders` **in a variants context**, all occurrences of `Spree:Config::allow_backorders` will be replaced by `variant.on_demand`.

`variant.on_demand` will

[2018-10-18 13:44] luisramos0 commented on #2689
this issue should be fixed by this change: https://github.com/openfoodfoundation/openfoodnetwork/issues/2870

[2018-10-18 14:49] luisramos0 commented on #2744
Amazing, OFN v2 is starting to be usable! I gave this shipping methods UI a good try and it just works :-)
well done @HugsDaniel

[2018-10-18 15:01] luisramos0 commented on #2008
fair enough, are you giving this one it a try with hooks?

This really looks like a case for class extension (class eval or not), OfnShippingMethod extends SpreeShippingMethod and implements include? in a bit more specific way.

[2018-10-18 15:07] myriamboure commented on #1454
Closing this epic, I have put in project board the last issue not closed to analyse and see what to do with it.

[2018-10-18 15:07] #1454 closed

[2018-10-18 22:59] LonghornRach commented on #2745
ok i feel a little silly but i'm completely overwhelmed by this site! I was able to find the style sheet but not where the 'powered by' element is actually rendered. probably better for someone else to take this on 😕

[2018-10-19 00:15] luisramos0 commented on #2739
all right Canada! I have access to the backoffice and also to the server. Nothing cant be done now  🎉

There are many data scenarios in this permissions world, so, when we report a case we need to report exact state of the data in which the scenario appeared. And by state of data I mean every detail, and there are too many in this context...

First enterprise acronyms:
GPO - garden party online
GP

[2018-10-19 03:02] jhsu802701 opened #2889 "Add test coverage badge"
A test coverage badge would help us see what we need to do to improve this app's test coverage.

[2018-10-19 03:12] jhsu802701 opened #2890 "Adding Ruby on Racetracks elements"
I'd like to add elements of my Ruby on Racetracks methodology.  The options are:
1.  Put these elements in a pull request
2.  Limit these elements in a personal branch and use the "git cherry-pick" command for creating branches specifically for pull requests

Here are the things I plan to add:
1.  build_fast.sh script: After I git clone the app in a fresh development environment, all I have to do

[2018-10-19 03:18] jhsu802701 opened #2891 "Upgrade the Ruby version and Ruby gems"
As of 2018-10-18, this app has Ruby 2.1.5 (released 2014-11-13), Rails 3.2.22 (released June 16, 2015), nokogiri 1.6.8.1 (released October 03, 2016), and pg 0.21.0 (released June 12, 2017).

I will work on updating this app.  I have experience upgrading the Adopt-A-Tree app (https://github.com/OpenTwinCities/adopt-a-tree).

[2018-10-19 03:42] daniellemoorhead commented on #2879
Option 1 👍

@sstead @kirstenalarsen thoughts?

[2018-10-19 03:44] daniellemoorhead commented on #2765
Ok, so where to next with this issue? I assume France is updated and the demo went marvelously (because how couldn't it when @myriamboure is in the house!), and we need it included in the documentation for new instances  set up. Is there anything beyond that?

[2018-10-19 03:46] daniellemoorhead commented on #2765
Actually, I see the PR. It's in code review.

Nothing to see here...

![](https://gifimage.net/wp-content/uploads/2017/10/move-along-nothing-to-see-here-gif-7.gif)

[2018-10-19 04:03] jhsu802701 commented on #2890
[Ruby on Racetracks](https://www.rubyonracetracks.com/)
[Legacy Rails Apps](https://www.legacyrailsapps.com/)

[2018-10-19 04:06] daniellemoorhead commented on #1285
Closing issue, not relevant to global

[2018-10-19 04:06] #1285 closed

[2018-10-19 04:11] daniellemoorhead commented on #1282
😱

👏 😆

[2018-10-19 08:38] Matt-Yorkley commented on #2745
@LonghornRach it's overwhelming for everyone at first, don't feel silly :)

[2018-10-19 08:47] sstead opened #2892 "Strange behaviour on Orders Listing and BOM pages"
## Description
In the last 2 days we've had issues reported by 2 users with the Orders Listing and BOM pages.

The issue below makes it hard to interact with BOM. In this case, orders before Oct 11th are impacted, not after. Difficult to reproduce, happened randomly. I can provide login details to view the bug in action if needed.
![image](https://user-images.githubusercontent.com/10843056/4720750

[2018-10-19 10:46] sstead commented on #2879
Option 1 👍

[2018-10-19 15:06] luisramos0 commented on #2739
ok, I think got it. I can reproduce this process locally.

I have a producer and hub in my test.
- For a base to test, Hub creates some inventory data for their own products or some Other Producer
- Producer creates Product X
- Producer permits Hub to sell their stuff: enterprise permission "Producer permits Hub to add products to inventory".
- Hub adds product X to inventory and sets the inventor

[2018-10-19 15:27] luisramos0 commented on #2891
There are things that could be already adapted in our current versions that will work with future versions. Is this not correct?
"Write OFN in current ruby 2.1 in a way that the migration to ruby 2.3 will be a breeze."
"Write OFN in current rails 3.2 in a way that the migration to rails 4 will be a breeze."
Is this not a valid project we could open to the community?
I am making this question becau

[2018-10-19 15:58] lin-d-hop opened #2895 "Email Confirm Links not working for some users"
For a long time the UK has had an issue with some users not being able to confirm their email addresses.

Asking around other instances, I've not heard this happening in other places, so figured it was a UK config issue. After much (soul) searching it seems that the problem is actually with the way the spree configures URLs

## Expected Behavior

Links in OFN emails break for some users

## Actual

[2018-10-19 21:41] luisramos0 commented on #2739
Apart from the management of inventory items of deleted products, another follow up issue that could come out of this is: if a hub is selling a producers products and the producer removes hubs's permission to their products, the Hub's inventory page should still work :-)

[2018-10-19 21:57] tschumilas commented on #2739
Thanks @luisramos0  for figuring this out.  It explains why my testing was going so wonky.  And thanks for drafting the fix.  Unfortuantely -  producers add and delete products ALL THE TIME -  they have to.  The are using OFN because it handles their product list and inventory changes (or we we thought).  And permissions change ALL THE TIME because hubs come and go,  and producers to those hubs co

[2018-10-19 23:05] luisramos0 commented on #2739
Yeah, I agree. We need to make this inventory management page a bit more resilient.

[2018-10-20 09:27] luisramos0 commented on #2739
I believe this becomes a S3 with the workaround of giving permissions to the hub again. With the SQL query above it's easy to find out what situations need to be fixed.

I've double checked the situation where the permission is removed and the product is NOT deleted. If the product is available on the shopfront in a order cycle of the hub and the producer removes permission to the hub, the product

[2018-10-20 13:33] luisramos0 opened #2897 "[Spree Upgrade] [Broken test] Price without variant in deleted variants"
there are 13 broken tests in the build related to deleted variants. In variant_spec and models/order_cycles is mostly broken with this error as well.

This is the most simple one:
[code]

This fails in price.rb:29 in method check_price where price.variant_id is present but the variant object (price.variant) is not. This only happens on the deleted variant. Marking the variant deleted for some reas

[2018-10-20 14:05] luisramos0 opened #2898 "[Spree Upgrade] Fix Orders list page - remove show_only_unfulfilled_orders"
Filter to show_only_unfulfilled_orders was dropped in Spree2 [here](https://github.com/spree/spree/commit/2d8cd38e704b765345e75a5ea61aaf79a399af92#diff-a49b505b614b2659d9eae6c90d79f698R67). We should do the same in OFN.

This is currently breaking 12 tests in the 2-0 build with the following error:
[code]

Acceptance criteria:
No broken tests with this error.

[2018-10-21 14:36] jhsu802701 commented on #2891
How can I join the Slack channel?

[2018-10-22 10:05] myriamboure commented on #2756
Hey @HugsDaniel is this one moving forward? We have so many users complaining and the workaround is recreating all the products one by one which is ... time consuming, not a good start with the OFN :-( If you still have access issues all Ha and Ri devs now have access to French prod.

[2018-10-22 10:41] myriamboure commented on #2739
@luisramos0 check https://github.com/openfoodfoundation/openfoodnetwork/issues/1630 about one of your last comments, it is a known issue but has not been worked on yet...
What a great detective work !!! So grateful to have you in the team @luisramos0 :-)

[2018-10-22 11:30] myriamboure commented on #2745
@LonghornRach if you want to give it a real try and dive into it please join our Slack and ask some support to the devs in #dev channel there ! We know it can definitely be overwhelming at first sight, but afterward it is so much joy to be part of this beautiful community :-) https://openfoodnetwork.slack.com/join/shared_invite/enQtMzU2Mjk5MDc2MjA5LTM4ZTAzZjIwNzIxMmU5ODFiNWY1MTU2ZWUyNzQwNjdjNTY0N2

[2018-10-22 13:10] HugsDaniel commented on #2898
I stumbled upon this while fixing the edit page, should we just remove it from the filters ? No replacement for now ?

[2018-10-22 13:15] HugsDaniel commented on #2898
This https://github.com/spree/spree/blob/3c46d141c5cb2bedced63596178a0a79df3f0c9e/backend/app/controllers/spree/admin/orders_controller.rb#L22 stays in 2.0 stable and after, it's in our code base as well:
 https://github.com/openfoodfoundation/openfoodnetwork/blob/32632addfb064c27c9cf15274348c3187c3e6431/app/controllers/spree/admin/orders_controller_decorator.rb#L39
But it seems useless without th

[2018-10-22 14:43] myriamboure opened #2905 "Untranslated error message in reset password process"
## Description

When asking new password, one string is untranslated (second field) and the error message if token expired is untranslated as well.

![capture du 2018-10-22 16-41-47](https://user-images.githubusercontent.com/8135376/47299007-7e856d00-d619-11e8-8203-388ec1a00232.png)

## Severity

This is front end so more annoying... priority S3 I would say ;-)

[2018-10-22 14:44] #2765 closed

[2018-10-22 14:54] myriamboure commented on #2857
@mkllnk if the transifex process has been updated, shall we just check at next release if fixed and then close that issue?

[2018-10-22 15:16] myriamboure commented on #1050
Closing as all issues attached are done and closed.

[2018-10-22 15:16] #1050 closed

[2018-10-22 15:17] myriamboure commented on #1049
Closing as all issues are done and closed.

[2018-10-22 15:17] #1049 closed

[2018-10-22 15:40] myriamboure opened #2906 "Bug on OC previous orders view when a hub has multiple OC open"
## Description
As a customer, I have made an order for OC 1 in Hub A. Hub A also has another OC 2 running in parallel. I want to make a new order as I forgot something. I can't see the info of the products I already bought, and when i reach "Edit cart" I can, but if I change OC the wrong previous order show... see step by step illustration below.

![1555824e-6f68-11e6-9744-4912461451c1](https://us

[2018-10-22 15:46] myriamboure commented on #1085
I opened that issue to cover the bug hidden in the testing comments here: https://github.com/openfoodfoundation/openfoodnetwork/issues/2906, not directly connected to recurring order feature.
I will retest and open a new issue for the shipping fee if that requires it, else let's wait for a case to happen...
Apart from that all the rest seems ok, so I'm closing that issue now.

[2018-10-22 15:46] #1085 closed

[2018-10-22 15:57] myriamboure commented on #1166
Having 10 orders with one product is not a real life case, but more 2 or 3 orders with more products in them... let's keep that in mind when thinking about option 1 and 2 @daniellemoorhead @sstead and probably this tweaks can wait until we have user feedbacks on it.

[2018-10-22 15:58] myriamboure commented on #1166
Taking out of standing order project as not related directly to standing order, more general case of multiple orders on a given OC.

[2018-10-22 16:00] myriamboure commented on #1089
Closing that epic as all issues in it has been treated.

[2018-10-22 16:00] #1089 closed

[2018-10-22 16:09] myriamboure commented on #1415
Logo displays correctly on French production, so seemed it was linked to Aus staging, closing the issue then.

[2018-10-22 16:09] #1415 closed

[2018-10-22 16:14] luisramos0 commented on #1630
I have tested this and it's true...
I want to add that the Hub can open the current order cycle and remove the product from the order cycle, and so, from the shopfront. So, instead of deleting the products the producer can ask the Hub to remove the product from the current order cycle. It's just another workaround, maybe someone finds it useful.

[2018-10-22 16:18] myriamboure commented on #1390
Edit cart flow has been described precisely here https://github.com/openfoodfoundation/openfoodnetwork/issues/1461 and we gonna review it carefully, the other things in this issue will have to go through solution design and priorization process before going back to github, so I'm closing that issue now.

[2018-10-22 16:18] #1390 closed

[2018-10-22 16:42] myriamboure opened #2907 "Can't login anymore on mobile (hamburger menu too long and closing when scroll)"
## Description
I try to login on mobile, open the hamburger menu on the left, but the list is long now that we have more menus on the French production, so I try to scroll with my finger to reach the "se connecter" (=login) menu, but when I scroll the menu closes !

## Expected Behavior
I manage to access the login menu on mobile

## Actual Behavior
I don't

## Steps to Reproduce
1. With a mobile

[2018-10-22 17:45] myriamboure commented on #1461
Ok so it seems the flow has changed quite a bit as 1- recurring orders are treated like any other order previously made on a given OC, and 2- At checkout the view is quite different, you can see items previously ordered and can delete them but can't do anything else. We need to clarify the management of "multiple ordering process" which becomes more urgent with the release of standing order featur

[2018-10-22 17:45] #1461 closed

[2018-10-22 18:16] myriamboure commented on #1166
I'm finally closing that issue as opened a broader discussion so we agree on a solution, as things are entangled here around the "multiple orders in single open OC" case: https://community.openfoodnetwork.org/t/improve-management-of-multiple-ordering-process-in-a-given-open-oc/1469

[2018-10-22 18:16] #1166 closed

[2018-10-22 18:21] myriamboure commented on #2077
I'm closing this epic in the cleaning process I'm doing and will open a new one with the remaining things for standing order / subs feature to be consider as done.

[2018-10-22 18:32] myriamboure commented on #1052
If we go back to the need, what is it? The need is to enable hub manager to create easily a batch of OC attached to a schedule. To answer that need there are multiple possibilities:
- from OC page duplicate an OC, and when duplicating make sure schedules are also duplicated (not the case for now). So hub manager could duplicate in a row and just update name and open/close date by bulk in the main

[2018-10-22 18:32] #1052 closed

[2018-10-22 18:33] myriamboure commented on #1052
@daniellemoorhead if you disagree just SHOUT (gently of course ;-))

[2018-10-22 19:11] myriamboure opened #2909 "[Subscriptions] When unpausing a subs attached to a schedule with an open OC, first email saying an order has been made is not triggered"
## Description
Normally:
- if I unpause a subs after an OC with schedule for that subs attached is open, the automatic order should be triggered.

The problem is that as a customer I don't receive the first email that is normally triggered when the OC starts for recurring order attached, I only get the confirmation email when the OC closes, which is confusing.

## Expected Behavior
First email say

[2018-10-22 19:47] myriamboure opened #2910 "Improve order cancellation email"
## Description
If when I cancel an order as a customer, or if a hub manager do it from backoffice, as a customer I receive an email but there are some important info missing:
-  if the order is cancelled, we should add a sentence "if you didn't want to cancel that order, please contact [hub contact email]"
- there is no indication if the order was paid if I will be refunded, or other.

## Expected

[2018-10-22 19:48] myriamboure commented on #1409
Closing as reopened a new issue specifying a bit more the case https://github.com/openfoodfoundation/openfoodnetwork/issues/2910

[2018-10-22 19:48] #1409 closed

[2018-10-22 19:59] myriamboure commented on #2077
I'm reopening it so we can keep track of all the past thing and not loose connexion. I'm just adding to the epic the last issues in the board project. Ideally I should have created a last sub epic, but now that there are no more sub epic it's ok to attach them directly I guess.

[2018-10-22 20:11] #1323 closed

[2018-10-23 04:30] kristinalim commented on #2907
I am able to reproduce this behaviour in an actual mobile browser, and not in mobile browser emulation through Developer Tools in Chrome.

Collapse or reset of the hamburger menu seems to be triggered by the window resize browser event. Scrolling down the browser window in mobile browsers auto-hides the address bar, which resizes the browser area and then triggers a window resize event.

I am stil

[2018-10-23 06:02] kirstenalarsen commented on #2910
I think you're hacking the bug system @myriamboure . . is this a bug or a desired enhancement?

[2018-10-23 06:07] kirstenalarsen commented on #1052
I think this is going to be a big issue for village centres - not because of subscriptions but because they are going to want order cycle every day and eventually lots of outgoing hubs - it will quickly become unworkable to open and manually change the delivery/pick-up info in each. But I will create a wishlist when confirmed :)

[2018-10-23 07:29] RachL commented on #2907
@myriamboure @kristinalim I am NOT able to reproduce the bug on Firefox and Chrome on Android. So I guess this is link to iOS devices? Which I'm not able to test during my tests... So I really need to ping you Myriam each time I'm testing on Mobile, that's the lesson I take...

[2018-10-23 07:50] RachL commented on #2910
@myriamboure shouldn't it be 3 separate issues? Plus I'm not sure they are qualified as bugs...

[2018-10-23 07:57] myriamboure commented on #2644
Ok this bug didn't appear again, this is still mysterious but we were not able to reproduce, so I'm closing it for now, and let's see if it happens again.

[2018-10-23 07:57] #2644 closed

[2018-10-23 08:12] kristinalim commented on #2907
@RachL I am able to reproduce this in Chrome on Android, actually, so this is not just for iOS:

* Browser: Chrome on Android (version 69.0.3497.100)
* Orientation: Landscape

Noting that this version allows the address bar to slide up and disappear when scrolling down the page, which I think is related. That could be a difference between our Chrome versions.

[2018-10-23 08:27] Matt-Yorkley opened #2911 "Refactor Admin Orders controller"
Follow on from working on #2908

## Description

Quite a few changes have gone through for Admin Orders, and the index action especially needs a refactor and tidy up (it's a mess of old and unnecessary code).

This is part of the Bulk Invoice Printing epic.

[2018-10-23 08:39] myriamboure commented on #2910
I am not sure either but what is clearly a bug to me is the display of enterprise fees details to customers. The rest is not a bug but probably it should be treated at once if someone review this order candellation email, so I was not sure @RachL We could separate in three issues but we should ask a dev first if it's easier to do it all at once or not.

[2018-10-23 10:12] sigmundpetersen commented on #2910
Just convert this issue to a sub-epic, create 3 new issues and put bug label on the one with the fees?

[2018-10-23 10:34] sigmundpetersen commented on #2819
Can we close this now @mkllnk as the manual Transifex process is written down?
Should we also create an issue in ofn-install repo what @pacodelaluna suggests, to pull latest translations with ansible on every deploy?

[2018-10-23 14:17] myriamboure opened #2915 "[Subscriptions] Make subs radio button visible for shop managers so that they can activate it :-)"
## Description
This will be the last issue to work on when all the other bugs are fixed :-)
Today only super admin can see the radio button and activate it for a hub. When we are ready to release we will make this radio button visible to all hub managers !

![capture du 2018-10-23 16-16-39](https://user-images.githubusercontent.com/8135376/47366993-10a37900-d6df-11e8-96ed-12006c1f4e42.png)

[2018-10-23 18:44] #2898 closed

[2018-10-23 18:44] #2884 closed

[2018-10-23 18:48] myriamboure commented on #2910
Yes, could be solution, let me see with the dev who will work on it what is better, if we need a more refine story map on it or not. It is part of the remaining subs things to do for release so it's not so important to know if it's a bug or not, it will be done anyway before we release.

[2018-10-23 19:08] sineadfenton opened #2917 "Location markers not moving with changes to addresses - UK Production"
## Description

When changing the address of an enterprise within spree, the changes pull through however the location markers do not change

## Expected Behavior

You change the address and the location marker changes too

## Actual Behavior

You can change the details of the enterprise in spree, but the location marker remains in the same location as the previous place, even though the details h

[2018-10-23 19:09] sineadfenton commented on #2917
![](https://github.trello.services/images/mini-trello-icon.png) [Producer icon not displaying in correct place on map](https://trello.com/c/OcuKCv5W/268-producer-icon-not-displaying-in-correct-place-on-map)

[2018-10-23 19:13] luisramos0 opened #2918 "[Spree Upgrade][Account Invoices] Fix specs related to account_invoices (4 broken specs)"
Moved all specs in update_account_invoices_spec and finalize_account_invoices_spec to pending.
These specs need to be fixed.
See #2902

One spec in reports_spec is related to account invoices and can be handled as part of this issue either by being fixed or by being deleted.

[2018-10-23 19:14] RachL commented on #2917
Hello @sineadfenton if I'm not mistaken, this has been tackled by https://github.com/openfoodfoundation/openfoodnetwork/issues/2765 . Next release on UK production should have the fix, but best is to check with @Matt-Yorkley

[2018-10-23 19:15] RachL commented on #2917
So I'm closing this, feel free to reopen if you think I was wrong!

[2018-10-23 19:15] #2917 closed

[2018-10-23 19:16] sineadfenton commented on #2917
Cheers @RachL totally missed that, thanks. I;; close this

[2018-10-23 19:17] luisramos0 commented on #2790
This spec was re-included in build in #2902 because it is a core spec and needs to be in the build.
Closing this issue.

[2018-10-23 19:17] #2790 closed

[2018-10-23 19:18] sineadfenton commented on #2765
![](https://github.trello.services/images/mini-trello-icon.png) [Producer icon not displaying in correct place on map](https://trello.com/c/OcuKCv5W/268-producer-icon-not-displaying-in-correct-place-on-map)

[2018-10-23 19:18] sineadfenton commented on #2765
![](https://github.trello.services/images/mini-trello-icon.png) [Producer icon not displaying in correct place on map](https://trello.com/c/OcuKCv5W/268-producer-icon-not-displaying-in-correct-place-on-map)

[2018-10-24 09:43] #2848 closed

[2018-10-24 13:46] RachL commented on #1282
Sorry I'm late. But yes I don't understand why there is a table here. For example there are such things as the date where we do need a title (except if we need to be more precis e.g. delivery date vs shipping date).

On other e-commerce site I'm using, mobile orders are listed by date with 3 info : ID number, status and seller. If I want more info, I need to click on them.
![image](https://user-im

[2018-10-24 18:43] sineadfenton opened #2919 "Saving Failed, 502 error when changing product prices in Spree"
## Description

We're on UK production and we're unable to change any prices to products. When you change the price field, you see a loading note followed by "save failed. save failed due to invalid data:502"

Maybe related to changes made in #2769

## Expected Behavior

You update the price and it saves

## Actual Behavior

Go to change the price of products and you see a save failed notification

[2018-10-24 18:44] sineadfenton commented on #2919
![](https://github.trello.services/images/mini-trello-icon.png) [Price Changes](https://trello.com/c/XySDSn75/270-price-changes)

[2018-10-24 18:45] sineadfenton commented on #2765
![](https://github.trello.services/images/mini-trello-icon.png) [Map issue](https://trello.com/c/1O1QP1Vm/269-map-issue)

[2018-10-24 18:48] sineadfenton commented on #2895
![](https://github.trello.services/images/mini-trello-icon.png) [Password Confirm](https://trello.com/c/gq15pSqO/262-password-confirm)

[2018-10-24 19:00] sineadfenton commented on #2764
This has come up again unfortunately, it's with an enterprise Grimshaw Community Centre on UK production in particular - no other enterprises are giving us the issue.
http://recordit.co/jtiNwnRcDM
When we refresh the order cycle has infact been created.

Oddly for them though is that we can't seem to create an order cycle from scratch at all - I'll create a new issue for this. We haven't been able

[2018-10-24 19:05] sineadfenton opened #2920 "Order Cycles won't create for one specific UK enterprise"
## Description

We're having an issue with Grimshaw Community Centre * -

1 - firstly, when trying to duplicate the existing order cycle, we get the error page with the cat - #2764
2 - when we try to create a new order cycle from scratch, at no point are we able to save it. Lynne, Nick and I have looked at the way the enterprise is setup and can't spot any abnormalities.

*Note there are is anothe

[2018-10-24 19:05] sineadfenton commented on #2920
![](https://github.trello.services/images/mini-trello-icon.png) [problem creating an order cycle](https://trello.com/c/ai3A5sSr/238-problem-creating-an-order-cycle)

[2018-10-24 19:06] sineadfenton commented on #2895
![](https://github.trello.services/images/mini-trello-icon.png) [Registration/Confirmation of Email Account](https://trello.com/c/Z1NOKtL8/220-registration-confirmation-of-email-account)

[2018-10-24 22:38] kirstenalarsen commented on #2920
could this be connected to https://github.com/openfoodfoundation/openfoodnetwork/issues/2676 and similar issue on german instance. Not sure what version you are running and whether the fix is in, but it is possible that someone has deleted a User and/or there is a failed job somewhere that is preventing the OC from being created. Which (perhaps) is also affecting the duplication. If you can get so

[2018-10-24 22:39] kirstenalarsen commented on #2919
ok this is nuts. There must be a data problem in UK prod? @luisramos0 @mkllnk @Matt-Yorkley @sauloperez ?

[2018-10-24 23:51] mkllnk commented on #2819
Yes, I think we can close it now.

And yes, a new issue would be good. I would make it a separate playbook to start with, because by pulling the translations the deploy is not deterministic any more. The result depends on Transifex instead of the code. And if we automate it, we should only do it when we deploy master. Otherwise we will have a mismatch between the code and the translations.

[2018-10-24 23:52] #2819 closed

[2018-10-25 02:18] #2892 closed

[2018-10-25 04:42] mkllnk commented on #2920
I had a look into the log files and when trying to clone an order cycle it says:
[code]

So somehow there is an invalid variant (missing unit value) and that's why it can't be cloned.

[2018-10-25 04:58] mkllnk commented on #2920
Creating a new order cycle doesn't give as much information:
[code]

[2018-10-25 05:04] mkllnk commented on #2920
I found a workaround:

- Create an order cycle without products.
- Edit the order cycle and add products.
- Click "Update" and it should save.

There seems to be an issue with validating the variants when first creating an order cycle. We need to investigate which data is causing this issue and what the cause is.

Since there is a workaround and only very few users are affected, I'm degrading this

[2018-10-25 06:05] mkllnk commented on #2919
I found three issues here.

1. Once the products page appears to be loaded, it's still loading products in the background. All products that can be loaded within one minute are loaded. All remaining requests fail. So if you have a lot of products (e.g. as super admin) you may not see all products.
2. If you try to interact with the page while the products are loading (you wouldn't know), the data

[2018-10-25 10:13] luisramos0 commented on #2919
The dev tools console screenshot is so important for debugging! thank you
Interesting fact I just learned:
This:
<img width="446" alt="screen shot 2018-10-25 at 10 59 38" src="https://user-images.githubusercontent.com/1640378/47492551-2e8aee00-d845-11e8-9954-0f7ed43852b7.png">

Means the user didnt have the page focused for the whole test, they changed between browser tabs while running the test.

[2018-10-25 10:45] myriamboure commented on #2919
@luisramos0 if you have a solution that could solve all those performance issue on product list for 3/4 dev days it's not costly for the value it can bring IMO :-) Probably we need a bit of inception about the various options you mention and the UX impact and see what is the best both on tech and UX and what we need to modify in UX?

[2018-10-25 11:20] luisramos0 commented on #2919
I think 3/4 days of work is quite a lot and will impact delivery of the big items this year: subs v1, mobile, spree upgrade, etc...
I dont think there's any UX change, it's only a tech change where the queries to the server would be managed in a more controller way.
My opinion is that we should put this in the backlog and prioritise. I'd make this go into 2019Q1.

[2018-10-25 11:58] myriamboure commented on #2454
This has been started and almost finished but wait for the templates to be ready to adapt the user guide. So back in the backlog for now.

[2018-10-25 13:15] myriamboure opened #2925 "Impossible to change producer behind a product"
## Description
A user in France made a mistake, she has two enterprises (as she wants to offer her catalog at two different prices for individuals and pro and this option was the easiest for her as we can't have pricing tables). She created a long list of products. Then instead of recreating / duplicating each product to then assign them to the second producer, she directly assigned them to the se

[2018-10-25 13:21] myriamboure commented on #2925
Happy to discuss the severity of course... it will take me 2 hours to recreate the products, so maybe that's much less time than a dev would spend to solve it and we prefer to opt for that option for now... but I wait for some analysis and we can decide.

[2018-10-25 13:59] myriamboure commented on #2545
@lin-d-hop can we close that issue? Don't understand if it still remains as is, or needs a new issue with different scoping of issue open, or just closed. Thanks!

[2018-10-25 14:37] luisramos0 opened #2927 "[Spree Upgrade] Fix Upgrade build"
This epic contains issues related to fixing the upgrade build.
We started this epic with 201 broken specs, we are now at 119 broken specs.

Meanwhile we extract FrontOffice issues to #3123 and BackOffice issues to #3124.

Most issues under these epics will be issues with the name of the spec and the test error message.

[2018-10-25 15:01] luisramos0 commented on #2920
Hi, can I get some kind of access to uk live so I can try to replicate and fix?
My user is luisramos0 a_t gmail
Thanks.

[2018-10-25 16:20] #2739 closed

[2018-10-25 17:29] luisramos0 opened #2929 "[Spree Upgrade] Line Items Controller Spec (2 broken tests)"
Fix this spec:

[code]

[2018-10-25 17:58] myriamboure commented on #1282
I think our case is a little more complex as there is one "page" per hub, a shopper can buy through multiple hubs. And we have some information about "status" (paid or not) and "balance" that are quite important. But I agree that we could work on some mockup of another design for that page, and certain info should be taken out, (like number of products in the order, and the last "display" which is

[2018-10-25 18:01] luisramos0 opened #2931 "[Spree Upgrade] Fix Weight calculator"
In Spree 2, what gets sent to the calculator is a Package and the weight calculator needs to calculate based on that type of object.

[2018-10-25 18:02] myriamboure commented on #2841
Ok, this user is stuck. I know it concerns only one user, but there is no workaround, we have trying everything we could imagine with Rachel, and the inconsistency guest/account seems like there is a tech bug. Does it qualify as a S2? We have really no workaround... we need someone to look into DB to try to understand the problem. I try it, if you disagree retrograde, I will just have to try to ma

[2018-10-25 18:04] sineadfenton commented on #2919
Thanks @luisramos0, I'll use another account for the meantime - with doing support I need access to everything but get that that comes with rendering issues, but I can workaround that so it's fine for now.

It would be good as you say to maybe have pagination or something similar

[2018-10-25 18:05] myriamboure commented on #2857
I leave that in test ready so we don't forge to test.

[2018-10-25 18:42] sineadfenton commented on #2920
@luisramos0 I've added you as a manager of the Grimshaw enterprise which is the one we're seeing the issues with. Is that what you're after?

[2018-10-25 19:36] luisramos0 commented on #2920
yes, I can replicate now. thank you!

The problem is not in Grimshaw Community Centre, it's in Growing with Nature. I can create an order cycle with all products from all other producers. The error only occurs with products from "Growing with Nature". There's something wrong with the products of Growing with Nature or with the relationship defined between "Growing with Nature" and "Grimshaw Commun

[2018-10-25 19:39] luisramos0 commented on #2920
Another detail is that "Growing with Nature" is the only one for which "Grimshaw Community Centre" has some Inventory entries (VariantOverrides).

[2018-10-25 20:03] luisramos0 commented on #2920
ok, I found the product with the problem: it's "PEPPER, RED (EUR)" from "Growing with Nature".
I created an OC with all products except this one and it works.
One fix I'd try is to add this product to the "Grimshaw Community Centre"  inventory but before that I think we should try to discover what's wrong with this product. I don't have access to manage "Growing with Nature" and I cant access the

[2018-10-25 21:41] luisramos0 opened #2933 "[Spree Upgrade] [Broken Test] Fix Admin Orders Spec"
Fix the error
[code]

[2018-10-25 21:49] mkllnk commented on #2919
@myriamboure While the Spree upgrade is happening, we should not do big refactorings, because it will make it much more difficult to keep the two versions in sync. If we can find small tweaks that improve the situation, then that's great.

[2018-10-25 22:47] kirstenalarsen commented on #2925
there are obviously some robustness issues in this area, but if it's going to take 2 hours to recreate the products I'd be leaning towards saying that might be the most efficient action 'global team' wise - there are so many bugs and things floating around that if there is a way to avoid a dev spending time investigating this that would be preferable @myriamboure ?

[2018-10-26 02:52] daniellemoorhead commented on #2919
Agree with @mkllnk let's leave the rework till Spree is done. We have a work around for now, that's the most important thing. Let's make sure this gets included in the tech debt backlog for post-spree work?

[2018-10-26 02:56] daniellemoorhead commented on #2925
I agree with @kirstenalarsen. As much as it's not the best use of your time @myriamboure I think Spree upgrade needs to take priority over this, especially when there have been so many S2 bugs of late. Should we move this back to being an s3 given there's a workaround?

[2018-10-26 03:02] daniellemoorhead commented on #2841
![screen shot 2018-10-26 at 1 59 48 pm](https://user-images.githubusercontent.com/10949052/47542079-75511480-d927-11e8-96fe-e51da3c9e4ab.png)

Just so we're tracking the conversation for update purposes on here :)
@pacodelaluna @HugsDaniel  @luisramos0 over to you all to get into it (potentially using @mkllnk's suggestion)

[2018-10-26 03:19] daniellemoorhead commented on #2545
Let's just close it for now, @lin-d-hop can reopen or create a new one when she's out of exam mode and has the brain space 🤓

[2018-10-26 03:19] #2545 closed

[2018-10-26 03:32] daniellemoorhead commented on #1052
You're the standing orders boss @myriamboure, I will leave it to you to decide what's needed or not ;)

[2018-10-26 05:33] mkllnk commented on #2626
I ran a CI run with exceptions on missing translations. https://github.com/openfoodfoundation/openfoodnetwork/commit/1c928474d1eebf98a8d9b59ea64766b26a5e136c

Here are the results:

[code]

These may be covered in other issues: #2874, #2374, #1829. We should fix them.

[2018-10-26 06:43] lin-d-hop commented on #2841
UK are also experiencing this issue with one shopfront.
There is no workaround for the user.
In particular it is one of our FA users and they only came onto OFN for subs... so this is a real headache that ONLY this user is experiencing this problem :-/

@myriamboure with this affecting a user in UK and France can we up to s2?

[2018-10-26 08:44] luisramos0 commented on #2919
ok but I dont think this is tech debt. We should make a diference between tech debt and bugs. This is a bug and should follow standard prioritization.
Tech debt (basically the batch of work that devs will prioritize) is concerned with the tech evolution and maintenance of the software, it's never a user request. In other contexts I have seen it called "tech evolution" which I think is a really goo

[2018-10-26 08:50] luisramos0 commented on #2841
@daniellemoorhead that conversation on slack was for #2925
I am not in the email party, Matt and Maikel and Hugo have been covering that area lately.

[2018-10-26 09:09] luisramos0 commented on #2925
lets have a look at the logs. maybe it's an easy one.

@myriamboure can you give my user access to that enterprise?

[2018-10-26 10:58] luisramos0 opened #2935 "[Spree Upgrade][Admin/Orders/Edit] Fix translation issue in Admin Orders Spec (3 broken tests)"
Translation issue on variant autocomplete.

Fix this issue:

[code]

This comes from app/views/spree/admin/variants/_autocomplete.js.erb
This problem should be addressed in #2416 but should be verified. the autocomplete template should be a normal ofn assets template and use normal ofn js translations.

[2018-10-26 11:04] luisramos0 commented on #2416
Hey Hugo, how is this going?
I just bumped into this one on the build with a translation error. I have created a new issue for this specific translation error but we will probably fix everything in the same effort. The issue is #2935

As I dived into this,  realized how complicated this setup is with ofn code and Spree code tightly coupled between rails views and js code... help!

Two things we sh

[2018-10-26 11:08] luisramos0 commented on #2416
Also, this is related to what @kristinalim is doing on the subscriptions autocomplete on #2733. On 2733 code review I suggest this autocomplete code cannot depend on subscriptions, but only the other way around: subs autocomplete depend on core autocomplete.

I think a part of this PR has to be done in master, otherwise I believe it will be merge hell.
Maybe @kristinalim can help. Anyway, I think

[2018-10-26 11:19] luisramos0 commented on #2935
A very bad quick fix for this error is to add this line:
`    :on_hand                  => Spree.t(:on_hand),`
to
spree/app/views/spree/admin/shared/_translations.html.erb

[2018-10-26 12:29] myriamboure commented on #2925
Ok we have organized with @RachL she is manuelle recreating the products for now so I switch this to S3. @luisramos0 if you have more emergencies this is a bit less urgent then.

[2018-10-26 13:28] luisramos0 commented on #2756
Product "Panier de legumes" in "La belle farm" is one with image and not clonable.
I removed it's image and voilá, it's now clonable.
I re-added the image to the product and it's not clonable anymore.
So, this one is related to the product.

Looks like a AWS S3 issue as the logs say:
[AWS S3 404 0.089393 0 retries] head_object(:bucket_name=>"ofn-prod",:key=>"home/openfoodnetwork/apps/openfoodnetwo

[2018-10-26 13:44] luisramos0 commented on #2925
ok, I had a look and it's not straight forward.
Here's what I have seen:
the request to save the data is apparently successful on the server but the page sees a 502 (not 500 as you are seeing). 502 is probably related to some timeout.
Here are the logs for reference. I'll leave it for now.
[code]

[2018-10-26 13:52] LonghornRach commented on #2745
I will definitely keep at this!

[2018-10-26 20:39] luisramos0 opened #2937 "[Spree Upgrade] [Broken Test] Fix action orders.show, gone in spree 2"
Orders show is gone in Spree 2 since:
https://github.com/spree/spree/commit/4e54ceda35397fe81399c8ca4e951e123d1a63f3

All occurrences of admin_order_path will fail. Maybe they need to be fixed, or we just redirect to edit.

the two only remaining occurrences are:
- order_serializer.show_path - we need to investigate if we can remove order_serializer method show_path.  Where is it really used? Othe

[2018-10-26 21:00] luisramos0 opened #2938 "[Spree Upgrade][Admin/Orders/Create] Fix Create Order in Admin - line items blank (1 broken test)"
Fix the line_items blank error in order creation:

[code]

[2018-10-26 21:04] luisramos0 opened #2939 "[Spree Upgrade][Broken Test][Admin/Orders/List] Fix the Edit Orders button test problem"
Fix this spec:

[code]

This is the source of the problem:

[code]

The click is successful but click_result['status'] is not present and so it tries to click again and fails with the error above.
The quick fix is to comment out the unless statement in this method above.

We have two options:
- replace status == success with something that works in spree 2 (why did it stop working?)
- Remove this

[2018-10-26 21:06] luisramos0 commented on #2939
@mkllnk I think you are the last committer on this method, you may have some idea how to get around this or what to do with this :-)

[2018-10-26 21:09] luisramos0 opened #2940 "[Spree Upgrade] Included vs not included Adjustments in the edit order page (1 broken test)"
There are no adjustments showing up on the edit order page in the following spec.
And we need to clarify what are order charges and what are price adjustments and how they map to the data model of order.adjustments.

[code]

and

[code]

The problem will probably be in the order factory used. Some detail must be missing, probably how payment or shipment is setup in the factory order_with_taxes tha

[2018-10-26 21:22] luisramos0 opened #2941 "[Spree Upgrade][Admin/Orders/Edit] Fix Actions menu on order edit page (1 broken test)"
Actions dropdown on orders edit page are not showing up.

[code]

[2018-10-26 21:33] luisramos0 opened #2942 "[Spree Upgrade][Broken Test] Model - Fix Enterprise spec"
Some kind of "delete cascade" not working properly on enterprise_spec, it should delete products but instead it's failing with a constraint error:

[code]

[2018-10-26 21:37] luisramos0 opened #2943 "[Spree Upgrade][Models] Fix line Item spec (4 broken tests)"
Quite a few different errors in spec/models/spree/line_item_spec.rb
Most of the broken tests in line item spec are related to variant overrides and scoping. First we need to take care of #2559

PR #3132 fixed one of the originally 11 broken tests (spec/models/spree/line_item_spec.rb:96).

The remaining 10 broken tests are:

[code]

[2018-10-27 06:28] myriamboure commented on #2756
@pacodelaluna I think you are the AWS S3 account and key manager if I'm not wrong, can you have a look? Or maybe @Matt-Yorkley has access? Thank you so much @luisramos0 !

[2018-10-27 08:14] pacodelaluna commented on #2756
All Sys Admin have access to the configuration for Ansible deployment, the secrets.yml file is in the folder of the ofn-admin user.
The keys are properly set as you won't see any images otherwise, and won't be able to upload any content.

[2018-10-27 08:16] pacodelaluna commented on #2756
I am not saying that there is not an issue related to S3, but maybe it is something between configuration and code.

[2018-10-27 11:50] pacodelaluna commented on #2756
@luisramos0 I have succeeded in reproducing the error, I couldn't go deeper but it seems to be related to the ProductDuplicator lib.
My guess is that this lib is loosing the context bringing S3 Configuration. I guess it is something low level, so it could be related to Spree Upgrade, not sure, but I would investigate this side. Or maybe the S3 config is not set up somewhere but I couldn't find whe

[2018-10-27 14:50] luisramos0 commented on #2756
ah, it's so important to try to replicate issues in "lower" environments. I just realized I can replicate this locally. It's as simple as products with images are not clonable.
I dont see how it can be related to spree upgrade.
Some problem related to this:
https://github.com/openfoodfoundation/spree/blob/step-6a/core/lib/spree/core/product_duplicator.rb#L47

[2018-10-27 21:28] luisramos0 opened #2944 "Taxonomies - Sorting entries in a taxonomy is broken"
## Description
In taxonomies, if you edit a taxonomy and try to sort the entries ((they are called taxons internally)) with drag and drop, apparently the actions work but if you refresh the page, the order of the entries goes back to what it was before the change.

## Expected Behavior
The order set with drag and drop actions should remain.

## Actual Behavior
It's not possible to change the order

[2018-10-27 21:35] luisramos0 opened #2945 "Product Categories - Sort product categories alphabetically (it's much better than random order!)"
## Description

Taxonomy entries are not sortable (see #2944). Meanwhile we could easily sort the taxonomies in the product category select box alphabetically. That is much better than random order we have right now.

## Expected Behavior
In the Product edit page, the select box for Product Category always shows the list of categories sorted alphabetically.

## Actual Behavior
Currently I believe

[2018-10-28 21:55] daniellemoorhead commented on #2745
Hey @LonghornRach we are very happy to have you here! No such thing as a stupid question 😄

Our codebase is going through a bit of a transformation, lots of removing legacy code and upgrading dependencies, and just making it a whole lot better to work with. So it's not you, it's us 😆

Stick around, get a feel, join slack, ask questions whenever you need to. You're very welcome!

[2018-10-28 21:58] daniellemoorhead commented on #2841
Ok, seems I got mixed up on my S2s...oops!

So @Matt-Yorkley @mkllnk @HugsDaniel will one/more of you pick up this S2 and get it sorted?

[2018-10-29 00:14] mkllnk commented on #2841
I haven't looked at the data yet, but I have an idea of what could be going on. Let's get the terminology first:

- *Guest*: A guest user is somebody who doesn't have a user account. They never registered, never entered a password or are just not logged in. This is different to somebody who signed up, but is not confirmed yet.
- *Registered user*: They submitted the form to register a user account

[2018-10-29 01:53] kirstenalarsen commented on #2756
There was a pr (can't find it now) not too long ago from @kristinalim that enabled removing product images. That is the only thing I can think of that has changed recently in relation to product images that might have introduced the problem. Kristina could you point to where that is so @luisramos0 and @pacodelaluna can check?

[2018-10-29 02:59] mkllnk commented on #2841
I looked at the French data and can confirm that the subscription is associated to a guest customer. There are many different ways how we can fix it. Here are some thoughts.

### Create a new customer record with the registered user

The admin interface doesn't let you create two customer records with the same email address. Since we have a guest customer already, we can't create another customer

[2018-10-29 04:40] kirstenalarsen commented on #2841
might also be useful to visit the discussion [here](https://community.openfoodnetwork.org/t/subscriptions-improvements/1349/8) where this potential issue was identified I think, and there was some discussion about pros/cons of different ways to deal with it. Might be unrelated, if so ignore me :)

[2018-10-29 04:44] mkllnk commented on #2841
### The problem

I think I understand now what's happening.

- Perrine orders from a shop as a guest. A customer record is created.
- The shop manager creates subscription with the current customer record. This record is a guest record.
- 4 subscription orders are successful. Everything works.
- Perrine signs up for a user account and confirms their email address. The customer record is not update

[2018-10-29 05:34] mkllnk commented on #2939
The error message says that there are two edit buttons. We have to check the screen to see if they are both the same. If they are the same, we can decide if we want to get rid of one. If they are not the same, we need a way to distinguish between them to click the right one.

That method is just to get around an intermittent click fail, possibly a browser bug. Maybe we don't need it anymore. But m

[2018-10-29 08:36] myriamboure opened #2951 "Product import not working on French instance with simple file"
## Description

A new user has some excel files to populate to create their catalog in OFN. I did try to do the first import for them, and it is not working, and no error displays.

## Expected Behavior

I can upload a list of product with product import feature.

## Actual Behavior

I can't.

## Steps to Reproduce

1. On french instance, go to https://www.openfoodfrance.org/admin/product_import
2

[2018-10-29 10:45] myriamboure commented on #2841
Thank you @mkllnk for the investigation, I think the porblem might be related to https://github.com/openfoodfoundation/openfoodnetwork/issues/2338. We were supposed in this solution to be able to have two records with the same email in a given shop, but apparently it has not been implemented as expected.
One question though:

If I have a subscription running with the guest account and a second rec

[2018-10-29 11:02] myriamboure commented on #2841
Ok the impact of this bug is worse that I thought:
- a hub manager adds a list of email in the customer list because they want to setup subscriptions for them. When you add a customer in the list, no validation email is sent, nothing. So if I setup a subscription straight away, and an order is made automatically, the record will be a guest record.
- then the user wants to shop, he has to login to

[2018-10-29 11:14] myriamboure commented on #2841
Trying to list options to solve that annoying bug:
1- We need guest records to be associated with registered user when it is created, so the subs is "transferred" to the registered account and reconciliation happens correctly.
_This would be the smoother solution, best UX, would avoid confusion. But there is still a risk that some guest orders are made with error emails, and have data discrepancy.

[2018-10-29 12:33] luisramos0 commented on #2416
I dont think we need to follow spree. We need our solution for this problem. And I believe that should be done in master so when you move to the upgrade branch it will not fail because it's not dependent on spree. I'd start simply by cleaning up what's in master and make it independent from  spree.

[2018-10-29 12:34] luisramos0 commented on #2416
I believe a good start would be to do the two things I mention above [here](https://github.com/openfoodfoundation/openfoodnetwork/issues/2416#issuecomment-433372071)

[2018-10-29 12:36] luisramos0 commented on #2416
Also, do you see that in master we are not using the spree version, there's a version of it in ofn, correct?

[2018-10-29 12:58] HugsDaniel commented on #2416
The one we use in ofn is a slightly patched "angulared" version of the Spree version. I agree it would be a lot easier to start with master, since it has been modified a lot in 2.0.

[2018-10-29 23:18] #2933 closed

[2018-10-29 23:35] mkllnk opened #2952 "Max quantity for bulk buy implementation is too complicated"
## Description

Reviewing https://github.com/openfoodfoundation/openfoodnetwork/pull/2880#discussion_r227219557 I noticed that our bulk buy implementation is overly complicated and confusing. The idea of bulk buy is that the shop orders in bulk, which is cheaper. For example 50 kg bags of potatoes have better value (per kg) than 5 kg bags. The big bag gets split up for customers, depending how muc

[2018-10-29 23:59] pfac commented on #2943
@luisramos0 can you provide more information on this issue?

Just ran `bundle exec rspec spec/models/spree/line_item_spec.rb`, got no errors, just some deprecation warnings:

[code]

[2018-10-30 00:50] mkllnk commented on #2841
### Duplicate records

The pull request solving #2338 only added the label to guest customer records. It didn't change any logic. The description says that there were duplicate customer entries, but I don't know how that could happen. The uniqueness constraint was added in 2015 ed941e211d771526c06cd1e50878311c25c83978.

Yes, that is how I imagined it would work.

### On email address re-use

Most

[2018-10-30 00:58] luisramos0 commented on #2943
sure, there's some high level context missing :-)

Spree is the main dependency of OFN: https://github.com/spree/spree
OFN has it's own spree fork but not too far from spree itself:
https://github.com/openfoodfoundation/spree
Currently ofn master depends on spree step-6a here which is spree 1.x:
https://github.com/openfoodfoundation/spree/tree/step-6a

All issues with [Spree Upgrade] are related t

[2018-10-30 01:01] luisramos0 commented on #2944
I think this is a good first issue if you have experience with the tech stack but are new to OFN.

[2018-10-30 01:05] luisramos0 commented on #2943
I am not sure I was clear but this is a tricky place to start. I'd start with something easier and then move into more challenging things.
Isolated issues are the best place to start, if you have experience with the tech stack, I have just flagged this issue as an interesting challenge, for example: https://github.com/openfoodfoundation/openfoodnetwork/issues/2944

[2018-10-30 03:29] mkllnk commented on #2841
- We lose a few shoppers who want to try it out and don't want to create yet another account.
- When creating orders for a new user from the admin interface, we always need to create a user account first.

- We need to create user accounts for people.

Any other implications @sstead?

[2018-10-30 04:11] #2481 closed

[2018-10-30 09:34] luisramos0 opened #2953 "[Spree Upgrade][Phase 2] Fix non-core features"
Non core features have been commented out in the build and will need to be fixed when the core functionality is ready to go.
These features are:
- reports
- subscriptions
- product import
- bulk invoices
- account invoices
- paypal integration

[2018-10-30 09:37] luisramos0 opened #2954 "[Spree Upgrade] Fix Subscriptions (17 broken specs)"
This epic represents all work required to fix subscriptions in ofn 2.

[2018-10-30 11:21] HugsDaniel opened #2956 "[Defacepocalypse] Convert Spree orders#edit views to OFN views"
## Description

Convert heavily defaced Spree orders#edit views to OFN views as a prep work for #2416.

## Expected Behavior

Views for orders#edit should be in OFN's codebase.

[2018-10-30 12:44] luisramos0 commented on #1716
@kristinalim could you have a look at this one please?
I dont think I understand this commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/01d4b8fb1037facf0cc0f0c3d245a3cd34241422

Is your commit above needed or can we still drop the override as initially suggested?

[2018-10-30 12:47] luisramos0 commented on #1716
@kristinalim please ignore, I just realized this can only be done after the specific commit is in our spree version and this commit is _not_ in our spree 2-0-4. This can only be done after the spree upgrade.

[2018-10-30 12:54] luisramos0 commented on #2225
Looks like no conclusion has been achieved here yet.

I have moved this to spree's upgrade non-core epic. In terms of spree upgrade, there will be an issue "fix paypal integration" that can be the result of this spike.

I think there are two different topic here:
1 - make what we have work with spree 2-0-4
2 - the future of this dependency
I think we should clearly separate these two things.

[2018-10-30 16:13] myriamboure commented on #2841
### Change guest account to registered account

Can't we just do that? Associate the new user to the guest user, BUT not associate the guest orders with it, like move the association of guest orders to some form of general guest user, like a trash user ;-) I say that because I guess an order needs to be associated to a user.

As a hub I could invite customers, and create subs even on guest custome

[2018-10-30 16:32] #2862 closed

[2018-10-30 16:34] #2905 closed

[2018-10-30 16:46] #2491 closed

[2018-10-30 18:00] #2907 closed

[2018-10-30 18:05] luisramos0 commented on #2017
I am closing this spike. This is done. The approach is exactly what Rob suggests above:
"use a single 'default' StockLocation for the entire platform, and have one StockItem for each variant. This should allow us to migrate across with minimal additional work, though some customisation/adapter logic may be required."

[2018-10-30 18:05] #2017 closed

[2018-10-30 21:58] myriamboure commented on #2428
It is great @RachL awesome ! I have just changed the first sentence to explain a bit why we chose Matomo. Else I didn't change anything, it's perfect for me ! Let's close that issue then and consider this feature as fulllly done ! :smiley:

[2018-10-30 21:58] #2428 closed

[2018-10-30 22:24] pacodelaluna commented on #2756
@kirstenalarsen @kristinalim I would be glad to check this out, couldn't find the PR by myself, can you show me that?

[2018-10-30 22:32] myriamboure commented on #2756
@pacodelaluna I think what @kirstenalarsen was thinking about is https://github.com/openfoodfoundation/openfoodnetwork/pull/2512 but it's not about product images, it's about promo and banner images... am I right Kirsten? Then not sure we have more clue that what we have above, but if you would like to work on it @pacodelaluna you are more than welcome ! I see @HugsDaniel is assigned as he was sup

[2018-10-30 22:40] myriamboure commented on #2242
This is done and working without any reported issue :-) Closing the epic !

[2018-10-30 22:40] #2242 closed

[2018-10-30 22:46] myriamboure commented on #2454
@sstead @RachL now that the template issue have been merged and the release should happen in the next hours, we should (Sally you probably already have) the latest version of the templates so we can update the user guide. The last bit which is to make the product import button visible is in code review, so let's get prepared ! There are still 2 bugs in the dev ready column of the board project, fo

[2018-10-30 22:52] myriamboure commented on #2836
Can you check this remaining issue in product import project @Matt-Yorkley ? The solution proposed by Maikel seems pretty straightforward and might avoid user support issues in lots of countries... if that could be solved before official release event better, but probably won't prevent the release.

[2018-10-30 23:57] kirstenalarsen commented on #2952
A note that I would expect this to be completely redone when we implement the new network structure as the bulk buy variant will become the base of other combination / split variants. So definitely the way it is done now can be done away with. Could this be a case of a good first implementation of new network structure (alongside the customer prices)? We need to keep this functionality as we have

[2018-10-31 00:10] luisramos0 commented on #2952
This is not required for the spree upgrade.
anyway, I am looking forward getting into "the network" story :-D

[2018-10-31 01:34] sstead opened #2960 "Users inventory levels changed for unknown reason"
## Description
An Australian user reported that their Inventory levels (set on /inventory) changed without them doing anything on Oct 30th evening. The user checked the levels before opening the shop, and then found some time later that the numbers had changed to incorrect numbers. Thus it's unlikely to be caused by user error. The user is not using upload tool.

The user reported the on hand valu

[2018-10-31 02:41] kirstenalarsen commented on #2960
@luisramos0 @mkllnk @myriamboure does this seem connected to the other discussions?

[2018-10-31 07:09] sauloperez commented on #2891
That's an interesting idea. Theoretically, this would remove a great barrier of entry to new Ruby contributors. There's no need to be fully aware of OFN's and Spree's data model but of Rails/Ruby changes and I assume that's a potentially bigger set of devs.

To my understadning

It shouldn't require any action as Ruby upgrades are backward compatible although I don't know off the top of my head wh

[2018-10-31 09:06] sauloperez opened #2962 "[Flaky Spec] Fix unreliable bulk_order_management_spec.rb feature spec"
## Description

I found this error while passing CI on https://github.com/openfoodfoundation/openfoodnetwork/pull/2958. You can check the CI build on https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-2958/builds/2

It's totally unrelated to that PR's change so it's likely an unreliable test that needs to be fixed.

[code]

## Expected Behavior

This test should alw

[2018-10-31 09:08] sauloperez commented on #2962
Would you agree on considering this a bug? it's a part of our codebase that is misfunctioning, aka. bug. We got to do something with the unreliability of our test suite...

[2018-10-31 09:14] myriamboure commented on #2960
I don't understand @sstead it seems there are multiple enterprises involved here, to understand the issue we need the whole picture I think. If I look at the permission I see that Terrewah farm not only sells her products but also the products of Minimbah farm.
Terrewah farm has in her inventory: her own products, from Terrewah farm, and Minimbah products.

Question:
- did the stock variation happ

[2018-10-31 09:40] luisramos0 commented on #2962
I dont think it's a bug. It's high priority tech debt.
A bug is pushed by users/biz. This is something we devs really want to fix now but may not have time = tech debt.

[2018-10-31 09:57] luisramos0 commented on #2960
Well done @myriamboure I think that's the problem.

Looks like there is a bug in 2893 related to users managing their own stock in inventory.

It's not strange conflict. As 2893 is deployed, permission to own inventory items is revoked and user starts to see her variant levels of stock and not the inventory levels. This explains the randomness.

The migration we have on 2893 is revoking inventory

[2018-10-31 10:09] luisramos0 commented on #2960
There are revoked inventory items in the DB for this farm. And those revoked entries are owned by the user herself.

This is the list of hubs affected in AUS.
[code]

We should revert 2893: new problems occur everytime a hub that manages own inventory assigns permissions (I assume it's not a big percentage of users, in AUS live db I see ~700 inventory items of this type).
To fix the data now we sh

[2018-10-31 10:18] luisramos0 commented on #2960
actually, I am changing my mind, we need the quick fix and we need to fix the migration BUT we dont need to revert. I will explain in a few minutes.

[2018-10-31 10:23] HugsDaniel commented on #2756
I have a access to the server now so I can move forward @myriamboure :)

[2018-10-31 10:44] HugsDaniel commented on #2756
There was a PR on Spree to add configs for removing the duplication of images when cloning a product : https://github.com/spree/spree/pull/4711/files

It hasn't been merged though. Should we implementthe kind of behavior in step-6a a a temporary fix ?

[2018-10-31 10:46] luisramos0 commented on #2960
So, we don't need to fix the code because only the migration will revoke inventory items when  override.hub_id = product.supplier_id

The code will only revoke permissions that are part of the permission being created or deleted.

Actually there is a problem in the code but it's a edge case I think we can ignore. It's when a permission to manage own inventory is added and then removed (it's a edge

[2018-10-31 11:05] HugsDaniel commented on #2756
Adding something like
[code]
And then if our config files have :
[code]

[2018-10-31 11:09] Matt-Yorkley commented on #2962
Looks like there's an order without an order number, which is not possible. Could be another classic angular issue with the check happening before the data has fully finished loading. Is it failing consistently or occasionally?

[2018-10-31 11:32] luisramos0 commented on #2960
Just to be clear: after this PR the user will be back at seeing previous stock levels that do not take into account sales that happened between the release yesterday and when the this PR is deployed.

[2018-10-31 11:48] luisramos0 commented on #2756
The PR in spree you mention is a new feature we dont need (optional image cloning). I'd not do it.
We need to fix the current feature (cloning the image) which is not working. Maybe this spree PR will help us understand why the current feature is broken?

[2018-10-31 11:50] luisramos0 commented on #2962
oh, I jus saw the column in zenhub "tech debt backlog" awesome. devs need to find a spacetime to prioritize this. thanks @myriamboure

[2018-10-31 12:02] myriamboure commented on #2960
Oups, @sstead I guess taking some snapshot of the inventory levels and checking just after is merged and fixing might avoid stress for the customer :-) I would do that I think personally... :see_no_evil:

[2018-10-31 12:06] HugsDaniel commented on #2756
I get an `NameError: uninitialized constant Image` from `original_product.duplicate` in `products_controller_decorator#clone`. It's definitely coming from ``products_controller_decorator.rb:47`.

In Spree, `core/lib/spree/core/product_duplicator.rb:40` returns `[nil]`, which seems to indicate that the `duplicate_image` method is the same file doesn't work properly.

I ran the tests for product_dup

[2018-10-31 12:16] HugsDaniel commented on #2756
The last lines from the backtrace, does it mean it's an active_support issue ?
![screenshot from 2018-10-31 13-16-03](https://user-images.githubusercontent.com/28786869/47787424-29c7ad80-dd0f-11e8-9829-25a37af9698d.png)

[2018-10-31 12:40] Matt-Yorkley commented on #2836
Sure, I'll see if I can add an encoding check during the file upload.

[2018-10-31 14:31] HugsDaniel commented on #2756
It seems that when duplicating the product with "dup", the class given to the product is simply "Image" and not "Spree::Image", so when saving it fails with a "uninitialized constant Image".

By adding
[code]
in `variant_decorator.rb`, the class name is ok but I have another error.

When active_record is saving the image as an attribute of the new object, the value given to the method is nil. That

[2018-10-31 22:30] daniellemoorhead commented on #2962
Managing tech debt be like

![](https://media.giphy.com/media/sXOj0wtpyELdu/giphy.gif)

😆

[2018-10-31 22:42] kirstenalarsen commented on #2962
oh my god. this should also be in our communications somewhere! "Want to know why that bug isn't fixed yet? see below"

[2018-11-01 00:21] myriamboure commented on #1052
I think it should be separate and not included in standing order, but I can see the need and it definitely deserve a deeper thinking and UX reflexion a bit broader than just "make it easier to duplicate an OC"... so yes @kirstenalarsen open a wishlist and let's start to understand the need, and start some refined inception and see if we can prioritize sooner rather than later in the tons of things

[2018-11-01 00:41] #2960 closed

[2018-11-01 04:30] mkllnk commented on #2841
Option 1b sounds good to me. I'm not sure yet what exactly that means on the data level. We may copy the customer record or disconnect the old orders. It may even be good to never associate anonymous guest orders to a customer record. If the shop wants to see all orders of one email address, they can use the filter. Do they need a customer record?

[2018-11-01 05:31] mkllnk commented on #2891
Quick scan into the guide.

* Update from put to patch. We have some uses:
[code]

* We use the assets group in the Gemfile.
* `vendor/plugins` is unused and can be removed.
* lots of ActiveRecord stuff needs updating, for example scopes syntax and find_by_* methods.
* ...

A lot of things can't be done in Rails 3.2, but as @sauloperez mentioned, some of the ActiveRecord stuff can already be done.

[2018-11-02 04:02] mkllnk commented on #1539
SQL to get all sales per distributor in one month:
[code]
Disclaimer: the date here is UTC and therefore a little bit off for Australia, but if we do that consistently, we get good statistics.

[2018-11-02 05:32] sstead opened #2965 "The checkbox and delete function, and trash button in BOM doesn't work"
## Description
There's checkboxed in the BOM page. You should be able to select products and then use the action>delete selected function to delete those lines from orders. Instead when I click delete I'm asked 'are you sure', i click yes, then the items disappear from the list. But if i reload the page the items return, and the items also remain on the order.

The trash icon itself has the same b

[2018-11-02 05:54] sstead opened #2966 "Duplicates show in Orders list"
## Description
Sometimes I see duplicate errors in the Orders list..

This error has been reported by a users of ours too

## Steps to Reproduce
Here is a video showing the steps which lead up to the error …
https://www.useloom.com/share/35983a9e90b84c13b7ae1a79315066ad

## Context
Just confusing

## Severity
s4

## Your Environment
PC, Aus rpoduction, chrome

[2018-11-02 05:57] #2911 closed

[2018-11-02 11:29] sigmundpetersen commented on #815
I guess this is obsolete @Matt-Yorkley . At least move to `ofn-install` if discussion on server topology is to be kept open

[2018-11-02 11:39] sigmundpetersen commented on #980
Close @lin-d-hop @Matt-Yorkley ?

[2018-11-02 11:45] Matt-Yorkley commented on #815
Yep, this issue is old and obsolete. Closed!

[2018-11-02 11:45] #815 closed

[2018-11-02 14:11] sauloperez commented on #2857
https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v1.22.0 is now live so we should be able check this @myriamboure once it is deployed to FR.

[2018-11-02 15:58] myriamboure commented on #2965
@sstead I invite you to judge if that s3 is somehow prioritory compared to others and place in the "bug backlog" column compared to the other S3 bugs regarding the level of priority you perceive... let's start some collaborative priorization work on this bug  backlog :-) Cheers!

[2018-11-02 16:05] myriamboure commented on #1539
This issue is pretty high in the bug backlog column @sstead I do share your pain, I'm having it since months but found some ways by creating a user and adding it as a manager of the company I need to support, to see only few data, then removing the manager... I know it's not long term, but there are some bugs before this one IMO, check the bug backlog and see if you agree, else propose some rearra

[2018-11-05 02:01] kirstenalarsen commented on #1539
Yes I agree @myriamboure - this is a prime case for getting the ball rolling on investigation and inception. I think following the conversation last week re. solid and blox etc this is a really good opportunity to look at all the options and consider what the actual best path is going to be for 'next generation' reporting solution :) I am not going to put my hand up to start the ball rolling as I

[2018-11-05 07:51] #2885 closed

[2018-11-05 07:52] #2803 closed

[2018-11-05 11:13] #2897 closed

[2018-11-05 12:39] Matt-Yorkley commented on #2939
I've made a PR and it looks like it gets past that error, and moves onto a new error in the next line... :tada:

[2018-11-05 13:11] sauloperez opened #2971 "[Spree Upgrade] Soft-delete enterprisess"
## Description

Spree 2.0 made products soft-deletable in https://github.com/spree/spree/commit/3a9bbab32855e94484ae522b7f002867e1a5915b. That means that destroys now become updates. This is why the test below fails in `2-0-stable`

https://github.com/openfoodfoundation/openfoodnetwork/blob/50a06d1bd9a88b35381b41e95a90a266a3640264/spec/models/enterprise_spec.rb#L36-L43

Now the product doesn't get

[2018-11-05 17:03] Matt-Yorkley commented on #2942
We've figured this one out now, it's the paranoia gem interrupting the real deletion of the product whilst deleting the enterprise.

[2018-11-05 18:38] #2939 closed

[2018-11-05 19:05] RachL commented on #2857
with 1.22 all translation are back to normal :) So I'm closing this one!

[2018-11-05 19:05] #2857 closed

[2018-11-05 22:22] Matt-Yorkley commented on #2937
We've discussed previously the idea that orders will become non-editable at some point in the delivery process... so I think reimplementing Orders#show is the way to go.

[2018-11-05 23:45] kirstenalarsen commented on #2971
could we check this with @myriamboure - is it going to mean that we get closer or further from requirements to handle deleting things? And if Paranoia makes soft deletes easier, will that mean we can actually soft delete enterprises - omg please say yes?

[2018-11-06 08:19] sineadfenton commented on #2841
![](https://github.trello.services/images/mini-trello-icon.png) [Guest Account to Normal Account](https://trello.com/c/3n4r4B9D/261-guest-account-to-normal-account)

[2018-11-06 09:33] luisramos0 commented on #2841
@sineadfenton these trello links are not public.

[2018-11-06 09:34] sineadfenton commented on #2841
public now - we use this just in the UK but hopefully you can see and interact with it now

[2018-11-06 11:54] Matt-Yorkley commented on #2971
It shouldn't really affect requirements for deleting data, and yes it will mean we soft-delete enterprises.

[2018-11-06 13:09] Matt-Yorkley opened #2979 "Product master variant price"
## Description

When a new product is created the price gets set on the master variant. If a product is edited later, there is a field for price on the edit product screen, but it does not update the prices in the frontend, as they are taken from the price on the variants, not the master price on the product.

## Expected Behavior

Fields in product edit page should work

## Actual Behavior

The p

[2018-11-06 13:46] Matt-Yorkley commented on #2836
I've investigated this issue a bit, but it's a tricky one to work with. It seems to revolve around the fact that Microsoft Excel doesn't always use UTF-8, but often defaults to obscure Windows character sets.

It also seems like there is no simple way to find out the character encoding for a given file?

[2018-11-06 13:51] Matt-Yorkley commented on #2836
@kirstenalarsen can you send me a copy of a CSV with the wrong encoding in Slack? I can't even make a broken one to test with.

[2018-11-06 15:50] Matt-Yorkley commented on #2951
I think this is the same issue as #2836. Files have to be saved with UTF-8 encoding, but Excel sometimes defaults to other encodings. See my comment here: https://github.com/openfoodfoundation/openfoodnetwork/issues/2836#issuecomment-436257578

[2018-11-06 16:35] sauloperez opened #2982 "[Spree Upgrade] Fix accessing new product"
## Description

When clicking on `+ NEW PRODUCT`, a 500 error is returned with the following error:

[code]

## Expected Behavior

Clicking this button should show the order creation page.

## Actual Behavior

The 500 error decribed above gets raised and nothing happens on the page.

## Possible Fix

According to the comment present on `app/views/spree/admin/products/new.js.erb`

[code]

but it tu

[2018-11-06 16:43] sauloperez commented on #2982
I'm trying to understand and maybe fix this in order to try out the solution I came up with https://github.com/openfoodfoundation/openfoodnetwork/issues/2870

[2018-11-06 19:22] #2937 closed

[2018-11-07 00:37] myriamboure commented on #2130
It seems Canada is having the same issue as France, categories icons are not showing on the shopfronts or search. Can someone add them on the French and Canadian servers as explained in #1312 ? @pacodelaluna ? Anyone ? If it's like 15 min and solve a problem for 2 instances it would worth it :muscle:

[2018-11-07 00:46] myriamboure commented on #2841
@mkllnk you probably need other devs answer on this, but my 2 cts is that it is fine if guest orders don't have a customer record, like are linked to no customer. @Matt-Yorkley @sauloperez @luisramos0 do you agree ? It would be good to move forward then as I see UK linked another case, and we have users just waiting for this to be solved to use again subscription, they are just blocked.

[2018-11-07 00:58] myriamboure opened #2983 "[Test] Add GPS coordinates to locate an enterprise on the map when Google address is not showing"
## Link to discovery

https://community.openfoodnetwork.org/t/producers-address-dont-exist-on-address-base-and-cant-appear-on-the-map/1448/8

## Description of the selected feature candidates

We decide adding fields to enable an enterprise to fill in GPS coordinates would be the easiest fix with higher value to enable users to locate precisely their enterprise, even if Google doesn't recognize it

[2018-11-07 01:30] myriamboure commented on #2951
Unfortunately it's not that @Matt-Yorkley I'll show you tomorrow :-( And no error message is displayed...

[2018-11-07 14:23] HugsDaniel opened #2985 "[Spree Upgrade] Fix API::ProductImagesController failing specs"
## Description

In `spec/controllers/api/product_images_controller_spec.rb`, specs are failing with 422.

This comes from a check in v2 `core/lib/spree/core/controller_helpers/auth.rb` :
[code]
which generates a `spree_api_key` for users going through the API with no key.

This fails with `undefined method 'generate_spree_api_key!' for Spree::LegacyUser.

## Expected Behavior

The specs pass with

[2018-11-07 16:56] HugsDaniel opened #2987 "[Spree Upgrade][BackOffice] Fix deleting enterprise fee behaviour (1 broken test)"
## Description

In `spec/features/admin/enterprise_fees_spec.rb:122`, when deleting an enterprise fee that is referenced by a product, a banner should show up and the deletion should fail.

In browser, we can see that it's not the case : the enterprise fee disappears with no banner, and when reloading the page it's still here.

This is the last failing spec of Job#1 o/

## Expected Behavior

`spec

[2018-11-07 19:06] HugsDaniel opened #2989 "Investigate spree_auth_devise & upgrade it"
## Description

Following what has been found in #2986 and #2985 , we should investigate our fork of spree_auth_devise and move forward to the 2-0-stable version.

Highlighted points to be investigated so far :
- [ ] User vs LegacyUser

[2018-11-08 01:48] kirstenalarsen commented on #2485
See #2830 for additional information. Please apply this behaviour to both desktop and mobile

[2018-11-08 09:40] #2985 closed

[2018-11-08 10:42] Matt-Yorkley opened #2995 "Instance Manager Snails"
## Description

As an instance manager when trying to edit things like Taxonomies, there are cases where for example you can try to delete a Taxonomy, but it is currently applied to existing products so it cannot be deleted. Similarly when trying to manage States if you try to delete one that is in use by an enterprise, it cannot be deleted.

The problem is that instead of getting useful user feed

[2018-11-08 11:30] HugsDaniel opened #2999 "[Spree Upgrade][FrontOffice] Fix checkout feature specs (2 broken tests)"
## Description

Several specs are failing in `spec/features/consumer/shopping/checkout_spec.rb`, we have to fix them.
This is a first placeholder for these specs, I may open several issues later on.

## Expected Behavior

Specs should pass.

## Actual Behavior

Specs fail.

[2018-11-08 11:45] Matt-Yorkley commented on #2989
We discussed that our fork of spree_auth_devise needs to be investigated at some point, but that it's not a priority for the upgrade unless it needs fixing.

[2018-11-08 12:16] HugsDaniel opened #3000 "[Spree Upgrade] Enterprise Fees - use json API endpoint"
## Description

As discussed with #2994, we should switch to an API endpoint for this action (delete enterprise fee).

Also we should get rid of the `before_fitler`s in `enterprise_fees_controller.rb`.

[2018-11-08 12:18] sigmundpetersen commented on #3000
Issue 3000 🎉

[2018-11-08 12:22] myriamboure commented on #2983
Test on process done closing this test issue, don't pay attention.

[2018-11-08 12:22] #2983 closed

[2018-11-08 14:57] lin-d-hop commented on #2915
It would be great if this was not made available for all users unless super admin allows.
UK have incorporated this into our pricing model and if users can turn on without paying it would not be ideal for us.

[2018-11-08 16:53] myriamboure opened #3001 "[API clean up] Document the OFN API"
## Feature candidate description
https://community.openfoodnetwork.org/t/document-our-api/1498

## T-shirt size estimate
@luisramos0 said he would need 5 days, like 30 hours. @Matt-Yorkley @sauloperez @HugsDaniel and Luis agreed on T-shirt sizing "L".

## Definition of done / Acceptance criteria
Product team / support people are able to answer requests from users who want to have access to the OFN

[2018-11-08 21:32] mkllnk opened #3005 "NoMethodError in spree/paypal#confirm"
## Description

**NoMethodError** in **spree/paypal#confirm**
undefined method `payments' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5be3fabc328b2200198f83dc?event_id=5be3faf400309c73b3e80000&i=gh&m=ci)

## Stacktrace

    app/controllers/spree/paypal_controller_decorator.rb:41 - destroy_orphaned_paypal_payments

[View full stacktrace](https://app.bu

[2018-11-09 06:40] sstead commented on #2454
Hey, I've had another go at updating the user guide today. I'm only up to product import/update. Will hopefully get a chance to do Inventory next week. Also where should I put observations regarding things that could be fixed/improved as I test and write the guide?

[2018-11-09 08:07] #2870 closed

[2018-11-09 09:46] lin-d-hop commented on #2920
Thanks @luisramos0
The problem was that the product was somehow specified both as a weight and as an item. I updated this product and everything seems to be working.
It seems this is possible when a product is sold as 'Items' but the user enters a weight in the variant edit screen. This is a bug and needs a separate issue and some specification.

[2018-11-09 09:46] #2920 closed

[2018-11-09 09:55] myriamboure commented on #660
@lin-d-hop Your last issue shoudl be attached here https://github.com/openfoodfoundation/openfoodnetwork/issues/2756 and @HugsDaniel is working on it, should be fixed next week :-)

[2018-11-09 10:21] luisramos0 commented on #2920
@lin-d-hop nice, thanks.
do you keep that tasks of creating the issue? do you want me to create the issue?

[2018-11-09 10:35] lin-d-hop commented on #2765
Is there a place where the google console changes are documented @mkllnk?

[2018-11-09 10:53] sigmundpetersen commented on #2765
Maybe here @lin-d-hop https://github.com/openfoodfoundation/ofn-install/wiki/Google-Maps ?

[2018-11-09 14:04] sineadfenton commented on #2979
![](https://github.trello.services/images/mini-trello-icon.png) [Locavore price errors](https://trello.com/c/auV1Zbv7/304-locavore-price-errors)

[2018-11-09 14:10] sineadfenton commented on #2979
We've had a couple of users her have issues with this, Locavore and a new FA Calderdale.

I've tried with Audacious Veg and have attached a video of the issue to add to Matt's details above http://recordit.co/jWXcMH2Xec

[2018-11-09 15:08] lin-d-hop commented on #2979
I think Matt's solution is a good one, to hide this field on the Master product screen.

[2018-11-09 15:44] luisramos0 commented on #3000
I should close #2987  when this one is done.

[2018-11-09 16:04] myriamboure commented on #2979
Yes let's hide that field !!!

[2018-11-09 16:04] lin-d-hop commented on #2920
I've got it on my todo list @luisramos0. Might take me a little while to get to it so let me know if you get to it first :-)

[2018-11-09 16:10] luisramos0 commented on #2882
Hey @mkllnk #2923  has been merged to 2-0-stable. So, it's ready to be fixed on the 2-0 branch.

setup_email is breaking ~50 tests here: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/93

[2018-11-09 21:18] sauloperez commented on #2995
This is exactly what @HugsDaniel is dealing with in the EnterpriseFees API endpoint. The DB fortunately raises a foreign key constraint violation tha isn't rescued causing a 500.

What we could do instead is add `delete: :restrict` in the `has_many` association and then simply deal with the scenario of failed destroy in the controller as we would in a create action, for instance.

[2018-11-12 15:19] sauloperez commented on #2808
I'd like to investigate if we pick the browser's configured locale the firs time. It seems that the `Accept-Language` HTTP serves this purpose. Source: https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/languages

Does it sound good to add it in this epic?

[2018-11-13 00:09] luisramos0 commented on #2804
We need to validate if this method is needed in live code (controllers?). If not needed, the specs should be adapted to set these values on the variant.

[2018-11-13 00:19] luisramos0 commented on #2559
The scoping issue was thoroughly discussed in the recent Porto's gathering.
We need to document how Spree 2 handles stock, basically, as an order is finalized,  stock_item.count_on_hand is updated together with the creation of a stock movement.

Additionally, when a completed order is altered and line_item.update_inventory is executed, order_inventory.verify will unstock/restock if needed also upd

[2018-11-13 00:29] luisramos0 commented on #2689
@sauloperez can we close this one? the new product page is now failing with #2982, right?

[2018-11-13 00:33] luisramos0 commented on #2689
Hmm, actually, I am not sure, how could adding "on_demand=" fix "undefined method `on_demand`" (without equals)?

[2018-11-13 00:36] luisramos0 commented on #2982
Note: "undefined method `backorderable?' for nil:NilClass" means variant.stock_items.first is Nil. Something to do with creating stock items for the new product's master variant?

[2018-11-13 13:32] luisramos0 opened #3015 "[Spree Upgrade][FrontOffice] Fix confirmation email spec (1 broken test)"
Fix error in spec/features/consumer/confirm_invitation_spec.rb:22

[code]

Something related to UserConfirmationsController? I couldn't figure this one out quickly.

[2018-11-13 13:42] luisramos0 opened #3016 "[Spree Upgrade][FrontOffice] Fix restart checkout spec in checkout_controller (1 broken test)"
fix checkout controller restart spec.

First a shipment needs to be set in the order instead of the shipping_method_id, for example:
`order.shipments << shipment_pending`
instead of
`order.update_attribute(:shipping_method_id, shipment_pending.shipping_method_id)`

But afterwards all the assertions need to be verified or adapted.

[code]

[2018-11-13 13:46] luisramos0 commented on #3016
Related to #2683

[2018-11-13 13:50] luisramos0 commented on #2559
Useful related comment: https://github.com/openfoodfoundation/openfoodnetwork/issues/2014#issuecomment-400584367

[2018-11-13 13:53] luisramos0 opened #3017 "[Spree Upgrade][FrontOffice] Fix cart_controller_specs errors related to on_hand numbers (3 broken tests)"
Fix the 3 broken tests in cart_controller_spec.

Probably some detail related to the new variant.on_hand adapter introduced in #2615.

[code]

[2018-11-13 14:08] luisramos0 opened #3018 "[Spree Upgrade][BackOffice] Fix New Product page specs - "undefined method `backorderable?'" in features/admin/products_spec and bulk_product_update_spec (5 broken tests)"
Same error as in #2982 but in the specs.
Variant.stock_item is null in these cases. It can never be null.

[code]

[2018-11-13 14:09] luisramos0 commented on #2982
I have created an issue #3018 to represent the same error in the specs.

[2018-11-13 14:31] HugsDaniel commented on #2756
Okaaaay so I think I got it ! @myriamboure PR coming soon :)

[2018-11-13 15:00] luisramos0 commented on #2805
This report spec was moved to xdescribe as it was broken here: #3019
This issue should remove this xdescribe.

[2018-11-13 15:03] luisramos0 opened #3020 "[Spree Upgrade] Fix order_cycle_management_report pending spec (1 spec broken)"
Fix spec spec/lib/open_food_network/order_cycle_management_report_spec.rb
moved to xdescribe in #3019

Job 3 - 1 x spec/lib/open_food_network/order_cycle_management_report_spec.rb:98
[code]

[2018-11-13 15:04] luisramos0 opened #3021 "[Spree Upgrade] Fix products_and_inventory_report pending spec (1 broken spec)"
Fix spec spec/lib/open_food_network/products_and_inventory_report_spec.rb
moved to xdescribe in #3019

Job 4 - 1 x spec/lib/open_food_network/products_and_inventory_report_spec.rb:105
[code]

this test
[code]

product2.delete is not removing product2's variants from the scope as expected.

[2018-11-13 15:29] luisramos0 opened #3023 "[Spree Upgrade] Fix credit_cards_controller spec (1 broken test)"
Fix app/controllers/spree/credit_cards_controller.rb. The update action should be able to handle a broken month.

[code]

[2018-11-13 16:01] luisramos0 opened #3025 "[Spree Upgrade] Make calculator_decorator.line_items_for work with Stock::Package (1 broken test)"
Similarly to what we did we the weight calculator in #2931, we need to make the calculator_decorator.line_items_for work with Stock::Package.

This will improve the spec spec/requests/checkout/failed_checkout_spec.rb:42.

[2018-11-13 16:11] luisramos0 opened #3027 "[Spree Upgrade][FrontOffice] Fix spec/requests/checkout/failed_checkout_spec.rb (1 broken test)"
Fix spec/requests/checkout/failed_checkout_spec.rb:42
This issue is seen after #3026

[code]

[2018-11-13 16:14] luisramos0 opened #3028 "[Spree Upgrade][FrontOffice] Fix specs that send_confirmation_instructions (4 broken tests)"
[code]
4 broken tests:
spec/features/consumer/account/settings_spec.rb:26
spec/controllers/admin/manager_invitations_controller_spec.rb:34
spec/features/admin/users_spec.rb:38
spec/features/consumer/authentication_spec.rb:9

I am not sure why but these tests don't always fail in the build.

[2018-11-13 16:41] luisramos0 opened #3029 "[Spree Upgrade] Products with count_on_hand = 0 should not be returned by product renderer"
Fix spec/lib/open_food_network/products_renderer_spec.rb:51

Should be related to #2417

[2018-11-13 16:45] luisramos0 opened #3030 "[Spree Upgrade][BackOffice] Product_set (extends model_set) is not creating a product, if it doesn’t exist (1 broken test)"
Fix spec/models/spree/product_set_spec.rb:26
[code]

[2018-11-13 16:46] luisramos0 opened #3031 "[Spree Upgrade][BackOffice] Fix redirection issue in admin products controller (2 broken tests)"
Fix spec/controllers/spree/admin/products_controller_spec.rb

[code]

This should be a simple fix after #2982 is fixed.

[2018-11-13 16:56] luisramos0 opened #3032 "[Spree Upgrade][BackOffice] Fix order_cycle enterprise serializer, handling deleted products (2 broken tests)"
Fix spec/serializers/admin/for_order_cycle/enterprise_serializer_spec.rb

This can be related to product and variant being soft deletable in spree 2.
#2971 is related but not a blocker: it makes enterprises soft deletable as well.

[code]

[2018-11-13 17:13] luisramos0 opened #3033 "[Spree Upgrade][BackOffice] Fix admin payments_controller spec (4 broken tests)"
Fix spec/controllers/spree/admin/payments_controller_spec.rb

[code]

[2018-11-13 18:09] luisramos0 opened #3034 "[Spree Upgrade] Fix spree api products_controller spec (10 broken tests)"
Fix broken specs in spec/controllers/spree/api/products_controller_spec.rb

[code]

[2018-11-13 19:41] luisramos0 opened #3036 "[Spree Upgrade][FrontOffice] Fix orders_controller spec, insuficient stock spec (1 broken test)"
Fix spec/controllers/spree/orders_controller_spec.rb:135

[code]

[2018-11-13 19:42] luisramos0 commented on #3036
This is in the same spec, but different case of both #2864 and #3035

[2018-11-13 21:23] luisramos0 opened #3037 "[Spree Upgrade] Fix order_factory spec (2 broken tests)"
Fix spec/services/order_factory_spec

[code]

PR #3038 fixes the first issue.

The second problem "nil:NilClass" is related to line_item.skip_stock_check. To be investigated.

[2018-11-13 21:42] luisramos0 opened #3039 "[Spree Upgrade] Fix producer_mailer spec (9 broken tests)"
Some basic email sending problem needs to be fixed here.

Example:
[code]

We probably need to fix #2882 first.

[2018-11-13 23:22] #2230 closed, assigned to myriamboure

[2018-11-13 23:36] myriamboure commented on #2756
Yeppppa ! Thanks @HugsDaniel looking forward to testing and merging ;-)

[2018-11-14 01:58] haseleyi opened #3041 "Missing translation in product variant selection upon order creation"
## Description

"Please enter 3 or more characters" alert is not translated:
![missing_translation](https://user-images.githubusercontent.com/18274798/48454557-41764b80-e77d-11e8-9fb9-c391dd53e646.PNG)

## Steps to Reproduce

1. From the back office, create a new order
2. When adding a product, hit the "Select a variant" dropdown

## Severity

S4

## Your Environment

* Version used: v1.22.0

[2018-11-14 02:02] YanhanLyu commented on #2944
Hi, I'm happy to take this issue as my first one!

[2018-11-14 02:08] YanhanLyu commented on #2839
Hi, I'm happy to take this issue!

[2018-11-14 07:16] sigmundpetersen commented on #2944
Go ahead @YanhanLyu !

[2018-11-14 07:19] sigmundpetersen commented on #2839
Yeah I wonder if @kirstenalarsen should confirm on this one, as it is part of an instance specific epic.

[2018-11-14 08:08] daniellemoorhead commented on #2944
Welcome @YanhanLyu 😄
Looking forward to seeing your first PR come through the team for review!

[2018-11-14 10:31] sauloperez commented on #3000
![](https://media.giphy.com/media/Is1O1TWV0LEJi/giphy.gif)

[2018-11-14 11:56] luisramos0 opened #3043 "[Multi language] Emails are being sent on instance default language, not on users selected locale"
## Description
As a Portuguese user of Katuma (Iberian instance of OFN: https://alpha.katuma.org)
I need to receive emails in Portuguese
So that I can interact with the platform successfully

## Expected Behavior
Emails in Portuguese.

## Actual Behavior
Emails in Castellano.

## Steps to Reproduce
Given I go on Katuma and select Portuguese language
When I register as a new user
Then I get an emai

[2018-11-14 11:57] luisramos0 commented on #2808
Yes @sauloperez , I think that's a new issue on this epic. Although it is not a blocking bug, it's more like a feature.

[2018-11-14 12:05] luisramos0 opened #3044 "Convert .sass files to .scss format"
We should use scss only in OFN.
Finish off some left overs from #1386.
Reference:
http://sass-lang.com/documentation/file.SASS_REFERENCE.html#syntax

Offending files:
$ find . | grep sass | egrep -v "vendor|tmp"
app/assets/stylesheets/darkswarm/checkout.css.sass
app/assets/stylesheets/darkswarm/_shop-navigation.css.sass

[2018-11-14 15:41] sauloperez commented on #2689
I'll go first with #2982 and then I'll come back to this one. It might not be an issue anymore after we fix the former.

[2018-11-14 15:42] sauloperez commented on #2982
Let's not forget to check https://github.com/openfoodfoundation/openfoodnetwork/issues/2689 after working on this one.

[2018-11-14 16:28] lin-d-hop opened #3045 "Order Dates are incorrect for some orders in Orders page"
## Description

A number of UK users are reporting that the Order page is not showing the correct order dates for a number of orders. This is causing orders to be completely missed by some users as a number of users use the date functionality to search for orders.

Some orders are displaying with order dates that are before the order cycle has actually opened.

## Expected Behavior

The Order date

[2018-11-14 16:29] lin-d-hop commented on #3045
![](https://github.trello.services/images/mini-trello-icon.png) [Order dates incorrect](https://trello.com/c/XcIJoljf/307-order-dates-incorrect)

[2018-11-14 22:47] luisramos0 commented on #3045
Some db data:
- order R022826854 (the one on the screenshot)
- created at **2018-09-04** 06:55:31.324326
- updated_at 2018-11-13 15:39:36.053588
- completed_at 2018-11-13 15:39:32.229254
- order cycle name "2018 Nov 16 Friday"
- order cycle opens at 2018-11-07 12:00:00
- order cycle closes at 2018-11-13 23:59:00
- order cycle created_at **2018-10-24** 07:49:41.38947
- order cycle updated_at 2018-1

[2018-11-15 08:46] lin-d-hop commented on #3045
I 100% agree that the correct date is **completed_at**. In the Zapier integration work I have done this is the date the accurately reflects when the order was placed. `Updated_a`t and `created_at` lead to confusing results.

Regarding the cart issue, users have long requested that it be possible for a cart to be saved on a session. We did work on it in the past and it was blocked by some deeper le

[2018-11-15 09:55] sauloperez opened #3049 "[Defacepocalypse] Convert Spree products#new views to OFN views"
## Description

The backoffice's new product page is heavily Defaced which makes very hard to follow and to find out where things are defined.

This has been the problem in https://github.com/openfoodfoundation/openfoodnetwork/issues/2982. There's a lot of indirection due to OFN views + Spree views + Deface and so there's no way to foresee where that error comes from (without spending lots of hour

[2018-11-15 10:08] sauloperez opened #3050 "[Defacepocalypse] Convert products/new/replace_form.html.haml.deface to an OFN view"
## Description

We need to refactor [app/overrides/spree/admin/products/new/replace_form.html.haml.deface](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/overrides/spree/admin/products/new/replace_form.html.haml.deface) in `master` to have the same behavior but using an OFN view.

To do that we need to:

1. Bring Spree's [backend/app/views/spree/admin/products/new.html.erb](

[2018-11-15 10:17] sauloperez opened #3051 "[Defacepocalypse] Apply html.haml.deface overrides onto admin/products/new.html.haml"
## Description

We need to apply in `master` the following list of overrides

[code]
onto the `app/views/spree/admin/products/new.html.haml` view that results from https://github.com/openfoodfoundation/openfoodnetwork/issues/3050. Most of them are a single-line overrides.

We also have to be sure that the following overrides

[code]

work after the change, as well as the edit page itself.

[2018-11-15 11:20] sauloperez commented on #3045
Sharing another two issues which seem to be due to the same bug.

## Order is not correctly sorted in orders page

An order placed in the current OC, shows up at the bottom of the list together with orders of the previous OC.

## Order placed and with email confirmation not listed in current OC

User places an order in the current OC on Nov 12th but in backoffice is shown as created on Oct 28th. T

[2018-11-15 11:39] luisramos0 commented on #3045
Looks like the normal orders management page also uses created_at. Do we want to change it as well?

[2018-11-15 11:44] sauloperez commented on #3045
Yes, I'd change both. The issue I got reported affects that page.

[2018-11-15 11:46] luisramos0 opened #3052 "[Domains] Move Orders model and controller to Order Management engine"
It was discussed in the Porto gathering that this would be the best next step for the evolution of OFN into Domains.
Creating a Domain of a core component of OFN is really what we need to be assured this separation into domains will not cause to much trouble and still delivery its value of breaking OFN business logic into smaller less complex parts.
The chosen domain was the BackOffice Order manag

[2018-11-15 13:12] HugsDaniel commented on #3050
Should I do this in master ?

[2018-11-15 14:29] HugsDaniel commented on #3051
@sauloperez those are overrides for products#edit actually, I'll import the view and form partial from Spree to our codebase and apply the overrides

[2018-11-15 14:53] sauloperez commented on #3045
@lin-d-hop does the bug actually affect the page below?

![screenshot from 2018-11-15 15-52-01](https://user-images.githubusercontent.com/762088/48560587-70f89580-e8ee-11e8-968b-a499bcf52345.png)

I noticed you mention BOM in the description but the page in the screenshot is the orders list. It turns out BOM is already using `completed_at`.

[2018-11-15 16:39] lin-d-hop commented on #3045
Thanks Pau. User said it was BOM, but that was the same user that posted the screenshot so they are likely confused. Then I was confused. And now we're all confused.
Treat it as just orders page. I'll update desc.

[2018-11-15 16:41] lin-d-hop commented on #3045
Is it possible to do a search for orders.created_at to check that we really do mean created_at where it is used?
I suspect this also has happened in other places, and have no idea why people haven't raised this before now.... :-/

[2018-11-15 16:47] sauloperez commented on #3045
Let me check

[2018-11-15 17:37] Matt-Yorkley opened #3056 "Maps API not working"
## Description

Map markers are not working on the new Belgian instance at: https://openfoodnetwork.be
The API key has been provisioned correctly, and the Maps Javascript API is receiving requests. There are no requests going to the Geolocation API though, and new enterprises do not appear on the map.

![screenshot from 2018-11-10 16-11-53](https://user-images.githubusercontent.com/9029026/4857064

[2018-11-15 17:39] Matt-Yorkley commented on #3056
For background: the Google account is set up and has billing attached. The API key has no restrictions.

[2018-11-15 17:39] Matt-Yorkley commented on #3056
I'm not getting any errors in Bugsnag, or in the logs.

[2018-11-15 17:45] sauloperez commented on #3056
wasn't the Geocoding API the one we use? Does it need to be enabled manually from the Google account?

[2018-11-15 17:51] sauloperez commented on #3050
Yes, please.

[2018-11-15 18:07] Matt-Yorkley commented on #3056
Ah, that screenshot was old. Here's a recent one:
![screenshot from 2018-11-15 18-05-51](https://user-images.githubusercontent.com/9029026/48572383-419f5400-e901-11e8-9f96-62e595dde98e.png)

[2018-11-15 18:13] sauloperez commented on #3056
that's very weird... did you provision and deploy the latest version of both repos?

[2018-11-15 18:17] Matt-Yorkley commented on #3056
Yes. I'll try updating again.

[2018-11-15 18:20] luisramos0 commented on #3045
I tested uk live and BOM has this bug. Maybe uk live doesnt have the latest version.

[2018-11-15 18:38] Matt-Yorkley commented on #3056
I redeployed (the same release) and it seems to be fixed. Maybe it was the unicorn/nginx restart that did it? I can't believe the answer was "turn it off and on again"... :unamused:

[2018-11-15 18:38] #3056 closed

[2018-11-15 23:38] sstead opened #3057 "Euro currency error. When I type a price of 5 it turns into 50"
## Description
While testing on Katuma staging I noticed that product prices I was entering were getting saved as a different figure (e.g. if I typed 5, it would save as fifty euro 50.0 ). We then realised this was the results of the superadmin configuration setting.

![image](https://user-images.githubusercontent.com/10843056/48592846-731a2d00-e99e-11e8-8470-c34e0aee84c2.png)

## Expected Behavio

[2018-11-16 00:19] myriamboure commented on #3057
Classical mistake @sstead :-) You need to go in configuration and make sure the "use international currency thing" (don't remember phrasing) is enabled. Actually I think it should be default for all instances as it works for all instances ... but anyway, check, and then close that issue ;-)

[2018-11-16 01:59] sstead commented on #3057
Thanks @myriamboure  I've talked to Maikel and update the bug. I've also made a note in the superadmin guide that if you use Euro you must select the 'international' tickbox in config.

[2018-11-16 07:48] myriamboure opened #3058 "Variant doesn't appear in inventory and shop"
## Description

Hub "Suteau Biosol Orléans" has permission from producer "Jose Maria Jordan Garcia" to add to order cycle and add to inventory.
![capture du 2018-11-16 08-15-06](https://user-images.githubusercontent.com/8135376/48604684-e742d980-e97a-11e8-8226-3271b0f20d75.png)

Producer has a product called "patates douces" with two variants: one of 6kg and one of 10kg. Both are "on demand".

Hub

[2018-11-16 08:51] myriamboure commented on #3057
To be precise I would say "if you use coma separator for decimals or any non dot coma separator for decimal option, you should select that"... I'm not sure it's linked only to euros. But anyway no big deal ;-)

[2018-11-16 09:12] kristinalim commented on #3058
The Javascript console errors are unrelated and seem to be from network connectivity issues:

* https://js.stripe.com/v3/ - Downloading this script doesn't fail on my browser, but I still do not see the 10kg variant.
* ERR_SPDY_PING_FAILED - This is regarding pings that Chrome sends to the server before and after requests. (I didn't know about this until now.) If you are interested, there's a disc

[2018-11-16 09:35] luisramos0 commented on #3058
Hey @myriamboure
That ERR_SPDY_PING_FAILED error looks like a network problem.
Can you please confirm/replicate the issue in a place where you have a good connection?

supplier_id 116
product_id 456
variants 1145, 1146 and 1154 (the master variant 1145 is 2kgs)

on variant_overrides, quite a little complexity with some prices and some on_demand:
 id  | variant_id | hub_id | price | count_on_hand |

[2018-11-16 09:45] #3023 closed

[2018-11-16 09:46] #3025 closed

[2018-11-16 09:53] sauloperez opened #3059 "[Flaky Spec] Make enterprises/images_spec reliable"
## Description

I found `features/admin/enterprises/images_spec.rb:66` failing in Semaphore at least two consecutive times, which lead me to think my PR was not working, although it was.

[code]

Check the full output in https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3054/builds/3

## Expected Behavior

This should always work

## Actual Behavior

It fails as de

[2018-11-16 10:01] kristinalim commented on #3058
Yes, so the overrides have false "on demand" and no value set for stock. I presume that this means that the supply for the shop will not be "on demand" and that the stock specified in the supplier's variants will be inherited (need confirmation).

In the variant settings, both 6kg and 10kg indeed have true for "on demand", so in the perspective of the supplier, the stock levels are unlimited. Howe

[2018-11-16 10:13] Matt-Yorkley commented on #3058
Aha... yes they do inherit the supplier's on_hand for that variant if it's `nil` on the override. I guess it should inherit the on_demand value as well if it's not set, but maybe there's a gap in the logic there.

[2018-11-16 10:19] myriamboure commented on #3058
Ok sorry I'm back I'm checking now.

[2018-11-16 10:30] myriamboure commented on #3058
So indeed the errors in the console were linked to network issue.
But for the real underlying problem, I don't understand the count on hand think which is 0 for the 10kg variant but I understood the issue come from here.
As a workaround you suggest to "force" on demand in inventory. I went to inventory of Suteau Biosol Orléans and "forced" the on-demand, even if before it was already on demand (in

[2018-11-16 11:10] lin-d-hop opened #3060 "UX: Make all map icons green"
## Description

This is a small UX issue, that is a quick win and was agreed in conversations on Slack. Great first issue for new devs!

The OFN map is confusing for users. Map icons are green and red, though the meaning of these colours is not well communicated and generally not well understood even by OFN core contributors. The assumption by new users is that Red icons mean closed and Green mean

[2018-11-16 11:48] myriamboure commented on #3060
@lin-d-hop this is not a bug but a new feature, can you please put that in a wishlist? You can straight away vote on it, if you do the discovery/inception, list potential solutions, and propose a feature candidate it can go quickly through potentially. There are some discussions around mapping improvement and I think there might be some other options we want to discuss. We want to stop opening iss

[2018-11-16 12:53] RachL opened #3061 "Wrong URL in footer leading to error 500"
## Description
In the footer there is a link to register. When using the link from a buyer account profile, the link leads to a page that does not exist.

## Expected Behavior
The link should leads to /register

## Actual Behavior
The link leads to /signup which does not exist

## Steps to Reproduce
1. From the home page, scroll down to the footer page and try the link "Register here" which should

[2018-11-16 13:08] lin-d-hop commented on #3060
I can do that but I feel like being such a tiny fix that is a 'Good First Issue' it makes more sense to just open an issue for it.
I do think that it's good to just open 'Good First Issues' because then we have a lot available for dabbling devs to take a look at and tick off. I feel like we'll be wasting all of our time to bother putting something so simple in the Community pipeline.
Closing.....

[2018-11-16 13:08] #3060 closed

[2018-11-16 13:11] lin-d-hop commented on #3060
https://community.openfoodnetwork.org/t/ux-make-make-icons-green/1505

[2018-11-16 15:20] sauloperez commented on #3045
Umm I'm not sure we have introduced `completed_at` in BOM in the last two releases. I'll take a look.

[2018-11-16 16:20] sauloperez commented on #3045
Umm I'm not sure we have introduced `completed_at` in BOM in the last two releases (according to @lin-d-hop UK has 1.20). I'll take a look. If that was the case, BOM in UK must be failing due to something else we haven't foreseen.

[2018-11-16 17:01] sauloperez commented on #3045
I haven't seen any bug

[2018-11-16 17:05] sauloperez commented on #3045
I don't see any error related to BOM in v1.20.0

On my machine with v1.20.0

![peek 2018-11-16 18-05](https://user-images.githubusercontent.com/762088/48636095-37955800-e9ca-11e8-9f64-c213ef4d0100.gif)

[2018-11-16 17:12] lbwright22 opened #3062 "Order Confirmation Email Repeated String"
## Description

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

## Context

## Severity

## Your Environment

* Version used:
* Browser name and version:
* Operating System and version (desktop or mobile):

## Possible Fix

[2018-11-16 17:12] #3062 closed

[2018-11-16 17:33] lbwright22 opened #3063 "Repeated translation in Order Confirmation Screen and Email"
On both the customer screen after ordering and in the email sent to customers, the 'Ready for collection' string appears twice. First time it is followed by the 'Ready for message' and the second time by 'Pick up message'.
The second string needs to be independent of the first so they can be translated separately in Transifex.

## Description
 More details of the bug can be found on the user forum

[2018-11-16 17:42] sauloperez commented on #3016
I got a bit stuck on

https://github.com/openfoodfoundation/openfoodnetwork/blob/f593a700002cc899afeb5f8bc63a8f481ca1e7c5/spec/controllers/checkout_controller_spec.rb#L244-L258

IMO it depends too much on the actual state of the DB, payments, the order, etc. it's very hard to foresee them all. I suggest we extract the following

https://github.com/openfoodfoundation/openfoodnetwork/blob/f593a70000

[2018-11-16 17:56] luisramos0 commented on #3016
yes, sounds good.
services/checkout_restart.rb ;-)

[2018-11-16 17:56] luisramos0 commented on #3016
but maybe better in master first, right?

[2018-11-16 18:30] RachL opened #3064 "Wrong display in order page after using filters"
## Description
This was reporter by an Australian user. I remember @sstead mentioned it in another issue, but I cannot find the issue anymore. At the time we did not manage to reproduced it. But now I think I've found how.

## Steps to Reproduce:
1. On order page /admin/orders?q[s]=completed_at+desc check "show unfulfilled orders only", then click on "filter orders"
2. On the same page, uncheck un

[2018-11-16 20:12] luisramos0 commented on #2999
these are the 11 broken tests. I have investigated 3 of them but I have not found the fix yet:

[code]

It's showing the buttons "login or checkout as guest"
Error "item unavailable" should be shown before login verification?

[code]

order.bill_address should be nil before save
Why is bill address being saved?

[code]

order_decorator. deliver_order_confirmation_email is calling DelayedJob but ei

[2018-11-16 20:45] kristinalim opened #3066 ""Use supplier's 'on demand'" is not represented in the inventory page"
"Use supplier's 'on demand'" is not represented in the inventory page.

## Description

A variant override may have any of these three values for "on demand":

1. `nil` - Use the supplier's setting
2. `true` - Override the supplier's setting with `true`
3. `false` - Override the supplier's setting with `false`

After an inventory item has been added:

1. Creating the variant override without click

[2018-11-16 21:18] kristinalim opened #3067 "Hidden "count on hand" of on demand variant should never be relevant"
The producer "count on hand" of an "on demand" variant should never be relevant. But this is used when the variant override has false "on demand" and blank "count on hand".

## Description

When the variant override has false "on demand" and a blank "count on hand", the stock check looks at the producer's "count on hand" setting. But this value is no longer visible in the producer's UI when the pr

[2018-11-16 21:20] luisramos0 commented on #3045
I double checked BOM in uk live now and BMO dates look ok. I cant find a broken case. Must have been me mixing up the dates... let's ignore and say this bug is in the orders page only.

[2018-11-16 21:40] kristinalim opened #3068 "Inventory page says "on demand" in scenario where variant is not on demand for shop"
Inventory page says "on demand" in scenario where variant is not on demand for shop.

## Description

With the following settings:

* Producer - On Demand: `true`, Count on Hand: 10
* Variant Override - On demand: false, Count on Hand: blank

The effective stock level is the producer's count on hand of 10. But the Inventory page still says that stock is "On Demand".

## Expected Behavior

PENDING

[2018-11-16 21:44] kristinalim commented on #3058
Thanks, @myriamboure! I created sub-issues #3066, #3067, and #3068. I agree that they should be S2.

[2018-11-16 22:00] luisramos0 commented on #3066
I thought we could make this more simple and say it can never be nil, ie., hub cannot use the producer setting? But I believe it's a valid feature we shouldnt kill: hub wants to use producer on_demand setting (use farmers stock config) but still override the price for example.

[2018-11-16 22:15] kristinalim commented on #3066
@luisramos0 Yes, I think it's a valid and used feature. For example, the variant in #3058 was supposed to have `nil` "on demand".

[2018-11-16 23:22] luisramos0 commented on #2999
Feel free to pick any of the remaining broken tests. I think I'll look at something else now :-)

[2018-11-16 23:32] luisramos0 commented on #2929
This spec is now broken like this. The original error is gone. We need to see if #2930 is still needed.

[code]