[2020-04-16 01:21] #5090 closed

[2020-04-16 01:23] tschumilas commented on #5090
I closed this by accident.  This login still cannot save to inventor in any of its enterprises.  I've just created a new login.   But I really wish I knew what causes this.  This is the third time I've been doing things with inventory,  and this has happened.  If anyone has thoughts as to what might be causing, I can test them out.

[2020-04-16 03:18] kirstenalarsen commented on #5119
Just some more cries of pain from the user to add here. Unfortunately I don't think it warrants an S2, but will likely be next cab for Aus S3

"I have a question about marking orders off as shipped, for some reason all of our orders are saying pending in the shipping column, even though payment has been settled through stripe in the checkout. I have to go into each order manually, click onto anoth

[2020-04-16 03:40] mkllnk commented on #5167
I can only see very few swap reads while there is plenty of free memory since last Wednesday, after the deploy. During the deploy was the last swap write. So I guess that it's leftovers from before. Swap usage should disappear over time.

Where is the proof that UK is doing better than AU? Both are doing much better than before but they are difficult to compare because the usage patterns are diffe

[2020-04-16 03:56] mkllnk commented on #1534
@luisramos0

I think this changed with the Spree upgrade. The old way was to have a `MailMethod`. You could have a method for staging and one for production and then "share" the database. Spree 2 got rid of that and has one configuration for sending emails.

I think that's happening already and that's why you fixed it when updating ofn-secrets.

https://github.com/openfoodfoundation/ofn-install/bl

[2020-04-16 04:42] daniellemoorhead commented on #5143
Yay! Can we consider @sauloperez's stats update the equivalent of a #prod-test and this card can be closed now? Or is there a specific test to do?

[2020-04-16 07:06] RachL commented on #5119
Should we close it in favor of #4121 ?

[2020-04-16 07:14] mkllnk commented on #5219
I think we said at the delivery train meeting that we will close this unless we find it's not user error or more users are doing the same mistake.

[2020-04-16 07:14] #5219 closed

[2020-04-16 07:55] sauloperez commented on #5143
Yep, we can close

It has fallen down to the 4th position :v: great job @Matt-Yorkley :clap:

[2020-04-16 07:55] #5143 closed

[2020-04-16 08:18] #5170 closed

[2020-04-16 08:51] sauloperez commented on #1534
Sorry for the confusion @luisramos0 . It was the following bit that made me think "no way"

[2020-04-16 09:56] #3226 closed

[2020-04-16 10:28] filipefurtad0 opened #5239 "Stuck on cart, if item becomes out of stock during shopping journey"
## Description

After a customer visits the shopfront and adds items to cart, it can happen that the stock is reduced, making those items unavailable, before the customer checks out. If this happens, and the customer attempts to check out, he is redirected to the cart page, where the red banner displays with "An item in your cart has become unavailable." Also, in front of the respective item, a re

[2020-04-16 10:44] filipefurtad0 opened #5240 "User sees less-readable error message directly from Stripe/StripeSCA backlog"
## Description

Failing authentication in Stripe SCA displays an informative but less readable/user friendly error message - in this case a long message, text with underscores (see pic below).

## Expected Behavior

An informative but user-friendly message should be shown.

Something like this, perhaps:
"The provided Payment Method has failed authentication. Please try again with valid credentials

[2020-04-16 11:16] lbwright22 commented on #5212
![](https://github.trello.services/images/mini-trello-icon.png) [Test paying by Stripe in Backend - does the postcode need to be 19 chars? DO we have an issue for this?](https://trello.com/c/Jv70uBtR/900-test-paying-by-stripe-in-backend-does-the-postcode-need-to-be-19-chars-do-we-have-an-issue-for-this)

[2020-04-16 11:22] Matt-Yorkley commented on #5215
I just tried switching and remaking my test database and running `db:migrate` and got this:
[code]

Looks like a migration from 2012 depends on deface...?

This issue might need to be prioritised very soon... :warning:

[2020-04-16 11:32] sauloperez commented on #5097
wouldn't even be better to show a tooltip from the word "hidden" in the report itself? the more in context the information is, the better for users to understand, right? I'm even thinking we could link to the settings section from that tooltip so no one gets lost. This way many more users would discover this, I think.

[2020-04-16 11:33] sauloperez commented on #5051
done

[2020-04-16 12:21] RachL commented on #5097
@sauloperez I don't think this is a good idea... First reason a tooltip within a table is a bit weird (a title would be ok, but within a table... I'm not sure à already saw something like this), and second a lot of people will also just download the csv. So it should work in both cases.

[2020-04-16 12:24] RachL commented on #5239
This is something I've hit in previous test and never manage to properly reproduce, thanks @filipefurtad0 !
However the probability for customers to hit that one is higher than ever. All our hubs have little stock and all customers are ordering during the first hours of the order cycle.

I would make this one an s2. Thougths? @lin-d-hop @luisramos0 ?

[2020-04-16 13:33] RachL opened #5242 "Notify producer email behaving in an overzealous manner"
## Description

Clicking the notify producer button can send 8 to 13 times the same email :boom:

## Steps to Reproduce

 In French production it is happening with hub 1395

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/6525576/79462356-aa5b9600-7ff7-11ea-8e61-22edce980f09.png)

## Severity

If this can damage our email reputation I would say s2 :(

## Your Environ

[2020-04-16 13:41] luisramos0 commented on #5236
:+1:
I looked at FR live and this user is an outlier with 700+ carts, but I saw quite a few users with around 100 carts...
We need to create a new cart when the user changes shop but I dont think we should create a new cart when the user comes back after a few days for example.

[2020-04-16 13:44] luisramos0 commented on #1901
this is probably due to the order state, the paypal process must be leaving the order in a state that breaks the cart page.
Does the cart page work for orders in states other than cart? Like address, delivery or payment.

[2020-04-16 14:18] sauloperez commented on #5242
We've seen errors like https://app.bugsnag.com/open-food-france/open-food-france-prod/errors/5e94a9c53d908b0017b28cfc?filters%5Bevent.since%5D%5B%5D=1d&filters%5Berror.status%5D%5B%5D%5Btype%5D=eq&filters%5Berror.status%5D%5B%5D%5Bvalue%5D=open&filters%5Bsearch%5D%5B%5D%5Btype%5D=eq&filters%5Bsearch%5D%5B%5D%5Bvalue%5D=Job&event_id=5e9862d50059ecf518a00000 since April 13th. My bet is that this fai

[2020-04-16 14:33] sauloperez commented on #5242
Confirmed, a job for the hub 1395 is the last one that failed.

![Screenshot from 2020-04-16 16-32-28](https://user-images.githubusercontent.com/762088/79468993-ec88d580-7fff-11ea-844d-a87cf67fc68b.png)

[2020-04-16 17:15] sauloperez commented on #5242
Just to be clear, the OrderCycleNotificationJob is enqueued once but delivers as many emails as suppliers. If any of these fail, DJ retries the entire job. That's why successful recipients get spammed while the failed ones keep failing.

[2020-04-16 17:22] RachL opened #5245 "Missing translation key in column dropdown"
## Description

Pages like `admin/inventory` or `admin/products` have a "column button" that enables to add or remove columns.

The red button "save as default" of this dropdown is not translated

## Steps to Reproduce

1. Go to `admin/products`
2. Click on Columns

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/6525576/79486871-a3dd1680-8017-11ea-9027-9c72c1d4a681.

[2020-04-16 17:28] RachL opened #5246 "Missing translations keys in orders listing"
## Description
Except the first one, none of the table titles of this page have translation...

## Steps to Reproduce
1. Go to `/admin/orders?q[s]=completed_at+desc`
2. See columns titles

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/6525576/79487457-8d838a80-8018-11ea-8f42-da79c2e41a9b.png)

## Severity
bug-s3: a feature is broken but there is a workaround

## Yo

[2020-04-16 18:44] luisramos0 commented on #5242
Nice one Pau.

Yes, very easy. Basically moving the to first lines (each) in OrderCycleNotificationJob#perform to OrderCyclesController#notify_producers

[2020-04-16 19:31] RachL commented on #5192
A bit more info from this last user (but still no console sorry):
- he is an old customer of the hub. Was using firefox desktop for month with no issues
- he managed to login with his phone on chrome
- incognito mode on desktop didn't work as well

More info as soon as I get them....

[2020-04-17 00:21] daniellemoorhead commented on #5029
Hey @lin-d-hop is this the next priority S3 for UK? We moved it to the backlog column but doesn't have an instance label on it, I can't remember if it was supposed to be labelled yours or should be in All the Things?

[2020-04-17 02:12] dacook commented on #5107
I can replicate this on v2.9.2.

It's worth noting that when you choose unit size of "Items", the Display As (`display_as`) field disappears and Unit Name (`variant_unit_name`) appears in it's place.
So the problem is that the **(Variant) Unit Name should be labelled as compulsory**.

Also its translated differently in the error message, I think it should match the field label, but I don't know wh

[2020-04-17 03:24] dacook commented on #5107
I've added the asterisk, but would like to know if we should also review these:

1. When submitting the form with validation errors, some entered values are cleared, which is not only a pain for the user, but could lead to error if they don't realise they have to re-enter them:
  * Unit Size
  * Value
  * Unit Name
  * On hand
  * On demand
2. The variant_unit_name field is labelled with "Unit Nam

[2020-04-17 03:27] #5185 closed

[2020-04-17 03:44] mkllnk commented on #5107
Hi @dacook and welcome back!

I'm closing this issue because it has been solved already. I just merged the other pull request.

Outside contributors can't assign themselves to an issue. So we usually tell them to comment on the issue when they start working on it. This one fell through the gaps...

Your thoughts on further fixes of the page sound really good. If you are happy to continue that work

[2020-04-17 03:50] #5107 closed

[2020-04-17 05:16] #4424 closed

[2020-04-17 05:16] #5137 closed

[2020-04-17 05:33] mkllnk opened #5249 "Release v2.9.3"
Steps:

- [x] Include translations
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1332
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described at https://github.com/openfoodfo

[2020-04-17 05:35] rmklaus12 commented on #4437
Looking for my first contribution and would like more info on this as I cannot recreate the issue (nor find a specific Products page) on the live site.

[2020-04-17 06:08] kirstenalarsen commented on #5097
@RachL just wondering about emails and phone numbers - I don't clearly remember the conversation - seems like email and phone number very useful if customer doesn't actually rock up to collect the thing? Or producer needs to call customers i.e. to ask how they want someting. But probably we discussed this and decided not? At this point - with requests from farmers markets etc escalating - I'm temp

[2020-04-17 06:10] rmklaus12 commented on #4971
I'd like to take this one as my first contribution, I am able to reproduce it myself.

[2020-04-17 07:13] dacook commented on #5107
Thanks @mkllnk , I'm guessing the existing issues are more important so will focus on those in the short term.

[2020-04-17 07:13] kirstenalarsen commented on #5097
@RachL once clear on the above - these seem reasonable to go into Welcome New Devs with label AU - as potential projects for enthusiastic recruits?

[2020-04-17 07:25] dacook commented on #5084
I'm not going to pretend I'm familiar with this, but it does sound like having the orders list open in one tab and opening the orders in another would be a simple way to manage this.
Perhaps an 'edit in new tab' button on the order list could be a handy link to suggest to users to use that workflow.

[2020-04-17 07:37] luisramos0 commented on #5119
I believe shipment and payment states are not, and should not be, related.
An order can shipped and not payed and payed but not shippped. We shouldnt make them related.

Looking at the spree code, I believe pending shipment is for when order is not complete yet (you cannot ship an incomplete order. Ready is for complete orders and shipped is for when the order is actually shipped.
Apart from this,

[2020-04-17 07:39] dacook commented on #5171
I'll take a look into this!

[2020-04-17 07:52] luisramos0 commented on #1534
@sauloperez no problem!

@mkllnk thanks for the help!!!
I didnt see seeds were re-runnable and executed on every deploy. That explains what happened.
It also means we can remove the smtp settings from the admin page and keep just ofn-install settings that will be set on every deploy. We can go ahead with #5235 :tada:

One thing I can add in #5235 is to remove mail methods from spree_preference in

[2020-04-17 07:57] sigmundpetersen commented on #4971
Yes, please go ahead @rmklaus12 and welcome to OFN! 🎉

[2020-04-17 08:01] luisramos0 commented on #5212
@lbwright22 this issue is about Stripe SCA the new stripe payment method that I believe you are not using yet.

[2020-04-17 08:44] luisramos0 commented on #5192
@RachL your second screenshot where the button was displaying correctly was not on checkout so I'd say we should re-open #5080 because this issue here is for checkout errors.

- he is an old customer of the hub. Was using firefox desktop for month with no issues

This problem comes from some recent change in OFN or from a change in his Firefox (firefox version, firefox settings, firefox extensions

[2020-04-17 09:15] luisramos0 commented on #4437
Hi @rmklaus12 you need to setup your local environment and load sample data
bundle exec rake ofn:sample_data

Start the server:
bundle exec rails s

After this you can go to 0.0.0.0:3000/admin/products where you will see the page.

[2020-04-17 09:15] kirstenalarsen commented on #4437
Hi @rmklaus12 - these pages are in the admin interface, so you will need to create yourself an enterprise to see them. Please don't do so on the production server - either on your local environment or a staging server (i.e. staging.openfoodnetwork.org.au) login and /register to create an enterprise. Then you can to to the admin dashboard openfoodnetwork.org.au/admin and you will be able to see the

[2020-04-17 09:15] kirstenalarsen commented on #4437
ha @luisramos0 was providing a much more sensible dev response while i was typing :)

ignore me

[2020-04-17 09:30] RachL commented on #4603
@daniellemoorhead @Matt-Yorkley a user reported me this bug on French production:

Before clicking:

![image](https://user-images.githubusercontent.com/6525576/79554392-463fdd00-809e-11ea-835b-e06ebc2511de.png)

2. After clicking the +4 (you can see the product properties under :( )

![image](https://user-images.githubusercontent.com/6525576/79554461-6079bb00-809e-11ea-966a-2676ebc771bc.png)

3. W

[2020-04-17 09:37] rmklaus12 commented on #4437
All good! I did get the sample data and can access it, but I’m not able to
create an enterprise. The alert says that fields are blank which is not the
case. So far I’ve drilled down and the error is occurring in the api
enterprise controller#create method. Not too surprising there, will do more
digging over the
weekend.

I appreciate your response as well Kirsten :)

On Fri, 17 Apr 2020 at 7:16 pm

[2020-04-17 09:59] daniellemoorhead commented on #4603
Yep, will be replaced.

On Fri, 17 Apr 2020 at 19:31, Rachel Arnould <notifications@github.com>
wrote:

--
Open Food Network Australia
www.openfoodnetwork.org.au
Our software platform
<https://about.openfoodnetwork.org.au/software-platform/> - User Guide
<https://openfoodnetwork.org/user-guide/> - Our services
<https://about.openfoodnetwork.org.au/open-food-services/> - Sign up to our
newsletter <

[2020-04-17 13:38] luisramos0 commented on #4437
Please share error details here or in #dev so we can help.

If you sample data you dont need to create an enterprise to fix this issue, do you know that? sample data comes with 4 enterprises.

[2020-04-17 14:50] RachL commented on #4977
@emilyjeanrogers I already had this because there was a particular problem with an order. Have you tried narrowing the search and see for which set of dates the error occurs?

[2020-04-17 16:00] tschumilas opened #5252 "Newly created and renamed taxons are not showing as shop filters"
## Description
I recently needed to add new taxons as super-admin in configuration.  In some cases,  I renamed existing taxons (they were called 'z' because they were placeholders for future French translation) and in other cases I created new taxons.  I created 6 taxons in total  and they all show up correctly in category dropdown lists.  They all imported properly with product import that I did

[2020-04-17 16:00] tschumilas opened #8910 "Re-named taxons show in product lists but original names show in shopfront"
## Description
I recently needed to add new taxons as super-admin in configuration.  On OFN-CAN we had a number of garbaged taxons named 'z'.  These were the result of early mistakes I made in configuration when I didn't know you can't delete taxons.

So I needed new taxons  and I renamed the 'z' to 'Seedlings - Vegetables'  for example.  I did this with 6 z taxons.  I've done this before and its

[2020-04-17 16:01] tschumilas commented on #5252
Note -  will get back to this with more -   but just wanted to put it there.  Something very confusing is happening with taxons on OFN-CAN

[2020-04-17 16:25] luisramos0 commented on #4186
I am working on a work around PR for this, I'll make the order edit page work when the order has inventory_items in the shipment but the respective line_item as been removed.

[2020-04-17 16:33] filipefurtad0 commented on #5249
Hi @mkllnk ,

The release is good to go :tada:  Test notes here:
https://docs.google.com/document/d/1okZHYBskdxhxafdvm1Sl6GewTh0KqWApc27BAycQKe4/edit#

[2020-04-17 18:18] luisramos0 commented on #5239
I can replicate but I am not stuck in the cart page. It's just incredible bad UX :-(
Have you tried to reduce quantity and press Update?

If the stock available is changed to be insufficient on checkout, I get sent to the cart page with the warning. I cant navigate way (which is weird).
But I can change the quantity (both entering a number or pressing the small down button), and when I change the

[2020-04-17 18:24] luisramos0 commented on #5239
oh, also, one improvement here would be to improve the messages with a CTA: tell the user to update the quantity. "An item in your cart has become unavailable, please update the quantity of the item".

[2020-04-17 19:27] luisramos0 commented on #4186
#5253 solves the problem of the broken order edit page, it doesnt fix the data problem in the order.
I think that after #5253 this issue becomes an S3 as the manager will be able to look at the order and make changes.

[2020-04-17 23:43] roryfogerty opened #5255 "Add https://www.polipay.co.nz/ as a payment option"
## What is the problem we are solving
https://community.openfoodnetwork.org/t/add-https-www-polipay-co-nz-as-a-payment-option/1912

## Success factors = expected outcome
Can pay with Polipay. OFN-NZ = customer delight

## Useful information for inception
https://www.polipay.co.nz/developers/
https://www.polipayments.com/Developer
https://www.polipayments.com/APIintro

## Link to the "Product Devel

[2020-04-18 01:42] luchiago commented on #3509
@sigmundpetersen I'm not able to reproduce with letter opener, it seems the email isn't being sent. But the confirmation email for user is being sent.

[2020-04-18 02:57] rmklaus12 commented on #4971
Thank you @sigmundpetersen!

[2020-04-18 02:57] rmklaus12 commented on #4971
Thank you @sigmundpetersen!

[2020-04-18 05:11] dacook commented on #5190
I'll take this, pull request #5256 has been submitted.

[2020-04-18 05:12] dacook commented on #5171
In progress, I think I'm going to need to learn a bit more to figure this one out.

[2020-04-18 09:40] luisramos0 commented on #5171
hello David! Not an easy one if you starting with OFN!

I think you should create a service under app/services called CustomerBalance that takes a customer and does something like this:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5031/files#diff-d92a88617a8371ec293fbd1c06389eb8R14

[code]

NOTE: looking up orders by email (and not customer id or user id) includes orders completed be

[2020-04-18 11:39] luisramos0 opened #5258 "Make voiding a payment work with StripeSCA payments"
## Description
With the new StripeSCA, users cant make total refunds in backoffice.
I think partial refunds are working although I didnt manage to test.

The action void (cancel) in stripe does work in the Payment Intents API. It doesnt let us cancel payment intents that have been confirmed: https://stripe.com/docs/api/payment_intents/cancel
In the payment intents api we need to issue a refund: ht

[2020-04-18 12:01] luchiago commented on #3509
@luisramos0  I modified the file `app/models/content_configuration.rb`, but my changes do not appear. Do I have to change another file type for the changes to that file to take effect?

[2020-04-18 12:56] luisramos0 commented on #3509
Hello, where are you expecting your changes to appear? Maybe easier to share a draft PR so we can discuss with the code?

[2020-04-18 12:59] luchiago commented on #3509
@luisramos0  I made the changes to complete this problem, but the links are not changing. I changed the Linkedin link and the Instagram link, but Linkedin doesn't show any effect (it remains the oldest) and the Instagram link still doesn't appear because it is still blank for the application. I will send a draft PR

[2020-04-18 15:01] luisramos0 commented on #4535
Nice, I can replicate this on my wonderful iphone 4 :-)
I'll try to fix it.

[2020-04-18 16:25] RachL commented on #4554
I'm closing it for now. If the issue re-occurs we can re-open it :+1:

[2020-04-18 16:25] #4554 closed

[2020-04-18 16:27] RachL opened #5260 "Testing Spree upgrade"
Testing plan is here:

https://docs.google.com/document/d/1N_wzCtvib_sLK-I8pwu-HoXaTsrE2xD7aVRojAz5O1g/edit#

PR used to stage it: https://github.com/openfoodfoundation/openfoodnetwork/pull/4825

[2020-04-18 17:15] #4965 closed

[2020-04-18 17:15] #5000 closed

[2020-04-18 17:29] luisramos0 commented on #4535
The font size was 14, so changing to 16 makes it look good. And it fixes the problem (at least on my iphone 4). Done #5261.

[2020-04-18 17:57] luisramos0 commented on #4772
We need to change both messages.
This one:
![image](https://user-images.githubusercontent.com/1640378/79645305-6c50a480-81a6-11ea-9c48-4e80313099b0.png)

and this one:
![image](https://user-images.githubusercontent.com/1640378/79645309-7377b280-81a6-11ea-8766-7175159c0114.png)

[2020-04-18 18:10] luisramos0 commented on #4772
a similar UI is seen on the closed shop #5216
![image](https://user-images.githubusercontent.com/1640378/79647390-21379100-81a8-11ea-86b0-ae872fc9fdf1.png)

It's ok if I make the design of that page equal to what's specified in this issue, right? (and I can fix 5216 as part of this work which will take me like 362 seconds).

[2020-04-18 19:29] filipefurtad0 commented on #5239
Ohh. My bad - I can't believe I did not try the update button!
Thank you @luisramos0 for investigating this is detail!

I guess for me the update button became invisible mostly because - and as you say - the shopfront-page has a different/opposite behaviour, i.e.: it updates automatically when the quantity is changed.

So, I see two situations, after stock reduction,
a) The user wants the item any

[2020-04-18 19:32] luisramos0 commented on #4772
![image](https://user-images.githubusercontent.com/1640378/79669395-120a1080-81b3-11ea-81f7-459998ed6ba7.png)

and
![image](https://user-images.githubusercontent.com/1640378/79669476-abd1bd80-81b3-11ea-8f55-6039e3d5a99a.png)

that's it, right?

[2020-04-19 01:37] daniellemoorhead commented on #4772
Looks good to me @luisramos0!

[2020-04-19 08:44] luisramos0 commented on #5216
like this?
![image](https://user-images.githubusercontent.com/1640378/79683388-bcb91800-8221-11ea-87fa-4c972e9984b4.png)

and

![image](https://user-images.githubusercontent.com/1640378/79683392-c3e02600-8221-11ea-9b82-477347f5e979.png)

and

![image](https://user-images.githubusercontent.com/1640378/79683426-fdb12c80-8221-11ea-9fe1-b3c66c2c1f3d.png)

and

![image](https://user-images.githubuserco

[2020-04-19 08:46] luisramos0 commented on #5216
I got this one done as part of #4772

[2020-04-19 09:32] luisramos0 commented on #4772
in doing this I ended up changing the background color and link colour for all tabs, about, shop, producers, about, contact. I wonder if we should keep these like this:
![image](https://user-images.githubusercontent.com/1640378/79684389-d447cf00-8228-11ea-9656-c388b98aaa98.png)

![image](https://user-images.githubusercontent.com/1640378/79684391-df026400-8228-11ea-8615-d00b7a4efb64.png)

![image](

[2020-04-19 10:00] luisramos0 commented on #4684
Hello, in the description I see "Remove product category"
but in zeplin and in the images the categories are still there... I will assume KEEP.

[2020-04-19 11:26] Matt-Yorkley opened #5264 "Snail when tagging a customer with a tag that has already been used"
## Error in OpenFoodNetwork UK

**ActsAsTaggableOn::DuplicateTagError** in **admin/customers#update**
'veg-box' has already been taken

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5e9c11eda883cd001769776c?event_id=5e9c11ed0059eeae30230000&i=gh&m=ci)

## Stacktrace

    app/controllers/spree/admin/resource_controller.rb:31 - update

[View full stacktrace](https://app

[2020-04-19 12:58] luisramos0 commented on #5252
About your comment: /shops is not shop list, it is the list of shops. I think this issue is about the product list, right?

I cant replicate this, if I change the taxon name, I see it in the filters in the shopfront and can filter by that taxon:
![image](https://user-images.githubusercontent.com/1640378/79688346-a7ee7b80-8245-11ea-98e1-888e5ca4307d.png)
![image](https://user-images.githubuserconte

[2020-04-19 13:57] tschumilas commented on #5252
I wonder if the reason I can't delete is because I have no way to see if that taxon is not being used.  Maybe it was used 3 year ago and is in the database.   I'll put up some screenshots -  I can't figure out why the taxons I renamed are not showing as filters.   But a quick question -  re: deleting taxons -   not in current use,  or never used?   If a product has been deleted  -  and its taxon i

[2020-04-19 15:17] luisramos0 commented on #5252
--- why the taxons I renamed are not showing as filters

maybe the taxons is not being used in any product on sale

I dont know the answer to the last question but probably "never used"

[2020-04-19 16:18] luisramos0 commented on #4772
ok, I had a look at zeplin and this is not according to design. the grey is used as a negative thing here like shop closed or "you need to login". I will make sure the grey background only shows when the user needs to login or register as a customer :+1:

[2020-04-19 16:50] luisramos0 commented on #5260
Hello Rachel, did I mention this branch is not exactly the final one? This branch includes things from PRs that are still in transit  through the pipe (#4841, #4920 and #4993).
So, it's only good for initial testing.

[2020-04-19 16:53] luisramos0 commented on #5255
Hi Rory, was this prioritized? if it wasnt and because it's not a papercut, I believe it should be in discourse only, not in GH.

[2020-04-19 17:16] luisramos0 commented on #4684
This is how it's looking now:
![image](https://user-images.githubusercontent.com/1640378/79694570-ffeaa980-8268-11ea-9ffe-18902c1a62a5.png)

Is changing the close icon on the top right part of this issue? I am not sure how to change it... ofn-i_009-close

[2020-04-19 17:35] yukoosawa commented on #4684
@luisramos0 Yes your 'edit' thinking is correct! I believe the icon is currently part of an OFN font created before I joined :) Unsure as to who implemented it, and what it would take to change.

Can you add a screenshot of what it would look like with the current icon... Perhaps I can live with it :upside_down_face:

[2020-04-19 18:11] tschumilas commented on #5252
I renamed a taxon from 'Prepared Foods'  to 'Prepared Food'  in confirguration.
In the product list (screenshot below)  the renamed category shows,  and I selected it.
I added the product to a new order cycle.
In the shopfront -  the renamed taxon
!['prepared food' is category for product](https://user-images.githubusercontent.com/13171778/79695933-9b6b2280-8247-11ea-8807-c7f72632c960.png)
!['prep

[2020-04-19 18:32] luisramos0 commented on #4684
Hello @yukoosawa thanks for your feedback.

This is the current icon (I can improve the positioning):
![image](https://user-images.githubusercontent.com/1640378/79696397-66c19000-8274-11ea-877a-6b84a187e198.png)

[2020-04-19 18:53] yukoosawa commented on #4684
Hi @luisramos0!

If we could tweak the positioning (top) that would be great! Looking at the font/close icon in production now, am thinking we can tweak it as follows to get it closer:

background-color: rgba(0,0,0,0.5);
color: #fff
font-size: 1.5rem

![Screen Shot 2020-04-19 at 2 44 40 PM](https://user-images.githubusercontent.com/19785399/79696712-66150380-824c-11ea-86c4-61a2fdd44446.png)

And i

[2020-04-19 19:46] luisramos0 commented on #5252
ah, interesting!
Maybe a cache problem. I know we have a cache for the enterprise in the shopfront.
I dont know when/how the cache is refreshed, it would require investigation.

[2020-04-19 19:52] tschumilas commented on #5252
will check

[2020-04-19 22:38] yukoosawa commented on #4599
@daniellemoorhead @mkllnk Is it a bug in staging that the bulk ordering min/max fields aren't reflected in the cart dropdown + edit cart page? Or is it intentional?

[2020-04-20 01:12] daniellemoorhead commented on #4772
Great, thanks Luis :)

On Mon, 20 Apr 2020 at 02:19, Luis Ramos <notifications@github.com> wrote:

--
Open Food Network Australia
www.openfoodnetwork.org.au
Our software platform
<https://about.openfoodnetwork.org.au/software-platform/> - User Guide
<https://openfoodnetwork.org/user-guide/> - Our services
<https://about.openfoodnetwork.org.au/open-food-services/> - Sign up to our
newsletter <http:

[2020-04-20 07:31] Matt-Yorkley commented on #4669
@yukoosawa Quick question: the current search feedback bar also shows info on selected filters. Are we removing that or keeping it in?

Desktop (current WIP filters branch):

![Screenshot from 2020-04-20 09-26-53](https://user-images.githubusercontent.com/9029026/79725291-497ad900-82e9-11ea-8a0e-d7ad37ef3cd1.png)

Mobile:

![Screenshot from 2020-04-20 09-30-08](https://user-images.githubuserconten

[2020-04-20 09:41] lbwright22 commented on #5119
can this be moved to a potential papercut issue?

[2020-04-20 09:42] lbwright22 commented on #5119
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 09:44] lbwright22 commented on #5109
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 09:49] lbwright22 commented on #5118
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 09:50] lbwright22 commented on #5018
can this be classed as a potential papercut issue?

[2020-04-20 09:52] lbwright22 commented on #5018
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 10:53] luisramos0 commented on #4573
The OC closed message here includes the "Please wait until the next OC opens..." that is removed in #5216 if the enterprise has configured a closed message.

Basically 5216 defines that if there is text in the light gray area, the dark gray area will be shorter. If the darker gray area stays as per design there will be no text in the lighter gray area. In terms of design it will look quite differe

[2020-04-20 11:24] lbwright22 opened #5268 "Listing Orders UX Improvement: Payment state of canceled cash/EFFs order"
## Description

Customer opts to pay for an order by cash/EFFs payment method.
This order is then cancelled- either by the food enterprise or the customer- prior to payment being captured.
Listing Orders table shows the payment state of the order as 'amber= balance due' (see image below) and 'capture payment' icon appears to the right of the order.
If order is canceled then no money is due. Paymen

[2020-04-20 11:24] lbwright22 opened #8229 "Listing Orders UX Improvement: Payment state of cancelled cash/EFFs order"
## Description

Customer opts to pay for an order by cash/EFFs payment method.
This order is then cancelled- either by the food enterprise or the customer- prior to payment being captured.
Listing Orders table shows the payment state of the order as 'amber= balance due' (see image below) and 'capture payment' icon appears to the right of the order.
If order is canceled then no money is due. Paymen

[2020-04-20 11:25] lbwright22 commented on #5268
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 11:27] luisramos0 commented on #4573
closed shop WITHOUT enterprise closed message
![image](https://user-images.githubusercontent.com/1640378/79745845-ea28c300-8300-11ea-858b-a8e1f23836dc.png)

closed shop WITH enterprise closed message

![image](https://user-images.githubusercontent.com/1640378/79746411-dfbaf900-8301-11ea-9b2d-49918a9ff628.png)

in the first case maybe we could do:

![image](https://user-images.githubusercontent.com

[2020-04-20 11:34] lbwright22 opened #5269 "Payment State of Subscription Order canceled Before Stripe payment taken"
## Description

System automatically generates a subscription order for a customer who will pay by Stripe.  Hub settings allow orders to be cancelled or changed while an order cycle is open.  Payment for subscription order is thus not taken from customer account straight away.
Order is cancelled by either customer or hub before order cycle closes.
Payment state of order remains as 'amber= balance

[2020-04-20 11:34] lbwright22 opened #8232 "Payment State of Subscription Order canceled Before Stripe payment taken"
## Description

System automatically generates a subscription order for a customer who will pay by Stripe.  Hub settings allow orders to be cancelled or changed while an order cycle is open.  Payment for subscription order is thus not taken from customer account straight away.
Order is cancelled by either customer or hub before order cycle closes.
Payment state of order remains as 'amber= balance

[2020-04-20 11:35] lbwright22 commented on #5269
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 11:44] lbwright22 opened #5270 "Payment state of order paid for before cancellation"
## Description

When an order is cancelled the Payment State for an order that has been paid for shows as Paid.
After the cancellation of a paid order the Payment State should reflect that the shopper requires a refund -> Credit Owing.

## Expected Behavior

1) customer places order
2) Payment is captured for the order
3) Order is cancelled and customer has not yet been refunded.  Order should app

[2020-04-20 11:44] lbwright22 commented on #5270
![](https://github.trello.services/images/mini-trello-icon.png) [UX of the ship button and order states](https://trello.com/c/kauOVQHU/786-ux-of-the-ship-button-and-order-states)

[2020-04-20 12:04] lbwright22 opened #5271 "Adding Notes to Orders Placed in Backend"
## Description

Hub Manager (or Shop Manager) places order for customer in backend and needs to add  a note to the order (delivery instructions for example).
No place for note to be added.
Similar to issue #4146 (no space for adding a note to an existing order when editing).

## Expected Behavior

Field should be available to add a note to an order when placing it in the backend on behalf of a cus

[2020-04-20 12:05] lbwright22 commented on #4146
![](https://github.trello.services/images/mini-trello-icon.png) [Invoices & Pick Lists](https://trello.com/c/Vn1V1M9M/912-invoices-pick-lists)

[2020-04-20 12:05] lbwright22 commented on #5271
![](https://github.trello.services/images/mini-trello-icon.png) [Invoices & Pick Lists](https://trello.com/c/Vn1V1M9M/912-invoices-pick-lists)

[2020-04-20 12:53] sauloperez commented on #5097
It'd great to be able to compare downloads vs html

[2020-04-20 12:53] kirstenalarsen commented on #4573
I'm agnostic, don't mind. Is possible your suggestion could confuse enterprise as looks like they have control over the text? But probably not. Either for me

[2020-04-20 13:03] RachL commented on #5097
@sauloperez that's easy. For France at least _none_ of the reports are usable as they are. You always need several reports or what to print it. So everyone downloads to do stuff in a spreadsheet.

[2020-04-20 14:34] sauloperez commented on #5100
I think this deserves another look. There might be something else we are missing (HTTP caching?). Moving back to Dev Ready as other more urgent priorities are keeping me busy.

[2020-04-20 16:28] filipefurtad0 opened #5272 "Adding card information on receipt - ex.: Card ********4242 / 22."
## What is the problem we are solving

I feel it would be a good idea to include the last four digits and the year of validity of the card used to perform each payment, on the respective invoice (updated: receipt). I think this may be helpful both for customers and hubs/shops, as an additional method to verify and control which payment is related to which card and order.

## Success factors = expe

[2020-04-20 16:32] RachL commented on #5272
@filipefurtad0 I don't think this is something we can do. Do you have examples of retailers doing that?

[2020-04-20 16:35] lin-d-hop commented on #5272
Every card receipt has this.
Ask for a receipt next time you pay for something by card.... interesting if FR don't do this...

[2020-04-20 16:38] RachL commented on #5272
@lin-d-hop a receip is different from an invoice.

[2020-04-20 16:38] filipefurtad0 commented on #5272
Yes, I though this would be common practice throughout Europe - at least. It is indeed interesting that this is not the case with France, and perhaps reason enough not to implement this in OFN.

[2020-04-20 16:42] lin-d-hop commented on #5272
If we get to the point that we issue receipts at payment and invoices when goods are delivered with updated charges... then we should consider these details on the receipt.

Agree with @RachL. Let's close this. #biggerfish

[2020-04-20 16:56] RachL commented on #5272
This is interesting. It peaked my curiosity so I event went digging out my old Amazon accounts. No credit card info on my invoices, whether I ordered through Amazon UK or FR or US (I'm sooo ashamed of these old account and carbon footprint, anyway...).

Receipt in France do have credit card info. So it is definitely a receipt thing, not an invoice thing?

If you want to use OFN invoices as receipt

[2020-04-20 18:35] filipefurtad0 commented on #5272
You are right @RachL - the title is misleading. I meant this as a feature for a receipt, an invoice which is settled for, or an order confirmation. So, the document which shows money is in. I've adjusted the title for clarity.

[2020-04-20 18:46] #5242 closed

[2020-04-20 19:32] RachL commented on #5272
@filipefurtad0  I'm sorry again: do you have examples of platforms showing card numbers on order confirmation or invoices? If not I believe the title should only be receipts?

[2020-04-20 21:02] myriamboure opened #5274 "Product item name not updating"
## Description

I updated the item name, but it didn't change in the opened order cycle.
(NB I didn't captures it but it did the same for the price of another product, I had to delete the product and recreate it to get the good price)

![Capture du 2020-04-20 22-57-00](https://user-images.githubusercontent.com/8135376/79799435-bc706800-835a-11ea-9a99-b497d9a35195.png)
![Capture du 2020-04-20 22-57

[2020-04-20 21:34] filipefurtad0 commented on #5272
I don't have examples where cards are used on invoices, and that is not really my intention with this papercut suggestion - thus removing from the title.

Perhaps I am missing how to print a document which proves payments/orders/payment methods, which can be used for tax purposes, but does not use the word "invoice"?

Under /orders/#ordernumber/edit -> "Actions" one can find "Print Invoice" and no

[2020-04-20 22:17] RachL commented on #5272
This is the feature I was talking about that was made for France - and I believe France is the only place where you have users using it?  You need a special printer for it. In any case those are supposed to be receipts. I think invoice is not the right translation?
For better and more accurate tax follow up reports are best used for it.

[2020-04-20 22:19] kirstenalarsen commented on #4437
Hi @rmklaus12 - how are you going with this?

[2020-04-20 23:58] rmklaus12 commented on #4437
Hi @kirstenalarsen. I did not dig into this as much as I'd hoped. My local environment is up and running and I've picked up another issue to work on. I can look into this again this week.

[2020-04-21 00:08] #5249 closed

[2020-04-21 00:32] mkllnk commented on #4599
@yukoosawa I think that was never implemented. People are buying only the minimum quantity and that's what they are invoiced for to start with. If the coordinator needs to spread more bulk item and adds to peoples orders according to their "max" value, that's handled after checkout and after the order cycle closed.

[2020-04-21 00:47] yukoosawa commented on #4599
@mkllnk Thanks for clarifiying! Is it also safe to assume that within a single shopfront, there can be both 'bulk' and non-bulk' items listed? I feel like the orange 'add' button for non-bulk + the min/max fields for bulk items -- makes it a little unclear that the min/max fields need a number input to 'add to cart'... Plus the change in interaction for +/- becomes confusing when there are two way

[2020-04-21 00:56] mkllnk commented on #4599
@yukoosawa

Yes, both is possible in the same shopfront. And you can't put a max value in if you haven't added a min value. That's a technical restriction at the moment so it would be nice if the design could support it but for now we can assume that people need to add the product first and then they can choose to set a higher value.

So we could keep the Add button. And we could keep the plus/min

[2020-04-21 01:17] yukoosawa commented on #4669
@Matt-Yorkley Yes good call out on the syntax tweak! I like your suggestion for:

-- Results for **[search query]** in **[filter-category]** or **[filter-property]**

-- Results for **Lemon** in **Fruit** or **Organic-Certified**

Can we make both the [search query] & [filter] in teal-500 (#0096ad). Red text always = error message to me :)

The 'in' and 'or' between the terms should be in grey-800

[2020-04-21 02:03] rmklaus12 commented on #4437
@kirstenalarsen - well not sure what changed, but I was able to create an enterprise locally. So, all good!

[2020-04-21 05:04] mkllnk commented on #4599
@daniellemoorhead @yukoosawa I would like to request a little change in the design to make it technically simpler. It's quite complex to evaluate if the product description fits into the line or not because it depends on the exact screen size. And it can change if people resize the window. It's easy to show an ellipsis at the end when it overflows and it's very easy to make a click on the descript

[2020-04-21 06:17] daniellemoorhead commented on #4573
@luisramos0 I think it's a good idea to have both the default closed message or the optional shopfront closed message displaying in the light grey area. Definitely. Please go ahead with that :)

[2020-04-21 06:49] mkllnk commented on #4599
@yukoosawa What do you think about the animation when hovering over a product image?

Image in the middle is hovered:
![Screenshot from 2020-04-21 16-44-34](https://user-images.githubusercontent.com/3524483/79833904-816c4400-83ef-11ea-881f-e8743350ae6a.png)

That's still the old brick red and I find it quite ugly in general. Since the hovering has no use on mobile and the desktop version still has

[2020-04-21 08:17] sauloperez opened #5275 "Release v2.9.4"
Steps:

- [x] Include translations
- [x] Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1338
- [x] Publish and notify #global-community: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v2.9.4
- [x] Deploy a

[2020-04-21 09:20] filipefurtad0 commented on #5275
Hi @sauloperez,

All good. Testing notes below:
https://docs.google.com/document/d/1smPaB3GRvgSGnNC1chffc5xcjndbt8JTgf0FlkpkXBk/edit#

Ready to go.

[2020-04-21 09:57] lin-d-hop commented on #5271
Duplicate of #4146

@louise #4146 is talking about backend orders.

[2020-04-21 09:57] #5271 closed

[2020-04-21 10:46] Matt-Yorkley commented on #4669
Thanks!

Updated version looks like this (search feedback styling and "no results" styling):

![filter-feeback](https://user-images.githubusercontent.com/9029026/79857127-99cb6700-83cd-11ea-88a6-e5a72b6b6eee.gif)

[2020-04-21 10:48] sauloperez commented on #5275
Thank you @filipefurtad0 !

[2020-04-21 10:54] sauloperez commented on #2971
I first quick attempt was done in https://github.com/openfoodfoundation/openfoodnetwork/pull/4409. We should check that code whenever we work on this.

[2020-04-21 11:16] lbwright22 opened #5276 "Ability to sort/filter Listing Orders page by Shipping Method"
## Description

A busy hub/food enterprise with multiple shipping methods (collection points and times) needs to be able to easily filter orders based on the shipping method for packing and logistics.
Currently you can sort/filter orders on the admin->Orders page by Status, Name, Invoice, email address, Distributor and Order Cycle but not Shipping Method.

## Expected Behavior

Visit Admin -> Orde

[2020-04-21 11:23] #5276 closed

[2020-04-21 11:33] lbwright22 opened #5277 "Enable Bulk Printing of Invoices destined for specific Shipping Method only"
## Description

As a manager of a busy hub which has multiple shipping methods (ie different collection points, delivery routes and times) I would like to filter my orders from that weeks order cycle and print the invoices for each shipping method in bulk separately.
By being able to do so, I can then keep the paper work separate. This will help with putting the correct paper work with a customer'

[2020-04-21 11:42] lbwright22 commented on #5277
![](https://github.trello.services/images/mini-trello-icon.png) [Invoices & Pick Lists](https://trello.com/c/Vn1V1M9M/912-invoices-pick-lists)

[2020-04-21 11:45] sauloperez commented on #5275
This was successfully deployed to all instances :rocket:

[2020-04-21 11:45] #5275 closed

[2020-04-21 11:55] lbwright22 opened #5278 "Enable Orders to be sorted by Customer Surname"
## Description

A busy hub manager with multiple orders each week needs to be able to streamline their paper work. They print an invoice for each customer to paper and attach this to their order before delivery/collection.
The order in which invoices are printed in bulk is not currently logical.  If the listing orders could be filtered by Distributor, Order Cycle and Shipping Method (issue #5277 )

[2020-04-21 11:55] lbwright22 opened #8559 "Enable Orders to be sorted by Customer Surname"
## Description

A busy hub manager with multiple orders each week needs to be able to streamline their paper work. They print an invoice for each customer to paper and attach this to their order before delivery/collection.
The order in which invoices are printed in bulk is not currently logical.  If the listing orders could be filtered by Distributor, Order Cycle and Shipping Method (issue openfoo

[2020-04-21 11:57] lbwright22 commented on #5278
![](https://github.trello.services/images/mini-trello-icon.png) [Invoices & Pick Lists](https://trello.com/c/Vn1V1M9M/912-invoices-pick-lists)

[2020-04-21 11:59] luisramos0 commented on #5277
We currently have filters for OC and distributor and the table only contains distributor, not OC.
You can add sorting to the distributor column, papercut.

Do you want to add two more columns to the table?  OC and ship method? Will that not make the table too complex/wide?
Has that been agreed with the product team?

UX wise, for simplicity, maybe the best solution would be to add just a filter fo

[2020-04-21 12:07] lin-d-hop commented on #5277
I would suggest that this is simply changing the ability to filter - not the columns in the table.

Just like you can filter by OC - we want to be able to filter by shipping method.

@lbwright22 I think you can simplify this story somewhat. Here we don't really need to know about Invoice printing at all. We simply want to be able to filter on the Orders page by Shipping Method. Perhaps the story w

[2020-04-21 12:12] luisramos0 commented on #3490
This can probably be investigated together with https://github.com/openfoodfoundation/openfoodnetwork/issues/5258
Maybe this is not a problem with stripe-sca, feeling optimist :blush:

[2020-04-21 15:16] luisramos0 commented on #5216
ok, updated design according to #4573 and [this decision](https://github.com/openfoodfoundation/openfoodnetwork/issues/4573#issuecomment-616976123), so this becomes:
phone
![image](https://user-images.githubusercontent.com/1640378/79882777-02750c80-83eb-11ea-8ddc-0341dff95c34.png)

tablet:
![image](https://user-images.githubusercontent.com/1640378/79882800-0d2fa180-83eb-11ea-9f46-6cab21520e49.png)

[2020-04-21 16:35] RachL opened #5281 "Missing translation key in admin order creation"
## Description
Sorry, something that I've missed in https://github.com/openfoodfoundation/openfoodnetwork/issues/4965 but when there is no more stock, the out of stock message is still in English.

## Steps to Reproduce

1. Go to `/admin/orders?q[s]=completed_at+desc`
2. Clic on "New order"
3. Try to add a product with no stock
4. See the missing keys

## Animated Gif/Screenshot

## Severity
bug-s

[2020-04-21 16:39] RachL commented on #5274
@myriamboure what was the product you had a problem with the name? The one on the screenshot? When is it best for me to try and re-test it on your shop?

[2020-04-21 17:11] RachL opened #5282 "Tag display does not work for managers"
## Description

As a manager of a hub, if you tag someone else than yourself, the tag will not be displayed in the list of customers. However it is still working.

A bit disturbing for our users: they have no possibility to check if they have tagged the right person.

## Steps to Reproduce

1. On demo hub in French production (ID 212) I've tagged an OC as "prive". This means that all customers wit

[2020-04-21 17:49] #4060 closed

[2020-04-21 19:22] tschumilas commented on #5282
Tags disappeared from customer lists this morning in 2 Canadian hubs.  All tags but one customer (no idea why that one).  Its not just appearance,  its also functional.  No customer whose tags disappeared is seeing any shops (they were tagged to OC).  I think this makes it an S1 - no?  There is no workaround -  shoppers cannot place orders.

[2020-04-21 21:00] luisramos0 commented on #5282
This was most probably introduced with the performance improve of the customers page.
https://github.com/openfoodfoundation/openfoodnetwork/pull/5196/files
in V2.9.3
A revert to v2.9.2 will most probably fix the problem.
Because it is a problem with the customers page,
- option 1 is that it just breaks tags you change or add
- option 2 it messes tag data around...
Based on the possibility of optio

[2020-04-21 21:39] tschumilas commented on #5282
How would an enterprise avoid the customer's page?  Sorry - I"m just not clear on the workaround here?

[2020-04-21 21:49] lauriewayne commented on #5282
I think that is more a survival strategy until we can revert and less a workaround. Can we safely revert ASAP to minimize possible problems from users unknowingly using the customers page?

[2020-04-22 00:49] tschumilas commented on #4829
Is it a bug or is it enhancement?  On one hand,  We have always had shipping fee taxes -  so its not a new feature.  Its just that the current functionality is not working for an instance with multiple tax zones.  There is no workaround really -  users cannot be legally compliant with tax requirements.

[2020-04-22 01:21] rmklaus12 commented on #1782
Still an issue, yes? Happy to grab this one as my first attempt (the browser back buttons) was a bit much as a first issue!

[2020-04-22 02:57] yukoosawa commented on #4599
@mkllnk Yes I'm ok with this. It's hard to tell from the screenshot (and not all the UI updates are in as yet) but as long as the user can still easily click/tap on the Producer link and the Price Breakdown icon (so hit / mobile tappable areas are maintained) then I'm fine with the product modal being triggered from the description.

Thank you for following up!

[2020-04-22 03:00] yukoosawa commented on #4599
@mkllnk Yes agree we can remove the brick-red overlay! I'm also thinking we should remove the icon too. Without the coloured overlay on hover it will be difficult to read over the image -- and I think that style of icon to enlarge is a little dated now :)

[2020-04-22 03:08] yukoosawa commented on #4669
@Matt-Yorkley Looking good! One small tweak - can we have the filter-category and filter-property terms in bold too? The blue text at that size is easier to read in a heavier weight and I don't think users will immediately understand the difference between those and the search query term.

Will be great to test this once we have it live on staging!!

[2020-04-22 04:48] rmklaus12 commented on #4966
I've had a poke at this and believe I fixed it? My first issue and it hasn't been assigned to me, but wanted to get a handle on the translations using this as my first issue test. Does it need to be assigned before I do a PR?

[2020-04-22 05:17] daniellemoorhead commented on #4829
I'd call this a new feature @tschumilas as it wasn't designed to work with multiple tax zones. A bug is where something isn't working as it was designed to.

I'm also unsure that it's papercut size, but I've put it in the papercut project for @kirstenalarsen and @lin-d-hop and @sauloperez to review.

[2020-04-22 06:03] #5282 closed

[2020-04-22 06:09] mkllnk opened #5284 "Release v2.9.5"
Steps:

- [x] Include translations
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [ ] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [ ] Nudge next release manager

The full process is described at https://github.com/openfoodfoundation/ope

[2020-04-22 06:51] RachL commented on #4966
Hi @rmklaus12 just putting a comment on the issue is enough to start a PR :) Thank you! Once the PR is there it will be linked to this issue.
We use transifex for all translation related issues. I'm unclear how it translate to your local environment, but this page on the wiki should contain all info: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29

Don't

[2020-04-22 06:53] RachL commented on #1782
@rmklaus12 yes this is still an issue!

[2020-04-22 07:04] #5284 closed

[2020-04-22 07:26] rmklaus12 commented on #5246
Similar to #4966 I resolved this one as well. In both, the keys needed to be in spree.admin.shared, which did not exist in en.yml. I added those and the necessary keys for the ones missing and missing translation errors/classes are not resolved. Is there anything I might be missing?
As they would be my first PRs, I'm hoping to get the go ahead since they are not currently assigned to me.

[2020-04-22 07:30] sigmundpetersen commented on #5246
Hey @rmklaus12 I assigned you and moved the issue to the In Dev column (same with 4966). Please submit your PR and you will get feedback on the code directly 🙂 Thanks!

[2020-04-22 07:41] lbwright22 commented on #5282
![](https://github.trello.services/images/mini-trello-icon.png) [Tags not saving on Stroudco](https://trello.com/c/jirlLYB3/927-tags-not-saving-on-stroudco)

[2020-04-22 09:13] rmklaus12 commented on #4966
@RachL - I believe the code for the translation itself was fine, it was just missing the keys in the en.yml file, which is what I added. I have been reading up on the other bit, all the pieces are coming together :-) I look forward to any feedback to see if I did miss something! I will do the PRs for both now.

[2020-04-22 12:54] sauloperez commented on #5097
that's very useful information that can influence decisions :+1:

[2020-04-22 13:00] sauloperez commented on #1782
I'm not sure the requires are clear for this issue. Last time we worked on it, it was rejected. See https://github.com/openfoodfoundation/openfoodnetwork/pull/1786#issuecomment-336354416

[2020-04-22 13:05] Matt-Yorkley commented on #4669
@yukoosawa Sure :+1:

I was wondering if we want a different colour for the filter terms to make it more obvious which is which?

[2020-04-22 13:11] Matt-Yorkley commented on #1782
I had a rummage in the code for this recently, and I think there's some configurable options in the javascript plugin for handling these "clustering" issues...

[2020-04-22 13:36] tschumilas commented on #5097
In Canada too - everyone needs information from multiple csvs to do what they want to do -  so everyone downloads and cuts and pastes each week -  because they don't have skills (and neither do I) to do more sophisticated things like scripts.
Re: emails & other contact info......   I THINK this was something you mentioned @RachL ?   If the hub is agreeing to let the supplier see the names.... does

[2020-04-22 14:52] sauloperez opened #5287 "Find a long-term solution for eager loading soft deleted associations"
### What we should change and why (this is tech debt)

We need to find a long-term solution for the hack introduced in https://github.com/openfoodfoundation/openfoodnetwork/commit/04c962432a7664a716907a55a9cd15afd115c6a8 and later applied in https://github.com/openfoodfoundation/openfoodnetwork/pull/5238 that doesn't require us to individually patch the AR associations that we need to eager-load.

[2020-04-22 14:53] sauloperez opened #5288 "Find a long-term solution for eager-loading soft-deleted associations"
### What we should change and why (this is tech debt)

We need to find a long-term solution for the hack introduced in https://github.com/openfoodfoundation/openfoodnetwork/commit/04c962432a7664a716907a55a9cd15afd115c6a8 and later applied in https://github.com/openfoodfoundation/openfoodnetwork/pull/5238 that doesn't require us to individually patch the AR associations that we need to eager-load.

[2020-04-22 14:54] #5288 closed

[2020-04-22 15:01] #5215 closed

[2020-04-22 15:22] sauloperez commented on #4829
I don't think this is a papercut either because it needs product research and investigation to come up with proper requirements. Shouldn't we open a wishlist item right away?

[2020-04-22 16:30] RachL commented on #5097
@tschumilas @kirstenalarsen re emails and phone numbers, these are my notes on discourse:

If we include them, we need to push ToS and ToC of hubs in production before this. Indeed the hub would need to have consent from the shopper to share its credentials to the producer...

[2020-04-22 17:55] RachL commented on #5192
@luisramos0 I'm sorry I've failed to move forward: the user is not responding anymore I won't have any console info. Is it worth to re-open #5080 ?
Also what's the status of this issue: How to test it in production?

[2020-04-23 01:03] emilyjeanrogers opened #5291 "Text of unselected OC invisible (white on white) in Order Cycle Selector"
## Description

When the customer chooses an Order Cycle on the first (red box) screen, both Order Cycles are visible. When the order cycle loads (box turns green), only the selected Order Cycle is visible. The other is white text on white background. You can move between the two order cycles, but only the selected one is visible.

## Expected Behavior

It should be possible to view the name of bo

[2020-04-23 03:50] mkllnk opened #5293 "Admin can't add to order after deleting order cycle"
## Error in OpenFoodNetwork

**ActiveRecord::StatementInvalid** in **spree/admin/variants#search**
PG::InvalidTextRepresentation: ERROR:  invalid input syntax for integer: "NaN"
LINE 1: ..."."sku" ILIKE '%Eye Fillet%')) AND (order_cycles.id = 'NaN')
                                                                 ^
: SELECT DISTINCT spree_variants.* FROM "spree_variants" INNER JOIN "exchange_varia

[2020-04-23 06:20] mkllnk commented on #4535
Hurray! This one will make @daniellemoorhead very happy. :tada:

![](https://media.giphy.com/media/iY08sb8H9mQG4/giphy.gif)

[2020-04-23 07:43] sigmundpetersen commented on #5291
I wonder if this is a duplicate of #5077 ?

[2020-04-23 10:00] luisramos0 commented on #5192
I think this is a dev-test/prod-test :-)
We need to check bugsnag and see if these errors still occur: none since yesterday, let's wait a few more days and look at bugsnag again.

I think that if user reports keep coming after this week, we need to reopen 5080.

[2020-04-23 10:08] #5245 closed

[2020-04-23 10:09] daniellemoorhead commented on #4773
@Matt-Yorkley there's one acceptance criteria not ticked - but I think it's done?

[2020-04-23 10:32] lbwright22 opened #5294 "Subscription Orders Failing for The Goodh Farm"
## Description

Order Cycle opening 21st April was the second week of generating subscription orders for 5 customers at Goodh Farm (UK).  Orders placed from the first week were generated correctly.
All five customers were sent emails stating that the products in their orders for the second week were out of stock.
Orders R654755880 and R757170603 appeared to be generated in the admin listing order

[2020-04-23 10:37] lbwright22 commented on #5294
![](https://github.trello.services/images/mini-trello-icon.png) [Issues with order cycle](https://trello.com/c/kH2koUhn/928-issues-with-order-cycle)

[2020-04-23 10:51] luisramos0 commented on #5294
both R654755880 and R757170603 are subs orders, you can verify that in the UI by listing the subscriptions and than editing the placed order in the subscription, right? this is an important existing feature I believe.

I cant remember, but arent all subs payments taken only on confirmation (end of the OC)? rather than placement (generation).

Can you be more specific about the "Actual Behaviour" a

[2020-04-23 10:54] lbwright22 commented on #5294
The email to the customer was wrong for all five subscriptions.
Three out of the five didn't generate any order.
I canceled the orders manually. I don't know what the user or hub manager did.

[2020-04-23 11:23] tschumilas commented on #4829
Wishlist created - https://community.openfoodnetwork.org/t/enable-tax-calculation-by-enterprise-on-shipping-fees/1916

[2020-04-23 11:24] luisramos0 commented on #5294
ok, I think I have a clue, at the beginning of the OC when the orders were being placed there were 2 subscriptions for each user in the system (I wonder if this is something easy to do by a user, create a subscription for a customer with a subscription already created **for the same schedule**). The cancellation date of the duplicate subscriptions is after the beginning of the OC (yesterday at 8h4

[2020-04-23 11:25] sauloperez commented on #4829
I'm closing this to avoid duplicates.

[2020-04-23 11:25] #4829 closed

[2020-04-23 11:57] lbwright22 commented on #5294
The orders on the system are the duplicate subs I created yesterday.

5 subs were meant to generate orders on 21st April- 2 did and 3 didn't.
I canceled all 5 subscriptions on 22nd April and then re-created (so that the customers got their items and to help the hub manager)-> these are the 5 open orders showing which are OK :-)

Sorry, I realise by deleting and recreating I have made things confus

[2020-04-23 12:09] luisramos0 commented on #5294
That is important information :-)

I have the 5 initial orders now:
 R344278214
 R260881305
 R757170603
 R861000662
 R654755880

The failed 3 are there, they were just not completed because they are empty...

We need to have a look at the managers summary email. Can you ask the manager for that email?

One issue that can come out of this: we should probably store that summary somewhere on our logs

[2020-04-23 15:12] kirstenalarsen commented on #5097
ok cool, go with it as is and let's get feedback

[2020-04-23 16:50] Matt-Yorkley opened #5296 "Release v2.9.6"
Steps:

- [x] Include translations
- [x] Release draft https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-c588c6ffdf1ca450ca18
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1351
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [ ]

[2020-04-23 17:31] luisramos0 commented on #4684
Nice, thanks @yukoosawa that css works!

I finished this PR and then went to test it and I realized I was changing all modals in the FrontOffice :blush:
For example, the "outside area" around the modal on mobile, is that not something we want to have on all modals? The modals I am aware of are product (this issue), login, registration and cookies policy.
Login would move from
![image](https://user

[2020-04-23 18:39] luisramos0 commented on #5296
ok @lin-d-hop I created a new draft and updated the semaphore link in the description. test ready again. Thanks!!!

[2020-04-24 07:12] daniellemoorhead commented on #4684
@luisramos0 I'm a bit confused, because you're "from" screenshots (which have orange buttons) look like the new version and your "to" screenshots (red buttons) look like the old version. Are they in the correct order?

[2020-04-24 07:34] daniellemoorhead commented on #4684
OK, I looked at my phone and I think the orange buttons are just confused the situation (when did they change?) and the difference is that currently the log in / sign up / register enterprise modals on mobile are flush with the edge of the screen, but in the new version there is a gap. Correct @luisramos0?

If this is correct, then I think the enterprise register form looks terrible (the placement

[2020-04-24 07:43] daniellemoorhead commented on #4601
Hey @Matt-Yorkley the epic never moves out of the In Dev column, only the stories. Once all the stories are through to done we move the epic to closed. So I've put this back in the in dev column again.

![](https://66.media.tumblr.com/ebf7018b54ea636973b6acb2f9c7883d/eeb993b946a11230-57/s500x750/d550163eb2f4e6d74e75753099239100b66184e5.gif)

[2020-04-24 08:39] rmklaus12 commented on #5104
I'll grab this one.

[2020-04-24 08:40] rmklaus12 commented on #4534
I'm going to take #5104 , but happy to get assigned this one as well.

[2020-04-24 08:41] sigmundpetersen commented on #5104
Great thanks @rmklaus12 !

[2020-04-24 08:42] sigmundpetersen commented on #4534
Thank you!

[2020-04-24 08:46] RachL opened #5299 "Impossible to filter order page with several OC"
## Description

When selecting several OC as a search field on the order page, the result only shows one OC.

## Steps to Reproduce
1. Go to `/orders?q[s]=completed_at+desc`
2. Select several order cycles (OC) in the search field
3. Check the results

## Severity
bug-s3: a feature is broken but there is a workaround

## Your Environment
* Version used: v2.9.3
* Browser name and version: Firefox 76

[2020-04-24 09:00] luisramos0 commented on #4684
yes, correct. for some reason the buttons are orange on staging FR!
ok, as you seem open to it, I'll tweak these views a little and share results here.

[2020-04-24 09:22] lbwright22 opened #5300 "Products Sold Exceed Max Stock Level"
## Description

Large UK Hub reported that for their OC 20/04/20 :
1) at least two producers found orders for products in their order cycle summaries which exceeded the max. stock level they placed.
These producers were Hester's Harvest and Hoe Made Acre
2) customer's received invoices containing products listed as purchased with zero quantity:
R781345776 Asparagus Green (250g) Hester's Harvest
R8

[2020-04-24 09:24] lbwright22 commented on #5300
![](https://github.trello.services/images/mini-trello-icon.png) [Tamar negative stock](https://trello.com/c/PLpYAc75/944-tamar-negative-stock)

[2020-04-24 10:30] #4535 closed

[2020-04-24 10:57] luisramos0 commented on #5300
I will not have time to look into this any further until Monday. Maybe another dev will?

I just looked at the stock movement in the DB, it looks like there was a rush to the asparguss, yes. But movements were a few seconds apart... maybe enough to make our concurrency solution to break...

![image](https://user-images.githubusercontent.com/1640378/80205555-b7ddd500-8622-11ea-9d90-ecd28f6faa57.png

[2020-04-24 21:32] tschumilas commented on #5106
Issue aside -  love the groups feature -  and I love them with the little product category icons.  I wish we weren't going to lose those.    I support a fix for this issue for sure.   Be so nice if it was a small size.

[2020-04-25 02:26] yukoosawa commented on #4669
@Matt-Yorkley You make a good point but I'm ok to leave all the terms in blue.

Search + filter combinations typically result in '0 results' as it requires the user to understand how the shop categorises. For example: https://openfoodnetwork.org.au/prom-coast-food-co-op/shop#/shop

- flour + products = 0
- flour + bakery = results
- spaghetti + bakery = 0
- spaghetti + products = results

It's not

[2020-04-25 02:49] yukoosawa commented on #4684
@luisramos0 cc: @daniellemoorhead Based on the screenshots included here (+ the tweaks already mentioned) I'm ok for the change to ripple out to FrontOffice.

OFN uses too many modals!! For sign up / login it provides some focus for the user, and what we're requesting from the user is short, sweet, and commonly understood. I'm not familiar with the enterprise side of the platform – but if that mod

[2020-04-25 05:18] daniellemoorhead commented on #4669
I reckon that scope creep line will put thoughts in @Matt-Yorkley
<https://github.com/Matt-Yorkley>'s head....not necessarily a bad thing 😉

But we can create a card for that and add it as a papercut...shouldn't be
that hard to do.

On Sat, 25 Apr 2020 at 12:26, yuko osawa <notifications@github.com> wrote:

--
Open Food Network Australia
www.openfoodnetwork.org.au
Our software platform
<https://ab

[2020-04-25 15:59] RachL opened #5302 "Missing translation keys in Paypal Express form"
## Description

When adding paypal as a payment method, all the fields a user needs to fill are not translated.

The **title "provider settings"** is also not transalted.

## Steps to Reproduce
1. As a enterprise manager, go to `/admin/payment_methods/ENTERPRISEID/edit`
2. Select Paypal Express as a provider
3. See the missing translation

## Animated Gif/Screenshot
![image](https://user-images.gi

[2020-04-25 16:13] RachL commented on #4971
hello @rmklaus12 are you still working on i? I'm asking in order to know if I should un-assigned you or not. Thanks :)

[2020-04-25 16:17] RachL commented on #5094
Hello @sharonfruit I hope you are doing fine. Are you still planning to work on this?

[2020-04-25 20:12] sharonfruit commented on #5094
Hi @RachL , I did track the root cause of this issue down to the app/views/spree/admin/orders/set_distribution.html.haml file (unexpectedly not app/views/spree/admin/orders/index.html.haml) where the translation for "new" is being prepended to the page_title and order number that is set in the shared app/views/spree/admin/shared/_order_tabs.html.haml.

A translation key for "new order" does exist

[2020-04-25 20:29] yukoosawa commented on #4669
More than happy to make it a papercut. There are **A LOT** more things in Mobile UX that are way more beneficial to both the user and OFN!!!

[2020-04-25 20:39] tschumilas commented on #5300
Just had a report from a hub that also had this happen.,  Getting details from her - but she says it was a really popular product -  it happended last week and this week
I'll get details here.

[2020-04-26 01:46] rmklaus12 commented on #4971
@RachL - please unassign me. It was a bit more than I can do at the moment and Danielle has pointed me to some better issues. Thank you!

[2020-04-26 02:53] yukoosawa commented on #4599
@mkllnk A few more questions about bulk ordering!
- Is bulk (min/max) applied at a product level? Or can individual variants associated with a product be bulk or regular?
- Is bulk 'max' specified by the shop/hub? Can it be?

[2020-04-26 10:07] JenRSmith commented on #5190
Tested and all working as required. Moved to Ready to Go. Testing notes here - https://docs.google.com/document/d/1FrzdO1lpDQsxOjoDhdx0PTU452wezekVq9vQvwIFaZ0/edit#

[2020-04-26 13:24] #5190 closed

[2020-04-27 02:24] rmklaus12 commented on #4534
Can someone point me in the right direction for this code? I've done very little mobile development and while I'm getting to know the codebase by digging around, I don't want to waste too much time. Thank you!

[2020-04-27 02:53] daniellemoorhead commented on #4534
http://mobileinputtypes.com/

[2020-04-27 07:18] RachL commented on #4971
no problem!

[2020-04-27 07:28] #4966 closed

[2020-04-27 09:14] lin-d-hop commented on #5296
Alright team. This is ready to go :tada:

Testing Notes:
https://docs.google.com/document/d/1wpwWbVlipCpQy30KXUmZzZkvKkyVoxtlB8mnCxcl2nM/edit#

[2020-04-27 09:48] filipefurtad0 opened #5303 "Change PriceSack Minimal amount from Integer to Float"
## Description

'Price Sack' Shipping method does not consider non-integer figures as Minimal amount, which is used as boundary condition for applying the Normal or the Discount amount. This is related to issue #4654 and PR #4812

While non-integer figures are accepted in the settings of the shipping method, one observes incorrect calculation in on checkout, caused by the truncation of a non-integ

[2020-04-27 10:10] dacook commented on #5299
This seems unrelated to sorting, I think the issue is that it's only showing orders for the last selected Order Cycle.

I can see that only the last OC ID selected has been retained in the api orders controller params
(app/controllers/api/orders_controller.rb). Eg:
http://0.0.0.0:3000/api/orders.json?page=1&per_page=15&q[completed_at_not_null]=true&q[order_cycle_id_in]=1&q[order_cycle_id_in]=3&q[s

[2020-04-27 10:39] luisramos0 commented on #5018
Can you please clarify the details for "I can't access the 'Edit Order' payment tab." _before_ you resume the order? What exactly happens?
I dont understand why this is not an S2.

[2020-04-27 10:43] daniellemoorhead commented on #4599
@yukoosawa the min/max is applied at a product level, when you create the product there is an option of "group buy options" and you set the bulk unit size.

<img width="744" alt="Screen Shot 2020-04-27 at 8 39 03 pm" src="https://user-images.githubusercontent.com/10949052/80363161-280c8500-88c7-11ea-99f1-07dc31437b8c.png">

[As the guide says](https://guide.openfoodnetwork.org/basic-features/produ

[2020-04-27 10:44] lin-d-hop commented on #5018
This is the way OFN has worked for as long as I remember.

The workaround is to log into Stripe and refund the order on the hubs behalf.

I'm not clear on the proposed fix:
1. To make reactivating an order work again?
2. To make the payments tab functional on cancelled orders?

[2020-04-27 11:18] dacook commented on #5299
I must be a bit rusty on my GET param knowledge.. but it seems it needs to have trailing square brackets, ie:
http://0.0.0.0:3000/api/orders.json?q[completed_at_not_null]=true&q[order_cycle_id_in][]=1&q[order_cycle_id_in][]=3

Firefox seems to consider either form acceptable as an array, but I guess Rails doesn't.

The DOM seems correct:
`<select ... id="q_order_cycle_id_in" multiple="multiple" na

[2020-04-27 11:21] dacook commented on #5171
Thanks @luisramos0 , this is really detailed and helpful! You're right, not a good first issue, I forgot to look for the tag. I don't think I'm going to be able to progress it in the short term, so it might be best to unassign me in case someone else can pick it up.

[2020-04-27 11:28] lbwright22 opened #5305 "Change Ready for message for Long term (continuously open) Order Cycles"
## Description

As a shopper I visit the home page of a hub/shop which has an order cycle which is open all the time.
In the blue order cycle notice box in the top right corner the text 'Next Order Cycle Closing in ....' is displayed.  This is confusing.  I might think I won't be able to collect my food for another year/month.
![withtext](https://user-images.githubusercontent.com/45104035/80464499

[2020-04-27 11:37] #4654 closed

[2020-04-27 11:56] luisramos0 commented on #5100
I could spend some time investigating this now but it's a month old. Any other occurrences @kirstenalarsen ?
Maybe we can downgrade to S3 based on the fact it's not happening to a lot of people?

[2020-04-27 12:00] #5212 closed

[2020-04-27 12:06] luisramos0 commented on #5239
yeah, there would be some gain in performance but I think we should remove the update button and send to the server alll the user interactions. These changes of quantities in the cart wont be a major load on the server anyway.

[2020-04-27 12:19] RachL commented on #5305
hello @lbwright22 I believe that the one Kirsten has opened here: https://github.com/openfoodfoundation/openfoodnetwork/issues/5216 Works as well in your case isn't it? I would favor it as it gives a solution that is broader than one particular use case.

[2020-04-27 12:26] RachL opened #5306 "Tax report is showing order.created_at instead of completed_at"
## Description

When looking at the report `/admin/reports/sales_tax` the date shown is `order.updated_at`, we need it to be set at `completed_at` which would then be the same date as shown in `/admin/orders?q[s]=completed_at+desc`.

## Steps to Reproduce
1. Connected as a manager, check the dates of the report `/admin/reports/sales_tax`

2. See some of them are different from `/admin/orders?q[s]=

[2020-04-27 12:28] lin-d-hop commented on #5305
@RachL These are different enhancements

@lbwright22 Rachels comment makes it clear the enhancement isn't yet clearly specified. I gave a few tips on Slack for improving it :smile:

[2020-04-27 13:23] myriamboure commented on #5274
The item name always is for a product, never a variant as long as I remember @RachL
So it applies to all variants of a product.
I have the case on many variants, still now you can check in the shop now the OC open only tonight it is open tuesday and wednesday all day.
The producer "Aurore de Provence" just told me now that he had changed name from sachet to bocal for one or two products and it did

[2020-04-27 14:16] filipefurtad0 commented on #5239
Removing the update button sounds great to me, especially if there is a negligible effect on performance.  This way, the shopfront and the cart will work in a similar way :+1:

[2020-04-27 15:02] RachL opened #5307 "Error 422 (grumpy cat) on cloning an order cycle"
## Description

Hub 922 in Frend prod cannot clone some of its OC. These OC contains meat products that I suspects where changed from item to weight.

## Steps to Reproduce
1. On French prod, try to clone this OC: https://www.openfoodfrance.org/admin/order_cycles/3570/clone
2. See grumpy cat

## Animated Gif/Screenshot
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/9966

[2020-04-27 18:00] luisramos0 opened #5308 "Karma tests dont run inside the docker container"
## Description
We have more devs using docker :tada:
Karma tests dont run inside docker.
We need to install node and make HeadlessChrome work for karma.

## Expected Behavior
~750 green tests with something like this:
sudo docker-compose run web bash -c 'bundle exec rake karma:start'

## Actual Behaviour
Karma fails.

## Steps to Reproduce
Go through the docker setup and then run
sudo docker-compo

[2020-04-27 19:52] myriamboure opened #5310 "Product price doesn't not update in the OC"
## Description

The veggy producer has changed the price of a poduct for the new OC. The product has the new price in product list, but in the OC it is still the old price strangely...
In front of me he changed another price, for potatoes, and that time the price updated correctly in the OC. But nothing to do with the first product... I asked him what happened when he did the changed, apparently h

[2020-04-27 19:54] kirstenalarsen commented on #5306
Disagree that this is s2. It has always been like this and no one noticed until now

[2020-04-27 19:55] myriamboure opened #5311 "I open and close an OC, it still appears as visible WITH the shop closed message :-("
## Description

The images speaks by itself
![Capture du 2020-04-27 21-53-31](https://user-images.githubusercontent.com/8135376/80414599-93f3eb00-88d1-11ea-870a-7cfe1934c75e.png)

## Expected Behavior

When I close the OC the shop appears as closed.

## Actual Behaviour

The shop appears as closed AND the products are displayed as if it was opened

## Steps to Reproduce

1. I created an OC suppose

[2020-04-27 19:58] kirstenalarsen commented on #5100
I think ok to make this back to s3 until we see it again. There is a risk that will take a while for us to see it again and it's still just lurking and losing customers for people, but I see that without more data we're stuck. So if/when I see it again I need to check that:
a) an order cycle hasn't closed between page load and selection
b) include screenshot of the data from the PARAMS tab

[2020-04-27 19:59] kirstenalarsen commented on #5100
won't change the label on it - can agree in delivery train tonight

[2020-04-27 20:10] RachL commented on #5306
@kirstenalarsen I don't kbow if you read the full discussion on slack but the reason for it to be tagged S2 was that there is no workaround (no other reports are showing the date) and that it was a really simple job to do (2min).

[2020-04-27 20:14] RachL commented on #5311
@myriamboure are all your delivery and payment methods activated and no tags are involved? When I go to your shop currently I see it closed with no products.

[2020-04-27 20:22] myriamboure commented on #5274
I basically have to "force" the display name on almost all products, I realized modifications I did last week never went through, even on the new OC I created today...

[2020-04-27 20:32] myriamboure commented on #5311
Yes, all delivery and payment methods and delivery methods are activated and no tags are involved. I am managing other enterprises with that account, so no all payments and delivery methods I see are activated I guess though, but all that I created for that shop are activated.
Ok so if you see it closed with no products, it probably means only me as a manager can see it which is good, BUT I could

[2020-04-28 00:50] kirstenalarsen commented on #5018
I think that the proposed fix is either:
2. make the payments tab functional on cancelled and resumed orders
OR
3. automatically refund credit card payment when the order is cancelled

I would be happy with either. The second one is perhaps more complex - potentially leading to different behaviour in stripe vs other payment methods; and still needing a login to stripe to take the payment again if

[2020-04-28 00:51] kirstenalarsen commented on #5018
@luisramos0 i think the answer to your question is described above - you try to click on the Payments tab but it just keeps taking you to the Customer Details tab

[2020-04-28 00:55] kirstenalarsen commented on #5311
could this be a cache thing @Matt-Yorkley ? I know it's not meant to be on this page but suspiciously like the thing where info on order cycle open/closed may be delayed into the shops page by x seconds / minutes. Is it possible that there's a typo somewhere that is making it also delay update on the Shop page?

[2020-04-28 00:56] kirstenalarsen commented on #5310
any possibility he has an override in Inventory? If it exists it will be used in his Shop regardless of any settings

[2020-04-28 08:00] daniellemoorhead commented on #4684
Am taking the `feedback-needed` label, over to you @luisramos0 👍

[2020-04-28 08:06] daniellemoorhead commented on #4604
Hey @Matt-Yorkley this one and #4603 are in code review, but you've merged the PR into the branch. Where shall we put these 2 issues, shall they move to test ready and I'll start testing the branch?

[2020-04-28 08:15] daniellemoorhead commented on #4186
Hey @filipefurtad0 and @luisramos0 #5253 is in the latest release so this issue can be tested on production as soon as it's deployed. 🎉

![](https://media1.tenor.com/images/f31b295f726fc918200f1107a8297b0e/tenor.gif?itemid=13243259)

[2020-04-28 08:25] lbwright22 commented on #5305
@RachL and @lin-d-hop hope the description makes more sense now. Sorry for confusion

[2020-04-28 08:35] Matt-Yorkley commented on #4604
I think once these other 2 PRs are reviewed and merged we can test the whole branch together.

[2020-04-28 08:48] sigmundpetersen commented on #4604
So we can close this and #4603 then?

[2020-04-28 08:49] luisramos0 commented on #5018
ok :+1: thanks!
So we keep it S3 and agree the solution is option 2 :+1:

[2020-04-28 09:28] Matt-Yorkley commented on #5311
We haven't actually implemented _any_ of the potential caching proposals yet, so we'll have to wait just a little bit longer before we can immediately blame the cache when anything goes wrong :wink:

So in this case; the manager of the shop sees the product list as if the shop is open (when the shop is closed), but other users don't?

[2020-04-28 09:30] luisramos0 commented on #4211
I am adding the blocked label here just to make it clear this is not in active development.
We will roll out the current solution to as many hubs as possible and collect feedback. After that we will resume this dev effort.

[2020-04-28 10:48] #4877 closed

[2020-04-28 11:16] Matt-Yorkley commented on #4773
Hey @daniellemoorhead I wasn't sure about that last point. Is it all good, or do we need a little issue for it? I'll leave that up to you.

Either way I'll close this main issue now :+1:

[2020-04-28 11:16] #4773 closed

[2020-04-28 11:37] Matt-Yorkley commented on #4603
Blocked, awaiting review and merge of related PRs in the epic before testing.

[2020-04-28 12:37] mathewdbutton commented on #5173
Hey @kirstenalarsen I was going to try and pick this issue up if that's cool.

A quick mock up of what I was thinking
![Screen Shot 2020-04-28 at 10 28 22 pm](https://user-images.githubusercontent.com/1100707/80487107-9f154c80-899f-11ea-8f94-83eea9127f8b.png)

I wondered if the text should go underneath the payment state to take into consideration any refunds/balance due that run several digits lo

[2020-04-28 15:09] #5149 closed

[2020-04-28 15:55] Matt-Yorkley commented on #3608
Some of our databases are reaching ~2.5 million records in the sessions table. We maintain 2 indexes on that table, plus we have to query it on every pageload or endpoint. We even hit it when serving an asset like an image for some reason. :see_no_evil:

[2020-04-28 16:03] #5296 closed

[2020-04-28 17:19] RachL commented on #5311
Yes that's what I understand as well @Matt-Yorkley

@myriamboure we should pair next week when you are doing it so that we can get as much info as possible. You are the only one with the problem so far so we need as much info as we can before we can to be able to reproduce it.

[2020-04-28 17:29] RachL commented on #5274
@myriamboure ah ok so you are talking about the variant unit name. Not the product name. I've compared the product list and the shop for this producer and the info are correct now.

What do you mean by "force"?

[2020-04-28 17:47] RachL opened #5321 "Sort invoices in bulk invoice printing with completed_at desc order"
## Description
**- As a:** enterprise manager
**- On page:** `/admin/orders?q[s]=completed_at+desc`
**- I want to be able to do:**
Today when I select orders, the "print invoices" button does give me only the orders I have selected, however it does not keep the order I see in the order page.

If keeping the order is not possible (because too complex regarding filters etc), having them ordered by `

[2020-04-28 18:06] luisramos0 commented on #5239
Filipe FYI
I just realized we have an extra modal (not an alert) to show out of stock in some particular concurrent situations.
This modal is being tested in specs but I cant replicate the scenario manually :see_no_evil:
Here's the code of the test: https://github.com/openfoodfoundation/openfoodnetwork/blob/9e43661127ec045ea5c53ea0797a637d5f0273b4/spec/features/consumer/shopping/shopping_spec.rb#L

[2020-04-28 23:32] mkllnk commented on #3608
What? Did you test that in production or development? I can understand development because it needs the asset pipeline but nginx should handle this in production.

I just requested https://staging.openfoodnetwork.org.au/system/content_configurations/logos//original/OFN_Aus.png?2020 and the unicorn logs don't show any request while nginx logs show it. I think this is okay.

#### Sessions

The sessi

[2020-04-29 03:52] kirstenalarsen commented on #5173
Hi @mathewdbutton - yes I wasn't sure about this either! I think perhaps the negative is actually confusing here - saying 'credit owed: -$5.00' makes it a double negative and seem like perhaps it's a balance due! So I think let's go with what you've suggested above . .
@lin-d-hop @RachL @tschumilas any different views on this?

[2020-04-29 04:15] tschumilas commented on #5173
The only point where this might get confusing -  is if I am managing an account that has a credit owed, and I'm going to refund it  -  I do that by issuing a negative payment -  don't I?   I go to new payment, and make a negative payment.  So thats where the negative sign helps me frankly -  otherwise,  i could accidently issue a postive payment -  and then then is just further over-payment.   If

[2020-04-29 06:13] kirstenalarsen commented on #5173
I am pretty sure it gets automatically put into the new payment box as a negative ?

[2020-04-29 06:19] kirstenalarsen commented on #5173
But I don't have a strong view - if @tschumilas reckons -ve is best let's go with that :)

[2020-04-29 07:12] RachL commented on #5173
Yes let's keep the negative for now and see with user feedback later on. But I do agree that I'm myself re-assured by this sign :)

[2020-04-29 07:23] RachL commented on #5018
Aligned with option 2 as I think we have somewhere an issue to issue credit in bulk.

In the future, I think I would explore automatic refund if the customer was cancelling the order. But let's see with more user feedback if this is needed!

[2020-04-29 07:44] luisramos0 commented on #5173
For me the -ve sign is confusing. It's a balance due of 5usd and a credit of 5usd.

[2020-04-29 09:14] filipefurtad0 commented on #5239
Thank you very much for pointing this out @luisramos0. I'll see if I can replicate this manually.

[2020-04-29 09:36] luisramos0 opened #5324 "Delete calls to fire_event"
### What we should change and why (this is tech debt)
We are firing some events that are not used anywhere. Not in OFN and not in spree.
We can delete them as described [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/5289#discussion_r417175296).

### Context
From #5289 where we deleted 2 of them.

### Impact and timeline
It's a good and easy clean up of some dead code.

[2020-04-29 09:37] sauloperez commented on #3608
to be honest, I don't think we even need more than a month.

[2020-04-29 09:58] luisramos0 commented on #5192
I think the situation has improved a lot, very few errors this week. I can only see two users with problems, new errors. they are seeing the snail. I thought the last PR handled a 404 but apparenly it doesnt, I can create a new issue for that if it keeps happening. 2 users in one week in UK is not a lot but maybe worth doing it because it's checkout.

I marked the errors as fixed on bugsnag, I'll

[2020-04-29 11:20] mathewdbutton commented on #5173
I think I'll go with majority vote here, as I seem to be swayed by both arguments here. We'll see what the feedback looks like.

[2020-04-29 12:14] RachL commented on #4186
@kirstenalarsen are you able to test in production? The issues give a link to a specific example in AU prod.

[2020-04-29 12:47] luisramos0 commented on #4186
I clicked that link and I see a snail. The order does not exist in the database!? The issue is from Aug 2019, what happened to this order!?
link:
https://openfoodnetwork.org.au/admin/orders/R451317181/edit
SQL:
select * from spree_orders where number = 'R451317181'
no results

I went to bugsnag and tried one of the errors there, it now works:
https://openfoodnetwork.org.au/admin/orders/R655304771/

[2020-04-29 14:36] #5222 closed

[2020-04-29 14:46] RachL opened #5328 "[Testing] Identify which cookies extension we can support"
## What is the problem we are solving

A customer reached out to us on twitter explaining that he is using this extension https://www.i-dont-care-about-cookies.eu/ which is not working with our cookie banner. As a result he cannot navigate properly on the website (he can de-activate the extension, but I guess this can happen to less tech-enthusiast people).

I'm creating this issue in order to :

[2020-04-29 15:07] #4782 closed

[2020-04-29 18:10] #1534 closed

[2020-04-29 19:00] RachL commented on #5328
Outch actually there might be quite a few:

For firefox: https://addons.mozilla.org/fr/firefox/search/?q=gdpr

For Chrome: https://chrome.google.com/webstore/search/gdpr?_category=extensions

[2020-04-29 19:21] tschumilas opened #5331 "When tax is excluded from prices, tax is not separated by line items in the database"
## Description
When tax is included in the price (throughout Europe & Aus), there's an adjustment in the database for each line item that equals the amount of the tax.   When tax is not included in the price (US & CAN) there's an adjustment in the database for the order in the amount of the tax. In these - tax excluded from price situations,  all of the tax amounts are summed for each order before

[2020-04-29 22:34] kirstenalarsen commented on #5173
can i do a facepalm emoji in github :) ? I'm calling it - go with the -ve thanks @mathewdbutton. If people are confused it's an easy thing to change

[2020-04-29 22:39] mathewdbutton commented on #5173
🤦 I got you covered @kirstenalarsen. Yeah I think it then keeps it consistent with the payments page which also displays the same information like this, with the -ve sign.

[2020-04-29 23:12] mkllnk commented on #4957
Another example:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5314/builds/1

[2020-04-30 10:06] #3793 closed

[2020-04-30 10:57] sigmundpetersen commented on #2828
Underlying issues closed and no further description so closing this.

[2020-04-30 10:57] #2828 closed

[2020-04-30 11:08] sigmundpetersen commented on #5057
If this was due to email quotas and that has been resolved, I think we can close.

[2020-04-30 11:08] #5057 closed

[2020-04-30 11:26] sauloperez commented on #4462
@luisramos0 https://github.com/openfoodfoundation/openfoodnetwork/pull/5332 is what you wanted, right?

I'll focus now on logging.

[2020-04-30 12:58] luisramos0 commented on #4957
interesting. this issue was for the rails 4 branch, the fact that you are seeing it in rails 3 it probably means its not specific to the rails 4 branch :+1:

[2020-04-30 13:00] #5246 closed

[2020-04-30 13:08] luisramos0 commented on #4462
I think 5332 is enough actually!!!
We already have all the info we need with that and the versions table.

[2020-04-30 13:09] luisramos0 commented on #4462
I think #5332 closed this issue.

[2020-04-30 13:12] luisramos0 commented on #4462
I believe the additional logging work is not related to schedules and OCs now , but rather to #5294 which related to, I think!, subscription_line_items and stock levels...

[2020-04-30 13:21] sauloperez commented on #4462
alright then, I'll update the PR and get to that issue :+1:

[2020-04-30 13:46] luisramos0 commented on #5331
I think the best next step here is to create a good example order in staging or prod so we can see exactly what is the actual behavior and what is expected behavior.

[2020-04-30 14:01] #3509 closed

[2020-04-30 16:39] tschumilas commented on #5331
Example case:
Demo Hub,  sells products from 2 suppliers:   Demo Farm,   and Demo CSA
Each supplier sells 1 taxable and 1 non-taxable product.
The hub also added some flat fees -  so you can see these show up.  I didn't include an enterprise
fees bundled in the shop price just for easy math.

I placed an order for all 4 products.  The shop and buyer are in Ontario -  tax rate on taxable products i

[2020-04-30 18:23] lin-d-hop opened #5335 "After deleting a product I can't cancel an order containing that product"
## Description

Once a product has been soft-deleted it still appears in orders placed.

If I then want to cancel that order I cannot.

message = 'You need to save the variant to create a stock item before you can set stock levels.'

https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5da4ec3ec076fc0019b57ad6?filters[event.since][0]=30d&filters[error.status][0]=open

## Expected Behavior

I

[2020-04-30 18:24] lin-d-hop commented on #5335
![](https://github.trello.services/images/mini-trello-icon.png) [Helston can't delete order](https://trello.com/c/QeZeUz6H/996-helston-cant-delete-order)

[2020-04-30 18:56] RachL commented on #5335
😱 and here I am deleting products for one of my users.... too late :'(

[2020-04-30 19:09] RachL opened #5336 "Missing translation key in error message"
## Description
When adding a product, the error message appearing when you forget some mandatory fields is partly untranslated.

## Steps to Reproduce
1. Go to `admin/products`
2. Try to add a product without a producer
3. See error message with 2 sentences untranslated

## Animated Gif/Screenshot

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/adcd0a95-f28c-436e-a67f-6

[2020-04-30 19:13] greenwoodsm opened #5337 "Adding New Product - incomplete entry, fully deleted"
## Description
While adding a new product, before filling in all the sections (Value), I hit "Create" and got sent to a new page saying an error occurred "We're sorry, but something went wrong."

I could not backtrack to my previous work, so I had to start over. I accidentally clicked the "Create" button and/or I wanted to "save" the entry in order to go check something else.

## Expected Behavior

[2020-04-30 20:27] Matt-Yorkley commented on #5335
I wrote a spec related to this yesterday. When a variant is soft-deleted it's line item is hard-deleted...

[2020-04-30 20:28] Matt-Yorkley commented on #5335
Cancelling the order obviously tries to restock the deleted variant.

[2020-04-30 20:43] luisramos0 commented on #5331
ok, thanks, that's very clear!

The database supports this in the adjustments table the source of the adjustment can be the line item BUT in this case the source of these adjustments of $1.3 is the **order**... but in some other cases (I see lots of it in AU live db for example) the source of the adjustment is the **line item** (which would make it possible to get the data to a report) but maybe i

[2020-04-30 21:12] tschumilas commented on #5331
Indeed -  this is the conclusion from Sean  @Fug1 at the start of this issue:  When tax is included in the price (throughout Europe & Aus), there's an adjustment in the database for each line item that equals the amount of the tax. When tax is not included in the price (US & CAN) there's an adjustment in the database for the order in the amount of the tax. In these - tax excluded from price situat

[2020-04-30 21:23] Fug1 commented on #5331
Yeah, you've got it exactly right @luisramos0. If tax is included in the price, there is an adjustment for the **line item** in the amount of the tax. When tax is not included in the price, tax is totaled for the order and stored as an adjustment for the **order**.

We can't realistically create a report that includes tax for each line item with the currently available information in the database.

[2020-04-30 21:29] luisramos0 commented on #5331
ok, we agree about the problem.

My problem is that I cant even think of a solution for this in the code. It's complicated and it will break things if we try to change it. I think this is the worse part of the ofn codebase...
The long term solution is to stop using spree and then gradually simply the existing code.
Maybe another dev will have a brilliant idea how to get something useful in the sho

[2020-04-30 23:59] daniellemoorhead commented on #4773
@yukoosawa that last dot point was yours, added on Feb 12 according to the version history :) I assume it has something to do with the order summary being at the bottom of the checkout screen (it's on the side on desktop, but it displays at the end for mobile), can you give any clarification on what this AC actually meant?

[2020-05-01 00:53] rmklaus12 commented on #5336
I have two assigned already, but happy to take this as well as my first two PRs were translation related...

[2020-05-01 01:07] rmklaus12 commented on #4534
The input type is set as search but still not working properly. In researching, there may be a related issue with Angular, so I'm still working on this. It appears to not be as straightforward as I/we had hoped

<img width="769" alt="Screen Shot 2020-05-01 at 11 06 14 am" src="https://user-images.githubusercontent.com/30268789/80772983-d9e3d400-8b9b-11ea-9385-3d6bc0912eb2.png">

[2020-05-01 04:22] rmklaus12 commented on #4534
Testing with Browserstack shows iOS does not have same results as expected by the input types on http://mobileinputtypes.com/, which is fairly old I'm guessing. Android seems to work beautifully with most of the data types, specifically the search, email, phone and password.
If anyone has any insights on iOS, meanwhile I'll keep at it.

[2020-05-01 05:05] daniellemoorhead commented on #4534
maybe input type="search" rather than input id="search" @rmklaus12 ?

[2020-05-01 05:11] rmklaus12 commented on #4534
Thanks @daniellemoorhead, I actually just found the solution!
`input inputmode="search"`
It creates 'go' on the button instead of search, but it changes it. Input type alone does not work and all documentation is old, so seems Apple has changed that. I wish that link you shared had a date on it! His date example does show 2012 though.
I'm testing on Browserstack and will then push the PR. 'inputmo

[2020-05-01 05:27] daniellemoorhead commented on #4534
You're wonderful @rmklaus12 😄

[2020-05-01 05:32] rmklaus12 commented on #4534
Well...we shall see! It seems to be very browser/device dependent. Older iPhone models still show 'return' and the key on Android changes as well (magnifying glass or old school return symbol). So, my next question was going to be how important is this to work on as many devices as possible?

[2020-05-01 06:43] daniellemoorhead commented on #4534
I think what you've done is enough @rmklaus12, send it over for code review!

I looked up gifs for 'pass it on', saw this, has nothing to do with what you're about to do (pass it on to code review) but it made me LOL so here it is:

![](https://gif-finder.com/wp-content/uploads/2018/03/Boop-Pass-it-on.gif?v=2)

[2020-05-01 06:49] rmklaus12 commented on #4534
I love it!! Happy to pass it on. I can't stop trying different things! I gotta...
![image](https://user-images.githubusercontent.com/30268789/80788141-a15bee80-8bcb-11ea-83d3-6eb68fb4f0b6.png)

[2020-05-01 07:46] Matt-Yorkley commented on #4193
I've seen this a couple of times during deployment. Hopefully this will be fixed by https://github.com/openfoodfoundation/ofn-install/pull/595

[2020-05-01 07:48] Matt-Yorkley commented on #5335
I don' think there's a workaround here, but it should be fairly simple to fix.

[2020-05-01 09:05] Matt-Yorkley opened #5340 "Grumpy cat (http 422) trying to access the shopfront"
## Error in OpenFoodNetwork UK

**ActiveRecord::RecordInvalid** in **enterprises#shop**
Validation failed: Distributor or order cycle cannot supply the products in your cart

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5e760f81ae44a400180bda7d?event_id=5eaaf702005b345d717d0000&i=gh&m=ci)

## Stacktrace

    app/controllers/enterprises_controller.rb:74 - reset_order

[2020-05-01 09:07] luisramos0 commented on #5340
I created the issue in bugsnag.

80 events, 33 users impacted in the last month (in the uk only).

S2?

[2020-05-01 09:57] luisramos0 commented on #5340
I think this is people switching shops with products in the cart, the products in the cart from the previous shop make the new cart blow up, or something like this.

[2020-05-01 10:01] mbudm commented on #5108
I'm taking a look at this

[2020-05-01 10:45] Matt-Yorkley commented on #5340
So from the stacktrace it looks like it's related to validations failing on a _collection_ that's related to items in the cart.

I have a feeling it could be related to this: https://github.com/openfoodfoundation/openfoodnetwork/issues/5335

Basically a product has been soft-deleted, which means it's variants have been soft-deleted, at which point the associated `stock_item` for each variant has b

[2020-05-01 10:55] Matt-Yorkley commented on #5340
We probably need some feature specs for cases where:
- a product in an active order cycle is soft-deleted after it's been added to the cart, and then the user a) visits the cart page and b) changes to a different shop
- a product in an existing completed order is soft-deleted, and then the order is cancelled via the UI

[2020-05-01 10:59] lin-d-hop commented on #5340
![](https://github.trello.services/images/mini-trello-icon.png) [Food Lochaber grumpy cat](https://trello.com/c/BQpFQq1Z/998-support-form-issue)

[2020-05-01 11:00] lin-d-hop commented on #5340
You can see a case of this happening at 58 mins into this video:
https://drive.google.com/file/d/17__IirGj4BYWVh5L9hkR1rp3tzI87Dol/view?usp=sharing

This was not related to changing shops. It was a flow from checkout back to the shop.
It is likely the cart contained a soft-deleted variant.

[2020-05-01 11:21] luisramos0 commented on #4573
re
- [ ] When an OC has been selected from dropdown, show the dropdown arrow and display menu on click on field

Is it not already done?
![Peek 2020-05-01 12-19](https://user-images.githubusercontent.com/1640378/80802059-17e5f580-8ba6-11ea-9c45-5949a1985dae.gif)

[2020-05-01 11:22] luisramos0 commented on #4573
what I think needs to be done to close this issue:
- [ ] When there is only 1 OC available remove the drop down arrow
- [ ] When the order cycle is closed, remove dropdown and show closed message

[2020-05-01 11:29] luisramos0 commented on #4573
so, I believe all that is missing here to close this issue is:
- [ ] When there is only 1 OC available remove the drop down arrow

![image](https://user-images.githubusercontent.com/1640378/80802469-56c87b00-8ba7-11ea-8c4c-3339bc41ee6e.png)

please correct me if I am wrong, thanks!

[2020-05-01 11:44] daniellemoorhead commented on #4573
@luisramos0 so both the points in No OC open are done as part of #5262?

[2020-05-01 11:44] luisramos0 commented on #4572
I am planning to tackle the remaining 3 issues in this epic now.

[2020-05-01 12:05] luisramos0 commented on #4573
no, I think "When the order cycle is closed, remove dropdown and show closed message" is already in prod.

[2020-05-01 12:06] daniellemoorhead commented on #4603
**Testing notes**

All these ACs are met, this part of the epic is done done done.

[2020-05-01 12:15] daniellemoorhead commented on #4573
But the new styling of the closed message hasn't been implemented. That's what I'm assuming is in #5262, correct?

[2020-05-01 12:17] daniellemoorhead commented on #4604
@yukoosawa what does this mean? I looked in zeplin but couldn't see what you meant:

[2020-05-01 12:18] daniellemoorhead commented on #4604
@Matt-Yorkley this isn't working on iPhones:

You can see it by using browserstack, was the same on both the iPhone 8/safari and my 6s / Chrome.

[2020-05-01 12:24] daniellemoorhead commented on #4604
Also, the search bar on iPhones is doing the same bad zoom action that it used to do before @luisramos0 fixed it in #4535. This'll need to be fixed again.

[2020-05-01 12:33] daniellemoorhead commented on #4602
@Matt-Yorkley this doesn't work on iPhones....I couldn't get the recording I did on my phone to embed on here or the testing notes so I zipped it and added it here. You can see the following things in this:

- [ ] the zoom issue explained in #4604
- [ ] when I enter the search term and hit search, the keyboard doesn't disappear by itself.
- [ ] the placement of the x is not in the actual search bo

[2020-05-01 12:48] daniellemoorhead commented on #4605
This is good to go, so closing

[2020-05-01 12:52] daniellemoorhead commented on #4701
Noice

![](https://media3.giphy.com/media/3oFyDq6BEAim8LG836/source.gif)

[2020-05-01 12:52] #4701 closed

[2020-05-01 13:06] daniellemoorhead commented on #4669
Hey @yukoosawa can you please look at the testing notes and see whether you think tweaks are needed to this?

https://docs.google.com/document/d/1MjZ2zvcuilWnvrxXJkWkrvMjuB5cyMO1EXHqtPH1LYk/edit?usp=sharing

I don't think the layout is 100% done, but would like your thoughts on this.

[2020-05-01 13:11] daniellemoorhead commented on #4601
Testing notes for this: https://docs.google.com/document/d/1MjZ2zvcuilWnvrxXJkWkrvMjuB5cyMO1EXHqtPH1LYk/edit?usp=sharing

[2020-05-01 13:26] daniellemoorhead commented on #5077
@luisramos0 if you're sorting out the remaining OC stories this bug will need to be fixed. It's only on Windows, not mac, and it's only when you've already selected an OC as you see them when you haven't yet selected. @Matt-Yorkley might have an idea on why this is.

<img width="404" alt="Screen Shot 2020-05-01 at 11 24 18 pm" src="https://user-images.githubusercontent.com/10949052/80808556-2a424c

[2020-05-01 13:27] daniellemoorhead commented on #5077
I didn't know this had been added @lin-d-hop - if you find any other lovely bugs can you let me know you're adding them pretty please 🙏

[2020-05-01 14:33] luisramos0 commented on #4573
the new styling of the closed message is in #5262, it's in code review.

[2020-05-01 14:38] Matt-Yorkley commented on #4604
I think I fucked up a merge conflict there during a rebase :see_no_evil:

I'll take a look and get it fixed :+1:

[2020-05-01 14:41] luisramos0 commented on #5077
I cant replicate this on my end (Linux), that means it's not an obvious fix and it's an S4, are you sure you want to include this in the scope? scope creep?

[2020-05-01 14:43] Matt-Yorkley commented on #4602
![](https://media.giphy.com/media/Fjr6v88OPk7U4/giphy.gif)

I'll see what I can do... :sweat_smile:

[2020-05-01 14:46] luisramos0 commented on #5291
yes, it's a duplicate.

[2020-05-01 14:46] #5291 closed

[2020-05-01 14:56] luisramos0 commented on #5077
Please ignore previous comment, I can replicate on browserstask Windows 10 Chrome 79 :+1:
Should be a simple CSS issue to fix.

[2020-05-01 14:59] Matt-Yorkley commented on #4602
P.S @daniellemoorhead is that screen capture from the feature branch? It looks like there's some bits missing (the search box placeholder text was definitely changed, but it's unchanged there...?)

[2020-05-01 15:07] tschumilas opened #5342 "filters are not initially visible for display-only shopfront"
## Description
When a consumer visits a display only shop - via the URL link,   the shop filters do not display.
If I click on the 'home' tab,  and then back to the 'shop' tab -  they display.

## Expected Behavior
Filters should display when the shop is visited the first time

## Actual Behaviour
Shop filters do not display initially

## Steps to Reproduce
make a display only shop
visit the shop

[2020-05-01 15:46] luisramos0 commented on #5108
Hey @mbudm I am not sure how good a first issue this is because you have to make the links in app/views/admin/order_cycles/_wizard_progress.html.haml verify if the forms are dirty...

I think you could use this to disable the links if the form is dirty:
ng-disabled: "order_cycle_form.$dirty"

But that's not exactly what's needed.

[2020-05-01 16:37] luisramos0 commented on #5077
this is how it looks now in windows 10 chrome 79 onbrowserstack:
![image](https://user-images.githubusercontent.com/1640378/80822100-e6831f00-8bd1-11ea-8687-94f397f74ef3.png)

[2020-05-02 00:27] daniellemoorhead commented on #4573
Great, then you are correct @luisramos0 🎉

![](https://media.giphy.com/media/14bDMRUYVrzOIo/giphy.gif)

[2020-05-02 06:19] daniellemoorhead commented on #4605
Seems @yukoosawa was a little tougher on all the things than I was - see testing notes for changes required.

https://docs.google.com/document/d/1MjZ2zvcuilWnvrxXJkWkrvMjuB5cyMO1EXHqtPH1LYk/edit?usp=sharing

[2020-05-02 06:20] daniellemoorhead commented on #4603
Seems @yukoosawa was a little tougher on all the things than I was - see testing notes for changes required.

https://docs.google.com/document/d/1MjZ2zvcuilWnvrxXJkWkrvMjuB5cyMO1EXHqtPH1LYk/edit?usp=sharing

[2020-05-02 06:28] daniellemoorhead commented on #4669
Sadly @Matt-Yorkley there are changes required. See the notes from @yukoosawa in the testing doc.

[2020-05-02 09:38] luisramos0 commented on #4957
this breaks very regularly on the rails 4 branch.

[2020-05-02 10:43] luisramos0 commented on #4774
This looks ok to me. What do you think?

![image](https://user-images.githubusercontent.com/1640378/80862029-f4847e80-8c69-11ea-98b9-084292ae4d46.png)

![image](https://user-images.githubusercontent.com/1640378/80862039-0e25c600-8c6a-11ea-82d5-37f1739deb3c.png)

![image](https://user-images.githubusercontent.com/1640378/80862045-1c73e200-8c6a-11ea-922d-afed2e42b0bf.png)

[2020-05-02 14:47] luisramos0 opened #5346 "Release 2.9.7 Coconut oil"
Steps:

- [x] Include translations
- [x] https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-f9b0c414afabbbc401d4
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1373
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next r

[2020-05-02 15:13] luisramos0 commented on #5346
ping @RachL ready for testing ;-)

[2020-05-03 00:13] jeduardo824 commented on #5277
Hey guys, I checked that. It looks like it will be easy to accomplish, but I'm having trouble getting the shipping methods list. I tried with `Spree::ShippingMethod.managed_by(current_spree_user)` but it returns some duplicated entries. Anyone knows a better way to get that?

[2020-05-03 08:41] luisramos0 commented on #5277
that sounds correct @jeduardo824
It's the method used in Subscriptions.
can you show the list of ship methods? are you sure there are duplicates?
anyway, I think you can go and fix the scope to return a unique list of ship methods.

[2020-05-03 12:13] jeduardo824 commented on #5277
![Screen Shot 2020-05-03 at 09 12 36](https://user-images.githubusercontent.com/27960597/80913873-52729e00-8d1e-11ea-8e86-6ad612bb3c35.png)

[2020-05-03 12:18] luisramos0 commented on #5192
There are very few JS errors on checkout :tada:
Since the 21st of April when the js improvement PR was deployed we have 3 JS errors:
- one "unknown error" that happen to only one user (edge case on the Edge browser?)
- one error where checkout returns 404 - affected 2 users
- a JS error mounting the Stripe HTML element (affecting 5 users since 21st April in UK) - this is happening on Mobile Safari

[2020-05-03 12:18] #5192 closed

[2020-05-03 12:21] luisramos0 commented on #5277
that means the names are repeated, not that ship methods are repeated right? can you please verify the ids?

[2020-05-03 12:28] jeduardo824 commented on #5277
![Screen Shot 2020-05-03 at 09 28 24](https://user-images.githubusercontent.com/27960597/80914207-78993d80-8d20-11ea-9b58-0dc4a6625842.png)

[2020-05-03 12:29] jeduardo824 commented on #5277
They have different ids

[2020-05-03 12:33] jeduardo824 commented on #5277
So it looks like the shipping methods are different but with the same name, correct?

[2020-05-03 15:34] luisramos0 commented on #5277
yes, ok.
you are super admin and probably using sample data?
The same 2 ship methods are created for each enterprise lib/tasks/sample_data/shipping_method_factory.rb

So, all good :+1:

[2020-05-03 15:39] luisramos0 commented on #5277
I fixed this problem in this new PR: https://github.com/openfoodfoundation/openfoodnetwork/pull/5351

[2020-05-03 15:43] jeduardo824 commented on #5277
Awesome! Also, just a last question because this is the first I'm dealing with Ransack. Do you think I need to make DB changes in Spree::Order like add the shipping_method_id to the able or I'm able to accomplish that using Arel?

[2020-05-03 16:16] luisramos0 commented on #5277
no, thank god you dont need to change the data model! But this is not an easy task...

you need to make sure the shipping methods table is included in the query and then your filter is also in the query.

You need to understand ransack, it's pretty easy, have a look here: https://github.com/activerecord-hackery/ransack
it's pretty easy!

I think you need to add a q param in
app/assets/javascripts/

[2020-05-03 16:43] jeduardo824 commented on #5277
Well, I already accomplished half of what you said. I was trying now to join the shipping_method.  Your clue about the shipping_rate is precious. I will try to finish it with the tips you gave. Thanks!

[2020-05-03 17:54] luisramos0 commented on #5277
awesome, please submit a PR even if you cant make it work correctly.

[2020-05-03 22:40] filipefurtad0 commented on #5239
Hey @luisramos0 ,

I think the modal described on the rspec above in line 323 is this one:

"Reduced stock available

While you've been shopping, the stock levels for one or more of the products in your cart have reduced. Here's what's changed:

Cachupa - 1kg is now out of stock."

![image](https://user-images.githubusercontent.com/49817236/80927339-3e1db800-8d95-11ea-8c25-6ae3f8a7a7da.png)

This

[2020-05-03 23:41] mbudm commented on #5108
Hi @luisramos0 yeah, originally I was looking at this in the wrong order cycle form but @mkllnk put me on the right track. I agree it's a bit more fiddly than first seems.

However your point about the dirty flag being accessible at `order_cycle_form.$dirty` made me think of a potential solution.

I'm thinking to add click handlers to the wizard progress links, and in that handler check the dirty

[2020-05-04 03:51] rmklaus12 commented on #5104
Best practices question on this one - one issue for similar changes in multiple files.
Separate commit for each file changed? Or something else? 🤔
Thanks :-)

[2020-05-04 04:31] daniellemoorhead commented on #5104
@mkllnk ?

[2020-05-04 05:30] daniellemoorhead commented on #4774
@yukoosawa there's no background image on this version from @luisramos0 - this matches the closed shop version that is also grey. Are you happy for this version with no background, or do you think the graphic should be added?

[2020-05-04 06:37] manvil commented on #1782
Hello everyone monitoring this , I am beginning to work on this, FYI

[2020-05-04 06:37] mkllnk commented on #5104
@rmklaus12

Separate commit for each file changed? Or something else?

Once commit for similar changes in multiple files sounds better. It's not about files but you can also separate by "view", meaning which page you are making the changes on. There is no definitive answer but what you are trying to achieve is:

* Each commit makes sense on its own. It doesn't break anything and you could deploy i

[2020-05-04 07:32] luisramos0 commented on #5108
Hi @mbudm yes, that sounds like the right solution yes :ok_hand:
You need to chose the right angular controller to put the handler (there's a little structure of controllers to control the different pages). I think this is where you will need to add the click handler:
app/assets/javascripts/admin/order_cycles/controllers/edit.js.coffee

[2020-05-04 08:13] rmklaus12 commented on #5104
@daniellemoorhead - the "Account credit cards page" does not have a telephone field :-) But if you were looking for a numeric keypad, that is showing up on my newer iPhone, but will test other's and get the telephone input type added.

[2020-05-04 08:36] sigmundpetersen opened #5357 "[Flaky spec] Fix controllers/api/shops_controller_spec"
spec/controllers/api/shops_controller_spec.rb:36

[code]

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1371

[2020-05-04 09:47] Matt-Yorkley opened #5358 "Cart Problems in Production"
We've now had a couple of downtime incidents caused by a cart bug, on multiple production servers.

If the `CartController#populate` endpoint (add-to-cart) returns an error code, the page will keep trying to post data to the cart endpoint again and again and again. Twice now we've had the add-to-cart endpoint return a `412` (we don't know why yet), and then it subsequently kept re-posting the data

[2020-05-04 13:37] luisramos0 commented on #5358
I guess you meant bug-s1?
What downtime are you reffering to? The FR one a few weeks ago or something new?

[2020-05-04 14:29] luisramos0 commented on #5105
ok, so we are listing any product on the catalog, 60 products. So it really becomes supplied products of an enterprise that can be on sale or not. I think it will be easy to show the product modal the problem is where, I mean, show the product modal over what page?

I could open the modal over a page with the producer, but we dont have a producer page and the producers list page already has a long

[2020-05-04 14:59] RachL commented on #5346
@luisramos0 sorry for taking so long I had a long play with payment methods :) But I haven't found anything blocking the release.

It is now ready to go !

I was singing this song all along: https://www.youtube.com/watch?v=fP01RNDDsPM

Coconut > Coco > Iko Iko... yeah don't search further :D

[2020-05-04 15:31] RachL commented on #4640
@luisramos0 @lin-d-hop did we took a decision about the postal code issue? I ran into this during release testing. Actually there is one problem: if you ran into the error message, you need to refresh/start all over the payment steps in order to enter a postal code that is accepted.

Can we prioritize https://github.com/openfoodfoundation/openfoodnetwork/issues/2605 as part of the Stripe SCA work?

[2020-05-04 16:42] filipefurtad0 opened #5360 "[Spree 2.1] Snail upon finishing enterprise registry"
## Description

The the enterprise registry finishes with a welcome menu (see pic below). Here, after selecting the desired option, pressing Select and Continue button results in a 404 Snail (/register page is missing)

## Expected Behaviour

One should be able to choose a package in the Welcome menu to finish the registry.

## Actual Behaviour

After selecting the desired option, pressing Select

[2020-05-04 18:19] filipefurtad0 opened #5362 "[Spree 2.1] Update and Calculate Fees button leads to blank page"
## Description

Independently of whether changes were made to an order or not, pressing the Update Fees and Calculate Fees button leads to blank page. Bugsnag is triggered:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5eaed1f6da09e400170360a5?event_id=5eaed1f6005b3497ef280000&i=sk&m=nw

## Expected Behavior

Changes should be saved to the order, or alerts should be triggered in the ca

[2020-05-04 18:47] luisramos0 commented on #5346
:rofl: that song is funny!

[2020-05-04 18:50] luisramos0 commented on #4640
I am not sure about past decisions about it.
Does the post code field appears in all instances? I had the impression it was only showing in some locations? Maybe I am totally wrong.

Why did you comment here and not on 2605? maybe I am missing something.

[2020-05-04 18:57] filipefurtad0 opened #5363 "[Spree 2.1] Product Import: product saving shows frozen progress bar"
## Description

When importing products, the progress bar freezes upon product saving (see 2nd pic below). However, product import seems to be successful, as manually clicking Products and going to the product bulk edit page shows the complete list of newly imported products.

Also, it is worth noting, that only 1 HTTP request is visible, for validation (1st pic below) and saving (2nd pic below),

[2020-05-05 03:46] yukoosawa commented on #4774
@daniellemoorhead I'm ok to leave out the background illustration. But I do have a few other OC UI tweaks which I would like to have instead... was hoping to list them when we do a QA pass for the OC Selector epic...

[2020-05-05 05:22] daniellemoorhead commented on #4774
@yukoosawa let's schedule that in for this week if possible so that we can get those changes in while @luisramos0 still has OC stuff in his sights.

[2020-05-05 06:57] mkllnk commented on #5105
The issue says: "link directly to the product detail within the shop". I think that means the shop product listing tab. But that doesn't define the order cycle. It's also not easy to use the URL fragment because that's already used for the tabs (and login modal).

I like your idea of putting it in the URL request part. But I can already see problems when people have a full cart in one order cycle

[2020-05-05 07:03] RachL commented on #5105
Pacific drums and percussion :)

I'm not sure I'm following what it means to "build on top of the shop URL".  Does it means shop URL + permalink of the product = product URL?

I think I agree with Maikel. I wonder if this isn't the way to design a full product page, instead of a modal... Modal don't display way in mobile anyway. Maybe something for the next round of mobile work?

[2020-05-05 07:08] Matt-Yorkley commented on #5105
I guess this product page will not show the price, right? As that can be modified by order cycle, distributor, or per-user via tags?

I think I agree a non-modal page would be good.

[2020-05-05 07:11] RachL commented on #4640
@luisramos0 I'm commenting here because we discussed it here. 2605 is about removal, but maybe we want to keep it for some locations?

[2020-05-05 07:22] daniellemoorhead commented on #5105
Given the complexity and additional discovery this needs I'm pulling it out of the mobile ux work. This will go back into `all the things` for now, we can decide to make it a priority later.

[2020-05-05 08:17] kirstenalarsen commented on #4437
hi @rmklaus12 can you confirm that you are not working on this and someone else can pick it up? Thanks :)

[2020-05-05 08:18] rmklaus12 commented on #4437
I am not :)

On Tue, 5 May 2020 at 6:17 pm, Kirsten Larsen <notifications@github.com>
wrote:

[2020-05-05 08:52] luisramos0 commented on #5105
@RachL PDP is the Product Detail Page, it's the pair of the Product Listing Page (PLP) (what we call the shop page) and the Category Pages. It's how these things are called in the ecommerce industry.

I think it's extremely damaging for OFN to not have PDPs for quite a few reasons: SEO (the number of indexed pages would be much higher and thus increase the relevance of all the websites), UX and pr

[2020-05-05 09:26] lin-d-hop commented on #5105
Oh dear. I'm quite concerned about this falling out of scope. The two main things people want in shopfront are PDP and images on mobile. PDP is crucial for shopfront marketing on social media... and that is going to be a crucial part of shopper retention when things start to go back to normal.

I would be inclined to say let's do the most simple version of this asap. If we can get a little design/

[2020-05-05 09:35] #5346 closed

[2020-05-05 10:09] luisramos0 commented on #4640
ah, sorry, I didnt see the discussion above, just the issue title :see_no_evil:

-- maybe we want to keep it for some locations?
I have no clue what's the answer to that question, needs some product investigation.

[2020-05-05 10:28] luisramos0 commented on #5340
@Matt-Yorkley it's very probable that this is being addressed as part of the cart work you are doing in #5358, right?

[2020-05-05 10:46] romale commented on #1534
strange but i don't have this problem. I changed the smtp password to the user and if I immediately try send test mail, I get an error, but after about 1 minute everything is in order, the test letter is sent

[2020-05-05 10:57] luisramos0 commented on #1534
yes, it's because the test email is not sent through a job. If you place an order, the confirmation email will fail.

[2020-05-05 10:58] romale commented on #1534
Ok, i will try to place an order

[2020-05-05 11:17] Matt-Yorkley commented on #5340
It's possible, but we'll need to take another look after #5358. The bug is closely related but in a different part of the app, it might need some additional tweaks.

[2020-05-05 11:42] RachL opened #5367 "Desactivating a shipping method with fees leads to wrong delivery method and payment status in previous orders"
## Description

This is something that I have found while following hub 922 in French prod.

This hub has 2 delivery method: pickup and delivery by bike. Delivery by bike has a fixed fee of 6 euros.

A typical week for them goes like this:

- On Tuesday they open their OC with meat products. Everyone has a choice between home delivery and pick up because they have only a few customers buying meat

[2020-05-05 12:03] RachL opened #5368 "Adding a shipping method to an order as an admin should be VAT excl."
## Description

When adding a fixed fee to a shipping method, this fee is added Tax included.

Yet when selecting as an admin a shipping method with fees, the amount is showing fees + VAT, which is not correct

## Expected Behavior

Fees seen by the customer should be the same as those seen by the manager.

## Actual Behaviour

OFN shopfront:

![image.png](https://images.zenhubusercontent.com/595e

[2020-05-05 12:31] Matt-Yorkley opened #5369 "Broken shopfront in an edge case where OC is closed but products are fetched from database"
## Error in OpenFoodNetwork UK

**AbstractController::DoubleRenderError** in **api/order_cycles#products**
Render and/or redirect were called multiple times in this action. Please note that you may only call render OR redirect, and at most once per action. Also note that neither redirect nor render terminate execution of the action, so if you want to exit an action after redirecting, you need to d

[2020-05-05 12:33] luisramos0 commented on #5369
bug introduced in this release:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5315/files#r420067156

We are not sure how edgy this case is: 1 user impacted in UK and 1 user in AUS. It's a very easy fix so I think we should get a release out to fix this.

[2020-05-05 13:04] Matt-Yorkley commented on #5369
I've investigated this a bit, and looked at the exact order cycle that was visited on UK Prod. It looks like it closed part-way through somebody shopping (they reached their order limit and manually shut the shop).

Looking at the code as well, I think this issue only affects closed order cycles, and the result of the error is just that we don't load any more products from the product list endpoin

[2020-05-05 13:07] Matt-Yorkley commented on #5369
Is it a bug or a feature? :rofl:

[2020-05-05 13:10] RachL commented on #5369
So if I understand correctly: it's the case of customer adding stuff to their card and navigating through the products => But bim, the shop owner decide to close earlier... So the "fix" would make sure we gracefully re-direct the user to the shop close message if he tries to add a product to cart or something equivalent?

[2020-05-05 13:12] Matt-Yorkley commented on #5369
Yes, the hub closed the OC while someone was shopping, and they scrolled down through the products, and it did not load more products.

I think we actually already redirect the user to the homepage with a "this order cycle has closed" message (it happened to me when I tried to check those affected order cycles). Maybe that happened as well, shortly after.

[2020-05-05 13:13] romale commented on #593
Will this help?
https://stackoverflow.com/a/14182346

because this error with taxonomies deletion too

[code]

[2020-05-05 13:25] luisramos0 commented on #5369
ok, great Matt, that makes sense.
I tagged S2 assuming this was a snail but you are right, this is only an ajax call that will fail. The user will not see it. The user will just not get an update of the list of products and sooner or later (probably by clicking somewhere), user is warned and redirected.
I am changing to S3.

[2020-05-05 13:31] Matt-Yorkley commented on #5369
Already fixed and in code review :+1:

[2020-05-05 13:34] #5214 closed

[2020-05-05 14:13] luisramos0 commented on #5239
thanks Filipe, that helps a lot. Now I see it's in the shop page, not the cart.

[2020-05-05 14:13] RachL commented on #5367
Ok it is worth than I thought.... Those orders:

- # R600433468
- # R214658240
- # R145130144

Had a shipping fee with the shipping method that has no fee, in the order customer report _yesterday_

Today when downloading the report the shipping fee is at 0.

I have yesterday's report thanks to the user. When checking those orders we had a very strange effect, the _first_ time one of us would open

[2020-05-05 15:30] filipefurtad0 opened #5372 "Error 404 if an OC closes during checkout: /checkout -> /undefined"
## Description

A customer adds an item and proceeds to the checkout page. Error 404 will be displayed when the customer attempts to finish the purchase (by pressing the Place order now), if the respective order-cycle closes while the customer is in the /checkout page.

## Expected Behavior

The customer should be redirected to the shopfront, a modal or a warning should be displayed that the chose

[2020-05-05 15:30] filipefurtad0 opened #8898 "Error 404 if an OC closes during checkout: /checkout -> /undefined"
## Description

A customer adds an item and proceeds to the checkout page. Error 404 will be displayed when the customer attempts to finish the purchase (by pressing the Place order now), if the respective order-cycle closes while the customer is in the /checkout page.

## Expected Behavior

**Updated**: In the case that the order cycle closes mid shopping the user will see an improved error messa

[2020-05-05 16:43] luisramos0 commented on #5367
The problem is this magical code (inherited from spree) that runs when you load the edit order page.
If you dont load the admin order edit page, the ship method is not updated.

For example:
1- create order with ship method 1
2- deactivate ship method 1
3- activate ship method 1
4 -edit order
The problem "only" occurs if someone loads the order edit page between point 2 and 3 (when ship method is

[2020-05-05 16:57] luisramos0 commented on #5367
The process is called refresh_shipping_rates and is executed when the order is edited in the backoffice and also when the order customer details is updated.

For now I just removed these 2 calls and I'll see what does the build say: this may be supporting other processes/details: https://github.com/openfoodfoundation/openfoodnetwork/pull/5373

[2020-05-05 17:58] luisramos0 commented on #5367
In this new PR without this refresh rates process on the edit order page, the order keeps assigned to a ship method not linked to the order distributor. I tested shipping the order in the order list page and it just works :+1:

Also, the result of the build is pretty straight forward, no major problems detected.

Only one spec is broken and makes me realize one important point: with this fix, in t

[2020-05-06 00:40] ckhung5 commented on #5201
Hi @Matt-Yorkley, I am doing this card as part of my code challenge. I not sure how to reproduce this error. May I get some help from you ?

[2020-05-06 01:11] daniellemoorhead commented on #5105
We can prioritise this to be done, separately to the mobile work.

In terms of experience, I don't actually think what you're describing @luisramos0 is the best solution. If the goal is to have the shopper buy, why would we take them to the modal if they then can't buy the product? The extra clicks to then get the shopper onto the shop list, to see the product, and then to purchase it is far too b

[2020-05-06 01:14] ckhung5 commented on #5201
It looks like we just need to upgrade the jquery-ui-rails gem to version 4.1.1 as there are changes to look for dependant assets.

Here is the PR created:
https://github.com/jquery-ui-rails/jquery-ui-rails/pull/59

Here is the changing from OFN jquery-ui-rails version 4.0.0
https://github.com/jquery-ui-rails/jquery-ui-rails/blob/v4.0.0/vendor/assets/stylesheets/jquery.ui.theme.css.erb

Here is ver

[2020-05-06 01:40] tschumilas commented on #5239
@RachL   asked above if this should be an s2.   I'd say yes --- given how busy shops are right now.  And - while there is a work-a-round for the shopper (pressing update) -  its not very clear thats what they have to do.     Is it possible to at least change the direction to the consumer quickly?  (as @luisramos0  notes above) ??

[2020-05-06 04:13] yukoosawa commented on #5105
As much as I would LOVE to have PDPs (Pacific drums and percussions!!!), I don't think hacking the modal is the right way to get us there.

As a user I would get to the PDP and not be able to buy, nor see the price, nor see the availability of the product -- and then be forced to navigate to another location and search for the product in a list :cry: + :angry:

I think it's worth at least scoping

[2020-05-06 04:23] rmklaus12 commented on #5095
Grabbing this one.

[2020-05-06 04:51] ckhung5 commented on #5201
After looking around, this ui-big-flat image is use in Admin page under order cycle tab. My local doesn't have any error without upgrading the gem to version 4.1.1.

[2020-05-06 06:51] RachL commented on #5367
@luisramos0  I think it would depend how we define what is a _new_ shipping method.

If it is a totally fresh shipping method, it is maybe an edge case to want them on _past_ orders. But not so much to get them when doing a new order in the admin. How does that work? We are talking only about editing here right?

The problem I see is if we consider new shipping method, shipping method that have be

[2020-05-06 07:35] kirstenalarsen commented on #5239
i'm fine with that - if @filipefurtad0 can't see the update button I totally get that customers can't. If it is relatively easy to remove the need for the update button I would say go so far as to do that. This would definitely qualify as response in the MOSS project and I will check with @NickWeir63 as to the best way to keep track of these

[2020-05-06 09:11] #5308 closed

[2020-05-06 09:50] daniellemoorhead commented on #4772
Tested, good to go.

Notes: https://docs.google.com/document/d/1wC42pMcgAAzqnVWBFW_Dm0MrTo5MOosZr_bBwjb56Wk/edit?usp=sharing

[2020-05-06 10:09] daniellemoorhead commented on #5216
Tested, good to go :-)

Testing notes: https://docs.google.com/document/d/1wC42pMcgAAzqnVWBFW_Dm0MrTo5MOosZr_bBwjb56Wk/edit?usp=sharing

[2020-05-06 10:25] daniellemoorhead commented on #4774
Tested, good to go.

Notes: https://docs.google.com/document/d/1wC42pMcgAAzqnVWBFW_Dm0MrTo5MOosZr_bBwjb56Wk/edit?usp=sharing

[2020-05-06 10:39] daniellemoorhead commented on #4573
Tested, a few things:

**NO OPEN OC**
- [ ] the grey closed bar doesn't span the entire window on desktop (works fine on tablet and desktop)
- [ ] The closed message displays on both Home and Shop tab - @yukoosawa is this correct, or should the home tab content still display? Wanted to check which was correct.

**OPEN OC**
- [ ] The first check box, ie the removal of the drop down for shops with o

[2020-05-06 10:42] daniellemoorhead commented on #4772
Closing, PR will be merged later once a few fixes to another issue made.

[2020-05-06 10:42] #4772 closed

[2020-05-06 10:42] daniellemoorhead commented on #5216
Closing, PR will be merged later once a few fixes to another issue made.

[2020-05-06 10:42] #5216 closed

[2020-05-06 10:42] daniellemoorhead commented on #4774
Closing, PR will be merged later once a few fixes to another issue made.

[2020-05-06 10:42] #4774 closed

[2020-05-06 13:02] luisramos0 commented on #5367
yes, linking and activate is the same: connect a shop with the ship method.

now I realize we have another dimension: "Display"
![image](https://user-images.githubusercontent.com/1640378/81179655-e1431d00-8fa1-11ea-8ade-3cd7307fa47e.png)

I need to investigate this. this is probably meant for these cases, remove the ship method from checkout but keep it in the backoffice.

[2020-05-06 13:19] luisramos0 commented on #5105
The modal would be a quick intermediary step to get SEO benefits and a link for direct marketing. Not a part of our main user flow.
The modal with the list of OCs will make the user land on a page with a link to the right shop, I dont think it would be too bad.

We can add the product variants and price next to the OC but I think that would be better after migrating the modal to a page and proper

[2020-05-06 13:20] #5358 closed

[2020-05-06 13:31] #4529 closed

[2020-05-06 15:33] lin-d-hop commented on #5077
BTW happens for me on Chrome linux (that's where I recorded the gif)

Happy this has been fixed  :-D

[2020-05-06 18:42] luisramos0 opened #5378 "Use sass-rails helpers to reference images in assets"
From this PR https://github.com/openfoodfoundation/openfoodnetwork/pull/5348#discussion_r420680260

We need to see if this works in rails 3, anyway, we will be in rails 4 soon, this is probably the way to go everywhere. As we will probably stop using the icons in the ofn font, we will have more icons by themselves in app/assets/images
Related to https://community.openfoodnetwork.org/t/how-do-we-ma

[2020-05-06 18:42] luisramos0 opened #8900 "Use sass-rails helpers to reference images in assets"
From this PR https://github.com/openfoodfoundation/openfoodnetwork/pull/5348#discussion_r420680260

We need to see if this works in rails 3, anyway, we will be in rails 4 soon, this is probably the way to go everywhere. As we will probably stop using the icons in the ofn font, we will have more icons by themselves in app/assets/images
Related to https://community.openfoodnetwork.org/t/how-do-we-ma

[2020-05-06 19:11] luisramos0 commented on #5077
ah, really, do you mind testing the PR?

[2020-05-06 20:40] pacodelaluna commented on #5321
@RachL I can easily force the order to `completed_at DESC` but I can't make it dynamic easily, lacking some Angular knowledge to achieve this.

[2020-05-06 21:33] daniellemoorhead commented on #5077
I'll test it. I can see it happen via browserstack.

[2020-05-06 21:36] djtrack16 commented on #2617
to log in as an admin, is that a special/particular username/pwd?

[2020-05-07 01:40] rmklaus12 commented on #5095
Can I get some suggestions on how to test my local instance to see what my changes are doing?

[2020-05-07 04:03] kirstenalarsen opened #5381 "Product unit rounding strangely - from 950ml to 948.999999999ml"
## Description

For a particular producer (Chef Raj's Kitchen) in the Baw Baw Food Hub, products created with the value of 950ml are rounded down in the inventory and shop displays to show a whole lot of extra figures

They look fine in the products page
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/c5465a80-d5af-4b73-a01e-923c4782ed5c)

But when you go to Inventory or

[2020-05-07 04:03] kirstenalarsen opened #8228 "Product unit rounding strangely - from 950ml to 948.999999999ml"
## Description

For a particular producer (Chef Raj's Kitchen) in the Baw Baw Food Hub, products created with the value of 950ml are rounded down in the inventory and shop displays to show a whole lot of extra figures

They look fine in the products page
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/c5465a80-d5af-4b73-a01e-923c4782ed5c)

But when you go to Inventory or

[2020-05-07 04:42] rmklaus12 commented on #5095
In the digging I've done, I feel I may be way off track or missing something :-)
The report page, when translated to French is showing montant for the Euro amount
<img width="299" alt="Screen Shot 2020-05-07 at 2 18 00 pm" src="https://user-images.githubusercontent.com/30268789/81254626-02be0a80-906f-11ea-8ebb-4ef611264d8d.png">
However, I did find this in the fr.yml file, is this what needs to ch

[2020-05-07 05:12] daniellemoorhead commented on #5105
Doesn't need to go through the full process so much as be agreed as a
priority in the roadmap. We can bring this to the next product curation
session.

On Wed, 6 May 2020 at 23:19, Luis Ramos <notifications@github.com> wrote:

--
Open Food Network Australia
www.openfoodnetwork.org.au
Our software platform
<https://about.openfoodnetwork.org.au/software-platform/> - User Guide
<https://openfoodnetwo

[2020-05-07 05:38] mkllnk commented on #5095
This is confusing. The report prints a money amount:
https://github.com/openfoodfoundation/openfoodnetwork/blob/066f978c59643bcbd2e973e4b6d7a6caae184484/lib/open_food_network/order_cycle_management_report.rb#L80

And the header column uses a generic translation key:
https://github.com/openfoodfoundation/openfoodnetwork/blob/066f978c59643bcbd2e973e4b6d7a6caae184484/lib/open_food_network/order_cycle

[2020-05-07 05:52] mkllnk commented on #2617
It's a permission to access all configuration options. It can be given to any username.

[2020-05-07 05:53] rmklaus12 commented on #5095
Thank you for this @mkllnk. I was not sure the best way to test to see what shows in French so I'm simply using Google Translate. Which gives me the following, which shows several differences between our table headings. What is the best way to go about this and is the fact that we get different results, ultimately an issue to look at?

<img width="1225" alt="Screen Shot 2020-05-07 at 3 50 40 pm" s

[2020-05-07 06:17] rmklaus12 commented on #5095
I think this is a typo and should be "No commandé"

[2020-05-07 06:58] RachL commented on #5095
Indeed, there is a mix. I wondered if we didn't change the translation in transifex because we saw that in customers / suppliers totals this was a quantity and not money ("montant"). But then it affected reports showing money as well (this issue). So yes I think we need two keys.
This could also explain that you have a different translation, as I think I'm editing in Transifex a file that is just

[2020-05-07 06:58] rmklaus12 commented on #5095
Checked all files and there are no instances of `report_header_quantity`

[2020-05-07 08:10] lbwright22 commented on #5077
![](https://github.trello.services/images/mini-trello-icon.png) [Switching between multiple open OCs on the shopfront](https://trello.com/c/nBZ7J02p/1023-switching-between-multiple-open-ocs-on-the-shopfront)

[2020-05-07 08:15] luisramos0 commented on #5105
ah, yeah, this is a good item for product curation meeting :ok_hand:
For clarity, in terms of dev estimates, estimates are for each item:
1 - the URL to the product modal is not difficult to do - XS
2 - adding the list of OCs is a little effort that becomes bigger if you want to have the price - S+
3 - moving the exiting modal to an equivalent/simple page on it's own is also not difficult in terms

[2020-05-07 08:15] #5105 closed

[2020-05-07 09:14] Matt-Yorkley commented on #5340
Ok, it looks like at `app/controllers/enterprises_controller.rb:74 - reset_order` we call `order.save!`, I think this method is called after an order is placed and the customer returns to the shop, or when changing shops. If a variant is soft-deleted this probably will not end well.

[2020-05-07 10:01] RachL commented on #5321
@pacodelaluna then let's go with the completed_at already, this will saves bugs hubs 3 or 4 hours a week already and I will open another issue to make it dynamic. That will be more the cherry on the cake :-) Thanks!

[2020-05-07 10:31] lin-d-hop commented on #5066
Rejected papercut as needs more product discussions

[2020-05-07 10:33] kirstenalarsen commented on #5066
suggest working this up with more detail in connected wishlist items e.g. https://community.openfoodnetwork.org/t/add-notifications-for-the-admin/1608 with a view to getting considered in product / inception process

[2020-05-07 10:37] lin-d-hop commented on #4466
Great. So this issue can be resolved by updating the translation.
Ask in #instance-managers if you need more help :-)

[2020-05-07 10:37] #4466 closed

[2020-05-07 10:44] #5077 closed

[2020-05-07 10:46] luisramos0 opened #5382 "Add spec that tests /map"
We need to test the map and also the feature where multiple enterpirses have the same localtion introduced in #5377
For that we will need to create a GMaps account for testing.

[2020-05-07 10:51] lin-d-hop commented on #5071
We don't know if this is a dev size papercut or not.
@sauloperez thinks that we should be able to figure this out from the error message.

Papercuts team decided that this can be classifed as a papercut as soon as a dev agrees it can be done in 1/2day.

[2020-05-07 10:54] lin-d-hop commented on #5372
The agreed solution is that in the case that the order cycle closes mid shopping the user will see an improved error message explaining what happened.

[2020-05-07 11:00] kirstenalarsen commented on #5208
This is only for the invoice template that Australia uses . . which may also be used be others . .

[2020-05-07 11:02] filipefurtad0 commented on #5372
Thanks for commenting this @lin-d-hop :heart:  I'll update the "Expected behaviour" on this.

[2020-05-07 11:08] luisramos0 commented on #4573
We still need PR #5262 before closing this issue.

[2020-05-07 12:16] pacodelaluna commented on #5321
I will ask for a review then.

[2020-05-07 13:37] #5108 closed

[2020-05-07 14:21] luisramos0 commented on #4573
Hey @daniellemoorhead thanks for testing!

I dont understand your doubt in the second point on NO OPEN OC, that was exactly the request in the description and it's accordingly designed in zeplin. I hope this is correct because it took some time to do. It's easy to revert though :-)

re point on OPEN OC, that's done and tested by you a few hours ago in #5348

so, the only point missing here is:
"th

[2020-05-07 14:22] luisramos0 commented on #4573
I cant expand the background color horizontally...

I'll ask for help on slack, basically:
- we use margin:auto that will keep the margin the same for all elements of the page (the empty space left and right on the page)
- margin doesnt take any background color by definition
- converting to padding (usual fix to get background color) doesnt work because padding: auto doesnt exist
How to do this?

[2020-05-07 14:24] luisramos0 commented on #4573
@daniellemoorhead can we merge the PR as is and keep this issue open until we fix this thing? Merging the PR now will avoid conflicts.

[2020-05-07 16:07] kirstenalarsen opened #5384 "Product is showing as greyed out in shop, clearly has Inventory available"
## Description

A product has stock available both in products and in inventory. It has been added to the order cycle and it appears in the shop - but it is greyed out and customers cannot purchase it

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/2b77bb39-19af-4cf0-a0b0-d0d281bcd852)

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/08487eff-

[2020-05-07 16:10] kirstenalarsen commented on #5384
some possible clues from dev tools?

![image](https://user-images.githubusercontent.com/2911176/81317987-ea7ed780-90d0-11ea-9971-561a37813fda.png)
![image](https://user-images.githubusercontent.com/2911176/81318088-097d6980-90d1-11ea-829d-fe9880abb630.png)

[2020-05-07 17:10] luisramos0 commented on #5384
I dont get any of those errors on the console Kirsten :man_shrugging:
I dont think they are related to this issue... would be good to know what that "GET about:blank net::.... is.

I can see this problem on this shop. I can confirm this is a server side problem, the frontend code is just fetching the data and graying out the variant because it comes out of stock from the server:
 on_demand = false

[2020-05-07 17:15] #5369 closed

[2020-05-07 17:21] luisramos0 opened #5385 "[Spree 2.1] Broken spec spec/models/concerns/product_stock_spec.rb:19"
### What we should change and why (this is tech debt)
This spec is flaky
spec/models/concerns/product_stock_spec.rb:19

I cant replicate this locally....

### Context
See branch 3-0-stable

[2020-05-07 17:22] luisramos0 commented on #4949
closing, I havent seen this one since the last few merges.

[2020-05-07 17:22] #4949 closed

[2020-05-07 17:22] luisramos0 commented on #5063
closing, I havent seen this one since the last few merges.

[2020-05-07 17:22] #5063 closed

[2020-05-07 17:26] luisramos0 opened #5386 "[Rails 4.1] Upgrade OFN to Rails 4.1"
## What is the problem we are solving
This issue represents the effort to upgrade rails to 4.1.

This is related to #4826 but not necessarily blocked by it as we can now upgrade rails without upgrading spree.

This discourse thread contains more info about this:
https://community.openfoodnetwork.org/t/bye-bye-spree-or-spree-v2-1-and-beyond/1598/30

I read the rails 4.1 upgrade guide and I estimate

[2020-05-07 17:28] luisramos0 commented on #4800
I moved this to the new rails 4.1 upgrade epic :heart:
I think this can it's first task.

[2020-05-07 17:47] Matt-Yorkley commented on #5173
Closed by #5341

[2020-05-07 17:47] #5173 closed

[2020-05-07 18:10] luisramos0 opened #5387 "[Spree 2.1] Saving list of columns as default works but display is broken"
## Description
After saving teh list of columns as default this is how the dropdown looks like:
![image](https://user-images.githubusercontent.com/1640378/81329297-3e1fff80-9096-11ea-8685-daa2e67f3a11.png)

## Expected Behavior
Should keep working as usual.

## Actual Behaviour
User cant select the columns any longer

## Steps to Reproduce
This can be seen in any list with customizable columns: pr

[2020-05-07 18:42] RachL commented on #4837
I've updated the issue description because I've noticed that it can happen for users with payment method shared across several shops.

[2020-05-08 00:53] daniellemoorhead commented on #4573
@luisramos0 yes, I think merging is ok because the experience is still better than what we have now.

@yukoosawa and I will do a design sweep on the OC section in the coming week, so any tweaks required can happen as part of that.

Go right ahead and merge it!
![](https://media1.tenor.com/images/61170a2f6c22319d6c179a7a073e30d3/tenor.gif)

[2020-05-08 01:12] emilyjeanrogers commented on #5300
We received an email from Autarky Farms on April 21st about an instance of overselling that they had experienced. Form the customer "I uploaded only 10 tomato bags but managed to sell 20 which seemed to maybe happen when it was in someone's cart but appeared to be available?"

Still waiting for specific order details but the Order cycle was coordinated by North Arm Farms, OC = "Orders for 22/4/20"

[2020-05-08 01:30] daniellemoorhead commented on #4572
Time for a design sweep on this epic, to make sure @yukoosawa is happy with the output, that we've achieved the desired outcomes, and that we can officially close this!

[2020-05-08 03:56] NickMoignard commented on #5074
Good idea, many open source platforms are using this way.
We can import docker images from docker hub directly in the docker-compose file.
That means, we don't build in docker-compose, just import images from public docker hub repo.

[2020-05-08 04:13] NickMoignard commented on #5074
[code]
Like above we can import docker image from docker hub

[2020-05-08 06:39] NickMoignard commented on #5386
Should we stop upgrading at 4.1? Rails 6 + updated gems have fewer security vulnerabilities.

[2020-05-08 06:56] NickMoignard commented on #4207
Yeah, I am interested in this issue.
Let me work on this

[2020-05-08 07:22] luisramos0 commented on #5300
ok, thanks for the info :+1:

In the orders of that OC now they dont have any "Tomatoes - 400g". They have 13 "Tomatoes - Large" in completed orders in that OC and 3 of them are in 3 orders in the cart state.
So, only 13 were sold in this OC.

The checkouts were not very close, only the first two ones with a difference of 30 secs, the last checkouts of Tomatoes were several hours apart.

They sold

[2020-05-08 07:24] luisramos0 commented on #4573
thanks @daniellemoorhead
@sigmundpetersen I think we should use this issue to track the missing bit, right?

This issue is the last in the OC epic #4572  so when we close this issue we can close the epic.

[2020-05-08 07:28] sigmundpetersen commented on #4573
Yep sure, I was just looking at the PR description saying it closes this.
But see now there were some more missing bits 👍

[2020-05-08 07:29] rmklaus12 commented on #5095
@RachL - can you please verify these keys are correct? We have two reports where `report_header_quantity` exists and it appears they are correct as they relate to an amount or number of a product.

 - Order_and_distributor_report
		 - Quantity (number/amount of product) - OK
			 - `report_header_quantity`
<img width="600" alt="orders_and_distributors" src="https://user-images.githubusercontent.com

[2020-05-08 07:35] luisramos0 commented on #5386
Hello Nick, no! We want to go all the way, this is only the next step. We have been making this top priority for some time now (upgraded to spree 2.0 and we are about to finish upgrade to spree 2.1 which uses rails 4.1, we will then remove spree_core and upgrade rails on our side, this issue).

What do you think? Would be great to get opinions from new contributors!

[2020-05-08 07:36] sauloperez commented on #4800
Thank you!

[2020-05-08 07:37] luisramos0 commented on #4800
This is a very generic rails task so I am marking it as a good first issue. For experienced rails devs only.

[2020-05-08 07:41] NickMoignard commented on #5386
Awesome, I agree with your quote it is quite a massive task, perhaps 4 weeks.

'BTW, the dual boot #4800 work is a good issue to be picked up by experienced new contributors!' awesome i'll have a look now.

[2020-05-08 08:18] daniellemoorhead commented on #4573
I think we close this @luisramos0, I'm doing a design sweep with @yukoosawa on the weekend for this epic and if anything comes up I'll be creating a new issue for it. So for now we close this one, because we'll be reviewing them all anyway :)

In terms of epic, leave it open for that design sweep work. I'll close it once a) the design sweep is finished, and then I'll move it to test ready so that

[2020-05-08 08:18] #4573 closed

[2020-05-08 08:46] luisramos0 commented on #4573
ah, awesome :tada:

[2020-05-08 08:51] #4462 closed

[2020-05-08 09:58] sauloperez opened #5391 "Release v2.9.8 Fricandó"
Steps:

- [x] Include translations
- [x] https://github.com/openfoodfoundation/openfoodnetwork/releases
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1409
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is

[2020-05-08 10:47] Matt-Yorkley commented on #5032
If we ditch our outdated jquery datepickers and replace them with something like this: https://www.daterangepicker.com/
... we could easily add some really nice custom options like "last order cycle" in addition to really nice daterange selection UX.

As things stand on reports performance, I think removing all the dateranges would be suicide for our production servers.

[2020-05-08 10:52] RachL commented on #5032
Note that's already what our users are doing. When then land, the first things they do is to remove the dates.
Anyway I agree with you that the date picker must change. Do you know if this one can be easily translated? Another big issue of the current one is that it is English only...

[2020-05-08 10:54] luisramos0 commented on #5367
Marking a ship method "backoffice only" was not working but this PR makes it work: https://github.com/openfoodfoundation/openfoodnetwork/pull/5392
I think users can use that field (display on) instead of unlinking/deactivating their ship methods.
Does that make sense @RachL

The root cause of this issue is not fixed. I am still wondering if this issue could be considered a feature, not a bug if we

[2020-05-08 11:40] romale opened #5394 "Currency name (руб.) incorrect displays on Russian locale"
## Description

In this path:
/admin/products/moloko/variants
"Price" show incorrect currency name, in codes (50.00 �,440;�,443;�,431;).
When interface language is selected as English, it's Ok.
But when interface language is selected as Russian, it's not Ok

## Expected Behavior

When interface language is selected as Russian, it should displays as "руб", like in English locale (pls see images bel

[2020-05-08 12:28] romale commented on #1534
yes, doesn't work

[2020-05-08 14:38] luisramos0 commented on #1299
this is working in the old safari of my iphone 4 :-)
![index](https://user-images.githubusercontent.com/1640378/81416492-b7c0f780-9141-11ea-9ed0-aed83a089fb0.jpeg)

Maybe broken in some other devices/browser?
I'll move this to test ready. This needs some investigation in browserstack.

[2020-05-08 14:47] luisramos0 commented on #4973
Hello, this is not a bug, this is explicitly done on the code for a very good reason, the extra column doesnt fit the page.
Before:
![image](https://user-images.githubusercontent.com/1640378/81417160-ab896a00-9142-11ea-8dfa-81f738e4ea43.png)

After:
![image](https://user-images.githubusercontent.com/1640378/81417103-96144000-9142-11ea-87d7-3ef30c04856c.png)

The easiest way out of this is probably

[2020-05-08 15:56] sigmundpetersen commented on #1299
Tested and error also shown on S9/Android/Firefox

[2020-05-08 16:27] lin-d-hop commented on #4973
Sounds good to me. I feel like this is familiar UX from other sites.

[2020-05-08 16:41] cillian commented on #5078
:wave:... I got Open Street Map working [here](https://github.com/cillian/openfoodnetwork/commit/87427e49c18d60fb7b2dfbd69d1655c6ecc98aa8). The search works a bit differently than usual but if that's not a problem I could open a pull request?

![ofn-open-street-map](https://user-images.githubusercontent.com/101088/81427419-b3e9a100-9152-11ea-98e6-c4274ccbbc42.gif)

![open-street-map-config](https:

[2020-05-08 20:58] kirstenalarsen commented on #5331
@Matt-Yorkley @mkllnk @kristinalim @sauloperez any 'other Dev' feeling a eureka moment?

[2020-05-08 21:00] kirstenalarsen commented on #5331
@Fug1 @luisramos0 if the actual tax rate was just included in the line item in the API that would mean it can be calculated right? Even if the amount itself isn't in the database?

[2020-05-08 22:31] Fug1 commented on #5331
I think it would be helpful to get the tax_category in the orders api output. It's in the spree_line_items table, but doesn't get included in the line item section in the orders api output.

But then you still have the problem of trying to figure out the tax_category of the enterprise fees. The fees show up in adjustments, and you need to figure out the tax_category by looking in the enterprise_fe

[2020-05-09 05:52] daniellemoorhead commented on #4973
Yep, sounds good Luis. Change it to edit.

[2020-05-09 05:53] daniellemoorhead commented on #1299
Awesome, I’ll test this next week.

[2020-05-09 07:15] Matt-Yorkley commented on #5078
Nice! Sure, open a pull request @cillian and we'll take a look.

[2020-05-09 08:44] RachL commented on #5078
Exciting!!! 😍

[2020-05-09 08:52] RachL commented on #5367
yes awesome :)

I wonder if we cannot display something like this "do not edit your shipping method with big changes (completely change the name, de-activate or remove fees) if you have orders with this shipping method that has not been shipped yet". On the shipping method list or edit page (or both). Maybe a bit long :D but at least people see it, it's not just an email we send them and then they

[2020-05-09 09:14] RachL commented on #5331
I wonder if the conclusion of this discussion in discourse wouldn't help? https://community.openfoodnetwork.org/t/co-budget-and-organization-around-the-tax-overhaul-dev/748/32?u=rachel

The price estimation at the end seems very low, I have no idea how accurate this was... this is 3 years old now... but it is even possible I think we should have a serious look at it.
I'm mentioning this as fyi in

[2020-05-10 01:30] daniellemoorhead opened #5397 "[mobile ux] background page scroll on mobile causes placement issues with modals."
## Description
Background pages scrolls when a modal is open.

## Expected Behavior
Background page does not scroll when modal open, and doesn't impact on positioning of modals (ie. they always display where they are supposed to)

## Actual Behaviour
Background scrolls when modal is open. Impact:

* Users shut modal and are in a different position to where they were when they opened it. <- bad UX.

[2020-05-10 02:32] daniellemoorhead commented on #4572
## DESIGN SWEEP

**No open OC**
- [ ] closed message needs to span the window

[2020-05-10 02:37] daniellemoorhead commented on #4567
Re-opening this, as @yukoosawa is doing a design sweep for it.

[2020-05-10 07:52] Matt-Yorkley commented on #5391
Notes:
- #5317 has been added to the release (release notes, target commit, and test build are all updated)
- #5352 has not been tested yet, but might go in?

[2020-05-10 12:20] luisramos0 commented on #5397
Devs will assign themselves to issues if they see they can fix the issue.

[2020-05-10 12:24] daniellemoorhead commented on #5397
I’d assigned you so you can see it as it relates to an issue you’re working on. My intention was to chat with you about this and discuss the best way forward, thus assigning all three of us.

[2020-05-10 18:36] luisramos0 commented on #5397
ok, thanks for letting me know :+1:

[2020-05-10 19:06] yukoosawa commented on #4572
## DESIGN SWEEP - Sunday May 10, 2020

**_Google doc w/images to accompany issues: https://docs.google.com/document/d/1JsplLJJLhRwLUKv7WrgEr6thOylOtJ3JMC5wni42gEE/edit?usp=sharing_**

**OC Selector**
- [ ] Increase width of OC selector dropdown so more characters can fit in [desktop & tablet]
- [ ] Widen OC selector dropdown on RIGHT SIDE so it has equal margins on left and right sides [mobile]
-

[2020-05-10 19:21] luisramos0 commented on #4572
great @yukoosawa thanks a lot.
I'll take this one. I'll make a new PR to fix these things :+1:

[2020-05-10 19:36] luisramos0 commented on #5367
hmmm, instead of that message I think we should fix the root cause.
I think this issue is still an S3 after this last PR. So I think the best approach is to prioritize this S3 at some point and get the first PR forward: make the order edit page less smart and not remove deactivated ship methods if they are assigned to an order (even if the order has not been shipped yet).

I said it was complicate

[2020-05-10 19:55] yukoosawa commented on #4567
## DESIGN SWEEP - Sunday May 10, 2020

**_Google doc w/images to accompany issues: https://docs.google.com/document/d/18NZ9-6L8lSC0pTtuZsPZMfd9jrDP7rBgWQPF6z4L8-k/edit?usp=sharing_**

- [ ] Improve the spacing of the shop tabs [mobile + tablet]
-- Right now home, shop, and about are too squished to the left.
-- The problem persists if the shop has 4, 5, or 6 tabs.
-- Spacing between the tabs shoul

[2020-05-11 00:43] mkllnk commented on #5382
I think we need to start using [puffing billy](https://github.com/oesmith/puffing-billy) to deal with external JS dependencies. It should allow us to hit the Google API only once when recording the test. After that, we are independent.

[2020-05-11 04:11] daniellemoorhead commented on #4567
@Matt-Yorkley you ok to sort out these remaining items that came out of @yukoosawa's design sweep?

[2020-05-11 06:45] RachL commented on #5367
yes @luisramos0 but there are a lot of s3 to prioritize... including the one where de-activating is making the method disappear for the user... So at least during that time the user has a warning?

[2020-05-11 07:56] #5306 closed

[2020-05-11 08:10] Matt-Yorkley commented on #5391
#5352 is now in, everything updated :+1:

[2020-05-11 10:01] luisramos0 opened #5399 "Add warning message to shipping and payment methods edit page"
## Description
There are two unresolved problems with shipping methods, with @RachL we agreed that it's a good short term solution to add a warning message to the edit ship methods page so that users are aware of some consequences of de-associating a shipping method from an/their enterprise.

The problems are that, de-activating a shipping method:
- and then editing a complete order that have not

[2020-05-11 10:06] luisramos0 commented on #5367
ok, I agree to add the message.
I created a new issue for that: #5399
I can create a new PR very easily to address it. Let's agree on its details first.

[2020-05-11 10:42] filipefurtad0 commented on #5391
Hey @sauloperez and @Matt-Yorkley ,

The release is good to go.

Testing notes:
https://docs.google.com/document/d/1r08803V_vzv4o7e7loIkYP7xdyD98mecEPnp-1TBCZM/edit#

One comment:
The report admin/reports/orders_and_distributors shows repeated entries for the same order. For example, an order of 4 items shows up as 16 entries in this report. Is this the expected behaviour? In any case, I observed

[2020-05-11 10:45] sauloperez commented on #5391
I'm not sure what's the expected of that report but this sounds like a bug to me. Can you create an issue and discuss there?

[2020-05-11 10:47] filipefurtad0 commented on #5391
I'll do so - thanks for the feedback @sauloperez !

[2020-05-11 10:53] luisramos0 commented on #5384
ok, I am tagging this S2, if this was on one of the main instances this would obviously be an S2, right?
I am tagging it blocked until we get access to the BR server to debug it.

[2020-05-11 11:08] kirstenalarsen commented on #2551
This is connected to https://github.com/openfoodfoundation/openfoodnetwork/issues/5208

[2020-05-11 11:29] kirstenalarsen commented on #5032
on the pages where there are no dates the page loads blank to start with. they have to set filters, so it could be server suicide if they actually try to load everything, but that's not the info they want so I really don'w know how much they would do it

[2020-05-11 11:37] filipefurtad0 opened #5400 "Repeated entries in Orders and distributors Report"
## Description

Orders and distributors report at:

admin/reports/orders_and_distributors

shows more than the expected entries. For example, an order of 4 items shows up in 16 times in the table. If the number of items n in that order is 1, then all is good. So, for n > 1 then a n^n behaviour is observed (pic below).

It's worth noticing this was observed before the latest release v2.9.8, across

[2020-05-11 18:17] RachL opened #5401 "Translate Stripe error messages on the shopfront"
## Description

**- As a:** buyer
**- On page:** at `/checkout`
**- I want to be able to do:** See the error messages that Stripe is returning in the language I'm displaying OFN with.

Example of error message return by Stripe:

- Your card is declined

But there are others.

## Acceptance Criteria & Tests

I have no idea how to test this on staging: translation won't be in and we can only use tes

[2020-05-11 18:41] RachL opened #5402 "JS errors on checkout"
## Description

Some users have a js error that prevent them to checkout on some browsers (around 27 cases in the past 7 days).

The checkout button does react to the click of the pointer.

The same happens with the connection button as is #5080 However user can workaround it by connecting after changing their password. On checkout the option for workarounds are limited if the user does not know h

[2020-05-11 19:27] #5217 closed

[2020-05-11 19:27] #5218 closed

[2020-05-12 00:16] mkllnk opened #5405 "Invoice rendering fails due to missing address"
## Description

Printing invoices or viewing an invoice can fails when a billing address is missing.
https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5eb7b3af2d025e0017d4e8af

Also related to missing addresses:
https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5eb771788be4b200171f8fb0

## Expected Behavior

Every order should have a billing address. And if the address was missing, it sh

[2020-05-12 06:55] #5391 closed

[2020-05-12 08:29] mkllnk commented on #5239
Design ideas from the delivery train meeting:

- Highlight the input box that needs updating (red border).
- Highlight update button when form has been changed.
- Disable Checkout button until the form has been saved.

[2020-05-12 08:31] Matt-Yorkley commented on #5239
@filipefurtad0's point at the end: the user can't easily navigate away from the page at this point, they get repeatedly redirected back to the cart unless they perform all the required steps manually.

[2020-05-12 08:33] Matt-Yorkley commented on #5239
I think the "Highlight update button when form has been changed" bit would be great in general, and not just for this specific issue.

[2020-05-12 08:59] RachL commented on #5239
So the "continue shopping" button is not available?

[2020-05-12 09:00] filipefurtad0 commented on #5239
It's available, you can click it, but you get redirected back to the cart page - the user is really stuck :-)

[2020-05-12 09:09] RachL commented on #5239
Yes changing the text is really important. But I don't understand why we don't want the user to continue shopping 🤔

[2020-05-12 09:12] luisramos0 commented on #5239
@RachL because the cart is in a state the system cant really handle in the other pages like shop and checkout.
Could be fixed but maybe not straight forward. I'd rather keep that behavior and go with the other easy fixes proposed:
- change message, highlight input box, highlight update button and disable checkout button.

[2020-05-12 09:16] filipefurtad0 commented on #5239
Sounds good @luisramos0. Then perhaps we should disable the Continue Shopping button as well? At least until the changes are made, which allow pressing the Update button.

[2020-05-12 12:43] luisramos0 commented on #4572
I have ticked the 4 items addressed in #5407

According to browserstack the two last "OC Selector" items are specific to ipad mini 3, it looks good on ipad and also on ipad mini 2019. I cant fix it because the simulator of ipad mini 3 is not working with my local.

[2020-05-12 14:52] romale opened #5409 "Translation of "Type in location" in /map not works"
## Description

I've translated "location_placeholder" attribute to russian, but no change on web interface

## Expected Behavior

"Введите местоположение ..."

## Actual Behaviour

"Type in a location..."

[code]

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/928628/81706732-dba17780-9478-11ea-9945-8ddf17734c97.png)

## Workarou

[2020-05-12 17:33] RachL opened #5412 "Wrong VAT amount"
## Description

For a particular order on French prod: order number R767327431

`/admin/reports/sales_tax` is showing an amount of VAT at 2,1% of 0,05 cents.

Yet this hub has no product at 2,1% VAT and the order isn't showing any line with a 0,05 euros fee.

I searched through payment method or shipping method taxes... but I can't find anything...

## Expected Behavior

`/admin/reports/sales_tax`

[2020-05-12 18:24] luisramos0 commented on #5412
I see 5cents as included tax of this (manual?) adjustment:
![image](https://user-images.githubusercontent.com/1640378/81730257-29bc7800-9485-11ea-9e83-a8762ac45014.png)

I am not sure what value is these 5cents, but if 0.05 is tax included in 1.83 than the tax is something like 3,4%
I am not sure...

Another idea: 2.1% is the super Reduit tax rate maybe applicable to a product that is no longer in

[2020-05-12 18:46] RachL commented on #5412
Ah yes thanks! I remember that you gave me this lead now on Slack. I've explored the possibility, but the product should still be in the catalog with the wrong tax right? Or they would have deleted both the line item and the product... and only on that order. 🤯

Yes and actually only the total tax value of the /admin/reports/sales_tax shows the tax _with_ adjustments. So all the amounts oh the rep

[2020-05-12 18:51] luisramos0 commented on #5239
agree @filipefurtad0

I just noticed we have something different to the Update button when editing a completed order:
![Peek 2020-05-12 19-50](https://user-images.githubusercontent.com/1640378/81733438-f203ff00-9489-11ea-991c-5ff7b8a57083.gif)

[2020-05-12 19:32] RachL commented on #5399
Well they can de-activate a shipping method, which sucks if they have only one enterprise, but I'm fine to put it in the edit page for now.

I think top we have more space?

I don't think we have anything in red currently? So I guess we must go with your suggestion. I'm dreaming to get rid of that small blue font one day :)

[2020-05-13 07:43] luisramos0 opened #5416 "[Very Flacky spec] new Job Logger spec is breaking in lots of branches"
It's works on my computer but most builds are broken with:
[code]

This was created in #5334

[2020-05-13 08:45] Matt-Yorkley opened #5418 "Katuma Server Upgrade"
Issue for tracking Katuma Server Upgrade.

Currently scheduled for Saturday night.

### Pre-Migration

- [x] Buy a new server
- [x] Create a temporary subdomain and point it at the server
- [x] Set up some temporary configs for the new server (`hosts` entry, `host_vars`, etc)
- [x] Run the`setup` playbook on the new server
- [x] Use the new `letsencrypt_proxy` playbook on the current server, speci

[2020-05-13 08:52] luisramos0 commented on #5363
ok, I see what's the problem.

The error can be seen on dev tools, on that resquest you show but on the response tab:
![image](https://user-images.githubusercontent.com/1640378/81791411-9aec4180-94fe-11ea-87be-1bf466426203.png)

It's a problem with duplicate product permalink apples-2.

On investigation I see that in master the code is smart enough to generate unique permalinks for the products, b

[2020-05-13 08:55] filipefurtad0 commented on #5239
This looks great as well @luisramos0.

The Save Changes covers all functionality of the Update button and has much better UX I think. Implementing this and removing the update would be a good solution too, especially if combined with the design solutions above.

[2020-05-13 09:22] Matt-Yorkley commented on #5418
I'm doing a quick bit of hacking/prep for the migration on `fr-staging`, so marking it as in use...

[2020-05-13 09:37] luisramos0 commented on #5239
yeah, I think we agreed not to move the update button though :-)

[2020-05-13 09:45] filipefurtad0 commented on #5363
Awesome @luisramos0,

I just imported a product with a unique name, and it works fine - no permalink issues.

Checking this and also related to doubles, I noticed that I try to update the stock, using the import function - uploading the same product, same variant name, to the same enterprise, just a different on_hand value results in this error:
![image](https://user-images.githubusercontent.com/4

[2020-05-13 09:49] filipefurtad0 commented on #5239
Oh, so I misunderstood your suggestion :-) I interpreted this as a separate option for solving this. Please disregard the comment above then - sorry!

[2020-05-13 10:15] luisramos0 commented on #5363
hmmm... yeah, I got to that error as well locally. I am not sure how they are related though :man_shrugging: BUT I deployed my fix to the variant_unit_name issue (it's a straight forward thing) and deployed the PR to staging UK and now I cant replicate the original error: permalink.

Can you try to replicate the original problem in staging UK now? There's PR #5420 in there now.

[2020-05-13 10:35] sauloperez commented on #5416
I'll take a look now that I have it fresh in my mind.

[2020-05-13 10:47] Matt-Yorkley commented on #5418
@sauloperez un regal :point_up: :gift: :wink:

[2020-05-13 10:54] filipefurtad0 commented on #5363
I can't seem replicate neither the permalink nor the variant_unit_name error. Both seem fixed :+1:

[2020-05-13 11:19] luisramos0 commented on #5363
ah, nice, that means the extra variant_unit_name field was making the permalink logic break. I dont really understand how this could happen but I don't think it's worth investigating now. We can move forward. I'll move the PR to code review, thanks Filipe!

[2020-05-13 11:30] Matt-Yorkley commented on #5340
I've more or less figured out this edge case, but I'm having trouble replicating the specific path in tests. I'll move this back to `dev ready` and maybe someone else can have a look.

I've left some explanatory notes here: https://github.com/openfoodfoundation/openfoodnetwork/compare/master...Matt-Yorkley:enterprise-controller-stock

[2020-05-13 11:39] RachL opened #5422 "When edditing an adjustment, the tax type displayed is not the one selected previously"
## Description

When you edit an adjustment of an order the tax rate displayed is not the tax rate that has been selected previously.

## Steps to Reproduce
1. Add an adjustment to an order and select a tax type
2. Save
3. Edit the adjustment again, see that the tax rate displayed is not the previous one: often it is the "remove tax" tax type

## Animated Gif/Screenshot

In this screenshot the 20%

[2020-05-13 11:43] RachL commented on #5412
Ok thank you @luisramos0 I think I have traced what happened: they selected the wrong tax rate for the adjustment. When editing the tax rate as the display is not correct they assumed that they didn't do a mistake.
I've opened: https://github.com/openfoodfoundation/openfoodnetwork/issues/5422 for the display problem.
And I can't wait for us to get invoices with all history that happened to an orde

[2020-05-13 11:43] #5412 closed

[2020-05-13 12:41] tschumilas opened #5423 "Display only shopfronts not displaying products"
## Description
A display only shopfront arises from an OC where shipping and payment methods have been disabled.  No customer can checkout,  but the shopfront still displays available products as per the OC.    In OFN-CAN we are using these with farmers' markets to give customers a dynamic list of what is available in the market that week.  Customers shop from individual vendors.

It was working f

[2020-05-13 12:46] luisramos0 commented on #5422
there must be a problem in the form or controller setting the tax_rate_id used app/views/spree/admin/adjustments/_edit_form.html.haml and probably set in app/controllers/spree/admin/adjustments_controller.rb

I am tagging good-first-issue, should be easy for a dev with experience with rails.

[2020-05-13 13:47] luisramos0 commented on #5399
I think I'll ignore this part of the message:
"   - if you edit an order that has not been shipped yet but is assigned to a de-activated shipping method, the order shipping method will be automatically replaced by an active shipping method. "

It's just too much text to put on the page :face_with_head_bandage:

[2020-05-13 14:15] luisramos0 commented on #5399
![image](https://user-images.githubusercontent.com/1640378/81820854-06e39f80-9529-11ea-9907-641ba9900356.png)

![image](https://user-images.githubusercontent.com/1640378/81823755-8c1c8380-952c-11ea-99ff-018b6ada9bc9.png)

[2020-05-13 14:42] luisramos0 commented on #5399
@RachL the PR is now in code review, let me know if you want me to change something!

[2020-05-13 16:06] luisramos0 commented on #5367
Quick summary:
- PR #5392 makes shipping method "Display" option "backoffice only" work again and removes "front end only" (too difficult to fix)
- PR #5424 adds a warning message to the Shipping Methods list, and the edit page, recommending the "backoffice only" option instead of de-activating shipping methods (which can have consequences)
- PR #5425 adds the same warning for Payment Methods, adv

[2020-05-13 16:13] RachL commented on #5367
@luisramos0 yes perfect! Thank you :)

[2020-05-13 16:15] luisramos0 commented on #5423
I am pretty sure this was introduced with the recent closed shop work :-(
https://github.com/openfoodfoundation/openfoodnetwork/pull/5262/files#diff-c7c5d88a2da5beebdce7a4473dbc86ceR4

There is no reference to this case (display only shopfronts) in the code or the automated tests...
This should be easy to fix.

Is this an S2?

[2020-05-13 16:17] RachL commented on #5399
@luisramos0 I think we are good. Though I remember @tschumilas mentioned that people were also sometimes editing name or fees, and this led to not ship orders to be wrong as well. But I guess we will be able to add it in translation :) So let's move forward!

[2020-05-13 16:19] sauloperez commented on #5418
![](https://media.giphy.com/media/S9oNGC1E42VT2JRysv/giphy.gif)

[2020-05-13 16:23] luisramos0 commented on #5399
yes, we could have added that case as well...

[2020-05-13 18:31] #1782 closed

[2020-05-13 18:39] luisramos0 commented on #5260
I cant remember exactly when but the staged version in UK is now the official one 3-0-stable :+1:

[2020-05-13 18:45] luisramos0 commented on #5260
I have manually activated FR language in uk staging so we can look for missing translations. It will be wiped out on the next deploy but we can keep the current version in there for a few days at least.

[2020-05-13 18:52] #4388 closed

[2020-05-13 19:06] luisramos0 commented on #4186
I think this problem is now an S3 as the users can see the order. The data inconsistency is still there and the root cause is still unknown.
Maybe we should close this issue and open a more specific "data inconsistency" issue. For now I'll just move this to "All the things".

[2020-05-13 20:08] RachL opened #5428 "Sales tax report is showing amounts per types without adjustments"
## Description

No idea if this is a bug or a new feature, but this is preventing a user to do his official VAT declaration... :facepalm:

Indeed in France we have several VAT rates, let's keep it simple for understanding the issue: wine is at a 20% VAT rate and cheese at a 5,5% VAT rate.

So an order can have products with different tax rates.... but also adjustments with different tax rates as w

[2020-05-13 22:39] tschumilas commented on #5400
This could be nothing related - but I'd feel bad if I didn't mention.  The large hub here that still can't run their OC_ Customer Totals report (even though our timeout has been re-set)  has also had problems with duplicate data entries showing up in the product lists of some of their suppliers.  We have not figured out where the duplicates came from -  but they seemed to show up sometime during t

[2020-05-13 23:42] emilyjeanrogers commented on #5400
I was able to replicate this on a test Enterprise in Aus. Placed an order for 4 items and it appeared in the Orders & Distributors report 16 times.

[2020-05-14 02:24] mkllnk commented on #5400
I wrote an automated test for this and then tried to find when we introduced it. I went back as far as January and my test says the same thing: 2 line items result in 4 rows on the report. Are we sure this is new?

I will dig into the code now to find the logic doing this.

[2020-05-14 02:52] mkllnk commented on #5400
Okay, I think I found the change that made this fail: 13633e8bea3cf7b8720f9d8698f255a8d0f0ace2 was included in v2.7.0 deployed on January 21st.

Is it fair enough to downgrade this to s2 because it has been in production for nearly four months? If you know the pattern, you can also recognise the duplicates and remove them from the report manually. Is that a workaround?

I'm quite close to a soluti

[2020-05-14 12:32] oeoeaio opened #5431 "Variants only in stock in inventory not displayed correctly when added to order in admin section"
## Description
When adding a line item to a new order in the admin section, where the variant **is not** in stock in the product catalog but **is** in stock in the product inventory for the relevant distributor, the order ends up in a strange state where line items are added to the order but are not visible in the UI, aside from the impact that they have on the order total.

It is important to not

[2020-05-14 12:53] kirstenalarsen commented on #5431
beautiful issue write-up @oeoeaio - thanks!

[2020-05-14 13:09] luisramos0 commented on #5400
downgraded to S2 based on the fact that is broken since January.
anyway, the fix is in, thanks @mkllnk :+1:

[2020-05-14 13:22] luisramos0 commented on #5431
I can have a look.
Welcome to the crazy stock management in Spree 2 Rob :tada:
Nice investigation!!! I think you have found a bug in the customization we did when we upgraded to spree 2.
I think there's something missing in your point 8: the customization for spree 2: the on_hand value is built from stock_location.fill_status, that's a decorated method in OFN that will call variant.fill_status tha

[2020-05-14 13:33] #5416 closed

[2020-05-14 13:44] RachL commented on #5094
hey @sharonfruit ! Did you get any feedback? Are you still planning to work on this?

[2020-05-14 13:45] kirstenalarsen commented on #5431
ping @oeoeaio ☝️

[2020-05-14 19:30] luisramos0 commented on #4959
I think I had a quick at this one at the time when it was reported and I think I saw that this was the problem generating this error message:

https://app.bugsnag.com/open-food-france/open-food-france-prod/errors/5eba5cb7ccbc8300170db8c3?event_id=5ebd364c005b2b5cfaf40000&i=sk&m=fq
[code]

[2020-05-14 23:16] filipefurtad0 commented on #4959
Thanks @luisramos0,

I've just reproduced this, and it seems not to be related to picture upload at all, but rather when tries to create the product without filling the Value * field, as shown in the first picture above. Updating the description.

[2020-05-15 01:54] daniellemoorhead commented on #4572
@Matt-Yorkley the first item in @yukoosawa's [OC design sweep document](https://docs.google.com/document/d/1JsplLJJLhRwLUKv7WrgEr6thOylOtJ3JMC5wni42gEE/edit?usp=sharing) needs your attention, not sure if you'd be alerted about this so pinging you in here:

![Screen Shot 2020-05-15 at 11 49 36 am](https://user-images.githubusercontent.com/10949052/82002987-9791bb00-96a2-11ea-87eb-4aefc908f895.png)

[2020-05-15 02:54] daniellemoorhead commented on #4599
Oh, and:

This is a fine solution, we're pretty sure anecdotally that hardly anyone uses the description field, so this solution works fine 😄

[2020-05-15 03:42] daniellemoorhead commented on #1299
No longer happening, tested on iPhone SE / safari as well. Closing.

[2020-05-15 03:42] #1299 closed

[2020-05-15 03:53] mkllnk opened #5433 "Release v2.9.9 Filter Coffee"
Steps:

- [x] Include translations
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [ ] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-9-9/builds/2
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described at https://github.com/openfoodfounda

[2020-05-15 07:07] #4604 closed

[2020-05-15 07:07] #4602 closed

[2020-05-15 07:07] #4603 closed

[2020-05-15 07:07] #4605 closed

[2020-05-15 07:07] #4669 closed

[2020-05-15 07:16] daniellemoorhead opened #5434 "[mobile ux] On iOS keyboard does not shut after entering search term on shopfront and clicking 'return' button"
Note: this was a leftover from the Search and filter work done by Matt Yorkley. He was unable to fix this, hopefully we can find someone else that can.

## Expected Behavior
When accessing search on a shopfront on an iPhone or iPad, when I enter the search term and hit 'enter' the keyboard should close / no longer display

## Actual Behaviour
When accessing search on a shopfront on an iPhone or iP

[2020-05-15 07:17] daniellemoorhead commented on #5434
Ping @yukoosawa, bug created.

[2020-05-15 07:49] daniellemoorhead commented on #4671
I'm pretty sure all these are gone now. Is that correct @mkllnk and @Matt-Yorkley, they disappeared from the product list view and the filter view?

[2020-05-15 07:49] #5104 closed

[2020-05-15 07:53] daniellemoorhead commented on #5024
Hey @Matt-Yorkley this is the last epic to be done in the mobile shopping work. I think you did some previous work on this...maybe you'd like to finish what you started?

![](https://media.giphy.com/media/3orif75hTF6XTFLCec/giphy.gif)

[2020-05-15 08:26] RachL opened #5436 "[Spree 2.1] Missing translations keys in Enterprise settings left menu"
## Description

Whole left menu in English.

## Steps to Reproduce
1. Log in as manager and go to Enterprise settings
2. See left menu

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/6525576/82028816-6612f280-9696-11ea-9e8a-b23346df4082.png)

## Severity

This is an s2 for non english instances

bug-s2: a non-critical feature is broken, no workaround

## Your Enviro

[2020-05-15 08:45] RachL opened #5437 "[Spree 2.1] Cannot connect Stripe"
## Description

I've tried to connect my stripe test account with my enterprise. I got an authorization failure.

## Steps to Reproduce
1. Login with rachel.arnould+spree[at]protonmail.com and my infamous password
2. Go to payment method and try to connect a Stripe account

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/6525576/82030755-24377b80-9699-11ea-86c0-64e09

[2020-05-15 09:06] luisramos0 commented on #4959
ah, awesome, you have nailed it :tada:

For devs: this needs to be investigated when in dev but I found that an empty unit value field is not making the product invalid in the code, it just leaves the product without variants. And when the stock levels code runs in  products_controller#set_stock_levels, it picks up the master variant and it fails because there are no stock items. I think the fix t

[2020-05-15 10:54] sauloperez commented on #5294
#5333 is already in production and #5334 is included in v2.9.9 so it'll land production next Tuesday. I'm closing this then, as agreed in the delivery train meeting. Next time this happens will have more insights to diagnose the issue.

[2020-05-15 10:54] #5294 closed

[2020-05-15 12:05] luisramos0 commented on #5100
hey, while investigating #5340 I found the source of this bug and I can replicate it :tada:
The trick is to open different shops in different tabs (do we support shopping in multiple shops at the same time?). This explains why it keeps happening to you @kirstenalarsen I am sure as a power user you  open multiple shopfronts on different tabs at the same time :-)
I found this by going to /shops and

[2020-05-15 12:06] kirstenalarsen commented on #5239
I think we should go ahead with the solution described above so we can just get this sorted

AND I can't help wondering why we don't just automatically amend the cart to remove out of stock items and notify the customer. But anyway, fix above is a good step forward

[2020-05-15 12:15] luisramos0 commented on #5340
Hey @lin-d-hop , the video was really helpful, I can replicate this!
All you need is a shop with 2 open OCs. Select one of the OCs and add some items to the cart.
Go to the backoffice and close the OC you have the cart on. When you try to reload the shop page, it  will TRY to automatically select the other still open OC and fail with this error because the items in there are from the recently clos

[2020-05-15 12:37] luisramos0 commented on #5100
this is where the 404 comes from:
https://github.com/openfoodfoundation/openfoodnetwork/blob/5c7541e63d4939d3c5e68242e05bffe83bee9c75/app/controllers/shop_controller.rb#L17

The OC of the shop is sent to the server but the current_distributor on the server is the other shop...

One possible solution here will be to make the angular code send the distributor id together with the OC id so that on th

[2020-05-15 12:44] kirstenalarsen commented on #5100
Nice work detective @luis! that'd be it - yes i have multiple shops in multiple tabs all the time, and I regularly open a bunch as 'open in new tab' from the shops page. Pretty unlikely that normal people do this, which is probably why it's only been reported by instance managers rather than users. So I think can stay s3

[2020-05-15 12:44] luisramos0 commented on #5072
I think we could easily re-add the message on the shop page, maybe a different field like "shop message" vs "home message" than users could choose their preferred style. So all the users who think this separation between home and shop is not good (I am sure I am not alone on this one), they could disable the "home message" and use the "shop message".
This could be achieved on the enterprise settin

[2020-05-15 13:00] sigmundpetersen commented on #5100
(btw @kirstenalarsen I think that's another Luis you tagged there) 🙂

[2020-05-15 14:03] romale opened #5441 "Error 500 when trying to log in as super admin to /admin"
## Description

I've issue like this https://github.com/openfoodfoundation/openfoodnetwork/issues/3567
but i've translated all keys (zero,one,other)
It happens when I've added more products, with 1 product i've no 500 error, with 3 and 4 products i've 500 error

[code]
[code]
[code]

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1. Log in as super admin
2. Go to /admin
3. Get 5

[2020-05-15 14:28] romale commented on #5441
This issue happen only if I logged as super admin. From enterprise owner (manager?) it's works (without 500 error)

[2020-05-15 14:49] sauloperez commented on #5418
The list looks good. I would go with the optional extras if it's not too late because these things become expensive tech debt quite soon.

[2020-05-15 15:15] Matt-Yorkley commented on #5418
Cool, I added those at the end as a non-critical tidy-up.

[2020-05-15 15:26] Matt-Yorkley commented on #5418
Since I'm about to mess with the certbot validation mechanism on the current production server I did a quick check of your certificate's renewal date.

42 days left, no passa nada.