[2018-08-09 02:31] kirstenalarsen commented on #2510
I agree that the actions button should be below the filters, closer to the action (so to speak ;)

I think repeating the button at the bottom of the page certainly wouldn't hurt and would be good

I am not sure about not loading orders. I have used this page a lot and it's very handy to be able to load it and just see that orders are coming in, who has ordered recently etc. If you have a reported

[2018-08-09 03:55] mkllnk commented on #2523
Excellent, @luisramos0, that's exactly what we discussed. Looking at it now, I'm just wondering if it's too much in one step. Maybe we can break it into smaller pull requests.

1. Create `app/controllers/cart_controller.rb` that is basically doing the same as the current code. The frontend code just needs to change the URL to post updates to. As at the moment, it would always modify the current ca

[2018-08-09 07:02] myriamboure commented on #2230
@RachL I'm not sure I understand "I can CRUD a delivery quantity in bulk"?  Do you mean "I can CRUD delivered quantities for many products and customers in just one view?" Is it what you mean here by "bulk"? Just to make sure, I guess that's what it means and I also noted that from the meeting but it's not clear now...

Small feedbacks on your mockups:
- we use "end date" in all other page if I'm

[2018-08-09 07:19] sstead commented on #1632
**Further issues with the OC advanced Settings**

I found while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/2413 that the setting wasn't working...
In the example pictured below the products should be restricted to the coordinator's inventory, which is correctly 2 variants. But when I save the OC I see that the OC has 7 variants, and when I go to the shop the variants aren't

[2018-08-09 08:18] HugsDaniel opened #2530 "[Spree 2 Upgrade] Fix Spree's test suite"
## Description

This is a placeholder for Spree's test suite related issues.

[2018-08-09 08:37] HugsDaniel opened #2531 "[Spree Build] Selenium::WebDriver unable to obtain stable firefox connection"
## Description

With recent versions of Firefox and the version of Selenium WebDriver that is used in Spree `2-0-4-stable` , Selenium is unable to establish a stable connection with Firefox, so tests using Selenium don't run.

`Selenium::WebDriver::Error::WebDriverError: unable to obtain stable firefox connection in 60 seconds`

## Expected Behavior

SeleniumWebdriver runs with recent versions of

[2018-08-09 10:35] HugsDaniel opened #2532 "[Spree Build] Selenium::WebDriver element is not clickable"
## Description

Blocked by #2531

When running Spree's test suite for `backend`, an error occurs with Selenium with the following message :
`Element <button class="foo"> is not clickable at point (...) because another element <div id="select2-drop-mask" class="select2-drop-mask"> obscures it`.

This comes from the select2 dropdown used by Spree for selection in form fields containing a collection

[2018-08-09 11:06] HugsDaniel opened #2533 "[Spree Build] SQLite3::BusyException: database is locked"
## Description

Blocked by #2531

When running Spree's test suite in `/backend`, the test `Product Details deleting a product is still able to find the master variant` from `backend/spec/features/admin/products/edit/products_spec.rb:56` fails with the following message :

`SQLite3::BusyException: database is locked: DELETE FROM "spree_adjustments";`

## Expected Behavior
Database should allow the

[2018-08-09 11:49] myriamboure commented on #2510
Isn't it a bit strange to have one action button at the right of "listing orders" ("new order") and another action button below the filters? I find it strange in term of UX personnaly. I woudl rather do what you did in delivery note suggestion @RachL which would be to hide/show the filters (as most websites do), so by default it can be hidden you can show and filter, when it shows results it hide

[2018-08-09 13:19] luisramos0 commented on #2434
is this issue now closed with the closed PR?

[2018-08-09 15:26] RachL commented on #2510
@kirstenalarsen @myriamboure thanks for your feedbacks!
No problem about showing order on first page, however it is weird to me that some pages work that way on OFN and others don't. That's why I've proposed that orders appear automatically if you have only one shop, and do not if you have several, which is a clear rule. Anyway if we keep this on order page, I think we should consider working on p

[2018-08-09 20:54] luisramos0 commented on #2523
Yes, agree, excellent.

Before I start changing things I am documenting my study of the code here:
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Tech-Doc:-Customer-shopping-flow-(Orders,-Line-Items-and-Checkout)

The controllers structure is quite amusing!!!
For example, CartController.add_variant was written in 2013 :-D
I am sure we have some very healthy quantities of dead code here

[2018-08-10 01:09] mkllnk commented on #2218
Yes, I think we can close it.

I still have a not about creating an issue for `payment_attributes`, but looking at the code now, I can't see any reason for that. Was that the thing that we thought `payment_attributes` was removed, but they removed only a duplicate. It's still there and works the same as before.

[2018-08-10 01:09] #2218 closed

[2018-08-10 05:40] #1535 closed

[2018-08-10 10:40] kirstenalarsen opened #2534 "[Subs] Remove link to 'make changes' to order from confirmation email if customer is guest"
## Description
#2508 described a problem of invalid link / unauthorised when subscription created for a guest i.e. Customer that is not confirmed OFN user

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/cb4d5f0b-1381-46bf-bfb9-5b787b9500fd)

## Expected Behavior
This card replaces #2508 and #2511 - both of which outline more complex / effective improvements for consider

[2018-08-10 10:43] HugsDaniel opened #2535 "[Spree Build] Spree::Payments wrong number of arguments (0 for 2)"
## Description

When running `core/spec/models/spree/payment_spec.rb:514` in `core`, an error occurs with `ArgumentError: wrong number of arguments (0 for 2)`.
This comes from line 514 `gateway.should_receive(:create_profile).and_raise(ActiveMerchant::ConnectionError)`.

## Expected Behavior
The test should pass.

## Actual Behavior
The test fails.

## Steps to Reproduce

1. `cd core`
2. `ber spec

[2018-08-10 10:44] kirstenalarsen commented on #2511
ok. So I think we agree that this as specified above is not the correct solution for this problem. I am:
* creating new issue @2534, which along with #2506 gives us a quick fix solution
* closing this issue
* updating the ['Subscriptions Improvements'](https://community.openfoodnetwork.org/t/subscriptions-improvements/1349/15) discourse thread so these issues can be thought through properly for ne

[2018-08-10 10:44] #2511 closed

[2018-08-10 10:47] kirstenalarsen commented on #2508
ok. So #2511 isn't doable and this is not agreed as the best solution now. A super-duper simple quick-fix solution can be achieved with #2506 and #2534.

Closing this issue and referenced for consideration in Subs v2 via [Subscriptions improvements](https://community.openfoodnetwork.org/t/subscriptions-improvements/1349/15)

[2018-08-10 10:47] #2508 closed

[2018-08-10 11:17] HugsDaniel opened #2537 "[Spree Build] Unexpected ActiveRecord::StatementInvalid"
## Description
Blocked by #2531

When running test `core/spec/models/spree/product_spec.rb:226`, it fails with ` expected ActiveRecord::RecordNotUnique, got #<ActiveRecord::StatementInvalid: SQLite3::ConstraintException: UNIQUE constraint failed`.

RSpec is expecting a `RecordNotUnique` error and gets a `StatementInvalid` error instead. We do have the `SQLite3 UNIQUE` constraint error met though,

[2018-08-10 11:50] HugsDaniel opened #2538 "[Spree Build] Spree::Stock::Coordinator wrong number of arguments"
## Description
Blocked by #2531

When running `bash build.sh`, in `core` an error occurs with `ArgumentError: wrong number of arguments (2 for 0)` for `core/spec/models/spree/stock/coordinator_spec.rb:21`.

When I run the test independently with `bundle exec rake spec/models/spree/stock/coordinator_spec.rb`, I don't get the error though.

## Expected Behavior

The test should pass.

## Actual Beha

[2018-08-10 20:46] myriamboure commented on #2510
I understand @RachL but the use case and need here is a bit specific... maybe we need the clear rule to be the same everywhere, but different ;-)
A hub manager who manages various hubs will want sometimes to see info all hubs mixed, and sometimes info just for one hub. If I think of Suteau Biosol for instance in france they want to see the orders all mixed to follow up sometimes "what are the last

[2018-08-11 20:28] WalkingBlackBear commented on #2522
Thanks Myriam.  I see where you're coming from, and that's where international perspectives are important.

I like your idea for doing the calculations on the raw values, but displaying the rounded ones.  It allows for the unit-level accountability you need, but would still show the correct final amounts in the cart.

[2018-08-12 10:45] HugsDaniel opened #2541 "[Spree Build] Spree Controller specs: undefined method `[]` for nil:NilClass"
## Description

When running specs for `frontend`, errors occur with ` undefined method '[]' for nil:NilClass`.

This comes from `/home/hugs/code/Waldenn/OFN/spree/core/lib/spree/core/controller_helpers/common.rb:57` in :

```type.html { render :status => :not_found, :file    => "#{::Rails.root}/public/404", :formats => [:html], :layout => nil}```

and after investigation it seems to come specific

[2018-08-12 21:59] luisramos0 commented on #2523
The PR with the first change is #2542, it's ready for review.

[2018-08-13 10:55] luisramos0 commented on #2013
Hey guys, I found this issue on the code review column in zenhub. It isn't ready for review is it?
I only found @mkllnk 's commit related to active distributors.

[2018-08-13 12:47] HugsDaniel commented on #2533
This failure occured when using this fix https://github.com/openfoodfoundation/spree/pull/11, which is a fix for #2531.
As @mkllnk suggested, the test suite was run again with FF31 (which supports the version of `selenium-webdriver` used in tests).

The failure doesn't occur with FF31, so I consider closing the issue.

@mkllnk @luisramos0 what do you think ? Does it deserve further investigation o

[2018-08-13 12:50] HugsDaniel commented on #2531
As @mkllnk suggested in https://github.com/openfoodfoundation/spree/pull/11#issuecomment-412391890, we use FF31 instead of FF61 to avoid having to use a fix.

[2018-08-13 12:50] #2531 closed

[2018-08-13 13:32] luisramos0 commented on #2533
Yes, I close it.

[2018-08-13 22:59] mkllnk commented on #2013
Thanks @luisramos0. I think this got moved around with a connected PR. It should go back to dev-ready as there is still some work to do, especially around product import.

[2018-08-14 08:04] HugsDaniel commented on #2533
Hey @mkllnk did you have this failure in your build ?

[2018-08-14 09:12] sigmundpetersen commented on #1080
Is this still blocked @daniellemoorhead @sstead ? Since #1466 is closed

[2018-08-14 09:14] sigmundpetersen commented on #1391
Could this also be unblocked if #1080 is @daniellemoorhead ? #chainreaction

[2018-08-14 11:28] sigmundpetersen commented on #1391
Ping @sstead here as well ☝️

[2018-08-15 23:03] mkllnk commented on #2531
I do have that error with FF 52.9, but not with FF 33.

[2018-08-15 23:05] mkllnk commented on #2533
I do have that error with FF 52.9, but not with FF 33.

[2018-08-16 12:20] lin-d-hop opened #2545 "Error when creating new Enterprise fee"
## Description

When trying to add a new enterprise fee I am not taken to the Create Enterprise fee page and instead am only given the option to Update an Enterprise Fee. When I try to update for an enterprise that does not currently have an enterprise fee I get a 500 error on bulk_update

## Expected Behavior

1. Enterprise -> Enterprise Fees
2. Click Create New Enterprise Fee
3. Taken to the pag

[2018-08-16 20:02] luisramos0 commented on #2545
Hi Lynne, I tried to replicate locally. It doesnt look like a generic problem as it's working on my local.
Do you want to give me access to some enterprise in UK live so I can have a look?

Another thing that always helps with server side errors like this 500 is the dev tools log.
When the error occurs (this is useful when any error occurs on the browser actually), could you please open the dev to

[2018-08-16 22:34] mkllnk commented on #2545
I tried this as super-admin. There are a lot of enterprise fees so that the page takes a while to load. When trying to update, the server takes a while and I then get a 502 Bad Gateway error. That means that nginx is not waiting long enough for the application (or the application is too slow). I'm not sure if it's the same with an enterprise user.

[2018-08-16 22:38] mkllnk commented on #2545
I just checked the version on the server. It's v1.18.0, not v1.17.0 as reported by @lin-d-hop.

[2018-08-16 22:59] mkllnk commented on #2545
There are two ways to get to enterprise fees. Number one through an enterprise:

- *Enterprises*
- Click on an enterprise
- Click on *Enterprise fees*
- Click on *Create one now* or *Manage*
- All enterprise fees visible to you are displayed in a form

Or straight from the enterprise list:

- *Enterprises*
- Each enterprise row has a link *Enterprise fees*, click it.
- You see only the fees for th

[2018-08-16 23:08] mkllnk commented on #2545
The nginx timeout was 30 seconds and the unicorn timeout was 30 seconds. I increased both to 120 seconds and I can now create and update fees. Updating takes 50 seconds. So I would demote this issue to be an S2 (or even S3?) as increasing the timeout is a workaround.

Things to do:

- Change UK config in ofn-install for increased timeout.
- (I'm not sure if ofn-install allows setting this timeout

[2018-08-16 23:35] sstead commented on #1391
Yes, this is done. When creating or editing a SO you only see Stripe or cash payment methods.

[2018-08-16 23:35] #1391 closed

[2018-08-16 23:40] sstead commented on #1485
This isn't done yet.

[2018-08-16 23:43] sstead commented on #1087
From my understanding this is done. When an OC in a schedule opens, it triggers all subscriptions to that schedule to have an order created.

[2018-08-16 23:43] #1087 closed

[2018-08-16 23:45] sstead commented on #1411
This is not done yet

[2018-08-16 23:51] sstead commented on #1523
Done

[2018-08-16 23:51] #1523 closed

[2018-08-16 23:56] #1404 closed

[2018-08-17 00:01] #1063 closed

[2018-08-17 00:03] #1490 closed

[2018-08-17 00:50] #1488 closed

[2018-08-17 01:12] sstead opened #2549 "[Subscriptions] When unpausing a subscription, tell the shop owner whether an order will be created"
[updated by Myriam 22.10.2018]

## Description
As a shop manager I want to make sure I don't create automatic orders for "subscribed customers" that would be inappropriate.

If I have a customer with a paused subscription, and I have an open OC in the schedule that the customer is subscribed to, if I unpause their subscription I am asked 'are you sure?' but I'm not given any info about if an autom

[2018-08-17 01:17] #1064 closed

[2018-08-17 01:17] sstead commented on #1064
My testing shows that at the moment, if someone resumes a customers's subscription in the middle of an open OC they DO get an order for that OC.

[2018-08-17 01:34] daniellemoorhead commented on #1391
@sigmundpetersen #chainreaction 😆

![Alt Text](http://www.gifbin.com/bin/032014/1396280184_chain_reaction_of_150_mousetraps.gif)

[2018-08-17 01:38] sstead commented on #1412
I'm closing this as I can't reproduce it anymore

[2018-08-17 01:38] #1412 closed

[2018-08-17 01:38] daniellemoorhead commented on #2545
@lin-d-hop to progress this further we need you to chime back in.

I've put it into the blocked column for now - once you respond to the questions @mkllnk has above we can move it forward for resolution.

[2018-08-17 01:47] sstead commented on #1409
Update - Cancelation emails are still this ugly.

[2018-08-17 02:14] sstead commented on #1410
I haven't seen this so closing for now.

[2018-08-17 02:14] #1410 closed

[2018-08-17 02:33] sstead commented on #2156
I think this is still happening inconsistently, i'll leave the issue open for now.

[2018-08-17 02:45] sstead commented on #2157
Just making a note that I haven't seen this, perhaps it's something we can close in future if no one else encounters it.

[2018-08-17 02:45] sstead commented on #1131
I'm taking this out of subs, it's related but not specific to subs.

[2018-08-17 02:47] sstead commented on #1405
This is done. Only cash or Stripe methods show.

[2018-08-17 02:47] #1405 closed

[2018-08-17 02:58] #1406 closed

[2018-08-17 03:41] sstead commented on #1068
Rob suggests we just remove any restriction on which items can be added to a sub. See https://github.com/openfoodfoundation/openfoodnetwork/issues/2243

[2018-08-17 03:41] #1068 closed

[2018-08-17 03:44] #1407 closed

[2018-08-17 03:45] #1399 closed

[2018-08-17 03:46] #1397 closed

[2018-08-17 03:46] #1398 closed

[2018-08-17 03:47] #1396 closed

[2018-08-17 03:49] #1401 closed

[2018-08-17 03:49] #1395 closed

[2018-08-17 03:50] #1408 closed

[2018-08-17 03:50] #1084 closed

[2018-08-17 03:51] #1161 closed

[2018-08-17 04:26] daniellemoorhead commented on #2480
@lin-d-hop @Matt-Yorkley @OliverUK @oeoeaio what's the status with this? Is it still a problem to be resolved, even though it seems to have started working without anyone doing anything?

What's the plan stans?

[2018-08-17 04:56] daniellemoorhead commented on #2489
Hi @myriamboure @Matt-Yorkley @pacodelaluna @luisramos0 where are we at with this bug? It's a sev 2...but it hasn't been updated or changed for 3 weeks...

[2018-08-17 05:00] daniellemoorhead commented on #2401
Given this was delivered by #2411 can this issue be closed @luisramos0?

[2018-08-17 05:03] daniellemoorhead commented on #2401
Actually, I see from the (long) conversation on #2411 that you're waiting for @myriamboure to return and wrap up all the issues associated with that PR. So pretend I didn't write that previous comment 😉

![Alt Text](http://memecrunch.com/meme/BF8DP/nothing-to-see-here/image.gif)

[2018-08-17 05:15] daniellemoorhead commented on #2481
@Matt-Yorkley @RachL @myriamboure is this just the updating of the Google doc? And if you did it Myriam, @Matt-Yorkley have you checked it yet? Can we consider this done?

[2018-08-17 05:26] kristinalim commented on #2443
@sauloperez Sorry, I missed your earlier comment!

@daniellemoorhead Sure! I'll take care of it after updating two other pull requests.

[2018-08-17 05:34] mkllnk commented on #2545
The operation that takes a lot of time is `EnterpriseFeeSet.new({}).save`. It loads all fees (fast) and then saves every single one. Somehow that's really fast on Aus production, but quite slow on UK production (150 fees). I compared some tables it joins with and couldn't see a big difference between the databases (variants, exchange_variants). Anyway, loading all fees and saving all of them is no

[2018-08-17 05:37] daniellemoorhead commented on #2545
So what next @mkllnk?

[2018-08-17 05:39] sstead commented on #548
This bug still exists...
![image](https://user-images.githubusercontent.com/10843056/44249564-c2cc4980-a233-11e8-8927-753c79f7fc76.png)

[2018-08-17 05:51] daniellemoorhead commented on #2453
Changing this to s5 - it's annoying...but in no way stopping anything.

[2018-08-17 05:59] daniellemoorhead commented on #2459
But if Matt gets run over by a bus, who will know then?

Detail please!

![](https://thumbs.gfycat.com/DifficultChillyDeinonychus-size_restricted.gif)

[2018-08-17 06:29] daniellemoorhead commented on #2233
Hey there, so I have removed the bug label...because it's not a bug in the _traditional_ sense of the word. However, I do agree that we need to understand whether tech debt items are a priority and need to be done, so that they are added to the delivery pipe.

I think in the same way we sort bugs we also need to manage a tech debt backlog, and ensure that things like this are prioritised alongside

[2018-08-17 06:31] daniellemoorhead commented on #2233
@mkllnk will the work Rob has done and that you're taking over fix the problem Pau has identified? Or does further work need to be done to find out what happened and fix it?

[2018-08-17 06:39] daniellemoorhead commented on #2428
Hey @myriamboure I'm not sure what this is for? I assume the template isn't filled in because it's not a code change and more an implementation task?

[2018-08-17 06:43] mkllnk commented on #2545
I opened pull requests for the minor stuff. The one remaining thing is to tweak the class `EnterpriseFeeSet` so be more efficient. I'm happy for someone else to take that on. It's almost the weekend for me. But I could look into it next week (further delaying Spree upgrade) if everybody is busy. Actually, I think @kristinalim would be very good at this.

[2018-08-17 06:45] daniellemoorhead commented on #2545
@kristinalim if you want to add it to your list then that would be great.

@mkllnk get back to the spree upgrade young man, there's no time to lose! 😉

[2018-08-17 06:51] sstead opened #2551 "Reports aren't handling 'in credit' orders accurately"
## Description
Reports aren't handling payment refunds well... as a start...
- The OC Customer Totals report shows ‘in credit’ orders as Not Paid.
- The OC payment Methods report isn’t very consistent in what amount it shows

Found while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/2273 ,
 test notes https://docs.google.com/document/d/10lqelt6b0AEF6nhFSj0FII8ks8K3rv4beWZtcBfV

[2018-08-17 06:55] daniellemoorhead commented on #2414
Hey @RachL @myriamboure @HugsDaniel who looks after these kind of translation problems that are found in France? Is there a process to ensure that translation issues are quickly fixed? This seems pretty important for non-english speaking countries using the platform...

[2018-08-17 06:56] sstead opened #2552 "The void credit button doesn't work"
## Description
As a shop manager, if I have credited an amount to the customer via stripe there is a new line added to the ‘Payments’ section of the order (when editing an order). Next to the new line is a Cross icon with ‘void’ - As a user I would assume that this undos the refund I just gave. I click the void button and get a nonsense error message.

Found while testing #2273 ,
test notes https:

[2018-08-17 06:58] daniellemoorhead commented on #2106
FYI: See notes on #2353 if you decide to pick up and fix this bug. There was a lot of good work and discussion included in that, so take note before you start working on this again.

[2018-08-17 07:03] mkllnk commented on #2233
I think it will fix it. But maybe it's already fixed since we merged #2468. Let me test.

[2018-08-17 07:05] lin-d-hop commented on #2545
Thanks all for the swift input!

Some things to note:
1) When this issue was create UK was on 1.17. @Matt-Yorkley updated to 1.18 last night.
2) When I was managing servers all timeouts were set ridiculously high to 360 seconds.
@Matt-Yorkley When you reprovisioned would timeouts have been reset to default levels? That makes sense and stupidly I didn't clock that now that my head is  out of server

[2018-08-17 07:27] OliverUK commented on #2480
@daniellemoorhead This week I had the error again intermittently. I was able to clone and save an OC with opening time that hadn't yet come. But a few minutes later I was unable to save a change (OC still not open). I set both start and end date into the past and tried again and then it saved. Luckily it seems no-one was shopping at the time. ;)

[2018-08-17 07:35] lin-d-hop commented on #2545
Note also as an Enterprise user there is only one way to access Enterprise fees. The second way Maikel mentioned above is not relevant for an Enterprise user.

Agree this issue lower priority. Apologies again for my oversight that UK timeouts were reset when the server was reprovisioned and I stepped away from managing. I should have clocked that.

[2018-08-17 07:36] lin-d-hop commented on #2480
I wonder if updated Timeouts will have fixed this?
Hasn't been reported for a while so closing.

[2018-08-17 07:42] daniellemoorhead commented on #2480
@lin-d-hop see @OliverUK's update above. Seems it's still happening this week...unless updated Timeouts happened post intermittent errors?

[2018-08-17 08:23] mkllnk opened #2553 "Intermittently failing cookies spec"
## Description

A spec recently introduced in #2411 seems to be unreliable. I've seen this error a few times now:

[code]

 Example: https://travis-ci.org/mkllnk/openfoodnetwork/jobs/417116813

## Expected Behavior

Automated test always pass.

## Actual Behavior

The mentioned spec fails from time to time.

## Steps to Reproduce

1. `bundle exec rspec ./spec/features/consumer/cookies_spec.rb:11`

[2018-08-17 10:44] Matt-Yorkley commented on #2553
I noticed this once yesterday. I've found in the past that if any sort of CSS animations/transitions are used on a UI element, capybara sometimes has trouble tracking it. This can sometimes be fixed vy adding or removing extra `expect` conditions at relevant points in the test, for example to expect something to be non-visible, then expect it to be visible immediately after.

[2018-08-17 10:52] Matt-Yorkley commented on #2489
This is ready to be picked up by a dev. The initial problem was manually fixed on french production, so this is basically tech-debt backlog for now.

[2018-08-17 11:26] Matt-Yorkley commented on #2435
Thanks @daniellemoorhead, this was just here to document it as a reminder. Yes it can be filed under "all the Spree upgrade things". I think it will be covered in the new plans to keep the existing API in terms of models/methods.

[2018-08-17 11:31] Matt-Yorkley commented on #2480
Timeouts were increased last night, so we can monitor this over the next week and see how it goes. We also added Bugsnag coverage yesterday, which should help with diagnosis.

[2018-08-17 15:42] luisramos0 commented on #2401
ahaha. some  serious gif action here :-)

[2018-08-17 15:51] luisramos0 commented on #2106
as mentioned in the PR, the issue is fixed and tested with functional tests.

[2018-08-17 20:08] luisramos0 opened #2554 "[Cookie] Use secure HttpOnly cookies for cookie_consent cookie"
## Description
OFN should only use HttpOnly cookies. We should aim to have all cookies as httpOnly.
The cookie with the CookiesConsent was done on server side for that but HttpOnly was not enabled.
This issue is to enable that.
This is related to #2411

## Expected Behavior
No change in behaviour at all.

[2018-08-17 20:18] luisramos0 commented on #2554
HttpResponse header on /api/cookies/consent

Before the change:
Set-Cookie: cookies_consent=cookies_consent; domain=0.0.0.0; path=/; expires=Sat, 17-Aug-2019 20:16:20 GMT

After the change:
Set-Cookie: cookies_consent=cookies_consent; domain=0.0.0.0; path=/; expires=Sat, 17-Aug-2019 20:17:55 GMT; HttpOnly

[2018-08-18 08:26] Matt-Yorkley commented on #2553
Speaking of tech debt with tests, how far did the transition from poltergeist to headless chrome get?

[2018-08-18 20:16] luisramos0 commented on #782
this is a duplicate of #1002
I'm closing it. Please reopen if I am missing something.

[2018-08-18 20:16] #782 closed

[2018-08-18 21:13] luisramos0 commented on #2523
Update:
After analysing add_variant and remove_variant in detail I realize there's nothing we need to do in terms of spree upgrade here.
order.contents.add is just the result of extracting add_variant and remove_variant to orderContents.

The only new detail here is related to shipments: in spree 2 , when removing line items from a completed/finalised order, the shipments/stock_locations are updat

[2018-08-19 06:56] kristinalim commented on #1766
I was able to reproduce the same issue which @RachL reported for small screens. The area is scrollable, but content is hidden beyond the bottom of the visible area:

![20180819145101-enterprise-registration-small-button](https://user-images.githubusercontent.com/2243/44306339-1dde7780-a3bf-11e8-81b7-7cc6660b0491.png)

Work is already in #2544, but the status of this issue needs to be checked with

[2018-08-19 16:05] luisramos0 commented on #2532
hey @HugsDaniel , PR #12 on spree fixed this right? can be closed?
I dont see this error on my local.

[2018-08-19 17:20] greysteil opened #2558 "Suggestion: Use Dependabot to keep dependencies up-to-date"
Would you be up for automatically creating Dependency update PRs? I built [Dependabot](https://dependabot.com) to do that and it's free for open source.

I think it would save you a bit of time and help keep Open Food Network up-to-date, but I also have an ulterior motive for asking: I'm keen to get more open source apps using it so I can use the data on the CI runs for dependency updates to find

[2018-08-19 19:15] luisramos0 opened #2559 "[Spree Upgrade] Scope Variants to VariantOverrides when order is changed"
Original title: InventoryUnit.increase is gone in Spree 2.0 (related to variant scoping)

OFN 2-0-STABLE build errors, for example:

[code]

The `InventoryUnit.increase` and `decrease` methods were managing "both variant.count_on_hand and inventory unit creation". This was moved to stock locations and shipments in spree 2.
This is related to Spree 2 Multiple Shipments epic #2011.

There are two di

[2018-08-19 22:15] mkllnk commented on #2553
Good question: https://github.com/mkllnk/openfoodnetwork/commits/headless-chrome

I can't remember how many tests are still failing. I think there is not much left, but the remaining specs are tricky to fix. Are you volunteering to take over? On one hand it's not the biggest priority, but on the other hand it will just become more and more difficult to resolve merge conflicts over time. That branc

[2018-08-20 02:10] mkllnk commented on #2523
Yes, from memory, we don't need to do anything else for the Spree upgrade. So I'm happy with your solution. Let's focus on the Spree upgrade.

[2018-08-20 02:52] daniellemoorhead commented on #2558
@mkllnk @luisramos0 @sauloperez @Matt-Yorkley will leave you to respond to @greysteil re his suggestion.

[2018-08-20 02:56] daniellemoorhead commented on #1766
good pick up @kristinalim, I added this issue number to your PR #2544 explanation so we remember to close this again once the PR is merged. 😄

[2018-08-20 03:04] daniellemoorhead commented on #2106
Once it's (#2353) tested and merged, yes indeed!

[2018-08-20 03:06] daniellemoorhead commented on #2480
Reopening this and assigned to you @Matt-Yorkley, given your update - hopefully a solution (or at least culprit) shows itself with bugsnag...

[2018-08-20 03:13] daniellemoorhead commented on #2489
Ok....so as a sev 2 it needs to be picked up by a dev as a priority.

@Matt-Yorkley @luisramos0 @mkllnk who's going to volunteer to take it on?

![](https://thumbs.gfycat.com/IndelibleDistortedFeline-size_restricted.gif)

[2018-08-20 03:15] daniellemoorhead commented on #2489
Or is it not a severity 2 bug, but tech debt that needs to be managed as in a tech debt backlog?

[2018-08-20 05:12] mkllnk commented on #2558
It sounds like a cool project, but I'm not sure if our code is ready for it. We have some really old dependencies that won't be easy to upgrade. We also have a lot of dependencies.

@greysteil

- How many pull requests would Dependabot create for our repository initially?
- Do you have an estimate of how many pull requests it would create per week?

We can give it a try, but it doesn't solve the b

[2018-08-20 06:57] daniellemoorhead commented on #2286
@mkllnk there has been no work on this for a long time...but it's still sitting in the code review column.

Can it be moved back to Dev Ready until it's picked up again?

#keepthetrainmoving

[2018-08-20 07:32] daniellemoorhead commented on #2434
Closing this as PR #2488 is merged. @HugsDaniel feel free to reopen this if all the work isn't yet done.

[2018-08-20 07:32] #2434 closed

[2018-08-20 07:44] daniellemoorhead commented on #2427
@myriamboure @luisramos0 can we close this issue? Did you already do this documentation Luis?

[2018-08-20 07:46] mkllnk commented on #2286
Oh, I think @HugsDaniel is actually working on it. Is that right, Hugo?

[2018-08-20 07:46] daniellemoorhead commented on #1783
Hey @kristinalim have a look at this one and see whether the remaining minor issues are small and easy enough for you to quickly do (once you've sorted out the other things on your to do list 😄 )

[2018-08-20 07:50] daniellemoorhead commented on #2522
@myriamboure ☝️

[2018-08-20 07:51] daniellemoorhead commented on #2286
@HugsDaniel if you're working on it can you move this issue back to 'In Dev' if you haven't got a PR yet, or connect the PR to this issue so that they are together on the zenhub board. Thanks!

[2018-08-20 07:59] #2401 closed

[2018-08-20 07:59] #2402 closed

[2018-08-20 07:59] #2406 closed

[2018-08-20 07:59] #2407 closed

[2018-08-20 08:30] HugsDaniel commented on #2532
@luisramos0 yes it is ! I close it now

[2018-08-20 08:30] #2532 closed

[2018-08-20 08:42] HugsDaniel commented on #2286
Hey guys, I didn't see the issue but that's part of what I'm working on yes ! Following the conversation between @sauloperez @mkllnk and @oeoeaio, Semaphore seem to be up and running with https://github.com/openfoodfoundation/spree.

[2018-08-20 08:45] HugsDaniel commented on #2533
I reopen it as it seems to be failing with newer versions of FF. Maybe https://github.com/openfoodfoundation/spree/pull/11 would have to be considered then ? What do you think @luisramos0 @mkllnk ?

[2018-08-20 09:38] greysteil commented on #2558
Thanks @mkllnk!

I rate limit the number of PRs it creates per run to 5, and to a maximum of 10 open PRs.

In this case, since you'd be doing me a favour as well, how about I do the initial work to get things up-to-date? Some gems are obviously tricker than others (Rails...) but a bunch should be pretty straightforward.

[2018-08-20 17:08] luisramos0 commented on #2533
As far as I understand, the build is running ok with FF33. I'd ignore anything related to errors on FF above 33.
Id close this if it works in ff33.

[2018-08-20 19:04] luisramos0 commented on #2553
Is there an issue for headless chrome? we should have one.
Agree Maikel, I'd merge what is done asap and leave the rest for later.

[2018-08-20 19:17] luisramos0 commented on #2009
Note from #2523 - when removing line items from a completed/finalised order, the shipments/stock_locations are updated in the order.contents.remove_variant method. This needs to be adapted. See #2523 for more details.

[2018-08-20 19:19] luisramos0 commented on #2523
ok, I have referenced this issue in #2009. I'll leave this issue as it is.

[2018-08-21 01:07] daniellemoorhead commented on #2523
I disconnected the PR @luisramos0 (you can do this via the PR, down the bottom near the comment field there is a connect/Disconnect zenhub section) and have moved it back to Dev Ready 😃

[2018-08-21 08:47] luisramos0 commented on #2523
ah, now I see it. thanks!

[2018-08-21 08:50] luisramos0 commented on #2140
Unassigning myself for now. I am not planning to pick this one up. Spree upgrade...

[2018-08-21 14:03] myriamboure commented on #2481
No it's not @daniellemoorhead it is updating the csv you can upload from product import landing page given the info in the google doc, so it's a job that needs to be done by @Matt-Yorkley now = updating the csv templates ;-) If you disagree with my column analysis for Product and Inventory please let me know by using the suggesting mode in the google doc so I can understand my mistake ;-) Then @da

[2018-08-21 14:08] myriamboure commented on #2489
Yes I think it still needs to be done in priority as else we might have again some full disk issue with cut of service and notice from users... which we absolutely want to avoid... If you agree then S2 goes before Spree upgrade in term of priority given our processes ;-) So if you disagree with priority choice you can argue but for me it's still S2 (but I'm biased ;-))

[2018-08-21 15:07] myriamboure commented on #2489
This makes me a bit afraid, I agree that we probably have one month at least, but who knows? We have more users coming onboard so could go quicker...? Ok to put S3 and say it has to be done in a month, I can put it in my agenda and switch back to S2 in a month... but I find this a bit complicated to be honest, maybe just better to do it :-) @daniellemoorhead process master what do you think?

[2018-08-21 15:11] luisramos0 commented on #2489
yes, I understand. we should get this done.
I am afraid I cant help with getting this done.

[2018-08-21 15:29] myriamboure commented on #2489
Maybe @Matt-Yorkley woudl have some time to work on it as product import is moving forward and we are approaching v1 release?

[2018-08-21 15:35] Matt-Yorkley commented on #2489
@myriamboure The new French production server is using Amazon S3 now for backups, so that folder will not be filling up. UK uses Amazon as well, so it's not an issue for us, and I'm not sure Aus has a problem here either, so I think it might just be `s5` tech debt now...

[2018-08-21 15:36] Matt-Yorkley commented on #2489
Finding out which script was creating the backups would be a useful investigation though, as Maikel pointed out.

[2018-08-21 15:51] myriamboure commented on #2489
Hum... I didn't see we decided to use Amazon for backups as well @Matt-Yorkley , I thought it was only for images. I didn't see the discussion on this point on Slack new French prod. I know we have some users very reluctant that their data are stored on US servers where at anypoint their privacy can be broken. Also important to know as if there is an impact on privacy we need to tell them in our p

[2018-08-21 15:53] myriamboure commented on #2489
Hum... I didn't see we decided to use Amazon for backups as well @Matt-Yorkley , I thought it was only for images. I didn't see the discussion on this point on Slack new French prod. I know we have some users very reluctant that their data are stored on US servers where at anypoint their privacy can be broken. Also important to know as if there is an impact on privacy we need to tell them in our p

[2018-08-21 16:16] RachL commented on #2489
Well if Amazon is used for backups, it means that our users' personnal data ends up on it, and it might be good to let them know and explain our choice of doing so.
Do we know which AWS data center is used? I know they have quite recently opened data centers in France, and they are for sure EU located data centers. Indeed, if the the server is located in the US then Patriot Act applies, which is e

[2018-08-21 16:50] lin-d-hop commented on #660
This has now been reported by UK user. Doesn't seem to be high priority.

[2018-08-21 20:20] RyanH5 commented on #1255
Hi there! We're first-time contributors and were hoping to help out with this issue. We noticed nobody was assigned to it, but if there’s already a solution in progress we're happy to try helping out elsewhere. Thanks!

[2018-08-21 21:43] myriamboure commented on #1255
Hey @RyanH5 and thanks for reaching out! Awesome if you want to contribute. I'm just wondering on that specific issue, @kirstenalarsen with the work Yuko is doing on UX I think it might affect that issue as well no? Maybe we don't need to fix that bug if we remove the cart dropdown and just send users to cart when they click on the trolley? Just want to make sure we don't make you develop somethin

[2018-08-21 21:46] myriamboure commented on #2414
@daniellemoorhead as discussed this morning we need some process, but for now we use them as good first issues to onboard new contributors, that helps them understand the Transifex logic and internationalization issues.

[2018-08-21 21:51] myriamboure commented on #1255
@RyanH5 I suggest for you https://github.com/openfoodfoundation/openfoodnetwork/issues/2414 or https://github.com/openfoodfoundation/openfoodnetwork/issues/1613 or https://github.com/openfoodfoundation/openfoodnetwork/issues/2112 or https://github.com/openfoodfoundation/openfoodnetwork/issues/1361 to start with for instance, so you have choices! You will find info about internationalization and ho

[2018-08-21 22:32] myriamboure commented on #2428
Yes @daniellemoorhead just opened an issue so that we don't forget to do it before considering the feature as done... So it's basically just a reminder, but this will be one of the last task we will work on in the epic I guess.

[2018-08-22 00:09] daniellemoorhead commented on #660
@lin-d-hop what does this mean? Priority for whom? For the UK? Or as a global priority and you'd like to make it one given the feedback?

[2018-08-22 05:38] daniellemoorhead commented on #2489
IMO this is too complicated, swapping severity levels and setting due dates. Also, it isn't a bug, it's tech debt, so does the s1/2/3 etc bug level apply to this?

Looking at the conversation over the last few hours I believe this isn't a massive problem/risk anymore, regardless of the AWS worries/thoughts.

So, I say we change this issue's title to be a spike to do this:

And we put it in a tech

[2018-08-22 05:48] daniellemoorhead commented on #2481
I'm not going to be able to offer any specific advice not already provided by people that understand the system far better than I do @myriamboure. I was asking to understand whether this can be moved through to done soon, as it has been 26 days since you put that last active comment on this issue.

#toottoot #drivingthetrain

[2018-08-22 06:01] lin-d-hop commented on #660
For user, uk or internationally. I just thought it was worth noting the report on the bug. No actions required.

[2018-08-22 07:45] mkllnk commented on #2558
That's a nice offer. I just installed Dependabot for this repository. Let's see which magic it does.

[2018-08-22 07:52] greysteil commented on #2558
Awesome - I'll watch this repo and pitch in where I can. Looks like the first 3 PRs don't need any code changes at all. 🙂

[2018-08-22 07:52] #2558 closed

[2018-08-22 08:01] mkllnk commented on #2553
Yes: https://github.com/openfoodfoundation/openfoodnetwork/issues/2469

We can't merge all commits, because the browsers behave differently. Not all new code will work with the old PhandomJS.

[2018-08-22 08:28] myriamboure commented on #2489
Yep, sounds good, it seems there is no risk anymore of disk being full if backups are not done on disk... (that's what I understood from @Matt-Yorkley comment) I change the priority to s4 until we know if there is a risk of privacy breach for our users depending on server location, would be good to have the info as we need it anyway for our privacy policy document (you do as well for UK btw @Matt-

[2018-08-22 08:30] #2541 closed

[2018-08-22 09:05] myriamboure opened #2568 "Address in checkout unfillable on old Samsung phone"
This issue is probably connected to the discussion on supported browsers and versions.
But I want to make sure it is linked to old version of browser, and nothing else more annoying.

## Description
A user has reported the following case: she uses a Samsung phone
Samsung note: GT.N7000 (10 year old apparently)
Version of androïd 2.3.6
Version number: GINGERBREAD.XXKKA
When she tries to buy from he

[2018-08-22 15:19] luisramos0 commented on #2558
Thanks a lot @greysteil
I have reviewed the open PRs.
Although there's some good test coverage in place, for each of these PRs I think we should answer  the question (to someone who knows why we use the dependency): "what could this possibly break in the app?"

[2018-08-22 17:04] RachL commented on #2510
@myriamboure @kirstenalarsen Alright so I will put back the result on the page. I will focus on finishing the issue tomorrow. Just a note on your feedback: the need you are both describing is to see incoming orders. To me an order listing should not be used for that. This is clearly more a dashboard thing : like having the last 10 orders with link to the order page (prefilter on the hub you've cli

[2018-08-22 21:21] luisramos0 opened #2573 "[Spree Upgrade] Fix bulk_line_item_controller spec (by defining a shipment in test line_items)"
Part of migrating shipping method to shipments, see larger scope in #2009.
Related to the move of inventory_unit.increase to stock_locations and shipments in #2559
To fix the spec **bulk_line_items_controller_spec**, we need to provide the target_shipment in the test line_items.

The failed test message is:
[code]

This is due to a new hook on spree line_item model: **before_save :update_inventory

[2018-08-22 21:37] luisramos0 commented on #2573
Also changed here is OFN's shipment decorator, it's changed to work with Shipments without adjustments. I am not sure this is correct BUT the reason I do this is that the spree code works with Shipments without Adjustments, it's just OFN's decorator that is failing.

Test failing message:
[code]

[2018-08-22 21:50] tmcjunkinmarquis commented on #1613
Hi, I am working with @RyanH5.  You communicated with him about issue #1255.  You also suggested 4 alternate issues for us. For this issue, we have looked through the app and cannot find "a url of a private shopfront" in order to reproduce the behavior before we attempt to refactor.  Can you tell us how to find an example url of a private shopfront.  Thank you for your help!

[2018-08-22 22:27] luisramos0 commented on #2559
Right now I am not sure how/where to do the variant scoping. I think it might need further group discussion. I'll raise this one in the next catch up.
Hopefully we find a better way than .class_eval...ing the spree models...

[2018-08-23 00:02] sstead commented on #1613
@tmcjunkinmarquis , I've set this shop on Australia's production site to be private- https://openfoodnetwork.org.au/demo-hub/shop . Let us know if you need anything else :)

[2018-08-23 03:29] #2553 closed

[2018-08-23 05:58] myriamboure commented on #2510
Why not... it would worth some discussion with our users to understand if they use the order listing and how before we can tell ;) I guess that could be enough to reassure them, and then if they want to do actions on orders they would use filters, so it's possible that what you say is right. That would probably increase performance not to load all orders at once... @kirstenalarsen what do you thin

[2018-08-23 06:58] mkllnk opened #2575 "[Spree 2 Upgrade] Restore `Variant.on_hand` methods"
## Description

Working on https://github.com/openfoodfoundation/openfoodnetwork/issues/2014 we found that we would like to restore the old Spree API to access and modify `count_on_hand` values. Even though that database column doesn't exist any more, we can pass all calls to the new default stock location.

## Expected Behavior

OFN code can still use the following methods on `Variant`:

- `count

[2018-08-23 10:11] luisramos0 commented on #1361
In #2540, we are removing precompile entry for split2 [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2540/commits/270eefb64ee77fcb35f891b491bafbb09a7ed2ed#diff-b1fe55db50c712fef0673345e5b9c0d9L146).

The all_split2.css is still deployed. I thought we should mention it on this issue for reference.

[2018-08-23 11:14] kristinalim opened #2576 "More consistent browser support through `autoprefixer-rails`"
Use the `autoprefixer-rails` gem to apply vendor prefixes to CSS more efficiently and consistently.

## Description

In general, when support of a CSS property is still incomplete or unstable at the time that a browser version is released, the browser looks at the vendor-prefixed property (e.g. `-moz-transform`, `-webkit-transform`, `-o-transform`) instead of the base property (e.g. `transform`).

[2018-08-23 16:00] luisramos0 opened #2577 "[Spree Upgrade] Fix tests with error "undefined method `stock_location' for nil:NilClass" by defining a shipment in test line_items"
Follow up from #2573 by fixing all occurrences of:
undefined method `stock_location' for nil:NilClass
by providing a target_shipment in the test line_items created.

This error is found in several specs:

- [x]  ... orders_and_fulfillments_report_spec
- [x] ... bulk_order_management_spec

- [x] spec/features/admin/reports_spec.rb
- [x] spec/controllers/spree/admin/orders_controller_spec.rb
- [x] s

[2018-08-23 18:15] luisramos0 commented on #2577
There are 44 tests that go green with this PR and 30+ tests with new more specific errors.

[2018-08-23 19:02] luisramos0 commented on #2020
I just looked at spree 2 branch and I believe we do have this already and this is now doable and it is not blocked.

[2018-08-23 19:08] luisramos0 commented on #1957
I see the table is only dropped on 2.0.5. But mail_method model is done in our 2-0-4 branch.
This means we can implement this now, right?

[2018-08-23 19:12] kristinalim commented on #2558
@greysteil Thought to mention that I find Dependabot really cool! It's easy to fall behind on dependency upgrades, and it's nice that it nudges projects to make little steps. The changelog snippet and commit summary are really handy too. :+1:

[2018-08-23 22:52] mkllnk commented on #2558
Yes, I'm quite impressed how well it is designed and how well it communicates. :-)

[2018-08-23 22:53] greysteil commented on #2558
Really pleased you're finding it useful. :-)

[2018-08-24 01:31] daniellemoorhead commented on #2568
I don't think I agree with your severity level @myriamboure. We've only had 1 user affected by this, and they have a 10 year old phone (smart phones only started to exist in 2006/7 so that's a very very early model).

I understand that you want to support older hardware/OS and do 🖕 to design obsolescence...but given it's only impacting 1 user I believe this is a severity 5. I'm changing it to this

[2018-08-24 01:35] daniellemoorhead commented on #2489
Hey @myriamboure my point was that it doesn't deserve a bug severity on it - it's not a bug, it's tech debt. We need to figure out how to quantify the severity of tech debt...but I don't believe that is with the same label that bugs use.

So, I've removed the bug label for now. And I encourage the developers to come together to discuss from a process perspective how they want to manage tech debt o

[2018-08-24 01:37] daniellemoorhead commented on #2489
Also:

Is this the right approach for this issue?

[2018-08-24 01:38] #2430 closed

[2018-08-24 04:32] #2501 closed

[2018-08-24 04:38] daniellemoorhead commented on #2480
Hi @Matt-Yorkley, now that you've had a week of Bugsnag and the timeouts PR was merged have you found the culprit and/or seen an improvement?

[2018-08-24 04:52] daniellemoorhead commented on #1444
Hey @myriamboure @Matt-Yorkley I'm sitting with @sstead and she's super excited about the possibility that product import v1 is almost done!

Are we correct in our assumption that only #2490, #2459, #2458, and #2481 are left in terms of functionality and then all that's left is the user guide #2454? Or are #2161 and #2162 also required?

[2018-08-24 05:31] mkllnk commented on #2014
After reviewing all uses again, I found that #2575 is the only issue left to do. That should solve all listed issues. Closing this one.

[2018-08-24 05:31] #2014 closed

[2018-08-24 05:50] #2554 closed

[2018-08-24 08:07] #2490 closed

[2018-08-24 08:09] myriamboure commented on #2568
I agree with you @daniellemoorhead but I just want to know what to tell that user... and make sure the problem she encounters is linked to the old phone thing...

[2018-08-24 08:14] #2459 closed

[2018-08-24 08:26] #2281 closed

[2018-08-24 08:27] #2398 closed

[2018-08-24 08:27] #2399 closed

[2018-08-24 08:42] sigmundpetersen commented on #2091
Is this really a part of Spree Upgrade or is it just blocked by it?

[2018-08-24 08:46] sigmundpetersen commented on #2523
Should this be removed from Spree Upgrade epic @luisramos0 ? (Since you changed the title from [Spree Upgrade] to [OFN API Evolution])

[2018-08-24 09:28] luisramos0 commented on #2497
To get the top level epic cleaner, I moved this one under the epic #2497 Checkout. This is in the backoffice but the work is closely related to  the shipping methods in the checkout process.

[2018-08-24 09:45] luisramos0 commented on #2450
I believe @mkllnk is working on #2575 which will help with this one.

[2018-08-24 09:52] luisramos0 opened #2584 "Spree related issues"
This epic groups all changes that can only happen after OFN is upgraded to work with spree 2-0-4.

[2018-08-24 09:53] luisramos0 commented on #2523
Yes, done, thanks @sigmundpetersen

[2018-08-24 09:58] myriamboure commented on #1444
I need to check with @Matt-Yorkley on the two things in the backlog yes. Will ping him ;-) But we are getting closer yes!

[2018-08-24 10:09] luisramos0 commented on #2091
This is blocked by spree upgrade but it is not part of it. This will be looked at after the upgrade. I have removed the spree2 epic from this issue.

[2018-08-24 10:27] sigmundpetersen commented on #2568
Okay, tested with the following on OFN France production:
Model: Samsung S9 (SM-G960x)
Android: 8.0.0
Samsung Internet browser version: 7.4.00.69 (10 Jul 2018)

I can proceed to checkout and fill in all fields OK.

ping @myriamboure

[2018-08-24 10:30] sigmundpetersen commented on #2584
Hey @luisramos0 we keep epics in All the things and follow them on a higher level in https://github.com/openfoodfoundation/openfoodnetwork/projects/19

[2018-08-24 10:31] luisramos0 commented on #2530
Note: this is not related to the OFN build, this is the Spree build: https://github.com/openfoodfoundation/spree/tree/2-0-4-stable.

The OFN build (https://github.com/openfoodfoundation/openfoodnetwork/tree/2-0-stable) is the one we are measuring the success rate for progress. There's no specific issue for this one because all other spree upgrade issues are part of making this build green.

[2018-08-24 10:57] luisramos0 commented on #2435
Useful conversation: https://github.com/spree/spree/commit/1ca45b826934d345c0e39dfebe9a707f649ea2ab
From what I have seen, it has not come back since then.
From this conversation here looks like we need to use backorders instead:
https://groups.google.com/forum/#!topic/spree-user/kUHJljlN2hQ

[2018-08-24 12:00] Matt-Yorkley commented on #2510
We're not loading _all_ the orders though, I think the current page loads 15 by default, and we can keep that. I agree with Myriam that we probably don't need the extra page and extra clicks in this case.

[2018-08-24 14:32] tmcjunkinmarquis commented on #1613
We were not able to reproduce this problem locally and unfortunately we can not continue working on it right now.  Thank you for your quick responses!!

[2018-08-24 15:37] Matt-Yorkley commented on #2481
I think with the inventory template, there are actually not many fields that are relevant to inventory import, so the list is quite small. Various things can't be updated on inventory at all, and there are a few fields needed to match the item to an existing product.

@myriamboure can you clarify what specific changes you are suggesting?

[2018-08-24 15:50] RachL commented on #2510
@myriamboure @Matt-Yorkley Guys actually I've never talked about a new page neither a new sub-menu ;) My point is also to reduce the number of click to access buttons. Sorry if it was not clear. We should maybe talk next time ;) Anyway, as we've said on slack, let's move bulk printing forward and decide on OFN UX rules for our next big features such as delivery note.

I have updated the issue abov

[2018-08-24 15:50] Matt-Yorkley commented on #2480
We're testing some additional server timeout settings as of today, I'll update ofn-install with some new configurable settings if it fixes the issue..

[2018-08-24 15:54] Matt-Yorkley commented on #2510
I did write in some acceptance criteria for testing those two first issues. They will need minimal testing as the functionality should be unchanged in each one.

[2018-08-24 15:59] myriamboure commented on #2481
@Matt-Yorkley cf https://docs.google.com/document/d/1QDtKQe64enO5ZLnht9PxQ8bOlaMHCueJBMWSyW4zCng/edit#
You still need to be able to identify the product, so:
- product_name (needed to identify the product)
-distributor (called supplier until now but proposed to rename for clarity, please comment in the googledoc if you disagree)(needed to identify where to import)
- supplier (the real original sup

[2018-08-24 16:39] luisramos0 commented on #2020
Specs referencing MailMethod in spree 2-0-4-stable branch:
spec/controllers/admin/subscriptions_controller_spec.rb
spec/controllers/spree/admin/orders_controller_spec.rb
spec/controllers/spree/orders_controller_spec.rb
spec/controllers/user_passwords_controller_spec.rb
spec/features/consumer/shopping/orders_spec.rb
spec/jobs/subscription_confirm_job_spec.rb
spec/mailers/enterprise_mailer_spec.rb
s

[2018-08-24 16:45] luisramos0 commented on #1957
Meanwhile MailMethod call was moved inside CreateMailMethod service class and then the call was moved out of tasks/dev.rake to db/seeds, where it is today.

Apart from this point, all other work is represented in the issues of this epic.

The other references I find to MailMethod today on ofn-2.0-stable are the same on the code:
- db/seeds.rb as mentioned above
- app/services/create_mail_method.rb

[2018-08-24 16:51] luisramos0 opened #2586 "[Spree 2 Upgrade] remove dependency to MailMethod in db/seeds.rb"
## Description
Spree 2 does not have MailMethod any more, we need to adapt the existing calls. See epic #1957 for more details.

In db/seeds.rb this needs to be changed:

def create_mail_method
  Spree::MailMethod.destroy_all
  CreateMailMethod.new(
    environment: Rails.env,
    ...

## Expected Behavior
No dependency to MailMethod.

## Your Environment
Spree 2.0.4-stable branch.

[2018-08-24 16:56] luisramos0 commented on #2164
I dont think this is blocked anymore.

[2018-08-24 16:57] luisramos0 commented on #2198
I dont think this is blocked anymore.

[2018-08-24 17:27] luisramos0 commented on #2559
This issue is related to this wiki page:
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-Upgrade:-Scoping-Variants-Products-to-Hubs-and-VariantOverrides

[2018-08-25 12:57] luisramos0 commented on #2198
I may be missing something, but it looks like PR #2589 is all we need here.

[2018-08-27 11:15] myriamboure commented on #2510
Question: can we hide/display filters to gain space on the page? my suggestion might not be relevant so ignore it if not.
I'm wondering about the action button at the bottom, I find it strange to be honest, I wouldn't do that. let's have just one place for one dedicated action, if users know the actions button are at a certain position, that's clearer no? Maybe some feedback from Yuko on this woul

[2018-08-27 11:36] RachL commented on #2510
@myriamboure on the filters I would prefer if we do as we said: no changes for BIP but we will do it on delivery note. What will be interesting then will be also to compare stats between the delivery note page and order page. E.g. are people really hiding the filters or not. And then decide what to do globally?

For the action button, if a user chose to have 100 results on that page, and is review

[2018-08-27 11:45] Matt-Yorkley commented on #2481
`variant_unit_name` is one of the standard fields on products in the database and we need to use it. I'd like to keep it the same instead of starting to map alternative/custom names for the attributes.

[2018-08-27 12:09] Matt-Yorkley commented on #2481
So I need to add `description` to the product list template, and add `sku` and `on_demand` to the inventory template.

On renaming the supplier / producer / distributor fields I'm trying to figure out the best way to do it. I initially used "supplier" because that's what it is in the database, but yes it is a bit confusing. I'm not sure "distributor" is best either, because a product can be stocke

[2018-08-27 12:18] myriamboure commented on #2481
@Matt-Yorkley no this is not possible today, a product cannot be in the catalog of a distributor. It can be used by a distributor and stocked by it, but we are in the skin of the one who import, so for product list you only need "supplier", there is no notion of distributor, but for inventory, then you need both the supplier and the distributor who stock the product in its inventory. We can replac

[2018-08-27 12:30] myriamboure commented on #2481
Yes but it doesn't impact product import, no?
Whoever import in product list, it will always be in the producer catalog, it has to.
For inventory, the case that can be a little bit more tricky is that if the producer import in its own inventory. Then he will be both producer and distributor, as inventory is only used for distribution purpose, if she has no shop she has no point to use inventory.
I

[2018-08-27 12:39] Matt-Yorkley commented on #2481
Would a producer import their own inventory from themselves?

[2018-08-27 13:27] RachL commented on #2510
@myriamboure it's not about printing 50 but **showing** 50, which is different. Maybe on the 50 showed they will only select 2. But yes, we don't know how it will be used yet...

[2018-08-27 16:17] myriamboure commented on #2481
I think we discussed it on the phone but some can if they run different order cycles with different prices for their products ;-) Sop they would import on one side their product list, and on the other side their inventory with other prices for instance. This is an edge case, but works in current version of product import.

[2018-08-27 18:01] RachL opened #2592 "Translation missing on reports page"
## Description
New sentence to guide users towards using filters in reports is not currently being translated
![image](https://user-images.githubusercontent.com/6525576/44676581-04c76d80-aa34-11e8-97b5-43ee83586abe.png)

## Steps to Reproduce
As an admin, go to reports : /admin/reports

Click on any report and the sentence will appear.

## Context
A French user reported it.

## Severity
S4

## You

[2018-08-27 18:16] RachL opened #2593 "Make it possible to customize the link to user guide per instances"
## Description
Link to user guide in admin mode is hard-wired at the moment. This issue is here to make changes to the code in order to allow each instance to have their own link.
![image](https://user-images.githubusercontent.com/6525576/44676848-abac0980-aa34-11e8-8428-2199fe467ef1.png)

## Acceptance criteria
In configuration > general settings, a field should be made available to add an extern

[2018-08-28 01:03] daniellemoorhead commented on #2593
This makes complete sense to do, but I wonder if it is a #goodfirstissue @RachL? Or is it a little more tricky for a newbie? @mkllnk what do you think?

[2018-08-28 01:13] mkllnk commented on #2593
It's a good first issue for people with experience with the ambition to work more on the OFN. It may be too much for a one-time contributor. I guess it will require to change around 4 files. It's touching the user interface, translations and storing value via Spree in the database.

[2018-08-28 06:46] #2106 closed

[2018-08-28 07:01] myriamboure opened #2597 "[Cookies] Increase font size of cookie banner text on desktop"
## Description
When cookie banner display on desktop, font size is pretty low and hard to read, and the page layout is not appealing as text is very low compared to the size of the banner.

## Expected Behavior
Appearance is nice and appealing, and text is easy to read.

## Actual Behavior
It is not

## Steps to Reproduce
1. On an instance with cookie banner enabled, go to homepage
2. See the bann

[2018-08-28 07:05] kristinalim opened #2598 "Possibility of some integration specs to miss bugs they were written to guard against"
Possibility of some integration specs to miss bugs they were written to guard against.

I spotted one instance in a spec for filtering of customers. We could develop a pattern to avoid this for places where we do filtering, or add a "loading" indicator to lists which we could then use in the tests.

#### Description

Please see https://github.com/openfoodfoundation/openfoodnetwork/pull/2567#issuec

[2018-08-28 07:05] myriamboure commented on #2597
@luisramos0 is it clear enough? I guess the solution you implement need to adapt to the size of the desktop screen, no? The example on how it would look like is not well done, I did in 2 min in slides, so I'm sure what you will do will be better, but you see the idea, right?

[2018-08-28 07:12] myriamboure opened #2599 "[Cookies] Fix bug in mobile experience that display again banner after validation"
## Description
When I accept cookie policy by clicking on "accept cookies", then click on cookie policy modal page, when I close the page the banner displays again and I have to accept again. This happens only on mobile (apparently Luis can reproduce as well on desktop)

## Context
Part of cookie epic

## Severity
S4

## Possible Fix
From Luis "I can see it on desktop as well. my bug. It's a very

[2018-08-28 07:29] myriamboure opened #2600 "[Cookie] Improve cookie policy page visualisation on mobile"
## Description
On mobile, the  table inside cookie policy modal page is unreadable.
Modal is not horizontally scrollable so just can't be read.

## Expected Behavior
User can read cookie policy from modal.

## Actual Behavior
She can't.
![img_9439](https://user-images.githubusercontent.com/8135376/44707002-a89c3200-aaa3-11e8-9946-ba3a9d7dedb5.PNG)

## Steps to Reproduce
1. Go to home page and foot

[2018-08-28 07:30] myriamboure commented on #2600
@RachL what do you think about my suggestion in term of UX for the cookie policy page display? Also @luisramos0 I guess then we would change the page for both mobile and desktop the same way, right?  But i think it's acceptable on desktop as well, correct me if I'm wrong.

[2018-08-28 08:08] mkllnk commented on #2013
I just found that the `ProductSerializer` is using `on_demand`. We need to check if that's needed or replace the implementation.

[2018-08-28 09:02] myriamboure opened #2601 "[Cookies] Update text of cookie policy page (WIP)"
## Description
Cookie policy page needs to be updated to make it readable on mobile (multi columns tables needs to be removed) + some light corrections on text.

## Expected Behavior
Content is https://docs.google.com/document/d/1RWvlXFzgpPtkhWhrm2OoWThHKwY87bu8e2l8-sPHa4w/edit?usp=sharing

## Actual Behavior
Content is slightly different and tables are not readable
![img_9439](https://user-images

[2018-08-28 09:04] myriamboure commented on #2600
Ok closing as I intergated that in this other issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/2601

[2018-08-28 09:04] #2600 closed

[2018-08-28 09:10] myriamboure commented on #2427
I don't think so @daniellemoorhead this remain to be done from my understanding.

[2018-08-28 09:26] sigmundpetersen commented on #2286
Can we close? https://github.com/openfoodfoundation/spree/pull/9 @HugsDaniel

[2018-08-28 09:39] myriamboure commented on #1434
@lin-d-hop now that we have the csv templates downloadable, users can easily export their data if the want through a report and just match with the template. Do you think there is a case that show the need for reports to be used as a based for product import?
If I export, change a whole column, and then reimport I can do that as well by matching with csv, no? Shall we wait for the need to appear b

[2018-08-28 09:41] myriamboure commented on #1435
Same question here @lin-d-hop if you agree with me please close those two issues directly ;-)

[2018-08-28 09:42] Matt-Yorkley opened #2602 "Product Import: strange validation results"
## Description

(Reported in Slack)

Strange results when import products with product import. The validation shows multiple entries for inventories and products at the same time in some cases, and items are listed under the errors section, but have no errors.

## Expected Behavior

Validation should happen without error.

## Actual Behavior

In some cases the results are not as expected.

## Anim

[2018-08-28 10:05] myriamboure opened #2603 "[Product Import] Make product import submenu visible for all users + beta sentence"
## Description
Today only superadmins can see the submenu. This task is about adding it for all the users.

We want also to add a sentence at the beginning of the page saying "This feature is still in beta: you may experience some errors while using it. Please don't hesitate to contact us at [Insert email]. "

[2018-08-28 10:16] myriamboure commented on #946
We had no problem reported since the feature has been released, so we can consider it as done and I'm now closing the epic :-)

[2018-08-28 10:16] #946 closed

[2018-08-28 10:17] myriamboure commented on #2210
We can now access the pages of all reports, so the scope of that epic is done, we can close. Reports are still not working and bugging a lot but we will need to prioritize some report overhaul later on to tackle it.

[2018-08-28 10:17] #2210 closed

[2018-08-28 12:40] RachL opened #2605 "Hide postcode field in stripe admin"
## Description
If I try to submit a payment while having an empty Postal code an error is shown, which is good.
However when I’m filling in the postal code, the error still stays when I’m trying to process the payment. I have to reload the page to make it work
This is not the case with the other fields: if I correct them, payment proceeds correctly.

## Expected Behavior
As we don't need the posta

[2018-08-28 16:27] luisramos0 commented on #2242
Quick epic update here, todo list:
- increase font size in #2597
- bug in the banner #2599
- improve policy page #2601
- matomo optout #2518
- user and admin documentation in #2427 and #2428

[2018-08-28 16:29] luisramos0 commented on #2600
yes, sounds good @myriamboure we change both desktop and mobile and we do it as part of #2601. Thanks!

[2018-08-28 16:31] luisramos0 commented on #2601
I'll try both "single column table" and "no table, just header and text", it may look better. I'll share screen shots here so we can decide.

[2018-08-28 16:51] RachL commented on #2396
@daniellemoorhead You've changed the title of the epic, but actually we wanted to do a larger epic surounding bulk actions... so I guess the title and the content are not correct. Not sure what's best. Delete this epic for now and focus on the issues we've created or do a specific epic for BIP....

[2018-08-29 00:03] kirstenalarsen commented on #2510
hi people. All looking good to me - except one thing :)

it feels to me like the "X results per page" and "Actions" buttons should be swapped - so that the Actions button is above the checkboxes and it is more obvious which items it is being applied to. This is how @Matt-Yorkley had it in his mockup and i completely agree.

Don't think the left or rightness of the bottom box matters so much

[2018-08-29 00:26] kirstenalarsen commented on #2230
I am a bit unclear about the creation of the delivery note / bulk modification function - it seems to duplicate the Bulk Order Management page a lot.

![image](https://user-images.githubusercontent.com/2911176/44757987-41e74900-ab75-11e8-86af-dd571f492d16.png)

I'm not clear why we wouldn't be working tweak this page e.g.
* add status as a filter
* add quantity delivered and possibly make 'unedita

[2018-08-29 00:27] kirstenalarsen commented on #2230
@lin-d-hop might be able to tell us if she thinks anyone is using the variable weights thing in uk?

[2018-08-29 00:31] kirstenalarsen commented on #2230
also @myriamboure @RachL given that a lot of ofn hubs take payment at time of order is it correct to assume that the delivery note will provide info about what is happening with refunds etc?

[2018-08-29 03:58] myriamboure commented on #2510
@kirsten I'm afraid it might be too many buttons on the left, and as @RachL mentioned previously, we need a rule about where the action buttons are. Also the other action button (new order) is on the right and we need consistency. I suggested we ask feedback from Yuko based on those mockups, can we just do it quickly so she tells us where the action button and view per page button will best be?

[2018-08-29 04:00] myriamboure commented on #2510
@kirstenalarsen sorry wrote your pseudo wrong, trying a GitHub app which is not that good, can't edit my previous message ;-)

[2018-08-29 09:59] daniellemoorhead commented on #2396
...and yet what was approved by the product curation team was printing only.

Given the scope has changed do we need to take this back to make sure everyone is ok that this is bigger (it is, as a result, yes?) than what was originally added as a feature on the roadmap.

This is another good example for our process discussions @RachL @myriamboure of scope creep/change from what was approved by the

[2018-08-29 12:15] kirstenalarsen commented on #2510
I think we have a precedent for the bulk actions button on the left in the Bulk Order Management page (as per my comments on delivery note epic) and it really makes sense to me there. Pinging @yukoosawa for opinion?

Yuko - do you have a view on having the bulk actions drop down on the left (above the check boxes) vs on the right as in @RachL 's 2nd mock above?

![image](https://user-images.github

[2018-08-29 15:03] myriamboure commented on #2396
The scope has not changed. I first wrote that epic in line with my understanding of the need (because we were writting epic as needs) which was to enable hub managers to invoice quickly. There were various possible solution to brainstorm. But after discussing with Kirsten and Sally we understood the need was to efficiently pack, and the easiest solution was today to print invoices and use them as

[2018-08-29 15:36] RachL commented on #2396
@myriamboure is this the correct icebox : https://community.openfoodnetwork.org/t/make-invoicing-operations-smooth-and-easy-for-hub-managers-and-customers/1200

As now everything is correctly documented on the issue #2510 do we still need the epic ? (it will mostly be a copy / paste)

[2018-08-30 03:41] yukoosawa commented on #2510
Hi Everyone (especially fellow UXer Rachel!!),

I am going to preface my comment by saying both options are good solutions and the following is only my preference :)

As a Gmail user I prefer having the bulk edit options located on the left hand side, above the checkboxes, so when they become 'available' it happens in the same visual space.

![screen shot 2018-08-29 at 11 07 24 pm](https://user-im

[2018-08-30 05:40] daniellemoorhead commented on #2480
@Matt-Yorkley got an update on this?

[2018-08-30 05:44] daniellemoorhead commented on #1323
Hey @sigmundpetersen these subscriptions epics are really old potentially not even valid anymore and shouldn't this is why they weren't in the product feature backlog. They're all under the v1 epic, so they won't get lost 😃

[2018-08-30 06:12] kirstenalarsen opened #2616 "Build Enterprise Fee Summary Report"
https://docs.google.com/spreadsheets/u/1/d/1pnJwHgBo2sokdcwNoLquYlVh8ICUcx6X4J2ZAMnRyio/edit?usp=sharing
Sheet "THIS By Customer"

Fee Type | Enterprise Owner | Fee Name | Customer | Fee Placement | Fee calc on trans through | Tax Category | $$ SUM
-- | -- | -- | -- | -- | -- | -- | --
Admin | Coord 1 |   | Customer A | Coordinator | All |   | 2.3
Admin | Coord 1 |   | Customer B | Coordinator | A

[2018-08-30 06:49] sigmundpetersen commented on #1323
Yeah that's fine @daniellemoorhead I just followed the pattern of Spree Upgrade epic. These epics were in the Subs project, I moved them from there. Not having them in any project makes them harder to follow. Subs is not released yet and these eipcs have issues still open. I guess they should be reviewed, close the ones that are in fact done and move ones for Subs v2 elsewhere 😄

[2018-08-30 06:52] daniellemoorhead commented on #1323
Yep, they definitely need to be reviewed. Tis hard because it morphed into
something much bigger and is mostly in Rob's head. Sally and I are slowly
going through it all, trying to get a handle on it.

On Thu, Aug 30, 2018 at 4:49 PM Sigmund Petersen <notifications@github.com>
wrote:

[2018-08-30 06:59] sigmundpetersen commented on #1049
Can it be closed? @daniellemoorhead

[2018-08-30 07:00] sigmundpetersen commented on #1050
#canitbeclosed ? @daniellemoorhead

[2018-08-30 07:01] sigmundpetersen commented on #1461
Close this? @daniellemoorhead

[2018-08-30 07:10] daniellemoorhead commented on #1745
Merged #2574 so closing this.

[2018-08-30 07:10] #1745 closed

[2018-08-30 07:11] daniellemoorhead commented on #2573
Closed this as #2574 is merged. @luisramos0 @mkllnk feel free to reopen if there's more to do...

[2018-08-30 07:11] #2573 closed

[2018-08-30 07:12] daniellemoorhead commented on #2545
#2550 is merged so closing this.

@mkllnk a few of these haven't been closed when you've merged them...is GH broken?

[2018-08-30 10:10] luisramos0 commented on #2510
That "working version of the Material Design bulk edit functionality"!!!! I can imagine the full OFN backoffice looking like that ❤️

[2018-08-30 10:28] myriamboure commented on #2510
Yes I love both suggestions :-)

[2018-08-30 15:38] RachL opened #2617 "Translation missing on main menu"
## Description
The "more" dropdown is not translated :
![image](https://user-images.githubusercontent.com/6525576/44862622-62013000-ac7b-11e8-8269-8f86fd0e5362.png)

## Steps to Reproduce
Log in as an admin, and check main menu in an non-english instance.

## Severity
S4

## Your Environment
* Version used: v1.18

[2018-08-30 16:03] Vadlusk commented on #2438
Hi there, I'm interested in working on this issue because I'm very enthusiastic about factory-bot, but I'd like to ask a question or two first. I'm unfamiliar with spree, but I can certainly take all of your factories and rewrite them with updated syntax and put them in the normal place(/spec/factories).  It's not the fix you suggested above, but it would make you less dependent on spree and get r

[2018-08-30 17:44] hmesander commented on #2552
I think I would like to try to solve this, but I wasn't sure if someone was already working on it. Is it ok if I pick this issue up?

[2018-08-30 22:48] mkllnk commented on #2438
Thank you for your offer @Vadlusk. It's great to see new contributors. :-)

People are working on another task to upgrade Spree at the moment. It will take a while and may be in conflict with this one. We are just discussing if we can change this task or should block it until the Spree upgrade is done.

We would still be happy if you would like to work on this and show us a proof of concept. No pr

[2018-08-31 01:02] Vadlusk commented on #2438
No worries, I'm not here to create conflicts, in any fashion. I can choose a different issue within this code base. Thank you for your kind response.

[2018-08-31 02:53] #2410 closed

[2018-08-31 03:30] daniellemoorhead commented on #2410
@myriamboure @luisramos0 there was an oversight in this issue - the footer displays the top navigation links as well

![screen shot 2018-08-31 at 1 26 25 pm](https://user-images.githubusercontent.com/10949052/44891252-a21aee00-ad21-11e8-9adb-d4da8743963f.png)

The footer menu is hard coded I think. So what you have in the top menu won't reflect in the footer. Not a big issue, but worth noting just

[2018-08-31 03:50] #2577 closed

[2018-08-31 06:31] myriamboure commented on #2410
@daniellemoorhead The links behind them and related translations remain valid, am I right @luisramos0 ? I'm not sure we need to have again another same navigation in footer and header, what's the point? Shall we just remove completely the header-menu-duplicate from the footer? @RachL what is your UX thought on it? @kirstenalarsen @sstead what was the point for that decision originally? In Aus do y

[2018-08-31 08:31] kristinalim opened #2626 "Avoid missing i18n translations"
## Description

There doesn't seem to be an easy way right now to make sure that translation keys we use indeed have corresponding entries in the main language file.

There's a chance to miss it if a developer introduces a new translation key but forgets to add it to the language file.

And if a translation is missing, the non-underscored version of the key is used, so a missing "new_feature" appe

[2018-08-31 09:08] luisramos0 commented on #2410
Yes, the footer remains the same, it was not adapting to the menu with the previous feature toggle and now it is not adapting.
The links will always work as /shops /map /producers /groups are static. And the footer_about_url is still there on the backoffice to be configured.

[2018-08-31 13:35] sauloperez commented on #2438
thanks @Vadlusk ! Feel free to pick up any of the [good first issue](https://github.com/openfoodfoundation/openfoodnetwork/labels/good%20first%20issue) issues

[2018-08-31 13:40] sauloperez opened #2627 "[Spree Upgrade] Add unit tests, doc and deprecation warnings to VariantStock"
## Description

#2615 got merged but we're still missing unit tests for this new `VariantStock` module.

Also, we should document what happens with the various methods involved in that module as mentioned in https://github.com/openfoodfoundation/openfoodnetwork/pull/2615#discussion_r214063245, as well as add deprecation warnings to prevent us from relying on this old API (see https://github.com/op

[2018-08-31 15:09] myriamboure commented on #2410
It's good for me that it remains as is, was already the case, and not a priority to tackle.

[2018-08-31 16:35] myriamboure commented on #2396
@RachL I edited the epic thread and took the content you put in the new issue which was supposed to be the epic ;-) So I'm closing the other one in favor of this one, but there are some important advice on it, especially from Yuko, that we need to take here:
- as there is only one bulk action she recommends to not have a dropdown menu but a direct CTA, like "Print invoices"
- and she recommends th

[2018-08-31 16:37] myriamboure commented on #2510
Closing as a duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/2396#issuecomment-416998665 which was the original epic, let's move on conversation there. Content of this thread remain accessible and linked to the other description. We had discussion on two similar threads so we need to CLEAN UP!!!

[2018-08-31 16:41] myriamboure commented on #2510
Hum... it seems @RachL you used that issue both as one action issue and epic discussion of overall feature, should you recreate another issue for this issue and link to the epic? Or we can reopen it but I'm afraid people get confused by all the "epic scope" discussions here...

[2018-08-31 16:48] myriamboure commented on #2396
I think you need to clean the screenshots in the main thread @RachL some are the old version with action button above the filter (i think we decided that right?) I would keep only the second one, but wanted to check with you ;-)

[2018-08-31 18:44] myriamboure commented on #2362
This is free for someone else to take :-)

[2018-08-31 18:48] myriamboure commented on #1848
This is free for someone to take!

[2018-08-31 18:57] myriamboure commented on #1394
@sstead can you specify then more clearly with template the issue with the result of what is expected from a dev so that it can be picked up? thanks ;-) Also it seems there need to  be some review on UX for where to put the schedule notion, apparently Rob was not super happy to have it under order cycle... so shall we pause that issue? As if we review that soon maybe it doens't worth fixing this..

[2018-08-31 19:10] myriamboure commented on #1154
This seems to be working fine now, so closing that issue
![capture du 2018-08-31 21-10-28](https://user-images.githubusercontent.com/8135376/44931559-589ec300-ad62-11e8-82b4-9fd4b4acfc3c.png)

[2018-08-31 19:10] #1154 closed

[2018-09-01 09:08] RachL opened #2629 "Translation missing on product edit page"
## Description
When you edit a product, the checkbox "inherit..." is not translated
![image](https://user-images.githubusercontent.com/6525576/44944449-1794c600-add7-11e8-85fa-86a63668917c.png)
https://www.openfoodfrance.org/admin/products/biere-akerbeltz-blonde/product_properties

## Steps to Reproduce
1. Log in as an admin
2. Go to products
3. Edit a product
4. Go to product properties and there

[2018-09-01 09:26] RachL opened #2630 "Translation missing on Enterprise page"
## Description
The "Producer?" title column is not translated:
![image](https://user-images.githubusercontent.com/6525576/44944577-b7535380-add9-11e8-8b4b-76792a7d34b8.png)

## Steps to Reproduce
Log in as a manager, go to Enterprise menu

## Severity
S4

## Your Environment
* Version used: v1.18

[2018-09-01 09:44] RachL opened #2631 "Change link to user guide in welcome email"
## Description
This is linked to issue #2593 If we enable instances to customize their user guide URL, the URL in the enterprise welcome email should change as well:
![image](https://user-images.githubusercontent.com/6525576/44944710-0e5a2800-addc-11e8-8821-38efef53b3fb.png)

So either we can change this automatically when #2593 is done, either each instance has to change the link manualy

## Acce

[2018-09-01 10:30] myriamboure opened #2632 "Wrong translation on backoffice header"
## Description
On English menu the top right link in back office is "store" and sends to the store (front office)
![untitled presentation 1](https://user-images.githubusercontent.com/8135376/44945120-8d525f00-ade2-11e8-9193-4415d02846ce.jpg)

On French instance this is automatically translated by Spree, there is no string in Transifex, and it's wrongly translated by "Enregistrer" (=save) which is

[2018-09-01 18:26] Vadlusk commented on #1361
Does that mean I can safely remove _split2? That sounds like something I can handle if it's as simple as deleting this.

[2018-09-01 20:51] luisramos0 commented on #1361
Hey Adam!

Lets fix this! It's 218kb of unnecessary stuff. Is it unnecessary?
css_splitter splits css files with more than 4096 rules so that all rules are used in internet explorer 9 or below.
The question is: are we below this number and is this split2.css file not doing anything?
I think we need to REcheck this.

If we are sure of the above, we can remove css_splitter.
I tried it here #2633 but

[2018-09-01 23:59] Vadlusk commented on #1361
I am beginning to look into it now. Thanks for the opportunity!

[2018-09-02 17:43] luisramos0 commented on #2427
Here's the wiki page:
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Matomo-Integration

I think this is enough. What do you think?

Moving issue to test ready.

[2018-09-02 22:41] luisramos0 commented on #1361
yeah, it depends on your system, mac, linux, bash, ksh...

I am on mac and Ive done this:
tr ';' '\n' < all.css > new_all.css
tr ';' '\n' < split.css > new_split.css

and then looked at the files with IntelliJ diff.

I can confirm the split.css file is totally included in the all.css file.
SO, we can remove it :-)

[2018-09-03 00:51] mkllnk commented on #2545
The pull request didn't solve the whole issue as the issue was a bit more general. So it wasn't set to close this one. But if @lin-d-hop is happy with the outcome, this is solved. :-)

[2018-09-03 01:39] mkllnk commented on #2427
I thought the issue was more about why you did certain implementation decisions. But I'm happy with it. Should there be something in the user guide?

[2018-09-03 01:49] #2601 closed

[2018-09-03 04:38] #2534 closed

[2018-09-03 04:43] mkllnk commented on #2198
Pull requests for the 2-0-stable branch don't close the associated issues (they would get closed when merged into master). So we have to do that manually.

[2018-09-03 04:43] #2198 closed

[2018-09-03 06:44] daniellemoorhead commented on #2545
@lin-d-hop I've reopened this issue - can you please let us know if you're happy with the outcome and re-close this if you are :-)

[2018-09-03 09:06] luisramos0 commented on #2198
I think it was just because PR 2589 was not "connected" to this issue. No?

[2018-09-03 09:09] luisramos0 commented on #2427
Yeah, this is more of a user guide, isnt it?
I dont think we need any technical documentation here. It's all rather straight forward.

[2018-09-03 09:31] myriamboure commented on #2427
I guess what you wrote @luisramos0 yes is more for a super-admin handbook, how to setup matomo in OFN, and how to configurate it to get usefull data (which I have not yet understood, will be next step I guess!). So it's more on my task when all the other last bits of implementation are done. I too the content of your suggestion Luis as a base. So if no need for more technical implementation docume

[2018-09-03 10:52] #2575 closed

[2018-09-03 10:53] #2450 closed

[2018-09-04 01:32] mkllnk commented on #2198
Maybe. We have two things here: One is Github detecting text like `closes #100` to auto-closing the issue when the PR is merged into master. The other thing is Zenhub moving issues and PRs together. So if we connect things, it should still work.

[2018-09-04 01:35] #2597 closed

[2018-09-04 11:01] RachL opened #2641 "Translation missing in error message / OC creation"
## Description
Found out while testing #2625
The "failed to create order cycle" message is not translated :
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/0a002111-5fa4-4bf9-aa64-ed62574b783c)

## Steps to Reproduce
Log in as an admin on a non English instance, go to Order Cycle menu, create a new OC and try to make mistakes (don't fill all the field for instance).

(th

[2018-09-04 11:34] Matt-Yorkley commented on #2525
@myriamboure shall we move this issue and #2526 to "dev ready"?

[2018-09-04 13:45] RachL commented on #2396
@myriamboure the mockups and screenshot are up-to-date except for Yuko's comment on action button (which I fully agree on). Where did you saw that something else was decided?
As soon as this is clear I will update with Yuko's comment and then we are good.

Thanks for re-odering stuff, tbh the original epic went too far, so that's why I felt more confident discussing on the last issue to be made as

[2018-09-04 17:41] myriamboure commented on #2396
@RachL your first mockup show the action button on the top, the second below. So we need to decide to be able to kickoff the implementation.
After our quick discussion on the phone, and taking into account community feedback, here is what we propose the community:
- **We choose the second mockup (on the top message): so the one with action button below the filters, on the right.** Yuko supported b

[2018-09-04 19:45] myriamboure commented on #2481
@Matt-Yorkley I guess this one is next on the last PI stories? Then the last one will be to make the menu visible, and BOOM!

[2018-09-04 22:40] tywestlie commented on #985
Hi there! Mind if I take a crack at this issue?

[2018-09-05 00:56] kirstenalarsen commented on #2396
go for it. I agree with Yuko that we should just get on with it and then get feedback later to refine

[2018-09-05 07:35] yorkfrog commented on #985
Hi @tywestlie, I'm happy for you to go for it.  I solved the problem (see PR #2204) but will need to be rebased.  As I remember, the outstanding work to was to add some tests around that code.  Good luck. Colin

[2018-09-05 07:52] myriamboure commented on #2396
ping @RachL we have everything then top adapt the mockups and kickoff!

[2018-09-05 10:09] myriamboure opened #2644 "French prod: backoffice just switched back to English for certain users..."
## Description
On french instance, locals are french, so me, Rachel, all the people I know that use openfoodfrance.org see backoffice in French. But we have one user today who is reporting he is seeing the backoffice in English. I checked and the info he shared are correctly in openfoodfrance so he didn't use another instance. He should see the backend in English, so this is a bug.
@luisramos0 did

[2018-09-05 12:44] Jliv316 opened #2645 "Selecting an Enterpise 2 as admin in development raises error message"
## Description

When selecting the only seeded vendor, Enterprise 2, I am redirected to an error page describing
uninitialized constant OpenFoodNetwork::ScopeVariantToHub.

## Expected Behavior
I should be able to click on vendor, Enterprise 2, and be brought to that vendors page.

## Actual Behavior
The page errors out with an uninitialized constant OpenFoodNetwork::ScopeVariantToHub error.

## S

[2018-09-05 12:45] #2645 closed

[2018-09-05 14:16] sauloperez commented on #2598
What if we add some sort of indication in the DOM, such as `class="loading"` while we figure out its impact in terms of UI/UX so that we can fix the feature specs? Team discussion are often slow.

[2018-09-05 15:30] RachL commented on #2396
@myriamboure and all: 1. was already made actually, but the screenshots were wrong so I've updated everything again and added 2.

Moving this to dev ready 🎉

[2018-09-05 15:31] RachL commented on #2525
@Matt-Yorkley yes I just did :)

[2018-09-05 15:37] RachL commented on #2396
@Matt-Yorkley tell me when you are ready to pick up, we can make a quit chat to kick-off the dev

[2018-09-05 20:58] RachL opened #2646 "Translation missing on customer account"
## Description
As a customer, the "Authorised shops" is not translated in credit card profile:
![image](https://user-images.githubusercontent.com/6525576/45120598-e7468200-b15e-11e8-92f7-1055bb21be74.png)

Same on the tooltip for authorised shops:
![image](https://user-images.githubusercontent.com/6525576/45120882-bca8f900-b15f-11e8-9900-96c82e40f328.png)

## Steps to Reproduce
On a non-english in

[2018-09-06 02:44] kristinalim opened #2647 "Enterprise Settings page does not reset form when switching sections without saving"
The "Enterprise Settings" page remembers and saves changes to different sections of the form, even if the browser warns: "There are unsaved changed on this page. Continue without saving?"

## Description

This is misleading and can cause enterprises to save wrong settings.

## Expected Behavior

The browsers should not give the warning, or the form should reset to its initial state when switching

[2018-09-06 02:51] daniellemoorhead commented on #2396
@myriamboure @RachL I would suggest your feature kick off should include more than just @Matt-Yorkley. @sstead is likely to be testing this, and who will be @Matt-Yorkley's back up who can be helping with this work and also taking the lead on code reviews? Perhaps Hugo or Kristina? You'll need to get at least two devs across this so that they can hit the ground running and organise themselves to d

[2018-09-06 02:52] daniellemoorhead commented on #2396
Also, is this our opportunity to try and get some high level estimates so we can attempt to have an understanding of when it might be done?

[2018-09-06 02:52] daniellemoorhead commented on #2525
Woahhhhh little donkey!

Have you officially kicked off this feature yet? I do believe that kick off should precede putting things into dev ready...yes?

[2018-09-06 03:00] daniellemoorhead commented on #2480
@Matt-Yorkley @lin-d-hop been almost 2 weeks since this bug has had an update.

Bueller? Bueller? Bueller?

[2018-09-06 03:13] daniellemoorhead commented on #985
Welcome @tywestlie! It would be most awesome if you could finish up the last little bit of what was missing from @yorkfrog's PR and we can get it merged. That would be a win-win-win 😄

[2018-09-06 07:50] sigmundpetersen commented on #1409
@daniellemoorhead is this really a part of a Subs epic?

[2018-09-06 09:47] HugsDaniel commented on #2592
@RachL I'm unable to reproduce the issue, after pulling all locales from Transifex I do have the sentence in french :
![screenshot from 2018-09-06 11-45-53](https://user-images.githubusercontent.com/28786869/45149786-a97f4300-b1ca-11e8-877a-4abb4db1bf5f.png)

[2018-09-06 10:14] RachL commented on #2592
@HugsDaniel I just saw on French staging that it is indeed resolved. So It will be ok in production after next release; Yay! :) Closing this one and I'm making a note to myself to check once the release has been made. Thanks Hugo!

[2018-09-06 10:14] #2592 closed

[2018-09-06 10:52] sigmundpetersen commented on #2537
#canweclose ? https://github.com/openfoodfoundation/spree/pull/14

[2018-09-06 11:05] myriamboure commented on #2592
@mkllnk @luisramos0 I think this is another proof that there is a big issue with our transifex process... this sentence has been translated since ages and production have been upgraded recently. It's like the producer packing choose stage in register modal, went back to English. We have regularly things translated in transifex since long that never go through product, or disappear... we need to in

[2018-09-06 11:15] daniellemoorhead commented on #1409
probably not @sigmundpetersen but I'll ley @sstead answer that :)

[2018-09-06 18:31] luisramos0 commented on #2126
Closing this as it is a duplicate of #2010 (please correct me if I am wrong).

[2018-09-06 18:31] #2126 closed

[2018-09-06 19:47] luisramos0 commented on #2008
The first step was to remove within zone as in #1627 . I do that with new #2652

I dont think I understand the checklist above:
- Document EnterpriseHelper#available_shipping_methods
- Document EnterpriseHelper#available_payment_methods

There are two parts to this:
- I don't think filtering shipping methods by zone will be done in EnterpriseHelper (this will filter methods by enterprise), spree m

[2018-09-06 23:31] mkllnk commented on #2592
This is the timeline that lead to this:

- 12 June: French is translated to a 100% and PR #2370 is opened.
- 13 June: The Transifex branch is merged into master.
- 18 June: #2361 gets merged and this text is available for translation.
- 12 July: v1.16.0 is released without any changes to the French locale (the translation is missing).
- 19 July: v1.17.0 is released (missing French translations).
-

[2018-09-07 00:43] daniellemoorhead commented on #2427
Given the above comment by @myriamboure can this be closed @luisramos0?

[2018-09-07 01:29] mkllnk opened #2655 "ActionView::Template::Error in spree/admin/payments#new"
## Error in OpenFoodNetwork

**ActionView::Template::Error** in **spree/admin/payments#new**
undefined method `amount' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5b63943e6f4a970017120327?event_id=5b91d2db002e1709057a0000&i=gh&m=ci)

## Stacktrace

    app/models/spree/calculator/flat_percent_item_total_decorator.rb:10 - map
    app/models/spree/calcu

[2018-09-07 01:33] mkllnk commented on #2655
An enterprise in Australia can't create payments via the admin interface. The above error is raised when visiting https://openfoodnetwork.org.au/admin/orders/R513858701/payments/new. Somehow it seems possible that `Spree::Order.line_items` returns `[nil]` (at least one `nil` in an array).

This doesn't affect all enterprises. We haven't found out yet which circumstances trigger this.

[2018-09-07 05:10] #2602 closed

[2018-09-07 06:18] sstead commented on #2351
Just making a note that this also occurs with product upload and update. If the uploaded CSV tells a product to go from on demand to on hand, it may not save the right on hand figure.

[2018-09-07 06:22] kirstenalarsen opened #2656 "Add link and description to /admin/reports"
![image](https://user-images.githubusercontent.com/2911176/45201813-13c2e100-b2ba-11e8-98ae-76fa26b7d1ef.png)

[2018-09-07 06:39] mkllnk commented on #2655
My investigation so far: The root cause is that the `current_order` is not passed to the calculators. A buggy implementation then thinks that `nil` is a line item and tries to call `amount`. There are several things to fix here:

- Write a test that exposes this bug.
- Run git bisect to find which commit broke it. Probably Stripe work as it moved some of this code around.
- Get rid of `app/models/

[2018-09-07 06:47] kirstenalarsen opened #2657 "[Enterprise Fee Summary] Show total in View of all Fees in Report/Query just run"
so that if a User is fundraising and has a 'Fundraising for Spock' fee - they can run the Fee Summary report (which will show the breakdown by Customer etc) but they can also see at a glance where the Total is actually up to

Likely not MVP

[2018-09-07 07:02] daniellemoorhead commented on #2243
@kristinalim we're going to add this final issue to the subscription beta functionality. @sstead is right now rewriting it to be clearer in terms of what needs to be built (which is the removing the restriction @oeoeaio put in place). Have a chat to @sstead or @mkllnk if it isn't clear what needs to be done 😃

[2018-09-07 07:03] mkllnk commented on #2351
I assumed that was solved. @Matt-Yorkley can you confirm that this is a problem with product import?

[2018-09-07 07:07] daniellemoorhead commented on #2243
@kristinalim just one more note - if you think this is going to take more than a 2-3 of hours to get to code review then can you let me know?

[2018-09-07 07:16] kristinalim commented on #2243
I think I have sufficient understanding of how subscriptions work now to get that in quickly enough. Is this the most urgent task for me right now?

[2018-09-07 07:30] kristinalim commented on #2243
By the way, yes, I'm thinking around 3 hours for removing the restriction and changing it to warn the user instead.

[2018-09-07 07:31] daniellemoorhead commented on #2243
I think it's the most important next thing you pick up, but less than anything you already have in the pipe and are working on right now.

[2018-09-07 08:29] luisramos0 commented on #2427
yes, I think we can close, I dont think there's much tech details I can add here.

[2018-09-07 09:38] #2427 closed

[2018-09-07 12:47] myriamboure commented on #2592
Wahou, impressive @mkllnk ;-) But on Transifex it shows that the string has been translated on 28 June... so it should have been in the last three releases...
![capture d ecran de 2018-09-07 14-45-42](https://user-images.githubusercontent.com/8135376/45219941-d4da5e80-b2ac-11e8-9788-b4775a0b84b4.png)

[2018-09-07 12:49] myriamboure commented on #2592
And no @mkllnk we don't receive any notification when we have something to translate, it would be great!

[2018-09-07 13:27] sigmundpetersen commented on #2592
_All_ strings have to be translated for a PR to be created from Transifex to GH @myriamboure . So if as Maikel says French was not translated **100%** between June 18 and August 10, the string in question would not have made it to the releases.

It's possible to pull all translations manually before a release though. I think @luisramos0 did that before the release today.

[2018-09-07 16:18] luisramos0 commented on #2592
yes, I pulled all translations for this release.

[2018-09-08 19:19] luisramos0 opened #2662 "[Spree Upgrade] Replace Order#shipping_method="
`Order#shipping_method=` is gone in Spree 2.0, so any line of code that uses it in OFN will fail. We can provide the same behaviour with an adapter to spree 2 models.

Related to #2009 that handles the absence of order.shipping_method

[2018-09-08 19:21] luisramos0 opened #2663 "[Spree Upgrade] Adapt Address_Finder.last_used_ship_address to spree 2"
order.shipping_method relation is gone. The calculation of last_used_ship_address must use order.shipments.

See lib/open_food_network/address_finder.rb:79
and respective spec/lib/open_food_network/address_finder_spec.rb

This breaks quite a few tests in models/order_spec

[2018-09-08 19:23] luisramos0 opened #2664 "[Spree Upgrade] Fix issues related to shipments in order_spec"
Quite a few errors related to shipments in the order_spec.
We need to adapt to spree 2 shipments model
spec/models/spree/order_spec.rb

[2018-09-08 19:25] luisramos0 opened #2665 "[Spree Upgrade] Fix issues related to shipments in adjustment_spec"
Quite a few erros related to shipments in spec/models/spree/adjustment_spec.rb

[2018-09-09 06:16] kristinalim commented on #2414
Noting here that this has been addressed in #2659, #2661, #2671 It so happens that the nature of the translation issues are different, so although simple, I separated the PRs in case some might get merged quicker than the others.

[2018-09-09 13:47] luisramos0 commented on #2009
Actions from my investigation:
- I have created an issue to handle the setting of order.shipping_method (shipping_method=) #2662
- I have created PRs to implement adapters to both order.shipping_method and order.shipping_method= (respectively #2654 and #2669 )
- I have created issues and respective PRs to fix specs broken with errors related to this change (order spec issue #2664 and PR #2668 and

[2018-09-10 01:29] #2020 closed

[2018-09-10 01:31] mkllnk commented on #2586
Is this done?

[2018-09-10 04:46] kirstenalarsen opened #2672 "Create View for Fee Summary Report"
Something like
![image](https://user-images.githubusercontent.com/2911176/45276866-11ee5d00-b508-11e8-9604-e6919439be16.png)

Should include filters for: Start/End Date, Order Cycle, Distributor/Hub, Producer, Fee Name, Payment Methods and Shipping Methods

[2018-09-10 04:47] kirstenalarsen opened #2673 "Enterprise Fee Summary Report"
## What is the problem we are solving
Hubs cannot access information about fees and how much they have contributed to totals, as there is no report that reveals them. This is significantly undermining/ limiting the use of the fee functionality. Hubs are not making more use of the flexible fees in OFN e.g. fundraising, calculate food transport costs, levy extra charges on distant products, etc. OFN

[2018-09-10 05:57] kirstenalarsen commented on #2616
@mkllnk @myriamboure - do we have a 'standard' view on whether reports pages should all load empty rather than slowly bringing up a zillion results?

and @mkllnk if you have any thoughts on performance / good building of reports based on the challenges you've seen in others feel free to put them here?!

[2018-09-10 06:29] mkllnk commented on #2616
For good performance it's important to filter as much as possible on database level and avoid queries in loops. But I think Kristina knows that very well. ;-)

It could be very helpful to create a diagram of where the data comes from. In this case it looks like we start with orders, filter them and fetch the remaining data for the report. But I haven't looked into it very much. Happy to discuss ap

[2018-09-10 06:30] kirstenalarsen commented on #2616
Yes I assume the information is all in orders, with all the fee information in 'adjustments'?

[2018-09-10 09:03] HugsDaniel commented on #2537
Yes ! I close it now

[2018-09-10 09:03] #2537 closed

[2018-09-10 09:16] luisramos0 commented on #2586
this will be closed when #2590 is merged.

[2018-09-10 09:31] sauloperez commented on #2008
I don't understand the checklist either :trollface: I guess these methods were not clear to me.

[2018-09-10 09:36] luisramos0 commented on #2664
First step done in #2668.

There is more work to be done, even in terms of shipments, we still need to make the tests related to shipping fees pass.

[2018-09-10 09:37] luisramos0 commented on #2665
First step done in #2670 .

There is more work to be done, we still need to make the tests related to shipping fees pass.

[2018-09-10 10:03] sauloperez commented on #2126
I'm not sure. There is a discussion in https://github.com/openfoodfoundation/openfoodnetwork/pull/1659 about it and the conclusion is not entirely clear to me (I just skimmed through the text).

[2018-09-10 10:09] sauloperez commented on #2586
Closed by #2590

[2018-09-10 10:09] #2586 closed

[2018-09-10 10:20] luisramos0 commented on #2164
Closed by #2590

[2018-09-10 10:20] #2164 closed

[2018-09-10 10:32] sauloperez commented on #2616
We all know that reports is the worst part of our codebase and we've been postponing any decisions as we didn't know what was its future.

If we're sticking with them adding more reports, we should at least do things differently. May I suggest following a slightly different architecture like the one we did in Katuma? See specially what we did with [controllers](https://github.com/coopdevs/katuma_r

[2018-09-10 10:39] sauloperez commented on #2286
We made it work in Semaphore CI running only Postgresql

[2018-09-10 10:39] #2286 closed

[2018-09-10 10:40] #2535 closed

[2018-09-10 10:41] sauloperez commented on #2530
Done!

[2018-09-10 10:41] #2530 closed

[2018-09-10 11:37] luisramos0 opened #2674 "Make embedded_shopfronts_spec reliable"
## Description
The build is breaking very often on this spec.
We need to take a look.

This has been looked at on #2233 and #2468 and #2561
Also related to moving to headless chrome: #2469

## Expected Behavior
Reliable tests.

## Actual Behavior
Randomly broken build. Examples:

- https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/dependabot-bundler-uglifier-4-1-18/builds/3

##

[2018-09-10 12:10] kristinalim commented on #1766
After #2544 is merged, the button in small screens will already be clickable, but the user would still have to scroll to see this.

Scrolling seems necessary if we keep the contents as they are. Here's the full length of the modal on an example small screen:

![20180910194657-enterprise-registration-small](https://user-images.githubusercontent.com/2243/45295858-b08fb380-b532-11e8-8441-80964cc8e3bf

[2018-09-10 12:44] sauloperez commented on #1766
Option 2 sounds good to me.

[2018-09-11 00:55] kirstenalarsen commented on #1766
Option 3 - edit the text? Certainly the text under What do I Get seems excessive . .

[2018-09-11 03:55] daniellemoorhead commented on #2616
Hey @sauloperez the decision was made to _not_ fix reports but to add this to what we know is a very sub-optimal reports feature that needs to be replaced, as that is what we approved during product curation.

You can read more about it here: https://community.openfoodnetwork.org/t/report-that-isolates-various-enterprise-fees/1361/17

But to highlight the bit we're talking about:
![screen shot 201

[2018-09-11 06:31] sauloperez commented on #1766
and what about a "See more" link to show that "What do I get" section (maybe rephrased)?

[2018-09-11 06:57] daniellemoorhead commented on #2505
@sstead this is listed as a severity 2 bug yet it hasn't come up in our conversations about what needs to be completed for subscriptions to be "done" for now.

Is this actually an s2? Is it needed? Any s2 bugs are supposed to be picked up as a priority...yet this one seems to have slipped through without being noticed....

What should we do with it?

[2018-09-11 07:02] daniellemoorhead commented on #2009
Hey @luisramos0 the PR attached to this issue is merged, yet this is still in the code review column...can it be closed, or are you waiting on #2662 to be merged before it's done?

If you're waiting, then suggest disconnecting #2654 and connecting #2662 instead. Or, if as it says in #2654 that it closes #2009 then go right ahead and close this 😄

[2018-09-11 07:52] sigmundpetersen commented on #2008
I don't know if this one should have been closed, but the connected PRs were merged. @luisramos0 could you reopen and put it were it belongs if it's not to be closed?

[2018-09-11 08:05] mkllnk commented on #2655
8c6b8d5e84a796bd1b4171ff5393336f65c02b32 is the first bad commit for this particular bug. Before that commit, the bug was only in Stripe payments.

[2018-09-11 08:29] sauloperez commented on #2432
We need to check the status of this issue now that we got https://github.com/openfoodfoundation/openfoodnetwork/pull/2431

[2018-09-11 08:33] sstead commented on #2505
Eeep sorry. Yes this needs fixing, before subs is used more widely. Its not super likely to occur (maybe a case for s3) but it’s a bug in a core feature (stock control) so could also be s2?

[2018-09-11 09:26] Matt-Yorkley commented on #2525
@daniellemoorhead we've officially kicked off now :)

![](https://media.giphy.com/media/I3N5kit04iStO/giphy.gif)

[2018-09-11 10:26] luisramos0 commented on #2009
Thanks for the heads up @daniellemoorhead

I disconnected this from #2654 , 2654 is starting but not closing this one.

There's more work to be done and it's not just 2662. Actually 2662 may not be necessary.

What's still not done in this issue is to go through all the changes in the original PR #1651 and see what's still valid. This issue acceptance criteria is the absence of errors related to o

[2018-09-11 10:36] luisramos0 commented on #2008
The simple approach is to keep this open until we:

make sure the original customization works (if it is supposed to work)
- do shipping methods need to appear before shipping address is selected?
- if so, make sure that is working after the upgrade

[2018-09-11 10:52] daniellemoorhead commented on #2505
@kirstenalarsen @myriamboure @RachL what do you think? Worthy of an s2? Should be fixed ASAP?

[2018-09-11 10:58] daniellemoorhead commented on #2525
@Matt-Yorkley

![](https://media1.tenor.com/images/3376fe1615eaca2b3ef0e1ea251c1204/tenor.gif?itemid=11084136)

[2018-09-11 11:31] kirstenalarsen opened #2676 "Cannot create OC on USA instance"
Trying to create an OC in USA instance for Ms Future Farms (producer only) and getting "failed to create Order Cycle"

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/3bd076d7-c4e9-46e5-ac58-9c5ee23260c9)

There are valid Shipping and Payment methods
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/f295b08d-bee8-42d1-9d8b-6f30116fccd3)

![image.

[2018-09-11 11:45] sigmundpetersen commented on #2676
ping @luisramos0 @sauloperez @mkllnk @Matt-Yorkley

[2018-09-11 11:54] luisramos0 commented on #2676
awesome, with dev tools screenshot :smile:

@kirstenalarsen can you click on that order_cycles.json, there could be more details there.
Otherwise, we need someone with access to the server to see the logs.

[2018-09-11 12:08] kirstenalarsen commented on #2676
I have just checked and there seems to also be a problem with normal order cycles (not 'producer only). I think that I have filled out everything I should have, and the hub has valid shipping and payment methods. hmmmm. It is not even giving me an active 'Create' button . .

![image](https://user-images.githubusercontent.com/2911176/45359162-0a65ab80-b60f-11e8-8d2c-6ea3ca846078.png)

![image](http

[2018-09-11 12:16] sigmundpetersen commented on #2676
Worth checking the state of delayed_job? If it's running at all?

[2018-09-11 12:30] kirstenalarsen commented on #2676
clicked on order_cycles.json @luisramos0

![image](https://user-images.githubusercontent.com/2911176/45360190-27e84480-b612-11e8-8656-130e09f058c3.png)

[2018-09-11 12:31] kirstenalarsen commented on #2676
![image](https://user-images.githubusercontent.com/2911176/45360273-6847c280-b612-11e8-96d2-cf583ecbbcf3.png)

![image](https://user-images.githubusercontent.com/2911176/45360301-78f83880-b612-11e8-9d0d-c8ddfb348015.png)

[2018-09-11 12:37] kirstenalarsen commented on #2505
i think s3 - not catastrophic if it does happen, they can workaround / amend order, likely only a few - I'd say s3

[2018-09-11 13:58] BrandyArmstrong commented on #2676
I have sysadmin access through the server but won’t be home where I can access it until 5pm central. Maikel also has access.

[2018-09-11 17:31] sauloperez commented on #2655
Could you work on it? Do you need any help?

[2018-09-11 21:15] myriamboure commented on #2592
Ok so that's probably a good practice to add to your release manual @luisramos0 @Matt-Yorkley @sauloperez @mkllnk to avoid those kind of issues...

[2018-09-11 21:51] luisramos0 opened #2678 "[Spree Upgrade] Get shipping method from Shipment in order details"
Mimic what's in this commit and make sure order details works properly:
https://github.com/openfoodfoundation/openfoodnetwork/pull/1651/commits/6f7c8bb8b1e174dc67e60effa4a1e57844878a0e

[2018-09-11 21:56] luisramos0 opened #2679 "[Spree Upgrade] Replace order.shipping_method_id in current_order_serializer"
Mimic what's in this commit current_order_serializer:
https://github.com/openfoodfoundation/openfoodnetwork/pull/1651/commits/06345e91615b93b75d9e1b1411b7da33fe1dd607

app/serializers/api/current_order_serializer.rb:
    1  class Api::CurrentOrderSerializer < ActiveModel::Serializer
    2:   attributes  ... :shipping_method_id,
PR - #2729

[2018-09-11 22:08] luisramos0 opened #2681 "[Spree Upgrade] Handle order_decorator.empty shipping_method_id"
## Description
We need to do something like this commit:
https://github.com/openfoodfoundation/openfoodnetwork/pull/1651/commits/8ae36c9b481b7ac393f1d5adc32d86cc4d4b6051

This solution needs to be verified. Is it correct? Does it work?

[2018-09-11 22:27] luisramos0 opened #2682 "[Spree Upgrade] Handle ShippingMethodsController. It cannot depend on order.shipping_method"
We can use this commit as a base:
https://github.com/openfoodfoundation/openfoodnetwork/pull/1651/commits/b353d7a8a5e2e7268130ee866efa6eb2f1919f85

The main question is what to do with 5 year old mystery method do_not_destroy_referenced_shipping_methods

[2018-09-11 22:34] luisramos0 opened #2683 "[Spree Upgrade] Handle shipping_method_id in checkout"
We need to look at both
- app/assets/javascripts/darkswarm/controllers/checkout/checkout_controller.js.coffee
- app/assets/javascripts/darkswarm/services/checkout.js.coffee
and
- app/views/checkout/_shipping.html.haml

and review/replace shipping_method_id usage.

For reference, other files that may need review/changes:
- app/controllers/checkout_controller.rb
- spec/requests/checkout/failed_check

[2018-09-11 22:36] luisramos0 opened #2684 "[Spree Upgrade][Account Invoices] Handle shipping_method_id on finalize_account_invoices"
We need to review/replace usage of shipping_method_id in app/jobs/finalize_account_invoices.rb

Files that reference shipping_method_id:

- [ ] - app/jobs/finalize_account_invoices.rb
- [ ] - spec/jobs/finalize_account_invoices_spec.rb
- [x] - app/models/spree/app_configuration_decorator.rb
- [x] - app/views/admin/accounts_and_billing_settings/_method_settings.html.haml
- [x] - app/views/admin/acc

[2018-09-11 22:44] luisramos0 opened #2685 "[Spree Upgrade][Models] Fix order_spec and orders_controller spec tests with shipment fees and taxes (3 broken tests)"
Originated from #2009.
We have to find what's broken in the shipping fees calculation and fix them in spec/models/spree/order_spec.rb. It may be a code change, it may just be adapting tests.

Acc Criteria: order_spec tests passing.

[2018-09-11 22:47] luisramos0 commented on #2009
Ok, so I have reviewed everything in #1651 and created separate issues. Mostly around order.shipping_method_id and not order.shipping_method.
Issues created: #2678, #2679, #2681, #2682, #2683 and #2684  🎉

What remains to be done as part of this issue is to fix the order_spec.
I changed my mind. For clarity I am closing this one. I have opened #2685 to fix the fee calculations in the order_spec.

[2018-09-11 22:47] #2009 closed

[2018-09-11 23:17] kirstenalarsen commented on #2616
if @sauloperez and katuma have done some reports and done them better we should definitely follow their style lead if it makes sense for this report @kristinalim  @mkllnk

[2018-09-11 23:41] BrandyArmstrong commented on #2676
So after looking at the logs it appears skylight is failing to start because it does not have the information it needs.
Unable to start instrumenter; msg=authentication token required; class=skylight::configuration error

[2018-09-11 23:44] BrandyArmstrong commented on #2676
![image](https://user-images.githubusercontent.com/42093801/45393635-77b71380-b5f2-11e8-87aa-df123150bc16.png)

[2018-09-11 23:44] kirstenalarsen commented on #2676
skylight is a relatively new thing - it is quite possible that setting it up properly is missed in the installation / configuration process? @sauloperez @mkllnk ?

[2018-09-11 23:45] BrandyArmstrong commented on #2676
![7d4041a946260b657be49cfd97e8db9d8a61b095](https://user-images.githubusercontent.com/42093801/45393716-d8465080-b5f2-11e8-8dc9-e7cd8e6b743b.png)

[2018-09-11 23:48] BrandyArmstrong commented on #2676
There is no skylight api key in the secrets file. So does USA need to sign up for skylight?

[2018-09-12 01:02] kirstenalarsen commented on #2676
hey @brandyarmstrong and others - when you get to the bottom of this can we make sure ofn-install and/or wikis are updated? thanks :)

[2018-09-12 06:37] myriamboure commented on #2616
@daniellemoorhead we said we would not redo report but do the new ones in a good way if we can, so if there is an existing solution already implemented and working I think. @sauloperez shared the code apparently so that might be useful :-) That will be one less report to redo later...

[2018-09-12 07:34] kristinalim commented on #2616
I checked the `katuma_reports` repository, and confirm that the changes suggested by @sauloperez were indeed not about reworking existing reports but would better organize new reports. Existing reports could still be reorganized, but no need to do that now.

(Except the part where the reports index already shows search filters for the Variants by Order report. @sauloperez Am I correct that this pa

[2018-09-12 08:34] luisramos0 commented on #2676
Hey, I dont think skylight is related to the problem. Even if it's not working properly.
What you need to look for is any error message in the log. Another place to look for the 500 entry would be on the nginx access.log.

@kirstenalarsen on your screenshot, the tab response can have more info.

I can help if you give me access to the app backoffice (so I can replicate) and/or server (so I can deb

[2018-09-12 09:04] mkllnk commented on #2676
The stacktrace from `~/apps/openfoodnetwork/current/log/production.log`:

[code]

[2018-09-12 09:13] mkllnk commented on #2676
As far as I can tell:

- Creating an order cycle triggers the products cache to be refreshed.
- The cache refresh job doesn't want to run multiple times, because it's quite expensive.
- The job checks all other jobs to find duplicates of itself.
- One of the jobs fails to load, because it has a reference to a user that doesn't exist any more.
- This triggers an exception that breaks creating order

[2018-09-12 09:33] mkllnk commented on #2676
One offending job:
[code]

I identified two types of jobs that are a problem here. In order to find a quick solution, I decided to delete all jobs of that category. Any sign-up emails can be triggered again if needed:
[code]

The quick fix is applied. A workaround exits. I'm degrading this to an s2 bug and we should create issues for the two things that can lead to this.

[2018-09-12 09:52] mkllnk commented on #2592
If we pull the translations manually, we don't need that Transifex integration at all...

[2018-09-12 11:05] #2201 closed

[2018-09-12 11:07] #1361 closed

[2018-09-12 11:17] sauloperez commented on #2676
I wonder what are the implications of

are we sure that's affordable from a legal stand-point? I guess we must give users the possibility to remove their accounts? Soft-deleting and possibly anonymize them could be a solution.

However, this sounds like a big feature to implement. Can't we just rescue from this exceptions?

[2018-09-12 11:50] sauloperez commented on #2616
that's exactly it. You got it @kirstenalarsen :+1:

[2018-09-12 14:17] #2506 closed

[2018-09-12 14:39] myriamboure commented on #2616
I guess you mean @kristinalim @sauloperez ;-)

[2018-09-12 15:35] sauloperez commented on #2616
lol yes :trollface:

[2018-09-12 16:06] sauloperez opened #2688 "[Spree Upgrade] Fix reference to on_hand from products/new/replace_form.html.haml.deface"
## Description

Our customization of the new product form still relies on the `on_hand` attribute which no longer exists. This obviously causes a 500 error as follows:

[code]

## Expected Behavior
`products/new` page should render successfully without errors and allow users to specify a value for the stock level.

## Actual Behavior
The page fails to render raising the error showed above.

## Ste

[2018-09-12 16:10] sauloperez opened #2689 "[Spree Upgrade] Fix reference to on_demand from products/new/replace_form.html.haml.deface"
## Description

Our customization of the new product form still relies on the `on_demand` attribute which no longer exists. This obviously causes a 500 error as follows:

[code]

## Expected Behavior
`products/new` page should render successfully without errors.

## Actual Behavior
The page fails to render raising the error showed above.

## Steps to Reproduce

1. Go to `/admin/products`
2. Click

[2018-09-12 16:15] lin-d-hop opened #2690 "Customer order Missing from Producer Notification Emails"
## Description
A new customer made an order with a food hub this week and the order was completely missed from the email notification to the supplier.

The order was totally missed from the producers emails but was included in the packing reports.

The user did notice that the customer order appeared as such, with payment field in red, in the orders screen.
![issue123](https://user-images.githubus

[2018-09-12 16:19] lin-d-hop commented on #2690
ping @daniellemoorhead @Matt-Yorkley @luisramos0

[2018-09-12 16:28] lin-d-hop commented on #2690
The user didnt report the problem. The hub did.
Stripe debit card payment.
I can look up the details and tell you things but that's all we have at this stage. We should avoid emailing a first time customer of the hub and telling them their order caused a p2 bug and we need to re-live it.

[2018-09-12 16:32] lin-d-hop commented on #2690
@Matt-Yorkley We have an exact timestamp of 9:09am Sept10th 2018. Could you see if we can pull out some useful server logs?

[2018-09-12 16:41] lin-d-hop commented on #2690
@sauloperez Looks like they checked out as a guest. That might be significant.

[2018-09-12 17:03] sauloperez commented on #2690
Yep, that seems relevant.

[2018-09-12 17:18] luisramos0 commented on #1361
@Vadlusk 🎉

[2018-09-12 19:16] Matt-Yorkley commented on #2690
@lin-d-hop maybe this what you're looking for?

![screenshot from 2018-09-12 20-11-41](https://user-images.githubusercontent.com/9029026/45447674-2b3e0780-b6c8-11e8-8640-f1b8e2f82662.png)

![screenshot from 2018-09-12 20-14-41](https://user-images.githubusercontent.com/9029026/45447796-97b90680-b6c8-11e8-8087-504f9395eeb0.png)

[2018-09-12 19:38] Matt-Yorkley commented on #2690
![screenshot from 2018-09-12 20-37-30](https://user-images.githubusercontent.com/9029026/45448947-bbca1700-b6cb-11e8-9faf-09b1a5c1f03c.png)

[2018-09-12 19:46] Matt-Yorkley commented on #2690
It looks like those enterprises actually just don't exist, or at least they can't be found by those permalinks. Maybe they changed their permalink settings between order cycles to improve SEO or something?

[2018-09-12 19:51] Matt-Yorkley commented on #2690
Hmmm ok... the enterprises do exist, and do have those permalinks, but they have been set to `sells = none`, so the page comes back as a 404 for their /shop route...

[2018-09-12 21:09] luisramos0 opened #2693 "[Spree Upgrade] Handle references to order.shipping_method_id"
I am not sure yet, but I believe this column should be dropped.

We need to handle all references to it:
- app/services/order_factory.rb
- lib/open_food_network/order_cycle_management_report.rb
- spec/features/consumer/shopping/orders_spec.rb
- spec/models/spree/order_spec.rb
- spec/services/order_factory_spec.rb
- db/migrate/20121005015852_populate_order_default_shipping_method.rb

There are 2 mo

[2018-09-12 21:11] luisramos0 opened #2694 "[Spree Upgrade] Drop colum spree_line_items.shipping_method_name?"
I am not sure but looks like this column is dead dead. Any idea? @mkllnk @sauloperez @Matt-Yorkley

[2018-09-12 21:15] luisramos0 opened #2695 "[Spree Upgrade] Verify if/how distributors_shipping_methods.shipping_method_id is working"
We need to verify the OFN custom filtering of shipping methods per enterprise and how it adapts to the new shipping_methods structure of spree 2.

Two files to have a look at:
    - app/views/admin/enterprises/form/_shipping_methods.html.haml
     - spec/features/admin/enterprises_spec.rb

[2018-09-12 21:20] luisramos0 opened #2696 "[Spree Upgrade] Fix subscriptions.shipping_method_id (13 broken specs)"
Subscriptions and spree 2 shipping_methods will need to work together.
There's a column subscriptions.shipping_method_id that, I believe, is used to create orders in a subscription. We need to verify how this process works with the new spree 2 way of creating shipments from shipping methods.

Files referencing shipping_method_id:
          - app/serializers/api/admin/subscription_serializer.rb (th

[2018-09-12 21:39] mkllnk commented on #2676
Sorry, that was just meant as a short term solution (a week or two) until the underlying issues are solved. I'm only recommending that admins should not delete any users while this is not fixed. And yes, rescuing from the exception is the easiest fix. We should also fix the delayed job to only contain a user id instead of a user.

[2018-09-13 00:31] mkllnk commented on #2694
I just searched the code to find its purpose.

1. Spree never associated line items with shipping methods. That is something we introduced in 85f18cfb1265b3113f6048985e46c9e9c62647bc and changed in be1127b414c911d803742fa4adc846eabd2233c9 for performance reasons.
2. The OFN doesn't seem to use it.

Let's get rid of it. We can do that in master, I think.

[2018-09-13 02:09] mkllnk commented on #2655
Yes, I ran out of time, but created the pull request now.

[2018-09-13 02:29] #2518 closed

[2018-09-13 02:29] #2525 closed

[2018-09-13 03:57] kirstenalarsen commented on #2676
thanks people. Couple of short/medium term action items and apologies if these have happened already
- @mkllnk could you create issues for the rescue exemptions thing and also possibly the cache thing? (@myriamboure @daniellemoorhead what do we do with 'tech debt' wishlist items?)
- can someone bring @luisramos0 into the core sysadmins access bizzo so that he can access instances when needed - tha

[2018-09-13 05:42] mkllnk opened #2699 "Job to send confirmation emails can fail badly"
## Description

Follow up from #2676.

When a user signs up, an email with confirmation instructions is sent. That task is performed by Delayed Job. Unfortunately, if the user associated to the job gets deleted, the job can't be loaded any more. It can't even be inspected. Such a broken delayed job can cause a lot of trouble, for example in #2676 no order cycles could be created any more.

## Expe

[2018-09-13 06:09] mkllnk opened #2700 "ProductsCacheRefreshment fails on broken delayed jobs"
## Description

Follow up from #2676.

Creating a new order cycle or modifying an existing order cycle triggers the `RefreshProductsCacheJob`. Before that job is created, it scans through all other jobs to see if there is already a job with the same task. It crashes if one of the other jobs fails to load.

## Expected Behavior

Creating a new order cycle always works.

## Actual Behavior

Creating

[2018-09-13 06:10] mkllnk commented on #2676
I created the two follow up issues which replace this one. Closing.

[2018-09-13 06:10] #2676 closed

[2018-09-13 06:48] kirstenalarsen commented on #2446
Noting that #2470 is closed, and the rest of this is superceded by Mobile Ready - I am closing this issue. The only thing worth capturing is that there is still an issue with ofn logo escaping banner on mobile in uk - is this an issue with ofn or the logo itself @lin-d-hop ? any idea? Could you check and if is an ofn issue create a new specific bug for it? thanks :)

[2018-09-13 06:48] #2446 closed

[2018-09-13 08:04] kirstenalarsen opened #2702 "Mobile Ready"
## Original description of the problem this feature is solving

This feature is picking off the Big Wins for mobile and shopper UX - as outlined in this post.
https://community.openfoodnetwork.org/t/mobile-strategy-pt-1-big-wins-progress-now/1367

It includes responses to some - but far from all - the issues and suggestions raised in these threads
https://community.openfoodnetwork.org/t/customers-

[2018-09-13 08:29] sauloperez commented on #2690
taking this one then. I might need your help @Matt-Yorkley.

[2018-09-13 08:43] luisramos0 commented on #2694
Thanks @mkllnk for feedback. I'll do it.

[2018-09-13 08:54] luisramos0 commented on #2242
We are all dev done here. We are only missing the super admin guide book #2428

[2018-09-13 09:34] sauloperez commented on #2690
My findings so far :point_right: https://github.com/openfoodfoundation/openfoodnetwork/compare/master...coopdevs:fix/cannot-transition-via-restart-checkout?expand=1

It might be somehow related but I doubt these are the stack traces of that particular error in Bugsnag @Matt-Yorkley . As you can see in that branch, it is caused by an exception being raised when calling `#restart_checkout!` when the

[2018-09-13 09:36] sauloperez commented on #2690
Weird, that order shows as `payed` while the `payment` failed in that screenshot you shared @lin-d-hop :thinking:

[2018-09-13 11:26] kirstenalarsen opened #2703 "Update icon colours"
Change icons in OFN Header to orange, including Hamburger. Text stays black e.g.

![image](https://user-images.githubusercontent.com/2911176/45486267-cfde4900-b79d-11e8-91cc-7b7919329519.png)

Google slide 19 - https://docs.google.com/presentation/d/10I8-3mRjxnPUXtEk04X3UERVPEPvqPjrEdF37_1KpmE/edit#slide=id.g40ea76c80f_0_65
Zeplin: https://zpl.io/agNJxxQ

[2018-09-13 11:26] kirstenalarsen opened #2704 "Update cart icon and panel"
Change element from
![image](https://user-images.githubusercontent.com/2911176/45486376-3499a380-b79e-11e8-93b3-76a36322a5ba.png)

to
![image](https://user-images.githubusercontent.com/2911176/45486339-10d65d80-b79e-11e8-8ba8-e40308a09b1b.png)

Google slides 5 & 12

[2018-09-13 11:26] kirstenalarsen opened #2705 "Make header sticky on scroll on mobile"
The OFN Header (pic below) should be sticky on mobile and tablet, same as it is on desktop

![image](https://user-images.githubusercontent.com/2911176/45668625-d3d4e700-bb60-11e8-92a8-98fdd6129d50.png)

This issue should be considered alongside #2713 in case they need to interact

[2018-09-13 11:26] kirstenalarsen opened #2706 "[mobile ux] Restyle Empty Cart display"
## In a feature branch or master?
No feature branch required, all changes contained in this one story 🎉

## Description

As a shop
When a shopper opens their empty shopping cart on my shop
I want a way to send them to my shop tab so they start shopping

## Acceptance and Testing
**HOW IT WORKS NOW**
![Screen Shot 2020-02-07 at 3 38 59 pm](https://user-images.githubusercontent.com/10949052/74001517

[2018-09-13 11:26] kirstenalarsen opened #2707 "Update Cart with items display"
![image](https://user-images.githubusercontent.com/2911176/45721963-a5e9b400-bbed-11e8-8e50-989e0926d806.png)

Zeplin: https://zpl.io/bAEMxv8

Based on current shopping cart functionality:
* Items between OFN header and checkout + total footer scrolls
* User can tap ‘cart’ in header to close cart
* Removed explicit ‘edit cart’ button from the design - @kirsten please let me know if you think this

[2018-09-13 11:26] kirstenalarsen opened #2708 "Restyle shop header"
* White background
* Grey menu text
* Blue highlight when selected

![image](https://user-images.githubusercontent.com/2911176/46518958-ffbecf00-c8b9-11e8-9105-d1d0f233cba3.png)

![image](https://user-images.githubusercontent.com/2911176/46518972-0b11fa80-c8ba-11e8-9c10-7c9d177d8c2b.png)

![image](https://user-images.githubusercontent.com/2911176/46518854-a9519080-c8b9-11e8-8b40-a6c847eac479.png)

[2018-09-13 11:26] kirstenalarsen opened #2709 "Separate menu tabs to own page"
Shop header menu tabs currently open 'in screen' drop downs that push the content of the page down. We are changing the design so that each Shop Header menu item is its own page and will have its own link

There should be five by default
Shop
About
Producers
Contact
Groups

Note: #2710 related

[2018-09-13 11:27] kirstenalarsen opened #2710 "Groups menu tab disappears if no content"
If an Enterprise is not in any Groups the Group shop header menu just opens blank and is pointless

Default to not having this menu item appear if the Enterprise is not in any groups

[2018-09-13 11:27] kirstenalarsen opened #2711 "Restyle Order Cycle element"
mobile  https://app.zeplin.io/project/59532764a6c78ff3c534b372/screen/5ba1bcdb364ae5a211c2d0a2
![image](https://user-images.githubusercontent.com/2911176/46519319-2af5ee00-c8bb-11e8-9570-da8c92752547.png)

tablet https://app.zeplin.io/project/59532764a6c78ff3c534b372/screen/5b957e21e9050a63b3781ce6
![image](https://user-images.githubusercontent.com/2911176/46519332-3a753700-c8bb-11e8-9965-b57b23e2

[2018-09-13 11:27] kirstenalarsen opened #2712 "Shopfront search (mobile)"
Sequence of actions is best seen in slides under Iteration 4 (currently 14-21) - https://docs.google.com/presentation/d/10I8-3mRjxnPUXtEk04X3UERVPEPvqPjrEdF37_1KpmE/edit#slide=id.g41f0a2d615_0_8

![image](https://user-images.githubusercontent.com/2911176/46519930-8aed9400-c8bd-11e8-8662-2169480f67f7.png)

Zeplin design: https://zpl.io/25rBPXe
Hover / press states:  https://zpl.io/VQE63pW

Notes:
S

[2018-09-13 11:27] kirstenalarsen opened #2713 "Update Search / Filter - desktop"

[2018-09-13 11:27] kirstenalarsen opened #2714 "Check responsiveness of all elements"
Responsive grid layouts provided in slides
https://docs.google.com/presentation/d/10I8-3mRjxnPUXtEk04X3UERVPEPvqPjrEdF37_1KpmE/edit#slide=id.g40ea76c80f_0_18

![image](https://user-images.githubusercontent.com/2911176/46519285-0f8ae300-c8bb-11e8-91d4-18cb9b656140.png)

[2018-09-13 11:27] kirstenalarsen opened #2715 "Mobile Ready"
## Original description of the problem this feature is solving

Some hubs lose orders because today it is pretty hard to order on mobile.

This feature is picking off the Big Wins for mobile and shopper UX - as outlined in this post.
https://community.openfoodnetwork.org/t/mobile-strategy-pt-1-big-wins-progress-now/1367

It includes responses to some - but far from all - the issues and suggestions

[2018-09-13 11:31] #2445 closed

[2018-09-13 11:34] kirstenalarsen opened #2716 "Reformat Shop Header menu pages"
Zeplin [About](https://app.zeplin.io/project/59532764a6c78ff3c534b372/screen/5b957e1f82f24f0d3e7aa434)
![image](https://user-images.githubusercontent.com/2911176/46519593-46adc400-c8bc-11e8-9f2c-c15eb8957f68.png)

Zeplin [Producers](https://app.zeplin.io/project/59532764a6c78ff3c534b372/screen/5b957e20d374679ce5dc58b8)
![image](https://user-images.githubusercontent.com/2911176/46519611-4f05ff00-c8

[2018-09-13 11:34] kirstenalarsen opened #2717 "[Mobile Ready] Shop Header"
Epic to gather Mobile Ready issues related specifically to the Shop Header

[2018-09-13 11:36] kirstenalarsen opened #2718 "[mobile ux] Sticky footer element on Cart dropdown"
## In a feature branch or master?
View cart feature branch

## Description
**- As a:** shopper
**- On page:** main nav cart view
**- I want to be able to do:** scroll through the items in my cart while still seeing the edit cart and check out buttons

## Acceptance Criteria & Tests

- [ ] Edit cart and Checkout buttons stick to bottom of screen
- [ ] Product list scrolls when the list is longer th

[2018-09-13 11:36] kirstenalarsen opened #2719 "[mobile ux] 7. View cart in main nav"
Epic to gather the tasks related directly to the OFN Header, including the Cart

[2018-09-13 11:38] kirstenalarsen opened #2720 "[Mobile Ready] Search & Filter"
Epic to gather Mobile Ready issues related to the Search and Filter elements

[2018-09-13 13:19] sigmundpetersen commented on #2225
Any conclusion on this one @sauloperez @HugsDaniel @mkllnk ?

[2018-09-13 15:43] luisramos0 commented on #2662
Instead of writing an adapter, the best way out of this is issue is probably to fix all specs that need this method. Production code may actually not require to set shipping_method like this.

These are the currently broken specs with missing shipping_method=
- spec/features/admin/reports_spec.rb:190 and 406
- spec/controllers/spree/admin/orders/customer_details_controller_spec.rb:13
- spec/featur

[2018-09-13 18:28] kristinalim opened #2721 "Transfer I18n translations used by the JS to the "js." namespace"
Preliminary work to reduce the speed and browser memory usage when loading the website

## Description

This was discussed [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2660#discussion_r216155016).

Before transferring a translation key, make sure that there are no other parts of the website using the translation. Otherwise, keep the old translation and just add a new one under

[2018-09-13 18:28] kristinalim opened #13284 "Transfer i18n translations used by the JS to the "js." namespace"
Preliminary work to reduce the speed and browser memory usage when loading the website

## Description

This was discussed [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2660#discussion_r216155016).

Before transferring a translation key, make sure that there are no other parts of the website using the translation. Otherwise, keep the old translation and just add a new one under

[2018-09-13 18:35] kristinalim opened #2722 "Update i18n-js to load only translations under the "js." namespace"
Next step to reduce the speed and browser memory usage when loading the website

## Description

This was discussed [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2660#discussion_r216155016).

## Expected Behavior

The browser should only have to download translations that will be used by the JS. After #2721 is done, these will be those under the "js." namespace.

## Actual Beha

[2018-09-13 21:54] sineadfenton opened #2723 "No Zoom Buttons on Maps in Embedded Groups"
## Description

Users are finding it difficult to interact with the embedded groups map. Users and UK team have reported that the map should have +/- icons to zoom in and out of the map and not as current functionality dictates where  (cntrl+wheel have to be used)

## Expected Behavior

icons in the right bottom to zoom in and out with

## Actual Behavior

no icons to zoom therefore making the use

[2018-09-13 21:55] sineadfenton commented on #2723
![](https://github.trello.services/images/mini-trello-icon.png) [Can't link to producers on BDA embedded map and map is missing zoom buttons](https://trello.com/c/glOHszYd/190-cant-link-to-producers-on-bda-embedded-map-and-map-is-missing-zoom-buttons)

[2018-09-13 22:28] Matt-Yorkley commented on #2690
I'm thinking orders can't be placed with `sells = none`... Orders were placed and the setting was changed to 'none' part way through the process.

[2018-09-14 00:11] #2300 closed

[2018-09-14 00:11] #2375 closed

[2018-09-14 01:23] mkllnk opened #2724 "admins cannot create partial payments."
## Error in OpenFoodNetwork

**NameError** in **spree/admin/payments#create**
undefined local variable or method `inventory_units' for #<Spree::Payment:0x005605e91d8ea0>

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5b9b03fcb083000019e477d1?event_id=5b9b08f6002ecce7edec0000&i=gh&m=ci)

## Stacktrace

    app/models/spree/payment_decorator.rb:36 - block in line_items

[2018-09-14 01:26] #2655 closed

[2018-09-14 01:32] mkllnk commented on #2724
As mentioned in https://github.com/openfoodfoundation/openfoodnetwork/pull/2697#issuecomment-421200312, this bug prevents admins from creating partial payments.

There is no workaround, but it's also not a common use case. So I will assign s3. If we get more user complaints, we may want to treat it as s2.

[2018-09-14 04:38] #2629 closed

[2018-09-14 04:38] #2630 closed

[2018-09-14 05:07] #423 closed

[2018-09-14 05:46] #2593 closed

[2018-09-14 06:34] daniellemoorhead commented on #2723
This seems to be UK-specific - I looked on .org.au and we have zoom controls (we also have a strange error dialogue box showing up, but that's a different problem).

@RachL @sigmundpetersen @sauloperez can you check if you get the zoom controls or not?

[2018-09-14 06:36] daniellemoorhead commented on #2723
Just one other update: I get the zoom controls when I go onto .org.uk on Chrome/Mac desktop

![screen shot 2018-09-14 at 4 34 56 pm](https://user-images.githubusercontent.com/10949052/45533832-53e70e00-b83c-11e8-8004-b020fc4cac08.png)

[2018-09-14 06:39] lin-d-hop commented on #2690
@matt-yorkley that doesn't fit the experience. For one shopper every supplier they bought from was changed to sells=none mid process and then changed back again before the next shopper ordered? That's impossibly unlikely.

[2018-09-14 06:53] daniellemoorhead commented on #2676
At this present moment in time @kirstenalarsen they get labelled 'tech debt' and left with the "All the things" status. There have been a few suggestions for the devs to create and manage a tech debt project board similar to the bugs management board, but this hasn't been picked up so far.

[2018-09-14 06:57] daniellemoorhead commented on #2616
That is awesome news 🎉

[2018-09-14 06:58] #2641 closed

[2018-09-14 07:48] lin-d-hop commented on #2723
@daniellemoorhead note that this issue affects embedded groups. This is not an issue referring to the UK map. I'll make that more clear in the description :-)

[2018-09-14 08:03] sigmundpetersen commented on #2646
@kristinalim says this should already be fixed (description in #2659). I don't know which PR it was fixed in. @RachL should we close this or do you want to stage and test to confirm? We can stage master to whatever staging server to test.

[2018-09-14 08:35] sauloperez commented on #2690
I did a 20min further investigation and I didn't have time to proof my hypothesis but here it comes.

The order model updates the payment state in:

https://github.com/openfoodfoundation/spree/blob/fe0a1311abb097bf3ac8001a24246c6cff5ecdbb/core/app/models/spree/order.rb#L344

but there doesn't seem to be a way to avoid moving to `complete` state if the payment failed. See:

https://github.com/openf

[2018-09-14 09:30] #2631 closed

[2018-09-14 09:31] luisramos0 commented on #2676
imo, I think we are ok with a random process on tech debt. If you see @kristinalim tends to the ui (/pages), @sauloperez cares about rails conventions (#send), Ive been on the engines front (cookies poc), @mkllnk has been taking good care of the dependabot issues, etc, etc. We just need to be reminded if there are any major techdebt items being ignored by everyone. BUT, if you guys think something

[2018-09-14 09:40] luisramos0 commented on #2690
yes, what you are saying makes sense Pau, just by looking at the cleaness of that method finalize! without a single "if error" or raise. I think this needs to be covered with auto tests verifying error scenarios (if thats not the case already).

[2018-09-14 10:44] daniellemoorhead commented on #2723
Well then, that makes much more sense!

[2018-09-14 10:58] daniellemoorhead commented on #2676
The last thing we should do is create more process / things that aren’t needed, for sure!

There are two areas that we have to cover off -

1. We closed all “improvements” type issues and have only left bugs in GH. Even then, the inventory of open issues we have is constantly growing and will eventually need to be culled (not a job anyone enjoys). I wonder how tech debt issues get managed if they’

[2018-09-14 11:43] sauloperez commented on #2690
Definitely, that should be our next step.

[2018-09-14 11:55] luisramos0 commented on #2676
I see.

1. imo, dust is fine. This issue for example is ok: https://github.com/openfoodfoundation/openfoodnetwork/issues/287
- it's still applicable (I believe)
- we need to do it
- it's not the most important thing
- 4 years old

2. We can create tech debt epics to be managed/planned.
Apart from spree upgrade, Id list 2 more:
- epic above this: https://github.com/openfoodfoundation/openfoodnetwor

[2018-09-14 12:08] sigmundpetersen commented on #2676
Go ahead and create those 2 epics you suggest @luisramos0 I fully support that.
Dependabot I'm not sure we need because there's a max 5 PRs from dependabot, they bump into Code Review directly and we follow them quite easily. (dependabots that jump out of this like #2619 would justify an epic though).

For the deface one we HAVE to call it Defacepocalypse :D

[2018-09-14 12:11] RachL commented on #2646
@sigmundpetersen thank you for pointing that out :) I'm closing for now and will reoppened it if necessary!

[2018-09-14 12:11] #2646 closed

[2018-09-14 14:22] luisramos0 opened #2726 "[Spree Upgrade] Fix broken specs with error - undefined method `finalized?' for nil:NilClass"
This is an example of the error, it currently occurs 33 times in the 2-0-stable build.
[code]
This error is due to the order shipments not having its adjustment defined when updating order adjustments.
This is triggered from
before_save :update_payment_fees!

[2018-09-14 21:27] #2682 closed

[2018-09-14 21:27] luisramos0 commented on #2682
This is a duplicate of #2010

[2018-09-14 21:28] luisramos0 commented on #2010
we can also use this commit:
[b353d7a](https://github.com/openfoodfoundation/openfoodnetwork/pull/1651/commits/b353d7a8a5e2e7268130ee866efa6eb2f1919f85)

[2018-09-14 22:02] luisramos0 commented on #2010
@sauloperez instead of going through all the trouble of making shipping_methods deletable (#1659) why dont we keep the current functionality of just blocking the deletion of shipping_methods that have already been used? Would that not be much easier/faster? (and allow us to focus on more important matters)
Thanks!
(I will mark this issue as blocked until this question is clarified)

[2018-09-15 00:31] mkllnk commented on #2676
I find it quite satisfying to solve tech debt issues. I just have to hold myself back, otherwise nothing else would get done. ;-)

There is always the stuff that would be nice, but is not really needed. And then there is the stuff that will bite you later.

![cost of bugs curve](http://www.ambysoft.com/artwork/comparingTechniques.jpg)

[2018-09-16 10:05] luisramos0 opened #2730 "[Spree Upgrade] Replace order.shipping_method_id in basic_enterprise_serializer"
app/serializers/api/admin/basic_enterprise_serializer.rb:
    1  class Api::Admin::BasicEnterpriseSerializer < ActiveModel::Serializer
    2:   attributes ... :shipping_method_ids

[2018-09-16 10:05] luisramos0 opened #2731 "[Spree Upgrade] Replace order.shipping_method_id in enterprise_serializer"
app/serializers/api/admin/enterprise_serializer.rb:
    1  class Api::Admin::EnterpriseSerializer < ActiveModel::Serializer
    2:   attributes .. :shipping_method_ids
PR - #2680

[2018-09-16 10:05] luisramos0 opened #2732 "[Spree Upgrade] Replace order.shipping_method_id in subscription_serializer"
app/serializers/api/admin/subscription_serializer.rb:
    2    module Admin
    3      class SubscriptionSerializer < ActiveModel::Serializer
    4:       attributes  ... :shipping_method_id, :begins_at, :ends_at

[2018-09-16 10:08] luisramos0 commented on #2679
Separated this in 4 issues so each issue gets a single PR. This one is ready for code review.

[2018-09-16 15:32] luisramos0 commented on #2679
This serializer is injected into the dom as currentOrder and used in Cart and Checkout angular factories.

[2018-09-16 15:36] luisramos0 commented on #2730
This serializer is used to inject data into the dom in:

- these 2 views:
   - app/views/admin/enterprise_relationships/_data.html.haml
   - app/views/admin/enterprise_roles/_data.html.haml
- as both:
   -  "ofn.admin"."my_enterprises"
   - and "ofn.admin"."all_enterprises"

And also used to inject data into this view:
- app/overrides/spree/admin/payment_methods/_form/replace_form_fields.html.haml

[2018-09-16 16:17] luisramos0 commented on #2730
There's no order.shipping_method_id in this serializer, it's enterprise.shipping_method_ids.

All right, I have just learned some active record magic [here](https://guides.rubyonrails.org/v4.2/association_basics.html#has-many-association-reference):
"When you declare a has_many association, the declaring class automatically gains 16 methods related to the association"
One fo then is `_ids` so
In E

[2018-09-16 16:17] #2730 closed

[2018-09-16 16:43] luisramos0 commented on #2732
Closing this for now and making this part of the more generic issues #2696: "validate subscriptions in the world of spree 2 multi-shipments per order":

[2018-09-16 16:43] #2732 closed

[2018-09-17 09:38] sauloperez commented on #2010
Well, it does seem like refactoring that `#do_not_destroy_referenced_shipping_methods` to use the db schema will be much easier than implementing soft deletes. Is that what you mean?

[2018-09-17 09:50] sauloperez commented on #2676
so what, do we create and prioritize epics for the biggest tech-debt items?

[2018-09-17 10:47] luisramos0 commented on #2010
Yes, just make that do_not_destroy refuse to delete shipping_methods that are already used.
If you agree, I'll go ahead with that.

[2018-09-17 10:50] luisramos0 commented on #2676
yes, I think that's the objective @sauloperez
also, it gives more visibility/clarity over what's going on the tech debt world for non tech people.

[2018-09-17 11:07] daniellemoorhead commented on #2676
@saulopere, come volete, il mio amico, come volete 😁

![](https://cc-media-foxit.fichub.com/image/floptv/45639833-cc89-4eb1-9e0d-76e57d9262ca/mi-fai-proprio-schifo-vuoi-che-muoro.gif)

[2018-09-17 11:36] sauloperez commented on #2010
Ype, seems reasonable.

[2018-09-17 13:13] tschumilas commented on #2676
I see this discussion is happening here now (vs discourse).  Maybe I'm late to the game here and you've already solved this issue -  so then ignore this.
I tested the US order cycle (I used Locovore Farms where the problem was).  It works fine for me.  One thing to note -  both the 'ready for date'  and the 'pick up details'  MUST have content entered if the OC is to work.  This happens on the Can

[2018-09-17 13:33] sauloperez commented on #2690
Digging into the DB I might have found something relevant. When I query for the payments for that order `R413520401` I get:

[code]
Two payments with different credit cards, one sucessfull and the other at `processing` state updated half an hour later? :confused:

[2018-09-17 16:29] sauloperez commented on #2690
Ok, after digging into the most sinister details of Spree's and OFN's checkout (disgusting... we have a huge probleme here...), checking everything in the DB and the logs I found an explanation.

The user either refreshing the browser or double clicking the checkout button manage to issue two `PUT /checkout` requests, as shown in the logs below:

[code]

The attributes match, including the credit

[2018-09-17 17:06] luisramos0 commented on #2690
Great detective work @sauloperez

"At most, we should ensure the button can't be clicked twice (I believe that's the case already)"
This is not as obvious as it sounds, even with smart event handling.
Sooner or later, maybe later, we need to make sure the checkout endpoints resist multiple/inconsistent/simultaneous calls.

[2018-09-17 17:57] sauloperez commented on #2690
This is related to the order locking Spree implements in an upcoming version (I think). We've investigated a few times but it's too early to consider.

[2018-09-17 20:18] myriamboure opened #2739 "Inventories broken: changes to inventory don't save"
## Description
It's not possible anymore to update a price, stock, etc. in inventory, we get the following error message:
![df28d41ac1d20369445d7df193b0735d112a71d0_1_654x500](https://user-images.githubusercontent.com/8135376/45647736-e69add80-bac6-11e8-887e-8f4764c09a8e.png)

## Expected Behavior
Inventory work and hub manager can save changes to prices, stock, etc.

## Actual Behavior
Not workin

[2018-09-17 20:32] myriamboure commented on #2690
If it's only one case, and apparently has been like that since long time, I think as you suggest @sauloperez we shouldn't do anything. It happens to everyone when you have a bug at checkout to have troubles with double charging, or other issues. I had one even on French national railway app and was invoiced even if transaction appeared as failed... well, I reported and they paid me back. That happ

[2018-09-17 20:38] lin-d-hop commented on #2690
Great detectiving!

1) Does this explain why the order simply did not get added to the suppliers orders at all? It seems to suggest why an error popped up but we should still have seen the order in the emails. It was totally missing.

2) I'd like to keep this open until the producers order cycle closes this week. Most orders come through on the same day for any user (ie just before their order cyc

[2018-09-17 21:55] myriamboure opened #2740 "[subscriptions] bug when trying to create a subscription if no current or future OC has the schedule associated"
## Description
A hub manager has created a schedule, associated to a first OC, and has created subscriptions.
The OC has closed and the next one has not yet been set up.
Then she wants to create a new subscription > she gets an error message saying "product X is not available for the selected schedule". This is very confusing, as the user has followed the user guide, created a schedule, a first OC

[2018-09-17 21:57] myriamboure commented on #2740
@sstead @daniellemoorhead @kirstenalarsen I let you prioritize that one among other bugs reported from actual use of standing orders feature. I think it's quite annoying and really not well explained. I suggested a quick fix, not ideal but can make the deal for now. If you agree add it to dev ready. I added it to both subs and bug management project board, not sure when a feature is released, even

[2018-09-17 22:01] myriamboure commented on #2481
@Matt-Yorkley same here, this is prioritary over bulk invoice printing. Thanks!

[2018-09-17 22:30] myriamboure commented on #2428
@RachL as soon as we have done the upgrade in France and you are setting up Matomo for the French instance, can you document step by step what you do in the super admin handbook https://ofn-user-guide.gitbook.io/ofn-super-admin-guide/ with some beautifyl screenshots ? It would be good especially to give some recommendation and agree on good practices about how we set it up to have comparable data

[2018-09-17 22:33] myriamboure commented on #2242
That's awesome @luisramos0 !!! We are going to do the last issue (documenting how to use the feature as a super admin user) when we set it up for France, so we need some days before we do the upgrade and then we'll work on it :-) That's on our side now! Cheers

[2018-09-18 02:09] #2700 closed

[2018-09-18 02:16] mkllnk commented on #2690
The Ceres Fair Food code used a pessimistic lock on the cart row in the database. That means that double-clicking is processed sequentially. I think that a lock would be a very good idea. While it should be very easy (adding two lines), I'm not certain that Spree makes it that easy.

[2018-09-18 06:14] kristinalim commented on #2740
@myriamboure This is identical to #2243 which I already addressed in PR #2733. (Although the PR is not yet ready for code review - moving it as soon as I can get it to have a green Semaphore build. There has been an unrelated intermittent failure which the PR has not yet been able to get past.)

Feel free to reopen in case I misunderstood and this is not a duplicate. :slightly_smiling_face:

[2018-09-18 06:14] #2740 closed

[2018-09-18 07:07] myriamboure commented on #2740
Cool, thanks @kristinalim ! I think you are right, the other issue was about editing subs but same same for creating new ones ;-)

[2018-09-18 07:18] myriamboure commented on #2739
From @luisramos0 on Slack:

**And more details:**

lets read together :joy:
   can [:admin, :index, :read, :update, :bulk_update, :bulk_reset], VariantOverride do |vo|
     next false unless vo.hub.present? && vo.variant.andand.product.andand.supplier.present?

     hub_auth = OpenFoodNetwork::Permissions.new(user).
       variant_override_hubs.
       include? vo.hub

     producer_auth = OpenFoo

[2018-09-18 07:39] myriamboure commented on #2739
Thanks @luisramos0 for the investigation ! It seems though that we have found a bug :-)

It doesn't seem to be related to enterprise permission, let's see what Theresa found on her side, will share that discussion with her. As a hub if I can see in my inventory a product it means the producer has given me the authorization to "add to inventory", else I wouldn't be able to add the product.

On the

[2018-09-18 08:02] sauloperez commented on #2690
I want to investigate that next but I bet that we simply email `complete` orders. Doesn't make sense otherwise.

[2018-09-18 09:59] #2726 closed

[2018-09-18 11:33] #2414 closed

[2018-09-18 18:34] kristinalim commented on #2626
When I submitted this issue, I was only thinking about how this would affect application code, but it turns out this is also relevant in the decision of whether we should use `I18n.t` in specs or not. There is a discussion on this [here](https://community.openfoodnetwork.org/t/convention-decision-to-i18n-or-not-to-i18n-in-spec-assertions/1432/1).

About Task 1, @sauloperez recommended [this articl

[2018-09-18 21:10] luisramos0 opened #2743 "[Spree Upgrade][Phase 1] Fix Core Features (bugs)"
Top level epic for the spree upgrade to represent fixing any bugs found in core features.

[2018-09-18 21:12] luisramos0 opened #2744 "[Spree Upgrade] Fix ShippingMethods Create page"
Fix page /admin/shipping_methods/new

Currently broken with an error related to zone id.
It's a heavily defaced page, probably better to use the opportunity to move Spree code to OFN and create a view without deface.
Also, if the approach selected is removing deface, it's probably worth doing it in master and then adapting it to spree 2 in 2-0-stable.
Also, maybe we remove deface not just for new

[2018-09-18 22:44] luisramos0 commented on #2010
ok, the simple solution is done and working.
I really wanted to leave it with a auto test covering it but I cant make it work for some reason. Help on #2728 needed...

[2018-09-18 23:59] kirstenalarsen commented on #1255
This has been moved to project Mobile Ready as it relates to the Epic "OFN Header" and can be dealt with alongside other changes to the Cart.

Design approved cart behaviour for Closing cart:
* In mobile the back button (whether it be a swipe or a press action) should exit the user out of the shopping cart and return them to the page they came from.
* In desktop tapping outside of the cart should

[2018-09-19 00:04] kirstenalarsen commented on #1255
nb. new design for cart also includes a Close link and text

see also #2706 and #2707

![image](https://user-images.githubusercontent.com/2911176/45723166-4ee6dd80-bbf3-11e8-9ada-4decc6e37b00.png)

[2018-09-19 00:31] kirstenalarsen opened #2745 "Move 'Powered by OFN' from Header to Footer of Embedded Shopfront"
[update by Myriam]

## The need / problem
- as a hub manager embedding my shopfront / group into my own website I want my users to be able to navigate the shop / group and not be confused about the fact that they are on my website. My brand need to be clearly visible.
- as an OFN instance manager I want users who embed shops in their website to give recognition for the work done by the OFN communi

[2018-09-19 00:32] kirstenalarsen opened #2746 "Shop can choose to hide some or all Shop menu items"

[2018-09-19 00:32] kirstenalarsen opened #2747 "Shop Management"
Requests for improved customisation of Shop options, particularly with a view to simplifying views on mobile and in embedded shopfront. In first instance, prioritising requests from Village Centres project

[2018-09-19 06:14] kristinalim opened #2748 "Possibility of skipping records when filtering "Orders and Distributors" report by time"
Basic user flow when filtering the report can result to records being skipped.

It's likely this affects other reports.

## Description

When selecting a time through the picker, the user ends up with timestamps like `2018-09-17 00:00:00 +1000` (`HH:MM:SS` of `00:00:00`). The report then finds records completed between start time and time, _exclusive_ - the boundaries are not included.

Let's say

[2018-09-19 08:09] HugsDaniel commented on #2744
May I take this one ?

[2018-09-19 09:11] luisramos0 commented on #2744
Hi Hugo, yes!
You can see what Matt did here:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2675

You need to pick this
../spree/backend/app/views/spree/admin/shipping_methods
mix with this
./openfoodnetwork/app/overrides/spree/admin/shipping_methods
convert to haml
and put it here
./openfoodnetwork/app/views/admin

My only question is that I'd not put it in app/views/spree/admin as M

[2018-09-19 09:12] luisramos0 commented on #2744
You can see better as you go but it's probably better to have one PR per page: new, index and edit.
Also, as I say above, I think it's better to do this in master first.

[2018-09-19 09:43] luisramos0 commented on #2664
Closing this one as all follow up work is represented in #2685

[2018-09-19 09:43] #2664 closed

[2018-09-19 12:08] luisramos0 commented on #2678
Actually the test introduced in the commit mentioned above is already fixed by the new OrderShippingMethod concern that contains the method order.shipping_method. So, no need to change this view.
I'm using this issue to apply the good refactor into separate partials (delivery and pickup), but I'm keeping the reference to order.shipping_method.

[2018-09-19 13:28] HugsDaniel commented on #2744
Also with spree step-6a used in master there's no method `zones` for Spree::ShippingMethods, it will end up crashing

[2018-09-19 13:51] luisramos0 commented on #2744
I'd check if step-6a is very different from 2-0-4 on this view.
If it is, I'd skip building it in master, but otherwise, I'd use step-6a to do this in master.
And then in 2-0-stable we can adapt to the changes like zone.
If you do it in 2-0-stable from 2-0-4-stable you will have to merge all changes that are done in master from now to the final migration...
What's easier?

[2018-09-19 13:52] luisramos0 commented on #2744
yeah, that's true! we would have to change the route and controller. For this one, maybe easier to keep in spree/. Thanks, I was not seeing this problem.

[2018-09-19 14:12] HugsDaniel commented on #2744
@luisramos0 there's a whole bunch of I18n syntax changes and a couple of sections added, it would seem easier to use directly 2-0-4-stable views

[2018-09-19 14:33] luisramos0 commented on #2744
all right, lets do that!

[2018-09-19 15:17] luisramos0 commented on #2744
Just leaving a note here to address question from #2728

[2018-09-19 20:55] myriamboure opened #2756 "Impossible to duplicate a product with image"
This has now been reported by 2 hub users in France and seems pretty annoying.

## Description
The "duplicate product" button is not working. Click on it but nothing happens.

## Steps to Reproduce
1. Go to "product"
2. On any product, click on the icon "duplicate"

## Animated Gif/Screenshot
![capture du 2018-09-19 22-51-58](https://user-images.githubusercontent.com/8135376/45780808-a9695380-bc5e

[2018-09-20 00:13] kirstenalarsen commented on #2748
@kristinalim this is ringing a bell for me and I have a feeling that this has been picked up somewhere else before - have you / could you search github and discourse to see where it is mentioned and if there is previous discussion on whether or how to fix it?

also checking with the human font of all knowledge - @myriamboure do you know if/where previous discussion of this is?

[2018-09-20 05:59] kristinalim commented on #2748
@kirstenalarsen I had done a proper search only in Github. I did so in the forum just now too. Nothing that caught my attention talks about the same.

[2018-09-20 07:45] daniellemoorhead commented on #2676
Given what @tschumilas says above, is this no longer a problem @kirstenalarsen?

[2018-09-20 08:11] myriamboure commented on #2748
Interesting @kristinalim this is well spotted ! I would exclude option 3 as even if edge case, we can't say that if an order is made at a certain hour it's not taken into account... Or maybe if we tell it then we need to tell to set up end time at 23:59:59 BUT this is not possible, or pretty hard to do with current time setup, it works by 15 min if I change it automatically change back by 15 min p

[2018-09-20 14:46] myriamboure commented on #2756
![screenshot from 2018-09-20 12-01-22](https://user-images.githubusercontent.com/8135376/45826343-a15bf300-bcf4-11e8-9219-67a9430ea58e.png)
From @Matt-Yorkley investigation.

[2018-09-20 14:51] sauloperez opened #2758 "Show console error and failed HTTP requests in issues"
## Description

Some bugs do not provide enough context to be discussed properly and having error messages can provide great insight.

Having a screenshot of the browser console and the HTTP responses can help us a great deal.

## Expected Behavior

Ask for the browser's console error messages and the responses of the HTTP failed requests in the Github issue template.

## Context

This stems from

[2018-09-20 15:58] HugsDaniel commented on #2744
The `zone_id` error comes from the fact that there is no `zone_id` anymore in `spree_shipping_methods` table, instead we have a join table called `spree_shipping_methods_zones`.
In the form there's a field for zone_id, I'm not quite sure how to create a new record of `spree_shipping_methods_zones` instead... Nested form ? Do it in the controller ?

[2018-09-20 16:05] HugsDaniel commented on #2744
The `zone_id` error comes from the fact that there's no `zone_id` in `spree_shipping_methods`, instead there's a join table called `spree_shipping_methods_zones`. I'm not quite sure how to create a new record of `spree_shipping_methods_zones` instead... Nested form ? Do it in the controller ?

[2018-09-20 17:29] sigmundpetersen commented on #2744
Sure @luisramos0 no problem! Multiple PRs on one issue is a tricky one scrum-wise

[2018-09-20 17:51] myriamboure commented on #2756
![capture du 2018-09-20 19-50-12](https://user-images.githubusercontent.com/8135376/45836986-88603b80-bd0e-11e8-8b8c-1f8772202cf4.png)

![capture du 2018-09-20 19-50-59](https://user-images.githubusercontent.com/8135376/45836989-8c8c5900-bd0e-11e8-873a-68d08c97822a.png)

[2018-09-20 17:52] luisramos0 commented on #2744
So, after a slack talk with Hugo, we conclude there are a few things to do here now:
- fix create shipping_method page by removing all zone_id section and testing the new version in spree 2 with zones (one important detail is to verify error cases where zone is not selected)
- add new shipping_method category section from spree 2 - in spree 2 at least one category must be selected for a given ship

[2018-09-20 18:07] RachL commented on #2756
hey @myriam "chez moi ça marche". For me it works on French production. Lousy UX though as you don't see it is loading the duplicated product... but it works :) You can see I did two copy of liqueur (yes I do choose my product wisely) for the producer "producteur test OFF"

[2018-09-20 20:37] myriamboure commented on #2756
@RacheL strangely when the first user reported that I tested and it worked. Then second I retested and It didn't. With both super admin and hub manager... I will do some other test but there is definitely a bug here somewhere.

[2018-09-20 22:18] tschumilas commented on #2739
this is not a permissions issue -  I've checked that.
As a hub user (not super admin) I receive the error message as I posted at the top of this issue.
However,  as a super-admin user,  I am able to update and save inventory without problem.  So right now,  I'm doing this task for our users who can't do it for themselves.
This was not an issue 10 days ago  -  so something changed recently.

[2018-09-20 22:33] myriamboure commented on #2756
I might have found the bug:
- if I am the owner of the producer enterprise behind the product, I can duplicate a product.
- if I am not the owner, but just a manager of the producer enterprise behind the product, I can't.
Wether or not I am a super-admin, as a super admin if I'm not the owner of the producer enterprise I can't duplicate the product. So it seems an issue related to enterprise permi

[2018-09-20 22:46] myriamboure commented on #2739
Ok so there is something really stranger here... @mkllnk what version is Canada on at the moment? In France we are on v1.18. It seems I have the reverse behavior compared to @tschumilas .

I just retested so I am sure that a non super admin user can update inventory.
BUT with a super admin user:
1- the inventory is suuper long to charge, I see in one minute the number of product available to raise

[2018-09-20 23:10] luisramos0 commented on #2695
I went through the code and all looks good as far as I can see, there's nothing to change here as this is connecting enterprises with shipping_methods directly and the major change in spree 2 is really on order.shipments.
This will be tested as we fix shipping_method admin screens on #2744  and can then test the connection between shipping_methods and enterprises.
Closing this issue.

[2018-09-20 23:10] #2695 closed

[2018-09-20 23:20] luisramos0 commented on #2739
now you are seeing a 502 error, not an authorization problem... something else...

@myriamboure those reports with dev tools are really useful!!! We should get everyone to do this when they report a problem.
After you click in network you can still click on the line with the request (in this case where it says bulk_update in red), if you do that you get an extra window on the right and you will se

[2018-09-21 06:02] mkllnk commented on #2739
Canada uses commit 0312bf93dde2bb9e976ccfaae954c991d6a0852f which is between v1.18 and v1.19.

[2018-09-21 09:32] luisramos0 commented on #2739
@mkllnk the commit you point to is a change (added sleeps) in the cookies spec, it's not relevant, correct?

[2018-09-21 11:43] luisramos0 commented on #2696
Moving app/services/order_factory.rb and respective spec/services/order_factory_spec.rb from #2693 to this issue as it's related to subscriptions only.
I'll fix all other parts referencing shipping_method before getting to subscriptions.

[2018-09-21 16:40] lin-d-hop commented on #2690
Thanks Pau. This didn't appear at all this week so let's call it an outlier case.

[2018-09-21 16:40] #2690 closed

[2018-09-21 21:56] luisramos0 commented on #2684
I went through all classes relates to account_invoices to verify uses of shipping_method_id.
All looks good because this is just collecting from the admin page the shipping_method_id to use in these invoices and then using that id to create the orders/invoices.
Both accounts_and_billing_settings_controller_spec and accounts_and_billing_settings_spec are green.

**The only change that needs to be d

[2018-09-21 22:06] luisramos0 commented on #2684
The challenge of replacing
`invoice_order.update_attribute(:shipping_method_id`
is the checkout workflow callback order.create_proposed_shipments that destroys and rebuilds all order.shipments from line_items and stock locations...

I see two options:
- create a product and variant with stock location for these invoices
- bypass this workflow step as done here in [tests](https://github.com/openfoo

[2018-09-22 17:58] luisramos0 commented on #2744
I have just realized this issue is a duplicate of #2497. There's more context on this one now that we are fixing it, so I'll close #2497

[2018-09-22 18:00] luisramos0 commented on #2497
I just realized  #2744 is an exact duplicate of this issue. My mistake, didnt see the duplication. Closing this one as 2744 has now more info and context.

[2018-09-22 18:00] #2497 closed

[2018-09-22 23:09] luisramos0 commented on #2432
I am going to close this issue as the main problem in its description (the checkout workflow) is superbly fixed with the beautiful (and simple!) #2431
I have created #2683 which will handle the rest of the problem. I'll describe my understanding of what needs to be done in #2683

[2018-09-22 23:09] #2432 closed

[2018-09-23 00:14] mkllnk commented on #2739
Yes, I was just answering @myriamboure's question which version Canada is using. That is the commit that was deployed.

[2018-09-23 10:56] luisramos0 commented on #2684
ok, thanks @mkllnk

My preferred approach here would be to create a variant like "OFN Usage" and make these orders totally normal. I think that is easy to do and it will work, but I need confirmation from someone who knows this code.

[2018-09-23 11:14] luisramos0 opened #2763 "[Refactoring] Merge Spree::CheckoutController with our CheckoutController"
### Description
As mentioned [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2366#issuecomment-407663487), we are decorating Spree's CheckoutController and then extending it. This needs to be cleared up.

We should merge https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/spree/checkout_controller_decorator.rb
	and https://github.com/openfoodfoundati

[2018-09-23 11:16] luisramos0 commented on #2763
It would be good to have someone validating this issue is valid and that there's no valid reason to keep these two files separated.

[2018-09-23 19:50] lin-d-hop commented on #818
#gitcull this is a feature rather than an issue

[2018-09-23 19:50] #818 closed

[2018-09-23 20:05] lin-d-hop opened #2764 "Cannot Duplicate Order Cycle"
## Description

Occasional reports of Order Cycle duplication giving a 422 error:
The change you wanted was rejected. Maybe you tried to change something you don't have access to.
An error that is still a cat!

## Expected Behavior

When the duplicate OC button is clicked a duplicate of the OC should appear with all the variants.

## Actual Behavior

When the duplicate OC button is clicked the 422

[2018-09-24 00:02] kirstenalarsen commented on #2764
there were some changes to oc cloning recently - #2439 and #2463 - could it be related to those? @kristinalim ?

[2018-09-24 06:33] #2679 closed

[2018-09-24 06:34] #2010 closed

[2018-09-24 09:18] RachL opened #2765 "Pointer on map does not reflect changes made on address"
## Description
If you change an enterprise's address, the pointer on the map does not change position.

## Expected Behavior
The pointer should be at the correct address

## Actual Behavior
The pointer stays at previous address, although the profile of the enterprise still shows the correct address.

## Steps to Reproduce
1. Log in as an admin or an enterprise manager
2. Change the company address

[2018-09-24 10:18] #2627 closed

[2018-09-24 10:38] RachL commented on #2765
@lin-d-hop what are the steps to make it use the correct address ?

[2018-09-24 10:43] NickWeir63 commented on #2764
![image](https://user-images.githubusercontent.com/10517702/45948243-12e6ba80-bfef-11e8-9d03-f70d72b4a237.png)

[2018-09-24 13:54] sauloperez commented on #2756
I'm still not sure but we can try

[2018-09-24 14:09] #2663 closed

[2018-09-24 14:10] #2662 closed

[2018-09-24 14:12] HugsDaniel commented on #2685
@luisramos0 are you on this one ? If not I can take it

[2018-09-24 16:27] luisramos0 commented on #2685
I am not on this one because it is a tricky one :-) I don't recommend it, but you are welcome!!!

The on_demand issue (https://github.com/openfoodfoundation/openfoodnetwork/issues/2435) could be a good one for you (but it's not simple).

[2018-09-24 18:29] myriamboure commented on #2765
I can confirm @RachL and @lin-d-hop I just rested with various addresses all checked in Google Maps first, they are not picked up. Confirm the bug.

[2018-09-24 18:42] tschumilas commented on #2739
After a slack message exchange with @myriamboure  and further testing -  I am confirming the description of this problem at the outset of this issue : It's not possible anymore to update a price, stock, etc. in inventory.  So the error message (screenshot above) occurs -  on the Can instance -  when a user tries to make any overrides in inventory (eg. changes to price, changes to on-hand amount,

[2018-09-24 18:56] sineadfenton opened #2769 "Saving failed notification when saving product changes in spree - UK"
## Description

In UK production site, in spree. Click save on the product page and you see an error message when infact the request has been processed. This is not the intended flow, instead you should see a saved/complete notification.

## Expected Behavior

You should seed a "saved" notification when you click save and not 'Saving failed.Save failed due to invalid data:422'. This should only sh

[2018-09-24 18:57] sineadfenton commented on #2769
![](https://github.trello.services/images/mini-trello-icon.png) [Saving failed.Save failed due to invalid data:422](https://trello.com/c/UfiOaWiF/247-saving-failedsave-failed-due-to-invalid-data422)

[2018-09-24 18:58] sineadfenton commented on #2764
![](https://github.trello.services/images/mini-trello-icon.png) [Error when cloning order cycles](https://trello.com/c/LwZdBkPc/223-error-when-cloning-order-cycles)

[2018-09-24 18:59] sineadfenton commented on #2764
![](https://github.trello.services/images/mini-trello-icon.png) [problem creating an order cycle](https://trello.com/c/ai3A5sSr/238-problem-creating-an-order-cycle)

[2018-09-24 21:54] myriamboure commented on #2481
Just a quick reminder @Matt-Yorkley that this is more priority than moving forward on bulk invoice printing, we want to releasssse PI !!!
https://media.giphy.com/media/ZKTNelSY55g4w/giphy.gif!

[2018-09-24 21:55] mkllnk commented on #2765
@RachL What about new enterprises? Doe they work? You have some enterprises on the map already, so there is either a way to place an enterprise on the map or it used to work and got broken recently.

[2018-09-24 21:58] myriamboure commented on #2481
Can someone tell me why my gif doesn't show? Pfff, I don't get GH sometimes ;-)

![](https://media.giphy.com/media/ZKTNelSY55g4w/giphy.gif!)

[2018-09-24 22:07] myriamboure commented on #2739
Ok. So can we consider "ask an admin to do it" a satisfying workaround? I'm not sure, so I am tempted to put to S2 as from the user perspective the feature is broken and there is no workaround. Changing to S2, there is probably some investigation needed to understand why we have reverse behaviors between CAN and FR...

[2018-09-25 01:36] #2458 closed

[2018-09-25 01:57] mkllnk commented on #2520
The Spree 2 method is almost exactly the same as our override. The only difference is an update in Spree 2 which would be good to have as well: 884c0ff7b1b4ea249ce46264e82b9b5a5c611896

[2018-09-25 03:47] mkllnk commented on #2520
Removing the override breaks a few tests.
[code]

[2018-09-25 07:02] sauloperez commented on #2684
I know nothing about this code, but I do remember I wonder what was actually about and @oeoeaio knew. Not sure if he was the author.

[2018-09-25 09:36] Matt-Yorkley opened #2772 "Create a single re-usable instance of the loading spinner"
## Description

Following comments in #2692, this is a small issue to refactor our multiple instances of the loading spinner throughout the codebase into one re-usable view and CSS block using BEM.

[2018-09-25 09:42] luisramos0 commented on #2684
ok, thanks guys.
this is about invoicing user of OFN with their usage.

I am tempted to get rid of the logic "these are invoices and not normal orders" and make these normal orders in the system with product, variant and line items. The "OFN usage" product.

Anyway, I'll leave this for later as it's not blocking any other part of the upgrade.

@oeoeaio if you ever come here, please advise :-)

[2018-09-25 15:33] myriamboure opened #2773 "Impossible to load products after filtering"
## Description
As a super admin, on both UK and FR instances, it's suuuuuper slow to filter products to just display products of a certain producer for instance.
As a reminder, this has been changed as previously there was a message even worse saying "no products" while it was charging (and no indication it was charging) but the solution implemented is not working either.

## Expected Behavior
Whe

[2018-09-25 15:44] myriamboure commented on #2769
@sineadfenton I logged in today on UK production with a hub manager user to reproduce the bug and see how to move it forward. I couldn't reproduct it, I tested on both price and weight and had the correct "product saved" message. Can you please describe more precisely which user was concerned, were you logged in as super admin? What product exactly did you try changing, for which type of user, etc

[2018-09-25 15:50] RachL commented on #2773
@myriamboure wouldn't it be quicker to release a loader first and work on performance after? I mean, I don't care if loading products *after filtering* takes time, as long as I know the system is actually loading... which I don't at the moment.

By the way are you ok if I had the filtering part in the title here? Because I haven't had any issue without filtering.

[2018-09-25 16:00] myriamboure commented on #2739
I retested on UK production running V1.20.
Logged in as a USER I can update the price, tag, etc of a product in the hub inventory.
Logged in as SUPER ADMIN I can update the price, tag, etc. as well...
Ok so it needs even more investigation, apparently it doesn't seem to be connected to the user permission...

[2018-09-25 16:28] myriamboure commented on #2739
Also here is the network tab from French instance.
![capture du 2018-09-25 18-27-19](https://user-images.githubusercontent.com/8135376/46028378-b10e7980-c0f0-11e8-9b21-777dc6f7de56.png)

So if I sum up:
- no problem in UK
- problem with super admin in FR
- problem with non super admin in CAN

[2018-09-25 16:37] myriamboure commented on #2773
As you want @RachL just do it :-) For me loading time needs to be worked on first as it seems it crashes before the server manages to load all products if we look at the console and network tool... but we will see when some dev work on it what makes sense to do first. I have no objection with reversing the tasks ;-)

[2018-09-25 19:58] tschumilas commented on #2739
I will give you admin status now.   I've been using 3 hubs to test:  Garden Party Flower FArm,   Garden Party On-line,   CSA demo  (use any combo of those -  they are all not actively trading).   I was doing more testing today and found it really strange that with the same login,  I had different results.   I now THINK that one problem is that it seems that you need to click logout twice  --  so i

[2018-09-26 05:50] daniellemoorhead commented on #2772
Would this be a good first issue @Matt-Yorkley?

[2018-09-26 05:56] daniellemoorhead commented on #2481
![](https://sparklespandex.files.wordpress.com/2015/08/aziz.gif)

[2018-09-26 09:17] #2681 closed

[2018-09-26 10:37] OliverUK commented on #2769
@myriamboure
It happens when I'm logged in and try and save a change in BEP. It doesn't seem to matter what the change is.

http://recordit.co/PDpnjTo1pt

[2018-09-26 12:34] luisramos0 commented on #2744
moving this to in dev to represent reality.
@HugsDaniel you finished most things [from my comment above](https://github.com/openfoodfoundation/openfoodnetwork/issues/2744#issuecomment-423275000) but not everything I believe. correct?

[2018-09-26 13:58] RachL commented on #2230
Before our meeting with @myriamboure tomorrow here are some feedbacks from my side on what has been written here. Tomorrow once we have everything, I will clean the epic mess and generate a proper icebox. ping @kirstenalarsen

I'm fine with "end date", but just so you know I've only find "end date" in reports ;) We have also "stop" and "finish"

Let's keep that for iteration 2, lets work only on c

[2018-09-26 15:19] myriamboure commented on #2769
@OliverUK as I could do it on UK production using Nick account, it seems to happen under certain specific conditions. Your profile is regular hub owner and manager. Not super admin.
You are the owner of Global Organic Markets, in your video the product you try to upload info for, so there shouldn't be any permission bug.... Global organic markets sell the products through multiple hubs, so catalog

[2018-09-26 18:03] myriamboure commented on #2230
Interestingly @kirstenalarsen in France, rebellious people who don't want to give money to banks, I would say only around 5% of sales on OFN use online payment at time of order. 95% of payments happen at delivery time, by cash or checknotes (you know this thing that has disappeared in almost all countries? ;-)).

I agree with @RachL that what the BOM page is for is unclear, maybe the title is not

[2018-09-26 18:31] kristinalim opened #2774 "Invalid input in the "Bulk Edit Products" should not update any record"
Saving with some invalid input in the "Bulk Edit Products" page may still save changes for some (not all) valid records.

## Description

Let's say you are updating products and variants, and one of them is left invalid.

The bulk product update goes through the products and variants and attempts to save them one by one, not necessarily in the order that they appear in the UI. When it encounters t

[2018-09-26 19:50] Matt-Yorkley commented on #2772
Yes, it should be fairly simple. I'll unassign myself for now if you have someone else in mind.

[2018-09-27 00:33] mkllnk commented on #2684
I think we need to ask at least @kirstenalarsen before we can get rid of this logic. We were charging people for using OFN, but we are in the process of reviewing our business model at the moment. The UK is charging as well, I think. I just don't know what reporting they use for that. @Matt-Yorkley?

I think that the OFN should provide the reports to base invoices on. But the actual charging logic

[2018-09-27 01:46] mkllnk commented on #2739
From the screenshots I can tell that an error is raised that should be logged (in a file or Bugsnag). A developer with access to the logs can probably tell you much quicker what's going wrong here.

[2018-09-27 03:17] sstead commented on #1760
I had a look at 10 random profiles with instagram links and 3 of the 10 had put the full URL, so i suppose I can support option 1 for now, ideally option 3 one day.

[2018-09-27 04:27] #2699 closed

[2018-09-27 05:49] HugsDaniel commented on #2744
@luisramos0 I'm on the question from #2728 , still haven't found out what's wrong here. I'll keep you posted

[2018-09-27 07:52] sigmundpetersen commented on #2774
Is this an observation of the same #2764 ?

[2018-09-27 08:27] luisramos0 commented on #2739
really well spotted Maikel! the 30s on @myriamboure screenshot :-)

[2018-09-27 08:29] luisramos0 commented on #2684
I didnt mean to get rid of this part of OFN! I just meant to get rid of the specific part of the solution which makes these a special order without line items.

[2018-09-27 08:34] HugsDaniel commented on #2739
I haven't been able to reproduce the issue in dev both with super admin and hub manager profiles. So it may be a performance problem in prod indeed. @myriamboure with @mkllnk changes can you try again if it crashes ?

[2018-09-27 09:06] kristinalim commented on #2774
Thanks for pointing to that issue, @sigmundpetersen. Yes, this part is the same issue: "when reloading the page the OC has been duplicated but the OC has no variants" In that scenario, there seems to be a failure duplicating the variant associations but the OC itself was created anyway.

The 422 error in #2764 is likely caused by the same 422 error in #2769. I was already able to successfully crea

[2018-09-27 09:34] kristinalim commented on #2764
Thanks for that very useful info from the Bugsnag notification, @lin-d-hop.

I am still working on #2764 which is bug-s2, but this is most likely related. I was able to successfully set up an invalid variant through the web UI alone, which should not be possible and has big potential to mess up other code.

@lin-d-hop Do any of the variants which were not automatically copied into the new OC happe

[2018-09-27 09:42] OliverUK commented on #2769
@myriamboure I'm afraid the only thing I get in the console is that google analytics was blocked.

[2018-09-27 09:52] kristinalim opened #2776 "Able to end up with an invalid variant through web UI"
Through the web UI alone, it is possible to end up with an invalid variant. This has big potential to mess up related code.

## Description

We normally presume `variant.save` and `variant.update_attributes` would succeed if we do not make changes the record that would make it invalid. When we have an already invalid variant, even if we don't change it and then attempt to save it, it would fail.

[2018-09-27 10:06] OliverUK commented on #2769
@kristinalim I hope this isn't just confusing the issue but I've got another problem and wondered if it might be related. If I got to the inventory for Stroudco and try and filter for Producer:Wharf Farm, it doesn't come up. They also don't come up if I leave Producer unfiltered and search for their produce. This happens for me logged in as me and it happens when I log in as super admin but it see

[2018-09-27 10:14] kristinalim commented on #2739
I think this issue is related: https://github.com/openfoodfoundation/openfoodnetwork/issues/2776 ... It's likely that those variants are failing a validation check, so the changes made to other attributes also cannot be saved.

@myriamboure Could you share a screenshot of these products in the product bulk edit page, with details for the variants also visible?

[2018-09-27 10:35] luisramos0 commented on #2739
that hubsPermissions error was seen here:
https://github.com/openfoodfoundation/openfoodnetwork/issues/2502

[2018-09-27 12:11] Matt-Yorkley commented on #2739
If there are other javascript errors on the page related to something else, it could definitely cause other elements on the page to not work.

No, but it has way higher specs than it needs. It's the turbocharged hotrod of OFN instances.

[2018-09-27 12:31] #2678 closed

[2018-09-27 12:46] #2693 closed

[2018-09-28 06:12] kirstenalarsen commented on #2230
yay - just catching up on slack and see @sauloperez poking head up in delivery note which alleviates concern above :)

[2018-09-28 06:44] kristinalim commented on #2764
I was able to confirm that #2776 is related to this issue, or at least is one way to replicate this issue.

To replicate, as enterprise manager:

1. Create a new product with "Items" as unit size.
2. Go to the "Bulk Edit Products" page.
3. Add a new variant for the product. Set unit to a non-numeric value, e.g. "1 med".
4. Create an OC with the variant in a incoming exchange. (Probably same behavi

[2018-09-28 22:16] luisramos0 opened #2781 "[Spree Upgrade] Stripe Gateway Payment Method ActiveRecord config is broken"
Issue represented by this build error:
[code]

This is a problem in Spree::Gateway::StripeConnect, although it inherits from Spree::PaymentMethod,  it does NOT pick up the ActiveRecord mappings defined in OFN's PaymentMethod decorator.

This is seen in the factory stripe_payment_method when defining distributors_ids BUT this is not specific to the stripe payment method factory and this is not spec

[2018-09-29 14:04] sauloperez opened #2782 "[Spree Upgrade][PI] Make Product Import update stock items"
## Description

Product Import is now updating all `count_on_hand` columns of a bunch of variants in one shot, while in Spree v2.0 this column is moved to stock items. We need PI to reflect that, while keeping a single update statement for performance purposes.

[2018-09-29 14:17] sauloperez opened #2783 "[Spree Upgrade][PI] Make Product Import create stock items (1 broken spec)"
## Description

In Product Import spreadsheet entries map directly to product, variant and variant override records. That is, an entry can become any of these entities in our DB.

With Spree 2.0 this gets more complex and `variant.count_on_hand` becomes `variant.stock_items.first.count_on_hand`. It can't be longer assumed that `entry.attributes == variant.attributes` (or product or variant overrid

[2018-09-29 22:19] luisramos0 opened #2784 "[Spree Upgrade] Fix order_updater broken specs"
Order Updater specs broken with error related to shipments.

[code]

[2018-09-29 22:24] luisramos0 opened #2786 "[Spree Upgrade] Fix specs related to Subscriptions (pending specs)"
Subscription_mailer_spec is badly broken with 21 broken specs.
These specs were made pending but need to be fixed at some point.

spec/jobs/subscription_placement_job_spec.rb is badly broken.
These specs were made pending but need to be fixed at some point.

Moved all specs in subscription_form_spec to pending
Moved all specs in spec/features/admin/subscriptions_spec to pending
Moved all specs in

[2018-09-29 22:35] luisramos0 opened #2788 "[Spree Upgrade] Fix pending specs in Order Syncer and Proxy Order (Subscriptions)"
order_syncer_spec is broken with 9 broken specs.
These specs were made pending but need to be fixed at some point.

Move all specs in proxy_order_spec to pending (order syncer and proxy order are specific to subscriptions).

See #2789 and #2902 and #3071

[2018-09-29 22:59] luisramos0 opened #2790 "[Spree Upgrade] Fix BulkProductUpdate spec (pending specs)"
spec/features/admin/bulk_product_update_spec is badly broken with 33 broken tests out of 34.
These specs were made pending but need to be fixed at some point.

[2018-09-29 22:59] luisramos0 opened #2791 "[Spree Upgrade][PI] Fix Product Import specs (1 broken spec)"
spec/models/product_importer_spec and spec/features/admin/product_import_spec are badly broken.
These specs were made pending but need to be fixed at some point.

Move all specs in products_reset_strategy_spec to pending.

See #2796  and #2902

Status update: 36 broken specs:
- JOB 2 - 6 broken specs - products_reset_strategy_spec
   -- error: You need to save the variant to create a stock item be

[2018-09-29 23:00] luisramos0 opened #2792 "[Spree Upgrade][Reports] Fix Reports specs (13 broken specs)"
spec/features/admin/reports_spec and spec/controllers/spree/admin/reports_controller_spec are badly broken.
These specs were made pending but need to be fixed at some point.

See #2797 and #2902

[2018-09-29 23:00] luisramos0 opened #2793 "[Spree Upgrade] Fix subscription_placement_job specs (pending specs)"
spec/jobs/subscription_placement_job_spec.rb is badly broken.
These specs were made pending but need to be fixed at some point.

[2018-09-30 14:07] luisramos0 commented on #2763
This is not necessarily part of but is related to the spree upgrade checkout epic #2216

[2018-10-01 03:35] daniellemoorhead commented on #2739
![screen shot 2018-10-01 at 1 33 41 pm](https://user-images.githubusercontent.com/10949052/46268591-a6cffd80-c57e-11e8-9f48-44c62a402278.png)

Posting Theresa's update from Slack on this thread so it doesn't get lost.

@HugsDaniel @myriamboure @luisramos0 @Matt-Yorkley hoping you have access to CAN servers as @mkllnk is away this week.

[2018-10-01 09:55] myriamboure commented on #2769
@OliverUK please to avoid mixing up conversation please open a new issue for the new bug. It is likely all those bug might have a common cause, but let's keep discussion separate so that we can investigate for each one. Can you open a new issue please and then reference it here to ask if that can be related?

[2018-10-01 10:18] OliverUK opened #2799 "Producer does not appear in inventory"
## Description
If I go to the inventory for Stroudco and try and filter for Producer:Wharf Farm, it no longer comes up. They also don't come up if I leave Producer unfiltered and search for their produce. This happens for me logged in as me and it happens when I log in as super admin but it seems to work fine for Nick.

## Expected Behavior
Inventory screen loads produce for Wharf Farm

## Actual