[2018-05-25 10:32] sstead commented on #2324
Sorry @myriamboure I haven't seen product import yet so I'm not too sure that I'm the best person to comment - also can't access ofn.uk . Is what you're describing a csv template with the column headings and example values? If so I think 'CSV upload template' would be what I'd expect to see. But again, I haven't seen what you describe so I'm not sure.

[2018-05-25 11:30] sstead commented on #2325
I don't feel immersed enough in Product Import to give good advice on this one.. From looking at what you describe in #2329 it sounds user-friendly enough. It just requires that you go through the upload process twice if you need to update both Products and Inventory? If you're doing this, it looks like you already have a column in the csv indicating whether the row applies in products or inventor

[2018-05-25 12:25] myriamboure commented on #1592
For the enterprise, what will happen is that for one give email, the hub will see that:
![screenshot from 2018-05-25 14-11-09](https://user-images.githubusercontent.com/8135376/40543643-8b2fefae-6025-11e8-85ed-37cc4b8d08a6.png)
Which I agree is not so good... Can't we technically "deactivate"/"archive" the old email (so that it doesn't appear in the  cutomer list and the hub only see the account n

[2018-05-25 13:52] frank-west-iii commented on #2297
I can take a stab at that to see what that would look like in an overall change.

Are we worried about renaming routes and users getting 404s if they bookmarked the old route? It's probably not a huge problem but thought I would ask just in case.

[2018-05-25 17:38] myriamboure commented on #1667
Actually I see a case where someone would create an account (from sign-up) with an email which is not theirs (a mistake/typo maybe?). So it is another case than the one where you receive a confirmation email after having being invited as a manager. This case is covered as you say with the second email, but the one I just mentionned is not.
But we could say that also for any order confirmation emai

[2018-05-25 17:53] myriamboure commented on #2324
It's not really a csv template @sstead here is the content of that page: https://docs.google.com/document/d/1QDtKQe64enO5ZLnht9PxQ8bOlaMHCueJBMWSyW4zCng/edit# (with modifications that needs to be added, opened in another issue)
It's more a list of all the column headers you can use and the contents you can put in the cells. Under "template" I would expect a "model", but I'm not native English spea

[2018-05-25 17:59] myriamboure commented on #2329
I think we need to have a deeper UX inception session on this, and do some mockups about the different options. Having all in one file, if there are more than 10 enterprises, you will need to select for each one  by one if you upload to "product listing" or "inventory" and need to really make sure you didn't make mistakes in building the csv (with the slightly confusing distinction between "suppli

[2018-05-25 18:12] myriamboure commented on #2325
Yes basically we have two options:
- we allow to import to product listings and inventory in one single file.
Pros: you can do all in one file / one import
Cons: if you have many enterprises in that file, you need for each one of the enterprise to precise if you want to import to product list or inventory, it's pretty annoying + the csv is a bit confusing as "supplier" and "producer" have close me

[2018-05-25 18:24] myriamboure opened #2333 "Volume quantity 350mL gets transformed to 349.999999 on some products"
## Description
A producer sells a beverage that is 350mL volume. He enters 350 in "value" and select mL as unit, but the value gets transformed to 349.999999.

## Expected Behavior
It remains what is entered (350 here)

## Actual Behavior
It doesn't

## Steps to Reproduce
1.  Create a new product, select mL as unit and enter 350.
2. See in bulk edit view.

## Animated Gif/Screenshot
https://www.us

[2018-05-25 20:26] RachL commented on #2325
@myriamboure if we choose to keep only one file, I suggest that the file should have one more column, with the content "inventory" or "product". It would be quicker than clicking one by one after import. Of course there is the remaining issue of the supplier column but at least the task of choosing between inventory and product wouldn't be done twice.

[2018-05-25 22:42] luisramos0 opened #2334 "Missing translations in the frontoffice > shops list > filter by delivery (fr and pt)"
(this is the first issue I raise, please correct me if I am doing something wrong. I have searched the backlog and couldn't find this issue there)

## Description
See screenshot and "delivery" filter in live French instance

## Expected Behavior
Should be translated in appropriate language

## Actual Behavior
Delivery/Pickup is always shown

## Steps to Reproduce
go to https://www.openfoodfrance.o

[2018-05-26 01:10] luisramos0 commented on #2303
Hi Myriam, the message was never that one, right?

From git I believe the message was "If you exit this wizard at any stage, you need to click the confirmation link in the email you have received. This will take you to your admin interface where you can continue setting up your profile."

This was added Oct 1st 2015 by Maikel and then removed by Matt-Yorkley on Feb 6th 2018.
The removal was relate

[2018-05-26 05:45] myriamboure commented on #2334
Awesome @luisramos0 you got it! Good to get used to the template :-) For translations missing sometimes we shorten it a bit as it's pretty obvious, but good habit to use the template, thanks!

[2018-05-26 06:11] myriamboure commented on #2325
Very good point @RachL, good idea :-)

[2018-05-26 17:30] Matt-Yorkley commented on #1592
So it looks like the final decision is to not associate old guest orders with newly registered customers. The minor outstanding issue is that there will be duplicate entries in an enterprise's customer list for the registered and non-registered orders for the same email address.

A simple solution to that might be just to add a `guest` label in the UI next to the guest record, so it's clear to ent

[2018-05-26 17:39] Matt-Yorkley commented on #2306
The translation keys are there, is this maybe a Transifex issue?

[2018-05-26 18:17] Matt-Yorkley commented on #2325
I hadn't thought about this case before, but yes, a product being imported into inventory has to relate to an existing product in order to be saved properly. If we're trying to add the product record and add it to inventories at the same time it won't really be possible...

[2018-05-26 18:40] Matt-Yorkley commented on #2312
This is another Transifex issue, the translation doesn't contain `{%num}` anymore, but some of the translations have not been updated...

[2018-05-26 18:45] Matt-Yorkley commented on #2314
It's because the Import Date filter is set. If you change it, it will show more products.

[2018-05-26 18:48] Matt-Yorkley commented on #2315
I think for setting it from csv, the column should be called `on_demand`, and the value should be `1` for yes, and blank or `0` for no.

[2018-05-26 18:51] Matt-Yorkley commented on #2315
I'll take a look at adding an extra import option for it.

[2018-05-26 19:06] Matt-Yorkley commented on #2321
Some fields can't be updated for existing products but can be set for new products. I think it's in the original brief. Maybe that's something that needs to be clarified in the user guide.

[2018-05-26 19:30] Matt-Yorkley commented on #2325
On second thoughts, I can probably work out a solution for this.

[2018-05-26 23:03] luisramos0 commented on #1538
Hey, I had a look at this one. This is not so straight forward, at least for me :-)

Possible Tech solutions:

We could just reload the page when the country is changed so that the correct states would be reloaded but some other data may be unsaved at that point, for example, when creating the enterprise. I don't think this viable.

The data is not available on the browser: the page is loaded with

[2018-05-27 16:31] myriamboure opened #2338 "Email confirmation | Enabling hub manager to identify guest customers lines"
## Description
Following conversation https://github.com/openfoodfoundation/openfoodnetwork/issues/1592#issuecomment-392276084
The problem is that when a guest customer creates a verified accounts, they appear twice in the customer list of the shop. One entry is the recort corresponding to guest previous orders, the other corresponds to the new account.
To avoid confusion from hub manager we want

[2018-05-27 16:33] myriamboure commented on #1592
I like your idea @Matt-Yorkley ! @mkllnk @oeoeaio is that fine with you? Could be good for now to do that and we will see in the future if we need to go further. I opened a brand new issue to keep this conversation aside and avoid the mess of it, here it is: https://github.com/openfoodfoundation/openfoodnetwork/issues/2338 I assigned it to you Matt I hope it's ok, let's just wait for confirmation

[2018-05-27 16:38] myriamboure commented on #2306
Hum... @mkllnk did something in the last days, I will check with next deploy... those transifex issues are annoying, would be great to understand the core issue and try to fix it.

[2018-05-27 16:39] myriamboure commented on #2312
:+1: :point_up: @mkllnk

[2018-05-27 16:42] myriamboure commented on #2315
Yes sorry @Matt-Yorkley it works within the csv, I changed the first description line to reflect it, it's just on the import options that you can't set it up to on_demand.

[2018-05-27 16:55] myriamboure commented on #2321
Hum... I don't understand the story behind that then. For me the "risk" is the same than for setting up stock level for all products or "empty field" products in the csv. Why couldn't the user do that for tax category?
I think it's pretty confusing to have exactly the same UX but not the same resut depending on the import option. I don't think just explaining it in the user guide is a solution her

[2018-05-27 17:09] myriamboure commented on #1538
:point_up: @mkllnk @oeoeaio @Matt-Yorkley ?
I guess the solution you find might be the same for https://github.com/openfoodfoundation/openfoodnetwork/issues/2106 by the way.

[2018-05-27 17:15] myriamboure commented on #2314
Oh ok sorry @Matt-Yorkley I didn't get it ;-) See suggestion from @RachL above to create two fields  "last update & created date".
For users who don't use this import feature it's strange to have a field name "import date", so as a minimum I would rename "Last update" (considering that creation is an update somehow). I don't see right now a use case where we would need also the creation date, do y

[2018-05-27 18:07] RachL commented on #2314
@myriamboure creation date was for me usefull in order to show the last product created. But maybe these products will appear as well when the user selects last update. Which is fine by me

[2018-05-27 23:17] robotscissors commented on #2278
I would be happy to take a stab at this. May I have this issue?

[2018-05-28 01:13] sstead commented on #2324
Eep I'm not sure! Headers and Values is ok. Or 'Spreadsheet key', or 'Spreadsheet Guide', 'Spreadsheet format'. @daniellemoorhead you're good with words, what do you think is a good term to describe this doc (which outlines how to fill in your product spreadsheet before uploading it)?

[2018-05-28 01:19] luisramos0 commented on #1538
ah, nice hint @myriamboure! The address management on the consumers screen (#2106) is totally different from enterprises and checkout. It's done with angular (not rails). It's basically the "maybe easier?" solution I mention above.
So, on the consumers screen the data is already there, we only need to fix the behaviour. Should be straight forward.
On the enterprises and also checkout screens, we n

[2018-05-28 01:45] kirstenalarsen commented on #2325
my 2c, influenced by ofn over many years . . we try to accommodate too many options for too many people and end up making features too confusing for anyone to use

So I would vote to separate the processes

Most people, and certainly more basic users don’t need to understand what inventory is. This may change as inventory becomes more the way of doing things, in which case most people won’t need t

[2018-05-28 12:04] HugsDaniel commented on #1667
The instance is OFN ? Who would be the instance manager ?

[2018-05-28 12:12] myriamboure commented on #1667
@HugsDaniel the instance is "Open Food France" or "Katuma" or "OFN UK" or... there is a string somewhere in the code to call it, check in other emails I guess or ask on #dev. The instance manager is the instance main email that is already called in most registration email, etc. like "hello@openfoodnetwork.org in Australia". Is that clear? Ask on slack if you don't find those objects to call.

[2018-05-28 12:35] myriamboure opened #2339 "Open url in new tab from WYSIWYG editor"
## Description
When users click on a link from the enterprise description text or enterprise shopfront message, they are redirected to the page but in the same tab, so they quit the OFN platform and the shopfront, which is not what we want.

## Expected Behavior
The hyperlink opens in a new tab.

## Actual Behavior
The hyperlink opens in the same tab.

## Steps to Reproduce
1. On a enterprise desc

[2018-05-28 12:56] sauloperez commented on #2297
Well, I personally try to keep routes for that exact same reason but I don't see it as a big problem here either.

[2018-05-28 13:27] luisramos0 commented on #1538
As a reference, there are 3 related open issues:
- this one (#1538) for enterprises management BO
- this one (#2106) for customers management BO
- and this one (#2105) for the checkout process FO

[2018-05-28 13:38] Matt-Yorkley commented on #1538
As we need to dynamically change the form content, I'd suggest we need an Angular solution, and it might not be an easy one for complete beginners...

[2018-05-28 13:40] Matt-Yorkley commented on #1538
On the upside, we can probably come up with a single solution to close all 3 of those issues.

[2018-05-28 15:47] luisramos0 commented on #1538
Hi @Matt-Yorkley, thanks for your feedback.
I think I now understand the Injection Helder and how it injects the data into the HTML, I think I know what I need to do here. I'll start with fixing the checkout issue and to do this I can mimic the logic used in the enterprise registration process (angular controller/service that handles the select boxes).
I'll give it a try...

[2018-05-28 22:15] mkllnk commented on #2278
You are very welcome to work on this issue. :-)

[2018-05-29 04:10] mkllnk commented on #1538
Great @luisramos0. I agree it's not a simple task. But if you feel like you can solve it, even better. You are beyond the "good first issues" now. :-D :+1:

[2018-05-29 05:14] mkllnk commented on #2297
We haven't been caring about routes much. It would be a nice practice to respond with a permanent redirect for old routes when we make a change.

[2018-05-29 05:44] mkllnk commented on #1592
Yes, I had the same idea. The guest label is also useful in general. And then it's clear that they are two different identities.

[2018-05-29 07:08] mkllnk commented on #1589
Yes. @HugsDaniel Are you happy to try it out?

[2018-05-29 07:17] myriamboure commented on #1538
I invited you to the "community" team @luisramos0 so that you can assign you to issues :-) Tell me if any issue.

[2018-05-29 07:20] myriamboure commented on #2278
Welcome @robotscissors! Seems you are new here right? If you have any question feel free to ask and check [the wiki](https://github.com/openfoodfoundation/openfoodnetwork/wiki) to see a bit how we work, what we expect in PRs, etc. ;-) How did you find us btw?

[2018-05-29 07:36] #953 closed

[2018-05-29 07:37] #2308 closed

[2018-05-29 07:38] #2307 closed

[2018-05-29 12:57] robotscissors commented on #2278
I found you on codetriage.com! Thank you for the tips too.

Sent from my iPhone

[2018-05-29 13:05] myriamboure opened #2344 "Intermittent invalid certificates message on some recent Samsung phones"
## Description
Almost every week I get reports from users who tell they can't access the shop on their Samsung mobile because they get the "certificat unvalid issue".
I'm trying to get more info from users to understand why it's not working on certain Samsung mobiles... but it's pretty common, it happens every week. Users get worried when they see that, especially for hubs where they are supposed

[2018-05-29 15:51] myriamboure commented on #2314
Question @Matt-Yorkley : this "import date" button, does it capture all updates dates on products? or only if import feature is used? Do you see that filter added on the main bulk product filters? I guess yes...
So I guess it neets some functionnal modification as today this filter only take into account dates when an import is made, not when an update is made on a given product?
So my suggestion

[2018-05-29 15:53] myriamboure commented on #2325
Great, I like that. @lin-d-hop you worked on the first spec for this feature, what do you think about that?

[2018-05-29 22:27] #1832 closed

[2018-05-29 22:28] #1938 closed

[2018-05-29 23:28] #1171 closed

[2018-05-29 23:47] mkllnk commented on #1052
The connected PR has been closed. Rob wants to pick this up again once standing orders are launched. I'm moving this back to dev ready.

[2018-05-30 00:13] kirstenalarsen commented on #2344
This seems more like bug affecting immediate users than wishlist to me?

[2018-05-30 06:41] mkllnk opened #2347 "Enterprise tabs in shopfront display on two lines"
https://github.com/openfoodfoundation/openfoodnetwork/pull/2331 made the shopfront tabs display in two lines. I accidentally merged that before it was tested.
## Expected Behavior

The tabs are on one line.

![screenshot from 2018-05-30 16-39-03](https://user-images.githubusercontent.com/3524483/40703283-0236d512-6428-11e8-941d-743bb0361a03.png)

## Actual Behavior

The tabs are on two lines.

##

[2018-05-30 06:59] oeoeaio commented on #2347
I'm working on this now

[2018-05-30 22:15] Matt-Yorkley commented on #1759
I was going to try to help out @rtrunkhill with this dropdwon issue, but in UK production and my latest local version of master this page seems to be broken, so I'm not sure how to help. Maybe that's another issue!

[2018-05-30 22:31] Matt-Yorkley commented on #1759
For reference @rtrunkhill as per your quest for the missing views, this page is originally generated by the Spree gem, but we have some overrides for these views using Deface. The files in question can be found under `/app/overrides/spree/admin/product_properties/`.

[2018-05-30 22:44] myriamboure commented on #2306
I checks on French production with the last upgrade and it's all displaying well. Closing then.

[2018-05-30 22:44] #2306 closed

[2018-05-30 23:10] myriamboure commented on #2339
Duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/2301

[2018-05-30 23:10] #2339 closed

[2018-05-30 23:13] myriamboure commented on #1592
Ok so I'm closing this now that we agreed on a solution for now captured here https://github.com/openfoodfoundation/openfoodnetwork/issues/2338 :-)

[2018-05-30 23:13] #1592 closed

[2018-05-31 06:50] myriamboure commented on #1759
I think @Matt-Yorkley you are connected as an admin that's why you see what you see and the properties are not proposed to you ;-) Connect as a regular user.

[2018-05-31 14:14] Matt-Yorkley commented on #1759
I still get this:

![screenshot from 2018-05-31 15-12-55](https://user-images.githubusercontent.com/9029026/40787326-3c882992-64e5-11e8-9814-54d4b64455f1.png)

...which doesn't look right. The delete buttons are missing and the actions heading on the table is gone.

[2018-05-31 14:43] Matt-Yorkley commented on #1759
Also, whenever I try to save using the update button I get bounced out of admin to the home page. My console shows a 302 redirect happens just before going to the home page, because the browser is incorrectly being sent to `/products/product-name` (which doesn't exist) instead of `/admin/products/product-name` after saving... :frowning_face:

@myriamboure can you do a quick check to see if you get

[2018-05-31 15:55] Matt-Yorkley commented on #2257
I had a look at this today with the latest version of master and I couldn't replicate the issue...

[2018-05-31 17:15] myriamboure opened #2350 "When I want to make an enterprise invisible, I get the error system"
## Description
I got the server crash snail page when trying to set up an enterprise as "invisible"

## Steps to Reproduce
1. Connect as super admin
2. Create an enterprise
3. Then change to "invisible" and save

## Animated Gif/Screenshot
https://www.useloom.com/share/f440103fc1f04341bf6cb429c18928aa

## Context
I was trying to reproduce another but.

## Severity
S3 because the enterprise happens

[2018-05-31 17:19] myriamboure commented on #2257
I just reproduced it @Matt-Yorkley but this is a wider problem pretty annoying, look at https://www.useloom.com/share/0bef9464293a43489f94620670e8414b
and
https://www.useloom.com/share/ccf2821aacab48f2b9974ee59efbfbd3
and
https://www.useloom.com/share/f440103fc1f04341bf6cb429c18928aa
Whenever I do some action, put to invisible the enterprise, change tax situation, add a manager, I get the system e

[2018-05-31 17:28] Matt-Yorkley commented on #2257
@myriamboure so this is every time you save an enterprise?

[2018-05-31 17:39] Matt-Yorkley commented on #2257
I can't replicate this on UK production or in my dev environment (including when changing tax or switching enterprise to not visible) so I don't have much to go on in terms of fixing it.

I'd agree it's at least S2 if the snail page is popping up when saving enterprises.

[2018-05-31 22:17] Matt-Yorkley commented on #1759
I restarted my local rails server and now I can't replicate that issue either :see_no_evil: Maybe it's ok.

[2018-06-01 01:10] daniellemoorhead commented on #2257
@myriamboure is it possible to confirm this is happening for any other instance? @mkllnk are you able to help @Matt-Yorkley to reproduce this bug?

[2018-06-01 01:43] daniellemoorhead commented on #2105
@luisramos0 perhaps this is something that you could work on with assistance from @enricostano and @sauloperez and @myriamboure, in terms of designing a solution? Seems it's rather important for you to be able to get Portugal live....

[2018-06-01 01:52] daniellemoorhead commented on #2324
Agree with @kirstenalarsen and @sstead...but I also understand what you mean @myriamboure because it's not an actual template.

But what I wonder is - can we give them a template, rather than an explanation of how to create a template (which is what this feels like)?

[2018-06-01 02:42] daniellemoorhead commented on #2225
Heya @HugsDaniel this has been sitting in Dev for a couple of weeks now with now movement. Is it still in progress, or shall we move it back to Dev Ready till you're able to continue work?

#tidyingupthedeliverytrain

![cleanup](https://user-images.githubusercontent.com/10949052/40818173-31c62964-6599-11e8-9fe1-3d50e37c3ee1.gif)

[2018-06-01 02:50] daniellemoorhead commented on #2287
@sauloperez it's been a couple of weeks any update on this - are you still working on it, or should it be put back to dev ready until you're back online?

#tidyingupthedeliverytrain

![train](https://user-images.githubusercontent.com/10949052/40818336-04ef6828-659a-11e8-8a2d-aa88ed7c2cb0.gif)

[2018-06-01 06:47] myriamboure commented on #1759
I don't understand your last comment @Matt-Yorkley I can replicate the error, if I click on the small x on the property label I have the impression it is deleted but when I save it is not, it reappears... what do you mean by "maybe it is ok"?

[2018-06-01 06:58] sstead opened #2351 "When switching a product from 'on demand' to 'on hand' the new on hand value doesn't save"
## Description
When a product is taken off 'on demand' and is given an 'on hand' value, the new value entered doesn't always save correctly. Rather than saving the 'on hand' value typed in, the system can save a historic on hand number.

The only way to save both the fact that the product is off on demand, AND the new on hand number is to do it in two steps, saving after each one.

## Expected Beh

[2018-06-01 07:01] myriamboure commented on #2257
I got it! the bug doesn't happen on an existing enterprise, only on the new one I just created, as an admin! I created the enterprise with my admin account, from back office ("new enterprise button"), but when I save, and look at the enterprise list, there is no "owner" displayed. If I enter the enterprise setting menu and go to "managers" tab, strangely, there is a owner but no "manager".
![scree

[2018-06-01 07:09] myriamboure commented on #2105
I think @luisramos0  is already on it @daniellemoorhead he submited a first PR on a connected issue that needs to be merged in my understanding for him to move forward on this one, see https://github.com/openfoodfoundation/openfoodnetwork/issues/1538

[2018-06-01 07:12] myriamboure commented on #2324
Not really @daniellemoorhead actually it is both, in this page there is a "template" so examples of spreadsheets but you also need to have the possible keys you can (but don't have to) use as column headers and what values to put in it. So for me it is not a template, it's guidelines to create your spreadsheet. What about a question, like "How to build the spreadsheet?"

[2018-06-01 07:38] HugsDaniel commented on #2225
Hey ! Sorry I have a little trouble understanding what it does exactly, but I'm on it.

[2018-06-01 09:06] luisramos0 commented on #2105
Hi @daniellemoorhead, @myriamboure, actually I started with this one. PR #2341 fixes this issue. I am waiting for a code review.

[2018-06-01 10:17] Matt-Yorkley commented on #1759
Sorry, I meant the second bug I encountered yesterday where it redirected to the home page after saving. It's not doing that now.

[2018-06-01 12:08] lin-d-hop opened #2352 "Stripe: Mobile Checkout layout unusable"
When a user tries to checkout using Stripe on mobile the screen layout is such that they cannot input card details or checkout.

## Description

The layout of the checkout screen when paying by card is unusable with fields rendering on top of each other.

While a huge amount of work needs to be done on mobile in general this is a bug affecting existing users that are switching to use Stripe and lo

[2018-06-01 14:20] lin-d-hop commented on #2352
Closing. Duplicate

[2018-06-01 17:11] luisramos0 commented on #1538
Hi @myriamboure, I dont think I am able to assign myself to issues yet.

Also, this issue is not just on enterprise creation, it's also on the edit screen.

[2018-06-02 03:16] #2327 closed

[2018-06-02 05:31] sineadfenton opened #2354 "New Order in Admin Pages - Customers do not appear in customer list"
Creating new orders and adding payment details via Admin results in error page.

Edit for clarity: there are two issues here;
- **Issue One:** Snail (error) page showing when adding payments on an order created via admin due to a validation error, as the order was sometimes being set to "guest checkout" whilst being placed by an admin on behalf a registered user. This issue is addressed in PR #236

[2018-06-02 05:32] sineadfenton commented on #2354
![](https://github.trello.services/images/mini-trello-icon.png) [Exeter veg share order problems](https://trello.com/c/uk2RuIJY/183-exeter-veg-share-order-problems)

[2018-06-03 16:32] luisramos0 commented on #1538
Hi tech guys,
I have changed the country and state selectors to angular as I did for checkout and customers:
There is a difference here I need you guidance with: the angular model is not picking up the form value for country and state that come from the server (enterprise[address_attributes][country_id]), I believe I need to inject country and state in the model object Enterprise on the ng-control

[2018-06-04 07:55] #1913 closed

[2018-06-04 07:56] #2277 closed

[2018-06-04 08:42] sauloperez commented on #1538
Is https://github.com/openfoodfoundation/openfoodnetwork/pull/2341 the PR where you had this problem @luisramos0 ?

[2018-06-04 14:35] myriamboure commented on #2324
Ok I suggest we try with "how to build the spreadsheet" and see if that sounds logical, fritionless and smooth. If you disagree please shout quicky as I put that in dev ready for Matt to pick it up :-)

[2018-06-04 15:23] myriamboure opened #2356 "Add guiding message in "report" section to prevent users panicking when they see no data."
## Description
Now that we have removed default loading of data and default filtering, users can be disturbed (panicking even) when the first thing they see is "no data". When working on UX with Rachel we thought it would be good to add a little reassuring message:
![image2](https://user-images.githubusercontent.com/8135376/40926149-cc965962-681b-11e8-93f6-ebe9c001a766.jpg)

## Expected Behavior
T

[2018-06-04 16:33] RachL commented on #2356
@myriamboure I completely agree, same opinion as before :)

[2018-06-05 05:27] #2347 closed

[2018-06-05 15:48] sauloperez commented on #2287
![](https://media.giphy.com/media/l0MYBbEvqqi1kfuyA/giphy.gif)

I'm back!

[2018-06-05 16:11] luisramos0 commented on #1538
Hi @sauloperez, I didn't put the PR because it's not ready, the build is broken and the question is related to the existing code: inject_enterprise_ams.
I created a PR now:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2357

[2018-06-05 17:13] sauloperez opened #2359 "Spree 2.0: JS libs not found or not defined"
## Description

when loading the app's `/` path the libs jquery-ui, I18n and angular can't be found. As a consequence, when clicking on log in no dropdown shows up. The chrome console reports the following errors:

[code]

## Expected Behavior
When clicking on log in a dropdown should appear.

## Actual Behavior
No dropdown appears.

## Possible Fix

The error related to jquery has to do with the

[2018-06-06 02:19] #2212 closed

[2018-06-06 09:07] mkllnk commented on #2240
I'm doing a real world test to see which cookies are actually set. I start Firefox with a new empty profile:
[code]
The default already visits a Mozilla page and Google which set cookies. So I delete them before the test.

- Visit https://openfoodnetwork.org.au/
  ![screenshot from 2018-06-06 18-43-21](https://user-images.githubusercontent.com/3524483/41027134-9547f46c-69b9-11e8-849f-9123f8593b8b.

[2018-06-06 10:52] HugsDaniel commented on #1589
@myriamboure I'm going full time on Spree upgrade with @sauloperez as discussed today, so I'll leave this one for now. Maybe someone else would like to tackle it ? @mkllnk ?

[2018-06-06 19:34] myriamboure commented on #1589
Ok, cool that you focus on Spree upgrade ;-) @Matt-Yorkley or @mkllnk can one of you assign yourself on it? We ony have 3 left issues to finish email confirm!!! The 2 others are on Matt so far.

[2018-06-07 05:49] myriamboure commented on #2240
Awesome @mkllnk !

Ok so if I sum up, we have:
- Two cookies that are essential to delivering the service: the session cookie and the open street map cookie. I understand the session cookie manage cart things. But why is the open street map cookie activated? So that we can explain why it is impossible to deactivate it (if it is).
- One is activated only if the user click on "remember me" > can a u

[2018-06-07 07:05] oeoeaio commented on #2240
I can't think of anything that would add any additional cookies.

The stripe elements script is loaded in the darkswarm layout. This is based on their recommendation to include their script on all pages on the site as it helps them to detect fraudulent transactions. I guess they build a picture of which of our pages usually interact with their API and then flag anything unusual. So it is my unders

[2018-06-07 07:18] sauloperez commented on #1589
but that can be solved by changing things from the rails console or DB directly in production. If it rarely happens I'm not sure it's worth separating these properties.

[2018-06-07 14:58] Matt-Yorkley commented on #1589
I think this issue might also benefit from moving away from spree/deface and recreating our own fully custom view for this admin user edit page.

[2018-06-07 22:06] myriamboure commented on #2240
@oeoeaio the aim is not to minimise the quantity of cookies but to:
- inform users if they are tracked through cookies and for what purpose so that they know what their data are used for
- and for each one which is not strictly necessary for the delivery of the service, we legally have to let the user choose if they accept that tracker or not (google analytics for instance, stripe could be as well

[2018-06-07 23:48] sstead commented on #2356
I think this would be nice to have if it's an easy job, I can imagine users getting confused.

[2018-06-08 00:58] mkllnk commented on #2240
I compiled a task list for all my findings. Doing all these tasks would be ideal, but it's also a lot of work. So I would suggest to prioritise and then start at the top of the list until we feel that the result is satisfying and we don't want to spend more time on it.

### Session

A session cookie is required for all shopping functionality, but we don't really need it just to view the homepage.

[2018-06-08 01:41] sstead opened #2362 "In OC interface the 'Clear All' button (to clear OC search terms or filters) does nothing"
## Description
There's a button the OC interface which does nothing- this isn't good for users- can confuse them.

## Expected Behavior
If I'm searching or filtering in the OC interface and i click 'clear all' then my search terms and filters should be removed.

## Actual Behavior
Nothing happens when you click 'clear all'

## Steps to Reproduce
1. Login with an enterprise which has OCs
2. Search

[2018-06-08 04:29] daniellemoorhead commented on #2324
You could also use "spreadsheet guidelines" (less words), but what you've proposed is perfectly fine @myriamboure 😄

[2018-06-08 04:35] daniellemoorhead commented on #2105
Well that's exciting news 😄

![asyouwere](https://user-images.githubusercontent.com/10949052/41139072-c63fb5ee-6b28-11e8-9299-93826ad712cb.gif)

[2018-06-08 08:03] myriamboure commented on #2324
@Matt-Yorkley if the question looks long feel free to switch to "spreadsheet guidelines" then, I can't visualize if the question is too long and make the button weird...

[2018-06-08 08:13] myriamboure opened #2365 "Product import: rename "import date" by "last update" and make sure good records show"
## Description
One thing I didn't anticipate when we merge first bit of product import is that a new filter has been added to product/inventory list called "import date". It is already merged so we need to fix it asap to avoid people confusion. My proposal is to rename this filter "last update" (as suggested in https://github.com/openfoodfoundation/openfoodnetwork/issues/2314#issuecomment-39282877

[2018-06-08 08:17] myriamboure commented on #2365
@Matt-Yorkley @oeoeaio what do you think is the best option?
Just hide it for non-super admin users for now, or rename and fix behavior to "last update" instead of "import date"?

[2018-06-08 08:27] myriamboure commented on #2314
For now proposal is to hide the button: https://github.com/openfoodfoundation/openfoodnetwork/issues/2365 until we know what to do otherwise it will be visible in production.

[2018-06-08 08:28] myriamboure commented on #1433
@Matt-Yorkley I think you already covered that in first PR merged. We need to adjust it (see https://github.com/openfoodfoundation/openfoodnetwork/issues/2365) but we can close this as it has been done. UX needs to be reviewed as it causes pretty annoying issues :-(

[2018-06-08 08:28] #1433 closed

[2018-06-08 08:29] myriamboure commented on #1432
@Matt-Yorkley I think you already covered that in first PR merged. We need to adjust it (see https://github.com/openfoodfoundation/openfoodnetwork/issues/2365) but we can close this as it has been done. UX needs to be reviewed as it causes pretty annoying issues :-(

[2018-06-08 08:29] #1432 closed

[2018-06-08 10:17] HugsDaniel commented on #2225
So I compared `openfoodfoundation/better_spree_paypal_express@spree-upgrade-intermediate` with `spree-contrib/better_spree_paypal_express@master`.

It appears that a lot of commits fix issues from `spree-contrib` and update dependencies (`paypal-sdk-merchant`, `spree_core`...).
Most of the commits though just add customizations to `spree-contrib/better_spree_paypal_express`, such as password type,

[2018-06-08 10:29] RachL commented on #2314
@myriamboure In real life you won't do a manual product creation as the same time as an import. Then, the last products visible on the page will only be imported products if you do an import. So they are on top, which I think is clear enough. But maybe I did not understand what you've meant and then let's talk yes :)

[2018-06-08 11:33] sauloperez commented on #2225
So, looks like it's become a gem of our own and will ever hardly go back to the one from spree_contrib. Am I right? If so, I would just fork and publish it as a regular ruby gem of our own and apply the same best practices we agreed on in the [upgrade catch-up](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Team-catch-ups--%F0%9F%92%AC#notes--agreement) (CI, code review, etc.).

What a

[2018-06-08 17:12] #2278 closed

[2018-06-08 17:16] frank-west-iii commented on #2351
This is actually a bug in our fork of Spree here:

https://github.com/openfoodfoundation/spree/blob/step-6a/core/app/models/spree/variant.rb#L61

I'll open up a PR for it over there.

[2018-06-08 17:50] Matt-Yorkley commented on #2354
This should just need a quick modification to the changes in #2073, but I'll add some tests as well for this ordering via Admin case, which obviously isn't covered already in the specs.

[2018-06-09 01:44] Matt-Yorkley commented on #2354
There's lots to unpack in this issue.

Firstly it looks like the customer search dropdown only shows details for existing customers of your enterprise and not all registered users. I think this is probably correct (especially in light of the GDPR rules), you can't look up email or delivery addresses of customers from other people's enterprises. It seems to be working and correctly retrieving custo

[2018-06-09 09:57] sineadfenton commented on #2354
So with the customer search dropdown seems a bit temperamental and I wonder if its something to do with how many customers there are - Just done another test and some observations below:

When I try for my enterprise Audacious Veg which has one customer, I can search for that one customer - AV1 and AV2.

When I try with the OFN UK Demo shop, I can't search anyone on that list - I've tried both cus

[2018-06-09 11:06] Matt-Yorkley commented on #2354
Very strange, I'll do some more investigating...

[2018-06-09 12:00] Matt-Yorkley commented on #2354
I've found another issue whilst investigating this on UK production, the orders page in admin often gives me the snail if I deselect "show only completed orders". It looks like one of the spree-core views is expecting a completed date, but our incomplete orders don't always have them?

![screenshot from 2018-06-09 12-50-18](https://user-images.githubusercontent.com/9029026/41191274-ed3432da-6be4-1

[2018-06-09 12:51] Matt-Yorkley commented on #2354
The customer search works in my dev environment with latest `master`, but not at all on UK production. There's nothing in the logs that indicates any errors, and the request is apparently completing successfully each time, but returning no results.

It might be nicer to create a new issue for the customer search so we don't get too tangled up, and maybe check this on other instances to see if it's

[2018-06-09 12:57] lin-d-hop commented on #2354
Updated this issue to reflect the actual problem.
@myriamboure @sstead Can users with enterprises that have large customer bases see their customers in the drop down list of customers when attempting to add a New Order from the Admin->Orders screen?

[2018-06-09 13:12] Matt-Yorkley commented on #2354
I tried it with the old Dean Forest enterprise (~7 customers) on UK production and the result was the same. Individually tried each email in the list, and got no results. I manually checked the DB to make sure the customer records were all present and correct (they were). Checked the git history on all the files related to the customer search, and none have been changed in the last year. The odd t

[2018-06-09 14:10] lin-d-hop commented on #2354
@Matt-Yorkley Is your dev env a prod dump?

[2018-06-09 15:14] Matt-Yorkley commented on #2354
I think it's a pretty old prod dump. Some of the old unused enterprises are the same in my dev DB as the UK prod DB though.

[2018-06-11 15:58] sauloperez commented on #2365
I'll take a look

[2018-06-11 17:52] myriamboure commented on #2240
@mkllnk thank you for that detail answer!

Here is a first draft of what could be our cookie policy based on all the foundings here, and some decisions I propose to the community be legally compliant and do as less as possible as a first step: https://docs.google.com/document/d/1jujU9CV4gJEo70rJ5x2W8zDYjp0Opz3TGTAMyZMLl9w/edit?usp=sharing
(needs some rewritting, really first draft)

Answers to you

[2018-06-12 06:51] myriamboure commented on #2354
I got it @lin-d-hop @Matt-Yorkley !!!
It has nothing to do with the number of customers in my opinion.
I tried to connect as a manager of "hub demo open food france" shop, I add a new order from admin for the user "fredprofile", his user entry appear when I start typing his name in the dropdown menu.
Then I logout and login again as a Open Food France admin, I try to do the same, no record is show

[2018-06-12 09:40] HugsDaniel commented on #2225
@sauloperez do you want it published as a gem ? Wouldn't it be more consistent to try to get rid of the fork as we do with Spree ?

`spree-contrib/better_spree_paypal_express` uses `spree_core v2.0.3` btw, seems pretty close to what we want to achieve.

[2018-06-12 10:12] sauloperez commented on #2225
That's what I dream of but, is it feasible?

We're using 2.0.4 so it shouldn't be a problem, so the question is what to do with our patches.

[2018-06-12 10:21] HugsDaniel commented on #2225
Maybe submit them to spree-contrib ? How quick do you think they can merge them, is they're willing to do it ? We could use our fork as a gem until they do, and they switch to spree-contrib's.

[2018-06-12 11:43] oeoeaio commented on #2365
@sauloperez we have just picked up a separate issue with this filter in Australia, which causes some products to be inexplicably hidden from the list. Perhaps it is better to just disable the filter completely for now?

[2018-06-12 12:34] Matt-Yorkley commented on #2354
Ah, interesting! I was tested as an enterprise user, and as a superadmin, but the superadmin user was also the owner of the test enterprise. So a superadmin without explicit permission can't see customer details...

[2018-06-12 14:41] myriamboure commented on #2132
@sauloperez is this still an issue or did the work we did on disabling guest orders for users had an impact on it? Luis could work on that if you think the problem is still there.

[2018-06-12 14:50] myriamboure commented on #502
When thinking again about it, I think the problem is a bit more complex and the solution not so straightforward, as the hub may have stored some of the producer products and still want them to be sold in its OC. The problem with the way inventories work is that even if you use info from shop inventory you still need to stock the products from the producer... my proposal, as it's not such a big iss

[2018-06-12 14:53] sauloperez commented on #2132
Let me check when is the last time we saw this.

[2018-06-12 15:05] sauloperez commented on #2225
yes, we should

We need to check their activity in the repo to tell

If they are willing to accept the PR I wouldn't reach for a gem. I would reach for that just if they don't accept any more PRs or release new versions.

[2018-06-12 15:07] myriamboure commented on #2140
I added a mockup to precise how this would look like, @sstead tell me if that's how you see it as well. If yes maybe we can ask Luis to work on it he is doing more complex things, unless Rob is one with subscriptions and want to do it of course :-)

[2018-06-12 15:16] myriamboure commented on #2271
So what is the status for this bug @sauloperez @frank-west-iii do we move it forward? Leave with it and close? Or do something?

[2018-06-12 16:17] sauloperez commented on #2365
You mean my fix causes products to disappear from the list? I'm not sure I understood you.

Would removing the filter affect the testing of product import @myriamboure?

[2018-06-12 18:34] frank-west-iii commented on #2271
We could at least fix the error so it does not occur again.

The user will still not see any updates to their page when they click an action like "Show 30 more days". It will just fail silently for them. The user might then refresh their browser or take an action that will require them to log in again and the page will work again for them until they time out their session again 😄

The UX for it is

[2018-06-12 20:07] myriamboure commented on #2365
Hum... yes it will I guess... what is the separate issue you are talking about @oeoeaio ? Maybe we can have the filter set up to "nothing" by default to avoid any other bad impact? Else we don't want to block release, and as we need to review the UX around that button I guess we can leave with disabling it for now, and rework on UX and we'll make sure those things are done at the last moment just

[2018-06-13 01:14] oeoeaio opened #2372 "Some products not visible because of import date filter"
## Description

An Australian user noticed that some of their products were no longer visible in the bulk product edit interface. I did some investigating and found that the issue was caused by the addition of [this filter expression](https://github.com/openfoodfoundation/openfoodnetwork/commit/e362c2d8679219ad498e57369d1fd773c95b59ce#diff-acbfa509f78bd58e62ea0733f1075a32R11), which was merged wit

[2018-06-13 01:19] oeoeaio commented on #2365
@sauloperez no nothing to do with you. Sorry, I didn't even see your PR.

@myriamboure this issue: #2372
I am not exactly sure what is causing it, but as I say in the issue, I think the filter itself is possibly malformed. Based on my basic testing, rewriting the filter expression so that it is like all of the others seems to fix the issue.

[2018-06-13 01:31] oeoeaio commented on #2365
Ignore me, I have fixed #2372 in #2373, so no need to worry about it here.

[2018-06-13 04:41] sstead commented on #502
I agree that this is not a priority bug @myriamboure and by the time it does get prioritised much of the logic will have changed. So I'm happy that it's closed.

[2018-06-13 04:41] #502 closed

[2018-06-13 13:36] myriamboure commented on #2240
I'm wondering if we won't miss one cookie here @mkllnk as when a shopfront is embedded in an external website, if I have a tracker blocker on that website I can't see the content of the shopfront (appears as everlasting loading) when I "trust site" and allow trackers then the shopfront load normally. Is it us putting some cookie on users computer when they use a website which has embedded a shopfr

[2018-06-13 15:20] myriamboure commented on #2309
Yes, this one seems fixed now so closing.

[2018-06-13 15:20] #2309 closed

[2018-06-13 15:46] myriamboure commented on #2240
We also need a story to enabe instances to enable/disable cookie banner. (note to self)

[2018-06-13 16:38] myriamboure commented on #2242
Ok so given the work done by @mkllnk on https://github.com/openfoodfoundation/openfoodnetwork/issues/2240 on the tech inception side, I am about to open all the stories, but before I want to make sure we all agree on UX inception side, how it's gonna look for users and what will be the flow.

**Here is the proposed UX:** (only 5 slildes!)
https://docs.google.com/presentation/d/1uMWiW6lQhqexAe_uFmj

[2018-06-13 22:01] myriamboure opened #2374 "Missing translation in "payment step" in new order from admin"
## Description
"back to payment list" button is not translated in https://www.openfoodfrance.org/admin/orders/R030367412/payments/new page
![paymet](https://user-images.githubusercontent.com/8135376/41380632-e59f7032-6f65-11e8-88bd-84f7fe33cafd.png)

## Steps to Reproduce
1. From back office, orders, click on "new order"
2. Follow the steps till you arrive at "payment step" and see button not tran

[2018-06-13 22:20] myriamboure opened #2375 "Translation missing in order cancellation email"
## Description
When hub manager cancels an order, an automatic email is sent to the customer. This email is not translated today.
![screenshot from 2018-06-14 00-17-57](https://user-images.githubusercontent.com/8135376/41381540-972a0cf2-6f68-11e8-8ed9-efbfa7070e86.png)

## Steps to Reproduce
1. Go to order, cancel an order you have made, and see the email you receive

## Context
We were doing some

[2018-06-14 00:47] mkllnk commented on #2240
Good point, Myriam. I just checked the code and we are not setting a cookie for embedded shop fronts. It is a different security measure of your browser to block all frames of untrusted sites.

[2018-06-14 01:05] mkllnk commented on #2242
@myriamboure That looks really good. Thank you. Just a note on page three. You reference a Privacy Policy. We don't have one. :-( Last Aussie talk about it: https://github.com/openfoodfoundation/ofnaus-issues/issues/2

And about the story list: I would include story 2 in story 4. It's not a big thing and doesn't make sense on its own.

[2018-06-14 04:49] mkllnk opened #2376 "Using Paypal redirects to the wrong URL"
Paypal checkouts are broken, because they redirect to the wrong URL.

## Description

When you go to the checkout and try to pay via Paypal, it redirects you to an invalid URL and you just see an error message in your browser. This bug got introduced by fc2cc09ea5e6c123243dac27b0f5dff601ac518b.

## Expected Behavior

A Paypal form should appear.

## Actual Behavior

Error screen: "Server not found

[2018-06-14 05:42] myriamboure commented on #2240
Ok so I'm closing this for now as we can consider this spike as done, let's switch to the epic now :-)

[2018-06-14 05:42] #2240 closed

[2018-06-14 05:44] myriamboure commented on #2242
Yes @mkllnk I know we don't have yet a privacy policy but UK has and we are writting one in France so we will want to link it also, but I will open a separate issue for that, it's not in the scope of the cookie policy but very connected as the cookie policy is part of privacy policy so I guess I'll put that story in the epic as well.
I'll update the stories with your feedback.

[2018-06-14 05:53] myriamboure commented on #2242
@mkllnk yes privacy policy is separate but connected as cookie policy is kind of part of privacy policy, so I propose to add a separate story in the scope of the epic to have something consistent (UK has writte their privacy policy, we are writing our in France, and I guess even if not forced other instances might do it volunteerly as Aus has started to discuss). I also added that the cookie page

[2018-06-15 00:16] #2376 closed

[2018-06-15 02:20] sstead commented on #1675
Hey @sauloperez just checking in, is this still blocked by spree? Do you know any more details? Thanks!

[2018-06-15 03:03] daniellemoorhead commented on #946
Hey @sigmundpetersen I moved this back to "all the things" because we don't put epics into the zenhub delivery pipe. They're tracked on the feature backlog here: https://github.com/openfoodfoundation/openfoodnetwork/projects/19

[2018-06-15 04:20] mkllnk commented on #2279
We could embed the guide at https://openfoodnetwork.org/user-guide/, but that would slow it down (our server would need to become a proxy for Gitbook). Technically, it's much better to have it at https://guide.openfoodnetwork.org/ and install proper redirects. That's what I've done now. We can add more redirects in the Wordpress admin panel to help people find the right pages.

[2018-06-15 06:53] #2372 closed

[2018-06-15 07:26] sstead opened #2382 "Embedded shops aren't working when you go to checkout"
## Description
I'm able to embed my shop into my own website. However, when i try to place an order in the embedded shop I can't get to the 'edit my cart' or 'checkout' pages.

## Expected Behavior
I should be able to checkout in the embedded shop

## Actual Behavior
I see a blank screen when i try to checkout in an embedded shop.

## Steps to Reproduce
1. Go to an embedded shop. here's an example

[2018-06-15 07:30] kirstenalarsen commented on #2382
@myriamboure @Matt-Yorkley @sauloperez we found this when I was again turning my head to what / how bad is the embedded shop mobile situation (i.e. could it be quick fix or we actually need major direction change) . . which is what happened last time I tried to do this e.g. it's not working on mobile because it's not working on desktop! It looks like Black Mountain only closed 2 days ago so surely

[2018-06-15 07:57] sigmundpetersen commented on #946
Roger that! 👍

[2018-06-15 08:08] myriamboure commented on #2382
Hum... we have a user who has embedded the shopfront but didn't report any bug either... do you use v1.15.2 in Aus? Or the last master?

[2018-06-15 08:10] kirstenalarsen commented on #2382
apparently we upgrade to latest master a couple of times a week so i’d say latest master

[2018-06-15 08:13] myriamboure commented on #2382
So maybe that appeared with something we merged recentely... no idea what it can be, we cannot test embed shopfronts every time we test something...

[2018-06-15 11:42] kirstenalarsen commented on #2382
maybe we need some more automated testing on embedded shopfronts? or if it’s a known sensitivity point it’s not a bad idea to just check it once a week or so or before a release?

[2018-06-15 12:40] luisramos0 commented on #436
Hi, I cant replicate, I guess I need (a lot) more products in the db.
@myriamboure can you share a product list that I can import into my local db?
Thanks.

[2018-06-15 12:49] sigmundpetersen commented on #1675
Hey @daniellemoorhead didn't we agree on removing those country labels? 😇
https://community.openfoodnetwork.org/t/how-we-manage-things-in-github-labels/1097

[2018-06-15 15:14] frank-west-iii commented on #436
This one may be a tough one to solve. The problem lies within the asynchronous nature of how we load this page. It does not have anything to do necessarily with how many products a single producer has, but rather how many products from other producers are loaded before theirs are loaded onto the page.

When we first open the page we flag the page as loading. Then we fire off the process to fetch d

[2018-06-15 15:44] frank-west-iii commented on #2132
@sauloperez and @myriamboure, this is the same error here: https://github.com/openfoodfoundation/openfoodnetwork/issues/2271

This would be "solved" by the PR on that issue.

[2018-06-15 15:53] frank-west-iii commented on #1948
@sauloperez, was this possibly fixed here: https://github.com/openfoodfoundation/openfoodnetwork/commit/18f7ec992d3be5ba4e16837473021c4867a870f7#diff-623e49508fae6bfca49330824ca9c39eL3

The `.all` is no longer present.

[2018-06-15 16:00] sauloperez commented on #1948
Very likely. Would you mind checking it if you happen to have your dev machine at hand?

[2018-06-15 16:07] frank-west-iii commented on #1948
Checking...

[2018-06-15 16:46] luisramos0 commented on #2301
Hi, I have fixed this for the "about us" in enterprises admin.
The default is now "open in new window". The toggle "open in new window" that you see when you click a link on the text area is still working and can be used to make the links open in the same window.

Do we want to have this behaviour in all text areas?
These are the ones I see:
- product description (add and replace)
- enterprise gro

[2018-06-15 16:47] luisramos0 commented on #2301
btw, solution found here: https://github.com/textAngular/textAngular/issues/496

[2018-06-15 20:54] Matt-Yorkley commented on #2382
I havn't had any reports recently, but I'm not sure when we deployed the last changes with embedded shopfronts. I'm looking into it now...

[2018-06-15 21:02] lin-d-hop commented on #2382
Uk has had intermittent reports of this. Maybe 3 reports since last deploy. But for each user it was consistent. So likely a specific browser/os/version? Uk is on 1.15.2

[2018-06-16 13:31] Matt-Yorkley commented on #2320
The date format should be `YYYY-MM-DD`, so `2018-05-31` should work. I'll add some notes to the guide.

[2018-06-17 15:46] luisramos0 commented on #436
ok, so the bug is that the code loads the first data page from the server and shows it synchronously and then goes to load the rest of the data pages asynchronously. the problem is that if the filters exclude all the results fetched on the first data page, it will show "no products" while it's fetching the rest of the pages. when the other pages load, it will replace the "no products" message with

[2018-06-17 23:15] luisramos0 commented on #436
Note: there's some fun "coffee script versus promises" in the commit, if anyone is interested.

[2018-06-17 23:47] luisramos0 commented on #2333
A classic Javascript problem. Javascript math is broken, because in javascript 0.1 + 0.2 != 0.3
I put a simple quickfix to the problem. I think it's ok for what it is (maybe I should extract method and explain the trick in a comment). Other more clean and more robust solutions to the problem are possible.

[2018-06-18 04:51] #2356 closed

[2018-06-18 06:30] myriamboure commented on #436
Cool @luisramos0 great you found a solution and thank you @frank-west-iii for your tips ;-) I'm not tech myself so will let devs see if that sounds all good ! Cheers

[2018-06-18 06:40] myriamboure commented on #2320
I just retested @Matt-Yorkley with the good date format and it is still not working:
Imported:
![screenshot from 2018-06-18 08-35-54](https://user-images.githubusercontent.com/8135376/41521493-a63e7e5e-72d2-11e8-92a3-88c16408177d.png)
Result:
![screenshot from 2018-06-18 08-36-34](https://user-images.githubusercontent.com/8135376/41521508-b9af7e7a-72d2-11e8-8b2b-9aaf30787457.png)
Note: I was not i

[2018-06-18 06:44] myriamboure commented on #2210
Ok so it seems that epic is now done as al the three issues in it have been done! @daniellemoorhead in our processes are we supposed now to have the last master staged to retest the whole feature and review if the original problem have been solved before we can consider the feature as done? Or as long as all the issues in the epic are done we just consider it as done?

[2018-06-18 07:01] myriamboure commented on #2352
@luisramos0 about the message "payment will be taken" this is something added in the payment method set up as a "description". If you didn't add a comment when setting up the method it's normal you don't see it, but if you did you should see it here, please test the message is displayed if you set up a message to display ;-)
![screenshot from 2018-06-18 09-00-18](https://user-images.githubusercont

[2018-06-18 07:14] myriamboure commented on #2301
I think personnaly external links should open in another tab for all the sections you mention @luisramos0 . @sstead if you have any objection let us know but I'm pretty confident you would agree with that ;-) Thanks Luis!

[2018-06-18 07:18] myriamboure commented on #2132
This is a bit too tech to me I let @sauloperez answer that question ;-)

[2018-06-18 07:28] myriamboure commented on #1675
Sorry to be picky but this is not a bug, this is a new feature to be built, so this issue should be closed for now until we decide to prioritize (maybe tomorrow :-)) and then incepted properly together before we open all the stories needed. So I added that to https://community.openfoodnetwork.org/t/make-invoicing-operations-smooth-and-easy-for-hub-managers-and-customers/1200 and I'm closing this f

[2018-06-18 12:36] Matt-Yorkley commented on #2320
Ah, I think it will work on new products but not existing ones. So this and a few of the other remaining issues all fall under the same category, and basically require a single fix, but we might need to have a broader discussion about it and do some more inception on it. Maybe we should move this to Discourse?

The issue is this: when creating products, some fields get saved within individual vari

[2018-06-18 12:51] frank-west-iii commented on #436
@luisramos0 and @myriamboure, I will also leave this up to the team. It changes the user experience a bit. The user will see a loading screen for longer than they previously would. However, given the simple fix and improved user experience overall I am not sure that the effort for a different fix would be worth it.

[2018-06-18 14:35] wmortada commented on #2352
Thanks @luisramos0 that looks much better.

I think it would be clearer to end users if there is some explanation of what 'CVC' means.  I don't think this is obvious to everyone - which is why I added some text in the description field to explain this.

I've been using OFN in the UK and can confirm that a postcode **is** required here.  From a quick internet search it seems as if the postcode isn'

[2018-06-18 14:49] wmortada commented on #2352
I've just done some testing and this bug seems to be less of an issue for countries that don't require a postcode (including Australia and France).  For these countries the form looks okay on mobile devices.

The issue seems to occur for cards that originate in countries that require a postcode (e.g. UK).

Is the current form a standard form that Stripe offer?  If so, should we be escalating this

[2018-06-18 18:56] stveep commented on #2352
Actually we should probably set hidePostalCode to true (In fact I thought that was the case since I have never seen the postcode field in the frontend until now). I don't think there's any need to collect the postcode in the Stripe.js form, regardless of location, as it is taken from the billing address further up in the form and submitted to Stripe (see makeCardData method in the StripeElements s

[2018-06-18 19:28] stveep commented on #2352
In fact I think if we just hide the postcode field it should fix the issue (refresh in the middle is after I set it to hide):

https://www.useloom.com/share/538f39d8bd79474ab7e8db4504d84449

I think the issue here is that "postcode" is much longer than ZIP and therefore overlaps (thank god we are not in Hungary yet!) so it is a design flaw for Stripe to fix really.

[2018-06-18 21:01] myriamboure opened #2393 "When capturing an order from backoffice, if I forget to choose a payment method, I get the snail"
## Description
As a hub manager when capturing an order from backoffice, if I forget to choose a payment method I get the snail.

## Expected Behavior
If I forget an error message is displayed saying I need to choose a payment method.

## Actual Behavior
Proceed and get the snail failure page.

## Steps to Reproduce
1. Make an order from back office and don't check any payment method

## Animated

[2018-06-18 21:53] myriamboure commented on #2354
@Matt-Yorkley can you fix that? Or is it included in your fix #2368? Super admins should be able to see customers in any dropdown menu for any enterprise I guess (they anyway have access to all customer lists), so that they can assist in making orders from back office if needs be. I guess your fix will fix the issue as super admin will still be able to make an order with the email of the registere

[2018-06-18 21:57] luisramos0 commented on #2352
Hi @stveep I confirm that if we hide postcode field, the original issue is solved.
Stripe shows postcode for US, UK and CA credit cards.
So, if we can remove the postcode field (doesn't look like an illegal thing to do). We don't need to rebuild/format the form as I did on my PR. So that could be an easier solution. I'd go with your change if postcode can be hidden for us, uk and ca cards.

[2018-06-18 23:34] #2105 closed

[2018-06-19 04:09] mkllnk commented on #1589
I submitted #2394 which adds the notification and the resend button. It doesn't change the confirmation email text though. I spent a while trying to alter that, but I think it should go into a separate pull request. There is also no nice and easy solution for it. @myriamboure How important is that text change? Can we write a generic email that covers all scenarios? I can do it, but it may take a w

[2018-06-19 07:29] sauloperez opened #2395 "Have a single feature toggles implementation"
## Description

Now that we merged https://github.com/openfoodfoundation/openfoodnetwork/pull/2369, we need to combine our two implementations of feature toggles. The one in [app/models/feature_flags.rb](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/feature_flags.rb) with the existing one in [lib/open_food_network/feature_toggle.rb](https://github.com/openfoodfoundat

[2018-06-19 07:30] #1538 closed

[2018-06-19 07:34] #2334 closed

[2018-06-19 07:46] myriamboure commented on #1589
Current confirmation/resend confirmation email is:
![screenshot from 2018-06-19 09-43-05](https://user-images.githubusercontent.com/8135376/41583569-39d8f11c-73a5-11e8-9e28-898734114462.png)
It is ok for me to leave it as it is for now, I guess if we add a user from admin the user will know, and admin wouldn't do that without a user requesting it.
If we realize later on that there are confusion an

[2018-06-19 08:09] myriamboure commented on #2242
I added a mobile view on how that would look like. @mkllnk can you just have a last check at the new list of stories after I took into account your feedbacks to make sure it's all good on your side? Would like to avoid misunderstandings.
Also please we need more feedbacks on UX I don't want to be the only PO to validate it... especially EU people directly concerned @lin-d-hop @sigmundpetersen @sau

[2018-06-19 12:31] wmortada commented on #2352
Thanks @stveep that sounds like a sensible solution.  I did wonder why we were being asked to fill in the postcode on that form so if it isn't needed we should remove it.  That would make a much better user experience all round.

I still think that the form should include some explanation of what CVC means - but perhaps this is a separate issue to raise with Stripe?

[2018-06-19 13:08] myriamboure commented on #2352
I don't know if that should be on Stripe side or if we need to add a tooltip in the checkout form like a small ? in a bubble next to the line. That would be for both mobille and ddesk of course. Don't know if is done/can be done on Stripe side?

[2018-06-19 15:26] myriamboure opened #2396 "Bulk invoice printing"
## Original description of the problem this feature is solving
https://community.openfoodnetwork.org/t/enable-quicker-packing-and-invoicing/1412

## Description of the feature including mockups
Hub manage will be able, from orders page, to apply existing filters, select orders on which bulk action will apply, and choose single bulk action "print invoices" to generate in a new tab a PDF to print al

[2018-06-19 15:48] luisramos0 commented on #2301
Actually product description (add and replace) textareas do not allow links, so it's not applicable to this change.
I have applied the change in enterprise long description, enterprise group long description, shopfront message and shopfront closed message.
It's ready for code review.

[2018-06-19 22:21] Matt-Yorkley commented on #2354
I've edited the description for this issue to try to clarify it a bit, as there are 2 bugs being reported simultaneously that don't have the same cause or the same solution.

The first bug should now be fixed by #2368, which I think is the `s2` part. Regarding the second bug relating to customer search results:

It seems that enterprise users that directly have permissions can search within their

[2018-06-19 23:10] myriamboure commented on #2354
I don't think it works as intended @Matt-Yorkley for me "admin users should get the same search results because even if they don't explicitly manage those enterprises, they have super admin powers and can see customers from any enterprise". But I propose we open a separate issue and fix it later if it appears still to be annoying for admins doing support. Maybe it is not so let's not spend more ti

[2018-06-20 00:58] mkllnk commented on #1612
Setting a password as admin always comes with the problem how to communicate that password to the user. In most cases it's sent via email which is not a secure medium. The password is likely to end up on several computers (the sender, the mail servers, the receiver, backups) and is stored in plain text.

The admin can set a temporary password that has to be changed by the user, but most users don'

[2018-06-20 07:53] #2297 closed

[2018-06-20 15:15] Matt-Yorkley opened #2397 "Placing orders as superadmin - Customers do not appear in customer list"
## Description
When logged in as a superadmin and placing an order on behalf of an enterprise that is placing an order on behalf of a customer, the customer search dropdown does not fetch results for all customers because it is filtered by enterprise permissions, and superadmins don't automatically get those permissions on all enterprises without manually adding them as managers of the enterprise

[2018-06-20 15:18] Matt-Yorkley commented on #2354
Primary issue closed via #2368, and secondary issue captured in #2397.

[2018-06-20 15:18] #2354 closed

[2018-06-20 19:49] sauloperez commented on #2333
I didn't know about JS math but it's something to keep in mind of more issues like this come up

[2018-06-21 05:18] oeoeaio commented on #2352
For the record I would prefer the option to just use `hidePostalCode: true` if that fixes the issue. The form element we are currently using is basically just Stripe's default element with some styling (so it's quite pretty). If we can keep the pretty version that would be ideal. :)

[2018-06-21 11:12] sauloperez commented on #2359
We're still missing I18n and angular

[2018-06-22 02:37] #2279 closed

[2018-06-22 02:39] mkllnk commented on #2234
Okay, I just looked into this myself to get familiar with the issues. Since the commit is reverted within our version of Spree already (2.0.4), it doesn't have any effect to our code. And as you said, they never merged it later on, so we don't need to worry about it at all. I think we can close this.

[2018-06-22 02:45] mkllnk commented on #2218
Okay, I will put my findings in this post first, using it as a wiki and then moving that to the wiki when ready.

#### WIP

Nothing to see yet. ;-)

[2018-06-22 03:42] daniellemoorhead commented on #2210
@myriamboure have we achieved this?

![screen shot 2018-06-22 at 1 40 39 pm](https://user-images.githubusercontent.com/10949052/41756835-e87b2b9e-7621-11e8-9f2e-f4dac8bb8b31.png)

If yes, then we can safely say we have achieved what we set out to do and we can consider this done 😄

[2018-06-22 03:58] #2257 closed

[2018-06-22 04:22] daniellemoorhead commented on #2140
@myriamboure I've assigned to @luisramos0 and moved to dev ready.

@luisramos0 it's so good to have you onboard and contributing 😃

[2018-06-22 04:57] daniellemoorhead commented on #2230
@myriamboure I'm wondering how this feature backlog item relates to what we discussed in the product curation session? This seems like the overarching problem to be solved for invoicing, so should an new/additional epic be created that is for the delivery note feature? And how does this relate to #2396, that one looks like it's the bulk invoice print/send feature...but that feature is also mention

[2018-06-22 05:02] daniellemoorhead opened #2398 "Super Admin Handbook Refresh"
## Expected Behavior

## What is the problem we are solving
xx

## Success factors = expected outcome
xx

## Metric
- xx

## Useful information for/from inception
xx

## Link to the "Icebox" item in Discourse
xx

## First feature candidate to be implemented
xx

[2018-06-22 05:08] daniellemoorhead opened #2399 "Contributor Handbook v1.0"
## Expected Behavior

## What is the problem we are solving
xx

## Success factors = expected outcome
xx

## Metric
xx

## Useful information for/from inception
xx

## Link to the "Icebox" item in Discourse
xx

## First feature candidate to be implemented
xx

[2018-06-22 05:37] sstead commented on #1783
This issue is partially complete.

Fixes that are done:
- Contact details removed
- Header images/text removed
- Links to shops on OFN open in new tab.

Outstanding minor issues:
- [ ] Some links are not opening in new tabs. Specifically hyperlinks in profile about us text
- [ ] The 'powered by OFN logo' isn't always shown clearly, sometimes falling off the bottom of the page.

[2018-06-22 06:33] myriamboure commented on #2230
@daniellemoorhead For me the epic is "the need" (the icebox candidate we choose to prioritize). As what we want to do is satisfy a need, so when we review the epic we need to check that the need is satisfy, not that the feature is implemented. As you see I explain in the epic the feature candidate we choose, then in the inception stage we list all stories and attach them to the epic. If at the end

[2018-06-22 06:37] myriamboure commented on #2210
I need to wait for the new release to be done so that I can test and see if we achieved the expected outcome and metrics @daniellemoorhead I can't tell before I can test for real ;-)

[2018-06-22 07:31] mkllnk commented on #2286
I just looked at the current Spree master and it has a Travis and CircleCI configuration. Our version 2.0.4 has a Travis configuration already. So I thought I try that, hoping that we benefit from their maintenance of the config file. But it turns out they trigger 24 builds for different combinations of their modules, databases and ruby versions. It's also exposing similar issues addressed by Pau

[2018-06-22 07:32] mkllnk commented on #2286
I think this issue should be blocked until someone gets the tests running locally.

[2018-06-22 07:56] myriamboure opened #2400 "[Cookies] Implement delete "remember me" cookie when user logs out"
## Description
Today if a user has checked "remember me" when logging in, the cookie cannot be actively disabled, even if it is an optional cookie. With GDPR we need to change that and give a way for users to disable it.

- As a: registered user

- I want to be able to do: disable "remember me" cookie.

## Acceptance criteria
If registered user has logged in checking the "remember me" checkbox, re

[2018-06-22 08:03] myriamboure opened #2401 "[Cookies] Create cookie policy page"
## Description
Today users are not informed about which cookies are set on their browsers and for what. With GDPR we need to inform them.

- As a: visitor/user

- I want to be able to: understand which cookies are set on my computer and for what (later one: I want to be able to customize and disable optional cookies > see other stories)

## Acceptance criteria
- Create the cookie policy page, cont

[2018-06-22 08:11] myriamboure opened #2402 "[cookies] Add footer link to access the cookie policy page"
## Description
Today users are not informed about which cookies are set on their browsers and for what. With GDPR we need to inform them. So now that the cookie policy page is created we need to give users access to it.

- As a: visitor/user

- I want to be able to: understand which cookies are set on my computer and for what (later one: I want to be able to customize and disable optional cookies

[2018-06-22 08:38] daniellemoorhead commented on #1675
Absolutely agree with the approach. I didn't see the other item until I
went into the freature backlog, and then ran out of time to look at this
one and close it. So this is good.

On Fri, Jun 22, 2018 at 4:24 PM Myriam <notifications@github.com> wrote:

[2018-06-22 10:17] luisramos0 commented on #2401
"Analytics cookies section only displays if instance has configured connexion to google analytics in configuration."
Can we skip this for now? This work will be trashed as we move to piwik. Can we just show the analytics cookies info in all instances (even if it's not being used). It feels like a waste of time to implement something that will change soon.

[2018-06-22 11:11] sigmundpetersen commented on #959
Quote @daniellemoorhead: "I moved this back to "all the things" because we don't put epics into the zenhub delivery pipe. They're tracked on the feature backlog here: https://github.com/openfoodfoundation/openfoodnetwork/projects/19" 😄

[2018-06-22 11:18] sigmundpetersen commented on #2227
Hope everything is going well with this @sauloperez . A nice weekend to you 👋 :bowtie:

[2018-06-22 12:44] myriamboure opened #2404 "[Cookies] Investigate what it takes to replace google analytics by Matomo"
## Description

To implement the cookie regulation and be legally compliant we have two options:
- if we stay with google analytics we need to do more work on ability to enable/disable cookies, and let instance decide about default opt-in/opt-out, etc.
- if we switch to matomo (piwik) we can leave it as an essential cookie as it doesn't collect any personal data so it simplifies a lot the implemen

[2018-06-22 18:12] myriamboure commented on #1612
I don't know how to label that, it's not a new feature reallly neither bug but more security issue, so I used tech debt so that we don't forget to tackle it soon... or should we icebox in "future proof the tech platform" thing?

[2018-06-24 08:50] luisramos0 commented on #2352
ok, so looks like we all agree we go forward with PR #2403 that just hides the postcode field. It's ready for code review.

[2018-06-25 04:48] #2085 closed

[2018-06-25 15:19] luisramos0 commented on #2404
Hi @myriamboure,
Do you want me to do a feature comparison between the two tools? Is there any feature in GA that we may need and not have in Matomo?
For now I'll focus on the tech part of installation and configuration.
Thanks,
Luís

[2018-06-25 16:31] luisramos0 commented on #2404
Please let me know if I should add this info somewhere else or if here is fine.

To use Matomo for Analytics we need:

# Decide Cloud-hosted vs On-premises
Hosted version, provided by InnoCraft: https://matomo.org/hosting/
Price depends on data volume but 25eur/month could be enough for now. Pricing details https://www.innocraft.cloud/#pricing
Question: Can we use cloud-hosted version of Matomo an

[2018-06-25 17:30] myriamboure commented on #2404
Thank you for that first analysis @luisramos0 !

### About hosted or self and GA or not GA

I'm not sure having each instance install Matomo is a solution. Especially as we are heading toward a single instance used worldwide.
Is it possible to  have one single installation for the whole instances? Like we have a global wordpress installation for the global website? Can we have one Matomo following

[2018-06-25 20:33] luisramos0 commented on #2404
Hi Myriam, Thanks for your feedback!
That's useful info about GDPR and matomo! I think we should go for the self-hosted version of matomo.

Re single OFN instance worldwide, I'd be worried about geographical distance. I'd go for single european instance but I wouldn't want Australian users hitting a database in France or vice-versa...
I say this, because this is the same for Matomo. I would be ok

[2018-06-26 06:00] myriamboure commented on #2404
About single instance @luisramos0  we discussed that in global gathering in Australia, there are very good options now to manage single instance with various servers behind, load balancing, etc. (I'm not tech so I stop here) and we all agreed it is a direction we want to go, but you will learn more in Barcelona ;-)
But maybe that wouldn't work for Matomo... let's discuss later today.

[2018-06-26 06:56] myriamboure opened #2406 "[Cookies] Add privacy policy URL and display in footer"
## Description
Today users are not informed about the privacy policy whose cookie policy is a part of. With GDPR we need to inform them. So we need to allow access to privacy policy as well as cookie policy.

As a: visitor/user

I want to be able to: understand the privacy policy of OFN more generally, into which cookie policy happens.

## Acceptance criteria

- Add in configuration panel the poss

[2018-06-26 07:00] myriamboure commented on #2401
@luisramos0 as far as France is concerned I would feel pretty uncomfortable to put in our cookie policy that we use analytics cookies as we don't... so let's see what other devs think about Matomo and from than plan if we have some dynamic display depending on instance configuration. We might need to wait to be in Barcelona to decide that though... as Barcelona devs are on holidays and I know they

[2018-06-26 07:47] myriamboure commented on #1612
Ok then closing for now, I opened an icebox item https://community.openfoodnetwork.org/t/prevent-possibility-of-password-fraud-when-super-admin-creates-a-user-account/1362

[2018-06-26 07:47] #1612 closed

[2018-06-26 07:57] #2382 closed

[2018-06-26 08:00] myriamboure commented on #2320
Reopening the issue as the PR is not really fixing it ;-) Was adding info on what to do but there is still an issue which is not fixed. I commented in the PR.

[2018-06-26 10:49] luisramos0 commented on #2402
Marked as blocked, it's dev complete but we will wait for next week (gathering) to make a decision about analytics.

[2018-06-26 10:50] luisramos0 commented on #2401
Marked as blocked, it's dev complete but we will wait for next week (gathering) to make a decision about analytics.

[2018-06-26 10:56] myriamboure opened #2407 "[Cookies] Build coookie banner and add a toggle to power it on-off"
## Description
Today users are not informed about the cookies set up on their computer and don't give their consent. With GDPR we need to inform them and request their consent. The content of the cookie policy page and set up options is still pending as we need some more info to decide but we can move forward with implementing the consent banner (it can remain toggled off until the feature is read

[2018-06-26 10:57] myriamboure commented on #2407
I put a little bit more text @luisramos0 so that users are incited to click on "accept cookies" and know that if they don't click on "accept" but navigate they do consent. All clear? @RachL does it looks good to you as well?

[2018-06-26 11:00] luisramos0 commented on #2404
Adding a bit more detail about piwik opt-out feature.
**This is applicable to both self-hosted and cloud-hosted** (I think this is the way we should go): we just need to anonymize user IP on our side and include the piwik optout iframe on our cookie policy page (very similar to what's specified for analytics on the "cookie inception' document):
https://matomo.org/docs/privacy/#step-3-include-a-web

[2018-06-26 12:38] RachL commented on #2407
@myriamboure perfect !

[2018-06-26 17:41] myriamboure commented on #2396
@luisramos0 today we cannot capture delilvery. I know... but we'll reach there step by step. We clarified things after our call this morning and @RachL is opening the epics and issues asap, everything should clarify then ;-) Rachel I let you explain the plan to Luis ;-)

[2018-06-26 23:12] #2271 closed

[2018-06-27 00:49] mkllnk commented on #2013
https://github.com/openfoodfoundation/openfoodnetwork/pull/2183 identified all uses of `spree_products.count_on_hand` at the time. Here is an updated summary:

- `app/models/enterprise.rb`
  - https://github.com/openfoodfoundation/openfoodnetwork/blob/eb9064f5be3433ed72f708c32bccbaa635a2988d/app/models/enterprise.rb#L134
  - https://github.com/openfoodfoundation/openfoodnetwork/blob/eb9064f5be3433

[2018-06-27 05:20] mkllnk commented on #2012
I'm looking at this now as well. Just summarising here:

- Status Quo: Every variant has exactly one `count_on_hand` value.
- After Spree 2.0 migrations: Every variant has one `count_on_hand` value via `StockItem` at the `default` location. This data model is completely backwards compatible and reversible.
- Possible with Spree 2.0: Creating more stock locations so that each variant can have a `co

[2018-06-27 06:00] mkllnk commented on #2286
I just had a successfully failing spec run on my local machine. I had to call `bundle` in all Spree modules to get all gems installed just to run the core specs. I also had to uninstall other versions of rake so that the right version is loaded.
[code]
That looks manageable. It's not great that the test suite fails, but better than not running. I wanted to see if we broke anything already and sele

[2018-06-27 07:59] mkllnk commented on #2013
I just discovered more recent code using `count_on_hand`:

- https://github.com/openfoodfoundation/openfoodnetwork/blob/eb9064f5be3433ed72f708c32bccbaa635a2988d/app/models/product_import/entry_processor.rb#L78-L83
- https://github.com/openfoodfoundation/openfoodnetwork/blob/eb9064f5be3433ed72f708c32bccbaa635a2988d/app/models/product_import/entry_processor.rb#L196
- https://github.com/openfoodfound

[2018-06-27 08:18] mkllnk commented on #2014
`Spree::Variant` decorator

- `scope :in_stock`: Not on Spree's model. Plenty of use of method `in_stock?`, but no use of the scope `in_stock`.

`VariantOverride`

- It has its own `count_on_hand` value. If this value is present, it uses it for stock management. Otherwise it expects that it's not used for stock. `increment_stock!` will intentionally raise an error instead of using the variant's `c

[2018-06-27 09:15] myriamboure commented on #2404
I got an answer from the Matomo team to my questions:

1) Even if you are not processing any personal data, it is a good practice to propose an opt-out service to your visitors. However you can insert this system within your privacy policy page or in a place where people would expect to find it. That's the golden rule, always be fair with your visitors.
It is in general allowed to track users by d

[2018-06-27 09:33] luisramos0 commented on #2404
Really useful info, thanks!!

[2018-06-27 09:37] myriamboure opened #2410 "Enable instances to add menus in the main header (with redirects)"
## Description
Given conversation in Slack https://openfoodnetwork.slack.com/archives/C0DNLAZC7/p1529691706000289 there is a lazy consent to do a proper implementation of "adding more menu headers with redirects" feature to avoid a hack more and more instance are doing.

## Expected Behavior
Instance can add more menus headers in the top menu of an OFN website menu

## Actual Behavior
Hack done fo

[2018-06-27 11:58] HugsDaniel commented on #2359
I don't have the error in the console, and I18n and Angular seem to be working fine on my machine on 2-0-stable. @sauloperez did you manage to reproduce the error after my patch ?

[2018-06-27 15:44] RachL commented on #2230
@myriamboure As we discussed, we need to add a story (after the delivery note works) saying we should use the content of the delivery note to generate an invoice. Shall we keep this epic and just link stories to it, or do we do a separated epic for delivery notes ? I don't remember what we did say :(

[2018-06-27 15:55] RachL commented on #2396
So I've updated a bit the list of stories. The idea is to say the order page is the page where we can do bulk actions.
So we would have printing options AND emails options. As I guess we will do separated issue for that, we can say we start with a first release of email and do printing later for example ? @luisramos0 @myriamboure

[2018-06-27 16:34] luisramos0 commented on #2407
This is what I have so far:
<img width="1075" alt="screen shot 2018-06-27 at 17 26 38" src="https://user-images.githubusercontent.com/1640378/41986849-5116841c-7a2f-11e8-86d9-911331139b3f.png">
and
<img width="266" alt="screen shot 2018-06-27 at 17 34 36" src="https://user-images.githubusercontent.com/1640378/41987210-6459830c-7a30-11e8-9124-eb759fd8f885.png">

[2018-06-27 17:42] luisramos0 commented on #2396
I'd start with the most useful to users. I'd guess printing is the most useful.

[2018-06-27 19:30] myriamboure commented on #2407
Looks good @luisramos0 ! :-)

[2018-06-27 23:29] myriamboure commented on #2230
@RachL actually you can really keep that epic, maybe adjust some wording to make sure everything is clear. I just changed the title, see if that's clearer.
The need is "to be able to capture the difference between ordered and delivered and make sure invoices are based on what was delivered" > feature candidate we selected = issues delivery note, so associated to that epic you will have all the sto

[2018-06-27 23:43] myriamboure commented on #2396
Yep cool. Wondering if we need to implement the "send via email" now, or maybe we can keep it for further iterations? Same for delivery notes. If we can generate delivery notes and invoices are based on delivery notes I guess being able to print by batch invoices is enough for now. Let's stick to the priority need and not go further... So @RachL I would limit the scope for now to "print invoices".

[2018-06-27 23:44] myriamboure commented on #2396
It seems this epic will have only one issue then, it's a bit strange but if it's simple I guess it's ok like that... if you had multiple stories @RachL I would have splitted in multiples issues attached to that epic.

[2018-06-27 23:46] mkllnk opened #2412 "Duplicate "Products" entry in admin menu"
Pull request #2367 moved our bulk products edit screen into the place Spree's product edit screen had been. But now we have two menu entries in the submenu for products: "PRODUCTS" and "SPREE PRODUCTS".

## Expected Behavior

Only one menu entry to edit products, no menu entry called "SPREE PRODUCTS".

## Actual Behavior

![screenshot from 2018-06-28 09-41-32](https://user-images.githubusercontent

[2018-06-28 02:08] mkllnk commented on #2013
I have been looking more into the Product Import code and there are a few things where I don't understand the design decisions. It is work in progress and I understand that it needs refactoring. Right now, a Spree upgrade would break it. Before I continue working on this, I would like some input from @Matt-Yorkley about the roadmap for Product Import and how we should tackle it.

[2018-06-28 08:59] oeoeaio commented on #2315
I'm not going to get a chance to look at this before I go away tomorrow night, so un-assigning myself for now.

[2018-06-28 10:21] RachL opened #2414 "Translation missing in order cycle page"
## Description
Some translations are missing here :
![image](https://user-images.githubusercontent.com/6525576/42028742-704627c2-7acd-11e8-88f4-c4fa36488178.png)

## Steps to Reproduce
Go to order cycle page : /admin/order_cycles

## Context
A French user reported it.

## Severity
S4

## Your Environment
* Version used: v1.15.2

[2018-06-29 07:09] mkllnk opened #2416 "[Spree Upgrade] Replace search to add products to order as admin"
When editing an order as admin, our code renders Spree's form to add a product. We override the search and display functionality to show the distributor. Spree 2.0 replaced that search functionality with other API calls. We need to update our modifications accordingly.

## Description

Currently, our view `app/views/spree/admin/orders/edit.html.haml` calls `render 'add_product'`. That partial is i

[2018-06-29 08:11] lin-d-hop commented on #2410
Please note that the existing implementations are:
UK: About, Blog, Support
Aus: Connect, Learn (they have taken About off)

This will need to work for both existing implementations.

[2018-06-29 11:46] wmortada opened #2418 "[Stripe] Improve the user experience of CVC and Date Field"
The user experience for the Stripe payment form could be improved.

## Description
The Stripe payment form prompts users to input 'CVC' but doesn't explain what CVC is.  I don't think this is a good user experience and may confuse people who are unfamiliar with making payment online.

It also prompts users to input 'MM / YY' but doesn't explain that this is the expiry date for the card.  I think m

[2018-06-29 11:48] wmortada commented on #2352
Thanks for resolving this issue.  I have posted my suggestion to improve the user experience of the Stripe payment form as a new issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/2418

[2018-06-29 12:01] wmortada commented on #2333
I've noticed the same issue on the UK OFN platform.  We are selling milk in 1 pint bottles which we are recording as 568ml.  However, this is displayed as 567.99999 mL.

[2018-06-29 12:24] luisramos0 commented on #2406
Hi @myriamboure
I was looking at the configuration page, theres a entry for "TOS required", section "ENTERPRISE TERMS OF SERVICE". Shall we merge this one entry with cookies toggle and privacy URL and call the section "Legal Settings"? It would simplify the screen a little bit.

I suggest:
- Rename Section "ENTERPRISE TERMS OF SERVICE" to "LEGAL SETTINGS"
- Add in this section to the existing "ENT

[2018-06-29 15:53] frank-west-iii commented on #2100
We are currently on `therubyracer v0.12.0` and the most up to date version is `v0.12.3`.

I ran the command with each version that we are considering and here are my non-scientific results.

The change to `mini_racer` was simple enough without any problems during bundling. If you would like I can PR this change.

## The Ruby Racer 0.12.0
[code]

## The Ruby Racer 0.12.3
[code]

## Mini Racer

[cod

[2018-06-29 17:04] luisramos0 commented on #2406
I've just found the "terms of service URL" field in the content configuration page...
We should either move the "privacy URL" to the content configuration page or move the "terms of service URL" to the global configuration page. You guys choose? :-)

[2018-06-29 21:52] luisramos0 commented on #2410
I think the best solution here is to let each menu entry be enabled/disabled and include a URL field for the ones that can have custom URLs.
Note: the URL config fields themselves cannot be used to toggle menu because "about" and "groups", for example, are used in the footer as well. For these ones, a URL is always necessary but the entry is in the menu only for some instances.
So, this would be m

[2018-06-29 23:03] myriamboure commented on #2418
And I would suggest as well we separate the fieds (what @luisramos0 started as a first attempt) as we encountered some not so user friendy effect when typing the card number in IOS figured were overlapping with MM/YY.
 Also with different fields it is easiers to add tolltips after each field separately.

[2018-06-29 23:10] myriamboure commented on #2406
I like what you are proposing @luisramos0 ! Let's go for it put it under "legal settings"
Good idea to bring the terms of services URL to legal settings as well I would say (IMO), I propose to put that under "general configuration" page for now, maybe if it starts to get busier that we can move some part in new sub menu but we start to have quite a lot already so let's keep it in general settings

[2018-06-30 17:56] tschumilas opened #2421 "can't edit taxons, taxon structure not stable"
## Description
Previously this bug was reported - https://github.com/openfoodfoundation/openfoodnetwork/issues/1965
but the issue reportedly resolved.  However,  it seems not.  I believe since the last version was pushed through,   the taxonomy structure is not stable and this same issue is happening.  I am unable to edit the taxons (in the configuration menu).  Products are correctly associated w

[2018-07-02 20:34] Ecksi commented on #1848
Hi there!

We are first-time contributors and we're hoping to help out with this issue. We noticed that nobody was assigned to it, but if there’s already a solution in progress we are happy to try helping out elsewhere.

Thanks!

[2018-07-02 21:24] mkllnk commented on #2100
Cutting down asset compile time by a third sounds nice. :-) Go for it!

[2018-07-03 05:12] myriamboure commented on #2421
@tschumilas I can't reproduce your bug, see
https://www.useloom.com/share/15e123a0a7154136af92be9219886168
Which version of the software are you in? @mkllnk probably knows... there was a bug but has been fixed normally.
If the bug is on the search feature then you should report this specific bug (which is not the case here). But again for the search I tested it, for instance in France we have only

[2018-07-03 05:14] myriamboure commented on #1848
Hey @Ecksi welcome here! You are most welcome to work on this, no one is working on it at the moment :-) Check the wiki, you'll find everything about how to commit a great PR, etc. Thanks in advance for your contributions!

[2018-07-03 08:25] sstead opened #2423 "The customer's view of an order 'in credit' isn't clear or consistent"
## Description
Found while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/2273 .
As a customer who has an order with payment state 'in credit' (e.g. I paid $40, but one item was then removed from my order, so I've now overpaid by $10), the view on the /account tabs don't make sense.

## Expected Behavior
If I have an order with credit I should be able to see this.

## Actual Be

[2018-07-03 23:12] mkllnk commented on #2421
Thank you for testing this @myriamboure. I tested this the other day on our production and staging server and I didn't see the tree structure in the admin interface at all. But now I can. Weird, I must have done something wrong the other day.

@tschumilas I think we should update the version on your server and see if that fixes it. Do you have any concerns updating to the latest version? You can s

[2018-07-04 01:09] kirstenalarsen opened #2425 "Tweak that might fix embedded shopfront on mobile - fix cart dropdown on small screen"
## Description
I have been investigating embedded shopfront mobile and think it is possible that this issue you might be the only problem!

The cart drop down that enables access to edit card or checkout doesn't work on small screen so users get stuck. Once they are able to access edit cart or check out both screens seem fine on the small screen. Can we just fixed the responsiveness of this menu s

[2018-07-04 01:09] kirstenalarsen opened #2426 "Tweak that might fix embedded shopfront on mobile - fix cart dropdown on small screen"
## Description
I have been investigating embedded shopfront mobile and think it is possible that this issue you might be the only problem!

The cart drop down that enables access to edit card or checkout doesn't work on small screen so users get stuck. Once they are able to access edit cart or check out both screens seem fine on the small screen. Can we just fixed the responsiveness of this menu s

[2018-07-04 05:12] kristinalim commented on #589
I am able to reproduce this bug, and would like to work on it. I have already gone through contribution guidelines, and will submit a PR within the day.

[2018-07-04 11:02] tschumilas commented on #2421
No concerns lets see if the new version fixes.  BUT - can you wait until next week?  I have fn important pilot with a food hub going on until Friday -  and would rather not risk any (more)  snags.  Next week would be grand if that is possible?

[2018-07-04 11:02] #2421 closed

[2018-07-04 12:29] tschumilas commented on #2421
Further -  I just tried again and the same problem exists.   It isn't only a filter/search issue -  it is some issue with the creation of taxons.  Formerly,   in configuration,   I created a list of parent and child taxons.  Today, I can only create parent taxons.  I cannot edit them.  I cannot even see the children I formerly created.   So today, when a user creates products,   the 'old' child ta

[2018-07-04 14:19] myriamboure opened #2427 "[Cookies] Document technical choices in wiki"
Create some documentation around the matomo config we are doing right now. In the wiki probably best place (to check).

[2018-07-04 14:19] myriamboure opened #2428 "[Cookies] Document feature use in super admin handbook gitbook"
As an instance super admin, I can easily set up and use Matomo, and get valuable data to drive the solution design and decisions.

Acceptance criteria: the process to setup and use properly matomo is documented on the super admin handbook: https://ofn-user-guide.gitbook.io/ofn-super-admin-guide/

[2018-07-05 00:06] kirstenalarsen commented on #2421
my 2c - i would guess that the version update (NEXT WEEK after your current trial) will fix the ability to edit them in configuration, but maybe not the children. the children have been totally neglected as no one else was using them, so they probably haven't been tested and this change got missed. I'd be guessiong that it happened at the same time as the main problem w spree upgrade. So once you

[2018-07-05 01:19] kirstenalarsen opened #2429 "Fix spacing around page of edit account when error message returned"
## Description
In account / account settings, if user puts in an invalid email then when the page returns (with error message) the margins are lost

## Expected Behavior
Margins as per Account settings
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/7bf38e7f-5274-472b-8035-90dfe3a763e5)

## Actual Behavior
margins disappeared

![image.png](https://images.zenhubuserconten

[2018-07-05 02:02] kirstenalarsen commented on #2426
github created duplicate w #2425, closing

[2018-07-05 02:02] #2426 closed

[2018-07-05 02:15] kirstenalarsen commented on #2425
@Matt-Yorkley are you in barcelona? if not, could you have a look at this? it would be great if it is actually the only problem so that we can at least have people ordering from embedded shop on mobile, and then prioritise imoprovements from there ..

[2018-07-05 04:47] mkllnk commented on #2206
### Impact of the locking feature

First of all: https://github.com/spree/spree/commit/45eabed81 is not part of 2-0-4-stable. We don't need to deal with this now. But I looked into it anyway.

Pessimistic locking of an order is optional and not used by default. All our calls to `current_order` won't use locking and we retain our old behaviour. That part is good.

Spree uses the lock at several poi

[2018-07-05 04:48] kirstenalarsen opened #2430 "Make OC name field editable from OC index"
When a user comes along to create a series of OCs to set up their subscription schedule, they need to basically replicate the same thing over and over again, but with different dates and OC name.

A tiny change would make this infinitely easier - **make the name editable from the OC Index / overview page.** Then I can set up one, hit clone as many times as I like, and update the names and open / c

[2018-07-05 04:50] kirstenalarsen commented on #2430
also just realised that cloning doesn't keep the schedule - annoying. Can that be editable from Index page too?

[2018-07-05 05:54] myriamboure commented on #2430
I would say that cloning should keep the schedule this is what you expect as a user, so this is a remaining bug for me. Not preventing release but will need to be fixed.
The feature you propose is not related to subscription, but more generally to make OC creation by duplicate easier. I agree if would improve enterprise manager UX and if not hard would vote to do it now.

[2018-07-05 05:54] myriamboure commented on #2430
Those are two seperate issues, can you separate them @kirstenalarsen so we don't get confused in working on them?

[2018-07-05 05:56] myriamboure commented on #2429
Which severity is that bug @kirstenalarsen ? I put s4 as front end but not super annoying... change it if you disagree.

[2018-07-05 05:58] myriamboure commented on #2425
He is in Barcelona @kirstenalarsen :-)

[2018-07-05 06:00] kirstenalarsen commented on #2429
even lower - was first one i did when working through mobile ux issues, before deciding that putting them back in gh not best approach. will post update on where i have got to shortly

[2018-07-05 06:06] myriamboure commented on #2206
Wooooo, it means we will be able to lock orders when the transaction is made! This make so much sense, that is something we need so much, great to see Spree is going in that direction. Just some context: the idea is that an order will be editabe until a delivery note (meaning products has been deivered so original order can't be modified anymore) or an invoice (meaning transactions officially happ

[2018-07-05 06:11] mkllnk commented on #2007
I'm not sure about this. Yes, we can remove `order.create_shipment!`. And without creating a shipment, we don't need to check if the shipping method needs a shipment. But what about the Paypal issue? Has there been a survey to ask everyone if we can get rid of it?

[2018-07-05 07:08] mkllnk commented on #2206
Sorry Myriam, that's not what this is about. This locking is on database level and lasts only for milliseconds. If you are clicking very fast or you have multiple tabs open and try to order in both of them at the same time, this new locking should prevent any inconsistent data resulting from this.

[2018-07-05 07:12] mkllnk commented on #706
Closing in favour of https://github.com/openfoodfoundation/openfoodnetwork/issues/2233.

[2018-07-05 07:12] #706 closed

[2018-07-05 07:28] mkllnk commented on #2233
Rob has made some great progress using headless Chrome as browser for testing: https://github.com/openfoodfoundation/openfoodnetwork/compare/master...oeoeaio:headless-chrome

Since he won't be working on this for another month, I'm willing to take over. This has been really annoying and it costs us a lot of time reviewing and staging pull requests.

[2018-07-05 09:20] #1250 closed

[2018-07-05 15:30] sauloperez commented on #2009
It might to big of a PR to get all this done in one shot. Let's first investigate, post the outcomes and then we decide. We could create individual issues for each them and fix them bit by bit.

[2018-07-05 16:17] sauloperez opened #2432 "[Spree 2 Upgrade] Refactor Order#shipping_method in checkout flow"
## Description

The customization we added in the payment step of the checkout flow relies on `Order#shipping_method` which is gone in Spree 2.0. Therefore, this logic needs to be refactored to work on that Spree version.

https://github.com/openfoodfoundation/openfoodnetwork/blob/09534b41e9a806daf91c5633d0b03e009e297b30/app/models/spree/order_decorator.rb#L33-L42

[2018-07-05 16:48] luisramos0 opened #2433 "Adapt tests to change from simple_product to base_product in spree"
## Description
enterprise caching Spec is using simple product that has now ben transformed into an extension of BaseProduct with stock location.
See here:
https://github.com/spree/spree/commit/14f911e91

## Expected Behavior
Pass the test:
  context "key-based caching invalidation" do
    describe "is touched when a(n)" do
      describe "with a supplied product" do

## Actual Behavior
Broken tes

[2018-07-05 17:07] luisramos0 opened #2434 "Spree Upgrade - Remove dependency to Dash in Spree"
## Description
Dash has been removed from Spree in 2.0
See what we are using it for and remove dependency.

See spec/features/admin/Overview_spec:116 with_dash_configured

Interesting reference: https://www.quora.com/What-happened-to-Jirafe-analytics

## Expected Behavior
Pass the referenced test.

## Actual Behavior
Test fails.

## Steps to Reproduce
Run build.

## Your Environment
spree branch

[2018-07-05 17:20] Matt-Yorkley opened #2435 "[Spree Upgrade] Spree 2.0 removes on_demand property from Product and Variant"
## Description

`on_demand` is removed from Product and Variant in these 2 PRs for Spree 2.0:

https://github.com/spree/spree/commit/40665ab244277138801ee278f663fd2f6da7da22#diff-c1dfa6db7daf5dcbf0bf6caad4024294
https://github.com/spree/spree/commit/14a398cd3625a1ef7173c1661d7013d51ea92446#diff-c1dfa6db7daf5dcbf0bf6caad4024294

There are 81 mentions of `on_demand` throughout our app folder.

I thi

[2018-07-06 06:36] mkllnk opened #2438 "Spree uses deprecated factory_girl"
Follow up on #2262, partly solved by #2266.

## Description

We upgraded from factory_girl to factory_bot, but Spree hasn't. It uses factory_girl even in the current master code. This only affects us, because we use https://github.com/openfoodfoundation/spree/blob/step-6a/core/lib/spree/testing_support/factories.rb in: https://github.com/openfoodfoundation/openfoodnetwork/blob/09534b41e9a806daf91c

[2018-07-06 07:59] kirstenalarsen opened #2439 "Subscriptions: cloning OC's should copy schedule"
## Description

Enterprise users need to set up lots of basically identical order cycles in a schedule before they can start using subscriptions.

The current clone feature (available from the Order Cycle index page) does not clone key information - most importantly the schedule itself which is left blank

This means that the user must open each order cycle to set the schedule - infuriating. This

[2018-07-06 08:02] kirstenalarsen commented on #2430
Cloning to include schedule now in https://github.com/openfoodfoundation/openfoodnetwork/issues/2439

[2018-07-06 09:59] kristinalim opened #2440 "Bulk Order Management: Sorting is not working"
Front-end sorting in the "Bulk Order Management" page is not working.

## Description

This is of the same nature as the bug described in #589.

## Expected Behavior

Clicking the header for a sortable column such as "Order No.", "Name", and "Order Date" should sort the line items accordingly. Clicking the header again should sort the line items in reverse order.

## Actual Behavior

Nothing happe

[2018-07-07 13:29] Matt-Yorkley commented on #2435
This will need a bit of a spike, but after some discussions there was a mention of a solution where we allow backorders on items. This will probably need to include looking at our current use of the `allow_backorders` config setting and the previous issues relating to it. I can't remember if it is just a large number of specs that depend on it being turned off, or whether or not some of our custom

[2018-07-08 09:41] kristinalim commented on #423
I will be working on this issue. :slightly_smiling_face:

[2018-07-08 15:45] myriamboure commented on #2242
Hey @luisramos0 ! Do you agree with the new content page with the decision we took to use Saas version of Matomo to start with ? https://docs.google.com/document/d/1sWqXeDZBerXP263w1NWSpsgCuBGCZf35368VKlgPdq0/edit# I was not sure about which matomo cookies we would use and what they are for, so please update the text if that makes sense! I'm going through the issues to see what is gonna change now

[2018-07-08 15:45] myriamboure commented on #2401
Hey @luisramos0 ! Do you agree with the new content page with the decision we took to use Saas version of Matomo to start with ? https://docs.google.com/document/d/1sWqXeDZBerXP263w1NWSpsgCuBGCZf35368VKlgPdq0/edit# I was not sure about which matomo cookies we would use and what they are for, so please update the text if that makes sense! I'm going through the issues to see what is gonna change now

[2018-07-08 15:54] myriamboure commented on #2404
Ok so in Barclona we get to a decision to start using the hosted version of Matomo and that GDPR countries would HAVE to use it instead of Google Analytics. @luisramos0 I'm happy that Open Food France account start paying for it on part of the budget we allocate to global pool, so just find what we need and I can sort out how to pay for it. We don't have a credit card but I can put mine and get pa

[2018-07-08 16:07] myriamboure commented on #2242
Are we missing any issue @luisramos0 on the cookie feature after the discussion we had? I guess the back end selection between Matomo and Analytics (that pilotes the cookie policy page content I guess) is part of cookie policy page issue isn't it? Please if we miss any new issue to cover something we didn't cover, add it to this epic! Do you have everything you need to finish it off?

[2018-07-08 16:10] myriamboure commented on #1444
I worked  on the new flows after discussion in Barcelona, here they are, need to review the stories now.

[2018-07-09 02:21] kirstenalarsen commented on #1444
Hi - any chance of a brief summary of Barcelona discussion and implications? Where are we at with this - when can we have it!? Do we have a way to move through the clash with Spree Upgrade?

[2018-07-09 06:34] kristinalim commented on #423
Should we require the user to click on the "Update" button before removing the image from the server?

If yes, we will need to have some indicators in the form that show whether the currently selected action is "Upload File" or "Remove Image". Please let me know what you think of this:

https://www.useloom.com/share/c6a7c0663b1642dda1f6a300d11bc479

If not, we can have the button trigger a confirm

[2018-07-09 06:43] kristinalim commented on #1384
Hello! :-) I will be looking into this issue. Thanks for the tip, @farmermel!

[2018-07-09 09:40] kristinalim opened #2443 "Replace some use of "entreprise" (fr) in the code with "enterprise" for consistency"
Replace some use of "entreprise" (fr) in the code with "enterprise" for consistency.

## Description

The code uses "enterprise" in most places, but there are a few translation _keys_ (not translation _values_) that use "entreprise".

I recommend that we rename these to use "enterprise" for consistency.

**Why is this important?**

It is normal for devs to search the code for keywords to see which

[2018-07-09 14:36] sauloperez commented on #423
The option of prompting an alert box seems the most appropriate. I'd use the default JS `alert` function.

[2018-07-09 23:10] Matt-Yorkley commented on #2425
"Mobile UX Quick Wins" is number one in the new feature priority list. Should we add it to that?

[2018-07-09 23:47] kirstenalarsen commented on #2425
yep! not sure how that is being managed in gh etc though. can you put it in the right place, or Danni?

[2018-07-10 07:19] mkllnk commented on #2421
@tschumilas I just updated your server and it seems to work now:
![screenshot from 2018-07-10 17-18-44](https://user-images.githubusercontent.com/3524483/42495079-65134834-8465-11e8-899c-cb22d99ae3c8.png)

[2018-07-10 17:09] myriamboure opened #2445 "Mobile UX quick wins"
## What is the problem we are solving
Some hubs lose orders because today it is pretty hard to order on mobile.

## Success factors = expected outcome
Users are able to go through the whole shopping journey easily on mobile.

## Metric
- Analytics show that users connecting on mobile and starting to put items in cart don't have a higher drop out rate than users doing that on desktop
- Hub survey s

[2018-07-10 18:30] lin-d-hop opened #2446 "Improvement to Shop Header in mobile"
There are many sections to the shop header that can be improved. This issue bites off a small chunk that is particularly annoying on mobile and tablets.

## Description
This is the section of the shop header that we are going to focus on - the example is from [this shop](https://www.openfoodnetwork.org.uk/balsallcommon/shop)

![screenshot from 2018-07-10 18-41-17](https://user-images.githubusercon

[2018-07-11 08:59] HugsDaniel opened #2449 "Spree Upgrade - `Validation failed: Card has expired`"
## Description
Spree's `:credit_card` factory (see `spree/core/lib/spree/testing_support/factories/credit_card_factory.rb`) creates a card with past expiration date (12/2013), making all tests using  `create(:payment)` fail (see `spec/models/spree/order_spec.rb:401` for example).

## Expected Behavior
Pass the referenced tests.

## Actual Behavior
Tests fail.

## Steps to Reproduce
Run build.
See

[2018-07-11 09:18] HugsDaniel opened #2450 "[Spree 2 Upgrade] undefined method `on_hand' for Spee::Variant"
## Description
Spree's `on_hand` column in variants is gone in v2.0, making all tests using `variant.on_hand` or `variant` factory with `on_hand` parameter fail.

## Expected Behavior
Pass the referenced tests.

## Actual Behavior
Tests fail.

## Steps to Reproduce
Run build.
See Job#2 task 178 for `variant.on_hand` example and tasks 119 to 125 for variant factory with `on_hand` param examples.

S

[2018-07-11 11:10] sauloperez commented on #2450
I think it would be worth sharing the tests output with a gist or at least link to the Semaphore CI job where you got the failures from to make it easy for someone to pick up the issue.

[2018-07-11 11:14] sauloperez commented on #2449
I believe this gets fixed by https://github.com/openfoodfoundation/spree/pull/7. The failure is due to Spree's factories and so it needs to be fixed in our fork.

[2018-07-11 16:54] sauloperez commented on #2286
Seems reasonable to skip these two so that we can move forward while someone else tries to fix them.

[2018-07-11 21:04] myriamboure commented on #2325
Closing as we are changing the UX and this won't be a problem anymore

[2018-07-11 21:04] #2325 closed

[2018-07-11 22:05] myriamboure commented on #2311
Closing as captured in the story https://github.com/openfoodfoundation/openfoodnetwork/issues/2310

[2018-07-11 22:05] #2311 closed

[2018-07-11 22:07] myriamboure commented on #2315
Closing it for now as we are removing the default setup possibilities for the first iteration, it is creating too much confusion and not adding so much value.

[2018-07-11 22:07] #2315 closed

[2018-07-11 22:12] myriamboure opened #2452 "Product import: set up dropdown selector to decide where you want to import"
## Description
As an enterprise user, when I start the product import process, I am asked to choose where I want to import the info I am going to upload: product listing or inventory.

## Acceptance criteria
![capture du 2018-07-12 00-10-01](https://user-images.githubusercontent.com/8135376/42602011-f4aad040-8567-11e8-8d51-dec9d339feed.png)

- see a dropdown menu and I am asked to choose
- dependi

[2018-07-11 22:13] myriamboure commented on #2314
Closing this as we reached to an agreement that we would ask first to choose where they want to import (see https://github.com/openfoodfoundation/openfoodnetwork/issues/2452)

[2018-07-11 22:13] #2314 closed

[2018-07-11 22:15] myriamboure commented on #2319
We are removing that step from the product import feature as confusing and really not practical in term of UX, we added the two key things we wanted to keep on the first page (where to import + what do we do with products that are not in the spreadsheet). We will iterate then given users feedback.

[2018-07-11 22:15] #2319 closed

[2018-07-12 00:02] #2303 closed

[2018-07-12 00:59] mkllnk opened #2453 "Duplicate alerts when removing enterprise properties"
When trying to remove a property from a producer, an alert pops up saying that there are unsaved changes. When confirm the dialog, the same pops up again.

## Description

When editing enterprise properties, the remove button triggers an alert box. That box says that there are unsaved changes even though I haven't changed anything. This box pops up twice.

## Expected Behavior

You click on the tr

[2018-07-12 07:06] myriamboure opened #2454 "Create product import page in master user guide"
## Description
When the feature is ready to be release, we need to add the user guide page in gitbook so that users can learn about the feature.
I propose that when we do that we also announce on Slack so that each instance manager can look at it and organize training of support team on the new feature, and communication about it.

## Acceptance criteria
- I have prepared a [user guide page](https

[2018-07-12 07:10] myriamboure opened #2455 "Product import: review page layout and UX for product import landing page"
## Description
We have review the UX of product import to avoid confusion, reduce the number of clics, and try to find some consistency.

## Acceptance criteria
![capture du 2018-07-12 09-01-49](https://user-images.githubusercontent.com/8135376/42617522-3b87378e-85b2-11e8-8411-29922e4899d3.png)

- **there is not anymore any "guideline page" within the backoffice so the button is gone**. We have in

[2018-07-12 07:30] myriamboure commented on #2329
Done in https://github.com/openfoodfoundation/openfoodnetwork/issues/2452 after UX work in Barcelona.

[2018-07-12 07:30] #2329 closed

[2018-07-12 07:36] myriamboure opened #2456 "Product import: if error is detected, proceed to import is not possible"
## Description
Today if an error is detected in the import file, it doesn't prevent fro importing the spreadsheet and saving the data. We believe this might lead to errors and confusion for users who will not know what was imported or not afterwards. So as a first release we will not enable user to proceed if there are errors in the spreadsheet, and guide them so that they clearly understand the e

[2018-07-12 07:43] myriamboure opened #2457 "Product import: when info are saved, last step propose redirection to product or inventory page"
## Description
Today the last step of product import propose to "view imported products", which causes different issues:
- in product listing, there is a new "import date" filter already filtered to the import date to view only imported products. This filter might be hidden in which case navigation afterward is strange in term of UX. Also if you don't use the import feature having an "import date"

[2018-07-12 07:47] myriamboure commented on #2323
Closing as we are simplifying UX and just propoe to redirect to inventory page without any filtering thing https://github.com/openfoodfoundation/openfoodnetwork/issues/2457

[2018-07-12 07:47] #2323 closed

[2018-07-12 08:01] myriamboure opened #2458 "[Product Import] Display error if attempt to modify product based fields"
## Description
When a product is created, technically the first variant of the product is created, and some products have multiple variants.
Some fields are set up at the product level and apply to all variants. They can't be different from one variant to another.
With product import feature, there are issues if the user tries to change product based info on a variant line that is contradicting th

[2018-07-12 13:03] myriamboure opened #2459 "[Product import] add some class documentation comments"
Add descriptions/comments to all 6 Product Import models.

[2018-07-12 13:06] myriamboure commented on #1431
Done

[2018-07-12 13:06] #1431 closed

[2018-07-12 13:11] myriamboure opened #2460 "Product import: delete default options page and bring back some filter in previous page"
## Description

We don't need anymore the default option page set up as we are simplifying the first release (were UX issues).

## Acceptance criteria
![capture du 2018-07-12 15-57-57](https://user-images.githubusercontent.com/8135376/42637817-67062cdc-85ec-11e8-9637-4e3d9a47e023.png)

- The "default options" page is not there anymore (were very confusing and not UX friendly at all when you have m

[2018-07-12 14:22] myriamboure commented on #2321
Closing for https://github.com/openfoodfoundation/openfoodnetwork/issues/2460

[2018-07-12 14:22] #2321 closed

[2018-07-12 14:23] myriamboure commented on #2316
Closing for https://github.com/openfoodfoundation/openfoodnetwork/issues/2460

[2018-07-12 14:23] #2316 closed

[2018-07-12 14:24] myriamboure commented on #2320
Closing for https://github.com/openfoodfoundation/openfoodnetwork/issues/2460

[2018-07-12 14:24] #2320 closed

[2018-07-12 15:16] myriamboure commented on #1435
This will need to be thought better in iteration iteration 2, as the header in reports are translatable, and not in the import spreadsheet. So for now we leave that in a sandbox and we'll see.

[2018-07-12 15:16] myriamboure commented on #1434
This will need to be thought better in iteration iteration 2, as the header in reports are translatable, and not in the import spreadsheet. So for now we leave that in a sandbox and we'll see.

[2018-07-12 15:45] amort2000 commented on #2446
The banner problems here begin at the top of the screen with the OFN log which is escaping the confines of the menu bar and, weirdly, is bigger at mobile screen sizes than on desktop.

Can I suggest that the first priority to fixing the banner is to fix the size of the size of the OFN log so that it stays constrained by the menu (like it is in desktop size screens wider than 1024px). This is havin

[2018-07-12 21:32] myriamboure opened #2461 "Passing an order from backoffice: search give results in random order and hub manager loose time"
## Description
When a hub manager make an order for a customer from backoffice, they have to search for a product before adding it to the order. For that they type the first letters of the product. The problem is that for products with many variants starting with the same letters, the products are rendered in different order each time, without any reason. So the hub manager spends time for each ne

[2018-07-12 21:32] myriamboure opened #8507 "Placing order from backoffice: product search gives results in random order and hub managers lose time"
## Description
When a hub manager make an order for a customer from backoffice, they have to search for a product before adding it to the order. For that they type the first letters of the product. The problem is that for products with many variants starting with the same letters, the products are rendered in different order each time, without any reason. So the hub manager spends time for each ne

[2018-07-12 22:38] myriamboure commented on #2453
I think we need to discuss about the UX for deletion. I find it a bit dangerous to have only the update button when you delete something, I would love some UX perspective on it. For changing an existing info update button is ok but deletion would be different IMO. @RachL

[2018-07-12 22:52] myriamboure commented on #423
@mkllnk @RachL cf the other discussion on deletion, I think it would be great to have a standard behavior for deletions. Do you confirm that an alert box is ok? Then in that case I guess we don't need to activate the update button if a deletion has been done as it has already been confirmed by the alert pop-in which is more safe than update button.

[2018-07-12 22:57] myriamboure commented on #1444
Is there really a clash with Spree upgrade @Matt-Yorkley ? @kirstenalarsen we listed all the remaining things to be done with Matt and it is his priority one. We are simplifying a lot the first release as there was far too much in it and many UX issues. You will see all in the slides I shared above.

[2018-07-13 00:38] kirstenalarsen commented on #2461
probably when fixing this could remove the image as well? just takes up space . .

[2018-07-13 01:36] sstead commented on #1414
Checking which issues are still outstanding

**Testing Notes**
Outstanding
- The only thing outstanding is that currently shop managers can save a subscription with zero in it. They're prevented from saving a sub with no items in it, but they can save a sub with an item at 0 QTY. We should prevent this.

Fixed
- Orders with no stock, or insufficient stock are correctly calculating fees and the ema

[2018-07-13 01:37] #1414 closed

[2018-07-13 01:46] sstead opened #2462 "Prevent a sub from saving if it has no products in it"
## Description
A subscription can't be saved if it doesn't have any products in it.
However it can be saved if it has products in it, but order QTYs of zero. If such a subscription is created the customer gets an order confirmation for an order of zero, which makes little sense.

## Expected Behavior
The shop manager can't create or save changes to an order if all products in that order have zero

[2018-07-13 01:46] sstead opened #8903 "Prevent a sub from saving if it has no products in it"
## Description
A subscription can't be saved if it doesn't have any products in it.
However it can be saved if it has products in it, but order QTYs of zero. If such a subscription is created the customer gets an order confirmation for an order of zero, which makes little sense.

## Expected Behavior
The shop manager can't create or save changes to an order if all products in that order have zero

[2018-07-13 01:53] sstead commented on #2243
Just checked and this is still oustanding

[2018-07-13 04:00] kirstenalarsen opened #2463 "Cloning an OC sets Schedule to 'none' which is not editable from OC overview screen"
Trying to get OC rapid creation more workable . . following from #2430 and #2439

When an OC is cloned, the schedule is set to 'none'

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/f3e409f6-87c9-4a07-a3f0-87bf39469215)

This 'None' is NOT clickable to pull up the Schedule / OC selector, so the User does need to go into the OC to select the Schedule. Annoying.

## Expec

[2018-07-13 04:12] kirstenalarsen opened #2464 "Subscriptions: make Pickup/Delivery details field editable from OC index"
following on from #2430, #2439 and #2463

When a User is rapidly creating multiple OCs for their schedule, the only field that they are now likely to need to open each OC for is the Pick-Up / delivery details field - where they (most likely) communicate the pick-up/delivery date to customers

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/23b394ed-62af-455e-a2e2-021e270

[2018-07-13 04:17] mkllnk commented on #423
Alert box is okay. I guess you discussed these two options:

* One click removes the visible image, but doesn't save the change. The user then has to click Update to make it permanent. They could also upload another image before they click update.
* One click triggers an alert box. Confirming the alert box will delete the image straight away, like clicking Update, but the rest of the form is not t

[2018-07-13 04:30] sstead commented on #1088
Yes, this is done, customers get an email at the close of the OC

[2018-07-13 04:30] #1088 closed

[2018-07-13 04:37] sstead commented on #1059
This has been fixed, there's clear messaging saying that you can't delete a schedule with subs assigned to it.

![image](https://user-images.githubusercontent.com/10843056/42672574-23575c04-86aa-11e8-9374-b455e7f47ae5.png)

[2018-07-13 04:37] #1059 closed

[2018-07-13 04:50] sstead commented on #1055
Fixed:
- I can currently add order cycles with different coordinators to the same schedule.
- When subs is enabled the schedule column is added by default to the OC interface page

[2018-07-13 04:53] #1055 closed

[2018-07-13 04:53] #1589 closed

[2018-07-13 04:55] sstead commented on #1077
From my understanding this is done. The system 'sees' when an OC in a schedule opens/closes and triggers appropriate actions.

[2018-07-13 04:55] #1077 closed

[2018-07-13 04:57] sstead commented on #1058
All done

[2018-07-13 04:57] #1058 closed

[2018-07-13 04:58] sstead commented on #1056
Done

[2018-07-13 04:58] #1056 closed

[2018-07-13 05:01] sstead commented on #1083
Canceled orders no longer lingering in the cart dropdown.

[2018-07-13 05:01] #1083 closed

[2018-07-13 05:03] sstead commented on #1060
The majority of this is fixed/done. There's still some confusion in regards to which products can/can't be added to a sub, but that's covered here - https://github.com/openfoodfoundation/openfoodnetwork/issues/2243

[2018-07-13 05:03] #1060 closed

[2018-07-13 05:05] #1061 closed

[2018-07-13 05:06] sstead commented on #1065
This issue is mostly done, see this issue which covers the confusion around which items can/cannot be added to a sub https://github.com/openfoodfoundation/openfoodnetwork/issues/2243

[2018-07-13 05:06] #1065 closed

[2018-07-13 05:12] sstead commented on #1413
Messaging is now fine.

[2018-07-13 05:12] #1413 closed

[2018-07-13 05:18] sstead commented on #1489
Fixed:
"As noted in #1488, should there be a confirmation before the order is cancelled?" - there is an 'are you sure'
Date of order is no longer incorrect.

[2018-07-13 05:18] #1489 closed

[2018-07-13 05:19] #1403 closed

[2018-07-13 05:20] #1400 closed

[2018-07-13 05:42] kirstenalarsen opened #2465 "Missing translation - enterprise viewing customers subscription"
I'm not sure how we deal with missing translations? Is there something I can do to fix this? @mkllnk @myriamboure
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/f52fd72d-7482-4c95-a7d5-383b6c990c75)

as an Enterprise, go to Orders, Subscriptions and open up a Customers 'Orders' tab

![image](https://user-images.githubusercontent.com/2911176/42674523-6e8e8572-86b3-11e8-8

[2018-07-13 06:39] myriamboure commented on #2461
@RachL would you like to work a bit on the UX on that small thing, to specify properly what we expect? So that it's ready to fix if some new dev comes onboard :-) In UX also the fact that it searches only the letter in order is a bit annoying, like if you don't remember the name of the product exactly as you wrote it you will not find it...

[2018-07-13 07:46] mkllnk opened #2469 "Replace PhantomJS with headless Chrome"
We see a lot of test failures on our Continuous Integration servers. Some of them could be related to PhantomJS not being very consistent and reliable.

## Description

Rob has been working on using headless Chrome instead of PhantomJS for our feature tests. I thought that was a really good idea, but it is actually a lot of work to change our tests to work with Chrome. I'm also wondering if Chrome

[2018-07-13 07:50] myriamboure commented on #2464
I'm not sure @kirstenalarsen about this one, as this depends on the number of outgoing ditributors you have in the OC, you need to set this up those for each distributor. If you have more than one (80% of cases in France for instance) that becomes impossible to manage from OC index.

[2018-07-13 09:11] myriamboure commented on #2410
@mkllnk @lin-d-hop what do you think about it? What I like with that solution is that the menu headers can be translated through Transifex as well so multilingual would work. It might not answer our later needs but it does the job for now. Don't you think? Can @luisramos0 move forward with that solution? Else do you have another idea?

[2018-07-13 09:13] myriamboure commented on #2465
@mkllnk is it a missing entry in en.yml file? If yes it should be pretty quick to fix... but we still need to ask someone to do it :-)

[2018-07-13 09:18] myriamboure commented on #1911
This is now fixed, you can check on any shop on Australian website which has the latest version https://www.openfoodnetwork.org.au/bawbawfoodhub/shop#/

[2018-07-13 09:18] #1911 closed

[2018-07-13 09:22] myriamboure commented on #1851
I tried to reproduce but I'm not able to reproduce the error, I'm closing it for now @sstead but reopen if you test and it is still here!

[2018-07-13 09:22] #1851 closed

[2018-07-13 09:34] myriamboure commented on #1361
@mkllnk is this still a problem? If yes do you want to specify the issue and what we could do with that? If a new dev can take it maybe if that's important...

[2018-07-13 09:39] myriamboure commented on #1348
This should be fixed now by https://github.com/openfoodfoundation/openfoodnetwork/pull/2298 @sstead please check if you still have an issue. For your info this PR is open to open hyperlinks in another tab so that it doesn't take users out of the OFN platform. https://github.com/openfoodfoundation/openfoodnetwork/pull/2384

[2018-07-13 09:39] #1348 closed

[2018-07-13 09:45] myriamboure commented on #1215
Just retested and this is still happening.

[2018-07-13 09:47] myriamboure commented on #983
Have we hear of any problem since May 2016? OK I will close that issue for now as it doesn't seem it has happened again, we will reopen if it does.

[2018-07-13 09:47] #983 closed

[2018-07-13 09:55] myriamboure commented on #925
@RachL @mkllnk here is another behavior connected to the way we treat deletion. We need to have some standardized way to treat them throughout our system. So the rule would be:
- by default when you try to delete: confirmation pop-in
- that should be for both single and bulk actions
- then we can have a  feature to enable the user to choose not to be asked for confirmation when she deletes items (

[2018-07-13 09:57] myriamboure commented on #880
We have not specified the need for now, a,and it doesn't seem like users are complaining about it, so I'm closing that issue for now. It is not a bug anyway so if it is a UX improvement should go through other process.

[2018-07-13 09:57] #880 closed

[2018-07-13 09:59] myriamboure commented on #865
I can't reproduce, it seems the issue is fixed
![capture du 2018-07-13 11-58-28](https://user-images.githubusercontent.com/8135376/42685749-21c11238-8694-11e8-9b5c-06cbd0bc2f2a.png)

[2018-07-13 09:59] #865 closed

[2018-07-13 10:00] myriamboure commented on #548
This needs to be retested.

[2018-07-13 13:11] #2464 closed

[2018-07-13 13:11] kirstenalarsen commented on #2464
ah cool - yes good point. let’s leave this one then. i’ll close it

[2018-07-13 13:14] kirstenalarsen commented on #2465
we’ve got write permission @myriam - perhaps we should just learn to do it :)

[2018-07-13 13:55] Matt-Yorkley commented on #2469
The issue with PhantomJS is that we're effectively testing our site with a broken, outdated version of a browser that nobody uses, and expecting the results to be useful. It's not great for integration tests if the thing the tests are interacting with doesn't even look like our site. Here's a visual example from Gitlab:

PhantomJS:
![phantomjs](https://about.gitlab.com/images/blogimages/moving-to-

[2018-07-13 14:41] lin-d-hop opened #2470 "[MobUX] Remove Hard Coded Height and Width in Banner Logos"
Banner logo height and width is hard coded. This means that it cannot be overwritten in CSS. As a result the logo does not scale on mobile.

## Expected Behavior
Banner logo height and width should be set within CSS, rather than in code.

## Actual Behavior
Banner logo height and width is hard coded.

## Context
This issue is blocking some quick win tweaks to mobile UX.

[2018-07-13 14:43] adam-conway commented on #2362
Hi there 👋. First time contributor here and I think I can get this button working! It doesn't look like anybody is currently assigned to it but if it's already being worked on, please let me know.

[2018-07-13 15:04] lin-d-hop commented on #2446
I have made an issues to remove the hard coded height and width from banner logos. #2470

[2018-07-13 15:23] myriamboure commented on #2362
Welcome @adam-conway ! Awesome, go for it, thanks a lot! :+1:

[2018-07-13 15:48] lin-d-hop commented on #2470
Hi @lilwillifo! Welcome!
Thanks for offering to take a look at this issue. Very happy to have your help on it.
If you have any questions setting up the dev env, with github, or with the issue itself feel free to ask on the dev channel of our Slack team:
https://openfoodnetwork.slack.com

[2018-07-13 17:43] #2412 closed

[2018-07-13 18:05] sauloperez commented on #2469
I see, it's like having no tests at all

[2018-07-13 22:17] Matt-Yorkley commented on #2410
We nned to set both the url and the link text, which is 2 fields, right? Hmmm... I'm not sure how well that would work with multilingual instances. If an instances has three languages, how would this UI work? Or do we just have a Transifex key for each link title? What if a different link was needed per language and per instance?

[2018-07-14 02:40] ssciolist commented on #2439
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-07-14 09:40] myriamboure commented on #1213
Ok I'm closing this as solution has been merged and alternative other solution has not been approved, the problem seems solved anyway so if we see performance issues we will open another issue.

[2018-07-14 09:40] #1213 closed

[2018-07-14 10:09] myriamboure commented on #2132
@sauloperez now that https://github.com/openfoodfoundation/openfoodnetwork/issues/2271 has been merged, is this issue fixed? Can we close it?

[2018-07-14 12:39] lin-d-hop commented on #2410
@luisramos0 @myriamboure I think that this system will also be hacked such that people can call the menu headers whatever they like in Transifex. So I wonder why specify 'About' 'Learn' 'Connect' 'Blog' 'Support' etc at all? Why not just put a maximum number of fields that users could assign whatever Label and URL they want?
Eg Repeat the following field options 7 times
Menu Label:
URL:

My main c

[2018-07-14 16:51] myriamboure commented on #2410
@lin-d-hop I thought about it but then realized with this proposal we cannot translate the menu header, which is a problem if multilingual is enabled in your instance (not talking about the url translation...). That's why I thought Luis solution was an easy fix for our current need. Just taking the existing tabs used with their English translation, so that we can then translate them in Transifex a

[2018-07-14 17:05] Matt-Yorkley commented on #2410
From experience I can say you'd be absolutely amazed by how horrible people will make a site look in order to squeeze random things they want into a menu.

[2018-07-14 17:15] myriamboure commented on #2410
Ok, I can hear that. So does anyone has another quick fix solution that enable us to not loose the translatability of the header menus?

[2018-07-14 23:36] Matt-Yorkley commented on #2312
This has been fixed now via Transifex updates. :+1:

[2018-07-14 23:36] #2312 closed

[2018-07-15 08:34] Matt-Yorkley commented on #2410
I didn't mean to slow things down with my interjections, just bouncing some ideas around. UK is very keen for a solution to this, even if its a basic one.

[2018-07-15 09:53] lin-d-hop commented on #2410
I think we can think of a way to do this while being able to translate.
We could have 7 holders and label them as such:
Menu 1: [MenuTitle1]
URL Input:
Enable Checkbox:

Menu 2: [MenuTitle2]
URL Input:
Enable Checkbox:

So the [MenuTitle]s are not input fields, but in-app text which acts as a holder and can then be translated in the input file. In the en.yml file we would see:
menuTitle1: Shop
men

[2018-07-16 02:28] mkllnk commented on #2410
Another quick fix idea: You can place localised views on the server to load different content: http://guides.rubyonrails.org/i18n.html#localized-views
There are four views affected though:

[code]

The real solution will be multilingual phase 2: make database fields translatable.

[2018-07-16 02:37] mkllnk commented on #1361
Yes, I can confirm that this is still a problem. I'll apply the issue template.

[2018-07-16 10:39] luisramos0 commented on #2303
Hi @rob @mkllnk, the PR #2336 fixed this specific issue and tested the move of translations in the en.yml without the need for new translations.
@mkllnk confirmed that "moving the other 8 was recognised by Transifex and it updates the translations automatically without a human needing to translate it again."
This was done only for step TYPE in the registration process.
So I think it's ok to have t

[2018-07-16 14:45] #2333 closed, assigned to myriamboure

[2018-07-16 14:48] RachL commented on #2440
@sauloperez the workaround is to apply filters so my guess is S4

[2018-07-16 14:53] sauloperez commented on #2443
Feel free to fix it @kristinalim

[2018-07-16 14:54] sauloperez commented on #2234
thanks @mkllnk

[2018-07-16 14:54] #2234 closed

[2018-07-16 14:55] sauloperez commented on #2359
I haven't tried `2-0-stable` lately. If you say it's ok let's close it. We can open it if it happens again.

[2018-07-16 14:55] #2359 closed

[2018-07-16 15:07] sauloperez commented on #2218
Wow @mkllnk that's more than I expected! can you please add a wiki page and reference it from https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-Upgrade-Themes ? that sounds like a good place to have, agree?

[2018-07-16 15:08] sauloperez commented on #2210
https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v1.16.0 is already live. You just need to deploy it in the french instance.

[2018-07-16 15:14] sauloperez commented on #2132
yep

[2018-07-16 15:14] #2132 closed

[2018-07-16 15:18] sauloperez commented on #2012
Before closing this I should

- [ ] Add the outcome of the spike to https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-Upgrade-Themes

[2018-07-16 22:54] luisramos0 commented on #2410
Hey, thanks for the feedback!
@mkllnk I didnt know about localized views. Interesting. I am not sure I want to go that way just for this fix....
@lin-d-hop thanks for your proposal! The only advantage of my solution is that it forces people to keep the menu similar across instances.

None of the options solves the problem of translatable URLs: I just realized the translatable menus is a problem fo

[2018-07-17 01:22] anon0mys commented on #2463
Hi @kirstenalarsen, I am a new dev and am interested in contributing! I noticed that this issue was referenced in a PR for another issue, but I am not sure if that PR fixes the issue. Do you still need someone to work on this? Thanks!

[2018-07-17 05:45] mkllnk commented on #2303
Yes, please. It would be great to clean up the translation file. Otherwise people just go with the flow and add to the mess.

[2018-07-17 12:48] #1384 closed

[2018-07-17 14:22] Matt-Yorkley opened #2480 "Order Cycle not saving on UK production"
We have an order cycle for an enterprise in the UK that fails to save, with the following message in the save bar:

![screenshot from 2018-07-17 15-14-11](https://user-images.githubusercontent.com/9029026/42822931-2ee2afd8-89d4-11e8-90b2-9947acaab5ca.png)

## Description
[Update 22/7 by Lynne]
This bug is affecting OCs that exist in a Schedule.

When the user replicates an OC that exists in a sche

[2018-07-17 15:15] Matt-Yorkley commented on #2480
Update:  we've now confirmed turning off subscriptions fixes the bug...

[2018-07-18 07:17] #2012 closed

[2018-07-18 12:26] RachL opened #2481 "[Product Import] Review csv template on landing page"
## Description
We have review the UX of product import to avoid confusion, reduce the number of clics, and try to find some consistency.
Here we want to tackle the template part which was before included in issue #2455
The goal is to have csv template with all possible columns.

## Acceptance criteria

Templates for product listings and inventories are accurate. Especially, the template for invent

[2018-07-18 12:31] RachL commented on #2481
@myriamboure @Matt-Yorkley can you update the google doc with the accurate liste of columns available ? Thanks :)

[2018-07-18 14:47] #2455 closed

[2018-07-18 14:47] #2465 closed

[2018-07-18 16:19] RachL commented on #925
@myriamboure I sure can start writing some rules. The question is where would it be the more useful ? A wiki here on github ?
FYI if you have several pop-ins appearing for confirmation (like if you do several single delete in a short period of time) your browser already ask you if you do want to see the popin or not. So I don't think we need to manage that.

[2018-07-18 17:02] luisramos0 opened #2484 "registration process - move translation keys into new structure"
## Description
To avoid having all translation keys at the root of the en.yml file. A new structure for translation keys was created for step TYPE of the registration process and lazy look up was used as much as possible.
The TYPE step was changed as part of issue #2303 where we confirmed that if translation keys are moved from root to a new place, if we keep the key text, transifex will pick up t

[2018-07-18 17:02] luisramos0 commented on #2303
ok @mkllnk, done.

[2018-07-18 19:45] lin-d-hop commented on #2480
Looks like StroudCo still can't update their order cycle. @OliverUK has reported this issue continues. @Matt-Yorkley not sure why it worked for you?

[2018-07-18 23:17] #2301 closed

[2018-07-19 01:09] mkllnk commented on #2218
@sauloperez I created individual pages for the upgrade themes to keep it a bit tidier. I think we need to create a task list from all this, possibly convert it into an epic.

[2018-07-19 01:54] oeoeaio commented on #2480
I'm struggling to replicate this locally. @Matt-Yorkley could you provide more detailed steps to reproduce? What exactly are you trying to update that causes this error to occur?

![screen shot 2018-07-19 at 11 49 14 am](https://user-images.githubusercontent.com/2067859/42916827-6ca130de-8b4a-11e8-90b7-09ee0041fecd.png)

[2018-07-19 02:12] kirstenalarsen commented on #2480
from my playing last week / earlier this week it seemed fine in aus prod . . but I wasn’t sure if maybe we’re running different versions

[2018-07-19 05:07] OliverUK commented on #2480
@Matt-Yorkley @lin-d-hop @oeoeaio please see here: http://recordit.co/UtiphbBRem

[2018-07-19 10:24] sauloperez commented on #2218
Yep, I think this deserves some sort of inception to then fit small isolated issues into https://github.com/openfoodfoundation/openfoodnetwork/issues/2216

[2018-07-19 10:56] #2206 closed

[2018-07-19 12:26] kirstenalarsen opened #2485 "Unfilled checkout panels default to Open in Mobile"
## Description

## Expected Behavior
When a Customer goes to the Checkout, any panels that require information to be filled in will default to open so that it is obvious that they have to enter information.

If the Customer is already logged in or logs in, and has shopped previously, this will most likely be the Shipping and Payment panels

If they are a new Shopper it will also be the Details and

[2018-07-19 12:39] kirstenalarsen commented on #2425
Hi @Matt-Yorkley - if you've got too much other stuff on and can't look at this can you recommend who else has been close to embedded stuff that would be well-positioned to pick it up? It might be quite a simple thing for someone who already has their head in it but arduous (and landmine-prone) for someone who hasn't?!

[2018-07-19 12:55] Matt-Yorkley commented on #2425
Ok I'll take it on this week.

[2018-07-19 12:58] kirstenalarsen commented on #2425
excellent disguised begging - thank you ;)

[2018-07-19 13:59] sauloperez commented on #2449
Since this is addressed in https://github.com/openfoodfoundation/spree/pull/7 which is another repo, I can't connect both in Zenhub :sob:.

[2018-07-19 14:08] sauloperez commented on #1670
Some of the ideas of this issue might be useful but this is way to old and we changed the approach for the upgrade since then.

[2018-07-19 14:08] #1670 closed

[2018-07-19 14:11] HugsDaniel commented on #2449
Do you want me to open an issue on openfoodfoundation/spree ?

[2018-07-19 22:53] #2338 closed

[2018-07-19 23:06] luisramos0 commented on #2404
ok, thanks. I'll let you know in a few days when I get to set up Matomo.

[2018-07-19 23:10] luisramos0 commented on #2427
Hi @myriamboure I am sorry but I cant recall what was this issue for.
Is this related to creating documentation around best practices like this?https://github.com/openfoodfoundation/openfoodnetwork/wiki/Code,-the-way-we-do-things

[2018-07-20 02:19] #1667 closed

[2018-07-20 05:32] kristinalim commented on #1535
The enterprise index page for admins has a different set of action links:

![20180720132627-admin-enterprise-index-links](https://user-images.githubusercontent.com/2243/42984733-a150a4dc-8c20-11e8-94ab-d4801d846ba1.png)

I think these small, related changes should be done as well:

1. **Also rename the "Edit Profile" link to "Settings".** This leads to the same "Settings" page as the one for enter

[2018-07-20 06:52] mkllnk opened #2486 "Remove New Relic"
Several admins voiced that they don't like New Relic being in our code. A poll on Slack showed that nobody is using it any more:
https://openfoodnetwork.slack.com/archives/C0DNLAZC7/p1531802988000065

## Description

Removing New Relic make our dependencies smaller and avoids some confusing log output of the application. Skylight is the new New Relic.

## Expected Behavior

New Relic is not there.

[2018-07-20 14:00] ssciolist commented on #2439
Unfortunately, I’ve had to drop this issue from my to-do list. Sorry about that, and hopefully someone else will be able to pick this up!

[2018-07-20 14:50] Matt-Yorkley opened #2489 "DB Backups not being rotated"
## Description
One of our instances had an issue today when their disk space ran out. The culprit was daily database backups going back to February at ~90mb each.

## Expected Behavior
Backups should be removed when they reach a certain age.

## Actual Behavior
Backups are made every day and kept indefinitely.

## Steps to Reproduce
1. Have an OFN instance
2. Wait
3. Look in the `/backups` folder

[2018-07-20 15:07] luisramos0 commented on #2489
👍
on offrance it will be something like this:
find '/home/offrance/apps/openfoodnetwork/backups' -mtime +44 -type f

and then
find '/home/offrance/apps/openfoodnetwork/backups' -mtime +44 -type f -delete

[2018-07-20 15:13] sauloperez commented on #2486
![](https://media.giphy.com/media/3o7btXkbsV26U95Uly/giphy-downsized.gif)

[2018-07-20 15:19] Matt-Yorkley commented on #2489
Hmmm... there's a bit of a sysadmin standardisation clash here, as that shouldn't be the path to the backups folder. Maybe we should deal with the OFFrance server migration before implementing this in the main repo?

[2018-07-20 15:20] Matt-Yorkley commented on #2489
Also pau suggests using the system utility `logrotate` fro this.

[2018-07-20 15:22] RachL opened #2490 "[Product import] validation check to see if the enterprise is enabled as a producer"
## Description
Issue #2456 made it possible to not save info while doing an import and having errors. This issue aims at tackling the error of importing product to a non-producer enterprise.
Two main tasks :
1. Check if enterprise in product file is a producer
2. If not, display an error

## Acceptance criteria
![capture du 2018-07-12 09-34-10](https://user-images.githubusercontent.com/8135376/426

[2018-07-20 16:33] luisramos0 commented on #2401
Screenshot of the new cookies policy page:
<img width="1234" alt="screen shot 2018-07-20 at 17 32 28" src="https://user-images.githubusercontent.com/1640378/43014090-f1b219de-8c42-11e8-8f09-88f5396862e0.png">

[2018-07-20 16:37] luisramos0 commented on #2406
This is the current legal settings screen:
<img width="384" alt="screen shot 2018-06-29 at 14 25 56" src="https://user-images.githubusercontent.com/1640378/42094665-64ce7ca6-7ba8-11e8-8c69-663955a4421a.png">

[2018-07-20 21:19] luisramos0 opened #2491 "Selected LOCALE is not maintained with navigation"
## Description
If you add a product to the cart on the Portuguese site, it switches to Spanish as you visit the cart.

- go to shop in Portuguese https://alpha.katuma.org/quinta-de-silvares-vizela/shop?locale=pt
- select an order cycle
- add a quantity
- click Edit Cart "Editar carrinho"
- the destination page is a page in spanish

## Expected Behavior
Should keep user language: portuguese in this

[2018-07-20 22:58] luisramos0 commented on #2242
Hey @myriamboure yes, I think I have everything I need.
The main feature is complete and in Code Review here:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2411

What's missing:
- add GA and Matomo text to cookies policy page (according to what is configured in the BO): part of this: https://app.zenhub.com/workspace/o/openfoodfoundation/openfoodnetwork/issues/2401
- do not use GA (if

[2018-07-21 14:43] luisramos0 commented on #2242
Interesting integration of spree with piwik, may be good to have a look as we improve integration with piwik in terms of e-commerce tracking:
https://github.com/berkes/spree_piwik

[2018-07-21 14:44] luisramos0 commented on #2404
Interesting integration of spree with piwik, may be good to have a look as we improve integration with piwik in terms of e-commerce tracking:
https://github.com/berkes/spree_piwik

[2018-07-21 17:03] luisramos0 commented on #2400
From my simple test right now, this is already the current behaviour. When user logins and checks "remember me", a cookie is set. When user logs out, that cookie is deleted.
In Chrome Dev Tools on tab Application, you can see the cookies that are set to test this.

[2018-07-22 10:09] lin-d-hop commented on #2480
@oeoeaio I've investigated this and added a lot more information as to the cause. Note there is a workaround (described in the bug desc now) but this is a blocker for SO release. Hopefully not a hairy one!

[2018-07-22 12:47] Matt-Yorkley opened #2494 "Defult locale not used in admin on UK prod"
## Description
On UK production we have the locale set to en_GB for our translations. This is not being used in admin, so we see labels like "Charges GST?" instead of "Charges VAT?". I think this applies in a number of other places, like invoice templates as well.

## Expected Behavior
Localised strings should be shown in admin.

## Actual Behavior
Default strings for en.yml are shown.

## Steps t

[2018-07-22 12:51] Matt-Yorkley commented on #2494
Actually, it's not just admin, it's the front end as well... :/

[2018-07-22 12:56] lin-d-hop commented on #2494
@Matt-Yorkley this means that there was an issue with asset recompilation after the last deployments. This hasn't happened for a while so possibly related to your changes in ofn-install. Logging in and recompiling assets will fix in the short term.

[2018-07-22 22:47] #2470 closed

[2018-07-22 22:54] #2456 closed

[2018-07-23 08:38] myriamboure commented on #2489
Ok let's do that, @pacodelaluna we talk when you come back in the coming days to plan the server migration, and then we can move this one forward. Thank you all for your support and investigation!

[2018-07-23 09:19] #2486 closed

[2018-07-23 10:31] #2052 closed

[2018-07-23 11:14] sauloperez commented on #2449
Not needed now but we will next time.

[2018-07-23 11:20] #2449 closed

[2018-07-23 11:56] sauloperez opened #2497 "[Spree 2 Upgrade] undefined method `zone_id` for ShippingMethod"
## Description
While trying to create a shipping method from `/admin` I got the following error in the Rails server:

[code]

It seems like the `zone_id` column was moved out of the `spree_shipping_methods` table.

## Expected Behavior
Shipping methods can be created from `/admin`. This deserves some initial investigation which might change the scope of this issue. It could be harder than a simple

[2018-07-23 12:59] RachL commented on #2313
This is resolved in https://github.com/openfoodfoundation/openfoodnetwork/pull/2474

See testing notes in there for more info :) So I'm closing this one.

[2018-07-23 12:59] #2313 closed

[2018-07-23 18:01] sauloperez commented on #2491
Assuming we already have the means to persist the user's language preference, it would just be a matter of persisting it also when the user starts the checkout process. How does this sound?

[2018-07-24 00:31] #589 closed

[2018-07-24 00:31] #2440 closed

[2018-07-24 00:34] #2452 closed

[2018-07-24 08:52] Matt-Yorkley commented on #2460
Closed via #2474

[2018-07-24 08:53] Matt-Yorkley commented on #2460
Closed via #2474

[2018-07-24 08:53] #2460 closed

[2018-07-24 11:10] lin-d-hop commented on #2480
Ping @oeoeaio
We've had this reported now by people that have never turned on SO now. The only people that have reported are people that have very large order cycles. So I wonder if this is related to additional resource required by SO simply being turned on, that manifests in an async issue between angular and rails.

From Sara @ Tamar:
I can clone and create and change and update an OC for the f

[2018-07-24 14:15] myriamboure commented on #2410
I'm not tech but that sounds cool @luisramos0 ! Would solve the redirections multilingual issues! What do you think @mkllnk @lin-d-hop @Matt-Yorkley ?

[2018-07-24 14:29] Matt-Yorkley commented on #2410
Actually there's another issue, but maybe it's one for `ofn-install`. If each menu item has a checkbox to activate we'll have to set some defaults for which ones are checked, and also have a way for instances to set their (non-default) preferences for each one...

[2018-07-24 23:20] oeoeaio commented on #2480
Thanks @lin-d-hop @Matt-Yorkley. I am still unable to reproduce this locally or on Aus production. Locally, I have been trying various combinations of things that have been demonstrated/suggested above using UK production data (StroudCo and Tamar) for about two hours...

If anyone thinks they can reproduce this consistently, it would be great to use chrome's dev tools to look at the response to th

[2018-07-24 23:43] lin-d-hop commented on #2480
@oeoeaio Would it be possible to try copying UK prod? Stroudco are reporting consistent errors. I have relabelled s2.

[2018-07-24 23:47] lin-d-hop commented on #2480
@oeoeaio JSON response is 500 error as you expect.
This happened when I changed the Close Time of OC from 7:30am to 7:31am.

[2018-07-25 00:01] kirstenalarsen commented on #1535
@kristinalim I'm ok with the above - @myriamboure @sstead ??

[2018-07-25 00:57] oeoeaio commented on #2480
@lin-d-hop I have been working with a copy of UK prod on my local machine. Is that what you mean? If you inspect the preview of the response, does it give you any errors, or any data at all? The 500 error is a start but it's not much to go on...

[2018-07-25 01:00] lin-d-hop commented on #2480
I suspect there is a race condition or memory issue and hence you aren't finding it locally. It is only happening on our large OC.
No data in response.

[2018-07-25 01:01] lin-d-hop commented on #2480
![screenshot from 2018-07-25 02-01-11](https://user-images.githubusercontent.com/8669848/43173815-ad41d6a8-8fae-11e8-9368-24e1ac58c46c.png)

[2018-07-25 01:05] lin-d-hop commented on #2480
Maybe I need to up a response timeout somewhere...?

[2018-07-25 03:22] oeoeaio commented on #2480
What does the `Preview` tab say?

[2018-07-25 06:59] lin-d-hop commented on #2480
500 error message
![screenshot from 2018-07-25 07-59-17](https://user-images.githubusercontent.com/8669848/43184494-b0177036-8fe0-11e8-816c-070b578202e0.png)

[2018-07-25 07:12] oeoeaio commented on #2480
Gah, wow, we really have nothing to go on. I'll keep thinking...

[2018-07-25 08:13] sstead commented on #1535
Yes looks good thanks

[2018-07-25 08:46] sstead commented on #1414
Here's the outstanding issue - https://github.com/openfoodfoundation/openfoodnetwork/issues/2462

[2018-07-25 08:47] sstead commented on #1402
Duplicated here https://github.com/openfoodfoundation/openfoodnetwork/issues/2462

[2018-07-25 08:47] #1402 closed

[2018-07-25 13:10] #2425 closed

[2018-07-26 02:08] kirstenalarsen opened #2501 "[Product Import] Add SKU check to validation"
## Description
When doing a Product Import the template includes a field for SKU
If this field is left blank the import fails
Apparently if the column is removed it will pass (I haven't checked this) but there isn't a way for user to know

## Expected Behavior
If import file contains SKU column and cells are blank, the User should be informed at validation stage and advised to either enter SKUs or

[2018-07-26 03:50] mkllnk commented on #2410
It's not great, but pragmatic. I wish we had time for a better solution.

[2018-07-26 04:08] mkllnk opened #2502 "Inventory show "loading" instead of products"
When switching shops in the inventory as super admin, there is a Javascript error that stops the products from showing properly.

This problem seems to be only with certain enterprise permissions, currently on https://staging1.openfood.com.au/admin/inventory.

More info: https://github.com/openfoodfoundation/openfoodnetwork/pull/2389#issuecomment-404737942

## Expected Behavior

The loading messag

[2018-07-26 04:09] #436 closed

[2018-07-26 09:11] Matt-Yorkley commented on #2480
It's saving now, what's changed?

[2018-07-26 09:16] lin-d-hop commented on #2480
Nothing. Resource load?

[2018-07-26 09:21] Matt-Yorkley commented on #2480
I'm not sure about that though, there were OC's with more products than the troublesome one that were saving correctly.

[2018-07-26 12:58] OliverUK commented on #2480
I too can now save my OC even when it's already open.

[2018-07-26 13:15] myriamboure commented on #2430
@kirstenalarsen I don't think this should be part of release plan of subscription. This should be part of another "unmet need" which would be "make order cycle duplication easier for hub managers". I would suggest we take it out of subscription epic, it is another focus point IMO and subscription doesn't need that to be fully released. I took the liberty to rename ;-)

[2018-07-26 20:13] luisramos0 commented on #2410
@Matt-Yorkley I am not sure I understand the problem you mention. I can just set the defaults in the code. After the install (which happens once for each instance), all a instance manager has to do is to go to the backoffice and set the menu they want with the checkboxes. Right?

[2018-07-27 01:19] oeoeaio commented on #2439
Ah! Just saw this. Not copying the schedule was not an oversight or a mistake. I did that deliberately to avoid order cycles being mapped onto a bunch of subscriptions unintentionally because the user did not pay attention to which schedule applied. I agree that there is an issue with UX, but I think the proposed solution of such copying across the schedule is not that great either.

[2018-07-27 01:38] sstead opened #2505 "[Subscriptions][Stock] If I edit a subscription while open, I can go into negative stock levels"
## Description
I'm a shop manager and I have an open order cycle with open subscription orders attached. A product is on zero stock. I edit one of the open susbcriptions, to add this item to the subscription. The stock level goes into negative values, even though my instance is set to not allow backorders. The sub order will be confirmed with this product in it at the close of the OC.

## Expected

[2018-07-27 01:39] oeoeaio commented on #2463
@kirstenalarsen I'm not sure this is needed? I can see two cases where an OC does not belong to a schedule and so has 'None' in the schedules column:

1. The schedule that you want to add the unassigned OC to already exists. In this case, there must be other order cycles assigned to it, as you cannot have an empty schedule. Therefore, you can just click on another reference to it elsewhere in the

[2018-07-27 01:40] oeoeaio commented on #2463
As I have said in a couple of different places, I think we just need a dedicated schedules index. Attempting to squeeze them into the order cycles index was a nice idea, but I think it's going to be tricky to get the UX to the point that we are happy with it.

[2018-07-27 02:26] sstead opened #2506 "Prompt person to login if they use a link to an order and they are not logged in already."
## Description
If someone tries to access their order via a link of this format while logged out... https://staging1.openfood.com.au/orders/R244060841 ... they currently see an 'unauthorised' message.
![image](https://user-images.githubusercontent.com/10843056/43298218-6778f05c-9198-11e8-81c6-3997f20ee2be.png)
Instead of this, could we prompt them to login?

This is important for subscriptions, be

[2018-07-27 02:45] sstead opened #2507 "FrontOffice - Edit Completed Order - If product stock level is zero, customer can't adjust quantity"
## Description
I'm a customer with a subscription. In my order I received QTY 4 of a product, these were the last 4 in stock, there's now an on hand value of zero for that product. I, the customer, go to edit my order (because my shop allows me to) as I only now want 2 of that product. I find that I can't change the qty and see an error message 'there is zero in stock'. I should be able to reduce

[2018-07-27 03:00] sstead commented on #2243
@oeoeaio as just discussed, lets either put a warning in place, or just have no restriction on which items can be added to a sub (anything that can be stocked in their shop can be put in a sub).

[2018-07-27 06:23] kirstenalarsen opened #2508 "Subs: Prevent Enterprise from creating subscription for Customer that isn't a User"
## Description
An Enterprise can create a Customer without creating a User.
This means that they can then create a Subscription for a Customer that is not a User.
This means that when that subscription is turned into an order, the Customer receives an email telling them their order has been created and gives them a link to edit their order.
When they hit that link they get an 'unauthorised' page.

[2018-07-27 06:31] kirstenalarsen commented on #2439
ok, point taken @oeoeaio. I will close this issue and make change to the User Guide that advises people to clone all the order cycles first and then open up the scheduler and add them to the Schedule - rather than opening the order cycle to change the schedule.

[2018-07-27 06:31] #2439 closed

[2018-07-27 06:40] myriamboure commented on #2508
I think we need to investigate different ways to solve that issue.
- **Option 1:** a hub manager can't create a subscription for a customer that is not a user (what you propose above). I wouldn't vote for that option as it make life of the hub manager harder as they need to explain the user how to create an account and make sure they do it. We experienced that for private shop feature, it is prett

[2018-07-27 06:50] myriamboure commented on #2400
@luisramos0 in this comment https://github.com/openfoodfoundation/openfoodnetwork/issues/2240#issuecomment-395612296 @mkllnk said he didn't see any action that would delete the remember me cookie before the 12 days automatic deletion period. So if your test found other results, can you confirm @mkllnk the behavior identified by Luis? In that case you can just close that issue :-)

[2018-07-27 07:08] sauloperez commented on #2410
I agree with @mkllnk. I feel like in the rush to fix this individual problem, we're increasing a lot the complexity of the UI for something that looks more like low-level configuration to me. It looks to me as if we were implementing WordPress: everything can be controlled by the UI and that's not the most maintainable approach.

I hope one day we can sit and go through the pros and cons and find

[2018-07-27 07:13] myriamboure commented on #2404
I'm closing that issue for now as we have taken the decision to start with using Saas version of Matomo to start with.

[2018-07-27 07:13] #2404 closed

[2018-07-27 07:15] myriamboure commented on #2242
And add the opt-out iframe from Matomo in the cookie policy page. Also is the dynamic adaptation on that page already working @luisramos0 ? Like if instance use GA or Matomo some parts aren't visible?

[2018-07-27 07:17] myriamboure commented on #843
Closing this one as being addressed in the epic https://github.com/openfoodfoundation/openfoodnetwork/issues/2242

[2018-07-27 07:17] #843 closed

[2018-07-27 09:40] luisramos0 commented on #2406
Latest view on the screen with flexible analytics parts on the policy page. The checkboxes will show/hide the Analytics parts on the policy page:

<img width="374" alt="screen shot 2018-07-27 at 10 38 52" src="https://user-images.githubusercontent.com/1640378/43313927-52b37c00-9189-11e8-8b87-f7458ee4d6da.png">

<img width="744" alt="screen shot 2018-07-27 at 10 38 21" src="https://user-images.gith

[2018-07-27 09:40] luisramos0 commented on #2242
yes, correct. I need the matomo account setup before I add the Matomo opt-out iframe. Let me know when you have the matomo account ready so I can go there and check the optout part.
Yes, the cookies policy page is already flexible, I added screenshot [here](https://github.com/openfoodfoundation/openfoodnetwork/issues/2406#issuecomment-408368113).

[2018-07-27 09:47] luisramos0 commented on #2404
As we start using matomo, we will only have page views and generic numbers, no ecommerce stats.
This would not include dashboard for users, only matomo stats @myriamboure . This integration marks events on the platform about checkout process, etc and those events statistics can be seen in matomo.

[2018-07-27 09:55] luisramos0 commented on #2410
I am not sure I understand your point @sauloperez.
I feel the solution is kind of simple and gives the users quite a lot of flexibility to configure their menu.

I think that is good! The website will be an CMS one day. It should be configurable by users/managers as much as possible.

[2018-07-27 10:13] myriamboure commented on #2410
Ok so let's move forward? It seems there is kind of a lazy (not 100% happy but still) consent? if there is still any objection please raise your voice, else let's do it!

[2018-07-27 10:31] luisramos0 commented on #2410
thanks @myriamboure I think there is consent and we can move forward (I may have some time for this today) but I would like to understand what @sauloperez and @mkllnk are not happy about. If I understand maybe I can make it more aligned with what they think.

[2018-07-27 11:37] myriamboure commented on #2351
Fix has been merged but not yet tested, waiting to know what to do.

[2018-07-27 11:55] myriamboure commented on #2463
Ok so from what I understand I guess we can close that issue for now (@kirstenalarsen you closed the other one so I hope that's fine with you, reopen if that's not!) and ask @RachL to have a look at a UX improvement about the subscription flow regarding schedules management especially? And make some proposal based on Rob's suggestion? But that can be planned for iteration 2, subscription works as

[2018-07-27 11:55] #2463 closed

[2018-07-27 11:57] myriamboure commented on #2463
Or if we want to have Yuko work on the subscription UX that's another idea. I think we first need to do a bit more of inception about CSA needs though as some things in the current logic will probably change a bit.

[2018-07-27 12:03] myriamboure commented on #2506
Waiting for decision to be taken in https://github.com/openfoodfoundation/openfoodnetwork/issues/2508, so not yet in dev ready.

[2018-07-27 12:05] myriamboure commented on #2508
So @sstead proposal here https://github.com/openfoodfoundation/openfoodnetwork/issues/2506 corresponds to option 2. If we all agree that's what we want to do I suggest we close that issue and keep the other one, but specify it a bit more clearly, especially what message exactly get sent when and what it triggers on system side at which moment. This is definitely a bug for release one of subs to wo

[2018-07-27 12:06] myriamboure commented on #2506
Changing bug level to s2 as well as from my understand we have done a soft release of subscription (am I right?) and this bug is preventing to basically use the feature and I don't see a workaround. But still in "analyse and define" as the solution is still under discussion, there are various options.

[2018-07-27 12:09] myriamboure commented on #2463
@anon0mys do you want me to point you to some other issue that you could work on? Be welcome to our community! Your contributions are most welcome :-)

[2018-07-27 12:14] RachL commented on #2463
@myriamboure I can have a look starting the end of next week. However, I need to dive into subscriptions as I didn't tested it properly. Can you point me to the original spec ? Also is first release already released ?

[2018-07-27 12:30] myriamboure commented on #1535
Yep looks good awesome @kristinalim ! Go for it!

[2018-07-27 12:54] myriamboure commented on #925
Ok I changed the issue description given the discussion above. Is the solution proposed fine with you @sineadfenton ? @sauloperez ?

[2018-07-27 13:08] myriamboure commented on #2427
@luisramos0 from my understanding it was to check if there needs to be any wiki update linked to the new feature, so you will for instance add a page on Matomo configuration maybe for new instances who join the OFN and want to get their data analysis? Also I think from the discussion we had with @Matt-Yorkley for product import he was talking about adding some class documentation comments...  I ha

[2018-07-27 13:10] RachL commented on #2396
@myriamboure why not create all the issue we've spoken of (email, bulk printing...) under this epic and just move the bulk invoice printing issue in the pipe ASAP ? Does an entire epic have to be prioritize to make it through the pipeline ?

[2018-07-27 13:36] Matt-Yorkley commented on #2410
I don't think we're "building Wordpress" here, we're cleaning up an issue that has resulted in 3 different instances using custom hacks to control their navigation links in a disorganised way (that currently  complicates deployments).

There's some complexity with multilingual and different links per language, and I think we're handling that with some fairly reasonable config options.

@luisramos0

[2018-07-27 13:37] RachL opened #2510 "[Bulk Invoice Printing] Add checkboxes and "print invoices" bulk action button"
### Description
**- As a:** enterprise user or a superadmin
**- On page:** admin/orders
**- I want to be able to:** Apply existing filters on order page, and choose single bulk action to generate in a new tab a PDF to print all corresponding invoices.
Note : as long as no order are selected, the print invoices button stays disable.

### Tasks

- [x] Add selectable checkboxes with Angular
- [x] Set

[2018-07-27 13:45] myriamboure commented on #2396
Well actually we have not prioritized the need of introducing bulk actions further than bulk invoice printing so I would only create one issue about filtering and having the action button with only "print invoices" as an option (as we said it was the easiest wait to answer the need to start with). We don't want issues to stand long in Github without a priorization work being done. We only create e

[2018-07-27 13:51] myriamboure commented on #2510
Do the PDF generation display in a new tab? I guess yes as when I print a single invoice, it opens it in a new tab and enable me to print it easily. For OCs with many orders (like 100 or 200) how would the system react? Will we reach a timeout?

[2018-07-27 13:54] myriamboure commented on #2510
In the new process what we said is that in the product feature backlog we create an epic for the feature candidate chosen in the brainstorming and value/ease matrix thing (and not anymore the for need, as we were doing until now...). If there is only one issue in the epic I guess we can only create an issue, or only an epic with no issue in it.

[2018-07-27 13:57] Matt-Yorkley commented on #2396
I think we should consider that there are probably a lot of bulk actions that would greatly improve the orders UI, so when we implement the bulk action for printing invoices we should do it in a way that will make it easy to add more bulk actions later.

Has there been an inception session on this, or is there one scheduled?

[2018-07-27 13:59] Matt-Yorkley commented on #2396
@RachL didn't you have some mockups with checkboxes on each row, and a "select all" checkbox? I think that's a good solution.

[2018-07-27 13:59] RachL commented on #2510
@myriamboure @luisramos0 I'm still hesitant on the filter part. Is it really clear for a user that when he/she click on a bulk action what he/she prints is what he/she sees on screen? I mean, with checkboxes at least it is 100% clear. Do you remember why we put checkboxes aside ?
The choice here will impact a lot of future features, as well as old pages.

Furthermore, I need a tech owner to look a

[2018-07-27 13:59] myriamboure commented on #2484
Ok I added some priority on this as it seems it's introducing some mess we don't want to keep in. @luisramos0 as you started the job and it works if you manage to fit it in between other things that would be cool ;-)

[2018-07-27 14:07] RachL commented on #2396
@Matt-Yorkley Yes that was the original idea, I would also be in favor of checkboxes rather than filters, but I can't remember why in Barcelona we've removed this idea...
And yes this involves bulkactions in general and how we make bulk actions. I would like a little discussion/inception as I've understood that the topic was not taken in Barcelona at the end.

@myriamboure if I understand your com

[2018-07-27 14:07] myriamboure commented on #2396
Actually @Matt-Yorkley we had a quick inception and wanted to build a quick fix so try to find the solution with minimum work and maximum value added, and adding the checkboxes seemed like a big job. I think we are ok about the feature candidate "enable bulk invoice printing", so if we feel there is a need for another proper inception session to discuss the different ways to implement it on both t

[2018-07-27 14:09] Matt-Yorkley commented on #2510
I'd like to volunteer to be tech owner on this one.

Browsers should all be OK with PDFs. If they can't display them directly in a tab they still allow for download and opening them.

I don't think we'll have a clear idea of a maximum threshold for orders/PDF size until we've made a basic implementation and tested it, but after it's in place we could definitely explore ways to make it more resourc

[2018-07-27 14:09] myriamboure commented on #2396
Ok so given your input @RachL I think we need to set up an inception session for that. And we should prepare on both tech and UX about how we see that working and different options. Yes I would say that the need is different from the one I orginally identified, and the various solutions I mentioned here are not adapted anymore, it's a different need.

[2018-07-27 14:12] myriamboure commented on #2510
I answered on the original reason why we removed checkboxes in the epic discussion, it was a quick fix, much quicker to implement with only filter. But I definitely agree that on a longer term we need the checkboxes. Great that you want to own this feature @Matt-Yorkley !

[2018-07-27 14:33] luisramos0 commented on #2427
ok!
thanks for reminding me that I should create some documentation around the matomo config we are doing right now! I'll add that to my todo list re matomo config issue.

[2018-07-27 14:37] luisramos0 commented on #2484
ok, but I want to get into the spree upgrade first :-D
Somewhere in August...

[2018-07-27 14:42] myriamboure commented on #2201
Please @kristinalim go on, as we didn't get any answer from @jdg006 since April so it's awesome if you can take it :-)

[2018-07-27 14:44] Matt-Yorkley commented on #2396
That sounds good. I think we need to add an extra filter for the orders page so the user can choose the number of results displayed per page. Currently the page loads about 20 records, and it's not possible to show any more.

The number of different filters there is already completely crazy, so I was thinking we could show a few of them initially on the page, and put the rest in an "advanced filte

[2018-07-27 14:53] myriamboure commented on #2481
I did it already @RachL just need a check by @Matt-Yorkley to make sure we are on the same page ;-) I kept in inventory all what is necessary to identify which product/variant we talk about in the system, and then the fields that can be modified through inventories.

[2018-07-27 14:57] myriamboure commented on #2396
Yes, cool, but if we have a session when we discuss together synchronously we should invite others who may want to join (open invitation). Else (and anyway) we should share the result of our proposal with the rest of the community to ask feedback/consent, as I did for cookies. For new features it's important to let some space for people to react and consent to avoid having to change it all afterwa

[2018-07-27 15:01] Matt-Yorkley commented on #2396
Of course! Lets discuss ideas and get some consensus.

We can look at examples from popular platforms as well on how to handle these UX issues.

![ui-bulk](https://user-images.githubusercontent.com/9029026/43328410-d2c51c60-91b5-11e8-8b72-3656fe993271.png)

[2018-07-27 15:01] anon0mys commented on #2463
@myriamboure I would definitely like to contribute! This is my first open source project, so maybe something that is good for a new developer?

[2018-07-28 09:43] Matt-Yorkley commented on #1308
Closed by #1609

[2018-07-28 09:43] #1308 closed

[2018-07-28 20:19] vanboingy commented on #2510
A method I've used in the past to get around generating potentially hundreds of PDF invoices (not in OFN, but another system) was to output everything as a single HTML document, then include CSS page breaks:
@media print {
    .invoice-wrapper {page-break-after: always;}
}
If you are then printing to paper, it will separate each invoice onto its own page automatically.  OR if you want a single mul

[2018-07-30 01:40] mkllnk commented on #2400
I just tested this again in Firefox and get the same result as @luisramos0. The cookie is deleted on logout. Great! Easiest issue ever. :-)

[2018-07-30 01:40] #2400 closed

[2018-07-30 01:55] mkllnk commented on #2427
On the ofn-install project we often add a checklist of wiki changes to each pull request. That is very helpful. Maybe we should add that to our pull request template.

[2018-07-30 02:11] kirstenalarsen opened #2511 "Subs: connect existing Subscription and Orders with User created after them"
## Description
There are a complex of issues connected to the case where a Hub adds a Customer that is not an existing confirmed OFN user, and then creates a Subscription for them. When the Customer tries to click the link to access their order they can't as they're not an OFN user. (#2506 will improve messaging and action on that link)

#2508 suggests that this case should be prevented by not all

[2018-07-30 02:12] kirstenalarsen commented on #2506
either #2508 or #2511 to make manageable within Subs v1

[2018-07-30 02:37] kirstenalarsen commented on #2508
hmmm. My issue here is with the line between bugs / issues preventing release of v1 and extension of the feature set. I am conscious of the tendency to scope-creep and never be able to tick the box on v1.

I think that option 2 would be the preferred one because i think that having a Subscription created in the system SHOULD require a User to be created. It doesn’t make sense to use a ‘guest’ for

[2018-07-30 03:51] mkllnk commented on #2511
We talked about connecting guest orders and newly signed up users before. The problem is that we can't assume that all guest orders for one email address actually belong to the same person. Email addresses can change owners like phone numbers.

There are many solutions to this problem, but the best solutions are also a lot of work. If you want a quick fix, it would be easy to not allow subscriptio

[2018-07-30 04:06] kirstenalarsen commented on #2511
Thanks @mkllnk and BANG I reckon you hit on a workable solution there - @sstead @myriamboure what do you think of Maikel's idea - just remove the text and link about amending your order if they do not have a confirmed user?

Gets rid of this problem for now and options in #2508 can be considered in Subs next steps?

[2018-07-30 04:44] mkllnk commented on #2427
Okay, I updated the issue and pull request templates.

[2018-07-30 07:36] myriamboure commented on #2511
OK it seems the same conversation is happening in 3 GH issue, it's a bit hard to follow... @kirstenalarsen  I understand your will to fix ASAP to make v1 work and have no objection if you want to remove the link about amending your order for unconfirmed users. But I'm also aware that on a longer term, if the user finally creates an account, their past orders will never be associated for any of the

[2018-07-30 07:37] sstead commented on #2511
It feels messy (in terms of being able to tell shop keepers and customers what to expect regarding viewing/editing subs) but if others like this approach, I support it as a short term thing.

________________________________
From: Kirsten Larsen <notifications@github.com>
Sent: Monday, July 30, 2018 2:06:53 PM
To: openfoodfoundation/openfoodnetwork
Cc: Sally; Mention
Subject: Re: [openfoodfoundati

[2018-07-30 08:19] mkllnk commented on #2511
There are two tasks here:

1. Prevent subscriptions for guest users. I'm not familiar enough with the interface to say how hard it is, but it seems small while the email text change is extra small.
2. Create a user account automatically when a subscription is created. This is helped by the recent work in the admin interface around creating users. I would see this as medium sized, not epic. But aga

[2018-07-30 09:53] myriamboure commented on #1613
@sstead can you confirm givern my latest comment? It's the kind of easy good first issue we can have a new dev working on quickly, just want to make sure it is well specified ;-)

[2018-07-30 09:54] myriamboure commented on #2463
Awesome @anon0mys ! Here are some issues that are bugs pretty prioritory (S3), and labeled as good first issues:
- https://github.com/openfoodfoundation/openfoodnetwork/issues/1361
- https://github.com/openfoodfoundation/openfoodnetwork/issues/2375
- https://github.com/openfoodfoundation/openfoodnetwork/issues/2112
- https://github.com/openfoodfoundation/openfoodnetwork/issues/2300
Please check on

[2018-07-30 23:41] #2433 closed

[2018-07-31 03:02] sstead commented on #1613
I don't have much preference regarding word choice between approved/authorised or  customers/shoppers . I'd prefer to avoid using the word 'members' by default on the Aus instance - few shops have membership requirements.

[2018-07-31 08:59] myriamboure commented on #1613
Ok, no worries then let's just keep it as it is for English master, then people can adapt on their own English locals.

[2018-08-02 02:54] #2007 closed

[2018-08-03 00:09] sstead opened #2513 "Shipping fees not updating when I create an order from the backend"
## Description
When you create an order in the backend there's a screen where you select the shipping method. When you first get to the page the first shipping method is selected by default and the charge associated with that shipping method shows. If I change to another shipping method with another fee the charge doesn't update.

If I select to use another shipping method, with the fee not update

[2018-08-03 00:50] sstead opened #2514 "PinPayments aren't working when applied in the backoffice (Edit/New)"
## Description
PinPayments is working in the front end - I can place a $2 order in a shop. (note this is a minimum spend for PinPayments)

In the backend I should be able to apply a Pin Payment charge to an order, either by editing an existing order, or if I manually create an order.

Here's the field I'm refering to:
![image](https://user-images.githubusercontent.com/10843056/43618117-02534dd6-97

[2018-08-03 05:25] #2310 closed

[2018-08-03 08:32] mkllnk commented on #2072
I commented on this on Discourse: https://community.openfoodnetwork.org/t/seed-data-development-provisioning-deployment/910/3

[2018-08-05 23:53] kirstenalarsen commented on #985
is this closed @mkllnk @myriamboure ?

[2018-08-06 07:26] sigmundpetersen commented on #985
No @kirstenalarsen, follow the connected PR to see state. There are changes requested from the reviewers.

[2018-08-06 13:33] RachL commented on #2510
Issue description updated with all lastest comments/brainstorms.

[2018-08-06 15:48] Matt-Yorkley commented on #2510
Just a small thing, could the bulk actions dropdown be near the top of the results table and not tucked away above all the filters?

[2018-08-06 15:54] RachL commented on #2510
@Matt-Yorkley I thought about this as well. However today the action button is always above the filters on other OFN pages. I'm happy if we change it, but it might be weird to have two places at the same time?

[2018-08-06 20:18] luisramos0 opened #2518 "[Cookies] Add Matomo opt out iframe to the cookies policy page"
## Description
To be legally compliant we have to add the Matomo opt-out iframe to the cookies policy page. This iframe will enable our users to opt-out of being tracked with Matomo.

## Expected Behavior
If Matomo integration is enabled in the backoffice, the cookies policy page should show a checkbox for the user to click that will disable all Matomo tracking in OFN for that specific user.

## C

[2018-08-07 06:55] daniellemoorhead commented on #1535
Hey again @kristinalim can you also assign yourself to any issues you pick up? Do you have the right permissions to do this?

[2018-08-07 07:02] kristinalim commented on #1535
@daniellemoorhead Thanks for assigning me to the issue! :-) I don't have permissions to do that myself, because I'm not yet a certified contributor yet as far as I understand.

[2018-08-07 08:12] mkllnk opened #2520 "[Spree Upgrade] Subs - Remove `process_payments!` override"
## Description

As summarised in https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-Upgrade:-Checkout-customisations, we backported functionality from Spree 2 into our code. With the Spree upgrade, we can get rid of the code: https://github.com/openfoodfoundation/openfoodnetwork/blob/32846af23019e4f00d0f7b5fdb1d9fb797641912/app/models/spree/order_decorator.rb#L327-L344

## Expected B

[2018-08-07 10:46] myriamboure commented on #2510
@RachL I think instead of offering the possibility to display 50/100 per page, or as a completent, I would add just on top of the list a clickable link "select all records (total number, i.e. 143)" that automatically thick all the checkboxes on all pages. And the link is then transformed to "deselect all records" which if I click deselect them all. I find it much easier than going through each pag

[2018-08-07 12:46] Matt-Yorkley commented on #2510
@RachL I think there's a distinction between actions being applied to selected items and general actions, so different positions is ok in this case? I think it would be a bit clearer for the user if the bulk actions being applied are near to the items being selected.

Also, with the results per page thing we should probably show a count of how many items there are, which we don't currently do. So

[2018-08-07 13:06] Matt-Yorkley commented on #2510
![img_20180807_135758-2](https://user-images.githubusercontent.com/9029026/43777540-067c4e82-9a4b-11e8-81b1-7280d5104c90.jpg)

[2018-08-07 14:01] Matt-Yorkley commented on #2510
There are a few issues we can make, and they can be smaller bitesized jobs, with individual PRs. I think breaking down the technical jobs in to small chunks is the best option wherever possible. I'd suggest these, in order:

- Recreate the Spree view without deface overrides (this is something we do now when making big changes to a page).
- Angularise the current Orders page (without adding new fe

[2018-08-07 14:37] myriamboure commented on #2510
If you look at the images from Vtiger I shared, the filters are below the bulk actions options... I don't know the good practice, just noticed that, and I find it pretty practical that way as a user personnaly. I'm afraid that we start moving bulk action below filters we have to review UX on all bulk action pages or our users might be disturbed, that worries me a little.

[2018-08-07 23:12] WalkingBlackBear opened #2522 "Rounding issue causing customer over-billing"
## Description

There is a calculation error happening, due to rounding. Here is the example, where I noticed it.

I have a 10% flat fee per item set up on our test hub, but on $0.50 in product, it’s charging $0.06 - when it should quite obviously be $0.05. Ditto the lettuce. The fee is on $5.25, but it’s charging $0.54, when even rounding up on $0.525 would be $0.53.

![image](https://user-images

[2018-08-08 00:42] kirstenalarsen commented on #2510
I think we should make a site-wide UX decision on where the bulk actions should be and then implement in this page and gradually throughout others. This is the ‘cleaning up the campsite’ approach to UX makeover and developing UX style-guide / decisions that people can look to and use - rather than more random decision within each feature change

@rachl do you have a view on where the bulk actions

[2018-08-08 11:04] myriamboure commented on #2522
Thank you @WalkingBlackBear for opening that bug! As we are all learning by peers'feedback, can I suggest 2 things:
- Just a slight suggestion, the expected behavior is not that fee is calculated in the cart, I think I want to see if I order 10 unity of a product, at the end of the line on the shopfront, the total amount I have to pay for that product, including the fee. Expected behavior would be

[2018-08-08 12:28] luisramos0 opened #2523 "[Spree Upgrade] Refactor OFN shop list to use API for add line items to cart"
## Description
Spree 2 has changed order.add_variant and a few more things in Order and OrderPopulator. See the [checkout customizations wiki page](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Checkout-customisations) for context.

We propose to move away from extending Spree code order_decorator and order_populator_decorator and re-implement this logic in OFN.
So, there should be a

[2018-08-08 12:40] luisramos0 opened #2524 "[OFN API evolution] Move Checkout json endpoints to API and decouple from Spree decorators"
## Description
Issue raised in Spree Upgrade discussions [here](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Checkout-customisations) but not really necessary for the Spree upgrade.
We should move checkout json endpoints to the API namespace.
Under /checkout, the checkout controller and checkout controller decorator should be merged.
Is the checkout_controller_decorator used anywhere

[2018-08-08 13:41] RachL commented on #2510
Ok, so here is a new proposition but please bear in mind that I'm doing this with no data on how the page is currently used so don't hesitate to shout if I'm doing something that no user would do on the OFN :)

To my knowledge, it is best when the button defining action is close or in the same area that the stuff it is doing an action on. So I would keep it close to the result rather than on top o

[2018-08-08 13:53] RachL opened #2525 "[Bulk invoice printing] Recreate the Spree view without deface overrides"
## Description

Part 1 of the Bulk Invoice Printing epic.

As a small issue in preparation for the Bulk Invoice Printing epic, we need to recreate our own views for the admin Orders page. This means taking the Spree view, applying anything from the deface overrides we have previously created, adding them together into new view file and deleting the old overrides.

## Acceptance criteria

A new vie

[2018-08-08 13:56] RachL opened #2526 "[Bulk invoice printing] Angularise the current Orders page"
## Description

Part 2 of the preparation for Bulk Invoice Printing, after #2525 is finished.

We need to change the admin Orders page so that the orders table uses angular instead of a plain Rails view, in preparation for adding more interactive functionality into the page.

## Acceptance Criteria

The Orders page is Angularised. The functionality should be the same as before, but working via Ang

[2018-08-08 15:28] luisramos0 commented on #2218
I guess this investigation is complete, right @mkllnk ? Can we close this issue?

[2018-08-08 15:59] RachL commented on #2230
@myriamboure @enricostano @sauloperez @luisramos0 @Matt-Yorkley @HugsDaniel  here are my notes from the last Barcelona's inception.

- **Workflow**: A user can modify an order till the order cycle is closed, then this order can only be modified by an admin until the delivery note is created (the order is locked once the delivery note is generated). Users (managers and superadmin) can edit a delive

[2018-08-08 18:06] Matt-Yorkley opened #2527 "[Bulk invoice printing] Add "results per page" dropdown to Orders page"
## Description

Part 3 of Bulk Invoice Printing, after #2526 is done.

Add a dropdown in the admin Orders page to enable the user to choose how many results they will see per page, like 25 / 50 / 100.

Also display some basic feedback about how many results have been found, alongside the dropdown, such as: "87 results. Viewing: 1 to 49".

## Acceptance Criteria

Admin/Enterprise users can select h

[2018-08-08 21:43] luisramos0 commented on #2410
ok, done.

In the en.yml file:
<img width="398" alt="screen shot 2018-08-08 at 22 34 42" src="https://user-images.githubusercontent.com/1640378/43865790-78544468-9b5b-11e8-9e16-b4008a5aa961.png">

In the Backoffice:
<img width="576" alt="screen shot 2018-08-08 at 22 34 55" src="https://user-images.githubusercontent.com/1640378/43865798-831dab14-9b5b-11e8-9953-33649d401a66.png">

In the Frontoffice