[2019-10-02 13:26] sauloperez opened #4349 "Avoid counting products before fetching them"
### What we should change and why (this is tech debt)

The EnterpriseShopfrontSerializer triggers the following two queries among its methods (still to determine which one)

[code]

We should avoid performing the former COUNT if we are about to fetch the data. Besides, COUNT queries tend to end up causing a sequential scan on the DB table which is the source of bad performance.

### Context

This

[2019-10-03 09:55] sigmundpetersen commented on #2187
Is this really linked to #2178 or is it rather #2176?

[2019-10-06 20:25] agustinariq commented on #4249
Hello! Can I work on this issue?

[2019-10-07 07:50] RachL commented on #4249
@agustinariq of course, you are very welcome to! However it might be something a bit difficult to tackle for a first issue. Don't hesitate to join us [on Slack](https://join.slack.com/t/openfoodnetwork/shared_invite/enQtNzY3NDEwNzM2MDM0LWFmNGRhNDUwYzNmNWNkYmFkMzgxNDg1OTg1ODNjNWY4Y2FhNDIwNmE4ZWI0OThiMGNmZjFkODczNGZiYTJmNWI) if you have any question!

[2019-10-07 10:38] #4312 closed

[2019-10-07 12:20] #4316 closed

[2019-10-07 13:33] agustinariq commented on #4249
@RachL Great! What I've done so far is to create a method in the ApplicationController to redirect unauthenticated users to the login page and then call it in a before_filter in the problematic controller.

What do you think?

[2019-10-07 14:22] #4251 closed

[2019-10-07 14:24] luisramos0 commented on #4239
happened here:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/900

[2019-10-07 15:56] agustinariq commented on #3832
Hello! I worked on this issue in https://github.com/openfoodfoundation/openfoodnetwork/pull/4354

[2019-10-07 15:57] lbwright22 opened #4355 "Product Stock Levels not Updating for Producer Shop - if product was added and then hidden from own inventory"
## Description

Burnt Edge Farm Produce in UK added a new product to their order cycle but it is not showing on the shop front even though it is in stock.
The enterprise has no products in their inventory and so shop stock levels are taken from master list.
The enterprise does not require products to be in the inventory to be listed on the shop front.
Similar issues have occurred in the recent pas

[2019-10-07 16:40] luisramos0 commented on #4328
oops, I staged master to staging FR and the problem is not there anymore. I don't understand why.
I think the best/faster solution is to prepare another release and see if the problem persists...

[2019-10-07 17:03] lin-d-hop commented on #4355
An additional note. We've experienced this in the UK on two different shopfronts. They are BOTH single producer shopfronts.

This seems relevant as we don't have many active single producer shops in the UK so it is notable that we have two with issues.

[2019-10-08 03:30] kristinalim commented on #4130
We can close this spike already. :+1:

[2019-10-08 03:30] #4130 closed

[2019-10-08 03:54] kristinalim commented on #4315
@sauloperez This is the thread where @lin-d-hop recommended to change it from 1 month ago (from my previous value of 1 year ago).

@lin-d-hop For context, @sauloperez prefers to be more conservative:

What do both of you think?

[2019-10-08 08:43] RachL commented on #4249
@agustinariq Thanks! I'm afraid I would be able to help you as I'm not a dev :) But maybe one of our @openfoodfoundation/developers can help you.

[2019-10-08 09:03] luisramos0 opened #4357 "release v2.5.2 Bear"
draft:
https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-24dd7384f989c05355ca

target commit:
https://github.com/openfoodfoundation/openfoodnetwork/commit/5077b0e625542cbbec3ee85ffb4b7503912fe98e

build:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/905

- [x] - draft
- [x] - test
- [x] - publish
- [x] - deploy

[2019-10-08 11:11] luisramos0 commented on #4249
hi @augnustin
I assume this is your attempt: https://github.com/agustinariq/openfoodnetwork/commit/003dc47792dd95c6d7d285a9217fd7975364312b

I think this will solve the problem, but I think we need to understand the problem.

I think this problem is only occurring in non spree controllers that inherit from  /admin/resource_controller
Pages under spree/admin/ that inherit from spree/admin/resource_

[2019-10-08 18:50] RachL commented on #4357
@luisramos0 I believe this is the first time we have a non-eatable release name :D

Anyway, everything looks good for new enterprises, but when I've tried to shop at [Mary's hub on Katuma](https://staging.katuma.org/mary-s-online-shop/shop), I hit the snail with this particular error: https://openfoodnetwork.slack.com/archives/CEF14NU3V/p1570553452060700 Wasn't this fixed previously? I can't find

[2019-10-08 23:30] mkllnk commented on #4249
Hi @augnustin!

Another really good strategy to make sure that it works is to first write a test that fails in the same way as described here in the issue. Then you apply your fix and see if it works. In this case, a controller spec would be good.

[2019-10-09 09:26] luisramos0 commented on #4357
staging katuma DB looks like a mine field for product deletions :-), most products are deleted...
what account did you use Rachel so I can check the products in the cart.

[2019-10-09 09:34] luisramos0 commented on #4357
I think this PR should have solved that as the problem comes from fetching a nil price of a variant:
https://github.com/openfoodfoundation/openfoodnetwork/pull/4242/files

There are no deleted prices for non deleted variants in the DB.
`select spree_variants.deleted_at, spree_prices.deleted_at from spree_variants left outer join spree_prices on (spree_prices.variant_id = spree_variants.id) where s

[2019-10-09 11:26] kristinalim opened #4360 "Shipping Category "Default" cannot be translated"
## Description

This is an issue after PR #4262 is merged.

The name for the default shipping category is "Default" for all locales, and cannot be translated through Transifex.

## Expected Behavior

Instances should be able to change / translate the name of the default shipping category.

## Actual Behaviour

If you update the name of the "Default" shipping category, for example to the local tran

[2019-10-09 12:27] kristinalim commented on #4194
@lin-d-hop Emails of OFN UK use G Suite, right?

There is a low limit for sending through SMTP:

https://support.google.com/a/answer/2956491#sendinglimitsforrelay

Could this be the issue? Do you see bounce emails in the inbox of the sender email account?

[2019-10-09 13:57] AndreiUngur commented on #4304
Hi :wave:
I have tackled this issue here: https://github.com/openfoodfoundation/openfoodnetwork/pull/4361 by using the relevant translations under `spree.(payment|shipment)_states`.

[2019-10-09 14:00] RachL commented on #4357
@luisramos0 spree@example.com but you will now get a direct snail when loggin in with this account.

I should have staged 4242 on Katuma :(

[2019-10-09 15:06] RachL commented on #4304
Hi @AndreiUngur welcome here and thank you so much for your contribution 😍 !

[2019-10-09 17:59] lin-d-hop commented on #4194
@kristinalim We use Sendgrid. So I dont think this is related.

[2019-10-09 21:11] kristinalim commented on #4194
Yes. Thank you, @lin-d-hop. I got confused from seeing Google in the SPF record and then my general lack of understanding about SMTP relay. :joy:

[2019-10-10 02:59] AndreiUngur commented on #3309
Hi :wave:

I've had a crack at this and realized the issue stems from our use of `textarea` for the registration form versus `text-angular` in the `admin/enterprises/<some_name>/edit#/about` view.

I felt like the `admin` view should give users the same editing capacities as the registration form, so I've instead fixed the problem by making the two fields identical (pictures below). Was this a goo

[2019-10-10 07:42] kristinalim commented on #4315
@lin-d-hop @sauloperez Then, would 2 weeks perhaps be better?

[2019-10-10 08:10] lin-d-hop commented on #4315
Is one month too long? To me this is perfect.

[2019-10-10 09:30] lin-d-hop commented on #4322
Is this specifically linked to the Weight Calculator?
I have a subscription that does not use the Weight Calculator that does not unpause.

Is the workaround to remove and recreate the subscription?

[2019-10-10 22:42] mkllnk opened #4366 "Reports show ghost variants"
## Description

Several reports, filtered by order cycle, show variants that are not in the order cycle. This happens after a product has been assigned to a different supplier. Changing the supplier has the affect that all variants of that product disappear from all order cycles. They are not shown on the order cycle edit page and are not shown in the shop front. But they are still connected to th

[2019-10-11 07:40] sauloperez commented on #4315
let's iterate then and see but we should find a proper way to track nb. of crashes vs total requests. Would you mind setting that up in Datadog @kristinalim ? I can lend you a hand.

[2019-10-11 13:50] Matt-Yorkley commented on #4194
Ok, it turns out the format for SPF records was changed slightly at some point, and the guides I looked at recommended the old version, which is now deprecated. I've updated it and the mx record checker now shows the SPF record correctly.

I'm looking at DKIM and DMARC now.

[2019-10-12 08:57] Matt-Yorkley commented on #4366
I didn't know products could change owner like that! I assume we are missing a lot of spec coverage here.

I know this is stepping into the network model a bit, but I feel like in the case of a change of ownership, a product should be copied to the new supplier and soft-deleted for the old supplier, so that records can remain accurate.

So for instance, if `Producer A` was selling a `Carrots` prod

[2019-10-12 09:52] Matt-Yorkley commented on #3853
Can we close this spike now that it's been investigated and issues have been created?

[2019-10-12 12:10] RachL opened #4369 "Soft delete variants is not handled when fees are calculated"
## Description
While testing the release I've noticed that I still couldn't reach Mary's hub with super admin account on Katuma staging.

@Matt-Yorkley comment on Slack:

This part where fees are calculated is doing some extra variant queries that maybe need to be looked at... it looks like `EnterpriseFeeCalculator#per_item_enterprise_fee_applicators_for`  might fail to return soft-deleted variant

[2019-10-12 12:12] RachL commented on #4357
@luisramos0 I've created a new issue to tackle this problem:

https://github.com/openfoodfoundation/openfoodnetwork/issues/4369

I suspect this already in production, so I guess we can move forward with the release.

[2019-10-12 16:09] Matt-Yorkley commented on #4194
Ok, we've got SPF, DKIM, and DMARC. I've set some monitoring as well so I'll be notified if there's any issues with bounces due to DMARC issues.

[2019-10-13 18:48] luisramos0 commented on #4194
I'd keep this issue for all OFN domains, au and fr are still broken:
For example https://mxtoolbox.com/domain/openfoodfrance.org/
https://mxtoolbox.com/domain/openfoodnetwork.org.au/

[2019-10-13 18:50] luisramos0 commented on #4357
ok, lets do it.

[2019-10-13 18:51] luisramos0 commented on #4357
released now, to be deployed tomorrow.

[2019-10-13 18:52] #4165 closed

[2019-10-13 18:54] #3649 closed

[2019-10-13 18:55] luisramos0 commented on #3857
🎉

[2019-10-13 18:55] #3857 closed

[2019-10-13 18:58] luisramos0 commented on #4322
yes, this is specific to Weight Calculator

[2019-10-13 18:59] luisramos0 commented on #4322
better create another issue maybe there's another bugsnag entry for your problem.

[2019-10-14 03:20] AndreiUngur commented on #4304
Sorry about that -- I'll have to let someone else tackle this one !

[2019-10-14 11:39] luisramos0 commented on #4355
there's high probability this is related to cache...
can we wait for the PR that removes the cache #4345 and see if this issue remains?
it's being tested now, it will probably be live in one week.

[2019-10-14 12:37] luisramos0 opened #4370 "Docker containers: Move DB reset code to container setup, not container start up"
From #4363, bootstrapping the database as part of the container’s command is not the best strategy (if for no other reason that this will wipe my database every time I run docker-compose up).

We should move this setup code to the container build step.

[2019-10-14 15:56] andrewjprice commented on #4105
@myriamboure mind if I work on this?

[2019-10-14 16:52] luisramos0 commented on #4328
I temporarily upgraded to S1 as I thought js was not being updated (the JS bundle file in FR production is from August 30th). I then confirmed the JS code has not changed since August.
so, it's only a translations problem. we keep S2.

It looks like that if the JS code is not updated, the js bundle is not updated and the new translations  are not picked up.
maybe there's some i18n-js config we cou

[2019-10-14 17:45] luisramos0 commented on #4256
this is effectively resolved by 4356, so I am closing it.

[2019-10-14 17:45] #4256 closed

[2019-10-14 17:55] luisramos0 commented on #4366
Matt, I think that is correct and necessary.
Instead of simply changing owner we need to clone and delete the product. The clone process needs to include the variants: the current product clone feature does not include cloning the variants.

[2019-10-14 17:57] luisramos0 commented on #4366
According to Maikels options above, I think this makes Option 3: we clone the product and delete the product. The deleted product can remain in the OC and it should be ignored.

[2019-10-14 18:01] luisramos0 commented on #4366
Are there real users experiencing this Maikel? If not, I'd make it S3.

[2019-10-15 08:27] #4357 closed

[2019-10-15 08:48] mkllnk commented on #4366
Yes, real users are experiencing this. Our biggest user in Aus and Theresa found inconsistencies as well.

[2019-10-15 09:03] #3853 closed

[2019-10-15 09:13] daniellemoorhead commented on #4355
Downgrading this to a severity 2 as it's only 1 customer experiencing this on 1 product. Should be fixed by the pagination, and this is going live on Monday.

@lin-d-hop and @lbwright22 feel free to dispute this if it doesn't seem right 🙂

[2019-10-15 09:34] lin-d-hop commented on #4346
Closing as less useful now pagination is in play

[2019-10-15 10:00] RachL commented on #4105
HI @andrewjprice and welcome :) Please do work on it! If you have any question, join us [on Slack](https://join.slack.com/t/openfoodnetwork/shared_invite/enQtNzY3NDEwNzM2MDM0LWFmNGRhNDUwYzNmNWNkYmFkMzgxNDg1OTg1ODNjNWY4Y2FhNDIwNmE4ZWI0OThiMGNmZjFkODczNGZiYTJmNWI)

[2019-10-15 12:29] luisramos0 commented on #4355
:+1:
probably "going live on Monday" if testing shopfront pagination goes well today/tomorrow.

[2019-10-15 13:26] luisramos0 commented on #4072
this will be closed by #4268

[2019-10-15 15:31] luisramos0 opened #4374 "Fix the 2 broken specs in Ruby 2.2.10 build"
### What we should change and why (this is tech debt)
OFN runs on ruby 2.2.10 but there are 2 broken specs that need to be fixed:

#### error 1
[code]
The result table is different in two columns:
- in 2.1.9 the column "invoice number" contains the invoice number "5" in every line while in 2.2.10, the column contains the order number (same as the following column "reference"). This is breaking the

[2019-10-15 16:08] daningenthron commented on #3910
Hi @RachL can you verify that 'Orders open at' and 'Orders close' should be mandatory? I see instances in the code where OCs are undated or partially dated, where one or more of these fields have null values.

[2019-10-15 20:29] kirstenalarsen commented on #4184
Hi, just dealing with a customer confused about missing customers this morning, and when I remove the dates completely all is fine. Just wondering why we didn't go with the 'just load nothing until they set filters' approach on this report? It seems the inconsistency is confusing? any thoughts

[2019-10-15 20:31] kirstenalarsen commented on #4184
but whichever way, I heartily agree that defaults need to include all of current day. This is 2nd confused user wondering why some customers are missing

[2019-10-15 20:34] lin-d-hop commented on #4184
Because this report is slow and was timing out. The fix to limit data loaded is useful, but there was an error in implementation that wasn't picked up in testing.

[2019-10-15 21:51] kirstenalarsen commented on #4184
yep cool. just noting that the way we fixed this in say Order Cycle - Customer Totals was to load NOTHING until filters were set, so is really clear to user that they need to set the filters as they want them. So is just a bit potentially confusing for users that some reports require all desired filters to be set, and some require some to be cleared / checked. Not a biggie, just noting inconsisten

[2019-10-15 21:56] lin-d-hop commented on #4184
Yes. Agreed. Another case of fixing something that's broken rather than refactoring the whole report or reports section. 'Cos agile is how we roll.

Perhaps a wishlist item about unifying reports UX would be a better place to have this discussion?

[2019-10-16 07:49] sauloperez commented on #4346
I wouldn't close it. We can agree on postponing it because pagination might mitigate the issue but the issue is still there and needs to be solved some day.

[2019-10-16 08:06] RachL commented on #3910
Hi @daningenthron my bad indeed those fields are not mandatory yet. Let's focus here only on those who are. I will update the issue.

[2019-10-16 12:32] kristinalim commented on #4315
@sauloperez Is this what you had in mind? :slightly_smiling_face:

* Chart 1: Total Requests vs HTTP 502 (Bad Gateway) + HTTP 504 (Gateway Timeout)
* Chart 2: Max Response Time vs Mean Response Time vs Median Response Time

![20191016202725-orders_and_fulfillment_report_monitoring](https://user-images.githubusercontent.com/2243/66919188-722cc800-f053-11e9-9f97-0d571b477c07.png)

I like it already!

[2019-10-16 12:44] kristinalim commented on #4315
That is in the "Production - Rails Action Monitoring" Datadog dashboard, BTW.

[2019-10-16 13:47] #4160 closed

[2019-10-16 20:22] #4264 closed

[2019-10-16 20:24] luisramos0 commented on #4072
Closing this as 4268 is the only endpoint really used by zapier integrations and it was re-added with tests.

[2019-10-16 20:24] #4072 closed

[2019-10-16 20:39] #4308 closed

[2019-10-17 00:14] kirstenalarsen opened #4377 "Don't reload Orders page after payment is captured"
## Description
- As an enterprise user
- On page Orders (https://openfoodnetwork.org.au/admin/orders)
- I want to be able to quickly capture payment on multiple orders, including where I have selected them according to filters
see discussion at https://community.openfoodnetwork.org/t/enable-quick-capture-of-payments-for-a-batch-of-orders/1478/9

## Acceptance Criteria & Tests

Enterprise user shou

[2019-10-17 00:24] kirstenalarsen opened #4378 "Display Customer Name on Order Summary in Orders Page"
## Description
- As an Enterprise User
- on the Orders page https://openfoodnetwork.org.au/admin/orders
- I want to be able to see the Customer name without opening the order for editing. Often the email is not that useful for identifying the customer, and it is time-consuming to have to open orders to see who they are

See discussion leading to this proposed solution here https://community.openfo

[2019-10-17 01:15] JacksonBates commented on #4206
Hi @lin-d-hop, I think this is related to this issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/4338

This PR addresses the request in that issue https://github.com/openfoodfoundation/openfoodnetwork/pull/4342

I think ultimately not forcing a new window and maintaining the filter state when navigating back is a nicer solution - but I just wanted to alert you to the overlap in c

[2019-10-17 07:57] lin-d-hop opened #4379 "[Performance] POC Edit Order Cycle"
## Description

As an enterprise I want to be able to create/edit an order cycle with 10000 products in an acceptable length of time.

After iterations on discussions in the #performance channel we have decided that our main UX strategy will be to minimise the disruption to the users in terms of experience.

From an implementation perspective we know that the angular in the page is so complex that

[2019-10-17 19:31] RachL opened #4381 "Release v2.5.3 Bamboo"
draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-1f418fbcb7e543ff11b0

build : https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/922

- [x] draft
- [x] test
- [x] publish
- [x] deploy

[2019-10-17 21:32] RachL commented on #4381
I didn't find anything else than know issues :) this release is good to go !

Notes:
https://docs.google.com/document/d/1erRBL3Fyv4UCaxw61lP_h7m5ZhxRK3P940ysmVC9g-M/edit#

[2019-10-18 08:41] luisramos0 commented on #4194
lets do this for the other servers.

[2019-10-18 09:41] RachL opened #4382 "Email problem in FR prod"
## Description

I have a user that didn't receive his confirmation email.

Lynne suggested the good idea to put an email in copy of the email sent, in order for me to find this particular confirmation email and forward it to the user.

This ended up with email problems:

```Unhandled error```
```Net::SMTPFatalError: 550 Unauthenticated senders not allowed```
```Location```
```app/controllers/user_

[2019-10-18 10:22] luisramos0 commented on #4382
have you tried to set the correct sendgrid credentials when you change something in the form? maybe you need to always enter the credentials when updating this form.

[2019-10-18 10:29] sigmundpetersen commented on #4382
A password/username update also requires restarting Delayed_Job https://github.com/openfoodfoundation/ofn-install/wiki/Sending-emails-from-OFN#configuring-a-mail-method-automatically

[2019-10-18 10:37] luisramos0 commented on #4382
ok, plan:
- set the credentials correctly on the form and save.
- see if this solves problem  🤞
- if not, restart delayed_job
- see if this solves problem  🤞
- if not, rethink :-)

[2019-10-18 10:38] RachL commented on #4382
@luisramos0 So I've just retried with the password and now I could send the email. I'm waiting to see if I received the email in copy.

Shall we open something to add a message on this page? It's really not obvious that you need to delete the password and copy/paste it again....

[2019-10-18 10:50] RachL commented on #4382
Got the email, closing! Thank you all!!!

![](https://media.giphy.com/media/3krrjoL0vHRaWqwU3k/giphy.gif)

[2019-10-18 10:50] #4382 closed

[2019-10-18 11:12] luisramos0 commented on #4382
ehehe, nice.
yes, we should create an issue for that "be able to update mail method without touching password field"

[2019-10-18 12:55] tschumilas commented on #4366
Just fyi -  I'm also experiencing this. In 2 situations,   I created  new enterprises and re-assigned existing products to them.   In both cases I did this because the users wanted to back out of using inventory (which they found overly cumbersome and time consuming).    Ironically,  I posted on slack to ask if anyone thought there would be issues doing this.  Ha ha.    It seemed to work at the ti

[2019-10-18 14:26] chaserx commented on #4378
Hi. @kirstenalarsen I'm new here. Is there an easy way to seed an order?

[2019-10-18 16:37] lbwright22 opened #4383 "Product shows but unavailable to purchase in Hub Shop front"
## Description

Cocoa Nibs and Dried Mango supplied to Cambridge Food Hub by Storimarket are both in stock in the Cambridge Food Hub inventory, both added to the order cycle (in coming and outgoing parts) and both appear on their shop front without their variants visible nor the option which allows a customer to add the items to their baskets.

## Expected Behavior

Products are in stock and so cu

[2019-10-18 16:38] lbwright22 commented on #4383
![](https://github.trello.services/images/mini-trello-icon.png) [Discourse: Products not showing up on shopfront](https://trello.com/c/rryl9Cbn/585-discourse-products-not-showing-up-on-shopfront)

[2019-10-18 17:26] lbwright22 commented on #4383
work around sorted by changing stock level of items to fixed numbers and then changing the inventory settings to inherit stock levels from producer rather than override.

[2019-10-18 17:33] lin-d-hop commented on #4383
Workaround drop issues to s3 (unfortunately).... and fingers crossed this disappears when the product cache is out :-)

[2019-10-19 18:03] chaserx commented on #4304
I can take this.

[2019-10-19 18:56] luisramos0 commented on #4366
thanks @tschumilas can you give a specific example that we can test?

I am fixing it by removing products from Order cycles if they change supplier BUT if a report gets data from orders, the orders are still attached to the Order Cycle and the products on those orders (the ones that have the supplier changed) will not be in the Order cycle any longer.

I'll try to explain in terms of data model.
W

[2019-10-19 19:30] luisramos0 commented on #4105
let me move slack conversation to the issue:

andrew price Today at 6:37 AM
What resources did you guys use to find translations? I'm working on https://github.com/openfoodfoundation/openfoodnetwork/issues/4105 and there isn't a "Default stock" translation defined in the yml's.

lin-d-hop  12 hours ago
'Default Stock' is also called on_hand in other places. You might also use earlier revisions of

[2019-10-19 19:36] luisramos0 commented on #4105
see app/views/admin/variant_overrides/_products_variants.html.haml line 17
"Default Stock" needs to be changed to a call to something like t("admin.variant_overrides.index.default_stcok")
and then a key needs to be added after line 591 in en.yml ;-)

[2019-10-19 22:17] chaserx commented on #4378
Nevermind. I figured it out. PR submitted.

[2019-10-19 23:31] andrewjprice commented on #4105
@luisramos0 For general consistency, is it better to add a translation for this placeholder in other language yml's? By adding it only to en.yml and doing as you suggested, other language translations will not see a placeholder.

Thank you for the feedback 🙂.

[2019-10-20 13:38] Matt-Yorkley commented on #4105
Hi @andrewjprice, we use an external service to handle the other translations, and only update `en.yml` directly. :+1:

[2019-10-20 21:39] luisramos0 commented on #4105
yeah, it's explained here: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29#transifex-and-github-integration

[2019-10-21 08:20] Matt-Yorkley commented on #4355
Awaiting retest after #4345

[2019-10-21 10:41] #4100 closed

[2019-10-21 10:54] luisramos0 opened #4388 "Sample data should include Orders"
### What we should change and why (this is tech debt)
We should add orders to sample data so that a freshly loaded dev/test environment already includes some orders that can be used for testing.

### Context
The questions was raised here:
https://github.com/openfoodfoundation/openfoodnetwork/issues/4378
and is related to this thread:
https://community.openfoodnetwork.org/t/seed-data-development-pr

[2019-10-21 10:55] luisramos0 commented on #4378
good point, we dont have a way to seed orders! Our sample data does not include orders. I think we should add orders in different states! I created an issue for it:
https://github.com/openfoodfoundation/openfoodnetwork/issues/4388

[2019-10-21 11:11] lbwright22 commented on #3149
I have just tested this on UK demo hub by adding a really really long note to the order.
The note appeared on the correct order only and didn't straddle over to the previous order.
Hence i am closing the card as this does not appear to be an issue with V2 software.

[2019-10-21 13:31] lbwright22 commented on #3149
Re-opening the issue as I didn't do sufficient testing - apologies.

Still occurring:
A) note against order R136242427 is replicated against order R074566242 (there should be a different note against the second order than the first)
More than one instance of this observed today for StroudCo orders Nov 2018. Relates to to 'Actual Behaviour' (2) in original description (when changing page the conten

[2019-10-21 14:09] luisramos0 commented on #4194
Let's do this.
@Matt-Yorkley it's probably a good idea to have a little guide how to do this in the DNS register.
We can then ask all instance managers to share their dns register credentials so that a dev can do the work of setting appropriate dns records for dmarc and spf.
Apart from FR and AUS I see canada is also not setting dmarc and spf.
And... Katuma.org is also blacklisted by Spamhaus DBL

[2019-10-21 14:31] Matt-Yorkley commented on #4194
SPF is fairly straightforward, but DMARC is a bit more complicated. I think these configurations could be very different on each instance, depending on their email setup.

[2019-10-21 15:02] #4040 closed

[2019-10-21 15:02] #4041 closed

[2019-10-21 15:02] #4042 closed

[2019-10-21 21:24] JacksonBates commented on #3793
@RachL would it be poor etiquette for me to work on this? It's not my 'first issue' in the project, but I'm still ramping up on the tech stack ofn uses so I'm looking for low hanging fruit at the moment.

I'm mindful of not wanting to take away opportunities from others passing through, though...

[2019-10-21 21:32] sigmundpetersen commented on #3793
Please go ahead @JacksonBates , thank you!
Really, there are more than enough `good first issue`'s around for everyone to pick up 🙂

[2019-10-21 21:37] JacksonBates commented on #3793
Thanks @sigmundpetersen :+1:

[2019-10-21 22:45] #4328 closed

[2019-10-21 23:39] #4381 closed

[2019-10-22 10:58] Matt-Yorkley commented on #3831
Ok, this is a super quick fix and it pops up often, I'll fix it now.

[2019-10-22 12:59] lin-d-hop opened #4391 "Orders and Fulfilment Report Timeout"
## Description

A user that has never before reported an error with the Orders and Fulfilment report is getting errors. This makes me think it is a regression on the recent release (that was supposed to include performance improvements :sob: )

They have input the following details and it is timing out:
Customer Totals Report

Start: 2019-10-18 00:00
End: 2019-10-22 00:00

Hubs: Locavore grocery,

[2019-10-22 14:28] lin-d-hop commented on #4391
Closing as timeouts increased.

[2019-10-22 14:28] #4391 closed

[2019-10-22 21:29] Matt-Yorkley commented on #4379
I think this POC needs some more thought on the technical implementation. I'm not sure yet if splitting the page into 3 parts is necessary or not. The main issue is saving the user selections of included/excluded variants per supplier.

If we imagine an OC with 5 suppliers and each has 2000 products, this interface would be swamped in thousands of these boxes in each tab:

![oc-edit](https://user-

[2019-10-22 22:03] daningenthron commented on #3910
Got it - thanks for clarifying!

[2019-10-22 23:07] RachL opened #4392 "Backoffice not available for some users ? (Error 500)"
## Description

Some users cannot reach the /admin URL (or any URL in the backoffice without seeing the snail).

I'm trying to find a pattern and it is possible it only affect **owners** and not **managers**. But I need more data to confirm.

Super admin cannot reach these enterprise profile as well. Error 500

## Steps to Reproduce

1. Log in as super admin on French production
2. Try to reach `/

[2019-10-22 23:30] mkllnk commented on #4392
This is related to this Bugsnag issue: https://app.bugsnag.com/open-food-france/open-food-france-prod/errors/5daf8035e90ad6001b8e2cbb

[code]

[2019-10-22 23:33] mkllnk commented on #4392
This patch enables me to see the enterprise again:
[code]

[2019-10-22 23:44] mkllnk commented on #4392
I can replicate the error in the console on the server:
[code]

[2019-10-22 23:48] mkllnk commented on #4392
It looks like the hostname `s3.amazonaws.com` cannot be resolved. It's probably that an Amazon name server is down.

[2019-10-22 23:57] mkllnk commented on #4392
According to https://status.aws.amazon.com/, Amazon is aware of this issue and working on it. All OFN instances using Amazon are affected, UK, France, Aus, ...

[2019-10-23 11:19] Matt-Yorkley commented on #4194
Update (copied from Slack):
[code]

[2019-10-23 11:43] Matt-Yorkley commented on #4379
We also now have some very streamlined services for rendering paginated products in the shopfront, and I think we could potentially re-use some of them for rendering available products in an OC on the admin side.

[2019-10-23 11:52] lin-d-hop opened #4396 "Subscription Orders not created for Schedule"
## Description

A user has reported that one customer order was not created from a schedule.
Upon closer inspection I can't find evidence that any of the Orders for this Schedule and Order Cycle were created.
Other subscription orders in the same order cycle but for a different schedule were created successfully.

User: Banc Organics
Order Cycle: w29 (closed October 15th)
Schedule: Fortnightly No

[2019-10-23 11:59] Matt-Yorkley commented on #4379
And this isn't something for the POC, but it might be good if we also show `select all` buttons for product categories at some point. So for instance, the user could select all products in `Vegetables` and `Fruit`, and deselect all products in `Meat`. I imagine this would be incredibly useful in managing this selection process across 2000+ products.

[2019-10-23 12:44] Matt-Yorkley commented on #4379
Okay, I think splitting the page into three steps is probably a good place to start. We can implement that as a first step, and it should help to break this work down into smaller pieces.

[2019-10-23 15:55] #4392 closed

[2019-10-23 16:04] lin-d-hop commented on #4355
@lbwright22 can you keep an eye on this and test after the next release? There will be a notification of the release in #instance-managers or #deployment channel

[2019-10-23 17:37] Matt-Yorkley commented on #4318
Looking in Datadog and our schema, I think we might benefit from a `supplier_id` index on the `spree_products` table as well. It seems to be used a lot (with high latency), and it's missing.

[2019-10-24 07:32] lin-d-hop commented on #4313
Closing as not being completed in this round of performance improvements

[2019-10-24 07:35] lin-d-hop commented on #3860
Ladies and gentlemen of the OFN community...

Now that shopfront pagination has been merged I am closing this Epic in this round of Performance improvements.

Huzzah!

[2019-10-24 07:35] #3860 closed

[2019-10-24 07:42] lin-d-hop commented on #4319
closing as not completing in this round of performance improvements

[2019-10-24 07:53] lin-d-hop commented on #4349
Closing as not completing in this round of performance improvements

[2019-10-24 07:54] lin-d-hop commented on #4347
Closing as not completing in this round of performance improvements

[2019-10-24 07:55] lin-d-hop commented on #4348
Closing as not completing in this round of performance improvements

[2019-10-24 12:07] Matt-Yorkley opened #4401 "Release v2.6.0"
Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-aee8c8833acdfea25e59

Target commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/1a756cbc6b9eb562d472ac8d03f31020fd57ba31

Build: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/transifex/builds/1

- [x] - Draft
- [x] - Test
- [x] - Publish
- [x] - Deploy

[2019-10-24 16:06] #4105 closed

[2019-10-24 16:06] #4304 closed

[2019-10-24 17:29] RachL opened #4404 "Product importer won't find a tax category if parenthesis are in the category name"
## Description

OFN Canada couldn't create a product with the import tool with a tax category except the Zero-rated tax category.

After some tests, it was revealed that parenthesis where not recognize by the tool, and thus blocking the creation of a product with a tax category including parenthesis (Zero-rated was indeed the only tax category in OFN CAN that didn't include parenthesis).

## Steps

[2019-10-25 05:56] tschumilas commented on #3597
This issue can be closed -   @RachL discovered that this is because the importer isn't recognizing brackets in the tax category field.  She created a new issue for this.  (We took brackets out of the tax category names on OFN_CAN and this field uploads fine now.)

[2019-10-25 06:58] #3597 closed

[2019-10-25 08:04] lin-d-hop opened #4406 "Orders and Fulfilments Report gives slug when producer and hub specified"
## Description

A user has reported that the Orders and Fulfilments report has changed in functionality. Thinking the report just wasn't working for them it disrupted their whole week, however we've now tracked down the issue.

## Expected Behavior

A user who is a producer and a hub should be able to enter details into the producer and hub fields on the reports and get sensible data out. This is

[2019-10-25 08:23] lbwright22 commented on #4355
@Matt-Yorkley @lin-d-hop @luisramos0
Tested this today, after the shop front pagination release and no change- the product still won't appear in stock for customers to purchase even though stock levels >0

[2019-10-25 10:56] sauloperez commented on #4315
Awesome! you rock :metal: @kristinalim ! Let's keep an eye on it once we ship the filters change :+1:

[2019-10-25 11:24] sauloperez commented on #4318
If you can prove that with data :+1: As a rule of thumb though, IMO it's best if we find composite indexes that can be used in multiple scenarios but also bring further perf. improvements, at the expense of RAM + disk of course.

[2019-10-25 11:42] #3831 closed

[2019-10-25 14:50] sauloperez commented on #4322
OMG... I was right now writing an issue about this :see_no_evil:

[2019-10-25 16:47] luisramos0 commented on #4396
w29 opened on 10Oct. The updated_at timestamp is 9thOct, it means the OC was not edited after it opened BUT (I tested locallly) adding a schedule to the OC does not change the timestamp, so the user might have added the schedule after the OC was opened.
I dont think  we have a way to know this in the DB or logs.. We can add a timestamp to the table order_cycle_schedules so that this can be retriev

[2019-10-25 17:19] luisramos0 commented on #4396
There's one thing I will try now:
copy UK live DB to my laptop, run the app and try to reopen the OC and verify if the orders are being created... will update here with result.

[2019-10-25 22:19] luisramos0 commented on #4396
#### Investigating locally
On my laptop with uk live data, if I change the close date of the w29 OC and open it, the proxy orders are correctly generated....

Also, after having w29 open, adding and removing the fornightly schedule from the OC will add and remove the proxy order from the subscription. Which is correct 👍

#### I think I found a bug but it's not the cause of the issue for sure
I hav

[2019-10-25 22:38] lin-d-hop commented on #4396
Thanks @luisramos0
Is there anything we can do to improve Subs logging? Such that we might have more information next time.

[2019-10-27 17:07] luisramos0 commented on #4396
I think there's a design flaw in the subs module: absence of logging.
I mean, this subs module is full of automagic stuff like generating proxy orders and then real orders, and then completing those orders and sending summaries to people...

we will be in this situation again and again as the code is used, things will happen and users will want to know what has happened? why this or why that. Some

[2019-10-28 08:59] lin-d-hop commented on #4113
@tschumilas Will you test this again after the release tomorrow and close if it has stopped?

[2019-10-28 11:41] lin-d-hop commented on #4401
Release testing done:
https://docs.google.com/document/d/1Vm-6J7T2N1CmMOacrWLrjVG4gEw9O8SaEESlNVpFbXI/edit#

I have some concerns about subscriptions but I am confident they aren't related to this release.

[2019-10-28 11:50] lbwright22 commented on #4203
Testing:
1) add products to an order cycle
2) order products
3) delete products
4) try to edit the order by either deleting the product or reducing the quantity of the products which have been deleted.
Can edit product quantity but new quantity doesn't save.  Can't delete product from order.
This is the same if you try to edit the order before or after the order cycle has closed.
Product has been

[2019-10-28 12:23] lbwright22 commented on #1168
Testing this 28th Oct 2019:

1) open order cycle with 10% transaction fee for Paypal payments and 2% enterprise fee for items bought.
2) as a customer buy 3 items at £1 each. Pay by Paypal: £3.36 (£3 + £0.30 payment fee + £0.06 enterprise fee)
3) edit order to reduce number of items purchased to 1. Select update and recalculate.  Customer charged £1.32 and refunded £2.04.  No refund to customer of

[2019-10-28 16:24] RachL opened #4410 "Subs cannot be edited"
## Description

When a manager or super admin tries to edit a subscription, the changes are not taken into account.

## Steps to Reproduce

1. Got to `/admin/subscriptions`
2. Create a new subs, and edit it or click straight on the edit button of a subs already existing
3. Change something e.g. add a product or change a quantity. Save
4. The display shows the new info
5. Now come back to `/admin/s

[2019-10-28 18:02] tschumilas commented on #4113
Yes -  now when a user adds a new product,  AND the order cycle 'select all' is re-selected,  the product shows up in the shopfront.   (ie: producer does not have to be removed and then re-added to the OC) So this can be closed.

[2019-10-28 18:40] luisramos0 commented on #4379
ok, I am taking this on.
After a few hours of investigation I am feeling more at home with this code... even managed to delete 77 lines of it 🤣  #4408

I am now pretty sure the best first step is to, following what Matt suggests above, split the page in 3 steps. This way we will break the dependency of incoming and outgoing exchanges. The incoming and outgoing steps will have to read and write to

[2019-10-28 21:17] #4366 closed

[2019-10-28 21:19] luisramos0 commented on #4113
hmmm... the release has not been done yet. so you are saying that the issue was not present in current version.
We should probably retest after the release.

[2019-10-28 21:48] tschumilas commented on #4113
Ha!! -  I assumed the release was done and tested as @lin-d-hop suggested and it worked.   So - WTF?  Yes - I guess this issue was not present in the current version.  Not sure when it repaired itself.  Or why.  Will re-test after the release again.

[2019-10-28 22:31] lin-d-hop commented on #4379
Thanks @luisramos0 I can feel your resistance and am grateful that you are diving in.

[2019-10-28 22:34] lin-d-hop commented on #4113
Sorry @tschumilas In future I'll be more clear.

I said _'test this again after the release tomorrow'_
I meant _'watch out on the #deployment or #instance-managers channels for notification of the release. Once the release has been done, will you test again?'_

[2019-10-29 00:06] kirstenalarsen commented on #4378
Thanks @chaserx !!

[2019-10-29 00:15] chaserx commented on #4378
you're welcome! happy to help @kirstenalarsen

[2019-10-29 08:27] luisramos0 commented on #4379
the resistance is not mine. the resistance is in the code itself, in the bad design. That's what you are feeling.
But I am happier about this now, I can see how this can be significantly improved if we break it in 3 steps.

[2019-10-29 08:54] kirstenalarsen commented on #4194
This is happening in Aus

[2019-10-29 10:22] #4401 closed

[2019-10-29 10:40] daniellemoorhead commented on #4355
@lbwright22 time to test, the correct release is up on the UK server now :)

[2019-10-29 10:45] Matt-Yorkley commented on #4379
Taking on the OC edit issue, like:

![](https://media.giphy.com/media/m7wRiE9nkg8w0/giphy.gif)

[2019-10-29 11:12] #4315 closed

[2019-10-29 11:26] luisramos0 commented on #4194
ok, lets look at all the problems we have here:
checked:
https://mxtoolbox.com/domain/openfoodfrance.org
https://mxtoolbox.com/domain/openfoodnetwork.org
https://mxtoolbox.com/domain/openfoodnetwork.org.au
https://mxtoolbox.com/domain/openfoodnetwork.org.uk
https://mxtoolbox.com/domain/katuma.org
https://mxtoolbox.com/domain/openfoodnetwork.net
https://mxtoolbox.com/domain/openfoodnetwork.ca
https

[2019-10-29 12:05] luisramos0 commented on #4194
Regarding SPF records.
Email providers per domain right now:
gmail - AU, CA
sendgrid - BE, DE, FR, UK, US
mandrill - KA

AU, US, CA, DE and BE are missing SPF records.
So, for the gmail ones AU, CA according to [this](https://support.google.com/a/answer/33786?hl=en) we need to add something like: v=spf1 include:_spf.google.com ~all.
For the sendgrid ones US, DE and BE, according to [this](https://

[2019-10-29 12:05] filipefurtad0 opened #4412 "Missing translation on the date range selector, in Orders and Fulfillment"
## Description

Missing translation:
"END" in not translated in the date range selector, in Orders and Fulfillment (pic below).

## Expected Behavior
It should appear translated to the chosen user language.

## Actual Behaviour
END is shown, regardless of the choice of language.

## Steps to Reproduce

1. Login as an Enterprise/Hub.
2. Select a language other then English
3. Go to admin/reports/or

[2019-10-29 12:10] RachL commented on #4412
Awesome @filipefurtad0 ! I've just unassigned you because you won't be working on this ;)

[2019-10-29 12:20] filipefurtad0 commented on #4412
Ahh true :-) Just testing, later on perhaps!

[2019-10-29 12:40] luisramos0 commented on #4194
@Matt-Yorkley re your dmarc errors above, did you see in dmarc there's a DMARC Policy that you can set to none (p=none), basically you can  setup dmarc but let the providers know you dont want it enforced. With this setup we can see reports and gradually fix the problems. When we think all is fixed, we can change the policy to p=quarantine or p=reject

[2019-10-29 14:33] luisramos0 commented on #4194
@Matt-Yorkley "We're also getting what looks like failures from related to gmail accounts used for support."
Yes, after you setup dkim you need to make the webmail app use dkim to send emails outs.
This is how you [do it in gmail](https://support.google.com/a/answer/180504).

I just realized that sendgrid does this for us automatically, [this](https://sendgrid.com/docs/ui/account-and-settings/how-

[2019-10-29 15:47] lin-d-hop opened #4413 "Shopfronts Not Loading all products"
## Description

With the new release Tamar Valley Food Hub shopfront is not loading all products.

The shopfront scrolls to a certain point and then stops. The spinner spins for a while, then it times out without all the products there.

Run this with DevTools and you'll see and interesting and indicative error:

![Screenshot from 2019-10-29 15-42-27](https://user-images.githubusercontent.com/8669

[2019-10-30 09:21] lbwright22 opened #4416 "Partial PayPal refunds unsupported by platform but option button present"
## Description

Hub or shop amends a customers order to remove an item that is not in stock. Customer has paid using PayPal. Hence they are owed credit.
User (hub or shop manager) goes to credit owed screen. Blue button 'Refund' is available.
Selecting the blue button brings up 'Authorization failure' screen.
PayPal partial refunds are not supported by the platform (only Stripe partial refunds are

[2019-10-30 09:22] lbwright22 commented on #4416
![](https://github.trello.services/images/mini-trello-icon.png) [Paypal partial refund - The Tree](https://trello.com/c/30Ccygua/593-paypal-partial-refund-the-tree)

[2019-10-30 09:51] kristinalim commented on #4396
Hi @luisramos0! Great investigation.

* do you agree we need some sort of logging mechanism? - There are some libraries like `paper_trail` that allow us to inexpensively (time) have DB-backed audit trail. I checked - we actually use it for some attributes of the `Enterprise` model! What do you think of using this for subscriptions and OCs? We can use it purely for debugging purposes and not to dis

[2019-10-30 11:31] luisramos0 commented on #4194
We are now getting dmarc reports for FR in admin@openfoodfrance.org
We have errors coming from emails sent from @forums.openfoodfrance.org
Maybe we need

@Matt-Yorkley can we change the dmarc uk email from your email to some admin account so other people can have access? Is this the same type of error you are getting for about.openfoodnetwork.org.uk?

I think the solution is to add these domains t

[2019-10-30 12:45] luisramos0 commented on #4379
I am making it look like the subscriptions flow (and reusing the CSS code):
<img width="981" alt="Screenshot 2019-10-30 at 12 41 02" src="https://user-images.githubusercontent.com/1640378/67859154-c3888d00-fb12-11e9-8608-b70cf40df25b.png">

the incoming part is pretty straight forward, I will now need to rebuild the outgoing page. Now we can make the Outgoing page load from the server with the dat

[2019-10-30 12:48] luisramos0 commented on #4379
one thing you can already feedback on are the action buttons: probably we need to switch from Update to Continue.
Shall we keep the "Close" option? I really dont like the verb close (it's like we are not on the web, we are still closing windows...).

[2019-10-30 12:56] lin-d-hop commented on #4379
I think this needs a little discussion..... moving to Slack -> #performance

[2019-10-30 15:36] #4318 closed

[2019-10-30 20:25] Matt-Yorkley commented on #4379
The update/continue issue needs some thought. I imagine when creating anew OC we would want "continue", but when editing an existing OC the user will not necessarily be editing the pages in sequence?

[2019-10-30 21:15] kirstenalarsen commented on #4377
NB. If implementation of this proves problematic / tricky, the other option is to use the checkboxes to select multiple orders, and change 'Print Invoices' to an Actions dropdown, with two options: 'Print Invoices' and 'Capture Payments'

[2019-10-31 02:18] gkpacker commented on #4412
Can i take this one?

[2019-10-31 03:17] gkpacker commented on #4412
Tried to run the setup here, but I have problems with libv8 on my mac, so i can't take it, sorry

[2019-10-31 06:27] mkllnk commented on #4396
I think logging is a good idea. I'm not sure that paper_trail is the right solution. It focuses on models and how they change but that doesn't tell us what code ran and why it changed something. We would need to monitor order cycles, subscriptions but also orders and payments.

Instead, it could be more useful to have logs like this:
[code]

[2019-10-31 10:44] #3832 closed

[2019-10-31 10:45] #4338 closed

[2019-10-31 11:46] RachL commented on #4379
@luisramos0 I've noticed that I accidentally wrote the issue scope https://github.com/openfoodfoundation/openfoodnetwork/pull/4359 fixes with the producer shop scenario. While the PR adds a red star for the name as well for the Hub scenario as well, it does not add a red star next to the "ready for" field. Something we can ship in here or shall I create a dedicated issue for this?

[2019-10-31 12:50] #3910 closed

[2019-11-01 08:39] luisramos0 commented on #4216
we have decided that we dont want to add a db constraint for this: see #4351 for details.
I have checked all instances and there are no variants with this problem anywhere, we have a rails level condition that verifies that this doesnt happen again.
So, I think we can close this issue as it will not happen again.
IF we find it happens again we will need to investigate.

[2019-11-01 12:16] #4413 closed

[2019-11-01 13:21] kristinalim opened #4420 "Release v2.6.1 Melon"
Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-c316d4f819329855c019

Target commit: 61c581ae52910ea337d17e200f8f641a1ec99c9b

Build: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/955

- [x] - Draft
- [x] - Test
- [x] - Publish
- [ ] - Deploy

[2019-11-02 17:04] Matt-Yorkley commented on #4314
Orders and Fulfilment reports are the worst thing performance-wise, and Customer Totals is by far the worst of it's 4 sub-reports.

Can we keep this and #4313 open and move them to the backlog? I think closing them and forgetting is a bad idea.

[2019-11-02 21:30] Matt-Yorkley opened #4424 "Add supplier_id index to spree_products table"
### What we should change and why (this is tech debt)

We're missing a `supplier_id` index on the `spree_products` table. This index is commonly used and will result in sequential scans. It's a foreign key, and has high cardinality.

### Context

Looking into potential useful indexes for performance.

Example traces:

https://app.datadoghq.com/apm/resource/rails-postgres/postgres.query/3e58832d712

[2019-11-02 21:33] Matt-Yorkley commented on #4317
I've had a look at this, and used some searching in Datadog traces. I think adding an index on state will not bring much benefit, and obviously will have a cost.

[2019-11-02 21:34] Matt-Yorkley commented on #4317
Search results for traces with `spree_orders.state`:

![order_state](https://user-images.githubusercontent.com/9029026/68077261-9957f900-fdb8-11e9-8761-b93ccf0e1ac3.png)

[2019-11-02 21:46] Matt-Yorkley commented on #4317
Can we close this?

[2019-11-04 09:48] sauloperez commented on #4317
What do you think about my comment above? I think that's what's going to bring noticeable improvement but I haven't EXPLAIN ANALYZEd anything yet. Definitely, `state` alone won't do anything.

[2019-11-04 10:14] Matt-Yorkley commented on #4317
We already have a compound index on the orders table with `completed_at` as the first item in the index.

I looked through Datadog to try to find places where `state` was used, and where an index for `completed_at, state` would be useful, but I couldn't really find anything to support that.

[2019-11-04 10:19] sigmundpetersen commented on #2673
Okay I removed the remaining open issues from the Epic and closed

[2019-11-04 10:19] #2673 closed

[2019-11-04 10:44] Matt-Yorkley commented on #4096
I bet it's superadmin only, and triggered by `OpenFoodNetwork::Permissions`.

[2019-11-04 10:45] Matt-Yorkley commented on #4006
See comment here for more details: https://github.com/openfoodfoundation/openfoodnetwork/pull/4426#issuecomment-549271566

[2019-11-04 12:23] filipefurtad0 commented on #4420
Hi @kristinalim,

I think the release is good to go :tada:  test notes below.
https://docs.google.com/document/d/1aU2uowI4_aTHhahotqZhFh0-V1dD54uOpJxC7j50QGI/edit#

Not too sure how much testing would still be necessary. To me, the less obvious features are still Subscriptions and Inventory but I feel I have tested the basic features.

[2019-11-04 18:19] sauloperez commented on #4317
If there's an index with `completed_at` there's no low-hanging-fruit here. I would just close this.

[2019-11-04 18:47] sauloperez commented on #4277
I'd go with that.

[2019-11-04 18:57] sauloperez commented on #4206
exactly @JacksonBates ! That's what I think too.

I think the solution for that is to have a URL so the browser can track filter changes as regular navigation and keep track of it in the browser history. I personally lean towards doing so in the backend rather than in the frontend using Angular JS routing (I have no experience with it). It feels less complex to implement. Thoughts? @luisramos0 @kr

[2019-11-04 19:45] RachL commented on #4420
Hey @filipefurtad0 don't worry about inventory, it is already well covered by automated tests.

Concerning subs I had a go at testing them with Stripe and aside the know issue around editing, this is working correctly :tada:

We can chat on Slack on how to test with Stripe but the key is that the user linked to the sub needs to have a saved credit card that allows the hub to charge. This is done i

[2019-11-05 08:34] sigmundpetersen opened #4427 "Test epic"

[2019-11-05 08:35] #4427 closed

[2019-11-05 08:45] kirstenalarsen commented on #1394
not scoped clearly enough for papercut

[2019-11-05 08:48] kirstenalarsen commented on #3294
@sauloperez suggests that this is a problem in the code and should be working. So is more likely a bug than a papercut.

[2019-11-05 08:49] sauloperez commented on #2462
This is just a matter of adding the necessary validation to ensure we skip this case.

[2019-11-05 08:50] kirstenalarsen commented on #4277
Needs to be on correct template and agreed solution

[2019-11-05 08:51] kirstenalarsen commented on #3307
@sauloperez agrees is papercut - hurrah! lack of validation, it's in

[2019-11-05 08:51] sauloperez commented on #3307
This is again a lack of a validation

[2019-11-05 08:59] lin-d-hop commented on #1806
#gitcull

[2019-11-05 08:59] #1806 closed

[2019-11-05 09:03] kirstenalarsen commented on #1808
needs to be put into a standard feature request template to be incorporated as papercut. Will pass the < 0.5 day test if that happens and is renominated

[2019-11-05 09:03] lin-d-hop commented on #1812
Duplicate

[2019-11-05 09:03] #1812 closed

[2019-11-05 09:06] kirstenalarsen commented on #1894
Needs clear spec to be reconsidered in next round of papercuts

[2019-11-05 09:07] kirstenalarsen commented on #3465
Until such time as lots of people are using the fee report and want it improved we don't need to worry about this. Closing

[2019-11-05 09:07] #3465 closed

[2019-11-05 09:08] kirstenalarsen commented on #2657
Until such time as people are using the fee report and want improvements we can ignore this. Closing for now.

[2019-11-05 09:08] #2657 closed

[2019-11-05 09:12] sauloperez commented on #1971
We need to check first whether the backend returns already a validation error for that particular item so we can display it. If that's the case, it should be easy.

[2019-11-05 09:12] sauloperez commented on #1971
@kirstenalarsen mention that might related to EU number format. UK and AU haven't heard of this issue.

[2019-11-05 09:17] lin-d-hop commented on #2418
Closing as users are not reporting this problem.

[2019-11-05 09:17] #2418 closed

[2019-11-05 09:18] kirstenalarsen commented on #1971
have confirmed that this also happens in Aus. If I put a comma in the number or an extra full stop, it just doesn't save and doesn't give me any warning / notification of the problem

[2019-11-05 09:22] sauloperez commented on #3728
We will a try as a papercut taking @luisramos0 's feedback into account

[2019-11-05 09:25] kirstenalarsen opened #4428 "Default selection of Hub/Shop on creation of payment / shipping method when there is only one option"
## What is the problem we are solving
When creating a payment or shipping method, you have to select which hub/hubs that method should be attached to

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/82aaf785-3327-4436-86ed-b77051f32d6c)

It is extremely easy to miss and then the user gets lots of red

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6

[2019-11-05 09:26] lin-d-hop commented on #1782
Closing

[2019-11-05 10:20] filipefurtad0 commented on #4420
Hi @RachL,

I'll give Subs a try then, previously adding a card to the user - that makes sense :-)

I got a bit concerned about this not working on staging-UK, since adding a credit card is perhaps an important feature. So, good to know it's just a staging issue and that it works fine on FR, too.

Thank you, it was my pleasure! :-D :tada:

[2019-11-05 10:50] RachL commented on #4428
Oh yes pleaaase!!! Can this be a good first issue? ping @openfoodfoundation/developers

[2019-11-05 11:25] kristinalim commented on #4420
Thank you very much, @filipefurtad0 and @RachL! :grinning: :heart: Publishing this now!

[2019-11-05 12:42] kirstenalarsen opened #4429 "Products appearing in shop cannot be ordered - missing fields"
## Description
There are products appearing in the product listing on the shop, but without variants so they cannot be ordered

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/f6892919-ee11-4f62-a44d-a8e565468cbc)

They are:
* in products list as 'on demand'
* in OC both incoming and outgoing

## Expected Behavior
An available product / variant that is in the order cycle

[2019-11-05 13:44] lin-d-hop commented on #4379
@luisramos0 I also noticed that the 'Seleccionar Tudo' checkbox on outgoing products does not seleccionar tudo. Probably you are aware but noting here just in case.

[2019-11-05 14:12] luisramos0 commented on #4379
@lin-d-hop yes, I just fixed that, it's now redeploying to katuma staging with that problem fixed.

[2019-11-05 14:53] lin-d-hop commented on #4216
This has happened again in UK:

User: Cultivate Oxfordfordshire LTD
OC: Oct 31st to Nov 5th

[2019-11-05 15:46] luisramos0 commented on #4216
after investigation we found that this is not a null unit_Description, it's an empty one...
and we also confirmed this cannot be created with lasted versions of OFN, it's old data.

So, we need to find this new case with empty unit_description and fix the data in all databases.

instead of
select * from spree_products p, spree_variants v where v.product_id = p.id and p.variant_unit is not null and

[2019-11-05 18:07] RachL commented on #4420
Thank you Kristina !! Matt has deployed, so I'm closing

[2019-11-05 18:07] #4420 closed

[2019-11-05 18:09] RachL commented on #4355
@lbwright22 hello! 2.6.1 is now on UK you can retest this :-)

[2019-11-05 18:09] RachL commented on #4355
@lbwright22 hello! 2.6.1 is now on UK you can retest this :-)

[2019-11-05 19:30] #4106 closed

[2019-11-05 20:09] RachL commented on #3843
I believe I've hit the same problem on German production.

Here are the testing scenario and info:

- Enterprise: DORV Online 19/20
- Big file with all the products (9610) : https://framadrop.org/r/myH3ZO7aY8#3bJb/hwh7feiSqC1foU4oqqn/g5UIUX3Yp92QM80Sq4=

- The import correctly tell me that 9610 products will be uploaded, yet in products `/admin/products` tells me I only have 9404 products:

![imag

[2019-11-05 21:26] #4317 closed

[2019-11-05 21:30] sigmundpetersen commented on #3793
@JacksonBates will you be working on this or should we put it back to the backlog?

[2019-11-05 22:26] Matt-Yorkley commented on #4194
Yes, and we have error reports. I think it won't be easy to fix. I'm not sure how to configure DKIM our discourse, because it's in a Docker container.

[2019-11-05 22:38] JacksonBates commented on #3793
@sigmundpetersen yes, I'm on it - just been going through the process of getting a new job so been unable to pick it up. All clear now so I can continue :)

[2019-11-05 23:28] kirstenalarsen commented on #3843
hi - interesting, just starting my investigation and have run the products & inventory report. It is returning 9,655 lines. I'm wondering if it could be possible that the product importer counts products rather than variants? so the few variants that are in there are getting missed?

am going to see if i compare the csvs to see what's happened

[2019-11-05 23:35] kirstenalarsen commented on #3843
concerned if we have a whole lot of duplicate products we need to deal with?

[2019-11-06 00:21] RachL commented on #3843
@kirstenalarsen ah interesting! It does ewplain why the count does not change on admin/products. I believe it only counts products as well. So the bug would be that the importer canoot update variants? This is why I could re-import the 28 products in a loop?
If we have duplicates I think they are only on these 28 products.

[2019-11-06 00:48] kirstenalarsen commented on #3843
have just done some analysis here - https://docs.google.com/spreadsheets/d/1MGsmWV0LGuzUrkI8YqtWnHJe3hTK3fU-DDRRdhH3Wjw/edit?usp=sharing - not sure if I have been redoing work you already did . . but basically I have 29 skus that were in upload but not in P&I - noting that I used upload file from before I went to bed. Some of these skus are missing from your later file - which I am confused about

[2019-11-06 00:51] kirstenalarsen commented on #3843
I'm going to just delete the duplicate variants now so there is no alarm if anyone finds them and thinks there are millions of them

[2019-11-06 07:34] sigmundpetersen commented on #3793
Okay that's great thanks! :)

[2019-11-06 09:06] lbwright22 commented on #4355
@RachL @sigmundpetersen tested this morning.
No change post release of 2.6.1

1) Add Breakfast pack to test order cycle for Burnt Edge Farm Produce
2) stock level of breakfast pack > 0, enterprise does not use inventory
3) breakfast pack does not appear on shop front.

[2019-11-06 09:21] lbwright22 commented on #4383
Post release of 2.6.1 this issue has been resolved.

Put user settings back to unlimited supply from producer with hub having override on stock levels in their inventory.
Products and variants display correctly in shop front.

Closing issue.

[2019-11-06 09:21] #4383 closed

[2019-11-06 11:03] luisramos0 commented on #4355
I can see it live. It's a producer shop.

(btw #govegan I am sure it will avoid a lot of S1s #karma :-))
![Screenshot 2019-11-06 at 11 02 17](https://user-images.githubusercontent.com/1640378/68292991-f091ee00-0084-11ea-8149-e8d8a9ca8358.png)

[2019-11-06 12:01] luisramos0 commented on #4355
Looks like this is related to products that are or have been added to own inventory.
I think this is replicable:
- Create a product
- Add product to inventory
- Remove product from inventory (hide)
- Add product to OC
- See the product is not showing up in the shop because there's an entry in the Inventory marked as "hide"

[2019-11-06 12:17] RachL commented on #4355
@luisramos0 is this something we can create an automated test for or a test we should add manually in release testing?

[2019-11-06 12:31] luisramos0 commented on #4355
downgrading to S2, at least, as I concluded this is only happening to 83 products in uk live and 64 of those are from Burnt Edge Farm Produce.
It only happens if you add your product to your own inventory and then remove it (hide) from inventory. If you add that product to an OC, it will not show in the shopfront. This is not related to the latest v2.6.1.

 supplier_id | count
-------------+------

[2019-11-06 12:42] kirstenalarsen commented on #4355
is there a workaround to add the products back into their inventory? if they are not using it to manage the order cycle it won't make a difference to the order cycle, and then they would be effectively removing the 'hide' attribute? @lbwright22  ?

[2019-11-06 12:43] luisramos0 commented on #4355
The workaround is to go to the inventory and re-add the product to the inventory:
![Screenshot 2019-11-06 at 12 35 36](https://user-images.githubusercontent.com/1640378/68298975-a879c800-0092-11ea-9d7c-e1ea5ee41ee5.png)

So that you see the product in the inventory like this (no overrides are needed):
![Screenshot 2019-11-06 at 12 42 37](https://user-images.githubusercontent.com/1640378/68299117-f

[2019-11-06 12:44] lin-d-hop commented on #4355
64 products missing from a shop front is pretty critical.
Is there a workaround we can fix this with? Otherwise this is at least an S2....

[2019-11-06 12:46] lin-d-hop commented on #4355
Ha sorry, on phone. Got the updates. Ignore my last

[2019-11-06 12:49] luisramos0 commented on #4355
see my workaround @lin-d-hop

I think this is now an S3.

these are the other 19 products with this problem:
               enterprise_name               | enterprise_id |              product_name               | variant_id
---------------------------------------------+---------------+-----------------------------------------+------------
 Noshi Vegan Food                            |        2002

[2019-11-06 12:53] luisramos0 commented on #4355
I have downgraded to S3 and moved to bug backlog. please feel free to change if you think this bug needs to be solved now.

[2019-11-06 13:20] luisramos0 commented on #4355
@RachL re your question: when we fix the bug we should add an automated test.

[2019-11-06 13:23] #4054 closed

[2019-11-06 13:28] luisramos0 commented on #4060
meanwhile we added app/views/spree/admin/taxons/search.rabl from spree_backend. So this issue should remain open until no rabl files are present in the codebase.

[2019-11-06 13:28] #4069 closed

[2019-11-06 13:29] luisramos0 commented on #4060
I am removing this from api clean up epic.

[2019-11-06 13:30] luisramos0 commented on #4071
🎉

[2019-11-06 13:30] #4071 closed

[2019-11-06 13:49] RachL commented on #4060
@luisramos0 so where should we move it: dev ready or tech debt backlog?

[2019-11-06 14:17] RachL opened #4432 "Bancontact spike part II: Limonetik & Ingenico"
## Description

A first spike was run here https://github.com/openfoodfoundation/openfoodnetwork/issues/3901 and handed over to the product team.

The discussion went on in discourse around the scope and the strategy we shoudl apply IF we integrate another payment gateway.

Myriam did a deep comparison of providers and found a particular interesting offer at Limonetik but also at Ingenico.

She de

[2019-11-06 14:53] tschumilas commented on #4355
Just checking here -  I don't think this is new -  has always been that a 'hidden' product is effectively a product not in inventory,  therefore it doesn't show in a shop.  I think we want it this way - don't we?  I think farms and hubs use this to 'hide' things that are seasonal...  that won't be back in inventory for a months.  This way they don't have to scroll through a ridiculously long inven

[2019-11-06 15:26] luisramos0 commented on #4355
Hi @tschumilas
That makes sense although this is the case where producer adds their own products to their inventory.
It should be hidden in inventory but it should show as a normal catalog product.
The product shows up in the OC page and is selectable...

[2019-11-06 15:56] luisramos0 commented on #4060
ah, sorry, I forgot about that. it's tech debt, we can leave this small change for later. Until spree_backend #4050 is there rabl will work.

[2019-11-06 15:56] sauloperez opened #4433 "Fetch the Docker's ruby version from .ruby-version"
### What we should change and why (this is tech debt)

Every time we upgrade the Ruby version we need to update the Dockerfile as well and we tend to forget about it. And these upgrades are happening quite often recently.

We should read the current ruby version from [.ruby-version](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/.ruby-version) to populate the following env var

[2019-11-06 16:42] tschumilas commented on #4355
So are you saying a 'hidden' product SHOULD show up in an OC dropdown,  or should NOT show up?  (regardless of the inventory settings they've chosen on their profile?)

[2019-11-06 17:12] sauloperez commented on #4322
IMO this particular bug should be prioritized so that we cover this case with our automated test suite as explained in https://github.com/openfoodfoundation/openfoodnetwork/issues/4322#issuecomment-546385505 while fixing the bug. Then, we'll have subs fully automated and testers won't need to take it into account in release testing. I'm sure @lin-d-hop @RachL and @filipefurtad0 we'll appreciate it

[2019-11-06 17:48] RachL commented on #4322
@sauloperez FYI aside from this one, there is another bug on subs that will need an automated test as well and that is in dev ready: https://github.com/openfoodfoundation/openfoodnetwork/issues/4410

[2019-11-06 17:48] sauloperez opened #4435 "Report code coverage as part of CI"
### What we should change and why (this is tech debt)

Currently, there's no way to have an up-to-date code coverage % both for the `master` branch and for each PR. This becomes essential to ensure we keep a healthy test coverage while trying to reduce the manual release testing the project needs.

The simplest solution IMO is to leverage Code Climage's coverage report. We just need to send the co

[2019-11-06 17:49] sauloperez commented on #4322
Ouch, thanks for the heads-up

[2019-11-06 21:54] luisramos0 commented on #4355
if OC is looking at inventory only, the product should not show.
if the OC is supposed to look for products in the catalog, the product should show because it's a product in the catalog of that producer (and in this case it doesnt matter what's in the producer's inventory).
From the slack conversation, I think we all agree  :-)

[2019-11-06 22:02] daningenthron commented on #4388
Hi @luisramos0, I'd like to give this a shot. What sort of states would you like represented, maybe based on the core Spree factories? Any of the cases set up at spec/factories/order_factory.rb?

[2019-11-06 23:04] luisramos0 commented on #4388
Hello @daningenthron great!
I recommend we start simple with a few orders:
- incomplete order (cart)
- completed order with pending payment
- completed order with captured payment
- completed order with a delivery ship method
- completed order with a collect ship method
- completed order with some form of adjustments

@RachL does this make sense? what do you think? please let us know how would you

[2019-11-07 03:42] kirstenalarsen opened #4436 "Select multiple orders using existing checkboxes, and perform key actions from Actions dropdown"
## What is the problem we are solving
The Order Management page now checkboxes where multiple orders can be selected. However the only function that can then be activated is the 'bulk invoice printing'

This is counter-intuitive and out of step with user expectations - key functions like cancelling orders, resending order confirmations etc could be activated from here.

There is already a box with

[2019-11-07 03:49] kirstenalarsen opened #4437 "'Enter' key activates search on Products (and Orders?) page"
## What is the problem we are solving

When repeatedly using search box to find and deal with products in Products page, it is really irritating to have to actually hit 'filter results' before anything happens. It would be great if hitting enter, which I (and I suspect many others) do instinctively, activated the search.

Pretty standard to type something in a search box and have 'enter' then do t

[2019-11-07 08:02] RachL commented on #4437
@kirstenalarsen can you use the story template rather than the feature template when you create something like this? When it is small it is sometimes also something we can tag as good first issue. So it is important to have key elements such as the user type, URL, maybe even screenshots?

[2019-11-07 08:21] sauloperez opened #4438 "Release v2.6.2 Magrana"
Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-da2219c01a49458f1225

Target commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/a6ba9563558c13c65677ef0d0008bca9bfb36b8c

Build: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/965

- [x] Draft
- [x] Test
- [x] Publish
- [x] Deploy

[2019-11-07 09:07] RachL opened #4439 "Reports are timing out on French production"
## Description

A few users have reported this: for the month of October they cannot download data for their hub.

Most of them do this in the evening: last user reported this yesterday at 9:30pm.

This is _not_ due to the last release, because all the cases that I have, are trying to reach reports only once a month.

## Steps to Reproduce

Here are the prod data we can use for one user in particu

[2019-11-07 09:30] luisramos0 commented on #4436
I'd say this is S+, we need to build a new api endpoint to make each bulk action happen.
From discourse I see papercuts are XS :-(

[2019-11-07 09:43] lin-d-hop commented on #4436
In that case shall we just close this @kirstenalarsen and stick with #4377 ?

[2019-11-07 10:04] luisramos0 commented on #4396
ok, we have 3 completely different suggestions :-D
Kristina - log with paper_trail
Pau - use existing active record logs
Maikel - use custom logging

I agree with Maikel in not using paper_trail. I understand it's very convenient but I think we need something more specific to the process, not the data.
So, if no one disagrees I'd say we can do what Pau suggested, enable existing logs on delayedjob

[2019-11-07 11:35] luisramos0 commented on #4194
I got access to AUS godaddy account now, thanks Kirsten!

In https://dcc.godaddy.com/manage/OPENFOODNETWORK.ORG.AU/dns
I added the google SPF entry:
![Screenshot 2019-11-07 at 11 06 35](https://user-images.githubusercontent.com/1640378/68384174-f3f1ac00-014e-11ea-8293-787b971d0e68.png)

SPF record for openfoodnetwork.org looks good with google (and madrill?).

Added dmarc records for both openfood

[2019-11-07 11:53] luisramos0 commented on #4194
In the gsuite console for openfoodnetwork.org I started authentication of emails:
![Screenshot 2019-11-07 at 11 51 03](https://user-images.githubusercontent.com/1640378/68386877-f0612380-0154-11ea-8715-9207cdb54990.png)

This was already activated for openfoodnetwork.org.au

[2019-11-07 18:48] RachL commented on #4184
@lin-d-hop @kirstenalarsen I have one of our early user commenting on this addition of a default date range: basically they are telling me that this _was_ a feature on the order and fulfillment report at the beginning and that it was removed because too many users were making mistakes. They are now confused to see it back. Do you remember something like this? 😩

[2019-11-07 19:02] #4439 closed

[2019-11-07 21:37] kirstenalarsen commented on #4436
yes I think so @lin-d-hop . Bit curious about process - like should we completely close this or just move it to 'rejected papercuts' but leave in all the things? It would still be a good thing to do, and could perhaps be a reasonable new dev task - is that right @luisramos0 or would be too hard?

[2019-11-07 23:28] Matt-Yorkley commented on #4096
Yep, this issue and #4095 both basically require a major refactor of `/lib/open_food_network/permissions.rb`, which could require various corresponding changes throughout the codebase.

The startling queries are only triggered when logged in with a superuser account though (and have been that way forever), so I'm not sure this is super high priority.

[2019-11-07 23:53] luisramos0 commented on #4436
it's not too hard but it's not an good-first-issue

[2019-11-08 00:21] mkllnk commented on #4206
I'm wondering about the idea workflow here.

- Scenario 1: The user opens products in new tabs, edit, save, close. This is the quickest way because the product list doesn't have to be reloaded at all and all filters are still there. That's what I would do. The downside is that the product list gets out of date and doesn't include the changes made.
- Scenario 2: Click on a product, edit and save. G

[2019-11-08 01:14] kirstenalarsen commented on #3780
I have accepted that embedded shopfront is dead. Closing

[2019-11-08 01:14] #3780 closed

[2019-11-08 02:48] kirstenalarsen commented on #4166
This seems to be done! yippee, closing :)

[2019-11-08 02:48] #4166 closed

[2019-11-08 09:02] RachL commented on #4388
Yes it does make sense and I guess it is a good way to start, we can always improve it after?

[2019-11-08 09:49] sauloperez commented on #4096
Understand. We'll eventually get to `permissions.rb` once it becomes the number 1 perf. bottleneck. However, there's no need to do it in one shot. Just splitting that file would be beneficial and allow for other small refactors IMO. The biggest concern I have is that in #4095 we have a query without WHERE...

totally agree.

[2019-11-08 12:58] #4374 closed

[2019-11-08 14:26] luisramos0 commented on #4194
I have checked dmarc reports on openfoodnetwork.org and openfoodnetwork.org.au and both have dkim problems. I am not sure what else needs to be done in google config. It needs to be investigated.

[2019-11-08 16:58] #4184 closed

[2019-11-09 09:29] RachL commented on #1782
@lin-d-hop why was this closed? I can still reproduce it and I believe it 's a good first issue

[2019-11-09 09:50] RachL commented on #4438
I'm almost done, only stripe missing

https://docs.google.com/document/d/1Sz5LernQSG4G7W5uHpBTaN15wQekbRUwUuc0Z0L9Psc/edit#

[2019-11-09 19:58] Matt-Yorkley commented on #3914
Are we actually removing the date columns from `order_cycles`? Is it a good idea? Is it a priority? Or shall we close it / move it to `All The Things`?

[2019-11-10 20:08] luisramos0 commented on #4379
So, we have PR #4422 that breaks the OC create and edit pages in 3 steps.
On top of this PR there are 3 smaller PRs with 3 requests:
- Sort products alphabetically in OC edit page #4454
- Make "Ready for" field show a red border when added to the list of outgoing exchanges #4452
- Clickable steps on the OC edit page #4447

[2019-11-11 09:16] daniellemoorhead commented on #4194
@luisramos0 it looks like you're working on this but it's assigned to @Matt-Yorkley, do you need to change it to you?

[2019-11-11 11:15] luisramos0 commented on #4194
Hi @daniellemoorhead yeah, I added myself, I left Matt as Matt is looking for the UK part of this.

[2019-11-11 19:33] RachL commented on #4438
OK so paying with stripe still works, but I still didn't find a way to connect a fake stripe account like we did with yours @sauloperez. I don't seem to find how to give fake bank account info.
I suggest we don't block the release because of that. And figure something out for the next one.

[2019-11-11 20:53] sauloperez commented on #4438
I'm still a bit lost about what you mention. Has something changed on Stripe suddenly for our release testing not to work or is it simply something we don't do often?

[2019-11-11 22:40] RachL commented on #4438
@sauloperez we did it each time so far. As we had your account. What has changed is that we can't share it anymore. Like I said the only problem is to manage to create another test account. By the way, which bank account is yours linked with?

[2019-11-12 07:50] RachL commented on #4439
This was not provision in FR prod yet, is this correct?

[2019-11-12 08:16] kristinalim commented on #4173
I'm not entirely convinced that you could make this functional without also doing the work for #4180, or if it could be done without wasting a lot of effort on code which would be removed in #4373

The developer who will work on this issue would find out if #4180 needs to be done in the same PR as this one. :slightly_smiling_face:

[2019-11-12 08:25] filipefurtad0 commented on #4438
Hey @RachL and @sauloperez,

I guess Stripe didn't enjoy my portuguese IP-address, and asked for a two-step authentication for me to proceed to the account settings. Perhaps this was optional, but I must have missed it - but I have a hunch this is now required.

In anycase and according to the link below, it should be possible to remove the two-step authentication, but only by contacting them dire

[2019-11-12 10:27] sauloperez commented on #4438
That sounds like the way to go @filipefurtad0 . I'll ask them to do so as the owner of the account.

[2019-11-12 10:51] sauloperez opened #4457 "[Flaky Spec] spec/models/spree/line_item_spec.rb:158"
### What we should change and why (this is tech debt)

The spec failed in:

- https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/991

[code]

It's all of a sudden failing very frequently

[2019-11-12 10:53] sauloperez commented on #4239
This spec got moved to spec/features/admin/bulk_product_update_spec.rb:410 as per https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/990

[2019-11-12 10:53] sauloperez commented on #4238
It failed again in https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/984

[2019-11-12 11:44] daniellemoorhead commented on #3793
Hey @JacksonBates did you negotiate well, got the new job all sorted? Reckon you'll have time to pick this up?

[2019-11-12 15:38] sauloperez commented on #4438
All good so far!

[2019-11-12 15:38] #4438 closed

[2019-11-13 18:41] lin-d-hop opened #4462 "Add Logging to Subscriptions"
## Description

As a developer I want to be able to see logs for Subscriptions.

[From @luisramos0]
There's a design flaw in the subs module: absence of logging.
This subs module is full of automagic stuff like generating proxy orders and then real orders, and then completing those orders and sending summaries to people...

Again and again as the code is used things will happen and users will want

[2019-11-13 18:41] lin-d-hop commented on #4396
Not enough information.
Replacing with #4462 and closing.

[2019-11-13 18:41] #4396 closed

[2019-11-14 11:11] luisramos0 commented on #4462
Thanks for creating the issue @lin-d-hop
In terms of tagging I think I'd remove the s2 tag, this is not a S2 bug. We can just get it on top of dev ready because we agree is top priority because it's associated with an S2 bug. I'd definitely not create a new (non bug) s2 tag  @sigmundpetersen

[2019-11-14 11:24] #4007 closed

[2019-11-14 11:47] sigmundpetersen commented on #4462
Yeah it was not a new label, guess they were created for putting severity on tech debt mostly. Agree we can remove from this issue.

[2019-11-14 12:07] #4309 closed

[2019-11-14 12:07] #4319 closed

[2019-11-14 12:07] #4314 closed

[2019-11-14 17:23] luisramos0 opened #4465 "Release v2.6.3 Dióspiro"
Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-10dc3bd3d246b50e8999

Target commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/8546e11ffcc31d428a3655d08457d22769693fd2

Build: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/998

- [x] Draft
- [x] Test
- [x] Publish
- [x] Deploy

[2019-11-15 04:35] JenRSmith opened #4466 "Inherited product property override doesn't work as expected"
## Description
Inherited product property override advises that properties will be inherited from the producer unless overridden above. This suggests that if a property is added to the product it will replace the inherited property. What actually occurs is that the added property appears in addition to the inherited property.

## Expected Behavior
Based on the wording adding a property to a produc

[2019-11-16 09:51] lin-d-hop opened #4468 "[Release Blocker] Incorrect Shipping Method in OC Customer Totals Report"
## Description

Introduced in 2.6.3.

The Order Cycle Customer Totals report is not showing the correct shipping method. Instead is it showing the first available shipping method no matter which one was selected for the order.

@luisramos0 identified the bug here:
https://github.com/openfoodfoundation/openfoodnetwork/pull/4426#discussion_r346749067
Thanks Luis!

Personally as this is our most heav

[2019-11-18 10:17] Matt-Yorkley commented on #4468
Okay, I'll take a look at this, starting with some specs that cover selecting a non-first shipping method at checkout, which are obviously missing.

[2019-11-18 10:54] luisramos0 commented on #4468
:+1: I wonder if we should just revert/merge/release immediately and then get the a better fix for the next release. It's your call.
It would be good to publish the release today and release tomorrow.

[2019-11-18 11:42] sigmundpetersen commented on #1494
Summary of investigation moved to Discourse [1236](https://community.openfoodnetwork.org/t/hubs-can-block-shoppers-decide-who-accesses-their-private-shop/1236/16)

[2019-11-18 11:42] #1494 closed

[2019-11-18 21:55] mkllnk opened #4472 "Contact link in private shop message broken"
## Description

When a guest (not logged in) visits a private shop, a little message tells them to login. It also contains a contact link but clicking on it doesn't do anything.

## Expected Behavior

Clicking on the contact link should open the Contact tab on the same page.

## Actual Behaviour

Nothing happens.

## Steps to Reproduce

1. Open a member-only shop front.
2. Visit the shop front as

[2019-11-19 09:26] lin-d-hop commented on #4465
Release testing notes here:
https://docs.google.com/document/d/1IyyW9s1DYL3Zip4jEs_nZjq_uJ_5FgbvBetHwX9M4WA/edit#

This is good to go with the patch.
Thanks for all the fast paced work on the fix so we are still getting this out today :-)

[2019-11-19 09:39] #4468 closed

[2019-11-19 11:20] RachL opened #4473 "Invoices are showing shipping address instead of billing address"
## Description
Invoices are showing shipping address instead of billing address.

The label is invoice_billing_address and then the field picked up is the ship_address
https://github.com/openfoodfoundation/openfoodnetwork/blob/9c8c71bd0877a2ffbf3dc68fc75a0049ffa68c78/app/views/spree/admin/orders/invoice2.html.haml#L45

## Steps to Reproduce
1. Go to `/admin/orders?q[s]=completed_at+desc`
2. Select

[2019-11-19 11:35] Matt-Yorkley opened #4474 "Improve loading of shipping method in customer totals report"
### What we should change and why (this is tech debt)

We did a quick patch in #4469 to unblock the release, but the code should be improved. It introduces some unwanted code duplication. The solution should hopefully also allow eager-loading of shipping rates in other parts of the app, see: https://github.com/openfoodfoundation/openfoodnetwork/pull/4469#discussion_r347828540

### Context

Code re

[2019-11-19 12:11] luisramos0 commented on #4465
deployed everywhere 🎉

[2019-11-19 12:11] #4465 closed

[2019-11-19 12:15] sigmundpetersen commented on #3314
Closing as handled by wishlist item

[2019-11-19 12:15] #3314 closed

[2019-11-19 14:07] RachL commented on #4273
@lin-d-hop I believe this is a feature request (instances being able to specify link to their own forum). Shall I open a potential papercut?

[2019-11-19 16:22] luisramos0 opened #4476 "Pagination in the OC create/edit pages when listing the products of an enterprise"
## Description
As a hub manager
When managing the products in an Order Cycle
I want to be able to manage a large list of products from an enterprise without crashing the server
So that I can onboard shops with large catalogs

This is related to the OC POC #4379 and the new 3 steps UI #4422.

## Acceptance Criteria & Tests
When I load the Order Cycle, not all products available are loaded immediate

[2019-11-21 13:27] sigmundpetersen commented on #3793
OK moving to backlog. Please shout if you would like to pick it up again @JacksonBates 👍

[2019-11-21 21:15] JacksonBates commented on #3793
Ok. I'm boning up on AngularJS to figure out the best approach - I'll let you know once I've got it clearer

[2019-11-22 12:41] luisramos0 opened #4480 "OC performance - move order_cycle_serializer#visible_variants_for_outgoing_exchanges to exchange_products_renderer#products_for_outgoing_exchange"
## Description
exchange_products_renderer is used by the exchange_products_controller to list products that can be added into exchanges, both incoming and outgoing.

Now that these lists of products are done on the server, we can move more of its logic to the server. One of these points is order_cycle_serializer#visible_variants_for_outgoing_exchanges.
This data is renderer as part of the OC and i

[2019-11-22 12:51] luisramos0 opened #4481 "OC performance - move order_cycle_serializer#editable_variants_for_* to exchange_products_renderer#products_for_*"
### What we should change and why (this is tech debt)
See #4480 for context, I think it's easier and should probably be done before this one.

These two other expensive methods on the OC serializer:
- editable_variants_for_incoming_exchanges
- editable_variants_for_outgoing_exchanges
These methods are renderer everytime the OC is renderer which is a now a big waste of resources, editable_variants_

[2019-11-22 13:05] luisramos0 opened #4482 "OC performance - use lightweight OC serializer when exchanges are not needed"
### What we should change and why (this is tech debt)
The OC pages have been broken in 3 steps but the OC object we are loading is still the same in the 3 steps.
The general settings page doesnt need any of the data about the variants in the exchanges. This takes a long time to load if there are a lot of variants already selected in the OC.

The Api::Admin::OrderCycleSerializer should always inclu

[2019-11-22 13:58] Matt-Yorkley opened #4483 "Release v2.6.4"
Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-b5f11dddae683bbb47cf

Target commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/165f4f92011bc0fda1a23aa59a0558e4fd3a79da

Build: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1012

- [x] Draft
- [x] Test
- [x] Publish
- [x] Deploy

[2019-11-22 15:46] lin-d-hop opened #4484 "Backoffice New Order not working for specific user"
## Description

A user is failing to be able to place an order through the backoffice.

The order is on an OC that is tagged and the customer has the matching tag. I am not sure if this is relevant but I know that other orders are successfully being placed through the backoffice.

## Expected Behavior

For Hub: Cambridge Food Hub
Trying to place the following order:
1x ChariTea Green 24x330ml
1x

[2019-11-23 11:37] #4006 closed

[2019-11-23 12:30] Matt-Yorkley commented on #4131
Ok, this epic is done, and the PRs should all be in the next release (v2.6.4). Do we want to do some verifying in production? I'll move it to `test ready` temporarily.

[2019-11-24 14:02] luisramos0 opened #4487 "OC performance - move "select all" on incoming exchanges to a server call"
### What we should change and why (this is tech debt)
We can now avoid having to load all products to the browser in most situations by making the select all button call the server instead of loading all products and then select them all.

### Context
This is a natural improvement after #4476, this was not done as part of #4471 to keep that PR  small.

### Impact and timeline
This will have a mass

[2019-11-24 14:04] luisramos0 opened #4488 "OC performance - move "select all" on outgoing exchanges to a server call"
### What we should change and why (this is tech debt)
We should make "select all" in outgoing exchanges a server call so that the outgoing exchanges page doesnt need to load all variants that are part of all incoming exchanges.
I think this is required before  #4480 is done because visible_variants_for_outgoing_exchan is required for the select all process in the outgoing exchanges.

### Context
T

[2019-11-25 08:48] sauloperez commented on #3878
I just had to renew BE's certificate manually because the site was broken. We need to check this again.

[2019-11-25 10:53] sigmundpetersen opened #4489 "[Flaky Spec] ./spec/features/admin/order_cycles_spec.rb:279"
The spec failed in https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1015

[code]

[2019-11-25 10:55] sigmundpetersen opened #4490 "[Flaky Spec] ./spec/features/admin/tag_rules_spec.rb:15"
The spec failed in https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1013

[code]

[2019-11-25 10:56] filipefurtad0 commented on #4483
Hola @Matt-Yorkley :-)

I think the release is ready-to-go! :tada:

Found no specific issues, concerning basic functionality:
https://docs.google.com/document/d/1bTTZbjaX9sLEs5ymPL_Zf06FxjP8oXbIo7K__cmUhg4/edit#

[2019-11-25 10:57] #4433 closed

[2019-11-25 12:51] luisramos0 commented on #4484
Hello, I'll have a look now.

There's an hidden checkout workflow error that we are not showing to the user here:
"We are unable to ship the selected items to your shipping address. Please choose another shipping address."
I think this error would be shown to the user if this was a user checkout in the frontoffice.

I am investigating what is causing this error.

[2019-11-25 13:45] luisramos0 commented on #4484
we are again (#4355) looking at "producer" overriding their own products.
what's causing the problem is that the "add variant to order" sees the correct inventory stock levels and lets user add variant to order BUT the checkout workflow is not "scoping" the variants and sees the stock in the catalog, not the inventory AND because the products are out of stock in the catalog, the checkout workflow

[2019-11-25 15:08] lin-d-hop commented on #4484
To be tested after #4355 is fixed (which is the UKs next S3)

Thanks @luisramos0 I'll get this updated.

[2019-11-25 15:16] luisramos0 commented on #4484
I am not sure I was clear, I only mentioned 4355 because it is the same type of situation (overriding own products). This and 4355 require different fixes.

And now that I rethink this... this bug is not specific to "overriding own inventory", I havent tested but I think this will happen every time the product added is an override AND the producer stock is zero. It's a bit worse than initially des

[2019-11-25 15:17] lin-d-hop commented on #4484
Can we get rid of inventory yet?

[2019-11-25 15:23] luisramos0 opened #4491 "Improve Email Deliverability"
## Description
This epic represents the effort to improve email deliverability across OFN's domains.

This epic originates from #4194 and particularly [this comment](https://github.com/openfoodfoundation/openfoodnetwork/issues/4194#issuecomment-547375382) with a list of errors and warnings detected using mxtoolbox.

These are the domains considered for this epic:
- ORG - https://mxtoolbox.com/doma

[2019-11-25 15:33] luisramos0 opened #4492 "[Email Deliverability] Email provider used for org.uk email is blacklisted on backscatterer"
## Description
![Screenshot 2019-11-25 at 15 32 37](https://user-images.githubusercontent.com/1640378/69553893-d4ed7980-0f98-11ea-9eba-fd263f0c5e5e.png)

I think the only way to avoid this is to stop using this email provider... it's their domain that is blacklisted, not the OFN domain.

[2019-11-25 15:37] luisramos0 opened #4493 "[Email Deliverability] Spam filter used for katuma.org emails is blacklisted on Spamhaus DBL"
## Description
![Screenshot 2019-11-25 at 15 35 31](https://user-images.githubusercontent.com/1640378/69554174-4a594a00-0f99-11ea-85ae-3d2f81e39715.png)

I think the best solution here is to stop using this spam filter: filterantispam.com
To do this I think we just need to remove a DNS entry where this filter is configured.

[2019-11-25 15:39] lin-d-hop commented on #4492
This is where our domain is hosted....
We use their mail forwarding to facilitate all of our emails :woman_facepalming:

[2019-11-25 15:45] luisramos0 opened #4494 "[Email Deliverability] Most recent instances (.BE, .DE, .CA and .NET) have no DMARC and SPF records"
## Description
![Screenshot 2019-11-25 at 15 43 26](https://user-images.githubusercontent.com/1640378/69554885-5b568b00-0f9a-11ea-82e1-cead2640fcbf.png)

We need to add DMARC and SPF records for these 4 domains.

Re dmarc record:
- mxtoolbox can generate dmarc records

Re the spf record:
- For the gmail ones AU, CA according to [this](https://support.google.com/a/answer/33786?hl=en) we need to add

[2019-11-25 15:53] luisramos0 commented on #4492
associated with this issue, they dont announce support for TLS and that's flagged by mxtoolbox as a problem:
![Screenshot 2019-11-25 at 15 53 16](https://user-images.githubusercontent.com/1640378/69555896-c81e5500-0f9b-11ea-9538-2e68621b19cd.png)

[2019-11-25 16:00] luisramos0 opened #4495 "[Email Deliverability] spf Too many included lookups for FR domain"
## Description
spf Too many included lookups

![Screenshot 2019-11-25 at 15 53 16](https://user-images.githubusercontent.com/1640378/69556454-a07bbc80-0f9c-11ea-98b1-b58e426fd31c.png)

We need to make the spf record more simple.

The existing SPF record contains vtiger domains and that makes the list too long. @RachL do we still use vtiger to send emails from @openfoodfrance.org?

[2019-11-25 16:04] luisramos0 opened #4496 "DMARC reports should have no errors"
## Description
After we setup dmarc dns records for our domains we receive DMARC reports. These reports list errors for all emails sent, we should fix these errors.

We need to list the existing reported errors for each domain here. For example, in org.uk the emails sent from the forum are not authenticated with dkim.

After all these problems are fixed we can enable the DMARC policy in the dmarc

[2019-11-25 16:09] luisramos0 commented on #4194
ok, to replace this already long issue I have created the epic #4491 with 5 issues so far.

[2019-11-25 16:21] luisramos0 commented on #4495
this is a warning on mxtoolbox but google mxchecker considers this an error:
https://toolbox.googleapps.com/apps/checkmx/check?domain=openfoodfrance.org&dkim_selector=

[2019-11-25 16:25] luisramos0 opened #4497 "[Email Deliverability] ORG.AU - mixed up DNS records"
## Description
This needs to be looked at:
![Screenshot 2019-11-25 at 16 24 40](https://user-images.githubusercontent.com/1640378/69558450-277e6400-0fa0-11ea-9dd5-646b682654ec.png)

[2019-11-25 16:31] luisramos0 commented on #4484
if you remove these from inventory you will bump into #4355

[2019-11-25 16:33] luisramos0 opened #4498 "[Email Deliverability] org.uk spf record is invalid"
## Description
According to google mx checker, org.uk spf record is invalid.

![Screenshot 2019-11-25 at 16 33 37](https://user-images.githubusercontent.com/1640378/69559172-5a752780-0fa1-11ea-9500-e90c61c72997.png)

https://toolbox.googleapps.com/apps/checkmx/check?domain=openfoodnetwork.org.uk&dkim_selector=

[2019-11-25 16:39] luisramos0 opened #4499 "[Email Deliverability] DKIM is not setup for"
## Description
According to google mx checker DKIM keys are not setup for the following domains: US, FR, UK, BE, DE, KA and CA
At least the ones using gsuite (CA) should have this problem sorted.

![Screenshot 2019-11-25 at 16 34 53](https://user-images.githubusercontent.com/1640378/69559348-b17afc80-0fa1-11ea-9bbd-5de29a32a681.png)

[2019-11-25 17:12] luisramos0 commented on #4216
I was  picking this one up again to finish it (clean up old database data) and I found a recent case in Canada:
![Screenshot 2019-11-25 at 17 08 40](https://user-images.githubusercontent.com/1640378/69562081-61526900-0fa6-11ea-912e-ae3f81cb1cb2.png)

I cannot replicate this but this product is from May 2019. I dont understand how this is possible.
@tschumilas any clue how to replicate this?
It's a

[2019-11-26 06:37] mkllnk commented on #2745
@kirstenalarsen Can this be closed since we are retiring embedded shopfronts?

[2019-11-26 08:11] sauloperez opened #4500 "Fix the CI build"
### What we should change and why (this is tech debt)

The CI build is currently failing a crazy lot which slows us down and brings down our confidence on the tests.

### Context

The only explanation that we found is that the recent upgrade to Ruby 2.2.10 made some of the already flaky tests totally unreliable.

### Impact and timeline

This is totally affecting our delivery pipe and needs to be

[2019-11-26 09:07] mkllnk commented on #2715
Yuko listed all needed task in https://docs.google.com/spreadsheets/d/1Gi5ecw7V2-kKi6IAAn77b8gqDJdZ219RUdPqu-IAOhg/edit?pli=1#gid=509363606. Not all of these issues have been converted to Github issues.

[2019-11-26 09:13] Matt-Yorkley commented on #3878
Hot tip: you can use ansible ad-hoc commands to check these things across all servers at once, n the format: `ansible <server group> -u <remote user> -a <command>`.

Example: `ansible all-prod -u ofn-admin -a "sudo certbot certficates"`

[2019-11-26 10:07] #4483 closed

[2019-11-26 12:03] Matt-Yorkley commented on #4457
I just spent half an hour trying to replicate this an d haven't managed it yet...

[2019-11-26 12:39] Matt-Yorkley commented on #4457
I'm pretty sure the failure is pointing to a previous state of that test, which I changed a couple of weeks ago in a PR... Could this have been an issue with recent builds for PRs that were not rebased?

[2019-11-26 13:04] Matt-Yorkley commented on #4490
Ok, at the point where the test fails we click an button in the Enterprise Edit page that then loads the Tag Rules panel content. The next bit of the test executes before Angular has finished loading the elements into the DOM...

[2019-11-26 13:42] RachL opened #4503 "New OC bottom page buttons do not fit well with long text"
## Description

When translating the button in French for example, the text is longer, leaving the buttons to display like this:

French:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/f8b723d1-36a1-4e50-9024-a47c539775d7)

Spanish:
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/54929695-6cb4-4f03-85a5-d4cf4e528fa1)

Instead of:

![image.png

[2019-11-26 18:20] luisramos0 commented on #4216
we agreed today on the delivery train catch up that we would clean up the DB data and close this issue until/if this happens again.
I found and cleaned 1 entry in Canada, 2 in UK and 150 very old entries in AU. All sorted now.
Closing.

[2019-11-27 00:24] emilyjeanrogers opened #4504 "Cannot Edit Incomplete Order with Status Address (Snail error)"
**Description**

Terrewah Farm on Aus instance have reported a failed shopper order. They didn't receive the order and the shopper is unsure if they saw an Order Confirmation. This was a cash on pick up transaction, so now payment details were entered.

In Admin, the Customer (Terrewah) can see the Order. It is incomplete, with Status as 'Address'. When they try to view/edit this order they get a

[2019-11-27 00:28] kirstenalarsen commented on #4504
I have put an S2 on this as it needs investigation to see if we can understand why - orders failing for no known reason is affecting a critical feature. It only happened once that we know of, but could be happening more and customers just walking away. So I think it is S2 for investigation please

[2019-11-27 08:02] sauloperez commented on #4457
But in https://github.com/openfoodfoundation/openfoodnetwork/pull/4501 I see it failing

[2019-11-27 09:29] Matt-Yorkley commented on #4457
The tag rules spec is failing there, not this line_item spec...

[2019-11-27 09:30] luisramos0 commented on #4504
this is the error when opening the order in admin:
https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5d5dd1cd0ac21f0019139fe3?filters[event.since][0]=30d&filters[error.status][0]=open

[2019-11-27 10:06] luisramos0 commented on #4504
There are no overrides for the variants in the order, so this is not related to the use of the inventory feature.

4 of the 9 products in the order were out of stock, I added stock to the products but the problem remains.

WIP...

[2019-11-27 10:48] luisramos0 commented on #4498
ping @Matt-Yorkley

[2019-11-27 11:23] luisramos0 commented on #4494
I have added spf and dmarc records for DE and US (these are on the same godaddy account as AUS)

we are now missing BE and CA

[2019-11-27 11:41] luisramos0 commented on #4497
Apparently there's a mail server running on the AUS prod2 server:
telnet openfoodnetwork.org.au 25
Trying 43.239.97.171...
Connected to openfoodnetwork.org.au.
Escape character is '^]'.
220 prod2.openfoodnetwork.org.au ESMTP Postfix (Ubuntu)

this is flagged by google mx checker as a problem.

@mkllnk is this some specific thing on the au server or is this a generic ofn-install issue?

[2019-11-27 12:31] sigmundpetersen commented on #2891
Shall we close this? I guess we're not upgrading Ruby further until Rails is upgraded?

[2019-11-27 12:38] sigmundpetersen commented on #3830
Is cache gone? Can we close?

[2019-11-27 12:56] Matt-Yorkley commented on #3830
The cache doesn't exist! :tada:

[2019-11-27 12:56] #3830 closed

[2019-11-27 12:57] #4235 closed

[2019-11-27 12:59] Matt-Yorkley commented on #2891
We can probably close this now, but I might try bumping to `2.3.8` to see if it works...

[2019-11-27 13:02] sigmundpetersen commented on #2891
Okay let's keep it open then. No prob

[2019-11-27 13:06] sigmundpetersen commented on #4500
Maybe #3369 can be considered as part of this work? Improving spec reliability using timwcop

[2019-11-27 15:40] #4018 closed

[2019-11-27 23:06] mkllnk commented on #4497
I was not aware of that! Maybe the cloud image came with the mail server installed, or it's the dependency of something else, maybe installing Wordpress as apt package could have triggered that?

I don't think that ofn-install has anything to do with it. We do run our Wordpress website on that server and it sends out emails when you create a new user or reset the password. The server should only l

[2019-11-28 05:02] mkllnk opened #4517 "Release v2.6.5 Coriander"
Steps:

- [x] Include translations
- [x] Draft:
 https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-57280c729f3a29eddb19
- [x] Test:
 https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1029
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described a

[2019-11-28 10:07] Matt-Yorkley commented on #4500
I'm wondering if now is a good time to try out `CircleCI`? All these flaky specs pass locally and only fail in Semaphore, which is running Ubuntu 14. We might get a faster build, too...

[2019-11-28 11:15] sauloperez commented on #4235
Bulking a brain dump here. IMO it's time to revisit any products cache leftovers does something to your mind @Matt-Yorkley ? There are at least `touch`  calls we could remove.

[2019-11-28 11:19] luisramos0 commented on #4235
ah, yeah, on enterprises. was that only for the cache?

[2019-11-28 15:09] lin-d-hop opened #4521 "Tamar Valley Food Hub - Pack By Supplier report"
## Description

The Pack By Supplier report is a crucial report for the functioning of this food hub. It has long been a report that they've struggled with, timing out and the like. It's the main reason that the UK has a 6 min timeout.

This week the report is not running at all. They have tried running the report for 1 day's data at a time and that has not worked.

The error is a timeout slug.

#

[2019-11-28 15:20] kristinalim commented on #4521
Noting these stats in the server right now:

[code]

There is ~2.9 GB free RAM right now, but at some point there probably was a memory spike that caused processes to use swap. The server is still using 0.6 GB of swap in use right now.

[2019-11-28 15:26] luisramos0 commented on #4521
I am looking at the data, the OC has 48 exchanges and 2134 variants, the previous OCs had 45 exchanges and around 2000 variants.
The number of orders is also a little higher with 188 against 165 and 184 before.
So, the data volume looks similar but slightly higher.
I am not sure such a small difference could cause the report to reach the timeout...

[2019-11-28 15:36] kristinalim commented on #4521
Okay, so I managed to [find a command](https://www.cyberciti.biz/faq/linux-which-process-is-using-swap/) for listing processes using swap, and it does seem that a reboot would be the easiest way if it is safe:

[code]

[2019-11-28 15:43] kristinalim commented on #4521
@luisramos0 Given the numbers here and our hesitation to reboot the server, I think we can try:

1. Restarting memcached to handle the `memcached` task
2. Deploying, to handle `bundle`, `ruby`

[2019-11-28 15:46] luisramos0 commented on #4521
ah, yeah, lets do that!
and you can run the command aboe again after restarting things.

[2019-11-28 15:47] kristinalim commented on #4521
I've restarted memcached:

[code]

[2019-11-28 15:48] Matt-Yorkley commented on #4521
CPU is spiking near 100%...

[2019-11-28 15:54] kristinalim commented on #4521
Thanks for suggesting to just reload Unicorn, @Matt-Yorkley :

[code]

[2019-11-28 16:42] kristinalim commented on #4521
I also restarted `delayed_job` which was one of those using swap (formerly 100+MB):

[code]

[2019-11-28 16:51] kristinalim commented on #4521
I also restarted Unicorn because the old workers weren't getting killed after the reload:

[code]

[2019-11-28 17:47] kristinalim commented on #4521
Another thing I noticed BTW is that part of the datadog agent is running on swap as well. I don't know if it is intrusive or just reads logs - if the former, can be a bottleneck too...

@Matt-Yorkley Do you happen to know if it is safe to restart without restarting all the processes that use it?

[2019-11-28 17:49] kristinalim commented on #4521
This is `agent` in the list of processes above, using only 42 MB of swap. Noting here also for documentation.

[2019-11-28 17:51] luisramos0 commented on #4521
I was looking at the code and found that this report and orders_and_fulfillments_report use Permissions.visible_orders and basically puts all the orders the user can see in a IN clause :face_with_head_bandage: :coffin:  (Reports::LineItems#search_orders)

[2019-11-28 18:31] luisramos0 commented on #4521
we changed the timeout on the server to 12mins
@RachL just confirmed the report works for one day in 7mins

have we ever considered data archiving in OFN? Archiving orders from previous years would avoid this problem. The problem will get bigger as the user gets more orders in the system.

[2019-11-29 08:51] lin-d-hop commented on #4521
Archiving would be a great part of a the performance strategy.

[2019-11-29 10:34] lin-d-hop commented on #4521
Trying to run again today I cannot get the final day of orders in this order cycle to load in the report.
Nov26 (9:30am) - Nov27(9:30am)

[2019-11-29 11:47] sauloperez commented on #4235
the cached JSON was rather rich so I bet there are many models that logic related to it. We need to refresh our investigations and :fire: what might be left.

[2019-11-29 12:02] sauloperez commented on #4206
Now that I read again my proposal I see the problem you mention. If we implement that URL in the backend we require reloads and I understand it wouldn't be the best experience. So perhaps is better on the frontend.

As for scenario 3 you mention. It feels to me like reinventing the wheel for something browsers already do and I'm afraid going down that path would bring in more maintenance costs.

[2019-11-29 12:15] sauloperez commented on #4439
Yes, it was Nov 12th at noon :point_right: https://app.datadoghq.com/event/event?id=5189133656004272199

[2019-11-29 12:21] RachL commented on #4206
I feel we need to be careful about this one. On other projects where the filters are kept I see lots of bugs happening and related to this need.

For example: how long are those filters kept? As long as the user doesn't leave the edit page? Disconnect?
In case of multiple tab open and filtering which tab has the correct info? The latest?

Another approach would be to open all products edit pages f

[2019-11-29 12:22] #4239 closed

[2019-11-29 12:23] #4238 closed

[2019-11-29 12:28] RachL commented on #4439
@sauloperez my comment was 17 days ago ;)
We didn't provision until the release deployment, which means that during 5 days this hub couldn't reach their report.
Luckily I could do it during the night and send them their report.
I didn't say anything at that time because I thought it is something that will require time from the team, and thought I had to wait until the release. But now that I see t

[2019-11-29 12:31] luisramos0 commented on #4521
From the back of this issue i am working on improving performance of the report by improving one of the permissions queries "visible_orders":
https://github.com/openfoodfoundation/openfoodnetwork/pull/4523

I dont think this will be enough, there will probably be other things we need to do to get this report to run in "a few minutes".

I agree running a report in a background job is a good approac

[2019-11-29 13:41] Matt-Yorkley commented on #4521
From Datadog it looks like there's some big N+1 issues with loading properties. I can have a go at it tomorrow

[2019-11-29 15:49] luisramos0 commented on #4521
do you mean this?
![Screenshot 2019-11-29 at 15 48 30](https://user-images.githubusercontent.com/1640378/69879596-bc929d00-12bf-11ea-8b51-71faa0e56fd9.png)

how do you know this is from the report?

[2019-11-29 17:02] RachL commented on #4517
Alright this is ready to go! 🎉

Testing notes: https://docs.google.com/document/d/1M71ImDsv1kTYuC2_Lno3pn2OWAQvmrWGAoIw-pIoFLo/edit#

[2019-11-29 18:10] luisramos0 commented on #4521
@Matt-Yorkley tested your PR locally with live data where the report is taking 8 minutes to load.
This has indeed reduced the number of queries from 321 to 101 but the report is taking the same time to load. 8 mins :-(
I think the problem is in Report::LineItems#list
I'm trying to re-write it.

[2019-11-29 21:37] Matt-Yorkley commented on #4521
Maybe its something with that specific data? The page load took less than half the time for me locally...

[2019-11-29 21:38] Matt-Yorkley commented on #4521
8 minutes is insane...

[2019-11-29 21:46] Matt-Yorkley commented on #4521
Are you using data from UK prod for that specific enterprise? From Lynne's comments it seems like the data around the 25th was especially bad. I wonder if there's something more there?

[2019-11-29 21:51] Matt-Yorkley commented on #4235
I removed as much as I could see, but there could be a few bits left.

[2019-11-29 21:53] luisramos0 commented on #4521
I am running my tests with live uk data and running the report for the same OC dates.
The 25th loads ok in under 2 minutes. If I run the 25th and the 26th it gets to 8 minutes.
Just rerun it now, your PR doesnt improve the situation. It took a few seconds more actually in this last run... :-(
I think it's related to hidden line items, I'll debug now.

@Matt-Yorkley  I have made some refactorings (

[2019-11-29 22:18] luisramos0 commented on #4521
I couldnt believe these results so I run the report again in master and with your PR. 8mins both.

[2019-11-29 22:31] luisramos0 commented on #4521
The report that takes 8mins, if I comment out line_items_with_hidden_details the same report takes 30secs :-O
"30secs fix" in lib/open_food_network/reports/line_items.rb:
<img width="610" alt="Screenshot 2019-11-29 at 22 22 39" src="https://user-images.githubusercontent.com/1640378/69891745-c4b9ff00-12f6-11ea-9c0a-94320410c3dc.png">

So, the problem is isolated 👍

Now we need to fix it.

[2019-11-29 22:40] luisramos0 commented on #4521
my first clue is that we are abusing IN clauses all over the app, sometimes the IN clause has a sql query which is ok, but I see many times we have lists of IDs computed previously in a separate query. That isn't as fast as a join or a inner query AND it has limits:
https://stackoverflow.com/questions/1009706/postgresql-max-number-of-parameters-in-in-clause

[2019-11-29 23:15] luisramos0 commented on #4521
ok, I think this last commit in this PR fixes the problem: https://github.com/openfoodfoundation/openfoodnetwork/pull/4523/commits/d7fa7909d7a865b8fea2cfa8a8ef5000ba612af2
Basically instead of searching for line items that are hidden (NOT IN clause) we search for the editable line items (MERGE) and iterate on the negative (the line items that are not editable, thus hidden :-)).

The code needs to

[2019-12-02 12:08] luisramos0 commented on #4493
ping @sauloperez I leave it up to you to remove the dns config because I am not sure why/who added it originally.

[2019-12-02 12:12] luisramos0 commented on #4497
Thanks @mkllnk I am unfamiliar with wordpress setup and I dont know how to fix that problem. maybe faster if you try to fix it?

[2019-12-02 12:14] luisramos0 commented on #4499
@tschumilas do you know where the DNS is registered for CA? can you share access in bitwarden or slack? thanks!

[2019-12-02 12:15] luisramos0 commented on #4491
status of each issue:
- #4492 this probably involves switching email providers in the uk or ignore and close the issue.
- #4493 pending confirmation from @sauloperez to remove dns entry
- #4494 pending access to CA and BE dns registers
- #4495 pending question to @RachL about vtiger lookups that could be removed from the spf record
- #4496 this is the most laborious one where we need to analyse dm

[2019-12-02 13:00] RachL commented on #4495
@luisramos0 thanks for the reminder, I totally missed this question.

Vtiger is our CRM and support tool. So we are sending emails with it in two different manner :

1. We use it to send email like a regular email box. The main advantage is that the email is store with the contact profile, easy for any team member to check what has been said previously.
However we could stop doing it: there is oth

[2019-12-02 13:32] sauloperez commented on #4435
Looks like Semaphore 2 does support merging the test reports from each of the parallel workers into a single coverage reports :point_right: https://docs.semaphoreci.com/article/148-configuring-parallel-tests-with-code-climate

[2019-12-02 14:08] sauloperez commented on #4493
Yes, I let this to us. Thanks for taking care of it!

[2019-12-02 16:26] tschumilas commented on #4499
openfoodnetwork.ca  is registered with https://www.10dollar.ca/
But I don't know how to access bitwarden -  looks like it is an app for firefox?  is that right?  Or is there another way I access it?

[2019-12-02 16:31] #4521 closed

[2019-12-02 16:34] luisramos0 commented on #4499
bitwarden is a password manager, you can use the website or the browser plugin.
first you would need to create an account: https://bitwarden.com/

I've also pinged you on slack if you just want to send me the password to 10dollar.ca

[2019-12-02 18:05] luisramos0 opened #4528 "Release v2.6.6 Turnip"
Steps:

- [x] Include translations
- [x] Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-c942482f3ea7356a59b1
- [ ] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1036
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described at

[2019-12-03 00:02] #4517 closed

[2019-12-03 03:10] kirstenalarsen commented on #3170
We have just had this raised by a user. I think the correct behaviour would be that if there is only one Order Cycle available to that user it should be selected by default. This is how it works when there is only one order cycle at all, and as far as this Customer is concerned there IS only one, so they shouldn't have to choose.

[2019-12-03 03:21] kirstenalarsen opened #4529 "[mobile ux] Reduce prominence of 'select OC' when Customer can't use it"
## Description
When a shop is set to 'private' i.e. only registered customers can place orders, it still shows the order cycle selector. If there is more than one order cycle available, it shows the big red 'choose when you want your order' message. The selector doesn't work as the shop isn't active for this customer. It is unnecessarily confusing!

![image.png](https://images.zenhubusercontent.co

[2019-12-03 07:30] sauloperez commented on #4439
definitely, you should have pushed. Provisioning is something we do before deployment but just as a convention and because ofn-install has no release process whatsoever. We need to do something about it as things like this issue depend on it.

[2019-12-03 07:52] RachL commented on #4529
@kirstenalarsen the problem with having the selector once tags are in place is already documented here: https://github.com/openfoodfoundation/openfoodnetwork/issues/3170

The problem you mention with private shops sounds different. Can you change the description to focus on this problem only?

[2019-12-03 07:54] RachL commented on #4529
But I wonder if you don't have tag in place, because I cannot reproduce it on the private shops we have :/

[2019-12-03 17:21] lin-d-hop commented on #4528
@luisramos0 the build is failing :-( tried rebuilding and same error.

[2019-12-03 18:07] lin-d-hop commented on #4528
Worked on the third try. On to the testaporium.

[2019-12-04 03:48] mkllnk commented on #4504
Great investigation. I agree that this is an S3 now. As you suggest, we should make the admin interface more robust so that it deals with address-less orders without showing a snail. Given that we now deployed a synchronised checkout (items can't be checked out twice at the same time), this error may not happen again. So I would skip further investigation.

[2019-12-04 04:16] daniellemoorhead opened #4531 "Mobile shopping UX improvements"
## What is the problem we are solving
The existing shopping experience on mobile is difficult to complete and we assume is a deterrent to shoppers completing the process. This equates to lost sales for our shops in a world where we are more and more likely to use our mobile for shopping online.

We also have many requests from our shops for the mobile experience to be improved, many instances see

[2019-12-04 04:39] daniellemoorhead opened #4532 "Clicking on cart in header nav takes me to checkout, not to edit cart page"
## Expected Behavior
When I click on the cart icon in the header nav it will take me to the edit cart page

## Actual Behaviour
When I click on the cart icon in the header nav it takes me the first screen of the checkout process and I need to hit the 'back to cart' button to actually see the cart.

## Workaround
Click on the 'back to cart' button.

## Severity

bug-s1: a critical feature is broken

[2019-12-04 04:47] daniellemoorhead opened #4533 "Hide the groups link in shop menu if not in a group"
## Description
**- As a:** shopper
**- On page:** a shop
**- I want to be able to do:** not see the groups link if the shop isn't in a group, because I'll open that link, see nothing there, and be annoyed by it.

## Acceptance Criteria & Tests
- [ ] When the shop is part of a group, I will see the groups menu item. When I click on this I will see an expanded section with the group/s listed.
- [ ]

[2019-12-04 04:56] daniellemoorhead opened #4534 "[mobile ux] Change phone keyboard enter key to say "Search" or show magnifying glass"
## In a feature branch or master?
This can be merged directly to master 🎉

## Description
**- As a:** shopper
**- On page:** search on a shop using a mobile or tablet device
**- I want:** the button that currently says "done" to say "Search" so that it reflects the action I am undertaking

Note: < input type="search" >

## Acceptance Criteria & Tests
- [ ] When on any mobile or tablet device using

[2019-12-04 05:06] daniellemoorhead opened #4535 "[mobile ux] Field focus on iPhones change the zoom level of a page and user needs to resize it"
## In a feature branch or master?
This can be merged directly to master 🎉

## Expected Behavior
When I do a search of shop products on an iPhone, the browser does not zoom in and resize so that the page no longer fits the screen.

## Actual Behaviour
When I do a search of shop products on an iPhone, the browser zooms in and resizes the page, which means when I click out of the search bar I then ne

[2019-12-04 05:14] daniellemoorhead opened #4536 "[mobile ux] Click anywhere to close the price breakdown info box"
## In a feature branch or master?
Product listing feature branch

## Description
**- As a:** shopper
**- On page:** the products list of a shop
**- I want to:** click anywhere to close the price breakdown info box if I've opened one.

## Acceptance Criteria & Tests
- [ ] The price breakdown info box will shut if you click anywhere on the page.

1. Go to a shop on desktop
2. Click on a pie icon nex

[2019-12-04 08:41] lin-d-hop commented on #4528
Testing notes here:
https://docs.google.com/document/d/1cpYPhiRBztilW7MSSobuTouHf8aODrc0W1EFZ20DCZw/edit#

I had a few issues on reports but I think this is corrupt data. @RachL is going to take a deeper look as I have to run now. Thanks Rachel! I owe you a testing tag :-)

[2019-12-04 09:09] Matt-Yorkley commented on #4532
Is this just on Mobile?

[2019-12-04 09:19] RachL commented on #4531
This looks amazing :heart_eyes:

[2019-12-04 10:38] #3149 closed

[2019-12-04 10:40] RachL commented on #4528
The reports are working good with staging FR data. Let's see now on UK with the prod data.

[2019-12-04 13:29] RachL opened #4537 "French prod: not all product are loading on a shopfront"
## Description
A shopfront is not loading entirely. This user has embedded shopfronts on his website. The other shopfronts are working fine.

## Steps to Reproduce

1. Go visit https://www.openfoodfrance.org/micromarche-villeenbois/shop
2. Only the first products will appear

## Severity
bug-s1: a critical feature is broken: checkout, payments, signup, login

## Your Environment
* Version used: v.

[2019-12-04 13:44] RachL commented on #4537
We might need to dump the prod data somewhere: they won't reopen the shop before tomorrow

[2019-12-04 14:06] RachL commented on #4528
With prod data, they were time out issue, so this is ready to go and be tested on UK live.

[2019-12-04 14:13] luisramos0 commented on #4537
From slack:
[code]

This needs to be investigated. Not an S1 for sure, lets keep it S2 as this may happen to other shops and it's a very critical feature?

[2019-12-04 14:15] RachL commented on #4537
ok for s2. But the shops needs to be able to sell the product with id 366.

[2019-12-04 14:20] luisramos0 commented on #4537
before we get someone to investigate (maybe me tomorrow morning) I'd try to clone the product, add it to OC and see if it still happens? #workaround

[2019-12-04 14:21] luisramos0 commented on #4537
also, slightly change the name of the product or of its variants may help #workaround

[2019-12-04 14:55] #4528 closed

[2019-12-04 15:57] RachL commented on #4537
@luisramos0 duplicating or chaging variant name does not work. however changing product name is working: I've changed `Céréales` to `Céréales_`

[2019-12-05 01:00] jeduardo824 commented on #4533
I can work on this one

[2019-12-05 01:54] mkllnk commented on #4497
Postfix was automatically installed by mailutils. Mailutils was manually installed. I guess that it came with the cloud image of Rimu hosting.

Postfix is actually used by our Wordpress installation to send emails. Deliveribility hasn't been an issue yet. We are only sending to OFN-AU staff members when creating a new account or resetting a password.

The server was not authenticating emails from

[2019-12-05 03:53] mkllnk commented on #4537
Good investigation. There is another product called "Céréales" and two products with the same name raise this error in Angular code:
[code]

I'm not sure why Luis' output didn't specify the actual error name.

[2019-12-05 04:36] mkllnk commented on #4537
Confirmed: We just order by product name. When two products have the same name, the order in which they are returned from the database is undefined. In this case the two products with the same name have been retrieved in different orders for the first and the second page. And the pagination then lead to loading the same product twice. This patch fixes it:

[code]

I don't know how to write a test

[2019-12-05 05:22] mkllnk commented on #3878
First of all, it's really bad that most servers didn't have any monitoring for expiring certificates. The ability to check the expiry date of a certificate has been one reason for me stay with Wormly and not transition to Happy Apps. Three servers were covered already but I added the rest to our Wormly monitoring as well. The account is in Bitwarden.

- [x] Australia
- [x] Belgium
- [x] Germany
-

[2019-12-05 05:46] mkllnk commented on #3878
I ran `ansible all-prod -u ofn-admin -a "sudo certbot certificates"` as Matt suggested. Thank you!

I found an invalid certificate on the Australian server:
[code]

I will fix those.

And also an invalid config in the UK:
[code]
@Matt-Yorkley Can we delete those two invalid configs?

[2019-12-05 06:26] mkllnk commented on #3878
I noticed that the two config files

- `www2.openfoodnetwork.org.conf` and
- `www2.openfoodnetwork.org-0001.conf`

were created by different certbot versions. The first file was created in July by certbot 0.35.1 and the the `-0001` file was created in October by certbot 0.31.0 which is installed right now. That is confusing. Did we have another PPA at some point that provided 0.35.1? The Ubuntu or

[2019-12-05 08:44] sauloperez commented on #3878
watch out, certbot nginx does something more than that :point_right: https://github.com/coopdevs/certbot_nginx

[2019-12-05 09:52] luisramos0 commented on #4497
yes, problem fixed 👌
![Screenshot 2019-12-05 at 09 52 07](https://user-images.githubusercontent.com/1640378/70224294-f131a900-1744-11ea-8d16-2add67a5d7c2.png)

thanks Maikel!

[2019-12-05 09:52] #4497 closed

[2019-12-05 09:54] luisramos0 commented on #4537
ah, awesome @mkllnk

[2019-12-05 10:03] luisramos0 commented on #3878
nice work @mkllnk
shall we move this to test ready and put a dev-test label so another dev will have a look OR shall we just close it?

[2019-12-05 14:55] luisramos0 commented on #4494
ok, CA is done.

Only BE missing.

[2019-12-05 15:06] luisramos0 commented on #4499
I have access to the CA dns register, I fixed #4494 for BE :+1:
to fix this one, DKIM, I also need access to the gsuite console to follow this guide (I pinged Therese on slack now to sort out this access): https://support.google.com/a/answer/174126

[2019-12-05 15:21] luisramos0 commented on #4495
This is the SPF record for FR:
`include:mx.ovh.com include:ca.vtiger.email include:vtigermails.com ?all`

This is a problem with the vtiger setup, on their side, they are giving us two domains to be added to spf and these 2 domains go (DNS) around a lot creating this problem:

this is the spf record of ca.vtiger.email...

<img width="1107" alt="Screenshot 2019-12-05 at 15 13 51" src="https://user-

[2019-12-05 15:47] lin-d-hop commented on #4131
Hey all,
The epic might be done but the UK still has a user that cannot access this report with a 12min timeout for their standard user account.
This account necessarily needs to manage a number of hubs (that share a packing day) and enterprises.
I think we cannot close this epic or the round of performance improvements at this point. To be discussed at the next Delivery Train meeting to discuss n

[2019-12-05 17:21] luisramos0 commented on #4499
ok, done, thanks @tschumilas
I am closing this issue. All other DKIM problems will show up in the dmarc reports. there's an issue for that #4496

[2019-12-05 17:22] #4499 closed

[2019-12-05 17:37] pacodelaluna commented on #4495
Ok, didn't know about this issue, I will take a deeper look at this config, I just copied/pasted some configuration from VTiger and OVH, I will try to understand it a bit more.

[2019-12-05 17:45] luisramos0 commented on #4496
We have a number of reports already being sent, particularly to tech@openfoodfoundation.org
I have just looked at some reports for openfoodnetwork.org.au and found some errors in report from google.com (report ID 2355158623373711237):
A - this IP 202.78.197.197 (ip-78-197-197.dtp.net.id) sent 2 emails on behlaf of openfoodnetwork.org.au and both dkim and spf failed.
B - this IP 188.65.118.154 (fre

[2019-12-05 17:55] luisramos0 commented on #4491
ok, as discussed before, I dont think this is ALL S2 level. All these things help avoiding emails sent to spam folders but I believe the s2 issue in UK comes from #4492 and possibly (this one could also be a false alarm) #4498

As part of this effort I think we should finish #4494, #4493, #4498 and discuss #4492
#4496 is important but can take a while to get sorted as we need to go through all the

[2019-12-05 18:09] luisramos0 commented on #4495
hello @pacodelaluna  your config is correct, you did what they ask you to do. the problem is on their side.

[2019-12-06 10:06] Matt-Yorkley commented on #4131
Ok, I think we need to delve into the use of `OpenFoodNetwork::Permissions` in orders and fulfilment reports, like in #4523

[2019-12-06 10:35] Matt-Yorkley commented on #4498
Fixed :+1:

[2019-12-06 10:35] #4498 closed

[2019-12-06 10:41] Matt-Yorkley commented on #4494
I've just had a look and BE isn't on the UK's hosting account. I'm not sure where their DNS record are kept...

[2019-12-06 10:45] luisramos0 commented on #4503
for reference, this is similar to https://github.com/openfoodfoundation/openfoodnetwork/pull/3648/files

[2019-12-06 10:47] luisramos0 commented on #4498
thanks Matt :+1:

[2019-12-06 11:15] luisramos0 commented on #4494
from whois I see it's on https://www.dnsbelgium.be
ping @RachL maybe Theo will have the credentials?

[2019-12-06 11:52] Matt-Yorkley commented on #3878
I've just removed those two invalid configs after double-checking the details. :+1:

[2019-12-06 11:59] RachL commented on #4494
@luisramos0 @Matt-Yorkley Theo says he has no idea and apparently nobody else in Oxfam was involved... ?

[2019-12-06 12:00] RachL commented on #4495
@luisramos0 @pacodelaluna shall I contact them to see if they can do something? We are paying the Vtiger service so generally their support gives a quick answer.
Or is it a case where we should consider another tool?

[2019-12-06 12:10] sigmundpetersen commented on #4494
I think BE is hosted on OVH at least, but maybe that's not what you're looking for.

[2019-12-06 12:28] Matt-Yorkley commented on #4494
Maybe it's in their OVH account then... I'll take another look

[2019-12-06 12:32] luisramos0 commented on #4495
ah, good point, lets contact them, yes!
the question is really just: we are getting "too many spf lookups" error when including your spf records, how can we fix this problem?

[2019-12-06 12:37] luisramos0 commented on #4494
more info here:
https://www.dnsbelgium.be/en/whois/info/openfoodnetwork.be/details
it points to https://www.123-reg.co.uk/
and it also points to heg.com which mentions godaddy...

[2019-12-06 12:38] Matt-Yorkley commented on #4494
Yeah it looks like it's with 123-reg.co.uk

[2019-12-06 12:42] Matt-Yorkley commented on #4494
I've added the credentials to Bitwarden and I'll have a look at SPF records now.

[2019-12-06 12:50] Matt-Yorkley commented on #4494
BE now has a valid SPF record :+1:

[2019-12-06 13:07] Matt-Yorkley commented on #4494
BE now has a DMARC record as well, with reports going to the tech@ address (along with UK reports) :+1:

[2019-12-06 13:08] RachL commented on #4495
Okay. Email sent!

[2019-12-06 13:08] luisramos0 commented on #4494
looks good here https://mxtoolbox.com/Pro/domain/openfoodnetwork.be//#/
thanks Matt!
closing this, we can now track the dmarc reports and the errors in #4496

[2019-12-06 13:11] luisramos0 commented on #4491
thanks @Matt-Yorkley for fixing #4494 and #4498
Only the blacklisted issue remaining then: Katuma #4493 and UK #4492.

[2019-12-06 13:14] Matt-Yorkley commented on #4410
Is this a duplicate of #4322 or not?

[2019-12-06 13:29] RachL commented on #4410
@Matt-Yorkley it is maybe related to the same problem. But both are two different icon/problem: there is the edit icon and there is the unpause button. In #4322 you can pause but not unpause. Here you cannot edit.

[2019-12-06 14:51] RachL commented on #4495
@luisramos0 @pacodelaluna here is Vtiger's answer:

Please do remove the "include:ca.vtiger.email"(ref) from SPF record.

[2019-12-06 15:13] luisramos0 commented on #4495
that is nice, I did it and it fixes the problem.
Maybe we can ask them to update their guide: https://www.vtiger.com/docs/email-authentication

I am closing the issue.
If their advise is not correct and they send emails from ca.vtiger.email, we will see the errors in the dmarc reports: #4496

[2019-12-06 15:13] #4495 closed

[2019-12-06 17:27] luisramos0 commented on #4410
I can replicate it 😮 🤕
https://recordit.co/FTggcjjEcw

[2019-12-06 17:29] luisramos0 commented on #4410
yeah, same cause as #4322
error:
[code]

[2019-12-06 22:31] Matt-Yorkley commented on #4496
We have a lot of failures like this for UK. I'm not sure how to interpret them all. Mails from the app (via Sendgrid) are all fine. The failures are a mix of odd domains and apparently Google mail server IPs... I'm not sure if some of them are valid mails sent by us or not.

[2019-12-06 22:47] luisramos0 commented on #4496
I think they are all valid emails, I dont think anyone is sending emails on behalf of OFN.
I think the failures will all have an explanation, one example are individual accounts like your email on openfoodnetwork.org.uk, do you have correct dkim config when you send emails from that account? that will appear on the dmarc report.
Long term we should aim to clean this up because every email sent wit

[2019-12-07 11:02] Matt-Yorkley commented on #4496
I've only just added an email for myself. All the emails using `@openfoodnetwork.org.uk` just forward incoming mails to personal email accounts. In theory, when anyone from the UK team replies to one of those emails it should be from a personal email, and shouldn't directly use the `openfoodnetwork.org.uk` domain in the from-address.

[2019-12-07 11:03] lin-d-hop commented on #4492
So the problem is in the way we've been doing emails in the UK - set up originally as a free hack to get unlimited email accounts. We use Vidahost mail forwarding to gmail SMTPs to set up all our personal emails. Obviously this is not a suitable solution anymore and costs WAY more money than it saves :-) :woman_facepalming:

So we need a new plan for our personal emails. I am very open to suggesti

[2019-12-07 11:13] lin-d-hop commented on #4496
Not true @Matt-Yorkley
We have set gmail smtp servers to send mail from the same address. This was originally a plan for free email accounts but now obviously a very costly solution.
Time to stop using forwarding and gmail smtp to manage our mail.

[2019-12-07 11:15] Matt-Yorkley commented on #4496
I think some mail clients allow you to modify the form address to respond "as" another email. So we need to figure out if anyone in the UK team is doing this., or if some gmail accounts are trying to do it automatically?

The other remaining bits to investigate are: emails on our Discourse site at `https://community.openfoodnetwork.org.uk/` for password reset, signup, etc, (these don't have DKIM/S

[2019-12-07 11:16] lin-d-hop commented on #4496
Yes everyone in the UK team is doing this :laughing: :woman_facepalming:

[2019-12-07 11:23] Matt-Yorkley commented on #4496
Aha! I missed your first message. Yeah, that gmail SMTP hack is totally blocking our deliverability.

[2019-12-07 11:26] lin-d-hop commented on #4496
Yep. I see that now. Let's fix it. Give me a plan please :pray:

[2019-12-09 09:19] RachL opened #4544 "Impossible to reach an OC older than 6 months ago"
## Description

I've discovered this while talking with a hub trying to find an OC they created in December last year. This OC had special Christmas products, so they wanted to duplicate this OC for this year.

## Steps to Reproduce
1. Go to `/admin/order_cycles`
2. Select a hub that has data for at least a year. With French prod data use "Collectif Court-Circuit dépôt de la Barre de Monts"
3. Use

[2019-12-09 09:24] RachL commented on #4495
Great, thanks!

[2019-12-09 11:24] luisramos0 commented on #4544
I cant replicate Rachel, I made myself manager of this hub and it works:
![Screenshot 2019-12-09 at 11 22 07](https://user-images.githubusercontent.com/1640378/70432020-2bb58180-1a76-11ea-8c1b-6e23c5b8b197.png)

Maybe too much data and enterprises on your user? In your screenshot I see the last line on the network tab has not finished yet. have you tried to wait for it to finish or timeout?

[2019-12-09 11:35] RachL commented on #4544
@luisramos0 I waited during 30min, the spinner kept looping. I guess there is a timeout, but just not visible to the user (even in dev tools). So I guess it is a performance problem. The user I've used has 5 enterprises, which is not that much in the OFN world. What's the correct way to record performance, just add a label? @lin-d-hop ?

It's not urgent, but we need to document this so we remember

[2019-12-09 11:38] luisramos0 commented on #4544
this is not a performance problem until we prove it's a performance problem.
All we know is that your user is seeing a spinner and my user is seeing the correct results.

Can you replicate this consistently? do you keep getting that line in network tab without a code (like 200 or 502)?

[2019-12-09 12:02] RachL commented on #4544
Yes to both question.

I filter on the hub "Collectif Court-Circuit dépôt de la Barre de Monts"

[2019-12-09 17:20] sauloperez commented on #4493
Done. I remove those two mx entries after the DNS provider's tech support confirmed they were old antispam filters they no longer use.

The score at https://mxtoolbox.com/domain/katuma.org/ immediately improved. We only have `No DMARC Record found` reported now.

[2019-12-09 17:34] sauloperez commented on #3914
This will require some investigation first to see how it'll affect the other parts of the app and whether support for it in Rails by means of a gem. The goal here is to replace them @Matt-Yorkley but I also thing there other things we could do first to improve performance.

Also, this will require us to switch to `structure.sql` before anything else as we discussed in

[2019-12-09 17:38] sauloperez commented on #4410
I can confirm. The only hub using subscriptions in Katuma is experiencing this.

[2019-12-09 18:19] luisramos0 commented on #4544
hey Rachel, what user is logged in?
I can replicate this with super admin...

[2019-12-09 18:25] luisramos0 commented on #4493
great, thanks!!!
dmarc! I missed katuma in https://github.com/openfoodfoundation/openfoodnetwork/issues/4494 reopened it.

[2019-12-09 18:25] #4493 closed

[2019-12-09 18:25] luisramos0 commented on #4494
reopening, I missed Katuma.
https://mxtoolbox.com/Pro/domain/katuma.org/#/
@sauloperez do you want to give me access or do you want to add it yourself?

[2019-12-10 01:50] daniellemoorhead commented on #4535
@mkllnk if you fix this one there's benefit to CFF as well - it happens on their search bar too.

[2019-12-10 07:32] pacodelaluna commented on #4495
Good catch, sorry, I couldn't deal with this lately.

[2019-12-10 08:09] sigmundpetersen commented on #4533
Hey @jeduardo824! Yes, thank you please go ahead 🙂

[2019-12-10 08:26] mkllnk commented on #3878
@sauloperez certbot_nginx is installing the nginx plugin, right? It looks like it's available in the Ubuntu repository now: https://packages.ubuntu.com/bionic/python-certbot-nginx

Is there anything else the Ansible role does?

[2019-12-10 08:45] daniellemoorhead commented on #4536
@mkllnk do you think this could be a good first issue?

[2019-12-10 08:49] #4194 closed

[2019-12-10 09:04] mkllnk commented on #4536
No. It may be easy but it may not. I have no idea how to solve it without taking a closer look at the code.

[2019-12-10 09:11] lin-d-hop opened #4547 "Timeout on Orders and Fulfilment Report"
## Description

This report is timing out in UK and Australia.... detail

## Expected Behavior

Report loads in 3-4 minutes

## Actual Behaviour

Timeout at 12 minutes in UK

## Steps to Reproduce

1. UK Timeout:
Customer Totals Report
A user with only access to one enterprise - lynnedavis[at]gmail[dot]com
Tamar Valley Food Hub
Dates: 2019-11-29 to 2019-12-05
OC: TVFH20191206

## Animated Gif/Scre

[2019-12-10 09:35] luisramos0 commented on #3914
I am moving this to all the things as I dont think it will be required to get OC page good enough to close #4129

[2019-12-10 09:38] luisramos0 commented on #4129
I am moving this to test ready now. we can close this epic (and keep the open issues in All the Things for later) if we think #4144 and #4476 are enough for now. OR we can move this back to dev ready (and get the open issues done) if we think OC page needs more speed.

[2019-12-10 09:43] luisramos0 commented on #4096
we are closing the performance backlog so I move this one and 4095 to the top of tech backlog backlog.

[2019-12-10 09:47] luisramos0 commented on #2626
I wonder what else we have to do here after #3006

[2019-12-10 09:50] luisramos0 commented on #4424
Moving this to tech debt backlog to remove the performance column in the pipe. This is probably the top priority in terms of performance issues right now. This would have a very good impact I am sure.

[2019-12-10 10:23] luisramos0 commented on #4547
First thing I notice is that you have permissions on Tamar Valley Apple Co-op which is a producer, not a distributor. That means that the algorithm to hide customer details is having to work a lot.

[2019-12-10 10:26] luisramos0 commented on #4547
I wonder if you have changed permissions of your user meanwhile, with the co-op enterprise, as a producer, I can run the report:
![Screenshot 2019-12-10 at 10 26 08](https://user-images.githubusercontent.com/1640378/70521683-8a8eff80-1b37-11ea-8fd5-647d445fe024.png)

[2019-12-10 10:43] luisramos0 commented on #4547
I assumed this is wrong and I am now testing with a user with access to the Hub account.

From 2019-11-29+00:00 to 2019-12-03+00:00 the report runs in 2.4 mins.

But for the full date range it times out after 2.8 mins...
I read above "Timeout at 12 minutes in UK" - do you see 12mins in the network tab of your browser?

[2019-12-10 11:58] luisramos0 commented on #4547
the full dates are taking 6.28mins locally. I will now try to understand where it is taking all this time.

[2019-12-10 18:00] #4537 closed

[2019-12-10 19:21] RachL commented on #4544
@luisramos0 the user email is

collectifcourtcircuit[at]orange.fr

My email: rachel.arnould[at]openfoodfrance.org however before doing my tests for this user the other day I spent an hour removing myself from ALL the enterprise I helped in the past and where I was a manager... but I can still see theses enterprises in my profile ... 👀

I need to check this further... it seems that changing ownersh

[2019-12-11 11:20] #4410 closed

[2019-12-11 11:22] luisramos0 commented on #4322
closed by #4539

[2019-12-11 11:22] #4322 closed

[2019-12-11 12:04] sauloperez opened #4552 "AWS FR credentials in Bitwarden don't work"
## Description

The credentials for FR's AWS account don't work. As a result, we can't check if backups are properly ending up in the S3 bucket.

We need to update them with the right values.

[2019-12-11 12:04] sauloperez commented on #4552
ping @RachL @pacodelaluna

[2019-12-11 13:12] kshlyk commented on #4473
Hello @RachL. I can fix the bug, but I'm not sure which is wrong: **label** or **value**? Could you please have a look at generated invoice and dispel my doubts.

[2019-12-11 13:14] RachL commented on #4473
Hi @kshlyk and welcome :-) The invoice should show the billing address. So the label is correct, but the value is wrong.
Let me know if this isn't clear

[2019-12-11 13:31] kshlyk commented on #4473
It's clear, thank you. I'm fixing it

[2019-12-11 13:32] luisramos0 commented on #2891
#4518 is merged 🎉
we are on Ruby 2.3.7 🎉
We agreed that we cant upgrage ruby any further before we get to Rails 4.0 (in spree 2.1) or maybe even only after Rails 4.1 (rails 4.1 comes on spree 2.3, I dont think we will get there), that probably means we will be independent of Spree before we make another ruby upgrade.
So, I'd say we can close this.
Is this correct @Matt-Yorkley?

[2019-12-11 13:32] #2891 closed

[2019-12-11 13:45] #4532 closed

[2019-12-11 14:40] luisramos0 commented on #4544
collectifcourtcircuit has access to 38 enterprises.
I set my user similarly and I can see the problem. It's weird the request is not timing out. I wonder if it is because the query string is too long. The existing pagination is implemented in a dodgy way where the next request includes a list of all OCs already on the page...
https://github.com/openfoodfoundation/openfoodnetwork/blob/7ccfdc8d21800

[2019-12-11 15:22] sauloperez commented on #4494
Done! no more errors for katuma.org

[2019-12-11 15:22] #4494 closed

[2019-12-11 15:44] pacodelaluna commented on #4552
Checking this out.

[2019-12-11 15:59] luisramos0 commented on #4494
thanks!!!!

[2019-12-11 16:15] sauloperez commented on #4552
I can confirm it's fixed! I can now see the backups.

[2019-12-11 16:16] #4552 closed

[2019-12-11 16:57] sauloperez commented on #4494
thanks for dealing with the issue so efficiently just telling me what to do. Much appreciated :trollface:

[2019-12-11 18:04] tschumilas opened #4554 "Cannot edit orders with bulk order management"
## Description
I cannot modify the quantity of a product in BOM.  I cannot do this as super admin or as an enterprise manager.  I cannot do this for 'item' type products or products sold by weight.

I can adjust any products sold by 'item' in the orders tab.  But without the BOM working,  I cannot easily adjust min/max for bulk products.   Second,  without the BOM working,  I cannot adjust prices

[2019-12-11 18:39] lin-d-hop commented on #4554
Potential workaround to try:
In the UK we've been working around this by narrowing the search. If there are only a few products in the filtered results updates are working. Not sure if this will apply to you.

[2019-12-11 19:03] tschumilas commented on #4554
OMG - I would have never thought of that.  Thanks @lin-d-hop  -  yes BOM works if I narrow the search.  Does this drop it to an s3 do you think?  Really annoying for a hub with 200 orders a week.

[2019-12-11 19:08] sigmundpetersen commented on #4554
Yes, S3 if there's a workaround

[2019-12-11 19:12] lin-d-hop commented on #4554
Sorry I said anything. This is very annoying and would love to see it fixed!

[2019-12-11 19:14] sigmundpetersen commented on #4554
Put your CA label on it @tschumilas and it will get into the next round of prioritized S3's 👍

[2019-12-11 19:51] kristinalim commented on #4177
France and I suppose also the other instances use the S3 region `US East (N. Virginia)`. I investigated and found out that this region is the edge case, as in it uses a different _path-style URL_ from the other regions. Search for "US East" in this page for more info: https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html @RachL

An easy solution to both the region issue and the deprecat

[2019-12-12 09:39] sigmundpetersen commented on #4489
This is back again I'm afraid @kristinalim
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/transifex/builds/12

A different error and a different line though

[2019-12-12 14:15] #4547 closed

[2019-12-12 14:51] sauloperez commented on #3878
Yep, that's what it installs in https://github.com/coopdevs/certbot_nginx/blob/8525161c859f043675f39f21a8d5d6f8113eeba2/tasks/main.yml#L12-L15

It actually deals with the certificate creation in https://github.com/coopdevs/certbot_nginx/blob/master/tasks/certificate.yml and we plan to make it a bit wiser. Don't hesitate to open any issue in that repo @mkllnk .

[2019-12-12 15:22] kristinalim opened #4562 "Release v2.6.7 Rice"
Steps:

- [x] Include translations
- [x] Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-09ca96d2e639a53e10aa
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1059
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described at h

[2019-12-12 18:25] kshlyk commented on #4278
@luisramos0, do you mind if I fixed it?

[2019-12-13 03:29] daniellemoorhead opened #4565 "[mobile ux] Re-align shop logo and name"
## Description
**- As a:** enterprise user
**- On page:** my shopfront
**- I want to be able to do:** have the logo and shop name realigned so that it looks like the new design.

## Acceptance Criteria & Tests

**How it looks now**
![Screen Shot 2019-12-13 at 2.24.45 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/7da9fa8b-2d4a-4be8-b4e4-4911cb91a213)

**How it needs to look*

[2019-12-13 03:41] daniellemoorhead opened #4566 "[mobile ux] Update fonts and colours"
## Description
**- As a:** enterprise user
**- On page:** my shopfront
**- I want to be able to do:** have the fonts and colours updated so they match those in the new design.

## Acceptance Criteria & Tests
Dev to check if the correct font types and hex colours are being used in the CSS. Not sure if they've already been updated or not...?

**Fonts and **
![Screen Shot 2019-12-13 at 2.36.42 pm.png

[2019-12-13 03:50] daniellemoorhead opened #4567 "[mobile ux] 3. Shop content tabs"
## What is the problem we are solving
Currently all the shop content is displayed on the single page shopfront above the product list, each behind an expando-collapso text section.

Problems with this:
- It's unclear for users that you can click on the header to close the section.
- It takes up a lot of real estate above the product list.
- There is no way for the shop to direct their users direct

[2019-12-13 04:08] daniellemoorhead commented on #2710
Duplicate of #4533

[2019-12-13 04:08] #2710 closed

[2019-12-13 04:16] daniellemoorhead opened #4568 "[mobile ux] Move shop content to tabs with URLs"
## Description

**- As a:** enterprise
**- On page:** shopfront
**- I want to be able to do:** have my shop content on separate tabs that I can link to directly

## Acceptance Criteria & Tests
**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-13 at 3.11.26 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/daf0f4f0-78f5-45d9-ab4e-387d70adcbd9)
Tablet
<img width="739" alt="Screen

[2019-12-13 04:17] daniellemoorhead commented on #2709
Duplicate of #4568

[2019-12-13 04:17] #2709 closed

[2019-12-13 04:29] daniellemoorhead opened #4569 "[mobile ux] Style the 'About' tab"
## Description

**- As a:** enterprise
**- On page:** About tab in shopfront
**- I want to be able to do:** have my content look like the new design

## Acceptance Criteria & Tests

**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-13 at 3.19.32 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/1e80b49b-2df9-4db5-87c1-13665cbb0e67)
Tablet
![Screen Shot 2019-12-13 at 3.21.17 pm.

[2019-12-13 04:34] daniellemoorhead commented on #4569
@ybo can you please provide design input for tablet and desktop: is the preference to have the about image span the width on tablet and desktop? Current version leaves the image left aligned and in a smaller section, what should we do in the new version?

And @mkllnk if Yuko says to span the width will this cause issues / complexity in making sure images that are uploaded to a specific size don't

[2019-12-13 04:36] daniellemoorhead commented on #4567
@ybo design input required: have I understood the Home tab correctly - is this the shopfront message that currently displays in a green call out box on the shopfront? I feel like maybe it's a bit more than that, like the 'choose your order cycle' message is there (will this display on the shop tab as well if they haven't?).

[2019-12-13 04:49] daniellemoorhead opened #4570 "[mobile ux] Style the 'Producer' tab"
## Description

**- As a:** enterprise
**- On page:** Producers tab in shopfront
**- I want to be able to do:** have my content look like the new design

## Acceptance Criteria & Tests

**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-13 at 3.46.09 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/bab0f94b-cb49-4797-8cdd-56d4e1511d28)
Tablet
![Screen Shot 2019-12-13 at 3.46.28

[2019-12-13 04:52] daniellemoorhead commented on #4570
@ybo we're sort of partial to the tractor bullet point, but you've used a boring dot point for the new look. Could we maybe keep the tractors? 🙏 Or are you anti-tractor and plain jane dot is the direction?

[2019-12-13 04:57] daniellemoorhead opened #4571 "[mobile ux] Style the 'Contact' tab"
## Description

**- As a:** enterprise
**- On page:** Contact tab in shopfront
**- I want to be able to do:** have my content look like the new design

## Acceptance Criteria & Tests

**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-13 at 3.54.27 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/a4a3d1e1-a8d6-4c19-8725-3bc02338a812)
Tablet
![Screen Shot 2019-12-13 at 3.54.47 p

[2019-12-13 05:08] daniellemoorhead commented on #2716
Duplicate of #4569 and #4570 and #4571

[2019-12-13 05:08] #2716 closed

[2019-12-13 05:08] daniellemoorhead commented on #4567
@mkllnk @lazabonyi remember that all these stories in this epic need to be released together, not one at a time.

[2019-12-13 05:14] daniellemoorhead commented on #4531
@mkllnk and @lazabonyi here is the responsive grid layout for you to use for all this work:
https://docs.google.com/presentation/d/10I8-3mRjxnPUXtEk04X3UERVPEPvqPjrEdF37_1KpmE/edit#slide=id.g40ea76c80f_0_18

![image](https://user-images.githubusercontent.com/2911176/46519285-0f8ae300-c8bb-11e8-91d4-18cb9b656140.png)

[2019-12-13 05:16] daniellemoorhead commented on #2708
Duplicate of #4567

[2019-12-13 05:16] #2708 closed

[2019-12-13 05:16] daniellemoorhead commented on #2714
Separate card not required, this will be needed as the base for all work done redoing mobile. Closing.

[2019-12-13 05:16] #2714 closed

[2019-12-13 05:20] daniellemoorhead opened #4572 "[mobile ux] 4. Order cycle design update"
## What is the problem we are solving
Currently users do not notice the order cycle section as they are not used to ordering in cycles.

## Success factors = expected outcome
- [ ] Users start to notice that the order cycle section and therefore there is a decrease in displaying the 'select an order cycle' message

## Design overview
**HOW IT LOOKS NOW**
_Mobile_
<img width="477" alt="Screen Shot

[2019-12-13 05:29] daniellemoorhead commented on #4572
@RachL is there any way we can see that this design fixes the issue shoppers have in understanding that they have to select an order cycle?

[2019-12-13 05:52] daniellemoorhead opened #4573 "[mobile ux] Order cycle section on shopfront changes depending on open/closed/multiple"
## In a feature branch or master?
Order cycle section feature branch

## Description

**- As a:** shopper
**- On page:** shopfront
**- I want to be able to do:** see when I need to select an order cycle or when there is a closing time for orders, but don't bug me with any detail on this unless this is the case.

## Acceptance Criteria & Tests
![order cycle views](https://user-images.githubusercont

[2019-12-13 05:57] daniellemoorhead opened #4574 "[mobile ux] Restyle order cycle section"
## In a feature branch or master?
Order cycle section feature branch

## Description

**- As a:** enterprise
**- On page:** Producers tab in shopfront
**- I want to be able to do:** have my order cycle section look like the new design so users notice it

## Acceptance Criteria & Tests

Acceptance Criteria:
- [ ] On mobile and tablet the open OC section moves to be under the 'home' and 'shop' tabs

[2019-12-13 05:57] daniellemoorhead commented on #2711
Duplicate of #4574

[2019-12-13 05:57] #2711 closed

[2019-12-13 05:58] daniellemoorhead commented on #2717
Replaced by other epics, closing.

[2019-12-13 05:58] #2717 closed

[2019-12-13 05:59] daniellemoorhead commented on #2715
Replaced by #4531

[2019-12-13 05:59] #2715 closed

[2019-12-13 08:39] RachL commented on #4572
@daniellemoorhead

I think so yes.

Automatically:
we cannot add events yet with our Matomo set up, but we have heatmaps.  I just need to get our limit lifted up because currently I consumed everything by testing it 🙈

![image](https://user-images.githubusercontent.com/6525576/70786031-f8336980-1d8b-11ea-853e-30f4540f10cd.png)

With our users:
Each week I have complaints on this. So I have a 5-6 s

[2019-12-13 09:32] luisramos0 commented on #4278
yes, pls go ahead, let me know if you have any questions!
we need to keep the code under soft_delete and move it to destroy.

[2019-12-13 12:20] Matt-Yorkley commented on #4128
I'm taking a look now. Looking at the steps to reproduce;

1. Log in as a manager (admin)
2. Go to /admin/orders/new
3. (Select a shop if you are a super admin or a manager with several shop) and select an OC

I also get a brief red error message after step 3 (before I have the chance to add products) that says "Line items can't be blank". This is unhelpful/confusing UX.

![Screenshot from 2019-12

[2019-12-13 12:26] luisramos0 commented on #4128
yes, and a regression in v2. I have tried but I have not found an easy fix to it.

[2019-12-13 12:27] luisramos0 commented on #4128
this error message must be shown if the last line item is removed from the order while editing it.

[2019-12-13 12:29] Matt-Yorkley commented on #4128
Yeah, it needs to be there in most cases, but not this one.

[2019-12-13 13:38] Matt-Yorkley commented on #4377
I'm taking a look at this now. The logic and UX is identical for both the `capture` and `ship` buttons. I think it makes sense to update both at the same time here.

[2019-12-13 15:01] cyrillefr commented on #4428
Hello, I would like to work on this one.

[2019-12-13 15:44] luisramos0 commented on #4428
Great, welcome Cyrille! Join us on slack!

this is at:
- app/views/spree/admin/payment_methods/edit.html.haml
- app/views/spree/admin/shipping_methods/edit.html.haml

both use:
app/views/spree/admin/shared/_hubs_sidebar.html.haml

[2019-12-13 15:45] Matt-Yorkley commented on #4377
Ok, this is going to need some UX work as well. Currently when we refresh the page we can give feedback via the green/red flash messages in the header. If we move to asynchronous requests, we'll need to introduce a new way of delivering success/error feedback on this page.

@RachL ?

[2019-12-13 16:23] kshlyk commented on #4278
@luisramos0, almost done. Are there an external API consumers which can be affected by removing `soft_delete` method?

[2019-12-13 17:44] luisramos0 commented on #4278
great! no, no external clients.
these are used internally by the bulk products edit page: /admin/products
when you delete products and variants.

here (I think you just need to delete the /soft_delete part of the url):
https://github.com/openfoodfoundation/openfoodnetwork/blob/0f588dbe0bf5ac6611341d95496f2fbae5a42cbb/app/assets/javascripts/admin/bulk_product_update.js.coffee#L141

and then the uni

[2019-12-13 18:17] RachL commented on #4377
@Matt-Yorkley when you capture a payment the button changes to a ship button, so it should give users a hint. But maybe we can play more with the button? Turn it green or red if there is an error?
Although I'm not sure we see the button currently in case of an error...we just have no button at all...
Can a message be displayed even though we don't reload the page?

[2019-12-13 18:46] kshlyk commented on #4278
OK. Thank you. I've already found that js. Btw, I think we should consider implementing versioning in our API. It will become vital if we decide to develop OFN mobile apps. As far as I see API has no version now.

[2019-12-13 19:39] Matt-Yorkley commented on #4377
I don't think we can reuse the message in the header. I'll take a look tomorrow.

In most cases it should save correctly. I don't think an error will be common. I'm thinking of trying a small spinning icon next to the button (floating to the right) when loading, then a small green tick or red cross that fades after a couple of seconds..?

[2019-12-13 22:47] mkllnk commented on #4569
It adds complexity but shouldn't be too hard. When a large image is uploaded, stretch it across. And smaller images just stay small, but may centred?

[2019-12-14 05:16] daniellemoorhead opened #4579 "[mobile ux] Style the 'Groups' tab"
## Description

**- As a:** enterprise
**- On page:** Contact tab in shopfront
**- I want to be able to do:** have my content look like the new design

## Acceptance Criteria & Tests

**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-14 at 4.11.43 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/7acb7a57-a2ed-46c9-9592-17f8e2b67abb)
Tablet
![Screen Shot 2019-12-14 at 4.11.51 p

[2019-12-14 11:19] luisramos0 commented on #4490
I get a different error here
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-4511/builds/6

[code]

[2019-12-14 15:33] tschumilas opened #4581 "Cannot edit cart - snail"
## Description
Editing quantity in cart is producing a snail on OFN_CAN.  But if I use the browser back arrow at the snail to go back to the cart -  the cart edit is made.

## Expected Behavior
No snail

## Actual Behaviour
Snail on cart edit -  but if you use the browzer arrow to go back - the change is there
## Steps to Reproduce
1.go to a shop on OFN-CAN
2.put an item in your cart and try to ed

[2019-12-14 15:42] tschumilas opened #4582 "Units showing as 'none' on all pending or ready orders; showing as 'shipped' on all shipped orders"
## Description
The units on the order editing page are showing as 'none' on all new and all previous orders for 'pending' and 'ready' orders.  The units are showing as 'shipped' on all 'shipped' orders (versus showing the units.  This is happening for products entered as item or products entered by weight.
 It is happening for new orders and ALL previous orders.  I've tested, and it is occuring on

[2019-12-14 16:16] luisramos0 commented on #4582
hello Therese, thanks for raising the issue!
I think this is a bug introduced here: https://github.com/openfoodfoundation/openfoodnetwork/pull/4385

Although this is ugly, users can preform all actions in the app. I think this is an S3.

[2019-12-14 16:50] tschumilas commented on #4582
Hmmm - wonder why I never saw it before on the orders page -  the bug was reported back in October, I and other users here have edited many orders without seeing this.   Oh -  maybe its to do with just picking up translations in transifex.  Damn.  so I"ve made it s3 -  but its going in my paperclip priorities.

[2019-12-15 04:54] ybo commented on #4570
Hey I think you tagged the wrong user :)

[2019-12-15 21:16] luisramos0 opened #4584 "Convert all erb templates from erb to haml"
### What we should change and why (this is tech debt)
There are a couple of templates in erb
for example app/views/spree/admin/shared/_address_form.html.haml brought from spree that we can now convert to haml.
This is related to #3084. Some of these template like _address_form. mentioned above contain js that needs to be converted and tested carefully.

### Context
This came up in #4513

### Impac

[2019-12-16 11:08] filipefurtad0 commented on #4562
Hi @kristinalim :-)

I believe the release is good to go, testing notes below:
https://docs.google.com/document/d/1QYvso8wN5IDBS-fBw4Wg1mzu6-85tIyff9oK8LYlWHs/edit#

Moving to Ready to Go!

[2019-12-16 11:29] kristinalim commented on #4562
For reference, this is the Bugsnag error for the bug that @filipefurtad0 encountered:

https://app.bugsnag.com/katuma/katuma/errors/5df1473a4baf8d00191e7451?event_id=5df74f7c0054d6f52e4c0000

This is the related discussion on Slack:

https://openfoodnetwork.slack.com/archives/CEF14NU3V/p1576491768009500

[2019-12-16 11:33] luisramos0 opened #4589 "Many warnings in master build"
### What we should change and why (this is tech debt)
Since #4559 we have lots of these warnings in the build
`2019-12-16 03:00:26 WARN Selenium [DEPRECATION] Selenium::WebDriver::Error::UnhandledError is deprecated. Use Selenium::WebDriver::Error::UnknownError (ensure the driver supports W3C WebDriver specification) instead.`

That is the fact, I also _think_ the build is more unstable and is fla

[2019-12-16 11:34] luisramos0 commented on #4589
I put this inside 4500 as I think it is closely related.

[2019-12-16 12:05] lin-d-hop commented on #4581
This is also happening on UK prod.

Seems like it happens when you click:
'Update'
The garbage symbol

Not happening when:
You edit the qty field
You click 'Empty cart'

[2019-12-16 12:25] RachL commented on #4581
FYI I thought we had an automated test for this. I don't think we manually test it anymore during release testing.

[2019-12-16 12:31] luisramos0 commented on #4589
some quick analysis, here says updating capybara would solve the problem.
https://stackoverflow.com/questions/55810432/deprecation-warnings-after-switching-to-the-webdrivers-gem

updating capybara from 2.15 t

[2019-12-16 12:32] luisramos0 commented on #4581
hello!

Id say this is an S2, S1 usually is something that makes you make a phone call, in this case on Saturday.

I can see this only when I click on update in the cart.

I tried this on ofn uk on banc organics and it's working fine. I am not sure why, because looking at the code below this would happen for every order. But we do have an automated test for this.

this is the [bugsnag alert](https

[2019-12-16 12:36] luisramos0 commented on #4581
sorry, I forgot to mention: I can see this on ofn can. I am investigating now.

[2019-12-16 12:37] lin-d-hop commented on #4581
Thanks for the quick analysis. I do agree with the dropping of priority on this to s2. It doesn't effect every user and has a clunky workaround. If it wasn't customer facing I would say s3.

[2019-12-16 13:54] luisramos0 commented on #4581
I havent managed to replicate this in the specs yet. I will try manually locally now.

Tech analysis so far:
This error looks like a method conflict. The action on Adjustments is open. Open is the example used in the guide as a potential case for conflicts (see "Method conflicts"):
https://www.rubydoc.info/github/state-machines/state_machines/StateMachines/Machine

The fix would be to replace
`@or

[2019-12-16 14:42] luisramos0 commented on #4581
tricky bug...

I can see this in CA live.
I couldnt replicate locally with test data or manually SO I imported CA live data to my local environment and it doesnt happen on my computer with the same data as CA...

Then I reverted to the version running on CA live and... it's not breaking...

I am now thinking that this is related to class loading issue where the order of the class loading process (

[2019-12-16 14:50] luisramos0 commented on #4581
the best thing to do now is to have another dev look at this analysis. I'lll ping devs on slack now.

[2019-12-16 14:54] luisramos0 commented on #4589
I can upgrade capybara to 2.18 :+1: but it doesnt solve the problem. I'll create the PR anyway.
I am now trying to upgrade webdrivers. I see Matt has suggested this already in 4559 :-)

[2019-12-16 15:35] kristinalim commented on #4581
@luisramos0 Your proposed solution (`fire_events`) sounds good to me - awesome finding about the StateMachine quirk.

But after fixing that we should still find what's causing the problem. What is happening now (as of v2.6.6 at least) is that production and development are behaving differently, and we should at least know what is causing this and increase our confidence.

You probably checked alre

[2019-12-16 15:54] luisramos0 commented on #4589
ok, upgrading capybara and webdrivers done https://github.com/openfoodfoundation/openfoodnetwork/pull/4590

this issue (the warnings) remain.

[2019-12-17 00:31] emilyjeanrogers opened #4592 "Payment Methods Table in Dashboard does not display in Plain Language"
## Description
Table showing Payment Methods in Dashboard includes non-intuitive language that would not make sense to a customer. eg. Spree::PaymentMethod::Check, Environment: Production

## Expected Behaviour
Table fields should display information in plain language

## Steps to Reproduce
## Actual Behaviour
Log in as an Enterprise
Access Dashboard
Select Payment Methods
Click on Manage Payment

[2019-12-17 01:13] emilyjeanrogers opened #4593 "Reset password fails when logged in user clicks on confirm email (add Unregistered User to Manage Enterprise)"
## Description
When an Enterprise adds an Unregistered user to manage their account, an email is sent to confirm the new user's email address.

If the same desktop is used to confirm the email address... and If the user doesn't log out from all active windows before confirming the email, the user will not see the reset Password page and will be redirected to the home page, with previously logged i

[2019-12-17 08:24] RachL commented on #4593
I'm not sure this is something that needs to be changed 🤔  @lin-d-hop what do you think?

[2019-12-17 09:32] kirstenalarsen commented on #4429
I think this was a caching thing that went away :) Closing

[2019-12-17 09:32] #4429 closed

[2019-12-17 13:40] #4144 closed

[2019-12-17 14:43] RachL commented on #4432
@sigmundpetersen I won't be doing anything, it is really up for a dev to work on it. So I will unassigned myself ;)

[2019-12-17 15:25] #4476 closed

[2019-12-17 15:32] RachL opened #4594 "Change OC outgoing pagination count to variants"
## Description
**- As a:** Manager and super admin
**- On page:** `/admin/order_cycles/XXX/outgoing`
**- I want to be able to :** see a count in number of _variants_ not in number of _products_ when I unfold the outgoing products

## Acceptance Criteria & Tests

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/977b0662-67bb-400b-83e2-b3a576b07fda)

*E.g. the total number

[2019-12-17 15:47] kshlyk commented on #3438
I'd like to implement this improvement. Could you please assign it to me?

[2019-12-17 16:17] luisramos0 opened #4595 "Make OFN independent of spree_backend js, css, fonts and images"
## Description
This is part of #4050 but it may require more work (or more copy paste from spree to OFN than I initially thought). This issue will be used to make that analysis.

We need to move to OFN anything we need from this folder:
https://github.com/openfoodfoundation/spree/tree/2-0-4-stable/backend/app/assets

The biggest challenge is to find out, in the middle of code that is so old, what

[2019-12-17 16:42] luisramos0 commented on #3438
awesome, it's an interesting one that will allow you to write new code :+1:

Please share early so we can give you feedback ;-)

In terms of the solution, one thing I'd like to mention is that this is not code for app/models but for services. So it would be great to have all this code moved from app/models/product_import to app/services/product_import 💪

[2019-12-17 16:51] kshlyk commented on #3438
Thank you for motivation @luisramos0! I'll share my thoughts before implementing. Now I need to investigate a bit :-)

[2019-12-17 20:21] sigmundpetersen commented on #4432
Yeah I was thinking as product lead, but since this is just the spike I agree. Have we clarified if we assign prod leads to the feature epics?

[2019-12-17 21:46] pacodelaluna commented on #4432
@RachL @myriamboure I will take a deeper look at these 2 platforms, especially on technical integration, during the 2-3 next weeks.

[2019-12-17 21:47] pacodelaluna commented on #4432
@RachL @myriamboure @sigmundpetersen I will be glad to take a deeper look at these 2 platforms, especially on technical integration, during the 2-3 next weeks.

[2019-12-18 02:47] daniellemoorhead opened #4597 "[mobile ux] 5. Product list"
## What is the problem we are solving
Currently the list of products on the shop looks like an homage to mid 20th century brutalist soviet architecture. There is nothing about the product view that screams "BUY ME!" It's more of a "you must read and use your own imagination to fill in the gaps and work hard till you die" kinda deal.

Problems with this:
- Photos sell products. And yet, photos hidd

[2019-12-18 02:55] daniellemoorhead commented on #4570
@mkllnk spoke to @yukoosawa today and it turns out that the tractor bullet points should be easy to set up, no work from her required. The colour of them should be set within the CSS (they're SVG files apparently).

[2019-12-18 03:34] daniellemoorhead opened #4598 "[mobile ux] Add products to the cart redesign"
## In a feature branch or master?
Product listing feature branch

## Description
**- As a:** shopper
**- On page:** the product list in a shop
**- I want to be able to do:** quickly add or remove products in my cart

## Acceptance Criteria & Tests
- [ ] Standard product listing

**HOW IT LOOKS NOW**
<img width="122" alt="Screen Shot 2019-12-18 at 2 30 47 pm" src="https://user-images.githubusercont

[2019-12-18 04:08] daniellemoorhead opened #4599 "[mobile ux] Restyle product listings"
## In a feature branch or master?
Product listing feature branch

## Description
**- As a:** enterprise
**- On page:** product listings on a shop
**- I want to be able to do:** the design to match the rest of my shop

## Acceptance Criteria & Tests
Key changes / call outs:
- [x] No more red, grey, black colour palette.
- [x] Photos now display on mobile
- [x] Product title wraps (same as current v

[2019-12-18 04:48] daniellemoorhead opened #4600 "[mobile ux] Restyle price breakdown modal on mobile"
## In a feature branch or master?
Product listing feature branch

## Description
**- As a:** shopper
**- On page:** product listings on a shop
**- I want to be able to do:** see all the price breakdown details on the modal

## Acceptance Criteria & Tests

Key changes / call outs
- [ ] On hover state for pie = fill: #0096AD
- [ ] On click state for pie = fill: #0096AD
- [ ] Modal redesigned as per

[2019-12-18 05:27] daniellemoorhead opened #4601 "[mobile ux] 6. Search and filter products in shop"
## What is the problem we are solving
The filter design solution is very clunky, displays badly, and doesn't allow for sub-categories or more complex filter hierarchies. Search is fine, but if we don't change the way it looks / interacts inline with the rest of the design it will look strange.

## Success factors = expected outcome
- [ ] Filters will be handled in a way that allows for their futur

[2019-12-18 05:42] daniellemoorhead opened #4602 "[mobile ux] Clear button in search field"
## In a feature branch or master?
Search & Filter feature branch

## Description
**- As a:** shopper
**- On page:** shop product search
**- I want to be able to do:** clear the search field with minimal clicks

## Acceptance Criteria & Tests

Currently:
- To clear the search on mobile you have to click into the search field and then delete the search term yourself (either highlight the whole thing

[2019-12-18 05:59] daniellemoorhead opened #4603 "[mobile ux] Product filters move to side menu"
## In a feature branch or master?
Search & Filter feature branch

## Description
**- As a:** shopper
**- On page:** a shop
**- I want to be able to do:** access the list of filters and see all of them to make my selection easier

## Acceptance Criteria & Tests
**HOW IT LOOKS NOW**
Mobile (filters more menus shut)
<img width="476" alt="Screen Shot 2019-12-18 at 4 19 31 pm" src="https://user-images.

[2019-12-18 06:06] daniellemoorhead opened #4604 "[mobile ux] Restyle search + filter section on shop tab"
## In a feature branch or master?
Search & Filter feature branch

## Description
**- As a:** enterprise
**- On page:** my shopfront
**- I want to be able to do:** have a design for search and filter that matches the rest of the new design

## Acceptance Criteria & Tests
**HOW IT LOOKS NOW**
Mobile
<img width="476" alt="Screen Shot 2019-12-18 at 4 19 31 pm" src="https://user-images.githubuserconten

[2019-12-18 06:13] daniellemoorhead opened #4605 "[mobile ux] Restyle zero search results page"
## In a feature branch or master?
Search & Filter feature branch

## Description
**- As a:** enterprise
**- On page:** my shopfront search
**- I want to be able to do:** have the no results page match the new design of the rest of the shopfront

## In/out of scope for phase 1
Out: Specifying total number of results for a search query
Out: Providing a 'Did you mean...' for common typos/misspellings

[2019-12-18 06:26] daniellemoorhead commented on #2712
@yukoosawa and @kirstenalarsen I saw something new in this issue today that I hadn't realised was in scope:

This isn't evident in Zeplin so I hadn't included it in scope.

Can you please explain how it's supposed to work? The search bar is already in the middle of the screen, it doesn't leave a whole lot of room to scroll through products. The main nav is already persistent, so how do you see the

[2019-12-18 06:30] daniellemoorhead commented on #2713
Duplicate of #4603

[2019-12-18 06:30] #2713 closed

[2019-12-18 06:31] daniellemoorhead commented on #2720
Duplicate of #4601

[2019-12-18 06:31] #2720 closed

[2019-12-18 08:34] RachL commented on #4432
@sigmundpetersen I don't know :) We do it sometimes for epic.

@pacodelaluna Cool! It will be nice to have a second pair of eyes.

[2019-12-18 13:33] #4379 closed

[2019-12-18 13:35] #3307 closed

[2019-12-18 18:18] #4562 closed

[2019-12-18 21:44] luisramos0 commented on #4131
sorry, I mixed this with OC work, I put this back in test ready.

[2019-12-18 21:46] luisramos0 opened #4610 "[Performance] Improve performance of admin/order_cycles/edit"
## Description
Left overs from #4129
These are the issues we have to tackle if we want to make OC edit pages faster.

[2019-12-18 21:49] luisramos0 commented on #3914
moving this out of 4129 as we will close it without doing this.

[2019-12-18 21:50] luisramos0 commented on #4129
I have created #4610 for further improvements to OC edit page and I removed #3914 out of this scope as well.

It's looking like we will close this epic after #4594.
I moved this epic to dev ready where 4594 is.

[2019-12-19 05:10] mkllnk commented on #4533
Hey @jeduardo824, how are you going?

The tabs are rendered in `app/views/shopping_shared/_tabs.html.haml`. They call a helper called `shop_tabs` which lists the tabs. That's probably the code you want to change. It's in the file `app/helpers/shop_helper.rb`.

`current_distributor.groups.present?` tells you if the enterprise has any groups. When there are no groups, it will probably look better to

[2019-12-19 06:34] mkllnk opened #4612 "[mobile ux] Style shop menu bar"
## Description

**- As a:** enterprise
**- On page:** shopfront
**- I want to be able to do:** see the shop menu bar in the new design

## Acceptance Criteria & Tests
**HOW IT LOOKS NOW**
Mobile
![Screen Shot 2019-12-13 at 3.11.26 pm.png](https://images.zenhubusercontent.com/56ba8a956caf56c9d38c5f61/daf0f4f0-78f5-45d9-ab4e-387d70adcbd9)
Tablet
<img width="739" alt="Screen Shot 2019-12-13 at 3 40 2

[2019-12-19 11:41] jeduardo824 commented on #4533
@mkllnk Thanks! It was very clarifying. I will open a PR by the end of the week. Great tip about the cols!

[2019-12-19 12:27] Matt-Yorkley commented on #4589
So if we get to Spree 2.1 / Rails 4 we can upgrade these gems and improve Selenium/Capybara?

[2019-12-19 12:48] luisramos0 commented on #4589
I am not sure what version of nokogiri spree 2.1 is on. if we get to nokogiri 1.8 we can get to capybara 3. I am not sure what's new in capybara 3, but it must be better: https://github.com/teamcapybara/capybara/blob/master/UPGRADING.md

[2019-12-19 13:02] Matt-Yorkley commented on #3704
Looks like the `2.1` stable branch of the `better_spree_paypal_express` gem requires `spree_core` `2.1.1` instead of `2.1.0`...

[2019-12-19 13:22] luisramos0 commented on #3704
that is correct, I think the rule is that x-y-stable branches represent version x.y.z whwere z is the last/max stable version. so I'd expect 2-1-stable better_spree_paypal_express to depend on spree versions as high as possible, possibility the latest 2-1-X version

[2019-12-19 16:48] Matt-Yorkley commented on #4589
I did some testing earlier and it seemed like our version of `devise` was the only thing holding us back on `nokogiri`...

[2019-12-19 19:00] luisramos0 commented on #4589
ah, yeah, I was looking for what's holding us on to nokogiri, that 's great to know!
we dont have spree_auth_devise AND spree itself does not depend on devise! so we can try to upgrade devise directly!!!

we can try to move this forward directly:
gem 'devise', '~> 2.2.5'

[2019-12-19 19:01] luisramos0 commented on #4589
spree_auth_devise 2-1-stable depends on:
s.add_dependency 'devise', '~> 3.2.2'

[2019-12-19 21:07] Matt-Yorkley commented on #4589
My mistake, it's `deface`, not `devise`...

[2019-12-19 23:10] luisramos0 commented on #4589
ah, ok, what I say above about devise still applies. we can upgrade it :-)
I think we can get rid of deface in spree, we dont use in ofn and in spree it is used mainly for spree_auth_devise which we dont use. there's one deface for spree_api but we dont use it :-)
so, I think we could try to remove the deface dependency from spree in this next upgrade and upgrade nokogiri from there.

[2019-12-20 05:55] mkllnk commented on #3878
I think that we tested this sufficiently now. And we have monitoring set up. I would close it.

[2019-12-20 12:17] #3878 closed

[2019-12-23 15:34] RachL opened #4623 "Remove additional footer links"
## Description
**- As a:** random visitor or logged-in user (manager or buyer)
**- On page:** Any page on the shopfront
**- I want to be able to do:** see only one footer

This content
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/9fa9f41f-2655-4e72-b830-853b1d7f4919)

Is either not working anymore (dev link) or already in the footer, which is customizable per instance

[2019-12-23 16:12] #4128 closed

[2019-12-27 16:45] #4473 closed

[2019-12-28 17:53] luisramos0 opened #4632 "Product image link is broken in orders detail in the frontoffice"
## Description
When a customer clicks the product image in the order details page (this page is the checkout confirmation page and can also be accessed through account/orders/specific order) the customer is sent to the app homepage...

## Expected Behavior
Because we dont have a PDP, the easier solution is to remove the link and make the image non-clickable.

## Actual Behaviour
Customer is sent t

[2019-12-29 18:37] luisramos0 commented on #4490
This is breaking very  frequently, I guess we should disable the spec if we cant find a reliable fix quickly.

[2020-01-02 10:07] luisramos0 commented on #4131
I think this is prod-test not dev-test, correct?

[2020-01-02 11:12] luisramos0 opened #4636 "Release 2.6.8"
Steps:

- [x] Include translations
- [x] Draft: https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-8c1e07e7b700eb3c1d97
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1080
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The full process is described at h

[2020-01-02 17:10] luisramos0 commented on #4581
I created #4638, we can validate it solves the problem live.
I'd say we should release the fix, validate it fixes the problem in OFN CAN and close this issue.
If it happens again we can come back to it and invest more time in trying to replicate it.

[2020-01-02 17:11] luisramos0 commented on #4581
thanks very much @kristinalim for your detailed feedback!

[2020-01-02 17:46] luisramos0 commented on #4490
Hey @Matt-Yorkley @sauloperez
what's the status here? I see Matt created #4502 and closed and then Pau created #4563 that is similar.
4563 seems to fix the problem, maybe we just need to apply it to the following spec as well on line 122.

[2020-01-02 18:14] luisramos0 commented on #4172
I was trying to find a way to make this pluralized unit name come from the server again and remove this code but it's too much trouble, it's complicated.
I think we can just add the pluralization logic to the angular code as is.
Maybe we can use this library:
https://github.com/blakeembrey/pluralize

[2020-01-03 14:09] lin-d-hop opened #4639 "[Spike] Automate Stripe testing"
## Description

As a tester and developer I want to know if Stripe testing can be fully automated.

Currently testers test that new enterprises can be connected to a Stripe account and this account can then be used to take payments in every release. This is the main automation win for testers.

## Acceptance Criteria & Tests

To give an overview - the following is a list of all the places users/en

[2020-01-04 11:49] Matt-Yorkley commented on #4490
After running the build a few times it looked like it was still failing intermittently, so I closed mine.

[2020-01-04 15:37] lin-d-hop commented on #810
Closing at this is a feature that will need prioritising etc

[2020-01-04 15:37] #810 closed

[2020-01-04 15:38] lin-d-hop commented on #1665
Closing at this is a feature that needs prioritising and incepting

[2020-01-04 15:38] #1665 closed

[2020-01-05 12:57] lin-d-hop opened #4640 "Update Stripe API for all instances using Stripe"
## Description

As part of the SCA changes we need to update the version of the API we are using within Stripe. Every instance that uses Stripe has their own Stripe Connect account so this will need to be done manually for every instance.

Questions:
Is the new API backwards compatible? Can we update before we make the changes? Or will this be part of the roll out process for the changes?

## Acce

[2020-01-05 21:06] Matt-Yorkley opened #4644 "[Spree 2.1] Implement Strong Parameters"
Rails 4 introduces Strong Paramaters, and we need to adapt the codebase to use it.

Spree's implementation is here:

https://github.com/spree/spree/blob/4cc2c2967352d3fe7652bd873e492c074ffcc3da/core/lib/spree/core/controller_helpers/strong_parameters.rb
https://github.com/spree/spree/blob/4cc2c2967352d3fe7652bd873e492c074ffcc3da/core/lib/spree/permitted_attributes.rb
https://github.com/spree/spree

[2020-01-05 21:24] Matt-Yorkley opened #4645 "[Spree 2.1] Adapt PaypalExpress gem"
The paypal gem is currently disabled, and can't be installed with bundler. The `2-1-stable` branch explicitly requires `spree_core ~> 2.1.1`, but we are using `2.1.0`.

See: https://github.com/openfoodfoundation/better_spree_paypal_express/blob/76e113d61cb1a24645f9b0975a472f03cd0fc2a7/spree_paypal_express.gemspec#L26

A large number of the remaining failing tests are related to this.

[2020-01-05 21:39] Matt-Yorkley opened #4646 "[Spree 2.1] Enterprise Role saving errors"
It looks like `EnterpriseRole`, or possibly just the factory that creates them when creating enterprises with users is broken.

This is causing a large number of failing specs, including most of the remaining API test failures.

When an enterprise is created with user objects attached, we get this error (whilst the factory is saving the enterprise object):

[code]

A test with this line will fail:

[2020-01-06 02:00] yukoosawa commented on #4567
@daniellemoorhead Yes the OC selection module needs to appear on the 'Home' tab aswell as the 'Shop' one as Customers write instructions for how to use the OC selector in the green box

Some examples of 'Home' tab content variability (content, presentation, all-of-the-things) that we will need to contend with and test for:

**Typical:** https://openfoodnetwork.org.au/new-life-farm/shop
<img width=

[2020-01-06 02:14] jeduardo824 commented on #4533
Hey guys! Sorry for taking so much time to accomplish this. @mkllnk I need your opinion about the `cols.`

This is the result of using `6 3 3`:

![Screen Shot 2020-01-05 at 23 08 32](https://user-images.githubusercontent.com/27960597/71790750-ca4ee700-3010-11ea-9730-18ab82d4f3eb.png)

And this is the result of using `4 4 4`:
![Screen Shot 2020-01-05 at 23 10 27](https://user-images.githubuserconte

[2020-01-06 03:13] yukoosawa commented on #4600
**DESIGN NOTES**
- Pie icon is included in the current production OFN font/svg set
- Hover state, update icon colour
-- fill: #0096AD
- On click, update icon colour, update icon to X
-- fill: #0096AD
- Modal redesigned to only require a single view for content (no more extra clicks!)
-- Note position of modal on Mobile vs Tablet/Desktop due to space constraint
-- Note in other regions, currency po

[2020-01-06 11:33] RachL commented on #4567
FYI the issue for the white bars: https://github.com/openfoodfoundation/openfoodnetwork/issues/1860

[2020-01-06 13:37] luisramos0 commented on #4640
From what I read I think we should upgrade the API version even if it's not backwards compatible. The adaptations needed wont be very big and we will most probably need to do them anyway.

In FR for example, this is what I see when I try to upgrade:
![Screenshot 2020-01-06 at 13 32 58](https://user-images.githubusercontent.com/1640378/71821137-35d49b00-3089-11ea-91d0-3c01ba907c87.png)

So, my plan

[2020-01-06 14:14] sigmundpetersen commented on #4640
Does this cover #1726? Duplicate?

[2020-01-06 14:32] RachL commented on #4636
Nothing here that does not already exist in production I believe this is ready to go :-) https://docs.google.com/document/d/1RAVODjNyM4hDqIEURj5WMnSR-LWCfMScXmG090mh2lE/edit#

[2020-01-06 14:46] luisramos0 commented on #1726
this was duplicated in #4640
I'll close this issue and keep the most recent #4640 so that we keep the most recent info.

[2020-01-06 14:46] #1726 closed

[2020-01-06 14:46] luisramos0 commented on #4640
yes, duplicate. closed it and kept this one :+1:

[2020-01-06 17:48] luisramos0 commented on #4640
ok, today I made my own stripe setup with two accounts, one for an instance and one for a hub.
I tested all the 5 scenarios above before and after upgrading to the latest api version 2019-12-03 and all looks good to me.

I will move this to test ready and ask a tester to do the same tests in staging.
You need to go to
https://dashboard.stripe.com/test/developers
and press the upgrade button.
I did

[2020-01-06 17:55] luisramos0 commented on #4640
I see one challenge here, you cant upgrade only the test mode, you need to upgrade the full account, SO, to test in staging we need a connect account separate from the live account (my setup). The current FR setup (where staging is connecting to the test mode of the live account) wont work. Unless we upgrade directly the prod account and test it in staging. This is a possibility because if the sta

[2020-01-07 00:24] luisramos0 commented on #3909
now that the results are paginated on the server side, I think this is a simple change on the server code to sort the results. to be confirmed... I am adding the good first issue back anyway.

[2020-01-07 04:00] yukoosawa commented on #4599
### **UPDATED DESIGN NOTES**

Product properties are now included
- Reduce size of product property here so they fit better in available space. But do not reduce the size of the product property elsewhere... they need to be appropriately sized for tap/clicking elsewhere.

Product description with more/less link
- Use 'more' link to expand description
- Use 'Show less' to collapse description
- Not

[2020-01-07 05:06] yukoosawa commented on #2712
Will preface this comment by saying the following interaction pattern is a nice-to-have :)

### **Proposed behaviour**
As the user scrolls down the page in mobile/tablet/smaller viewports
- The main nav is sticky
- The shop header + OC selector scrolls away
- The search/filter bar scrolls up until it is positioned directly below the main nav and then stays sticky
As the user scrolls back up and re

[2020-01-07 10:52] luisramos0 commented on #4490
I dont know what's going on here, maybe something to do with the time that the browser takes to render the html inside the ofn-sortable directive...

[2020-01-07 14:36] lin-d-hop opened #4654 "'Price Sack' Shipping does not allow non-integer figures"
## Description

The Price Sack fee calculator almost works. It allows orders under a certain amount to be charged one value and orders over that amount to be charged another. This is very useful for offering free shipping for orders over x amount etc.

When using the calculator it accepts values that are non-integer in the Normal Amount adn Discount Amount fields. however at checkout the figure is

[2020-01-07 14:43] lin-d-hop commented on #4593
I agree that there is an issue here but I don't think it is so problematic that we will ever allocate resources. In almost all cases the OFN handling of sessions creates a surprisingly (for us) smooth user experience.
@emilyjeanrogers Did a user report this or is it something that annoyed you? If it was just you that noticed it then I would suggest we close this issue in protection of our sanity a

[2020-01-07 17:54] luisramos0 commented on #4180
I think someone was working for us on the ActiveMerchant side, they support payment intents: https://github.com/activemerchant/active_merchant/pull/3290
I think we need to move from using ActiveMerchant StripeGateway to use this StripePaymentIntentsGateway.