[2016-12-07 00:42] sstead opened #1279 "Welcome email to rephrase"
Welcome email references 'Send Feedback' interaction - a feature available on the staging sites but not in production. This message is still appearing in production's Welcome emails.
Recommendation: Remove this line from the welcome email, because the Send Feedback feature doesn't exist.
Device: All
Where: Welcome email
![image](https://cloud.githubusercontent.com/assets/10843056/20949800/9b7b5d90

[2016-12-07 00:44] sstead opened #1280 "Unsubscribe content at bottom of welcome email needs left/right padding"
Device: Mobile/Tablet
Where: Welcome email
![image](https://cloud.githubusercontent.com/assets/10843056/20950211/7307cd96-bc72-11e6-8832-1a1cd08b0a6a.png)

[2016-12-07 00:47] sstead opened #1281 "'My Orders' heading needs top padding to separate it from Account details."
Recommendation:'You have no orders' message should be located closer to heading
Device: Mobile/tablet
Where: Account
![image](https://cloud.githubusercontent.com/assets/10843056/20950277/ec0f7676-bc72-11e6-9455-daa4937a32d0.png)

[2016-12-07 00:49] sstead opened #1282 "Expanded order UI would look better if it's all the same width"
Device: Mobile/Tablet
Where: Account
![image](https://cloud.githubusercontent.com/assets/10843056/20950323/258327e0-bc73-11e6-8985-f2d980320b83.png)

[2016-12-07 00:51] sstead opened #1283 "User details page content has lost left/right padding"
Device: Mobile
Where: User details
![image](https://cloud.githubusercontent.com/assets/10843056/20950361/61453b24-bc73-11e6-95f0-1aebf646e91d.png)

[2016-12-07 00:53] sstead opened #1284 "If the User has visited the order detail page then returned to the list view, link visited state should still look clickable"
Recommendation: Keep link colour
Where: User Details
Device: Mobile/Tablet
![image](https://cloud.githubusercontent.com/assets/10843056/20950387/812205ee-bc73-11e6-9817-aad6e33df0c0.png)

[2016-12-07 00:55] sstead opened #1285 "Learn & Connect Main Navigation -Logo in main nav takes the User back to openfoodnetwork.org"
Logo in main nav takes the User back to openfoodnetwork.org (not .au) which is a jarring experience given that I came from the AU site.
Device: All
Where: Connect/Learn
![image](https://cloud.githubusercontent.com/assets/10843056/20950472/079cc3c0-bc74-11e6-8094-35e6f63c8061.png)

[2016-12-07 01:01] sstead opened #1286 "News page is empty"
Page is empty. On mobile/tablet this looks like an error. As a User I tried to use the dropdown to go to 'News' again, to be shown the same empty page :(

Device: All
Where: News

![image](https://cloud.githubusercontent.com/assets/10843056/20950595/b9ebf370-bc74-11e6-98b0-7431878fcb14.png)

[2016-12-07 01:06] sstead commented on #1286
I've removed the News link from Configuration > Content. It can be reinstated if News is added.
![image](https://cloud.githubusercontent.com/assets/10843056/20950685/47295854-bc75-11e6-9cc9-8f8022d72d28.png)

[2016-12-07 01:12] sstead opened #1287 "News Dropdown Expanded"
This must be the wordpress navigation - everything looks different, even has different sections and groupings - confusing
Where: openfoodnetwork.org/news
Devices: All

![image](https://cloud.githubusercontent.com/assets/10843056/20950764/b69988ee-bc75-11e6-9923-79e4d45ddad0.png)

[2016-12-07 01:13] sstead commented on #1287
I can't see what this one is about? The horizontal menu becomes vertical quite smoothly and accurately? What's the problem?
![image](https://cloud.githubusercontent.com/assets/10843056/20950879/7f677740-bc76-11e6-9109-180e096bfe25.png)

[2016-12-07 01:32] sstead opened #1288 "User guide video is cut off on mobile/tablet"
Recommendation: Fix responsive resizing of embedded video.
Where: User Guide
Devices: Mobile/Tablet
![image](https://cloud.githubusercontent.com/assets/10843056/20951326/3366ab6a-bc79-11e6-8e83-1051554814ed.png)

[2016-12-07 01:35] sstead opened #1289 "When a producer is clicked from expanded shop and the modal opens, modal doesn't not utlise full visible height"
Recommendation: Change padding around modal for mobile/tablet so that it optimises space used.
Device: Mobile/Tablet
Where: Shops
![image](https://cloud.githubusercontent.com/assets/10843056/20951384/86e7c300-bc79-11e6-9ef9-d6629036dc09.png)

[2016-12-07 01:36] sstead opened #1290 "When all shops are closed, Users are presented with a confusing message when landing on /shops"
Device: Mobile/Tablet
Where: Shops
Recommendation: Message should read all shops are closed (rather than an incomplete 0 results sentence) or consider another way to encourage browsing of closed shops.
![image](https://cloud.githubusercontent.com/assets/10843056/20951434/c8af74f4-bc79-11e6-88e5-75ac0661882e.png)

[2016-12-07 01:38] sstead opened #1291 "Order closing dropdown, when access zooms the mobile page however when a date is selected does not remove page zoom"
Recommendation: This seems to be a persistent issue with mobile and dropdown/field/select actions
Devices: Mobile/Tablet
Where: Shopfront
![image](https://cloud.githubusercontent.com/assets/10843056/20951469/feb0857a-bc79-11e6-9614-22eaf9bda0d1.png)

[2016-12-07 01:46] sstead opened #1292 "Order delivery shows a dropdown when there are no other options available"
Recommendation: Don't show dropdown arrow (this is the case across the site, needs to be changed for all instances).
Devices: All
Where: Shopfront
![image](https://cloud.githubusercontent.com/assets/10843056/20951615/e6427fc4-bc7a-11e6-9db3-e8c1b29414cd.png)

[2016-12-07 01:46] sstead opened #1293 "Shop closed information in mobile is difficult to read in Mobile being right aligned"
Recommendation: Left align for Mobile/Tablet
Device: Mobile/tablet
Where: Shopfront
![image](https://cloud.githubusercontent.com/assets/10843056/20951666/34e19e44-bc7b-11e6-85af-98589dcb9993.png)

[2016-12-07 01:49] sstead opened #1294 "Text in 'next order closing' dropdown cuts off if too long"
Recommendation: Needs to wrap. Ideally a message like this shouldn't be an option in a dropdown.
Device: Mobile/Tablet
Where: Shopfront
![image](https://cloud.githubusercontent.com/assets/10843056/20951712/7fe4f292-bc7b-11e6-9e9f-6005425f45a8.png)

[2016-12-07 01:52] sstead opened #1295 "Shopfront tabs not displaying content in Mobile view"
Shop sections are showing up empty in Mobile/Tablet - but render content in Desktop. Tested in uk. au and staging. staging .au shows the red border but no content. Some shops have the content show (openfoodnetwork.org.uk/stroudco/shop#/about)

Recommendation: If a shop section / tab is empty - do not show tab. Test this on an actual phone, don't emulate.
Devices: Mobile/Tablet
Where: Shopfront
![i

[2016-12-07 01:55] sstead opened #1296 "'When would you like your order' cropped in mobile view"
Devices: Mobile/tablet
Where: Shopfront

![image](https://cloud.githubusercontent.com/assets/10843056/20951792/14574538-bc7c-11e6-9337-377f3dab7d75.png)

[2016-12-07 01:59] sstead opened #1297 "Price % breakdown pie graph not showing on mobile"
Device: Mobile/Tablet
Page: Shopfront

![image](https://cloud.githubusercontent.com/assets/10843056/20951894/c1a2ad18-bc7c-11e6-80ea-dc2e501e3bea.png)

Suggestion: Could you house it inside the expander....
![image](https://cloud.githubusercontent.com/assets/10843056/20951929/f508465e-bc7c-11e6-966e-9c069b3f3771.png)

[2016-12-07 02:03] sstead opened #1298 "Remove page zoom when User clicks into field to update item #"
Remove page zoom when User clicks into field to update item # - this was they can see the total price of the item update as they change the item #
Device: Mobile/Tablet
Where: Shopfront
![image](https://cloud.githubusercontent.com/assets/10843056/20952011/764f748a-bc7d-11e6-9ae6-97dd191f36c1.png)

[2016-12-07 02:05] sstead opened #1299 "[mobile ux] Browser error message shown on Desktop, not shown on Mobile."
## In a feature branch or master?
This can be merged directly to master 🎉

## Description

The browser error message shown on Desktop (telling Users that they can only add items to a single shop/cart) isn't shown in Mobile. The cart just empties as the User moves between shops.
Device: Mobile/tablet
Recommendation: (Understand this is a low use/edge case right now)
![image](https://cloud.githubuse

[2016-12-07 02:07] sstead opened #1300 "If cart has many items, user forced to scroll back to top of page to close cart"
When a User has created a shopping cart with many items, they're forced to scroll back to the top of the page to close it and continue shopping
Recommendation: Shopping cart dropdown should close/collapse if the User clicks outside of the dropdown
Device: Mobile/Tablet
Where: Cart dropdown
![image](https://cloud.githubusercontent.com/assets/10843056/20952093/09605032-bc7e-11e6-8043-233a299c4cbd.pn

[2016-12-07 02:09] sstead opened #1301 "Payment type text wrapping when not needed."
Device: Mobile/Tablet
Where: Shopping cart
Recommendation: Text padding / line height should be reduced
![image](https://cloud.githubusercontent.com/assets/10843056/20952118/471590d6-bc7e-11e6-9cdc-3e3987db0ef6.png)

[2016-12-07 02:46] sstead opened #1302 "- OR - is wrapping in mobile in checkout"
- OR - is wrapping in mobile (tested on 375px wide phone, may have additional wrapping issues with a 320px wide phone)
Devices: Mobile/tablet
Where: Checkout as guest
Recommendation: Lose the dashes?

![image](https://cloud.githubusercontent.com/assets/10843056/20952858/841dede8-bc83-11e6-8912-509286de7d4d.png)

[2016-12-07 02:48] sstead opened #1303 "If a user has provided city and state, it would be nice for the postcode to auto-fill"
Device: All
Where: Checkout
Recommendation: Set up address validation, link to address services
![image](https://cloud.githubusercontent.com/assets/10843056/20952909/d6d36eaa-bc83-11e6-9c4e-17c1c55d0b93.png)

[2016-12-07 02:49] sstead opened #1304 "Order summary should be placed above 'place order now' button to encourage final review by user."
Where: Checkout
Device: Mobile/Tablet
![image](https://cloud.githubusercontent.com/assets/10843056/20952928/feea273a-bc83-11e6-807a-ddc09a676a59.png)

[2016-12-07 02:54] sstead opened #1305 "OFN logo and Shop logo are missing from order confirmation email on Staging2"
Is this a bug or a gap?
Device: All
Where: Order confirmation email
On Aus production both logos are showing. I'm not sure why they are not showing on Staging.

![image](https://cloud.githubusercontent.com/assets/10843056/20952978/688b7f0e-bc84-11e6-87e5-110c6b33b75b.png)

[2016-12-07 03:05] sstead opened #1306 "Grey property tags on producer profile map modals are clickable, but do nothing"
Device: All
Where: Shops, profiles, map profile modals,
Recommendation: Make not clickable.

![image](https://cloud.githubusercontent.com/assets/10843056/20953200/ccb66a92-bc85-11e6-852f-7f7739447d2f.png)

[2016-12-07 03:15] sstead opened #1307 "Duplicate property tags on producer profiles map modal"
Devices: All
Where: Map, profile - Production
This producer doesn't have 2 grass fed properties applied, nor does it have the property applied to products and the producer.
![image](https://cloud.githubusercontent.com/assets/10843056/20953299/96ba0a42-bc86-11e6-84c2-4e9c241c6236.png)
![image](https://cloud.githubusercontent.com/assets/10843056/20953325/d600f18e-bc86-11e6-88c0-7d12e04149c0.png)
![i

[2016-12-07 03:18] sstead opened #1308 "From the UK staging site, the registration country default is set to Afghanistan."
Device: All
Where: Register
![image](https://cloud.githubusercontent.com/assets/10843056/20953456/f7d8242a-bc87-11e6-8dd5-f7481e9e9660.png)

[2016-12-07 03:22] sstead opened #1309 "State field is missing on UK staging"
State field is missing. Updated country to Aus, still missing. Field appeared after I tried to Submit the form and the form errors were presented.
Device: All
Where: Register - UK staging
![image](https://cloud.githubusercontent.com/assets/10843056/20953530/82fa76c0-bc88-11e6-9a52-5a5e97368b47.png)

[2016-12-07 03:24] sstead opened #1310 "Field hint text is using Australian suggestions on UK Staging (ie. Suburb Northcote)"
Field hint text is using Australian suggestions and labels (ie. Postcode 3070, Suburb Northcote, State)
Recommendation: Make this able to be set in super admin. Even better, have changeable fields based on country selected.
Devices: All
Where: Register - UK staging

[2016-12-07 03:25] sstead opened #1311 "Reduce padding at top of page (above heading) to maximise screen height"
Devices: Mobile/Tablet
Where: Producers
![image](https://cloud.githubusercontent.com/assets/10843056/20953607/0ac7e916-bc89-11e6-961b-24075de2a027.png)

[2016-12-07 03:27] sstead opened #1312 "Why do the UK filters not have icons like AU?"
Devices: Mobile/Tablet
Where: Producers -UK
![image](https://cloud.githubusercontent.com/assets/10843056/20953647/39fa4242-bc89-11e6-81b0-a92fbe7df9f3.png)

- [x] @lin-d-hop to review all existing icons and see if any additional ones could be added to OFN UK
- [ ] @pmackay to document where to get icons and how to configure.

[2016-12-07 03:29] sstead opened #1313 "Filter 'properties' are cut off"
Devices: Mobile/tablet
Where: Producers
Recommendation: Need to wrap. Side note: Is the term 'properties' language specific to the industry? I immediately thought of real estate :)
![image](https://cloud.githubusercontent.com/assets/10843056/20953695/76ee8dac-bc89-11e6-97ce-62a7625b344f.png)

[2016-12-07 03:32] sstead opened #1314 "Clear filters on Producers page is currently located at the bottom of the expanded filters set."
Where: Producers
Devices: Mobile/Tablet
Recommendation: Needs to be made available when the filters are collapsed.
![image](https://cloud.githubusercontent.com/assets/10843056/20953757/d2e0308e-bc89-11e6-91ab-4a718cb58a62.png)
![image](https://cloud.githubusercontent.com/assets/10843056/20953767/dd66fa9c-bc89-11e6-80f2-2130d0a47f8a.png)

[2016-12-07 03:33] sstead opened #1315 "If there are no filters for a search term, don't show empty filter headings (eg. filter by property)"
If there are no filters for a search term, don't show empty filter headings (eg. filter by property in image below)
Devices: Mobile/tablet
Where: Producers
![image](https://cloud.githubusercontent.com/assets/10843056/20953792/02d4df7e-bc8a-11e6-93b0-f7d75bb70aa5.png)

[2016-12-07 04:00] kirstenalarsen opened #1316 "Reports Overhaul"

[2016-12-07 04:04] kirstenalarsen commented on #1263
Hi @rhodri - just having a quick look through these and pinging @oeoeaio on a couple where his input might be useful :)

[2016-12-07 04:06] kirstenalarsen commented on #1264
question here about the overarching 'report selector' functionality that we don't want to loose e.g. setting dates, selecting order cycle, choosing hub / proudcer etc. If / when rebuilding would we potentially move some of this to a higher level e.g. choose order cycle at top level and then easily pull up different reports having made that selection once? Would require some more design input, but

[2016-12-07 04:07] kirstenalarsen commented on #1257
@oeoeaio - any thoughts on the question above?

[2016-12-07 04:07] kirstenalarsen commented on #1258
@oeoeaio

[2016-12-07 08:47] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5847cc99ad36c11100c4d895)

[2016-12-07 23:02] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5848950292e9121000a45ff1)

[2016-12-08 02:23] mkllnk commented on #1085
Okay. Just summarising the suggestions that have not been done yet:

- Combine line items of the same product #1166.
- Edit quantity bought line items. The problem with this is that it is not clear at which point you actually commit to buy stuff. Say, you increase the number by one, you still need to go through some kind of checkout to confirm this change. We don't have a non-confusing solution fo

[2016-12-08 03:56] mkllnk opened #1321 "LoadError in lib/open_food_network/integrity_checker.rb:1"
## Error in OpenFoodNetwork

**LoadError** in **lib/open_food_network/integrity_checker.rb:1**
cannot load such file -- rspec/rails

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5848a3be3cd47b100056b9a9)

## Stacktrace

    lib/open_food_network/integrity_checker.rb:1 - <top (required)>
    script/rails:6 - require
    script/rails:6 -

[2016-12-08 03:58] mkllnk commented on #1321
@RohanM Is that something you wrote? That has been happening on production for a month now.

[2016-12-08 12:19] lin-d-hop commented on #1214
@daniellemoorhead I see this has been put into v1.8.7
Happy to ask @Matt-Yorkley to take a look if that's useful?

[2016-12-08 12:22] lin-d-hop commented on #1213
Again, UK could take a look if this hasnt been assigned in Aus yet?
No assignees, but moved to a milestone... what does that mean? :-)

[2016-12-08 12:22] lin-d-hop commented on #1213
@Matt-Yorkley another one to keep an eye on and pick up if @daniellemoorhead is happy.

[2016-12-08 12:23] OliverUK commented on #1020
@lin-d-hop @Matt-Yorkley @stveep

I've logged into staging using super admin (mine didn't work) on a Safari browser on Mac. I created an OC and added suppliers before editing one item by clicking the edit button in BEP.

![screen shot 2016-12-08 at 12 09 16](https://cloud.githubusercontent.com/assets/17590921/21009666/bb858bf8-bd3f-11e6-9d50-7ed8486f3709.png)

I was able to edit the description an

[2016-12-09 00:09] daniellemoorhead commented on #1213
Full steam ahead @lin-d-hop @Matt-Yorkley :)

[2016-12-09 00:11] daniellemoorhead commented on #1214
Sounds like a plan @lin-d-hop @Matt-Yorkley

[2016-12-09 00:57] Matt-Yorkley commented on #1020
I have a separate pull request that fixes the discrepancies between how line breaks appear in the WYSIWYG and on the backend. I think it applies to a couple of other things as well, like enterprise descriptions. It's not included yet, but it's been addressed.

[2016-12-09 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=584a0224edf3601400319d8c)

[2016-12-09 01:05] daniellemoorhead commented on #1076
Need to confirm whether or not this is needed during the tweak fortnight @oeoeaio

[2016-12-09 01:25] Matt-Yorkley commented on #1214
I'll have a look at these issues soon. I noticed this upload issue today as well, also that not all countries in the enterprise registration form have states, and if there's no states to select in step 2, the form can't be submitted properly in step 4...

[2016-12-09 01:35] daniellemoorhead opened #1323 "Standing Orders - Tweaks & Fixes"
Everything in here is to be worked on during the two weeks of iterative changes to the new standing orders functionality.

[2016-12-09 02:02] mkllnk commented on #1095
As part of the quote for multi-lingual instances, I identified all files that still contain untranslatable language strings.
[code]

[2016-12-09 03:32] sstead opened #1324 "1088"

[2016-12-09 08:35] lin-d-hop commented on #1020
When u submit it can u ensure the branch fits the pattern uk/*
Will this need a separate code review?
Cheers matt!

[2016-12-09 09:52] kirstenalarsen commented on #945
is this done? @sstead

[2016-12-09 11:56] lin-d-hop commented on #1186
@Matt-Yorkley Would you be willing and able to code review this please?

[2016-12-09 12:22] Matt-Yorkley commented on #1020
It's in #1238 from November. Stveep's had a look already. It might need some new specs though.

[2016-12-09 12:52] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=584aa90274d81d110017ea78)

[2016-12-09 13:26] lin-d-hop commented on #1020
Ok so this issue is being blocked by #1238 which needs cleaning up and testing.

[2016-12-09 14:11] OliverUK commented on #522
@lin-d-hop @Matt-Yorkley
Hi guys!
The label successfully changed to "description" rather than "value" in PRODUCT Properties. However, there is now a misalignment as shown below.
![screen shot 2016-12-09 at 14 05 19](https://cloud.githubusercontent.com/assets/17590921/21051629/25e1458a-be19-11e6-9e59-95334e341385.png)

In ENTERPRISE Properties the label is still "Value" and not "Description"
![scre

[2016-12-09 14:16] lin-d-hop commented on #522
Thanks @OliverUK. Back to @Matt-Yorkley.

[2016-12-09 14:46] lin-d-hop commented on #1310
Currently this is set in translations.

Are others happy with this? UK are happy enough having these details set in translation files (our staging file was just rather outdated... just committed an update.)

[2016-12-09 15:12] OliverUK commented on #904
Here is what it looks like on UK production:
![screen shot 2016-12-09 at 15 07 48](https://cloud.githubusercontent.com/assets/17590921/21053452/5ce1fcca-be21-11e6-8ea3-706044f1b613.png)

And here is what it looks like on UK staging:
![screen shot 2016-12-09 at 15 07 19](https://cloud.githubusercontent.com/assets/17590921/21053464/6ae90f7a-be21-11e6-837c-5d2259013551.png)

Bulk Order Management is

[2016-12-09 16:24] Matt-Yorkley commented on #1213
I've had a quick look at this and can't replicate the bug. Any tips?

I have noticed that a hub's payment options have to be set to "testing", "development", "production" or "staging", and if there are no payment methods assigned to a hub with the correct environment set, it assumes the hub has no payment options. Then when I click view cart I get bounced to the home page with an error message abo

[2016-12-09 16:43] lin-d-hop commented on #1165
Hi @OliverUK
Emails are now working again on UK staging.
So if you could test this as a regular user by getting your confirmation emails resent that would be grand!!

[2016-12-09 16:53] lin-d-hop commented on #421
Note this PR also fixes #420 so no need to redeploy @OliverUK

[2016-12-09 16:54] Matt-Yorkley commented on #1214
@daniellemoorhead do you know if the image preview was working before?

[2016-12-09 17:26] lin-d-hop opened #1330 "Limit countries in enterprise sign up to those with states"
In the enterprise sign up form State (or County in UK translation) a required field. However not all countries have states attached to them.

It is likely that many countries will have producers from multiple countries. But if a country has no states linked to it a user cannot sign up to this country. Therefore it would make sense to limit the countries displayed in the enterprise sign up drop dow

[2016-12-09 17:52] lin-d-hop commented on #1020
The outstanding issues here have been fixed in a separate PR #1327
Adding this to v1.7.
Will get #1327 in there too for the next release.

[2016-12-09 18:00] lin-d-hop commented on #1020
@sstead Can you confirm just confirm you are happy with the test results? Thanks!

[2016-12-09 18:46] Matt-Yorkley commented on #1214
Did a bit of JS debugging, the issue seems to be with the **angular-file-upload-rails** gem not processing the API response headers properly. We currently use v1.1.0 which is quite old. Upgrading to v1.1.6 fixes the error message and displays the preview images properly while uploading.

[2016-12-09 22:42] Matt-Yorkley commented on #522
It looks ok on my local version:

![screenshot from 2016-12-09 22-33-53](https://cloud.githubusercontent.com/assets/9029026/21066958/68c132b0-be60-11e6-8648-7e29a86d7ac0.png)

I'm not sure why it would have changed..?

[2016-12-10 19:04] Matt-Yorkley commented on #1119
Very similar fix, as you say. The problem is that some of the elements in the enterprise management pages interact with the form data but are not form elements themselves, so they don't trigger the $dirty state on the form without being told to explicitly.

[2016-12-10 21:56] OliverUK commented on #375
@lin-d-hop
I'm a bit lost now - remember this is new to me - how all this different issues/commits etc are connected with each other. Do I still need to deploy something to test this?
Right now I can't get an about us text to display on the staging front end at all.

<img width="413" alt="screen shot 2016-12-10 at 21 36 59" src="https://cloud.githubusercontent.com/assets/17590921/21076449/61bcdc08

[2016-12-11 17:57] myriamboure commented on #1330
Lynne do you mean that we need to find an equivalent to "state" for each country, set it up, and then only the countries set up will be proposed?
In France for example we don't need states, but I guess the "search by state" is based on it so we used some other geographical notion not to loose the search functionality. I suspect that can apply to every country so why limiting display to countries w

[2016-12-11 18:59] myriamboure commented on #1310
The translation works ok when a user set up an enterprise from the front office link ("join the network" link) BUT it is not well displayed when you create an enterprise from the back office "new entreprise" button.
So there is a bug there. But happy with having that in translation.
See screenshots below.
![screenshot from 2016-12-11 19-57-13](https://cloud.githubusercontent.com/assets/8135376/210

[2016-12-11 19:07] myriamboure commented on #1308
Is there a way to set up the registration default country? We have the same issue also in France, I didn't see neither in Github nor community forum.

[2016-12-11 21:16] OliverUK commented on #421
@lin-d-hop
I have tested this using the super admin login. The drop-down appears when editing an enterprise. I successfully switched between enterprises and mad changes to some and saved them, all without noticing anything untoward.

Please note, Lynne, I've only tested this in super admin. It seems I have to register my normal user account anew every day on staging and today I was once again unab

[2016-12-11 21:22] OliverUK commented on #421
I have also tried a variety of changes before trying to navigate away and in each case I was warned that I had unsaved changes.

[2016-12-11 22:34] Matt-Yorkley commented on #1310
@lin-d-hop There's translation keys already set for these, but the template file for adding new enterprises in the backend doesn't use the translations yet, it still has the hard-coded strings.

Also I've just noticed it seems to use a hardcoded list for the states dropdown, which doesn't change when you select a different country. The form seems to be calling the wrong angular module as well (adm

[2016-12-11 22:49] Matt-Yorkley commented on #1330
I've been working on this today. @myriamboure will there not be a list of regions at all for France? In the UK our equivalent for states is counties.

Limiting the list to countries with their states set up means the user doesn't have to scroll through a list of every country in the world, which is quite nice. The list will only show the countries that have been configured on that OFN instance.

@

[2016-12-11 22:56] daniellemoorhead commented on #1308
I think this issue is also linked to #218?

@lin-d-hop is this still an issue for the UK? Maybe one for the UK dev team to pick up?

[2016-12-11 23:16] daniellemoorhead commented on #1214
I don't know, sorry @Matt-Yorkley however @sstead may be able to help. Sally, was image preview working before?

[2016-12-12 04:12] Matt-Yorkley commented on #1308
This is covered in #1330.

[2016-12-12 04:14] Matt-Yorkley commented on #1214
No worries, it's resolved already.

[2016-12-12 08:51] myriamboure commented on #1330
Ok, @Matt-Yorkley it seems to me that by default, all countries have the "state required" checkbox checked. So do you mean you would change that, say that by default the checkbox is unchecked and only when checkbox is checked the country is proposed in the list at registration?
I'm just wondering if that wouldn't be more logical to add a checkbox saying "active for the instance" and if checked cou

[2016-12-12 12:05] pacodelaluna commented on #1095
@myriamboure I can take a look at this issue, I will start right now.

@mkllnk Is there any pattern to follow to add translations keys ? I can't see any one actually but maybe I missed it.

[2016-12-12 13:35] Matt-Yorkley commented on #1330
@myriamboure I hadn't looked at modifying the backend, the current proposal just limits the options displayed at registration to countries that have states set. It looks like having states or regions is going to be mandatory.

I could look at implementing checkboxes in superadmin for which countries are active on the instance, possibly in a separate issue. What do you think, @lin-d-hop ?

[2016-12-12 17:52] Matt-Yorkley commented on #1095
@pacodelaluna If you look at the en.yml file, some of the keys are grouped like this:

The key could then be called like this: `t('admin.enterprises.example2')`.

As a side note for anyone adding these translations, there are existing translation keys already for most of the fields in the files under `app/views/admin/enterprises/form/`, you can find these in the relevant templates under `app/asset

[2016-12-13 07:40] myriamboure commented on #1330
Ok I think I understand @Matt-Yorkley , Countries have states only when you import the seeds files needed, or add the manually in configuration. As we say it's compulsory if a country has no states attached, it is not proposed at registration. That sounds fine to me, I don't think that's a priority then to say which countries are active or not, maybe we should just document that in super-admin set

[2016-12-13 10:03] mkllnk commented on #1095
@pacodelaluna You will find good examples and outdated examples in the code. If you translate something in `app/views`, it is a good practice to use relative keys. For example, the file `app/views/admin/customers/index.html.haml` contains this line:
[code]

The period in the beginning of the key means that it has a relative scope. The translation key for this in `en.yml` is:
[code]

That gives the

[2016-12-13 10:16] pacodelaluna commented on #1095
@mkllnk I totally agree on following the convention for this, so I will start doing this on admin side.

[2016-12-13 12:29] lin-d-hop commented on #375
Hi @OliverUK
So I deployed the PR related to this issue to staging. In particular this issue was testing line breaks in the text editors.

![aboutedit](https://cloud.githubusercontent.com/assets/8669848/21140410/c8b61c9a-c12f-11e6-9dcb-1b224800e5b4.png)
![aboutdisplay](https://cloud.githubusercontent.com/assets/8669848/21140409/c8b49320-c12f-11e6-8ee5-a1103166d130.png)

As an aside, it looks like

[2016-12-13 15:26] OliverUK commented on #420
@lin-d-hop @sstead

I've tested this separately from the enterprise switcher test in a separate issue but I think it's in the same piece of code??

It worked for me once after deploying to staging but after the first time, further testing does not normally produce a warning message even if unsaved changes are present.

I logged out and logged back in again and tried again.
If I get a warning messa

[2016-12-13 21:16] daniellemoorhead commented on #375
Thanks @lin-d-hop, when something's ready to hand over to the Oz team can you add Sally to assignees and put the aus review label on it. Makes it easier to track then :)

[2016-12-13 23:17] pacodelaluna commented on #1095
@mkllnk @Matt-Yorkley I have made a big commit which is mainly setting up all the missing i18n keys on Admin side, it is here: https://github.com/pacodelaluna/openfoodnetwork/commit/7dd4b3eedba07f884531ff2e87e5dcc3b6854760.
I still need to tune up the tests but please tell me if there is already any issue.

[2016-12-14 01:10] sstead commented on #1064
All looks good, see screenshots of sequence...

![image](https://cloud.githubusercontent.com/assets/10843056/21165815/e1418af8-c1f5-11e6-8865-1a7511a4ca1a.png)

![image](https://cloud.githubusercontent.com/assets/10843056/21165837/00b47d64-c1f6-11e6-8793-3255701447a9.png)

![image](https://cloud.githubusercontent.com/assets/10843056/21165845/0b66b010-c1f6-11e6-8291-adff8f079c47.png)

![image](http

[2016-12-14 01:48] sstead commented on #1063
Looks good... see sequence below...
![image](https://cloud.githubusercontent.com/assets/10843056/21166743/8b7f4fd2-c1fb-11e6-8a76-ead04cc91c9c.png)
![image](https://cloud.githubusercontent.com/assets/10843056/21166751/930bf9ee-c1fb-11e6-8d10-a5487b48ce69.png)
![image](https://cloud.githubusercontent.com/assets/10843056/21166754/9a878e86-c1fb-11e6-8f19-a69c2037456a.png)

[2016-12-14 03:04] elf-pavlik commented on #1095
Looking at that commit I think that it seems very strict about keeping keys in scope and may require more work when translating?

I see `name: Name` 12 times, will people doing translation need to translate the same simple string 12 times? Same with `owner: Owner` 4 times etc.

[2016-12-14 04:26] mkllnk commented on #1095
Good question @elf-pavlik. Transifex has a translation memory that could help with these strings. But I'm not sure if it can do it within the same translation session. That is something to test.

`name` is a global key already and can be re-used. It just has to be in a scope when it has a different translation. For example, in one scope it could be "full name" and in another scope it could be "ent

[2016-12-14 05:49] sstead commented on #1061
![image](https://cloud.githubusercontent.com/assets/10843056/21171016/49650ebc-c21d-11e6-9c37-57b6acac773c.png)

[2016-12-14 05:56] sstead commented on #1065
Bug relating to which items can and cannot be added to a SO...
![image](https://cloud.githubusercontent.com/assets/10843056/21171194/47b3a2ee-c21e-11e6-97a2-4b79ef65e24a.png)

[2016-12-14 06:13] sstead commented on #1061
![image](https://cloud.githubusercontent.com/assets/10843056/21171511/99b9aa64-c220-11e6-9da2-d6373cca61a1.png)

[2016-12-14 14:11] OliverUK commented on #390
Tested in Safari on Mac and Users now appears on the bottom of the menu. Clicking on it works and their is probably not much else to say. Same result whether I go through the Enterprises menu or the dashboard.

![screen shot 2016-12-14 at 14 05 41](https://cloud.githubusercontent.com/assets/17590921/21185035/fab6f598-c206-11e6-89af-5624f26ef724.png)

[2016-12-14 14:18] lin-d-hop commented on #420
@Matt-Yorkley Could you look at @OliverUKs testing notes above?

[2016-12-14 14:20] lin-d-hop commented on #421
Thanks @OliverUK. Ill make some changes so the mailserver updates persist then we can try again with different user accounts.

[2016-12-14 15:52] pacodelaluna commented on #1095
@elf-pavlik @mkllnk First of all, thanks for your feedback. I got your point about duplicated keys and translations, and it can really looks as an issue to translators initally, but it can also give them some power at the end to customize the messages. Still I will try to refactor code and use more generic translations, which I am actually doing on some part actually, but I don't hink that the fie

[2016-12-14 17:12] myriamboure opened #1335 "Bug on stock management when cart is saved and stock change"
I tested this case:
- Carrots stock level is 10kg
- As a buyer I put 8 kg in my cart, but don't go till checkout (I plan to add other products later maybe)
- As a hub manager I change the quantity of stock and put it to 2kg (I have sold them to other people)
- As a buyer I go back to my cart and go to checkout. No modification, still 8kg, I reload and still the same. I can continue and process che

[2016-12-14 17:23] lin-d-hop commented on #1312
@sstead do you know where we could grab the image files for these label images?

[2016-12-14 17:25] lin-d-hop commented on #1310
Yeah this is not an issue on the enterprise sign up screen, just low priority maintenance.

However @Matt-Yorkley it would be worth replacing the backend hardcoded strings as you picked up.

[2016-12-14 18:07] nanoharsha commented on #294
We have been facing this issue, not sure what is the logic/reason for the error.
I tried creating new shipping method, changing shipping methods/modifying location of the order being placed, but doesn't solve the problem !!
Any one else has faced the issue since ?

[2016-12-14 19:32] elf-pavlik commented on #1095
I think when adding new scoped key, reusing some 'global' key or creating new 'global' key, one needs to think how likely it will need customized translation for the scope.

I also think when need to customize a message arises, someone can patch the code 'on-demand', and possibly we shouldn't worry about possible customizations to early. Also if we have multiple scoped keys for something that one

[2016-12-14 20:33] pacodelaluna commented on #1095
@elf-pavlik I totally agree, there is no best solutions on i18n, pros and cons for each methods. I have just followed the method suggested 2 days ago, when I was asking for a pattern on i18n keys.
I have refactored a bit trying to use more existing keys, especially on 'address' side and on 'enterprises/new_form'. Just tell me if it is ok for you now or if I should adapt more.

[2016-12-14 21:11] Matt-Yorkley commented on #1310
There's already work underway on finishing off missing translations in #1095 . I've left some notes in that thread.

[2016-12-15 13:43] pacodelaluna commented on #1095
@mkllnk @elf-pavlik Can I create a PR with this commit ? Should I integrate the keys into Transifex now or after merging ?
I have still issues running the tests locally but I am quite confident as manual checks were good locally and I am only modifying the views. I wish to go on this topic asap as there is potentially rebasing with this commit (as it is touching many views).
Tell me if any issue.

[2016-12-15 19:01] elf-pavlik commented on #1095
LGTM but better wait for @mkllnk opinion...

Have you configured Travis CI to run tests for your fork? This way you will see if all tests pass even before you create PR

[2016-12-15 22:23] mkllnk commented on #1095
@pacodelaluna Yes, please open a pull request. Rebasing on the current master is a good idea.

[2016-12-16 03:07] sstead commented on #1335
Hi @myriamboure I've tried to replicate this according to the description above, but wasn't able to. I was shown the screenshots below if the QTY on hand was lowered by the hub. Could it have been that you changed the stock level to 2kg but didn't hit the save button? Please try to replicate and if you can, include your exact steps (where did the shopper go after adding 8kg? Was stock changed in p

[2016-12-16 03:26] daniellemoorhead commented on #1276
@maikel any chance you could remove bugherd from our australian staging servers? Worried that people will notice/use/comment on the feedback link when they're testing standing orders.

[2016-12-16 03:53] mkllnk commented on #294
We haven't come across this issue. It sounds like some kind of data inconsistency. Here are two more solutions: http://stackoverflow.com/questions/16051605/spree-no-shipping-methods-available-for-selected-location-please-change-your-a

[2016-12-16 05:11] #904 closed

[2016-12-16 05:45] nanoharsha commented on #294
Thanks @mkllnk , went through the links and started going through configuration from Admin panel.
I tried fiddling with the zones a lil. I had country based zone, and didn't have states added.
I went back and added states also in the zones, and voila the orders went through fine !!
Do point out if there is a document floating about essential changes to be done in the configuration.
I will try to s

[2016-12-16 06:26] kirstenalarsen commented on #294
Hey Harsha - there is a page here - https://community.openfoodnetwork.org/t/initial-set-up-and-configuration/198 <https://community.openfoodnetwork.org/t/initial-set-up-and-configuration/198> - that has probably not been updated for quite a while so by all means send some energies there!!

[2016-12-16 11:45] lin-d-hop opened #1337 "Staging1 Confirm Email Links to Staging2"
I create a new enterprise on Staging1.

When confirming my email via the link within the email I am taken to Staging2 and asked to log in.
The email appears to come from staging2 and links me to staging2.

My email address is unconfirmed on staging1.

Link in here:
![staging2confemail](https://cloud.githubusercontent.com/assets/8669848/21261670/cffd773a-c384-11e6-9b34-df8e2ec9184d.png)

Takes me h

[2016-12-16 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5853e68ef970de1100e84907)

[2016-12-16 14:15] lin-d-hop commented on #1020
Back to @Matt-Yorkley after @sstead comments in the PR.

[2016-12-16 14:19] lin-d-hop commented on #375
Hi @Matt-Yorkley,
Given the entanglement between this fix and #1020 do you think it might be an idea to combine them in a new branch and test all of the display issues that popped up in @ssteads testing of #1327? Just a thought, feel free to disagree. The testing of the two branches is feeling more complicated than it needs to be from where I'm sitting.

[2016-12-17 08:22] myriamboure commented on #1335
Ok I redo it @sstead
1- in the producer catalog I set up the available stock to 8
![screenshot from 2016-12-17 09-09-37](https://cloud.githubusercontent.com/assets/8135376/21285462/93a7942c-c439-11e6-8031-4f63a9c24981.png)
2- I save and refresh the inventory page (hub uses the inventory setting but no modification on stock) so same in inventory
![screenshot from 2016-12-17 09-09-53](https://cloud.

[2016-12-17 20:01] elf-pavlik commented on #1022
I can't even find where this GMaps API key currently gets send

[2016-12-17 20:55] Matt-Yorkley commented on #1301
The text folding was in place because a message box is shown to the right if the selected payment option has additional notes attached to it (shown when selected).

![screenshot from 2016-12-17 20-37-42](https://cloud.githubusercontent.com/assets/9029026/21289640/0d9a48dc-c49a-11e6-8f0e-09f64af6b6d1.png)

I've adjusted the widths for small and medium devices so the text is full-width (instead of h

[2016-12-17 21:29] Matt-Yorkley commented on #1300
This applies to desktop view as well, it's really annoying!

[2016-12-17 23:39] Matt-Yorkley commented on #1295
@sstead I just tested this on my mobile using Firefox for Android and it seems to be working fine on various enterprises on both UK and AUS production. The tabs all work and show content in the right place.

Is the issue that tabs don't show content when they should, or show an empty content box when there is no content to show, or both?

[2016-12-18 08:24] myriamboure opened #1341 "when change country while changing address, states doesn't refresh"
I changed some addresses for producers on the French instance now that we have imported the Spanish states, but when changing the address, I select first "Spain", then I expect the states to update but they don't, I have to "save", I get an error message but at the same time now the good states are available. So it's just not at all user friendy, would be great if states could dynamically refresh

[2016-12-18 08:25] myriamboure commented on #1341
Nothing urgent of course, and normally if you import first the addresses users would naturally select their country first so it should not be too much of a problem...

[2016-12-18 11:45] sigmundpetersen commented on #1341
We're also trying to add Swedish addresses on the Norwegian instance and get the same error. Interested in finding out if this is a bug or what w should do to fix it on the server.

[2016-12-19 08:07] myriamboure commented on #1341
@sigmundpetersen that shouldn't prevent you to add swedish addresses on the server though, we managed to import them in France, if you have question ask Paco on Slack, he just did it :-)

[2016-12-19 11:24] Matt-Yorkley opened #1343 "Cart disappears when payment options not configured correctly."
I've noticed that a hub's payment options have to be set to "testing", "development", "production" or "staging", and if there are no payment methods assigned to a hub with the correct environment set, it assumes the hub has no payment options. Then when I click view cart I get bounced to the home page with an error message about the hub being "temporarily closed", which is not very informative as

[2016-12-19 11:36] Matt-Yorkley opened #1344 "Blank delivery times"
Under order cycles there's a field to set when the delivery will be ready.

![screenshot from 2016-12-19 11-27-17](https://cloud.githubusercontent.com/assets/9029026/21311362/b6b40878-c5de-11e6-85a0-849fca459dd9.png)

If this is left blank it leaves an empty option in the dropdown in the frontend:

![screenshot from 2016-12-19 11-27-29](https://cloud.githubusercontent.com/assets/9029026/21311379/c

[2016-12-19 12:29] Matt-Yorkley commented on #1294
There's a few things with this issue. Firstly, that field is supposed to be a short, descriptive name for when the delivery will be made. It should result in something like "**Ready for:** Monday 23rd", not "**Ready for:** PLEASE BRING BACK YOUR GLASS BOTTLES AND DON'T FORGET TO SIGN UP TO OUR NEWSLETTER". So maybe that needs to be made more clear in the backend.

I notice there's a field for addi

[2016-12-19 13:31] lin-d-hop commented on #1302
@OliverUK Can you test by looking on mobile device as well as PC.

[2016-12-19 13:40] lin-d-hop commented on #1330
@myriamboure Similarly for the UK county is not generally a compulsory field.
@Matt-Yorkley In your investigations what are the implications (if any) of removing the compulsory nature of states? If this is a simple fix I think it would be worth doing as well.
@sstead Can you see an issue with making 'state' non compulsory in enterprise sign up?

[2016-12-19 13:40] lin-d-hop commented on #1310
Great. Closing :-)

[2016-12-19 13:40] #1310 closed

[2016-12-19 13:42] lin-d-hop commented on #1301
Great! Do you think it is worth also putting a max length on this field @Matt-Yorkley?

[2016-12-19 13:44] lin-d-hop commented on #1294
That all sounds great @Matt-Yorkley.
How do you propose the description be displayed in the front end? Happy for you to design that.
Note in the tooltip it would be worth pointing out that these is a message field within Edit Enterprise -> Shop Preferences -> Shopfront Message.

[2016-12-19 13:59] OliverUK commented on #1302
@lin-d-hop
Deployed to staging and tested. Created test OC and accessed front end on
- firefox on Mac
- Android phone with 720 x 1280 - 294 ppi screen

Resulting screens shown below.

![screen shot 2016-12-19 at 13 55 10](https://cloud.githubusercontent.com/assets/17590921/21315283/53c16a5c-c5f3-11e6-8d70-33486d62ab18.png)
![screenshot_20161219-135307](https://cloud.githubusercontent.com/assets/17

[2016-12-19 16:29] lin-d-hop commented on #1344
Yep, go for it @Matt-Yorkley

[2016-12-19 16:32] lin-d-hop commented on #1343
For the most part this happens. If there are no payment or shipping methods hubs with active order cycles do not appear as open. So it seems that this same check does not consider errors in payment or shipping methods.

The solution, then, would be a update the existing check on whether a hub has shipping/payment methods before displaying as open. Not sure where this happens... can dig around if n

[2016-12-19 16:34] lin-d-hop commented on #1213
@RohanM Do you think this might have been caused in line with @Matt-Yorkleys thoughts above? If so now covered in #1343.
If not would be great to get some more detail.

[2016-12-19 18:48] Matt-Yorkley commented on #1213
It doesn't appear to be the same issue. I can't replicate this bug though, so it's hard to figure out.

[2016-12-20 10:58] Matt-Yorkley commented on #1330
I think it is compulsory, currently. We could add a superadmin option like a checkbox to make it non-compulsory. I think it's useful for postage though, it means proper addresses have to be set.

[2016-12-20 11:12] Matt-Yorkley commented on #1301
I think it's ok as it is, it was just an issue with the way lines were wrapping. 50% of the screen is not much space on a 370px screen!

[2016-12-20 12:09] lin-d-hop commented on #1330
Yep it is currently compulsory.
In the UK this field is superfluous. It only serves a purpose if the postcode was written incorrectly with the wrong county code.  In Australia it is more important, you would generally always ask for state to be specified even though it is captured in the first digit of the postcode. In France it sounds like it is also superfluous.

@Matt-Yorkley In your investigat

[2016-12-20 12:53] Matt-Yorkley opened #1346 "Specs use $ for currency"
When running specs on a non-AUS setup, various tests fail as they are looking for values with "$" as the currency symbol. This isn't a big deal, but it does slow down the dev process when there are lots of errors.

2 possible solutions: internationalise all the tests (seems a bit unnecessary), or set some config options that explicitly set the default currency symbol to "$" before tests are run (e

[2016-12-20 13:36] lin-d-hop commented on #1346
Yeah wavy hands. Would be nice to internationalise this!

[2016-12-20 14:02] Matt-Yorkley commented on #1344
This is a bit more complicated than I thought, as there isn't a good implementation for validating fields with the ajax requests from the update button on the save bar. A few other things need to be validated on the admin page before save, and it's currently not handled very well. I'll have a look when I get time.

[2016-12-20 14:07] Matt-Yorkley commented on #1200
@pmackay looks pretty straight forward. A minor CSS change like that shouldn't be a problem.

[2016-12-20 14:40] Matt-Yorkley commented on #1346
@lin-d-hop Do you think it would be preferable to have all tests run using localised currency settings? I haven't had a proper look, but it might be an epic faff and could make a lot of specs more messy and complex than they need to be. Setting the default currency to $ whilst the tests run and just having a single test that checks currency functionality might be a lot cleaner...?

Either way it'l

[2016-12-20 14:44] lin-d-hop commented on #1346
@Matt-Yorkley My vote is setting default currency for simplicity.
@stveep @sigmundpetersen any thoughts to the contrary?

[2016-12-20 16:26] OliverUK commented on #1232
@lin-d-hop
Deployed to UK staging and tested from Safari on Mac.

- set up order cycle and added producers
- created example variants in BEP and added to OC
- refreshed front end and successfully tested search function as shown below

![screen shot 2016-12-20 at 16 20 26](https://cloud.githubusercontent.com/assets/17590921/21358418/8e9a41b6-c6d0-11e6-82d7-66bef80bd240.png)
![screen shot 2016-12-20

[2016-12-20 16:32] OliverUK commented on #1232
I was curious if the search would feel sluggish with this change because more data is included but on increasing the OC to 360 variants it still performed the same as with just a few items.

[2016-12-20 16:44] lin-d-hop commented on #1232
Thanks Oliver!

[2016-12-20 23:24] sstead commented on #1254
Fixed by the Connect and Learn toggle - https://github.com/openfoodfoundation/openfoodnetwork/pull/1336

[2016-12-20 23:24] #1254 closed

[2016-12-20 23:49] sstead commented on #1330
I'm not certain of how the address is interpreted and placed, and whether an address could be placed in Australia without State. As mentioned State is typically required in Aus. I would say only make states non-compulsory if you can be sure that this won't lead to 'invalid' addresses that the map can't place. In the past we've had trouble with invalid addresses - sometimes the enterprise gets plac

[2016-12-21 00:58] sstead commented on #1232
Looks fine in Aus staging, ready for production.

[2016-12-21 01:31] sstead commented on #1295
Hey @Matt-Yorkley, I've been unable to replicate it as well. I think this Enterprise simply had no 'about us' text. Yuko's recommendation is that we hide the tab if the enterprise has no content written.

[2016-12-21 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5859f041bca9bd100055b5d0)

[2016-12-21 03:20] #1232 closed

[2016-12-21 04:22] sstead commented on #1160
Could we better stress to Users that if they're using SO that they should also require login? Perhaps when they first click to 'Enable Standing Orders' (AND you have guest checkout allowed) a popup or exclamation should appear saying 'we suggest you also require login before your customers can checkout'.
![image](https://cloud.githubusercontent.com/assets/10843056/21377270/57c1e1e6-c791-11e6-9656-

[2016-12-21 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=585a0c605a86a21000af3abf)

[2016-12-21 05:12] sstead commented on #1078
@oeoeaio, this standing order isn't seeing overridden prices in Inventory, seeing product prices instead... ![image](https://cloud.githubusercontent.com/assets/10843056/21378132/1694365e-c798-11e6-9b64-714e8e88fca7.png)

[2016-12-21 05:21] mkllnk commented on #1276
@sstead: You can remove Bugherd by removing the Bugherd API key as admin.

admin -> Configuration: Remove "Bugherd Api Key" and click "Update".

I just did that on staging2. To make it permanent, the thing that is in staging2 has to be pushed to production. Staging1 doesn't have a Bugherd Api Key at the moment.

[2016-12-21 05:29] mkllnk commented on #1022
Does it even get set? Maybe the GMaps API works without key, but it prints the warning?

[2016-12-21 05:47] sstead opened #1348 "Links in wzywg not working- adding openfood at start of URL"
![image](https://cloud.githubusercontent.com/assets/10843056/21378809/1cfec568-c79d-11e6-8c40-8109da870db7.png)

[2016-12-21 05:48] #1276 closed

[2016-12-21 06:13] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=585a1ab21fe398100015c8b5)

[2016-12-21 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=585a287f42f10d1100a08410)

[2016-12-21 09:59] sigmundpetersen commented on #1346
No obejctions :)

[2016-12-21 10:22] lin-d-hop commented on #1348
Flagging for @Matt-Yorkley

[2016-12-21 11:10] Matt-Yorkley commented on #1295
@sstead yeah I was trying to think of a decent way of dealing with the empty tab scenario. I think if the user clicks the button and nothing happens it will seem like the button's not working, and I'm not sure that's better feedback than showing an empty tab...

[2016-12-21 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=585a7e06eba2b21000e0ed52)

[2016-12-21 17:02] elf-pavlik commented on #1022
On the staging I just deployed map breaks after few seconds https://ofn.hackers4peace.net/map

![screen shot 2016-12-21 at 11 01 03 am](https://cloud.githubusercontent.com/assets/876431/21398439/e7bef15a-c76c-11e6-85a8-b1d1e1d6c2cd.png)

[2016-12-21 17:22] stveep commented on #1346
Agree - `I guess in config/environments/test.rb`

[2016-12-22 22:46] sstead commented on #1295
Could the tab be invisible if it contains no content?

[2016-12-22 22:59] RohanM opened #1351 "Clear cache when loading baseline data on staging"
When we load the baseline data on staging (which happens before each deploy), we change the database but don't touch the cache. This leaves the cached data inconsistent with the database, and introduces some confusing defects into the system that have nothing to do with the staged code.

To solve this, run `Rails.cache.clear` after the baseline data has been loaded.

[2016-12-22 23:27] sstead commented on #390
This one isn't going to make it into release 1.8.7

[2016-12-23 03:20] daniellemoorhead commented on #1020
Sorry guys, @sstead had a look at this but there were "problems" (end quote). @oeoeaio is looking at it today but it won't make it into the release. Next year :)

[2016-12-23 04:10] #1165 closed

[2016-12-23 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=585caf5dbf626610003bbd47)

[2016-12-29 00:04] mkllnk commented on #1022
I can't find it either. But I found [an answer](http://stackoverflow.com/questions/37991340/error-google-maps-api-error-missingkeymaperror) saying that our domain works, because it was active before June 22nd 2016. All newer apps need an API key now. We have two options:

- Add an option to configure an API key.
- Get rid of Google Maps.

If we wanted to get rid of Google Maps, we need another ser

[2016-12-30 14:55] Matt-Yorkley commented on #1316
@rhodri Are you working on the UI Grid integration already? Am I right in thinking the current plan is to implement UI Grid (which includes re-creating a lot of the current functionality) and then add these improvements on top of that implementation? I'm also wondering if you think the 8 issues in this epic should be done in a certain order, or have a rough plan?

Maybe we can set up a uk testing

[2016-12-30 18:17] myriamboure commented on #1022
Just a question: if OSM is not so well fueled in Australia, why not taking the opportunity to map on OSM while registering new enterprises on OFN? Like when you put your address, if not found in the OSM database, you can clic to add it and you can select the spot on the map and save. Maybe I'm dreaming :-) But that could be a way to get rid of Google maps and contribute at the same time to enrich

[2016-12-30 18:23] elf-pavlik commented on #1022
I think we need quick fix to allow Google Maps API key in config. And later work on providing toggle alternative to only depend on OSM. This way each instance can choose 'consumer' or 'pioneer' mode depending on region and community.

[2017-01-02 16:58] lin-d-hop commented on #375
Line breaks fix merged so closing this issue.

[2017-01-02 16:58] #375 closed

[2017-01-02 20:43] pmackay commented on #1324
@sstead curious title!

[2017-01-02 20:48] pmackay commented on #1022
There are dozens of geocoding services listed on https://github.com/alexreisner/geocoder. Are any others preferable to Google? Some dont need a key.

[2017-01-02 22:55] #1324 closed

[2017-01-02 22:55] sstead commented on #1324
issue made accidentally.

[2017-01-03 08:59] pmackay commented on #1283
How much padding would you expect? There is a small gutter I think. Otherwise fullwidth seems appropriate for mobile?

[2017-01-03 10:23] pmackay commented on #1330
Could I just ask, related to this, is it essential to ask enterprises what country they are in? Might it be worth having the country as an optional field? In OFN instances where the country is always the same, it would be a great UX improvement not to ask it.

[2017-01-03 10:38] lin-d-hop commented on #1330
I do think we need to ask country. Uk is working with spanish producers already. But we should limit countries and have a default for sure.⁣

Sent from BlueMail ​

On 3 Jan 2017 10:23, at 10:23, Paul Mackay <notifications@github.com> wrote:

[2017-01-03 10:56] pmackay commented on #1209
There are also several uses of Gmap in https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/darkswarm/directives/map_osm_tiles.js.coffee. Seems a bit odd though given its for configuring OSM tiles.

[2017-01-03 11:20] pmackay commented on #1226
This could be fixed by changing

`'http://tile.openstreetmap.org/'`

to

`'https://c.tile.openstreetmap.org/'`

(you have to use one of the a/b/c sub-domains for `https` to work correctly)

[2017-01-03 14:11] pmackay commented on #1312
I've fixed the CORS config on S3 and uploaded images for all the taxon terms that match the image set I found on the OFN folder on Dropbox (/OFN DESIGN/HISTORICAL/design-ux/icon-font/design/taxon).

@lin-d-hop could you please check and see if any other icons could be used on any other taxon terms? I think some additional icons could be useful personally.

[2017-01-03 14:18] Matt-Yorkley commented on #1330
So I've made a PR or this and it's ready for review/testing. It should make UK the default option and limit the list to countries with states, so effectively the country will be already filled out for the user.

[2017-01-03 14:24] pmackay commented on #1178
Duplicate of #1226

[2017-01-03 14:24] #1178 closed

[2017-01-03 14:29] pmackay commented on #872
@NickWeir63 can you indicate how much demand there is for this feature? Of all the groups interested in OFN, how many might want it?

[2017-01-03 14:45] pmackay commented on #1303
In what way would it auto-fill?

[2017-01-03 14:45] pmackay commented on #1298
Can you clarify what you mean by "page zoom"?

[2017-01-03 14:54] lin-d-hop commented on #1312
Thanks for fixing this @pmackay Happy to update the icons.

[2017-01-03 14:55] lin-d-hop commented on #1330
PR number? Thanks @Matt-Yorkley!!

[2017-01-03 14:56] lin-d-hop commented on #872
This has been discussed regularly in management meetings and is currently second highest future dev priority.

[2017-01-03 14:57] pmackay commented on #1294
Is there even a need to implement wrapping (original issue point)? If the guidelines or restrictions about entering content in backend fixed this "empty bottles" message it would not be a problem..

[2017-01-03 14:57] lin-d-hop commented on #1298
When you click in the box the page zooms to massive. A browser feature when filling in a text box. Does that help @pmackay?

[2017-01-03 14:59] pmackay commented on #1298
Yes, I know what that means, just didnt initially connect with description.

[2017-01-03 15:23] pmackay commented on #969
@sstead could this be considered done? :)

[2017-01-03 15:32] Matt-Yorkley commented on #1330
If you scroll up in this thread you'll see I did it before Christmas :P

#1334.

[2017-01-03 15:56] pmackay commented on #1023
Here is a Lighthouse report run on homepage of OFN UK. Current score = 42/100.

[Lighthouse report- https---openfoodnetwork.org.uk-.pdf.pdf](https://github.com/openfoodfoundation/openfoodnetwork/files/682582/Lighthouse.report-.https---openfoodnetwork.org.uk-.pdf.pdf)

[2017-01-03 17:04] Matt-Yorkley commented on #1294
I'm thinking it won't be necessary, no. Current proposal:

- set a maximum length on the field of around 35 characters
- make sure the additional field for notes actually gets displayed in the frontend.

[2017-01-03 17:14] OliverUK commented on #1301
Tested on my mobile phone (BQ Aquaris X5) using Firefox as browser. The checkout sections in question now look as below.

![screenshot_20170103-171050](https://cloud.githubusercontent.com/assets/17590921/21616082/15044276-d1d8-11e6-9e58-5b4945067e2d.png)
![screenshot_20170103-171133](https://cloud.githubusercontent.com/assets/17590921/21616083/15051ac0-d1d8-11e6-9dc8-5bcf34a884db.png)

[2017-01-03 17:21] OliverUK commented on #1301
![screenshot_20170103-171821](https://cloud.githubusercontent.com/assets/17590921/21616364/196f7f8c-d1d9-11e6-95cb-d0476601e4ae.png)

[2017-01-03 20:09] pmackay commented on #1295
Alternatively a default "empty state" content, e.g.

_No description available for this producer._

[2017-01-03 20:15] pmackay opened #1355 "Improve support for OFN as a full progressive web app"
See https://github.com/GoogleChrome/lighthouse - a tool for testing this.

[2017-01-03 21:20] pmackay commented on #941
Should an image format conversion actually happen? Why not get users to upload correct image?

[2017-01-03 21:45] pmackay commented on #1273
How long should this persist for? It would need some kind of cookie setting I guess.

[2017-01-03 23:01] Matt-Yorkley commented on #941
Users won't always have the software or the know-how to convert image formats.

[2017-01-04 03:23] elf-pavlik commented on #1022
PR #1359 adds `GOOGLE_MAPS_API_KEY` to config and uses it in layout following
https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API

with that patch now https://ofn.hackers4peace.net/map loads

[2017-01-04 04:06] mkllnk commented on #1022
@pmackay I know three currently used ways to provide api keys.

1. The Spree configuration already contains settings for some keys and credentials. The Google Analytics key can be set in the admin panel, right?
2. An environment variable set in `application.yml`. That's the quickest to implement and was chosen by @elf-pavlik in #1359 . It's probably a good place, because it is a quite important fe

[2017-01-04 06:49] pmackay commented on #1022
@mkllnk thanks! I was slightly more wondering about best practice to make keys available in the frontend and whether keeping it hidden is a concern, but if not thats fine (and it follows Google recommendations, so in this case I guess not!). Agree option 2 works well for this for backend.

[2017-01-04 13:06] OliverUK opened #1360 "Timing out...UK server"
One customer has been in touch saying she can't submit an order.
If I try and enter it for her I get the slug error page.
I also tried adding a new product just now and got another slug.

Something is going badly wrong today!

@lin-d-hop @MagsHall @NickWeir63

[2017-01-04 13:23] OliverUK commented on #1360
Tried also from the front end on her behalf using guest checkout. The screen goes to
![screen shot 2017-01-04 at 13 20 57](https://cloud.githubusercontent.com/assets/17590921/21643574/e6a8c646-d280-11e6-9ead-4638c7271376.png)

and then returns to the checkout page.

[2017-01-04 13:50] OliverUK commented on #1360
I've been able to submit the order now in 4 parts!

I kept taking things out of the basket and retrying until the order submitted. Eventually I had submitted all but one item but when I tried that last one on its own, that too went through. Therefore I can't say that any one particular product caused the issues not was it a certain number of items or value.

[2017-01-04 13:56] lin-d-hop commented on #1360
⁣ok, I deployed to prod yesterday, latest release. Clearly causing problems. Will revert asap.
Thanks oliver

Sent from BlueMail ​

On 4 Jan 2017 13:50, at 13:50, Oliver M <notifications@github.com> wrote:

[2017-01-04 21:12] OliverUK commented on #1360
Thanks @lin-d-hop
Several orders have come through since earlier but just had a phone call from another member who can't order and I guess there may be more who haven't said.
This is how the failed orders look in the orders list:

<img width="570" alt="screen shot 2017-01-04 at 21 08 59" src="https://cloud.githubusercontent.com/assets/17590921/21659335/26c5ba40-d2c2-11e6-951e-943bd01f3c05.png">

[2017-01-07 11:56] pmackay opened #1361 "Duplicate CSS definitions from use of css_splitter"
Original from Paul:

## Description

Our `all.css` file includes `all_split2.css` which is entirely contained in `all.css` already. So the include is unnecessary and lets visitors wait longer before they can see the page.

## Expected Behavior

No duplicate CSS code is loaded.

## Actual Behavior

180 kb of duplicate CSS code is loaded via `all_split2.css`.

## Steps to Reproduce

1. Load any page

[2017-01-09 08:24] pmackay opened #1362 "Avoid ActionController::RoutingError being triggered for 404 requests"
The OFN UK log is full of `ActionController::RoutingError` exception traces because there are lots of spam crawlers calling odd URLs. Lets avoid this by adding

`match '*path', via: :all, to: 'pages#error_404'`

to the end of `routes.rb` and a controller:

[code]

[2017-01-09 09:34] pmackay commented on #740
Some related ideas: https://community.openfoodnetwork.org/t/better-logging-for-helping-to-resolve-production-issues/786

[2017-01-09 11:42] NickWeir63 opened #1363 "Adding multiple notification email addresses breaks email notification process"
The Tree St Andrews put multiple email addresses into the 'Notifications' box on the Enterprise Admin screen (see below).  This had the effect of preventing them receiving any notification emails.
Please can we change this so that:
1) only one address can be entered and
2) rather than entering any email address in the this box, we have to select a user from the list of registered users.
In the lon

[2017-01-09 12:06] lin-d-hop commented on #1363
@sstead in Aus I imagine there are cases that people have put in emails that are not the email of the user account they signed up with.
For the purposes of validating emails in this field do you think it is better to use enterprise emails (which have been verified) or just to do some simple checking that the text in this field is the correct format and only one email.

[2017-01-09 15:29] OliverUK commented on #1031
Happy to test but can't find in buildkite, @lin-d-hop .

[2017-01-09 15:33] OliverUK commented on #1214
Happy to test this @lin-d-hop  but can't find in buildkite.

[2017-01-10 10:02] pmackay commented on #973
@sstead could you add a bit more context to this please?

[2017-01-10 10:06] pmackay opened #1364 "Make selection of a group for display clearer"
Currently a checkbox labelled "ON FRONT PAGE ?" must be ticked to show a group on `/groups` page. This could be more descriptive/clearer if it said something like "Display on Groups page". It feels confusing currently as it suggests the group will appear on the homepage (front).

[2017-01-10 10:19] lin-d-hop commented on #1364
This can be changed in en-GB: admin_entreprise_groups_on_front_page
Hence doesn't need an issue.

[2017-01-10 10:19] #1364 closed

[2017-01-10 11:10] pmackay opened #1365 "Remove /test directory?"
There is one performance `BrowsingTest` that gets the homepage, but it isnt called in Travis. Most directories are empty. Is the `/test` dir needed?

@mkllnk thoughts?

[2017-01-10 11:15] lin-d-hop commented on #1365
@pmackay Can you ask this quesiton via slack instead? Then open an issue if it really is an issue?

[2017-01-10 12:17] #1360 closed

[2017-01-10 14:40] lin-d-hop commented on #421
@OliverUK You should be able to deploy and test this now...?

[2017-01-10 15:02] lin-d-hop commented on #1228
@Matt-Yorkley Failing tests...

[2017-01-10 15:07] lin-d-hop commented on #872
Closing as something is happening regarding germans and @kirstenalarsen...

[2017-01-10 15:07] #872 closed

[2017-01-10 15:36] OliverUK commented on #421
I thought this was all done @lin-d-hop . Did you mean a different issue?

[2017-01-10 16:02] lin-d-hop commented on #421
From Oliver: _Please note, Lynne, I've only tested this in super admin. It seems I have to register my normal user account anew every day on staging and today I was once again unable to confirm the account (no confirmation email)._

Would you be able to test outside of superadmin please @OliverUK?

[2017-01-10 16:26] OliverUK commented on #421
@lin-d-hop rebuilt, redeployed and retested using my normal login - great that I now can!

Noticed no difference to the website's behaviour between the different logins. All looks to be working fine.

I also get this warning message now, which is good to have but as far as I can tell incorrect. Not part of this issue though.

![screen shot 2017-01-10 at 16 22 37](https://cloud.githubusercontent.co

[2017-01-10 17:00] lin-d-hop commented on #421
@OliverUK Payment methods are inactive as this is a prod DB copy on staging and I need to do another production deploy to save DB updates. So you will see this message until i do that.

Thanks, tested and ready for @sstead

[2017-01-10 18:45] myriamboure commented on #1208
@pacodelaluna solved the issue :)

[2017-01-10 18:45] #1208 closed

[2017-01-10 18:46] myriamboure commented on #1183
@pacodelaluna solved this issue :-)

[2017-01-10 18:46] #1183 closed

[2017-01-10 20:30] #1355 closed

[2017-01-10 23:13] sstead commented on #973
This question was raised in Aus by @daniellemoorhead (Dani feel free to chime in). At the time 'Groups' was one of our primary menu items at the homepage (this is no longer the case, we have 'connect' and 'learn' instead). The groups page itself only listed 3-4 groups, so seemed like a waste of real estate. From a user's perspective we also asked whether browsing by group is a common way to naviga

[2017-01-11 00:06] Matt-Yorkley commented on #420
@OliverUK Updated and ready for testing.

[2017-01-11 00:15] sstead commented on #1363
The notifications box has a hidden functionality... if I enter an email that is not a registered user on the OFN, that person is sent an email confirmation. If they confirm their email they're added as an enterprise user, prompted to create a password and become a manager of that enterprise.

This functionality was put in place so that when OFN Aus created profiles on behalf of producers (e.g. if

[2017-01-11 00:18] #969 closed

[2017-01-11 00:24] sstead commented on #1286
I deleted News from the "top nav" menu in Appearance > Menus
![image](https://cloud.githubusercontent.com/assets/10843056/21830395/81839794-d7f0-11e6-8329-486de82e96c7.png)

[2017-01-11 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=587591b3f8ae1b1000e6b634)

[2017-01-11 02:03] oeoeaio commented on #1361
That's entirely possible. Probably a clearer file structure, and standards around file inclusion ([as you've proposed](https://community.openfoodnetwork.org/t/some-ideas-for-improving-ofn-css/785)) would help us resolve these problems.

[2017-01-11 02:15] sstead commented on #1294
@matt the 'pick-up instructions' field was initially designed to not show at the front end. The idea was that you could include relatively private information in this field that will only be shown to customers who have checked out. An example- if you run a coop and allow customers to pick up orders from someone's back porch, you might only include the address of the house in this field, rather tha

[2017-01-11 02:22] sstead commented on #1303
Sorry @pmackay can't answer that. All of these Dec 7th issues were things picked up by Yuko that I put into Github, perhaps ask her if she has a suggestion.

[2017-01-11 02:42] KeirOsborn commented on #1200
I've just submitted a PR for this. All I did was remove the word-wrap class from enterprise.email_address and enterprise.website in app/assets/javascripts/templates/partials/contact.html.haml. Obviously the default value of word-wrap is: "normal" so it just goes back to that without us having to alter any stylesheets.

[2017-01-11 03:50] sstead opened #1371 "If I delete owner as a manager, the owner can no longer edit the enterprise"
If I own a profile, I'm automatically made a manager of the profile. As the owner, i can add and remove managers.

As the owner, if I add another manager and remove myself as a manager (but remain the owner) I'm no longer able to edit that profile. I get the 'unauthorised' message. I can't see it in my enterprise list. If I enter the link e.g "https://staging2.openfood.com.au/admin/enterprises/NAM

[2017-01-11 03:59] sstead commented on #421
@Matt-yorkley The dropdown looks good. However the dropdown list should include all enterprise that the users can edit. This includes ones they own, ones they manage and ones that have granted the user's enterprises E2E permission to edit their profile. When testing 2 profiles were missing from my dropdown- these were the ones I have been granted E2E permission to edit the profile of.
![image](htt

[2017-01-11 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5875bbe29663e711002549ea)

[2017-01-11 05:04] RohanM commented on #1256
See PR https://github.com/openfoodfoundation/openfoodnetwork/pull/1372

[2017-01-11 06:08] sstead opened #1373 "Typo fix for Maikel"
Small typo got through testing...
![image](https://cloud.githubusercontent.com/assets/10843056/21837492/80b75a8c-d820-11e6-9a3f-72b374041400.png)

[2017-01-11 06:21] mkllnk commented on #1361
I don't know if rails is smart enough to filter duplicates.

[2017-01-11 09:28] myriamboure commented on #973
I agree with what @sstead says, groups make sense if can be embedded in the website of a municipality for a local food system visualization for example So even with a more powerful directory, I think this need to have the possibility to embed a group will remain. For example even if I can filter on "The Food Assembly" on the general map, maybe the Food Assembly would like to embed a white labeled

[2017-01-11 13:04] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58762d4b64358d1100548964)

[2017-01-11 16:21] Matt-Yorkley commented on #1294
@sstead Ah, that makes sense now. I've searched the code and it doesn't get shown anywhere, which is partly why I felt like putting it to use. Do you think it should be only shown at the late stage of the checkout?

[2017-01-12 04:14] oeoeaio commented on #1211
Have submitted some code for @Matt-Yorkley to have a look at, assigning him.

[2017-01-12 09:31] pmackay commented on #1304
I'm a bit concerned about just moving the whole order summary as-is above the Place order button. It has the Back to cart button which is larger.

What about moving the Back to cart button to be on the left on the same line as the Place order button? And align Place order to the right? (for all layouts, not just mobile) That would:

* Mean the Place order button is aligned with all the Next button

[2017-01-12 09:38] lin-d-hop commented on #1304
Hi @pmackay Yep that was what I was envisaging. With both buttons appearing below the Order Summary.
Thanks for clarifying.

[2017-01-12 13:52] myriamboure opened #1376 "Private shop issue: require login not displaying well to user"
![screenshot from 2017-01-12 14-45-36](https://cloud.githubusercontent.com/assets/8135376/21892344/a99f9f8e-d8d6-11e6-8302-e88445036c69.png)

[2017-01-12 13:54] myriamboure commented on #1376
I wanted to ping Pacodelaluna but he doesn't seem to be in the team, also he submitted a pull request already (and will definitely submit more I hope!) Is it possible to add him @mkllnk ? Thanks ;-)

[2017-01-12 13:56] myriamboure commented on #1376
@pacodelaluna this is for you maybe? Easy? sorry @mkllnk  for the wrong request,  it was before you added him I guess, should have checked ;-)

[2017-01-12 13:57] myriamboure commented on #1376
I can't assign Pacodelaluna on this issue, is it a permission issue @mkllnk ?

[2017-01-12 14:01] myriamboure opened #1377 "Private shop issue: if I login to a private show with a non-recognized email > BOOM"
Following this: https://github.com/openfoodfoundation/openfoodnetwork/issues/1376

So as requested, I login, if I use an email in the hub customer list the shopfront appear, works as expected.
If I use another email, valid account on ofn, I got the system error screen... I would have expected an error message saying something like "The email you tried to connect with is not in the members list of

[2017-01-12 14:39] OliverUK commented on #1119
@lin-d-hop  can't find the pull request in buildkite

[2017-01-12 14:58] lin-d-hop commented on #1119
@Matt-Yorkley can you submit another PR uk/* so this builds automatically in buildkite. Thanks!

[2017-01-12 15:05] OliverUK commented on #522
@lin-d-hop I tried build 136 uk/property_names in buildkite but don't seem to get any result. On reflection it may have been the wrong build?

[2017-01-12 15:34] Matt-Yorkley commented on #1119
@lin-d-hop it's already got the uk prefix: #1333.

[2017-01-12 16:59] Matt-Yorkley commented on #1228
@lin-d-hop ready for testing, in a new branch with uk prefix.

[2017-01-12 18:28] myriamboure opened #1380 "Special caracters transformed in hieroglyphs in exports"
In France we use lots of special caracters like é, ê,ç, à, etc. Especially in names.
When exporting in CSV a report, those caracters are not well handled.
![screenshot from 2017-01-12 19-26-07](https://cloud.githubusercontent.com/assets/8135376/21902663/0c92cc1c-d8fd-11e6-93d6-d708d89e722a.png)

How to improve that?

We had a request from a user. I gave them a workaround to find and replace in exc

[2017-01-12 18:30] myriamboure commented on #1380
@pacodelaluna any idea? Or others?

[2017-01-12 23:49] #1214 closed

[2017-01-13 00:04] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=587819a74a7e0611002818b2)

[2017-01-13 00:06] mkllnk commented on #1373
#1381

[2017-01-13 00:06] #1373 closed

[2017-01-13 00:32] sstead commented on #390
Some minor menu display inconsistencies, but this appears to already be happening on production...

[2017-01-13 00:38] #390 closed

[2017-01-13 00:56] sstead opened #1382 "Shop search always returns 'did you mean?'"
## Description
When I search for a place it always reads 'did you mean?', even if I spelled it correctly. Usually if you say 'did you mean', there will be a list of locations that are similar to what I typed. Just a bit confusing/not quite right. We need to change the wording so that it is more logical.

## Current behavior
When search show result:
![image](https://cloud.githubusercontent.com/asse

[2017-01-13 01:20] sstead commented on #1022
Testing notes:
Maps working normally.  Can search on map, can place a new enterprise on the map, can search shops/producers by location. Group maps and directory searching also working as normal.

[2017-01-13 01:25] sstead opened #1383 "Group map showing invalid address in Ocean off Africa"
![image](https://cloud.githubusercontent.com/assets/10843056/21915043/489693e0-d98b-11e6-8c4b-ccae8dc046ec.png)

[2017-01-13 01:28] #1022 closed

[2017-01-13 02:55] sstead opened #1384 "Change 'enterprise relationships' to 'enterprise permissions'"
I suggest we replace "relationships" with "permissions", which is a more accurate description of the tool. Explaining E2Es is quite tricky already. Removing one more confusing word from the mix would help.

![image](https://cloud.githubusercontent.com/assets/10843056/21916902/a5669dd4-d997-11e6-8344-b2537de6288f.png)

[2017-01-13 03:45] mkllnk commented on #1365
This is not used at all. I would get rid of it. @pmackay Are you happy to create a PR?

[2017-01-13 04:27] mkllnk commented on #1376
This is a translation issue. Translators have to know that they must not translate things within `%{...}`. They are variables that get replaced, in this case by links. Should that be mentioned in https://community.openfoodnetwork.org/t/localisation-ofn-in-your-language/397 ? Or do we need a separate translator guide?

[2017-01-13 13:04] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5878d046d1a9241100b3d4ee)

[2017-01-13 15:27] OliverUK commented on #420
Might have to remind me what I need to deploy for re-testing. I tried the latest uk/switcher build but it failed.

[2017-01-13 15:36] lin-d-hop commented on #420
@Matt-Yorkley Merge conflicts?

[2017-01-13 22:06] Matt-Yorkley commented on #420
I think there's a seperate branch made by mkllnk with some changes, but it also needs some further adjustments. I'll sort it soon.

[2017-01-14 07:33] lin-d-hop commented on #420
Thanks @matt-yorkley :-)

[2017-01-16 00:12] sstead opened #1387 "[aus prod] Unable to create new product with image"
On production...
If a new product is created without an uploading an image, it works fine.
If I create a new product, but upload an image I get the snail page.

Could be related to recent push - https://github.com/openfoodfoundation/openfoodnetwork/pull/1331

[2017-01-16 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=587c6f8200a00f1000e63e31)

[2017-01-16 07:29] mkllnk commented on #1387
Our production server ran out of memory: https://app.bugsnag.com/yaycode/openfoodnetwork/errors/57e1f7c49a8502cbc9b347c8?event_id=587be55f31e910110027fd92

The worker count was recently increased from 2 to 3. I lowered it down to 2 again.

I identified two more ways to increase the available memory:

- Use [posix-spawn](https://github.com/thoughtbot/cocaine#posix-spawn).
- Reduce the amount of run

[2017-01-17 03:56] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=587d95f588dd911200f6c626)

[2017-01-17 19:03] lin-d-hop commented on #1312
All UK taxons now have icons.

[2017-01-17 23:01] sstead commented on #1294
Had a chat to Rob and we think for now we should leave it as is. Keep in mind, enterprises can use the shipping methods description to tell customers about the pick up instructions. They can also use the 'shopfront message' to communicate additional instructions/details. The only other functionality that would be useful is the ability to have an order cycle specific message. This would be handy, b

[2017-01-17 23:05] #1302 closed

[2017-01-17 23:06] #1301 closed

[2017-01-18 06:15] mkllnk commented on #1387
The best maintenance window is between 11pm and 6am.

[code]

[2017-01-18 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=587f1283a8663e1100647ba7)

[2017-01-18 07:19] mkllnk opened #1389 "Test posix-spawn gem"
The [posix-spawn](https://github.com/thoughtbot/cocaine#posix-spawn) gem looks promising to lower the memory footprint of OFN when calling external tools, for example when images are uploaded. It would be good to test if the OFN actually spawns new processes in this case and if memory usage can be lowered by using this gem.

This came up in #1387. This could solve #596. See also image upload issue

[2017-01-18 07:25] mkllnk commented on #1387
Looking at the staging server I found that they were still running postgres 9.1 and never installed a newer version. Looking at production again, I discovered a 3rd party repository that provides postgres. So I decided to continue using postgres 9.3 while uninstalling 9.5 and 9.6. So we save a bit of memory and CPU here while not changing the current setup. We had in mind to replace the production

[2017-01-18 07:25] #1387 closed

[2017-01-18 08:57] lin-d-hop commented on #1294
@sstead When you say 'leave it like it is' I assume you refer to not displaying the additional text in the shopfront.
In order the resolve the UX issue we would still need to set a limit to the original field to 35 characters. Is this ok with you to go ahead with?

@Matt-Yorkley I think it is ok for UK users that currently use this field for additional information to move this info to the secondar

[2017-01-18 11:26] sstead commented on #1294
Yes, suggesting we leave the 'pick up instructions' field as is. The 'ready for' field above would be better limited to 35 characters.
________________________________
From: Lynne<mailto:notifications@github.com>
Sent: ‎18/‎01/‎2017 7:57 PM
To: openfoodfoundation/openfoodnetwork<mailto:openfoodnetwork@noreply.github.com>
Cc: Sally<mailto:sallystead@hotmail.com>; Mention<mailto:mention@noreply.gith

[2017-01-18 13:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=587f67bced371d11007f8a98)

[2017-01-19 10:02] #1027 closed

[2017-01-19 10:04] lin-d-hop commented on #1143
Hi @stveep! Hope you're good! Hows this coming along? Is there anything that you could use some answers on? Or you happy? Just checkin in :-)

[2017-01-20 00:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=588153138a96d5110005e899)

[2017-01-20 00:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58815437334a8c1100e5667d)

[2017-01-20 05:29] daniellemoorhead opened #1390 "SO - front end user flows design"
To fix the experience currently implemented in editing orders, and to prepare for the next stage of standing orders, we need user flows/interaction designs developed for the following tasks:

- [ ] A user edits their current order (within the current order cycle)
- [ ] A user sets up a standing order
- [ ] A user manages a future order (cancelling or possibly modifying within a particular order cy

[2017-01-20 05:32] #1051 closed

[2017-01-20 05:32] daniellemoorhead commented on #1051
No longer required according to @oeoeaio

[2017-01-20 05:36] daniellemoorhead commented on #1063
Remaining to do for this to be considered done:

Tell the user what is going to happen when they cancel a standing order where there's an open order cycle. That means that they have an order currently open, which means that they standing order alongside of the standing order, is going to be cancelled and removed.

[2017-01-20 05:38] daniellemoorhead commented on #1064
Remaining work to be done:

Same as in #1063 - just need to add a message about how the current order will be cancelled and removed.

[2017-01-20 05:40] daniellemoorhead opened #1391 "Standing orders - restrict payment methods available for standing orders"

[2017-01-20 05:46] daniellemoorhead commented on #1080
This relies on the completion of issues #1143 before it can be done.

[2017-01-20 05:47] daniellemoorhead commented on #1086
Not required

[2017-01-20 05:47] #1086 closed

[2017-01-20 05:49] daniellemoorhead commented on #1158
Order page to be overhauled, refer to #1390 for new user flows/designs where this work may pop up again.

[2017-01-20 05:49] #1158 closed

[2017-01-20 05:51] daniellemoorhead commented on #1166
@yukoosawa FYI

[2017-01-20 09:07] lin-d-hop commented on #1031
@OliverUK Now has a build so over to you :-)

[2017-01-20 09:11] lin-d-hop commented on #522
@OliverUK My bad, should be in there now.

[2017-01-20 09:46] pmackay commented on #1312
@lin-d-hop where are all the icons now stored, that you've used? I'd like to add a note to the deploy docs so this is a documented step for any instance.

[2017-01-20 09:55] lin-d-hop commented on #1312
@pmackay right now on gdrive. They aren't polished, in fact that are super amateur. Link to the others and ill make sure these are in the same place.

[2017-01-20 14:41] pmackay commented on #1312
I've added a small note here:

https://github.com/openfoodfoundation/ofn-install/wiki/Administration#taxonomies

[2017-01-21 04:06] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5882de2f4af195110083eb79)

[2017-01-22 10:04] OliverUK commented on #522
@lin-d-hop
![screen shot 2017-01-22 at 10 03 42](https://cloud.githubusercontent.com/assets/17590921/22181744/20e3abc0-e08a-11e6-93f4-6fcbfe6f62d0.png)

[2017-01-22 10:08] OliverUK commented on #1031
@lin-d-hop
![screen shot 2017-01-22 at 10 07 11](https://cloud.githubusercontent.com/assets/17590921/22181772/b255df24-e08a-11e6-9ab0-589665cf29de.png)

[2017-01-22 20:47] Matt-Yorkley commented on #421
@sstead The enterprises enabled through E2E should be included now.

[2017-01-24 10:53] pmackay commented on #1365
Now removed. Closing.

[2017-01-24 10:53] #1365 closed

[2017-01-24 10:54] pmackay commented on #1312
Have also added note here https://github.com/openfoodfoundation/ofn-install/wiki/File-storage#cors-configuration about CORS config.

[2017-01-24 10:54] #1312 closed

[2017-01-24 13:19] pmackay commented on #1133
@mkllnk presumably it would make sense to upgrade to the latest v3.2.22.5 release? Is there a special process for updating Rails? Is it a case of try it, run the tests and if all looks ok then it could be merged?

[2017-01-24 17:10] arthur-koenig commented on #1220
We are very interested in this feature in France ! @NickWeir63 The donation field could be configured by the hub's admin, with options such as min and max, and adding engaging text. I guess it's just an extra field that could be transferred via the payment API ?

[2017-01-24 22:26] sstead opened #1394 "Tool tip for schedule and order cycle on the OC admin page"
"In the Order Cycle admin page there is an Add Schedule button - clicking this opens a modal"... This button didn't appear on the page until Standing Orders was enabled in Enterprise > Manage. I only knew this was an issue due to Nick's comment.

As a User I am not familiar with the terminology - but ‘schedule’ and ‘order cycle’ were not easily understood. Consider adding a tooltip for the labels?

[2017-01-24 22:26] sstead opened #7924 "Add tooltip for 'schedule' and 'order cycle' on the OC admin page"
"In the Order Cycle admin page there is an Add Schedule button - clicking this opens a modal"... This button didn't appear on the page until Subscriptions was enabled in Enterprise > Manage. I only knew this was an issue due to Nick's comment.

As a User I am not familiar with the terminology - but ‘schedule’ and ‘order cycle’ were not easily understood. Consider adding a tooltip for the labels?

[2017-01-24 22:29] sstead opened #1395 "In OC admin, make the 'Schedule' column show by default if standing orders is activated."
Expected: "If you hit 'create' a schedule will be created, the modal will close and the name of the schedule will show in the column next to all selected OCs."

Actual: There was no ‘in page’ confirmation such as the banner pattern that is commonly used on the site. The ‘schedule’ name did not appear beside the selected OC's as expected due to the column being hidden by default. If SO is enabled,

[2017-01-24 22:30] sstead opened #1396 "Show confirmation banner message when schedule has been successfully created"
Expected: "If you hit 'create' a schedule will be created, the modal will close and the name of the schedule will show in the column next to all selected OCs."

Actual: There was no ‘in page’ confirmation such as the banner pattern that is commonly used on the site.

* Issue spotted by Yuko

[2017-01-24 22:33] sstead opened #1397 "Deleting a Order Cycle should not delete Schedules"
Expected: You can delete a schedule by clicking on the delete button

Actual: The button deleted both the Schedule and the Order Cycle. If this is the expected behaviour User should be warned that both will be deleted. [Update] Delete from within the SO modal deletes the schedule. I clicked the delete/rubbish bin icon next to the OC/Schedule row in list which appeared to delete both.

*Issue spott

[2017-01-24 22:37] sstead opened #1398 "In Create New OC, the schedule field should have a dropdown arrow and hint text"
Expected: Go to create an order cycle. There should be a new field called schedules.

Actual: New field is a dropdown select, should be displayed as such with a down arrow and 'please select' as hint text.

![image](https://cloud.githubusercontent.com/assets/10843056/22269999/e02174fa-e2e1-11e6-9f7c-c00ce2eee767.png)

*Issue spotted by Yuko

[2017-01-24 22:42] sstead opened #1399 "Separate multiple schedules in OC table with a comma"
Expected: On the OC admin page, in the schedule column, any schedules selected in the add OC interface should be listed next to the OC.

Improvement: Multiple schedules listed beside OCs need to be comma separated. They are difficult to distinguish from each other as links.

![image](https://cloud.githubusercontent.com/assets/10843056/22270157/6fc456ae-e2e2-11e6-9c8b-e76dd457411c.png)

*Issue spot

[2017-01-24 22:44] sstead opened #1400 "When creating a standing order for a customer, there is a typo in 'postcode' field"
Expected: I can select payment and shipping methods that are active

Improvement: When entering address, there's a typo in the postcode field.

![image](https://cloud.githubusercontent.com/assets/10843056/22270254/daf37310-e2e2-11e6-9215-a708aa001e2f.png)

*Issue spotted by Yuko

[2017-01-24 22:47] sstead opened #1401 "Clearer error message when standing order products can't be added."
Expected: You can search for and select which items will be in this SO and in what QTYs.

Actual: I was able to save a new SO with 0 items in it. I was unable to save a new SO with an item that currently has 0 inventory. The page error said ‘Unable to save your order’. It would be better to state specifically why it was unable to save.

![image](https://cloud.githubusercontent.com/assets/10843056/

[2017-01-24 22:48] sstead opened #1402 "Disallow creation of standing orders with 0 products in them"
Expected: You can search for and select which items will be in this SO and in what QTYs.

Actual: I was able to save a new SO with 0 items in it.

*Issue spotted by Yuko

[2017-01-24 22:50] sstead opened #1403 "After creating a standing order take user back to standing order list view automatically."
Expected: You can review and save, or cancel.

Improvement: When the SO has been completed and submitted, don't require the user to click 'close', allow the save to take the user to the list view.

*Issue spotted by Yuko

[2017-01-25 03:46] sstead opened #1404 "Subnavigation within admin is inconsistent"
Green sub-navigation in 'Orders' section disappears for Standing Orders. Not all the same filters apply and perhaps the QuickSearch is enough?

![image](https://cloud.githubusercontent.com/assets/10843056/22277070/ad67d722-e30c-11e6-9850-dfbef06f8c54.png)

![image](https://cloud.githubusercontent.com/assets/10843056/22277077/b43723aa-e30c-11e6-8615-844154ec7e48.png)

*Issue spotted by Yuko

[2017-01-25 03:49] sstead opened #1405 "Change Standing Order shipping/payment methods in dropdown."
Expected: Shipping and Payment methods can be edited in the same way.

Actual: I could only edit Shipping and Payment by clicking the SO edit button on the RH side – instruction implies it would happen by dropdown

*Issue spotted by Yuko

[2017-01-25 03:51] sstead opened #1406 "Make possible to edit Standing Order start and edit dates in dropdown"
Expected: Start and end dates can be edited in dropdown.

Actual: I could only edit Shipping and Payment by clicking the SO edit button on the RH side – instruction implies it would happen by dropdown

*Issue spotted by Yuko

[2017-01-25 03:56] sstead opened #1407 "Clarify behaviour of pausing SO during open order cycle"
Expected: No order should be generated for paused standing orders.

If a SO is paused during an open OC, what happens? I noticed the Customer's SO status switched from 'Cart' to 'Completed'. Is the Customer sent a confirmation that the SO is paused? It would be confusing if the Customer has received the Order Confirmation email already...

![image](https://cloud.githubusercontent.com/assets/108430

[2017-01-25 03:58] sstead opened #1408 "Clarify if cancellng standing order, or just one order"
Expected: The order will remain on your standing order list, in the state 'cancelled'

I had some confusion between cancelling a SO and cancelling an Order as both can be done from the page.
Also when an order is cancelled in this view, the button now shows 'Resume Order' when hovered over - however clicking it doesn’t do anything…

![image](https://cloud.githubusercontent.com/assets/10843056/2227

[2017-01-25 04:01] sstead opened #1409 "Improve order cancellation email (to Customer)"
Recommendation: Should include the shop/hub/producer name, list of items in the cancelled order and a contact point if they want to follow up.

![image](https://cloud.githubusercontent.com/assets/10843056/22277373/0ec79e88-e30f-11e6-9e1f-8ce0cdcdeeb1.png)

*Issue spotted by Yuko

[2017-01-25 04:07] sstead opened #1410 "Items removed from Standing Order for unknown reason"
Expected: When an order cycle opens, the system is triggered to create an order for this standing order, and the shop admin can now see it in their 'Listing Orders' page. It will be in the state 'complete' and any items in the standing order that ARE NOT in the order cycle will have been removed.

Feedback: The order was created however on the Customer side, one item was removed (no inventory) but

[2017-01-25 04:08] sstead opened #1411 "SO should show as 'in cart' until finalised"
Expected: When an order cycle opens, the system is triggered to create an order for this standing order, and the shop admin can now see it in their 'Listing Orders' page. It will be in the state 'complete' and any items in the standing order that ARE NOT in the order cycle will have been removed.

Also shouldn’t the SO status be ‘Cart’ until the OC closes? Allowing the Customer to amend their SO i

[2017-01-25 04:11] sstead opened #1412 "Standing order caused on hand level to go to -1"
Inventory for item (Enoki mushrooms) = 0. When the OC opened, SO was completed (inc. sending email to Customer) and inventory was set to -1

![image](https://cloud.githubusercontent.com/assets/10843056/22277533/719a1fee-e310-11e6-8504-19b6612ba4d6.png)

*Issue spotted by Yuko

[2017-01-25 04:26] sstead commented on #683
Update: We are keen to remove the 'request permission to create >1 enterprise' measure. Can we change the setting so all users can create ?30 enterprises by default? This number is flexible...

Points 2, 3 and 4 above could either be done or postponed and done separately.

[2017-01-25 04:27] sstead commented on #683
Can anyone from the UK tackle this?

[2017-01-25 04:35] sstead opened #1413 "Improve communication of 'Items not available in this standing order' in email."
Expected: In the 'Standing Order open' email , customers will be told if some items in their standing order are not available in the current order cycle and therefore not going to be delivered.

Email was sent with unavailable items not listed - however I was not told they were unavailable, they just didn't show up.

*Issue spotted by Yuko

[2017-01-25 04:37] sstead opened #1414 "Treatment of standing order with zero items included - fees still charged"
If a Customer has a SO setup with no items/products - they are still sent an order confirmation email.

My test scenario was the following:

Shop/Producer
1. Create SO for customer with 1 item
2. Pickup fee for SO is cash $10 (which I understand for pickup would likely not be a real charge - I just happened to create it this way)
3. In SO list page I delete item from customer SO (now = 0)
4. New O

[2017-01-25 04:41] sstead opened #1415 "Standing Order email OFN logo lacks contrast"
The OFN logo in the email header is using white text which isn’t legible on the grey background. If you print the email, the white text is invisible on the white background.

This may not be an issue on production, using production logo?

![image](https://cloud.githubusercontent.com/assets/10843056/22278024/610e77ac-e314-11e6-8fc2-1bf50de6ffdd.png)

*Issue spotted by Yuko

[2017-01-25 04:47] #1226 closed

[2017-01-25 06:04] mkllnk commented on #1133
The last Rails upgrade was a year ago by Rohan: 46aee6f77c600d32c8760b6423cbedd683fe9cca

He had to change two more lines in the Gemfile, but I can't see any other changes related to that. So I guess yes, we just have to try it.

[2017-01-25 09:07] myriamboure commented on #683
That's great @sstead , I vote for :-) I have a kind of regular hub in France who has already like 15 producers and 10 hubs (he handles 10 buying groups), so 30 might be a little low, threshold, why not 50? Then I would suggest to add a not on the "entreprise page" telling that "You can set up up to 50 entreprise (we set it that way to avoid spam profile creation) so if they want to create more the

[2017-01-25 10:57] lin-d-hop commented on #1186
Hi @KeirOsborn, Nice work on this so far! Looks like the feature is nearly finished and done in a thorough way. Thank you!
This is an important issue as the couterintuitive UX is causing users to input incorrect details which is confusing the map pins. When you get the chance it would be great if you could tick off the last few pointers.
Legend :-)

[2017-01-25 13:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5888a22c5615ff1100064a8f)

[2017-01-25 14:14] OliverUK commented on #1228
Tested now on UK staging @lin-d-hop @Matt-Yorkley

Here is how it behaves in edit product:
- If the To Order box is ticked, the quantity field cannot be edited and is set to infinity.
- If the box isn't ticked the quantity can be edited.

In **create** product no such thing happens. In fact I've been recently noticing that if you tick "on demand" in the process of creating a product, it saves it a

[2017-01-25 14:49] OliverUK commented on #1293
@lin-d-hop  I can't find mobile_closed in buildkite. I tried the merged uk/convert-sass-to-scss which deployed to staging ok but doesn't seem to have any effect on the orientation of the closed shop message shown on mobile devices.

[2017-01-25 14:51] pmackay commented on #1293
@OliverUK uk/convert-sass-to-scss has no functional effect - it is purely file format conversions to make SCSS files more consistent.

[2017-01-25 14:56] OliverUK commented on #1211
@lin-d-hop  no build

[2017-01-25 15:04] OliverUK commented on #1293
Thanks @pmackay I sort of expected that but as I don't quite understand the technical side and as the two were "merged" I thought I try.

[2017-01-25 15:34] MagsHall opened #1416 "Map does not work in Explorer"
On UK production there are no enterprises showing up on the Map when viewing on Internet Explorer 11. It also freezes when you try to zoom in.

It is working fine in Chrome and Firefox.

[2017-01-25 15:42] MagsHall opened #1417 "Numbers do not overwrite when shopping in Explorer"
On UK production, when shopping if I enter a quantity to purchase in the box the default 0 is not overwritten. I have to delete this 0 and enter the quantity I want, or risk purchasing a multiple of 10!

This is only occurring in Windows Explorer 11 and not on other browsers.

![numbers not overwriting](https://cloud.githubusercontent.com/assets/19837861/22297310/cb89465c-e314-11e6-9803-152e9c61ae

[2017-01-25 15:50] lin-d-hop commented on #1211
@OliverUK try again

[2017-01-25 15:59] MagsHall opened #1418 "Photo needs fixing on UK production in Explorer"
The photograph on the [hubs case study page](https://openfoodnetwork.org.uk/shops/signup
) is not displaying correctly when viewed in Internet Explorer 11.

Displayed in Internet Explorer
![image](https://cloud.githubusercontent.com/assets/19837861/22298040/0675f6a0-e317-11e6-96eb-9c3f1b47e208.png)

Displayed in Chrome
![image](https://cloud.githubusercontent.com/assets/19837861/22298067/217c4940-

[2017-01-25 16:16] lin-d-hop commented on #1200
PR #1368

[2017-01-25 16:28] MagsHall opened #1419 "Localise business details on UK Production"
New enterprises are still being asked to enter ABN / ACN numbers when setting up. These need changing -

ABN to Company Number
ACN to Charity Number

These appear at step 4 in the registration process, and on the Business Details tab in the Enterprises page in Admin.

[2017-01-25 16:28] lin-d-hop commented on #1119
@OliverUK this is on buildkite now

[2017-01-25 16:33] lin-d-hop commented on #1419
@OliverUK I'd like to train you to make these changes.... Do you have time Friday?

[2017-01-25 16:35] lin-d-hop commented on #1031
Try again @OliverUK. It's on staging now.

[2017-01-25 16:41] lin-d-hop commented on #1293
@OliverUK try now

[2017-01-25 16:46] lin-d-hop commented on #1228
Great, thanks @OliverUK
So from this...
a) Please create an issue for create product and add to UK Current milestone, dev ready pipeline.
b) Create an issue regarding 'on demand' / 'to order' and with same milestone/pipe and assign to yourself. This is a translation change and I'm looking forward to teaching you how to do this.
c) This fix itself looks good so once the above is done let's move to

[2017-01-25 16:49] lin-d-hop commented on #522
@OliverUK try again with uk/property-names

[2017-01-25 16:53] OliverUK opened #1420 "New products where stock is set "to order" saves with zero stock"
![screen shot 2017-01-25 at 16 51 43](https://cloud.githubusercontent.com/assets/17590921/22300225/b80a51fc-e31e-11e6-9f20-c8571296dd32.png)
![screen shot 2017-01-25 at 16 52 11](https://cloud.githubusercontent.com/assets/17590921/22300226/b80c26d0-e31e-11e6-8590-039f0aa5d8c6.png)

[2017-01-25 16:55] OliverUK opened #1421 ""To order" and "On Demand" labels - only use one or the other or use "unlimited""
Lynne to show Oliver how this is changed

[2017-01-25 17:03] OliverUK commented on #1293
@lin-d-hop
![screen shot 2017-01-25 at 17 03 16](https://cloud.githubusercontent.com/assets/17590921/22300702/34487d10-e320-11e6-9977-e51bece939bd.png)

[2017-01-25 17:04] OliverUK commented on #522
@lin-d-hop
![screen shot 2017-01-25 at 17 04 25](https://cloud.githubusercontent.com/assets/17590921/22300753/5ea0b64a-e320-11e6-913b-0aefccadeec0.png)

[2017-01-25 17:07] OliverUK commented on #1119
@lin-d-hop  Also failed. Must be doing something wrong.

[2017-01-25 17:22] lin-d-hop commented on #1119
Try again in 10 mins, builds/tests are all still running. You can see this on the PR itself, if is says Some Checks Havent Completed then it wont deploy. If there is a yellow circle or red cross beside the commit hash it won't deploy. Needs a green tick at the bottom.

[2017-01-26 18:13] pmackay opened #1422 "Delete /script/ci files when all Buildkite pipelines moved to ofn-buildkite"
It would be good to avoid having the two copies of the CI scripts. Some pipelines need converting over:

- [ ] Convert `Open Food Network Deploy`
- [ ] Convert `Open Food Network Staging1`

The other 2 pipelines appear to be converted already. @mkllnk could you please confirm this and say what is needed to convert?

Also should `ofn-install` support installing `ofn-buildkite`?

[2017-01-27 15:08] lin-d-hop opened #1423 "ABN and ACN Make no sense in UK"
Can we change to Company Number and Charity Number please?
ABN = Company Number
ACN = Charity Number

[2017-01-27 15:31] lin-d-hop commented on #1419
Solved with #1423

[2017-01-27 15:31] #1419 closed

[2017-01-27 15:41] OliverUK commented on #1421
@MagsHall @NickWeir63
Lynne has just shown me how to make these sort of translation changes. Are you ok if I change the above and call them **unlimited**? As a user this terms for me explains better what the tick box does.

Here are the places where, as far as I know, these labels appear.
![screen shot 2017-01-27 at 15 37 33](https://cloud.githubusercontent.com/assets/17590921/22376615/a45b1040-e4

[2017-01-27 15:46] MagsHall commented on #1421
Yes, 'Unlimited' makes much more sense to me too! Go for it.

[2017-01-27 17:16] NickWeir63 commented on #1421
Fine by me too.  Thanks for doing it

[2017-01-28 10:00] pmackay commented on #1423
Are these actually useful or important things for us to capture in the UK?
Or should their visibility be configurable based on locale, and just hidden
for non-AU countries?

[2017-01-28 10:07] lin-d-hop commented on #1423
They are non-conpulsory fields. I don't think its worth the dev time right now. Do u think its important?

[2017-01-28 10:11] pmackay commented on #1423
I dont think its that important. Just a shame from UX PoV to ask for stuff
we dont need. But its a decent hack to remove the acroyms that make no
sense in UK :)

[2017-01-28 17:16] NickWeir63 commented on #1423
One of the new Anglesey producers complained that they confused her.  Is it a lot of work to hide them for the UK instance?

[2017-01-28 17:22] lin-d-hop commented on #1423
@nick surely she wont be confused if we go with the changes oliver has already made⁣?

Sent from BlueMail ​

On 28 Jan 2017 17:16, at 17:16, Nick Weir <notifications@github.com> wrote:

[2017-01-28 18:25] NickWeir63 commented on #1423
No - good point - that should solve it

[2017-01-28 19:51] Matt-Yorkley commented on #1420
I think technically the value for stock _should_ be zero in this case, but the product should also be marked as "to order/on demand").

Just did a quick bit of testing and confirmed that new products created with "to order" checked do not have the "to order" flag applied.

[2017-01-29 12:21] OliverUK commented on #1031
@lin-d-hop Hi Lynne, is this the right build?
![screen shot 2017-01-29 at 12 15 28](https://cloud.githubusercontent.com/assets/17590921/22403883/c14b6124-e61c-11e6-8f47-79ecf4eaa63e.png)

It was already staged but didn't seem to have an effect so I rebuilt and redeployed to staging but when I try putting things in my shopping basket, log out and log back in, the basket is empty. If I log in before

[2017-01-29 12:39] OliverUK commented on #1119
Testing notes:
I added one of my email addresses as manager to an enterprise on staging, saved and returned to the user screen to remove it again. When I click the bin icon next to the new manager, the email address disappears and the "save" button now appears on the bottom of the screen. I clicked save and returned to the user screen. The deleted manager email was gone as it should.

[2017-01-29 15:55] stveep commented on #1417
This seems to be an incompatibility with Angular and IE11. I came up with a fix that just ensures the existing text is highlighted when you click inside the box. It looks a bit uglier but that can be fixed with some CSS targeted at these boxes, as long as this solves the original problem.

Please test that it doesn't break anything on other browsers.

[Aside] I think the original problem only occu

[2017-01-30 08:24] NickWeir63 commented on #683
@lin-d-hop is it feasible to put this on the UK list?

[2017-01-31 15:17] MagsHall commented on #1417
@stveep Are the changes on the staging server? I can't see any difference on production.

[2017-01-31 15:20] lin-d-hop commented on #1417
@MagsHall If you need something on staging best to give @OliverUK a shout.

[2017-01-31 15:33] stveep commented on #1417
I have just put it on staging.

On 31 January 2017 at 15:20, Lynne <notifications@github.com> wrote:

[2017-01-31 16:13] MagsHall commented on #1417
So all looks fine on staging when browsing in Chrome, but products are not loading on the shopfront when I try to browse in IE11

[2017-02-01 00:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58912516cf777b1100968f0b)

[2017-02-01 01:30] sstead commented on #1420
Related bug which you might be able to fix up at the same time - https://github.com/openfoodfoundation/openfoodnetwork/issues/698

[2017-02-01 01:54] sstead commented on #1228
Looks good. The edit product interface is improved. New, BEP and Inventory unchanged.

[2017-02-01 01:54] #1228 closed

[2017-02-01 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5891413200c12e1100a07e99)

[2017-02-01 05:36] mkllnk commented on #1422
I guess we would like to get rid of that one anyway. I have to confirm that with the team.

Yes. We need to do that.

That are Open Food Network Pull Requests and UK Deployment. UK Deployment actually still uses `script/ci/check_github_status.sh`.

That would be nice to have, but we set it up only once. I don't know if there is a need for it.

[2017-02-01 13:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5891dc94253eff110041bd91)

[2017-02-01 17:20] OliverUK commented on #1293
This now deployed ok and below shows how closed shops now display on my mobile.
![screenshot_20170201-171719](https://cloud.githubusercontent.com/assets/17590921/22517904/9d015cfa-e8a2-11e6-9a6f-c663f0e66f4b.png)
![screenshot_20170201-171754](https://cloud.githubusercontent.com/assets/17590921/22517905/9d08d3f4-e8a2-11e6-99c4-f9a60b24b5cf.png)

Text is now left aligned.

[2017-02-01 17:32] OliverUK commented on #1421
![screen shot 2017-02-01 at 17 30 59](https://cloud.githubusercontent.com/assets/17590921/22518410/63951e5a-e8a4-11e6-94d8-63dae0c0f580.png)
![screen shot 2017-02-01 at 17 31 28](https://cloud.githubusercontent.com/assets/17590921/22518411/639b3736-e8a4-11e6-8b06-d13b0f1264a5.png)
![screen shot 2017-02-01 at 17 31 46](https://cloud.githubusercontent.com/assets/17590921/22518412/639d6f9c-e8a4-11e6-

[2017-02-01 20:03] Matt-Yorkley commented on #698
It looks like this has been partially covered in other commits since this initial issue was created in 2015. The behaviour is quite different now; the stock value defaults to a 0 when the form loads and also when an incorrect value in entered. It could still do with a little improvement though.

[2017-02-01 21:04] Matt-Yorkley commented on #1420
It's really weird that the specs don't catch this... time for some TDD :)

[2017-02-02 01:31] Matt-Yorkley commented on #1420
Okay, I've sorted the fact that products didn't get set with the "on demand" property on creation. I'll address how the stock level gets displayed and other UI bits separately under the issue @sstead referenced. Should be ready for testing @OliverUK.

As a personal note: ***Achivement Unlocked** - Test Driven Development*.

:)

[2017-02-02 05:39] mkllnk opened #1429 "[aus production] Excon::Errors::SocketError in db2fog:clean"
## Error in OpenFoodNetwork

**Excon::Errors::SocketError** in **db2fog:clean**
end of file reached (EOFError)

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=5892a4f8e3d3821100c722ba)

## Stacktrace

    /home/ubuntu/.rbenv/versions/2.1.5/lib/ruby/2.1.0/openssl/buffering.rb:182 - sysread_nonblock

[View full stacktrace](https://app.bugsn

[2017-02-02 05:49] mkllnk commented on #1429
This error happens only every few weeks, but it made me aware that the database cleaning is not working properly. Trying to run it manually, tries to delete old backups and fails silently.

[code]
[code]

It fails to delete files in a subfolder like `pre-20140710/dump-openfoodweb_production-201312171601.sql.gz`. Since there are a lot of files, each execution of `db2fog:clean` runs for hours and tr

[2017-02-02 07:46] myriamboure commented on #698
@sstead I had opened a similar issue but my proposal was :
if I delete the "0 "in the "on hand" box and clic on "on demand", maybe we can force the system to reput the 0 so that it doesn't bug... if it's the easiest way ;-)
BUT More user friendly (because **it can be a bit confusing to have 0 in stock and on demand at the same time**) woud be to ensure that the "Infinity" doesn't create the bug, m

[2017-02-02 07:47] myriamboure commented on #797
Closing as another similar issue was already there: https://github.com/openfoodfoundation/openfoodnetwork/issues/698#

[2017-02-02 07:47] #797 closed

[2017-02-02 08:54] pmackay commented on #1422
Isnt it needed on any server that receives deploys from Buildkite though?

[2017-02-02 20:23] SimonSarazin commented on #853
Hi, is there any news on this issue or any thing we could do ? Anyone know the work necessary to resolve it ? I could try to find a ruby developper if i can get an estimation of it.
I have lot's of users of openfoodfrance who are lost with this problem :-)

[2017-02-02 22:11] myriamboure commented on #853
Hum, @SimonSarazin I guess we can have an estimate of the work to be done maybe by @mkllnk or @oeoeaio but lots of people ask them estimates so it's a bit hard for them to do all estimates for everyone without being paid at some point (and not only France needs their help ;)) So guys, how much time will take an estimate on that for you?

Great if when the estimation is done you have a ruby develop

[2017-02-02 22:11] myriamboure commented on #853
Ping @kirstenalarsen does this process sounds fine to you?

[2017-02-02 22:44] lin-d-hop commented on #853
As a heads up this issue does not affect UK

[2017-02-03 07:56] myriamboure commented on #1207
@oeoeaio is what @ltrls propose ok for you? We need to push the commit quickly as the shop is opening in 3 weeks!!!

[2017-02-03 08:25] oeoeaio commented on #1207
Hey @myriam and @ltrls, sounds promising! I will try and find some time this weekend to have a more detailed look.

[2017-02-03 13:59] OliverUK commented on #522
@lin-d-hop  still can't get this to stage

[2017-02-03 14:04] lin-d-hop commented on #522
@OliverUK whats the error? You can find it by expanding the Staging button.

[2017-02-03 14:05] lin-d-hop commented on #522
The relevant line (for future) is CONFLICT (content): Merge conflict in config/locales/en.yml

[2017-02-03 14:08] OliverUK commented on #522
Gotcha.

[2017-02-03 14:40] OliverUK commented on #1211
Staged now and tested.

I first logged into super admin and saw the box below wasn't yet ticked so ticked it and went to register in a different browser.
![screen shot 2017-02-03 at 14 30 10](https://cloud.githubusercontent.com/assets/17590921/22595044/b05ba50e-ea1d-11e6-82b5-dfd9a11bfd18.png)

As expected, I was unable to press the Let's get started button unless I agreed to the terms.
![screen s

[2017-02-03 15:13] OliverUK commented on #522
Staged and tested. The enterprise properties now display "Description" rather than "Value" and the same applies to product properties. However please note the way it now displays the product property screen.

![screen shot 2017-02-03 at 15 10 25](https://cloud.githubusercontent.com/assets/17590921/22596376/3adfe64a-ea23-11e6-8bcf-983b9b1159fd.png)
![screen shot 2017-02-03 at 15 12 05](https://clou

[2017-02-03 15:15] OliverUK commented on #522
Here is how the product property currently displays on production.
![screen shot 2017-02-03 at 15 15 26](https://cloud.githubusercontent.com/assets/17590921/22596495/a809eedc-ea23-11e6-9d5e-b30d678c8d81.png)

[2017-02-03 15:34] OliverUK commented on #1420
This seems to work fine now on UK staging. Following deployment I was able to create a new product with "on demand" ticked and after saving, the product appears in BEP, where the same box is now also ticked and the stock field is populated with "on demand".

![screen shot 2017-02-03 at 15 29 21](https://cloud.githubusercontent.com/assets/17590921/22597049/ea7cd8c2-ea25-11e6-81dd-041f4b53a9f3.png)

[2017-02-03 15:35] OliverUK commented on #1420
Obviously all these labels "on demand" and "to order" are being changed to unlimited.

[2017-02-06 16:08] Matt-Yorkley commented on #1211
Just added a quick bit to make the pdf link open in a new tab, as per Oliver's suggestion. I've checked it's working, don't think it needs full re-test.

[2017-02-06 16:36] Matt-Yorkley commented on #1420
Looks like that's all working as expected, so I'll see if either @stveep or @mkllnk want to do a quick code review of #1428.

[2017-02-07 10:53] #1423 closed

[2017-02-07 10:56] #1421 closed

[2017-02-07 11:26] lin-d-hop commented on #1031
Deploying this doesn't have any determinable affect... so this needs some looking into. Likely a quick one if anyone wants to take a look?

[2017-02-07 11:31] lin-d-hop commented on #1233
This is now available again if anyone is willing to pick up where Rhodri left off?

[2017-02-07 12:38] lin-d-hop opened #1430 "Add Roo gem"
Find here: https://github.com/roo-rb/roo

Adds the ability to read in csv and other spreadsheet formats into Rails.

[2017-02-07 12:38] lin-d-hop opened #1431 "Add import_timestamp fields to spree_variant and variant_overrides models"
We need to record when the last import happened such that imported data can be easily accessed and edited from Bulk Product Edit and Inventory pages.

- [ ] Add to spree_variant
- [ ] Add to variant_overrides

[2017-02-07 12:39] lin-d-hop opened #1432 "Add filter by import_timestamp field to Bulk Edit Products page"
Timestamp field added to spree_variant in #1431

Now we need to be able to filter the Bulk Edit Products page to be able to just view the products/variants updated in the specified. At this stage the field will be overwritten with each import such that products/variants will only be shown when filtered to their most recent import.

UX thoughts - The filter option should be a dropdown presenting th

[2017-02-07 12:39] lin-d-hop opened #1433 "Add filter by import_timestamp field to Inventory page"
Timestamp field added to variant_overrides in #1431

Now we need to be able to filter the Inventory page to be able to just view the inventory items updated during the specified import. At this stage the field will be overwritten with each import such that inventory items will only be shown when filtered to their most recent import.

UX thoughts - The filter option should be a dropdown presenting

[2017-02-07 12:43] pmackay commented on #1430
For what purpose? Shouldnt this be part of a feature story?

[2017-02-07 12:44] lin-d-hop commented on #1430
Patience there cowboy. I'm making an epic as we speak.

[2017-02-07 12:46] lin-d-hop opened #1434 "Update Products report to ensure all fields for import are included"
Products report can also be used as a base file for import.
Therefore all fields that can be updated in import should be included in this export file.
The report does not need to be limited to these fields, all existing fields are also fine.

Fields:
- Supplier*
- Product name*
- Product description
- Variant dame
- Price*
- Stock level
- Product categories*
- Unit type (eg grams)*
- Unit value (e

[2017-02-07 12:46] lin-d-hop opened #1435 "Update Inventory report to ensure all fields for import are included"
Inventory report can also be used as a base file for import.
Therefore all fields that can be updated in import should be included in this export file.
The report does not need to be limited to these fields, all existing fields are also fine.

Fields
- Supplier*
- Product name*
- Prices
- In stock?
- On demand?
- Tags
- Hide?

[2017-02-07 12:46] lin-d-hop opened #1436 "Create basic product Update import functionality"
The simplest version of the importer.

Update products from CSV file when user is owner/manager or has P-P permission on this enterprise.

Import file may contain the following fields:
- Supplier*
- Product name*
- Product description
- Variant dame
- Price*
- Stock level
- Product categories*
- Unit type (eg grams)*
- Unit value (eg 400)*
- Display as (eg 400g)
- Shipping category
- Image path
-

[2017-02-07 12:47] lin-d-hop opened #1437 "Add basic product Create to import functionality"
Add to the basic importer of #1436 the ability to create products from an import file when user is owner/manager or has P-P permission on this enterprise.

Products should only import when no non-compulsory fields are blank.

Overview should now contain:
Products Created - total number and option to view list
Products Updated - total number and option to view list
Products in Error - total number

[2017-02-07 12:48] lin-d-hop opened #1438 "Enable importer to facilitate Import to multiple enterprises from a single file."
Extend the basic importer from #1436 and #1437 to support a data file that contains multiple suppliers.

The importer should now import to product lists of multiple suppliers as specifies in import file.

Overview should now present to the user the following summary **_per supplier_**
_Supplier Name_
Products Created - total number and option to view list
Products Updated - total number and option

[2017-02-07 12:48] lin-d-hop opened #1439 "Error Handling Checklist"
Ideally we will continue to add to this checklist as we note more errors that we want to be communicated...

- [ ] Datafile failed to load to end of file
- [ ] file could not be opened
- [ ] products loaded in error
- [ ] column ignored from data file
- [ ] compulsory field column missing
- [ ] user unable to update products they do not have permission to update/create
- [ ] user unable to update

[2017-02-07 12:49] lin-d-hop opened #1440 "Add import to Inventory"

[2017-02-07 12:49] lin-d-hop opened #1441 "Add Import options"

[2017-02-07 12:49] lin-d-hop opened #1442 "Support additional file formats"
Roo supports ods/xsl/xslx/csv file formats, so it would be great if the importer could support these formats as well.

[2017-02-07 12:49] lin-d-hop opened #1443 "Image upload via Bulk Edit Products page"

[2017-02-07 12:49] lin-d-hop opened #1444 "Product Import v1"
Epic to capture implementation of product import functionality.

Full phase 1 specification captured here:
https://docs.google.com/document/d/1PB4OBpnhvINPXr4F2qfmUcjl8Ug3nyVh-6v7UokBNiI/edit#

Upon completion users will be able to import products and inventory from a data file for any enterprise they have appropriate permissions. Users will be able to create or update products/inventory from mult

[2017-02-07 17:35] Matt-Yorkley commented on #1444
Very handy Railscast on implementing CSV import with Roo gem: http://railscasts.com/episodes/396-importing-csv-and-excel

[2017-02-07 21:48] mkllnk commented on #1422
There are two parts of the scripts in `script/ci`. The files that are in ofn-buildkite are only for the Buildkite agent, that's only one server at the moment. But there are also two scripts that are executed on the OFN servers:

- `save_staging_baseline.sh`
- `load_staging_baseline.sh`

I'm not sure about the best way to handle these. The commands in `save_staging_baseline.sh` could easily be call

[2017-02-07 21:49] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=589a4104f15b4711007c3490)

[2017-02-07 23:14] mkllnk commented on #853
This problem doesn't look huge to me. I would guess 3h for an OFN developer, maybe 6h for a good rails developer without OFN experience. Add 2-3h of code review and testing and you have a rough estimate between 5 and 8 hours.

[2017-02-07 23:28] sstead commented on #1420
Tested and Pushed.
If a new product is created and the 'on demand' box is checked the new products shows as 'on demand'. If the on demand box is ticked and there's a number (0 or above) in the on hand field, the number is overridden with 'on demand'. Bug #698 remains in the case where on demand is selected and on hand is blank. All other functionality appears normal.

[2017-02-07 23:33] #1420 closed

[2017-02-08 00:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=589a5f95424d0111001e269b)

[2017-02-08 00:04] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=589a60a46724791100d8b52f)

[2017-02-08 00:16] sstead commented on #1293
Tested on Nokia in IE and iPhone in Chrome. All good, left aligning correctly.

[2017-02-08 00:24] #1293 closed

[2017-02-08 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=589a6da65d3d0e1100784cdd)

[2017-02-08 04:03] oeoeaio commented on #1207
Hey @ltrls. @RohanM and I have been discussing this and we think it would be best to create a separate repo for the client binaries for now. Seeing as we are not using git LFS for anything else, it seems like a lot of overhead to add to the project for just this feature. How do you feel about storing the libraries in a GitHub repo?

[2017-02-08 08:55] myriamboure opened #1446 "When manager add an order in back office, inventory prices not taken into account"
A hub manager is using the inventory option for BtoB shop, he uses it to set up different prices for business clients.
After he had closed the order cycle, he receives an email of a client who is late but would like to pass an order. He goes into the back office, "orders", "add new" to capture the order of the client and send him a confirmation. BUT ... the prices that appears are not the one of t

[2017-02-08 08:56] myriamboure commented on #1446
Did anyone have the same issue @sstead on your side? @lin-d-hop ?

[2017-02-08 09:17] myriamboure opened #1447 "CSA/buying group: enable to see the list of buyers for an OC"
Specs are being discussed here: https://community.openfoodnetwork.org/t/csa-buying-group-enable-to-see-the-list-of-buyers-for-an-oc/804

[2017-02-08 11:34] myriamboure commented on #853
@SimonSarazin do you think about someone who could work on that? Or any funding option on your side? We have François or Pierre in France who could work on that, not sure they will be as quick as OFN experienced dev, they are just starting with first contributions ;-)

[2017-02-08 13:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=589b1704320fcc100008c612)

[2017-02-08 16:00] Matt-Yorkley commented on #1444
Weight/volume based fields:

**unit_value** (_int_, example: 500)
**unit_description** (_str_, examples: "g", "kg", "T", "mL", "L")
**variant_unit** (_enum_, "weight"|"volume"|"items")
**variant_unit_scale** (_float_, examples: 0.001 for millimetres. Required if variant_unit = "weight" or "volume")
**display_as** (_str_, example: "500g". Used if variant_unit = "weight" or "volume". Usually null, u

[2017-02-08 16:53] Matt-Yorkley commented on #1444
Creating a new product from a hash where all the weight/volume values are not empty but also are not valid numbers (eg "?") and then calling product.valid? returns **true**... and only returns **false** if the values are empty :(

[2017-02-09 11:00] Matt-Yorkley commented on #1442
Already done in my current working implementation. :+1:

[2017-02-09 11:02] lin-d-hop commented on #1442
Hence the assignment :-)

[2017-02-09 13:28] MagsHall opened #1449 "Error message gives superadmin address instead of OFN address"
On UK production, If I try to create a hub using a name that is already claimed, I get an error message telling me to contact spree@example.com. This is the super admin login, but I don't think the email goes anywhere.

Can we change this to hello@openfoodnetwork.org.uk? Or would it be simpler to change the superadmin address to hello@... ?

![error message spree email](https://cloud.githubusercon

[2017-02-09 13:31] lin-d-hop commented on #1449
@MagsHall This error is saying the current owner of the enterprise is spree@example.com.
I don't think we have to worry about this error. The only enterprises that spree@example.com owns are test enterprises and I'm assuming you're creating another test enterprise.

[2017-02-09 13:34] MagsHall commented on #1449
oh aye, I didn't read the message properly there! You're right. Scrap this.

[2017-02-09 13:35] #1449 closed

[2017-02-09 13:46] Matt-Yorkley commented on #1444
Note: enterprise names are case sensitive, so the **supplier** field on any spreadsheets will need to be case sensitive.

[2017-02-10 01:57] sstead commented on #1446
@myriamboure  yes this is happening on Aus Production. This is quite an urgent bug, @lin-d-hop can anyone in the UK take a look?

[2017-02-10 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=589d1eb1149d6c1100a503de)

[2017-02-10 04:44] #421 closed

[2017-02-10 04:44] #420 closed

[2017-02-10 06:07] #1119 closed

[2017-02-10 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=589d6502a6e8ab1100b298b0)

[2017-02-10 12:31] lin-d-hop commented on #1446
@stveep or @Matt-Yorkley - Do either of you have a moment to look at this? Would be a useful contribution to the global core, though not affecting UK while we aren't making use of inventories much.

[2017-02-10 12:38] Matt-Yorkley opened #1450 "Missing GB translations breaking enterprise form"
This issue just showed up today, I havn't seen it before. Various fields in enterprise form are broken due to missing GB translations (in UK development environment). When editing an existing enterprise, a number of the fields get wiped by this bug, which means you can't save properly.

![screenshot from 2017-02-10 12-34-01](https://cloud.githubusercontent.com/assets/9029026/22827014/837e3662-ef8d

[2017-02-10 12:40] Matt-Yorkley commented on #1450
![screenshot from 2017-02-10 12-39-26](https://cloud.githubusercontent.com/assets/9029026/22827121/18a4cdbe-ef8e-11e6-801f-e0884f84faec.png)

[2017-02-10 12:50] Matt-Yorkley commented on #1450
![screenshot from 2017-02-10 12-49-06](https://cloud.githubusercontent.com/assets/9029026/22827384/87672fb6-ef8f-11e6-9d5d-df3f651690e8.png)
![screenshot from 2017-02-10 12-49-46](https://cloud.githubusercontent.com/assets/9029026/22827386/8b892eaa-ef8f-11e6-99d0-8b582852c7d2.png)

[2017-02-10 13:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=589dba099eb6111100ce6b61)

[2017-02-10 14:11] Matt-Yorkley commented on #1450
This might effect other countries as well?

[2017-02-10 15:14] lin-d-hop commented on #1450
@mkllnk  88dea0f doesn't seem to have been picked up by Transifex. I thought there was a webhook to pick up when en.yml changes.... or was that more of a hope?
I don't have any permissions in Transifex so all I can see if that en-GB.yml looks totally up to date, which it isn't :-)

[2017-02-10 16:09] OliverUK commented on #1417
I'm afraid I don't have IE, so can't help test this one.

[2017-02-13 15:32] Matt-Yorkley opened #1452 "Improve products UI"
There are a number of fields relating to products that can currently be edited manually in the **edit product** UI that are actually quite complex in how they relate to each other.

This complexity is handled really well in the **create product** UI by providing a dropdown that maps things like "kg" to "1000" and "mL" to "0.001" for the `variant_unit_scale` field. There are similar (related) issue

[2017-02-14 00:23] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58a24df640bd691200b40d1b)

[2017-02-14 02:47] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::SocketError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58a26fda186bd9110028e586)

[2017-02-14 03:35] yukoosawa commented on #1390
### User edits their current order (within current order cycle)

HIGH LEVEL USER FLOWS:
- [OFN SO Edit User Flows 20170212.pdf](https://github.com/openfoodfoundation/openfoodnetwork/files/770032/OFN.SO.Edit.User.Flows.20170212.pdf)

SCOPE (TBC):
- Homepage (logged in)
-- Alert User that an SO within current OC is editable
-- Provide link to Edit Cart page
- Edit Cart page (https://github.com/openf

[2017-02-14 10:31] lin-d-hop opened #1453 "Customer Enterprise Search Logic"
When a customer user searches for an enterprise the existing logic gives some funny results.

When an enterprise exists that matches the input string, no distance results are shown. These are only shown when no name matches exist.

Given that many, many enterprises have the name of the town in their enterprise name, this means that when searching a town you don't see all of the enterprises in that

[2017-02-14 11:05] lin-d-hop commented on #1430
@Matt-Yorkley You need to add the Gemfile.lock for the deployment server.

_remote: You are trying to install in deployment mode after changing your Gemfile. Run `bundle install` elsewhere and add the updated Gemfile.lock to version control._

[2017-02-15 04:33] daniellemoorhead opened #1454 "Standing Orders - Leftovers"

[2017-02-15 04:44] daniellemoorhead commented on #1402
Error happens when you hit save so the disallowing actually does happen, but need to look at doing this error earlier in the flow.

[2017-02-15 04:52] daniellemoorhead commented on #1413
@oeoeaio to investigate further to understand if this is actually a bug.

[2017-02-15 04:52] mkllnk commented on #1450
@lin-d-hop Sorry, I probably forgot to update the transifex branch. We should really automate this. I just didn't have time. I now pushed master there, which is not ideal either, but that should contain all new stuff. Transifex should pick it up within one day. It retrieves the source file straight from Github.

[2017-02-15 04:52] daniellemoorhead commented on #1413
@yukoosawa need to get a better understanding of how you did this, @oeoeaio can't replicate.

[2017-02-15 04:56] daniellemoorhead commented on #1415
Hey @Matt-Yorkley do you think this is something you could sort out in your improvement tweaks meanderings? It's an issue that came up in the testing of standing orders but it's current functionality rather than caused specifically by the new feature.

Actually, wondering whether you guys in the UK have the same issue? @NickWeir63 are you able to tell us if it's a problem for the UK too?

[2017-02-15 04:56] mkllnk commented on #1453
Your proposal sounds logical to me. Is there any performance implication? Well, there are probably a lot of other performance issues on that site...

[2017-02-15 05:09] daniellemoorhead opened #1455 "Stripe: Setting up Stripe Connect as a Spree payment gateway"

[2017-02-15 05:11] daniellemoorhead commented on #1143
This work is considered done, @oeoeaio is now working on #1455 which is setting up Stripe Connect as a Spree payment gateway.

Testing will occur for this as part of #1455.

[2017-02-15 05:14] daniellemoorhead opened #1456 "Stripe: Interface for customers to add their credit card details"
Need a new screen/place on the platform for customers to store their credit card details (within the customer account section).

This issue should be fairly trivial once #1466 is done.

[2017-02-15 05:17] daniellemoorhead commented on #1456
@stveep we figure you can get involved / do this story once @oeoeaio has sketched out where the function will live in customer accounts and what it'll look like.

Stay tuned :)

[2017-02-15 09:56] NickWeir63 commented on #1415
I am forwarding this to @OliverUK who is doing the UK testing on this.   I will pick it up if he doesn't have time

[2017-02-15 12:27] lin-d-hop commented on #1453
I suspect there are some performance issues. Ill include this in the investigations. Thanks @maikel

⁣Sent from BlueMail ​

On 15 Feb 2017 04:56, at 04:56, Maikel <notifications@github.com> wrote:

[2017-02-17 05:14] yukoosawa commented on #1413
@daniellemoorhead I've retested this scenario in Staging1 (post 2017-02-17 build from Rob) and it looks like it is now working correctly.

From memory, at the time of testing (2017-01-19) I completed the following steps:

_Shop (yukomart)_
- Created the OC
- Created the customer SO which included an item for which 0 inventory was available (Nappa Cabbage)
- Created the Schedule and added OC, which

[2017-02-17 05:33] daniellemoorhead commented on #1413
@oeoeaio given @yukoosawa's retest and proof may be worth looking at once all the other stuff is done.

[2017-02-17 10:56] MagsHall opened #1457 "Customer bug occurs when user sign up is duplicated"
Locavore have a closed shop on UK production which is only open to their existing veg box customers. They are creating new users themselves from Admin, adding them to their customer list, then emailing details to their customers with a default password.

However, one of their new users did not follow the instructions and signed up as a user from the OFN home page using the same email address but c

[2017-02-17 12:36] OliverUK commented on #1415
I can't find any of the emails sent from staging 2 so maybe I didn't keep them. @NickWeir63  I think you forwarded them to me?
We tested on the AUS sever so not sure if it would have looked any different for us in the UK.

[2017-02-17 14:50] NickWeir63 commented on #1415
Yes @oliver is right - we were testing on Aus Staging 2- see below
![screenshot 2017-02-17 14 48 51](https://cloud.githubusercontent.com/assets/10517702/23069692/577de97a-f520-11e6-8396-c801ed835873.png)

[2017-02-17 18:33] yukoosawa commented on #1413
Follow up to my previous comment. The email sent to me for my SO confirmation lists the unavailable item. In this instance the confirmation feels odd as I will not be receiving anything... But possibly an edge case??

Steps:
1. OC closes with yukomart
2. User sent a confirmation email for the processed SO
3. Product list includes the item with 0 inventory

Note:
- Known issue re: charging a user a

[2017-02-19 05:55] oeoeaio commented on #1413
Noted. Will cover off that issue as part of #1414

[2017-02-20 00:47] yukoosawa commented on #1161
@daniellemoorhead Not sure what the expected behaviour is - however when the 'allow changes' option is switched off, as a customer I didn't receive an email telling me the SO was being processed... Is an email sent only when the OC closes and the order is confirmed?

Am thinking from a customer experience perspective, it would be nice to receive the email saying the SO is being processed but if I

[2017-02-20 01:06] daniellemoorhead commented on #1161
@yukoosawa that seems like a bug - if the option is switched off then the order is basically confirmed and cannot be modified but the processing of that standing order should still go through the same process. @oeoeaio any thoughts?

[2017-02-20 01:21] yukoosawa commented on #1414
@daniellemoorhead @oeoeaio Adding another display gremlin to this ticket. If an SO item is unavailable due to 0 inventory - it displays in the 'edit cart' page (https://github.com/openfoodfoundation/openfoodnetwork/issues/1084) with the option to delete.

It would be helpful to the user/customer if they were presented with a message similar to the SO/OC open email: Unfortunately, not all products

[2017-02-22 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58ace2a8dec9501100329a38)

[2017-02-22 02:48] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58acfbfa8917d41100c1c478)

[2017-02-22 04:00] sstead commented on #1211
All looks good.
One nice to have below, but not a show stopper...
There's now 2 places to set the Terms of Service link:
1) In config>General Settings you set the link that's shown at /register and agreed to.
2) In config>content you set the link which sits in the footer of front end pages and in the 'Enterprise Name is now on OFN' email
Would it be better to handle it in one place?

[2017-02-22 05:27] yukoosawa opened #1461 "Standing Orders: User/Customer edits their current order (within current order cycle)"
### HIGH LEVEL USER FLOWS:
- [OFN SO Edit User Flows 20170212.pdf](https://github.com/openfoodfoundation/openfoodnetwork/files/792200/OFN.SO.Edit.User.Flows.20170212.pdf)

### PROPOSED WIREFRAMES
**_Note:_**
- Wireframes are indicative (am 100% sure I have not captured all scenarios and interactions on pages!).
- All copy/labels/headings should be reviewed for clarity.

**_Homepage (logged in)_**

[2017-02-22 06:08] daniellemoorhead commented on #1408
@oeoeaio can you clarify if this needs to be done and add an estimate if so. If not put in leftovers epic.

[2017-02-22 06:13] daniellemoorhead opened #1462 "Stripe as a payment method - first release"
Things to test:

- [x] Check that creating a Stripe-based payment method is possible
Yes, in developer mode. Need to test creating a normal Stripe account as well.
- [x] Check that the process for connecting an Enterprise to Stripe is intuitive enough
I've only passed through Stripe setup in developer mode. But it seemed straight forward enough.
![image](https://user-images.githubusercontent.com/1

[2017-02-22 09:25] Matt-Yorkley opened #1463 "Bulk Edit data loading"
The Bulk Edit products page has some performance issues that don't scale well. Currently all the data from all products is loaded into the page via angular so the products can be searched and filtered. This needs to be revamped and streamlined.

[2017-02-22 09:29] Matt-Yorkley commented on #1463
@rob just a made a quick issue for this, so that it's visible. I'm quite interested in having a go at it, but maybe it's best left to someone with more experience?

[2017-02-22 11:27] Matt-Yorkley commented on #1211
@sstead I thought it'd be good to have two separate fields for the footer link and registration content, for cases where an OFN instance wanted them to be different, like a general terms of service for users in the footer and a more specific one for enterprise sign-up. Also so that changes to footer links don't affect the registration process.

[2017-02-22 11:38] lin-d-hop commented on #1211
@Matt-Yorkley In that use case there would be much more work to do to ensure that it was clear in every email etc which ToS applied to whom. I would advocate for keeping them the same field until such a time arises that a user requests these be separated.

[2017-02-22 13:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58ad8bdce634951100cc5393)

[2017-02-22 13:25] Matt-Yorkley commented on #1211
Well... I added a field for the registration document under the "Enterprise Terms and Service" section of the admin config, because the other field where for the footer link is buried at the bottom of a completely separate page under "Footer Links", and it seemed like these are not really describing the same thing.

![screenshot from 2017-02-22 13-02-24](https://cloud.githubusercontent.com/assets/

[2017-02-22 15:45] lin-d-hop commented on #1211
Since this is a super-admin thing the UX is pretty low priority tbh, simply because there are so few people that will ever need this explained to them.
For that reason my preference would just be to leave hidden in footer links. It is obviously not ideal but on a global scale finding this only affects a handful of people, and these people will almost all be tech literate enough to find it through

[2017-02-22 16:52] lin-d-hop commented on #1200
@OliverUK this is ready for testing now :-)

[2017-02-22 16:52] lin-d-hop commented on #1330
@OliverUK this is ready for testing now :-)

[2017-02-22 16:58] lin-d-hop commented on #1343
@OliverUK ready to test now :-)

[2017-02-22 17:53] NickWeir63 opened #1465 "Shoppers think they have submitted an order - but haven't"
When shoppers click on 'Next' during the checkout they bounce down to the bottom of the page past Payment Methods and the Place Order button and shoppers think they have submitted the order but they haven't.

Both Tamar @sararock and Stroudco @OliverUK have had regular customers complaining about this.

![screenshot 2017-02-22 17 48 27](https://cloud.githubusercontent.com/assets/10517702/23224680/

[2017-02-22 17:58] lin-d-hop commented on #1465
@stveep or @Matt-Yorkley if either of you find some time to look into this it would be great to find a solution. Turns out this has been popping up repeatedly and customers, expecting their order was placed, are getting annoyed :-/

[2017-02-23 06:48] oeoeaio opened #1466 "Stripe: allow logged in customers to store the credit card details they enter at the checkout for later use"
The StripeConnect gateway I have set up is pretty much the StripeGateway copied from the latest version of Spree, and I have then added a few bits to configure it for use with Connect.

As it currently stands, I have it working with Stripe tokens requested via Stripe.json the checkout page, which are then used by the StripeConnect gateway to make charge requests on behalf of connected stripe accou

[2017-02-23 06:55] oeoeaio commented on #1466
How do you feel about tackling this @stveep?

I've pushed a spike here: https://github.com/oeoeaio/openfoodnetwork/tree/stripe-connect-spike

See the last commit.

[2017-02-23 13:27] myriamboure commented on #1039
@pacodelaluna do you think the work you have done on translations solve that "reset password" email translation issue?

[2017-02-23 22:26] sstead opened #1467 "Rephrase error message in create new product"
A user said they found this error message confusing... The term 'variant' is not very meaningful to users, so perhaps we should not use it in customer facing messages.
![image](https://cloud.githubusercontent.com/assets/10843056/23281903/20bba582-fa73-11e6-9f84-64052beb0dc5.png)

[2017-02-24 00:12] Matt-Yorkley commented on #1465
@lin-d-hop I've played around with this as much as I can but I can't quite fix it.

[2017-02-24 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58af93afde1687100038723e)

[2017-02-24 02:52] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::SocketError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58afa004e4815811002f280e)

[2017-02-24 03:35] sstead commented on #1446
Potentially related...
This order was put through the front end. The price calculated was correct, but on viewing the completed order the $2 displayed in the 'price' column (for the two grapefruit items) is the Product price,, whereas it should show the Inventory price. The total for this order is correct, it's just the display in this column that is incorrect.
![image](https://cloud.githubusercon

[2017-02-24 04:03] sstead opened #1469 "Payment method fees cannot have tax applied"
It should be an option to setup a tax category for a payment method fee. This isn't currently possible.

[2017-02-24 08:49] lin-d-hop commented on #1465
Ut oh... maybe you could share some of your thoughts and logic and we could see if other brains have anything to add?

[2017-02-24 09:34] lin-d-hop commented on #1450
@mkllnk Automating the transifex process (both picking up changes to en.yml in transifex and committing changes to locale files back to github) would be a really useful feature to add to the multilingual work. Do you have an idea of how long it would take? If not... let's talk estimates of estimates :-)

[2017-02-24 09:56] Matt-Yorkley commented on #1465
So the main files to look at are:
**`app/assets/javascripts/darkswarm/controllers/checkout/accordion_controller.js.coffee`**
`app/assets/javascripts/darkswarm/mixins/fieldset_mixin.js.coffee`

and to a lesser extent the views and controllers under:
`app/views/checkout/`
`app/assets/javascripts/darkswarm/controllers/checkout/`

It comes down to the way the accordion tabs' content shifts the other p

[2017-02-24 10:01] lin-d-hop commented on #522
@OliverUK Made a tiny change to this PR to fix the bug you found. Would you test again please? Thanks!

[2017-02-24 11:22] OliverUK commented on #1200
I've tested this and the email address no longer splits. I reduced the screen size until the view switches to the mobile version and I also had a look from my mobile and couldn't replicated the the issue, so it looks fixed to me. :)

[2017-02-24 11:30] OliverUK commented on #1330
@lin-d-hop this was already staged on Buildkite so I told it to rebuild and tried to stage it again but it failed.

[2017-02-24 11:45] OliverUK commented on #1343
@lin-d-hop
Questions for testing purposes. The environment is set in super admin so under what circumstances would a hub have a shipping or payment method which isn't configured properly unless a super admin fiddles with it?
I assume if I sign up on the production site and create an enterprise, my methods are automatically set to production?

[2017-02-24 11:55] OliverUK commented on #1343
Incidentally I tried a not-properly-configured Paypal payment option on the Stroudco shop on production and was able to shop but got an error message on checkout. It just stayed on the checkout page waiting for me to take an alternative action.

[2017-02-24 11:59] OliverUK commented on #522
Build failed @lin-d-hop

[2017-02-24 12:01] lin-d-hop commented on #1330
@OliverUK can you share the error message?
If the build is already on staging the deployment will fail. You should be able to see this in the error messages. If that is the case you can just go ahead and test.

[2017-02-24 12:04] mkllnk commented on #1450
The implementation just a few hours. Between 2 and 5 I would guess. More interesting is the process. It could be annoying if Transifex would trigger a new commit to master. For example while we have something in staging, we don't want any new commits. Otherwise we have to merge and stage again.

- Step 1: Discuss the current manual process and possible automation on Discourse.
- Step 2: Implement

[2017-02-24 12:43] lin-d-hop commented on #522
@OliverUK we really need to get you past this being a total blocker for you....

[2017-02-24 12:43] OliverUK commented on #1330
I thought you had told me that any deploy overwrites the previous? I deployed something else first so assumed the changes made here would no longer be on staging.

Removing app/assets/javascripts/templates/registration/type.html.haml
Removing app/assets/javascripts/templates/registration/steps.html.haml
Removing app/assets/javascripts/templates/registration/social.html.haml
Removing app/assets/jav

[2017-02-24 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58b02f971304af130016b7b2)

[2017-02-25 17:19] stveep commented on #1466
Yep I can have a go at this

[2017-02-27 11:34] enricostano commented on #1417
Does OFN has a "kind of official" supported browsers list somewhere?

[2017-02-27 16:12] lin-d-hop commented on #522
Deployed to UK staging. All working as Expected:

![propertiesstaging](https://cloud.githubusercontent.com/assets/8669848/23368942/7d5f0144-fd07-11e6-85cc-f47d620bcf66.png)
![propertiesstaging2](https://cloud.githubusercontent.com/assets/8669848/23368945/7fa29d3a-fd07-11e6-9383-26c49420fe3a.png)

@OliverUK not sure why, this worked for me :-/ Not sure why it didnt for you sorry mate!

[2017-02-27 16:24] lin-d-hop commented on #1343
@OliverUK You are correct that this won't generally happen. Matt would have discovered this on playing with test data from another database.
It still seems like a good check to have in place, but it should never come up on production.

[2017-02-27 16:28] lin-d-hop commented on #1143
Passing this to team Aus while the final touches are put into standing orders.

[2017-02-27 16:30] lin-d-hop commented on #1436
This has been ticked off, thanks @Matt-Yorkley

[2017-02-27 16:30] #1436 closed

[2017-02-27 16:31] lin-d-hop commented on #1437
Implemented :-)

[2017-02-27 16:31] #1437 closed

[2017-02-27 16:36] lin-d-hop commented on #1438
Is this done in round 1 @Matt-Yorkley? Let's close if so :-)

[2017-02-27 16:36] #1442 closed

[2017-02-27 19:15] stveep commented on #1466
I pulled in the credit card model from future Stripe and added a drop-down to show and choose previous cards (see PR against your spike). I guess we should add a "New Card" default option to the menu, and disable the other card input fields if a saved card is selected - let me know if you have any strong feelings about the UI!

I'm not sure exactly what to do next...I guess we need to go down a di

[2017-02-28 10:46] lin-d-hop commented on #1450
Thanks @mkllnk I'll get that discussion going then :+1:

[2017-02-28 14:13] lin-d-hop commented on #1450
Here it is:
https://community.openfoodnetwork.org/t/improving-the-transifex-process/831

Closing this issue as something more appropriate will come out of the discussion

[2017-02-28 14:13] #1450 closed

[2017-02-28 21:35] Matt-Yorkley commented on #1438
Yep.

[2017-02-28 21:35] #1438 closed

[2017-03-01 01:24] oeoeaio commented on #1466
Thanks! Looking good. Comments on PR :)

[2017-03-01 03:53] sstead commented on #1343
Hey all, while this looks like a bug, this is actually related to the ability to setup a 'display only' shopfront. See [relevant user guide page](https://openfoodnetwork.org/user-guide/advanced-features/creating-display-only-order-cycles/). Some users have requested that they can show their product range when they don't have an open order cycle, and this was the work around.

I agree, the shopper'

[2017-03-01 04:45] oeoeaio opened #1470 "Remove separate Enterprise Terms of Service link from config"
@Matt-Yorkley @lin-d-hop

Following on conversation from #1211

Just use the existing terms of service link in "Footer Links" config for registration ToS

[2017-03-01 04:46] oeoeaio commented on #1211
Note that #1378 has been merged. So closing this issue now. @lin-d-hop @Matt-Yorkley I've created a new issue #1470 to cover this remaining detail.

[2017-03-01 04:46] #1211 closed

[2017-03-01 05:03] oeoeaio commented on #1463
I'm happy to leave up to you guys in the UK to schedule in as you see fit. Happy to assist and code review as required. The index page that I am most happy with to date is probably the OrderCycles index page (in the `standing-orders` branch), so perhaps that is a good place to look for inspiration if you're talking about a complete rewrite of the fetch/update logic...

Anyway, let me know if/how I

[2017-03-01 09:17] lin-d-hop opened #1471 "Formatting on Groups Page"
On the groups page producers with long names drop onto a new line while to bulk of the table has little content.
Can we readjust the column widths such that more space is given to the enterprise names?

![groupsnewline](https://cloud.githubusercontent.com/assets/8669848/23453303/c6e48ace-fe5f-11e6-80cf-54dd4841e55b.png)

[2017-03-01 11:42] lin-d-hop commented on #1463
Great! @Matt-Yorkley this is a lower priority than data import but something we can def talk about scheduling in...

[2017-03-01 17:26] kirstenalarsen opened #1472 "Can't highlight text in map search field - moves map instead"
so if I want to highlight text to delete / replace I can't do it, and need to manually backspace - annoying

![image](https://cloud.githubusercontent.com/assets/2911176/23472011/855e58be-feff-11e6-82ae-c9b4e89c82f2.png)

[2017-03-01 23:41] oeoeaio commented on #1080
Specifically blocked by #1466

[2017-03-01 23:43] oeoeaio commented on #1391
Probably not worth doing until #1466 and #1080 are done

[2017-03-02 01:52] oeoeaio commented on #1394
Hey @yukoosawa. Sorry, could you provide little more clarification about what it is you'd like to see for this, and where? Ta!

[2017-03-02 03:12] oeoeaio commented on #1397
Schedules weren't actually being deleted, they were just being orphaned. I fixed this by preventing OC from being deleted if it is linked to a schedule. Once the link to the schedule has been removed, the user is free to delete the OC.

[2017-03-02 03:25] yukoosawa commented on #1394
@oeoeaio So it may have just been a me thing (and it is very possible that you cover this information as part of onboarding a new customer/enterprise) but I wasn't sure what 'Schedule' and 'Order Cycle' meant in the buttons.

<img width="1004" alt="screen shot 2017-03-01 at 10 15 34 pm" src="https://cloud.githubusercontent.com/assets/19785399/23491613/56feefd8-fecd-11e6-91e1-5fc7ab60b115.png">

I

[2017-03-02 03:43] oeoeaio commented on #1398
This component uses Select2, and as far as I can see, the convention is only to use a dropdown arrow if the component is not a multi-select (ie. multiple items can be selected).

I have added a placeholder: "Please select..." to give a prompt, but I think I will leave it there for now.

[2017-03-02 11:17] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58b7ff52f66bb4110080a2d4)

[2017-03-03 09:23] OliverUK opened #1473 "Report Filtering - minor feature broken"
![screen shot 2017-03-03 at 09 17 27](https://cloud.githubusercontent.com/assets/17590921/23545282/a0a94482-fff2-11e6-838e-b46fcb0c0a64.png)

The calendar buttons no longer work on this screen. It's possible to type in dates but it won't accept dashes so you have to leave them in and only change numbers. Not a big deal but very confusing initially.

[2017-03-03 12:11] Duende13 commented on #1416
http://stackoverflow.com/questions/27261346/custom-svg-markers-wont-display-in-ie-11

with IE11 and svg images two required bits seem to be scaledSize and optimized.

[2017-03-04 20:54] Matt-Yorkley commented on #1430
Included in main feature.

[2017-03-04 20:54] #1430 closed

[2017-03-04 20:54] #1441 closed

[2017-03-04 20:55] Matt-Yorkley commented on #1439
Added to main feature.

[2017-03-04 20:55] #1439 closed

[2017-03-06 09:11] myriamboure commented on #1376
@pacodelaluna the first user needing that is going to test the platform this week, do you undertand this translation issue? Can you answer Maikel here on what you think we should do?

[2017-03-06 09:19] myriamboure commented on #1377
Same @pacodelaluna connected to the other one... let me know if you think it's easy or not.

[2017-03-07 09:22] pacodelaluna commented on #1376
@myriamboure Yes, it is related to the translation, not to the code, let's discuss this on Slack.

[2017-03-07 09:23] pacodelaluna commented on #1377
@myriamboure Can you provide me a screenshot of this ? Let's discuss this on Slack.

[2017-03-07 09:34] myriamboure commented on #1377
@pacodelaluna clic on the shop page on "collectif court circuit la barre de monts", then clic on "login" (you have to use the upper login as the button in the page doesn't work), and try to login with a non super admin account (I use my account myriam@ouishare.net), as this account is not in the "buyers" list of the collectif court circuit entreprise, it is not recognize, but instead of  having an

[2017-03-07 13:05] Duende13 opened #1475 "W3 Validator giving loads of errors in https://openfoodnetwork.org.uk/shops/signup"
I was having a look into the issue with ie11  and images going crazy ( #1418 ) and someone point it out that there were too many problems to be sure what was causing the real problem, like end tags div seen but not open elements, attributes not allowed,  etc

The whole list of errors:

http://validator.w3.org/nu/?doc=https%3A%2F%2Fopenfoodnetwork.org.uk%2Fshops%2Fsignup

I found an easy work-aroun

[2017-03-08 00:56] Matt-Yorkley commented on #543
This might be a good candidate for an introductory task. It'll probably require an angular directive or something to slot in to the existing directive, and it'll probably need to bind a click event on $window.

[2017-03-08 01:13] oeoeaio commented on #1394
👍

[2017-03-08 11:01] Matt-Yorkley commented on #552
@sstead So what's the desired behaviour for this? If a product image is missing then the first image from a product's variants should be shown in it's place?

[2017-03-08 11:30] Matt-Yorkley commented on #671
@kirstenalarsen This bug still breaks things in really bad ways if the permalink already exists. Could be a good onboarding job. Any preference for the desired behaviour: 1) make the field non-editable by users or 2) do a check to see if the permalink is taken?

[2017-03-08 15:28] lin-d-hop commented on #1330
Hi @OliverUK, Sorry just saw this. Perhaps you could tag me in future?

You are right that the changes don't persist. But if you try to deploy the build that is already deployed it will fail with the error that it is already deployed.

I'll take a look at the error above.

If you would also move things from test ready to dev it will help me to know when issues are being looked at by you and when t

[2017-03-09 18:27] lin-d-hop commented on #1031
@sstead Would be good to see if this feature is ready for merge. It has been tested by @OliverUK.

He spotted a bug unrelated to this issue, it sounds familiarish but I'm not sure if it has already been clocked.

[2017-03-09 20:56] Matt-Yorkley commented on #1452
This ties in to #1444 as well: we should probably do something similar with how these same fields are represented in uploaded Product Import files and how they can be converted into the correct values from "human readable" values.

[2017-03-10 03:16] daniellemoorhead opened #1480 "Software release updates can be done by the Super admin through the instance UI"
Would be so great if Super admins could implement release updates to local instances via their admin interface, kind of like what Word Press do.

![screen shot 2017-03-10 at 1 36 04 pm](https://cloud.githubusercontent.com/assets/10949052/23780608/fda8601a-059b-11e7-8fb2-7e029db04b61.png)

![screen shot 2017-03-10 at 1 36 13 pm](https://cloud.githubusercontent.com/assets/10949052/23780616/0b24a6d6-

[2017-03-10 03:17] oeoeaio commented on #1406
I think I would like to put this on hold for now, pending some user testing and thinking about the best interface for altering the date limits on a standing order...

[2017-03-10 03:25] sstead commented on #552
Hey Matt, I think the explanation below covers the desired behaviour... it would prevent someone from adding variant images, and still not seeing an image in the shopfront...

"So the solution is either 1) if no image has been assigned to 'all' variants, BUT images have been assigned to 1 or more variants, one of these images should be pulled and displayed in the shopfront. Or 2) you could make it

[2017-03-13 15:43] popok75 commented on #294
Hi, I also got this bug, after few hours trying, for me it was due to the fact that I didn't add the country to the europe zone, and the state to the country zone.  So if you have this bug "edit" your zones, and check the states/countries displayed.

I didn't even notice the "add state/county" button when creating a new zone. Also I thought that the state was added to the country zone when I creat

[2017-03-15 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58c89224c55c4912001fbcec)

[2017-03-15 01:03] sstead opened #1482 "Typo in Aus production on /welcome producer page"
Typo in Aus production on /welcome producer page
![image](https://cloud.githubusercontent.com/assets/10843056/23929040/59e916e2-0977-11e7-997b-3a56d73e0d03.png)

[2017-03-15 01:30] RohanM opened #1483 "Switch SSL certificate to LetsEncrypt for openfoodnetwork.org.au"
The SSL certificate on openfoodnetwork.org.au is due to expire in ~6 weeks (3rd May 2017). Switch to using LetsEncrypt to handle auto-renewal.

[2017-03-15 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58c8bc555d80ed110058d42c)

[2017-03-15 04:27] daniellemoorhead commented on #1470
Moved this one to v1.8.9 milestone, not sure where it's at (currently in backlog, not ready in time for release).

[2017-03-15 05:20] daniellemoorhead commented on #1020
Looks like the only PR remaining for this issue is #1239 and there are conflicts with it. Thus am moving this issue to 1.8.9 release.

[2017-03-15 06:16] sstead commented on #1031
Testing notes:
All use cases working as desired...
1.	I log back in without creating a new basket:
1.1 Order cycle of last basket is still open -> Old Basket Restored YES
1.2 Order cycle of last basket is now closed -> Old Basket Deleted YES- and I get told the OC had closed.
2.	I create a new basket in the same shop then log back in:
2.1 Order cycle of last basket is open -> Old Basket Added to N

[2017-03-15 06:38] lin-d-hop commented on #1031
@OliverUK can you confirm if this is the same issue you spotted? If so this issue was not introduced by this bug but exists already in production.

[2017-03-15 06:40] mkllnk commented on #1031
Sally tested production and said that this issue isn't there, because carts don't persist.

[2017-03-15 07:49] oeoeaio opened #1484 "How to distribute private key for Qz client"
@ltrls has done some great work to enable printing receipt using a thermal printer using the [Qz library](https://qz.io). PR [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/1459)

The way Qz works is by using a compiled client (installed on the end-user's personal computer) that can accept messages sent using javascript run on a page on the OFN. Security is handled using public-k

[2017-03-15 09:47] OliverUK commented on #1031
@lin-d-hop I does sound like the same issue although I didn't get where the cart hangs. But I didn't try removing things from the OC but rather make the item "sell out". For me this led to being able to complete checkout and the items had negative stock.

@mkllnk I don't know if I'm understanding you correctly but I do think the issue exists on production. If a customer does NOT log out and back i

[2017-03-15 11:37] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58c92788d6c0431100d90b8f)

[2017-03-15 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58c93c1be2045a1100973f5e)

[2017-03-15 13:11] enricostano commented on #1484
I tend to like more the option `#2`, will investigate a bit to find any other option though.

[2017-03-15 14:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58c948f88911e01100621035)

[2017-03-15 23:37] oeoeaio opened #1485 "Auto-copy billing/shipping addresses for standing orders when one is missing"
Sometimes only a billing address is stored and therefore able to be retrieved for a given customer. Makes sense to automatically copy this across to the shipping address when shipping address is not present.

[2017-03-16 00:04] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58c9d682c99f2212009e5645)

[2017-03-16 02:35] oeoeaio opened #1486 "Consistent subject lines for standing order notification emails"
Allows changes to be viewed as a thread in modern email clients.

[2017-03-16 05:06] mkllnk commented on #1031
@sstead Can you reproduce the error like @OliverUK describes it?

I haven't tested this. How difficult is it to fix this issue?

[2017-03-16 05:10] mkllnk commented on #1484
The last option with creating a new private key and re-compiling the client sounds like the safest method to me. Compiling the client should be really easy though. Or could the client be changed to be configurable?

[2017-03-16 06:48] oeoeaio commented on #1412
Can't seem to replicate this one. Not sure if I've inadvertently fixed it somewhere else, or if I am not doing the right thing to replicate...

[2017-03-16 11:48] lin-d-hop commented on #1031
I also haven't tested this, but sounds like the most likely scenario is that both sally and oliver are right.

This enhancement thus significantly increases the likelihood that the issue will be experienced by a user and therefore it becomes a priority to resolve at least for this case.

[2017-03-16 16:00] lin-d-hop commented on #1186
over to @OliverUK

[2017-03-17 02:11] #1207 closed

[2017-03-17 02:11] #1194 closed

[2017-03-17 02:11] #1195 closed

[2017-03-17 02:54] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58cb4fe436f4cb1200d5b0a0)

[2017-03-17 03:34] daniellemoorhead commented on #1031
Hi all, just checking where we are with this. It's labelled as needing Aus Review, is this still the case? @lin-d-hop @NickWeir63

[2017-03-17 03:38] oeoeaio commented on #1412
Ping @yukoosawa. I know it's a long shot - but if you can remember steps to reproduce that would be super helpful...

[2017-03-17 04:37] oeoeaio opened #1488 "New page for "editing" a complete order"
Create a new page, where customers can view & make changes to completed order in an open order cycle (where this has been allowed by the shop). This will be heavily based on the cart page, but needs to be a separate view, because loading an order into the cart will erase the contents of the cart if this means switching OCs...

As a customer with a completed order in an open order cycle, I can navi

[2017-03-17 04:45] oeoeaio opened #1489 "Add a new "open orders" section to the account page"
This section will allow customers to navigate to the new page for editing completed but open orders as per #1488.

As a customer with a completed order in an open order cycle, a can navigate to my account page where:
- [x] I can see any completed orders for any open OCs in a separate section
- [x] I can view details of the orders such as: when the OC closes, the number of items, the shipping and p

[2017-03-17 04:51] oeoeaio opened #1490 "Alerting customers to the presence of existing auto-generated orders in the current OC"
As a customer with an existing standing-order-generated order:

- [x] I am alerted to its presence (using a flash notice) when I navigate to the shop page of the enterprise with which it was placed
- [x] I can dismiss the flash notice (do we remember this, and for how long?)

Where more than one such order exists:
- [x] The flash provides a link to my account page, where I can see all my completed

[2017-03-17 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58cb6d659583171100bd889b)

[2017-03-17 06:37] #1256 closed

[2017-03-17 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58cb8985664bdc1000e88e30)

[2017-03-17 11:45] OliverUK opened #1491 "Products can be ordered beyond available stock level"
When two customers shop at the same time OFN lets both orders check out even if there isn't enough stock of any item to fill both orders. This then results in negative stock levels.

![screen shot 2017-03-17 at 11 28 37](https://cloud.githubusercontent.com/assets/17590921/24041787/e4cc2cdc-0b06-11e7-83cb-ff11b454a2c7.png)

I tried this on UK production by putting the same product into my basked in

[2017-03-17 11:48] OliverUK commented on #1031
@daniellemoorhead I believe the issue of saving the basket is all ok but I've created a new issue #1491 for the separate problem of being able to check out items beyond available stock.

[2017-03-17 11:54] lin-d-hop commented on #1491
Blocks #1031

[2017-03-17 11:55] lin-d-hop commented on #1031
Thanks @OliverUK

[2017-03-17 12:25] Rocksj commented on #1074
This one seems to have reared its head again? And we're a month ahead of ourselves, how did it get to April already?
@mkllnk @lin-d-hop @daniellemoorhead
![screen shot 2017-03-17 at 12 22 48](https://cloud.githubusercontent.com/assets/15102362/24043072/a80bfef2-0b0c-11e7-9bfc-052c091c7eb7.png)

[2017-03-17 12:35] lin-d-hop commented on #1074
We haven't made a release. Could you add more details @Rocksj.
When did you first notice it again? Did it definitely stop?
Can you confirm the price different is definitely due to the paypal fees being added on twice as before?

[2017-03-17 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58cbdf1c685e761800f8b3ca)

[2017-03-17 13:31] Rocksj commented on #1074
I only noticed it this week @lin-d-hop but have just checked back and it actually started happening again sometime between 20 December and 9 January. It definitely stopped and was OK until January. It seems like the paypal charges are being added on to the original amount and then added on again

![screen shot 2017-03-17 at 13 30 52](https://cloud.githubusercontent.com/assets/15102362/24045152/fea

[2017-03-17 20:20] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58cc45207e8eb3160071247c)

[2017-03-20 03:17] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58cf49ac47fdb017009bba41)

[2017-03-20 10:03] myriamboure commented on #1118
@sstead is it ok if we do that? It is confusing for users in France not to have the "on demand" column by default, they don't understand and put a big amount instead :-o

[2017-03-20 10:21] myriamboure opened #1493 "Private shop bug 1: if I add a customer before he has an OFN account, he can't access the shop after sign up."
**Case one:**
As a hub manage I add the email myriam[a]ouishare.net in the customer list of the hub named "AMAP Caen 1". Then in the hub menu I check "require customers to login".
In another browser, I login, then clic on the shop, I can access it.

**Case two:**
As a hub manager, I fill in for the same hub the customer list with a new name: olivier_krener[a]hotmail.com, this customer has not yet

[2017-03-20 10:25] myriamboure opened #1494 "Delete a customer from your customer list impossible"
## Description
As a manager of a private shop I try to delete a customer from the customer list to remove access to my shop. The system prevents me to delete it, it says there are orders associated, even if the user has never accessed the shopfront ... and even if they were, as a hub manager I need to be able to remove access to my private shop to a current customer.

## Expected Behavior
As a man

[2017-03-20 10:26] myriamboure commented on #1493
ref discussion on community: https://community.openfoodnetwork.org/t/private-shop-issues/866/2

[2017-03-20 10:26] myriamboure commented on #1494
ref discussion on community https://community.openfoodnetwork.org/t/private-shop-issues/866/2

[2017-03-20 10:28] myriamboure commented on #1493
@Em-AK would you like to have a fun and have a look at it, just to start getting your head on the OFN again? ;-)

[2017-03-20 12:20] Em-AK commented on #1493
Yes @myriamboure I'm on it.

[2017-03-20 13:02] myriamboure commented on #1493
Awesome thank you @Em-AK !!!

[2017-03-22 02:00] mkllnk commented on #1074
@Rocksj Can you describe how you re-produce this issue? It would look like:

- user is logged in (or user is logged out)
- user adds x items to cart
- user goes to checkout
- ...
- user hits back button in browser during payment?
- transaction fee is shown twice

That is just a template. If you could add all the details, that would be great.

@lin-d-hop Which versions of OFN did you have deployed

[2017-03-22 03:30] sstead commented on #1118
Yes I think this is very logical!

[2017-03-22 04:59] sstead commented on #1396
Done
![image](https://cloud.githubusercontent.com/assets/10843056/24182841/944db990-0f18-11e7-8336-c99a57fc8799.png)

[2017-03-22 05:03] sstead commented on #1397
Done
![image](https://cloud.githubusercontent.com/assets/10843056/24182924/1d4b2354-0f19-11e7-924e-93fe53dc433d.png)

[2017-03-22 05:08] sstead commented on #1399
Done
![image](https://cloud.githubusercontent.com/assets/10843056/24183049/bfa5107e-0f19-11e7-8243-c9e59aea79a2.png)

[2017-03-22 05:10] sstead commented on #1395
Done - if a schedule is created, it shows in the 'schedule' column, which displays by default for users with SO activated.

[2017-03-22 05:15] sstead commented on #1398
Done
![image](https://cloud.githubusercontent.com/assets/10843056/24183148/a567953c-0f1a-11e7-8f41-cf6378cca5fd.png)

[2017-03-22 05:29] sstead commented on #1400
Done
![image](https://cloud.githubusercontent.com/assets/10843056/24183473/ae9296a0-0f1c-11e7-8cc1-91393316af65.png)

[2017-03-22 05:33] sstead commented on #1402
Done - in both the Add Products and Review & Save stages, i can't proceed unless there are products in the SO
![image](https://cloud.githubusercontent.com/assets/10843056/24183525/0949f64c-0f1d-11e7-807b-730e9ac7bfbd.png)
![image](https://cloud.githubusercontent.com/assets/10843056/24183547/2f064d18-0f1d-11e7-9029-f68b1c42e529.png)

[2017-03-22 05:40] sstead commented on #1403
Done.

[2017-03-22 05:46] sstead commented on #1408
Individual orders can now be cancelled, and resumed. This was tested going from the state of pending to cancelled to pending again.
![image](https://cloud.githubusercontent.com/assets/10843056/24183864/ee3b41c4-0f1e-11e7-8513-51f079660b26.png)
 I need to further test what happens if you go from In Cart to cancelled and is then resumed again.

[2017-03-22 06:05] sstead commented on #1414
This is the email confirmation received by a customer whose SO items are not available (on hand = 0)
Fixed - Shipping fees aren't lingering.
Bug - The enterprise fee ($10/order) has remained in the order.
Suggestion - change the subject. The word confirmation sounds like it all went according to plan.
![image](https://cloud.githubusercontent.com/assets/10843056/24184208/e82f142a-0f20-11e7-8033-335

[2017-03-23 01:24] yukoosawa commented on #1412
@oeoeaio Sorry I missed your ping! From memory (and it's a bit hazy) I had set the shop inventory to 0 for Enoki mushrooms and then put in an SO for 2... When the OC opened I received the confirmation email but noticed inventory was now -1.

I was definitely testing this before the additional tickets for amending an order + receiving an email if my order COULD NOT be fulfilled were pushed to stagi

[2017-03-23 15:45] arthur-koenig opened #1497 "No saving option after deleting tag"
After deleting a tag (whether it's for a customer, an order cycle or other...) the "save" or "update" button appears at the bottom of the page, but is not clickable.
After deleting a tag, a user should be able to save changes.
Today, the workaround is not ideal : the user must re-type something in the tag box and delete what he just typed. Only then will he be able to save changes.
![screen shot 2

[2017-03-23 23:43] sstead commented on #1414
This is somewhat related...
![image](https://cloud.githubusercontent.com/assets/10843056/24274783/a5980932-107e-11e7-963f-fc952307235e.png)

[2017-03-23 23:49] sstead commented on #1407
This is looking good, very clear.
![image](https://cloud.githubusercontent.com/assets/10843056/24274867/7a42a192-107f-11e7-919c-e153c76207b8.png)

[2017-03-23 23:54] sstead commented on #1411
Done - open SOs show as 'Cart'
![image](https://cloud.githubusercontent.com/assets/10843056/24273925/3d0a8f7a-1079-11e7-9f33-93183a6aed26.png)

[2017-03-24 00:41] sstead commented on #1063
Done- messaging to the user about repercussions of cancelling are clear.
![image](https://cloud.githubusercontent.com/assets/10843056/24275848/ab0a5a98-1086-11e7-8eae-aee317aabb57.png)

[2017-03-24 01:47] daniellemoorhead commented on #522
@mkllnk to stage on Aus and @sstead to give the OK for 1.8.9 release next week.

[2017-03-24 01:47] daniellemoorhead commented on #1200
@mkllnk to stage on Aus and @sstead to give the OK for 1.8.9 release next week.

[2017-03-24 02:04] daniellemoorhead commented on #1484
@ltrls can you please accept the GH organisation membership request Rob just sent you so we can assign you to this issue? Cheers!

[2017-03-24 02:10] daniellemoorhead commented on #1470
@Matt-Yorkley we'd like to put this into 1.8.9 next week, reckon you can do what you need to do to get it ready for that? Otherwise we can drop it into 1.8.10.

[2017-03-24 02:12] daniellemoorhead commented on #1343
Hey there @lin-d-hop @Matt-Yorkley @OliverUK we'd like to sort this one out for 1.8.9 release. See @sstead's comment above, where do we take this next?

[2017-03-24 02:34] sstead commented on #1401
Summary of testing notes:
The correct products are able to be added to Standing Orders (seems logical to me). In the case that something is added which shouldn't be, there are prompts telling the user why, which is great. If something is added that has no stock now, or at the time of OC opening, it's struck off the customer's invoice later, which is good.

My only suggested improvement is for this

[2017-03-24 04:26] daniellemoorhead commented on #726
@kirstenalarsen would it be worth adding more detail in this if a newbie is going to work on it?

[2017-03-24 04:28] daniellemoorhead commented on #671
@kirstenalarsen thoughts on suggestions from Matt above?

[2017-03-24 04:31] kirstenalarsen commented on #671
I don’t have a preference. @sstead may be closer to people experiencing this and have an idea? If not, developer that picks it up can decide :)

[2017-03-24 04:32] kirstenalarsen commented on #726
yes, but I have no idea if this is still an issue or not - seems like it would have had more screaming by now . . @sstead ?

[2017-03-24 04:47] daniellemoorhead commented on #1483
@RohanM @kirstenalarsen @mkllnk is it worth adding this to our immediate backlog, given we're likely to be otherwise occupied in May?

[2017-03-24 04:48] daniellemoorhead commented on #1159
We need to consider this issue in the broader context of the best approach to having all users register (and then how to deal with this retrospectively with existing users).

[2017-03-24 05:01] daniellemoorhead commented on #1286
Closing this issue as it's for the Wordpress site and not the OFN platform. Will consider the need for a news section on the global site at the point where we redesign it (a future desired piece of work).

[2017-03-24 05:03] #1286 closed

[2017-03-24 05:08] daniellemoorhead commented on #1351
@oeoeaio @mkllnk and @RohanM what should we do about this in terms of the processes we use to deploy to staging? Only staging?

[2017-03-24 05:10] daniellemoorhead commented on #418
@Matt-Yorkley do you think this would make a good first issue for newbies?

[2017-03-24 05:32] daniellemoorhead commented on #1227
@Matt-Yorkley do you think this would be a good newbie issue?

[2017-03-24 05:35] daniellemoorhead commented on #1218
Hey @RohanM do you think this would be something that a newbie could do pretty easily?

[2017-03-24 05:40] daniellemoorhead commented on #1217
Hey @RohanM does the image upload widget in the enterprise registration form include a preview? And is it easy enough to add it to the admin interface?

[2017-03-24 05:44] daniellemoorhead commented on #698
@Matt-Yorkley what do you think the improvements would be if what @sstead described above is no longer the case?

[2017-03-24 06:14] oeoeaio commented on #589
From memory, this is a scoping issue. The sorting was working but then I moved the ColumnsCtrl (where the sorting parameters are stored) so that it only wrapped the columns header elements. That broke everything because the ngRepeat directive for listing customers no longer has access to the sorting parameters.

I think if we just move the `predicate` and `reverse` parameters into an `$scope.sorti

[2017-03-24 10:03] jeronimo commented on #1453
After a lot of investigation it appears there only one flag needed to be enabled to get results. There are no tests coverage so it is hard to define if attached behaviour is acceptable?

![screen shot 2017-03-24 at 09 41 30](https://cloud.githubusercontent.com/assets/88912/24289356/dadb0618-1078-11e7-9df1-4b753dbdf1eb.jpg)

Note: Performance should be fine with 50+ shops but might be an issue in t

[2017-03-24 11:25] myriamboure opened #1499 "Disturbing error message if I want to print a receipt and have no printer set up"
On the "action" menu in the order page, if I clic on "print receipt" (if printing receipt toggle is activated for the instance), and if I have not set up any thermal printer, I have the snales BOOM image.
Would  be better to have a kind pop-in saying "You don't have any printer set up, please set up a printer before you can print a receipt" with a "close" button.

[2017-03-24 11:29] myriamboure commented on #1499
Same for "choose printer ticket" by the way... it needs QZ to be installed, but would be great to have a kind error message saying that and redirecting to the user guide (still in my to-do to right that page) instead of just the BOOM page...

[2017-03-24 17:05] myriamboure opened #1500 "VAT calculation issue on the Australian invoice (and so French one) when price includes tax"
Is it me, or is there an obvious issue in the calculation of the VAT amount in all invoices?
In this example (I took the australian invoice model not to get anyone confused)

![screenshot from 2017-03-24 17-56-10](https://cloud.githubusercontent.com/assets/8135376/24304895/59a7771e-10bb-11e7-8a31-1a46f9b1de95.png)

The price set up is 1,80 for each Kg carrot, and the price is set up as "including

[2017-03-24 21:28] OliverUK commented on #1343
Hi @daniellemoorhead
I got confused at the time what needed testing because the problem was discovered as a result of incorrect super admin settings. But now I understand the fix will also sort out incorrect user settings, i.e. no payment or shipping method = shop closed. Is this correct @lin-d-hop ? Does it still need testing? There doesn't seem to be a build.

[2017-03-25 12:07] Matt-Yorkley commented on #418
Sure, looks simple enough.

[2017-03-25 12:14] Matt-Yorkley commented on #1343
Okay, so maybe a better solution would be: show a clear message on the shop page that the shop is "display only" or not ready for sales, disable "add to cart" buttons on the shop page, and also make it clear when browsing the shops directory that this shop is "display only".

[2017-03-25 12:19] Matt-Yorkley commented on #1343
@sstead How does that sound? ^

[2017-03-25 12:23] Matt-Yorkley commented on #1470
@daniellemoorhead Okay, it's on my to-do list.

[2017-03-25 13:09] Matt-Yorkley commented on #1470
@daniellemoorhead Done.

[2017-03-26 00:41] sstead commented on #1343
That sounds good to me Matt. Is it significantly more work to save this 'display only' feature by improving the UX, rather than just removing it and showing the shop as closed?
If it is a lot of work to save it and others deem it not a priority feature, I'd also support removing the 'display only' option. I don't know of anyone using it. Plus, ideally if we wanted to offer a display only shopfront

[2017-03-26 09:14] OliverUK commented on #1343
@sstead

Not in my opinion.

[2017-03-27 07:30] myriamboure commented on #1500
I think @oeoeaio you have worked on some previous VAT rounding issues, so mentioning you here, maybe you have a quick answer to that. Cheers :-)

[2017-03-27 10:54] jeronimo commented on #1291
I might misunderstood the issue but in Android 6.0.1 with Chrome 56.0.x behaviour looks fine.
![screenshot_20170327-114543](https://cloud.githubusercontent.com/assets/88912/24352969/917e7712-12e3-11e7-831b-402bfd465907.png)
Unless the zoom-in was executed manually by user. In that case it is normal behaviour not to zoom out automatically after selecting dropdown's option.