[2018-11-17 01:20] Matt-Yorkley commented on #3067
Scenario 3 seems fine. I agree with you on scenario 4. So if the variant has on_demand: true, and the VO has on_demand: false, the user has to set a stock level. Seems reasonable.

[2018-11-17 11:17] luisramos0 commented on #3067
Having different behaviour for nil and false is bad, can we make these work in the same way?

We can call it "VO on_demand checkbox checked" (true) or "VO on_demand checkbox unchecked" (both nil and false)

- if VO has on_demand checked, VO will be on_demand (scenario 2)
- if VO has on_demand unchecked, and VO.on_hand filled, VO stock will be used (scenario 3)
- if VO has on_demand unchecked, and

[2018-11-17 12:05] luisramos0 commented on #2685
I am adding one orders_controller spec broken test to this issue as it will require the same solution as seen in PR #2864
The current issue is that the solution in #2864 is not acceptable.

These are the 2 errors in order_spec :
[code]

and this is the error in orders_controller spec:

[code]

[2018-11-17 14:44] luisramos0 opened #3073 "[Spree Upgrade] Broken Enterprise Permissions tab (1 broken test)"
I am not sure what's going on with Spree translations in both v1 and v2 (this is breaking a test in spree upgrade build). We need to fix quite a few broken translations in the BackOffice.

## What
First v1 (ofn master branch),
Katuma Staging:
<img width="334" alt="screenshot 2018-11-17 at 14 29 01" src="https://user-images.githubusercontent.com/1640378/48662137-792f0d00-ea75-11e8-9916-49a7abdcfc8a

[2018-11-17 14:47] luisramos0 commented on #3073
This is a broken test in the spree upgrade build but also a translations bug in Katuma (it's also happening in live). So bug-s4.

[2018-11-17 23:38] luisramos0 commented on #3073
ok, in Spree step-6a:
https://github.com/openfoodfoundation/spree/blob/step-6a/backend/app/helpers/spree/admin/navigation_helper.rb#L18
navigation_helper is using t()
but in 2-0-4:
https://github.com/openfoodfoundation/spree/blob/2-0-4-stable/backend/app/helpers/spree/admin/navigation_helper.rb#L21
navigation_helper is using Spree.t() and Spree.t() doesnt catch any ofn translations like "enterpris

[2018-11-18 17:54] Matt-Yorkley commented on #3064
I've investigated this a bit further and found the checkbox for "show unfulfilled orders only" seems to respond to 3 states rather than 2: `true`, `false`, and `nil` give 3 different responses. Apparently this is the theme of the week!

[2018-11-18 17:58] Matt-Yorkley commented on #3064
I'd say it's s3 as in some cases I think it might stop users being able to see/edit all of their orders?

[2018-11-18 19:56] luisramos0 opened #3077 "[Spree Upgrade][FrontOffice] Fix Insufficient stock specs in shopping/cart_spec and shopping/shopping_spec (3 broken test)"
Fix these specs in the spree build:
[code]

Could be related to #3036

[2018-11-18 20:35] Matt-Yorkley commented on #2951
I've investigated a bit further, and there was an uncaught product validation error related to missing tax category. The reason this has only shown up on French production is because you have this set on the instance:

![screenshot from 2018-11-18 20-31-40](https://user-images.githubusercontent.com/9029026/48677750-5bdf6900-eb71-11e8-8b83-3647d665cfbf.png)

I guess nobody else has this set. So thi

[2018-11-18 20:42] myriamboure commented on #2951
Great investigations @Matt-Yorkley !!!
I'll test in a couple of days, but if it's a super admin setup, if the PR is take a bit of time, we can just specify in super admin handbook and uncheck this on French production instance... it's not so important actually, I don't know why we have this setup. If I had known that could be that I would have just unchecked I think and not even open an issue. So

[2018-11-18 20:43] Matt-Yorkley commented on #2951
I've already made a PR to give basic feedback in this case. :+1:

[2018-11-18 21:05] luisramos0 opened #3078 "[Spree Upgrade][FrontOffice] Fix shopping/orders_spec - guest order (1 broken test)"
Fix this spec:

[code]

The new default spree order factory fetches user.email from order.email
https://github.com/openfoodfoundation/spree/blob/master/core/lib/spree/testing_support/factories/order_factory.rb#L6
This causes the error because the spec is using a nil user.

It will be related to this method
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/spree/orde

[2018-11-18 22:17] #3045 closed

[2018-11-18 23:45] mkllnk commented on #3073
I think I know what the problem in Spree2 is: `:scope => [:admin, :tab]`. The translations have to be in a different scope, they are not global any more. They have to be in `admin.tab`, not `admin.shared`.

I don't know why you are experiencing problems with Spree1 as well. Caching issue?

[2018-11-19 12:14] sauloperez commented on #1351
Now that I read again, I'm not so sure that is a solution @Matt-Yorkley clearing the cache is meant for staging environments where you load a bunch of new data and the cache is no longer up-to-date.

Cache errors in production should be fixed by revising the cache invalidation strategy. Could you please create issues for those problems you mention? I'm afraid our cache is not working as it should.

[2018-11-19 12:42] sauloperez commented on #2130
We don't have them either in Katuma. I'm not sure fixing them manually is the best solution here given that fact that we're adding more OFN instances. It might fix it for now but the problem will come back again soon.

[2018-11-19 12:59] sauloperez commented on #3073
Could be. I see it working on production

![screenshot from 2018-11-19 13-58-55](https://user-images.githubusercontent.com/762088/48708605-4adf3800-ec03-11e8-8206-37f782e8f04b.png)

[2018-11-19 13:05] luisramos0 commented on #3073
what the hell is going on here? @sauloperez can you share the URL where you saw that?
am I looking at a diff katuma live?
<img width="760" alt="screenshot 2018-11-19 at 13 02 24" src="https://user-images.githubusercontent.com/1640378/48708808-79f1ab80-ebfb-11e8-9bc5-01f5bb79d7ab.png">

I cleared browser cache data and I am still seeing this.

[2018-11-19 13:05] luisramos0 commented on #3073
ah, ok, I am looking at Portuguese katuma... my mistake.

[2018-11-19 13:08] luisramos0 commented on #3073
So, this issue is only in Spree 2 as the v1 issue was caused just because I had Portuguese selected in katuma.

I'll try what @mkllnk suggested (scope) and report back.

thanks for the help guys!

[2018-11-19 15:56] sauloperez commented on #2469
Now that we are at it, this getting urgent IMO. Is there anyone with room and willing to take this one soon? This would bring some reliability to our flaky features specs, isn't it?

[2018-11-19 16:02] luisramos0 commented on #2469
the spree upgrade is almost over and I need another broken build to fix 🤣
seriously, this is something I'd be happy to help with, that's why I am asking for a branch.

[2018-11-19 17:50] sauloperez commented on #2013
The only other reference I found (quick check) other than product import and migrations is https://github.com/openfoodfoundation/openfoodnetwork/blob/master/spec/javascripts/unit/bulk_product_update_spec.js.coffee#L186. I tried locally and removing the line still makes the test pass what I'd be great to understand what's the test actually doing.

Anyway, I'd say we can create an issue for that and

[2018-11-19 19:37] Matt-Yorkley commented on #1351
Hmm... I can't see the error now in Bugsnag. I'll post it up next time I see it.

[2018-11-20 01:58] mkllnk commented on #2469
@luisramos0 Sure, I pushed the branch to the main repo. Main work has been done by Rob before me.

About the process: There is a lot of WIP in that branch. I think it needs some history rewriting to make it easier to understand and easier to rebase. So I would suggest a modification to the process:

- Most contributions are done via pull requests to that branch, same as Spree upgrade.
- But there

[2018-11-20 04:48] haseleyi commented on #2374
The missing translation is in line 8 of this spree view: https://github.com/coopdevs/spree/blob/2-0-4-stable/backend/app/views/spree/admin/payments/new.html.erb

The key is there, but we're getting English instead of French.

Our [internationalization wiki](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29) says: "Add missing Spree translations: you may fin

[2018-11-20 08:34] HugsDaniel opened #3083 "Boot Angular automatically in orders#new view"
### What we should change and why (this is tech debt)

Following the [conversation](https://github.com/openfoodfoundation/openfoodnetwork/pull/3053#discussion_r233864476) in #3053, in `app/views/spree/admin/products/new.html.haml ` Angular is booted manually at the bottom of the file.

We should figure out a way to boot it automatically, either with `content_for` or `ng-app`.

### Context

### Imp

[2018-11-20 08:47] HugsDaniel opened #3084 "Convert .js.erb files to HAML"
## Description

Defacepocalypse exposed a few `.js.erb` files that have to be converted to HAML and moved to a more relevant directory, a priori `assets/javascripts/templates`

Found three so far :
- `app/views/spree/admin/products/new.js.erb`
- `app/views/spree/admin/line_items/create.js.erb`
- `app/views/spree/admin/variants/_autocomplete.js.erb`

[2018-11-20 09:14] sauloperez commented on #1830
I never worked on this one, so unassigning myself. You might have a better picture after your work on adjustments @luisramos0 . Any feedback about that `state` field?

[2018-11-20 09:15] daniellemoorhead commented on #2828
Hey @kirstenalarsen is this _really_ related to Mobile Quick Wins which relates to shopping on a mobile? Or is it an extension of the embedded shops work that's sneaking in? Can you add a description on here so we understand how it relates?

[2018-11-20 09:54] luisramos0 commented on #1830
I dont think this issue is up to date.

1. I am not sure this is being applied:
app/overrides/spree/admin/orders/_form/relabel_update_button.html.haml.deface

2. the code now looks like this:
 def update_adjustment!(adjustment)
    return if adjustment.finalized?
    state = adjustment.state
    adjustment.state = 'open'
    adjustment.update!
    adjustment.state = state
  end

We can get back to

[2018-11-20 10:54] kristinalim opened #3085 "RSpec tests in custom engines are not being run"
The `rspec` command which we use does not run tests of custom engines in `engines/web`.

## Description

#2521 (following [this discussion](https://community.openfoodnetwork.org/t/breaking-ofn-down-into-domains/1377)) introduced custom engines representing domains. That added the new "web" engine in `engines/web`. However, the custom engine is not covered by the `rspec` command which we run and is

[2018-11-20 11:31] luisramos0 commented on #2469
awesome, new branch! thanks @mkllnk
https://github.com/openfoodfoundation/openfoodnetwork/tree/headless-chrome

This is what I have done with it so far:
[code]

After this I moved 3 "travis wip" commits to a separate branch and PR, see #3086
We can decide what to do with these ones on the PR.

I fixed a commit message, new message is "Update checkout_workflow and spec_helper to work with Selenium"

[2018-11-20 11:38] sauloperez commented on #2469
only 12?? maybe it's wasn't that crazy after all

[2018-11-20 12:30] luisramos0 opened #3090 "[Spree Upgrade][BackOffice] Fix features/admin/bulk_order_management_spec - issue with variant on_hand levels (2 broken tests)"
Fix spec/features/admin/bulk_order_management_spec (2 broken tests)

There are problems related to variant on_hand levels in  spec/features/admin/bulk_order_management_spec:
[code]

[2018-11-20 12:33] luisramos0 opened #3091 "[Spree Upgrade][BackOffice] Fix issue in Product edit variants - related to deface override in admin/variants_spec and admin/bulk_product_update (3 broken tests)"
There is something wrong in app/overrides/spree/admin/variants/_form/hide_unit_option_types.html.haml.deface
My best hypothesis is that this override is no longer compatible with the product/variants edit page flow. Needs further investigation.

[code]

[2018-11-20 13:41] luisramos0 commented on #2469
Actually it's 10 broken tests.

New PR #3089 fixes 1 test:
- [ ] rspec/features/consumer/shopping/embedded_shopfronts_spec.rb:46
New PR #3092 fixes another one:
- [ ] spec/features/admin/subscriptions_spec.rb:27

So, we have 8 remaining broken tests to handle now:
- [ ] rspec ./spec/features/admin/customers_spec.rb:24
- [ ] spec/features/admin/bulk_order_management_spec.rb:450 (this one only fails

[2018-11-20 13:42] luisramos0 commented on #2469
@mkllnk I have 2 questions regarding 2 of your commits in this branch:

https://github.com/openfoodfoundation/openfoodnetwork/commit/54085be27e349f75b22354f910eee2a9aae3de76
Why is this needed? Is it fixing the spec? Maybe we can improve the commit message.

https://github.com/openfoodfoundation/openfoodnetwork/commit/8afcb5b6dd8ef79182f9ceb42f9d2b71966cd9d8
What bug is it? Is it something we shou

[2018-11-20 20:30] mllocs commented on #2469
How's the time diff of phantom vs headless chrome? In another project I'm working on we did that same migration and we noticed that headless was way slower than phantom.

Even if tests are a bit slower it makes total sense to migrate to headless chrome, phantom is abandoned and headless chrome is way more similar to a real browser. Great job! :D

[2018-11-20 20:42] luisramos0 commented on #2469
Hey Maxim!
Broken tests and retries make this build a bit slow.
But job 1 is green and running 508 specs on both master and this PR.
Master takes 10m42 and this branch is taking 6m47, we may have good news! Lets see when all jobs are green.
Master: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/324
This branch: https://semaphoreci.com/openfoodfoundation/openfoo

[2018-11-21 02:04] deanmarc25 commented on #1613
Can I pick this up as a first issue? I will be working on setting up the project locally this week and will see if I can get this to work for the team.

[2018-11-21 03:20] daniellemoorhead commented on #1613
Go for it @deanmarc25, and welcome! 😄

@sstead can help you out with detail if you have any trouble with it, and just ask for tech assistance on the dev channel on slack if you need it!

[2018-11-21 06:50] kristinalim commented on #2841
From @mkllnk:

I like this option too. Subscriptions and orders created by the hub before a user registers will not be exposed to the user by default, unless the subscriptions and orders are explicitly assigned to the registered user (if implemented).

We could then think of the data of the guest customer record as the hub's own data, which the hub alone manages, not the person behind the customer

[2018-11-21 06:51] kristinalim commented on #2841
Agh, sorry! I accidentally closed the issue.

[2018-11-21 08:33] myriamboure commented on #3058
I'm closing this issue for now as @kristinalim opened three other issues to fix the problem. This remains accessible from the three issues.

[2018-11-21 08:33] #3058 closed

[2018-11-21 08:47] myriamboure commented on #2841
I see contradictions in what you say @kristinalim but maybe I don't fully understand. For me if we allow two accounts per email then it's not possible to move a guest account (attached to one email) to a validated account. What we suggest in 1b is that, the user account becomes validated, it's not a second account attached to the same email. There can only be one account with one email (if I under

[2018-11-21 09:09] HugsDaniel opened #3096 "[Spree Upgrade] Google Maps "NoApiKeys" warning in feature specs"
## Description

When running feature specs in 2-0-stable, I get this error :
`Google Maps JavaScript API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys`

I last got it when running `spec/features/consumer/shopping/checkout_spec.rb`, but it's the same for several feature specs.

It doesn't make the specs fail, but it takes a lot of time by

[2018-11-21 09:09] HugsDaniel opened #10031 "Google Maps "NoApiKeys" warning in feature specs"
## Description

When running feature specs in 2-0-stable, I get this error :
`Google Maps JavaScript API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys`

I last got it when running `spec/features/consumer/shopping/checkout_spec.rb`, but it's the same for several feature specs.

It doesn't make the specs fail, but it takes a lot of time by

[2018-11-21 09:10] sauloperez commented on #3096
IMO this is a perfect fit for https://github.com/bblimke/webmock

[2018-11-21 10:20] myriamboure opened #3098 "translation mission on dashboard page"
## Description

![screenshot_2018-11-21 retour de formation off - myriam boure gmail com - gmail](https://user-images.githubusercontent.com/8135376/48834943-46d82500-ed7f-11e8-8f76-0ba978b27930.png)

"has shopfront" is not translated.

[2018-11-21 10:38] luisramos0 opened #3099 "/shops taking 30+ seconds to load (UK)"
https://openfoodnetwork.org.uk/shops
consistently taking 30 secs to load

## Description
This is a bug.

## Expected Behavior
Page loads in "acceptable" time. I'd say we can close this if it's loads in under 10 seconds.

Edit: At #gathering19 we agreed 3-5 second load time is acceptable

## Actual Behavior
Page takes 30 secs to load.

## Steps to Reproduce
Go to
https://openfoodnetwork.org.uk/shop

[2018-11-21 10:51] HugsDaniel commented on #2999
Two failures remain, which seem related to shipping tax calculations :
[code]

[code]

I'm not really sure how to tackle these ones. @luisramos0 @sauloperez do you master these adjustment calculation processes ? I'd be up for a quick explanation so I can solve these two.

[2018-11-21 10:58] myriamboure commented on #3099
Just tested on French production, it takes 20 sec to load from homepage to "shop" page.

[2018-11-21 11:17] sauloperez commented on #3099
It's weird but I haven't found any trace of `ShopsController#index` in Skylight for UK. By checking on my machine this is what I see, and how I knew it `GET /shops` maps to that controller.

![screenshot from 2018-11-21 12-13-46](https://user-images.githubusercontent.com/762088/48837930-1e542900-ed87-11e8-8d01-66fbd84f0f84.png)

It's pretty obvious the performance hit is related to an N+1 on `prod

[2018-11-21 11:21] sauloperez commented on #3099
This message in `log/skylight.log` must be it

[code]

[2018-11-21 11:25] sauloperez opened #3101 "Skylight warning [E0001] Spans were closed out of order"
## Description

Skylight spits out a warning in `log/skylight.log` with the following contents:

[code]

This might lead to loss of data, affecting the accuracy of the data we see when checking Skylight's graphs.

Check https://www.skylight.io/support/troubleshooting#e0001-spans-were-closed-out-of-order-and-invalid-span-nesting for details.

## Expected Behavior

There should be no warnings in `lo

[2018-11-21 11:34] sauloperez commented on #3101
Wow! the ruby agent is now at v3.1.1! https://github.com/skylightio/skylight-ruby/releases

[2018-11-21 11:40] RachL commented on #3099
Could we agree on using Matomo for these stats :) ? Rather than our own individual network. Matomo shows an average generation time of 13 to 15 seconds. And like Lynne said, the main behaviour is not to reach this page.

[2018-11-21 11:58] luisramos0 commented on #2979
Yes, it's a duplicate. The good news is that we agree to remove the field from the product edit page and that will fix the problem.
@sauloperez can you confirm it's a duplicate?

[2018-11-21 11:58] luisramos0 commented on #1788
great analysis work!

[2018-11-21 12:15] luisramos0 commented on #3099
yes @RachL matomo is more precise but not too far from our own experience. uk is showing 26.79s.

my opinion: this is totally unacceptable and we should fix this asap in all instances.
there are many dimensions to this, UX for new users being the top one I believe, another one is SEO. search engines will seriously reduce our ranking because of this.

[2018-11-21 12:35] luisramos0 commented on #2999
Hey @HugsDaniel I think it's better to leave these 2 with shipping fees for later, after #2683.
Actually, if we rebase #2775 after your #3100 is merged we may see these will be fixed already :-)

[2018-11-21 12:48] RachL commented on #3099
@luisramos0 I was about to say that I wasn't sure about the "asap" part as stats shows that the page is not used that often.... until I've reach Australian stats where the page is more used and needs 32 to 37s to load. 😱

[2018-11-21 13:18] luisramos0 commented on #3099
yes. incredible, a few facts:
- a pretty consistent number is that in all instances in all months with numbers this page represents 5% of the total page views (UK with less views because less page views in matomo, but still ~5%)
- in October /shops was taking FR ~12s, UK ~28s and AUS ~26s
- in November /shops was taking FR ~14s, UK ~26s and AUS ~36s
- but in AUS in September (only instance with da

[2018-11-21 13:43] #3050 closed

[2018-11-21 13:48] sauloperez commented on #2979
Yep, I think so.

[2018-11-21 13:58] luisramos0 commented on #2935
Adding here two more broken tests with the same error.
In the same admin/orders_spec:

[code]

and also in admin/variant_overrides_spec.rb:

[code]

[2018-11-21 14:13] luisramos0 opened #3103 "[Spree Upgrade] Changing distributor and OC in the Edit Orders page (3 broken specs)"
Expected behaviour: if an order is not complete, the order edit page should let manager change the distributor and the OC.

Related broken specs:
[code]

[2018-11-21 14:39] luisramos0 commented on #3099
I agree monitoring is important but this is different, this is about solving a bug in production. So, I think we need to fix this before improving monitoring.
I agree we need to look at our dev process and improve performance at code level, always and continuously.
I agree metal will not solve all problems. But metal is a quick way to improve the situation.

I am pretty sure that if you increase t

[2018-11-21 14:46] luisramos0 commented on #3099
So, I think there are 3 actions here:
- manage performance vs servers cost (this is an ongoing thing), it looks like we very far from appropriate server capacity for the current software solution (for a normal e-commerce website, page load times above 4/5 seconds have to be looked at with priority, ofn is different but the capacity management needs to be done).
- improve monitoring with openfoodfo

[2018-11-21 15:16] sauloperez commented on #3099
Ok, understood. Let's move discussions beyond making `/shops` faster to community.

[2018-11-21 16:56] kristinalim commented on #3066
Yes, I think we can leave #3067 and #3068 for later. Thanks for updating the tags of those issues, @myriamboure.

[2018-11-21 17:52] haseleyi commented on #2374
You're right! The view finds my translation key when I add a global to our en.yml, but not when I pursue lazy lookup and place it under 'spree' or 'admin.' Am I looking in the wrong place in the locale file? Despite the spree version discrepancy, the view is still in
spree/backend/app/views/spree/admin/payments/new.html.erb in my gem.

[2018-11-21 19:11] Matt-Yorkley opened #3105 "Product Import: Create a serializer for spreadsheet entries returned as json"
## Description

Follow-on from review comment here: https://github.com/openfoodfoundation/openfoodnetwork/pull/3080#discussion_r234588942

We should add a serializer for spreadheet entry objects returned to angular as json during product import.

[2018-11-21 19:18] sigmundpetersen commented on #2374
I think @luisramos0 has worked on i18n and may give some advice

[2018-11-21 22:16] Matt-Yorkley commented on #2979
Shall we go with the proposal here and just remove that field from the product page then? I can do the PR in 2 minutes...

[2018-11-21 22:34] Matt-Yorkley commented on #2979
Ah, so we have to wait for #3055 ?

[2018-11-21 22:38] luisramos0 commented on #2374
hey @haseleyi our en.yml doesnt have the key. Looks like you just have to copy the key to our en.yml. Should be on the root en: not inside en.spree.
After your PR gets merged, it will appear in transifex and the fr.yml file will get updated on the following transifez PR.
If you want to test the French translation before committing you can add the entry to the fr.yml file locally and see the transl

[2018-11-21 22:41] luisramos0 commented on #2979
hmmm.. I dont see the new.html.erb in #3055 only edit and form...

[2018-11-21 22:47] Matt-Yorkley commented on #2979
It's on the product edit page, right?

[2018-11-21 22:50] Matt-Yorkley commented on #2469
It's finally happening! :tada: Thanks @luisramos0

[2018-11-21 22:53] Matt-Yorkley commented on #3099
So is there a quick way to tidy up those two n+1 queries @sauloperez ?

[2018-11-21 23:00] luisramos0 commented on #2979
sorry, my mistake, it's the edit page and you need to do this one on top of #3055, correct.

[2018-11-21 23:04] mllocs commented on #2703
I noticed that #2704 and #2706 are quite related with this one, I'll probably tackle the three of them at once 😄

[2018-11-21 23:13] luisramos0 opened #3107 "[Spree Upgrade] Fetch existing user address for the customer details in the edit orders page (1 broken test)"
Fix admin/orders_spec spec related to "filling customer details" and making sure user addresses are used in new orders.

Thsi error below can be easily fixed. It's caused by the fact that the factory order_with_totals_and_distribution already has a shipment, so we can't add a new shipment to the order.
Instead of
https://github.com/openfoodfoundation/openfoodnetwork/blob/2-0-stable/spec/features/a

[2018-11-21 23:36] luisramos0 commented on #2938
I dont understand why this "line  items cant be blank" is showing up in 2-0-stable. The code looks exactly the same as in step-6a and in master/step-6a the error is not showing up when a new order is created (after selecting distributor and OC.
https://github.com/openfoodfoundation/spree/blob/step-6a/backend/app/controllers/spree/admin/orders_controller.rb#L69

[2018-11-21 23:40] luisramos0 opened #3109 "[Spree Upgrade] Admin - Fix new Order page (no broken tests, yet)"
The new order admin new order page is broken.

As we create an order in admin:
- First, there's the "line items can''t be blank" issue: #2938
- Then, there's the same translation problem as in edit page: #2935
- And after this issue is resolved, the customer address validation test will need to be fixed: #3107

But the main issue is that, after selecting distributor and OC, the "Add" product butto

[2018-11-21 23:44] luisramos0 opened #3110 "[Spree Upgrade][BackOffice] Admin - Fix admin/orders_spec (6 broken tests)"
Epic to group "new order" and "edit order" issues as well as variant_overrides issues.

The most important issue in here is #3109

[2018-11-21 23:49] luisramos0 opened #3112 "[Spree Upgrade] Fix admin/variant_overrides_spec (1 broken test)"
Fix admin/variant_overrides_spec

[code]

[2018-11-21 23:50] Matt-Yorkley commented on #2938
Have you tried booting the app and doing it manually? I see this error message in the dropdown:

![screenshot from 2018-11-21 23-49-05](https://user-images.githubusercontent.com/9029026/48873868-2e502500-ede8-11e8-817b-cd7c9295001d.png)

[2018-11-21 23:50] luisramos0 opened #3113 "[Spree Upgrade] Fix admin orders edit - capture payment (1 broken test)"
Fix:

[code]

[2018-11-21 23:52] Matt-Yorkley commented on #2938
Console says this:

![screenshot from 2018-11-21 23-51-33](https://user-images.githubusercontent.com/9029026/48873932-7707de00-ede8-11e8-97a1-5b7b4d0b681d.png)

[2018-11-21 23:56] luisramos0 commented on #2469
All credit goes to the ~40 commits from @oeoeaio

[2018-11-21 23:59] luisramos0 commented on #3066
my favorite option would not include a blank entry (could be misleading for the user). I'd have 3 options: "Use producer settings", "True", and "False"

[2018-11-22 00:02] luisramos0 commented on #2938
yes, I tried manually on both v1 and v2. I also added some debug messages but I dont understand why in v1 althought order.errors is not empty, the _error_messages.haml doesn't get displayed...

I dont think you are on v2, that page looks way too good :-)

[2018-11-22 00:05] Matt-Yorkley commented on #2938
I just fetched the latest master, I'm pretty sure this is it. Maybe Hugo's deface work went through? Console output has this tasty morcel:

![screenshot from 2018-11-22 00-03-16](https://user-images.githubusercontent.com/9029026/48874267-47f26c00-edea-11e8-8770-9b716dc33141.png)

[2018-11-22 00:16] Matt-Yorkley commented on #3066
I think "Use producer settings" is much nicer than a blank option.

[2018-11-22 00:19] luisramos0 commented on #3091
This also happens in admin/bulk_product_update_spec:

[code]

[2018-11-22 00:21] luisramos0 opened #3114 "[Spree Upgrade][BackOffice] Fix admin/bulk_product_update spec (1 broken test)"
admin/bulk_product_update has a few errors in #2804, #3018 and #3091.
Apart from these, there is this error in bulk_product_update related to creating a variant directly on the bulk product edit page:

[code]

[2018-11-22 00:29] mkllnk commented on #2469
If I remember correctly, there is a Javascript error specific to embedded shopfronts that is not due to our code. It may be some security violation when trying to load Google Maps. This was the quick solution to get to a green build, but there is probably a better one.

When you have pending changes and try to navigate away from a page, it asks you "Are you sure?". When we click the "Update" butto

[2018-11-22 00:35] kristinalim commented on #3066
Thanks! "Use producer settings", "Yes", and "No" look nice together. :slightly_smiling_face: I'll update the PR.

[2018-11-22 06:46] sstead opened #3116 "Unable to import Inventory"
## Description
On Australian production the CSV inventory template looks like this:
![image](https://user-images.githubusercontent.com/10843056/48885298-ef6baf00-ee7b-11e8-8f8c-a90dbb670c77.png)
Is this template up to date? Should this template also include On Demand and Category?

I have attempted to import the following csv with the Inventories upload option:
![image](https://user-images.githubu

[2018-11-22 09:51] sauloperez commented on #3099
Sure @kirstenalarsen , this is still an S3 unless we chance our minds. So there are at least S2s on top of it. We just provided the context needed for anyone to tackle it.

[2018-11-22 10:32] HugsDaniel commented on #3036
@luisramos0 when running this one I get the following :
![screenshot from 2018-11-22 11-30-32](https://user-images.githubusercontent.com/28786869/48897342-1a3d0f80-ee4a-11e8-8c4b-d514e93af8f0.png)

Which is solved by #3100

[2018-11-22 10:33] luisramos0 commented on #3099
Hey @kirstenalarsen
I'd like to clarify that rebuild and redesign are very different and in this case the perf improvement is most probably not related to redesign. Same data will need to be shown: shops with info about them.
So, we can but we shouldnt connect this to redesign.

I'd be interested to know your thoughts about the capacity management. Are we planning to increase server capacity soon

[2018-11-22 11:32] luisramos0 commented on #3028
related to #3015

[2018-11-22 11:41] luisramos0 opened #3118 "[Spree Upgrade][FrontOffice] Fix shopping/variant_overrides_spec (1 broken test)"
Fix spec/features/consumer/shopping/variant_overrides_spec

these errors will have to fixed after or as part of #2559
[code]

[2018-11-22 11:57] luisramos0 opened #3119 "[Spree Upgrade] Spree 2 has moved all tabs translations from en to en.spree.admin.tab"
In the backoffice, the main menu "Products" and the tabs "Products" and "Inventory" must be translatable. Spree 2 has moved tabs to spree.admin.tab, see here: https://github.com/spree/spree/commit/4c82bfdf489e63768b84020f37d7db197565ac30

This will fix:
- the first test in #3112 (Products - Inventory)
- this issue #3073 (Enterprises - Permissions)

But this issue should fix all tabs in the backoff

[2018-11-22 11:58] luisramos0 commented on #3112
First test will be fixed in #3119

[2018-11-22 11:58] luisramos0 commented on #3073
this will be fixed as part of #3119

[2018-11-22 12:08] guidamt opened #3120 "Error when editing products from product list page"
## Description

When editing and saving "unit" column on the products page, the following message appears when you choose "item" unit but don't fill the box: _not saved._ _There was an error saving unsupported data: 400_. Instead, by doing the same editing procedure from the product details page, the error message is: _variant unit name can't be blank_ which is much more understandable to users.

[2018-11-22 12:12] luisramos0 opened #3121 "[Spree Upgrade][BackOffice] De-deface payment method new and adapt to spree 2 (1 broken test)"
Main config menu is showing up on the right side instead of the list of hubs that can be associated with the payment method.
payment_method_new is defaced. Needs to be de-defaced (in master first).

Errors in features/admin/payment_method_spec.rb:
[code]

[2018-11-22 12:20] luisramos0 opened #3122 "[Spree Upgrade][BackOffice] Fix features/admin/products_spec (3 broken tests)"
Apart from #3018, fix features/admin/products_spec

[code]

[2018-11-22 12:34] luisramos0 opened #3123 "[Spree Upgrade][FrontOffice] Fix Upgrade build - FrontOffice"
Issues in the frontoffice that break the spree upgrade build.

[2018-11-22 12:34] luisramos0 opened #3124 "[Spree Upgrade][BackOffice] Fix Upgrade build - BackOffice"
Issues in the backoffice that break the spree upgrade build.

[2018-11-22 13:29] luisramos0 commented on #2416
hey @HugsDaniel can you clarify: is this issue solved when #2955 and #2956 are merged into 2-0-stable? if not, it should not be in code review.

[2018-11-22 13:59] HugsDaniel commented on #2416
Good point, no it's not, it'll have to be addressed for 2-0, #2955 was just the first step. Sorry :v:

[2018-11-22 14:30] HugsDaniel commented on #3112
Hey @luisramos0 for the first failing spec, it's not related to internationalisation. The tab "Inventory" is named "Variant Overrides" in 2.0

[2018-11-22 14:54] luisramos0 commented on #3119
@HugsDaniel I think the de-deface of product_sub_menu should be done in master.
The rest is 2-0-stable specific.

[2018-11-22 15:41] luisramos0 commented on #3027
this is related to restart checkout. see this commit: https://github.com/openfoodfoundation/openfoodnetwork/commit/c031b0e52b6d6133c120cee5793f342a544fd0ee

so, this issue is directly related to #3016

[2018-11-22 15:41] luisramos0 commented on #3016
this issue is directly related to #3027

[2018-11-22 18:45] Matt-Yorkley commented on #3099
I agree @luisramos0 ! "Make what we have great" was something we agreed was a priority, but it never had a concrete form. This is a good example, and I think it should be high priority.

[2018-11-22 20:45] luisramos0 commented on #2804
List of errors:
[code]

[2018-11-23 03:51] daniellemoorhead commented on #3116
Ping @myriamboure @RachL FYI as the product owners of Product Import :)

[2018-11-23 04:58] sstead opened #3127 "Loading Tax Rates report gave snail page"
## Description
I was trying to view the Tax Rates report in Aus production, logged in as a regular enterprise user. When I tried to view the report I got an instant snail page (not a page timeout).

Could this be because Aus Production has 3 taxes setup?

## Expected Behavior
I should be able to view the report

## Actual Behavior
I got the snail page.

## Steps to Reproduce
1. Login to Aus Produc

[2018-11-23 05:03] mkllnk opened #3128 "NoMethodError in spree/admin/reports#sales_tax"
## Error in OpenFoodNetwork

**NoMethodError** in **spree/admin/reports#sales_tax**
undefined method `collect' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5bf74d16eb70f500194537b1?event_id=5bf7889600307e0825740000&i=gh&m=ci)

## Stacktrace

    app/models/spree/order_decorator.rb:297 - block in tax_adjustment_totals
    app/models/spree/order_decorato

[2018-11-23 05:06] mkllnk commented on #3127
From Bugsnag #3128:

**NoMethodError** in **spree/admin/reports#sales_tax**
undefined method `collect' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5bf74d16eb70f500194537b1?event_id=5bf7889600307e0825740000&i=gh&m=ci)

### Stacktrace

    app/models/spree/order_decorator.rb:297 - block in tax_adjustment_totals
    app/models/spree/order_decorator.rb:29

[2018-11-23 05:07] mkllnk commented on #3128
Closing in favour of 3127.

[2018-11-23 05:07] #3128 closed

[2018-11-23 07:34] myriamboure commented on #3127
This report is actively used by some French users who are within VAT scheme and declare VAT every month... I just tested on French production and VAT rate reports display without issue so it must be something with one of the latest PR merged... France will not be able to upgrade to the release to come if we don't fix that then :-(

[2018-11-23 07:36] myriamboure commented on #3127
I put s3 and not s2 just because it is not live yet in a place where it's a core feature, but if would have been live in France I would have put s2 as our users would have been stuck and not able to access the VAT data to declare...

[2018-11-23 07:46] luisramos0 commented on #3034
Thanks @sigmundpetersen

[2018-11-23 07:59] sigmundpetersen commented on #3034
Yeah there is something not working right with Zenhub, it should close the connected issue automatically when merging the PR.

[2018-11-23 08:32] sigmundpetersen commented on #3034
OK thanks for the update, didn't know that! Is that intentional or could we configure these issues to be closed as well? Or is it a limitation in Zenhub?

[2018-11-23 08:42] luisramos0 commented on #3036
Hey @HugsDaniel you can always check the build for the ultimate state of affairs :-)
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/118
job 3 - test 31:
[code]

So, yes, it fixes this issue but there's a typo in the #3100 fix. A missing dot in the end. I fix it in #3125

[2018-11-23 08:44] luisramos0 commented on #3034
I dont know :-)
Maybe it's possible to fix this in zenhub.

[2018-11-23 08:56] sigmundpetersen commented on #3034
I could check it out but I don't have the rights 🙂 @sauloperez @daniellemoorhead what is needed to configure Zenhub? Admin rights for the GH org?

[2018-11-23 09:33] luisramos0 commented on #2938
👍

[2018-11-23 11:12] luisramos0 commented on #3127
I'll have a look at this one in an hour or so.

[2018-11-23 11:51] myriamboure commented on #2839
In France it's the French contact email at the end of emails, why comes that in Germany it's not the local German main contact email? Isn't it a super admin configuration ? In "content" at the bottom of the page there is "email" field...
About removing linkedin, we don't use it in France but we need to check with others, no @kirstenalarsen before removing it?

[2018-11-23 12:01] sauloperez commented on #3034
@daniellemoorhead is the ZenHub master, I have no idea how it works.

[2018-11-23 12:03] sauloperez commented on #3099
So, we can but we shouldnt connect this to redesign.

I thought exactly the same

[2018-11-23 16:37] sauloperez commented on #3127
I'll give it a try

[2018-11-23 16:38] luisramos0 commented on #3127
maybe this is only happening in AUS live and was already broken in previous release? can we revert master from AUS live and install a previous version and see if this report is broken there?
if that is the case it means this is not a bug related to this release and we could proceed with the release in parallel with fixing this bug in AUS live.

[2018-11-23 16:46] sauloperez commented on #3127
`app/models/spree/adjustment_decorator.rb` was last changed on 2017-04-29 and `app/models/spree/order_decorator.rb` on 2018-02-20, so nothing related to this release.

Also, Bugsnag's report clearly shows this is a preexistent issue, so

I would do this.

All the clues that shared make sense @luisramos0 . I'd investigate them a bit further.

[2018-11-24 10:57] #3036 closed

[2018-11-24 11:06] luisramos0 opened #3137 "[Spree Upgrade][BackOffice] Fix models/spree/product_spec (1 broken tests)"
One remaining error in product_spec:

[code]

Possible Fix:
This spec uses product.on_hand property to test a basic invalid product. Because on_hand is a special property, we should make this test use another property and test for it's invalidity on product creation, for example, product price.

This could be a solution (we would have to make an invalid price generate an error message, it's not at

[2018-11-24 15:42] luisramos0 commented on #2929
Merge from master fixed the first broken spec. I will rebase now and see the impact.

[2018-11-24 17:03] sineadfenton commented on #3063
![](https://github.trello.services/images/mini-trello-icon.png) [Bug in order confirmation email](https://trello.com/c/qyWkIKZ5/301-bug-in-order-confirmation-email)

[2018-11-24 20:19] luisramos0 commented on #2804
So, I asked the question: can we make OFN more simple and like Spree remove completely product.on_hand? I think the answer is yes. So I just went and fixed the specs with this approach. If you want to set on_hand values, you need a variant.
If later on we find it's not possible or too difficult, we can re-think this approach.

[2018-11-25 19:15] Matt-Yorkley commented on #1600
Closing this for now, feel free to reopen. If I understand correctly it was related to emails not sending via delayed_job in development environment, which is expected.

[2018-11-25 19:15] #1600 closed

[2018-11-26 03:51] mkllnk opened #3140 "[Spree upgrade] Move Spree translations into the Spree namespace"
This is complementary to https://github.com/openfoodfoundation/openfoodnetwork/issues/3119 and https://github.com/openfoodfoundation/openfoodnetwork/issues/2187.

Spree 2 moved all i18n translation keys from the root namespace into the Spree namespace. For example `I18n.t("back_to_payments_list")` becomes `Spree.t("back_to_payments_list")` which is equivalent to `I18n.t("spree.back_to_payments_lis

[2018-11-26 05:11] kristinalim opened #3141 "Rubocop `Metrics/BlockLength` doesn't like DSL in specs"
Rubocop complains that there are too many lines in the block.

## Description

See result from Code Climate:

![20181126121211-block-length](https://user-images.githubusercontent.com/2243/48992780-afa31100-f174-11e8-9d77-1842471888a4.png)

We would normally end up with long `describe` and `context` blocks because of how we nest them.

## Expected Behavior

Rubocop should not complain that the `des

[2018-11-26 09:32] sauloperez commented on #3127
I don't remember exactly now but none of these lines seem to be new.

[2018-11-26 10:15] sauloperez commented on #2804
How will we deal with the new product's form on_hand field? Do we assign it to the master variant? If I'm not mistaken that's what we said last time: forget about the licky abstraction of product attributes that actually belong to variants; either master or non-master.

Did we write this down somewhere?

[2018-11-26 12:31] luisramos0 commented on #3127
@myriamboure @mkllnk @sauloperez what's your vote here? should we block the release or should we proceed?

[2018-11-26 12:47] myriamboure commented on #3127
If you think it's from before let's release, if there is an issue we will revert I guess in France until we fix the problem... or we will have a s2 bug to fix quickly ;-) But you have my go.

[2018-11-26 13:56] sauloperez commented on #3127
My point was to move. Preexistent issues should not stop a release.

[2018-11-26 14:15] luisramos0 commented on #2804
I dont think it's written anywhere apart from this conversation now :-)
I am just waiting for https://github.com/openfoodfoundation/openfoodnetwork/issues/3051 to be merged into 2-0 so we can test/fix the new product page. That is scope for #3018.

[2018-11-26 14:16] luisramos0 commented on #3127
ok, lets move and watch it as we release.

[2018-11-26 23:19] myriamboure commented on #2568
I'm just going to close this issue... the phone is too old we can't do anything :-(

[2018-11-26 23:19] #2568 closed

[2018-11-27 00:02] myriamboure commented on #3041
I think we said internatinalisation issues like translation issue would go directly to dev ready, should be solved quickly as quick things and annoying for local users in other instances. So I put it to dev ready :-)

[2018-11-27 03:54] #3141 closed

[2018-11-27 11:04] sauloperez commented on #3099
Here come the results of my investigation

## Root cause

The actual problem is that in

https://github.com/openfoodfoundation/openfoodnetwork/blob/d0731574246f6ded559ff5a27c265feeeff310ae/app/helpers/injection_helper.rb#L5

We load ALL the enterprises so that the frontend can filter it later. Although it's a bit slow this is not yet a problem in Katuma because there are not too many enterprises y

[2018-11-27 11:41] luisramos0 commented on #3099
Nice @sauloperez
Re Final Solution, the map will not want a paginated list of enterprises, it will want all of them. Is it the same endpoint for the map and the shop list?
What about keeping frontend as is and building a backend cache for the enterprises? I think a super fast/cached endpoint with a "full list of enterprises" will always be needed. That way we would not have to mix this with a more

[2018-11-27 12:01] luisramos0 commented on #2469
@mkllnk I think I'll rewrite the respective commits and add these notes as comments. ok?

[2018-11-27 12:02] luisramos0 commented on #2469
actually, I am going to remove these commits and create a PR with them (including new comments). we can then decide what to do in the PR.

[2018-11-27 12:54] RachL commented on #2987
Closing as PR #3011 is going to be merged.

[2018-11-27 16:32] #3051 closed

[2018-11-27 17:09] luisramos0 commented on #2559
So, I'll explain here what has changed before I write any code.

Quick clarification: scoping a variant means to override the variant object if the hub in question is not the producer of the variant so that the variant behaves like a variant override, i.e., hub's stock is used instead of producers stock.

There are two main stock management cases:
- completing an order
- changing a completed order

[2018-11-27 18:03] myriamboure commented on #3058
The issue has happened again on our user who has 15 shop, some products appear in no shop, we have to fix manually by going in each of the 15 inventories and forcing on demand... hope we can fix that quickly it is very unstable...

[2018-11-27 18:05] myriamboure commented on #3066
For info the original issue has happened again on our user who has 15 shops, some products appear in no shop, we have to fix manually by going in each of the 15 inventories and forcing on demand... hope we can fix that quickly, it is very unstable...

[2018-11-27 18:31] luisramos0 commented on #2987
This issue is for the 2-0 branch @RachL
We need to wait for master to be merged into 2-0 and check that the test is now passing in the build:

[code]

[2018-11-27 18:43] luisramos0 commented on #3049
@HugsDaniel @sauloperez the 2 issues are closed, is there something to be done in master about this one or can we close this epic?

[2018-11-27 19:07] luisramos0 commented on #2804
I just confirmed in the 2-0-stable build and with both 3139 and 3132 merged, all 7 tests are passing.

[2018-11-27 19:08] #2804 closed

[2018-11-27 20:30] myriamboure opened #3146 "Checkout doesn't work on French production"
Everything is in the title, here is what the console says

![capture du 2018-11-27 21-26-12](https://user-images.githubusercontent.com/8135376/49109601-68f40a80-f28b-11e8-9562-a5f7b1e63d44.png)

It's been reported by customers to hub we star to have hub managers writting to us...

You can try to buy on any shop, preferably https://www.openfoodfrance.org/hub-demo-open-food-france/shop

Apparently t

[2018-11-27 21:35] myriamboure commented on #3146
Guys you saved my night, closing the issue now :-) What a great team we have !

[2018-11-27 21:35] #3146 closed

[2018-11-27 23:57] mkllnk commented on #2559
A VariantOverride holds more information than just stock:
[code]

So basically it's about overriding price, stock and sku. Price and sku seem to be no problem so far, but we struggle with the stock management, because stock is not stored on the variant any more.

Maybe it's time to extract the stock management from the VariantOverride. Are your thoughts going in the same direction? So the million

[2018-11-28 01:20] luisramos0 commented on #2559
Hey @mkllnk thanks for your feedback! (I numbered your options for discussion).

Have you seen the draft PR? I don't think you listed the option I follow in the PR. Maybe the closest one is number 4, but I dont really understand what you mean by number 4. Can you add more detail to option 4?

I have considered option 2 but I believe the straight forward approach sketched in the PR is better, easie

[2018-11-28 03:53] mkllnk commented on #2559
I hadn't seen the draft PR when I wrote this, sorry. Now I reviewed it and as I said there, I completely agree with your approach and it's basically my option 4. Just that we need to override more than the stock location.

I do agree that this approach is very reasonable to get the Spree upgrade done. We then need to iterate and start the Network feature before the next big Spree upgrade. Smaller

[2018-11-28 08:44] luisramos0 commented on #2559
all right!
I don't think there's any other large data model change like this in spree after v2.0. v3.0 is a heavy UI/frontend change.

[2018-11-28 09:14] HugsDaniel commented on #3049
I don't think there is, the rest will be done in 2-0 I guess !

[2018-11-28 09:37] HugsDaniel commented on #2999
Hey @luisramos0 can you try rebasing #2775 to see if #3100 fixed these specs ?

[2018-11-28 09:42] #3049 closed

[2018-11-28 09:53] #3017 closed

[2018-11-28 09:54] RachL opened #3148 "Report OC customer totals leading to an error 502"
## Description
One of our hubs is trying to download its data in order to prepare its orders. Once the user hits search, the page loads until it shows the snail.
The manager trying to do that is managing 15 hubs. So I thought that he was trying to load to much data. So I did some tests with only one shop, but the result is the same.

## Steps to Reproduce
1. With French production data, go to repo

[2018-11-28 09:55] luisramos0 commented on #2999
done, thanks for the heads up!

[2018-11-28 09:57] luisramos0 commented on #3017
yes, thanks @sigmundpetersen I confirmed, these tests are passing in 2-0-stable.

[2018-11-28 09:58] HugsDaniel commented on #2935
@luisramos0 I don't get the same error here :
[code]

Same for the three specs. It's related to the new way of adding products to an order in 2-0. There's no "Add" button anymore, now it's done in JS as soon as you select the product to add.

These will be fixed when we implement the new views for admin order #new and #edit. Seems like a good opportunity to tackle that, what do you think ?

[2018-11-28 10:05] luisramos0 commented on #2935
There must be something wrong with your local.
the source of truth:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/125
Look for variant_overrides_spec.rb:339 in job #4

[2018-11-28 10:10] luisramos0 commented on #2935
but anyway, yes! The Add problem will arise afterwards anyway and we will tackle it as part of #3018 right?
Let's wait for #2955 to be merged into master to then merge master again into 2-0-stable. after that we can see how are the product new and edit pages on 2-0-stable.

[2018-11-28 10:46] luisramos0 commented on #1539
I used to work on a reporting tool with a request timeout of 15 minutes :-)
Performance is not really important in reports. As long as they work, this is the part of the app users will wait a little bit with no problem.

Updating the request timeout is a valid solution to this problem. And a good alternative to spending a lot of precious roadmap space on this subject.
One approach I've seen used i

[2018-11-28 10:49] luisramos0 commented on #3148
@RachL now that the request timeout on the server has been changed and the urgency is lower. I think we should close this one as a duplicate of #1539

[2018-11-28 10:53] RachL commented on #3148
@luisramos0 yes you are right, and yes thanks @sigmundpetersen you are like a OFN repo librarian to me :)

![](https://media.giphy.com/media/xjxmO85AEXRHPLiDW3/giphy.gif)

[2018-11-28 10:53] #3148 closed

[2018-11-28 11:03] sigmundpetersen commented on #3148
I've always dreamt of being one 📚

[2018-11-28 11:09] sauloperez commented on #1539
Interesting @luisramos0

what a surprise. This is exactly what we did in https://github.com/coopdevs/katuma_reports, but that was a hack :trollface:

It seems like a good trade-off to me.

[2018-11-28 11:10] luisramos0 commented on #3148
the fix to this problem: https://github.com/openfoodfoundation/ofn-install/pull/290

[2018-11-28 11:13] luisramos0 commented on #1539
I dont think the solution I am describing is a hack, it's a very common solution to a very common problem in all webapps with reporting around the web.

eveveryone, fyi, we are talking about this because there was a new occurrence of this issue in #3148 and it was fixed by increasing timeout on FR server here: https://github.com/openfoodfoundation/ofn-install/pull/290

[2018-11-28 11:14] sauloperez commented on #1539
I understand. I meant the reason why did it it was a hack. Anyway, to share the pros and cons we find when the time comes.

[2018-11-28 11:32] HugsDaniel commented on #2999
![feelsgood](https://user-images.githubusercontent.com/28786869/49149159-a5664b80-f309-11e8-9d31-4b63e17f922c.png)

[2018-11-28 12:28] sineadfenton opened #3149 "Customers notes are truncating across different orders"
## Description

Customers placing notes with their orders seem to sporadically been appearing in other customers orders.

## Expected Behavior

Notes made by a customer should only show on their own orders

## Actual Behavior

There have been two peculairties here which we are tryig to pin down

1. Oliver who uses firefox and safari on a mac, see customers notes replicated on the incorrect orders.

[2018-11-28 12:39] #2951 closed

[2018-11-28 13:00] sigmundpetersen commented on #2999
So we can close? @luisramos0

[2018-11-28 13:23] luisramos0 commented on #2999
no, only #2775 will close this. I need to write new specs as part of 2775 wip

[2018-11-28 13:34] luisramos0 commented on #2502
I think this is happening on 2-0-stable with sample data... I am not sure why.

Going through it, an even easier fix:
[code]

[2018-11-28 15:40] sauloperez commented on #3099
That's a very good question. I checked and they both depend on `#inject_enterprises`.

There are various arguments here. Let's go from abstract to concrete.

First, caching is the last resort on performance optimization because it also brings high cost. Cache expiracy is amongst the biggest headaches in programming. I've seen many hard to spot bugs because of it. So, when you have optimized db acc

[2018-11-28 16:02] #2956 closed

[2018-11-28 16:03] #2374 closed

[2018-11-28 17:52] Matt-Yorkley commented on #3099
With the shops page I think we need to show all the open shops when the page loads, then we can paginate the closed shops (you have to click to see the closed ones anyway). Is that a good compromise?

[2018-11-28 19:04] sauloperez commented on #3099
But again, when the open shops goes up to hundreds? You always need to set a limit for all resources so they don't degrade.

[2018-11-28 20:00] myriamboure commented on #3149
@sineadfenton don't hesitate to place the S3 bugs you open in the pipeline "bug backlog" and try to judge where they are in order of priority. We are trying a distributed way of prioritizing bugs... the curation team will use that backlog to push in the dev pipeline the most prioritary ones :-)

[2018-11-28 20:21] myriamboure commented on #2841
@sineadfenton did you update to latest version in UK ? I think so, and in that case this should be fixed. Can you check with @Matt-Yorkley if the migration worked correctly on old user accounts ? Else it might be another case, open a new issue in that case.

[2018-11-28 22:07] mkllnk commented on #1539
Maybe the reports are the first module to extract and move into a separate app. That sounds very reasonable to me. It would be a good project for Google's Summer of Code.

[2018-11-28 22:17] mkllnk commented on #764
We just had a user in Australia report this again. They tried to create a new product and got stuck, because they just see an error page and don't know that it's the image. I will update the description with our issue template.

[2018-11-29 04:50] mkllnk opened #3155 "Remove unused `payment_enterprise` from order cycle exchanges"
## Description

Products are sold through order cycles. Order cycles have incoming and outgoing exchanges. Incoming exchanges define which products are coming into the order cycle to be sold. There is one incoming exchange for each supplier. Outgoing exchanges define which distributors are selling which products from this order cycle.

![img_0735](https://user-images.githubusercontent.com/3524483/

[2018-11-29 11:06] sauloperez commented on #764
I don't see any exception handling neither in the `ImagesController` nor in the `Spree::Image` model. Not even in Spree 2.0, so I'm afraid will need to add it on our end...

[2018-11-29 12:59] RachL commented on #2756
@myriamboure I did a quick test on French production (Hub demo, trying to duplicate the apples) and either it's slow and as there is no loading I don't know if it is happening or not? Either it does not work. But then again, maybe it's a deployment pb, not necessary to the PR. Can you check as well?

[2018-11-29 13:41] luisramos0 commented on #2756
It's broken in FR prod for test apples and test avocats.
this is the error in the server:
[code]

[2018-11-29 15:35] RachL commented on #2485
Closing via #3047

[2018-11-29 15:35] #2485 closed

[2018-11-29 17:10] kristinalim commented on #3067
Right now, we are able to save any "on demand" and "count on hand", even if they are not compatible.

@myriamboure What do you think about adding validation (not just in the UI level) to require variant overrides to be configured like below. It would significantly reduce complexity, because then we'd no longer have to support the other possible combinations.

| On Demand | Count on Hand |
|-|-|
|

[2018-11-29 17:33] luisramos0 commented on #3067
Sounds good, I am not sure about the Update Records part of this very last case.
An alternative would be Update records: Set on demand to "Use producer stock settings"

[2018-11-30 05:17] myriamboure commented on #3067
@kristinalim I understand the logic.
I disagree thought to some of the actions you propose. Today when you put on demand for a product, the stock on hand remains, but is just not used. It is disturbing if the behavior is opposite on inventory ;-)
So when we can do is:
| On Demand | Count on Hand | |
|-|-|-|
| Use producer stock settings | set | **Current:** We use this count on hand and consider i

[2018-11-30 09:56] HugsDaniel commented on #2756
@RachL do you know if the problem exists in any other instance ?

[2018-11-30 11:36] luisramos0 commented on #2756
I tried in au prod with latest release. similar error:
[code]

[2018-11-30 11:36] myriamboure commented on #2756
I'll test on uk one now with demo hub

[2018-11-30 12:30] #3015 closed

[2018-11-30 17:09] myriamboure commented on #3067
Maybe I don't understand clearly what you mean by placeholder, but there is still something a little bit unclear, and we need to distinguish the final values and migration question.

To be sure I understand, let me add one column to the table about "what is the value taken into account by the system in COH field.
What is (black) is override, action written in inventory, what is (greyed) is not ove

[2018-11-30 17:12] myriamboure commented on #3067
I hesitate about the last line on the table, should it be 0 or 20 which is read ?
If I say "I don't want to use the producer stock info" (implict = for on demand, but slightly unclear in user mind), shoulnd't we just have "blank" and not pre-filled with 20, and read 0 ? It mlight be more logical actually... do you agree @kristinalim ?
i think we need either to:
- leave it blank and read 0
- pre-fi

[2018-11-30 17:15] lbwright22 opened #3159 "Wording in Reports Section"
When accessing all reports, OFN users must click the blue button 'Search'.  In some cases this is appropriate as you can select subsets of data to look at.
For other instances (such as when downloading 'addresses') 'Go' or 'Download' would be more appropriate.
Currently the same string is used in each location in the reports section of the user dashboard and in other locations.

To download or vie

[2018-11-30 22:54] luisramos0 commented on #3027
This issue has not appeared after #3026. After 3026, this spec is passing. Probably a factory has been corrected that made the fees calculation correct again. Closing.

[2018-11-30 22:54] #3027 closed

[2018-12-01 00:46] myriamboure opened #3160 "update inventory upload template"
## Description
Some fields are still missing in the inventory  upload template (product  import feature)
- variant_unit_name (to be confirmed)
- sku
- on_demand

@Matt-Yorkley can you confirm variant_unit_name I have some doubts about the first one, is variant_unit_name needed if I want to update a price or stock for a product that is set up as "item" ? Or is it enough to have the unit type in the

[2018-12-01 00:47] myriamboure commented on #3116
@sstead about category, it doesn't have to be in the template for inventory. You don't need the category to identify the product, and you can't modify that information in inventory, so it is not needed.
On the other hand, on-demand is needed yes, it was clearly specified in https://github.com/openfoodfoundation/openfoodnetwork/issues/2481#issuecomment-415803595 and the spreadsheet, so if it not, t

[2018-12-01 00:52] myriamboure commented on #3116
@Matt-Yorkley do we need the category field in inventory as well to be able to identify the product? We removed it from the template because we said it was not needed to identify and not possible to modify, but were we wrong ?
If that is the case, it is possible that the other issues identify by Sally are related, right? Like the "product can't be found" problem could be linked to that ?
But it se

[2018-12-01 05:09] morapost commented on #232
Even, I have faced the same issue as I was using require 'Faker' in my ruby file. After changing it to require 'faker' (lowercase faker), the warning disappeared.

[2018-12-01 23:10] myriamboure opened #3161 ""back" and "continue" buttons untranslated at image step of registration modal (front end)"
![capture du 2018-12-02 00-09-02](https://user-images.githubusercontent.com/8135376/49333844-96f88800-f5c6-11e8-8c90-c14b2667d5ab.png)

[2018-12-01 23:16] myriamboure opened #3162 "[i18n] Untranslated "producer profile" in pack selection page (front end)"
![capture du 2018-12-02 00-13-02](https://user-images.githubusercontent.com/8135376/49333884-6107d380-f5c7-11e8-97a7-7e24eb69dc98.png)

I guess also "PRODUCER PROFILE" here should be replaced by the name of the enterprise that was just created...

[2018-12-02 20:47] luisramos0 opened #3163 ""New Product" is broken on alpha.katuma.org"
In the product management page, clicking "new product" doesn't move page: 500 internal server error can be seen in devtools|network.

## Description
It's impossible to create a product in katuma live.
I can see this with my user and then I also replicated it in a demo to a couple of farmers with their account: in alpha.katuma.org.
I tried it in both uk and fr live with my account, and it seems to

[2018-12-02 21:45] RachL commented on #3161
@myriamboure "continue" as well isn't it ?

[2018-12-03 07:09] kristinalim commented on #3163
Findings so far:

* I was able to create my first product successful.
* But any subsequent clicks to "New Products" give me HTTP 500 (not seen in the browser, only in Developer Tools).
* I am still able to access this URL directly: https://alpha.katuma.org/admin/products/new

[2018-12-03 09:17] kristinalim commented on #3163
There is evidence that the server occasionally runs out of memory:

[code]

Running `top` shows there is no swap file, and that there's little available memory at time of run which could be fully used up by a memory-intensive request or task. Running out of memory could cause the intermittent failure.

![20181203165827-alpha-katuma-top](https://user-images.githubusercontent.com/2243/49363557-ee107

[2018-12-03 09:48] luisramos0 commented on #3163
Good idea to access the URL directly @kristinalim
On many retries, I have managed to see the page load, but mostly errors out. It's the same for clicking the button or accessing the URL directly.

Yeah, there are no errors in the log files.

action 3. I believe it's done already, I pinged you on the slack channel where the alerts are going (I dont think we have alerts related to this problem).

I

[2018-12-03 10:23] kristinalim commented on #3163
alpha.katuma.org doesn't have a `config/initializers/bugsnag.rb`, nor any other file which has Bugsnag credentials.

@sauloperez The Bugsnag errors labelled "production" Katuma in the #devops-notification Slack channel seem to be from another server. Could you check, or send me the Bugsnag API key for alpha so I can configure?

[2018-12-03 10:48] sauloperez commented on #3163
That must be the last provisiong that broke it. We do have bugsnag API key. That's why I noticed this error in the first place as well as others.

Regarding actions, we plan to work on 1 throughout December by buying a new machine. I haven't put too much thought on 2 but sounds like a good temporal solution.

[2018-12-03 10:58] kristinalim commented on #3163
Indeed, I see `config/initializers/bugsnag.rb` in `/home/openfoodnetwork/apps/openfoodnetwork/releases-old/2018-11-29-145929`, so it could be because of the provisioning that `bugsnag.rb` isn't there anymore. `action_mailer.rb` is missing too. Might be good to provision again?

[2018-12-03 11:10] luisramos0 commented on #3163
I investigates a bit that error hamlout.
https://groups.google.com/d/msg/haml/RS3F3GXBNQA/FVko0Y8FjYwJ
where it says it could be related to using haml not available on helpers.
I just checked the closely related PR #3055 and confirmed this PR was not included in the last sure.

[2018-12-03 11:13] luisramos0 commented on #3163
wait, but this PR is part of the release: #3053

[2018-12-03 11:17] sauloperez commented on #3163
Meanwhile, I provisioned again providing 1G swap file and now I'm deploying a manually patched v1.23.0 to overcome the broken data migration. Things should be stable by now.

[2018-12-03 11:20] kristinalim commented on #3163
@luisramos0 But if that's the case, I think the action would consistently fail?

[2018-12-03 11:22] luisramos0 commented on #3163
yes @kristinalim.
I dont know, I just wanted to provide context: this part of the app was changed and the hamlout error could be related to that.

[2018-12-03 11:29] luisramos0 commented on #3163
I dont think that's correct Pau. I checked git log this morning and I saw 1.23.0

[2018-12-03 11:31] sauloperez commented on #3163
Ok, then it's `ofn-install` behavior. The migration failed but the code didn't roll back. I wasn't problem in this case but if the code being deployed depends on a migration in the same release we have a problem.

[2018-12-03 12:18] luisramos0 commented on #3163
with the new swap and new deployment I can't replicate this issue!
thanks guys!

I think we can ignore the hamlout error and consider this a memory problem on the server.
I'll keep an eye on this and re-open if happens again.

[2018-12-03 12:18] #3163 closed

[2018-12-03 17:53] kristinalim commented on #3067
@myriamboure Yes, we I agree with what you said above, so we are on the same page. :slightly_smiling_face:

@luisramos0 and @myriamboure I also got quite confused about the third case after @luisramos0 brought it up.

The stock tracker decrements the COH in the producer's counter. So yes, I was wrong, we could not simply copy the counter of the producer, because then this distributor will not shar

[2018-12-03 21:38] myriamboure commented on #3067
Hum... not sure I understand, so I'm tempted to trust your  judgment @kristinalim ...
When you say "when producer OD is currenty "No" it could have been "user producer stock setting", what I see is that today in inventory, any entry that has not been forced to "on demand" (override = yes) is:
- "user producer stock info" if no COH have been overriden
- "no" if a COH has been overriden
So I agree t

[2018-12-03 21:59] myriamboure commented on #3161
True @RachL I updated the title ;)

[2018-12-04 08:21] mkllnk commented on #3096
This is not a warning anymore: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/347

Our build is broken. We need to fix this as soon as possible.

[2018-12-04 08:32] luisramos0 commented on #3096
broken build, we stop the "production line" https://en.wikipedia.org/wiki/Andon_(manufacturing) :-)

[2018-12-04 09:07] sauloperez commented on #3096
I gave it a try and Webmock can't help us in this case since it's not a regular HTTP request made through a Ruby HTTP client but a <script> tag.

I believe the culprit is https://github.com/openfoodfoundation/openfoodnetwork/blob/66585e93a85f1d557a54345d52af1bac822f3a1f/app/views/layouts/darkswarm.html.haml#L19.

I also tried adding a guard clause with `Rails.env.production?` but darkswarm depends

[2018-12-04 09:41] luisramos0 commented on #3096
I'd go for:
1 - use Rails.env.production? and mock the google object with whatever is essential for the website to work (one option is to make a real call to the api and store the result somewhere in test support)
or
2 - add an API key to the build (I dont think it will be expensive)

[2018-12-04 09:51] luisramos0 commented on #3127
I run this report live in france for demo hub and it works after the release. So I confirm it's only a AUS issue.
@myriamboure do you want to confirm the report is still working for you? Thanks!

[2018-12-04 09:55] luisramos0 commented on #2938
the missing translation for the error message can be easily fixed with:
[code]

[2018-12-04 10:32] kristinalim commented on #3096
There's [`PuffingBillly`](https://github.com/oesmith/puffing-billy) which sets up a proxy for the browser and allows recording and stubbing browser requests. It should work like webmock and [`VCR`](https://github.com/vcr/vcr) for the browser. I think we should explore this option.

But I have to note that I had tried to get this to work on Ruby 1.9.3 / Rails 3.2.x / selenium-webdriver 2.53.4 / eve

[2018-12-04 11:30] #3137 closed

[2018-12-04 11:38] luisramos0 commented on #3096
yes, also because these two specs are not the most important (search by url). #3168 has a green build and awaits reviews ;-)

[2018-12-04 12:56] sineadfenton commented on #3159
![](https://github.trello.services/images/mini-trello-icon.png) [Labelling of Reports](https://trello.com/c/JMbRV1kL/58-labelling-of-reports)

[2018-12-04 13:17] sauloperez commented on #3127
Then it must be taking more than `unicorn_timeout` in AUS, whic is also 120sec

[2018-12-04 14:23] sineadfenton opened #3170 "Limit the available order cycles to select from for tagged shoppers"
## Description

An order cycle has been tagged for specific customers for a shopfront that uses registered only access.
Most shoppers will only have one order cycle that they can choose from, however these shoppers still have to click the order cycle selection box and choose the only available order cycle.

## Expected Behavior

Users should only see the available cycles

## Actual Behavior

Users

[2018-12-04 15:35] luisramos0 opened #3172 "[Spree Upgrade] Verify all points where scope_to_variant is used"
There are quite a few places where variants are scoped to become variant_overrides.
Now that the basic adaptation of VariantOverrides to spree 2 (#2559 and then #3232) is done, we need to verify each of these uses and make sure they are working as expected.
We must validate that scoping is working properly not just for count_on_hand and on_demand but also price, default_stock, resettable, sku and

[2018-12-04 23:21] mkllnk commented on #3127
It's not a timeout issue. See the stacktrace above and Sally's description:

[2018-12-05 10:04] sigmundpetersen commented on #2987
@luisramos0 I couldn't find the failed spec in latest 2.0 build so I guess we can close?

[2018-12-05 10:31] sigmundpetersen commented on #2982
@sauloperez can we unblock as #3049 is closed?

[2018-12-05 10:55] luisramos0 commented on #2987
yes, I checked yesterday but I forgot to the close the issue. thanks for the heads up!

well done @HugsDaniel for fixing this with a good approach!

[2018-12-05 10:55] #2987 closed

[2018-12-05 11:00] luisramos0 commented on #2982
yes, ready for dev. thanks @sigmundpetersen

[2018-12-05 11:36] luisramos0 commented on #2469
After #3167 we only have 4 broken tests to go.

[2018-12-05 12:52] sigmundpetersen opened #3178 "Page not found on Edit Taxonomies"
## Description

When trying to edit a Taxonomy you get 'Page not found' error

## Expected Behavior

Should enter the Edit page

## Actual Behavior

Page not found error

## Steps to Reproduce

1. In the BackOffice, Configuration -> Taxonomies
2. Right click a Taconomy and click Edit
3. Slug

## Animated Gif/Screenshot

![Untitled.png](https://images.zenhubusercontent.com/557dc8f44f7a08fbb7f338ff/

[2018-12-05 13:17] sigmundpetersen commented on #2216
Can we close? 🎉 @luisramos0 @sauloperez Or are there more stuff to be put into this Epic?

[2018-12-05 14:01] luisramos0 commented on #2216
yeah, as #2520 was moved to non-core, I think we can close this.
Checkout is working fine on v2 and the checkout shipping method id is handled in #2683 (part of the multi shipment epic).

[2018-12-05 14:01] #2216 closed

[2018-12-05 14:48] luisramos0 opened #3179 "Bump geocoder dependency"
Upgrade geocoder to v1.5 (or 1.4?).
This was raised by dependabot in #2738 but it will require work to validate and fix some issues detected.
This is not the top priority right now on our backlog.

[2018-12-05 14:49] luisramos0 commented on #3179
I tag this good first issue as, although this is not an easy task, it should be super cool for someone interested in the geocoding topic.

[2018-12-05 15:02] luisramos0 opened #3180 "Bump bugsnag from 4.1.0 to 6.8.0"
Raised by dependendabot, this upgrade requires some work as noted on #2865
This issue represents that work.

[2018-12-05 17:32] sauloperez opened #3182 "Bad performance on Katuma for /cart and /checkout"
## Description

On November 2018 Katuma's performance of /checkout and /cart are relatively slow (~5sec) compared to FR, AUS and UK (~2sec). See below

![screenshot 2018-12-05 at 10 42 48](https://user-images.githubusercontent.com/1640378/49508501-c59e8900-f87a-11e8-9f2a-7c079d918277.png)

When checking /cart on Skylight, for instance the time distribution differs between France and Katuma.

![scr

[2018-12-05 17:43] sauloperez opened #3183 "Notify deploys to Bugsnag"
## Description

Bugsnag would we much more useful if we could know:

* When a deploy happened. I guess that would be displayed in Bugsnag's timeline as an axis.
* Know the release being used on a particular failure. This will help trace down its root cause.

This will also help us correlate issues when experiencing errors on production.

## Possible fix

Bugsnag's documentation is quite good and h

[2018-12-05 17:52] sauloperez opened #3184 "Integrate Bugsnag's JS library"
## Description

While we do have Bugsnag to track errors on the backend, we don't have any visibility over the errors that happen on the client side.

We should integrate the Bugsnag's JS library to achieve it. They even have an [Angular integration guide](https://docs.bugsnag.com/platforms/javascript/angular/). But don't get too excited; chances are that our version is far too old compared to tha

[2018-12-05 20:04] sauloperez commented on #3101
Should be fixed with the release v1.23.1

[2018-12-05 20:06] sauloperez commented on #3183
Notifying should be rather straightforward with Ansible's [uri_module](https://docs.ansible.com/ansible/2.5/modules/uri_module.html)

[2018-12-05 22:40] luisramos0 commented on #2559
I think the basic scope of this issue was covered in #3147 and #3158
I have created #3172 for the follow up and review of all other non-basic scoping processes. There are quite a few things we need to test in there. I added a note to #3172 mentioning that included in #3172 must be the validation that scoping is working properly not just for count_on_hand and on_demand but also price, default_stock

[2018-12-05 22:40] #2559 closed

[2018-12-05 23:15] luisramos0 commented on #3118
After #2559 one remaining error:

[code]

[2018-12-06 01:05] mkllnk commented on #3184
We use the JS integration in the Fair Food project. This simple snippet in the layout does the trick:
[code]

[2018-12-06 07:59] #3028 closed

[2018-12-06 08:47] luisramos0 commented on #3112
#3171 fixed the 2nd and 3rd broken specs in this issue. One remaining, to be fixed in #3119

[2018-12-06 11:48] sigmundpetersen commented on #2145
FIxed by #2606. Correct me if I'm wrong.

[2018-12-06 11:48] #2145 closed

[2018-12-06 11:49] sigmundpetersen commented on #2144
Fixed by #2572. Correct me if I'm wrong.

[2018-12-06 11:49] #2144 closed

[2018-12-06 12:02] sigmundpetersen commented on #2146
Removed in #3106. Can this be closed? @sauloperez @luisramos0 @mkllnk

[2018-12-06 12:42] luisramos0 commented on #2146
#3106 is closed, not merged.

[2018-12-06 12:46] sigmundpetersen commented on #2146
Ah, good thing I asked 🙂

[2018-12-06 13:17] sigmundpetersen commented on #223
Hey @luisramos0 @sauloperez is this outdated? Are we using SimpleCov for this?

[2018-12-06 15:58] luisramos0 commented on #2995
tschumilas [Today at 3:52 PM]
More questions on the taxonomies and associated github ussues above @sigmundpetersen @Luis Ramos -  so it seems like 2995 is about getting more useful error messages when you can't delete a taxon (because its associated with an active product).  I'm trying to delete taxons - and I've gone through and am quite sure they are no longer associated with a product in a prod

[2018-12-06 15:59] luisramos0 commented on #2995
Theresa, I think the best way is to post exact details about your case, what taxonomy are you trying to delete in what instance. That way some dev can go there and verify.

[2018-12-06 16:35] acmh commented on #3184
Hi @mkllnk, can I make a PR for this issue?

[2018-12-07 00:04] mkllnk commented on #3184
Sure. The API key is probably best configured in `application.yml`.

[2018-12-07 01:54] sstead commented on #3178
On Aus staging and production...
I didn't get the same menu that @sigmundpetersen saw when I right clicked. I could successfully edit the taxonomy by clicking the edit button on the right.
![image](https://user-images.githubusercontent.com/10843056/49622770-fa4b4580-fa1e-11e8-8b96-e8619a88bff8.png)

[2018-12-07 02:56] mkllnk opened #3192 "ActiveRecord::StatementInvalid in admin/order_cycles#update"
## Description

Entering pick up instructions that exceed 255 characters leads to a server error.

**ActiveRecord::StatementInvalid** in **admin/order_cycles#update**
PG::StringDataRightTruncation: ERROR:  value too long for type character varying(255)
: UPDATE "exchanges" SET "pickup_instructions" = 'Pick up options are:

[2018-12-07 03:54] mkllnk commented on #2834
I updated the German instance to latest master and it solved this problem.
![screenshot from 2018-12-07 14-54-08](https://user-images.githubusercontent.com/3524483/49626901-0c81af80-fa30-11e8-9b98-7953d6d080e3.png)

[2018-12-07 03:54] #2834 closed

[2018-12-07 03:55] sstead opened #3193 "& symbol (Ampersand) displaying as &amp;"
## Description
On the Inventory page and the OC index page, if a enterprise title contains an `&` then it displays as `&amp;`
![image](https://user-images.githubusercontent.com/10843056/49626813-9aa96600-fa2f-11e8-80c1-b2cb6db202a1.png)

## Expected Behavior
An `&` should always display correctly.

## Actual Behavior
`&` shows as `&amp;` sometimes.

## Steps to Reproduce
1. Put an `&` in a enterpr

[2018-12-07 05:52] mkllnk commented on #2938
The missing translation is added already. This issue is about spec `./spec/features/admin/orders_spec.rb:48`. While the reported error is in line 72, there is now one in line 74:

[code]

I'm treating this now as the task to fix that spec.

[2018-12-07 07:56] sigmundpetersen commented on #3178
Okay I see now that it's actually in the Edit sub-menu itself the screenshot is from. There you get the right click menu.

The original use case that didn't work was uploading icons to taxonomies. Where is that supposed to be done? Is this the place? @sstead

[2018-12-07 07:58] sigmundpetersen commented on #3178
Ping @NickWeir63 on this as well, he was trying to upload icons.

[2018-12-07 08:02] sigmundpetersen commented on #3193
🙂 This definitely must be an encoding problem, because I see only correct symbols reading this issue on Slack, but in Github I see some different symbols.

[2018-12-07 11:18] mkllnk commented on #2938
An explanation of this error:

When you create or modify an order, you can add variants. You select a variant by searching for it. Search results are displayed in a little box and the variant is displayed with some basic data like SKU and stock level.

1. The user enters `potato` into the search field.
2. A JSON request is sent to the server.
3. The resulting variants are rendered as JSON in `app/

[2018-12-07 12:54] luisramos0 commented on #2979
#3055 is merged so this is ready to be done.

[2018-12-07 22:36] haseleyi commented on #2944
Regarding the ordering of taxons, are these taxons in the sample data supposed to be alphabetically ordered when we visit this view?

![image](https://user-images.githubusercontent.com/18274798/49676120-4d2bf980-fa2d-11e8-95cd-ba24819fda72.png)

[2018-12-08 13:41] luisramos0 commented on #3091
Maybe one more candidate for de-deface, or maybe just needs a de-deface specialist to sort it out @Matt-Yorkley @HugsDaniel

[2018-12-10 02:51] sstead commented on #3178
On Aus production our categories are all housed under one Taxonomy. I can't see anywhere to upload icons, so I imagine that's something a dev needs to do.
![image](https://user-images.githubusercontent.com/10843056/49708179-9f198d00-fc82-11e8-98b4-5c4e37f4c2e9.png)

[2018-12-10 02:58] tschumilas commented on #3178
We have not icons for taxonomies on the OFN-CAN instance either - and I get the snail when I try to select 'edit' in the sub menu.  I'd also like to figure out what the expected behaviour is re: deleting taxons.  Under what circumstances should I be able to delete a taxon?   I've made sure there are no active products with the taxon - but I still can't delete.  ??

[2018-12-10 10:47] sauloperez commented on #2144
Yep, thanks for the heads-up

[2018-12-10 10:48] sauloperez commented on #2145
Yep, thanks for the heads-up

[2018-12-10 10:55] sauloperez commented on #223
We're using SimpleCov for development but as I mentioned in #2889 we could use CodeClimate to check it on all PRs. I think we can close this one and have #2889 only.

[2018-12-10 10:57] sauloperez commented on #3192
![](https://media.giphy.com/media/14aUO0Mf7dWDXW/giphy.gif)

[2018-12-10 11:24] sigmundpetersen commented on #223
Closing in favour of potential use of CodeClimate.

[2018-12-10 11:24] #223 closed

[2018-12-10 12:32] #2929 closed

[2018-12-10 21:08] haseleyi commented on #2944
Sounds good thanks! Just to understand how the current code works for context, where does the alphabetical sorting kick in? I created new taxonomies and children therein and wasn't able to find it. I ask because we're currently ordering by the taxon's name property, but if that works, then ordering by the position property sounds promising.

[2018-12-10 21:16] sigmundpetersen commented on #2944
I think the alphabetic sorting relates to the dropdown in new/edit product, c.f. #2945 #2946
And not this main Taxonomy page

[2018-12-10 23:12] luisramos0 commented on #2944
yes, correct @sigmundpetersen

[2018-12-11 00:12] #2938 closed

[2018-12-11 00:35] haseleyi opened #3200 "Missing "required field" stars in New Product form"
## Description

When we create a new product in the back office, leaving the "Unit Size" field blank results in an error message. We're missing a red star to indicate a required field there. Similarly, the "Value" field is missing a star.

![capture](https://user-images.githubusercontent.com/18274798/49770176-13126000-fc98-11e8-9666-236fac2ecf3d.PNG)

## Steps to Reproduce

1. Login and visit Admi

[2018-12-11 01:00] haseleyi commented on #2944
Is this the box discussed in that issue?
![capture](https://user-images.githubusercontent.com/18274798/49771231-0ba18580-fc9d-11e8-9e13-10aefb0ecc22.PNG)

[2018-12-11 01:42] haseleyi commented on #2945
The product categories look alphabetical in the New Product form, but mine are not alphabetical in the Edit Product form after adding some:

![capture](https://user-images.githubusercontent.com/18274798/49772627-d6983180-fca2-11e8-860f-5652df63530b.PNG)

[2018-12-11 06:40] jhsu802701 opened #3202 "Seeding process: Stop asking for input!"
## Description
During the process of seeding the database, I'm asked for an email address and password for the admin user.

## Expected Behavior
When I seed the database in an app, I expect the script to proceed without my input.

## Actual Behavior
Although there is a default email address and password, the script can't go on until I confirm them.  I HATE babysitting processes.  I just want to fi

[2018-12-11 07:38] sauloperez commented on #3202
I know it can be improved but have you tried using the [yes](https://en.m.wikipedia.org/wiki/Yes_(Unix)) command?

[2018-12-11 08:42] myriamboure commented on #2944
Something I don't understand though, the alphabetical order is just "temporary" solution right ? Then we want the taxonomy to appear in the new product dropdown in the order of creation in the configuration panel. Do we agree on that ? That's all the point of enabling to reorganize the taxonomies ;-)

[2018-12-11 08:56] myriamboure commented on #2944
Something I don't understand though, the alphabetical order is just "temporary" solution right ? Then we want the taxonomy to appear in the new product dropdown in the order of creation in the configuration panel. Do we agree on that ? That's all the point of enabling to reorganize the taxonomies ;-) Maybe I didn't follow the whole discussion so forget me if I'm questioning things already discusse

[2018-12-11 11:34] luisramos0 commented on #2945
Hey @haseleyi thanks for verifying this!
I tested this again and it looks good to me.
Are you on the latest master?  I dont understand why your "product category" is showing up on the left side, it should be on the right side below variant unit scale...

[2018-12-11 11:45] luisramos0 commented on #2944
@haseleyi this is where categories are sorted alphabetically:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2946/files#diff-a4cf1ce3a963317af4147eb7a2f36992L5

yes @myriamboure , alpha sorting is temporary until we implement this issue here.

Lets forget about "sort by creation order". I meant: lets put the new taxonomies in the end of the list (it's how it is working right now) and l

[2018-12-11 13:49] luisramos0 commented on #3114
The current error is this:

[code]

The process of adding, editing and deleting variants in the bulk product update page is still not working. I believe that's the reason why this spec is failing. Could be related to some problem in handling on_hand and on_demand correctly.

[2018-12-11 15:44] luisramos0 commented on #3031
Looking at this with the branch in #2982, I cant figure this one out...
The redirects are working correctly, but for some reason the 302 response is not showing up on the test. It does show on dev tools _ network when testing manually.
@sauloperez do you want to have a look at this one? Could be a quick one for you.

[2018-12-11 15:54] luisramos0 commented on #3122
#3197 fixed the first test, the two remaining ones are fixed in #3203

[2018-12-11 18:35] luisramos0 commented on #3099
ah, ok. not a problem. I just thought we should check times in matomo.

PR #3151 improves time by 30% which is great! but the pages will still take over 20secs to load. I don't think we should close the issue.

[2018-12-11 18:40] luisramos0 commented on #3118
This test was introduced here:
https://github.com/openfoodfoundation/openfoodnetwork/commit/7a5c56cbcabcd78901a364849e9ff945b32916f6

I am having some trouble understanding what's going on here:
- is this a problem with overrides stock management in the cart_controller populate or stock_levels part that leaves the cart dirty on the frontend and blocks the test? or is this a problem with the out of

[2018-12-11 19:26] luisramos0 opened #3204 "[Spree Upgrade] Fix line Item spec - capping quantity at stock level (2 broken tests)"
Originally part of #2943
Moving to separate issue to be handled separately.
This is one of the entries in #3172

The 2 specs related to capping quantities:
- rspec ./spec/models/spree/line_item_spec.rb:100 # Spree::LineItem capping quantity at stock level caps at zero when stock is negative
- rspec ./spec/models/spree/line_item_spec.rb:126 # Spree::LineItem capping quantity at stock level when a v

[2018-12-11 19:34] luisramos0 opened #3205 "[Spree Upgrade] Fix line Item spec - line item destroy updates override stock (2 broken tests)"
Originally as part of #2943.
Moving to separate issue to be handled separately.
Could be related to #2929 and its PR #2930 or just some scoping issue in the line item model (see #3204 ).

The 2 broken specs related to destroying line items and updating VO stock:
rspec ./spec/models/spree/line_item_spec.rb:170 # Spree::LineItem tracking stock when a line item is destroyed when the order is already

[2018-12-11 19:35] luisramos0 commented on #2943
The broken specs are separate and will require some investigation so I created separate issues for them. #3204 and #3205. Closing this one.

[2018-12-11 19:35] #2943 closed

[2018-12-11 23:46] mkllnk commented on #3118
I think I know what's going on. We make the variant out of stock, but the variant override still has stock. Since the override is holding the truth, we should be able to check out and we shouldn't see any mention of "Out of stock".

I'm not sure why the checkout fails here. It could be a problem with overrides not being applied. There may be another error making the cart invalid. That's what we ne

[2018-12-12 02:41] haseleyi commented on #3041
I looked into this one and had some fun pinning it down:
* I searched the project for "please enter 3 or more characters" and didn't find it
* I searched our version of spree and didn't find it
* I searched foundation and didn't find it
* I googled the phrase and got this: https://github.com/translate/pootle/issues/6461. So the text comes from the gem select2-rails.
* I searched for select2 in our

[2018-12-12 04:29] haseleyi commented on #2945
I just fetched and the view remained that way - curious. I even found the ordering that you're talking about:

![image](https://user-images.githubusercontent.com/18274798/49847133-70371000-fd83-11e8-9864-d2090920afe2.png)

[2018-12-12 11:11] sauloperez commented on #3099
Not at all. It's been a good first step that helped identify the source of the performance bottleneck.

As I mentioned, that PR was just a way to mitigate the problem. There's another N+1 I can remove which will reduce the response time even further but we should work on designing the pagination meanwhile and creating the necessary issues to implement it.

thoughts?

[2018-12-12 11:13] luisramos0 commented on #3118
ah, how did I miss that? :-)
thanks a lot @mkllnk

Ill see what's going on now. I find it weird that there's no scoping done  on stock_levels.on_hand here...
https://github.com/openfoodfoundation/openfoodnetwork/blob/046ba14da4111176270d8e9ddaf8164b9dc59bf7/app/controllers/cart_controller.rb#L33-L46

[2018-12-12 11:41] luisramos0 commented on #3099
- removing another N+1 👍
- designing /implementing pagination  - to @kirstenalarsen point, I'd leave that for a redesign phase
- I think the next step is to increase server capacity or separate the webapp from the database - have we considered this already? it needs to be done at some point right? 1 server for the app, one server for the db. if we are even considering merging instances (single ins

[2018-12-12 12:16] sauloperez commented on #3099
Removing an N+1 it's a must but won't solve the underlying problem.

Splitting our single servers into app server + DB server it's something we'll definitely do at some point but... Comparing implementing pagination vs. implementing a DB server, the former undoubtedly wins. Besides, it has to happen sooner or later. Limits must be said on all endpoints.

[2018-12-12 12:21] sauloperez commented on #3118
I'm so looking forward to end the variant overrides madness...

[2018-12-12 12:36] luisramos0 commented on #3099
what do you mean with "wins"?
in terms of estimation, implementing a DB server is a lot smaller, right?
pagination is something that will require UX, right?

[2018-12-12 12:51] #2683 closed

[2018-12-12 12:51] luisramos0 commented on #2683
fixed in #2216

[2018-12-12 12:53] sauloperez commented on #3099
there is where I disagree. To me, it is incomparably harder and longer (by few orders of magnitude :trollface: ) than implementing pagination, which requires moving some logic from the frontend to the backend, let's not forget.

With my far-from-perfect sysadmin skills these are the steps I foresee this would have:

* Buying a new DB server
  * we can do it as we do now, one for each instance
  *

[2018-12-12 12:54] luisramos0 commented on #2999
closed by #2775

[2018-12-12 12:54] #2999 closed

[2018-12-12 13:14] luisramos0 commented on #3099
awesome: I copypasted this conversation to https://community.openfoodnetwork.org/t/ofn-physical-architecture/1523 lets talk there.

the scope of this issue can still include n+1 change (smaller) and the pagination work (not so small). they are all independent tasks btw.

[2018-12-12 15:40] luisramos0 commented on #2945
do you mean pull? fetch will not update your local branch.

You need this commit in your local copy:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2946/commits/82befd945be73aaa419759a91c36f4a02679eafd

see the content of this file:
app/views/spree/admin/products/_primary_taxon_form.html.haml

should have Spree::Taxon.order(:name) not Spree::Taxon.all

[2018-12-12 19:05] haseleyi commented on #3041
It's in the select2-rails gem. Mine is here: .rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/select2-rails-3.5.10/vendor/assets/javascripts/select2.js
I found this by finding an instance of "select2" in our code (in variant_autocomplete.js.coffee). Visiting its declaration took me to select2.js.
Is it possible to translate a string coming from outside OFN and outside Spree?

[2018-12-12 23:04] luisramos0 commented on #3090
These specs detect 2 bugs in spree 2's AvailabilityValidator, one fixed in v2.1:
https://github.com/spree/spree/commit/131c4e23fffa4e704e1e44dc23d0af2b27df21cf#diff-2b2c15ea125101a67e11f549cc7ebfa6
and another one fixed in 2.4.0:
https://github.com/spree/spree/commit/a9d3ad91189ee11a6b05641db4c537e3a52ff773#diff-2b2c15ea125101a67e11f549cc7ebfa6

These OFN specs need both fixes.

The bugs are prett

[2018-12-13 01:54] kristinalim commented on #3067
**Posted by @mkllnk in [this comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/3198/files#r241223899)**:

Yes, that is one of the two scenarios I mentioned. I'm not 100% sure, but I think the effect is a bit different than what you describe. We are talking about this scenario:
[code]

Changes to the variant override don't affect the producer view at all. But the shop would see a

[2018-12-13 03:03] kristinalim commented on #3067
With this scenario:

[code]

The Inventory page actually shows "On demand":

![20181213102004-scenario-1](https://user-images.githubusercontent.com/2243/49911293-ca89bb00-fec0-11e8-8fe9-0a071cda8616.png)

But the shop uses the producer's invisible COH.

As have been discussed, there are two ways to address this bug:

1. Set override's COH to producer's invisible COH
    * **Pro/Con:** Use the curr

[2018-12-13 05:53] kristinalim commented on #3067
I forgot to talk about the second scenario:

[code]

@mkllnk This is wrong:

What happens is the shop treats the variant as having limited stock. Testing with VO COH of 0 removes the variant from the shop, and VO COH of 1 lists it.

So I would proceed with setting `variant_override.on_demand = false`.

[2018-12-13 06:05] mkllnk commented on #3127
I looked into the Australian production database and found a cause for this. There are orders that have adjustments (fees) including tax. Some of these adjustments are calculated based on line items that have been deleted. The logic to find a tax rate doesn't expect a missing line item and returns `nil`.
[code]

Now I'm wondering:

* Should we make `tax_rates` return an empty array `[]` or use `fi

[2018-12-13 06:31] mkllnk commented on #3127
Spree::LineItem deletes any adjustments connected it when destroyed:
[code]

[2018-12-13 07:16] sauloperez commented on #3090
I would cherrypick these patches to our fork's branch as we did for couple others and mention it in the fork's README to make it even more obvious in the future (that is what I did when we started off of 2.0.4)

[2018-12-13 08:04] kirstenalarsen commented on #1554
Fees report is underway - #2673

No idea how important the request to add tax category in customer totals report is, but I suspect it is something that will need to be solved via https://community.openfoodnetwork.org/t/provide-a-more-flexible-reporting-functionality-with-rich-data-access/1197/7

@sstead - can you make sure that is recorded in the aus feature list and just ping me to let me know wh

[2018-12-13 08:04] #1554 closed

[2018-12-13 10:37] sauloperez commented on #3127
I haven't read the code you pasted above but if Spree has that dependent destroy then there is something about it that is not working, right?

If the line item is deleted you won't need the adjustment anymore.

[2018-12-13 11:06] Matt-Yorkley commented on #3099
It looks like it was merged 7 hours before the last release, doesn't that mean it was included in v1.23.1? It's not in the release notes though.

[2018-12-13 11:46] sauloperez commented on #3099
I did pin the release on a paricular commit before that, so unless I committed a mistake it's not in there.

[2018-12-13 11:59] luisramos0 commented on #3090
It's complicated because the second fix (the one we need from 2.4) depends on this DB change  from v2.2: https://github.com/spree/spree/commit/dcbd5deae87f046f147b394730b8ee277e0e50df#diff-d4464f8dddd86dd147739f1fcf6d589b

Instead of going line_item.inventory_units (created in the change above), because we only have one shipment per order, we could do line_item.order.shipment.inventory_units...

[2018-12-13 12:12] luisramos0 commented on #3127
Nice one @mkllnk
Have you tested it in a normal scenario? Create order with line item adjustments, then delete line item, look if adjustment is there or not. Is the adjustment being destroyed for this normal case?

[2018-12-13 16:40] Matt-Yorkley commented on #3099
Okay, so when we draft the next release, the usual method of finding PRs by date range won't work. I'll try to remember, I'm doing the next one...

[2018-12-13 20:11] Matt-Yorkley commented on #3101
Can we close this now then @sauloperez ?

[2018-12-13 20:36] myriamboure commented on #3067
Hum... in term of UX I don't think option 1 is acceptable, as most shops actually don't manage any inventory and this case apply to all of them. It means we would force them to start managing an inventory... which is not acceptable IMO.

I would rather go for option 2, which is what was the intent of the distributor with this setup. If the don't manage inventory (have not changed anything from pro

[2018-12-13 22:43] mkllnk commented on #3067
@kristinalim

Thank you for verifying that. It's a very confusing behaviour, probably to the bad implementation. Your solution sounds right. For affected enterprises we should probably create two files:

1. The special case discussed where the admin view or the shop view (option 1 or 2) changes. All variants should be listed so that the shop can adjust if needed.
2. All other cases that should be

[2018-12-13 22:51] luisramos0 commented on #3078
@sauloperez if you are looking for another spree upgrade issue, I think you will handle this one really quickly

[2018-12-14 01:18] kristinalim commented on #3067
@myriamboure I'm inclined to follow your opinion because you have a better relationship with the users, but just throwing this question before I make changes again.

About Option 1, it's not clear to me what you mean with "start managing". Were you saying this would be one-time or continuous? You said:

The user could just change the setting back to "Use producer stock settings", as a **one-time**

[2018-12-14 01:33] myriamboure commented on #3067
I didn't understand that the user had already clicked at least once on the on demand check box and then unchecked. I'm not sure it changes my opinion, as if they unchecked it and have not setup a COH they do want to follow producer stock, don't they ?
- if they manage themselves the producer catalog they would have put the COH there, eventually they would have left on demand and manage in OC if th

[2018-12-14 01:37] kristinalim commented on #3067
Okay, understood. :slightly_smiling_face: I will update the PR. Thanks for your quick reply @myriamboure!

[2018-12-14 04:39] daniellemoorhead commented on #2756
Hey @luisramos0 @HugsDaniel @RachL @myriamboure this is a problem for one of our users in Australia too. So the sooner we get it fixed the happier the entire world will be 😄

[2018-12-14 04:56] daniellemoorhead commented on #2703
Hey @mllocs how are you doing this this? Any progress?

Just checking in, last update was 22 days ago so if you've been too busy I'll move this one back to dev ready till you're ready to pick it up again. Or if you're slowly working on it then that's great. Would like an update though, just so we know 😄

[2018-12-14 05:00] daniellemoorhead commented on #3119
OK team, it's been 18 days since any change on this issue.

@HugsDaniel @luisramos0 @mkllnk does it need to stay in the in dev column or should it move back to Dev Ready till you pick it up again?

#toomanythingsinthepipe
#toottoot

[2018-12-14 05:09] daniellemoorhead commented on #2416
Hey @HugsDaniel 👋 🙃
It's been 22 days since this was touched last. Are you still working on it or should we move it back to dev ready till you get back onto it?

#toomanythingsinthepipe
#toottoot

[2018-12-14 05:12] daniellemoorhead commented on #2243
Hey @kristinalim 👋
This has been sitting in the In Dev column with no progress since late September. I'm assuming you're not working on it at the moment so I feel like we should close the PR and move this issue back to Dev Ready.

@myriamboure do you agree? Is this something that is a bigger priority than the other work @kristinalim has on her plate at the moment?

[2018-12-14 05:17] daniellemoorhead commented on #2836
@Matt-Yorkley @RachL it's been 18 days since this went back to the In Dev column and no activity since.

Is this a bigger priority than the other work on Matt's list at the moment? Should we be prioritising the product import work (finally) being done and dusted and not thought about anymore, over bulk invoice printing and other things? I'd like to think the answer is yes, but will leave it to you

[2018-12-14 05:30] daniellemoorhead commented on #3122
Shall we move this issue back to In Dev column then @luisramos0, because you're likely to have more PRs for it? I don't think there's anything to review on it right now.

#toottoot

[2018-12-14 05:32] daniellemoorhead commented on #3031
Hey @sauloperez now that #3206 is merged can this be closed, or will further work be done on it and therefore it should be back to the In Dev column?

#toottoot

[2018-12-14 05:33] daniellemoorhead commented on #3018
Hey @luisramos0  now that all referenced PRs are merged can this be closed, or will further work be done on it and therefore it should be back to the In Dev column?

#toottoot

[2018-12-14 05:34] daniellemoorhead commented on #3077
Hey @luisramos0  now that #3207 is merged can this be closed, or will further work be done on it and therefore it should be back to the In Dev column?

#toottoot

[2018-12-14 06:12] mkllnk commented on #3127
Thanks @luisramos0. I tried to re-produce this in a spec and the adjustment got deleted. But thanks to your hint I now tried it through the admin panel and can re-produce this:

- Go to Enterprises / Enterprise Fees and add a packing fee with flat percent per item.
- Adjust the percentage to 10%.
- Include that fee in an order cycle.
- Create an order with multiple line items.
- Go to admin / orde

[2018-12-14 06:16] mkllnk commented on #3127
That actually leads to a wrong order display, because the fees are not listed separately:
![screenshot from 2018-12-14 17-16-00](https://user-images.githubusercontent.com/3524483/49986420-fc377a80-ffc3-11e8-8102-6258688d66ae.png)
The 20 cents difference are the lost fee that should have been deleted.

[2018-12-14 06:20] daniellemoorhead commented on #3192
Sad...but LOL @sauloperez

[2018-12-14 08:54] luisramos0 commented on #3127
Nice, it's pretty clear now!
"And I'm sure there was a reason to solve it this way."

Maybe just lack of time or difficulty to make the line_item.destroy also remove the adjustment?
Shall we fix it in v2? I am working on line item destroy at the moment in #3205

[2018-12-14 08:58] luisramos0 commented on #3127
It could just be a problem with the dependent: destroy on the polymorphic relationship?
https://github.com/openfoodfoundation/spree/blob/41906362d931695e0616194341a68d2c4c85aaaf/core/app/models/spree/line_item.rb#L8
https://github.com/openfoodfoundation/spree/blob/41906362d931695e0616194341a68d2c4c85aaaf/core/app/models/spree/adjustment.rb#L29

[2018-12-14 09:32] luisramos0 commented on #3119
up to @HugsDaniel to see if he is doing this one soon or not

[2018-12-14 09:57] luisramos0 commented on #3122
It's fixed!

[2018-12-14 09:57] #3122 closed

[2018-12-14 09:58] luisramos0 commented on #3031
It's fixed.

[2018-12-14 09:58] #3031 closed

[2018-12-14 09:59] luisramos0 commented on #3018
It's fixed!

[2018-12-14 09:59] #3018 closed

[2018-12-14 10:00] luisramos0 commented on #3077
Fixed :-)

[2018-12-14 10:00] #3077 closed

[2018-12-14 10:06] luisramos0 commented on #2469
My "in dev" here meant creating the branch and clean it up. That's done.

Now, someone needs to try to fix these 6 tests at some point.

[2018-12-14 10:30] luisramos0 commented on #2435
This has been addressed. Closing the issue.
We will review this in detail when we get to manual testing v2. Very soon :-D

[2018-12-14 10:30] #2435 closed

[2018-12-14 10:52] sigmundpetersen commented on #3178
One question on setting severity is - What is the right-click-edit-action actually supposed to do? Does it open a modal? What can you edit? Has anyone ever done this? 😃 I couldn't find any guides on this. @myriamboure @RachL

[2018-12-14 10:57] sigmundpetersen commented on #2469
Maybe we could turn this into an Epic and create 6 issues for those? What do you think @luisramos0 ?

[2018-12-14 11:00] luisramos0 commented on #2469
Maybe. Someone needs to look at the specs and decide. I dont think we have 6 problems here, maybe only 3 things to be fixed.

[2018-12-14 11:01] sigmundpetersen commented on #2469
Ping @mkllnk

[2018-12-14 11:09] sigmundpetersen commented on #3099
Hey @Matt-Yorkley we discussed the release process a bit [here](https://openfoodnetwork.slack.com/messages/C0DNLAZC7/convo/C0DNLAZC7-1543242624.102000/?) and added a part under "Draft a new release..." bullet [here](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Releasing#how-to-make-a-release-spiral_notepad-white_check_mark) that for consistency we should pin the release to the last m

[2018-12-14 11:45] sauloperez commented on #3099
nice catch @Matt-Yorkley . Don't forget to update the wiki once you do.

[2018-12-14 11:48] sauloperez commented on #3101
Let me check

[2018-12-14 11:51] sauloperez commented on #3101
Nope :sob: I just check on Katuma's production and navigating through the app outputs

[code]

[2018-12-14 12:05] sigmundpetersen commented on #3099
Yes I understand now, you're right of course. 🙈

[2018-12-14 12:07] sigmundpetersen commented on #3099
So we need to use the date range from the _date of the last commit_ included in last release then?

[2018-12-14 12:39] kristinalim opened #3214 "[Enterprise Fee Summary] Explore refactoring the SQL in `Scope`"
Explore refactoring the SQL in `Scope`.

## Description

Explore refactoring some SQL statements in the Scope class. Are there places where we can use existing associations? Can we use [Arel](https://jpospisil.com/2014/06/16/the-definitive-guide-to-arel-the-sql-manager-for-ruby.html) here?

See [this review thread](https://github.com/openfoodfoundation/openfoodnetwork/pull/3115/files/2628fe02084e0

[2018-12-14 12:54] kristinalim opened #3215 "[Enterprise Fee Summary] Move controller, assets, views to engine"
Move controller, assets, views to "order_management" engine.

## Description

Move controller, JS, and views for the report page to the engine. This needs some discussion - the controller has a lot of dependencies that are shared with other controllers.

See [this review thread](https://github.com/openfoodfoundation/openfoodnetwork/pull/3115/files/2628fe02084e06c40d5a829a222188d36ec6d55d#diff-37c9

[2018-12-14 13:06] kristinalim opened #3216 "[Enterprise Fee Summary] Handle authorization with CanCan"
Handle authorization with `CanCan`.

## Description

Explore using `CanCan` to handle authorization done by the `Authorizer` class. Note that this class merely checks parameters against allowed values. The logic for determining allowed values are in the `Permissions` class.

We need to make sure that this logic is still testable.

See [this review thread](https://github.com/openfoodfoundation/open

[2018-12-14 13:08] kristinalim opened #3217 "[Enterprise Fee Summary] Move some setup code to factories"
Move some setup code to factories.

## Description

See where it is okay to use factories instead of custom setup methods.

See [this review thread](https://github.com/openfoodfoundation/openfoodnetwork/pull/3115/files/2628fe02084e06c40d5a829a222188d36ec6d55d#diff-0694184776099d8ac1f067dfff40e2b6).

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable

[2018-12-14 14:11] tschumilas commented on #3178
Having correct and functioning taxons is essential in complex shops to help users find products.  There are many cross-instance issues it seems with taxons,  but I think our first problem, as @sigmundpetersen points out is that we don't understand what the expected behavour is,  and there is no guide/documentation on his.  Is this a spree upgrade issue I wonder?  Why does spree have right click ac

[2018-12-14 14:42] #3061 closed

[2018-12-14 14:55] HugsDaniel commented on #2416
Hey @daniellemoorhead I'm still on it ! It's actually related to #3109 for which I opened this pr #3194. Maybe I can close this one and add its informations to #3109 , what do you think ?

[2018-12-14 14:57] HugsDaniel commented on #3119
I think we can put it back to Dev Ready, I have other things to do before.

[2018-12-14 15:01] HugsDaniel commented on #2756
I worked on it last week and a bit this week, but still have no clue why it's only broken in French and Aus prod. I'd need some help on this one if someone have time. @luisramos0 @sauloperez @mkllnk @Matt-Yorkley ?

[2018-12-14 22:05] myriamboure commented on #3178
See that issue @sigmundpetersen https://github.com/openfoodfoundation/openfoodnetwork/issues/2130 we explain the solution but we need someone at some point to do it ;-)
Then is it's a problem about documenting properly what is and how to do things as super admin, let's update the super admin handbook ! Let's finish it and publish it !

[2018-12-14 22:44] myriamboure commented on #2836
Agree with you @daniellemoorhead I commented on the PR as we are kind of stuck on how to move forward on this one, but I'm putting some reminder of the last other remaining issues for @Matt-Yorkley to tackle them :-)

[2018-12-14 22:46] myriamboure commented on #3116
@Matt-Yorkley I agree with @daniellemoorhead that finishing PI should be your first priority. When trying to make too many things move forward in parallele things get stuck for weeks... like this one since 2 weeks ;-) Can you please check what's the issue ? Thanks !

![](https://media.giphy.com/media/l1J9ETWjKTdN7FZOE/giphy.gif)

[2018-12-14 22:48] myriamboure commented on #2243
It is the most annoying issue in subscription, but @kristinalim is working on another S2 issue which is more prioritary.... so let's queue it. We need to find some dev to work on subs anyway as there are around 10 remaining issues to fix before release (which I saw you did already in Aus ;-)) So if we close I would leave the issue pretty high in the dev ready column.

[2018-12-14 23:09] tschumilas commented on #3178
Thanks @myriamboure  for clarifying this issue with the taxon tags.  I know its not the issue here - but I'm wondering if you know the exptected behaviour re: editing taxons?   Try as I might -  I can't do it.  I delete any products with the taxon.  I even cancel past orders whose products might have had the taxon.  I cannot delete.  I don't open an issue because I don' t know what is the expected

[2018-12-14 23:14] sigmundpetersen commented on #3178
I think deletions are not possible because of underlying database connections. Even if you delete products or cancel orders, the connections are still there in the system. We need to implement soft-delete taxons, i.e. to hide them from view.

This issue is only regarding _editing_ taxons, so let's focus our discussion on that.

[2018-12-16 20:05] luisramos0 opened #3222 "Broken stock levels on product list page when product added and removed quickly from basket"
## Description
I am pretty sure there is a bug in this commit/line:
https://github.com/openfoodfoundation/openfoodnetwork/commit/a26266159cefcdc55c2e1bff7d5498a9d88c069d#diff-0e4d2deb3b86720d428f95f51c0c19dfR65
This is calculating stock_levels (on_hand) for variants that are listed in the request but are not present in the order (prior to this code is executed, the method li_stock_levels fetches s

[2018-12-16 20:13] luisramos0 commented on #3118
So, the current error is related to a new s5 bug in master: #3222

The fix to #3222 would actually fix this spec BUT this is only getting to the broken code because there's something wrong when adding the variant to the cart here (the line_items are created in this method but after reload order.line_items is empty):
https://github.com/openfoodfoundation/openfoodnetwork/blob/24ca66bd71c13264fa6125f

[2018-12-17 09:35] #3064 closed

[2018-12-17 09:36] #3161 closed

[2018-12-17 09:36] #3200 closed

[2018-12-17 09:42] sauloperez commented on #3016
#3130 has been merged but AFAIK this issue is still open.

[2018-12-17 09:44] #3101 closed

[2018-12-17 15:52] luisramos0 commented on #3016
#3130 is not in 2-0-stable yet (#3199 was merged in 2-0 before #3130 was merged to master).
so we need for the next merge of master to 2-0 (I'll do it this week).
and then see if this issue is still there.

btw, there's only one broken test related to this in 2-0-stable now: spec/controllers/checkout_controller_spec.rb:281

[2018-12-18 00:34] mkllnk commented on #3127
I think I should still fix the report to deal with this inconsistent data. That will close this issue. The deletion of fees associated to removed line items can be done in v1 or v2. I always prefer to solve things in master first if we can, but not if that means we have to solve it twice. Your call, you are working on that code at the moment.

[2018-12-18 00:40] mkllnk commented on #2469
The next person working on this issue can decide if this issue should be split into multiple issues or not.

[2018-12-18 02:14] mkllnk commented on #2756
I just read through this whole thread again and I'm wondering if we need to separate this issue:

* @myriamboure reported a problem when the user is not the producer of the product.
* @luisramos0 reported a problem when a product has an image.

Are these two separate issues?

@HugsDaniel Australian production is still giving this error:
[code]
The server is running 1052d982550f0b7ac601b399f0322913

[2018-12-18 04:17] myriamboure commented on #2756
@mkllnk I had already split the issue yes. Here is the ownership switch problem :
https://github.com/openfoodfoundation/openfoodnetwork/issues/2925
So this one is just about duplicating the product.

[2018-12-18 09:21] luisramos0 commented on #3127
If I were you I wouldn't touch the report actually. The data is broken, so it's ok if the report breaks. I'd just fix the data and make sure it will not happen again.
In terms of fixing the root cause, I'll give it a try as I look at #3205 and we can decide afterwards.

[2018-12-18 09:32] luisramos0 commented on #3030
fixed by #3197

[2018-12-18 09:32] #3030 closed

[2018-12-18 09:37] myriamboure commented on #2454
@sstead hopefully @Matt-Yorkley can find some time to finish that soon... about what can be improved, you can open some wishlist if you want (if you put all your idea in one wishlist put it as "needs curation" and we can then break it in things that we can prioritize, or open one wishlist per idea). We want to release first with what is now, when the bugs are fixed of course...

[2018-12-18 10:14] RachL opened #3225 "Duplicated header when forgetting to select hubs in Payment config"
## Description
As a super admin, when you add a new payment method, if you forget to select the hub, the error is displayed in a page where there contents of the main page are added in the middle.

## Expected Behavior
We should have the same page as before when clicking on "create", but with the error message. No added content.

## Actual Behavior
![image](https://user-images.githubusercontent.co

[2018-12-18 11:32] sauloperez opened #3226 "Take menu_*_url from 1 to 4 out of translations"
## Description

Since we implemented the customizable main menu links (the ones shown on the home page), we've been hitting the problem of translating URLs over and over again.

The last of many examples is what just happened while deploying latest `fr_BE` translations to OFN Belgium. Theo did his job in Transifex, which part of it was to translate Boutique to Comptoir. I pulled these manually, I

[2018-12-18 20:08] sauloperez commented on #3225
Does this happen for regular admins too? I guess so...

[2018-12-18 20:16] sigmundpetersen commented on #3225
Yes I just replicated with Enterprise Admin

[2018-12-18 22:18] luisramos0 commented on #2891
The spree upgrade to rails 4 is only in spree 2.1 [here](https://github.com/spree/spree/commit/b81efe9720f855c1c7084e6b460bcdb722e04e25#diff-76d21ce6138e5bf82d44c249ad10909d)

[2018-12-18 23:10] #3032 closed

[2018-12-19 00:02] luisramos0 commented on #3016
This was fixed by the merge #3228

[2018-12-19 00:02] #3016 closed

[2018-12-19 04:01] mkllnk commented on #1629
Removing the item from the order as admin without clicking "Update and recalculate fees" also results in an orphaned fee. This caused #3127.

[2018-12-19 04:08] mkllnk commented on #3127
I didn't wait for your reply and started working on this, because the report is used in Australia and France regularly. Fixing the data is not simple, because we change the total of existing orders. Maybe someone intended to still charge an admin fee even though the item was removed. For example transaction fees should persist if they were charged already. The inconsistent data issue was actually

[2018-12-19 08:03] #3033 closed

[2018-12-19 09:01] sauloperez commented on #3016
Vamooss :muscle:

[2018-12-19 10:01] luisramos0 commented on #3127
awesome, sounds good @mkllnk

[2018-12-19 10:16] luisramos0 commented on #2685
3 month later and I still don't know what to do here 😭
Maybe someone else wants to look at #2864 and find a better solution.

[2018-12-19 10:19] sauloperez commented on #2685
I can take a look

[2018-12-19 13:24] luisramos0 commented on #3121
only one broken spec currently:

[code]

[2018-12-20 02:51] mkllnk opened #3231 "Assess and maybe replace blockenspiel gem"
## Description

Our dependencies need to be kept up to date. Since that is work, we only want to keep dependencies that save lots of work in other ways. A discussion in https://github.com/openfoodfoundation/openfoodnetwork/pull/3211 opened the question if we need the gem blockenspiel. We need to assess its use and decide if we want to keep it.

## Severity

Low tech debt.

## Possible Fix

Two pos

[2018-12-20 03:05] #3066 closed

[2018-12-20 11:48] luisramos0 commented on #3222
I am closing this issue as I cant replicate it.
there are 3 possibilities:
- This is dead code that is never reached (so there would be no bug, just broken dead code)
- could be some concurrency case that reaches this code. that would mean we have a bug.
- I am missing something

[2018-12-20 11:51] luisramos0 commented on #3231
nice issue title 😂

[2018-12-20 13:48] Matt-Yorkley commented on #993
Just for reference: we have 488 recorded instances of this product cache error on UK production in the last 30 days, and that's normal... :warning:

[2018-12-20 15:45] Matt-Yorkley commented on #3116
This was an odd one, because there are specs covering inventory import that were passing. It turns out adding the `display_name` field in the CSV causes these errors, and it seems to work fine if that field is removed. The `category` field is irrelevant in inventory import. I've added an extra test and updated the CSV template for inventory import.

[2018-12-20 17:15] sauloperez commented on #993
We need to assess it severity and fix it as any other bug. Do you guys have any insight?

[2018-12-20 18:22] Matt-Yorkley commented on #3116
I couldn't replicate the issue in manual or automatic tests. The "Category can't be blank" error only shows when importing into product list, and the "Product not found" error shows when the item doesn't match on either `name`, `display_name` or `unit_value` for any existing variants.

[2018-12-21 03:32] #3085 closed

[2018-12-21 03:49] mkllnk commented on #993
From what I know:

- The products cache is created if it doesn't exist.
- There are several points in the code that invalidate the cache, e.g. creating a product in the admin panel.

This report means that there are actions changing products that don't trigger the cache invalidation *or* there is a gap in the logic that the cache is reported as invalid even though it is valid. I would guess it's t

[2018-12-21 10:34] sauloperez commented on #993
I 90% sure it's a cache invalidation bug.

[2018-12-21 11:01] luisramos0 commented on #993
you know there are only 2 hard things in computer science?
naming things, cache invalidation and off-by-1 errors ;-)

[2018-12-21 11:56] sauloperez commented on #993
I think you forgot Spree upgrades :trollface:

[2018-12-21 12:10] luisramos0 opened #3237 "[Spree Upgrade] Verify all points where scope_to_variant is used (non-core features)"
After verifying scoping for core features in #3172, we need to do the same for non-core features.

This is the list of references:

[code]

[2018-12-21 14:08] Matt-Yorkley commented on #3160
`variant_unit_name` shouldn't be relevant. I've included these template changes in PR #3233

[2018-12-21 16:18] #3090 closed

[2018-12-21 16:18] #3037 closed

[2018-12-21 16:19] #3204 closed

[2018-12-21 16:19] #3118 closed

[2018-12-21 16:30] luisramos0 commented on #3103
Looks like there's only one error now:
[code]

[2018-12-21 16:32] luisramos0 commented on #2941
Looks like there's only one error now:
[code]

[2018-12-21 16:34] luisramos0 commented on #2940
still 2 errors but not the same specs:
[code]

[2018-12-21 16:36] luisramos0 commented on #2935
@HugsDaniel looks like this error is gone :-D

[2018-12-21 16:39] luisramos0 commented on #2935
I think we can close.

[2018-12-21 16:39] #2935 closed

[2018-12-23 11:37] luisramos0 opened #3243 "Multi language Email issues"
Follow up from #3189, there are currently 6 different issues with multi language emails, this epic represents those issues. When the work is started, we can create individual issues. Some solutions are still not defined, here's a summary of my analysis:

This wiki page summaries all emails: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Emails

### 1. Forgotten password email (case 3 i

[2018-12-23 11:39] luisramos0 commented on #3243
#3043 was an s3. I keep this one in s3. Specially for the first two cases where "forgot password" and "order shipped" emails are still being sent in English :-/

[2018-12-24 13:59] #3043 closed

[2018-12-24 16:16] sauloperez commented on #3172
Should we create an issue to cover them with unit tests?

[2018-12-24 16:31] luisramos0 commented on #3043
🎉

[2018-12-24 16:36] luisramos0 commented on #3172
Yeah, I would. IMO even my last PR adapting variant overrides should have had more tests as well but without zeus it's so painful... I am stuck because I really need zeus and I have tried many different things already without success...
is there a valid alternative to zeus?

[2018-12-26 12:39] luisramos0 commented on #3172
HURRAY!!!! I did try to use spring at some point but couldnt make it work, now I gave it a more serious try and it's working!!!!
because we are on rails 3.2 we need to use spring 1.1.3 with spring-commands-rspec

~/dev/ofn/openfoodnetwork (2-0-stable) $ time bin/rspec spec/models/order_cycle_spec.rb:154
**real	0m20.779s**

~/dev/ofn/openfoodnetwork (2-0-stable) $ time bin/rspec spec/models/order_c

[2018-12-27 01:32] kristinalim commented on #2505
Estimated time: 2 hours

This seems related to #2507. In addition to the time needed for that, estimating 2 hours for this.

[2018-12-27 01:33] kristinalim commented on #2874
Estimated time: 2 hours

[2018-12-27 01:33] kristinalim commented on #2875
Estimated time: 0.5 hours

[2018-12-27 01:36] kristinalim commented on #2877
Estimated time: 1 hour

[2018-12-27 01:37] kristinalim commented on #2878
Estimated time: 2 hours

[2018-12-27 01:45] kristinalim commented on #2879
Estimated time: 3 hours

I wonder if this is just a status description issue, or if this part of a more complicated problem. I will update the estimate when I find out more.

[2018-12-27 01:48] kristinalim commented on #2549
Estimated time: 0.5 hours after #2909 is addressed

Related to #2909

[2018-12-27 13:50] sauloperez opened #3248 "Rename rake tasks namespace to ofn"
## Description

As agreed in https://community.openfoodnetwork.org/t/rake-task-naming/1531, we want to rename OFN's rake tasks namespace to `ofn` instead of the long `openfoodnetwork`.

[2018-12-27 15:20] luisramos0 opened #3249 "Display_name not available on the variants create/edit page"
## Description
As a farmer
When I create a variant for my product
I need to set the display name of the variant as it will be shown on the shopfront
Currently I can only do that on the bulk product edit page

This is very confusing for the user who is creating variants using the variants tab...

Additionally, and to add to the user confusion, the unit display_as value is also only available on the

[2018-12-28 00:13] Chrisyee22 commented on #3193
Hi, if no one else is currently working on this issue I would love to give it a go.

[2018-12-28 02:35] kristinalim commented on #3193
Welcome @Chrisyee22! :slightly_smiling_face: There's no one working on this, so you may go ahead. If you have any questions, feel free to ask here or in the #dev channel on [Slack](https://openfoodnetwork.slack.com/). Looking forward to your first PR!

[2018-12-28 11:47] sauloperez opened #3253 "[Spree Upgrade] Fix reference to backorderable_default from admin/products/new.html.haml"
## Description

Our VariantStock module relies on the `Spree::StockLocation.first.backorderable_default` but in `2-0-stable` we don't create the default stock location yet.

This obviously causes a 500 error as follows:

[code]

## Expected Behavior
`products/new` page should render successfully without errors and allow users to specify a value for the stock level.

## Actual Behavior
The page fai

[2018-12-28 11:48] sauloperez commented on #2688
This got fixed already

[2018-12-28 11:48] #2688 closed

[2018-12-28 14:38] sauloperez commented on #3226
The menu in BE is broken due to this

[2019-01-01 19:26] dependabot-preview opened #3259 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3260 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3261 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3262 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3263 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3264 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3265 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3266 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot-preview opened #3267 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] #3259 closed, assigned to nobody

[2019-01-01 19:26] #3260 closed, assigned to nobody

[2019-01-01 19:26] #3261 closed, assigned to nobody

[2019-01-01 19:26] #3262 closed, assigned to nobody

[2019-01-01 19:26] #3263 closed, assigned to nobody

[2019-01-01 19:26] #3264 closed, assigned to nobody

[2019-01-01 19:26] #3265 closed, assigned to nobody

[2019-01-01 19:26] #3267 closed, assigned to nobody

[2019-01-01 19:26] dependabot-preview opened #3268 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] #3268 closed, assigned to nobody

[2019-01-01 19:26] dependabot-preview opened #3269 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] #3269 closed, assigned to nobody

[2019-01-01 19:26] dependabot-preview opened #3270 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] dependabot[bot] opened #3271 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:26] #3266 closed, assigned to nobody

[2019-01-01 19:26] #3270 closed, assigned to nobody

[2019-01-01 19:51] #3271 closed

[2019-01-03 10:20] #3078 closed

[2019-01-03 10:21] #3205 closed

[2019-01-04 06:55] mkllnk opened #3278 "Fees can be associated with a random tax rate"
## Description

Enterprise fees can include tax. The tax is calculated based on a tax rate. But we don't know for every fee which tax rate was used to calculate the included tax of a fee.

When we don't know the tax rate to a fee, we just guess and choose the tax rate that is closest to the included tax of a fee. We need the tax rate to display it during the checkout, to compute the included tax a

[2019-01-04 08:01] sigmundpetersen commented on #3225
Related to #1215 ? Duplicate?

[2019-01-04 08:56] sigmundpetersen commented on #3123
All epic issues closed. Can we close the epic then? 🎉 @luisramos0 @sauloperez

[2019-01-04 11:53] luisramos0 commented on #3123
ehehe, nice, yes.

There's just the weight calculation fix missing (#3072) that doesnt have an issue right now, but we can close the epic!!! :tada:

[2019-01-04 11:55] luisramos0 commented on #3020
yes, thanks. can go under #2953.

[2019-01-04 14:06] sauloperez opened #3279 "moment.lang is deprecated"
## Description

Recently I started seeing the following error when executing tests

[code]

I've also seen them in CI builds. Check https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3272/builds/3 for details. The failed job shows this warning a few times.

This makes our test suite slower and it'll break in the future.

## Expected Behavior

This warning should not

[2019-01-04 14:18] sigmundpetersen commented on #394
@mkllnk are there still 2 staging servers for AU? Is this still an issue?

[2019-01-04 16:11] luisramos0 commented on #3109
I think the problems listed in this issue are fixed, now we have two other problems in the orders page:
1. the OC and distributor select boxes are not working after adding an variant to the order, this is because the select2 inputs are not working when the html code is injected, see [here](/admin/orders/edit.js) and [here](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/views

[2019-01-05 14:09] kristinalim opened #3283 "[Enterprise Fee Summary] Rows using order-based calculators not providing OC exchange data"
Rows using order-based calculators are not providing OC exchange data.

## Description

@kirstenalarsen provided this sample screenshot of a report where some columns are blank where there should be a value:

![enterprise_fee_summary-blank_exchange_information](https://user-images.githubusercontent.com/2243/50725218-4a5c1b80-1135-11e9-845d-9149f2997285.png)

I finally learned that this happens whe

[2019-01-05 14:20] kristinalim opened #3284 "[Enterprise Fee Summary] Simplify `for_distributors` in `Spree::PaymentMethod` and `Spree::ShippingMethod`"
Extract and optimize `Spree::PaymentMethod.for_distributors` and `Spree::ShippingMethod.for_distributors`.

## Description

See [this review thread](https://github.com/openfoodfoundation/openfoodnetwork/pull/3115#discussion_r236183485).

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes expected.

## Context

Follow-up changes for #3115

##

[2019-01-05 16:57] luisramos0 commented on #2109
Update title to reflect a more specific scope. From this discussion it's pretty clear we are going live with 2.0.4 before continuing upgrading to 2.0.8 or 2.1.0: https://community.openfoodnetwork.org/t/spree-upgrade-go-live-on-v2-0-4-or-move-further-to-2-1-0/1534/2

[2019-01-05 17:12] luisramos0 opened #3285 "[Spree Upgrade] Data Migration"
As discussed here: https://community.openfoodnetwork.org/t/staging-ofn-v2/1527/5
We need to make sure:
1- the db:migrate from v1 to v2 works correctly
2- the db seed works correctly
3- all v1 data in current live instances is migrated to the v2 data model

## What to test
I install v2 on a live instance running v1 and I get the db in the correct v2 state while the data in the DB has been adapted c

[2019-01-05 17:13] luisramos0 commented on #3285
@sauloperez I think you are more clear than I am about what needs to be done here. Can you help write up/clarify what exactly we need to do and test as pat of this task? Thanks!

[2019-01-06 10:15] kristinalim commented on #3283
To get "Fee Calc on Transfer Through" for enterprise fees added to **OC exchanges**, in effect what we do currently is:

1. Identify the line item for which  the adjustment was created.
2. Get the variant for the line item.
3. See whether the adjustment was for an incoming or an outgoing exchange. This is cached in the adjustment metadata.
4. Knowing the variant and whether incoming/outgoing, we f

[2019-01-06 13:38] luisramos0 commented on #2940
After PR 3286, these are the 3 errors related to OC and distributor:

[code]

[2019-01-06 13:39] luisramos0 commented on #3103
After PR 3286, these are the 3 errors related to OC and distributor:

[code]

[2019-01-06 13:44] luisramos0 commented on #2940
The spec related to "non-tax adjustments" is now passing, but it shouldnt be. I think the spec is green because the spec is not picking up the adjustments, so no validation is being done. But the spec should see the adjustment and validate the adjustment is present on the page.
I think this is now a false positive.

So, there is one broken spec in this issue and one false positive (green spec) tha

[2019-01-06 14:02] luisramos0 commented on #3113
#3286 added the missing translation.
The the payment state is updated correctly but there’s some problem in the order updater because order.update! is being called but the order.payment_state is not updated from the order.payments state (the issue 3113 was updated with this info)

[2019-01-06 19:33] luisramos0 commented on #3121
So, after the de-deface in #3156 has been merged to 2-0-stable the payment methods page is working fine. The error is still the same and the problem is related to the mix of the paypalexpress method and the tag list attributes on payment_method.
Looks like it's related to the tricky #2780 issue.
I tried a similar approach, and a few variations, but it didn't work...

I tried to move/copy these act

[2019-01-07 10:40] #3067 closed

[2019-01-07 12:46] myriamboure opened #3288 "[i18n] Missing string and wrong automatic translation on orders page"
On /admin/orders page, the filter "first name begins with" is not in transifex and cannot be translated.
In French the translation is so wrong we are a bit ashamed... "begins", translated "commence" in French is currently written "commmance"...

We need the string in transifex to be able to fix that.

English:
![untitled presentation](https://user-images.githubusercontent.com/8135376/50768934-8d77

[2019-01-07 12:51] myriamboure commented on #2756
Hey there ! No one is assigned now to that bug, it seems @HugsDaniel unassigned himself, which is ok but if it has been prioritized (which is the case) we then need someone else to work on it... I'll send a reminder on the bug channel.

[2019-01-07 13:13] myriamboure commented on #3288
@HugsDaniel are you still our internationalization issues master, can you quickly fix this one which is pretty annoying and make us look pretty unprofessional ?

[2019-01-07 13:15] myriamboure opened #3289 "[i18n] "groups" menu is not translated in backoffice"
## Description
Enterprise user with group menu don't see translation for the menu entry

## Step to reproduce

1. Login as super admin or as an enterprise user with ability to manage a group
2. Look at the "groups" menu, it is not translated

## Screenshot
![image](https://user-images.githubusercontent.com/6525576/56751186-c54d4e80-6785-11e9-8720-3708443b4acd.png)

## Severity
bug-s3: a feature is

[2019-01-07 13:16] myriamboure opened #3290 "[i18n] "You have xx active products" untranslated in dashboard"
![ecran admin](https://user-images.githubusercontent.com/8135376/50770190-bb5f1880-1286-11e9-8cd9-6ee6222a339d.JPG)

[2019-01-07 13:20] sigmundpetersen commented on #3288
Hey @myriamboure what's the added value of the [i18n] prefix? Should we just re-introduce the `i18n` label?

[2019-01-07 13:22] myriamboure opened #3291 "[i18n] wrong automatic translation for "state" on order page"
the column header "state" here in English platform:
![untitled presentation](https://user-images.githubusercontent.com/8135376/50770425-94551680-1287-11e9-9fc0-b30e2790b52b.jpg)

is badly automatically translated by Spree and no string exist in Transifex to fix it:
![untitled presentation 1](https://user-images.githubusercontent.com/8135376/50770423-8ef7cc00-1287-11e9-92b1-d77c20ae1ac4.jpg)

[2019-01-07 13:22] myriamboure commented on #3291
Same @HugsDaniel this one is pretty annoying as really doesn't make sense... if you can fix it as well it would be great.

[2019-01-08 00:43] mkllnk commented on #394
Well spotted @sigmundpetersen! We have only one staging server now and it's set up correctly. This can be closed, after 4 years of hard work. ;-)

[2019-01-08 00:43] #394 closed

[2019-01-08 06:13] kirstenalarsen commented on #3283
HI @kristinalim - I don't have time to drop myself deeply into this this week but don't want to hold it up. At first glance my thought would be that it should be the 'receiver' rather than the 'sender' of the exchange - is that what you mean by 'all'? As in these fees are placed on the whole order as through the shop/hub so would need to be all items in the order which would be from multiple sende

[2019-01-08 06:43] daniellemoorhead commented on #2416
You could close it @HugsDaniel (and sorry about the delayed response!), or you could move this one to be together with #3109 so that they're always in the same part of the delivery pipe?

I added a dependency for this one on #3109 so we can now see they're linked 😄

[2019-01-08 06:46] daniellemoorhead commented on #2944
Hi @haseleyi, just checking in (happy new year!) It's been almost a month since there was any activity on this bug so I'm checking to see where it's at? Have you had any luck with the information that @luisramos0 posted above?

[2019-01-08 06:52] daniellemoorhead commented on #2703
I'm (sadly) moving this and #2704 and PR #3252 back into Dev ready as @mllocs is on holiday for a month and no one else is available to finish it.

Ping @kirstenalarsen as an FYI

[2019-01-08 06:58] daniellemoorhead commented on #3099
Righto, so this hasn't had any action for 22 days. @sauloperez should I move it back to the dev ready column, or is there a PR not attached to this issue that has been worked on in the last 3 weeks?

![](https://i.gifer.com/1oBR.gif)

[2019-01-08 07:05] kristinalim commented on #3283
Hmm, that seems more useful... And yes, using the "receiver" of the exchange is simpler, @kirstenalarsen.

So then:

1. Fee added to an incoming exchange - Column is name of coordinator
2. Fee added to an outgoing exchange - Column is name of distributor
3. Fee added as "coordinator fee" not tied to an exchange but to OC - Column is name of distributor?

That's what's confusing me right now. This

[2019-01-08 08:52] #3119 closed

[2019-01-08 08:53] #2941 closed

[2019-01-08 08:53] #3091 closed

[2019-01-08 08:53] #3112 closed

[2019-01-08 08:54] #3073 closed

[2019-01-08 11:36] kirstenalarsen commented on #3283
1. no I don't think that's quite right - I think it should map to the incoming or outgoing in the report and also to how the fee is actually calculated

So if the fee is on incoming it should be the Producer . . so I think the 'per order' fee in this case would be per customer for that producer.

2. YES If it is on outgoing, then it is on the whole order as everything is going through the Hub

3.

[2019-01-08 14:07] myriamboure opened #3292 "[i18n] translation missing "insert url""
## Description

On entreprise settings / shop preferences

![public php](https://user-images.githubusercontent.com/8135376/50835456-0a747e80-1357-11e9-9c6b-62a7276544b2.png)

## Steps to Reproduce
1. Log in as enterprise user or superadmin
2. Go to enterprise > Settings
3. Go to shop preferences
4. Try to add an URL you will see that "insert url" is not translated

## Severity
bug-s4: it's annoyin

[2019-01-08 14:52] myriamboure opened #3294 "[subscriptions] if I realize I choose the wrong user when setting up a subs, I can't change it"
<!-- Provide a general summary of the issue in the Title above.

If your issue is not a bug, please use the Feature template instead:
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Feature-template
## Description
I want to create a new standing order. I select a user, fill in the options and dates, and click on next. When I arrive on address page, I realize I selected the wrong user !

[2019-01-08 18:59] luisramos0 commented on #2940
I see this issue is being addressed in #3194

[2019-01-09 04:39] #2836 closed

[2019-01-09 06:00] mkllnk commented on #2756
@myriamboure Can you point me to a server and a product where you see this issue?

I tried several things:

- Clone product with image locally. :heavy_check_mark:
- Clone product with image on Aus staging. :heavy_check_mark:
- Clone product with image on Aus staging after configuring S3 storage. :heavy_check_mark:
- Clone a product without image on French production. :heavy_check_mark:
- Clone a p

[2019-01-09 06:17] kristinalim commented on #2756
I tried to reproduce this too. Currently, wondering if this is related to the S3 bucket policy, like for the following warning where some instances are getting HTTP 404:

-- maybe some instances are getting an HTTP 403 which possibly interrupts `Product#duplicate`?

If this still happens on some instances, it might be worth checking the bucket policy or other bucket settings. @mkllnk Do you have a

[2019-01-09 07:33] mkllnk commented on #3113
The problem seems to be that the order is not paid in full:

| Time                        | order.total | order.payment_state | payment.amount | payment.state |
|--------------------------|---------------|----------------------------|-----------------------|-------------------|
|Before capturing       | 13             | balance_due              | 10                       | checkout        |
|Duri

[2019-01-09 08:50] myriamboure commented on #2756
I just retested on French production with a non admin account, it does duplicate the product but without the image
![capture du 2019-01-09 09-42-59](https://user-images.githubusercontent.com/8135376/50887274-0f870b80-13f3-11e9-8b16-4663c677c2b6.png)

Interestingly I logged out and logged in as an admin and the images have appeared !
![capture du 2019-01-09 09-46-02](https://user-images.githubuserc

[2019-01-09 08:50] #2756 closed

[2019-01-09 08:56] myriamboure opened #3298 "When duplicating a product, image is not shown in the duplicate product straight away, needs refresh"
## Description
When I duplicate a product with an image, the copy is created but the image seems not to be duplicated as it is not displayed:
![capture du 2019-01-09 09-42-59](https://user-images.githubusercontent.com/8135376/50887719-3abe2a80-13f4-11e9-9ab9-b8c335823a62.png)

But when I refresh the page, I realize the images have actually been copied correctly:
![capture du 2019-01-09 09-46-02](h

[2019-01-09 09:16] RachL commented on #3298
@myriamboure can we take the opportunity in this issue to add a loader when clicking on duplicate? I find it confusing to click on duplicate and then not know that something is happening...

[2019-01-09 09:21] myriamboure commented on #3298
I added that in the description but I'm wondering if those two things shouldn't be two separate issues ? I think it should.

[2019-01-09 10:09] RachL commented on #3298
Let's maybe see with a dev. Because if we remove the refresh IMO we need a loader

[2019-01-09 10:48] kristinalim commented on #2756
@myriamboure Ah. If the new product is duplicated and the image appears eventually, then it's not related to the S3 bucket policy... This can be tackled in #3298 then.

:thinking: If duplication fails intermittently again after now, we can explore the possibility that this is a timeout issue... When using S3, duplicating a product with images can take a lot longer than if there are no images. OFN

[2019-01-09 14:40] sauloperez commented on #2756
I like to explore the things @kristinalim points out if this happens again. S3 might be a source of entropy here.

[2019-01-09 15:01] #3159 closed

[2019-01-09 16:06] luisramos0 commented on #3113
awesome catch @mkllnk
thanks a lot. I am not sure you were planning to fix it yourself or not, but I couldn't resist giving it a try now that you have found the problem. I think this is the fix #3299 Thanks!

[2019-01-10 00:55] mkllnk opened #3301 "[Spree Upgrade] CreateDefaultStock migration fails with sample data"
## Description

The migration CreateDefaultStock fails with test data.

## Expected Behavior

All migrations work with all data.

## Actual Behavior

[code]

## Steps to Reproduce

1. `git checkout master`
2. `bundle exec rake db:reset`
3. `bundle exec rake openfoodnetwork:dev:load_sample_data`
4. `git checkout 2-0-stable`
5. `bundle exec rake db:migrate`

## Context

Working on the Spree upgrade.

[2019-01-10 16:55] sauloperez commented on #3099
Ok, so I created #3305 with the shippable stuff I worked on in December but there won't be any improvement yet.

I also wanted to create an epic to implement frontend pagination but I think it needs a bit more investigation, planning and scheduling. Without pagination, the problem won't be solved. What's the right way? a GH project is an epic enough?

[2019-01-10 18:21] myriamboure opened #3306 "[Subscriptions] if I manage more than one shop, schedules for shops 2 is proposed in other shops and creates bugs."
## Description
User 1 is manager of Hub 1 and hub 2.
She creates schedule 1 for hub 1 and schedule 2 for hub 2,.
When creating an OC for hub 2, associating schedule 1 is proposed as an option and I can select it and save.
This is confusing as hub manager believe they can reuse schedules over hubs, and if they give the same name to schedules for multiple hubs they manage, they can choose the wrong

[2019-01-10 18:22] myriamboure commented on #3306
@kristinalim I added this one to the epic as it seems to me pretty confusing for users... if some people we can discuss of course.

[2019-01-10 18:52] myriamboure commented on #1394
So I did a bit of analysis on this issue to sort out the last two unclear issues on subs.

Today on OFN the bootstrap tooltip appear in two situations if I'm not mistaken:
- on pictos at the end of order lines
![capture du 2019-01-10 19-41-00](https://user-images.githubusercontent.com/8135376/50989555-f88a0b80-150f-11e9-9905-9ecae01afede.png)

- on entesprise settings under "what's this" text
![ca

[2019-01-10 23:41] #3127 closed

[2019-01-10 23:41] #2502 closed

[2019-01-11 02:01] sstead opened #3307 "If I try to create a new Enterprise Fee but forget to fill the 'Fee Type' field, I get snail page."
## Description
When I try to make a new enterprise fee, if I forget to select a 'fee type' I get the snail page. This is unpleasant for users. Could we please put a red error box around the field, or an error message (please select a fee type) instead?

## Expected Behavior
I would prefer an error message telling me what to fix.

## Actual Behavior
The user gets a snail page which doesn't tell the

[2019-01-11 04:00] sstead opened #3308 "Weight Calculator: If an 'item' product has previously been sold as 'g/kg', it will incorrectly attract the fee."
## Description
This was picked up while testing the Weight ($/kg) fee calculator as part of  https://github.com/openfoodfoundation/openfoodnetwork/pull/3072

If a product which was previously sold per kg/g and it's them changed to per 'item' the fee calculator is incorrectly putting that fee onto the item.

## Expected Behavior
If I switch a product to item I expect it to be treated as an item by

[2019-01-11 04:14] haseleyi commented on #2944
Hey, sorry for the wait and thanks for checking in! I have a solution that renders just the root taxonomies in the correct order by position in the relevant dropdowns. Is that our ideal result? Otherwise, if we want to render children in the dropdowns too, how do we want to order one taxon's children relative to another's?

[2019-01-11 04:35] sstead opened #3309 "In the /register wizard. If I type About Us text with paragraph breaks, those are removed when the profile is created"
## Description
Found in Spree testing. If I create a profile using the wizard, and put About Us text with paragraph breaks, when the profile saves the line breaks are removed which leads to ugly display on the profile that needs to be fixed again by the user.

## Expected Behavior
The text formatting used in the /register wizard should carry through to the profile

## Actual Behavior
Paragraph gap

[2019-01-11 06:28] mkllnk opened #3310 "[Inventory] Tags can't be removed when too many columns are displayed"
## Description

The inventory table has several columns which are optional. When you enable several columns, the Tags column can become too small and the delete button of tags is hidden. It's not obvious how to remove tags in this scenario.

There are two workarounds:

1. Hide columns until the delete buttons appear.
2. Add another tag which recalculates the size of the tags field. The delete butt

[2019-01-11 11:14] luisramos0 commented on #2931
reopening, this issue represents the problem in the 2-0 branch. we need to merge #3072 to 2-0-stable and verify that it does fix the 3 broken specs.

[2019-01-11 12:20] luisramos0 commented on #2931
connected this to the merge PR #3311, the PR does close this issue and this issue can be closed when the PR 3311 is merged into 2-0-stable.

[2019-01-11 16:00] sauloperez opened #3313 "Remove either :presentation or :name from PropertySerializer"
## Description

By working on https://github.com/openfoodfoundation/openfoodnetwork/pull/3305 I realized `:name` and `:presentation` display the same value because of

https://github.com/openfoodfoundation/openfoodnetwork/blob/830bf21bc6654f52b969c020a7fc1ce0968d7a3c/app/serializers/api/property_serializer.rb#L7-L11

Therefore, if the client only cares about one or the other, there's no need to du

[2019-01-11 17:12] sineadfenton opened #3314 "Unticking payment options not saved - display only functionality"
## Description

When unticking the payment boxes so none are selected, the user selects save, the page loads, indictating this is being processed and it then takes you to the enterprise profile page. When you go back to look at the payment option, those you unticked, are still ticked.

Following these instructions to try and set up a display only shop - https://guide.openfoodnetwork.org/advanced-f

[2019-01-11 17:12] sineadfenton commented on #3314
![](https://github.trello.services/images/mini-trello-icon.png) [Display Only Order Cycles not working correctly](https://trello.com/c/WQo2uSL9/353-display-only-order-cycles-not-working-correctly)

[2019-01-12 16:16] luisramos0 commented on #2684
Looking at this again, the simple option 1 is made more dificult by this commit
https://github.com/openfoodfoundation/spree/commit/38868bc840eb51850ad650b634aebb4dcc2bc1a9
the order will not move to complete without line items, so we need to add line items to the order. it's more argument to go for option 2.

[2019-01-12 23:14] kevinchristianson commented on #3001
Thanks for the info, @luisramos0 I think we'll try to learn Swagger and make it there. What's the best way to set it up? Since Swagger hosts the API docs we're wondering if we should create an account on Swagger and then give it to OFN when we're done or if you want to create your own and give us access to it.

[2019-01-13 11:38] luisramos0 commented on #3001
I think you can use "login with github" and then share access to the project with other accounts.

[2019-01-13 11:40] luisramos0 commented on #3001
Even if the API gets based on your account it should be easy later to move it around, it's supposed to be easy to export/import.

[2019-01-13 11:48] kristinalim commented on #3283
@kirstenalarsen Is my proposal for Scenario 1B workable for now?

1. Fee added to an incoming exchange
    - If fee is computed against just the line item - Column is name of producer
    - If fee is computed against the entire order, so there can be multiple line items which can be under different producers - For now, can we have "Entire Orders through DISTRIBUTOR_NAME"? Because of the way we sto

[2019-01-14 15:24] luisramos0 commented on #2918
This is pending a decision to delete or fix here: https://community.openfoodnetwork.org/t/ofn-v2-account-invoices/1548

[2019-01-15 05:15] mkllnk opened #3327 "[Flaky Spec] spec/controllers/api/orders_controller_spec.rb:147"
## Description

This spec seems be unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3325/builds/1

## Context

Our automated test fail regularly due to unreliable specs. If you encounter this in your build then comment on this issue or add :+1:

## Severity

tech debt

[2019-01-15 08:42] myriamboure commented on #2944
@haseleyi ideally we would like both root taxonomies and childrens to be rendered in the order that was set in the configuration panel by the instance super admin.  We need to see that a children is a children avoid confusion. But it deserves obviously a bit of inception, so let's do it now.

This taxonomy is hierarchical type.

Here https://fr.slideshare.net/HeatherHedden/taxonomy-displays-seattl

[2019-01-15 09:00] myriamboure commented on #3314
@sineadfenton this issue appeared some months ago, some dev tried to work on it but in inhided a big chunk to be chewed and we opened a wishlist to be prioritized. It's more than just fixing a bug, it's kind of a refactor of the whole logic. https://github.com/openfoodfoundation/openfoodnetwork/issues/2023
Here is the wishlist: https://community.openfoodnetwork.org/t/hubs-manages-without-friction-

[2019-01-15 12:33] luisramos0 commented on #2944
nice @myriamboure
I vote for keep it simple, option 1

Option 1.1 will tend to have longer items, entries are currently being line wrapped in the product edit page:
<img width="192" alt="screenshot 2019-01-15 at 12 31 36" src="https://user-images.githubusercontent.com/1640378/51180886-8f184d00-18c1-11e9-8bc9-23f046b27f11.png">

[2019-01-15 12:37] sigmundpetersen commented on #2944
Yes and for 1.2, can we have less number of dashes? Like:
Meat and fish
- Meat
-- Beef

[2019-01-15 13:14] myriamboure commented on #2944
Cool ! So I think the proposal is 1.2 option "display children with clear indication that it is a children"
About the number of dashes @sigmundpetersen I found it a bit confusing the one dash children as we use one dash for regular lists, I was afraid of some potential confusion, and putting more dashes make the level of children visually clearer and obvious, but happy to review my opinion if no o

[2019-01-15 13:16] myriamboure commented on #2944
Actually the way it is rendered when in a "code" format might be clear enough with one dash per level as you suggest @sigmundpetersen ... @RachL what do you think ?

[2019-01-15 13:23] RachL commented on #2944
Just to clearly understand, the dashes would appear in the dropdown menu when creating / editing a new product? So when searching for a particular one (through the search, not scrolling the list) you would know that is it a children but not from which root taxonomy. Did I understood well @myriamboure

[2019-01-15 17:13] myriamboure commented on #2944
You are right @RachL  that might be an issue... or not ? If I find with a key word search the perfect category do I need to know under which parent category it is ?

@tschumilas good questions.
If producer A put egg under "eggs" and producer B put egg under "dairy" both would show if filter is on "dairy" but only the one on eggs would show if search is on egg.
In term of front end, Yuko made some

[2019-01-15 17:36] RachL commented on #2944
If we force that I don't see the point of having parent categories. We should just have children categories, it would ease up everything, no?

Nope but then I don't see why I need to know there that a children is a children... In the product list, I would have the taxonomies ordered by their position in the tree in super admin but with no "dash". I'm assuming that this was also one of Theresa conc

[2019-01-15 18:54] tschumilas commented on #2944
Yes @RachL  - one of my concerns was how the dash looks in the front office.
But I keep asking myself - does  a user need to know the parent for their child?   Maybe not?  In the short term - the shopfront will pick up the name of the category (regardless of where it is in the heirarchy).  In the long term - I presume the shopfront will show parent categories -  and then clicking them will reveal

[2019-01-15 19:14] myriamboure commented on #2944
In back office they don't need to know the parent categories. I agree with you @RachL that maybe then we don't have to show the parent categories (remove the dashes issue), or grey them if we want the manager to be conscious about the full display in front end (don't remove the dashes issue).
In front end (see Yuko design) I think parent categories make the search easier, there might be quite a lo

[2019-01-15 21:32] tschumilas commented on #2944
I think there are different users who search in different ways.  For ex -  some people know what they are looking for and then search in the search bar is best.  (But they can already search there by producer, and product and they can filter by category -  so if they know what they want,  they are OK.   I think about the shoppers  who don't know what they want -   esp those new to the shop -  who

[2019-01-15 22:10] myriamboure commented on #3249
I see you put that bug in dev ready @luisramos0 but we have a priorization process for bugs. IMO it should stay in "all the things" as for the moment we prioritize s3 bugs in the bug backlog. We don't have much space to make s3 bugs through the pipe though... but in any case we shouldn't put bugs randomly in dev ready. Do you agree ? If yes I let you put it pack to all the things for now, or at th

[2019-01-15 22:18] Matt-Yorkley commented on #2469
I couldn't get headless to run on my machine without adding the `chromedriver-helper` gem. Shall I open a PR to add it to the gemfile?

[2019-01-15 22:43] #3288 closed

[2019-01-15 22:49] #3291 closed

[2019-01-15 23:19] luisramos0 commented on #3249
I am sorry, I got really confused with the priority of this one because I dont have enough context about all the S3 things.
So, I leave my opinion and I will let you correct it, ok? I think this is S3. It's ridiculously bad UX on a core feature like creating variants :-(
We can still keep it on "All the things" for prioritization compared to other s3s, right?

[2019-01-15 23:46] myriamboure commented on #3249
Yes, let's do that, I'll add it to the bug backlog but not at the top of the list ;-) No worries of course I have lots of doubts all the time, still learning and building on the fly !

[2019-01-16 00:34] Matt-Yorkley commented on #2469
Actually, I think the bulk_order_management will still be red. I'll take a look at it now.

[2019-01-16 00:55] kristinalim opened #3332 "[Enterprise Fee Summary] Hide report link with feature flag"
Hide report link with feature flag.

## Description

This was recommended by @sauloperez [in Slack](https://openfoodnetwork.slack.com/messages/C2GQ45KNU/convo/C2GQ45KNU-1547186925.158100/).

The link should be visible only to superadmins. However, any enterprise user can also access the report by going directly to the URL.

## Expected Behavior

A non-superadmin user should not see "Enterprise Fee

[2019-01-16 07:11] kristinalim commented on #3332
**UPDATE:** I changed the issue title and description

[2019-01-16 09:53] Matt-Yorkley commented on #2469
If I'm not mistaken, the customers_spec test will be fixed by your refactor of the columns dropdown code @mkllnk

[2019-01-16 12:14] myriamboure opened #3335 ", and . problem is back on enterprise fees"
## Description
In countries using , as a separator for decimals, when I setup a "per kg" enterprise fee, and fill in with "5,50" for instance, when I save it is transformed to "5.00".
This was fixed by Pierre last year, I did tested that specifically I remember, so probably was reintroduced by refactor ? (@mkllnk maybe it will ring a bell)

## Expected Behavior
User can enter indifferently , or .

[2019-01-16 15:31] luisramos0 opened #3338 "Bump roo-xls from 1.1.0 to 1.2.0"
Raised by @dependabot-bot , this upgrade is breaking product import, needs investigation as noted in #2990. This issue represents that work.

[2019-01-16 17:03] luisramos0 commented on #2469
Amazing guys!!!
There are only 3 broken specs here:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3336/builds/2
All in bulk_order_management_spec, it looks like #3325 will make this headless-chrome green 🎉 🎉 🎉

[2019-01-16 23:08] luisramos0 commented on #2469
the amazing news is that we have a green build on #3343, well done @Matt-Yorkley on the last mile!
the not so good news is that master build is taking 45min total, and this build is 57mins... it means 3 minutes slower with 4 jobs.

[2019-01-16 23:56] Matt-Yorkley commented on #2469
The timer for the individual jobs seems to be adding on waiting time to the total for each one, and there's been some queuing.

[2019-01-17 02:59] YanhanLyu commented on #1156
Hi, I'm working on this ticket and want to check how to reproduce the issue. I looked in to the customer model but didn't find a field called surname. Thanks!

[2019-01-17 03:30] mkllnk commented on #3121
The remaining broken spec is:
[code]

[2019-01-17 03:48] mkllnk commented on #3279
Example:
[code]

[2019-01-17 04:19] mkllnk commented on #3121
Someone once had a similar problem, but their solution doesn't work for us: https://stackoverflow.com/questions/20045932/undefined-method-association-class-for-nilnilclass

[2019-01-17 04:43] kevinchristianson commented on #3292
I looked into where this string could be coming from and found it in the file vendor/assets/javascripts/textAngular.min.js as a hard-coded string along with many other hard-coded strings. I believe this is a generated file, however, so changing it there would not actually solve the issue. The string doesn't seem to appear anywhere else in the OFN project though and I didn't see it in Spree either.

[2019-01-17 05:00] mkllnk commented on #3121
Other people having this issue: https://github.com/rails/rails/issues/3847
Seems like it's the order in which classes are loaded. PayPalExpress could be loaded early before our decorator is loaded. It is not aware of our decorator code.
[code]

[2019-01-17 05:47] mkllnk commented on #3121
The console output above is from within the test server ran by the feature spec. If I run these commands within the spec, there is more visible and `tag_list` can be called:
[code]

I also wanted to find out in which order the code is loaded. I placed a put statement in the paypal express code and one in our decorator. Running rails console or server in development env:
[code]

But when run in tes

[2019-01-17 06:05] mkllnk commented on #3121
I tried going back to activerecord 3.2.22.2, but that didn't change anything. Running out of ideas...

[2019-01-17 06:12] mkllnk commented on #3121
Okay, adding `acts_as_taggable` to the original declaration of `Spree::PaymentMethod` in the Spree code makes that part of the spec pass. It's not a viable solution unless we find out that there is no other way. I'll try to find a reliable way of decorating the class. Any suggestions welcome.

[2019-01-17 06:50] kristinalim commented on #3217
This has been addressed in #3312.

[2019-01-17 06:50] #3217 closed

[2019-01-17 07:06] kristinalim commented on #3283
@kirstenalarsen No need to read through my previous comment above. Here's a summary of implementation changes, which I did for now in PR #3283.

**Type 1:** For rows marked Incoming/Outgoing that have line item -based calculators:

1. "Fee Calc on Transfer Through" is producer name for incoming, and distributor name for outgoing.
2. For tax category:
    a. If the enterprise fee itself has a tax c

[2019-01-17 07:44] mkllnk commented on #3121
Just to visualise the inheritance:

[code]
We do a class_eval on Gateway and PaymentMethod. PaymentMethod works, but Gateway and PayPalExpress don't know about it. The load sequence is this:

1. "loading Gateway"
2. "loading PaymentMethod"
3. "loading PaymentMethod decorator"
4. "loading Gateway decorator"

And we end up with:
[code]

So the core problem is that Gateway doesn't inherit PaymentMeth

[2019-01-17 08:19] kristinalim opened #3345 "[Enterprise Fee Summary] Separate abilities into new ability class"
Separate abilities into new ability class.

## Description

Example of this is in `Spree::Ability:298`.

See review by @sauloperez [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/3334#pullrequestreview-193096407).

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes expected.

[2019-01-17 11:03] luisramos0 commented on #3121
great investigation @mkllnk
if you have a green spec in some way, that is progress :-D

Did you see the original issue? the is is on StripeConnect another child of Gateway #2781

And btw, this problem is also happening in:
- spec/features/admin/subscriptions_spec.rb:159
- spec/features/admin/subscriptions_spec.rb:313
- spec/features/admin/subscriptions_spec.rb:398
I'll create an issue for these 3

[2019-01-17 11:11] luisramos0 commented on #2469
ah, yes, 48m30s in the last headless chrome!

[2019-01-17 11:38] myriamboure commented on #1156
Hi @YanhanLyu ! Welcome here ! Great that you want to tackle that issue :)
I'm not a dev but this might help you:
I'm a new customer making an order in a shop, I fill in the fields in checkout
![capture du 2019-01-17 12-30-07](https://user-images.githubusercontent.com/8135376/51316110-0b429a00-1a54-11e9-9eac-a712d30165d0.png)
When order is made, as a hub manager I see the new customer in the list,

[2019-01-17 12:06] myriamboure commented on #2764
@sineadfenton is this error of OC duplication still happening ? I'm trying to review the s3 bugs and see which ones we should prioritize. If this happens again it's probably a high priority. If it does, and only for this hub, it would be good to know what specificities this hub has, like if they use subs or not, etc. And maybe we should open a new issue if it's different from the one in the main t

[2019-01-17 12:42] myriamboure commented on #1828
I'm not able to reproduce this error. I tried in different circumstances, so I'm closing it for now and we will reopen if it show up again.

[2019-01-17 12:42] #1828 closed

[2019-01-17 12:44] myriamboure commented on #2104
I'm closing this for now as no more request from users, and no recent feedback from users... it was an old device anyway, let's see if other cases show up.

[2019-01-17 12:44] #2104 closed

[2019-01-17 12:49] myriamboure commented on #3068
I think the fix for this bug had been merged, if I'm mistaken @kristinalim please reopen.

[2019-01-17 12:49] #3068 closed

[2019-01-17 12:55] sigmundpetersen commented on #802
Closing this as there's already a wishlist item on Discourse #process

[2019-01-17 12:55] #802 closed

[2019-01-17 14:13] myriamboure commented on #1494
Given discussions here https://community.openfoodnetwork.org/t/hubs-can-block-shoppers-decide-who-accesses-their-private-shop/1236/12 we agreed that it is a bug and reopen it. We leave it s3 and as mentioned by Theresa in the discussion it blocked onboarding of 2 hubs. So let's fix it to make the private shop feature fully work.

[2019-01-17 14:36] luisramos0 commented on #3114
3246 was reverted, this spec is still failing. reopening.

[2019-01-17 15:35] YanhanLyu commented on #1156
@myriamboure Thanks a lot for clarification! My problem is that I do not know how to reproduce @OliverUK 's example. If the first name and last name in @OliverUK 's example come from the customer model, then I could modify the customer model only, but I'm not sure if they come from somewhere else(like the first and last name stored in billing address).  Thanks again @myriamboure !

[2019-01-17 15:40] sauloperez commented on #2469
A friend of mine told me they did exactly the same (@mllocs 's colleague) and the test suite with chrome takes longer so I'm not sure we'll win anything on that end.

[2019-01-17 15:48] sauloperez opened #3348 "moment().add(period, number) is deprecated"
## Description

In https://github.com/openfoodfoundation/openfoodnetwork/pull/3344 we started seeing the new deprecation warning

[code]

You can see it in the 1st job build in https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3344/builds/3.

## Expected Behavior

We need to change the calls the moment's `add()` to follow the new signature. Let's not forget to read

[2019-01-17 19:04] #2469 closed

[2019-01-17 19:07] sigmundpetersen commented on #3253
Close issue?

[2019-01-17 19:08] sigmundpetersen commented on #2931
Close issue?

[2019-01-17 22:40] luisramos0 commented on #2931
ah, yes, thanks for the heads up!
I verified, the tests are all green on the 2-0 build.

[2019-01-17 22:40] #2931 closed

[2019-01-17 23:34] luisramos0 commented on #2247
s5 should be in all the things right @sigmundpetersen ?

[2019-01-17 23:35] luisramos0 commented on #3063
s4 should be "all the things" right @sigmundpetersen ?

[2019-01-18 03:06] daniellemoorhead commented on #1156
@OliverUK or @lin-d-hop or @NickWeir63  are you able to help @YanhanLyu with his questions on how to replicate the issue?

[2019-01-18 08:32] OliverUK commented on #1156
I don't really understand the question. If it's about where the report takes its data from, then I don't know. But I'd be interested to know for a start why some information of customers in the customers screen is populated and some isn't. For some, the names and addresses are filled in and for others they are not, regardless of how recently they ordered. Yet when they do order, all their details

[2019-01-18 09:14] lin-d-hop commented on #1156
Hi @YanhanLyu
Your question does not seem to be about replicating the issue, but about the OFN data model. I can help on both fronts.

1) Firstly it would be great to confirm you can replicate the issue. On your local dev environment can you use the UI to complete 2 orders using surnames that are known to cause issues in this bug report. Try creating orders with surnames Misu and MUMU and check th

[2019-01-18 09:20] OliverUK commented on #1156
Certainly @lin-d-hop  @YanhanLyu the report is Pack by Customer

[2019-01-18 16:49] #2510 closed

[2019-01-18 16:50] #3253 closed

[2019-01-18 17:53] kristinalim opened #3356 "[Subscriptions] Move SubscriptionVariantsService to OrderManagement engine"
Move SubscriptionVariantsService to OrderManagement engine

## Description

This will be part of the effort to split the code into domains, as discussed [here](https://community.openfoodnetwork.org/t/breaking-ofn-down-into-domains/1377).

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes expected.

[2019-01-18 23:45] luisramos0 opened #3358 "[Flaky Spec] spec/features/admin/bulk_order_management_spec.rb:322,436"
## Description
This spec seems be unreliable: https://github.com/openfoodfoundation/openfoodnetwork/pull/3354#issuecomment-455585480

## Context
Our automated test fail regularly due to unreliable specs. If you encounter this in your build then comment on this issue or add :+1:

Error:

[code]

[2019-01-19 00:51] kevinchristianson commented on #3001
@luisramos0 we found a ruby gem called [swagger-blocks](https://github.com/fotinakis/swagger-blocks) that uses [Swagger UI](https://github.com/swagger-api/swagger-ui) to create Swagger documentation connected to ruby code. This would allow us to write documentation within classes themselves and then generate Swagger UI webpages from that. We set it up on [our fork](https://github.com/kevinchristia

[2019-01-19 23:35] luisramos0 commented on #2783
the description is a bit outdated now because we have since then agreed that we will not play with stock items but instead use the variant_stock facade to handle these cases. done in #3355

[2019-01-19 23:39] luisramos0 commented on #2783
the only case where this is still a problem is the only broken spec after #3355:
spec/models/product_importer_spec.rb:684

In this spec, we test entry_processor.assign_defaults where we set the defaults.
The challenge here is that we set the defaults before we save the "object", but the object can be product or variant, SO, it's not straight forward to do the same as in #3355 where, for variants w

[2019-01-19 23:59] luisramos0 commented on #3001
ah, brilliant!!! you guys rock!
Your suggestion is a great idea!!! API docs in the code help keep the docs up to date but it's a lot of noise in the controllers...

You will not be able to cover the full API unless you automate the process, right? So, automating the docs to get a good coverage is the most important thing here. My main question is thus: would be able to use Swagger Inspector and ge

[2019-01-20 03:47] ZiyangGao1028 commented on #3309
I would like to take this as my first issue!

[2019-01-20 18:58] ZiyangGao1028 commented on #3309
I tried to create a new profile called Test example and in the enterprise settings page I found it manageable to save the new lines. And I also searched for other shops on map, it seems that they have no problem having breaking lines either. Could you tell me more details of how you derived your problem?
Thanks!
![screen shot 2019-01-20 at 12 58 11 pm](https://user-images.githubusercontent.com/265

[2019-01-20 19:33] ZiyangGao1028 commented on #1382
Hi there, I'm a new dev and I would like to pick it up as a first issue!  -Ziyang

[2019-01-21 04:43] sstead opened #3362 "Add 'would you like to save changes?' alert to Product page"
## Description
On the Bulk Edit Products page (or Inventory page), if I makes some changes and don't click save, then I navigate away from the page, my changes are lost. Can we please add a dialogue box in this case asking the user whether they want to Save Changes?

## Expected Behavior
If I make some changes but don't click save, then i navigate away,  I would like to be asked 'are you sure you

[2019-01-21 08:06] kristinalim opened #3363 "[Subscriptions] Move distributor to instance variable for service object not class"
Move `distributor` to instance variable for service object not class.

## Description

See this review thread: https://github.com/openfoodfoundation/openfoodnetwork/pull/2733#discussion_r218969087

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes expected.

[2019-01-21 08:09] kristinalim opened #3364 "[Subscriptions] Move subscription code away from some core OFN classes"
Move `distributor` to instance variable for service object not class.

## Description

See these review threads:

* https://github.com/openfoodfoundation/openfoodnetwork/pull/2733#discussion_r218977379
* https://github.com/openfoodfoundation/openfoodnetwork/pull/2733#discussion_r218978318

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes ex

[2019-01-21 09:42] sineadfenton opened #3365 "Reports resulting in an error page - Delivery & Payment Methods Reports for users with multiple enterprises"
## Description

Particluar reports and particular users are finding that reports are resulting in an error page. Reported by Oliver at Stroudco and we suspect it is something to do with the amount of data being processed.

- Delivery Report
- Payments Method Report

UK team discussed and are logging here as part of  speed improvement work?

## Expected Behavior

Using an account with few enterpris

[2019-01-21 09:42] sineadfenton commented on #3365
![](https://github.trello.services/images/mini-trello-icon.png) [Delivery report broken](https://trello.com/c/9Zuxye2T/321-delivery-report-broken)

[2019-01-21 12:13] myriamboure commented on #1255
I've removed bug label as this is part of mobile ready feature and part of an epic already.

[2019-01-21 12:46] myriamboure commented on #2808
@luisramos0 can I close that epic ? There is still one issue about some remaining untranslated emails, I kept the issue in the bug backlog. There are other things that have not been done for a local instance to be fully multi-lingual but it is a new feature to prioritize, the first level of feature was about making non data things translatable https://community.openfoodnetwork.org/t/multilingual-i

[2019-01-21 12:59] myriamboure commented on #861
This is one of the option described in the wishlist item https://community.openfoodnetwork.org/t/an-enterprise-can-offer-different-prices-for-different-type-of-customers-ex-members-wholesalers-etc/1148/16, this is not a bug so closing it.

[2019-01-21 12:59] #861 closed

[2019-01-21 13:18] luisramos0 commented on #2808
Yes, agree @myriamboure thanks for the heads up. I am closing this epic now.
For me, it's was really about getting the basics for katuma's adoption in Portugal. Job done ;-)

In terms of the remaining work, imo I think we shouldn't consider it a bug, multi-language is a feature and this epic was the first step. Making the other emails multi-language is the continuation of the feature.

[2019-01-21 13:18] #2808 closed

[2019-01-21 19:00] #3114 closed

[2019-01-21 23:46] #2674 closed

[2019-01-21 23:59] luisramos0 commented on #3114
thanks @sigmundpetersen

[2019-01-22 13:06] myriamboure commented on #959
Sorry @sigmundpetersen but I don't think this epic should be in feature backlog as there is it is not ready to put in the pipe, for that we need it to be properly incepted and a story map needs to be there, so with actionable issues attached to it. So until then I would leave it in all the things. Also, we did prioritize but a year ago, so maybe things will be reshuffled a bit with new voting proc

[2019-01-22 13:08] myriamboure commented on #2228
I think the first issue is there and somehow ready to be taken so I guess we can leave it in feature backlog... not sure we will prioritize as it seems other things will go first, but it is in the column.

[2019-01-22 16:57] luisramos0 opened #3369 "Improve unreliable specs - Use timecop for time comparison in specs"
## Description
A quick fix to spec/models/proxy_order_spec.rb was put in place in #3354
the correct solution for this and all occurrences of this issue is to use timecop.freeze

## Expected Behavior
Spec is reliable and precise.

## Actual Behavior
Spec is not precise, assertion is too generic (2 seconds).

## Possible Fix
Use [timecop](https://github.com/travisjeffery/timecop).

[2019-01-22 20:14] Chrisyee22 commented on #3362
Would it be alright if I worked on this?

[2019-01-22 20:51] sigmundpetersen commented on #3362
Yes that would be alright indeed @Chrisyee22 ! 👍 Have you already found your way to https://github.com/openfoodfoundation/openfoodnetwork#contributing ? Please ask in the #dev channel of our Slack referred there if you have any questions. Thank you and welcome to OFN!

[2019-01-23 05:59] mkllnk commented on #3121
I finally made some progress here and can make that part of the spec pass without changing original Spree code, just loading decorators at the right time. This has been so difficult, because we are dealing with two issues here:

1. Our Rails version has issue https://github.com/rails/rails/issues/3847 which has never been solved. Sometimes ActiveRecord associations are not passed on to inheriting

[2019-01-23 08:46] luisramos0 commented on #3121
well done. amazing work @mkllnk

[2019-01-23 10:23] myriamboure commented on #2715
I'm sad too but I put that back in features backlog until we reach 2 epics in the dev ready column. Of course if a dev who have specific skills for this comes back in we can decide to push it back in, but for now we need to finish the other priorities.

[2019-01-23 12:35] #3063 closed

[2019-01-23 15:09] #2429 closed

[2019-01-23 15:50] luisramos0 opened #3372 "[Spree Upgrade] Fix lettuce_share_report_spec (1 broken spec)"
Broken spec in Job 1 - 1 x spec/lib/open_food_network/lettuce_share_report_spec:58

[code]

Looks like a problem with how the report handles variants vs variant overrides.

[2019-01-23 15:59] luisramos0 opened #3373 "[Spree Upgrade] Fix reports_controller_spec (12 broken specs)"
Job 2 - 12 x spec/controllers/spree/admin/reports_controller_spec.rb

[code]

It’s a problem with the “assigns” method used in this spec to fetch the report object from the controller

[2019-01-23 16:46] sauloperez opened #3375 "Refactor update_shipping_fees!"
## Description

We need to investigate if there's a better solution to what we did in

https://github.com/openfoodfoundation/openfoodnetwork/blob/7881f96cac164b823af99570520976104405529a/app/models/spree/order_decorator.rb#L171-L177

to enable the modification of line items for completed orders. As expressed in https://github.com/openfoodfoundation/openfoodnetwork/pull/3250#issuecomment-450179544,

[2019-01-23 17:00] sauloperez opened #3376 "Extract #with_open_adjustments out of OrdersController"
## Description

In https://github.com/openfoodfoundation/openfoodnetwork/pull/3366 we purposefully left an already grown `#with_open-adjustments` method in OrdersController but with the commitment to extract it.

Doing so will make it possible to reduce the complexity of that method by extracting others from it while doing the same with an already fat controller. Note, however, that we might need

[2019-01-23 22:51] haseleyi commented on #3001
RE automation: it’s a strong word; these gems operate by generating json from special code within the code. Swagger-blocks does so via added controller code. Another gem that we’ve succeeded setting up is rswag. It’s similar, but has the advantage of keeping documentation in specs. This could help reduce clutter in the controllers. Swagger blocks has an open PR for covering openAPI V3: https://git

[2019-01-23 23:13] luisramos0 commented on #3001
nice, thanks for your input! your list of advantages is good.

By automation I mean to automate the generation of the docs from the existing API without having to review any endpoint. From what I understand with swagger blocks you would have to generate the "special code" in the controllers. if there are 200 endpoints in our controllers (I think they are more), that means you would have to write a

[2019-01-23 23:51] mkllnk opened #3379 "[Spree Upgrade][BackOffice] Payment method (1 broken test)"
Follow up from #3121.

[code]

     Failure/Error: expect(page).to have_field 'Password', with: ''
       expected to find visible field "Password" that is not disabled with value "" but there were no matches. Also found "", which matched the selector but not all filters.
     # ./spec/features/admin/payment_method_spec.rb:108:in `block (2 levels) in <top (required)>'

[2019-01-24 03:08] mkllnk commented on #3379
The problem is that the payment method's password is displayed in the form. It used to be hidden for security and was only changed if submitted. From memory, that is a feature we added. Maybe that got lost during the de-defacement.

[2019-01-24 03:20] mkllnk commented on #3379
That part of the spec was introduced by https://github.com/openfoodfoundation/openfoodnetwork/commit/d12c486dd2d84f9b0f46fb6a3d8a27b4afe6bc65 which uses a custom patch version of better_spree_paypal_express to hide the password.

[2019-01-24 05:17] kristinalim opened #3381 "[Flaky Spec] spec/features/admin/enterprise_roles_spec.rb:118"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/429

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-24 05:19] kristinalim opened #3382 "[Flaky Spec] spec/features/admin/bulk_order_management_spec.rb:600"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/428

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-24 05:29] kristinalim opened #3383 "[Flaky Spec] spec/features/admin/bulk_order_management_spec.rb:56"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-2833/builds/5

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-24 05:42] mkllnk commented on #3021
From the Changelog:

Our current usage of `destroy` is probably no problem. But we need to look for `delete` and other calls that were removed from the following models:

- [ ] PaymentMethod
- [ ] Product
- [ ] TaxCategory
- [ ] TaxRate
- [ ] Variant

[2019-01-24 08:02] sigmundpetersen commented on #3382
Duplicate of #2962? @kristinalim

[2019-01-24 08:08] kristinalim commented on #3382
You're awesome, @sigmundpetersen! Yes, it is. :grinning: Closing this now.

[2019-01-24 08:08] #3382 closed

[2019-01-24 09:14] sineadfenton opened #3384 "Product import crashing unexpectedly upon data upload"
## Description

Product upload sporadically breaks

## Expected Behavior

Upload data and it processes and tells you how many

## Actual Behavior

The data import appears to only be able to handle so much data - to manage this we've breaking up the upload into smaller chunks of about 50-100 rows at a time.

We've noticed when doing this the page crashes sporadically and appears to only upload so m

[2019-01-24 09:16] sineadfenton commented on #3384
I will flag this up in the slack channel following our discussion @lin-d-hop

[2019-01-24 10:21] kristinalim commented on #3358
This unified diff [3358-intermittent_spec_failures.patch.txt](https://github.com/openfoodfoundation/openfoodnetwork/files/2791191/3358-intermittent_spec_failures.patch.txt) that adds a delay at the right place reproduces these errors consistently for me:

[code]

[2019-01-24 11:21] leandroalemao commented on #3348
Hi folks,
I've just opened a PR to fix this https://github.com/openfoodfoundation/openfoodnetwork/pull/3386.
I hope it's all good.
Tks
Leandro.

[2019-01-24 11:49] sigmundpetersen commented on #3381
Seen again on several lines in same spec https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3386/builds/1

[code]

[2019-01-24 14:22] kristinalim commented on #3384
The network panel says `save_data` was getting HTTP 504, confirming that this is a timeout issue.

I noticed two simultaneous `save_data` HTTP requests in the Network panel in the screen recording, and learned that product import processes the CSV in batches of 50. So if there are 200 rows, the browser starts four simultaneous HTTP requests to the server: one to process rows 1-50, another to proce

[2019-01-24 16:02] haseleyi commented on #3001
Luis! You’re the best, thank you so much for your quick and thorough responses. These links are super helpful.

We agree that some level of automation would tip the scale in favor of Inspector over the gem-based alternatives that we found, not to mention its compatibility with openAPI V3. Are you aware of an Inspector feature that has that “run a script” functionality of endpoint detection? We’re

[2019-01-24 16:56] luisramos0 commented on #3001
nice, 403... it must be authorization. how are you authenticating before using the api? the user that you use for your test must have the right access to see the data. api keys or rails sessions are two ways to get into the api, I am not the best person to clarify here...
some context: https://community.openfoodnetwork.org/t/road-map-for-ofns-api/931

@mkllnk do you have more info about api auth?

[2019-01-24 17:48] myriamboure opened #3388 "[Subscriptions] If I cancel a subs order, I still receive the email saying the order was made at the end of OC"
## Description
As a customer I have a recurring order with hub A.
On week X, I receive the email when OC opens saying "an order has been made, click here to modify".
I click and cancel the order.
I receive an email saying the order has been cancelled.
But when the OC closes, I still receive an email saying the order has been made ! It is pretty confusing for the customer...

## Expected Behavior
I

[2019-01-24 17:50] myriamboure commented on #2910
@kristinalim @lin-d-hop @RachL  can I have a review of my proposal for the cancellation email template ? cf last post. I need to clarify that as part of subs remaining stories. Thanks !

[2019-01-24 17:53] myriamboure commented on #1394
:point_up: @kirstenalarsen @lin-d-hop @RachL woudl be great also to have your feedback on my proposal for this second and last story that was in "define and design" in sub, so I need some review before specifying what to do. Thanks !

[2019-01-24 18:10] lin-d-hop commented on #2910
Nice work Myriam!
The template looks great. From the top here are my English suggestions:

"If you have changed your mind or don't wish to cancel this order please contact [hub manager email]"
_I think you can remove the line_ "Here are the details of what you ordered:"
"Your order was unpaid so no refund has been made"
"Your order was paid so Superhub has refunded the full amount"
"Your order was

[2019-01-24 18:15] myriamboure commented on #2764
@sineadfenton any news on this one ? It's on top of the list, so if the bug is still there we can add it to the dev ready column in 5th bug position to be taken, there is a free spot ;-) Else let's close it, we can always reopen if it reappears for some reason later. Thanks !

[2019-01-24 18:53] myriamboure commented on #2910
@lin-d-hop about deleting the line "Here are the details of what you ordered:" see:
- order confirmation email
![capture du 2019-01-24 19-47-06](https://user-images.githubusercontent.com/8135376/51701282-6c98d900-2011-11e9-96c6-677595e45197.png)
- in subs, notification email saying was unable to place the order
![capture du 2019-01-24 19-46-00](https://user-images.githubusercontent.com/8135376/517

[2019-01-24 19:54] haseleyi commented on #3001
It seems to me that Swagger Inspector and Swagger Hub shouldn't differ in the level of authentication they require. I didn't input anything but a URL for the former.

[2019-01-24 23:08] mkllnk commented on #2225
I've done this investigation when doing https://github.com/openfoodfoundation/openfoodnetwork/pull/3380. We have only two commits on top of Spree code

- Pass customer email and phone number to PayPal (Rohan)
- Change type of password from string to password (Maikel)

They are tiny code changes that have not been sent to upstream, but could be useful there as well. I think we should open pull requ

[2019-01-24 23:08] #2225 closed