[2015-11-20 05:08] RohanM commented on #275
Note: Some further discussion and simplification in PR #302

[2015-11-20 10:49] pmackay commented on #713
At a hunch I suspect this is because there are new strings that have been localised but they need adding to the en-GB translation files.

[2015-11-22 20:28] NickWeir63 commented on #713
Thanks @pmackay - is this something we can do or do wee need to ask @kirstenalarsen for some help from the Aus team?

[2015-11-22 20:30] pmackay commented on #713
I can try to do it tomorrow. Have found that is the problem, lots of new translation strings missing from en-GB file. Will update soon.

[2015-11-22 20:44] NickWeir63 commented on #713
great thanks very much.  If that works please can you do the same update to UK production?  I have done various test on UK staging and apart for those weird labels everything seems to be working OK.

Really appreciate your help with this

[2015-11-23 02:04] sstead commented on #631
@oeoeaio Just testing the fix to this in staging2 now. The Sales Tax and Xero report are no longer visible to the producer who supplied a hub- they see no report. This is good from a customer privacy perspective. But just to be sure, the producer wouldn't need the GST report for their own GST reporting? And they wouldn't need the Xero report to invoice the hub? I guess this is not the purpose of t

[2015-11-23 06:34] oeoeaio commented on #631
@sstead Yep, that pretty much sums up my understanding. Might just double check with @kirstenalarsen for sanity:

GST on an order sold through OFN should have no relevance for producers, and I don't think producers should have the ability to generate an Xero invoice reports for orders that were created through a separate hub that they happen to sell produce to.

[2015-11-23 06:49] kirstenalarsen commented on #631
hmmm, I might need to think about this one a bit . . I think that’s right as in they don’t care whether the hub counted gst or not, all they care about is whether they’re charging gst or not . . but might there be a case where they’re using these reports to work our what they should be charging the hub/s and possibly putting info into their own systems for invoicing . . in which case the reports s

[2015-11-23 16:16] pmackay commented on #705
When testing this out locally am noticing that this warning is appearing:

`Digest::Digest is deprecated; use Digest`

@oeoeaio do you know what the cause is?

[2015-11-23 16:44] pmackay opened #715 "en-GB translation strings missing"
Mentioned first in #713.

[2015-11-23 17:13] NickWeir63 commented on #715
Do we need to ask for Aus help on this or will they pick up on the bug label?

[2015-11-23 17:17] pmackay commented on #715
@NickWeir63 have created a PR - if Aus can merge to master I can push to staging.

[2015-11-23 21:21] oeoeaio commented on #705
Hi @pmackay,

Not sure off the top of my head, but it is on my radar as I have been seeing it too.

[2015-11-23 21:26] oeoeaio commented on #715
Pinging @mkllnk

[2015-11-24 06:03] mkllnk commented on #665
## Resolved error re-occurred in OpenFoodNetwork

**ActiveRecord::RecordNotUnique** in **spree/admin/products#clone**
PG::Error: ERROR:  duplicate key value violates unique constraint &quot;permalink_idx_unique&quot;
DETAIL:  Key (permalink)=(sunflower-rye-porter-4) already exists.
: INSERT INTO &quot;spree_products&quot; (&quot;available_on&quot;, &quot;count_on_hand&quot;, &quot;created_at&quot;

[2015-11-24 23:30] elf-pavlik opened #717 "i18n of spree customizations"
Instructions from @mkllnk

[2015-11-26 00:29] mkllnk commented on #715
@pmackay I'm working on automated commits of the Transifex translations to a separate branch in our repository. But I noticed that Transifex uses `en_GB` instead of `en-GB`. Do you have any concern changing the name of the locale to `en_GB`?

[2015-11-26 08:34] pmackay commented on #715
Would changing the file to `en_GB` fix the problem of the strings not being picked up in JS? Isnt Transifex just about creating the translations?

[2015-11-26 08:56] pmackay commented on #715
My last comment was before I read https://github.com/openfoodfoundation/openfoodnetwork/pull/716#issuecomment-159748883. So I dont have a problem changing the file to `en_GB` if it doesnt affect anything else. Would that mean the `application.yml` files need changing to use that as the locale?

[2015-11-26 21:18] NickWeir63 commented on #713
With big thanks to the Aus team and Paul we now have the latest version on UK production and the load speed is down to 34 seconds which is great.  Thanks to all involved.

However the general feeling at Stroudco is that it would be good to reduce this load speed further.  Please can we have a look at Paul's pagination idea?

Thanks very much

[2015-11-27 04:30] sstead opened #718 "Shipping fees should update after I make an adjustments to an order (in order, or in BOM)"
Currently, shipping fees do not update after an order is adjusted in either single order edit, or BOM. This applies to shipping fees that are not a set fee, but calculate based on the order total (such as a % fee).

[2015-11-27 14:28] elf-pavlik commented on #551
@myriamboure can we close this one in favor of #547 ? We have already put it in on a milestone for Berlin hackweek!

[2015-11-27 14:30] elf-pavlik commented on #556
We could take a look at it during hackweek in Berlin. @myriamboure please feel free to move it to related milestone!

[2015-11-27 14:36] elf-pavlik commented on #653
does it relate to https://lettuceshare.org/ ?

[2015-11-27 14:38] elf-pavlik commented on #704
possibly relevant: #538

[2015-11-30 10:10] NickWeir63 commented on #275
I just put a test order through staging 2 and then 'notified producers' and the email came through perfectly.  Thanks very much

[2015-11-30 14:16] NickWeir63 commented on #264
Just tested this on UK production and it works perfectly there too
Thanks Lynne

[2015-11-30 14:16] NickWeir63 commented on #265
Just tested this on UK production and it works perfectly there too
Thanks Lynne

[2015-12-01 04:22] kirstenalarsen commented on #653
yes, this is the report that extracts info on product availability for
import into lettuceshare. I think it is working fine but this was a note I
made on implementation that it is pretty slow. This refactor not currently
scheduled by us . . will add to my list of things to check with the user
that commissioned this e.g. whether they're happy with it the way it is or
might want to upgrade it at som

[2015-12-01 06:48] kirstenalarsen commented on #9
note: we are looking at integrating a discourse instance within ofn instance as communications / discussion forum for users (see . would like single login e.g. login to ofn = login to integrated discourse. Discourse already has this functionality . . just in case is relevant. See http://community.openfoodnetwork.org/t/integrate-discourse-into-ofn-instance-as-communications-platform/426

[2015-12-02 05:01] #679 closed

[2015-12-02 05:09] myriamboure commented on #551
Sure @elf-pavlik, I close it now :-)

[2015-12-02 05:09] #551 closed

[2015-12-02 05:11] myriamboure commented on #556
@elf-pavlik I'm not sure this is still a valid issue as I think it was just a translation issue that we fixed in Transifex... For Scandinavia even if we have different languages and just one instance, we can for each language use the good term for organization number and VAT, we'll see when the case happens if we need more than that. Just waiting for confirmation from @sigmundpetersen and Cynthia.

[2015-12-02 08:39] sigmundpetersen commented on #556
I guess this is fixed yes with translation of the locale files. I think in the case we go for one Scandinavian instance we should have implemented language choice for the user in the front and back end.

[2015-12-02 12:06] myriamboure commented on #556
Ok, I close the issue then.

[2015-12-02 12:06] #556 closed

[2015-12-03 08:52] kirstenalarsen commented on #713
also check server and whether it needs a zap / upgrade

[2015-12-03 09:11] #275 closed

[2015-12-03 09:58] NickWeir63 commented on #406
We agreed at our skype today that we would review this issue at our next skype on 17th Dec and see if Steve or one of the Aus team might be able to take it on

[2015-12-03 10:18] NickWeir63 opened #719 "Learning and documenting buildkite deployment to UK servers"
At today's skype we talked about the best way for @stveep to deploy his work on stock levels to UK staging.  We talked about whether all UK developers should be able to deploy or if we want one person to co-ordinate it.  We also talked about how important it is to document the deployment process on discourse so that other people can follow it in future.  We agreed:
1) that I would ask @pmackay if

[2015-12-03 10:20] NickWeir63 commented on #715
@pmackay
 is it OK for us to close this now?
thanks for all your work on this

[2015-12-03 10:20] #715 closed

[2015-12-03 10:23] NickWeir63 commented on #526
here is the text for UK production.  if you can show me how to make it into HTML i will do the rest
thanks
[OFN UK pricing table.docx](https://github.com/openfoodfoundation/openfoodnetwork/files/50668/OFN.UK.pricing.table.docx)

[2015-12-03 19:49] pmackay commented on #719
Happy to have a chat. Might be useful if @mkllnk could clarify who can access Buildkite? (cannot remember the license issues).

Suggest deployment process notes go here https://github.com/openfoodfoundation/ofn_deployment/wiki/Deployment-with-Buildkite. I've added a description of how to use the UK projects.

[2015-12-03 19:58] pmackay commented on #713
Can you expand on what “zap” might involve? :)

Also I think the specs are the same as yours, so not sure if upgrade involving more cost is worth it? 

However there must be some reason for a difference if yous is much faster. Do you have a link to a shop on the Aus OFN with a similar number of products that loads faster?

[2015-12-04 01:31] mkllnk commented on #719
We pay $7.50 USD per user per month for using Buildkite. Lynne and Paul, you both have accounts. Should we give Steve one as well?

If you choose to have one co-ordinator, you would need only one account which saves a bit of money.

I can add some notes to the [deployment project](https://github.com/openfoodfoundation/ofn_deployment/wiki/Deployment-with-Buildkite) how it works.

[2015-12-04 01:43] mkllnk commented on #719
Hey, just saw that @pmackay documented the UK projects on Buildkite already. Do you need any more details on how it works?

Would you like a chat with me about the deployment? We could have a Skype chat next week. But you can also post any questions here or email me.

[2015-12-04 08:26] pmackay commented on #713
@kirstenalarsen @RohanM a separate comment on Discourse suggested that your servers might be a higher spec now. Is the recommended server spec documented somewhere? If not, could it be please?

[2015-12-04 08:27] pmackay commented on #641
Looks like this has now been solved.

[2015-12-04 08:27] #641 closed

[2015-12-06 06:36] kirstenalarsen commented on #692
@sstead @RohanM so can we now close this? If there is still an issue with shipping, can create separate issue?

[2015-12-06 06:46] kirstenalarsen opened #720 "Reorganise order 'invoice' 'print' resend' action buttons for clarity"
Enterprise users can generate printable invoices from inside an order. They have three options from within an order:
- (when not in edit mode) - can 'print' which will create pdf in new tab
- (when in edit mode) - can 'resend' email in template to customer; can 'invoice' which sends email with printable invoice as attachment

This is confusing - which button is where and why

Can we have an 'actio

[2015-12-07 03:11] kirstenalarsen opened #721 "Variable weights not carrying into Xero reports"
We've used this new feature a few times this week, but i just did some searching through Xero reports and it doesn't look like the weight is being reflected.  The price is altered, but just looks like the original weight is a cheaper price.

For instance, we had to share around some peaches that were in short supply - so these two orders shared a box (originally a 9kg box - they got 4.5kg each)  I

[2015-12-07 03:42] kirstenalarsen opened #722 "Adjustments to Lettuceshare report"
Change columns in lettuceshare report.
- Remove values in Unit Price column (not needed) and make data currently going to Totals column show in Unit Price Column... leaving Totals column blank. [For lettuceshare users, the 'QTY' column and the 'Totals' column are blank, and that program puts sums in place to complete the math.]
- make it so that variants don’t appear if they are set to 0 in invent

[2015-12-07 03:49] kirstenalarsen opened #723 "Order confirmation email subject lines"
- Email subject line when sent to customer - somehow more personalised to Food hub they ordered from - e.g. "thanks for ordering at XX on the Open Food Network" ???

[2015-12-07 04:32] kirstenalarsen commented on #660
reported by FC as "Cloning reverts to the original details of the product - often vastly different to what the current product is, price, pack size, etc, etc"

[2015-12-07 04:36] kirstenalarsen opened #724 "BOM: select multiple OCs into filter"
can’t select multiple OC’s into filter for Bulk Order Management - would have to use date search functions to cover all our days….??

[2015-12-07 04:38] kirstenalarsen opened #725 "GST not visible / obvious in shopfront - should we do something about this? [discuss]"
Raised by FC, how much of an issue is it? should we attempt to resolve?

[2015-12-07 07:17] myriamboure commented on #725
That sounds good @kirstenalarsen , we would love the VAT to be shown in the price breadown. And further that, we should be able also to fill in a price without VAT, the VAT is actually not connected to the price product, it's really strange to fill in price with VAT;.. imagine tomorrow the country change the VAT rate (which happens sometimes) then we have to change alllll the prices, whereas if we

[2015-12-07 07:31] kirstenalarsen commented on #724
hold for now - FC checking . . if date range is ok, then no need for this . .

[2015-12-07 08:13] kirstenalarsen commented on #725
@myriamboure you don't put the prices in with vat, you choose whether the product should have tax attached or not, then it will be added or not so that tax rate changes already work as you describe. re. BtoB and option to show prices with or without tax, I'd see that more as wishlist - perhaps create a new tax wishlist page if there are features that you'd want considered in the future?

[2015-12-07 22:55] kirstenalarsen opened #726 "Orders index page, order cycle filter not offering all valid options"
When user is manager of hub, is seeing correct orders in orders index page, but order cycle filter is not giving correct options - think maybe is only offering OCs that user is coordinator of? needs to be those also participating in?

[2015-12-08 04:00] kirstenalarsen opened #727 "'Saving' information without scrolling - products page"
"I am editing product names, etc. and thought it would be great to have another "saving" next to the bottom "save changes" button when saving. Otherwise I find I have to scroll back to the top to see if saving has finished.

@oeoeaio has introduced some new code to handle similar issues to this on the bulk order management page (or new variant overrides?), which could probably be also applied into

[2015-12-08 04:06] oeoeaio commented on #727
Easy!
On Tue, Dec 8, 2015 at 15:00, openfoodfoundation/openfoodnetwork
<reply@reply.github.com>
wrote:
"I am editing product names, etc. and thought it would be great to have another
"saving" next to the bottom "save changes" button when saving. Otherwise I find
I have to scroll back to the top to see if saving has finished.

@oeoeaio [https://github.com/oeoeaio] has introduced some new code to ha

[2015-12-08 18:19] myriamboure opened #728 "Strange mistake in report with unexisting product"
In our order cycle we propose a "ung presset ost" (a cheese) of 200g.

In the product list of the producer it appears correctly, in the front end also, in the email confirmation also, in the bulk order management also... but in the detail of the order and the report it doesn't appear correctly, some very strange thing is happening.

Here is Magali's confirmation email:
![ofn_etrange_fromage3](http

[2015-12-08 18:20] myriamboure commented on #728
Can it be connected to that issue @kirstenalarsen? https://github.com/openfoodfoundation/openfoodnetwork/issues/697

[2015-12-08 19:22] NickWeir63 commented on #538
We have now tested this and it is working fine - thanks very much.  There are still some issues with text being a bit small but I think we can move this to backlog and deal with the text size as a lower priority later.

[2015-12-08 19:23] pmackay commented on #538
@NickWeir63 suggest close this and open a new issue about font sizes? That sounds like something @elf-pavlik and others could do during hackathon easily.

[2015-12-09 02:55] sstead opened #729 "Add case studies to ofn.org.au in hub sign up page."
I have approved case studies for Baw Baw and Farm Food Store. Written for Bondi too, but Shann hasn't had a look at it yet (might soon, check with me).

Want these to be either put into .au as a new page. Or I can put them into .org and just need the hyperlink in .au to be updated.

Any wisdom as to where they should be located?
- I figure they are useful on the global site, maybe under Platform >

[2015-12-09 04:02] sstead opened #730 "Shipping adjustment GST status in Xero report"
This is a minor issue.

![image](https://cloud.githubusercontent.com/assets/10843056/11676298/4b5f9e42-9e85-11e5-93cb-4bbbdb842522.png)

[2015-12-09 04:04] sstead commented on #692
closed - https://github.com/openfoodfoundation/openfoodnetwork/issues/730

[2015-12-09 04:04] #692 closed

[2015-12-09 11:54] kirstenalarsen commented on #728
Rob picked this up previously and is fixed in later commit, which I think Rohan has deployed for you by now.

[2015-12-09 12:07] myriamboure commented on #728
Ok, sorry if it was already reported and fixed :-) I think we did the exports before Rohan depoyed the new version, so hopefully that won't happen again. I close the issue then.

[2015-12-09 12:07] #728 closed

[2015-12-09 16:07] NickWeir63 commented on #538
Great - @elf-pavlik if this is possible for you to look at then my tester suggested that we also change the way OFN displays on iPhones so that it does not change format when you turn the iPhone on its side

[2015-12-10 12:43] NickWeir63 commented on #229
Another option for this is https://stripe.com/gb which looks very promising.  @elf-pavlik Is this also something that could be explored at the hackathon?
Thanks

[2015-12-11 01:03] sstead commented on #722
Problem: The Lettuceshare report is looking at the 'on hand/on demand' status of the product, not the variant. Further, there is a value in the system which I can't see that is also impacting on this. For instance I can have two products set to 'on demand' but one will show in the report, another will not. I think it has something to do with historical on hand values assigned to the product. A new

[2015-12-11 01:10] sstead commented on #722
It appears that the Lettuce share report looks at the Price and On hand value of the producer's product, not the variant override

[2015-12-11 03:24] kirstenalarsen commented on #229
I've put this into the hackathon milestone so is on their radar, can move back if they don't pick it up / get done

[2015-12-11 12:54] myriamboure commented on #229
Actually we are also very interested in Stripe as a payment gateway, especially the "Connect" option, which works a bit like Mangopay (both seems interesting). The good thing is that with those payment gateway when a customer pays, the money is directly distributed to the good bank account (the product prices go to the producers accounts directly, the fees go to the hubs, etc.) We just have to "wr

[2015-12-11 15:14] elf-pavlik commented on #538
Tomorrow we will know if someone will bring iPad / iPhone and would like to work on it

[2015-12-12 12:34] ludivinecp commented on #547
I'm working on it !

[2015-12-12 15:59] Em-AK commented on #319
Is anyone working on this ?
We are dealing with localisation during the EU hackweek, we can also deal with this issue.

[2015-12-12 19:45] stveep commented on #719
Paul and I discussed this and we think it's probably not worth me having my own account - at least in theory it's all automated and won't require much manual action. I think I'm clear now on what to do so closing this.

[2015-12-12 19:45] #719 closed

[2015-12-12 19:56] stveep commented on #404
This has now been merged with a more recent version of master and pushed to a new branch uk/default-inventory, so should be ready for staging/testing. I see that buildkite has already failed though which is a good start! Hopefully that shouldn't take too much fixing - can @pmackay or @lin-d-hop let me know what the issue is?

[2015-12-12 21:25] oeoeaio commented on #404
Hi @stveep,
You'll need to merge in the current version of master in order for the branch to build. I notice that the version you have merged is a week and a half old. This is required for the build pipeline to work and is generally good practice for continuous integration.

[2015-12-12 22:30] stveep commented on #404
Thanks @oeoeaio - I merged the latest one and looks like the Buildkite build has now worked, although I got one weird spec failure on the TravisCI job:

https://travis-ci.org/openfoodfoundation/openfoodnetwork/builds/96498899

This passed when I ran it locally so not sure why this is happening.

[2015-12-12 23:16] mkllnk commented on #717
Another little addition: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Angular-and-OFN#i18n---using-translation-features

Feel free to ask questions here.

[2015-12-12 23:52] mkllnk commented on #717
There was a question about the files in `app/assets/javascripts/templates/admin/`. You can use the Ruby `t` function or the Angular `t` filter in these files. The difference is when the translation is done.

If you use the Ruby `t` function, the translations are done during pre-compilation of assets on the server (in staging and production environment only). This is more efficient. But changing th

[2015-12-13 05:29] oeoeaio commented on #404
@stveep

Yeah, we are aware of that one. Working on a fix, but you can ignore it in the meantime.

[2015-12-13 11:08] Em-AK commented on #682
I'm on this.

[2015-12-13 11:53] elf-pavlik commented on #705
everyone here in Berlin uses 2.1.5 as specified in
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/.ruby-version

can you please clarify what exactly it takes to close this issue?

[2015-12-13 12:14] elf-pavlik commented on #525
Did you resolve this issue already?

[2015-12-13 14:08] elf-pavlik commented on #519
did someone possibly resolve this issue already?

[2015-12-13 14:09] elf-pavlik commented on #501
@kirstenalarsen this issue seems to require mind reading capabilities :wink:  could you please add few words in description?

[2015-12-13 14:24] elf-pavlik commented on #245
@mkllnk I see done label assigned, does this issue still require something before closing it?

[2015-12-13 16:42] pmackay commented on #525
@NickWeir63 do you know if this is ok now on UK production?

[2015-12-13 20:57] mkllnk commented on #245
Yes, the branch postgres-referential-integrity-patch has not been merged into master. It has been a low priority for us.

I was wondering if you would like to create your own hackathon-master branch. You could merge this one in and also the timezone-fix branch.

[2015-12-14 09:05] wvengen commented on #717
[i18n-js](https://github.com/fnando/i18n-js) could be useful here

[2015-12-14 09:11] elf-pavlik commented on #717
from https://github.com/openfoodfoundation/openfoodnetwork/commit/7a4f0e214cc10094775bd6a98742d01adcbe70e6#commitcomment-14949747

[2015-12-14 09:50] NickWeir63 commented on #525
Sorry yes this is tested and does work OK - thanks all

[2015-12-14 09:50] #525 closed

[2015-12-14 10:19] wvengen opened #734 "REST API documentation"
Hi, as part of the [EU hackathon](http://community.openfoodnetwork.org/t/project-ideas-for-eu-hackathon/406) I'm looking into the REST API. There seems to be [a partial API](https://github.com/openfoodfoundation/openfoodnetwork/blob/a96cdd5ee77411e4204f7427740b97d22c37f59c/config/routes.rb#L122) already, and I would like to add documentation for this.

Any preferred way to document the REST API?
*

[2015-12-14 10:29] darshand commented on #734
swagger is the best option for documenting REST API.

Regards,
Dharshan B D
ONZE Technologies Pvt. Ltd

On Mon, Dec 14, 2015 at 3:49 PM, wvengen <notifications@github.com> wrote:

[2015-12-14 10:32] wvengen commented on #734
related #280 and [wiki:Integration & API](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Integration-&-API)

[2015-12-14 10:45] mkllnk commented on #717
@oeoeaio's comment on a separate module for the translation stuff would be a good way to go with our current code. i18n-js module that @wvengen posted could be a replacement for our custom code. You can try it if you have time. But we might need to adjust the already internationalised views.

[2015-12-14 10:47] elf-pavlik commented on #683
@kirstenalarsen could you please add a paragraph with little more explanation to description?

[2015-12-14 11:15] Em-AK commented on #577
@emaestracci and @knopfler81 implemented this by relying on the last existing git tag.

[2015-12-14 11:18] pmackay commented on #577
@Em-AK is there a commit for that?

[2015-12-14 11:23] Em-AK commented on #577
Yes here for the moment: https://github.com/knopfler81/openfoodnetwork/commit/7aa1a3f892bd56237457436f7c83e96e3408a8b7

[2015-12-14 12:07] edem228 opened #735 "Mailto link incorrect in group show page"
You can't get the correct email when trying to send a email to group via email icon on group show page.
![email_bug](https://cloud.githubusercontent.com/assets/5853312/11780630/8d58e344-a263-11e5-9f3f-f1ab74b1e285.png)

[2015-12-14 13:44] wvengen commented on #734
It seems that Spree [uses markdown for api.spreecommerce.com](https://github.com/spree/api.spreecommerce.com/tree/master/content/v1). We could fork it and add OFN-specific endpoints. Prone to getting out-of-date, though.

[2015-12-14 13:56] sowfrancis commented on #624
https://github.com/wvengen/openfoodnetwork/tree/feature/624-link-to-producer-profile
we have added the link to the producer profile page.
Unfortunately there is no static producer profile page.
So we can create the static show profile page or use the modal already existing.

[2015-12-14 14:28] pmackay commented on #624
Personally I think its quite important that producers have a full profile page with a static URL, because it allows them to include that URL in other media. @kirstenalarsen can you comment on if there are reasons why not to do this?

[2015-12-14 15:24] wvengen commented on #624
I would agree that having a static url is a plus.

[2015-12-14 15:32] wvengen commented on #734
For simplicity I've started with a wiki page [API documentation](https://github.com/openfoodfoundation/openfoodnetwork/wiki/API-documentation).

[2015-12-14 15:32] elf-pavlik commented on #624
:+1: giving permanent URL to each producer so they can share it easily and once we use WWW as intended, they have a proper - globally unique - identifier

[2015-12-14 17:41] Em-AK commented on #701
Can this issue be marked as closed ?
It seems to be done https://github.com/openfoodfoundation/openfoodnetwork/commit/d5c4da3bf0ba903fc942a127b7cceeecae803b1d
:clapper:

[2015-12-14 18:04] elf-pavlik commented on #717
I just noticed validation message in model which has some non translated string: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/enterprise_role.rb#L6
We should also search more of them!

Also some mailers
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/views/producer_mailer/order_cycle_report.text.haml

[2015-12-14 18:35] wvengen opened #737 "Update developer documentation wiki page"
During a talk with @elf-pavlik @selmo-ofn @myriamboure I learned some things that would be useful to put in developer documentation, probably on [wiki:Developer Manual](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Developer-Manual).

- [x] OFN forums are used for discussing new features (and much more)
- [x] Github issues are used for bugs and features from the backlog that will be i

[2015-12-14 18:48] wvengen commented on #280
wrt AMS: is the performance really that bad to to use something else than Spree here? In https://github.com/spree/spree/issues/5971#issuecomment-86541811 some people ponder whether Spree should migrate.

[2015-12-14 18:50] pmackay commented on #280
Can you expand on what you mean by this?

[2015-12-14 18:54] wvengen commented on #280
Spree is [using RABL](https://github.com/spree/spree/blob/master/api/app/views/spree/api/v1/products/index.v1.rabl). As a (new) developer I would expect some similarity in approaches between Spree and OFN.

[2015-12-14 18:58] pmackay commented on #280
@RohanM might need to chip in. This is an old issue and I started some work on harmonising but didnt get far. Things might have changed anyway since then. I figured it was good to be consistent within the OFN codebase (which was a mix) irrespective of what Spree uses.

[2015-12-14 19:05] wvengen commented on #280
:+1: for harmonising within OFN. I might start working on API stuff, so it would be useful for me to know which approach fits best for us.

[2015-12-14 21:18] mkllnk commented on #701
Yes. Thanks for the reminder. We just merged that last week.

[2015-12-14 21:18] #701 closed

[2015-12-15 00:27] wvengen commented on #280
Related: #287

[2015-12-15 00:31] kirstenalarsen commented on #624
hi people, couple of options here
- make the link bring up the modal, as it does if you click on a producer link in the hub/shop listing
- create a new producer page with static link

there is quite a difference between the two, as the first one allows for browsing and finding out more without moving and reloading pages, then both the producer modals and 'fat view' (in the listing) have links to p

[2015-12-15 00:36] kirstenalarsen commented on #727
@oeoeaio - could you just put a couple of pointers here to that code in case someone at hackathon wants to pick it up, and/or is it actually in your branch that we haven't yet pushed to master?

[2015-12-15 07:00] kirstenalarsen commented on #683
This was a note to reconsider this down the track . . there are two cases to consider

1. Enterprise user: if a user signs up for the first time, and creates their first enterprise, they only have permission to create one. The admin / instance manager then needs to manually update that user to allow them to create more e.g. if they become a hub and want to start creating users. Automating this whe

[2015-12-15 07:06] kirstenalarsen commented on #501
i think it is nothing and can be closed :)

[2015-12-15 07:06] #501 closed

[2015-12-15 07:06] #519 closed

[2015-12-15 07:23] kirstenalarsen commented on #737
agree! we had whiteboard session a couple of weeks ago around communicating all this better and just waiting on the person who said they’d write it all up and communicate it. If hasn’t happened before then I’ll try to get to it on friday :)

[2015-12-15 07:34] oeoeaio commented on #727
This is implemented in the bulk order management page which is in master now.

[2015-12-15 09:27] elf-pavlik commented on #514
I asked about bugsnag on [deployment slack channel](https://openfoodnetwork.slack.com/messages/deployment-user-group/) and in answer received link to https://openfoodnetwork.slack.com/messages/deployment-user-group/

@rafaqz have you already resolved this issue?

[2015-12-15 09:34] kirstenalarsen commented on #514
Raf isn't working on ofn anymore, reckon @mkllnk probably best chance for an answer on this . .

[2015-12-15 09:36] elf-pavlik opened #738 "few more i18n tasks"
I just noticed validation message in model which has some non translated string: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/enterprise_role.rb#L6
We should also search more of them!

`grep -r 'message:' app/models`

---

Also some mailers
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/views/producer_mailer/order_cycle_report.text.haml

Examp

[2015-12-15 11:21] elf-pavlik opened #739 "remove unused git branches"
[code]

not the most exciting task to delete those all those unused git branches, but with more people trying to contribute it could reduce some unnecessary noise

[2015-12-15 11:31] mkllnk commented on #514
The problem was that the file `bugsnag.rb` belongs into the folder `config/initializers` instead of just `config`. Rohan and I found that mistake in the deploy scripts and fixed it there (openfoodfoundation/ofn_deployment@b1ac120223b46d7d25d9956b6344e0b5c0cd6ccc).

[2015-12-15 11:31] #514 closed

[2015-12-15 14:24] elf-pavlik opened #740 "bugsnag creeping into the app"
I've never used BugSnag before but on first sight I really don't like that it creeps into various parts of the application

[code]

Other error reporting systems seem to have much less intrusive integrations e.g. [open source Sentry](https://github.com/getsentry/sentry)

from https://github.com/getsentry/raven-ruby

1) Does bugsnag also support less intrusive integration?
2) How we can allow each

[2015-12-15 15:36] elf-pavlik commented on #420
possibly one could reuse

https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/admin/enterprises/controllers/enterprise_controller.js.coffee#L11-L19

[2015-12-15 15:51] elf-pavlik commented on #268
@Em-AK wrote easy step by step instructions here which worked out well for everyone participating in Berlin hackweek
* https://wcs-2015.hackpad.com/Install-process-Open-Food-Network-gEYPuM8pQtQ

[2015-12-15 16:00] elf-pavlik commented on #683
Thank you @kirstenalarsen, I think this issue needs more discussion and we will not work on it during next days in Berlin.
I suggest having social aspect discussed on community forum and to keep this github issue focused on technical requirements of how to implement the decided functionality.

[2015-12-15 17:48] elf-pavlik commented on #727
I understand we should have possibility to reuse [saveBar](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/admin/index_utils/directives/save_bar.js.coffee)

[2015-12-15 18:22] elf-pavlik commented on #547
possibly more useful resources
* railscast https://youtu.be/Vg8-fHiLlds
* https://github.com/lassebunk/metamagic
* https://github.com/kpumuk/meta-tags#open-graph

[2015-12-15 20:05] oeoeaio commented on #727
@elf-pavlik yes, that should be easy to do.

[2015-12-15 21:27] wvengen commented on #734
Now that there is a first place for API docs, this can be closed. Feel free to re-open if you think we need more structured API documentation (like swagger).

[2015-12-15 21:27] #734 closed

[2015-12-15 21:29] wvengen commented on #737
Great to hear :+1: Would have added it but felt just a bit unsure about how things were organised.

[2015-12-15 22:21] mkllnk commented on #740
Bugsnag's integration is not intrusive at all. If you just use the gem and add one config file with your API key, then all errors get reported to the Bugsnag website. The code you find with grep is our additional use. There are some things we check for and report through Bugsnag without throwing an exception that prompts the user with a server error.

We should introduce another layer for that. Th

[2015-12-15 22:24] Em-AK commented on #577
Update here https://github.com/WildCodeSchool/openfoodnetwork/pull/3

[2015-12-16 00:35] sstead commented on #722
These notes are for future reference more than anything:
![image](https://cloud.githubusercontent.com/assets/10843056/11828442/e3fbb9d4-a3e8-11e5-8ca5-74179aa6fa49.png)
![image](https://cloud.githubusercontent.com/assets/10843056/11828445/e6fd9c4c-a3e8-11e5-80a8-a8a672965e12.png)
![image](https://cloud.githubusercontent.com/assets/10843056/11828448/f042abe4-a3e8-11e5-878e-50644fe2aa79.png)

[2015-12-16 01:30] kirstenalarsen commented on #722
@mkllnk my bad - hadn't updated the issue description following discussion with lisa about sku. Lettuceshare reads in in a very specific way so adding extra columns breaks everything :) @oeoeaio reverting so that no sku in this report

[2015-12-16 01:47] monicafrancia opened #741 "at /register unable to select state"
When registering you can't select a state and hence can't proceed in creating a profile.

![image](https://cloud.githubusercontent.com/assets/16314150/11829758/0db24a86-a3f3-11e5-89f9-3e148a2f907f.png)

[2015-12-16 01:58] sstead commented on #741
This is pretty strange, and we can't figure out what's causing it. If anyone would like to take a look that would be great!
From what we can tell it's only happening on Windows computers. In Chrome.

[2015-12-16 02:01] kirstenalarsen opened #742 "Ensure compatibility with paypal security upgrades"
[copied from paypal info email]

Why are security upgrades necessary?

The Payment Card Industry (PCI) Security Standards Council recently made changes to their Data Security Standards. These standards affect millions of businesses that handle credit card details,  information, accept electronic payments or provide services to those businesses who do. The PCI Security Standards Council is strongly

[2015-12-16 02:36] sstead commented on #720
@oeoeaio
Yes, the dropdown works.
Only thing, you want both bottons?
![image](https://cloud.githubusercontent.com/assets/10843056/11830452/70a8676e-a3f9-11e5-9098-8a8a2ca84caf.png)

[2015-12-16 03:39] sstead opened #743 "The LettuceShare report not showing new products until they have been in an OC"
The LettuceShare report is not showing new products that are added to a supplying producer until it has been in the outgoing section of an OC run by the hub.
This is the case even when full E2Es are in place and the product has an on hand value >0 or on demand.

[2015-12-16 05:32] sstead opened #744 "If I'm creating an order and forget to select a payment method I get grumpy cat"
This is low priority.
Maybe a warning message would be better.

[2015-12-16 08:25] mkllnk commented on #547
There are two different things discussed here.

#### Posting shop link on Facebook

That is a problem at the moment. The current shop link goes to the shops list and has a hash selector that is evaluated by Javascript to display the shop's modal. While that's fine for normal browsers, Facebook does something wrong and shows the modal of another shop.

#### Providing a Facebook share button on OFN

[2015-12-16 10:19] pmackay commented on #268
How do these differ from the instructions in the OFN README? Could they be merged or something?

A small plea to keep OFN docs to Discourse or Github, otherwise it creates more places to look. :)

[2015-12-16 12:15] ludivinecp commented on #9
I'm working on this issue

[2015-12-16 14:34] NickWeir63 opened #746 "Problems setting order cycle times"
## Description
 In Firefox or Safari or Explorer, when setting up or updating an OC time, if I type in the time manually as 23:59:59, OFN resets it to 23:45:59.

## Expected Behavior
The time I type should stay as it is.

## Actual Behavior
OFN reset min to 15 min slots (00, 15, 30 or 45)

## Steps to Reproduce
1. Open Firefox or Safari or Explorer
2. Go to order cycle, edit one or create one
3. T

[2015-12-16 14:50] NickWeir63 commented on #435
In our skype call today @kirstenalarsen asked me to move this to the v1.4 milestone and she is "putting it on a card"

[2015-12-16 14:53] NickWeir63 commented on #404
Thanks for all your work on this Steve
@pmackay please can you deploy this to UK staging so that I can test it.  Thanks

[2015-12-16 14:59] NickWeir63 commented on #746
This issue happens in Explorer too

[2015-12-16 15:23] Em-AK commented on #268
Yes I will diff it with the README and do the update if needed.

[2015-12-17 08:17] elf-pavlik commented on #348
Any updates on this issue?

[2015-12-17 10:23] #735 closed

[2015-12-17 10:58] edem228 commented on #677
Hey everybody, this problem was already solved?

[2015-12-17 17:26] wvengen commented on #280
I discovered the many other AMS files, and can see it makes sense to use that. Especially with Rails 5 preferring AMS as well. Currently I'm experimenting with rendering RABL from within AMS, so that we can use the same JSON format for addresses and images, for example, within our own objects (like an enterprise) - without having to copy that in AMS.

[2015-12-17 21:13] pmackay commented on #348
@elf-pavlik what extra information do you need? I think a short term fix would be to hide that number if not AU.

[2015-12-17 21:28] pmackay commented on #404
@NickWeir63 @stveep deploy looks good, please test :)

[2015-12-17 22:52] mkllnk opened #748 "Shipping default logos"
Currently, a new installation is a bit broken, because a set of logos has to be uploaded by an admin. Especially the missing header logo causes an invisible overlay that blocks clicks on shop items. We should ship a default set of logos that can be changed by an admin.

For example:

Header logo:
![ofn-logo](https://cloud.githubusercontent.com/assets/3524483/11884177/f848ca1a-a56b-11e5-926f-b8bbab

[2015-12-17 23:16] #682 closed

[2015-12-18 00:43] #722 closed

[2015-12-18 05:09] sstead opened #749 "New order breaks if I change distributor midway through creating order"
[The likeliness of this happening is very low - reviewed by Myriam / March 2018]

## Description
If you create an order from back end (admin), and while adding the products, change distributor, the system display an error message telling you that this distributor cannot provide the products listed BUT let you move forward in passing the order creating lot of confusion and unwanted results

## Expe

[2015-12-18 07:59] NickWeir63 commented on #404
Will do - thanks very much everyone

[2015-12-20 15:54] myriamboure commented on #677
I don't manage to reproduce it, so I'll close the issue. I guess that was a mistake/misunderstanding from my side.

[2015-12-20 15:54] #677 closed

[2015-12-20 18:39] myriamboure opened #752 "Drop-down in the registration process do not work with the mouse on Chrome"
In the hub/producer/group registration process: https://www.openfoodnetwork.no/register
When we select a country clicking on the country list with the mouse, on Chrome 47.0.2526.73 m and 47.0.2526.80 m (we tried with two computers with different versions), it doesn't work. With the arrows on the keyboard that works. And that works on Firefox.

![registrationbug](https://cloud.githubusercontent.com

[2015-12-20 22:05] myriamboure commented on #725
@kirstenalarsen I don't understand... I'm not sure that works like, that, or then there may be a problem with the internationalisation... Look at Nick answer here: http://community.openfoodnetwork.org/t/vat-included-excluded-from-price/361, he manage VAT by creating an entreprise fee... I'm not sure it is really a "best practice", especially I think that can be a problem in the exports, for entrep

[2015-12-23 06:50] #720 closed

[2015-12-23 06:50] #542 closed

[2015-12-23 06:50] #550 closed

[2015-12-23 06:50] #631 closed

[2015-12-23 06:50] #673 closed

[2015-12-23 06:50] #691 closed

[2015-12-23 06:50] #721 closed

[2015-12-23 07:47] #622 closed

[2015-12-23 07:59] #345 closed

[2015-12-23 08:01] kirstenalarsen commented on #406
not sure if we are switching this to aus team or not - leaving in UK milestone for now pending further discussion

[2015-12-23 08:09] kirstenalarsen commented on #702
closing as is duplicate

[2015-12-23 08:09] #702 closed

[2015-12-23 09:49] kirstenalarsen opened #754 "Bug: scrolling in producer profile modal also scrolls map underneath"

[2015-12-23 10:00] kirstenalarsen opened #755 "Implement filtering of producer directory (within groups page)"
so visitors can search by producer categories e.g. what types of food they produce

same as on main shop / producer listings, replicate to groups

[2015-12-23 10:02] kirstenalarsen opened #756 "'Product categories' can be attached to Producer profiles"
enable producers to attach 'product categories' to profiles without adding products (so that

[2015-12-23 10:05] kirstenalarsen commented on #755
replicates #625, closing

[2015-12-23 10:05] #755 closed

[2015-12-23 10:07] kirstenalarsen commented on #624
@sstead this needs some work to define what exactly needs to happen for the groups, smaller version (pre-having an actual producer page). Work with @mkllnk over Jan to see what can actually be done  . .

[2015-12-23 10:22] kirstenalarsen opened #757 "Improve admin to simplify group set-up"
@sstead can you work with Serenity to define what these improvements should be?

[2015-12-27 15:35] NickWeir63 commented on #404
Thanks @stveep  - this is looking great and does what we need it to do.  The only very minor problem is that staging now sticks on this screen when i click 'reset stock to defaults' - see screenshot
![screenshot 2015-12-27 15 12 37](https://cloud.githubusercontent.com/assets/10517702/12010870/700e1ba0-acaf-11e5-83ad-04c7a24a6237.png)

it does something similar when I try to save an order cycle aft

[2015-12-30 12:31] NickWeir63 opened #758 "New producer sign ups on UK production get an 'untrusted website cert' notice from UK staging"
we signed up a new producer and they received this email
-------- Forwarded Message --------
Subject: 	Please confirm your email for Ecolibrium
Date: 	Sun, 27 Dec 2015 21:45:07 +0000
From: 	hello@openfoodnetwork.org.uk

Reply-To: 	please-change-me@config-initializers-devise.com

To: 	ecolibriumnow@riseup.net

Open Food Network UK

	Hi, Greg Dance!
A profile for Ecolibrium has been successfully cre

[2015-12-30 13:13] NickWeir63 opened #759 "Grumpy cat prevents superadmin deletion of enterprise from UK production"
When we log in as superadmin and try to delete Hania Cheeses from UK production ..................
![screen shot 2015-12-30 at 12 29 59 3](https://cloud.githubusercontent.com/assets/10517702/12051151/13b1fc92-aef7-11e5-9f84-3dc24dfe60c4.png)

.................we get the grumpy  cat (with a red background!)
THis is not urgent but we thought it might be a clue to something more important
![screensho

[2015-12-30 15:04] stveep commented on #404
I've just had a go with this on staging, using Nick's account, and it was all working fine for me - got the confirmation message and refresh every time with lots of different update/reset operations. This was using Chrome 47 or Safari 8.0.6. So perhaps this is a problem on the client side - Nick are you able to test on a different Windows browser and/or computer?

[2015-12-30 16:45] NickWeir63 commented on #404
Thanks Steve
I just logged in on my wife's laptop and used explorer and everything worked fine.  I then went back to my computer and used chrome (where i had the problem previously) and everything worked fine there too.
Aaaaargh!
If I cant replicate the problem can we assume that it is safe to go ahead and deploy this update to production?  What do you reckon @pmackay
thanks both
Nick

[2015-12-30 22:40] stveep commented on #404
Well there must be a reason for it, but it's hard to know what to do if we can't replicate it. I have pushed a minor update to this branch - I noticed that I hadn't set it up to give an error message if the reset failed for any reason. I don't think that would be the problem though as it was succeeding, just not refreshing the data properly. Apart from that I don't see anything else obviously wron

[2015-12-31 01:27] kirstenalarsen commented on #697
@RohanM - this one was in the order cycles fix list (http://community.openfoodnetwork.org/t/critical-order-cycle-updates/400) but apparently is still a problem. See Lisa's detailed explanation below

As briefly texted about, last night we had almost 80 phantoms.  Here's the story of how i think that happened.

Due to Christmas holidays, we have a number of producers who are not supplying anything

[2015-12-31 03:17] kirstenalarsen commented on #758
need to fix your ssl cert probably - I suspect paul would be best person to do this

[2015-12-31 03:18] kirstenalarsen commented on #759
known issues, you can’t delete enterprises, non-urgent - https://github.com/openfoodfoundation/openfoodnetwork/issues/359 <https://github.com/openfoodfoundation/openfoodnetwork/issues/359>

[2015-12-31 10:47] NickWeir63 commented on #759
OK thanks

[2015-12-31 10:47] #759 closed

[2015-12-31 10:55] NickWeir63 opened #760 "grumpy cat when loading image to product on UK production"
When adding image - see screenshot we get grumpy cat when we click update.  We have tried logging in as superadmin and get same error
![screenshot 2015-12-31 10 52 49](https://cloud.githubusercontent.com/assets/10517702/12063799/e6942742-afac-11e5-940f-f47f5b7c97dd.png)

[2015-12-31 12:16] NickWeir63 commented on #404
thanks Steve
Let's wait and see what @pmackay reckons is the best branch to deploy

[2016-01-01 15:25] NickWeir63 commented on #760
I have just tried uploading images to the same product on the staging server and it uploads fine.  So I think this means that whatever is causing this problem is either;
a) a code difference between the versions on UK production and UK staging or
b) something to do with the images settings on production (could they be set to staging???)

@pmackay please could you try deploying the new version to P

[2016-01-03 10:08] pmackay commented on #760
Currently staging has @stveep's branch for inventory. Can that be merged into master first? We shouldnt be pushing feature branches to production, only master.

[2016-01-03 11:24] NickWeir63 commented on #760
OK thanks @pmackay
I am happy for Steve's inventory branch to be merged into master as long as we are OK with ignoring the non-replicable error that i logged in issue 404 (link pasted below).  What do you reckon?
If we are OK to merge Steve's branch into master is that something we can do or do we need to ask for Aus help?
thanks
Nick
Issue 404 https://github.com/openfoodfoundation/openfoodnetwork

[2016-01-04 03:15] mkllnk commented on #665
## Resolved error re-occurred in OpenFoodNetwork

**ActiveRecord::InvalidForeignKey** in **spree/admin/users#destroy**
PG::Error: ERROR:  update or delete on table &quot;spree_users&quot; violates foreign key constraint &quot;spree_orders_user_id_fk&quot; on table &quot;spree_orders&quot;
DETAIL:  Key (id)=(3441) is still referenced from table &quot;spree_orders&quot;.
: DELETE FROM &quot;spree_us

[2016-01-04 17:04] NickWeir63 commented on #758
hi @pmackay
is this something you can help with?
thanks
Nick

[2016-01-05 09:33] pmackay commented on #758
Had a quick look, I need to work out what generates the confirmation URL and why it would point at staging. Will take longer to dig into this. Unsure why "untrusted" issue is happening as I renewed the staging certs at end of Nov.

[2016-01-05 20:52] marito59 opened #761 "Possible wrong entry name for translation in Order Datail page"
In file `app/views/spree/shared/_order_details.html.haml`, there are 2 strings for a label under the entry name `order_produce` that seems to be totals. Can you confirm that the entry name is right ?

Shouldn't we have 2 differents entries:
* order_subtotal for line 126 (first line with Produit in screen below)
* order_total for line 143 (second line with Produit in screen below)

![order_detail](

[2016-01-06 01:32] daniellemoorhead commented on #761
@RohanM, @mkllnk, @oeoeaio?

[2016-01-06 02:50] mkllnk commented on #761
You are right, that's a mistake. The second one should be `order_total_price`. I will fix that one. Thank you!

[2016-01-06 02:54] mkllnk opened #762 "NoMethodError in spree/admin/line_items#update"
## Exception in OpenFoodNetwork

**NoMethodError** in **spree/admin/line_items#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=568c72382401836537b55400)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_

[2016-01-06 02:56] mkllnk commented on #762
It looks like `destroy` is called twice on a line item from time to time. We should investigate how that happens and make that method fail safe.

[2016-01-06 03:00] mkllnk opened #763 "NoMethodError in admin/order_cycles#index"
## Exception in OpenFoodNetwork

**NoMethodError** in **admin/order_cycles#index**
undefined method &#x60;has_spree_role?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=568b39c230bafcb00b851427)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?eve

[2016-01-06 03:00] mkllnk commented on #763
It looks like the user is not always set correctly when managing order cycles.

[2016-01-06 03:01] mkllnk opened #764 "Product creation crashes with wrong image"
## Description

**Paperclip::Errors::NotIdentifiedByImageMagickError** in **spree/admin/images#create**
Paperclip::Errors::NotIdentifiedByImageMagickError

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/54b04f4499b2cdc8b867a1f8?event_id=568a55383644892447eda417)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/54b04f4499b2cdc8b8

[2016-01-06 03:02] mkllnk commented on #764
Errors while creating/uploading images are not handled and cause a grumpy cat. This one happens when someone uploads an image in an unknown format.

[2016-01-06 03:05] mkllnk opened #765 "NoMethodError in spree/admin/shipments#edit"
## Exception in OpenFoodNetwork

**NoMethodError** in **spree/admin/shipments#edit**
undefined method &#x60;special_instructions=&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/561645df15766f1ee335f773?event_id=568486ff32828d214afd31e9)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/561645df15766f1ee335

[2016-01-06 03:06] mkllnk commented on #765
When trying to update a shipment, the shipment object is missing. Maybe it got deleted before?

[2016-01-06 03:11] mkllnk opened #766 "ActionView::Template::Error in spree/orders#show"
## Exception in OpenFoodNetwork

**ActionView::Template::Error** in **spree/orders#show**
undefined method &#x60;firstname&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/568090a307141bdbdab33876?event_id=568090b311b2ec7d51b409ce)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/568090a307141bdbdab33876?ev

[2016-01-06 03:12] mkllnk commented on #766
The shipping address of an order is either not required or can get lost. A missing address causes an error.

[2016-01-06 03:18] mkllnk opened #767 "NoMethodError in spree/admin/images#destroy"
## Exception in OpenFoodNetwork

**NoMethodError** in **spree/admin/images#destroy**
undefined method &#x60;admin_images_url&#x27; for #&lt;ActionDispatch::Routing::RoutesProxy:0x007fa731c11e90&gt;

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/55a177c7ea1b57dee78a3313?event_id=567dd609c2bbfd8c3e851297)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycod

[2016-01-06 03:18] mkllnk commented on #767
Deleting an image can cause a grumpy cat.

[2016-01-06 09:09] myriamboure opened #768 "Can't delete order cycle/hub even without any order on it"
I tried to delete test hubs/order cycles we had created on the Norwegian instance:
- the hub Testblabla (no orders, order cycle, P2P relationship, products attached so we should be able to delete them)
- the order cycle "meat test" (no order attached so we should be able to delete them)
  But in both case, we have "uncompleted orders" with a "cart status" meaning we have been on the shopfront I gu

[2016-01-06 21:26] mkllnk opened #769 "ActiveRecord::RecordInvalid in enterprises#shop"
## Exception in OpenFoodNetwork

**ActiveRecord::RecordInvalid** in **enterprises#shop**
Validation failed: Distributor or order cycle cannot supply the products in your cart

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/55bd8ad0ea1b57dee7bc88bd?event_id=568d09b631d74100405187a9)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/error

[2016-01-06 21:27] mkllnk commented on #769
From time to time a cart reset fails.

[2016-01-07 05:39] RohanM commented on #669
New fix in 037c524, preserve-max-quantity branch.

[2016-01-07 08:26] myriamboure commented on #669
Awesome, thank you @RohanM :-)

[2016-01-07 09:23] myriamboure opened #771 "Minor bug with image display on Firefox"
On Firefox 43.0.2, here is what I see when I click on the producer link from the product  list to see who is behind the product:
![firefox-images](https://cloud.githubusercontent.com/assets/8135376/12166753/708698f6-b528-11e5-87fe-d7dc7ce059e8.png)
The products images goes in front of the pop-up producer description page.

I don't have that problem on Chrome:
![chrome-images](https://cloud.githubu

[2016-01-07 14:32] blancnic commented on #752
It worked for me on Chrome 47.0.2526.106 m
Anyone else?

[2016-01-07 17:06] NickWeir63 opened #772 "Text change on order confirmation emails"
Please can we
1) make these changes (see screenshot) to the text on the order confirmation emails and
2) replace the OFN Aus logo with the OFN UK logo
thanks
Nick
![order confirmation email](https://cloud.githubusercontent.com/assets/10517702/12176759/e3c40f14-b560-11e5-90c8-2f3c4b17f9e4.png)

[2016-01-07 18:11] NickWeir63 opened #773 "Orders show VAT figure based on master price (excluding mark-up)"
VAT on order does not include VAT on mark-up/enterprise fee - see screenshot
![vat](https://cloud.githubusercontent.com/assets/10517702/12178546/f38d6f68-b569-11e5-8845-c0a8abf53c75.png)

[2016-01-07 23:37] marito59 opened #774 "Weight (per kg) Calculator not translated"
The OpenFoodNetwork defined weight calculator string is not translated.

It seems that the string is hardcoded in `app/models/open_food_network/calculator/weight.rb`

How should we localise that string?

![weight not translated](https://cloud.githubusercontent.com/assets/11704159/12186100/f12bc392-b59f-11e5-9840-b698d584d698.png)

[2016-01-08 01:26] daniellemoorhead opened #775 "Unable to scroll cart pop-over when the list of products is longer than the screen height."
There was no design solution put in place for when the list of products displayed is longer than the max. height of the cart pop-over. The user can still proceed to checkout, or view their cart via the top buttons in the pop-over, however there is currently no scroll bar or elegant way of dealing with a pop-over that is longer than the available screen height.

See Discourse discussion on this her

[2016-01-08 05:34] daniellemoorhead commented on #762
Happened twice since Dec 31, impacts on orders in admin.

[2016-01-08 06:01] #573 closed

[2016-01-08 08:54] daniellemoorhead commented on #713
@RohanM how did you go today with this? The UK team are super keen to hear how it's going, knowing that we'll be determining next week how much time will be required to spend on it. :)

[2016-01-08 09:01] stveep commented on #758
We noted this in the reply-to field the Skype today, which looks like it should be changed!

[code]

[2016-01-08 09:28] myriamboure commented on #348
@lin-d-hop, @mkllnk  and others, I checked with the new internationalisation, in the producer sign up, it seems that the field "ABN" and "ACN" are translated by what we have written in transifex (so can choose what to ask), BUT "charge GST" is not translated, and it's written "say-yes" or "say-no" near the button.
See illustration in Norway here, without yet the translation applied:
![chargegst-no

[2016-01-08 09:31] NickWeir63 commented on #773
Hi @rob I hope you are well.  I just spoke to Danni and she suggested that I check with you how the VAT/GST figure should be calculated on the orders, invoices, etc.  Thanks Nick

[2016-01-08 09:34] NickWeir63 commented on #746
Sara pointed out that we can work around this by changing the time on the order cycle before actually opening the order cycle.

[2016-01-08 16:54] myriamboure commented on #752
@blancnic it seems it works again, we tried and now it works as you say... So I close the issue :-)

[2016-01-08 16:54] #752 closed

[2016-01-09 23:43] mkllnk commented on #348
Okay, I identified the problem. The translation for `say_yes` is not in the OFN. It is in Spree. The spree_i18n project contains all translations, but `say_yes` is missing in the French translation file of Spree. There are three possible solutions:

* Upgrade to a newer version of spree and spree_i18n.
* Patching spree_i18n.
* Including `say_yes` in our own language file.

I think that the last so

[2016-01-10 09:48] myriamboure commented on #348
Thank you @mkllnk :-)

[2016-01-10 17:54] olivierkrener commented on #725
@kirstenalarsen, we can setup an enterprise to include GST and this will indeed allow us to put product prices without GST **BUT** then the price including GST will only be displayed at checkout time, not in the shopfront. Example: a cake sell $20 with GST 10%
1. Price in shopfront: $20
2. Price at check-out: $20 + $2 GST = $22
This is misleading for customers... all price in other shops are alway

[2016-01-10 21:59] NickWeir63 commented on #725
yes

[2016-01-11 09:42] myriamboure commented on #725
Ping @daniellemoorhead, I think Kirsten won't be really available in the coming weeks ;-)

[2016-01-11 10:09] myriamboure commented on #774
@mkllnk more generally, we have some issues with the translations in the back office. Some are wrongly translated (like this one, there is a translation but it's not correct) and some are not translated, see example here:
![non-translated-backoffice](https://cloud.githubusercontent.com/assets/8135376/12230869/75d64a3a-b853-11e5-822f-8d2ab40c7f3f.png)
I guess it's because the automatic translation

[2016-01-11 20:56] myriamboure commented on #771
Great to see you start in the hard code Nicolas :-) It seems I can't ping you... is it because you are not in the "contributors" list on GitHub? For info @RohanM and @mkllnk, Nicolas is a new member of the French team, and as you see he has coding skills :-)

[2016-01-11 22:16] pmackay commented on #760
@stveep can you confirm what the inventory branch status is? Can it be or is it merged to master?

[2016-01-12 07:18] mkllnk commented on #774
Ok. The admin interface was not included in the initial internationalisation project. And it's right that the Hackathon team worked on it and made huge progress (#753). But they are not finished yet. Once they are done, we can merge it into our master branch and include it in the next release. Do you have a deadline for the internationalisation of the admin panel?

[2016-01-12 08:21] mkllnk commented on #771
Ok, I invited him to the *Community* team. That should make him a member and therefore *pingable*.

[2016-01-12 08:32] stveep commented on #760
It could go into master as is, but it will eventually be merged via @oeoeaio's ng-vo-inventory-reset branch; we can look at merging this branch (uk/default-inventory) separately if the need for this becomes urgent. Go ahead and deploy something else to staging if you want.

[2016-01-12 08:46] pmackay commented on #760
Its not about changing staging, its about moving this to production, but I really dont want to push anything other than master to production. So is it best to wait? Any idea of timing re the `ng-vo-inventory-reset` branch?

[2016-01-12 11:33] daniellemoorhead commented on #760
@oeoeaio is back in tomorrow (Wednesday Aus time) so he'll be able to answer that question very soon!

[2016-01-12 11:38] daniellemoorhead commented on #725
Will chat with @RohanM and @oeoeaio and @mkllnk about this tomorrow and get back to you :)

[2016-01-12 15:32] myriamboure commented on #774
You're right @mkllnk it was not in the first step of work in the internationalisation project, and as you say the hackaton people worked on it but there is still work to do. We are waiting for some feedbacl from Pavlik as he only just reached Mexico, to talk with him about the next steps. I'm not sure there is a define deadline, it's just that for the French first beta-testers, some of them are no

[2016-01-12 15:51] myriamboure commented on #771
Great thank you @mkllnk :-)

[2016-01-12 16:04] blancnic commented on #771
Thanks @mkllnk !

[2016-01-12 23:39] oeoeaio commented on #760
Sorry @pmackay @stveep,

I was planning on getting `ng-vo-inventory-reset` into master before Christmas but didn't quite get there. Hoping to be able to get it through today or tomorrow.

[2016-01-13 02:13] sstead opened #777 "In the edit cart page, when an item stocks out, any edits to the order do not get carried through checkout"
If I'm in the edit cart page, and I raise the QTY of an item above the on-hand value, I get the following notifications:
![image](https://cloud.githubusercontent.com/assets/10843056/12282905/2769cd32-b9f6-11e5-941a-acfab0cc1a41.png)

The value in the QTY box remains as the invalid QTY. It would make more sense if it a) reverted to the original QTY which was valid or b) capped at which ever value i

[2016-01-13 03:54] mkllnk commented on #762
I was not able to reproduce this error within an hour. This error can happen when you edit an order and you reduce the quantity of a line item to 0. The actual error occurs within the spree module. So we can't tell which line of code is producing this error. The effect for the enterprise user is probably that the change of quantity doesn't take effect. That can lead to a bigger order than intended

[2016-01-13 04:55] monicafrancia commented on #771
Tested in staging2 firefox browser- didn't find any problems :+1:  @mkllnk

[2016-01-13 05:01] mkllnk commented on #762
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **spree/admin/line_items#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5695da1862be12cb72c520c5)

## Stacktrace

    app/controllers/spree/admin/line_items_controller_decorator.rb:48 - block in apply_enterpri

[2016-01-13 05:11] mkllnk commented on #762
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **spree/admin/line_items#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5695dc7e1b9bea175e585bf3)

## Stacktrace

    app/controllers/spree/admin/line_items_controller_decorator.rb:48 - block in apply_enterpri

[2016-01-14 07:47] myriamboure commented on #669
@RohanM has it been merged already? We tested with the latest master branch and we are still losing the max values. Can you tell us when this should be merged? Thanks :-)

[2016-01-14 15:32] lin-d-hop commented on #526
First part of this is done on staging. @NickWeir63 if you think this is ok perhaps copy across to UK production?
https://staging.openfoodnetwork.org.uk/producers/signup

There is still work to be done on this to my understanding:
http://community.openfoodnetwork.org/t/enterprise-index-rebuild/219/13

[2016-01-14 22:04] stveep commented on #596
@mkllnk @pmackay a build of one of my branches on UK staging had some similar errors, see log from @lin-d-hop here:

http://community.openfoodnetwork.org/t/customers-can-view-their-payments-and-balance/308/23

The issue seems to be with the order cycle factory, which involves an image as the original issue did here. Did you get to the bottom of it? Is our server just out of memory? These specs ran

[2016-01-14 23:20] oeoeaio commented on #773
Thanks @NickWeir63,

I've put this in the list of things to look at for the next sprint.

[2016-01-15 00:15] mkllnk commented on #596
Hi @stveep @pmackay @lin-d-hop

Sorry, that is our fault. Since Travis is building very reliably and fast now, we deactivated testing on our Buildkite project. Without thinking about you still building on our CI server, we downscaled the server. It actually has not enough memory to run the tests any more.

Is it okay for you to rely on Travis for tests? You can still deploy through Buildkite.

Sor

[2016-01-16 08:10] mkllnk commented on #763
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **admin/order_cycles#index**
undefined method &#x60;has_spree_role?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=5699fb0ed1b0614f42736823)

## Stacktrace

    app/models/order_cycle.rb:50 - block in &lt;class:OrderCycle&gt;
    app/controllers/adm

[2016-01-16 08:29] blancnic commented on #774
I'm going to identify all  translation issues  in back-office and after I will contact @elf-pavlik  to check.

[2016-01-16 16:51] stveep commented on #404
This is now in master along with Rob's other VO updates, so we can now deploy it.

[2016-01-16 16:51] #404 closed

[2016-01-16 17:05] NickWeir63 commented on #526
Thanks @lin-d-hop that looks great
I have copied them over to production so we now have:
- pricing table
- case study
- detail
for producers and hubs
I think that is all we can do for now - do you think there is more still to do?

[2016-01-16 17:12] NickWeir63 commented on #404
thanks @stveep - let's hope that this resolves #760 if @paul can delpoy this to production please

[2016-01-16 19:14] pmackay commented on #404
I've updated staging with master, please could @NickWeir63 and/or @stveep confirm recent changes look ok?

[2016-01-16 21:17] NickWeir63 commented on #404
thanks @pmackay this all looks good on staging and i just put an order through successfully - I am happy for this to go to production.  thanks

[2016-01-16 21:24] stveep commented on #404
Looks good to me.

[2016-01-17 10:12] pmackay opened #779 "UK push_to_staging fails if there is no change"
I ran this build https://buildkite.com/open-food-foundation/uk-deployment/builds/44#84fb34df-0dbf-465a-a1c9-de50f6948824 and it fails saying everything is uptodate. However using the `UK deployment` project the staging step needs to complete before the deploy to production stp can be unlocked.

@RohanM @mkllnk any ideas? I need to push to production to move #404 along.

[2016-01-18 22:26] mkllnk commented on #762
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **spree/admin/line_items#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=569d66a424cdf221522dbd7d)

## Stacktrace

    app/controllers/spree/admin/line_items_controller_decorator.rb:48 - block in apply_enterpri

[2016-01-19 07:11] mkllnk commented on #678
## Resolved error re-occurred in OpenFoodNetwork

**ActionView::Template::Error** in **admin/order_cycles#bulk_update**
undefined method &#x60;model_name&#x27; for NilClass:Class

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56023a62de2055689d59750b?event_id=569de1b38214a9580eb65256)

## Stacktrace

    app/views/admin/order_cycles/index.html.haml:14 - _475e5cafea2380bca6c6

[2016-01-19 11:45] mkllnk commented on #779
We didn't think of this case. The commit you try to deploy is on the staging server already. That happens only if the push to production fails and you don't change the code afterwards. The easiest solution is to deploy another commit to staging and then the one you actually want to be staged.

The other (dirty) way would be to push to your production server manually: `git push 07d691fc:production/

[2016-01-19 12:29] pmackay commented on #779
Thanks for the workarounds. Is there a scripting fix that would allow the staging step to complete successfully, even if deploying the same commit?

[2016-01-19 22:51] mkllnk commented on #779
The last two lines of `push_to_staging.sh` are:
[code]

I guess, if you would remove the last line, everything would be fine. But we actually want to have our builds fail in that case, because it means that we are pushing the wrong branch. That said, it actually never happens and I think that both ways have their up and down sides.

In general, I think that these CI scripts are quite specific to o

[2016-01-20 00:13] oeoeaio commented on #769
Need to have a nice way of notifying customers when variants in their cart become unavailable, regardless of whether this is caused by someone else buying the last one, or whether it is caused by the enterprise user removing the item from the OC.

[2016-01-20 00:13] mkllnk opened #782 "RuntimeError in spree/admin/line_items#create"
## Exception in OpenFoodNetwork

**RuntimeError** in **spree/admin/line_items#create**
Zero Quantity Line Item

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56554b1b15766f1ee3f3785d?event_id=5695dc917a11aee355ec3c65)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/56554b1b15766f1ee3f3785d?event_id=5695dc917a11aee355ec3c65)

[2016-01-20 00:21] daniellemoorhead commented on #769
@oeoeaio should we add this notification as a GH issue and look at adding it to the backlog for a future sprint?

[2016-01-20 00:26] daniellemoorhead commented on #713
@NickWeir63, @RohanM spent some time looking into the work we can do to improve the speed, here's what he came up with. Let's chat about this in our catch up on Thursday and make sure you're happy for us to proceed with this ~50hrs of work (or a subset) :)

Phase 0 - design and estimation (work to date) - 7.5 hours
Phase 1 - things are fast! - 26 hours
Phase 2 - smooth over some rough edges - 18 h

[2016-01-20 00:40] mkllnk commented on #769
Yes, this should go into a sprint.

[2016-01-20 03:53] mkllnk opened #783 "NoMethodError in admin/variant_overrides#index"
## Exception in OpenFoodNetwork

**NoMethodError** in **admin/variant_overrides#index**
undefined method &#x60;admin?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/569f02b607141bdbda2c783f?event_id=569f02b61caf31c064531d77)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/569f02b607141bdbda2c783f?event_i

[2016-01-20 03:56] mkllnk commented on #783
Another case in which the user isn't set properly. See #763.

[2016-01-20 04:27] sstead commented on #669
This is now in Aus production.

[2016-01-20 04:29] sstead commented on #775
This is now in Aus Production.

[2016-01-20 04:29] #775 closed

[2016-01-20 06:57] mkllnk commented on #762
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **spree/admin/line_items#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=569f2fbe090d887e4d5896c1)

## Stacktrace

    app/controllers/spree/admin/line_items_controller_decorator.rb:48 - block in apply_enterpri

[2016-01-20 07:15] mkllnk commented on #783
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **admin/variant_overrides#index**
undefined method &#x60;admin?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/569f02b607141bdbda2c783f?event_id=569f341757799cc22a0b1515)

## Stacktrace

    lib/open_food_network/permissions.rb:137 - admin?
    lib/open_food_network/permissions.rb:1

[2016-01-20 07:24] oeoeaio commented on #783
@mkllnk
This and #763 are both caused by the use of prepend_before_filter, in conjunction with the user not being logged in.

Using a prepend_before_filter causes the named method to run before the our authorisation method: BaseController#authorize_admin, which means that if the user isn't logged in, they can still hit the prepended before_filter, without raising an unauthorised exception. Of cour

[2016-01-20 08:46] mkllnk commented on #783
Do you mean that people won't see a grumpy cat, but a login screen? This error happened 20 times in the last month.

I imagine that we could just check if spree_current_user is present before accessing it.

[2016-01-20 08:48] mkllnk opened #784 "NoMethodError in spree/admin/orders#update"
## Exception in OpenFoodNetwork

**NoMethodError** in **spree/admin/orders#update**
undefined method &#x60;destroy&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/565e713115766f1ee311ec40?event_id=569f2fc14f2420624b2ff262)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/565e713115766f1ee311ec40?event_id=5

[2016-01-20 09:15] pmackay opened #785 "Errno::ENOMEM: Cannot allocate memory - touch"
Just got this when deploying to UK production:

[code]

@mkllnk @RohanM could you please remind me what memory level you're using on Aus server? Have any recent changes likely to have increased the precompile memory requirements?

[2016-01-20 09:42] blancnic commented on #774
@mkllnk I commented #753 too. Actually, it will be easier to me to continue to work on translation when you will add commits of the hackathon . Thanks!

[2016-01-20 10:11] pmackay commented on #630
@myriamboure any feedback on whether this has improved now? Can we close?

[2016-01-20 12:39] NickWeir63 commented on #713
Thanks @daniellemoorhead - this looks good to me and I would be happy to go ahead.  I will check with @sararock and @lin-d-hop and the Stroudco team and give you the final go ahead tomorrow.  thanks again.

[2016-01-20 12:44] pmackay commented on #713
@daniellemoorhead have you discussed with @RohanM about the server requirements I asked about above?

Also is there any intent to use pagination or are the improvements related to improved caching, etc?

[2016-01-20 13:03] lin-d-hop commented on #713
Yeah I think we should go ahead with this @daniellemoorhead and @NickWeir63. Sounds like a caching and sounds long term scalable as our projects grow... so sounds like good work to be done for everyone :-)

Nice one Rohan! Thanks for this!

[2016-01-20 16:47] lin-d-hop opened #786 "Grumpy Cat When New Producer Hasn't confirmed Email"
Upon creating a new producer then logging in got grumpy cat. This would be annoying and confusing for a new user so better figure out why...

[2016-01-20 16:49] lin-d-hop opened #787 "Email Address in New Producer Email Incorrect"
Welcome email for new producer puts AU email address.

Actually this happens a lot and we need to get on top of this before going live to avoid mega Aussie annoyances...

[2016-01-20 16:52] lin-d-hop commented on #787
Also on Grumpy Cat page. We could therefore combine with #471

[2016-01-20 19:24] myriamboure commented on #725
@daniellemoorhead and @oeoeaio (I see you seem to be working on this ;-))
Just a quick precision about our need:
- we need to be able to put products prices / fees without VAT and say which VAT rate should be applied, and this should be shown in the shopfront, ideally presented in the price graph with another line VAT summing up the VAT for the product and for each of the fees applied on the produ

[2016-01-20 20:19] pmackay commented on #785
@mkllnk is it possible this is also due to the server downsize you mention in #596? I would have thought this was a memory issue on the UK prod server, so just checking...

[2016-01-20 20:43] myriamboure commented on #773
@oeoeaio we have tested that and will share also our case in case there can be some clue there... we detailed it a bit more to understand ourselves what was happening...
Actually the last line (includes tax) is a complete mysterious calculation.

See our case:
We have two products with three fees of 10% each, but in the set up we have put a different tax rate to each fee (for the test) Raw fish ra

[2016-01-20 22:24] oeoeaio commented on #773
Thanks @myriamboure! That is awesome. This has been pushed up the queue, so I am working on this today. Hopefully I can work out what is going on... :persevere:

[2016-01-21 00:24] mkllnk commented on #763
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **admin/order_cycles#index**
undefined method &#x60;has_spree_role?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=56a0252fccc2722b35df4037)

## Stacktrace

    app/models/order_cycle.rb:50 - block in &lt;class:OrderCycle&gt;
    app/controllers/adm

[2016-01-21 00:47] oeoeaio commented on #773
So I think what is happening here is at least partially a misunderstanding of how tax is calculated on fees. I just looked at the [documentation](https://openfoodnetwork.org/platform/user-guide/hubs-set-up-guide/enterprise-fees/) and there is nothing there to explain how to include tax in fees, so I imagine rectifying that will help somewhat.

Contrary to what appears to be intuitive (going on wha

[2016-01-21 02:27] oeoeaio commented on #773
Update: when tax rates are **not included** in price, tax is not applied to fees correctly. This is due to tax being applied to enterprise_fees as an included amount. At the moment, the total for an enterprise fee does not include the tax that is applied to it, and so when tax is calculated on the total as though it does, we get an incorrect number:
![screen shot 2016-01-21 at 1 24 10 pm](https://

[2016-01-21 06:00] oeoeaio commented on #773
Ok, so I've had a play around and I have come up with a solution which seems to work. For the following settings (as above):

Apples (Fuji), cost: $10.00, added tax: 10%, fee: 10% with added tax of 20%
Apricots, cost: $10.00, added tax: 20%, fee: 15% with added tax of 30%
Mandarins: cost $10.00, added tax: 30%, fee: 20% with added tax of 10%

Should be:
(10 &times; 0.1) + (1.0 &times; 0.2) = 1.2
(

[2016-01-21 07:13] mkllnk commented on #765
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **spree/admin/shipments#edit**
undefined method &#x60;special_instructions=&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/561645df15766f1ee335f773?event_id=56a085007edcc6f5540990bd)

## Stacktrace

    bundler/gems/spree-afcc23e489eb/core/app/controllers/spree/admin/shipments_contr

[2016-01-21 08:32] daniellemoorhead commented on #713
@pmackay I won't have access to @RohanM till next week, he's away at a festival at the moment. Though @oeoeaio and @mkllnk may know what our current AU server specs are, and what's recommended. I'll add a card on our backlog on getting those specs onto Discourse.

[2016-01-21 09:50] NickWeir63 commented on #713
thanks @RohanM for taking this on.  We agreed at the UK team meeting just now that this is our highest priority.  Here are a couple of thoughts we wanted to add to the process:
1) @pmackay suggests that maybe pagination would help speed up the loading - so that we load just one page at a time and the first page displays while the others are loading
2) Oliver (the Stroudco manager) suggests that we

[2016-01-21 17:24] myriamboure commented on #773
Hi @oeoeaio ! And thank for all the work on that :-) It seems that you managed to find a great solution.

Here is our need that I precised in this other discussion: https://github.com/openfoodfoundation/openfoodnetwork/issues/725#issuecomment-162444902
In Europe, there are two different needs:
- in BtoB, prices are always shown without VAT, because when a shop buy to another shop, the VAT is not a

[2016-01-21 21:30] NickWeir63 opened #788 "VAT miscalculation when mixed enterprise fees added to one enterprise on UK production"
Some of the products sold through Stroudco are bought from a wholesaler and then sold through our shopfront using ‘Stroudco Food Hub’ as the producer.   Some of these products attract standard rate VAT and some are zero rated.
When we add 2 enterprise fees (one for VATable products and one for zero rated products) to the producer on the order cycle, products which are zero-rated appear in the bask

[2016-01-21 23:49] oeoeaio commented on #788
Hi @NickWeir63, the 20% added to the price of the product itself will be the enterprise fee on the producer: 'Mark-up on zero rated products'.

That added tax is a worry though. Can you replicate the issue by emptying your cart (on that page, next to the update button), and starting again? Does the same thing happen with other products?

[2016-01-22 00:11] daniellemoorhead commented on #713
@pmackay I spoke with @mkllnk about server recommendations - he'll be in touch to let you know what the AU current specs are but we've also added to our backlog to put some info around recommendations on the deployment wiki in GitHub with a linked topic on discourse to let everyone know it's been added.

[2016-01-22 00:32] oeoeaio commented on #773
Pinging: @daniellemoorhead, @NickWeir63, @myriamboure, @olivierkrener, @RohanM, @kirstenalarsen

Hi Myriam, thanks for that info. Sorry I am not more up-to-speed, most of the work on tax has been done by @RohanM up to this point.

#### The Way It Works Now
**This is as much for my sake as for anyone else's**

`included_in_price=true` **tax rates for products** will apply to the base price of the p

[2016-01-22 00:46] mkllnk commented on #785
Currently, we have 7.5GB memory on our production server and 2GB on our staging servers. Since we are doing the same asset pre-compilation on the staging server, 2GB should be enough. But we have an additional 4GB swap file on staging, 1GB on production. Do you have a swap file?

Your log file shows `remote: ` in front of the error message. That means that your production server is running out of

[2016-01-22 02:53] oeoeaio commented on #773
Please continue this conversation at: http://community.openfoodnetwork.org/t/outstanding-tax-requirements-jan-2016/487

[2016-01-22 02:53] oeoeaio commented on #725
Please continue this conversation at: http://community.openfoodnetwork.org/t/outstanding-tax-requirements-jan-2016/487

[2016-01-22 04:13] mkllnk commented on #713
I documented our current server specs in the deployment wiki: https://github.com/openfoodfoundation/ofn_deployment/wiki/Server-Specifications

You are welcome to discuss the specs and post your own at the forum: http://community.openfoodnetwork.org/t/server-specifications/488

[2016-01-22 04:34] daniellemoorhead commented on #725
Please continue this conversation at: http://community.openfoodnetwork.org/t/outstanding-tax-requirements-jan-2016/487

[2016-01-22 12:57] oeoeaio commented on #783
No, they'll see a grumpy cat. They don't even get a login screen when they hit the authorisation filter and it fails. The unauthorised page just says 'unauthorised' in red.

I'm not sure how 'editable' the filter chain is, but that is the only real option I can see for resolving this issue...

[2016-01-22 13:30] lin-d-hop commented on #596
Thanks @mkllnk We'll use Travis for running tests now :-)

[2016-01-22 16:55] NickWeir63 commented on #788
Hi @oeoeaio thanks for looking at this.  Yes the same thing happens with a different product when I add both enterprise fees to the 'Stroudco Food Hub' producer in the current Stroudco order cycle.  I did it from a different shopper login and with a different product this time.  This was the product I chose (master price 0.83.........
![screenshot 2016-01-22 16 30 32](https://cloud.githubuserconte

[2016-01-23 00:36] oeoeaio commented on #788
Hi @NickWeir63,

I finally understand what is going on here, and unfortunately it is the expected behaviour given the settings as they currently stand.

Contrary to your use case here, there is no correlation between the tax rates applied to fees and the tax rates applied to the products to which the fees apply. Therefore: when you add two fees to a supplier in your order cycle (as per image below

[2016-01-23 01:04] oeoeaio commented on #788
Given the above, I think the crux of this issue is about how to allow separate sets of fees to be applied to different products from the same producer. This is bigger that just tax, there are possible use cases around applying things like packing fees to some products and not others from a particular producer.

I can think of three possible solutions:

1. Allow multiple 'Incoming' instances of a s

[2016-01-23 02:42] oeoeaio commented on #788
Please continue this conversation at: http://community.openfoodnetwork.org/t/outstanding-tax-requirements-jan-2016/487

[2016-01-24 12:07] myriamboure opened #789 "Error in report: product name showing wrong variant name"
I have a sausage, with two variants: full sausage, or half sausage:
![speke1](https://cloud.githubusercontent.com/assets/8135376/12536055/f4c42d4a-c298-11e5-8aec-1e2de3f50e1e.png)

In my order cycle, two persons have ordered the variant 1/2 sausage
![speke2](https://cloud.githubusercontent.com/assets/8135376/12536069/73e23be4-c299-11e5-9b19-1bb740aab13d.png)

When I do the exports (total by suppli

[2016-01-25 11:01] NickWeir63 commented on #758
Now new producer signups on UK production are getting grumpy cat at the end of their sign up.  However the sign up seems to work and they then receive this email (which (as a separate issue) needs the email address in the body of the text changing from hello@openfoodnework.org to hello@openfoodnetwork.org.uk)........
![screenshot 2016-01-25 10 56 22](https://cloud.githubusercontent.com/assets/1051

[2016-01-26 03:55] mkllnk opened #790 "ActiveRecord::StaleObjectError in spree/admin/line_items#destroy"
## Exception in OpenFoodNetwork

**ActiveRecord::StaleObjectError** in **spree/admin/line_items#destroy**
Attempted to destroy a stale object: Spree::InventoryUnit

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56a5ce6a07141bdbda4a7242?event_id=56a5ce6a42046e271a3fafa0)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/56a5ce6a0

[2016-01-26 11:29] lin-d-hop commented on #616
Hi @stveep,

The build on this branch is currently failing:
  1) Api::OrdersByDistributorSerializer serializes orders
     Failure/Error: expect(@serializer.to_json).to match "distributed_orders"
     NameError:
       undefined local variable or method `spree' for #<Api::OrderSerializer:0x007ff0d7611e60>
     # ./app/serializers/api/order_serializer.rb:31:in `path'
     # (eval):13:in `_fast_attr

[2016-01-27 16:16] NickWeir63 commented on #760
Lynne mentioned that Paul was rolling back to a previous version on Production last night so I just tried again to upload an image but got grumpy cat again.

[2016-01-27 16:19] lin-d-hop commented on #760
No production deploy has been done given the funding meeting this morning. I've been having issues for a while with images on production, along with other issues. Hence the requested deploy to a named release version.
We can look into images after the deploy and better document.

[2016-01-28 15:35] NickWeir63 opened #791 "Data back up"
@lynne and I would like users to be able to back up their enterprise data and then restore to earlier versions.  Is this already possible?

[2016-01-28 23:47] daniellemoorhead commented on #791
@NickWeir63 @lin-d-hop how do you see this happening? Is it a wikipedia-style view previous versions and restore, or is it more like an iPhone backup where you save a version on your computer/in the cloud for emergency use?

[2016-01-29 04:11] sstead commented on #729
Update: Case studies can be found here - https://openfoodnetwork.org/user-guide/case-studies/ We just need the hyperlinks updated at .org.au

[2016-01-29 06:37] mkllnk opened #792 "NoMethodError in spree/admin/reports#order_cycle_management"
## Exception in OpenFoodNetwork

**NoMethodError** in **spree/admin/reports#order_cycle_management**
undefined method `amount' for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56aadb8207141bdbda637b05?event_id=56aadb8285e028de60190b2f)

## Stacktrace

    lib/open_food_network/order_cycle_management_report.rb:69 - delivery_row
    lib/open_food_network/order_c

[2016-01-29 18:49] lin-d-hop commented on #787
Fixed along with #787 in PR #793. Closing and leaving #787 open until merged

[2016-01-29 18:49] #787 closed

[2016-01-29 18:50] #786 closed

[2016-01-29 18:51] lin-d-hop commented on #772
Changes made and currently deployed to UK staging.
PR #793

[2016-01-29 18:55] lin-d-hop commented on #526
Still to do:
- Internationalise step in sign up process in image above. Just en-GB locale perhaps?
- Change text for free trial period for UK
- Update OFN invoicing to facilitate free if you turnover under £5k for UK
- Change to flat 2% to UK (for dev simplicity and increased turnover)

[2016-01-30 07:00] myriamboure opened #794 "When filling in my profile, if I go back to a previous stage of the process, images are lost"
When I register a hub or producer, in the process I upload a logo, and a banner. If I forgot something and go back to the previous tabs to check, then the images are lost.
Here is what I see after having clicked on "previous", the images are lost (or seem to be lost at least, which is confusion):
![signup](https://cloud.githubusercontent.com/assets/8135376/12694251/656e8058-c727-11e5-89a0-04526089

[2016-01-30 07:01] myriamboure commented on #794
Ping @blancnic, minor fix I guess, maybe the images are stored but it just doesn't appear on the screen when you clic on previous...

[2016-01-30 07:06] myriamboure commented on #794
Ok, I confirme the image is stored in the profile, but the user has the impression that it was not loaded (the image should appear on the screen and stay there if I click on "previous"

[2016-01-30 07:10] myriamboure opened #795 "When I upload the image of a product, the optimal size of the image is not written and I don't manage to upload an adapted image"
Issue mentionned by a beta-testeur in France: in the product page, the image size is not written
![imageproduit](https://cloud.githubusercontent.com/assets/8135376/12694273/c8a91164-c728-11e5-98af-bab7ac81fe54.png)

It would be great to tell the user what size the product image should have, to avoid them multiple back and forth to find the right size so that the product looks nice.

[2016-01-30 07:25] myriamboure opened #796 "Bug when filling in the price of a product ("," vs ".")"
When I fill in the price of a product, if it's not an integer price, I use naturally either a "," (in France mostly) or either a "."
In OFN, in the product list, the prices are displayed with a "."
if I put a ".", trying to be consistent, when I fill in the the price of a new variant, when I clic on "save", the price is multiplied either by 10 (if one figure in front of the .) either by 100 (if 2

[2016-01-30 07:31] myriamboure commented on #796
@daniellemoorhead, @blancnic  I just tested on the Austrlian staging and it seems the problem is exactly the opposite in Australia, if you fill in a price with a "." it works ok, and with a "," then it multiplies the price by 10 or 100... Indication to solve the problem I guess ;-)

[2016-01-30 07:42] myriamboure opened #797 "When I upload a product, if I click "on demand" and I delete the "0" in the "on hand" field, error message"
When I upload a product, if I click "on demand" and I delete the "0" in the "on hand" field: our beta-testeurs naturally did that as it was inconsistent for them to leave a "0" stock when a product is "on demand".
Then the system bug, and the image seems to be lost.
The word "infinity" is written in the "on hand" field.
![infinity](https://cloud.githubusercontent.com/assets/8135376/12694408/4c78b4

[2016-01-30 17:43] pmackay commented on #739
@mkllnk @oeoeaio something you could help with?

[2016-01-30 19:09] pmackay commented on #791
@NickWeir63 can you give any more detail about what data needs to be included?

[2016-01-30 19:22] pmackay commented on #558
Closing but @umairpannu please reply if there is still an issue.

[2016-01-30 19:22] #558 closed

[2016-01-30 19:35] pmackay commented on #268
@Em-AK were you able to compare the docs? Does anything from your notes need folding back into the OFN docs?

[2016-01-30 19:38] pmackay commented on #577
@Em-AK what's needed to get the PR for this completed?

[2016-01-30 19:57] NickWeir63 commented on #791
We haven't really thought this through fully yet and it is very low priority but would probably include order cycle history, product details, shopper records, users, enterprise details........

Also not sure how it would work technically - wikipedia style or cloud or what.....

Sorry - not very helpful!

[2016-01-30 20:13] stveep commented on #616
This is the method causing the problem - to serialise the path to link to the order page, using the spree url helper:

app/serializers/api/order_serializer.rb

[code]

The spec passes locally for me - is there any reason the helpers wouldn't be available when Travis runs the specs? Is there a better way to get the url into the frontend? Needs to go in an ng-repeat so can't render this on the serve

[2016-01-30 22:09] blancnic commented on #794
I confirm the problem, I'm going to take a look at it...

[2016-01-30 23:26] mkllnk commented on #763
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **admin/order_cycles#index**
undefined method &#x60;has_spree_role?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=56ad468f89d421400aef0f1b)

## Stacktrace

    app/models/order_cycle.rb:50 - block in &lt;class:OrderCycle&gt;
    app/controllers/adm

[2016-01-31 00:03] mkllnk commented on #739
We tried to cull a lot already. We probably should have another go. Rohan just told me on Friday that they used to tag some old branches with the name `archive/old-branch-name` in case someone still needs it. What do you think of that?

I think that @RohanM should make the final decision on the older branches because he has been in the project the longest. Maybe we can compile a list of branches t

[2016-01-31 00:13] mkllnk commented on #616
The order of tests is different. Do you run that spec on its own? Do you run it with zeus? What happens if you run that spec on Travis on its own?

Somehow spree isn't loaded. But I don't know why. Maybe you need to require something. @oeoeaio ?

Providing the path during serialisation sounds reasonable to me.

[2016-01-31 08:10] myriamboure opened #798 "Paypal credentials in plain text: security issue"
After having filled in the Paypal info (Paypal express payment gateway), the payment method works fine. BUT when I go into the Payment Method details i see that all info is there in plain text, API login, password and signature...!

1) Front-end: these values should probably be hidden with copy paste disabled? As when you register your credit card details on a website, when you come and check late

[2016-01-31 09:26] myriamboure commented on #796
Same problem in Norway btw ;-)

[2016-01-31 09:46] pmackay commented on #739
What’s the need to keep branches around for a long time? Is it beneficial after a feature has been merged? Helps to understand how the Aus team prefers to manage them :)

[2016-01-31 09:52] oeoeaio commented on #739
From my understanding, most old branches that are kept are features that we started working on and haven't gotten around to finishing yet. I have moved any old branches that I care about out into my own fork, so I personally don't care about any branches in the main repository that aren't under active development.

[2016-01-31 11:10] stveep commented on #616
OK I "fixed" it with:

[code]
Think it was something to do with zeus as you said. I had run the whole suite with zeus but it failed with the same error when run locally directly with rspec.

@lin-d-hop @pmackay could we please put the latest build on uk staging so I can see how it looks & performs?

[2016-01-31 12:41] pmackay commented on #758
@lin-d-hop assigned this to you, but also just noticed i did some stuff in #569 which never got merged.

[2016-01-31 13:04] pmackay commented on #616
@stveep do you mean a particular branch that includes that change?

If not, staging and prod have just been updated to commit just before v1.4 tag (slight annoyance with Buildkite not able to re-deploy same commit)

[2016-01-31 13:48] stveep commented on #616
This is on the uk/account-balances branch - is it ok to deploy that? I don't really want to put it into master yet - I want to check how it looks with hub logos, localised currency and date formats etc., load speeds and also give @lin-d-hop and @NickWeir63 a chance to have a proper look at it.

https://github.com/openfoodfoundation/openfoodnetwork/commit/79808acd9f0d92847f5e8b606527ce43ae28805e

[2016-01-31 14:30] lin-d-hop commented on #616
Aight @stveep that commit is now on staging.

Looking good too... will take a proper look once you are happy.

[2016-01-31 19:39] pmackay commented on #785
Have resolved by increasing our prod server to 4GB.

[2016-01-31 19:39] #785 closed

[2016-01-31 19:40] pmackay commented on #760
@NickWeir63 I deployed v1.4 to prod today. Was able to upload an image ok. Please could you do more testing with the appropriate images? :)

[2016-02-01 10:44] NickWeir63 commented on #760
great thanks @pmackay - yes image loading works fine now and i put in a test order that all seemed good too.  Thank you

[2016-02-01 10:44] #760 closed

[2016-02-01 10:44] lin-d-hop commented on #758
I think all things raised in this issue have been fixed with #793 and the recent deployments.

Awaiting merge on #793 then will test on staging.

[2016-02-02 08:21] daniellemoorhead commented on #713
@RohanM can you please give us an update on here on how you're doing? And also respond to @NickWeir63's two items a couple of comments up the chain. Ta!

[2016-02-02 12:17] NickWeir63 commented on #274
at the UK deve skype this morning @stveep offered to help with this.  I then spoke to @aidandunsdon who will be in touch with Steve to discuss how they can share this work.  Aidan mentioned that the following tables will need to be updated:
- users (although on reflection i think we do not need to update new shoppers - this can be done manually)
- enterprises
- products
- variants

Aidan is workin

[2016-02-02 23:40] mkllnk opened #800 "RuntimeError in app/jobs/update_billable_periods.rb:102"
## Exception in OpenFoodNetwork

**RuntimeError** in **app/jobs/update_billable_periods.rb:102**
Obsolete BillablePeriods

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/564ea01015766f1ee3dff77a?event_id=56b12ee6915927be5cdc295b)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/564ea01015766f1ee3dff77a?event_id=56b12ee6915927be5

[2016-02-02 23:43] mkllnk commented on #800
@oeoeaio Can you give an explanation of this? Should it happen? Is it bad?

[2016-02-03 00:11] RohanM commented on #713
Hi everyone!

I'm working on caching products at the moment. This means that the products list will be generated (and kept current) before any customers reach the site. When a customer does visit the shopfront, sending them the list of products would take less than a second, for just about any shopfront.

I'm about a third of the way through the first stage of this project, and we should have an i

[2016-02-03 00:19] RohanM commented on #785
Since asset precompilation only happens occasionally and doesn't have to be super-fast, adding a swap file can be a reasonable solution that reduces the amount of memory needed for each server. But if the cost of the extra memory is negligible, having more RAM is a better solution.

[2016-02-03 00:20] mkllnk commented on #739
That's a really good idea. I moved three of my branches to my own fork. But there are still 27 stale branches. I split them up by author of last commit. @RohanM What do you think how to proceed?

[code]

[2016-02-03 03:02] daniellemoorhead commented on #761
@mkllnk was this completed as part of v1.4? If yes, can you please close this issue. If no then can you please let me know which milestone it should be moved to.

[2016-02-03 03:05] daniellemoorhead commented on #754
@mkllnk has this issue been done? If yes can you please close it. If not then can you let me know. Thanks!

[2016-02-03 03:08] #705 closed

[2016-02-03 03:08] daniellemoorhead commented on #705
Actually happened in v1.3

[2016-02-03 03:10] daniellemoorhead commented on #693
@sstead can you check whether this has been fixed please. If fixed, close the issue. If not fixed change the milestone to Australian Backlog.

[2016-02-03 03:10] #669 closed

[2016-02-03 03:11] daniellemoorhead commented on #665
@RohanM is this done? Can the issue be closed, or does it need to be moved into the Australian Backlog milestone?

[2016-02-03 03:12] #661 closed

[2016-02-03 03:22] daniellemoorhead opened #801 "Fix authorisation of non-permitted VOs"
@oeoeaio to work with @sstead to fix this.

[2016-02-03 03:24] daniellemoorhead opened #802 "Order management - round 2 fixes"
Refer to Discourse for the details - http://community.openfoodnetwork.org/t/order-management-round-2-fixes/451

[2016-02-03 03:28] daniellemoorhead opened #803 "Add blurb section on groups homepage"

[2016-02-03 03:29] #803 closed

[2016-02-03 03:30] daniellemoorhead opened #804 "Fix spacing/wrapping issues on the producer/hubs tabs"
Take into account extra field of open/close that sometimes doesn't display.

[2016-02-03 03:30] #804 closed

[2016-02-03 03:32] daniellemoorhead opened #805 "Receival instructions disappear after OC save."

[2016-02-03 03:32] #805 closed

[2016-02-03 03:34] daniellemoorhead opened #806 "Full profile modal about section copy display improvement"
Add "more" and "less" links for the copy part of the about section - remove the scroll bar.

[2016-02-03 03:38] daniellemoorhead commented on #713
Breakdown of tasks within this issue:

- Extract page generation to lib + job [done]
- Trigger cache refresh [doing]
- Add sanity checking job, with schedule
- Serve cached products
- Smarter job queueing
- Make add out-of-stock item to cart experience nicer
- Add refresh time notices to admin flash messages
- Add DJ info to admin dashboard
- Test thoroughly on staging, fix any issues

[2016-02-03 03:39] daniellemoorhead opened #807 "Hide variants on VO index (and show again)"

[2016-02-03 08:58] pmackay commented on #785
@RohanM Digital Ocean dont recommend swap on SSD disks though, which made me wonder if its the best way to go? From https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04:

[2016-02-03 10:00] NickWeir63 commented on #616
Thanks @stveep this looks great.  the only minor request i have is to change the titles on the account screen.......
![screenshot 2016-02-03 09 46 08](https://cloud.githubusercontent.com/assets/10517702/12778800/c18d6a7e-ca5c-11e5-8592-5a71d822bb42.png)

....to read:
Transaction
Date & time
Payment state
Shipping state
Value
Balance

Otherwise seems to be working fine
Thank you
N

[2016-02-03 10:10] NickWeir63 commented on #616
...and one other minor point.  I think that the red £3.69 below should be a green -£1.29
thanks
![screenshot 2016-02-03 10 07 29](https://cloud.githubusercontent.com/assets/10517702/12779137/53394230-ca5e-11e5-9098-d6bacfeb2509.png)

[2016-02-03 10:24] NickWeir63 opened #808 "Error on order totals on UK staging"
The basket total and order total are both a few pence out
![screenshot 2016-02-03 10 16 01](https://cloud.githubusercontent.com/assets/10517702/12779512/42b5b356-ca60-11e5-8b2e-50a1e9eb77d9.png)
![screenshot 2016-02-03 10 21 38](https://cloud.githubusercontent.com/assets/10517702/12779513/42bb1684-ca60-11e5-88bb-b55ca3038327.png)
![screenshot 2016-02-03 10 22 13](https://cloud.githubusercontent.co

[2016-02-03 12:37] NickWeir63 commented on #274
Aidan has now run the diff on the Stroudco databases (thanks very much Aidan) and it looks like the data migration updates are few enough that the Stroudco team can do manual updates.  So thanks @stveep but we dont need you help with an automatic update.  And thanks @pmackay but we do not need a copy of the production database.  Sorry for the hassle
@lin-d-hop Aidan asked where DFFH is up to in te

[2016-02-03 12:37] #274 closed

[2016-02-03 12:44] NickWeir63 opened #809 "start the shop front with a list of categories (taxons)"
Oliver (the Stroudco manager) suggests that we start the shop front with a list of categories (taxons). And then show them one at a time.

[2016-02-03 12:45] NickWeir63 commented on #713
Thanks @RohanM that sounds great.  We are looking forward to this a lot!

Starting with a list of categories is an improvement to user experience that Oliver, the Stroudco manager would like to see but he has agreed that we should open a [separate issue in UK backlog](https://github.com/openfoodfoundation/openfoodnetwork/issues/809) for this and not delay your work on loadspeed

Thanks

[2016-02-03 18:17] lin-d-hop commented on #274
The DFFH team are holding back from OFN for the moment so don't worry about them. I'm sure updating the products manually won't be a big challenge for us either.
Thanks @aidandunsdon and @NickWeir63

[2016-02-04 00:33] #761 closed

[2016-02-04 08:50] sigmundpetersen commented on #630
Remove from Norway Backlog milestone? Isn't this a global issue?

[2016-02-04 09:06] pmackay commented on #630
@sigmundpetersen yes. Personally I think it would work better if there was just one backlog and labels were used for international or country specific interest. What do you think? Quite often the group implementing the issue isnt the same as the one who needs it anyway.

[2016-02-04 09:15] sigmundpetersen commented on #630
Agreed, I think there should only be instance specific issues in the instance specific backlogs, like translations, regional customizations, business models etc. So usage and customization issues.

All functional and design related issues should be in Core Backlog, as we all upgrade our instances with the same releases don't we? (At least we should :) )

[2016-02-04 14:01] myriamboure commented on #630
Yes you're right, sorry I see I have not answered that ping @pmackay :-)
@blancnic @marito59 do you think the documentation has improved on origina point mentionned in that issue? I remember we opened it when we was at Sylvain's place doing the very first installation... Can we close, or do you have any suggestion to share with @pmackay?

[2016-02-04 22:14] pmackay commented on #809
How do you imagine showing them one at a time would work?

[2016-02-04 23:05] sstead commented on #757
Hey @mkllnk, here's problem behind this request....
Currently when a group is set-up one person (OFN or from the group) creates lots of profiles for all the group members. We usually assign all of these to a single user (not the producers' actual email), because we don't want the members getting confirmation emails until we're ready to launch the group. When time comes to 'launch' the group page,

[2016-02-04 23:31] sstead commented on #757
Also, I'm not sure how important it is that some form of confirmation occurs. If we skip this step, there is the risk that some enterprises will be registered to emails that are incorrect or don't exist? Worth thinking about.

[2016-02-05 01:11] sstead commented on #757
There profile set up will change.
The existing 'contact' field will be reframed to be 'select the email address where all correspondence from the OFN, relating to this enterprise will go' - (incl. email confirmations, receival instructions, etc). This email will no longer display on profiles. This email must be confirmed. When confirmed this email will become a user in the system, and be a manager

[2016-02-05 02:59] sstead commented on #625
Tested and it's all looking good @mkllnk ! Beautiful!

[2016-02-05 03:55] #625 closed

[2016-02-05 04:04] sstead commented on #689
There's a duplicate for this issue -- https://github.com/openfoodfoundation/openfoodnetwork/issues/590

[2016-02-05 04:04] #689 closed

[2016-02-05 04:37] sstead commented on #801
Description of how permissions currently operate here - http://community.openfoodnetwork.org/t/upgrade-variant-override-to-inventory-management-interface/398/4

[2016-02-05 04:44] sstead commented on #754
@mkllnk tested and it looks good! Group page modal, map modal, and shop modal all scrolling correctly.

[2016-02-05 04:44] #754 closed

[2016-02-05 06:03] mkllnk commented on #757
Ok, and here is the technical plan.

1. Introduce a new field `email_address` which is the public email address to display on the profile. It is optional. Populate it with the old email value.
2. Add the new field `email_address` to the enterprise creation form.
3. Remove the current `email` input from the enterprise creation form and set it to the owner's email address automatically.
4. Change th

[2016-02-05 08:09] mkllnk commented on #763
## Resolved error re-occurred in OpenFoodNetwork

**NoMethodError** in **admin/order_cycles#index**
undefined method &#x60;has_spree_role?&#x27; for nil:NilClass

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=56b4589c84c6c8673a08e659)

## Stacktrace

    app/models/order_cycle.rb:50 - block in &lt;class:OrderCycle&gt;
    app/controllers/adm

[2016-02-05 17:45] myriamboure opened #810 "Setting up a promotion makes the platform crash when editing cart"
We want to use the "promotion" feature to allow those who come help with packing etc get a discount on their orders.

I create a promotion:
![promotion](https://cloud.githubusercontent.com/assets/8135376/12853935/1db50a38-cc37-11e5-9f0d-b0a6cca7eff2.png)
The promotion is created without any problem.

But then when I go to any order cycle on the instance and put products in the basket, and click on

[2016-02-05 17:45] myriamboure commented on #810
@NickWeir63 do you already use the promotion finally?

[2016-02-05 18:01] lin-d-hop commented on #810
my understanding is that promotions are currently not used and currently breaks lots of things.

will link to enhancements currently being developed to solve this issue when at my computer.

[2016-02-05 18:04] myriamboure opened #811 "Error when notifying producers"
In the order cycle, I click on "notify producers".
The emails are sent to the different producers, BUT the cancelled orders are included in the emails sent automatically.

Example:
For the producer "Norganic", 11 items has been ordered, and one order with 2 items has been cancelled.

In the report, it is correct, I have 11.
![norganic1](https://cloud.githubusercontent.com/assets/8135376/12854591/d

[2016-02-05 18:04] myriamboure commented on #811
@daniellemoorhead should we put a "core" label on that one?

[2016-02-05 18:19] myriamboure commented on #810
Ok, thank you @lin-d-hop :-) Ping @sigmundpetersen for info.

[2016-02-05 18:44] pmackay opened #812 "Should production log level be set to :warn?"
Am noticing UK production log is pretty large, is that necessary?

Thoughts @RohanM @oeoeaio @mkllnk ?

[2016-02-06 09:59] lin-d-hop commented on #810
Hi @myriamboure
We're planning to use this functionality to give discounts to volunteers/members/wholesale customers etc.
http://community.openfoodnetwork.org/t/wholesale-and-tagging/505

It is different to a promotional code type arrangement, which at some point would probably be useful.

Do you think you can use tagging for what you need? It is currently in the Aus work flow to be completed this

[2016-02-06 11:50] pmackay commented on #737
@wvengen have done a bunch of things on this - see https://github.com/openfoodfoundation/openfoodnetwork/wiki. Feedback welcome. More to do on wiki for general gardening. Also updated README, etc.

[2016-02-06 15:29] lin-d-hop opened #813 "UK Taxonomies not updating correctly"
UK production taxonomies are a bit of a mess, with duplicates and products not updating correctly. Unfortunately this can't be fully navigated from the UI as some potentially corrupted products aren't loading correctly in the back end.

I think the best way to solve this will be to manually update the product.taxonomy for all products that are using the incorrect taxonomy.

@pmackay I'm happy to d

[2016-02-06 16:02] lin-d-hop opened #814 "Enable UK Offering Different trial length to enterprises"
Enterprise trial length is hard coded on the Enterprise model at 30 days. UK would like to be able to offer 6 month trials.
Proposal: To enable setting the enterprise trial length from the SuperAdmin Config -> Business Model.
This would mean
1) adding Spree::Config[:default_enterprise_trial_length]
2) modifying the Business Model Configuration to allow trial to be set here.
3) Testing enterprise i

[2016-02-06 17:01] pmackay commented on #248
Tested and working much better.

[2016-02-06 17:01] #248 closed

[2016-02-06 17:03] pmackay commented on #538
@NickWeir63 could you check with the person who raised this if its still an issue? I just closed #248 after testing production on my iPad mini and it seemed fine.

[2016-02-06 17:08] lin-d-hop commented on #526
This should be wrapped up with #814

Closing...

[2016-02-06 17:08] #526 closed

[2016-02-06 17:26] lin-d-hop commented on #758
Everything in here is either resolved or being merged with #793.
Closing.

[2016-02-06 17:26] #758 closed

[2016-02-06 17:36] pmackay commented on #218
This is resolved on UK. Will assume OK elsewhere but please reopen if an issue.

[2016-02-06 17:43] lin-d-hop commented on #218
So on the UK servers I updated application.yml
DEFAULT_COUNTRY_CODE: GB
rather than using DEFAULT_COUNTRY: 44 which is an ID and changes on different DBs. This meant that the states started loading correctly.

I do think there is still an issue here as if you change the country from the default on setting up the enterprise the states don't load. Super minor issue but may become more relevant when

[2016-02-06 17:54] lin-d-hop commented on #809
I'm not so sure about this @NickWeir63
Was the motivation speeding up load time?
Taxons are displayed across the top of the product page once the page loads, so users can just select (once load time improves).

I think this would be a negative feature for producers that just sold one category (ie a small cheese producer). Users would have to click on the Cheese button to get to their shop, and err

[2016-02-06 17:55] lin-d-hop commented on #714
Closing. Being handled in #814

[2016-02-06 17:55] #714 closed

[2016-02-06 17:56] lin-d-hop commented on #358
Is this still an issue? Didn't happen to enterprises on recent production deployment.
Closing.

[2016-02-06 17:56] #358 closed

[2016-02-06 17:57] lin-d-hop commented on #318
Closing. If any of these are important lets open in specific issues.

[2016-02-06 17:57] #318 closed

[2016-02-06 18:38] NickWeir63 commented on #318
@lin-d-hop

[2016-02-06 19:33] myriamboure commented on #810
Thank you @lin-d-hop, will look at it quickly then!

[2016-02-06 19:38] pmackay commented on #318
@NickWeir63 it would be better to break this list up into separate issues if they're worth investigating.

[2016-02-06 19:47] NickWeir63 commented on #538
ok i will ask him

[2016-02-06 19:48] myriamboure commented on #737
Ping @marito59 and @blancnic, would be great if you can give feedback on the documentation.

[2016-02-06 19:53] pmackay commented on #233
Closing as suburb import no longer supported.

[2016-02-06 19:53] #233 closed

[2016-02-06 19:56] NickWeir63 commented on #809
Yes I have put a note in [713 ](https://github.com/openfoodfoundation/openfoodnetwork/issues/713)to tell Rohan not to include this idea in the load speed work he is doing.  It is something that Oliver (the Stroudco manager) wants to see but he is happy to wait and discuss it at a later date.

[2016-02-06 19:58] NickWeir63 commented on #318
OK will do - then should i put them in 'icebox' or leave them here in backlog?

[2016-02-06 20:00] pmackay commented on #318
Icebos sounds good if low priority. Please also add the “uk” tag.

[2016-02-06 20:08] pmackay commented on #268
Added some notes to README. Otherwise pretty much most of key content from hackpad doc covered.

[2016-02-06 20:08] #268 closed

[2016-02-06 20:12] pmackay opened #815 "Update UK staging to 14.04 with latest deploy process"
- [x] Resolve issues with suburbs config
- [ ] Verify all aspects of installation work ok with ofn_deployment.
- [x] Check full installation works ok on 14.04.
- [ ] Migrate staging DNS to new server.

[2016-02-07 04:24] mkllnk commented on #812
I never look into the log file. And when we did to solve more difficult problems, we had to increase the log level to find the problem. So I think the default could be error.

But is that maybe a symptom of issues in the code that there are so many warnings?

[2016-02-07 04:28] mkllnk opened #816 "ArgumentError in checkout#update"
## Exception in OpenFoodNetwork

**ArgumentError** in **checkout#update**
Missing required parameter: login

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56b692b907141bdbda9c81db?event_id=56b694cb6f0bf91260cec5bd)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/56b692b907141bdbda9c81db?event_id=56b694cb6f0bf91260cec5bd)

[2016-02-07 09:31] pmackay commented on #812
I think the default currently is `info` which produces a lot of output about rendering, not very useful.

[2016-02-07 20:53] marito59 commented on #630
I have seen that the Wiki in Github has improved in content and structure and that's great. There is still a lot to discoverbut I think that the Github WIki is an helpful starting point.

[2016-02-08 07:12] NickWeir63 opened #817 "Additional reports to help Stroudco"
These requests are copied from old issue 318
1)Stroudco would like to have a report showing the total number of orders so far in the current order cycle?
2) Stroudco would like to  have a report showing which producers have confirmed orders for their products in the current order cycle?
3)Stroudco would like to have a report showing how many confirmed shopper orders in the current order cycle?
5)

[2016-02-08 07:17] NickWeir63 opened #818 "Automatic closure of an order cycle to prevent over-ordering"
This request is copied from old issue 318

Stroudco would like to be able to automatically close an order cycle when either the number of orders reaches a specified level or the total turnover of an order cycle reaches a specified level? Also please can the administrator be notified by email (and ideally text) that the cycle has automatically closed. Also can any shoppers who try to place an order

[2016-02-08 07:20] NickWeir63 opened #819 "'contact us' button for shoppers to message the administrator"
This request is copied from old issue 318

Stroudco would like to have a 'contact us' button so that shoppers can send a message or email to the administrator?

[2016-02-08 07:24] NickWeir63 commented on #318
OK i have split them into 3 new issues - 2 in icebox [817 ](https://github.com/openfoodfoundation/openfoodnetwork/issues/817)and [818 ](https://github.com/openfoodfoundation/openfoodnetwork/issues/818)and one ([819](https://github.com/openfoodfoundation/openfoodnetwork/issues/819)) (issue 8 above about a 'contact us' button) which I have left in backlog as it is more urgent than the rest

[2016-02-08 08:52] pmackay commented on #630
OK am going to close but please raise other docs issues if other specific things need improving.

[2016-02-08 08:52] #630 closed

[2016-02-08 08:55] lin-d-hop commented on #819
Hi @NickWeir63
At the top of the StroudCo shopfront there is a Contact tab that has all of the possible contacts for StroudCo.
Will this suffice for this functionality?

In all honesty I think the current implementation is the best option. We aren't going to implement a messaging system like in the StroudCo software as this style of system is outdated, prone to error and not as good as trusty old

[2016-02-08 08:58] pmackay commented on #230
Closing as suburbs import no longer used.

[2016-02-08 08:58] #230 closed

[2016-02-08 09:02] lin-d-hop commented on #817
Hi @NickWeir63
1) If you use the delivery report  mid order cycle it will show this information
2) Pack By Supplier should show this mid order cycle
3) Pack by Customer should show this mid order cycle
5) You can filter the delivery report to show this for each shipping method, albeit one at a time. Will this suffice?
6) This is the delivery report
7) Will this suffice in the delivery report, whic

[2016-02-08 09:07] NickWeir63 commented on #817
Yes sorry - I will close this

[2016-02-08 09:07] #817 closed

[2016-02-08 09:12] NickWeir63 commented on #819
yes sorry - closing this now

[2016-02-08 09:12] #819 closed

[2016-02-08 09:17] pmackay commented on #471
Have posted http://community.openfoodnetwork.org/t/global-user-help-page/514 to get feedback on idea of a general help page that could be linked to from the site error page (500). This is to avoid having to customise those pages per install. However if anyone thinks a customisable 500 page is a better way to go please say.

[2016-02-08 09:30] NickWeir63 opened #820 "grumpy cat if PaylPal not set up"
I get grumpy cat if i try to pay for a Stroudco order with paypal.  However paypal works fine from the Ferment Bristol shop.
this is probably happening because all the Paypal details are blank in the stroudco payment method.  We will get the stroudco Paypal details set up but I think it would be good if we could have an error message saying something like "there is a problem with the Paypal settin

[2016-02-08 11:17] pmackay commented on #820
Surely if the hub is not configured with Paypal info, it shouldnt be offered at all as a payment option?

[2016-02-08 11:19] NickWeir63 commented on #820
yes i just thought that if the Paypal options are wrong it would be better to get an error message than a grumpy cat?

[2016-02-08 15:28] NickWeir63 opened #821 "Staging server referenced from production"
I just signed up 3 new stroudco producers and they got the email below which takes them to staging instead of production.  I checked this with Sara and she thought that @pmackay had fixed this.
How can i confirm these new producers on production?
thanks
N
![screenshot 2016-02-08 15 20 12](https://cloud.githubusercontent.com/assets/10517702/12889770/6969dc4a-ce78-11e5-8c4c-862ae7bed27b.png)

[2016-02-08 16:34] lin-d-hop commented on #821
Heya, this was actually something I looked into and 'fixed'.

Producers are definitely on production. The issue is that some config reset on deployment, so the wrong site_url is currently stored in the config table. We are unsure why and the Aussies say this hasn't happened before to them.

The fix was done from super-admin. However we seem to be having an additional issue of the prod database not

[2016-02-08 16:34] lin-d-hop commented on #821
In the mean time I will fix the config and close this issue.

[2016-02-09 08:02] oeoeaio commented on #814
Nope, that generally sounds fine to me.

I would suggest that you remove "default_" from the beginnings of the suggested global config variable names, because these are not defaults, they are just the names of variables (which have defaults). I would also suggest that shop_trial_length is more indicative of what is happening than enterprise_trial_length. Also worried about the use of 'fees' to des

[2016-02-09 14:15] myriamboure opened #822 "Creation of 2 variants with same name & quantity allowed, which causes problems in the reports"
A hub manage in France has uploaded products with this parameters:
![error](https://cloud.githubusercontent.com/assets/8135376/12918342/f59b73ce-cf3e-11e5-8b0b-542bc2b94280.png)

It's not relly obvious how to fill in the different field for setting up products... so he tried to fill in the fields so that it looks right on the platform.
But as you see, the name and quantity of each variant is the s

[2016-02-09 14:16] NickWeir63 commented on #821
thanks @lin-d-hop
there are now 4 new producers on Stroudco.  We are asking them to log in to add their products to OFN.  What password should they use to login?  or can i get them to use the 'forgot password' option?

[2016-02-09 14:33] lin-d-hop commented on #821
yeah forgot password option :-)

[2016-02-09 15:14] NickWeir63 commented on #821
aaargh - password reset is going to staging too (see copied email below)
is there any way we can get these producers logged on?

A request to reset your password has been made.
If you did not make this request, simply ignore this email.

If you did make this request just click the link below:

http://staging.openfoodnetwork.org.uk/user/spree_user/password/edit?reset_password_token=6clVwbN9yEdlI9zT

[2016-02-09 17:16] lin-d-hop commented on #821
Can you just copy the link without the staging. at the start?

It is just that the first part of the link it coming from a different variable to that which is configured in the super_admin. I'm still trying to track down where it is being set and why it was overwritten on deployment.

[2016-02-09 18:23] lin-d-hop commented on #821
Ok I think this is to do with the changed spree_preference entry being stored in cache and not looked up from the DB after it has been changed. That, at least, fits with the behaviour... still not fixed yet though :-/

[2016-02-10 01:26] daniellemoorhead commented on #713
Latest update on status:

Stage 1
- Extract page generation to lib + job [done]
- Trigger cache refresh [doing]
- Add sanity checking job, with schedule [done]
- Serve cached products [done]
- Smarter job queueing [done]
- Test thoroughly on staging, fix any issues

Stage 2
- Make add out-of-stock item to cart experience nicer
- Add refresh time notices to admin flash messages
- Add DJ info to adm

[2016-02-10 02:04] daniellemoorhead commented on #812
@pmackay what do you suggest it should be instead?

[2016-02-10 02:09] daniellemoorhead commented on #779
@pmackay @oeoeaio @RohanM @mkllnk where are we at with this? Rob and Rohan, do you have any thoughts on what Maikel has written above?

(can you tell I'm reviewing all issues marked 'AU Review' in an attempt to move things to done? :smile: )

[2016-02-10 07:59] pmackay commented on #779
Interested to know if @oeoeaio @RohanM have any additional thoughts but its possible to workaround the original problem. Might sometimes involve pushing twice which is a bit odd, but its not that big an issue. Happy to close.

[2016-02-10 08:01] pmackay commented on #812
Set it to warning or error level so the output is less.

[2016-02-10 11:01] NickWeir63 commented on #713
Thanks Danni - great to have an update
Please can you give us an estimate of when we can have these improvements to test
Thank you all

[2016-02-11 01:14] RohanM opened #823 "Deface swallows {{ and }}"
When you try to include angular `{{ foo }}` in a deface override using the DSL, the braces are swallowed. This doesn't affect any of our code at present, but it's possible that it'll be an issue in the future.

[2016-02-11 11:17] lin-d-hop commented on #229
I would like to move these into separate issues. GoCardless will be great to repeat orders when we get closer to that functionality. A DD can be any amount once authorised, so if the basket is £13 one week and £15 the next, as long as we give the appropriate notification we can just adjust the amount we take. Perfect for repeat orders.

Mangopay and Stripe will be useful for setting up complex pay

[2016-02-11 11:22] lin-d-hop opened #824 "Integrate Payment Gateway that supports payment mapping"
Mangopay and Stripe allow setting up complex payment relationships to minimise the work of hubs.
Both facilitate a marketplace, so a single customer payment can automatically split between hub fees, supplier 1 to supplier x.

This diagram demonstrates well:
https://docs.mangopay.com/marketplace-workflow/

This will be a major plus for many CSA style operations that would like to diversify but can'

[2016-02-11 12:52] myriamboure commented on #824
Thank you @lin-d-hop, yes, I think that's a must have at least in the French context.
I'm not sure yet wether we can offer that as an option for a hub, or if it needs to be for the whole platform. I'm trying to contact them but didn't get an answer so far.
At least it's pretty sure that a hub who would choose that payment system won't be able to offer another option as a side...
I'll let you  know

[2016-02-11 12:56] lin-d-hop commented on #824
Technically they could but it would cause them an accounting nightmare and would need a whole series of special reports to support. I agree it would be best to disable all other payment methods if direct payment mapping via stripe or mangopay was enabled...

This will be a very complex feature to develop and would require a large amount of funding. It's cold in the icebox :-)

[2016-02-11 23:17] oeoeaio commented on #788
Hi @NickWeir63, @pmackay,

I've added the ability to set up enterprise fees that "inherit" their tax category from the products to which they are applied. This appears as an option that can be selected under Tax Category when creating or editing an enterprise fees. The feature branch is called `tax-on-fees`, which also includes a fix to calculate tax on fees correctly.

Would you be able to please

[2016-02-11 23:19] oeoeaio commented on #773
Hi @NickWeir63, @pmackay, @myriamboure

I've created a fix to calculate tax on fees correctly when using a 'forwards' calculated tax rate. The feature branch is called `tax-on-fees`, which also includes the ability for enterprise fees to 'inherit'  their tax category as a fix for #788.

Can you test this functionality to establish that it does in fact address the issues raised here?

[2016-02-12 03:02] mkllnk commented on #812
Let's set it to warning then and see how that goes.

[2016-02-12 03:05] daniellemoorhead commented on #812
Great, thanks @mkllnk. Can you close this issue once you're done?

[2016-02-12 03:09] mkllnk commented on #812
Ok, @pmackay would you like to do a pull request? It will be tiny, I know.

[2016-02-12 11:45] lin-d-hop commented on #821
Hi @oeoeaio, @RohanM, @mkllnk,
My digging on this issue led me to believe on the UK server spree_preference cache is not always updating, so persisted variables aren't being used. This issue is one example. On deploy to prod the site_url set to staging (a separate issue) and updating in the super_admin config changes didn't flow through.

Just wondering if this is something you guys have encounter

[2016-02-12 15:24] NickWeir63 commented on #773
great thanks @oeoeaio
happy to test it - @pmackay  is it on staging2? or UK staging?
thanks
Nick

[2016-02-12 21:37] mkllnk commented on #821
I never experienced that. A lot of deploy issues had to do with the wrong environment. If you haven't done already, check all scripts involved in deployment if they declare production environment.

[2016-02-13 06:13] RohanM commented on #713
Hi @NickWeir63,

We should have stage 1 ready for initial testing (by Aus) by the end of next week, and something ready for testing on the UK server by the end of the month. I anticipate that the stage 2 features will arrive early March.

At this stage I'm about a day's work over estimate, because some of the work has been more complex than I anticipated. That part is mostly finished, and the rema

[2016-02-13 12:41] NickWeir63 commented on #713
great - thanks for the update

[2016-02-15 09:52] blancnic commented on #796
Ok i'm going to take a look on it

[2016-02-15 10:02] blancnic commented on #796
First idea, we should keep in back office the . but displays in front the price with , instead. Agree with that?

[2016-02-15 11:56] nanoharsha commented on #796
In India, we use **"."** to differentiate the decimal part, and **","** is used in some cases to separate thousands, lakhs etc.
For e.g. **"One thousand Five hundred  thirty two rupees and Sixty Paisa**(cents)" is denoted as "**1,532.60**" or "**1532.60**"

We don't use "," comma here for the decimal part of the currency.

[2016-02-15 12:56] myriamboure commented on #796
Ahaha, interesting internationaliation issue ;-) I am wondering, to avoid any confusion, if we shoudn't have two fields instead of on, one before the decimal part, one after, as it happen in lots of forms, and the use of a "." or a "," to seperate decimals can be customized at the instance level in the configuration panel?
Or we can us a "vertical line", like here:
For example on my  bank interfac

[2016-02-15 22:33] pmackay commented on #773
@oeoeaio I just tried deploying and got `fatal: write error: No space left on device` on https://buildkite.com/open-food-foundation/uk-deployment/builds/26#d5bb9699-df77-4e38-a8a6-0656c4c9a780. Is that a problem with the build agent machine?

[2016-02-16 04:36] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=56c2a74d54ebfdd243d3d343)

[2016-02-16 09:20] oeoeaio commented on #773
Sounds like it! I'm sure we'll sort it out tomorrow.

[2016-02-16 17:08] lin-d-hop commented on #813
I've updated the taxonomies though the issue remains that they aren't updating through the admin panel correctly.

This is related to the fact that product taxonomy is stored in two places, as a master on the product and also as a 1-n (as products can have many taxons) in spree_product_taxons. When updating the product taxon in Bulk Product Update page only the spree_product_taxon is updated, howe

[2016-02-16 17:10] lin-d-hop commented on #772
This has been merged. Just waiting on a UK production deployment.

[2016-02-17 23:39] stveep opened #827 "Angular translations do not fallback to en?"
I put some translated strings using the Angular t filter like so:

[code]
en.yml contains all the translations and these work fine in the default locale. When locale is en-GB (as it presumably is on uk staging), some of these don't fall back to en as they should.

en.yml:
[code]
![stagingi18n](https://cloud.githubusercontent.com/assets/1314715/13128134/910e2a3a-d5cb-11e5-9a5d-b76cd344d666.png)

(M

[2016-02-18 23:16] mkllnk commented on #348
@lin-d-hop Can this issue be closed now? I think you can customise the business number via your en-GB locale.

[2016-02-18 23:49] daniellemoorhead opened #828 "Product load speed still too slow on Stroudco shopfront on UK production (stage 2)"
Following on from the work done in stage 1 (#713):

- Make "add out-of-stock item to cart" experience nicer
- Add refresh time notices to admin flash messages
- Add DJ info to admin dashboard

[2016-02-18 23:58] mkllnk opened #829 "ActiveRecord::StatementInvalid in spree/orders#update"
## Error in OpenFoodNetwork

**ActiveRecord::StatementInvalid** in **spree/orders#update**
PG::Error: ERROR:  deadlock detected
DETAIL:  Process 19431 waits for ShareLock on transaction 77916022; blocked by process 19426.
Process 19426 waits for ShareLock on transaction 77916020; blocked by process 19431.
HINT:  See server log for query details.
: DELETE FROM "spree_option_values_line_items" WHERE

[2016-02-19 00:07] mkllnk opened #830 "ActionView::Template::Error in spree/users#show"
## Error in OpenFoodNetwork

**ActionView::Template::Error** in **spree/users#show**
undefined local variable or method `discourse_login_path' for #<#<Class:0x007ff6a028fae8>:0x007ff6a028e530>

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5387bb81d6a5d5af158dffcd?event_id=56c65c910f76b91f511fa71c)

## Stacktrace

    app/helpers/application_helper.rb:25 - method_missing

[2016-02-19 00:08] mkllnk commented on #830
On the discourse-sso branch: If you login and then click on your account, you get a grumpy cat.

[2016-02-19 00:45] daniellemoorhead commented on #713
@RohanM and @NickWeir63 I've split this work into 2 issues - this one is stage 1 and #828 is stage 2.

Rohan, Nick would like an update as to whether it would be possible to be testing what you've done next week, alongside of your own testing? Can you let him know a timeline, Stroudco aren't going to go live until this work is done so as you can imagine they're pretty keen to get their hands on it

[2016-02-19 03:40] RohanM commented on #713
Hi @daniellemoorhead, @NickWeir63,

Stroudco could certainly go live without the stage 2 improvements. They mostly address usability issues that although annoying, are not critical in the short term. Unfortunately some high priority security issues have come up that I'm working through, so I've been delayed in finishing the last parts before testing. I'll get something up asap and work out the fas

[2016-02-19 06:33] mkllnk opened #831 "Community Forum for OFN (Discourse)"
More detail in http://community.openfoodnetwork.org/t/community-forum-for-ofn/450

[2016-02-21 12:52] stveep commented on #616
OK I think this is just about ready. There are a couple of minor things that I couldn't figure out:

- Translation issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/827
- The scroll jumps to the wrong place when the orders table for a hub is open/closed - particularly noticeable when you close a hub with a large order list. I think because opening a big table changes the position

[2016-02-22 04:09] mkllnk commented on #784
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/orders#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/565e713115766f1ee311ec40?event_id=56ca8a03cb4057b545979204)

[2016-02-23 22:54] oeoeaio commented on #779
I'll defer to @mkllnk and @RohanM on this one.

[2016-02-23 23:05] mkllnk commented on #779
Ok, I think we leave our CI scripts untouched, because they do what we want in this case. If we would like different versions of CI scripts, we could have them in a separate repository.

[2016-02-23 23:05] #779 closed

[2016-02-23 23:18] mkllnk commented on #632
@sstead Isn't this done already?

[2016-02-23 23:18] daniellemoorhead commented on #827
@elf-pavlik, @blancnic, @pmackay, @mkllnk - able to help @stveep out with this? It's impacting on #616 and we'd like to get it out in this week's release if possible :)

[2016-02-23 23:20] daniellemoorhead commented on #788
@NickWeir63 @pmackay how's this all going in terms of testing? Reckon it'll be ready to for the v1.5 release at the end of this week?

[2016-02-23 23:21] daniellemoorhead commented on #773
@pmackay did you have success deploying this for testing?

[2016-02-23 23:22] mkllnk commented on #757
Related to this are:
 - #632 Enterprise User: should be able to add a new manager without creating a user first
 - #429 New enterprise creation (from admin) needs red asterisks to signify required fields

They should be solved at the same time.

[2016-02-23 23:29] sstead commented on #831
Seems all good. I just tested that users were logged in correctly, and were given admin permission if SuperAdmin in OFN. That was working. If the user's email is not verified, they don't get loged into discourse. And if I'm a not an enterprise user, I see the Notices link, but am not logged in. Making comments is working in discourse once logged in. And the OFN checkout is working.

[2016-02-23 23:33] mkllnk opened #833 "Verify emails of users, not enterprises"
Currently, only enterprise emails are validated with a confirmation email. This can lead to enterprise owners with invalid email addresses in the system.

It would be much clearer to verify email addresses on user level as discussed:
- http://community.openfoodnetwork.org/t/confirmation-emails-registration-flow/237
- http://community.openfoodnetwork.org/t/community-forum-for-ofn/450/18

[2016-02-23 23:34] sstead commented on #632
I think Kirsten is suggesting that if I want to add a new manager, I can just type an email in the manager field and that person will be sent a confirmation, once they confirm, they'll be the manager.

Currently, if I want to add a manager, I need to put their email in the 'contact' field, this triggers them to get a confirmation, and if they confirm they're added as manager. I suppose this is les

[2016-02-24 00:14] mkllnk commented on #827
We don't have a locale fallback in javascript yet. That is something we still need to code. If you can do it in ruby, that's great. Dynamic changing of languages should be easy with ruby translations.

But in general, we need to keep en-GB up-to-date, at least for strings that are translated in javascript.

[2016-02-24 00:19] mkllnk commented on #632
Okay, this needs to be considered for #833 then.

[2016-02-24 00:23] #830 closed

[2016-02-24 00:34] daniellemoorhead commented on #394
@mkllnk is this still a problem? If so is it low priority?

[2016-02-24 00:56] daniellemoorhead commented on #614
@sstead is this still an issue?

[2016-02-24 00:57] daniellemoorhead commented on #619
@sstead still an issue?

[2016-02-24 00:59] daniellemoorhead commented on #604
@sstead is this still an issue?

[2016-02-24 01:00] oeoeaio commented on #725
@olivierkrener, @myriamboure

I think we need to split this into a three separate tasks.
  1. Make tax visible in the shopfront (regardless of whether the tax rate is included-in-price or not), and show included tax in the price breakdown
  2. Show breakdown of aggregated tax of different rates changed on a order in the cart, summary, email, etc.
  3. Allow tax breakdown to be visible on individua

[2016-02-24 01:01] daniellemoorhead commented on #593
known issues, you can’t delete enterprises, non-urgent - #359 <#359>

[2016-02-24 01:02] #593 closed

[2016-02-24 01:06] daniellemoorhead commented on #576
@sstead and @serenityhill and @mkllnk is this in any way related to the work that's been happening in v1.5 around groups? Is this still something we're wanting to implement via the AU backlog?

[2016-02-24 01:06] daniellemoorhead commented on #559
@RohanM was this upgrade completed? Can we close the issue now?

[2016-02-24 01:08] daniellemoorhead commented on #546
Will need to consider this from an international perspective. Moving it to the core backlog, maybe someone in another location would like to pick this up.

[2016-02-24 01:11] daniellemoorhead commented on #513
@oeoeaio perhaps reports are something else to consider in terms of making changes to tax?

[2016-02-24 01:13] daniellemoorhead commented on #504
@oeoeaio will this be fixed as part of the work you're doing around tax?

[2016-02-24 01:31] daniellemoorhead commented on #725
@NickWeir63 thought it best to include you in on this. See Rob's comment above on a way forward.

[2016-02-24 01:42] #831 closed

[2016-02-24 01:47] daniellemoorhead opened #834 "Make BOM get dates from Rails rather than JS"

[2016-02-24 04:45] sstead opened #835 "On staging2 when I load the backend in small screen I lose icons"
![image](https://cloud.githubusercontent.com/assets/10843056/13275844/7b8d564e-db0d-11e5-928b-ad4116ad7318.png)

When i make the screen larger this doesn't happen. Not happening in production currently, but might get pushed.

[2016-02-24 05:43] mkllnk commented on #757
We should leave #632 for #833, but I merged #429 into the groups branch. It's ready for staging now.

[2016-02-24 06:27] mkllnk commented on #576
It's not directly related to groups. But it is something we want to do for our Australian businesses.

[2016-02-24 06:30] mkllnk commented on #593
In that case the UI should not allow to delete enterprises instead of displaying a severe error message.

[2016-02-24 06:33] mkllnk commented on #394
Yes, it is still a problem. And yes, it is low priority at the moment. It would become important if someone would like to test a lot of image stuff on staging1 (deleting/uploading).

[2016-02-24 06:55] mkllnk commented on #796
You can configure spree to use `.` or `,` as the separator. In Australia, we use `.`. The comma is ignored, because it denotes only a visual separator as in `100,00.00`, one hundred thousands. If you tell Spree to use a comma, you will be able to write `10,50` for ten Euro fifty cents. But `10.50` will then be seen as `1050`.

In the Admin panel you can click on Configuration. On that page is a se

[2016-02-24 08:17] pmackay commented on #773
@daniellemoorhead no, we have the problem that the Buildkite agent has no space (see https://buildkite.com/open-food-foundation/uk-deployment/builds/29#bfb1a614-4e69-45e1-9494-dd70687a81f3). Can anyone take a look, see how to resolve? @oeoeaio did you have a chance?

[2016-02-24 09:22] NickWeir63 commented on #725
Thanks - looks good to me.  I will run it past Oliver (Stroudco manager) too

[2016-02-24 10:10] NickWeir63 commented on #725
Oliver says:
Two possible solutions would help me. Either

a) any sort of marker against a line that shows it's got VAT on it, or
b) something like the following:
Tax Analysis
Tax rate	Total	Tax Included
20%	£45.00	£9.00
0%	£201.00	£0.00

[2016-02-24 11:03] NickWeir63 commented on #821
This is becoming urgent as we can't set up new producers on the Stroudco database.  We have tried copying the link without the staging. at the start but although this logs you in to production it does not confirm the new account.

[2016-02-24 15:53] myriamboure commented on #725
Thanks @oeoeaio !
For us, in terms of priority, showing the VAT in the price breakdown is not the major issue (nice to have), the important is to be able to choose to display products with or without VAT, + your point 2 (aggregated sum for each VAT rate). For your point 3, I'm not sure, our obligation is on the invoice, show per item: the unit price with VAT (or without, but I guess it's better to

[2016-02-24 17:49] myriamboure commented on #796
Thanks a lot @mkllnk ! It seems that works yes, I didn't know we could configure that... I close the issue then, problem solved very easily thanks to you :-)

[2016-02-24 18:03] myriamboure commented on #796
Hum, in fact there is still one thing not clear. People have different habits, and some people in France may put a "." instead of a "," for the decimal. In that case, I tested and it interprets the "." strangely, for example I put 4.2 as a price and it then changed it into 42.00 (displayed with a .). I think more generally it's a bit confusing that the prices are displayed with a "." in certain pa

[2016-02-24 20:40] stveep commented on #827
OK thanks!

[2016-02-24 20:40] #827 closed

[2016-02-24 21:27] NickWeir63 commented on #808
I hope this will be resolved with the VAT fix - is that a reasonable hope?!

[2016-02-24 21:44] stveep commented on #616
PR updated, the translation issue is now sorted out.

[2016-02-24 22:37] mkllnk commented on #773
@pmackay We faced the same problem yesterday and I cleaned up some space on the server. You should be able to rebuild now.

[2016-02-25 04:17] mkllnk commented on #796
That is a bug. If you change the separator to comma, it should always display the comma as decimal separator. Can you tell us which pages still display the dot?

Supporting multiple separators for input sounds like a new feature to me. We should open a new issue for that. It would be interesting what newer versions of Spree do in that case.

[2016-02-25 07:58] pmackay commented on #773
@NickWeir63 deployed ok to Staging UK just now, could you test please?

[2016-02-25 08:11] NickWeir63 commented on #773
thanks @pmackay
@oeoeaio this looks great and the VAT is calculating correctly on UK staging - thanks for all your work on it.  I am going to ask the Stroudco manager to do some more testing on it but I would be happy for these changes to go into 1.5 if that fits with you.

[2016-02-25 11:22] NickWeir63 commented on #808
Yes! Just tested this on UK staging and it is sorted - thanks Rob

[2016-02-25 11:22] #808 closed

[2016-02-25 11:39] NickWeir63 opened #836 "Update County List with more familiar names and 3 letter abbreviations"
From: Francis Priestland [mailto:fp26@st-andrews.ac.uk]
Sent: 24 February 2016 16:35
To: nick@openfoodnetwork.org.uk
Subject: No Herefordshire

Hihi Nick,

Thanks for fixing our issues last time. One of our customers has noted that you are missing Herefordshire on the list of counties for the UK addresses.

Ta,
/F

[2016-02-25 11:40] NickWeir63 opened #837 "Option to not ask for the addresses of customers"
From: Francis Priestland [mailto:fp26@st-andrews.ac.uk]
Sent: 24 February 2016 16:35
To: nick@openfoodnetwork.org.uk
Subject: No Herefordshire

Is there a way to not ask for the addresses of our customers since we are using PayPal for payment anyway?

[2016-02-25 12:23] NickWeir63 commented on #788
Yes this feature works well for me - thanks very much @oeoeaio
I would like to run it past the Storudco manager but I am happy for it to be included in the v1.5 release
Thanks everyone

[2016-02-25 18:00] NickWeir63 opened #838 "Updating Order Cycles hangs when number of products grows too large"
I edited the current (only!) Stoudco order cycle on staging by adding a new producer ("Stroudco Food Hub") to the incoming list.  Clicked update and this saved correctly.  I then added the new "Stroudco Food Hub" products to the outgoing order cycle but when i clicked update nothing happened.  I waited over an hour and still nothing!
when i went back in to the order cycle the new products were sti

[2016-02-25 23:32] mkllnk commented on #665
An error linked to this issue has been reopened in Bugsnag
[**ActiveRecord::InvalidForeignKey** in **spree/admin/users#destroy**](https://bugsnag.com/yaycode/openfoodnetwork/errors/54f104fc47e6d27c285bfb98?event_id=56cf8f217da36fb94f0e9120)

[2016-02-25 23:34] daniellemoorhead commented on #245
@mkllnk @elf-pavlik should the done label be removed then?

[2016-02-25 23:42] sstead commented on #757
![image](https://cloud.githubusercontent.com/assets/10843056/13338451/992d6c66-dc75-11e5-9e8d-287f31361751.png)

[2016-02-25 23:54] daniellemoorhead commented on #801
@oeoeaio as per your update at standup today, you'll be looking into this to see whether it needs to/can be fixed for v1.5.

[2016-02-26 00:03] sstead commented on #757
Hey @mkllnk , I've just placed an order and didn't receive any email confirmations (not as the customer, or the enterprise). I'm trying to see that emails are getting directed to the correct person.

[2016-02-26 00:09] daniellemoorhead commented on #773
Great news @NickWeir63. We'll include this in v1.5, which has been delayed to next Wednesday as there are a couple of things @oeoeaio needs to do (including pushing this to production) when he gets back in the office next Wednesday. All going to plan, by the time I speak with you guys at the dev catch up there'll be a shiny new release for @pmackay to deploy onto the UK servers :)

[2016-02-26 00:30] sstead commented on #619
Yep, still an issue

[2016-02-26 00:33] sstead commented on #614
I haven't experienced it, and with a quick attempt couldn't replicate. Could close, but this might be something Kirsten could replicate.

[2016-02-26 00:35] sstead commented on #604
Yes, still an issue

[2016-02-26 00:37] daniellemoorhead commented on #406
Further specifications around customer tagging can be found on Discourse - http://community.openfoodnetwork.org/t/wholesale-and-tagging/505

I'm creating issues for each of the features that @oeoeaio has included in the spec, will close this issue once they've all be added.

[2016-02-26 00:48] daniellemoorhead opened #839 "Change "SHOP NOW" button on OFN homepage to "FIND FOOD" and link to map page"

[2016-02-26 01:09] daniellemoorhead opened #840 "Map search bar on mobile goes off screen in portrait aspect"
![map-searchbar-bug](https://cloud.githubusercontent.com/assets/10949052/13340058/6e780948-dc81-11e5-8718-672b0cae5911.png)

The search bar goes off screen on landscape mobile aspect. Can we maybe move those 'Map' and 'satellite' buttons to the bottom left of the screen so that they don't take up space, and then have the search bar width shrink to fit the screen width?

Estimate = timeboxed to 1 h

[2016-02-26 01:35] daniellemoorhead opened #841 "Map marker key on the OFN map page"
It's not obvious on the map what each of the map markers mean. There are tractors and pointers and white and green and red markers, but it's not obvious to the user what these colours and icons symbolise without a key.

The key should sit under the location search bar and be expando-collapso (so that all you see initially is "Map Key" and when you click/touch on that it expands to show the list of

[2016-02-26 01:58] mkllnk commented on #245
Yes, that label is replaced by the use of ZenHub.

[2016-02-26 02:34] daniellemoorhead opened #842 "Main nav bar improvements"
![mock up - main nav](https://cloud.githubusercontent.com/assets/10949052/13341434/d21c7f6e-dc8c-11e5-893e-a3b0137f02c9.png)

**1. Remove 'About' from the top level navigation on desktop view.**
It's common practice on websites for the link to about and the team to be in the footer rather than as prominent as the other menu items. Given the lack of space we have in the bar on the desktop view it m

[2016-02-26 02:37] daniellemoorhead commented on #713
Hi @NickWeir63, have just done some planning with @RohanM around timings for the completion of this and also #828 (fitting in with the other work he does outside of OFN, we have about a day a week of his time). The plan is to have stage 1 to you next week for testing, and it will be part of release 1.6. Then stage 2 (#828) will be done at a conservative estimate by April 15, which makes it part of

[2016-02-26 02:38] daniellemoorhead commented on #842
@serenityhill @mkllnk @sstead let's chat about this at the sprint planning session to figure out final scope for the work. I've added all the possibilities here, we just need to determine exactly what we'll do.

[2016-02-26 02:41] daniellemoorhead commented on #828
Work to start on this in release v1.6, however will be delivered as part of v1.7

[2016-02-26 02:47] daniellemoorhead commented on #616
Hey @stveep if we get the pull request #832 sorted before the deployment on Wednesday can we then add this feature to release 1.5? If so, @sstead will need to know so she can add it to the release notes. Cheers!

[2016-02-26 05:18] mkllnk commented on #842
Yes, no problem. The two menus are in two separate files and don't depend on each other.

[2016-02-26 06:19] sstead commented on #801
Testing permission for VO now...
- The permission issue relating to ownership is still happening. I can create VOs for any producer owned by the same user who owns the Shop.
E.g....
![image](https://cloud.githubusercontent.com/assets/10843056/13343903/41e5bbc2-dca5-11e5-87c5-c71826a207a7.png)
similarly ...
![image](https://cloud.githubusercontent.com/assets/10843056/13343905/481ab786-dca5-11e5-938

[2016-02-26 06:32] stveep opened #843 "EU cookie compliance"
I think instances of OFN in the EU (which includes the UK at least for a few more months...) will need some kind of irritating popup for the first site visit to opt in to cookie storage, like every other EU website does:

https://en.wikipedia.org/wiki/Directive_on_Privacy_and_Electronic_Communications#Cookies

This could replace or add in to the "Start here" drop-down banner? (by the way, personal

[2016-02-26 06:37] sstead commented on #801
Automatic update of shopfront when you change inventory settings is working :)

![image](https://cloud.githubusercontent.com/assets/10843056/13344998/7b5f9c56-dcaf-11e5-9377-49963800e3ee.png)

[2016-02-26 06:39] stveep commented on #616
Yes happy for it to go in if you are! Suggested release notes:
"Account page now lists order and payment history organised by hub and shows any outstanding balance or credit with each hub."

[2016-02-26 06:41] sstead commented on #801
Cool, so @oeoeaio other than the permission thing when you own two enterprises but don't have correct P-VO, and the buying group scenario, I'm happy with everything else :)

[2016-02-26 06:41] oeoeaio commented on #801
Thanks Sally! First issue you raised is the only unexpected behaviour - due to a stuff up by me. Will fix by Wed morning.

[2016-02-26 08:15] NickWeir63 commented on #788
this new glitch [838 ](https://github.com/openfoodfoundation/openfoodnetwork/issues/838)has cropped up - could it be linked to the VAT changes in the code?

[2016-02-26 08:18] NickWeir63 commented on #828
thanks @daniellemoorhead - what does this mean in terms of timing for us to do testing on UK staging?

[2016-02-26 08:22] NickWeir63 commented on #713
great - big thanks to you all for this - we will make time to test it next week

[2016-02-26 10:54] NickWeir63 commented on #788
Oliver has done more testing on this and found that the VAT and enterprise fee is not being added correctly.
We used a standard-rated product with a master price of £2.08.....
![screenshot 2016-02-26 10 43 13](https://cloud.githubusercontent.com/assets/10517702/13350169/65f24bb8-dc76-11e5-8389-1dbb3d9c9e40.png)
.........we set up the enterprise fee to inherit the tax category from the product and

[2016-02-26 14:02] NickWeir63 commented on #788
Could this be happening because i am not able to delete the second enterprise fee - see 2nd screenshot above?
I keep getting this error message even though I have changed the enterprise fee on all the enterprises to the standard rate enterprise fee (or no fee at all).  None of the products in the order cycle use this fee that i am trying to delete...

[2016-02-27 00:52] sciunto opened #844 "Use openstreetmap instead of google map."
Hi,

First, I'd like to say that your project is awesome. Congrats for the hard work.

I think it makes sense for this project to use openstreetmap (OSM) instead of googlemap. OSM shares similar principles as OFN: users are also producers of content, it's made by locals and shared with everybody. :)

Thanks!

[2016-02-27 02:31] elf-pavlik commented on #739
:+1:

:+1:

Maybe someone could make a dedicated junkyard / graveyard fork, even on bitbucket or gitlab and just link to it from read me? This would allow to safely remove all the branches from this repo, except those that core team says "yes! we really need it this branch here".

[2016-02-28 02:15] mkllnk commented on #763
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **admin/order_cycles#index**](https://bugsnag.com/yaycode/openfoodnetwork/errors/566d38c715766f1ee3536aae?event_id=56d2584cd6e3385625e4f04d)

[2016-02-28 21:14] myriamboure commented on #844
Hi @sciunto !
Thank you for your message :-)
A discussion has been open already on the topic here: http://community.openfoodnetwork.org/t/open-street-map-vs-google-maps/492

We are aware that it would be more consistent, we just need someone who can dedicate time to work on it, and I'm not sure when that will be possible as there are soooo many important things to fix/develop... But this is in the

[2016-02-29 19:12] pmackay commented on #737
Closing but please add comments if you have more suggestions.

[2016-02-29 19:12] #737 closed

[2016-03-01 02:40] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=56d50118a42e3f765a5da2b5)

[2016-03-01 13:29] NickWeir63 commented on #773
See Oliver's test results on [788](https://github.com/openfoodfoundation/openfoodnetwork/issues/788)

[2016-03-01 23:19] daniellemoorhead commented on #303
Hi @pmackay has this happened because HG Green Cheesemakers producer is displaying in southern africa, so the map has zoomed out to include this marker? I think this is because this producer doesn't have an address on their profile, so OFN puts the marker at 0,0 long/lat.

[2016-03-01 23:29] oeoeaio commented on #801
Ok, so: final things to check

1. User can only override variants of producers who have explicitly granted P-VO  management/ownership and P-OC should have no effect
2. Inventory page automatically selects a hub when it is the only option
3. 'Override Variant Details' permission renamed to 'Add Products To Inventory'
4. Variant override permissions should be applied as soon as they are added or rem

[2016-03-02 00:17] daniellemoorhead commented on #843
Hiya @stveep, this isn't something that is needed in Australia, but we'd be happy to include it in the backlog of work that we do for the uk.

Let's chat about it tonight at the skype session with @NickWeir63, @lin-d-hop, @pmackay.

[2016-03-02 00:19] oeoeaio commented on #788
Hi Nick,

I think the reason you are seeing what you are seeing is that you have all of your tax rates set up as "Included in price" on your staging server.

This means that the enterprise fee of 20% is added to the base price of £2.08, giving a final price of £2.50. Included tax is then calculated backwards from this price like this: £2.50(1 - 1/1.2) = £0.41666 = £0.42 total tax.

If you change y

[2016-03-02 02:22] mkllnk commented on #800
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/update_billable_periods.rb:102**](https://bugsnag.com/yaycode/openfoodnetwork/errors/564ea01015766f1ee3dff77a?event_id=56d64e7fecf570387725731e)

[2016-03-02 02:32] daniellemoorhead opened #845 "Uber dropdown text to "Interested in getting on the Open Food Network? Register here >""
Estimate = 1 hour.

[2016-03-02 02:57] sstead opened #846 "Product taxon and property filter icons not showing in product details modal"
![image](https://cloud.githubusercontent.com/assets/10843056/13449351/9ce1ea3c-e07e-11e5-8327-487ee2c9b48a.png)

[2016-03-02 03:51] oeoeaio opened #847 "Rounding error in tax calculation on products + fees"
For a product that costs $6.00, with a fee of 20% applied, with an included tax rate of 10% applied to both, we are currently calculating included tax as follows:

Product tax = $6(1 - 1/1.1) = 0.55
Fee tax =  $1.2(1 - 1/1.1) = 0.11
Total tax = 0.66

This is a rounding error caused by individual tax components being rounded to two decimal places before being added together.

Total tax should be: $

[2016-03-02 03:54] daniellemoorhead commented on #845
The uber drop down may be impacted by the solution for #843 as it's likely this kind of drop down will be needed for the cookie acceptance message.

[2016-03-02 04:23] sstead commented on #801
1) Yep!! The only thing is if I filter by hub in Inventory page, I can still see non P-VO producers in the producer dropdown. Do we want to make it so you can't try to see them? The important thing though is that you can't see the products.
2) Yep!
3) Yep!
4) Yep! If products are in an order cycle with P-VOs and overrides in place, when I remove P-VO, they revert to master price/qty. I can also no

[2016-03-02 04:47] daniellemoorhead opened #848 "Allow tags to be assigned to shipping methods (as per customer UI)"
Refer to http://community.openfoodnetwork.org/t/wholesale-and-tagging/505/14 for details

Estimate = 4 hours

[2016-03-02 04:51] daniellemoorhead opened #849 "Enterprise user can require login for their shopfront and display messages to users not logged in"
http://community.openfoodnetwork.org/t/wholesale-and-tagging/505/14

Estimate = 1 day

[2016-03-02 04:53] daniellemoorhead opened #850 "Enterprise users can manually create customers for their shop"
http://community.openfoodnetwork.org/t/wholesale-and-tagging/505/14

Estimate = 3 days

[2016-03-02 04:55] daniellemoorhead opened #851 "Design + Build the Tag Rules Model"
http://community.openfoodnetwork.org/t/wholesale-and-tagging/505/14

Once this overarching solution has been designed @oeoeaio will be able to estimate the size of the work and we'll break it down into further issues.

[2016-03-02 04:57] daniellemoorhead commented on #406
Closing this issue, has been superseded by #851.

[2016-03-02 04:57] #406 closed

[2016-03-02 05:13] mkllnk commented on #665
An error linked to this issue has been reopened in Bugsnag
[**ActiveRecord::InvalidForeignKey** in **spree/admin/users#destroy**](https://bugsnag.com/yaycode/openfoodnetwork/errors/54f104fc47e6d27c285bfb98?event_id=56d67666cf1028f623cc53f3)

[2016-03-02 06:45] sstead commented on #757
Initial testing notes... Sorry maikel, couldn't quite test it to the point of being sure everything is working properly, will finish testing on Friday :)
1) Is new email field populated for pre-existing profiles? Yes I think so.
2) New field to +New Enterprise form. Yes this was the old form...
![image](https://cloud.githubusercontent.com/assets/10843056/13451779/5e0bdbac-e096-11e5-9a6d-7a6e67ed71

[2016-03-02 06:52] #773 closed

[2016-03-02 06:53] #807 closed

[2016-03-02 06:53] #801 closed

[2016-03-02 06:53] #788 closed

[2016-03-02 07:42] NickWeir63 commented on #788
Sorry Rob - well spotted
Yes good plan to go ahead

[2016-03-02 08:18] pmackay commented on #843
I'd favour a banner at the bottom of the page? Less obtrusive?

Worth checking https://github.com/infinum/cookies_eu.

[2016-03-02 08:47] rhodri commented on #836
Here's the list of counties used in deployment: https://github.com/openfoodfoundation/l10n_gb/blob/master/states.yml

[2016-03-02 09:01] pmackay commented on #836
There is a question of what is "correct" and what is typically searched for by users. "County of Herefordshire" is the correct name I think (ref http://opendatacommunities.org/doc/geography/administration/ua/E06000019). But am guessing most people would just look for Herefordshire.

[2016-03-02 09:45] lin-d-hop commented on #836
I think we could be intuitive about this. 'City of Bristol' is hard to find in a drop down when looking for 'Bristol'. Likewise with 'County of Hereford'.
The other thing to note is the 3 letter abbreviations. These should also be intuitive rather than strictly correct in my opinion.
I get that this is a fluffy spec, apologies for that. However we've all spent enough time filling in online forms t

[2016-03-02 09:45] lin-d-hop commented on #836
Merging issue with #360 and closing that one.

[2016-03-02 09:48] lin-d-hop commented on #360
Being looked at in #836 Closing.

[2016-03-02 09:48] #360 closed

[2016-03-02 09:52] lin-d-hop commented on #348
Thanks @mkllnk, star! All looks good. Closing.

[2016-03-02 09:52] #348 closed

[2016-03-02 09:54] lin-d-hop commented on #218
Putting this in Icebox. UK will never need to fix this but potentially a language (rather than country borders) instance will need to take a look.

[2016-03-02 10:00] NickWeir63 commented on #836
i am happy to help with defining the final list of counties if that would help.

[2016-03-02 10:02] mkllnk commented on #757
Sally, you are great. If I read your notes correctly, then everything is fine, except:

* The registration still needs testing. That was not in my focus at all. So please check and tell me if it should do something different.

* The new enterprise group button is still there. True, I didn't change it. Who should be able to see it? Only super admin?

[2016-03-02 11:19] OliverUK commented on #725
Oliver from Stroudco here. I've given this some thought and at this stage the important thing for us is to know the total amount that has VAT and the total amount that does not.

[2016-03-02 11:27] OliverUK commented on #843
I remember looking at this a couple of years ago and in the UK at least, being typically light touch, the relevant authority made it clear that there would be no punishment of any sort if a website did not have this. I imagine if they directly instructed you and you ignored them, it may be different. But until then...

[2016-03-02 11:32] oeoeaio commented on #725
Thanks for that @OliverUK. Just trying to get a handle on your requirement to expose the component amounts of the order that attract a given tax rate (in addition to the tax charged on them). Is this a requirement for tax reporting to the end customer in the UK in general or is this an internal StroudCo requirement? If internal, just wondering if this information might be better exposed in some ot

[2016-03-02 12:09] pmackay commented on #836
Actually the ref I gave above lists it as "Herefordshire, County of", which presumably would put it in the right order. And I reckon OpenDatacommunities run by DCLG is a good reference ;) So would that be a better way to name it? Same could be true for the cities, e.g. "Bristol, City of"

[2016-03-02 12:29] OliverUK commented on #725
@oeoeaio Based on our current circumstances, you could actually leave it as is and I would simply calculate the total amount of VAT items backwards from the VAT amount included. I need that total amount for inputting invoices into Quickbooks. But our situation could soon change to something where we also need people to be able to see in the shop front if an items has VAT and whether or not that VA

[2016-03-02 12:55] pmackay commented on #843
@stveep @lin-d-hop reckon we could just leave it and add it if asked? ;)

[2016-03-02 13:26] NickWeir63 commented on #303
OK i put in an address for HG Green and then another producer popped up off the African coast.  So I changed that one too .....and so on for about 20+ producers (some Stroudco some DFFH) all with either a missing postcode or a missing address line 1.  However my guess is that there are a lot of them and I am flicking backwards and forwards from the map to the enterprise screens (see bleow) because

[2016-03-02 15:50] stveep commented on #843
Fine by me, guess it's Lynne that goes to jail ;)

[2016-03-02 15:52] stveep commented on #303
Would be better to exclude producers with no address from being plotted on the map, rather than defaulting to (0,0)

[2016-03-02 15:53] NickWeir63 commented on #821
@lin-d-hop i cant remember who we said we were going to ask to help with this?

[2016-03-02 16:02] pmackay commented on #843
I assume there would be a warning before she gets clapped in irons ;-)

[2016-03-02 17:42] NickWeir63 commented on #303
Yes please - that would be great.  Is that something that you can do @stveep ?
it seems that producers with incomplete addresses (missing postcode or missing address line 1) are also defaulting to (0,0)

[2016-03-02 18:05] lin-d-hop commented on #843
In my opinion if the enforcing organisation have taken the notice off their website we have nowt to worry about.
@myriamboure what are your thoughts?
I'll put this is UKBacklog for now... who knows, we might not even have to worry about EU directives in a few months time... not that I would advocate for that :-)

[2016-03-02 18:12] lin-d-hop commented on #821
Hi @RohanM @mkllnk @oeoeaio @daniellemoorhead
Sorry to pass this issue over to you. Paul and I both had a look and did not get closer to a fix, which feels worryingly inadequate!

To give some more detail:
- This issue started after our most recent production deploy. A number of vars reset to point to staging. Anything configurable within spree were reset but the spree.root_url is not configurable

[2016-03-02 18:52] lin-d-hop commented on #815
I would also like to explore separating the DB to a different server on production. This would help us to maintain data continuity through _this_ process and allow us to have a safer way to do major upgrades in the future without downtime to the users, as we could upgrade on different server, test, and switchover without risking data loss. @RohanM @mkllnk @oeoeaio would you share any quick thought

[2016-03-02 20:24] stveep commented on #303
Done in PR above

[2016-03-02 20:24] #303 closed

[2016-03-02 21:45] daniellemoorhead commented on #303
Nice solution, well done :dancers:

[2016-03-02 21:56] oeoeaio commented on #821
Hi @lin-d-hop, @pmackay,

`spree.root_url` is just a helper method which works exactly like `admin_url` or `new_admin_enterprise_path`, it's just scoped to a spree route rather than one of ours. The fact that is it a url means that the helper knows it is supposed to tack a host onto the start.

To generate urls, the helper uses the hostname provided by `ActionMailer::Base.default_url_options[:host

[2016-03-02 22:22] myriamboure opened #853 "Supporting multiple separators for input"
Following issue #796
If the instance has set up a "," as separator for decimals, if a user fill in a price with a "." instead of a "," (which always happen as we use multiple tools that use "." instead of "," as separators, even if the common rule in france is the ","), then the system changes the price (4.20 becomes 42,00 when you save)

It would be great to allow users to use multiple types of s

[2016-03-02 22:22] myriamboure commented on #796
@mkllnk in the product list, when I display all the variants, it appears with a ".", but if I clic to edit the variant it appears with a ","
![produitpoint](https://cloud.githubusercontent.com/assets/8135376/13477455/c682a658-e0cc-11e5-8103-091a32e4fad9.png)
![produitvirgule](https://cloud.githubusercontent.com/assets/8135376/13477466/d3d3c4ea-e0cc-11e5-8984-4d958694b801.png)

Issue created for th

[2016-03-02 22:23] myriamboure commented on #853
Is this also a feature needed for Scandinavia @sigmundpetersen ?

[2016-03-03 00:01] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=56d77ed00772dedd57003ec9)

[2016-03-03 02:21] mkllnk commented on #821
I did a few things on your production server. The bad news: I don't know what caused your issue. The good news: It seems working fine now.

One good thing to know is that when you change a variable like `Spree::Config.site_url` through the OFN site or through the database, other processes don't pick that up. In our case, it means that delayed_job doesn't know about the update and will still send e

[2016-03-03 02:36] mkllnk commented on #815
I think that is a common good practice. Some of the CI scripts may need to be customised for that. They save and restore data on the staging server and these commands may assume a local, passwordless connection to the database (on the staging server).

But I'm not sure how you can have less downtime with a separate database server. And if you want to test a new release first, you still need a copy

[2016-03-03 07:27] lin-d-hop commented on #815
Thanks @mkllnk
It would be more for system updates rather than code releases. It may be an overkill but this issue inspired the thinking... I don't like the idea of downtime while we update ubuntu if things go wrong in the process.

[2016-03-03 07:32] pmackay commented on #815
@lin-d-hop I'm not quite understanding your thinking. Its more flexible but wouldnt it also imply two servers that need updating, when updates are needed?

[2016-03-03 07:40] sigmundpetersen commented on #853
Yes I think this is needed everywhere. This really should be a part of internationalisation and determined by regional settings. The platform should interpret the different ways of entering numbers and converting them correctly to the standard form.

[2016-03-03 07:53] lin-d-hop commented on #815
My thinking is we update one server then point DNS to that one. If this switch takes any time at all, when users could be directed to either site, then we get inconsistent data. If the DB is on another server then we lose nothing in the process. Then we just ditch the other server until we need to do more system work.
It means that we can start to explore system updates more flexibly. I'm consider

[2016-03-03 09:32] NickWeir63 commented on #713
Thanks for this email from @pmackay .....
From: Paul Mackay [mailto:paul@folklabs.com]
Sent: 03 March 2016 08:38
To: <nick@openfoodnetwork.org.uk>
Cc: Lynne Davis
Subject: Re: v1.5 on staging

Maikel updated UK prod last night as well when testing this other URL issue (which is now fixed!). So you could test on prod now :)

So i tried opening the Stroudco shopfront on UK production and it still to

[2016-03-03 09:34] pmackay commented on #713
@NickWeir63 are you thinking the update to 1.5 will help speed? Based on comment above, next improvement will come in v1.6.

[2016-03-03 09:53] NickWeir63 commented on #713
OK sorry - so what should i be testing?!

[2016-03-03 09:54] pmackay commented on #713
Any other features in v1.5 that you want to test. If you’ve checked them all before, maybe there’s nothing to do! :)

[2016-03-03 14:15] NickWeir63 commented on #821
Yes thanks @mkllnk this is working perfectly now so will close this
big thanks to all who worked on it
N

[2016-03-03 14:15] #821 closed

[2016-03-03 14:18] NickWeir63 commented on #838
This now seems to be working fine.  all the order cycles were wiped from staging during the updates last night (slightly worrying) but i am now able to create and update order cycles fine.  so closing this now

[2016-03-03 17:05] pmackay commented on #821
@mkllnk any idea why the order cycles on the staging db might have gone missing? @NickWeir63 reported this when testing earlier.

[2016-03-03 21:29] myriamboure commented on #814
@lin-d-hop I think the instance should be able also to determine if they want to offer a trial period at all. I don't know if that's already in what you wrote ;-)
For example in France, we might have a business model based on "volunteer commission", which means that the platform would basically be free but each hub would define the % they want to give us on a volunteer/consicous based (and we woul

[2016-03-03 21:41] oeoeaio commented on #814
Good idea @myriamboure. Also, I have done some thinking about how to implement individualised "plans" (custom trial periods, customs rates etc) for enterprises, so I'd love it if you could ping me if/when you start a new topic :)

[2016-03-03 21:45] myriamboure commented on #546
Any idea @elf-pavlik or @blancnic ? I'm not sure I understand the problem... any precision @daniellemoorhead ?

[2016-03-03 22:59] mkllnk commented on #821
No. I just deployed to production which is saving the staging database to a file, but not changing it. Or did that happen when you staged version 1.5? The normal CI scripts are resetting the staging database to the point of the last production deployment. If you had another test branch in staging before, that data got lost. We do that, because some branches do migrations which have to be reverted

[2016-03-04 00:13] sstead commented on #757
When I put an email into the Notifications box that's different from the enterprise owner/manager
- an email confirmation is sent to the email
upon confirmation of that email....
- If the email is an new non-OFN user, they confirm, set a password and are then made the manager.
- If the email is a pre-existing OFN user, they are still sent a confirmation, which they need to confirm (do we want this

[2016-03-04 00:15] sstead commented on #757
The new user process is working though, which is most important to group set up... here is a screenshot, this is as much for my reference as yours Maikel
![image](https://cloud.githubusercontent.com/assets/10843056/13514141/5dbdd186-e1fa-11e5-9e37-c44266fbc807.png)

[2016-03-04 00:30] sstead commented on #757
Here's what needs to be changed to the /register process....
![image](https://cloud.githubusercontent.com/assets/10843056/13514390/81ab3fb4-e1fc-11e5-8044-0aa69ee6225c.png)

[2016-03-04 00:34] sstead commented on #757
Yes, only superadmin should be able to create groups- but you're right, it's broken on production too, so I'll just create a github issue for it seperately?

[2016-03-04 00:35] sstead commented on #757
The other thing is that when I first logged into staging, none of the groups had owners, is it sort of wiping ownership? When it goes to production, if it also wipes ownership, we can just reinstate ownership, but I just wanted to make sure that's not a problem.

[2016-03-04 00:38] sstead opened #854 "Only superadmin should be able to +New Group"
Currently, anyone who owns a group can see and click on the +New Group button. It would be better if only superadmin could create a new group.

We generally have a working relationship with group admins, so can trust they won't create more groups. Thus, this is not an urgent issue...

[2016-03-04 03:35] mkllnk commented on #757
My current todo list:

- [x] hide create button
- [ ] check that group owners are not wiped out
- [ ] set email address in registration
- [ ] make existing users manager after email confirmation?

[2016-03-05 12:50] NickWeir63 commented on #713
Hi @pmackay - Danni said that the Aussies would get this ready to test by yesterday.  If it is ready please can you deploy it to UK staging so that I can test it and maybe get it onto production before i go away Weds?
thanks very much

[2016-03-05 14:38] NickWeir63 opened #855 "order cycles wiped from UK staging"
When we deployed v1.5 to UK staging all the order cycles disappeared.
I have recreated a test cycle but think we should check how this happened so it doesn't happen again.

[2016-03-05 14:39] NickWeir63 commented on #855
when we put v1.5 onto production this issue didnt happen

[2016-03-05 14:41] NickWeir63 commented on #855
Mikael told us:
"I just deployed to production which is saving the staging database to a file, but not changing it. Or did that happen when you staged version 1.5? The normal CI scripts are resetting the staging database to the point of the last production deployment. If you had another test branch in staging before, that data got lost. We do that, because some branches do migrations which have to

[2016-03-05 18:00] lin-d-hop commented on #855
yes, it does.
however we do need to chat about this wrt how we use our staging server. If customers are testing the platform on staging we risk losing their data. Lots of options here. I'll have a think and propose a strategy...

[2016-03-05 19:16] NickWeir63 commented on #538
Still no response from Crockett - sorry
I am happy to close this now

[2016-03-05 19:16] #538 closed

[2016-03-06 18:46] NickWeir63 commented on #838
this is not working again
i have added loads of products to the incoming part of the Stroudco order cycle on staging but when i add them to the outgoing part of the cycle and click update - nothing happens and when I come back to it the products are not included in the outgoing list
@lin-d-hop do you have time to look at this?
thanks

[2016-03-06 20:39] pmackay commented on #713
@daniellemoorhead @RohanM please could you give the branch this feature is being developed on? Or is some of it merged to master already?

[2016-03-07 09:14] lin-d-hop commented on #772
With last weeks deploys these changes are now on UK staging and production.

Closing.

[2016-03-07 09:14] #772 closed

[2016-03-07 13:08] lin-d-hop commented on #838
Hi @NickWeir63 I've been looking into this and the problem only occurs when the order cycle starts to get really large, with >500 products.
Looking at staging2 none of the super admin order cycles has more than 30 products so they won't be experiencing this.
Our production server has double the memory (4gig) to our staging server so this would likely explain why we don't see the issue on productio

[2016-03-07 14:02] NickWeir63 commented on #838
thanks for looking at this
shall we put it in icebox?

[2016-03-07 14:26] lin-d-hop commented on #838
No, it will severely limit our ability to test product load speed functionality.

[2016-03-07 14:38] lin-d-hop commented on #713
@NickWeir63 This is now on UK staging ready for testing. You won't be able to test large order cycles with 500+ products (as this seems to hang on 2gig memory on our staging server) however you will be able to test existing functionality for StroudCo works as expected.
See http://community.openfoodnetwork.org/t/testing-products-caching/525 for what needs to be tested. @sstead has done quite a bit

[2016-03-07 15:02] NickWeir63 commented on #713
thanks Lynne
will do

[2016-03-07 16:22] lin-d-hop commented on #855
So there are two factors in this:
1) Ensuring that we have the data we need for UK testing of new functionality
2) Ensuring that we have a platform that new users can use to test OFN without their test data disappearing often.

In Aus I believe they have two staging servers for this reason. Staging2 is for feature testing and staging 1 is for user testing.

I think it's fine for us to let users kn

[2016-03-07 16:22] #855 closed

[2016-03-07 16:25] lin-d-hop commented on #838
Ok I think we close this for now. It's not really a bug, but will quite possibly be the cause of future enhancements. If we need to test on large data in the future (should remain unlikely on the staging server, which is more to check functionality) we know server memory is an issue. If we find this issue popping up on production we will either need to optimise order cycle updates or increase serv

[2016-03-08 11:07] mkllnk commented on #678
An error linked to this issue has been reopened in Bugsnag
[**ActionView::Template::Error** in **admin/order_cycles#bulk_update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56023a62de2055689d59750b?event_id=56deb277d116f05d09485074)

[2016-03-08 20:50] NickWeir63 commented on #713
This is all looking very good to me.  Thanks @RohanM - this is so much faster - it will make a lot of Stroudco shoppers very happy (impatient buggers)!
@oliver is going to look at this and see if he is happy with it but unless you hear from him I am happy for this to be deployed to UK production as soon as @pmackay has time
Thanks everyone

[2016-03-08 22:50] RohanM commented on #713
Right at this moment there are a couple of outstanding bugs - when products are shown or hidden in the inventory, the change is not reflected in the shopfront. I should have a fix for these today.

[2016-03-09 00:15] daniellemoorhead commented on #798
@mkllnk the Norway team are happy for us to go ahead and do this work as part of V1.6

[2016-03-09 00:17] mkllnk commented on #806
Because of the timebox on this issue, we decided to just remove the scroll bar. But we don't have more/less buttons.

[2016-03-09 00:23] daniellemoorhead opened #856 "Creat canned tag rule: % Discount"

[2016-03-09 00:27] daniellemoorhead opened #857 "Add tag rules management tab to entrerprise edit interface"

[2016-03-09 00:28] daniellemoorhead opened #858 "Create canned tag rule: shipping methods (allow use)"

[2016-03-09 00:30] daniellemoorhead opened #859 "Tweak tag rule model to handle shipping method rules"

[2016-03-09 00:31] daniellemoorhead opened #860 "Create canned tag rule: shipping methods (prevent use)"

[2016-03-09 00:32] daniellemoorhead opened #861 "Apply tag rules in shopfront: % Discount"

[2016-03-09 00:35] daniellemoorhead opened #862 "Apply tag rules in shopfront: Shipping"

[2016-03-09 00:52] daniellemoorhead opened #863 "Tidy up part 1 of tagging feature"

[2016-03-09 00:59] sstead commented on #806
![image](https://cloud.githubusercontent.com/assets/10843056/13621785/36b68bb2-e5ee-11e5-9d61-131c6663d39c.png)

@mkllnk  Hey my interpretation was that the left scroll bar would be gone...? Is that what this issue is about?

[2016-03-09 01:04] mkllnk commented on #806
Yes, the scroll bar should be gone. I assume that this screen shot is from current staging and it didn't work?

[2016-03-09 01:42] sstead commented on #757
![image](https://cloud.githubusercontent.com/assets/10843056/13622634/2e159fb0-e5f4-11e5-994b-f7b9cb6e8f79.png)

Hey maikel, I was expecting that this email field would be the 'display only' email address. And that the notification email would default to the login email, and that the confirmation/welcome email would also be sent to the login email.

[2016-03-09 01:43] sstead commented on #757
Also, the notification field doesn't have my login email as the placeholder until the .com.com.com email is confirmed... the .com.com.com just went in.... that's a problem because it's not a confirmed email...?
![image](https://cloud.githubusercontent.com/assets/10843056/13622691/893f83ba-e5f4-11e5-89bc-a946f6f72c31.png)

[2016-03-09 19:08] lin-d-hop commented on #713
@NickWeir63 Just a note that UK production deployment will need to wait a bit longer than just when paul has time :-) This branch will be merged in v1.6 and we will be able to deploy after that.

[2016-03-10 21:49] sigmundpetersen opened #864 "'Notify producers' includes cancelled orders"
The email that is sent out includes all cancelled orders as well as standing orders.

[2016-03-11 01:45] sstead commented on #757
@mkllnk I'm happy with this! The /register is improved and all other changes seem to still be in place! Yay!

[2016-03-11 02:24] #806 closed

[2016-03-11 02:27] #757 closed

[2016-03-11 05:04] mkllnk opened #865 "Inventory display in Firefox"
When I visit `/admin/inventory` with Firefox and select a hub, the table is displayed in the wrong place.

Screenshot: https://files.zenhub.io/56e251912c70ecd345e1a27c

![https://files.zenhub.io/56e251912c70ecd345e1a27c](https://files.zenhub.io/56e251912c70ecd345e1a27c)

Chrome displays the page as expected.

[2016-03-16 01:54] daniellemoorhead commented on #824
Have taken this out of the icebox given it's become [a topic of conversation again on Discourse](http://community.openfoodnetwork.org/t/ofn-norway-backlog/463/13).

[2016-03-16 11:51] lin-d-hop commented on #814
Hi @myriamboure Just so you know, in this implementation the enterprise can set the number of trial days to 0, which fits your request :-)

[2016-03-17 13:21] lin-d-hop commented on #864
Hi Sigmund,

I haven't been able to replicate this issue, either through manually creating and cancelling orders on UK servers or by replicating the issue through the unit tests.

Are you able to give more information? Was this as a producer or a hub? Was the order cancelled by producer/hub/superadmin? Does this happen every time for you?

Thanks for helping track this down.
Lynne

[2016-03-17 13:30] sigmundpetersen commented on #864
It was reported from a Hub so I really don't have more information. I'll return your questions to the Hub for further testing and ask them to be more specific. We could just put this on hold for now.

[2016-03-17 13:34] lin-d-hop commented on #864
It would be great if you could replicate yourself. That is really useful before creating a bug on github to ensure that the issue is not just user error.

[2016-03-17 22:33] myriamboure commented on #814
Great! Thank you @lin-d-hop :-)

[2016-03-17 23:44] mkllnk commented on #849
@sstead and @oeoeaio: I need a bit more detail about this. Obviously, the products should not show without a login. But what about these:

- list of order cycles
- order cycles closed message
- custom shop message

Should they be shown?

[2016-03-18 00:47] oeoeaio commented on #849
Hi @mkllnk ,

I think we want the following:
  * Order cycles dropdown disabled
  * Show a new message that tells the user the need to login (login_required_message or something)
    * I think this should look exactly like the order cycles closed message in terms of its location on the page, but the login message should always take precedence.
  * this would mean that the custom shop message would

[2016-03-18 00:56] mkllnk commented on #849
Okay, so we have the following order:

1. require login message
2. order cycles closed message
3. custom shop message

Sounds good.

[2016-03-18 03:02] mkllnk commented on #849
@oeoeaio: I got this ready, but there are two annoying things. The displayed message is this one:

The link *Login* takes you to a new page and after the login you are at the homepage, not at the shop. The Login button in the menu works differently. It's more complex markup with an Angular controller that acts if you click the login-button there. I could replicate the code for the displayed messag

[2016-03-18 03:10] RohanM commented on #713
The first stage is done and in Aus production now. Ready to go for 1.6 :)

[2016-03-18 12:47] myriamboure commented on #864
@lin-d-hop @sigmundpetersen I had already created a documented issue on this: https://github.com/openfoodfoundation/openfoodnetwork/issues/811 I suggest to close this one @sigmundpetersen

[2016-03-18 13:57] #864 closed

[2016-03-18 13:59] sigmundpetersen commented on #864
@myriamboure can you give me labelling rights etc here on github if I am to take over backlog management for Norway?

[2016-03-19 00:33] mkllnk commented on #739
I created another repository [openfoodnetwork-archive](https://github.com/openfoodfoundation/openfoodnetwork-archive/branches) with a copy of the repository with all old branches. I then went through the stale branches and deleted stuff that is older than a year. A lot of these branches were of people that are not even in the team any more. But I also deleted a couple of @RohanM's branches. I hope

[2016-03-19 23:32] myriamboure commented on #864
@mkllnk is it you who give labelling rights? @sigmundpetersen needs to be able to label Norway :-)

[2016-03-20 00:03] mkllnk commented on #864
Everybody in the @openfoodfoundation/administrators team can do that, including me. I gave @sigmundpetersen write permissions so that you can change issues. But it is important that you do *not* commit code to the repository. Open pull requests as usual. We never use the merge button on pull requests. It all goes through our build pipeline with extensive testing. Is that alright?

And @myriamboure

[2016-03-20 02:31] sigmundpetersen commented on #864
Thanks @mkllnk. I'm not going to commit or merge any code, just managing the reporting of issues from Norway, mostly labelling...

[2016-03-20 09:03] myriamboure commented on #864
@mkllnk I still need to do that for France, I'm passing it over for Norway :-)

[2016-03-21 23:31] elf-pavlik commented on #739
[code]

from 87 i reported when opening this issue :dancer:

thanks @mkllnk

:+1:

[2016-03-21 23:31] #739 closed

[2016-03-22 11:35] pmackay opened #869 "Support bin/setup convention"
This seems like a good practice:

https://robots.thoughtbot.com/bin-setup

[2016-03-22 14:50] NickWeir63 opened #870 "Text change on 'listing orders' screen"
On the ‘listing orders’ screen (see screenshot) the headings ‘payment county’ and ‘shipping county’ should read ‘payment state’ and ‘shipping state’.
![listing orders](https://cloud.githubusercontent.com/assets/10517702/13955625/4705ea2c-f03d-11e5-83b0-dee8ba5f2909.png)

[2016-03-22 15:03] lin-d-hop commented on #870
Due to the fact that we only have 1 translation for the word 'State'. This will obviously be an issue for all languages apart from Australian English :-)

[2016-03-22 17:59] lin-d-hop commented on #870
Ok so this was actually from the Spree I18N project.

I've submitted a PR here:
https://github.com/spree-contrib/spree_i18n/pull/668

Will close once that PR has been merged and the changes will flow through to us.

[2016-03-22 18:32] lin-d-hop commented on #294
Has this been seen again? Ive never seen this or heard it reported... such an old bug.
Can I close @pmackay?

[2016-03-22 23:07] pmackay commented on #294
Good idea.

[2016-03-22 23:07] #294 closed

[2016-03-23 00:31] #713 closed

[2016-03-23 00:56] daniellemoorhead commented on #828
Hi @RohanM would you be able to provide an update on how this is tracking for the UK team? I've got a session with them on Thursday evening, so would be great to get an update before then. Thanks!