[2019-01-24 23:38] mkllnk commented on #3001
Looks like that's a Swagger Hub limitation.

[2019-01-25 00:15] luisramos0 commented on #3001
I would investigate your authentication, from what I understand swagger inspector will try to ping all endpoints and actions so it will hit all sorts of things including 403s. I would guess that you need to give it credentials for an admin user so the most api endpoints are seen with working and with data.

[2019-01-25 00:21] sstead opened #3391 "[Spree Upgrade] Shop showing incorrect products (product cache in v2)"
## Description
On the French staging server, which now holds the Spree Upgrade I created an order cycle for a hub shop. The OC contains Apple products. But when I get to the shop I see a list of random products that this shop doesn't even have permission to sell. I'm not sure where this product data is coming from - is it seed data for the new Staging server? I can't see these products in the back

[2019-01-25 00:33] lin-d-hop commented on #2910
Great!
Note that even though I suggest removing the line, I made a small update to the text for more native english (though your English is near perfect ;-)): "Here are the details of what you ordered:"

[2019-01-25 01:14] sstead opened #3392 "[Spree Upgrade] Order Cycles don't update to reflect changes made after they're created (product cache in v2)"
## Description
I'm noticing that if I make changes to things after an OC has been created, the changes that I made won't carry through to that OC in the shopfront.

Changes I've made that have not carried forward into the shop include:
- Changing the category of a product - the shop filter still sees it as the past category
- Adding a fee to the OC - the fee won't show in the shop like it should
-

[2019-01-25 02:03] sstead opened #3393 "[Spree Upgrade] I get the snail page when trying to access the checkout page"
## Description
This issue could be related to other issues relating to the shopfronts (https://github.com/openfoodfoundation/openfoodnetwork/issues/3392
https://github.com/openfoodfoundation/openfoodnetwork/issues/3391
), but I'll log it as a bug anyway.

We need to get this bug fixed before much more Spree testing can be done

While testing Spree I'm finding that I can't access the final page in

[2019-01-25 08:58] myriamboure commented on #2910
Fixed, thanks @lin-d-hop :-) So if no one else raise a voice I will consider we have a consent around that order cancellation template :-)

[2019-01-25 20:12] kristinalim opened #3395 "Do not include unused application.css and application.js when precompiling assets"
Do not include unused `application.css` and `application.js` when precompiling assets.

## Description

We are also precompiling `application.css` and `application.js` (Rails defaults), which AFAIK we do not use anywhere.

The current situation is not ideal:

1. Both `application.css` and `application.js` require the entire CSS and JS trees, which means asset precompilation is taking more time tha

[2019-01-25 22:18] luisramos0 commented on #2696
One spec in  subscription_form_spec is broken with errors related to shipments.
And 8 specs are failing with related errors in spec/services/order_syncer_spec.rb

[2019-01-25 22:21] luisramos0 opened #3396 "[Spree Upgrade] Fix features/admin/subscriptions_spec (2 broken specs)"
2 broken specs in features/admin/subscriptions_spec.rb with UI errors with missing data. Needs to be investigated.
This could be related to #2696

[2019-01-26 04:07] kristinalim opened #3398 "Remove "visible: true" from have_selector in feature specs"
Remove `visible: true` from `have_selector` in feature specs

## Description

The following confirms that our config and version already make `have_selector` look only at visible selectors:

[code]

## Expected Behavior

No user-observable changes expected.

## Actual Behavior

No user-observable changes expected.

## Steps to Reproduce

In a feature test, assert this for a hidden element:

[code]

[2019-01-26 21:13] kevinchristianson commented on #3001
@luisramos0 thanks for the tips. We're having a hard time finding the "ping all endpoints" functionality you mentioned for swagger inspector. Do you have a link to it or documentation of it we could look at?

[2019-01-26 22:33] luisramos0 commented on #3001
I am sorry, it's incorrect, isn't it? I must have dreamed...
With swagger inspector you need to provide the endpoints, methods and parameters.
The endpoints and methods are listed with rake routes.
The challenge is really the parameters. We will have to analyse each controller manually and fetch the list of parameters it takes.
So, one possible course of action would be:
- take rake routes (grep /

[2019-01-27 12:09] luisramos0 commented on #3393
I think this is related to the shipping methods being used. We need to review all calculators (flat rate, per weight, etc) being used in shipping methods, payment methods and enterprise fees and make sure they all work in each of these different places.
I'll take this one this week.

[2019-01-27 20:10] luisramos0 commented on #3393
Long tech story short, spree v2 introduces copy pasted classes for the calculators of shipping methods. I totally missed this change until today. I put a simple solution to the problem by ignoring the new version of the calculators in v2 (it's the same logic) and keeping to our own calculators that are throughly tested by our test suite. Long tech story available in the PR #3400.

@sstead it's sti

[2019-01-28 12:44] laka3000 commented on #3193
I'm currently taking a shot at this, however, there's something weird happening, probably me being a noob, but I can't pinpoint what's wrong (and I've tried many different ways to fix this, all with similar results).

Anyway, I'm calling $sanitize (from https://docs.angularjs.org/api/ngSanitize), on coordinator.name, at order_cycles_controller.js.coffee:17

Even though the names are sanitized, the

[2019-01-28 15:12] luisramos0 commented on #3391
It's a cache error Admin - Configuration - Cache Settings (Mise en Cache):
![screenshot 2019-01-28 at 15 11 43](https://user-images.githubusercontent.com/1640378/51845226-0bbe1900-230f-11e9-9187-9ad0d5e6f21c.png)

[2019-01-28 16:19] luisramos0 commented on #3391
I spent an hour or so trying to find the problem but I couldnt find the cause yet. It's a cache issue for sure, and #3392 looks like it's also a cache issue.

[2019-01-28 16:20] luisramos0 commented on #3392
this issue will be related to #3391 #productcache

[2019-01-28 19:02] #3044 closed

[2019-01-29 08:42] sauloperez commented on #3348
Hi @leandroalemao ! happy to see you back!

[2019-01-29 09:56] leandroalemao commented on #3348
Tks @sauloperez ! You know.. busy life here as usual 👍 😄

[2019-01-29 12:15] sineadfenton commented on #2764
Sorry team - we are all good on this (tested again) and I'll close this now.

[2019-01-29 12:15] #2764 closed

[2019-01-29 13:38] lin-d-hop commented on #2979
Hi @PLSV How is this coming along? Have you made any progress or do you have any questions?

[2019-01-29 13:53] PLSV commented on #2979
Hey @lin-d-hop. I have a couple of questions that I need help with. Let me ping you on slack.

[2019-01-29 14:12] sauloperez commented on #2225
Awesome @mkllnk that's the best solution, which we should have done in the first place.

[2019-01-29 14:31] luisramos0 commented on #2989
hey @Matt-Yorkley @HugsDaniel
in ofn 2-0-stable I see spree_auth_devise (2.0.0). that means the upgrade is done as part of the spree upgrade. did you mean something else? otherwise I'd close this or move to a tech debt issue outside of the spree upgrade. if we keep this as a tech debt issue I think we need more details.
for info on what legacyuser is, see this https://github.com/spree/spree/commit

[2019-01-29 14:40] luisramos0 commented on #2989
From my very quick investigation:
- we are using branch 2-0-stable of our for of spree_auth_devise
- this dependency is not creating any trouble for the spree upgrade right now

So, I think this should not be part of the spree upgrade.

I think we can have this issue as tech debt outside the upgrade to represent the need to document what does our fork contain and also the upgrade of this dependenc

[2019-01-30 00:20] mkllnk opened #3405 "Remove obsolete soft-delete action"
## Description

Spree 2 changed the implementation of soft-deleting products. Calling `destroy` is now soft-deleting. That means that we don't need our own `soft_delete` action on the products controller decorator any more: https://github.com/openfoodfoundation/openfoodnetwork/pull/3394/files/b1fde225f3cdf64dee1d6634e0060ec2f913968d#diff-21992ae590a608944725dafc108beb2c

[2019-01-30 04:34] mkllnk opened #3406 "[Flaky Spec] spec/features/admin/bulk_order_management_spec.rb:436"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/dependabot-bundler-dalli-2-7-9/builds/1

## Animated Gif/Screenshot

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Other failure in the same file: #2962

[2019-01-30 08:15] sigmundpetersen commented on #3406
Wonder if this is already covered in #3358 @mkllnk

[2019-01-30 10:18] kristinalim opened #3408 "[Enterprise Fee Summary] Enable report for non-superadmin enterprise users"
Enable report for non-superadmin enterprise users.

## Description

This reverses the effect of #3332.

However, checks relating to permissions need to be done in doing this.

This is best to be tested with existing OCs (if already available) that would already have data for this report. Before testing, it would be helpful to identify hubs, producers, and coordinators that would have data needed f

[2019-01-30 10:23] #2656 closed, assigned to kristinalim, kirstenalarsen

[2019-01-30 10:35] luisramos0 commented on #2685
should be ready to close BUT I see spec/controllers/spree/orders_controller_spec.rb:219 broken in 2-0-stable build... this should be green after 3366, right @sauloperez ?

[2019-01-30 10:39] kristinalim commented on #2616
@sigmundpetersen Thank you!

* #2616 (current) - I updated #3337, the last PR addressing an issue in report values, to close this.
* #2656 - Closed this. See below.
* #2672 - Closed this. See below.

We now also have a new issue #3406 for removing the feature flag for the report. In the testing instructions for this, I listed indirect concerns of #2656 and #2672 which should be tested again.

[2019-01-30 13:10] sigmundpetersen commented on #2685
seems this is a new spec fail that appeared after the original one was fixed?

[2019-01-30 15:04] RachL opened #3409 "Bulk invoice printing not working for non super admins"
## Description
When testing release 1.26 I couldn't load a PDF of invoices in bulk while connected as a producer/distributor. With super admin, no problem.

## Expected Behavior
All profiles should be able to generate the PDF

## Actual Behavior
Only super admin can.

## Steps to Reproduce

1. Log in as a super admin on an instance or staging with the latest release (1.26)
2. Go the the order page

[2019-01-30 15:21] luisramos0 commented on #3391
I now understand well the products cache code but it is not easy ([cache invalidation is one of the 2 hard problems in computer science](https://i.imgur.com/lJpH5nX.jpg)) because different events will trigger the cache invalidation (aka refresh_cache). After 6 hours or so trying a few things I'll leave this one for the next dev who wants to have a look at it.

Meanwhile I built a little feature to

[2019-01-30 15:51] luisramos0 commented on #2696
Additionally, 4 specs are breaking with similar error (we need to set shipping address or shipping method at some point) in spec/models/proxy_order_spec (job 4)

Error:
[code]

[2019-01-30 15:56] luisramos0 opened #3410 "[Spree Upgrade] Phase 2 - Fix subscriptions proxy_orders_controller_spec (1 broken spec)"
In proxy_orders_controller_spec, there's some problem with the order workflow.
The order state in proxy_order before the resume event is and should be cancelled but the error says it cannot transition from resume.
[code]
Can be related to the shipping method changes required in #2696 but I am not sure right now.

It's one broken spec: spec/controllers/admin/proxy_orders_controller_spec.rb:111 (Job

[2019-01-30 17:21] myriamboure commented on #2979
Just a comment, with the work we have done on "product chain" and some first inception on "variable pricing for different customer groups", there is a chance that we need that master price field (I'll share soon the first brain dump I had on this but no need here). Just want to make sure we just "hide" it and don't delete it. No objection to hide it meanwhile as there is a confusion yes but I unde

[2019-01-30 19:22] Jefferson-Faseler commented on #3248
I would like to tackle this quick win if I can. I'm new to ZenHub and could not figure out how to assign this to myself. Possibly because I only have read permissions?

[2019-01-30 21:59] nozakis commented on #3001
Hi @luisramos0
In order to use the "Try it out" feature on SwaggerHub we would like to feed requests to the live version of the public OFN API. We noticed that `localhost:3000/api/products` returns JSON that lists a number of products while accessing the same url on the [actual OFN page](openfoodnetwork.org/api/products) redirects the user to a product setup guide. Is there a way for us to access

[2019-01-30 22:24] mkllnk commented on #3406
Ah, yes, I overlooked that one. Thank you. :+1:

[2019-01-30 22:24] #3406 closed

[2019-01-30 22:37] mkllnk opened #3413 "Replace Spree calculators with our own"
## Description

We override almost all code in Spree decorators. We also had trouble with inheritance in the past. And since Spree 2 we define our own list of calculators, but still point to Spree classes.

It would simplify our code and make it more robust to create our own calculator classes within the OFN namespace. They can live in `lib` as they are not application specific and could move into

[2019-01-30 22:47] kirstenalarsen commented on #1494
Why couldn't we just create an 'inactive' customer - that is marked slightly differently on the list or hidden (but can be displayed if needed), that doesn't have access to the shop?

[2019-01-30 23:40] luisramos0 commented on #3001
nice research @haseleyi :-)
re TypeError, if you get stuck, pls post here or in slack, we may be able to help.

@nozakis , there's no app on openfoodnetwork.org
only on openfoodnetwork.org.uk or openfoodnetwork.org.au or openfoodfrance.org or app.katuma.org, etc
but I'd not use these apps for trying the API, I believe we are not ready for that, these requests like /api/products are quite heavy on

[2019-01-30 23:49] luisramos0 commented on #2979
hey @myriamboure, maybe useful to clarify: there's no such thing as master price, there's a price on the master variant. The master variant is a variant every product has, it's the default variant that is used in Spree if no variants are defined. In OFN additionally we have the standard variant which is a normal variant that is always created when a product is created. So, when you create a produc

[2019-01-31 02:43] kirstenalarsen commented on #3332
I disagree - why would we only let super-admin see this, it would completely undermine the purpose of the report which is Hubs being able to use fees and easily see how much is owing to whom. I say delete this. Not needed or wanted at all

[2019-01-31 02:49] tschumilas commented on #3332
I also disagree -  the whole reason we initiated the fee report was so that enterprise managers could see the break down of various fees.  How else can a OC coordinator know how much to pay to various fee setters if they don't see the report?

[2019-01-31 04:31] kirstenalarsen opened #3414 "Import validation panel gives incorrect information - column names in the wrong places"
## Description

When doing a product import I used the product import template

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/8379b46d-f061-4d56-842f-278933962f0f)

to create an import file that looks like this

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/77811dc9-9dc8-40f2-8ba2-9bc98ad55097)

The import validation then looks like this .

[2019-01-31 04:36] kirstenalarsen commented on #3414
the plot thickens. While doing this bug report I retested with the file above and now it looks ok
![image](https://user-images.githubusercontent.com/2911176/52030899-fabf1300-256d-11e9-8739-69c939c68fe4.png)
although still not showing the Producer column

But then i tested with the bigger file (med) and it is having the same problem
![image](https://user-images.githubusercontent.com/2911176/520308

[2019-01-31 04:54] kristinalim commented on #3332
Sorry, I should have clarified this in the issue description. This is only done through a temporary feature flag, which would be removed as soon as the report has been fully tested by superadmins in production. Removal of the feature flag would then make this feature available to all users.

Quoting what @mkllnk said in Slack here:

We can close if not needed.

[2019-01-31 10:03] myriamboure commented on #2396
We identified a remaining bug when testing the release, so reopen the epic.

[2019-01-31 10:56] myriamboure commented on #3414
Thank you @kirstenalarsen :-) Following conversation on delivery train I removed the bug tag as the feature is not yet release, I added it in the project and epic and I'll retest now. We will see if it blocks releasing or not, if it doesn't we will release and will tag this as a bug so it can be fixed among other bugs, else we will ensure it is fixed before we release.

[2019-01-31 11:01] myriamboure commented on #3414
@kirstenalarsen question : if you still continue and import the products, are the information saved correctly, the name in the fiels "name", attached to the good producer, etc ? When you check the catalog ?
I understand it is VERY confusing for the user and needs to be fixed, but I want to understand if the data import still happens consistently even if display of information is wrong. Thanks :-)

[2019-01-31 11:02] myriamboure commented on #3414
I think it is blocking the release as it introduce a pretty annoying confusion when doing the import, so this is attached to the epic which is among top priority, so should be fixed quickly.

[2019-01-31 11:04] myriamboure commented on #1434
@lin-d-hop following comment above I'm closing this issue as I think we don't need it anymore. If you disagree just raise your voice :-)

[2019-01-31 11:04] #1434 closed

[2019-01-31 11:05] myriamboure commented on #1435
@lin-d-hop following comment above I'm closing this issue as I think we don't need it anymore. If you disagree just raise your voice :-)

[2019-01-31 11:05] #1435 closed

[2019-01-31 11:30] kristinalim opened #3417 "[Flaky Spec] spec/features/admin/bulk_order_management_spec.rb:488"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3416/builds/1

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-31 11:32] myriamboure commented on #2979
Yes yes yes and again yes Luis ! I think we need to distinguish "offers" from "catalog". The catalog is about the products available or that will be available at some point. Offers is about the price you give for each product for a given customer type. Then in term of UX I'm not sure we should separate them completely as sellers are so used to have prices in their catalog... I will share some thou

[2019-01-31 11:33] kristinalim commented on #3417
This spec fails when run on the last day of the calendar month.

There is actually already a WIP PR #3416 that covers this, but created the issue to document this particular type of spec failure.

[2019-01-31 13:52] sigmundpetersen commented on #3248
Hey @Jefferson-Faseler and welcome! Would be awsome if you would like to try fixing this issue. Yes you are right, it's not possible to assign because of permissions. But just go ahead and submit your PR and we will connect it to this issue.

[2019-01-31 14:37] RachL opened #3419 "[Product import] Saving error when on_demand is empty"
## Description
Seen while testing #3387 : when testing what happened with empty on_demand cells for 2 lines on a second batch, I had an error at the saving stage, which prevented the 2 products to be imported.

## Expected Behavior
Any errors should be revealed before the actual import, not after.

## Steps to Reproduce
1. Use the file described here with producers matching your environment: https

[2019-01-31 15:43] luisramos0 commented on #2979
cool, I didnt mean to separate them on the UI, I meant internally.

[2019-01-31 16:34] Jefferson-Faseler commented on #2873
I would love to tackle this bug.
Plan A - Remove the route from Spree
Plan B - The quickest/safest fix I can think of would be to send this route to the correct action on the line below where Spree routes are mounted. Without looking at the relative code it seems this anchor tag href is dynamically generated (I'm guessing based off the behavior of the bug). So my thought would be that if there is

[2019-01-31 18:23] luisramos0 opened #3420 "[Flaky Spec] spec/features/admin/product_import_spec.rb:172"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3416/builds/3
This was detected in #3418
## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-31 19:00] kristinalim opened #3421 "[Flaky Spec] spec/features/admin/product_import_spec.rb:172"
## Description

This spec is unreliable: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3416/builds/5

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-01-31 19:02] luisramos0 commented on #3103
after #3194, only the spec that tests this specific behaviour is broken: spec/features/admin/orders_spec.rb:98
When the order is not complete, we must be able to edit distributor and OC.

[2019-01-31 19:06] kristinalim commented on #3421
Closing this. Duplicate of #3420.

[2019-01-31 19:06] #3421 closed

[2019-01-31 19:11] luisramos0 commented on #2940
This will not be fixed as part of #3194
It needs some investigation, the broken spec (order-charges) is not showing the tax of the product because the taxrate is marked as included_in_price and the current adjustments table . is not showing adjustments included in the line items, only order.adjustments. we may decide to change the test or change the view to show adjustments included in the price (

[2019-01-31 22:33] mkllnk commented on #2873
That quick fix would definitely help. What would be your way of pointing the route into the right direction?

One option would be to edit `config/initializers/rack_rewrite.rb` to redirect the browser.

[2019-01-31 22:47] luisramos0 opened #3422 "[Spree Upgrade] Scope variants when they are added in the edit order page through api/shipments (2 broken specs)"
## Description
#2416 is related to searching variants in the admin orders edit page before adding them to the order, this issue is related to the following step which adds the selected variant to the order.
In spree 2 this is done through api/shipments now.
The process is working but we probably need scoping... that will probably fix this spec: spec/features/admin/variant_overrides_spec.rb:408

Ad

[2019-02-01 00:34] Jefferson-Faseler commented on #2873
That could definitely do it. I was thinking adding the following to line 128 the last line of the `routes.draw` block. Rails will define it top down and issue resolved. Only downside would be a slight organizational issue since it would put that line far away from it's alias route.

[code]

[2019-02-01 00:45] Jefferson-Faseler commented on #2873
Hmmm. Spree seems to be pretty greedy about it's routes. My above suggestion does not actually work as easily as I thought. Possible Rails 3 difference from Rails 4 (what I'm used to)?

[code]

The route remains. I don't how Rails would handle this, maybe in our favor, but it seems kind of race-conditiony.

[2019-02-01 02:59] mkllnk opened #3423 "[Product import] Parallel imports override each other"
## Description

I think that we have a problem if several people try to use the product import within the same second. The file name contains a timestamp including seconds, but no other random part or incremental number. So if two people uploaded a CSV file in the same second, it would create a big mess.

[code]

## Expected Behavior

Many people can use the product upload and it never fails.

##

[2019-02-01 03:33] mkllnk commented on #2873
Thank you for working that out. It may be a bug in our Rails version or the way Spree is loading routes. What's your best suggestion now?

[2019-02-01 06:07] Jefferson-Faseler commented on #2873
I need to look at Spree more closely (from a quick glance there aren't really any options it expects to be passed in), and the Rails 3 routing logic (I read something about the path helper pointing to the inverse of the path Rack chooses when there are duplicate routes. Which makes me suspect this a Rails oversight, but that is only speculation from me).

If this needs to be an urgent fix maybe th

[2019-02-01 06:37] mkllnk commented on #2839
@kirstenalarsen This is done as super-admin at https://openfoodnetwork.de/admin/content/edit. I removed most of the links. I didn't change the email though, because I don't know what it should be. Is there hello@openfoodnetwork.de?

[2019-02-01 06:42] mkllnk commented on #2838
What's the task here? What should the logo be? Do we use our templates and call it Open Food Network Germany? Or Deutschland? And which colour do we choose?

Since it's not very fashionable as a German to be proud of Germany, I wouldn't include it in the logo. Was there any particular request or can we leave it as is?

[2019-02-01 06:44] mkllnk commented on #2873
It's not that urgent. Would rack-rewrite be a solution?

[2019-02-01 07:49] mkllnk commented on #1494
Let me explain the problem here. It involves a bit of OFN history.

#### Introducing the customer

Customers were first introduced by @lin-d-hop in 87b1ab9a1acfaa2624868c475c202068bc3acd89 for reporting. An enterprise could give a customer a different name or identifier, the customer code. It would display in reports. The implementation was basically an association record between User and Enterpri

[2019-02-01 08:46] luisramos0 commented on #2783
Hey @mkllnk yes, I totally agree with the problem and I like the solution.
Interfaces would come handy here where you would have an Importable Interface and a Factory that takes an Entry and returns an Importable. You would have 5 implementations of Importable: new_product, new_variant, etc. What you describe is similar to this but without interfaces...

Having said that, I dont think this is stri

[2019-02-01 08:54] #2805 closed

[2019-02-01 08:54] #2801 closed

[2019-02-01 09:56] sigmundpetersen opened #3426 "[Flaky Spec] /spec/features/admin/enterprise_roles_spec.rb:131,147"
## Description

These specs are unreliable:
rspec ./spec/features/admin/enterprise_roles_spec.rb:131
rspec ./spec/features/admin/enterprise_roles_spec.rb:147

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3209/builds/12

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this

[2019-02-01 10:15] myriamboure commented on #3414
I found the answer in Slack, data are imported correctly, all good @kirstenalarsen :-)

[2019-02-01 10:15] luisramos0 opened #3427 "[Spree Upgrade] Fix spree/admin/invoices_controller_spec (1 broken spec)"
Since the new bulk invoice feature was merged into 2-0 we have a new brokens spec in the v2 branch: spec/controllers/spree/admin/invoices_controller_spec.rb:25

This is the error:
[code]

[2019-02-01 10:19] myriamboure commented on #3414
"ok it almost seems random!! works on some files, some columns appear / disappear" from Kirsten on Slack. If it's random, then I suggest we don't block release of the feature and keep it in bug backlog, and see if it reappears, fix it following usual priority process.

[2019-02-01 10:22] myriamboure commented on #3423
I think this is not blocking the release of the feature as the probability of the import being launched at the same second is very low, isn't it ? Is it ok if I disconnect from the feature epic and we prioritize and fix it as any regular bug @mkllnk ? Or do you think we need to fix before releasing ?

[2019-02-01 10:43] luisramos0 opened #3428 "[Spree Upgrade] Fix consumer/shopping/variant_overrides_spec (2 broken specs)"
I cant remember when was this introduced, I believe it was when headless chrome was merge to 2-0.

We have two broken specs:
- spec/features/consumer/shopping/variant_overrides_spec.rb:47 # shopping with variant overrides defined viewing products looks up stock from the override
- rspec ./spec/features/consumer/shopping/variant_overrides_spec.rb:152 # shopping with variant overrides defined creati

[2019-02-01 10:46] luisramos0 commented on #3428
This is how test line 47 looks like in 2-0:
![screenshot 2019-02-01 at 10 25 57](https://user-images.githubusercontent.com/1640378/52118549-7cff1400-260e-11e9-8882-94d16e10bc2e.png)

this is how it looks in v1:
![screenshot 2019-02-01 at 10 45 43](https://user-images.githubusercontent.com/1640378/52118571-8f794d80-260e-11e9-8cc4-cfda0775960e.png)

Looks like the VO out of stock are not supposed to

[2019-02-01 12:04] Jefferson-Faseler commented on #2873
Yeah, that is probably the best solution. Sorry, I had forgotten you proposed that!

[2019-02-01 17:22] myriamboure commented on #2838
I guess we should ask the local instance most active people, like Odi, and maybe @kirstenalarsen already had some discussion with Janina, etc. about it ?

[2019-02-01 17:43] myriamboure commented on #1494
Interesting. I had some sames thoughs when working on pricing tables. Let me share some insights that can help in that discussion.

**Customer groups**
I realized when we started to talk about "customer categories", that tags was a way to organize customer categories and give different "options" to those categories : different shipping methods, payment methods, OC, and next, "offers/prices". the "

[2019-02-02 09:50] #3020 closed

[2019-02-02 09:54] #3379 closed

[2019-02-03 19:32] #3059 closed

[2019-02-03 19:32] #3327 closed

[2019-02-04 10:12] sigmundpetersen commented on #1124
ping @kirstenalarsen 😄

[2019-02-05 00:11] kirstenalarsen opened #3437 "Add Supplier name into default invoice template"
## What is the problem we are solving
Today there is no easy way to print individual packing sheets. Bulk Invoice Printing has made it much easier to generate and print all the Customer orders in one go, however they still can't be used as packing sheets because "the OFN current invoice does NOT have the supplier’s name on it. In order for Mary or Shannon to pack orders, they MUST know whose produ

[2019-02-05 02:05] mkllnk opened #3438 "Product Import code is tightly coupled to Spree models"
## Description

Product import assumes that columns in the spreadsheet correlate to attributes on products, variants or inventory items. This is not the case in Spree 2. For example, products and variants don't have `on_hand` or `on_demand`. One line in the spreadsheet affects more than one object in our data model. We end up with code like this:

[code]

[code]

Product import uses a class `Entry

[2019-02-05 02:10] mkllnk commented on #2783
@luisramos0

I totally agree. This is where I miss Java, too. In Ruby we don't have typed variables and therefore no support of interfaces. We only have unit tests to verify it something adheres to an interface.

I also share your opinion about the priority since I found a quick hacky solution in #3425. I created a new tech-debt issue: #3438.

[2019-02-05 02:47] mkllnk commented on #3423
Yes, it's unlikely, unless people double-click on the button and upload twice. Anyway, Matt has a pull request already. It's a simple solution. :-D

[2019-02-05 02:49] mkllnk commented on #2873
Thank you for looking into all the other options though. That was exactly what I was hoping for, proper research for a better option before implementing the the second best. :+1: :medal_sports:

[2019-02-05 02:55] mkllnk commented on #1494
I would imagine a day of dev work to create a pull request. It may take a few more hours to reply to pull requests etc. I would be more comfortable saying it's 1-3 days, because it's a database change, logic change and UX change, affecting several parts of the system.

[2019-02-05 05:21] #3248 closed

[2019-02-05 11:48] luisramos0 opened #3440 "Improve Variants autocomplete solution"
## Description
As part of the upgrade to v2 we put in a quick adaptation to the new spree v2 code and kept using Spree::Admin::VariantsController to search for variants to be added to an order, see #3194.

This issue represents the task to move the variants look up to the respective api endpoint Spree::Api::Variants.
This will enable us to delete the search.rabl template and also to clear up the c

[2019-02-05 23:14] mkllnk commented on #2006
Without further study of our nokogiri use and how the vulnerabilities can be exploited it's difficult to tell. If this vulnerability means that anyone in the world can hack our servers over the network, that's a very critical bug. If it's actually not exploitable, but slows down our development, then it's only tech debt.

Since we can't do anything about it at the moment, it doesn't really matter.

[2019-02-06 02:12] daniellemoorhead commented on #1494
I agree with @myriamboure, let's do the fix as it's a 1-3 day piece and should be resolved as soon as possible.

@mkllnk perhaps you can pick it up and run with it, given your understanding?

[2019-02-06 03:04] daniellemoorhead opened #3442 "Hub's suppliers can prepare individual orders for the hub's customers"
Prioritised by the global community in Jan 2019.
More detail here: https://community.openfoodnetwork.org/t/hubs-suppliers-can-prepare-the-invidual-orders-for-the-hubs-customers/1151/21

[2019-02-06 03:06] daniellemoorhead opened #3443 "Enable customers to pay (partially or fully) with their credits"
Prioritised by the global community in Jan 2019.
More detail here: https://community.openfoodnetwork.org/t/enable-customers-to-pay-partially-or-fully-with-their-credits/1211

[2019-02-06 04:53] daniellemoorhead commented on #3362
How are you doing @Chrisyee22, need any help getting a PR ready for code review? 😄

[2019-02-06 04:56] daniellemoorhead commented on #1124
Am going to close this on behalf of @kirstenalarsen as it's super old and not a priority any longer and isn't relevant to the platform.

[2019-02-06 04:56] #1124 closed

[2019-02-06 11:03] luisramos0 commented on #2247
keeping this as tech debt only.

[2019-02-06 17:26] Chrisyee22 commented on #3362
Hi @daniellemoorhead, I'm just getting over a massive flu but will be finishing up my PR either this evening or tomorrow morning. 😄

[2019-02-06 18:45] Jefferson-Faseler commented on #2873
Started prepping to write feature specs against this and found #3174

Is this the same issue? If so, I will find something else to do?

[2019-02-06 18:56] RachL commented on #2873
Hi @Jefferson-Faseler good call. I wasn't able to reproduce the error. But I will let @mkllnk answer as he opened this issue. PR #3174 started to fix a similar problem noticed from the user account and not from checkout. But it seems to me that the solution has fixed it at both places. But let's see if Maikel confirms this.

[2019-02-06 19:08] berteh opened #3446 "orders_and_distributors report is missing shipment method"
## Description
The orders_and_distributors report contains the details of the order, but not the related selected shipment method. When the distributor has multiple "pick-up"-type shipment methods, this missing information is crucial in managing the orders using this report.

## Expected Behavior
see shipment method in report table (and csv export)

## Actual Behavior
shipment method is missing

#

[2019-02-06 19:11] Jefferson-Faseler commented on #2873
@RachL Thanks for getting back to me. Would have been a headscratcher if I had synced locally with upstream and then tried to de-bug! Do you think we should still add feature specs then? Or even implement @mkllnk 's idea so it doesn't pop up again/keep happening in a fringe place of the app we haven't noticed yet? I'm new to the codebase and your processes still.

[2019-02-06 19:40] kristinalim opened #3447 "[Subscriptions] Color of "No Upcoming Order Cycle" warning should be red"
The color of the "No Upcoming Order Cycle" warning when adding a variant without open or upcoming OC to a subscription should be red.

## Description

This is a warning that should be more obvious to the user.

@RachL discovered this when testing #2733.

This used to work, so I suspect (not sure) that this is the offending commit, but I don't know why yet: https://github.com/openfoodfoundation/ope

[2019-02-06 19:40] kristinalim opened #8911 "[Subscriptions] Color of "No Upcoming Order Cycle" warning should be red"
The color of the "No Upcoming Order Cycle" warning when adding a variant without open or upcoming OC to a subscription should be red.

## Description

This is a warning that should be more obvious to the user.

@RachL discovered this when testing openfoodfoundation/openfoodnetwork#2733.

This used to work, so I suspect (not sure) that this is the offending commit, but I don't know why yet: https:/

[2019-02-06 20:22] #3348 closed

[2019-02-06 20:24] #2243 closed

[2019-02-06 20:27] kristinalim opened #3448 "[Product import] Support Byte Order Mark (BOM) character inserted by Excel"
Support Byte Order Mark (BOM) character inserted by Excel.

## Description

Saving the CSV file with Excel sometimes insert the Byte Order Mark (BOM) UTF-8 character. Files with BOM do not seem to be parsed properly.

@RachL encountered the problem [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/3233#issuecomment-461056579). I imagine other users would encounter the same issue.

[2019-02-06 23:49] mkllnk opened #3450 "Chrome and chromedriver version compatibility"
## Description

We use headless Chrome and chromedriver to run our automated tests. The versions of the two need to be compatible. If you install both through your system's package manager they should be good. Semaphore provides compatible versions as well.

While most developers have Chrome installed, many new developers don't have chromedriver installed and need to do that extra step to set up.

[2019-02-07 02:13] Matt-Yorkley commented on #3414
I think this is related to #3448

[2019-02-07 02:17] mkllnk commented on #3450
I opened https://github.com/flavorjones/chromedriver-helper/issues/77 for the option to use the system's chromedriver if available. That would solve our problem, but I don't know how difficult it would be to implement. Maybe we can contribute some code to chromedriver-helper. That would be my preferred solution. The operating system's package manager does the version management.

[2019-02-07 04:32] mkllnk commented on #2873
Excellent @Jefferson-Faseler, this is the same issue. Sorry for not realising that earlier. PR #3174 is one solution to the problem, but not ideal. It's probably better than my idea to use rack-rewrite.

I still think that a feature spec would be helpful. Otherwise this may break again. It also enables us to test for a better solution. For example, when we upgrade to Rails 4, we can revert #3174 a

[2019-02-07 04:36] haseleyi commented on #2944
I'm going to focus on the API documentation issue and leave this for someone else looking for a good first issue!

[2019-02-07 09:04] berteh opened #3452 "[i18n] missing translations orders, bulk orders and subscriptions"
Some translations missing in current BE instance (and thus some others too I guess?)

orders:
![dashboard-orders-missing-translations](https://user-images.githubusercontent.com/36950/52400473-84676700-2abf-11e9-980d-7f79f3c8d411.png)

bulk orders:
![dashboard-bulkorders-missing-translations](https://user-images.githubusercontent.com/36950/52400504-9c3eeb00-2abf-11e9-94fb-485a2a2a3b75.png)

create

[2019-02-07 09:41] berteh opened #3453 "Add deployed version link to github issue template"
OFN version is asked in bug report (github template), but this info is not available to non admins, and will likely never be per https://community.openfoodnetwork.org/t/display-software-version/1170/7

## Possible Fix

Please add the following url to the GitHub issue report template in section "environment", to enable the user to find his/her version number:
https://github.com/openfoodfoundation/o

[2019-02-07 09:47] luisramos0 commented on #3450
Yeah, that issue you opened on chromedriver-helper is a good solution.
The other solution is to install a specific version in semaphore (did you do that? what version is it there now?) and lock chromedriver version to that semaphore version like this (2.44 is for chrome 69):

[code]

link to find the appropriate version:
http://chromedriver.chromium.org/downloads

[2019-02-07 09:51] berteh commented on #3452
OFN version was 1.25.0 according to

[2019-02-07 09:56] luisramos0 commented on #3452
I think these are all translatable already, it will just be a problem with fr_BE language on transifex.
you can verify that by looking at FR_fr in openfoodfrance:
![screenshot 2019-02-07 at 09 53 30](https://user-images.githubusercontent.com/1640378/52403316-59c8de80-2abe-11e9-9991-489c57b26e93.png)

So, this is not a GH issue, it's a translations issue.
I added you to #translations on slack

[2019-02-07 09:56] berteh commented on #3452
ok; thanks.

[2019-02-07 10:01] luisramos0 commented on #3452
actually there are a few bits in subs to be fixed, they are in this issue:
https://github.com/openfoodfoundation/openfoodnetwork/issues/2874

I didnt find an issue to fix the dollar sign though! it's also showing up in openfoodfrance. @myriamboure is the subscriptions product lead.

[2019-02-07 10:06] sigmundpetersen commented on #3452
I think fixing the currency symbol is actually in Code Review in #3451 🎉

[2019-02-07 10:12] luisramos0 commented on #3452
yes, thats it!

[2019-02-07 11:28] #2962 closed

[2019-02-07 11:28] #3417 closed

[2019-02-07 12:13] luisramos0 commented on #3358
@kristinalim after merging #3416 the master build failed on this spec, do you know why?
I'll re-open this issue.

[2019-02-07 12:20] sauloperez commented on #3450
This seems like the best solution now for me. Like any other app dependency, it's specified in the Gemfile.

[2019-02-07 12:33] luisramos0 commented on #3450
yes, I agree @sauloperez
but I dont see a way to do this in the gemfile file, only in the spec_helper file according to [this](https://github.com/flavorjones/chromedriver-helper#specifying-a-version)

[2019-02-07 12:38] luisramos0 opened #3455 "[Flaky Spec] spec/features/admin/bulk_product_update_spec.rb:756"
## Description

This spec is unreliable:
spec/features/admin/bulk_product_update_spec.rb:756

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/464

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add :+1:

Error:

[code]

[2019-02-07 12:42] sigmundpetersen commented on #3455
Let's move it straight to Dev Ready to get our builds consistently green

[2019-02-07 13:34] luisramos0 commented on #2839
Is this tech debt? needs the label if it is.
or we can move it to "all the things" column

[2019-02-07 13:35] sigmundpetersen commented on #2944
A lot of good inception work is done on this issue so it will be a flying start for the next one to pick it up. Thank you @haseleyi !

I moved it back to Dev Ready but maybe it should even go further back to Bug backlog, what do you reckon @luisramos0 @daniellemoorhead ?

[2019-02-07 13:37] sigmundpetersen commented on #2839
This is more a configuration task in back office. I would move it

[2019-02-07 13:49] luisramos0 commented on #2944
yes, I moved it to bug backlog into a position below the top s3s and translation s4s.

[2019-02-07 15:38] sauloperez commented on #1494
I went through the comments and I'm giving it a try so that we work on it before you are available @mkllnk.

[2019-02-07 18:09] Matt-Yorkley commented on #3450
The recommended method is to set it in configs, so spec_helper should be fine. Sticking with version 2.44 of the driver will be compatible with Chrome 69 to 71, I think that's fine given how Semaphore doesn't update its apps very often.

[2019-02-07 19:17] #3409 closed

[2019-02-07 21:36] mkllnk commented on #3450
If we lock the chromedriver version, it should work with Semaphore for a while. But it may randomly break the setup of devs when a new Chrome version is released. Chrome is updated regularly on most machines.

If we do it through a config file or environment variable, we can install the latest on dev machines and a specific version on Semaphore. Or can we even deactivate it via a config file?

[2019-02-07 21:38] mkllnk commented on #3450
I just installed the latest Chrome on Semaphore because that didn't require a code change.

[2019-02-07 22:15] #2782 closed

[2019-02-07 23:45] mkllnk commented on #3450
That's a good idea. We could also introduce a variable like `CHROMEDRIVER_VERSION`. So if Semaphore updated their Chrome, we can just change the Semaphore configuration and don't need to touch the code. It also means that I can use it locally for my Debian stable Chromium which is a bit outdated.

[2019-02-07 23:49] luisramos0 commented on #3393
actually, the PR could have been staged.
the solution has been and still is in staging FR to be validated and I can now stage 2-0-stable branch so we can validate the problem is fixed in 2-0-stable (not the PR branch).
we can close the issue when @sstead or another tester validates it's fixed.

@sigmundpetersen basically we are in the transition phase where v2 PRs will start following normal PR wo

[2019-02-07 23:51] #3123 closed

[2019-02-08 00:09] mkllnk opened #3461 "Sharing Javascript code between frontend and admin interface"
## Description

We have no way of sharing Javascript code between the admin panel and the frontend called Darkswarm. When we needed the same code in the admin panel, we copied it there. For example:
https://github.com/openfoodfoundation/openfoodnetwork/pull/3451

Now we have some code duplication which is difficult to maintain.

## Expected Behavior

No duplicated code, but shared code.

## Actual

[2019-02-08 00:13] daniellemoorhead commented on #2839
@kirstenalarsen can you review what @mkllnk says above in terms of how to configure this - it doesn't require any dev work by the sounds of it so this issue can be closed.

[2019-02-08 00:14] daniellemoorhead commented on #2839
Have moved out of tech debt to all the things as it's doesn't fit into any of the pipe columns.

[2019-02-08 00:49] Matt-Yorkley commented on #3450
It would be nice if the gem could just pick a valid version. Maybe they'll add that feature.

I've upgraded to `Sid` despite Debian's advice, so my Chromium is _shiny_ :sunglasses:
https://wiki.debian.org/DontBreakDebian#Don.27t_suffer_from_Shiny_New_Stuff_Syndrome

[2019-02-08 01:06] luisramos0 commented on #3450
ah. nice link.
i have learned something today! the good old RTFM has a nice version that i didnt know Read The Fantastic Manuals!

[2019-02-08 05:23] kirstenalarsen commented on #2944
seems like this maybe got way way out of scope of the original bug that was to be fixed? Should the whole child discussion be moved to a discourse feature request?

[2019-02-08 12:36] sigmundpetersen commented on #3452
Actually @luisramos0 there are missing translations on the order page also on Norway 1.25.0. I guess in France they have found the missing translations manually and added to fr.yml.

So let's keep this open.

[2019-02-08 12:46] luisramos0 commented on #3452
please give specific examples @sigmundpetersen otherwise there's no way to fix it :-)
screenshot?

[2019-02-08 12:56] sigmundpetersen commented on #3452
![orders](https://user-images.githubusercontent.com/1451633/52479536-3f1f6400-2ba9-11e9-9eb0-ea3d82031e67.png)

[2019-02-08 16:03] luisramos0 commented on #3452
ah, nice one @sigmundpetersen
I am not sure exactly how spree translations are picked up but these entries are spree default translations. That's why FR and ES get these and nb and FRbe dont. These entries are not in en.yml and they don't get to transifex but the translations are included in some way through spree.

in spree v2, I believe this will not happen and as part of the upgrade we are movi

[2019-02-09 02:33] kirstenalarsen opened #3465 "[Enterprise Fee Summary] Add 'Fee Owner' filter"
## Description

- As an **enterprise**
- **on page**: enterprise fee summary report - https://staging.openfoodnetwork.org.au/admin/reports/enterprise_fee_summary
- I want to be able to: filter by the 'fee owner' so that I see the total amount that has been collected / allocated to a specific fee owner

Currently it is a little bit confusing because as a tester I assumed that the Producer and Hub f

[2019-02-09 02:42] kirstenalarsen opened #3466 "Don't show 0 fee rows in Enterprise Fee Summary Report"
**## Description**

**- As an enterprise user
**- On page: Enterprise Fee Summary Report https://staging.openfoodnetwork.org.au/admin/reports/enterprise_fee_summary
**- I want to be able to:
See results without 'noise'

At the moment there are quite a few rows that effectively contain no information e.g. they are zero. I am noticing this particularly in relation to when there are no fees attached

[2019-02-09 08:28] sauloperez commented on #3450
So if I followed your dicussion correctly, sounds like reading a new `CHROMEDRIVER_VERSION` env var with a default value valid for most dev boxes gives us the chance to also configure its value from Semaphore's interface.

What I like about it is that it decouples us from the particular env where it runs. The env var doesn't know about semaphore.

Is that it? Of course, we should give a short summ

[2019-02-09 19:30] sigmundpetersen opened #3468 "[Flaky Spec] ./spec/features/admin/shipping_methods_spec.rb:79"
## Description

This spec is unreliable:
./spec/features/admin/shipping_methods_spec.rb:79

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3467/builds/1

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add 👍

Error:
[code]

[2019-02-10 19:33] berteh commented on #959
as discussed with Kirsten and Theresa I think the existing "price sack" commission mechanism already provides a viable solution to this need: https://community.openfoodnetwork.org/t/shops-can-require-a-minimum-spend-before-customers-can-checkout/1350/5

[2019-02-11 04:02] kevinchristianson commented on #3001
@luisramos0 in understanding how routing works in OFN and rails we're wondering why there's such a big discrepancy between the number of [API-related results](https://github.com/openfoodfoundation/openfoodnetwork/files/2814133/api_routes.txt) that show up from the ```rake routes``` command and the number of api-related routes specified in the routes.rb files you linked above.

[2019-02-11 08:07] Chrisyee22 commented on #3362
Just getting to this now. Sorry again for the delay

[2019-02-11 10:53] luisramos0 commented on #3001
Thanks for asking, I created a wiki page to clarify routes:
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Tech-Doc:-App-Routes

I think the answer to your question is point 2.2 here: https://guides.rubyonrails.org/v3.2.8/routing.html

[2019-02-11 11:55] myriamboure commented on #2925
We tested again and it seems that the problem is not here anymore. So closing the issue, we will reopen if necessary.

[2019-02-11 14:41] #2925 closed

[2019-02-11 14:42] #2396 closed

[2019-02-11 14:58] #3455 closed

[2019-02-11 15:10] #3116 closed

[2019-02-11 15:10] #3160 closed

[2019-02-11 17:09] pacodelaluna commented on #2202
I am working on this ticket. I can see 2 options:
1. To update the current lib and to use selects for time selection (instead of sliders which are broken due to Jquery UI issue)
2. To integrate a new datetimepicker lib such as [https://flatpickr.js.org/](https://flatpickr.js.org/)

First one can be done in minutes, second one in hours.

[2019-02-11 17:19] sauloperez commented on #2202
I'd go with 1 for now. There might be dragons in there so I'd be conservative.

[2019-02-11 17:19] pacodelaluna commented on #2202
About this first option, the date time picker will look like this then:
![screen shot 2019-02-11 at 18 18 44](https://user-images.githubusercontent.com/27745/52580903-a0ee0100-2e29-11e9-927c-ddd27fd7348e.png)

[2019-02-11 17:20] sauloperez commented on #2202
Looks way better!

[2019-02-11 19:22] sigmundpetersen opened #3473 "[Flaky Spec] ./spec/features/admin/shipping_methods_spec.rb:82"
## Description

This spec is unreliable:
./spec/features/admin/shipping_methods_spec.rb:82

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/473

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add 👍

Error:
[code]

[2019-02-12 02:18] mkllnk commented on #3452
You are right, there are translations coming from Spree. But not all Spree text is translated. We can copy them into our English source file to make them available for translation in Transifex. We can't rely on Spree's translations.

[2019-02-12 02:37] mkllnk commented on #3450
Yes, that's it. I would call it `OFN_CHROMEDRIVER_VERSION` because it's our custom code using that variable. There may be other projects with other versions. Or someone could think it's the system's version even though it isn't.

[2019-02-12 07:03] daniellemoorhead commented on #3362
I hope you're feeling better now @Chrisyee22 and no worries about taking time. Life has a way of throwing roadblocks across our plans - happens to all of us all the time!

[2019-02-12 07:24] sauloperez commented on #2006
Yes, that's the high price of not keeping dependencies up to date

[2019-02-12 07:29] sauloperez commented on #1394
Independent from subs, providing the link to the guide would definitely help newcomers get used to the product and let others learn about new features. Although using "help" might be a bit easier to understand?

[2019-02-12 07:44] sauloperez commented on #2783
I had that same concern when I first looked at PI's code being familiar with v2 data model. I do agree that if we can fix PI in v2 with too much hassle we can focus on other more core things.

However, I'm of the opinion that when implementing new requirements to any existing code devs should take a first refactoring step to adapt the existing design to fit the new needs. This makes refactorings w

[2019-02-12 07:56] RachL commented on #1394
@myriamboure As much as I would like to have a clear access to the user guide, I don't think this is something we can squeeze in the Subs v1 scope. This to me is another issue, even something we need to put to discourse first? What do you think @daniellemoorhead ?

Here we need:
1. To agree where we put the link
2. Make sure we remove the other buttons
3. Make sure the work Hugo did so that each i

[2019-02-12 08:10] sigmundpetersen commented on #1394
Re. tooltips I quite like the small question mark icon:
![help](https://user-images.githubusercontent.com/1451633/52620866-11d2fe80-2ea6-11e9-827b-50190e1cbef6.png)

[2019-02-12 09:24] sauloperez opened #3475 "[Spree Upgrade] Move top-level conditional out of partial"
## Description
[app/views/spree/admin/orders/_form/_adjustments.html.haml](https://github.com/luisramos0/openfoodnetwork/blob/3ed6aea9abed3de941c3b93823929e0a128f2b59/app/views/spree/admin/orders/_form/_adjustments.html.haml) was introduced in #3445 but with a top-level conditional that makes it behave like a no-op partial when there is no adjustment.

You can see the discussion in https://github.

[2019-02-12 09:31] sauloperez opened #3476 "[Spree Upgrade] Pass only adjustments the _adjustments cares about"
## Description

[app/views/spree/admin/orders/_form/_adjustments.html.haml](https://github.com/luisramos0/openfoodnetwork/blob/3ed6aea9abed3de941c3b93823929e0a128f2b59/app/views/spree/admin/orders/_form/_adjustments.html.haml) is way too coupled to the adjustments model instead of just displaying the passed in adjustments, it does filter some out, coupling a lot the partial to the details of this

[2019-02-12 09:51] luisramos0 commented on #2783
Agree @sauloperez we could have done the refactor and this refactor move is very important as it will clarify PI a lot. I am just not sure about the size. I think it's a M and that's why I think we should skip it for now.

In the last 6 months for the spree upgrade, I think I have 20 examples (PRs) where I could have done a lot more refactoring. Choosing the refactoring path means delaying deliver

[2019-02-12 09:57] #3109 closed

[2019-02-12 09:58] #3107 closed

[2019-02-12 09:59] #2416 closed

[2019-02-12 09:59] #3103 closed

[2019-02-12 10:05] sauloperez commented on #2783
Yes, I also agree. It's been reeeeeaaaally hard for me to be pragmatic and refrain myself from refactoring and cleaning things up within the upgrade. I'm sure you've noticed :trollface:

[2019-02-12 10:05] #2940 closed

[2019-02-12 10:19] luisramos0 commented on #3476
awesome, I think the solution here is just to remove these conditionals, these views should just show what the model returns...

[2019-02-12 10:21] luisramos0 commented on #3476
I think we should display all kinds of adjustments here, if there is some duplication in the models (I think there is) we should remove it.

[2019-02-12 10:28] luisramos0 commented on #2783
yes, it's very hard but the bright side is that we do see how to improve it and we are slowly improving the code base.

[2019-02-12 11:31] sauloperez commented on #3391
I'd like to take a look at it but I first want to get the green build

[2019-02-12 11:34] sauloperez commented on #1394
Agree with @RachL on decoupling these two things.

@sigmundpetersen I do too. It's rather common so I expect users to be familiar with it.

[2019-02-12 11:35] luisramos0 opened #3477 "[Spree Upgrade] Adjustments with amount zero are being displayed in the orders edit page"
## Description
Order edit page is showing adjustments that have amount zero. These adjustments should be removed by using the scope adjustment.eligible. See [this review comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/3445#discussion_r255901384).

Additionally, the id order-charges is being used several times making the html invalid. See [this comment](https://github.com/openfo

[2019-02-12 11:38] sauloperez commented on #3193
Have you checked it is available in our arcane AngularJS version? In the Gemfile you can see we use 1.5.5. I bet that must be the problem @laka3000

[2019-02-12 11:53] kristinalim opened #3478 "[Enterprise Fee Summary] Adjustments need to be scoped to "eligible: true""
Adjustments need to be scoped to `eligible: true`.

## Description

This issue also causes #3466.

It seems that adjustments can exist even when the adjustment amount is 0, for promotions associated with an order even when they are not the final one applied, and for computed payment transaction fees even if the payment failed or was invalid.

The `eligible` attribute of the adjustment tells whethe

[2019-02-12 12:19] #2685 closed

[2019-02-12 12:58] #2616 closed

[2019-02-12 13:17] daniellemoorhead commented on #1394
I agree, not necessarily part of subs. But it would make what we have great...so let's not lose this when it's taken out of the subs epic.

[2019-02-12 15:41] #3290 closed

[2019-02-12 15:49] sigmundpetersen commented on #3453
@daniellemoorhead anything you could do?

[2019-02-12 18:01] Chrisyee22 commented on #3362
Hi @daniellemoorhead, I'm running into some issues as I can't seem to navigate to the producers view. I can view everything as a customer as well as log in as an admin but I am unable to to replicate this error as I am not able to view the producers inventory page. Some navigational help would be greatly appreciated. 😃

[2019-02-12 19:06] RachL commented on #3362
@Chrisyee22 to create a producer account you can transform your customer account into a producer account by navigating through the /register page.
After that, products are under /admin/products  and inventory under /admin/inventory
Let me know if this is helpful.

[2019-02-12 23:52] daniellemoorhead commented on #3453
It's done already, OFN version is one of the things in the versions section of the template. closing.

[2019-02-12 23:52] #3453 closed

[2019-02-12 23:55] Chrisyee22 commented on #3362
@RachL that did help. I was able to recreate the issue.

[2019-02-13 06:00] mkllnk opened #3480 "RuntimeError in app/services/bulk_invoice_service.rb:14"
## Error in OpenFoodNetwork

**RuntimeError** in **app/services/bulk_invoice_service.rb:14**
Bad wkhtmltopdf's path: `/` is not writable.
Bundler will use `/tmp/bundler/home/unknown' as your home directory temporarily.
/home/openfoodnetwork/.gem/ruby/2.1.0/bin/wkhtmltopdf

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5c63adb2f2d01c001a8f47a9?event_id=5c63b1b00035a1d9d61

[2019-02-13 09:11] luisramos0 opened #3483 "[Spree Upgrade] Fix spec/features/admin/reports/enterprise_fee_summaries_spec (1 broken spec)"
## Description
spec/features/admin/reports/enterprise_fee_summaries_spec.rb has one broken spec probably related to user privileges. This spec has been moved to xdescribe as part of #3479, it needs to be fixed and moved back to describe.

The authorization problem is now resolved in #3316 but there are other problems in the spec.
The first one is that headless chrome does not support page.response

[2019-02-13 11:37] #3422 closed

[2019-02-13 12:24] sauloperez opened #3485 "[Spree Upgrade] Fix spec/features/admin/orders_spec.rb (1 broken spec)"
## Description

`spec/features/admin/orders_spec.rb:185` is still failing in 2-0-stable's build.

This is the error:

[code]

[2019-02-13 12:36] #3121 closed

[2019-02-13 13:00] sigmundpetersen commented on #3485
Does not fail in #3299 though https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3299/builds/4

[2019-02-13 13:04] luisramos0 commented on #3121
I just confirmed that "Main config menu is showing up on the right side" is fixed! :+1:

[2019-02-13 13:08] luisramos0 commented on #3485
this is the same as #3113 after fixing the translation problem here: https://github.com/openfoodfoundation/openfoodnetwork/issues/3113#issuecomment-451743948

[2019-02-13 13:11] luisramos0 commented on #3113
when this issue is closed, we can close #3110 and #3124
and if the build is green, we can also close #2927

[2019-02-13 13:21] luisramos0 opened #3486 "[Spree Upgrade] Fix user_confirmations_controller_spec"
## Description
user_confirmations_controller_spec is consistently breaking in the v2 build.

[code]

This was apparently introduced by #3441 but reverting 3441 locally and rerunning the spec shows that 3441 is not the cause.
This code was introduced in [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/2725/files), the v2 mail method config was done [here](https://github.com/openfoo

[2019-02-13 15:32] luisramos0 opened #3487 "[Spree Upgrade] Fix subscription_confirm_job_spec (1 broken spec)"
Broken spec, can be seen in this build:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3317/builds/4

[code]

[2019-02-13 15:44] luisramos0 commented on #3392
can we validate in staging FR that this is not happening with disabled cache and close it?
we have #3391 to represent the product cache issue.

[2019-02-13 16:38] sauloperez commented on #3485
After some investigation the problem seems to be that OFN's OrderUpdater is not always being picked up so we're using Spree's `#updater_payment_state` instead of OFN's. It seems that the calls to `#ensure_correct_adjustment_with_included_tax` that are triggered from https://github.com/openfoodfoundation/openfoodnetwork/blob/2-0-stable/spec/features/admin/orders_spec.rb#L22 go through `Spree::Order

[2019-02-13 16:50] sauloperez commented on #3485
I might not be related to that block only. The common pattern I see is that the calls that end up in `Spree::OrderUpdater#update_payment_state` are either originated from `app/models/spree/payment_decorator.rb`'s `#ensure_correct_adjustment` or `app/models/spree/shipment_decorator.rb`'s `#ensure_correct_adjustment_with_included_tax`, so it really smells like an load order issue.

[2019-02-13 18:15] kristinalim commented on #3193
I updated the issue description. The `&amp;` typed was being rendered just as `&`, which is related to the issue reported.

[2019-02-13 19:40] #3427 closed

[2019-02-13 20:44] kristinalim opened #3488 "[Enterprise Fee Summary] Possible loss of exchange data if variant for line item calculator deleted"
## Description

Needs further investigation. Issue details to follow.

I found out that a variant's association with an OC, even a closed OC, is removed when the variant or product is deleted.

TODO

## Expected Behavior

TODO

## Actual Behaviour

TODO

## Steps to Reproduce

TODO

## Animated Gif/Screenshot

TODO

## Context

Came across code implying this while doing code review.

## Severity

[2019-02-13 20:56] sigmundpetersen commented on #3488
s2 or s3? :)

[2019-02-13 20:58] kristinalim commented on #3488
@sigmundpetersen I'm not sure yet. I'm currently investigating and will write more in the issue description, then will raise in the Slack channel.

[2019-02-13 23:03] sigmundpetersen commented on #2881
This doesn't work in master either, should we detach from Spree Upgrade @luisramos0 ?

Hint: I did see the banner when leaving the page, going to whatever other menu in backoffice

[2019-02-13 23:08] luisramos0 commented on #2881
nice catch @sigmundpetersen ! yes, let's make it a normal s4 bug.

[2019-02-14 04:44] sstead opened #3490 "When crediting an order the transaction fee is applied when it shouldn't"
## Expected Behavior
I have an order which was paid in full with Stripe. Then I removed an item from the order, putting the order in Credit. I tried to refund this credit using the Credit button. I found that when the credit was applied, the transaction fee that the shop has on Stripe payments was applied to the credit.

I would not expect a payment method transaction fee to be applied to a credit

[2019-02-14 06:44] mkllnk opened #3491 "Investigate removal of spinjs-rails gem"
### What we should change and why (this is tech debt)

Our Gemfile contains spinjs-rails and we include the code in our front-end theme called Darkswarm. But we think that it's unused. This task includes:

- Find pages with the current spinner and verify they are working.
- Remove the gem from the Gemfile and `app/assets/javascripts/darkswarm/all.js.coffee`.
- Verify that the spinner is still work

[2019-02-14 08:26] sauloperez commented on #3491
Thanks @mkllnk!

[2019-02-14 09:11] luisramos0 commented on #3485
wow, good work!
you unassigned yourself, do you have plans for this? what shall we do?
shall we merge my original solution (call update_shipping_fees in the factories) so we get a green build and then keep on finding a proper solution for this issue?

[2019-02-14 10:05] #3283 closed

[2019-02-14 11:05] sauloperez commented on #1494
After the insightful input from @mkllnk and @lin-d-hop I better understand now what's the situation. Fundamentally, there are few features tight together in the Customer model. Granting access to a private shop, the list of customers a hub manager wants to keep track of (a CRM-like idea of customer) and tagging: giving access depending on criteria defined by a manager. Is that it @mkllnk ?

Now, h

[2019-02-14 11:24] sauloperez commented on #3485
I think I have other things assigned already that I want to close first while someone else could pick up this one. I'm afraid that fixing factories won't fix the actual problem (if any) in production.

[2019-02-14 11:40] lin-d-hop commented on #1760
![](https://github.trello.services/images/mini-trello-icon.png) [Shopfront Instagram links not working](https://trello.com/c/BOT7KMYE/383-shopfront-instagram-links-not-working)

[2019-02-14 12:03] lbwright22 opened #3492 "Add social media links in footer of all emails to customers and users"
Facebook link at the bottom of the welcome email sent to a new producer/user is broken for OFN UK and there is no link to the Open Food Network UK Instagram account.

## Description

Social media is an effective way of communicating and interacting with new producers and customers.  At the moment when a person signs up to OFN UK they receive a welcome email.  At the bottom of this are links to Fac

[2019-02-14 12:40] luisramos0 commented on #3485
Fixing the factories makes the build green.
There is a problem but it's interesting that we don't know if it really affects some part of the system...

So, short term (I mean today), I'd merge my PR (Maikel had approved it already so if you agree we can do it now) and keep this task open for investigation. Can we do this?
Thanks.

[2019-02-14 13:49] sauloperez commented on #3485
I just want to get it green :trollface: I got lost with the issues. AFAIK this spec is not covered in https://github.com/openfoodfoundation/openfoodnetwork/pull/3299 AFAIK

[2019-02-14 13:51] sauloperez commented on #3490
This one is looking at us @luisramos0 :trollface: I wish we could wait until fixing it in v2 but I'm afraid it'll still take some time...

[2019-02-14 13:52] luisramos0 commented on #3485
ah, I understand now.
this is a duplicate of #3113 the spec is the same, just a different error message: "capture payment from the orders index page"

[2019-02-14 13:53] sauloperez commented on #3485
Ah, that's right I remember noticing the different error. Well, I'm caught digging into #3299 I fixed some but let's see if I survive.

[2019-02-14 14:09] luisramos0 commented on #3490
well, not really, I think we have to ask:
- is this a fundamental feature in ofn and how much is it used today? most probably it's not used and it has been broken for a while
- will this fix in master work in v2 and thus, there will be no rework when merging to v2? I think the answer is no, we would have to fix in master and then think again about it in v2 with all the changes in adjustments/shipm

[2019-02-14 14:55] RachL opened #3493 "French and UK production falling down from time to time"
## Description
Regularly and during few minutes the whole platform is not accessible anymore.

I've experienced it live on Monday evening: I was online adding a link in a footer in super admin configurations, once I've hit "save" the page loaded a long time until the friendly snail came along.
Trying to load the website in a incognito mode had the same result.
After a few minutes, the website was

[2019-02-14 15:34] sauloperez commented on #3490
That's exactly what I meant. We need to know if it can wait for a single v2-fix or not

[2019-02-14 16:03] luisramos0 commented on #2013
I thourouly scanned the code again for product.count_on_hand and only found the reference in bulk_product_update_spec.js.coffee.
I am fixing that reference in PR #3494 so that we can close this issue.

[2019-02-14 16:15] sauloperez opened #3495 "[Spree Upgrade] Extract #tax_adjustment_totals and test it properly"
### What we should change and why (this is tech debt)

The following method is way to big to be in the already bloated order decorator

https://github.com/openfoodfoundation/openfoodnetwork/blob/0a885af7a6165bf19809304fa0232592c646300d/app/models/spree/order_decorator.rb#L294-L303

What's worse is that the lack of encapsulation (and so little maneuverability to improve it) led to dubious and very

[2019-02-14 18:01] RachL commented on #3392
* Open an OC with some products in it => OK
* See the price of the products in the shop => OK
* Change the price of the products => OK
* See - has the price updated? => YES

@luisramos0 is it normal to not have a PR attached?

[2019-02-14 18:30] luisramos0 commented on #2887
we can close this after #2886 and #3498 are closed.

[2019-02-14 18:32] luisramos0 commented on #3473
this is a duplicate of #3468
maybe 3468 is not yet fixed...

[2019-02-14 18:52] luisramos0 commented on #3392
oh my god, it just works! can we deploy live? 🤣

-- is it normal to not have a PR attached?
welcome to ofn v2, it just works 🚀

now, back to reality: staging FR has a hacked version of v2 that includes #3404
I did this so that we dont have to wait for the PR to get approved, tested, merged to master, then merged to v2, to test this. this way we are already sure it was a problem with the cache that

[2019-02-14 18:55] luisramos0 commented on #3393
as per #3400 testing, fixed :tada:

[2019-02-14 18:55] #3393 closed

[2019-02-14 19:08] sauloperez commented on #3383
Is there something I can do to help here @kristinalim? I believe this is the flakiest spec file. Any idea about the root cause?

[2019-02-14 19:10] kristinalim commented on #3383
@sauloperez I suspect there is a race condition somewhere, but I haven't been able to figure this out yet. Do you want to look into this?

[2019-02-14 19:11] sauloperez commented on #3383
Yes, I would like to.

[2019-02-14 19:12] kristinalim commented on #3383
Go ahead, @sauloperez. Thanks!

[2019-02-14 20:17] luisramos0 commented on #2008
Moving this to the main upgrade epic as it is not really related to multi shipments.

[2019-02-14 20:20] luisramos0 commented on #2008
SM - shipping method
I gave this a try in v1 and on checkout:
- if user address is outside the SM's zone and SM is pickup, checkout works
- if user address is outside the SM's zone and SM is delivery, the checkout will only work on the second try (second click on checkout).
In v2, currently without any adaptation, the checkout works for both cases.

[2019-02-14 20:20] #2011 closed

[2019-02-14 21:55] sigmundpetersen commented on #3473
yes it was just a different error message at a different line so I opened a new issue. @kristinalim will know if this is the same issue

[2019-02-14 23:51] daniellemoorhead commented on #3492
@lin-d-hop I think this is something that can be set in the super admin config? Regardless, I think it's something the UK team can fix and doesn't require a code change. Feel free to enlighten me if otherwise. 😄

@lbwright22 according the the severity definitions this isn't a severity 2 bug as it doesn't stop users from completing core tasks. Inability to access facebook from the email is annoying

[2019-02-14 23:57] daniellemoorhead commented on #1494
@kirstenalarsen @lin-d-hop @RachL (on behalf of Myriam) perhaps at this point in time it's good to get the product owners together to determine the best approach for this - over to you all 😄

[2019-02-14 23:57] daniellemoorhead commented on #1494
PS. I've moved this back to the top of the bugs backlog as it isn't dev ready and needs clarification on how it should be moved forward.

[2019-02-15 00:08] mkllnk commented on #1494
Great summary @sauloperez. Solving this bug requires a new feature and probably a UX change to allow and deny customers.

[2019-02-15 00:17] daniellemoorhead commented on #3001
@luisramos0 am assigning you to this one as the OFN core contributor representative (I can't assign Kevin) 🙂

[2019-02-15 00:21] daniellemoorhead commented on #2873
Hey @Jefferson-Faseler, so over to you now to right the feature specs for this. We are most excited at the fact that this will be coming 🎉

Cheers!

[2019-02-15 00:21] daniellemoorhead commented on #2873
Also, the team think you're great, and would love to see you contributing more to the repo 🤗

[2019-02-15 00:27] daniellemoorhead commented on #2979
Hiya @PLSV 👋

Just wondering where you're at with this work, been a couple of weeks since the last activity on the feed so checking if you're still working on it? We try and keep the columns as fresh as possible, so when something's sitting without activity for a while we check in.

How's it going? Need some more help? Need to put it on hold for a bit till you get some more free time? 😄

[2019-02-15 00:29] daniellemoorhead commented on #1156
Hey @YanhanLyu 👋

It's been almost a month since any activity on this issue, so I'm going to move it back into the `Bug backlog` column. Feel free to move it back to `In Dev` if you start working on it again.

Cheers 😄

[2019-02-15 00:43] mkllnk commented on #3493
I would argue that this issue can break any critical feature like login and checkout. While the server is busy with two requests, nobody can do anything on the site. The way forward is:

- identify the critical requests that take too long
- estimate a proper solution to solve this delay
- review and prioritise each task on the found performance issues

We may find that some parts are bug-s2 and ot

[2019-02-15 01:17] mkllnk opened #3501 "Upgrade sass gem"
### What we should change and why (this is tech debt)

Depandabot tried to update our sass gem but the deployment to staging failed. In order to keep our dependencies up-to-date we need to find out why this failed and enable us to upgrade.

### Context

Failed PR: https://github.com/openfoodfoundation/openfoodnetwork/pull/3458

### Impact and timeline

This can be done as soon as possible. But it

[2019-02-15 01:33] mkllnk opened #3502 "Comply to rubocop styles"
### What we should change and why (this is tech debt)

Code Climate seems to be more relaxed than our Rubocop rules and we have several style violations. We need to either fix them or re-generate the rubocop todo list. It's probably the best to do both: fix the recent and obvious violations and defer the ones that are less important.

### Context

Code Climate complained about https://github.com/o

[2019-02-15 03:06] PLSV commented on #2979
Hey @daniellemoorhead: Haven't been working on it for some time. I don't think I can actively work on the issue for the time being. And I am still learning about rails more in-depth, especially through the OFN codebase whenever I have time.

Wish to put it on hold for some time till I'm free, but you can assign this issue to someone else if need be.

[2019-02-15 03:40] daniellemoorhead commented on #2979
No worries at all @PLSV!

There are loads of other issues that are potentially a little easier for someone learning rails, if you're needing some guidance on finding one jump on slack and ask the crowd in the dev channel - someone is sure to have a list of them for you 😄

I'll pop this one back into the bugs backlog 👍

Ping @lin-d-hop and @luisramos0 FYI

[2019-02-15 05:31] #3437 closed

[2019-02-15 07:39] #3426 closed

[2019-02-15 08:07] sauloperez commented on #2008
Any clue why? sounds like a bug

[2019-02-15 08:35] sauloperez commented on #3493
Yes, I think we need to spike this trying to infer the requests from @RachL 's description and correlating them with the shared screenshots although it's possible we won't reach any conclusion. If so, I'd create the necessary issues to add the required monitoring data to investigate this further.

[2019-02-15 10:34] luisramos0 commented on #2008
-- any clue why?
must be because the within_zone method is working, it needs to be verified.

Because we have a single step checkout all SMs are shown and the validation between ship address and SM zone can only be done when the user clicks on the checkout button.
- Ideally, we would have a user message saying "SM is not valid for your address, please update address or change SM".
- And additional

[2019-02-15 13:00] sigmundpetersen commented on #1394
I found that already have an example of the question mark style tooltip in the backoffice 😄
![q](https://user-images.githubusercontent.com/1451633/52858333-1a3b6b80-312a-11e9-8f90-5ca71ac0ab39.png)

[2019-02-15 13:26] RachL commented on #3001
@luisramos0 is there a deadline or a time frame somewhere for this work? Some of our users in France asked us to access this doc and I was wondering first if it was a good idea to give it to them (I've understood that so far the API was designed to be used inside of OFN and not outside) and also if we are looking at something that would be available this trimester or more likely mid-year.

[2019-02-15 13:49] luisramos0 commented on #3001
@daniellemoorhead I am not working on this task, I think we can do the same as in other contributions from the community and leave issues unassigned.
Also, I think it's good timing to get @sauloperez and @mkllnk feedback on the discussion above.

@RachL I don't know! it's very difficult to estimate this last part of the v2 project... api comes after.

[2019-02-15 15:29] Matt-Yorkley commented on #3419
@RachL Can you send me the file on Slack so I can reproduce it? Thanks.

[2019-02-15 16:38] RachL commented on #3419
@Matt-Yorkley done!

[2019-02-16 17:03] lin-d-hop commented on #3492
@lbwright221 when you took a look at this before opening the issue did you try to fix it in the Super-admin -> Configuration -> Content tab first?

If not please have a go at that :-)

[2019-02-16 22:46] #3486 closed

[2019-02-16 22:46] #3113 closed

[2019-02-16 22:48] #3110 closed

[2019-02-16 22:49] #3124 closed

[2019-02-17 12:30] #3492 closed

[2019-02-17 12:44] lbwright22 opened #3509 "Add extra (Instagram) social media links to emails sent to customers and users"
## Description

***Done***
There are only two social media links are in the footer of emails sent to OFN users: these are Facebook and Twitter.  It would be great to have Instagram added to this.

***To Do***
In the footer of order confirmation emails there are no social media links to OFN itself- just contact details of the hub/shop the customer ordered from.  It would be great to have the same '

[2019-02-18 07:33] sauloperez opened #3510 "Orders and fulfillment report doesn't display price currency"
## Description

Orders and fulfillment report doesn't display price currency and that makes it hard to read. It would be much easier to spot the price columns if they had the currency next to them, otherwise, it's not easy to understand what those decimal numbers are about at a first glance.

## Expected Behavior

CURR. COST PER UNIT and TOTAL COST columns should display the price currency

## Act

[2019-02-18 09:12] RachL commented on #3509
Hello @lbwright22 thanks for putting this up! However this is not a bug, this is a new feature. Can you use the feature template rather than the bug template to create the issue?
Besides as it is labeled "good first issue" this can be picked up by anybody, which means also by people who do not know the OFN. So you will need to detail each steps. For example here I would add that the super admin ne

[2019-02-18 09:15] sigmundpetersen commented on #3509
If it's a feature request, shouldn't it rather go to Discourse than here? @RachL

[2019-02-18 09:19] RachL commented on #3509
@sigmundpetersen I've wondered the same. However here it seems to me that this is small enough to be picked up by the community, just like translations. So as long as it is a good first issue, I think we can put it strait up here. But maybe I am wrong on the assessment here. What a dev would say about this issue : @sauloperez @mkllnk ?

[2019-02-18 09:19] sigmundpetersen commented on #3510
Smells more like a feature request than a bug? Other opinions @RachL @lin-d-hop ?

[2019-02-18 09:24] sigmundpetersen commented on #3509
Yes I also agree with you @RachL , but I think this is something missing in our process: "What makes it small enough to go straight to GH, where is the limit" Not easy 🙂
But we should agree on something and write it down somewhere.
I guess something like "It's a small improvement and it's very likely that everybody agrees it should be prioritized", then it goes to GH. Then how and where should we

[2019-02-18 09:25] RachL commented on #3510
@sigmundpetersen yes this to me is a feature request indeed. We are in front of something that was not designed according to a need, not something that is not working properly. I'm afraid we have to close it and move it to discourse where it could be prioritize over (or not) any work on the API enabling us to do all the report we want but with another tool. Except is this can be a good first issue

[2019-02-18 09:29] sauloperez commented on #3510
It feels on the edge to be but yes, I understand. I was trying to cheat as this can be done quite quickly however having to wait for a full-fledged API to see the € there is exactly what I wanted to avoid. By the time we finish that I'm sure I won't care about that report at all. I accept what collectively decide anway :+1:

[2019-02-18 09:30] RachL commented on #3509
Yes indeed. I guess that the limit is very close to the definition of the "good first issue" label. What do you think @daniellemoorhead ?

[2019-02-18 09:32] RachL commented on #3510
I agree @sauloperez but then on Discourse you can vote to prioritize this over the API work. The problem here is that this is not the only thing we would like to change on reports. So if we do this one, we would do others as well... and end up with a very big thing :/

[2019-02-18 12:37] sauloperez commented on #3510
Closing in favor of https://community.openfoodnetwork.org/t/orders-and-fulfillment-reports-display-price-currency/1578

[2019-02-18 12:37] #3510 closed

[2019-02-18 18:48] RachL commented on #3414
@kirstenalarsen @myriamboure as I did not find the exact files, I wasn't able to reproduce so I'm guessing Matt's solution works as well for this problem. This issue will be close when the PR will be merged, but do not hesitate to test again with the exact same file after the release. And re-open if necessary :)

[2019-02-18 21:36] luisramos0 commented on #2927
🎉

[2019-02-18 21:36] #2927 closed

[2019-02-18 22:26] daniellemoorhead commented on #3509
I agree with you both @RachL @sigmundpetersen. This need has come up again and again, each time an example comes up (the last time with @kirstenalarsen and Myriam) and we decide that it isn't required and still should go into the wishlist because something small isn't necessarily small when you start speccing it.

I agree that this is tiny and doesn't deserve a wishlist item...but how do we fit it

[2019-02-18 22:55] #2875 closed

[2019-02-18 23:04] mkllnk commented on #3001
I agree.

Yes, it was designed for inside use. That doesn't mean it can't be used outside but we are not making any promise that it will be stable at the moment. If people want to write prototypes, great, they can use the current API as proof-of-concept and maybe it will work for a long time. If people want to build something stable then they need to wait and we don't have a time frame yet.

[2019-02-19 00:09] mkllnk commented on #3509
Does it fit under quick wins?

[2019-02-19 00:24] #3414 closed

[2019-02-19 00:24] #3448 closed

[2019-02-19 00:26] mkllnk commented on #3392
@luisramos0 Can this issue be closed? It's a bit confusing to have an issue be treated like a PR. ;-)

[2019-02-19 00:30] luisramos0 commented on #3392
yes, let's close this.

[2019-02-19 00:30] #3392 closed

[2019-02-19 08:04] sigmundpetersen commented on #3473
This failed again in master https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/496

[2019-02-19 09:23] RachL commented on #3509
@daniellemoorhead on second thoughts maybe it's easier to make everything go through the wishlist except Translations and bugs? But then product curators / owners need to review them often because I think they won't be voted in the process.
In terms of column, I have the feeling sometimes we put translations in dev ready, sometimes not...My guess is that it is by definition dev ready, so I would p

[2019-02-19 09:44] sigmundpetersen commented on #2838
Can we move this to ofn-install repo?

[2019-02-19 13:21] luisramos0 commented on #3172
Each of the points above will have to be validated:

- [X] 1. app/controllers/spree/admin/line_items_controller_decorator.rb:
This controller has been deleted because it is no longer used. It's replacement Spree::Api::ShipmentsController has been tested and verified already.

- [ ] 2. app/models/order_cycle.rb:
     - only used in items_bought_by_user

- [ ] 3. app/models/spree/line_item_decorator

[2019-02-19 15:55] luisramos0 opened #3515 "Delete Spree::Core::ControllerHelpers::Order.class_eval.current_order_with_scoped_variants"
### What we should change and why (this is tech debt)
In v2, if we remove the following override:
[Spree::Core::ControllerHelpers::Order.class_eval.current_order_with_scoped_variants](https://github.com/openfoodfoundation/openfoodnetwork/blob/f0a6f5ae3ca56f39c5ba96fd63ee95b6af951fad/lib/spree/core/controller_helpers/order_decorator.rb#L4)
the build remains green.
Scoping variants every time we fet

[2019-02-19 18:05] sauloperez commented on #3383
@Matt-Yorkley I think you gave some thought to this as well. Would you mind sharing your ideas? Although it was much more unreliable in v2, I still see these specs failing from time to time.

[2019-02-19 18:07] sauloperez commented on #3099
Moving back to the Dev ready as I'm not working on this one. IMO this deserves to wait for the performance voted candidate to start.

[2019-02-19 19:29] lin-d-hop commented on #1606
#gitcull

[2019-02-19 19:29] #1606 closed

[2019-02-19 22:10] luisramos0 opened #3518 "Convert ScopeProductToHub and product.has_stock_for_distribution? to service class"
### What we should change and why (this is tech debt)
We should get rid of the unnecessary complex solution to fetch products from the DB. We can probably optimize the solution to work faster.

Currently ScopeProductToHub is only used to scope products when rendering them in api/products.
The only method overriden in this "product scoping" is variants_distributed_by. This is only used to scope all

[2019-02-19 22:24] luisramos0 opened #3519 "Convert class ScopeVariantsForSearch to a service class"
### What we should change and why (this is tech debt)
We should convert ScopeVariantsForSearch into a simple service class called something like VariantsSearchService. This class is not "scoping" variants to hubs as ScopeVariantToHub but rather doing a very normal search with filters on variants and, in the process, it also scopes the variants using ScopeVariantsToHub. It just a matter of a bad na

[2019-02-19 23:01] mkllnk opened #3520 "[Spree upgrade][Flaky spec] `spec/features/admin/customers_spec.rb:184`"
### What we should change and why (this is tech debt)

Pull requests for our Spree upgrade branch `2-0-stable` regularly fail `spec/features/admin/customers_spec.rb:184`. The unreliable spec feedback costs time.

### Context

https://github.com/openfoodfoundation/openfoodnetwork/pull/3394
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-3394/builds/6

### Impact a

[2019-02-19 23:05] mkllnk commented on #2838
I don't think it fits in there better than here. I think it should go to a Germany specific board. Do we have that @kirstenalarsen?

[2019-02-20 02:44] daniellemoorhead commented on #3509
We don't have this concept @mkllnk (well, the mobile feature, which was a wishlist item, was supposed to be a quick win but it blew out to be way more....). And I wonder whether annoying bugs can be as much of a quick wins as non-bugs like this?

[2019-02-20 02:46] daniellemoorhead commented on #3509
@RachL I think this is why the process we have isn't yet working effectively. It's so slow and arduous, which isn't helped by comparing big things to small things like this, not to mention the slowness of our pipe 😬

[2019-02-20 03:22] daniellemoorhead commented on #3001
Actually @luisramos0, we leave the issues unassigned, but there is always an owner for a feature that is being delivered which is what I saw this being. There isn't an epic with sub-issues, maybe there should be? And I assume you would be both the product and tech owner for this particular piece of work, thus your assignation.

How shall we move forward with this? Open to suggestions on best appro

[2019-02-20 04:42] mkllnk commented on #3493
Skylight doesn't seem to report any of the requests that take really long. So I looked into the French production log.
[code]

It's not 100% clear in the log file which requests take that long but I can guess. Here are some examples from the log file:
[code]

Testing some of those pages:

[code]

This already indicates that the long response times on the pages that load all enterprises are a probl

[2019-02-20 08:47] #2886 closed

[2019-02-20 09:37] luisramos0 commented on #3001
yes, I understand @daniellemoorhead
I think all we need to do now is to wait for the output of these wonderful community contributors
I have marked it as a spike, ok @daniellemoorhead ?

[2019-02-20 11:15] luisramos0 commented on #3493
yes, that's it. I'd not spend more time on this one. I'd consider this a performance problem that can be addressed in the two issues you mention above.
I am not sure this issue in an s2 and, even if it is, I am not sure we should move the performance optimization issues to s2 as well. Let's discuss this in slack #bugs?

My opinion about the priority: I would move this to s3 and say that this is le

[2019-02-20 12:47] luisramos0 commented on #3172
As part of this review I have also reviewed other VO fields: price, sku, stock reset bulk action in inventory page (resettable and default_stock fields), inventory_items.visible (adding and hiding items from inventory) and also clearing up override data with the checkbox of the column “inherits?”.
It all seems to be working fine and covered with tests.

[2019-02-20 13:11] RachL opened #3522 "[Product import] Add description to the product template"
**## Description**
**- As a:** super admin
**- On page:** /admin/product_import
**- I want to be able to do:** Have description as a column in product template.

You cannot update a description through PI, so you need to put the description inside the file if you are updating a product with an existing description. Template should tell you how to.

**## Acceptance Criteria**
1. Log in as super adm

[2019-02-20 13:22] RachL opened #3523 "[Product import] On_hand can currently not be left blank"
## Description
Since changes made in inventory, these new rules have been introduce to PI:

    2. If "true", "TRUE", or "1" - Read as on demand of "Yes", so "on_hand" should be blank.
    3. If "false", "FALSE", or "0" - Read as on demand of "No", so "on_hand" is required.

However on the product side, a product cannot be created or updated with a blank on_hand column. If you set on_demand to 1,

[2019-02-20 13:34] #2783 closed

[2019-02-20 16:16] luisramos0 opened #3525 "Remove Product Distributions"
### What we should change and why (this is tech debt)
Product Distributions is a dead feature and should be removed from OFN.

### Context
From a slack conversation [here](https://openfoodnetwork.slack.com/archives/C59ADD8F2/p1546958052045600)

### Impact and timeline
Removing this will reduce code complexity and thus OFN's cost of maintenance.

[2019-02-20 22:11] daniellemoorhead commented on #3001
Perfect @luisramos0 👌

[2019-02-20 22:13] daniellemoorhead commented on #3493
100% agree with @luisramos0.

@RachL over to you for your thoughts on the above, make the changes if you concur :)

[2019-02-21 09:51] sineadfenton opened #3528 "SKU showing up incorrectly on different reports for variant products"
## Description

The reports are showing up different SKU values for the same product.

The product will have a code of XXXX, within the product report this is shown correctly, but in the order cycle customer totals this is incorrect showing up as XXXXY - two different reports of the order cycle customer total have been run, and both show different SKUs which are not the true SKU

## Expected Behav

[2019-02-21 09:53] sineadfenton commented on #3528
![](https://github.trello.services/images/mini-trello-icon.png) [Order cycle reports wrong SKU for variant](https://trello.com/c/3UCKpRMA/380-order-cycle-reports-wrong-sku-for-variant)

[2019-02-21 14:15] RachL commented on #3493
@daniellemoorhead @luisramos0 ok to downgrade as an s3: complains have been very localized so far.
I just hope that we will not reach a point were this becomes a blocker 🤞

[2019-02-21 16:27] RachL opened #3529 "[Spree Upgrade] Error 500 when trying to add a product"
## Description
I've created the Enterprise "Le Jardin de Rachel". I wanted to create my first product, but reached an error 500 when trying to do so (I've tried several combination of information).

Tried again as super admin, for the same producer, but also for the producer of nut: same problems.

## Expected Behavior
I should be able to create a product.

## Actual Behaviour
I can't.

## Steps t

[2019-02-21 17:16] RachL opened #3530 "[Spree upgrade] Impossible to duplicate/clone a product"
## Description
As a super admin or a producer, I'm not able to duplicate a product.

Note that all the products I have tested had images.

## Steps to Reproduce
1. Go to https://staging.openfoodfrance.org/
2. Login as super admin
3. Choose "Producer of pommes"
4. Try to duplicate a product
5. Nothing happens

## Animated Gif/Screenshot
![image](https://user-images.githubusercontent.com/6525576/531

[2019-02-21 18:27] luisramos0 commented on #3452
I'll have a look at this one as I tackle #3140

[2019-02-21 23:25] luisramos0 commented on #1830
I did some investigation around this issue. I think we can title this issue as "fix order adjustments edit page", the example Rob gives above is one of them and is currently working for payment fees but not shipping fess. Here are my conclusions and questions:

##  Edit Adjustments
The first test would be to use the order adjustments pages to edit the values of the adjustments:

#### Edit Shipping

[2019-02-22 03:38] mkllnk opened #3532 "Bulk invoice printing fails, user waits forever"
## Description

On the Australian production server the Bulk invoice printing doesn't work. The task to compile the PDF file fails with:
[code]

## Expected Behavior

You can download the invoice PDF.

## Actual Behaviour

It hangs for more than six minutes and then gives an error message:

## Steps to Reproduce

1. Login as admin and go to orders: https://openfoodnetwork.org.au/admin/orders
2. Se

[2019-02-22 04:19] mkllnk commented on #3532
The failing jobs work when executed manually:
[code]

Australian production still used monit to start delayed job. That environment was probably missing some important variables. I uninstalled monit and started delayed job from a normal log in shell. Now it works. I have to test deployments as well though.

[2019-02-22 04:37] mkllnk commented on #3532
Interestingly the Canadian server did not experience this issue even though it was using monit as well. I uninstalled monit so that it is more similar to the ofn-install managed servers. And invoices are still working.

[2019-02-22 04:39] #3532 closed

[2019-02-22 04:44] mkllnk commented on #3493
Okay, I'll turn this issue into an epic with the two suggested issues in it.

[2019-02-22 05:55] mkllnk commented on #1830
The button to Update and recalculate fees was a workaround for fees that were not adjusted when removing or adding line items. Maybe if we now have a working dependent-destroy for the fees then we don't need to call the re-calculate any more?

I'm not clear how this should actually work. So if somebody paid by credit card there may be a fee on that depending on the amount. If we now add or remove

[2019-02-22 07:30] #2013 closed

[2019-02-22 08:12] sauloperez commented on #3493
Nothing new, however. We know one of the main reasons of the bad performance of the frontoffice (if not the top one) is loading all the enterprises in DB (aka. lack of pagination).

[2019-02-22 09:46] luisramos0 opened #3533 "[Spree Upgrade] Delete all running/pending/failed delayedjobs before migrating to v2"
## Description
From [this comment in #3321](https://github.com/openfoodfoundation/openfoodnetwork/pull/3321#issuecomment-466277043), we should include a migration to delete all delayed_jobs from the DB when we migrate to v2. This includes any traces all jobs that will no longer exist in v2 (account invoices jobs).

## Acceptance Criteria
No delayed jobs in the DB after we migrate to v2

[2019-02-22 10:19] luisramos0 commented on #3493
do you mean "loading all the enterprises in DB (aka. **lack of cache**)."? ❤️

[2019-02-22 10:20] luisramos0 commented on #3493
or do you mean "loading all the enterprises in DB (aka. lack of a stand alone DB server that can take the query easily)."?

[2019-02-22 11:03] luisramos0 commented on #3529
This is a problem related to default stock location #3254
There were 2 stock locations in the FR staging DB.
One of them didnt have any products. I have deleted it manually and the problem is fixed.

I think we should close this issue because the date of the creation of the stock location was prior to #3254 being done, so this is probably fixed by #3254. We can reopen this issue if it happens agai

[2019-02-22 11:04] luisramos0 commented on #3529
@sauloperez fyi

[2019-02-22 11:09] luisramos0 commented on #3530
I only tried this after fixing #3529
I can clone a product now even with a new enterprise. So, most probably the same cause as #3529
please let me know if it is working now @RachL
thanks

[2019-02-22 11:30] RachL commented on #3529
@luisramos0 yes this is working now, so closing!

[2019-02-22 11:30] #3529 closed

[2019-02-22 11:30] RachL commented on #3530
@luisramos0 yes it is!

[2019-02-22 11:30] #3530 closed

[2019-02-22 11:53] luisramos0 commented on #2484
In July I said "I want to get into the spree upgrade first" 🤣

I'm doing this one now before I clean up translations in v2.

[2019-02-22 16:38] lin-d-hop commented on #3509
My thoughts are that having small fixes like this as 'good first issues' are useful as I love to have easy issues to point potential new devs toward. I'd love to keep this as an issue simply because of its simplicity. I'm planning on putting some energy toward finding good ways to get 'good first issues' ticked off outside of the usual pipe. So for me issues like this are useful in the full knowle

[2019-02-22 22:30] Matt-Yorkley commented on #3383
I'll take this on now, I've got a new idea to try...

[2019-02-23 20:05] Matt-Yorkley commented on #3473
I've just seen this fail again.

[2019-02-25 02:29] nozakis commented on #3001
Hey all,
We've been working for a bit on this issue and we're interested in getting some feedback from you all!

The documentation is hosted [here](https://app.swaggerhub.com/apis-docs/haseleyi/ofn-staging/0.1). We're in the process of updating the listings for PUT and POST requests so the documentation for those is not quite accurate yet, but it will be in the very near future. In addition, there

[2019-02-25 11:00] #3021 closed

[2019-02-25 11:29] sauloperez commented on #1830
I agree with option 1. It's been the general idea for v2 so far.

I'll need to reread this to fully understand each case but there are still things on my pipe that I want to close first.

[2019-02-25 11:39] luisramos0 commented on #3021
we need to wait for the next merge from master to 2-0 and then see that the spec is green.

[2019-02-25 11:43] sauloperez commented on #3493
give it the name you want but there's no way loading all records of a database table will ever be performant and scalable :trollface:

[2019-02-25 11:47] sauloperez commented on #3001
OMG @nozakis ! this is massive! just the fact that we have these endpoints listed together with their schemas described is huge! Looking forward to having the accurate list!

[2019-02-25 11:50] #3473 closed

[2019-02-25 11:54] luisramos0 commented on #3001
yes, this is such a valuable contribution! well done guys.

I think you selected a very good sample list of endpoints! the next ones would be orders and enterprises.

swagger is amazing isn't it? I'd love to hear from you about your experience with it.
I have a rating for you work: 💯

[2019-02-25 12:14] #3383 closed

[2019-02-25 12:36] Matt-Yorkley opened #3541 "[Subscriptions] Can't delete a schedule"
## Description

Schedules can't be deleted if they have previously had an associated subscription.

## Expected Behavior

Schedules can be deleted. (Via the delete button in the order cycles page)

## Actual Behaviour

An error message is shown: "This schedule cannot be deleted because it has associated subscriptions". There is no way for a user to delete a subscription, and if a subscription has

[2019-02-25 13:04] RachL opened #3542 "[Spree upgrade] Translations missing for states in super admin /orders page"
## Description
Translation key are missing for super admin on /orders.

For a producer it is fine however.

## Steps to Reproduce
1. Log in as a super admin in Staging FR
2. Go to https://staging.openfoodfrance.org/admin/orders?q%5Bs%5D=completed_at+desc

## Animated Gif/Screenshot
Super admin:
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/f07e2a9a-f47a-4f3e-81a5-40639

[2019-02-25 13:20] RachL opened #3543 "[Spree upgrade] Buttons overlap when editing payment methods (French only)"
## Description
When a producer adds a new payment method there is an overlap of one button at the end of the process. It is the same when editing an existing method.

EDIT: this happens only when displaying in French

## Steps to Reproduce and Animated Gif/Screenshot
1. Log in as a producer with French language activated
2. Create a new payment method or edit an existing one
3. When the page loads

[2019-02-25 14:04] Matt-Yorkley opened #3544 "[Subscriptions] Proxy orders show OC is closed when it isn't"
## Description

When viewing a subscription's proxy_order, it shows the order cycle as **closed** when it's actually **open**. It also shows an error message relating to the close time:

![screenshot-2019-02-25-13-49 39](https://user-images.githubusercontent.com/9029026/53342322-9a6d8800-3905-11e9-87f7-4998db0316e3.png)

I'm not sure if this also affects the placement of orders via proxy_orders, b

[2019-02-25 14:09] sigmundpetersen commented on #698
Should we wait for v2 for this @sauloperez @luisramos0? Should we set as blocked?

[2019-02-25 14:13] luisramos0 commented on #698
this is already fixed in v2 actually. you can mark as blocked or just close it.

[2019-02-25 14:17] Matt-Yorkley opened #3545 "[Subscriptions] Can't create subscription with ends_at date"
## Description

If I create a subscription with the `ends_at` date set it doesn't create a proxy_order. If I leave `ends_at` blank it does create a proxy_order.

The end date for the OC is 7 months from now. No combination of `ends_at` dates will create a proxy order.

Am I missing something?

## Expected Behavior

A proxy order is created.

## Actual Behaviour

No orders are created.

## Steps to

[2019-02-25 14:19] Matt-Yorkley commented on #3545
Possibly related to errors in dates when subs are saved, noted here: #3544

[2019-02-25 14:29] sigmundpetersen commented on #698
If you have verified that this is working in v2 on fr-staging, let's close it.
Anyone that disagrees please reopen.

[2019-02-25 14:29] #698 closed

[2019-02-25 15:14] lin-d-hop commented on #3493
I'm really nervous about this. Today an issue with the same symptoms took OFN UK completely down for all shops and pages, not just pages that load everything.

I am nervous keeping performance at s3 because this is very close to approaching s1 status in the UK...

[2019-02-25 15:20] luisramos0 commented on #3493
yes, I see that @lin-d-hop  but is that not just a simple indicator that the UK servers are below the capacity needed to run the current solution (the data volumes are naturally always increasing)  and the incident you report is just a very good excuse to get better servers in place?

[2019-02-25 15:26] RachL commented on #3493
@lin-d-hop for France as well, if a request take too much time, it's the whole app that becomes unavailable (as you can see in my issue description, I was just changing a configuration when I've noticed the website was down. A few minutes afterwards I could do my change in a snap).

That being said, it would be difficult to deal with this before finishing the spree upgrade. Don't you think?

[2019-02-25 15:31] lin-d-hop commented on #3493
I absolutely agree. Though if the servers keep going down then there is no point finishing the Spree Upgrade for us as OFN will be unusable....
I'll continue with the 'restart the servers' approach but I would feel much more comfortable if we had a cut off for when this becomes an S2+ at least. Like if servers go down to the point that our monitoring picks it up total system fail more X times per

[2019-02-25 15:42] luisramos0 commented on #3493
@lin-d-hop why do you think that single metric 8gbs is enough to conclude it should be enough capacity?

I think we have to be realistic and see what is the _actual_ capacity needed, not the capacity we think should be enough. Specially, if it is a S1, first you want to get your system with enough capacity to run, then you can fix it to run with less capacity.

I am saying this also because buildi

[2019-02-25 15:47] RachL commented on #3493
@lin-d-hop yes I completely agree as an instance point of vue. But I guess from a refactoring point of view, if we see a major failure / s1 we will need to discuss a strategy so it doesn't postpone the upgrade to forever.
FYI we've plugged our happy apps to send notifications in the devops-notifications slack channel. It could be great to have UK's notifications there as well?

Oh and for my gener

[2019-02-25 15:56] lin-d-hop commented on #3493
Alright. UK doubled the server size last time we ran into performance issues and we still haven't gotten to them.

Maybe we'll fix them before we get to 12 simultaneous users and need 32gig mem and 8 cpus.

[2019-02-25 16:12] lin-d-hop commented on #3493
That's not what we pay :-/ But yes, doubling the server is cheaper than dev time.

[2019-02-25 16:47] luisramos0 opened #3546 "De-deface orders/adjustments page"
### What we should change and why (this is tech debt)
We should de-deface the adjustments page when editing an order in the backoffice.
There are mainly two changes we are doing with the overrides:
- we are adding tax to the adjustments
- we are not including adjustments state (open/close)

### Context
This was discovered in the spree upgrade, see #1830
This is part of the overall de-deface effort

[2019-02-25 17:23] sauloperez commented on #3493
Totally agree with you @luisramos0 if you can buy more time by buying cheap servers, why not? but what do you do if throwing more money into the problem doesn't fix it? That is exactly the situation we have now IMO. I talk a lot about pagination as a concrete example, but it's not only that, of course.

[UK's Datadog graphs](https://app.datadoghq.com/dash/host/708860576?live=true&tile_size=m&page=

[2019-02-25 17:29] lin-d-hop commented on #3493
@luisramos0 @sauloperez If we increase from 4 to 6 cpus do we need to change deploy scripts so that unicorn makes use of 4 cpus instead of 2? If so I'll open an ofn-install issue when we increase our servers.

[2019-02-25 18:44] Matt-Yorkley commented on #3493
@sauloprez great tip about postgres default configs. I just hwd a brief read and it looks like we could potentially gain some big benefits with a bit of tuning there.

[2019-02-25 19:58] sigmundpetersen commented on #3383
hmmm still not good? https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/dependabot-bundler-combine_pdf-1-0-16/builds/1 😢

[2019-02-25 21:57] luisramos0 commented on #3493
yeah, we agree @sauloperez and the hint on tuning current setup is very good!
@lin-d-hop I dont know the details but adapting the number of unicorn workers to the number of available cpus is probably useful.

@sauloperez I have been there many times, throwing metal at these problems does fix them in a blink of an eye. And yes, sometimes, but a lot less frequently, it's a bug that will just eat all

[2019-02-26 04:00] mkllnk commented on #3493
I would like to throw in another perspective or issue. When some pages timed out we increased our server timeout. That enabled us to load pages that were not working otherwise. Now we are experiencing the downside of that approach. The timeouts are there to protect the server from becoming unavailable.

If we said that every page has to load within 30 seconds (default timeout) then some pages woul

[2019-02-26 08:54] mkllnk commented on #3493
Here is some data:
![screenshot from 2019-02-26 19-48-43](https://user-images.githubusercontent.com/3524483/53399496-3976aa80-3a00-11e9-8173-898239a2ac45.png)

[2019-02-26 08:58] mkllnk opened #3549 "Monitor downtime of production servers"
Several instances report slow servers and downtime. #3493
We need to measure what our real downtime is to evaluate the current impact.

- [x] Australia
- [x] France
- [x] UK

[2019-02-26 09:03] mkllnk commented on #3549
Okay, monitoring is set up through Wormly. Now we just need to wait and collect data.

[2019-02-26 09:04] #3549 closed

[2019-02-26 09:09] luisramos0 commented on #3485
I am closing this, it's a duplicate of the already closed 3113.

[2019-02-26 09:09] #3485 closed

[2019-02-26 10:41] RachL opened #3551 "[Spree upgrade] Super admin showing enterprise pages"
## Description
Each time you log in as super admin, a page asking you to choose an enterprise package will be shown. Further more, the dashboard is displaying in enterprise mode.

## Steps to Reproduce & Animated Gif/Screenshot
1. Log in as spree@example.com on staging FR
2. You will see this screen:
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/1d4194b0-f5aa-42c9-a734

[2019-02-26 12:07] luisramos0 commented on #3001
Hey guys, can you please remove the super admin user emails and password from the web page?
Maybe you can replace with "Some endpoints are public and require no auth, others will require auth. Talk with us to get your credentials setup."

[2019-02-26 12:53] luisramos0 commented on #3549
great stuff @mkllnk

[2019-02-26 15:10] luisramos0 commented on #3551
interesting, we can already see that @sigmundpetersen is a amazing tester and discovered an edge case :-)

This is caused by enterprise "Sigmund Test" not having the Sells value set.
The enterprise sells value is unspecified if you register the enterprise through the frontoffice, if you create the enterprise in the backoffice, the sells value is mandatory.

The problem here is the crazy redirectio

[2019-02-26 15:38] sigmundpetersen commented on #3551
Haha you're welcome 😝
Please tell me if I should set the Sells value, you can of course do it also @RachL

[2019-02-26 15:41] RachL commented on #3551
hmmm @luisramos0 this is strange I always sign up my enterprises from frontoffice and this never occured before....

@sigmundpetersen can you provide the steps you've followed to create your account?

[2019-02-26 15:44] sigmundpetersen commented on #3551
Well I didn't create an account, I created a new enterprise logged in as spree@example.com and from the front office. Maybe that's the edge case.

[2019-02-26 15:48] RachL commented on #3551
Oh ok... but that never happens in real life right? :trollface: I mean this is something we would need to move to discourse: be able to create an enterprise as a superadmin... with superadmin as the only manager?

[2019-02-26 15:54] luisramos0 commented on #3551
yes, it's not really super admin, it's just someone who already manages one or more enterprises and instead of going to admin/enterprises they go through the frontoffice registration process.

[2019-02-26 16:18] RachL commented on #3551
@luisramos0 ok indeed I just re-tested with my enterprise profile. Indeed the sell checkbox is not ticked. However everything else works fine for the superadmin. So this bug was really linked to creating an enterprise trough the frontoffice as a superadmin. Good to know! I'm closing this. And I've no idea were to put the sell problem, yet but will figure out something :D

[2019-02-26 16:18] #3551 closed

[2019-02-26 16:27] sauloperez commented on #1929
The root cause of Katuma not being able to send errors to Bugsnag was the lack of the `ln -s /home/openfoodnetwork/apps/openfoodnetwork/shared/config/bugsnag.rb config/initializers/bugsnag.rb` symlink. Thanks @pacodelaluna for giving the idea!

Therefore, I'm going to work on this right away. I'll spend more time trying to understand why the link wasn't performed than moving this initializer to it

[2019-02-26 16:45] luisramos0 commented on #3551
to be precise, it's not super admin, it's a manager of some existing enterprise. please correct me if you see I am wrong about this though your tests.

[2019-02-26 16:46] RachL opened #3553 "[Spree upgrade] Add stripe to staging FR"
## Description
- **As a:** super admin
- **On page:**  /admin/stripe_connect_settings/edit
- **I want to be able to do:** See API info and be able to enable enterprise stripe accounts.

The API keys can be found on OFN France stipe account. Account details are charged in bitwarden **but please use the test data info not the production info.**

## Acceptance Criteria
1. As a super admin I can see t

[2019-02-26 21:44] luisramos0 opened #3557 "Move js and css dependencies to gem dependencies"
### What we should change and why (this is tech debt)
js and css dependencies are not being upgraded or managed, they are just stuck in
- app/assets/javascripts/shared
- app/assets/stylesheets/shared
- vendor/assets/javascripts
- vendor/assets/stylesheets

These should be moved to gems and managed through our gemfile.

### Context
This came up in #3472

### Impact and timeline
The current approach

[2019-02-26 23:53] daniellemoorhead commented on #2873
Hiya @Jefferson-Faseler, given the lack of reply we're gonna assume you're busy and pop this issue back into the `Dev Ready` column to be picked up at a later date.

Would be great to see you back in the repo sometime soon, if your time frees up and you'd like to contribute again 😃

[2019-02-27 00:06] daniellemoorhead commented on #2788
If this is blocked and can't be worked on (and thus not `In Dev`) should it be moved back into the Spree Upgrade backlog until it's unblocked? Ping @kristinalim 😄

[2019-02-27 00:12] haseleyi commented on #3001
The GET /<model-name>/new endpoint returns a list of attributes and a list of required_attributes. In this [example](https://staging.katuma.org/api/products/new) for products, we see that tax_category_id is presumably a required attribute when POSTing a product, but when GETting a product [here](https://staging.katuma.org/api/products/3), this attribute seems to be missing. The required_attributes

[2019-02-27 00:53] kristinalim commented on #2788
Fixing just the parts of the blocker issue #2696 that fix this one. I moved #2696 to In Dev as well.

And reversed the other dependency relationship, so this one blocks #3410.

Sorry!

[2019-02-27 09:41] luisramos0 commented on #3525
@mkllnk I just realized you used product distributions in the sample data PR here: https://github.com/openfoodfoundation/openfoodnetwork/pull/3209/files#diff-6b925f809b3a412c614a3e69e37d6a78R89

Can you share what you know about product distributions? Is this a working feature? is it not replaced by OCs?

[2019-02-27 11:41] sauloperez commented on #3553
I did find all the keys and updated the secrets file but I'm not sure ofn-install's provision works there and I can't find the way to restart the unicorn.

[2019-02-27 11:44] RachL opened #3561 "[Spree upgrade] Unable to sign up"
## Description
I can't sign up as a new user.

## Steps to Reproduce
1. Go to https://staging.openfoodfrance.org/#/login or even https://staging.openfoodfrance.org/register/auth#/signup?after_login=%2Fregister
2. Try to sign up
3. You get an error message saying you need to check your email address (I've tried around 5-6 emails addresses, and same result)

## Animated Gif/Screenshot
![image](https

[2019-02-27 12:25] sauloperez commented on #3561
Can you check again? according to @luisramos0 it is fixed.

[2019-02-27 12:26] sauloperez commented on #3553
This is blocked until we figure out how to provision to FR staging or we fix https://github.com/openfoodfoundation/ofn-install/issues/270

[2019-02-27 12:41] RachL commented on #3561
Yes it is! Thx guys 🎉

[2019-02-27 12:41] #3561 closed

[2019-02-27 19:33] myriamboure opened #3562 "Not possible anymore to manually capture a payment on production on some edge cases"
## Description
From general order page, or if I'm in edit mode of a specific order, when I click on "capture payment", I got the snail page.

## Expected Behavior
I can capture a payment so the order is marked as paid.

## Actual Behaviour
It's not

## Steps to Reproduce
1. Go to https://www.openfoodfrance.org/admin/orders?q%5Bs%5D=completed_at+desc and try to capture a payment on an order.
2. Go

[2019-02-27 20:03] kristinalim commented on #3562
I ran the following on the OFF production server:

[code]

And spotted the following:

[code]

Still investigating.

[2019-02-27 21:57] luisramos0 commented on #3562
yeah, I recognise this code. I removed it for v2!
https://github.com/openfoodfoundation/openfoodnetwork/commit/2ccbb87adcb3174bb5a64b57b6fc9dd4ab2b3f02#diff-e2ebcdd38cd6a972dc29886b9cad8ff1

I am not sure if, at the time, I checked if it was a bug in v1 as well... this is the explanation:
https://github.com/openfoodfoundation/openfoodnetwork/pull/2823#discussion_r225642696

[2019-02-27 22:01] luisramos0 commented on #3562
I read the v1 code now and I dont see where payment.inventory_units could come from... but it's weird this was not seen before... but it all depends on how calculator.line_items_for is called. maybe order.line_items is called instead of payment.line_items for most cases...

[2019-02-27 22:09] mkllnk commented on #3549
The first couple of days data:
![screenshot from 2019-02-28 09-09-17](https://user-images.githubusercontent.com/3524483/53526534-99706c80-3b38-11e9-96c6-d6f6704aacc0.png)
![screenshot from 2019-02-28 09-08-49](https://user-images.githubusercontent.com/3524483/53526537-9d03f380-3b38-11e9-9571-9883424e414c.png)

[2019-02-27 22:17] mkllnk commented on #3562
Can we just revert the payment decorator for now to fix it?

[2019-02-27 22:19] luisramos0 commented on #3562
My change/fix is in v2 Maikel, this bug is for v1. I just shared the context of my change in v2 because it's the same line of code, but in v2.

[2019-02-27 23:25] #2887 closed

[2019-02-28 00:05] mkllnk commented on #3172
Great work Luis! It looks very thorough and I can't think of any other case that needs to be covered. User testing will reveal if we found everything.

[2019-02-28 00:09] #3172 closed

[2019-02-28 00:10] luisramos0 commented on #2018
closing, wow!!!

[2019-02-28 00:10] #2018 closed

[2019-02-28 01:07] kristinalim commented on #3562
This happens with a particular sequence of order sequence of order creation, payment creation, and order completion when the payment method uses an order-based calculator (e.g. "Flat Percent"). Actually, I wasn't able to reproduce this from the UI using the usual checkout flow nor from the admin section. But there is a code path for this.

Already working on a PR.

[2019-02-28 08:33] luisramos0 commented on #3562
awesome. i think we should clarify if payment.inventory_units is nonsense or not? if it is, the v2 commit above should be backported to v1.

[2019-02-28 15:33] myriamboure commented on #3562
Ok as it seems to be an edge case I suggest to reclass this bug as s3 bug. If this is fixed in v2 maybe we can wait then and retest after v2. I have a case that we know for sure is bugging in French production, order number # R476265115  if you want to check if same issue or not.

[2019-02-28 15:35] myriamboure commented on #3562
@kristinalim I would suggest you don't spend too much time on this now as we understand from your first spike on it it is only concerning some edge case... Don't hesitate in those kind of bug, if when spiking you realise it might not be s2 as only concerning few specific rare cases, to review the severity ;-)

[2019-02-28 15:42] #1929 closed

[2019-02-28 15:45] myriamboure commented on #3562
I added the network info in the main post.

[2019-02-28 15:57] sauloperez opened #3564 "[Spree Upgrade] Investigate "can't modify frozen Hash" error"
## Description

An error popped up while @RachL was testing the checkout in v2 Katuma's staging. Although she didn't see any error Bugsnag got the following one

![screenshot from 2019-02-28 16-53-48](https://user-images.githubusercontent.com/762088/53579377-bb3e1380-3b79-11e9-8abd-1438d5ef4851.png)

We need to investigate what it is. If this happened so easily in staging it could as well happen i

[2019-02-28 15:58] sauloperez commented on #3564
@RachL do you remember the steps to reproduce by any chance?

[2019-02-28 16:06] kristinalim commented on #3562
@myriamboure I found an obvious bug in the code that could cause this, but didn't know how to get there through the UI. There is already a quick fix PR #3563 for this earlier today, and it's already in Test Ready. (@RachL In case you have time to validate. :grin:)

BUT I confirmed just now that **adding** (not capturing) a payment to a completed order fails with the same error. I'll just update th

[2019-02-28 16:07] sauloperez commented on #3001
There is no pattern that I know of other than looking at the code. Our API lacks cohesion as things are implemented differently and in different places. You need to check whether it's implemented in OFN itself, as a decorator onto a Spree API endpoint or just a regular Spree API endpoint. Then you can read the controller's action code.

[2019-02-28 16:14] #3466 closed

[2019-02-28 16:14] #3478 closed

[2019-02-28 16:15] #2484 closed

[2019-02-28 17:35] sauloperez commented on #3358
It seems like there is no particular spec failing but all of them in `bulk_order_management_spec.rb`. From the last 5 merges to master, 3 of them failed on lines 614, 51 and 588 :see_no_evil:

[2019-02-28 23:04] #3140 closed

[2019-02-28 23:04] #3452 closed

[2019-02-28 23:20] #3423 closed

[2019-02-28 23:25] mkllnk commented on #3525
I only included it to make the data valid. It's annoying code without any benefit. :-) I would love to see it :fire:.

[2019-03-01 08:22] luisramos0 opened #3565 "[Spree 2.1] Prepare and estimate upgrade to Spree 2.1"
### What we should change and why (this is tech debt)
We will upgrade to spree 2.1 at some point probably soon. v2.1 brings rails 4.

See discourse thread for context:
https://community.openfoodnetwork.org/t/spree-upgrade-go-live-on-v2-0-4-or-move-further-to-2-1-0/1534/4

We need to make the spree 2-1-0-stable  branch work (bundle install is broken) and then branch ofn 2-1-stable (from ofn 2-0-sta

[2019-03-01 09:21] luisramos0 commented on #3565
Current status:
I have this OFN 2-1-stable branch: https://github.com/luisramos0/openfoodnetwork/commits/2-1-stable

It's only one commit updating to spree 2-1-0-stable, rails 4 and a few others.

Currently, trying to run
`bundle update rails sass-rails rails-i18n`

I am stuck with errors like this. I dont know how to fix these:
[code]

[2019-03-01 10:24] kristinalim opened #3566 "[Subscriptions] Change definition of proxy_orders.canceled_at"
Change definition of `proxy_orders.canceled_at`.

### What we should change and why (this is tech debt)

Based on my observations [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/3539#pullrequestreview-208936417)), the current definition of `proxy_orders.canceled_at` is: "set when proxy order is cancelled before order is placed, or when placed order is cancelled from the subscript

[2019-03-01 10:37] #3522 closed

[2019-03-01 10:46] Matt-Yorkley commented on #3358
:sob:

[2019-03-01 10:48] RachL opened #3567 "[OFN Belgium] Error 500 when trying to log in as super admin or manager to /admin"
## Description
When you log in as a super admin or a manager you are redirected to the /admin URL that gives you an error 500.

Workaround is to go to another admin URL, example https://openfoodnetwork.be/admin/orders?q%5Bs%5D=completed_at+desc and then navigate from there

## Steps to Reproduce
1. Log in as super admin (log in charged in Bitwarden)
2. Go to /admin
3. Get our friend the snail

##

[2019-03-01 11:12] luisramos0 commented on #3567
nice, I have access to the server.
it's a problem with translations
error:
[code]

this is relatesd to this PR:
3378

my guess is that the plural translation is missing:
overview.products.active_products.other

is the language you are in 100% translated in transifex?

[2019-03-01 11:17] RachL commented on #3567
@luisramos0 I believe it was fr_BE but how can I be sure. I have the error when switching to English too btw.

I see on transifex that currently no languages are 100% translated, but I'm wondering if I have the right account (login with github).

[2019-03-02 04:30] kevinchristianson commented on #3001
We've found a few routes now that were returned by the ```rake routes``` command but don't appear to be valid. For example, GET http://localhost:3000/api/users doesn't seem to be valid since the [UsersController](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/spree/api/users_controller.rb) doesn't have an index method (or any methods for that matter). We're wonde

[2019-03-02 04:43] kevinchristianson commented on #3001
A related question to the one above is why in the ```rake routes``` output one URL can map to multiple controllers. From what we've seen it looks like each route maps to a specific controller method, so why would a URL be listed under different controllers?

[2019-03-02 15:34] luisramos0 commented on #3567
ok, I havent tested but I am pretty sure this is the cause of this issue.
en.yml:
<img width="413" alt="screenshot 2019-03-02 at 15 33 08" src="https://user-images.githubusercontent.com/1640378/53684058-92945600-3d00-11e9-967e-0606a4c72953.png">

fr_BE.yml:
<img width="379" alt="screenshot 2019-03-02 at 15 32 58" src="https://user-images.githubusercontent.com/1640378/53684057-8e683880-3d00-11e9-90

[2019-03-02 15:43] luisramos0 commented on #3001
the first one is probably related to spree controller and auth devise controllers, they are all included!
see spree:
https://github.com/openfoodfoundation/spree/blob/step-6a/api/app/controllers/spree/api/users_controller.rb
and devise:
https://github.com/openfoodfoundation/spree_auth_devise/blob/spree-upgrade-intermediate/app/controllers/spree

can you give a specific example for the second questi

[2019-03-02 22:02] kevinchristianson commented on #3001
Example URL that ```rake routes``` lists under multiple controllers:

['admin', 'GET', '/api/users/authorise_api(.:format)', 'spree/api/users#authorise_api', '{:format=>"json"}']

['authorise_api_api_users', 'GET', '/api/users/authorise_api(.:format)', 'spree/api/users#authorise_api', '{:format=>"json"}']

These two routes have the same URL and are both GET requests, but one is listed under 'autho

[2019-03-02 22:42] luisramos0 commented on #3001
ok, thanks for clarifying.
I am guessing a bit here but I think it's not different controllers, it's just duplicate routes that are named differently. so, I think you can get that route in different ways through those two names but they are the same route with same controller.

I cant find where this particular one you list is coming from...

[2019-03-02 23:05] luisramos0 commented on #3525
I found this comment from Rob, 2 years ago:
https://github.com/openfoodfoundation/openfoodnetwork/blob/6c83f67b86c1f14b003a057b299536909d8c8f1e/app/models/enterprise.rb#L139

I guess that's now :-)

[2019-03-02 23:48] luisramos0 commented on #3525
Another amazing line of code:
https://github.com/openfoodfoundation/openfoodnetwork/blob/6c83f67b86c1f14b003a057b299536909d8c8f1e/spec/models/spree/order_spec.rb#L463

[2019-03-03 19:59] tschumilas commented on #3391
Is this really an s4 bug?  On the Canadian site now -  it is next to impossible for any aggregator (hub) to run a shop.  Changes they make to OCs,  and changes suppliers make to stock are not articulating into the shopfront.    A shopper can checkout -  if they just click through the stalled 'saving' message when they try to checkout.  And the resulting order does accurately reflect the correct pr

[2019-03-03 22:53] luisramos0 commented on #3391
Hi @tschumilas this is a problem with cache in version 2 branch (everything that has [Spree Upgrade] is not live yet). So, you problem is not in this context for sure.

Having said that, Product cache can well be broken in v1...
So I think you should create a separate issue for your problem. Please provide specific details on how to see it in ofn-can live or how to replicate it. Thanks!

[2019-03-04 06:58] kristinalim opened #3571 "RefreshProductsCacheJob gets run multiple times because of failure when OC deleted"
### What we should change and why (this is tech debt)

This should not fail. When a background job fails, it gets retried 25 times (`Delayed::Worker::MAX_ATTEMPTS`). This is unnecessary and a waste of time.

### Context

Noticed this in the `delayed_job.log` in OFN CA:

[code]

[2019-03-04 08:56] sauloperez commented on #3571
I could take a look at this while I work on the cache in v2 (unless someone else took it already)

[2019-03-04 09:48] luisramos0 commented on #3372
This is fixed now.

[2019-03-04 09:48] #3372 closed

[2019-03-04 10:01] sauloperez commented on #3001
I haven't checked this particular case (I leave that to you) but in OFN I learned that as long as you provide a template for an action, Rails will render it no matter if there is no action defined in the controller.

I just tried it with [app/controllers/spree/admin/reports/enterprise_fee_summaries_controller.rb](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/spr

[2019-03-04 10:37] RachL commented on #3564
@sauloperez I tried to reproduced it but didn't managed to so far. I was testing stripe, so I was doing multiple checkout, with various Stripe testing card and configurations (wrong dates, empty CVC...)

[2019-03-04 10:41] sauloperez commented on #3525
lol, it's clearly time to :fire:

[2019-03-04 11:57] #3301 closed

[2019-03-04 13:28] RachL commented on #3567
As this won't be tested before the deployment of the release, I'm adding the blocked label.

[2019-03-04 13:41] luisramos0 commented on #3285
To validate the data migrations, we need to load live data into staging, run the migrations and check the result is good.
Discussion here: https://community.openfoodnetwork.org/t/testing-ofn-v2/1545/5

We will need to check all v1 historical data is stored in an appropriate manner in the v2 data model, order adjustments, order shipping_methods, enterprise shipping methods and payment methods. What

[2019-03-04 14:09] RachL opened #3573 "[Spree upgrade] Impossible to update stock info (on hand and on demand)"
## Description
I can't see the field in order to update a stock info in a variant. When creating a product everything is ok.

## Steps to Reproduce
1. Go to https://staging.openfoodfrance.org/admin/products
2. Edit a variant. E.g. https://staging.openfoodfrance.org/admin/products/apple-cider-1-2/variants/12/edit
3. You won't see the on hand stock field neither the on demand checkbox.

## Animated

[2019-03-04 14:16] RachL opened #3574 "[Spree upgrade] Can't ship an order made from a new account"
## Description
I'm able to ship previous orders. However when I'm creating a new account, I can capture payment but not ship the order. Is this the way spree v1 works?

If so I'm ok with it because the ship feature was always weird, but then I guess we need to remove it in v1 as well?

## Steps to Reproduce
1. Go to https://staging.openfoodfrance.org/admin/orders?q%5Bs%5D=completed_at+desc
2. Try

[2019-03-04 15:54] #2684 closed

[2019-03-04 15:55] luisramos0 commented on #2918
This feature was deleted until we decide what to do with it.

[2019-03-04 15:55] #2918 closed

[2019-03-04 16:48] RachL commented on #1494
@mkllnk @sauloperez would you say this is something to tackle after the spree upgrade? If yes I would suggest adding the blocked label and after spree upgrade, putting this inception among the priorities (we have a couple of s1 bugs that are also waiting the upgrade).

What do you think @kirstenalarsen @lin-d-hop ?

[2019-03-04 18:43] sauloperez commented on #3285
I wouldn't harm to investigate the actual data migration Spree did on existing data, to check things are fine, like from on_hand attributes from their old to their new location, etc.

Then the actual check will be to generate data, migrate it and then use it again. If the data migrations were right we should see no errors.

[2019-03-04 18:47] sauloperez commented on #1494
I don't think this is necessarily dependant on the upgrade other than in terms of available resources while we work on v2. A proper inception will take time anyway.

[2019-03-04 20:36] kreopelle commented on #3573
@RachL  - Is this issue still open?

[2019-03-04 21:43] RachL commented on #3573
@kreopelle Hello Kayla and welcome to the community :-) yes this issue is still open. However if you are looking for something to start with, I suggest you take a look at the issues labeled "good first issue" : https://github.com/openfoodfoundation/openfoodnetwork/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

This one is part of an upgrade of our main dependencies and may required

[2019-03-04 22:37] luisramos0 commented on #3285
I have quite a few things todo but I think this is the highest priority right now.

Tomorrow I'll take a backup for UK live and load it into uk staging. After that I plan to run the v2 migrations and look at the data. At that point we will have a staging server with live like data running in v2. I'll report back here.

[2019-03-05 01:01] daniellemoorhead commented on #1494
@RachL therefore should this become something on the wishlist rather than continuing to be dealt with as a bug?

[2019-03-05 05:11] mkllnk commented on #3566
Nice, thank you. It would be good to update the records in the database. Even though it shouldn't have any effect now it could have an effect later on. For example, a report showing the number of orders cancelled before the end of the order cycle would be wrong with the current data and the new definition.

[2019-03-05 08:43] RachL commented on #1494
@daniellemoorhead it feels to me yes. However there have been some intense discussions around this already, so I'm feeling a bit late to the party to reopen this. So in the meantime I would like to understand if everyone agrees this can wait til spree upgrade is over, that's one thing I'm not sure I understood from the discussion I have been reading.

[2019-03-05 10:57] RachL commented on #3567
Hey @luisramos0 a quick question: how come a missing translation leads to an error 500? I mean, usually we see the translation key, it's ugly but it works. Otherwise I have the feeling we really need to communicate more carefully to translators that a new release is coming.

[2019-03-05 11:10] luisramos0 commented on #3567
It looks like it's from these special pluralization translations: #3378
Maybe @mkllnk will know better.

[2019-03-05 13:50] #2202 closed

[2019-03-05 14:09] sauloperez commented on #3553
I manually modified `config/application.yml` in https://staging.openfoodfrance.org with the details I got from OFF's Stripe account. I tested the described acceptance criteria but check it out yourself @RachL to ensure we are on the same page.

I'll update the [Stripe's wiki page](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Setting-up-Stripe-on-an-OFN-instance) meanwhile.

[2019-03-05 14:11] sigmundpetersen opened #3576 "[Flaky Spec] ./spec/features/admin/bulk_order_management_spec.rb:588"
## Description

This spec is unreliable:
./spec/features/admin/bulk_order_management_spec.rb:588

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/523

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter this in your build, please comment on this issue or add 👍

Error:
[code]
### Impact and timeline

[2019-03-05 14:23] RachL commented on #3553
@sauloperez did you manage to connect an enterprise? When I try to do it the callback URL shows https://staging.openfoodfrance.fr/ instead of https://staging.openfoodfrance.org

[2019-03-05 14:24] RachL commented on #3553
@sauloperez but yes I forgot this in my acceptance criteria 🤦‍♂️

[2019-03-05 14:28] sigmundpetersen commented on #3358
#3576 is the same type of failure, should probably be fixed in same PR

[2019-03-05 15:00] sauloperez commented on #3553
I haven't. Let me check.

Btw, check out https://github.com/openfoodfoundation/openfoodnetwork/wiki/Setting-up-Stripe-on-an-OFN-instance. I hope it's more clear now.

[2019-03-05 15:19] sauloperez commented on #3553
Fixed! both the webhook and callback were pointing to openfoodfrance.fr instead of openfoodfrance.org.

[2019-03-05 15:31] RachL commented on #3553
This is working!!! Thank you @sauloperez

![ ](https://media.giphy.com/media/3ov9jEKWFGKZVYsxPy/giphy.gif)

[2019-03-05 16:07] sauloperez opened #3577 "[Spree Upgrade] Clear all button translation does not fit"
## Description

As show in the screenshot, the Clear all button has a 100px fixed width which causes translations not to fit.

![screenshot from 2019-03-05 11-47-23](https://user-images.githubusercontent.com/762088/53818921-354f0d80-3f69-11e9-937d-0c0cc9d73f02.png)

It turns out that this doesn't not happen in v1, although the button has also a fixed width of 100px.

![screenshot from 2019-03-05 1

[2019-03-05 16:15] sauloperez opened #3578 "[Spree Upgrade] Disable stock transfers"
## Description

Spree v2 ships with stock transfers but since long agreed, we won't expose new features to OFN. Besides, as OFN has a single stock location, this feature is useless for us.

It looks like

![screenshot from 2019-03-05 11-31-36](https://user-images.githubusercontent.com/762088/53819375-1c932780-3f6a-11e9-8536-97898daa7441.png)

## Acceptance Criteria

It shouldn't be possible to see

[2019-03-05 16:38] #3388 closed

[2019-03-05 17:37] sigmundpetersen commented on #3578
Fixed already in #3548?

[2019-03-06 09:41] mkllnk commented on #3567
Uh, that is weird. Missing translations will usually not cause an exception. Maybe it's different here with the count value. I didn't know that. I just tested this after I removed the `other` translation from a key:

[code]

Lesson: Never use pluralisation without the `other` key. How can we prevent this? The I18n gem has an open issue for this: https://github.com/ruby-i18n/i18n/issues/123. It's i

[2019-03-06 09:57] luisramos0 commented on #3567
Nice investigation Maikel!

So, we currently have 2 mandatory translations in en.yml, if they are missed by the translator, the system will be broken.
- overview.products.active_products.other
- overview.order_cycles.you_have_active.other

Yeah, maybe not the most urgent issue but I'd revert the change to the "manual" approach to pluralization.

[2019-03-06 10:09] luisramos0 commented on #3578
yes, I connected 3548 to this one.

[2019-03-06 14:19] sigmundpetersen opened #3582 "[Spree Upgrade][Flaky Spec] ./spec/features/admin/shipping_methods_spec.rb:86"
## Description

This spec is unreliable:
./spec/features/admin/shipping_methods_spec.rb:86

Failing often, seen in:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/216
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/229

## Context

Our Semaphore builds fail regularly because of these unreliable tests. If you encounter

[2019-03-06 16:58] kristinalim opened #3584 "Voiding payment does not remove transaction fee"
Voiding either captured or uncaptured payment does not remove transaction fee.

## Description

I'm not sure if the payment method is relevant, but this was observed by @RachL for cash and myself for cheque.

## Expected Behavior

When you void an existing payment and add another payment, you should only have the transaction fee for the payment that wasn't voided.

## Actual Behavior

When you voi

[2019-03-06 17:09] luisramos0 commented on #3584
This will be related to https://github.com/openfoodfoundation/openfoodnetwork/pull/3559
I'd bet the transaction fee adjustment is being voided as well as the payment but recalculated/re-added afterwards in order.update_payment_fees

[2019-03-06 17:48] kristinalim commented on #3477
The bug here is not just with $0 adjustments. See further investigation of a bug of the same nature here: #3478, PR #3512

[2019-03-06 18:31] #3562 closed

[2019-03-06 21:49] #2072 closed

[2019-03-06 22:08] mkllnk commented on #1494
I agree that this is not a bug but a feature. ;-) We have a workaround with tags, right? I'll take the label off and move it.

[2019-03-06 22:42] luisramos0 commented on #3477
I see you have investigated the adjustments topic, nice! It's very complicated with callbacks after callbacks...
I am not sure what do you mean in terms of this issue, this issue is simply a visual bug, entries with value zero should not be listed in the order page. All problems with adjustments are out of scope here (at least in my mind when I created this issue).
Problems with adjustments calcul

[2019-03-06 23:14] mkllnk commented on #1829
I'm taking this on because it's blocking one of my pull requests: https://github.com/openfoodfoundation/openfoodnetwork/pull/3006

[2019-03-06 23:29] mkllnk commented on #1829
This is actually not as easy as it looks. In `application.yml` we load all decorators early and the product decorator is loaded before the I18n module is initialised. I will look into two options:

- Loading I18n earlier to prevent similar bugs.
- Remove the message declaration and use the default ActiveRecord key for the translation.

[2019-03-07 03:15] kristinalim commented on #3477
Sorry I wasn't clear. My point was that some invalid non-zero adjustments could be showing up in the order page too, not just $0 adjustments, until this is scoped to `eligibile: true`. And I agree that this is still a display bug.

[2019-03-07 05:43] mkllnk commented on #3576
Just a little review of the impact. Since this report there have been 13 builds of master. 7 have been broken. In six of them the bulk_order_management_spec is broken in various lines. I can't re-produce it locally and I'm still investigating what the problem might be.

[2019-03-07 06:14] mkllnk commented on #3576
I ran just one spec 20 times on Semaphore and it passed all: https://semaphoreci.com/mkllnk/openfoodnetwork/branches/master/builds/8

Maybe there are side effects between specs?

[2019-03-07 06:22] mkllnk commented on #3576
Running the whole spec file fails quite reliably: https://semaphoreci.com/mkllnk/openfoodnetwork/branches/master/builds/9

[2019-03-07 09:05] myriamboure opened #3586 "Phantom products from another producer appear in a shop without it being in the order cycle"
## Description
A producer has created 2 producers and duplicated his catalogue to manage different pricing.
There was some issues at the creation of the second catalog, the user did change the producer behind the product before duplicating, then recreated the original products, etc. At the end we managed to have two catalogs.
BUT in the order cycle of Entreprise 1, there are mysterious products fr

[2019-03-07 10:04] Matt-Yorkley commented on #3576
This one's tough. I think 3 devs have worked on it so far and not been able to crack it. Kristina and Pau have had a go and my attempt was here: https://github.com/openfoodfoundation/openfoodnetwork/pull/3536

It's hard to work with because it consistently passes in the dev environment...

[2019-03-07 10:06] sauloperez commented on #3576
I personally didn't get very far, to be honest. What we know is that it fails due to the way data is loaded through Angular after the page renders. Didn't your solution @Matt-Yorkley wait for that data to be loaded?

[2019-03-07 10:12] Matt-Yorkley commented on #3576
The methods I wrote to check if the data was still loading seemed to be working when I debugged them. I thought that had it fixed finally, but it's back :(

[2019-03-07 10:13] Matt-Yorkley commented on #3576
My last thought was if it doesn't work we might just need to increase the default wait time for all the specs in that file. Not an ideal solution, but if nothing else works...

[2019-03-07 11:01] sauloperez commented on #3180
Closed by https://github.com/openfoodfoundation/openfoodnetwork/pull/3511

[2019-03-07 11:01] #3180 closed

[2019-03-07 13:58] RachL opened #3587 "Release v1.28.0 Completo"
## Description
This issue is here to track the evolution of release 1.28

## Draft

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/transifex/builds/12

[2019-03-07 14:35] sigmundpetersen commented on #3587
Nice! Why did we use the transifex branch and not master this time?

[2019-03-07 16:20] RachL commented on #3587
No idea :)

I found a weird display in one the reports. I tested the report on UK staging and it is shown correctly.
The display is weird for manager. For super admin I even have this:

![image](https://user-images.githubusercontent.com/6525576/53971362-13868f80-40fd-11e9-9c04-36d1eaea9965.png)

 I will stage the release on UK staging to see if the problem is linked to seed data.

Testing notes: h

[2019-03-07 16:31] RachL commented on #3587
All good on UK staging (well I get the snail in super admin because time out, but at least it is working for managers. So my guess is that it is linked to the data and not the code):

![image](https://user-images.githubusercontent.com/6525576/53972283-c6a3b880-40fe-11e9-883f-739bb5afd8ab.png)

[2019-03-07 17:15] sauloperez commented on #3587
🙈 I know what that is in Katuma staging but I won't take without a lawyer :troll:.

Jokes aside, that is the separate report app we hacked for Katuma... Looking forward to :fire: it.

[2019-03-07 17:19] sauloperez commented on #3587
:warning: **this release will need a ofn-install provisioning before being deployed**

[2019-03-07 20:05] #3587 closed

[2019-03-07 23:01] luisramos0 commented on #3573
there's a new page called stock management for this! I just discovered it...

![screenshot 2019-03-07 at 22 49 09](https://user-images.githubusercontent.com/1640378/53995247-6fb4d800-412c-11e9-81a0-f78094df7676.png)

I just need to find out how to set the right permissions so we can see the menu option enabled.

[2019-03-07 23:09] luisramos0 commented on #3573
This spree v2 page has two problems:
- it handles stock locations but because there's only one stock location in ofn v2, it's just a select box with one option always.
- also, on_demand is backorderable here. backorderable is like on_demand BUT you can manage stock even if backorderable is activated... on_demand in other parts of ofn v2 is used to disable on_hand.
I'lll see what's the best/easiest

[2019-03-07 23:10] #1829 closed

[2019-03-08 00:06] mkllnk commented on #3576
I made it fail locally! It's a performance dependent race condition. I ran `cat /dev/urandom > /dev/null` while running the spec. That kept my CPU occupied.

[2019-03-08 00:30] mkllnk commented on #3576
Uh, and now I got even the first spec failing:

  spec/features/admin/bulk_order_management_spec.rb:16

It contains only this:

[code]
That is very interesting because it proofs that the loading of the page can fail even without any orders. Maybe it's not about waiting for the page being loaded. Maybe it's about a race condition in initialising the page and sometimes it fails and never loads. :thi

[2019-03-08 04:29] mkllnk commented on #3576
The earliest (simplest) spec I have seen fail on Semaphore is bulk_order_management_spec.rb:51. It even failed on its own (once in 100 runs) which means that it's not about specs influencing each other. Waiting for a second after the page is loaded doesn't help. So we have a 1% chance that the data is not initialised correctly. Some variable may be referencing the wrong thing and is then not updat

[2019-03-08 05:14] mkllnk commented on #3576
I suspect this assignment to be a problem:

https://github.com/openfoodfoundation/openfoodnetwork/blob/22bac3daafcf3aae9bca0dd092e0199786d1558d/app/views/spree/admin/orders/bulk_management.html.haml#L160

[2019-03-08 06:39] mkllnk commented on #3576
Maybe not. I think I made a tiny bit of progress in https://github.com/openfoodfoundation/openfoodnetwork/commit/4574a770d307808daa9dcce398566377713a5600 but it's still failing from time to time.

[2019-03-08 12:11] luisramos0 commented on #3586
I'll have a look.

[2019-03-08 12:22] RachL commented on #3586
@luisramos0 this wasn't in dev ready if I'm not mistaken :) If it does take you too much time, we have a workaround with the producer as he will be using only one enterprise in the future, right @myriamboure ?

I'm not saying that this is not important to look into it, but there are some other issues in dev ready. So according to our process they should be taken up before. Am I right?

[2019-03-08 12:46] luisramos0 commented on #3586
yes, correct @RachL
I want to have a look at this because I think it will be related to a bunch of things I have been doing in v2 and in deleting product distributions... and it's useful to validate what I've been doing.

[2019-03-08 12:53] RachL commented on #3586
Alright then 👍

[2019-03-08 14:21] RachL opened #3592 "Display broken on embedded shop for iphone & ipad olders"
## Description
Iphone and ipads users cannot see the whole product list on an embedded shopfront (only the first 20 out of 243). If they go directly on OFN main website, no issues.

Myriam has managed to reproduce the bug on Safari, but we don't know yet if it happens on other browser as well.

No issues for Android users.

## Steps to Reproduce
1. Go to https://panierslibres.fr/index.php/commande

[2019-03-08 23:01] kreopelle commented on #3573
Thanks @RachL ! I'll look for another :)

[2019-03-11 11:30] luisramos0 opened #3594 "[Spree Upgrade] Fix shipping categories data migration issues"
## Description
As we migrate to v2, shipping methods are picked up from shipping categories and are filtered by product.shipping_category_id.
the column shipping_metho.shipping_category_id in v2 was transformed in a table spree_shipping_method_categories.
Currently in most v1 data, shipping_methods do not have a shipping_category_id defined, and most products do not have a shipping_category_id def

[2019-03-12 07:31] sauloperez commented on #3565
these need to be solved by appending the gems to the `bundle update`. It happened with v2 as well. I'm taking a look right now.

[2019-03-12 08:52] sauloperez commented on #3565
After a few tries I decided to give a plain `bundle update` a go. https://gist.github.com/sauloperez/5aee4b6339f9d3e214560a805f76de04 is the output that I got. It will tell us what are the gems stopping us from upgrading.

[2019-03-12 09:03] luisramos0 opened #3596 "Improve order_cycle_distributed_products"
### What we should change and why (this is tech debt)
order_cycle_distributed_products.rb is assuming that products can have no variants and that master variants can be added to OCs. These assumptions are incorrect and we should update the code to reflect these facts:
- there should be no products without variants
- there should be no master variants in order cycles
We need to clear the code and t

[2019-03-12 13:50] RachL opened #3597 "[Product import] Impossible to upload a file with some tax category on OFN Canada"
## Description
Two problems here, let's see if we need to split the issue:
1. Some tax category cannot be found, even if it is correctly copy pasted
The tax-category  HST (Newfoundland and Labrador) does not work for example, but the tax category Zero-rated does. Could this be linked to space or special characters?

2. Impossible to upload a file without a tax category
I've tried the same file (ju

[2019-03-12 14:12] RachL commented on #3567
Theo has confirmed this is working, so I'm closing this!

[2019-03-12 14:12] #3567 closed

[2019-03-12 15:36] luisramos0 opened #3598 "Prepare release notes for OFN v2.0.0 and create user guide issue with details"
## What is the problem we are solving
We need to compile v2 release notes and with that info create an issue to update the different parts of the user guide that change in v2.

## Success factors = expected outcome
Release notes are ready to be published and an issue exists listing all the parts where the user guides needs to be updated.

### Draft list of topics to be covered
* on_demand
* shippi

[2019-03-12 15:37] luisramos0 commented on #3598
@sauloperez fyi, this was one of the actions in todays meeting

[2019-03-12 15:53] luisramos0 commented on #3021
I have confirmed that this spec is fixed.

[2019-03-12 17:36] luisramos0 opened #3600 "[Spree Upgrade] Fix shipments.stock_location_id migration issue"
## Description
After migrating to v2, shipment.stock_location_id become null.

## Expected Behavior
After migrating v1 data to v2, we dont see any shipment.stock_location_id nulls.

## Actual Behaviour
shipment.stock_location_id is null for all shipments after migration.

## Steps to Reproduce
Fetch live data in v1 model, run db:migrate, inspect db.

## Possible Fix
Because we only have one stock

[2019-03-12 22:01] luisramos0 commented on #3586
ok, I can see the issue live. looks like a bug in the OC management page.

The test I did:
- add EARL back to the OC as a supplier
- select AIL of EARL in the incoming side
- outgoing numbers change from 40/32 to 40/33 (EARL's AIL becomes automatically selected, the ghost becomes real!)
- de-select EARL's AIL from incoming
- outgoing numbers changes from 40/33 to 39/32 (the ghost has cleared!)

So

[2019-03-12 22:11] luisramos0 commented on #3573
hey @RachL the stock management menu entry is available, no permissions changes are needed.
you can have a look in AU staging now: https://staging.openfoodnetwork.org.au/admin/products/potatoes-1/stock

This page actually works well! You can change stock with deltas only here, you can add negative values to decrease for example. The stock location is always default and it's not a functional proble

[2019-03-12 22:20] luisramos0 commented on #3574
I am afraid I cant replicate this in AU staging now :-(
There's some specific about that enterprise you call "new account" or about the order you place. I think we should try to understand what was making the "ship" action fail.

I'd bet it's related to something in the shipping method used..

[2019-03-13 00:38] mkllnk commented on #3450
Currently we have the problem that the latest stable Chrome version installed on Semaphore is chrome 73. The latest chromedriver installed via chromedriver-helper supports only chrome 74.

[2019-03-13 01:22] mkllnk commented on #3600
Yes, I think we should copy it. That's what we did with all the other migrations, right?

[2019-03-13 01:29] mkllnk commented on #3450
I changed the Semaphore configuration now to install a specific chromedriver version that is compatible to the current chrome version. To keep it more stable I removed the part to install the latest chrome version. So we rely on Semaphore's chrome version 72 for now and need to adjust chromedriver when Semaphore updates their chrome version.

I hope that chromedriver-helper has the option to be de

[2019-03-13 09:17] myriamboure opened #3601 "When ownership of enterprise is transferred, permissions of old account are maintained with new owner"
## Description
Hub manage creates the profile of a producer, and then transfer the ownership of that profile to the producer (main manager becomes email of producer).
But then the producer when consulting his reports has access to the whole list of what was ordered for all producers... he shouldn't, he should only see the orders for his own producer enterprise !

## Expected Behavior
A producer se

[2019-03-13 09:24] myriamboure commented on #1494
I'm sorry but I don't understand the conclusion. If it's not a bug it's not only removing the label, but having an appropriate wishlist to treat it. That's what I had previously done, I had closed that issue and opened a wishlist. But with discussions people argued and we finally said it was a bug so reopened it. No problem to go again the other side, but then if we say it's not a bug we need to m

[2019-03-13 09:27] myriamboure commented on #3592
@RachL there is a workaround but I'm not sure it is acceptable commercially speaking. This bug touch a very touchy part of the hub business : ability of people to make orders. If the hub loose orders because people don't see the redirection link and just are blocked with 10 products to by from, it is problematic, I'm not sure the workaround or giving a redirection link is acceptable. I would be te

[2019-03-13 10:07] luisramos0 commented on #3450
Thanks Maikel for taking care fo this!

[2019-03-13 14:36] RachL commented on #3592
@myriamboure I'm trying to summarize our slack discussion: today we have no clear definition of the perimeter of devices/OS/browsers we claim to be compliant with. So we don't say anywhere that embedded shops will work on mobile. We don't say they won't either, but from what I've read, this did not seemed to have been clearly in the perimeter of the feature. Otherwise, maybe something else than if

[2019-03-13 15:09] luisramos0 commented on #3285
I have spent quite a lot of time on this one...
- We now have a way to sanitize and truncate live data to be used for testing  #3579
- 2 existing migrations were fixed #3591
- 2 new migrations added (picked up from future spree versions and adapted) #3602

I am currently testing locally with live data. I'll create issues as I find them.

[2019-03-13 15:12] RachL commented on #3601
@myriamboure in this case, they are not alarmed by it, but I'm wondering if in other case, it can cause a real problem. I wouldn't even use the word "annoying". It can be really bad: we have sales info from other people showing up were they are not supposed to 👀 So my vote would be s2... even s1 no? I mean.... what kind of workaround can we suggest?

[2019-03-13 15:32] luisramos0 commented on #3601
are you showing FR live data?
I looked at the DB and  "myriam@ouishare.net" has access to 21 enterprises and on top of that you have to put the permissions all those 21 enterprises get from other enterprises through enterprise permissions (I think "moulin de coupains" is in that category through "Hub demo Open Food France").
I think this is an S2 if a bug, but it looks like it's just permissions i

[2019-03-13 15:35] RachL commented on #3601
@luisramos0 I will slack you the real case

[2019-03-13 16:10] luisramos0 commented on #3601
after looking and testing with the real user scenario, we cant see the extra data in the report, even if we make ourselves the owner of the enterprise.
@RachL and I agreed to ask the user if the error is still there and also test this in staging.

[2019-03-13 17:04] RachL commented on #3601
@myriamboure @luisramos0 I tried in Katuma staging, but wasn't able to reproduce. I am missing something. Those are the steps I did:

1. Create a new hub called "Central hub"
2. Create 2 producer (Producer 1 and Producer 2) from the hub admin and with the hub email address => then enterprise permissions were created automatically (Producer 1 => Central Hub)
3. Created 2 products (one for each prod

[2019-03-13 20:17] kristinalim commented on #3601
Regarding what @luisramos0 said, I agree:

When a new enterprise is created, there are some enterprise permissions with other enterprises that the owner owns that are automatically added: (Below, "hub" = sells "any")

* Creating any enterprise - Grants all hubs that the current owner owns "add to order cycle" permission.
* Creating primary producer - Grants all hubs that the current owner owns "cr

[2019-03-14 06:42] mkllnk commented on #3592
I'm not sure what the problem here is but it could be about the way the OFN page is embedded. Maybe it has to be solved outside of OFN. Once we know, we could give better support to explain how to embed it with scrolling on ios.

[2019-03-14 10:06] lin-d-hop commented on #3001
Hi API workers,

I just wanted to check in on something....
When OFN extended Spree we added the concept of Enterprises. Spree is designed as a single business ecommerce platform. We essentially modified it to be a many business ecommerce platform.

As a result of this I assume:
1) That the existing Spree API endpoints are general endpoints
2) That if a user rq is authorised response will include

[2019-03-14 12:09] luisramos0 commented on #3001
Awesome to see this discussion happening  @lin-d-hop
Can we talk about that in discourse, this issue is too long already isn't it?

[2019-03-14 12:12] lin-d-hop commented on #3001
All I'm looking for is a '**yes you assume correctly**' or "**no it's like this"**
Not meaning to start a discussion.
But this is where the documenting what exists are happening.

[2019-03-14 13:38] lin-d-hop opened #3603 "Unable to Save Changes in Inventory - "Use Producer Stock Settings""
## Description

A user has reported that they are unable to make changes to inventory. Specifically they have reported that they are unable to makes changes to 'Enable Stock Reset'. However when I went to have a play with this user and specific product I found that I could not save any changes with the error "Count on hand must be blank because using producer stock settings". I get this error when

[2019-03-14 13:45] lin-d-hop commented on #3603
![](https://github.trello.services/images/mini-trello-icon.png) [Can't enable Stock Reset - Stroudco](https://trello.com/c/UYVnphM3/402-cant-enable-stock-reset-stroudco)

[2019-03-14 14:42] luisramos0 commented on #3603
I just checked the UK live DB state:
"On demand Variant Overrides can't have count_on_hand" - **correct**, zero results for:
select * from variant_overrides where on_demand = 't' and count_on_hand is not null;

"On_demand false variant overrides must have count_on_hand" - **incorrect**, 2 results for:
select * from variant_overrides where on_demand = 'f' and count_on_hand is null;

"Use producer s

[2019-03-14 14:50] luisramos0 commented on #3001
un-assigning myself from this issue as people think I am working on this, which is not true.

[2019-03-14 15:08] kristinalim commented on #3603
I also don't see how #3505 could cause the invalid data.

The DB migration script which updated VO "On Demand" and "On Hand" settings to follow the new validation rules tracked the changes it made in a CSV file. In the UK server, this CSV file is: `/home/openfoodnetwork/apps/openfoodnetwork/releases-old/2018-12-27-104734/reports/SimplifyVariantOverrideStockSettings/changed_variant_overrides.csv`.

[2019-03-14 15:43] lin-d-hop commented on #3603
I have updated the culprit inventory items and am now able to save inventory again.
Thanks all for the detective work!
I will close this and see if it comes up again - in which case we need to understand how these VOs are becoming corrupted in the first place.

[2019-03-14 15:43] #3603 closed

[2019-03-14 16:23] kristinalim commented on #3603
@lin-d-hop Did there happen to be a deployment issue in UK that needed to be fixed at some point since December 27 (date of CSV file)? If yes, it's possible this was a deployment issue.

This sequence of events could result to invalid VOs:

1. Code is updated on December 27, and the migration script is run on the server. At this point, all existing VOs pass the new validation rules. But the app se

[2019-03-14 16:57] lin-d-hop commented on #3603
@Matt-Yorkley can you comment on the above?
That might well have happened @kristinalim Thanks!

[2019-03-14 16:59] RachL commented on #3573
@luisramos0 ok for this, however while playing with it I saw 3 weird things:

1. In the stock management menu, the "Variant" dropdown is always empty no matter the number of variants the product has
![image](https://user-images.githubusercontent.com/6525576/54375334-22cb8700-4681-11e9-9c9f-01b712c65c85.png)

So I never managed to "add stock" this way. Also I'm a bit confused: isn't editing the fig

[2019-03-14 17:09] luisramos0 commented on #3573
ah, nice!

1. the dropdown shows the variant sku, if you set the sku in the variants, this dropdown will make sense... maybe we can change this to show a combination of unit_descritpion and sku... or maybe put the variant ID so this is never empty.

2. I tested something similar but didnt try to update it in the bulk page in the end. I can replicate. I'll have a look at this.

3. spree backorderab

[2019-03-14 17:19] RachL commented on #3573
@luisramos0

On 1. Can we just used unit_description? I believe this field has always data, whereas sku.

On 3. It's too complex to display the text "On demand" in the on hand field if on demand is activated (like on main page)? If yes, then I agree to hide the field.

On more thing Luis, I just added a new enterprise on staging and created a product, but I don't have the stock management menu. Wh

[2019-03-14 17:26] RachL commented on #3574
@luisramos0 Can't replicate it on AU staging has well, so closing this. We will reopen if it happens again.

[2019-03-14 17:26] #3574 closed

[2019-03-14 19:11] #3571 closed

[2019-03-15 12:42] luisramos0 opened #3607 "[Spree Upgrade] Order edit page is not filtering shipping methods by the order distributor"
## Description
When editing an order we can see the full list of shipping methods in the system.

## Expected Behavior
We should see only shipping methods of the order's distributor.

## Actual Behaviour
We see the full list of shipping methods in the system.

## Steps to Reproduce
Open any order, edit shipping method and check the list.

## Animated Gif/Screenshot
Example from my local instance w

[2019-03-15 12:45] luisramos0 commented on #3607
This issue is fixed by a PR in spree: https://github.com/openfoodfoundation/spree/pull/39

[2019-03-15 14:08] luisramos0 opened #3608 "Clean up useless data from live DBs to improve db backups speed and potentially app performance"
### What we should change and why (this is tech debt)
We will soon have tasks to sanitize and truncate data from production  #3579 This is useful to fetch data from live environments into testing environments.

Now we should create a new task for a different purpose: to reduce the live DB size by deleting data that is not needed.
Maybe it can be called ofn:data:clean_up

There are at least 3 good

[2019-03-15 14:24] luisramos0 commented on #3222
I am reopening this issue because we got a bugsnag alert from the VariantsStockLevels one in #3230
So we have the proof this is not dead code: https://github.com/openfoodfoundation/openfoodnetwork/blob/75abd4586e4d346ac91f580e7a8a6cd221572f66/app/services/variants_stock_levels.rb#L12

So, the code above is not dead and it contains a bug.
There are two things we need to do here:
- remove the bugsna

[2019-03-15 14:26] luisramos0 commented on #3222
it's still an s5 as we have only seen one bugsnag alert for it.

[2019-03-15 14:34] RachL commented on #3607
thx @luisramos0 ! I wanted to open this but didn't have time since yesterday, sorry !

[2019-03-15 14:40] luisramos0 commented on #3607
it's ok, I opened it because I created the PR for it.
can you open the email one?

[2019-03-16 02:47] daniellemoorhead commented on #3592
The problem is determining if this is the case or not @mkllnk. How is it possible to know? The food hub won't have tech support, so I think we as the OFN need to determine whether our offering causes this. Because it's our product that we're offering.

@lin-d-hop do any of the embedded shops in the UK have the same problem?

@RachL I'm attempting to replicate on Firefox on my iPhone however so far

[2019-03-16 02:56] daniellemoorhead commented on #3592
Oh, also, I don't know if this is a scrolling issue, or a display issue. To me it looked like it scrolled fine to the bottom of the list, it didn't cut off halfway or look like I should be able to scroll but can't. Which is why I think it's more about product display and how many show up. @RachL when you posted on Slack you said 19 products showed up. When I looked I had 20 products.  The inconsis

[2019-03-16 02:56] daniellemoorhead commented on #3592
And finally, can someone with an Android provide a screenshot of the same shop with more products in it?

[2019-03-16 11:46] RachL commented on #3592
@daniellemoorhead good point! FYI the shops is currently selling 243 products - only 20 of them show up of iOS users using the embedded version. I've updated the issue, and added my screenshot as an Android user.  As the OC will close in 12h I've added desktop view as well.
I'm on a Google free - raw open source version of Android, so I will try to find other type of Android users.

But actually I

[2019-03-16 14:13] RachL commented on #3592
Update, with screenshot from an Android 9 with Chrome version. No issues.

[2019-03-16 16:30] luisramos0 opened #3611 "Improve order factories"
### What we should change and why (this is tech debt)
There's so much stuff happening on the order workflow that in specs we should never set order.state. The order.state should be achieved through the workflow order.next.

This task is to remove all uses of order state in spec tests, for example:
`let!(:order1) { create(:order, state: 'complete', completed_at: 1.day.ago, distributor: dist1, billi

[2019-03-16 22:12] luisramos0 opened #3612 "Separate factories.rb in smaller specific files"
### What we should change and why (this is tech debt)
factories.rb is too long and too mixed up, we should separate it into different files.
This was already started in /spec/factories, I suggest we move it to spec/support/factories because everything in /spec are specs expect what’s under /spec/support

### Impact and timeline
This will make factories a lot better organized and developers will be

[2019-03-16 22:59] luisramos0 commented on #3565
I have just learned that:
‘~> 2.2’  equals ['>= 2.2.0', '< 3.0']
while
‘~> 2.2.0’ equals ['>= 2.2.0', '< 2.3.0']

[2019-03-16 23:16] luisramos0 commented on #3565
Nice, thanks for the gist!

A possible todo list from it:
- upgrade simple_form from 2.0.2 so that it works with actionpack 4.0.0
- updagre byebug to 9.1
- upgrade sass-rails from 4.0.0 to a version that uses sass (~> 3.3)

But for the most part of it, **I must be missing something**, for example, in the last one, spring. Why is spring (= 1.7.2) a problem for spring-commands-rspec that requires sp

[2019-03-17 16:08] luisramos0 commented on #3573
@RachL I have looked at the code now.
The best/easiest thing to do now is actually to just re-add the fields in the variants submenu as in v1 and hide this new stock management page... I'll give it a try and report back.

[2019-03-18 00:11] mkllnk commented on #3001
@lin-d-hop No, I think we patched a lot of Spree code to consider enterprises. If I remember correctly, Spree endpoints were either patched to show only what the user is allowed to see or they were deactivated. But I'm not sure on this and there may be gaps and some endpoints may still be returning everything. I hope that the API documentation will help us to answer your question.

[2019-03-18 03:36] mkllnk commented on #2971
I made some progress in using the new delete API in https://github.com/openfoodfoundation/openfoodnetwork/pull/3394. It makes the related specs pass. We haven't implemented soft-deleting enterprises though. Can we deal with that as a separate feature not part of the Spree upgrade?

[2019-03-18 03:45] mkllnk commented on #3582
I looked through the last 20 Semaphore builds and could find only one that failed because of this spec. The error message is different as well:
[code]

The customers spec seems to be much more urgent.

[2019-03-18 04:13] mkllnk commented on #3520
The customers spec failed four times in the last ten builds:

- https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/226
- https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/224
- https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/223
- https://semaphoreci.com/openfoodfoundation/openfoodnet

[2019-03-18 04:42] mkllnk commented on #3520
I can reproduce it locally when running `cat /dev/urandom > /dev/null` in a separate console. The problem is the data entry. The address form doesn't get filled in properly.
[code]

Result on the screen:
![capybara-201903181539054860299769](https://user-images.githubusercontent.com/3524483/54507187-56195900-4994-11e9-8482-699994b462bf.png)

[2019-03-18 05:23] mkllnk commented on #3520
It seems to be a [known bug](https://github.com/teamcapybara/capybara/issues/1890), a race condition caused by Bootstrap's fading in of the modal and the driver's sendKeys method returning too early. Here are some different solutions to that. Which one is your favourite? Or do you have other ideas?

### Assertions in the spec to wait for the input
[code]

### Wait for the modal before doing anythi

[2019-03-18 06:20] mkllnk commented on #3335
Myriam is referring to issue #853 closed by pull request #1831. That pull request is treating each fee individually. It overlooked the Weight calculator. Other fees like Flat Rate per order seems fine:

Before update:
![Screenshot from 2019-03-18 17-08-59](https://user-images.githubusercontent.com/3524483/54510227-967ed400-49a0-11e9-84aa-693666112d84.png)

After update:
![Screenshot from 2019-03-1

[2019-03-18 08:30] luisramos0 commented on #3520
amazing detective work Maikel!! 👏
I prefer "Assertions in the spec to wait for the input" :+1:

[2019-03-18 10:44] RachL commented on #1613
@luisramos0 @mkllnk @sigmundpetersen I'm not sure I've followed everything, but I thought I understood that now English is translated through Transifex as well, am I right? So this issue can be dealt by translator directly, correct?

[2019-03-18 10:47] RachL commented on #2140
@daniellemoorhead @myriamboure this looks as a nex feature for me not a bug. I would like to propose to move this to discourse. Do you agree?

[2019-03-18 11:04] sigmundpetersen commented on #1613
Well afaik UK, US and CA are using `en_GB.yml`, `en_US.yml` and `en_CA.yml` locales respectively and can edit the strings through Transifex. But AU is using the source locale `en.yml` and the strings here have to be updated through a PR.

[2019-03-18 11:09] RachL commented on #1719
I just tested this. Indeed if you type in the "name" field", you have to get out of the field so that the button activates. However on the description field, the button is activated directly.

As there is a workaround and that I think the cases where the name field will be updated without the description field, I'm downgrading this to bug-s4: it's annoying, but you can use it. If you don't agree s

[2019-03-18 11:10] RachL commented on #1613
That was too easy :-) Thanks @sigmundpetersen

[2019-03-18 11:11] luisramos0 opened #3615 "De-deface admin variants edit page"
### What we should change and why (this is tech debt)
We should delete app/overrides/spree/admin/variants and move everything to app/views/spree/admin/variants/_form.
This will require a new angular controller to replace on_demand_script.
There's a bug related to this page that could also be tackled with this: #3249

### Context
Found as we discussed using the new spree v2 stock management page or

[2019-03-18 11:19] RachL commented on #3289
@myriamboure "groups" menu only exist for super admin right? So I think this should be downgraded to s4. Plus if I'm not mistaken the other yellowed translation are correctly translated.

Can you update the issue or give me your go to update the issue this way:

- add profile and URL
- crop the screenshot so that only the groups translation appears
- put it in the bug template as an s4 (we can lea

[2019-03-18 11:25] sigmundpetersen commented on #3289
It's not only available for super admins but a super admin has to be contacted [to create one](https://guide.openfoodnetwork.org/advanced-features/groups/group-page) 🙂

[2019-03-18 11:35] RachL commented on #2965
I just tested this and it works (katuma staging and France production). I'm closing this. Let's reopen if we see it happens again.

[2019-03-18 11:35] #2965 closed

[2019-03-18 11:36] RachL commented on #3289
Ok thanks @sigmundpetersen

[2019-03-18 14:12] sauloperez commented on #3608
I think this requires more than a rake task and fits more in ofn-install than here. In the past I investigated https://www.percona.com/doc/percona-toolkit/LATEST/pt-archiver.html for instance but never go to use it in production.

[2019-03-18 14:18] kristinalim commented on #3520
**Re: Assertions in the spec to wait for the input**

I don't like this approach because each of the field manipulations have to be aware that "this field is in a modal". Would we need to do this for all form components that are in modals, or just fix specs as soon as they fail?

**Re: Wait for the modal before doing anything**

I prefer this approach, but separating the click from the wait. For e

[2019-03-18 14:38] luisramos0 commented on #3608
-  more than a rake task
there are many things you can do in this space, the scope here would be to simply delete unnecessary entries.

- fits more in ofn-install than here
could be, I am not sure, I could easily see a job running that runs the tasks regularly (for example, delete sessions older than 1 month), that would be better in the app code, right?

- pt-archiver.html
the scope of this issue

[2019-03-18 15:34] RachL opened #3616 "[Spree Upgrade] Shipment confirmation email is not sent"
## Description
After shipping an order, you don't get an email saying shipment has begun.

## Steps to Reproduce
1. Create an order with a user account you can check the mailbox with and with shipping options. Pay by cash.
2. Log in as a manager of the shop you just did the order from
3. Capture payment. You should now see the "highway" icon (see screenshot below)
4. No email will be sent to the i

[2019-03-18 22:44] mkllnk commented on #3520
There is an assertion already: `expect(page).to have_content 'Edit Shipping Address'`. That should default to `visible: true`. I guess the problem is that elements are already seen as visible when they are more than 50% visible.

I think I will go with your suggestion to keep the wait in a different method. It's the least invasive way of solving this problem. I don't like that we need to know the

[2019-03-19 10:39] daniellemoorhead commented on #2140
I'm not sure @RachL, I guess it can be argued that it was designed that way and therefore not a bug...but it also doesn't feel right to turn something so small into a wishlist item.

@lin-d-hop what do you think? You'll be looking after the Admin UX work, does this feel like something that would go into that uber list of things?

[2019-03-19 11:26] luisramos0 commented on #3222
this alert as come up a few times now, moving to s4

[2019-03-19 11:55] luisramos0 commented on #2140
Let's not assume this is small.
I don't think we should consider a request for a new UI component a bug... it would be kind of a pandora box if we do that, we have so many UX inconsistencies in the app...

[2019-03-19 12:15] RachL commented on #2140
I would like to add that this is not a UX issue. This is bringing an existing feature available to another group of users.

- On a side note, I didn't know we were starting to build kind of a UX admin work/epic. @lin-d-hop how can I help / contribute on that?

[2019-03-19 13:20] luisramos0 commented on #2140
yeah, that's it, it's about making the UI consistent across user profiles. from this perspective this is a feature, isnt it?

[2019-03-19 14:01] amers185 commented on #3162
If this issue is still open, I would like to work on it.

[2019-03-19 14:14] sigmundpetersen commented on #3162
Please have a look at our wiki page on i18n for an introduction on how we work on translations https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29

[2019-03-19 14:29] luisramos0 commented on #3162
fyi, this page will be tested in https://github.com/openfoodfoundation/openfoodnetwork/pull/3609
I dont think 3609 fixes this bug though.

[2019-03-19 14:36] amers185 commented on #3162
@sigmundpetersen Thank you. I am familiar with the project because I was part of a group of college students who recently worked on the OFN documentation issue. I want to continue contributing in an individual capacity even though our group project ended. @luisramos0 Shall I continue working on the issue even if it will be tested in 3609?

[2019-03-19 14:46] luisramos0 commented on #3162
hi @amers185
nice! thanks for your interest!

I just checked. you can fix this, it's independent of #3609
I leave you a hint ;-) https://github.com/openfoodfoundation/openfoodnetwork/blob/fb29a7c7c210e22863a6bbd4a1619da0d1c75b19/app/views/admin/enterprises/welcome.html.haml#L7

[2019-03-19 15:00] amers185 commented on #3162
Ah thank you. So, on a high-level, this is not a missing key issue? Rather its more of not calling the right profile?

[2019-03-19 15:07] RachL commented on #2454
A first english version has been published and is now getting reviewed / used. So I'm closing this issue as I will follow this up on the user guide slack channel.

[2019-03-19 15:07] #2454 closed

[2019-03-19 15:19] sauloperez opened #3621 "Set up Delayed Job alarms for AU staging"
## Description

To better explain issues like https://github.com/openfoodfoundation/openfoodnetwork/issues/3391 it's important to know if Delayed Job is up or not. Not only for devs but this is also helpful for testers. Currently, v2 is running in AU staging.

We just need to add just another host with the current alarms system we have in place for AU production and share credentials in Bitwarden

[2019-03-19 15:21] sauloperez commented on #3391
I created https://github.com/openfoodfoundation/openfoodnetwork/issues/3621 to make it easier to spot the actual reason of the failure.

[2019-03-19 15:21] sauloperez commented on #3621
Do you think you could do it @mkllnk ?

[2019-03-19 15:26] luisramos0 commented on #3162
no, you have to make the code call the t function so that it looks up the translation key.

[2019-03-19 15:40] sauloperez opened #3622 "Add Delayed Job Web"
## Description

We need to make it easier to check the behavior of Delayed Job in a given server and perform basic operations like retries or deletion of jobs.

A good way to do so is by setting up [Delayed Job Web](https://github.com/ejschmitt/delayed_job_web). This will be particularly useful for stagings where we try and mess up with things.

I raised the topic [ages ago](https://community.open

[2019-03-19 15:59] sauloperez commented on #3622
If you want to check it live for Katuma, you can check it in https://app.katuma.org/admin/reports/order_cycle_management/delayed_job/overview. I did a massive hack back then to have it at least for us.

[2019-03-19 16:13] RachL commented on #746
Hello @NickWeir63 There was another bug with time selection that is now solve since 1.28 Completo. The current solution involves a selector which help select slots of 15min. However I just tested and if you add a custom hour/min combination it stays with the custom combination and does not reset. So I think we are good here and I'm closing this.

[2019-03-19 16:13] #746 closed

[2019-03-19 16:20] RachL commented on #994
hello @mkllnk do you remember what you meant with this issue? Is this really a bug or something for tech-debt?

[2019-03-19 16:27] RachL commented on #1253
@kirstenalarsen was this spotten in the mobile-ready work?

[2019-03-19 16:34] RachL commented on #1429
hello @mkllnk is this problem still happening?

[2019-03-19 16:36] RachL commented on #1473
I re-tested this and I don't this any issue. So closing it. Please do re-open it if I'm wrong!

[2019-03-19 16:36] #1473 closed

[2019-03-19 16:45] RachL commented on #1777
Hmm I definitely understand this is annoying, but it was clearly designed this way. So here we are again in a case where this is not a bug. I'm downgrading this as s4 for now and let's see if this can be a good first issue?

[2019-03-19 16:48] RachL commented on #1788
FYI read in #2979

and we close #1788

So I'm closing this.

[2019-03-19 16:48] #1788 closed

[2019-03-19 16:51] luisramos0 commented on #1534
spree v2 changed the way the mail method config is done.
we could retest this and see if it is still a problem in v2...

[2019-03-19 16:57] RachL commented on #1907
@myriamboure I have the feeling the OC page has change a lot since then. So I'm closing this as I don't see an update button anymore when no OC exists. If I missunderstood feel free to reopen it. Thanks.

[2019-03-19 16:57] #1907 closed

[2019-03-19 17:05] RachL commented on #1966
@kirstenalarsen I don't see this link anymore. Was this something removed part of the work with email confirmation stuff?

[2019-03-19 17:11] RachL commented on #2344
hey @myriamboure any updates on this one? I've received nothing related in customer support.

[2019-03-19 17:20] RachL commented on #3057
So as this is set up by a configuration setting, I suggest we move this to discourse if we want to change this. So I'm closing here as Myriam suggested.

[2019-03-19 23:09] amers185 commented on #3162
I feel rather dumb for asking this since I have only really inserted your code but this modification: "#{"producer " - if @enterprise.is_primary_producer? t('.producer_profile') - else t('.profile')}profile" in my IDE gives me an expected expression error at the dash before else and an expected herdoc end error? I have looked over different ways to try nested loops within tags for HAML but I am no

[2019-03-20 01:20] mkllnk commented on #3621
Sure. I can set up some monitoring and connect it to Slack. But for testers, the best way to check is the API: https://staging.openfoodnetwork.org.au/api/status/job_queue

[2019-03-20 01:27] mkllnk commented on #994
I remember that only vaguely. The problem is when you change a lot in bulk products edit and then click "Save" it updates all in one go. If one variant has an error, nothing is saved. And maybe the error reporting wasn't great on that either. Here I'm referring to new variants you create. That's were you can make mistakes and you don't get feedback. I think a user reported this as a bug because th

[2019-03-20 01:30] mkllnk commented on #1429
No, closing this.

[2019-03-20 01:30] #1429 closed

[2019-03-20 01:31] kevinchristianson commented on #3001
Sadly, [our group project](https://building-big.weebly.com/) has come to an end. [Here](https://github.com/kevinchristianson/openfoodnetwork/blob/SWAGGERHUB/swagger.yaml) is the file for what we've documented thus far, and you can see it hosted [here](https://app.swaggerhub.com/apis/haseleyi/ofn-staging/0.1#/). We've all enjoyed working on this project and want to thank you all immensely for your

[2019-03-20 01:33] mkllnk commented on #1777
I don't think it's a good first issue because of all the connected issues and pull requests. There is a lot to consider here.

[2019-03-20 08:01] #3525 closed

[2019-03-20 09:14] sauloperez commented on #3621
We also need to get notified when it goes down so we prevent possible failures testers might not notice. Just as we do for production. Also, all alarm 3rd-party services (from what I know of HappyApps) give you details about each incident.

[2019-03-20 09:23] RachL commented on #1777
ok thx @mkllnk I'm leaving it has this then for now. And let's see if it's something that needs to be moved to discourse.

[2019-03-20 09:26] sauloperez commented on #2971
Totally up for separating this from the upgrade but how do we handle the described case since #3394?

[2019-03-20 09:31] sauloperez commented on #1534
I assume this will still fail because it is related to the way Delayed Job processes work. IMO the easiest and more maintainable solution is to add sidenote that this change requires a Delayed Job restart. All those proposed solutions seem a bit overengineering to me. After all, an instance doesn't change the email every day.

[2019-03-20 09:33] mkllnk commented on #3582
That failure in `spec/features/admin/shipping_methods_spec.rb:114` was addressed in 6e77afbf35644dc24519d18be6ae7e66287d36e7 and hasn't failed on the 2-0-stable branch since then. Maybe it's fixed.

There is a recent failure of `spec/features/admin/shipping_methods_spec.rb:86` though:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-0-stable/builds/229

[code]

[2019-03-20 09:42] RachL commented on #769
@mkllnk For this one, we have a now a notification if the user attempt to checkout something in his cart that has become unavailable. Was this the case here?

![image](https://user-images.githubusercontent.com/6525576/54674446-bb885980-4afc-11e9-9bb6-3e2ba8b6cbd0.png)

[2019-03-20 10:14] RachL commented on #763
@mkllnk how about this one? Is this error still happening?

I'm sorry for all those questions. Please take your time to review them, it's not at all urgent ;)

[2019-03-20 10:27] mkllnk commented on #2971
I think #3394 deals with all the existing delete/destroy calls. That should be all that's required for the Spree upgrade. I think soft-deleting enterprises is an additional feature that is completely independent. @luisramos0 What do you think?

[2019-03-20 10:32] mkllnk commented on #769
I don't know. Let's close it.

[2019-03-20 10:32] #769 closed

[2019-03-20 10:39] mkllnk commented on #763
This has not happened lately. Thank you for going through all these old issues. It's good to clear them up.

[2019-03-20 10:41] RachL commented on #763
As last time was 3 years ago, I'm closing it and we will reopen it if this happens again. But I'm afraid it's too old and we won't come back here.

[2019-03-20 10:41] #763 closed

[2019-03-20 10:45] mkllnk commented on #3582
I can't get it to fail locally. On Semaphore, I got it to fail once in 130 spec runs. It did fail on it's own. So it's not another spec interfering. Anyone having any other ideas?

[2019-03-20 11:35] RachL commented on #2860
@mkllnk is this one related to this old one: https://github.com/openfoodfoundation/openfoodnetwork/issues/762
If yes, shalle we close #762 ?

[2019-03-20 12:02] #3520 closed

[2019-03-20 12:14] RachL opened #3625 "[Spree upgrade] Cancelled state translation missing"
## Description
When an order has been cancelled, the state is not correctly translated.

## Steps to Reproduce
1. Create an order
2. Go to the admin order page and cancel it
3. The state of the order should change to cancelled, thus showing the missing translation shipment_states.canceled (whatever the language chosen)

## Animated Gif/Screenshot
![image](https://user-images.githubusercontent.com/

[2019-03-20 12:36] #3542 closed

[2019-03-20 12:36] #3600 closed

[2019-03-20 12:36] #3594 closed

[2019-03-20 12:52] luisramos0 commented on #3162
welcome to rails routing :-D
re second question: you need to look at the routes and then follow them to controllers and views.
look in admin.rb
- resources :enterprises do
welcome is a normal member, so, with the old sample data:
admin/enterprises/enterprise-2/welcome

you can load the old sample data locally with bundle exec rake ofn:dev:load_sample_data

the new sample data is loaded with ofn:da

[2019-03-20 14:08] sauloperez opened #3626 "Do not refresh cache when deleting OC"
### What we should change and why (this is tech debt)

When deleting an order cycle that was just created instead of simply expiring the cache key we do enqueue a `RefreshProductsCacheJob`. That is a bit odd since there is no order cycle to fetch its products from.

The first thing we need to understand is where this refresh is triggered from. So far the refreshes are caused by an `after_save` cal

[2019-03-20 14:42] sauloperez commented on #3565
I managed to get to a working Gemfile by commenting out a bunch of gems in https://github.com/openfoodfoundation/openfoodnetwork/pull/3627

[2019-03-20 17:46] RachL opened #3629 "Deleting a variant has no direct effect on a shopfront"
## Description
If you delete a variant, it keeps showing up on the shopfront until you save a second time changes on your product.

If someone attempts to add this deleted variant to cart it gets a infinite loader

I saw this while testing #3619 but could reproduced it on French production

## Steps to Reproduce
1. I deleted a variant that already existed on a staging server
2. I saw that it was c

[2019-03-20 17:55] RachL commented on #994
@mkllnk could this be the same as : https://github.com/openfoodfoundation/openfoodnetwork/issues/2774 ?

[2019-03-20 18:11] RachL opened #3630 "Release v 1.29 Durian"
Semaphore link: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/562

[2019-03-20 21:31] luisramos0 commented on #3629
This looks like a cache problem. With the new feature to disable cache we can disable cache and see if this happens with the cache disabled :-)

[2019-03-20 23:38] mkllnk commented on #3621
Okay, I created my own Happy Apps account and added a check for the Australian staging server. Notifications should go to Slack.

I didn't see a global Happy Apps account. @sauloperez Is that something we still need to do? Then we can put that in Bitwarden and we have all the checks together.

[2019-03-20 23:45] mkllnk commented on #3622
That is still a great idea. Do you think we should create a standalone app for this or integrate it within OFN?

[2019-03-21 01:10] mkllnk commented on #2860
No, they are two different issues.

[2019-03-21 01:40] #3576 closed

[2019-03-21 01:41] mkllnk commented on #3358
Closed by https://github.com/openfoodfoundation/openfoodnetwork/pull/3590.

[2019-03-21 01:41] #3358 closed

[2019-03-21 01:46] mkllnk commented on #994
That is a very similar issue. Not exactly the same as I propose here to save a new variant straight away. But if you think that we don't need it, I'm happy to close this one in favour of #2774.

[2019-03-21 05:34] mkllnk commented on #993
As a first investigation I looked at the Canadian server because the data is small enough to handle. There are two cache entries out of sync. I looked at failed jobs and there are some that failed because of a missing order cycle. The enterprises of those jobs don't match the invalid cache entries. So it's not their fault.

[2019-03-21 05:48] mkllnk commented on #3629
This could be a duplicate of #2111. In that case it's no cache problem.