[2016-07-08 04:41] RohanM commented on #1072
The branch `filter-by-producer-properties` allows filtering of producers by the product properties or producer properties. The filtering should take effect on the producers page and also the groups "Our Producers" tab. The filters should resize to fit the space correctly when the browser window is resized.

[2016-07-08 08:26] NickWeir63 commented on #1035
@OliverUK sent me this screenshot - sorry for the dealy in posting it

![screen shot 2016-06-27 at 11 48 52](https://cloud.githubusercontent.com/assets/10517702/16681652/fa4ad408-44ed-11e6-81f7-24399b8ff90c.png)

[2016-07-08 08:28] NickWeir63 commented on #1040
i agree that town/city would be better

[2016-07-10 12:31] myriamboure commented on #725
Just a question: if various tax rates are applied to different products in the shopfront (for example 5,5% for food and 20% for handcraft soap sold in the hub as well), will it appear as one tax line per tax rate/tax category? Or just like in Sally's example, one line for all taxes? In the invoices in France, it's a legal requirement to have the amount of t... (only in invoices, but probably great

[2016-07-10 19:51] myriamboure opened #1095 "Untranslated strings in front end interface"
I think this has not been covered actually in the work done on business model configuration.
It seems that when I create a new store and click on the link "access my store", the page is not translated in French.

![screenshot from 2016-07-10 21-47-02](https://cloud.githubusercontent.com/assets/8135376/16715695/f3cfac4c-46e7-11e6-8168-747a24d894e6.png)

I checked in Transifex and I couldnt find the

[2016-07-10 23:40] daniellemoorhead commented on #725
@oeoeaio or @sstead are you able to help @myriamboure with her question?

[2016-07-11 21:31] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57841041c36820b9572ee241)

[2016-07-12 07:33] mkllnk commented on #1095
The latest translations have not been copied into the transifex branch. I will have a look why that is. I also just updated the source file. That means that there will be new translations available in Transifex within the next 24h.

[2016-07-12 07:55] lin-d-hop commented on #1074
@mkllnk @sstead Hi folks, any updates on this one?

[2016-07-12 07:58] mkllnk commented on #1074
Rohan worked on getting the Paypal sandbox working so that we can reproduce the error. But I haven't heard from @sstead that she could reproduce it yet.

[2016-07-12 08:35] NickWeir63 commented on #312
thanks @serenityhill for talking to Rohan about a time estimate on this

[2016-07-13 00:50] bingxie commented on #1062
- [ ] add bill_address_id and ship_address_id index and foreign key

[2016-07-13 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=578592a48426c87d6ceddb49)

[2016-07-13 01:44] mkllnk commented on #1095
@myriamboure You were right. These strings are still hard-coded in these two files:

- `app/assets/javascripts/templates/admin/panels/enterprise_package.html.haml`
- `app/views/admin/enterprises/_change_type_form.html.haml`

They have been there for a year.

Is someone keen to do the internationalisation work and open a pull request?

[2016-07-13 03:50] sstead commented on #725
Hi @myriamboure I just did some testing on our staging server and it looks like the two tax rates are joined into one figure in the checkout and in the order confirmation. The sales tax report also joins the two taxes into one figure which is not ideal for you in France.

[2016-07-13 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5785cae82645002569e42380)

[2016-07-13 06:45] mkllnk commented on #1035
The following pages are now loading a smaller set of enterprises:

- shopfront,
- cart,
- checkout,
- order confirmation

On the Australian production server the shop list loads all enterprises and needs between 4 and 40 seconds for that. The Food Connect shopfront needs only 1.2 to 1.5 seconds loading fewer enterprises. This does not include the javascript rendering that goes on top of that.

I s

[2016-07-13 06:45] #1035 closed

[2016-07-13 16:53] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5786721c236c044466be2dc5)

[2016-07-15 00:35] mkllnk commented on #1094
@kirstenalarsen Please test again and close the issue if it all works. :-)

This issue is not code related and shouldn't go into the release notes.

[2016-07-15 00:57] daniellemoorhead commented on #1074
Hi there @Rocksj and @lin-d-hop, I've moved this issue into the 1.8.3 milestone and @mkllnk will be working on a fix now that @sstead has been able to replicate the issue. Stay tuned for updates :)

[2016-07-15 01:31] daniellemoorhead commented on #1050
@oeoeaio need you to add your estimates to all the issues within this epic.

[2016-07-15 01:32] daniellemoorhead commented on #1049
@oeoeaio need you to add your estimates to all the issues within this epic.

[2016-07-15 07:38] mkllnk commented on #1074
I am a little bit closer to what's happening here. The PayPal payment gateway creates two payments. Both add the fee as line item.

The first one is created when the user is redirected to PayPal. It is then in the checkout state.

Once the user comes back from PayPal, the payment state is set to invalid. A second payment is created when the user comes back from PayPal. It's final state depends on

[2016-07-15 09:21] Rocksj commented on #1074
Great! Good detective work

[2016-07-17 18:00] stveep commented on #1052
Hi @oeoeaio @daniellemoorhead I've had a go at this and think it's nearly there. I've broken something on the OC page though and can't figure it out - think it's probably something quite simple though so maybe one of you could take a look?

It all works ok for me, but only when using cached requests (if I have the debugger open, I need to step over the xhr errors below). Once I disable caching (in

[2016-07-19 00:00] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=578d6d8e8f26251764bde0a8)

[2016-07-19 09:10] nanoharsha commented on #768
Has there been any progress made against this ?
We are testing the same in the Indian instance and are also stuck at the same issue mentioned by @myriamboure as above !!

[2016-07-19 09:17] nanoharsha commented on #1059
@daniellemoorhead @oeoeaio does the above issue and work being done to fix it, also address the below issue #768  raised by @myriamboure .

Cheers.

[2016-07-20 01:00] mkllnk commented on #1077
- [ ] add process state to order cycle model (3h)
- [ ] write job to be executed periodically (6h)
- [ ] write cron job to create a delayed job (1h)
- [ ] setup cron job with ofn-install (4h)

[2016-07-20 01:03] mkllnk commented on #1078
- [ ] Create or extend mailer (1h)
- [ ] Create email templates in text and html (1h)
- [ ] List items that are unavailable (3h)
- [ ] Highlight changed prices (2h)

[2016-07-20 01:21] mkllnk commented on #1080
- [ ] Extend job to check for closed order cycles (2h)

A confirmation email is already sent automatically.

[2016-07-20 01:32] sstead opened #1098 "Create new order in backend - payment method fees not added"
This order is for $10.70.
When I select Payment method 'cash with fee' ... 10c is added to the order as the fee for payment method.
But this 10c isn't added to the payment.
![image](https://cloud.githubusercontent.com/assets/10843056/16972243/3334c214-4e6d-11e6-94ac-cbcca1eb7f48.png)
See how the amount due is $10.80 but the payment is for just $10.70.
![image](https://cloud.githubusercontent.com/a

[2016-07-20 01:36] mkllnk commented on #1074
It looks like we fixed it with #1097.

[2016-07-20 04:17] #1094 closed

[2016-07-20 04:36] kirstenalarsen opened #1099 "funny wrapping on description text on groups page"
![image](https://cloud.githubusercontent.com/assets/2911176/16975164/33187536-4e87-11e6-9b54-59c2c603c665.png)

[2016-07-20 04:39] kirstenalarsen opened #1100 "spacing in producer / hubs lists on group page"
lots of wasted space and long names not wrapping, looks funny  . .

![image](https://cloud.githubusercontent.com/assets/2911176/16975262/f7b40be4-4e87-11e6-93d8-0ed61daf40e3.png)

[2016-07-20 05:17] kirstenalarsen opened #1101 "accidentally scrolling map on group page"
is it possible to make the mouse scroll move the page until you click on the map (or something?)

Currently you land on the page and scroll down past the banner, which lands you on the map and starts zooming, when what you're really trying to do is just get down to the map

![image](https://cloud.githubusercontent.com/assets/2911176/16975765/f579ae1a-4e8c-11e6-8332-21f5e174d831.png)

[2016-07-20 05:26] kirstenalarsen opened #1102 "Repurpose dropdown on Aus site for donate"
![image](https://cloud.githubusercontent.com/assets/2911176/16975913/447b71dc-4e8e-11e6-9e75-6783922c3a3b.png)

[2016-07-20 05:51] kirstenalarsen opened #1103 "Enterprise E2E link management - tab in enterprise mgmt would make this a lot more obvious"
![image](https://cloud.githubusercontent.com/assets/2911176/16976367/97f100d6-4e91-11e6-82a2-3277c6ed7692.png)

[2016-07-20 05:55] kirstenalarsen opened #1104 "Enable enterprise to set product categories without creating products"
Could be implemented similarly to properties (see below)

Would enable producers that are profile only to quickly and easily set up so that they come up in filters in listings

![image](https://cloud.githubusercontent.com/assets/2911176/16976453/5406a820-4e92-11e6-8c07-efe399e34992.png)

[2016-07-20 05:59] kirstenalarsen commented on #1104
found earlier issue, https://github.com/openfoodfoundation/openfoodnetwork/issues/756

[2016-07-20 05:59] #1104 closed

[2016-07-20 06:04] kirstenalarsen commented on #624
looks like we hit a stalemate on this? @sstead can we discuss whether / what quickfx we might want for aus re-launch?

[2016-07-20 06:10] kirstenalarsen commented on #576
@sstead - did this get sorted as part of https://github.com/openfoodfoundation/openfoodnetwork/issues/757 or still needs work?

[2016-07-20 06:16] sstead commented on #576
Still needs doing.

[2016-07-20 06:16] kirstenalarsen commented on #576
is important do you think?

[2016-07-20 06:21] kirstenalarsen commented on #966
not sure what this is - @sstead could you put a bit more description?

[2016-07-20 06:23] sstead commented on #576
Important but not urgent I think. The worst that can happen is a hub finds they have permission to stock lots of enterprises's products when they shouldn't (if they were created as part of a group). But realistically at this point, for Australia, there aren't many groups being setup, and of those, there aren't lots of profiles that then go to add products and setup shops. It should be fixed eventu

[2016-07-20 06:37] sstead commented on #966
This was one of the many cards which had accumulated in a pile in the office, which I put on Github. I didn't write the card so excuse vagueness, but I think this is a request for a 'badge' or link to be placed on an enterpris' profile for each group they're a member of. Clicking on this link would take the visitor to that group's page. I.e. a 'Flavour Crusader' badge would be on the profile, link

[2016-07-20 07:42] sstead commented on #624
I'd suggest one of these options in the meantime...
1. Can we have the full modal open up, rather than the dropdown style, brief profile? Just as occurs in the map view? Do we have any reason to keep the brief description mini profile?
2. If not, can we have a link in the brief profile view which says 'view full profile', which takes them to the modal, on the map if neccessary?
On Australia's modi

[2016-07-20 07:47] sstead opened #1105 "More detailed 'Shop Now' information in modals"
Enterprises may wish to share outlets/shops where customers can access their products, other than OFN shops. Their profiles don't have a dedicated place to do this currently, enterprises just have to write this information in their About Us text. Proposal is to have more diverse 'shop now' icons that capture retail shops, farm gate stalls, external online shops etc.

FULL DETAILS - http://communit

[2016-07-20 10:33] mkllnk commented on #624
I would vote for opening the modal instead of showing the fat view. That should be quite easy. I just looked at the production site and saw some bugs in the fat view as well. The -shop-for labels are showing without any shops.

![screenshot from 2016-07-20 20 32 17](https://cloud.githubusercontent.com/assets/3524483/16983632/17d59ace-4eb9-11e6-9b3d-16af91d625f8.png)

[2016-07-20 14:31] lin-d-hop commented on #1047
@Rocksj Can you confirm this is still an issue. v1.8.3 deployed with some speed enhancements.

[2016-07-22 05:32] sstead commented on #1092
Android - Chrome
Some dropdown menus were split on the screen and difficult to click on. Included select enterprise for new OC and for viewing Customers in the back.
![image](https://cloud.githubusercontent.com/assets/10843056/17047434/59eba5de-5021-11e6-9bd1-7065efbe9682.png)

[2016-07-22 05:32] #1079 closed

[2016-07-22 05:32] daniellemoorhead commented on #1079
This is a duplicate of #1088

[2016-07-22 05:44] kirstenalarsen commented on #1092
given the discussion at http://community.openfoodnetwork.org/t/ux-upgrades/640, I think is useful to label issues like this . . "mobile" or "ux"? @lin-d-hop @sstead @daniellemoorhead - anyone have a view?

[2016-07-22 06:18] mkllnk commented on #1083
@sstead Can you give some feedback about the layout of this? It could look like this:
![screenshot from 2016-07-22 16 15 31](https://cloud.githubusercontent.com/assets/3524483/17048253/dcbc6894-5027-11e6-9ce8-bcd592aff181.png)

[2016-07-22 06:38] kirstenalarsen opened #1106 "'back to ofn aus' link logs me out of ofn"
When I am logged in on noticeboard and hit the 'back to ofn australia' link, it takes me to openfoodnetwork.org.au in same tab but has me logged out

![image](https://cloud.githubusercontent.com/assets/2911176/17048555/314f589c-502a-11e6-93f3-1eecabbfa5f2.png)

![image](https://cloud.githubusercontent.com/assets/2911176/17048560/3d469980-502a-11e6-87ed-4027ca7300d8.png)

If i open a new tab in sam

[2016-07-22 07:00] sstead commented on #1083
How does it feel when the orders are both longer? I suppose it would scroll? The 'already ordered' section doesn't need a 'checkout now' button- will people be able to edit a past order as well? Otherwise it's good. Will there be a whole page view as well?..sometimes I shop without using the mini cart feature, and it would be good to see my already placed ordered in a full screen too.

[2016-07-22 07:08] mkllnk commented on #1083
Yes, it would scroll.

These two buttons where already there. Originally, it was at the bottom. Then we placed a second one at the top in case the cart is very long. Now, the bottom one looks like it belongs to the ordered products. Should we just show the top buttons?

Yes. But that comes later.

Yes. But that comes later.

Is the total of the previously ordered stuff confusing? We could hide tha

[2016-07-23 10:24] pmackay commented on #1092
@kirstenalarsen labels added.

[2016-07-25 08:33] myriamboure commented on #1095
@mkllnk thank you for your answers, and for fixing the transifex branch :-) @blancnic do you think you can do the internationationalisation work for the two files mentionned, so that the strings can be translated in Transifex? @sigmundpetersen that also concerns Norway.

[2016-07-25 09:09] myriamboure opened #1107 "Need a manual hack for a front end translation..."
From the begining in theFrench instance, we have useda manual hack to display the translation on the "end date" of an order cycle. At each upgrade we needto do it again, so we would like to solve the issue more sustainably.
Any idea how we can display the translated string? @mkllnk or @sigmundpetersen maybe?

![pb_traductionfr](https://cloud.githubusercontent.com/assets/8135376/17096112/1e291fb6-5

[2016-07-25 09:55] myriamboure commented on #1107
The problem doens't happen on our  staging server, so it's link to internationalisation configuration apparently, but we don't find yet the problem...

[2016-07-25 14:31] lin-d-hop commented on #992
Closing as this has now been tested and released.

[2016-07-25 14:31] #992 closed

[2016-07-25 14:32] lin-d-hop commented on #1041
@MagsHall can you test this is now fixed please?

[2016-07-25 16:05] myriamboure commented on #768
@nanoharsha from what I understood if you are bothered by those useless order cycle / hubs you have to delete them directly in the database... we are just leaving with them, they don't really bother us, they are closed and we use the search tools to filter what we search all the time, so we thought it was not a priority...

[2016-07-25 16:07] myriamboure commented on #1059
I don't think so @nanoharsha I answered in the other thread :-) I was talking about any order cycle, here is a specific feature for standing orders. The other issue was that if you create a test order cycle and just go on it on the front end and add an item to your basket to test, the system create an uncomplete order with the status "cart", and then you can't delete the order cycle... I think it'

[2016-07-25 16:58] myriamboure commented on #725
Ok, thanks for the precision @sstead. I will add that to the list of the things we need to fund for France then. Cheers!

[2016-07-25 18:04] nanoharsha commented on #768
@myriamboure  agree. Started ignoring and working on other important testing.

[2016-07-25 23:34] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5796a1f1550e0fd961af920c)

[2016-07-26 10:05] mkllnk commented on #1107
That translation is done by a plugin called `momentjs-rails`. Maybe check for differences in your application configuration `application.yml`. Or read the documentation of that plugin. There might be hints why it thinks it should display English.

[2016-07-26 10:46] myriamboure commented on #1107
Ping @gnollet :-)

[2016-07-26 13:49] blancnic commented on #1107
I think we need to add //= require moment/fr.js
https://github.com/derekprior/momentjs-rails

[2016-07-27 02:03] kirstenalarsen opened #1108 "no 'invite users' button in aus noticeboard?"
When I'm in ofn global community I have option to invite users

![image](https://cloud.githubusercontent.com/assets/2911176/17161560/da0345be-53f1-11e6-9912-de7c74bbf1ac.png)

but in the noticeboard I don't . . @mkllnk do you know if there is a reason for this? Trying to work out the best way to get people through this process and encountering some issues [here](http://community.openfoodnetwork.or

[2016-07-27 02:12] mkllnk commented on #1108
Yes, because you need an OFN account for the noticeboard. They are tight together. There is no signup for the noticeboard, only at OFN. So you can't invite people to the noticeboard. The OFN would need a feature to invite people to the OFN.

[2016-07-27 02:17] kirstenalarsen commented on #1108
hmmmm. ok. will rethink

[2016-07-27 02:19] kirstenalarsen commented on #1108
so if they are already members of ofn, we still can't send them the email with activation to complete the login on noticeboard . . they would still have to login, hit notices, hit login again and then go to their email to hit the activation link?

[2016-07-27 03:07] mkllnk commented on #1108
Only the people that don't have a verified email with OFN yet. Yes, the problem is that we don't verify email addresses of OFN accounts, but Discourse needs verified email addresses.

[2016-07-27 08:55] blancnic commented on #1107
@mkllnk : don't you thing we could include this in a configuration file or define a all.js.coffee by country? Actually, we have to modify the js file each time we upgrade....

[2016-07-27 10:18] nanoharsha commented on #768
@myriamboure , I have seen that in the current staging environment staging2.openfood.com.au, this error is no more. We tried to delete an order cycle and it surpisingly happened.
I believe we did at a week back, and it didnt happen, but not completely sure.
I rechecked the release notes and didnt find any mention of any fix.
Can you verify from your end also, and if it is the same, we can notify t

[2016-07-27 10:18] nanoharsha commented on #768
I dont have access to deleting enterprises, as I am not super admin, hence cat validate that.

[2016-07-27 10:37] myriamboure commented on #1107
Why is it working in staging then?
Is there the same issue in Norway @sigmundpetersen ? You only have a production instance, o you have to modify the js file each time you upgrade as well?

[2016-07-27 11:14] myriamboure commented on #768
@nanoharsha I just tested again and no change, when I have a product in the basket, it still creates a "cart" status order and I don't see the dustbin to delete the OC anymore... so no change for me.

[2016-07-27 11:17] myriamboure commented on #768
The question is: should the hub manager be able to delete a OC if there are orders with a status "cart"? Or if there are orders completed but deleted?
For me it should be possible, as it means it's mainly used for tests, in real life if a hub open an OC there will be orders so they won't be able to delete it, and it's ok if they delete and OC before there have been any order, no?

[2016-07-27 12:29] mkllnk commented on #1107
all.js.coffee has already locale specific data, the I18n object with translations. If we could load other locale-dependent js-libraries in a similar way, that would be good. I don't think we want to include every locale in every instance. The all.js file would become too big and would negatively impact the user experience.

[2016-07-28 13:19] blancnic commented on #1095
@myriamboure : sorry didn't see your msg. Yes I'm going to take a look

[2016-07-29 00:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=579a9c97ad5b9ca250164ee3)

[2016-07-29 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=579ab8b444acad5c0873bfc2)

[2016-07-29 02:44] sstead commented on #1072
@RohanM properties aren't showing in the filter.
![image](https://cloud.githubusercontent.com/assets/10843056/17236137/2c1dda5a-558a-11e6-8311-c140de0edab4.png)

[2016-07-29 03:35] RohanM commented on #1072
Looks like the producers was being cached, so we weren't getting the property info. I did `Rails.cache.clear` and it looks good now. We might need to do this on production when it ships.

[2016-07-29 06:25] sstead commented on #1072
Yay looks good Rohan!
- Catches enterprise with only product properties
- Catches enterprise with only enterprise properties (and no products/or with products)
- Catches both
- Removes deleted properties
- Works on profile only, shop, farmer hub.
- Works in groups too
- Is applied 'and' with the products filter

[2016-07-29 12:15] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=579b48c8a456fffa509ac50c)

[2016-07-31 13:18] sigmundpetersen commented on #1107
@myriamboure yes we have the same issue on the Norwegian instance

[2016-07-31 16:35] NickWeir63 opened #1110 "Odd labels on login screen"
all the login screens (including 'forgot password' etc) have odd labels in the red boxes.  I know this has happened before - was it something to do with a new deploy?
thanks
N
![screenshot 2016-07-31 17 27 09](https://cloud.githubusercontent.com/assets/10517702/17277831/06cc6480-5745-11e6-9661-efb261db5fd4.png)

[2016-08-01 07:55] lin-d-hop commented on #1110
We seem to have lost some translations again. I'll fix this.

[2016-08-01 08:53] gnollet commented on #1107
Hi,
I add the line //= require moment/fr.js on all.js.coffee and rebuild the assets.

That's fix the issue but we must think to this on each time we want to update platform.

[2016-08-01 09:20] mkllnk commented on #1107
Are you deploying via `git push`?

You can put that into your deploy script `.git/hooks/post-receive` on the server. Something like:

[code]

Just before the assets are rebuild. I'm not sure about the path. You need to check that. But it would do it automatically every time you deploy.

[2016-08-01 09:30] gnollet commented on #1107
@mkllnk I'm using ansible scripts
I will take a look on the script to see if I can insert this

Thanks

[2016-08-01 09:46] mkllnk commented on #1107
That git hook is installed by the Ansible scripts, but not executed. The approach above works only with git-push deploys. If you do Ansible, you will need an Ansible playbook that adds that line to your all.js file.

[2016-08-01 11:01] Rocksj commented on #1047
Afraid so @lin-d-hop
![screen shot 2016-08-01 at 11 57 00](https://cloud.githubusercontent.com/assets/15102362/17292114/b92ccc06-57df-11e6-8ebd-9dfbb1fff6a8.png)

[2016-08-01 11:32] stveep commented on #1010
Maybe I'm missing something, but on the admin/products/bulk_edit page I only see one save button (on the save bar at the bottom of the screen) - it only appears when a change has been made, and responds correctly with "Saving..." and "Saved" messages. So everything looks fine to me. I'm wondering if @bingxie 's other work on the save bars has fixed this since the issue was opened?

[2016-08-02 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57a00cc33700780d00d03bf5)

[2016-08-03 00:28] daniellemoorhead commented on #1067
@stveep this issue was closed and not worked on because it was a duplicate. So you're the only person to have worked on it.

[2016-08-03 00:30] daniellemoorhead commented on #1010
@bingxie and @oeoeaio and @mkllnk are you able to shed some light for @stveep?

[2016-08-03 00:40] daniellemoorhead commented on #1052
@stveep have you got this ready in a PR for code review and testing by @oeoeaio and @sstead?

[2016-08-03 02:06] RohanM commented on #312
Hi everyone,

This is on my radar and I'll look at a solution the coming Wednesday (in a week).

[2016-08-03 02:56] kirstenalarsen opened #1112 "Make front page dropdown banner customisable by super-admin"
The front page dropdown has a range of potential uses and is not currently that friendly

In Aus, we have an immediate alternative use that we are implementing - to point people to new resources and functions ('learn' and 'connect') - see more about this [here](http://community.openfoodnetwork.org/t/new-configurable-landing-page-for-ofn-sites-new-sub-landing-page-for-enterprise-users/627/3)

We ar

[2016-08-03 02:59] kirstenalarsen commented on #1102
replaced by https://github.com/openfoodfoundation/openfoodnetwork/issues/1112

[2016-08-03 02:59] #1102 closed

[2016-08-03 05:17] RohanM opened #1114 "Thrive homepage changes - feature toggles"
We're making some changes to the site home page as part of the Thrive project, adding further information to the Australian site. We'd like to do this without affecting the home page for other instances. To achieve that, we're adding a feature toggle that will allow these changes to be turned on or off on a per-instance basis. The default will be for these features to be disabled, so no change is

[2016-08-03 05:23] RohanM opened #1115 "Feature toggled home page changes - future strategy"
As part of #1114, we're adding feature toggles that customise some parts of the home page. This is not ideal - we'd like these things to be configurable instead. A future strategy might involve shifting control of these things into the `Configuration -> Content` page of the admin section.

There was also some discussion around changing the behaviour of the page alert bar (aka Uber dropdown) to mod

[2016-08-03 06:28] stveep commented on #1052
PR #1111

There is also an authentication problem that I'm not sure how to fix - it works for a [super] admin user but not for a regular user at the moment. As noted on the PR, I couldn't get my feature test working (it's there but set to "pending") and this might be why. I won't have time to look until the weekend but it's probably an easy fix if you could have a look @oeoeaio ?

[2016-08-03 08:34] OliverUK commented on #1092
Does it sound reasonable to focus any work on improving the front end first? I'd expect hub admins to be using a computer but I may be old-fashioned in this regard.

[2016-08-03 10:35] myriamboure opened #1117 "When the arrow of the mouse pass over "expand all" on the product list, the arrow transforms in a vertical writting tab instead of a hand"
Connected to #612, a very little thing which has a bad impact on user experience for the hub manager, that I have noticed in supporting new hub user.
On the bulk edit products page, when I approach the arrow of my mouse to the "expand all" red text, the arrow transform in a writting vertical bar, not in the usual small hand that indicates that the link can be clicked.
I saw with users sharing thei

[2016-08-03 10:41] myriamboure opened #1118 "Make "on demand" check box a default column in the bulk edit product table"
I have noticed in support with new users that they don't find intuitively how to say that the product is available on demand when they create products from the bulk edit page. (=click on "columns" and then "on-demand")
So some of them just put a false arbitrary quantity (see example below), but that pollute the base then and can be annoying if various hubs use the same supplier.
As "on-demand" is

[2016-08-03 10:42] myriamboure commented on #1118
Any objection @sstead , what do you think about it, as you are in contact with users often in support?

[2016-08-03 10:47] Rocksj commented on #1110
And on the account balances screen
![screen shot 2016-08-03 at 11 44 51](https://cloud.githubusercontent.com/assets/15102362/17363008/f3f1f456-596f-11e6-813b-a848d562088d.png)

[2016-08-03 10:52] Rocksj commented on #1047
And 3 customers who we know of complaining this week that the system is slow, crashing and they are not ordering because of this. We have managed to put through one manually but this is clearly still an issue.

[2016-08-03 11:16] lin-d-hop commented on #1110
This is a translation issue and I need to wait until a time that OFN can go unused to 20 mins to make the change. Will try for midnight tonight...

[2016-08-03 11:55] Rocksj commented on #1110
We will definitely be closed then! @lin-d-hop

[2016-08-03 12:00] Rocksj commented on #1047
Both PCs, one on a Windows laptop (unknown spec) but about 2 years old. Another was from a works PC, pretty new fangled sparkly workplace, the third unknown. I'll try to find out more if that would be helpful? Is there a standard list of questions to ask?

[2016-08-03 12:03] lin-d-hop commented on #1047
Yeah finding out the device (mobile, laptop etc), OS and version (windows 7, ubuntu 12.04), browser (chrome, IE), age, internet connection (3G, wifi) can be helpful. But clearly we have a real problem that needs to be unpicked as fast as possible!

[2016-08-03 12:44] OliverUK commented on #1047
As it used to happen to me, would it help to know about my computer?
![screen shot 2016-08-03 at 13 44 09](https://cloud.githubusercontent.com/assets/17590921/17365909/76534a7a-5980-11e6-9feb-f51d02db1ea1.png)

[2016-08-03 14:07] lin-d-hop commented on #1047
How did it stop happening? @OliverUK

[2016-08-03 14:33] MagsHall opened #1119 "Deleting enterprise managers does not save"
On UK production, if you try and delete an enterprise manager from an enterprise for which you are the owner, it does not save unless you also update the owner or notifications email at the same time. Clicking on the delete icon next to the user will remove the name, but the 'update' button at the bottom does not turn red and allow you to save. If you leave the page and return the deleted user wil

[2016-08-03 15:06] OliverUK commented on #1047
I'm afraid I don't know. It's still slow but the Unresponsive Script pop-up doesn't come up anymore.

[2016-08-03 15:32] MagsHall opened #1120 "Update button is obscured by free trial message"
When editing enterprises and sometimes when editing products, the update / close buttons are obscured by the free trail message at the bottom of the screen. I can't see any obvious way to turn off or close this message.

![obscured update button](https://cloud.githubusercontent.com/assets/19837861/17371451/d218ba40-5997-11e6-9dce-0afe19d1b7e4.png)

[2016-08-04 04:00] bingxie commented on #1010
Yes, now we have the same save bar on serval pages includes the bulk edit products page. And it acts like @stveep said. So I think we can close this issue.

[2016-08-05 00:18] oeoeaio commented on #1047
@Rocksj @lin-d-hop @OliverUK

We are trying to release an update today as v1.8.4 that may help with this. It's around improving shopfront performance (esp. initial load and subsequent searching/filtering) mainly in response to @OliverUK's post on [discourse](http://community.openfoodnetwork.org/t/what-s-new-v-1-8-3-160720/636/2).

[2016-08-05 01:11] RohanM opened #1121 "Property badges and filters on shop pages"
#1072 added property filters to producers listings (producers page and groups producers tab). Add badge display to the shops page and the groups shops tab.

[2016-08-05 01:13] #1072 closed

[2016-08-05 01:52] mkllnk opened #1122 "Load fewer enterprises into shops/producers pages and others"
Issue #1035 was about loading only needed enterprises into the shopfront. But there are more pages that still load all enterprises:
-     app/views/home/_hubs.html.haml the list of shops, this is a similar task, but could work very well, because we are showing only a few enterprises at the beginning
-     app/views/groups/index.html.haml listing all groups, this is only for searching certain group

[2016-08-05 02:01] daniellemoorhead commented on #1027
@RohanM any thoughts on @pmackay's suggestion above of disabling the CMS-generated sitemap and adding a controller to create one?

[2016-08-05 05:48] RohanM opened #1123 "Homepage changes for Thrive"
Make some changes to the home page (on Australian instance only) - page alert, learn & connect panes, footer Join us section. Also adds sell page, linked to from footer.

[2016-08-05 06:45] sstead commented on #1123
Broken link at https://staging2.openfood.com.au/sell
![image](https://cloud.githubusercontent.com/assets/10843056/17428471/fa099462-5b2b-11e6-9c4a-81d44d006bfd.png)

[2016-08-06 03:26] kirstenalarsen commented on #1106
now that we have disconnected the logins, we should probably change the text to 'Take me to Open Food Network Australia' and make sure that it just picks up the login status of the browser . . so if they are already logged in then the new tab should log them in

[2016-08-06 03:32] kirstenalarsen opened #1124 "Images broken in forum?"
perhaps something to do with the domain change @mkllnk ?

![image](https://cloud.githubusercontent.com/assets/2911176/17454471/12e03cd0-5bda-11e6-8be2-c173a118ba9b.png)

[2016-08-06 03:44] kirstenalarsen opened #1125 "Create redirects for intuitive ofn aus learn and connect links"
the obvious urls to send people to are
openfoodnetwork.org.au/connect and openfoodnetwork.org.au/learn . . but these currently give people 404s

Can we create redirects to the openfoodnetwork.org/au pages from these links so that we can use them?

@serenityhill to check in w @RohanM and @mkllnk as to whether one of you can do this before mon/tues

![image](https://cloud.githubusercontent.com/asset

[2016-08-06 05:14] kirstenalarsen opened #1126 "check if I can restart community.openfoodnetwork.org.au upgrade"
i may have been running the upgrade when the domain was switched. This is my guess at why the upgrade seems to be frozen (see below)

Is it reasonable for me to assume that this upgrade is not actually running and is ok for me to restart the upgrade? @mkllnk [not urgent - will just leave version out of date until clarified]

![image](https://cloud.githubusercontent.com/assets/2911176/17454829/0e52

[2016-08-06 05:54] mkllnk commented on #1124
Yes, I it's the domain change. I could fix that one just by clicking "edit" and then "save".

[2016-08-06 05:55] mkllnk commented on #1125
Yes. That is quite easy to do.

[2016-08-06 06:03] mkllnk commented on #1126
I just tried an upgrade an it failed. I have to investigate that.

[2016-08-06 07:23] mkllnk commented on #1126
I upgraded manually with shell access.

[2016-08-06 07:23] #1126 closed

[2016-08-06 23:02] kirstenalarsen commented on #1124
great - I’ll go through and do the rest :)

[2016-08-06 23:02] kirstenalarsen commented on #1125
awesome! any chance you could do today or tomorrow?

[2016-08-07 00:48] mkllnk commented on #1125
Okay, Deployed.

[2016-08-07 00:48] #1125 closed

[2016-08-07 02:16] kirstenalarsen commented on #1125
thanks so much for this @mkllnk - you're awesome! really appreciate the quick response :)

[2016-08-09 00:15] daniellemoorhead commented on #1010
Great, thanks @bingxie. @stveep sorry for the confusion :)

[2016-08-09 00:15] #1010 closed

[2016-08-09 00:23] daniellemoorhead commented on #1123
Hey @RohanM has this been completed now, can the issue be closed?

[2016-08-09 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57a95570a7e0bb110038b7ed)

[2016-08-09 12:16] OliverUK commented on #1110
Any news on those strange labels?

[2016-08-10 02:54] RohanM commented on #312
I've just opened PR #1127 that addresses this problem by performing rounding earlier when calculating adjustments for the cart.

[2016-08-10 06:54] #1123 closed

[2016-08-10 11:31] #1047 closed

[2016-08-10 15:35] myriamboure commented on #811
Is it the same issue as https://github.com/openfoodfoundation/openfoodnetwork/issues/1009
@sigmundpetersen have you reproduced the error in Norway again? Or can we close?

[2016-08-10 15:38] myriamboure opened #1128 "How to add the translated messages in the notify producers email?"
Where/how can I translate the messages sent to the producers via the "notify producer" button...
![screenshot from 2016-08-10 17-36-29](https://cloud.githubusercontent.com/assets/8135376/17560114/1b13201c-5f21-11e6-8634-0eea63b452a9.png)

[2016-08-10 15:43] myriamboure commented on #1128
Do you have the same issue in Norway @sigmundpetersen ? Did you find where to do the translation?

[2016-08-10 15:45] myriamboure commented on #1128
Ping @blancnic if you have an idea...

[2016-08-10 15:51] myriamboure commented on #1128
Sorry, actually I remember I translated them in Transifex, but it seems they don't appear in the production instance, any idea @blancnic ? Do we need to wait for a next upgrade or can we just "call" the new translations?

[2016-08-10 15:55] myriamboure commented on #1128
when I look in Transifex, it seems not all the strings are translated in the message, like the "Here is a summary of the orders for your products" or "Orders summary"... so I'm not sure all the strings are translated...

[2016-08-10 21:23] sigmundpetersen commented on #1128
Hey @myriamboure ! I can find "Here is a summary of the orders for your products:" in Transifex. We deployed the transifex branch to get the latest translations on the platform.

[2016-08-10 21:42] sigmundpetersen commented on #811
Seems like the same issue yes. Should be fixed though, ref http://community.openfoodnetwork.org/t/what-s-new-v-1-8-1-160618/612. So think we can close, @daniellemoorhead ?

[2016-08-12 01:17] sstead opened #1129 "Ability to BCC instance for all 'Welcome to OFN' emails"
This feature would alert instances when a new users has signed up and is setting up an enterprise. Currently a SuperAdmin needs to check the Users and Enterprise report periodically to know who has signed up.

When:
- When an enterprise user creates their first profile at /register
  Content of email:
  I think the more info provided the better
- Enterprise name
- Enterpsie address
- Owner's email

[2016-08-12 04:33] bingxie opened #1130 "SO - Customer can set default addresses during checkout"
Add a checkbox to the billing and shipping address sections of the checkout page, allowing the customer to set the given address as their default (2h)

When auto-creating a new Customer when an order is placed, auto-assign "name" field using the full name of the billing address given. (1h)

The enterprise user can search/filter the customers(which belongs to current enterprises) and it will auto-c

[2016-08-12 04:37] bingxie opened #1131 "SO - user can update preferred billing address and shipping address on account page"
Add a section to the front-end "Account" section, to allow a customer the manually edit their own billing address or shipping address. (8h)

[2016-08-12 04:40] bingxie commented on #1062
I moved those uncheck taskes to two separated issues #1130 and #1131
I wanted to make it more easier to review and test.

[2016-08-12 07:37] myriamboure commented on #1129
That would be great! We had done that locally in france but I was receiving ALL the emails that a hub manager was receiving, like all the order confirmations, etc. So we stopped it, but would be great to receive a notification only when a new hub is created, so that we can support the first step and say hello :-)

[2016-08-12 16:20] #1110 closed

[2016-08-13 00:07] mkllnk opened #1133 "Possible XSS vulnerability"
https://groups.google.com/forum/#!topic/ruby-security-ann/8B2iV2tPRSE

The Rails team just fixed `html_safe` which doesn't escape quotes in the version we use at the moment. @RohanM @oeoeaio Are you aware of any problem upgrading to Rails 3.2.22?

[2016-08-14 14:17] NickWeir63 commented on #1092
Here is some feedback from a Stroudco shopper using a tablet:
**A few blips – clicking on producer info eg Jessies Ladies Milk & Winstons Ice Cream brought up some corrupted text. Others were fine eg Wharf Farm. I couldn’t face checking all the producers!!
Clicking on the categories eg ‘Dairy’ correctly brought up dairy stuff I then moved onto ‘Bread & Baking’ & the page stayed on Dairy. I was abl

[2016-08-14 16:55] lin-d-hop commented on #1092
@NickWeir63 They don't sound like specifically tablet based issues to me.
@MagsHall Are you able to check the above walk through on another device to see if you can replicate?
Thanks :-)

[2016-08-15 00:21] oeoeaio commented on #1092
@NickWeir63 @lin-d-hop @OliverUK Just looking at the feedback from your customer using a tablet. The pattern of category switching, the observed changes and the language used to describe it (eg. "moved onto Bread & Baking") suggest to me that perhaps this particular customer does not realise that clicking a new category does not "move you on" to that category, but rather that it adds that category

[2016-08-15 08:22] NickWeir63 commented on #1092
thanks @oeoeaio yes you are right that is exactly what is happening.  I will explain that to the shopper and when we are working on UX we need to reference https://github.com/openfoodfoundation/openfoodnetwork/issues/985
i have checked the shopper's report of corrupted text and that is not a tablet issue either.  the text is corrupted in the admin screen (see below).  I wonder if this happened as

[2016-08-15 08:31] OliverUK commented on #1092
@NickWeir63  Not something I've been made aware of before.

[2016-08-15 08:33] NickWeir63 commented on #1092
Feedback from another shopper using an iPad:
**Hi
Yes worked well
Great
Thanks
Caroline Denny**
.....and she put in an order for the first time in months!! :)

[2016-08-15 08:57] NickWeir63 commented on #1092
OK i have updated the Jess's Ladies text to remove the corruption.  let's keep a regular eye on it and see if it corrupts again.
At some point we need to go through the other producers and correct any other corrupt ones.

I will check with Sara (does she not have a github name?) if Tamar have seen any corruption.  this may have been caused by Aidan's import of data from the stroudco legacy system

[2016-08-15 09:58] Rocksj commented on #1092
Just checked a few of our Producer Profiles and all looks fine here @NickWeir63

[2016-08-15 22:04] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57b23c7d717a8210007a0568)

[2016-08-17 04:55] daniellemoorhead commented on #1114
Hey @RohanM is this done yet?

[2016-08-17 04:56] daniellemoorhead commented on #1121
Hey @RohanM is this done?

[2016-08-17 05:07] daniellemoorhead commented on #1027
@RohanM checking in - thoughts on this one?

[2016-08-17 06:24] daniellemoorhead commented on #920
@RohanM are you able to answer @stveep's question from June 30?

[2016-08-20 13:22] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57b859a3c373151000cb4f23)

[2016-08-21 09:33] OliverUK opened #1134 "Confused Packing Reports - same name customers"
Please investigate:
Two customers have the same surname. They order one each of the same product. The "pack by customer" report allocates them correctly but the pack by supplier report gives both items to one of the two customer and none to the other.

I will share the customer details privately with @lin-d-hop Lynne by email. Lynne is welcome to forward to others by email.

The affected order num

[2016-08-22 11:33] NickWeir63 opened #1135 "broken link in new user intro email"
from ['updating Terms of Service'](http://community.openfoodnetwork.org/t/updating-the-terms-of-service/665/3)
When logged in as SuperAdmin go to Configuration > Content. Here you can insert your own 'Terms of Service URL'. However, I've just had a look on staging, and unfortunately this link doesn't also carry through to the email you have posted above. This link must need to be modified somewher

[2016-08-22 14:25] MagsHall commented on #1040
When helping set up a new user just now we spotted that the 'State' drop down has reverted to the three letter abbreviations. Am I right in thinking it had been changed to a 'County' box with full county names? I can't quite remember if that was one of the things that had been fixed.

The full county names are available in the Edit Enterprise Address tab in Spree still. Has something gone wrong wi

[2016-08-22 14:29] MagsHall commented on #1120
We're getting new users reporting this same problem too now. Does anyone know a fix?

[2016-08-22 14:39] NickWeir63 opened #1136 "Screen display is cropped"
Locavore (a brand new user!) has just reported that they cannot see the 'update' and 'close' buttons at the bottom of their admin screens
I thought it was a browser problem but I tried these screens on Firefox and I cant replicate the problem.  Could it be a hardware issue?  Shall I check if he is using a Mac?
![firefox display](https://cloud.githubusercontent.com/assets/10517702/17858684/9426fc38

[2016-08-22 14:42] #1136 closed

[2016-08-22 14:45] NickWeir63 commented on #1120
@daniellemoorhead as Lynne is away for a week, please could you suggest anyone we could talk to about this?  Is there a quick fix?  Thanks

[2016-08-22 14:51] MagsHall commented on #1120
Nick, did you say you weren't getting the error on your browser? What are you using? I am getting it using Chrome on a PC. Reuben gets it on a Mac using Firefox.

[2016-08-22 14:56] NickWeir63 commented on #1120
I realise it is only not a problem for me because I am not getting the free trial message
![screenshot 2016-08-22 15 54 08](https://cloud.githubusercontent.com/assets/10517702/17859297/ebb1d26e-6880-11e6-8f62-68c271d2aad2.png)

[2016-08-22 15:02] NickWeir63 opened #1137 "New producer hub is offered "30 day free trial""
When setting up a producer hub with Locavore I noticed that the final set up screen had a banner at the bottom saying "30 day free trial"
Please can we change this to "6 month free trial"
Sorry I didn't get a screenshot as we were doing this on a hangout screenshare from his Mac

[2016-08-22 15:18] MagsHall commented on #1134
I have replicated this problem using OFN Test Hub, order cycle 18th August Cycle. Orders appear correct using 'Pack by Customer' report, but in 'Pack by Producer', if customers with the same surname have ordered the same product, this is bundled together under one customer.

This happens for people with identical names but different emails, and those with just the same surname. I have tried it wit

[2016-08-23 17:14] NickWeir63 opened #1138 "Can't enter units when setting up new product"
Unit box has no options on dropdown menu.  Also display as box shows {{ placeholder_text}}
I have flagged this as important because we have a new user (Locavore) trying to set up a shopfront.  I assigned it to @daniellemoorhead because Lynne is away this week and I dint want to wait until she is back to move it forward.  Sorry Danni!
![screenshot 2016-08-23 18 09 13](https://cloud.githubuserconten

[2016-08-23 17:23] NickWeir63 opened #1139 "Order Cycle Customer Totals report breaks when query too large"
i set a date range of 1st Jan 2016 to 23rd Aug 2016 for Stroudco Food Hub and after a bit of a wait I got the slug 'system error - We're sorry, but something went wrong" message
![screenshot 2016-08-23 18 20 15](https://cloud.githubusercontent.com/assets/10517702/17902260/84181f6c-695e-11e6-9170-7cd37cc09dd8.png)

[2016-08-23 17:26] NickWeir63 commented on #1138
just letting @MagsHall know about this in case Locavore contact you

[2016-08-24 02:15] sstead commented on #1062
![image](https://cloud.githubusercontent.com/assets/10843056/17916182/4bd3613e-69f4-11e6-8553-ab98b2545e28.png)

[2016-08-25 07:01] sigmundpetersen opened #1140 "Creating or editing Payment Gateways fails"
When trying to create a new payment gateway or edit an existing one we get the error page.
Does not happen with "Payment Methods", only "Payment Gateways".
Norway instance, v1.8.4.

Here's the log from Bugsnag:
ActionView::Template::Error - undefined method `association_class' for nil:NilClass
app/serializers/api/admin/payment_method_serializer.rb:5  tag_list

app/helpers/admin/injection_helper.rb

[2016-08-25 11:49] oeoeaio commented on #1140
@sigmundpetersen yes, can confirm this is an issue. I have a fix, and will try to get it out tomorrow.

[2016-08-26 00:01] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57bf86babeeaf51200c45043)

[2016-08-26 02:17] #1062 closed

[2016-08-26 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57bfb0cdf0402a1100dbaa25)

[2016-08-26 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57bfccd9da63191200d5349e)

[2016-08-26 07:19] RohanM commented on #1027
I've recently removed CMS, since we haven't been using it for a long time. So now there should be no `sitemap.xml` at all. @pmackay, would you be interested in doing a PR to provide a sitemap?

[2016-08-26 07:24] RohanM commented on #920
Hi @stveep,

I don't have a definite yes or no on that one (without looking into it further). I doubt that the upgrade will automatically split the tax into categories on that email, but the improvements to the data model might make it easier to do the calculation and get the correct data. Up to you whether to build this now or later depending on the urgency.

[2016-08-31 00:54] sstead commented on #1085
Testing notes and images...
![image](https://cloud.githubusercontent.com/assets/10843056/18112047/ee8fa8f6-6f67-11e6-9cb7-4cf90b42be9b.png)

![image](https://cloud.githubusercontent.com/assets/10843056/18112065/1555824e-6f68-11e6-9744-4912461451c1.png)

![image](https://cloud.githubusercontent.com/assets/10843056/18112059/04ae26da-6f68-11e6-8c91-5be1b03f71e2.png)

![image](https://cloud.githubuser

[2016-08-31 01:00] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57c62c16364b7e1100e65fb8)

[2016-08-31 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57c63a3346381b11001e2364)

[2016-08-31 03:15] #1140 closed

[2016-08-31 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57c6565392b19b11008d255a)

[2016-08-31 06:04] daniellemoorhead commented on #1130
Hey @bingxie can you let me know if you think you'll get this to Sally for testing this week? We're going to release milestone 1.8.5 on Friday so if it won't be ready by then I'll put it into [v1.8.6](https://github.com/openfoodfoundation/openfoodnetwork/milestone/39).

Cheers!

[2016-08-31 06:04] sstead commented on #1121
So the appearance of badges for a) properties and b)categories are behaving inconsistently (as described below). We need to merge the two behaviours to get the ideal setup....

Currently for an OPEN shop we see the following:
- category badges of all products that that shop can sell, not just those in the current OC (not ideal)
- property badges of only the properties of the items in the current o

[2016-08-31 07:49] daniellemoorhead commented on #1120
@oeoeaio or @bingxie do you think you could pick this bug up and sort it out for the UK team? It's become a bit of a problem for them that needs resolving. Would be great to get this into 1.8.5 release on friday.

[2016-09-01 01:16] bingxie commented on #1130
I will create a PR for review today, then need someone to review it on Friday, I won't work on this Friday, so I think maybe we can put it into v1.8.6

[2016-09-01 01:24] bingxie commented on #1120
Before we can fix it. I need know what the solution could be? Adding a close button on the free trial message?

[2016-09-01 01:43] oeoeaio commented on #1120
Hm, how do people feel about only showing the trial message on the dashboard? Then there would be no conflict....

[2016-09-01 07:19] NickWeir63 commented on #1120
yes great idea.  thanks
it will be great if we can have it in this release
thanks

[2016-09-02 01:15] #1114 closed

[2016-09-02 01:22] #312 closed

[2016-09-02 05:14] sstead commented on #1120
Testing notes:
Correct, banner shows only on dashboard page, for a user with 1 trial enterprise, if they have 2 enterprises the banner doesn't display.

[2016-09-02 07:19] stveep opened #1143 "Stripe: Stripe Connect setup"
- Setting up Stripe Connect
  - Add gems required: Stripe, Oauth/omniauth
  - DB: Add Stripe accounts table: stripe_user_id, stripe_publishable_key,
  - DB: Add Stripe account to Enterprise
  - Routes: Callback URI to associate connected account with enterprise
  - Model: Add method to Enterprise to add a Stripe account and store keys. Allow only one       Stripe account to be connected at once?

[2016-09-02 13:42] pavan137049 opened #1144 "Installation problem"
Fresh installation done on Ubuntu 16 using install.sh
Edited the docker.env with required details.
 I am stuck while installing dependencies .

Need Help !!!  @ snipe
![img_0007 1](https://cloud.githubusercontent.com/assets/21337490/18202455/a84a980c-712d-11e6-9ec2-14a152cb6310.JPG)

cd <install-dir>
curl -sS https://getcomposer.org/installer | php
php composer.phar install --no-dev --prefer-sourc

[2016-09-03 13:49] OliverUK opened #1145 "Deleted product still in shop front"
I deleted a product that I had on the food hub under my own supplier account. It's no longer shown in the product list and it's no longer shown in the order cycle but it's still in the shop front.

![screen shot 2016-09-03 at 14 46 19](https://cloud.githubusercontent.com/assets/17590921/18225214/85ea2cec-71e5-11e6-9f07-23b6b6ddb797.png)
![screen shot 2016-09-03 at 14 46 30](https://cloud.githubuse

[2016-09-03 13:50] OliverUK commented on #1145
@lin-d-hop @NickWeir63

[2016-09-03 13:52] OliverUK opened #1146 "Delivery report broken"
It's no longer possible to select any delivery options in this report.

![screen shot 2016-09-02 at 09 27 04](https://cloud.githubusercontent.com/assets/17590921/18225232/e397faa4-71e5-11e6-8802-ef92b6174465.png)

[2016-09-03 13:52] OliverUK commented on #1146
@lin-d-hop @NickWeir63

[2016-09-03 14:54] OliverUK commented on #1145
Trying to select the item in the shop leads to the basket continuously updating itself and other strange results.

![screen shot 2016-09-03 at 15 52 34](https://cloud.githubusercontent.com/assets/17590921/18225614/8c7942a6-71ee-11e6-8401-ba730ed62233.png)

[2016-09-04 12:16] lin-d-hop commented on #1145
Hi @OliverUK,
Seems the Cider is now not available on the StroudCo shopfront.
Perhaps this was just that the cache had not updated?
Are you still experiencing issues with this?

[2016-09-04 12:18] lin-d-hop commented on #1137
@NickWeir63, can you clarify which screen you are talking abotu here?

[2016-09-04 13:00] NickWeir63 commented on #1137
I have just tried to recreate this issue by setting up a new account with the email address of delete@delete.com but could not find the screen that I saw when Mags and I were seeing the screenshare that Reuben showed us while he was setting up Locavore.  @MagsHall did you happen to notice this "6 month free trail" message when we were working with Reuben?
If not let's close this issue as we cant r

[2016-09-04 13:16] lin-d-hop commented on #1120
@NickWeir63 @MagsHall I've just deployed this update to UK production.

[2016-09-04 13:45] NickWeir63 opened #1147 "new enterprise sign up screen shows 'state' box instead of 'county'"
![screenshot 2016-09-04 13 54 37](https://cloud.githubusercontent.com/assets/10517702/18231292/20114e0e-72ae-11e6-9d5d-b93c9fc0fba4.png)

[2016-09-04 15:12] NickWeir63 commented on #1120
great thanks Lynne.  @MagsHall shall i leave it with you to tell Reuben / check it works for him?  if not i can do it.  thanks

[2016-09-05 09:57] myriamboure commented on #1039
@blancnic do you know how to solve that? I tried again today and the problem is still there. If not can you ping the relevant persons? Thanks!

[2016-09-05 10:42] myriamboure commented on #1039
Also issue in object of automatic emails (here: welcoming email)
![screenshot from 2016-09-05 12-41-31](https://cloud.githubusercontent.com/assets/8135376/18245565/374232ce-7366-11e6-9a44-7bb4422d72f5.png)

[2016-09-05 11:39] lin-d-hop commented on #1138
@NickWeir63 Can't replicate this. May well have been only a temporary issue while I fixed the broken translations? Can you confirm it's no longer an issue?

[2016-09-05 12:10] NickWeir63 commented on #1138
Yes this is fixed now - thanks @lin-d-hop

[2016-09-05 12:10] #1138 closed

[2016-09-05 13:23] OliverUK commented on #1145
Agreed it's now gone but it must have been there for a day or so, otherwise I wouldn't have raised it here as a bug.

[2016-09-05 13:24] #1145 closed

[2016-09-05 13:35] oeoeaio commented on #1120
Hey @lin-d-hop, which update did you deploy? We have not released a fix for this issue yet....

[2016-09-05 15:26] lin-d-hop commented on #1025
Hi @stveep
Thanks for agreeing to look at this when you get the chance.

Fundamentally this change is quite simple. PR #1044 worked fine for our servers.
We just need to add in a UI step in Super Admin -> Configuration -> Mail Methods to allow this to be a feature that is turned on or off at instance level. This is because some instances will be using SMTP servers that override all outgoing emails

[2016-09-06 11:52] #1144 closed

[2016-09-06 14:26] MagsHall commented on #1137
I think this pops up briefly when a new enterprise has gone through the set-up wizard, clicks on the link they have been emailed to confirm their email address, and enters Spree for the first time. I haven't been able to replicate it either though, as all my email addresses now have some kind of enterprise linked to them, so even if I go through the set-up wizard when I confirm my email address it

[2016-09-06 14:30] MagsHall commented on #1120
I have emailed Reuben to check, but it has disappeared from the demo hub so looks like it's a fix!

[2016-09-06 15:44] pavan137049 opened #1148 "Not able to receive mail"
Hi ,
I was successfully able to setup snipe it on Ubuntu 16.04 and able create user and login . But i am not getting user login credentials through mail .
After the setup i edited the Docker.env file with gmail smtp login details.

please find the attached docker.env file .
# Docker Environment File
# Database Variables

MYSQL_ROOT_PASSWORD=XXXXXXX
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
MYSQL_P

[2016-09-07 01:58] #1120 closed

[2016-09-07 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57cf82c39bb57813005b992d)

[2016-09-07 09:57] NickWeir63 opened #1149 "UK production not loading"
I get this screen when I go to the Stroudco shopfront.  Same when going to openfoodnetwork.org.uk
![screenshot 2016-09-07 10 55 22](https://cloud.githubusercontent.com/assets/10517702/18307788/c9153ef6-74e9-11e6-8d5f-c7efbf4cdc48.png)

[2016-09-07 11:41] lin-d-hop commented on #1149
@NickWeir63 probs not worth opening a github issue for total server failure... we get enough emails about it as it is.

[2016-09-07 11:41] #1149 closed

[2016-09-07 16:17] rhodri commented on #1134
Looking at the code it seems like the issue is here, where we group by last name: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/lib/open_food_network/packing_report.rb#L86

So I'll switch this to group by email instead!

[2016-09-08 15:46] OliverUK opened #1151 "UK security certificate warning"
I'm still getting these warnings using Firefox:

![screen shot 2016-09-08 at 16 32 00](https://cloud.githubusercontent.com/assets/17590921/18356219/c597ae76-75e3-11e6-93e8-74f8905e9ff4.png)
![screen shot 2016-09-08 at 16 32 10](https://cloud.githubusercontent.com/assets/17590921/18356220/c59b643a-75e3-11e6-9e1d-1907247da3ca.png)

@pmackay @lin-d-hop

[2016-09-08 15:48] lin-d-hop commented on #1151
Have you tried F5 to refresh the page? I can't replicate with my Firefox.

[2016-09-08 16:07] NickWeir63 commented on #1151
it is opening OK for me on firefox too.  @OliverUK did you say that Liz Terry was getting this message too?  If so is it OK with you if I contact her and see if we can track down why this is happening for some people and not others?  I could ask her which browser she is using, which version of Windows, what hardware.  @lin-d-hop  is there anything else I should check with her?

[2016-09-08 16:14] lin-d-hop commented on #1151
The message is about a physical thing that has now been fixed. I have no idea how SSL certs could be an error happening on some computers and not others... apart from refreshing browsers I have nothing else to suggest :-(

[2016-09-08 16:25] OliverUK commented on #1151
Thanks all for the quick responses.
I still get the warning after clearing the browser cache and clearing "offline content" and after restarting Firefox with add-ons disabled.

Quite possible that it's a problem my end but I'm just concerned that whatever is causing it may also be happening for others.

I copied the following from the browser window:

Peer's Certificate issuer is not recognized.

[2016-09-08 16:47] myriamboure commented on #1151
We got the same problem in France, it regularly happens, especially with new computers/users, and with Firefox. @gnollet is working on it also, it might be the same issue, we also use LetsEncrypt certificates.

[2016-09-08 20:31] gnollet commented on #1151
I think there is missing some information on certificate.
Please have a look on this link
https://www.ssllabs.com/ssltest/analyze.html?d=openfoodnetwork.org.uk

You should include chain certificate on the config.

[2016-09-09 01:58] RohanM commented on #1151
Agreed. I had a look at the docs from the certificate issuer (Trustwave), and it says they provide a `chain.crt` file with the certificate. If you append this at the end of the certificate used by nginx and then reload nginx, the chain error should disappear in ssllabs.

I noticed one other small thing. When I visit openfoodnetwork.org.uk, I'm redirected to `https://openfoodnetwork.org.uk//` (note

[2016-09-09 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57d217b14f5a0f11001f7855)

[2016-09-09 05:43] OliverUK commented on #1146
Today it's working, @lin-d-hop

[2016-09-09 09:08] lin-d-hop commented on #1151
ok @pmackay was aware of this and said he was going to fix it today. @pmackay can you confirm? this is high priority.
Thanks @RohanM and @gnollet!

[2016-09-09 12:15] myriamboure commented on #621
@pmackay I just reproduced the error but with another case, I just created a test user to create a producer enterprise, just to check UX how products can be added for producer shops. I did nothing, added no product, no order cycle, no order, nothing, but still as an admin, I can't delete that user afterward. I deleted the entreprise first, but the user then can't be deleted.
![screenshot from 2016

[2016-09-09 12:30] myriamboure commented on #997
Yes, would be great to offer 2 or 3 options for hub manager on how the shopfront will look like, and especially at least:
- one photo based approach, GoodEggs style
- one where the picture is not so central, like the current one, for hubs who are not very keen on adding nice picture for every product
...
Shopify or similar webstore tools propose different shopfronts.

[2016-09-09 13:49] pmackay commented on #1151
Updated this. @OliverUK could you see if it resolves your issue?

That SSLLabs site is seriously detailed! I think the chain.cer is now in place. We get a "B" though, other issues:

[code]
I dont yet know what those mean, but hopefully not urgent to fix....

[2016-09-09 13:52] pmackay commented on #1151
@myriamboure when you say it happens regularly, how often? Is it every time the Letsencrypt cert is updated? Or at different times?

[2016-09-09 14:35] OliverUK commented on #1151
@pmackay Yes, the warning has now gone!

[2016-09-10 15:21] NickWeir63 commented on #1151
I just had this email from a Stroudco shopper who had previously been having this problem:
Hi Nick,
It's all working fine now. I use a Samsung Note 8 tablet computer and use the Google Chrome app as my browser.
Thanks for sorting it all out!
Liz x

On 8 Sep 2016 20:12, "Nick Weir" <nick@nickweir.co.uk> wrote:
Dear Liz
I hope you are well.
Oliver told me that you have been having problems opening t

[2016-09-10 15:22] pmackay commented on #1151
Is this ok to close then @lin-d-hop @NickWeir63 @OliverUK ?

[2016-09-10 15:58] OliverUK commented on #1151
From a UK perspective yes, @pmackay.

[2016-09-10 15:59] NickWeir63 commented on #1151
Fine by me - thanks very much to all who sorted it

[2016-09-10 16:02] #1151 closed

[2016-09-12 08:51] lin-d-hop commented on #1146
Hi @OliverUK Have you been able to replicate this issue? I can't replicate locally or on production.

[2016-09-12 13:42] OliverUK commented on #1146
@lin-d-hop
Hi Lynne,
I've tried again just now and it's still working. Can't really say much more than what the screenshot shows, i.e. that no options came up. Happy to close this for now.

[2016-09-12 13:53] lin-d-hop commented on #1146
Really odd. If this does come up again please reopen and mark the exact time that the issue occurred so we can try and correlate with other system changes.
Thanks @OliverUK I'll close this for now.

[2016-09-12 13:53] #1146 closed

[2016-09-12 15:11] lin-d-hop commented on #1137
I also can't replicate this. I tried to set up a new enterprise with a new email account and did not see any mention of 30 day free trial. Also can't find any trace of it being hard coded.

Closing, if anyone notices again please take a screenshot so we can try and track down the issue.

[2016-09-12 15:11] #1137 closed

[2016-09-12 21:04] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57d7186d98e126120099f5a7)

[2016-09-13 10:29] oeoeaio commented on #1137
@lin-d-hop I may have just fixed this issue in da55eb6d...so perhaps that is why it is proving elusive.

[2016-09-14 08:01] daniellemoorhead commented on #1143
Ping @oeoeaio here's the issue where Steve's getting on with Stripe Connect stuff :)

[2016-09-14 13:13] MagsHall opened #1152 "Personalising order confirmations and order cycle reports to hubs"
UK users have requested that order confirmation emails can be personalised to the hub.

This could take multiple forms;

- Hub name in subject line of order confirmation and order cycle total emails

- Hub contact email as 'from' in automated emails

- Personalisation of the emails to include hub logo, design template, etc.

Having Hub contact as 'from' email will also solve the issue of customers

[2016-09-14 13:14] MagsHall opened #1153 "Whitelabelling for Enterprise Emails to Customers"
UK users have requested that order confirmation emails can be personalised to the hub.

Phase One:
- Hub name in subject line of order confirmation and order cycle total emails
- Hub contact email as 'from' in automated emails

Future:
- Personalisation of the emails to include hub logo, design template, etc.

Having Hub contact as 'from' email will also solve the issue of customers and producers

[2016-09-14 13:15] #1152 closed

[2016-09-14 15:19] NickWeir63 commented on #1139
....but when I select a shorter date range it all works fine
![screenshot 2016-09-14 16 15 38](https://cloud.githubusercontent.com/assets/10517702/18518169/ce9155b0-7a96-11e6-867a-52a5a951026f.png)

Can we either get it to load just part of the report at a time or give an error message suggesting the user selects a shorter date range?

[2016-09-15 09:55] NickWeir63 opened #1154 "Order Cycle Supplier Totals report shows incorrect producers"
I set up the report to show orders for just one producer and although the csv report that I downloaded from the report was accurate, the report on the screen showed all producers for that order cycle - not just the one producer I had selected.
Here is the screenshot showing incorrect producers.....
![screenshot 2016-09-15 10 49 44](https://cloud.githubusercontent.com/assets/10517702/18545786/89232

[2016-09-15 11:29] OliverUK commented on #1154
Have you tried clicking Search again with the CSV box NOT ticked. I seem to remember that with the box ticked, it doesn't necessarily update what's on the screen.

[2016-09-15 11:33] OliverUK opened #1155 "Delivery report - Customer Delivery address incorrect"
@MagsHall @lin-d-hop

When a customer puts in a separate delivery address for his current order, this doesn't seem to come through in the report. I can't screenshot it without compromising personal data but I'll email you the information shortly. Have opened this issue to keep track and for easy commenting.

Thanks
Oliver

[2016-09-15 13:34] OliverUK opened #1156 "Alphabetical sorting in reports confused by capitals"
OFN reports sort alphabetically by surname unless a customer's name is spelled all in capitals or alternatively (out of laziness) they omitted to capitalise the first letter.
In the example below, MU was put before Mi thanks to the difference in capitalisation.

![screen shot 2016-09-15 at 14 25 50](https://cloud.githubusercontent.com/assets/17590921/18551558/d8244f8c-7b50-11e6-8ae9-f4fc78080b67.p

[2016-09-16 05:00] sstead opened #1157 "Profile badges should be removed if E2Es have been removed"
![image](https://cloud.githubusercontent.com/assets/10843056/18575720/424f8a98-7c1e-11e6-882b-83bf3fb4e07e.png)

[2016-09-16 05:04] sstead commented on #1121
Looks good! Unrelated issue found - https://github.com/openfoodfoundation/openfoodnetwork/issues/1157

[2016-09-16 05:47] mkllnk opened #1158 "SO - Allow for bought products to be removed from an order on order page"
Testing of #1085 revealed that it is more logical to remove items from the order page.
- [ ] Design order page to be editable (4h)
- [ ] Add delete delete buttons for items (3h)
- [ ] Review and testing (2h)

[2016-09-16 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57db8a72f1a4981200392b39)

[2016-09-16 06:18] mkllnk opened #1159 "Email confirmation | Prevent guest checkout using registered email addresses"
**Who:** Any user who has signed up on the OFN
**Trigger:** They attempt to checkout as a guest instead of logging in.
**Goal:** To force a user to login if they try to checkout as a guest with an email that is already a registered (confirmed, or not). This can prevent identity theft, duplicate orders and typos.

Note: This issue is connected to #1587 and #1617, where users who sign up/login via t

[2016-09-16 06:26] mkllnk opened #1160 "SO - Opt-in option for enterprises to require customers to login to complete an order"
Enterprises can choose to force their customers to log in (ie. not use guest checkout) to place orders with them. This feature is needed for standing orders, for the use case where a user that has a standing order comes into their shop and goes through the checkout process, logging in after they've added items to their cart. If they have a standing order we need to be able to communicate this to t

[2016-09-16 06:29] mkllnk opened #1161 "SO - Opt-in option for enterprises to allow their customers to make changes to their current order"
Allow enterprises to choose whether they will let their customers change their current order (ie. remove things that they have committed and/or paid to purchase) up to the point where the order cycle closes.

This links to #1085, because the functionality in #1085 will only work if the enterprise has opted in.
- [x] Create the setting in the enterprise to 'allow order changes' (guest orders should

[2016-09-16 12:08] lin-d-hop commented on #1155
@rhodri While you are making changes to the delivery report would you take a look at this as well?

[2016-09-16 14:18] blancnic opened #1162 "It misses several translations in the supplier profile for locale instance not English"
When you have a supplier profile in the french instance for example, you have some strings in english:

When you register as a supplier:

![ofn2](https://cloud.githubusercontent.com/assets/16450598/18633550/234c7f64-7e7d-11e6-9066-35ab8408c512.PNG)

![ofn1](https://cloud.githubusercontent.com/assets/16450598/18633480/ca4e5090-7e7c-11e6-9026-f6d351756f99.PNG)

![supplier1](https://cloud.githubuserc

[2016-09-16 18:14] lin-d-hop commented on #1147
This has now been fixed.

@NickWeir63 Would you close if happy?

[2016-09-17 11:22] NickWeir63 commented on #1147
Thanks

[2016-09-17 11:22] #1147 closed

[2016-09-17 11:32] NickWeir63 commented on #1154
Yes you are right - thanks Oliver.  If I uncheck the download CSV box then it does refresh the screen accurately.  So this is now a very low pirority bug - but it would be nice if the screen reflected what is being downloaded to the csv

[2016-09-18 09:36] stveep commented on #1143
Hey @oeoeaio I pushed what I have so far on setting up the Stripe Connect workflow:

https://github.com/stveep/openfoodnetwork/tree/stripe-connect

I still haven't figured out how to authorise the stripe_connect controller action with cancan, but you can work through it as super admin. I can send you the UK Stripe account API keys if you want to test it. I need to add specs and some more error han

[2016-09-18 11:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57de73c2a33f8f1100e54d16)

[2016-09-20 23:32] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57e1c6ff6a67f81100b3adf6)

[2016-09-21 11:53] lin-d-hop opened #1164 "Mailto on /sell page hardcoded to AU email"
https://openfoodnetwork.org.uk/sell

At the end of the page there is a translatable text field (default: Ask Us about OFN services)
The associated mailto links to hello@ofn.org

Should link to instance email.

[2016-09-22 12:33] NickWeir63 opened #1165 "Update button not enabled after deleting a coordinator's fee"
When i delete a coordinators fee from an order cycle the update button stays greyed out.   I can only save this change if i make  another change to the order cycle which then enables the update button
![screenshot 2016-09-22 13 07 20](https://cloud.githubusercontent.com/assets/10517702/18748156/e5f36134-80c8-11e6-84ec-38a94a89d19a.png)

[2016-09-23 04:08] mkllnk opened #1166 "Improve view of previous orders when several orders of same order cycle"
[updated by Myriam 22.10.2018]

## Description

Currently, all items of all current orders in a given OC are shown individually which can be confusing.

![ee8fa8f6-6f67-11e6-9cb7-4cf90b42be9b](https://user-images.githubusercontent.com/8135376/47301732-dd4de500-d61f-11e8-8025-37ef6c87f6ac.png)
![b80c51e6-6f6a-11e6-8ad2-7693fc2cb482](https://user-images.githubusercontent.com/8135376/47302552-15eebe0

[2016-09-23 08:36] NickWeir63 opened #1167 "New shopfront user welcome email points to international discourse..."
...instead of UK forum
![screenshot 2016-09-23 09 35 19](https://cloud.githubusercontent.com/assets/10517702/18779510/3334e5e6-8171-11e6-9227-a640994f1898.png)

[2016-09-23 14:46] lin-d-hop opened #1168 "Payment Fee adjustment after order completion"
When you adjust the price or quantity of something on an order and the customer has paid by paypal the paypal transaction fee also changes which also makes their balance incorrect e.g. customer order is £52.33 and the transaction fee is £1.98, once their order is adjusted to £51.96 to reflect a change in price the transaction fee changes to £1.75. The Food Hub has already incurred the paypal charg

[2016-09-23 14:48] lin-d-hop commented on #1167
The URL reset in superadmin so this is fixed for now. I assume this issue arose on the last deployment. @MagsHall Can I assign this to you to retest after the next deployment? If this happens every deployment there will be a bug to find.

[2016-09-23 16:25] #1041 closed

[2016-09-25 13:09] lin-d-hop commented on #1164
PR #1169

[2016-09-25 14:21] lin-d-hop commented on #1135
PR #1170

[2016-09-25 23:35] daniellemoorhead commented on #1168
@mkllnk and @RohanM any thoughts on this?

[2016-09-26 04:28] denisegauvin opened #1171 "Shopfront sections (about, producers...) not collapsing"
## Description
As a user when I am on any shopfront, if I click on "about" or "producers" or "contact" or "groups" tab within the shopfront, the content expant, but when I click on the small arrow to collapse it, it doesn't work.
![shop_sections](https://cloud.githubusercontent.com/assets/22385230/18822587/f03b6e5a-83f4-11e6-8019-81a7daa82d3d.png)

## Expected Behavior
When I click on the "collaps

[2016-09-26 11:11] myriamboure opened #1172 "When two shopfronts are open in the same browser, very disturbing conflicts and false info displayed"
I open the shopfront of Ninety miles biodynamics, here is what I see:
![screenshot from 2016-09-26 13-08-10](https://cloud.githubusercontent.com/assets/8135376/18832200/4ce0fa4a-83ea-11e6-8524-5427f28e8aec.png)

Then in another tab, I open the shopfront of Hand to Ground, here is what I see:
![screenshot from 2016-09-26 13-06-14](https://cloud.githubusercontent.com/assets/8135376/18832208/60870e22

[2016-09-27 15:19] OliverUK commented on #1008
@lin-d-hop what's your view on this? I do get some very strange results.

[2016-09-27 17:21] NickWeir63 commented on #1008
Shall we set this up on the global forum for discussion?

[2016-09-28 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57eb6a82a8a0331100fa7f86)

[2016-09-28 07:25] OliverUK commented on #1008
Good idea. I'll post something.

[2016-09-29 03:54] mkllnk commented on #1168
Yes, it's relevant for all adjustments and difficult to solve. If you click the 'update and recalculate fees' button, it will adjust all fees. That is very useful for fees related to packaging or posting. Even if the invoice will be paid later, the fees should be adjusted. But in the case of payment fees that incurred already, it's not what we want.

Maybe we need a way to mark fees as fixed? We w

[2016-09-29 04:05] mkllnk commented on #1172
This is a known issue. A user can work only on one shop front. The solution would be a lot of work since a lot of code relies on that global reference to the current shop. It would be great to have time and money to fix this.

[2016-10-03 01:24] sstead opened #1173 "Producers not showing in group 'our producers tab' despite showing on map"
This is of reasonably high priority, because we're trying to get groups on board and the pages need to be functioning.. Likely related to recent work done to property and taxon filters by Rohan.

Some producers are not showing the the 'our producers tab' for thenew [Demo North east group](https://openfoodnetwork.org.au/groups/north-east-local-food-producers#/producers). This is despite them being

[2016-10-03 16:44] myriamboure opened #1174 "In bulk edit products, product category not updating"
I add the column "product category" in the bulk edit product page, because we have changed some product categories and need to update the products lists quickly.
I select another category, I see at the bottom "changes unsaved", but the new category doesn't appear, and if I save, nothing is saved. I have to go in each product one by one to change the product category... which is not at all user fri

[2016-10-03 16:48] myriamboure commented on #1174
Oups, it was a bug on my side, sorry, I had filtered only for the previous category so when I changed it it didn't appear any more... it's a bit confusing but normal ;)

[2016-10-03 16:48] #1174 closed

[2016-10-03 17:13] lin-d-hop commented on #1135
Couple more things to consider to complete this issue:
1) Aus ToS is not useful to any other instance so having this as a default seem inappropriate.
2) When ToS field blank the default is not being picked up by ContentConfig. The link should possibly be hidden in this scenario.

[2016-10-03 22:08] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57f2d6c4eba4ad1100e0e012)

[2016-10-04 07:14] daniellemoorhead commented on #1135
Given the PR has been merged @lin-d-hop do you want to close this issue or leave it open for the extra things you noted?

[2016-10-04 14:02] lin-d-hop commented on #1134
PR #1175

[2016-10-04 14:13] lin-d-hop commented on #1167
Closing at this was related to the fix in the last deploy.

[2016-10-04 14:13] #1167 closed

[2016-10-04 16:08] lin-d-hop commented on #1155
PR #1177

[2016-10-05 02:39] mkllnk opened #1178 "Map tiles are loaded with http"
The OpenStreetMap tiles are loaded through http even if the rest of the connection is encrypted with https. That makes the connection insecure and the browser warns about it.

[2016-10-05 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57f47ad238b6b513002aebc0)

[2016-10-05 15:06] OliverUK commented on #1020
Thanks for pointing me here @myriamboure! I've added the UK label.

[2016-10-06 11:31] lin-d-hop commented on #1164
PR merged.
Closing :-)

[2016-10-06 11:31] #1164 closed

[2016-10-06 23:51] daniellemoorhead commented on #1087
Needs to include error handling for products in the standing order that are not in stock.

[2016-10-06 23:53] daniellemoorhead commented on #1087
This issue can't be done until #1077 is completed.

[2016-10-06 23:59] bingxie commented on #1172
I opened few tabs of different shops, but I can't reproduce this issue on au website and my local machine. @sstead can you have a look and reproduce it?

[2016-10-07 00:05] daniellemoorhead commented on #1159
#nicetohave

[2016-10-07 00:21] daniellemoorhead commented on #1054
This epic is covered by issues in #1089 so am closing it.

[2016-10-07 00:22] #1054 closed

[2016-10-07 00:27] sstead opened #1180 "Contact tab not opening when shopfront requires login"
Clicking the contact hyperlink should open the shop's contact details tab. I think the URL of the link should be https://staging2.openfood.com.au/producer-of-honey/shop#/contact instead of https://staging2.openfood.com.au/producer-of-honey/shop##contact

![image](https://cloud.githubusercontent.com/assets/10843056/19175198/72b15258-8c80-11e6-9a8c-01fcff501aaa.png)

[2016-10-07 01:15] #846 closed

[2016-10-07 01:16] #377 closed

[2016-10-07 01:20] kirstenalarsen opened #1181 "/shops page takes ages to load"
The page loads in all information about all enterprises in the system, which makes it now incredibly slow. Need to work out how to get this page to load faster

Avenues of exploration:
- load less data, e.g. only open hubs/shops, their producers and their producers' hubs
- change the way data loads
- other?

@bingxie is going to have a go at estimating this, so could @oeoeaio and @mkllnk please pu

[2016-10-07 02:08] mkllnk commented on #1181
Initially, that page listed all shops. Now, it displays only open shops in the beginning. I think it would be good to load only the open shops first. The buttons to display closed shops or profiles can then load the additional shops. The shop-front pages already deal with later loading of enterprises into a big list of enterprises. That should make it easier.

[2016-10-07 03:42] #901 closed

[2016-10-07 03:58] sstead commented on #1173
Maikel said this was due to one profile- we removed that enterprise from the group and this solved the problem. Chocolate RenMar

[2016-10-07 04:48] #1160 closed

[2016-10-07 13:46] lin-d-hop commented on #1180
This has just been picked up by a UK user too.

[2016-10-08 16:37] NickWeir63 opened #1182 "Can't set product stock level"
When user tried to set stock level to 5 the level reset to infinity after update.  Because this was a live shopfront and the user needed a quick solution I have since deleted this product and replicated a similar one to replace it so am sorry we can't go back to their shopfront to see the problem, but here are the screenshots
![screenshot 2016-10-08 17 06 22](https://cloud.githubusercontent.com/as

[2016-10-10 11:30] myriamboure commented on #218
Hi there, I have a related issue in France, as you guessed well :-)
The default country when an enterprise get registered is "Afghanistan"... to change that, should I go in the application.yml and make the same change as you did @lin-d-hop, DEFAULT_COUNTRY_CODE: FR ?
Also as you guessed, the states don't charge until we have chosen a country, but I don't see how to do differently, as we have cases

[2016-10-10 12:02] myriamboure opened #1183 "duplicates in states are created automatically and some can't be deleted"
See problem described here: http://community.openfoodnetwork.org/t/states-management-internationalisation-issues/707

[2016-10-10 20:26] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57fbf9814b7cad1100bbaa94)

[2016-10-11 13:12] myriamboure opened #1184 "Not possible to update an OC after removing an entreprise fee"
Before:
![screenshot from 2016-10-11 15-07-22](https://cloud.githubusercontent.com/assets/8135376/19271399/dce4b312-8fc4-11e6-8fd3-571ca21c6231.png)

After: the red "update" button doesn't show up
![screenshot from 2016-10-11 15-07-29](https://cloud.githubusercontent.com/assets/8135376/19271401/de5c89e0-8fc4-11e6-9e4f-b29781c557b1.png)

[2016-10-11 13:23] myriamboure opened #1185 "Uploading page super slow when product with heavy image"
There is no mention of image size when uploading a new product.
I was in a support call with a user, and when he was uploading a new product, it took literally 10 sec between I clic on "create" and the product page charge with the new product. The user was thinking there is a bug.
It would be great to have a mention under the image about the max size of the image, and maybe, should we actually lim

[2016-10-11 13:41] CynthiaReynolds commented on #1184
if you make a change elsewhere in any text box, it will give you the update option and allow the change

[2016-10-11 14:57] myriamboure commented on #1184
Yes I saw the work around, not for the user experience not intuitive at all!
The problem also happens when you delete coordinator fee, so I suspect any fee.

[2016-10-12 01:24] sstead commented on #1062
Regarding create an order... this is working well! yay!... a few nice to haves...
- It would be great if you could search for customers by their billing name, currently you can only search by email. People often have emails like bigapple65@gmail.com, so searching by email isn't always straightforward for the hub.
- Regarding the loading of customer details... Can we make it such that by default, t

[2016-10-12 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57fda740b4e4651000e6ec0c)

[2016-10-12 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57fdb5525acf151100a72ba7)

[2016-10-12 14:20] lin-d-hop commented on #1040
This has now been resolved. Closing and opening a new issue for the outstanding issue.

[2016-10-12 14:20] #1040 closed

[2016-10-12 14:30] lin-d-hop opened #1186 "Change from 3 Letter abbriviation for Enterprise registration county"
When enterprises sign up a three letter acronym is displayed when asked for their address.
![ofnenterprisesignup1](https://cloud.githubusercontent.com/assets/8669848/19313970/44edd670-9090-11e6-8de7-53705440b99e.png)

It would be great if the whole name could be displayed, just as it is when a user checks out
![ofnshopfront2](https://cloud.githubusercontent.com/assets/8669848/19314076/b26e5710-909

[2016-10-12 14:32] lin-d-hop opened #1187 "Change from 3 Letter abbriviation for Enterprise registration county"
When enterprises sign up a three letter acronym is displayed when asked for their address.
![ofnenterprisesignup1](https://cloud.githubusercontent.com/assets/8669848/19313970/44edd670-9090-11e6-8de7-53705440b99e.png)

It would be great if the whole name could be displayed, just as it is when a user checks out
![ofnshopfront2](https://cloud.githubusercontent.com/assets/8669848/19314076/b26e5710-909

[2016-10-12 14:32] lin-d-hop commented on #1187
Duplicate

[2016-10-12 14:32] #1187 closed

[2016-10-12 14:33] lin-d-hop commented on #1184
Closing at this is a duplicate of #1165

[2016-10-12 14:33] #1184 closed

[2016-10-14 01:28] RohanM commented on #1121
When we deployed this feature, we had a performance regression. I'm looking into how to make it fast enough to re-launch the feature, and also putting in some performance smoke tests so we pick up this kind of problem sooner.

[2016-10-14 03:42] RohanM commented on #1173
Discussed with @sstead and it seems that although we can work around it, it would be better to fix the root problem. We suspect that is: When an enterprise has an address that can't be geocoded, it doesn't appear on the listing.

@sstead Could you post instructions to reproduce the problem?

[2016-10-14 06:27] sstead commented on #1173
I've tried to replicate the problem unsuccessfully today, by creating a new enterprise with errors in the address and then adding it to a group. Bug hasn't reappeared. Can try again if needed.

[2016-10-14 11:47] lin-d-hop commented on #1156
Hi @rhodri
Am I right in thinking you were going to take a look at this one?
I like your thinking that as this spans a number of reports it will help you get your head around reporting a bit before we look at overhauling.
Nice one!

[2016-10-14 14:34] lin-d-hop commented on #1180
Looking at this as it has been raised by a new user. PR #1188

[2016-10-17 10:32] myriamboure commented on #1186
See case here @lin-d-hop , I think that are overlaps: http://community.openfoodnetwork.org/t/states-management-internationalisation-issues/. If whole name is displayed, we won't have any more problem I think :-)

[2016-10-18 04:23] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5805a3b2897ad8110017e666)

[2016-10-19 02:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5806d3b47d7ae3100035f4a7)

[2016-10-20 07:55] lin-d-hop commented on #1155
Merged. Thanks crew!

[2016-10-20 07:55] #1155 closed

[2016-10-20 07:57] lin-d-hop commented on #1134
Merged. Thanks!

[2016-10-20 07:57] #1134 closed

[2016-10-20 11:42] NickWeir63 opened #1189 "UK tab from openfoodnetwork.org/hubs/#im-ready doesn't work"
when i click on UNITED KINGDOM nothing happens
![screenshot 2016-10-20 12 41 10](https://cloud.githubusercontent.com/assets/10517702/19558481/ad3c54b2-96c2-11e6-97c7-1f4f3fcd135a.png)

[2016-10-20 11:46] lin-d-hop commented on #1189
@NickWeir63 Labels please... or we'll never find this issue again :-)

[2016-10-20 14:32] OliverUK opened #1190 "Purchase order and some consumer orders not copied to Stroudco"
As discussed with Lynne, no copies of purchase order emails came through this week and some consumer order emails also get lost each week.

Thanks for looking at this.

[2016-10-20 14:54] lin-d-hop commented on #1190
Thanks @OliverUK. This is an ongoing issue with deliverability to your specific email address as spam bots continue to occasionally pick up the bulk emailing as spam.
Since this might be an issue the could affect other UK users, would you make a thread about it on discourse such that I can update with relevant information?

[2016-10-20 14:56] OliverUK commented on #1190
Certainly Lynne

[2016-10-20 15:38] NickWeir63 opened #1191 "Invoices from accounts@ofn.org.uk not arriving at user's email"
Sara created an invoice through the Accounts@openfoodnetwork,org,uk login.  The invoice copied OK to hello@ofn.org.uk but it didnt come to sara - see email trail below.

From: Sara Rock [mailto:sara@tamarvalleyfoodhubs.org.uk]
Sent: 20 October 2016 14:04
To: nick@openfoodnetwork.org.uk
Subject: Re: FW: Open Food Network UK Invoice #R317247883

No didn't come to me, good job we can try this out on

[2016-10-20 16:18] Rocksj commented on #1191
Just sent an invoice to myself for my Tamar Valley Food Hubs order and came through straight away to my personal email address. I think this must be something to do with the way accounts@ is set up?

[2016-10-20 16:25] lin-d-hop commented on #1191
Duplicate of #1190
I'm in communication with our email provider. Will update with more details when I have them.

[2016-10-20 16:25] #1191 closed

[2016-10-21 00:07] sstead commented on #546
It's important that enterprise addresses are valid, and can be successfully plotted on the OFN maps. We have found that when addresses aren't valid (such as a typo in the street name), other strange things can happen, such as https://github.com/openfoodfoundation/openfoodnetwork/issues/1173

Dani has suggested that we find an API which validated addresses at the point of enterprises entering their

[2016-10-21 00:09] sstead commented on #1173
Dani has suggested that an even better solution would be to implement an address validator - https://github.com/openfoodfoundation/openfoodnetwork/issues/546

Then we won't have any funny bugs caused by incorrect addresses.

[2016-10-21 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5809a0e2c28820110047ba48)

[2016-10-21 06:44] myriamboure commented on #546
As we still use the google map database, it seems there is that in Google maps, no? Lots of times, you start typing your address, and the suggestion in Google map appear, and you can only clic on it, so you have to enter an address which is recognize by google maps (autocomplete)

[2016-10-22 11:49] lin-d-hop opened #1193 "Adding Unsubscribe link to the bottom of all emails"
In the UK we are intermittently finding that batch emails are being picked up by spambots and resulting in specific mails being blocked to the recipient. This relates to us using a shared IP mailserver, so Aus likely isn't experiencing this. But we should be able to prevent it all the same. Fortunately it is only affecting hub managers at the moment. And at the moment our hub managers are a core p

[2016-10-22 22:47] mkllnk commented on #1193
Hi Lynne, this is really interesting. Which mail provider do you use? And which emails are you talking about?

It does not seem right to me to add an unsubscribe link that does not work. First, our users could be confused about this fake feature. And second, I'm just imagining all these spammers using the same technique which will render it useless. It would be interesting to try though. So if you

[2016-10-23 08:29] lin-d-hop commented on #1193
We're using SendGrid. The ones that get blocked are the CCs to hub managers, and not all of them, mostly when they are sent in a big batch.

It's not our fault were not getting these transactional emails, but similarly given it is a rather specific set of emails that are not getting through there must be things that are within our power to enable.

I'm basically plucking things out of this documen

[2016-10-23 16:48] stveep commented on #1186
Here's a few thoughts on how to get started on this issue:

It's probably just a case of figuring out where the checkout page gets its data from, and changing the signup page to use the same source. Here's where I would start

Page with the abbreviated states (i.e. counties for UK):
`app/assets/javascripts/templates/registration/details.html.haml`

This new enterprise signup flow is all in Angular

[2016-10-25 08:03] myriamboure commented on #1039
@sigmundpetersen do you have the same issue in Norway? I'm wondering if it's an internationalisation issue or only the French config.

[2016-10-25 08:08] myriamboure commented on #928
Complement to the demand: the hub wants the clients to be able to order easily from a mobile without  having to log in, and entering the min info possible.

[2016-10-25 08:10] myriamboure commented on #853
The problem is also for the amount filled in in calculators, and in the inventory page. Anyway, I guess it's on all amounts :-)

[2016-10-25 08:16] sigmundpetersen commented on #1039
You mean the "translation missing" issue? These are keys not added to the yml files for translation yet (thus not added to Transifex). For Norway I translate all these "translation missing" manually in the yml file on the instance server.

So here fr.enterprise_mailer.welcome.subject will be the key

fr:
  enterprise_mailer:
    welcome:
      subject:

[2016-10-25 15:26] myriamboure opened #1194 "Sales_tax report adaptation for French instance"
For France, our users need this report for their accounting / VAT declarations and payments.
But we need in the report for each order to have the total tax for each VAT rate, so total tax 5,5%, total tax 10%, total tax 20%. and then the total tax aggregation those figures.
So that the hub users can transmit this document to their accountant.

[2016-10-25 15:27] myriamboure opened #1195 "Invoice adaptation for French instance"
How can I translate and adapt the invoice format that you can print from the order?
We need to make a French version (I guess every instance will need its own version)

I also need to be able to see the different VAT rate on the invoice.
Even without changing anything in the current set up (VAT is included in prices, so included in shop front, and detail "including xxx VAT" in the confirmation) we

[2016-10-25 18:01] stveep commented on #1157
This could be a good issue for a new dev to get started on - can we add a bit more information? This is affecting the /shops page. An E2E refers to an enterprise-to-enterprise relationship, where one Enterprise (a hub) sells products from another Enterprise (a producer). I believe that the little category badges are the Taxons associated with the hub Enterprise. So maybe what's needed is a callbac

[2016-10-25 18:11] stveep commented on #1165
This could be something for someone to get started on, if you like a bit of Angular. I think it's likely to be a function in `app/assets/javascripts/admin/order_cycles/services/order_cycle.js.coffee` not correctly flagging that the form has unsaved changes ('dirty').

[2016-10-26 00:12] mkllnk commented on #1193
That's a good document. You probably went through a lot already. Here are some of my thoughts:

- Are there any emails people don't interact with? Should we give managers the option which notifications to receive and which not to receive?
- We can do the unsubscribe link if we point it to somewhere useful.
- Do we have "Open Food Netowork" in the subject?
- Can you tell the hub managers to add the

[2016-10-26 01:55] sstead opened #1196 "New customers checking out as guest - hub address saves as default delivery address"
An Improvement picked up while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1142

There is an inconsistency with saving the hub's address as the customer's default shipping address for customers who select a 'pick up' shipping option.... We need to ask if this is what we want in the field? and how is this helpful? Appologies for the long winded explanation below:
![image](htt

[2016-10-26 01:57] sstead opened #1197 "If customer has different shipping and billing default addresses don't make them unclick 'same as billing' in checkout"
A nice to have improvement...picked up while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1142

![image](https://cloud.githubusercontent.com/assets/10843056/19293694/2fbab552-9072-11e6-9d23-527cf682bc1e.png)

[2016-10-26 01:58] sstead commented on #1196
Note the same thing occurs if Admin creates an order for a new customer and checks them out as a guest.

[2016-10-26 04:15] sstead commented on #1189
![image](https://cloud.githubusercontent.com/assets/10843056/19713103/ed95d44a-9b8e-11e6-8d24-59f294b91f60.png)
Fixed

[2016-10-26 04:15] #1189 closed

[2016-10-26 13:39] levent commented on #1157
@stveep I believe this is being caused by a lack of cache invalidation. When I set the development cache_store to null store this problem stops happening.

I'm still getting my head around the codebase but the serializer relies on ```Enterprise#cache_key``` which by default in rails is a combination of class name, id and updated_at.

We could touch the Enterprise object when an Exchange is modifie

[2016-10-27 13:39] NickWeir63 opened #1200 "About us box needs widening for email address"
The box splits the email address so that simon@woodchestervalleyvineyard.co.uk shows as
**mon@woodchestervalleyvineyard.co.uk** above
**si**
see below
![screenshot 2016-10-27 14 30 09](https://cloud.githubusercontent.com/assets/10517702/19769364/07769e70-9c53-11e6-9053-96b4b7c62739.png)

[2016-10-28 03:27] sstead commented on #1171
Update. This issue is a problem associated with the Angular Foundations gem. To fix you must rewrite the whole tab. Not a quick fix.

[2016-10-28 04:40] sstead opened #1202 "Products with zero value in weight/volume field jam the BOM page"
## Description
In "bulk order management", if I set up a weight/volume to 0, the system doesn't manage to update the price to 0 (inconsistency) and when I try save, it save "fields in red contains error" (it's in orange, not red ;-)). Also I modified another field properly (but weight to 1000g instead of 2000) and this second field was also in orange (confusing as we think there is a mistake).

##

[2016-10-28 06:43] RohanM commented on #1157
Hi @levent, this is really good. I've incorporated this change into a broader set of cache invalidation work, which was in turn needed to make some other changes performant. The changes are in the later commits on this branch: https://github.com/openfoodfoundation/openfoodnetwork/compare/shop-property-filters-take-2?expand=1

[2016-10-28 07:23] levent commented on #1157
Hi @RohanM, thanks. I will close my PR then https://github.com/openfoodfoundation/openfoodnetwork/pull/1198

[2016-10-28 12:59] NickWeir63 commented on #1202
One of our UK potential users is a food bank which distributes food that supermarkets are throwing out.  In many cases they want to give the food away and then just ask for a donation at the end as part of the check out process.  Would it be possible to allow products to be set up with a price of 0.001 so that it rounds to zero and allows products to be given away?

[2016-10-29 10:18] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58147780013b8b1100f19158)

[2016-11-01 08:00] OliverUK commented on #1193
@mkllnk

- I really want all the email the system sends, both to consumers and to producers. It makes my life much easier and conversely more difficult when they don't arrive.

- Email subjects looks something like this "Open Food Network UK Order Confirmation #R634118202"

- Will it make any difference if I add the OFN email to my address book? I don't think the filtering out happens anywhere tha

[2016-11-01 08:11] lin-d-hop commented on #1193
SendGrid say yes, add to address book. It helps with spam algorithms. I was under the impression you did this months ago.

⁣

Sent from BlueMail

​

On 1 Nov 2016 08:00, at 08:00, Oliver M <notifications@github.com> wrote:

[2016-11-01 09:07] OliverUK commented on #1193
![screen shot 2016-11-01 at 09 04 01](https://cloud.githubusercontent.com/assets/17590921/19884564/3311d24e-a012-11e6-896c-cab21d400810.png)

Indeed but neither that nor telling my webhost to allow everything from OFN has made any difference.

[2016-11-01 09:18] OliverUK commented on #1193
Incidentally, as I'm also currently helping with keeping an eye on OFN support requests in the UK, I can tell that not even the copies to support@openfoodnetwork.org.uk all arrive in Mags gmail account. I understand this support@ address is not a mailbox itself but simply forwards to the gmail account.

Either the notification email copies don't even make it to an email address on the same domain

[2016-11-01 11:02] mkllnk commented on #1193
That depends on the configuration of your email client. If your email client syncs the address book with your email hoster, it can help. If your email client keeps the address book offline, it can't help. If you have a webmail interface, it could help to login there and add the sender addresses to the address book.

I have not heard of any of these problems before. I thought that your use of Sendg

[2016-11-02 08:42] daniellemoorhead commented on #1130
@sstead can you confirm that this has been added to the user guide? It went through in 1.8.6 but there weren't release notes from you as far as I can see and so I wanted to confirm before I closed this.

[2016-11-02 08:45] daniellemoorhead commented on #1131
Hiya @bingxie can you give me an update on where this issue is at? Almost ready to test and deploy?

[2016-11-02 09:34] daniellemoorhead commented on #546
@lin-d-hop this was the address validation issue I spoke about in the dev chat. Not sure if it's worthy of focus by Levent, but tis a candidate :)

[2016-11-02 11:18] lin-d-hop commented on #1193
My understanding is that Gmail smpt will overwrite any 'from' address with your 'from' address. I imagine this is how gmail maintain super high deliverability. This is great in the standard use case. But this actively stops us from whitelabelling OFN emails, which so many of our users/potential users want.

[2016-11-02 11:22] lin-d-hop commented on #1190
Thanks @OliverUK
This issue is being tracked on discourse:
https://community.openfoodnetwork.org.uk/t/problems-with-notification-emails-not-arriving

An issue has been opened for relevant code change #1193 but this is still under discussion.

[2016-11-02 11:22] #1190 closed

[2016-11-02 18:03] lin-d-hop commented on #402
Closing as this is now being handled in the Standing Orders epic!

[2016-11-02 18:03] #402 closed

[2016-11-02 18:04] #229 closed

[2016-11-02 19:50] lin-d-hop commented on #1135
Closing issue. I doubt anyone will get around to this any time soon so lets wait for someone to pick up the above outstanding tidbits eh? :-)

[2016-11-02 19:50] #1135 closed

[2016-11-02 21:44] sstead commented on #1130
Hey @daniellemoorhead , yep it was in the [release notes](http://community.openfoodnetwork.org/t/what-s-new-v-1-8-6-162810/720) and covered in the [user guide](https://openfoodnetwork.org/user-guide/advanced-features/customer-accounts-and-tagging/).

[2016-11-02 21:44] #1130 closed

[2016-11-03 07:39] myriamboure commented on #1195
Ping @mkllnk or @oeoeaio any idea where /how to translate and adapt the invoice?

[2016-11-03 14:42] lin-d-hop commented on #1193
Digging into the depths of our mailserver I have found we can add an unsubscribe from there. In the longer term it might be advantageous to add this from internal to OFN as it would enable us to reference the actual enterprise sending the email. But for now I will close this while I see if it improves deliverability.

[2016-11-03 14:42] #1193 closed

[2016-11-03 22:39] oeoeaio commented on #1195
Hi @myriamboure,

Translation of invoices will need to be added in the same way as any other pages on the site, at the moment it looks like some elements of it are hard-coded so there will be a little bit of initial work (perhaps an hour or so) to add the translated elements. Any developer familiar with rails should be able to do this, so if you have someone there who is willing to add translation

[2016-11-04 05:01] daniellemoorhead commented on #1158
@oeoeaio can you discuss this one with @sstead because it was her suggestion to do this. Can you both decide on the best way forward with this, and if it's required for version 1. Ta!

[2016-11-04 05:23] daniellemoorhead commented on #833
@lin-d-hop and @stveep maybe this is something worthy of Levent's attention. It's a pretty important thing to have but it's never got to the top of the list of priorities. Designing out how it would work for new users and then for existing unverified users, and then implementing it, shouldn't be too much of a stretch....maybe?

PS. Didn't like Levent to this because not sure of his userID :)

[2016-11-04 05:56] RohanM commented on #1157
I ended up writing some slightly higher-level specs for the functionality, so that's all good. Thanks again!

[2016-11-04 10:25] myriamboure commented on #1195
Thank you @oeoeaio and you're right, this is the point 3, but an urgent point for one of our user and that can be done first, before the whole job on tax refund is done, I guess (I hope). As we have a workaround for the moment by including VAT in prices (tax rate set up as "VAT included in price), so display in shopfront, so we "just" need, in the calculation of the VAT, to isolate the aggregation

[2016-11-04 10:42] lin-d-hop commented on #1031
@stveep Would you be willing to look into this issue a little more? Perhaps to scope it out a little more for @lebreeze.

[2016-11-04 11:55] OliverUK commented on #1026
I feel this still needs addressing. Maybe @lin-d-hop  could reopen this issue, even if not labelled as a bug, while I go and do all my weekly paperwork a second time? :(

[2016-11-05 13:31] lin-d-hop commented on #1031
A little more specification from a non-technical perspective:

As a shopper, when I am logged in I would like my cart to persist for the hub I am shopping with. I would like OFN to remember the last cart that I created such then if I log out and log back in again the last cart is persisted.

If I change enterprises, order cycles or the order cycle closes my cart should not persist.

Currently if a

[2016-11-05 13:56] lin-d-hop commented on #1020
@OliverUK Just wanted to check why you've added this to UK Current? Is it an urgent priority or something Stroudco in particular would like to see?

[2016-11-05 14:01] lin-d-hop commented on #1182
Another user has reported this issue. This needs investigation.

[2016-11-05 14:05] lin-d-hop commented on #913
closing as duplicate of #552 and better described there.

[2016-11-05 14:05] #913 closed

[2016-11-05 14:07] lin-d-hop commented on #818
This enhancement has also  been requested by Dean Forest Food Hub. @NickWeir63 When do you think this might be important for Stroudco?

[2016-11-05 14:14] lin-d-hop commented on #357
Closing as we will now be dealing with this in issues stemming from:
http://community.openfoodnetwork.org/t/bulk-import-of-product-inventory/667/7

[2016-11-05 14:14] #357 closed

[2016-11-05 15:43] OliverUK commented on #1020
@lin-d-hop yes. It's not critical but certainly seems the lack of any formatting results in a rather incomplete package for hubs and users. Here you want to be able to sell your items, write about it, possible add links or a list. Currently it's really only good enough for one or two sentences. It doesn't even do paragraphs.

[2016-11-05 15:56] lin-d-hop commented on #1020
Ok. I agree it can make a big difference, particularly for producers. Let's get it explored.

@stveep (or @lebreeze)
Would it be possible to have a few options put on the table here? Would you be able to explore options for formatting the product descriptions including enabling HTML and markdown with pros and cons of each and a recommendation of the best course of action.
It would be good to have

[2016-11-05 23:42] mkllnk commented on #1031
I think that would be great. There was once a multicart feature before my time. I'm not sure if that actually worked. I definitely find the current cart system confusing and brittle. But it might be a bit difficult to work around Spree's model of only one cart.

[2016-11-06 09:12] oeoeaio commented on #1031
This would be different to a multi-cart, right? We would simply be tweaking the `current_order` method in `lib/spree/core/controller_helpers/order_decorator.rb` to make it search the database for a relevant incomplete order, in the event that there is no `order_id` in the session.

If this search was restricted to incomplete orders owned by the current user, for the current shop and in the current

[2016-11-06 10:20] NickWeir63 commented on #1182
It would be god to get more detail from this latest user reporting this problem because I deleted the product that caused me to report this issue in the first place.  Did they try editing stock from the 'bulk edit products' screen?  On reflection and having just done a bit more testing I realise that the first user and I were trying to edit the stock level using the 'Editing Product' screen below

[2016-11-06 10:22] NickWeir63 commented on #818
I don't think this is urgent for Stroudco.  We are planning to ,move to bigger premises before this is likely to become an issue.  But let's check with @OliverUK first

[2016-11-06 10:24] OliverUK commented on #818
Agreed. Other things are more important.

[2016-11-06 12:10] NickWeir63 commented on #833
Adding Levent https://github.com/lebreeze

[2016-11-06 21:05] kirstenalarsen commented on #1031
the multi-cart never worked. it was a folly, that was abandoned ass the complexity became too much :)

[2016-11-07 01:46] sstead opened #1204 "Visual indication of stock levels in order cycle setup."
Use case: Theresa from Canada has a hub with multiple outgoing distributors and independent suppilers. The suppliers can update their stock availability and mark unavailable products with 'on hand = 0'. The coordinator populates the incoming section of the order cycle. The distributors can then login and select which items they'd like to stock it their outgoing shops. The problem for the coordinat

[2016-11-07 10:05] NickWeir63 commented on #833
@levent

[2016-11-07 10:29] lin-d-hop commented on #1031
While multi-cart would be amazing, this enhancement falls a long way short. Thanks for the clear spec @oeoeaio.

Tagging @levent as I tagged him incorrectly above.

[2016-11-07 10:30] lin-d-hop commented on #1020
Tagging @levent as I tagged incorrectly above.

[2016-11-07 11:08] lin-d-hop commented on #1129
I get around this by having a notify.ofnuk@gmail account that all notifications are sent to then filtering out the transactional mail i don't want to read. The result is that in my inbox I have important emails, such as "<enterprise> is now on Open Food Network UK".

[2016-11-07 11:15] NickWeir63 commented on #1031
I dont' think @levent is getting these notifications - when I spoke to him just now he has not seen these github notifications.  is there something wrong with his membership of this group?

[2016-11-07 11:19] levent commented on #1031
Hi Nick, notifications are fine. It was just the incorrect username being used previously.
Cheers

[2016-11-07 12:14] levent commented on #1031
Based on @lin-d-hop and @oeoeaio's comments this doesn't seem too complicated. I will familiarise myself with the cart logic today and get back to you.

[2016-11-08 07:33] levent commented on #1031
Ok. I went on a bit of a roundabout tour and discovered that there were some changes made a while ago that modified the cart logic.

Out of the box, spree attempts to merge the current session's cart with any incomplete cart when a user logs in.

In October 2012 two commits https://github.com/openfoodfoundation/openfoodnetwork/commit/27b7d59f460fa3440a6c7fd90f3408929f0f415d#diff-af734c2388f7722b39

[2016-11-08 23:41] sstead commented on #1121
Regarding the shops page...
Type filter not working:
![image](https://cloud.githubusercontent.com/assets/10843056/20121910/35f3cef2-a668-11e6-85d0-1bbf46d6f28f.png)
It is working in the groups shops page:
![image](https://cloud.githubusercontent.com/assets/10843056/20121973/96609194-a668-11e6-922d-f44c4c325721.png)

Other things (I'm not sure if related)
- A producers's taxons and properties aren'

[2016-11-08 23:46] sstead commented on #1121
This is probably a separate thing to fix? Would you agree that this makes more sense...
Shop Now link should only be red if that shop is currently stocking an item from the producer in their open OC.
![image](https://cloud.githubusercontent.com/assets/10843056/20122116/75e62cac-a669-11e6-83e2-e497dc6304a2.png)

[2016-11-09 00:56] sstead commented on #1121
Note to self: Tested cacheing, and making sure that changes were getting captured...
All was well in regards to products and taxons and properties, and how they display in shops page, producer page and groups equivalent.
Open Shop
- New open OC YES
- New supplier - new items in shop YES
- Items removed from shop YES
- New properties to supplier YES
- New properties to item YES
- properties removed

[2016-11-09 03:05] sstead opened #1205 "Require a product to be added to cart, before other products can be added (add ons)"
Make it so that I cannot add certain items to my cart unless I have another certain product in my cart already.

This is a request from a user selling bulk meat boxes, with the option of 'add on' items. She doesn't want customers just buying the add ons alone.

This is low priority, a nice to have feature.

[2016-11-09 08:34] myriamboure opened #1207 "Create a printable receipt and enable printing for POS"
http://community.openfoodnetwork.org/t/print-a-receipt-in-a-pos-use-of-ofn/719

[2016-11-09 19:14] myriamboure opened #1208 "Upload Spanish localisation files to display producers and hubs based in Spain"
The hubs sells directly to France fruits and veg that he picks up himself at small farmers, so we need to upload the localisation files to see them on the map

[2016-11-09 19:15] myriamboure commented on #1208
Will a resize of the map happen then, or can the map still be focused on France, even if there are some producers and hubs in Spain?

[2016-11-11 02:55] mkllnk opened #1209 "Enable testing OFN offline"
If you try to use the OFN locally without being connected to the internet, the Javascript fails, because it can't find some Google objects. It breaks the whole site. It also means, if Google where to go offline, the production OFN servers would break. It would be really good to cut that dependency.

[2016-11-11 03:54] mkllnk commented on #1166
@sstead and @daniellemoorhead I just talked with Rob about this. And we think it's a rare edge case. I would also like to know what you think about this alternative:

![screenshot from 2016-11-11 14 51 21](https://cloud.githubusercontent.com/assets/3524483/20203785/7b1dd4a2-a81e-11e6-9dd4-2187285c1436.png)

Instead of condensing the items, we could separate them clearly by order. That way users se

[2016-11-11 04:04] mkllnk commented on #1086
We had this idea in the beginning, but it is not needed for a minimum viable product. Currently, you can't edit your cart in the dropdown, only on the cart page. So we don't need to introduce that for standing orders.

I also just talked to Rob and this needs a bit more thought, maybe a UX designer. If we enable editing in the dropdown, we have effectively two carts with the same features, which i

[2016-11-11 04:16] daniellemoorhead commented on #1166
IMO I don't think the order number makes sense. The customer doesn't care about which order it's in, they only care about the fact that they ordered Loin Steak in this order cycle. To me, if they decide to order more it's because they needed more added to the original amount they bought, so rather than thinking "I want 1kg plus 1kg of loin steak" they're going to think "I want 2kg of loin steak".

[2016-11-11 04:34] mkllnk commented on #1166
Sounds very good to me.

[2016-11-11 11:16] lin-d-hop commented on #980
@MagsHall just testing your notifications are working

[2016-11-11 11:29] MagsHall commented on #980
Yes! But I seem to be getting notifications about pretty much everything on Github, and I have to admit I don't read them all. Will go and edit my settings so I'm only getting notifications about mentions.

[2016-11-11 13:36] lin-d-hop opened #1211 "Enterprise Registration - Agree to Terms of Service"
Different countries have been developing Terms of Service, but unless we provide a place in which we ask people to our Terms of Service we are going to have trouble enforcing them.

I would like to see an optional 7th step added to the Enterprise Registration process (see image below). It would contain fully translatable text fields. Users will need to check a Checkbox to enable the Finish button

[2016-11-11 21:10] oeoeaio commented on #1211
Sounds good to me!

[2016-11-12 08:53] lin-d-hop commented on #1031
Thanks @levent!
@daniellemoorhead would you mind following up @levents question above with @rohanm?

[2016-11-12 12:00] myriamboure commented on #1211
That's awesome, definitely needed :-)

[2016-11-12 12:14] NickWeir63 commented on #1211
yes I like this idea.  the UK finalised (for now) [terms of service are here](https://drive.google.com/file/d/0B8GhJcMDO6a1dEI5N3RuS2E2Ym8/view?usp=sharing)

[2016-11-14 08:18] myriamboure commented on #621
Hi there! This is a legal requirement for a user to be able to delete his personal information from any platform. We had a user in France writting to us yesterday that he wante to delete his account but didn't manage to. Technically, we are not following the legislation, this should be possible. Any progress on this "soft delete" option? Technically we are supposed to delete all info regarding the

[2016-11-14 08:21] myriamboure opened #1212 "A user (hub manager or buyer) should be able to delete his account from OFN"
As a user I can delete myself my account (as I can close my account on any platform). For legal reasons and archive needs passed transaction stay registered, but I shouldn't be anymore in the "users" list.

[2016-11-14 18:03] Matt-Yorkley commented on #1020
Is there much advantage to using Markup over HTML? A version of the "textAngular" WYSIWYG package and it's corresponding css files are already used in some of the admin sections:

https://github.com/openfoodfoundation/openfoodnetwork/blob/0760d4cc1f26fd06f60b420293e3671f205d0a07/app/views/admin/enterprises/form/_about_us.html.haml

Should be quite easy to add it to the product descriptions, and re

[2016-11-15 09:58] NickWeir63 commented on #1020
Hi Matt
Great to see you back involved in OFN dev stuff.  Thanks
Would you be able to join our dev update hangout tomorrow morning?  It is a fortnightly update where we all check in with input from Danni (our contact with the Aus dev team).  We all do it on a voluntary basis but it is a good way of getting support and finding out what else is going on.
Here is [the agenda for the hangout ](https:/

[2016-11-16 02:03] KeirOsborn commented on #1186
Hi,

Awesome, thanks Steve.

Ok so I had thought it was just a simple case of updating the form options to specify that the form displayed state names instead of state abbreviations. Obviously then I realised that this would wipe out the preferred behaviour of the AUS /registration page as the UK and AUS sites run off the same branch. I've only just got my head round this. The concept of multiple

[2016-11-16 06:37] daniellemoorhead commented on #1166
Let's work on this issue in the 2 weeks of iterative changes with community testing.

[2016-11-16 08:29] lin-d-hop commented on #1180
#1210 is updated PR for this issue.

[2016-11-16 09:13] levent commented on #1211
I will pick this up. @lin-d-hop I can't assign myself or drag cards on the ZenHub board it seems.

[2016-11-16 09:53] lin-d-hop commented on #1211
@levent... I still can't seem to assign to you. Are you able to do that?

[2016-11-16 09:57] levent commented on #1211
@lin-d-hop nope. I cannot change anything in the right column (assignees, milestones, labels etc.) or in ZenHub (permissions probably link) and I still don't seem to appear in auto-complete.

[2016-11-16 13:04] lin-d-hop commented on #1186
Hi @KeirOsborn,
So that we can assign you to teams and issues and the like, would you request to join the organisation OpenFoodFoundation? I don't have permissions to invite you (only owners can do that apparently...?) but I can accept you then add you to teams :-)
Thanks!

[2016-11-17 14:00] levent commented on #1211
Just a couple of observations / queries:

CSS gurus: As the registration flow breadcrumbs number 7 now they won't fit into the 12 column grid system. Any strict preferences on how you want me to implement this?

@lin-d-hop should this feature be enabled by default?

[2016-11-17 15:33] Matt-Yorkley commented on #1020
I've made an implementation for this but the textAngular javascript isn't instantiating properly on the edit product page. It's loaded properly into the admin.products module and works perfectly on the create product page. I can't tell if there's a conflict with other scripts on the page or not, and there's no errors in my javascript debugger...

https://github.com/openfoodfoundation/openfoodnetwo

[2016-11-17 15:58] Matt-Yorkley commented on #1020
The fact that it works on the create product page but not the edit product page is confusing. textAngular is supposed to find any elements labelled <text-angular> or <div text-angular> in the page and insert the additional WYSIWYG elements. I've checked the textAngular.min.js file is definitely loading on the edit products page. I've tried making dummy textAngular instances on the page that don't

[2016-11-17 21:27] daniellemoorhead commented on #1020
@rob @mkllnk thoughts?

[2016-11-17 22:15] RohanM commented on #1031
Hi @levent,

Nice work researching an obscure issue! I think the rationale is sitting in the commit message of https://github.com/openfoodfoundation/openfoodnetwork/commit/568d948cbe123bc98228566a240cbd7e43eb4a4d. It was very common for users to have incomplete orders sitting around in the database. When they completed checkout, the system was restoring their cart from their incomplete order and t

[2016-11-17 23:26] Matt-Yorkley commented on #1156
Maybe customers' names could be set to be capitalised uniformly on save as well, so the data is more uniform in the future?

[2016-11-18 00:19] RohanM opened #1213 "Back from view cart empties cart"
## Description
When shopping **as a guest**, my cart get emptied if I hit the "backward" browser button.

## Expected Behavior
If I am logged in, or if I am shopping as a guest, if I put products in my cart and go to the basket page, when hitting the browser "backward" button, my cart should remain with the products I put in it, and I should just be sent back to the shopfront page.

## Actual Beha

[2016-11-18 00:21] RohanM opened #1214 "Uploading a logo fails when registering an enterprise"
https://docs.google.com/document/d/1xnsu9_iC2YoQbWrpMGfR0R9rtZTjazMVEONAxqAYYWU/edit
https://docs.google.com/document/d/1CCjENJ-oVw8ka_SBSfQ1qC6cE0J3CyCQDH57zbf9vlA/edit

When I try to upload a logo, I see a JS error message:

`JS error: TypeError: headers is not a function`

Replicated on https://openfoodnetwork.org.au

[2016-11-18 00:23] RohanM opened #1215 "Extra content on new payment method error page"
When creating a payment method for enterprise, I didn’t select the hub initially to which the payment method was being created.
When I click on create without selecting the Hub, the page refreshes with an error message and prompts to “Atleast one hub must be selected”, but after a few seconds, there is an extra sub page loaded below this page, with the header , openfoodnetwork logo and all the hea

[2016-11-18 00:26] RohanM opened #1216 "UX confusing when adding/removing enterprise managers"
I log in as an enterprise user, and I edit my enterprise and go to the "Users" tab. I enter the email address of a user I wish to add as a manager.

When I do so, the "Update" button is shown as active. But I haven't actually made a change to the form. I have to click the "+" button before the user will be added. **I expect the "Update" button to stay greyed out until I hit "+"**.

![screenshot fr

[2016-11-18 00:28] RohanM opened #1217 "Add product image upload UX"
I login to the admin, go to bulk product management and then click "New product". I select a product image to upload. Above the form is what looks like an image preview. When I select an image, this preview remains on the placeholder image. I expect it to change to the uploaded image.

Would we prefer to remove the preview or make the preview update when we select an image? Perhaps we could reuse

[2016-11-18 00:30] RohanM opened #1218 "Remove order cycle admin debug information"
In every environment other than staging, we see debugging information under an order cycle. This is no longer useful, so remove it entirely.

![ofn-oc-debug](https://cloud.githubusercontent.com/assets/154210/20413682/64edb616-ad82-11e6-99e7-248d5a93b2a9.png)

[2016-11-18 00:33] RohanM opened #1219 "Add angular cloaking to admin edit enterprise"
While the edit enterprise interface is loading, we see the angular template before it is rendered. Use `ng-cloak` to hide this until it's ready to display. There are sections to cloak in the menu bar and also the body (see screenshot).

![ofn-edit-enterprise-cloaking-needed](https://cloud.githubusercontent.com/assets/154210/20413732/b2ee5898-ad82-11e6-8ba3-9b1fcd84d39c.png)

[2016-11-18 00:48] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=582e4fd29ec3f711007ba719)

[2016-11-18 01:40] sstead commented on #1202
yes, possible to have a $0.00 product
Perhaps create  new issue for 'ask for donation at checkout'
![image](https://cloud.githubusercontent.com/assets/10843056/20415400/0c4fb072-ad8c-11e6-8d1c-55baefcb1206.png)

[2016-11-18 15:51] NickWeir63 opened #1220 "Create option to ask for donation at checkout"
building on the discussion at [G#1202](https://github.com/openfoodfoundation/openfoodnetwork/issues/1202#issuecomment-261425029) it would be good to have this option for not-for-profit hubs which need voluntary support.  Also for food banks who are giving away the food but want to give 'shoppers' the option to make a voluntary donation

[2016-11-19 00:37] oeoeaio commented on #1211
@levent, good pick ups. With regard to the second issue, can we put the terms of service at the beginning of the registration process? ie. enterprise creation? Also, this is presumably more a user-level service agreement than an enterprise-level one, so I guess we should only show it to users who have not already agreed to it?

With regard to the first issue, can we show the terms of service befor

[2016-11-19 08:31] lin-d-hop commented on #1211
Hi @oeoeaio, I feel this might be more an enterprise level agreement, in that it is enterprises that we need to agree to uphold our ethics. It is enterprises that have the capacity to cause distrust from customers in the OFN brand by not upholding our ethics. And it is enterprises, rather than individual users, that we might need to hold to account. I can imagine one user with two different enterp

[2016-11-19 09:54] Matt-Yorkley commented on #1020
Tried temporarily adding some javascript to the top of textAngular.min.js that removes the text-angular element from the DOM on page load, confirmed both that the script is running on the page and the element is present when the script loads (in case an issue with Deface was causing the element to load after the script)...

[2016-11-20 10:18] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58317884fb65af1100969941)

[2016-11-20 11:50] pmackay opened #1221 "Remove default social Spree preferences"
There are several default social media and other preferences in

https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/content_configuration.rb

Can I suggest they would be better removed? A useful default is one that doesnt need changing. In this case most of those should be changed depending on the domain or country the OFN install is for.

I raise this because it was conf

[2016-11-20 13:57] NickWeir63 commented on #1221
From a UK admin perspective I agree it would be better to have blanks than Aus links

[2016-11-21 00:04] sstead opened #1222 "Improve display of group buy in shopfront"
A user has pointed out how unintuitive the group buy display in the shop front in. For someone who's never used the tool before, there are multiple ways they could interpret its functionality. For the example below, the user was unsure whether the 1kg meant the max that could be purchased (it's actually the unit size).

Ways to improve:
- Include an info, or what's this? box with an explanation of

[2016-11-21 00:11] sstead opened #1223 "Make 'choose when you want your order' customisable"
A user has requested the ability to customise the 'choose when you want your order' flag, for shops with multiple active order cycles.

This phrase doesn't suit all uses of multiple order cycles.

Below is a screenshot of the user's request/case
![image](https://cloud.githubusercontent.com/assets/10843056/20467402/14a38630-afdb-11e6-8820-7c4ae32bbd54.png)

[2016-11-21 00:33] Matt-Yorkley commented on #1154
So if CSV checkbox is selected the search button downloads the CSV, but if not it updates the search. Would it be clearer if there were two separate buttons instead, one for search and one for download?

[2016-11-21 01:50] Matt-Yorkley commented on #1182
Confirmed that when the "TO ORDER" box is checked and a product is saved, the product stock value gets set to "Infinity" regardless of whatever number is entered in the "In stock" box.

Is this not the expected behaviour?

[2016-11-21 09:51] pmackay commented on #1209
Can you outline here what the specific dependencies are?

[2016-11-21 11:59] myriamboure commented on #1195
Ok, so given the evolution of discussion on tax overhaul, where is what I propose to answer the French need:

- we aggregate the amount for each "tax category"
Example in France here are the categories:
![screenshot from 2016-11-21 12-45-46](https://cloud.githubusercontent.com/assets/8135376/20481733/f8b1d8ce-afe8-11e6-886c-94f6510209d7.png)

- For the moment all VAT rates (one VAT rate per tax ca

[2016-11-21 12:20] myriamboure commented on #1195
Modèle of invoice for France here: https://docs.google.com/document/d/1OwMq_7asHvFZ6-WRNKWdkmCl-SV6xs2hu6tucizqgCA/edit?usp=sharing
I am waiting for some feedback to make sure it's ok.
We will need to add the possibility for a hub to configurate some aspects of the invoice (like the payment conditions, or some comment field where they can put some compulsory sentence depending on their status) but

[2016-11-21 12:29] myriamboure commented on #1207
Proposal of modelisation of receipt: https://docs.google.com/document/d/1oE5unhTI2gG8X467Vl3iR9y4VeUJLo_tyuiB_XSa1co/edit?usp=sharing

[2016-11-21 12:37] myriamboure commented on #1194
Description of what we want here: https://docs.google.com/document/d/1GhFu8138IDXvs-7vhUBOdhm-2BsZyjTIqh-rC8eeog0/edit?usp=sharing

[2016-11-21 12:48] NickWeir63 commented on #1207
looks good to me

[2016-11-21 15:28] myriamboure commented on #1207
Sorry I wrote that in French, I will translate to English!

[2016-11-21 15:39] myriamboure commented on #1223
I think this is not adaptable either to all cases... I think the best option would be to let the hub determine the phrasing, if that could be set up in the hub, as he set up the default close shop message, he could also set up this message?

[2016-11-21 16:12] myriamboure commented on #1194
Should we change the sales-tax report for everyone that way? Or should do a separate one "sales-tax per VAT rate"? Ping @NickWeir63 or @lin-d-hop tell me what you think, @oeoeaio @sstead I think this report could replace the current one, tell me if that sounds ok or if we do a seperate one.

[2016-11-21 16:21] myriamboure commented on #1195
The idea would be to have an invoice translatable/adaptable by the instance and add possibility for a hub to customize some parts of the invoice (like the payment conditions offered to the client, or some general text. Let's see if we manage to do that in the budget allowed or not ;-)

[2016-11-21 16:29] Matt-Yorkley commented on #1182
I think it's working as intended. It could do with some UI improvement to make it more clear though.

[2016-11-21 19:59] pmackay commented on #1200
I just tried editing this in the browser and set `word-wrap: normal` instead of `break-word`. It then doesnt break the address:

![screen shot 2016-11-21 at 19 58 35](https://cloud.githubusercontent.com/assets/115115/20498404/ff25c4cc-b024-11e6-89ef-894fb1a475eb.png)

Would be great to get @oeoeaio's view on whether that's a CSS change that could be made?

[2016-11-21 20:25] pmackay commented on #1124
@kirstenalarsen is this fixed now?

[2016-11-21 20:39] pmackay commented on #1022
@bingxie @mkllnk what is the Google API key needed for now, if Map page uses OSM?

[2016-11-21 20:43] #185 closed

[2016-11-22 21:37] mkllnk opened #1226 "Openstreetmap loaded via http breaking https"
All map pages load from http://tile.openstreetmap.org/. That connection is not encrypted and compromises the security on all pages with a map.

[2016-11-22 21:58] mkllnk commented on #1020
That sounds strange. Can you see any difference in usage compared to the other pages that use text-angular? Do you need an ng-model defined?

[2016-11-22 23:01] mkllnk commented on #1221
I guess the idea behind that was backwards compatibility. The Australian values were hard-coded at first. So if we remove the default values, we should add a migration that sets the Australian values if no value is present yet to avoid loosing the Australian configuration. That would have been the better way to start with. I think it's a great idea to fix it.

[2016-11-22 23:07] sstead opened #1227 "Update button not enabled after deleting a manager in Enterprise Settings"
The delete will not save until I've clicked the update button. As a work around, user must change something else to make the button clickable.

![image](https://cloud.githubusercontent.com/assets/10843056/20545648/692e3a58-b164-11e6-80be-7bede27e93c7.png)

[2016-11-22 23:09] mkllnk commented on #1209
`app/assets/javascripts/darkswarm/all.js.coffee` contains:
[code]
That fails if the Google servers are not available.

`app/assets/javascripts/darkswarm/darkswarm.js.coffee` has `google-maps` as dependency and therefore fails if it is not loaded, e.g. if you would comment out the line above.

`app/assets/javascripts/darkswarm/services/enterprises.js.coffee` depends on `Geo` which depends on the ab

[2016-11-22 23:12] mkllnk commented on #1022
Unfortunately, OFN uses both at the moment. It uses Google Maps for searching and OSM for the tiles.

[2016-11-23 01:04] Matt-Yorkley commented on #1020
On the add product page it works whilst ng-model or any of the other attributes are stripped out completely. I've tried every combination I can think of but it never loads on the edit products page. Baffling...

[2016-11-23 08:58] pmackay commented on #1221
@mkllnk I'm a but puzzled by this, how would setting the Aus values in a migration be different to having default values? If migrations are run on a new install isnt the outcome the same? I'm probably missing something...

[2016-11-23 09:35] mkllnk commented on #1221
I wouldn't run all migrations for a new install. I would just run `rake db:setup` which is loading the schema and inserting seed data. We could also do a migration that sets the default values only for a certain locale. What do you think?

[2016-11-23 11:07] myriamboure commented on #1208
@gnollet i assigned you the issue as you started working on it. If any difficulties, you can ask here and we can see if people can help :-)

[2016-11-23 11:41] myriamboure commented on #1195
See discussion here also, we need to know that before starting coding I guess? https://community.openfoodnetwork.org/t/invoice-internationalisation/753

[2016-11-23 13:55] NickWeir63 commented on #1194
Myriam's google doc proposal looks fine to me thanks.  as long as we can download it as a csv like all the other reports we can always pull out the separate rates if necessary

[2016-11-23 13:59] NickWeir63 commented on #1223
i like Myriam's suggestion to make it customisable.  I have a UK user who wants to use OFN for his veg box scheme  He has 2 delivery rounds on different days of the week to different areas so he would want to write 'delivery around Axminster on a Tuesday' or 'delivery around Crediton on a Friday'

[2016-11-23 16:44] lin-d-hop commented on #1031
Hi all, Levent pointed out that this issue needs more clarification...
@levent @oeoeaio Can you add any cases that we need a case for to the list below? Thanks!
@OliverUK @sstead Would you comment on the below also? In particular the behaviour in case 2.1. Thanks :-)

As customer I create a basket then log out:
  1. I log back in without creating a new basket:
  1.1 Order cycle of last basket is s

[2016-11-23 17:10] lin-d-hop commented on #1182
Thanks @Matt-Yorkley. I'll write up the issue with more clarity.

[2016-11-23 17:23] lin-d-hop opened #1228 "Allow 'In Stock' to override 'To Order' checkbox"
When a product is checked 'To Order' the 'In Stock' quantity is set to infinity to allow the enterprise to supply this product 'To Order'.

This functionality works fine but causes some user confusion when the 'To order' box is checked, then the user inputs an 'In Stock' quantity. The 'To Order' checkbox overrides the 'In stock' quantity and the value remains at Infinity.

A simple UX improvement

[2016-11-23 17:24] lin-d-hop commented on #1182
Closing, now detailed in #1228

[2016-11-23 17:24] #1182 closed

[2016-11-23 17:43] NickWeir63 commented on #1031
i have talked to one of the shoppers who first raised this.  she think that:

- in case 2.1 (above) the shopper is likely to have forgotten that they have items in their basket and there should be either be a warning that they are about to combine the baskets or an option either to combine baskets or delete the previous basket

- In the case of the old basket being restored, if some of the product

[2016-11-23 17:52] OliverUK commented on #1031
Hi @lin-d-hop
I wonder if it's worth the hassle letting people do this, considering the implications on limited stock items. I too think that if in 2.1 the old and new baskets get merged, this would cause confusion and would need a warning or the option to add or discard the old items.

I personally would guess most people shop in one session.

[2016-11-23 21:04] tschumilas opened #1229 "Ability to create a negative price product to accomodate returns/refunds"
Some food hubs offer refunds for returned packaging,  or refillable containers (milk bottles for example) that have a deposit on them when purchased. It would be useful OFN could credit a subsequent order with a returned package/bottle.  If the platform would accept a negative price value,  then a hub could enter a product as -  returned milk bottle,   and a price as a negative  ($-2.00).

[2016-11-23 21:42] oeoeaio commented on #1031
I agree with @OliverUK.

My feeling is that 2.1 will be annoying more often than it is helpful, with the possible exception of the 'new' basket being empty. If a customer is already shopping and then logs in, my preference would be to just keep their basket as is, without looking for previous baskets. I think 1.1 and 3.1 are ok, but as mentioned we will need to notify customers when stock levels m

[2016-11-24 00:02] Matt-Yorkley commented on #1228
I can implement something for this in the next couple of days. I think a bit of javascipt that updates the form as the user is interacting with it would be good, and quite easy to do. I jotted down some notes for it.

Maybe as a separate issue, but relating to this one: it might be good in a few places where the UI is a bit vague to implement some sort of tooltip functionality for some of the more

[2016-11-24 10:46] levent commented on #1031
@lin-d-hop if you make the following changes to restore the default merge basket functionality:

A) This bug fixed: [BUG: Incomplete cart query always empty](https://github.com/openfoodfoundation/openfoodnetwork/compare/master...levent:1031-bugfix?expand=1)
B) Spree default behaviour restored: [Remove override that destroys incomplete orders](https://github.com/openfoodfoundation/openfoodnetwork/c

[2016-11-24 11:38] levent commented on #1031
I am currently working on a branch that satisfies:

[code]

This would/should mean:

[code]

I don't fully understand the user journey for 2.2, 3.1 and 3.2 but if you understand how spree determines the last_incomplete_order and follow A) and B) above, you may get the answer.

### What is last_incomplete_order?

The most recently created, incomplete cart (across the entire system) associated with

[2016-11-24 17:14] lin-d-hop opened #1232 "Include Variant Name in Product Search"
Product Variants can have names that hold key information about the product. As an example:
Product: Homemade Icecream
Variant: Chocolate
Variant: Strawberry
Variant: Vanilla
Variant: Chocolate chip

In the current implementation if a customer inputs 'Chocolate' they would not see the Chocolate Icecream. And really they should.

As a customer, I search for products
If the search term is contained

[2016-11-24 17:35] lin-d-hop opened #1233 "Limit product searching to strings that start with the search term"
Currently if a customer is searching products the might search for 'tea'. Results of this search include the word 'steak'. This is rather odd.

More commonly, a search would return matches that start with the search string.

As a customer I search for products.
If I search for 'tea'
- Loose Leaf Tea should return
- Teaberry should return
- Steak should not return

If the search string is equal to

[2016-11-24 17:57] lin-d-hop commented on #1031
Thanks everyone.
Based on comments above I agree with y'all that 2.1 should be updated to use new basket.

So, in that case, @Levent, your conditions sound good and I agree that your changes are a useful and reasonable improvement.
[code]

@levent, your notification looks good to me. @oeoeaio is this consistent with the communication of out of stock items in SO?

[2016-11-24 23:39] sstead commented on #1194
Hi @myriamboure, I'd double check before removing the 'tax on delivery' and 'tax on fees' columns. I assume they were put there for a reason (perhaps a user requested this breakdown, although I'm not sure who, UK maybe?), and at a minimum, this breakdown makes it easy to see where the tax has accumulated from and verify that it's correct. In regards to the process of first selecting your hub and t

[2016-11-24 23:47] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58377c2ce3e38f100058cbeb)

[2016-11-25 00:05] #1180 closed

[2016-11-25 00:47] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58378a3a5ab19f1100b06837)

[2016-11-25 03:47] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5837b46ad05bc81100780abb)

[2016-11-25 04:44] sstead opened #1235 "'inherit properties from enterprise' tickbox lost in product edit"
![image](https://cloud.githubusercontent.com/assets/10843056/20614703/f0919b44-b325-11e6-879d-9914f61b426a.png)

[2016-11-25 05:37] sstead opened #1236 "Shops filter by type/category is seeing deleted products"
This 'meat and fish' filter suggested that Producer of Vegetable stocked meat and fish. The shop didn't have any meat and fish in the current order cycle. It was seeing a past product which has since been deleted which was meat/fish.
The badges on the profile are correctly reflecting items in the current OC
![image](https://cloud.githubusercontent.com/assets/10843056/20615360/3cd55be2-b32d-11e6-9c

[2016-11-25 05:40] sstead opened #1237 "Shop For link showing on producer profile even if no items are stocked in the shop"
The Shop For links at the bottom of producer profiles should only be active if the shop has the producer's items in their current open order cycle.
Below is an example - no citrus items are in the shop's current OCs, they just have E2Es to allow them to be added to the shop.
![image](https://cloud.githubusercontent.com/assets/10843056/20615395/a720f056-b32d-11e6-8530-45caa09939ca.png)

[2016-11-25 05:41] sstead commented on #1121
Testing that deleted products are removed from OC interface AND the shop and badges on profile. FIXED
Separate bugs:
- https://github.com/openfoodfoundation/openfoodnetwork/issues/1236 Filters seeing deleted products
- https://github.com/openfoodfoundation/openfoodnetwork/issues/1237 Shop Now showing even if no items in OC.

[2016-11-25 05:43] RohanM commented on #1236
See `Spree::Taxon.supplied_taxons`. This doesn't filter out deleted products, so we see taxons for them.

[2016-11-25 05:44] #1121 closed

[2016-11-25 05:47] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5837d08b59740d1400099a55)

[2016-11-25 09:52] lin-d-hop commented on #1165
@OliverUK Would you be willing to test this? If so let me know when and I'll get it on UK staging for you.

[2016-11-25 12:05] lin-d-hop commented on #872
Moving this into the UK pipeline.
@RohanM has done some work in enabling the groups functionality to be embedded commenting:
"I did some work on embedding groups, but didn't start on shopfront embedding. However, the groups embedding wasn't too complex and seemed to produce reasonable results pretty quickly."

Work so far in the thrive-groups-embed branch, which includes a demo of a couple of grou

[2016-11-25 12:26] OliverUK commented on #1165
Happy to do some user testing @lin-d-hop this Sunday or Mondya.

[2016-11-25 12:38] OliverUK commented on #1232
I certainly wouldn't be fussed if a search for "goats cheese" returned all the quiches in this example though of course your suggestions is much more elegant, Lynne.

Also I think there are some better examples why this is really important. For example I have a product called "speciality cheeses" shown below. A search for "feta", "mozarella, "brie" or "recotta" wouldn't return anything.

![screen

[2016-11-25 13:15] lin-d-hop commented on #1232
@OliverUK Thanks for the additional examples.
It is easy to argue here that these examples use variants in a way that they are not intended to be used. If that was the decision the onus would be on you to make all of these variants separate products. I chose the example such that this would not be seen to the case, as the user guide suggests variants can be used for different flavours of the same

[2016-11-25 16:10] OliverUK commented on #1232
@lin-d-hop  That's a fair point but the shop front looks infinitely tidier since I've started using variants in this way. You can imagine, with sometimes 800+ variants live, it makes a big difference. But I do see your point.

[2016-11-25 16:19] lin-d-hop commented on #1232
A better ux of the shopfront is a great reason to use variants in that way. Nice point @oliveruk

[2016-11-25 17:18] Matt-Yorkley commented on #1233
Not sure there's an easy way to do this without adding huge amounts of overhead with each search. You'd have to be running string functions on every product name in the database for each search in order to achieve this. Unless there's another way?

Also, searching for "cake" would not find "teacake". Hyphenated names would miss too, like "baked" would not find "home-baked".

[2016-11-25 17:57] Matt-Yorkley commented on #1232
Is that an additional issue to be addressed, as well as the search results? It seems like grouping lots of different products all together as variants of a single product is probably not a good idea in general, but if it currently improves the UX then maybe we need a solution that provides something similar aesthetically without actually grouping them together. A kilo of steak and half a kilo of r

[2016-11-26 07:44] pmackay commented on #971
@sstead could you add a bit more detail to this please?

[2016-11-26 15:51] Matt-Yorkley commented on #421
@kirstenalarsen I'm working on this enterprise switcher dropdown. Do you have a preference for the layout?

Option A:

![screenshot from 2016-11-26 15-40-17](https://cloud.githubusercontent.com/assets/9029026/20641445/ad7d74a2-b3ef-11e6-9f8c-64f6aefc2340.png)

Option B:

![screenshot from 2016-11-26 15-43-08](https://cloud.githubusercontent.com/assets/9029026/20641446/ad9f87d6-b3ef-11e6-8d08-a9047

[2016-11-26 16:46] lin-d-hop commented on #1232
@Matt-Yorkley see ongoing conversation about shopfront display here:
https://community.openfoodnetwork.org/t/shopfront-display/676/26

In the meantime searching variant name in the product search is a good enhancement to make :-)

[2016-11-26 18:44] pmackay commented on #1022
@mkllnk is that for doing address lookups? Is GMaps only needed on the maps page? (slightly different point)

[2016-11-27 02:05] mkllnk commented on #1022
GMaps is also used to search by location. For example, if you visit `/shops` and type "Melbourne", it uses Google Maps Geocode Service to find Melbourne and then filters enterprises by that location.

[2016-11-27 06:23] kirstenalarsen commented on #421
Not a strong one, maybe slight inclination to b . . @sstead?

On 27 Nov. 2016 2:51 am, "Matt-Yorkley" <notifications@github.com> wrote:

[2016-11-27 06:32] sstead commented on #421
Looks great! Yes I agree, B is more similar to existing appearance.
________________________________
From: Kirsten Larsen<mailto:notifications@github.com>
Sent: ‎27/‎11/‎2016 5:23 PM
To: openfoodfoundation/openfoodnetwork<mailto:openfoodnetwork@noreply.github.com>
Cc: Sally<mailto:sallystead@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [openfoodfoundation/openfoodnetwork]

[2016-11-27 10:53] NickWeir63 commented on #1194
good point Sally.  i cant remember why VAT on fees is currently separated out but @myriamboure would it be OK to leave it separated out and hubs that want to add them back in can do that after the csv is downloaded?

[2016-11-27 12:42] stveep commented on #1020
Hi @Matt-Yorkley I managed to fix this by adding a separate script to bootstrap the angular app - this code was at the bottom of the deface for the new product page where the text box was working. I think these older Spree views don't include any angular by default. See my PR on your branch.

There might be a more general way to do this, but most of the admin pages have their own angular module so

[2016-11-27 13:32] Matt-Yorkley commented on #1020
Thanks @stveep, I was lost on that one. So it looks like angular isn't instantiated at all on that page? Maybe just adding ng-app to the form would be more elegant than the javascript block at the bottom?

[2016-11-27 13:49] stveep commented on #1020
I have found myself having to do it this way before - I think when the page has to wait for some data to load before the angular app can be started (hence the `.ready()` in the script that I added) - I guess here all the data is there in the rails view so maybe we can do it with the ng-app directive as you say. I did try that first when I was messing around with it but I might have had the module

[2016-11-27 14:21] Matt-Yorkley commented on #1020
I've done it with ng-app now and it's working fine. I've finished this implementation of the the formatted product descriptions now, but it'd be good to get a bit of code review and feedback for it. I had to make a few executive decisions that might not be optimal.

For instance: on the frontend I've added a bit to the product serializer to optionally return html, but left the standard description

[2016-11-27 18:04] Matt-Yorkley commented on #1202
I'll take a look at this now. I would think that a product should be able to have no weight/volume, but I'll have a look through the spec files to see if they suggest otherwise.

[2016-11-27 18:58] Matt-Yorkley commented on #1202
I'm looking at the BOM interface now, and it allows the user to alter the weight/volume:

![screenshot from 2016-11-27 18-53-27](https://cloud.githubusercontent.com/assets/9029026/20650955/08545a2e-b4d3-11e6-855b-303091cd6f23.png)
![screenshot from 2016-11-27 18-53-31](https://cloud.githubusercontent.com/assets/9029026/20650956/08568e7a-b4d3-11e6-90a7-67424da61324.png)

I'm logged in as a superuse

[2016-11-27 19:09] Matt-Yorkley commented on #1202
I'm not even sure that weight/volume column is providing any useful information, as the number is normally tied to a type (weight/volume/items), a unit scale (ie 0.001) which acts as a modifier, and a unit name that explains the unit. The value only makes sense after it's processed with the other values, and is a bit meaningless out of context.

[2016-11-27 23:01] Matt-Yorkley commented on #1233
![screenshot from 2016-11-27 22-58-10](https://cloud.githubusercontent.com/assets/9029026/20652662/36022470-b4f5-11e6-912d-639ed80a0fa9.png)

Think of the Papple Juice!

[2016-11-27 23:58] Matt-Yorkley commented on #1026
@lin-d-hop do you have a clear idea of what additional functionality would be needed to address this? Also I'm finding it tricky to match up order cycles to producers and hubs for reports testing as there's too many options as a superuser.

[2016-11-28 05:22] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=583bbefb7f8b771100322477)

[2016-11-28 07:43] lin-d-hop commented on #1026
@Matt-Yorkley We're not tackling reporting issues at the moment as we are considering a total refactor. Please look at issues in pipeline 'Dev Ready' from milestone 'UK Current'.

[2016-11-28 07:46] lin-d-hop commented on #1233
Personally I think even with these cases the search would be improved by not taking any part string. It should reduce search overload too. There must be libraries for this.
@Matt-Yorkley could you investigate and propose a solution?

[2016-11-28 07:47] lin-d-hop commented on #1228
@Matt-Yorkley UX is being reviewed. This issue is small but many more to come. Let's keep issues to issues and not blow them up to a whole vague UX scope eh?

[2016-11-28 09:02] myriamboure commented on #1194
Actually the issue is that with the job we are doing on VAT internationalization, there can be dozens of different tax rates, so that's why I propose to select first the hub, and that the table display according to the VAT categories/rates used by the hub.

I understand your point on tax on delivery and tax on fees... I guess in all countries the principle of VAT declaration is to tell the state w

[2016-11-28 09:20] myriamboure opened #1240 "Print invoices by batch for the whole OC"
https://community.openfoodnetwork.org/t/possibility-to-print-several-orders-in-one-shoot/509

As a hub manager, I want to be able on the "orders" page to apply filters and consolidate all of the invoices corresponding to the filters into one PDF for printing.

So it means adding a "print invoices by batch" button on the order page, and when you clic on it, it creates one PDF with all the invoices

[2016-11-28 12:15] OliverUK commented on #1165
1) Logged in as manager of Stroudco enterprise on staging using Firefox 50.0
2) Created a new order cycle and added three suppliers.
![screen shot 2016-11-28 at 12 01 46](https://cloud.githubusercontent.com/assets/17590921/20667747/e2e15d88-b562-11e6-8b4c-b308b48bffbd.png)
3) Added a coordinator fee and save buttons appear as expected.
![screen shot 2016-11-28 at 12 02 17](https://cloud.githubuser

[2016-11-28 14:49] Matt-Yorkley commented on #1228
Fair point, I was just trying to be thorough as the issue was largely about UX and lack of clarity. I've added a "what's this?" help tooltip as well as the UX improvements to the form. Pull request submitted and ready for testing.

[2016-11-28 20:21] NickWeir63 commented on #1194
sounds good to me thanks

[2016-11-28 20:32] jum-s commented on #1039
Reproducing the bug on my locale machine, I found out that the translation of `t('enterprise_mailer.welcome.subject')` is effective, as wee can see on this mail log :

    #<Mail::Message:136950770, Multipart: false, Headers: <Date: Mon, 28 Nov 2016 21:22:04 +0100>, <From: test@example.com>, <To: jums@dev4dev.eu>, <Message-ID: <583c91ec9200c_26664a0099817371@lordon.mail>>, **<Subject: MauriceBidoc

[2016-11-28 21:38] jum-s commented on #1039
About the reset password translation (which might be another issue than my last comment topic), I havent seen any translation of this reset password email in `config/locale` translation files. My intuition would be that the english text in the mail is the default devise setup.

I havent find any 'overwriting' devise controller relating to `send_reset_password_instructions` method which is a devise

[2016-11-28 22:07] Matt-Yorkley commented on #1232
Ready for testing:
![screenshot from 2016-11-28 21-55-15](https://cloud.githubusercontent.com/assets/9029026/20688027/e983026e-b5b6-11e6-8182-797334b27088.png)
I should get a gold star for that one, it was really tricky.

[2016-11-29 08:20] myriamboure commented on #1039
Great that you can work on this @jum-s :-)
I just reproduced the translation mission in entreprise registration validation, I went at the bottom of the page and clicked on "inscription producteurs", I followed all the steps and received that email.
![screenshot from 2016-11-29 09-17-04](https://cloud.githubusercontent.com/assets/8135376/20701675/a2d9ec34-b614-11e6-9d07-8ec07f5f4052.png)

About the

[2016-11-29 08:45] NickWeir63 commented on #1232
Thanks @Matt-Yorkley - this is a great improvement.
Is it ready for testing on UK staging?

[2016-11-29 09:07] lin-d-hop commented on #1020
Thanks for this @Matt-Yorkley and also for the help @stveep

@stveep Would you be happy to review this one? Or might it be better to get a 3rd set of eyes on the issue as it sounds like it was kinda quirky?

[2016-11-29 09:13] lin-d-hop commented on #1031
Hi @levent
With the two fixes you made above is this ready for review and testing? Or is there something you are still working on here?

[2016-11-29 09:15] lin-d-hop commented on #1186
Hi @KeirOsborn
Did you manage to get a PR in for this? Did you have any hanging questions?
Thanks for your work on this!

[2016-11-29 09:41] lin-d-hop commented on #1232
Hi @stveep @levent
Would either of you be able to review @Matt-Yorkleys changes in PR #1241 ?
Thanks!

[2016-11-29 09:45] lin-d-hop commented on #1165
Thanks @OliverUK! Great testing description.
@sstead are you happy with Olivers testing above? Any other questions?
If you are happy I'll move this over to milestone v1.10 for release...whoop!

[2016-11-29 09:48] KeirOsborn commented on #1186
Hi Lynne,

Yes, apologies, just opened up a pull request this second. I tried to do
one a few days ago but there was a weird discrepancy between my local
schema.rb file and the origin version. I must have messed something up
during my initial set-up I think. Obviously a pull request where the schema
file is drastically different is not likely to be merged. Anyway, fixed
now.

While this is being r

[2016-11-29 12:08] levent commented on #1031
Hi @lin-d-hop
Not quite, I'm afraid.
Will be ready tomorrow.

[2016-11-29 12:15] lin-d-hop commented on #1031
Great thanks @levent! Just wanted to check this wasn't waiting on me :-)

[2016-11-29 15:29] lin-d-hop commented on #1119
Suggest this might be a similar fix to @levents changes in #1199 ?

[2016-11-29 15:36] lin-d-hop commented on #1186
Thanks @KeirOsborn!
I'll get you added to the appropriate github groups.
While it is being reviewed feel free to pick up another issue. Have you installed the Zenhub browser plugin? If so you can see the issues in the 'UK Current' milestone that are in the 'Dev Ready' pipeline.
Hopefully chat to you in the Dev hangout tomorrow morning at 8:30am.

[2016-11-29 22:53] sstead commented on #418
A user could not be confident that their desired closing time/date had been saved... suggested improvements....
1) restore image
2) save the time in the widget and the text field
3) change the +1100 to AEST
4) put a progress bar for the time (hours/mins)

![image](https://cloud.githubusercontent.com/assets/10843056/20732431/cad9c69a-b6e2-11e6-9118-f8686eedefd2.png)

[2016-11-29 23:00] sstead opened #1244 "Customisable pop up message for shops"
A user has requested....

"Just wondering if theres a possibility of adding a pop up or disclaimer that says something about photos can be viewed on a web version / not mobile version?"

This could be useful in a number of difference scenarios. This particular shop already had a novel in their 'shopfront message' so a pop up window could be another place for more pressing messages. In this case, t

[2016-11-29 23:09] sstead commented on #810
Hi all, just noting that we've had a further request from a user here for promotional codes. They are a large farmers's market running pre-sales for Christmas. There's been some small errors made by admin (accidentally listing items for $0) and the best way to fix them is to ask the customer to place their order again, but they'd like to waive the admin fee for that customer. For larger users who

[2016-11-29 23:49] sstead commented on #1165
Great work @OliverUK. I would also check that this works for a Producer Shop order cycle (simple OC), and check that fees applied to producers and the distributors can also be removed.

[2016-11-30 00:23] sstead commented on #1202
Hi @Matt-Yorkley , the ability to edit the weight/volume field of products is an important functionality for people selling things like legs of lamb, or watermelons. They might sell it at an approximate weight of 3kg, but then after they've boxed up the specific order, they can update it to the actual weight of 3.2kg and recalculate the price accordingly. The issue here is more relating to why the

[2016-11-30 00:28] sstead commented on #1223
Yes customisable is the way to go. The image above is just one use case- they're a farmer's market with a different OC for each location.

[2016-11-30 01:16] sstead commented on #1055
All looks good. Can create, edit, add/remove OCs to the schedule by dragging, cancel, see in columns.
![image](https://cloud.githubusercontent.com/assets/10843056/20735770/60430508-b6f6-11e6-9737-b3c55816335c.png)

[2016-11-30 01:20] sstead commented on #1059
Search for schedule not yet working...
![image](https://cloud.githubusercontent.com/assets/10843056/20735910/6327e5a8-b6f7-11e6-9b3f-59a1bf1b8856.png)

[2016-11-30 01:27] sstead commented on #1055
1 Problem- the Available column only lists OC that are currently dispalyed in the OC table. This includes past, present and future/draft OCs. If they are older and have been archived (hidden), I can't select them. But if I click 'show 30 more days' to reveal them, then I can see them in the Available column. The questions is, which OCs should show in the Avaialble column? All? I do like that they'

[2016-11-30 01:46] sstead commented on #1055
Can we make it more obvious that you need to have the schedule column showing if you're using schedules? Maybe by default if you have any schedules, you it gets saved as a default visible column?
![image](https://cloud.githubusercontent.com/assets/10843056/20736473/dbcd06de-b6fa-11e6-8254-f4da66e3b0b6.png)

[2016-11-30 01:51] sstead commented on #1055
I can currently add order cycles with different coordinators to the same schedule- this is not correct I don't think.

[2016-11-30 02:38] sstead commented on #1058
Yes - Can assign OC to multiple schedules.
Yes - placed below coordinator and dates and above the coordinator fee in OC setup.
Yes - suppliers can see but not edit schedules in their OC view.

[2016-11-30 03:04] sstead commented on #1060
Yes - there's a new SO tab, with +Create New SO button
Yes- I can add customer (dropdown of all customers on my list), I can select a schedule from those available, i can select paymnet/shipping method from list of coordinator's.
Yes - I can select dates
No - I can't select the first OC.
Address - No autofill from customer list. No 'same as billing' checkbox
Navigation buttons - no BACK button fro

[2016-11-30 03:09] sstead commented on #1061
Yes- page exists and you can filter by coordinator.
Yes- Is angular - with save column defaults.
Still some things to be done...
![image](https://cloud.githubusercontent.com/assets/10843056/20738348/89571226-b706-11e6-99f0-4093e6cb53e6.png)

[2016-11-30 03:12] sstead commented on #1060
I could search for and add the watermelon item to the SO. But it wouldn't save. This may be because it's not in any of the outgoing sections of the schedule's OCs.
![image](https://cloud.githubusercontent.com/assets/10843056/20738372/b6370008-b706-11e6-9275-264a0593b4ee.png)

[2016-11-30 03:19] sstead commented on #1056
Yes - is angular
Yes - can filter by shop
Yes - can filter by schedule
Together the filters are "AND" filters (only show results meeting both criteria)
The results of the filter also hide old OCs, with the option of revealing them.

[2016-11-30 03:28] sstead commented on #1060
Enterprise can't make a SO without first making Schedule - make clearer.

![image](https://cloud.githubusercontent.com/assets/10843056/20738715/31750592-b709-11e6-90e7-c822d3dad9cf.png)

[2016-11-30 03:39] sstead commented on #1065
Can edit items in the SO interface, but not other things. This works well, can add, change qty or remove items.
![image](https://cloud.githubusercontent.com/assets/10843056/20738909/bd3ebbd0-b70a-11e6-9f7e-d9dd67d52529.png)

Clicking the Edit Button opens a full edit page. Different to description above. Occurs on a new page, not a modal....
Yes - the customer name and schedule can't be edited.
Ye

[2016-11-30 03:40] sstead commented on #1059
Yes - can change name and this saves in all places
Yes - Can delete if no standing orders, after clicking confirm
Delete - If has associated standing order can't delete. When you try to delete I get a 'are you sure' message box. If you click yes, nothing happens and the Schedule hasn't been deleted.

[2016-11-30 04:17] sstead commented on #971
Hey @pmackay this was one of many cards that had accumulated at OFN Melbourne, which I entered into github. I think it's a general prompt to do some UX improvements for shoppers who arrive at OFN. How could we improve the landing page, maps, directories, search/filter tools etc. You can close it if you think it's redundant/covered elsewhere/not specific enough.

[2016-11-30 05:27] sstead commented on #1194
Yes I think that is good, as long as making a second report doesn't add to much extra dev time for you. The two reports can be selectable like the Payments reports (below)
![image](https://cloud.githubusercontent.com/assets/10843056/20740741/c294dec0-b719-11e6-9662-205b4d2872e0.png)

[2016-11-30 05:36] sstead commented on #1129
That's a great solution, thanks Lin!

[2016-11-30 08:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=583e87147fb6ad1100973985)

[2016-11-30 08:06] lin-d-hop commented on #810
I suspect this is another issue that might be hinged on spree upgrade and potentially tax overhaul. I'd like to see this in the pipeline but my sense is it's best to hold back a wee bit.

[2016-11-30 08:15] lin-d-hop commented on #971
This has been raised by Yuko in her UX inspections. UK are marking this as an important one. My understanding is Yuko and @daniellemoorhead are going to wrestle them all into manageable github issues once theyve been designed. Which is _Very Awesome_!

[2016-11-30 08:17] pmackay commented on #971
Sounds like this is an epic then!

[2016-11-30 09:18] lin-d-hop commented on #1233
Rhodri to investigate a possible solution and feedback

[2016-11-30 09:44] lin-d-hop commented on #1119
@levent will comment. Hopefully we can explore a more long term solution to the manual hook.

[2016-11-30 09:51] lin-d-hop commented on #1233
@rhodri @stveep I think it'll be useful, Steve, if you maybe just pair with Rhodri to show him how you'd go about unpicking where to look for this and how to go about it. It's a Darkswarm out there :-)

[2016-11-30 11:53] OliverUK commented on #1165
OK I've set myself up as a producer but am unable to create an order cycle for Oliver Muller. I'm logged in using the same email address that is a manager for Stroudco and Oliver Muller but it doesn't offer me to create an order cycle for Oliver Muller. It also tells me that email confirmation is pending for my email address in case that is related? So haven't been able to test on Producer Shop OC

[2016-11-30 12:01] lin-d-hop commented on #1165
@oliveruk you might need to ensure your enterprise is a shopfront enterprise and not a profile only enterprise

[2016-11-30 12:11] OliverUK commented on #1165
![screen shot 2016-11-30 at 12 11 25](https://cloud.githubusercontent.com/assets/17590921/20751871/298d2f02-b6f6-11e6-8893-de14a1f4d3a4.png)

[2016-11-30 14:00] NickWeir63 commented on #1165
i have increased enterprise limit on @OliverUK account to 100 in case this was the problem.  If this doesn't work Oliver you can log in to may account on staging nick@nickweir.co.uk password localfood1

[2016-11-30 19:12] lin-d-hop commented on #1228
@Matt-Yorkley Could you explore adding some specs to capture this behaviour? This seems like a change that should have test coverage.

[2016-11-30 19:14] lin-d-hop commented on #1232
@Matt-Yorkley Could you explore test coverage and adding specs here too? Cheers mate!

[2016-11-30 19:46] lin-d-hop commented on #1228
@Matt-Yorkley Ignore above, was on the wrong issue (on my phone on a train in Germany = hard to navigate). Test coverage less important here me thinks.

[2016-11-30 20:36] myriamboure commented on #1207
I guess we will need to add a "print receipt" button in the "action" list for an order.

[2016-11-30 21:19] lin-d-hop commented on #1211
Ok. So based on the above here is an updated version of what this (I hope) will look like:
1) Place it right at the start, outside of the registration process on the first screen. (see image)
2) Unless the user checks the checkbox they won't be able to continue with the set up process.
3) The feature is configurable (as per original spec) and off by default
4) The words Terms of Service should be

[2016-11-30 21:19] lin-d-hop commented on #1211
![img_20161130_220200](https://cloud.githubusercontent.com/assets/8669848/20771446/52e37cc6-b741-11e6-96a3-1ab5e04c8da8.jpg)

[2016-11-30 21:20] lin-d-hop commented on #1211
(Sorry about the bad quality pic)

[2016-12-01 00:28] Matt-Yorkley commented on #1232
Done.

[2016-12-01 07:42] levent commented on #1211
For whomever picks this up:

If you're a n00b like me, my exploratory spike branch may at least save you time finding the code responsible for this feature.

https://github.com/openfoodfoundation/openfoodnetwork/compare/master...levent:1211-enterprise-reg-tos?expand=1

[2016-12-01 07:53] mkllnk commented on #1148
I think you reported your issue in the wrong repository. This is about the Open Food Network. We have nothing to do with snipe-it or docker.

[2016-12-01 07:53] #1148 closed

[2016-12-01 13:22] Matt-Yorkley commented on #1211
I'd like to get my teeth stuck in to this one, if it's up for grabs? It looks pretty meaty! I think the revised placement on the "lets get started" section looks like a much better idea.

[2016-12-01 13:43] Matt-Yorkley commented on #1211
Is the idea that the terms of service will just be per-instance, i.e. one for the UK, one for AUS, etc?

The current default superadmin config page shows "/Terms-of-service.pdf" for the abovementioned `ContentConfig.footer_tos_url` field. Will a linked PDF file be the standard format?

The Config -> Content tab in admin is already really busy, and the `ContentConfig.footer_tos_url` field is techni

[2016-12-01 16:30] OliverUK commented on #1165
@lin-d-hop @NickWeir63
I've still not been able to test this on a producer's order cycle and I suspect it's due to us not being able to confirm email addresses on staging.
For my enterprise "Oliver Muller" my email address is pending confirmation. I made Nick's email address a manager, logged out and logged in as Nick and still can't create a new OC for anything other than Stroudco. Went back in a

[2016-12-01 16:37] NickWeir63 commented on #1165
@OliverUK  i will phone you with the superadmin login so that you can create a new enterprise that way

[2016-12-01 16:59] OliverUK commented on #1165
Thanks Nick. Yes, I was able to create an OC for a confirmed user (I used Nick's Test Producer).
I added a coordinator fee and saved. The front end result was as expected. I was able to delete the fee again from the OC and save. The front end once again responded.

I tried as per @sstead the same with fees applied on the incoming supplier and outgoing distributor and was able to add and remove the

[2016-12-01 18:19] Matt-Yorkley commented on #1211
Nevermind, I've finished it :P

[2016-12-01 21:37] lin-d-hop commented on #1165
@oliveruk, sorry mate I won't be able to look into this for a couple days. Will let u know.

[2016-12-01 21:40] lin-d-hop commented on #1211
Does this need specs? @matt-yorkley

[2016-12-01 21:44] Matt-Yorkley commented on #1211
Just looking at the spec now, but capybara is not playing nice with the dynamic angular content...

[2016-12-01 23:21] #1053 closed

[2016-12-01 23:22] daniellemoorhead commented on #1053
No longer required with stripe being implemented.

[2016-12-01 23:25] daniellemoorhead commented on #1213
@lin-d-hop is this is something worth of the UK Current backlog?

[2016-12-01 23:26] daniellemoorhead commented on #1214
@lin-d-hop is this is something worth of the UK Current backlog?

[2016-12-01 23:26] daniellemoorhead commented on #1215
@lin-d-hop is this is something worth of the UK Current backlog?

[2016-12-02 01:14] sstead opened #1250 "Changing a product's category should REPLACE the pre-existing taxon, not ADD an additional one"
![image](https://cloud.githubusercontent.com/assets/10843056/20819602/7ebb051e-b889-11e6-83db-dea4938c4af9.png)

## Note from Myriam March 2018:
I just retested and the problem is still there and we have another problem on top: as we delete the "product taxons" to simplify product edit screen, there is no workaround anymore to delete the old unappropriated taxon :-(
So this is pretty annoying. don

[2016-12-02 03:51] sstead opened #1251 "UX Improvements discovered 2016"

[2016-12-02 04:04] sstead opened #1252 "When a user expands the hamburger menu, the close target is too small."
Recommendation: When user expands hamburger menu, clicking the main content area to right should collapse the menu.

![image](https://cloud.githubusercontent.com/assets/10843056/20822649/813af918-b8a0-11e6-93ab-ac29df885aba.png)

[2016-12-02 04:04] sstead opened #9180 "Close the menu when clicking outside of the it"
**Device: Mobile/Tablet**

## Description
**- As a:** web surfer 🏄
**- On page:** All shopfront pages
**- I want to be able to do:** when using a small screen size that put the menu under a burger icon, enable to close/collapse the menu by cliking/tapping anywhere outside the menu.

Currently you need to aim for the burger icon a second time to close it.

![image](https://cloud.githubusercontent.c

[2016-12-02 04:12] sstead opened #1253 "[mobile ux] When I expand the hamburger menu on mobile, background image zoom in and overly pixelated"
## In a feature branch or master?
This can be merged directly to master 🎉

## Description
On mobile/tablet, when expand hamburger menu, the background image zoom in excessively giving a pixelated look.

## Current behavior
Pixelated view, background image zoomed
![46837804-66844100-ce02-11e8-84ed-b2b68e34221d](https://user-images.githubusercontent.com/8135376/46982578-1bf21580-d0dd-11e8-81c7-af4da

[2016-12-02 04:15] sstead opened #1254 "When UK user is logged in Connect & Learn are appearing in the menu"
Device: Mobile/Tablet
Connect and Learn should show in Au only
![image](https://cloud.githubusercontent.com/assets/10843056/20822799/f77c7eca-b8a1-11e6-99d6-c0efa8e242e3.png)

[2016-12-02 04:17] sstead opened #1255 "Make cart more easily collapsible"
Update by Myriam 21.05.2018

## Description
When a customer clicks on cart dropdown, but then want to do some other action, the cart dropdown doesn't collapse and disturb navigation, until the user undertands that she has to click again on the cart icon and do it.

## Expected Behavior
If I click outside the cart dropdown, the cart dropdown collapses.

## Actual Behavior
The cart can only be colla

[2016-12-02 05:43] sstead commented on #1161
1) Yes - Enterprises can choose whether to allow editing orders. Potential rephrase...
![image](https://cloud.githubusercontent.com/assets/10843056/20823977/ee612650-b8ac-11e6-93fb-f07c78c587c1.png)

2) Can't test- standing orders not yet here. But correct- only customers in shops that 'allow customers to change orders' can see and edit orders.
3) Can't test - standing orders not yet here

[2016-12-02 05:52] sstead opened #1256 "Pin payments not finalizing on Production"
![image](https://cloud.githubusercontent.com/assets/10843056/20824274/6608bffe-b8af-11e6-9043-1236de98dbb1.png)

They payment method is all setup correctly I believe... Secret, live API key was used. Server: 'live'

![image](https://cloud.githubusercontent.com/assets/10843056/20824292/97455dac-b8af-11e6-9c09-e045580239cf.png)

[2016-12-02 05:54] RohanM commented on #1256
I saw this error in the logs as:

[code]

I could replicate the problem by mirroring prod data and attempting a payment in development

ActiveMerchant doesn't seem to have any significant changes to pin gateway between our version (v1.50.0) and the latest (v1.61.0), so it's less likely that an upgrade to ActiveMerchant will solve the problem.

[2016-12-02 06:02] sstead commented on #1083
Looks good...
![image](https://cloud.githubusercontent.com/assets/10843056/20824235/fd3ba932-b8ae-11e6-9c10-19dd6b2f4286.png)
- Scrolls well when long
- Scrolls on mobile (quick test)

[2016-12-02 06:15] sstead commented on #1084
Yes- is displaying, and only for order cycles where previous orders exist...
![image](https://cloud.githubusercontent.com/assets/10843056/20824661/9b4dfb68-b8b2-11e6-9e07-73b19349c3a8.png)

Yes- this message is clear and the link works, taking them to the edit cart page. One little improvement would be to take the customer to the page halfway scrolled down, in case they don't see it below their cu

[2016-12-02 06:15] sstead commented on #1085
Looks good.
The suggested improvements above are still outstanding, but the basic functionality is there.

[2016-12-02 15:41] rhodri opened #1257 "Reports Overhaul: Add in missing columns for line items"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Reintroduce the line-item columns (i.e. those that are not just defined for the customer totals rows) that Rob has not included in his prototype, namely:
- Order Hub
- Customer Email
- Customer Phone
- Product Producer
- Line Item Paid?
- Line Item Shipping
- Line Item Delivery?
- Line Item Shipping Addres

[2016-12-02 15:43] rhodri commented on #1257
This could be an opportune time to ask whether some fields defined on line item should actually be moved into the order. Fields like paid?, shipping, delivery?, order cycle, payment method, billing address  seem to be the same for every item in an order... is there ever a situation where an order contains line items with different billing addresses or order cycles?

[2016-12-02 16:03] rhodri opened #1258 "Reports Overhaul: Add in missing totals columns"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Reintroduce the totals columns (i.e. those that are just defined for the customer totals rows) that Rob has not included in his prototype, namely:
- Order Admin + Handling Fees
- Order Shipping Fees
- Order Payment Fees
- Order Total

### Challenges
We are attempting to represent multiple different data st

[2016-12-02 16:08] rhodri opened #1259 "Reports Overhaul: Show and hide columns"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Enable the ability to show and hide columns.

### Technical notes
1. Actually enabling this functionality is easy! Just set `enableGridMenu` to true in the `gridOptions` object in `/app/assets/javascripts/admin/reports/services/orders_and_fulfillments_report.js.coffee`. Here is the section of the [UI Grid

[2016-12-02 16:09] rhodri opened #1260 "Reports Overhaul: Add PDF export capability"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Enable the ability to export to PDF.

### Technical notes
1. We will need to include [`pdfmake`](http://pdfmake.org) in the page, and since we don't have a frontend build system to speak of this will either need to be included on all pages, or somehow injected into the `<head>` from the reporting template.

[2016-12-02 16:28] rhodri opened #1261 "Reports Overhaul: Investigate sorting behaviour"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Sorting seems a little borked, especially with the grouping schema that we have. UI Grid lets us redefine its internal sorting functionality, as well as hooking in to use our own external sorting code.

Experiment with making case invariant sorting the default, and if that doesn't help, then investigate wh

[2016-12-02 16:34] rhodri opened #1262 "Reports Overhaul: Filtering for each column"
As part of rewriting the initial Orders and Fulfilment > Order Cycle Customer Totals report

Text filtering is provided by default by UI Grid but we also have the option of introducing custom filtering UI and logic.

One obvious issue is that dropdowns would have to be populated manually, they cannot be filled automatically with options extracted from the data by UI grid. So to avoid excessive dat

[2016-12-02 16:50] rhodri opened #1263 "Reports Overhaul: Generate and share columnDefs across reports"
Maintaining a list of columnDefs for each report will create an awful lot of code duplication.

Columns will almost certainly be rendered the same across different reports, so let's have the ability to:
- generate a columnDef from a few options: field name, data type, filtering style, etc
- map field name to a generated column def

This would be one step towards allowing dynamic specification of t

[2016-12-02 17:11] rhodri opened #1264 "Reports Overhaul: Add ability to switch between Orders and Fulfillment reports"
Generalising the overhaul for the Order Cycle Customer Totals report to the other sub-types of the Orders and Fulfillment report.

This will involve:
1. providing JSON endpoints for the other report types – will this just be the same data?
2. providing different columnDefs for each report
3. increasing sophistication of grouping – it is possible to group by multiple levels in UI grid, as evidenced

[2016-12-02 17:12] rhodri commented on #1260
One issue with UI Grid's built-in export functionality is that the totals rows are not exported as part of the CSV – will they be included in the PDF? Can we use the custom export functionality to add these rows in if need be?

[2016-12-02 23:06] rhodri commented on #1233
😽

[2016-12-06 23:43] sstead opened #1267 "Admin dropdown is visually disconnected from the icon in the nav"
Device: Desktop
Recommendation:Pretty up the dropdowns: Spacing of links in dropdown could be reduced, right aligned for neater presentation
![image](https://cloud.githubusercontent.com/assets/10843056/20948769/dc845630-bc69-11e6-8f22-f52330cda06e.png)

[2016-12-06 23:45] sstead opened #1268 "Explore 'Tabs' don't wrap well in mobile. The active tab is disconnected from the content."
Device: Mobile
Page: Login / Signup / Forgotten Password Modal
Recommendation: 'Forgotten Password' interaction/form access could be presented as a link on the 'login' tab. Reduces tabs, two would fit in one row.
![image](https://cloud.githubusercontent.com/assets/10843056/20948823/2fa713ca-bc6a-11e6-9c33-32a18bf2d62a.png)

[2016-12-06 23:57] sstead opened #1269 "Passwords have limits (6 char min, 128 max) which are only displayed to the user upon error"
Device: All
Where: Login / Signup / Forgotten Password Modal
Recommendation:  Consider adding help text below field
![image](https://cloud.githubusercontent.com/assets/10843056/20949131/ed53fb08-bc6b-11e6-8a76-19e1b1ce0611.png)

[2016-12-06 23:59] sstead opened #1270 "Form error messages should be located with the corresponding field."
Form error messages should be located with the corresponding field. Using red for error messages and red for primary button in the modal is visually confusing.
Devices: All
Where: Login / Signup / Forgotten Password Modal
![image](https://cloud.githubusercontent.com/assets/10843056/20949174/1dc0e210-bc6c-11e6-9ccf-28fe3c09bcc0.png)

[2016-12-07 00:01] sstead opened #1271 "'Register Now' link in banner - hover colour can't show on mobile, it doesn't look clickable."
Device: Mobile/Tablet
Where: Page Banner
Recommendation: Update colour
![image](https://cloud.githubusercontent.com/assets/10843056/20949231/67db551a-bc6c-11e6-9102-91bd78409cae.png)

[2016-12-07 00:04] sstead opened #1272 "'Connect' and 'Learn' links in banner can't show hover colour on mobile"
It's difficult to tell that they're links going to different parts of the site ^ this can be fixed as part of the 'Register Now' issue - https://github.com/openfoodfoundation/openfoodnetwork/issues/1271
Devices: Mobile/Tablet
Where: Page Banner
![image](https://cloud.githubusercontent.com/assets/10843056/20949308/c5508b16-bc6c-11e6-8e54-0623b1e959bd.png)

[2016-12-07 00:08] sstead opened #1273 "'Close' button on banner doesn't persist (page refresh reloads banner)"
Recommendation: Close should persist for session
Device: All
Page banner:
![image](https://cloud.githubusercontent.com/assets/10843056/20949433/604c5320-bc6d-11e6-9088-bea20597687c.png)

[2016-12-07 00:09] #1267 closed

[2016-12-07 00:09] #1268 closed

[2016-12-07 00:10] #1269 closed

[2016-12-07 00:10] #1270 closed

[2016-12-07 00:11] #1271 closed

[2016-12-07 00:13] sstead opened #1274 "'Shopping here's how it works' labels should also be clickable (search, shop, pickup-delivery) as they are stronger CTAs than the icons."
Recommendation: Consider also increasing the font size to make the headings easier to scan.
Device: Mobile/Tablet
Where: Homepage
![image](https://cloud.githubusercontent.com/assets/10843056/20949584/33014794-bc6e-11e6-935f-4f13378036c1.png)

[2016-12-07 00:13] sstead opened #8284 "'Shopping here's how it works' labels should also be clickable (search, shop, pickup-delivery) as they are stronger CTAs than the icons."
Recommendation: Making the title clickable
Device: Mobile/Tablet
Where: Homepage
![image](https://cloud.githubusercontent.com/assets/10843056/20949584/33014794-bc6e-11e6-935f-4f13378036c1.png)

[2016-12-07 00:14] sstead opened #1275 "Increase the padding between the logo and Open Source content - will make the link click targets easier to hit on mobile"
Where: Footer
Device: Mobile/Tablet
![image](https://cloud.githubusercontent.com/assets/10843056/20949611/5aca0c48-bc6e-11e6-8627-b008db9039b6.png)

[2016-12-07 00:18] sstead opened #1276 "Remove bugherd from australian staging servers"
Why is this happening? Why is bugherd still on staging? Can't we just remove bugherd?
Device: Mobile/tablet
Where: Feedback
![image](https://cloud.githubusercontent.com/assets/10843056/20949682/dba7f334-bc6e-11e6-9c70-56af7f19adbe.png)

[2016-12-07 00:20] sstead opened #1277 "Feedback option 1 - instructions are cut off and I couldn't get the annotations to work on Mobile"
Why is this happening? Why is bugherd still on staging? Can't we just remove bugherd?
Device: Mobile/Tablet
Where: Feedback
![image](https://cloud.githubusercontent.com/assets/10843056/20949719/0ee725c6-bc6f-11e6-9718-9c13a9ba0e77.png)

[2016-12-07 00:22] sstead opened #1278 "Feedback option 2 - Message field is cut off. Submit button in modal is not visible."
Why is this happening? Why is bugherd still on staging? Can't we just remove bugherd?
Device: Mobile/Tablet
Where: Feedback
![image](https://cloud.githubusercontent.com/assets/10843056/20949756/57e45a96-bc6f-11e6-8804-f99f23a5cf41.png)