[2021-09-08 09:12] RachL commented on #8149
@filipefurtad0 I could be wrong, but I think you can ask Bugsnag to ignore permanently some errors?

[2021-09-08 09:21] filipefurtad0 commented on #8149
Yes, I think so too @RachL - I'll do that. But I'm wondering if it is a good practice to keep a piece of code which triggers a warning we choose to ignore...

[2021-09-08 09:32] RachL commented on #8143
@andrewpbrett a hub in FR reported 2 orders with the problem this week:

R563033613 and R221258050

the hub manager forgot to go check stripe to see if there was a payment problem, so she first manually created cash payment in OFN.

Then this morning she noticed the payment were not captured and capture them manually.

Here are the stripe screenshot, we can see the shopper has really confirmed the

[2021-09-08 10:38] filipefurtad0 commented on #7637
Updated :ok_hand:

[2021-09-08 11:31] filipefurtad0 opened #8152 "Cookie issues"
## Description

We've had this bugsnag which seems introduced by the last release:

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

Comparing production servers: NZ (left) vs FR (right)

![image](https://user-images.githubusercontent.com/49817236/132501764-297320cb-d411-48bc-b297-4403ac41c37c.png)

## Workaround

## Severity

## Your Envir

[2021-09-08 11:44] Matt-Yorkley commented on #8152
Those two cookies are only being used by Matomo. Looks like we just need to update the Matomo settings on FR and US. It shouldn't impact any users.

[2021-09-08 11:48] filipefurtad0 commented on #8152
Sorry, I've pushed the issue without finishing the text :see_no_evil:
Cool, that's point 2) -> I'll move it to a separate issue.

I was actually more concerned about the bugsnag errors 1) as they point to password resetting in the UK, for example

[2021-09-08 12:15] Matt-Yorkley commented on #8152
Interestingly, I don't think the Matomo cookie thing is new. It hasn't been changed, and as far as I can tell there's no way it could have worked on both www and non-www versions of the domain.

The www prefix should be removed in the Matomo settings (superadmin config?), and then it should work fine on both.

[2021-09-08 12:18] jaycmb commented on #7434
It´s better to stick with the "Complete order" (or place order), because this is the legal agreement of the user to enter the  contract.
I thought there might be a page loading in between before the user is redirected.
But we can add a line for card (or Paypal) payments above the CTA.

<img width="568" alt="image" src="https://user-images.githubusercontent.com/39744592/132507818-0ffeaba3-1bd7-44b0

[2021-09-08 18:10] andrewpbrett commented on #8143
Thanks @RachL. For both of those orders, I see in the logs the line `require_distributor_chosen`, so these are hopefully the last couple payments where this happened before #8090 was deployed.

[2021-09-08 18:48] #5782 closed

[2021-09-08 19:23] sinansonmez commented on #6140
Thanks @andrewpbrett for the support. I was able to recreate the issue and created a pull request

[2021-09-08 19:29] andrewpbrett commented on #6140
Great, thank you! I've moved it into the code review column, someone should be able to look soon.

[2021-09-09 07:00] meronokbay commented on #5335
I will pick up this one.

[2021-09-09 07:21] jibees opened #8155 "Check split checkout mobile views"
Reference:

https://www.figma.com/file/mwC9b6iUJxP29G4COnfkbC/Checkout-Overhaul?node-id=0%3A1

[2021-09-09 08:05] chezaorchard opened #8156 "Product showing on order confirmation as $0 and zero stock"
## Description
Enterprise 2026 has had two instances of order where the email confirmation lists a product with 0 quantity and $0.

When looking at the order in the back office (Search order > edit) products are not visible as line items.

Both the products that this has occurred for had an inventory override.

![New life 3](https://user-images.githubusercontent.com/68367600/132647589-feeac074-794

[2021-09-09 09:42] filipefurtad0 commented on #5335
Thank you @meronokbay for picking this up!
I've assigned you to the issue. Please let us know if you have any questions.

[2021-09-09 09:52] RachL opened #8506 "Put line breaks between the listed products in shipment email"
## What is the need / problem?

The shipment confirmation email is ugly. This issue stands as a partial answer to the feature request https://github.com/openfoodfoundation/wishlist/issues/71

We just want the list of products to be listed one after the other, with line breaks, instead of what we have today:

![image](https://user-images.githubusercontent.com/6525576/132664672-c38542f7-e0f3-4670-84

[2021-09-09 11:44] filipefurtad0 opened #8161 "Sorting orders by "Total" not working correctly - response code 304"
## Description

Clicking the column header "Total" in the `/orders` page is not sorting the orders according to order total. An error 304 is seen in the console.

## Expected Behavior

Clicking the column header "Total" in the `/orders` page should sort orders according to order total. Request should return 200 response.

## Actual Behaviour

Clicking the column header "Total" in the `/orders` pag

[2021-09-09 11:46] Matt-Yorkley commented on #7434
Wouldn't we just be adding an extra checkout page that shows the summary and details and address in that case?

[2021-09-09 12:56] filipefurtad0 commented on #6942
To close this issue, other payment methods (other then Check) should be considered:
- Check  -> addressed in #8144
- StripeSCA
- Paypal

Also, all calculator types should be considered:
- Flat percent
- Flat Rate (per order) -> addressed in #8144
- Flexible Rate
- Flate Rate (per Item) -> addressed in #8144
- Price Sack

Combinations of the above should be considered when testing.

[2021-09-09 13:04] filipefurtad0 commented on #7841
See also these different scenarios, as described [here](https://github.com/openfoodfoundation/openfoodnetwork/issues/6942#issuecomment-916066369). In addition to these, the `Weight` calculator should be considered when fixing this issue.

[2021-09-09 16:27] andrewpbrett commented on #7434
There is a bit of redundancy here - we're showing the summary page with all the details, and then if they're paying with a new credit card, we're sending them to a Stripe checkout page where they'll see mostly of the same thing again, but with the credit card form.

I think it has to look like this though, because of the requirement that the summary page can't have the payment form embedded on it

[2021-09-09 23:10] #6303 closed

[2021-09-09 23:49] #5236 closed

[2021-09-10 00:49] andrewpbrett opened #8162 "Release v4.1.1 Cassoulet"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/2913
- [x] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2021-09-10 16:09] Matt-Yorkley commented on #6848
I've got a question...

Taxes can be applied to:
1. Line Items (each associated with a producer)
2. Shipments
3. Enterprise Fees on Orders
4. Enterprise Fees on Line Items

I'm assuming we want to include **1** here and not include **4**, but I just thought I'd check.

[2021-09-10 16:11] Matt-Yorkley commented on #6848
But conversely; the **Tax Totals by Order** report will be quite different in that it'll include all 4 sets of taxes for each order.

[2021-09-10 16:24] filipefurtad0 opened #8169 "Migrated StripeConnect payment methods have empty "Account Owner""
## Description

Follow-up from  #8064.
When killing stripe Connect, we were left with one missing bit, after the migration:  **Account owner** is left empty, which breaks payments, namely in Subscriptions.

## Expected Behavior

No StripeSCA payment methods should have `Account owner` empty

## Actual Behaviour

Some StripeSCA payment methods have `Account owner` left empty

## Steps to Reproduce

[2021-09-10 16:32] filipefurtad0 opened #8170 "Snail on Enterprise Fee Report: MIGS"
## Description

In all things similar to issue #7799 but for MIGS:
Enterprise fee report is broken, for enterprises which have used MIGS in the past.

## Expected Behavior

Enterprise fee report should render, for enterprises which have used MIGS in the past

## Actual Behaviour

Enterprise fee report is broken, for enterprises which have used MIGS in the past

## Steps to Reproduce

Log in as sup

[2021-09-10 16:37] lin-d-hop commented on #6848
Hey Matt, yes that is correct to my understanding too. Tis a good clarification. we might need to look closer at this in the enterprise fees report. Off the top of my head we'll be covering cases in that report for enterprise fees/tax per producer.

[2021-09-10 16:55] sinansonmez commented on #6414
Hello @RachL. Can you assign this to me so I can start working on it?

[2021-09-10 19:02] lauriewayne opened #8171 "Group Buy unit size on Bulk Order Management screen does not match unit on product listing"
## Description
![image](https://user-images.githubusercontent.com/37803238/132903087-faca5773-ac4b-47ac-accc-10d02a3f051d.png)
A large buying club (300 products) has moved to OFN and a large part of their business is putting together bulk orders. The feature doesn't work as they need so they are spending hours every week reconciling orders by hand.

## Expected Behavior

On the bulk order manageme

[2021-09-12 13:20] sinansonmez commented on #6414
Dear @filipefurtad0 I tried to recreate this issue.
1. Set a tax zone for North America (default tax zone is EU, second screenshot below)
<img width="1408" alt="Screen Shot 2021-09-12 at 14 45 05" src="https://user-images.githubusercontent.com/37421564/132988469-539f3b76-347f-4ffa-93a9-724d5a115b5d.png">

![Screen Shot 2021-09-12 at 14 57 11](https://user-images.githubusercontent.com/37421564/1329

[2021-09-13 08:10] filipefurtad0 commented on #8109
I've just logged in to the prod DBs in UK and FR ran the queries and got the exact same [results as above](https://github.com/openfoodfoundation/openfoodnetwork/issues/8109#issuecomment-914175645) :+1:

[2021-09-13 08:43] filipefurtad0 commented on #6045
Hey @shen-sat ,

This page is used to edit but also to create new orders from scratch.

So, some of the cases you describe are addressed in the example on line 192 - https://github.com/openfoodfoundation/openfoodnetwork/blob/3a894a1cdb2f40098a025793a10aa44b7ab5ec4b/spec/features/admin/order_spec.rb#L132

Here filling in of the fields is tested. But I think it would be good to have an assertion whi

[2021-09-13 09:25] RachL opened #8176 "When creating products, pre-select the supplier when there is only one enterprise available"
## Description

**- As a:** enterprise user
**- On page:** `/admin/products/new`
**- I want to be able to do:** Avoid having to select a supplier if there is only one supplier available in the dropdown

## Acceptance Criteria & Tests

1. Log in as an admin of 1 enterprise
2. Got to `/admin/products/new`
3. See that your enterprise is already selected in the supplier field => same behavior than the

[2021-09-13 09:58] RachL opened #8971 "Linking Order Cycles to Shipping & Payment Methods"
## What is the need / problem?

One of the core structures within the Open Food Network is the Order Cycle. Order Cycles have a lot of flexibility – you can set different order cycles to have different products or be visible to different customers. However there is currently a significant flaw with Order Cycles. They all must enable every payment method and every shipping method that the Enterpris

[2021-09-13 10:19] filipefurtad0 commented on #8162
The release is good to go :tada:

https://docs.google.com/document/d/1bB6E2XuHlpPRqC9Z1H5biaHWBwfP3XKDubmBgTU_uRs/edit#

Found an issue related to orders in which items go out of stock, for now [reported here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8148#issuecomment-918009003), but opening an issue.

[2021-09-13 11:27] filipefurtad0 commented on #6414
Hi @sinansonmez ,
Thanks for the effort in reproducing this issue.

Can you confirm if the shop set to charge taxes? This can be found under `admin/enterprises/<enteprise_name>/edit#!/business_details`:
![image](https://user-images.githubusercontent.com/49817236/133075602-b0083232-8e3a-42ce-b83a-c5e384d88088.png)

[2021-09-13 11:45] filipefurtad0 opened #8177 "Out-of-stock orders remain in "cart" state"
## Description

Orders which are not completed due to stock restrictions are left in a `cart` state - although no items are in the cart. Only after an admin finds the order and visits the respective order edit page will the state transit to `address`.

## Expected Behavior

Incomplete orders due to stock restrictions remain in the `Address` state.

## Actual Behaviour

Incomplete orders due to sto

[2021-09-13 11:56] sinansonmez commented on #6414
Thanks for the hint @filipefurtad0 The shop was not set to charge taxes. Then I updated the setting and created another order. I still don't see the issue
<img width="1170" alt="Screen Shot 2021-09-13 at 13 51 16" src="https://user-images.githubusercontent.com/37421564/133079052-53dd0156-743b-40ca-9a23-7c0afd2d27ad.png">

<img width="1440" alt="Screen Shot 2021-09-13 at 13 55 53" src="https://user

[2021-09-13 12:00] filipefurtad0 opened #8178 "Can't complete out-of-stock orders in "Address" state"
## Description

Closely related to #8177.
An order which as gone through the the steps described in #8177 and which is in the `expected` Address state cannot be completed:
- The admin does not "see" any items on the item list
- Adding a different line item will trigger an out-of-stock message concerning the initially added (but out-of-stock) item
- The only way to complete this order is for the cu

[2021-09-13 12:35] lin-d-hop commented on #8169
@filipefurtad0 Will this break existing subscriptions? I'm not clear on the impact and hence unsure if this should be an s2.

[2021-09-13 12:44] lin-d-hop commented on #8143
The multiple issues reported in the recent weeks were tracked down to actually have different causes that weren't our fault.

Perhaps this has been resolved now? :crossed_fingers:

[2021-09-13 12:50] lin-d-hop commented on #8074
@andrewpbrett this is great to read (sorry for the long delay)

I agree that improving active merchant and tests could be priorities - should be classed as tech debt.

What about[ this suggestion from Cillian](https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1628610531007600) - is this relevant?

[2021-09-13 13:05] apricot12 commented on #8169
@lin-d-hop This can break existing subscriptions if there was any instance left still using StripeConnect for subscriptions. The workaround here will probably be to re-do the steps to add Stripe to your account.

[2021-09-13 13:10] lin-d-hop commented on #8169
That doesnt sound like a valid workaround.

If we deploy  #8064 before this is fixed then any instances that havent migrated to Stripe SCA will deploy the release and have Stripe break in BO and subs. That basically renders all of the work done in this PR completely pointless.

Luckily most instances have already transferred all stripe accounts to SCA.

[2021-09-13 13:13] filipefurtad0 commented on #8169
I should have made more explicit in the issue that this is currently only in `master`, as v4.1.1 will not include Stripe connect removal. As such, I  totally agree it is a good idea to address this before release v4.1.2.

Yes, that's it but again, best fixed before deploy.

[2021-09-13 13:16] lin-d-hop commented on #8169
Why merge and create a separate issue when the problem means the original work did not actually solve the original issue? Then create an S3 that actually is a blocker for the whole piece of work? Rather than just saying 'actually you didn't fix the issue'.
Guys, I'm sorry, your logic has totally broken me.

But so long as you have it under control :shrug:

[2021-09-13 13:41] filipefurtad0 commented on #6414
Thanks @sinansonmez .
What is the tax category associated with the products on the order?

[2021-09-13 14:25] RachL opened #8794 "Keep schedule when cloning an OC"
## Description
**- As a:** enterprise user and super admin
**- On page:** `/admin/order_cycles`
**- I want to be able to do:** when cloning an OC, schedule are cloned too

## Acceptance Criteria & Tests

1. Log in as a single producer shop with subscriptions
2. Go to  `/admin/order_cycles`
3. Clone an OC linked to a schedule
4. Observe the new OC created is linked to that same schedule

Repeat tes

[2021-09-13 14:40] filipefurtad0 commented on #6414
Also, since you opted to make your customer checkout from Australia, you'll need to set the default Zone to "North America":

![image](https://user-images.githubusercontent.com/49817236/133099543-10240b85-9e16-4115-b0e0-8a85003c9cd2.png)

But I see this issue is not current anymore, it seems the translation key has been added in the meantime :+1: So it can be closed actually.

Sorry for all the wo

[2021-09-13 14:41] #6414 closed

[2021-09-13 14:48] sinansonmez commented on #6414
Thanks for the info @filipefurtad0   At least I was able to help to identify that the issue doesnt exist anymore and can be closed. Sure I will check other issues to support OFN

[2021-09-13 14:52] filipefurtad0 commented on #8169
Yes, this one was not obvious... It seems that the branch in #8064 was causing conflicts, since it was a long lived branch - it was worked on an tested a few times.

So, to avoid the need to constantly resolve conflicts and since it was not on the upcoming release (so it would not break production) it seemed like the best to do, in this case: merge and address before next release.

I should have m

[2021-09-13 16:15] andrewpbrett commented on #8143
Thanks for the update @lin-d-hop - I think this issue was intended as a placeholder for those payment issues. So now that we're saying we've tracked them down, and #8090 is merged, I think this is good to be closed and then if a new issue comes up, we can track it separately. 🎉

[2021-09-13 17:21] andrewpbrett commented on #8074
Thanks @lin-d-hop. I think @cillian's suggestion is intended to solve the issue of "Paid orders that aren't appearing in the system", which I think we've tracked down to a combination of #8090 and https://github.com/openfoodfoundation/openfoodnetwork/issues/8143#issuecomment-918153640. So while we could set up listening on that webhook, it would take some time to set up correctly (in fact it might

[2021-09-13 17:21] #8074 closed

[2021-09-13 17:32] andrewpbrett commented on #8028
Thanks for the first improvement in #8112 @cillian! I've moved this issue back to All The Things on zenhub for now until we can fix the remaining queries.

[2021-09-13 18:26] jaycmb commented on #8177
You mean orders that have 0 line items or orders that have line items with quantity=0?
I think the latter, right?

[2021-09-13 18:34] jaycmb commented on #8178
On expected behaviour, should we add that the Admin can remove the initial out of stock item and this should then be mirrored on the cart on the shopper side?

As far as I understood the above described behaviour the Admin would be able to add items, but it would still be mandatory **for the shopper** to remove the out of stock item.

Or do we need to keep the 0 on the shopper side so that the use

[2021-09-13 19:17] sinansonmez commented on #5708
Hello @filipefurtad0.

I recreated this issue, please find the video below. However, as you can see below, the system actually created the invoices without any issue.

I wanted to confirm the expected behavior: If an order in `payment` or `cart` status, the `Print Invoices` button should be disabled, right? If yes, I can start working on the solution.

https://user-images.githubusercontent.com/374

[2021-09-14 08:07] jibees commented on #7504
Ahah, ❤️  `javascript`:

<img width="203" alt="Capture d’écran 2021-09-14 à 10 07 13" src="https://user-images.githubusercontent.com/296452/133220182-345c4ec8-774f-4059-b458-6abc44a3a94e.png">

[2021-09-14 09:52] filipefurtad0 opened #8185 "Checking out with multiple tabs leads to user facing error"
## Description

While on the checkout page, a user may edit the by opening it in a different tab. If the checkout flow is followed on this second tab then, attempting to checkout (again), on the first tab will trigger this bugsnag error:

Reproduced in staging:
https://app.bugsnag.com/open-food-france/coopcircuits/errors/613deb3ad2e9840007b555ad?event_id=61406bf80080c35275f50000&i=sk&m=nw

Observe

[2021-09-14 10:30] filipefurtad0 commented on #8143
There is a sum of edge cases which consistently leads to this scenario:

![image](https://user-images.githubusercontent.com/49817236/133240358-f7143796-3e4d-40d2-b554-2de0b2006236.png)

It is closely related to https://github.com/openfoodfoundation/openfoodnetwork/issues/8185 and to https://github.com/openfoodfoundation/openfoodnetwork/issues/8142

i) If one changes the order by editing the cart o

[2021-09-14 11:13] filipefurtad0 commented on #8177
I was referring to orders with no line items, but I don't think we can have orders with line items with quantity zero - at least as displayed in the UI.

Interestingly, I think the issue is caused by line item which is out of stock (seen in the DB, quantity = 5) which does not appear in the UI for the admin. Only an added line item (with stock, quantity = 2) appears:
![image](https://user-images.g

[2021-09-14 11:19] filipefurtad0 commented on #8178
Agreed and updated :+1:

It seems that line item which is out of stock (seen in the DB and associated with this order, quantity = 5) does not appear in the UI for the admin and only for the customer. Only an added line item (with stock, quantity = 2) appears for both:
![image](https://user-images.githubusercontent.com/49817236/133247217-fda12c07-bc98-44a7-862e-f43375b3239a.png)

[2021-09-14 11:48] filipefurtad0 commented on #5708
Hey @sinansonmez ,
Thanks for that feedback.

Agree with your proposal as quick win, as this is the current behavior, when one tries to print each order, under `https://staging.openfoodnetwork.org.uk/admin/orders/<order_nr>/edit`, the Actions menu is disabled:

![image](https://user-images.githubusercontent.com/49817236/133251234-56899e45-e2ac-4017-bde3-bb9a24be5498.png)

This menu becomes enabled

[2021-09-14 13:41] jaycmb commented on #8177
Yeah I meant whats described in #8178:)

The problem also occurs to orders that have several items which are in stock, but item that is out of stock is blocking the rest of the order to be processed.
So the missing items remains quantity=0 on the user side but is not visible on the Admin Interface

[2021-09-14 13:48] drummer83 commented on #2647
I had those on my list as well, so I did a search:

 This is #1756.

This is #1719.

[2021-09-14 16:01] lin-d-hop opened #8187 "Tax Totals Report Available over API"
## Description

As an API user I would like to access the data on tax reports via the API. This will be the first of our reports available over the API.

API RQs need to allow the same search criteria as the reports search fields.
API RSs need to return the same data as the report when searching.

The goal is that this work leverages work already done by Matt. If there are specific params or field

[2021-09-14 16:02] lin-d-hop opened #8188 "Enterprise Fee w Tax Report available over the API"
## Description

As an API user I would like to access the data on enterprise fee reports via the API. This will be the first of our reports available over the API.

API RQs need to allow the same search criteria as the reports search fields.
API RSs need to return the same data as the report when searching.

The goal is that this work leverages work already done by Matt. If there are specific para

[2021-09-15 07:41] #8019 closed

[2021-09-15 09:14] filipefurtad0 opened #8191 "Error on cart page (when editing the cart)"
## Description

A user from FR has reported to see the snail when attempting to visit the `/cart`, after 1 order was placed on that hub/OC.

Reported here:
https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1631607181014700

Bugsnag:
https://app.bugsnag.com/open-food-france/coopcircuits/errors/61253779ceb09000073b4c44?filters[event.since]=30d&filters[search]=perrine.dulac%40orange.fr&event_id=6

[2021-09-15 16:20] #8162 closed

[2021-09-15 16:22] #6140 closed

[2021-09-15 16:22] #8098 closed

[2021-09-16 09:41] lin-d-hop commented on #7844
Seems to be the cause of[ this bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/60e9a0720589900007ea067f?filters[event.unhandled]=true&filters[event.since]=30d&filters[app.release_stage]=production&filters[search]=lilyrussell1961%40icloud.com) which blocked a checkout with paypal.

Bumping to S2.

[2021-09-16 09:58] YasuhiroYoshida commented on #6558
I could not reproduce this issue.

I entered both `https://www.facebook.com/username` and `www.facebook.com/username` in the input field. It came out fine - the expected behavior was observed - on the enterprise front end.

[2021-09-16 10:45] Matt-Yorkley commented on #7844
Alright I'm trying to piece together what the whole session looked like for that recent Bugsnag:
- various users were shopping at the same hub at the same time
- there were potentially multiple (presumably handled) out-of-stock errors for that user even _before_ the checkout: when the user was trying to add items to the cart some of them were going out of stock at the exact same time
- the end res

[2021-09-16 11:03] lin-d-hop commented on #7844
Yes that much I've already told the user.

Of course out of stock issues will always be a thing. So the priority is simple handling error messaging and state transitions. When shoppers just see an error saying 'NO' the fear that that creates in the shopper reverberates through like half a dozen people before becoming a GH issue.

If there is any way to help the experience be something the shopper

[2021-09-16 11:11] Matt-Yorkley commented on #7844
Aha... alright I think I've figured it out and there's an edge case here at the point where we're hurriedly deleting a line item from the cart because it's just gone out of stock. I think if there's enterprise fees on the line item and taxes on those fees, the way we ditch that out-of-stock line item doesn't actually clear things up in the way it should and there's a leftover reference to the dele

[2021-09-16 11:55] YasuhiroYoshida commented on #5106
I have no access to staging and production. So I can only look into local env.

Here I have one group: Producer group. And this group has several hubs.

I found one hub called Freddy's Farm Hub which is not listed on Order Cycles on the enterprise page. I set it to "Not Visible" on Primary Details of Enterprises on the enterprise page.

With that, I believe Freddy's Farm Hub should not be displaye

[2021-09-16 13:11] filipefurtad0 opened #8194 "[order states] Resumed ordes cannot be edited by the customer"
## Description

Hubs can allow customers to change their orders before an OC closes.

However, if an order has been cancelled and then resumed it won't be able to be edited, despite having the original OC still open.

## Expected Behavior

If the OC is open and the hub allows so: orders in state `resumed` should be editable by the customer; they should resemble orders in state `complete`in this be

[2021-09-16 14:16] #8191 closed

[2021-09-16 14:27] RachL opened #8195 "Hide OIDC login behind feature toggle"
## Description

**- As a:** super admin
**- On page:** `/#/login`
**- I want to be able to do:** see link to login thanks to OIDC only if the feature toggle was enable for my instance.

This is a temporary measure and will be replace in the future by a proper

## Acceptance Criteria & Tests

1. Turn on the toggle for an instance
2. Check that you can login with a user that has an OFN account AND a

[2021-09-17 03:19] andrewpbrett commented on #6558
Thanks for checking this @YasuhiroYoshida - I also took a look and it looks like Twitter is the only one that still doesn't work, the others get converted to the correct format. I'm not sure why we would have done everything but Twitter, but if we fix that one I think we can close this issue.

[2021-09-17 10:30] lin-d-hop opened #8202 "Order Cycle not loading - outgoing products"
## Description

Tamar Valley Food Hub - Order Cycle _BULK 20211001_

Seems they have created an order cycle with 4016 products. The order cycle is not loading correctly. In particular they are struggling with the outgoing products page. When I try to run in my account with half a dozen enterprises I can't load any of it.

Did we ever set SLAs on number of products that can be within an OC?

## Exp

[2021-09-19 22:17] mkllnk opened #8206 "Release v4.1.2"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/2931
- [x] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2021-09-20 08:38] filipefurtad0 opened #8208 "Removing Deprecated Payment methods"
Groups the issues related to the removal of deprecated payment methods.

[2021-09-20 08:50] jibees commented on #7635
Did some changes on FR instance, and seems to be functional now:

<img width="582" alt="Capture d’écran 2021-09-20 à 10 48 13" src="https://user-images.githubusercontent.com/296452/133977182-51557458-46a7-440f-b86c-25b84461d0e9.png">

[2021-09-20 08:50] #7635 closed

[2021-09-20 09:14] RachL commented on #8143
Team, I'm sorry I'm reopening this because CA reported a case which sounds like this issue. See conversation on slack: https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1631824275068900

@andrewpbrett do you have enough info to take a look?

[2021-09-20 15:47] RachL commented on #8206
Ok I think the release is ready to go! I haven't spotted anything particular that we don't know already!

https://docs.google.com/document/d/1HGwCZVPRS_Hhr0kwRpfpi-0Hlj3i2ag61-LKwkU_xxc/edit#

[2021-09-20 16:31] filipefurtad0 opened #8210 "Snail when creating a Stripe payment method"
## Description

When creating a Stripe payment method the section `Provider settings` appears, in which one should select a `Stripe Account Owner`. If left blank, submitting the form will display an error (as expected) but it will also and automatically reset the `Provider` field back into the default selection (Cash/Check), while maintaining the section "Provider settings" on the screen.

Choosin

[2021-09-21 01:06] #8206 closed

[2021-09-21 10:00] jaycmb commented on #7409
If URLs are changed away from what has been specified above (or on the respective issue of the steps), then please make sure to document in the issues and ping me.
Because otherwise we set up the funnels in the wrong way.
Ping @jibees and @Matt-Yorkley

[2021-09-21 11:16] jibees commented on #7409
I'll change the document in order to match the reality. I'll close the issue then.
Here the document: https://docs.google.com/spreadsheets/d/1kVIoIBiYdBhgml1BbV2AEU0JnYTNphlhp6Y9nXHGEog/edit#gid=780308511

[2021-09-21 11:18] jaycmb opened #8214 "Product Analytics: track clickable elements and errors on each step of Checkout process"
## Description

**- As a:** product manager
**- On page:**

- /checkout/-enter your details

- /checkout/payment-method

- /checkout/order-summary

**- I want to be able to do:** (specify the desired behavior)
track clickable elements (buttons, links) as well as errors occurring to understand how users are using the new checkout process and detect possible flaws.

![image.png](https://images.zenhu

[2021-09-21 14:09] sinansonmez commented on #8176
@RachL this seems to be relevantly easy task(to be confirmed by maintainers). If this is the case, please assign this to me and i can start working on it

[2021-09-21 14:43] filipefurtad0 opened #8216 "[release test automation] Orders page"
### What we should change and why (this is tech debt)

We need to check and update the test cases on `/orders` page. This should be covered by the file:

`spec/system/admin/orders_spec.rb`

[code]

~~While we are at it, we should update it to system spec too -> **done** in https://github.com/openfoodfoundation/openfoodnetwork/issues/8217~~

### Context

Release test automation and updating feature

[2021-09-21 15:18] Cecilia-Hn opened #8218 "Payment untaken in Stripe"
## Description

We've got one case of a payment untaken in Stripe after an order thrugh OFN :

A client selected some product in a store

![Screenshot_20210921-112354_Chrome(1)](https://user-images.githubusercontent.com/67476305/134196654-516dbd83-6258-4018-bf38-fa3fde378538.jpg)

Then, the client tried to paid his order with his bank card :
- he was redirected on his bank app where the payment ha

[2021-09-21 16:25] filipefurtad0 commented on #8218
Hey @Cecilia-Hn ,

Here's what I could gather:

There are 14 (!) payment attempts on this order (order number = R353458575 // order_id = 2336323):
[code]

 Only the first one was successful:

[code]

All 13 attempts after this one either failed, pending, or require authentication. One of them is the one from 09:26:03 AM:
[code]

Which triggered this Bugsnag error:

https://app.bugsnag.com/open-foo

[2021-09-21 16:26] Cecilia-Hn commented on #8218
The untaken payment by Stripe concerned the all following hub :

- ID OFN : 1265
- ID OFN : 2236

I think way more are concerned.

[2021-09-21 16:42] Cecilia-Hn opened #8219 "Impossible order due to order shipping method"
A client try to order on an OFN shop (2236), when he arrived at the validation, the order is not finalised because of shipping method error :

<img width="1416" alt="Capture d’écran 2021-09-21 à 18 39 39" src="https://user-images.githubusercontent.com/67476305/134211857-ae95a059-030d-4b82-a1d2-c7a3d4a28e13.png">

<img width="718" alt="Capture d’écran 2021-09-21 à 18 39 44" src="https://user-im

[2021-09-21 16:49] Cecilia-Hn commented on #8219
We've got exactly the same behaviour for shop 1265

- The client go te the shop
- Select products
- Go to checkout
- Place order and the following message appeared
<img width="1124" alt="Capture d’écran 2021-09-21 à 18 48 51" src="https://user-images.githubusercontent.com/67476305/134213243-1b00eef0-ea55-45bc-8d23-968da006d61f.png">

[2021-09-21 16:52] filipefurtad0 commented on #8219
This might be occurring because those hubs have all shipping methods set to `backoffice only`, as an example:
![image](https://user-images.githubusercontent.com/49817236/134213128-b68cc5c7-ba31-400e-b2df-622200492671.png)

The workaround could be to visit `/admin/shipping_methods/<shipping_method_id>/edit`and set at least one shipping method as :
![image](https://user-images.githubusercontent.com/

[2021-09-21 16:58] filipefurtad0 commented on #8219
This is confirmed in staging:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/614a0e96f3fa8e0008cd2936?event_id=614a0e960080dd9956940000&i=sk&m=nw

The workaround of hubs setting **at least one visible shipping method** should work, downgrading to s2.

[2021-09-21 17:00] filipefurtad0 commented on #6137
Checking out _used_ to be possible, but now breaks:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/614a0e96f3fa8e0008cd2936?event_id=614a0e960080dd9956940000&i=sk&m=nw

This is duplicate of #8219; closing.

[2021-09-21 17:00] #6137 closed

[2021-09-21 17:02] Cecilia-Hn commented on #8219
Thanks a lot @filipefurtad0, this is it, I panicked !

[2021-09-21 17:09] filipefurtad0 commented on #8219
Thank you for reporting! :pray:

[2021-09-22 07:32] RachL commented on #8131
Canada is having some issues with the fact that cancelling orders sends an email to the customers. They are about to create an issue for this. We need to be careful in which order we will merge the PR.

[2021-09-22 15:09] #7799 closed

[2021-09-22 16:33] filipefurtad0 commented on #8218
An error appeared today which could be related to this issue (checkout + Stripe), although the error message seems different:
https://app.bugsnag.com/open-food-france/coopcircuits/errors/60d1ff0db5a60f0008d2b0f1?event_id=614b4eb6008122268e380000&i=sk&m=fq

[2021-09-22 16:34] RachL opened #8221 "Keep orders with "completed" status in the list of orders"
## Description

The scope chosen here : https://github.com/openfoodfoundation/openfoodnetwork/issues/8148 is too restrictive (stop displaying orders with no line items).

Indeed it applies to both the list of complete orders and the list of uncomplete orders.

As a result if the orders has no line items but as the result of edition after completion of the order, the order is no more accessible thr

[2021-09-22 17:05] Cecilia-Hn commented on #8218
Hi

I just had the concerned hub on the phone, they were also impacted about the result of back office settings in shipping methods until monday. Maybe this is linked ?

[2021-09-22 18:14] guidoDutra commented on #8131
@RachL I saw the piece of code that does that, it probably won't cause any conflcts with my PR :) I could also pick that up depending on how it goes

[2021-09-22 19:42] filipefurtad0 commented on #8219
It seems that if the customer tries to checkout, on a hub with `shipping methods set to backoffice` only and uses `Stripe as a payment method`:

- that user will see the snail / error 500
- the payment goes through -> seen on Stripe Dashboard as `authorized` and `captured` (!)
- if the user then navigates back (using the back button of the browser) a new payment for that order can be submitted
- a

[2021-09-22 20:12] filipefurtad0 commented on #8218
Thanks for mentioning that @Cecilia-Hn , I've checked that scenario and indeed they look related; [I've posted on #8219](https://github.com/openfoodfoundation/openfoodnetwork/issues/8219#issuecomment-925270832) , so the dev which picks this up is aware of possible steps to reproduce.

[2021-09-22 23:16] mkllnk commented on #8218
A good hint is the error message:

And from the history above it looks like the first payment had a different amount to the following payments.

One theory is that we somehow authorised for $58 but then tried to charge for $106. But before all that, we need to find out why the first payment got marked as completed in our system while Stripe didn't take it.

[2021-09-23 00:09] mkllnk commented on #8218
I had a closer look at Bugsnag and [this error](https://app.bugsnag.com/open-food-france/coopcircuits/errors/60f11496903af700075b686d) happened only in France and only to that one user.

[2021-09-23 07:49] jibees commented on #8221
Quick questions:

1. _Create an order_: for a shopper or an admin?
2. _Delete all line items using BOM_: Seems that we can't delete the last item of an order, or am I missing something?
<img width="752" alt="Capture d’écran 2021-09-23 à 09 46 44" src="https://user-images.githubusercontent.com/296452/134471407-9f52593f-e09c-4439-bfd5-419e63d9851e.png">

3. _We need to be able to find orders with

[2021-09-23 08:12] mkllnk commented on #8218
There are 14 payments. The first one was successful in OFN but the other 13 are either `pending`, `requires_authorization` or `failed`.

We got 12 Bugsnag error for that user around that time. The first five have timestamps that directly correlate to the first five failed payments. After that, it looks like some payments have been updated after the error was logged. Most error messages are:

That

[2021-09-23 08:20] mkllnk commented on #8218
Theories to confirm:

* The first payment was successful but another reason prevented the checkout, for example stock issues.
* I haven't checked Stripe yet if that first payment is actually displayed as failed.
* Was the first successful payment then voided because the checkout failed but OFN didn't update the local database?
* The user changed the cart after the first payment. Confirmed.
* The u

[2021-09-23 09:03] RachL commented on #8221
We had a quick call with JB to clarify :+1: PR on the way

[2021-09-23 10:28] jaycmb commented on #8221
This is going to be changed by https://github.com/openfoodfoundation/openfoodnetwork/issues/8131
And I thought this would also solve the problem of having complete orders without line items?

Or is it needed to keep this functionality? Then #8131 needs an update?
I feel like we have too many related issues open around this topic, would be good to define the ideal state?

[2021-09-23 11:31] RachL commented on #8221
@jaycmb long story short, there is no need to update 8131 we still need it as is. The two topics are not really linked.

#8131 will still enable to delete the item if the order is cancelled, what this issue fixes is that the cancel order can still be viewed in the list of orders. Currently it can't.

[2021-09-23 14:33] RachL commented on #8218
Thanks @mkllnk that's super helpful. Shall we consider that this is an edge case and stop here?

I guess that https://github.com/openfoodfoundation/openfoodnetwork/issues/7961 will help us personalize those messages and include a line around not trying to checkout on multiple tab?

[2021-09-23 15:13] filipefurtad0 opened #8223 "Remove "Ask" checkbox throughout the app"
## Description

Related to #925 and to https://community.openfoodnetwork.org/t/ask-checkbox/995.

Some pages like:
- bulk order management page - `admin/orders/bulk_management`
- customers page `admin/customers`
(- any other?)

display an "Ask" checkbox, whose function seems to confuse customers.

Checking it and saving changes does not retain this choice - reloading the page removes the check; Al

[2021-09-23 18:40] andrewpbrett commented on #8143
Thanks @RachL. This should be its own issue, if I'm understanding that slack message correctly; in CA's case, the payments are marked as complete, but the order remains in the payment state. What we were seeing here was the payment not marked as complete.

[2021-09-23 18:40] #8143 closed

[2021-09-23 18:56] andrewpbrett opened #8224 "Order remains in payment state after payment is completed"
## Description

https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1631824275068900

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

## Workaround

## Severity

## Your Environment

* Version used:
* Browser name and version:
* Operating System and version (desktop or mobile):

## Possible Fix

[2021-09-23 18:57] andrewpbrett commented on #8143
Created #8224 and will fill in details

[2021-09-24 15:41] lbwright22 opened #8227 "Updating a Product Description changes hyperlinks from 'open in new window' to open in same window"
## Description

User writes in the product description field when creating a product. They add a link to an external website (for example a Facebook album which displays extra photos of the products).
Editing this product at a later date results in the links inserted operating as 'open in same window' rather than 'open in new window'.

Hub would like their shop front page to remain open at all tim

[2021-09-24 15:51] kirstenalarsen opened #8231 "Add weight field to 'Packing Reports - Pack by Customer'"
## Description

**As a Hub doing my packing sheets**, I currently have no information available about volume or weight of items, which makes it very difficult to plan and do packing efficiently. We waste lots of time and money dealing with this

There are already fields on the variant that would enable this information to be set up and therefore accessed from the system (within edit variant)

![im

[2021-09-24 19:38] andrewpbrett commented on #7952
There's a potential solution in https://github.com/openfoodfoundation/openfoodnetwork/pull/8233 - however, there are some failing specs, since it's modifying the AddressFinder which is used in other parts of the codebase.

The reason this is happening, I believe, is that the CheckoutController makes some assumptions about orders having a valid bill_address and ship_address when the checkout restar

[2021-09-24 19:38] #7952 closed

[2021-09-24 19:56] andrewpbrett commented on #8218
Given that this happened in the shop that had their shipping methods set to backoffice only (if I'm understanding @Cecilia-Hn 's [comment](https://github.com/openfoodfoundation/openfoodnetwork/issues/8218#issuecomment-925116635) correctly), it seems like we should treat this issue as a side effect of that one and close this issue. Thanks to @mkllnk's investigations I think it's pretty clear this i

[2021-09-24 19:56] #8218 closed

[2021-09-24 20:21] #8221 closed

[2021-09-24 20:55] andrewpbrett opened #8234 "Update Stimulus to 3.0.0"
### What we should change and why (this is tech debt)

Broken build after https://github.com/openfoodfoundation/openfoodnetwork/pull/8225

### Context

### Impact and timeline

[2021-09-25 12:20] shen-sat commented on #6045
Hi @filipefurtad0 thank you for the clarifications! 🙏

That all makes sense at a first glance - I'll get on with writing the tests and I'll let you know if I run into more questions :)

[2021-09-27 00:31] mkllnk opened #8238 "[Flaky] spec/features/admin/reports_spec.rb"
### What we should change and why (this is tech debt)

The following spec fails if run on its own:
[code]
[code]

This is a phantom guest. The state name is not defined in the spec and so it depends on previous specs.

### Context

I'm trying to simplify the Github Actions config but I keep encountering spec failures like this one.

[2021-09-27 08:13] lin-d-hop commented on #8219
Note that this can also happen when shipping methods are set to have specific shipping categories and items in the order do not align with the categories (eg a shipping method that does not accept refrigerated produce but the order contains refrigerated items.)

Just posting in case someone searches for this in the future.

[2021-09-27 10:31] filipefurtad0 commented on #8219
I've investigated this a bit further: So far I see three potential scenarios in which shipping methods can be hidden from checkout. I had another look to see how each scenario is impacted by different payment methods:

1) non-matching shipping categories

I've tried to reproduce that scenario @lin-d-hop , but could not hide shipping methods from the checkout screen in this way. Is this expected? I

[2021-09-27 15:48] filipefurtad0 commented on #8133
Closing, as discussed [here](https://github.com/openfoodfoundation/ofn-install/pull/780#issuecomment-927994160) :+1:

[2021-09-27 15:48] #8133 closed

[2021-09-27 15:53] filipefurtad0 opened #8249 "Snail when editing non-numeric characters on shipping method fees"
## Description

In all things similar to #6942, but concerning shipping method fees.

Updating a shipping method can cause a server error when entering invalid values.

## Expected Behavior

Invalid values should not be allowed or there should be a proper error message.

## Actual Behaviour

It shows the snail.

## Steps to Reproduce

1. Edit a shipping method.
2. Select the "per item" calculator.

[2021-09-27 16:02] filipefurtad0 opened #8250 "Snail when editing non-numeric characters on enterprise fees"
## Description

In all things similar to #6942 and #8249, but concerning enterprise fees.

Updating an enterprise fee can cause a server error when entering invalid values.

## Expected Behavior

Invalid values should not be allowed or there should be a proper error message.

## Actual Behaviour

It shows the snail.

## Steps to Reproduce

1. Edit an enterprise fee.
2. Select the "per item" calcul

[2021-09-27 17:30] filipefurtad0 commented on #8219
I think we just had another occurrence here: https://openfoodnetwork.slack.com/archives/CEF14NU3V/p1632759072058900 (checkout with cash).

[2021-09-28 13:30] jaycmb commented on #7409
Currently the flow is defined like this:
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/39744592/135095732-1d83b682-13a6-4156-94b7-47a7f5c1e447.png">

I couldn´t find the updates in the document, or is

meant yet to come :)?

Also, do you have in mind that we want to separate /checkout from /login?

[2021-09-28 15:03] RachL opened #8256 "Impossible to select outgoing products in OC"
## Description

FR prod hub 2588 cannot select products in OC step 3

Inventory is not used.
Permissions with producers are set.
No fancy settings.
No advanced OC settings.

OC : https://coopcircuits.fr/admin/order_cycles/9147/outgoing

## Expected Behavior
To be able to select product in outgoing section.

## Actual Behaviour
Variants can't be selected

## Steps to Reproduce

We don't know yet. W

[2021-09-28 15:04] RachL commented on #8256
It looks very similar to this discussion : https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1632710958100000

[2021-09-28 16:09] filipefurtad0 commented on #8256
I'm not sure if related, but is the displayed account taking all the roles in this case: supplier, OC coordinator and distributor?

I've found it is necessary for the `supplier` (below: Cranberry Farm) to grant permission to `OC coordinator` (below: Curry Hub) **and** to the `distributor` (below: Wasabi Hub) as well, to add to OC:

![Peek 2021-09-28 17-04](https://user-images.githubusercontent.com

[2021-09-28 16:18] andrewpbrett opened #8257 "Release v4.1.3"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/2949
- [x] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2021-09-28 16:38] RachL commented on #8256
Thanks @filipefurtad0 ! Maybe some things to pursue for the slack conversation. In FR's case the shop is the coordinator and all permissions are set between the shop and the producers in both way.

[2021-09-29 00:23] #6942 closed

[2021-09-29 08:33] lin-d-hop commented on #8256
I wonder if this is also related to #8202
I thought that was a performance issue due to v large OC but they tried removing products and it didn't help.

[2021-09-29 08:34] lin-d-hop commented on #8202
Update - the user tried to remove products from the OC but this didn't help.
Might be related to #8256

[2021-09-29 13:35] Matt-Yorkley commented on #8202
Looking at it now. There's only one enterprise there now (?), but it seems to be loading. It's just taking a really long time. It doesn't seem to be the same issue as #8256.

[2021-09-29 13:46] Matt-Yorkley commented on #8256
I think this one is caused by a weird Javascript error:
![Screenshot from 2021-09-29 14-37-40](https://user-images.githubusercontent.com/9029026/135279839-73a17d82-2358-4f60-82e1-afc625d76866.png)

Looks like something in there is `null` / `undefined` in an unexpected way. I think it's somewhere around the `visibleVariants` Angular filter, but it's hard to say.

[2021-09-29 13:54] filipefurtad0 commented on #8257
Good to go :+1:
https://docs.google.com/document/d/1IHQqdK5BqmL-B7YnK1g9BoEhgu228gBjraa6e-M3xqQ/edit

[2021-09-29 14:42] filipefurtad0 commented on #8219
Additional data, from the feedback from CA [here](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1632923763105700?thread_ts=1631824275.068900&cid=CG7NJ966B):

Different card types generate slightly different outcomes (card x-3184, card x-3155 described above):

- x-4242 - valid `no 3D-auth required` -> checkout fails for the customer, payments go through `on Stripe and OFN`:

![image](https

[2021-09-29 14:46] filipefurtad0 commented on #8224
Hey @andrewpbrett,
I think this could be the root cause - shops with all shipping methods set to backoffice only, https://github.com/openfoodfoundation/openfoodnetwork/issues/8219.

[2021-09-29 16:42] Matt-Yorkley commented on #8256
Hmmm okay, so it looks like the Coordinator of the OC actually doesn't have sufficient permissions to add those products to an outgoing exchange, which is why they're showing as zero / empty... :thinking:

[2021-09-29 18:06] #8257 closed

[2021-09-29 18:35] RachL commented on #8256
Hmmm but in that case the coordinator is the distributor... What can we do to add the correct permissions? Delete the current ones and recreate them?

[2021-09-30 02:02] mkllnk commented on #5937
Over a year later, still flaky:
[code]
https://github.com/openfoodfoundation/openfoodnetwork/pull/8261/checks?check_run_id=3749850402

[2021-09-30 10:18] Matt-Yorkley commented on #8256
Aha... the permissions _are_ all set, but it turns out the `prefers_product_selection_from_inventory_only?` was actually not set. Looks like there's a bug which means the setting isn't being saved correctly. Clicking that option and saving it fixes the OC.

![Screenshot from 2021-09-30 11-13-32](https://user-images.githubusercontent.com/9029026/135437440-68122571-e748-4f94-9d3a-294e987269a8.png)

[2021-09-30 11:35] filipefurtad0 commented on #8256
Great catch @Matt-Yorkley,
I've checked this in staging now and indeed, it seems "older" enterprises have this value set in the DB, but this is never displayed on the UI (as shown on your pic).

More recent enterprises do not have this preference set, neither in the DB nor in the UI. Setting it saves the value in the DB, but leaves the UI with no option selected.

[2021-09-30 12:14] tschumilas commented on #8256
Ah -  this explains something!   I've been helping a few enterprises with issues lately and I always start by checking all their profile settings -  and I noticed this wasn't checked.   I thought it odd....   Good detective work.  (Its why I need to be more on top of reading git issues.....)

[2021-09-30 20:00] achauve commented on #3976
@RachL what would be the expected behavior? (not what has been merged via the linked PR I suppose?)

[2021-10-01 07:36] adele-ofn commented on #8256
Confirming that we're also having this issue in AUS, and that it has impacted an enterprise's ability to see products in "outgoing products". See screenshots of me trying to update the inventory settings.
<img width="1416" alt="1" src="https://user-images.githubusercontent.com/89006237/135582896-9189e102-ac96-46ad-a034-2b8f21cf431b.png">
<img width="1437" alt="2" src="https://user-images.githubuse

[2021-10-01 07:41] achauve commented on #8161
Starting working on it

[2021-10-01 07:45] RachL commented on #3976
@achauve the link PR fixes the bug when adding products. This issue is here to fix the case of image editing. So actually you are safe to just apply the same solution than the linked PR :+1:

See this comment for some aditionnal info: https://github.com/openfoodfoundation/openfoodnetwork/pull/3923#issuecomment-505534395

[2021-10-01 11:29] filipefurtad0 opened #8268 "Flaky spec: spec/features/consumer/shopping/checkout_spec.rb:147"
### What we should change and why (this is tech debt)

This spec passes locally but inconsistently on our build:

[code]

[code]

### Context

Came up while running the build (passes locally).

### Impact and timeline

Make the build reliable.

[2021-10-01 13:21] Cecilia-Hn commented on #8218
Hi, I jus had these info from the customer, maybe it can helps @mkllnk @filipefurtad0 @andrewpbrett  :

- I did a first order for 58 euros : few error messages appeared while I was trying to order (at least 5 times) so, then I gave up.
- The day after, I completed my first 58 euros order for 106 euros, then I did two or maximum 3 tried and then, I gave up.
- The day after the day after I realised

[2021-10-01 14:51] Cecilia-Hn opened #8269 "Enterprise Fees not registrated"
## Description
When a user wants to add Enterprise fees to his shop, he fill all the fields from Enterprise fees page and click to Update, then, he gots this message : "Enterprise can't be blank"

The shop is filled by products,  he gots permissions from producer, he gots shipping methods and payment methods : he gots an opened OC
To reproduce the error message > Entreprise > Settings > Enterprise

[2021-10-01 15:08] tschumilas commented on #8256
I see this now too -  at least with one enterprise.  Its an old enterprise - not a new one.  I check 'new products can be put into my shopfront'.  The item is selected.  I leave the page.  I return to the page -  and the selection is not there.   It seems the selection is not 'sticking'.

[2021-10-01 15:11] tschumilas commented on #8256
Actually -  it seems to be the case on many (all?) enterprises.  I just checked 10 enterprises that I work with a lot -  and the setting does not 'stick' for any of them.   I know these previously were working.....

[2021-10-04 00:26] mkllnk commented on #8268
Here's another one:
[code]
https://github.com/openfoodfoundation/openfoodnetwork/pull/8203/checks?check_run_id=3767205006

[2021-10-04 07:10] achauve commented on #3976
Starting to work on this one

[2021-10-04 11:55] sinansonmez commented on #8223
Dear @filipefurtad0 and @RachL, I can search the codebase and can remove the ask checkbox. Could you please assign this to me?

[2021-10-04 13:19] jibees commented on #7409
I'v double checked the URLs, and added it to the document :

Split checkout URLs |  
-- | --
Your details | `/checkout/details`
Payment method | `/checkout/payment`
Order summary | `/checkout/summary`

You can use it to make some modification in the current flow definition: for example, replace "path contains `payment-method`" by "path contains `checkout/payment`" (NB: without the first `/`)

[2021-10-04 13:20] jibees commented on #7409
Re

Not sure to understand what does this means, and implication on URL tracking.

[2021-10-04 15:03] jibees commented on #8214
Notes:

1. Step `/checkout/details`
  - "Next - Payment method" button has the `button` class
  - "Back to Edit basket" button has the `button` class
2. Step `/checkout/payment`
  - "Next - Order summary"  button has the `button` class
  - "Back to Your details"  button has the `button` class
3. Step `/checkout/summary`
  - "Complete order"  button has the `button` class
  - "Back to Payment metho

[2021-10-05 03:17] mkllnk opened #8281 "[Flaky] spec/features/consumer/shopping/checkout_auth_spec.rb"
### What we should change and why (this is tech debt)

[code]
### Context

https://github.com/openfoodfoundation/openfoodnetwork/pull/8262/checks?check_run_id=3795960891

### Impact and timeline

[2021-10-05 21:34] #8238 closed

[2021-10-05 21:44] #8223 closed

[2021-10-05 21:44] #8161 closed

[2021-10-05 22:33] #8054 closed

[2021-10-06 00:19] #7844 closed

[2021-10-06 07:47] jibees commented on #8214
@jaycmb Reading your doc, I don't understand what are those buttons:

 - Order summary | Edit basket
 - Order summary | Edit your details
 - Order summary | Edit payment method

The last yellow things are alerts, I still don't know how to handle it in Matomo.

[2021-10-06 08:06] jibees commented on #7409
For the modal opening, I think the right way to track this, is to push an event via javascript

https://matomo.org/docs/event-tracking/#how-to-set-up-matomo-event-tracking-with-javascript
https://developer.matomo.org/guides/tracking-javascript-guide#manually-trigger-events

[2021-10-06 08:49] jibees commented on #7409
@jaycmb I implemented a code that push an event each time signup is submitted.

**Event Category** : Signup
**Event Action** : Submit signup
**Event Name** : the current url
**Event Value** : N/A

[2021-10-06 09:15] jibees opened #8292 "[Flaky] spec/features/consumer/authentication_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context
https://github.com/openfoodfoundation/openfoodnetwork/pull/8289/checks?check_run_id=3812801489

### Impact and timeline

[2021-10-06 09:37] RachL opened #8477 "Add a confirmation before sending a cancellation email to a customer"
## Description
**- As a:** enterprise user or super admin
**- On page:** `/admin/orders/RXXXX/edit` OR `/admin/orders/bulk_management`
**- I want to be able to do:** If I delete the last item and a modal is shown to tell me the order will be canceled and I say yes to it, a second modal should appear and ask me if I want the customer to have a notification email.

Context : In CA in particular, it

[2021-10-06 10:11] jaycmb commented on #8214
Order summary | Edit basket
    Order summary | Edit your details
    Order summary | Edit payment method

are not buttons, but the **links** (see above in the issue description **all clickable elements = buttons, links** ;))
<img width="503" alt="image" src="https://user-images.githubusercontent.com/39744592/136183045-12814938-4599-4586-a6b6-7de1ef551b11.png">

It´s about tracking if people are g

[2021-10-06 10:19] jaycmb commented on #8214
@jibees regarding alerts:

We do track alerts (both error and success) already in Matomo for other pages.
It is configured like this:
<img width="824" alt="image" src="https://user-images.githubusercontent.com/39744592/136184686-c57f8dbf-d478-46a3-a64f-5ae48cbe3c57.png">

Can we go the same way using CSS selectors for the new checkout pages? Is this how you implemented errors?

This is what is rep

[2021-10-06 10:38] jaycmb commented on #7409
So this will only track the signup then, not a login for registered users, right?

Can we still track the funnel separate between logged in and not logged in users, as it is described in the AC, if we use an event and not a different URL (/login)?

<img width="498" alt="image" src="https://user-images.githubusercontent.com/39744592/136187504-ef07029c-d64d-40ac-a07f-78d1c4d6e996.png">

[2021-10-06 13:11] filipefurtad0 opened #8293 "[Flaky] Epic grouping all flaky specs"
This epic groups all **flaky specs**.

**Some causes** for flaky specs:

1) Sometimes the **order of specs** matters for flakiness, as pointed out [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8267#issuecomment-934936921). Here's a list of reasons why this is so:

- The database cleaner doesn't touch countries and states. If they get modified, that persists.
- Some queries like

[2021-10-06 16:21] Matt-Yorkley commented on #6531
Yes :+1:

[2021-10-07 06:44] sigmundpetersen commented on #5335
OK no worries @meronokbay . Thank you for your contributions so far, hope to see you back another time 💪

[2021-10-07 07:16] Cecilia-Hn opened #8296 "Impossible to complete some orders paid through Stripe"
## Description

Two shops 2210 and 2120 can't validate orders when payments has been failed

For exemple, the R713605770 order has two payment, one successful payment and one failed payment

<img width="622" alt="Capture d’écran 2021-10-06 à 16 10 03" src="https://user-images.githubusercontent.com/67476305/136332996-0f8463d9-328f-4b1f-abfe-52883235aa9e.png">

(we do not understand why there were t

[2021-10-07 10:54] Cecilia-Hn commented on #8296
Here is the summary
<img width="692" alt="Capture d’écran 2021-10-07 à 12 53 24" src="https://user-images.githubusercontent.com/67476305/136370878-e11f33b0-681a-4fea-a4e1-17754f6bed02.png">

[2021-10-07 13:02] #6243 closed

[2021-10-07 14:59] #8284 closed

[2021-10-07 18:00] Matt-Yorkley opened #8307 "Release v4.1.4"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release](https://github.com/openfoodfoundation/openfoodnetwork/releases)
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3045
- [x] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and

[2021-10-08 07:59] jibees commented on #8214
I navigated through the checkout process, and I can confirm that this is very variable, and there is (more or less) no rules
<img width="1240" alt="Capture d’écran 2021-10-08 à 09 51 22" src="https://user-images.githubusercontent.com/296452/136519479-5af82f90-7413-40ee-b377-5a9acb42d24f.png">
<img width="232" alt="Capture d’écran 2021-10-08 à 09 49 38" src="https://user-images.githubuserconten

[2021-10-11 06:18] #8281 closed

[2021-10-11 08:35] adele-ofn opened #8320 ""Notify producers" is ineffective for orders which have been cancelled then resumed"
## Description
This issue relates to orders which have been cancelled, then resumed, in a hub's backoffice. When the "notify producers" button is clicked in the order cycle, emails are not sent to producers of the resumed orders.

We were alerted to the issue by a hub, who had an order for a customer which was mistakenly cancelled, then resumed. They expected all orders (including this resumed ord

[2021-10-11 12:13] filipefurtad0 opened #8324 ""I don't care about cookies" extension prevents logging into OFN"
## Description

Reported on [this Slack thread](https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1633951102044600).

If no cookies were previously set the cookie banner will pop-up, requiring user consent. However, if the "I don't care about cookies" extension is installed and active on the browser the homepage will be inaccessible and the cookie banner will not be displayed, which prevents a

[2021-10-12 03:27] #5937 closed

[2021-10-12 04:01] mkllnk opened #8327 "[Flaky] spec/system/consumer/shopping/checkout_auth_spec.rb"
### What we should change and why (this is tech debt)

This spec is currently failing frequently in master.

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/3866070538?check_suite_focus=true

### Impact and timeline

[2021-10-12 04:03] mkllnk opened #8328 "[Flaky] spec/system/consumer/shopping/checkout_spec.rb"
### What we should change and why (this is tech debt)

These specs are currently failing frequently in master.

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/3866070538?check_suite_focus=true

### Impact and timeline

[2021-10-12 08:40] Cecilia-Hn commented on #8296
Hi,
Thanks @filipefurtad0

I've checked the shipping methods for both hubs (2120 and 2210), the display is "both checkout and back office"

We've got new cases

<img width="227" alt="Capture d’écran 2021-10-12 à 10 37 02" src="https://user-images.githubusercontent.com/67476305/136922021-1ed37606-6830-4dcf-9bf1-3baa30ba5f2d.png">

And for exemple, for the R460556583, Stripe seems to refuse the fi

[2021-10-12 11:29] filipefurtad0 commented on #8296
Great, thanks for that info @Cecilia-Hn  - that rules out #8219.

So, I think the reason all these orders have a shipping address in Malaga is because that specific hub / distributor / shop :
- has its address in Malaga / Spain
- has only one shipping method set: it is a `pick-up shipping method`, so this explains why all orders have this `shipping-address`
(pickup methods automatically set up the

[2021-10-12 12:07] jibees opened #8333 "[Flaky] spec/features/consumer/registration_spec.rb :29 :154"
### What we should change and why (this is tech debt)

[code]

### Context
https://github.com/openfoodfoundation/openfoodnetwork/pull/8289/checks?check_run_id=3869016196

[2021-10-12 12:18] jibees opened #8335 "[Flaky] spec/features/consumer/shopping/embedded_shopfronts_spec.rb:54"
### What we should change and why (this is tech debt)
[code]

### Context
https://github.com/openfoodfoundation/openfoodnetwork/pull/8289/checks?check_run_id=3869016196

[2021-10-12 12:22] jibees opened #8337 "[Flaky] spec/features/consumer/shopping/orders_spec.rb:77"
### What we should change and why (this is tech debt)
[code]

### Context
https://github.com/openfoodfoundation/openfoodnetwork/pull/8289/checks?check_run_id=3869016196

[2021-10-12 13:27] #8337 closed, assigned to jibees

[2021-10-14 10:36] filipefurtad0 opened #8356 "JS errors on system specs (red build)"
### What we should change and why (this is tech debt)

The build is broken, due to JS errors on system specs:

[code]

### Context

Since PR #8310 we can check for JS errors on system specs.

### Impact and timeline

[2021-10-14 15:16] jibees opened #8358 "[API] Add tax_category_id to a line_item of an order"
## Description

**- As a:** API User
**- On url:** `api/v0/orders/[ORDER_ID].json`
**- I want to be able to do:** see the `tax_category_id` of each line_item

## Acceptance Criteria & Tests

1. Request the API: `api/v0/orders/[ORDER_ID].json` with a valid token
2. See that each line_item has its own `tax_category_id`

[2021-10-15 03:45] mkllnk commented on #8356
It's an order dependent fail:
[code]

[2021-10-15 08:36] filipefurtad0 commented on #8356
Thank you for sharing that knowledge - that's very appreciated :heart:

[2021-10-15 08:39] #8356 closed, assigned to mkllnk

[2021-10-15 12:45] filipefurtad0 opened #8364 "Paypal Checkout error 400"
## Description

To be investigated:

There is a log for an error in FR which seems to relate to checkout, Bugsnag:

[code]

https://app.bugsnag.com/open-food-france/coopcircuits/errors/6169742bfc29c10008bb11ea?event_id=6169742b008585d8d1890000&i=sk&m=nw

## Expected Behavior

?

## Actual Behaviour

?

## Steps to Reproduce

?

1.
2.
3.
4.

## Animated Gif/Screenshot

## Workaround

## Severity

#

[2021-10-18 10:00] #8333 closed, assigned to jibees

[2021-10-18 10:48] filipefurtad0 commented on #2513
Thanks for raising this @sigmundpetersen and @achauve . Indeed, there have been quite some changes ever since this issue was opened.

Currently, this is possible to update the shipping fee, but it is necessary to select `Yes` on "Associated adjustment closed":

![Peek 2021-10-18 11-44](https://user-images.githubusercontent.com/49817236/137716742-d17dae6a-82ce-4d58-bea4-e3df083b183f.gif)

The above

[2021-10-18 11:42] filipefurtad0 commented on #2513
Thanks for pointing that out. So I guess we're observing the expected behavior:

Agree, the inconsistency is probably related to translations.

The use-case is then, the user wishes to change the shipping method of the order, but keep the shipping fee. This was confusing to me, because the amount of the new fee is still displayed, right next to the previous one - but the user guide clarifies it :+

[2021-10-18 13:44] filipefurtad0 opened #8378 "[master, iOS/iPhone/Safari] not yet in PROD - Can't toggle side menu with current master"
## Description

Currently on master branch, not yet in production.

It seems impossible to toggle the side-bar on iOS/iPhone/Safari. It works with Chrome and Firefox.

## Expected Behavior

It should be possible to toggle the side-bar on iOS/iPhone on Safari browser.

## Actual Behaviour

It is not possible to toggle the side-bar iOS/iPhone on Safari  browser.

## Steps to Reproduce

On a iOS/iPho

[2021-10-19 03:12] #8176 closed

[2021-10-19 11:12] filipefurtad0 commented on #8378
Closing via #8373.

[2021-10-19 11:12] #8378 closed, assigned to jibees

[2021-10-19 12:20] #8327 closed, assigned to filipefurtad0

[2021-10-20 07:59] adele-ofn opened #8382 "Allowing $0 adjustments to appear on an order's shipping notification, invoice and order confirmation emails"
## What is the problem we are solving
Unable to communicate specific information to customers in the shipping, invoice and order confirmation emails (automated by the system) - e.g. the shipment tracking number. It is suggested that allowing $0 adjustments to appear on communications sent to customers could provide a solution to this problem.

When an adjustment is made to an order for $0, this ad

[2021-10-20 12:11] filipefurtad0 commented on #8328
I think this might relate to the helper:
`spec/support/request/checkout_request_helper.rb`

[2021-10-20 15:22] filipefurtad0 opened #8385 "Error message when saving product changes"
## Description

As [reported here](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1634712165187700) - When editing products on the `/products` page users are getting the message:
`Saving failed. Save failed due to invalid data:undefined`

Changes seem to be saved anyway, so this is confusing.

## Expected Behavior

No error message should be seen.

## Actual Behaviour

`Saving failed. Save

[2021-10-20 20:58] sinansonmez commented on #7937
Hello @mkllnk I can take this one to work on

[2021-10-20 23:09] adele-ofn commented on #8385
Hi Filipe, thanks for logging this bug. Confirming that I've also replicated the bug in Chrome (MacOS Sierra 10.12.6):
<img width="1439" alt="Screen Shot 2021-10-21 at 9 55 45 am" src="https://user-images.githubusercontent.com/89006237/138184678-69842e2f-e3ff-480e-9fb6-6e8cfd1162fd.png">
<img width="1436" alt="Screen Shot 2021-10-21 at 9 56 07 am" src="https://user-images.githubusercontent.com/890

[2021-10-21 07:13] #8328 closed

[2021-10-21 13:00] #8358 closed, assigned to jibees

[2021-10-22 02:45] georgethoppilshopify commented on #3309
@RachL @lin-d-hop is anyone taking look at this issue? If not, I can try and take a look at it

[2021-10-25 11:18] jibees opened #8401 "Encoding issue for opengraph title of a shop"
## Description
As seen here: https://www.opengraph.xyz/url/https%3A%2F%2Fcoopcircuits.fr%2Ftout-o-pre%2Fshop/, there is encoding issue with the title of a shop. This should be `Tout Ô'pré` and not `Tout Ô&#39;pré`:
<img width="547" alt="Capture d’écran 2021-10-25 à 13 17 23" src="https://user-images.githubusercontent.com/296452/138685958-e14b6c6c-efa9-4f2c-a52a-5faffa1f7688.png">

This is due to

[2021-10-26 05:40] #8307 closed, assigned to jibees, mkllnk, RachL, Matt-Yorkley

[2021-10-26 09:10] filipefurtad0 opened #8414 "Image upload broken in production servers using AWS"
## Description

Uploading images is triggering Bugsnag on all servers which use AWS, ex.:

https://app.bugsnag.com/yaycode/openfoodnetwork/errors/617797a0fa908e0007b86e89?event_id=617797a00087e31c61210000&i=sk&m=nw

## Expected Behavior

Image upload should work.

## Actual Behaviour

Image upload is broken.

## Steps to Reproduce

1. Create or edit a product.
2. Try to upload an image
3. See the

[2021-10-26 12:10] #8414 closed, assigned to Matt-Yorkley

[2021-10-28 08:04] kcc0 opened #8421 "docker/build fails on M1 Apple silicon - ubuntu bionic-security/main arm64 package Not Found"
## Description
I'm trying to set up a forked repo on my Apple M1 Macbook Pro (2020) and running docker/build throws this issue:
[code]

## Expected Behavior
Docker should create a container to run the image on.

## Actual Behaviour
Docker stops at # 11 and exits without creating a container.

## Steps to Reproduce
Repo: https://github.com/yomi-digital/openfoodnetwork

1. `git clone git@github.com:

[2021-10-28 08:38] filipefurtad0 opened #8422 "Investigate Github for deployments"
### What we should change and why (this is tech debt)

We should investigate replacing Semaphore with Github for deployments.

Some documentation:
https://docs.github.com/en/actions/deployment/about-deployments/deploying-with-github-actions

### Context

This came [up here](https://openfoodnetwork.slack.com/archives/C02TZ6X00/p1635337061013100?thread_ts=1635332407.012200&cid=C02TZ6X00), but I beli

[2021-10-28 09:00] filipefurtad0 opened #8423 "Investigate/implement continuous deployments on a Staging sever"
### What we should change and why (this is tech debt)

This is potentially a follow-up from #8422 . ~~It could also be implemented from Semaphore, which is currently being used for deployments.~~

Implementing continuous deployment on a staging server could be a great first assessment on how it would work for us production.

### Context

Follow-up from #8422. Came up [here](https://openfoodnetwork

[2021-10-28 09:10] filipefurtad0 opened #8426 "Investigate automatic server provisioning on every merge in ofn-install"
### What we should change and why (this is tech debt)

Each time there are merges on ofn-install we need to manually provision all servers. Automation would prevent this. This could first be implemented on the staging level and, then, eventually on production severs (if needed/desired).

### Context

Possible follow-up from #8422. Came up [here](https://openfoodnetwork.slack.com/archives/C02TZ6X00

[2021-10-28 09:11] filipefurtad0 opened #8427 "Github Actions and Continuous Deployment"
This epic gathers some issues around Github Actions and CD.

### Issues

- [ ] #8423
- [ ] #8426

[2021-10-28 16:11] filipefurtad0 opened #8429 "Enteprise list not loaded if superadmin profile manages 1 enterprise"
## Description

Reported here.

If an enterprise manages 1 enterprise, then the enterprise list will not be displayed in /admin. Also, an enterprise will be pre-selected, which does not to the enterprise the  profile manages.

It looks like this actually:

superadmin manages 0 enterprises -> enterprise list is displayed
superadmin manages 1 enterprise -> enterprise list is not displayed (last pic

[2021-10-29 13:13] Matt-Yorkley opened #8433 "Release v4.1.6"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3076
- [ ] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2021-11-01 20:24] drummer83 opened #8441 "Cart deleted without warning when choosing different hub on producer's page"
## Description

The following behaviour was observed and discussed in this [slack conversation](https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1611105113010100):
**Scenario 1**
- Put items into your cart
- On the map, select a different hub
- Click on the hub below "change shop to ..."
- A warning pops up that you will lose your items in your cart

This is considered to be a feature.

**Sce

[2021-11-02 08:28] drummer83 opened #8442 "Flash error and flash notice are on top of each other when displayed at the same time"
## Description
If flash notice (e.g.: "The hub xyz is listed in an active order cycle, but does not have valid shipping and payment methods.") is active in super admin and a flash error (e.g.: "Please select a file first" when creating a Terms of Service file) is activated at the same time, both messages are shown on top of each other and the one in the background (flash error in this case) can't

[2021-11-02 08:50] drummer83 opened #8443 "Missing translation: Passwords not matching or too short"
## Description
As discussed in PR [#7693](https://github.com/openfoodfoundation/openfoodnetwork/pull/7693#issuecomment-865297731) the strings for 'password and password confirmation not matching' and for 'password too short' can't be translated into German. It seems to be translated by Rails itself and it is working for some languages (like French). It doesn't work for German though.

There are tw

[2021-11-02 12:35] #8433 closed

[2021-11-02 12:41] drummer83 opened #8445 "Missing translation on admin/configuration/TermsOfService"
## Description
On page admin/terms_of_service_files the strings "Attachment" and "Create Terms of Service file" cannot be translated.

## Expected Behavior
All strings can be translated.

## Actual Behaviour
The mentioned strings cannot be translated.

## Steps to Reproduce
1. Select a language other than English
2. Go to page admin - configuration - Terms of Service
3. Look at the strings
4. Sear

[2021-11-03 12:46] Cecilia-Hn commented on #8296
Hi @filipefurtad0 and @RachL
We've got 2 new cases for hub 2468

These two following payments are captured in Stripe but in red statu in OFN

R862447072
<img width="1369" alt="Capture d’écran 2021-11-03 à 13 42 32" src="https://user-images.githubusercontent.com/67476305/140062380-4aff03f3-357b-4a85-aa61-39841b600459.png">
<img width="1096" alt="Capture d’écran 2021-11-03 à 13 42 44" src="https

[2021-11-03 15:10] Cecilia-Hn commented on #8224
Hi @filipefurtad0 and @RachL
We've got 2 new cases for hub 2468

These two following payments are captured in Stripe but in red statu in OFN

R862447072
<img width="1369" alt="Capture d’écran 2021-11-03 à 13 42 32" src="https://user-images.githubusercontent.com/67476305/140062380-4aff03f3-357b-4a85-aa61-39841b600459.png">

<img width="1096" alt="Capture d’écran 2021-11-03 à 13 42 44" src="http

[2021-11-03 15:27] RachL commented on #8224
@Matt-Yorkley or @mkllnk any chance one of you has room to check these out?

[2021-11-03 20:25] filipefurtad0 commented on #8224
Yes, hub 2468 its still has its address set for Spain (`id=175`). Also, it seems to be the same distributor (`id=2210`) as in issue #8296. But now the order has both ship and bill address for France/Finisterre (`state_id=548`, `country_id=13`), but this seems not to prevent this bug...

Bugsnag:
https://app.bugsnag.com/open-food-france/coopcircuits/errors/60f11496903af700075b686d?filters[search]=a

[2021-11-04 12:20] filipefurtad0 commented on #6859
I've missed this comment JB - I've found the scroll bar now  :see_no_evil:
Closing.

[2021-11-04 12:20] #6859 closed

[2021-11-04 15:29] filipefurtad0 opened #8449 "[flaky spec] /system/admin/order_spec.rb:192"
### What we should change and why (this is tech debt)

`rspec ./spec/system/admin/order_spec.rb:192 # `

[code]

     # ./spec/system/admin/order_spec.rb:228:in `block (3 levels) in <top (required)>'
     # ./spec/system/support/cuprite_setup.rb:38:in `block (2 levels) in <top (required)>'

### Context

https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/1421815933/attempts/1

### I

[2021-11-05 00:04] #7706 closed

[2021-11-05 00:05] #7409 closed

[2021-11-05 09:56] kcc0 commented on #8421
Thank you for all your help @Matt-Yorkley !
I'm currently using my older 2014 retina Macbook Pro to get things done but when I get the time I'll either try to figure out a solution to this using Docker or update the Readme to set this up using the traditional Rails setup.

Will keep you posted but leaving this open for the next one week at least.

[2021-11-05 10:28] Matt-Yorkley opened #8455 "Release v4.1.7"
Steps:

- [x] Include translations: `tx pull --force`
- [x] [Draft new release]
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3099
- [ ] Update translations if necessary
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2021-11-05 11:04] drummer83 opened #8457 "Missing translation: "or" between buttons"
## Description
On several pages there is "or" displayed between two buttons. The text cannot be translated in Transifex. So it should be added to Transifex or it could be removed completely, because it is not very common to have "or" between two buttons.

## Expected Behavior
The text "or" should be translated or removed.

## Actual Behaviour
The text "or" is present on some pages and can't be tra

[2021-11-05 11:27] RachL commented on #8457
@drummer83 Thanks Konrad for all those missing translation issues!

May I ask why you added the feedback label?

[2021-11-05 11:31] drummer83 opened #8458 "Missing translation: table headers in product import validation table"
## Description
During product import one of the last steps is to display two tables with all the products which were found in the csv-file and all the products which will be created. The headers of those tables are not translated.

## Expected Behavior
The table headers should be translated.

## Actual Behaviour
The table headers are not translated.

## Steps to Reproduce
0. Prepare a csv-file for

[2021-11-05 11:35] drummer83 commented on #8457
@RachL Because it needs a decision if "or" should be translated or removed.
Sorry, if this is not the correct label.

[2021-11-05 11:39] RachL commented on #8457
@drummer83 best for these cases is to ping @openfoodfoundation/train-drivers-product-owners because we don't have a process to review feedback label in "all the things" :+1:  I don't have a strong opinion on this one. Maybe removing the text is a good idea.

[2021-11-05 11:56] drummer83 opened #8459 "Missing translation: "Product" in product created confirmation message"
## Description
When creating a new product, the confirmation message at the top of the screen is not fully translated. It starts with untranslated "Product xy".

## Expected Behavior
"Product" in the confirmation message should be translated.

## Actual Behaviour
"Product" in the confirmation message is not translated.

## Steps to Reproduce
1. Choose a language other than English.
2. Log in.
3. G

[2021-11-05 12:42] Matt-Yorkley commented on #8296
I'll start writing some specs around this, and see what I can find. Did you manage to replicate it in Staging @filipefurtad0 ?

- Hub's shipping address is outside of the instance's default zone
- Customer is in a different zone
- Hub only has pickup shipping methods

Is that it?

[2021-11-05 13:16] RachL commented on #5708
Hello @sinansonmez ! I hope this message finds you well. Are you stil working on this one?

[2021-11-05 13:24] sigmundpetersen commented on #5708
@RachL I think the updated status is in the connected PR.
I wonder if there's actually a product decision needed to proceed 👍

[2021-11-05 13:41] KombiCode commented on #6730
Hello. I did the one with the Close button before and now I start working on this one 😅

[2021-11-05 14:49] Matt-Yorkley commented on #8455
Waiting for https://github.com/openfoodfoundation/openfoodnetwork/issues/8451 which mitigates the "Batman" problem... :boom::bat:

[2021-11-05 15:30] sinansonmez commented on #5708
Hey, @RachL and @sigmundpetersen , I was waiting for a decision to proceed in [this PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/8197#issuecomment-934643851)

[2021-11-06 19:37] filipefurtad0 opened #8463 "Replace move_to block to test for drag-n-drop actions in Capybara"
### What we should change and why (this is tech debt)

The `move_to` block was commented out in https://github.com/openfoodfoundation/openfoodnetwork/pull/8462/commits/d646b2957390aa9086bf64665acc9537cf95c321 as this seems not to be implemented for Cuprite yet, see:
https://github.com/rubycdp/cuprite/issues/67

### Context

This came up in #8462.

### Impact and timeline

We need to keep this one

[2021-11-07 05:50] SarvarKh commented on #6558
It seems like only Twitter and Instagram links are not being validated.
1. Create (register) a new entity -> click on the `Register here` btn on the `http://localhost:3000/abc/shop#/contact`;
2. Fill all the fields as required till the 6th step of registration - Social;
3. Fill out the social form as below.
[code]

Will try to work on this.

[2021-11-07 15:45] drummer83 commented on #8038
If we ever work on this, here are some things to consider:
1. some users want sold out products (stock level zero) to be displayed in the shopfront to present their full product range. Those products should then be greyed out and could even have a label 'sold out'.
2. some users don't want products with stock level zero displayed in the shopfront at all because they use this as an easy way to sele

[2021-11-07 18:25] lauriewayne commented on #7504
Possibly related: we are seeing a similar display problem show up when the "Display as" field is empty (i.e. default/auto generated).

**In back end:**
![Screenshot 2021-11-07 9 21 27 AM](https://user-images.githubusercontent.com/37803238/140656978-c2ed699a-ae69-4e46-850f-2a0cad6de6fc.png)

**In shop:**
![image001](https://user-images.githubusercontent.com/37803238/140656945-7b49a8e4-abf1-4564-bb7

[2021-11-08 19:44] drummer83 commented on #8459
Just discovered that the same is true for creating or modifying shipping methods.
So this will probably apply to more situations than the ones already covered here.

[2021-11-09 17:17] lin-d-hop commented on #8455
Thanks friends. Ready to go!
https://docs.google.com/document/d/1y-ONKuQ0J4oO8UQm_2gYFPm0SznL7_Ng4fPeRgzFGVM/edit#

[2021-11-09 19:07] #8455 closed

[2021-11-09 19:32] lauriewayne commented on #7504
Looks like an imperial measures only issue. Moving this comment to #7072.

[2021-11-09 19:34] lauriewayne commented on #7072
When using imperial measures (lbs or oz) we are seeing a similar display problem show up when the "Display as" field is empty (i.e. default/auto generated) and the weight is 12 or 24 (does not happen when the weight is 8, 16, 15, 30, and so on, and does not happen for metric measures or items).

**In back end:**
![Screenshot 2021-11-07 9 21 27 AM](https://user-images.githubusercontent.com/37803238

[2021-11-10 21:52] tschumilas commented on #8171
Sorry -- I removed and put back the s3 label accidently.

I want to question why this isn't an s2?   Maybe someone can explain.   We prioritized adding the imperial weights and measures to the platform so that instances using these would have access to the same platform tools that instances using metric measures have.

The group buy feature was,  I had assumed,  part of this work to make the platf

[2021-11-11 00:59] adele-ofn opened #8473 "Producers are able to see all orders (not just their own) when running 'Pack by Supplier' report"
## Description
A producer contacted the Australian instance about an issue with the report they use each week to pack their orders - 'Pack by Supplier'. They filter by producer and order cycle to view and pack their own orders, but the 'Pack by Supplier' report is now displaying orders for all producers within that order cycle (not just their own). Because they have 'customer names in reports' ena

[2021-11-11 06:54] mkllnk opened #8474 "[Flaky] spec/controllers/checkout_controller_concurrency_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

This is failing on master roughly every seven builds. I got it to fail locally as well, with a different error though. Since it's testing a race condition, it means that the spec is not working properly and not setting the breakpoint correctly and that the controller is not handling the race condition well.

### Impact and

[2021-11-11 10:15] lin-d-hop commented on #8202
This seemed to be a corrupted product from product import.
Not going to track it down at this stage...

[2021-11-11 10:15] #8202 closed

[2021-11-11 11:03] filipefurtad0 commented on #8473
Probably introduced [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8145).

[2021-11-11 11:41] filipefurtad0 opened #8475 "Backoffice orders: guest customers do not receive Stripe SCA authorization emails"
## Description

For backoffice orders: the email requesting payment authorization for a Stripe SCA payment is not arriving, if the customer is not registered (guest customer).

This concerns nr. 19 in [the list ](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Emails)

This bug, together with https://github.com/openfoodfoundation/openfoodnetwork/issues/7905 prevents the customer from pr

[2021-11-11 19:55] drummer83 opened #8479 "Unusual <'TAB'> key order on login/register modal"
## Description
To login on a website, using the keyboard is required to enter your username and password. A quick way to switch between the two input fields is pressing the <'TAB'> key. On the login screen there usually is a checkbox to "remeber me" and avoid logging in on every visit of the site. This checkbox can be activated by pressing the <'TAB'> key and <'SPACE'> after entering the password.

[2021-11-12 03:08] mkllnk opened #8480 "Release v4.1.8"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2021-11-12 11:17] lin-d-hop commented on #8169
Hi @apricot12 and @filipefurtad0
Reading this issue I'm not clear on what the next steps are here? Sorry if I'm being dim.

[2021-11-15 09:06] KombiCode commented on #6730
Hello. Just a quick update on this.
I was busy with several other things last week, so just managed to work a bit on it and below is an overview of how the range date picker would like in Orders :

<img width="688" alt="Capture d’écran 2021-11-15 à 09 58 22" src="https://user-images.githubusercontent.com/54935392/141752431-b88d7478-6104-4d64-9ca3-d206e8bb60e1.png">

Hope to have more time this w

[2021-11-15 09:24] filipefurtad0 commented on #8169
Hey @lin-d-hop ,
The latest tests had revealed some regressions [(see these and following testing notes)](https://github.com/openfoodfoundation/openfoodnetwork/pull/8255#issuecomment-936560856), so I think the approach will be to split this on into two PRs, as suggested [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8255#issuecomment-966018074).

[2021-11-15 09:41] #7933 closed

[2021-11-15 10:05] #7885 closed

[2021-11-15 11:58] Matt-Yorkley commented on #8224
I think I'll close this one for now. From the issue description and the linked Slack discussions it looks like the reported problems are either a duplicate of #8296, or a duplicate of #6136, or some combination of the two.

[2021-11-15 11:58] #8224 closed

[2021-11-15 15:27] filipefurtad0 opened #8488 "Missing translation: card validations on the checkout form"
## Description

Card validation errors on the checkout form are not translated. This concerns:
- card number invalid
- card number incomplete
- card expired

## Expected Behavior

UI validation errors should appear translated.

## Actual Behaviour

UI validation errors are not translated.

## Steps to Reproduce

1. Add some items to the card
2. Proceed to **checkout**
3. Type:
- an incomplete card

[2021-11-15 15:46] Matt-Yorkley commented on #8488
So I think the issue here (and maybe with some other small Stripe bits) is that these strings are not actually in our codebase, they're coming from Stripe. I'm pretty sure it's possible to pass a locale to Stripe to tell it to use a different language, like "FR" but we'd need to skim the docs to see how to do it. Also it might be slightly different with this form (which goes through Stripe.js) and

[2021-11-15 15:53] filipefurtad0 opened #8489 "Missing translation: card decline error messages"
## Description

There are several error messages - related to respective card error codes - which are not translated. These appear as a red banner after a payment attempt.

A full list is found here:
https://stripe.com/docs/declines/codes

The full list should be implemented.

~~I'm not sure on the scope of this issue: Are these errors all implemented on OFN?~~

~~I think the most relevant could b

[2021-11-15 16:03] RachL commented on #8489
@filipefurtad0 I think we need to consider all these messages. I don't think the case of an error message mentioning PIN can happen. But maybe there are cases we don't know / typical to some banks etc. If stripe provides translation for them, let's use them?

[2021-11-15 16:08] filipefurtad0 commented on #8489
Thanks for feedback: Agree :+1:
Updated the issue.

[2021-11-15 22:47] RonellaG opened #8490 "Stripe Account Owner field will not save correctly in Payment Method"
## Description
A hub (Food Next Door, Enterprise ID 3359) had subscribers with a Stripe payment method (Payment Method ID 736) (despite me telling them to use Stripe SCA - they must have forgotten). So I tried to change the payment method to Stripe SCA as a regular admin login but the platform would not let me (see screenshot).

![Screen Shot 2021-11-15 at 6 48 50 pm](https://user-images.githubuse

[2021-11-16 01:46] apricot12 commented on #7278
So I've taken a look at this. It looks like to have multiple stripe payment methods for the same Enterprise, we'll have to move the forms for card input into a separate page upon choosing the payment method. This is because the card details form is mounted onto the `#card-element` ID. As seen here:
[code]
[Stripe JS SDK doc about element.mount](https://stripe.com/docs/js/element/the_element_contai

[2021-11-16 01:49] apricot12 commented on #7278
OH! I didnt realize that JB already made a PR for this.

[2021-11-16 02:01] RonellaG commented on #8490
I just received an email from Food Next Door saying "Jill Couch (one of our employees and a subscriber), is the only person in the order cycle which has just closed, she advised us today that the payment has come up on her bank statement as “Warrenbayne Farm, Violet Town”, instead of Food Next Door."

FYI Warrenbayne Farm is Pukawidgee.

And what they mean by only person in the order cycle is that

[2021-11-16 02:32] kirstenalarsen commented on #8490
Also S1 because we do not know how or why is happening and whether it is happening anywhere else which could cause MAJOR issues with money going to the wrong places

[2021-11-16 02:45] mkllnk commented on #8490
It looks like it's all saved correctly. I'm wondering if the old values are just cached somewhere...

[2021-11-16 02:58] mkllnk commented on #8490
Okay, I set the account owner manually and it displays correctly now. But that's just changing the owner in OFN. If that payment method got connected to Warrenbayne Farm originally, then it may still be referring to that within Stripe. I don't know. Can we test a payment?

[2021-11-16 03:03] mkllnk commented on #8490
The displayed account id id is connected to Food Next Door. So that should be correct now. :+1:

[2021-11-16 03:25] kirstenalarsen commented on #8490
So @mkllnk - this is now overridden in db (fixing immediate urgent problem), but we still don't know why or how this happened. Also, perhaps more importantly the issue of being unable to change the Stripe account seems to be persistent (still happening)

I think we could downgrade though, because usually the workaround would be to create another payment method. The problem here was all the existin

[2021-11-16 05:09] mkllnk commented on #8490
I was wondering that, too. Does it happen somewhere else? It's totally valid that the Stripe account owner is different to the enterprise using the payment method but I queried some mismatches we can sanity check as humans.
[code]
[code]

@RonellaG Is it worth checking these enterprises if their setup is correct? First column is the enterprise id, the second is the enterprise name and then follows

[2021-11-16 06:00] RonellaG commented on #8490
Will do Maikel 👍🏼

[2021-11-16 08:41] jibees commented on #7278
@apricot12
Good catch ;) You can review now my PR: #8487 🙏

[2021-11-16 11:49] #7961 closed

[2021-11-16 23:55] gjacob3000 commented on #8459
Can I be assigned to this task?

[2021-11-17 00:02] kayleewon commented on #8445
Can I take this?

[2021-11-17 00:06] startupboy commented on #8443
Hi, I'm new to open source development and I'd like to try working on this issue. Can I be assigned this issue? Thanks

[2021-11-17 00:09] prathits012 commented on #8488
Hi, As a new member to open source, I am wondering if I can take this issue as it was tagged as a good first time issue.

[2021-11-17 01:26] #8474 closed

[2021-11-17 08:26] jibees commented on #8443
@startupboy : for sure! Thanks!

[2021-11-17 08:26] jibees commented on #8445
@kayleewon : sure, thanks! 🙏

[2021-11-17 08:26] jibees commented on #8459
@gjacob3000 : sure, thanks for your time! 🙏

[2021-11-17 08:28] jibees commented on #8488
@prathits012 : sure, feel free to ask here if you have any question! Thanks. 🙏

[2021-11-17 11:52] filipefurtad0 opened #8494 "Snail when deleting a saved card"
## Description

Reported in production:

If a Stripe card is deleted on Stripe, it is then impossible to remove it from the "Saved Cards" list, on `/account#/cards`: clicking `Delete` triggers a snail.

## Expected Behavior

Users should always be able to remove cards from their Saved Cards list.

## Actual Behaviour

If a card was previously deleted in Stripe it is not possible to delete it from

[2021-11-17 12:08] filipefurtad0 commented on #8494
In staging, this seems not to blow up at all...

How was the card deleted @lin-d-hop ? Was it on Payment methods, as described above?
![image](https://user-images.githubusercontent.com/49817236/142196187-e83e2a31-119d-43ed-ac0f-f0b75704d41e.png)

As a workaround, we've agreed to remove them directly from the DB. We can do this by logging in to the server and running the following in the psql shell

[2021-11-17 12:49] filipefurtad0 commented on #8494
Ok, deleted:
![image](https://user-images.githubusercontent.com/49817236/142203413-b3a287f1-37f3-4c04-a5b0-25d0b6074a74.png)

I think we can close this after we've verified the cards are gone, with no side effects ping @lin-d-hop.

[2021-11-17 12:53] lin-d-hop commented on #8494
Thanks @filipefurtad0
It was deleted on Stripe, though not sure exactly how...
All good and closing :-)

[2021-11-17 12:53] #8494 closed

[2021-11-17 15:17] RachL opened #8495 "Editing unit names is not correctly applied on shopfront"
## Description

If you edit a unit name on a product sold by item, the shopfront does not display the unit name correctly everywhere.

## Expected Behavior

Unit name is coherent

## Actual Behaviour

Only unit names on unit price is correctly edited.

## Steps to Reproduce

1. Change the unit name of a product already sold by item
2. See how the change is applied on the shopfront

## Animated Gif

[2021-11-18 00:17] #8065 closed

[2021-11-18 00:47] RonellaG opened #8499 "Metabase for Aus has not synched since 9 Nov"
## Description
The Aus platform team now rely on Metabase to help investigate and respond to customer issues.

## Expected Behavior
When I search Metabase for orders I can find them.

## Actual Behaviour
I cannot find orders that were placed after 9 Nov 5.53pm.

When I go into Spree Orders and order the orders by 'created at' in descending order I can see that that most recent order in Metabase wa

[2021-11-18 09:22] Cecilia-Hn opened #8501 "Delivery Report record false payment information"
## Description

A Hub had an issue with Stripe because of a missing document, then Stripe connexion was non-functional for the Hub during 6 days.

During this period of time, some orders has been attempt through failed credit cart payment and then completed through payment by cheque.

Orders numbers  : R632386223, R232766237, R562241300, R766862575, R20717678

The Delivery Report from 27.9 to 29.9

[2021-11-18 09:51] lin-d-hop commented on #8501
Hi @Cecilia-Hn,

Assuming that you are talking about FR Production here (helpful to state this in the issue).

It would also be helpful if you could include some images describing the problem more clearly. Personally I'd understand this issue better if you had:
- A screenshot of one of the orders showing that the Payment Method on the order is 'Payment by Cheque'
- A screenshot of the report showi

[2021-11-18 10:51] filipefurtad0 opened #8502 "Address High Severity and Critical Security dependabot issues"
### What we should change and why (this is tech debt)

Dependabot is raising several High Severity and one Critical Security issues:
https://github.com/openfoodfoundation/openfoodnetwork/security/dependabot

### Context

This came up [here](https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p1637097892042300).

### Impact and timeline

[2021-11-18 13:17] Matt-Yorkley commented on #8502
Those are mostly just dependencies that are used by Storybook, which doesn't get loaded in staging or production.

[2021-11-18 15:20] #8320 closed

[2021-11-18 19:04] Matt-Yorkley commented on #8502
Also, if you read through the details of some of these CVE's, they're things like "if a malicious user manages to pass in some data in really obscure way, a _slightly inefficient_ Regex that's somewhere in the code could slow down the server, which might theoretically lead to a Denial Of Service situation"... which honestly is not very scary! They're also referring to packages which for example ar

[2021-11-19 13:19] #8296 closed

[2021-11-20 11:19] SarvarKh opened #8505 "Duplicated text in the "https://www.openfoodnetwork.org/software-platform/""
## Description

**Find out how we can help**'s text on _openfoodnetwork.org/software-platform_ is duplicated.

## Expected Behavior
One of duplicated **Find out how we can help**'s text shall not appear on the page.

## Actual Behaviour
**Find out how we can help**'s text on _openfoodnetwork.org/software-platform_ is duplicated.

## Steps to Reproduce
Take a look at this [URL link.](https://www.op

[2021-11-21 14:08] RachL commented on #4924
I'm closing this, let's reopen if we find the correct scenario!

[2021-11-21 14:08] #4924 closed

[2021-11-21 14:09] RachL commented on #8480
This release is ready to go! :muscle:

[2021-11-21 16:00] lin-d-hop commented on #8505
Hi @SarvarKh
Thanks for reporting this. In this Github repo we only add issues for the Rails app. Changes to this site (which is a WP site) can be requested in slack. Of course, you weren't to know this :-)

Closing and will post in slack.
Thanks!

[2021-11-21 16:00] #8505 closed

[2021-11-22 06:58] startupboy commented on #8443
Thanks! Do you have any suggestions for where to start looking? Any ideas about what might be causing this?

[2021-11-22 08:15] jibees commented on #8443
First of all, I'd try to reproduce the issue on my local setup.
Then, I'd look at this stackoverflow response : https://stackoverflow.com/a/20531038 which might give us a good clue (worth a try at least)

[2021-11-22 22:20] #7963 closed

[2021-11-23 06:27] #8480 closed

[2021-11-23 15:08] KombiCode commented on #6730
Hello. Another quick update :
I've almost finished it for orders and bulk orders management
I'm currently looking to subscriptions (which is less obvious)
Then I'll look to reports

[2021-11-25 08:39] jibees opened #8514 "Release v4.1.9"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/untagged-eb4872896c42b993d425
- [x] Notify [#instance-managers] of user-facing changes.

## Test

[2021-11-25 11:59] filipefurtad0 opened #8516 "Log-in with "Remember me" function not working"
## Description

Follow-up from #8492.

While logging in, the user has the option to check the "Remember me" option, which should store a specific cookie, and facilitate following logging in. This function is currently broken.

## Expected Behavior

Checking the "Remember me" checkbox should remember user details (by storing a cookie) and facilitate logging in.

For reference, the cookie banner dis

[2021-11-25 12:42] #8479 closed

[2021-11-25 19:09] seballot commented on #8442
Hi ! could you please assign it to me please?

[2021-11-25 19:13] seballot commented on #8441
Hi ! could you please assign it to me please?

[2021-11-25 19:15] drummer83 commented on #8442
Of course, @seballot!
Thank you very much for your time!

[2021-11-25 19:15] tschumilas commented on #8473
I've re-opened - because I don't think this is fixed ---  unless I misunderstand the issue.

If I am a hub -  and I want to run a packing list and filter for a specific producer -   I see the sales of all suppliers.  There is no possibility for me to filter.  Below is a screenshot -  as the hub, I tried to filter for only one supplier - Garden Party Flower Farm -  and all the suppliers in the orde

[2021-11-25 19:18] seballot commented on #8516
Hi ! could you please assign it to me?

[2021-11-25 19:21] drummer83 commented on #8441
Thanks again! :-)

[2021-11-25 19:38] drummer83 commented on #8516
Looking forward to your contributions! :-)

[2021-11-25 20:23] drummer83 commented on #8443
I have just realized that there is a third error which is not being translated:
If the password is left empty, there is the message "can't be blank" which also can't be translated.
![grafik](https://user-images.githubusercontent.com/1790176/143496965-274de738-8cb3-4f8b-ab2d-9a34d90d033e.png)

[2021-11-26 03:08] startupboy commented on #8443
Thanks for the reply. I opened it on localhost:3000 and the issue doesn't seem to occur with the Castellano language. Do you know how I can test the website in German/Deutsch on localhost? For me, Castellano is the only language I can switch to.

[2021-11-26 08:14] jibees commented on #8443
If you could not reproduce the issue with the Castellano language, trying with another langage is, I guess, useless.
What is strange is that it seems that I can reproduce it in Castellano under certain condition:

1. simply click on `Iniciar Session` without filling anything:
<img width="856" alt="Capture d’écran 2021-11-26 à 09 10 13" src="https://user-images.githubusercontent.com/296452/143548

[2021-11-26 08:27] drummer83 commented on #8443
@jibees
Regarding 1: I believe this is not part of this issue. The string "invalid email ..." actually is translated to German.
Regarding 2: Some languages seem to work, German doesn't. Those strings are translated by Rails (see [#7693](https://github.com/openfoodfoundation/openfoodnetwork/pull/7693#issuecomment-865297731)).
@startupboy

[2021-11-26 08:46] drummer83 commented on #8443
@startupboy
To add more languages to your local environment you need to create the file
`.env.development.local` in the root of your project
with the following line (languages are examples and can be found in the config/locales folder):
`AVAILABLE_LOCALES="en,es,de_DE,fr"`

The problem is that in my environment nothing from Rails is translated then (not even the label of the login button etc.).
Ma

[2021-11-26 08:47] jibees commented on #8443
@startupboy By the way, if you want to add Deutsch as a supported langage by the application, simply add
`AVAILABLE_LOCALES=en,de_DE` to your `.env.development.local` file at the root of the project (if doesn't exist, create it).

On the other hand, even if Deutsch is my selected language, this interface is still in english (not only the error messages):

<img width="548" alt="Capture d’écran 202

[2021-11-26 09:20] seballot commented on #8516
@filipefurtad0 I think what you describe is the expected behaviour and not a bug :)

If you click "log out", then that is expected that the cookie gets deleted
If you don't click logout and open the page the next day, you will still be loggued in. Tested on local machine and on coopcircuits.fr. Remmeber me function works like that, everywhere

Please close the ticket if you agree :)

[2021-11-26 09:51] filipefurtad0 commented on #8516
Hi @seballot, welcome!

Indeed, I was not too sure on how this feature should work. Thank you for clarifying :pray:
Closing.

[2021-11-26 09:51] #8516 closed

[2021-11-26 11:53] Cecilia-Hn opened #8524 "Order not possible from client account"
The 6255 user tried to order from his account in the 940 shop.
The user add :
+ his details
+ billing informations
+ Shipping informations
+ Payment informations (payment at the delivery)

After "Place order now" button selection, the client couldn't finalize his order cause this following error message appeared : **"Payment could not be processed, please check the details you entered"**

![image]

[2021-11-26 13:46] seballot opened #8525 "Implement new design for backoffice"
This new design has been approved and needs to be implemented

https://www.figma.com/file/UOUOI0AdaL3gRmZWacHnsO/OFN-Color-Choice?node-id=2%3A627

I will start working on it soon

This design include ability to select multiple products and do bulk actions, but this should be a dedicated feature (or maybe it's a pending PR?)

[2021-11-26 13:49] jibees commented on #8525
It's part of the Backoffice UI Uplift, which is our next big thing: https://github.com/openfoodfoundation/openfoodnetwork/issues/7198

A single PR, with _only_ the refresh of the design would be awesome! Feel free to ask for anything. 🙏

[2021-11-26 14:02] jibees commented on #8525
Recently, we wanted to introduce tailwind as a new CSS _framework_
The [PR#8134](https://github.com/openfoodfoundation/openfoodnetwork/pull/8134) is still in draft due to too many priorities. Wondering if it's not worthing to awake this PR before starting such an issue...

[2021-11-26 15:36] seballot commented on #8525
Hi @jibees, I read some of your past disucssion re Css framework. I must confess I'm a bit skeptical about using tailwind :)

I saw that rails ViewComponent have been introduced recently in OFN
Stimulus also have been introduced recently
Angular is also used in the project
coffeScript & Haml are also used. Kind of standard for Rails, but not in all cases (I never used coffee script for example)
No

[2021-11-26 15:50] jibees commented on #8525
I think you reach the point here.
Two (or already 3?) months ago, we chose to implement tailwind in the OFN, and (because of many discussions appears and the whole team wasn't exactly aligned) we decided that we must re-considered its introduction and see if it's again aligned with what we are building here at OFN.
I was a big fan of tailwind (and I'm still fan actually), but I must admit that I p

[2021-11-26 19:44] seballot commented on #8525
Thanks for clarifying this !
It's always hard to manage this kind of apps, which are quite old, have a long history, have been built my multiples people, and the stack it definitly never using the last techs :) I'm facing same situation in various project !

To come back to this ticket, maybe I can start a first work consisting of changing the colors to make it more readable (more constrast) ? It

[2021-11-28 11:11] RachL commented on #8524
I'm raising as s2 to at least understand the problem, and be able to reproduce it.

[2021-11-28 13:18] Matt-Yorkley opened #8527 "Clear old invalid payments"
### What we should change and why (this is tech debt)

There are some unused payments in the system which are no longer valid (or usable) but they should be marked as cancelled/void. We've changed the code so this doesn't happen again, but we should make a migration to clear up some of the old records in this state.

### Context

Came up in https://github.com/openfoodfoundation/openfoodnetwork/pul

[2021-11-28 13:21] lin-d-hop opened #8528 "Automatically email producers"
@Matt-Yorkley commented on [Wed Jul 12 2017](https://github.com/openfoodfoundation/wishlist/issues/143)

Another request from UK hubs; an option to make the notifications emails at the end of an order cycle send automatically when the order cycle closes, so that producers will receive them by the next morning after close.

Could be something like a checkbox in the order cycle.

Also, there isn't a

[2021-11-28 13:23] #8528 closed

[2021-11-28 14:46] seballot commented on #8529
Nice! Please assign me to this one

[2021-11-28 14:57] seballot opened #8978 "Ability to configure to receive a copy of each order confirmation"

[2021-11-28 15:08] Matt-Yorkley commented on #8529
I've been thinking about this issue over the last couple of days, i'm not sure it's a papercut though...

[2021-11-28 16:27] lin-d-hop commented on #8529
The papercuts team decided it was. The process is not perfect but I think once the group decides we continue with that decision.

You would be good in papercuts team @Matt-Yorkley ;)

[2021-11-29 04:14] mkllnk commented on #8525
@seballot What would be your preference? Use Bootstrap or build everything from scratch / update current?

[2021-11-29 07:31] seballot commented on #8525
Hi @mkllnk !

As the project is already mature, I don't think there is a point of including the whole bootstrap5 library : the OFN front end is already nicely structured (i.e every input is encapsulated in a `.field` container etc...) so it's easy to make changes, and some components have already been build (like ofn-dropdown).

I think bootstrap5 utilities could be nice to have, but I can definit

[2021-11-29 08:23] jibees commented on #8525
@seballot the wishlist is managed by the @openfoodfoundation/train-drivers-product-owners and will certainly have a look soon.

[2021-11-30 08:53] lin-d-hop opened #8534 "Subscriptions payments failing in OFN, but successful in Stripe"
## Description

Within the UK subscriptions we have a growing list of shoppers for which the payments stop working in OFN, while the payment can still be taken in Stripe.

I am not sure what the cause is, but the symptoms are:
1. A shopper's card works fine in Stripe and OFN for some time, with automatic payments taken.

2. Suddenly the payments stop being taken in OFN with no error showing. I als

[2021-11-30 09:25] filipefurtad0 commented on #8473
Thanks again for reporting @tschumilas . I'll close this issue and open a new to reflect your finding.

[2021-11-30 09:25] #8473 closed

[2021-11-30 09:38] filipefurtad0 opened #8539 "Supplier filter broken on Packing reports"
## Description

Follow-up from #8473, see:
https://github.com/openfoodfoundation/openfoodnetwork/issues/8473#issuecomment-979431767

As a hub, it is currently not possible to filter packing reports for a specific supplier.

## Expected Behavior

Supplier filter should work for packing reports.

## Actual Behaviour

Supplier filter should work for packing reports.

## Steps to Reproduce

As an OC c

[2021-11-30 11:17] filipefurtad0 commented on #8514
Good to go!!
https://docs.google.com/document/d/1bAJBd0S6iWIr3iyuIk5q1bS_rYYCzLtzmKkJ5PsPe4Q/edit#
:tada:

[2021-11-30 11:44] Matt-Yorkley commented on #8539
Ah, I'm already working on this one @jibees

[2021-11-30 11:49] sigmundpetersen commented on #8534
Hey @lin-d-hop is this the same as #7785 or is it different?
Lots of history there that could be helpful if they're the same

[2021-11-30 11:56] sigmundpetersen commented on #6230
Do we still need this placeholder? 🙂

[2021-11-30 13:30] RachL commented on #6230
Let's say no :)

[2021-11-30 13:30] #6230 closed

[2021-12-01 03:35] startupboy commented on #8443
Thanks yeh I was able to reproduce it. There are several things that are confusing me on which I could receive some insight:

1) As both of you noted, on the local machine when the language is set to Deutsch, the login, registration, forgot password buttons, and texts "Your email" and "Confirm password" are all in English. The error messages are all in English too
![deutsch](https://user-images.gi

[2021-12-01 10:14] drummer83 commented on #8443
I can only comment on no. 2:

Yes, en_DE is the English version for the German instance (openfoodnetwork.de). In some places we may want to use different wording or we have different concepts than other English speaking instances, so we need to have our own English translation.

Translations take place using [Transifex](https://www.transifex.com/open-food-foundation/open-food-network/dashboard/) a

[2021-12-01 16:50] drummer83 opened #8546 "Super admin navigation showing for regular enterprises"
## Description
The super admin navigation is showing for regular enterprises if they want to create new payment or shipping options directly through the admin/enterprises page. When selecting one of the links in the navigation, the page "unauthorized" opens.

Background:
Issue #7937 reported that the super admin navigation was missing on some super admin pages. It was first addressed in #7967 and

[2021-12-01 16:52] drummer83 commented on #8546
@sinansonmez Would you be willing to have a further look at this? Your first improvement was great already!

[2021-12-01 18:05] Cecilia-Hn opened #8547 "Payment Method Report record false payment information"
**Description**

Payment Method Report seems to record payment information selected by the customer during the order rather than the payment method finally used.

Exemple :

3 orders have been placed between the 1st novembre and the 2nd december

<img width="1348" alt="Capture d’écran 2021-12-01 à 18 31 44" src="https://user-images.githubusercontent.com/67476305/144287853-755ae578-2ae2-42ef-88c6

[2021-12-01 18:25] Cecilia-Hn opened #8548 "Payment by Type report record false information"
**Description**

Seems that the date registered by the Payment by Type report is the order placed date rather than the payment date.

Exemple :

The R644581413 order was placed the 4th november and completed the 1st december.

<img width="1000" alt="Capture d’écran 2021-12-01 à 19 13 25" src="https://user-images.githubusercontent.com/67476305/144290200-53e3f253-2df2-45be-a3ba-d8761ad3024b.png">

[2021-12-01 22:19] #8514 closed

[2021-12-01 22:24] sinansonmez commented on #8546
Hey @drummer83 Unfortunately i will not be able to work on this. I am pretty busy nowadays.

[2021-12-02 03:40] mkllnk commented on #8443
It depends on where the translation is called from. The login modal is in our code base. It's actually an AngularJS template: https://github.com/openfoodfoundation/openfoodnetwork/blob/97751763a7e028c7431d835a5cd39733f9ca1489/app/assets/javascripts/templates/login.html.haml#L1-L10
There are actually several ways of calling translating. `{{'label_login' | t}}` is translating with an AngularJS filte

[2021-12-02 05:46] chezaorchard opened #8553 "Variant incorrectly displaying unit name not display as in shopfront and backoffice"
**Description**
Product variants, where unit size=item, are displaying in all open shopfronts with only the unit name, not the full 'display as' which usually includes a number as well as descriptor.

Product variants, where unit size=item, are displaying in customer totals report with only the unit name, not the full 'display as'

**Investigation:**
- Affecting the backoffice (reports), and the c

[2021-12-02 09:32] jibees commented on #8507
I've tested and try to reproduce the issue. It seems that the issue is resolved: when searching variants through this interface (via `/admin/variants/search.json`) the variants are _always_ returned with the same order.
@filipefurtad0 if you have some time, could you please confirm that this issue is already resolved?

**_For the record:_**
<img width="355" alt="Capture d’écran 2021-12-02 à 10 3

[2021-12-02 09:40] lin-d-hop commented on #8490
In AU have you updated Transifex so the name of the old Stripe payment method is 'Deprecated. Do not use.' or something?

Probably worth noting that I have seen something like this once before, over a year ago. We had to contact the person who received the money and ask them to send it to the right place. I assumed some user error was involved.

With that in mind it seems there might be a bug here

[2021-12-02 09:49] lin-d-hop commented on #8546
Unless this is an easy fix I suggest we need to revert the previous change.
This situation is far worse than the original fix for which just a few super-admin pages were impacted.

Since this issue will now take dev time from the core team for an issue that was originally prioritised I would suggest that we need to take the fastest route to resolution.

[2021-12-02 09:54] lin-d-hop commented on #8548
@Cecilia-Hn Thanks for reporting this.

My understanding is that this report has always shown the Order date rather than the Payment date. Though I am not certain about this so correct me if wrong.

If there is some regression and this has changed because of some other code changes we could make this an S2. But if that is not the case this will be potential papercut.

I think this will qualify as

[2021-12-02 09:57] lin-d-hop commented on #8553
Is this related to #8500?

[2021-12-02 09:59] Matt-Yorkley commented on #8507
They are ordered by id, but the id is invisible to the user in this context, right? So it will appear random in that sense, if they can only see the product names?

[2021-12-02 10:01] jibees commented on #8507
You're right but I thought the issue was about that the order changed _between_ each search, this is something I cannot reproduce. But you're right, we could order by `name asc` ;)

[2021-12-02 10:02] RachL commented on #8507
Yes please :)

[2021-12-02 10:04] jibees commented on #8507
Will do then ;)

[2021-12-02 10:05] RachL commented on #8553
@lin-d-hop Judging by Chez comment on slack it seems #8500 introduced this problem :(

[2021-12-02 10:26] lin-d-hop commented on #8553
@apricot12 Can we assign to you in this case?
@openfoodfoundation/testers Let's also make sure we take both cases into account during testing.

[2021-12-02 10:27] sinansonmez commented on #8546
Sorry, I didn't realize that this issue is due to my #8395 PR. I feel responsible now 🥲 I will spare some time and try to fix it asap

[2021-12-02 10:28] apricot12 commented on #8553
@lin-d-hop Yes, I'll look at it immediately.

[2021-12-02 10:34] sigmundpetersen commented on #8540
Is this the same as #664?
If this never has been a feature and thus not a bug, maybe we can close that other issue.

[2021-12-02 10:44] #3584 closed

[2021-12-02 10:54] jibees commented on #8553
Could we also create an automatic test for this?

[2021-12-02 10:59] sinansonmez commented on #8546
As promised, I managed to spare some time and created PR to fix the issue. Right now I am checking if user is super admin and only in that case I am showing the navigation

[2021-12-02 11:30] #664 closed

[2021-12-02 11:30] RachL commented on #664
handled by: https://github.com/openfoodfoundation/openfoodnetwork/issues/8540

[2021-12-02 11:30] RachL commented on #8540
yes! thank you @sigmundpetersen ❤️

[2021-12-02 13:36] achauve commented on #6347
Since it blocks gem updates and new gem addition, it's getting more urgent.

[2021-12-02 13:37] achauve commented on #6347
@openfoodfoundation/train-drivers-product-owners for information

[2021-12-02 17:18] RachL commented on #6347
let's go @achauve 🎉

[2021-12-02 20:59] KombiCode commented on #6730
Hi there. I didn't find time those days to work on it.
I'm very busy those weeks and will come back to that when possible, sorry for the delay.
Let me know if this is a problem...

[2021-12-02 21:21] Matt-Yorkley opened #8560 "Release v4.1.10"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2021-12-02 22:11] Matt-Yorkley commented on #7475
I think we can close this since we switched to Sidekiq? We have 5 workers now effectively, and the whole thing is a lot quicker and more performant.

[2021-12-02 22:11] #7475 closed

[2021-12-02 22:14] #4193 closed

[2021-12-02 22:21] #1351 closed

[2021-12-03 00:21] #7278 closed

[2021-12-03 01:05] #8442 closed

[2021-12-03 08:16] lin-d-hop commented on #8534
Thanks @sigmundpetersen for linking them. I think they are the same issue though I opened a new one as my understanding is that subs have changed a fair bit in this time and the solution offered in the previous issue a) did not uncover the underlying problem and b) asked shoppers to reenter their card details.

I was aiming for a fresh perspective but let's see ;-)

[2021-12-03 08:48] lin-d-hop commented on #8560
Whoop! Thanks team!
Ready to go.

Notes here: https://docs.google.com/document/d/1UQ0UhcDVJyFjT6NtiOQhTsQVPjmzJMN55iZiPRvqPC0/edit#heading=h.kv7jcua35rp4

[2021-12-03 08:52] lin-d-hop commented on #7910
@RonellaG Can this be closed?

[2021-12-03 08:53] #7910 closed

[2021-12-03 09:33] sigmundpetersen commented on #6347
FYI there is also the ongoing effort in #8469 and #8470.
Maybe you could help eachother out 🙂

[2021-12-03 10:53] Cecilia-Hn commented on #8547
@RachL
I'm wondering if this case it's an S2 as there is no real workaround avec we've got three users complaining about the fact that they need to manage this information with a spreadsheet and a lot of time. What do you think ?
Thanks a lot !

[2021-12-03 10:56] Cecilia-Hn commented on #8548
Hi @lin-d-hop
Yes, actually I'm not sure what this report has always shown.
Yes I agree for the papercut, thanks for your help !

[2021-12-03 11:42] RachL commented on #8547
@Cecilia-Hn do you know why the hub edit this info? How many user reacted to this? I'm a bit afraid this is a long lasting bug that we didn't take car off because nobody edits delivery info usually.

Do the users who edit this info do it often and if yes why? Maybe we can found a workaround for them.

[2021-12-03 15:16] Cecilia-Hn commented on #8547
Yes I don't know if it's a big need. All I know is that we've got 2 users who wants to edit it each week for accounting and to check the cash amount for each payment method at the end of each distributions day.

[2021-12-04 15:56] RachL commented on #8547
@Cecilia-Hn here if I understand correctly the problem exist _only_ when the hub edits the delivery method. So I have no doubt that having the delivery method is important, what I doubt is that it often happens that hubs are editing it. If they are editing it twice a year, I think it is dangerous to raise this as s2. Best is to select it as our next s3.
We can have a call on Monday, I'm not sure w

[2021-12-06 04:40] RonellaG commented on #8553
@apricot12 @jibees @lin-d-hop @RachL We've started to have more hubs enquire about this issue. This is impacting their shopfront listings as well as their ability to generate packing reports. What is the status of this bug and how soon can it be resolved? Given it impacts our hubs sales and operations quite a lot can it please be labelled S1?

[2021-12-06 06:33] chezaorchard commented on #8553
User ID 286, a bulk food hub, are experiencing this issue with their current order cycle: "The pricing for e.g. coconut cream is $3.25/can if bought by the can or in 6's but $2.55/can if ordered in 12's. However the shopper will not realise how many cans they are buying as the number has now disappeared."

[2021-12-06 06:35] apricot12 commented on #8553
Hey, It should be up for code review by today. I'll try to speed it up as much as possible :)

[2021-12-06 08:41] apricot12 commented on #8553
@chezaorchard @RonellaG I've just put up a [PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/8572) that fixes this issue. Now it's just a matter of going through the review and testing process and getting it into this weeks release.

[2021-12-06 13:47] Matt-Yorkley opened #8577 "Split name column in customers table"
### What we should change and why (this is tech debt)

The customers table in the database holds `name` as a single column with first and last names combined in a single string. We **really** need this to be two `first_name` and `last_name` fields (for lots of reasons; API, reports, etc).

We'll need a migration to not only change the columns but also split the existing data and reassign it.

Also

[2021-12-06 13:56] filipefurtad0 opened #8578 "Assess and remove the "suburbs" table (if unused)"
### What we should change and why (this is tech debt)

Suburbs table seems empty in FR and CA production but not empty in AU production; This could be legacy data though. We should assess whether this table is still needed and remove it, if this is not the case.

### Context

This came up in the reports standardization work.

### Impact and timeline

Simplifying data model.

[2021-12-06 14:57] jibees commented on #8524
I tried to understand/debug a bit this issue, but it can have sooo many origins since the error message `Payment could not be processed, please check the details you entered` (key `payment_processing_failed`) seems to be the default one and be used every time a payment failed.
I've found:
 - if no specific message found and any other error occurs
 - if payment capture failed
 - if no _source_ spec

[2021-12-06 16:33] Matt-Yorkley commented on #8553
Hey :wave:, I've just been looking through this and the other related issues (#8495) and recent changes (#8500).

It's a tricky one! The way these different values are saved is really complex in terms of the datamodel, and the code that handles it is quite arcane (the `VariantUnits::VariantAndLineItemNaming` service). The tricky part is that even small changes in that service can potentially have

[2021-12-06 16:35] apricot12 commented on #8553
@Matt-Yorkley I was wondering the same thing. I wanted to try implementing some view logic to fix this, but I wasnt sure if it was the right thing to do. It seemed urgent too so I just went with a hacky fix.

[2021-12-06 16:37] Matt-Yorkley commented on #8553
Fair enough! I'm personally terrified of touching that service :sweat_smile: It's really difficult to work with.

[2021-12-06 17:13] filipefurtad0 commented on #8495
It seems editing the item, like for example changing the stock brings coherence between the variant unit name and the unit price:

![Peek 2021-12-06 17-10](https://user-images.githubusercontent.com/49817236/144890900-67455dd4-244e-46d5-a6af-f3717c4ca4dc.gif)

This is recorded in staging-UK after staging v4.1.7, build f89263f0604788c17c5a36fac48b5e0ec070298a

[2021-12-06 19:12] lin-d-hop commented on #7785
Closing this but it does have relevant information for #8534

[2021-12-06 19:12] #7785 closed

[2021-12-06 19:26] lin-d-hop commented on #8534
Closing as we need a bigger spike around this work.

[2021-12-06 19:26] #8534 closed

[2021-12-06 19:31] RachL commented on #8529
Hi @seballot are you working on this one? Otherwise we can assign it to someone else in the team :)

[2021-12-06 19:37] lin-d-hop opened #8579 "Saving cards in Stripe"
## Description

There are two ways to save cards to be used at checkout:
- Via /accounts
- While checking out

It seems that the two methods use different aspects of the Stripe API to handle them. There are many mysterious issues that arise in subs causing failed payments even when there is a valid card in Stripe (eg #8534 #7785) that appear to be related to this.

We need to explore:
- saving new

[2021-12-06 20:13] filipefurtad0 opened #8581 "Error 500 when deleting saved cards"
## Description

Reproducible in staging and some occurrences logged in UK-production:

- after adding a new card under and associating it with a shop, attempting to delete it triggers an error 500, visible to the user.

Bugsnag:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/611f8a26ecba010008dd5cb1?filters[search]=spree%2Fcredit_cards%23destroy&filters[user.id]=207722&pivot_tab=event

[2021-12-06 20:15] seballot commented on #8529
Hi @RachL, I will do this one this week

[2021-12-06 20:15] Matt-Yorkley commented on #8529
Dev note: I had a quick play with what the job part might look like [here](https://github.com/openfoodfoundation/openfoodnetwork/compare/master...Matt-Yorkley:oc-closing) if someone else is picking it up :ok_hand:

[2021-12-06 21:07] luisnramos commented on #8443
Hello, I dont think this is a good first issue. Translations, specially with javascript plus external modules like devise, are not easy. Unless if you have mastered this in some other rails project.

[2021-12-06 22:07] Matt-Yorkley commented on #8579
Dev notes: when we save cards in the /account page, we use the Stripe Tokens API, but when we save them at checkout we use the Stripe PaymentIntents API. There's a discrepancy there; they work differently. The /account page is where we have the UI for adding cards for subs and allowing them to be used for future payments. I'm not even sure we should be using the Tokens API, but I would need to inv

[2021-12-07 06:13] mkllnk commented on #8553
It sounds like a good idea to replace its use bit by bit then. For another PR I went through the code just to find out which database fields it was using and it which order and that was an essay already.

I just reverted #8500 on au-prod because it's causing huge problems for our enterprises here. We should probably do that in master and then any further change needs to first add a spec for this i

[2021-12-07 10:32] #7685 closed

[2021-12-07 13:41] Matt-Yorkley commented on #8560
Okay, I've pulled in a couple of things including some spec changes, some minor Rubocop updates, and reverting that PR from the last release...

[2021-12-07 14:25] filipefurtad0 commented on #8495
#8500 has been reverted [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8585), so the issue is back - reopening:

![image](https://user-images.githubusercontent.com/49817236/145046823-acbf8df7-645d-490b-9364-5c2487e24ac5.png)

[2021-12-07 14:27] apricot12 commented on #8495
@filipefurtad0 Alright. I'm currently trying to fix this through the views.

[2021-12-07 14:31] apricot12 commented on #8553
@filipefurtad0 I was referring to the original bug. My mistake for not pointing that out.

[2021-12-07 14:39] filipefurtad0 commented on #8560
Ok, deployment of this draft worked fine and #8495 is back, as expected. Did a quick sanity check on this build - all good;I'd say we're good for deployment :+1:

[2021-12-07 15:30] #8560 closed

[2021-12-07 21:22] shen-sat commented on #6045
I haven't forgotten about this, apologies for being so slow to pick this up - life has been mad busy 🙃 If someone wants to pick it up then please do 👍🏾 Otherwise, I can start work on this in January 🎆

[2021-12-08 00:59] mkllnk opened #8593 "Release v4.1.11"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2021-12-08 06:51] SarvarKh commented on #8228
Numbers are being reflected accurately both on the Products and Inventory pages.

Products:
![Screen Shot 2021-12-08 at 11 42 19](https://user-images.githubusercontent.com/60043698/145161470-c82ebbf2-3e81-4069-b717-48e1203c6083.png)

Inventory:
![Screen Shot 2021-12-08 at 11 46 10](https://user-images.githubusercontent.com/60043698/145161608-5ac34596-630c-43ed-b250-7bf949c03539.png)

I believe the

[2021-12-08 12:09] pacodelaluna opened #8595 "Provide an API to create and update a CatalogItem object"
## What is the problem we are solving
Right now we are able to list the `CatalogItem` objects, we want know to be able to create or update them.
The main issue will be about how to map properly this `CatalogItem` object with OFN related object (`Spree::Product` and `Spree::Variant`).
On API side, it will be standard POST and PUT actions on the `catalog_items` controller.

## Success factors = expe

[2021-12-08 13:11] pacodelaluna opened #8596 "Support new DFC JSON-LD format"
## What is the problem we are solving
We are currently supporting the v1.5 format (https://datafoodconsortium.gitbook.io/dfc-standard-documentation/appendixes/practical-examples/version-1-5).
We should move to v1.6 support (https://datafoodconsortium.gitbook.io/dfc-standard-documentation/appendixes/practical-examples/version-1.6) in order to support flat graph structure.

## Success factors = expe

[2021-12-08 22:23] #8228 closed

[2021-12-09 08:32] lin-d-hop commented on #8581
This happens when there is an error in Stripe. It seems Stripe errors in deleting saved cards is not handled well in OFN.
I experienced it directly when I removed a card in Stripe BEFORE removing it in OFN.

[2021-12-09 09:41] RaggedStaff commented on #8595
Looking at this.

Shall we continue to use the oidc branch? If so, might fork to my repo (don't have rights across Andy's repo) unless you have another preference?

We should probably `rebase` before we start. I can do that when I pull it across, unless you want to do that before you push up to FR-Staging?

[2021-12-09 13:17] filipefurtad0 opened #8604 "Deployments fail with "storybook unmet peer dependency" errors"
## Description

Deployments are broken on master after merging:
https://github.com/openfoodfoundation/openfoodnetwork/issues/8575

The error message points out to unmet dependencies, see:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/servers/uk-staging/deploys/990

Deploying commit 65e52916790ab71091a5dc4ab2ee1974e89fc149 (before merging the above PR) worked fine.

This was tested a

[2021-12-09 14:00] jibees commented on #8604
The solution could probably be to merge https://github.com/openfoodfoundation/openfoodnetwork/pull/8603, https://github.com/openfoodfoundation/openfoodnetwork/pull/8602 and https://github.com/openfoodfoundation/openfoodnetwork/pull/8601 at the _same time_ (ie each one after the other) as those three projects (`@storybook/serverBump`, `@storybook/addon-docs` and `@storybook/addon-controls` should h

[2021-12-09 16:57] gjacob3000 commented on #8459
When I used print statements to try to find the source of where the word “Product” is coming from, I traced it back to line 64 of base_controller.rb in app/controllers/spree/admin. When I print out resource_desc after it is set to object.class.model_name.human, it prints out “Product.” After it is appended with object.name in line 65, it prints out “Product ‘xyz’”.

Looking into this further, it’s

[2021-12-09 21:49] RaggedStaff commented on #8577
Hey,

This sounds like an easy db fix... split the column. i'd suggest leaving the original & using a trigger to update it, that way you can not worry about migrating all the legacy code that reads it. We could do more complex things with table renames & views (potentially materialised) but the trigger update seems simplest.

A few things other things we'll need to consider:

1. What about custome

[2021-12-10 02:46] mkllnk commented on #8449
I just ran this on my machine and had a 50% failure rate.
![failures_r_spec_example_groups_as_an_administrator_i_want_to_create_and_edit_orders_creating_a_new_order_with_a_variant_override_creates_order_and_shipment_successfully_and_allows_proceeding_to_payment_562](https://user-images.githubusercontent.com/3524483/145508656-d59f4c66-1a99-47da-bd26-7ddd72e22d41.png)

[2021-12-10 02:55] mkllnk commented on #8449
I think I found the problem.
https://github.com/openfoodfoundation/openfoodnetwork/blob/4be0536b186c842badd694700d961d0d6d76b990/spec/system/admin/order_spec.rb#L222-L223
After selecting the country, there's Javascript loading the states of that country and replacing the options in the next input. If we select the state too early then it gets cleared.

Options:

* Not select the country because it

[2021-12-10 06:16] adele-ofn opened #8606 "Single subscriptions are creating duplicate orders in a single order cycle"
## Description
A hub (ID 3359) noticed that 2 orders in a current order cycle (ID 10778) were placed for a single subscription (ID 368) for a customer (ID 21,471).

Metabase shows there is only 1 subscription related to this customer. And the subscription is attached to Schedule ID 81 (name = Fortnightly 1).

Both orders R608544751 and R525211337 were placed at 8.06pm 2 Dec (Melbourne time), 6 min

[2021-12-10 09:55] Cecilia-Hn opened #8608 "Customer account debited after incomplete order"
**Description**

R832870252 order is an Incomplete order on 2021 shop

<img width="1385" alt="Capture d’écran 2021-12-10 à 10 26 55" src="https://user-images.githubusercontent.com/67476305/145554243-579cbadd-5a13-4074-866b-8456c8d4299a.png">

So, for this incomplete order the client received no email with confirmation order

BUT on Stripe, we can see the payment attempt, at least, three times :

[2021-12-10 10:10] Cecilia-Hn commented on #8608
XXDDNXQ9 : uncaptured
![Capture-3](https://user-images.githubusercontent.com/67476305/145556749-fb660865-9f69-474a-8da3-b0886d37a56e.JPG)

 EXKMYXVP : Uncomplete 
![Capture-4](https://user-images.githubusercontent.com/67476305/145556805-0e557352-9d17-41c4-97d9-1fb7278933fb.JPG)

 SPR9RS47 : Complete
![Capture-1](https://user-images.githubusercontent.com/67476305/145556842-56863817-1831-4153-b514-8

[2021-12-10 10:11] RaggedStaff commented on #8577
Hey,

This sounds like an easy db fix... split the column. i'd suggest leaving the original & using a trigger to update it, that way you can not worry about migrating all the legacy code that reads it. We could do more complex things with table renames & views (potentially materialised) but the trigger update seems simplest.

A few things other things we'll need to consider:

1. What about custome

[2021-12-10 10:28] RachL commented on #8608
@openfoodfoundation/core-devs if someone is able to look at this one when it's still fresh it would be great. At least to understand the cause and how to reproduce. It seems we are not over ours bugs around payments :(

[2021-12-10 13:28] Matt-Yorkley commented on #8604
Those 3 PRs have been merged now. We should be able to deploy master and PRs again, but we might want to redraft the release to include those recent merges?

[2021-12-10 13:39] filipefurtad0 commented on #8604
I'll have a go at this, and try this out.
Thanks @Matt-Yorkley :pray:

[2021-12-10 14:45] sigmundpetersen commented on #8604
Looks to me like those "unmet peer dependency" are just warnings.

Found some errors further down:
- "stdout": "RAILS_ENV=staging environment is not defined in config/webpacker.yml"
- "EntryModuleNotFoundError: Entry module not found: Error: Can't resolve 'babel-loader' in '/home/openfoodnetwork/apps/openfoodnetwork/releases-old/2021-12-10-134327'"

Could these be any clues?

[2021-12-10 16:22] #8604 closed

[2021-12-10 16:49] #8449 closed

[2021-12-10 17:45] Matt-Yorkley commented on #8577
I don't think we use middle names anywhere in the codebase.

I'd prefer it if we can avoid using triggers or materialized views here, and just do a one-off migration which updates both the data and the app code.

I think these names were populated from two fields in the first place (`first_name` and `last_name`), then combined into one column. It's probably worth having a look through some product

[2021-12-11 08:44] RaggedStaff commented on #8577
Ok. Easy check... can someone run this against a prod dataset (preferably not on a live server 😉, name is unindexed so could be a costly query)?
[code]

There's typically a trim function implicit in Len() that should sort out any extraneous whitespace at the beginning or end. Won't capture tabs or newlines, hoping they wouldn't make it in in the first place.

Probably, its always the edge cases th

[2021-12-11 11:53] Matt-Yorkley commented on #8577
Alright, with a sample of around 30,000 we have:

- ~10,200 records (~34%) with no name at all (blank). That's easy, we can just leave both new fields blank.
- ~19,000 records (~63%) with a single space. Easy, we can split on the space.
- ~800 records (~2.6%) which have 0, 2, 3, 4, or 5 spaces. Looking through some samples, they're not simple to split.

There's a lifeline here though; the customer

[2021-12-11 12:11] Matt-Yorkley commented on #8593
I've just redrafted the release a bit to include those last couple of merged PRs. Should be ready for testing now (and deployable to staging).

[2021-12-11 12:43] Matt-Yorkley opened #8611 "Add :captured_at field to payments"
### What we should change and why (this is tech debt)

This came up as part of a couple of discussions around things like payment reports. Payments currently have `created_at` and `updated_at` fields, but it would be really useful to add something like a `captured_at` field to record the point in time that a payment was captured.

We do something similar for orders, where we record a `completed_at

[2021-12-11 16:34] #8546 closed

[2021-12-12 22:05] mkllnk commented on #8604
One problem with merging all the storybook dependencies is that after each merge, there's a conflict and we need to wait for Dependabot to rebase. That takes a while. And we usually can't wait for reviews either because by the time two reviews are in, there's a new version released. Our process doesn't work with the continuous delivery of storybook.

[2021-12-13 03:53] mkllnk commented on #8606
I tried to validate my theory that subscription jobs could overlap and process the same subscription twice but it doesn't look like it:
[code]

So the longest such a job ran was in 74 seconds, well under 5 minutes (on au-prod). So my attempt to schedule the jobs only every 15 minutes instead of every 5 minutes will most likely not solve the problem. Processing less often doesn't reduce the overall

[2021-12-13 04:03] mkllnk commented on #8606
Then I discovered that grep can't search the log files reliably because there's binary data in them. No idea why.

So I looked at the log of the reported case:
[code]

There's a SubscriptionPlacementJob (jid=4b8971...) which runs for 5 minutes and 12 seconds. It overlaps with the next one. This validates my theory and we need to implement some synchronisation of those jobs.

[2021-12-13 06:43] mkllnk commented on #8606
I got a fix but the specs still need updating.

[2021-12-13 23:39] filipefurtad0 commented on #8553
Customer totals report displays the correct `#display_as` name, after reverting the aforementioned PR, closing:

![image](https://user-images.githubusercontent.com/49817236/145906331-09c35873-2777-4a9e-a918-58430fb3c96d.png)

[2021-12-13 23:39] #8553 closed

[2021-12-13 23:49] filipefurtad0 commented on #8593
Hey @mkllnk ,

The release is good to go:
https://docs.google.com/document/d/1htWopWsl0xwry7G9AKQoOEaZ14eXZHb0CXY7wbv-mSE/edit#

Three minor issues were spotted, none seem to be introduced by this release:

- placing this backoffice order seems to have triggered a Bugsnag error:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61afbd9471f8ef000745ab84?event_id=61b7d558008a9ad685220000&i=s

[2021-12-14 05:28] #8593 closed

[2021-12-14 08:28] RachL commented on #8606
Notes from delivery circle: this has been patch on AU prod, so we understand this can be downgraded to s2 for a release in next release draft on Dec 30th.

[2021-12-14 11:53] Cecilia-Hn opened #8618 "Customer account debited twice after first order attempt failed"
**R705164323** is a complete order on 961 shop on the 7th november (FR Prod)

<img width="1268" alt="Capture d’écran 2021-12-14 à 12 45 11" src="https://user-images.githubusercontent.com/67476305/145992359-a5954cdf-71b3-45dd-b962-4101cc0b9df7.png">

It seems that, the customer account has been debited twice
 * Spree Order ID: R148537147-Z8QMW6E
 * Spree Order ID: R705164323-E29YM8DN

The hub rei

[2021-12-14 15:19] RachL commented on #8618
I'm closing here I think this is the same case as https://github.com/openfoodfoundation/openfoodnetwork/issues/8618 commenting over there

[2021-12-14 15:29] RachL commented on #8618
Ok so for a brief moment I thought I would close this in favor of https://github.com/openfoodfoundation/openfoodnetwork/issues/8608 but maybe those are 2 different cases.

The chronological scenario :

- customer tries to checkout and checkout attempt fails. ON records an order in cart state. Stripe pursue the payment. So hub has to manually reimburse on the Stripe UI. https://coopcircuits.fr/admi

[2021-12-14 19:34] filipefurtad0 opened #8619 "Refreshing the order confirmation page displays an error on SCA payment processing"
## Description

Stripe SCA paid backoffice orders generate an email which gets sent to the customer requiring payment authorization. After login and payment successfully authorizes the payment, the customer is redirected to the order confirmation page.

At this point, if the page is refreshed, an error on payment processing appears.

## Expected Behavior

Refreshing the page after payment authoriz

[2021-12-14 19:44] filipefurtad0 opened #8620 "Cancelling orders display an error to the customer"
## Description

For shops which allow changes to orders, if the customer cancels an order a banner will be displayed stating that the cancelling of the order was not successful - when in fact it was.

## Expected Behavior

An error message should not be displayed, if the order was successfully cancelled.

## Actual Behaviour

An error message is displayed, despite successful cancelling of the orde

[2021-12-14 20:09] filipefurtad0 commented on #8142
The steps to reproduce now trigger the warning introduced here:
https://github.com/openfoodfoundation/openfoodnetwork/issues/6755

But the payment seems not to be created at all, and as such does not appear on Stripe dashboard as `uncaptured`, which is good :+1:

I'd close this issue as the #7692 (comment) seems not to create a bug anymore.

[2021-12-14 20:09] #8142 closed

[2021-12-15 13:48] #8066 closed

[2021-12-15 16:49] filipefurtad0 opened #8623 "[Split Checkout] "Save card for future use" appears when a saved card is selected"
## Description

Follow-up from #8503; concerns checkout split (feature toggle **on**).

The checkbox "Save card for future use" appears when a saved card is selected.

## Expected Behavior

The "Save card for future use" checkbox should only appear when entering a new card.

## Actual Behaviour

The checkbox "Save card for future use" appears when a saved card is selected.

## Steps to Reproduce

[2021-12-15 16:56] filipefurtad0 opened #8624 "[Split Checkout] Selection of the card set as default is not working correctly"
## Description

Follow-up from #8503; concerns checkout split (feature toggle on).

If there is more than one saved card, the first card will always be displayed, regardless of adding other cards, and setting them as default cards.

## Expected Behavior

The default card set in `/account#/cards` should be reflected on the checkout page.

## Actual Behaviour

The default card set in `/account#/card

[2021-12-15 17:04] filipefurtad0 opened #8625 "[Split Checkout] Clicking the `Next - Order Summary` button has no effect"
## Description

Follow-up from #8503; concerns checkout split (feature toggle on).

After selecting a payment method and adding the necessary data, clicking the `Next - Order Summary` button has no effect. This seems to work only when adding new credit card details on a stripe SCA payment, but is broken for all other payment methods.

## Expected Behavior

Clicking the `Next - Order Summary` butto

[2021-12-15 17:18] filipefurtad0 opened #8626 "[Split Checkout] Text/warnings overlapping with card input field"
## Description

Follow-up from #8503; concerns checkout split (feature toggle on).
When checking out with a new card (Stripe SCA) the text from all possible warnings overlap with the card details field.

## Expected Behavior

Warnings are displayed below the input field:

![image](https://user-images.githubusercontent.com/49817236/146232731-ca85037c-3c32-43e5-b769-7b067fc0a673.png)

## Actual Beha

[2021-12-16 00:20] drummer83 opened #8627 "[Super Admin] Last shipping or payment method doesn't remain unassigned when saved"
## Description
If there is only one shipping or payment method assigned to an enterprise and it is then unassigned (by clearing the checkbox in the enterprise settings) the shipping or payment method will be assigned again after saving. Since an enterprise must have at least one shipping and payment method this might actually be a feature. Still there shouldn't be the confirmation that saving was

[2021-12-16 00:31] drummer83 opened #8628 "Missing translation: Successfully logged out message"
## Description
When logging out the green confirmation banner at the top of the screen is not translated.

## Expected Behavior
The message should be tranlated.

## Actual Behaviour
It is not.

## Steps to Reproduce
1. Log in
2. Select a language other than English
3. Log out
4. Observe the confirmation banner

## Animated Gif/Screenshot
![Sign out](https://user-images.githubusercontent.com/179017

[2021-12-16 00:48] drummer83 opened #8629 "Missing translation: "Are you sure?" when deleting a product"
## Description
When deleting a product on /admin/products there is a warning "Are you sure?" displayed. This message cannot be translated.

## Expected Behavior
The message should be translated (as when deleting shipping methods).

## Actual Behaviour
The message is not translated.

## Steps to Reproduce
1. Go to admin/products
2. Delete a product using the recycle bin icon
3. Observe the message

[2021-12-16 00:59] drummer83 commented on #4837
Just a note:
I can confirm that the bug described in steps 1 to 5 is still present in v4.1.10.
BUT: I was not able to recreate the bug for multiple hubs (steps 1 to 3). I tried with two hubs and the payment methods are still shown in the list (shown on the right), even when deactivated (shown on the left).
Or maybe I got the scenario wrong...
![Bildschirmfoto vom 2021-12-16 00-35-26](https://user-

[2021-12-16 07:40] RachL opened #8630 "[Split checkout] Make the bottom buttons sticky"
## Description
**- As a:** shopper
**- On page:** last checkout page step
**- I want to be able to do:** always see the bottom checkout button, no matter the device used

## Acceptance Criteria & Tests

Tests have to be performed both on mobile & desktop

_Scenario 1 as a guest checkout_

1. Add product to the cart
2. Proceed to checkout
3. When reaching the last step, no matter where I scroll on

[2021-12-16 07:42] RachL commented on #8630
@jibees here is a proposal to first try the stickiness ( :D ) only on last step where it is the most problematic.

I'm afraid to make the other step too heavy if we add some sticky option, but let me know if it makes things more complex from a tech pov.

[2021-12-16 08:35] jibees commented on #8630
Agree.

Will do only on the last step then.

[2021-12-16 09:11] jibees commented on #8625
The `app/webpacker/controllers/stripe_controller.js` handle the submit of the form (`form.addEventListener("submit", event => {})`), and stop the propagation of the event. with an error:

[code]

if the payment method is not stripe, we should not enter in this method, if the payment method is stripe no error should happen I guess.

(cc @Matt-Yorkley )

[2021-12-16 10:19] RachL commented on #8577
hello @RaggedStaff ! We are looking to move this forward I see you commented here, are you already working on this issue?

[2021-12-16 10:34] lin-d-hop commented on #8577
This work isn't a priority for @RaggedStaff to my understanding. Is there a reason you started on this Garethe?

[2021-12-16 13:10] Matt-Yorkley opened #8633 "Add test coverage on payments_controller"
### What we should change and why (this is tech debt)

This controller has no tests or documentation: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/payments_controller.rb

It took me a while to figure out that it's actually the controller which handles links in Stripe authorization emails (for subs). I thought it might be dead code at first!

### Context

Workin

[2021-12-16 14:10] filipefurtad0 opened #8635 "Stripe payment not taken if authentication step occurs after OC closure"
## Description

If an order cycle closes:
- after an order was placed
- before a Stripe SCA payment was authorized

Authorizing the payment fails, although this is the expected.

This potentially affects all order types, frontoffice and backoffice are confirmed; affects subscriptions as well -> Verified when following the authentication link provided per email, while logged out.

**Bugsnag** as mo

[2021-12-16 15:09] Matt-Yorkley commented on #8635
Cool. There's 3 places where we might need to authorize a Stripe payment; checkout, backoffice, and subscriptions.

I think in the first case (checkout) it's okay. The payment should theoretically get authorized straight away as part of the checkout process, but if it's left too long and the OC closes, the order doesn't get placed :ok_hand:

In the other two cases this is more of a problem, as it'

[2021-12-16 15:54] filipefurtad0 commented on #8635
I could not reproduce this bug/bugsnag warning on subscription order payment - updated the description.

[2021-12-17 10:08] filipefurtad0 opened #8637 "Mouse-scroll: Zoom in/out "jumps" on /maps page"
## Description

Zooming in/out with the mouse-wheel causes the center of the map to "jump" around and triggers some errors seen on the console.

This is was observed when zooming in/out with the +/- signs on the map.

## Expected Behavior

The map should remain centered on the cursor coordinates on the screen, while zooming.

## Actual Behaviour

While zooming with the mouse-wheel the map changes

[2021-12-17 10:56] #8441 closed

[2021-12-20 09:49] lin-d-hop commented on #8539
Sorry guys, this needs to be upgraded to s2.
Let's make sure it goes into the next release please :pray:

[2021-12-20 10:07] jibees commented on #8539
@lin-d-hop

just moved to `Test Ready` ;)

[2021-12-20 12:50] filipefurtad0 commented on #8463
Perhaps related: https://github.com/rubycdp/cuprite/commit/ad1c3d72119aa5c701a54b5ffd3023c9db720e30

[2021-12-20 14:38] RachL commented on #8577
We were talking about this issue with @jibees and discovered that @achauve might have seen part of the code while working on the Active Storage migration. Moreover, maybe the migration will make this work easier if I understood correctly.

Anyway @achauve it looks you might like a quick issue to ship to production. Would you be interested to work on it? I won't be there during delivery circle tomo

[2021-12-20 15:21] achauve commented on #8577
@RachL Not sure about the link between attachments and customer names, but my knowledge of the backend and migrations is getting better yes (at least I hope ;-) ).
I think it would be great to switch if there are urgent bugs, but I'm not sure about going on another feature at the same time.

[2021-12-20 15:22] RachL commented on #7198
@Matt-Yorkley @lin-d-hop @filipefurtad0 and myself sat down in Portugal to refresh our memories on this feature and bring us up-to-date. While going through the issues, we reach agreements on some ideas that we are proposing here:

1. Issues were made with components in mind, which is interesting but very difficult to pick up to understand what to deliver in the end. We would like to propose to **

[2021-12-20 16:04] jibees commented on #8577
The point here is that you seem to have done a great job/overview on the backend, and especially around migration. Then, we thought that you might be the man for the job.

[2021-12-20 19:31] kirstenalarsen commented on #7198
Sounds great - let's get this show on the road!!

On Tue, 21 Dec 2021 at 02:23, Rachel Arnould ***@***.***>
wrote:

[2021-12-21 11:51] filipefurtad0 commented on #8635
Humm... I just observed this now while testing a subscription related PR:

[code]

This seems to be occurring in production as well:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61afbd9471f8ef000745ab84?filters[event.since]=30d&filters[error.status]=open&event_id=61c1bcaf008aa5d0a44d0000

Specifically, this occurred by following the payment authorization link provided by email, **whil

[2021-12-21 11:59] Matt-Yorkley commented on #8635
Thanks for investigating :pray:

There's definitely a few funky issues around sessions/links and authorizing payments. Pulling the Stripe logic out into it's own controller is the only real way to begin addressing these kinds of issues. In progress :ok_hand:

[2021-12-21 16:57] #8606 closed

[2021-12-21 18:58] lin-d-hop commented on #7730
@Matt-Yorkley Do we now use this or did you find another way to do split checkout?

[2021-12-22 08:30] lin-d-hop commented on #3490
Hi @apricot12 I see you picked this up a month ago. How's it going? Have you been getting the help you need to figure it out?

[2021-12-22 08:31] apricot12 commented on #3490
Well, it's 90% there but it needs ironing out. I almost pushed out a PR before I realized I was leaving out some possible scenarios.

[2021-12-22 08:42] lin-d-hop commented on #3490
Cool! ✨
If you can start to feel brave to talk about specifics as you learn I think it will help other devs learn the nuances of the app too. OFN is hard so talking/writing about the mistakes means that fewer people have to repeat and relearn them. 🙂

[2021-12-22 13:03] #8539 closed

[2021-12-22 14:42] RachL commented on #6730
Hello @KombiCode Just checking in: are you still planning to find some time in the coming weeks? Thanks :)

[2021-12-22 14:53] KombiCode commented on #6730
Hello @RachL. I hope to find few hours between Christmas and New Year's Day to continue on this, and also hope to spent few days early weeks of January. Maybe I'll need some technical tips on Angular to achieve the issue as I'm not an Angular specialist 😅. And in case it turns that I cannot find time, I'll let you know.

[2021-12-22 15:21] #8611 closed

[2021-12-22 18:30] #8625 closed

[2021-12-22 18:30] filipefurtad0 commented on #8626
This can be closed, as verified in PR #8631 :+1:

[2021-12-22 18:30] #8626 closed

[2021-12-22 18:31] filipefurtad0 commented on #8624
The card set as default now is displayed as a first option, as fixed by #8631 :+1:
Closing.

[2021-12-22 18:31] #8624 closed

[2021-12-23 17:41] #8507 closed

[2021-12-23 21:31] #8529 closed

[2021-12-23 21:33] #6689 closed

[2021-12-23 21:34] #7960 closed

[2021-12-24 06:18] SuprajaRamesh commented on #8629
Can this be picked up or is anyone already working on it?

[2021-12-24 08:30] drummer83 commented on #8629
Hi @SuprajaRamesh,
Thanks for offering your support on this one. 👍🏻
I am not aware of anyone else working on it, so please go ahead. I will see if I can assign it to you!
If there are any questions, please feel free to ask any time!

[2021-12-30 07:50] tsara27 commented on #8458
Hello @drummer83,

I have some free time. Can I work on this issue?

[2021-12-30 08:58] sigmundpetersen commented on #8458
Hey @tsara27 yes please go ahead 🎉

[2022-01-03 11:03] SarvarKh commented on #8620
I am working on this...

[2022-01-03 11:31] SarvarKh commented on #8620
Hello @filipefurtad0

[2022-01-03 11:40] RaggedStaff commented on #8577
Hey, sorry for the delayed response... baby arrived. No, I just saw this & offered a bit of expertise with cust data. Not worked on it further, happy for others to pick it up.

[2022-01-03 11:46] SarvarKh commented on #8620
Hello @filipefurtad0
I have tried to reproduce the issue by following these steps (animation is given below), but an error message is not popping up.

1. Created enterprise as Shop (SuperFlexibleShop) allowing to change/cancel the order while OC is open.
2. Placed the product in the Shop
3. Ordered the product by logging in from another account, and then canceled the order.
4. No error message, on

[2022-01-03 13:26] jibees opened #8658 "4.1.12"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Merge [Transifex pull request]
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Re

[2022-01-03 14:26] filipefurtad0 commented on #8620
Hey @SarvarKh ,

Thank you so much for jumping on this issue and the detailed video :pray:

I'm still observing this issue on staging servers:
![image](https://user-images.githubusercontent.com/49817236/147941772-35a2cc31-c07a-4b50-a676-4a63d1c62bb9.png)

I'll need to investigate more, there should be something on these orders which triggers this warning... My first hint was payment methods, but t

[2022-01-03 16:00] RachL commented on #8658
I think this is ready to go. What an awesome release to start the year! Kudos team :clap: https://docs.google.com/document/d/1qy6ISQr8Nxlh1uc6lhPs3Z29Z6p4I_h4g3tNyjMgd3g/edit#

[2022-01-04 10:56] filipefurtad0 opened #8665 "Alert modals appear with no color fill on the order cycles page"
## Description

Alert modals appear with no color fill on the order cycles page, `/admin/order_cycles`. Likely introduced [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/7784).

## Expected Behavior

Modal should appear like this:
![image](https://user-images.githubusercontent.com/49817236/148048307-5bc8cefd-8d3d-4524-ad6f-743458937c06.png)

## Actual Behaviour

Appears like this

[2022-01-04 16:10] SarvarKh commented on #8620
@filipefurtad0 thank you for your feedback.
I'd carry on to work on this if you could advise after your investigation.

Because I tried to reproduce it again without success - no error flash message. Is it possible that this issue relates to the OFN UK or France, not the OFN Australia? because I noticed in both gifs that they seemed to belong to the UK and France shopfront ordering/cancellation pa

[2022-01-04 16:52] filipefurtad0 opened #8667 "Add test coverage on split checkout pages"
### What we should change and why (this is tech debt)

The new split checkout feature needs to be covered with automated tests.

### Context

This came up in the context of the split checkout work.

### Existing tests for legacy checkout

`spec/system/consumer/shopping/checkout_spec.rb`

This spec can serve as checklist:

[code]

### Impact and timeline

This is needed to release the feature with

[2022-01-04 17:47] filipefurtad0 opened #8668 "Checking out as a guest"
## Description

On the new split-checkout feature,  guest users are not prompted to either login or checking out as guest (if allowed by the shop) and are always able to checkout.

## Expected Behavior

When visiting a shop as a guest:
- If a shop **does not** allow guest checkout, the customer is redirected to this screen

![image.png](https://images.zenhubusercontent.com/5d761b049dde650001eaf32f

[2022-01-04 18:05] filipefurtad0 opened #8669 "Test coverage on guest checkout"
### What we should change and why (this is tech debt)

Relates to #8667

### Context

Adds test coverage on `guest checkout scenarios`, on the new split-checkout feature.

[2022-01-04 18:07] filipefurtad0 opened #8670 "Test coverage on the "1 - Your details" section"
### What we should change and why (this is tech debt)

Relates to #8667.

### Context

This issue accounts for test coverage on the `/checkout/details` page and its functionality.

[2022-01-04 18:09] filipefurtad0 opened #8671 "Test coverage on the "2 - Payment method" section"
### What we should change and why (this is tech debt)

Relates to #8667.

### Context

This issue accounts for test coverage on the `/checkout/payment` page and its functionality.

[2022-01-04 18:11] filipefurtad0 opened #8672 "Test coverage on the "3 - Order summary" section"
### What we should change and why (this is tech debt)

Relates to #8667.

### Context

This issue accounts for test coverage on the `/checkout/summary` page and its functionality.

[2022-01-04 18:22] filipefurtad0 commented on #8665
This seems to be affecting the schedules menu as well:

![Peek 2022-01-04 18-21](https://user-images.githubusercontent.com/49817236/148105669-057c5569-75e0-4cdc-84e6-f18a3f2ffa37.gif)

[2022-01-04 19:03] filipefurtad0 commented on #8668
Maybe [the change in this spec](https://github.com/openfoodfoundation/openfoodnetwork/pull/8673) can be used as acceptance criteria for closing this issue?

[2022-01-04 19:43] Matt-Yorkley commented on #8665
Should be fixed in https://github.com/openfoodfoundation/openfoodnetwork/pull/8659

[2022-01-05 08:25] jibees commented on #8665
I tested with #8659 and yes, should be fixed.

[2022-01-05 08:37] jibees commented on #8668
I totally missed this feature.
I'll work on it.

[2022-01-05 15:08] #8629 closed

[2022-01-06 11:46] filipefurtad0 commented on #8194
Worth noting, that `resumed` orders also cannot be `cancelled` by the user (for hubs allowing so).

[2022-01-06 12:28] #8665 closed

[2022-01-07 17:41] filipefurtad0 commented on #6392
It seems this is still observed:
- for fr_BE locale: (in production) -> 1. key 'one' is missing:
https://app.bugsnag.com/open-food-network-belgium/open-food-network-belgium/errors/61d42e718886860007083962?event_id=61d42e71008b9ee9ef4e0000&amp;i=sk&amp;m=nw

- for the `cy` locale: (in staging, will occur as well in production) -> 2. key 'two' is missing:
https://app.bugsnag.com/yaycode/openfoodnetw

[2022-01-10 08:36] filipefurtad0 opened #8684 "Add test coverage on split_checkout_controller.rb"
### What we should change and why (this is tech debt)

`split_checkout_controller.rb` is not covered by a spec.

### Context

This came up while working on #8677.

### Impact and timeline

This contributes to #8667 but is lighter on the test suit, than the respective system specs.

[2022-01-10 09:11] zatteo commented on #8477
Hi everyone,

I started to work on the BOM page and will try to make a proposition at the end of the week.

[2022-01-10 12:23] filipefurtad0 opened #8691 ""First Name" and "Last Name" fields not displaying "can't be blank" error"
## Description

On split-checkout the fields "First Name" and "Last Name" are not displaying the "can't be blank" error, when left blank and attempting to proceed to the next step.

## Expected Behavior

All mandatory and empty fields should display the respective error if left blank.

## Actual Behaviour

"First Name" and "Last Name" fields not displaying "can't be blank" error

## Steps to Repro

[2022-01-10 16:49] Matt-Yorkley opened #8694 "N+1 issues in Admin::SubscriptionsController#index"
### What we should change and why (this is tech debt)

We've got 4 different N+1 issues in the `Admin::Subscriptions#index` action. For users that only manage few/small enterprises this isn't a big deal, but for users which manage many/large enterprises it can become a serious issue (for the user and for _the server_).

### Context

Partly contributed to some UK downtime (Jan 10th).

### Impact an

[2022-01-10 16:52] Matt-Yorkley commented on #8694
**Notes and backtraces**

High-impact N+1 on loading tags:
[code]

High-impact N+1 on payment method calculators:
[code]

Small-medium impact N+1 on enterprises / exhanges:
[code]

Small-medium impact N+1 around checks in `#subscriptions_setup_complete?`:
[code]

[2022-01-10 22:36] Matt-Yorkley opened #8695 "Reassess Subsription processing Jobs"
### What we should change and why (this is tech debt)

Alright, this is a bit of a tricky one to pin down. I'll start off by saying I'm pretty sure this was one of the two primary factors in some downtime on UK Production today. The other primary factor is detailed here: #8694.

I'm not sure our current monitoring is very good for seeing inside the job queue, but from what I can make out we can tr

[2022-01-11 09:28] jibees opened #8697 "Remove 'unsued' company"
### What we should change and why (this is tech debt)

You should remove that 'unused' hack for company

### Context
https://github.com/openfoodfoundation/openfoodnetwork/blob/1b79fdd333f738de2d76bd215f4c0c3efd205897/app/models/concerns/set_unused_address_fields.rb#L13-L14

_Originally posted by @Matt-Yorkley in https://github.com/openfoodfoundation/openfoodnetwork/pull/8692#discussion_r781512800_

[2022-01-11 09:45] Matt-Yorkley commented on #8697
Just to clarify; I wasn't referring to the use of this with the new `company` field specifically, but to the general use of this pattern in various places throughout the codebase. Here's an example of it in the `EnterpriseGroup` model that dates back to **2015**:

https://github.com/openfoodfoundation/openfoodnetwork/blob/3480c5d931c235edd6d23380cdaa79265514b9e8/app/models/enterprise_group.rb#L60-

[2022-01-11 10:17] jibees opened #8698 "Use the same font for the tracking information on the shipped email"
## Description

_Originally posted by @drummer83 in https://github.com/openfoodfoundation/openfoodnetwork/issues/8541#issuecomment-1007604058_

## Expected Behavior
The tracking information should use the same font that the email body.

## Actual Behaviour
The tracking information use another font that the email body.

## Steps to Reproduce
Test the shipped email

## Animated Gif/Screenshot
![](ht

[2022-01-11 11:09] Matt-Yorkley opened #8699 "CSP: remove inline scripts"
### What we should change and why (this is tech debt)

We need to get to a place where we can remove the `unsafe_inline` directive from our CSP configuration in `config/initializers/content_security_policy.rb`. In order to do that we need to remove/replace all inline scripts in the codebase (otherwise the app will be broken).

One of the simplest ways to look for inline scripts is to search the co

[2022-01-11 11:25] Matt-Yorkley opened #8700 "CSP: remove Angualr Templates"
### What we should change and why (this is tech debt)

We need to get to a place where we can remove the `unsafe_eval` directive from our CSP configuration in `config/initializers/content_security_policy.rb`. In order to do that we need to remove/replace a few things in the codebase (otherwise the app will be broken). The main one is our use of **Angular Templates**.

Removing and replacing our An

[2022-01-11 11:27] #8559 closed

[2022-01-11 11:36] #8506 closed

[2022-01-11 11:57] filipefurtad0 opened #8701 "[Flaky] /spec/system/admin/shipping_methods_spec.rb:123"
### What we should change and why (this is tech debt)

 Failures:

  1) shipping methods as an enterprise user creating a shipping method
     Failure/Error: find('.flash', visible: false).text(:all).strip

     Capybara::ElementNotFound:
       Unable to find css ".flash"

     [Screenshot Image]: /home/runner/work/openfoodnetwork/openfoodnetwork/tmp/capybara/screenshots/failures_r_spec_example_g

[2022-01-11 12:36] filipefurtad0 opened #8702 "[Flaky] spec/system/admin/order_print_ticket_spec.rb"
### What we should change and why (this is tech debt)

   1)
    As an administrator
    I want to print a ticket for an order
 as an enterprise manager viewing the edit page can print an order's ticket
     Failure/Error: print_data = page.evaluate_script('printData');

     Ferrum::JavaScriptError:
       ReferenceError: printData is not defined
           at <anonymous>:1:15

     [Screenshot I

[2022-01-11 12:53] #6558 closed

[2022-01-11 12:56] jibees commented on #8699
I don't know exactly how we can handle this easily and seamlessly, but worth doing it.
Should tackle them one by one, by creating a PR for each case (referencing this issue, but not closing it)?

[2022-01-11 13:17] Matt-Yorkley commented on #8699
Yeah. I mostly put this here are a general notice / reminder. I don't think we'll get this done all at once or even in the short term.

[2022-01-11 14:46] #6586 closed

[2022-01-11 16:21] filipefurtad0 opened #8703 "Migrate DB enterprise to remove @ from 'twitter' and 'instagram' fields"
## Description

Follow-up from #8467:
This PR prevents introducing the `@` in `twitter` and `instagram` fields.

## Expected Behavior

`twitter` and `instagram` addresses should be valid and not include `@`.

## Actual Behaviour

`twitter` and `instagram` addresses currently contain `@` symbol, as introduced by th user.

## Steps to Reproduce

The easiest way but requires ssh access is:
1. Queryin

[2022-01-11 17:41] #8495 closed

[2022-01-11 20:58] drummer83 opened #8704 "Canceling an order has to be confirmed twice"
## Description
When canceling an order as a customer I have to confirm two warnings, if I really want to cancel the order. One warning should be enough. It can be seen on the screen video in #8620 already.

## Expected Behavior
When canceling an order there should be just one confirmation dialog.

## Actual Behaviour
There are two confirmation dialogs.

## Steps to Reproduce
0. As a shop owner ope

[2022-01-11 21:08] Matt-Yorkley opened #8705 "Release v4.1.13"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-01-12 08:51] lin-d-hop opened #8707 "Notify Producers Email not sending on first button click"
## Description

This morning a hub reported that when they clicked the Notify Producers email the emails didn't send.It appears the button had been pressed because it now was labelled 'Re-notify Producers'

After reading through the PR and testing on this it appears that with the automation of this button a first click was not tested but a second click was tested. I pressed 'Resend Notification Em

[2022-01-12 09:36] filipefurtad0 commented on #8707
Hi @lin-d-hop,

I can't reproduce the issue. Tested as follows:

As an:
- Admin: opened an OC, with products and stock from a Supplier
- Customer: visited the shop and placed orders

- Admin:
  i) with the OC still open -> clicked Notify Producers once -> Both emails arrive as expected *
  ii) after the OC closes, and before the automatic notification -> clicked Notify Producers once -> Both email

[2022-01-12 09:40] sigmundpetersen commented on #8705
Blocked awaiting further investigation on #8707

[2022-01-12 09:51] jibees commented on #8704
I guess it could be a good candidate for Papercut

[2022-01-12 10:20] filipefurtad0 commented on #8707
Also relevant, would be a test case, in which:
- the Admin
iii) after the OC closes, and **after** the automatic notification -> clicked **Re-Notify** Producers once

![Peek 2022-01-12 09-57](https://user-images.githubusercontent.com/49817236/149120111-9fcc1431-da3d-40ec-a986-29682c8625e2.gif)

However, there is a bug in the UX indeed, which is misleading indeed. It related to with **how** the OC

[2022-01-12 10:26] RachL commented on #8704
@jibees can it be a good first issue?

[2022-01-12 10:27] jibees commented on #8704
Yes, `good first issue` too I guess! (but we can always be surprised ;))

[2022-01-12 10:53] filipefurtad0 opened #8713 "Cloned OCs retain UX /"Re-send Notify" button"
## Description

This issue might be a double from #8707 - not sure, hence opening this one:

If an order cycle is created from an OC (i.e. cloned) in which the automatic notification ran (i.e. the button displays Re-Notify), then the cloned OC will display the same button.

At this stage, no orders were placed on this OC, so clicking Re-Notify will not trigger any email. This does not happen if an

[2022-01-12 11:21] Matt-Yorkley commented on #8707
Okay, I agree with your assessment; I think the notify producers button _does_ send the emails when clicked, and the issue was more about confusion around the UI where the button was showing that the emails had been sent when actually they hadn't.

[2022-01-12 11:28] lin-d-hop commented on #8707
The user denies this is the case, however a 'misclick' would have created this behaviour.

This user is prone to errors so I am happy to follow your assessment.

[2022-01-12 19:48] #8691 closed

[2022-01-12 20:22] #8668 closed

[2022-01-13 05:30] #8489 closed

[2022-01-13 10:03] jibees opened #8716 "[SplitCheckout] selected shipping method is not shown in the UI (and/or saved)"
## Description
It seems that the split checkout do not save the shipping method (at least in certain condition, and from an UX point of view)

## Expected Behavior
Actually save the shipping method choose by the customer and show the selected shipping method in the UI.

## Actual Behaviour
The shipping method is not saved/seen in the form

## Steps to Reproduce

1. Add product to cart, and proceed

[2022-01-13 11:35] filipefurtad0 opened #8719 "[Split Checkout] Logging in during guest checkout redirects to homepage"
## Description

As a registered user, but during guest-checkout:
when a distributor authorizes checking out as guest, the user is prompted to log-in or checkout as guest. In this situation the user can login which should trigger a redirect to the Details page, ideally with some previously filled in details.

## Expected Behavior

Logging in during guest checkout redirects the user to the Details s

[2022-01-14 04:41] RonellaG commented on #5335
We have a producer (Enterprise 3452) that has deleted 2 products and now wants to cancel order R455001031 that contains them but cannot because of this bug.

As far as I can see there is no workaround for this. This producer sells seasonal products and this is likely to happen again for them.

For now I am going to suggest they make a negative adjustment for the value of the order and name the adj

[2022-01-14 10:55] jibees commented on #8716
I wrote a system spec, trying to reproduce the issue, but although it seems to be very easy to reproduce on my machine, can't reproduce it on system spec. I should have a particular option...

[2022-01-14 10:57] Matt-Yorkley commented on #8716
I'm sure this was working before... :thinking:

[2022-01-14 10:59] jibees commented on #8716
yes, I can confirm that probably in _most of _ cases it should work. But I can tell you that on my setup, only the last shipping method (the one that is without any fees), wants to be selected:
<img width="534" alt="Capture d’écran 2022-01-14 à 11 59 42" src="https://user-images.githubusercontent.com/296452/149504877-34c26cb4-bddb-4bd4-bb0c-e46924dc5a75.png">

[2022-01-14 11:04] Matt-Yorkley commented on #8716
I can't currently replicate this on master :thinking:

Do you have some more details about your exact setup with the shipping methods?

[2022-01-14 11:06] jibees commented on #8716
I don't know exactly what is relevant, here's the screenshots:

##### The one that *can't* be selected
<img width="730" alt="Capture d’écran 2022-01-14 à 12 04 51" src="https://user-images.githubusercontent.com/296452/149505596-13176c5a-383d-45a7-967d-36845aa9159e.png">

##### The one that *can* be selected
<img width="737" alt="Capture d’écran 2022-01-14 à 12 05 00" src="https://user-images.g

[2022-01-14 14:00] jibees commented on #8716
I think I will close this issue, since I could not reproduce the issue: I've created a new cart, then proceed to new checkout, but could not reproduce it. Maybe a temporary bug on the old cart I had?

_For the record, the test I've created:_

[code]

[2022-01-14 14:00] #8716 closed

[2022-01-14 14:37] Matt-Yorkley opened #8724 "Remove/replace stringex gem"
### What we should change and why (this is tech debt)

We're using an old gem called `stringex` which I think is a hangover from Spree. As far as I can tell it's used in a fairly minor way in the creation of permalinks for things like enterprises. **It's got to go** :fire::fire::fire:

**The tricky part:** I can't really tell the full extent to which it's used, and where, and why...

**The bad par

[2022-01-15 14:55] #8628 closed

[2022-01-15 19:40] filipefurtad0 opened #8729 "[Split Checkout] Step 3 - Incorrect label/translation of "Country""
## Description

There's an inconsistency on the page rendering on step 3:
- where `Country` should be displayed `Label` is appearing

This came up while writing a spec to step - 3... This was always breaking on this page, I think I've found the reason.

## Expected Behavior

`Country` should be displayed as a country label.

## Actual Behaviour

`Label` is appearing as the country label.

## Steps

[2022-01-15 20:33] #8729 closed

[2022-01-16 15:30] SarvarKh commented on #8608
Hi @Cecilia-Hn, @RachL
I can't reproduce this issue when it came to making an order with a credit card and getting an error (see screenshot). Do I have to open a stripe account and link this stripe account with the test shopper(client)'s account in the OFN and then make the test payment?
I have tried different stripe test card numbers, but failed... would appreciate your help:pray:

<img width="14

[2022-01-17 10:03] lin-d-hop commented on #8608
Hi @SarvarKh
This is a complex issue that requires deep knowledge of the checkout flow. I would suggest its not a great issue for a new comer or non-core developer.
I don't want to demotivate you but you might like to just leave this one and choose something that is a little less soul destroying :-)

[2022-01-17 10:06] SarvarKh commented on #8608
Hi @lin-d-hop I see, thanks for the advice🙂

[2022-01-17 14:40] Matt-Yorkley commented on #8719
I've got a PR for this but it's blocked by #8679 and #8733...

[2022-01-17 14:47] Matt-Yorkley commented on #8694
Note on N+1 issues with **loading tags** specifically; see [this previous issue](https://github.com/openfoodfoundation/openfoodnetwork/issues/5213) for more detail (and potential solution).

[2022-01-17 15:27] #7891 closed

[2022-01-17 16:50] #8581 closed

[2022-01-17 20:30] #8707 closed

[2022-01-17 20:56] Matt-Yorkley commented on #8705
I need to redraft this now that #8707 is fixed...

[2022-01-17 21:08] Matt-Yorkley commented on #8705
Redrafted and updated :ok_hand:

[2022-01-17 21:12] Matt-Yorkley commented on #8713
Closed via #8712

[2022-01-17 21:12] #8713 closed

[2022-01-18 09:11] RachL commented on #8458
hello @tsara27 I hope this messge finds you well. Just checking in: are you still working on this issue?

[2022-01-18 09:12] RachL commented on #8620
hello @SarvarKh ! I'm just checking in: are you still working on this issue? Do you need any help?

[2022-01-18 10:55] drummer83 opened #8755 "[Map] Search input can't be selected/deleted using the mouse (back space only)"
## Description
As discussed in [this Slack thread](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1642438547043400), the input of the search field on /maps page cannot be selected with the mouse. It feels like you can't search again for something else. You actually can, but you have to use the back space key to delete the existing input letter by letter.

## Expected Behavior

You can selec

[2022-01-18 11:16] filipefurtad0 commented on #8705
The release is good to go :tada:
https://docs.google.com/document/d/1GGR3lpqPy3mRgCm0MK_cpcFuTzsj1hPXGbWYRVbsKxo/edit#

[2022-01-18 16:05] jibees commented on #8156
Has anyone reproduced this one already? @RachL maybe?

[2022-01-18 16:13] RachL commented on #8156
nope :sob: @lin-d-hop maybe?

[2022-01-18 16:31] lin-d-hop commented on #8156
Nope.
Might be worth asking the AU team if its still happening.
I suspect it might be related to products selling out of stock at a specific point in the checkout process. In which case wondering how split checkout will impact the work.

[2022-01-18 18:47] SarvarKh commented on #8620
Hi @RachL I couldn't reproduce this issue, it seems that it requires more time. Could you unassign me? so that others can also check this issue. I will also have a look over the weekends. Thanks

[2022-01-18 19:21] jibees commented on #8547
@RachL

You mean, payment method right?

[2022-01-18 19:35] Dmoment commented on #8457
@RachL Can I work on this issue?

[2022-01-18 19:39] lin-d-hop commented on #8457
Go for it @Dmoment :-)
To clarify the spec - let's remove the untranslated 'or' text.
Thank you!!

[2022-01-18 20:51] filipefurtad0 opened #8760 "[current master] Darkswarm stylesheet is not being loaded correctly"
## Description

On current [master](https://github.com/openfoodfoundation/openfoodnetwork/commit/e1849e5fb6cfa5a374f94f9267e87b9eea3e4f3a), it seems darkswarm stylesheet is not being loaded correctly.

## Expected Behavior

Pages should render as before.

## Actual Behaviour

Pages are not rendering correctly.

## Steps to Reproduce

1. Stage [master](https://github.com/openfoodfoundation/openfood

[2022-01-18 21:12] #8670 closed

[2022-01-18 21:55] Matt-Yorkley commented on #8760
Hmmm... it's only on UK. `master` looks fine on French Staging for example.

[2022-01-18 22:53] Matt-Yorkley commented on #8760
Seems like it's fixed now..? Something weird happened with Puma, but I can't tell what exactly.

[2022-01-19 09:20] jibees commented on #8477
@RachL
Currently deleting the last item of an order, is not possible due to this popup:

<img width="529" alt="Capture d’écran 2022-01-19 à 10 16 47" src="https://user-images.githubusercontent.com/296452/150100912-58968121-70dd-4e9a-a216-b9ed7c5a460f.png">

If I understood correctly, we should remplace this popup by the popup that ask the user if they want to send the cancellation email or not (

[2022-01-19 09:32] Cecilia-Hn opened #8762 "Order confirmation diplays wrong informations"
## Description

On the 1st January, on the 922 hub, a client ordered vegetables (including one onion) for 23.60 euros.
The order number is R652142303.

Few minutes later, the client received his confirmation order by mail for 23.60 euros, while the 922 hub was receiving confirmation order for 71.20 euros (with 20 onions more).
It seems that the client didn't changed his order (I checked sent mail

[2022-01-19 09:36] lin-d-hop commented on #8762
Hi @Cecilia-Hn
Do you also have the order confirmation email received by the Hub? That would be nice to also cross reference.
Thanks.

[2022-01-19 09:39] lin-d-hop commented on #8608
I think this might be relevant.
For a similar case in the UK the Payment screen in OFN looked like this:
![Screenshot from 2022-01-19 09-25-38](https://user-images.githubusercontent.com/8669848/150104375-f4e51d56-1602-46a8-b811-5277fdfc7be3.png)

It seems the problem happened when the bank requested SCA. Stripe or OFN didn't handle this well and returned an error rather than the appropriate SCA re

[2022-01-19 09:53] RachL commented on #8477
@jibees no all current popup needs to stay. You need to add a third one. Happy to discuss if there are other solutions than a popup though

[2022-01-19 09:57] RachL commented on #8547
@jibees yeah all good! Sorry I got fooled by "a la livraison" 😁

[2022-01-19 10:16] filipefurtad0 commented on #8760
Yes, all seems good now :shrug:
Closing :+1:

[2022-01-19 10:16] #8760 closed

[2022-01-19 10:30] RachL commented on #8762
@Cecilia-Hn note that if the customer edit their order after confirmation, OFN does not re-sent an email. I think to rule out user error, we should ask for a screenshot of the customer account. If there is 21 there too, someone definitely edited the order.

On metabase I can see that the order was updated after completion:

![image](https://user-images.githubusercontent.com/6525576/150112738-0f994

[2022-01-19 10:41] jibees commented on #8477
I read the last comment of Jana, that said:

That's why I started with a modal like this, appearing when deleting the last item of an order:
<img width="516" alt="Capture d’écran 2022-01-19 à 11 39 39" src="https://user-images.githubusercontent.com/296452/150114355-34cd2a6f-f215-4417-899b-c57022b904df.png">

But then I realized you wrote:

So, I agree: let's do a quick chat together, and discuss

[2022-01-19 10:47] RachL commented on #8477
@jibees I'm fine with your suggested modal:

![image](https://user-images.githubusercontent.com/6525576/150115359-75cffe86-2213-40e1-a748-f158af76b014.png)

Go for it :)

[2022-01-19 11:45] #8705 closed

[2022-01-19 13:39] #8684 closed

[2022-01-19 16:43] #8719 closed

[2022-01-19 23:24] mkllnk commented on #8762
No, we don't. And there is the unlikely possibility that our code changed the order. Does the updated_at time correlate with any of the emails?

[2022-01-19 23:50] mkllnk opened #8764 "Release v4.1.14"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-01-20 01:14] georgethoppil commented on #5335
I can take a look at this if no one else is

[2022-01-20 07:43] sigmundpetersen commented on #5335
Sure, go ahead @georgethoppil . Thank you 🎉

There was a previous attempt at this in #7622 that you could take a look at if you want.
It was only missing additional specs I think.

[2022-01-20 10:38] RachL commented on #8762
@mkllnk emails are sent on completed_at time not on update_at time...

@Cecilia-Hn when you say:

You mean that the hub **email** says 71.20 euros?

Are both email sent at the same time?

[2022-01-20 11:55] Matt-Yorkley opened #8765 "[Split Checkout] Terms and Conditions"
Showing the links to terms and conditions files and accepting them (for the instance and the hub) in the summary step of the split checkout needs some more work and improvements in the test coverage.

There's quite a lot of different combinations of scenarios, [outlined here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8653#issuecomment-1016423660) by @filipefurtad0

[2022-01-20 15:00] RachL opened #8767 "When deleting a line item, make returning to on-hand stock optional"
## Description

Suppliers on OFN are usually anticipating stock availability when they set up OCs. Product is still in the field. So it is often the case that their hopes did not materialize and sold products have to be removed from orders because they weren't available, or were of poor quality, etc.

When a manager (producer's own store, or a hub they supply) removes a product from an order today

[2022-01-20 15:20] jibees commented on #8477
_Context: Bulk Order Management_

It seems that, currently, there is no popup that prevent the consumer to not delete the last item of an order. I'm then wondering if we should consider the _Bulk Order Management_ context anyway (and then add more code to check if the item that the admin delete is the last of the current order) or skip this case for this papercut?

[2022-01-20 15:21] RachL commented on #8477
@jibees it's handle in : https://github.com/openfoodfoundation/openfoodnetwork/pull/8294 you need to work on top of this PR

[2022-01-20 15:26] RachL commented on #8698
@jibees is this a good first issue?

[2022-01-20 15:28] RachL commented on #8364
@filipefurtad0 I'm closing this one as we can't reproduce it for now.

[2022-01-20 15:28] #8364 closed

[2022-01-20 15:29] jibees commented on #8698
@RachL As we linked the _probably need to be modified_ file in the issue, I think too ;)

[2022-01-20 15:30] RachL commented on #8698
@jibees cool! Which column in https://github.com/orgs/openfoodfoundation/projects/2 do you think?

[2022-01-20 15:38] filipefurtad0 opened #8769 "[Split Checkout] Random behavior when activating split checkout for one user only"
## Description

Not sure if related to split checkout or feature toggling/flipper:
Some weird behavior is being observed if the split checkout feature is being activated for specific actors only.

## Expected Behavior

The rendered checkout page should be reproducible.

## Actual Behaviour

The rendered checkout page _sometimes_ displays the old checkout, _sometimes_ the split checkout.

## Steps

[2022-01-20 15:57] RachL commented on #7929
@filipefurtad0 I see all issues have been completed here. Can this epic be closed?

[2022-01-20 16:03] filipefurtad0 commented on #7929
We can close the epic I think :+1:
Thank you for noticing this.

There are however two pending issues:
- #8434
- and some final clean-up will surely be needed as well (after removing/migrating that last file  `spec/features/admin/invoice_print_spec.rb`) - no issue for this yet

[2022-01-20 16:07] #7929 closed

[2022-01-20 16:29] Matt-Yorkley commented on #8769
Possibly fixed here: https://github.com/openfoodfoundation/openfoodnetwork/pull/8758/commits/27001a5c5556db40731379e895558a77d70cdfd5

[2022-01-20 20:32] jibees commented on #8698
@RachL I'd say `Backend Easy`, but didn't manage to add to this column ;)

[2022-01-20 20:44] filipefurtad0 opened #8770 "Checkout error: order_invalid - "No valid order found for checkout processing" (?)"
## Description

Error `concerns/order_completion.rb:53 - order_invalid!` is appearing since release v4.1.12. Observed so far in production only in FR, BE and US.

I think the user might be seeing the flash error:
`"No valid order found for checkout processing"`

It seems to point out to a customer facing error on checkout (and to this order in FR-prod):

[code]

Taken from Bugsnag (FR):
https://ap