[2020-05-15 16:03] filipefurtad0 commented on #5340
That's it @luisramos0,
I've reproduced it the way you describe - awesome :tada:

It's interesting to observe that if two open OCs have the same products, and one of them closes before checkout, the products on the cart are automatically allocated to the OC remaining open, and neither the grumpy cat, nor warning is displayed.
That makes me wonder how and if having an alternative OC with the same pr

[2020-05-15 16:10] romale opened #5442 "Pointer on map does not reflect on address"
## Description

If i add address1 to enterprise, no pointer on map.
After insert coordinates to DB by hand, the pointer is shown on map. And, nothing changes on map after changing the address1. An addresses is correct and disacovered by google maps.
Also i was try to fill address2, nothing changes.

## Expected Behavior

After fill address1 of enterprise, pointer should be on map.

## Actual Behav

[2020-05-15 16:12] romale commented on #5441
It also happens on ofn2.9.8

[2020-05-15 16:19] luisramos0 commented on #5340
ah, interesting but the code that moves the OCs around and works if products are "compatible" between OCs is in the shop controller, it wont be used if you only load the checkout page. The checkout will probably break anyway.

[2020-05-15 16:32] filipefurtad0 commented on #5340
...Yup! Just checked: breaks anyway, despite having the same products on another open OC :-)

[2020-05-16 03:50] rmklaus12 commented on #5095
Checking back in on this one @RachL. Want to make sure we're all on the same page before I make any changes. Thanks!

[2020-05-16 10:35] luisramos0 commented on #5437
I am not sure exactly what went wrong for you but the staging server was connected to the UK LIVE account (not the test mode). I cant switch to the test mode without the credentials, someone with access to uk stripe account will have to do it: I created an issue to update ofn-secrets with those UK test credentials: https://github.com/openfoodfoundation/ofn-secrets/issues/37

Meanwhile I switched u

[2020-05-16 10:59] luisramos0 commented on #2647
There are two more issues related to this, I wonder if we have GH issues to represent them:
- there's the very annoying jump to primary details after saving. When you edit the social details and hit save, it should stay on the social details tab.
- another issue related to this form is that you need to edit the fields and click outside somewhere for the save button to become enabled.

[2020-05-16 11:20] luisramos0 commented on #5437
ping @Matt-Yorkley I updated stripe details in uk staging.

[2020-05-16 11:22] luisramos0 commented on #5436
This is caused by the manual process I used to deploy an extra language in uk staging.
I redeployed now and it looks good again.

ping @Matt-Yorkley fyi there's a manual fix in uk staging to make FR availalble and not just en_GB.

[2020-05-16 20:50] sauloperez commented on #5418
![](https://media.giphy.com/media/KWhczKwjE3AuQBWWjc/giphy.gif)

[2020-05-16 21:01] Matt-Yorkley commented on #5418
Hot tip for the cleanup steps: if you want to recreate the certificate on the server with a different set of subdomains supplied in the configs, you can do this:

`ansible-playbook playbooks/provision.yml --limit es-prod -e "certbot_force_update=true" --tags certbot`

Make sure the DNS is updated and the entry for `es-prod` is pointing at the new server first :trollface: :

[2020-05-16 21:10] sauloperez commented on #5418
A fix we needed: https://github.com/openfoodfoundation/ofn-install/pull/615
and the cleanup: https://github.com/openfoodfoundation/ofn-install/pull/616

[2020-05-17 07:44] Matt-Yorkley commented on #5418
I think that was the smoothest and fastest server migration to date! We had to do a quick bugfix part way through, and Pau stopped during the downtime to open a PR, but next time will be faster and easier.

:heart_eyes: :rocket:

[2020-05-17 10:00] luisramos0 commented on #5442
Hi! can you pls add more details about "After insert coordinates to DB by hand"
what exactly did you insert in the DB?
Thanks!

[2020-05-17 10:03] romale commented on #5436
I've this too on 2.9.6, 2.9.8. Or is it not related?
![image](https://user-images.githubusercontent.com/928628/82141436-84b3ed80-983e-11ea-9dcd-89896511908d.png)

[2020-05-17 10:05] romale commented on #5442
Hi @luisramos0 ,
I do this:
`update spree_addresses set latitude='55.41030689999999', longitude='37.9024513' where id='3';`
I wrote about this in that thread https://openfoodnetwork.slack.com/archives/C0DNLAZC7/p1589045435218600

[2020-05-17 10:16] romale opened #5445 "Missing translation keys in Enterprise info"
## Description

I've translated all of them, but translation does not work

![image](https://user-images.githubusercontent.com/928628/82141688-43244200-9840-11ea-8ead-f17bc65b151c.png)

![image](https://user-images.githubusercontent.com/928628/82141702-4f100400-9840-11ea-8aca-834c9f7cd51b.png)

## Expected Behavior

Translation should work

## Actual Behaviour

## Steps to Reproduce

1.
2.
3.
4.

[2020-05-17 10:31] romale commented on #5442
From google console
![image](https://user-images.githubusercontent.com/928628/82142112-ae6f1380-9842-11ea-9bb5-a22616578681.png)

[2020-05-17 10:42] luisramos0 commented on #5436
hello @romale
Is that Russian? If so, your problem is missing translations, you can add it in transifex here:
https://www.transifex.com/open-food-foundation/open-food-network/translate/#ru/enyml/80855452?q=key%3Aprimary_Details

Russian is still mostly untranslated:
![image](https://user-images.githubusercontent.com/1640378/82142319-5a106780-9833-11ea-88f8-8deb6f64edc2.png)

[2020-05-17 10:49] luisramos0 commented on #5442
ok :+1: That means geocoding is not working for you.

I am not sure what's the problem.
This is the setup guide:
https://github.com/openfoodfoundation/ofn-install/wiki/Google-Maps

Could this be a problem with google geocoding not finding the specific address you are trying? can you try an address in another country that is working in another instance?

I'd go to another instance, create enterpris

[2020-05-17 10:58] romale commented on #5436
@luisramos0 , yes it's russian. Now, i translate via local yaml file. I don't use transifex yet.
May be this will help
[code]
It's ru_RU.yml in text editor
![image](https://user-images.githubusercontent.com/928628/82142621-5f2ae200-9846-11ea-94ef-3e0d934be35a.png)

[2020-05-17 13:13] romale commented on #5442
I was change address to 100% valid on google maps and the result is same, no changes on map.
![image](https://user-images.githubusercontent.com/928628/82147325-a1105400-9857-11ea-947c-814f402fc791.png)
![image](https://user-images.githubusercontent.com/928628/82147743-7f639c80-9858-11ea-8918-bdcde2798af5.png)

On UK OFN
![image](https://user-images.githubusercontent.com/928628/82147814-07e23d00-98

[2020-05-17 13:23] romale commented on #5442
@luisramos0 i was set google api restrictions to None and now address change is working!
Before i was this restrictions
![image](https://user-images.githubusercontent.com/928628/82148030-87bcd700-985a-11ea-9fe6-fec0930043bd.png)

Now address changed (but with some browser console errors)
![image](https://user-images.githubusercontent.com/928628/82148045-a622d280-985a-11ea-80f8-2f8cfc29ee1d.png)

[2020-05-17 13:34] romale commented on #5442
For future cases.
This google api restrictions does not work in this sequence for OFN URL "openfoodnetwork.ru"
[code]
But in this sequence is working
[code]

[2020-05-17 13:35] romale commented on #5442
@luisramos0 , thank you for your assistance!

[2020-05-17 13:35] #5442 closed

[2020-05-17 14:01] luisramos0 commented on #5436
Hi @romale your problem is most probably related to your custom translations process.
I dont think we will support a different translation process not in transifex. You can upload your file to transifex and follow the normal process.

[2020-05-17 19:56] lin-d-hop commented on #5433
https://docs.google.com/document/d/1rXLmg7q-wBwnYj7FO6J1KnG172g86Y5k3GPZ5WoBoXA/edit#

Ready to go team. Lovely lovely.

[2020-05-17 21:11] luisramos0 commented on #5445
Hi @romale, as you shared on the other issue, you are not following the standard translations process with transifex.
Anyway, if the keys are on the file you are probably having problems with unicorn or the assets. You can try to recompile assets on the server manually.
This is far from the recommended way to proceed so I wonder if we should close this issue or not.

Can you please upload your tra

[2020-05-17 21:12] luisramos0 commented on #5441
pls see #5445 this is related to the translations file. I'd say the translations are not loaded correctly so this is a duplicate of #3567

[2020-05-17 22:20] filipefurtad0 opened #5447 "[Spree 2.1] Stripe SCA - broken links on authentication page"
## Description

The authentication page of Stripe SCA payment method leads to two broken links, by choosing Complete Authentication or Fail Authentication (below):

![image](https://user-images.githubusercontent.com/49817236/82161122-0aad5400-9892-11ea-9f84-93e4df78ad8c.png)

Both of these lead to:

![image](https://user-images.githubusercontent.com/49817236/82161152-3defe300-9892-11ea-8573-9c2bf3

[2020-05-17 23:01] filipefurtad0 commented on #5437
Hi @luisramos0,
I tried connecting my stripe account and it worked, as well as the basic functionality:
- Stripe Connect payments, with the 42424... card.
- Stripe SCA payments, with the 42424... card.
- Stripe SCA fails when using a 3D secure card: authentication page leads to broken links - this is now issue #5447

I observed an error 404 when creating a Stripe payment method. This happened by l

[2020-05-18 07:20] RachL opened #5449 "Partial refund not available (refund amount is greater than unrefunded amount) - Initial/successful partial refund in Stripe not registered in OFN"
## Description

A big user in France is having this problem on two orders. This user don't want us to try the refund through Stripe directly. I'm a bit stuck on what to do next.

When you try to refund you get a message saying the amount you are trying to refund is greater than the unrefunded amount. Yet the unrefunded amount is a figure that is not known...

Hub is number 922 and they are not on

[2020-05-18 07:30] RachL commented on #5095
I'm so sorry @rmklaus12 I must have missed your previous message! Yes this is looking all good and clear, thanks! :+1:

[2020-05-18 07:45] rmklaus12 commented on #5095
No worries! I will make the changes and Puuusssshhh :-)

[2020-05-18 07:47] RachL commented on #5094
As there seem to be no activity here, I'm moving it back to the list of available issues.

[2020-05-18 07:49] luisramos0 commented on #5437
thanks for testing Filipe!
404.. hmm... we will see if it happens again...

[2020-05-18 07:49] #5437 closed

[2020-05-18 07:52] kristinalim commented on #5449
Here are some details for R288734641:

* order `item_total` - 56.66
* order `total` - 48.8
* order `adjustment_total` - -7.86 (consistent with adjustments amount)
* order adjustments `included_tax` - -0.45
* line item adjustments `amount` - 2.95
* line item adjustments `included_tax` - 2.95
* line items `price` sum - 49.89
* payments `amount` sum - 57.51

[2020-05-18 07:54] sauloperez commented on #5418
Something Eugeni spotted is that preferences (I guess all) weren't properly picked up. He saw emails were labeled as "Spree demo site". It turns out that although preferences in DB got successfully migrated, the Rails cache contained the seed data values from the initial server setup. I had to run the following to invalidate and refetch from DB.

[code]

We should document this somehow or even aut

[2020-05-18 08:09] luisramos0 commented on #5442
I am sorry but I do not understand your previous comment, can you pls clarify if the problem is solved for you?
If the problem is solved can you try to explain what was the cause and solution?
Thanks!

[2020-05-18 08:11] kristinalim commented on #5449
@RachL It looks like the Stripe refund succeeded but there was a problem in the OFN side. The Stripe charge has these data, and the difference explains the 5.25 amount:

[code]

The refund consisting of 6 refunds worth 8.71, which was the amount attempted to refund.

[2020-05-18 08:14] kristinalim commented on #5449
The 8.71 amount comes from payment made minus the adjusted order total.

[2020-05-18 08:14] RachL commented on #5449
😱 sooo... these people now owe the hub money? Thank you so much for looking into it @kristinalim

[2020-05-18 08:18] kristinalim commented on #5449
That looks like it, @RachL. And there doesn't seem to be a way to cancel refund in the Stripe side: https://support.stripe.com/questions/canceling-a-refund

[2020-05-18 08:36] RachL commented on #5449
Ok so I'm guessing this is an s2... I will ask on Slack.

[2020-05-18 08:55] Matt-Yorkley commented on #5418
We did a restart of unicorn and delayed job, right? Its weird they weren't picked up initially.

[2020-05-18 08:56] rmklaus12 commented on #5094
I'll grab this!

[2020-05-18 08:58] Matt-Yorkley commented on #5442
Removing the Google API restrictions is needed. I think its in the wiki. It's solved now, right @romale?

[2020-05-18 09:04] sauloperez commented on #5418
yes, very weird... I can't find an exact explanation.

[2020-05-18 09:30] #4534 closed

[2020-05-18 09:32] luisramos0 commented on #5442
ah, ok, on the wiki it says "no restrictions" is the default...

[2020-05-18 09:33] Matt-Yorkley commented on #5418
That cache clearing seems like an important step, we should add it to the wiki page. Would a full `Rails.cache.clear` be a good idea?

[2020-05-18 09:33] Matt-Yorkley commented on #4601
Are we good to close this epic now @daniellemoorhead ?

[2020-05-18 09:34] romale commented on #5442
I'm sorry @luisramos0. Yes, this need solution description.

If i'm using HTTP Google API restrictions, so pointer on the map does not work. But if I use IP address Google API restrictions (and define OFN instance IP), all working fine.

[2020-05-18 09:35] romale commented on #5442
it is impossible to leave in work without restrictions, only for the duration of testing. Otherwise, anyone will be able to use the API key and then you will be left without money in your google account

[2020-05-18 09:39] luisramos0 commented on #5442
ok, that makes sense! but the wiki page is saying a different thing. I wonder what other instances have? "No restrictions"?

[2020-05-18 09:43] romale commented on #5442
From OFN CANADA API key seems work fine in my instance :)

[2020-05-18 09:47] romale commented on #5442
Accordingly, anyone can use the api key until the money runs out on the account.

[2020-05-18 09:50] luisramos0 commented on #5442
:-O

So I wonder if this still true?
"Unfortunately, the current restrictions model doesn't allow us to use the same key for Google Maps and geocoding. So we need to keep the key without restrictions."

[2020-05-18 10:03] romale commented on #5442
One key is used for the specified api in the Google console. It may be Maps and/or Geocoding. And in principle, you can use one api key for all ofn nodes. It depends on what community policy.
In my opinion, it is better to make restrictions for api. But maybe there is some secret meaning in "without restrictions", which is unknown to me.

[2020-05-18 10:08] romale commented on #5442
OFN UK also without api restrictions

[2020-05-18 10:20] filipefurtad0 commented on #5433
Hey @mkllnk and @lin-d-hop ,
I've stumbled across a loss in functionality in the OC selector. Basically, the clickable area of the OC selected is now significantly reduced, which makes the selector appear as not working. In staging, only the green area (pic below) is possible to activate, to see the drop-down list of open OCs:

![image](https://user-images.githubusercontent.com/49817236/82200671-3

[2020-05-18 10:25] #5299 closed

[2020-05-18 10:43] luisramos0 commented on #5449
ah, nice finding Kristina   57.51 - (6*8.71) = 5.25 :tada:
So, the refund of 8.71 worked but it was not flagged on the OFN side. So the user clicked 6 times on the refund button before the error appeared, right?

I am working on the SCA refunds issue #5258, maybe I can have a look at this as well.

[2020-05-18 10:45] luisramos0 commented on #5449
If this is correct, the customer needs to pay 5 * 8.71 = 43.55eur back to the hub.

[2020-05-18 11:23] daniellemoorhead commented on #4601
No @Matt-Yorkley as that issue with the iOS keyboard is still open and needing to be fixed.

[2020-05-18 11:23] daniellemoorhead commented on #4601
You're welcome to remove yourself from the epic, I'm going to see if I can find some help from devs I work with on the other job.

[2020-05-18 11:24] luisramos0 commented on #5433
I can replicate, I am trying to find what caused this problem.
Looks like the mobile search filters PR #5330 is the only mobile PR in this release. It's quite a big PR, I am trying to understand what commit caused the problem.

[2020-05-18 11:34] luisramos0 commented on #5433
ok, this is caused by #5330
I have found the commit that introduced this problem. it's the second commit in #5330
https://github.com/openfoodfoundation/openfoodnetwork/pull/5330/commits/f46ca0c5956084bd5a028d8f580c8fc7587941ff

[2020-05-18 11:43] luisramos0 commented on #5433
[this line](https://github.com/openfoodfoundation/openfoodnetwork/pull/5330/commits/f46ca0c5956084bd5a028d8f580c8fc7587941ff#diff-5adb00cccb8e23d76783b6c406af4714R12) moves the z-index of the tab buttons on the left over the OC selector making the selecor clickable above the tabs line:
![image](https://user-images.githubusercontent.com/1640378/82209401-2271f000-9905-11ea-92b7-cd84fb8285d9.png)

[2020-05-18 11:48] RachL commented on #5449
yes :(

Exactly.

[2020-05-18 11:52] luisramos0 commented on #5433
I see that the z-index was introduced so that the shadow of the tab buttons is still seen over the search bar or the OC selector (when on mobile). So, it's needed.
I tried playing around with z-index of the OC selector but it's position is "absolute".
@Matt-Yorkley thoughts?

[2020-05-18 13:02] sharonfruit commented on #5094
@rmklaus12 My Docker image is broken at the moment, but I made a pull request for what I had. Feel free to trash and start over or to use it and modify.

@RachL sorry I couldn't devote as much time to this as I wanted. I agree it's best that you re-assigned.

[2020-05-18 13:08] luisramos0 commented on #5384
Now I see we were granted access to BR :tada:

There's a data consistency problem in the database with more than one override for the same hub_id and same variant_id:
![image](https://user-images.githubusercontent.com/1640378/82215370-3a4e7180-990f-11ea-9d84-58235de3951f.png)

`select hub_id, variant_id, count(*) from variant_overrides group by hub_id, variant_id having count(*) > 1;`

The user of

[2020-05-18 13:12] luisramos0 commented on #5384
To confirm my theories I manually deleted the variant_override with count_on_hand zero in the BR live database and the original Nectar de Caju problem is now fixed here:
https://www.openfoodbrasil.com.br/instituto-acacia-estoque/shop#/shop

[2020-05-18 13:33] luisramos0 commented on #5433
ok, so I created a branch for the patch called 2.9.9
I merged Matts commit and I made that last commit the base for the 2.9.9.
I have updated the link to the build in semaphore, that build can be used to re-stage and re-test the issue and maybe make some final verifications of the release. Ready for testing again.

[2020-05-18 14:00] filipefurtad0 commented on #5433
I've staged and checked that the whole surface of the OC selector is clickable and works as expected. The issue is solved and the release is unblocked :tada:

[2020-05-18 14:16] filipefurtad0 commented on #5436
@luisramos0 ,

This is now fixed, the menu is now displayed correctly:
![image](https://user-images.githubusercontent.com/49817236/82223336-6d4a3280-991a-11ea-8a07-feb1db070e1d.png)
:+1:

[2020-05-18 15:39] filipefurtad0 commented on #5433
Blocked label is back on till further clarifications on the issue @Matt-Yorkley found, and in discussion on Slack.

[2020-05-18 18:30] tschumilas commented on #5423
If there are no objections -  no one has said anything - can we do it as an s2?  might it even be a paperclip do you think?  I've got a list of 20 farmers markets waiting on this one.

[2020-05-18 18:46] tschumilas opened #5454 "Can the links to shops on the group page open into new tabs?"
## Description
At present on a group page - see for example: https://openfoodnetwork.ca/groups/www-openfoodnetwork-ca-justfoodfarmstand#/producers,   each of the links to different farm shops opens in the same tab.   Is there a way to change the links so each opens in a new tab?

In OFN_CAN we have a number of farmers' markets set up as groups.  But,  because we don't have split payments,  each ve

[2020-05-18 19:15] luisramos0 commented on #5179
I am pretty sure we experienced this again in Brasil, user tries to connect to stripe but is on www.openfoodbrasil.com.br
stripe redirect is configured for openfoodbrasil.com.br, when user lands on OFN: openfoodbrasil.com.br
This is not the only reason we should make openfoodbrasil.com.br redirect to www.openfoodbrasil.com.br, I am pretty sure this is flagging duplicate content for SEO for example

[2020-05-18 19:46] #5436 closed

[2020-05-18 19:50] luisramos0 commented on #5423
yes, I agree, S2.
Kirsten has agreed as well on slack.

[2020-05-18 20:57] filipefurtad0 opened #5455 "Stock levels not taking the expected effect on /cart page"
## Description

The stock levels for different products set incorrect limits in the cart page. When increasing the amount of a product with existing stock, the  modal for insufficient stock is triggered once the stock of one of the items' amounts is exceeded. This happens with inventory set take the settings from the producer. See pics/example below.

## Expected Behavior

It should be possible to

[2020-05-18 21:25] Matt-Yorkley commented on #5455
I've just been looking at some related code in another PR. I think this might be related to the angular $scope on the directive...

[2020-05-19 00:33] mkllnk commented on #4671
Yes, my pending pull request removes those items from the product listing.

[2020-05-19 00:39] rmklaus12 commented on #5094
Happy to take over @sharonfruit. :-)

[2020-05-19 03:09] #4671 closed

[2020-05-19 08:05] mkllnk commented on #5455
@filipefurtad0, @Matt-Yorkley said that this issue is not new. Can you re-produce this problem in production? In that case we don't need to delay the release.

[2020-05-19 09:03] filipefurtad0 commented on #5455
Hi @mkllnk ,

Yes, I'm catching up now and it seems not be introduced by the release - which is good news! Also, that there is a fix for this already... Awesome :+1:

No need to delay the release from my side - thanks Maikel!

[2020-05-19 09:33] luisramos0 commented on #5386
I think I found a way where we can do this upgrade without having to finish #4826 first here: #5456

That means we can start thinking about this upgrade. The official upgrade guidelines are here:
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-0-to-rails-4-1

From this list, some of the points we may need to address are:
- https://edgeguides.rubyonrails.org/u

[2020-05-19 09:36] Matt-Yorkley commented on #5423
Okay, this is an interesting "phantom feature". As Luis says; there's no reference to this anywhere in the code, and no tests for it. I would have assumed in this case the OC would not display as active.

[2020-05-19 09:55] luisramos0 commented on #5423
yeah, I think we need to write a spec for it so it becomes a normal feature.

do you see the change Matt?
https://github.com/openfoodfoundation/openfoodnetwork/pull/5262/files#diff-c7c5d88a2da5beebdce7a4473dbc86ceR4
the structure was "if and unless" and I changed it to "if else"

[2020-05-19 10:07] Matt-Yorkley commented on #5423
Yes, I'm playing with it now. It seems very odd to me though. In lots of paces in the code, if there are no payment methods then the shop is closed.

[2020-05-19 10:22] luisramos0 opened #5459 "[Spree 2.1] Issue creating schedules in tests"
## Description
Many [broken tests in the build](https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/3-0-stable/builds/81), I think they all relate to this schedule_id null in order_cycles_schedules table:
![image](https://user-images.githubusercontent.com/1640378/82315180-d8e7da80-99c2-11ea-80ff-70a408201cd4.png)

I believe this will be related to https://github.com/openfoodfound

[2020-05-19 10:24] daniellemoorhead opened #5460 "Make /shops layout on mobile the same as /producers"
## Description
At the moment, when you're portrait on /shops you can't see the names of the shops at all, but you can see the names on the /producers page.

## Expected Behavior
I can see the shop names on /shops in portrait view on mobile like I can see producers names on /producers/

## Actual Behaviour
The names don't display on /shops like they do on /producers

## Animated Gif/Screenshot
<img

[2020-05-19 10:33] Matt-Yorkley commented on #5423
Even if we show the product list, there are multiple other problems that leave this "feature" totally broken:

- No OCs are displayed because the shop is technically closed. If there are multiple "active" OCs (but no payment/shipping), no OC can be selected, so the "display only" shop does not function
- The "add to cart" buttons are shown as if the shop is open, but we get errors when adding to t

[2020-05-19 10:33] kirstenalarsen commented on #5460
hmmm maybe, i suspect the problem is the closing time which is an extra field, on most of the shops links above you can't actually see any text, which means if you wrapped it around you could
e
n
d
u
p
w
i
t
h
something like that?

I think it's probably a papercut rather than a bug

[2020-05-19 10:34] kirstenalarsen commented on #5460
but if it's a papercut it is definitely one that needs design eyes, and it's outside the scope of the ones that designers can be pinged on (i.e is not shopfront, cart or checkout)

[2020-05-19 10:34] luisramos0 commented on #5423
Can you add to cart? I thought the items were showing as disabled in the product list.

[2020-05-19 10:38] Matt-Yorkley commented on #5423
If I change the conditional so that the product list is shown, I can add items to the cart, but it's basically broken.

[2020-05-19 10:40] luisramos0 commented on #5459
I googled this a bit but I cant fix it :-(
ping @sauloperez, any idea?

[2020-05-19 10:40] Matt-Yorkley commented on #5423
If I then go the cart page, I get bounced to the home page with this message:

![Screenshot from 2020-05-19 12-39-08](https://user-images.githubusercontent.com/9029026/82316967-e5bdfb80-99cd-11ea-9182-99e71a367ef2.png)

[2020-05-19 10:41] Matt-Yorkley commented on #5423
Also the product filters are not shown, because there is not a valid OC, so the order cycle taxons and properties endpoints return nothing.

[2020-05-19 10:44] Matt-Yorkley commented on #5423
So I think the current state of this feature is a total mess. If we want it as a feature we should do it properly, add something like a flag on order cycles where the user can set them as "display only", then add new logic in all the relevant places in the code, and have relevant UX etc.

[2020-05-19 10:44] lbwright22 opened #5461 "Incorrect Variant in Customer Order Confirmation Email"
## Description

Customer places order for 500 g pork lion from Helston Food Hub (producer = Primrose Herd).
In confirmation email sent to both hub and customer it states that a 1 kg pork lion was purchased.
Stock levels have been correctly reduced for the 500 g variant and the customer total report shows the 500 g variant.
Order number R002618561
For this hub, variants of other products have also

[2020-05-19 10:54] luisramos0 opened #5462 "[Spree 2.1] Fix new caching specs in rails 4 branch"
## Description
This spec is broken:
spec/features/consumer/caching/darkwarm_caching_spec.rb
I dont understand this problem
[code]

the build:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/3-0-stable/builds/81

[2020-05-19 11:01] luisramos0 opened #5463 "[Spree 2.1] Fix new action caching code in rails 4 branch"
## Description
This spec is broken in rails 4 branch since action caching was merged:
spec/controllers/api/order_cycles_controller_spec.rb:3

Action caching needs to be adapted to rails 4, according to the upgrade guide we need to add a new gem:
"Rails 4.0 has removed Action and Page caching from Action Pack. You will need to add the actionpack-action_caching gem in order to use caches_action and

[2020-05-19 11:02] luisramos0 commented on #5462
ping @Matt-Yorkley any thoughts?

[2020-05-19 11:20] tschumilas commented on #5423
Totally agree its not a feature - it was just an available hack.  Not sure how many use it now.  I have a group of farmers markets who I 'promised' it to before it broke.  BUT - I totally agree with all the problems with it that you mention.    If there is a desire to consider this for a re-design then I can get back to the markets and say it isn't going to be possible for now.   Be nice if I knew

[2020-05-19 11:32] kirstenalarsen commented on #5454
I have added this to the potential papercuts pile. I think it is clear enough from a product perspective (@lin-d-hop ) - @sauloperez could you check it re. tech and then we could put into 'next up' for @tschumilas to choose in next round?

[2020-05-19 11:37] lin-d-hop commented on #5454
I feel like this could have been more clearly described using the feature template. Can still be a papercut.

[2020-05-19 11:39] kirstenalarsen commented on #5423
dammit - what a mess. did the problems you are picking up pre-exist @Matt-Yorkley ? was all that terrible ux in place previously? I suspect so, and it was ok - not ace but delivered what @tschumilas 's users needed which is why they were using it. Is there a reason that the restoration to the broken and confusing state with all the problems can't happen? is it the new order cycle selector or somet

[2020-05-19 11:53] daniellemoorhead commented on #5460
Assumption that this is an easy fix disproven, sadly, so I'm deleting this.

[2020-05-19 11:53] #5460 closed

[2020-05-19 12:21] Matt-Yorkley commented on #5423
I think there are multiple recent changes that affect this in different ways, including Mobile UX improvements and improvements to cart error handling that fixed other S2 bugs. It wouldn't be easy to replace or undo those changes without messing with various other things. The problem is it was a hack and not a feature, and it probably shouldn't really have worked before anyway. As such there was n

[2020-05-19 12:34] Matt-Yorkley commented on #5423
Okay, I'm a bit unsure how to proceed with this one. Should I go ahead and implement this as a feature?

[2020-05-19 12:42] tschumilas commented on #5423
I have to say,  I'm not sure on our process either -  does this have to be first created as a wishlist item and voted on?  I'm guessing its not a papercut.   Can anyone advise on process?

[2020-05-19 12:43] lin-d-hop commented on #5423
Oooof this is a tough one.
In the UK I 'deprecated' this 'feature' a while back due to the unreliable nature of the hack.

@Matt-Yorkley do you have an idea of t-shirt size?

I feel like we've never prioritised this 'feature' and I would be uncomfortable prioritising it now. In a more complete form this is requested often... but given the state of the mess I feel we need to go back to inception st

[2020-05-19 12:44] kirstenalarsen commented on #5423
Yeah ok, I see - definitely don't want to mess with mobile and cart error improvements. I think if it were to be implemented as a feature it probably needs to go to wishlist and back into the mix - sorry @tschumilas :(

I wonder if they could workaround by using Inventory for the shop and setting all the prices at zero and separating the stock levels? Then have shipping methods that say "DISPLAY O

[2020-05-19 13:00] filipefurtad0 opened #5467 "Shopfront search box returns all records when none is expected"
## Description

The search box in the shopfront (/shops) is showing all records when it should return zero results. This appears to be introduced by the latest release 2.9.9 #5433 .

## Expected Behavior

No results should be returned if there are no shops matching the text inserted in the search box.

## Actual Behaviour

All the shops are being returned.

## Steps to Reproduce

1. Go to /shops
2

[2020-05-19 14:16] tschumilas commented on #5423
You are a genious @kirstenalarsen  -  I was scheming something along the lines of market as a distributor for each vendor.....   but couldn't solve that way -  but your hack would indeed work(ish).  In fact,  they could place orders that way -  vendors would have to be sent the details (until their customer names appear on a report)  and then enter orders manually into their own (vendor shop).  Co

[2020-05-19 14:35] luisramos0 commented on #5423
hey @Matt-Yorkley when I try to put the if statement I changed in my PR the product list comes up again but the products can now be added to the cart, do you understand why the product lines are not disabled as before? I don't see from what PR this came from.

[2020-05-19 14:36] RachL commented on #5402
3 new complaints since last week. All on Chrome.

[2020-05-19 14:59] luisramos0 commented on #5386
The sum method changed in an activerecord relation in rails 4.1. This will be needed:
https://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-sum
![image](https://user-images.githubusercontent.com/1640378/82342536-a1d8ef80-99e9-11ea-8d8f-ff8da7236460.png)

[2020-05-19 15:54] Matt-Yorkley commented on #5423
I'm not sure why that has changed. I can't believe this used to work (until recently)!

[2020-05-19 16:28] Matt-Yorkley commented on #5024
Yeah, I can take this one. I think these cart bits won't clash with the other mobile PRs :tada:

[2020-05-19 18:31] #5455 closed

[2020-05-19 20:38] filipefurtad0 commented on #5433
Hey @mkllnk,

Issue #5467 was also detected but as far as discussed on Slack in the #testing channel, this should not be a release blocker. So, in this regard, I think it's safe to remove the blocked label, and proceed with the release.

[2020-05-20 00:54] mkllnk commented on #5337
This issue has been linked to an error in Bugsnag
[**ActiveRecord::StatementInvalid** in **spree/admin/products#create**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5ec36f5c90165d0017f07e4f?event_id=5ec36f5c005b414371070000&i=gh&m=li)

[2020-05-20 01:05] #5433 closed

[2020-05-20 06:59] emilyjeanrogers opened #5470 "Import Validation Overview had incorrect column headers"
## Description

When importing product details using the Product Import features, a file was uploaded and the Import Validation Overview appeared. There were no errors. The Import Validation Overview table showed the data to be imported. All of the column names were incorrect (ie. the column that included Weight was labelled Producer, the column that included Producer was labelled SKU, the column

[2020-05-20 07:25] emilyjeanrogers opened #5471 "Error Message for failed Product Import is not accurate"
## Description
When an import file includes a variant unit name (eg. packet/item) that is different to that of the top level product, the following error message is displayed:

**Variant_unit_name cannot be updated on existing products via product import**

This is not the reason for the failed import. The import fails because the variant unit name is different to the top level product's variant u

[2020-05-20 10:48] lbwright22 opened #5472 "Incorrect Enterprise Fees Associated with Incoming Products"
## Description

Enterprise A (hub) is co-ordinating an OC.
Enterprises B and C supply the OC.
On the 'Incoming Products' section, enterprise fees associated with both enterprises B and C can be added but **not** enterprise fees set by enterprise A.
Order cycle co-ordinators should be able to set their own fees to suppliers in order cycles.

## Expected Behavior

Enterprise A (hub) is co-ordinating

[2020-05-20 11:11] lbwright22 commented on #5472
![](https://github.trello.services/images/mini-trello-icon.png) [adding enterprise fee to OC for Good Food Exeter](https://trello.com/c/5SVleRks/1076-adding-enterprise-fee-to-oc-for-good-food-exeter)

[2020-05-20 15:37] tschumilas opened #5473 "Groups Enterprises are not mapping"
## Description
Enterprises attached to groups are not showing on the map.
These enterprises are showing on the mainpage map -  but not in the groups map

## Expected Behavior
Enterprises should show (if visible) on the main map,  as well as on their group map (if they are a member of that group)

## Actual Behaviour
Enteprises are showing on the main page map,  but not on the group page map

## St

[2020-05-20 17:50] pacodelaluna commented on #5428
Ok, I was able to reproduce the issue locally, the Adjustment has to be negative actually for the issue to pop up. I will dig a bit more.

[2020-05-20 19:36] #5400 closed

[2020-05-21 01:38] luchiago commented on #5303
Hi @filipefurtad0. Can I work on this?

[2020-05-21 07:17] rmklaus12 commented on #5094
I believe a solution is in place...on the new order page in French I am seeing 'Nouvelle commande', the other tabs on Order seem to be still correct. @RachL - can you please confirm based on these screenshots
<img width="1203" alt="Screen Shot 2020-05-21 at 5 10 52 pm" src="https://user-images.githubusercontent.com/30268789/82533243-3a0bdb80-9b86-11ea-8390-19749509e396.png">
<img width="1141" alt=

[2020-05-21 07:33] rmklaus12 commented on #5094
I believe the fix is in place. @RachL - can you please confirm based on these screenshots, that this is the wording you want? I have changed other files based on @luisramos0 suggestion to the other dev, so will push all changes and open a PR if you are happy with this bit. Thanks!
<img width="1098" alt="Screen Shot 2020-05-21 at 5 10 39 pm" src="https://user-images.githubusercontent.com/30268789/8

[2020-05-21 07:37] filipefurtad0 commented on #5303
Hey @luchiago,
Sure, you are very welcome! :-)

[2020-05-21 10:23] luisramos0 commented on #5201
I cannot replicate this locally and I get a 200 on the file:
![image](https://user-images.githubusercontent.com/1640378/82549325-ae2d8b80-9b54-11ea-97ab-6c9332e56074.png)

That means this is related to the assets pipeline in some way as the 404 error in staging is not on the file name exactly but on a file with a timestamp at the end:
![image](https://user-images.githubusercontent.com/1640378/8254

[2020-05-21 11:23] luisramos0 opened #5477 "[mobile ux] Re-add drop shadow to tabs menu in the shopfront"
## Description
The quickfix #5451 removed the dropshadow from the tabs menu in the shopfront, see here for more details:
https://github.com/openfoodfoundation/openfoodnetwork/issues/5433#issuecomment-630126531

Now we need to find a way to add this drop shadow again.

## Severity
bug-s5: we can live with it, only a few users impacted

## Possible Fix
The initial fix was to move the z-index of the

[2020-05-21 11:49] luisramos0 commented on #5193
I tried to do this but looks like rails is blocking this,, even in rails 4 branch I see:

[code]

Looks like we will have to wait for later versions of rails before we do this upgrade to bundler 2.

[2020-05-21 14:43] sauloperez commented on #5071
I tried reproducing this in staging and both the producer and hub can delete the permissions. That gif you shared was in production? I can go check in the DB and see what are their settings but any background you may have will be useful. If we could do exactly what you did in the gif while I'm watching the logs, it'd be ace

[2020-05-21 14:48] #5463 closed

[2020-05-21 14:49] luisramos0 commented on #5387
I think we should verify this in staging when the rails 4 branch is green again and can be deployed.

[2020-05-21 16:11] RachL commented on #5094
looking good thanks @rmklaus12 !

[2020-05-21 20:21] #5095 closed

[2020-05-21 23:05] kirstenalarsen opened #5481 "Closed shop message showing instead of Home message on closed shop"
## Description

This Hub is closed

The closed shop message is showing in the Home tab as well as the Shop tab
![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/044aad75-fb5c-4f7a-999e-3fe6f38d3340)

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/25d944fa-d95f-4de3-a828-474db7fe860c)

Confirmed that the Hub does have a Home tab message, which I

[2020-05-22 06:47] Matt-Yorkley commented on #5459
So the join table `order_cycle_schedules` requires both `order_cycle_id` and `schedule_id` to not be `null`, but the suite is trying to create/save them without those attributes? Maybe it needs a tweak in some of the related factories?

[2020-05-22 06:50] Matt-Yorkley commented on #5459
A schedule is being created with a collection of order cycles, but on save; the schedule itself is what's missing an id. Didn't we encounter some problems like this in the upgrade before, around persistence of associated collections? It sounds familiar.

[2020-05-22 07:02] Matt-Yorkley commented on #5462
I'll take a look. This is the `Spree::Taxon.distributed_taxons` scope...

[2020-05-22 07:36] Matt-Yorkley commented on #5462
Well this is very odd, there are lots of places now where for example: calls to things like `Spree::Taxon.where...` are now saying we can't call `#where` on an `Array`. So `Spree::Taxon` is an array..?

If I change these bits to `Spree::Taxon.unscoped.where...` it seems to pass / work as expected.

Another odd thing: these bits of code are failing when loading pages in feature specs in the test su

[2020-05-22 08:00] Matt-Yorkley commented on #5462
I think it might be related to this: https://github.com/rails/rails/issues/10658

Jon Leighton's name is all over it again :sweat_smile:

[2020-05-22 08:35] Matt-Yorkley commented on #5462
Okay, it's only in these caching feature specs and not anywhere else... this is really strange.

[2020-05-22 08:36] luisramos0 commented on #5481
:-( this was a requirement here: https://github.com/openfoodfoundation/openfoodnetwork/issues/4573

[2020-05-22 09:25] luisramos0 commented on #5459
good point Matt, maybe we need to change the schedule factories to take OCs as a transient and then only assign them on a after block, that way the schedule will already be created and have an id.

[2020-05-22 09:50] sauloperez commented on #5418
Yesterday we shut down the old production server but we'll wait another week to finally remove the server and the DNS record. Just to have a fallback.

[2020-05-22 09:56] Matt-Yorkley commented on #5462
Aha, it looks like this is caused by a new gem added in Spree 2.1 called `awesome_nested_set`. `acts_as_nested_set` is added to a few spree models now, including taxons...

[code]

[2020-05-22 10:05] luisramos0 commented on #5481
Just posting here from slack: I think this was intentional and the workaround to this issue is to let users copy whatever info they want from their open shop message to their closed shop message.
The home tab shows the "closed shop message" when thee shop is closed.

[2020-05-22 10:24] #5399 closed

[2020-05-22 11:14] kirstenalarsen commented on #5481
happy to close it if we can get an update to the user guide - will post

[2020-05-22 11:49] luisramos0 commented on #5467
Hmm.. I cant see what's going on here so I tried findind out what PR introduced this, no luck yet.
I can see that both:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5156
and
https://github.com/openfoodfoundation/openfoodnetwork/pull/5356
did not cause this bug...
@Matt-Yorkley any idea?

[2020-05-22 12:28] Matt-Yorkley commented on #5459
We had something similar with variants, right? And enterprise users?

[2020-05-22 13:21] #5239 closed

[2020-05-22 13:25] luisramos0 commented on #5459
yes, this was done here
https://github.com/openfoodfoundation/openfoodnetwork/commit/bd0245229b731a250ff148b5174505ab4a3b1e52#diff-68c83872d66e936451119a72143b1acc

here
https://github.com/openfoodfoundation/openfoodnetwork/commit/1dc7b5793c4a323b1e79c862698974469db53c06#diff-68c83872d66e936451119a72143b1acc
and here
https://github.com/openfoodfoundation/openfoodnetwork/commit/e64d21d81dfd967fa9ad

[2020-05-22 14:21] Matt-Yorkley commented on #4704
@daniellemoorhead @yukoosawa

I've got this epic mostly done, but there's a coupe of things that need some feedback.

- The "Take me shopping!" button in some of the mockups with an empty cart. Where is it supposed to take the user?
- The current cart has some functionality that isn't covered here: if the user has already placed an order in the selected OC and the OC is still open, the cart will s

[2020-05-22 14:26] luisramos0 commented on #5461
This is a bug related to the "option values mystery", I added a new post there: https://community.openfoodnetwork.org/t/product-option-types-vs-product-variant-unit-fields/1535/10

For some reason, in this order, the value stored in spree_option_values_line_items for this variant/line_item is 1kg. I need to see how this table is populated when the variant is added to the cart.

[2020-05-22 15:52] Matt-Yorkley commented on #5461
I encountered this the other day, in a different part of the app. I had some variants in the shop, changed their option values, and the old values stayed displayed in the cart...

[2020-05-22 16:38] #5340 closed

[2020-05-22 19:18] kristinalim opened #5488 "Release v2.9.10 Chop suey"
Steps:

- [x] Include translations
- [x] [Draft new release](https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-754247139ddad4f264f8)
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/2-9-10/builds/1
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers

[2020-05-22 19:23] sigmundpetersen commented on #5462
I take it this can be closed

[2020-05-22 19:23] #5462 closed

[2020-05-22 23:45] tschumilas commented on #5481
I'd appreciate an update to the user guide -  and it makes me thing I might do a translation because its not really like a home page at all -  is it?   Its more a space about information about the store.  so - not sure what we should call that button.    It would be great if someone who gets this could update user guide.

[2020-05-23 12:24] Matt-Yorkley commented on #4704
Also: the animated CTA on the homepage really messes with the new cart layout. Can we move it to the bottom of the screen? I think it'll be really difficult to fix otherwise...

**CTA at the top:**

![CTA-top](https://user-images.githubusercontent.com/9029026/82730423-d3123200-9cff-11ea-9c0e-eaf6c6d64203.gif)

**CTA at the bottom:**

![CTA-bottom](https://user-images.githubusercontent.com/9029026/

[2020-05-25 07:22] daniellemoorhead commented on #5481
User guide is updated, closing this.

[2020-05-25 08:44] lbwright22 commented on #5258
![](https://github.trello.services/images/mini-trello-icon.png) [Stage two Stripe SCA transfer: low use hubs- SLOW transition](https://trello.com/c/fWBdxj1l/705-stage-two-stripe-sca-transfer-low-use-hubs-slow-transition)

[2020-05-25 10:30] RachL commented on #5488
@kristinalim all good :) https://docs.google.com/document/d/1VATnN9bnV6wKNydZMJbbnGNQVvW8DLH37vnql9fvXaY/edit#

I just noticed we are introducing a text for enterprise managers that is not really accurate, but Luis already made a PR to fix the issue: https://github.com/openfoodfoundation/openfoodnetwork/pull/5392#issuecomment-633481713

So basically the text will be wrong during - worse case scena

[2020-05-25 11:58] filipefurtad0 commented on #3807
Hey @RachL ,

I just observed this bug. Also, if a customer attempts to view a deleted order from BOM he will see get snail/error 500 as well. Clicking in View (pic below):

from /account#/orders/
![image](https://user-images.githubusercontent.com/49817236/82810801-44302180-9e87-11ea-9679-7719e6699863.png)

This makes it a bit more severe, but perhaps not S2?

[2020-05-25 13:43] luisramos0 commented on #5488
I think the PR is easy enough to be reviewed and tested today:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5493

[2020-05-25 14:19] luisramos0 commented on #5461
This problem is related to the order edit trail we have been discussing. We already keep history of the option values in the line items. But we are not using that edit trail in all the places.

So, my theory is that when the order was placed the unit_value was 1 and unit was kg, and after the order was placed, the manager changed the product unit to g and the variant unit_value to 500g.
This probl

[2020-05-25 18:06] RachL commented on #5488
@kristinalim actually there might be a release blocker in what Luis' is describing here: https://github.com/openfoodfoundation/openfoodnetwork/pull/5440#issuecomment-633668755

I will make an issue when I come back online in a few hours, unless someone else already has.

[2020-05-25 18:43] filipefurtad0 opened #5496 "Switching between shops does not work correctly"
## Description

Switching between different shops does not work as expected: while logged in and shopping in shop A, clicking Shops in the main menu and choosing shop B from the shop list will first display again the shopfront of shop A (were customer was initially)... The address bar shows the address of shop B. See gif below.

## Expected Behavior

Switching shops by clicking on the main menu sh

[2020-05-25 18:44] filipefurtad0 commented on #5488
Here it is:
Switching between shops does not work correctly #5496

[2020-05-25 21:31] luisramos0 commented on #5496
I just confirmed this is caused by #5440
this commit: https://github.com/openfoodfoundation/openfoodnetwork/pull/5440/commits/a438317d69c5787a94b8f745b01dc8b8c19cf3a7

Refactoring legacy code...
Look at the code review chat for this commit:
![image](https://user-images.githubusercontent.com/1640378/82844146-520d9300-9ed7-11ea-9373-58c69f2e643e.png)

I can work on this tomorrow morning.

[2020-05-26 06:39] daniellemoorhead commented on #4704
@Matt-Yorkley the CTA banner is the only place where instances have an opportunity to promote something to their users. I really don't feel comfortable removing it from the site. In Australia we have a call to enterprises to register, and if we didn't have this then the link is wayyyyyy down the bottom of the page and not as easily accessible.

![Screen Shot 2020-05-26 at 4 32 10 pm](https://user-

[2020-05-26 07:20] daniellemoorhead commented on #4704
@yukoosawa here's the user flow with this:

**1. You revisit a shop that has an open OC that you've already placed an order in:**

It shows you what you bought previously in the view cart dropdown
![Screen Shot 2020-05-26 at 4 59 43 pm](https://user-images.githubusercontent.com/10949052/82870185-e24ce600-9f72-11ea-96ad-35274e1897d7.png)

And a blue banner displays under the main nav
![Screen Shot

[2020-05-26 07:42] sauloperez opened #5499 "Ensure all new translations copies are included in the release"
## Description

It's been a few times already that the Transifex PR doesn't get merged before the release publication and thus, those copies don't get into the release. This is especially annoying for non-English speaking instances and their managers.

It seems that pulling translations manually when drafting the release doesn't include those present in the PR.

**- As a:** instance manager
**- I

[2020-05-26 07:43] daniellemoorhead commented on #4598
@mkllnk I've added the bulk products details to this story so you can go ahead and build it 🎉

If you need better versions of the bulk products designs then @yukoosawa can sort those out for you.

I'd like to test this design with some shoppers/shops before we put it live, so as soon as I've tested the branch I'll be talking to a few users to make sure the design is 👌

[2020-05-26 08:12] luisramos0 opened #5500 "[API] Orders endpoint only works in the browser and only after user login"
## Description
API authentication is not working in the api/orders api. IT only works if you login to the app on your browser and access the endpoint through that session.
USing api token and curl wont work.

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

## Workaround

## Severity

## Your Environment

* Version used:
* Browser name and

[2020-05-26 08:32] Matt-Yorkley commented on #4704
@daniellemoorhead

Just to clarify: I'm not suggesting removing the CTA, just moving it to the bottom of the screen instead of the top. It's still be sticky and visible when the users scrolls:

![CTA-bottom](https://user-images.githubusercontent.com/9029026/82878561-ef9aae00-9f3b-11ea-8f97-0598656690eb.gif)

[2020-05-26 08:46] sauloperez commented on #5499
It seems that https://github.com/marketplace/actions/merge-pull-requests#configuration is potential solution. It lets us keep using the PR so we still have visibility over the process.

[2020-05-26 09:00] luisramos0 commented on #5499
yes, sounds good to me :+1:

[2020-05-26 10:05] sauloperez commented on #5418
Eugeni just reported that Metabase now refuses connection. We didn't check that and I bet we didn't update the db_integration settings.

This is the message

![photo5938519163146449249](https://user-images.githubusercontent.com/762088/82888068-2a571300-9f49-11ea-9cb7-3e70e8c3e020.jpg)

[2020-05-26 10:55] luisramos0 commented on #4572
Unassigning myself from this one.

There are 3 pending points after #5407 I believe:
- ipad mini 3 padding issue
- improve what's in #5407 about widening the OC selector (see @daniellemoorhead previous post)
- new item in Yuk's comment above: break text in two lines when OC description is long

[2020-05-26 11:43] Matt-Yorkley opened #5503 "[Spree 2.1] Fix DFC controller in Rails 4"
Errors:

[code]

[2020-05-26 11:45] Matt-Yorkley opened #5504 "[Spree 2.1] Broken spec - ShopsController missing routes"
These were introduced recently from merging master.

Errors:

[code]

[2020-05-26 12:03] filipefurtad0 opened #5505 "Error 500 - Customer viewing an edited order from which all items were removed"
## Description

After placement and payment capture of an order - but before shipment - the hub manager can edit the order and change the number of items, or remove all of them. If this is done and the customer attempts to view the order an error 500 become visible to the user, i.e., in /orders/Rxxxxxxxx. Looking at /transactions shows an error in the column Shipping status (pics below).

## Expec

[2020-05-26 12:20] daniellemoorhead commented on #4704
Can you instead put it under the nav? Like the order success or the blue edit order banner?

[2020-05-26 12:38] Matt-Yorkley commented on #4704
Well that's another problem right there: we often display those other flash messages on the homepage, underneath the main navigation. It's not easy to make them pay nicely in the same space.

[2020-05-26 12:58] Matt-Yorkley commented on #5504
I can't replicate this locally...?

[2020-05-26 13:47] luisramos0 commented on #4805
Deleting overrides sounds like very risky...
I wonder what happens if a variant is in an Order Cycle that is "inventory only", and the override is removed.

I dont understand how is this an important enough item to be in Dev Ready. Sounds like a true S4 to me.

[2020-05-26 13:52] luisramos0 commented on #5001
The problem described in this issue is not seen here any longer:
https://openfoodfrance.org/admin/order_cycles/3063/outgoing

Anyway, this epic's description looks like a duplicate of #4806 (one of the issues inside it).

[2020-05-26 14:02] filipefurtad0 opened #5507 "Missing translation key - Closed OC info"
## Description

The info appearing for closed OCs is missing from the translation key file en.yml:
"The order cycle you've selected has just closed. Please try again!"

## Steps to Reproduce

1. Customer - add items to the cart, and proceed to checkout
2. Admin - Close the OC from which the customer has the items from
3. Customer - While on checkout, click Shops/Boutiques (below):

![image](https:

[2020-05-26 14:02] luisramos0 commented on #5001
@RachL fyi I have just fixed this problem
![image](https://user-images.githubusercontent.com/1640378/82910005-f4725880-9f61-11ea-93d1-4506682b2e7e.png)

here in transifex (missing space):
https://www.transifex.com/open-food-foundation/open-food-network/translate/#fr/enyml/194011289?q=key%3Avariants_loaded

[2020-05-26 14:11] RachL commented on #5001
Yes I cheated a bit when creating the epic and forgot to update the description 😁

[2020-05-26 14:16] RachL commented on #4805
@luisramos0 these issues were splited from an original issue that was in dev ready. At the time we agreed to tackle them. This can be reviewed of couse, but this is how i ended up in dev ready.

[2020-05-26 14:40] luisramos0 commented on #4806
Hmm. trying to figure out an easy way out of this one...

I thought I could make hidden variants visible but not editable. They would show up but be disabled and with a new tooltip:
![Screenshot from 2020-05-26 15-35-36](https://user-images.githubusercontent.com/1640378/82913722-92682200-9f66-11ea-87f7-ba92f8d4ecb0.png)
The counts would be correct because they would be included now.
Thoughts?

@Ma

[2020-05-26 15:09] filipefurtad0 opened #5509 "Increasing the quantity of items in a shipped order is possible via BOM (triggers Bugsnag)"
## Description

It's possible to increase the quantity beyond the Max. value under Bulk Order Management, for shipped orders - generating the error message "Fields with red borders contain errors." and triggering Bugsnag:

https://app.bugsnag.com/katuma/katuma/errors/5ecd23ca0573c100186ae8c8?event_id=5ecd23ca005b8d91543d0000&i=sk&m=nw

Unhandled error
NoMethodError: undefined method `stock_locatio

[2020-05-26 16:07] Matt-Yorkley commented on #4806
LGTM :+1:

Does it work OK with the select all button?

[2020-05-26 22:07] #5496 closed

[2020-05-26 22:11] luisramos0 commented on #5488
I think the easiest way forward is to create a branch with the release and patch it with both #5501 and #5493
After that we can stage that patch and run some tests to validate it's good to go.
Sounds good?

[2020-05-27 00:01] mbudm commented on #5119
As discussed in [this thread ](https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p1589938189235500) this issue is cause by the order shipping_state being changed from 'ready' to 'pending' in an adjustments callback after the checkout submit.

Adjustments are a known tech debt issue and quite hard to work with/comprehend. @luisramos0 summarised that the better aproach may be to do this after we

[2020-05-27 00:23] mbudm commented on #5300
I can highly recommend structured logging to solve these sorts of problems (providing context to the logged event). I've used honeycomb.io a lot for this.

[2020-05-27 05:42] daniellemoorhead commented on #4601
@yukoosawa did you want to do a design sweep on the search and filters changes? You'd had a good look at them when we tested the branch, so I am thinking probs not, but putting it out there in case you did want to 😄

[2020-05-27 05:59] daniellemoorhead commented on #4704
![](https://i.imgur.com/1KnyV0d.gif)

So to make sure I understand correctly, there are other messages that will display on the homepage under the main nav, yes? Can you tell me what they are?

In terms of your idea, if we were to put it at the bottom of the screen what happens to it when the user scrolls down? Your video shows the cart opening, joy, but not what happens to the banner when you scr

[2020-05-27 06:06] daniellemoorhead commented on #4567
This is what I mentioned in the delivery train catch up @Matt-Yorkley, not a lot of change required, just tweaks 😄

[2020-05-27 06:15] mbudm opened #5510 "Add configuration for Matomo Tag Manager"
## Description
As an administrator of an instance I want to be able to add Matomo Tag Manager to the instance, so that I can add analytics events without development work

This was triggered by this problem that needs more data to help make product decisions. Adding events for this scenario manually will likely be as much work as adding support for MTM, and MTM will be enable n on developers to cu

[2020-05-27 06:51] #4973 closed

[2020-05-27 07:00] daniellemoorhead opened #5511 "[mobile ux] Home message field help text does not display on AU production or staging"
## Description

We changed the "Shop open message" section on the shop preferences tab of the back office to be a "home" message, and we updated the help text within the field (that disappears when you focus in the field) to better describe how they should use the tab. For some reason this help text is not appearing on AU staging or production. It does show on Katuma staging, so I'm assuming it's

[2020-05-27 07:38] Matt-Yorkley commented on #4704
It stays where it is either way. It currently sticks to the top, but it would stick to the bottom instead.

CURRENT POSITION:

![CTA-top2](https://user-images.githubusercontent.com/9029026/82990630-c5f58b80-9ffc-11ea-8e2d-98053a5938ec.gif)

NEW POSITION:

![CTA-bottom2](https://user-images.githubusercontent.com/9029026/82990148-056fa800-9ffc-11ea-8fe8-b4cab5048658.gif)

[2020-05-27 08:18] sigmundpetersen commented on #5510
I understand this was prioritized in last product curation so moving to Dev Ready
https://community.openfoodnetwork.org/t/secure-products-availability-during-checkout-process/1933

[2020-05-27 09:08] luisramos0 commented on #5300
Interesting, honeycomb is an alternative to ELK, right? We only have bugsnag (it's serving us incredibly well).
Bugsnag supports metada (end of [this page](https://docs.bugsnag.com/platforms/javascript/configuration-options/#metadata)) but it's not the same as having a full distributed logging infra like ELK. I think @Matt-Yorkley is familiar with ELK. I wonder if there's a case for us to switch o

[2020-05-27 09:31] luisramos0 commented on #4806
this needs product feedback, probably better to double check that @RachL @lin-d-hop and @kirstenalarsen dont see any issues with this decision: merge the two cases 1. visible only variant (user has no permissions to add to exchange) and 2. hidden variant (variant is marked as hidden in inventory)

[2020-05-27 10:07] Matt-Yorkley commented on #5300
I think we can use ELK when we get to Rails 4...

[2020-05-27 10:38] RachL commented on #5488
@luisramos0 yes!

[2020-05-27 12:11] lin-d-hop opened #5512 "Hubs can upload Terms and Conditions PDF in backoffice and shoppers see a link and text on checkout"
## Description

The very simplest iteration of this feature.

In Enterprise Settings -> Business Details hubs can upload a PDF containing their Terms and Conditions.

![ToSfile](https://user-images.githubusercontent.com/8669848/83017347-678bd580-a01b-11ea-8a33-9f4efc8abffc.png)
_Image 1: Terms and Conditions upload when no file has been uploaded_
![ToSfile2](https://user-images.githubusercontent.c

[2020-05-27 12:54] yukoosawa commented on #4601
@daniellemoorhead If the sweep can wait until the weekend then I'll do another pass (:zany_face:) but if you need to get it into prod asap then best not to wait for me!

[2020-05-27 13:14] luisramos0 commented on #5488
I have created the branch with 2.9.10 + 5501 + 5493 and updated the sempahore link in the description of this issue. It's ready for testing.

[2020-05-27 13:50] lin-d-hop opened #5513 "On Checkout shoppers see Place Order Now is unclickable until Terms and Conditions are accepted"
## Description

As a shopper I must check a checkbox to confirm that I have accepted the Terms and Conditions before I am able to checkout.

When I have not accepted the Terms and Conditions then the Place Order Now button will be unclickable.

![checkoutwBox](https://user-images.githubusercontent.com/8669848/83027043-86906480-a027-11ea-9f08-957977b28349.png)

When I have accepted the Terms and Co

[2020-05-27 13:54] romale commented on #5436
Hi @luisramos0 . In this file
`/home/openfoodnetwork/apps/openfoodnetwork/current/config/application.yml`
i've variable
`AVAILABLE_LOCALES: en,ru_RU`
for testing, in file
`/home/openfoodnetwork/apps/openfoodnetwork/current/config/locales/en.yml`
i was change
`  primary_details: "Primary Details"`
to
`  primary_details: "BlaBla"`
systemctl restart nginx && systemctl restart unicorn_openfoodnetwork

[2020-05-27 14:05] yukoosawa commented on #4704
I'll take a look at this over the weekend. This behaviour in cart is super confusing for users who are shopping from shops that have OCs continuously open :slightly_frowning_face: And it will be worse on Mobile with the limited screen real estate. Regular ecomm shoppers will not understand why all this other stuff is being shown (but can't be actioned upon) in their current view cart. Do users eve

[2020-05-27 14:11] filipefurtad0 commented on #5488
It's good to @luisramos0 :tada:

[2020-05-27 14:46] luisramos0 commented on #5436
You probably need to recompile assets which part of the normal deployment process.

Yes, the data in transifex will be committed to git and included in the next release. We should do that.
We may need to add the ru.yml to github as a manual step I am not sure, anyway, it's very easy. It looks like you already have a lot of translations done. Do you know how to upload your ru_RU.yml file to transif

[2020-05-27 14:57] luisramos0 commented on #5488
ok, I published it now.
@kristinalim I think this can now be deployed whenever possible.

[2020-05-27 15:37] lin-d-hop opened #5514 "Shoppers that have already clicked Terms and Conditions can checkout without re-accepting"
## Description

As a shopper I only need to accept the Terms and Conditions on the first checkout from a shop. On every future checkout I just need to a link to them - the Terms and Conditions can be accepted by default.

## Acceptance Criteria & Tests

As a Shopper:
- The first time I checkout from a shop I need to accept the Terms and Conditions.
- The second time I checkout, if the Ts&Cs are th

[2020-05-27 15:37] lin-d-hop opened #5515 "Enterprise can easily update and view Terms and Conditions"
## Description

As a Hub I'll need to be informed that when I change the Terms and Conditions my users will need to reaccept them. I'll also need to know the date that I last updated the Terms and Conditions and be able to view the Terms and Conditions from the back office. All of this can be explained in a tool tip. EDIT: Not a tool tip, a modal!

![Screenshot from 2020-05-27 16-26-23](https://us

[2020-05-27 15:48] lin-d-hop opened #5516 "Add a Tooltip to explain Terms and Conditions to Enterprises"
## Description

As a Hub I want to a tooltip to explain the Terms and Conditions option in Enterprise Settings -> Business Details.

The default text can read:
_Terms and Conditions are the contract between you, the seller and the shopper. If you upload a file here shoppers must accept your Terms and Conditions in order to complete checkout. For the shopper this will appear as a checkbox at checko

[2020-05-27 15:50] romale commented on #5436
Now this solved, yyyes! :)
this command helped me:
[code]
My translation file works too.

![image](https://user-images.githubusercontent.com/928628/83041467-2ca09680-a049-11ea-8586-0cf2375c0ffe.png)

About push my translation on transifex. I will do it, but some time later. I need to start ofn instance in production before it.

[2020-05-27 15:58] lin-d-hop opened #5517 "Hubs can require Shoppers to accept their Terms and Conditions"
## What is the problem we are solving

When shoppers place an order from an enterprise they are entering a legally binding contract with the enterprise under law in pretty much every country on the planet.

Hubs need to be able to specify the Terms and Conditions of this contract.

Shoppers need to demonstrate that they accept this legally binding contract.

This feature epic enables:
- Hubs to be

[2020-05-27 19:04] RachL commented on #5423
I'm unsure of the status here: I feel we have a consensus around creating a wishlist item and closing here? Any other issue to had from your last comments @Matt-Yorkley @luisramos0 ?

[2020-05-27 20:12] luisramos0 commented on #5423
I think it's worth exploring why the products don't appear disabled now. It may transform this in a papercut.
May I give it half an hour tomorrow I see what I find?

[2020-05-27 23:39] daniellemoorhead commented on #4601
It's already on production after we tested the branch so it's easy for you
to test it because the changes are live :)

[2020-05-28 00:29] luchiago commented on #4730
Can I work on this one?

[2020-05-28 06:19] sauloperez commented on #5418
We forgot to run the db_integrations playbook :see_no_evil:

[2020-05-28 07:14] sauloperez commented on #5418
Done :tada: !

[2020-05-28 07:14] #5418 closed

[2020-05-28 08:49] filipefurtad0 commented on #4730
Hi @luchiago - sure!
Thank you :+1:

[2020-05-28 09:23] romale commented on #5441
This command solve issue
https://github.com/openfoodfoundation/openfoodnetwork/issues/5436#issuecomment-634755002

[2020-05-28 11:08] Matt-Yorkley opened #5520 "Release v2.9.11"
Steps:

- [x] Include translations
- [x] Draft new release: https://github.com/openfoodfoundation/openfoodnetwork/releases
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1458
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

[2020-05-28 11:45] #5488 closed

[2020-05-28 12:25] romale commented on #5445
Solved in https://github.com/openfoodfoundation/openfoodnetwork/issues/5436#issuecomment-634755002

[2020-05-28 12:25] #5445 closed

[2020-05-28 14:10] Matt-Yorkley opened #5522 "Admin configs don't always update when saved"
This problem has been around for a long time, but we just got another question in slack about why updating site logos in superadmin was not updating on the site.

We have various different configs that can be set as superadmin, but a lot of them require a unicorn restart. It's not clear to the user which ones will work and which ones won't. It also means the server can be left in a limbo state, wh

[2020-05-28 14:23] Matt-Yorkley opened #5523 "[Spree 2.1] Flaky variant_overrides_spec"
Looks like a minor timing issue this spec:

[code]

The page content includes `Saving...` but it looks like the test is looking for the post-save message.

[2020-05-28 16:03] RachL opened #5524 "Product pictures are not showing up for France"
## Description

Product pictures have disappear since the last release.

## Steps to Reproduce

1. Go to any shops on OFF https://www.openfoodfrance.org/shops#/

## Animated Gif/Screenshot

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/d59e1bce-3053-4323-9809-c006010b4f85)

## Severity
bug-s1: a critical feature is broken: checkout, payments, signup, login

## Your Env

[2020-05-28 17:15] filipefurtad0 opened #5525 "[Spree 2.1] Stripe (Connect and SCA) payments not working in the backoffice"
## Description

Payments with Stripe are not working if the order is placed in the backoffice, for both Stripe SCA and Stripe Connect, with the simplest test card 4242424242424242.

These payment methods have been tested in the shopfront and work fine, only known issue so far is #5447.

## Expected Behavior

Payments in the BO should work for both Stripe-Connect and Stripe-SCA, with cards which do

[2020-05-28 18:48] #2910 closed

[2020-05-28 19:26] RachL commented on #5524
This is looking good! Thanks @Matt-Yorkley 👍

[2020-05-28 20:11] luisramos0 commented on #5524
@Matt-Yorkley can you add a few details here, what was the problem and how ti was solved?
I am curious about what are the specific S3 settings we have in FR.

[2020-05-28 23:28] daniellemoorhead commented on #4704
Completely agree @yukoosawa, wondering if we just direct them to the orders page from the view cart screen rather than displaying the items? Ceres allows for edits to orders, I'll have a look at how they do it, record it, and post it here.

[2020-05-29 04:42] mkllnk commented on #5499
Thank you @sauloperez for bringing this up. Our process needs improvement. Let's discuss it.

Really? When did we forget merge the PR?

I don't know how that's possible. Transifex doesn't know about our PR. And I just tested this, `tx pull --force` downloads all translation files even though there is an open PR. My theory is that the translations happened after drafting the release. But it would b

[2020-05-29 06:18] daniellemoorhead commented on #5072
I don't disagree with @luisramos0 in terms of changing the interaction, and glad it's all papercuts, but would prefer to have a designer look at this as an end to end journey so that we make changes within the understanding of what the user is doing and what their likely flow is between tabs and the such.

For now, I'm not convinced that we should do this....And will review the experience with @yu

[2020-05-29 07:31] RachL commented on #5499
@mkllnk it's not really about forgetting. The scenario is more like this:
1. Some last PR are merged
2. The release is prepared with translation
3. Translator are notified there are new string to translate because of 1. They do it. BUt 2 already happened, so it will not be included in the next release.

And this is pretty bad when (1) included keys shown on the shopfront. All improvement in the OC

[2020-05-29 10:01] Matt-Yorkley commented on #5524
Okay, so the issue here was related to S3 image settings and only affected France. All other instances with S3 seem to use this setting for the path:

![Screenshot from 2020-05-29 11-53-34](https://user-images.githubusercontent.com/9029026/83247016-376f3e80-a1a3-11ea-90ad-2a4da447b950.png)

Whereas France was using this setting:

![Screenshot from 2020-05-28 22-35-10](https://user-images.githubuse

[2020-05-29 10:05] #5473 closed

[2020-05-29 10:11] #5503 closed

[2020-05-29 11:18] Matt-Yorkley commented on #5520
I've added a few extra commits, updated the release notes and updated the link to the build.

[2020-05-29 11:20] luisramos0 commented on #5072
yeah, it's not an obvious decision.
In my mind this is a major UX problem right now. I wonder if this is not important enough that we should have a call to collectively come up with a solution.

[2020-05-29 11:34] luisramos0 commented on #5524
thanks for explaining Matt! This info may be useful in the future as well.

[2020-05-29 13:31] lbwright22 opened #5527 "Stripe SCA refunds not working (for payments taken with StripeConnect)"
## Description

Issuing credit back to a customer who paid by credit card via Stripe results in a failed process and snail page if the Stripe SCA setting is used.

## Expected Behavior

User refunds a customer for missing item or faulty goods.  The order has credit owed and was paid for initially by Stripe SCA.
User visits Orders -> Edit Order -> Payments and selects the 'tick' beside the payment

[2020-05-29 13:34] luisramos0 commented on #5402
I dont see this particular error in bugsnag...

The error is on a call to t in Checkout.submit.
Because there are two entries in the console log shown for Checkout.submit, I think it will be the call inside the catch at the end:
https://github.com/openfoodfoundation/openfoodnetwork/blob/c73defa8a1eaca230f58196058c8ae4e5bfec827/app/assets/javascripts/darkswarm/services/checkout.js.coffee#L15-L25

I

[2020-05-29 13:48] lbwright22 commented on #5527
![](https://github.trello.services/images/mini-trello-icon.png) [Stage two Stripe SCA transfer: low use hubs- SLOW transition](https://trello.com/c/fWBdxj1l/705-stage-two-stripe-sca-transfer-low-use-hubs-slow-transition)

[2020-05-29 13:53] luisramos0 commented on #5402
5402 wont fix the problem for sure but it will probably give us more info in bugsang about the issue.

[2020-05-29 15:40] sauloperez commented on #5499
Alright, thanks for clarifying the scenario @mkllnk and @RachL .

The problem I see is that there's a conflict between last-minute PRs and getting translations on time before the deploy. Even with any extra machinery to get them included in the draft release are we sure all translators will notice they need to add new copies? the release manager will need to tell them before the deployment day or

[2020-05-29 15:56] RachL opened #5529 "Variants tagged invisible are the only one to show up in a shopfront"
## Description

If you are not loggedin, this shop will show you all variants tagged "PRO" which are supposed to be the variants that are invisible.

When you loggedin, all these variants come back to invisible.

URL of the shop: https://www.openfoodfrance.org/fleuvedeliens/shop#/shop

ID of the hub: 1103

Tag rules:

Default:
- Inventory variants tagged `pro` are invisible

- FOr customer tagged

[2020-05-29 16:16] RachL commented on #5499
@sauloperez I would like to stress that those were not last minute PR. If on Thursday you merge PR AND you prepare the release, _none_ of the PR you have merged that day will have translations: transifex notifies translators only after the PR is merged.

So yes maybe we can define a rule, like Monday is the last day to review translation, but maybe on he reverse side we need to make a rule that sa

[2020-05-29 18:05] filipefurtad0 commented on #5527
Hey @lbwright22 ,

I have tried to reproduce this in release testing (v2.9.11) and was able to issue a partial refund, after removing an item from an order paid with a Stripe SCA 3D secure card:

4000002760003184 | This card requires authentication on all transactions, regardless of how the card is set up.

The partial refund appears as expected in Stripe's dashboard, in test mode:

![image](https

[2020-05-29 18:18] filipefurtad0 commented on #5520
This is ready to go! Test notes here:
https://docs.google.com/document/d/16sZ5PFaf2gJpy8JwnwH6OBDCDADsRrSgsO0qPshjFPI/edit

[2020-05-29 19:02] luisramos0 commented on #5522
nice, I dont think this is tech debt. This is a bug. I'd say bug S4.

[2020-05-29 19:07] luisramos0 commented on #5504
me neither. but it's broken here:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5487/builds/11
maybe just flaky.

[2020-05-29 21:14] Matt-Yorkley commented on #4704
So the decision is to cut it? That's the easiest option on my end...

[2020-05-30 13:04] Matt-Yorkley commented on #5504
These specs are now green in the latest `3-0-stable` build.

[2020-05-30 13:06] Matt-Yorkley commented on #5523
Possibly flaky, it's not showing up now...

[2020-05-30 13:08] Matt-Yorkley opened #5533 "[Spree 2.1] Broken spec - EnterprisesController missing routes"
Errors:

[code]

[2020-05-30 13:56] Matt-Yorkley commented on #5504
This might be flaky...

[2020-05-30 14:51] RachL opened #5534 "Tags on variants are not hiding/showing variants accordings to the rules set"
## Description
From https://github.com/openfoodfoundation/openfoodnetwork/issues/5529 I have erased all tag rules and started over.

Main story: the hub is selling its product with 3 prices (`part` = individual customers,  `grpm`= groups of customers, `pro` = professional customers).

Variants tagged `pro` are the cheapest and therefore should be available for professionals only.

**Tag rule numbe

[2020-05-30 14:58] RachL commented on #5529
I have isolated the problem in this new issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/5534 closing here

[2020-05-30 14:58] #5529 closed

[2020-05-30 15:11] Matt-Yorkley opened #5535 "Duplicate crontab entries via whenever gem"
We now have duplicates of all our crontab entries, due to the change in app paths:

![Screenshot from 2020-05-30 17-08-30.png](https://images.zenhubusercontent.com/58278b61e40e5714b1702bca/2a8b8a6c-f55c-405d-a0a0-d0ce815b27ae)

This needs a fix and then a cleanup of the old entries...

[2020-05-30 15:46] Matt-Yorkley commented on #5535
This is possibly the cause of large CPU spikes I noticed today on French Production. I've manually tidied up the crontab, I need to wait a few hours for the tasks to run again to verify it...

[2020-05-30 16:52] Matt-Yorkley commented on #5533
I think this is caused by this Devise user mappings issue: https://stackoverflow.com/a/4321055

[2020-05-30 19:18] #5459 closed

[2020-05-30 21:05] jeduardo824 commented on #4592
I will fix that!

[2020-06-01 04:18] rmklaus12 commented on #5204
@RachL - I am not seeing what I should be seeing? :-) I have no save option, so I'm not sure how to recreate that error message.
<img width="600" alt="Screen Shot 2020-06-01 at 2 16 37 pm" src="https://user-images.githubusercontent.com/30268789/83375575-a6060380-a412-11ea-8218-54be61bb5bea.png">

[2020-06-01 04:19] rmklaus12 commented on #5204
I was able to get a save button by switching around the On Demand dropbox, but still no error.

[2020-06-01 06:54] RachL commented on #5204
@rmklaus12 sorry I forgot one step: switch one of your lines to "no" in the on demand column, leave the count on hand blank and then try to save.

[2020-06-01 06:57] rmklaus12 commented on #5204
Like this? Because it saves with no error for me :-(
<img width="600" alt="Screen Shot 2020-06-01 at 4 56 04 pm" src="https://user-images.githubusercontent.com/30268789/83383627-e1133180-a428-11ea-8f36-80977bedfed6.png">

[2020-06-01 08:11] daniellemoorhead commented on #5072
Tis difficult to have a call when @yukoosawa is only available outside of NY biz hours and on weekends. I don't see it as a _major_ ux problem right now, but one that can be considered by @yukoosawa without needing a meeting IMO.

[2020-06-01 10:42] kirstenalarsen commented on #4704
on the question of CTA thingo - I have no problem with it moving to bottom of screen. I think that would be much less annoying while also still there

[2020-06-01 12:48] luisramos0 commented on #5533
This could be some mess up between spree routes and Ofn routes. shop and enterprise controllers are both ofn only routes, maybe devise (or the test) is only using/loading/seeing spree routes.

[2020-06-01 13:05] daniellemoorhead commented on #4704
Wasn’t to cut it, was to move it to the bottom. See slack thread in mobile-UX For Lynne and Rachel 👍🏻 along with Kirsten 👍🏻 response here.

[2020-06-01 13:11] luisramos0 commented on #5385
This fails consistently in the build but I cant replicate locally.

[2020-06-01 13:24] Matt-Yorkley commented on #4704
Sorry, I meant cut the other cart functionality of showing items from previous orders in the cart dropdown.

[2020-06-01 13:59] Matt-Yorkley opened #5542 "Google-free maps"
I'm adding this epic in the backlog to track any bits people do to move towards OFN being independent of Google Maps. Contributions welcome!

We're making a big leap forwards with this PR: https://github.com/openfoodfoundation/openfoodnetwork/pull/5398

There are still various bits that would need to be done before we can start migrating our current production servers to alternate providers.

- [

[2020-06-01 14:13] luisramos0 commented on #4957
I just double checked and the link Maikel shared above is not for the same spec. Maybe we need another issue for those.
I am moving this back to spree 2.1 context where this spec is still failing regularly but not always.

[2020-06-01 20:31] Matt-Yorkley commented on #5520
I think we should wait for https://github.com/openfoodfoundation/ofn-install/issues/631 before deploying...

[2020-06-01 22:02] luisramos0 commented on #5533
I tried playing with api_post instead of spree_post
I see that removing use_route: :spree from ControllerHacks#api_process
I get this one to fail with similar problems as this issue:
spec/controllers/api/variants_controller_spec.rb:72:
I still think this is related to routes and namespaces, api or spree...

Anyway, no luck yet.

[2020-06-01 23:46] daniellemoorhead commented on #4704
Just spoke to @yukoosawa, we can't look at the example I did on AU staging cos it's busted to talk through it, but in theory we're ok for you to cut the previous orders section from the view cart dropdown. And I'll be creating a wishlist item around improving the edit order flow.

One thing though @Matt-Yorkley - are you able to tell me how many shops on our main sites (UK, FR, AU) allow shoppers

[2020-06-02 02:56] kirstenalarsen commented on #5467
as an s3 why is this in dev-ready when no instance has nominated it? Not sure if I am missing something but moving it back to all the things - happy to be overruled @filipefurtad0 @luisramos0 @RachL @lin-d-hop

[2020-06-02 02:57] kirstenalarsen commented on #5467
I agree it is horrible - but to use the process we need an instance to select it as it's most horrible before it can cut in front of all the others

[2020-06-02 06:38] RachL commented on #5467
@kirstenalarsen you validated yourself the position a few days ago: https://openfoodnetwork.slack.com/archives/CAVTM01QB/p1590060958274400 :-) so you have change your mind about it?

[2020-06-02 07:20] mkllnk commented on #5499
That's right. Transifex doesn't support this.

Possible. So on Thursdays we can only merge PRs that don't add content to the language file. What if someone merged on Wednesday? One day is not enough for translators.

That sounds good to me. So people have four days to translate. If we need more translation time, we need to prepare the release earlier.

It's still not perfect because master may con

[2020-06-02 08:27] RachL commented on #5499
Hmm. I wonder about that. I'm now realizing that Transifex is powerfull but also a blocker for releasing more often :/
Another question sorry: so Transifex does not support translating before the PR. In a continuous delivery scenario, pushing to transifex could update "directly" the live platform? I know we are not there yet, I'm just trying to understand the boundaries of a tool like Transifex. I

[2020-06-02 09:24] filipefurtad0 opened #5546 "Deleting the last item from the confirmed order is allowed in /cart page (no warning) and easily leads to error 500"
## Description

While in the /cart page and placing orders in shops which have the option to edit confirmed orders for the same OC, the customer can remove all items from previously confirmed orders. This leads to an empty order and generates error 500 when attempting to viewing these (bug #5505).

This issue was first reported here https://github.com/openfoodfoundation/openfoodnetwork/pull/5480#d

[2020-06-02 09:31] #4599 closed

[2020-06-02 10:29] luisramos0 commented on #5467
yes, we agreed we would fix these regressions.
I am ok if you want to change that decision :+1:

[2020-06-02 10:30] luisramos0 commented on #5467
and I am sorry for not mentioning the slack conversation behind this in the first place:
![image](https://user-images.githubusercontent.com/1640378/83510144-6dbefd80-a4c4-11ea-8da0-ef6060c22eb8.png)

[2020-06-02 11:07] #5477 closed

[2020-06-02 11:24] #5535 closed

[2020-06-02 14:14] #5520 closed

[2020-06-02 14:30] #5362 closed

[2020-06-02 15:24] #5360 closed

[2020-06-02 15:49] tschumilas commented on #5208
confused -  this was added as a papercut a month back -  so YEA!!!!!   what do you mean its only for the invoice template that Aus uses -  can we add it to all OFN invoice templates?

[2020-06-02 16:13] luisramos0 commented on #5387
I have just confirmed this is fixed :+1:

[2020-06-02 16:13] #5387 closed

[2020-06-02 16:35] luisramos0 commented on #5533
After quite some hours trying to fix this I finally read the error message again:
The action 'create' could not be found for EnterprisesController
it doesn't say
The action 'create' could not be found for Api::EnterprisesController
:-)
It's looking at the wrong controller!
I think we can just set use_route: :api
I will try that now.

[2020-06-02 18:10] luisramos0 commented on #5533
It's the most weird rspec thing, this is the only way rspec gets to select the correct Api::EnterprisesController, not ::EnterprisesController :man_shrugging:
![image](https://user-images.githubusercontent.com/1640378/83554378-8f3fd980-a504-11ea-9e09-eb7f97373c70.png)

[2020-06-02 18:15] luisramos0 commented on #5504
This is the same as #5533 Api::EnterprisesController and Api::ShopsController are the only controllers that also have an equivalent controller on the base namespace EnterprisesController and ShopsController. Rspec picks those controllers instead of the Api:: ones.

I'll apply the fix to both controllers just in case:
https://github.com/openfoodfoundation/openfoodnetwork/issues/5533#issuecomment-63

[2020-06-02 20:33] TheoGallez opened #5550 "Stripe Belgium"
## Description
The API doesn't match between Stripe account and OFN.
I clic to the connect stripe, I clic to accept condition between OFN/stripe en then a choice:
- I have an account, I try to merge it => error
- I création an account, I try to merge it => error

## Expected Behavior
The API have to match between Stripe and OFN.

## Actual Behaviour
Both account with se same e-mail address in OFN

[2020-06-02 23:18] mkllnk commented on #5499
Not directly. A Transifex update can be pushed to master straight away. And in continuous delivery we would then deploy master and it would be "live". It would maybe take an hour from a commit to production deploy.

Maybe we should tell Transifex what our requirements are. I'm sure others need that as well. It would be awesome if they could support pull request translations one day.

[2020-06-03 04:49] emilyjeanrogers opened #5551 "Order Cycle Management Report Page doesn't load for superadmin"
## Description
When accessing the Reporting tab as a logged in Superadmin, the Order Cycle Management Report link fails to load the page. The Payment Method Report and Delivery Report links also fail.

## Expected Behavior
Reports Page for Order Cycle Management Reports should load

## Actual Behaviour
Snail when clicking link to open Order Cycle Management Reports, Payment Methods Report and Deli

[2020-06-03 05:04] mkllnk commented on #5551
https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5ece496e8be69a0017dd54aa

![Screenshot from 2020-06-03 15-03-50](https://user-images.githubusercontent.com/3524483/83597790-78a08d80-a5ab-11ea-85bf-ca961fad050c.png)

[2020-06-03 06:55] #4684 closed

[2020-06-03 07:31] #5385 closed

[2020-06-03 07:37] #5533 closed

[2020-06-03 07:37] #5504 closed

[2020-06-03 13:01] lin-d-hop opened #5553 "500 Error on Enterprise Fee Report"
## Description

I'm not able to render the Enterprise Fee report at all.
I get a 500 error.
I even tried as a user with no orders to their name and 500 error.

## Expected Behavior

The Enterprise Fee report loads successfully

## Actual Behaviour

500 Error

## Steps to Reproduce

1. Log in as any user (any tested so far)
2. Reports -> Enterprise Fee Summary
3. SLUG

## Workaround

None found

##

[2020-06-03 13:04] lin-d-hop commented on #5553
Reproduced in FR with this nice bugsnag:
https://openfoodnetwork.slack.com/archives/CEF14NU3V/p1591189396304800

[2020-06-03 13:09] RachL commented on #5423
@luisramos0 sorry I'm just seeing this now. Sure let's try it for 30min and see what we can find. I'm removing the s2 label which I guess is not correct given the context.

[2020-06-03 13:30] tschumilas commented on #5553
Getting the slug on OFN Canada too when I try to access this.

[2020-06-03 16:01] RachL commented on #5550
Hub ID is 315

[2020-06-03 16:11] TheoGallez commented on #5550
Waiting for news of the producer. I test it with the support.
He chose stripe SCA. I change with stripe. (paiement methode)

[2020-06-03 17:03] RachL opened #5555 "Make date filter inclusive of the date selected"
## Description
**- As a:** enterprise user or super admin
**- On page:** `/admin/orders?q[s]=completed_at+desc`
**- I want to be able to do:** when selecting dates, I would like the search results to take the end date I've selected into account.

Currently the dates are selected at midnight, which means the start date is taken into account but not the end date. This is confusing for users.

We nee

[2020-06-03 17:15] RachL commented on #5208
Yep I agree it would be good to update all templates here.

[2020-06-03 23:39] luchiago commented on #5507
I would like to tackle this issue.

[2020-06-03 23:40] luchiago commented on #5422
Can I work on this?

[2020-06-04 00:25] luisramos0 commented on #5422
yes! thanks!!

[2020-06-04 07:34] kirstenalarsen commented on #2522
Wondering if we should be storing more like 5-6 decimal places in the database to allow for more accuracy in calculation of fees and taxes etc?

[2020-06-04 07:57] lin-d-hop commented on #3770
Recent testing suggests that /order is not working in curl though it does work in the browser.

When this issue is being worked on it would be great to confirm that. If the fix is easy I would suggest just do that within this issue but if it is a bit more involved we can make a new issue for it :-)

[2020-06-04 09:36] sigmundpetersen commented on #5260
I don't think the upgrade branch is staged on uk now, so removing label to avoid confusion.
Please re-add on next deploy @luisramos0 @filipefurtad0

[2020-06-04 09:39] filipefurtad0 commented on #5260
Thank you for pointing this out @sigmundpetersen !

[2020-06-04 13:41] luisramos0 commented on #5423
@tschumilas do you know how was the previous behavior in terms of what happened in product list and then when user click checkout?

In v2.9.3 April 20 this is what I see:
![image](https://user-images.githubusercontent.com/1640378/83763591-c92dee80-a670-11ea-886d-1efd8ed4f0a5.png)

User can still add items to the cart but when user clicks on checkout they see this:

![image](https://user-images.git

[2020-06-04 14:31] romale opened #5558 "Missing translation key 'shipping_category'"
## Description

On "+New Product" section

![image](https://user-images.githubusercontent.com/928628/83769446-87a93d80-a688-11ea-8ca7-734584b1b129.png)

## Expected Behavior

## Actual Behaviour

## Steps to Reproduce

1. Products
2. +New Product
3.
4.

## Animated Gif/Screenshot

## Workaround

## Severity

## Your Environment

* Version used: 2.9.10
* Browser name and version:
* Operating System

[2020-06-04 14:48] RachL commented on #5558
hey @romale thanks for spotting this one!! Do you mind adding the steps to get to the product page in your description? Translation issues are often pick-up by new developers in the community. They often don't know the software at all. The more we can describe things, the bigger the chance someone will pick it up!

[2020-06-04 15:37] romale commented on #5558
Hi @RachL . Sure. Added

[2020-06-04 15:43] luisramos0 commented on #5423
I am pretty sure that "orders are closed" was there before but now it is more highlighted with the dark background.
The closed shop message can be customized like this:
![image](https://user-images.githubusercontent.com/1640378/83775929-77409500-a67f-11ea-908b-eba9bd71fcd3.png)

Do we all agree we should do this?
The code change is done here: https://github.com/openfoodfoundation/openfoodnetwork/p

[2020-06-04 16:12] tschumilas commented on #5423
I agree to do this -  but just want to clarify the phrase you customized "Please wait until the next order cycle opens...."     -  if I changed that phrase in transifex -   would it appear on ALL closed shops -  or just the hacked closed shops that we are using as display only shops (ie - they have shipping methods and payment methods removed).    ?

[2020-06-04 20:29] luisramos0 commented on #5423
the "Please wait until the next OC..." message is the default message and is on transifex. But if an enterprise configures their "closed shop message", it will show that one instead. That's what I did above, Enterprises > Enterprise > Shop Preferences > Shopfront Closed Message

[2020-06-04 20:32] #5302 closed

[2020-06-04 21:30] tschumilas commented on #5423
Ah,  of course.  Thanks -  I should have realized that 😒

[2020-06-04 23:08] mkllnk commented on #4598
Translations for "Add" to consider for the button sizes:

[code]

[2020-06-05 01:15] mbudm commented on #3770
Hi all have been looking at this issue over the past couple of days and here's what I've got to.

**Swagger doc**
I learnt some of the history of this from @luisramos0 and read up on the initial project that was completed by some community contributors. They had the same thoughts that I had - can we automate the documentation of the API? They were looking at class based decorators which seemed qui

[2020-06-05 02:25] kirstenalarsen commented on #3770
thanks @mbudm !! and/or should we be supporting the api from the replica database/s that are being discussed / setup for metabase? just linking across the conversations in case is relevant

[2020-06-05 03:48] mbudm commented on #3770
Yeah that's a way around the load problem. In theory you could spin up another OFN instance just for API access that targets a replica db. Or for a little more work configure the API to hit a different db endpoint (solving db perf but possibly affecting the app perf).

[2020-06-05 04:45] daniellemoorhead commented on #4598
@mkllnk how can we test those? Is there a way to understand what that will do to the layout prior to testing it other than @yukoosawa adding these into the design file?

[2020-06-05 07:22] lin-d-hop commented on #3770
The others params I'd add to the list above is

- q[order_cycle_id_eq]
- q[shipping_method_id_eq]
- q[payment_method_id_eq]

With these additional search keys we can search for a list of orders with the same queries that we can search orders in our reports.

If any of these can already be supported by the API let's add them now. Any that cannot be supported off the cuff we can create separate issu

[2020-06-05 07:51] lin-d-hop commented on #5461
I would say that in line with the other OFN functionality the order email should show the latest value in the system.

When we implement Order Edit Trail we can then ensure that emails also reflect the line items ordered rather than the line items at time of observation.

Based on the investigations I am downgrading this to S3 as we can now confidently report to users the cause of this difference

[2020-06-05 09:47] luisramos0 commented on #3770
Exciting!!!

We don't depend on spree_api anymore, we only depend on spree_core, thank god!
All API endpoints are already on the OFN side and outside the spree namespace: controllers/api, that's it.

Good thinking on the "Ransack object querying". I think we should get to a strucuture that doesnt give us too much work but is usable. It doesnt have to be perfect.
Agree, let's not support too many t

[2020-06-05 10:48] luisramos0 opened #5560 "Release v2.10.0 Shiitake"
Steps:

- [x] Include translations
- [x] Release draft https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-51c2c1f91401636e8381
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1469
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x

[2020-06-05 14:15] Matt-Yorkley commented on #5553
Should be fixed now...

[2020-06-05 14:26] sauloperez commented on #5499
I see we all mostly agree. We all see frictions everywhere and it really feels like a chicken egg problem. My biggest concern since the beginning was also now going in the opposite direction of releasing/deploying more often.

IMO the chicken-egg nature of this lies on two facts:

* As @mkll pointed out, if we decide we deploy after merging the Transifex PR, we don't know which commits landed in `

[2020-06-05 20:45] Matt-Yorkley commented on #3770
In terms of those query params like `q[payment_method_id_eq`, they should be usable already, right? I don't think we whitelist them.

[2020-06-06 00:03] luchiago commented on #5507
hey @filipefurtad0, as admin I'm not able to close an OC while some customer has products on cart.

[2020-06-06 08:20] luisramos0 commented on #5260
I have deployed the main upgrade branch again to uk staging.

[2020-06-06 19:33] filipefurtad0 commented on #5507
Hey @luchiago ,

What the exact difficulty you are encountering?

Deleting the OC should not be possible - indeed, the trash symbol disappears after there is an order. However, changing the date in Close into a past day should close the OC.

Hope this helps?

[2020-06-06 21:54] luchiago commented on #5507
Yeah, it helps, that is exactly what I was looking for. Thanks

[2020-06-07 01:36] luchiago commented on #5422
@luisramos0 I found two things
The tax rate that is been used during the editing is correct. However, there is a config that is changing one boolean variable of the selected tax rate.
[code]

[code]

As you can se, the rate is the selected tax rate (in the case, 20%), but the attribute `included_in_price` was changed, causing the incorrect value

My guess is this configuration on this method from

[2020-06-08 00:01] rioug commented on #5132
I am looking at this.

[2020-06-08 02:10] rioug commented on #5132
CSV file including a \r [product_list_malformed.zip](https://github.com/openfoodfoundation/openfoodnetwork/files/4743531/product_list_malformed.zip)
Added as a zip because github doesn't allow .csv file/

[2020-06-08 04:24] jeduardo824 commented on #5467
Hey guys, I opened a PR with a suggested fix. The showed shops above are the "distance matches" shops. We can erase them too, but since I don't know the expected behavior from the product view, I only fixed to show the message "No results found."

[2020-06-08 07:01] sigmundpetersen commented on #5132
Hey @rioug thanks, go ahead! 🙂

[2020-06-08 09:55] RachL commented on #5553
@Matt-Yorkley can you detail you fixed this without releasing something? In the meantime I'm closing this as it is working again :)

[2020-06-08 09:55] #5553 closed

[2020-06-08 14:14] filipefurtad0 opened #5567 "[BO Orders] Orders with one line item not including enterprise fees"
## Description

EDIT: Applies only for orders with one line item.

When placing orders in the backoffice, prices per item do not include the enterprise fees set for the respective order cycle. This can lead to significant discrepancies between values obtained when orders are placed in the shopfront or in the backoffice (see pics below).

Update: this happens if one does not press the Update And Re

[2020-06-08 16:20] filipefurtad0 opened #5568 "[Spree Upgrade 2.1] Can't add shipment fee"
## Description

It's not possible to add a shipment fee, by editing the respective shipping method. Inserting values in the "Calculator" fields and pressing Update displays the message "Shipping Method "<shipmentmethod>" has been successfully updated!", but the changes don't take effect. See gif below.

## Expected Behavior

Changes should take effect, in introducing shipment fees.

## Actual Beha

[2020-06-08 16:35] luisramos0 commented on #5553
@Matt-Yorkley can you explain the solution?
I saw you deleted your comment in #5465

[2020-06-08 17:16] luisramos0 commented on #5422
I dont think there's an incorrect value, do you?
The fix to this issue should just change the drop down selection to the correct tax rate.
Maybe just something wrong with this line?
      = select_tag :tax_rate_id, options_from_collection_for_select(Spree::TaxRate.all, :id, :name, @tax_rate_id), prompt: t(:remove_tax), class: 'select2 fullwidth'

[2020-06-08 17:32] luisramos0 commented on #5402
@errors is probably dead code but I didnt want to touch it in my previous refactoring code, so I left it...

[2020-06-08 18:24] luisramos0 commented on #5423
I need product feedback about https://github.com/openfoodfoundation/openfoodnetwork/issues/5423#issuecomment-638855102 go/nogo?

[2020-06-08 18:55] lin-d-hop commented on #5560
Nothing out of the ordinary here :-)

https://docs.google.com/document/d/1Y6bJtTri4i2i_NRQ1WfrWavRBaxoaP_Uyg0RRf0v2NU/edit#

Good to go

[2020-06-08 20:06] dmarcoux commented on #5555
Hi @RachL, could you assign me to this issue? I would like to tackle it.

[2020-06-08 20:09] sigmundpetersen commented on #5555
Hey @dmarcoux here you go 🙂 Thank you!

[2020-06-08 23:47] mkllnk commented on #4598
We don't have a convenient way to test this on staging. I could create a special testing branch with these language bits added but I need to remove those language changes before merging it again.

[2020-06-09 00:20] mkllnk commented on #4959
This issue has been linked to an error in Bugsnag
[**RuntimeError** in **spree/admin/products#create**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5ebdb2fd672f2b001880e05f?event_id=5eddedcc005b7bc6a7000000&i=gh&m=li)

[2020-06-09 07:44] daniellemoorhead commented on #2706
@Matt-Yorkley the "Take me shopping!" button on mobile isn't on the PR. I'm going to create a testing doc and test the rest but I already know this is missing.

Do you want to create a new PR for it attached to this one, or add it to the other one? It's ok for it not to be in a branch and merged separately.

[2020-06-09 08:10] daniellemoorhead commented on #2706
Also, I assume that all the copy for this epic is in transifex, correct?

[2020-06-09 08:16] daniellemoorhead commented on #3991
@Matt-Yorkley I haven't seen this bug in my travels, can you tell me a) if it's still a problem, and b) whether you fixed it in the PR?

[2020-06-09 08:17] luisramos0 commented on #5402
We will wait and see the errors now that 5528 is live.

[2020-06-09 08:17] luisramos0 commented on #5423
agreed on Delivery Train to go forward. I'll get the PR to code review soon.

[2020-06-09 08:30] #5560 closed

[2020-06-09 11:05] filipefurtad0 opened #5571 "Attempting to check out with a closed OC redirects to homepage"
## Description

After inserting items in the cart and while on the /shop page: if the OC closes and the customer tries to proceed to checkout, he will be redirected to the homepage instead of being redirected to the /shop page, where he can select another OC (if available).

## Expected Behavior

The customer should be redirected to the /shop page, and if:

1. no other OCs: stay on /shop page wher

[2020-06-09 11:08] daniellemoorhead commented on #4705
@yukoosawa does this mean that the "7 items in cart" and close menu should stay stuck to the top under then main nav, is that correct?

[2020-06-09 11:37] luisramos0 commented on #5568
Thanks Filipe, this was the typical rails 4 strong params issue where some attributes needed to be permitted explicitly, done in #5570.

[2020-06-09 12:28] lin-d-hop opened #5572 "500 Error on Payment Methods Report"
## Description

The Order Cycle Management -> Payments Methods report loads all orders before even loading the filter/search page.

To find Payments Methods it uses a line:
`pm = o.payments.first.payment_method` -> payment.first is nil

If ONE order that is available to the user from ANY of their enterprises fails to find a payment method then the whole page crashes - 500Error:
`undefined method `

[2020-06-09 15:38] Matt-Yorkley commented on #5467
There's various cases where the search can return results if the term doesn't match and enterprise name. Like entering a location gives results based on distance from that location. I think with partial matches it will return a set of results that look similar....

I've just had a play around with this in production though, and it definitely looks a bit weird.

[2020-06-09 16:16] filipefurtad0 opened #5574 "[Admin][Order] "Balance due" state after payments with a transaction fee"
## Description

The price shown in backoffice orders does not include transaction fees, for the respective payment methods. After payment is made, there is always an amount still to be charged and the order is in a "balance due" state. Attempting to pay for the open amount leads do an additional charge of the fee.

## Expected Behavior

The transaction fee should be included in the total price: it

[2020-06-09 16:24] luisramos0 commented on #5449
I just came back to this one now: but why was the refund amount 8.71 in the first place?
I guess that's what I need to find out...

[2020-06-09 16:38] filipefurtad0 opened #5575 "Missing translation in backoffice Payments"
## Description

When placing orders in the backoffice, and selecting Paypal under payments, the "No Payment Via Admin Backend" is not translated :

![image](https://user-images.githubusercontent.com/49817236/84174990-3974af80-aa77-11ea-9c82-e520ed983dd8.png)

## Steps to Reproduce

Log in as an admin, place an order in the backoffice and check the "Payments" section in an non-english instance.

##

[2020-06-09 16:44] RachL commented on #5575
thanks @filipefurtad0 ❤️ fyi all translation issues can be good first issues :) So I'm generally adding the label and adding them to the welcome new dev board.

[2020-06-09 16:48] RachL commented on #5574
@filipefurtad0 I wonder if this isn't a duplicate of: https://github.com/openfoodfoundation/openfoodnetwork/issues/3490

[2020-06-09 17:08] RachL commented on #5550
@TheoGallez as there is no news I'm assuming this is ok now. Feel free to reopen if it is not the case! Thanks :)

[2020-06-09 17:08] #5550 closed

[2020-06-09 17:13] RachL commented on #5409
@romale are you still experiencing the issue?

[2020-06-09 17:17] RachL commented on #5311
Myriam closed her hub so we are not close to reproduce this soon. I'm closing and we can reopen the day we have more info.

[2020-06-09 17:17] #5311 closed

[2020-06-09 17:18] RachL commented on #5310
As we have not enough info to reproduce this one, I'm closing. We can reopen if this happens again.

[2020-06-09 17:18] #5310 closed

[2020-06-09 17:43] filipefurtad0 commented on #5575
Thanks @RachL! - I'll be sure to add that next time... :+1:

[2020-06-09 18:11] filipefurtad0 commented on #5574
Hey @RachL ,

I did not see #3490 as a duplicate as it deals with refunds, but it's surely related. Where I really stopped to wonder was this one:
- Payment Fee adjustment after order completion #1168

But @lin-d-hop describes a this also from the perspective of performing adjustments, so I didn't consider it as a double either. I thought I'd open this issue despite the pre-existing ones since it

[2020-06-09 18:22] RachL commented on #5574
@filipefurtad0 awesome! we could create an epic to group them. Otherwise mentionning and linking them in description is already nice. At least somewhere we document that they might be linked. So you did the right thing of opening a new issue 👍

[2020-06-09 18:35] RachL commented on #5449
@luisramos0 maybe not at all related, but for the same hub I have an order with a credit owed, but no possibility to refund or void it.  Order number is R875367600.

[2020-06-09 19:16] Matt-Yorkley commented on #5527
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **spree/admin/payments#fire**](https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5ed0f64824185400191a7a81?event_id=5ed10666005b89c9cb100000&i=gh&m=li)

[2020-06-09 19:44] luisramos0 commented on #5527
I think I found the problem.

First, I found the related error in bugsnag. It's a problem in the active merchant code we use, for some reason the payment intent does not include the charges object id, basically, it's not able to capture the ID of the original charge made. It's using StripeSCA to try the refund.

In UK live database I can see 31 StripeSCA refunds done successful and only this order

[2020-06-09 20:43] romale commented on #5409
No, thanks.
The solution here https://github.com/openfoodfoundation/openfoodnetwork/issues/5436#issuecomment-634755002

[2020-06-09 20:43] #5409 closed

[2020-06-09 22:52] kirstenalarsen commented on #4977
@emilyjeanrogers is this an s2? or is an s3 - not sure why it got downgraded? Seems likely connected to https://github.com/openfoodfoundation/openfoodnetwork/issues/5572

[2020-06-09 22:53] kirstenalarsen commented on #5572
is this the same thing? https://github.com/openfoodfoundation/openfoodnetwork/issues/4977

[2020-06-10 00:40] mkllnk commented on #4598
@daniellemoorhead I tested one of the longest words `Aggiungi` and found that I needed to make the button 6px wider for a perfect fit. That should be fine. If people use longer translations, the add-button will just become a bit wider while the +/- buttons stay the same.

[2020-06-10 02:50] mbudm commented on #3770
I've been investigating using the `rswag` gem, to create tests for API endpoints, that will double as the source of an autogenerated Swagger (OpenAPI) spec. Rswag AFAICT defines a DSL that extends/maps to rspec methods.

However I've ran into a brick wall with authentication, so these notes are for anyone who is very familiar with Rspec and may be able to work out why things do not work as rswag a

[2020-06-10 03:11] mbudm commented on #3770
@Matt-Yorkley this is a dilemma,  I think these are the options:

- we document all the possible q[] params in swagger (~600 combinations by my count) - 😱
- we document in a non standard way (eg example in my [comment](https://github.com/openfoodfoundation/openfoodnetwork/issues/3770#issuecomment-639201004) above) and let API users figure out the syntax - we could add a few common examples in the

[2020-06-10 03:54] mkllnk opened #5577 "Add language metatags to HTML layout template"
## Description

The Open Food Network is available in several languages. Helping Google to find all pages in all languages [should increase our Google ranking](https://www.woorank.com/en/edu/seo-guides/hreflang-seo-guide).

## Acceptance Criteria & Tests

1. Open the home page.
2. View the HTML source of the page.
3. The source should contain a meta tag for each supported language: `<link rel="alt

[2020-06-10 03:54] mkllnk opened #8902 "Add language metatags to HTML layout template"
## Description

The Open Food Network is available in several languages. Helping Google to find all pages in all languages [should increase our Google ranking](https://www.woorank.com/en/edu/seo-guides/hreflang-seo-guide).

## Acceptance Criteria & Tests

1. Open the home page.
2. View the HTML source of the page.
3. The source should contain a meta tag for each supported language: `<link rel="alt

[2020-06-10 06:33] Matt-Yorkley commented on #3770
I don't think we can document all the combinations. We can give some examples of the most common/useful options. We can also point to the Ransack documentation: https://github.com/activerecord-hackery/ransack/blob/master/README.md#search-matchers

[2020-06-10 06:36] RachL commented on #5572
@kirstenalarsen Well what I understand is that in @lin-d-hop 's case it's a super user that has the problem and not one enterprise in particular, which makes it difficult to find the order causing this.

That's the difference I see between the two.

[2020-06-10 06:40] lin-d-hop commented on #4977
Very unlikely to be connected to #5572

#5572 is specific to payment methods report and is related to an order not having a payment associated. It is a data corruption issue and renders this report totally unusable ALWAYS for any user that is associated with that order.

I fail to see how they can be related.

[2020-06-10 06:41] lin-d-hop commented on #5572
Definitely not related to #4977.

Payment Totals report is not the Order Cycle Management -> Payment Methods report.

[2020-06-10 06:51] RachL commented on #5572
@lin-d-hop it's not the same report, but I think it is the same cause: some corrupt data.

[2020-06-10 07:00] SophieDuponcheel commented on #5550
Salut Rachel :)
This problem has been around for some time but I've been busy with other things.
I still have the problem with stripe, I can't connect the stripe account with the entreprise/shops "central Oxfam magasins du monde". Rachel had already tested with another stripe account, and it worked.
Maybe it's a problem because the stripe account (the bank account number) is the same as the one us

[2020-06-10 07:02] lin-d-hop commented on #5572
Could well be related and due to an order not having a payment associated:
From Payments Report code ->
'payments.first.payment_method.name'

The key difference is that the data is loaded before the page renders so the corrupted order makes the page totally unusable for any user associated with the order.

[2020-06-10 07:04] mbudm commented on #3770
@lin-d-hop a couple of the other fields you wanted to search on are currently not on the [model ](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/swagger.yaml#L1114)that this endpoint uses, so yeah we should make new issues for these:

q[shipping_method_id_eq]
q[payment_method_id_eq]

[2020-06-10 07:35] lin-d-hop commented on #5550
Sophie, two possible things.

1) You cannot connect an enterprise account to the same account as the Stripe Connect account. You should see an error like this:
![Screenshot from 2020-06-10 08-32-58](https://user-images.githubusercontent.com/8669848/84240025-50f27d80-aaf5-11ea-9110-eb1480ff0124.png)

The Stripe Connect account is the instance stripe account and this needs to be different from the S

[2020-06-10 08:53] RachL commented on #5255
HI @roryfogerty yes Luis is right, we handle all feature request in Discourse under Software improvement > Wishlist: https://community.openfoodnetwork.org/c/software-impovement/wishlist-curation/76
Please have a look and add this suggestion there! Meanwhile I'm closing here.

[2020-06-10 08:53] #5255 closed

[2020-06-10 08:55] RachL commented on #5470
@emilyjeanrogers as this is something we have not been able to reproduce I'm going to close it. We can reopen if it happens again. Best would be then to upload the file used to be able to reproduce it.

[2020-06-10 08:55] #5470 closed

[2020-06-10 08:57] RachL commented on #5394
@openfoodfoundation/core-devs can this be a good-first-issue?

[2020-06-10 09:01] RachL commented on #1865
Two things here:
- it is probably best to move it to discourse
- recently I had a hub who did a mistake and the only way to fix this was thanks to the confirmation emails. So I'm afraid this is something we want to keep for now. Once we have a proper edit trail, this can be reconsider.

Closing.

[2020-06-10 09:01] #1865 closed

[2020-06-10 09:03] sigmundpetersen commented on #5542
Could/should #3179 be attached to this work? (Upgrading the geocoder dependency)

[2020-06-10 09:10] RachL commented on #685
I haven't been able to reproduce this, so I'm going to close it.

[2020-06-10 09:10] #685 closed

[2020-06-10 09:14] mbudm commented on #3770
Ah thanks @sigmundpetersen I came back on to just that ^. Not sure how I managed to close the issue though 🤔

[2020-06-10 09:15] sigmundpetersen commented on #5071
Wonder if #619 concerns the same thing?
(One of our oldest open issues 👵 )

[2020-06-10 09:16] sigmundpetersen commented on #3770
No worries @mbudm 👍 Are you using the Zenhub extension? You can connect PR to the issue and they move along the pipe nicely 🙂

[2020-06-10 09:21] RachL commented on #1733
@luisramos0 @lin-d-hop something we need to do as part of Stripe SCA? Or something we just want to close?

[2020-06-10 09:52] romale commented on #5394
@RachL , this https://github.com/openfoodfoundation/openfoodnetwork/issues/5436#issuecomment-634755002 commands solves many issues with translations, and this issue too.
So I close it.

[2020-06-10 10:07] RachL commented on #1805
We are discussing this in the #network channel, and I believe network rewamp will cover all those issues. In any case it won't be a papercut, so I'm closing this here.

[2020-06-10 10:07] #1805 closed

[2020-06-10 10:17] luisramos0 commented on #1733
It's a good issue! I think it's worth doing it now that I still remember what is going on. I can spend 1/2 hours writing a tech doc. It will be very useful for anyone taking over work on our stripe integration. I wish I had one when I started.

[2020-06-10 10:33] romale opened #5579 "Missing translation key 'subscriptions'"
## Description

As a admin go to
/admin/subscriptions

Translation of "Subscrption" title not applied.

## Expected Behavior

Translated

## Actual Behaviour

## Steps to Reproduce

1.
2.
3.
4.

## Animated Gif/Screenshot

![image](https://user-images.githubusercontent.com/928628/84257805-99726100-ab1e-11ea-927c-30db0a7d5092.png)

## Workaround

## Severity

## Your Environment

* Version used: 2.

[2020-06-10 10:35] filipefurtad0 opened #5580 "Backoffice orders with transaction fees"
This epic gathers issues related to backoffice placement, refund, adjustment (others?) of orders with transaction fees.

[2020-06-10 23:49] mbudm commented on #3770
Yep I have that set up - thanks

[2020-06-10 23:59] daniellemoorhead commented on #2706
@yukoosawa with the take me shopping button should it display if the user opens the cart from a shop, as it does when they're on a non-shop page? That's how the button works now (ie if on a shopfront do not display), making sure that's the interaction you designed?

[2020-06-11 00:01] daniellemoorhead commented on #4598
awesome, thanks @mkllnk 😄

[2020-06-11 00:14] mkllnk commented on #4598
@daniellemoorhead @yukoosawa I looked at the design and the logic affecting the bulk quantity fields. The design shows a maximum quantity of `-` which means that it's not set. I find that confusing because it looks very similar to the button to reduce quantity.

Logically, it also makes sense to set the max quantity to at least what the min quantity is. When you want six apples, you imply that you

[2020-06-11 00:21] luchiago commented on #5422
Hmmm, I will check this @luisramos0

[2020-06-11 00:37] mbudm commented on #3770
Awesome @luisramos0 thanks! And that is super fascinating as the `let(:api_key)` syntax [by my reading ](https://github.com/rswag/rswag#paths-operations-and-responses) should have the same effect in run_test! as the `parameter` approach... 🤷‍♂️

[2020-06-11 05:07] rioug commented on #4206
If I am not mistaken, scenario 1 has been implemented.
Looking at this, the better solution would be something like Scenario 2 as proposed by @mkllnk but with the following steps :
* click on edit product, load edit product page.
* make changes, then update. User stay on the edit product page.
* click on "Cancel" ,"Back to product list" should open the product list with the previous filter passed

[2020-06-11 07:39] Matt-Yorkley commented on #5402
Okay, I had a rummage around in Bugsnag for checkout-related errors.

### Response data is null

There's a number of cases where it looks like we've used this conditional on the response (in `#handle_checkout_error_response`):
[code]
and we've hit this error: `TypeError: response.data is null `. Maybe we can adapt it to be a bit more cautious, eg:
[code]

There's also a separate set of very simila

[2020-06-11 08:01] Matt-Yorkley commented on #5402
### Chrome security policies

The bit that concerns me most with the dev-tools screenshot in the original issue (especially given that the reports seem to be related to Chrome) is this:

![chrome](https://user-images.githubusercontent.com/9029026/84359418-e448b300-abc8-11ea-849d-34b2f3a0e924.png)

Essentially Chrome is proposing changes to cross-site resource loading that will break OFN, and telli

[2020-06-11 08:37] #5096 closed

[2020-06-11 09:29] Matt-Yorkley commented on #5402
I think this probably deserves three separate issues/PRs (outlined above).

[2020-06-11 10:19] Matt-Yorkley opened #5583 "[Checkout JS] Response data is null"
See epic for more context: https://github.com/openfoodfoundation/openfoodnetwork/issues/5402

### Errors where `response.data` is null

There's a number of JS checkout error cases where it looks like we've used this conditional on the response (in `#handle_checkout_error_response`):
[code]
and we've hit this error: `TypeError: response.data is null `.

There's also a very similar but separate set

[2020-06-11 10:21] Matt-Yorkley opened #5584 "[Checkout JS] Stripe Elements"
See epic for more context: #5402

### Element not mounted

This checkout JS error appears various times in Bugsnag:
[code]
The `Element` referred to here is actually a `Stripe Elements` object. Further reading: https://stackoverflow.com/questions/48391076/stripe-not-working-with-error-uncaught-in-promise-error-we-could-not-retriev

[2020-06-11 10:26] Matt-Yorkley opened #5585 "[Checkout JS] Chrome security policies"
See epic for more context: #5402

### Chrome security policies

The bit that concerns me most with the dev-tools screenshot in the original issue (especially given that the reports seem to be related to Chrome) is this:

![chrome](https://user-images.githubusercontent.com/9029026/84359418-e448b300-abc8-11ea-849d-34b2f3a0e924.png)

Essentially Chrome is rolling out changes to cross-site cookie load

[2020-06-11 10:42] #5303 closed

[2020-06-11 10:43] luchiago commented on #5422
@luisramos0 Even if I change the displayed tax, the first calculation (when the user selects a new tax rate) isn't correct. Correct me if I am wrong, but the correct value of the tax in the [screenshot](https://camo.githubusercontent.com/d5b603d8cae7d541d4ac0aa9f34b374a4ccf753c/68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f35393565363639613631623463613362306137333731333

[2020-06-11 10:45] Matt-Yorkley commented on #5585
Thinking about it, this issue might be caused by either of the other two issues in this epic, so maybe we should address those first and then see how it looks in prod...

[2020-06-11 10:46] Matt-Yorkley commented on #5583
Thinking about it, this issue might be caused by either of the other two issues in this epic, so maybe we should address those first and then see how it looks in prod...

[2020-06-11 11:23] #5094 closed

[2020-06-11 13:34] #5321 closed

[2020-06-11 13:35] #5204 closed

[2020-06-11 13:40] sauloperez opened #5586 "Release v2.10.1 Gazpacho"
Steps:

- [x] Include translations
- [x] Release draft: https://github.com/openfoodfoundation/openfoodnetwork/releases
- [x] Notify #instance-managers of user-facing changes.
- [x] Test: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1493
- [x] Publish and notify #global-community
- [x] Deploy and notify #instance-managers
- [x] Nudge next release manager

The

[2020-06-11 14:12] RachL commented on #1273
I'm closing this as letting the banner re-appear is actually wanted in some cases. If we want to tackle this we will need another type of issue with more detail / spec work.

[2020-06-11 14:12] #1273 closed

[2020-06-11 14:14] RachL commented on #1004
I can't reproduce this one, so I'm closing it.

[2020-06-11 14:14] #1004 closed

[2020-06-11 14:16] RachL commented on #1497
This is working now 🎉 Closing

[2020-06-11 14:16] #1497 closed

[2020-06-11 14:20] RachL commented on #2130
I'm closing this one as we are leaning to remove those icons completely.

[2020-06-11 14:20] #2130 closed

[2020-06-11 14:23] RachL commented on #1997
It took me a while to understand this one. From what I understand this is working now. We can reopen if needed.

[2020-06-11 14:23] #1997 closed

[2020-06-11 16:22] filipefurtad0 commented on #5527
That's definitely a key factor here @luisramos0, trying to refund with a Stripe method which is doesn't exist anymore.

To check this, I placed orders through the shopfront, with Stripe method A, then deleted this Stripe method and attempted refund with a remaining Stripe method B, and vice-versa. So, basically I observed that:

- orders paid with Stripe-Connect can't be refunded through Stripe-SC

[2020-06-11 18:57] luisramos0 commented on #5584
I can see this impacted 3 users in FR, 3 users in AU and 6 users in AUS. I wonder if this is an S2 or if we should wait a few more weeks and see if it happens often.
We could see if these users managed to place the orders in the end or if this really blocked them.

[2020-06-11 19:01] luisramos0 commented on #5583
I cant find this error on bugsnag but it's so easy to do that I think we should get this one in now. The else is a throw response so the error will pop up with more details :+1:

[2020-06-11 19:03] luisramos0 commented on #5585
This one is definitely an S2 and needs to be addressed now :+1:

[2020-06-11 19:04] luisramos0 commented on #5402
Awesome investigation Matt :tada:
I think we should do 5583 and 5585 now and maybe leave 5584 for a bit later.

[2020-06-11 19:43] luisramos0 commented on #5527
awesome, I think we can close this issue. We will not support those cases with code.

[2020-06-12 03:28] kirstenalarsen opened #5591 "Tax on line items displays incorrectly in tax invoice"
## Description
The tax invoice generated in bulk invoice print is showing the wrong amount of tax, both at the line item level and in the total. The email confirmation matches the total and the amount of tax but doesn't show the breakdown at line item

Conveniently this is my order so I know everything about it. Here is the tax invoice (generated from bulk invoice print)

![image.png](https://imag

[2020-06-12 05:15] JenRSmith opened #5592 "Bulk Edit Products page search categories not visually resetting with clear filter button"
## Description
When clicking the clear filter button on the Bulk Edit Products page, any filters applied remain visually active, although they don't affect the subsequent searches. This may cause confusion to the user who has selected to clear the previous filters.

## Expected Behavior
All filters should show in their inactive state - nothing selected.

## Actual Behaviour
Any filter previously s

[2020-06-12 07:11] daniellemoorhead commented on #5397
Here's also a recording of the scroll in action on an iPad with the new view cart look. It's just plain wrong, not good UX, needs to be fixed.

https://www.loom.com/share/a3f39032b898447ea570db8eaf711ada

[2020-06-12 07:59] daniellemoorhead commented on #4598
Cool @mkllnk 😎

Let's get it through to testing and have a play with it!

[2020-06-12 08:37] luisramos0 commented on #5591
Hey @kirstenalarsen

"UPDATE: After much investigation I have worked out what is happening. There is a transaction fee on the line item that includes tax. The 'Price' on the tax invoice includes both the item cost and the fee, but the GST/Tax column only includes the tax on the item itself, NOT the tax on the fee
So the tax on the fee isn't visible until it magically appears in the total tax at th

[2020-06-12 09:12] lin-d-hop commented on #5527
Thanks for the investigations!
I was sure we checked SCA refunds worked in the general case (otherwise I would have blocked SCA rollout). Really made me doubt myself this one... phew!

[2020-06-12 09:12] #5527 closed

[2020-06-12 11:37] luisramos0 commented on #5449
Rachel, this last order is not related R875367600. The credit card used for the original payment was deleted so the refund is not available.

[2020-06-12 11:51] luisramos0 commented on #5449
I just tested and multiple partial refunds on an order are working correctly.
I can see the different refunds on stripe.

Can you share the Stripe page details for the payment in R288734641?

[2020-06-12 11:58] luisramos0 commented on #5447
Hey Filipe, I tested this on staging UK (with the new stripe setup using the UK live stripe account on test mode) and it is working correctly.
I think this was a problem with the stripe setup of the instance.
Can you please give it a try again? Thanks!
Old saved cards wont work because the stripe setup has changed. If you want to test saved cards you need to add them again

[2020-06-12 12:32] RachL commented on #5449
Ah interesting!

[2020-06-12 12:40] kirstenalarsen commented on #5591
thanks @luisramos0 - I have updated the title, but I think it is still correct that the tax is incorrect. Because the tax is incorrect on the line items the amount of tax shown in the line items does not add up to the tax shown at the bottom. So for a user it is impossible to know which is the correct one.

[2020-06-12 13:06] luisramos0 commented on #5591
I understand, this is specific to fees applicable to line items :+1:
I assume that for order level fees, the tax would also not be displayed but included in the total tax and the order total.

We can solve this issue by adding the tax on the fee to the line item or, maybe easier, add an extra line to the invoice with tax on fees (for both tax on fees that are line item specific and tax on fees tha

[2020-06-12 13:59] kirstenalarsen commented on #5591
Looks like there is a line item for fees that are order specific already (as well as shipping and payment) - and the same issue occurs i.e. the tax in the Admin & Handling fee is not displayed. So I'd be inclined to leave the line items as they are but display the tax correctly, and do the same thing in the 'Admin & Handling' fees line item i.e. display the included tax.

![image](https://user-ima

[2020-06-12 14:05] luisramos0 commented on #5449
#### The data in the DB
The problem is that normally a refund in Stripe will be registered in the OFN DB, it will look like this in the DB:
![image](https://user-images.githubusercontent.com/1640378/84507948-8778f580-acb9-11ea-9acb-9e75b79d9c68.png)

Where the first row in the image, the refund, will have a source which is the payment, the original payment in the second row.

In this case, in the

[2020-06-12 14:57] RachL commented on #5586
Everything is looking good 🎉 https://docs.google.com/document/d/1Mw9PJUWP2_2AG9N5kx2Zsr6918H5glkyblf8R0yb_2c/edit#

[2020-06-12 16:44] luisramos0 commented on #5525
It was totally broken in the upgrade branch, the attributes of the card were not permitted (something that needs to be done explicitly in rails 4). Done in #5597

[2020-06-12 23:38] yukoosawa commented on #4705
Yes that's correct. On my iPhone 6S that should show approx 5 products before I have to scroll the list.

[2020-06-13 00:15] yukoosawa commented on #2706
@daniellemoorhead I'm ok to leave it as is on AU Staging -- but the intention was to have the 'take me shopping' button persist in the View Cart.

If the user HAS NOT visited OFN before / cleared cookies / viewing in private browser mode:
- From the Home, Shop List, Map, and Producer List pages, the 'Take me shopping' button should take the user to the Shop List page.

If the user HAS visited OFN

[2020-06-13 09:10] Matt-Yorkley commented on #3770
q[payment_method_id_eq]

Ransack can search attributes on associations as long as the association is defined in the model, so there are probably a lot more options than we've listed. For example`Order` has a `belongs_to` relationship with `OrderCycle`, so we can do this when searching orders: `q[order_cycle_name_cont] = "Farmhouse"` to search for orders where the order's order_cycle's name contain

[2020-06-13 09:43] luisramos0 commented on #3770
I think that an has_many shipping_methods in the order would be more or less straight forward to get.
The has_one shipping method would be more complicated because of the "selected" flag on shipping rates and all the code that changes it.

We recently added the ship method filter to the orders api endpoint here:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5354/files

Re your order_c

[2020-06-13 09:46] Matt-Yorkley commented on #3770
I'm 99% sure it "just works".

[2020-06-13 10:09] Matt-Yorkley commented on #3770
All the complexity with `shipping_rates` and the `selected` flags etc is essentially there to handle **Spree 2**'s logic of "orders can have multiple shipments", right? But in OFN, orders do not have multiple shipments. If we update the data model a bit to reflect the reality that Order `has_one` Shipment, I think we can :fire: a lot of that complexity, along with stuff like this:

https://github.

[2020-06-13 10:13] Matt-Yorkley commented on #3770
![](https://media.giphy.com/media/5nsiFjdgylfK3csZ5T/giphy.gif)

[2020-06-13 10:21] luisramos0 commented on #3770
lol, yes, agree, but it has lots of implications in different parts of the code, both ofn and spree. We will only be able to do that after most of #4826

[2020-06-14 15:57] filipefurtad0 commented on #5447
Awesome @luisramos0 ,
Stripe-SCA payments now work fine - The redirection works as expected after authentication.
I performed a brief sanity check on SCA functionality - Saving a card and paying with a saved SCA-card - all good now :tada:

[2020-06-14 17:02] luisramos0 commented on #5447
cool, thanks Filipe!

[2020-06-14 17:02] #5447 closed

[2020-06-15 02:12] jeduardo824 commented on #5454
@tschumilas Could you check the GIF in #5601 and let me know if this is what you are expecting?

[2020-06-15 03:56] tschumilas commented on #5454
I can't actually tell from the GIF.  What we were asking was - for example -  if I open Freddy's farm shop,   can I leave it as an open tab,  and go back to the producer list,   and open a second shop in a new tab.  So -  I would have 2 vendor shops (or more) open in my browzer in different tabs at the same time.   This would enable me to shop in 2 shops at once by going back and forth between tab

[2020-06-15 04:26] emilyjeanrogers commented on #5551
@mkllnk would the above bug be triggered even if a report wasn't specified? This scenario occurred just by clicking on the link to open the Order Cycle Management Report page.

If there's a payment method missing, does that imply that a database check is happening before specifying which report to run?

On Slack, @Matt-Yorkley said "I think there's some code that pulls orders the user has permissi

[2020-06-15 06:05] lin-d-hop commented on #5551
@emilyjeanrogers Yes this bug occurs before the page loads at all. There is a payment method missing from an order due to a data inconsistency created somewhere else in the platform that we have yet to track down.

[2020-06-15 06:43] RachL commented on #4806
@luisramos0 just too be sure: the idea is that instead of not counting visible only variants and hidden variants, we would continue to count them but display them to the user. Is that correct?

I think I like the logic because it can save time. User don't waste time in searching why they are missing variants. But I have 2 questions:

- what is the scope of the visible only variant? What kind of pe

[2020-06-15 09:28] jeduardo824 commented on #5454
Yes, it is more clear, thanks.

![Screen Shot 2020-06-15 at 06 24 22](https://user-images.githubusercontent.com/27960597/84641182-1449cc00-aed1-11ea-9369-5552c7a86fe8.png)

Just to confirm: Do you want this behavior on the content inside the red square or the blue square? I can change both or just one.

[2020-06-15 09:51] luisramos0 commented on #4806
It's complicated... this is the description in the code:
"my incoming producers' variants that are already in an outgoing exchange of this hub"
I think this is the case where the variant is already added but the user looking at the OC doesnt have add to OC permission.

Select all would not select these, variants hidden in inventory and not-editable variants are not selectable.
Changing the order b

[2020-06-15 10:16] luisramos0 commented on #5523
this is a duplciate of #4957

[2020-06-15 10:16] #5523 closed

[2020-06-15 10:23] tschumilas commented on #5454
The red square.

[2020-06-15 10:25] luisramos0 commented on #3704
Moving to ready to go as we will be merging the branch to master soon.

[2020-06-15 10:27] #5572 closed

[2020-06-15 12:10] RachL commented on #5260
Now that everything has been merged to master, I'm closing here. Specific issues will be open if needed 🎉

Thanks a lot @filipefurtad0 !

[2020-06-15 12:10] #5260 closed

[2020-06-15 12:16] RachL commented on #3704
@luisramos0 I see there are two issues still attached here and not merged yet. Do we need to keep track of them in the epic? If so I would moved it back to test ready. Otherwise we can close it an follow the issues as part of the general workflow now that everything is in master?

[2020-06-15 12:55] luisramos0 commented on #3704
yeah, we can keep them in this epic but I am closing the epic now anyway. It's master now so any issue with be a normal issue.

[2020-06-15 12:55] #3704 closed

[2020-06-15 13:26] luisramos0 opened #5606 "[Rails 4.1] CSRF protection from remote <script> tags (22 broken specs)"
We have few errors in the build related to this change in rails 4.1:
https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#csrf-protection-from-remote-script-tags

The build:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5611/builds/8

[2020-06-15 13:30] luisramos0 opened #5607 "[Rails 4.1] Mutator methods called on Relation"
Where we use mutator methods, we need to convert the relation to an array:
https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#mutator-methods-called-on-relation

This is already done in some commits here but it's not complete:
https://github.com/openfoodfoundation/openfoodnetwork/compare/rails-4-1?expand=1

[2020-06-15 13:39] luisramos0 opened #5608 "[Rails 4.1] Changes on default scopes"
The default scope works differently on rails 4.1 we need to investigate and see what's the impact on our code:
https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#changes-on-default-scopes

[2020-06-15 13:43] luisramos0 opened #5609 "[Rails 4.1] Different accessor code required if model attribute is a DB column or not"
I am not sure what's the cause of this but we need to make this change in quite a few places I think:
https://github.com/openfoodfoundation/openfoodnetwork/issues/5386#issuecomment-630877549

[2020-06-15 14:05] #5568 closed

[2020-06-15 15:43] lin-d-hop opened #5612 "500 Error when creating a product with missing value"
## Description

There are a lot of required fields when creating a product.

For the most part OFN gives a good error message when a required field is blank. However when creating a product with Unit Size Items if the Value field is left blank the user sees the slug (500 error)

## Expected Behavior

When Unit Size = Items and Value is left null we should see an error message at the top of the scr

[2020-06-15 16:18] RachL commented on #5612
@lin-d-hop is this a duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/4959 ? Sorry haven't had time to check in detail.

[2020-06-15 16:42] lin-d-hop commented on #5612
closing. duplicate :-)

[2020-06-15 16:42] #5612 closed

[2020-06-16 00:17] tschumilas commented on #4806
I echo the concern about large catalogues.  In OFN Canada now users use the inventory tool either because (1) they made a mistake and thought the had to put their products there,   or (2) they have a large catalogue and its easier to manage it in inventory -  mostly because you can hide things from view.  so we need to think about large product lists -  I think yes,  we need to solve it.

[2020-06-16 07:22] daniellemoorhead commented on #2706
@Matt-Yorkley I checked this in an icognito window on staging and it doesn't show up on /shops right now. I'll add this to the list of things to be fixed.

![Screen Shot 2020-06-16 at 5 21 22 pm](https://user-images.githubusercontent.com/10949052/84743851-d98d8400-aff5-11ea-903b-1581129ccb26.png)

[2020-06-16 07:51] sigmundpetersen opened #5619 "[Flaky spec] ./spec/features/consumer/caching/darkwarm_caching_spec.rb:32"
[code]

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1496

[2020-06-16 09:33] Matt-Yorkley commented on #5619
Ah, I re-enabled this in the Spree upgrade branch when updating the caching code for Rails 4. It's still flaky though.

[2020-06-16 10:31] filipefurtad0 opened #5620 "[Spree Upgrade 2.1] Can't save changes made on Configuration > Zones > Type fields"
## Description

Saving changes takes no effect, when editing Type fields in Zones, under Configurations (superadmin), which prevents changing these settings.

## Expected Behavior

Pressing Update should make changes take effect.

## Actual Behaviour

Pressing update does not save changes.

## Steps to Reproduce

1. Log in as superadmin
2. Go to Configurations > Zones
3. Edit a Zone and attempt to

[2020-06-16 10:41] Matt-Yorkley commented on #5620
Probably related to strong params...

[2020-06-16 11:20] luisramos0 commented on #4806
thanks @tschumilas I am not sure I was clear about the definition of the problem. The problem is not generic, like large catalogs. The problem is about hidden variants in large catalogs.

I think in practice we are talking about a user who is looking for a product in the shopfront with 100s of products. They cant find it there so they go to the OC edit page with those 100s of products to see what'

[2020-06-16 13:47] luisramos0 opened #5622 "Images broken in v3"
## Description
Looks like images are broken in v3 in AUS and UK staging servers. We need to investigate.

## Expected Behavior
Product images show up.

## Actual Behaviour
No images.

## Steps to Reproduce
Go anywhere on staging AUS and check product images.

## Workaround
none yet.

## Severity
bug-s1: a critical feature is broken: checkout, payments, signup, login

We need to look at this immedi

[2020-06-16 13:58] sauloperez commented on #5586
Deployed to all instances!

[2020-06-16 14:00] #5586 closed

[2020-06-16 14:18] #5583 closed

[2020-06-16 14:49] Matt-Yorkley commented on #5622
I've been investigating this a bit. It looks like there have been some slight changes to the way assets are precompiled, which affect images added in `/assets/images/*`.

[2020-06-16 14:51] sauloperez commented on #5622
Oh wait, I was just about to start working on it.

[2020-06-16 14:51] Matt-Yorkley commented on #5622
It seems to affect some images and not others. Quick example, if you go to a shop page and look at the search bar, it should have this icon in the searchbar:

![Screenshot from 2020-06-16 16-50-17](https://user-images.githubusercontent.com/9029026/84790392-99c49d80-aff1-11ea-8eb8-05669dbcfe1a.png)

It's missing in Rails 4.

[2020-06-16 14:52] #3442 closed

[2020-06-16 15:07] sauloperez opened #5625 "DEPRECATION WARNING: Extra .css in SCSS file is unnecessary."
### What we should change and why (this is tech debt)

The Rails 4 upgrade brought the following deprecation warning that likely prevent upcoming gem upgrades

[code]

You can see it just booting the app on your local machine.

### Context

This came up after the merge of https://github.com/openfoodfoundation/openfoodnetwork/pull/5158

### Impact and timeline

This, apart from slowing down the dev

[2020-06-16 16:16] sauloperez commented on #5449
Thanks for your investigation @kristinalim and that report @luisramos0 :clap: :clap:

The only thing I can think of is that the payment creation for the first refund failed some validations and so it wasn't persisted. Patching Spree replacing the create to create! in [#credit](https://github.com/openfoodfoundation/spree/blob/e10ca1f689b1658040b081939b7523f6fb68895a/core/app/models/spree/payment/pr

[2020-06-16 16:32] luisramos0 commented on #5449
ah, yes, nice, let's do that!

[2020-06-16 18:47] filipefurtad0 opened #5626 "Broken hyperlink on Sales Tax Report -> Snail 404"
## Description

Please note: observed in both v3.0 and v2.1 - not upgrade related

Hyperlink from orders on the Sales Tax Report are broken, which leads to an error 404.

## Expected Behavior

Hyperlink should lead to editing an order, just like on the Orders section.

## Actual Behaviour

Error 404.

## Steps to Reproduce

1. Go to Sales Tax Report
2. Click on the hyperlink of a given order (admi

[2020-06-16 19:23] #5428 closed

[2020-06-16 19:24] luisramos0 commented on #5422
I think you want to fix the wrong part of the equation.
I think the value is correct, the tax rate 20% is wrong because the select box is not picking up the correct tax rate.

[2020-06-17 01:48] emilyjeanrogers commented on #4977
I have reproduced this error today and been able to narrow it to a more specific date range. The snail occurs for any Payment Totals Report run for Prom Coast Food Collective prior to March 12th 2019.

[2020-06-17 07:11] daniellemoorhead commented on #4598
Any thoughts on when you'll have this in the branch and ready for testing @mkllnk?

[2020-06-17 07:17] daniellemoorhead commented on #5072
@mbudm reckon this is something you could sort out for us? It's the thing we briefly saw today :)

[2020-06-17 07:18] daniellemoorhead commented on #5397
Note: There is a tech fix in #5480 that could be rolled out everwhere to fix this.

@Matt-Yorkley would this be an easy thing for people to do?

[2020-06-17 07:18] daniellemoorhead commented on #2718
Passed testing in #5480

[2020-06-17 07:18] #2718 closed

[2020-06-17 07:19] daniellemoorhead commented on #4705
Passed testing for #5480

[2020-06-17 07:19] #4705 closed

[2020-06-17 07:19] sauloperez commented on #4981
We just realized https://app.datadoghq.com/apm/trace/2306158473115529589?spanID=8579172554628913600 is a good example of this.

Needs to be confirmed but it really looks like because a `Credit card Credit Card has expired` exception was raised the user didn't receive any email telling the payment failed thus, we might get a customer support request in a few days.

We need to refactor the `if` bran

[2020-06-17 07:20] daniellemoorhead commented on #4704
Passed testing via #5480

[2020-06-17 07:20] #4704 closed

[2020-06-17 07:23] daniellemoorhead commented on #3991
@Matt-Yorkley?

![](https://media.giphy.com/media/MkxZKy77sWoEw/giphy.gif)

[2020-06-17 07:57] daniellemoorhead commented on #5434
Hey @Matt-Yorkley I spoke to a dev friend and asked for some help on this, he offered this:

<img width="613" alt="Screen Shot 2020-06-17 at 5 55 06 pm" src="https://user-images.githubusercontent.com/10949052/84871366-c8ab4400-b0c3-11ea-920d-1856c5556dfe.png">

Not sure if you tried either of these already...but I've got my fingers crossed this'll be something you can do easily that would sort it

[2020-06-17 09:56] lin-d-hop commented on #5591
This is clearly an annoying issue. Its also something that has always existed and one of a million tax related issues in the system.

I would argue that now that we can see the tax total is correct that we do have a workaround. The workaround is to tell the user that the tax in lineitems is incorrect so use the total.

Obviously its not perfect, no workarounds ever are. But as the tax total is cor

[2020-06-17 10:00] Matt-Yorkley commented on #5585
So I contacted Stripe about this after reading their docs and various threads where people were experiencing the same issue, and it seems like Stripe's answer is that there isn't a problem. It looks like there's nothing we can do on our side.

The issue is triggered from within `stripe-js`, but the code within that script already handles `SameSite` configuration for cookies. It looks like Stripe h

[2020-06-17 10:01] Matt-Yorkley commented on #5585
Closing for now...

[2020-06-17 10:01] #5585 closed

[2020-06-17 10:26] Matt-Yorkley commented on #5591
So just to clarify:
- does this need to be near the top of `dev-ready` now that it's not an S2?
- is there a final decision on what would need to be done to improve/resolve the issue, and if so: can someone give a clear description of it?

[2020-06-17 10:35] Matt-Yorkley commented on #5625
This makes specs incredibly noisy and should be very quick to fix, moving to top of tech-debt pile.

[2020-06-17 11:30] luchiago opened #5629 "Not able to finish local setup on"
## Description

I tried to do the local setup of the project and I wasn't able to finish it because one seed file has a bug

## Expected Behavior

The expected behavior is being able to finish the setup of the project

## Actual Behaviour

I can't finish the setup

## Steps to Reproduce

1. Clone the repository to your machine
2. Follow the steps on GETTING_STARTED.md
3. Run `script/setup`
4. See

[2020-06-17 11:31] luchiago commented on #5629
If you guys consider as a real problem, I can send a PR fixing. It's easy to solve.

[2020-06-17 12:38] sigmundpetersen commented on #4977
The prioritization was discussed here https://openfoodnetwork.slack.com/archives/CAVTM01QB/p1587133992174900

However, @filipefurtad0 has observed this when testing #5595 and I think is in favor of upping it to an S2. Filipe, maybe you could summarize your findings here?

[2020-06-17 12:46] lin-d-hop commented on #4977
There are two things happening here:
1) Inconsistent data on orders
2) Reports that won't load if there is not payment

@sauloperez helped us find the orders with inconsistent data in #5572 so we could remove them and make the report work again.

I would say that you could do an s2 for that, and that since this seems to occur very rarely we could make an s3 for the underlying issues.

[2020-06-17 13:42] luisramos0 commented on #3179
geocoder was upgraded to 1.5 as part of the upgrade to rails 4.

[2020-06-17 13:42] #3179 closed

[2020-06-17 13:56] luisramos0 commented on #5258
fyi, I have just confirmed, there's no difference for the user on the stripe dashboard, see here:
https://github.com/openfoodfoundation/openfoodnetwork/pull/5446#issuecomment-645388972

[2020-06-17 14:22] RachL commented on #5585
thanks for dealing with this @Matt-Yorkley !

[2020-06-17 15:19] filipefurtad0 commented on #4977
Yes, as @sigmundpetersen points out, I bumped into this issue checking something else.

I agree with points 1. and 2. @lin-d-hop. So I tried to narrow it down to such cases, and cancel these orders, so they don't appear in the reports - and this works to some extent, but not always. There is something else breaking the report other than the integrity of orders (points 1. and 2.) and the time-frame

[2020-06-17 15:42] filipefurtad0 commented on #4977
Below are the entries on DB from the 3 orders from staging-uk. I can't spot anything unusual here either. Thoughts?

[code]

[code]
[code]

[2020-06-17 18:41] #5620 closed

[2020-06-17 18:55] #5626 closed

[2020-06-17 18:58] #5132 closed

[2020-06-17 21:20] rafaelbbrazdmc commented on #5524
Exactly same issues in Brazil! I did this and works well.

[2020-06-17 21:25] luisramos0 opened #5631 "[Rails 4.1] Fix spec spec/controllers/api/order_cycles_controller_spec.rb (13 broken specs)"
This error in this build:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5611/builds/2

[code]

If I debug product_ids I see the controller looking for a template:
![image](https://user-images.githubusercontent.com/1640378/84952054-47ff3e80-b0e9-11ea-91b9-b811cdbcb853.png)

We need some trick in the controller to make it render the json using the serializer prov

[2020-06-17 21:33] luisramos0 opened #5632 "[Rails 4.1] Fix spec/models/spree/adjustment_spec.rb (4 broken specs)"
Broken specs in this build
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5611/builds/2

With this error:
[code]

Replacing sum with map and sum, fixes the specs:
![image](https://user-images.githubusercontent.com/1640378/84952777-73cef400-b0ea-11ea-93b4-c09d686289ee.png)

This needs to be done after #5613 is merged to avoid conflicts.

[2020-06-17 21:48] filipefurtad0 opened #5633 "Ghost icons on maps"
## Description

The icons of some existing enterprises are missing and don't appear on the map. So far, only was able to find two cases, each of them in staging-UK and -AU.

Newly created enterprises are displayed correctly.

## Expected Behavior

Active and visible enterprises should be seen on the map with the appropriate icon.

## Actual Behaviour

Some are not.

## Steps to Reproduce

1. Go to

[2020-06-17 21:59] sigmundpetersen opened #5634 "[Flaky spec] ./spec/features/admin/order_cycles/complex_updating_specific_time_spec.rb:14"
[code]

https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/1501

[2020-06-18 02:00] kirstenalarsen commented on #5032
I don't think this should have any of the 'good first issue' or 'hackathon' labels as it currently contains no clear direction / specification of what we want done. Seems like a design question to me - what should we do with it - can I remove the labels to avoid someone picking it up and doing somethign that we don't actually want? @daniellemoorhead @lin-d-hop @RachL

[2020-06-18 04:23] mkllnk commented on #4598
My aim was to get it ready today. The implementation is done but the specs need adjusting and they fail seemingly unrelated... I have no clue why yet.

[2020-06-18 07:37] luisramos0 commented on #5633
:+1: I am not sure this is an s2. I am not sure this should block the v3 release.

[2020-06-18 07:51] filipefurtad0 commented on #5633
Thank you for the feedback.
I'm unsure on the extension/impact - hence the S2. But I agree not to block the release for this one @luisramos0. Should we downgrade it?

[2020-06-18 08:38] Matt-Yorkley commented on #5633
I'm assuming this is related to the new icon we added recently that shows "+1" where there are locations that overlap. I think this is related to #5622. Lets take a look again after #5624 is merged.

[2020-06-18 08:39] sauloperez commented on #5633
Yes, it really looks like an asset precompilation issue.

[2020-06-18 08:41] sauloperez commented on #4977
Thanks this Sherlock work! it made my job a piece of cake!

It turns out that the only failure in UK, Katuma and FR stagings is

[code]

Particularly, from these orders from UK staging that you report, it's only due to 701994. Its only payment has no payment method :warning: I'll check payments to Prom Coast Wholefoods Collective now.

[2020-06-18 08:42] Matt-Yorkley commented on #5633
Thanks for spotting it @filipefurtad0 :muscle:

I think there might be some other bits like this with images and icons, we'll need to keep an eye out... :eyes:

[2020-06-18 09:14] Matt-Yorkley commented on #5622
I'll write up some other notes here that are important background for the issue, as I think we maybe haven't seen the last of it:

- Rails 4 now only serves assets (including images) from the /public folder.
- During the precompile step Rails compiles assets (including images under /app/assets/images) and moves them to the /public folder, with an added fingerprint. It does not move across non-fing

[2020-06-18 09:29] luisramos0 commented on #5622
awesome, I added this last part to the wiki: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Developer-Guidelines

[2020-06-18 09:49] Matt-Yorkley commented on #4977
Nice, we can just adapt it for soft-deletion :smile:

[2020-06-18 09:51] sauloperez commented on #4977
yes, that's what I'm about to do but first I'm finding out whether this is the issue this hub is experiencing. It could also be because a) payment is missing b) payment has a missing method.

[2020-06-18 10:01] #5622 closed

[2020-06-18 10:03] filipefurtad0 commented on #5633
Thanks @Matt-Yorkley :-)

I investigated a bit more and it seems indeed related to the +1 sign.

I've set these two hubs real close, in Sheffield - nrs. 149 and 151 Arundel St.:

![image](https://user-images.githubusercontent.com/49817236/85006626-44ec6880-b152-11ea-9e96-c84992ff171b.png)

It's possible to make these icons disappear if the address is set to be exactly the same: it should show the

[2020-06-18 10:15] sauloperez commented on #4977
@emilyjeanrogers I couldn't find of the potential root causes directly affecting orders distributed by either Prom Coast Food Collective or Prom Coast Food Collective Wholesale Market.

However, I did find that [these](https://gist.github.com/sauloperez/b0ca5cf0178af709908ee9d18adb4b06) orders are affected by a deleted payment method. So, I'm moving on with the fix.

[2020-06-18 10:24] sigmundpetersen commented on #5633
We can downgrade to S3 but it's still a `v3-regression`, right? If so I guess it stays in Dev Ready anyways

[2020-06-18 10:26] sauloperez commented on #4977
For the record, this is how I found the potential root causes of this failure:

### Complete orders without payment

[code]

### Payments whose method is deleted

[code]

### Payments without method

[code]

[2020-06-18 12:37] filipefurtad0 commented on #5525
Hi @luisramos0 ,

Tested the outcome of different cards for both stripe methods, when placing orders in the backoffice, checking whether:

i) confirmation email
ii) order amounts and
iii) entries in Stripe dashboard

match. This was done for cards where success is expected:

a) Visa 4242424242424242
b) international card 4000002460000001

And when failure is expected:

c) 3D Secure 400000276000318

[2020-06-18 13:12] Matt-Yorkley commented on #5633
I think we should knock out any quick fixes we can for regressions before the v3 rollout hits production :+1:

[2020-06-18 13:50] #5525 closed

[2020-06-18 14:47] #3491 closed

[2020-06-18 17:02] #5633 closed

[2020-06-18 17:45] sauloperez commented on #5622
Nice write up @Matt-Yorkley ! That we had a mess with assets across this repo and ofn-install was kind of known. Know we know what is exactly :muscle: .

As per your investigation is there something we need to do to undo the mess in ofn-install? All that seems incredibly brittle and unknown. We should get to vanilla Rails asset management to avoid trouble.

[2020-06-18 17:59] Matt-Yorkley commented on #5622
Yes, I was thinking that too. The way we move instance-specific assets into the build needs to be rethought, for sure. I think we'll need to proceed a bit cautiously though...

[2020-06-18 18:44] Matt-Yorkley opened #5637 "v3 Rollout"
- [x] Deploy all servers (and notify #instance-managers)
  - [x] ES 2020-06-23 Tuesday
  - [x] DE 2020-06-24 Wednesday
  - [x] BE 2020-06-24 Wednesday
  - [x] AU 2020-07-14 Tuesday
  - [x] FR 2020-07-30 Thursday
  - [x] CA 2020-08-04 Tuesday
  - [x] UK 2020-08-04 Tuesday
  - [x] US 2020-08-06 Thursday

[2020-06-18 23:01] jeduardo824 commented on #5454
@tschumilas I took the liberty to expand the behavior for the blue square too because I noticed that some producers have a lot of shops when the tab expands.

[2020-06-18 23:02] jeduardo824 commented on #5629
Same here

[2020-06-18 23:33] jeduardo824 commented on #5631
@luisramos0 I will push a PR with a way I found to fix it

[2020-06-19 00:20] mkllnk commented on #5622
Great summary @Matt-Yorkley!

The keeping of old assets was very useful for zero-downtime deployments in the past. We could precompile the new assets and then do other stuff like migrations while the site was still working and pointing to the old fingerprints. Only after reloading unicorn pages would link to the new fingerprints.

Now we re-link the app directory and reload unicorn very closely to

[2020-06-19 06:45] rmklaus12 commented on #5575
I cannot seem to replicate this, by way of I cannot get to a spot where I can choose PayPal as a payment :-) I'm on my local, using the sample data, so have about 4 enterprises, but none have PayPal setup. If I try to add it as a payment method I get a Rails error.
<img width="500" alt="Screen Shot 2020-06-19 at 4 44 03 pm" src="https://user-images.githubusercontent.com/30268789/85104654-4d28ce80-

[2020-06-19 06:49] rmklaus12 commented on #1803
This is a bugger, isn't it? Had a go at this, with experienced help, but no luck so far. I did dig up the syntax `.datetimepicker.setLocale('de');`, of which I tried multiple iterations with no luck. Will keep it assigned to me, as I want to keep working on it.

[2020-06-19 07:25] #2706 closed

[2020-06-19 08:30] sigmundpetersen commented on #5619
This is still failing I'm afraid.

[2020-06-19 08:31] RachL commented on #5032
I would even close this one. I don't think the solution is the one we want...

[2020-06-19 09:10] luisramos0 commented on #1803
:muscle: it's hard, good luck!
The code is here /home/luisramos/dev/ofn/vendor/assets/javascripts/jquery-ui-timepicker-addon.js
No .setLocale there, just .regional.

see localization tab here:
https://trentrichardson.com/examples/timepicker/

it says we have to add our own translations!
So the solution could be to do:
[code]
I am not sure how to get the current locale in JS but that should be easy

[2020-06-19 09:12] #5423 closed

[2020-06-19 09:16] Matt-Yorkley commented on #5637
Added:
- Mobile Cart changes
- Display-only shops fix

Build and release notes updated.

[2020-06-19 09:29] RachL commented on #1803
@luisramos0 @rmklaus12 wouldn't it be easier to use another tool that just fetch the language of the browser to display the calendar in the correct language? Another calendar could really improve our UX, and I think @Matt-Yorkley noticed a couple.

[2020-06-19 10:05] Matt-Yorkley commented on #2626
Integrating this into the CI build would be great!

[2020-06-19 10:20] luisramos0 commented on #1803
I think using another datetimepicker is a lot more work than this issue Rachel.
We shouldnt use the "language of the browser", we need to use the user locale.

[2020-06-19 10:22] luisramos0 commented on #2626
This is already there Matt, I wonder if it is working correclty though:
https://github.com/openfoodfoundation/openfoodnetwork/pull/3006/files

[2020-06-19 10:34] luisramos0 commented on #5434
yeah, stack overflow confirms that calling blur is a solution. But I wonder if there's a native solution, something we can set on the input tag that makes the keybaord disappear when "search" is pressed on the keyboard.

[2020-06-19 11:58] Matt-Yorkley opened #5643 "Rails 4 fingerprinted assets"
We still have some issues with non-fingerpritned assets being called from the codebase. Rails 4 basically does not do non-fingerprinted assets, at all.

More background here: https://github.com/openfoodfoundation/openfoodnetwork/issues/5622#issuecomment-645891351

So basically it looks like we still have a bunch of places in the codebase where we are calling assets in a way that will not include t

[2020-06-19 12:03] Matt-Yorkley commented on #5643
It looks like this applies to fonts as well as images, and we'll need to check basically anything that's in the `/app/assets/*` directories.

[2020-06-19 12:08] sauloperez commented on #5643
I started with https://github.com/openfoodfoundation/openfoodnetwork/pull/5644

[2020-06-19 14:18] sauloperez opened #5646 "DEPRECATION WARNING #{} interpolation near operators"
### What we should change and why (this is tech debt)

The Rails 4 upgrade brought the following deprecation warning that likely prevents upcoming gem upgrades

[code]

### Context

This came up after the merge of #5158

### Impact and timeline

This, apart from slowing down the dev env and cluttering the output, it blocks future upgrades.

[2020-06-19 14:20] sauloperez opened #5647 "WARNING: $var must resolve to a value in pixel units."
### What we should change and why (this is tech debt)

The Rails 4 upgrade brought the following deprecation warning that likely prevents upcoming gem upgrades

[code]
or

[code]

### Context

This came up after the merge of #5158

### Impact and timeline

This, apart from slowing down the dev env and cluttering the output, it blocks future upgrades.

[2020-06-19 14:34] luisramos0 commented on #5511
This is caused by the breaklines in transifex:
https://www.transifex.com/open-food-foundation/open-food-network/translate/#en_AU/enyml/108336784?q=key%3Ashopfront_message_placeholder
If the breaklines are removed, the problem is gone.

This is like an S3/S4 with a workaround, I'd say change the translation in transifex (remove the breakline) and keep the issue open for the future: we can make the

[2020-06-19 14:49] #5629 closed

[2020-06-19 14:50] luisramos0 commented on #1253
The background problem is due to this setting:
https://github.com/openfoodfoundation/openfoodnetwork/blob/66de0a4a7144377cdcd8df72bb82535866ab3e7a/app/assets/stylesheets/darkswarm/home_tagline.css.scss#L13

It sets the background-size to cover, see here: https://www.w3schools.com/cssref/css3_pr_background-size.asp
When the menu is open it tries to adapt the large bg image to the small strip on the

[2020-06-19 15:19] filipefurtad0 commented on #5637
Hey @Matt-Yorkley ,

The release looks good to go - full test notes here:
https://docs.google.com/document/d/1pUjxsNdldyT7cq15soTjb5iPY-4csu-4BAsphP6uSoY/

Thanks for drafting and for all the help :tada: :heart:

[2020-06-19 15:30] filipefurtad0 commented on #5643
Hi - Just a brief feedback from my side: During testing of the release I haven't found anything major missing from the app.

[2020-06-19 15:32] sauloperez commented on #5449
vaya vayita! I had a play with the data I could infer from the log entries reproducing what Spree does and this is what I found. I'm reproducing it here in case there's something wrong and or you to see the result:

[code]

**{:Payment=>["translation missing: fr.activerecord.attributes.spree/payment.Credit Card Carte de crédit a expiré"]}** is the bit that matters. It's the second time in a week I

[2020-06-19 15:40] RachL commented on #5449
@sauloperez I'm struggling on something: so the card expired but Stripe still succeeded in refunding the user?

[2020-06-19 15:47] sauloperez commented on #5449
ah how stupid! You are right, that doesn't seem very feasible. Even more than that, we don't know when that expiration happened. It could have happened between the date of the refund and today :see_no_evil: I would check with the user anyway. It may bring in some clues.

Anyway, Spree's team found the some solution so I'm just backporting it from the `2-2-0-stable` branch to ours.

[2020-06-19 15:58] Matt-Yorkley opened #5648 "Logout during Subscription creation"
During release testing Filipe encountered a possible issue whilst creating a subscription: at the point of adding a product, got logged out unexpectedly and whilst logging back in, this error appeared in Bugsnag:
[code]

After logging in again subscriptions seemed to work correctly, and the issue wasn't reproduced(?).

We might need to adjust the logic a bit here:

https://github.com/openfoodfound

[2020-06-19 16:00] sauloperez commented on #5643
@luisramos0 I think that all assets work so far due to the combination of ofn-install's (dangerous) symlink plus assets being placed in `public/` that @Matt-Yorkley described in the other issue. But it's a bit messy and makes all feel uneasy and lower our confidence so we better get as close to Rails default as we can.

[2020-06-19 16:03] Matt-Yorkley commented on #5643
It's a worrying issue, but it shouldn't actually affect current OFN production servers at the moment, unless we start adding new assets or changing old ones. It's a bit complicated but we should probably fix it.

[2020-06-19 16:10] Matt-Yorkley commented on #5643
Basically the work that needs to be done will look a bit like [this PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/5635), but for some of the other assets (like fonts and maybe some other images) that are still being generated with without fingerprints, as "non-digest assets" are now completely ignored by Rails.

[2020-06-19 16:12] filipefurtad0 opened #5649 "Error while adding a payment method"
## Description

While testing the release v3.0.0 an error was observed when adding a payment method. Snail was visible and this bugnsag error seems related:

https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5ec1a91652841000189980a2?filters[event.since][0][type]=eq&filters[event.since][0][value]=30d&filters[error.status][0][type]=eq&filters[error.status][0][value]=open&filters[app.release_

[2020-06-19 16:22] Matt-Yorkley commented on #5643
As a side note, on any _new_ servers that are deployed, lots of assets will be broken for sure until we fix this.

[2020-06-19 16:30] sauloperez commented on #5643
It think it'll be fairly straightforward to find out which assets are processed with the `assets:precompile:nondigest` rake task in Rails 3.2. https://github.com/rails/rails/blob/e17e25cd23e8abd45b1706463dd57c90fa6dcb7c/actionpack/lib/sprockets/assets.rake#L33-L57 is the code responsible for doing so.

[2020-06-19 21:37] luisramos0 commented on #5643
ok, makes sense. I think it's well labelled then: S3, regression, we should fix it now but will not block the release :+1:

[2020-06-20 13:12] luchiago commented on #5606
I would like to tackle this issue

[2020-06-20 14:36] luchiago commented on #5422
@luisramos0 I tried to change in the views but I'm having a hard time with this issue. There are two methods inside `app/controllers/spree/admin/adjustments_controller.rb` that I couldn't understand what they do and couldn't test them.

[2020-06-22 04:51] daniellemoorhead commented on #5511
Great sleuthing @luisramos0 - thank you! We'll remove the breaks.

Don't think this is test ready if we're keeping the issue open for later, I'll move it back to all the things and remove the link to mobile.

Thanks again 🙂

[2020-06-22 05:05] daniellemoorhead commented on #5434
@Matt-Yorkley tried and failed to fix this, not sure if he searched for a native solution but I wonder if rather than spending anymore research time on this we just try what's been suggested and see how that works?

[2020-06-22 05:21] daniellemoorhead commented on #5024
Time to do a design sweep @yukoosawa. At your leisure. On staging.

[2020-06-22 06:40] #3991 closed

[2020-06-22 06:48] Matt-Yorkley commented on #3991
Fixed :+1:

[2020-06-22 07:08] RachL commented on #5555
ping @luisramos0 I think you've suggested setting completed_at_lteq and completed_at_gteq . Maybe you have an opinion on the proposed solution? :point_up:

[2020-06-22 07:10] RachL commented on #4206
@rioug hello :) are you still working on this one?

[2020-06-22 08:04] rioug commented on #4206
@RachL yes still looking at this one. I didn't have time to work on it last week, but I will be later this week.

[2020-06-22 09:32] luisramos0 opened #5652 "[Flaky spec] Fix flaky spec/features/admin/configuration/taxonomies_spec.rb:13"
### What we should change and why (this is tech debt)
This specs break occasionaly like here:
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/pull-request-5651/builds/1

We need to make it more resilient.

This is the error:
[code]

[2020-06-22 09:39] luisramos0 commented on #5511
yes, All the things :+1:

I will adapt the title a bit, the problem is with line breaks in input boxes placeholders like shopfront_message_placeholder

[2020-06-22 09:59] luisramos0 commented on #5555
hey @dmarcoux thanks for your analysis.
I think the timezone issue is a problem in your local environment. The default timezone is melbourne:
https://github.com/openfoodfoundation/openfoodnetwork/blob/dd9d9e331677539783be44015867b08bb410314c/config/application.yml.example#L10
and the comment is that # Time zone must match the operating system time zone in order to pass all tests.
Maybe we can impr

[2020-06-22 10:55] luisramos0 commented on #5001
Adding feedback needed to make it clear this is blocked by the pending decision in #4806

[2020-06-22 12:14] Matt-Yorkley commented on #5449
Moving back to `in-dev`, see: https://github.com/openfoodfoundation/spree/pull/46#pullrequestreview-434351568

[2020-06-22 14:01] luisramos0 opened #5654 "POC migration to fast_jsonapi"
### What we should change and why (this is tech debt)
AMS is not mantained anylonger we need to move to something else. Discussion here:
https://community.openfoodnetwork.org/t/alternatives-to-ams/1717/

We need to try fast_jsonapi and see how it would look like. From what I read it will consist of minor adaptions in the serializers and some work to adapt the frontend code to the new jsonapi compa

[2020-06-22 22:38] tschumilas opened #5655 "Convert checkout alterts to flashes"
## Description
A user was stuck at checkout and reported she couldn't continue shopping or checkout,  and her screen was frozen.   I sent a series of screenshots to her showing the checkout error messages and 'update' button that appear when an item in the customer's cart goes out of stock.  She insisted she did not see these messages.   After back and forth we realized  her popup blocker was bloc

[2020-06-22 22:38] tschumilas opened #8905 "Convert checkout alerts to flashes"
## Description
A user was stuck at checkout and reported she couldn't continue shopping or checkout,  and her screen was frozen.   I sent a series of screenshots to her showing the checkout error messages and 'update' button that appear when an item in the customer's cart goes out of stock.  She insisted she did not see these messages.   After back and forth we realized  her popup blocker was bloc

[2020-06-23 07:15] lin-d-hop commented on #959
I'm closing this epic as we are now almost all solving this with the price sack calculator

[2020-06-23 07:15] #959 closed

[2020-06-23 08:04] luisramos0 commented on #5584
We agreed this should stay as an S2 on delivery train meeting.

Questions:
- how many users affected now since last check?
- did these users managed to checkout in some way after the error?
- does the problem go away with a page refresh?

[2020-06-23 08:45] luisramos0 commented on #4806
In Delivery train meeting we agreed this solution is not good enough because hiding variants is a feature user will want and with this we would be showing all the hidden variants.

A new option was suggested: if there are hidden variants in the page, we keep the numbers broken but show a message like "there are hidden variants in your inventory".

Or we can go back to "just fix the numbers" :-)

[2020-06-23 09:21] luisramos0 commented on #4806
For future reference, the problem is here:
https://github.com/openfoodfoundation/openfoodnetwork/blame/973ea2ea2d571e0cf498e3036f14edcb65b021db/app/assets/javascripts/admin/order_cycles/controllers/order_cycle_exchanges_controller.js.coffee#L59

We get the list of eligible products in the exchange from the server and we count all variants of these products. To fix the numbers we need to either mak

[2020-06-23 09:25] luisramos0 commented on #4806
I am closing the PR for now as well, here's the code:
![image](https://user-images.githubusercontent.com/1640378/85386753-e18c7d00-b53b-11ea-8d14-68f98b918478.png)

[2020-06-23 09:34] luisramos0 opened #5657 "User cant checkout - the app is not seeing the app settings stored in the DB"
## Description
Katuma is the first v3 deployment.
Originally a checkout problem:
User clicked 7 times on checkout but comunication with Stripe fails.
We found it through bugsnag:
https://app.bugsnag.com/katuma/katuma/errors/5ef1aba43cf9f70017838bec?filters[event.since][0]=30d&filters[error.status][0]=open

But now we see it's a config problem:
![image](https://user-images.githubusercontent.com/164

[2020-06-23 10:06] luisramos0 commented on #5657
This could have been caused by the config issue discussed on slack. The wrong stripe config will cause something like this. I am closing for now, we can reopen if it happens again.

[2020-06-23 10:07] luisramos0 commented on #5657
I also confirmed locally that the user is not seeing a snail.
This is what the user is seeing:
![image](https://user-image:+1: ithubusercontent.com/1640378/85391113-ad1bbf80-b541-11ea-97f1-b93cc9236a2b.png)

:+1

[2020-06-23 10:14] #5631 closed

[2020-06-23 10:33] RachL commented on #5499
So as we discussed it in delivery train I'm closing here and adding a link in the notes.

[2020-06-23 10:33] #5499 closed

[2020-06-23 10:34] luisramos0 commented on #5422
Those methods
@tax_rate_id = tax_rate_with_matching_tax || tax_rate_valid_for_order
they are looking for the correct tax rate for the adjustment. I wonder why do we need to look for it and not just fetch it through some association from the DB...

You can try to debug, do you get this error triggered?
@adjustment.errors.add :tax_rate_id, I18n.t(:adjustments_tax_rate_error)

This iss probably what

[2020-06-23 10:36] luisramos0 commented on #5422
@RachL this is now looking like a good candidate for the "tax overhaul" epic.

[2020-06-23 14:47] sauloperez opened #5661 "DEPRECATION WARNING: Calling #sum with a block is deprecated and will be removed in Rails 4.1"
### What we should change and why (this is tech debt)

The Rails 4 upgrade brought the following deprecation warning that prevents us from migrating to Rails 4.1

[code]

### Context

This came up after the merge of #5158

### Impact and timeline

This, apart from slowing down the dev env, CI and cluttering the output, it blocks future upgrades.

[2020-06-23 16:00] #5657 closed

[2020-06-23 17:45] RachL commented on #5422
😭

[2020-06-23 17:48] luisramos0 commented on #5661
:+1:
this is related or even a duplicate of #5609

[2020-06-23 18:06] luisramos0 opened #5662 "[v3] Checkout error with DB error"
## Description
This bugsnag error in katuma flag 2 users with problems on checkout.
A DB constraint problem related to created_at fields on addresses:
https://app.bugsnag.com/katuma/katuma/errors/5ef235fc2dfe230018a3c3b8?event_id=5ef235fc005b8b9aa0e10000&i=sk&m=nw

## Expected Behavior
Checkout should work.

## Actual Behaviour
User cant checkout.

## Steps to Reproduce
unknown

## Workaround
none

[2020-06-23 18:23] luisramos0 commented on #5662
I created the PR with the results of db:migrate: https://github.com/openfoodfoundation/openfoodnetwork/pull/5663
but it's not enough, we need to find out why the values are not being populated.

A quick fix would be to remove these constraints. I am not sure how to do that.

[2020-06-23 18:37] lbwright22 opened #5664 "Price Sack Shipping Method Calculator does not include Enterprise Fees"
Description
The Price Sack Shipping Method Calculator can be used to set a threshold above which a lower rate of delivery charge can be applied.  The threshold set in the admin back office is currently calculated as the customer total for products purchased only (no enterprise fees included).
This is confusing to most users: they want to set the threshold for a customer to spend (product price + e

[2020-06-23 18:38] lbwright22 commented on #5664
![](https://github.trello.services/images/mini-trello-icon.png) [Price Sack calc - Github issue needed](https://trello.com/c/5H8M3RYR/1178-price-sack-calc-github-issue-needed)

[2020-06-24 07:57] luisramos0 commented on #5664
All calculators use line items (with their included tax) to make their calculations even if they are order level calculators (not per item calculators). I think this is a feature request. Is this request only for price sack or for all order level calculators? And: are we sure we want to make this change? Just asking.

This is definitely not a good first issue. Calculators are not easy ground.
This

[2020-06-24 08:28] filipefurtad0 commented on #5575
Hey @rmklaus12 ,

I haven't set that payment method locally, so I can't help you with that particular issue - but perhaps if can provide you credentials to a staging server, if you wish to observe the error. Would that help?

[2020-06-24 08:29] lin-d-hop commented on #5664
Ok, my mistake.

I thought product Enterprise Fees were included in order level enterprise fees.

Closing.

[2020-06-24 08:29] #5664 closed

[2020-06-24 09:06] luisramos0 commented on #5584
This happened to 5 guest users in the UK in the last 3 weeks, 1 guest user in AUS, 1 in FR and none in CA.
I am not sure why these numbers are different from my previous analysis...

I am downgrading to S3 based on the very low number of users. Please feel free to disagree and move back to S2 (we may do that in some time if we see the number of occurrences going up). There's only one occurrence pe

[2020-06-24 09:09] luisramos0 commented on #5662
I wonder if this could be related to this problem in v2 where the error is "Shipping address first name can't be blank, Shipping address last name can't be blank, Shipping address street can't be blank, Shipping address city can't be blank, Shipping address zipcode can't be blank, and Shipping address phone can't be blank (RuntimeError)"
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/5e

[2020-06-24 10:40] rmklaus12 commented on #5575
@filipefurtad0 - that would be great! Thank you :-)

[2020-06-24 11:05] tschumilas commented on #5664
Just clarifying @luisramos0 :  If taxes are not included in prices (North America and elsewhere)  i believe all calculators are calculated on the pre-tax line amount.   So its only when taxes are included in prices that the calculation is made ontop of the tax .  I think.

[2020-06-24 11:35] filipefurtad0 commented on #5662
Hi @luisramos0,
Is it possible to reproduce this in a local/staging environment?

[2020-06-24 12:02] luisramos0 commented on #5664
correct!

[2020-06-24 12:02] luisramos0 commented on #5662
good question: no, and I dont understand why :-(

[2020-06-24 12:46] paolosalvatori opened #5666 "Development Environment Setup Broken"
## Description
After the recent update, the development environment setup process looks broken or the source code at https://github.com/openfoodfoundation/openfoodnetwork has some regression bug. I tried the setup on Ubuntu 16.04, 18.04, and 19.04 with the same result. I tried to clone the following branches:

- master
- 3-1-stable
- 3.0.1

with the same result. It works only if you fork the OFN s

[2020-06-25 07:04] sauloperez commented on #5661
I believe it exactly what you show in https://github.com/openfoodfoundation/openfoodnetwork/issues/5386#issuecomment-630877549's screenshot

[2020-06-25 07:24] TheoGallez opened #5668 "[v3] Images are not displaying on BE"
## Description
There is no more image on hubs of www.OpenFoodNetwork.be.
No image product
No image logo entreprise
Nos image banner entreprise.

## Expected Behavior
amazone server ?
## Severity
very important!

[2020-06-25 09:27] sauloperez commented on #5668
Solved! here comes what I did

First, the DB seemed showed the appropriate values although I didn't check whether API keys were correct. I assumed they weren't changed.

[code]
I also double checked there were no old preferences entries using the former key format and that the migration was ran.

Then, seeing that `use_s3` above was set to true I went straight with a `Rails.cache.clear` and a unic

[2020-06-25 09:47] filipefurtad0 opened #5669 "Available locales login bug"
## Description

Error 500 observed by @RachL when logging in to staging-FR - possibly with account: rachel.arnould+bamboo@protonmail.com

Bugsnag error:

https://app.bugsnag.com/open-food-france/open-food-france-prod/errors/5ef354f0dc9a3f001732340b?event_id=5ef354f0005b757586b80000&i=sk&m=nw

**Unhandled error**
I18n::InvalidLocale: "en_GB" is not a valid locale
Location
app/helpers/i18n_helper.rb

[2020-06-25 09:51] sauloperez commented on #5668
I can't find a proper explanation yet and nothing seems out of normal. Maybe the explanation might ring a bell to someone?

`use_s3` is configured at boot time in https://github.com/openfoodfoundation/openfoodnetwork/blob/9e730e6445231c16396de2da7c33bff26c0aed74/config/initializers/spree.rb#L40 if the env var `S3_BUCKET` is set. That's not the case right now. The instance must have https://github.

[2020-06-25 10:08] lin-d-hop opened #5670 "Subscription Payments Failed for Enterprise"
## Description

We have one enterprise for whom subscription payments have been failing since the end of April.

On investigation I found that they had change the length of their order cycle from 1hr to 30mins. I thought this might have been the cause so we changed the OC back to one hour in length and contacted all their customers to collect the missing payments.

The week we see the same behavio

[2020-06-25 10:16] sauloperez commented on #5670
I think this issue demands the same solution we're applying for https://github.com/openfoodfoundation/openfoodnetwork/issues/5449. We need to see why those payments fail.

In the meantime, we need to find a way to force these payments from the console. This will surely show us what's the underlying issue.

[2020-06-25 11:14] #5662 closed

[2020-06-25 11:18] lin-d-hop commented on #5670
![](https://github.trello.services/images/mini-trello-icon.png) [Payments failed for Farnham COmmunity Farm](https://trello.com/c/UNKgAPFM/1174-payments-failed-for-farnham-community-farm)

[2020-06-25 11:18] lin-d-hop commented on #5670
![](https://github.trello.services/images/mini-trello-icon.png) [Payments failed for Farnham COmmunity Farm](https://trello.com/c/UNKgAPFM/1174-payments-failed-for-farnham-community-farm)

[2020-06-25 11:39] lin-d-hop commented on #5670
It is possible we moved to Stripe SCA and then back by mistake for this user. This would have broken the saved cards.

Damn!

[2020-06-25 14:46] filipefurtad0 commented on #5534
Hi @RachL ,

I tried to reproduce the findings above in v3 and v2.1 and found no difference between these. Please see the test-notes for all cases/settings here:
https://docs.google.com/document/d/1nOIzoMN6tu0-2YKpEPNb0QtseqXy3yCsMjBPKkKghUI/edit

In summary, I could not reproduce these two observations:

- I verified that the default rule applies also to guest customers (`pro` variant is hidden i

[2020-06-25 15:06] RachL commented on #5534
@filipefurtad0 thank you!

I've requested access to your doc, you should have received an email :)

[2020-06-25 15:18] filipefurtad0 commented on #5534
Oops, I forgot to move it to our folder after editing - it should be visible to everyone now. Thanks @RachL!

[2020-06-25 17:33] filipefurtad0 opened #5671 "Styling in main menu (Superadmin)"
## Description

While testing translation PR #5589 I noticed the item "More" on the main menu is slightly misplaced. This appears only to affect  Superadmin in Language dashboard.

## Expected Behavior

Menu should look like this ("More" should appear translated, in production):
![image](https://user-images.githubusercontent.com/6525576/44862622-62013000-ac7b-11e8-8269-8f86fd0e5362.png)

## Actual

[2020-06-25 19:27] #2617 closed

[2020-06-25 19:31] #5558 closed

[2020-06-25 19:33] #5507 closed

[2020-06-25 19:46] luisramos0 commented on #5668
I think this could still be an effect of https://github.com/openfoodfoundation/openfoodnetwork/issues/5657
That t value in the db, when you update it through the UI it becomes: --- true
I wonder if the v3 code understands the preference values saved in the v2 format.

I think the next step is to test this in staging as we tested #5660. I am moving this to "dev test ready", ok?

I agree we need to

[2020-06-25 20:12] luisramos0 commented on #5670
I see all payments are there but have no cards connected.
`select p.* from subscriptions s, proxy_orders po, spree_orders o, spree_payments p where s.shop_id = 200935 and s.canceled_at is null and s.paused_at is null and po.subscription_id = s.id and po.order_id = o.id and o.id = p.order_id order by p.updated_at desc;
`

I need to see why the process is not picking up the credit cards in the syste

[2020-06-26 06:22] mkllnk commented on #4600
@daniellemoorhead @yukoosawa The designs show two different positions for the price breakdown popover, at the bottom on mobile and at the left on bigger screens. Can we make it consistent and always display it at the bottom? That would be a lot easier.

[2020-06-26 08:18] Matt-Yorkley commented on #5668
https://github.com/openfoodfoundation/ofn-secrets/pull/40

[2020-06-26 08:27] rioug commented on #4206
Quick update on this one, I have a working solution but I still need to clean up my code. I was hoping to finish this today but I am still leaning on how to navigate around the code base. I'll finish this next week.

[2020-06-26 09:11] luisramos0 opened #5676 "Snail due to routing issue"
## Description
This snail:
https://app.bugsnag.com/open-food-network-belgium/open-food-network-belgium/errors/5ef562d88dd7d4001716d32d?event_id=5ef562d8005b8aa2242a0000&i=sk&m=nw

This means the spree.root route is not working currently. I am not sure what's the path to this situation.

## Expected Behavior
No bugsnag alerts.

## Actual Behaviour
Bugsnag alert.

## Steps to Reproduce
Unkonwn, coul

[2020-06-26 11:37] filipefurtad0 commented on #5592
Hi @JenRSmith ,

Thank you for adding this issue!

I ran into this as well, while testing another PR. I think it can lead to misleading search results, if a search is performed after clearing filters. For example, adding to the Steps to Reproduce you described above:

6. Add an Import Date
7. Press Filter Results

One sees that what is visually displayed in the filters is not being considered when

[2020-06-26 11:46] SophieDuponcheel opened #5679 "For OFN BE :translation problem, how to solve it? For "front office" texts"
## Description

For OFN Be: some words and data have not been translated and are still in English. These are data that depend on other data (e.g. time data - hour, month, year, etc.).
I guess the "distance_of_time" is a variable in the code which is translated through another library (not transifex), and this other library does not have support for fr_BE (yet). something in that direction.

Custom

[2020-06-26 12:08] tschumilas commented on #4661
If we end up doing an epic on admin order creation,  I'd love it if we could make it so that an order can be created for an OC that has closed.   Right now,  the OC has to be open to create an order.     Can I help break this up somehow @kirstenalarsen  - I"m spending lots of time on order editing and creating these days and getting uber frustrated!!!

[2020-06-26 12:36] luisramos0 commented on #5592
yeah, I agree s3
This must be a little js tweak, I am going to mark it as good first issue.

Also, I see this in multiple staging servers, but I cant replicate this locally with sample data...

[2020-06-26 17:33] eugenichafer opened #5681 "A missing order cycle in Katuma"
## Description

When a week after closing OC, people  that make accounting of this Hub did'nt find an OC. It was missing. They named his weekly OC with "Set." plus number of week. And "Set. 25" is gone on the list on OC
Instead, when you search orders by date, all Orders of this OC are in the system but no the OC

## Expected Behavior

To find OC

## Actual Behaviour

OC is missing

## Steps to Re

[2020-06-26 17:42] RachL commented on #5681
@luisramos0 is it possibly related to v3?

[2020-06-26 18:29] luisramos0 commented on #5681
The data looks good, there is no such oc in the system, the orders you are seeing are from OC Set 27 you can edit the order and see on the bottom of the page.

These are the OCs in the system for this enterprise:
![image](https://user-images.githubusercontent.com/1640378/85889111-bf685880-b7e2-11ea-918d-910f21ee2dfb.png)

Why do you think there should be one OC with that name? Any info we can use

[2020-06-27 08:12] eugenichafer commented on #5681
You are right. Surely instead of duplicating Set. 25 OC to create the Set. 27 the cycle was modified without having duplicated it first. The first approach to the problem was to look at the order information for what OC it was, but how that information is at the bottom I didn’t notice. I apologize for wasting your time.

[2020-06-27 08:12] #5681 closed

[2020-06-27 08:54] luisramos0 commented on #5681
No problem @eugenichafer you are welcome!

[2020-06-27 09:17] Matt-Yorkley commented on #5643
Remaining bits:
- user-uploaded images (products, enterprise logos, etc) are not affected, they're handled by either Paperclip or S3 and will not require changes
- there are still a few images that need fixing, for things like the "no-image" image, eg the default image shown for a product when no product image has been uploaded yet

[2020-06-27 11:04] luisramos0 opened #5686 "[ByeBye Spree] Move Mailers to OFN"
### What we should change and why (this is tech debt)
Move all Mailers to OFN and merge with decorators.

These files:
- core/app/mailers/spree/base_mailer.rb MERGE WITH DECORATOR
- core/app/mailers/spree/order_mailer.rb MERGE WITH DECORATOR
- core/spec/mailers/order_mailer_spec.rb MERGE WITH DECORATOR
- core/app/mailers/spree/shipment_mailer.rb COPY (and improve!)
- core/app/mailers/spree/test_ma

[2020-06-27 11:07] luisramos0 opened #5687 "[ByeBye Spree] Move Calculators to OFN"
### What we should change and why (this is tech debt)
Move all calculators to OFN and merge with decorators.

These files:
- core/app/models/spree/calculator/default_tax.rb MERGE WITH DECORATOR
- core/spec/models/spree/calculator/default_tax_spec.rb COPY
- core/app/models/spree/calculator/flat_percent_item_total.rb MERGE WITH DECORATOR
- core/spec/models/spree/calculator/flat_percent_item_total_sp

[2020-06-27 11:07] luisramos0 opened #5688 "[ByeBye Spree] Move ControllerHelpers to OFN"
### What we should change and why (this is tech debt)
Move all ControllerHelpers to OFN and merge with decorators.

These files:
- core/lib/spree/core/controller_helpers.rb COPY
- core/lib/spree/core/controller_helpers/auth.rb  MERGE WITH DECORATOR
- core/lib/spree/core/controller_helpers/common.rb COPY
- core/lib/spree/core/controller_helpers/order.rb  MERGE WITH DECORATOR
- core/lib/spree/core/c

[2020-06-27 11:09] luisramos0 opened #5689 "[ByeBye Spree] Move Payment model to OFN"
### What we should change and why (this is tech debt)
Move Payment model and processing class to OFN and merge with decorators.

These files:
- core/app/models/spree/payment.rb MERGE WITH DECORATOR
- spec/models/spree/payment_spec.rb MERGE WITH OFN VERSION (or ignore)
- core/app/models/spree/payment/processing.rb COPY

### Context
Part of #4826

### Impact and timeline
This will enable us to stop

[2020-06-27 11:12] luisramos0 opened #5690 "[ByeBye Spree] Move app/models/spree/stock to OFN"
### What we should change and why (this is tech debt)
Move all code in app/models/spree/stock to OFN and merge with decorators.

These files:

- [x] - core/app/models/spree/stock/splitter/base.rb COPY
- [x] - core/spec/models/spree/stock/splitter/base_spec.rb COPY
- [x] - core/app/models/spree/stock/adjuster.rb COPY
- [x] - core/app/models/spree/stock/coordinator.rb COPY
- [x] - core/spec/models/s

[2020-06-27 11:20] luisramos0 commented on #5689
@sauloperez assigned to you as this is already done in your PR #5678

[2020-06-27 14:46] luisramos0 opened #5691 "Delete SSL code supporting OFN with HTTP"
## Description
After https://github.com/openfoodfoundation/ofn-install/issues/643 is done and OFN works only on HTTPS we can replay this commit (or similar) in OFN and delete some lines of code:
https://github.com/spree/spree/commit/27c93156654aaa972a3815d2c6fcd0d81c2b70f0#diff-ce7c0100d3c9a6dd4866777b6a2073d9

[2020-06-27 15:26] luisramos0 commented on #5179
ofn-install#643 represents the changes that we need to do in ofn-install to fix this issue.

[2020-06-28 14:03] RachL commented on #5524
I'm reopening this one. Pictures are down again :'(

[2020-06-28 18:29] luisramos0 commented on #5524
I see the values in live FR are again the values Matt comment above says are incorrect for France.
I changed the values but still no luck.
The error message is something like "All access restricted to that object"..
I tried to login on AWS FR and I see this:
![image](https://user-images.githubusercontent.com/1640378/85955295-6c72da80-b975-11ea-8306-364b1af7b385.png)

[2020-06-28 18:33] Matt-Yorkley commented on #5524
If nobody has logged in and changed the settings, could the "All access to this object has been disabled" message be due to a billing issue?

[2020-06-28 19:12] filipefurtad0 opened #5694 "Can't change shipping method (editing orders in BO)"
## Description

While editing a placed order in the backoffice, it's not possible to change it's shipping method: changes are not saved and shipping fees and shipping state are not updated. This was first reported here:
https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1593360082169900

This bug was reproduced in all staging-servers which have v3 (FR, UK, AU) but not in v2.1 (ES).

## Expected

[2020-06-28 19:53] luisramos0 commented on #5668
I was about to test this but then I went to staging AU and I can see AU staging was upgraded to v3 without any config changes and the S3 images are working fine there.
Going to ofn-secrets there's a big difference between au staging and be-prod, the key s3_images_bucket, so Matt's PR above will fix the problem in BE. Only au-prod and au-staging have this s3_images_bucket config defined :warning: w