[2016-03-23 05:43] mkllnk commented on #798
I worked on this today and these input fields are very deep within the Spree software. Hiding the password and the signature would need a lot more time. But I have a version that hides the password. For anything more advanced, I would vote for upgrading Spree. Sally can test this version next Wednesday.

[2016-03-23 07:50] daniellemoorhead commented on #798
@sigmundpetersen please see @mkllnk's comment above. Is hiding the password an acceptable fix at this stage?

[2016-03-23 07:54] sigmundpetersen commented on #798
It's Olivier who knows the details. He is not on github but maybe you could describe and ask him here http://community.openfoodnetwork.org/t/paypal-credentials-in-plain-text/493?

[2016-03-23 07:56] daniellemoorhead commented on #798
Ohhh, of course it was! Sorry @sigmundpetersen :)

[2016-03-23 08:01] sigmundpetersen commented on #798
No need to be sorry :)

[2016-03-23 10:43] NickWeir63 opened #872 "Embed shopfront in external website"
Audacious Veg want to embed their OFN shopfront within their website (rather than linking to it as a separate screen). They asked if there was some HTML code that they could copy into their Wordpress site that would show the OFN shopfront within their website.

[2016-03-23 10:45] NickWeir63 opened #873 "Minimum order value as a property"
We set up a minimum order product property for Audacious Veg (producer shopfront) of £50 and another minimum order property for their chard of £40 (see screenshot) but when we put an order through for £25 (order R073502278) it was accepted

![minimum order property](https://cloud.githubusercontent.com/assets/10517702/13982884/51cd12e4-f0e4-11e5-8916-a8faf02a26e9.png)

[2016-03-23 22:34] lin-d-hop commented on #872
As stated in user guide this has long been seen as low priority...

[2016-03-24 03:02] RohanM commented on #828
Hi everyone,

Here's where I'm up to on these tasks:

- Adding out of stock items to cart - I've solved all the hard problems on this task (fingers crossed), and just need to work through bringing everything together. Probably another half day's work after today.

- Delayed job info on dashboard - I've been working on this same problem on the CERES FairFood website, and I've worked out some patter

[2016-03-24 17:18] NickWeir63 commented on #838
Sorry but this is now happening on production.  We have added new producers to the current Stroudco order cycle and although it will save changes to the incoming part of the cycle it will not save the additions to the outgoing cycle

[2016-03-24 17:36] NickWeir63 commented on #838
OK  so i just went in and removed some redundant producers from the order cycle and it brought the variant total down from 688 to 577 and it is now updating correctly.
So we are OK for now but might need to do something about this in the near future

[2016-03-24 17:43] lin-d-hop commented on #838
Yep, this will need a looking at soon and I think it might be best to ask @RohanM if he might be able to take a look since the profiling will be fresh in his huge brain along with the potential solutions.
@daniellemoorhead Could we explore tagging this on to the end of the load speed work? Or speccing it to start with?
Huge thanks!!

[2016-03-25 01:22] mkllnk commented on #224
Since Codeclimate is enforcing styles on pull requests, I found it quite useful to install rubocop locally. I looked for an integration via a `pre-commit` hook, but I'm not really happy with it. There is overcommit which takes over your whole git hook logic. And by default, it warns you about some old offences as well, not only in changed lines. I looked around and couldn't find a script that igno

[2016-03-25 08:18] pmackay commented on #224
I’m not sure what you mean by overcommit? Do you have a link that explains a bit more?

Good idea just checking old files. The recommendation is that when editing files we should be fixing issues in them, even if not related to the current dev task - what do you think about that?

[2016-03-25 08:48] mkllnk commented on #224
https://github.com/brigade/overcommit

I think it depends on how many issues there are and how much of the file you change. Reviewing a pull request should stay simple without too much noise from fixing unrelated issues. I try to weigh up between readability of code, readability of the commits and fixing issues. And sometimes you try to fix something and accidentally break it, even if it's just a

[2016-03-25 10:39] pmackay commented on #224
I do agree with you. But then Thoughtbot suggest, dont [fix all the issues separately](https://github.com/thoughtbot/guides#guides) and see last [FAQ here](https://houndci.com/faq):

But if we dont do that, and we dont fix unrelated issues in files we're changing, I struggle to see how issues get fixed! Agree it would be awesome to get to something more like 0 errors.

I wondered about stripping d

[2016-03-25 15:28] lin-d-hop commented on #873
I am pretty sure this is not the actual purpose of the property fields. If you look how they are used by the Aus team it is for the labelling of things like 'PastureFed' or 'Organic' or 'Fictional Natural Sounding Production Method'.
See: https://openfoodnetwork.org/user-guide/advanced-features/product-properties-i-e-certified-organic-free-range-etc/

Therefore this is not actually a bug. This is

[2016-03-25 15:28] #873 closed

[2016-03-25 15:37] lin-d-hop commented on #792
Fixed now.

[2016-03-25 15:37] #792 closed

[2016-03-25 18:21] NickWeir63 commented on #873
thanks Lynne - all good

[2016-03-26 07:02] mkllnk commented on #224
It depends on the severity of the issue as well. For example, when I activated Codeclimate for my fork of openfoodnetwork, it reported that the version of nokogiri we were using has a vulnerability. That is something to act on straight away.
If I need to understand confusing code to solve my task, I may rewrite that code after I understood it. When someone else will come back to that file, it will

[2016-03-26 11:48] pmackay commented on #224
Is it worth:

* a separate issue for fixing the F rated stuff?
* adding some docs in wiki about use of CC, including a link to your Gist?

[2016-03-26 12:06] mkllnk commented on #224
Yes, you can do that from CC, I think. There is a Create Issue button.

Contributing.md would be a good place. I would recommend to install rubocop, take the pre-commit.sample hook and add the gist content at the bottom.

[2016-03-29 02:53] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=56f9ee11259734d96053d4da)

[2016-03-29 11:57] NickWeir63 opened #874 "No confirmation email when adding Golden Apple Press to UK production"
All the other producers we have added have recived the confirmation email but despite several attempts at resending it this one srill has not come through as an email  - see screenshot.
![screenshot 2016-03-29 12 54 03](https://cloud.githubusercontent.com/assets/10517702/14107093/bad5158e-f5ad-11e5-9dce-c57f3e54632e.png)

[2016-03-29 12:56] NickWeir63 opened #875 "Can't add Star Anise to Stroudco order cycle on UK Production"
We have set up a new producer (Star Anise Cafe) and added their products and given Stroudco permission to do everything for them but they still don't appear in the list of suppliers when we try to add them to the order cycle - see screenshot
![screenshot 2016-03-29 13 46 44](https://cloud.githubusercontent.com/assets/10517702/14108562/e7f7f510-f5b5-11e5-8895-e191979f0bdf.png)

[2016-03-30 02:52] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=56fb3f8168297a196726018d)

[2016-03-30 03:31] mkllnk commented on #665
An error linked to this issue has been reopened in Bugsnag
[**ActiveRecord::RecordNotUnique** in **spree/admin/products#clone**](https://bugsnag.com/yaycode/openfoodnetwork/errors/54f104fc47e6d27c285bfb98?event_id=56fb48aced383f5f77cb6d58)

[2016-03-30 05:20] mkllnk commented on #839
Here is one idea for the shops list: It shows only the open shops first. Under that list are three buttons:

* Show closed shops
* Show profiles without shop
* Explore all on the map

The first one shows all the closed shops and disappears or turns into a *Hide closed shops* button.
The second one shows all profiles and turns into a hide button.
The last button just takes you to the map. So once y

[2016-03-30 05:49] mkllnk commented on #845
This is only a text change, right?

So remembering of closing the dropdown is another task?

[2016-03-30 06:57] daniellemoorhead commented on #616
@stveep now that we've merged #832 can we close this issue? Or did you want to use this for the few tweaks still to come before it's considered completed?

[2016-03-30 07:16] stveep commented on #616
Will use discourse for any further tweaks.

[2016-03-30 07:16] #616 closed

[2016-03-30 07:20] daniellemoorhead commented on #616
@sstead see above comment from @stveep for suggested release notes comment :)

[2016-03-30 08:45] lin-d-hop commented on #875
Hi @NickWeir63
The issue was that all of Star Anise's products were set use inventory with 0 products 'on hand'. This meant they were effectively all 'sold out'.

You can fix this by going to the products page and ticking 'on demand' if the supplier is just supplying whatever is needed. Otherwise you can set to a number 'on hand' if the supplier is setting a specific availability.

Note only do th

[2016-03-30 08:45] #875 closed

[2016-03-30 09:03] NickWeir63 commented on #875
thanks Lynne.  SOrry about that.  we have a new volunteer doing manual updates.  I will pass that on

[2016-03-30 10:00] lin-d-hop commented on #874
I couldn't see any obvious reason why this email was failing. As the producer had no details or products associated and this problem hadn't been seen on other producers it didn't seem an effective use of my time to look into it too deeply. I simply deleted and recreated the enterprise.
If it happens again I'll look deeper. Hope that's ok. Closing for now.

[2016-03-30 10:00] #874 closed

[2016-03-30 17:08] NickWeir63 commented on #874
yes that is great thanks Lynne - sorry i didn't think of trying that

[2016-03-30 23:10] myriamboure commented on #843
For my information, why do we have cookies for in the OFN? What are we tracing?

@blancnic any idea on the legal point? I found this for France (https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs) but I don't think that is really appied... it sounds soooooo heavy! I don't think we should consider that as a priority given that we don't use any data for advertisment, or we don't trace anythi

[2016-03-30 23:38] myriamboure opened #876 ""Interested in collaboration" lower banner still redirecting to openfoodnetwork.org"
The top bar redirect to the right page (https://www.openfoodnetwork.no/register) but the same bar at the bottom of the page redirect to openfoodnetwork.org > should redirect to the same /register page.
Tested on both the French and Norwegian instances.
Ping @blancnic if that's something you can work on for next release :-) Small thing but I received feedback from the first users on that, so if it'

[2016-03-31 04:23] mkllnk opened #877 "Shop scrolls to shops list automatically"
There is a feature on the shops page that is annoying me. If you are logged in, the shops page scrolls to the beginning of the shop list automatically. The idea is that customers don't need to see the banner with the explanation text, they go straight to the shops. But if you scroll further down and reload the page, the same feature takes you up to the beginning of the list again. You loose the po

[2016-03-31 04:49] mkllnk commented on #839
Okay, I realised a minimal solution without touching the *show profiles* checkbox. But I think we should turn that checkbox into a button and display it at the bottom like the others. This is how it looks after my changes:

![screenshot from 2016-03-31 15 42 42](https://cloud.githubusercontent.com/assets/3524483/14165748/feef583c-f757-11e5-9a4e-b2822cea8794.png)
![screenshot from 2016-03-31 15 40

[2016-03-31 05:37] myriamboure commented on #839
Looks great @mkllnk ! I'm just wondering,if the buttons are at the bottom, isn't there a risk that you need to scroll to see them as soon as you have 10 shops open? Shouldn't those buttons on the top of the list (I know there is already the filter button and show profile checkbox, but it makes sense to have all the search button at the same place maybe? Also when the closed stores are shown, you h

[2016-03-31 13:24] PascalPencil commented on #516
This works https://github.com/spree/spree/issues/7252#issuecomment-203803403

[2016-03-31 19:28] myriamboure commented on #843
To add on, here is an example of what we could do to tell people that there are cookies, so use the top banner for that seems pretty smart @lin-d-hop :-)
![cookies](https://cloud.githubusercontent.com/assets/8135376/14188146/e288c2a8-f786-11e5-94ea-00a9cf23b4fa.png)

[2016-03-31 23:51] mkllnk commented on #839
Thanks Myriam. I thought more of a user workflow path. A user comes to the shop page. If there is a long list, they may want to filter that list. So it's good at the top. They look which open shops are in the list. If they don't find what they want, they are at the end of the list and can click on a button to see more. I don't think that you need to click "Show closed shops" before you looked at t

[2016-04-01 00:15] sstead commented on #839
I think the buttons at the bottom makes sense, because the user gets to the end of the list and then has the chance to see more.
But it does make sense to have the controls at the top, I just worry it will get cluttered and users won't see the button. Could you put the two buttons at the top without it looking cluttered?
- I think each solution is imperfect, but both will be fine. Your call Maikel

[2016-04-01 00:53] mkllnk commented on #839
We can put buttons at both places. There could extra buttons next to the filter button, same size. But that would take a bit more time. I'm close to the three hours already. @daniellemoorhead and @serenityhill, would you like me to spend more time on this?

[2016-04-01 01:10] sstead commented on #839
Serenity says leave them at the bottom, she's happy with that!

[2016-04-01 01:12] #849 closed

[2016-04-01 03:03] sstead commented on #839
Testing... not sure if this would carry to production, but my icons have been cropped in chrome. They were full circles in mozilla.
![image](https://cloud.githubusercontent.com/assets/10843056/14196514/f2683a48-f810-11e5-8919-a58d0256d3be.png)

It's a bit confusing that when you click 'show profiles' it does nothing if closed shopfronts are hidden. I expected that when I clicked show profiles clos

[2016-04-01 04:03] mkllnk commented on #845
The text change is at the top dropdown and in the footer.

[2016-04-01 04:08] #845 closed

[2016-04-01 05:06] mkllnk commented on #798
@sstead Most Payment Methods on staging2 don't have any credentials set. Here are the exceptions:

- https://staging2.openfood.com.au/admin/payment_methods/47/edit
- https://staging2.openfood.com.au/admin/payment_methods/51/edit
- https://staging2.openfood.com.au/admin/payment_methods/5/edit
- https://staging2.openfood.com.au/admin/payment_methods/45/edit

They all have a password set. Make sure t

[2016-04-01 06:05] mkllnk commented on #798
Merged to production. The things that are not ideal:

- Password fields are just empty instead of showing dots/stars.
- Signature is still visible.

Both need more time to solve. We need to implement our own view of payment methods or upgrade Spree. So I close this for now.

[2016-04-01 06:05] #798 closed

[2016-04-01 06:21] mkllnk commented on #876
Oh, I solved that with #845.

[2016-04-01 06:21] #876 closed

[2016-04-01 06:32] mkllnk commented on #869
I wrote a script for that, a long while ago. The pull request was around for more than a year, but we decided not to do it. The reasons against were:

- duplicate content of readme and install.sh
- install.sh maybe not reliable on different distributions
- confusion about how to deploy the project on a server

But I still think that a setup script could be good. The main question is: Do we want pe

[2016-04-01 06:36] mkllnk commented on #854
I actually did that.

[2016-04-01 06:36] #854 closed

[2016-04-04 19:53] myriamboure opened #878 "Strange strings in Transifex"
I just translated in French the new strings in Transifex, I didn't translate some that looked strange in English... some had a ^ before, and others looked more like "entrance key" than strings to translate... can someone tell me if it's normal and I can go ahead? @blancnic ? @mkllnk ?
Thanks :-)

![image](https://cloud.githubusercontent.com/assets/8135376/14261085/61186cba-faaf-11e5-87a8-824dfaa6d

[2016-04-04 19:53] myriamboure commented on #878
Ping @sigmundpetersen for info

[2016-04-05 03:41] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=570333d67fe201b770b7d97f)

[2016-04-05 10:05] mkllnk commented on #878
Thank you. Some of these translations are really wrong. @elf-pavlik Can you fix these? There are some function calls in the translated strings. And some contain `&amp;`, but the key doesn't end with `_html` to mark HTML content.

@myriamboure The entries starting with `^` are correct. They are displayed under the thing they are referring to. The `^` character is like an arrow to the top.

[2016-04-05 20:55] myriamboure opened #879 "Entreprise confirmation links is badly transformed in Firefox and prevent to validate the entreprise."
We have some issues in France with the validation emails, we have quite a lot of feedback from people who get "security issues" messages when clicking on the link to validate an enterprise.
The confirmation email contains a link with http, but Firefox convert the link in https, so the SSL certificate (Let's encrypt) is not valid.
This issue doesn't happen on Google Chrome or IE apparently.
Gilles

[2016-04-06 00:41] #851 closed

[2016-04-06 00:41] #863 closed

[2016-04-06 00:41] #859 closed

[2016-04-06 00:41] #862 closed

[2016-04-06 00:41] #848 closed

[2016-04-06 00:41] #857 closed

[2016-04-06 00:41] #858 closed

[2016-04-06 00:41] #860 closed

[2016-04-06 00:41] #856 closed

[2016-04-06 04:18] daniellemoorhead opened #880 "Uber dropdown remembers close"

[2016-04-06 04:25] daniellemoorhead opened #881 "Add a "processing" icon to the edit order cycle page."

[2016-04-06 04:35] daniellemoorhead opened #882 "[Spike] Test out solution for applying product tag rules"
Note: When doing this you'll need to also consider how the solution will work for #725 (displaying tax in shopfront) and #883 (display tax per line item in checkout).

[2016-04-06 04:37] daniellemoorhead opened #883 "Expose tax at line item level for orders, i.e. checkout"

[2016-04-06 04:40] daniellemoorhead opened #884 "Allow tags to be assigned to products in inventory"

[2016-04-06 04:43] daniellemoorhead opened #885 "Create canned tag rule: products in inventory"

[2016-04-06 04:45] daniellemoorhead opened #886 "Tagging visualisation"

[2016-04-06 04:47] daniellemoorhead opened #887 "Apply tag rules in shopfront: Products in inventory"
Need to add an estimate once spike has been completed in #882.

[2016-04-06 04:49] daniellemoorhead opened #888 "Allow tags to be assigned to order cycles"

[2016-04-06 04:50] daniellemoorhead opened #889 "Create canned tag rule: order cycles"

[2016-04-06 04:52] daniellemoorhead opened #890 "Apply tag rules in shopfront: Order cycles"

[2016-04-06 04:55] daniellemoorhead opened #891 "Tagging UX improvements (found in phase 1 testing)"
As per @sstead notes on discourse: http://community.openfoodnetwork.org/t/wholesale-and-tagging/505/29

Estimate to be provided once solution determined.

[2016-04-06 04:57] daniellemoorhead opened #892 "Allow tags to be assigned to payment methods"

[2016-04-06 04:58] daniellemoorhead opened #893 "Creat canned tag rule: Payment methods"

[2016-04-06 04:58] daniellemoorhead opened #894 "Apply tag rules in shopfront: Payment methods"

[2016-04-06 05:21] bingxie commented on #880
So the implementation will be: if the user clicks the close, we will use cookie to remember it.

[2016-04-06 06:19] mkllnk opened #895 "Customers: select a hub, then another"
When you go to /admin/customers and select a hub that doesn't have any customers, you can click on another hub, but nothing happens. At first, I thought that no hub has any customers, but you need to reload the page before you can select another hub.

[2016-04-06 06:28] mkllnk commented on #886
On the customers page /admin/customers you can select a hub and get a list of customers. Each customer has an input field for tags.

1. Tags with associated rules should have a different markup.
2. While typing, rule-tags should pop up as suggestions.
3. The suggested rule tags should show how many rules apply / which rules apply.

Nice to have:

* Hovering over a tag should display a little note

[2016-04-06 07:00] RohanM commented on #828
Another status update:

- Adding out of stock items to cart - Looks like adding out of stock items to cart is a bit more complicated than I expected, and there should be about a day's work from here. Estimated completion end of this week or mid next week.

- Delayed job info on dashboard - I estimate the solution described above should take 2 hours.

[2016-04-06 09:44] daniellemoorhead commented on #895
Hey @mkllnk is this the same as #588?

[2016-04-06 10:13] mkllnk commented on #895
Yes. Sorry, I didn't see that one. I close this as a duplicate.

[2016-04-06 10:13] #895 closed

[2016-04-07 18:21] lin-d-hop commented on #838
Chatting with @oeoeaio today we've come up with the following:
- This looks like it will be tackled as part of the inventory management by having inventories added to order cycles instead of individual products
- This work won't be scheduled until mid winter for the southern hemispherers.
- This will soon be a priority for the UK team
- The UK team will work around by upping the memory on our serv

[2016-04-07 21:40] oeoeaio commented on #838
Hey @lin-d-hop, I'm just thinking: it might be worth playing around on the inventory page for a hub with 500+ products to see how it handles them. There are obvious improvements to usability through being able to search and filter products, and in the way that the inventory only initially renders 20 products by default. However, we should be sure that we are not just shifting the load time problem

[2016-04-07 22:09] mkllnk commented on #850
From Rob's description:

Allow enterprise users to manually create customers for their hub (without that customer necessarily having to place an order with the hub first)
  - Routing, views, controller actions for creating customers
  - Logic around what to do when a user with the given email does not yet exist
    - Add the customer anyway, so that tags can be added
    - (Optionally?) Send an em

[2016-04-07 23:03] mkllnk commented on #850
**Roadmap**

- [ ] "Add customer" button on `/admin/customers`
- [ ] input field allows to enter an email address
- [ ] there is no auto-complete to protect private email addresses
- [ ] an indicator shows whether a user with the entered email address exists

**Open questions**

*What to do when a user with the given email does not yet exist?*

We could offer an "Invite customer" button. It create

[2016-04-08 02:08] RohanM commented on #847
I've started investigating a potential solution to this (2:30 hrs so far). However, it looks like it'll need a fair bit more time to implement, so I'm holding off until we have confirmation on how this needs to work.

[2016-04-08 02:26] daniellemoorhead commented on #844
Hey @bingxie perhaps a good learning opportunity for you is to change the tile server we use with Google maps to be the OSM tile server and then we can see what it looks like. You can read more about this here: http://community.openfoodnetwork.org/t/open-street-map-vs-google-maps/492/4

[2016-04-08 03:54] bingxie commented on #9
This project https://github.com/spree-contrib/spree_social/ can be reference. It's depends on spree master branch.

[2016-04-08 05:10] bingxie commented on #577
I have used this gem(https://github.com/dtaniwaki/rack-dev-mark) to show different things for different envs. And it's very beautiful.

[2016-04-08 09:05] lin-d-hop commented on #838
Nice thinking @oeoeaio... will do.

[2016-04-09 08:50] stveep commented on #870
In the mean time, this can be overridden locally in `config/locales/en-GB.yml` so we don't need to wait for the spree_i18n PR:

https://github.com/stveep/openfoodnetwork/commit/27fdfb60af61ca2fdd1ed7484df028502b894b69

Should I set up a PR for this into master, or do we maintain our en-GB file somewhere else @pmackay?

[2016-04-09 09:34] stveep opened #897 "Translations on UK account page"
I just checked the account page as deployed on UK production and it is not finding translations for the payment and shipping states. They should be in the spree i18n translations so I think it could be an issue with configuration?

@pmackay @lin-d-hop

![transl](https://cloud.githubusercontent.com/assets/1314715/14402987/90cd0024-fe3d-11e5-9d67-dd96b55fdf89.png)

[2016-04-10 08:59] myriamboure commented on #878
Ping @blancnic maybe you will know how to solve the wrong translations issues while Pavlik is on his Vipassana course ;-) I translated the ^ ones.

[2016-04-10 16:04] blancnic commented on #878
Ok what's the point? Do you need I check If translations with html encodind are using in _html file or not?

[2016-04-11 07:47] mkllnk commented on #878
@blancnic Yes. Rails escapes all characters by default. If we need to use HTML within a translation, then the key needs to end in `_html`. It also looks like some Javascript function calls were substituted by translation strings. Would be good if you can revert that.

[2016-04-11 10:56] lin-d-hop commented on #870
Nice one @stveep Thanks for helping out on that.

This will go into master as all is maintained in the main code base.

[2016-04-11 11:23] lin-d-hop commented on #870
Hope you don't mind me assigning to you @stveep to get a PR in for your solution :-)

[2016-04-11 15:48] Rocksj opened #898 "Adding fees to specific Payment Methods"
Is there a way to automatically add on the paypal charges to a customer's payment. We want the 4% paypal charge to be borne by the customer not the Food Hub

[2016-04-11 21:11] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=570c130979fb7bb87be9a4ae)

[2016-04-11 22:54] lin-d-hop commented on #870
Hi @daniellemoorhead @mkllnk Could this be merged to master for the next release please? thanks :-)

[2016-04-12 15:14] NickWeir63 opened #900 "Can't delete an enterprise relationship on UK production"
I tried to delete this enterprise relationship but when i clicked the trash symbol and confirmed yes i was sure, nothing happened
![screenshot 2016-04-12 16 11 53](https://cloud.githubusercontent.com/assets/10517702/14465090/8c3a7b5c-00c9-11e6-99d5-12174b21e520.png)

[2016-04-12 22:40] mkllnk commented on #870
Should be easy. It's a small change. @daniellemoorhead I'm happy to take this on. Estimate 1 hour.

[2016-04-13 03:08] daniellemoorhead commented on #870
Go for it @mkllnk

[2016-04-13 03:15] elf-pavlik commented on #878
back online! @blancnic did you make some progress on this issue or should i take a look at it during next days?

[2016-04-13 04:00] sstead opened #901 "Move 'shopfront requires login' setting to 'shop preferences' tab in Profile Edit"
Currently this setting is in the Primary Details tab. It's visible to profile only users, which is unnecessary. Makes more sense in shop preferences.

SHOPFRONT REQUIRES LOGIN?
What's this?
 PUBLIC  REQUIRE CUSTOMERS TO LOGIN

[2016-04-13 12:18] blancnic commented on #878
add_and_manage_products: "Add &amp; manage products"
add_and_manage_order_cycles: "Add &amp; manage order cycles"
-> /app/views/spree/admin/overview/single_enterprise_dashboard.html.haml
@elf-pavlik :We can add _html in key or revert &amp; as you want

[2016-04-13 12:48] mkllnk commented on #878
I would prefer using `&` instead of `&amp;`. You don't need the suffix _html and the code is safer for translators that don't know HTML.

[2016-04-13 13:32] NickWeir63 opened #902 "cant edit enterprise fees on UK production"
On the Stroudco back end when i click on enterprise fees nothing happens, the existing fees dont open, there is no option to edit or add fees
![screenshot 2016-04-13 14 30 37](https://cloud.githubusercontent.com/assets/10517702/14494790/8f80d41c-0184-11e6-9436-44f75732d8f1.png)

[2016-04-13 13:42] NickWeir63 opened #903 "User guide signposting for "Pricing irregular, indivisible meat items""
Hi Sally.
The user guide is great  -thanks for all your work on it.
Just one small issue: When I click on 'Pricing irregular, indivisible meat items' (see below) it takes me to the description of adding variants
![screenshot 2016-04-13 14 38 16](https://cloud.githubusercontent.com/assets/10517702/14495052/bb0d03ac-0185-11e6-9757-baf15468b5c6.png)

[2016-04-13 14:05] OliverUK commented on #902
Other enterprise screens don't load either. Need this looked at so that we can progress Stroudco's transition onto OFN. Lynne is aware of it though.

[2016-04-13 14:13] NickWeir63 opened #904 "$ not £ on backend screens of UK production"
at some point we need to replace $ with £
this doesnt affect the shopfront so not urgent
![screenshot 2016-04-13 15 04 27](https://cloud.githubusercontent.com/assets/10517702/14496161/330af964-018a-11e6-9adf-10575ba9750d.png)

[2016-04-13 14:25] OliverUK commented on #838
I just tried to save our current order cycle and on pressing "update and close" nothing seemed to happen. The changes appear to be saved though.

[2016-04-13 14:31] OliverUK commented on #902
@NickWeir63
Nick, maybe you could somehow mark this as important? It must be a problem with the new version and rather crucial!

[2016-04-13 15:40] pmackay commented on #879
@mkllnk have you used Let's Encrypt recently? Can you help?

[2016-04-13 17:16] lin-d-hop commented on #902
Yeah I'm on it. I've identified the revision that caused this so going through that to find the cause. Will keep you posted.

[2016-04-13 17:17] lin-d-hop commented on #902
I can revert production if needed to a version with the shopfront loadspeed improvements and without this issue. Let me know if priority increases.

[2016-04-13 17:27] myriamboure opened #905 "Hub's should be able to add products without being classed as a producer."
We quickly discussed with @sstead about it, it's pretty unclear for hub managers that they have to say they are "producers" (as they are not) if they want to sell a box of vegetables from different farmers.
Sally modified the user guide to make it clearer ("Primary Producer: Select the producer box if your hub needs to add products which are 'produced' by your hub. If you do not select this option

[2016-04-13 18:19] myriamboure commented on #879
I know @gnollet did something on it, do you think the issue is solved? What did you do exactly?

[2016-04-13 19:16] gnollet commented on #879
Hi,
We used Let's Encrypt and the certificate is OK.
The confirmation email contains some links and we use Sendgrid to send email. Sendgrid has a function to track links on emails and this function use redirect links to do tracking. I disabled this function on Sendgrid, then I think the issue is solved.

[2016-04-13 20:36] myriamboure commented on #879
Ok so I close the issue :-)

[2016-04-13 20:36] #879 closed

[2016-04-13 21:37] myriamboure opened #906 "How to translate emails contents / titles... do we have to go into the code?"
In the French instance, automatic emails are partially / sometimes not accurately translated, both in title and content (see image bellow)
How can we easily translate that and change the content?
Do we have to go into the base somewhere, or could we imagine to do it in the configuration panel (by super-admin)
It's very obscure for me for the moment, and I think @blancnic and  @gnollet have not yet

[2016-04-14 00:07] oeoeaio commented on #838
Hi @OliverUK. Should be directing you back to the order cycle list after it has saved. @bingxie is going to be working on some improvements (#881) to help communicate what is happening during long save/load actions.

[2016-04-14 07:47] mkllnk commented on #879
I have a little bit of experience with letsencrypt. Most browsers accept the certificates. There is normally no problem with Firefox either. One big exception is Windows XP. But there is nothing you can do about that.

But it seems that the problem where the redirect links of Sendgrid. I don't think that letsencrypt has a role in this.

[2016-04-14 09:07] OliverUK commented on #838
Hi @oeoeaio Rob,
I couldn't replicate it just now as after a minute or so it did actually do it. Yesterday it didn't but then everything else was running really slowly yesterday in the backoffice. Maybe there was more capacity available this morning?

[2016-04-14 09:12] OliverUK commented on #902
Hi @lin-d-hop Lynne,
It can wait a few days, especially if it means you may be able to fix it without spending time on reverting to a prior version. But if it's something that will potentially draw out, I'd rather be getting on with preparing for our switch-over, which includes fiddling with enterprise settings. Maybe as soon as you can have a guess at how long it might take, let us know?

[2016-04-14 10:11] Rocksj commented on #902
Lots of buttons don't work on the dashboard Primary Details, Social, About, Business Details, Delivery Methods, Enterprise Fees, Tag Rules, Shop Preferences. As we've just started a new service to a Council building it would be good to be able to change things if required! Was it an issue with loading 1.6 onto production?

[2016-04-14 11:59] lin-d-hop commented on #902
Yes I mentioned this on the hangout the other day, @Rocksj . I'm looking into it, though yesterday and today are not OFN days. If I can't fix this evening I'll revert to the last working version until fixed.

[2016-04-14 12:08] Rocksj commented on #902
Sorry Lynne, slow on the uptake at the time in the morning! Its fine for now as I don't think we need to change anything

[2016-04-14 12:12] lin-d-hop commented on #902
Had a couple more complaints have come in via email so I'm reverting.
Back to [41970ecf](https://github.com/openfoodfoundation/openfoodnetwork/commit/41970ecf077bbffca1a9488ff9ade9b503003796) which was the last one that worked. That means @stveep's are out, caching is in, tagging is out. Will keep you posted.

[2016-04-14 15:24] OliverUK commented on #902
Thanks Lynne. I'm able to edit Enterprises again but I noticed something which may be related or not. On trying to change the notifications email for one producer, I was unable to get the system to save the change. I also tried to resend the confirmation email to the current address and doesn't look it's send anything.
![screen shot 2016-04-14 at 16 23 36](https://cloud.githubusercontent.com/asset

[2016-04-14 16:46] NickWeir63 commented on #838
I am having similar intermittent problems.  Just now when I clicked 'update' nothing happened but when I click 'update and close' the update did work after a few minutes delay.

[2016-04-14 20:35] elf-pavlik commented on #878
@mkllnk it looks like you added the 'accounts administration distributor' string in https://github.com/openfoodfoundation/openfoodnetwork/commit/fa8c3d65dc812a0ff4ccfda1631b2cdb867654f6#diff-2762c9737fdd8da2f25c74623499b30cR10 without adding translation to it. Later Julien added it to en.yml in https://github.com/openfoodfoundation/openfoodnetwork/commit/8fa293f561c602552b8dd6a6984e7d60900925e5#di

[2016-04-14 21:20] elf-pavlik commented on #878
this commit has all the changes: https://github.com/elf-pavlik/openfoodnetwork/commit/f15e9480854cfc6ad0d9f7833576e57aeec6c4df

all tests pass: https://travis-ci.org/elf-pavlik/openfoodnetwork/builds/123176291

do you want PR or you can just pick it from the branch on my fork?

[2016-04-14 23:44] mkllnk commented on #870
@lin-d-hop Merged. :-)

[2016-04-15 00:09] sstead commented on #903
Thanks Nick, user guide feedback is super helpful to me, keep it coming! I've fixed that link. If you spot smaller bits and pieces feel free to list them here - http://community.openfoodnetwork.org/t/user-guide-testing-feedback/217

[2016-04-15 00:09] #903 closed

[2016-04-15 01:07] #878 closed

[2016-04-15 01:10] mkllnk commented on #878
We merged these changes, but they will not appear in Transifex until the next release in two weeks.

[2016-04-15 03:57] mkllnk commented on #665
An error linked to this issue has been reopened in Bugsnag
[**ActiveRecord::InvalidForeignKey** in **spree/admin/users#destroy**](https://bugsnag.com/yaycode/openfoodnetwork/errors/54f104fc47e6d27c285bfb98?event_id=5710668c434db287359d9d77)

[2016-04-15 04:26] #588 closed

[2016-04-15 06:54] sstead opened #907 "Customer Accounts should capture Users/customer who place orders as guests"
If a registered user/customer checks out as a guest their order doesn't show in their Customer Account, even though they used their email.

Rob says Customer Accounts is using a method called 'user#orders_by_distributor'
Which is not picking up customer orders, only User orders

As part of fixing this we should also ideally prompt a person who does checkout as guest, and tries to use a known User

[2016-04-15 08:40] stveep commented on #907
This is a method that I added when updating the account page (is this what you mean by Customer Account?). I didn't appreciate that Customer was different to User in this respect. I can probably change it to show orders with the users email as well, though i agree that forcing the login is the best way.

[2016-04-15 11:26] lin-d-hop commented on #902
Fixed with updates to the locales file. On branch uk/enGB-updates which is currenlty on UK production so all v1.6.0 functionality should be deployed now.

Also added to deployment process (a file in our G Drive) that we need to check all locale changes before deployment. I want to add something to our pre-deployment checks as well.

[2016-04-15 11:26] #902 closed

[2016-04-15 11:30] lin-d-hop commented on #900
Working after latest deploy.
Closing.

[2016-04-15 11:30] #900 closed

[2016-04-15 11:43] lin-d-hop commented on #870
See this on UK production now (side effect of updating translation file for v1.6.0).
Closing.

[2016-04-15 11:43] #870 closed

[2016-04-15 12:01] lin-d-hop commented on #897
Seems they were missing from the en-GB.yml file. I just added them in and you can see in UK production now. Though I haven't tested anything except Balance Due and Pending (shipment state)...

@stveep would you check you agree? And if so close?

Thanks :-)

[2016-04-15 12:16] lin-d-hop commented on #836
Merged so closing.
@NickWeir63 @FiferMags in future if people say their county was missing off the list make sure you get the exact details of the county they are looking for so we can try make it more intuitive in our file. Thanks :simple_smile:

[2016-04-15 12:16] #836 closed

[2016-04-15 17:23] NickWeir63 opened #910 "VAT not included in items on Stroudco shopfront"
This may be user error (in which case sorry for wasting your time!) but the products on the shopfront are displaying the price before VAT - see 2 screenshots attached.
Is there a setting somewhere that we need to change to make the shopfront price include VAT?
![screenshot 2016-04-15 18 17 28](https://cloud.githubusercontent.com/assets/10517702/14569503/0fbb9a1e-0337-11e6-91e5-616b14c55b14.png)
![

[2016-04-16 12:02] lin-d-hop commented on #910
Looks as though this was a problem in the tax configuration at the instance level. Tax rate was _not_ set to 'included in price'.

I have now updated this so we're just waiting for the product cache to update to check it worked. I'm on a train with slow internet so struggling to do this properly right now, but it looks like updating tax settings does not trigger a cache update. This shouldn't real

[2016-04-16 19:37] elf-pavlik commented on #9
Since i18n shouldn't need much more attention, I can take a look now at PR #750

[2016-04-17 08:39] oeoeaio opened #912 "Accounts & Billing distributor is visible in front end for users that own enterprises."
Probably not a big deal, but something to fix at some stage.

![screen shot 2016-04-17 at 6 36 34 pm](https://cloud.githubusercontent.com/assets/2067859/14585955/8081e57e-04cb-11e6-9cc9-2662fee05dd9.png)

[2016-04-18 04:15] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57145f4f7ea6283d5689bc8a)

[2016-04-18 07:51] NickWeir63 commented on #910
Now it is not showing the VAT on either the shopfront or the order
![screenshot 2016-04-18 08 49 48](https://cloud.githubusercontent.com/assets/10517702/14597114/bbb4bf28-0542-11e6-9f64-9b4b400b91aa.png)

[2016-04-19 07:16] daniellemoorhead commented on #850
@mkllnk these open questions you've posted - what was decided in the session last week, and therefore what was built for customers that aren't existing OFN users? And did you get the UK guys to look at this during testing?

[2016-04-19 08:04] daniellemoorhead commented on #814
@mkllnk are you able to have a look at this for @lin-d-hop and give any thoughts/comments?

[2016-04-19 08:08] lin-d-hop commented on #898
I'll spec a little more on discourse for input from the world

[2016-04-19 08:43] mkllnk commented on #850
@daniellemoorhead The open questions are not implemented. They are a nice-to-have. I would wait for people to request these features before we invest more time in them. It would probably be good to gain some experiences with the current version as well. The current version was tested by Sally and is in production. The UK people are very welcome to look at this, @pmackay, @lin-d-hop, @stveep. I spe

[2016-04-19 08:52] daniellemoorhead commented on #850
@NickWeir63 @lin-d-hop @Rocksj let us know if you need some help when reviewing this or if it's evident how to use it. You can see above on here that @mkllnk has listed out the items that were delivered in the roadmap, so that should be a start for you to play around with the feature.

[2016-04-19 10:13] NickWeir63 commented on #850
Thanks @mkllnk this worked fine for me.  The only minor issue was that when I clicked 'update' I didn't get a message saying it had updated - the screen just stayed the same - but when I left this screen the new customer had been created successfu
![screenshot 2016-04-19 11 07 13](https://cloud.githubusercontent.com/assets/10517702/14635740/afa102cc-061f-11e6-9c5f-dd516fa752c8.png)
lly.

[2016-04-19 11:15] lin-d-hop commented on #898
Discussion here: http://community.openfoodnetwork.org/t/fees-on-payment-methods/552

[2016-04-19 11:56] mkllnk commented on #850
Yes, that's an old issue of that page. We could create a new issue "Customers page improvements" and schedule that for next sprint.

[2016-04-20 02:16] #748 closed

[2016-04-20 03:02] oeoeaio commented on #814
Nothing to add. 😄

[2016-04-20 04:41] mkllnk commented on #850
@NickWeir63 Is it right that you were missing feedback about updates, but not about creation? If that's correct, @bingxie and @oeoeaio are working on that already.

[2016-04-20 07:40] blancnic commented on #906
I'm going to investigate

[2016-04-20 08:05] blancnic commented on #906
For the translation of the title, we have to change it in 3 files :+1:
**app/mailers/enterprise_mailer.rb**:    mail(subject: "Please confirm your email for #{@enterprise.name}",
spec/mailers/enterprise_mailer_spec.rb:      expect(mail.subject).to eq "Please confirm your email for #{enterprise.name}"
spec/mailers/enterprise_mailer_spec.rb:      expect(mail.subject).to eq "Please confirm your email

[2016-04-20 08:12] blancnic commented on #906
We can change by that :
mail(subject: = t "spree_admin_single_enterprise_alert_mail_confirmation" #{@enterprise.name}",
What do you thing ?
We will have "Please confirm **the **email address for" instead of "Please confirm **your** email address for"

[2016-04-20 09:31] OliverUK commented on #907
It does make sense that login should be required if a known email is used.

[2016-04-20 10:18] lin-d-hop commented on #910
@NickWeir63 @oliver can you confirm the correct price of the tom long organic bitter please?
The tax setting have been updated and the tax appears included in the price now.

However if the price on the shopfront at £2.50 for the Tom Long bitter actually is the price without tax we have a bigger issue to fix here. If £2.50 on the shopfront is the correct price then this is fixed and everything has

[2016-04-20 15:49] NickWeir63 commented on #910
Thanks @lin-d-hop - but I think it is still not fixed.  The master price for a bottle of tom long is £1.92 (see first screenshot below), then we add a mark-up of 30% to Brewery products (see 2nd shot) and then the Brewery enterprsise fee is set to full rate VAT (3rd shot).  I tried changing the enterprise fee to inherit from product but the VAT is still not being added (Oliver I changed the enterp

[2016-04-20 16:41] lin-d-hop commented on #838
hi @oeoeaio
Playing around with an Inventory of 800+ products the inventory page seems a great way to manage products in an order cycle. The pagination makes all the difference. It seems to hang on loading all products but given the search and filter options I don't think this is a problem. In fact I would be tempted to remove the 'Load All'  button...?

[2016-04-20 17:33] lin-d-hop commented on #910
This has now been cleared up as a misunderstanding of how tax worked. Let me know if we need to open a new enhancement to make things work as @NickWeir63 and @Oliver expected.

More details:
http://community.openfoodnetwork.org/t/vat-included-excluded-from-price/361

[2016-04-20 17:33] #910 closed

[2016-04-20 18:30] NickWeir63 opened #913 "Variant images not displaying"
we have put images for 3 product variants of Veanda Olive Oil but they are not showing on the shopfront
![screenshot 2016-04-20 19 28 09](https://cloud.githubusercontent.com/assets/10517702/14685872/52ee78c4-072e-11e6-89f2-0ba98fdf4766.png)
![screenshot 2016-04-20 19 28 31](https://cloud.githubusercontent.com/assets/10517702/14685873/52ef274c-072e-11e6-8ea7-23ce77d8cf57.png)

[2016-04-21 06:59] mkllnk commented on #906
Good.

But I just found something even better: http://guides.rubyonrails.org/i18n.html#translations-for-action-mailer-e-mail-subjects

[code]

The locale needs this entry then:
[code]

Try that and see if it works.

[2016-04-21 12:32] lin-d-hop commented on #319
Closing as the registration process all looks good and international now

[2016-04-21 12:32] #319 closed

[2016-04-21 18:38] blancnic commented on #906
Nice. I will try it

[2016-04-22 04:57] daniellemoorhead commented on #844
@bingxie go ahead and change the tile server and then close this issue :)

[2016-04-22 05:06] daniellemoorhead commented on #847
@RohanM as per Discourse discussion, this can now be pushed through to testing (if anything was changed) and then to prod. Ta!

[2016-04-22 06:13] mkllnk opened #916 "Delete customers"
This is a follow-up of #850. We can't delete customers that ordered something already. In order to change this, we could do this:
- Remove attribute customer_id from order model.
- Create association from order to customer by a method like this:

[code]

@oeoeaio Do you think that is a good first step and we can solve the user assignment after that?

[2016-04-22 06:20] mkllnk opened #917 "Associate new users with their previous orders"
This is a follow-up of #850 and #916.

If a user orders as a guest and decides later to sign up, the user cannot see their old guest orders. Additionally, there are two customer records with the same enterprise and email address. One is associated to the guest orders and the other one to the user.

In order to solve this, we need to validate email addresses during signup, #833.
And it would be goo

[2016-04-22 07:27] oeoeaio commented on #916
Hm, my preference would be to just solve everything all at once. What do you think the benefit of doing it in stages is?

[2016-04-22 08:26] mkllnk commented on #916
Sometimes things explode. It is easier to solve one problem at a time. Keeps the system stable. And if I don't get the second bit done, the first one is already an improvement. I wouldn't do it if there would be a lot of extra work. But it looks to me, that I would just add four lines that get removed later.

[code]

I can still put it in one pull request. I split it up into two issues, because th

[2016-04-22 12:11] simnh opened #918 "rake db:setup gives Pych::SyntaxError"
Hi, I tried to setup the openfoodnetwork to test it locally. I followed the steps from the "installation manual"
when running:

`rake db:setup`

I got the following error:

[code]

I am not too much into ruby/rails, so maybe its a trivial problem?

I am on master commit 2367b73d3a037a9d7e7a8b981aa29c382a2353b0
`rails -v` gives: Rails 3.2.21
`ruby --version` gives:  ruby 2.1.5p273 (2014-11-13 revis

[2016-04-22 14:43] NickWeir63 commented on #828
We now have a timeline for switching Stroudco over to OFN:
23rd April - food hub as normal
27th April - orders close for the last time on old system
30th April - last food hub on old system
7th May - NO FOOD HUB
8th May - orders open on OFN for food hub on 14th May
14th May - first food hub on new system

As part of this we are asking a few regular shoppers to put in dummy orders.  This is some of

[2016-04-23 11:27] NickWeir63 opened #919 "Displaying product properties"
Stroudco added the "certified organic" property to Ruskin Mill marmalade and although we can now filter by "certified organic" and get the right result, the product itself isn't marked as organic, which we understand should be via a label inside the pop-up window.

Also a couple of other points about properties:
1) is it possible to remove the "minimum order" property as I understand this doesnt w

[2016-04-23 11:30] NickWeir63 opened #920 "Including product tax category in the notification emails"
how big a job would it be to include the tax category in the notification emails?  As we are producing Quickbooks invoices for Stroudco shoppers as soon as the order confirmation email goes out, it would help Oliver a lot to be able to see straight away which items are VAT-able and which aren't without getting a report up.

If it can't be done easily, we'll either try and tell from memory or we mi

[2016-04-23 11:38] NickWeir63 opened #921 "Litres and millilitres as lower case 'L'"
Oliver would like to change the unit display on the shopfront from 'L' to 'l' and from 'mL' to 'ml' please

[2016-04-23 15:20] NickWeir63 commented on #850
Yes @mkllnk that is correct - I didn't get any acknowledgment when I clicked update but the new customer did create successfully

[2016-04-23 19:47] myriamboure opened #922 "Problem in customer communiation process with shipping emails"
Connected to the issue #906

When clicking on "ship" on the order listing page,
![shipment](https://cloud.githubusercontent.com/assets/8135376/14763604/ae9f9c3e-099a-11e6-94eb-dc3da7d681c3.png)

there is an automatic email sent to the customer.
![mail](https://cloud.githubusercontent.com/assets/8135376/14763610/d1fe149e-099a-11e6-86fb-a0439e7c7390.png)

1- First, the email is not translated (and e

[2016-04-24 14:25] stveep commented on #912
Can you explain what this is? I'm not sure how you would identify it as a special case not to be shown - is it always present and named the same? It doesn't seem to be in my sample data dump or shown on UK staging.

[2016-04-25 08:44] oeoeaio commented on #912
Hi @stveep,

The Accounts distributor is identified by the id specified in the Spree::Config.accounts_distributor_id variable. The #account_invoice? method defined on Spree::Order in the order decorator gives an example of how to use this variable to identify an order as one that should not be treated as a regular order.

[2016-04-25 10:08] myriamboure commented on #918
Any idea @gnollet or @blancnic or maybe @pmackay ?

[2016-04-25 12:35] NickWeir63 opened #923 "Can't delete enterprise relationship"
When I click delete and then confirm 'yes I am sure' nothing happens
However if I log in as superadmin the delete is successful
![screenshot 2016-04-25 13 17 16](https://cloud.githubusercontent.com/assets/10517702/14783872/72ef3d60-0aea-11e6-8789-991565d3ac29.png)

[2016-04-25 16:25] NickWeir63 opened #924 "Grumpy cat when deleting enterprise"
Earthshare sent me this email:
**Also, you can delete the shop Suzanne2 , that was a test shop we created to see if we could get the emails to work. **
I went in as superadmin and checked that it was his enterprise but got this message when I tried to delete it so I just changed the owner, manager and notification emails to get them off his account
![screenshot 2016-04-25 17 14 56](https://cloud.g

[2016-04-25 17:53] lin-d-hop commented on #924
Currently we can't delete enterprises with relationships. Try removing the products and enterprise relationships associated with that enterprise and then see if super admin delete works.

[2016-04-25 18:04] lin-d-hop commented on #919
New properties can be created in super-admin under Products -> Properties.

Properties are global variables per instance so "produced within 15 miles of Stroud" doesn't make much sense but "produced within 15 miles" might...?

[2016-04-25 18:59] blancnic commented on #906
@mkllnk I tried to test it on my dev env but impossible to send email. I tried with delayed-jobs but it didn't work :(

[2016-04-25 19:27] NickWeir63 commented on #924
Thanks Lynne

[2016-04-25 19:27] #924 closed

[2016-04-25 19:29] NickWeir63 commented on #919
Great - I will create those and delete "minimum order"
thanks
Nick

[2016-04-25 19:29] #919 closed

[2016-04-26 03:28] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=571ee043836738821f6040a0)

[2016-04-26 03:33] stveep commented on #912
OK I've added to this PR along with the other improvements to this page:

https://github.com/openfoodfoundation/openfoodnetwork/pull/908

[2016-04-26 03:33] #912 closed

[2016-04-26 09:08] mkllnk commented on #906
Have you tried deactivating delayed job in `config/initializers/delayed_job.rb`?

[2016-04-26 11:15] blancnic commented on #906
Sorry but I don't know how to do that. I launched manually delayed_job but I don't think it works well....

[2016-04-26 16:20] OliverUK commented on #838
Once again unable to safe OC.

[2016-04-26 17:08] NickWeir63 commented on #838
Just talked this through with Oliver.  Both of us are getting intermittent problems with the order cycle sometimes not updating, sometimes it goes back to the list of order cycles when we click "update and close", sometimes nothing appears to happen but the order cycle has updated correctly and sometimes nothing appears to happen and the order cycle has not updated correctly.
@lin-d-hop is it wort

[2016-04-26 23:51] sstead opened #925 "If I uncheck the 'ask' button in BOM I should no longer get asked to confirm when I delete an item."
[Updated by Myriam 26/07/2018]

## Description
The ask checkbox in BOM is supposed to dictate whether or not I get asked for confirmation before I delete a product.
Currently I get asked for confirmation (regardless of the ASK checkbox's state) when I delete using the trash can button.
When I delete by selecting product checkboxes and delete by going Actions > Delete Selected, I'm never asked for

[2016-04-26 23:54] mkllnk commented on #906
I just looked at this again. The spec you changed covers this change already. So if `spec/mailers/enterprise_mailer_spec.rb` passes, everything should be alright.

[2016-04-27 13:33] OliverUK commented on #923
I can delete relationships that I created but I can't delete those that must have been created when Stroudco data was imported from the current system.

[2016-04-27 13:35] OliverUK opened #926 "automatically reset stock levels"
Can the inventory action "Reset Stock Levels to Defaults" be executed automatically when an order cycle closes?

[2016-04-27 14:24] OliverUK opened #927 "Producer notification email improvements"
Please could the emails a producer receives as "purchase order" have a total amount at the end!!!

[2016-04-27 15:27] NickWeir63 commented on #923
OK I will delete all the old redundant ones in superadmin.
this glitch must be something to do with how the data was imported so i will close this issue

[2016-04-27 15:27] #923 closed

[2016-04-27 20:06] myriamboure opened #928 "Make customer address and phone non compulsory info at checkout"
As a hub manager, I want to be able to choose if the address and phone number fields are compulsory or not at checkout.

And when I select a "delivery" type shipping method, the system should open an address field pre-filled in if I already have filled in an address above, and here it should be compulsory field of course (=delivery). The invoice address can be different from the delivery address,

[2016-04-27 23:32] myriamboure commented on #927
Agree with you @OliverUK !

I think more generally the producer email should be a bit more clear and user friendly... it's not very appealing, it can be confusing for producers who are not very tech friendly...
And it's very formal, not a very friendly language... the signature is on the same line as the greetings and not a personal signature, it's the name of the company (the name of the hub mana

[2016-04-28 12:57] OliverUK commented on #927
@myriamboure
Yes, all the above for us too. Our current software provides a nice table, much easier to read and with text customisable (though admittedly I had to ftp into the web files for this).
![screen shot 2016-04-28 at 13 47 10](https://cloud.githubusercontent.com/assets/17590921/14886320/1bf95166-0d48-11e6-8808-2ab5088fcb72.png)
Not only is the current OFN email tricky for producers to read

[2016-04-28 12:58] OliverUK commented on #927
@NickWeir63
I can't add labels but maybe this could be labelled as important?

[2016-04-28 13:10] blancnic opened #929 "Enterprise admin page broken with V1.6 (translations issue)"
When  you click on an enterprise, you have a problem and nothing displays in the center of the screen.

![pasted image at 2016_04_27 09_14 pm](https://cloud.githubusercontent.com/assets/16450598/14886775/d7d721e2-0d52-11e6-84b4-91bf78c383e6.png)

In Firebug, I found this error:
NetworkError: 409 Conflict - https://staging.openfoodfrance.fr/enterprises/check_permalink?permalink=XXXX

[2016-04-28 13:38] blancnic commented on #906
I have an error in final tests:
 ArgumentError:
  wrong number of arguments (1 for 0)
     # ./app/mailers/enterprise_mailer.rb:16:in `confirmation_instructions'

[2016-04-28 23:30] daniellemoorhead commented on #929
This issue has also been raised by @sigmundpetersen on Discourse - http://community.openfoodnetwork.org/t/whats-new-v1-6/527/2

And in slack #deployment channel.

@RohanM and @oeoeaio and @mkllnk I think this is something we're going to need to fix before we can deploy the next release. Can we get onto this as a priority?

[2016-04-29 00:09] RohanM commented on #847
After discussion, we've decided that no change is needed:
http://community.openfoodnetwork.org/t/tax-calculation-issue/547/6

[2016-04-29 00:09] #847 closed

[2016-04-29 01:16] daniellemoorhead commented on #927
@NickWeir63 @lin-d-hop is this something that you want us to do in the next release as a priority for the UK?

[2016-04-29 02:37] daniellemoorhead commented on #929
This problem will already be fixed as part of release 1.7. Yay!

Therefore, closing this issue.

[2016-04-29 02:37] #929 closed

[2016-04-29 04:17] daniellemoorhead opened #931 "Set up Bug Herd for a local instance"
1. Configure BugHerd API key for any instance who wants to use it, rather than current set up where all local instances use the Australian bug herd account.
2. Document how to set it up on discourse in the Super Admin section.

[2016-04-29 04:39] daniellemoorhead opened #932 "Upgrade to Angular v1.5.5"

[2016-04-29 04:40] #882 closed

[2016-04-29 04:44] #850 closed

[2016-04-29 04:44] #828 closed

[2016-04-29 06:36] sstead commented on #886
Testing notes April 29.
1 and 2 are working.
3 is working, but we're only shown how many rules apply, not which rules apply
Nice to have 1 is working, again, just showing how many rules apply.

[2016-04-29 07:18] #886 closed

[2016-04-29 07:36] #844 closed

[2016-04-29 07:42] oeoeaio opened #933 "Improvements to admin customers interface"
- [ ] Move create customer form into modal
- [ ] Use 'Show More' buttons to limit rendering of customers
- [ ] Add save bar to interface
 - [ ] Integrate StatusMessage into PendingChanges

[2016-04-29 07:59] NickWeir63 commented on #927
Thanks @daniellemoorhead - it seems important to Oliver and Myriam and I can see their point.  I would like to consult with @lin-d-hop and @sara and check with you how much time and budget this fix will take but given the tight timescale I am going to risk saying yes please can we include this in the next release.  Thanks

[2016-04-29 08:43] OliverUK commented on #927
That would be great!

[2016-04-29 20:30] elf-pavlik commented on #931
Any chance to also consider #740 so various instances can choose to use open source trackers like [Sentry](https://getsentry.com/welcome/) or [Errbit](http://errbit.github.io/errbit/). I guess I should just work on PR if I would like it to happen...

[2016-04-30 03:28] mkllnk commented on #906
Have a look at https://github.com/mkllnk/openfoodnetwork/commit/f3fb158e014cbc6d4ebaf96707e95617a7f7dc6e.

There were three things I fixed:

- The translations in the locale had the wrong indentation. It was under `devise`.
- I updated the spec with the new text.
- I had to use the I18n.translate function `t`, because the `default_i18n_subject` function in our version of rails doesn't support vari

[2016-04-30 06:37] oeoeaio commented on #881
@bingxie: just wanted to let you know that I have done the work of adding the Save Bar to the Customers page as part of #933.

[2016-05-01 06:13] blancnic commented on #906
Many thanks for your help.
git fetch git@github.com:mkllnk/openfoodnetwork->failed
I will take a look to the other translation and contact Myriam to know what she wanted to change more.

[2016-05-01 06:22] blancnic commented on #906
@myriamboure : ok for the title, can you explain more what do you want to modify in the text of the mail? Thanks

[2016-05-01 08:20] mkllnk commented on #906
@blancnic You can't merge if the fetch didn't work. Try `git fetch https://github.com/mkllnk/openfoodnetwork.git` first, then merge.

[2016-05-01 11:56] oeoeaio opened #935 "Allow enterprise users to save preferences for column visibility"
Proposed implementation is to move all logic about column visibility into rails preferences, and then inject preferred visibility into angularJS as a value on page load...

[2016-05-01 12:36] stveep commented on #927
I added the total in the PR above, in case it's useful.

[2016-05-02 12:48] lin-d-hop commented on #838
@pmackay
Would you upgrade our production server this week when you get a chance? Since it involved some downtime could you try and plan for a slow time of day?

@NickWeir63 Happy to try upgrading the server for the Stroudco switch, but I don't think we've found the core of any problems on this just yet. The bottleneck seems to be CPU usage on our servers and I hope the upgrade to 4 cores will hel

[2016-05-02 16:21] NickWeir63 commented on #838
Thanks for the upgrade.  However, I have managed to update order cycle successfully twice today (now up to 562 variants) but I know that @OliverUK  has found it trickier than me - he is away for a few days but will check with him later this week

[2016-05-02 17:24] lin-d-hop commented on #838
@NickWeir63 No upgrade has happened yet. I suspect today is an exceptionally low traffic day ;-)

[2016-05-02 20:12] NickWeir63 commented on #838
OK yes lets go for the upgrade.  Thanks

[2016-05-03 07:25] pmackay commented on #838
Will try to do this Thursday.

[2016-05-03 07:59] lin-d-hop commented on #920
Just a note that it will be important to have the three tax codes specified:
Standard
Exempt / Zero rated
Reduced Rate

[2016-05-03 08:24] NickWeir63 commented on #920
@daniellemoorhead please can you give us an idea of how much dev time this would take.  thanks

[2016-05-03 08:26] lin-d-hop commented on #920
@NickWeir63 This should be straight forward if all products have their correct tax category set. Could you confirm that Stroudco are now using the correct tax categories and not relying on Enterprise Fees to specify tax?

[2016-05-03 08:26] lin-d-hop commented on #920
@daniellemoorhead UK can handle this one :-)

[2016-05-03 09:49] NickWeir63 commented on #920
Good point Lynne - I will ask @oliver to confirm where he is up to with tax categories so that we can pick up VAT totals accurately.  He is away until tomorrow.
PS when I type @oliver it doesn't bring up his github account name like it used to........

[2016-05-03 12:30] OliverUK commented on #920
@NickWeir63  Not sure why I don't come up. It should be OliverUK but usually it finds people for you.
I've been using the tax categories for each product so if this can be used for the emails, great! However last time I heard we still needed to use separate enterprise fees because we are not getting the right end price otherwise. @lin-d-hop

[2016-05-03 12:34] OliverUK commented on #838
I'm grateful.

[2016-05-03 15:23] blancnic commented on #906
@mkllnk :PR #937

[2016-05-03 16:12] pmackay opened #938 "Google Analytics number is hardcoded"
Looking at `https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/views/shared/_analytics.html.haml`, it seems to have a single GA `UA` code in it. Should this be changed to insert some Spree code that supports their trackers mechanism? Or make the `UA` number a variable?

@RohanM @mkllnk @oeoeaio please comment :)

cc @lin-d-hop

[2016-05-03 16:57] NickWeir63 commented on #838
Very very slow/stopped again today - bring on that upgrade!

[2016-05-03 21:33] oeoeaio commented on #938
I don't have much experience with GA but I think that is a sensible idea...

[2016-05-03 23:59] oeoeaio commented on #587
This is particularly an issue when trying to remove a customer code, because this is saved as an empty string rather than null.

[2016-05-04 00:57] bingxie commented on #881
@oeoeaio Thanks, could you tell me what't the branch you are working on?

[2016-05-04 01:24] daniellemoorhead commented on #931
@lin-d-hop FYI :)

[2016-05-04 01:31] daniellemoorhead commented on #886
What was done:
1. Tags with associated rules should have a different markup.
2. While typing, rule-tags should pop up as suggestions.
3. The suggested rule tags should show how many rules apply.
4. Hovering over a tag should display a little note saying if rules apply.

[2016-05-04 01:37] daniellemoorhead opened #939 "Fees on payment methods"
http://community.openfoodnetwork.org/t/fees-on-payment-methods/552

[2016-05-04 01:40] mkllnk commented on #938
I think GA should be optional. There are good reasons not to use it:

- Not everybody wants to give their user data to Google.
- It can slow down the website.
- There are alternatives.

How does Spree's tracking system work?

[2016-05-04 01:43] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=572953ae6054231b734b59ab)

[2016-05-04 02:15] sstead opened #940 "Review & apply image compression to uploaded images"

[2016-05-04 02:16] sstead opened #941 "Check if image resizing converts PNG to JPG where required"
i.e. Large banners

[2016-05-04 02:30] sstead opened #943 "When proximity search has no results"
- add enterprise
- suggest
- collect info on suburb they searched
- google form?

[2016-05-04 02:31] sstead opened #944 "Add properties filter into list filters"
- move to new system?

[2016-05-04 02:32] sstead opened #945 "Put properties on producer modal"

[2016-05-04 02:36] daniellemoorhead opened #946 "User email verification"
At the moment users do not have to verify/confirm their email address to become an OFN user, we want to change this so that they do need to go through a confirmation process to ensure that they are using their own email address.

Check this google doc to see the overarching flows for initial sign up and then for unconfirmed users trying to login: https://docs.google.com/document/d/1S9CDFQZZr8BLeMf

[2016-05-04 02:36] sstead opened #947 "Enterprise can set their time zone"
- during /register
- in settings

[2016-05-04 02:39] sstead opened #948 "Make SuperAdmin able to override email confirmation"

[2016-05-04 02:40] sstead opened #949 "Soft delete enterprise"

[2016-05-04 02:40] bingxie opened #950 "Apply save bar to more admin pages"
Apply save bar to more admin pages:

1. create order cycle
2. bulk edit products
3. edit enterprise

[2016-05-04 02:41] sstead opened #951 "Selection of shipping method at shopfront"

[2016-05-04 02:43] sstead opened #952 "Option for SuperAdmin to 'deactivate' enterprise who has not paid"

[2016-05-04 02:43] RohanM commented on #931
A branch with this feature (`bugherd-config`) is pushed ready for testing.

With #740, @elf-pavlik that sounds like a great idea, and the possible approaches that @mkllnk posted on that issue look good to me. A PR would be great :)

[2016-05-04 02:50] sstead opened #953 "Enterprise description field text formatting"
Hitting enter makes new paragraph, not just new line. Leads to huge gaps in profiles text... (THIS HAS BEEN FIXED)

![image](https://cloud.githubusercontent.com/assets/10843056/15004145/baa028dc-11f6-11e6-980d-a016781efb25.png)

Headings are all the same: (THIS IS OUTSTANDING)
![image](https://cloud.githubusercontent.com/assets/10843056/20127220/a3ff090c-a690-11e6-9791-de7e01947487.png)

[2016-05-04 02:57] sstead opened #954 "Display warning if address can't be placed on map"
First would need address validation.

I'm able to create an enterprise with a nonsense address. It won't show on the map accurately, but I'm not warned about this.

Enterprises with invalid addresses are no longer being put in the ocean off africa, instead they're put whereever there is accurate information for, ie in the example below the state is valid, so it was put in the middle of that state.

[2016-05-04 04:20] RohanM commented on #377
Fixed with #828

[2016-05-04 04:40] RohanM commented on #828
Hi everyone,

This is all finished, but in the process I ended up going over my estimated time for this task. Here's a brief retrospective.

The main task related to this was: when a product has gone out of stock while a customer is shopping, we want to notify the customer and reduce the quantity in their cart. This has always been an problem, but is now doubly important because a side-effect of o

[2016-05-04 05:30] sstead opened #955 "Overhaul backend of OFN"
- Convert top horizontal menu to side menu
- Keep existing categories? With pop out sub-categories
- Put settings at bottom
- Responsiveness

[2016-05-04 05:42] sstead opened #956 "Instance options to configure business model"
Some work has been done towards this...
- https://github.com/openfoodfoundation/openfoodnetwork/issues/526
- https://github.com/openfoodfoundation/openfoodnetwork/pull/911

Still seemingly outstanding:
- enterprise package text is still hard coded- make editable
- deactivate/register

[2016-05-04 05:43] #949 closed

[2016-05-04 05:50] sstead opened #957 "Add non-OFN outlets to profiles"
- farm gate
- tasting room
- local grocery store
- xyz wine cellar
- A more comprehensive 'stockists' tab for producers

[2016-05-04 05:53] sstead opened #958 "Change 'shop now at' text to be more relevant"
'Shop now at' can be changed to simpler 'shop now' for:
- hubs with no buying groups.
- producers who only sell their products in their own producer shop

[2016-05-04 06:01] sstead opened #959 "Minimum order spend"
## What is the problem we are solving
To be efficient, shops often need their orders to be of a minimum value at least. Orders received below this value may actually lose the shop money, or reduce their margin.
Currently there's no way for shops to set a 'minimum spend' in their shop. In the absence of such functionality shops either need to absorb the inefficiency of low value orders, or have an

[2016-05-04 06:05] sstead opened #960 "Customer accounts - able to add credit, and update details"
Desired changes:

As a customer, I can pay credit into my accounts to cover future orders. Needs a separate accounts for each hub.

As a customer I can update my details (name, address, etc)

[2016-05-04 06:08] sstead commented on #632
This is done. You add the new manager as the notification email, this prompts a email conf to go to this person, when they confirm they're made manager.

[2016-05-04 06:08] #632 closed

[2016-05-04 06:10] sstead opened #961 "Expand enterprise types (e.g. wholesaler, maker, buying group?)"

[2016-05-04 06:19] sstead opened #962 "Add group buy and unit size to Inventory interface"

[2016-05-04 06:22] sstead opened #963 "Changes to product price can auto flow through to variants"
Food connect request

[2016-05-04 06:26] sstead opened #964 "Create multiple E2Es at once"
Details of E2E improvements desired
http://community.openfoodnetwork.org/t/useability-of-e2e-link-management/102

[2016-05-04 06:29] sstead opened #965 "On group directory, hide search field until there are >10 groups listed"

[2016-05-04 06:31] sstead opened #966 "Group links from enterprise with badge"

[2016-05-04 06:33] sstead opened #967 "Adding different features/functions to group pages"
- blog
- calendar

[2016-05-04 06:33] sstead opened #968 "Map based search by product, producer, filters etc (not just location)"

[2016-05-04 06:34] sstead opened #969 "Review mobile/tablet journey/UX"

[2016-05-04 06:35] sstead opened #970 "Mobile: View/interact between map & listings like on AirBnB"
e.g. cluster of points on map

[2016-05-04 06:37] sstead opened #971 "The search for eaters- how to improve it"
Need to explore and examine ways to improve

[2016-05-04 06:38] sstead opened #972 "Customise/personalise design of group page"

[2016-05-04 06:38] sstead opened #973 "Does Groups homepage need to exist?"

[2016-05-04 06:40] sstead opened #974 "Producer profile should include product category/property info without adding dummy products"
Currently profile only producers have to add dummy products in order to show in searches for product category or property. Should be able to say I product 'meat' and am 'free range' without adding product.

[2016-05-04 06:45] sstead opened #975 "Create SuperAdmin dashboard"
This will have tools such as
- total orders
- new enterprises signed up
- configuration

[2016-05-04 06:48] sstead opened #976 "Bulk Edit Products - group buy, on demand properties"
- Primary taxon
- image
- description
- properties
- on demand
- group buy

Current:
![image](https://cloud.githubusercontent.com/assets/10843056/15006941/f3f879ba-1217-11e6-997c-15f242fb79ce.png)

[2016-05-04 06:54] sstead opened #977 "Google Analytics"
1) Set up google analytics events and goals

2) Implement google tag manager

3) Define analytics plan

4) Set up a trial Google analytics dashboard for a shop

[2016-05-04 07:26] NickWeir63 commented on #828
Thanks for all your work on this @RohanM and it sounds like the extra work you had to do has been really useful in other ways so I am cool with the over-spend - we are building an even more awesome OFN that will benefit us all in the future.  Thanks

[2016-05-04 13:51] NickWeir63 commented on #838
I was just working with a Stroudco producer who has permission to add to the Stroudco order cycle.  When we logged in as her and added new products it was very quick and easy to add these products to the order cycle.  Is there any way we can log in as a producer without them having to give us their password?

[2016-05-04 16:09] OliverUK commented on #838
I must admit the same thought had crossed my mind.

[2016-05-04 17:54] NickWeir63 opened #978 "Can't save inventory"
Whenever I try to save any changes in inventory, it says "I couldn't get authorisation to save those changes, so they remain unsaved."
![screenshot 2016-05-04 18 51 05](https://cloud.githubusercontent.com/assets/10517702/15023731/a2fdbd10-1229-11e6-9c32-da8e3085ab8d.png)

[2016-05-04 18:29] NickWeir63 opened #979 "Giving suppliers permission to reset default stock levels"
We are trying to set up some of our producers to be able to change their stock reset levels. We couldn't get any inventory page to display when logged in as the supplier. I wonder if it's because they have to have a shop front?
Is there any way round setting them up with a shopfront?

[2016-05-04 20:01] lin-d-hop commented on #838
That's interesting. This might suggest it's the enterprise relationships that is slowing this page down.
Is your goal to then log in as each producer you need to update in order to make changes? So you need all of the producers log ins that you would want to edit?

[2016-05-04 21:23] OliverUK commented on #838
Lynne, I guess the answer is yes. It doesn't sound ideal but as we keep getting stuck on saving our 600+ item order cycle it would be a work-around to log in as the producer whose items need adding. This then only shows their products and we can save from there. In fact everything is quicker on the produce side, presumably because much fewer items need to load?

[2016-05-04 21:25] OliverUK commented on #979
I'm not sure I see the sense in only allowing those with a shop front to set this type of stock level. Maybe it's something that can be moved to the products page?

[2016-05-04 22:10] lin-d-hop commented on #838
Can you instead ask another user (belonging to you) to be made a manager of that enterprise? This way you don't need their passwords.

[2016-05-04 22:24] lin-d-hop opened #980 "Updates to UK About page"
- [x] Upload images to AWS server
- [x] Add html to case studies to display pics
- [x] General pretty-ing up

[2016-05-05 06:53] pmackay commented on #938
See https://spreecommerce.com/blog/ecommerce-tracking-in-spree. Need to do this to get it to work:

Then it would be optional because its configurable via Spree admin. However it seems like it only works for commerce checkouts, not all pages. If so, how important is tracking all pages? How often do you use the tracking you currently have? Would it be ok to just remove the current hardwired trackin

[2016-05-05 07:03] pmackay commented on #977
Relates to #938 (should be fixed first?).

[2016-05-05 07:53] lin-d-hop commented on #898
Over to @mkllnk after hangout this morning.

[2016-05-05 08:05] stveep commented on #920
Are you talking about the same email as #927 here?

[2016-05-05 08:08] NickWeir63 commented on #920
yes this is the same email

[2016-05-05 08:12] daniellemoorhead commented on #939
This is a duplicate of #898 - closing.

[2016-05-05 08:39] OliverUK commented on #920
@stveep  @NickWeir63
Actually, no, it's not.
Here we are talking about the order confirmation sent to customers and copied to the hub. As the hub manager I would like to be able to see on that email which items are subject to VAT.

The email at #927 is the purchase order to suppliers, which needs a total amount at the end and ideally a more readable layout and customisable content.

[2016-05-05 08:48] OliverUK commented on #838
@lin-d-hop  That makes it more complicated but yes, it's possible. Maybe we can see if the upgrade helps first. @pmackay ?

[2016-05-05 09:17] kirstenalarsen opened #981 "I'm just testing where this message goes when I opt to give feedback. I'm logged in as a regular user now - not super admin - and I get a message on my dashboard telling me that the trial period is being extended. What does that mean ?"
[https://www.bugherd.com/projects/21919/tasks/1434](https://www.bugherd.com/projects/21919/tasks/1434)

[2016-05-05 11:16] OliverUK commented on #978
Thanks for looking at this @lin-d-hop ! We are trying to get ready to open for orders and this is preventing us from setting reset levels (or removing existing overrides).

[2016-05-05 11:24] NickWeir63 commented on #920
Sorry - my mistake.  Yes these are 2 separate emails.  So @stveep shall we assign this issue to someone else?
I think @OliverUK would agree that this is a less urgent issue than #927

[2016-05-05 13:41] OliverUK commented on #838
I have tried what @lin-d-hop  suggested and added my self as manager of Woodchester Valley Vineyard under an email address different to the one I use as hub manager.
I'm able to see the wine in question but I'm unable to add it to the order cycle. OFN simply won't let me tick it.
![screen shot 2016-05-05 at 14 37 27](https://cloud.githubusercontent.com/assets/17590921/15044906/7daf414a-12cf-11e6-8

[2016-05-05 13:53] OliverUK commented on #838
And my dashboard looks like this. A list of enterprises flashes up for a split second and then disappears again.

![screen shot 2016-05-05 at 14 50 59](https://cloud.githubusercontent.com/assets/17590921/15045152/00e32c92-12d1-11e6-91b5-6a0fa4982edf.png)

[2016-05-05 18:16] NickWeir63 commented on #838
Hi @OliverUK can i just check that you have given Woodchester permission to add to the Stroudco order cycle

[2016-05-05 19:40] NickWeir63 commented on #838
I have just tried a regular update of the full Stroudco order cycle and 10 minutes after clicking "update and close" still nothing has happened...... Can I just check @pmackay whether you have upgraded the server?
Thanks

[2016-05-05 20:10] pmackay commented on #838
I havent yet, I pinged a few questions at @lin-d-hop earlier but no reply yet (must be busy!). Will update here when its upgraded.

[2016-05-05 20:41] OliverUK commented on #838
@NickWeir63 No, I hadn't. That's where I went wrong then!

[2016-05-05 21:43] lin-d-hop commented on #978
My guess this is also a permissions issue. @NickWeir63 can you check that the enterprise has the permission 'add to inventory' in the enterprise relationships? Thanks!

[2016-05-06 00:51] mkllnk commented on #938
No, I haven't used any alternatives.

I personally would be happy to remove the Google Analytics code. But I think some people would like to keep it.

@daniellemoorhead:

- Are we using Google Analytics?
- Who is interested in it?
- Do we have capacity to analyse the data?
- Do we have capacity to act on the insights?

[2016-05-06 02:52] #906 closed

[2016-05-06 04:27] mkllnk commented on #898
Here is the roadmap:

- [ ] Extend Spree::PaymentMethod with calculated_adjustments. (3h)
- [ ] Add new inputs to the payment method edit form in the admin interface. (4h)
- [ ] Add the fee to the order during checkout. (4h)
- [ ] Display that fee to the customer during checkout. (5h)
- [ ] Display that fee to in confirmation emails. (3h)

[2016-05-06 06:02] sstead opened #983 "Cache related bug - Product changes not saving"
I've heard from 2 users that product changes are not carrying through to the shopfront. Seems the system is drawing on old information.This was occurring for Theresa in Canada, I could see the bug (confirming it was not user error). Caching in Canadian SuperAdmin had this in the DIFF column - https://gist.github.com/sstead/b7a44bbb915aa589db27f12ac81d08fc

![image](https://cloud.githubusercontent.

[2016-05-06 07:34] NickWeir63 commented on #978
Hi @lin-d-hop
I checked the enterprise relationships and they all look good
![screenshot 2016-05-06 08 28 20](https://cloud.githubusercontent.com/assets/10517702/15066981/2784bac0-1365-11e6-8cec-4c5d2b1d2c41.png)

then i tried to set a stock default but when i clicked save I got this again

![screenshot 2016-05-06 08 32 05](https://cloud.githubusercontent.com/assets/10517702/15067003/42c98cc0-1365

[2016-05-06 08:30] OliverUK commented on #978
Besides we are trying to save our own inventory!

[2016-05-06 13:30] NickWeir63 commented on #838
Thanks @pmackay for your text confirming the update.  Was that an update to the software or an upgrade to the server?  Anyway I just tried opening the Stroudco order cycle and it seemed to open faster than it used to (but maybe that was wishful thinking!) but then when I added a missing product to the outgoing order cycle then clicked "update and close" nothing happened - I waited 6 minutes then g

[2016-05-06 13:42] OliverUK commented on #838
If it was my computer I'd say it runs out of memory during the operation.

[2016-05-06 14:29] pmackay commented on #838
@NickWeir63 if you want to get on skype and test that again while I scan the logs we could try that? I updated the software yesterday to v1.7 and the hardware today. So maybe this is a software issue?

[2016-05-06 15:15] pmackay commented on #838
While @NickWeir63 and I were testing, it looks like Bugsnag was triggered and recorded this:

`Products JSON differs from cached version for distributor: 200171, order cycle: 200195`

@RohanM can you give a bit of info about what this means and why it would happen? Could it be a cause of the order cycle not being saved properly?

And might this be related to #983?

[2016-05-06 15:16] pmackay commented on #983
@sstead @mkllnk can you say what OFN version the Canada instance is running? Just to compare with UK related stuff.

[2016-05-06 15:21] NickWeir63 commented on #838
Thanks Paul for the skype chat just now.  This is a log of what we tried for the record.  Basically it seems that the update process is now working correctly - apart from the fact that when we click update and close it doesnt take us back to the "Admin Order Cycles" page where it used to.   But the update is successful (according to Paul's log it takes just a couple of minutes)
The weird thing is

[2016-05-06 15:56] pmackay commented on #517
Discussed with @mkllnk that S3 images config will be defined in admin UI, not install config.

[2016-05-06 15:56] #517 closed

[2016-05-07 06:51] sstead commented on #983
1.6
________________________________
From: Paul Mackay<mailto:notifications@github.com>
Sent: ‎7/‎05/‎2016 1:16 AM
To: openfoodfoundation/openfoodnetwork<mailto:openfoodnetwork@noreply.github.com>
Cc: Sally<mailto:sallystead@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [openfoodfoundation/openfoodnetwork] Cache related bug - Product changes not saving (#983)

@sstead @mkll

[2016-05-07 07:13] NickWeir63 commented on #978
@lin-d-hop this is now the only issue that is preventing @OliverUK going ahead with the Stroudco switchover.  No pressure(!!) but is there anything else that we could try to sort this authorisation thing?......... I just logged in as superadmin and tried making a change to inventory (see screenshot) and it saved successfully.
I wonder if this problem that Oliver and I are having with authorisation

[2016-05-07 07:27] NickWeir63 commented on #978
In superadmin I have now changed Stroud Community Agriculture (one of the producers who needs to be able to reset their stock levels every week) to be able to sell their own produce (changed from 'none' to 'own') and i then set up one of my other email addresses to be manager of Stroud Community Agriculture.  When I log in with this address I can save changes to inventory (see 1st screenshot) but

[2016-05-07 08:55] OliverUK commented on #978
Thanks for investigating further @NickWeir63 .

[2016-05-07 09:11] NickWeir63 commented on #978
@lin-d-hop I have just spoken to Oliver and he is happy to go with this work around and do the Stroudco switchover this weekend so we can fix this authorisation issue later so I am taking the important label off now.  thanks

[2016-05-07 11:03] OliverUK commented on #983
In the UK we reckon there is a delay but changes do come through eventually.

[2016-05-07 11:32] NickWeir63 commented on #983
Sometimes after I have made changes to products it seems to help to log out, close the window and then re-open it before checking the changes have been made in the shopfront.  But maybe as Oliver says this is just about the time delay.

[2016-05-07 13:52] kirstenalarsen opened #984 "this is nick testing that he can see this feedback when he is logged into Bugherd on Lynne's account. Please ignore this"
[https://www.bugherd.com/projects/21919/tasks/1438](https://www.bugherd.com/projects/21919/tasks/1438)

[2016-05-07 14:20] #984 closed

[2016-05-07 14:39] NickWeir63 opened #985 "When shopfront displays multiple property filters please replace '&' with 'OR'"
On the screenshot below I can see products that are produced within 15 miles and I can see products that are certified biodynamic.  However most of these products do not fit BOTH these properties.  It would be great if the message top left could be changed from
Showing: Certified Biodynamic & Produced within 15 miles
to
Showing: Certified Biodynamic **OR** Produced within 15 miles
Ideally with the

[2016-05-08 07:59] blancnic commented on #922
I propose to deactivate the notification email or maybe check to test the shipping mode.

[2016-05-09 07:44] lin-d-hop commented on #985
This is going to take more thought and discussion. Both AND and OR functionality are useful and I suspect users in other places would not want the sudden change.
@myriamboure @oeoeaio @sstead Any thoughts?

[2016-05-09 08:19] testerLynne opened #986 "Testing"
Testing

[2016-05-09 08:20] #986 closed

[2016-05-09 08:22] testerLynne opened #987 "test"
test

[2016-05-09 08:22] #987 closed

[2016-05-09 09:41] daniellemoorhead commented on #938
@mkllnk it's not an option to remove the analytics code. Definitely not.

- We do use Google Analytics, @sstead reports on stuff each month for the OFN au board.
- Not sure what you mean by who is interested in it...?
- See first point
- We're not using it for product development (is that what you mean?), but we will need insights if we get funding to redo the front end experience.

The bigger que

[2016-05-09 10:04] pmackay commented on #938
@daniellemoorhead could you please add a bit more detail about what info from the analytics you use? Is it important to have stats for all the pages accessed?

Am asking because Spree has some capacity for GA built in, which is configurable, but it may only work when shop checkouts are made. How much of a problem would that be?

[2016-05-09 10:11] daniellemoorhead commented on #938
Can't tell you off the top of my head @pmackay and I'm full time elsewhere at the moment. As I said, it's @sstead who's using the stats in her reporting so she could shed some light. Or give you access to the dashboard / send you an exported report.

Have to say, my initial reaction is dread as I don't like the idea of not having access to all the data when/if we need it. It's a foreign concept to

[2016-05-09 11:25] pmackay commented on #838
@NickWeir63 what's the status of this now? Does the "Over Farm" issue need resolving? Should that be a separate issue?

[2016-05-09 11:49] NickWeir63 commented on #838
there is still an issue that when we click update and close it doesnt close and when we click update we dont know when it has updated.  I dont know whether the over farm issue is separate or whether this phantom product is causing this issue.  It looks (from my very uneducated guess) like the bugsnag you listed above might be to do with a dodgy product??

[2016-05-09 12:28] lin-d-hop commented on #838
The bugsnag looks to me like the standard bugsnag triggered when the cache is out of sync.
Not sure what is happening with the dodgy product. I took a quick look but will need to dive a little deeper. I don't think the Over Farm inconsistency is related to the Order cycle updates.

The processing icon #881 is due out in the dot release next week. I say wait for this in order to gain more clarity o

[2016-05-09 15:27] OliverUK commented on #838
I don't think the fact that it doesn't "close" the screen is the only problem now left. I've been unable to save an order cycle today. Having set up a new order cycle I was able to save the name and date changes and even changes to the incoming side but the outgoing part won't save.

[2016-05-09 19:46] lin-d-hop commented on #838
@OliverUK Unfortunately there is no quick fix for this so you will have to bear with us. We understand this is important for Stroudco and we are scheduling the work.
Here are some more work arounds in the mean time:
1) Try making the updates at quiet times when other people aren't using OFN. I understand this may be inconvenient but it will work. Weekends, Early am and late at night should be fine

[2016-05-09 19:56] myriamboure commented on #922
I don't understand @blancnic ... desactivate the notification is not a solution as some hubs need their customer to know that the order has been shipped (for home delivery shipping methods). What do you mean by "check to test the shipping mode?" My solution would be to have a pop-up when you click on "ship" and in the pop up, one question: "do you want to sent a notification message to the buyer?"

[2016-05-09 19:58] myriamboure commented on #951
Can you explain @sstead ? I'm wondering if that won't be a bit messy, and I think that most of the e-commerce website ask that at checkout, so customers are used to it... why do you want this?

[2016-05-09 20:11] myriamboure commented on #955
@sstead arent you afraid that two side menu might be a bit hard to read with the entreprise menu being already vertical? Maybe it's just not visual yet to me ;-)

[2016-05-09 20:27] NickWeir63 commented on #838
I just updated the 21st May order cycle by adding the new products to the outgoing part of the cycle, clicked 'update and close' and although nothing happened, when I then clicked on 'order cycles' at the top I see that the 'Admin order cycles' menu shows this order cycle now has 626 variants (627 less the one phantom product) so appears to have saved successfully.  However when I reopen the 21st

[2016-05-09 20:32] lin-d-hop commented on #838
@Nick, more likely 9:30pm is a slower time for our server traffic and hence you've not had the same trouble. Similarly 9:30pm might be a generally slower web traffic time around Stroud. I think the timing is the most likely aspect. Try making changes at 'off-peak' times as per my previous comment.

[2016-05-09 20:33] NickWeir63 commented on #838
.....another option @OliverUK is that we give Godsells permission to add to order cycle and login on their account to add these new products

[2016-05-09 20:39] myriamboure commented on #961
Yes, would be great :-) And allow the relevant ones to create products (ex: basket of vegetables) Then the notion of "hub" should be clarify (ex: if you use the online shop, you are a hub, a distribution point)

[2016-05-09 20:42] OliverUK commented on #838
@NickWeir63 I reckon the Admin Order Cycles screen takes the 626 figure from the incoming part and that it's no indication whether the outgoing part is saved.
@lin-d-hop I often work on OFN in the mornings and haven't found that order cycles save any more successfully then, unfortunately.

[2016-05-09 21:44] NickWeir63 commented on #838
Yes and I just tried updating it again just now 10.40pm and it still didn't save.  I will do the workaround (giving Godsells permission to add to order cycle) tomorrow morning

[2016-05-10 02:31] oeoeaio commented on #881
https://github.com/oeoeaio/openfoodnetwork/tree/customer-ui-improvements

[2016-05-10 04:39] pmackay commented on #938
@oeoeaio @mkllnk see #988 for a quick fix to this. Would you like it tested on a staging server before merging, to verify it is gathering stats? @lin-d-hop could we put on UK staging? And what chance is there to get into v1.7.1?

[2016-05-10 10:08] NickWeir63 commented on #838
OK I made my nick@stroudco a manager of godsells.  i gave gosells permiossion to add to order cycle, then logged in as nick@strtoudco and added godsells products to the outgoing order cycle.  It updated quickly and now shows as 626/627 products (there is still a phantom product in there) in the outgoing cycle.  The only thing I cant seem to update is the 'pick up/delivery' date which should read '

[2016-05-10 13:42] NickWeir63 commented on #838
i tried editing just the 'pick up/delivery' date to 21st May in superadmin but it wont update.  I guess we could take out some of the suppliers from the incoming order cycle, change the date and update it with fewer suppliers and then add the suppliers back in again using the reduced login fix above....... but that is a bit long winded - is there a quicker way @lin-d-hop @daniellemoorhead ?

[2016-05-10 15:10] OliverUK opened #989 "stock control bug?"
Stroudco supplier Wharf Farm
Product Goat's Milk
Reset stock level set at 30
On hand stock was also set to 30 at the beginning of the OC.
OC report shows 11 units ordered so far.

**Products** screen STILL shows 30 on hand!
**Inventory** shows ZERO and THREE on hand!

AND I CAN'T EVEN MANUALLY MAKE MORE AVAILABLE TO SHOPPERS BECAUSE I STILL CAN'T SAVE THE INVENTORY SCREEN!

![screen shot 2016-05-1

[2016-05-10 15:16] OliverUK commented on #989
I also don't understand what's happening with Fungusloci stock. We started with 10 on hand and 10 reset stock level. No inventory and product screens show ZERO on hand but I can still select up to 9 in the shop front.

![screen shot 2016-05-10 at 16 13 20](https://cloud.githubusercontent.com/assets/17590921/15151759/78a5df52-16ca-11e6-8f07-dcc5d4817a49.png)
![screen shot 2016-05-10 at 16 13 51](ht

[2016-05-10 15:21] OliverUK commented on #989
For Wharf Farm Duck Eggs, however, all looks fine, with all screens including shop front showing the right amount.

[2016-05-10 15:52] OliverUK opened #990 "no quantity up or down buttons showing in internet explorer 11"
While explaining OFN to a supplier today, I noticed no quantity up or down buttons were showing for him in the shop front using Internet Explorer 11. I can see these in Firefox and Safari. I don't have IE but a screenshot through netrenderer.com for IE 11 also doesn't show these buttons.

Don't know if this is a problem or not but wanted to share it just in case.

![fireshot capture 38 - ie netren

[2016-05-10 16:00] OliverUK commented on #989
For our supplier Stroud Community Agriculture the stock reset levels have disappeared but the on hand stock looks right. SCA and Fungusloci may in theory have played with the settings and messed them up but Wharf Farm update their stock through me and don't log in themselves.

[2016-05-10 16:24] NickWeir63 commented on #989
Hi @OliverUK this is what i see for wharf farm and fungusloci when logged in as superadmin.   I will try taking off any inventory overrides
![Uploading Screenshot 2016-05-10 17.21.45.png…]()
![screenshot 2016-05-10 17 24 26](https://cloud.githubusercontent.com/assets/10517702/15154145/18f4d982-16d4-11e6-9bda-92f5cb5f3bd7.png)

[2016-05-10 16:44] NickWeir63 commented on #989
OK wharf farm and funguslci are now set to 'inherit' so should take their settings from your bulk edit products list @OliverUK
![screenshot 2016-05-10 17 40 18](https://cloud.githubusercontent.com/assets/10517702/15154652/91cc1a1c-16d6-11e6-94f5-c3a8406fe784.png)

[2016-05-10 16:46] NickWeir63 commented on #989
stroud community agriculture was set for everything to inherit apart from one variant (5kg potatoes).  @OliverUK do you want me to change this?
![screenshot 2016-05-10 17 44 34](https://cloud.githubusercontent.com/assets/10517702/15154737/089655c2-16d7-11e6-9cdc-0b18c741a115.png)

[2016-05-10 16:54] OliverUK commented on #989
I think so Nick. Please could you do the same for Star Anise until we know what's going on?

[2016-05-10 17:04] NickWeir63 commented on #989
OK Star Anise and SCA products are now all set to inherit

[2016-05-10 20:35] lin-d-hop commented on #938
@pmackay Def feel free to put onto UK staging and have a play!

[2016-05-11 02:48] sstead commented on #955
Hi Myriam, this is Rob's idea which he's scoped out on discourse, here's the link -
http://community.openfoodnetwork.org/t/backend-admin-layout-overhaul/229

[2016-05-11 02:53] sstead commented on #951
Hi Myriam, This was an idea from a designer who was with us some time ago. The logic was that currently customers aren't fully aware of what they're getting themselves into until the last page of checkout (regarding shipping and payment methods). Because hubs have non-traditional shipping methods (such as farmgate pickup, and dropoffs at schools) it is important to make the options clear to the cu

[2016-05-11 04:21] sstead commented on #938
The board asked us for basic analytics, at the moment we just report # of users, length of stay, # of sessions. From speaking to Dani, it seems the main concern is that we'd like to have GA in place in case we want to gather this data, or additional data in the future. @pmackay @daniellemoorhead Here is the link to our dashboard configuration https://analytics.google.com/analytics/web/template?uid

[2016-05-11 04:47] sstead commented on #985
We're not worried about users getting confused by changes to the text. You're right Nick, OR is a more accurate description of what the filter is doing. Note that the & between the Taxons should also be changed to OR... for this scenario...
![image](https://cloud.githubusercontent.com/assets/10843056/15170184/0515c5b2-1787-11e6-8b44-9ae96d7b0c57.png)

[2016-05-11 04:48] daniellemoorhead commented on #938
Heya @sstead - @pmackay has asked for GA access so would be great to set him up with access. I'll send you via slack his email address. Ta!

[2016-05-11 05:05] sstead commented on #938
Paul let me know if you require login, the above might be enough.

[2016-05-11 06:05] sstead commented on #881
The Save Bar is covering the cancel button in the simple OC only...
![image](https://cloud.githubusercontent.com/assets/10843056/15171084/05c5293c-178f-11e6-995d-6d690699dd95.png)

There is an inconsistency in how the buttons behave in the two OCs...
![image](https://cloud.githubusercontent.com/assets/10843056/15171247/5416a470-1790-11e6-92eb-e367e406d081.png)

I think I like the buttons staying r

[2016-05-11 10:30] pmackay commented on #938
@lin-d-hop this is on UK staging now, I can configure a staging specific GA code and see the page views in realtime. So it definitely does basic logging as well as commerce.

Could #991 be merged?

[2016-05-11 10:55] NickWeir63 commented on #838
Thanks Lynne for finding a temporary work around for this.  For the time being @oliver we need to set up the new order cycle a few days in advance of when we need it so that Lynne can find time to adjust the date for us

[2016-05-11 11:16] NickWeir63 opened #992 "UK producers appear to be able to sign up for a free shopfront"
Lots of Stroudco producers are now using OFN - and they mostly love it!!
One problem is that when they go to their dashboard they have an option to change package......
![screenshot 2016-05-11 12 11 49](https://cloud.githubusercontent.com/assets/10517702/15179180/22e70660-1772-11e6-9e61-e203331b3302.png)
......and if they select this option they are told they can have a free shopfront.  How can we

[2016-05-11 11:52] mkllnk commented on #938
:+1: from me.

[2016-05-11 16:02] NickWeir63 commented on #312
I think this bug is what is causing a discrepancy discovered by a Stroudco shopper who ordered 8 of one item and ended up with a 2p (£0.02) disprepancy.  However the discrepancy was not in her favour (whereas the issue Rohan is describing above would be in her favour)
Anyway here is what we see.  The shopper orders 8 x 1 pint goats milk and gets this basket total (note 2p difference between line t

[2016-05-11 16:18] OliverUK commented on #312
@RohanM @NickWeir63

Looks like the line total is calculated using £1.03 x 8 = £8.24. Does it drop the 2 or round down?
The order total uses £1.032 and then rounds up.

We'll continue getting strange results until the sales price has any invisible decimals (like here the 2) removed before further calculations, IMHO.

[2016-05-11 19:11] lin-d-hop commented on #992
The way it works we offer a 6month free trial if producers want to try their own shopfront. Do you agree we should change this to 'Free Trial' in the text? This can come out in the dot release next week.

[2016-05-11 21:42] NickWeir63 commented on #992
yes please

[2016-05-12 01:06] bingxie commented on #881
Very good feedback! I did a little bit change to add back the 'Cancel' button. And keep the update buttons red.
![screen shot 2016-05-12 at 11 05 51 am](https://cloud.githubusercontent.com/assets/1144652/15201184/90ebccda-1831-11e6-8b50-12c036e15179.png)

[2016-05-12 07:34] NickWeir63 commented on #927
Stroudco sent the first live notification emails to producers this morning and have had some negative feedback (see example below).  @OliverUK has had to create a table for each producer and send separate emails.  Can I just check that we will be getting back to the nice emails that @stveep originally designed when we get v.1.7.1?
Thanks
![screenshot 2016-05-12 08 33 38](https://cloud.githubuserco

[2016-05-12 07:56] stveep commented on #927
Can we get the uk/order_cycle_report branch put on UK staging to test? This will introduce a proper e-mail with table similar to Oliver's Stroudco example. Text will also be customisable - through translations for now. We could also have a configuration but would need to implement something in the admin interface to modify the text.

[2016-05-12 12:46] OliverUK commented on #992
Bear in mind we use this for producers who have no way of setting default stock levels other than through the inventory page which in turn you only get with a shopfront.

[2016-05-12 16:23] NickWeir63 commented on #992
Yes we will make sure we don't charge them if they are set up for this reason and are not actually using their shopfront

[2016-05-13 00:03] daniellemoorhead commented on #927
@stveep @NickWeir63 1.7.1 is supposed to go out today. What do you need us to do here in Aus to get this through? Ping @mkllnk and @oeoeaio as they're sorting out 1.7.1.

[2016-05-13 02:24] mkllnk opened #993 "RuntimeError in app/jobs/products_cache_integrity_checker_job.rb:6"
## Error in OpenFoodNetwork

**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**
Products JSON differs from cached version for distributor: 178, order cycle: 199

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=573535363ce85ece7172ac7c)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnet

[2016-05-13 02:26] RohanM commented on #927
I've brought this branch over (uk/order_cycle_report rebased to uk-order-cycle-report) and @sstead has tested, and it all looks ok. It's now included for the 1.7.1 release :)

[2016-05-13 04:46] mkllnk opened #994 "Adding Variants in Bulk Product Edit instantly"
Currently, variants are created together with all the other changes when hitting the save button. That makes the save brittle in case there is something wrong with a variant.

It would be better to create the variant straight away via an API call and then just save changes as usual.

[2016-05-13 04:55] mkllnk opened #995 "Test Database Migrations on the CI server"
It would be good to test all migrations on a new empty database. It would be even better, to test it with some known snapshots as well. That would catch errors before staging and ensure that old migrations still work.

[2016-05-13 04:57] mkllnk opened #996 "Invite user to manage enterprise profile"
This is part of http://community.openfoodnetwork.org/t/useability-of-e2e-link-management/102

[2016-05-13 05:00] mkllnk opened #997 "Gallery view for shop front"
A lot of people would like a shopfront with tiles instead of the list. It would be awesome to support templates for the shopfront. That way people could have their individual shopfronts.

[2016-05-13 05:02] pmackay commented on #997
Is the choice just likely to be grid vs tiles? Or other layouts might be considered?

Are there any other aspects to shopfronts that have been raised before? Featured products at the top, things like that?

[2016-05-13 05:07] mkllnk opened #998 "Payment Management for Enterprise Users"
It would be nice for enterprise users to have an overview of their payments to the OFN host.

[2016-05-13 05:07] sstead opened #999 "Open Street Map tiles not showing in group pages"
![image](https://cloud.githubusercontent.com/assets/10843056/15238546/69442b50-191c-11e6-8f45-b47b992d6791.png)

[2016-05-13 05:15] mkllnk opened #1000 "Social Network features"
As a user, I can "follow" an enterprise or "join" an enterprise. The OFN could then be used to send messages to customers, followers or members. This would open up a whole new world. The OFN would become a social network.

[2016-05-13 05:18] mkllnk opened #1001 "Global Product Search"
Currently, you can only view the products in a shop or filter enterprise by product categories. A search for products is missing. For example: Show me all enterprises that offer bananas. This is needed for #968.

[2016-05-13 05:26] mkllnk opened #1002 "RuntimeError in spree/admin/line_items#create"
## Error in OpenFoodNetwork

**RuntimeError** in **spree/admin/line_items#create**
Zero Quantity Line Item

[View on Bugsnag](https://bugsnag.com/yaycode/openfoodnetwork/errors/5735633906f61908eb490e50?event_id=5735633a5d5ae79270a21cee)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/yaycode/openfoodnetwork/errors/5735633906f61908eb490e50?event_id=5735633a5d5ae79270a21cee)

[2016-05-13 05:33] mkllnk commented on #1002
Editing an order, you can add a line item with zero quantity. It throws this error even though the user doesn't see any error message.

[2016-05-13 05:51] mkllnk opened #1004 "Increasing quantity on Bulk Edit Products"
If you go over the on-hand limit, you get an error message.
Unfortunately, you get the message as well when you try to decrease he quantity again, which makes it impossible to undo the mistake.

[2016-05-13 06:52] RohanM commented on #927
It looks like 1.7.1 won't make it out today. If you need this feature, you can find it on the master branch, and we'll aim to have 1.7.1 out on Wednesday. Sorry for the delay!

[2016-05-13 06:53] stveep commented on #927
Thanks @sstead @RohanM! I wasn't sure if I had handled the tax breakdown correctly, did it look OK?

[2016-05-13 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57357b853cc9c48c43c86b24)

[2016-05-13 07:19] sstead commented on #927
Sorry Steevp, I've just checked the tax element again... looks like something is not quite right...
![image](https://cloud.githubusercontent.com/assets/10843056/15240717/daf4270c-192e-11e6-8994-ae8bb21cabd6.png)

[2016-05-13 07:53] NickWeir63 commented on #927
Thanks for trying to get this into 1.7.1  @stveep has asked me to email him the latest wording of the Stroudco notification.  I will also email it to @daniellemoorhead as I dont have an email address for @mkllnk and @oeoeaio

[2016-05-13 07:59] daniellemoorhead commented on #927
You can't just add the wording on this issue @NickWeir63 ?

[2016-05-13 08:38] OliverUK commented on #927
You guys rock!

[2016-05-14 07:16] myriamboure commented on #955
Ok great, looks cool :-)

[2016-05-14 07:20] lin-d-hop commented on #955
Two thumbs up from me... like this -> :+1: :+1:

[2016-05-14 09:13] #897 closed

[2016-05-14 09:24] lin-d-hop commented on #992
On inspection this was a little more complicated than I first thought. I've added in the bits locally so that we can give a full low down of our pricing structure on this screen... Any feedback on the wording would be useful. Keeping the wording simple with quite complex configuration options wasn't easy and this solution can't get any more complex before it breaks.

![producer_screen](https://clo

[2016-05-15 05:15] MikeiLL commented on #593
I have also come across this bug. Seems like it might be a small fix to either remove the "delete" link or to have the alert box that pops up explain that enterprises cannot currently be deleted. I have created a couple of Enterprises and am also unable to view or edit any information in the Edit page. There are no "owners" set on either of the Enterprises.

[2016-05-15 11:04] mkllnk commented on #997
I only know that people asked for a gallery view. This issue is not in any schedule at the moment. It has been in our offline backlog for a long time. We try to make everything transparent online.

[2016-05-15 22:40] stveep commented on #927
I've added the Stroudco wording. @sstead I found an issue with the tax not being correctly multiplied by the quantity and fixed it...but I'm not sure if it was actually what was causing your problem - could you check again?

I merged current master (incl. the previous PR) into the original uk/order_cycle_report branch and added these fixes there. I will put in an updated PR, or let me know if you

[2016-05-16 14:53] OliverUK commented on #1004
Do you mean when shopping in the shop front?
If I do what you are describing in Firefox 46.0.1 I get the error message and on clicking ok, I get another and then another and so it goes on. BUT, I do also get the option if preventing further messages (a tick box inside the error pop-up. This stops the messages.

[2016-05-17 11:39] NickWeir63 opened #1006 "Suggestions for usability when adding new products in Bulk Edit Products"
These suggestions came from Peter Richardson who has been the Stroudco website manager for 4 years and who also sells plants on Stroudco.....

"Another thought... apart from wishing that my producer name was filled in by default when adding a new product, it would be nice if the system had a default product category for each producer so that mine would have 'plants' pre-selected as a category when

[2016-05-17 12:59] NickWeir63 commented on #992
Thanks @lin-d-hop - this looks perfect

[2016-05-17 23:58] mkllnk commented on #1004
Yes, I observed that as well. But not always.

[2016-05-18 00:36] #881 closed

[2016-05-18 00:59] oeoeaio commented on #933
Inventory page column prefs:
 - columns mismatch with headers

All pages:
 - Check that id is passed into page when saving preferences, so that subsequent save does not raise a PG error

[2016-05-18 01:11] #931 closed

[2016-05-18 01:17] daniellemoorhead commented on #861
Unfortunately this is blocked by the way tax is set up in the system. We're doing some investigation to see whether the Spree upgrade will remove this blocker, otherwise we'll need to redesign how to implement discounts. See http://community.openfoodnetwork.org/t/spree-upgrade-purpose-and-strategy/559 for detail on Spree upgrade by @RohanM.

[2016-05-18 02:08] daniellemoorhead commented on #999
Map now shows as part of 1.7.1, but need to show the open street map logo on the bottom right.

[2016-05-18 02:10] daniellemoorhead opened #1007 "Open Street Map logo not showing on Groups map"
## Description
Open Street Map contributor "logo" not showing on group maps.

## Expected Behavior
As it is displayed on the "map" page
![screenshot from 2018-02-28 16-44-20](https://user-images.githubusercontent.com/8135376/36796958-1ab75c74-1ca7-11e8-82e5-63bb0ee6870d.png)
we should display the Open Street Map contributor logo on the group map.

## Actual Behavior
Open Stree Map contributors log

[2016-05-18 08:33] #926 closed

[2016-05-18 08:39] OliverUK commented on #920
Hi Everyone,
@NickWeir63 @lin-d-hop  @stveep

For the time being, Stroudco is **deregistering from VAT**.

I apologise for any wasted time on your side - bloody users, right?

For this reason we don't need the above feature anymore, at least until such time when we may register again in the future - or unless we are told for whatever obscure reason that the tax man won't let us deregister.

[2016-05-18 15:55] OliverUK opened #1008 "Should product searches only search for whole words?"
If I search for "tea" on the Stroudco shop front, I also get steaks! And because coffees are also in the same category of "tea & coffee" I also get coffees.

Should searches only match whole words?
Should whole categories be listed if they match a search phrase?

[2016-05-19 07:42] Rocksj opened #1009 "Producer email contains products for a cancelled order"
I placed an order for some biscuits last week as a demo to someone visiting and then cancelled the order. I then clicked on Notify Producers and received the following email:

Dear Tamar Valley Food Hub,

We now have all the consumer orders for the next food drop.
Orders summary

Here is a summary of the orders for your products:

- Tamar Valley Food Hub - Biscuits - Shortbread - 200g (QTY: 1) @ £

[2016-05-19 16:48] NickWeir63 opened #1010 "Remove unresponsive 'save changes' button from 'bulk edit products'"
From: Peter Richardson
Sent: 18 May 2016 11:37
To: Nick Weir
Subject: bulk edit products screen - further feedback

Hi Nick,

I've just used the bulk edit products screen again.  There is a 'save changes' button at the top and another at the bottom - I only saw and used the one at the bottom before. The one at the top behaves usefully, telling you when it has saved changes - it's only the one at t

[2016-05-20 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=573e7dc7533e1ea31e9bde57)

[2016-05-20 05:08] daniellemoorhead commented on #927
Hi all, from what I can see this issue can be closed now given that #908 and #936 and #1005 PRs have been merged. @stveep is there anything left for this issue?

[2016-05-20 05:13] mkllnk commented on #800
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/update_billable_periods.rb:102**](https://bugsnag.com/yaycode/openfoodnetwork/errors/564ea01015766f1ee3dff77a?event_id=573e9d136274498b0ddbdaf4)

[2016-05-20 05:21] daniellemoorhead commented on #742
@mklink are you able to check whether there is anything we need to do for this security update? Seems to me a key date is mid June and then mid Sept, but I may be completely wrong and you'll be able to answer that question better than I can :)

[2016-05-20 05:44] #999 closed

[2016-05-21 08:58] stveep commented on #927
All done I think!

[2016-05-21 08:58] #927 closed

[2016-05-21 09:17] stveep commented on #920
The producer notification emails now have tax (amount but not category) included. It shouldn't be too hard to add them to this email as well. As far as I can see these emails come straight from native Spree, so if you don't need tax in these now I suggest waiting for the Spree upgrade, as this should improve the emails (a bit - at least they will no longer be plain text) and provide a better start

[2016-05-21 13:44] lin-d-hop commented on #814
Merged.

[2016-05-21 13:44] #814 closed

[2016-05-21 17:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57409420d918fc4453104774)

[2016-05-22 03:49] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57412c2f5478e2996fe3a4bc)

[2016-05-23 01:20] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=57425ae336466cd26eb4a8c6)

[2016-05-23 09:19] NickWeir63 opened #1013 "Shopfront won't load on iPad"
One of our Stroudco shoppers can't open the OFN shopfront on her iPad.  She is using Safari and says that it keeps trying to load but failing.  Do you need more information from her?

[2016-05-23 09:30] pmackay commented on #1013
It would be useful to know what version of iPad and what software version (go to Settings > General > About and note Version value).

My iPad often crashes and reloads large web pages these days. Pretty sure the Stroudco shop front will classify as a large web page...

If my recent PR re analytics can be merged, we can start to track them for the site and see how many people are using iPads, etc..

[2016-05-23 14:50] NickWeir63 commented on #1013
Thanks @pmackay .   I asked those questions and got this response:
**iPad is 5 years old don't know what version

Software Version 8.4.1**

[2016-05-23 15:33] pmackay commented on #1013
Its quite an old device, so need to decide if this is important to solve. I suspect with the approach of loading the whole store on 1 page it will not be possible to reliably get it working on all old devices like this.

[2016-05-24 08:15] pmackay commented on #1013
Loaded slowly but OK on an iPad mini (2012 model) with iOS 9.3.1.

[2016-05-24 11:03] NickWeir63 commented on #989
Thanks @stveep for taking this on.  Let me know if you need more info

[2016-05-24 16:06] NickWeir63 opened #1015 "UK staging down"
i get grumpy cat when I go to https://staging.openfoodnetwork.org.uk/

[2016-05-24 16:13] pmackay commented on #1015
I can see `ActiveRecord::RecordNotUnique (PG::Error: ERROR:  duplicate key value violates unique constraint "sessions_pkey"
DETAIL:  Key (id)=(52585) already exists.` in the log.

@lin-d-hop have you updated anything recently?

[2016-05-24 16:15] pmackay commented on #1013
@NickWeir63 is this ok to close for now?

[2016-05-24 16:43] NickWeir63 commented on #1013
I think we were going to leave it open for the Aussies to put in their test results on other iPads so that we have a record of what works and what doesnt before we close it.  I will make a note to close it in a few days if that is OK

[2016-05-24 22:33] lin-d-hop commented on #1015
I'm getting through fine. Is it still down for you @NickWeir63?

[2016-05-25 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57451546bb428b554b088b06)

[2016-05-25 04:48] sstead commented on #777
Fixed - i now get a message and QTY reverts to max on hand value.
![image](https://cloud.githubusercontent.com/assets/10843056/15528489/bcbb578a-2287-11e6-8fca-643730ec8b57.png)

[2016-05-25 04:48] #777 closed

[2016-05-25 05:03] #938 closed

[2016-05-25 06:53] sstead commented on #898
Testing Notes:
It seems the presence of a payment method with a fee attached is causing some checkout issues, depending on the fee calculator that's applied...
- Flat Percent - get 'server went down' grumpy cat when i try to checkout
- Flat Rate (per order) - Works correctly.
- Flexible Rate - get 'server went down' grumpy cat when i try to checkout
- Flat Rate (per item) - The payment fee looks r

[2016-05-25 07:12] NickWeir63 commented on #1015
all fine now thanks

[2016-05-25 07:12] #1015 closed

[2016-05-25 09:00] lin-d-hop commented on #992
PR #1016

[2016-05-25 09:41] lin-d-hop commented on #978
@OliverUK @NickWeir63
My understanding of the Inventory Page is that it is intended as a way for SHOPFRONTs to manage their stock as separate from Producers.

A producer can manage their stock levels from the Product page directly. This is the master stock levels, when done at the producer level. You can do this in the variants tab when editing a product.

The point of the inventory is in case any

[2016-05-25 09:49] OliverUK commented on #978
Hi Lynne,

It DOES make sense in terms of what inventory is meant for. But what we are saying above is that we aren't able to save even our own inventory page, even though we have a shopfront.

When we tried to give producers access to the reset stock level functionality we gave them shopfronts to allow them to see the inventory page.
So there are two separate issues:

- The error message that pre

[2016-05-25 10:03] lin-d-hop commented on #979
@NickWeir63 @OliverUK
Producers can change their stock levels, but only as On Hand and On Demand levels. Reseting stock levels can currently only be done through an inventory which isn't available to users without a shopfront.

I can see the need to producers wanting to be able to change their stock levels in the Stroudco order cycle. The solution sounds like it might be that producers need a list

[2016-05-25 10:16] lin-d-hop commented on #978
Hi @OliverUK
Thanks, no it is much clearer.
I will take a look at the auth error.

Regarding the reset stock being in the wrong place... reset stock is an attribute on an order cycle. A products properties propagate to every hub they supply, however the reset stock variable is designed to be specific to a hub. This will become a separate issue on improvements to stock reset... I'll be in touch to

[2016-05-26 08:58] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5746ba9f53ba10366d3f390e)

[2016-05-27 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57479c24e88f70c12d6a4f19)

[2016-05-27 02:37] mkllnk commented on #742
The main thing is to check Paypal's sandbox gateway and see that it's working. @RohanM Didn't you do that at some point?

I also just tested the encryption of the web server with: https://www.ssllabs.com/ssltest/analyze.html
The rating is not so good. We should probably tweak our selection of encryption algorithms to be safe. I'm not sure if that has to be considered in the deployment project as w

[2016-05-27 03:17] sstead commented on #898
Testing notes
- All fee calculators are now working.
- The fee is showing in the correct places in checkout and order confirmation.
- If the fee is a % fee, it doesn't calculate including shipping or enterprise fees.
- If the fee is a % fee it will calculate based on the price of the produce, regardless of whether this price includes GST or if it's a GST free item.
- No tax seems to be included in

[2016-05-27 04:37] oeoeaio commented on #1013
Hi all,

At present we haven't got thorough testing on a wide array of devices as a part of our pipeline. I realise this would be ideal but at present its a matter of not really having the resources, which I'm sure you can appreciate.

The shopfront was very thoroughly tested on lots of devices at the time that is was built, and it is my understanding that it was working on all but the oldest devi

[2016-05-27 04:42] daniellemoorhead commented on #1013
@NickWeir63 let me know if Rob's response above is enough information for you to deal with responding to the shopper. I would assume that the older iPad she has doesn't have enough memory left to download all the products into the shop, if as Rob says memory was the issue they encountered when testing version 1.0 responsive design last May. Suggestions would be for her to try and free up some memo

[2016-05-27 05:41] daniellemoorhead commented on #1007
Will come back to this once changes to the groups design that come out of the Thrive work have been determined.

[2016-05-27 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5747f085bece004554d2920c)

[2016-05-27 07:57] #935 closed

[2016-05-27 07:57] #898 closed

[2016-05-27 07:58] #939 closed

[2016-05-27 07:58] #932 closed

[2016-05-27 07:58] #933 closed

[2016-05-27 15:32] NickWeir63 commented on #1013
Thanks everyone.   I have sent the email below to the shopper and will close this now.

From: Nick Weir [mailto:nick@nickweir.co.uk]
Sent: 27 May 2016 16:21
To: 'Caroline Denny'
Cc: manager@stroudco.org.uk
Subject: RE: Using Open Food Network on your iPad

Dear Caroline

The developers have looked into what is happening here and have tracked down a similar iPad to yours to use for testing.  Basica

[2016-05-27 15:32] #1013 closed

[2016-05-27 17:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=57487d112490bffb09932ea9)

[2016-05-28 11:20] stveep commented on #989
Hi @OliverUK

In the case of Fungusloci, it seems you are looking at the Inventory for the Fungusloci shop (which I can see is closed with no active order cycles from the shops page of the frontend), while Nick's screenshot is looking at Fungusloci products in the Stroudco shop. Stock levels set on the inventory page are specific to the shop that is selected, so to modify the shopfront stock level

[2016-05-28 14:40] pmackay commented on #704
@daniellemoorhead given recent discussion on #1013, could this be checked/closed as well?

[2016-05-28 15:35] OliverUK commented on #989
Hello Steve, thanks for looking into this. Obviously some time has passed and I can't remember everything I did at the time but I can't see how I would have set the Wharf Farm stock in the wrong place (products) because only the inventory page has the reset levels. So by definition I would have been there.
I do think the stock reset function is in the wrong place. If a producer can only make a cer

[2016-05-28 20:09] stveep commented on #989
I believe that the reset stock function can only be used by the hub co-ordinator. This was the original idea for it:
http://community.openfoodnetwork.org/t/inventory-reset/83

Giving a producer their own shop won't let them reset stock for the Stroudco shop as far as I know - any default levels that they set will only apply to the producer's own shop inventory (as I think is happening with your mu

[2016-05-28 21:05] OliverUK commented on #989
It does make sense and I'm clear now that producers cannot change the reset level that we apply at hub level, although that's not how this thread started in any case. But you are right that we tried giving them shop fronts in order to allow them to set the default stock level available to the hub.

I'm still not sure if the confusion that started this thread isn't a bug. I can't get my head round

[2016-05-28 21:07] OliverUK commented on #989
@NickWeir63  I've changed suppliers from "shop" back to "profile" for all but SCA, where I'm no longer the enterprise owner and therefore can't change it. Could you do this?

[2016-05-29 10:00] NickWeir63 commented on #989
@OliverUK I have changed SCA 'SELLS' from 'OWN' to 'NONE' (see below) and made Oliver@GMX the owner.
![screenshot 2016-05-29 10 59 13](https://cloud.githubusercontent.com/assets/10517702/15632525/93b2049e-258c-11e6-84de-e7af78534dc3.png)

[2016-05-30 00:02] #704 closed

[2016-05-30 14:31] lin-d-hop commented on #980
About to link to Au page, Au contacts to specificy UK contact.
Newsletter to UK mailchimp.
News still to global for now.
Twitter -> UK
Facebook, waiting.

Check links from User Guide

[2016-05-30 20:39] pmackay commented on #559
@oeoeaio if you're updating Angular currently, would it resolve this?

[2016-05-30 20:44] pmackay commented on #635
Now on Ruby 2 and Rohan working on Spree upgrade. Closing as this is general and its being handled elsewhere.

[2016-05-30 20:44] #635 closed

[2016-05-30 20:47] pmackay commented on #771
@blancnic is this a fix that could be merged back and closed?

[2016-05-30 20:52] pmackay commented on #869
@mkllnk if you decided not to do this before, is it best just to close this then? For me it was about making it quick and simple to get a new environment going. Appreciate the points about new users.

[2016-05-30 21:02] lin-d-hop commented on #978
@NickWeir63 @OliverUK
I think I've solved this. The issue seemed to be caused by some corrupt data in the Variant Override table. There were two entries in the Variant Override table that Stroudco did not have permission to manage stopping future updates from completing.
I don't know how this happened. When did this issue start occurring? If since the beginning of time it might have been related t

[2016-05-30 23:32] oeoeaio commented on #559
Yep, it's done. Went through in 1.8

[2016-05-30 23:32] #559 closed

[2016-05-31 07:24] myriamboure opened #1019 "formatting"

[2016-05-31 07:25] #1019 closed

[2016-05-31 07:28] myriamboure opened #1020 "Enable formatting in product description"
Continuing from https://github.com/openfoodfoundation/openfoodnetwork/issues/953

A request has come from our users to be able to format product description (basic: bold, list, go to the next line, etc.)
Today it's not very user friendly...

![image](https://cloud.githubusercontent.com/assets/8135376/15666602/ece57f60-2711-11e6-8b5b-89d84f5aa890.png)

[2016-05-31 07:29] myriamboure commented on #1020
Why not using styling with markdown for example? Like it's done in github :-)

[2016-05-31 08:56] OliverUK commented on #978
@lin-d-hop
Lynne, yes, I can now save the inventory again, thanks you!
I reckon it started with the implementation of 1.7 but may be wrong.

[2016-05-31 08:56] #978 closed

[2016-05-31 08:58] OliverUK commented on #989
@stveep  I can now save changes to the inventory again and will test more in the coming weeks.

[2016-05-31 09:18] mkllnk commented on #869
Bing joined our team recently and he had no big trouble getting the OFN running on his machine. The only confusion was about the right node-js dependencies to run the karma specs. But we improved that. So I think we can close this.

[2016-05-31 09:24] #869 closed

[2016-06-01 01:38] sstead commented on #950
@oeoeaio can you just check whether or not this is an issue in your eyes.... ![image](https://cloud.githubusercontent.com/assets/10843056/15695582/f0820474-27eb-11e6-95fc-e246c1c1cfec.png)

![image](https://cloud.githubusercontent.com/assets/10843056/15695650/a3b47126-27ec-11e6-9318-119d836e3779.png)

![image](https://cloud.githubusercontent.com/assets/10843056/15695693/2df112a4-27ed-11e6-839f-25c

[2016-06-01 01:42] #889 closed

[2016-06-01 01:42] #890 closed

[2016-06-01 01:42] #888 closed

[2016-06-01 01:42] #893 closed

[2016-06-01 01:42] #892 closed

[2016-06-01 01:42] #894 closed

[2016-06-01 01:42] #884 closed

[2016-06-01 01:42] #885 closed

[2016-06-01 01:42] #887 closed

[2016-06-01 01:42] #891 closed

[2016-06-01 01:43] bingxie commented on #577
![snip20160601_1](https://cloud.githubusercontent.com/assets/1144652/15695762/f8049c14-27ed-11e6-93db-fd03131d5a64.png)
![snip20160601_2](https://cloud.githubusercontent.com/assets/1144652/15695761/f803a16a-27ed-11e6-897f-933ba9b6cb56.png)

[2016-06-01 01:52] oeoeaio commented on #950
@bingxie do you think you could have a look at the second issue Sally found. I will I fix the first and third issues.

If you can't find and easy way to do it, don't worry about it. It isn't a big deal.

[2016-06-01 02:00] bingxie commented on #950
@oeoeaio I knew the second issue, for this form part of them are not ng-model, so we use the form onchange event to watch the dirty status. But this event is not triggered by the change on the text input until user click another place of the page. So I can not find an easy way to fix it.
Thanks for fixing the other two issues.

[2016-06-01 02:08] mkllnk commented on #946
This issue is evaluating #833.

- [ ] Create an initial overview and estimates (1)
- [ ] Change the user model to have confirmable email addresses (2)
- [ ] Change user registration process to prompt for email validation (4)
- [ ] Change enterprise user registration to prompt for email validation (3)
- [ ] Change Discourse login to check for confirmed user email address (2)
- [ ] Replace `enterpri

[2016-06-01 02:34] bingxie opened #1022 "Google Maps API warning: NoApiKeys"
So we need a place to let users set their google map api key.

[2016-06-01 06:32] sstead commented on #946
Yes, i think so. I don't think a user who has >1 enterprise permission needs to validate every enterprise they create anymore. Also with the new 'contact only' email field, there's not the problem of disengaged OFN users needing to confirm an email just for it to show on a profile. These were the main reasons why we once wanted to be able to manually verify emails. I think the plan above, of requi

[2016-06-01 08:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=574e9618b49d95a644ef0f64)

[2016-06-01 10:11] pmackay commented on #1022
You mean so each instance has its own API key?

Would this make sense as an application.yml level config?

[2016-06-01 10:21] pmackay opened #1023 "Improve basic page request speed"
Testing with siege, any page makes these requests:

[code]

Obviously after that there is typically Angular API calls. Couple of quick thoughts:
- Could the loading of Google Maps JS be configured only to occur on the maps page?
- Does the footer need two OFN logos?
- Could the `og:graph` image be made the same as the page logo? Currently its much larger which is not ideal anyway.
- Is there anyth

[2016-06-02 09:11] lin-d-hop opened #1025 "Configurable 'From' Address for email communication from Enterprises"
Currently sends from instance address, which is not very useful for the producers replying or the instance coordination.

Enabling emails to be sent 'from' a different email address needs to be instance configurable as some instances may be using SMTP servers that overwrite the 'from' address.
- Add checkbox in Mail Methods panel in super admin configuration enabling Enterprise communication to be

[2016-06-02 13:52] pmackay commented on #921
What's the rationale for this, out of interest?

I'm slightly wary of lowercase "l" being rather unclear.

Some points of reference:

[This page](https://www.gov.uk/guidance/packaged-goods-weights-and-measures-regulations) seems to use lowercase but with a space in front.

Ocado, Tesco, Sainsburys, Morrisons all use uppercase L.
Riverford use lowercase but their font makes it pretty clear.
Able an

[2016-06-02 20:53] stveep commented on #921
L is the S.I. unit :) but lower case is usually used for ml, cl etc. on drinks packaging, and even by us scientists! I guess the preference to use L or write litre in full is so that 2l is not confused with 21, for example.

Anyway, i think this would be best handled in i18n via t or l to accommodate local styles.

[2016-06-03 03:16] bingxie commented on #950
@sstead I just deployed this PR to staging2, if you have time could you please check the issue 1 & 3.

[2016-06-03 04:09] sstead commented on #950
Hi @bingxie issues 1 and 3 are fixed :) thanks!

[2016-06-03 08:58] lin-d-hop opened #1026 "Order cycle report OC filter not working"
Reported by @OliverUK
"I chose the "4th June" order cycle and assumed the report would give me data for the entire order cycle but it was in fact only part of the data because the "start" date at the top was still on 1st June (to which it seems to have defaulted). So I got data for the OC I chose but only for orders from 1st June onwards. I set the date back to 1st May and tried again and this tim

[2016-06-03 09:29] OliverUK commented on #921
My reason is poorly aesthetical. You don't normally find grams abbreviated as G (100g /vs 100G) or centimeters as CM (nor cM or Cm) so L looks wrong and inconsistent.

[2016-06-03 13:31] OliverUK commented on #979
@NickWeir63 @lin-d-hop
Nick, ok to close this?
We know now that producers can't reset stock in the Stroudco inventory and that they can only set stock in "products", which doesn't have the reset function.

[2016-06-03 13:44] OliverUK commented on #838
@NickWeir63 @lin-d-hop
I've been trying to save the outgoing order cycle with no luck again today. Nick could you "select all" in the outgoing cycle and see if you have any more luck? Our work around for other producers is still ok, where we log in as someone who only has a small number of items under his management and who is allowed to add to our OC. But as I'm changing products for producer Str

[2016-06-03 14:15] lin-d-hop commented on #979
The question is is this useful functionality?
I can see that it would be useful for a producer to be able to set the level of stock available for different producers OCs but feel that it would be quite a large amount of work for quite a small gain.

If we are happy to roll with not having it then close.
If it is a future desired enhancement then change the title and description to more closely des

[2016-06-03 14:21] NickWeir63 commented on #979
Looking to the future I can imagine that Stroudco producers might be selling through multiple hubs/shopfronts so it would be useful to have this functionality.  But I also take Lynne's point about the cost of development time to make this happen.
I think we rename it and move it to icebox for when OFN has loads of money and hoards of developers looking for something to do!!!!
What do you reckon @O

[2016-06-03 14:24] lin-d-hop commented on #838
Nope, I can't risk adding products in this way. The data has too many dependancies. Sorry @OliverUK

As you can see from http://community.openfoodnetwork.org/t/order-cycles-2-0-schedules/575/5 its rather complex to come up with a good long term solution. So we'll be waiting for a little while. But we do need to look at scheduling this work if we can finance it ok.

Temp workaround... add these pro

[2016-06-03 14:32] NickWeir63 commented on #838
I selected all on the outgoing then update.  the 'SAVING....' message came up for ages but it has not saved.

What about Lynne's idea of making a separate email address the manager of just the Stroudco products - or have you tried this already?

[2016-06-03 14:45] OliverUK commented on #979
OK, icebox it then.

[2016-06-03 14:46] lin-d-hop commented on #838
A whole separate enterprise... like all the ones that do work. Even if it is just for new products while we can't actually save the OC.

[2016-06-03 14:48] OliverUK commented on #838
Yes, it would have to be a separate enterprise, so I don't get all the 600+ products. It guess that'll have to be the way forward for now.

[2016-06-03 15:03] lin-d-hop commented on #838
You will have to add that enterprise to the outgoing order cycle.

Perhaps another workaround required... are there any other enterprises that could adopt products?

[2016-06-03 15:07] OliverUK commented on #838
Let me try. I think if I add it to incoming first, which usually does save, then I may be able to add to outgoing from the separate account.

[2016-06-03 15:26] OliverUK commented on #838
OK, I created an enterprise (Essential Trading) and put the Essential items in it. I was able to add the enterprise to incoming and then switch user and add the items to outgoing.

[2016-06-03 15:27] OliverUK commented on #838
@lin-d-hop while I have your attention, I'd be grateful to have the "ready for" date for my latest OC fixed again. There is a new OC called 18th June.

[2016-06-04 07:48] pmackay opened #1027 "sitemap.xml is empty"
ComfortableMexicanSofa is generating a `sitemap.xml` but its empty (presumably because in UK, CMS is not being used for anything, is it being used in Aus?).

It would be beneficial for SEO if OFN had a sitemap that contained links to all the basic pages and shops.

@oeoeaio @mkllnk have you considered this before?

cc @lin-d-hop

[2016-06-04 09:36] lin-d-hop commented on #1025
Hi @RohanM @stveep

Just a quick one...

We are getting some people replying to the OC notification emails to hello@open.....uk
Looking into this although the 'reply to' email is set to the coordinators email the 'from' email is still the instance.
[code]
It seems not all mail clients respect the 'reply_to' and use the 'from' instead.

I was just wondering if there was a reason it was implemented

[2016-06-04 10:01] mkllnk commented on #1027
No. I never came across that.

[2016-06-05 00:31] daniellemoorhead commented on #1025
@oeoeaio any thoughts on this?

[2016-06-05 00:32] daniellemoorhead commented on #1027
We'll chat about this during the week when we're in the office @pmackay and let you know.

[2016-06-06 06:56] myriamboure commented on #928
Ok, we had another discussion with our core beta testeur and this is a priority point. @blancnic do you think it's possible for you to work on that? See the discussion on Discourse.

[2016-06-06 07:01] myriamboure commented on #853
Ok this seems to be a high priority issue for France. @mkllnk do you know if the Spree Upgrade would solve that? Else @blancnic do you think, with some guidance and advices you could work on it? Maybe @elf-pavlik you have some idea on this internationalisation issue?

[2016-06-06 07:18] myriamboure opened #1028 "Enable bulk email to customers / tagged customers when a new OC is launched"
For a buying group for example with OC every week would be great that an email is sent each week when the OC opens, with the link to the shop and the closing date in the email.

Is there anything going on already in that direction @daniellemoorhead ?

[2016-06-06 08:07] daniellemoorhead commented on #1028
Nothing in our pipeline of work around bulk emails @myriamboure.

[2016-06-06 12:10] lin-d-hop commented on #1026
Hi @OliverUK
On looking into this I understand your meaning. I now feel that I opened this as a bug incorrectly.
I think it might be an important function to be able to search for orders of specific dates within the order cycle. Introducing the functionality as you describe would also create confusion. It makes sense in a Stroudco setting but not for many other ways of using OFN.

- Perhaps we nee

[2016-06-06 15:32] OliverUK commented on #1026
Fair enough, it may well be working as intended but I agree it would be good to make users more aware of it. When you choose an order cycle, it shows you the date range of that cycle. It seems to me natural for users to assume this overrides the start date further up.

Defaulting the start date to the first day of the previous month would make it much less likely, in my opinion, for there to be mi

[2016-06-06 20:37] elf-pavlik commented on #717
We had chat with @nanoharsha on slack that they may need to allow switching languages on the same instance for their India deployment. Maybe we can close this issue and start new one to discuss how this would work?

[2016-06-07 06:50] myriamboure commented on #717
@elf-pavlik @nanoharsha see the first comments on that here: http://community.openfoodnetwork.org/t/internationalisation-project-notes/312/104?u=myriamboure

[2016-06-07 11:09] mkllnk commented on #853
I don't know if the Spree upgrade would solve that. It could be in our code as well. It needs someone to investigate what the issue is and how to solve it.

[2016-06-07 14:17] blancnic commented on #853
@mkllnk : maybe we can use a simple javascript who moves , into . before submit when user add a price

[2016-06-07 23:35] mkllnk commented on #853
I think it needs to be a bit more clever. For example:
[code]

It would be worth looking for an already existing algorithm. Otherwise it would be about splitting the number into parts at each separator and then assess which separators are there and if the last part of the number has two or less digits (cents) or if it has three or more digits (thousands). If there are two types of separators or ju

[2016-06-08 02:24] daniellemoorhead commented on #577
Hey @bingxie have you put this into staging for @sstead to test?

[2016-06-08 02:25] daniellemoorhead commented on #742
Hey @mkllnk have you sorted this out, ready to close the issue?

[2016-06-08 02:25] daniellemoorhead commented on #950
Hey there @bingxie, where are we at in fixing issue 2?

[2016-06-08 02:35] daniellemoorhead commented on #1023
@oeoeaio @mkllnk @bingxie @RohanM any thoughts on the above?

[2016-06-08 02:40] daniellemoorhead commented on #1025
Hey @kirstenalarsen are you able to shed some light on the above? Can @lin-d-hop change the from address to be the coordinator as well?

[2016-06-08 03:03] mkllnk commented on #742
Just did the last little bit today.

[2016-06-08 03:03] #742 closed

[2016-06-08 03:50] mkllnk commented on #1023
Yes. That would be good. That would be /map and also on groups pages.

Do you mean /assets/logo-white-notext.png? Ideally, that would be an SVG stored in the icon font. What do you think?

There was no page logo by default in the past. Now there is, so we could use that one.

Maybe look for old unused code. But it is pre-compiled already. I don't think there is much we can do. More and more of the

[2016-06-08 03:58] oeoeaio commented on #1025
I don't have any particular concerns with this change. Sounds good to me?

[2016-06-08 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5757a661fad2cf85537a9e4a)

[2016-06-08 06:55] pmackay commented on #1027
@mkllnk what do you think about disabling the CMS sitemap generation and adding a controller to create one? I could look at that if you agree.

[2016-06-08 06:56] pmackay commented on #1023
@mkllnk what is defined in the icon font already? How do you configure it?

[2016-06-08 07:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5757c282903f04e836d1c87e)

[2016-06-08 07:13] mkllnk commented on #1027
Sounds good. @RohanM would know if the CMS is used at all. Maybe to store some content of the site. But we should have our own sitemap. That would be great.

[2016-06-08 07:22] mkllnk commented on #1023
Well, there are a lot of symbols like the little farmer truck and the warning sign and so on. The font was compiled by Laura who left the project last year. She used icomoon.io to generate the fonts. We have the file you need to upload to icomoon to edit the current font.
https://gist.github.com/mkllnk/5acd096b7d0da97830012068db7f9b56

If you would just upload a font file, it doesn't know about li

[2016-06-08 12:36] blancnic commented on #853
I think we shoud use a jquery plugin like this :http://jquerypriceformat.com/
After, we can customize it for locale instances

[2016-06-08 13:16] bingxie commented on #950
@daniellemoorhead  I reckon we won't fix it for now.

[2016-06-08 13:26] bingxie commented on #577
Need someone to review the PR, if there is no comments, @sstead can stage it and have a test. Thanks

[2016-06-08 17:31] NickWeir63 opened #1030 "customer cannot permanently update his postal address when placing an order"
We had this feedback from a Stroudco shopper who has recently moved house:
"every week I correct the address given for me on the Check Out page.  Every week the old address re-appears".
I tested changing the home address on an order on my own account and it saved the change correctly for the next time i put an order in.
So I then reset the password on the shopper's account and tried changing his a

[2016-06-08 18:56] NickWeir63 opened #1031 "basket doesn't save on logout"
Stroudco shoppers want to be able to leave items in their basket that are not lost when they log out so they can add items during the week and then review and confirm them just before the OC closes

[2016-06-09 07:35] #989 closed

[2016-06-09 12:44] MagsHall opened #1032 "Wrong user fees on Enterprise bulk edit page"
On UK Production - When logged in as an admin, and using the Enterprise bulk edit page, if you click on the drop downs in the 'Package' column it gives the monthly user fees as 1% of monthly fees. This needs updating to 2%?
![1 sales figures](https://cloud.githubusercontent.com/assets/19837861/15929962/2fdea44e-2e48-11e6-95e6-6a6a11349293.png)

[2016-06-09 13:08] lin-d-hop commented on #1032
Hi Mags,

This is a super admin task (though it should not have been incorrect). You can fix it yourself in Admin - Configuration - Business Model - Percentage of Turnover.

[2016-06-09 13:08] #1032 closed

[2016-06-09 13:15] MagsHall commented on #1032
That's set correctly to 2% already I'm afraid!

[2016-06-09 13:20] lin-d-hop commented on #1032
Yep. I fixed it. Fixed in the profile too. Was just letting yo uknow for future that this wasnt a bug for github.

![ofnmags](https://cloud.githubusercontent.com/assets/8669848/15930935/4fa3450a-2e4d-11e6-9766-c5b400891ec6.png)

[2016-06-12 19:36] NickWeir63 opened #1034 "Cancelled orders are included in 'Notify producer' process"
I created and then immediately cancelled these two orders...
![screenshot 2016-06-12 20 33 59](https://cloud.githubusercontent.com/assets/10517702/15993406/1a6c99c6-30dd-11e6-86e8-0717f8cd9ecc.png)
......but they were then included in the automatic orders to producers that went out the following day...

From: hello@openfoodnetwork.org.uk [mailto:hello@openfoodnetwork.org.uk]
Sent: 09 June 2016 07:

[2016-06-12 19:43] NickWeir63 commented on #1013
One of our potential users (Good Food Oxford) has found that she can't open the Stroudco shopfront on her Samsung S4.  She is hoping to use OFN in a poor area of Oxford where people will be using older hardware and is concerned about the high requirements of OFN.  Her email is sk@syfi.freeserve.co.uk

[2016-06-12 20:44] stveep commented on #1034
Are we running 1.8.1 on UK now? I thought I fixed this when Sara raised a similar issue a few weeks ago, and the fix should be in 1.8.1.

https://github.com/openfoodfoundation/openfoodnetwork/issues/1009
https://github.com/openfoodfoundation/openfoodnetwork/pull/1011

[2016-06-12 20:56] lin-d-hop commented on #1034
Not yet, issues with deployment after moving the hosting. Deploying asap, staging deployed so can text on there?

[2016-06-12 21:03] #1009 closed

[2016-06-13 08:48] daniellemoorhead opened #1035 "All enterprises loaded into the shopfront on every page load"
As discussed in UK Hangout, Rob has been looking at front-end performance in response to [Lynne's post](http://community.openfoodnetwork.org/t/improving-shopfront-load-speed-for-slow-clients/576) on discourse.

He has found that enterprise are being serialised and loaded into all checkout (shopfront, cart, checkout, order confirmation) pages, which means a 2.5-3.5 second hit on each of these pages

[2016-06-13 08:50] daniellemoorhead commented on #1035
@rob to run @mkllnk through his thinking on this.

[2016-06-13 09:33] NickWeir63 commented on #1035
Thanks @daniellemoorhead and @rob it would make a big difference to the saleability of OFN in the UK if we could improve the load speed.
Thank you for trying!

[2016-06-13 12:09] NickWeir63 commented on #1034
I went to staging and found that all the order cycles had been wiped (not a big problem - I have recreated a test cycle but it does mean that we are still losing data on a deploy)
I created and then cancelled an order then pressed 'Notify producers' and the producer did not receive an email.  So closing this now
Thanks @stveep (sorry i forgot that you were working on this)

[2016-06-13 12:09] #1034 closed

[2016-06-13 13:38] pmackay commented on #1035
@daniellemoorhead am wondering if you mean @oeoeaio above?

Also has there been previous discussion about enterprises all having permanent links? Do we need to maintain the modals at all? Permanent pages would have a bunch of benefits. Would it make sense to refactor to achieve that rather than changing so modals load on demand?

[2016-06-14 13:32] NickWeir63 opened #1036 "do not display empty categories"
The stroudco shopfront is displaying 28 product categories (taxons)..........
![screenshot 2016-06-14 14 16 45](https://cloud.githubusercontent.com/assets/10517702/16044479/8011aebe-323c-11e6-8a17-17d256fda2cd.png)
.......... even though most of them are not being used by Stroudco.
Please can we only display categories that this shopfront is actually using so that shoppers do not click on a catego

[2016-06-14 23:18] mkllnk commented on #1035
@pmackay I agree that it would be great to have individual pages for enterprises. That is something that has been requested a lot of times.

[2016-06-14 23:38] daniellemoorhead commented on #1035
@pmackay I also agree. Are you able to do a search on github/discourse and see if it's something that has been logged already, and if not create a new item for it? There's no money at present to do this work but it's definitely worthy of inclusion in the backlog (if it isn't already there). Cheers!

[2016-06-15 01:18] sstead opened #1038 "Columns incorrectly aligned in order cycle customer totals report"
![image](https://cloud.githubusercontent.com/assets/10843056/16065139/226b3ef6-32eb-11e6-9069-ef97a695d0bd.png)

[2016-06-15 01:22] sstead commented on #1038
Can we prioritise fixing this bug? This report is the most comprehensive of them all so it's important that it's working.

[2016-06-15 01:23] #587 closed

[2016-06-15 01:34] bingxie commented on #591
@oeoeaio do you know why do we hide the dropdown on purpose at the moment?

[2016-06-15 02:04] oeoeaio commented on #591
@bingxie I think it was maybe just to avoid writing the logic to handle updating the customer list. I think if the customer page used the same UI and logic as the Inventory (Variant Overrides) page, that would be good.
On Wed, Jun 15, 2016 at 11:34, Bing Xie <notifications@github.com> wrote:
@oeoeaio [https://github.com/oeoeaio] do you know why do we hide the dropdown on purpose at the moment?

—

[2016-06-15 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5760e0f87021788f3a5a1d5a)

[2016-06-15 05:30] daniellemoorhead commented on #1038
Have got this on @bingxie's to-do list @sstead, he'll no doubt be in touch to chat to you about it :)

[2016-06-15 06:31] daniellemoorhead commented on #812
@pmackay you ok to close this issue now that the PR has been merged?

[2016-06-15 07:47] mkllnk commented on #1035
Okay, I'll make some notes here just for myself and for whoever is interested.

Budget: 15h

There are nine pages that load all enterprises. Most of them don't need all enterprises loaded upfront:
[code]

I used `binding.pry` to go into `app/views/home/_hubs.html.haml` and measured the time loading the enterprises takes on my laptop:
[code]
The first time it took 1 minute and 50 seconds. The follo

[2016-06-15 08:18] myriamboure opened #1039 "translation issue in reset password email"
![image](https://cloud.githubusercontent.com/assets/8135376/16072676/76eeaa48-32e2-11e6-99fc-dce31dfc7d91.png)

[2016-06-15 10:17] MagsHall commented on #992
Have just run though the producer sign up and was about to flag up the need to be clearer about pricing structure, but it's obviously on its way! When you click to confirm email address on the email confirmation, it's currently saying 30 day free trial though. Once you get to the dashboard it has the correct 6 months displayed, but this initial 30 days bit is a bit confusing
![30 day trial](https:

[2016-06-15 10:33] MagsHall opened #1040 "Regionalise enterprise sign up screens"
Enterprise sign up process on UK production still contains a number of Aus references which don't make sense or look unprofessional in UK setting.
![need to regionalise the sign up page](https://cloud.githubusercontent.com/assets/19837861/16076693/82ad7cce-32ec-11e6-9482-6c62a65a063b.png)
Change 'suburb' to 'Town / City'. Change 'State' to 'County' and if possible list the full county / region nam

[2016-06-15 10:39] MagsHall opened #1041 "Update link and emails in enterprise sign up emails"
In 'Welcome to Open Food Network UK' email (first email when you make an account) there is still one reference to the AUS email address in the body of the text

![sign up email - still got aus address](https://cloud.githubusercontent.com/assets/19837861/16076848/5bf09804-32ed-11e6-85cb-912565f0691f.png)

In welcome email for new enterprises ('xx is now on Open Food Network UK') the 'join the commu

[2016-06-15 10:45] OliverUK commented on #1030
@NickWeir63  @lin-d-hop
Although this isn't a critical issue, it makes a bad impression if shoppers experience this and no one is available to fix it in a reasonable time. I totally appreciate that we can't implement all fixes and improvements straight away but I do hope that when OFN UK launches properly, i.e. once hubs and shopfronts pay a fee, that there will be the support available to help wi

[2016-06-15 19:28] #812 closed

[2016-06-15 20:03] lin-d-hop commented on #1040
These are coming with the next deploy. Changed in transifex.

[2016-06-16 10:58] bingxie commented on #950
@daniellemoorhead From my perspective, I can not find a easy way to fix the issue2. If we want to fix this issue, maybe we need to re-implement the form.

[2016-06-16 15:22] OliverUK commented on #1036
@NickWeir63
You can likely close this as I've discovered the categories weren't truly empty. When I tried with "Vinegars" it did go once empty.

[2016-06-16 15:24] OliverUK commented on #1030
The same has now been flagged up by at least one other customer. My guess is it may be the ones imported as part of the data migration but I can't be certain.

[2016-06-16 15:26] OliverUK commented on #1030
Lynne, may I assign this to you for now?

[2016-06-16 15:27] OliverUK commented on #1030
@NickWeir63 I've removed the login details from your above comment to be on the save side in terms of security. Hope that's ok.
Strange that github allows me to edit another persons comment.

[2016-06-16 16:14] #1036 closed

[2016-06-16 16:16] NickWeir63 commented on #1030
@aidandunsdon sorry to bother you but if you have time to give us your opinion on why the imported shoppers might not be able to save updates to their addresses we would be very grateful.  Thanks

[2016-06-16 18:07] NickWeir63 opened #1042 "Cannot delete a taxon"
We have come up with these changes that we want to make to the taxons on UK production
[Changes to taxons on UK production.pdf](https://github.com/openfoodfoundation/openfoodnetwork/files/319042/Changes.to.taxons.on.UK.production.pdf)

But when I try to make the first deletion in superadmin it says 'LOADING" for 1-2 minutes then I get this error:
The server returned an error
The requested change h

[2016-06-16 19:02] NickWeir63 commented on #1042
I thought i might be getting this message because you can't delete a taxon that is assigned to a product so I edited all the products that were assigned to "oils and vinegars" and moved them to "other foods"...........
![screenshot 2016-06-16 19 59 24](https://cloud.githubusercontent.com/assets/10517702/16129598/3b14a2fe-33fd-11e6-9b08-13d95aa2719b.png)

But then still got the same error message w

[2016-06-16 20:24] lin-d-hop commented on #1040
Lots has been changed now. Can you flag up anything else you find please mags?

[2016-06-16 20:27] lin-d-hop commented on #980
Mags, will you take a look at this and suggest changes. Look through the About and Producer/Hub sign up pages and suggest improvements? Also looks for any confusing links. We've chatted about it in the past and would be good to sanity check it ive missed anything.

[2016-06-16 20:37] OliverUK commented on #1042
I can obviously only test this for Stroudco products but if I look up our "flour" category as below
<img width="1081" alt="screen shot 2016-06-16 at 21 29 29" src="https://cloud.githubusercontent.com/assets/17590921/16132068/94504dd0-3409-11e6-9420-6b47a46d4dc8.png">
It looks empty but the shop front still shows them
<img width="1189" alt="screen shot 2016-06-16 at 21 29 36" src="https://cloud.git

[2016-06-16 21:16] NickWeir63 commented on #1042
Nice thought @OliverUK thanks but i think the reason the Stroudco flours were still showing is because they had not been deleted from the bottom taxon box.  It seems that the way the taxons work is that the category box at the top of this screen allows you to carry on adding categories so that a product can be in multiple categories and if you want to remove it from a category you have to take it

[2016-06-16 21:23] lin-d-hop commented on #1030
@OliverUK Sorry I haven't had a chance to look at this yet. The reason is because on first glance it looks like a tricky one to track down and may well spiral into something big. It is on my radar.

[2016-06-16 21:52] NickWeir63 commented on #1042
......ah sorry @OliverUK I have only just got it.....  You are saying that there may be some UK products that are using "oils and vinegars" but I cant see them when I use that filter because @oils and vinegars' is not the latest category to be added to the TAXON box of those products.  Good point!  @lin-d-hop is there any way I can get a listing of all products using a particular taxon?  When I cl

[2016-06-17 08:59] OliverUK commented on #1042
When I try the report, it does work, obviously not giving me all the products in the UK.

In any case it would still leave me with having to edit each individual product in order to empty a category, right?

[2016-06-17 13:38] NickWeir63 commented on #1042
Yes i was just trying to identify the cause of the server error above and if this was it then seem if Lynne might have a clever way of deleting any taxons for the categories we want to delete.

Yes oddly I can also get the 'All Products' report when i use my regular login.  it is just the superadmin login that gets the hungry slug....

[2016-06-17 13:45] NickWeir63 commented on #1042
Thanks @MagsHall for picking this one up.  Mags is away from Sunday 19th for a week but has agreed to do the superadmin job of editing the taxon table when she is back the following week assuming that we have been able to resolve the server error above.
Sorry @OliverUK and @sararaock for the delay

[2016-06-17 14:31] lin-d-hop commented on #1042
Looks like a timeout on that page....
I can delete empty taxons, or make a list of culprit products and producers.

Looked at this a little in #813. There is a bug in there but at the moment I'm not sure a proper fix is the best route.

[2016-06-17 15:38] NickWeir63 commented on #1042
Thanks @lin-d-hop  Yes please I think it would be good to have a list of culprit products and producers and then if it is not too long we can do some manual editing if this will get round the problem.

[2016-06-17 20:38] NickWeir63 commented on #1013
A Stroudco shopper has told us that when she opens the shopfront on her tablet (2 years old running Windows 10) it freezes (no error message and nothing happens even after a long wait)

[2016-06-18 14:37] myriamboure opened #1043 "Problem in entreprise owner validation"
I created 1 entreprise (Mes courses à Volumes) from the footer link "register hub", everything goes fine, I receive the confirmation email, clic on it, and all good.
Then from the admin panel, I clic on "new entreprise" I create one entreprise (Les bocaux d'Alex), but I don't receive the email confirmation message (also I used the same email, and I already have a few entreprises with this email),

[2016-06-18 14:46] myriamboure commented on #1043
Ok sorry there is no impact on adding products to order cycles, I made a mistake. So the only issue is that we don't see the owner on the entreprise lists, but that's a minor issue. Should we leave it open thought? Is there an impact on UX?

[2016-06-19 15:58] lin-d-hop commented on #1041
@mkllnk @daniellemoorhead @sstead
Regarding Mags' 2nd point above, I'm wondering the best way to make the 'Join the Community' link the right one.
Currently the instance discourse URL is stored as an env var. However my feeling is that actually just linking the to instance discourse is not what many will want.
Some instances will wish to point to the global, i assume. And some their own forum.
I'm

[2016-06-19 23:14] daniellemoorhead commented on #1041
Sounds like the right move tome @lin-d-hop :)

[2016-06-20 15:35] lin-d-hop commented on #1030
@OliverUK
Think I tracked this down. You were right that it was related to the data import.
I've tested on the original shopper (email address was posted on the original bug report) and it worked fine. I updated their address to 123 Test St so you might like to log in as them and update to their actual address or to let them know and thank them for their help in tracking down the issue.

The fix s

[2016-06-20 15:35] #1030 closed

[2016-06-20 18:08] lin-d-hop commented on #992
Note to self, translations required in
app/views/admin/enterprises/_change_type_form.html.haml

[2016-06-20 20:18] OliverUK commented on #1030
Thanks very much @lin-d-hop Lynne! I've let them know.

[2016-06-20 20:31] OliverUK commented on #1042
@lin-d-hop  I think you described it well in #813. Is the conclusion that for the purpose of deleting categories we have to manually remove them from each product and that bulk product management can't help us here?

[2016-06-21 08:10] Rocksj opened #1047 "Shop front not loading"
Two customers reporting problems with the shopfront loading due an unresponsive script as below:

![ofn script message](https://cloud.githubusercontent.com/assets/15102362/16204272/059698fa-3716-11e6-8c7d-205810086265.jpg)
AND
![screen shot 2016-06-21 at 08 58 20](https://cloud.githubusercontent.com/assets/15102362/16222155/84a0e0a6-378e-11e6-9371-fa90e9f25a40.png)
In the second instance the first

[2016-06-21 21:38] OliverUK commented on #1042
@lin-d-hop for Stroudco I have manually emptied some categories now by editing each product individually. This removes the category from the shop front until a producer decides to use it again and I can't stop them do that. Is there anything else I can do to help edit other hubs' listings?

[2016-06-21 23:13] daniellemoorhead opened #1049 "Standing Orders - Order cycle schedules"

[2016-06-21 23:14] daniellemoorhead opened #1050 "Standing Orders - Model"

[2016-06-21 23:18] daniellemoorhead opened #1051 "SO - consistent timing events for order cycles"
### Overview

Once we have Standing Orders, order cycle open and close times will be used as markers around which logic for messaging and order finalisation will be organised. This means that we want to only allow order cycles that have standing orders to open once and to close once.
### Tasks
- [ ] Opens At date for Order Cycles with Standing Orders cannot be altered once the OC is open
- [ ] Clo

[2016-06-21 23:18] daniellemoorhead opened #1052 "Standing Orders - improved order cycle duplication"
### Overview

Order Cycles can currently be "cloned", which creates a brand new OC with identical settings.

The proposed Standing Orders model requires that Order Cycles exist into the future, as far as the shop owner wants customers to be allowed to place/cancel and ultimately edit their future orders.

In light of this, the capability to copy the list of products, fees and tags from between two

[2016-06-21 23:19] daniellemoorhead opened #1053 "Standing Orders - Account Credit"
The AU team had a think about this epic today and are uncertain if it's the right approach moving forward (rather than just setting up a payment gateway like Stripe). We'll be revisiting this once we've specced and starting working on the other MVP standing order epics.

Here's a view of what we were thinking about in terms of scope...but as you can see it ballooned out a little to become way more

[2016-06-21 23:19] daniellemoorhead opened #1054 "Standing Orders - Notification and Messaging"

[2016-06-22 00:49] daniellemoorhead opened #1055 "SO - Create an order cycle schedule"
**As a shop owner I want to create an order cycle schedule**

Go into admin section.
Go to the orders section.
Click on the "Add Schedule" button.
Result: the add schedule screen modal displays.

Then:
- Add the name of the schedule
- Select the order cycles to go in the schedule (spike how hard it would be to use a jquery picker to add order cycles from one column to another).
- If you hit the ca

[2016-06-22 00:55] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=5769e2136587147668612d0a)

[2016-06-22 00:57] daniellemoorhead opened #1056 "SO - Filter order cycles by schedule or by date range"
**As a shop owner I want to filter order cycles by schedule**

This story includes the addition of the schedules column on the order cycles table, and then the ability to filter the list by schedule. Can only show one schedule's order cycles at a time, won't be able to filter by multiple schedules.

This also includes changing the page to Angular.

![img_0567](https://cloud.githubusercontent.com/a

[2016-06-22 01:00] daniellemoorhead commented on #1056
This story includes the addition of the schedules column on the order cycles table, and then the ability to filter the list by date range or by schedule. Can only show one schedule's order cycles at a time, won't be able to filter by multiple schedules.

This also includes changing the page to Angular.

[2016-06-22 01:02] daniellemoorhead commented on #1056
@oeoeaio can you please add the photo of the page mockup you did for this (whiteboard image).

[2016-06-22 01:13] daniellemoorhead opened #1057 "SO - Select multiple order cycles and add them to a schedule"
**As a shop owner I want to select multiple order cycles and add them to a schedule**
- [ ] Add select boxes next to each order cycle (1 hr)
- [ ] Build function to add pop up a modal with schedule selection (3 hrs)
- [ ] Add actions dropdown, with "Add to schedule" (1 hr)

[2016-06-22 01:15] daniellemoorhead opened #1058 "SO - Add an order cycle to one or more schedules (via the order cycle create/edit screen)"
**As a shop owner I want to add an order cycle to one or more schedules (via the order cycle create/edit screen)**
### Tasks
- [x] Appears as a searchable multi-select2, similar to tags or taxons selection
- [x] Placed immediately under the existing Name, Coordinator, Opens At and Closes At fields.
- [x] Only editable by the coordinator, appears as a text list for other users who can view the OC

[2016-06-22 01:16] daniellemoorhead opened #1059 "SO - Edit or delete an order cycle schedule"
**As a shop owner I want to edit or delete an order cycle schedule**

Go to the order cycles screen.
Click on the Schedule name in the table (if it's not visible then you filter/search for it).
Result: the schedule modal displays in edit mode (same as the add schedule modal).

**EDIT**
- User can edit the name and the order cycles within the schedule, and then click on update (changed label).
- Sc

[2016-06-22 01:27] daniellemoorhead opened #1060 "SO - Set up a standing order for a customer"
**As a shop owner I want to set up a standing order for a customer**

Go into admin section.
Go to the orders section.
Click on the "Standing Orders" tab.
Result: Display the new standing orders page

Then:
- Click on the Add Standing Order button
- Fill in the following details: Customer; Schedule; Shipping Method; Payment Method.
- Select the schedule, set the duration (ongoing or an end date),

[2016-06-22 01:40] daniellemoorhead opened #1061 "SO - View all my standing orders"
**As a shop owner I want to view all my standing orders**

Go into admin section.
Go to the orders section.
Click on the "Standing Orders" tab.
Result: Display the new standing orders page

Then:
- Filter by customer or by schedule (and possibly by item, but may be a bit tricky, we'll see).
- [x] Create Standing Order model (1 hr)
- [x] Build basic version of interface (11 hr)

[2016-06-22 01:48] daniellemoorhead opened #1062 "SO - Store and edit a customer's preferred address"
**As a shop owner I want to store and edit a customer's preferred address**

### Issue 1: Frontend

The logic for auto-loading an address for an order is in CheckoutController#before_address.

Currently this logic is checking the current_user for for a bill_address and ship_address, however since we don't actually have an interface for assigning these, they are always nil.

What happens instead is

[2016-06-22 01:52] daniellemoorhead commented on #1057
Add them to an existing schedule, not create a new schedule at the same time?

[2016-06-22 02:05] daniellemoorhead opened #1063 "SO - Cancel a customer's standing order"
**As a shop owner I want to cancel a customer's standing order**

Go into admin section.
Go to the orders section.
Click on the "Standing Orders" tab.
Result: Display the new standing orders page

Then:
- User clicks on the standing order to be cancelled.
- Modal displays that details what will happen if the user proceeds with the cancellation: all future orders for this standing orders will be ca

[2016-06-22 02:13] daniellemoorhead opened #1064 "SO - Pause a standing order"
**As a shop owner I want to pause a standing order**
- [x] Add "paused_at" field to Standing Order model (2 hrs)
- [x] Create action to "pause" a Standing Order (2 hrs)
- [x] Add pause button to interface (2 hrs)
- [x] Link up pause action to button, with appropriate messaging (2 hrs)

[2016-06-22 02:13] daniellemoorhead opened #1065 "SO - Edit a standing order"
**As a shop owner I want to edit a standing order**

All edits will be done from the standing order index page, with some pop out modals.

Can't edit the schedule or customer name.
Shipping, payment can be edited, this will be 2 new column in the table, with dropdown and select.
Can edit the start and end dates.
(column show/hide will be customisable)

Products - will be a new column (17 products)

[2016-06-22 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=576a2970b1423a6f613841d8)

[2016-06-22 06:15] oeoeaio opened #1067 "Order Cycle Coordinator can "clone" into an existing order cycle"
### Overview

Order Cycles can currently be "cloned", which creates a brand new OC with identical settings.

The proposed Standing Orders model requires that Order Cycles exist into the future, as far as the shop owner wants customers to be allowed to place/cancel and ultimately edit their future orders.

In light of this, the capability to copy the list of products, fees and tags from between two

[2016-06-22 06:18] oeoeaio commented on #1067
Duplicate of #1052

[2016-06-22 06:18] #1067 closed

[2016-06-22 07:48] oeoeaio opened #1068 "Standing Orders: Restricting products available to use in standing orders"
How do we restrict which products are available to add to SOs ?
- Could only allow products available in all OCs for the given schedule to be added?
- Could have a specific list of products that are available to add to SOs?
  - Per schedule?
  - Per shop?

[2016-06-22 09:40] Rocksj commented on #1013
Two customers trying to use iPad's this week couldn't place their orders. They are using iPads which are less than 2 years old and have 12gb memory. The operating systems are both version 9.3.2. They described it as:
We couldn't logon after we complied our order. When we pressed Login or checkout they went from dark to light red but nothing happened. So we couldn't complete the order.

[2016-06-22 09:47] oeoeaio commented on #1013
Hi @Rocksj, this sounds like a separate issue, but one which sounds very similar to an issue that some of my customers have reported. I have never been able to replicate it however. Do you have a good enough relationship with these customers to ask them if they could attempt to replicate the problem? Would be great to get some screenshots, and an error log of some sort from the device if possible.

[2016-06-22 19:46] Rocksj commented on #1013
Its one of our Directors and his wife, they have matching iPads, so I have asked the question!

[2016-06-24 00:52] #838 closed

[2016-06-24 01:00] sstead opened #1069 "Property badges on profiles and filtering."
Testing notes for @RohanM

**For a Producer:**
- Their full profile (viewed on the map) shows their Producer AND Product properties.
- Their producer listing mini profile shows their Producer AND Product Properties.
The above is true if the producer is a profile only, or a shopfront.  It's also true if they don't have any products added. (THIS SEEMS GOOD AND LOGICAL TO ME)

If the producer has a p

[2016-06-24 01:46] #950 closed

[2016-06-24 01:56] RohanM commented on #1069
After talking with @serenityhill, we've decided these issues aren't blockers. Branch pushed.

[2016-06-24 08:13] OliverUK commented on #1047
I used to get these all the time. It was just a matter of clicking continue and giving it more time.
I've not had any recently thought.

[2016-06-24 13:50] myriamboure opened #1070 "Change email from which order confirmations are sent"
A hub is using OFN, the clients of the hubs receive today their order confirmations from info@openfoodfrance.org.
Can the order confirmation emails be sent from the email of the owner of the hub? Or can the hub set up from which email address he wants the order confirmation emails to be sent?

The problem is that some people reply to the order confirmation, so I receive the message instead of the

[2016-06-24 14:09] lin-d-hop commented on #1070
Hi @myriamboure
See #1044 for more details

[2016-06-24 20:13] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=576d94567af4521620ef7011)

[2016-06-27 13:20] Rocksj commented on #1013
Screenshots and comments from our Director:
The first is the screen after I press on my basket.
The second is the one I get when I press Login.Nothing happens but the red colour changes.
The third screen is the one I get if I try to do it again but login as a guest.The box changes to grey but nothing happens.

![img_0380](https://cloud.githubusercontent.com/assets/15102362/16381002/378690a2-3c72-1

[2016-06-27 13:33] lin-d-hop commented on #1013
The experience doing a shop on my phone is clunky and couldn't complete a checkout. I agree with our director that the roll out in the UK will be limited if we can't keep up with competitors in the mobile space. Would be good to discuss in management and dev meetings this week...?

[2016-06-27 16:16] #471 closed

[2016-06-28 09:38] MagsHall commented on #1040
Yup, looking good! I'd still be tempted to turn 'suburb' into 'town / city' as I'd never use the word suburb, but maybe that's a Scots thing.

[2016-06-28 10:55] MagsHall commented on #980
Looks good, one minor point - I would just clarify under Monthly Service Fees on the Producer / Hub sign up pages, that the monthly fees are 2% of turnover **on OFN**. Is it clearer to word it as 2% of all sales?

Also, is it worth sticking in a paragraph on the About page about the subsidised funding from Esme? Would be another way of getting the word out there about it.

[2016-06-28 21:18] OliverUK commented on #1010
I guess it's not so much that the button is unresponsive but the "saving" and "saved" notification only show at the top. Something one quickly gets used to.

[2016-06-29 00:52] daniellemoorhead opened #1072 "Property filters on producers pages"
Customers can filter enterprises by the properties of the products they produce.

This affects pages:

- Producers
- Groups (producers tab)

[2016-06-29 12:51] blancnic commented on #853
@mkllnk : do u think spree upgrade will be changed this issue?

[2016-06-29 13:19] mkllnk commented on #853
I just looked at the current documentation: http://guides.spreecommerce.org/user/configuring_general_settings.html

These settings look the same as the current ones. So I don't think that a newer spree version will handle this smarter.

[2016-06-29 14:44] Rocksj opened #1074 "Paypal % charged twice"
I have added a 4% charge onto our paypal method of payment and its being added onto the customer's invoice twice as below, which leaves a Balance Due on their account.
However, they are only charged this once when they get charged by Paypal.
![screen shot 2016-06-29 at 15 36 35](https://cloud.githubusercontent.com/assets/15102362/16456451/ce1bb3be-3e0f-11e6-875c-784e8ad0b74c.png)

[2016-06-29 15:20] lin-d-hop commented on #1042
Closing as duplicate of #813

[2016-06-29 15:20] #1042 closed

[2016-06-30 08:06] stveep commented on #920
Just discussing this in our Skype - @RohanM do you know if the Spree upgrade will affect this (see comment above)?

[2016-06-30 08:16] daniellemoorhead commented on #1074
@mkllnk does this have something to do with the fees on payment types piece of work you did?

[2016-06-30 08:22] lin-d-hop commented on #312
@OliverUK Could you give us an idea of how often this is happening on your end?

[2016-06-30 08:35] mkllnk commented on #1074
Yes. Somehow it got added twice here. It would be good to know how to reproduce that bug, since we didn't discover that while testing.

[2016-06-30 08:36] OliverUK commented on #312
@lin-d-hop My guess is all the time. I notice it every time someone buys only one item, because that's when you can immediately see the difference between the line total and order total.

[2016-06-30 09:32] Rocksj commented on #1074
Come shop with us, happens all the time?! Maybe I've set it up wrong?

[2016-06-30 11:57] mkllnk commented on #1074
@sstead Can you reproduce this?

[2016-06-30 14:44] lin-d-hop commented on #913
@sstead How is this being handled in Aus?
It would take a bit of redesign to handle actually displaying all the variant images nicely in the shopfront. My temptation would be to disable variant images and just use a single product image. This seems to be common practice for other ecommerce sites so I don't feel a problem from a usability perspective.

[2016-06-30 23:58] #590 closed

[2016-06-30 23:58] #591 closed

[2016-07-01 00:09] sstead opened #1075 "Clicking on product image in checkout takes me to the homepage"
![image](https://cloud.githubusercontent.com/assets/10843056/16508167/c3129d2e-3f73-11e6-8fb4-69a51d803365.png)

Product images are clickable. I'd expect the product details window to open, but instead it takes me to the homepage.

[2016-07-01 00:18] sstead commented on #725
Current visibility of tax FYI...

In the shopfront (no visibility)
![image](https://cloud.githubusercontent.com/assets/10843056/16508273/c904a082-3f74-11e6-9e2c-1df098680961.png)

In the edit cart page (see total GST associated with order)
![image](https://cloud.githubusercontent.com/assets/10843056/16508283/e2438464-3f74-11e6-8034-f7443dc745ba.png)

In the checkout page (No visibility)
![image](h

[2016-07-01 00:55] daniellemoorhead commented on #1052
@stveep this is your first foray into the world of standing orders work. Have a read of this and if you've got any questions speak with @oeoeaio. Cheers!

[2016-07-01 01:09] daniellemoorhead opened #1076 "Standing Orders - Reporting"
Are there reporting requirements/changes?

[2016-07-01 01:10] sstead commented on #913
Hi @lin-d-hop - this has been picked up previously here in Aus, although we haven't had any users encountering the problem. https://github.com/openfoodfoundation/openfoodnetwork/issues/552 . There are 3 suggested solutions in that issue, one being your idea of getting rid of variant images and just having 1 product image. Currently there would be no real loss in doing this, however I'm not sure wh

[2016-07-01 03:40] #1038 closed

[2016-07-01 03:44] daniellemoorhead commented on #312
Hey @RohanM, given this bug is also overcharging customers it seems that we do need to fix it.

In your original comment you said:

Do you have an idea of how to fix it? And if so, do you know (order of magnitude guestimate, like a week, 2 weeks, a month, way longer) how long it will take to fix?

[2016-07-01 03:46] daniellemoorhead commented on #1010
Hey @oeoeaio and @mkllnk how easy would it be to have the two save buttons on this page do the same thing? ie. having the "saving" and "saved" notifications displaying at the top and the bottom?

[2016-07-01 03:51] daniellemoorhead opened #1077 "SO - Polling of order cycle open and close times"
Set up a chron job to poll order cycles every minute and trigger notifications for new opened cycles (#1078) or finalising orders in closed cycles (#1080).

[2016-07-01 03:58] daniellemoorhead opened #1078 "SO - Send an email to the customer when a new standing order opens"

[2016-07-01 04:01] daniellemoorhead opened #1079 "SO - Send an email to the customer when a standing order cycle closes and their order is confirmed"
**As a customer I want to receive an email about my finalised order when the order cycle closed**

Contents of email:
- Same as a existing order confirmed email
- Include a message about customer being in a standing order for this shop and any details about that standing order. And information about how to change/cancel the standing order.

[2016-07-01 04:17] daniellemoorhead opened #1080 "SO - Finalise a standing order for a customer when an order cycle ends"

[2016-07-01 04:44] sstead opened #1081 "Create order - can't select Paypal as payment method"
If I try to select paypal as a payment method when I'm creating an order from the back end, I get the 'grumpy cat/evil snail'.

![image](https://cloud.githubusercontent.com/assets/10843056/16512028/37ff79b0-3f9a-11e6-82f1-68167becdf0a.png)
- This may be because my Paypal account is not setup correctly? I'm unable to check whether this is also problematic for enterprise with properly functioning Pa

[2016-07-01 07:04] daniellemoorhead opened #1083 "SO - Display products bought in an order cycle in the shop cart dropdown"

[2016-07-01 07:05] daniellemoorhead opened #1084 "SO - Display products bought in an order cycle in the edit cart page"

[2016-07-01 07:06] daniellemoorhead opened #1085 "SO - Improvements for when bought products are removed from an order on edit cart page"

[2016-07-01 07:07] daniellemoorhead opened #1086 "SO - Allow for editing orders and cart in the shop cart dropdown"

[2016-07-01 07:08] daniellemoorhead opened #1087 "SO - Process standing orders when a new order cycle opens"

[2016-07-01 07:13] daniellemoorhead opened #1088 "SO - Notify customer when the order cycle has ended and their scheduled order is checked out"

[2016-07-01 07:14] daniellemoorhead opened #1089 "Standing Orders - Scheduled order checkout changes"
![img_7629](https://cloud.githubusercontent.com/assets/10949052/16514505/b079d650-3faf-11e6-8696-1cc1a87e78b4.JPG)

[2016-07-01 07:17] sstead commented on #1074
Hey Maikel, I couldn't reproduce this without a properly setup Paypal account. The error wasn't happening for other payment methods with fees. I had a look at the UK server and interestingly in the last month this error seemed to occur on 4 of the 5 orders that were paid  with Paypal. I couldn't glean much else. Would you like me to contact Kirsten/Brenda to get details of the eaterprise paypal ac

[2016-07-01 08:32] Rocksj commented on #1074
Sally, when I noticed this was happening I deleted one of the duplicate transactions to make the invoice correct, it was on Order #R757442004. So it may have happened to all of them but doesn't show on the invoice now? I'll leave the rest alone.

[2016-07-01 13:01] Rocksj commented on #1074
OK, this may be a clue? This was the payment screen which related to the order on my first post where I noticed this

![screen shot 2016-07-01 at 13 57 43](https://cloud.githubusercontent.com/assets/15102362/16522174/e9c841e2-3f93-11e6-9854-625183cd1942.png)

[2016-07-01 14:58] lin-d-hop commented on #1041
PR #1090

[2016-07-02 04:03] mkllnk commented on #1010
@oeoeaio You probably know this one better. But I think that it would be quite easy to display the notification next to the button. Something between 1 and 3 hours.

[2016-07-02 04:08] mkllnk commented on #1074
@sstead Why did the sandbox not work? Or did the error not happen with the sandbox?

The last screenshot looks like someone tried to pay twice and only the second one worked. Maybe that's where the fee is processed twice.

[2016-07-02 09:14] Rocksj commented on #1074
This is another one with the same transaction twice:
![screen shot 2016-07-02 at 10 12 33](https://cloud.githubusercontent.com/assets/15102362/16539517/9b1222ac-403d-11e6-941e-3e88906af3e8.png)

![screen shot 2016-07-02 at 10 09 00](https://cloud.githubusercontent.com/assets/15102362/16539508/36468f66-403d-11e6-8621-792266bfeecc.png)
This is how it came through the paypal account:
![screen shot 20

[2016-07-04 15:57] lin-d-hop commented on #1070
Duplicate of #1025

[2016-07-04 15:57] #1070 closed

[2016-07-05 07:11] stveep commented on #1052
Getting on ok with this so far, just one quick Q - if the existing OC already has products, do we want to overwrite or add?

[2016-07-05 08:22] myriamboure commented on #853
@blancnic do you think you can try to give it a go or should we try to budget this task and find the money to pay someone to do it?
I like what @mkllnk  is suggesting:

50.0   -> 50.00
50,0   -> 50.00
50,00  -> 50.00
50,000 -> 50,000.00 (so if 3 or more figures after a . or a , we consider it is the thousand demarcation)
5.00.0 -> ? (5,000.00 or 500.00) (for me in that case we should show a messag

[2016-07-05 14:10] myriamboure commented on #797
Is it something easy you could work on @blancnic ?
For example: if I delete the "0 "in the "disponible" box and clic on "a volonté", maybe you can force the system to reput the 0 so that it doesn't bug... if it's the easiest way ;-)
More user friendly (because it can be a bit confusing to have 0 in stock and on demand at the same time) woud be to ensure that the "Infinity" doesn't create the bug,

[2016-07-05 14:22] myriamboure commented on #1020
Any solution on that @sstead ? Did you have any request from users to be able to format the product description?

[2016-07-05 14:32] myriamboure commented on #581
I tested again and I can't reproduce the error, it probably has been fixed, so I close it.

[2016-07-05 14:32] #581 closed

[2016-07-05 23:57] #1069 closed

[2016-07-06 00:09] sstead commented on #1020
Hi @myriamboure, I ran this idea past Rob and Rohan and they said there are a couple of different options. Wizzywig would be the easiest option in the short term (this is what we have for About Us profile description). However this needs to be thought out, because it will mean saving data in HTML, from which point it's hard to go back. Markdown is also appealing, but again needs thought. So essent

[2016-07-06 00:12] sstead commented on #1074
Hi @mkllnk I was unable to complete my paypal payment with the sandbox (I couldn't login with my usual customer login). So I couldn't see how the completed order went through and how the payment fee was put onto the order.

[2016-07-06 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=577c582bcb7006784ddd9862)

[2016-07-06 01:23] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=577c5d7883dddc6e0ec5e04a)

[2016-07-06 01:25] mkllnk commented on #1083
Some estimates:

- [ ] Modify the cart view (2h)
- [ ] Load additional data (3h)
- [ ] Review and testing (2h)

[2016-07-06 01:29] sstead opened #1092 "User experience on mobile devices"
Our intern Kathryn will be testing the shopfront on various devices over the coming weeks. This is a collection of the bugs that are out there...

I tested the website using  https://openfoodnetwork.org.au/sally-s-demo-farm/shop on both my iPhone and my iPad using two different browsers. Everything looked okay. All of the images appeared, the columns all lined up and all of the filters and tags wo

[2016-07-06 01:51] mkllnk commented on #1084
Some estimates:

- [ ] Modify the edit cart view (1h)
- [ ] Load additional data (2h)
- [ ] Review and testing (1h)

[2016-07-06 02:04] mkllnk commented on #1087
Estimates:

Model data structure for scheduled orders (4h)
Create data migrations (3h)
Update user interface (2h)

[2016-07-06 02:13] mkllnk commented on #1085
- [ ] Update user interface (3h)
- [ ] Add feature to controller (3h)

[2016-07-06 02:13] mkllnk commented on #1086
- [ ] Update user interface (3h)

[2016-07-06 02:16] mkllnk commented on #1088
- [ ] Model order cycle events (4h)
- [ ] Setup timed scripts (4h)
- [ ] Add setup scripts to ofn-install (4h)
- [ ] Create mailer with mail text (4h)

[2016-07-08 00:27] oeoeaio commented on #1052
Hi @stveep, I think overwrite. From my perspective, the desired functionality is that the 'destination' OC looks exactly the same as the 'source' OC one the copy action has been completed. So I think it is basically just a wipe and rewrite. Does that sound ok?

[2016-07-08 01:43] sstead opened #1093 "Map suggests address but cannot locate it on the map"
![image](https://cloud.githubusercontent.com/assets/10843056/16675049/067a022c-4501-11e6-9b60-6d0068c13923.png)

@kirstenalarsen

[2016-07-08 01:45] kirstenalarsen opened #1094 "no ssl certificate on noticeboard.openfoodnetwork.org.au"
I think that's what this is . .

I logged in at ofn first, and then hit the notices link
![image](https://cloud.githubusercontent.com/assets/2911176/16675090/43297752-4501-11e6-96c8-55b21f500268.png)

[2016-07-08 01:46] kirstenalarsen commented on #1094
@daniellemoorhead - need to check w you how I should be using github e.g. how i should be labelling this etc. For now I have just flagged as Australia so I can keep track of it as being connected to 'aus re-launch' but happy to do something else if necessary