[2017-03-27 12:53] jeronimo commented on #1291
I could find only this dropdown in the front-end

[2017-03-27 14:24] myriamboure commented on #853
Ok, @SimonSarazin is ready to lend a little bit of money to his non-profit buying group hub to help solve that issue, which is really annoying for new users and results in lots of mistakes... If it's 3h for an OFN dev, is there any OFN dev ready to work on that? We won't have much more budget I guess... it would mean around 300AUD then, right? Or maybe @pacodelaluna or @Em-AK or @ltrls would like

[2017-03-27 14:30] lin-d-hop opened #1504 "When creating a product clicking 'On Demand' does not update stock level"
This seems to be an intermittent problem.

Sometimes when I set a product stock level to 'On Demand' the stock level stays at 0 and the product then fails to appear in the shop front. This is only when creating a product.

I have experienced this myself today and I know that many people experience this as it is a common support complaint.

[2017-03-27 16:32] myriamboure commented on #853
Discussion here: https://community.openfoodnetwork.org/t/figures-format-internationalization/874

[2017-03-28 10:31] Rocksj commented on #1074
@mkllnk

Can you describe how you re-produce this issue? It would look like:

    user is logged in (or user is logged out) *I was logged in as me*
    user adds x items to cart **I added item to my cart**
    user goes to checkout **went to checkout and chose paypal as my payment option**
    ...
    user hits back button in browser during payment? **No I get directed to paypal login screen, log

[2017-03-28 23:34] oeoeaio commented on #1461
Hey @yukoosawa,

Thanks so much for laying all of this out. I've been going through and trying to work out how to piece it all together, and I think it mostly should work great, I just have one concern that I'd like to run by you.

I think the use of the existing 'cart' page for displaying and editing open orders is may be problematic. Orders that are "Open" for editing have actually already been

[2017-03-28 23:53] oeoeaio commented on #1461
Something like this on the confirmation page:

![order_confirmation](https://cloud.githubusercontent.com/assets/2067859/24432435/fc325192-146d-11e7-9dd9-3d8dd81dc397.png)

[2017-03-29 00:00] sstead commented on #1200
I've tested this for a ridiculously long email address 'simonbeach@woodchestervalleyvineyardery.com.au'
Below is how it displays on the full profile, viewed from the map... The screenshot shows display on mobile, and on desktop windows of various sizes.
![image](https://cloud.githubusercontent.com/assets/10843056/24432394/a63dbee8-146d-11e7-884e-5fca456ae8b8.png)
The new behaviour is to cut off th

[2017-03-29 00:29] yukoosawa commented on #1461
So am thinking the following:
- It's ok to show the User their SO items with link to take them to edit (need to consider if/how they can return to their cart of yet-to-be-purchased items).
- However confirming SO items in an open cycle feels disjointed in the order confirmation page as the User has just confirmed their purchase.
- If we want to update the SO 'open order' flow in this manner, it mi

[2017-03-29 01:05] oeoeaio commented on #1461
@yukoosawa

Yep, I think point three is what I am suggesting.

Point one (returning to cart) is my main concern also, still not sure how to resolve this. My feeling would be that users actually opting to edit their SO orders would be relatively uncommon, but we still need to work out how to redirect them to the cart if they opt to do this. Perhaps the 'Go Back to Store' link at the bottom of the c

[2017-03-29 02:10] daniellemoorhead commented on #1343
So what are the next steps with this @sstead @OliverUK @Matt-Yorkley?

[2017-03-29 02:50] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::InternalServerError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=58db20e40079a91700e708f9)

[2017-03-29 04:21] sstead commented on #1294
**Things that work:**
- In a hub order cycle I can write a maximum of 35 characters in the field.
- Those 35 characters fit well in in the mobile and desktop view.

**Things that still need to be done:**
- The tip text seems incomplete (see below)
![image](https://cloud.githubusercontent.com/assets/10843056/24438284/08773c50-1492-11e7-9264-3ab15e7c20eb.png)
Suggested text for tips:
Ready for: "Whe

[2017-03-29 05:19] daniellemoorhead commented on #1020
PR #1239 is in code review and testing with Rob and Sally. All going to plan will be part of 1.8.9 release

[2017-03-29 05:28] #1200 closed

[2017-03-29 05:46] sstead commented on #522
Great, looks good to me.
![image](https://cloud.githubusercontent.com/assets/10843056/24440278/093023d4-149f-11e7-94d4-663b43769cc0.png)

[2017-03-29 05:51] #522 closed

[2017-03-29 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58db4d75fca2e11700a02787)

[2017-03-29 07:13] daniellemoorhead commented on #1416
Hi @Duende13 when looking for advice on GH probably worth @mentioning people so they know to look at it. There are so many issues on here :)

@oeoeaio and @mkllnk and @RohanM any issues with what Suzanna has outlined above?

[2017-03-29 09:23] myriamboure opened #1509 "Error in VAT breakdown on alternative invoice"
The method used by @ltrls has some default, the back calculation of the tax rate was not working properly, so we had extravagant rates appearing in the break down. Pierre has submitted a PR to fix it, we have deployed it on the french staging and tested, all good.

[2017-03-29 09:29] myriamboure opened #1510 "Rights to choose thermal printers refused to non super admin user"
When testing on the French staging to print thermal ticket after we did the upgrade of the last release, their is a right issue that prevent the user to choose a printer in order to print the receipt.
@ltrls has found the issue (something new he has discovered on OFN, he is going through his learning curve !!! Say you love it Pierre, hein? ;-)) so we are going to test his new branch on our staging

[2017-03-29 09:49] myriamboure commented on #822
Ok, we had the issue again on a real case with a hub who was proposing two types of papaya and using the "display as" field to tell the differences to the customer:
![screenshot from 2017-03-29 11-47-19](https://cloud.githubusercontent.com/assets/8135376/24448786/7eb56670-1475-11e7-876a-3230d17a1254.png)

I guess the issue is linked to the fact that the user uses the "display as" field to differen

[2017-03-29 09:56] myriamboure commented on #822
@ltrls @Em-AK is it a big job or quick fix in your opinion? I can ask the user if he is ready to pay for it, but I need an estimation of the cost... would you be able to say or should we ask the Aus tech lead?

[2017-03-29 10:41] Matt-Yorkley commented on #822
Would an easier option be to show the "display as" field in the reports and show each variant?

[2017-03-29 10:49] Matt-Yorkley commented on #1343
@daniellemoorhead Well the current PR basically removes this "display only" functionality and fixes the existing issue with shopping in unusable hubs. As @sstead mentioned it might be quite a bit of work to make a properly functioning "display only" type thing and it's pretty low priority.

So the question is are people happy with "display only" shops no longer appearing in the shops index for the

[2017-03-29 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58dbb11c7247761700ddf47c)

[2017-03-29 13:26] myriamboure commented on #822
Would be another possibility @Matt-Yorkley but I guess "forcing" to use another variant name might make searches easier afterward, in reports, and all, no? Else it means adding the "display as" column everywhere, and also for the CSV import work considering also the "display as" field to see if same variant or not... It seems easier to me to force using different variant names, but I'm not on the

[2017-03-29 19:07] Matt-Yorkley commented on #822
@myriamboure I can see that it might make things easier, but I'm not sure it would be technically feasible to make variant display names unique at the moment.

[2017-03-29 20:17] myriamboure opened #1511 "images not displaying in alternative invoice model"
@ltrls will send a PR to fix that.

[2017-03-30 03:18] yukoosawa commented on #1461
@oeoeaio Apologies for the late reply - missed your follow up comment.

Agree that in a Shopping Cart page:
1. User can see SO items in current OC with a link to edit.

In a SO edit page (for open OC):
1. User can cancel current standing order.
2. User can update current standing order.
3. User can return to cart to complete yet-to-be-purchased items in a cart.

In a confirmation page:
1. A link o

[2017-03-30 18:46] KeirOsborn commented on #1295
Hi,

So is the "empty state" content route the one we want to go down? It seems like the cleanest option to me. If so though, I assume we want an empty state message for each tab. I'm not fully up to speed on the taxonomy, is this wording ok:

"_There is no description for this shop._"
"_There are no producers for this shop._"
"_There are no contact details for this shop._"
"_There are no groups f

[2017-03-30 23:26] daniellemoorhead commented on #1510
Hi @myriamboure hoping as you create these issues you can fill in the meta on the right hand side of the screen? ie. Assignees, where it is in the pipeline, any labels (suggest 'france', and 'aus review' when you want us to look at something) and priority. With all the issues and PRs coming in at the moment it will make it easier for me to triage and figure out AU team priorities each week. Thanks

[2017-03-30 23:39] daniellemoorhead commented on #1295
My preference is to not show the tab at all, you're just disappointing the user when they click on it and hit a dead end. I think this is why the hide the tab suggestion was made by @yukoosawa in the first place. Empty state is a less optimal solution, but if it's too hard to completely hide tabs when there is no content then I guess we have to go down that path?

Thoughts @sstead @Matt-Yorkley @p

[2017-03-30 23:48] daniellemoorhead commented on #1510
PS. @ltrls can you please assign yourself to isses/PRs that you're working on? I can't assign you as I don't think you've accepted the invitation to join the repo. Thanks!

[2017-03-30 23:57] daniellemoorhead commented on #1344
Have moved this into 1.8.10 as it won't be ready for release today. See @sstead's testing notes for next steps.

[2017-03-31 00:26] daniellemoorhead commented on #1343
Consensus between @sstead and @oeoeaio is for this to go ahead. @mkllnk / @sstead will test today and should all going to plan be pushed as part of 1.8.9.

[2017-03-31 00:34] sstead opened #1515 "Create a better 'display only' shopfront option for closed shops."
Use case: A shop wants to be able to give visitors an indication of the kinds of products they stock when they are closed.

In the past there was a hack 'display only shopfront' option. This is how it worked- if a OC was open by the shop had no shipping/payment methods, the shop would show as open, but kick out customers if they tried to checkout. It was fiddly to setup (deactivating ship/pay meth

[2017-03-31 00:36] daniellemoorhead commented on #853
The quote by @mkllnk was for 3 hours for someone with solid OFN experience or up to 6 hours for someone with less experience PLUS the extra 2-3 hours for code review, test and merge. So the estimate range is 6-9 hours @myriamboure 😄

[2017-03-31 00:37] daniellemoorhead commented on #853
It would be really great if @pacodelaluna or @Em-AK or @ltrls had a go at this and used @mkllnk as for support, a great way to get more experience with the codebase!

[2017-03-31 00:48] yukoosawa commented on #1295
Hiding the tab would definitely be first preference. However an empty state, whilst not great, is still better than what happens currently.

Based on the screenshot it looks like I was testing in Staging2 which was full of fake shops. Perhaps a way to prioritise what solution to go forward with for right now could be determined by how common it is in production (AU or UK or both) for a shop/hub/bu

[2017-03-31 03:15] sstead commented on #1343
@Matt-Yorkley we've agreed it's best to remove the 'display only shop' feature. So if there are no shipping and/or payment methods setup, the shop will show as closed. Testing shows this fix is half way there...

I have an open OC, but either my shipping method and/or payment methods are deactivated.

What's working:
- The shops shows as closed on the shops listing and in the profile (this include

[2017-03-31 03:27] sstead opened #1517 "Deselecting shipping or payment methods in Manage enterprise list doesn't work"
I'm Managing my shop enterprise that has shipping and payment methods already setup. I unclick the tickbox next to a shipping/payment method in the 'enable' column to turn 'off' the shipping method. I click save. I get the banner saying that my enterprise has been updated, but in Shipping/Payment methods I still see the method I just deactivated is still active. If I want to deactivate it I need t

[2017-03-31 03:59] daniellemoorhead commented on #1074
@mkllnk does the above help?

[2017-03-31 05:38] #1510 closed

[2017-03-31 05:59] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58ddf03fd0b68717001778a0)

[2017-03-31 12:13] KeirOsborn commented on #1295
Ok cool, no problem, i'll implement a tab-hiding solution.

Yuko, looking at the live site it does look like most of the shops on the live sites do have description data, associated producers and contact info, but a lot of them don't have groups. I guess the point is that if a tab is very often not applicable, it makes sense to hide it in those cases, because the viewer doesn't feel like they're m

[2017-03-31 13:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58de5417077f3e17008998c8)

[2017-04-01 22:48] Matt-Yorkley commented on #1294
@sstead I've fixed the tooltips and added them to the simple OC form and set the max length on the 'ready for' field.

[2017-04-03 06:13] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58e1e7f91c8c0117003a0744)

[2017-04-03 09:52] myriamboure commented on #1515
I like both you ideas @sstead and I do think that's a need, I have been using it myself in my hub previously.
I think having a specific "demo OC" makes more sense to me, especially for a hub managing multiple sub-hubs/ shopfronts. If you have 2 OC in parallel, I'm afraid the system won't be able which one to choose, no?
Also maybe in some seasons there are less products, but the hub want a demo sh

[2017-04-03 10:00] myriamboure commented on #853
@SimonSarazin it seems the buget will be more around 4-500€ apparently, do you still want to finance it? The OFFrance association doesn't have the ability to pay for that right now... let me know if that sounds ok to you, and I'll ask the guys who can work on it :-)

[2017-04-03 14:02] SimonSarazin commented on #853
It's possible 300€ for the moment. To get more, l'll need answer from
financial support from "au panier ruse" association in Lille (we completed
3 Call for project this week)

Le lun. 3 avr. 2017 à 12:00, Myriam <notifications@github.com> a écrit :

--

Simon Sarazin
0684284240
http://simons.fr

[2017-04-04 11:07] Matt-Yorkley commented on #1343
@sstead I've updated the closed (non-configured) shops.

- They now show the proper "orders closed" header at the top of the page.
- If there's an open order cycle for the shop you can still see the products but can't checkout.

[2017-04-04 13:39] myriamboure opened #1520 "States don't update, not possible to fill in a foreign address with last release"
On staging in France we have the v.1.8.9 version, and we have the Italian local states imported. I want to create a new enterprise, I can select "italy' in country menu, but the states don't update, so I can't select a state, so the address can't be found ("AIN" in the example is a French state).

![screenshot from 2017-03-30 17-41-15](https://cloud.githubusercontent.com/assets/8135376/24659397/dc

[2017-04-04 13:41] myriamboure commented on #1520
I label this as critical as we have a spanish user, so we can't  upgrade while this is not solved... @pacodelaluna do you think you can have a look at what happens?

[2017-04-05 00:56] daniellemoorhead commented on #1520
Did you mean release 1.8.8 @myriamboure?

[2017-04-05 02:42] daniellemoorhead commented on #1074
@sstead can you see if this is happening for you as well in your testing? Ta!

[2017-04-05 04:42] sstead commented on #1074
@mkllnk Yes, it's happening on Staging2, so probably Aus Production -
![image](https://cloud.githubusercontent.com/assets/10843056/24690086/07a85aee-1a0e-11e7-9f3a-78c45be99092.png)

[2017-04-05 05:59] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58e487a5e04c3e1c00a71c95)

[2017-04-05 06:44] sigmundpetersen commented on #1520
Yes I think so @daniellemoorhead , this failed for Scandinavia when updating from 1.8.5 to 1.8.7 and still din't work when updating to 1.8.8. We can't even choose country as France say they can. Our connected discussion here https://community.openfoodnetwork.org/t/choosing-country-doesnt-work-after-upgrade/798/5

[2017-04-05 06:54] #1020 closed

[2017-04-05 07:21] #1470 closed

[2017-04-05 07:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58e4a3c2238ad01700020b2b)

[2017-04-05 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58e4f9aab048a61b008bd056)

[2017-04-06 02:48] oeoeaio opened #1523 "Allowing customers to view already ordered items for the same OC in the cart"
And navigate to a page where they can edit such orders if this is allowed.

[2017-04-06 07:58] mkllnk commented on #1074
@oeoeaio or @RohanM I'm a bit stuck here. When somebody pays with PayPal, a payment with fee is created. The payment is in "checkout" state. We need this before the payment is done to charge the fee. The user is redirected to PayPal and pays. When the payment is confirmed, BetterSpreePaypalExpress creates another payment, this time with state "completed". It has a fee as well. And that's why the f

[2017-04-07 03:52] sstead opened #1526 "Supplying producer can view Reports tab, but gets Snail Page (something went wrong)"
On Aus production, if I'm logged in as a producer who only sells through a hub (I don't manage the hub, just supply to it), when I'm in my dashboard I can see the Reports tab, but when I click on it I get the Snail Page.

![image](https://cloud.githubusercontent.com/assets/10843056/24784804/5f4b688c-1b98-11e7-94ed-4939c67c4a6c.png)

**Suggested fixes...**

**Easy suggested fix:**
- If a user has n

[2017-04-07 07:24] oeoeaio commented on #1520
@sigmundpetersen I can't seem to get this to work on any recent version. I have tried v1.8.5, v1.8.4 and v1.8.0. Are you sure it ever worked? I can't see any code that would be doing the job of updating the list of states...

[2017-04-07 07:37] sigmundpetersen commented on #1520
@oeoeaio as you see on the map https://www.openfoodnetwork.no/map we have managed to configure an enterprise to a Swedish address. The address stays correct in the background it seems as you can see on this picture (Uppsala is in Sweden), but now we're only able to choose Norway as country.

![address](https://cloud.githubusercontent.com/assets/1451633/24789974/8e3389b8-1b75-11e7-8747-733b668bfa33

[2017-04-08 20:30] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58e94882c9339b001856e9a6)

[2017-04-09 03:07] mkllnk commented on #1483
I just did it.

[2017-04-09 03:07] #1483 closed

[2017-04-10 13:08] enricostano commented on #1107
We'll need this for spanish instance too. cc/ @sseerrggii

[2017-04-10 15:09] sseerrggii opened #1530 "Add customer without account"
Testing the platform in order to reproduce the model of buyer groups I did the following steps:

1. Create an enterprise (hub) and configure as private (only for specific customers)
2. Go to the customer list and add a customer email that has not yet registered on OFN
3. Tell the user to create the account and access to the hub shopfront

**Results:**
 - the customer cannot access the shopfront
 -

[2017-04-10 15:21] sseerrggii commented on #1530
Closing since already covered by https://github.com/openfoodfoundation/openfoodnetwork/issues/1493

[2017-04-10 15:21] #1530 closed

[2017-04-11 12:51] Matt-Yorkley commented on #1453
@jeronimo is this PR ready for testing/review? If you ping me or @lin-d-hop or someone from the UK team when you've finished a PR and it's ready, we can add it to the testing pipeline to move things along. :)

[2017-04-11 12:59] lin-d-hop commented on #1453
Hi @Matt-Yorkley, thanks for the ping on this! I've spoken to @jeronimo briefly about this one. It looks good but might benefit from some further improvements to UX as the current behaviour is very confusing.

@OliverUK Could you test that this fix works as expected. Could you also look at the way it currently works and make some suggestions about what would be more clear from a user perspective w

[2017-04-11 13:27] Matt-Yorkley commented on #1504
@lin-d-hop Just been trying to replicate this, but haven't managed it so far. I tried creating various different products using volume, weight, and items as the unit type in case that made a difference...

Any more info to go on?

[2017-04-11 13:45] Matt-Yorkley commented on #1504
Having stock zero is fine for on demand products though, right? Just did 6 test products and they were all created successfully...

[2017-04-11 13:46] lin-d-hop commented on #1504
'On demand' should mean that they then appear in the shopfront as stock level is irrelevant.
The issue is that when created with 'on demand' they then don't appear in shopfront as the stock level is zero. The 'on demand' should cancel out zero stock.

[2017-04-11 16:09] Matt-Yorkley commented on #1504
@lin-d-hop Ahh... so they do appear in the backend, but they don't show up in shops? I'll take another look.

[2017-04-11 16:47] OliverUK commented on #1453
@lin-d-hop
Sure. Is there a build for it?

I noticed on production that if I type Stroud, I only get enterprises with Stroud in the name but if I type Stroud+[space] I get all nearby enterprises. Of course we are all used to the Google-style search as you type and so we don't expect a space or return to make any difference. But in this case it does.

Personally I think the search as you type which

[2017-04-11 19:36] Matt-Yorkley commented on #1504
Just had another go at replicating this, and new products with `on_demand` all appeared in the shopfront...

[2017-04-12 00:55] daniellemoorhead commented on #1074
@lin-d-hop @Rocksj @NickWeir63 this issue seems to be bigger than we thought, and already @mkllnk has spent a day trying to understand what's causing this. We just want to make sure that you're happy for us to continue on this, there'll probably be another couple of days required (@mklink can you please describe the next steps in a comment on here so they can see what you'll be doing), where Maike

[2017-04-12 04:22] sstead commented on #1294
Good to go - the producer only order cycles include the fix now, and the tooltip text is complete.

[2017-04-12 04:40] mkllnk commented on #1294
Fixed in https://github.com/openfoodfoundation/openfoodnetwork/pull/1532.

[2017-04-12 06:57] NickWeir63 commented on #1074
this is a decision for @Rocksj and @lin-d-hop   I will go with whatever they decide.  thanks

[2017-04-12 10:54] lin-d-hop commented on #1491
Notes from Rob:
If you grep for `insufficient_stock_lines` in the `orders_controller_decorator` you should find the logic. If this is not working properly, then it is just a bug, I don't think it represents a new feature.

I'm just looking now and perhaps the problem is that we only check when item quantities are updated (ie shopfront and cart pages) and a final check isn't performed at the checko

[2017-04-12 10:55] lin-d-hop commented on #1491
@stveep @Matt-Yorkley might either of you have a moment to take a look at this issue in between tasks?

[2017-04-12 11:04] myriamboure commented on #1491
Is it the same issue I documented here: https://github.com/openfoodfoundation/openfoodnetwork/issues/1335 ?

[2017-04-12 11:10] lin-d-hop commented on #1491
Looks like it :-)

[2017-04-12 13:04] enricostano opened #1533 "Inconsistency issue in test environment"
Hi,

with @Em-AK we discovered that if a dependency (`spree` gem for instance) changes some [default configuration](https://github.com/openfoodfoundation/spree/commit/c594d6111b0c7e4fafe03b548748049bf5a7b28a) we still get the old value since is cached in `tmp/cache/paralleltests` directory. As a result we were getting different results for some test in Travis CI and our local environment.

This wa

[2017-04-12 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58ee34292c4584001b3f005c&i=gh&m=ra)

[2017-04-12 16:05] OliverUK commented on #1186
@lin-d-hop  unable to deploy I'm afraid

[2017-04-12 16:07] OliverUK commented on #1471
@lin-d-hop I can't find a build to test

[2017-04-12 16:52] OliverUK commented on #1452
I have tested this and it looks great. Back office UX makes so much more sense now. I've played with the settings and haven't found any major bugs and it all displays ok in the front.

The only thing I've found where it can get confusing (and break) is where the unit is "item".
In the variant edit screen the unit description field is left blank. As long as I don't touch it and only use BEP to chan

[2017-04-12 16:54] OliverUK commented on #1452
I'm not sure I'd let this hold up deployment and I'm not sure how many people even use the variant edit screen.

[2017-04-12 19:25] Matt-Yorkley commented on #1452
Ah, thanks @OliverUK. Yes, I think unit description should only apply to "volume" or "weight" items. I've just pushed a quick update, if you want to check it.

[2017-04-13 13:45] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58ef810f64db7300192e8164&i=gh&m=ra)

[2017-04-14 13:23] OliverUK commented on #1452
Hi @Matt-Yorkley
Would it make sense to remove unit description also from other kinds of units? It's still there in weight(g) for example and if I enter anything, the listing produces the same as above, only this time it would say "300g test". I can see there may be rare cases where you would want something added like this (e.g. 300g pack) but it may be more likely people write a g or "grams" in i

[2017-04-14 16:18] Matt-Yorkley commented on #1452
@OliverUK I think it'd be good to keep it in. It's somewhat useful for specifying "1kg sack" or "250g steak" etc.

Maybe it needs a placeholder description that gives an example, so people don't end up writing "grams"...

[2017-04-14 16:27] Matt-Yorkley commented on #1452
@OliverUK Okay, I've added a placeholder to the field.

[2017-04-14 16:33] OliverUK commented on #1452
@Matt-Yorkley does it need testing again, do you reckon?

[2017-04-14 16:39] Matt-Yorkley commented on #1452
I think it's fine.
![screenshot from 2017-04-14 17-38-54](https://cloud.githubusercontent.com/assets/9029026/25049336/4e98436a-2139-11e7-90bb-e5c0d211ce10.png)

[2017-04-18 13:56] lin-d-hop commented on #1335
Notes from Rob:
If you grep for insufficient_stock_lines in the orders_controller_decorator you should find the logic. If this is not working properly, then it is just a bug, I don't think it represents a new feature.

I'm just looking now and perhaps the problem is that we only check when item quantities are updated (ie shopfront and cart pages) and a final check isn't performed at the checkout p

[2017-04-18 13:56] lin-d-hop commented on #1335
Blocks #1031

[2017-04-18 14:03] lin-d-hop commented on #1491
Closed - duplicate

[2017-04-18 23:40] mkllnk opened #1534 "Email sending fails after changing mail method"
**Scenario:** An OFN instance is configured to use a normal email account to send emails. The password of that email account is changed. The OFN admin has to update the password within OFN as well.

**Problem:** After this change, notification emails fail.

**Background:**
Emails are sent using a mail method configured via Spree (Admin, Configuration, Mail Methods). An admin can change the mail me

[2017-04-19 00:07] sstead opened #1535 "Name the profile editing space 'Enterprise Settings'"
When talking to users or writing in the User Guide, I find it difficult to refer to the 'profile editing section' or 'profile managing area'. This place (see below), doesn't really have a short sweet location name. Users often aren't clear on where this place is, and I think a clearer name would help with this.

![image](https://cloud.githubusercontent.com/assets/10843056/25157810/ecba4a24-24e6-11

[2017-04-19 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58f6b6a5e31d660018b5a399&i=gh&m=ra)

[2017-04-19 01:25] sstead commented on #1488
Some early bugs spotted...
**Something funny with the date:**
Regarding order ending 634... I just placed this order, it's April 19th, but in transaction history the order shows as occurring on May 19th. The time is correct, 11:12
![image](https://cloud.githubusercontent.com/assets/10843056/25159339/8da87e00-24f2-11e7-92ba-73f3dccdcf69.png)

**Shipping and Payment method fees not showing when edit

[2017-04-19 03:14] daniellemoorhead commented on #1074
@Rocksj and @lin-d-hop how would you like to proceed with this?

[2017-04-19 04:26] sstead commented on #1523
This is what it looks like in the dropdown, the edit cart page and checkout...
![image](https://cloud.githubusercontent.com/assets/10843056/25163138/66fb728a-250b-11e7-937b-5dc7f58d8209.png)

ISSUE- this is capturing cancelled orders
![image](https://cloud.githubusercontent.com/assets/10843056/25163160/93c0395e-250b-11e7-8927-8c217014234b.png)

[2017-04-19 04:37] sstead commented on #1490
ISSUE - This also has the date issue (it says May 26 when it should say April 26).
![image](https://cloud.githubusercontent.com/assets/10843056/25163413/8a3fae3a-250d-11e7-8280-fbec575b7b27.png)

[2017-04-19 04:49] sstead commented on #1489
YES- I can see any completed orders for any open OCs in a separate section
This works correctly. Only showing if Edit Orders is allowed.

YES- I can view details of the orders such as: when the OC closes, the number of items, the shipping and payment methods, and the order and payment totals
Date of order is currently incorrect by 1 month, as noted in #1488

YES - I can click through to "edit" the

[2017-04-19 04:55] sstead commented on #1083
Looks good.
As already noted, cancelled orders are lingering. They also linger in the cart dropdown.

[2017-04-19 05:50] sstead commented on #1343
Ok this looks good. We still have some 'dispaly only' functionality but it's much more clear that the shop is closed.

This is what shows if a shop has an active OC but no active shipping and or payment methods:

![image](https://cloud.githubusercontent.com/assets/10843056/25164986/739ec3f0-2517-11e7-9942-f08ca4885b5e.png)

These shops won't show in the shops listing, and their profile links show

[2017-04-19 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58f6fcf461608d0018920551&i=gh&m=ra)

[2017-04-19 06:48] #1343 closed

[2017-04-19 07:39] myriamboure commented on #1484
@ltrls any thoughts on that?

[2017-04-19 07:52] myriamboure commented on #1520
When reading @oeoeaio comment I tried something else... I changed the country in the address of the hub, then save. An error message appears:
![screenshot from 2017-04-19 09-49-45](https://cloud.githubusercontent.com/assets/8135376/25168949/99ab1c56-24e5-11e7-91b5-ea7d7e9b3085.png)
BUT when I click again on "address" I see that now the right list of states is displayed according to the new country

[2017-04-19 07:52] #1520 closed

[2017-04-19 07:56] myriamboure opened #1538 "States don't update dynamically when you change country"
## Description
If I create an entreprise in the back office / modify a profile and want to use an address which is not in the main instance country, the list of states doesn't update.

## Expected Behavior
When I change the country, the states list update automatically to those corresponding to that country.

## Actual Behavior
When I change the country, the states list available remains the one o

[2017-04-19 09:13] myriamboure opened #1539 "Performance issue : system doesn't manage to display report"
In France when I click on "order cycle customer total", depending on the fliters I set up, the system doesn't manage to load the page and I got the snale page. Especially when I set up for example start date 01/01/2017, until 31/03/2017, I got the snale, I think it's too much data to display and I guess I get a time out.
The problem is that a user wants to do that export every three months because

[2017-04-19 09:15] myriamboure commented on #1539
@sstead is it something people are experiencing in Australia? For info in the case of this user he has 12 hubs and has lots of sales so there is a big amount of data... I guess that's why we are having timeout ? Ping @pacodelaluna as you said you would try to have a look at it.

[2017-04-19 09:30] kirstenalarsen commented on #1539
I’m not sure if it’s in the code or on the server, but we have dealt with things like this in the past by increasing timeouts - so the snail takes longer. @rohanm is that something that can be handled at instance level?

[2017-04-19 09:47] enricostano commented on #1539
Maybe we should investigate pagination?

[2017-04-19 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58f76ea83cc2520019c97482&i=gh&m=ra)

[2017-04-19 16:22] ltrls commented on #1484
oh I hadn't seen that!
I should have asked you about this question while writing the PR, but I really thought the distribution of a private key would be a dealbreaker. I'm convinced that the possibility of an attack is negligible, because it should be a targeted attack, using an exploit in a not commonly used software (run as an unprivileged user, in specific places at certain times). I mean, havi

[2017-04-19 16:56] jeronimo commented on #1539
Pagination most likely will help but it can be the same for PDF/CSV export.

There is currently some work done on implementing UI-Grid (including "order cycle customer total") https://github.com/jeronimo/openfoodnetwork/tree/uk/1316-ui-grid-reports
It might fix the issue. But is it possible to get database dump to reproduce the issue and to try to fix it for old and new versions?

[2017-04-20 02:07] oeoeaio commented on #1535
Cool, I'm happy with either of those suggestions. I guess this job is basically just setting up translations that allow the buttons and the title to be set. @daniellemoorhead should we lock down a spec for this and stick it in `rubiesfornewbies`?

[2017-04-20 12:03] jeronimo commented on #1335
So far after some research it looks like the problem is in `Spree::Config[:allow_backorders]` which by default is `true`.
Even in tests it is set to `false` manually so tests always pass.

Question is? Do we need to allow backorders?

[2017-04-20 13:06] myriamboure opened #1541 "Issue in "change pack" option 2 not displaying"
Open 2 description is the same as option 1 and a text "producer description text 2" appears. On v 1.8.9 deployed on the French staging.
![screenshot from 2017-04-20 15-03-24](https://cloud.githubusercontent.com/assets/8135376/25232188/bf69ca1e-25da-11e7-8a50-fb720392516a.png)

@pacodelaluna is it connected to something you have done with translatability or not?
@sstead do you have the same issue i

[2017-04-20 13:12] myriamboure opened #1542 "Translations missing"
On general shop page, the two bottom button:
![screenshot from 2017-04-20 15-09-26](https://cloud.githubusercontent.com/assets/8135376/25232397/6d1fc046-25db-11e7-8453-33cfe241d315.png)

I will edit this post and add them on the flow while I do some testing now.

[2017-04-20 13:48] jeronimo opened #1543 "Firefox insufficient stock available alert message loop in /cart page"
In `/cart` "Edit your cart" page when clicking `up` on `input type="number"` on Firefox and when the "insufficient stock available" message dialog pops up - it gets into loop and can't get rid off it until page reload.

<img width="582" alt="screen shot 2017-04-20 at 14 38 25" src="https://cloud.githubusercontent.com/assets/88912/25233628/618599e4-25d7-11e7-9def-94e1d543f924.png">
In this particul

[2017-04-20 13:59] lin-d-hop commented on #1031
@OliverUK
Can you test this again but following the tip in #1335 first please?
Soo...
1) check inventory settings to confirm that Backordering in not enabled.
2) Repeat your testing to confirm if the order can still be made.

Thanks!

[2017-04-20 15:26] OliverUK commented on #1031
@lin-d-hop
I don't usually get involved with super admin settings and didn't know this existed but I've done what you said and disabled backorders. This resulted in the second order for the same items getting bounced back to the cart with a message saying that one item in the order has become unavailable.

As far as I could tell, everything else still behaves as experienced above.

I take it these

[2017-04-20 15:34] lin-d-hop commented on #1031
@OliverUK I didn't know it existed either so nay bother about that!
I've turned it off on UK production too as this is not a feature anyone has been using or wanting. Thanks for playing with it.

So as far as we can tell this issue is now complete and ready for AU testing and merge, yes?

[2017-04-20 15:37] OliverUK commented on #1031
LOL So we were all on a wild goose hunt, eh?
Agreed, should be good to go.

[2017-04-20 15:38] lin-d-hop commented on #1031
:-) Happens

[2017-04-20 15:49] lin-d-hop commented on #1031
Could I just confirm @OliverUK, did you test THIS enhancement? Did you test that if the item goes out of stock before the basket is _retrieved_ you can't make the purchase?

[2017-04-20 16:27] OliverUK commented on #1031
What exactly is meant to happen @lin-d-hop ?
I just had a quick go and it seems that the item simply doesn't appear in the basket when I log back in. Is that what we are looking for.

[2017-04-20 16:51] lin-d-hop commented on #1031
I guess it would be better if the user was informed, but at least they can't make the purchase.
Hrm...
@sstead We've discovered that as long as 'Allow Backordering' in Inventory settings is not set then the product just drops out of the basket when the user logs back in if it goes out of stock between the basket creation and the user ordering. Obviously this isn't the ideal functionality but would

[2017-04-21 02:19] sstead commented on #1541
Hey @myriamboure , yes, we are also having this issue...
![image](https://cloud.githubusercontent.com/assets/10843056/25259975/a75207b8-268c-11e7-9635-d6c4a836fa4e.png)

[2017-04-21 03:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=58f975c35952f7001a668269&i=gh&m=ra)

[2017-04-21 03:47] daniellemoorhead commented on #1074
Removing the Aus Review label from this until we have confirmation to go ahead.

[2017-04-21 04:06] sstead commented on #1335
Can I check/confirm, the issue Myriam was facing can be solved by changing the superadmin setting to disallow "Backorders"?

[2017-04-21 04:11] sstead commented on #1031
I'm happy to retest this, but I predict this issue will still be a problem (I don't think it's related to the one above).

I've checked on Production (where backorders are disallowed), and the issue spotted in testing (below) is occurring on production. This means that if a customer is shopping, they have an item in their cart, and then the hub removes the item from the OC, they can still purchase

[2017-04-21 04:23] #1294 closed

[2017-04-21 04:24] #1344 closed

[2017-04-21 05:00] daniellemoorhead commented on #1484
@oeoeaio @mkllnk @enricostano see @ltrls comment above. Where do we go with this next?

[2017-04-21 08:46] enricostano commented on #1484
Did we talk with them? My vote is still against hardcoding a private key in the code. I think that web security is already so brittle that adding more unknown breaches will make it worst. Even if we think it's a really narrow broken window... people usually get "creative" 😂

What's the extent of the hassle? I mean how many instances will use this feature? Can we make it disabled by default, docume

[2017-04-21 11:41] mkllnk commented on #1484
What I understood from Rob's post:

* The client has the private key to decrypt messages.
* The OFN server has the public key to encrypt messages.

Questions:

* What about messages sent from the client to the OFN server?
* Is there any communication with Qz servers?
* Can we change the Qz client source code?
* How difficult is it to compile the Qz client with a different key?

I agree with @enric

[2017-04-21 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=58fa11a8d465610018d0fa41&i=gh&m=ra)

[2017-04-24 04:36] mkllnk commented on #762
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **spree/admin/line_items#update**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/5684967607141bdbdac2f568?event_id=58fd80b1011e2d00190cd4b9&i=gh&m=ra)

[2017-04-24 09:17] myriamboure opened #1546 "Upload and display organic certificates when clicking on the property"
As a producer / hub manager I want to be able to upload a PDF document when associating a property to a producer / product.
Today I can only write a description. Producers and hubs want to be fully transparent and upload the organic certificate.

### Producer vs product properties
Usually there is not one certificate per product, it's one document for a producer with the list of certified products

[2017-04-24 11:46] lin-d-hop commented on #1074
Hi @Rocksj,
Am I correct in thinking this messes up your records and reports in OFN? What would you say is the priority of this to you? On a scale of 1 to 10 where
1 = I can live with it, just a little ugly
10 = This causes me loads of extra work I wish I didn't have
If greater than 5 I would say we get this ticked off now. It'll be a fair whack of funds but if this is a real pain then sounds like

[2017-04-24 12:21] lin-d-hop commented on #1494
The solution to #1457 should also cover this...

[2017-04-24 12:39] lin-d-hop commented on #1295
That's my understanding @KeirOsborn. Tab-hiding for groups sounds like highest priority, though might as well do all at once :-)
Are you still happy ticking on with this?

[2017-04-24 15:37] myriamboure commented on #1539
@pacodelaluna do you have an idea where it can come from ?

[2017-04-24 15:39] myriamboure commented on #1539
As an admin I an't even access this page anymore, I get the snale straight away, and I have a user who needs support :-o

[2017-04-24 15:43] myriamboure commented on #1473
They don't work either on the order cycle page anymore.

[2017-04-25 10:19] Rocksj commented on #1074
Ok, its probably around a 5 at the mo. It's a nuisance and makes customer account management a pain but the worse thing is it looks a bit strange on customer invoices. It can probably wait to be part of a more comprehensive overhaul of customer accounts as it moves up the UK Dev priority list? Would that be a sensible move @lin-d-hop?

[2017-04-25 22:29] KeirOsborn commented on #1295
Hi,

Yep cool no probs, plan is indeed to do it all at once.

It turns out to be a bit more complicated than I first thought because each tab is given a specific width. When hiding tabs you have to also decide how to re-size the remaining ones in order to give prominence to the about tab as in the original layout.

But yes, happy to proceed with this. I have some free time this weekend so should b

[2017-04-26 08:50] mkllnk opened #1549 "Automatically create pull requests for the transifex branch"
Following https://community.openfoodnetwork.org/t/the-transifex-process/831/8.

Modify the scripts on our CI server to create pull requests. Whenever a locale is translated, we merge it into the transifex branch. At the same time we should check via the Github API if there is an open pull request for that branch. If there is no open pull request, we should create one. Whenever we push new commits

[2017-04-26 09:10] enricostano commented on #1549
One thing I would add is that assuming that Transifex process is the only way to add translations to OFN, I would create a bad practice check in CI to avoid commits to change other locale related files than `config/locales/en.yml`.

And we really should have only one way to add translations IMHO. What do you think?

[2017-04-26 11:39] pacodelaluna commented on #1539
From a quick view at the code, I think there are some issues with the data treatment, we should optimize the Postgres requests instead of working directly with data structures in Ruby which is costly.

[2017-04-27 02:19] mkllnk commented on #1549
That is tempting, but we haven't decided yet if we want to make Transifex the only option. It is a great tool, but has some disadvantages:

- Dependent on a third party. What if Transifex goes down?
- Not build on free software. Lock-in and value alignment.
- No offline translations.

There is some way to make OmegaT work with Transifex, but it's not ideal yet.

At the moment, you can open pull re

[2017-04-27 04:48] mkllnk commented on #1351
It's just a minor code change. Maybe I can look into it when looking at production deploy as well.

[2017-04-27 07:25] enricostano commented on #1549
Completely agree, the "bad practice" thing could just be ignored in some cases (offline translations for instance).

Maybe we can try to make Transifex the only option for a green PR for now meanwhile we look for a better and FLOSS solution. I say so because the lack of an *official option* :tm: can generate confusion.

[2017-04-27 09:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5901b327c7b5e60019a2d853&i=gh&m=ra)

[2017-04-27 10:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5901c136df94970018ee917c&i=gh&m=ra)

[2017-04-27 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5901faa63d57670018465fb2&i=gh&m=ra)

[2017-04-27 19:34] lin-d-hop commented on #1031
@jeronimo Could you take a look at this again please? See Sallys comment above, sounds like 'Allow backorder' is only one part of the issue. Robs comments above should give you direction on where to start to track it down. Thanks!

[2017-04-27 20:18] lin-d-hop commented on #1335
@myriamboure can you confirm sallys comment above?

[2017-04-28 07:42] #1509 closed

[2017-04-28 07:55] myriamboure commented on #1335
@lin-d-hop @kirstenalarsen @sstead I tested this, and yes if I uncheck the "allow backorder" checkbox and do the same test, I can't proceed to check out and I get the message "an item in your cart has become unavailable" (non translated by the way, it seems there is WIP on it so great if the translation can be added ;-))
![screenshot from 2017-04-28 09-44-48](https://cloud.githubusercontent.com/as

[2017-04-28 07:58] myriamboure commented on #1335
@lin-d-hop @kirstenalarsen @sstead I tested this, and yes if I uncheck the "allow backorder" checkbox and do the same test, I can't proceed to check out and I get the message "an item in your cart has become unavailable" (non translated by the way, it seems there is WIP on it so great if the translation can be added ;-))
![screenshot from 2017-04-28 09-44-48](https://cloud.githubusercontent.com/as

[2017-04-28 07:59] myriamboure commented on #1335
I'm wondering if that "allow backorders" button shouldn't be at the hub level? I guess some hubs might be organized in a way that they manage backorders and reorder before delivering... I don't think this should be decided for the whole instance. What do you think @lin-d-hop @kirstenalarsen

[2017-04-28 11:12] lin-d-hop commented on #1335
Agreed re hub level on 'allow backorders'. But zero priority and probably a maze of complications. I say open when feature is requested.

Yep, we can close this. We've reopened the issue we spotted which turns out is not a duplicate of this one :-)

[2017-04-28 11:12] #1335 closed

[2017-05-02 09:06] OliverUK commented on #1031
@sstead @lin-d-hop
Did Lynne not turn off backorders after testing? So the problem was occurring while they were allowed?

[2017-05-02 09:09] lin-d-hop commented on #1031
Yep

⁣Sent from BlueMail ​

On 2 May 2017 10:06, at 10:06, Oliver M <notifications@github.com> wrote:

[2017-05-02 13:35] jeronimo commented on #1031
I have added two additional feature tests with the code @levent has submitted. In both cases (login back with incomplete order) it doesn't let to proceed from shopfront nor cart if there is insufficient stock when backorders are disallowed.
I tested it manually in my local dev environment as well as the code passed in Travis (though it allows backorders by default and I had to disable inside tests

[2017-05-03 02:44] mkllnk commented on #1039
Now translatable via #1548.

[2017-05-03 02:44] #1039 closed

[2017-05-03 03:10] sstead opened #1553 "Update text on Australia's welcome emails - translations"
This is the first email you get when registering...
![image](https://cloud.githubusercontent.com/assets/10843056/25647029/cae7ec3c-3001-11e7-947c-11ed8515023b.png)

Can we remove the 'Feedback button' part?

[2017-05-03 03:11] sstead commented on #1553
This is the second email. I think it's ok...
![image](https://cloud.githubusercontent.com/assets/10843056/25647050/f94f5420-3001-11e7-9b57-03bb4247e687.png)

[2017-05-03 03:14] sstead commented on #1553
This is the email you get after confirming you email...
![image](https://cloud.githubusercontent.com/assets/10843056/25647058/0d091172-3002-11e7-97cd-c21361972efc.png)

Suggested rephrase of text.... (italics is a link or customised text)

Welcome, _Dani_!
Thank you for confirming your email address. _Danielle's Farm_ is now part of _Staging 2_!
You can manage your account by logging into the _Adm

[2017-05-03 03:15] sstead commented on #1553
Password reset email...
Can we add our email 'hello@' so that people don't reply to admin@openfoodweb with their questions...
![image](https://cloud.githubusercontent.com/assets/10843056/25647118/83dd6c6c-3002-11e7-8051-297682ac7f04.png)

[2017-05-03 05:34] sstead opened #1554 "Report improvements - Enterprise fee when >1 fee, and tax breakdown by product"
Two simple report additions that would be helpful

a) If a shop has enterprise fees on >1 enterprise, there's no report that splits out what enterprise fees were gathered by each party. E.g. The hub takes 10% and the delivery service takes 5%. The reports only give a total enterprise fee value. We need to have a line for each fee going to each party.

b) The OC customer totals report doesn't have

[2017-05-03 10:56] lin-d-hop opened #1556 "Controller Tweak to enable Embedable Pages"
To enable pages to be embedded rails controllers need to be tweaked adding the following line before render action of whichever controller actions:
response.headers.delete "X-Frame-Options"

- [x] An admin checkbox for "enable embedded shopfronts"

- [x] A general helper method that checks the admin setting is enabled, then unblocks iframe use

- [x] The method gets called selectively on the neces

[2017-05-03 10:59] lin-d-hop commented on #1074
@mkllnk @stveep @oeoeaio Quick q. Do you think this issue will rear it's head in Stripe as well?

[2017-05-03 13:00] myriamboure commented on #1494
Hum... it will partly solve it @lin-d-hop , but not really. Let's say member A is member of the buying groups for one year, but stop being a member. The buying group who manages a private shop want to remove this user so that he doesn't have access anymore (or the hub should use a tag method but then the private shop feature is no point...) So for me if a hub want to remove a user with existing or

[2017-05-03 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5909e3a6e892a6001ae36c3d&i=gh&m=ra)

[2017-05-03 23:23] mkllnk commented on #1074
It depends on the implementation. The paypal module creates two payments and only the second one is completed. If stripe does the same, we have the same problem. I tried to find a general solution for this which makes it hard. If the stripe module creates only one payment, we don't have this problem there.

[2017-05-04 12:00] Rocksj commented on #1074
Can we test this for Stripe? @mkllnk @lin-d-hop

[2017-05-04 12:06] lin-d-hop commented on #1074
@oeoeaio and @stveep are working on the Stripe integration. Can you comment on the above?

If this is an issue with the stripe implementation I'm moving it up the priority list!

[2017-05-04 15:52] jeronimo commented on #1494
I think there was a serious reason to bind customer with order in a such stiff way. @lin-d-hop, maybe someone can help us identify why was that and if we can make it not that strong?

[2017-05-05 02:20] oeoeaio commented on #1490
Should be fixed:
- Wrong date issue
- Banner showing cancelled items
- Showing time available to alter orders when more than one

I think these things are ok for now:
- Dismissing banner

[2017-05-05 02:20] oeoeaio commented on #1523
All of this should be fixed now.

[2017-05-05 04:23] oeoeaio commented on #1488
Should be fixed:
- Added a 'changes allowed until' alert on the order editing page
- Prevented user from removing the last item of an order, suggests that they cancel the order when they do this. I though this was safer than just cancelling it.
- Changes to quantities on a completed order should now draw from inventory correctly (this was an existing issue in the admin section, which should also b

[2017-05-05 05:33] sstead commented on #1488
Should be fixed:
- Added a 'changes allowed until' alert on the order editing page (YES)
- Prevented user from removing the last item of an order, suggests that they cancel the order when they do this. I though this was safer than just cancelling it. (YES)
- Changes to quantities on a completed order should now draw from inventory correctly (this was an existing issue in the admin section, which s

[2017-05-05 07:41] lin-d-hop opened #1560 "Complete Placeholder Creation"
There remain approximately 83 files that require language string placeholders.

Can these all be replaced and the original translation added to en.yml.

Time Estimate: 8hrs

[2017-05-05 07:46] lin-d-hop opened #1561 "Replace Open/Closed Icons"
The "open" and "closed" icons still need to be replaced.
We need to discuss and decide which icons to use.
And we need to replace these icons in the current symbol font.

From @mkllnk via Slack:
Icons are in a font. And we would like an icon that does not contain text. Maybe a first step would be to replace the icon just with a text label. The internationalisation discussion contains a lot of idea

[2017-05-05 07:51] lin-d-hop opened #1562 "Add i18n-js Gem"
Add Gem for I18n javascript translations
https://github.com/fnando/i18n-js

This Gem should take care of the following steps:
1) We need to pre-compile a Javascript locale file for each language.
That requires one asset file per language.
We can then compile only those locales defined in the app configuration.

2) The Javascript lacks a fall-back feature to show text of the default locale if the s

[2017-05-05 07:58] lin-d-hop opened #1563 "UI for Language Switching"
We need a user interface to switch the language. That could be a simple button in the navigation bar.

Button sets the new locale for the user and then reloads the page in the new language.
The Javascript UI just uses the asset the was loaded depending on the locale setting.

Design Suggestions:

Desktop 1 language = no change

Desktop 2 languages:
![header-3](https://user-images.githubusercontent

[2017-05-05 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=590c86a9d2f20600183d84ba&i=gh&m=ra)

[2017-05-06 03:34] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::InternalServerError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=590d442af04d2b00189fa651&i=gh&m=ra)

[2017-05-09 11:53] daniellemoorhead commented on #1074
Will do @lin-d-hop :)

[2017-05-09 23:48] sstead commented on #1490
Should be fixed:
- Wrong date issue (YES)
- Banner showing cancelled items (YES)
- Showing time available to alter orders when more than one (YES)

I think these things are ok for now:
- Dismissing banner

[2017-05-10 00:05] sstead commented on #1523
Just checking these things are fixed...
- ISSUE- this is capturing cancelled orders (YES)
- ISSUE - there's an inconsistency in how items are counted. This is minor but would be nice to be consistent. (YES)

Not done, and probably not a priority...
- Suggestion for the Order Confirmation Page...regarding turning the Save button to grey if someone's just checked out.

[2017-05-10 00:33] oeoeaio commented on #1074
Hi @lin-d-hop, sorry for the slow response. Head buried and all that.

To the best of my understanding/knowledge, this problem shouldn't affect Stripe as the processing of payments does not involve the creation of multiple payments. I will try to confirm this later today.

[2017-05-10 01:01] sstead commented on #1493
@Em-AK and @oeoeaio . I came across this bug again while testing Standing Orders. I think it will be important that this bug gets fixed before standing orders launches because when people start to use standing orders they will likely setup accounts and standing orders for their customers, so we need to be sure that those customers will be able to login.

[2017-05-10 02:13] oeoeaio commented on #1523
@sstead, the save button should be disabled and slightly faded out when no changes have been made (ie. when an order has just been confirmed or after the order is saved). Is this not happening?

Should look like this before:
![screen shot 2017-05-10 at 12 11 37 pm](https://cloud.githubusercontent.com/assets/2067859/25880305/f84e4bbc-3579-11e7-9ce4-91f4ec7a595a.png)

And like this when there are ch

[2017-05-10 02:56] sstead commented on #1523
@oeoeaio Yes sorry it's done

[2017-05-10 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=591290533f1f580019f0ca2c&i=gh&m=ra)

[2017-05-10 04:41] kirstenalarsen commented on #1493
probably tag Danni as well Sally so it’s on her radar for scheduling?

[2017-05-10 04:51] sstead commented on #1493
@daniellemoorhead  can we consider this in scheduling?

[2017-05-10 05:50] sstead commented on #1488
These are now fixed:
- Changes to quantities on a completed order should now draw from inventory correctly (this was an existing issue in the admin section, which should also be fixed now). (YES)
- Changes to quantities on a completed order should now update shipping and transaction fees (this was an existing issue in the admin section, which should also be fixed now) (YES)

[2017-05-11 10:05] lin-d-hop opened #1565 "CSS Changes for Embedable Shopfronts"
To ensure embedable shopfronts display well, shops rendering through an iFrame will invoke different CSS.

Develop CSS such that shopfront display enables actions in like with use cases described in:
https://docs.google.com/document/d/19WKdXcBCqXYzCNtzGhrVWb3tQPSvW1UU7heUT3UvErA/edit

Estimated Time: 1.5hrs

[2017-05-11 10:11] lin-d-hop opened #1566 "Embedable Shopfront Detection JS Script"
Add javascript to detect when the page is embedded or not, or passing a variable in the iframe's url to tell OFN which CSS to load.

Alternate CSS created in #1565

Slightly more thorough feature description here:https://docs.google.com/document/d/19WKdXcBCqXYzCNtzGhrVWb3tQPSvW1UU7heUT3UvErA/edit

Feature should be covered by feature tests during this stage.

Estimated Time: 4hrs

[2017-05-11 15:47] jeronimo commented on #1560
There is an issue with Spree Core as it loads model decorators before translations are loaded so validations fail to find translations. There is a fix (https://github.com/spree/spree/pull/7469/files) for Spree 3.0 so it might be solved only after that.

This happens in situations like `validates :distributors, presence: { message: I18n.t(:spree_distributors_error) }` where translation goes into `P

[2017-05-11 15:55] MagsHall opened #1567 "Map not behaving right on Groups page"
I have just created a new group for Preston Area Food Hubs but on the map on their page it is showing one of their producers as located in the Atlantic ocean - https://openfoodnetwork.org.uk/groups/preston-area-food-hubs#/map

Their address is entered correctly in their enterprise profile (Langroyd Organics, BD23 3LR) but they don't seem to be showing up at all on the main map.

[2017-05-11 16:54] NickWeir63 commented on #1567
The same happened with 'B Bees' when i tried to add them to the 'Good Food Oxford' group.  I ended up taking them out of the group

[2017-05-11 23:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5914fa9a7d693f00181024e3&i=gh&m=ra)

[2017-05-12 00:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5914fbc574c57c0018022e8e&i=gh&m=ra)

[2017-05-12 00:35] #1291 closed

[2017-05-12 00:39] daniellemoorhead commented on #1561
Are visual design aspects such as icons worthy of having some @yukoosawa time on?

[2017-05-12 00:40] daniellemoorhead commented on #1563
@yukoosawa is on here too @lin-d-hop 😃

[2017-05-12 00:53] oeoeaio commented on #1074
@lin-d-hop Pretty confident that Stripe is only creating a single payment, so this should be an issue, but it would be a good idea to have this issue as a specific focus of testing.

[2017-05-12 01:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=591508b170bafc001d750c05&i=gh&m=ra)

[2017-05-12 01:03] daniellemoorhead commented on #1493
@sstead am happy to have it worked on but not sure who should do it and which funding bucket would cover it.

@kirstenalarsen would this be a core commons task funded by that bucket?

[2017-05-12 01:44] daniellemoorhead commented on #1567
Hey there, this is a duplicate of #1383 so closing this one and will add your detail to it @MagsHall.

[2017-05-12 01:45] daniellemoorhead commented on #1383
Note: This is happening for the UK team as well as they create new groups (see closed duplicate issue #1567).

Seems to be linked to an address which can't be geocoded for the map. Doesn't happen on the main shop map, just on the group map.

Ping @lin-d-hop @NickWeir63 in case you want a UK dev to pick this up and resolve it.

[2017-05-12 01:46] #1567 closed

[2017-05-12 01:50] mkllnk commented on #1561
That's an excellent idea. We all just came up with ideas, but don't know what the best solution is. If Yuko could come up with a nice design element that uses text separate from a logo that would be great.

[2017-05-12 01:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=591516bc116ced0019faada3&i=gh&m=ra)

[2017-05-12 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5915c12780cbbc0018bd2455&i=gh&m=ra)

[2017-05-12 14:35] jeronimo opened #1571 "Development environment - undefined method `tag_list'"
Sometimes I get error `undefined method `tag_list' for #<Spree::Variant:0x007fc2c65bedf8>`
<img width="732" alt="screen shot 2017-05-12 at 15 25 27" src="https://cloud.githubusercontent.com/assets/88912/26002353/47c08e4a-3727-11e7-8ad1-10b5352d1268.png">

Adding `acts_as_taggable` into Spree::Variant decorator seemed to help. Will make pull request later if no one is against it.

[2017-05-15 20:32] myriamboure commented on #853
@ltrls and @pacodelaluna have strated to have a look at it, but surprisingly the currency set up have disappeared with the last upgrade ! We don't see anymore the "thousands separator" and "decimal separator" ! Why did this happen ? @mkllnk any idea? Can it be linked to the Spree upgrade ? Or why would it disappear ? Ping @enricostano maybe you have an idea...

![screenshot from 2017-05-15 22-28-4

[2017-05-16 06:40] enricostano commented on #853
AFAIK Spree has not been upgraded in production since middle 2016.

[2017-05-16 17:25] myriamboure commented on #1541
@pacodelaluna do you think that's something Claire could work on? Is it easy enough for her to start ?

[2017-05-16 17:28] myriamboure commented on #1538
@pacodelaluna do you think Claire could work on that ?

[2017-05-16 17:33] myriamboure commented on #1499
Here is the message I get now
![screenshot from 2017-05-16 19-29-59](https://cloud.githubusercontent.com/assets/8135376/26119712/73b6176e-3a6e-11e7-8220-fff91cc3f813.png)

A bit better than the snale, but would be better to have a message saying "You need to install QZ on your computer to be able to print a receipt with a thermal printer. Please see _here_ how to do that." with a link to the user

[2017-05-16 17:36] #1376 closed

[2017-05-16 17:37] myriamboure commented on #1341
Closing as we reopened a new issue for the same case... https://github.com/openfoodfoundation/openfoodnetwork/issues/1538

[2017-05-16 17:37] #1341 closed

[2017-05-16 17:39] myriamboure commented on #1095
@pacodelaluna can we close that issue ? Did you go through Maikel's list of untranslated strings ?

[2017-05-16 17:44] myriamboure commented on #1043
What we want : see the owner's email appear in the owner column, just for clarity and avoid the kind of confusion I had in the past. Just a ux improvment, nothing important. Is it something easy for Claire @pacodelaluna ? Or should I just close this issue until we have a comment on it from a real user ?

[2017-05-16 17:47] myriamboure commented on #1107
I think this is something I reported in some Slack comments with remaining translation issues @pacodelaluna but it doesn't seem so trivial... I assign you as it's about translation issues but feel free to comment if needed!

[2017-05-16 17:49] myriamboure commented on #1117
Some very simple thing that could be done by Claire @pacodelaluna ?

[2017-05-16 17:53] myriamboure commented on #1118
Same, seems pretty easy for Claire @pacodelaluna ? On all the issues where I propose Claire I can put the label "ruby for newbies" or "angular for newbies" ... but I don't know which one to use... or we can assign Claire to the tasks we identify for her ? What do you think ?

[2017-05-16 18:00] myriamboure commented on #1128
It seems only part of the email is translated...
![screenshot from 2017-05-16 19-56-22](https://cloud.githubusercontent.com/assets/8135376/26120761/216fe6fc-3a72-11e7-8e02-c793c547bcf0.png)
@pacodelaluna I add that to your translation-to-do-list, but no pressure!

[2017-05-16 18:05] myriamboure commented on #822
I add "important" as we had our biggest user in France who had an issue with this and it caused some serious trouble for one OC... I think we should solve that sooner rather than later!

[2017-05-17 00:38] oeoeaio commented on #853
As far as I can see from looking at the codebase, the thousands separator is set by the currency itself (which are all instances of `Money::Currency`). It looks like you can override all separators by defining a translation for `number > currency > format > separator`. See 'I18n' section on the [RubyMoney github page](https://github.com/RubyMoney/money).

I don't remember ever seeing an interface

[2017-05-17 08:08] myriamboure commented on #853
This is really strange... @oeoeaio if you look here (https://community.openfoodnetwork.org/t/figures-format-internationalization/874) you see in the first screen shot I took a few weeks ago that we could set up the separators for thousands and decimals, and I did it for France.
I did a test just now on our staging, when I write a price 4,50€, it transforms as 4.50, and if I write a price 4.50€ it

[2017-05-17 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=591c58a8745f4200185a2c94&i=gh&m=ra)

[2017-05-18 08:17] myriamboure opened #1573 "It shouldn't be possible to delete from the manager list the owner of the entreprise > bug"
A user have deleted in the manager list the account used as owner of a hub. It produced a strange bug : on the main entreprise page, the "notification" account replaced the owner account in the 'owner' column, but not in the detailled page of the hub. The owner couldn't do anything anymore, he couldn't add the account again as a manager, so I had to do it for him.

Solution: The email used as a ow

[2017-05-19 01:45] daniellemoorhead commented on #1571
@enricostano? @Em-AK? @RohanM?

[2017-05-19 01:57] daniellemoorhead commented on #928
Hi @myriamboure I can't see this being a big piece of work (feel free to correct me on this @oeoeaio or @enricostano or @Matt-Yorkley or @pacodelaluna or anyone else reading this), so I wonder whether Panier Ruse would be willing to contribute to its development?

[2017-05-19 02:02] #1511 closed

[2017-05-19 08:15] sstead commented on #1446
The Inventory price is showing correctly now.

There is an issue with On Hand values not reading from Inventory though.
![image](https://cloud.githubusercontent.com/assets/10843056/26238843/26d95044-3cbe-11e7-867a-43edde21dec2.png)

Also, the manager creating an order can add 'hidden' products, when they shouldn't really be able to.

[2017-05-19 09:24] myriamboure commented on #948
Given https://github.com/openfoodfoundation/openfoodnetwork/issues/946 I suggest to close this issue (trying to find my way around the user email verification). If any objection @mkllnk and @daniellemoorhead please open it again :-)

[2017-05-19 09:24] #948 closed

[2017-05-19 10:46] enricostano commented on #1571
I've not been able to reproduce it.

[2017-05-19 11:46] myriamboure commented on #833
@mkllnk I don't think this is true anymore as the owner email can only be chosen among the verified email list. And you cannot add a manager if the email has not been verified. I suggest we close this issue, I'm referencing all the issues in a broader spec document on the user verifications / workflow.

[2017-05-19 12:53] myriamboure commented on #928
To add in the scope : give the possibility for the hub manager to disallow comment on the checkout page (request from a user in France)

[2017-05-19 13:16] OliverUK commented on #1233
@lin-d-hop
Mixed results testing this.
Searching for "tea" now no longer returns Steak. Various searches for product titles returned no surprises. For example Sauerkraut in a jar is returned for searching of "jar" and "Sauer" but not kraut. While in this particular case it would be ok if it did, it's not a problem that it doesn't.

But presumably searching should still work for variants too?
In th

[2017-05-19 13:28] myriamboure commented on #946
@daniellemoorhead to move forward on the email validation, I have started to write down how I see that functionnaly given all the inputs and comments in various discussions on community and Github. I put it here on Discourse https://community.openfoodnetwork.org/t/confirmation-emails-registration-flow/237/3?u=myriamboure as we are still on the functional level, I propose facilitate the discussion

[2017-05-19 13:32] myriamboure commented on #953
Another issue here is that the url link doesn't open a new tab, it opens the link in the OFN page so the customer quit the shopfront, which is not what we want.
Desired behavior : url link in entreprise description should open a new tab.

[2017-05-19 13:35] myriamboure commented on #953
I put important not as it's so important but so that Claire can pick it up when she gets added to the team. And we had a user who was a bit annoyed by the link thing, so if it's easy and can help Claire jumping into Angular, car be a great start :-)

[2017-05-19 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=591efba94a940d0019581bae&i=gh&m=ra)

[2017-05-19 22:43] oeoeaio commented on #1446
Ok, this is an existing issue, I am going to push #1575/ #1527 through anyway. I'll pick this stock stuff up as a separate issue.

[2017-05-19 22:52] oeoeaio opened #1578 "On-hand restrictions for items added via admin section"
Stock does not seem be restricted for items created in an admin section, where the variant has an inventory override.

![26d95044-3cbe-11e7-867a-43edde21dec2](https://cloud.githubusercontent.com/assets/2067859/26269667/863de6f0-3d39-11e7-9e71-f9a506e994c6.png)

[2017-05-19 22:57] #1446 closed

[2017-05-20 00:03] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=591f87bdad66a40018a7368c&i=gh&m=ra)

[2017-05-22 12:11] myriamboure commented on #928
To add in the scope : give the possibility for the hub manager to disallow comment on the checkout page (request from a user in France)

[2017-05-22 13:26] myriamboure commented on #928
@daniellemoorhead I wrote a quick spec so that @ltrls can start working on it, can you tell me if that wounds find to you ? It's  super quick, half a page ;-) https://docs.google.com/document/d/1dsimTJdu6XZ4-l16zxbDegSfMyNTxofBjplzA_lSmLw/edit?usp=sharing

[2017-05-22 13:33] myriamboure commented on #928
I asked  Panier Rusé if they can chip in a bit, else we will try to cover that from the OFFrance budget as it seems to be pretty low cost / quick thing.

[2017-05-22 20:18] daniellemoorhead commented on #928
@myriamboure I don't have a problem but I don't have the same understanding of the system as @sstead and @oeoeaio and @kirstenalarsen so perhaps they could have a look at this and understand if there is any impact?

[2017-05-23 09:15] myriamboure commented on #1197
I propose to  pick it up while we are solving https://github.com/openfoodfoundation/openfoodnetwork/issues/928 as it's connected, I include that in the scope.

[2017-05-23 09:17] myriamboure commented on #928
Including https://github.com/openfoodfoundation/openfoodnetwork/issues/1197 in the scope

[2017-05-24 00:13] daniellemoorhead commented on #833
@sstead are you able to respond to @myriamboure's comment above, is this the case?

[2017-05-24 00:22] daniellemoorhead commented on #928
Just adding a link to the ongoing scope conversation happening here: https://community.openfoodnetwork.org/t/make-customer-address-and-phone-non-compulsory-info-at-checkout/554/18

[2017-05-24 00:27] sstead commented on #833
Yes, I agree with Myriam, enterprise owners must be validated. Shoppers are not validated yet.

[2017-05-24 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59250555446d360019e70dff&i=gh&m=ra)

[2017-05-24 05:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59251361f8344600186c398a&i=gh&m=ra)

[2017-05-24 06:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59252172964761001a6cc8dd&i=gh&m=ra)

[2017-05-24 06:50] myriamboure commented on #928
@sstead or @kirstenalarsen or @oeoeaio can we go for that ? https://docs.google.com/document/d/1dsimTJdu6XZ4-l16zxbDegSfMyNTxofBjplzA_lSmLw/edit?usp=sharing
I would like one other view than mine before @ltrls starts developping... so that there is no issue when merging!

[2017-05-24 06:56] sstead commented on #1452
I saw one very edge case where things got glitchy... it occurs when switching between KG products and ITEM products. The unit description text can linger.

![image](https://cloud.githubusercontent.com/assets/10843056/26390410/ceadc3a4-40a1-11e7-98c8-d053df4cd747.png)

![image](https://cloud.githubusercontent.com/assets/10843056/26390413/d24658f0-40a1-11e7-98eb-2faa82490bee.png)

[2017-05-24 08:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59253d9434fb8800180c189f&i=gh&m=ra)

[2017-05-24 08:16] daniellemoorhead commented on #1452
@oeoeaio does the bug Sally found above need to be fixed? The PR has been merged...does this mean it's been fixed already? If so, can we close this issue?

[2017-05-24 13:36] myriamboure opened #1580 "Bug on prices displayed when in same OC distributors using inventory are mixed with distributors who don't"
A big French supply 10 buying groups and 1 physical shop. He organizes the sales through 2 order cycles: week 1 he delivers half of the buying groups, week 2 he delivers the other half +  the shop.
Every buying group and the shop have specific "hubs", each one have its own page to order with their specific list of members and are "private shops".
The hub "wholesales" (used by the shop to order) ma

[2017-05-24 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=59259328cce45c0018834387&i=gh&m=ra)

[2017-05-24 23:23] kirstenalarsen commented on #1580
hi @myriam - check that each shop has the read from inventory switch turned on? I think it’s in shop preferences

[2017-05-25 02:33] oeoeaio commented on #1452
Sorry @daniellemoorhead I had a comment typed but I didn't post it. I will create new issues for item + description, and unused product fields. Closing this issue now.

[2017-05-25 02:33] #1452 closed

[2017-05-26 00:56] oeoeaio opened #1582 "Unit description not cleared when switching between kg and items"
Picked up in #1452. When switching variant_unit between `weight` products and `items`, the unit description text on variants lingers. It should to be removed.

![issue1](https://cloud.githubusercontent.com/assets/2067859/26476359/87be673a-4201-11e7-840a-684a1f4bb883.png)
![issue2](https://cloud.githubusercontent.com/assets/2067859/26476360/891be5b2-4201-11e7-89c9-c86a87713539.png)

## Severity
S3,

[2017-05-26 06:41] sstead opened #1584 "Stock control malfunctioning when inventory on hand > product on hand value."
This issue arrises for products which have On Hand quantities overridden in Inventory AND the inventory stock level is greater than the product stock level. What happens is... when the shopper switches between Edit Cart and the Shopfront changing their order QTY for the product, the system doesn't save QTY changes if they change from a value within the Product On Hand allowable range TO a value ab

[2017-05-26 12:40] clairezed commented on #853
I've been talking about this issue with Pierre (don't know his github identity) at the beginning of the week, and here is our proposal.
I follow @blancnic suggestion to use an automatic formatting, front end. I feel that constraining user input would be more efficient, maintainable and friendly  than trying to predict and manage every cases in ruby, and providing inconsistent money management to t

[2017-05-26 12:42] clairezed commented on #853
Sorry, I've forgotten : @myriamboure suggested me to mention @mkllnk regarding the proposal above

[2017-05-28 05:49] daniellemoorhead opened #1585 "Email confirmation | Enterprise sign up"
**Who:** Enterprises wanting to register on the OFN.
**How they access the sign up process:** via the 'Register' link on the homepage and on the dropdown the displays at the top of the screen when you first arrive.

-------
**Step 1(a): User signs up**
The new user accesses the sign up tab on /register and submits their email and password.
![image](https://user-images.githubusercontent.com/1084305

[2017-05-28 05:49] daniellemoorhead opened #1586 "Email confirmation | User sign up (modal)"
**Who:** Any user wanting to register on the OFN.
**How they access the sign up process:** via the sign up tab which is accessible via the 'Login' link in the top banner (opens login modal).

-------
**Step 1(a): User signs up**
The new user accesses the sign up tab and submits their email and password.
After submitting the modal will display this text:

![image](https://user-images.githubusercont

[2017-05-28 05:50] daniellemoorhead opened #1587 "Email confirmation | User sign up (checkout)"
**Who:** Any user wanting to register on the OFN.
**How they access the sign up process:** by clicking 'sign up' (via login modal) at the following points in their journey on the site:
- From a shopfront (once they've added items to their cart)
- From the edit cart page
- From the 'log in or guest checkout?' page
- From any page on the OFN, if they have items in their cart (homepage, a groups page

[2017-05-28 05:50] daniellemoorhead opened #1588 "Email confirmation | User sign up (customer-only shop)"
**Who:** Any user wanting to access a customer-only shop.
**How they access the sign up process:** the user navigates to the customer-only shopfront and sees this message, and clicks on 'register':

![image](https://user-images.githubusercontent.com/10843056/26864353-000b7b86-4b9b-11e7-8261-76270ca966b4.png)

-------
**Step 1(a): User signs up**
The new user accesses the sign up tab and submits th

[2017-05-28 05:51] daniellemoorhead opened #1589 "Email confirmation | Super admin adds new user"
**Who:** Super Admin wanting to register a user on the OFN.
**How they access the sign up process:** via the backend admin area that only the super admin can access.

-------
**Step 1(a): Super Admin signs up the user**
The Super Admin accesses the add a user function in the backend and submits that user's email address and sets a password (existing functionality).
![image](https://user-images.git

[2017-05-28 06:04] daniellemoorhead commented on #1585
@sstead and @oeoeaio can you please have a look at the flow (which on your drawing of the profile creation Sally).

Outstanding questions:

- [ ] Is the 'thanks and select a package' email in the right spot in the new flow?
- [ ] How does the 'create another profile' flow fit into the current flow? And the future flow? Is it a link once you've added the photos? Or is there a link (or many links) i

[2017-05-28 06:18] daniellemoorhead commented on #1586
There are two outstanding questions in terms of the scope of this work:

- [ ] How to deal with unconfirmed users if they attempt to place an order through the checkout.
- [ ] In the scenario where a user has already put things into their cart prior to sign up, is it possible to have them come back to the website and have these items still in their cart? i.e. end up back at the point in the websit

[2017-05-28 06:20] daniellemoorhead opened #1590 "Email confirmation | Resending confirmation emails"

[2017-05-28 06:21] daniellemoorhead opened #1591 "Email confirmation | Verifying email addresses of existing users in the system"
NEW 'YOU MUST VERIFIY YOUR EMAIL BEFORE YOU CAN DO THAT' CONDITIONS (DRAFT)

**CASE 1/5-  If an existing, unverified user tries to shop in a 'customer only' shop?**

Currently the logged out user who tries to access a 'customer only shop' will see a message saying 'you need to login to view this shop'. They can then either login, or signup (the signup case is covered in https://github.com/openfood

[2017-05-28 06:24] daniellemoorhead opened #1592 "Email confirmation | Linking a registered user to their existing guest checkout orders"
**Who:** All users on the OFN
**Trigger:** User confirms their email address
**Goal:** To ensure that the enterprise can see the full order history for one email address (user), but protect the previous owner of the email address.

For epic #946, where any user at all has clicked on the 'confirm email address' link in the confirmation email they receive, the system must:
- Check if the email addre

[2017-05-28 06:31] daniellemoorhead opened #1593 "Enterprise owner adds a manager who is not yet an OFN user via the manager field (as what happened before with notification field)"
**Who:** Enterprise Owner wanting to assign an Enterprise Manager who isn't a registered user on OFN yet.
**How they access the sign up process:** Entreprise Owner type their email address in "add manager" field and add them. That triggers a validation email to the unrecognized email and launch sign up process for this new user.

-------
**Step 1(a): Enterprise Owner signs up the user to be Enterp

[2017-05-29 04:28] kirstenalarsen opened #1594 "Change forum link in Aus welcome email to fairfoodforum.org.au"
it currently goes to global ofn forum, which will be much less relevant to sign-up users. The sooner we can do this the better :)

@sstead @daniellemoorhead

[2017-05-29 04:40] daniellemoorhead commented on #1594
I think you're meaning the URL needs to be changed @kirstenalarsen, rather than setting up a redirect?

@oeoeaio can you please do this as part of your PR day this week?

[2017-05-29 04:52] kirstenalarsen commented on #1594
yeah nothing complex, it's just not been updated since the aus forum existed!!

[2017-05-29 09:00] myriamboure commented on #1580
That's the issue @kirstenalarsen , the "read from inventory" option is not in the entreprise set up, but in the OC "advanced options"... so you have to turn it on for the whole OC... I checked in "shop preference" and all the enterprise set up options and didn't find it. Is it me who don't find it ? Was it there and it disappeared ?

[2017-05-29 13:25] myriamboure commented on #928
Panier Rusé has agreed to contribute 200€ for that issue. Open Food France will put also 200€.
We are a bit blocked here, would be great to have another view... but I guess that all what we put in the document is customizable by the hub and doesn't change default so I don't think we take too much risk in moving forward @ltrls do you agree ?

[2017-05-29 14:21] lin-d-hop commented on #1493
Hi @daniellemoorhead and others working on this.
Is there any update? We face this in the UK reasonably often and need it fixed too.
Let me know if we can contribute anything useful :-)

[2017-05-29 15:29] myriamboure commented on #1585
If a user is logged in with an unconfirmed email before starting entreprise creation (ex: all existing uses), the system needs to resend the confirmation email and the user needs to click on confirmation link before she can create the entreprise. So about exceptions, IMHO, on 3: yes you need an exception.

[2017-05-29 15:50] myriamboure commented on #1586
@daniellemoorhead I can't see because of a strange light on the picture, but for you the user is logged in when he submits the form and see the green success banner ? I would suggest to avoid that and only log the user when he has clicked the validation link, as this is the desired behaviour we want to implement, we want all new sign up to force email confirmation... is it technically possible to

[2017-05-29 16:19] myriamboure commented on #1586
As you wrote for entreprise sign up : "There is the need for a new page telling the user to go to their inbox and click on the confirmation link they receive in an email from OFN."

[2017-05-29 16:24] myriamboure commented on #1588
![img_7905](https://cloud.githubusercontent.com/assets/8135376/26556602/bfb0c0b0-449b-11e7-884f-7f668c6394f8.JPG)

As you can see by the above flow, the change to user sign up process when invited by a customer-only shop, is that users don't need anymore to have an account before they can be (efficientlyl) added to the customer list. When a user tries to access the private shopfront, he has to log

[2017-05-29 16:26] myriamboure commented on #1493
@lin-d-hop see this is part of the epic on email confirmation https://github.com/openfoodfoundation/openfoodnetwork/issues/1588

[2017-05-29 16:42] myriamboure commented on #1588
I see two things to develop :
- [ ] 1- Adding a new customer create a new guest account > If email recognized no new account is created
- [ ] 2- When an unconfirmed user connects to a customer-only shop, email confirmation sent to user + message “you need to validate your email to access the shop”

[2017-05-29 16:51] myriamboure commented on #1587
The only different I see from https://github.com/openfoodfoundation/openfoodnetwork/issues/1586 is the redirection page after clicking the validation link, it should send back to the checkout page.

I see 3 things to develop here:
- [ ]  1- When sign-up form submitted, email confirmation sent to user and display "check confirmation link in your mailbox" pop-in/banner still on the checkout page.
-

[2017-05-29 16:59] myriamboure commented on #1586
- [ ] 1- When sign-up form submitted, email confirmation sent to user + display green “check validation link in mailbox” pop-in/banner
- [ ] 2- Slightly change content for existing email confirmation as not associated anomyre with entreprise creation (see below)
- [ ] 3- When user clicks on validation link, open home page in new tab + send welcome email

Email confirmation proposal:
Hello !
Your h

[2017-05-29 17:04] myriamboure commented on #1585
IMHO  when the user clicks on valiation link, it should directly redirect to the “enterprise creation form” so that the user can start fill in the profile information that he was about to start when signing up.

[2017-05-29 17:07] myriamboure commented on #1585
Listing what needs to be adapted from existing:
- [ ]  1- When sign-up form sent, email confirmation sent to user and display "check validation link in your mailbox" pop-in/banner still on enterprise registration page
- [ ] 2- If unconfirmed user try to create an enterprise, re-send email confirmation + display message “you need to validate your email before you can create an enterprise, check you

[2017-05-29 17:18] myriamboure commented on #1589
**Today :**
In “users” menu there are only the enterprise accounts (owner or manager, which are the only validated accounts today). Today when a super admin add a user, the email is automatically considered as validated and the user receives directly a welcome email. It can be added directly as a manager or owner of an entreprise.

**Desired behaviour:**
When a super admin adds a user, a confirmat

[2017-05-29 17:25] myriamboure commented on #1573
Same as https://github.com/openfoodfoundation/openfoodnetwork/issues/1371

[2017-05-29 17:25] #1573 closed

[2017-05-29 17:33] myriamboure commented on #1592
In #917, Maikel suggests that it would be great to keep track of guest orders. Today when a guest becomes a user the previous orders are not shown in the “user account”. We propose to make them available in the user account once guest becomes user.

[2017-05-29 17:46] myriamboure commented on #1590
Do we need a specific Github issue for that ? I listed in every issue when re-send of confirmation email are triggered, but I can try to sum it up here. There are for me only 2 cases where an unconfirmed user needs the confirmation email to be re-sent:
- when he tries to create an entreprise https://github.com/openfoodfoundation/openfoodnetwork/issues/1585
- when he tries to access a customer-only

[2017-05-29 17:50] myriamboure commented on #1591
For me an unconfirmed users can still login and checkout as a registered user without their email being validated (all current users for instance) so we don't have to try to verify email addresses of existing users until they want to do something that requires their email to be verified, in which case we would resend confirmation email https://github.com/openfoodfoundation/openfoodnetwork/issues/1

[2017-05-29 18:01] myriamboure commented on #1586
@daniellemoorhead See https://github.com/openfoodfoundation/openfoodnetwork/issues/1591 for outstanding question 1.

[2017-05-29 18:33] lin-d-hop opened #1595 "embed"

[2017-05-29 18:33] lin-d-hop opened #1596 "Embedable Shopfront via iframes"

[2017-05-29 18:34] #1596 closed

[2017-05-29 18:34] #1595 closed

[2017-05-29 22:16] daniellemoorhead commented on #1590
I created this as a separate thing because it's good practice to break stories down to be as small as possible. I figured that the resend email flow was separate to the inclusion of email verification and so worthy if a separate story/stories. Good agile/lean practice is small batch - small stories, small releases, etc. :)

[2017-05-30 13:21] lin-d-hop opened #1597 "Embeddable Shopfronts via iframes"

[2017-05-30 13:30] lin-d-hop commented on #1597
Hi @daniellemoorhead

PR #1557 covers this whole epic.

UK have tested the embedded shopfront quite rigorously:
- Host site must be on OFN instance embed allowed list
- Host site must be hosted over SSL
- Embed page does not allow any linking to other parts of OFN shopfront
- Embed page allows search, modals, login, logout, basket, checkout.

@jeronimo and @enricostano have both contributed to cod

[2017-05-30 13:39] lin-d-hop commented on #1597
In terms of testing, it's a little tricky to test the functionality as you need to embed in an SSL served site.

However, potentially we could merge this pre-'functionality test' as long as the security features are working correctly eg can't embed until the host url is whitelisted in superadmin.

UK plan to write up some usage notes for the user guide so that we can update the user guide before

[2017-05-30 13:54] lin-d-hop commented on #1563
Brilliant best practice notes from @yukoosawa

Reading through the slack and community discussions it looks like you have the key use cases covered so will provide tips on the UI (and any related UX).

*Icon or flag or text switcher*
There is no universally understood icon for ‘language’. Any icon used, ie. a globe, will need a text label to be understood - this can be the current language in use.

[2017-05-30 14:31] lin-d-hop opened #1598 "Handling Language Defaults and Cookies"
- [ ] - The first time a user visits, use the default language of the instance. If I go to ofn.fr, I expect it to be in French.
- [ ] - If a user is not logged in and chooses a language, store it in an independent cookie (not session).
- [ ] - If a user is logged in, store it in the database as user preference and also update the cookie.
- [ ] - If someone logs out, the language persists because o

[2017-05-30 14:43] lin-d-hop commented on #1598
@jeronimo Can you take a look at this list when you get the chance please?

[2017-05-30 23:23] sstead commented on #1594
related issue also encompassing wider improvements to the welcome emails - https://github.com/openfoodfoundation/openfoodnetwork/issues/1553

[2017-05-31 00:05] sstead commented on #1585
Is the 'thanks and select a package' email in the right spot in the new flow?
- I think the 'thanks' email that branches off the Confirmation email is still correct. It lets the user know that they have successfully confirmed their email.
- The 'select a package' page currently shows when the user logs in to /admin for the first time, after creating their enterprise profile. It will continue to sh

[2017-05-31 00:22] sstead commented on #1585
How does the 'create another profile' flow fit into the current flow? And the future flow? Is it a link once you've added the photos? Or is there a link (or many links) in other places?
- Currently a user needs SuperAdmin permission to create >1 enterprise, so no, we don't prompt them to create more profiles in the wizard after they've created one.
- There is a[ github issue](https://github.com/op

[2017-05-31 01:18] sstead commented on #1593
I think this field should function as the current 'notifications' field functions. E.g. I add a new user's email in the manager field, a text box reads 'email confirmation awaiting verifiication -resend confirmation' until the new user confirms their email, at which point they're added as a user, they set up a password and are added as manager of that enterprise.

[2017-05-31 01:21] sstead commented on #1591
_We don't have to try to verify email addresses of existing users until they want to do something that requires their email to be verified_ ... what does this include?
- If they try to shop in a 'customer only' shop?
- If they try to create an enterprise?

_OR should we force validation of ALL users as soon as possible, and why ?_
I'm not sure I'm the best to comment on the security implications o

[2017-05-31 02:47] sstead commented on #1580
Hi @myriamboure I'm not certain that I understand exactly how your shop is configured and what problem you are experiencing, but I've had a play around and couldn't seem to replicate it.

From what I understand, you want to have a single order cycle, with multiple distributors, and for some of these distributors to set prices in inventory, while some distributors don't use inventory.

From what I

[2017-05-31 04:55] daniellemoorhead commented on #853
@mkllnk is away till middle of next week @clairezed, are you ok to wait till then for a response? Perhaps @enricostano and @jeronimo and @oeoeaio and @Matt-Yorkley have some thoughts?

[2017-05-31 05:01] daniellemoorhead commented on #1597
@lin-d-hop we have a dilemma in that we only have @oeoeaio in the office this week, Maikel is still on holiday. He is dedicating one day this week to PRs, and the other 2 to Stripe and Standing Orders. So my question to you is: what's more important in terms of this week for Rob to focus on - getting through the backlog of random PRs that are building up; getting stripe and standing orders closer

[2017-05-31 05:04] daniellemoorhead commented on #1594
Wonder whether we could have @mkllnk do this next week? There are way too many things on @oeoeaio's plate this week.

[2017-05-31 06:32] kirstenalarsen commented on #928
i have put some comments :)

[2017-05-31 08:11] myriamboure commented on #1580
Thanks a lot @sstead I'll do the same set up. This is not super intuitive as for the hub manager, the distributors who don't modify the price don't have to use inventory, so they wouldn't have thought to use the inventory. Maybe that's a case to add to the user guide somewhere ? Or Discourse ? But thanks anyway, I think it will solve my issue :-) I close the issue.

[2017-05-31 08:11] #1580 closed

[2017-05-31 09:18] myriamboure commented on #928
Thanks @kirstenalarsen I took your comments into account. Launching now dev with @ltrls :-)

[2017-05-31 09:25] myriamboure commented on #1591
Yes @sstead and I would add a third case "if a user want to access his guest orders history" (see https://github.com/openfoodfoundation/openfoodnetwork/issues/1590)

@oeoeaio do you see any security reason why we should force all existing users to confirm their email ?

[2017-05-31 14:06] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=592ecda84a74e10018deb361&i=gh&m=ra)

[2017-05-31 21:51] jeronimo commented on #1598
@lin-d-hop, All of this had been done with https://github.com/openfoodfoundation/openfoodnetwork/pull/1572
except `The first time a user visits, use the default language of the instance. If I go to ofn.fr, I expect it to be in French.` as default language (in this example - `fr`) is set in `application.yml` which covers that case.

[2017-05-31 22:11] lin-d-hop commented on #1598
Awesome @jeronimo! Just checking for completeness. That's great :-)

[2017-06-01 16:28] jmjcle opened #1600 "Email Confirmation Send Failures"
I'm running in to an issue in the current build (development environment) with user email confirmations.  Hoping to get some guidance in troubleshooting.

Initial user email confirmations never go out and upon issuing a re-send from the Enterprise -> Users page, I get two banners at the top of the screen.  One says that the confirmation email was sent.  The other warns about a missing translation.

[2017-06-02 01:37] daniellemoorhead commented on #1585
Hey @myriamboure this page is not the one that appears when the user has clicked on the confirm link in their email, but is the one that needs to appear when they have submitted the sign up form. On submit, the system will send them an email but there also has to be a resulting page telling them to go check their inbox and confirm it before they can create an enterprise.

[2017-06-02 02:55] daniellemoorhead commented on #1585
@myriam - @sstead and I sat down and completed what we see as the scope for this issue. All this is listed underneath the flow picture alongside of the screenshots sally has added of the existing flow.

Please review and tell us if you agree with scope. :)

[2017-06-02 05:46] sstead commented on #1587
Existing signup flow:
This is where new users can sign up during checkout:
![image](https://cloud.githubusercontent.com/assets/10843056/26712362/e3f48c3e-47a9-11e7-89a0-7aa6a38e781d.png)

If they choose to login/signup, they see the usual login/signup modal, with their shopping session in the back.

If they signup, they see the green banner and can continue checking out. In the background a welcom

[2017-06-02 06:53] sstead commented on #1591
Just spoke to @oeoeaio and he's happy for existing unconfirmed users to remain so, until they try to do something advanced.

[2017-06-02 07:09] sstead commented on #1471
Looks all good in groups and main directories
![image](https://cloud.githubusercontent.com/assets/10843056/26714735/381ef2d4-47b6-11e7-929b-6522e313658d.png)

[2017-06-02 10:53] OliverUK opened #1601 "Delivery report filter no longer gives delivery options to choose"
![screen shot 2017-06-02 at 11 34 25](https://cloud.githubusercontent.com/assets/17590921/26722802/818e460e-4789-11e7-94d4-8dbb1b6a191c.png)

"shipping method" filter returns nothing.
Is this possibly related to the broken date filter at the top? The date defaults to 1st June. I can change it to May (because that's when the orders came in) by typing a 5 over the 6 but I can't use the calendar butt

[2017-06-02 14:05] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=593170a949f2b40018bd22d9&i=gh&m=ra)

[2017-06-03 11:49] myriamboure commented on #1585
@daniellemoorhead I had another proposal in mind:
- at the begining of the flow, the user click on "create entreprise", he is not signed up so the sign up form opens, (like it is done now)
- when submit, two things happen:
1- Confimation mail sent
2- View : message telling "a confirmation email has been sent, please validate to continue entreprise creation" (so we force validation email un a gentl

[2017-06-05 19:31] Matt-Yorkley opened #1602 "UK production - logo needs resizing"
![screenshot from 2017-06-05 20-25-43](https://cloud.githubusercontent.com/assets/9029026/26799398/669ba228-4a2d-11e7-8e54-cf3ac67c3a19.png)
![screenshot from 2017-06-05 20-25-45](https://cloud.githubusercontent.com/assets/9029026/26799399/66b5a402-4a2d-11e7-845e-ca24371ad312.png)

The logo image scaling is based on width instead of height, and AU production has an extra wide logo image. Looks mes

[2017-06-05 19:55] Matt-Yorkley opened #1603 "UK production - Ugly product image thumbnails"
For some reason product thumbnails on AU production seem to get sized and cropped into nice little squares that fit properly in the image placeholders, but on UK production they don't and it looks really messy.

AU production:

![screenshot from 2017-06-05 20-38-01](https://cloud.githubusercontent.com/assets/9029026/26800407/18e63c74-4a31-11e7-8006-a9d67d4f43aa.png)

UK production:

![screenshot f

[2017-06-06 08:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59366eb86b0e84001834feb4&i=gh&m=ra)

[2017-06-06 12:34] lin-d-hop opened #1604 "Variant Ordering - Confusing results"
Variants are currently ordered seemingly randomly when displayed to the user:
![variants1](https://cloud.githubusercontent.com/assets/8669848/26829121/211f5e1c-4abc-11e7-8780-fc8531cee935.png)
![variants2](https://cloud.githubusercontent.com/assets/8669848/26829122/2167852a-4abc-11e7-94a8-45da15665f05.png)

When displaying variants to the user could they be displayed ordered as follows:
- First: A

[2017-06-06 13:11] Matt-Yorkley opened #1606 "Enterprise fees UX"
Awkward UX on the Enterprise Fees page:

- The name field can't be read as it is too small.
- The value input field on the far right doesn't appear when adding a new fee until the fee has been saved and the page reloads (has to be saved twice).

![screenshot from 2017-06-06 14-07-06](https://cloud.githubusercontent.com/assets/9029026/26830845/16891ef6-4ac2-11e7-824d-62ba013022fa.png)

[2017-06-06 13:16] Matt-Yorkley opened #1607 "Spee logo on UK staging/production"
Not very good for branding with our enterprise users. Also most of them have probably never heard of Spree. I'm pretty sure it shows the OFN logo on AUS production?

![screenshot from 2017-06-06 14-13-37](https://cloud.githubusercontent.com/assets/9029026/26830999/bac21158-4ac2-11e7-82b9-ef7160e10742.png)

[2017-06-06 13:17] lin-d-hop commented on #1471
Merged. Closing :-)

[2017-06-06 14:51] myriamboure commented on #953
@clairezed for you to have a look and see :-)

[2017-06-06 14:52] myriamboure commented on #1538
@clairezed for you to have a look and see :-)

[2017-06-06 16:05] myriamboure commented on #1107
@jeronimo are the PR you are committing solving this as well ? Else @lin-d-hop does anyone work on it or should we see on our side with @pacodelaluna ?

[2017-06-06 16:54] myriamboure commented on #1541
@sstead @clairezed is fixing that, it was a bad key, can you confirm what text need to display here in the producer shop ?
There are two possible text in Transifex:

Sell your products directly to customers through your very own Open Food Network shopfront.
or

A Producer Shop is for your produce only, if you want to sell produce grown/produced off site, select 'Producer Hub'.

Shall we put both o

[2017-06-06 21:58] mkllnk commented on #853
@clairezed Thanks for the UX input.

That demo is really interesting. I found it totally confusing at first, because I tried to delete the text that was in the input and override it with something I type. It just didn't work. Once I realised how it works, it is actually very clever. It is the same way you would put numbers in a till.

I'm wondering if we can make it easier for people to understand

[2017-06-06 23:12] kirstenalarsen commented on #1607
confirming that yes aus production shows a logo, albeit a very old one and should be updated! If this were made into a super-admin configurable field that could be good, but perhaps that’s over-complicating things

[2017-06-07 02:08] sstead commented on #1541
Yes, I believe initially both these sentences were displayed, and the user guide screenshot confirms this....
![image](https://user-images.githubusercontent.com/10843056/26859284-067812d4-4b7a-11e7-9165-0a57b4d880a5.png)
Thanks :)

[2017-06-07 04:14] daniellemoorhead commented on #1598
Have handed over review of #1572 to @mkllnk now that he's back :)

[2017-06-07 04:16] daniellemoorhead commented on #1600
@mkllnk or @myriamboure, any thoughts on why this would be happening?

[2017-06-07 04:20] mkllnk commented on #833
@myriamboure It has been a long time. I can't remember what the loophole was and if that has changed. But we still want to verify the email addresses of customers, right? Maybe we should change the motivation for this change, but we still want to do this.

[2017-06-07 04:20] #1471 closed

[2017-06-07 05:03] myriamboure commented on #1541
Awesome, I think you can push your PR @clairezed :-)

[2017-06-07 05:03] daniellemoorhead commented on #833
Closing this issue as it has been superseded by epic #946 and all accompanying issues within it. Yay!

[2017-06-07 05:03] #833 closed

[2017-06-07 05:14] myriamboure commented on #1600
it definitely seems to technical to me, seems to be connected to mail server issue, but more a tech bug apparently ;-) I let @mkllnk answer :-)

[2017-06-07 05:39] mkllnk commented on #1600
There are two issues here. One is that there are some translations missing. That might happen if you have a locale other than just `en`. If you use `en` and still have missing translations, please open a new issue.

Your main issue is sending the emails. You said that you are in development environment. Does that mean you are running this on your own local computer? Usually, no emails are sent in

[2017-06-07 06:38] sstead commented on #1593
**Current functionality in regards to Enterprises Adding managers**
- If I want to add a user to the Manager field, in the dropdown menu I'll only see Users who are related to my existing enterprises (other user who I manage/own enterprises with). I won't see all users called James in the system if I start typing 'james..' etc. BUT if I type the exact, full email of a user (can be enterprise user,

[2017-06-08 03:57] jmjcle commented on #1600
That helps a lot, mkllnk.  Thank you!  I am using just en and I can totally live with a missing translation as long as the underlying email function works.  I did not realize that I shouldn't expect emails to send in dev.  I'll move in to staging or production and look at Delayed::Job.  I might have seen some error logs around that.

[2017-06-09 00:18] sstead commented on #1589
Existing behaviour:
- Superadmin creates a new user, and sets their password.
![image](https://user-images.githubusercontent.com/10843056/26955762-2d63d616-4cfc-11e7-96fd-1d8ace839d68.png)
- A welcome email is sent to this user.
- If this user logs in, they can't get to /admin - they are like a customer user
- If SuperAdmin then creates a profile and assigns this users as the owner, the user gets

[2017-06-09 00:43] sstead opened #1611 "Rephrase error message for people logging in with an existing user email"
See suggested rephrase below:
![image](https://user-images.githubusercontent.com/10843056/26956353-4b4a00c0-4d00-11e7-98fe-d99bac4508e0.png)

[2017-06-09 01:21] sstead opened #1612 "When SuperAdmin creates a user they should not set their password"
This is bad practice...
- Instead the new user should get an email confirmation link, and when they click that link they should be prompted to set a password.
- The SuperAdmin user should not be able to see, change or reset the user's password. If they need to reset their password they can do it themselves.

This image shows the SuperAdmin view of creating a new user:
![image](https://user-images.

[2017-06-09 01:47] sstead opened #1613 "Improve 'customer-only' shopfront messaging"
## Description
Fir private/"customer only" shops, the default messages for non logged-in users and UX is confusing.
We need to rephrase the messages for UX under the signup process.

## Current and Expected Behavior
**1- When a visitor is not logged in and open the url of a private shopfront:**
![image](https://user-images.githubusercontent.com/10843056/26957543-0d173e40-4d09-11e7-8cc5-e562dead309

[2017-06-09 02:05] sstead opened #1614 "Email Confirmation | Map confirmed enterprise addresses to the user"
**Who:** Any enterprise owner who has confirmed their email address.
**Trigger:** No trigger, this is done proactively by us
**Goal:** To ensure that any user who has verified their email address via the enterprise creation process doesn't have to do it again as part of #946.

For epic #946, a one off event needs to be run where any user who has registered one or more enterprises (and therefore al

[2017-06-09 02:14] daniellemoorhead opened #1615 "Email confirmation | Unconfirmed new enterprise user login"
**Who:** Enterprise users who have signed up to OFN but have not yet confirmed their email address.
**How they access the login process:** via the 'Register' link on the homepage and on the dropdown the displays at the top of the screen when you first arrive.

Note: this story is directly connected to #1585.

-------
**Step 1(a): User logs in**
The unconfirmed user accesses the login tab on /regis

[2017-06-09 02:17] daniellemoorhead opened #1616 "Email confirmation | Unconfirmed new user login (modal)"
**Who:** Any users who have signed up to OFN but have not yet confirmed their email address.
**How they access the login process:** via the login tab which is accessible via the 'Login' link in the top banner (opens login modal).

Note: this story is directly connected to #1586.

-------
**Step 1(a): User logs in**
The unconfirmed user accesses the login tab and submits their email and password.

[2017-06-09 02:18] daniellemoorhead opened #1617 "Email confirmation | Unconfirmed new user login (checkout)"
**Who:** Any users who have signed up to OFN but have not yet confirmed their email address.
**How they access the login process:** by clicking 'login' at the following points in their journey on the site:
- From a shopfront (once they've added items to their cart)
- From the edit cart page
- From the 'log in or guest checkout?' page
- From any page on the OFN, if they have items in their cart (ho

[2017-06-09 02:21] daniellemoorhead opened #1618 "Email confirmation | Unconfirmed new user login (customer-only shop)"
**Who:** Any users who have signed up to OFN but have not yet confirmed their email address.
**How they access the login process:** the user navigates to the customer-only shopfront and sees this message, and clicks on 'register':

![image](https://user-images.githubusercontent.com/10843056/26864353-000b7b86-4b9b-11e7-8261-76270ca966b4.png)

Note: this story is directly connected to #1588.

------

[2017-06-09 02:23] daniellemoorhead opened #1619 "Email confirmation | Unconfirmed new user login (enterprise manager)"
@sstead can you please have a think about whether we need this to be different to the generic login modal flow at #1616 or does it need to be customised for managers?

See final row of the second table for what it might look like if it was to be customised here: https://docs.google.com/document/d/1S9CDFQZZr8BLeMfzgDQAHM8ZpPGOc_WjC1vgNm-T23M/edit#

[2017-06-09 02:26] daniellemoorhead commented on #1590
Not needed anymore, have created individual issues for each login point (#1615, #1616, #1617, #1618, #1619)

[2017-06-09 02:26] #1590 closed

[2017-06-09 03:22] daniellemoorhead commented on #1591
Ping @myriamboure @sstead @oeoeaio for your thoughts

Myriam, some context for you - Sally, Rob and I chatted about existing users today, and used the whiteboard to map out what we could do with them based on the solution we've designed for new users.

Here's a pic of the whiteboard:
![img_9664](https://user-images.githubusercontent.com/10949052/26959672-935b7902-4d14-11e7-9e09-262f49cac7c8.JPG)

[2017-06-09 06:31] mkllnk commented on #1594
Thanks to contributions by the community, changing the URL was as easy as going to Admin -> Configuration -> Content and change "Community Forum Url". Well, almost. The email sender doesn't notice the change until the next deploy. I did it manually:

[code]

Mails should contain the right link now (sent by the production server). Can anyone confirm that? @sstead?

[2017-06-09 07:04] daniellemoorhead commented on #1594
Sally is away next week, maybe Jen can check? Or Kirsten?

[2017-06-09 07:25] sstead commented on #1591
Well summarised @daniellemoorhead .
Option 1 seems very clean to me, plus it's easier (i assume) and cheaper to implement. I might be biased because I find mapping out all the user journey's very complex!

[2017-06-10 13:20] mllocs opened #1620 "Address.state can't be blank when creating a new Enterprise"
Hello everyone 👋

I just did the setup of the Rails project in my maching and my first step was to register a new user, which would be a new producer (called Enterprise internally). I'm struggling entering a valid address during the registration process. I guess that not all the countries have state but that check might not work properly.

If I select a country without states I would expect the va

[2017-06-10 14:19] enricostano commented on #1620
Maybe related to https://github.com/openfoodfoundation/openfoodnetwork/issues/1309 ?

[2017-06-10 14:23] enricostano commented on #1613
Is this valid for hubs also? In the case of a buyers group the concept of `customer` should map to `member` or something like that. Any thought?

cc/ @sseerrggii

[2017-06-10 14:28] enricostano commented on #1594
Would be nice to have this kind of configuration in per-instance seed data.

[2017-06-10 16:15] mllocs commented on #1620
@enricostano I can see the States dropdown if the country has States. My problem is the validation. Countries without states should allow Address.state to be blank. BTW, this is my local environment, I cloned the `master` branch yesterday. 😄

[2017-06-10 18:33] myriamboure commented on #1591
Option 1 seems ok to me, especially if we say something like "to ensure the security of your account we have sent you a link to confirm your email blablabla", I think it's ok to ind of "force" users to all confirm their email before being able to login... so that way, we won't have to deal with any "unconfirmed user" as they would all have to confirm when loging in.
About the "extra" option 1, I d

[2017-06-12 03:20] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=593e08881a8e9b00188df59e&i=gh&m=ra)

[2017-06-13 09:59] mllocs commented on #1620
Same issue as here https://github.com/openfoodfoundation/openfoodnetwork/issues/1330

[2017-06-13 09:59] #1620 closed

[2017-06-14 05:32] mkllnk commented on #1233
@OliverUK Thank you for your thorough testing. Unfortunately, the review of #1545 didn't pick up on the variant issue you reported. We now have randomly failing tests probably depending on the random order of variants in the database:

- `spec/features/consumer/shopping/shopping_spec.rb:217`

I will look into it and see if I can come up with a better solution.

[2017-06-14 07:13] myriamboure commented on #853
@clairezed @ltrls any idea then on how to move forward ? I tend to agree that not being able to change a digit in a price is pretty annoying on a user perspective... Shall we go back to Maikel's initial suggestion ? Or do you have another idea ?

[2017-06-14 07:47] mkllnk commented on #1330
@lin-d-hop I merged #1609. You are welcome to test and comment on or close this issue.

[2017-06-14 07:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5940ecb32f3b96001837a7da&i=gh&m=ra)

[2017-06-14 08:01] mkllnk commented on #1233
It turned out that the issue was caused in another part of the code where variant names were collected as one word "WholegrainDijon". The word "Dijon" was not found. I think I fixed it as part of #1609.

Please close this issue if everything is resolved.

[2017-06-14 08:42] OliverUK commented on #1233
@lin-d-hop do you want this re-tested? Not sure what I'd have to deploy though. Also what I see in Buildkite has changed and none of the builds look familiar now.

[2017-06-14 08:45] lin-d-hop commented on #1330
Great! Thanks @mkllnk Will close and reopen if we notice new issues.

[2017-06-14 09:55] lin-d-hop commented on #1233
Thanks @OliverUK. Since 1069 has been merged I say we leave this. When it gets onto production we can look then and open a new issue for anything further.
Brrraaaaap thanks @mkllnk

[2017-06-14 09:56] enricostano commented on #853
@mllocs @sauloperez any thought about this?

[2017-06-14 22:56] mllocs commented on #1543
Looks that this is not happening anymore in Firefox 53

![](http://g.recordit.co/T8Yfz5SB2y.gif)

[2017-06-15 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5941cea3bd3c130018a95fd9&i=gh&m=ra)

[2017-06-15 11:12] mllocs commented on #853
@enricostano I kind of like the idea of forcing the frontend to send a standard format (float?) for currency. [In this thread](https://stackoverflow.com/a/2146518) they propose a very simple method to transform any currency input to a number

This solution seems pretty simple and applicable to any OFN instance.

[2017-06-16 01:49] daniellemoorhead commented on #1594
@kirstenalarsen with sally away this week did you want to test it?

@enricostano worth creating a new issue for the extension of this to per-instance seed data?

[2017-06-16 01:51] #1330 closed

[2017-06-16 01:59] #1233 closed

[2017-06-16 02:09] daniellemoorhead commented on #1543
@jeronimo can you check if you still get the same problem, and if resolved close this issue?

[2017-06-16 03:07] daniellemoorhead commented on #1591
@oeoeaio agreed after discussion that we should go ahead with Option 1. So, I'm going to update the original post with the planned approach and move all the older stuff into a comment (so that we don't lose it all, just in case). Thanks for the input guys!

[2017-06-16 03:09] daniellemoorhead commented on #1591
PREVIOUS THINKING
-----------------------------------

NEW 'YOU MUST VERIFIY YOUR EMAIL BEFORE YOU CAN DO THAT' CONDITIONS (DRAFT)

**CASE 1/5-  If an existing, unverified user tries to shop in a 'customer only' shop?**

Currently the logged out user who tries to access a 'customer only shop' will see a message saying 'you need to login to view this shop'. They can then either login, or signup (th

[2017-06-16 03:50] daniellemoorhead commented on #1585
View of steps in flow:
![enterprise-signup](https://cloud.githubusercontent.com/assets/10949052/26708351/a7ce771c-478e-11e7-859f-07653b614a6f.JPG)

[2017-06-16 04:59] myriamboure commented on #1591
I think it does make one slight difference though @daniellemoorhead : if a regular user login (before shopping, or at checkout) IF his email is not verified, even if he doesn't want to do anything advance, he is sent an email confirmation and the message ""to ensure the security of your account we have sent you a link to confirm your email blablabla"" is displayed. He can't continue login until he

[2017-06-16 05:22] daniellemoorhead commented on #1591
This is correct @myriamboure, I'll be changing these issues on Sunday to reflect the updated scope. You can see I've started doing this on #1585, combining Sally's notes and screenshots with a step by step view for the developer to quote on and then build.

[2017-06-16 06:18] mkllnk commented on #853
Great. That code looks very clean and simple. And it actually covers all the examples I gave in the beginning. It's the solution that I had in mind.

[2017-06-16 06:24] clairezed commented on #853
Yes, seems neat ! I should have time today to have a look and begin to
implement it

--
*Claire Zuliani*
06.28.05.51.48

Site : www.clairezuliani.com
Carnet : marges.clairezuliani.com

2017-06-16 8:18 GMT+02:00 Maikel <notifications@github.com>:

[2017-06-16 06:56] myriamboure opened #1621 "Treat differently individual and professional buyer"
Today when a customer shop, he has to fill in first name, family name, etc. and the invoice is at his individual name.
This is not adapted to BtoB sales, as the professional buyer need an invoice at the name of the company. So we should in the user profile add three/four fields:
- invidual / organization (checkbox)
- if "organization" is checked a new field "organization name" is opened and compul

[2017-06-16 07:04] myriamboure commented on #1128
@pacodelaluna we need to have the "notify email" translated and content added in the email... for a test with a local territory who is building a hub to help private restaurants buy directly to producers. After the test if the tool fits their need they will make a donation and/or pay for custom dev. But we do anyway need to translate the notify producers mail... Do you know how we can move forward

[2017-06-16 07:08] myriamboure commented on #1541
@clairezed I think your PR was ready on that, am I right ? Sally answered and it confirmed what we had worked out last week. Let me know if any question ;-)

[2017-06-16 10:27] janfabry commented on #671
Is this still the case? I just tried it out in a developer setup (master branch), and when I change the permalink of a product to something that already exists, it saves without a problem and a `1` is added to the permalink.

[2017-06-16 10:52] janfabry commented on #1216
The delete part was covered in 9284dd9. I think the change required is mostly in Angular code, so "angular for newbies" might be a better label?

[2017-06-16 11:49] myriamboure commented on #1591
Ok sorry @daniellemoorhead I didn't know I could comment without re-opening the issue, closing again ;-)

[2017-06-16 11:49] #1591 closed

[2017-06-16 12:26] myriamboure opened #1623 "Bug on customer account display"
URL : https://www.openfoodfrance.org/account#/#hub-demo-open-food-france
![screenshot from 2017-06-16 14-20-53](https://user-images.githubusercontent.com/8135376/27226487-9bb90070-529f-11e7-8ea4-63449928d1b3.png)
Any idea why we have that @pacodelaluna ?

[2017-06-16 12:27] myriamboure commented on #1623
The "NaN" € instead of the total amount on the top right

[2017-06-16 12:46] mkllnk commented on #671
I did that logic for groups which have permalinks as well more than a year ago. That might have been ported to enterprises, but I'm not aware of this in products. @Matt-Yorkley would be the best to confirm that. Can you describe how to reproduce this?

[2017-06-19 03:10] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::InternalServerError** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=594740ad1a25070018759c3c&i=gh&m=ra)

[2017-06-19 07:27] enricostano commented on #1541
This is because the i18n key `producer_description_text2` does not exists. I added more insights in the related PR.

[2017-06-19 10:49] lin-d-hop opened #1626 "Shipping Method Ordering - Confusing Results"
Shipping methods are currently ordered seemingly randomly when displayed to the user.

![shippingmethodordering](https://user-images.githubusercontent.com/8669848/27281668-a3bed2da-54e4-11e7-977c-cb23eeff09f0.png)

When displaying variants to the user could they be displayed ordered alphabetically.

So we'd expect the example above to come out as:
1) Collect between 12-1 pm Saturday (free)
2) Coll

[2017-06-20 12:09] lin-d-hop opened #1628 "Update SASS Gem"
OFN CSS seems to load a huge amount of repetitive and redundant data.
![1](https://user-images.githubusercontent.com/8669848/27332347-672b1ba0-55b9-11e7-92ba-e3d628b93add.png)
![2](https://user-images.githubusercontent.com/8669848/27332350-67d3f8ec-55b9-11e7-95a8-e08f8c8db0dc.png)
![3](https://user-images.githubusercontent.com/8669848/27332352-6905a08a-55b9-11e7-9ab5-10ab93155ea1.png)

It seems us

[2017-06-21 00:45] diogomatsubara commented on #1611
Hi, I'm new to RoR but I'd like to give this one a try.
I grepped the code base and couldn't find the 'has already been taken' error, so I suspect it might be coming from one of the dependencies. It doesn't show up in the locales files either and when I use a different locale (pt-BR) it shows up correctly translated. Could someone more knowledgeable about the code base give some pointers about thi

[2017-06-21 06:13] sstead opened #1629 "Enterprise fee lingering on order when item is removed from order by making QTY=0"
As the screenshot shows, when an item is removed from an order by making QTY=0, enterprise fees associated with that item don't get removed as they should.

![image](https://user-images.githubusercontent.com/10843056/27369783-dd378f5c-569c-11e7-9154-4798f8063228.png)

[2017-06-21 06:26] sstead opened #1630 "If E2E from supplier to hub are removed, items should be taken out of the shop"
Currently, if a supplier's E2E to add to order cycle is removed, and the hub has an open OC with their items in it, those items will remain in the shop. Customers can purchase the items.

[2017-06-21 06:46] sstead opened #1631 "Returned inventory is added to the Product On Hand value incorrectly"
When products are managed in Inventory...

When a customer orders the product, the stock is subtracted from the Invenotry On Hand value. But if the order is cancelled or the item returned, the stock returns to the Product On Hand value.

This is incorrect, it should continue to treat that item as Inventory, not a Product.

[2017-06-21 07:03] sstead opened #1632 "Malfunctions with the OC advanced settings - restricting variants to coordinator's inventory"
Under the settings below, products which are in the coordinator's New Products list should be available in the Incoming section of an order cycle. This is according to the initial description of the feature in the user guide.

![image](https://user-images.githubusercontent.com/10843056/27371235-542d083e-56a3-11e7-9106-4b50f4497a48.png)

![image](https://user-images.githubusercontent.com/10843056/2

[2017-06-21 07:57] myriamboure opened #1633 "Bug in order number display at confirmation !"
With the latest release there is a bug when I make an order, I see on the screen the order confirmation but the order number doesn't show, a strange text display instead.
![screenshot from 2017-06-21 09-53-39](https://user-images.githubusercontent.com/8135376/27373236-d4e6a020-5667-11e7-80e4-f3942b74c1d5.png)
On the email I receive as a customer, this is o I see the order number, but it's confusin

[2017-06-21 07:58] myriamboure commented on #1633
Any idea where that might come from @ltrls or @pacodelaluna or @clairezed ?

[2017-06-21 08:07] myriamboure commented on #1633
we have only upgraded staging in France, waiting to solve that before we push to production

[2017-06-21 08:10] myriamboure opened #1634 "Missing translation in order confirmation email"
![screenshot from 2017-06-21 10-07-57](https://user-images.githubusercontent.com/8135376/27373742-c0e4b6f0-5669-11e7-9bab-add9e84f1ae3.png)

[2017-06-21 09:08] myriamboure commented on #1539
Seems similar to https://github.com/openfoodfoundation/openfoodnetwork/issues/1139

[2017-06-21 09:13] myriamboure commented on #1473
It seems that you can click on the calendar icon when the field is empty, but it fill it in with an undefined date:
![screenshot from 2017-06-21 11-07-19](https://user-images.githubusercontent.com/8135376/27376487-9c20ffbe-5672-11e7-8724-7443e88f6793.png)
This happens in reports and in order cycle bulk page
![screenshot from 2017-06-21 11-12-09](https://user-images.githubusercontent.com/8135376/27

[2017-06-21 10:04] enricostano commented on #1631
@sauloperez this is something we could check: if and how it will change with the new inventory implementation in Spree 2.0

[2017-06-21 10:09] lin-d-hop opened #1636 "Google Maps API is loaded on every page"
On the customer facing side of OFN maps is loading on every page.

This is obviously problematic, given that we don't need maps functionality on most pages. Some load speed analysis in the UK (pretty amateur) is making us want to act on it.

1) Using Chromes Timeline, there are a number of time consuming script calls that all seem to happen within AngularJS directives for Google Maps. This seems t

[2017-06-21 10:54] sauloperez commented on #1539
Did you spot poorly optimized queries? Because that's what it looks like

[2017-06-21 10:56] enricostano commented on #1611
Hi @diogomatsubara and welcome to the OFN community!

Your suspects are correct 😂 , that copy comes from a dependency we use to manage user authentication: the `devise` gem.

1. we require [spree_auth_devise](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/Gemfile#L45) first, a wrapper of the final gem
2. that wrapper defines our `User` model and uses `devise` [capabilities](http

[2017-06-21 11:36] kirstenalarsen commented on #1631
this makes me wonder if we should maintain a ‘pre-spree-upgrade’ version operating on a staging server somewhere, to make it really easy for people testing to check back whether something is a bug or behaviour introduced by spree upgrade. It can sometimes be challenging (even for the super-human @sstead) to remember the detail of exactly how everything is meant to work / worked before!

[2017-06-21 11:36] kirstenalarsen commented on #1539
caution about spending too much time on reports as likely a lot will be made obsolete by the new report UI-grid interface . .

[2017-06-21 11:43] lin-d-hop commented on #1539
As an interim fix @myriamboure you may want to increase server timeouts from 60 secs so that you don't get the slug on page loads. I know it's not a fix, but since you are particularly experiencing the problem in super admin it is a quick work around.

As mentioned above by the time any fix is merged to master UI grids could well be at phase 1 release for this report.

[2017-06-21 11:50] enricostano commented on #1631
That would be awesome @kirstenalarsen

[2017-06-21 12:47] myriamboure commented on #1380
It seems when opening the csv with encoding UTF-8 and language = French there is no more issue, so closing the issue for now.

[2017-06-21 12:47] #1380 closed

[2017-06-21 15:58] Matt-Yorkley commented on #1628
Another thing I'm not sure about is the inclusion of 2 large CSS files instead of one. We seem to have the regular compiled CSS file, and a second one called `all_split2.css`. This file seems to be including all the darkswarm styles a second time?

[2017-06-22 04:00] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=594b40d5efe523001812aaab&i=gh&m=ra)

[2017-06-22 13:29] myriamboure commented on #1128
There needs to be at least some dates so that the producer can identify the order, and the place where it needs to be delivered. Can the "producer instruction" in incoming products be displayed in the mail ? In that case the hub manager can write delivery date and place there.

[2017-06-22 13:34] myriamboure commented on #1473
@lin-d-hop is this going to be solve with the UI-grid work ? Do you know when it should be ready ? So that I can discuss with the user who is annoyed by that and check if it's ok for him to wait.

[2017-06-22 17:34] sigmundpetersen commented on #1473
@myriamboure the ui-grid report is on the June milestone but there seems to be quite some work left on the PR https://github.com/openfoodfoundation/openfoodnetwork/pull/1547 (linked to epic https://github.com/openfoodfoundation/openfoodnetwork/issues/1316)

@daniellemoorhead do you have any more info on the progress of this?

[2017-06-22 17:41] lin-d-hop commented on #1473
There is also UX work that needs to be done for the first release of UI-grid reports.

It won't make the June release. I'm working for July.

[2017-06-23 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=594c5a9bc9226000185cb2ff&i=gh&m=ra)

[2017-06-23 01:35] daniellemoorhead commented on #1611
@diogomatsubara welcome 😄

Just to let you know, we have a slack team and a dev channel where people working on the codebase chat with each other. It's a great place to get some help as you start working on stuff. Let me know if you'd like us to send through an invitation to join. We also have community message boards where things get discussed [here](https://community.openfoodnetwork.org/).

Chee

[2017-06-23 01:39] daniellemoorhead commented on #1631
The two staging servers in Aus get used fairly frequently @kirstenalarsen, whether it's for demos or for rob and maikel's stuff - reckon we should spin up another temporary staging server specifically for Spree upgrade?

[2017-06-23 01:39] daniellemoorhead commented on #1633
Sally is away this week @myriamboure but I've asked @mkllnk to have a look at this.

[2017-06-23 01:41] daniellemoorhead commented on #1628
@oeoeaio anything you can add to this in terms of history of why there's 2 large CSS files and upgrading?

[2017-06-23 01:45] daniellemoorhead commented on #1473
Moved relevant issues/PRs to the July release, definitely not in June. Will be doing an audit of the june milestone in the next week so that all can see what will get through.

[2017-06-23 02:05] mkllnk commented on #1633
@myriamboure It seems to be a missing translation. I just checked the transifex branch and it didn't receive any updates. I checked the translation status of French and it says it is at 94%. Very strange is that I looked a few minutes ago and thought it reported 100%. I can't verify that now.

The way forward is to translate to 100%. That should trigger a new commit on the transifex branch which c

[2017-06-23 08:11] myriamboure commented on #1633
Thank you @mkllnk , yes that's strange, I had checked Transifex also to make sure I had not forgotten any translation... anyway I did the translation now, we'll deploy now and check. Thanks !

[2017-06-23 10:17] sauloperez opened #1638 "Remove useless constrain from query"
When placing an order the app looks up the last unfinished order to complete it. It does so with the following query:

[code]

The `AND (id NOT IN (NULL)) ` clause is useless as there is never a record in the database with a `NULL` primary key. We should remove it from the query.

This happens in both `PUT /checkout` and `GET /checkout`

[2017-06-23 11:44] diogomatsubara commented on #1611
@enricostano Thanks for the pointers! They were really helpful. I submitted a PR with a fix. Let me know what you think
@daniellemoorhead Thanks, I joined the dev channel.

[2017-06-24 02:26] oeoeaio commented on #1628
@Matt-Yorkley looking at the original commit b540f645c3: looks like an attempt to overcome an issue with IE having a maximum file length? Not sure if this is still working or required...

[2017-06-26 04:19] daniellemoorhead commented on #1589
@myriamboure and @sstead given what Sally has described above, ie. the super admin can either create a general user or can create a profile and then assigns it to a user it feels like we may need to have 2 separate issues to cover this. What do you think?

[2017-06-26 05:34] daniellemoorhead commented on #1589
@sstead answers to your questions:

Absolutely not. That defeats the purpose of email verification whereby the email address owner is the one to verify.

Does the Super Admin do this in the same way that an enterprise owner does, through the same interface as the owner? If so, then this scenario is covered by #1593.

[2017-06-26 07:52] myriamboure commented on #1589
"the super admin can either create a general user or can create a profile and then assigns it to a user it feels like we may need to have 2 separate issues to cover this. What do you think?"
For me it is already covered in https://github.com/openfoodfoundation/openfoodnetwork/issues/1593 so we don't need to create a separate issue @daniellemoorhead

[2017-06-26 08:06] daniellemoorhead commented on #1593
@sstead I don't quite understand what you mean by this. Let's talk about it this week!

[2017-06-26 12:09] tschumilas commented on #1554
Having a fees report is something high on Canada's priority list.  Several hubs here are using complex transport arrangements,  and right now have to calculate fees by hand.  How can I help to make this happen? @lin-d-hop  @myriamboure   - do you have any need to isolate fees in your instances?

[2017-06-26 14:28] clairezed commented on #853
I'm sorry, I finally didn't manage to deal with this issue. I got lost in the codebase, and I'll be missing time from now, unfortunately. Really sorry, but I won't be able to resolve this issue pretty soon, as I withdraw from the project for the time being. Would someone else feels up to dealing with it in my place, he's welcome

[2017-06-27 09:32] pacodelaluna commented on #1633
@mkllnk Very strange, I have force-pulled from Transifex and now I am getting new keys ... Well, good to know that we should keep an eye on Transifex behavior.
So this issue is closed for now.

[2017-06-27 09:32] #1633 closed

[2017-06-27 16:34] myriamboure commented on #1623
That's strange also, the calculation are wrong on the amount owed...

[2017-06-27 16:41] myriamboure commented on #1623
![screenshot from 2017-06-27 18-41-15](https://user-images.githubusercontent.com/8135376/27599198-3f8bae84-5b68-11e7-940b-c1ad5c14aabe.png)

[2017-06-27 16:45] myriamboure commented on #1623
![screenshot from 2017-06-27 18-41-15](https://user-images.githubusercontent.com/8135376/27599261-7e3ef1c2-5b68-11e7-80d1-cbf231ab2000.png)
I have the impression that's a rounding display on column "amount", as when I click on the order it's the right amount.
Do you have the same issue @sigmundpetersen and @sstead ?

[2017-06-27 18:14] enricostano commented on #1623
`NaN` is a great JS classic :trollface:

[2017-06-28 04:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=5953377fc47e3500189e101a&i=gh&m=ra)

[2017-06-28 05:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59534575b20d1d00188a26ec&i=gh&m=ra)

[2017-06-28 06:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=595353796023ef0018a0074c&i=gh&m=ra)

[2017-06-28 13:48] pacodelaluna commented on #1095
@mkllnk I have made a last check and correct few missing translations, here is my commit, https://github.com/openfoodfoundation/openfoodnetwork/pull/1643. I am not sure everything is done, but at least 90%, so we could close this ticket after merging this last commit.
Tell me if any issue.

[2017-06-28 17:08] ltrls commented on #853
I tried to find where this chunk of code could go. In Spree there's a Spree::Price#parse_price method but it's only called when parsing prices, so it wouldn't work with rates, weights, percentages...
I guess we've got 2 options :
- override the way strings are parsed to bigdecimals and floats, either in ActiveRecord (ActiveRecord::ConnectionAdapters::Column#type_cast but it would be tied to the Ac

[2017-06-28 17:30] mllocs commented on #853
I can take a look this weekend and share my thoughts 😄

[2017-06-29 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=5954439456bee300183d2b4d&i=gh&m=ra)

[2017-06-29 11:48] enricostano opened #1647 "Shopfront message - INCORRECT TEXT #step6 #spree_upgrade"
This issue has been found by @sstead while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

![](https://community.openfoodnetwork.org/uploads/default/optimized/1X/12c3dad5eb29c29e9e68b30441684f0a8cd70518_1_690x331.png)

[2017-06-29 11:55] enricostano commented on #1647
@sstead how did you create the hub? I created a hub from scratch using the UI and I don't see that text. Only the usual placeholder for the input textareas:

![2017-06-28-142824_1366x768_scrot](https://user-images.githubusercontent.com/748971/27686292-7322b3f8-5cd2-11e7-8d5e-967f8e7051d7.png)

Furthermore I could not find any copy with that text in Spree. Any seed data in place?

[2017-06-29 13:02] enricostano commented on #853
Monkey patching the language or the framework is not an option IMHO. Let's study a bit more the reasoning behind the requirements and try to implement a clean solution. We can do it! 💪

[2017-06-29 13:43] enricostano opened #1648 "On the /welcome screen there is no image"
This issue has been found by @sstead while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

![](https://community.openfoodnetwork.org/uploads/default/optimized/1X/4cdb71084af479f3f50c87455cbeab53f3e07ccc_1_690x465.png)

[2017-06-29 13:43] kirstenalarsen commented on #853
I have no idea whether relevant to this discussion or not, but just wanted to flag that the inability to have a decimal/fractional unit on a product / variant has been raised in the past, particularly when it gets to doing things for buying clubs. I suspect it is something we are going to have to deal with in some way . . just in case that consideration affects anything here. I can dig up and shar

[2017-06-29 14:03] myriamboure commented on #853
I don't think it does @kirstenalarsen but great to have that in mind.
Just sharing here what @ltrls explained to me as it helped me understand how this is gonna work:
1 - delete all what is neither figure, dot and comma
2 - if the chain finishes by a . or , followed by a figure, add a 0 at the end (ex : `3.6` => `3.60`)
3 -  if the chain doesn't finish by a . or , followed by 2 figures (ie an inte

[2017-06-29 14:23] enricostano commented on #1648
While running the app locally I see the Spree logo in that route:

![2017-06-29-162138_1366x768_scrot](https://user-images.githubusercontent.com/748971/27692469-1222e554-5ce7-11e7-9df3-727178de38a8.png)

But I see that your staging instance is using a different logo, the broken image title suggest something that starts with `Ofn...`. Could be that some custom asset has not been loaded while deploy

[2017-06-30 02:12] kirstenalarsen commented on #796
Hey @myriamboure and @daniellemoorhead - I am just doing some organising of spree upgrade as we're going to be moving lots of things through - yay! This issue is labelled Spree Upgrade, so two questions:
- does it need to be or that was just a thought?
- is this issue actually connected to work underway at the moment? and should be scheduled in a release or managed somewhere else? or closed if is

[2017-06-30 02:14] kirstenalarsen commented on #920
@enricostano @oeoeaio @RohanM  is this issue related to / should be considered in Spree Upgrade? or is it obsolete and can be closed? Opinions from @stveep @NickWeir63 and @OliverUK also welcome!

[2017-06-30 02:23] renziver opened #1649 "Add store name beside pin location icon."
<img width="538" alt="screen shot 2017-06-30 at 10 17 21 am" src="https://user-images.githubusercontent.com/13497174/27718314-d5f62522-5d7d-11e7-98b9-feac0195fb9c.png">
can we have something like this on the map so that it would be easier to identify the name of the store and save time on clicking the icon just to know the store name?

<img width="1136" alt="screen shot 2017-06-30 at 10 16 22 am"

[2017-06-30 02:34] daniellemoorhead commented on #1602
Merged, closing issue.

[2017-06-30 02:34] #1602 closed

[2017-06-30 05:02] daniellemoorhead commented on #1493
@myriamboure @sstead do we need to consider this bug as part of the email confirmation work?

[2017-06-30 08:04] myriamboure commented on #1493
Yes sure @daniellemoorhead ! It should be covered by what we will do, but maybe we should wait for the job to be done and check before closing ?

[2017-06-30 09:10] myriamboure commented on #796
@kirstenalarsen I don't think it's connected, the solution seems to have been found here: https://github.com/openfoodfoundation/openfoodnetwork/issues/853
So yes it's connected to the work done there :-)
I just don't close it to keep the example, but if you think we should close please do.

[2017-06-30 11:53] lin-d-hop commented on #1309
Fixed now.

[2017-06-30 11:53] #1309 closed

[2017-06-30 11:59] lin-d-hop commented on #1313
Tested and it now appears correctly (ie as per main site) via android and chrome mobile tool.
Closing. Reopen if spotted again.

[2017-06-30 11:59] #1313 closed

[2017-06-30 11:59] myriamboure commented on #1623
@ltrls awesome if you can look at that, I can't assign you yet but I can mention you at least ;-)

[2017-07-01 06:14] myriamboure commented on #1623
Seems to be connected also to https://github.com/openfoodfoundation/openfoodnetwork/issues/853

[2017-07-01 10:41] mllocs commented on #853
Hello! I just sketched a possible solution for this, could you take a look and share your thoughts? https://github.com/openfoodfoundation/openfoodnetwork/issues/1653 😄

[2017-07-02 07:57] myriamboure commented on #1546
@daniellemoorhead @sstead I'd like to move forward on that, it seems pretty intuitive and I don't think needs much debate, what do you think? Can I assign that to a dev so that we start on it ?
For me it's just a step one, I'll  create another issue later on to be able to add and display a label logo instead of the textual text when a logo is available for a label.

[2017-07-02 09:47] sstead commented on #1546
Sounds good Myriam, I have no opposition to this. I haven't heard from anyone is Australia requesting this feature, but it sounds like it's important in France :)

[2017-07-03 08:43] enricostano commented on #920
cc/ @sauloperez

[2017-07-03 09:59] sauloperez commented on #920
What I see is that as of https://github.com/spree/spree/commit/cf3be8e44 line items include their tax category so it's easy to add in the order confirmation email. So it's better to wait for the upgrade.

[2017-07-04 12:29] enricostano opened #1657 "Wrong color combination in red error banner"
The text of the red banner cannot be read due lack of constrast between text and background colors.

The text color for the `.error` class has been changed in https://github.com/openfoodfoundation/openfoodnetwork/commit/564c1a36503c9eb7cb90905035918c07137ddf35#diff-7c2eeac4e6608877bb981b056037f74bR32

To reproduce the issue I tried to create an Order Cycle while no Enterprise could create one. The

[2017-07-04 18:30] enricostano opened #1658 "Error when deleting an item from order #step6"
This issue has been found by both @sstead and @sigmundpetersen  while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

In `admin/orders/R245886616/edit` you can delete specific line items by clicking on the trash bin icon located at the right end of each line and on `Ok` on the confirmat

[2017-07-04 18:42] enricostano commented on #1658
I created a [patch](https://gist.github.com/enricostano/400567d9ef99b9f8ce9d6b529c24c181) that solves this issue by always returning a JSON response... but we need to find an answer to the questions in the descritpion first.

[2017-07-05 00:22] RohanM commented on #1658
In response to 2 (why are we not using the official API), I believe the answer is that the Spree API is intended for external use, and so we're not using it on our own backend/frontend. I could be wrong though, it's a long time since I've worked on this code.

An alternative solution would be to modify the JS code to request `.json` endpoints, which would take us through the JS pathway already pre

[2017-07-06 03:06] kirstenalarsen commented on #1658
just an outside question . . if we're making decisions about use of API etc, should we have a discussion about where we want to actually go with API (which will become more and more important) to shape how these changes are made? e.g. can we be doing it in a way that is improving API accessibility as we go? @RohanM @oeoeaio @mkllnk

[2017-07-06 04:37] daniellemoorhead commented on #1554
@oeoeaio @lin-d-hop @jeronimo is this something we can/should add to the UI grid further work we're doing?

[2017-07-06 04:42] #1611 closed

[2017-07-06 04:54] daniellemoorhead commented on #1649
We'd really love to bring the whole map experience better for users. Ping @kirstenalarsen, maybe something that'd be covered within the search and directory stuff we've been talking about?

[2017-07-06 04:56] daniellemoorhead commented on #796
February 2016 when it was labelled was a long time ago, and it was probably labelled as such because the view was that upgrading Spree would resolve it. If as @myriamboure says it's been fixed elsewhere then it's good to close :)

[2017-07-06 07:52] OliverUK commented on #1604
This is becoming rather important for us in terms of how variants are ordered on purchase orders. You can end up with a very long order email to a supplier where, in the above example, the apricots 500g appear towards the top and apricots 250g way down and it's up to the supplier to find them, add them up and make sure they've not missed anything. It's illogical and hugely error-prone. So it's not

[2017-07-06 08:00] lin-d-hop commented on #1604
@oliver, ready for testing on staging. Can you take a look? Will need deploying.

⁣Sent from BlueMail ​

On 6 Jul 2017 09:52, at 09:52, Oliver M <notifications@github.com> wrote:

[2017-07-06 08:02] lin-d-hop commented on #1604
@duende13 I suspect your fix won't affect the order email, so this will be and additional task.

⁣Sent from BlueMail ​

On 6 Jul 2017 09:52, at 09:52, Oliver M <notifications@github.com> wrote:

[2017-07-06 08:05] lin-d-hop commented on #1604
@oliver would you open a new issue detailing the issue in the notification email and assign to Susana? Thanks everyone.

⁣Sent from BlueMail ​

On 6 Jul 2017 10:02, at 10:02, Lynne Davis <lynne@openfoodnetwork.org.uk> wrote:

[2017-07-06 08:08] OliverUK commented on #1604
OK @lin-d-hop, will do. I'm on holiday and only meant to be doing some Stroudco work, so can't do testing until week commencing 17th. Otherwise I'll get into trouble. ;)

[2017-07-06 08:12] OliverUK opened #1663 "Variants are ordered illogically (not ordered at all) on purchase order emails"
There doesn't seem to be any logic behind how variants are ordered on emails sent to suppliers.
You can end up with a very long order email to a supplier where, for example, Apricots 500g appears towards the top and Apricots 250g way down and it's up to the supplier to find them, add them up and make sure they've not missed anything.

[2017-07-06 08:15] sauloperez commented on #1663
I guess this is again just a matter of applying alphabetic order, in this case in the underlying database query

[2017-07-06 09:58] lin-d-hop commented on #1604
No probs, I'm on holiday too :-)

⁣Sent from BlueMail ​

On 6 Jul 2017 10:08, at 10:08, Oliver M <notifications@github.com> wrote:

[2017-07-06 23:04] myriamboure commented on #796
It's not yet been fixed, it is being fixed at the moment, but not yet done ;-)

[2017-07-07 00:41] daniellemoorhead commented on #1593
@myriamboure we've removed this from the initial scope for email confirmation because it's not actually about email confirmation so much as improving the way it currently functions. Feel free to have your team do this work separately if it's something you really want to fix. :)

[2017-07-07 00:49] daniellemoorhead commented on #1619
This story is not required so am closing it. Refer to #1593 which is the improvement story for fixing the way enterprise managers are added.

[2017-07-07 00:49] #1619 closed

[2017-07-07 04:02] sstead commented on #1647
@enricostano I created the profile via the /register wizard. I just did the same process again, and the issue did not happen again. I'm not sure what Seed Data is? I'll keep my eyes peeled to see if this problem occurs again.

[2017-07-07 05:10] sstead opened #1664 "Tag rules are not working for show/hide inventory variants"
This came up in Spree testing. I checked on Staging2 and it's occuring there as well, so probably in production too..

Problem described below:
![image](https://user-images.githubusercontent.com/10843056/27943885-16d87268-6326-11e7-898f-6cd1a26ad8b5.png)

The above scenario shows the 'by default' tag rules. Note that tag rules applied to product variants are also not working. E.g if by default sal

[2017-07-07 06:45] sstead opened #1665 "Allow for >1 notification email address per enterprise"
Currently the notification email field can only hold one email.
There are cases where multiple people need to receive notifications relating to an enterprise E.g. https://community.openfoodnetwork.org/t/is-it-possible-to-selectively-notify-producers-in-an-oc/983

Once the 'add manager' functionality of the notifications field has been removed as part of https://github.com/openfoodfoundation/openfo

[2017-07-07 07:41] daniellemoorhead opened #1666 "Email Confirmation | Design login modal"
- dynamic email  and message templates for the login modal to work in every scenario
- making the redirects work so that when the confirmation email is sent the system knows to send the user back to the page they were on.

[2017-07-07 08:13] daniellemoorhead opened #1667 "Email Confirmation | Manage unexpected validation email sent to users"
Updated by Myriam 21.05.2018

## Description
**- As a:** user (person)

**- On page:** when I receive an automatic email with a confirmation link to validate my email

**- I want to:** know what to do if I didn't register on the OFN and don't understand why I'm receiving this message.

**- Solution to implement:**
On all automatic email confirmation messages, add at the bottom of the email, in ita

[2017-07-07 08:16] daniellemoorhead opened #1668 "Email Confirmation | Add confirmable email to user model"
Change the user model to have confirmable email addresses

Other issues that need to be created:
- [ ] Change Discourse login to check for confirmed user email address (2)
- [ ] Replace `enterprise.email` by `enterprise.contact` which is a user (3)

[2017-07-07 08:57] capiscuas commented on #1563
Really looking forward to have this feature implemented. Glad to see it's on the roadmap.

My 2 cents to discussion. I personally would not recommend to show any sort of flag attached to the language, it would politically bring lots of problems and arguments specially from users of consumer groups(at least the one I know from Spain and Catalonia).

I think a selector with the languages names would

[2017-07-07 09:15] sigmundpetersen commented on #1563
Yes I support the text only dropdown. As a bonus I would have the box searchable which filters the results. But that is only needed if the language list becomes large.

[2017-07-07 09:22] capiscuas commented on #1563
Yeah, the searchable box could be a bonus TODO for the future. Althought I doubt it would be used a lot since I understand each instance/installation of OFN concerns a region/state which maximum normally has between 1-4 active languages.

[2017-07-10 12:13] enricostano commented on #1647
https://community.openfoodnetwork.org/t/seed-data-development-provisioning-deployment/910

@sstead can we close this issue for now and open it again if someone is able to reproduce it?

[2017-07-10 17:21] sauloperez opened #1670 "Refactor all tests with order.shipping_method"
## Context

Related to our initiative of upgrading to Spree 2.0 (see details [here](https://community.openfoodnetwork.org/t/spree-2-0-upgrade-step7-epic/974)), one first task we're working on is to stop using `Order#shipping_method`.

As discussed in detail in [Order model #step7](https://community.openfoodnetwork.org/t/order-model-step7/979), we should use `Order#shipments` instead. This way our

[2017-07-11 12:25] Matt-Yorkley opened #1672 "Incorrect invoice dates"
Orders show wrong date in UI. The order here says "03 August" when the date is actually 03-07-2017...? This happens on all orders.

Orders page:
![screenshot from 2017-07-11 13-25-13](https://user-images.githubusercontent.com/9029026/28068403-451ecd2e-663d-11e7-9544-832129255a0c.png)

Order:
![screenshot from 2017-07-11 13-25-06](https://user-images.githubusercontent.com/9029026/28068402-451dfbec-

[2017-07-11 12:33] Matt-Yorkley opened #1673 "UK Hub user feedback"
This epic covers a range of issues related to Hub enterprise user feedback from the UK.

[2017-07-11 12:39] Matt-Yorkley opened #1674 "UK Invoice wording and localisation"
Invoices currently say "GST" in the UK, instead of "VAT".

Invoices are titled "Tax Invoice", but should probably just be "Invoice".

Date format is shown as "YYYY-MM-DD" instead of "DD-MM-YYYY".

![screenshot from 2017-07-11 13-41-23](https://user-images.githubusercontent.com/9029026/28068761-cf8a1116-663e-11e7-8e1c-af076fcba81f.png)
![screenshot from 2017-07-11 13-41-29](https://user-images.gith

[2017-07-11 12:46] Matt-Yorkley opened #1675 "Bulk invoice printing"
It would be really useful for Hubs to be able to select all their orders for the week with some kind of "print all" option, rather than navigating through each order and then each invoice individually.

[2017-07-11 13:29] Matt-Yorkley opened #1676 "Wording of "capture" for payments"
"Capture" is a slightly jargony word for marking orders as paid, and has caused some confusion.

Suggestion to change the wording to "Mark as paid".

![screenshot from 2017-07-11 14-27-50](https://user-images.githubusercontent.com/9029026/28070557-3c76ab4e-6645-11e7-8539-c1c3965b553f.png)

[2017-07-11 14:08] Matt-Yorkley opened #1677 "Company number for invoices"
Currently when trying to send invoices, users are told they have to set a company number and invoices don't send. The number referred to is the ABN, but ABNs are Australian Business Numbers and this isn't clear in the message. In the UI for enterprises, there are fields for ABN and ACN. For UK we probably just need one for "Company Number".

![screenshot from 2017-07-11 14-50-51](https://user-imag

[2017-07-11 14:15] Matt-Yorkley opened #1678 "Missing translation sending invoices"
![screenshot from 2017-07-11 15-12-20](https://user-images.githubusercontent.com/9029026/28072700-b5d31b7a-664b-11e7-8605-4ea18754a62b.png)

[2017-07-11 14:17] Matt-Yorkley commented on #1678
@lin-d-hop I thought UK production defaulted to EN translation keys when GB keys were missing? Has this changed?

[2017-07-11 14:36] Matt-Yorkley opened #1679 "Datepickers not working"
- Datepicker widgets have missing icons when viewing individual Order Cycles.

![screenshot from 2017-07-11 15-27-00](https://user-images.githubusercontent.com/9029026/28073678-66c3066e-664e-11e7-84f0-966f0d96ea79.png)

- Datepicker icons on the main Order Cycles page sometimes don't work when clicked?

![screenshot from 2017-07-11 15-26-43](https://user-images.githubusercontent.com/9029026/280735

[2017-07-12 03:15] kirstenalarsen commented on #1649
yes i think so - this is a great idea (would it be challenging with translations?) could you tag it ‘directory’ then I’ll pick it up while speccing, which might (hopefully) happen soon :)

[2017-07-12 03:25] mkllnk commented on #1429
An error linked to this issue has been reopened in Bugsnag
[**Excon::Errors::Timeout** in **db2fog:clean**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/584f61491aeffcbdf8e3a547?event_id=5965969e631f870018cab349&i=gh&m=ra)

[2017-07-12 04:52] daniellemoorhead commented on #1604
Linking the new issue for email notification to this issue for easy finding: #1663

[2017-07-12 04:58] daniellemoorhead commented on #1664
Hey @oeoeaio might be worth having a quick look at this. @sstead how much of a problem is this? Does it break things so that users can't find a workaround, or is it not too big a problem at the moment?

[2017-07-12 09:02] Matt-Yorkley opened #1682 "Automatically email producers"
Another request from UK hubs; an option to make the notifications emails at the end of an order cycle send automatically when the order cycle closes, so that producers will receive them by the next morning after close.

Could be something like a checkbox in the order cycle.

Also, there isn't anything that shows whether or not the emails have been sent for an order cycle, which may cause issues if

[2017-07-12 09:02] Matt-Yorkley opened #8529 "Automatically email producers"
## Description

As a Hub I want to have automatic notifications to my producers at the end of every order cycle.

I want to enable this in 'Edit Order Cycle' -> General Settings.
This should be a checkbox with the text 'Automatically notify producers with their orders via emails when order cycles close.'

## Acceptance Criteria & Tests

1. The email that is sent should be the same as the 'Notify P

[2017-07-12 09:06] Matt-Yorkley opened #1683 "Add properties during product creation"
Ability to add properties whilst creating a new product. Currently they can only be added via the edit product screen.

[2017-07-12 09:18] sstead commented on #1664
I don't know of anyone using this feature in Aus, Sarah from the UK was the one initially using tagging to distinguish between retail and wholesale customers, I wonder if she needs it or has noticed that it's broken? There's not much of a workaround for this, other than creating duplicate shopfronts and putting different products in each.

[2017-07-12 17:38] sauloperez commented on #1658
I found the fix for this https://github.com/Em-AK/openfoodnetwork/pull/10. As you will see in depth there, we should have added a JS response and not a JSON one.

I suggest we move forward with it while we figure out later on whether we need to override that controller in the first place.

[2017-07-13 17:26] Matt-Yorkley commented on #1677
@lin-d-hop Can I change the translation for "ABN" to "Company Number" for the UK? What should we do with "ACN"?

[2017-07-13 19:16] lin-d-hop commented on #1677
Sure

⁣Sent from BlueMail ​

On 13 Jul 2017 20:26, at 20:26, Matt-Yorkley <notifications@github.com> wrote:

[2017-07-13 19:25] NickWeir63 commented on #1677
maybe ACN could be "Charity Number"?

[2017-07-13 22:19] oeoeaio commented on #1672
Is the date being formatted using `:long`? (Sorry on phone, can't check myself). I had a weird issue that looked like this when `:long` was used. Never worked out what was going on but using an explicit format fixed it.

[2017-07-14 00:30] Matt-Yorkley commented on #1679
Datepicker buttons not working intermittently was a UK localisation issue where saved dates displayed as yyyy-mm-dd but new dates used yyyy/mm/dd format (only on UK) which caused parsing issues and javascript errors, and no datepicker popup.

[2017-07-14 02:41] daniellemoorhead commented on #1676
Hey @Matt-Yorkley would this be an #angularfornewbies type piece of work?

[2017-07-14 09:31] Matt-Yorkley opened #1689 "UK invalid security headers"
Some of the settings for the security headers for UK production and staging seem to have been implemented incorrectly. The "Strict-Transport-Security" header is invalid.

![screenshot from 2017-07-14 10-13-01](https://user-images.githubusercontent.com/9029026/28206570-5c8cfb5a-687e-11e7-8de4-253b7edd74df.png)

Th format of this heder should be `max-age=` followed by a number, then optionally a sem

[2017-07-14 09:56] Matt-Yorkley commented on #1672
@oeoeaio yeah it looks like it's using a method called `pretty_time` which is using `format: :long`.

[2017-07-14 10:44] Matt-Yorkley commented on #1672
Wow this is really weird... using explicit date formatting the short version `%b` gives me `Aug`, but the long version `%B` gives me `September`. They should be the same month!

[2017-07-14 10:45] enricostano opened #1691 "Multiple formats for AJAX requests"
While working on step 6 of the Spree upgrade (https://github.com/openfoodfoundation/openfoodnetwork/pull/1524) I found out that we make 2 different kinds of AJAX requests while dealing with the same resources.

A clear case is both `#update` and `#destroy` actions in [LineItemsControllerDecorator](https://github.com/coopdevs/openfoodnetwork/blob/69053bf744bd2d8bfeab67843538088a90840fd0/app/control

[2017-07-14 10:49] enricostano commented on #1691
cc/ @oeoeaio @RohanM @mllocs

[2017-07-14 10:59] enricostano commented on #1648
ping @oeoeaio @RohanM

[2017-07-14 11:02] enricostano commented on #1647
@sstead @kirstenalarsen I guess that the issue didn't show up again since in that server there was something else deployed. Can you please give a look again as soon as we have step 6 deployed again somewhere?

Thanks!

[2017-07-14 11:15] enricostano commented on #1533
Just wanted to add that you can also run `rm -rf tmp/cache/paralleltests/* && bundle exec rspec` as a workaround....

[2017-07-14 12:17] enricostano commented on #1682
Yes please! cc/ @mllocs @sauloperez @sseerrggii

[2017-07-14 13:44] sauloperez commented on #1533
To me something that leaves left overs behind which can affect other test executions sounds pretty bad. We need to either investigate that parallalel test thing in-depth or find another solution.

[2017-07-14 13:57] enricostano commented on #1533
It's not only related to parallel test IMHO

[2017-07-14 13:59] sauloperez commented on #1682
Agree on the flag. We could add a visual indication next to the orde cycle like a check

[2017-07-14 15:36] enricostano opened #1693 "Authorization Failure when accessing payment methods in Edit/Create Order"
This issue has been found by @sstead while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

Once placed an order from the backend (admin) she tried to edit the order and access the **Payments** tab but she got an **Authorization failure** error like showed in the bottom of the following

[2017-07-14 15:38] enricostano commented on #1693
@sstead I've not being able to reproduce this error. Would you please try again once we deploy step 6 on some server?

Thanks!

[2017-07-14 15:41] enricostano opened #1694 "Marking an order as 'captured' or paid. GET UNAUTHORISED MESSAGE"
This issue has been found by @sstead while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

Once placed an order from the backend (admin) she tried to **mark the order as captured** but she got an **Authorization failure** error like showed in the upper part of the following picture:

![

[2017-07-14 15:42] enricostano commented on #1694
@sstead I've not being able to reproduce this error. Would you please try again once we deploy step 6 on some server?

Thanks!

[2017-07-14 15:46] enricostano opened #1695 "Paypal and Pinpayments does not work"
This issue has been found by @sstead while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1524, more info [here](https://community.openfoodnetwork.org/t/spree-testing-june-2017/976).

![](https://community.openfoodnetwork.org/uploads/default/original/1X/e8772cd298e547a4cd7e77422dbacad902477508.png)

[2017-07-14 15:49] enricostano commented on #1695
@sstead @kirstenalarsen @oeoeaio I'm not sure how to test this in local. Should we wait to test it again once we have step 6 deployed again somewhere? Thanks!

[2017-07-14 21:51] oeoeaio commented on #1695
There must be a way to test this locally... Are there test cards that you can use with PayPal? @sstead did we have a PayPal account that we can use for testing?

[2017-07-15 01:37] oeoeaio commented on #1672
Yep definitely something odd happening...could you document the steps you took to reproduce if that's easy? I'd like to have a deeper look and see if I can work out what is going on..

[2017-07-15 13:09] Matt-Yorkley opened #1696 "Email - flaky password confirmation on signup"
Reference: https://github.com/openfoodfoundation/openfoodnetwork/pull/1697

Steps to replicate this bug:

- Go to Login modal -> Sign Up tab.
- Add an email and password.
- Leave "Confirm password" field blank.
- Click "Sign Up".
- Sign up is completed successfully without confirming password... 😞

If an incorrect password is typed into the field, the validation works correctly and doesn't allow s

[2017-07-16 09:34] Matt-Yorkley commented on #1672
Ah, I've found the answer: https://github.com/spree/spree/pull/2427 It looks like this might will be fixed in the Spree upgrade...

[2017-07-16 11:27] sstead commented on #1695
Yes @oeoeaio , there are Eaterprise accounts for both Pin Payments and Paypal that I use to test. I can confirm that this Paypal account is working on Staging2. The Pinpayments account is setup on staging2, but not working on currently (same error message as above).

[2017-07-17 09:25] enricostano commented on #1695
@sstead @oeoeaio I guess that in Staging2 there is something else deployed, not step 6. Right? We need to test this with step 6.

Of course it should work first with `master` 😂

[2017-07-17 09:27] kirstenalarsen commented on #1695
correct. step 6 is currently deployed nowhere i think

[2017-07-17 10:35] enricostano commented on #1658
I merged https://github.com/Em-AK/openfoodnetwork/issues/10 since it seems to us the quickest way to fix this issue, but we'll need to come back to that "multi format AJAX" problem in the future. Open issue here https://github.com/openfoodfoundation/openfoodnetwork/issues/1691

Now we can test this again to see if it has been actually fixed. Maybe @sstead or @sigmundpetersen can help with that onc

[2017-07-17 12:14] enricostano opened #1699 "Cannot add product properties"
Clicking on the `ADD PRODUCT PROPERTIES` button nothing happen.

![add](https://user-images.githubusercontent.com/748971/28267329-f6d02386-6af9-11e7-829a-a6cb3440216f.png)

After clicking on the button the following error shows up in the console:

[code]

[2017-07-17 12:15] enricostano commented on #1699
I'm still not sure if this is a regression related to the step 6 of Spree upgrade or it's broken in `master` too.

Maybe @mllocs or someone else could help trying to reproduce it in `master` branch.

[2017-07-17 12:25] enricostano opened #1700 "Cannot add product properties from prototype"
Clicking on `SELECT FROM PROTOTYPE` doesn't do anything.

![proto](https://user-images.githubusercontent.com/748971/28267555-e55c59f2-6afa-11e7-88f2-bca40a1d154e.png)

In network section I see the following requests:

**GET /admin/prototypes/available**

Request:
[code]
Response:
[code]

**GET /unauthorized**

Request:
[code]
Response:
[code]

[2017-07-17 12:26] enricostano commented on #1700
I'm still not sure if this is a regression related to the step 6 of Spree upgrade or it's broken in `master` too.

Maybe @mllocs or someone else could help trying to reproduce it in `master` branch.

[2017-07-17 14:10] OliverUK commented on #1604
@lin-d-hop  I've had a look now and as far as I can see, the new ordering works well in the shopfront.

[2017-07-17 14:13] OliverUK commented on #1663
Ordering seems to work well now in the linked issue 1604 on UK staging. Could the same be applied to the order emails? Sort alphabetically first and the by qty in ascending order?

[2017-07-17 18:47] myriamboure commented on #1674
@Matt-Yorkley You should check the other invoice format we have done in France, it might  answer your need... see in admin "user alternative invoice" thing ;-)

[2017-07-17 18:49] myriamboure commented on #1675
Yes, and actually ideally, we should be able to mark an order as "delivered" (do that in bulk for an OC for ex) and then automatically the invoice should be generated and could be accessible from the user account ;-) And the  hub manager should be able to print them in bulk for an OC also, yes.

[2017-07-17 18:58] ltrls commented on #1668
Is that not what's already doing the `owner` reference?

[2017-07-17 20:33] sineadfenton opened #1702 "Automated scrolling issues on checkout page when choosing shipping method"
When users are checking out, the tab after "Billing Info" is "Shipping Info", once the user selects from the options they click "Next", doing this automatically scrolls the page down to the end of page as outlined in the second screenshot.

I imagine the idea here is to assist with navigating users to the next of entering their payment information however a few customers have managed to do this an

[2017-07-17 20:39] lauraturk commented on #1311
Afternoon! I’m a first-time contributor and was hoping to help out with this issue. If there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-07-18 01:40] daniellemoorhead commented on #1311
@mkllnk or @enricostano or @Matt-Yorkley could one of you help out @lauraturk with setting up and getting onboard with the OFN codebase?

@lauraturk welcome! It's at a crappy time of the early morning for you but we have a regular dev catchup this Thursday (which makes it 5:30pm Melbourne time and 8:30am UK time). You're very welcome to join us if you're still awake! Also, have you joined our slac

[2017-07-18 04:23] Duende13 commented on #1663
I'm working on that @OliverUK :)

[2017-07-18 05:36] kirstenalarsen commented on #1675
work did start on a full solution to this, but obviously got put to the side. There was (is) a design for angularised 'Orders index' page that enabled management of multiple orders concurrently, including selecting and multiple print / send of invoices. Would be good to see this happem, but maybe best wait till after spree upgrade?

[2017-07-18 07:32] sineadfenton commented on #925
Hey,

We've had a couple of users over in the UK having issues with this button too.

Just want to check in regarding the assignment of this issue and whether we can look to getting a quick fix? Either removing it or having the functionality put behind it?

I also wonder if there is better terminology that we could use rather than Ask? Or perhaps we can have a tooltip that explains what "Ask" does

[2017-07-18 08:04] sauloperez commented on #925
Totally agree. A user trying out our local instance had the same problem because it's not clear what is that checkbox about. I suggest we replace it with a better copy.

[2017-07-18 08:07] sauloperez commented on #1675
Definitely. We don't want to waste our efforts implementing features that might need to change in newer versions of Spree.

[2017-07-18 08:42] sineadfenton opened #1703 "IE11 Retains 0 volume when shopping and entering product quantities"
When users browse as a shopper with Explorer v.11 the 0 in the volume field is not replaced when a number is typed in.

So when 1 is entered it shows as 10

![image](https://user-images.githubusercontent.com/28807449/28308156-51dffb90-6b9d-11e7-991f-648aa998a173.png)

Please can we investigate?

[2017-07-18 08:44] sauloperez commented on #1306
Just to let you know, we have a slack team and a dev channel where people working on the codebase chat with each other. It's a great place to get some help as you start working on stuff. Let me know if you'd like us to send through an invitation to join. We also have community message boards where things get discussed [here](https://community.openfoodnetwork.org/).

[2017-07-18 09:26] sineadfenton commented on #723
Hey,

We had a request for this come up again not so long ago. Think it would be really useful for users, as well as adding an element of personalisation which I think both user/seller will benefit from.

Cheers,

Sinead

[2017-07-18 10:45] sineadfenton commented on #1702
Hey @stveep,

Just tagging you in relation to my messages on slack. Would be great if you were able to have a gander on this one

Cheers,

Sinead

[2017-07-18 11:12] sineadfenton commented on #1186
Hey all,

Just wondering about the status on this and if the conflicts identified in 1445 and 1487 are complete and this could be implemented into an upcoming release?

Cheers,

Sinead

[2017-07-18 12:30] Matt-Yorkley commented on #1311
Hi @lauraturk, I don't think anyone's working on this at the moment. If you want to set up a full dev environment there's guides for different OS's in our wiki: https://github.com/openfoodfoundation/openfoodnetwork/wiki

[2017-07-18 12:48] enricostano commented on #925
Related https://community.openfoodnetwork.org/t/ask-checkbox/995

[2017-07-18 13:19] capiscuas commented on #925
Hi, here is my 2cents to the subject, I believe the most intuitive UI would be to not have that checkbox. It is hard to summarize the behaviour ' do not ask for future deletes' with just the workd 'ask'.

I think for users that want to do multiple deletes, it is better to just select multiple items ande delete them from the Actions dropdown button. again is just my opinion.

[2017-07-18 13:28] sineadfenton commented on #925
I would agree @capiscuas. I think not having it would be the best solution all in all.

I think it also eliminates potential user error with having this ticked, deleting a load of items and not meaning to. The prompt to verify is useful

S

[2017-07-18 13:46] enricostano commented on #925
Would be great to have the whole "ask" feature described somewhere, like user stories. And then decide what's the best UX approach.

[2017-07-18 14:17] capiscuas commented on #925
Good idea @enricostano , althought if the interface needs to describe or explain a feature, it's already not intuitive UX-wise.

[2017-07-18 15:11] Matt-Yorkley commented on #1668
It looks like you're right, `owner` is already a reference to a user. I notice there's two fields for `email` and `email_address` as well...

It looks like `email` is used for order notifications and `email_address` is used for enterprise contact. I guess we can leave them as they are?

[2017-07-18 15:53] Matt-Yorkley commented on #1668
After a lot of rummaging around in the code/database and discussion in Slack, it looks like we should leave `enterprise.email` alone, as it's a separate field for where to send the order emails. And `enterprise.owner` is already a reference to a user.

[2017-07-18 16:18] lauraturk commented on #1311
@Matt-Yorkley and @daniellemoorhead thanks! I'm all set up according to the wiki and Contributing doc. Great documentation, thanks!

There's a small cadre of us diving into our first contributions to open source for a school project. You'll see us popping up the next couple of days to hopefully help with some of the easier things!

[2017-07-18 16:19] letakeane commented on #1306
@sauloperez Thank you so much! I'd love to be added to the team/channel. Looking forward to diving deeper into an open source project!

[2017-07-18 16:29] jennPeavler commented on #1482
Hi there - I was hoping to help fix this issue, it looks like a good bug for a first-time contributor! I noticed this translated string `production_description_text2` doesn't exist in any of the translation files. Curious if anyone knows if we could just delete this text block from the template file (link the file word to the line in the template file)? Any strings that don't exist in the translat

[2017-07-18 16:52] jennPeavler commented on #1307
Hi there.  I am a first time contributor and I was hoping to fix this issue.  I am unable to recreate the duplication.  Is this still an issue?  If so ,can you please elaborate on how to re-create it.

Thanks for the feedback.  Hopefully I can resolve the issue!

[2017-07-18 16:57] enricostano commented on #1482
Hi @jennPeavler and welcome to the OFN community!

I'm not sure if this issue is related to https://github.com/openfoodfoundation/openfoodnetwork/issues/1541 and https://github.com/openfoodfoundation/openfoodnetwork/pull/1622

[2017-07-18 17:06] enricostano commented on #1307
hi @jennPeavler !

@sstead could you please provide steps to reproduce this issue? Thanks!

[2017-07-19 03:15] kirstenalarsen commented on #1306
hey Leta - can you send your email to hello@openfoodnetwork.org and we’ll add you to slack :)

[2017-07-19 03:16] kirstenalarsen commented on #1311
Hey Laura, welcome and if you send your email to hello@openfoodnetwork.org I’ll add you to Slack. Perhaps send me the emails of all the students so i can do it in one go?

[2017-07-19 03:34] daniellemoorhead commented on #1466
What's the PR number for this @oeoeaio? It doesn't seem to be connected to this issue, or referenced. Is it all in #1468?

[2017-07-19 03:58] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=596ed8d4e459af0018a978b4&i=gh&m=ra)

[2017-07-19 05:15] sstead commented on #1307
Welcome @jennPeavler! I've had a look and I can't see this issue occurring anymore, nor can I recreate it. I hope you can find another issue to tackle :)

[2017-07-19 06:06] mkllnk commented on #738
Reviewing and merging pull requests, I find conflicting keys quite often. Sometimes their are duplicate entries and sometimes people forget to delete old keys. The i18n-tasks gem suggested by Pavlik could be really helpful. Let's implement that.

[2017-07-19 07:49] daniellemoorhead commented on #1703
Maybe one for @Duende13?

[2017-07-19 08:02] daniellemoorhead commented on #925
@capiscuas I think @enricostano meant for us to use in the redesign of the feature, rather than as something to display for the user 😄

@sineadfenton perhaps you can have a go at describing the way the feature works now and how we could possibly change it? In a user flow or with stories?

[2017-07-19 08:23] daniellemoorhead commented on #1482
@mkllnk or @oeoeaio any thoughts on above?

[2017-07-19 08:28] sauloperez commented on #1466
@oeoeaio can you turn that detailed description of the design into a wiki doc or something alike? it's essential to have it available for future reference as we work on the payment gateway.

[2017-07-19 08:39] daniellemoorhead commented on #1307
Hey @jennPeavler @lauraturk you'll find some issues we thought were good for newbies to the codebase here:

Angular: https://github.com/openfoodfoundation/openfoodnetwork/labels/angular%20for%20newbies
Ruby: https://github.com/openfoodfoundation/openfoodnetwork/labels/rubies%20for%20newbies

[2017-07-19 08:39] #1307 closed

[2017-07-19 10:54] Duende13 commented on #1604
Hi @sauloperez, just a note. This issue is not RoR, it was Angular related and it's already been solved (PR #1652) The one that mentions @OliverUK it's RoR and I'm working on it  (#1663)

[2017-07-19 10:56] sineadfenton commented on #959
Just to add, we've had two further requests from the UK for this

[2017-07-19 11:28] sineadfenton commented on #1607
Hey @Matt-Yorkley,

Is there a particular size for the logo that's needed? We can send one across and maybe get this updated, would certainly help from a UX perspective - I was confused when I initially started using the system by this as it hadn't been mentioned. Best to save confusion where we can

Cheers,

Sinead

[2017-07-19 13:50] enricostano commented on #959
Related to this https://groups.google.com/forum/?hl=en#!topic/spree-user/xyzwVK-6zgo

But we need to look for more recent info about it, maybe asking again in the Spree community.

[2017-07-19 13:52] enricostano commented on #1607
I would prefer a system variable somewhere defined deplyoing the app (Ansible scripts, etc)

[2017-07-19 14:31] enricostano commented on #1699
Ouch I was using a different user, who doesn't own the enterprise... we should not even show that buttons IMHO

[2017-07-19 14:31] #1699 closed

[2017-07-19 14:31] enricostano commented on #1700
Ouch I was using a different user, who doesn't own the enterprise... we should not even show that buttons IMHO

[2017-07-19 14:31] #1700 closed

[2017-07-19 19:41] Duende13 commented on #1663
@OliverUK , @lin-d-hop , just one question, does it make sense that this order can be seen into the confirmation screen at the end of the check out? The summary of the order screen. It can be applied to both, email and confirmation screen. Is it ok for you? I'm almost there just I have to add some tests and I'll be done :)

[2017-07-19 20:06] jennPeavler commented on #1307
Thanks Danni M.  I'm going to try and tackle one now!

On Wed, Jul 19, 2017 at 2:39 AM, Danni M <notifications@github.com> wrote:

[2017-07-19 21:00] OliverUK commented on #1663
Hi Susana,
You are saying that the customer orders will also be ordered in the same way as the orders to the suppliers? I can see no problem with this.

[2017-07-19 23:29] oeoeaio commented on #1699
Out of interest @enricostano, how did you even get to that page if your user doesn't manage the producer of "Fuji Apples"?

[2017-07-20 00:02] mkllnk commented on #1321
An error linked to this issue has been reopened in Bugsnag
[**LoadError** in **lib/open_food_network/integrity_checker.rb:1**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/581bd0c61aeffcbdf8e17197?event_id=596ff2fdb537470018a2d118&i=gh&m=ra)

[2017-07-20 01:50] oeoeaio commented on #1668
@Matt-Yorkley @ltrls Are you clear on the current function of all of the confusing email-related parts of the `Enterprise` model?

- `owner` is the owner, their email address is only relevant in the sense that
- `email` is used for communication from the OFN to the enterprise user, and is also the address that is 'confirmable' in the devise sense. I believe it defaults to the owner's email address

[2017-07-20 09:26] enricostano commented on #1668
Nice @oeoeaio , would be great to have that knowledge embedded in the code!

[2017-07-20 12:27] enricostano commented on #1647
@sstead could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/ @sigmundpetersen @OliverUK

[2017-07-20 12:28] enricostano commented on #1648
@sstead could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/ @sigmundpetersen @OliverUK @oeoeaio

[2017-07-20 12:29] enricostano commented on #1658
@sstead @sigmundpetersen could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/  @OliverUK

[2017-07-20 12:30] enricostano commented on #1693
@sstead could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/ @sigmundpetersen @OliverUK

[2017-07-20 12:31] enricostano commented on #1694
@sstead could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/ @sigmundpetersen @OliverUK

[2017-07-20 12:31] enricostano commented on #1695
@sstead could you please test this again? Thanks!

It is deployed at https://staging1.openfood.com.au

cc/ @sigmundpetersen @OliverUK

[2017-07-20 13:38] Matt-Yorkley commented on #1668
@oeoeaio are there two different contact roles needed here that need to be preserved, ie:

- the current `contact` and `email_address` seem to be for displaying in the front end, more as a point of contact for user inquiries?
- the `email` field receives emails related to orders and running the enterprise?

Are we merging these into a single contact, or keeping them separate?

[2017-07-20 14:36] Matt-Yorkley commented on #1607
I think this has been sorted now on UK production. Possibly by @lin-d-hop...

[2017-07-20 14:38] enricostano commented on #1607
Can we have more details about it please? This is something more instances will need to customize.

[2017-07-20 23:58] daniellemoorhead commented on #1095
@mkllnk given the PR has been merged can this issue now be closed?

[2017-07-21 01:57] mkllnk commented on #993
An error linked to this issue has been reopened in Bugsnag
[**RuntimeError** in **app/jobs/products_cache_integrity_checker_job.rb:6**](https://app.bugsnag.com/yaycode/openfoodnetwork/errors/56cfa39507141bdbda05485f?event_id=59715f72b5219f001856448d&i=gh&m=ra)

[2017-07-21 02:10] sstead commented on #1594
Thanks @mkllnk, the email on production is now correct.
![image](https://user-images.githubusercontent.com/10843056/28446348-8cd29ed4-6e0d-11e7-8603-4c2b5d5af88d.png)

[2017-07-21 02:12] #1594 closed

[2017-07-21 02:12] oeoeaio commented on #1482
Hi @jennPeavler, thanks for looking into this! Unfortunately I believe this issue has just been fixed by #1622.

Interesting idea about preventing translations from appearing at all when no translation key is found. @enricostano @mkllnk any thoughts about whether this is good practice?

[2017-07-21 02:17] sstead commented on #1648
The image did not load again. But it's probably just because the images aren't present- not a Spree related issue.
![image](https://user-images.githubusercontent.com/10843056/28446487-5b0fc8b2-6e0e-11e7-80c6-5320e92be172.png)

[2017-07-21 02:20] oeoeaio commented on #1482
This is fixed on Aus Production, so closing now.

[2017-07-21 02:20] #1482 closed

[2017-07-21 02:25] sstead commented on #1648
Related to this page....
![image](https://user-images.githubusercontent.com/10843056/28446668-98561d56-6e0f-11e7-97dd-125437e43817.png)

[2017-07-21 02:25] mkllnk commented on #1482
Interesting thought. I would definitely keep them in dev and staging environments to make it easier to spot mistakes. Even on production it sometimes happens that missing keys are not noticed, because the key says the same as the translation would. So not displaying it at all would be a downside then. Difficult question. I would leave it for now.

[2017-07-21 02:27] mkllnk commented on #1482
There was another suggestion of using the i18n-tasks gem to find missing or unused keys: https://github.com/openfoodfoundation/openfoodnetwork/issues/738 I would prioritise working on that over changing the display of missing keys.

[2017-07-21 02:29] sstead commented on #1647
This happened for me again for the first enterprise I created on the new deploy on Staging1... I'm not sure if this is related to 'seed data'

![image](https://user-images.githubusercontent.com/10843056/28446744-2d1d65f2-6e10-11e7-9ed4-922f28a78053.png)