[2018-03-04 20:12] #724 closed

[2018-03-04 20:17] myriamboure commented on #611
It seems it's possible to set up a SKU for variants in bulk edit products page, so closing
![screenshot from 2018-03-04 21-16-30](https://user-images.githubusercontent.com/8135376/36950101-62f9f7d8-1ff1-11e8-9622-95820d1de444.png)

[2018-03-04 20:17] #611 closed

[2018-03-04 22:11] sauloperez commented on #2109
:ok_hand:

[2018-03-04 23:01] myriamboure commented on #794
Closing as not so vital and never had user feedback on it, will address that later when we'll have treated all the important things. Iceboxed https://community.openfoodnetwork.org/t/hubs-and-producers-can-easily-create-their-enterprise-on-ofn/1248

[2018-03-04 23:01] #794 closed

[2018-03-04 23:05] myriamboure commented on #916
Captured in the icebox on deletion, will be rechecked when we decide to focus on it.
https://community.openfoodnetwork.org/t/users-and-admins-can-delete-accounts-entreprises-customers-order-cycles-groups/1149
#gitcull2018

[2018-03-04 23:05] #916 closed

[2018-03-05 16:53] sauloperez commented on #2071
The actual reason why this rake task fails is because it's not localized while `db:seed` is. When deploying, the ansible task `seed database` inserts the appropriate states from the `states.yml` specific to that OFN instance.

The `openfoodnetwork:dev:load_sample_data` then tries to create factories relying on `Australia` being there.

The line, for instance:

https://github.com/openfoodfoundation

[2018-03-05 17:16] Matt-Yorkley commented on #1612
Is this the same as #1589 ?

[2018-03-05 17:30] Matt-Yorkley opened #2113 "Multilingual language listing"
With multilingual, the displayed languages can't be controlled, and the default language gets appended to the available languages listed in the `AVAILABLE_LANGUAGES` list.

![screenshot from 2018-03-05 16-20-13](https://user-images.githubusercontent.com/9029026/36989474-bea948e2-2099-11e8-918a-c4cdf15da7b0.png)

## Description
`en` is being added to the languages list when it shouldn't be.

## Exp

[2018-03-05 18:16] sauloperez commented on #1612
It would be worth taking a look at the spree release notes to see if this got ever fixed

[2018-03-05 22:43] daniellemoorhead commented on #2113
@myriamboure @lin-d-hop I've given this a severity 2 and assigned it to @Matt-Yorkley and @mkllnk to fix given they were working on multilingual project. Feel free to change if this isn't correct 😄

[2018-03-06 06:11] myriamboure commented on #1612
No @Matt-Yorkley it is precised in #1589 "Note: we know that setting a password for a user is bad, and we've created #1612 to change this functionality so that the user sets it themselves." I'll sum up in the other issue what is exactly missing and @ you. If you want to have a look at spree release to check if this one have been fixed that would be great :-)

[2018-03-06 06:13] myriamboure commented on #1589
@Matt-Yorkley I added the "THIS REMAIN TO BE DONE" title on what needs to be done: display the "email confirmation message has been sent" message on user profile to enable super-admin to know this user has not confirmed + resend confirmation if needs be.

[2018-03-06 10:01] myriamboure commented on #2099
2h spike time-boxed on this to start with by @mkllnk then we'll see if we need an inception to decide together what we do.

[2018-03-06 10:07] #1953 closed

[2018-03-06 11:09] #220 closed

[2018-03-06 11:10] sauloperez commented on #220
We have bigger problems than this and flexibility adding seed data is not one of them so far.

[2018-03-06 11:10] sauloperez commented on #2072
closed.

[2018-03-06 11:58] enricostano commented on #2113
Please share the suggested solution before starting to code 🙏

[2018-03-06 14:38] enricostano commented on #1584
@myriamboure could you please check this again? Thanks!

[2018-03-06 14:40] enricostano commented on #1631
This is blocked by Spree upgrade

[2018-03-06 14:51] enricostano commented on #2105
@mllocs keep this in mind :wink:

[2018-03-06 15:04] enricostano commented on #1493
This is waiting to be deployed on staging and checked again.

[2018-03-06 15:59] sauloperez commented on #1612
The only trace I found in Spree is that in the commit `8fb746c12` the `Spree::Admin::UsersController` has been moved to the api engine and apparently it just returns JSON.

However, when accessing this URL in the app there's an ajax request to `/admin/users/new` that returns the whole HTML markup, including the password confirm field. I haven't found how we manage to return that and whether it's S

[2018-03-06 16:03] enricostano commented on #1948
We lowered the severity of this to `s3` since we didn't hear any direct complain about it and we still don't have a monitoring infrastructure to get some meaningful data from.

[2018-03-06 16:04] myriamboure commented on #1315
Iceboxed https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 will work on it when we open the mobile UX topic
#gitcull2018

[2018-03-06 16:04] #1315 closed

[2018-03-06 16:38] myriamboure commented on #1172
I retested and the bug doesn't seem to happen anymore. The UX of shopping in two tabs is not ideal (error message a bit confusing) but it's ok for now and at least this issue is not anymore.  Tried as guest and logged in. Must have been fixed by some other thing :-)

[2018-03-06 16:49] myriamboure commented on #1584
Quantity on hand disappear in next version of Spree so let's see after Spree upgrade where we are at about that.

[2018-03-06 16:53] myriamboure commented on #2065
@daniellemoorhead I'm closing this epic now that we've gone through all the s1 and s2 issues with @enricostano . The plan from now is that each time someone mark a new issue as s1 or s2 we decide straight away if we agree on severity and if yes but it directly in either delivery backlog is ready to be taken or blocked column if this is an important bug but blocked by something (we added that colum

[2018-03-06 22:32] mkllnk commented on #2100
I would think that this is done in one hour. If not, something unexpected happened and we need to review this. So I would timebox it to one or two hours.

[2018-03-07 03:19] mkllnk commented on #2113
Okay, so we use `I18n.available_locales` in three files:

- `config/application.rb`
- `app/views/shared/menu/_large_menu.html.haml`
- `app/views/shared/menu/_mobile_menu.html.haml`

The application config is correct adding the default locale and `en` to the `available_locales`. These are used for building assets and having `en` as last resort fallback.

As Matt pointed out, the problem is that the

[2018-03-07 03:28] mkllnk commented on #1172
I just saw the code causing this a few days ago. This problem still exists, but may be a bit difficult to re-produce. The problem is the following logic:

- User visits shop1.
- shop1 is stored as default shop for user.
- Products for the default shop are loaded into the shopfront of shop1.

Now if you open two shops at the same time, you can get a race condition:

- User visits shop1.
- User visi

[2018-03-07 04:08] daniellemoorhead commented on #2065
Perfect! I've moved the epic into the review column on the product feature backlog. We haven't really discussed how we would use this column, but it seems like a good point in time to reflect on what we did and take away some lessons learned?

[2018-03-07 04:41] daniellemoorhead commented on #2104
I don't think this has anything to do with single cohesive unit, but it's a clarification in what we do/don't support. If it was to fit anywhere it'd be the make what we have great stream. Happy for you to add it!

FYI There's a feature that can be implemented that recognises when a user is coming in on an unsupported browser (not sure about device) and alerts them to the fact. Not that we need to

[2018-03-07 05:02] daniellemoorhead commented on #2104
Easy thing to check @Matt-Yorkley?

[2018-03-07 05:03] daniellemoorhead commented on #835
Closing this issue for now, backend not optimised for small screen. Solution: use a bigger screen 😈

[2018-03-07 05:03] #835 closed

[2018-03-07 05:04] daniellemoorhead commented on #749
I think your solution is a good one @myriamboure and it's definitely an S5 👍

[2018-03-07 05:06] daniellemoorhead commented on #1667
To be honest @myriamboure I don't remember why this issue was created. Interesting that there is no detail, I would put that down to it being created maybe during a meeting or discussion and then lost along the way.

Happy enough for it to be closed if it isn't seen as necessary :)

[2018-03-07 08:08] sauloperez commented on #2113
I do like it and I would definitely call it `I18nConfig`. As for the folder, `models/` is where our business logic lives, regardless of persistence, while `lib/` is for things orthogonal to the domain model. In this case, it feels more like a lib but I'm not sure.

[2018-03-07 09:37] myriamboure commented on #1172
Ok, putting s3 because this situation is very unlikely... so let's keep it but fix later as we have other more urgent priorities.

[2018-03-07 09:39] myriamboure commented on #2065
For me the "review" column was supposed to check if what we have done has solved the problem in a satisfying way or not. Or if we need to put it  back in inception to iterate again and move forward on the problem resolution.  For this one I think the process we have set up is solving our problem that we don't have a process to filter and push bugs into the delivery pipeline, so I would say it's go

[2018-03-07 09:39] #2065 closed

[2018-03-07 09:50] myriamboure commented on #2104
Ok Iceboxed this here @daniellemoorhead : https://community.openfoodnetwork.org/t/clearly-communicate-about-which-browser-we-support/1249, whatever this is a bug linked to google font we will need at some point to communicate clearly with our users on which browsers we support. Let's see Matt's feedback on the google font thing and see what we do with that issue.

[2018-03-07 09:52] myriamboure commented on #2100
Given the performance and deployment issues we have I would suggest to prioritize it and timebox to max 2h. If any objection @enricostano raise your voice :-) Can you put that on your list @mkllnk or do we need to find someone else to work on it?

[2018-03-07 09:53] myriamboure commented on #2100
Put it in delivery train backlog as not sure it require more inception, if not please feel free to move directly to dev ready.

[2018-03-07 10:10] myriamboure commented on #1667
@Matt-Yorkley @mkllnk any important security point I don't see about limitating the number of confirmation we can resend? I thought someone with bad intention could probably exploit that to send massive amounts of confirmation and crash our server and blacklist us... is that possible with this "resend confirmation" thing? If yes I would suggest we agree on how many max confirm email we can send (I

[2018-03-07 10:21] kirstenalarsen commented on #341
is very old and no idea if is still a problem - just couldn't use a credit card in different name from the customer name on the order. was used for merchant gateway setup (embedded credit card) which I think hardly anyone (if at all) is using at the moment. so fine to shut it i reckon

[2018-03-07 10:21] #341 closed

[2018-03-07 14:46] sauloperez commented on #1957
![](https://media.giphy.com/media/w2fjYsGvjDF3a/giphy.gif)

[2018-03-07 17:38] enricostano commented on #2100
2hrs as a first try it's OK. We'll see when we'll be able to actually work on it though.

[2018-03-07 17:41] enricostano commented on #2065
We can close this epic, but I think it is being super useful the bi-weekly bugs triage meeting. Please let's keep doing it :pray:

[2018-03-07 17:47] enricostano commented on #2113
I like the idea, agree on `I18nConfig`, vote for `lib/`.

[2018-03-07 18:59] enricostano commented on #2077
You're right, right now we have that strategy. I'm only wondering if all the instances are aware of the coming changes and that maybe they want to wait to deploy the release that will include this feature so they can translate the new keys first and then deploy the next (really near) release.

Ignore me, I'm just trying to understand if that rule is OK for all the cases or we need to be careful in

[2018-03-07 20:35] sauloperez commented on #2071
- [ ] write acquired knowledge and state of the nation in the wiki

[2018-03-08 07:26] lin-d-hop commented on #1598
Closing as completed (new bugs/features to go in new issues)

[2018-03-08 07:26] #1598 closed

[2018-03-08 08:31] myriamboure commented on #2065
Sure, let's keep doing that @enricostano :-)

[2018-03-09 00:36] daniellemoorhead commented on #2065
@myriamboure and @enricostano you guys are the best!

[2018-03-09 00:45] daniellemoorhead commented on #2077
I hear you @enricostano and I think this is an opportunity for us to mature as a software development group to ensure that what we build is considered in the context of implementation. It makes me happy that this feature is currently hiding behind a toggle, I'm of the belief that this is good practice for any new feature we decide to build.

And perhaps we need to include consideration within our

[2018-03-09 01:11] daniellemoorhead opened #2126 "[Spree 2 Upgrade] Soft delete shipping methods and enable destroys"
As per the detail in PR #1659:

This removes the "hack" that forbids destroying shipping methods from /admin and makes use of Spree's soft delete implementation (`deleted_at` column in `spree_shipping_methods`).

This way admins can disable a particular shipping method, so no one uses it anymore, while still showing the shipping method for past orders in reports.

## TODO
- [x] remove N+1
- [ ] Ch

[2018-03-09 06:25] sauloperez commented on #2126
:clap:

[2018-03-09 12:39] sauloperez opened #2129 "Remove :mails_from preference"
## Description

Once we get to Spree 2.0, the preference specified in [add link to preference in our codebase] needs to be removed. There is already a default value in Spree that was introduced in https://github.com/spree/spree/pull/2643/files#diff-a9fae1594c22d1ec005ac8501d80d7afR92.

We added it in order for us to make the Spree upgrade backward compatible by using it instead of `Spree::MailMeth

[2018-03-09 12:39] sauloperez commented on #2129
This is a post-Spree 2.0. What do you want to do with it @myriamboure @daniellemoorhead @enricostano ?

[2018-03-09 13:50] myriamboure commented on #1593
Update: This is not possible anymore with first part of email confirm merged to add an unconfirmed user using the "notification" field hack, so I suggest we implement this new feature in the "manager" field directly now and don't use "notification" for that. So only confirmed users can be add in notification field, but we can add a new manager from "manager" field. I'm updating the story descripti

[2018-03-09 14:03] myriamboure commented on #1593
@Matt-Yorkley it would be great to prioritize that work as next on email confirm as users are having trouble as now they can't use the "notification" hack anymore (cf conversation with @lin-d-hop) I have reviewed the initial description and amended it to make sure it's all specified and clear, if you have any question please ask. So to be clear we want people to be able to add someone as a manager

[2018-03-09 14:09] myriamboure commented on #1593
@Matt-Yorkley can you please make sure that this UX detail is taken into account when you work on it? I think it is connected to this. https://github.com/openfoodfoundation/openfoodnetwork/issues/1216

[2018-03-09 14:13] myriamboure commented on #1363
Closing as this is what have been done in the email confirmation project, so that's in place :-) If we want later on to be able to have multiple people receiving notification we can create an icebox (if the need is there...)

[2018-03-09 14:13] #1363 closed

[2018-03-10 19:49] myriamboure commented on #2081
I'm proposing to move to S2 as I had again a feedback from a user, it seems they don't easily use the workaround and they are pretty annoyed by this little thing. I guess it's a very little think to modify, to you agree @enricostano ? If you agree I'll put directly in "delivery backlog" so that it can be taken by someone.

[2018-03-10 20:22] myriamboure opened #2130 "Product Filters Icons don't appear on French instance"
## Description
Both on computer and mobile, we don't have any icon for product categories (whereas they do in Aus and Uk and...)

## Expected Behavior
Show Icons

## Actual Behavior
Icons not shown

## Steps to Reproduce
1. Click on a shop dropdown, or within a shop you see filters don't have the small nice icons.

## Animated Gif/Screenshot
**In France:**
![screenshot from 2018-03-10 21-19-08](ht

[2018-03-10 20:25] myriamboure commented on #2130
Assigning you @pacodelaluna as when we will have the images you will have to put them somewhere on our server (see #1312 they explained how to do it). I'll let you know when we got them.

Note to self: update this page (https://github.com/openfoodfoundation/ofn-install/wiki/Administration#taxonomies) when we have put the icons on Google Drive OR share Dropbox link to access directly the images.

[2018-03-11 16:51] myriamboure commented on #2130
@pacodelaluna the icons are here: https://drive.google.com/open?id=17mXE54QUxk-8TrHOOJSkuJFkIJpDd6J1 so if you look at the other issue I mentioned you should see how to add the icons :-) Thanks!

[2018-03-12 10:00] sauloperez opened #2132 "Undefined method `has_spree_role?` for nil:NilClass"
## Description
Some days ago we got notified in Bugnsnag of the error below:

![error1](https://user-images.githubusercontent.com/762088/37276716-dd42145c-25e2-11e8-8071-90df4df1b371.png)

We just realized that the Bugsnag free plan keeps the data just for 7 days so we got no other details besides the screenshot above.

## Expected Behavior
The app should either show the order cycles or redirect t

[2018-03-12 10:38] sauloperez commented on #2081
I'm not that sure another user complaining is reason enough to raise the severity, considering the number of users affected.

I just say this because I feel like we're turning lots of bugs to the same severity and that doesn't do us any favor. We risk the bug priorities becoming useless and so not helping in allocating our very limited resources, which was its purpose.

[2018-03-12 10:44] myriamboure commented on #2081
I would have been happy to discuss @sauloperez but @HugsDaniel was too quick ;-) Sorry about that, I didn't raise the severity just because one more complain but because I thought people where just not finding the workaround and stayed blocked... but I agree that it's arguable.

[2018-03-12 12:29] enricostano commented on #2132
Guest customers?

[2018-03-12 12:34] enricostano commented on #2130
We started this repo https://github.com/coopdevs/ofn-taxonomy some time ago, at some point we should treat taxonomies with the same strategy we use with states.... one day... :sweat_smile:

[2018-03-12 13:17] sauloperez commented on #2132
Well, yes, not logged in users

[2018-03-12 17:39] #2071 closed

[2018-03-12 22:27] mkllnk commented on #1667
This issue was about spam. We don't want people who are not interested in signing up to receive too many emails about it. It happens quite easily that people think "oh, these people still haven't signed up, I need to remind them again", but they actually don't want to sign up. We need to balance "possible technical problem" vs. "people don't bother".
Secondly, people could abuse the feature to adv

[2018-03-13 07:51] #2016 closed

[2018-03-13 08:31] myriamboure commented on #1667
@mkllnk Instead of that solution I would rather add in the email a line "if you didn't wish to sign up on the OFN please click here" and that could just trigger some action like: put a message on user profile "this user said he doesn't want to register" and "lock" the resend confirmation email (but it should be possible to unlock in case he wants to register later)
In term of UX it's far better th

[2018-03-13 12:47] daniellemoorhead commented on #2129
☝️
![giphy](https://user-images.githubusercontent.com/10949052/37342338-5ae422ca-2718-11e8-9338-d96be9e31091.gif)

[2018-03-13 12:59] sauloperez commented on #2129
lol

[2018-03-13 15:09] sauloperez opened #2137 "Fix #ignore deprecation warning in specs"
## Description
With the recent upgrades of the gems used in testing (https://github.com/openfoodfoundation/openfoodnetwork/pull/2136) new warnings showed up. We need to update the following factories as the warning message says:

[code]

[2018-03-13 23:12] #1950 closed

[2018-03-14 00:41] #2056 closed

[2018-03-14 01:08] mkllnk commented on #1667
That's an interesting idea about the "no link". That would need to be elaborated a bit more.

Re advertising, an email saying "confirm your email address to join My Shop as a customer" can be seen and used as advertising. But I'm actually not sure what the email currently says.

[2018-03-14 01:12] #1912 closed

[2018-03-14 01:20] sstead opened #2139 "Edit Customer address form is too zoomed in to see Save button"
## Description
When a shop owner goes to edit or add an address to a customer the form is zoomed in too far - I cannot see the Update button. Using the page's scroll bar doesn't help, instead I need to zoom out in my browser to 90% to see the button. Users shouldn't need to zoom in and out to use the page.

## Expected Behavior
Ideally the whole form will fit in the browser at 100%, otherwise the

[2018-03-14 02:13] #1586 closed

[2018-03-14 03:30] myriamboure commented on #1614
Yes closing as this has been covered:
- "user always use the same email address for each new enterprise they create" > if they want to use another address they will log out and create another user for the other enterprises, current impementation is good
- not possible in current implementation to make owner an unconfirmed user
- as Matt said migration seems to have covered the case of previous unc

[2018-03-14 03:30] #1614 closed

[2018-03-14 03:33] myriamboure commented on #1615
This has been covered in email confirm merge https://github.com/openfoodfoundation/openfoodnetwork/pull/1720

[2018-03-14 03:33] #1615 closed

[2018-03-14 03:34] myriamboure commented on #1616
Covered in merge #1720

[2018-03-14 03:34] #1616 closed

[2018-03-14 03:53] myriamboure commented on #1617
Included in #1720 (just retested quickly in case to reassure me and all good ;-))

[2018-03-14 03:53] #1617 closed

[2018-03-14 04:00] #2081 closed

[2018-03-14 04:06] myriamboure commented on #1589
:point_up: @Matt-Yorkley going though email project, seems that this one can go next whenever you can :-)

[2018-03-14 04:11] sstead opened #2140 "Need to add Tag field to simple, producer-only order cycle interface"
## Description
We have the ability to setup tag rules showing/hiding OCs. However this can't be done for a producer only OC, because there is no field to type the tag. In a hub OC you see the tag field in the outgoing section, but this isn't there for simple OCs.

## Steps to Reproduce
1. Look at any producer only OC, you'll notice there's no tag field

## Animated Gif/Screenshot
![image](https://

[2018-03-14 04:14] myriamboure commented on #1587
I just retested and still not done
![screenshot from 2018-03-14 05-12-30](https://user-images.githubusercontent.com/8135376/37383031-65a17e96-2746-11e8-829d-f20f160e8de7.png)

@Matt-Yorkley can you make that small fix? Add the "success message" in the login modal when you are redirected to login modal after having confirmed your email. Thanks :-)

[2018-03-14 04:28] #1849 closed

[2018-03-14 15:09] sauloperez opened #2141 "Automatically configure mail from seed data"
## Description

It's the thing we spend most of our time (and our mood...) on when deploying to staging and when setting up a new instance. Hence, having that done automatically from `db:seed` would be a huge gain.

It's just about doing what is done from the UI on `/admin/mail_methods/new` but without human intervention, which hopefully will also remove the human error.

To do that, we need to pr

[2018-03-14 15:12] sauloperez commented on #2141
@curation_team I haven't found any epic for this seed data epic or the new sys admin standardization. Let me know how you want to proceed so we don't loose track of it. Keep in mind that this is a feature and not a bug.

[2018-03-14 15:24] myriamboure commented on #2141
I think if you open that issue on OFN-install (isn't it better to put it there? It's about install, deployment, etc.  no?) you have an epic there on sys admin standardization @sauloperez
I would vote to proceed on this one in the sys amin standardization priority epic as it seems it would save us sooooo much time in all the staging deployment we do all the time. I see @pacodelaluna fighting so muc

[2018-03-14 15:29] enricostano commented on #2141
Nope, this is a change in OFN. Not `ofn-install`. In any case the epic can be "sys amin standardization"

[2018-03-14 15:44] sauloperez commented on #2141
Agree. Let's create a copy of that epic that we have in ofn-install. This way we can match the things we do regarding this topic.

[2018-03-14 16:03] myriamboure commented on #1351
@sauloperez shall this go into sys admin standardization epic?

[2018-03-14 16:04] myriamboure commented on #815
@lin-d-hop can we close this one? seems like old one...

[2018-03-14 16:05] myriamboure opened #2142 "Sys admin standardization"
## Description
We lose a lot of time in staging deployment or setting up new instances because of unstandardized or undocumented process, things that are just broken, monitoring issues, delayed job issues, email not sent issues, etc.

## Feature candidate
- disconnect staging deployment from Australia
- update seeds data
- automatically configure mail from seeds data
- ...

## Metrics
Staging depl

[2018-03-14 16:06] myriamboure commented on #2141
@sauloperez @enricostano I created the epic please put in it all what's related to sys admin standardization and feel free to amend my description if it's not accurate.

[2018-03-14 16:11] myriamboure commented on #2141
@sauloperez @enricostano I put the epic in "inception" in project "product development backlog" so that you can identify all the stories=issues needed to be worked on. Also as we said we would prioritize this epic in Q1 so please put in delivery backlog (zen hub pipeline) any issue that is in this epic after you've done the inception ;-) I guess you tech people are doing the inception alone on tha

[2018-03-14 16:51] sauloperez commented on #1351
Yes, AFAIK this is still true

[2018-03-14 18:08] #1884 closed

[2018-03-14 18:12] myriamboure commented on #1894
Is it a but or UX improvement @sauloperez ? Not sure if I should put in "improve shop management UX" icebox or put a severity on it... for me it's more UX no?

[2018-03-14 18:38] myriamboure commented on #1295
Hi @KeirOsborn any move on this one ? Do you still plan to work on it (after embed group I guess ;-)) or shall we put that back in the pool of issues?

[2018-03-14 19:14] myriamboure commented on #843
I think this is getting pretty critical. Just talk to a very activist open source lawyer and told be we shouldn't play too much on this one. We also need that for sure in GDPR. Icebox item is here https://community.openfoodnetwork.org/t/users-know-clearly-which-cookies-are-used-and-can-refuse-them/1252 I suggest we prioritize for next quarter.

[2018-03-14 19:16] myriamboure commented on #1947
Solved by #1951 which has just been merged.

[2018-03-14 19:16] #1947 closed

[2018-03-14 22:36] Matt-Yorkley commented on #1216
I have a branch for fixing this which I thought was working, but it now seems to consistently work ~50% of the time. :cry:

[2018-03-14 23:11] Matt-Yorkley commented on #1216
Fixed! Seems like a weird angular race condition where $setDirty() was being triggered at the same time by multiple sources.

@myriamboure do you want to test this one? #2143

[2018-03-15 11:06] sauloperez opened #2144 "Upgrade Webmock"
## Description

The [Webmock](https://github.com/bblimke/webmock) test gem requires an upgrade. While we're at 1.8, the latest version is 3.3.

We know from https://github.com/openfoodfoundation/openfoodnetwork/pull/2136 that upgrading to 2.0 already caused some specs to fail. Some unstubbed request in https://github.com/openfoodfoundation/openfoodnetwork/blob/master/spec/requests/checkout/stripe_

[2018-03-15 11:13] sauloperez opened #2145 "Upgrade Poltergeist"
## Description

The [Poltergeist](https://github.com/teampoltergeist/poltergeist) test gem requires an upgrade. While we're at 1.16, the latest version is 1.17

We know from https://github.com/openfoodfoundation/openfoodnetwork/pull/2136 that upgrade caused a spec to fail. If I'm not mistaken the expected markup wasn't present on a page but we still need to check.

## Expectation
We want `polterge

[2018-03-15 11:19] sauloperez opened #2146 "Upgrade DatabaseCleaner"
## Description

The [DatabaseCleaner](https://github.com/DatabaseCleaner/database_cleaner) test gem requires an upgrade. While we're at 0.7.1, the latest version is 1.6.2 😱

We know from https://github.com/openfoodfoundation/openfoodnetwork/pull/2136 that upgrade cause many specs to 💥 . It will require an in-depth investigation of its configuration settings and changes on our side.

## Possible Fi

[2018-03-15 11:29] sauloperez commented on #2091
It might not be a good idea to work on this until we reach a stable point with Spree 2.0. It's the area of Spree we overrode the most and there might be 🐉 🐉

[2018-03-15 12:59] enricostano opened #2147 "Broken asset precompile in master branch"
## Description
Running asset precompile task is broken: https://gist.github.com/enricostano/ee9657165bd7cd08d5ef6788277568f9

## Expected Behavior
Should build assets without errors.

## Actual Behavior
https://gist.github.com/enricostano/ee9657165bd7cd08d5ef6788277568f9

## Steps to Reproduce
1. Run the `assets:precompile:primary` task

## Context
I was trying to deploy `master` branch to our sta

[2018-03-15 13:12] enricostano commented on #2147
OK, it seems that `moment.js` requirement has been added by https://github.com/openfoodfoundation/openfoodnetwork/commit/f6af5098b0897d3fb6cb0926f0c5d8e6eb51bc0a in https://github.com/openfoodfoundation/openfoodnetwork/pull/2068

I also see that `moment.js` was added by https://github.com/openfoodfoundation/openfoodnetwork/pull/1819/files

cc/ @oeoeaio @leandroalemao

[2018-03-15 13:27] enricostano commented on #2147
Mh, it seems that the JS libraries installed with a ruby gem are noit being picked.

[2018-03-15 13:43] Matt-Yorkley commented on #1587
This should be covered in #2083. Looks like it got merged at 2am?

[2018-03-15 13:50] myriamboure commented on #1587
Awesome, closing then :-)

[2018-03-15 13:50] #1587 closed

[2018-03-15 14:22] myriamboure commented on #1346
@Matt-Yorkley can I just close this one? Or do you want me to open an icebox item so that we can prioritize later ? If I understand well the focus is to make development easier by improving tests speed and efficiency right?

[2018-03-15 14:53] enricostano commented on #843
Keep in mind that the tricky part here is that diffent instances may be using different external services.

[2018-03-15 16:08] enricostano commented on #2147
Emergency resolved, the real issue is that precompiling assets takes so long that the deploy process loose connection and get unresponsive. :(

[2018-03-15 16:08] #2147 closed

[2018-03-15 16:09] sauloperez commented on #2147
oops, it takes long but this never happened to me. Looks like the "bundle" might be getting too big

[2018-03-15 16:24] sigmundpetersen commented on #2147
Yes this happened to Norway as well (on every deploy). It used up all RAM 😑 So I restarted the server before a deploy to make it work 😊 I have upgraded the server recently with double RAM and haven't tried a deploy after.

[2018-03-15 16:58] sauloperez commented on #2147
Let us know the result @sigmundpetersen !

I just deployed master to our staging and this is what ansible returns...

[code]

[2018-03-16 00:08] mkllnk commented on #2147
Every merge we do in Aus goes through our staging server first. We had no trouble deploying and I just staged something new based on master which staged successfully as well.

This is not a complete test though, because we keep the cache of previous compilations. So if the compilation fails on something that doesn't need compiling on staging, then we don't notice.

[2018-03-16 02:47] daniellemoorhead commented on #843
And also keep in mind that it's not a requirement globally, so we may need to think about being able to turn this function on/off as a super admin.

[2018-03-16 14:59] sauloperez opened #2150 "Draft release v1.12"
## Description
It's time for a new release. We got [tons of merged pull requests](https://github.com/openfoodfoundation/openfoodnetwork/pulls?page=1&q=is%3Apr+merged%3A%3E%3D2018-02-09+is%3Aclosed) :scream:

[2018-03-17 06:34] mkllnk opened #2151 "Variant prices reverting to original value"
A user in Australia reported price changes that they didn't do. The user is the only manager. They said it looks like the price they originally entered for the product when they started using the OFN.

I'm still gathering information about this bug and will fill in this issue as I go.

## Description

Affected enterprise id: 287 - producer
Affected product id: 1395, last updated 2018-03-17 00:36:3

[2018-03-17 06:40] myriamboure commented on #2151
Can't it be a user mistake? Maybe they are a couple of managers and someone did a mistake? This happened a couple of time in France those kine of "bugs" that where not :-o Maybe that's not the case here thought ;-)

[2018-03-17 06:41] mkllnk commented on #2151
There is only one manager.

[2018-03-17 12:16] mkllnk commented on #2151
If @oeoeaio wants to take over from here. Some SQL I used to identify affected orders:
[code]

[2018-03-19 01:48] sstead opened #2153 "Embedded shop/group doesn't scroll on mobile"
## Description
When viewing an embedded shop or group on my iphone I can't scroll down to view the shop/group. Scrolling down only scrolls the header of the parent website, not the iframe.

## Steps to Reproduce
1. Checkout this embedded shop - https://openfoodnetwork.org/user-guide/advanced-features/demo-embedded-shop/
and this embedded group - https://openfoodnetwork.org/user-guide/advanced-feat

[2018-03-19 11:31] sstead commented on #2153
Can others please check whether this is also a problem on other phone types @myriamboure @RachL @kirstenalarsen @Matt-Yorkley

[2018-03-19 11:38] yorkfrog commented on #985
Hi, Is anyone currently working on this issue?  I would like to pick it up as a first issue.  Colin

[2018-03-19 11:57] RachL commented on #2153
@sstead on my mobile (using latest Firefox version) I have a secury message that prevent me from testing :
https://user-images.githubusercontent.com/6525576/37594220-dbaf6468-2b74-11e8-91cf-ebeb013f2b74.png
However on desktop while forcing mobile mode it this to work (same Firefox version) :
https://user-images.githubusercontent.com/6525576/37594292-0f651578-2b75-11e8-93da-6a88de357754.png

[2018-03-19 11:59] sauloperez commented on #2153
I can scroll the body of the page without any problem on Chrome.

A thing I found worth mentioning is that the header on the group page takes up a big portion of the page but that's even worse on the shop page, greatly affecting the UX while shopping.

[2018-03-19 12:00] sauloperez commented on #985
Nope. Go for it @yorkfrog

[2018-03-19 13:03] Matt-Yorkley commented on #2153
Works OK on Android with Firefox.

[2018-03-19 13:51] myriamboure commented on #985
Sorry just had a look at it as @yorkfrog was going to work on it, I'm wondering @NickWeir63 and @sstead I understand about replacing "&" by "or" for the properties, but intuitively the user will see displayed the "fruits" AND the "nuts" on the page (also no product can be in two categories) that are either with the first or second property, so I propose to leave "&" for product categories filter a

[2018-03-19 13:52] myriamboure commented on #2153
On iphone with Chrome I get exactly the same thing as you @sstead not working at all but interestingly for the embedd shop page I  got some lower banner asking me to accept cookies ;-) I guess it's from wordpress? Because we don't have that on OFN:-o
Here is what I see for embed shop and can't scroll at all anything.
![img_8663](https://user-images.githubusercontent.com/8135376/37599465-16cbd850-2

[2018-03-19 14:34] sauloperez commented on #2153
Certainly, the tiny small area left out of the header doesn't do any help. I wonder if the bug you experience might even be caused by this. At least it does in your case @myriamboure .

[2018-03-19 14:37] sauloperez commented on #985
I might feel a bit overwhelming @yorkfrog but https://github.com/openfoodfoundation/openfoodnetwork/wiki/i18n might help you a bit on what @myriamboure mentioned.

[2018-03-19 14:47] sauloperez commented on #2019
This will still be needed when in Spree 2.0, as explained in https://github.com/openfoodfoundation/openfoodnetwork/pull/2148. These settings become spree configuration but we still need them properly filled when setting up any instance regardless of the environment.

[2018-03-19 14:47] #2019 closed

[2018-03-19 14:58] myriamboure commented on #330
I propose to close as too old and all that is going to be reviewed in new product chain thinking. Permissions working ok for now also. #gitcull2018

[2018-03-19 14:58] #330 closed

[2018-03-19 15:08] myriamboure commented on #354
Closing as old and non described, if need to reappear will reappear. @kirstenalarsen is any objection please reopen and describe.

[2018-03-19 15:08] #354 closed

[2018-03-19 15:09] myriamboure commented on #459
Closing as old + permissions and OC will be overhauled with product chain / network stuff coming.

[2018-03-19 15:09] #459 closed

[2018-03-19 15:12] myriamboure commented on #530
This is already happening, we checked recently and when hub give permission to the producer to add to order cycle he can add his own products to an OC some other enterprise is coordinating. So closing.

[2018-03-19 15:12] #530 closed

[2018-03-19 15:13] myriamboure commented on #574
@daniellemoorhead maybe when you rework on the global website with Jens you can also pay attention to that? :-)

[2018-03-19 15:17] sauloperez commented on #2020
This is not yet doable as it depends on https://github.com/spree/spree/pull/2643/files#diff-a428b7a87ba7179c65fcb97529aa2452R10 from Spree. Until we don't reach that point our efforts are pointless.

[2018-03-19 15:22] sauloperez commented on #2021
https://github.com/openfoodfoundation/openfoodnetwork/pull/2148 fixes this in https://github.com/openfoodfoundation/openfoodnetwork/pull/2148/files#diff-f7a25bc30a409fc77050703fc048ca8cR46

[2018-03-19 15:29] myriamboure commented on #499
If I sum up the need (which is not a bug so will need to be put in some "improve producer UX"  icebox:
- producer needs to be able to see fees applied to his products in an OC, whoever those fees are attached to
- BUT he should only be able to add remove fees that are attached to his own enterprise
I retested and the unwanted behaviors are still there (both the one described by Kirsten and Sally i

[2018-03-19 15:35] myriamboure commented on #500
I don't think this is still happening, I did some test and couldn't reproduce so closing now. @kirstenalarsen @sstead if you think this is still happening please reopen.

[2018-03-19 15:35] #500 closed

[2018-03-19 16:18] Matt-Yorkley commented on #1667
So we need a `resend_count` field on users, and don't resend emails when > 10? Do we want to reset the limit if a user changes their email, so resend counts from an old email address don't stack?

[2018-03-19 16:37] HugsDaniel commented on #2002
**Define & Design**

As @myriamboure said, the issue comes from the fact that not all translations are made in locales.
For `flat_percent_per_item` and `weight`, the translation path is specified directly in the model, so respectively in `flat_percent_per_item.rb` and `weight.rb` by the `self.description` method.

I suggest adding a `self.description` in the existing Spree decorators (`flat_rate_d

[2018-03-19 17:01] sauloperez commented on #1667
Did we actually have any user related to this? Or are we just gessing? Honestly, I see all these ideas will require lots of resources (in hours of dev, test, po) we don't have plus the extra complexity they add to the product.

[2018-03-19 17:21] myriamboure commented on #1667
I don't think we should implement any limitation on resends sincerly but rather add a "didn't want to join OFN?" link in email received. So please @Matt-Yorkley don't implement anything on that for now we need to spec properly if/what we want. But would rather create an icebox item for that IMO email confirm full iteration one doesn't need that, let's see the use and then see what's missing on tha

[2018-03-19 17:24] HugsDaniel commented on #1938
The issue seems to come from `OrderCycleChangeCtrl` in  `order_cycle_controller.js.coffee`.

In line 23 of `shop.html.haml` view, `%strong {{ OrderCycle.orders_close_at() | date_in_words }}` gives the previously selected order cycle's closing date, which means that `OrderCycle` scoped in the controller is the previous one.

There's a method keeping track of previous order cycle in the controller,

[2018-03-19 19:33] Matt-Yorkley commented on #1938
I'd say you should look in `app/assets/javascripts/darkswarm/services/order_cycle.js.coffee` at the `orders_close_at()` method.

I think it's possible that when `%strong {{ OrderCycle.orders_close_at() | date_in_words }}` is used on the page, it just outputs the result of that method (once), but it doesn't track changes because it's not an object property. Usually if you use `{{ Object.property }}

[2018-03-20 07:46] daniellemoorhead commented on #574
Closing as this has nothing to do with the OFN code base

[2018-03-20 07:46] #574 closed

[2018-03-20 08:02] myriamboure commented on #2002
@sauloperez @enricostano how does it sound to you?

[2018-03-20 08:15] myriamboure opened #2155 "Subs: clarify format for date and pref. use same datepicker as elsewhere"
## Description
When I created my first subscription I didn't know which format to use for "start date". I had to check in the user guide to find the info as it was not written anyway and there were no datepicker as there is elsewhere in the app.

## Expected Behavior
Let's be consistent and use the same datepicker as everywhere.
OR at least specify the format to use like write in grey yyyy-mm-dd

[2018-03-20 08:22] myriamboure opened #2156 "Subs: update OC closing date in subs. dashboard when changes occur"
## Description
I created an OC with French time so was already closed in Australia, then changed to fit to Aus time, but in the subscription dashboard the OC still appears as "closed x hours ago" AND there is a translation missing to fix.

## Expected Behavior
"closed" is translated + if the OC close date is changed the info in subs. dashboard should also be updated.

## Actual Behavior
"closed" t

[2018-03-20 08:25] sauloperez commented on #2150
Release published! https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v1.12

[2018-03-20 08:25] #2150 closed

[2018-03-20 08:28] myriamboure opened #2157 "Subs: strange conflict make OC appear as "close date not set" in subs dashboard"
## Description
I created a second OC at the exact time where the first one was opening. I don't know if a conflict happened but in subs. dashboard the new OC appears with no OC name and just "Close date not set" which is pretty confusing.

## Expected Behavior
The OC in subs dashboard is displayed with proper name and close date.

## Actual Behavior
In some strange cases the OC is displayed only w

[2018-03-20 08:36] myriamboure opened #2158 "[Subs] Send only one order conf. email to customer for shops that don't allow modifications"
## Description
I think there is a UX issue with subscriptions for shops who are set up to "don't allow order modification". As a user I receive a confirmation email when the OC opens saying that an order has been made for me. And another one that looks like a duplicate when the OC closes... These two emails make sense if you give the possibility to the customer to modify the order, but not if you

[2018-03-20 08:37] myriamboure commented on #2155
@oeoeaio put this in the project backlog but I think it's pretty important (was very confusing for me) so I suggest we include that in the first subs. scope. What do you think?

[2018-03-20 08:38] myriamboure commented on #2156
@oeoeaio put this in the project backlog, it is pretty confusing for users so I suggest we include that in the first subs. scope. What do you think?

[2018-03-20 09:39] myriamboure commented on #499
Closing as this is part of icebox https://community.openfoodnetwork.org/t/users-have-the-appropriate-permissions-given-their-role-and-all-those-who-can-be-created-automatically-are/1267 #gitcull2018

[2018-03-20 09:39] #499 closed

[2018-03-20 09:39] myriamboure commented on #576
Closing as this is part of icebox https://community.openfoodnetwork.org/t/users-have-the-appropriate-permissions-given-their-role-and-all-those-who-can-be-created-automatically-are/1267 #gitcull2018

[2018-03-20 09:39] #576 closed

[2018-03-20 09:46] myriamboure commented on #1384
Adding "good first issue" label. For those who pick it up, change string "enterprise relationships" to "enterprise permissions" (this string is already connected to transifex as already translated by other instances so it's only about modifying original en version)

[2018-03-20 09:50] myriamboure commented on #979
Iceboxed here https://community.openfoodnetwork.org/t/enable-product-chain-tracking-hubs-variants-creation/1152 (connected to network product chain and permission + OC overhaul) #gitcull2018

[2018-03-20 09:50] #979 closed

[2018-03-20 09:54] myriamboure commented on #623
Another thing I would add to that is to enable to modify the E2E like just remove one permission. Today you have to delete it all ad recreate a new one, you cannot modify it.
Iceboxed here https://community.openfoodnetwork.org/t/hubs-can-easily-navigate-back-office-and-manage-their-shopfront/1246 in part of "hub manager UX improvement"
#gitcull2018

[2018-03-20 09:54] #623 closed

[2018-03-20 09:57] myriamboure commented on #964
Closing as captured wishlist link in icebox https://community.openfoodnetwork.org/t/hubs-can-easily-navigate-back-office-and-manage-their-shopfront/1246
#gitcull2018

[2018-03-20 09:57] #964 closed

[2018-03-20 09:58] myriamboure commented on #996
Closing as this is covered in icebox https://community.openfoodnetwork.org/t/hubs-can-easily-navigate-back-office-and-manage-their-shopfront/1246 and I think even more in email confirm https://github.com/openfoodfoundation/openfoodnetwork/pull/2138

[2018-03-20 09:58] #996 closed

[2018-03-20 10:00] myriamboure commented on #1103
Iceboxed https://community.openfoodnetwork.org/t/hubs-can-easily-navigate-back-office-and-manage-their-shopfront/1246
#gitcull2018

[2018-03-20 10:00] #1103 closed

[2018-03-20 10:35] myriamboure commented on #552
I would vote for either 2 or 3. Iceboxing it anyway here https://community.openfoodnetwork.org/t/improve-product-images-display-in-shop/1162 so closing for now will reopen when we decide to prioritize.

[2018-03-20 10:35] #552 closed

[2018-03-20 10:42] myriamboure commented on #1217
Iceboxed https://community.openfoodnetwork.org/t/hubs-can-easily-navigate-back-office-and-manage-their-shopfront/1246
#gitcull2018

[2018-03-20 10:42] #1217 closed

[2018-03-20 10:47] myriamboure commented on #1235
Just checked on french production and they are here:
![screenshot from 2018-03-20 11-45-17](https://user-images.githubusercontent.com/8135376/37650107-408dedfe-2c34-11e8-81cb-cbf5938d1c5b.png)
Also checked on Aus staging and still here:
![screenshot from 2018-03-20 11-46-38](https://user-images.githubusercontent.com/8135376/37650161-66459268-2c34-11e8-9fe0-581980ae7288.png)
So closing.

[2018-03-20 10:47] #1235 closed

[2018-03-20 10:48] NickWeir63 commented on #985
Yes I agree with @myriamboure 's amendment  - thanks all

[2018-03-20 10:50] myriamboure commented on #1222
Add this to "improve placing order UX" icebox as one of the feature candidate: https://community.openfoodnetwork.org/t/customer-easily-go-through-the-whole-placing-order-process/1245
So closing for now.

[2018-03-20 10:50] #1222 closed

[2018-03-20 11:07] myriamboure commented on #1306
Iceboxed here: https://community.openfoodnetwork.org/t/upload-and-display-product-quality-certificates/1145
#gitcull2018

[2018-03-20 11:07] #1306 closed

[2018-03-20 11:09] myriamboure commented on #976
@sstead can you explain what you are talking about ? I don't understand. Else just close please if not relevant anymore.

[2018-03-20 11:11] myriamboure commented on #945
It seems it is
![screenshot from 2018-03-20 12-11-11](https://user-images.githubusercontent.com/8135376/37651253-ceaedc62-2c37-11e8-922f-9188db6f4b65.png)
so closing

[2018-03-20 11:11] #945 closed

[2018-03-20 11:12] myriamboure commented on #944
@sstead please explain a bit more or close if not appropriate anymore, I don't understand what you are talking about ;-)

[2018-03-20 11:19] myriamboure opened #2159 "Old Tech things to sort out"
## Description
Just creating an epic to put all the old "tech things that I can't understand" together so that someone with tech knowledge can review and decide what to do with them (icebox / backlog if quick tech debt, etc.)
@enricostano I propose we go through them in our next "issue review" session :-)

[2018-03-20 11:24] myriamboure commented on #663
Has all lessons learned been documented ? To check.

[2018-03-20 11:27] myriamboure commented on #741
this is working fine at the moment so closing.

[2018-03-20 11:27] #741 closed

[2018-03-20 11:30] sigmundpetersen commented on #663
Is this more `ofn-install`?

[2018-03-20 11:31] myriamboure commented on #675
Closing as the issue seems to have been fixed.

[2018-03-20 11:31] #675 closed

[2018-03-20 11:34] sauloperez commented on #663
Definitely. If someone wants to setup a machine like production or staging, that's the thing to use. I'd close this one @myriamboure.

[2018-03-20 11:37] #663 closed

[2018-03-20 11:37] myriamboure commented on #663
Issue moved to [openfoodfoundation/ofn-install #138](https://github.com/openfoodfoundation/ofn-install/issues/138) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-20 12:18] sauloperez commented on #2002
I don't understand @HugsDaniel

I see the key properly used:

https://github.com/openfoodfoundation/openfoodnetwork/blob/e23d714e83f5ce82caab9ab84484528f2e8427e4/app/models/calculator/flat_percent_per_item.rb#L18-L20

and its french translation:

https://github.com/openfoodfoundation/openfoodnetwork/blob/e23d714e83f5ce82caab9ab84484528f2e8427e4/config/locales/fr.yml#L1666

Am I missing something?

[2018-03-20 12:20] HugsDaniel commented on #2002
Yes this one works just fine! I suggested doing the same for the four ones not working properly ("flat rate (per order)", "flat rate (per item)", "flexible rate" and "price sack").

[2018-03-20 13:39] sauloperez commented on #2002
Can you check what happens in Spree 2.0 just to know we're heading to? This must have been fixed in a future commit.

[2018-03-20 15:06] HugsDaniel commented on #2002
Nothing special happens in Spree 2.0 about this issue. Translations for these calculators are still defined with Spree I18n in models. If we want to follow @myriamboure suggestions and have them translated in our locales, we could overwrite this behavior in our decorators.

[2018-03-20 15:15] enricostano commented on #2002
OK for me then, just make sure that we also check if and how they solved this issue in latest Spree 3.x

[2018-03-20 15:16] HugsDaniel commented on #2002
spree_i18n v3.0 brings better translations for these calculators, at least in french. Should we consider upgrading ?

[2018-03-20 15:33] HugsDaniel commented on #2002
spree 3.x and spree_i18n 3.x solve this issue, the calculators are properly translated (even Price Sack that was apparently forgotten in previous versions).

[2018-03-20 15:38] enricostano commented on #2002
Is this something that we should be able to fix when we'll work on upgrading to 3.x?

Maybe we can just add the fix consistently to what we have now and open issues to address it properly in the future.

[2018-03-20 15:45] HugsDaniel commented on #2002
Well it doesn't really seem to be a bug, spree_i18n v1.x just didn't properly translated some of the keys (like `price_sack` is set to "Price Sack" in `fr.yml`). From spree_i18n v2.2 it seems cleaner, so maybe we can fix it temporarily until we upgrade to higher versions. Is it what you meant ?

[2018-03-20 15:56] enricostano commented on #2002
Yep, just create an issue to capture that before we forget

[2018-03-20 17:07] sauloperez opened #2161 "[Product Import] Extract responsibilites from ProductImportController"
## Description

This is a follow up of https://github.com/openfoodfoundation/openfoodnetwork/pull/1492.

As discussed in https://github.com/openfoodfoundation/openfoodnetwork/pull/1492#issuecomment-373914477, we should extract all the business logic and file processing out of the ProductImportController controller. These are added responsibilities that do not belong to the controller.

[2018-03-20 17:13] sauloperez opened #2162 "DRY queries from Product Import"
## Description
This is a follow up of https://github.com/openfoodfoundation/openfoodnetwork/pull/1492.

As discussed in https://github.com/openfoodfoundation/openfoodnetwork/pull/1492#issuecomment-373914477, we should leverage ActiveRecord and DRY some of the queries as scopes, query objects or any other abstractions as needed.

Some are:

https://github.com/openfoodfoundation/openfoodnetwork/pull

[2018-03-20 18:49] yorkfrog commented on #985
Great, thanks @myriamboure for the clarification.  @sauloperez, I was looking at the i18n stuff for one of the other bugs I was considering (may be next) so should be fine, but will checkout that page and shout if I need help.
Checked in en.yml and there is already a translation for 'or' (en:or).  Is it ok to use that, or do you do single translation per use on screen in case things get changed la

[2018-03-20 19:41] farmermel commented on #1806
Hi there! First time contributors here (@ophdub @jorgeedperezga @j25bender) hoping to help out with this issue. We noticed nobody was assigned to it, but if there’s already a solution in progress we're happy to try helping out elsewhere. Thanks!

[2018-03-20 20:06] sauloperez commented on #985
yes, we do that. We favor the added changeability over the duplication.

[2018-03-20 20:10] sauloperez commented on #1806
Hi @farmermel ! welcome to Open Food Network! feel free to pick it. You can also take a look at any of the [good first issues](https://github.com/openfoodfoundation/openfoodnetwork/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) or the [severity 4](https://github.com/openfoodfoundation/openfoodnetwork/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abug-s4) and [severity 3](https

[2018-03-20 22:58] Matt-Yorkley commented on #1806
As a shopping / sales point: do we want links on an enterprise's shop page to be taking users away from their shop?

[2018-03-20 23:54] #944 closed

[2018-03-20 23:55] #976 closed

[2018-03-21 00:01] mkllnk commented on #1667
@myriamboure I agree that we have more pressing issues than this one. Just a comment on you "unsubscribe" link: What should happen when people click on it? Implementing that is almost as much work as this issue. I'm happy to wait until we have a real use case for this since we are guessing.

[2018-03-21 00:13] oeoeaio commented on #2156
Translation should been fixed already by #2088, which should be included in v1.12.

I don't know how the other issue with OC closed dates failing to 'update' could possibly happen, it should be reading from the exact same field. I will add it to my list of things to look at.

[2018-03-21 01:37] oeoeaio commented on #2158
Hi @myriamboure, the emails are actually sent for different reasons, and while they may look similar they have different content.
The first email notifies the user that:
1) an order cycle has opened and reminds them what they have subscribed for
2) whether all of their requested items are available
3) that they can edit/cancel the order (if applicable)

The second email
1) confirms that payment ha

[2018-03-21 02:17] oeoeaio commented on #1938
@Matt-Yorkley I think function calls and object properties behave in the same way. An expression (regardless of whether it is a function call or object property) will be evaluated on every digest cycle unless the expression is prefixed with the one-time binding operator: `::`

For example: `{{ ::OrderCycle.orders_close_at() | date_in_words }}` will only be evaluated once on page load. The line @Hu

[2018-03-21 05:06] oeoeaio commented on #2151
@Matt-Yorkley @lin-d-hop You may need to deal with this, especially if you are considering migrating to a new production server at any point. Sounds like it is not an issue for anyone else?

The summary of the issue is that there were a bunch of variants that somehow had multiple prices in AUD on our old production server. This was not a problem because the way prices are loaded appears to be pseu

[2018-03-21 12:26] Matt-Yorkley commented on #1667
I think the new GPDR legislation for Europe includes rules about ensuring users can "opt out" of receiving any/all emails.

[2018-03-21 14:10] #2141 closed

[2018-03-21 14:19] sauloperez commented on #1957
Bingo! there's a migration removing the `spree_mail_methods` table in https://github.com/spree/spree/commit/fbb95af890

[2018-03-21 14:35] #2021 closed

[2018-03-21 14:49] sauloperez opened #2164 "[Spree 2 Upgrade] Refactor CreateMailMethod to work on Spree 2.0"
## Description
We need to refactor the `CreateMailMethod` class for it to work on Spree 2.0, which completely removed `Spree::MailMethod`. When that service was introduced in https://github.com/openfoodfoundation/openfoodnetwork/pull/2148, we were still in Spree 1.3 (sort of...) and so we relied on `Spree::MailMethod`.

## Possible Fix
This service has to write the settings directly to `Spree::Con

[2018-03-21 14:56] sauloperez commented on #2018
https://github.com/spree/spree/commit/2c48bfbaad98b8af35a5e95ba268a057c6973b47 is the migration we're talking about.

[2018-03-21 14:58] sauloperez commented on #2012
https://github.com/spree/spree/commit/2c48bfbaad98b8af35a5e95ba268a057c6973b47 is the migration we're talking about.

[2018-03-21 15:03] sauloperez commented on #2012
It does feel like the appropriate step for a 1st iteration but this also means that, if Spree v2.0.0 updates the frontend to allow for stock location creation, we should diverge and stick to our current frontend to hide such option. This way we could postpone the effort of making StockLocations work with our Enterprises.

[2018-03-21 15:08] sauloperez commented on #2012
The stock location admin page was introduced in https://github.com/spree/spree/commit/129d27f9615d0614b5cfc64f57522d9352c325d1

[2018-03-21 15:28] sauloperez commented on #2012
This is how it looks like. A new item added at the bottom of the product admin page.

![stock](https://user-images.githubusercontent.com/762088/37719247-dd550154-2d24-11e8-8435-604f6db954ca.png)

[2018-03-21 15:43] sauloperez commented on #2018
See the discussion :point_right: https://github.com/openfoodfoundation/openfoodnetwork/issues/2012#issuecomment-374969502

[2018-03-21 16:40] myriamboure commented on #1806
To be honest @farmermel I'm not sure about this issue, we are cleaning up a lot of issues and this one has not really been specified and needs to be discussed in term of UX. May I suggest you pick up 423 or 1538 or 1171 or 1384 for instance which are better specified ? Thanks a lot for your contribution and feel free to join our Slack https://openfoodnetwork.slack.com there is a  #dev channel ther

[2018-03-21 16:46] myriamboure commented on #2012
Sounds cool! I'm looking forward to see that happening I'm sure some hubs will be very happy to be able to manage "deported stock" :-) I understand it will be step 2 but we definitely want to offer that to our users :-) Spree 2.0 come come come!

[2018-03-21 16:49] elf-pavlik commented on #2164
I think this caused issue I mentioned in https://github.com/openfoodfoundation/ofn-install/pull/134#issuecomment-374809707

[2018-03-21 16:56] sauloperez commented on #2164
This is just a reminder that will have to deal with this once we get to Spree 2.0. So far, the `CreateMailMethod` works as expected, at least when I used it.

[2018-03-21 18:22] farmermel commented on #1806
Thanks for the update! We will find a different issue to tackle.

[2018-03-21 18:23] sauloperez commented on #2012
I'm not sure how close we are to that step 2 @myriamboure :trollface:

[2018-03-21 19:43] farmermel commented on #1384
Hi there! New contributors here (@OphDub @JorgeEdPerezGa @j25bender), moving on from issue 1806, hoping to help out with this issue. We noticed nobody was assigned to it, but if there's already a solution in progress we're happy to try helping out elsewhere. Thanks!

[2018-03-21 22:18] sstead commented on #1384
Thanks @farmermel , all yours!

[2018-03-22 16:32] myriamboure commented on #2023
This is blocked at the moment as we need to review some things in our data model about how shipping/payment methods are associated to enterprises and permissions rules that apply to them. This is iceboxed https://community.openfoodnetwork.org/t/hubs-manages-without-friction-shipping-and-payment-methods-and-can-grant-permissions-on-them/1269 and we will be able to work on this bug only when we deci

[2018-03-22 18:38] myriamboure opened #2167 "Translation issue in success banner after confirming email"
## Description
When a new user click on confirmation link, he is redirected to login modal but the success message is badly translated, it seems like it's a wrong/missing translation key. The message is "Your account has been confirmed, you are now connected" whereas it should be "Thanks for confirming your email! You can now log in".
The string in transifex is "Thanks for confirming your email! Y

[2018-03-22 18:38] myriamboure commented on #2167
@Matt-Yorkley I assigned that to you so that you can check seems there is an issue with translation key for confirmation email success banner.

[2018-03-22 18:39] myriamboure commented on #2167
Or there is something bugging with Transifex with the recent things done by @mkllnk and @sauloperez on that end... the translation I see in this success banner is not in transifex, strange.

[2018-03-23 01:50] mkllnk commented on #2167
I just had a quick look at the French locale and the text for `devise.confirmations.confirmed` is missing. But in Transifex it's translated and if I download the version from Transifex, the correct version is in there.

@myriamboure Could it be that you first translated everything to 100% (e.g. machine translation) and then improved the translations? At the moment, we have an issue that only first

[2018-03-23 02:03] mkllnk commented on #2167
I jumped ahead since I was already looking at it and created a new pull request: https://github.com/openfoodfoundation/openfoodnetwork/pull/2168

I think we need to talk about the Transifex integration again. There should be a better solution.

[2018-03-23 08:30] myriamboure commented on #2167
I don't remember @mkllnk but if that happened, if I did translate differently the string before and then changed it happened weeks or months ago, and I guess we did update transifex a couple of times since then (there were new translations available that have been merged since then so should have updated the ones I modified if I did modify them?). Anyway I agree with you that the translation proce

[2018-03-23 09:15] myriamboure opened #2169 "In dropdown cart product list doesn't display QtyUnity so two variants can look like duplicate"
## Description
On dropdown cart if variants have the same name but have different quantities, you can't know which one is which variant in the list (see in the image carrots (first line is 1kg second is 10kg) Fennel (first line is 1 bulb second is 2 bulbs)Squash (first line is 200g second is 400g)
![screenshot from 2018-03-23 10-08-18](https://user-images.githubusercontent.com/8135376/37820831-249

[2018-03-23 12:05] myriamboure opened #2170 "Improve bulk product image upload UX"
## Description
While testing https://github.com/openfoodfoundation/openfoodnetwork/pull/1464 new feature to upload image in bulk product edit page, I noticed that the upload UX was a bit user unfriendly.

## Expected Behavior

Still being discussed so wait until we have agreed on a solution before starting!!!

**Option 1:**
- If there is no image I click on image frame, open modal with “choose ima

[2018-03-23 12:05] myriamboure commented on #2170
Assigning that to you @Matt-Yorkley but wait a bit until we agree on the best UX solution before starting.

[2018-03-23 12:06] myriamboure commented on #1443
Closing as https://github.com/openfoodfoundation/openfoodnetwork/pull/1464#event-1537663236 has been merged

[2018-03-23 12:06] #1443 closed

[2018-03-23 14:06] #2113 closed

[2018-03-23 14:17] myriamboure opened #2171 "Update email content for manager invitation sign-up"
## Description
Continuing remaining work from https://github.com/openfoodfoundation/openfoodnetwork/pull/2138#issuecomment-375650719

When an unregistered user is invited as a manager, he receives 2 messages at the same time:
- an account validation message (link to click on to validate email)
- a "you have been invited by Enterprise X to join as manager" email.
The content of the second email is

[2018-03-23 14:18] myriamboure commented on #2171
@sstead @daniellemoorhead @lin-d-hop I'm not native English so if you disagree with my proposed amended content for english email please propose something else :-)

[2018-03-23 14:27] #1593 closed

[2018-03-23 14:29] #1663 closed

[2018-03-23 14:31] #2001 closed

[2018-03-23 15:44] myriamboure opened #2172 ""Flexible rate" enterprise fee is not calculated properly"
## Description
If you set up an enterprise fee using "flexible rate" calculator, calculations are false.
**Example 1**:
![screenshot from 2018-03-23 16-26-22](https://user-images.githubusercontent.com/8135376/37838762-0a674a72-2eb9-11e8-9839-f0263122aab2.png)
![screenshot from 2018-03-23 16-26-35](https://user-images.githubusercontent.com/8135376/37838715-f194dc08-2eb8-11e8-855c-7eadf07b05ba.png)

[2018-03-23 15:52] myriamboure opened #2173 ""Price sack" enterprise fee is not working (not being calculated at all)"
## Description
If you set up an enterprise fee using "price sack" calculator, calculations are note happening at all and no fee is charged.
**Example 1:**
![screenshot from 2018-03-23 16-45-32](https://user-images.githubusercontent.com/8135376/37839060-d4aee092-2eb9-11e8-920e-828b81bea700.png)
![screenshot from 2018-03-23 16-45-47](https://user-images.githubusercontent.com/8135376/37839064-d75d710

[2018-03-23 16:57] RachL commented on #2170
@myriamboure I'm in favor of option 2 :) Also, it is important that when you click anywhere on the page the modale closes. But I guess it is already the case.

[2018-03-23 17:01] #424 closed

[2018-03-25 07:34] sstead commented on #2171
I made some little edits to the content and am happy with it, thanks Myriam.

[2018-03-25 10:42] oeoeaio commented on #2151
@sauloperez Only affects variants that were created before about the end of May 2015, so I suspect it was some migration that did something bad. I suspect it had something to do with `db/migrate/20141003060622_add_standard_variant_to_products.rb`,but I haven't worked out what went wrong. I guess the only instances that ever had variants before that date were Aus and UK, so they are the only ones a

[2018-03-25 13:43] stveep commented on #1213
So I was able to reproduce this a few times, on chrome, via both "edit cart" buttons. However now (with no changes to the code) it seems to work fine...I've cleared cookies, disabled cache and still ok. Even when I try on other browsers (Firefox, Safari) it is working ok.

I've also attempted to reproduce this in a feature test - but again, this works ok:
https://github.com/stveep/openfoodnetwork/

[2018-03-25 20:52] myriamboure commented on #2171
Cool :-) @Matt-Yorkley can you amend the English text content for the English part of the message then? Thanks:-)

[2018-03-26 07:07] myriamboure commented on #2170
@sstead @daniellemoorhead what do you think? Does option 2 sounds ok to you? Should we ask Yuko as well or is that clear enough for everyone? Thanks :-)

[2018-03-26 07:55] HugsDaniel commented on #2002
@myriamboure what translations would you suggest for these options ? Spree_i18n v3.x gives these :
 - "flat rate (per order)" = "Taux net par commande"
 - "flat rate (per item)" = "Pourcent par article"
 - "flexible rate" = "Taux flexible"

What do you think about it ?

[2018-03-26 08:53] myriamboure commented on #2002
Actually I think you don't have to translate yourself as usually translations appear in Transifex and we translate them from there so every language manager can do it there. Ask other devs if that is not clear ;-)
Spree translations are really bad even in v3.x !

- "flat rate (per order)" = "Montant fixe par commande"
- "flat rate (per item)" = "Montant fixe par article (hors articles au poids/vol

[2018-03-26 09:15] myriamboure commented on #1213
I reproduced again https://www.useloom.com/share/ab9547267f3f48b99612325bd54ca4b7 and interestingly I tried that time both as logged in (first) and then logged out. You will see in both cases it goes back to the cart status that was previously. When logged in I had 2 items in my cart from before, add 2, goes to cart, then hit "previous page" button and you will see the cart is back to 2. I can't h

[2018-03-26 09:53] HugsDaniel commented on #2002
@enricostano, @myriamboure said : "Spree translations are really bad even in v3.x !"
That being said, should we still open an issue to keep track of the overwriting ?

[2018-03-26 10:03] HugsDaniel commented on #1938
Thanks @Matt-Yorkley @oeoeaio, I'll dig into that.

[2018-03-26 17:04] yorkfrog commented on #985
@NickWeir63, @myriamboure - are you happy with this format?
![image](https://user-images.githubusercontent.com/31819562/37920859-f244eddc-311f-11e8-83ca-095ed1d181c7.png)
The 'OR' is an i18n entry that can be translated.

[2018-03-26 18:18] myriamboure commented on #985
@NickWeir63 are you happy? It looks good to me, thanks @yorkfrog :-)

[2018-03-26 20:54] NickWeir63 commented on #985
Yes I am very happy with this @yorkfrog - thank you very much

[2018-03-26 22:18] stveep commented on #1213
Hah ok I think I have a start on this. In Chrome I now get the bug. In Firefox (v 59.0.1) though, everything seems to work ok. In Chrome, the bug goes away if I open the javascript console (this was obviously why I couldn't reproduce when investigating further!). I had caching disabled when using dev tools - if I turn caching back on, the bug reappears. So I guess it probably reloads a cached vers

[2018-03-27 10:46] sauloperez commented on #1213
Does refreshing the page fix the problem? do you see the items in your cart then?

[2018-03-27 10:58] myriamboure commented on #1213
If I click on backward and refresh the page it doesn't change anything items are still lost and not anymore in cart.

[2018-03-27 11:17] sauloperez commented on #1213
what if you perform a "hard" refresh pressing `Ctrl + Shift + R`? we need to clarify if this is just browser cache or something else.

[2018-03-27 12:27] #1936 closed

[2018-03-27 13:54] myriamboure commented on #1213
I tried this and no change, products still don't reappear in the cart...

[2018-03-27 14:39] myriamboure commented on #2153
Actually I think the problem is a bit broader, embed shopfront doesn't scroll if it's not in plain page. Look here:
![screenshot from 2018-03-27 16-37-52](https://user-images.githubusercontent.com/8135376/37974464-4d42ab62-31dd-11e8-81bb-8c50e86e42d9.png)
In this embed the webmaster embedded the shop in a frame within the page, and it's not possible to scroll the page. Should I open another issue

[2018-03-27 16:43] sauloperez commented on #2097
After opening https://github.com/rubocop-rspec/rubocop-rspec/issues/587, I have a more clear view of this. Rubocop-rspec does not have a cop to disallow the use of `should`. This has to be done through the RSpec configuration.

The problem with that is that all specs using `should` would fail. So we need to convert all of them to `expect` syntax before that.

[2018-03-28 00:17] mkllnk opened #2181 ""Upload an image" not translated"
I think we compile the text "Upload an image" with the assets on deploy and it can't be changed via the language switcher.

## Description

See: https://github.com/openfoodfoundation/openfoodnetwork/commit/7d27d1325e4cb390b1f76faa40bf16a8a2652676#r28283007

## Expected Behavior

The language switcher works everywhere.

## Actual Behavior

[Not tested, just inferred from code.] The text is always d

[2018-03-28 03:56] mkllnk opened #2182 "Automatically confirm first seeded user"
Whenever you set up a new server or reset your database, a user is set up but can't log in.

## Description

Setting up the database is triggered by `rake db:setup` and creates a first admin user (Spree functionality). The defaults are `spree@example.com` with password `spree123`. This user does not have a confirmed email address.

## Expected Behavior

The bootstrapped user should be confirmed.

[2018-03-28 05:39] mkllnk commented on #2099
Okay, I spent 2.5 hours on this and basically found two things.

Since we are talking about performance here, a benchmark would be helpful.
I just loaded the normal orders and fulfillment report as super admin on the
Australian instance. It took 1m42s. That is pretty bad.

### limit search

The first idea is to not load the reports until filter criteria are set. This is very easy to implement.
One

[2018-03-28 08:20] sauloperez commented on #2099
Don't you guys run NewRelic in Australia? that should give accurate real-world data of the whole stack and point out to spots to optimize.

Even though those queries could certainly kill our DB (the one selecting all enterprises :scream: ), it looks like the biggest problem is iterating over big ActiveRecord objects to hide the details. For my experience, doing that with large collections has a ne

[2018-03-28 08:23] sauloperez commented on #2182
Done in https://github.com/openfoodfoundation/openfoodnetwork/pull/2117 since v1.12

[2018-03-28 09:02] sauloperez commented on #2013
`spree_products.count_on_hand` is just the aggregation of the `count_on_hand` of the variants of the product:

https://github.com/openfoodfoundation/spree/blob/86bf87f1b1e1b299edc8cd10a2486e44ba0a3987/core/app/models/spree/product.rb#L253-L260

[2018-03-28 10:15] enricostano commented on #2002
@HugsDaniel yes please

[2018-03-28 11:52] enricostano commented on #2182
@sauloperez I also think that the right place is in `db:seed` since it's the most basic data that the app needs to be functional.

In any case, if you ask me, there is stuff in `load_sample_data` that should actually be in `db:seed`... but that's another story.

[2018-03-28 12:36] myriamboure commented on #2181
Even if s4 as it is remaing job for new feature being developped I put it directly in product delivery pipe. Do you agree @enricostano @daniellemoorhead ? It's just not to block and merge quickly but if they are in epics being worked on they are entitled to go directly to the pipe IMO.

[2018-03-28 13:50] myriamboure opened #2186 "If unconfirmed user request new password, they can proceed and unfriendly UX happens."
## Description
You shouldn’t be able to reset your password until you have confirmed your email.

## Expected Behavior
If you try to reset password and email is not confirmed system should say “We can’t reset your password until you have validated your email. Resend confirmation link.” and when click on confirmation link should be sent back to the “forgot password” modal where he was before clicki

[2018-03-28 14:31] HugsDaniel opened #2187 "Temporary fix to Spree mistranslations"
## Description

This is a reminder that PR #2178 is a temporary fix to an issue coming from Spree I18n translations. Later upgrades from Spree and Spree I18n may solve the issue, so the fixes may have to be removed.

[2018-03-28 14:44] HugsDaniel commented on #2173
@myriamboure `order amount` is the quantity of variants ordered or the price ?

[2018-03-28 14:58] myriamboure commented on #2173
@HugsDaniel I mean with "order amount" the price for the total order.
You can check here it's well explained: https://openfoodnetwork.org/user-guide/producer-set-up-guide/enterprise-fees/

One thing I'm not sure though reading that again... if there are two enterprise fees in the OC like "percent" and "price sack", is price sack calculated on the total price for the products BEFORE or AFTER "perce

[2018-03-28 15:06] myriamboure commented on #2158
Happy to retest again the UX part when we have released the "beta v0" on subs. As a user I was a bit disappointed so that means to me that there is some UX issue. But I'm happy to give it a fresh look after the first release. What is currently happening is ok for beta v0 so I let that in backlog in the project (or we can put it to some "on hold" column if better) for now and we can review later.

[2018-03-28 15:18] myriamboure commented on #1667
@Matt-Yorkley most of the time here the user receives an email HE has requested by volunteerly signing up.
The only case that is not true is when a hub owner invites a new user as a manager. But this is not within the GDPR rule for me, it's an invitation that this person is free to accept or not. It's not an automatic email like a newsletter. It's like if I was sending you a personal email.
Again

[2018-03-28 17:36] sauloperez commented on #1667
Agree. If I'm not mistaken we're already doing that in the new manager invites. I've read a similar copy there.

[2018-03-29 10:50] myriamboure commented on #2153
After discussing with @enricostano this morning we agreed that today we can't really say that we offer the "mobile ready" feature so this is not really a bug, just a feature that is not yet there. There is a whole bunch of things related to bad UX experience on mobile, things that are not working, etc. SO we are collecting them all in this icebox item: https://community.openfoodnetwork.org/t/custo

[2018-03-29 10:50] #2153 closed

[2018-03-29 11:06] myriamboure commented on #1295
Not a bug as "mobile ready" not yet a feature we really offer, too many things bugging on mobile. So captured in icebox https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 and new feature "mobile ready" started to be worked on, so closing for now.

[2018-03-29 11:06] #1295 closed

[2018-03-29 11:07] myriamboure commented on #1296
Not a bug as "mobile ready" not yet a feature we really offer, too many things bugging on mobile. So captured in icebox https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 and new feature "mobile ready" started to be worked on, so closing for now.

[2018-03-29 11:07] #1296 closed

[2018-03-29 11:08] myriamboure commented on #1299
Not a bug as "mobile ready" not yet a feature we really offer, too many things bugging on mobile. So captured in icebox https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 and new feature "mobile ready" started to be worked on, so closing for now.

[2018-03-29 11:11] myriamboure commented on #1297
Closing for most recent and templated https://github.com/openfoodfoundation/openfoodnetwork/issues/2102 (duplicate)

[2018-03-29 11:11] #1297 closed

[2018-03-29 11:12] myriamboure commented on #2102
Not a bug as "mobile ready" not yet a feature we really offer, too many things bugging on mobile. So captured in icebox https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 and new feature "mobile ready" started to be worked on, so closing for now.

[2018-03-29 11:12] #2102 closed

[2018-03-29 12:28] daniellemoorhead commented on #2170
Will leave to @sstead and potentially @oeoeaio to have an opinion :-)

[2018-03-30 13:49] myriamboure commented on #2023
Closing as iceboxed

[2018-03-30 13:49] #2023 closed

[2018-03-30 14:02] myriamboure commented on #1346
In objective to improve efficiency in developing / reviewing / testing / staging, I have created an icebox "developers don't waste precious time while developing" https://community.openfoodnetwork.org/t/developers-dont-waste-precious-time-while-developing/1273 and attach this in it, so closing it for now, we can reopen when we prioritize.

[2018-03-30 14:09] myriamboure commented on #2100
We decided in product curation meeting that there were other more urgent priority, so didn't prioritized, putting that back to "all the things" and when things move forward can be addressed later.

[2018-03-30 14:13] myriamboure commented on #1186
Iceboxed in "make enterprise onboarding UX great" icebox: https://community.openfoodnetwork.org/t/hubs-and-producers-can-easily-create-their-enterprise-on-ofn/1248
#gitcull2018

[2018-03-30 14:13] #1186 closed

[2018-03-30 14:17] myriamboure commented on #1667
Ok I need to check that but we have not yet deployed v1.13 in France so can't test now, will do a bit later and confirm then the action to take on this.

[2018-03-30 14:33] myriamboure commented on #1665
I think we need to think a bit and incept on it.
1- We don't want unconfirmed users so I din't think people who receive notification emails (this field send an email each time an order is received by the hub basically) should be a confirmed user as they are probably part of the hub management team
2- Regarding producers receiving or not confirmation emails separately for each order made to them (w

[2018-03-30 14:41] myriamboure commented on #1612
I know this is not totally in scope but do we want to include that in email confirmation link? As in term of stories it's on the same UX "user creation" flow, so as we are reviewing it with email confirm... maybe good to do it at the same time? What do you think @enricostano @sauloperez @Matt-Yorkley

Also I have a question: **why is it such a bad practice?** I mean admins won't touch it, and anyw

[2018-03-30 14:49] myriamboure commented on #2167
Ok so apparently fix has been merged, but need to wait next release to test if that is fixed, so when v1.14 will be deployed. Assigning myself on it then.

[2018-03-30 14:55] myriamboure commented on #2186
Before we move that forward I would like someone else to confirm this UX choice. Maybe @sstead or @daniellemoorhead or @RachL ?
I created that because I was a bit lost as a user so I guess others in that situation will be.

[2018-03-30 15:05] myriamboure commented on #1517
I'm closing this for now as after investigations from various devs we will need a whole project/new feature to solve this. Kept track of this original issue and this connected PR in the icebox item: https://community.openfoodnetwork.org/t/hubs-manages-without-friction-shipping-and-payment-methods-and-can-grant-permissions-on-them/1269

[2018-03-30 15:05] #1517 closed

[2018-03-30 17:42] NickWeir63 opened #2191 "Links in confirmation emails not working for SOME users"
When a new user registers they receive an email asking them to confirm their registration.  For most user this works fine.   However about 8 UK users have reported that the link in the email does not work for them.

If I click on the link it works fine and does the job of confirming the registration.

This is a serious bug because we suspect that for every user who reports this issue there are man

[2018-03-31 04:19] yasirazgar commented on #1517
@myriamboure @sauloperez I think we can merge this pr https://github.com/openfoodfoundation/openfoodnetwork/pull/1979 for this issue and resolve it.
Though its related to, https://github.com/openfoodfoundation/openfoodnetwork/issues/2023, it fixes uses case mentioned in this issue.
What do you guys think?

[2018-04-01 18:19] myriamboure commented on #1517
@yasirazgar if I read again on the PR (too long discussion there!) Maikel in one of the latest comments said "I resolved the issue with the missing menu items. But Sally discovered another bug. If you actually uncheck a method now, it doesn't just deactivate the method, but it completely disappears unless other enterprises are using the same method. Only super-admin can bring that method back. I t

[2018-04-01 18:49] myriamboure commented on #2191
Please folks we have set up a template for reporting issues would be great to follow it! @NickWeir63 when you create a new issue you have the template to fill, so you can just follow it. It makes dev work much more easier then to understand the problem. You can also set up a severity for the bug which then allow the pipeline team to prioritize and react accordingly. So in this case it is definitel

[2018-04-01 18:53] myriamboure commented on #2191
@mkllnk @Matt-Yorkley @sauloperez do you have any clue where that could come from? Who wants to take that on? Can it be link more to sys admin UK things or does it sound more like code related? Seems like a pretty urgent s2 bug...

[2018-04-01 19:26] wrycoder commented on #2137
Would this be a workable solution?
[factories_diff.txt](https://github.com/openfoodfoundation/openfoodnetwork/files/1866625/factories_diff.txt)

[2018-04-02 04:14] yasirazgar commented on #1517
ok @myriamboure, I am not in openfoodnetwork slack yet, can you please invite me, my email:  yasirazgar@gmail.com.

[2018-04-02 08:21] myriamboure opened #2193 "Old OC's with no/conflictual dates makes OC's index crash and prevent users from accessing their OCs"
EDIT: all the description below was in fact connected to conflictual dates. Under resolution in PR2119.
We found a workaround wich is to change dates in database so s3 is ok.

## Description
A user who was running regular order cycles on OFN changed the permalink (url name) of his shop.
After doing that, when he clicks on "order cycle' he can't access anymore any of his order cycles and he sees th

[2018-04-02 08:45] myriamboure commented on #2193
@sauloperez @sauloperez I don't know if you had a look at subs but if you are around today and can have a look would be awesome... I'm a bit powerless for that user, apart asking him to create a new enterprise from scratch.

[2018-04-02 10:12] myriamboure commented on #1517
Invitation sent @yasirazgar looking forward to see you there!

[2018-04-02 12:27] Matt-Yorkley commented on #2191
Does anyone have a Mac with Safari that could give this a quick test by signing up on UK production and clicking the validation link?

[2018-04-02 12:41] kirstenalarsen commented on #2191
just did it - worked just fine :)

[2018-04-02 16:15] Matt-Yorkley commented on #2191
Thanks @kirstenalarsen! It seems this has appeared at the same time as UK production SSL certificate issues, which may have been fixed now by @mkllnk? And from some of these email error reports it looks like SSL related issues regarding addresses not resolving properly were the cause of the blank screen... so I think this might be resolved, but we can keep an eye on it.

[2018-04-02 21:13] myriamboure commented on #2191
Ok I put that in testing then so that we can just wait a bit and observe, and we can close in a few days if all is green :-)

[2018-04-02 21:55] lin-d-hop commented on #2191
Just to note this definitely didn't correlate with SSL issues. This has been happening since v1.11 2 weeks ago. SSL was a problem for 3hrs this morning. The problem is not specific to OS or mail client.

[2018-04-02 21:56] lin-d-hop commented on #2191
I'm sorry I've had no capacity to look into it yet.

[2018-04-02 22:08] mkllnk commented on #2099
Oh, yes, I forgot about compiling the report in the background. The user could select which reports they want and then it's done with a Delayed Job. Once ready, the user gets notified via email.

@myriamboure About the filtering: A lot of the filtering is done so that you don't see information you don't have any permission to see. So we can't let the user do that. The filtering the user could do,

[2018-04-02 22:16] mkllnk commented on #2182
As Enrico said, `db:seed` contains everything to have a working installation. It is executed for a new production server. I wouldn't execute `openfoodnetwork:dev:load_sample_data` on a production server.

The question is, should the first production user be automatically confirmed or do we want them to validate that their email address is working as well?

[2018-04-02 22:29] mkllnk commented on #1667
Sounds good.

[2018-04-02 23:24] mkllnk commented on #2191
In Slack Lynne posted:

https’s server IP address could not be found.
Search Google for https openfoodnetwork org user spree password edit
ERR_NAME_NOT_RESOLVED

That sounds like the DNS server failed. Unfortunately, the emails above don't show the URL people tried to visit.

I can't see any problem in you DNS setup. Maybe your DNS server was just not reliable.

[2018-04-03 05:53] sauloperez commented on #2191
@mkllnk is right, we need the actual URL these users clicked on.

[2018-04-03 05:55] sauloperez commented on #2182
I guess we do want it so that we want to log in right away.

[2018-04-03 05:57] sauloperez commented on #2099
I believe we do have lots of low hanging fruits before having to bring in all that complexity.

[2018-04-03 06:36] #1941 closed

[2018-04-03 08:45] HugsDaniel commented on #1938
So, I found a clue; in `order_cycle.js.coffee`, I `console.log` as following :
[code]

Results :
 - `@order_cycle` contains the selected order_cycle
 - `order_data` contains the previous order_cycle

That's where the bug comes from.

 So my questions are : what is the purpose of
[code]

and how can I send the selected order_cycle to `order_data`, or change this function to work only with the selec

[2018-04-03 16:53] #2137 closed

[2018-04-03 22:17] #2002 closed

[2018-04-04 01:33] #1493 closed

[2018-04-04 02:18] daniellemoorhead commented on #2193
@myriamboure given the solution discussed on Slack around order cycle dates can this issue now be closed?

[2018-04-04 02:33] sstead opened #2195 "The update button in Profile Settings is not turning red"
When I make changes to many of the profile settings, the Update button remains un-clickable. Effected fields include: enterprise name, visible, address, contact info, social media, business details, images, properties.

Fields that are still able to be saved: shipping, payment methods, enterprise fees, inventory, tag rules, shop preferences, users.

## Expected Behavior
The moment any field in ent

[2018-04-04 02:52] mkllnk commented on #2191
I guess they are "testing" the current code on UK production. But yes, In Dev is probably a better description.

[2018-04-04 02:55] #2173 closed

[2018-04-04 03:28] mkllnk commented on #2195
Broken by 4953c69123059e44f64d0a2ea24f001cd6b2dff4 in https://github.com/openfoodfoundation/openfoodnetwork/pull/2143.

[2018-04-04 03:41] sstead commented on #2195
Hey @Matt-Yorkley, we spotted this bug today during testing. Maikel had a look and it seems it was introduced by this PR - https://github.com/openfoodfoundation/openfoodnetwork/pull/2143 . Maikel has reversed the work you did in 2143, which will solve this issue, but re-open the issue 2143 aimed to solve.

[2018-04-04 04:35] sstead opened #2197 "Invite button not clickable when Inviting new Manager"
## Description
When I use the Invite Manager field in Aus production, the box opens, I type the email of the manager I want to invite, but when I click the Invite button nothing happens. It works for super-admin users.

## Expected Behavior
The invite button should become clickable after I enter an email, and after I click it I should see a success/error message.

## Steps to Reproduce

1. Log in

[2018-04-04 05:47] #2172 closed

[2018-04-04 06:38] #2171 closed

[2018-04-04 07:16] #2169 closed

[2018-04-04 12:00] myriamboure commented on #1216
Is this fixed by https://github.com/openfoodfoundation/openfoodnetwork/pull/2196 @mkllnk ? @Matt-Yorkley ? If yes it seems Maikel have fixed the issue introduced by precedent PR, am I right? So we can close this one?

[2018-04-04 15:28] myriamboure commented on #2193
closing as problem solved thanks to Rob :-)

[2018-04-04 15:32] myriamboure commented on #2197
As this is part of epic on user email verification (we included the manager invite in it) I suggest we fix that bug properly as part of the epic job. I tested with super-admin users so didn't see that bug while testing, sorry about that (learing). @Matt-Yorkley can you work on it in the coming days?

[2018-04-04 15:38] myriamboure commented on #2193
Oups, actually bug is still here as there is still a little thing to fix in the PR that solves it. Not linked to permaling thought so reopening but changing title.

[2018-04-04 15:42] myriamboure commented on #2170
@sstead @oeoeaio any opinion on that? Rachel and I proposed option 2. Current UX for this new feature doesn't seem satisfying to me.

[2018-04-04 15:48] myriamboure commented on #1216
Nop, sorry, I understand now, 2196 only reverted the changes introduced by 2143 so you need to create a new PR @Matt-Yorkley to solve it again without the bug ;-)

[2018-04-05 00:47] farmermel commented on #1384
Hello again! My fellow contributors and I have made some headway but no longer have the time for this issue.
In the file: `/app/views/admin/shared/_enterprises_sub_menu.html.haml`
We took this code:
`= content_for :sub_menu do
  %ul#sub_nav.inline-menu{"data-hook" => "admin_enterprise_sub_tabs"}
    = tab :enterprises, url: main_app.admin_enterprises_path
    = tab :enterprise_relationships, url:

[2018-04-05 02:33] myriamboure commented on #1384
Ok, thanks @farmermel and feel free to come back whenever you want :-) Cheers!

[2018-04-05 07:26] sauloperez commented on #2170
I experienced the same here. I thought having a "close" button would help so I bet for option 1 but I'm not an expert.

[2018-04-05 07:29] myriamboure commented on #2170
I'm just wondering @sauloperez as for me less clicks the better, and you always see the small icon so you know the upload happened, not sure you need the preview here... but let's see what the others say ;-)

[2018-04-05 07:33] sauloperez commented on #2170
Yes, it was just my feeling at that moment but I prefer some other authoritative voice here. Agree with you that less clicks the better.

[2018-04-05 11:54] sauloperez opened #2198 "[Spree 2 Upgrade] Update base_mailer_decorator.rb"
## Description
Once in Spree 2.0 the API to get the mail settings changes. This needs to be reflected in [app/mailers/spree/base_mailer_decorator.rb](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/mailers/spree/base_mailer_decorator.rb)

See the explanation in: https://github.com/openfoodfoundation/openfoodnetwork/pull/2166

[2018-04-05 13:58] sauloperez commented on #2012
The latest Spree migration we have in OFN is `20180405114604_drop_products_count_on_hand.spree.rb`, which belongs to `dc775dbeb` commit. From that one onwards are still to be brought to the app.

[2018-04-05 15:05] sauloperez commented on #2014
As per the investigation done in https://github.com/openfoodfoundation/openfoodnetwork/pull/2183, we can't get rid of `spree_products.count_on_hand` yet as removing it requires removing `spree_variants.count_on_hand` as well. They depend on each other.

As shown in https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/models/spree/product_decorator.rb#L257-L271, `#save_master` trig

[2018-04-05 15:35] #2015 closed

[2018-04-05 15:53] sauloperez commented on #2013
I just spotted a use of `spree_products.count_on_hand` in:

https://github.com/openfoodfoundation/openfoodnetwork/blob/46d2d6cb8ac9425485cc9635cc5dbc515583151f/app/views/spree/admin/overview/_enterprises_producers_tab.html.haml#L28-L35

That method is defined as follows:
https://github.com/openfoodfoundation/openfoodnetwork/blob/46d2d6cb8ac9425485cc9635cc5dbc515583151f/app/models/enterprise.rb#L20

[2018-04-06 00:13] sstead commented on #2170
I support option 2

[2018-04-06 06:16] myriamboure commented on #2186
Ok @Matt-Yorkley this is dev ready for you to take on.  I think it goes in the same direction as well as last comment on https://github.com/openfoodfoundation/openfoodnetwork/pull/2073 ("Can't the validation link redirect back to the page you were on when you last requested a validation link (= clicked on resend validation link)?") but here also with changing the behavior if you request new passwo

[2018-04-06 10:57] sauloperez commented on #2126
Do you mind if I close this issue, which just copies the PR's description, and we stick to  https://github.com/openfoodfoundation/openfoodnetwork/issues/2010 instead? that one is already linked to its parent epic https://github.com/openfoodfoundation/openfoodnetwork/issues/2011.

[2018-04-06 12:57] sauloperez commented on #2013
We overrode the dashboard's controller `Spree::Admin::OverviewController` by means of a `class_eval` in [app/controllers/spree/admin/overview_controller_decorator.rb](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/controllers/spree/admin/overview_controller_decorator.rb). There we have custom logic to either render `single_enterprise_dashboard` or `multi_enterprise_dashboard

[2018-04-06 13:39] sauloperez commented on #2013
Given all the problems aforementioned I would simply remove that tab. It's something easy to do but I'd like to check somehow (using analytics?) if someone uses it.

[2018-04-08 09:07] myriamboure commented on #2013
Hum... @sauloperez I'm wondering one thing, for a producer who only manages their products catalog (as it is used by hubs on OFN) but doesn't manage any hub, that would mean they wouldn't have access to their enterprise from dashboard, am I right? That would be an issue I guess... isn't it possible to just have one tab "my enterprises" and put them  all in if the point is to remove the producer ta

[2018-04-09 12:40] NickWeir63 commented on #2191
Sorry I have been away for a week and just catching up.  Below is one of the failing URL's - many of the other failing urls and automatic emails are in the Trello card where we have been collecting details of users who reported problems on this.    let me know if you want access to the Trello card.  thanks.
https://u2720784.ct.sendgrid.net/wf/click?upn=xFBGS0monMFzX-2FqZT940KkIv9e1v2-2B4bVloQEQGLP

[2018-04-09 13:29] enricostano commented on #2191
This URL get:
[code]
We need to check both URL and token in `Location`

[2018-04-10 00:57] mkllnk commented on #2191
And that gets redirected to the https version of that URL. I'm wondering why it's not using https straight away, but that's not the problem here.

[2018-04-10 05:22] sstead opened #2201 "Can't scroll to see in modals (profiles, longer product descriptions)"
## Description
Users can write long descriptions for products - there is no character limit on the text field. In the shop, if the description is too long, the customer can't scroll down in the product modal the read the full description.

Also, when testing groups I noticed you also can't scroll to see long profiles on maps/groups.

## Expected Behavior
I should be able to scroll down to read ful

[2018-04-10 10:38] sineadfenton opened #2202 "Time on datepickers on ordercycles not working and sporadically changing"
Time functionality on the datepickers in the order cycle pages are not rendering correctly and change upon clicks

## Description
Selecting time on the "datepickers" function on the order cycle page do not work. As you click on a date the time changes automatically. If you try to enter a time using the keyboard when clicking on the hour or minute box, it does not pull through what you tyope

## Ex

[2018-04-10 10:39] sineadfenton commented on #2202
![](https://github.trello.services/images/mini-trello-icon.png) [Time Pickers not working on date picker order cycle page](https://trello.com/c/7JOaifgn/174-time-pickers-not-working-on-date-picker-order-cycle-page)

[2018-04-10 18:58] rtrunkhill commented on #620
Hello, I've new a new programmer and never contributed to an OS before, but i can handle this if you're still looking to get it done

[2018-04-10 21:07] sstead commented on #620
Thanks @rtrunkhill that would be much appreciated!

[2018-04-10 21:49] myriamboure commented on #620
Hi @rtrunkhill and welcome to the OFN community! It seems it's still to be done, I guess you can see yourself in the code base en.yml file (I'm not a dev but I think that's where English masters strings are) what is the original English text and yes change it to the new version. If you need to understand how internationalisation works I guess you can look at https://github.com/openfoodfoundation/o

[2018-04-11 07:57] NickWeir63 commented on #2191
Here is another link that did not work for the user but (like all the other issues) it worked (successfully confirmed their registration) for Sinead and I when we click on the link for them.
https://u2720784.ct.sendgrid.net/wf/click?upn=xFBGS0monMFzX-2FqZT940KkIv9e1v2-2B4bVloQEQGLPesDxcfV-2F33pWU2RhxA0Qle6EH-2FcLNtgKtX-2FrGNLfFT3GyVbwL4vMEr5DnQBAfYc535PKbc2-2BrJ82G1DdT49EizL-2BDuW6IasGotXrwz5uILg0

[2018-04-11 09:59] yorkfrog commented on #985
Submitted change on PR [#2204](https://github.com/openfoodfoundation/openfoodnetwork/pull/2204)

[2018-04-11 14:05] myriamboure commented on #2197
@Matt-Yorkley this is pretty important I think and users I waiting for this in part of email confirm thing. Can you fix that quickly please? As a reminder Maikel had reverted your branch so you need to resubmit with the fix. Thank :)

[2018-04-11 15:39] sauloperez opened #2205 "Refactor custom `available_to_order?` logic"
## Description

It turns out that `ShippingMethod#available_to_order?` is gone in Spree 2.0 and we rely on it to add our custom logic.

### Current status

On top of the Spree's checks to know whether a shipping method is eligible to be used for an order, we also check that the order's distributor is one of the enterprises that can use the shipping method.

In other words, while Spree defined it l

[2018-04-11 16:07] sauloperez opened #2206 "Spree's new order lock feature"
## Description
While digging deeper on the Spree 2.0 changes and trying to boot the app we found out that https://github.com/spree/spree/commit/45eabed81 introduced a `lock` option on [#current_order](https://github.com/spree/spree/commit/45eabed81#diff-4c76cfd37035d99f52b5a54bbeef4eaaR16) and [#load_order](https://github.com/spree/spree/commit/45eabed81#diff-10992068b70df9a93b07ec08575d29a6R93),

[2018-04-11 16:14] HugsDaniel opened #2207 "Refactor Order#current_order extension"
## Description
In Spree 2.0, `Order#current_order` takes a hash as argument.

## Current status

In `lib/spree/core/controller_helpers/order_decorator.rb` we extend Spree's `current_order` like this :
[code]

And in Spree :

[code]

## How does it look in Spree 2.0 ?

In Spree 2.0, `Order#current_order` now takes a hash of options :
[code]

So we need to change the params we send in our extension.

[2018-04-11 19:50] jdg006 commented on #2201
I'd be happy to try and take this issue on. Let me know which fix you would rather (the limit on characters or the ability to scroll) and i'll get right to it.

[2018-04-11 21:46] myriamboure commented on #2201
Hi @jdg006 and welcome in the OFN community! Great that you want to help on that :-) I'm not tech but on a UX prospective I would rather choose the ability to scroll if description is too long. Also for mobile responsiveness that seems like the best option to me. If anyone disagree please tell :)

[2018-04-11 23:37] mkllnk commented on #2191
Is there an option in your Sendgrid account to deactivate URL rewriting and tracking? Maybe these Sendgrid URLs are causing an issue. We are sending direct links to the OFN.

[2018-04-12 14:31] HugsDaniel commented on #2205
Somewhat related https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/overrides/spree/admin/shipping_methods/_form/replace_form_fields.html.haml.deface#L37

[2018-04-12 14:32] myriamboure opened #2210 "Enterprise managers can access the page of the report they want to generate"
## What is the problem we are solving
Some enterprise users, when clicking on “reports” and then clicking on a specific report they would like to access, don’t even manage to reach the given report page as they experience a timeout (too many data loaded).
This is because all data are loaded with some default filtering options (like start date = first day of the month) but for some users even with

[2018-04-12 14:51] myriamboure commented on #2099
After talking with @enricostano and @sauloperez I understood the confusion we were in.
In milanote we had formulated our goal as "people can use existing reports",  but I think this is not precise enough, so I propose to **separate that in two**:
- **people can from the menu "report" access any give report PAGE.** (they manage to reach the page where they are supposed to be able to generate/downlo

[2018-04-12 14:51] #2099 closed

[2018-04-12 15:00] myriamboure opened #2211 "Reports: Don't load any data"
## Description
**- As a:** enterprise manager

**- On page:** /admin/reports when clicking on any link from that page
![screenshot from 2018-04-12 19-35-30](https://user-images.githubusercontent.com/8135376/38693949-b68cd540-3e88-11e8-8779-c2ef3ff83b8a.png)

**- I want to be able to do:** access the page with no data loaded (pre-defined existing filters options are still there)

## Acceptance crit

[2018-04-12 16:36] enricostano commented on #2205
Also maybe related https://github.com/openfoodfoundation/openfoodnetwork/issues/2126

[2018-04-12 17:14] RachL commented on #2205
Also maybe https://github.com/openfoodfoundation/openfoodnetwork/pull/2039#issuecomment-375137267

[2018-04-12 17:40] myriamboure opened #2212 "Reports: Empty filters in reports pages"
## Description
**- As a:** enterprise manager

**- On page:** /admin/reports when clicking on any link from that page
![screenshot from 2018-04-12 19-35-30](https://user-images.githubusercontent.com/8135376/38693949-b68cd540-3e88-11e8-8779-c2ef3ff83b8a.png)

**- I want to be able to do:** access the page (no data loaded already done) with no pre-defined filters options (= empty filters)

## Accept

[2018-04-12 22:56] oeoeaio opened #2213 "Useless 'Subscriptions' menu item for super-admin"
## Description

The subscriptions menu item appears for super admin, even when subscriptions is not enabled for any enterprises. This results in the user being able to see the subscription page but never being able to actually create a subscription. This is because super admin gets access to all menu items, but it is very confusing because the check list does not articulate the solution to the pro

[2018-04-13 09:38] HugsDaniel commented on #2207
Solved by https://github.com/openfoodfoundation/openfoodnetwork/pull/2209/commits/ae935202be00ddddcce76a900d228f3121ba2d8b

[2018-04-13 10:23] RachL opened #2214 "Bulk product image upload UX improvement"
## What is the problem we are solving
This issue is here to implement the UX solution we've chosen to solve #2170 .

## Expected outcome
Make Bulk product image upload more user-friendly i.e. with less clicks.

## Description**
**- As a:** Enterprise user, an admin or a superadmin
**- On page:** admin/products/bulk_edit
**- I want to be able to:**
click on an image or a default image. Then see a m

[2018-04-13 10:26] RachL commented on #2214
@myriamboure Can you check and add the missing info ? Thx :)

[2018-04-13 11:59] sauloperez opened #2216 "[Spree Upgrade] Checkout"
## Description

We have a number of customizations on top of Spree's checkout process to implement the collapsed customer-facing checkout. See:

https://github.com/openfoodfoundation/openfoodnetwork/blob/514ad5d898d0ba8c2e8a877e20f930fdbf418aa0/app/models/spree/order_decorator.rb#L29-L46

It's very likely that we'll have to touch the checkout while working on the [other Spree 2.0 epics](https://gi

[2018-04-13 13:19] sauloperez opened #2217 "Spree 2.0 Upgrade: Boot the app"
## Description

The further we go with the spree upgrade the more issues we find that can't be solved by being compatible with the `master` branch. We need to continue the development in a different branch so that we can work on both, OFN's development and the Spree upgrade, independently.

We already created said branch as https://github.com/openfoodfoundation/openfoodnetwork/tree/2-0-stable and

[2018-04-13 13:28] sauloperez opened #2218 "Investigate current customizations on Spree's checkout"
## Description

Before thinking about implementing our checkout onto Spree 2.0 we first need to have a clear picture of all the customizations we did there and where are they in the codebase.

Once we have that clear understanding we'll be able to foresee how these customizations impact the upgrade

## Expectations

We should carefully document these findings as a wiki page so that we don't miss i

[2018-04-13 13:31] sauloperez commented on #2218
who should work on this @enricostano ?

[2018-04-13 13:36] sauloperez opened #2219 "Upgrade dependencies to make OFN work with Spree 2.0"
## Description

We need to upgrade some dependencies required by Spree to make the app work with Spree 2.0. This involves investigating these dependencies and changing the Gemfile so that Bundler can resolve them all.

This is the first step towards being able to boot the app with Spree 2.0.

[2018-04-13 16:02] sauloperez commented on #2213
This plus a wiki page documenting it seems a better use of our limited resources.

[2018-04-13 16:08] sauloperez commented on #2197
Amazing `possible fix` :clap::clap:

[2018-04-13 16:16] sauloperez commented on #2201
Looks like the easiest to implement as well.

[2018-04-13 20:01] rtrunkhill commented on #620
So i'm having issues with just doing an bundle update.  when I run it i get this message:

Gem::InstallError: guard-rails requires Ruby version >= 2.2.3.
An error occurred while installing guard-rails (0.8.1), and Bundler cannot continue.
Make sure that `gem install guard-rails -v '0.8.1'` succeeds before bundling.

but ofc i can't change the ruby version ( I tried that).  i've been trying to figu

[2018-04-15 23:55] mkllnk commented on #620
That's odd. Since this is a question unrelated to the issue, you have a better chance to get a reply in the Slack dev channel.

I just looked into the `Gemfile.lock` file and it declares `guard-rails (0.7.2)` as dependency. So the command you were running tried to install a newer version of guard-rails. Are you using rbenv? Did you install Ruby 2.1.5 with `rbenv install`? Did you install the bundl

[2018-04-16 06:29] myriamboure commented on #2170
@RachL had created a new issue to describe precisely the story after this discussion and avoid any confusion https://github.com/openfoodfoundation/openfoodnetwork/issues/2214, so I'm closing this one and linking the new one to the PR.

[2018-04-16 06:29] #2170 closed

[2018-04-16 13:33] sauloperez opened #2225 "[Spree Upgrade][Paypal] Investigate better_spree_paypal_express's spree-upgrade-intermediate branch"
## Description

We need to investigate what the branch mentioned below implements:

https://github.com/openfoodfoundation/openfoodnetwork/blob/1abfe2ab8c57a614635edf48c48270e430ef6afd/Gemfile#L18-L21

and see what's the impact on the Spree upgrade.

[2018-04-16 13:40] myriamboure opened #2227 "Build a prototype to validate the new data model"
## Description
**- As a:** enterprise manager

**- On page:** in an external prototype based on the data model resulted from inception session

**- I want to be able to do:** create my own version of a given product and keep traceability of product origin in my shopfront.

## Acceptance criteria
- In the prototype whatever the version of product I create (split, aggregate, etc.) I am able to creat

[2018-04-16 13:40] myriamboure opened #2228 "Enable products chain traceability"
## What is the problem we are solving
- Mary and Shannon need to be able to make and sell their own version of Fred’s product, without loosing the product origin information
- Fred needs to be able to deny that he supplies a given product to a given hub (if he didn’t create the product himself)
- Mary and Shannon need to be able to create Fred’s products on his behalf in order to sell their own ve

[2018-04-16 14:08] myriamboure commented on #2227
Not sure who will work on it so just putting you three on this "prototype" thing and you can see how you want to split the work? In term of priority with Spree upgrade, how do we want to handle this? Do you need that understanding for Spree upgrade? Else I guess this should come after Spree upgrade, or should be assigned to someone not working on Spree upgrade if we want to paralelize.

[2018-04-16 14:38] sauloperez commented on #2227
To me, this should come after Spree upgrade. I don't think we have the resources to work on these two things at the same time plus butfixing and current feature development.

[2018-04-16 15:36] HugsDaniel commented on #1957
![](https://github.trello.services/images/mini-trello-icon.png) [Issue](https://trello.com/c/AbUpeztg/1-issue)

[2018-04-16 16:22] myriamboure opened #2230 "Delivery note"
## What is the problem we are solving
- Jane/Mary cannot know the differences between what she order (to Mary or Fred) and what she was invoiced for.
- We cannot issue legally valid invoices on OFN

## Success factors = expected outcome
- An invoice generated from OFN shows what was invoiced = delivered compared to what was originally ordered.
- It is not possible to issue two invoices with the sa

[2018-04-17 10:55] myriamboure commented on #2211
@RachL do you think you can work on UX for this in priority so that @mkllnk can start implementing it?

[2018-04-17 10:56] myriamboure commented on #2212
Then @RachL this one goes just after/simultaneously with the other story, awesome if you can work on UX for this as well :-)

[2018-04-17 11:01] myriamboure commented on #2210
@mkllnk this epic is for you :-) There are two stories, and we suggested that @RachL has a quick UX work on it (should be little things, but  like for instance display a message inviting the user to use filters, and telling that if long period might take more time to load... things like that) before you take the stories and implement them. @RachL can you plan that in the coming days?

[2018-04-17 14:09] sauloperez commented on #2219
Solved by #2209

[2018-04-17 14:09] #2219 closed

[2018-04-17 14:49] #2207 closed

[2018-04-17 16:05] #2214 closed

[2018-04-17 17:37] sauloperez opened #2233 "Fix unreliable features test"
## Description

As exposed in https://github.com/openfoodfoundation/openfoodnetwork/pull/2232 recent changes may have dropped the following tests reliability:
https://github.com/openfoodfoundation/openfoodnetwork/blob/ac37b0fc7e7203477ad59f61081b393c69fdfc26/spec/features/consumer/shopping/embedded_shopfronts_spec.rb#L50-L97

It fails way more than it passes in CI.

## Expected Behavior
The test s

[2018-04-17 17:38] sauloperez commented on #2233
We don't normally use severity levels for these issues so please, @myriamboure let me know if this feels right to you.

[2018-04-17 18:09] rtrunkhill commented on #620
I used RVM to change ruby versions. If i dont declare the guard-rails version it get the error you saw before.

rtrunkhill:~/workspace (master) $ ruby -v
ruby 2.1.5p273 (2014-11-13 revision 48405) [x86_64-linux]
rtrunkhill:~/workspace (master) $ bundler -v
Bundler version 1.7.6

i'm really at a loss.  i want to do more for this project but I need to get this resolved and im not sure where i go fro

[2018-04-17 18:53] sauloperez commented on #620
I think you are running on a pretty old bundler version the latest version is 1.16. You can read more about it in https://bundler.io/whats_new.html. Try running `gem update bundler` and then try `bundle install` again. This will hopefully solve your problem.

[2018-04-17 18:57] RachL commented on #2211
@myriamboure @mkllnk I think for the UX here 3 points are relevant :

1. When the user click on any of the links from the /admin/reports, the page opens with the filter and instead of the data a message is shown saying "Please select filters in order to access your data".
2. If the filters selected require a large amount of data that would prevent the page to be loaded, a message should appear ask

[2018-04-17 18:59] RachL commented on #2212
@myriamboure @mkllnk I guess my comment in #2211 is enough for the user, except if we can add shortcuts for filters that are often used. I think you've mentionned that the last order cycle was often asked, am I correct ? But maybe it goes beyond the scope of this story and we need another issue for this.

[2018-04-17 19:13] rtrunkhill commented on #620
okay tried that, got the same error, the bundle install gets interrupted w/:

[code]

[2018-04-17 19:18] sauloperez commented on #620
that's weird. I don't get why bundler decides to resolve guard-rails to 0.8.1 all of a sudden. Can you share the exact commands you run? You can also share a recording using https://asciinema.org/, which might be even better.

[2018-04-17 19:28] sauloperez commented on #2211
suggestion 2 is very hard to implement as there's no deterministic way to know how large the amount of data is to prevent the page to be loaded. I don't know any way to weight how much data the DB will process.

I agree with you on setting a totally arbitrary threshold which we think is reasonable for both the user and the current performance of all instances today (if that is what you meant).

ht

[2018-04-17 19:33] RachL commented on #2211
@sauloperez yes that what I meant, I don't think we will be able to fix a good threshold other than arbitrary for the moment. But at least it should prevent the user from having an indefinite loader. Thx for the link !

[2018-04-17 19:47] rtrunkhill commented on #620
bundle install gives me:
[code]

[2018-04-17 20:00] sauloperez commented on #620
please, share your terminal's output when troubleshooting otherwise is impossible to know happened.

[2018-04-17 20:09] rtrunkhill commented on #620
[code]

[2018-04-17 20:13] sauloperez commented on #620
what does `RAILS_ENV=test bundle exec rake db:create db:schema:load` report?

[2018-04-17 20:15] rtrunkhill commented on #620
[code]

[2018-04-18 06:21] sauloperez opened #2234 "Investigate consequences of Spree using Decorators gem"
## Description

I just found out that Spree switched to [decorators gem](https://github.com/parndt/decorators) in [cd471bffa](https://github.com/spree/spree/commit/cd471bffa). We need to understand what consequences this has for OFN. Does this change the way our decorators should be implemented? If so, how?

EDIT [c31e3ce24](https://github.com/spree/spree/commit/c31e3ce24) later reverts these chan

[2018-04-18 08:08] sauloperez opened #2236 "Copy and run migrations"
## Description

We have to copy over the migrations from Spree and run them for our `db/schema.rb` to be updated. This is required for things like using new models from the rails console.

This doesn't avoid the necessary work of carefully investigating what these migrations do in an upcoming step.

## Expected Behavior
When using models added by Spree 2.0, such as `Spree::StockLocation`, Rails sh

[2018-04-18 08:45] myriamboure commented on #2233
Sounds ok to me...I guess we can use severity labels to know the emergency of a tech debt to be solved...? It's a bit hacky, but let's review that when we go. Maybe @daniellemoorhead will have ideas ;)

[2018-04-18 08:52] myriamboure commented on #2212
Yes @RachL let's just here remove all filers and display the message you suggest, that should be fine :-)

[2018-04-18 08:56] myriamboure commented on #2211
Agree with your suggestion @RachL !
Although I would suggest to open a new issue for point 2 because we need to investigate and test given current peformance what limit is reasonable and list them to be able to implement them, like for instance:
- if you ask more than one month data you are required to change dates so that it's no more than one month
- if you ask more than one OC at a time same.
-

[2018-04-18 09:13] sauloperez commented on #2233
That's my point. Let's what the authority, @daniellemoorhead , has to say.

[2018-04-18 10:12] myriamboure commented on #2211
@RachL I added the mockups based on your suggestion. Left aside the data cap for the moment, I let you create another issue and link it to the epic. @mkllnk I put that story in dev ready for you to pick-up :-)

[2018-04-18 10:15] myriamboure commented on #2212
I think @RachL suggesting default queries are beyond the scope of the focus point we decided to prioritize, we can work on that when we decide to focus on imprpving UX of back office (there are many UX twicks in the list already!)

[2018-04-18 10:18] myriamboure commented on #2212
Same here @mkllnk I put it in your queue, after #2211 :-)

[2018-04-18 12:27] myriamboure commented on #1213
Any progress on this @stveep ? We said it's s2 bug so we are want to solve it quickly... if the problem is deeper we can rediscuss but we need to agee on a path to achieve the user experience we want to offer (cart should remain if you hit backward button).

[2018-04-18 12:30] myriamboure commented on #2193
closed via https://github.com/openfoodfoundation/openfoodnetwork/pull/2119

[2018-04-18 12:30] #2193 closed

[2018-04-18 12:40] myriamboure commented on #2132
I'm not sure I understand the issue... but I'm looking for 2-3 issues that we can delegate to some devs who have some free time (occasional) can we put that in @sauloperez ?

[2018-04-18 12:41] myriamboure commented on #2233
Let's prioritize it @sauloperez we want to have some things in the pipe occasional devs can jump on. I propose we put this one in, so moving to delivery backlog.

[2018-04-18 12:43] Matt-Yorkley opened #2237 "Update redirect URL when resending email confirmation"
## Description

When sending email confirmations, the page the user is on gets stored so they can be redirected to the page they came from after clicking the validation link. This does not get updated when a confirmation email is re-sent.

## Expected Behavior

Resending email confirmations should update the return URL.

## Actual Behaviour

The return URL stays the same as it was when the user in

[2018-04-18 15:37] Matt-Yorkley commented on #2237
@myriamboure After working on #2186 I realised I had to solve it at the same time as this issue, so they are both covered now in PR #2238.

[2018-04-18 15:56] myriamboure commented on #2237
Ok, cool, so @Matt-Yorkley is the modification you did in #2186 also working for other cases when users click on "resend confirmation" link? Does it redirect them to later page in all cases or just the reset password case? Thanks for the precision.
Ideally we would like to try to have one PR = one issue, but let's move forward and keep that in mind for next time ;-)

[2018-04-18 16:39] RachL commented on #2211
@myriamboure thx ! Sorry about that I thought I had uploaded my mockup. Dunno what happened...

[2018-04-19 06:34] sauloperez commented on #2132
Yes, @myriamboure. Someone should take a look

[2018-04-19 06:46] sauloperez commented on #2072
I'd like to review the attached socument again and provide more precise requirements if needed.

[2018-04-19 08:33] myriamboure commented on #1938
Ok let's do that @HugsDaniel :-) I de-assign you and put it back in dev ready. @mkllnk @KeirOsborn @stveep does one of you feel comfortable with Angular and can add that in his pipe? It's a s2 bug so we are supposed to fix it asap.

[2018-04-19 08:48] enricostano commented on #2218
@mkllnk @Matt-Yorkley perhaps? Any volunteer? I'm sure also @oeoeaio has some insight nobody else knows :smiley:

[2018-04-19 11:40] myriamboure opened #2240 "Investigate and list cookies used by OFN"
## Description
Before implementing the cookie feature we need to understand:
- which are the cookies used by the OFN application and what each of those cookies does. (New Relic for all? Google Analytics for some instances who decided to use it? Others?)
- we also need to understand what other cookies that might be used by local instances and their attached information website (as it looks like the

[2018-04-19 11:40] myriamboure opened #2241 "Build the ability to set up a url for cookies policy in configuration"

[2018-04-19 11:41] myriamboure opened #2242 "EU Cookie compliance"
## What is the problem we are solving
GDPR and other European local regulations force all European websites to:
- inform visitors / users if you collect personal data and what you do with them.
- request consent from the visitor / users to do so for each type of cookie.

We shouldn't collect and use non-compulsory data through cookies without the explicit consent (default opt-in doesn't work anymo

[2018-04-19 11:44] myriamboure commented on #2242
We need some dev to take tech lead on that project. I think it can be done in parallel as Spree upgrade as I don't think there is really implications. We have decided to prioritized for Q2. @daniellemoorhead might be good to discuss at next pipeline touchpoint.
I only put one story so far as I would like to organize a quick inception session with the tech lead on it to agree on the path we want to

[2018-04-19 17:07] rtrunkhill commented on #620
Nope that didn't work I get the following error:
[code]

can i get an invite to the slack workspace please?  same username @gmail

[2018-04-19 23:02] Matt-Yorkley commented on #2237
There's 2 places with the reset password message, and they should both now redirect to the latest page.

[2018-04-20 01:47] daniellemoorhead commented on #2241
What's this for @myriamboure?

[2018-04-20 05:03] sstead commented on #2140
Note: TFG have encountered this bug in Australia - they now have to make a work around on top of a work around... Because using tagging itself is a work around, and now they have to become a 'hub' just to use the work around...annoying

[2018-04-20 05:04] sstead commented on #2140
@myriamboure or anyone, let me know if this is not in fact a good first issue (seems straightforward to me, but I'm no dev).

[2018-04-20 05:27] daniellemoorhead commented on #2140
I've added this to the delivery train backlog @sstead, would be great to get an occasional contributor to pick it up given it's not too complex (pending a developer saying as much..ping @oeoeaio for confirmation on this).

[2018-04-20 12:51] sauloperez commented on #620
That must be troublesome. I believe that time zone related error is related to your environment settings. I just invited you to Slack btw.

[2018-04-20 14:26] myriamboure commented on #2241
Sorry I did a mistake, was starting to create stories for the epic but stopped as I guessed we needed to meet with devs to do that, closing it for now.

[2018-04-20 14:26] #2241 closed

[2018-04-23 00:12] oeoeaio commented on #2218
As far as I know the majority of the customisation we have done is in CheckoutController#update (we actually created our own CheckoutController which inherits from Spree::CheckoutController, I'm not sure why we did that). We have hacked the Spree::Order model A LOT, and I'm sure some of that has an influence on the checkout, but don't think we've altered the actual state machine all that much if a

[2018-04-23 00:34] oeoeaio commented on #2140
Hm, the order cycles interface is notoriously complex and angular-heavy, but perhaps the producer-only interface is not so crazy. I am happy to have a look at this once I've finished subs work, or to provide direction to others if required.

[2018-04-23 02:49] #2155 closed

[2018-04-23 03:44] sstead opened #2243 "[Subscriptions] If I have no future OCs in a schedule, I can't edit subscriptions due to product unavailable error"
## Description
Subscriptions have been designed with a control in place which restricts which products can be added to a subscription. The way this works currently is that you can _only_ add a product to a subscription _if_ that product is sitting in a current or future OC that is within the schedule that the subscription is applied to.

If I try to edit or create a susbcription when there are no

[2018-04-23 04:23] sstead opened #2244 "When adding a tag with capital letters to inventory there's an error in the 'changes saved' messaging"
If I add a tag with capital letters in it to variants, when I save the changes I get told 'changes to x override remain unsaved'. The save button is greyed out. If i refresh the page I see that in fact the changes did save, and my tag has been turned to all lower case letters.

## Expected Behavior
I write a tag, e.g. CSA, and then click Save. Immediately the tag should revert to lower case letter

[2018-04-23 04:30] #1216 closed

[2018-04-23 04:37] sstead opened #2245 "When tagging, some fields revert to lower case, others do not. This stops rules from working."
## Description
An Australian user was setting up tag rules with the tag CSA. His rules did not work and he could not see why, until he saw that 'CSA' had reverted to 'csa' in all fields except the tag rule itself. Because tag rules are case sensitive the rule didn't work until he made all tags and the tag rule 'csa'.

This bug also relates to this bug, which sees error messaging when tagging varia

[2018-04-23 09:14] enricostano commented on #2218
Probably good outcomes of this task would be:
 - documentation of all the possible states an order must go through
 - documentation of all the "callbacks"(?) we call transitioning from one state to another

[2018-04-23 09:43] sauloperez commented on #2218
What I can tell is that we overrode the checkout flow as shown below to add couple things on top:

https://github.com/openfoodfoundation/openfoodnetwork/blob/3fc49d59354f1c4fe6452c6cc445469d198fb7a4/app/models/spree/order_decorator.rb#L29-L46

[2018-04-23 10:36] sauloperez commented on #2236
`bundle exec rake db:migrate` reports the following:

[code]

[2018-04-24 00:12] mkllnk opened #2247 "Delete old sessions from the database"
We are storing session data in the database, but never delete them. Our database fills up with useless session data.

## Description

We use https://github.com/rails/activerecord-session_store which is part of the Rails 3 core.

## Expected Behavior

Sessions older than a month should get deleted.

## Actual Behavior

Session data persists forever even if the user's browser doesn't have the sessio

[2018-04-24 07:29] enricostano commented on #2247
One day we should probably investigate if switching to an in-memory DB for sessions (Redis, etc) would be a good approach for us.

In any case we can check right now how this is affecting Postgres performance due to both accesses and size of the table.

[2018-04-24 10:26] KeirOsborn commented on #1938
@myriamboure Hi, I might be able to have a look at it this week, if it's still a priority. Let me know.

Thanks

[2018-04-24 11:10] sauloperez commented on #1938
Yes @KeirOsborn. It is still a severity 2

[2018-04-25 15:37] sauloperez commented on #2236
First, good news. https://github.com/spree/spree/commit/3fd1535e75d383fa7119d2f3b985f8c12731302c fixes this issue and after it, the app boots!! :tada:

There are also bad news though. Said commit is present in Spree v2.0.8 according to

[code]

while we're at v2.0.4. So we either bring this patch to our fork or point to v2.0.8 for the upgrade. We need to weight pros and cons of both and decide.

[2018-04-25 23:08] mkllnk commented on #2247
Yeah, one day. But for now I'm very reluctant to add more complexity to our setup.

How do you check the affect on performance? Benchmark a query, delete all old entries and benchmark again?

[2018-04-26 08:52] enricostano commented on #2247
You can ask Postgresql and @sauloperez :joy:

[2018-04-26 09:16] sauloperez commented on #2247
Setup Skylight and monitoring infrastructure and then we can speak again :trollface: .

Jokes aside, my bet is that this will hardly be a problem for our DBs any time soon. As long as we have an index for the appropriate column/s and we don't end up with 100M rows in a month the reads will still be fast enough.

[2018-04-26 13:04] sauloperez commented on #2236
After some thought, I lean towards `we either bring this patch to our fork`.

## Cons
We had the dream of being able to get rid of our fork but I'm not sure yet if this will be possible, at least now. If we leave for when we get to the latest 2.0 version, that's good enough for me.

If we document we got this patch from that exact commit on the fork's README, it would make it a bit easier to spot

[2018-04-26 13:31] sauloperez opened #2250 "Missing interpolation argument :instance"
## Description
Katuma's Bugsnag reported an error yesterday when I tried the new invite manager feature for our buying group. This seems to be affecting Katuma and the German instance only cc @kirstenalarsen .

Bugsnag's stacktrace:
![screenshot from 2018-04-26 15-36-20](https://user-images.githubusercontent.com/762088/39309150-99c39fcc-4967-11e8-8eeb-850e56639f82.png)

## Expected Behavior
The ap

[2018-04-26 13:58] sauloperez opened #2251 "URI::InvalidURIError in enterprises#relatives"
## Description
Katuma's Bugsnag reported the following error 4 days ago.

![screenshot from 2018-04-26 15-52-39](https://user-images.githubusercontent.com/762088/39310106-df11b80a-4969-11e8-9879-15558d09a72a.png)

## Expected Behavior
`enterprises#relatives` shouldn't fail, I guess

## Actual Behavior
The app fails with the mentioned error when issuing the following request:

[code]

## Steps to R

[2018-04-27 00:30] #2197 closed

[2018-04-27 04:04] #2186 closed

[2018-04-27 04:04] #2237 closed

[2018-04-27 04:09] sstead opened #2254 "Error facing new users who've been invited to manager an enterprise - 'password reset token has expired'"
## Description
New users who have been invited to help manage an account (via the new Add New User as a Manager button) are redirected to a 'set your password' page when they confirm their email. This is correct functionality (the users have never set a password), but unfortunately when the new user types in a password and saves it they get the 'password reset token has expired' error message. The

[2018-04-27 06:15] daniellemoorhead commented on #2254
@enricostano how does the bug triage process work will @myriamboure is away? I think this is a priority to fix, above most other things.

[2018-04-27 06:31] daniellemoorhead commented on #2191
Where's this at everybody? @NickWeir63 has the issue been fixed? Can we consider this closed?

If yes, then @NickWeir63 can you please close this issue. If no, then let's get to figuring out a plan B 😀

[2018-04-27 06:40] daniellemoorhead commented on #1213
@stveep

![bueller](https://user-images.githubusercontent.com/10949052/39348181-5f5bf852-4a39-11e8-9253-fee61a107e7a.gif)

If life got too crazy and there's no time at the moment then let's unassign you for now and then you can pick it (or something else) up when you are back online. OK?

[2018-04-27 07:00] daniellemoorhead commented on #2243
Make it a warning @oeoeaio and then test this when it's out for use.

[2018-04-27 07:42] sauloperez commented on #2205
And also likely related to https://github.com/openfoodfoundation/openfoodnetwork/pull/1627

[2018-04-27 07:59] mkllnk commented on #2247
Nothing I could measure. I just thought it's a possible optimisation, nothing urgent.

[2018-04-27 14:59] sauloperez opened #2255 "Document changes done by #2252"
## Description
https://github.com/openfoodfoundation/openfoodnetwork/wiki/Spree-2.0-upgrade needs to be updated to reflect the changes done in #2252

[2018-04-30 01:30] wrycoder commented on #2112
Sorry for the long delay on this. Now that I have started to investigate, I'm having trouble reproducing the problem in my tests. (The string "SHOP FOR [X] PRODUCTS" is successfully found in the page.) Is there more to the user story here?

[2018-04-30 07:30] myriamboure commented on #2255
Put that in delivery backlog @sauloperez for someone to be able to pick it up, as the associated epic has been kicked off.

[2018-04-30 07:36] myriamboure commented on #2112
@wrycoder I just retested on French production and the string is still not displayed, so I don't understand why you can't reproduce... That might be one clue: the string appear correctly ("shop now" or "change shopfront for") for hub type enterprises (the red icons on the map) BUT the string "shop for x products" which applies for non-hub producer type enterprises is not displayed. Does it help?

[2018-04-30 07:50] myriamboure commented on #2254
@sauloperez @mkllnk can https://github.com/openfoodfoundation/openfoodnetwork/issues/2250 be connected to that issue? They seems to happen at exactly the same behavior point.

[2018-04-30 08:08] sauloperez commented on #2254
I don't think so @myriamboure . #2250 is just related to a translation.

[2018-05-01 01:36] mkllnk opened #2257 "Error on updating enterprise users when not initialised"
There are some rare cases in which a user is unable to save changes to a new enterprise after fiddling around with the users.

## Description

The `receives_notifications` field is not initialised properly on a new enterprise. I observed the default value `? string:1 ?` which looks like an Angular glitch. When trying to submit the form, a server error is generated.

## Expected Behavior

I should

[2018-05-01 05:11] mkllnk commented on #2236
Looks like a good patch.

[2018-05-02 06:48] #2254 closed

[2018-05-02 07:29] sauloperez commented on #2236
I opened https://github.com/coopdevs/spree/pull/7 to explain this.

[2018-05-02 14:50] enricostano commented on #2240
Do we use cookies in checkout or any other OFN part?

[2018-05-02 16:25] myriamboure commented on #2240
@mkllnk @oeoeaio @lin-d-hop do you have any idea about which cookies we use? Can someone who knows about that can start a list? (maybe in the wiki, could be a good place to list that I guess?)

[2018-05-02 17:14] enricostano commented on #2240
I see a `__stripe_mid` for instance (and we don't use Stripe in Katuma instance...)

[2018-05-03 04:03] mkllnk opened #2262 "factory_girl is depricated"
## Description

We use the gem `factory_girl` to easily create test objects. But it is not deprecated. The new version is called `factory_bot` and there is an upgrade guide.

## Expected Behaviour

No deprecation warnings when running `rspec`.

## Actual Behavior

Output:

## Steps to Reproduce

1. Run `bundle exec rspec`

## Context

I'm running specs during development and would like to see only

[2018-05-03 07:00] sauloperez commented on #2262
We haven't assigned severity for these issues so far. [Tech debt](https://github.com/openfoodfoundation/openfoodnetwork/issues?q=is%3Aopen+is%3Aissue+label%3A%22tech+debt%22) might be enough for these as long as someone picks them up.

[2018-05-03 14:59] sauloperez commented on #2013
I've found all the uses of `spree_products.count_on_hand` in https://github.com/openfoodfoundation/openfoodnetwork/pull/2183. Check the commit for the details.

[2018-05-04 01:48] daniellemoorhead commented on #2013
@sstead any thoughts on the above ☝️ ?

[2018-05-04 02:06] daniellemoorhead commented on #2254
@myriamboure I wasn't sure if bugs were being triaged by you and @enricostano to make sure the severity set was correct. I remember talk of a weekly catch up to do this...but wasn't sure whether it was still happening :)

[2018-05-04 03:10] daniellemoorhead commented on #1418
@sineadfenton is this still a problem? If so it needs to be triaged with the new bug severity rating system we're using (https://github.com/openfoodfoundation/openfoodnetwork/wiki/Bug-severity). Ta 😄

[2018-05-04 03:48] daniellemoorhead commented on #1732
done, merged.

[2018-05-04 03:48] #1732 closed

[2018-05-04 03:48] daniellemoorhead commented on #1752
done, merged

[2018-05-04 03:48] #1752 closed

[2018-05-04 03:48] daniellemoorhead commented on #1731
done, merged

[2018-05-04 03:48] #1731 closed

[2018-05-04 03:48] daniellemoorhead commented on #1751
done, merged.

[2018-05-04 03:48] #1751 closed

[2018-05-04 04:02] daniellemoorhead commented on #1561
Closing this issue as a) the PR has been merged, and b) it's been a while since I added my comment above and so I assume that there's nothing left to do as there was no action.

[2018-05-04 04:02] #1561 closed

[2018-05-04 04:06] daniellemoorhead commented on #738
Can this be closed now @myriamboure @sauloperez, is there an icebox item for it?

[2018-05-04 04:07] daniellemoorhead commented on #1549
Is this still relevant @mkllnk @enricostano? Should we be prioritising this work?

[2018-05-04 05:36] mkllnk commented on #1549
Yes, please. There is still annoying manual work with every release.

[2018-05-04 06:51] myriamboure commented on #2254
Not really weekly, it's more if there is a need... but if peopel can autonomously manager that on the flow that's the best, we will jump if we disagree I guess ;-)

[2018-05-04 06:51] sauloperez commented on #2013
@myriamboure the problem is just with that Producers tab on the right. The problem comes with those counts of active products, which currently depend on a database column that in Spree 2.0 no longer exists.

I feel like just a very small percentage of our users noticed that tab so I would consider removing it rather than reimplementing it, considering the fact that it has a negative impact on perf

[2018-05-04 07:08] myriamboure commented on #2013
I have no objection to that, we can see then if people should and reimplement something else simpler later on if there is an obvious need...
Just one clarification @sauloperez : if the "producer" tab disappear, will the "hub" tab also disappeared? I guess it should, that would make no sense having a sub table with one tab. So then we would only have "my enterprises" with all my enterprises in it,

[2018-05-04 07:09] myriamboure commented on #1549
I added that to the delivery train backlog, it is part of sys admin standardization priority for m as well.

[2018-05-04 07:12] myriamboure commented on #1822
There is no PR associated so I think it is @daniellemoorhead I put s4 priority.

[2018-05-04 07:26] myriamboure commented on #738
Done https://community.openfoodnetwork.org/t/ensure-correct-translations-are-maintained-and-comprehensive/1303. I'm wondering though as this was already prioritized if we shouldn't finish it... but anyway, I'm closing it for now, it is in the spreadsheet so I guess we won't forget it.

[2018-05-04 07:26] #738 closed

[2018-05-04 08:00] sstead commented on #2013
I agree, that tab would be rarely used. I never use it, so i’m comfortable to see it go.

[2018-05-04 08:40] mkllnk opened #2265 "ActiveMerchant fails to connect to servers with new TLS certificates"
The Pin Payments gateway just stopped working, because the server got new TLS/SSL certificates. The new certificates are issued with a root cert that is not in the ActiveMerchant bundle.

## Expected Behavior
All payment gateways are working.

## Actual Behavior
Pin Payments stopped working. If any other services renew their certificates that are not supported, the same happens to other gateways a

[2018-05-04 10:30] lin-d-hop commented on #1418
My feeling is this is not a global issue. Still an issue for UK but a minor one. Moving to UK trello

[2018-05-04 10:30] #1418 closed

[2018-05-04 10:52] sauloperez commented on #2013
Exactly. Just a list of enterprises.

[2018-05-04 10:56] sauloperez commented on #2265
Is it something we can upgrade in parallel or does our Spree version specify an old version of it?

[2018-05-07 10:36] stveep commented on #1213
I am a bit out of my comfort zone with this but after a bit of shameless Googling have implemented this solution to force the page to refresh:

https://jacopretorius.net/2014/01/force-page-to-reload-on-browser-back-in-rails.html

This seems to have fixed it for me. It might make navigation generally feel a bit less slick as the page will reload everything each time so needs some testing. Let me kn

[2018-05-07 23:05] mttwlkr commented on #1926
Hi. @stevenleelawson, @kc2693 and I are developers who are new to open-source. We noticed this [PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/1992) has been closed without resolution due to probable merge-conflicts. We have read this PR, are aware of the Transifex issue and would like to help. Thanks.

[2018-05-07 23:25] mkllnk commented on #2262
There is still a warning, because Spree uses factory_girl:

[2018-05-08 06:52] myriamboure commented on #1926
Hi @mttwlkr @stevenleelawson @Kc2693 ! Welcome here! Awesome that you want to contribute and help on the OFN project :-) Yes that will be a pleasure if you want to start with this small translation issue to get a first glance at the code base. Have a look also at the wiki where you will find lots of useful information about how to make a great PR, find info on internationalization, etc. Like https

[2018-05-09 13:25] sauloperez opened #2271 "NoMethodError in admin/order_cycles#index"
## Description
Katuma's Bugsnag reported the following error a week ago.

![captura de pantalla 2018-05-09 a les 15 19 36](https://user-images.githubusercontent.com/762088/39816821-a80f3340-539c-11e8-8c32-f3be23e08f8a.png)

## Expected Behavior
At the point the `OrderCycle` model is used `user` should always be defined.

## Actual Behavior
The app fails with the mentioned error when issuing the fo

[2018-05-10 10:03] myriamboure commented on #2085
@oeoeaio @daniellemoorhead just a process question, shouldn't we have created an epic for this with one issue per story, and then would have one PR per story? I have linked the 3 PRs to that story but probably would be "cleaner" to use epic next time I guess ;-) Do you agree Danni agile process master?

[2018-05-10 15:46] myriamboure commented on #2262
@mkllnk do you need to open an issue and put it in some epic to keep track of your last point? As this PR is merged I'm afraid it get lost otherwise...

[2018-05-10 16:44] sauloperez commented on #2262
There isn't much we can do since that depends on Spree itself...

[2018-05-11 02:03] #2244 closed

[2018-05-11 03:48] sstead opened #2277 "Login modal shows after checkout for users who have previously tried to checkout as a guest as registered user."
## Description
This bug was found while testing https://github.com/openfoodfoundation/openfoodnetwork/pull/2073. If a user tries to checkout as a guest with a registered users's email, then that user gets told 'you can't do that' and they then use another email to checkout as a guest, when they see the order confirmation screen, the login modal pops up.

## Expected Behavior
The login modal should

[2018-05-11 04:43] #1926 closed

[2018-05-11 04:46] mkllnk opened #2278 "Unreadable welcome text (image missing)"
The enterprise welcome screen where you choose your package (enterprise subscription) is missing the background image which makes the text invisible.

## Expected Behavior

![image](https://user-images.githubusercontent.com/10843056/31980035-9cfd715c-b995-11e7-89c7-8770852935e1.png)

## Actual Behavior

![screenshot from 2018-05-11 14-37-59](https://user-images.githubusercontent.com/3524483/399069

[2018-05-11 04:52] #1159 closed

[2018-05-11 04:58] daniellemoorhead commented on #2085
@myriamboure yes, it would. However we haven't been following the "new way" with the subs stuff, it's been @oeoeaio getting all the things to done so we can get it done.

Future work on subs will be broken down in the way you describe :)

[2018-05-11 05:56] daniellemoorhead commented on #1213
@mkllnk @oeoeaio @sauloperez @enricostano @Matt-Yorkley @KeirOsborn @HugsDaniel and everyone else actively helping out in the developer community, any assistance you can offer @stveep with the above (considering what has already been discussed in the PR #2268) would be most gratefully accepted.

![help](https://user-images.githubusercontent.com/10949052/39908920-b4de6fb2-5533-11e8-8f66-86231391537

[2018-05-11 06:31] sstead opened #2279 "Embed Gitbooks user guide into global website"
## Description
We've created a new version of the User Guide in Gitbooks as opposed to Wordpress. This was triggered by the global community's need for instance specific guides, and for multiple languages. The new Gitbook guide has been created and is now ready to be used. It needs to be embedded into the global website before the link can be shared with users. The old guide is not being maintaine

[2018-05-11 06:47] sstead opened #2280 "gitbook"

[2018-05-11 06:48] sstead opened #2281 "Overhaul global website"
## What is the problem we are solving
The global website no longer reflects the global community of OFN.

## Success factors = expected outcome
- It will reflect our community more accurately
- It will communicate our core messages better

## Useful information for inception
- https://community.openfoodnetwork.org/t/global-website-overhaul/1334

## Link to the "Product Development - Backlog" item

[2018-05-11 06:50] #2280 closed

[2018-05-11 09:06] HugsDaniel commented on #1589
So if I got this right, what is to be done is end of `Step 1a : After submitting, a 'pending verification' message displays in the interface (new functionality)`; and `Step 1b`.
Is that correct ?

[2018-05-11 09:49] HugsDaniel commented on #1589
For user creation on admin side, controllers, routes and views are Spree's. There are no mentions of any implementation of this kind in Spree 2.0, so in order to add custom methods and views in OFN, we would have to override somehow `Spree::Admin::ResourceController#create` and `Spree::Admin::ResourceController#update`. Or maybe it can be done via the email confirmation sender. What do you think t

[2018-05-11 13:09] myriamboure commented on #1938
Hey @KeirOsborn any news on this one? :point_right:

[2018-05-11 14:46] myriamboure commented on #1589
Yes @HugsDaniel that's what is remaining. Probably @Matt-Yorkley can have good tips for you as he has worked on most of the email confirmation job :-)

[2018-05-12 15:39] stveep commented on #1213
Just doing a bit more investigation - this does seem to be Chrome specific. I don't get the bug in Firefox or Safari (On UK production site and in dev). Anyone know any differences in browser behaviour that could explain it?

In Chrome: Adding items and clicking edit cart results in currentOrder (injected in the script tag) with correct items (on edit cart page). Then pressing back empties the car

[2018-05-14 07:27] myriamboure commented on #1213
I just test in Firefox @stveep and I get exactly the same result as in Chrome: on French production I put items in cart and go to cart, then press the "backward" button, it empties cart. I tried on uk production as well and get the same result. @sstead has tested your fix #2268 and it seems to work, which is good! I'm not sure how to test about performance, I had a check on Aus staging and don't s

[2018-05-14 10:33] sauloperez commented on #2205
Closed by #2256

[2018-05-14 10:33] #2205 closed

[2018-05-14 10:41] sauloperez opened #2284 "Get latest Spree fork changes"
## Description

After the latest changes in our fork, we need OFN's `2-0-stable` branch to point to it.

[2018-05-14 11:11] sauloperez commented on #2217
[code]

We just need #2284 to be merged!

![](https://media.giphy.com/media/d3MKSNzLtyTHE6OY/giphy.gif)

[2018-05-14 11:12] sauloperez commented on #2225
This issue does not prevent us from booting the app so assigning it to the main epic instead.

[2018-05-14 11:16] sauloperez commented on #2234
This issue does not prevent us from booting the app so assigning it to the main epic instead until we find a better home for it.

[2018-05-14 11:28] sauloperez opened #2286 "[Spree Build] Set up CI for openfoodfoundation/spree"
## Description

As agreed in the [first spree upgrade catch-up](https://github.com/openfoodfoundation/openfoodnetwork/wiki/Team-catch-ups--%F0%9F%92%AC#may-9-2018), we want to set up a CI integration to watch after [Spree fork](https://github.com/openfoodfoundation/spree/tree/2-0-4-stable)'s test suite. This will make its maintenance a bit easier.

[2018-05-14 13:10] sauloperez opened #2287 "Refactor #shipping_address_from_distributor"
## Description

We currently set the distributor's address as the shipping address of the order when the shipping method does not require ship address. I wasn't around when this was introduced but it looks like the order model might have a presence validation for the `ship_address` attribute.

Besides, this relies on `Order#shipping_method` which is gone in Spree 2.0. Therefore, this logic needs t

[2018-05-14 17:30] frank-west-iii commented on #2182
Since I just went through this setup I would be happy to complete this.

Initial implementation seems like moving the user confirmation from the `openfoodnetwork:dev:load_sample_data` to `seeds.rb`. Any objections to that?

[2018-05-14 21:35] sauloperez commented on #2182
All good @frank-west-iii . Go for it!

[2018-05-15 00:47] kirstenalarsen commented on #2217
omg really?! this is exciting . .

[2018-05-15 05:26] mkllnk commented on #1213
We can't measure the real impact on performance without using it in production. And the only data I have for that is response time.
![screenshot from 2018-05-15 15-15-38](https://user-images.githubusercontent.com/3524483/40038156-fbaf628e-5853-11e8-9fb4-6f45fc6dffaf.png)

I'm not sure if other instances have other tools to measure their server load.

So I think we can merge Steve's pull request an

[2018-05-15 06:05] sauloperez commented on #2217
Yes it is! Things are slowly moving forward!

[2018-05-15 06:09] sauloperez commented on #1213
I agree. We set up Skylight to monitor performance some time ago and we can watch it to spot any performance degradation.

[2018-05-15 06:39] sauloperez commented on #2013
Ok. Moving forward with this one.

[2018-05-15 07:02] sauloperez opened #2289 "Remove producers tab from dashboard"
## Description

As discussed in https://github.com/openfoodfoundation/openfoodnetwork/issues/2013 the [multienterprise dashboard](https://github.com/openfoodfoundation/openfoodnetwork/blob/46d2d6cb8ac9425485cc9635cc5dbc515583151f/app/views/spree/admin/overview/multi_enterprise_dashboard.html.haml) contains references to `spree_products.count_on_hand` which no longer work with Spree 2.0. That colum

[2018-05-16 08:03] HugsDaniel commented on #2225
I'm taking this one.

[2018-05-16 08:48] HugsDaniel commented on #2234
The main difference introduced with https://github.com/spree/spree/commit/cd471bffa  is the subdirectory convention. With this decorators gem, all the decorators must follow this naming convention :
`app/decorators/<at least one subdirectory>/something_decorator.rb`.
For example, it would be something like :
`app/decorators/controllers/pages_controller_decorator.rb`.

It changes the way we impleme

[2018-05-16 11:37] sauloperez commented on #2234
We can close it or is there something else you want to check?

[2018-05-16 11:39] sauloperez commented on #2234
Apparently, this change never got merged back :point_right: https://github.com/spree/spree/pull/2414#issuecomment-20656808

[2018-05-17 01:12] oeoeaio commented on #2286
@sauloperez I have had a go at setting up CI on [Semaphore](https://semaphoreci.com/openfoodfoundation/spree/branches/2-0-4-stable/builds/6) but there seems to be a problem resolving dependencies. I am happy to play around with getting it working on Travis too/instead if that is preferable.

[2018-05-17 06:15] oeoeaio commented on #2286
Ok, I was using the wrong version of ruby, this one is mostly running but there are a lot of failures and there still seems to be an issue resolving dependencies for `Spree Sample`...
https://semaphoreci.com/openfoodfoundation/spree/branches/2-0-4-stable/builds/7

[2018-05-17 07:53] oeoeaio commented on #2286
@sauloperez no, I don't have any idea sorry. We haven't made many changes to `2-0-4-stable` though right? It's just https://github.com/coopdevs/spree/pull/6 and https://github.com/openfoodfoundation/spree/pull/5?

[2018-05-17 08:11] oeoeaio commented on #2289
A couple of things for discussion/posterity:

The current version of the dashboard is kind of just a placeholder until we come up with some better widgets, like a set of [d3](https://d3js.org/) visuals showing sales volumes, popular products or the number of new/return customers or whatever. I accept that this is not a priority, but just cautioning against burning things that we may have to rebuil

[2018-05-17 09:54] sauloperez commented on #2286
yes, that's a good point. I would say failures will slow it down in most of the cases as exception handling it's rather costly.

[2018-05-17 12:11] #2284 closed

[2018-05-17 12:16] sauloperez commented on #2217
Done!

[code]

![](https://media.giphy.com/media/mp1JYId8n0t3y/giphy.gif)

[2018-05-17 12:16] #2217 closed

[2018-05-17 16:47] sauloperez commented on #2287
There's no such validation neither in Spree version we currently use nor in 2.0.4.

[2018-05-17 23:54] #2265 closed

[2018-05-18 01:19] #620 closed

[2018-05-18 01:51] kirstenalarsen commented on #2217
your gifs have just made us all laugh a lot. and YAYAY!!

[2018-05-18 03:31] #2211 closed

[2018-05-18 06:45] sstead opened #2297 "From Product Edit if I cancel I'm taken to unfamiliar Listing Products page."
## Description
I was introducing a new user the the products page, and showed them the edit product area. We clicked cancel from the product edit page and were redirected to the 'Listing Products' page. This page is otherwise inaccessible, and it can disorientate the user. They expect that cancelling will take them to where they were before (Bulk product Edit).

## Expected Behavior
If I click can

[2018-05-18 15:29] frank-west-iii commented on #953
@myriamboure, the formatting is fixed, but I see that there is another issue here in the comments regarding links opening in new windows in the description.

There are two possible fixes to this problem. One is a global fix for any link generated in a WYSIWYG editor like this one. This will affect product descriptions, shopfront messages, and shopfront closed messages. Those are the ones that I ca

[2018-05-18 16:08] frank-west-iii commented on #953
@myriamboure, just wondering if the link problem should be spun into a new issue. It is related to an external library and we have to build some custom functionality into it:

https://github.com/textAngular/textAngular/wiki/Customising-The-Toolbar

[2018-05-18 16:10] frank-west-iii commented on #953
Some additional context to the issue:
https://github.com/textAngular/textAngular/issues/224

[2018-05-18 16:51] frank-west-iii commented on #2271
Seems like this might be related to a session timeout.

The problem lies in the order of execution for the `before_filters`
https://github.com/openfoodfoundation/openfoodnetwork/blob/d218a51d96965dc9b55edcca61dbf0eaeb2c0355/app/controllers/admin/order_cycles_controller.rb#L9

[2018-05-18 17:28] myriamboure commented on #620
@rtrunkhill congratuation for your perseverance and your contribution! :+1:

[2018-05-18 23:19] frank-west-iii commented on #2297
There are 2 possible solutions to this, but would like to know which one would be best to implement:

Option 1:
[code]
Cons: Url mismatch may cause confusion in future debugging sessions with customers

Option 2:
[code]
Pro: Urls will be the same regardless of how you get to bulk edit

Either way we can also look at removing several locations in the code where we use spree/deface to override the u

[2018-05-19 09:30] myriamboure opened #2300 "Translate shipping email notification"
## Description
French customers receive shipping notification message in English (I guess all non English speaking users do)

## Expected Behavior
Shippin notification email is translated in local language

## Actual Behavior
It is not

## Steps to Reproduce
1. Make an order, go the "orders" page
2. Click on the small "ship" icon on the right of the order line
3. Check your mailbox

## Animated Gi

[2018-05-19 16:08] myriamboure commented on #953
Thanks a lot @frank-west-iii ! Yep you are right the comment should be another issue, I'll open it right now and you can assign yourself to it if you want to work on it :-)

[2018-05-19 16:18] myriamboure opened #2301 "Prevent links to get visitors out of OFN website"
## Description
Links generated in a WYSIWYG editor (ex: product description text) are opened in the same tab, and as a result the visitor quits the OFN website and shopfront and his shopping experience is disturbed.

@luisramos0 adding issue closing note: actually product description (add and replace) textareas do not allow links, so it's not applicable to this issue. The issue happens in enterpri

[2018-05-20 17:59] sauloperez commented on #2271
great investigation @frank-west-iii ! I'm not sure what's best then here. Perhaps it's an error we can live with.

These two words together (override and Spree) are terrifying :trollface:

[2018-05-21 05:50] kirstenalarsen opened #2302 "Embedded shops not working (blank screen) - 1.15.1? or was it earlier?"
## Description
I was checking the embedded shop at Black Mountain Food Hub (UK) and noticed it wasn't working. I then went to set one up on staging1.openfood.com.au and it is also not working (blank screen).

![image.png](https://images.zenhubusercontent.com/54b83fb37c6ccc6277a6ea46/f31d4c21-ce17-4940-a553-3dd5c8324518)

Both shops seem to be working fine in OFN itself

## Expected Behavior

## Ac

[2018-05-21 06:16] mkllnk commented on #2302
Hm, I've heard about people having problems setting up embedded shops, but the old ones still seem to work: https://openfoodnetwork.org/user-guide/advanced-features/demo-embedded-shop/ (Firefox 52.8, Linux). Our production server has v1.15.1 and a few more updates.

[2018-05-21 06:38] kirstenalarsen commented on #2302
hmmmm ok, that one works for me too . .

[2018-05-21 07:27] kirstenalarsen commented on #2302
so perhaps it is me . . when i tried to checkout from that shop @mkllnk i got blank screened again . .
![image](https://user-images.githubusercontent.com/2911176/40295308-2b3396c0-5d1c-11e8-8c0d-ffa1975cf80f.png)

[2018-05-21 07:28] kirstenalarsen commented on #2302
just tried that shop in chrome and is telling me this

![image](https://user-images.githubusercontent.com/2911176/40295363-5830ea7e-5d1c-11e8-896a-28bbaccfe730.png)

[2018-05-21 07:31] kirstenalarsen commented on #2302
seems like maybe something i need to do at wordpress end, perhaps is ssl thing. But that doesn't explain uk issue

[2018-05-21 08:40] myriamboure commented on #2212
@mkllnk the problem is that we have many users who reported that they made mistakes when they had order cycle in between two months, as the default start date was "first day of the current month" so when they go on the 3rd month X to extract data they select their OC but forget to change the start date. This is very confusing.
We also have added the small indication text driving the user in what s

[2018-05-21 08:50] myriamboure commented on #2302
We are on v1.12 in France and #2026 had been merged and fixed the problem, embed shopfronts was working. I don't know which version UK was until this week but I did a demo of blackmountain food hub less than 2 weeks ago and it was working. If something broke it it is pos v1.12 I reckon. Any idea devs? https://github.com/openfoodfoundation/openfoodnetwork/releases...

[2018-05-21 08:52] myriamboure commented on #2302
Could it be connected to some update needed in ssl certificate on blackmountainfoodhub website then?

[2018-05-21 11:19] myriamboure commented on #2302
I just retested with French production on v1.12, that includes #2026 fix, and is working correctly, see the domain openfoodnetwork.org is in position 3 in the list and the shopfront is well dispayed in the wordpress.

![screenshot from 2018-05-21 13-14-28](https://user-images.githubusercontent.com/8135376/40305136-8c1607ac-5cf9-11e8-9c76-b017e216d53b.png)
![screenshot from 2018-05-21 13-12-35](htt

[2018-05-21 11:34] myriamboure commented on #2302
Ok I might have a clue. One user in France is trying to embed a shopfront.
He did the test in two websites, both domains are in the whitelist an have appropriate ssl certificates:
- https://ledebutdesharicots.fr/test-shop/: here it works
- https://www.micromarche.fr/maison-de-quartier-de-l-ile/ here it still doesn't work and for the this page he still get the error message "Refused to display 'htt

[2018-05-21 13:11] myriamboure opened #2303 "Email confirm - guiding sentence missing in registration process"
## Description
At the step where the entreprise has been created and the message "your entreprise has been added to the OFN" appears, the small guiding sentence "“If you exit the wizard at any stage, you can continue to create your profile by going to the admin interface” has disappeared and needs to be added.

## Expected Behavior
The small guiding sentence is here.
![screenshot from 2018-05-21 1

[2018-05-21 13:13] myriamboure commented on #1585
Oki doki I'm going through the remaining stories on email confirm to check what we still need to do.
I went through this one and here are my testing notes: https://docs.google.com/document/d/1Bucf917QpXYJrJ3J-Oy7Ntr0nN4UfVpymvYITOgOGBI/edit?usp=sharing
The process is slighty different from the one described here on one detail (the user creation / email confirmation / login process within the regis

[2018-05-21 13:13] #1585 closed

[2018-05-21 13:39] myriamboure commented on #1588
I retested the whole process and it is all good so I close this issue (https://docs.google.com/document/d/1UXwLF0o4TdQ8SyqoJdp1l70TuNby8ZhZvq12z27C4No/edit?usp=sharing)

[2018-05-21 13:39] #1588 closed

[2018-05-21 13:46] myriamboure commented on #1618
I retested that story as well as the "register" one and it's all good, so I'm closing it (https://docs.google.com/document/d/1UXwLF0o4TdQ8SyqoJdp1l70TuNby8ZhZvq12z27C4No/edit?usp=sharing - I have retested all that at the end, didn't do all the captures but all work really good).

[2018-05-21 13:46] #1618 closed

[2018-05-21 13:55] myriamboure commented on #1613
@enricostano @sseerrggii I guess you can rephrase for your instance. I would personnally rephrase more like "only authorized shoppers can access this shop" on French instance, so that it works both for "customers" or "members", they are all "shoppers" (or buyers?) and that's try that "member types" shoppers don't like to be called "customers" or "clients". What do you think @sstead ?
I think we ca

[2018-05-21 14:00] myriamboure commented on #2167
I retested on French staging with master branch something after release 1.15 and it is fixed so closing now.

[2018-05-21 14:00] #2167 closed

[2018-05-21 14:09] NickWeir63 commented on #2191
I have had no more reports of problems so will close.  Thanks all

[2018-05-21 14:09] #2191 closed

[2018-05-21 14:21] myriamboure commented on #1592
@daniellemoorhead there is something I don't understand here, when you say

I understand your design proposal but sightly disagree. I see your arguments to say that a guest user -
- might have misspelt the email address used
- or might have used an email, then close his mailbox and then someone else might have open the same email address (I'm not sure that's authorized by email providers though so

[2018-05-21 14:26] myriamboure commented on #1938
Hey @KeirOsborn do you have time to work on it in the coming days? It's been sitting here for a while and is supposed to be high priority (2) and should be fixed asap... let us know, if you can't fix that this week I can ask if someone else is available. Thanks

[2018-05-21 14:28] myriamboure commented on #1589
Any news @HugsDaniel on this one? Did you get support from @Matt-Yorkley on your question? Else maybe @mkllnk or @sauloperez can answer your question?

[2018-05-21 14:31] myriamboure commented on #1666
@sstead now the redirections are supposed to all work and send back to where the user was previously.
About the modal, it is kind of the same everywhere but we tested all stories and they are all good, so I would say we are good personnaly and would close that issue. Do you agree or do you feel any modal should be changed? @daniellemoorhead might have some idea on this as well.

[2018-05-21 14:51] myriamboure commented on #1667
Ok so I checked on a very recent master branch that I asked Paco to deploy on French staging (after v1.15  but before v1.15.1) and this sentence was not on email confirmation messages, so here is my proposal, I specified the into thread. @sstead or @daniellemoorhead can you check if you are happy with the sentence I propose in English and think it clear enough for users and would meet the need in

[2018-05-21 14:58] myriamboure commented on #2277
@Matt-Yorkley as you have worked on this issue it might be quicker for you to have a look and fix it. Can you take this one? Still part of email confirm work as was introduced by it, but last small bits!

[2018-05-21 15:01] NickWeir63 opened #2304 "Order cycle cannot save"
Order cycle UPDATE button greys out preventing save

## Description
When I get to the out going part of a new order cycle, the update button greys out
## Expected Behavior
I should be able to create both outgoing and incoming and then click the red update button
## Actual Behavior
as soon as i get to the outgoing part the update button goes grey and will not save
## Steps to Reproduce
1. deploy v.

[2018-05-21 15:51] NickWeir63 commented on #2304
OK S1 it is

[2018-05-21 16:21] Matt-Yorkley commented on #2302
I fixed this today on UK production. It was down to an SSL header (`Strict-Transport-Policy`) that was being set twice because of our server configs, which caused the header output to be invalid.

[2018-05-21 16:25] NickWeir63 commented on #2302
Hi Matt
Here is another (possibly linked) and urgent issue with an embedded group for the Biodynamic Association.......

From: Tom Stedall [mailto:tom@spiraledge.co.uk]
Sent: 21 May 2018 17:13
To: Nick Weir; Biodynamic Association
Subject: Re: IMP Probs with our OFN BDA producers map
Hi Nick,

Ok, thanks. Getting it working is higher priority than the scrolling. This is the console error:

Refused

[2018-05-21 16:38] myriamboure commented on #2297
@mkllnk @sauloperez what do you think is the best option?

[2018-05-21 16:46] myriamboure commented on #1925
@sstead I'm not sure I agree with the fact that this is nice to have, I guess we would need some ux view on it. Anyway it is not a bug and we have lots of other things to fix so I added that in the icebox "improve shopping ux" https://community.openfoodnetwork.org/t/customer-easily-go-through-the-whole-placing-order-process/1245 and we can discuss about it when we decide to prioritize. So I'm clos

[2018-05-21 16:46] #1925 closed

[2018-05-21 17:33] myriamboure commented on #1760
Ok so folks I have read all the comments and tried to clarify the options we have before we jump on a solution. Please read description and tell me if you agree with me that option 1 is the one to choose?
@sstead @lin-d-hop @sauloperez @mkllnk ?
I think it does the job, require much less work, and also is better UX regarding user habits about Instagram profile (more comparable to Twitter to me tha

[2018-05-21 17:44] myriamboure commented on #1834
Closing for now as part of icebox: https://community.openfoodnetwork.org/t/customers-easily-go-through-the-whole-placing-order-process-on-mobile/1244 and we have lots of good first issue, we wil reopen when the icebox move forwards.

[2018-05-21 17:44] #1834 closed

[2018-05-21 17:58] myriamboure commented on #1759
Ok I cleaned up this issue, it is ready to be picked. Maybe @rtrunkhill you would be up for that new issue now that you start to see how OFN works ;-) ?

[2018-05-21 18:28] myriamboure commented on #1809
Closing as duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/1213 which has been fixed and merged!

[2018-05-21 18:28] #1809 closed

[2018-05-21 19:13] myriamboure commented on #624
That was a lot of discussion to read to understand what is to do ;-) Anyway this is not a bug and we do have a process now to handle those cases so:
- I [created an icebox item "Improve Producer visibility on OFN"](https://community.openfoodnetwork.org/t/improve-producer-visibility-on-ofn/1320) and added it to the giant spreadsheet. First feature candidate as I understand is just to display full p

[2018-05-21 19:13] #624 closed

[2018-05-21 19:33] myriamboure commented on #1300
Merged into https://github.com/openfoodfoundation/openfoodnetwork/issues/1255 so closing this one

[2018-05-21 19:33] #1300 closed

[2018-05-21 19:48] NickWeir63 commented on #2304
Finally worked out how to use Recordit...... http://recordit.co/9Pj5qO6T67

[2018-05-21 19:48] myriamboure commented on #671
I retested and the issue is fixed by a 1 being added if the permalink is already used (https://docs.google.com/document/d/1k4r7XbU7qSxBWMsdlsz3zWUnctT_-C_j8BQuOoyU150/edit?usp=sharing), so closing this issue.

[2018-05-21 19:48] #671 closed

[2018-05-21 19:57] myriamboure commented on #1961
@sauloperez is it clear enough for a newby coming to OFN? I'm not tech so not undertanding clearly what needs to be done and it was before we use the new issue template ;-) Adding tech debt as it doesn't seem like a bug but something linked to some depedency upgrade. Feel free to add any emergency label as well.

[2018-05-21 20:50] frank-west-iii commented on #2271
Agree re: overriding Spree. 👍

[2018-05-22 03:18] myriamboure opened #2306 ""Invite new manager" email not translated"
## Description
As a hub manager I invite a new manager who is not yet on OFN. That triggers an email to the contact email address, but this email is in English and not translated.

## Expected Behavior
The email received is in local language.

## Actual Behavior
The email received is in English

## Steps to Reproduce
1. As a hub manager go to enterprise settings, "managers" tab
2. Click on "Invite

[2018-05-22 04:02] myriamboure opened #2307 "Translations missing in order cycle page"
![screenshot from 2018-05-22 05-58-38](https://user-images.githubusercontent.com/8135376/40341425-69a43dce-5d85-11e8-93a5-2c8b319a0ab9.png)

## Steps to Reproduce
1. Click on order cycle, new order cycle, select a coordinator and see

## Context
Reported by a French user.

## Severity
S3

## Your Environment
* Version used: master branch betwee v1.15 and v1.15.1 on French staging.

[2018-05-22 04:23] myriamboure opened #2308 "Translations missing in "orders" page"
## Description
When filtering orders the "no order founds" result isn't transated
![namhpcfbljehhfgp](https://user-images.githubusercontent.com/8135376/40341984-770f1ee0-5d88-11e8-9612-01ccfca33e67.png)

[2018-05-22 04:27] myriamboure opened #2309 "Translations missing in "order edit" page"
## Description
"Shipping" remains untranslated.

![screenshot from 2018-05-22 06-20-56](https://user-images.githubusercontent.com/8135376/40342061-de01f1ae-5d88-11e8-90d2-3af2875948b5.png)

![screenshot from 2018-05-22 06-25-39](https://user-images.githubusercontent.com/8135376/40342133-1f572340-5d89-11e8-95a3-97a76c71d531.png)

[2018-05-22 06:38] myriamboure commented on #2302
@NickWeir63 it seems the map of biodynamic association is working now so I guess it was connected to the same issue, right?

[2018-05-22 06:53] sauloperez commented on #1961
Honestly I don't remember exactly what I meant so let's close it until we need it again.

[2018-05-22 06:53] #1961 closed

[2018-05-22 06:53] lin-d-hop commented on #2302
Yes, same issue. This #2305 has now been deployed to uk production.

Note - the issue wasn't spotted as only naked URLs (without www) were tested with embed fix in 1.12. Just noting that here for future testing wisdom.

Please could we have #2305 merged for the next release @sauloperez?

Thanks everyone, particularly @Matt-Yorkley, for your help with this!

[2018-05-22 06:55] sauloperez commented on #2304
Can you take a look at it @myriamboure to ensure it's not a false positive?

[2018-05-22 07:08] sauloperez commented on #2297
Touching the URLs seems indeed confusing. If that cancel shared view was ours, would it make sense to add a URL argument to it so that we can provide the one for bulk_edit in this case?

[2018-05-22 09:08] myriamboure commented on #2304
I did straight away yesterday @sauloperez by connecting on UK production (I have an account there) and can confirm what Nick has said, the bug is there. You don't have the Bug on Katuma? It is strange if you run the same version, no? Let me do some more tests, 5 min.

[2018-05-22 09:18] myriamboure commented on #2304
I can confirm, can't create OC and don't see workaround... time to investigate I guess @sauloperez or @HugsDaniel or ... whoever is awake :-)

[2018-05-22 09:20] myriamboure commented on #2302
Hum... sorry I didn't notice that when testing, but I didn't see how to test apart from using the wordpress where we have the demo shop... hard to thing about all possibilities, sorry :-( I guess would be great to make a release when this and the OC s1 issue are fixed as both are emergency ones (hopefully can be fixed today as well).

[2018-05-22 09:49] NickWeir63 commented on #2302
Thanks for doing the testing @myriamboure I find it very difficult to do it at all so appreciate your time on it.  Could we embed a shopfront and a group on UK staging for future testing?

[2018-05-22 09:57] sauloperez commented on #2304
I won't be available until 13h, Barcelona time :disappointed: . So if someone else can take it, it'd be great.

[2018-05-22 10:01] myriamboure commented on #2302
No you can't @NickWeir63 you need an external website to embed a shot and staging is not an external website. You need some other website, like a wordpress, etc. with an ssl certificate to be able to embed a shop from staging in order to test those kind of things.

[2018-05-22 13:11] frank-west-iii commented on #2297
@sauloperez, I don't believe it is ours. It is a spree shared view. Although I am not extremely familiar with Spree it seems like a URL arg may not be feasible. Thoughts?

https://github.com/openfoodfoundation/spree/blob/step-6a/backend/app/views/spree/admin/shared/_edit_resource_links.html.erb

I think a permanent redirect would be the most straightforward case as it would very explicit in debugg

[2018-05-22 13:35] sauloperez commented on #2297
You convinced me there :+1:

[2018-05-22 14:26] myriamboure commented on #2304
@NickWeir63 you need to fill in the "ready for" field for the save button to activate again. @sauloperez just reminded me that ;-) Oups! Users got used to it but it seems that sometimes we forget about some strange and not so adapted UX things that we will need to improve at some point, but not here. So closing it for now.

[2018-05-22 14:26] #2304 closed

[2018-05-22 14:37] myriamboure opened #2310 "Product Import: review uploading and saving UX"
## Description
When I have uploaded a csv file and have selected the import criteria, I click on "proceed".
I am taken to a page where I see a progression bar but nothing is happening. I have to click on "import" so that the actual import happens and progression bar is complete. Then I wait but nothing happens. I have again to click on "review" to see the result of the import. Same thing happens f

[2018-05-22 14:49] myriamboure opened #2311 "Product Import: Improve UX when proceeding to actual saving of new data"
## Description
When I have correctly imported the csv and I'm reviewing the results, I am then proposed to save ("proceed") or cancel if I finally decide not to save those data as I'm not happy with them.
If I want to save I click on "proceed".
I am taken to a page where I see a progression bar but nothing is happening. I have to click on "save" so that the actual saving happens and progression ba

[2018-05-22 14:57] myriamboure opened #2312 "Product Import: imported product counts not displaying"
## Description
After saving the new product info from csv file, the last step show the "results" and tell how many products have been saved successfully. This count is not working.

## Expected Behavior
Count should work.

## Actual Behavior
Count is not working.

## Steps to Reproduce
1. Go to hidden https://staging.openfoodnetwork.org.uk/admin/product_import and follow the steps until you reach

[2018-05-22 15:19] myriamboure opened #2313 "Product Import: "reset absent products" is not working"
## Description
I upload a csv with 2 products only from producer "Sole of Discretion".
I click "reset absent products" when selecting import options. I get the warning message
![screenshot from 2018-05-22 17-14-45](https://user-images.githubusercontent.com/8135376/40371842-a9baa836-5de3-11e8-9a93-37de38d788e4.png)
so logically all other products from that producer apart those 2 products in the fil

[2018-05-22 15:29] myriamboure opened #2314 "Product Import: confusing UX when "viewing products" at the end of the process"
## Description
When I reach the last step of the import, products are saved and want to "view products". I am redirected to product listing page with only the updated products shown. But as a user now that I am on that product listing page I want to check all the products for a given producer, so I select a product in the filters. Nothing happens. I have to clear filters and then use them again fo

[2018-05-22 15:53] myriamboure opened #2315 "Product Import: add possibility to choose “on demand” for “set stock level” in import options"
## Description
A user who imports products via csv might want to set up all items or "empty" items (using the import option "set stock level") to "on demand". It is not possible today. It can only be done today within the csv file (column on_demand, 1 if yes, 0 if no).

## Expected Behavior
If I click on "set stock level" in import options I should be able to choose "on demand" instead of having t

[2018-05-22 16:05] myriamboure opened #2316 "Product Import: override in "set shipping category" doesn't work"
## Description
I import a csv with products to update (the problem doesn't happen for new products created) and select import option "set shipping category", "override all" (or "override if empty", doesn't matter) and I choose "frozen". I proceed till the end and view products, i check and shipping category is not set to "frozen".

## Expected Behavior
If I override shipping category info for the

[2018-05-22 21:08] luisramos0 commented on #2308
Let's see if it's a "good first PR" for a "good first issue" :-)

[2018-05-23 03:27] oeoeaio commented on #2304
Do we need to address the UX issues @myriamboure? If it is not obvious to Nick that the ready for field needs to be filled in then it is probably not obvious to anyone else!

[2018-05-23 05:37] mkllnk commented on #1592
Maybe I can answer some of these questions.

This is possible. Some email providers make the address available straight after deletion, most block it for a few months and some providers (Gmail) block it forever.

If I received an email like that, I would suspect some kind of scam. Maybe I would mark it as spam, but I wouldn't react to it, because that is how the bad guys get you.

I agree that the

[2018-05-23 05:45] mkllnk commented on #1589
I think long term we would like to get away from all Spree views. How much effort would it be to re-implement the admin users controller? It seems like a simple interface. We can then customise it however we like.

[2018-05-23 05:54] mkllnk commented on #2297
Yes, I agree that the redirect is a good solution for this particular problem. Going forward, I'm wondering if we should place our bulk product edit exactly in the same spot as Spree's product editing has been. We wouldn't need the redirect any more, because we are replacing Spree's view instead of adding another one.

[2018-05-23 06:05] mkllnk commented on #1760
#### Option 3

It does not matter if people enter their handle or the whole URL. If they enter the whole URL, we extract the handle and store only the handle in the database.

We don't need a database migration, but we could add one to search for URLs and convert them to handles to fix currently broken profiles. It's not that difficult.

[2018-05-23 11:37] luisramos0 commented on #2309
Hi Myriam, I can't replicate. I tried a few different things but it's showing "Expédition:". You are on fr, right?

<img width="693" alt="screen shot 2018-05-23 at 12 33 56" src="https://user-images.githubusercontent.com/1640378/40422024-d2ea5a7e-5e85-11e8-8259-11df35f7b7ca.png">

Was that "Shipping" manually entered?

[2018-05-23 12:35] myriamboure commented on #1592
Ok I get your points @mkllnk
Then my question is: can we just consider that all the records from before the account is created remain as guest and are not connected to the new account at all? Is it really a problem for the hub manager if she doesn't see the records associated to that customer? I mean the problems you mention on the user side will be the same on the hub manager side, if the email w

[2018-05-23 12:40] myriamboure commented on #2304
I don't think so @oeoeaio as it's been like that since ages. I guess it's just that Nick forgot about this behavior (just as I did under his influence ;-)), but we were discussing with Pau and users got used to it, so I wouldn't invest energy on that and focus on treating the root causes and reaching the OC redesign stage :-)
If we want to address it, we could just keep the save button red but if

[2018-05-23 12:52] myriamboure commented on #1760
I added your option 3 @mkllnk
@sstead can we have your preference on it ? Maybe also @sineadfenton ? @RachL ?
My vote still goes for option 1 as I think it's still much less work and we have lots of more important things to do. If we do the value matrix I guess option 1 is the one that adds most value for less work, even if others add a bit more value but more work too. But I'm not familiar with u

[2018-05-23 13:08] myriamboure opened #2319 "Product Import: rename import options labels"
## Description
The current labels mention "default" like "set default stock level", "set default tax category". This term like "default stock level" is already used in inventory to talk about the default stock you set for when you "reset stock to default" so I'm afraid users might get confused with same terminology. I suggest to just remove the "default" word in the 4 import options.

## Expected

[2018-05-23 13:28] myriamboure opened #2320 "Product Import: override in "set available date" doesn't work"
## Description
I import a csv with one info on "available_on" column for one of the two products. Then select import option "set availabe date", "override all" (or "override if empty", doesn't matter) and I choose 2018.05.31 in that example. On next step in the "review" stage I don't see the available on column in the table which is confusing as I can't check if the info I asked to change will be

[2018-05-23 13:54] myriamboure opened #2321 "Product Import: override in "set tax category" doesn't work"
## Description
I import a csv with products to update (the problem doesn't happen for new products created) and select import option "set tax category", "override all" (or "override if empty", doesn't matter) and I choose "reduced rate". I proceed till the end and view products, i check and shipping category is not set to "reduced rate".

## Expected Behavior
If I override tax category info for th

[2018-05-23 18:08] #2302 closed

[2018-05-23 18:22] myriamboure opened #2323 "Product Import: view inventory don't show the adapted inventory [WIP]"
## Description
When I import products into my inventory, at the end of the product import process I am proposed to "view inventory". When I click on it I am redirected to the inventory section but nothing is filtered, I see no specific inventory and I have to click on each enterprise that I udated one by one to see my inventories and look myself if the products I uploaded are there, to be reassure

[2018-05-23 18:32] sauloperez commented on #1589
that could be a good spot to try out this idea of having our own views instead of relying on Deface. We can give it a try and then see if it fits our needs and we all like it.

[2018-05-23 18:43] myriamboure opened #2324 "Product Import: improve "view guide" UX"
## Description
As a user I want to import a csv with lots of products. I don't know how to do so click on "view guide". I expect to see the guide, but what I see is a list of columns and values. I am confused.

## Expected Behavior
The button is renamed "Headers and values" and on click I see the headers and values.

## Actual Behavior
I click on "view guide" but don't see the guid, just headers a

[2018-05-23 19:26] myriamboure opened #2325 "Product Import: csv with both products list and inventory updates for various enterprises is not saved"
## Description
I import a csv with update on two product lists and on two inventories. One of the product is added at the same time to product list and inventory.
![screenshot from 2018-05-23 21-18-09](https://user-images.githubusercontent.com/8135376/40446412-712e0066-5ecf-11e8-85e2-036b05f037c3.png)

## Expected Behavior
All products are imported correctly.

## Actual Behavior
Two errors:
- the

[2018-05-23 19:44] myriamboure opened #2326 "Product Import: adapt "headers & values" page content [WIP]"
## Description
Some info are missing or unclear in the "headers & values" page

## Expected Behavior
It's all clear and users can build their spreadsheet without friction
Amendements captured here: https://docs.google.com/document/d/1QDtKQe64enO5ZLnht9PxQ8bOlaMHCueJBMWSyW4zCng/edit# (WIP)

## Actual Behavior
Not everything is clear.

## Steps to Reproduce
1. Go to hidden https://staging.openfoodne

[2018-05-24 01:07] kirstenalarsen commented on #1589
and that will be helping us decouple a bit from Spree? she says hopefully?

[2018-05-24 01:43] oeoeaio opened #2327 "Link to Skylight dashboard for each instance"
#### Overview

I have been in contact with Skylight regarding the registration of the Australian OFN instance as an open source user. I was contacted by Vaidehi, who said this:

Basically what I propose to do in order to fulfil this requirement is to add an env variable which will be used to conditionally show a link to the relevant instance's Skylight dashboard in the footer show in the front-end

[2018-05-24 01:54] mkllnk commented on #1549
I added automatic branch and pull request creation in https://github.com/transifex/txgh/commit/93336288d634e0b9122c0a71bbcfb94d21eb61bd. It's deployed on our CI server now.

Looking through the code, I can confirm that we update a translation when it gets translated to 100%. But if translators change things after that point, it doesn't trigger anything any more. That's probably why a lot of change

[2018-05-24 02:03] mkllnk commented on #1549
Ah, that trigger change was actually configurable. So that's all done now. We just need some translations now. :-)

[2018-05-24 02:07] #1549 closed

[2018-05-24 03:11] mkllnk commented on #2297
No, it doesn't. But we use the bulk edit view instead of Spree's product list, right?

[2018-05-24 06:54] sauloperez commented on #2327
Regarding the badge in the README, I thought we could have the Australian one as it's the one with the highest traffic.

[2018-05-24 06:56] sauloperez commented on #1549
Can I forget about creating and removing the branch while preparing a release?

[2018-05-24 06:59] myriamboure commented on #2319
I'm not sure about this one @RachL what do you think?

[2018-05-24 07:00] RachL commented on #2314
@myriamboure another way might be to redirect to the product page and on this page create two new filters pre-checked : last update & created date (by default they would show the products updated or created during the last week, and the user would be able to change the period). Thus, we don't make another page like now, we use the the same page but with new filters. And I think the filters might w

[2018-05-24 07:06] RachL commented on #2325
@myriamboure what strikes me is that the user works on a file to put for each line if it's an inventory or a product import. And then when he/she arrives on OFN, we ask me again for each entreprise if it has to be imported into products or inventory. The job is done twice.

I would suggest that the user make two csv file : one for inventory and another one for products (thus the "supplier" column

[2018-05-24 07:09] RachL commented on #2319
@myriamboure it was confusing for me as well when I've tested. So I agree on this one. Plus the term does not help the user (even if we would not be using it somewhere else), so let's not use it.

[2018-05-24 07:20] myriamboure commented on #2325
Yes, actually I agree 100% and I will open right now a new issue to propose that instead and that could close this one. What's more, when you go till the end you have the button "biew products" if you imported in products listings, OR "view inventory" if you imported in inventories, but you can't view both at the same time, so there is a flow somehow in the end to end process if we let people put

[2018-05-24 07:40] myriamboure commented on #2325
Else if we believe users need to be able to do both at once we need to review UX for the end of the process and maybe not propose to "view products" or "view inventory"... opinions welcome.

[2018-05-24 07:43] myriamboure opened #2329 "Product Import: review UX and request user to choose first step if she wants to update product listings or inventories"
## Description
- Today importing in a single file product listings and inventory updates isn't working: https://github.com/openfoodfoundation/openfoodnetwork/issues/2325 and you can't in a same file create a new product and add it to an inventory.
- Also at the end of the import the last step is to review the modification you made, and we need to either redirect to "products page" or "inventory pa

[2018-05-24 07:48] myriamboure commented on #2325
I gave a try to another possible UX: https://github.com/openfoodfoundation/openfoodnetwork/issues/2329 please let me know what you think.
For me we have two options:
- either we review the UX for the start of the process as proposed in #2329
- either we change the end of the process, after saving, and just display a success page but don't propose the user to "view products" or "view inventory" (wh

[2018-05-24 07:55] myriamboure commented on #2314
That's a good idea @RachL !
Would that be on option technically @Matt-Yorkley ?
I think we need a broader reflexion on UX (see https://github.com/openfoodfoundation/openfoodnetwork/issues/2325 and https://github.com/openfoodfoundation/openfoodnetwork/issues/2329 as well to understand the general UX issues)

[2018-05-24 09:35] myriamboure commented on #2324
@sstead as an native English speaker does "headers & values" speak to you and reflect well for the user what to expect when she clicks?

[2018-05-24 09:46] myriamboure commented on #1440
This seems to be already in the scope for #1492, I tested and was able to import products to an inventory, so closing it

[2018-05-24 09:46] #1440 closed

[2018-05-24 09:48] myriamboure commented on #2314
I think that's what @lin-d-hop meant in https://github.com/openfoodfoundation/openfoodnetwork/issues/1431 and https://github.com/openfoodfoundation/openfoodnetwork/issues/1432 so I guess we are on the same page here.

[2018-05-24 09:51] myriamboure commented on #2323
Note: @lin-d-hop made some suggestion on that in https://github.com/openfoodfoundation/openfoodnetwork/issues/1433 but UX needs to be specified more clearly.

[2018-05-24 13:49] frank-west-iii commented on #2297
@mkllnk, was the idea here to rename bulk product edit to index essentially overriding Spree's index action in this location?
https://github.com/openfoodfoundation/openfoodnetwork/blob/9d57beb33f89b694dd50e5ce281dd3a80ebe5310/app/controllers/spree/admin/products_controller_decorator.rb

[2018-05-24 17:57] myriamboure commented on #2242
Interesting and pedagogic way of taking about cookies: https://appear.in/information/tos/cookie-policy/

[2018-05-25 00:48] daniellemoorhead commented on #1213
Reopen as @stveep has an alternative fix that may be better.

[2018-05-25 03:31] mkllnk commented on #1549
Okay, I removed the step about re-creating the transifex branch from the release wiki page. I left the part about looking for a pull request. Once we are sure that everything works fine, we can simplify that step as well.

[2018-05-25 03:34] mkllnk commented on #2297
Yes, that was my idea. Thank you for putting it in clearer words. What do you think about that?

[2018-05-25 05:28] oeoeaio commented on #1592
I think you're both on the right path, in that we should not associate guest `orders` with new or existing `user` accounts. These should probably remain disconnected as far as the user is concerned.

[2018-05-25 05:32] oeoeaio commented on #2085
Sorry @myriamboure, I thought it was only going to be one PR, but then it exploded into three!

[2018-05-25 05:36] daniellemoorhead commented on #1592
@myriamboure, hello 👋

First thing I would say is I'm not the best point of reference for questioning functionality designed for email confirm. Firstly because it's been a VERY long time since I wrote all this up, and secondly because you guys know the system much better than I do 😁

So I think go with what @mkllnk and @oeoeaio have confirmed with you.

The only question I have is about the impact

[2018-05-25 05:37] daniellemoorhead commented on #1592
And finally, I wonder what Shopify does? Can you guest checkout with their software, and if you then register does it keep the history of your guest checkouts?

[2018-05-25 05:46] myriamboure commented on #2306
@Matt-Yorkley @HugsDaniel can one of you assign to this one maybe?

[2018-05-25 05:47] myriamboure commented on #2250
@Matt-Yorkley can you take this one maybe?

[2018-05-25 07:12] daniellemoorhead commented on #1667
Not sure where to check this @myriamboure, @sstead is the best person to do this.

[2018-05-25 07:13] daniellemoorhead commented on #1666
I have no idea @myriamboure...about many things but definitely about this. @sstead can help better than I 😄

[2018-05-25 08:06] myriamboure commented on #2250
Ok so let's close and we will reopen if we see another issue. Thanks @sauloperez :-)

[2018-05-25 08:06] #2250 closed

[2018-05-25 10:18] sstead commented on #1667
You're suggesting we add this line to all confirmation link emails @myriamboure ? _"You received this message because you signed up on [instance name], or were invited to sign up by someone you probably know. If you don't understand why you are receiving this email, please write to [instance contact manager]."_ I have no problem with this if you think it's necessary. It reads well in English.

Jus