[2022-05-12 00:36] #9172 closed

[2022-05-12 02:17] mkllnk opened #9175 "Release v4.1.30"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-05-12 06:46] RaggedStaff commented on #9170
Hearing this seems overwhelming. If it helps JSON-LD has eactly the same syntax as JSON, it just uses externally defined schemas (those @context files I posted above)

Yep, definitely not the finest sample! :wink:

[2022-05-12 06:48] lin-d-hop commented on #9170
The important nuance here is that at the OFN Product level this first offer will be for sale only to hubs. Once we move toward implementing shopfronts each shopfront will have it's own Offer(s). And if the hub is a Producer Shop then the hub will need to be able to have:
- an Offer that is for sale to shoppers that includes any enterprise fees (not sure the best way to handle in DFC) and
- an Offe

[2022-05-12 14:49] RachL commented on #9175
This is ready to go :) https://docs.google.com/document/d/1XepII6acM5uxO-rq8-md50lxwOdAid5JcSteBEEqin0/edit#

Thanks Maikel!

[2022-05-12 15:49] RachL opened #9178 "As an admin, I can add a note on an order"
## Description

**- As a:** enterprise user
**- On page:** `/admin/orders/RXXXX/edit`
**- I want to be able to do:** Add a note on an order. Be able to edit it and delete it as well.

The idea is to keep the same UX we have for tracking number and put it below:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/25e8db73-d7e0-4881-8905-93af93b96e23)

By default, the placeho

[2022-05-12 15:49] RachL commented on #9178
@jibees do you think we need to limit the number of characters?

[2022-05-12 15:52] jibees commented on #9178
For sure, it should be limited.
Don't know how many...

[2022-05-12 15:55] RachL opened #9179 "Show notes written by admins on invoices"
## Description
**- As a:** enterprise user
**- On page:** On an invoice (PDF)
**- I want to be able to do:** See the note that I have added thanks to
https://github.com/openfoodfoundation/openfoodnetwork/issues/9178

The note should appear at the end of the rest of the invoice content, with the same UX than the payment description for example :

![image.png](https://images.zenhubusercontent.com/59

[2022-05-13 13:51] jibees commented on #9068
I just tested, and not sure to exactly understand actually, or maybe there're two bugs

 - When entering a new variant with `120g` in the unit field, it feedback me as "Changes saved", but no variant is created.
 - I've double-checked your screenshot, and it appears that you checked the "on demand" checkbox. By doing this, I've the same error as you "Saving failed. Save failed due to invalid data:

[2022-05-16 06:55] mkllnk commented on #9161
Documenting actions so far:

Giving @jibees access after his PR got merged:
[code]

I had to fix a conditional first and committed that to master.

Setup my local inventory:
[code]

Looking at the playbooks, reset_stream sounds useful. Let's see what it does:
[code]

:disappointed:

I did notice that the `confluent-control-center` process is pretty busy. I'm wondering if that's normal or because s

[2022-05-16 08:29] #7176 closed

[2022-05-17 00:07] #9175 closed

[2022-05-17 06:04] mkllnk commented on #8983
I just had a look at the error message and I think it's just a missing config option. The bucket seems to be in Europe which is not the default region. We need to specify `S3_REGION`. Let's fix this up after Active Storage.

[2022-05-17 08:34] RachL commented on #8983
yes we have changed this in https://github.com/openfoodfoundation/ofn-secrets/pull/55 - . As we want to be compliant and store all our data in Europe. But I thought we did it only for our database, as it is always tough to migrate images. I don't know if it's easier now with Active Storage, but FR (and any EU instance) really needs to have everything in Europe and not in the US anymore.

[2022-05-17 08:38] RachL opened #9184 "Remove option to download JSON"
## Description

**- As a:** enterprise user or super admin
**- On page:** `admin/reports`
**- I want to be able to do:** Not see the option of downloading JSOn anymore

## Acceptance Criteria & Tests

1. Log in as enterprise user
2. Go to `admin/reports`
3. Check the option to download JSON is removed on all reports

Repeat with super admin

[2022-05-17 09:09] RachL commented on #9144
@KosyAbone FYI this issue is now unblocked if you still fancy working on it :)

[2022-05-17 15:58] RachL commented on #9189
@jibees one more question came up when I was writing the acceptance criteria : there are some rendering options which are similar across reports like "summary row". When I save "summary row" for one report does it save it on ALL reports? For now, I think from the product side we would prefer to have it _per_ reports.

[2022-05-17 17:07] diegoamc commented on #9
Hi,

I'm currently working on an Open Food Network fork and login with social networks (Facebook and Google) is a desired feature. Is there any interest that we make this a contribution to the upstream repository?

[2022-05-17 17:58] lin-d-hop commented on #9
Hi @diegoamc
Thanks for this offer.
OFN is licensed under the GNU Affero General Public License, which is designed specifically to ensure that, in such cases, the modified source code becomes available to the community.
Therefore we ask you do make your fork open source such that it can be shared with the wider community. In that case it would be easy to see if the contribution would be a good fit

[2022-05-17 20:51] diegoamc commented on #9
The fork is open source (:

We are only getting started but we plan to make as many contributions as we can.

We'll go ahead with the implementation of login with social networks and when we have something to show we'll share it here

[2022-05-18 06:40] jibees commented on #9189
I'd say _per report_ too...

[2022-05-18 08:11] #9184 closed

[2022-05-18 08:14] sigmundpetersen commented on #9144
This now has a suggested fix in the connected PR.
@KosyAbone if you want to have a look at other potential issues, please visit the New Devs board as mentioned above. Thanks! 🤗

[2022-05-18 16:59] #9052 closed, assigned to jibees

[2022-05-18 17:25] tschumilas commented on #9002
So -  by 'user' we mean someone who has registered on the platform -  is that right?  And customer might be a user and use their login at checkout.   But  a customer is someone who has not registered on the platform and chooses 'guest' at checkout.

So in the case above -   this person started as a guest I suspect and placed their first order that way.  Then,  they registered as a user,  and the m

[2022-05-19 06:48] kirstenalarsen commented on #9170
Hi all.

I have done some update of the [API Use Cases](https://docs.google.com/presentation/d/1JErTW946vU8kHQkvyVU6CtckwH_qtoJRyGIzQJIvrRk/edit#slide=id.g11c6d979e8a_0_24) doc, moving the product related ones upfront into 'up next' and clarifying the use cases I have, which boil down to CRUD products and variants from external sources, including on_hand and price.

I have also mapped the [existin

[2022-05-19 07:10] jibees commented on #9186
Not sure this is a papercut since I deep dove into.

I've drafted a PR (https://github.com/openfoodfoundation/openfoodnetwork/pull/9191), and here are my thoughts:

 - I'm a bit stuck currently, I've requested help.
 - A report can have sub-report, and those sub-report have different columns. We should then update the list of columns since we chose the sub-report:
<img width="848" alt="Capture d’e

[2022-05-19 11:59] #9144 closed

[2022-05-19 16:54] drummer83 commented on #9056
I have this on staging UK now as well...
Here is what I did:
- register a new user (kunde2@konradsachse.de)
- confirm the email address
- log in
- shop at Konrad Testhub
- Click on cart
- Click on checkout
- Fill in all the fields
- Click on 'Next - Payment method'
- See the error

The thing is I repeated the steps above for kunde3 (without 'ß') and kunde4 (with 'ß') and it worked for them. So no

[2022-05-20 06:13] RaggedStaff commented on #9170
This has been corrected now: [JSON-LD, v1.7](https://datafoodconsortium.gitbook.io/dfc-standard-documentation/appendixes/practical-examples/version-1.7) ! :tada:

[2022-05-20 06:17] RaggedStaff commented on #9170
As promised (sorry for the delay). Here's a breakdown of my understanding of the JSON-LD 1.7 (current interface for prototype). Hope it all makes sense, do ask me to clarify anything that is still gibberish! :roll_eyes:

**@base** the URI (base URL) for the platform. This will be used to prefix any URI’s supplied later on (e.g. SuppliedProduct.id)

All objects are identified by **@id**:  the URI (

[2022-05-20 07:17] kirstenalarsen commented on #9170
I am quite confused about how the offers and Customer Categories are going to interplay with OFN fees. If I understand what you're saying above @lin-d-hop , it sounds like we will only be able to change the 'final sale price' on a product for a Hub shop i.e. the price including fees. This is NOT the price that most of our users are manipulating. If they have fees these go on top of the underlying

[2022-05-20 12:37] jibees opened #9202 "Release v4.1.31"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfood

[2022-05-20 14:11] lin-d-hop commented on #9170
@kirstenalarsen Actually what I'm saying is that we'll only be able to change the Producer Price. We won't be touching anything to do with fees or final sales price etc at this stage.

[2022-05-20 14:18] lin-d-hop commented on #9170
Thanks @RaggedStaff @mkllnk and @kirstenalarsen for the work you've done finding the relevant fields on the APIs and our requirements.

I've taken an extra step in [this spreadsheet (on the Mapping sheet)](https://docs.google.com/spreadsheets/d/1cLSIyHrux93iAMitIVDqGBLrF9ascBgqHuc8AIfmF_k/edit#gid=659581349) to understand how we can create something in which:
- We build integrations off the DFC AP

[2022-05-20 15:52] RachL commented on #9170
Just a note to add that the DFC can also evolve. We can make proposals if you think they are needed :+1:

[2022-05-23 16:27] drummer83 opened #9210 "Missing translation: open/closed in order cycle selection (backoffice order creation)"
## Description
When creating an order in the backoffice, the current state (open/closed) of the order cycle is not translated.

## Expected Behavior

The order cycle state should be translated.

## Actual Behaviour

The order cycle state is not translated.

## Steps to Reproduce

1. Create new order in the backoffice: /admin/orders/new
2. Select a distributor
3. Select an order cycle and observe t

[2022-05-24 08:40] drummer83 commented on #9202
Just for documenation:
There was a bug found in this release around creating backoffice orders for customers with no bill address, described in the release testing notes:
https://docs.google.com/document/d/1HsCRBcpwlEKz7fmnbIaZrUxE-mRn7N-y-lz1tD7xRJw/edit?usp=sharing
The plan is to revert the changes (#9211) and redraft.

[2022-05-24 08:52] RaggedStaff commented on #9170
Thanks @lin-d-hop, tried to answer as best I can.

As far as I can tell... it isn't... yet!  I'll double check this with the Ontology team and we can get it added.

I would expect it to be captured as a product attribute, but I can't see it anywhere. Actual tax probably has to hang off transaction but we should be able to propose an additional attribute around `Sales Tax Category` perhaps with a `

[2022-05-24 10:14] drummer83 commented on #9202
Thanks for redrafting, @jibees!
I have tested and this looks ok now. :+1:
Here are the release notes:
https://docs.google.com/document/d/1wBc74XrDekz6GFEEfNoKZbL_Z4WmqHehTld6kT1oSm0/edit?usp=sharing
@RachL and I agreed that this is good to go.

[2022-05-24 11:05] drummer83 opened #9213 "Cancel button not working for orders with no shipping state"
## Description

Due to some underlying bug (I believe) it is possible to end up with orders without a shipment state. These orders cannot be cancelled using the cancel button on the edit order page. Cancelling through the cancel option in the actions dropdown menu is possible however.

## Expected Behavior

All orders should be able to be cancelled.

## Actual Behaviour

Orders without shipment st

[2022-05-24 12:19] drummer83 opened #9214 "[Stripe SCA] Backoffice orders: Can't capture second stripe payment"
## Description

As a consequence of #5574, orders with a stripe transaction fee end up with a balance due. However trying to pay this with a second stripe payment fails (for unknown reason to me). The failing payments do not even show up in Stripe's backend.
Also the payment cannot be deleted from the payments list (see flash message in the screen capture).

Note: Splitting a stripe payment into 2

[2022-05-24 13:57] #9202 closed

[2022-05-24 16:05] RachL opened #9215 "FR prod is slow / unreachable"
## Description

It started around 5:30 PM today. First it was super slow, now I personally don't manage to login anymore, the server is timing out.

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/ba0c97b6-77dc-4600-ba59-89cdc680d0fb)

## Steps to Reproduce

Visit coopcircuits.fr

## Animated Gif/Screenshot

Infinte loading, then snail

bug-s1: a critical feature is brok

[2022-05-24 16:40] RaggedStaff commented on #9170
Ooo, shiny! :sunglasses:

We might be able to work that out - we could include an optional text for a unit description that can be populated for generic types. Also noticing units don't currently carry any indication of a datatype within them, I think they probably should. :thinking:

[2022-05-24 16:47] RaggedStaff commented on #9170
Ok. a field (has)Tax, is being added to the Price component, as part of some refactoring/mapping to other standards. Details are [here](https://docs.google.com/spreadsheets/d/1mgEvOzWu6h0D4zhtkqrph1aJUFlK-2zJTgynP6qzM3A/edit/#).

[2022-05-24 16:54] RachL opened #9216 "Missing translation on snail page"
## Description
Our "snail page" or error page has all the right info: except only in English!

## Expected Behavior
See text in the language you last used for the website

## Actual Behaviour

Info only available in English

## Steps to Reproduce

1. Generate a snail with a popular error like https://github.com/openfoodfoundation/openfoodnetwork/issues/8210#issuecomment-1077460279
2. Or with a tim

[2022-05-24 19:03] RaggedStaff commented on #9170
Ah, no sorry... I think text (it's xml, so all text really :stuck_out_tongue_winking_eye:), the "has" refers to the relationship: Price (can) has Tax.

[2022-05-24 19:05] lin-d-hop commented on #9170
Ok so for the UK collab we need to define our fields here. Maybe we can define a Tax object?

[2022-05-24 19:56] RaggedStaff commented on #9170
There will be a Tax object, linked to Price on an Offer. Not clear it will have anything beyond some text saying what the Tax is called. Would make sense to standardise it - Taxes are usually standardised! :wink: I've asked for clarification from the ontology team.

[2022-05-24 19:57] lin-d-hop commented on #9170
locally standardised. Globally wildly diverse. Fortunately others have solved this problem (global taxes work reasonable well in OFN) so we can just copy best practice.

[2022-05-25 00:56] mkllnk commented on #9215
There was a suspicion that the new reports caused a performance issue. One user a trouble accessing a report and maybe that was because of timeouts. I searched the logs and found some report activity at the beginning of the slowdown:

[code]

You can read this as: `[request-time] "request" response-status response-size response-time`

That is the first request which takes longer than 20 seconds an

[2022-05-25 01:16] mkllnk commented on #9215
France has a timeout of 4 minutes:
https://github.com/openfoodfoundation/ofn-install/blob/5020f3178ce486bf693cdd0cff337c70000f5acb/inventory/host_vars/coopcircuits.fr/config.yml#L11

[2022-05-25 07:03] gracejam opened #9217 "Reports combining product variant listings from different orders"
## Description
When pulling Order Cycle Customer Totals reports, repeat orders of any one product variant are combined into a single line item. The line item is still attributed to a customer, meaning reports are incorrectly displaying product orders.
One hub downloads a CSV of a report for 4 different order cycles at once, to import into Airtable. On 17th May, the hub pulled this report and had 5

[2022-05-25 07:43] lin-d-hop opened #9218 "Packing Reports need date range filter set"
## Description

Packing reports aren't loading in a reasonable time. This is causing a knock on effect as server resources are not able to respond to other requests. FR server experienced downtime yesterday and the logs suggest these reports are at play. UK server is slower as well and again it coincided with the loading of these reports. These reports are loading very slowly via the UI.

#### Pro

[2022-05-25 07:57] RachL commented on #9217
Possible scenario happening (need confirmation) :

The report is aggregating per customers.

This is the list of orders I have on staging, all order with quantity of 1 product :

![image](https://user-images.githubusercontent.com/6525576/170211354-ef74e26d-dc55-4f43-aa61-89f3f9f5d05b.png)

Reports only shows 2 lines because it aggregated all my rhubarbe:

![image](https://user-images.githubusercon

[2022-05-25 08:28] RachL commented on #9217
pinging @seballot if you might have a clue?

[2022-05-25 08:47] RachL commented on #9215
Reporting what we talk on slack: orders and fulfillment customers reports  have an average load of 2:46 We need to put FR prod timeout back at 4min

[2022-05-25 08:48] lin-d-hop commented on #9217
Is this ONLY impacting Order Cycle Customer Totals?

[2022-05-25 08:57] drummer83 commented on #9217
It seems to me that also the date range is not respected. The report shows 7 orders of 'pak choi', but only one was after 1st May, which is the date range filter I applied.

[2022-05-25 09:01] jibees commented on #9215
I re-provisioned the server to put the timeout back at default value (ie. 4min)

[2022-05-25 09:18] #9215 closed

[2022-05-25 09:33] drummer83 commented on #9217
Date Completed :
    May 09, 2022 10:08 AM

Order contains Pak choi, Salat Victoria, Strawberries, and more ...

Date range filter START:
2022-05-**02** 00:00 --> ONLY Pak choi showing (7 instead of 1 during this period)
2022-05-**03** 00:00 --> ONLY Salat Victoria showing
2022-05-**04** 00:00 --> ONLY Strawberries showing
2022-05-**05** 00:00 --> ONLY Stielmus & Bread showing

This is not what I

[2022-05-25 09:34] lin-d-hop commented on #9217
@drummer83 this looks to be a different issue from the one described originally. Meaning it will help to create a new issue for it. It will have a different PR and each fix needs to come out small and fast on these S1s. Would you create a new issue with all the info and images plese? :pray:

[2022-05-25 09:59] filipefurtad0 commented on #9217
Yes I agree with your conclusions @RachL @drummer83 :
- line items are being **aggregated per customer** and being displayed incorrectly on a given order
- changing the date range also changes the **number of aggregated line items** and changes the **displayed order number**

![image](https://user-images.githubusercontent.com/49817236/170235334-ee04af98-1eb2-4176-b242-da9e6ec30731.png)

This hides

[2022-05-25 10:00] drummer83 commented on #9217
`Is this ONLY impacting Order Cycle Customer Totals?`

Packing reports (all three types) seem to be ok, @lin-d-hop

[2022-05-25 10:04] lin-d-hop commented on #9217
Let's see if @jibees fix resolves the date filter issue too...
Depending on the order the filters translate into 'where' conditions it may be fixed by the recent PR or it may be a separate issue :thinking:
One for testing... but I think we can just get the fix out because it will definitely improve regardless of whether it solves all the issues.

[2022-05-25 10:18] seballot commented on #9217
Hi ! Sorry I was on a meeting, looking at it now

[2022-05-25 10:23] lin-d-hop commented on #9217
@seballot there are already fixes ready to go for the two s1s:
https://github.com/openfoodfoundation/openfoodnetwork/pull/9192 For all orders_and_fulfillment reports, distinct product by variant, price & order_id
https://github.com/openfoodfoundation/openfoodnetwork/pull/9219 Add order range on packing reports

[2022-05-25 10:43] #9218 closed, assigned to jibees

[2022-05-25 10:44] jibees opened #9223 "Release v4.1.32"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfood

[2022-05-25 10:44] #9127 closed

[2022-05-25 11:29] #9223 closed

[2022-05-25 11:50] RachL commented on #9217
Solved by #9192 - closing and we can reopen if we have other data to reproduce.

[2022-05-25 11:50] #9217 closed

[2022-05-25 11:54] RachL opened #9224 "Big hubs or super admin are unable to reach packing reports in FR"
## Description

Visiting https://coopcircuits.fr/admin/reports/packing with hub 922 leads to an error 502 after 2.75min

![image](https://user-images.githubusercontent.com/6525576/170266491-3aa10995-5c62-440b-aaa5-d603efaf9321.png)

![image](https://user-images.githubusercontent.com/6525576/170266694-38057287-a097-48ef-b27e-dbea08761f50.png)

## Steps to Reproduce

See description

## Workaround

[2022-05-25 13:02] RachL commented on #9224
False alarm: I cannot reproduce in incognito mode! Closing.

[2022-05-25 13:02] #9224 closed

[2022-05-25 14:54] diegoamc opened #9225 "Cannot search using OpenStreetMap"
## Description

When in the map page with open street map configured, I cannot type anything on the search input.

## Expected Behavior

When using open street map, I would like to search locations successfully

## Actual Behaviour

I cannot type any value on the search input of the map when using open street map

## Steps to Reproduce

1. Configure the system to use open street map by going to th

[2022-05-25 14:56] BethanOFN commented on #8038
User feedback from a large UK hub - it is confusing to show out of stock items in the shopfront when you have multiple products as the OOS items clog up the product list making it harder to navigate. I would vote for making this an optional shop setting, or at the least changing the order of the product list such that OOS items are shown last so that users don't have to scroll through loads of OOS

[2022-05-25 15:59] RachL commented on #8038
Yes handling sold out is something we are working on as specs here (future feature available for funding - WIP):

https://github.com/openfoodfoundation/wishlist/issues/147

In this issue 8038, we just want to fix the bug: the products should not be appearing (current correct behavior).

I'm editing my previous comment!

[2022-05-25 16:02] RachL commented on #9225
Hello @diegoamc ! Yes open street map work is not finished yet! Most of the work to be done is capture over here: https://github.com/openfoodfoundation/openfoodnetwork/issues/5542

We have no one working on this for now, so if you are interested drop us a line! I'm closing here to avoid duplicate.

[2022-05-25 16:02] #9225 closed

[2022-05-25 16:57] diegoamc commented on #5542
Hi!

What is the status of this issue? I would like to help if possible.

Is there a task list on what's left to be done?

[2022-05-25 17:33] RaggedStaff commented on #9170
There will be a Tax object, linked to Price on an Offer. Not clear it will have anything beyond some text saying what the Tax is called. Would make sense to standardise it - Taxes are usually standardised! :wink: I've asked for clarification from the ontology team.

[2022-05-25 20:51] lin-d-hop opened #9226 "Orders and Distributors reports cannot all use the same Base filtering"
## Description

Orders and Fulfilments reports have 4 reports within them. These reports actually do a different kind of grouping within them.

Order Cycle Customer Totals requires that there is a row of the report for each order.
Order Cycle Supplier Totals requires a summary over all rows for the filters
Order Cycle Supplier Totals by Distributor requires a summary over all rows for the filters

[2022-05-26 00:18] #9226 closed

[2022-05-26 04:10] mkllnk commented on #8578
I had a quick search in the code and the model has been removed seven years ago (c4fb4a8510a0b9f1082866d13bdced277717c11f). The table can be deleted.

[2022-05-26 05:36] gracejam opened #9228 "Shipping method populated in summary row of report when it should be blank"
## Description
In the report Order Cycle Distributer Totals by Supplier - the shipping method is carried into the Totals row / summary line.
Only identified in this report, other Order and Fulfilment reports behave as expected.
This can be confusing, especially as there can be different shipping methods selected for each item, and then only one of these is shown in the summary.

## Expected Behavi

[2022-05-26 08:06] lin-d-hop commented on #5384
As we are removing inventory on the roadmap and this issue is very rare (one UK hub, twice in two years) it is unlikely worthwhile to invest in a proper fix to this. Therefore this is something @AdamOFN can do as per Luis' solution above.

[2022-05-26 08:11] BethanOFN commented on #5384
Reopening as this issue is again happening for Cambridge Food Hub e.g.
![image](https://user-images.githubusercontent.com/100226210/170445772-4be46f61-0577-4bf6-b8bc-d84d1e25691c.png)
@AdamOFN can you run the sql above?

[2022-05-26 14:31] arthurtui opened #9230 "Add WhatsApp links to connect to enterprises from the map"
## Description
**- As a:** user
**- On page:** /map
**- I want to be able to do:** after clicking on an enterprise to view its details I'd like to have a hyperlink with it's WhatsApp phone number (if they provided one) that opens a conversation with them in that app.

I'm working on a Brazilian project which is going to use OFN and this feature is important to the stakeholders, so I'd like to know

[2022-05-26 21:00] mgrigoriev8109 commented on #8698
Just to clarify the change that's being requested in this issue. Currently in the shipped email the tracking information uses the Helvetica Neue font, the same font that's used for every other <p> tag except for the shipment details themselves.
I've attached a picture showing what I mean by this: If I increase the font size of tracking information to 17px, you can see it's identical to everything

[2022-05-26 21:46] drummer83 commented on #8698
Thanks for working on this, @mgrigoriev8109!

This issue is about the tracking information only. Increasing the size as you proposed would be great!

I am not sure about the "garlic". This is out of scope here and maybe from a design perspective it would be desirable to keep a different font there to highlight it. This needs discussion with our product team, @openfoodfoundation/train-drivers-produ

[2022-05-27 11:23] drummer83 opened #9231 "Ugly line break around shipping category radio buttons (delivery/pick up)"
## Description

Even though there should be enough room in the row, the text 'delivery' is not displayed next to the radio button but below.

## Expected Behavior

Text should be nicely placed next to the radio button.

## Actual Behaviour

Text is shown below the radio button.

## Steps to Reproduce

1. Visit page /admin/shipping_methods/new or
/admin/shipping_methods/[number]/edit

## Animated G

[2022-05-27 12:27] tschumilas commented on #9002
Have discovered the following -  not sure if its the same or different issue than this....
First  -  a hub was set to allow guest checkout.   And some customers purchased as 'guests' and did not create logins.   Then the hub changed their setting,  and now requires registered users.   For new customers -  no problem -  they register ....   BUT I've identified 3 customers,   labelled as 'guests' in

[2022-05-27 13:01] drummer83 opened #9423 "Shipping and Payment methods: add a new translation key for green menu "calculator""
### What we should change and why (this is tech debt)

The section to set up fees for shipping or payment methods is currently called 'Calculator'. New users may not understand what is calculated here. The proper name for this section would be 'Fees' and within this section you select the calculator you want to use for that fee.
Currently both (section name and calculator name) are using the same

[2022-05-27 13:29] drummer83 opened #9484 "Shipping/Payment method calculator: Allow to enter calculator settings immediately (without saving/reloading the page first)"

[2022-05-27 13:41] drummer83 opened #9424 "Calculator: Provide a calculator 'none'"
## Description
**- As a:** enterprise user or super admin
**- On page:** `/admin/shipping_methods/new` `/admin/shipping_methods/XXX/edit` and  `/admin/payment/new` `/admin/payment/XXX/edit`
**- I want to be able to do:** set the calculator to "none" or "empty" by default.

## Acceptance Criteria & Tests

1. Log in as enterprise user
2.  Go to `/admin/shipping_methods/new` `/admin/shipping_methods/

[2022-05-27 14:18] drummer83 opened #9485 "Enterprise fee calculator: Allow to enter calculator settings immediately (without saving/reloading the page first)"

[2022-05-27 16:53] drummer83 opened #9232 "Snail (Error 500) when adding enterprise fee with name but no calculator"
## Description

When adding an enterprise fee on page /admin/enterprise_fees and providing a name, but not selecting a calculator, the snail is displayed (error 500).

## Expected Behavior

A proper flash error message should be shown.
Content: 'Calculator can't be blank'

## Actual Behaviour

The snail is triggered.

## Steps to Reproduce

1. Go to page /admin/enterprise_fees.
2. In a new line ty

[2022-05-27 17:11] drummer83 opened #9233 "Order cycle creation: Add spacing between 'coordinator dropdown' and 'continue button'"
## Description

When creating a new order cycle, there is no spacing between the 'coordinator dropdown' and the 'continue button'. For design reasons there should be a spacing as on other pages.

## Expected Behavior

There should be a spacing between the dropdown and the button.

## Actual Behaviour

There is no spacing.

## Steps to Reproduce

1. Make sure you are a manager of two or more shops

[2022-05-27 18:42] drummer83 opened #9234 "Misleading/incorrect flash messages on page enterise fees"
## Description

When creating or editing enterprise fees, several problems can occur (missing information, invalid data input). Currently there are already some flash error messages as well as a flash confirmation message, but these are not always indicating the actual problem or the success.

## Expected Behavior

If an enterprise fee couldn't be created/updated, there should be a flash error mes

[2022-05-27 18:44] kvaithin commented on #9233
Hi, could I pick up this work pls?

[2022-05-27 18:55] drummer83 commented on #9233
Hi @kvaithin and welcome! :partying_face:

Of course, I will assign it to you!

Feel free to drop a line on our [Slack](https://join.slack.com/t/openfoodnetwork/shared_invite/zt-19u50z3gk-ajGBK4r~iZfs1BAI03PQZQ) if you need support.

[2022-05-27 19:44] drummer83 opened #9235 "Customer gets the snail when editing an order marked as 'shipped'"
## Description

If a customer wants to edit an order which has been marked as shipped, the customer gets the snail.

## Expected Behavior

The customer should not see the snail.
it shouldn't be possible to edit the shipped order.
## Actual Behaviour

The customer gets the snail.

## Steps to Reproduce

1. As a customer place an order.
2. As a shop manager capture the payment and mark the order as

[2022-05-27 22:55] mgrigoriev8109 commented on #8698
Thank you so much for the feedback @drummer83 ! I'm still getting used to GitHub, but I'm guessing it would be more appropriate for me to continue the conversation regarding the wishlist in that particular issue - so I'll head over there :)

[2022-05-28 00:07] mgrigoriev8109 commented on #9166
Could I work on this issue?

[2022-05-28 00:21] drummer83 commented on #9166
Sure! 😊
I have assigned it to you!

[2022-05-28 07:58] lin-d-hop commented on #9166
@mgrigoriev8109 The spec here is not very clear. Do you understand what Maikel means by 'users account page'?

[2022-05-28 10:44] lin-d-hop opened #9240 "AU(?) Production Low on Diskspace"
## Description

Wormly alert

Error Continues on OFN Production. Disk space used: root is 90.29 % for 10 hours.

For more info
https://www.wormly.com/edithost/hostid/44368#metrics

I guess we have until next week to get this sorted. But marking as S2 so that we don't dawdle.

## Severity

bug-s2: a non-critical feature is broken, no workaround

## Your Environment

* Version used:
* Browser name a

[2022-05-28 20:25] RachL commented on #9166
I would like to add that for now, in FR, we are not ready to support users doing so. So it would be really nice if instance managers can choose in their configuration panel whether or not users are able to do this?

[2022-05-29 01:03] mgrigoriev8109 commented on #9166
Thank you @lin-d-hop , I would appreciate the help greatly!

My assumptions:
    - Application programming interface keys, or API keys, are used to authenticate either a user or an app. Currently there is a button in the Admin Interface while editing a User which allows the Admin to generate a key for the user, clear the key, and regenerate the key. The specific path for this button is `http://loc

[2022-05-29 09:49] kvaithin opened #9241 "Unable to login to staging environment with admin login"
## Description
Unable to login to staging environment with admin login.
(Could be using incorrect login details mentioned below when it comes to staging. Pls advice if so. )

## Expected Behavior
Should have been able to login.

## Actual Behaviour
Unable to login to staging environment with the admin login provided [here](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/docker/RE

[2022-05-29 10:42] drummer83 commented on #9241
Hi @kvaithin,
our staging servers have different login data than the local setup - you couldn't know that. You are welcome to register your own accounts on those servers (both enterprise managers and customers). The super admin access is provided to the core team only as far as I know. If you let us know what you would like to test/change on the servers we are happy to support of course.

We use t

[2022-05-29 12:05] kvaithin commented on #9241
Hi @drummer83, got you.

I was trying to have a look at this issue #9232 .

Believe I misunderstood this line. ` (all other fields don't matter).`

Thought issue only occurs when calculator field is missing.
But locally, it failed when I only added name too.

Thus wanted to see if I experience any difference in staging environment since that's the one shown in gifs.
But having a relook at the atta

[2022-05-29 12:12] #9241 closed

[2022-05-29 12:15] drummer83 commented on #9232
EDIT: I  have added a table with current and expected behavior in the details section above.

[2022-05-29 12:18] drummer83 commented on #9241
Cool @kvaithin, let me know if you want to be assigned to #9232.

[2022-05-29 13:49] drummer83 opened #9528 "Add tag field to incoming products of an order cycle"

[2022-05-29 16:38] drummer83 opened #9242 "[Map] Improve search input editing using the mouse"
## Description

This is a follow up of issue #8755 and PR #9204 ([comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/9204#issuecomment-1135166521)). Editing the text in the search input field on the map page still doesn't feel as smooth as it does on other websites (e.g. Google to name a well known one).

## Expected Behavior

Clicking, dragging (mouse down), double clicking shoul

[2022-05-29 23:20] mkllnk commented on #9240
I noticed that a week earlier and did a little clean-up but it seems to fill up quite quickly now.

[2022-05-29 23:49] mkllnk commented on #9240
I solved the immediate problem by rotating puma.log which saved 3GB for now and brought us back to 80% disk use:

* https://github.com/openfoodfoundation/ofn-install/issues/806

A lot of that log file was filled with Paperclip deprecation warnings. We are working on a fix for that already.

Still, we don't have heaps of space. Lets see what is using it with `ncdu`:

* Postgresql uses 4GB for data

[2022-05-30 06:50] mkllnk commented on #9002
Yes, sounds like the same issue.

[2022-05-30 07:07] mkllnk commented on #9166
This is amazing and enables me to give you early feedback. You are totally on the right track with testing and where to put the code. One change I would like to suggest though is to create a new ApiKeysController with `resource :api_key` routes for only create and destroy. The reason being that our controllers are often growing bigger than is easy to read and that it plays nicely with Rails conven

[2022-05-30 07:07] mkllnk commented on #9166
Oh, and use a feature toggle with Flipper so that instances can decide to enable it or not.

[2022-05-30 07:34] RachL commented on #9166
@lin-d-hop @mkllnk are we sure we want to put this in the account settings section? That means than any shopper would be able to see this. It does extend the scope, but I would prefer that we put this under a new tab in enterprise settings. It does not make sense for me to show this to non-admin users.

[2022-05-30 23:32] mkllnk commented on #9166
Good point but it's not associated to an enterprise either. Should there be something at the bottom of the dashboard or another menu item?

[2022-05-31 00:57] #8755 closed

[2022-05-31 10:36] RachL commented on #9166
The ideal would be a profile / preferences page on admin side, but maybe too much work.  Currently there is an "account" entry that leads to the user account on the shopfront side. What about creating a new page under that link?

Otherwise: can we show the generate API in the suer account _only_ if the user has admin access?

[2022-05-31 11:56] AdamOFN commented on #5384
@BethanOFN I've run the query and 42 entries were removed

[2022-05-31 16:14] RachL opened #9248 "Add Tag field to simple, producer-only order cycle interface"
## Description
**- As a:** producer selling only their products (not hub)
**- On page:** when creating or editing an order cycle
**- I want to be able to do:** use tags, like hubs

## More context
We have the ability to setup tag rules showing/hiding OCs. However this can't be done for a producer only OC, because there is no field to type the tag. In a hub OC you see the tag field in the outgoing

[2022-05-31 21:29] arthurtui opened #9249 "Validate phone numbers"
## Description
Currently users can input any string on the enterprise registration form and it is accepted as a phone number. As mentioned in PR #9236 ([this comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/9236#pullrequestreview-989858046) specifically) it would be preferable if there was some sort of validation.

## Acceptance Criteria & Tests
1. Go to the contact step of the

[2022-05-31 21:29] arthurtui opened #9568 "Validate phone numbers"

[2022-06-01 06:11] mkllnk commented on #9166
Oh yes, there's a lot to think about. But can we find a first step for a good-first-issue to solve here and now?

I could imagine to create this new developer tab in the account section and show it only if an API key is already present. This means an instance manager granted access. It can also be removed and then the user can't use the API any more. We could also always show that tab in developme

[2022-06-01 07:29] lin-d-hop commented on #9166
API Keys seem to have been automatically created for many users. You don't have to click Generate Key.

I think we need a super admin toggle as part of the minimum viable, personally.

[2022-06-01 10:44] filipefurtad0 opened #9250 "Deployments breaking due to unmet dependencies"
## Description

We currently have some unmet dependencies on master (could be related to #9243 #9244 #9245).

This can be seen after pulling the latest master and running `bundle install && yarn install`, below the output:
EDIT: These are just warnings and don't break the deployment. See below

[code]

We can also see the errors appearing on the deployment log:
"Error: Cannot find module '@babel/p

[2022-06-01 13:47] sigmundpetersen commented on #9128
Yes you can 🙂
I have assigned you and moved to In Dev

[2022-06-02 06:34] jibees commented on #9250
If I'm not mistaken, its here since when we introduced storybook (and maybe before).
What came in my mind was maybe to remove all those 3 dependencies, as we basically don't use it...

[2022-06-02 08:09] jibees commented on #9250
(finally found it ; it's something around babel... ;))

[2022-06-02 08:42] #9250 closed

[2022-06-02 08:55] sigmundpetersen commented on #9250
And apologies if I misled you in the first place @filipefurtad0 🙂

[2022-06-02 08:57] jibees commented on #9250
![6ibpli](https://user-images.githubusercontent.com/296452/171594415-cd424e98-5f34-4028-93f0-3ac3bf78df44.jpg)

[2022-06-02 10:36] #9112 closed

[2022-06-02 12:35] RachL opened #9254 "Rounding issue when using fees"
## Description

I think this is a follow up / linked to https://github.com/openfoodfoundation/openfoodnetwork/issues/2522

A big hub is using a POS software: some of their orders are made through POS, other through OFN.

Thanks to this, we've noticed that OFN is doing a rounding error when using fees.

Example in FR prod on order R554817826

This order has a reduced fee of 14,80%

OFN calculates t

[2022-06-02 14:02] kirstenalarsen commented on #9254
It's an absolute b@#@% when someone is upset by this, because as per #2522 we probably really can't fix it without a lot more brain explosions and dev time. I would probably say that the small number of users concerned about it and the fact that it's pretty much always been there would downgrade from S2

[2022-06-02 14:06] RachL commented on #9254
Yeap I really don't want to handle a big development now on this. If there is absolutely nothing we can do, I will close it and tell the hub to stop using OFN as a source for orders with discount.

[2022-06-02 14:55] diegoamc opened #9256 "Json dependency of aws sdk gem is too old"
## Description

`aws-sdk` is on version 1.67.0 on OFN. It requires `json ~> 1.4`. In the Gemfile OFN has `json` listed. When installing the project from scratch and following the getting started document, the OFN local instance ends up with json `2.6.1`.

When we run `bundle install`, it logs this message:

[code]

So, whenever we run `bundle install` (when trying to install a new gem, for example

[2022-06-02 15:46] lin-d-hop commented on #9254
Or just give the hub a couple euros a year as compensation for the odd cent lost?

[2022-06-02 16:08] mgrigoriev8109 commented on #9128
Finally got started, and had a quick question. Hope folks don't mind me asking questions as I begin contributing more and am getting used to the codebase. First off, I created a failing system test which successfully clicks on the action dropdown's Cancel Order and expects a modal to be there (one is not)

Now that I have some understanding of the code involved and before I pursue implementation a

[2022-06-02 16:19] drummer83 commented on #9128
Hi @mgrigoriev8109,
great seeing you picking this up! :muscle:
I will let the devs comment on your questions. As the author of this issue I am just wondering if I was clear about the fact, that we do already have the modal which should be displayed. You can see it when deleting the last item of an order. So you might want to reuse that as well.
And for your information: I believe in the meantime w

[2022-06-02 16:19] RachL commented on #9254
@lin-d-hop thing is it messes up their accounting. Two customers can have the same order content, but they will end up with different amount whether they use POS or OFN.

I thought about the compensation, but at 200 orders a week I'm looking at 96 euros a year 😓 which is okay to handle once, but hoping we don't get more big hubs annoyed by this.

Closing, thanks for feedback!

[2022-06-02 16:28] #9100 closed

[2022-06-02 16:59] #8917 closed

[2022-06-02 17:30] RachL opened #9257 "Summary row (total line) in reports has a different date format"
## Description

When activating the summary row in reports, the date of this row doesn't have seconds.

Example :

- line item date is 2022-05-30 17:55:50
- summary row date is : 2022-05-30 17:55

This block user from sorting the spreadsheet they download by date.

## Expected Behavior

Summary row has the same date format than the line item

## Steps to Reproduce

1. Go to admin/reports : especia

[2022-06-02 17:37] #8698 closed

[2022-06-02 17:39] RachL commented on #9257
Full context : this is breaking my Excel script that is looking for total lines and assign a number to a customer (according to several rules like type of shipping method and order date, [example here](https://community.openfoodnetwork.org/t/hub-can-easily-generate-accurate-packing-slips/1392/51?u=rachel)).

I didn't see it earlier because I wrote this script 2 years ago now and forgot to add in t

[2022-06-02 17:48] mgrigoriev8109 commented on #9128
Thanks @drummer83 ! I was planning on re-using the second function I mentioned, `ofnCancelOrderAlert` as it is the one I believe displays the modal, and it does contain the checkbox for restocking items:
[code]

And, as you mention it's called in both `initCancelOrder` inside the event listener which waits for the form to be submitted, and also inside of `app/assets/javascripts/admin/line_items/co

[2022-06-03 00:36] mkllnk opened #9258 "Release v4.1.34"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-06-03 06:44] jibees commented on #9257
Reading the code, if i'm not mistaken, seems that for:
 - _Sales Tax_, _Tax Types_ report
 - all _Users and enterprises_ reports
the date aren't formatted with seconds.

But it's not in summary row, it's for classic rows.

[2022-06-03 11:07] drummer83 commented on #9258
Thanks, @mkllnk!
I have tested and couldn't find any problems!
Notes are here: https://docs.google.com/document/d/1XmzKlYHx8ztwjkBnAFKzL1aQH_NbuAjz47RtfjdnVuA/edit#
Ready to go! :rocket:

[2022-06-03 11:48] drummer83 opened #9261 "Some report sub-types not listed in reports description"
## Description

Most of the reports have different types, e.g. for Payment Reports there are types 'Payment by Types', 'Payment Totals' and 'Itemised Payment Totals'. For most reports these types are listed in the 'description' column of the reports main page, e.g. 'Tax Types' and 'Tax Rates' for Sales Tax reports.
For some reports the available types are not listed in the description:
- Bulk Co-O

[2022-06-03 12:03] jibees commented on #9261
This will be handled by #9191 and commit f0584495f7466b78e0ab29969c9360c0af82f92f

[2022-06-03 12:16] drummer83 commented on #9128
Hey @openfoodfoundation/core-devs,
could you have a quick look at this and confirm if Mikhail is on the right track here https://github.com/openfoodfoundation/openfoodnetwork/issues/9128#issuecomment-1145047438?
@mgrigoriev8109: Just comment if no feedback is needed anymore!

[2022-06-05 19:55] SamKnightGit commented on #9235
Hey y'all!

I am interested in getting involved with OFN, and am happy to take a stab at this issue. I have reproduced the bug but have a few clarifying questions about the expected state:
- Once an order has been shipped, do we only want to remove the **Edit** capability on the orders overview page and the quantity selector on the order page?
- Is it possible to cancel an order once it has been s

[2022-06-05 20:50] drummer83 commented on #9235
Hi @SamKnightGit,

Great to have you here and WELCOME! :partying_face: :wave:

It's great to see you digging into this issue! And you are asking very good questions! To my understanding it's a good solution to disable the **edit and cancel** options once an order has been marked as shipped - in real life you don't have a chance to change the order once it has left your enterprise. It should be lis

[2022-06-06 01:05] mkllnk commented on #9128
Sounds great. There's a chance that it won't be that easy but I can't tell without working on the issue myself. So try it out and let us know if you hit a road block.

[2022-06-06 15:29] lin-d-hop commented on #9166
@mgrigoriev8109 I know you're working on other things now, but if you are still interested in this one I've updated the spec in the main issue description :)

[2022-06-06 23:47] mkllnk commented on #9128
AngularJS has a concept called *directives* which can apply to certain elements, classes or attribute names. This one applies to the class:

https://github.com/openfoodfoundation/openfoodnetwork/blob/3e3fc4a5a2359f772d18034901154a38dd96a15e/app/assets/javascripts/admin/dropdown/directives/links_dropdown.js.coffee#L1-L5

(Github tip: You can go to a file, mark some lines and then select "copy perma

[2022-06-06 23:49] #9258 closed

[2022-06-07 03:17] mkllnk commented on #9161
I've done a direct connection setup for Australia and we'll see how well that works before I do that for other countries, too.

[2022-06-07 05:05] gracejam opened #9266 "Groups page search does not show nearby enterprises to searched suburb"
## Description
The general shop search function ([this page on Aus instance](https://openfoodnetwork.org.au/shops#/)) will generate results of nearby shopfronts even when the surburb entered does not match any shop's listed suburb.
![burnie, general search](https://user-images.githubusercontent.com/106228095/172297217-51ddd43b-d8e1-4a07-8e2d-cccca4f82787.jpg)

In a groups page, the search function

[2022-06-07 06:44] gracejam opened #9537 "Show Shipping category name instead of temp controlled in packing reports"
:warning: before starting this papercut we need to ask instance managers if they use this field in integrations.

## Context
The enterprise manager for Enterprise ID#3604 needs the best way to differentiate between refrigerated & frozen items so this can be considered when packing orders.
After every order cycle the manager downloads the packing reports to begin packing.
Packing reports show if a

[2022-06-07 08:22] RachL opened #9267 "Wrong report when selecting multiple shops"
## Description

In FR our big users are doing 1 shop = 1 pick up place.

When then downloading Orders and fulfillment reports for 1 shop, they get different results then when doing shops by shops.

## Steps to Reproduce

1. Ask Rachel to add you as manager of hub 28
2. Try order and fulfillment reports especially all but OC total by customers (to be confirmed)

## Animated Gif/Screenshot

When mul

[2022-06-07 10:14] #6347 closed

[2022-06-07 13:37] sigmundpetersen commented on #9256
Hey @diegoamc yes we are aware of this issue.
First thing needed is to switch from Paperclip to Active Storage, this has just been done through this isse https://github.com/openfoodfoundation/openfoodnetwork/issues/6347

I'm not 100% of the exact next steps after that, but this unblocks path forward at least.

[2022-06-07 19:47] tschumilas commented on #8912
OK.  Thanks.

[2022-06-08 14:12] RachL commented on #8899
hello @apricot12 are you still working on this one?

[2022-06-08 14:13] apricot12 commented on #8899
Yes I start on this one today 🙂. Sorry I take a long time to get to the things I assigned.

[2022-06-08 15:26] karlafalk opened #9273 "Disabling Subscriptions does not prevent future subscription orders from being placed."
## Description

If subscriptions schedules have been set up for upcoming order cycles and then a user disables subscriptions in the shop preferences (thinking this will prevent future subscription orders from going through) subscriptions attached to the upcoming order cycle will still go through when the order cycle opens.

## Expected Behavior

If you disable subscriptions in the Shop Preferences

[2022-06-08 19:09] arthurtui opened #9275 "Add landmark field to addresses"
## Description
**- As a:** enterprise user
**- On page:** Details step of registration form (/register)
**- I want to be able to do:** Add a landmark to my address

In rural areas in Brazil (and I believe other parts of the world suffer from the same issue), addresses can be very broad, and often additional details for addresses are offered in the form of landmarks to help orientating people searc

[2022-06-09 05:23] mkllnk opened #9277 "ActionView::Template::Error in SubscriptionPlacementJob@default"
## Error in OpenFoodNetwork Aus

**ActionView::Template::Error** in **SubscriptionPlacementJob@default**
undefined method `logo_variant' for #<Enterprise id: 438, name: "Maldon Cherry Farm", description: "Cherry orchard on the edge of historic Maldon town...", long_description: "<p>Maldon Cherry Farm is a small, family run orcha...", is_primary_producer: true, contact_name: "Maldon Cherry Farm", p

[2022-06-09 06:18] mkllnk opened #9279 "Server error on order confirmation page and order admin edit page when one product image is broken"
## Description

## Expected Behavior

Orders should always be editable as admin and the confirmation should always show to the user.

## Actual Behaviour

Pages can fail if they try to load a broken image.

## Steps to Reproduce

Requires dev knowledge.

1. Log into the Rails console or database.
2. Find a product image.
3. `image.attachment.blob.update(content_type: "application/octet-stream")`
4

[2022-06-09 07:51] jibees opened #9280 "investigations in progress ; Could not display product image in `/admin/products`"
## Description
Having a product with an image that fails in the product list (`/admin/products`), but well displayed in `/admin/products/bread/images`

###### `/admin/products`
<img width="461" alt="Capture d’écran 2022-06-09 à 09 49 43" src="https://user-images.githubusercontent.com/296452/172794227-14177348-bc58-46ae-81c5-4967a19a8463.png">

###### `/admin/products/bread/images`
<img width="42

[2022-06-09 08:05] jibees commented on #9280
Found it:
In `.env.development` file,
[code]

[2022-06-09 08:05] #9280 closed

[2022-06-09 08:13] jibees commented on #9279
I've tested your patch, but I got a `Nil location provided. Can't build URI.`
Will debug.

[2022-06-09 08:59] sigmundpetersen opened #9281 "Invoice printing failing when logo image added"
## Description

After the move from Paperclip to Active Storage, Bulk Invoice printing is failing when invoices have logo images on them

Bugsnag error: (I don't have access to extended info)

Unhandled error
ActionView::Template::Error: The asset "" is not present in the asset pipeline.
Location
app/views/spree/admin/orders/invoice2.html.haml:11 - _app_views_spree_admin_orders_invoice__html_haml_

[2022-06-09 09:53] jibees commented on #9281
`no implicit conversion of ActiveStorage::VariantWithRecord into String`
on `/app/views/spree/admin/orders/invoice2.html.haml:11`

[2022-06-09 09:57] jibees commented on #9279
Maybe should be handled at the same time than https://github.com/openfoodfoundation/openfoodnetwork/issues/9281 ?

[2022-06-09 10:51] filipefurtad0 opened #9285 "Automate tests on ActiveStorage"
### What we should change and why (this is tech debt)

We need to investigate/implement automated tests on ActiveStorage.

An open question which comes to mind is on the best strategy to do:
- so which layer should we aim for (view, controller, model, system, other...?)

### Context

This came up [here](https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1654771132352079?thread_ts=1654754758.396

[2022-06-09 12:29] #9257 closed

[2022-06-09 13:36] mgrigoriev8109 commented on #9128
Apologies for getting started on this and pulling out, but something else has come up in life and I have to step away from this issue. I hope the context I've provided makes it simple for someone else to pick this up and work on it, and will definitely be picking up more OFN issues in the future.

[2022-06-09 16:03] #9267 closed

[2022-06-09 17:52] #8959 closed

[2022-06-09 21:19] SamKnightGit commented on #8806
Hey @alannaemmrie!
It has been a while since there have been any updates here and was wondering whether you created a commit (on a local fork maybe) to fix this issue? I am happy to throw together a commit given the useful context you provided above.

[2022-06-09 23:29] mkllnk opened #9287 "LoadError in db2fog:backup"
## Error in OpenFoodNetwork Aus

**LoadError** in **db2fog:backup**
cannot load such file -- mime/types

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62a057ce8ce5ce0008478111?event_id=62a2521600950e04c0570000&i=gh&m=ci)

## Stacktrace

    gems/bootsnap-1.10.1/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:33 - require

[View full stacktrace](https://app.bu

[2022-06-09 23:37] mkllnk commented on #9285
One simple improvement would be to change the enterprise factory to create test enterprises with logos. This would slow down specs a bit but catch more of these cases. Or we add specs for rendering images like I added here:

https://github.com/openfoodfoundation/openfoodnetwork/blob/dd659f16c06b1d004dd0a9afbbb5241ec3c49f4d/spec/mailers/subscription_mailer_spec.rb#L254-L258

[2022-06-10 08:00] #9281 closed

[2022-06-10 08:01] #9279 closed

[2022-06-10 08:05] jibees opened #9289 "Release v4.2.0"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
https://github.com/openfoodfoundation/openfoodnetwork/releases/edit/untagged-a321364a7118209dd685
- [x] Notify [#instance-managers] of user-facing changes.

## Tes

[2022-06-10 08:08] #8540 closed

[2022-06-10 09:10] #9027 closed

[2022-06-10 09:29] drummer83 opened #9290 "Capturing payment ignores edited shipping fees"
## Description

If an enterprise user edits an order and changes the shipping method to a method with a higher/lower fee, then clicking 'capture' in the orders list will still capture the amount of the originally selected shipping method.
If the updated fee is higher, the order will show a 'balance due'.
If the updated fee is lower, the order will will show a 'credit owed'.

## Expected Behavior

[2022-06-10 09:51] drummer83 opened #9291 "CSV reports: Grey out the option to add summary lines when csv is selected"
## Description

No matter if you choose the add summary lines in CSV reports or not - the summary line will not be in the file.

## Expected Behavior

- Add an explanation text that csv files will never have summary rows
- Grey out the option to add summary lines when csv is selected

## Actual Behaviour

The option is there, but the summary lines are never.

## Steps to Reproduce

1. Go to a repo

[2022-06-10 10:58] BethanOFN opened #9292 "Changes to incoming/outgoing products lists triggering 'failed to update order cycle' error"
## Description

Banc Organics are seeing an error when they try to make changes to their incoming and outgoing product lists on order cycles with schedules attached. The error 'Failed to update order cycles' is triggered _but_ changes are in fact saving. The user raised this as they thus believed the changes were not being saved and it was only from testing we realised they were. This is disconcer

[2022-06-10 22:26] drummer83 opened #9296 "Backoffice orders: Set text color of 'choose customer' dropdown to white"
## Description

During testing of [#9212 ](https://github.com/openfoodfoundation/openfoodnetwork/pull/9212) it was observed that the text color of the dropdown menu to choose a customer has changed to dark grey, but it should be white (as before). This can be seen on page /admin/orders/[order_number]/customer while creating a backoffice order.

## Expected Behavior

The text should be white.

## A

[2022-06-10 23:24] drummer83 opened #9297 "Create product: Keep the uploaded image when product creation fails due to missing information"
## Description

In #9177 we introduced the functionality to save the user's input data and to keep it even if the product creation fails. This prevents the user from having to input all information again. The only thing which is not kept is the uploaded image because this was assumed to be more difficult.
This issue here was created to also keep the uploaded image, even if the product creation fai

[2022-06-10 23:42] drummer83 opened #9298 "Product creation: Minor improvements of errors and mandatory information"
## Description

Note: This issue can be split into several even smaller issues to be solved. Every tiny pull request is welcome!

During testing of #9177 several minor inconsistencies have been found [see comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/9177#issuecomment-1132692337).  Here they are:
- Add "unit value" in the content of the red box at the top of the page if it wa

[2022-06-11 08:44] filipefurtad0 opened #9299 "[Split Chekcout] Clicking "Empty cart" breaks future checkout attempts"
## Description

Related to https://github.com/openfoodfoundation/openfoodnetwork/issues/9131.

Emptying the cart on the `/cart` page after visiting the `/summary` page breaks the checkout: after this, the user cannot visit any of the checkout steps and always sees the snail.

## Expected Behavior

Clicking "Empty cart" should not break the checkout, on future checkout attempts.

## Actual Behaviou

[2022-06-11 19:15] saunmanoj888 commented on #9210
hii @drummer83 @RachL
Can I assign this issue to myself?

[2022-06-12 22:10] filipefurtad0 commented on #9289
Hey @jibees ,

This looks good to go, nothing specific to look at the testing notes:
https://docs.google.com/document/d/1OFf-zIrCKBbJHGIrARE-T7dKZrMosZkicRVMntE1kRI/edit#

Bumped into the known issue:
[S2 - split checkout] - https://github.com/openfoodfoundation/openfoodnetwork/issues/8952

Good to go :+1:

[2022-06-13 06:40] jibees commented on #9210
Hello @saunmanoj888 👋
Sure! Will assign you the issue! Thanks ;)

[2022-06-13 13:54] #9067 closed

[2022-06-13 18:18] saunmanoj888 commented on #9210
thanks!! @jibees, I'll look into this issue and create a PR once I resolve it :)

[2022-06-13 22:43] georgethoppil commented on #9131
@filipefurtad0 are we still seeing issues with this ticket?

[2022-06-14 00:49] mkllnk commented on #9275
@arthurtui Can you include the landmark in the address line 2? Have you done any research how this is handled by other platforms? We would like to be interoperable and addresses will be exposed in a standard format on the API. Is there a standard for a landmark field?

@openfoodfoundation/train-drivers-product-owners Does this align with our goals?

[2022-06-14 02:00] mkllnk commented on #9279
Waiting for deploy.

Comment added in Bugsnag by Maikel
[**ActionView::Template::Error** in **spree/orders#show**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62a12321bb3da700089c72e8?event_id=62a2dd87009513a0a50b0000&i=gh&m=cm)

[2022-06-14 02:07] mkllnk commented on #4249
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **admin/variant_overrides#index**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62a172d6a7e2010008753a87?event_id=62a6c05c009514a9aad40000&i=gh&m=li)

[2022-06-14 02:30] mkllnk commented on #941
This was done by Paperclip but is currently not done by Active Storage. It's possible but nobody has asked for this lately. Let's keep users in control for now and optimise later if we have capacity to work on this.

[2022-06-14 02:30] #941 closed

[2022-06-14 03:27] amidaOFN commented on #9292
Southern Harvest (Australia) has today also reported this issue when creating order cycles with schedules.

[2022-06-14 05:26] mkllnk commented on #3975
This issue has been linked to an error in Bugsnag
[**ActiveStorage::IntegrityError** in **active_storage/representations/redirect#show**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/626bc542ec604700086798f6?event_id=62a6033c0094fd2fe1e60000&i=gh&m=li)

[2022-06-14 05:26] mkllnk commented on #3975
This issue has been unlinked from an error in Bugsnag
[**ActiveStorage::IntegrityError** in **active_storage/representations/redirect#show**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/626bc542ec604700086798f6?event_id=62a6033c0094fd2fe1e60000&i=gh&m=ul)

[2022-06-14 06:02] mkllnk opened #9302 "ActiveStorage::IntegrityError in active_storage/representations/redirect#show"
## Error in OpenFoodNetwork Aus

**ActiveStorage::IntegrityError** in **active_storage/representations/redirect#show**
ActiveStorage::IntegrityError

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/626bc542ec604700086798f6?event_id=62a81cb5009518fa15ad0000&i=gh&m=ci)

## Stacktrace

    lib/session_cookie_upgrader.rb:19 - call

[View full stacktrace](https://app.bugsna

[2022-06-14 06:30] mkllnk commented on #9302
Not that important.

Comment added in Bugsnag by Maikel
[**ActiveStorage::IntegrityError** in **active_storage/representations/redirect#show**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/626bc542ec604700086798f6?event_id=62a81cb5009518fa15ad0000&i=gh&m=cm)

[2022-06-14 06:48] mkllnk opened #9303 "WEBP files can't be used as product images"
## Description

Our app fails to process .webp files and they are not displayed anywhere. We are just missing the library to do that.

## Expected Behavior

Webp files uploaded as product image are displayed.

## Actual Behaviour

An error is raised and the images appear broken in the app.

## Steps to Reproduce

1. Go to `/admin/products`.
2. Upload a webp file.
3. Observe the display.

## Animat

[2022-06-14 07:26] mkllnk commented on #6011
This is a bit different after Active Storage. The file is actually not saved but still displayed in the form when the error occurs. Clicking the link just shows a blank page.

[2022-06-14 07:27] mkllnk commented on #6563
I believe that this has been solved with Active Storage.

[2022-06-14 07:27] #6563 closed

[2022-06-14 07:29] mkllnk commented on #9297
Just as an idea, what if we removed the image upload from this form? Why do we need several places to upload images? And wouldn't it be much more reliable to first ensure that a product record exists in the database and then upload the image?

[2022-06-14 07:34] filipefurtad0 commented on #9131
Hey @georgethoppil ,

Yes, this is still ongoing. I think we can split this into two issues:
- #9299
- #9168 -> not sure if really a bug. However it is the missing shipment which breaks the summary page, so perhaps worth a thought...

I'll make an epic out of the present issue which I think we can close, after these related issues are addressed.

[2022-06-14 08:17] RachL commented on #9275
I have the same question than @mkllnk : can't address line 2 be used for landmark?

[2022-06-14 08:20] drummer83 commented on #9297
I'd vote for keeping it here.
If everything goes well, then the product is all set up just on this page.
Only more advanced features like variants, bulk buy etc. require to visit the detailed product page.
I don't think we want users to search for the place to upload images.
Let's keep it simple, let's keep it here. 😉

[2022-06-14 08:28] RachL commented on #9297
@drummer83 but you can also create a product with product import. In this case you will never see this page ;) Product import does not create images, and having to visit the detailed product page to upload your images is a real pain.

Also I find it intuitive to click on the image to upload or change it from the bulk product page. So I don't think it's a good move to remove it from the the bulk pr

[2022-06-14 08:45] RachL opened #9304 "As a shopper, I can have a better feedback on cancelled orders"
## Description
**- As a:** shopper
**- On page:** `/account#/orders`
**- I want to be able to do:** See when orders are cancelled

-  Replace the "view" column by "status" column,
-  Add a link on confirmed status only, to view the order.
-  Remove links from order numbers
-  Add a flash error after cancelling

Previously:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135

[2022-06-14 09:08] drummer83 commented on #9297
?? Nobody wants remove anything from the bulk product page...

Maikel proposed to remove image upload from the 'new product' page.
I proposed to keep it, because it is all in one place.

[2022-06-14 09:48] drummer83 commented on #5721
I believe this one progressed to more browsers now. I've seen it on Chrome, Firefox and Edge and in DE, UK, AU, USA.
![20220614_111127.jpg](https://user-images.githubusercontent.com/1790176/173548460-b6e2aa1a-5f42-40b4-9f3a-8c8915b20414.jpg)
![Screenshot_20220614-111227_Chrome.jpg](https://user-images.githubusercontent.com/1790176/173548500-8538f1db-2403-43bc-92ae-e49287c60303.jpg)
![Screenshot_20

[2022-06-14 09:54] RachL commented on #9297
@drummer83 ah sorry I missinterpreted because Maikel proposed to remove to avoid maintaining several places where we upload images. As you said we need to keep it here I interpreted that we keep it _only_ here.

Not 100%. When you need to add labels etc it's in the details edit page.

[2022-06-14 11:17] drummer83 commented on #9297
Yes, I am aware:

[2022-06-14 13:30] jibees commented on #9289
Some issues (memory leak?) on `fr-prod` but finally in prod!

[2022-06-14 13:30] #9289 closed

[2022-06-14 18:50] #9275 closed

[2022-06-15 08:47] jibees opened #9309 "Admin, Bulk Edit Product: can't clone a product"
## Description
_Context: Trying to reproduce https://github.com/openfoodfoundation/openfoodnetwork/issues/660_

As an admin, from the Bulk Edit Product interface, it is impossible to clone a product. Clicking on the icon on the right of each row triggers an error, that seems to be related to ActiveStorage:
[code]
As I've the exception in french (although my interface is in EN...), I also copy/past

[2022-06-15 08:56] sigmundpetersen commented on #9309
As #660 is an S3, I would say this also is S3

[2022-06-15 10:41] RachL opened #9310 "Total by suppliers report is not merging product quantity when selecting multiple shops"
## Description

We need to revert https://github.com/openfoodfoundation/openfoodnetwork/pull/9268 for Total by suppliers

On staging the report gives:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/3e7d1050-a329-4881-b381-0b872ceb5144)

Lines with the same product should be merged has this report does not have a distributor column.

## Steps to Reproduce

1. Go to admi

[2022-06-15 11:01] RachL opened #9311 "Remove code generating receipts"
### What we should change and why (this is tech debt)

Receipts were a feature develop by FR for FR needs back in 2017. After that, France (the country) issued some legal framework around receipts and this feature became obsolete.

OFN therefore introduced a switch in `admin/invoice_settings/edit` which allowed instance managers to turn this feature on/off to help FR transitioning to other solutio

[2022-06-15 11:45] filipefurtad0 commented on #9310
Ok, I see. This is the regression, right?

Before #9268:
![image](https://user-images.githubusercontent.com/49817236/173819330-167d8246-b8c3-4007-825e-26cf970736b2.png)

After #9268:
![image](https://user-images.githubusercontent.com/49817236/173819413-f450d064-a795-4b74-9963-0849c32f113e.png)

But is the solution to revert #9268 (closed an S1) or rather fix this S2?

[2022-06-15 11:48] RachL commented on #9310
@filipefurtad0 yes I think this is it.

Is it worth to check all sub reports to check if we have not another regression? Looking at what they are supposed to show (and my old files) it does not seem so, but I wonder :/

[2022-06-15 14:33] drummer83 commented on #9298
Hi @uzorjchibuzor, and welcome!
Yes, of course, I will assign it to you!
Don't hesitate to ask questions here or in our Slack in case you get stuck!

Looking forward to your contributions! 🥳

[2022-06-16 03:58] mkllnk commented on #9002
They can not log in? That's weird. Maybe they need to switch to another shop first...

Can you share some user ids for testing?

[2022-06-16 06:49] leopengilley commented on #9296
@drummer83 Hey Konrad, can I have a go please?

[2022-06-16 07:32] drummer83 commented on #9296
Hi @leopengilley, welcome! Great to have you here!
I will assign it to you!
Have fun and get in touch if you need support! 😊

[2022-06-16 12:52] tschumilas commented on #9002
Login is successful. She can access any shop.  She can access her account...     But  she can't access a private shop that uses tags.  Tagging doesn't 'work' (my technical description) with the guest-stuck login.  I've redone tags - doesn't matter.  I've done tags in a different shop - doesn't matter.  User 418  login is:  'hello@smellslikeflowers.com'   The user doesn't want to use a different lo

[2022-06-16 13:08] RachL opened #9315 "Allow super admin to activate if "company number" is mandatory or not"
## Description
**- As a:** super admin
**- On page:** `/admin/invoice_settings/edit`
**- I want to be able to do:** I want to be able to activate or deactivate the fact that "company number" is required to print invoices.

Mockup:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/aadaf9e9-7cd4-4373-bff9-266b25f4ff8b)

Context : https://github.com/openfoodfoundation/wishli

[2022-06-16 13:20] RachL opened #9316 "Implement new action dropdown for (bulk) invoice printing"
## Description
**- As a:** enterprise user or super admin
**- On page:** `/admin/orders`
**- I want to be able to do:** see the new action dropdown on the list of orders.

The scope here is just to introduce the new design. It means the dropdown will only have one action : **Print invoice**. After that, other issues will cover other actions.

Design is located here : https://www.figma.com/proto/PB

[2022-06-16 18:37] saunmanoj888 commented on #9210
Hello @jibees
I have created a PR https://github.com/openfoodfoundation/openfoodnetwork/pull/9318 to resolve the above issue, but I'm unable to add reviewers, assignees, and labels to the PR. Can you please do the needful?
Thanks

[2022-06-16 22:35] drummer83 opened #9319 "Order Cycle Customer Totals report: Summary row populated when it shouldn't be"
## Description

During testing of #9246 it was discovered that also in the Order Cycle Customer Totals report there are some columns populated in the summary row, where it doesn't make sense. The following columns should not be populated:
- Hub
- Customer
- Paid?
- Order cycle
- Payment method
- Order number
- Date

## Expected Behavior

The listed columns should be blank in the summary row.

## A

[2022-06-17 01:00] mkllnk commented on #9302
An error linked to this issue has been reopened in Bugsnag
[**ActiveStorage::IntegrityError** in **active_storage/representations/redirect#show**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/626bc542ec604700086798f6?event_id=62abd210009513368d7c0000&i=gh&m=eu)

[2022-06-17 07:29] jibees opened #9320 "Release v4.2.1"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Merge [Transifex pull request]
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Re

[2022-06-17 07:30] #9228 closed

[2022-06-17 08:22] RachL commented on #9319
@drummer83 have you compared with the previous version of the report? IMO at least hub, customer, order number and date are definitely needed otherwise it will break all my integrations so I'm quite sure they are needed :-),

[2022-06-17 08:53] #9310 closed

[2022-06-17 12:31] drummer83 commented on #9319
@RachL Oooops, sorry about your integrations! :smiley:
No, I didn't check. I just thought "calculating" totals of dates and order numbers doesn't make any sense. And I saw that in the other Order Cycle reports we only have totals where it actually does make sense.
But no problem, feel free to close! :+1:

[2022-06-17 12:44] RachL commented on #9319
@drummer83 I could be wrong, but thinking about it maybe it's not only integrations? For example, let's say you open the doc in a spreadsheet and want to sort by name or order date. Without those info on the total lines, these lines will be separated from the rest of the order and grouped together by the spreadsheet as "empty dates" or "empty hub/ customers" at the end of the table.

So I edited t

[2022-06-17 14:26] RachL commented on #9320
everything is looking good. I'd say this looks ready to ship!

https://docs.google.com/document/d/1cbDn_cZv9YEnnZfiOVE5iY98EpYpBC-6SR9xMYXdK1k/edit#

[2022-06-20 23:41] #9031 closed

[2022-06-21 03:28] mkllnk commented on #9240
This is still a problem. Australian production is now at 97% disk use.

[2022-06-21 08:32] filipefurtad0 opened #9324 "Selectivel publishing/sharing Matomo metrics"
This is a spike to evaluate on the best way to selectively publish/share information from Matomo dashboards.

This came up here:
https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1655797392833719

[2022-06-21 08:32] filipefurtad0 opened #9627 "Selectively publishing/sharing Matomo metrics"
This is a spike to evaluate on the best way to selectively publish/share information from Matomo dashboards.

This came up here:
https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1655797392833719

[2022-06-21 16:26] #9256 closed

[2022-06-21 16:37] drummer83 opened #9336 "Error 500 (snail/slug) when deactivated user tries to access his/her account"
## Description

In #9154 the functionality of deactivating/disabling users was introduced. However if a user is still logged in while he/she is being deactivated and then tries to access his/her account there is an error 500.

## Expected Behavior

If the deactivated user tries to access the account, he/she should be redirected to the main page with the flash error shown here:
![grafik](https://us

[2022-06-21 16:56] drummer83 opened #9337 "Super admin: Don't prefill password on user page"
## Description

If the browser has a users login data stored and the super admin want to make changes on the /admin/users/[ID] page, there is an error, because the password is prefilled but the password confirmation is empty.

## Expected Behavior

The password field is there only to provide a new password. If other changes are made on that page, the password field should simply be empty.

## Actu

[2022-06-21 17:12] #7905 closed

[2022-06-21 17:31] drummer83 opened #9338 "Deactivated user: Redirect to homepage with flash error when trying to access /admin"
## Description

When a deactivated user tries to access an admin page, he/she is redirected to the homepage with the login modal open. Trying to log in there redirects to the homepage without login modal - which feels like the user has successfully logged in, but he/she actually hasn't. He/she can access shops but the checkout flow is broken: Clicking checkout in the cart always takes the user bac

[2022-06-21 23:59] #9303 closed

[2022-06-22 01:02] mkllnk commented on #9240
Since the old Metabase connection is not active any more, we stopped converting the Postgresql WAL files into JSON for streaming and Postgresql was keeping all the WAL files which are filling up the disk. I removed the replication slot to tell Postgresql that we don't need those WAL files any more:
[code]

I'm not sure when Postgres is cleaning up but I hope it's soon. We are at 98%. Maybe I need

[2022-06-22 01:07] mkllnk commented on #9240
Uh, it has done it within a few minutes. 7GB of space freed up.

[2022-06-22 01:07] #9240 closed

[2022-06-22 06:45] mkllnk commented on #8983
Okay, another check:

* fr-prod is using storage in Europe.
* fr-staging is using the bucket `ccs-ofn-staging` which is in US East (N. Virginia) us-east-1.
* The staging bucket is in the default region and therefore doesn't need a config parameter for this.
* Staging is correctly configured and works correctly with Active Storage.

I can close this issue. :smile:

[2022-06-22 06:45] #8983 closed

[2022-06-23 02:16] mkllnk opened #9344 "Release v"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Merge [Transifex pull request]
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Re

[2022-06-23 04:00] mkllnk commented on #9279
An error linked to this issue has been reopened in Bugsnag
[**ActionView::Template::Error** in **spree/admin/images#index**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62a12321bb3da700089c72e8?event_id=62b3e56b0094ff771e2b0000&i=gh&m=eu)

[2022-06-23 09:11] jibees commented on #9315
I guess it's also available for "Send invoice" action?
<img width="214" alt="Capture d’écran 2022-06-23 à 11 11 11" src="https://user-images.githubusercontent.com/296452/175262953-3a37e171-3af8-4cab-bef8-1751a74128e7.png">

[2022-06-23 09:29] RachL commented on #9315
@jibees yes good catch

[2022-06-23 11:09] saunmanoj888 commented on #9337
hii @drummer83
Can this issue be assigned to me? If the fix is not required urgently. I can work to fix the issue this weekend.

[2022-06-23 11:21] drummer83 commented on #9337
Cool @saunmanoj888,

I have assigned it to you!
It is not super urgent! 👍🏻

[2022-06-23 13:54] RachL commented on #9315
@jibees the checkbox should make ABN mandatory or not, same as bulk invoice printing or invoice printing.

Why do you mention phone number? It's currently mandatory as well?

[2022-06-23 16:14] vsmay98 commented on #9338
Hi @drummer83
Can I work on this issue?

[2022-06-23 18:32] tschumilas commented on #9290
This is not only about changing shipping fees.  It applies to any order changes -  adding/deleting products,  changing weight on variable weight products,  adding/removing an adjustment of any kind,   changing any kind of fee ....    The issue is that when a payment is accepted (via the checkmark) from the orders list,    the amount of the payment that will be applied does NOT appear on the orders

[2022-06-24 00:27] gracejam commented on #8156
This bug has popped up again, another AUS instance hub reached out as it was creating confucion in packing, and is also occurring in reports:

Eg order R811387780 screenshots below

Order in back office (expected behaviour):
![order back office](https://user-images.githubusercontent.com/106228095/175436296-2ae9ce65-4eed-4d6e-b7f9-1ecfb136a03b.jpg)

Order Confirmation email (reported bug behaviour)

[2022-06-24 09:06] RachL commented on #9338
Hello @vsmay98 yes it's cleaner if we do it for any page rather than just the admin :+1: You can go ahead :)

[2022-06-24 09:19] filipefurtad0 commented on #9290
This concerns cash payments and occurs only if the editing of the order happens after checkout, right?
If so, then I think the app is working correctly.

Currently, the hub can add additional payments under `/admin/orders/order_number/payments`, if needed. One can even void the first payment and add a second payment, including the order total. In any case, all changes on payments are listed on inv

[2022-06-24 19:49] #8899 closed

[2022-06-24 20:56] drummer83 commented on #9344
Hey,
I've tested this release. No findings.
Here are the testing notes: https://docs.google.com/document/d/1CwQ7TXembyY8cGKyoPmuOLIW9O5Wdp3CGkYMnqbotlI/edit?usp=sharing

**Ready to go!**

[2022-06-24 21:53] drummer83 commented on #9338
Thanks for your PR, @vsmay98! It is now in code review by our developers. This may take a few days or so and will probably not happen during the weekend. There seems to be a conflict with another PR #9341. We will get back to you if we need to.
In the meantime feel free to pick another issue and let us know!

Have fun! And thanks again! :smiley:

[2022-06-24 22:06] drummer83 commented on #9290
Yes @tschumilas, same question here! :+1:

Can you explain why you are thinking that this is correct, @filipefurtad0? The order can be changed before the cash payment and then clicking 'capture' should capture the current amount and not the original one, shouldn't it?

[2022-06-27 06:41] mkllnk opened #9355 "Embedding group page with invalid URL raises error"
## Description

The groups page is checking the browser supplied `referer` header but expects it to be a valid URI. Apparently, sometimes it's not valid and then the page is inaccessible.

## Expected Behavior

The page still shows.

## Actual Behaviour

A snail is shown.

## Steps to Reproduce

I was unable to reproduce this because my browsers (Firefox and Chrome) corrected the URL automatically

[2022-06-27 07:23] filipefurtad0 commented on #9290
Hi @drummer83,

I've found no specification pointing out this should be the correct behavior.

Also, the [user guide](https://guide.openfoodnetwork.org/basic-features/orders/view-orders#capturing-a-payment) reads:

"Note that this will capture the full amount of the order as paid."

I believe "as paid" refers to the amount seen by the customer when checking out, and not after order edits. So, IMO

[2022-06-28 13:40] jibees commented on #9316
On the new design, seems that we inverse the "selection/action" and "number of result". I'm happy with that, and I think it's a better UX, but I'm wondering if I should do the same for the products interface (which has almost the same layout).

<img width="1467" alt="Capture d’écran 2022-06-28 à 15 38 54" src="https://user-images.githubusercontent.com/296452/176192984-b801f8d0-a145-4c4a-a940-2a4

[2022-06-28 15:18] RachL commented on #9316
@jibees yes that'd be nice. But let's check how it goes with back office UI uplift?

[2022-06-28 15:54] jibees commented on #9316
Ok, so no update for products interface for now, only in orders. Nice.

[2022-06-29 09:16] jibees commented on #9178
Quick question: should the input be a text input or a textarea? Ie. should the note contains more than 1 line?

[2022-06-29 10:55] RachL commented on #9178
@jibees let's start with a text input, but it'd be nice if we could show the user when they are reaching the max. number of characters allowed, so they can fix before saving?

[2022-06-29 11:24] filipefurtad0 opened #9369 "Orders and Fulfillment - OC Supplier Totals: String can't be coerced into BigDecimal"
## Description

The Summary Row in Orders and Fulfillment - OC Supplier Totals threw this error:

https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/62bc33632bc8c30008400c7c?filters[event.since]=30d&filters[error.status]=new

It seems like a one off event, but worth keeping an eye on... Needs investigation to rank this one in terms of severity, steps to reproduce...

## Expected Behavior

#

[2022-06-29 17:20] #9316 closed

[2022-06-29 17:37] filipefurtad0 commented on #9315
This PR also made me wonder... Should we keep allowing for PDF printing _without_ ABN?

[2022-06-29 17:59] RachL commented on #9315
@filipefurtad0 I'm afraid using checkbox and ticked and ABN can be missinterpreted, so to put it in other words:

- In FR it is mandatory to have an ABN to issue an invoice
- In CA or UK it is not

So if the checkbox is ticked, you cannot print a PDF _without_ an ABN (FR case).

[2022-06-29 18:07] #9315 closed

[2022-06-30 06:30] jibees commented on #9178
yes, It'd be nice, I agree !

What about 280 car max?

[2022-06-30 08:19] RachL commented on #9178
let's go :+1:

[2022-07-01 06:59] jibees commented on #9304
hi @binarygit 👋
And welcome to OFN! Sure I can assign it to you! Feel free to ask for question, learning HAML shouldn't take to much time ;)

[2022-07-01 07:23] jibees commented on #9068
It seems to be an exception, not an error: ie. I'm not sure this error should be displayed to the end-user ; actually, I'm also not sure this error is relevant in this case (why creating a stock item because of on_demand?)

[2022-07-01 07:45] jibees commented on #9068
Trying to sumup
|  unit  |  on_demande | stock_items  |
|---|---|---|
| `120`  |  checked  |  `<Spree::StockItem id: 104, stock_location_id: 1, variant_id: 104, count_on_hand: 0, created_at: "2022-07-01 17:41:07.715372000 +1000", updated_at: "2022-07-01 17:41:07.715372000 +1000", backorderable: false, deleted_at: nil, lock_version: 0>`  |
|  `120g` | checked   |  `empty` |

[2022-07-01 09:16] #9180 closed

[2022-07-01 09:41] #9337 closed

[2022-07-01 09:48] #9296 closed

[2022-07-01 12:21] jibees opened #9379 "Release v4.2.4 Choucroute"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfood

[2022-07-01 15:09] jibees commented on #9309
The stack trace:

[code]

[2022-07-03 05:33] binarygit commented on #9304
Hey @jibees
The flash message after shopper cancels an order is not displaying. I think that this function is responsible for displaying the flash:

[code]

But this function is not being called. I tried to follow the program execution using debuggers and execution does not stop here after order is cancelled. Execution does stop here for other flashes, like the one after a user logs in.

I'm not s

[2022-07-03 05:46] binarygit commented on #9304
Strangely,
if I change the code in ` /app/views/shared/_flashes.html.haml` to display the flash, like so:
[code]
The flash is displayed correctly after an order is cancelled. But for the other flashes, expect after cancelling an order, TWO instead of one flash is displayed.
I am guessing that this file is here to display flash _after_ the front end has been converted from Angular to Hotwire. But i

[2022-07-03 17:30] saunmanoj888 commented on #9231
hii @drummer83
Can I pick this issue?

[2022-07-03 19:39] drummer83 commented on #9231
Sure, please go ahead, @saunmanoj888! 😊

[2022-07-04 09:43] RachL commented on #9324
@filipefurtad0 I'm moving this to the wishlist repo: if it's a papercut maybe we could prioritize it with instances :)

[2022-07-04 09:45] jibees commented on #9304
Hey @binarygit

I'm not that familiar of this part of code, but what I've saw:

- `shared/flashes` file render `flashes` object (event if it's `flash` in the ruby code, like `flash[:error] = I18n.t(:orders_could_not_cancel)`

[code]

- Flash message render when redirecting to `main_app.order_path(@order)` but not when redirecting to `request.referer` (ie.  spree.account_path `/account#/orders` aka

[2022-07-04 11:46] filipefurtad0 opened #9382 "Not possible to send invoices, if the (non-mandatory) ABN not filled in"
## Description

Follow-up from #9348.

Even though the superadmin option "Require an ABN to generate an invoice?" is not checked (set to false), it is not possible to send invoices.

## Expected Behavior

If the superadmin option "Require an ABN to generate an invoice?" is not checked (set to false), it should be possible to send invoices.

## Actual Behaviour

If the superadmin option "Require an

[2022-07-04 11:59] filipefurtad0 commented on #9379
Release is good to go!
https://docs.google.com/document/d/1Lfqi46bNwvp1rDyHfzbg7KUUKBuvGP7ihEGMRw1O4_w/edit

Issue related to PR https://github.com/openfoodfoundation/openfoodnetwork/issues/9382
Not a blocker IMO.

[2022-07-04 16:14] drummer83 opened #9384 "Format ALL money amounts in report spreadsheets and on screen as numbers"
## Description

Follow up of #9229.

According to [testing notes of #9229](https://github.com/openfoodfoundation/openfoodnetwork/pull/9229#issuecomment-1161768607) we still have some money amounts in the report spreadsheets and on screen formatted as 'text' or 'text with currency'. These formats can't be used for calculations and should be converted to numbers as in all other reports.

Affected re

[2022-07-04 17:15] drummer83 opened #9385 "Super admin: Renaming the header taxon not working when right clicking and selecting 'edit'"
## Description

Follow up of #9255.

Renaming the header taxon is not working when right clicking and selecting 'edit'. The problem is that the input field at the top of the page is not updated accordingly when updating the 'edit' page.

Also related:
- #9386
- #9387

## Expected Behavior

The changes should take affect as soon as 'update' has been clicked on the 'edit' page of the header taxon.

[2022-07-04 17:33] drummer83 opened #9386 "Super admin: Changing the order of taxons is not working"
## Description

Follow up of #9255.

Changing the order of taxons is not working. The order is currently not being used anywhere in the front end, but it may be used at a later point (see [this comment](https://github.com/openfoodfoundation/openfoodnetwork/pull/9255#issuecomment-1158906907)).

Also related:
- #9385
- #9387

## Expected Behavior

Changing the order of taxons and clicking 'update' s

[2022-07-04 17:58] drummer83 opened #9387 "Super admin: Deleting the last taxon or header taxon using right click 'remove' does not work"
## Description

Follow up of #9255.

Deleting the last taxon or header taxon using right click 'remove' does not work. After clicking 'update' and checking again, the deleted taxons are back.

Also related:
- #9385
- #9386

## Expected Behavior

Deleting taxons using right click 'remove' should remove the taxon.

## Actual Behaviour

After clicking 'update' and checking again, the deleted taxons a

[2022-07-05 07:35] lin-d-hop commented on #8904
As per a chat in delivery train, can we spend an hour or so just documenting what the different fee types and groupings are?
It would be good to be able to document in the user guide how different types of fees are grouped and summarised on invoices.

From there we might find that there are good tweaks we can make for transparency while not losing any clever grouping that has been done in the past

[2022-07-05 13:10] #9379 closed

[2022-07-06 01:03] binarygit commented on #9304
@jibees Thanks for your input :) I was able to make the flash render on redirect using
[code]
 This is what the page looks like rn

![orders](https://user-images.githubusercontent.com/87677429/177440547-e35c7707-8b95-4518-8af7-f309e7834dae.png)

I wanted to ask if these requirements are to be applied to the Open Orders table too, as you can see I have only changed the styling in Past Orders table

[2022-07-06 07:27] RachL opened #9388 "Handle plural on the new order selector"
## Description

**- As a:** enterprise user or super admin
**- On page:** `admin/orders`
**- I want to be able to do:** we selecting several orders I should see a plural. This is not visible in English :

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/f14691cd-c55c-4a74-b508-db5c424a3f39)

but it's visible in other languages like french :

![image.png](https://images.ze

[2022-07-06 07:52] jibees commented on #9304
Let's ask @openfoodfoundation/train-drivers-product-owners ;)

[2022-07-06 09:10] binarygit commented on #9304
@RachL Hey! :smile:

![openorder](https://user-images.githubusercontent.com/87677429/177513236-4840a2b3-ad51-4a83-84cc-57faddaa53d8.png)

is this fine? I just removed the links from Order Number in Open Orders. I realized the other two requirements don't apply here as there's no status column.

[2022-07-06 09:19] binarygit commented on #9304
Have already added the flash error. Will open a PR now. Thanks!

[2022-07-06 11:59] filipefurtad0 opened #9538 "Track 404 errors in bugsnag"
## Description
Currently, we only monitor error 500 with bugsnag. All other inconsistent server replies like, 404, 502, etc, etc... (the list is long), are not tracked - (please correct me if I'm wrong). It would be interesting to be able to track these inconsistent replies/errors as a basis for improvements. Starting here with 404 errors to help track broken links.

## Acceptance Criteria & Tests

[2022-07-07 03:35] mkllnk opened #9391 "Release v4.2.5"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-07-07 21:39] #9068 closed

[2022-07-07 21:47] #9299 closed

[2022-07-07 22:45] #9248 closed

[2022-07-08 09:13] drummer83 opened #9397 "Notes on orders: Immediately edit or delete the note (and tracking information)"
## Description

Follow up of #9368
Some improvements of usability and to make sure the implementation is according to specification ([see mockup here](https://github.com/openfoodfoundation/openfoodnetwork/issues/9178#issue-1234182060)).

## Expected Behavior

- As soon as clicking the 'edit' icon, the cursor should be placed at the end of the note to start typing without an extra click.
- Add the

[2022-07-08 11:10] #9230 closed

[2022-07-08 11:13] #9178 closed

[2022-07-08 16:50] filipefurtad0 opened #9398 "Downtimes caused by orders and fulfillment report"
## Description

UK and FR have been having downtimes since the reports overhaul. Last time reported was a few weeks ago, see [here](https://openfoodnetwork.slack.com/archives/C01T75H6G0Z/p1656517709091749?thread_ts=1656508480.737279&cid=C01T75H6G0Z).

## Expected Behavior

All sub-reports from orders and fulfillment should have the name of the last order cycle pre-selected, on `Order Cycle` field

[2022-07-09 14:50] binarygit commented on #9397
hello! Could you please assign this to me?

[2022-07-09 15:04] drummer83 commented on #9397
I would love to, but I still can't. Not sure why. We will fix that on Monday. 👍🏻

[2022-07-09 16:19] sigmundpetersen commented on #9397
Hey @drummer83 I think it's a bug in Zenhub so it only works if opening the issue in its own tab 👍

[2022-07-10 06:43] binarygit commented on #9398
Hey :wave: @filipefurtad0 I'd like to help out with this. However, I can't find the file that's actually responsible for the search bar. I know that the page like: `http://localhost:3000/admin/reports/orders_and_fulfillment/order_cycle_supplier_totals` is rendered by `app/views/admin/reports/filters/_orders_and_fulfillment.html.haml` But it's a simple rails view and I think the search bar function

[2022-07-11 08:15] filipefurtad0 commented on #9398
Hi @binarygit ,

Welcome. Thanks for your interest on this issue. I'm afraid I won't be able to provide any more insight than @jibees already has on with the reply above. I'll assign you to the issue for now, but if it turns out to be too challenging feel free to move on to another one.

Thank you :pray:

[2022-07-11 09:18] binarygit commented on #9398
Hey @jibees. Sorry, I think I was unclear on what I am not finding. The line of code you mention does render the component but it's a simple rails `select` helper and doesn't have the features that this component has, namely the input element that enables type and search (which is why I called it a search bar :smile: )

![search-bar](https://user-images.githubusercontent.com/87677429/178230210-29a

[2022-07-11 09:25] jibees commented on #9398
Ok, now I understood what you mean!
We used to use the npm package `select2` (https://www.npmjs.com/package/select2) and gem `select2-rails` (https://github.com/argerim/select2-rails) to render such component.
But now, we decide to transition to `tom-select` (https://tom-select.js.org/) that is bases on stimulujs. you can find example in our code by searching `tom-select`, for example:

https://gi

[2022-07-11 09:29] binarygit commented on #9398
gothca! Thank You!

[2022-07-11 13:47] drummer83 commented on #9384
@jibees This issue is mainly about xlsx and on screen. Did you include them in your PR as well?

[2022-07-11 13:48] jibees commented on #9291
It's intentional: rendering a summary (which has a particular formatting) seems to be impossible in json nor in csv (CSV file requires an equal number of columns on each lines).

I would vote to add an explanation about why it doesn't work, but it's intending.

wdyt @openfoodfoundation/train-drivers-product-owners ?

[2022-07-11 13:50] jibees commented on #9384
sure!

[2022-07-11 14:08] jibees commented on #9291
yeap, sorry, same for header.

I really agree to your mockup, and I'll try to implement this, since it's making totally sense.

[2022-07-12 12:52] jibees commented on #9291
I'll unassign myself from this one at we've more urgent to do

[2022-07-13 18:31] Philwi commented on #9166
Hey, I would like to tackle this one. Could you assign me, please? :)

[2022-07-13 18:57] drummer83 commented on #9166
Sure, @Philwi! I have assigned it to you.
Make sure you read the comments above and check out the preparations mgrigoriev8109 has already provided.

Looking forward to your contribution and don't hesitate to ask here or in our Slack in case you get stuck! 😊

[2022-07-13 22:00] drummer83 opened #9409 "Finalize usability optimizations of notes and tracking information"
## Description

Follow up of #9399

Some open issues were found during implementation and testing of #9399. These are summarized in this issue.
Please note that each issue can be solved independently of the others.

## Expected Behavior

1. Use the same red highlighting and crossed out text styling when hovering over the 'delete' icon as on product items.
2. When creating a new back office order (

[2022-07-14 01:49] #9397 closed

[2022-07-14 10:30] filipefurtad0 opened #9418 "Matomo tracking code not within the <head> section of the page"
## Description

Matomo recommends tracking code to be included in the `<head>` or `<footer>` section of pages, as mentioned [here](https://developer.matomo.org/guides/tracking-javascript-guide) and on recent exchanges with [customer support](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1657596168256429?thread_ts=1656112099.621609&cid=CG7NJ966B).

This is currently not the case, see for in

[2022-07-14 10:37] filipefurtad0 opened #9411 "Matomo tracking code missing from /register page"
## Description

Matomo tracking code seems to be missing from the `/register` page, although it can be found in other pages.

## Expected Behavior

Matomo tracking code should be found in all pages (right?)

## Actual Behaviour

Matomo tracking code missing from `/register` page.

## Steps to Reproduce

1. Log in as a customer.
2. Visit `view-source:https://openfoodnetwork.ca/register`
3. Notice t

[2022-07-14 10:37] filipefurtad0 opened #9534 "Matomo tracking code missing from /register page"
## Description

Matomo tracking code seems to be missing from the `/register` page, although it can be found in other pages.

## Expected Behavior

Matomo tracking code should be found in all pages (right?)

## Actual Behaviour

Matomo tracking code missing from `/register` page.

## Steps to Reproduce

1. Log in as a customer.
2. Visit `view-source:https://openfoodnetwork.ca/register`
3. Notice t

[2022-07-14 15:34] drummer83 commented on #9391
Hi @mkllnk,

I have tested this release and nothing unusual was found. Testing notes are here: https://docs.google.com/document/d/1Q4T3GwYMfFPDB1l1q6PBKQhlWYNu1RKk__U-wopIads/edit?usp=sharing

Ready to go! :rocket:

[2022-07-15 08:57] binarygit commented on #9409
Hey @drummer83 :wave: I want to take a crack at this, could you assign it to me?

[2022-07-15 09:02] drummer83 commented on #9409
Here you go! 💪

[2022-07-16 07:56] binarygit commented on #9398
Hey! sorry, I only had time to work on this today which is why it took a bit of time to complete. Please check the PR and let me know if there's anything!

[2022-07-17 18:49] saunmanoj888 commented on #8806
hello @drummer83
Seems there has been no update on this issue lately. Can I pick this issue and work on it?

[2022-07-17 22:02] drummer83 commented on #8806
Of course, @saunmanoj888! This would be great!
Let us know if any requirements from the discussion above are unclear. Always better to ask before implementing! 😉
I have assigned the issue to you! 💪🏻

[2022-07-18 09:47] binarygit commented on #8806
Hey @saunmanoj888 @drummer83 I was just browsing through the issue list and realized that this PR https://github.com/openfoodfoundation/openfoodnetwork/pull/9390 closes this issue.

[2022-07-18 10:05] jibees commented on #8806
`cable_ready` comes from ReactiveRails approach, mainly discussed here: https://community.openfoodnetwork.org/t/reactive-rails/2125

Hope this helps

[2022-07-18 11:28] saunmanoj888 commented on #8806
thanks @binarygit
I can look into some other issues if this one is resolved in #9390
cc @drummer83

[2022-07-18 17:24] RachL commented on #9398
Just to be sure here: we adding the last order cycle but we are not removing dates, is that correct?

[2022-07-18 17:49] RachL opened #9420 "Resend confirmation email in bulk (from the admin orders page)"
## Description
**- As a:** enterprise user and super admin
**- On page:** `admin/orders`
**- I want to be able to do:** select several orders and send them per email (same action that is available under the edit button today, but this time in bulk)

![image](https://user-images.githubusercontent.com/6525576/179571871-9ba2b2fc-40ed-4cfb-808f-9545ebee1dca.png)

Use this design for the confirmation m

[2022-07-18 17:50] RachL opened #9421 "Bulk order actions"
An epic to group all bulk order actions needed

[2022-07-18 17:58] RachL opened #9422 "Cancel orders in bulk (from the admin orders page)"
## Description
**- As a:** enterprise user and super admin
**- On page:** `admin/orders`
**- I want to be able to do:** select several orders and cancel them (same action that is available under the edit button today, but this time in bulk)

![image](https://user-images.githubusercontent.com/6525576/179774364-ae97210a-911a-4499-8fb1-4a805aa27757.png)

Use the same design for the confirmation modal

[2022-07-19 00:14] binarygit commented on #9398
yup @RachL just adding the last order cycle but not removing the dates.

[2022-07-19 00:21] #9391 closed

[2022-07-19 00:27] binarygit commented on #9422
Hello, I would like to take this on, could you assign it to me please?

[2022-07-19 07:47] sigmundpetersen commented on #9422
Yes, thank you @binarygit , go ahead 🙂

[2022-07-19 13:47] drummer83 commented on #9422
Hey @RachL and @binarygit,
I guess the action should read 'Cancel orders' and not 'Cancel invoices' (see screenshot above), right?
Just to clarify and get the label right from the beginning...

[2022-07-19 14:12] RachL commented on #9422
@drummer83 @binarygit ah yes copy paste problem!

[2022-07-19 18:11] audez opened #9427 "[Admin dashboard] Make the shop URL clickable"
## Description
On the admin dashboard, in "[Enterprises](https://coopcircuits.fr/admin/enterprises)" > "Primary details", the url pointing to the shop is not clickable.

## Expected Behavior
The URL should direct to the shopfront by a simple click. The URL should be underlined (and of a different color ?) to outline that it is an actual link.

## Actual Behaviour
The URL is a text that can't be cl

[2022-07-19 23:41] #9167 closed

[2022-07-21 07:56] filipefurtad0 opened #9435 "[Flaky] /consumer/shopping/shopping_spec.rb:529"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/7444089845?check_suite_focus=true

Previous issues:

- #7677
- #7669
- #8830

[2022-07-21 08:33] RachL commented on #8897
@jibees can you select by default when there is only one? (that should be 90% of the cases). Then for the people who forgot to delete or actually have several cards, what about what Louise said in the expected behavior? Like you can't allow charges if no default card is selected?

[2022-07-21 08:37] RachL commented on #8904
The main target here is to remove fee types. Can we do this with keeping the grouping or is it too complex?

[2022-07-21 08:41] jibees commented on #8897
@RachL
Thanks for the answer. I think that:
 - Mark as the default card if only one card,
 - do not allow to click on checkbox "Allow Charges to Default Card?" until no card is marked as default

should be enough.

[2022-07-21 08:44] lin-d-hop commented on #8897
Small correction:
- Mark as the default card if only one card :heavy_check_mark:
- do not allow to click on checkbox "Allow Charges to Default Card?" **IF** no card is marked as default

[2022-07-21 08:50] lin-d-hop commented on #8904
Now I've forgotten why we can't just put the Fee Name in the summary rows. Most enterprises do not have a lot of fees and we'll only be showing the fees that are not percentage based. To me it makes sense that we just use the Fee Name for all flat fees and then go ahead and remove the fee types.

Or maybe I am forgetting some detail...

[2022-07-21 09:22] RachL commented on #8904
@lin-d-hop we can. I was afraid this grouping was made on purpose because enterprises didn't want the list of fees. But let's do it then!

[2022-07-21 09:25] lin-d-hop commented on #8904
Maybe it was.... but I think it is now just opaque and unhelpful to group in this way, particularly as so many people use fees for discounts.

[2022-07-21 12:09] jibees commented on #8897
The question is: should I delete angularjs of this page (widely used)?
if yes, this should be no more a papercut
if no, this should be a papercut

[2022-07-21 12:13] RachL commented on #8897
I think you've answered you own question? :) Let's keep it papercut :+1:

[2022-07-21 12:21] RachL commented on #8385
As we cannot reproduce it for now. I'm closing this one :)

[2022-07-21 12:21] #8385 closed

[2022-07-21 12:26] #9418 closed

[2022-07-21 14:56] #3975 closed

[2022-07-21 15:01] #9382 closed

[2022-07-21 15:02] #9409 closed

[2022-07-21 15:02] #9231 closed

[2022-07-21 15:38] #8445 closed

[2022-07-21 15:41] jibees opened #9438 "Release v4.2.6"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches

[2022-07-21 16:01] drummer83 opened #9626 "Crop the enterprise logo instead of squeezing it to size"
## Description
**- As a:** enterprise or admin user
**- On page:** `/admin/enterprises/release-farm/edit#!#images_panel`
**- I want to be able to do:**

If an enterprise logo is uploaded in a non-square ratio, the image will be squeezed to size. This can lead to unreadable and ugly logos. Cropping at the center (like we do on product images as well) makes sure that at least any text on the image i

[2022-07-21 17:19] audez opened #9439 "[Admin dashboard] Unable to view/print/download invoices in Safari"
## Description
When the admin wants to print an invoice, it first opens the file in a new tab. But in Safari web browser, a security error prevents the admin to visualize this file. As opening the invoices in a new tab is the only way to access them, it's impossible to print or download them.

## Expected Behavior
In Safari, when clicking on "Print invoices", whether from the ["Orders" page](https

[2022-07-21 21:31] Philwi commented on #9427
Hey, I would like to start with this ticket. Could you assign me?  :)

I have one question: should the click on the link open a new tab or on the same tab?

[2022-07-22 04:40] binarygit commented on #9422
Hello, I've been looking at how this feature could be implemented but I can't seem to find where the `order.cancel` method is defined. I want to see how it's been written so that I know what happens. This is the code that fires the `cancel` method on an order:

[code]

I checked the orders model. I found an `allow_cancel?` method but there's no `cancel`

[2022-07-22 06:56] jibees commented on #9422
Event/State for ActiveRecord model in our codebase is handled by `state_machines-activerecord`. For order, this is tested through the file `spec/models/spree/order/state_machine_spec.rb`
You probably also want to check `app/services/customer_order_cancellation.rb` and the associated PR: https://github.com/openfoodfoundation/openfoodnetwork/pull/6720

[2022-07-22 09:23] saunmanoj888 commented on #9423
hii @drummer83
Can I work on this issue?

[2022-07-22 09:47] drummer83 commented on #9423
Here you go! 💪🏻

[2022-07-22 12:22] audez opened #9441 "[Admin dashboard] Missing translations when printing invoice"
## Description
Some strings are displayed in French, they should be translated to English.

## Steps to Reproduce
1. In the Admin dashboard, go to Orders page.
2. Select an order, click "Actions" button, "Print invoices"

## Animated Gif/Screenshot
![Screen Shot 2022-07-22 at 14 14 31](https://user-images.githubusercontent.com/28386648/180437973-21888ce5-8067-4dce-afc1-2caac315f188.png)
-------
![

[2022-07-22 14:45] jibees commented on #8904
Not sure to understand, i'll try to sum up:

 When displaying order on page `/orders/R_ORDER_ID`, fees should be displayed as they are displayed in the admin section (ie. `/admin/orders/R_ORDER_ID/edit`), as then both displays are equivalent:
<img width="1041" alt="Capture d’écran 2022-07-22 à 16 18 22" src="https://user-images.githubusercontent.com/296452/180458796-a806a437-6c2d-4484-98ea-8ea56

[2022-07-23 20:22] aintluks commented on #9291
Hey guys, I've been trying this one. But there's something here that doesn't make sense to me because it's not working

On file `app/views/admin/reports/_rendering_options.html.haml` I've added the `{'ng-model' => 'report_format'}` here:

`= select_tag :report_format, grouped_options_for_select({ |
      t('.formatted_data') => { t('.on_screen') => '', "PDF" => 'pdf', t('.spreadsheet') => 'xlsx' }

[2022-07-24 04:38] binarygit opened #9443 "Convert notes/tracking workflow into Stimulus"
### What we should change and why (this is tech debt)

As OFN is transitioning to use StimulusJs in the frontend, replace the Jquery code that handles the creation, editing, deletion, and the hover effects on notes/tracking info in orders.

The Jquery code lives in: `/app/assets/javascripts/admin/spree/base.js` (handles the hover effect when hovering over edit/delete btns), `/app/assets/javascript

[2022-07-24 13:27] saunmanoj888 commented on #9423
hii @drummer83
 Going through the title and description of this issue, I just want to confirm that we just need a translation for the section name `Calculator`. We don't want to change `Calculator` to `Fees`. Am I right here?

[2022-07-24 15:53] drummer83 commented on #9423
Hi @saunmanoj888,
it's great that you are asking! 👍🏻
Yes, we only want the section header to be changed to fees (added the green circle).
![Screenshot_20220724-175049_Firefox.jpg](https://user-images.githubusercontent.com/1790176/180655564-b988259d-a9d9-4fb6-8b0b-22b66fdac615.jpg)
Looking forward to this contribution! 🤗

[2022-07-25 08:09] jibees opened #9445 "Add prettier to our stack"
### What we should change and why (this is tech debt)
As we will more and more use StimulusJS and add controllers, it's a good idea to all have the same formatter in order to have a clean git history.
https://prettier.io/ is the tool for that

Question is:
 - should we add a git hook? https://prettier.io/docs/en/install.html#git-hooks
 - should we use a gh action? https://github.com/marketplace/ac

[2022-07-25 12:11] binarygit opened #9447 "Convert Admin Order Cancellation Workflow to Stimulus"
### What we should change and why (this is tech debt)

As OFN is transitioning to use StimulusJs in the frontend, remove all Jquery/Angular code that handles admin orders cancellation to Stimulus. The existing jquery/angular code resides in: `app/assets/javascripts/admin/spree/orders/variant_autocomplete.js.erb`

### Context

### Impact and timeline

[2022-07-25 13:20] filipefurtad0 commented on #9438
Hey @jibees ,

v4.2.6 is good to go!! :tada:
https://docs.google.com/document/d/18VztkBOVs8p64q-7H1G_H-9pdIX7yhWh_nqaGiOK-ZY/edit#

[2022-07-25 13:43] jibees commented on #9291
I don't think it's a good idea to add some angularjs here, as our global goal is to remove it, and remplace with StimulusJS (https://stimulus.hotwired.dev/).
Would you mind please use StimulusJS for this one?

[2022-07-26 08:17] RachL commented on #9441
FYI I've checked transifex and the keys are correctly translated. So the bug is somewhere else :+1:

[2022-07-26 08:24] RachL commented on #9427
Yes, create a new tab is the way to go 👍 1:

[2022-07-26 10:42] #9438 closed

[2022-07-26 13:57] #9388 closed

[2022-07-26 16:32] audez opened #9561 "[Admin][Orders page] Add a dedicated email for pickup orders when switching shipment state to "Shipped""
## Context
Some hub managers that use the "Pick up" shipping method want to be able to differentiate an order that is ready from an order that has been distributed. For this, they use the "Ship" button (road icon) in the [Orders page](https://coopcircuits.fr/admin/orders), which switches the Shipment state from "Ready" to "Shipped". But clicking on this button automatically send the customer an em

[2022-07-27 13:50] audez opened #9468 "[Shopfront] Link to hub with "hide all references" setup is still displayed in producers profiles"
## Description
Even if a hub selects the "hide all references" settings to make its shopfront completely invisible, the reference is still displayed in its producers profiles.

This impacts hubs that want their shops to remain private, for example hubs that have a pro and public shop, because they don't want customers to see that they apply different prices to their products.

## Expected Behavior

[2022-07-27 14:39] RachL commented on #9468
Bite me. I forgot the producer profiles in https://github.com/openfoodfoundation/openfoodnetwork/issues/8896

Good news: we have user who actually visit producer profiles!

[2022-07-28 01:00] mkllnk opened #9471 "Release v4.2.7"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready and notify testers.
- [x] Test: h

[2022-07-28 14:05] audez opened #9473 "[Admin] [Products] Price is changed when using coma separator for decimals"
## Description
In the admin dashboard, when creating or importing a product, the price will be changed if you use a coma separator for decimals in the price field.

## Expected Behavior
The price should remain the same than the one you indicated.

## Actual Behaviour
The final price is the typed price x 10.
For example, if you type 2,4 it turns into 24.

## Steps to Reproduce
1. Connect to admin >

[2022-07-28 14:24] audez opened #9474 "[Admin] [Products] Unit value is changed when using coma separator for decimals"
## Description
In the admin dashboard, when **importing** a product, the price will be changed if you use a coma separator for decimals in the units field. This doesn't seem to be the case when you create the product from the dashboard.

## Expected Behavior
The units value should remain the same than the one indicated in the imported CSV.

## Actual Behaviour
The final price is is rounded to the

[2022-07-28 14:25] audez commented on #9473
could be one with  #9474 ?

[2022-07-28 14:28] RachL commented on #9474
@audez this happens also when you convert to UTF-8 ? I'm surprised it's possible to distinguish between the coma used as separator and the coma of the number. I wonder if it's safer to not allow comas 🤷

[2022-07-28 14:50] jibees commented on #7983
**1. Check why the shipping tax is always displayed at 0 even though there are shipping taxes**

I couldn't reproduce that particular case.

With a Shipping Tax with amount at `0.2`, I've the following:
<img width="608" alt="Capture d’écran 2022-07-28 à 16 48 41" src="https://user-images.githubusercontent.com/296452/181566486-5784841e-dee2-4fd0-9c86-7ac378cf7aec.png">
<img width="751" alt="Captu

[2022-07-28 16:17] lin-d-hop commented on #7983
Yes please this is the standard way tax is displayed on invoices when included in price.

[2022-07-28 19:21] filipefurtad0 commented on #7983
Uff - this has been a while and I needed another dive in this.

To my understanding, the issue concerns only instances like CA which:

- have tax added to the price (i.e. not included)
- use the standard invoice

On the points you raise:

This has been solved as pointed out [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/7989#issuecomment-895976569) and scratched out from the des

[2022-07-29 08:49] jibees commented on #7983
Hey @filipefurtad0
Thanks a lot for your comment, very useful.

Sorry, but there is another noob question, I just want to be sure I've the right configuration regarding what you meant... Here's my configuration:

1. Hug charge GST
<img width="385" alt="Capture d’écran 2022-07-29 à 10 45 03" src="https://user-images.githubusercontent.com/296452/181721232-a79fd553-001b-4279-99ff-faddff5b4a3b.png">

[2022-07-29 09:46] filipefurtad0 commented on #7983
Thanks JB,

That's a bit mysterious... Ok, I'll try to reproduce this in staging and then in a spec - ideally? This way we have a specific configuration which we could run and see if it breaks, upon any changes.

I wonder how does the adjustments tab `/admin/orders/<order_number>/adjustments` look like? Investigating.

Great, that seems to make sense with the current behavior :+1:

[2022-07-29 09:49] RachL commented on #9471
Looking good :muscle: this is ready to go! https://docs.google.com/document/d/19KD8XFHwu2WRF0THxv-oS1peRYJnKu6xgtR6uIfENjc/edit#

[2022-07-29 10:46] filipefurtad0 commented on #7983
Adding to my previous comment: I can only reproduce [your previous findings]( https://github.com/openfoodfoundation/openfoodnetwork/issues/7983#issuecomment-1198251293) :+1: My setup is in the [attached PDF file](https://github.com/openfoodfoundation/openfoodnetwork/files/9219199/tax_not_included_legacy_invoice.pdf).

Now on to put this on a spec.

[2022-07-29 11:20] lin-d-hop opened #9477 "Bye Bye Angular"
## What is the problem we are solving

This is an epic to capture issues of removing Angular from the OFN codebase.
We are replacing AngularJS with StimulusReflex

## Useful information for inception

https://community.openfoodnetwork.org/t/reactive-rails

Slack Channel - #bye-bye-angular

[2022-07-29 11:21] lin-d-hop opened #9478 "[Bye Bye Angular] First Steps in Enterprise Settings"
Enterprise Settings will be the first area tackled in the removal of Angular.

Task 1: Implement the side menu navigation system (see `app/assets/javascripts/admin/enterprises/controllers/side_menu_controller.js.coffee`)

Task 2: Each section of the form should submit to rails controller and nothing should be handled by AngularJS

Task 3: Ensure that each of the following pages have all angular re

[2022-07-29 11:29] lin-d-hop opened #9479 "[Bye Bye Angular] Enterprise Settings -> 'Primary Details'"
Implement Stimulus in the "Primary Details" section:

Task One - Should have a stimulus controller that react on some input changes (ex do not show the field "permalinkCtrl" until sells == 'own' or 'any', ...). Should be generic as possible since will probably widely used in others sections
Estimate - 4hrs

Task Two - Implements the `permalink_controller` as a Stimulus controller
(see `app/assets/

[2022-07-29 11:32] lin-d-hop opened #9480 "[Bye Bye Angular] Enterprise Settings -> 'Address'"
Implement Stimulus in the "Address" section

Task One: Implements the `country_controller` as a Stimulus controller
(see `app/assets/javascripts/admin/enterprises/controllers/country_controller.js.coffee`)
Estimate: TBC

task Two: Remove `select2` and use `tom-select`
Estimate: >4hrs

[2022-07-29 12:49] lin-d-hop opened #9481 "[Bye Bye Angular] Enterprise Settings -> 'About'"

[2022-07-29 12:59] lin-d-hop opened #9482 "[Bye Bye Angular] Enterprise Settings -> 'Business Details'"

[2022-07-29 13:09] lin-d-hop opened #9483 "[Bye Bye Angular] Enterprise Settings -> 'Images'"
Implements Stimulus in the "Images" section.

Task One: Use the native FileReader API to read the image file and display it in the browser with a StimulusJS controller
Estimate: >4hrs

Note: Maybe out of scope

[2022-07-29 13:10] jibees commented on #7983
I agree that analyzing the content should be enough, as we probably can select _easily_ values inside the `<table />`. Would you mind create that spec?

[2022-07-29 13:17] lin-d-hop opened #9486 "[Bye Bye Angular] Enterprise Settings -> 'Shipping Methods'"
Implements Stimulus the "Shipping Methods" section:

 Task One: Remove the use of `shipping_methods_controller`
(see `app/assets/javascripts/admin/shipping_methods/controllers/shipping_methods_controller.js.coffee`)
Estimate: TBC

[2022-07-29 13:27] lin-d-hop opened #9488 "[Bye Bye Angular] Enterprise Settings -> 'Payment Methods'"
Implement Stimulus in the "Payment Methods" section

Task One: Remove the use of `payment_methods_controller`
(see `app/assets/javascripts/admin/payment_methods/controllers/payment_methods_controller.js.coffee`)
Estimate: TBC

[2022-07-29 13:29] lin-d-hop opened #9489 "[Bye Bye Angular] Enterprise Settings -> 'Tag Rules'"
Implement Stimulus in the "Tag Rules" section

Task One: Remove `TagRulesCtrl` controller
(see `app/assets/javascripts/admin/tag_rules/controllers/tag_rules_controller.js.coffee`)
Estimate: TBC

Task Two: Remove the use of `tags_with_translation` directive
(see `app/assets/javascripts/admin/utils/directives/tags_with_translation.js.coffee`)
Estimate: TBC

[2022-07-29 13:52] lin-d-hop opened #9490 "[Bye Bye Angular] Enterprise Settings -> 'Shop Preferences'"
Goal: to remove Angular from this page as part of the strategy to #9477
Some notes are below, but please ask `@openfoodfoundation/developers` if anything is unclear.

- [x] Replace text editors with Trix
- [ ] "Display ordering in shopfront": enable/disable according to selection (probably use `toggle_control_controller`)
- [ ] "Sort Order Cycles On Shopfront By": something with ng-model? appears

[2022-07-29 13:58] lin-d-hop opened #9491 "[Bye Bye Angular] Enterprise Settings -> 'Users'"

[2022-07-29 14:01] RachL opened #9492 "[Missing translation] OFN's error page aka the snail"
## Description
Most of OFN's error page display this content:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/599e9b0d-0e4a-45d4-8fad-85261baf64a7)

This page is always shown in English despite OFN being translated in over 20 languages. Let's change this

## Expected Behavior
See the page in the language of the user

## Actual Behaviour
Page is available in English only

[2022-07-29 14:28] RachL opened #9493 "Weird decimals when using 12 or 24 as weight in imperial metric system"
## Description

When adding 12 or 24 as product weight in an imperial system, ends up with a huge number of unnecessary decimals.

## Expected Behavior
Keep just 12 and 24 - no decimals

## Actual Behaviour

![image](https://user-images.githubusercontent.com/6525576/181781290-ac3e3a26-2252-43f0-bdc3-a9696e0bea7a.png)

![image](https://user-images.githubusercontent.com/6525576/181781422-eb3e61ff-10

[2022-07-29 17:34] audez commented on #9474
yep, in UTF-8. You mean a comma used as a separator in a string, and the comma used as separator in a number? I dont think there can be a confusion, as "price" and "units" are fields in which you only expect a number. IMO it's fine to allow commas, and it looks like it's already half handled: for units it's ok in both the "Import validation view" and in product creation. So I guess the thing would

[2022-07-29 18:37] audez opened #9494 "[Product import] Some products are duplicated instead of updated"
## Description
In the admin dashboard, if you import a file to update products, it can create duplicates for some products. Weirdly it seems to only apply to products which unit type is **ml (or mL)** and **quantity is between 688 and 703**. It's the same behavior whether you first create the product from the dashboard or from an import file.

It impacts hubs using csv imports to update their prod

[2022-08-01 09:42] BethanOFN commented on #9292
Also getting reports of this issue from other UK customers (Down Farm)

[2022-08-01 12:27] jibees commented on #9493
Did I already told that I hate when javascript is doing math?

[code]

![6ok6hs](https://user-images.githubusercontent.com/296452/182147388-d66f6f9c-0a72-45e0-8167-09cfda57c8a7.jpg)

[2022-08-01 12:34] jibees commented on #9493
Ok, WTF

![6ok79l](https://user-images.githubusercontent.com/296452/182148675-e031b354-d09c-4d69-91c2-a643b169c51c.jpg)

[2022-08-01 15:21] filipefurtad0 opened #9498 "Order Cycle Supplier Totals By Distributor displays Hub column on position 4"
## Description

Some Orders And Fulfillments reports display HUB column on the first position:
- Order Cycle Customer Totals
- Order Cycle Supplier Totals By Supplier

while some display HUB column on position 4:
- Order Cycle Supplier Totals By Distributor

## Expected Behavior

All HUB columns should be displayed on position 1

## Actual Behaviour

HUB column is in different positions throughout

[2022-08-01 15:22] filipefurtad0 commented on #9498
Issue moved to [openfoodfoundation/wishlist #252](https://github.com/openfoodfoundation/wishlist/issues/252) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-01 15:22] #9498 closed

[2022-08-01 15:50] filipefurtad0 opened #9499 "Remove I18n.t(<key>) from automated tests"
### What we should change and why (this is tech debt)

We should remove `I18n.t(<key>)` from assertions on automated test and replace them with the respective string.

### Context

This is a fairly old discussion; came up recently [here](https://openfoodnetwork.slack.com/archives/C02TZ6X00/p1658187213357489?thread_ts=1658137192.453269&cid=C02TZ6X00).

Discourse links:

https://community.openfoodne

[2022-08-01 15:57] filipefurtad0 opened #9500 "Add yaml-lint and/or i18n-tasks to improve translation files"
### What we should change and why (this is tech debt)

Related to  #9499.
Removing I18n translations from specs should ideally be complemented by adding:

- [yaml-lint](https://github.com/Pryz/yaml-lint)
- [i18n-tasks](https://github.com/glebm/i18n-tasks) - manage track/manage unused translations -> needs to be accessed whether it [actually provides value](https://openfoodnetwork.slack.com/archive

[2022-08-02 07:53] mkllnk commented on #9125
The docs enable us to add descriptions to each feature: https://www.flippercloud.io/docs/ui

It doesn't list them automatically but we could do that in the banner at the top at least. Otherwise we could go through the list of feature and add them to the database if they are not there yet.

[2022-08-02 08:09] #9384 closed

[2022-08-02 08:10] #8806 closed

[2022-08-02 08:10] #9304 closed

[2022-08-02 08:10] #9423 closed

[2022-08-02 16:21] #9471 closed

[2022-08-03 08:09] #8912 closed

[2022-08-03 09:57] audez opened #9509 "[Admin] [Products] Missing/wrong translations"
## Description
In Admin > Products, two strings are displayed in French, they should be translated to English.
The French translation of the "Par défaut" button is incorrect.

## Expected Behavior
"Colonne" button must be translated to "Columns".
"Par défaut" button must be translated by "Save" in English, and "Sauvegarder" in French.

## Steps to Reproduce
1. In the Admin dashboard, go to Product

[2022-08-03 14:30] filipefurtad0 commented on #9435
Related:

[code]

[2022-08-03 14:50] audez opened #9511 "[Admin][Order Cycles] Infinite loader displayed below the OC list"
## Description
In the admin dashboard, when a producer opens the OC tab after its distributor has created an order cycle, there is an infinite loader below the OC list. It seems to only apply to Producer Profiles enterprises.

## Expected Behavior
Once the OC list has been loaded, the loader should disappear.

## Actual Behaviour
An infinite loader is displayed. If the enterprise is switched from

[2022-08-03 15:59] RachL commented on #9511
Duplicate of: https://github.com/openfoodfoundation/openfoodnetwork/issues/5831

[2022-08-03 15:59] #9511 closed

[2022-08-03 22:49] amidaOFN opened #9514 "Bulk Co-op reports not showing orders accurately: Orders missing and cancelled orders showing"
## Description
Bulk Co-op reports not showing orders accurately:
Placed orders are missing and a cancelled order showing in:
•	Bulk Co—op Allocation Report
•	Bulk Co-op Packing Sheets
•	The Bulk Co-op Supplier Report
A hub with ID#286 had an OC called ‘JUNE 2022 GROUP 3’ ID#12618 (opened from 29 May to 25 June)
The product that the hub was checking that lead to this is called ‘Organic Basmati Whit

[2022-08-04 06:07] leopengilley commented on #9468
Hey, can I please give this one a go?

[2022-08-04 08:35] drummer83 commented on #9468
Sure @leopengilley! Thanks for working on this!
Looking forward to this contribution! 🤗

[2022-08-04 08:41] audez commented on #5832
I just tested it and it's the same for "Producer Hub" and "Producer Shop" packages, it's impossible to remove oneself from the OC. Same when the producer removes the permission while the OC is ongoing.

So if the coordinator only can remove suppliers from the OC, I agree that the trash bin shouldn't be displayed. Or maybe a more explicit solution could be: display the trash bin but disable it, and

[2022-08-04 09:12] audez opened #9520 "[Admin] [Permissions] Orders disappear from producer's reports after removing permission to distributor"
## Description
Removing permission to a distributor make all orders disappear from producer's reports.

If permission is removed while a distributor's OC is ongoing, the producer's products still appear in the OC, and customers can make orders (see #5832). The orders are available in the hub's reports and hub's Orders tab, but not in the producer's reports (the only place where a producer that sel

[2022-08-05 00:35] #9039 closed

[2022-08-05 07:15] jibees opened #9522 "Release v4.2.8"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] Find build of the release commit and copy it below.
https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/m

[2022-08-05 09:40] RachL commented on #9216
duplicate of #9492

[2022-08-05 09:40] #9216 closed

[2022-08-05 09:46] RachL commented on #6992
I'm closing this one as we haven't had the issue since. We can reopen if needed.

[2022-08-05 09:46] #6992 closed

[2022-08-05 11:39] sigmundpetersen commented on #6332
This can be closed now that we have migrated to Active Storage 🚀

[2022-08-05 11:39] #6332 closed

[2022-08-05 11:51] sigmundpetersen commented on #7854
The gem was removed in #8651 and replaced by a patch.
There is a discussion on removing that patch altogether, so keeping this issue open for reference

[2022-08-05 12:38] RachL commented on #9522
@openfoodfoundation/core-devs a comment on the release template issue: I never use the link next to the testing checkbox to stage, always https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3679 am I doing something wrong? Otherwise maybe the template can be updated.

[2022-08-05 13:43] jibees commented on #9522
You're right, we need to test that build ie. `https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3679` because it's the build of the commit on which the release is drafted.
Not sure to understand what for stand the other link (ie. `https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master`)

[2022-08-05 13:44] RachL commented on #9522
yep me neither, I think we can remove it.

Testing done, another one ready to ship! ⛵

https://docs.google.com/document/d/1SJQGDKhylYgYcBzS5awFME7kNkd7ATgadkGVi__i5zQ/edit#

[2022-08-05 14:25] sigmundpetersen opened #9527 "Find build of the release commit and copy it below.https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3679"

[2022-08-05 14:25] #9527 closed

[2022-08-05 14:34] sigmundpetersen commented on #9522
Maybe the two steps "Find build" and "Move this issue" could be moved up to the "Preperations" section?

[2022-08-05 14:53] jibees commented on #9522
No, I think you're right: I misunderstood the _below_ ;)

If you read at @mkllnk issue, like this one: https://github.com/openfoodfoundation/openfoodnetwork/issues/9471
It's way cleaner !

Thanks @sigmundpetersen will take care the next time!
Sorry for the confusion @RachL !

[2022-08-05 15:08] RachL commented on #4015
@filipefurtad0 do we still need this issue?

[2022-08-05 15:09] RachL commented on #3947
@openfoodfoundation/core-devs as we are on a path to remove Angular, do we want to keep this issue?

[2022-08-05 15:16] RachL commented on #6473
@openfoodfoundation/core-devs do we want to keep this issue?

[2022-08-05 15:17] RachL commented on #6511
@openfoodfoundation/core-devs do we want to keep this issue?

[2022-08-05 15:19] jibees commented on #6473
Nop, we are currently in `angular-rails-templates (1.2.0)` and it's managed by @dependabot-bot

[2022-08-05 15:19] #6473 closed

[2022-08-05 15:20] jibees commented on #6511
Nop, we are currently in `angularjs-rails (1.8.0)` and it's managed by @dependabot-bot

[2022-08-05 15:20] #6511 closed

[2022-08-05 15:23] RachL commented on #7415
I'm closing as this was on the old checkout and apparently never occurred again.

[2022-08-05 15:23] #7415 closed

[2022-08-05 15:24] RachL commented on #7405
@filipefurtad0 do we still need this issue? As we are not testing product import on release testing anymore?

[2022-08-05 15:27] RachL commented on #7853
@openfoodfoundation/core-devs do we still have those warnings here?

[2022-08-05 15:33] RachL commented on #8948
As this is a prod-test, at this stage I'm confident with the use of the feature toggle to gradually increase to test this in production. I will keep this thread up-to-date as soon as we start opening the new checkout to new users again: https://community.openfoodnetwork.org/t/new-checkout-feature-split-checkout-rollout/2546 to follow. Closing here

[2022-08-05 15:33] #8948 closed

[2022-08-05 15:33] RachL commented on #8667
Everything is closed here, so closing :)

[2022-08-05 15:33] #8667 closed

[2022-08-05 15:34] filipefurtad0 commented on #7405
We are :+1: And indeed the first item can be scratched out (updated). But that model/unit test is still as before. I'd keep it open with the current updates.

[2022-08-05 15:37] RachL commented on #8846
this is an epic, but no issues related. So closing.

[2022-08-05 15:37] #8846 closed

[2022-08-06 21:42] Julien-Lopez commented on #9092
Hi everyone!

I'm very interested in the project, if you don't mind I would like to try to tackle this issue to get familiar with the code. :slightly_smiling_face:

[2022-08-07 17:18] jibees commented on #9092
hi @Julien-Lopez 👋
Welcome here!

I'll assign you to the issue, and thanks a lot. feel free to ask question, and join the slack: https://openfoodnetwork.org/slack-invite

[2022-08-08 02:48] mkllnk commented on #9522
I tried to clarify: https://github.com/openfoodfoundation/openfoodnetwork/commit/63d2d69d08e3002bb1d3bde0916207d041375112

This also removes the need to replace text. There's just an empty space now.

[2022-08-08 02:50] mkllnk commented on #7853
Yes, I still see warnings, for example:
[code]

[2022-08-08 04:41] #9445 closed

[2022-08-08 08:01] RachL commented on #9092
@Julien-Lopez welcome! Just FYI subscriptions can be very tough code to start with. If you feel overwhelmed, don't feel bad and move to another issue. We have some issues labeled `good-first-issues` and we have this board also we we try to triage by type of skills: https://github.com/openfoodfoundation/openfoodnetwork/projects/27

[2022-08-08 14:56] filipefurtad0 opened #9650 "General and tag tracking code are added to the same pages"
## Description

Following an interaction with customer support from Matomo, we've learned that we need to remove the **standard tracking code** from pages in which we add the **tag manager tracking** code. We should not have both.

For reference, see this [message/thread](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1659718376860509?thread_ts=1656112099.621609&cid=CG7NJ966B).

This seems

[2022-08-08 18:33] lin-d-hop commented on #9537
I would say that blocking this is the feature to save report display options.
Once that is in place we should be looking at adding missing fields to reports on a mass scale but by default showing the old report settings.... then no integrations would be impacted and we could explode functionality of reports quickly.

[2022-08-09 06:55] jibees commented on #9522
Thanks perfect, thanks!

[2022-08-09 06:57] Julien-Lopez commented on #9092
Thank you @jibees and @RachL ! I'll work on this in my spare time and switch to a simpler issue if I'm stuck. I tried a patch on the controller that failed probably because of a fail-safe on the model, so I'll investigate there next.

[2022-08-09 10:42] binarygit opened #9541 "Replace JQuery tooltips plugin"
### What we should change and why (this is tech debt)

As we are moving away from Angular and JQuery to stimulus, it is necessary to replace the JQuery tooltip plugin with something new.

### Context

This was talked about here: https://openfoodnetwork.slack.com/archives/C03QBDHDCSY/p1659443811447199

### Impact and timeline

[2022-08-09 15:04] #9522 closed

[2022-08-09 18:21] audez opened #10024 "[Reports] Add filter by distributor in "Orders And Distributors" report"
## Context
Some producers need to generate a report of the orders made in each of their distributor's shops, with products' SKU and quantities.  The Orders and Distributors report almost does this, but you cannot currently filter on Hub.

## Description
On the Orders and Distributors report, let's add a filter 'Hub'.
This is already done on other reports eg Orders and Fulfilments

![Screen Shot 20

[2022-08-09 19:39] jibees commented on #9494
I tried to reproduce it on local (to see if somehow, I can fix it through the PR #9497) but I failed to reproduced it although it is super simple to see it in `fr-staging`

[2022-08-09 19:43] audez opened #9546 "[Reports] Disable "Header row" option in .csv exports of packing reports"
## Description
In Reports > Packing reports(admin/reports/packing), the display option "header row" should be disabled for .csv exports.

## Expected Behavior
In the packing reports the "header row" checkbox should be greyed out, as it is not possible to display the header row in csv files (identically to the "summary row", see #9291 ).

## Actual Behaviour
The "header row" checkbox can be checked

[2022-08-09 19:46] jibees commented on #9546
Sorry, but I think it's a duplicate from #9291 (which should be edited I think)

[2022-08-09 20:25] audez opened #9547 "[Product imports] Smart quotes (’) handled differently than straight quotes (')"
## Description
When typing an apostrophe in the admin interface, the quote is straight: fred**o's** farm
But when you create a product file (a csv file for example), the quote can be straight or smart: fred**o’s** farm
(this will depend on the formatting you choose in your spreadsheet software.)

This causes troubles when you import the product file, notably:
- If the enterprise name has a quote i

[2022-08-09 21:23] RachL commented on #9546
@jibees as there is already a PR attached, I was too lazy to update it :)

[2022-08-09 21:33] RachL commented on #9546
@audez FYI header row were never included in .csv. Total rows were, perhaps they were referring to that? In any case, I'm surprised they like .csv : do you know why they use this format? We are not going to add any formatting to .csv form anymore, it will stay a "raw" version. The .xlsx version is the one with the shiny stuff :D So I'm wondering what's blocking them to use the spreadsheet version?

[2022-08-09 22:18] filipefurtad0 opened #9548 "Incorrect tax calcuation for customers outside taxed zone (inclusive tax), i.e. tax refund"
## Description

Relates to  #9153.

Tested for legacy checkout.

When the scenario is:
- zone set as default included tax
- customer with a bill/ship address outside that zone

Then the tax adjustment will be incorrect upon checkout (order confirmation emails, invoices, etc). It can be corrected by the admin by editing the order and clicking "update and calculate fees".

## Expected Behavior

Tax

[2022-08-10 08:23] audez commented on #9546
Thanks guys! And sorry for the duplicate, my issue searching skills really needs improvement 😳
I thought the total rows were there in the csv, so i figured he was talking about the summary rows. But yes you're right, as I see now, there's no total row in the csv neither, and that was the problem. I just called him and he said he used csv because he didn't see the others, but now it's fine he will

[2022-08-10 08:32] audez commented on #9537
hi! @RachL we have a producer who is also struggling and asking to add the "Shipping method" column in the "Pack by customer" report. Having this data would allow him to directly sort/group the orders by shipping method in his export file. For now he manually adds the Shipping methods to the export file.

[2022-08-10 10:17] filipefurtad0 commented on #9131
I'd close this issue, as it should be addressed by #9299. We can reopen if this is verified in production again.
I'd keep #9168 open as it seems like the root cause.

 Ok with everyone?

[2022-08-10 10:20] RachL commented on #9131
Yes :muscle:

[2022-08-10 10:27] RachL commented on #9537
@audez just to detail a bit my thinking:  a lot of data of pacing reports are shared with Orders & fulfillments reports. If users can hide columns in Total OC by customers, see the temperature columns there and save that rendering, do we still need the Pack by customer report?

I'm not questioning the fact that shipping methods are useful for packing, just commenting on the fact that increasing th

[2022-08-10 10:28] RachL commented on #9546
cooool :) Nice one @audez :muscle: And again don't worry about duplicates ;)

[2022-08-10 10:34] RachL commented on #9537
Agreeing for now. But on the long run we will need to make tough decisions on cleaning a bit the reports section so that we have fewer reports, more performant, and easier to maintain that the patchwork we have today. This will impact integrations. The longer we wait, the more integrations will be impacted by this change. So we need to keep it in mind to not end up with something we are afraid to

[2022-08-10 11:40] BethanOFN opened #9553 "Removing customer tag fails to save when using search bar for said tag"
## Description

We created an integration for an enterprise that allowed new customers to create an account with a specific tag entitling them to a discount. The discount was only intended for first orders, so the tag needed to be removed from customers who had since placed an order. The enterprise had a large customer list so in order to find the required customers, we searched the relevant tag '

[2022-08-10 15:51] apricot12 commented on #9179
@RachL Is there any kind of design cues available about how you'd want this to look like?

Should it be at the way bottom in bold text, should it be centered, etc..?

[2022-08-10 15:55] lin-d-hop commented on #9179
The design cue is in the issue:
![Screenshot from 2022-08-10 16-55-18](https://user-images.githubusercontent.com/8669848/183955380-5424fa0c-7ea2-460c-be40-06baf8d72ba1.png)

[2022-08-10 16:08] apricot12 commented on #9179
![image](https://user-images.githubusercontent.com/65319144/183959073-c5f66d4e-7494-453e-91aa-325ac97a5d8c.png)
So this is exactly what we want, yes? I think it's done.

[2022-08-10 16:20] RachL commented on #9179
Perfect :+1: Welcome back @apricot12 :tada: !!!

This one will make @tschumilas very happy :)

[2022-08-11 12:31] filipefurtad0 opened #9555 "Upgrade the build environment - 18.04 is deprecated"
### What we should change and why (this is tech debt)

A warning is appearing when the build is ran. Not sure how critical this is.

### Context

See, https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/2838877532/attempts/2:
![image](https://user-images.githubusercontent.com/49817236/184133358-62c12862-d8c9-42cb-8b3f-deb65973ae87.png)

### Impact and timeline

Impact how our build

[2022-08-11 12:33] filipefurtad0 opened #9556 "[Flaky] Alternative Invoice - total tax line"
### What we should change and why (this is tech debt)

This fails consistently on my system, so far never on master, and often on https://github.com/openfoodfoundation/openfoodnetwork/pull/9543.

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/7785026589?check_suite_focus=true

### Impact and timeline

[2022-08-11 15:34] #8897 closed

[2022-08-11 16:09] jibees opened #9558 "Release v4.2.9"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-08-11 20:24] audez commented on #5001
Hi! We have a hub manager that raised the problem (the fact that in step 3 the numbers didn't make sense, ex: 4 of 0 Variants Loaded)

[2022-08-11 20:35] audez opened #9559 "[Admin] Missing translation in error messages"
## Description
In Products > New Product (/admin/products/new), there is an error message when you forget to fill in a field. Translations are missing for the following field names:
- name
- unit value
- price

I couldn't find the missing translations in Transifex.

## Steps to Reproduce
1. In Products, click "New product"
2. Don't fill in the field and clik "Create"

## Animated Gif/Screenshot
![

[2022-08-12 12:51] filipefurtad0 opened #9562 "Error 401 when populating the cart - checking out after a user admin-disabled user attempts log in"
## Description

It is not possible to populate the cart after attempting to log in with a user disabled by the admin, within the same browser/session. This triggers a 401 error.

## Expected Behavior

Despite a previous attempt to log in with a admin-disabled user, logging in with non-disabled account should allow cart populate and checkout.

## Actual Behaviour

After a an attempt to log in with

[2022-08-12 12:52] #9338 closed

[2022-08-12 14:33] filipefurtad0 commented on #9558
Hey @jibees ,
This looks to go - can't say I've spotted something new on release testing:
https://docs.google.com/document/d/1QWoc5_Ny6b-nXTlpCT8UL-KgP9n9rWhWfwye8cRXpkM/edit#

Over to you @mkllnk :tada:

[2022-08-15 04:17] binarygit opened #9564 "Remove Angular from notes/tracking/order editing/deleting workflow in admin/orders/<order num>/edit"
### What we should change and why (this is tech debt)

This issue falls under the ongoing transition from Angular to StimulusJs.
![order](https://user-images.githubusercontent.com/87677429/184575882-8b43fe8f-065a-45ad-befe-ee570abcf5db.png)

We need to replace the Angular code that drives the editing/deleting of notes/tracking info and orders.

### Context

This came up in https://github.com/openf

[2022-08-15 08:51] TimotheDavid commented on #9559
I ll do it its my mother language :)

[2022-08-15 13:14] audez commented on #9473
I'm closing it because I was testing on staging, and the bug does not exists on prod..

[2022-08-15 13:14] #9473 closed

[2022-08-15 13:52] audez opened #9569 "[Admin] [Products] Changing unit value won't work for numbers with a comma separator"
## Description
In the admin dashboard, in "Products" tab, if you update a variant unit value using a comma separator for decimals (for ex "2,5"), it won't work. Whereas it works well when editing the unit value from the product's details.

## Expected Behavior
You should be able to update the variant unit value from the product's list (admin/products). It is already possible in the products detail

[2022-08-16 05:18] #9558 closed

[2022-08-16 19:07] filipefurtad0 opened #9573 "[Split Checkout] Typing /checkout/cart on the URL bar brings back legacy checkout"
## Description

With split checkout fully enabled, on can still visit the legacy checkout if - for example, while on the Details step - one types `/checkout/cart` on the URL bar.

## Expected Behavior

Typing `/checkout/cart` should redirect to the cart page.

## Actual Behaviour

Typing `/checkout/cart` redirects to the legacy checkout.

## Steps to Reproduce

1. As a superadmin, visit the /admin

[2022-08-17 13:46] filipefurtad0 commented on #9036
We already have this in the build, see https://github.com/openfoodfoundation/openfoodnetwork/blob/1ff3d4a534d9205a24eeec8d10d618d929f84b05/Gemfile#L164

Closing.

[2022-08-17 13:46] #9036 closed

[2022-08-17 15:43] #9291 closed

[2022-08-17 16:11] filipefurtad0 opened #9578 "Bugsnag-JS error introduced in #9563"
## Description

`Missing target element "checkbox" for "csv-select" controller`

A bugsnag-JS error was triggered while testing #9563. It went unnoticed as no unusual b
ehavior was observed on the app.

https://app.bugsnag.com/yaycode/open-food-network-js-uk/errors/62fd0b18969f500008e56178?event_id=62fd0b18009659efa2530000&i=sk&m=nw

## Expected Behavior

`Missing target element "checkbox" for "cs

[2022-08-17 16:14] filipefurtad0 commented on #9546
I think we might need to re-open this one as https://github.com/openfoodfoundation/openfoodnetwork/pull/9563 only affects the summary row, [and not the header row](https://github.com/openfoodfoundation/openfoodnetwork/pull/9563#issuecomment-1218190926)?

[2022-08-17 16:41] #9179 closed

[2022-08-17 17:29] audez commented on #9546
Yeah actually the header raw was only mentioned in the comments in #9291 . As far as I understand, both checkboxes should be disabled as CSV is just a raw version. Do you think I could change this issue to "grey out the header row option", and reopen it, or is it better to create a new issue?
Too bad as it could have been done at once 😬

[2022-08-17 17:40] #9355 closed

[2022-08-17 19:05] filipefurtad0 commented on #9546
Thanks @audez, I'd say updating and reopening would be fine :+1:

[2022-08-17 19:33] #9336 closed

[2022-08-17 19:47] #9427 closed

[2022-08-17 20:12] #9492 closed

[2022-08-17 20:36] #9166 closed

[2022-08-17 20:47] filipefurtad0 opened #9579 "Misplaced "Developer Settings" on /account# page"
## Description

Follow-up from #9414.

#9414 introduced the possibility for customers to generate their own API key in a "Developer Settings" which now appears in customers `/account#` page.

This tab appears misplaced, even if not limited by the screen width.

## Expected Behavior

This tab appears next "Account Settings", if not limited by the screen width.

## Actual Behaviour

This tab appears

[2022-08-18 17:40] filipefurtad0 commented on #8770
I'm not sure this is only related to Safari, this seems to have triggered in staging with Firefox 103:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61ebce343d0f08000872149b?filters[event.since]=30d&filters[error.status]=open

[2022-08-19 08:47] filipefurtad0 opened #9580 "[Stripe/active_merchant] Checkout error prevents order completion"
## Description

Probably introduced by #9507 and/or #9456.

Since the last release we're getting errors on _some_ instances:
`lib/active_merchant/billing/gateways/stripe_payment_intents_decorator.rb:60`

**UK**
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/62fb43b59ffd5b0008478b23?filters[event.since]=all&filters[search][]=undefined&filters[search][]=method&filters[search][]=%60first%2

[2022-08-19 09:57] filipefurtad0 opened #9583 "(silent?) Checkout error 404 when order cycle closes during checkout"
## Description

If the OC closes during checkout the user will see an generic error (see Animated Gif/Screenshot section).

I believe we're not getting notified from these errors, as 404s don't trigger the Bugsnag notification flow.

We do get a warning though, each time the OC closes on checkout:
https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61f91350e0348e00089f160f?filters[event.sinc

[2022-08-20 09:02] audez commented on #9485
Up! We have users that don't understand why they can't put the values, they don't get that you have to first update for the relevant fields to be displayed

[2022-08-20 15:08] audez commented on #9561
@RachL I've reworded the content of the email in transifex too, so we don't have more requests while the problem is resolved :)

[2022-08-22 03:16] amidaOFN opened #9584 "Incorrect logo image type prevents changes to enterprise settings and shipping methods"
## Description
Enterprise #9277 was unable to create new shipping methods - trying to save new shipping methods produced error message 'distributors is invalid'.

User also received the error message 'Logo has an invalid content type' when trying to edit enterprise settings such as adding users.

Edits to users appeared to save initially, but when the page was refreshed edits had not saved.

Enter

[2022-08-22 04:21] mkllnk commented on #9580
No, it confirms that the release introduced the bug because I didn't deploy to FR.

[2022-08-22 04:41] mkllnk commented on #9580
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **checkout#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62fc74ff173ec3000888a0ec?event_id=6302d24b00965f22db780000&i=gh&m=li)

[2022-08-22 06:12] mkllnk commented on #9580
An error linked to this issue has been marked as fixed in Bugsnag
[**NoMethodError** in **checkout#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62fc74ff173ec3000888a0ec?event_id=63031584009641a76b4e0000&i=gh&m=fx)

[2022-08-22 06:12] mkllnk commented on #9580
https://github.com/openfoodfoundation/openfoodnetwork/releases/tag/v4.2.10

Comment added in Bugsnag by Maikel
[**NoMethodError** in **checkout#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/62fc74ff173ec3000888a0ec?event_id=63031584009641a76b4e0000&i=gh&m=cm)

[2022-08-22 19:22] audez opened #9589 "[Admin][Permissions] Granting permission to a shop displays it in "Producers" list as if it was a supplier"
## Description
When Shop A grants permission to Shop B to sell its product, these two things happen:
👍- Shop A will appear in Shop B shopfront page, in the Producers list -> this is OK
👎- Shop B will appear in Shop A shopfront page, in the Producers list -> this is not OK , as Shop B is a **distributor** for Shop A, and not a **supplier**.

This has been raised by a shop manager who didn't underst

[2022-08-23 07:30] audez commented on #9559
@TimotheDavid sorry I just edited the issue to add more missing translations in error messages in the Enterprises settings, but I see now that you began to work on it 🤭 should I roll back and create another issue?

[2022-08-24 23:52] #9580 closed

[2022-08-24 23:53] #9478 closed

[2022-08-26 09:56] audez opened #9596 "FR Prod instance down"
## Description
Website completely down.
Then Getting the snail when trying to access any reports at https://coopcircuits.fr/admin/reports

[2022-08-26 10:17] audez commented on #9596
this is OK now. The bug lasted 1h-2h, was reported at 9:55 this morning
- snail on reports
- importing orders to the integrated cash software (Pastèque) failed
- Every page was very slow to load (It was already slow yesterday)

It looks like it might be linked to our previous memory issue..

[2022-08-26 10:22] audez commented on #9596
ongoing work:
https://github.com/openfoodfoundation/openfoodnetwork/issues/9398
https://github.com/openfoodfoundation/openfoodnetwork/pull/9413

[2022-08-26 10:40] RachL commented on #9596
@audez the snail did not occur only on reports, right, on all pages?

As on kuma we can see it's a server timeout:

![image](https://user-images.githubusercontent.com/6525576/186886072-8f0cc166-e809-4a32-ab2b-d44d16af8035.png)

Note we had the same downtime yesterday.

Datadog confirms the first spike occured at 9:49 with some request already starting at 9:39 :

![image](https://user-images.github

[2022-08-26 10:56] audez commented on #9596
thanks! for me the snail occured only when trying to access a report. I tested around 11:30.  I was able to access orders (but it was veeery slow) and all pages were slow. Yesterday everything was slow too. I think I loaded some reports around 12:30 and got no snail though

[2022-08-26 13:22] audez commented on #9596
down again around 15:15

[2022-08-26 13:39] RachL commented on #9596
@audez did you loggedin as super admin or enterprise user?

[2022-08-26 13:46] audez commented on #9596
in a window as super admin and in another enterprise user

[2022-08-26 18:20] saunmanoj888 commented on #9579
hii @filipefurtad0
Can I work on this issue?

[2022-08-26 21:13] sigmundpetersen commented on #9579
Sure go ahead 👍 I'll assign you.
Thanks

[2022-08-27 21:25] krishnasingh001 commented on #9509
Hi @audez
It looks like this issue is resolved.
![image](https://user-images.githubusercontent.com/61962822/187048516-72d0ff03-6b66-47a6-8739-56a84f991916.png)

[2022-08-29 00:49] mkllnk commented on #9596
If it's in the same browser then you are logged in with the same account.

[2022-08-29 05:44] mkllnk commented on #9556
This has been failing on CI quite a lot now. It's quite urgent. It seemed to always pass on my machine but when I kept my CPU busy I had a fail rate of 50%.

I started the command `yes > /dev/null` in four terminals to occupy all four CPUs and then ran this spec ten time:

[code]

[2022-08-29 06:38] mkllnk commented on #9556
It's weird. If my machine is cold, the spec always passes. If I keep it busy and it warms up then after 20 seconds or so the spec starts failing and then it consistently fails until my machine has some time to cool down again.

I compared the generated invoices. The total tax is the only line that's different. Everything else seems correct. The incorrect sum has only the included tax on the shipme

[2022-08-29 07:04] mkllnk commented on #9556
I'm getting there. The data comes from this method:
https://github.com/openfoodfoundation/openfoodnetwork/blob/07018370e03394b636c2b252ba7d865b17c9a92c/app/helpers/checkout_helper.rb#L70-L77

The `totals` give back two tax amounts but in a random order. And because they have the same percentage, the second value overrides the first when we store them in a hash by tax rate. :heavy_check_mark:

[2022-08-29 08:45] RachL commented on #9556
In FR alcohol is taxed at 20% but so is shipping. That's why when you go visit current tax report, you have 2 columns at 20%.

Ideally, we would want shipping to be added on the invoice with a dedicated line (which is the case in the regular invoice template).

But I don't think this is a priority. If this is blocking the current build, I would favor removing the two same rate and create a tech-de

[2022-08-29 10:17] RachL commented on #9583
So this is a message that is not precise enough. I'm downgrading as s3 as we have a very small team currently...

[2022-08-29 14:33] filipefurtad0 commented on #9556
Thanks for jumping into this one @mkllnk , I agree it is urgent. I was unable to find the root cause so far but your investigation is really helpful.

Some comments so far:

Interesting. $270.08 is indeed incorrect, but I haven't really ever observed that value in my system yet. Locally, the spec usually fails with $16.76...

We have three parcels 16.76 + 20 + 250.08 (respectively, the tax value i

[2022-08-29 16:49] filipefurtad0 commented on #9556
I've tested this approach on PR 9602, which is now passing locally. Let's see :crossed_fingers:

[2022-08-29 17:31] audez opened #9603 "[Admin][Order cycle] Same enterprise appear several times in the fees dropdown list"
## Description
When choosing to apply fees in steps 3 and 4 of a hub's order cycle, the same enterprise can appear several time in the dropdown list.

## Expected behavior
One enterprise should appear only one time.

## Steps to Reproduce
1. Connect to an account that has a producer-hub enterprise (with at least one available product so it can be added as a supplier): for ex Enterprise 3949 and 40

[2022-08-29 17:37] audez commented on #9509
Awesome, thanks @krishnasingh001 ! I can't see the change on coopcircuits.fr, but I guess it's because we didn't do the last updates as the other instances

[2022-08-29 17:45] audez commented on #9494
@jibees I tested the import of the same file again in prod, and the issue is still here (file :
[test-weirdo(1).csv](https://github.com/openfoodfoundation/openfoodnetwork/files/9446829/test-weirdo.1.csv)
)

[2022-08-29 17:50] audez commented on #9596
@mkllnk yea thanks :P it was same browser but one private window and one normal so I could test both

[2022-08-29 18:35] audez opened #9604 "[Admin][Fees] Wrong behavior when creating fees"
## Description
You access the fee page through an enterprise settings. You are directed to the page corresponding to this enterprise: admin/enterprise_fees?**enterprise_id=3949**
It displays only this enterprise fees, you don't see other enterprises fees.

The problem is that you can still choose another enterprise, create the fee and click "update" - but nothing will happen (on this page...but th

[2022-08-30 00:02] mkllnk opened #9605 "Tax total shows only total of one tax rate if two have the same percentage"
## Description

France has two separate tax rates at 20% but our code is assuming a unique percentage per tax rate. The alternative invoice (used in France) and packing slips use a method that chooses only one of the two 20% rates to display the total of. So if both tax rates are applied in the same order, the tax total is wrong.

## Expected Behavior

Each tax has a separate total on the invoice.

[2022-08-30 07:42] mkllnk commented on #9596
Probably best to plan downtime between 2am and 7am French time. That should cover my workday very well.

[2022-08-30 08:21] filipefurtad0 commented on #9398
Not the best solution as discussed [here](https://openfoodnetwork.slack.com/archives/C01T75H6G0Z/p1661847250148009?thread_ts=1661847081.332509&cid=C01T75H6G0Z), closing.

[2022-08-30 08:21] #9398 closed

[2022-08-30 11:46] audez opened #9610 "[Checkout] Impossible to checkout on shop 3570"
## Description
Clients can't checkout on shop 3570
https://coopcircuits.fr/lafermemaraichette/shop#/shop
It doesn't work whether choosing to pay with bank card or with cash.

## Expected Behavior
You should be able to checkout.

## Actual Behaviour

When trying with voluntary contribution or bank card, same error:
"The checkout failed. Please let us know so we can proceed your order".

Request URL

[2022-08-30 11:55] filipefurtad0 commented on #9610
It looks like this bugsnag error:
https://app.bugsnag.com/open-food-france/coopcircuits/errors/62ecc2b4c7b65f000c45d1d2?filters[event.since]=30d&filters[error.status]=open&event_id=630dfa3600963db5be290000

[2022-08-30 12:00] audez commented on #9610
thanks! yes indeed, i see me in the request details :) do you know where it can come from?

[2022-08-30 12:09] audez commented on #9610
oh oh !

![Screen Shot 2022-08-30 at 14 08 56](https://user-images.githubusercontent.com/28386648/187432897-5abc4624-6f32-47e7-83f4-3b28d8a162cf.png)

[2022-08-30 12:14] audez commented on #9610
ok I get it: if you choose the option "back office only" in the shipping methods, it displays the previous error in the shipping info, and then you can't checkout
![Screen Shot 2022-08-30 at 14 13 14](https://user-images.githubusercontent.com/28386648/187433856-b751b94e-00d3-4689-981f-c8511f4fcd3e.png)

[2022-08-30 12:17] filipefurtad0 commented on #9610
Whoa - awesome and quick investigation @audez :zap: :raised_hands:

This are some related S3s on this, it appeared before... I'll look for them.

[2022-08-30 12:18] RachL commented on #9610
well done @audez then I guess we can close here? This switch is intended for people to be able to disable their shipping methods from time to time. There are already issues covering the fact that we need to improve the error messages :+1:

[2022-08-30 12:18] audez commented on #9610
no actually it's a fail 😂 i still can't checkout, even with the other option, or after creating new shipping method and payment method

[2022-08-30 12:21] RachL commented on #9610
@audez I can checkout fine. Can you detail the step you do to reproduce?

[2022-08-30 12:28] audez commented on #9610
oh ok cool, in fact it works for me too. It's because i kept the same cart than when i first had the issue. I was able to reproduce only with the same cart with which I had the bug. When i added something to the cart, it was OK!

[2022-08-30 12:39] filipefurtad0 commented on #9610
Should we double check if those customers were not charged, after the first failed checkout attempt? We had something similar [here](https://github.com/openfoodfoundation/openfoodnetwork/issues?q=is%3Aissue+is%3Aclosed+label%3Abug-s2+stripe+debited). We did have a recent Stripe upgrade...

[2022-08-30 12:42] filipefurtad0 commented on #9610
I think this might be the same or very closely related to this issue:
https://github.com/openfoodfoundation/openfoodnetwork/issues/8219

[2022-08-30 12:43] RachL commented on #9610
I don't think it was deployed on FR?

[2022-08-30 12:44] filipefurtad0 commented on #9610
Right! - it didn't - we can scratch that :+1:

[2022-08-30 14:55] audez commented on #9610
You're right @filipefurtad0 I just checked and there has been Stripe payments 😢 and i'm a victim too!

[2022-08-30 15:28] RachL commented on #9610
shall we update 8219 or do we want to open a new issue that merges the two?

[2022-08-31 06:01] #9579 closed

[2022-08-31 09:44] RachL commented on #9443
hello @binarygit I'm just checking in on this one: is this issue still needed? I see connected PR are either merged or closed.

[2022-08-31 10:23] binarygit commented on #9443
Yup this should be closed!

[2022-08-31 10:23] #9443 closed

[2022-08-31 11:39] filipefurtad0 opened #10000 "[Matomo] Track usage of "Shopping @ <shop>" button"
## Description

There are user reports pointing out that the "Shopping @ <shop>" button is not clear. To best assess how to improve this we would ideally track the usage of this button, and how often is it used.

![image](https://user-images.githubusercontent.com/49817236/187669679-6f05f2f0-c2f6-4325-8f81-c7629bd613b4.png)

**- As a:** Matomo user

**- I want to be able to do:** (specify the desir

[2022-08-31 12:34] audez opened #9612 "[Checkout] Fix spacing between texts in shipping and payment info"
## Description
On checkout page, when shipping info or payment info is on two lines, there is a spacing issue, making it difficult to read.

## Expected Behavior
There should be a space between two different shipping or payment methods.
There should be no space  between two lines of the same shipping or payment methods.

## Steps to Reproduce
1. Connect to a shop which has payment or shipping meth

[2022-08-31 12:49] audez opened #9613 "[Admin] Show error message when trying to delete an active shipping method"
## Description
On the shipping method list page (admin/shipping_methods), you can delete an active shipping method. It will disappear from the page as if it was deleted, but in fact it was not.

## Expected Behavior
If an active shipping method can't be deleted:
Grey out the Trash icon (and display a message on hover)
or
Show an error message when clicking on the trash icon to delete the method, f

[2022-08-31 12:55] RachL commented on #9612
@audez FYI the current checkout page is not maintained anymore. The new checkout page (currently in beta testing) has fixed this problem. Let me know if you want me to activate the page a user of yours.

Closing here.

[2022-08-31 12:55] #9612 closed

[2022-08-31 13:00] audez commented on #9613
There might be links with [#6135](https://github.com/openfoodfoundation/openfoodnetwork/issues/6135), i didn't test to make an order with the method

[2022-08-31 13:33] audez commented on #9613
Actually it applies only if the shipment method has been used in an order so it's a duplicate of [#6135](https://github.com/openfoodfoundation/openfoodnetwork/issues/6135)

[2022-08-31 13:33] #9613 closed

[2022-08-31 13:46] audez commented on #6135
Just to give some more input:
The workaround is to deactivate the shipment method in the enterprise settings (admin/enterprises/haha/edit#!/shipping_methods). When unchecking the box and clicking "update" button, the shipment method will be removed (unless it's also used by another enterprise for which no order has been made with it)
[#4837](https://github.com/openfoodfoundation/openfoodnetwork/is

[2022-08-31 15:06] filipefurtad0 commented on #6135
Thanks for adding to this @audez :muscle:
I've updated the Workaround section with your findings.

[2022-08-31 15:48] filipefurtad0 opened #9614 "[Legacy Checkout] No shipping method option on checkout prevents completing the order and leads to Stripe charges"
## Description

Aggregates openfoodfoundation/openfoodnetwork#8219 and openfoodfoundation/openfoodnetwork#9610.
Relates to openfoodfoundation/openfoodnetwork#8974.

A shipping methods can be hidden from by:
- setting as back-office only
- using tags

If no shipping method is eligible for a given customer, then:

**Legacy checkout** - If a customer reaches the final stage of checkout and places the

[2022-08-31 15:49] filipefurtad0 commented on #9610
Ok, tried to sum up everything here:
https://github.com/openfoodfoundation/openfoodnetwork/issues/9614

Closing here and 8219.

[2022-08-31 15:49] #9610 closed

[2022-08-31 15:49] filipefurtad0 commented on #8219
Closed in favor of #9614.

[2022-08-31 15:49] #8219 closed

[2022-08-31 15:57] lin-d-hop opened #9615 "OFN Webhooks"
## What is the problem we are solving

Now that we are expanding our API use we want to be able to trigger a whole bunch of actions triggered by events in OFN.
Examples:
- order completed
- OC opened
- OC closed

Currently there are ways to do this with API polling, however webhooks will be more efficient.

This epic is a placeholder for individual webhook issues.

## Useful information for incept

[2022-08-31 16:24] lin-d-hop opened #9616 "Webhook triggered on Order Cycle Open"
## Description

As an API user I want to be notified when an OC opens.
As an enterprise I want to be able to turn notifications on and off

## Acceptance Criteria & Tests

1. We need to be able to turn webhook posting on and off via the UI. This should be done via and additional tab in 'Enterprise Settings' called 'API'.  This tab should only be visible for enterprises with shopfronts enabled.
2.

[2022-08-31 19:59] muthumcr77 commented on #6730
Hello. I'm new to OFN. Can I work on this?

[2022-09-01 01:49] mkllnk opened #9619 "Release v4.2.11"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-09-01 06:03] drummer83 commented on #6730
Hi @muthumcr77, welcome! 🎉
Great to have you here!

It seems that @jibees has been working on this already (https://github.com/openfoodfoundation/openfoodnetwork/pull/9526).

Maybe it's better to pick something else?

In csse of any questions feel free to drop us a line on our [Slack](https://join.slack.com/t/openfoodnetwork/shared_invite/zt-1f9wxglo5-aj6s5pTnDxxBTD9~KVU9Pw)!

[2022-09-01 08:42] saunmanoj888 commented on #9569
hii @sigmundpetersen
Can I work on this issue?

[2022-09-01 08:45] sigmundpetersen commented on #9569
Yeah sure @saunmanoj888 go ahead 👍
Thanks!

[2022-09-01 09:06] audez commented on #9614
Hi, thank you for this @filipefurtad0 ✨ A small feedback: weirdly, it looks like paying with bank card didn't automatically lead to charges: I tested to pay twice with bank card (I think it was with two separate carts, so two different requests), but only one payment made it through Stripe. On the day of testing, there were two pending payments on my bank account, but only one did appear in Stripe

[2022-09-01 09:19] #9534 closed

[2022-09-01 10:19] muthumcr77 commented on #6730
Hi @drummer83,
Sure. Happy to know someone is working on it. I will look into other interesting issues.

Thank you for the reply!

[2022-09-01 10:22] muthumcr77 commented on #9128
Hi there!
I'm new to the OFN. Mind if I take on this issue?

[2022-09-01 10:43] drummer83 commented on #9128
Sure @muthumcr77, this is a great one!

There is very valuable information in the comments above. Make sure to check that out and to include the "restock checkbox" on the modal.

If there are any questions regarding specification, just let us know here! 😉

[2022-09-01 10:47] audez commented on #9614
Hi, thank you for this @filipefurtad0 ✨ A small feedback: it looks like paying with bank card didn't automatically lead to charges: I tested to pay twice with bank card (I think it was with two separate carts, so two different requests), but only one payment made it through Stripe. On the day of testing, there were two pending payments on my bank account, but only one payment appeared in Stripe. W

[2022-09-01 10:49] muthumcr77 commented on #9128
Thanks @drummer83 . Will get started on it.

[2022-09-01 10:50] apricot12 commented on #9424
I'm gonna give this a go :)

[2022-09-01 10:58] RachL commented on #9614
Thank you @filipefurtad0 ! I think we have a clear documentation ❤️ . I don't think we can make the shop appear as closed because you can also end up with no shipping methods using tags... https://github.com/openfoodfoundation/openfoodnetwork/pull/9536 will add a proper message. I'm not sure we can do much more. Or do we have other ideas? So I think we can close here?

@audez there are some delays

[2022-09-01 11:44] audez commented on #9614
IMO this could be split in 3 issues:
- Prevent the shop manager to put all shipping methods in "backoffice only" (i can't find an issue on this, there is #[6136](https://github.com/openfoodfoundation/openfoodnetwork/issues/6136) but it's not exactly this)
- The problem of shipping methods and tags= already handled in #9145
 and https://github.com/openfoodfoundation/wishlist/issues/225
- Most impor

[2022-09-01 14:44] filipefurtad0 commented on #9614
Thanks for all the feedback! I've updated the issue (Expected behavior = open; Severity = s3).

Maybe adding a clear message on the legacy checkout (similar to #9145) + disabling the checkout button? I'm not sure we are still investing time fixing issues on legacy checkout. If not, agree to close - please feel free to :+1:

Right, I keep forgetting this is used by some hubs to display products, as

[2022-09-01 15:32] drummer83 opened #9622 "Deployment of master and v4.2.11 broken"
Deployment of v4.2.11 as well as current master is failing. I tried UK and FR. The previous official release v4.2.9 is working.

Maybe this log from semaphore can help:
[code]

It seems to be since this commit had been merged: https://github.com/openfoodfoundation/openfoodnetwork/commit/d55a43d4b15c81334f9549633dd3ce39cefc3bf9

Thanks for the hint, @filipefurtad0!
Ping @mkllnk

[2022-09-01 16:01] drummer83 commented on #9619
Deployment is failing, see https://github.com/openfoodfoundation/openfoodnetwork/issues/9622.
Moving to In Dev.

[2022-09-02 06:03] mkllnk commented on #9622
I found the culprit, indeed #9599 caused it. I'm trying to load storybook but we have that gem only in development. So on staging we should ignore that.

[2022-09-02 06:32] #9622 closed

[2022-09-02 15:45] RachL opened #9625 "[UX] [Reports] Improve UX of Show/Hide Columns in Reports Part II"
## Description
**- As a:** enterprise or admin user
**- On page:** each `admin/reports`
**- I want to be able to do:** see a different UX to show/hide columns when `report_inverse_columns_logic` is activated.

The idea is to have a similar UX experience than:

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/dd3611de-ba38-46c3-b7f0-7366bfef6c88)

This is a follow-up on ht

[2022-09-02 21:25] drummer83 commented on #9619
Cool, deployment is now working!
I couldn't find anything during release testing. Notes are here: https://docs.google.com/document/d/1XTAv9Px7xaxwLU2wPrU0I_2P_y7BBNS59o-zvHBW62A/edit?usp=sharing

We are ready to go! :tada:

[2022-09-04 16:47] audez opened #9628 "[Shopfront] Display only shopfront when all shipping methods are set to “back office only”"
## Description
When all the shop **shipping methods** are on **“back-office only”**, only shopfront should be displayed to users: the shop shows as closed but products are displayed. The checkout page is not available and customers can't checkout.

This is to remain consistent with the case when all **payment methods** are set to “back-office only”.

## Expected Behavior
The shop should be in “Dis

[2022-09-04 17:10] audez opened #9629 "[Checkout] Customers can checkout with non-matching shipping and product categories"
## Description
Users shouldn’t be able to checkout if they select a shipping category that doesn’t match a product's "shipping category".

It is said[ in the user guide](https://guide.openfoodnetwork.org/basic-features/shopfront/shipping-methods#setting-up-a-shipping-method)  “ _if you sell products listed with a shipping category of 'frozen' then in order for the customer to be able to successful

[2022-09-04 17:20] audez commented on #9614
Yes true, I think I lost a piece of thinking brain in the emergency stress... 😬☠️

After more research and according to comments on this and other issues ( [#5423](https://github.com/openfoodfoundation/openfoodnetwork/issues/5423), #5559, #8219, #9145, #5950, #1343), I tried to summarized and was stroke with a writing fever.. Please feel free to comment or edit!

———————————
There are 4 cases when

[2022-09-05 07:59] RachL commented on #9629
@audez have you testing on legacy checkout or new checkout?

[2022-09-05 08:03] RachL commented on #9628
this is handled in https://github.com/openfoodfoundation/openfoodnetwork/issues/9145 for the new checkout.

I'm closing here as we won't fix it on legacy checkout :+1:

[2022-09-05 08:06] sigmundpetersen commented on #9541
Hey @binarygit , was this closed by #9560 ?

[2022-09-05 08:13] binarygit commented on #9541
Nope. There are many places the plugin is in use right now, so we can actually only remove the Jquery tooltip plugin when all of those tooltips are ported over to stimulus. So, I think this one will stay open for sometime.

[2022-09-05 08:17] audez commented on #9628
@RachL I don't think it's the same but I think I mistitled the issue. The goal would be to do the same than when all payment methods are on "backoffice only", same as described [in the user guide](https://guide.openfoodnetwork.org/basic-features/shopfront/display-only-order-cycles)

[2022-09-05 11:37] audez commented on #9494
yep the bug is still on staging and prod

[2022-09-05 13:08] audez commented on #5240
Yea we just had a client that is stuck and didn't understand the error message. In other languages than English, it is very difficult to understand as it mixes class/variables names in English and the other language..
![IMG_20220905_094115](https://user-images.githubusercontent.com/28386648/188456609-4450e0df-ef0f-430d-8a49-07dac75b1dc3.jpg)

[2022-09-05 22:48] drummer83 opened #9636 "Enterprises/Primary details: What's this? tooltips are covered by Groups input field on smaller screens"
## Description

Follow up of #9594.
On smaller screens the tooltips may be partially covered by the "Groups" input field. This was introduced by #9594.

## Expected Behavior

The tooltip should always be on top of other elements.

## Actual Behaviour

The tooltip is underneath the Groups input field.

## Steps to Reproduce

1. Go to /admin/enterprises/'name'/edit
2. Hover over 'What's this?' of 'G

[2022-09-05 22:58] drummer83 opened #9637 "Enterprises/Primary details: Delay when changing the 'sells' option to display the permalink settings"
## Description

Follow up of #9594.
There is a delay of > 1 second when changing the 'sells' option until the display is updated to show the permalink settings.

## Expected Behavior

Permalink settings should be shown immediately after selecting 'sells == own' or 'sells == any'.

## Actual Behaviour

There is a delay of > 1 second until the display is updated.

## Steps to Reproduce

1. Go to /ad

[2022-09-06 00:17] #9479 closed

[2022-09-06 01:19] #9619 closed

[2022-09-06 01:29] mkllnk opened #9638 "[Flaky] spec/system/consumer/shopping/checkout_paypal_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/8183397718

### Impact and timeline

![failures_r_spec_example_groups_check_out_with_paypal_shared_examples_as_a_logged_in_user_behaves_like_checking_out_with_paypal_after_logging_in_completes_the_checkout_after_successful_paypal_payment_523](https://user-images.gi

[2022-09-06 06:39] jibees opened #9639 "Flatpickr: Import languages that are used in the instance"
Seems to be unnecessary to import all languages: only the used by instance should be enough.

_Originally posted by @mkllnk in https://github.com/openfoodfoundation/openfoodnetwork/pull/9526#discussion_r945371813_

[2022-09-06 06:40] jibees commented on #9639
Some insights

##### `app/views/layouts/_i18n_script.html.haml`
[code]

[2022-09-06 09:13] RachL commented on #9568
@lin-d-hop how do you feel about this one? I remember there was a  lot of debate within users around the phone number. If we add some form of validation, I wonder if we shouldn't remove the fact that phone numbers are mandatory?

[2022-09-06 15:26] filipefurtad0 commented on #9580
Looking at logs to see what actually blows up:

[code]

[2022-09-07 03:43] #9555 closed

[2022-09-07 05:49] mkllnk commented on #9002
Looking into this, I found a different problem. Some customers have duplicate entries:
[code]

This shouldn't be allowed but some race condition must have allowed this at some point. I'll try to fix this at the same time.

[2022-09-07 08:17] sigmundpetersen commented on #9152
Can we close this @filipefurtad0 ?

[2022-09-07 08:38] filipefurtad0 commented on #9152
Thank you @sigmundpetersen I lost track of this issue - let's close :ok_hand:

Adding this for future notice: This was addressed by converting it explicitly into a rack test, for ref. see: #9576/#9577

[2022-09-07 08:38] #9152 closed

[2022-09-08 01:39] #9153 closed

[2022-09-08 02:04] #9605 closed

[2022-09-08 07:19] jibees opened #9643 "Build failing in master"
### What we should change and why (this is tech debt)
Seems like the build failed ~since merging https://github.com/openfoodfoundation/openfoodnetwork/pull/9631~

https://github.com/openfoodfoundation/openfoodnetwork/runs/8240457288

[code]

### Context
This came up in PR #9536

### Impact and timeline
Build failed.

[2022-09-08 07:38] jibees commented on #9643
This also fails for 95839f88f2, ie. `4.2.11`

[2022-09-08 07:47] jibees commented on #9643
Seems super strange, this spec should not have been green...
We use the wording `Did you mean?`
<img width="497" alt="Capture d’écran 2022-09-08 à 09 46 13" src="https://user-images.githubusercontent.com/296452/189065275-3d5262c9-5ec7-4c66-9c58-bd0ffc77f27a.png">
and not `Sorry, no results found for` which is used when searching products inside a shop.

[2022-09-08 08:13] jibees commented on #9643
I'm wondering if this spec was not running in CI, and then, for some reasons, has started to run.
Because when I see the spec files, or the view file, I don't spot any changes recently.

Then, i'll correct the spec, until someone has a better idea.

[2022-09-08 08:31] jibees commented on #9643
Or maybe this is some modification around `nameMatchesFiltered`, ... because I don't see any reason on why we show here a list of hubs:
![failures_r_spec_example_groups_shops_searches_by_url_993](https://user-images.githubusercontent.com/296452/189074851-dd2ab66a-3501-461a-bc21-f7509a4efdd0.png)

instead of the wording `Sorry, no results found for xyzzy. Try another search?`

[2022-09-08 08:37] sigmundpetersen commented on #9643
We have #5467 which represents the bug that search results appear when they shouldn't. No clue if this is why the spec is failing or why it started failing now.

But maybe a good time to fix that bug 😄

[2022-09-08 08:43] jibees commented on #9643
I can spot a difference between search for `query` via the input and entering the enter key (which returns some results) and visit URL via `/shops#/?query=query` which did not return any result.

![2022-09-08 10 41 49](https://user-images.githubusercontent.com/296452/189077350-415de133-e7e8-4630-b65e-8c5d8f0c933c.gif)

The spec used the visit one, and should _work_ ... as it should not return any

[2022-09-08 09:08] jibees commented on #9643
Found the difference between the two cases ('Case1: when loading the page via URL', 'Case2: when searching via enter key').
 - `Case1`: `enterprise.distance` has `undefined` value, and `undefined / 1000 <= 50` is false, then enterprise is hidden
 - `Case2`: `enterprise.distance` has `null` value, and `null / 1000 <= 500` is true, then enterprise is shown

[2022-09-08 09:13] filipefurtad0 commented on #9643
Awesome :muscle:
Should we set this example as pending, till this fix is through the pipe?

[2022-09-08 13:37] jibees commented on #9643
Did not found anything relevant, I'll then make a pause on this one.
I don't think it blocks the release, since I've tested (locally) this for `4.2.11` and `4.2.10` and it fails.

[2022-09-08 14:34] #9493 closed

[2022-09-08 14:38] jibees opened #9645 "Release v4.2.12"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Ready.
- [x] Notify testers.
- [x] Test

[2022-09-08 18:47] drummer83 commented on #9487
Hi @apricot12,
Thanks for this pull request! I have tested it and found an issue with the weight column, but it shouldn't be a blocker for now.

### Before this PR
No columns for weight and dimensions:
![image](https://user-images.githubusercontent.com/1790176/189197742-f803fad5-2ce1-4cdd-94e0-ee7287c2b676.png)

### After this PR
Columns for weight and dimensions are displayed:
![image](https://us

[2022-09-08 18:56] drummer83 opened #9646 "[Reports] Packing by customer: WEIGHT is always 0.0"
## Description

Follow up #9575.
The weight column is always showing 0.0 as values even if weight is > 0.

## Expected Behavior

The weight column should show the actual weight.

## Actual Behaviour

The weight column is always showing 0.0 as values even if weight is > 0.

## Steps to Reproduce

1. Visit variants edit page of any variant and fill in the WEIGHT field.
2. Go to an order cycle and pl

[2022-09-08 19:08] drummer83 opened #9647 "Variant weight, height, width and depth: Provide error message when input is invalid"
## What is the problem we are solving

Follow up of [#9575](https://github.com/openfoodfoundation/openfoodnetwork/pull/9575).
Entering invalid data into the variant fields weight, height, width and depth simply sets the values to 0.0 without any error message. Using the comma as decimal separator simply deletes everything coming after it.

## Success factors = expected outcome

There is a clear er

[2022-09-08 19:55] drummer83 commented on #9647
Wrong repo. Opened a new one in wishlist.

[2022-09-08 19:55] #9647 closed

[2022-09-08 20:08] drummer83 opened #9648 "[Subscriptions] Searching a shop doesn't work when creating a new subscription"
## Description

When setting up a new subscription the list of shop open and shows a search input but you can't type anything in there. You have to scroll through the list of shops to find the one you need.

## Expected Behavior

Typing letters in the search input field should show the relevant results only.

## Actual Behaviour

Typing into the search input field is not possible.

## Steps to Rep

[2022-09-09 11:23] filipefurtad0 opened #9649 "Inconsistent search results on the /shops page: Input box vs. address bar"
## Description

Relates to https://github.com/openfoodfoundation/openfoodnetwork/issues/9643
Relates to https://github.com/openfoodfoundation/openfoodnetwork/issues/5467

On the `/shops` page, any string added will change the URL (it can be seen on the address bar during typing). However, the results of the query will depend on whether it was performed on the search box or via URL (perhaps not ver

[2022-09-09 11:26] filipefurtad0 commented on #9649
This seems to be a bit browser dependent :eyes:
Behavior between chrome and firefox is not the same. I'll investigate and add to this comment.

[2022-09-09 12:46] filipefurtad0 commented on #9649
[Screencast from 09-09-2022 13:42:11.webm](https://user-images.githubusercontent.com/49817236/189353101-aa0ae787-3328-4dd5-8a71-81cd2af2c54e.webm)

[2022-09-09 13:25] audez commented on #7198
hi! I hope it's not too late to comment. First I really like the new UI, very nice, more intuitive, and the fact that all the variants are unfolded will be really precious for users!

The only thing that bothers me is that the "edit", "duplicate" or "delete" buttons will now be hidden under an "Actions" button.
![Screen Shot 2022-09-09 at 15 17 42](https://user-images.githubusercontent.com/2838664

[2022-09-09 14:29] RachL opened #9989 "Make default time at 00:00 instead of 12:00"
## Context
Currently when using reports, the default time is 12:00 so users need to constantly change to 00:00 to not miss any info.
![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/30d7eb6d-c4b2-4a8d-8ed5-8b4eae06d638)

The date selector is used on multiple pages:
- Reports
- BOM (Bulk Order Management)
- Orders
- Create OC
- maybe others?

It would be good to use this i

[2022-09-10 19:44] saunmanoj888 commented on #9569
Update:
Still figuring out the issue, looks like something is wrong with the implementation in the JS. Need to fix changes in the file `app/assets/javascripts/admin/bulk_product_update.js.coffee`
 I will update here once I resolve the issue.

[2022-09-12 03:49] #9480 closed

[2022-09-12 04:05] #9643 closed

[2022-09-12 08:43] jibees commented on #9002
I re-re-read the issue and the thread, and actually, I think I don't understand what's the issue here, and what we are trying to resolve here ;)
I _followed_ the steps to reproduce, and I cannot reproduced exactly. So, to start, just a quick question:

By user, you mean customer (linked to a user?) right? I don't see any interface for a User to add a tag, but I found for a Customer:

<img width="1

[2022-09-12 08:45] RachL commented on #9002
@jibees yes we can only tag customers, but instance managers call them users :+1:

[2022-09-12 08:54] jibees opened #9652 "No feedback when trying to delete a user with order"
## Description
[code]

## Expected Behavior

Administrator that delete the user should be warned that user has some order, and therefore could not be deleted.

## Actual Behaviour
Administrator that delete the user is not warned.

## Steps to Reproduce
1. Create a user and place at least one order
2. As an admin, go to user list
3. (try to) Delete the user with the small trash icon
4. No feedback

[2022-09-12 09:05] jibees commented on #9002
0. I've configured an enterprise with OC accessible via tagging:
<img width="716" alt="Capture d’écran 2022-09-12 à 10 57 28" src="https://user-images.githubusercontent.com/296452/189613723-9fdb5ccf-aa91-4a84-a8ec-f0178107c7f2.png">
<img width="760" alt="Capture d’écran 2022-09-12 à 10 57 49" src="https://user-images.githubusercontent.com/296452/189613796-007ab2c9-75af-4a9e-b5cf-4d6cfcad3b13.p

[2022-09-12 09:12] RachL commented on #9002
@jibees I could be wrong, but it looks to me as if the S2 was not anymore on the problem when changing email address, but rather on CA's problem.

Again if i understood clearly the list of comments, here are the (supposed) way to reproduce (haven't had time to test myself) :

- a hub is open for everyone
- a guest user places an order
- the hub changes their settings to private and taggs all users

[2022-09-12 09:27] RachL commented on #9424
Hello @apricot12 ! I hope this message finds you well :) Are you still working on this one? Don't hesitate to ask if you need guidance.

[2022-09-12 09:41] BethanOFN opened #9658 "Cookie notice impeding navigation of OFN UK mobile site"
## Description

This issue has been raised by a number of customers, all accessing the OFN UK website using a mobile phone. When going to openfoodnetwork.org.uk for the first time on a mobile device, the cookie notice completely covers the screen and makes using the website impossible. Comments from user "Just for your information on my handset which is an huawei p20 with android 10. It is almost

[2022-09-12 10:06] apricot12 commented on #9424
Hi @RachL, I'm doing well and thanks for asking! I'm still gonna work on this, it just happened that there were some state holidays and festivals right after I assigned this to myself so I just never had an opportunity to get started 😭

[2022-09-12 13:10] RachL commented on #9652
As this is only targeting super admin, I'm closing this. It will be handled when we finally work on proper user & admin deletion (which will need to tackle deleting users with orders).