[2022-01-20 20:51] #6045 closed

[2022-01-21 03:20] tsara27 commented on #8458
Hello @RachL,

Yes, I am still working on it. I was dragged into something else. Thank you for reminding.

[2022-01-21 08:42] Cecilia-Hn commented on #8762
#You mean that the hub email says 71.20 euros?

Yes, that what is described by the hub

#Are both email sent at the same time?

I let you know as soon as I got the information

[2022-01-21 09:36] RachL commented on #7774
@Matt-Yorkley hello, do we still need this issue?

[2022-01-21 10:09] RachL commented on #7198
We had a little chat about the project today with @jibees

**Summary**:

We are still discovering new features hidden in the design! So again, for the purpose of scoping the first release to the bear minimum and ease dev work, the following changes will be made on the designs (I'm including stuff mentioned in my previous post + new stuff we discovered this morning):

1. Duplicate variants (only pr

[2022-01-21 10:09] Matt-Yorkley commented on #7774
We've introduced it but we haven't quite finished migrating things. I guess the remaining bits are not a big priority though and we don't really need this issue now :ok_hand:

[2022-01-21 10:09] #7774 closed

[2022-01-21 14:04] jibees commented on #8477
~I don't how to work on top of a PR that is actually blocked by mine, I feel like we are in a deadlock ;)~

_Conclusion_: the linked PR will only handle the `/orders/[ORDER_NUMBER]/edit` page. After the two PRs merged (#8294 and #8766 then), I will open to handle such a case in the BOM interface.

[2022-01-21 15:25] RachL opened #8773 "Uploading a product import file with empty unit type fails without any clue on the UI"
## Description

Uploading a file and forgetting to fill unit_type and variant_unit_name leads to a fail after just 2 sec but the user does not know it.

## Expected Behavior

Show an error on the UI (same model than other product import error)

## Actual Behaviour

User see this:

![image](https://user-images.githubusercontent.com/6525576/150553329-b2a651a0-aad7-4127-a907-508fb79d6914.png)

consol

[2022-01-21 16:36] RachL commented on #8764
I think this is good to go :)

found nothing unsual! https://docs.google.com/document/d/1LA2ZppFsOlYew6PWL8iweB2ZNUWBgMa1cjN9aVSpLqU/edit#heading=h.xoas8dhgr258

[2022-01-23 10:39] Matt-Yorkley commented on #8770
That order has no line items and the order total is zero, so it definitely _isn't_ an order that's valid for checkout. I'm guessing someone visited the `/checkout` page with an empty cart?

[2022-01-23 10:59] Matt-Yorkley commented on #8770
**Dev notes:**

I'm just having a look through the code and backtraces. The actual logic being applied here hasn't changed! What's changed in the new release is that we now get a message in Bugsnag when this error situation occurs...

The check we apply is this one:
[code]

For reference: `@order.checkout_allowed?` just checks if the order has any line items.

[2022-01-23 11:28] Matt-Yorkley commented on #8770
Ooooof... all of those Bugnsag entries for that notification in French Production (8 in total) are from requests using the **Mobile Safari** browser.

I just need to let out a little rant here...

The never-ending stream of obscure Safari-specific bugs (and Safari Mobile in particular) which are encountered by _all_ Web Developers are entirely down to Apple's planned obsolescence policies; Safari

[2022-01-23 16:10] SarvarKh commented on #8773
Hi @RachL,
I left the animation below showing the steps I followed to reproduce this issue unsuccessfully.

I didn't fill `unit_type` and filled `variant_unit_name`.
I also tried doing the opposite by filling `unit_type` with `weight (kg)` and leaving `variant_unit_name` empty, but got an validation error as incorrect `unit_type` input.

Could you advise how I can reproduce this issue a bit more?

[2022-01-24 08:21] jibees commented on #8770
We also have a BrowserStack account with some Safari browser.

[2022-01-24 09:18] lin-d-hop commented on #8704
@Dmoment is going to take a look at this one :-)

[2022-01-24 09:38] RachL commented on #8773
hello @SarvarKh have you tried leaving _both_ fields empty?

[2022-01-24 09:43] RachL commented on #8770
Maybe we need to discuss whether or not we want to continue support for Safari. From the dev pov, I think that Safari should be dropped, but when I look at statistics on Matomo, Mobile Safari is still in our top 3 software that people use to navigate the OFN... :sob: It's even the top1 in UK and AU...

[2022-01-24 10:28] RachL commented on #8765
@Matt-Yorkley just to be sure, this issue is about improving test coverage, correct?

[2022-01-24 12:14] SarvarKh commented on #8773
I hadn't tried it, and the issue occurred when both fields were empty. The display just stuck and didn't show any flash notice about the occurred error. Thanks.

![test_2](https://user-images.githubusercontent.com/60043698/150780869-8eae10dc-4128-4928-82be-969ad93a4103.gif)

[2022-01-24 12:19] #8178 closed

[2022-01-24 12:51] #8547 closed

[2022-01-24 13:55] Matt-Yorkley commented on #8765
Nope, there's a couple of things that are not working correctly. It's described here: https://github.com/openfoodfoundation/openfoodnetwork/pull/8653#issuecomment-1016423660

[2022-01-24 18:19] SarvarKh commented on #8773
Ok, QC Work)
This issue didn't not occur:
1. When both `unit_type` and `variant_unit_name` are empty;
2. When `unit_type` is empty;
3. When `variant_unit_name` is empty;
![test_3](https://user-images.githubusercontent.com/60043698/150841059-3db8ffd6-9609-47d6-8a37-7e8ef6a0534a.gif)

[2022-01-24 18:31] SarvarKh commented on #8773
The issue only appears when a product is uploaded by importing successfully, and the same product (with the same name) is re-uploaded with `unit_type` and `variant_unit_name` empty fields🤔

![test_4](https://user-images.githubusercontent.com/60043698/150841624-a03a07c1-caed-4f10-a325-1af912c30498.gif)

[2022-01-24 21:53] #1389 closed

[2022-01-24 21:54] mkllnk commented on #1691
This issue will be resolved by our API work.

[2022-01-24 21:54] #1691 closed

[2022-01-24 22:56] #8764 closed

[2022-01-25 01:18] mkllnk commented on #8702
I ran this spec locally and 3 out of 10 runs failed.

[2022-01-25 01:24] georgethoppil commented on #8232
I can take a look at this

[2022-01-25 03:48] mkllnk commented on #8762
I can see from the screenshot that the customer email was sent at 11:28. When was shop's email sent?

Both emails are scheduled to be sent at the same time, ten seconds after the order was placed. The email sending is done in a background job though and we can't exactly tell when they are sent.

[2022-01-25 05:32] mkllnk commented on #8762
I noticed though that they do allow order changes. So it's possible that the customer changed it, maybe even by mistake. Sometime my cat jumps on my keyboard... :cat:

[2022-01-25 06:13] mkllnk commented on #8762
I looked through the access lock:

- Adding to cart from 11:15, several items, only one onion.
- Going to checkout.
- Login.
- Checking out at 11:25.
- Seeing the order confirmation.
- No further action by the customer.
- Looking at the order again at 17:49, probably to check the quantity.

Our background process log says that two emails were sent at 11:25, in parallel, within the same second. And

[2022-01-25 09:03] #8702 closed

[2022-01-25 09:26] RachL commented on #8765
@Matt-Yorkley at delivery circle meeting, the team was saying that you might be in the best position to finish this one. Are you happy to take this one on?

[2022-01-25 09:56] Matt-Yorkley commented on #8765
Sure :+1:

[2022-01-25 12:15] lin-d-hop opened #8787 "[API] Customers Endpoint"
## What is the need / problem?
FR, UK and AU need to be able to create, find and update Customers via the API.
This work has been substantially started as a proof of concept here: openfoodfoundation/openfoodnetwork#8326

## Which type of users does this problem affect (and how many, if known)?
e.g. - Shoppers - Hub Managers (MCFEs) - Producers - Instance Managers - Other (Please specify)
Hub Manag

[2022-01-25 12:33] lin-d-hop opened #8788 "[API] Finalise Customer Endpoint"
## Description

FR, UK and AU instances need to be able to create, find and update Customers via the API.

## Definition

### Request Params
Nothing additional to the standard rq queries

### Response Attributes
Id - integer
Enterprise_id - integer
First_name - string
Last_name - string
Code - string
Email - string
Allow_charges - binary (NO CREATE OR UPDATE - force users to use the UI. False on c

[2022-01-25 15:04] RachL opened #8790 "Display "only X left" in shopfront when there are less than or 3 units of stock left"
## Description

Related wishlist: https://github.com/openfoodfoundation/wishlist/issues/146

**- As a:** enterprise user
**- On page:** shopfront only => **cart page remains the same**
**- I want to be able to do:** Activate the ability for the shopper to see that 3 product variant are left or less.

The number 3 will be for now hardcoded: no possibility to change it. We can create a superadmin fe

[2022-01-25 15:27] jibees commented on #8477
Should we open another issue (linked to this one) to handle the "cancel order + send email cancellation" on the BOM interface?

[2022-01-25 16:00] filipefurtad0 opened #8792 "[Split Checkout] Transaction fees not charged (all payment methods)"
## Description

Currently, after toggling split checkout: Transaction fees not charged. This is observed for all payment methods.

## Expected Behavior

Transaction fees should be charged; the order should be complete and paid after manual or automatic payment capture.

## Actual Behaviour

Transaction fees are not charged; the order should be complete and paid after manual or automatic payment ca

[2022-01-25 16:11] #8623 closed

[2022-01-25 16:38] filipefurtad0 opened #8793 "[Split Checkout] iPhone: radio buttons appear small when shipping/payment methods names are long"
## Description

Follow-up from #8717.

Affects only iPhone/Safari: radio buttons appear small when shipping/payment methods names are long.

## Expected Behavior

Radio buttons should be visible with the correct size, also for shipping / payment methods with long names

## Actual Behaviour

Radio buttons should be visible abut very small, for shipping / payment methods with long names

## Steps to

[2022-01-25 16:44] Dmoment commented on #8704
I am not able to reproduce this issue. Tried both in Chrome and firefox. I am only getting a single confirmation warning.

[2022-01-25 17:00] RachL commented on #8773
Nice findings @SarvarKh !

[2022-01-25 17:09] RachL commented on #8208
@filipefurtad0 can you close the epic once the stripe connect migration is closed? I moved it to test ready 👍

[2022-01-25 17:46] drummer83 commented on #8704
Interesting, @Dmoment! I also couldn't reproduce it anymore on the German production server (same server as I used in the video above).
Maybe worth mentioning that I also cannot reproduce #8620 anymore (which is also seen in the video above).
Something has changed here... but the only merged PR I could find which is somewhere near around this topic would be #8661.

Maybe @filipefurtad0 has some ma

[2022-01-25 17:50] drummer83 commented on #8620
Maybe worth mentioning that I also cannot reproduce this one and #8704 anymore (which is also seen in the video above).
Something has changed here... but the only merged PR I could find which is somewhere near around this topic would be #8661.

I asked for Filipe's opinion over in the other issue. We might be able close them both?

[2022-01-26 09:45] jibees commented on #7198
I tried to :

 - add pagination
 - remove all references to tags
 - remove all references to bulk actions (including checkbox then)
 - add a "Filter Results" button
It's not perfect, but it's a first iteration that can be improve

<img width="1308" alt="Capture d’écran 2022-01-26 à 10 43 43" src="https://user-images.githubusercontent.com/296452/151140176-f88633ae-807f-405f-8b3c-fab1d8849a5e.png"

[2022-01-26 10:04] #8457 closed

[2022-01-26 10:21] RachL commented on #7408
I'm closing this one. We can use the tests described here when testing everything, but it does not need for this issue to be kept opened.

[2022-01-26 10:21] #7408 closed

[2022-01-26 10:22] RachL commented on #7434
I'm closing this one. We can use the tests described here when testing everything, but it does not need for this issue to be kept opened.

[2022-01-26 10:22] #7434 closed

[2022-01-26 10:23] RachL commented on #7410
I'm closing this one. We can use the tests described here when testing everything, but it does not need for this issue to be kept opened.

[2022-01-26 10:23] #7410 closed

[2022-01-26 10:24] filipefurtad0 commented on #8620
Thanks @drummer83,
Can't reproduce it anymore :tada:

![Peek 2022-01-26 10-23](https://user-images.githubusercontent.com/49817236/151146241-9e5bec91-e658-4f17-826a-309752deaddd.gif)

Closing.

[2022-01-26 10:24] #8620 closed

[2022-01-26 10:25] filipefurtad0 commented on #8704
Could not reproduce this one either, see #8620 :+1:
Closing.

[2022-01-26 10:25] #8704 closed

[2022-01-26 11:57] #7872 closed

[2022-01-26 11:57] #8169 closed

[2022-01-26 11:58] filipefurtad0 commented on #8208
Thank you for the heads up Rachel :pray:
Closing.

[2022-01-26 11:58] #8208 closed

[2022-01-26 14:33] RachL commented on #4673
I'm closing this epic as there are no issues attached.

[2022-01-26 14:33] #4673 closed

[2022-01-26 14:36] #5974 closed

[2022-01-26 14:50] RachL commented on #1215
this is now fixed 🎉

[2022-01-26 14:50] #1215 closed

[2022-01-26 15:02] RachL commented on #5078
As we have https://github.com/openfoodfoundation/openfoodnetwork/issues/5542 to track down work on maps, I'm closing here.

[2022-01-26 15:02] #5078 closed

[2022-01-26 15:10] RachL commented on #1314
Closing here. Not sure which solution is wanted. We can reopen when we know / want to work on that page.

[2022-01-26 15:10] #1314 closed

[2022-01-26 17:22] #8458 closed

[2022-01-26 17:33] #5335 closed

[2022-01-26 18:32] filipefurtad0 opened #8795 "Green confirmation banner when attempting to change Stripe account owner"
## Description

Changing Stripe account owners as superadmin is not possible. The UI gives the impression that is, as the whole list of enterprises is loaded on that field.

Clicking Update displays a green banner, signaling a change which actually did not happen.

## Expected Behavior

The whole list of enterprises should not be loaded in the account owner, when editing a Stripe payment method.

[2022-01-26 19:01] #8488 closed

[2022-01-26 19:02] #8724 closed

[2022-01-26 19:15] SarvarKh commented on #8773
It is more like a front-end issue related to the async calling in `import_form_contoller.js.coffee` where I would appreciate someone's help)

In terms of model validations, adding this code into `product_field_errors` [method](https://github.com/SarvarKh/openfoodnetwork/blob/a9d4233af9ad751ca02f8204d0e14662a9a318ec/app/models/product_import/entry_validator.rb#L364) should have validated and return

[2022-01-26 19:19] drummer83 commented on #8620
Well, we do have the regression, that after cancelling the order, the page remains empty (can be seen in both your videos). Before the list of orders was displayed automatically. Should I create a new issue for that, @filipefurtad0?
@SarvarKh Maybe you would like to have a look at that instead?

[2022-01-26 19:45] filipefurtad0 commented on #8620
Thanks @drummer83 ,
Yeah, I noticed that but was not sure it was a regression. If you are sure about that than feel free to open that issue.

[2022-01-26 19:55] #7592 closed

[2022-01-26 21:09] luisramos0 commented on #5078
Hi Rachel, I think they are different asks.
The other issue is about making OSM feature rich to replace google maps. Which is great.
This ask here is just to be able to run OFN without google. I'd say this is done when I install OFN by default and google is not active and I can use OSM to display the maps and get the basic geocoding features. The scope of this issue is smaller imo.

[2022-01-26 23:19] mkllnk commented on #8762
Okay, I now realised that we don't actually have proof of the customer's email saying 21 onions. As Rachel pointed out, the order was changed the next evening at 22:07 and I can see in the logs that the front end was used for that. I can also see the login five minutes earlier. It was the customer who changed the order. It may have been a mistake but technically, it was changed by the customer on

[2022-01-26 23:19] #8762 closed

[2022-01-27 00:33] mkllnk commented on #8773
Okay, so it looks like we are sending the error to the browser but we are not displaying it. Are you familiar with AngularJS?

I would check:

- Is the error sent to the browser? Check network console and look at the JSON data.
- Is the attributes listed in the view? https://github.com/openfoodfoundation/openfoodnetwork/blob/75395f6f297c5acaae2218b84eb1e2c55d34fd29/app/views/admin/product_import/_

[2022-01-27 03:45] kirstenalarsen commented on #7198
Would it be scope creep with the pagination to have the option to ‘show X results’ that defaults to smaller number but lets them change it? Seems that’s pretty standard and if we’re setting precedent for admin pagination handling here would be good to include?

I am sad to see tags go but I understand. I hope we can have them back soon because they are critical step towards removing Inventory

[2022-01-27 05:20] mkllnk commented on #8787
The name issue is not really blocking the API work. The great thing about an API is that we can change the implementation while the API responses stay the same. So we can compute the first name and last name in the same way as we are planning to do it in the database. That can also be a way of testing that the algorithm works before we move data around.

[2022-01-27 08:55] jibees commented on #7198
Right, we mention that during the chat we had, but I forgot to add in the design. Will do.

[2022-01-27 09:10] Cecilia-Hn commented on #8762
Thanks a lot @mkllnk for investigate and I'm sorry for this "no bug".

[2022-01-27 09:22] jibees commented on #7198
<img width="1039" alt="Capture d’écran 2022-01-27 à 10 21 53" src="https://user-images.githubusercontent.com/296452/151329704-86ff125e-942c-4b4c-8f84-5c409c8678dc.png">

[2022-01-27 11:59] kirstenalarsen commented on #7198
Thanks! Would it usually be down in the footer with the page numbers? I guess if setting it where you have it is more intuitive for them to be setting something that is saved as their default? (Like columns?)

[2022-01-27 12:11] RachL commented on #7198
Currently we have them on the top left of the table. They are not triggered by the "filter results" button. So what's the easiest on the dev side @jibees ? To make them work with the filter button or outside the button?

Yep. It's because we agree on that that we've removed them actually. The way they were thought until now was just to add a new tag field NOT linked with the other tags in the syst

[2022-01-27 13:07] #8765 closed

[2022-01-27 18:17] Matt-Yorkley opened #8798 "Release v4.1.15"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-01-29 00:57] drummer83 opened #8806 "Orders list not reloaded correctly after cancelling an order"
## Description
We had two issues around cancelling orders recently: #8620 and #8704. Both seem to be fixed now, even though there were no dedicated pull requests for them. But now, after cancelling an order, the list of orders remains blank and needs to be reloaded manually. By clicking on the 'orders' tab the OLD list is displayed, with the cancelled order still present. Only refreshing the whole

[2022-01-29 06:48] SarvarKh commented on #8773
I didn't use Angular JS (only React&Redux with JS itself).

Not much progress, but just FYI:
Concerning the 1st point: it is returning an error to the network console, but not what is expected.

![Screen Shot 2022-01-29 at 11 39 10 (2)](https://user-images.githubusercontent.com/60043698/151650822-f50536f6-1e1b-4582-9ffd-def41792d2ad.png)

[2022-01-29 18:17] SarvarKh commented on #8773
Sorry if I am irritating with my questions) thought this gif file might be useful.

![test_5](https://user-images.githubusercontent.com/60043698/151672486-c3895100-543d-4cd0-b7f9-f9bea60cc15b.gif)

[2022-01-29 19:13] georgethoppil commented on #3740
@Matt-Yorkley this looks like a fun ticket. Is this something I can look into as well?

[2022-01-29 19:20] filipefurtad0 opened #8811 "[Split Checkout] 3 - Order Summary: Order total does not include transaction fees"
## Description

On the new split checkout the order total does not include transaction fees, but only on the confirmation screen. The right amount  seems to be correctly charged, when creating a payment.

## Expected Behavior

 On step 3 - Order Summary: Order total should include transaction fees.

## Actual Behaviour

On step 3 - Order Summary: Order total does not include transaction fees.

On

[2022-01-31 01:17] mkllnk commented on #8773
I'm wondering if this is the underlying issue: https://github.com/openfoodfoundation/openfoodnetwork/issues/6096

[2022-01-31 09:00] jibees commented on #8811
Could #8804 be the associated PR?

[2022-01-31 14:15] Cecilia-Hn opened #9052 "Alternative invoice: display customer phone number"
## Description
**- As a:** enterprise user
**- On page:** PDF invoices (alternative version)
**- I want to be able to do:** see customer phone numbers below billing address

![image](https://user-images.githubusercontent.com/6525576/160842835-1d7638db-1a0d-46b2-a8ea-8196451414cd.png)

**The phone number is already displayed on the regular invoice.**

## Acceptance Criteria & Tests

1. Log in as en

[2022-01-31 16:28] filipefurtad0 commented on #8811
Fixed on #8804.

[2022-01-31 18:13] filipefurtad0 commented on #8798
Thank you for re-drafting to include the UI fix #8803.

We're all good to go :rocket:
https://docs.google.com/document/d/1UUD22Tg0mznk4_0wGa3zAyg_DddS1xptAoGqgGG0M1c/edit#

[2022-01-31 18:55] #7398 closed

[2022-02-01 09:41] #8630 closed

[2022-02-01 11:16] #8635 closed

[2022-02-01 11:41] filipefurtad0 opened #8821 "UI card date validation does not catch server/Stripe (?) past dates"
## Description

_Note: Likely edge case, when transitioning to new months_
Affects both BO and shopfront orders.

When placing a BO or shopfront orders, the UI checks for the validity of the card. However, when transitioning to a new month some discrepancies can be happen, for example, on the 01.02.2022:
- the UI (both BO and shopfront) considers `2 / 22` a valid expiry date
- submitting this card

[2022-02-01 16:05] Matt-Yorkley commented on #3740
Sure! I think it'll need a dev with admin access to set up a bot-user on the repo with a restricted key that has access to modifying the deployments notifications through the API (and nothing else), with an access token that can be used programmatically. I'm a bit hazy on the details; I posted this in 2019, that was like 30 years ago... :sweat_smile:

[2022-02-01 22:21] mkllnk opened #8823 "Fix Docker setup to ease entry for new contributors"
### What we should change and why (this is tech debt)

Our Docker setup has been contributed and updated by volunteer contributors. Unfortunately, it often fails because the core team doesn't use it and doesn't update it. It's also not tested.

A lot of new contributors point out that the Docker setup is broken and get stuck. While Docker is a bit slow for regular work, it's convenient to try some

[2022-02-02 00:20] mkllnk opened #8824 "Uploading product images fails, cloning product with image fails"
## Description

The new release v4.1.15 seems to have a regression. Uploading of product images fails. The same error is raised when cloning a product with an image.

I guess that #8757 introduced this bug because the method has been [deprecated for a while](https://docs.knapsackpro.com/2020/uri-escape-is-obsolete-percent-encoding-your-query-string).

## Expected Behavior

You can upload an image

[2022-02-02 00:53] drummer83 commented on #6033
Not sure if the issues described above are still reproducible. But still taxonomies cannot be deleted. There is no error message or freezing in the browser, but the taxonomy is back after opening the page again.

https://user-images.githubusercontent.com/1790176/152075922-e9dda18e-cb0f-482e-8d28-8143a0f97d27.mp4

No product had the taxonomy used according to the filtered products list.
![grafik](h

[2022-02-02 02:09] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **api/v0/products#clone**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61f9b0d3ec79740008e3b35a?event_id=61f9c124008dafc921d90000&i=gh&m=li)

[2022-02-02 03:36] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **api/v0/product_images#update_product_image**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61f9f94676208d00099b2523?event_id=61f9f946008da4f277650000&i=gh&m=li)

[2022-02-02 13:05] jibees opened #8826 "SplitCheckout: Even if the lastname is filled, it failed submit after a previous failed attempt"
## Description
This one is strange, but I think the _How to reproduce?_ section is clear enough.

## Expected Behavior
With every mandatory fields filled, you should submit without error the step 1 and going to step 2

## Actual Behaviour
Despite that every field is well filled, there is an error, and could not go over step 1.

## Steps to Reproduce

1. Add product(s) to cart and go to checkout
2.

[2022-02-02 13:10] jibees commented on #8826
Probably an error due to server in invalid state. Could not reproduce it, closing.

[2022-02-02 13:10] #8826 closed

[2022-02-02 13:14] jibees opened #8827 "SplitCheckout: Preselect shipping/payment method if only one is available on the current shop"
## Description
When the hub only have one shipping or payment method, preselect it.

## Expected Behavior
Shipping/Payment should be pre-checked if only one is available for the current shop.

## Actual Behaviour
Shipping/Payment method is not pre-checked, even if there is only one.
<img width="1224" alt="Capture d’écran 2022-02-02 à 14 11 45" src="https://user-images.githubusercontent.com/29645

[2022-02-02 18:31] #8793 closed

[2022-02-02 22:08] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **api/v0/enterprises#update_image**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fa35f2078a1e0009f88260?event_id=61fafbe4008d92b8be4a0000&i=gh&m=li)

[2022-02-03 02:03] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **spree/admin/images#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fb0bef258569000bd46bf2?event_id=61fb0cef008dbbc69ad80000&i=gh&m=li)

[2022-02-03 04:36] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **api/v0/logos#destroy**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fb29e188ae9a00099bcd10?event_id=61fb4f28008da4e479480000&i=gh&m=li)

[2022-02-03 04:36] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **admin/enterprises#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fb29d1ea2a150008770294?event_id=61fb29f7008d99bb31a00000&i=gh&m=li)

[2022-02-03 04:36] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**ArgumentError** in **api/v0/enterprises#update_image**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fb47f351064a000dfdcc35?event_id=61fb480d008d8d511c020000&i=gh&m=li)

[2022-02-03 04:37] mkllnk commented on #8824
This issue has been linked to an error in Bugsnag
[**NoMethodError** in **api/v0/enterprises#update_image**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/61fb48312c3ee000098b1fc5?event_id=61fb486e008da3e417db0000&i=gh&m=li)

[2022-02-03 04:47] mkllnk opened #8830 "[Flaky] spec/system/consumer/shopping/shopping_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/mkllnk/openfoodnetwork/runs/5046907286?check_suite_focus=true
https://github.com/openfoodfoundation/openfoodnetwork/runs/5090479493

Previous issues:

- #7677
- #7669

[2022-02-03 12:44] #8824 closed

[2022-02-03 12:57] #8798 closed

[2022-02-03 19:23] filipefurtad0 commented on #6139
This still occurs, if the shipping info and/or name string has no empty spaces in it:
![image](https://user-images.githubusercontent.com/49817236/152413940-9ca26a10-9edd-45e8-b420-29a3322c62f5.png)

Can also be visible on the shop front (left side below):
![Peek 2022-02-03 19-12](https://user-images.githubusercontent.com/49817236/152414087-4a4b5ab6-8fce-4c03-9369-84ab603f0b76.gif)

Reopening as S5

[2022-02-03 21:12] pacodelaluna opened #8835 "Remove backup name column from customers table"
### What we should change and why (this is tech debt)
We ~~renamed the `name` column as `backup_name`~~ kept the `name` column on `customers` table in case of data issue during the migration.

Now that the migration has completed successfully, we can remove the old column from the database.

### Context
Related to https://github.com/openfoodfoundation/openfoodnetwork/pull/8763.

### Impact and tim

[2022-02-03 23:08] georgethoppil commented on #3740
@Matt-Yorkley awesome thanks :)

1) Don't we have the [ofn-deployments](https://github.com/ofn-deployments) user that we can use for this?

2) Forked `ofn-install` and I installed all the pre-requirements on the readme page.  I am trying to install the vm using vagrant and I am able to `vagrant up` but errors out on `ansible-playbook site.yml --limit vagrant`. Any ideas on this?

[code]

[2022-02-03 23:46] georgethoppil commented on #8232
@andrewpbrett @lbwright22 I was able to reproduce this issue locally. In terms of the payment state of the order, are we looking to add an additional state of 'none'? I don't believe this is available for us at the moment. The states that I see are:

[code]

[2022-02-04 09:18] jibees commented on #8767
This one should be started once https://github.com/openfoodfoundation/openfoodnetwork/pull/8766 is merged, because it's potentially on the same part of code, and could trigger conflicts.

[2022-02-04 09:36] jibees commented on #7667
Seems this one is no more flaky, I didn't see it for long time. Closing for now. Could be re-open if needed for sure.

[2022-02-04 09:36] #7667 closed

[2022-02-04 15:01] jibees commented on #7934
@filipefurtad0
I'd like to dive into this one, trying to reproduce, but not sure to understand why the design of the invoice is not the same:
<img width="753" alt="Capture d’écran 2022-02-04 à 15 59 42" src="https://user-images.githubusercontent.com/296452/152551237-e45fcc57-22ca-4439-b80a-97463142e882.png">
Do you use the "Print invoice" button here?
<img width="342" alt="Capture d’écran 2022-

[2022-02-04 15:21] drummer83 commented on #7934
@jibees Have you tried step 7 in "How to reproduce" above? The two different designs are an instance setting.
Hope I gotten your question right...

[2022-02-04 15:25] jibees commented on #7934
@drummer83 Yep, I've tested, and indeed I can see some differences :
<img width="748" alt="Capture d’écran 2022-02-04 à 16 23 10" src="https://user-images.githubusercontent.com/296452/152555068-301ea261-d9a5-45c1-8e79-ab22549d1542.png">
VS.
<img width="743" alt="Capture d’écran 2022-02-04 à 16 23 25" src="https://user-images.githubusercontent.com/296452/152555077-5cd7ec4f-79a8-45ba-a313-594f57

[2022-02-04 15:46] Matt-Yorkley opened #8836 "Release v4.1.17"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-02-04 16:01] jibees commented on #7934
Yeap, seems like an issue around CSS loading with `wicked_pdf_stylesheet_pack_tag`. Worth debuging.

[2022-02-05 12:02] RachL commented on #8836
@Matt-Yorkley I have a snail (error 500) on order and distributors reports as enterprise user. I'm not using filters, but I have very few data on my test user (I will send you the credentials in slack by DM). Also the error 500 is thrown right away.

https://staging.coopcircuits.fr/admin/reports/orders_and_distributors

Bugsnag:

https://openfoodnetwork.slack.com/archives/CEF14NU3V/p16440620069665

[2022-02-07 09:49] Matt-Yorkley commented on #8836
Hmm okay there's a single order in the database in French Staging which is completed but has no Shipping Method. It looks strange, like it was deleted? It's order R212446152:

![Screenshot from 2022-02-07 09-48-03](https://user-images.githubusercontent.com/9029026/152764472-657cabdc-6d16-41ff-9f5a-fca05e06e3e8.png)

[2022-02-07 09:50] Matt-Yorkley commented on #8836
It also no line items even though it's completed? It looks pretty funky.

[2022-02-07 10:47] RachL commented on #8836
OK indeed cancelling the order make the report work :+1: Ready to go :)

[2022-02-07 10:54] Cecilia-Hn opened #8843 "Customer account debited twice"
## Description
R186663316 is a complete order on 876 shop on the 4th january 2022 (FR Prod)
<img width="1386" alt="Capture d’écran 2022-02-07 à 15 36 09" src="https://user-images.githubusercontent.com/67476305/152808558-bc5ae9b5-95f2-4d3e-b61d-35ab9d718803.png">

Then, the customer account has been debited twice

- Spree order ID : R186663316-YMP3B4MF
- Spree ordre ID : R760023678-5USVLBSV

The

[2022-02-07 13:32] lin-d-hop commented on #8843
Always worth noting the server, since the person who works on this might not know where you are @Cecilia-Hn ;)
FR Prod

[2022-02-07 13:43] lin-d-hop opened #8844 "Order contains no line items - only adjustments"
## Description

Order R420586454 on UK Production appears to be an empty order with no line items.
However the order does contain the correct adjustments and order total for what the customer ordered.

According to the user the correct items appeared in reports as the order was correctly packed and delivered.

However the order itself appears to require that a refund of the full amount is required

[2022-02-08 08:43] filipefurtad0 opened #8846 "[Stripe SCA] Critical issues on Payments"
This issue gathers critical payment issues related to Stripe SCA.

Note to support teams on OFN:
The [change on EU legislation](https://stripe.com/en-pt/connect/eu-guide) has triggered recent changes on how Stripe SCA is implemented. We have been experiencing some issues on this regard, which we aim to fix on a weekly basis.

We're deploying [another fix](https://github.com/openfoodfoundation/open

[2022-02-08 09:35] #8836 closed

[2022-02-09 10:34] lin-d-hop commented on #8844
@filipefurtad0 did you read the issue? Its not a stripe sca issue ;)

[2022-02-09 11:34] filipefurtad0 commented on #8844
Sorry, my mix-up.
I'm not sure if somehow related but items were not appearing on the order [when out of stock](https://github.com/openfoodfoundatio/openfoodnetwork/issues/8178). Wonder if this OC closed on the 31st... Anyway, this has been [recently fixed](https://github.com/openfoodfoundation/openfoodnetwork/pull/8438) but the order was created/updated/completed just before this was deployed int

[2022-02-09 11:42] lin-d-hop opened #8850 "Order with broken payment state"
## Description

Order [R107461533](https://openfoodnetwork.org.uk/admin/orders/R107461533/edit) (uk prod) has a broken payment state. A successful payment was taken, however the user apparently received an error (unknown what error). They then tried to make the payment again. This was pending. They then edited their order and tried to pay a number of additional times.

The order is now stuck in a

[2022-02-09 11:49] lin-d-hop commented on #8844
Nice thoughts @filipefurtad0
The OC was open until the 2nd at 9:30am
All 13 line items were in stock and delivered to the customer.

[2022-02-09 11:50] lin-d-hop commented on #8844
Note you can see all the line items in the origianl issue... just they are adjustments, rather than line items

[2022-02-09 13:35] lin-d-hop commented on #8844
Ok, I just made this order even worse. I added a line item so I could try adding a shipping method back in to see if that would fix things.

However it didn't. And now the Apple juice I added can't be removed from the order because it is the 'last item' on the order.
![Screenshot from 2022-02-09 13-33-25](https://user-images.githubusercontent.com/8669848/153211823-7a7493bc-97ff-4215-8580-47b625323

[2022-02-09 14:25] filipefurtad0 opened #8851 "Updating promo image: "wrong number of arguments (given 3, expected 1..2)""
## Description

Closely related to #8824 .

We're getting this error in production, (even) after this week's deploy:

[code]
https://app.bugsnag.com/open-food-france/coopcircuits/errors/6203c7e43bb61a000844dbfe?event_id=6203c7e4008ed253b4080000&i=sk&m=nw

It seems only to concern the updating of promo images, but I haven't succeeded in reproducing it in staging.

## Expected Behavior

The user sho

[2022-02-09 14:37] RachL commented on #8851
@filipefurtad0 I don't see any problem on the user side. Maybe we close it and reopen when we know how to reproduce it?

[2022-02-09 14:50] jibees commented on #8851
As far as I undestand, `api/v0/enterprises#update_image` is not used when an admin user modify image through `/admin/enterprises/maryse-s-private-shop/edit#!/images` (we use `/api/v0/enterprises/maryse-s-private-shop/promo_image.json` URL in this case)

[2022-02-09 15:13] lin-d-hop commented on #3774
@sauloperez's proposed solution of:

is a good one.

The search field needs to be pretty flexible. I would say a search on partials contained within the Name, excluding caps eg 'Joe'sHappyThongs' should match a search for 'python' - basically the same search that ctrl-F does.

[2022-02-09 15:17] lin-d-hop commented on #4496
Closing as instances have got proper email set ups now for their team emails.

[2022-02-09 15:17] #4496 closed

[2022-02-09 15:25] #4491 closed

[2022-02-09 15:33] lin-d-hop commented on #8595
This issue is not well specified. Closing.

[2022-02-09 15:33] #8595 closed

[2022-02-09 15:38] lin-d-hop commented on #8177
I'm not convinced by this issue... why would an incomplete order with no line items go to the Address state? Why is that correct?

My understanding of the Address state is that it is only a possible when an order is populated in cart but does not have a user associated yet (which generally only happens in the BO).

What am I missing @filipefurtad0 ?

[2022-02-09 15:40] lin-d-hop commented on #8156
I propose closing this issue as in the case that an items becomes zero stock during the checkout flow, this is actually a very good solution. Its just confusing if support teams don't know to let customers know in the rare cases that this happens.

If anyone disagrees then please reopen ;)

[2022-02-09 15:59] filipefurtad0 commented on #8177
Yeah these issues are tricky as there is no user guide on the expected behavior. So a lot of what should be was discovered empirically and keeping in mind that the flows (backoffice and shopfront) order flows should be as similar as possible.

So there is plenty of room for interpretation here :sweat_smile:

However:

Currently, this :point_up: generates orders in the `cart` state. If it should be

[2022-02-09 16:21] #8792 closed

[2022-02-09 16:25] filipefurtad0 opened #8852 "[Split Checkout] table formatting on order summary page"
## Description

Edit:
The TOTAL value on the table appearing at the bottom of the /summary page is not aligned with the values above.

## Expected Behavior

Edit:
The TOTAL value on the table appearing at the bottom of the /summary page should be ~~centered~~ aligned to the right.

## Actual Behaviour

Edit:
~~The values on the table appearing at the bottom of the /summary page are not centered.~~

[2022-02-09 16:30] filipefurtad0 opened #8853 "[Split Checkout] Clicking "Back to payment method" redirects to /cart"
## Description

On the `/summary` page, clicking "Back to payment method" redirects to `/cart` page.

## Expected Behavior

On the `/summary` page, clicking "Back to payment method" should redirect to `/payment` page.

## Actual Behaviour

On the `/summary` page, clicking "Back to payment method" should redirect to `/cart` page.

## Steps to Reproduce

1. Go through the checkout flow till you reac

[2022-02-09 16:31] lin-d-hop commented on #8177
Hrm... I actually think we need to be looking at removing the 'Address' state completely. It doesn't seem to be useful but needs more investigation.

[2022-02-09 16:34] lin-d-hop commented on #7730
@Matt-Yorkley Do we now use this or did you find another way to do split checkout?

[2022-02-09 23:05] mkllnk opened #8854 "Release v4.1.19"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-02-10 04:08] Renatacumming opened #8855 "Broken Buttons on 'Visible to Registered Customers Only' view"
## Description
The 'login', 'signup' and 'contact' buttons on the 'Visible to Registered Customers Only' view are not working.
For shopfronts that choose 'Visible to Registered Customers Only' option under 'Publicly Visible Shopfront' option in Shop Preferences of Enterprise Settings, this view is shown in the shops Home message when the the shop is open.

Customers click on the 'login' button and

[2022-02-10 09:56] filipefurtad0 opened #8858 "Add test coverage on login/signup modal for links in shops "Visible to Registered Customers Only""
### What we should change and why (this is tech debt)

We need test coverage for the login/signup modal, on shops "Visible to Registered Customers Only".

### Context

This came up in:
https://github.com/openfoodfoundation/openfoodnetwork/pull/8857

### Impact and timeline

Preventing regressions.

[2022-02-10 11:02] filipefurtad0 opened #8859 "[test environment] PDF invoices rendered without css"
## Description

Similar to and blocked by #8849, but concerning the test environment (adding the tech-debt label).
This could potentially be blocking #8434 (as described [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8434#issuecomment-998259296)).

## Expected Behavior

PDF invoices should render correctly.

## Actual Behaviour

PDF invoices are rendering without css.

## Steps

[2022-02-10 12:42] Matt-Yorkley commented on #3774
A couple of notes: the biggest part of the flame graph there is in rendering, and we largely mitigated that here: https://github.com/openfoodfoundation/openfoodnetwork/pull/7662

The other issue is that the page renders every single enterprise from the entire database (although that's only really a problem as superadmin) with no pagination which is nuts. The reason that happens is essentially tied

[2022-02-10 13:19] jibees opened #8860 "Open the login modal directly to the right tab (login, signup or password)"
## Description
Context: https://github.com/openfoodfoundation/openfoodnetwork/pull/8857 and https://github.com/openfoodfoundation/openfoodnetwork/issues/8855

When a hub has a private shop page, there is some links that open the "login modal". One is named "Login" and the other is named "Sign up". Both open the same modal, but should open directly the associated tab in this modal.

We also should

[2022-02-10 13:19] Matt-Yorkley commented on #8177
Quick notes:

- In relation to orders that fail due to items going out of stock which are then edited by an admin; we had some previous issues around that which were fixed recently by Cillian.
- Some of the complexity around these state changes is due to weirdness in the way the current checkout works. It does things like resetting the order back to previous states if it encounters an error, and t

[2022-02-10 13:47] #8855 closed

[2022-02-10 17:08] filipefurtad0 opened #8862 "Subscription orders placed with expired cards generate corrupt payments (checkout state))"
## Description

Related to https://github.com/openfoodfoundation/openfoodnetwork/issues/8821

Placing subscription orders when the customer's card has expired generates a payment in the `checkout` state.

Bugsnag (Handled error)
StateMachines::InvalidTransition: Cannot transition state via :started_processing from :checkout (Reason(s): Credit card Credit Card has expired)

https://app.bugsnag.com/

[2022-02-10 17:09] #8794 closed

[2022-02-10 23:54] lauriewayne commented on #8506
Thank you for making our world a bit more orderly and beautiful!!!

[2022-02-11 08:48] jibees commented on #8769
Seems to be a cache issue.
**Initial conditions**
 - _User_1_ is connected and have access to split checkout via the interface `Spree::User;1`, as seen on screenshot below.
 - _Guest_ is not connected, and therefore have no access to the Split checkout.

**How to reproduce**
 - With _User_1_, prepare a cart and proceed to checkout. See that `/checkout/details` is the split checkout. OK
 - With _Gu

[2022-02-11 09:19] jibees commented on #8769
Debug

With _User_1_:
[code]
and then with _Guest_:
[code]

The previous (ie. the _User_1_) is stored in the `@spree_current_user` variable...

[2022-02-11 09:28] Matt-Yorkley commented on #8769
Nice debugging! I think the issue is that memoizing the value here is a bad idea. We can try it like this:
[code]

[2022-02-11 09:28] jibees commented on #8769
Yep, that's exactly what i'm going to commit ;) Thanks! 🙏

[2022-02-11 18:53] filipefurtad0 commented on #8844
Maybe a heads-up on this issue @lin-d-hop : These orders potentially break `/admin/reports/orders_and_distributors` reports... probably because they have `shipment state = none`...

[2022-02-11 19:01] filipefurtad0 commented on #8854
Hey @mkllnk ,
The release is ready to go. I could not reproduce any Stripe issues on:
- iPhones
- Chrome (with 3G throttling enabled)

Could not find any regressions either.

Testing notes:
https://docs.google.com/document/d/10WziQi9JrlQd_cLHw_BwO_R00fl6jY5B2elV1O58_N0/edit#heading=h.4ctypvfojpgm

[2022-02-13 14:32] SarvarKh commented on #8773
Async call in `.catch` is returning undefined <= product_import controller is rendering whole HTML error response, instead of JSON. So, I believe it does relate to the #6096

There is an alternative [solution](https://github.com/openfoodfoundation/openfoodnetwork/pull/8876), but not ideal.

[2022-02-13 23:30] mkllnk opened #8877 "Uploading product image fails"
## Description

One Australian user could not upload a product image. This was observed in Bugsnag and the details are not known yet.

## Expected Behavior

Uploading an image always works.

## Actual Behaviour

Uploading failed for one user. More may be affected.

## Steps to Reproduce

1. ???
2.
3.
4.

## Animated Gif/Screenshot

## Workaround

## Severity

Unknown.

## Your Environment

* Versi

[2022-02-14 07:59] jibees commented on #8877
Related to #8851 ?

[2022-02-14 10:15] jibees opened #8882 "Development mode: could not send email due to webpacker error"
## Description
Seems that webpacker fail to get the right CSS file when sending an email:

[code]
File: `app/views/layouts/mailer.html.haml` // method: `= stylesheet_pack_tag 'mail'`

I guess this happens only when running on development (and webpacker launch a server that serve the needed file). Should not happen in staging / production because the needed assets already compiled.

_Related to //

[2022-02-14 14:29] jibees opened #8886 "Remove bogus payment method"
### What we should change and why (this is tech debt)
This payment method is never used, and is unsupported (part of the Spree code). Remove it.

### Context
This came up in split checkout

### Impact and timeline
This work should start after Split Checkout is in production and is running (without toggling) and at the same time when cleaning all the _old-checkout_ code.

[2022-02-14 14:43] RachL opened #8887 "If only 1 distributor in OC, select all variants by default in outgoing"
Previously discussed in: https://github.com/openfoodfoundation/wishlist/issues/154

## Description
**- As a:** enterprise user
**- On page:** `/admin/order_cycles/new`
**- I want to be able to do:** If I'm coordinating an OC **for only one distributor** and several producers, I want to see all products selected by default in the outgoing section (3rd step). It avoids having to select twice the sam

[2022-02-14 16:32] filipefurtad0 opened #8888 "Login messages not displayed for unconfirmed users"
## Description

_Updated_

Logging in to an unconfirmed account does not display any message on the login modal (for some browsers). I think this is the related message `unconfirmed: "You have to confirm your account before continuing." `.

## Expected Behavior

The modal messages for unconfirmed users should appear.

## Actual Behaviour

The modal messages are not appearing for different browsers

[2022-02-14 17:33] Matt-Yorkley commented on #8888
My only guess is that there's some kind of weird HTTP caching going on. Could you try in a private browsing window or try deleting history/cached data and see if it goes away? I can't replicate on Ubuntu with Fireox or Chrome.

[2022-02-14 17:34] Matt-Yorkley commented on #8888
Otherwise; that image indicates there are multiple errors. Could you scroll up and show me the first ones in the list?

[2022-02-14 17:42] filipefurtad0 commented on #8888
Seems to be a caching issue indeed, running on the private window works:

![Peek 2022-02-14 17-39](https://user-images.githubusercontent.com/49817236/153917397-bdcf9979-a59f-42e6-9c64-4fe968fdcb54.gif)

The two errors shown before appear each time Login is clicked:

![Peek 2022-02-14 17-38](https://user-images.githubusercontent.com/49817236/153917377-1f4db8b3-33ed-4201-92a7-f139c3995133.gif)

[2022-02-14 17:46] Matt-Yorkley commented on #8888
Aha! I can replicate it with an unconfirmed email but not with a wrong password. Okay...

[2022-02-14 17:52] filipefurtad0 commented on #8888
Ahh. Yes indeed, I see that now as well - the pass needs to be correct - updating the issue :+1:

[2022-02-14 18:29] #8853 closed

[2022-02-14 18:48] #8852 closed

[2022-02-14 18:56] filipefurtad0 opened #8889 "[Split checkout] Incorrect redirect from /details to /summary (/payment expected)"
## Description

After visiting /summary, and navigating back to /details, clicking "Next - Payment method" should redirect to /payment - but it redirects to /summary.

## Expected Behavior

After visiting /summary, and navigating back to /details, clicking "Next - Payment method" should redirect to /payment should redirect to /details.

## Actual Behaviour

After visiting /summary, and navigating

[2022-02-14 19:38] #8769 closed

[2022-02-14 22:28] mkllnk commented on #8886
A lot of specs depend on this method. We need to replace those with Stripe or Paypal tests. That work would be much easier after adding VCR:
- #7767

[2022-02-14 22:29] mkllnk commented on #8877
We asked the user what happened. They said that they switched their computer off and on again and then everything worked. :smile:

[2022-02-14 23:00] RonellaG opened #8890 "Subscriptions orders are not reliably created when order cycles with schedules open"
## Description

The hub manager for Southern Harvest Association Community Stall (#2565) reported a recurring issue with the subscriptions not activating when an order cycle is opened.

## Expected Behavior

This hub has multiple order cycles and each order cycle often has more than one schedule attached to it.

When the manager creates an order cycle with attached schedules, the opening of the or

[2022-02-15 08:32] filipefurtad0 commented on #7853
I'm getting this deprecation warning locally, maybe relevant here:
`.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/paperclip-3.4.2/lib/paperclip/content_type_detector.rb:27: warning: File.exists? is deprecated; use File.exist? instead
`

[2022-02-15 11:23] #8882 closed

[2022-02-15 11:44] filipefurtad0 commented on #8821
This reproduces, but only _sometimes_:
![image](https://user-images.githubusercontent.com/49817236/154054980-154b9c55-df7b-47cd-b997-fbf5e9690f22.png)

https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61f90e26825c9f00086cf6a6?filters[event.since]=30d&filters[error.status]=open&filters[app.release_stage]=staging

After changing the expiry date to `03 / 33` and succesfully checking out it b

[2022-02-15 13:09] filipefurtad0 commented on #8854
There is an issue on placing subscription orders from [cloned order cycles](https://github.com/openfoodfoundation/openfoodnetwork/pull/8828#issuecomment-1040252445). Investigating...

[2022-02-15 13:44] filipefurtad0 commented on #8854
I think we might need to revert #8828... It seems to link everything correctly: I verified the DBs for `subscriptions`, `order_cycles`, and `order_cycle_schedules` but for some reason I can't get the order to be placed (missing from `proxy_orders`).

It can be that it all works in production, I'm just not sure.

[2022-02-15 14:03] sigmundpetersen commented on #8854
Is this verified to be working consistently in v4.1.18?
I'm asking because of the suggested S1 #8890 which seems to have similarities in subscription orders not being created in some cases.

[2022-02-15 17:48] filipefurtad0 opened #8894 "[Split checkout] Logging in during guest checkout redirects to homepage"
## Description

Logging in during guest checkout redirects to homepage, forcing the user to click the cart and proceed to checkout again.

## Expected Behavior

If the user is prompted to log in during checkout it should be redirected to the `/details` page.

## Actual Behaviour

If the user is prompted to log in during checkout it currently is redirected to the homepage.

## Steps to Reproduce

1

[2022-02-16 14:04] RachL commented on #8900
@jibees can you confirm this is still a task to be done? If so can you update a bit the issue?

[2022-02-16 14:29] lin-d-hop opened #8904 "Admin Fee display on invoice: displaying fee name instead of the type"
## Description
**- As a:** (enterprise user, super admin, user...) shopper
**- On page:** (provide url of the page you want to modify. If not provide where will be created the new url and the name we want to give it) invoice
**- I want to be able to:** (specify the desired behavior) see the name of the fee as it appeared in the shopfront

Enterprise fees have 'types' associated with them:  - admin

[2022-02-16 14:37] lin-d-hop opened #8906 "Remove Fee Types from platform"
## Description
**- As a:** (enterprise user, super admin, user...) Enterprise user
**- On page:** (provide url of the page you want to modify. If not provide where will be created the new url and the name we want to give it) new and edit Enterprise fees
**- I want to be able to:** (specify the desired behavior) not have specify a fee type when entering the fee

Enterprise fees have 'types' associa

[2022-02-16 14:39] lin-d-hop opened #8907 "Remove Fee Types from the Platform"
## What is the problem we are solving

Enterprise fees have 'types' associated with them: - admin, sales, transport, packing, fundraising
This is a Spree legacy and doesn't have a reflection on taxes or functionality. It simply creates a point of confusion for users.

## Success factors = expected outcome

No more reference to Fee Types in shop, invoices or backoffice.
Migration to remove from DB

[2022-02-16 15:05] RachL commented on #8909
Performance issue has been addressed in customer endpoint spec.

[2022-02-16 15:51] Matt-Yorkley commented on #8900
This one's really out of date, I don't think it's relevant now :+1:

[2022-02-16 15:51] #8900 closed

[2022-02-16 23:59] georgethoppil commented on #6096
I can start taking a look at this

[2022-02-17 00:31] RonellaG commented on #8890
I asked the hub manager to create her Thursday order cycle from scratch for her bakery schedules to see if the process of duplicating the order cycles is somehow carrying over the issue. She responded saying "Thursday and Friday orders have activated." I checked and all the orders were activated by the new order cycles she created - so this seems to confirm it's more of a cloned order cycle issue.

[2022-02-17 01:15] RonellaG opened #8913 "Group products by supplier in invoices"
## What is the problem we are solving

One of our hubs, Strathbogie Local (ID#2840), packs a significant amount of orders each week.

The hub manager uses two things when they are packing produce:

1. The invoice goes on the front of the order box, because it has all of the customer details including phone number if there are issues with pick up.
2. The Pack By Producer list, and they work from he

[2022-02-17 10:54] #8827 closed

[2022-02-17 11:02] filipefurtad0 opened #8914 "[Split Checkout] Setting shipping methods as backoffice only does not hide them"
## Description

Follow-up from #8871.

Setting shipping methods as backoffice only does not hide them from the split checkout.

## Expected Behavior

Backoffice only shipping methods should be hidden from the split checkout.

If there is no shipping method set but an OC is set, the message should be triggered on the BO:

`active_distributors_not_ready_for_checkout_message_singular`

See pic below.

[2022-02-17 11:07] filipefurtad0 opened #8915 "Remove "Checkout only" option on payment methods"
## Description

Came up in [#8871](https://github.com/openfoodfoundation/openfoodnetwork/pull/8871), but valid for both legacy and split checkout.

The `checkout only` option is available only for payment methods but seems not to be working correctly ~~for split checkout~~. We should remove it from the dropdown, when editing a payment method:

`/admin/payment_methods/<id>/edit`

## Expected Behavi

[2022-02-17 11:10] jibees commented on #8915
I guess this one should be renamed to `Remove "Checkout only" option on payment methods`, as it's not strongly related to splitcheckout and will actually remove this option in both split / legacy checkout, right?

[2022-02-17 11:18] filipefurtad0 commented on #8915
Good point :+1:
Renamed and updated the issue. Thanks!

[2022-02-17 11:49] Matt-Yorkley commented on #8915
Hmmm... I thought this feature was being used? :thinking:

[2022-02-17 11:51] RachL commented on #8915
@Matt-Yorkley "backoffice only" yes, "back+ front" yes, but not "checkout only". But we can double check by checking in prod DB if we have users who have selected this?

[2022-02-17 11:57] #8577 closed

[2022-02-17 15:59] apricot12 commented on #7853
This is about the code for the paperclip gem. It's not for us to fix :smile:

[2022-02-17 22:45] #8854 closed

[2022-02-18 09:36] #8850 closed

[2022-02-18 09:36] #8524 closed

[2022-02-18 09:36] #8618 closed

[2022-02-18 09:37] #8843 closed

[2022-02-18 09:38] RachL commented on #8770
Do we still observe these errors? @filipefurtad0 @Matt-Yorkley ?

[2022-02-18 11:29] filipefurtad0 commented on #8770
I think so @RachL... I just checked bugsnag:

https://app.bugsnag.com/open-food-france/coopcircuits/errors/61e9b26c53b7d1000793af3a?event_id=61e9b26c008c65868ee80000&amp%3Bi=sk&amp%3Bm=nw&filters[search][0]=Notice%3A&filters[search][1]=invalid&filters[search][2]=order&filters[search][3]=loaded&filters[search][4]=during&filters[search][5]=checkout

![image](https://user-images.githubusercontent.com

[2022-02-18 12:52] RachL commented on #8915
@filipefurtad0 can we know the hub id?

[2022-02-18 13:27] filipefurtad0 commented on #8915
The hub (it seems to be only one) using SCA as "checkout only" is:

[code]

The others are:

[code]

[2022-02-21 12:54] filipefurtad0 opened #8919 "Welsh / cy.yml locale throwing errors in staging"
## Description

Not yet in production, but used to be working correctly in staging. Not sure this is related to server settings / provisioning...

## Expected Behavior

The app should work in Welsh.

## Actual Behaviour

The app is breaking when selecting the Welsh language.

## Steps to Reproduce

1. visit https://staging.openfoodnetwork.org.uk/
2. Look for welsh in the dropdown -> notice you hav

[2022-02-21 12:56] sigmundpetersen commented on #8919
Yes you can see this in the code as well https://github.com/openfoodfoundation/openfoodnetwork/blob/master/config/locales/cy.yml#L2

[2022-02-21 13:00] sigmundpetersen commented on #8919
I can put it back to what it was, 'Saesneg'. But afaik this translates to 'English'?
It should rather be 'Gymraeg' -> 'Welsh', no?

[2022-02-21 13:07] sigmundpetersen commented on #8919
I don't think this is what breaks the page though.
That's rather due to the lines 'menu_x_url' being translated, which they shouldn't be.
(From https://github.com/openfoodfoundation/openfoodnetwork/blob/master/config/locales/cy.yml#L1456)

[2022-02-21 13:12] sigmundpetersen commented on #8919
I put them back to untranslates values in Transifex.
They should be updated on next pull from Transifex.

[2022-02-21 13:13] filipefurtad0 commented on #8919
Thanks for investigating and fixing @sigmundpetersen .
I'll close here, and check back at a later stage :+1:

[2022-02-21 13:13] #8919 closed

[2022-02-21 14:37] SarvarKh commented on #8907
Let me check this one

[2022-02-21 14:42] lin-d-hop commented on #8907
@SarvarKh Sure thing. Just start with the first papercut, rather than the whole epic ;)
#8899

[2022-02-21 16:08] RachL commented on #8915
@filipefurtad0 thank you ❤️ I've switched them all :)

[2022-02-21 16:13] RachL commented on #8915
@apricot12 yes. I think we need to run a little migration as part of the removal? Switching all existing "checkout only" to "backoffice and checkout" ?

[2022-02-21 16:16] apricot12 commented on #8915
Is it migration to both back office AND checkout or only to one of these in the DB? @RachL

[2022-02-21 16:23] RachL commented on #8915
@apricot12 yes both! Switching to backoffice only would make payment method disappear from the shopfront. That would be annoying 😅

[2022-02-21 16:24] apricot12 commented on #8915
Sounds good. Will take a crack at it.

[2022-02-21 19:04] #8075 closed

[2022-02-21 19:40] filipefurtad0 commented on #8844
The order does have a shipment:
[code]
[code]
So it seems the order now has a shipment, and it is `pending`. But this makes sense, because the only exiting payment (42.02) does not cover the order total (45.22)... so, `balance_due` state.

This seems to have changed, since you've reported @lin-d-hop. How does it look now in the UI? Can you add additional payments? Does clicking Update and Recalcul

[2022-02-21 20:02] #7934 closed

[2022-02-21 20:30] #3490 closed

[2022-02-21 23:20] #8773 closed

[2022-02-21 23:20] filipefurtad0 commented on #5363
Closing via #8876.

[2022-02-21 23:20] #5363 closed

[2022-02-22 08:14] RachL commented on #8830
Delivery circle meting today: we close it for now as we can't reproduce it.

[2022-02-22 08:14] #8830 closed

[2022-02-22 13:16] SarvarKh commented on #8899
Pie chart reflects price break_down with `fee_types` instead of `fee_names` through [price_breakdown.html.haml](https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/assets/javascripts/templates/price_breakdown.html.haml).

So far, I couldn't find where `variant` variable in the above file is defined.
It must be quite simple, but I am new to Angular - I used React & Redux for the f

[2022-02-22 17:19] RachL opened #8922 "As a user with an OFN account, I want to be able to login with my LesCommuns account"
Merging https://github.com/openfoodfoundation/openfoodnetwork/issues/5220 and https://github.com/openfoodfoundation/openfoodnetwork/issues/5221

## Description
**- As a:** enterprise who has an account on both OFN and les communs account
**- On page:** `/#/login`
**- I want to be able to do:** I want to be able to login with lescommuns. **User creation is out of scope here.**

A small demo on how

[2022-02-22 17:21] RachL commented on #8922
@Matt-Yorkley I don't know if François or Andy already change the color of the link. Last I heard was in this comment: https://github.com/openfoodfoundation/openfoodnetwork/pull/7880#issuecomment-881756570

@filipefurtad0 let me know if the issue is clear enough. We can have a quick call about it and I will be of course helping on testing as well, but it could be cool for you to be aware of that w

[2022-02-22 17:22] RachL commented on #5221
Closing in favor or : https://github.com/openfoodfoundation/openfoodnetwork/issues/8922

[2022-02-22 17:22] #5221 closed

[2022-02-22 17:22] RachL commented on #5220
Closing in favor of https://github.com/openfoodfoundation/openfoodnetwork/issues/8922

[2022-02-23 04:25] SarvarKh commented on #8899
Ok, `variant` variable doesn't comprise fee names.
So, need to define and then display them.

<img width="1440" alt="Screen Shot 2022-02-23 at 09 21 29" src="https://user-images.githubusercontent.com/60043698/155261552-a82ada64-4df4-4679-b8ba-bfa941e1845d.png">

[2022-02-24 03:32] mkllnk opened #8925 "ActiveRecord::StatementInvalid in admin/enterprises#update"
## Error in OpenFoodNetwork Aus

**ActiveRecord::StatementInvalid** in **admin/enterprises#update**
PG::InvalidTextRepresentation: ERROR:  invalid input syntax for integer: "? object:null ?"
LINE 1: ...rprise_roles" SET receives_notifications=(user_id='? object:...
                                                             ^

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/

[2022-02-24 04:19] mkllnk commented on #8877
This issue has been linked to an error in Bugsnag
[**ArgumentError** in **admin/enterprises#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/620f1217395d4b000841cb56?event_id=621706d50091564dae450000&i=gh&m=li)

[2022-02-24 04:31] mkllnk commented on #5293
This issue has been linked to an error in Bugsnag
[**ActiveRecord::StatementInvalid** in **spree/admin/variants#search**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/620ede9b2c2ee500087c9b97?event_id=621708fc0091575fc6080000&i=gh&m=li)

[2022-02-24 11:01] Matt-Yorkley commented on #6992
That controller is pretty ancient and I don't think we've ever really looked at maintaining it. I didn't even know it existed until recently. We haven't really been actively using it in the app.

There's been some discussion before about using those Webhooks a bit more for things like getting extra payment status change event data but it hasn't been looked at as far as I know.

[2022-02-24 12:10] Matt-Yorkley commented on #5293
I think not allowing products to be added to an order that doesn't have an order cycle is valid :+1:

So I'd lean towards the option where we improve the UX to tell the user they need to select an order cycle first in these cases.

[2022-02-24 12:19] Matt-Yorkley opened #8927 "Release v4.1.20"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-02-24 13:07] #8475 closed

[2022-02-24 13:29] filipefurtad0 opened #8928 "Can't authenticate payments for backoffice orders placed for unregistered customers"
## Description

If an admin places an order for a unregistered-customer then the link received per email will arrive to the customers mailbox (this was done in #8883). However, it will not allow to grant payment authorization, even after registering in that instance. It will trigger this error:

https://app.bugsnag.com/yaycode/open-food-network-js-uk/errors/6203fc5760ddd800087fddae?event_id=621779

[2022-02-24 13:29] filipefurtad0 opened #8929 "Unregistered / Guest user issues"
An epic to group Unregistered / Guest user issues

[2022-02-24 13:44] Matt-Yorkley commented on #8922
@RachL

Last I checked the button had been removed from the login modal completely and moved to a page in the admin area.

[2022-02-24 13:46] Matt-Yorkley commented on #8922
I don't think it'll work like that. They would have to log in again on the other staging server and potentially re-authenticate via LesCommuns. Sessions and session cookies are not shared across different domains.

[2022-02-24 13:54] RachL commented on #8922
@Matt-Yorkley

🤔  But how am I supposed to login if I'm already loggedin as admin? That's a bit weird no?

Ok. Today I can do it with the other platforms in DFC: when I do it on one, on the same browser I'm loggedin on the others, so I thought it would be the same with OFN. I will remove this part then.

[2022-02-24 14:42] RachL commented on #7541
@Matt-Yorkley the main thing left here is ActiveRecord right?

[2022-02-24 14:47] #7199 closed

[2022-02-24 14:55] RachL opened #8930 "[BUU] As an enterprise user, I can display (read only) a list of products and filter them."
## Description
**- As a:** enterprise or super admin
**- On page:** `/admin/products`
**- I want to be able to do:** I want to see the new back office design, display all products I have access to and filter them (including columns)

![image](https://user-images.githubusercontent.com/6525576/156615240-dedf57c0-e596-44fc-844a-8c820a3337d6.png)

![image.png](https://images.zenhubusercontent.com/595e

[2022-02-24 15:25] Matt-Yorkley commented on #8922
Let's step back a bit and try some re-inception here. So there are several different operations that need to work correctly for a proper OAuth implementation and we need to look at each of them and think about how they will be implemented. Each bit is like a mini-feature and each bit needs some UI and some backend work. They look like this:

1. Creating a **new OFN user** account based on an exter

[2022-02-24 16:38] RachL commented on #8922
@Matt-Yorkley step 1 is out of scope here, there is no funding for that.
The funding is only on login IF the account exist already on _both_ sides: OFN _and_ the external provider.

Can you describe what do you want to show to the user in step 2?

[2022-02-24 17:02] #7203 closed

[2022-02-24 17:03] RachL opened #8931 "[BUU] As an enterprise user, I should be able to access action buttons and add new variant"
## Description
**- As a:** enterprise user
**- On page:** `admin/product`
**- I want to be able to do:** see per product buttons edit, clone and delete and per variant dropdowns edit and delete. Also the new variant button can be used to add variant.

**Individual Actions Dropdown**
For Product
![image.png](https://images.zenhubusercontent.com/5f2c695b310b603896851306/94c06883-38d0-4684-b6b7-465d8

[2022-02-24 17:09] RachL commented on #7198
@jibees just noticing that your design is missing the action button per product, see: https://github.com/openfoodfoundation/openfoodnetwork/issues/8931

Also can we go up to 100 results per page? Or at least 50. 10 could be just one product and its variants, so it's tiny.

Let's have a call when you're back :)

[2022-02-24 17:10] Matt-Yorkley commented on #7541
We can probably just close this for now (since most of it is done) and wait and see if we need to switch the session storage from ActiveRecord.

[2022-02-24 17:10] #7541 closed

[2022-02-24 17:23] #8056 closed

[2022-02-24 17:23] #8036 closed

[2022-02-24 17:33] #7204 closed

[2022-02-24 17:33] RachL opened #8933 "[BUU] As an enterprise user, I should be able to do edit actions on admin/products page"
## Description
**- As a:** enterprise user
**- On page:** `admin/products`
**- I want to be able to do:** edit a product´s `unit type`, `number`, `tax category`, `inherit properties`, `category`, `SKU`, `producer`, `price` and a `variant´s number` and `display as` field

This will be done using Autosave behavior.

TODO: design on the top left for example a little spinner that ends with the text "A

[2022-02-24 17:40] RachL commented on #8933
@jibees I know you said we need probably 1 issue per field, but I needed to gather info to start with.

I stumbled upon more questions. I see here https://www.figma.com/file/kBvKYXnaNU0thSnKJUoyup/Product-List-UI-uplift?node-id=0%3A1

![image](https://user-images.githubusercontent.com/6525576/155577316-a77f8b2e-cdc1-4ce7-9548-7128586d9cdd.png)

We see the dropdown carret for 1 quiche and if I unde

[2022-02-24 20:40] tschumilas opened #8934 "Accrue payments made on the stripe dashboard to an OFN order"
## What is the problem we are solving
<When a customer's order - initially paid by credit card -  is moved into 'balance owing'  (from a product addition,  or adjustment...), the store manager must contact the customer for their card credentials to put the balance owing on the customer's card.  This is
the case whether or not the customer has saved their card to the store.  Tracking down customers

[2022-02-25 15:32] RachL commented on #5584
@jibees @Matt-Yorkley is this fixed by checkout-split?

[2022-02-25 16:50] Matt-Yorkley commented on #5584
I'm pretty sure this was fixed ages ago :smile:

[2022-02-25 16:50] #5584 closed

[2022-02-26 14:45] Matt-Yorkley commented on #8927
Hey :wave: I deployed something else on FR and also did a quick redraft to include a little security-related update. I don't think we need a full re-test, but we should stage it again before publishing. The updated build is here: https://semaphoreci.com/openfoodfoundation/openfoodnetwork-2/branches/master/builds/3362

[2022-02-27 21:47] filipefurtad0 opened #8940 "[Split Checkout] Cart page not displaying "Update" button"
## Description

If the stock is reduced below the order requirements, then the user is redirected to the /cart page, where the amount should be corrected and the "Update" button clicked.

On split checkout the update button is not displaying, if the stock restriction occurs on:
- the /payment step (when proceeding to /summary) -> see PR #8939
- the /summary step (when concluding the order)

## Exp

[2022-02-28 00:51] mkllnk opened #8941 "[Flaky] spec/system/consumer/shopping/shopping_spec.rb"
### What we should change and why (this is tech debt)

[code]

### Context

https://github.com/openfoodfoundation/openfoodnetwork/runs/5336601905?check_suite_focus=true

### Impact and timeline

[2022-02-28 13:45] RachL commented on #8927
I never had so many phone calls during a release testing :D this took aaages, sorry team. But everything looks good to go!

https://docs.google.com/document/d/1MpAnUuHx0ZFvRhcxCw4DuCzvs7IIE82UroOq5WpL2Go/edit#heading=h.5i4kwht2rcht

[2022-02-28 14:31] jibees opened #8942 "Rubocop: app/controllers/split_checkout_controller.rb has too many lines"
### What we should change and why (this is tech debt)
Rubocop warning about the length of the class `split_checkout_contoller.rb`

### Context
This came up in PR https://github.com/openfoodfoundation/openfoodnetwork/pull/8893#issuecomment-1048313464

[2022-02-28 14:57] BethanOFN opened #8943 "Unable to save enterprise name change depending on cursor position"
## Description

When making changes to the enterprise name field from the primary details screen, the 'update' button remains greyed out even after text is changed, unless the cursor is clicked outside of the 'name' field. This means that users are unable to save their changes with the update button until they have first clicked outside of the name field.

## Expected Behavior

Users should be abl

[2022-02-28 17:07] BethanOFN opened #8946 "Admin order not saved unless payment information entered"
## Description

When creating an order as an admin, an order is not saved until payment details are entered e.g. it's lost if 'back to orders list' is clicked before entering payment details.
At the customer details screen, clicking 'update' saves the customer info but does not redirect to the payments page. This contradicts previous order steps where clicking the 'update' button redirects user to

[2022-03-01 08:20] #8858 closed

[2022-03-01 08:20] #8860 closed

[2022-03-01 09:11] BethanOFN commented on #8946
This follows #8912 - we should ensure that the functionality of 'update & recalculate fees' is applied uniformly across the updated backoffice order flow (i.e. redirecting user to next required screen).

[2022-03-01 09:16] filipefurtad0 opened #8948 "[Split Checkout] Stripe production testing / roll-out strategy"
### Description

Related to #7767.
Related to #8924.

We need to consider Stripe and perhaps Paypal testing in our rollout strategy as these are, at the moment, difficult to cover with automated tests.

While in principle manual testing can cover some scenarios with test cards this will need careful testing in a production environment.

### Context

This came up on delivery circle meeting 01.03.20

[2022-03-01 09:16] BethanOFN commented on #8946
Follows from #8912 - we should ensure that following any changes to back office order flow that the same 'update & recalculate fees' button functionality of redirecting to next required screen is applied uniformly.

[2022-03-01 10:51] lin-d-hop commented on #8844
@filipefurtad0
The order is missing its line items. All of them. I feel like this discussion has gone on a huge tangent from the fundamental problem here.

I'm closing this issue. Its been sitting here for so long and the user has worked around in their accounts that this order is just a broken mess.

[2022-03-01 10:51] #8844 closed

[2022-03-01 20:09] #8927 closed

[2022-03-02 12:30] filipefurtad0 opened #8951 "[test ENV] Bad rendering of Stripe form"
## Description

Blocks Stripe test automation for split checkout, on the card form (`/payment` step).
The credit card for is rendering incorrectly and prevents test implementation, on a staging environment.

## Expected Behavior

Rendering should be the same as in staging or production environments.

## Actual Behaviour

Currently broken, and does not allow testing.

## Steps to Reproduce

1. Visi

[2022-03-02 12:55] filipefurtad0 commented on #8951
Not sure this is helpful, but I had a quick look on how the page elements are displayed:

Staging-env:
`
<input class="InputElement is-empty Input Input--empty" autocomplete="cc-number" autocorrect="off" spellcheck="false" type="text" name="cardnumber" data-elements-stable-field-name="cardNumber" inputmode="numeric" aria-label="Credit or debit card number" placeholder="Card number" aria-invalid="f

[2022-03-02 14:43] filipefurtad0 commented on #8951
Just as an additional test on this one:
I've reverted `spec/system/consumer/shopping/split_checkout_stripe_spec.rb` into a feature spec, and ran it again - but have the same outcome as when ran as a system spec. So, at least we can - in principle - rule out the root cause for #8859 :+1:

[2022-03-02 16:23] filipefurtad0 opened #8952 "[Split Checkout] Payments with non-3D cards need to be manually captured in the BO"
## Description

Payments with non-3D cards need to be manually captured in the BO.
~~Despite manually capturing them they still appear as not-captured on the Stripe Dashboard.~~

## Expected Behavior

- Payments with non-3D cards should be automatically captured (provided the card is valid), both on the UI and on Stripe.
- The button to manually capture credit card payments is displayed (when edit

[2022-03-03 05:49] mkllnk commented on #8788
Just keeping track of my work in progress:

### Attributes:

- [x] Id - integer
- [x] Enterprise_id - integer
- [x] First_name - string
- [x] Last_name - string
- [x] Code - string
- [x] Email - string
- [x] Allow_charges - binary (NO CREATE OR UPDATE - force users to use the UI. False on create)
- [ ] Tags - array of strings
- [ ] Billing_address - address object. I believe we can use something a

[2022-03-03 08:46] jibees commented on #8951
Found the _why?_
-->
https://github.com/openfoodfoundation/openfoodnetwork/blob/master/app/views/shared/_stripe_js.html.haml#L1-L5
[code]

We use a specific file (https://github.com/openfoodfoundation/openfoodnetwork/blob/master/spec/support/fixtures/stripejs-mock.js) to mock stripe js element.

[2022-03-03 12:45] filipefurtad0 opened #8955 "Remove spree prefix from DB tables"
### What we should change and why (this is tech debt)

Currently the DB has some inconsistent naming of tables, namely some have the `spree_` prefix and others don't.

We should have consistent naming on the DB...
...Right? Open question :-)

### Context

No specific context. Mentioned [here](https://openfoodnetwork.slack.com/archives/C02TZ6X00/p1646310412487089).

### Impact and timeline

Make co

[2022-03-04 09:57] #8951 closed

[2022-03-04 10:07] filipefurtad0 opened #8957 "[Spike] Automate Stripe SCA testing using puffing-billy"
### What we should change and why (this is tech debt)

We want to be able to test interactions between the browser and external sites, to test Stripe (and Paypal) more realistically.

### Context

This came up [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/8953#discussion_r819272909).

### Impact and timeline

Could be used on payment gateways which depending on external sites.

[2022-03-04 12:42] filipefurtad0 opened #8958 "[Split Checkout] Unchecking "Save as default address" saves addresses"
## Description

Verified for billing address. To be investigated for shipping address.

On split checkout, submitting the form with the checkbox  "Save as default address" unchecked saves it to the user and customer (in the DB). The change can be seen in the `/customers` page of the admin.

## Expected Behavior

Submitting the form with the checkbox  "Save as default address" unchecked should only

[2022-03-04 12:51] BethanOFN opened #8959 "Customer and admin unable to change password/email due to billing address 'error'"
## Description

User with ID 358 raised issue they couldn't reset their password and were getting the error message that 'billing address phone number cannot be blank' when trying to reset:
![image0 (1)](https://user-images.githubusercontent.com/100226210/156741307-a7610f9c-69dc-4e5f-91e2-264ece89cd0c.png)
They had not placed an order before, so had never entered billing details.

As admin I tried

[2022-03-05 15:45] lauriewayne commented on #7072
It is still an issue - @RachL could we consider this for a papercut or put it in line for scoping? (and is asking you the right process for this? Should I be asking the Product Circle on Slack? Sorry for the ignorance!)

[2022-03-07 02:27] mkllnk commented on #8788
Every customer record has a link to a billing address and a shipping address. The easiest would be to just have the address ids in the response but I think that you want the whole object.

If we include the whole object on every request, it doesn't scale that well, especially when listing customers. But I think that JSON:API's approach to this is to include a link to the address by default and inc

[2022-03-07 07:22] RonellaG opened #8961 "Metabase has not synched since 17 Feb 2022"
## Description
The Australian team use Metabase to provide customer support.

## Expected Behavior
We should be able to see up-to-date data so that we can investigate customer enquiries

## Actual Behaviour
Metabase has not synched since 17 Feb 2022

## Steps to Reproduce
<img width="1273" alt="Screen Shot 2022-03-07 at 6 15 07 pm" src="https://user-images.githubusercontent.com/68315791/156985698-

[2022-03-07 09:20] #8894 closed

[2022-03-07 10:16] filipefurtad0 opened #8963 "[Split Checkout] Shipping details section does not display shipping address settings (after failed attempt to proceed to /payment)"
## Description

The UI is not displaying the shipping address's settings (for a delivery shipping method), if the user fails to move from /details to /payment steps (for example, due to missing mandatory information)

--- side remark

In _some_ cases, this seems to be breaking the checkout as well, triggering this error:

https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61addaf4e787680007

[2022-03-07 11:48] filipefurtad0 commented on #8963
@jibees I've slightly changed and hopefully clarified the issue: we should focus on the fact that the shipping options section disappears, namely the checkboxes:
- ship address same as billing address
- save as default shipping address

Please compare these pics, I think it's clearer:

**Before** attempting to proceed from `/details` to `/payment` (with an empty mandatory field):
![image](https://

[2022-03-07 11:58] #8940 closed

[2022-03-07 16:37] filipefurtad0 opened #8965 ""g" products display BOM management tab in "oz""
## Description

Reported [here](https://openfoodnetwork.slack.com/archives/CG7NJ966B/p1646633613539759).

Products which are set to be in `g` are displaying `oz` in bulk order management.

## Expected Behavior

`g` products should display the respective unit in BOM.

## Actual Behaviour

`g` products display BOM management tab in `oz`.

## Steps to Reproduce

1. Create a `g` product;
2. Set up a b

[2022-03-08 07:24] kirstenalarsen opened #8968 "Group Products by Supplier: Pt 1 - code to change the way invoice prints"
## Description
* As an enterprise user
* on page: Enterprise Settings / Business Details
* I want to be able to switch my invoice layout so that the items on it are sorted by Producer then Product i.e.

Apples- Murrnong
Figs- Murrnong
Cherry Tomatoes- Ross Tomatoes
Truss Tomatoes- Ross Tomatoes

This issue is about writing the code so that there is an option to print the invoice in both the existi

[2022-03-08 07:32] kirstenalarsen opened #8969 "Group Products by Supplier on Invoice: Part 2 - Create Enterprise User Switch"
All Devs, Product and Testing please use Clockify project [185](https://github.com/openfoodfoundation/wishlist/issues/185) Group products by supplier

## Description
* As an enterprise user
* on page: Enterprise Settings / Business Details
* I want to be able to switch my invoice layout so that the items on it are sorted by Producer then Product i.e.

#8968 created an option in the code for items

[2022-03-08 08:32] filipefurtad0 commented on #8669
Closing in favor of epic #8667 .

[2022-03-08 08:32] #8669 closed

[2022-03-08 10:13] jibees commented on #8965
We need to find a _better_ way to reproduce the issue. I've tested on my local environment, and I could not reproduce.
I've tested with `Garlic` product:

###### In the product lists:
<img width="1161" alt="Capture d’écran 2022-03-08 à 11 11 28" src="https://user-images.githubusercontent.com/296452/157215561-8a8f8133-8b26-4d0f-8538-022955454b87.png">

###### Its options:
<img width="376" alt="Ca

[2022-03-08 10:57] Matt-Yorkley commented on #8961
Done :ok_hand:

[2022-03-08 10:57] #8961 closed

[2022-03-08 11:01] sigmundpetersen commented on #6139
Should this still be fixed as part of the Split Checkout work?
Or should we rather remove it from the Epic?

[2022-03-08 11:06] jibees commented on #8965
Actually, this is due to that `200` configuration:
<img width="909" alt="Capture d’écran 2022-03-08 à 12 05 26" src="https://user-images.githubusercontent.com/296452/157226427-f3810f68-98e4-477f-b913-542773bfd320.png">

We retrieve the unit thanks to this. And the bug seems to be here for a long time.

[2022-03-08 11:06] sigmundpetersen commented on #6392
I think we can close this.
`cy` translation has been improved I think.
For `fr_BE` this has to be fixed in Transifex and is just a case of incomplete translations.

[2022-03-08 11:06] #6392 closed

[2022-03-08 11:50] lin-d-hop commented on #8969
Small note - the UI element of the switch used in the above mock is not used in other places in Enterprise Settings. Can we use a UI element that is consistent with this area of the app? eg radio buttons :pray:

[2022-03-08 15:24] lin-d-hop opened #8974 "Enable Shipping Methods to be linked to an Order Cycle"
## Description

As an enterprise user I would like to be able to specify which shipping methods will be available in the shopfront on specific order cycles.

To select shipping methods we want an additional expandable panel in step 3 of edit order cycle:
![Screenshot from 2022-03-08 13-30-27](https://user-images.githubusercontent.com/8669848/157248886-e3e46e34-bb23-4b07-a7d2-2cb41e23465d.png)

Whe

[2022-03-08 15:34] lin-d-hop opened #8975 "Enable Payment Methods to be linked to an Order Cycle"
## Description

As an enterprise user I would like to be able to specify which payment methods will be available in the shopfront on specific order cycles.

To select payment methods we want an additional expandable panel in step 3 of edit order cycle:
![Screenshot from 2022-03-08 13-30-27](https://user-images.githubusercontent.com/8669848/157248886-e3e46e34-bb23-4b07-a7d2-2cb41e23465d.png)

When

[2022-03-08 16:46] BethanOFN opened #8976 "Allow order cycle to be changed for complete orders"
## Description

Orders with status = complete cannot have their order cycle changed.

## Expected Behavior

Order cycles should be adjustable, regardless of order state.

## Actual Behaviour

The order cycle field is only editable when in the status = payment. The dropdown to change it disappears once in status = complete.

## Steps to Reproduce

1. Go to the orders view and view or create an orde

[2022-03-08 19:40] kirstenalarsen commented on #8969
This was a suggestion by @Rachel Arnould ***@***.***>
to introduce a switch like this. I'm open to it being done either way.
@jibees any thoughts?

On Tue, 8 Mar 2022, 10:51 pm Lynne, ***@***.***> wrote:

[2022-03-08 22:28] drummer83 commented on #8943
I think this is covered in #1719, isn't it?

[2022-03-09 08:42] jibees commented on #8969
I'd be happy to use such a new component, but my main concern is that this kind of component is rather used in interface when clicking on it change immediately the state of the app. Here, we wait for submitting the form. I'd vote for a radio button then.

_Source:_ https://www.nngroup.com/articles/toggle-switch-guidelines/#:~:text=Toggle%20switches%20are%20best%20used,or%20toggles%20%E2%80%94%20ca

[2022-03-09 09:18] RachL commented on #8969
I was mentionning this type of switch as we start to have a huge set of radio button, and they are pretty small. I find them more and more hard to use. But maybe a topic for the future, not this issue :-)

[2022-03-09 09:22] lin-d-hop commented on #8969
It would be cool to make an epic to replace all the radios to a better component for sure! I just hate to add more complexity to our confusing UI

[2022-03-09 09:49] RachL commented on #8978
@seballot @sigmundpetersen sorry we haven't been able to do the issue yet, it was on our todo list.

@seballot may I ask why you think it's best to put it within the OC? In enterprise settings, under "user" sub menu there is a field dedicated to notifications. Maybe a checkbox under / next to this field would be more appropriate?

![image](https://user-images.githubusercontent.com/6525576/15741651

[2022-03-09 10:06] seballot commented on #8978
Hi @RachL, for me both places are fine. We just need to choose and be consistent. Regarding notification params, for now we have

- automatically notify producer or not
- receive a copy of each order or not

We will probably have more in the future, like
- receive some report by email when the OC closes

Personnally I feel it's better to have all the option on same place, and as we started on OC a

[2022-03-10 10:28] lin-d-hop commented on #8978
@seballot There are two types of emails at play here:
- order confirmation emails
- order cycle notifications

These are two different emails. Order cycle confirmations go to producers. Order confirmation emails go to sellers/hub. So while they are both notifications we need to treat them both differently.

The 'Order Cycle Notifications' currently live in the Order Cycle. This is not the best pla

[2022-03-10 14:38] #8915 closed

[2022-03-10 15:05] filipefurtad0 opened #8981 "[BOM] Values displayed for Current Fulfilled units and Max Fulfilled units are incorrect"
## Description

Follow-up from #8972.

The values displayed for Current Fulfilled units and Max Fulfilled units are incorrect.

## Expected Behavior

From the user guide:

## Actual Behaviour

The displayed numbers are not correctly calculated.

## Steps to Reproduce

For:
1. Bulk unit size 60000 g
2. Product unit 3000 g
3. An order between 3 and 7 items we get the values on the pic below.
4. Expe

[2022-03-10 15:48] #8958 closed

[2022-03-10 16:07] #8889 closed

[2022-03-10 16:13] #8914 closed

[2022-03-10 16:32] filipefurtad0 opened #8982 "[Split Checkout] Add coverage on "Save as default shipping address""
### What we should change and why (this is tech debt)

Add coverage on "Save as default shipping address"

### Context

https://github.com/openfoodfoundation/openfoodnetwork/pull/8964/

### Impact and timeline

Releasing split checkout.

[2022-03-10 16:45] filipefurtad0 commented on #8963
The checkbox "Save as default shipping address" is still displaying this behavior. Steps to reproduce:

- Hub: setting up a hub with two shipping methods (one pick up, one delivery)

- Logged-in customer: proceed to checkout and notice the "Save as default shipping address" is missing
- select the `pick up` shipping method
- now select the `delivery shipping` method
- the checkbox should now appea

[2022-03-10 17:26] filipefurtad0 opened #8983 "[staging-FR] Images broken: error 301"
## Description

Images are broken on staging-FR.
~~Possibly related to #8414 and [Slack thread](https://openfoodnetwork.slack.com/archives/CDLKH9MM0/p1635232358001600).~~

## Expected Behavior

Images should work on staging-FR.

## Actual Behaviour

Images are broken on staging-FR.

## Steps to Reproduce

1. Anything related to images, for example:
2. Displaying previously uploaded images
3. Uploa

[2022-03-10 17:51] filipefurtad0 commented on #8983
Seems only related to staging-FR; all good in staging-AU after staging master :+1:
Updating the issue.

[2022-03-10 18:14] filipefurtad0 opened #8984 "split_checkout_spec failing consistently"
### What we should change and why (this is tech debt)

This test seems to be failing consistently and breaking the build:

[code]

### Context

This came up here:
https://github.com/openfoodfoundation/openfoodnetwork/actions/runs/1964328540

### Impact and timeline

[2022-03-10 18:51] sigmundpetersen commented on #8983
Also reported in #6290?
Maybe it's been broken for a while

[2022-03-11 00:18] drummer83 opened #8985 "Make checkbox for "Send a cancellation email to the customer" checked by default"
## Description
To solve #8477 all functionality was implemented in #8766. The checkbox for "Send a cancellation email to the customer" should be checked by default when cancelling an order by deleting the last item (See [this comment](https://github.com/openfoodfoundation/openfoodnetwork/issues/8477#issuecomment-936550669) in https://github.com/openfoodfoundation/openfoodnetwork/issues/8477). Curr

[2022-03-11 07:56] jibees opened #8986 "4.1.21"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
https://github.com/openfoodfoundation/openfoodnetwork/releases/untagged-f9bda766ce96633f7b82
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

[2022-03-11 07:56] #8477 closed

[2022-03-11 08:01] #8965 closed

[2022-03-11 08:38] RachL commented on #8986
@jibees just a note that FR server will need to be provision in order to remove italian translations :+1:

[2022-03-11 08:42] jibees commented on #8986
I think I don't know how to do this, but I can ask @pacodelaluna ;)

[2022-03-11 13:59] filipefurtad0 commented on #8983
Hey @sigmundpetersen - thanks!
While in #6290 an error 422 was reported, on this issue we see an error 301, when trying to upload images -> this seems to be the current behavior now, so I'll close #6290 :+1:

[2022-03-11 14:00] filipefurtad0 commented on #6290
Closed in favor of #8983 .

[2022-03-11 15:42] drummer83 commented on #8985
@openfoodfoundation/train-drivers-product-owners

Hi team, just wanted to raise that #8766 is currently part of the next release but it is not fully according to specification. Please see this issue above and comment if
- A) we move forward and implement this with the following release
- B) we redraft a release without #8766

I personally would go for A because the impact on users is really small.

[2022-03-11 16:22] RachL commented on #8985
yes moving forward :+1:

[2022-03-11 18:20] filipefurtad0 commented on #8986
Thanks @jibees !

We're all good to go :rocket:
https://docs.google.com/document/d/16MxE0RyMM6qGz9f9eet7T1VnsB97eArsCkA3THf4ops/edit#

[2022-03-11 20:21] seballot commented on #8978
Hi @lin-d-hop yes I'm aware of the two types of emails at play but thanks anyway for the clarification :)

For me it does also make more sense to put those two settings at entreprise level, but who's know, maybe someone will find it usefull ot be able to configure at the order cycle? if, for this kind of order cycle I want this kind of notifications

but if you are confident there is no such need,

[2022-03-11 20:21] seballot commented on #8978
Hi @lin-d-hop yes I'm aware of the two types of emails at play but thanks anyway for the clarification :)

For me it does also make more sense to put those two settings at entreprise level, but who's know, maybe someone will find it usefull ot be able to configure at the order cycle? if, for this kind of order cycle I want this kind of notifications

but if you are confident there is no such need,

[2022-03-14 08:03] #8984 closed

[2022-03-14 10:16] filipefurtad0 opened #8993 "Enteprise with empty country address"
## Description

An enterprise with an empty country info was found during release testing; This breaks the UI and has potential to become a serious issue if occurring in production.

Seems related with this bugsnag error, from production (AU):

[code]

https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/6229aac74662e0000932c5d7

## Expected Behavior

Addresses associated with enterprises mu

[2022-03-14 10:17] filipefurtad0 commented on #8993
I've queried staging-UK and found no other enterprises with missing country info on the respective address. I'll have a look in Metabase to see if this an issue in production currently.

[2022-03-14 10:19] jibees commented on #8993
I run `select * from enterprises, spree_addresses where enterprises.address_id = spree_addresses.id and spree_addresses.country_id IS NULL` in prod-fr, and 0 rows returned.

[2022-03-14 11:01] jibees commented on #8952
I'm not sure to manage to handle this one.
I guess @Matt-Yorkley could be the man for sure.

[2022-03-14 18:31] apricot12 commented on #8768
I've written up something [here](https://docs.google.com/document/d/1EPg8EP6dCK9NGDIvADQIcLM9GRErz8Jsgdu1j-JccHI/edit?usp=sharing). I'm not sure if it's good so please do comment with anything I could add to improve it,

[2022-03-14 23:06] mkllnk commented on #8986
Yes, if it doesn't take too long. :smile:

[2022-03-15 01:05] mkllnk commented on #8579
Matt said:

Stripe clarifies:

So once we created a customer object, we can use that repeatedly. But I also saw mentions of Stripe Payment Method objects and I'm not sure if we forget to associate them or if that's done automatically somewhere.

[2022-03-15 01:33] mkllnk commented on #8579
More from the docs:

I guess that we use one payment intent for several checkouts. That's allowed but not recommended.

When the customer stores a card, we confirm it with Stripe and make sure that a payment method is associated. It can associate a payment method object automatically. That path should be safe.

I spent an hour just reading docs and our code now. Before we investigate more, I would

[2022-03-15 06:13] mkllnk commented on #6347
I'll keep my notes in this comment for now.

Previous PRs:

- #8469
- #8470
- #8576

Some resources:

https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md
https://gorails.com/episodes/migrate-from-paperclip-to-rails-active-storage
https://blog.codeminer42.com/migrating-from-paperclip-to-activestorage-b37ef187fb17/
https://medium.com/sortlist-engineering/migrating-from-paperclip-to-acti

[2022-03-15 14:58] #8986 closed

[2022-03-15 15:43] filipefurtad0 opened #8998 "BOM: datepicker not working correctly when used together with OC selector (error 304)"
## Description

On the bulk order management page if both filters (datepicker + OC selector) are used together then the selected date is not kept.

## Expected Behavior

Filters should work independently and together with other filters, on the BOM page.

## Actual Behaviour

Datepicker not working correctly when used together with OC selector. An error 304 is seen in the console (maybe related)

#

[2022-03-15 19:00] filipefurtad0 opened #8999 "[Split Checkout] Tags not taking effect on shipping methods"
## Description

Tags not taking effect on shipping methods

## Expected Behavior

Tags should take effect on shipping methods

## Actual Behaviour

Tags not taking effect on shipping methods

## Steps to Reproduce

1. Set a tag `hide_sm` as default rule to hide shipping methods
2. Add the tag to a given shipping method
3. Visit the checkout and notice the shipping method still appears

## Animated

[2022-03-15 23:58] mkllnk opened #9001 "Stripe checkout fails due to missing card record"
## Error in OpenFoodNetwork Aus

**NoMethodError** in **checkout#update**
undefined method `gateway_payment_profile_id' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/6231216bacd3c600093796c4?event_id=6231216b0092f95d1f1d0000&i=gh&m=ci)

## Stacktrace

    lib/stripe/credit_card_clone_finder.rb:34 - fingerprint_for_card
    lib/stripe/credit_card_clo

[2022-03-16 04:44] Renatacumming opened #9002 "Customer unable to access private OC with correct tagging"
## Description
Customer Ben (user_id: 18665) shops at Timbarra Farm. Weekly customer since October 2020
Timbarra Farm uses Tagging to create private Order Cycles.
The account's email address has been tagged correctly (farm-pick-up & yarra-junction) to access private order cycles and successfully placed weekly orders until late February.
Timbarra Farm runs three private order cycles:
-Yarra Junctio

[2022-03-16 08:21] lin-d-hop commented on #9002
This issue is more likely to be an issue with changing the email address of a user, rather than tagging.
There have been other issues with changing email addresses eg https://github.com/openfoodfoundation/openfoodnetwork/issues/8959

@Renatacumming can you update when you know if Maikels workaround has worked or not?
Downgrading to S3 until then.

[2022-03-16 08:31] jibees commented on #8999
outch. I didn't notice about that. Thanks @filipefurtad0 for your deep testing / review ...

[2022-03-16 09:18] filipefurtad0 commented on #8999
Thanks @jibees for your patience and work on this :pray:

Some notes on this:
- I'm working on [this draft PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/9000) to cover for this scenario (shipping methods)
- It will include coverage on tags + payment methods, which I'm confident it is working :+1:

[2022-03-16 09:20] jibees commented on #8999
Ok !

[2022-03-16 19:45] tschumilas opened #9006 "Unable to search OFN-User Guide"
## Description

## Workaround
Only workaround is to page through the guide for what you want.

## Severity
s2 ??

bug-s1: a critical feature is broken: checkout, payments, signup, login
bug-s2: a non-critical feature is broken, no workaround
bug-s3: a feature is broken but there is a workaround
bug-s4: it's annoying, but you can use it
bug-s5: we can live with it, only a few users impacted

https:

[2022-03-16 20:25] filipefurtad0 opened #9007 "[Split Checkout] Previous order information missing for split checkout"
## Description

The legacy checkout displays open orders on the /checkout page. This is missing from the split-checkout; I think the closest would be the `/summary` step, before order confirmation.

See also [this thread](https://openfoodnetwork.slack.com/archives/C01V3KW8RSM/p1647267494221469) for reference.

## Expected Behavior

Previous order information should appear for split checkout, on `/

[2022-03-16 23:59] Renatacumming commented on #9002
Update: Timbarra Farm owner Helen has ben able to gain access, leaving bug open until next week to make sure that the customer can also gain access and place order before closing bug.

[2022-03-17 14:19] #8925 closed

[2022-03-17 15:38] drummer83 commented on #8985
Hmm, I can't confirm.
It makes me feel bad, but I have to say that I probably missed to test the regular cancellations you are mentioning.

[2022-03-17 15:49] filipefurtad0 commented on #8985
Hey @drummer83 ,
No worries :+1:

Ahh, ok, so you are receiving regular cancellation emails? In that case, all good.
I'm just wondering whether this is a confirmed to add to this bug report, and assure it is considered on the fix on PR #8991 :+1:

Please, no worries at all - it's part of the testing business :heart:

[2022-03-17 16:13] filipefurtad0 opened #9012 ""Close" option broken on OC Advanced Settings menu"
## Description

#8805 introduced a tiny regression around the "Close" button on the OC Advanced Settings menu:
- with that PR it stopped working
- it now triggers this Bugsnag JS error

####

_New unhandled error in staging from [Open Food Network JS UK](https://app.bugsnag.com/yaycode/open-food-network-js-uk?i=sk&m=nw) in /admin/order_cycles/3577/edit [(details)](https://app.bugsnag.com/yaycode/o

[2022-03-17 16:16] #8902 closed

[2022-03-17 18:16] #8981 closed

[2022-03-18 11:24] #8131 closed

[2022-03-21 00:53] drummer83 opened #9017 "Missing translation: "Shipping method" when editing shipping method"
## Description
When editing a shipping method, the confirmation message at the top of the screen is not fully translated. It starts with untranslated "Product xy".

## Expected Behavior
"Shipping method" in the confirmation message should be translated.

## Actual Behaviour
"Shipping method" in the confirmation message is not translated.

## Steps to Reproduce
1. Choose a language other than Engli

[2022-03-21 01:03] drummer83 opened #9018 "Missing translation: Confirmation message when editing order cycle"
## Description
When editing an order cycle, the confirmation message at the bottom of the screen is not translated.

## Expected Behavior
"Order cycles have been updated" in the confirmation message should be translated.

## Actual Behaviour
"Order cycles have been updated" in the confirmation message is not translated.

## Steps to Reproduce
1. Choose a language other than English.
2. Log in.
3.

[2022-03-21 08:08] jibees commented on #9017
As this one is labeled as `good first issue`, let me post the link to our wiki page regarding the i18n : https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29

[2022-03-21 08:08] jibees commented on #9018
As this one is labeled as `good first issue`, let me post the link to our wiki page regarding the i18n : https://github.com/openfoodfoundation/openfoodnetwork/wiki/Internationalisation-%28i18n%29

[2022-03-21 08:28] jibees opened #9019 "4.1.22"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfood

[2022-03-21 13:32] filipefurtad0 opened #9022 "[Split-checkout] Default-address checkbox displayed on guest checkout"
## Description

The default-address checkbox is displayed on guest checkout; according to previous specs this is not the expected behavior, see:
https://github.com/openfoodfoundation/openfoodnetwork/blob/532d566308fbb173bff0652c190f42bc4403f157/spec/system/consumer/shopping/checkout_spec.rb#L353

## Expected Behavior

Default-address checkbox should not be displayed on guest checkout.

## Actual B

[2022-03-21 15:14] apricot12 commented on #5368
I still cant reproduce this, can you confirm this is still an issue? @RachL

[2022-03-21 16:04] RachL commented on #5368
@filipefurtad0 @apricot12

Indeed this seemed to be fixed. Anyone know what this switch does? Couldn't find it in the user guide

![image](https://user-images.githubusercontent.com/6525576/159301940-d1a3ecd2-d239-4a33-8984-9683976dae39.png)

[2022-03-21 16:04] #5368 closed

[2022-03-21 16:16] RachL commented on #9001
@mkllnk why is this s3 in dev ready. Do we need to bump the severity?

[2022-03-21 17:18] RachL commented on #9019
Haven't spotted anything new, I think we are good to go! https://docs.google.com/document/d/1_t3M7hofgeEfmVBjpA0Cb71Ld0OmFOrqQ7Px-0F6ks8/edit#heading=h.jms7ppa525fk

[2022-03-21 20:27] bschuer commented on #8911
Hello! My partner and I are in a student group working on open source projects and would like to help out with this issue. Do you have any advice/tips?

[2022-03-21 20:27] bschuer commented on #1760
Hello! My partner and I are in a student group working on open source projects and would like to help out with this issue. Do you have any advice/tips?

[2022-03-21 23:12] drummer83 commented on #1760
Hi Ben (@bschuer),
great to have you here! :smiley:

As you can see this issue has quite some history. There are a few pull requests which were very close to getting merged but the last bit was missing. So my recommendation would be to have a look at the history above and check the existing pull requests for code that can be reused.

Also I had invested some time to collect **a lot of information

[2022-03-22 00:32] mkllnk commented on #9001
Only one customer has been affected so far and that's why I haven't given it the S2. But it is checkout-related and I don't know the circumstances or potential workarounds.

I'm not sure about the priority. I just thought it would be good to look into it soon.

[2022-03-22 00:36] alannaemmrie commented on #8806
Hi,
I am interested in working on this! Sounds like the database is getting updated but not the UI. I am working on recreating the issue, but am wondering how I can access customer/shop owner accounts in order to do so? I am currently signed in using the administrator account listed in the setup guide. Should I create my own shop owner/customer accounts for testing, or are there existing ones I ca

[2022-03-22 07:29] MrFuku commented on #9018
Hi! @jibees
Can I do this?

[2022-03-22 08:06] jibees commented on #9018
@MrFuku for sure!

[2022-03-22 08:08] apricot12 opened #9024 "Setup script is broken, invalid transition of states"
### What we should change and why (this is tech debt)
When trying to run the setup script using `script/setup`, I run into the following error :
[code]

We should probably get on this ASAP as this could turn away a lot of potential volunteer contributors before they even start.

### Impact and timeline
- Impacts first time setup for new/volunteer devs.

[2022-03-22 09:04] jibees commented on #8911
@bschuer and welcome here ;)
What sort of advice do you need: is the description of the issue not enough?

Did you install the application on your computer ?
there's a wiki https://github.com/openfoodfoundation/openfoodnetwork/wiki that can answer question ... Did you join our slack https://www.openfoodnetwork.org/slack-invite ?

[2022-03-22 09:10] #8982 closed

[2022-03-22 09:44] drummer83 commented on #8806
Hi Alanna (@alannaemmrie),
so great to have you here! Looking forward to your contributions.
I would recommend to create your own accounts because it is a great way to learn about the software and you know exactly what is going on with those accounts.
If you don't want to do that, you could add yourself to existing enterprises as a manager. Here is how to do that: https://guide.openfoodnetwork.org

[2022-03-22 09:50] drummer83 commented on #9022
Hi @filipefurtad0,
to avoid misunderstandings during implementation and testing: Shouldn't the other checkbox on that screenshot be highlighted? "Save as default billing address" instead of "Shipping address same as billing address"? Or am I getting it wrong?

[2022-03-22 10:55] BethanOFN opened #9026 "Homepage footer logo is poor quality & low resolution"
## Description

The footer on the OFN uk platform displays a low res OFN logo.

## Expected Behavior

There should be a high quality image of our logo

## Actual Behaviour

The image is pixellated

## Steps to Reproduce

1. Go to OFN UK homepage
2. Scroll to the bottom
3. See poor quality logo displayed
4.

## Animated Gif/Screenshot

<img width="308" alt="Screenshot 2022-03-22 at 10 53 41" src="h

[2022-03-22 11:10] lin-d-hop commented on #9026
@BethanOFN I think you might be able to fix this.
Have a look in Super Admin -> Configuartion -> Content. You should be able to change this logo to a higher res one.

Did you check if this is also a problem on other instances? It is often the case that if something exists on UK prod that is related to UK specific content. A good thing to check before opening a general issue. If it is a UK specific

[2022-03-22 12:39] filipefurtad0 commented on #9022
Yes, indeed - edited :+1:

[2022-03-22 12:50] filipefurtad0 commented on #8671
Closing in favor of epic #8667.

[2022-03-22 12:50] #8671 closed

[2022-03-22 12:51] filipefurtad0 commented on #8672
Closing in favor of epic #8667.

[2022-03-22 12:51] #8672 closed

[2022-03-22 14:23] BethanOFN commented on #9026
Issue resolved:
<img width="407" alt="Screenshot 2022-03-22 at 14 22 45" src="https://user-images.githubusercontent.com/100226210/159503941-3c3d9c18-c00f-4d93-b3b6-178e04521f8c.png">

[2022-03-22 14:23] #9026 closed

[2022-03-22 15:22] cbordei commented on #8459
@gjacob3000 identified the place in the code where the message is rendered but the fix is not to rewrite that method

[code]

the way rails translations work (which spree overwrote with the use of `Spree.t`) is that they will pinpoint a value in the translation yml file; in this case `successfully_created: ! '%{resource} has been successfully created!'`

when the i18n replaces the `%{resource}` va

[2022-03-22 16:01] brittneyhoneycutt commented on #3041
I'm interesting in resolving this issue! Could someone please assign me?

[2022-03-22 16:30] RachL opened #9027 "Remove radio button asking for closed associated adjustments"
## Description
**- As a:** enterprise user
**- On page:** `/admin/orders/XXXXX/edit` (order edit page)
**- I want to be able to do:**
When changing the shipping method, I don't want to see the radio buttons on associated adjustments.

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/cfa93727-60d6-4bcd-9db4-34ea0e45ec33)

According to this thread: https://github.com/openfo

[2022-03-22 16:31] RachL commented on #9027
@openfoodfoundation/core-devs can this be a good-first-issue?

[2022-03-22 16:51] drummer83 commented on #9017
Hi @hmurali01,
you just post a comment here - as you just did. I will assign it to you!
Looking forward to your contributions! :partying_face:

[2022-03-22 16:56] RachL opened #9028 "Improve BOM on cancellation of last item"
Follow-up on https://github.com/openfoodfoundation/openfoodnetwork/issues/8477

## Description
**- As a:** enterprise user
**- On page:** `/admin/orders/bulk_management`
**- I want to be able to do:** when deleting the last item of an order, I want to see the same modal that was introduced in https://github.com/openfoodfoundation/openfoodnetwork/issues/8477

Also if possible, deleting the item sho

[2022-03-22 20:58] georgethoppil commented on #8910
@filipefurtad0 and I quickly tested this out and it seems like we are able to edit the main taxonomy and changing the name. This is reflected to the storefront now. There is a separate issue that Filipe found where re-naming by clicking the rename function on the main taxonomy has no effect whatsoever. However, that seems like a different issue we are trying to solve here and should be separated o

[2022-03-22 22:37] drummer83 commented on #3041
Of course! Here you go, @brittneyhoneycutt!
Looking forward to your contributions! :partying_face:

[2022-03-22 22:47] drummer83 commented on #8459
Great to have you here, @cbordei!
Let us know if you wish to be assigned to this issue!
And @gjacob3000, just a heads up that we might remove your assignment to this issue and forward it to cbordei!

[2022-03-23 01:26] alannaemmrie commented on #8806
Awesome! I was able to recreate the behavior pretty easily and received "order cancelled" emails.  I noticed that the cancelled orders moved into the "past orders" section of the page - is this the correct final state of the page? (wasn't sure if "past orders" needed to be fulfilled) I am new-ish to Ruby/RoR so I plan on getting familiarized for a little then starting on a solution!

[2022-03-23 07:50] #9019 closed

[2022-03-23 08:12] jibees commented on #9027
Sure!

[2022-03-23 08:23] jibees commented on #8768
I'd be happy if we choose trix-editor.

[2022-03-23 08:32] cbordei commented on #8459
@drummer83 yes, please assign me

[2022-03-23 08:47] drummer83 commented on #8806
Hi @alannaemmrie, cool! 👍🏻
Yes, moving the order to "past orders" is correct.
The problem covered in this issue is that the page remains empty after the cancellation, shows the OLD list when clicking on orders and that the page needs to be refreshed manually.

[2022-03-23 09:21] filipefurtad0 opened #9031 ""Rename" function broken (taxonomies)"
## Description

There are different ways one can rename taxonomies. By visiting `/admin/taxonomies/<taxon_id>/edit`, one can:
i) edit the Name field
ii) right click on the taxon; select Edit
iii) right click on the taxon; select Rename

This issue is about option iii): it currently takes no effect whatsoever.

## Expected Behavior

Editing a taxon name by right clicking on the taxon and selecting

[2022-03-23 09:27] filipefurtad0 commented on #8910
Thanks @georgethoppil ,
I've opened #9031 on the broken "Rename" function.

I think we can close here :+1:

[2022-03-23 09:27] #8910 closed

[2022-03-23 09:34] lin-d-hop commented on #9031
@tschumilas do you want to select this as your S3 given the last one was closed?

[2022-03-23 21:40] drummer83 commented on #7841
### Summary
Payment methods have been fixed in #8204, only weight calculator is still triggering the snail.
Shipping methods are covered in #8249 and have been addressed in #8312, but incomplete - should be reopened.
Enterprise fees are covered in #8250 and have been addressed in #8308, but incomplete - should be reopened.

### Things left to do in this issue
Only the weight calculator still needs

[2022-03-23 21:50] drummer83 commented on #8249
I am afraid we need to reopen this one because not all cases have been covered. There are still some snails.

### Summary
Payment methods are covered in #7841 and have been fixed in #8204, only weight calculator is still triggering the snail.
Shipping methods are covered in #8249 and have been addressed in #8312, but incomplete - should be reopened.
Enterprise fees are covered in #8250 and have be

[2022-03-23 21:57] drummer83 commented on #8250
Looking at Filipe's comment in [#8308 ](https://github.com/openfoodfoundation/openfoodnetwork/pull/8308#issuecomment-948772358), I think this was closed by accident. I can confirm, that there are still some snails to fight.

### Summary
Payment methods are covered in #7841 and have been fixed in #8204, only weight calculator is still triggering the snail.
Shipping methods are covered in #8249 and

[2022-03-24 00:45] mkllnk commented on #8768
Yes, Trix looks great. Development isn't super active but it looks quite mature.

[2022-03-24 08:55] cbordei commented on #8823
not sure if this is contained in any of the above tickets, but recently I made a fresh setup and the sample_data rake failed when doing `SampleData::OrderFactory.new.create_samples`

[code]

there was a conversation in slack about it and it was linked allegedly to the capturing of the order failing, thus not moving the states correctly

[2022-03-24 08:59] sigmundpetersen commented on #8823
Hey @cbordei 👋
I think this is issue https://github.com/openfoodfoundation/openfoodnetwork/issues/9024

[2022-03-24 10:14] drummer83 commented on #8210
The same just happened to me when creating a **Paypal** payment method. Let me know if this should be a separate issue!

**Steps to reproduce**
- create a Paypal payment method
- forget to select a hub this payment method should apply to (or do something else to create the nice error message seen above)
- observe that the "Provider" setting has jumped back to "Cash" but the input fields for Paypal

[2022-03-24 14:02] filipefurtad0 commented on #8210
Great, thanks for adding to this @drummer83 - I've updated the title to refer to both payment methods.

[2022-03-24 14:50] RachL commented on #8768
closing in favor of https://github.com/openfoodfoundation/wishlist/issues/63 for the next steps.

[2022-03-24 14:50] #8768 closed

[2022-03-24 17:53] filipefurtad0 opened #9036 "[spec performance] Add test-prof to the stack"
### What we should change and why (this is tech debt)

We should add test-prof to the stack, as a way to track performance on our test suite.

Refs.:
https://github.com/thbar/test-prof
https://test-prof.evilmartians.io/#/

### Context

Came up on [this discourse post](https://community.openfoodnetwork.org/t/i-analysed-our-test-suite-speed-in-order-to-reduce-build-time-here-are-my-results/2435/5).

[2022-03-25 10:29] BethanOFN commented on #8959
I've now got another user, this time an enterprise owner, with this issue who is unable to log on. They had also tried resetting their password, which did not resolve the issue. I am unable to change their password/'delete' their account as admin also:
<img width="553" alt="Screenshot 2022-03-25 at 10 29 12" src="https://user-images.githubusercontent.com/100226210/160103968-9bc8e997-c1a7-43b3-9c99

[2022-03-25 10:58] sigmundpetersen commented on #8234
@jibees can you confirm this was closed as part of #8733 and that we can close this?

[2022-03-25 11:00] #8234 closed

[2022-03-25 11:38] filipefurtad0 opened #9038 "[Split Checkout] insufficient_funds decline code breaks checkout"
## Description

Looks related to #8952.

The `insufficient_funds` decline code - say from introducing the card 4000000000009995 on split ckeckout - breaks the checkout flow.

## Expected Behavior

I think the expected behavior would be to be redirected to `/payment` step.

## Actual Behaviour

Snail.

## Steps to Reproduce

1. Visit `/payment` and introduced the card * 9995
2. Proceed to `/summary

[2022-03-25 14:15] tschumilas opened #9039 "Cannot remove customers from customer list"
## Description
The user guide currently says that an enterprise can add or remove customers from their customer list.  Currently I am unable to remove a customer from my customer list.

## Expected Behavior
An enterprise should be able to remove a customer from their customer list by clicking the delete icon beside that customer's login on the /admin/customers page.

## Actual Behaviour
Clicking t

[2022-03-25 19:56] Matt-Yorkley opened #9041 "Release v4.1.23"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-03-28 10:01] cbordei commented on #1976
I see this was added a bit after this issue was created: https://github.com/cbordei/openfoodnetwork/commit/9079437284aab3b83895b8c5625dca0189b00118 and it seems like it does what is asked here (although it does it with `before` not `after`)

[2022-03-28 11:54] #8459 closed

[2022-03-28 12:18] #9018 closed

[2022-03-28 12:38] #8888 closed

[2022-03-28 13:10] #9012 closed

[2022-03-28 13:13] filipefurtad0 commented on #8699
Hey everyone,
It seems all PRs mentioning this issue are now merged, closing :+1:

[2022-03-28 13:13] #8699 closed

[2022-03-28 15:11] jibees commented on #9039
@openfoodfoundation/train-drivers-product-owners
Should you show this modal (and prevent customers deletion) only if the customers have order in _insert appropriate order state here_?
We also can improve the modal in some way, like, add a link to the customer's current orders?

[2022-03-28 15:40] lin-d-hop commented on #9039
I think if a shop wants to remove a customer from their customer list this should impact the customers ability to place future orders. I don't think state of past orders is important from the user perspective.

The purpose of the customer relationship is for the manipulation of the shoppers future experience, particularly through the use of tagging. Any past experiences are less relevant to my min

[2022-03-28 15:54] filipefurtad0 commented on #9038
Server log:

[code]

[2022-03-28 23:39] drummer83 commented on #8985
@filipefurtad0 I can now confirm that no confirmation emails are sent for "regular" cancellations. Sorry for not being clear about this earlier.
@jibees I will create a separate issue for that.

[2022-03-28 23:55] drummer83 opened #9043 "No cancellation emails are sent after cancelling an order"
## Description
Since #8766 has been merged, no cancellation emails are sent after cancelling an order. This applies to cancellations by customers on account#/orders as well as cancellations by shop owner on page admin/orders/Rxyz/edit
The only way to trigger the email is to delete all items of the order on page admin/orders/Rxyz/edit and make sure the checkbox is activated to send the email when a

[2022-03-28 23:56] drummer83 commented on #8985
@filipefurtad0 I can now confirm that no confirmation emails are sent for "regular" cancellations.
@jibees I have created #9043 to cover this.

[2022-03-29 00:00] georgethoppil commented on #8767
@RachL just wanted to know your thoughts on the popups.

When we have multiple items in the cart and I delete an item, my pr currently has this show up:
<img width="600" alt="Screen Shot 2022-03-28 at 7 46 04 PM" src="https://user-images.githubusercontent.com/45666083/160505868-25ec9cce-2efd-4db9-9126-f9427cb10095.png">

When there is only one item left and we try to delete it, there will be two p

[2022-03-29 01:18] drummer83 commented on #9041
@filipefurtad0 @RachL
I have done the release testing and it went quite well. I have two little uncertainties which you could help me with. Those are regarding reports and the package changing on the dashboard page ()marked in yellow in the notes).
Please find my testing notes here: https://docs.google.com/document/d/1oRCEFkMxiYU_ZkO7J-ObYcGqD87W8QpgOeWWJK6nfJA/edit?usp=sharing

[2022-03-29 07:00] filipefurtad0 commented on #9041
Thanks @drummer83 ,

On reports: great investigation. I think the issue you are getting on reports is because this order has no line items and for that reason, no shipping (breaks some reports), although in state `complete`:

![image](https://user-images.githubusercontent.com/49817236/160551853-1e3dbf5f-8332-4427-926a-24b98a129fc9.png)

There are some ways to create these orders, I'm not sure on t

[2022-03-29 08:59] BethanOFN opened #9046 "Property filters on shopfronts not functioning"
## Description

User clicks to apply any of the properties filters to items (e.g. certified organic, nut free, vegan etc) and no filtering occurs. Raised by customer of one specific hub and I've replicated across multiple hubs.

## Expected Behaviour

Clicking a property filter on a shop should filter the items displayed to those tagged with the property (e.g. clicking certified organic should sho

[2022-03-29 09:11] RachL commented on #8767
hello @georgethoppil yes you are absolutely right!  It's better to have only one pop up with the different options.

Regarding the cancellation button I agree too. However if it is really a lot more work maybe we can create a second issue for that one? Let me know what you prefer.

[2022-03-29 14:29] jibees commented on #9039
I think I'd vote for the second option, the _semi hard deletion_ and I will have a look for the consequences ; but I'll invoke @mkllnk to share its opinion on it. 🙏

[2022-03-29 20:56] georgethoppil commented on #8767
Sweet thanks for the quick feedback. I have the changes done already in the pr for the cancellation button, so I should be good to go 👍

[2022-03-29 23:18] mkllnk commented on #9039
I guess that we prevent the deletion of customer records because you can't undo the fact that the user ordered and therefore they are a customer. We can say though, that the user *was* a customer and *isn't* a customer any more.

So if we delete the *is current customer* relationship, we just need to decide if we need to remember that the user *was* a customer or if we are happy to just forget abo

[2022-03-29 23:44] tschumilas commented on #9039
Just adding from a user perspective -  it is always the enterprise manager's decision whether or not to delete.  So -  in a CSA situation where members come and go (a member one year,  not a member the next,  then a member again)  the enterprise manager could decide to use tags to organize their customer list and never delete.  So managing with tagging is always an option -- if an enterprise manag

[2022-03-30 07:49] RachL commented on #9039
FYI this is a very old bug: I've never seen it work. So it's not really an s2, although I agree tagging is annoying. I _think_ we didn't dive into it in the past, because we were afraid of leaving orders without customers. As we have started to look at it, let's finish. But let's keep track of the time so we don't postpone everything else we are working on?

[2022-03-30 08:42] jibees commented on #9038
It's the same for
`4000000000000127`: `Incorrect CVC decline` and probably all the cards for declined payment https://stripe.com/docs/testing#declined-payments

[2022-03-30 09:27] jibees commented on #9038
It also happens on step 2 (the payment one), if you check the `Save card for future use` checkbox.

[2022-03-30 09:32] jibees commented on #9038
@filipefurtad0
I think we should improve the tests by testing at least one invalid card number with stripe on both step 2 with the checkbox `Save card for future use` checked and on step 3.
What to you think?

[2022-03-30 09:54] filipefurtad0 commented on #9038
Yes, I agree @jibees .

On Step 2: currently the Stripe form is [mocked in test environment](https://github.com/openfoodfoundation/openfoodnetwork/issues/8951), so maybe we can make it to work with puffing-billy. Since there are some issues in integrating it with system tests (cuprite driver), maybe we should go for feature spec, instead?

On Step 3: I'm currently looking at this `controller spec`

[2022-03-30 12:50] RachL opened #9049 "Spike : estimation of work needed to allow producer to edit their products on hubs' orders"
## Description

In order to handle https://github.com/openfoodfoundation/wishlist/issues/172

**- As a:** producer without shops, but supplying other existing hubs
**- On page:** `/admin/orders?q[s]=completed_at+desc`
**- I want to be able to do:** see the orders containing my products and be able to edit them : add my products only, edit the quantity of my products only, delete my products only.

[2022-03-30 12:50] RachL opened #12893 "Estimate work needed to allow producer to edit their products on hubs' orders"
⚠️ **Please use clockify code #12476 Flower Farms**

## Description

In order to handle https://github.com/openfoodfoundation/wishlist/issues/172

**- As a:** producer without shops, but supplying other existing hubs
**- On page:** `/admin/orders`
**- I want to be able to do:** see the orders containing my products in `admin/orders` and be able to edit them : add my products only, edit the quantit

[2022-03-30 23:17] drummer83 commented on #7637
Has this been solved by #8294?
I believe this one here is also covered by #8131, isn't it?

[2022-03-31 00:12] drummer83 opened #9053 "Conditionally send cancellation email to consumer when cancelling the whole order"
## Description
Since implementation of #8766 users can choose if a cancellation email should be sent when an order is being cancelled. However this only applies when the order is cancelled because the last line item is deleted (on order edit page or BOM).

## Expected Behavior
When cancelling the whole order on order edit page, users should be able to choose if a cancellation email should be sent

[2022-03-31 00:12] drummer83 opened #9128 "Conditionally send cancellation email to customer when cancelling the whole order"
## Description

Since implementation of openfoodfoundation/openfoodnetwork#8766 users can choose if a cancellation email should be sent when an order is being cancelled. However this only applies when the order is cancelled because the last line item is deleted (on order edit page or BOM).

**- As a:** enterprise user
**- On page:** `admin/orders/Rxyz/edit`
**- I want to be able to do:** clicking

[2022-03-31 06:07] Renatacumming opened #9054 "Cannot update subscription after product deleted"
## Description
When editing a subscription, if you want to remove a product where that product has been discontinued or deleted, you cannot delete it from the subscription. When you delete the product, and then click save, you get an error message 'There are no open or upcoming order cycles for this product'.
If you try adding new products and click save, it appears to work, but when you refresh a

[2022-03-31 07:32] RachL commented on #9053
@drummer83 I think this is more an enhancement than a bug? So maybe best to move it to wishlist to see if it is a papercut. What do you think?

[2022-03-31 07:33] RachL commented on #7637
Yes!

[2022-03-31 07:33] #7637 closed

[2022-03-31 08:55] drummer83 commented on #9053
Yes, I was unsure about that. Still I would love to see this being prioritized for implementation to have a consistent behavior of this new feature rather letting it sit there for a while with this inconsistency.
Additionally it was called a 'nightmare' by @lin-d-hop and developers and testers have this fresh on their minds. But I know that we are/have to be very strict on processes sometimes... :

[2022-03-31 09:00] lin-d-hop commented on #9053
Best ignore my comments. OFN is a nightmare to me.

[2022-03-31 09:00] #9041 closed

[2022-03-31 09:45] #9022 closed

[2022-03-31 11:09] #8999 closed

[2022-03-31 11:27] filipefurtad0 opened #9055 "[Split-checkout] Can't checkout if no shipping methods available -> see #5950"
## Description

Issue #5950 (legacy checkout) is verified as well for split checkout. The good think here is that this fails defensively: it does not allow to complete the order, so I don't think this is a rollout blocker.

## Expected Behavior

Humm.. Not sure. Should the shop be closed? Or a notice to contact the shop?
ping @openfoodfoundation/train-drivers-product-owners

## Actual Behaviour

A

[2022-03-31 11:27] filipefurtad0 opened #9145 "[Split-checkout] Add a clean error message to customer when checkout fails due to absence of shipping methods"
## Description

A similar issue to openfoodfoundation/openfoodnetwork#5950 (legacy checkout) is partially verified as well for split checkout: we can access the checkout flow although no shipping method is available, but can't complete it. The good think here is that this fails defensively: it does not allow to complete the order, so I don't think this is a rollout blocker.

## Expected Behavior

[2022-03-31 11:30] drummer83 opened #9056 "[Split Checkout] Error 422 on step '1 - Your details' - Update highlighted fields"
## Description
While trying to check out with split checkout active on staging AU I have observed an Error 422 in the console, going along with the flash message: 'Saving failed, please update the highlighted fields.' It gets triggered when clicking 'Next - Payment method' but there is no highlighted field...
I have tried editing all visible fields and changing their content without success - I wa

[2022-03-31 12:01] RachL commented on #9055
@filipefurtad0 it's ugly but there are shops who uses this trick to show products when they are not ready to receive orders. I don't think we will address this as part of split checkout, it's an existing condition. I will move this one to the wishlist repo in order to define the proper behaviour we want before going further :+1:

[2022-03-31 13:38] jibees commented on #9038
Notes to myself, cases which failed

 - Trying to save a card that trigger any stripe errors on step 2. Status: ❌
 - Trying to pay with a card that trigger any stripe errors on step 3. Status: ✔️, commit d9de6f1caf
 - Trying to re-submit the payment on step 3 if a previously submit has already been done and failed. Status: ❌

[2022-03-31 14:51] jibees commented on #9038
##### Case 1, aka. _Trying to save a card that trigger any stripe errors on step 2_

The issue seems to be related to `CableReady`/`cable_car` but i failed to figured out why.
If I change the method `#update` of the controller to this:
[code]
the HTML sent by `cable_car` is download as a file by GoogleChrome

[code]

This is maybe related to the fact that before submitting the request to the serve

[2022-03-31 15:43] #8963 closed

[2022-04-01 12:29] #9007 closed

[2022-04-01 13:01] jibees commented on #9056
Can't reproduce this one on my local setup.
Sure that every fields was filled?

If you could reproduce it on the staging server, please could you:
 - Provide a screenshot that actually shows the whole screen?
 - Copy as CURL the request that actually respond a 422 and paste it:
<img width="535" alt="Capture d’écran 2022-04-01 à 14 59 38" src="https://user-images.githubusercontent.com/296452/1612

[2022-04-01 13:24] jibees commented on #8959
I tried to reproduce this one, and it seems that is not that easy to reproduce.
This case seems to work (at least on my local setup):
 - create / confirm a new user
 - once new user is confirmed, fill the "Forgot password?" form
<img width="494" alt="Capture d’écran 2022-04-01 à 15 22 00" src="https://user-images.githubusercontent.com/296452/161271977-8d594132-d77f-4e08-87a4-b676bc70f071.png">

[2022-04-01 16:57] hmurali01 commented on #9017
Thank you so much! I look forward to helping!

[2022-04-01 20:35] kubczakn commented on #8911
Has this issue already been fixed? I went through the steps to reproduce the issue and it looks like the behavior is already what is intended with the warning being in red:

![image](https://user-images.githubusercontent.com/55517183/161337543-a807216c-4ad5-48cc-8315-41e27c35738e.png)

[2022-04-03 23:59] mkllnk opened #9064 "Release v4.1.24"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-04-04 12:02] filipefurtad0 commented on #9064
Hey @mkllnk ,
Spotted no regressions :+1:
https://docs.google.com/document/d/1vk2PmxV-9yStpXRU3NgSWLdrS4wn4Jx8ciEyGexGlok/edit#

[2022-04-04 14:35] drummer83 commented on #9056
First of all I could not reproduce the error on Chromium - not sure if this has any impact.

Yes, I am sure I filled all fields. Here is a screen video:
https://user-images.githubusercontent.com/1790176/161566340-01e485fc-7614-4da1-92d3-f2656b853af9.mp4

This is the console (after seeing the error twice):
![image](https://user-images.githubusercontent.com/1790176/161566547-50806b5b-27d3-4745-8da8-

[2022-04-04 15:48] BethanOFN commented on #8959
See bugsnag for one user: https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61ae0d07c9511a0007ca4779?filters[event.since]=30d&filters[error.status]=open

[2022-04-04 15:49] RachL opened #9066 "Ability for superadmin to deactivate or activate a user"
## Description
**- As a:** super admin
**- On page:** `/admin/users/USER_ID/edit`
**- I want to be able to do:** "Deactivate" or "activate/reactivate" a user, thus preventing them to login on the OFN.

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/87b5b756-ffa0-47f5-a37b-2e478adc7704)

![image.png](https://images.zenhubusercontent.com/595e669a61b4ca3b0a737135/0ce2ba68-

[2022-04-04 16:12] lin-d-hop opened #9067 "When creating a new product, if I see an error all my data is lost"
## Description

When creating a product there are many many silly little things that can cause my product not to save because of an error.
However after seeing the error all of the data I input to create my product is lost.
Many error messages are opaque and hard to understand. And when they pop up my info has been lost so I can't actually see what the 'invalid data' might have been and I have to

[2022-04-04 16:20] RachL commented on #9067
@lin-d-hop I think this is a duplicate of https://github.com/openfoodfoundation/openfoodnetwork/issues/9047

Are selecting this as your_current_ S3 or papercut selection?

[2022-04-04 16:26] lin-d-hop opened #9068 "When creating variants the error message on incorrectly input data is unreadable"
## Description

On the admin/products page creating new variants is simple enough using the + button.
However if you type 120g instead of 120 you get an error that is hard to understand.
It would be great if the offending fields could be highlighted instead of a cryptic message at the bottom of the screen.
Failing that, can we make this error message easier to understand?

## Expected Behavior

Wh

[2022-04-04 17:53] filipefurtad0 commented on #9056
I've tried checking out on that shop with another user and experienced no issues. No answers, but some thoughts below.

I've looked on that order in the DB:

[code]

and to that user / customer:

[code]

What's strange here is billing and shipping address are empty, although this user has placed orders before. The order is stuck on the cart state, also no shipping or billing address.

Since we're

[2022-04-04 19:00] filipefurtad0 commented on #8959
No idea how this is happening. To my knowledge, the `/customers` page is the only place where one can edit that field, and this for could use some more testing. But since these are first time customers, this is probably not the root cause.

It's weird, because phone bill address only becomes relevant after orders are placed... It seems that 118 does have an order in the cart state (R836836684), bu

[2022-04-05 00:48] #9064 closed

[2022-04-05 07:46] lin-d-hop commented on #8959
Sure, I'd be happy to manually update the DB to correct the problem to unlock things for these users. But it will come back if we don't find the root cause. What is the appropriate DB update? Bill_address should be able to be null, are there other users with a null email address that this might be happening for?

So why is this suddenly happening? Is it the case that bill_address have a non-null c

[2022-04-05 08:15] jibees commented on #8959
Some thoughts:
- agree on the fact that the DB workaround is actually a _workaround_. So, we must investigate on that.
- I don't see any error for user 358 in bugsnap, but I see 118 and 514. As I'm a bugsnap newbie, what I'm missing? https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61ae0d07c9511a0007ca4779?filters[event.since]=all&filters[error.status]=open&pivot_tab=user.id
- @filipefurt

[2022-04-05 08:19] filipefurtad0 commented on #8959
Yes, totally agree Lynne. It just occurred to me as a potential solution to unblock these two users.

From the stacktrace I was so far not able to understand why the `phone` field is empty on `spree_addresses`-> this is the actual offense but becomes a problem only if `bill_address_id` is not null on `spree_users`.

Happy to help somehow JB :muscle:

[2022-04-05 09:06] jibees commented on #8959
There are 865 users that have an empty phone on their bill_adress:

[code]

[2022-04-05 09:13] jibees commented on #8959
I tried to pass an order with an existing order, and no bill_address are registered for a spree_users (but with customer)

[2022-04-05 09:24] jibees commented on #8959
One things very strange, is that all those users have been created _at the same time_ by a script (or so) in 2015 (`2015-04-18 15:36` and `2015-03-31`).

For the record
[code]

[2022-04-05 09:36] lin-d-hop commented on #8959
Interesting. And super weird.
We did import users in 2015 to UK prod. But why we suddenly getting multiple occurances of this now I have no idea.

I would be happy with either solution. I guess the second has more potential consequences?

[2022-04-05 10:19] lin-d-hop opened #9069 "Product Model refactor"
## Description

The Product model in OFN is a bit of a mess. Originally we just used products. Later we started making use of variants. When we did so we hacked a bit such that all products are variants, but some data is only stored in products. One product can have one or more variants. This means that when a variant needs to update, sometimes this is fine, and sometime it has the potential to im

[2022-04-05 12:06] jibees commented on #8959
Here are the list of the last users with bill_address with phone number as null order by `last_sign_in_at`:
[code]

[2022-04-05 17:14] lin-d-hop commented on #8579
Created wishlist: https://github.com/openfoodfoundation/wishlist/issues/215
We also have a checkout rewrite in play
And improved stripe testing has been written up

Closing

[2022-04-05 17:14] #8579 closed

[2022-04-06 08:15] jibees commented on #8959
I'd vote for that migration. Maybe add a fake phone number to those consumers?

[2022-04-07 20:03] #8788 closed

[2022-04-08 07:15] jibees commented on #9031
@brittneyhoneycutt Done, and thanks!

[2022-04-08 08:59] RachL commented on #8787
Yeaaaaaaaaaah :tada:

Is this our first funded feature to get finished??

[2022-04-08 08:59] #8787 closed

[2022-04-09 14:58] alannaemmrie commented on #8806
Hi,
I noticed that the blank-page behavior after order cancellation was caused by line 102 ("redirect_to request.referer || main_app.order_path(order)") in app\controllers\spree\orders_controller.rb.

I fixed the blank-page behavior by changing the line to always redirect to the main app order path.  I noticed that this now gives the same behavior as if you were to cancel the order from navigating

[2022-04-11 07:35] jibees opened #9076 "Release v4.1.25"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
 https://semaphoreci.com/openfoo

[2022-04-11 13:12] drummer83 commented on #9076
HI @jibees!
I have tested this release. Nothing abnormal was found.
See my notes here: https://docs.google.com/document/d/1eYfvrx24U1JwZfgiMdypTU_IJy9ZQPy5ga26PUH66Bo/edit?usp=sharing
Moving to 'Ready to Go'! :partying_face:

[2022-04-11 14:42] drummer83 opened #9080 "Amount of items is not transferred to cart properly when typing it"
## Description
Using the keyboard to type the amount of items while filling your cart can lead to wrong display of prices or wrong amount of items in your order, depending on the exact steps you do. See 'Steps to reproduce' below.

## Expected Behavior
When typing the amount of items the amount and the corresponding price should be displayed correctly in the cart preview and in the order.

## Actu

[2022-04-11 15:00] drummer83 opened #9081 "Quantity on cart page is not readable on mobile"
## Description
On small screens little arrows for increasing/decreasing the amount of items are covering the quantity currently in the cart. The content of the column 'Qty' cannot be seen.

## Expected Behavior
The quantity should be readable on all screens.

## Actual Behaviour
The quantity can't be seen on small screens.

## Steps to Reproduce

1. Add product to your cart
2. Visit the cart page

[2022-04-11 15:35] filipefurtad0 commented on #9046
Hey @jibees ,

Not sure why but distributor 1785 can't handle any properties search:

`curl 'https://staging.openfoodnetwork.org.uk/api/v0/order_cycles/3581/products.json?distributor=1785&page=1&per_page=10&q%5Bname_or_meta_keywords_or_variants_display_as_or_variants_display_name_or_supplier_name_cont%5D=&q%5Bwith_properties%5D%5B%5D=1'`

This somehow triggers a bad query (the 422 error):
`{"excep

[2022-04-11 15:47] drummer83 commented on #8806
Hi @alannaemmrie,
Thanks for looking at this in detail. In my opinion routing to account/orders would be the best approach here. I get your point though. But I think it is okay that if you cancel the order on the orders/{order-number} page you remain on that page and if you cancel the order on the account/orders page you will remain there. Does that make sense?

I think it would be great if we had

[2022-04-11 16:17] filipefurtad0 commented on #9046
Ok, this seems to have been introduced by the `Display ordering in shopfront` feature,  possibly [in this PR](https://github.com/openfoodfoundation/openfoodnetwork/pull/7712).

This is set under `/admin/enterprises/<distributor_name>/edit#!/shop_preferences`

![image](https://user-images.githubusercontent.com/49817236/162783429-f55cedf8-951b-4ac1-9024-37074b135f23.png)

Ping @jibees @BethanOFN.

[2022-04-11 16:17] alannaemmrie commented on #8806
Okay @drummer83, sounds great! I can definitely keep it to route to the same accounts/orders, just wanted an opinion.  As far as the confirmation, I think I'll get this issue fixed and submitted and then maybe I can add some kind of feedback to the user (maybe like an "order canceled!" blurb or something).

[2022-04-11 16:21] drummer83 commented on #8806
Yes, that would be great! I have just opened https://github.com/openfoodfoundation/wishlist/issues/216 to discuss solutions for the required feedback.

[2022-04-11 18:50] BethanOFN opened #9082 "Welsh website translation incorrectly showing English phrasing"
## Description

When viewing the OFN UK website in Welsh, the text displayed on a shopfront with an open order cycle contains English words when stating the time until the cycle closes. The Welsh (cy) transifex file gives the correct translation so the issue must be in the code. In transifex the key is 'key:distance_in_words' for the variable.

## Expected Behavior

All code for the Welsh website

[2022-04-11 19:17] lin-d-hop commented on #9082
Hrm, this french shopfront currently has this showing correctly.
https://coopcircuits.fr/la-cagette-aixoise/shop#/home

So not a translation key problem....

[2022-04-12 01:54] mkllnk commented on #9038
What is happening? Is a new payment method created or is that failing the second time?

I would need a bit more time to debug this properly. Maybe later in the week? I'm in the middle of Active Storage.

[2022-04-12 15:37] pacodelaluna commented on #8823
I will take a deeper look at this.

[2022-04-12 17:01] pacodelaluna commented on #9024
I was bumping into this issue. It seems that the payment amount is not set up during the order workflow related to the Rake task. Then it is generating a `balance_due` payment_state blocking the shipment process.

[2022-04-12 17:59] brittneyhoneycutt commented on #9031
Hi! For some reason, I can't get delete to work using the same menu (trying to locate the bug with rename). I keep getting the error that base_url.close is not a function. Has anyone had any experience with this issue?

[2022-04-12 21:14] drummer83 opened #9085 "[Split Checkout] Previous order information missing in cart"
## Description
When placing a second order while the order cycle is still open, a note is displayed, telling you to check the cart for already ordered items:
![image](https://user-images.githubusercontent.com/1790176/163053704-10bbc72c-7591-4574-ab5f-86bc8e6166a9.png)
For split checkout this is not true, because in the cart only the items of the current order (which has not yet checked out) are sh

[2022-04-12 23:22] mkllnk opened #9086 "Release v4.1.26"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-04-12 23:28] #9076 closed

[2022-04-12 23:59] mkllnk commented on #8823
Cool, someone also compiled a ready-to-use image: https://app.slack.com/client/T02G54U79/CEBMTRCNS

[2022-04-13 01:53] #9043 closed

[2022-04-13 01:54] #8968 closed

[2022-04-13 01:54] #8969 closed

[2022-04-13 08:25] jibees commented on #9031
@brittneyhoneycutt

I can reproduce the bug: the rename action has no effect, and throws a javascript error seen in the console:
![2022-04-13 10 23 54](https://user-images.githubusercontent.com/296452/163133278-732674ce-4e88-4e94-a653-48b2901774ba.gif)

Not sure to understand the bug you're facing of... Would you like to add some screenshot/screencast?
Thanks! 🙏

[2022-04-13 10:01] #9017 closed

[2022-04-13 10:57] filipefurtad0 opened #9092 "Subscriptions can be edited to have line items with quantity = 0"
## Description

Follow-up from https://github.com/openfoodfoundation/openfoodnetwork/pull/9011.

If a line item with quantity zero is left on the subscription it will appear on the invoice, once the subscription order is created.

## Expected Behavior

Line items with quantity = 0 should not appear on subscription orders.
(The exception is of course if stock restrictions apply.)

## Actual Behavio

[2022-04-13 11:03] #8903 closed

[2022-04-13 15:08] brittneyhoneycutt commented on #9031
Thank you so much for your help! I am glad the issue does not just pertain to my local copy. Going forward, I will investigate the clone() method and try to seek a solution.

[2022-04-13 18:37] #8887 closed

[2022-04-13 18:38] #8877 closed

[2022-04-14 00:20] georgethoppil commented on #8896
@jaycmb @RachL Just want to confirm something with regards to point 3 where it mentions

I take it that this is mentioning the storefront profiles of the enterprise and we would like to hide any mention of these shops that are invisible ex. in the Producers tab. Is this correct? Are there any other areas where we would like to hide the invisible shops?

[2022-04-14 07:40] jibees commented on #9031
As I've been reading the code behind, I guess there are at least two issues :
 - One is due to this `clone()` method which should be easy to resolve. Then, rename, move and delete will be functionnal.
 - The other one is triggered when you try to rename the first taxon, on the top of the list, which is the parent. When you rename it with a righ-click (1),  and then you save, the form is submitted

[2022-04-14 08:39] jibees commented on #9038
If we submit (on step3) a payment with a card error, then we probably should go back on step2 with the flash error, in order to make another round with stripe. I can't make this redirection functional.

[2022-04-14 12:48] #9024 closed

[2022-04-14 14:34] RachL commented on #8896
@georgethoppil yes producer tab only for now.

These hubs also appear on group pages, but as the issue description says, this is out of scope for now :+1:

[2022-04-14 17:02] RachL commented on #8917
hello @apricot12 are you still working on this one?

[2022-04-14 17:03] apricot12 commented on #8917
@RachL Yep, just started on it today 🙏

[2022-04-15 03:33] RonellaG opened #9100 "$NaN in subscriptions back office"
## Description

The admin for enterprise ID#3651 created a new order cycle with 2 products that were appearing as $NaN in the subscriptions back office.

Customer support confirmed that subscription orders had been correctly placed and processed by the system. However, it is a confusing back office experience and wastes enterprises time to check that orders are placed and processed correctly, espe

[2022-04-15 07:23] mkllnk commented on #6347
Just a little update: I made heaps of progress. I'm working on this branch: https://github.com/openfoodfoundation/openfoodnetwork/compare/master...mkllnk:active-storage

I have migration code and compatibility code so that we don't lose any images during the migration. Models, controllers, serializers and views have been updated to use the new ActiveStorage API.

### Outstanding work

- [ ] Rewrit

[2022-04-15 08:25] BethanOFN opened #9101 "Remove requirement for 'company number' in order to send customer invoices"
## Description

Currently, enterprises are prevented from sending invoices from the edit order screen unless 'company number' in their business details is completed. Many of our users in the UK do not have a company number as these are only given to registered businesses. Other instance managers have said that in France it's a legal requirement to include the company number on an invoice, whilst i

[2022-04-15 11:00] RachL commented on #9086
I had again an  error 500 on orders and distributor reports, but it's due to a corrupt order. Haven't had time to narrow it down on which one it is yet. When I do, I will create an issue so we have a nicer error message than the snail (if possible).

Moving to ready to go!

Notes : https://docs.google.com/document/d/1AZ1QoXlyFQIGlUPHQj4l8KfI7WVUdKas5VSz-CxnHcE/edit#heading=h.1wl2z9jzkxhh

[2022-04-15 16:34] filipefurtad0 commented on #8790
Hey @RachL , question on this one: should this also apply to products which can be ordered in bulk?

[2022-04-15 16:58] #8790 closed

[2022-04-15 17:47] #9028 closed

[2022-04-16 12:31] Liberatys commented on #9027
@RachL I this up for grabs? :D

[2022-04-17 22:58] kirstenalarsen opened #9105 "[API] Products Endpoint"
## What is the need / problem?
FR, UK and AU need to be able to create, find and update Products/Variants via the API.
This work will be challenging as we wish to create a robust endpoint that is Network 2.0 ready.

## Which type of users does this problem affect (and how many, if known)?
e.g. - Shoppers - Hub Managers (MCFEs) - Producers - Instance Managers - Other (Please specify)
Hub Managers

[2022-04-17 23:04] kirstenalarsen opened #9106 "Check and scope functionality of /products and /products/variants"
## Description
We have some existing API endpoints that deal with products and variants. It is not clear how functional these are or whether the documentation in Swagger is correct for what they currently do.

We have a long-term process underway to review the product/variant data model in preparation for Network 2.0, and wish to create a public supported Product endpoint that is Network 2.0 ready

[2022-04-18 10:55] #5903 closed

[2022-04-18 13:04] #8985 closed

[2022-04-19 02:13] #9086 closed

[2022-04-19 07:26] apricot12 commented on #9067
@lin-d-hop If at all possible, could you give me more details on the errors you encountered?

[2022-04-19 07:35] lin-d-hop opened #9111 "[API] Product Endpoint"
## What is the need / problem?
FR, UK and AU need to be able to create, find and update Products/Variants via the API.
This work will be challenging as we wish to create a robust endpoint that is Network 2.0 ready.

## Which type of users does this problem affect (and how many, if known)?
e.g. - Shoppers - Hub Managers (MCFEs) - Producers - Instance Managers - Other (Please specify)
Hub Managers

[2022-04-19 07:35] #9111 closed

[2022-04-19 08:43] lin-d-hop commented on #9049
Is this specifically on page:
`/admin/orders?q[s]=completed_at+desc`
 meaning specifically when searching on orders completed before a specific date?
 I assume you mean `/admin/orders` ?

[2022-04-19 10:34] filipefurtad0 opened #9112 "[Paypal & Stripe] Failed checkout attempts add a persistent transaction fee"
## Description

If a Paypal transaction fails on checkout and a transaction fee is associated to that payment, the respective amount will be added to that order, as many times as checkout attempts (with Paypal).

This leads to an inconsistent state of the order / fail cascade, in which:

- checking out with cash is possible, but the order total will contain those ghost transaction fees :warning: :

[2022-04-19 12:03] jibees opened #9113 ""Move", "Delete" and "Rename" for the first taxons are unavailable"
## Description
Follow up https://github.com/openfoodfoundation/openfoodnetwork/issues/9031

Renaming taxon was (partially) corrected by #9097 We should now addresses those 3 remaining issue:
 - "Move" a taxon
 - "Delete" a taxon
 - "Rename" the first taxon of the hierarchy (right after renaming, form is submitted in input value with the old value)
<img width="768" alt="Capture d’écran 2022-04-14

[2022-04-19 15:51] RachL commented on #9027
@Liberatys yes go for it! Don't hesitate to join our Slack or ping here if you feel stuck :)

[2022-04-19 15:57] RachL commented on #9049
@lin-d-hop well each time I go on `/admin/orders` I'm redirected to `/admin/orders?q[s]=completed_at+desc` that's why I never mention `/admin/orders` in my issues. But yes it's the order's list.

[2022-04-19 15:59] RachL commented on #8790
@filipefurtad0 haha 🙈 I must confess I don't know how on_hand values are handled on bulk products.... did you try it? I will have a go but in any case I guess it would be another papercut. I'm not sure how to handle it in terms of design yet.

[2022-04-19 16:12] RachL commented on #9113
@jibees @openfoodfoundation/train-drivers-product-owners we live with this problem for too long for it to be considered as an s2. I'm downgrading to s3. We have enough s2 to fight in parallel. But thanks for the issue, I'm sure it will be selected in the next s3 round!!

[2022-04-19 16:16] RachL commented on #9039
@openfoodfoundation/train-drivers-product-owners 20 days with this s2 open. Do we still want to look at it as part of an s2 / ie right now? if so it seems it could only be @mkllnk when he is done with active storage migration... or @jibees or @georgethoppil  you feel solution 1 can be something you can do?

[2022-04-19 16:45] RachL commented on #9082
@lin-d-hop @BethanOFN I think @jibees did a fix for this in https://github.com/openfoodfoundation/openfoodnetwork/pull/7156

Example of a key in transifex: `datetime.distance_in_words.x_days`

[2022-04-19 21:58] pacodelaluna commented on #8823
@mkllnk About the read-to-use image, we will need to create a Docker Hub account and manage these images. I need also to check out with @digicirco how to initially share this image. It can come in a second time.

I was also thinking of removing the ´docker´ directory as it is just using scripts abstracting docker commands. I think it is not necessary in our case as our usage is quite simple. It wi

[2022-04-19 22:35] georgethoppil commented on #8385
@filipefurtad0 I tried this a couple of times as well and I cannot reproduce. Can you see if you are able to achieve this now?

[2022-04-19 22:38] georgethoppil commented on #9039
@RachL sure I can take a look at this

[2022-04-20 09:52] jibees commented on #9085
@RachL yes, for sure!

[2022-04-20 10:12] filipefurtad0 commented on #8790
I've tried it when testing #8841 - it does not change the behavior on bulk items, so usual stock restrictions apply.

[2022-04-20 10:42] filipefurtad0 commented on #8385
Hey @georgethoppil ,
This was appearing in very unspecific circumstances... Indeed I can't reproduce it in my test setups.

@adele-ofn: can you still verify this bug in production?

[2022-04-20 11:23] #6300 closed

[2022-04-20 12:14] #8232 closed

[2022-04-20 17:54] RachL commented on #9047
Closing as handled in #9067

[2022-04-20 17:54] #9047 closed

[2022-04-21 07:43] jibees commented on #8959
_**Investigation**_:
There is no constraint in the database level:
[code]

Constraint is handled in a application level, by `app/models/spree/address.rb`
[code]

This could be addressed with a one-commit modification, but probably a _nightmare_ to test all the cases where a phone number is entered for an Address (bill address, shipping address, enterprise address, ...).
I guess in term of UI/UX, w

[2022-04-21 12:21] #8908 closed

[2022-04-21 12:38] jibees commented on #9112
About the last comment, and the error that you saw @filipefurtad0 : i'm pretty sure I've already seen it but I've not Paypal activated on my local setup (only 'cash on collection' and 'stripe')...

[2022-04-21 13:59] filipefurtad0 commented on #9112
Great, thanks for that feedback JB. It doesn't look like it relates to payment methods but rather to addresses and/or shipping methods...

[2022-04-21 23:49] mkllnk commented on #8959
### Why do we get these errors now?

As @jibees found, there are only a few users and they didn't log in often. So the occurrence is rare. And before October 2021, the phone field was not validated.

- #7973
- #6243

Thanks to `git blame` and Github's links from commits to PRs I could find this.

### What is the long-term fix?

We could make phone number non-mandatory but many people want phone nu

[2022-04-22 07:25] jibees commented on #8959
Sounds perfect. Thanks @mkllnk

[2022-04-22 07:39] lin-d-hop commented on #8959
Ping @apricot12 in case you hadn't seen this.

[2022-04-22 09:52] #8896 closed

[2022-04-22 10:03] #9046 closed

[2022-04-22 10:05] jibees opened #9120 "Release v4.1.27"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
https://semaphoreci.com/openfood

[2022-04-22 11:02] filipefurtad0 commented on #6944
Although not very common, it does seem to be happening on other servers as well:

Bugsnag Katuma
https://openfoodnetwork.slack.com/archives/C2GQ45KNU/p1650623850408289?thread_ts=1650572645.799509&cid=C2GQ45KNU

Bugsnag DE
https://app.bugsnag.com/yaycode/open-food-network-germany/errors/62424701f1ce2c0009ab2597?event_id=624247010092e7729c1a0000&i=sk&m=nw&pivot_tab=event

Bugsnag UK
https://app.bugs

[2022-04-22 11:54] filipefurtad0 commented on #9112
Following this detailed description - thanks @RonellaG - the bug is reproducible as well when checking out with Stripe. For instance, using:
- card 4000000000000002
- having the enterprise fee over that payment method set as a **flat percent**; the bug does not occur with Stripe for a flat rate, or at least I could not reproduce it with this card error

Updating the issue name.

[2022-04-22 12:51] apricot12 commented on #8959
Shall I try the migration for removing addresses without phone numbers?

[2022-04-22 12:56] lin-d-hop commented on #8959
I think its in hand, but perhaps ask @jibees. I just meant that its worth clocking Maikels findings above as it related to some of your changes a while back. Not a problem, the main cause was a corrupt data import years ago... but I feel like its useful to note the curly consequences to improve future foresight.

[2022-04-22 13:00] jibees commented on #8959
@apricot12 I'd be happy if you want to tackle this one ;)

[2022-04-22 13:01] apricot12 commented on #8959
Sure! I'll do it today.

[2022-04-22 15:15] filipefurtad0 commented on #8959
Maybe good to keep in mind that `phone number` is not a mandatory field when registering an enterprise:

![image](https://user-images.githubusercontent.com/49817236/164743005-91907e0e-f46a-4c9c-b913-b7920d6e211e.png)

[2022-04-22 16:57] filipefurtad0 opened #9123 "Inconsistent default visibility setting, for newly created enterprises"
## Description

Follow-up from #9087.
See Slack [thread](https://openfoodnetwork.slack.com/archives/C02TZ6X00/p1650640081691859) .

After this PR and for newly created enterprises:
- The default value in the DB for the `Enterprises` table, column `visible` is `t`
- However, after #9087 valid values are `hidden`, `only_through_links` and `public`
- This leads to having newly created enterprises inv

[2022-04-22 19:14] apricot12 commented on #8959
Hmm I think I might have to edit the migration a little bit then. Currently it simply deletes all spree_addresses with NULL phone.

[2022-04-24 16:07] georgethoppil commented on #9039
@mkllnk I think we will have a similar issue if we have a subscription with the customer and try deleting the customer record. The schema currently has a non null customer id field so our option of setting this field null cannot be done. We could update the schema to remove the null is false but I think we should just destroy_all on any subscription records for the customer instead. Let me know wh

[2022-04-24 23:33] mkllnk opened #9125 "List available feature toggles in the UI"
### What we should change and why (this is tech debt)

When you want to activate a new feature, you have to know it's key like `api_v1`. It would be nice if we added these to Flipper when booting the application so that you see an overview of all current feature in the feature toggle UI.

With that list of currently active feature, we can also remove old features from the database to keep it clean

[2022-04-25 05:14] mkllnk commented on #9039
It sounds fair to remove subscriptions if we want to remove the customer record. We currently don't support deleting subscriptions though. So I'm not sure which implications that would have.

We could investigate this option though: You can delete a customer record if there are no active subscriptions. Otherwise the subscriptions need to be cancelled first. When deleting a customer with subscripti

[2022-04-25 07:48] RachL commented on #9125
Just for the record, keys can already be found in the UI here: `/admin/feature-toggle/features` if I'm not mistaken. At least this is how I do it.

[2022-04-25 08:22] filipefurtad0 commented on #9120
The release is good to go :tada:
https://docs.google.com/document/d/1TQqrJO0WtbDj74GEKILGmf7aWAL1_bzl6ltEMLjSs0Y/edit#

[2022-04-25 08:28] jibees commented on #9125
You don't see available features under `/admin/feature-toggle/features` : you only see either _previously activated features_ and _currently activated features_.
To see all available features (and past features), for now, is the wiki page: https://github.com/openfoodfoundation/openfoodnetwork/wiki/Feature-toggle-with-Flipper which must be edited for sure (and this is the _pain_ point).
Having such

[2022-04-25 09:21] BethanOFN opened #9127 "Order cycle supplier total reports don't reflect product price changes"
## Description

A customer raised that the order cycle supplier total report wasn't showing the correct price for a product. On investigating, it turned out that the report shows the 'first' price paid for an item within the date range of the report and doesn't reflect any price changes made within the date range.

## Expected Behavior

Order cycle supplier total reports should show every price pa

[2022-04-25 12:52] RachL commented on #7176
This is fixed by #9032 @filipefurtad0 that's why I'm putting this in test ready. We can close when the PR is merged.

[2022-04-25 13:11] RachL commented on #4087
I can't reproduce. Closing :)

[2022-04-25 13:11] #4087 closed

[2022-04-25 13:12] RachL commented on #4095
@lin-d-hop do we want to keep track of these type of issues for the upcoming work on the new product API or do we close them?

[2022-04-25 13:13] RachL commented on #4171
I could never reproduce this one. Closing.

[2022-04-25 13:13] #4171 closed

[2022-04-25 13:25] RachL commented on #5441
Closing, but we can reopen if it's still reproductible.

[2022-04-25 13:25] #5441 closed

[2022-04-25 13:34] RachL commented on #6730
@sigmundpetersen yeah it's a bit of a mess, but I notice it's hard for new contributors to do PR closing issues from another repo. So I leave all good first issues here. I've added the papercut label :+1:

[2022-04-26 00:57] mkllnk commented on #9038
Just as a proof of concept, this works for me:
[code]

The replacement with flash would be nicer though.

I found another scenario where this fails:

1. Visit /payment and introduced the card * 9995
2. Check "Save card for future use"
3. Click Next and it fails

[2022-04-26 07:02] jibees commented on #9038
Did you test it with the branch modifications? It should not fail:

But I'll have a look.

Thanks @mkllnk !

[2022-04-26 11:26] lin-d-hop opened #9131 "[Split Checkout] Failed to reach checkout"
## Description

Using split checkout for Hub 'Helston Food Hub' in UK with user 930.

When I clicked checkout I got a 500 error.

I then logged out, recreated the same basket and tried to checkout. This time I was redirect to the checkout login screen. I logged in here and successfully reached checkout.

I tried 4 times to replicate the issue with different users following the same steps (see Step

[2022-04-26 11:47] jibees commented on #9131
_Technical note:_
It seems to be something around "shipments". I dug around yesterday, and couldn't find anything relevant. Maybe it's worth @mkllnk taking a look at.

[2022-04-26 11:53] sigmundpetersen commented on #9131
A lot of discussion around shipping methods and checkout in this S3 #8219
Could it be related to some of those scenarios?

[2022-04-26 11:55] sigmundpetersen commented on #9131
A lot of discussion on shipping methods and checkout in this S3 #8219
Could it be related to some of those scenarios?

[2022-04-26 12:16] #9120 closed

[2022-04-26 13:49] lin-d-hop opened #9133 "[UX] [Reports] Improve UX of Show/Hide Columns in Reports"
## Description

After the magnificent work of #9032 I propose a tweak to the UX in how columns are shown and hidden.

Elsewhere in OFN we show/hide cols using a dropdown and checkboxes:
![image](https://user-images.githubusercontent.com/8669848/165294118-c73fad5a-e246-4759-bb17-458ff86e6144.png)

This is a general recommendation on UX [here](https://ux.stackexchange.com/questions/110077/best-pract

[2022-04-26 13:49] lin-d-hop opened #9186 "[UX] [Reports] Improve UX of Show/Hide Columns in Reports"

[2022-04-26 15:25] lin-d-hop opened #9134 "Reports Overhaul"
## What is the problem we are solving

Placeholder Epic to capture reports work as it is prioritised.

There are a million old reports issues but please don't add them to this epic for the moment. A better place to add is the [Wishlist epic](https://github.com/openfoodfoundation/wishlist/issues/182). We'll be making sure those issues are prioritised as wel go.

[2022-04-26 18:58] seballot commented on #9133
FYI, I got more thought about this one, and personnally I do not think the dropdown it the best solution in this case.
For toggling columns on real table you are using, I agree this dropdown is the most common way. But here for a report filters section, where you not even see the table if you download as PDF or CSV directly, it make for sense to me to have the current multi select. Also with multi

[2022-04-27 09:21] lin-d-hop commented on #9133
Thanks @seballot
For me, showing the fields you are hiding is just really confusing UX. And hiding the fields you are hiding means you don't know the options.

On this one I'm going to go with the received UX wisdom out there. The more I [google](https://www.google.com/search?q=best+practices+to+allow+users+to+show+and+hide+columns+in+a+table&oq=best+practices+to+allow+users+to+show+and+hide+colum

[2022-04-27 12:07] jibees commented on #9131
This (https://app.bugsnag.com/yaycode/openfoodnetwork-uk/errors/61addaf4e787680007fb5221?event_id=6267ca31009351914ca80000&i=sk&m=nw) error come means that nor shipping method is linked to the current order.
Why? It seems that because order has no shipments

https://github.com/openfoodfoundation/openfoodnetwork/blob/6262dc3a2e7dbbe09bebc2b0b64d2ff0ffb6bbc8/app/models/concerns/order_shipment.rb#L27

[2022-04-27 13:42] RachL opened #9137 "[Split checkout] Order shipping methods alphabetically"
## Description

**- As a:** enterprise user
**- On page:** step 2 shipping method
**- I want to be able to do:** See shipping methods in alphabetical order like previous checkout.

Old :

![image](https://user-images.githubusercontent.com/6525576/165531886-06900f3f-9470-47dc-b4d4-087c8cc67d26.png)

New :

![image](https://user-images.githubusercontent.com/6525576/165531931-9a38cbe9-7efc-4181-b9ec-

[2022-04-27 15:34] lin-d-hop commented on #9134
Also this wishlist item that has been transferred there as it is also a potential papercut:
https://github.com/openfoodfoundation/wishlist/issues/223

[2022-04-28 14:54] #9054 closed

[2022-04-28 15:17] jibees commented on #9131
I didn't manage to resolve (or even improve) this one.
@mkllnk if you could spend some time on it, I'll be grateful 😇

[2022-04-28 15:59] mkllnk commented on #8877
An error linked to this issue has been reopened in Bugsnag
[**ArgumentError** in **admin/enterprises#update**](https://app.bugsnag.com/yaycode/openfoodnetwork-aus/errors/620f1217395d4b000841cb56?event_id=626ab9dd0093ed7f0d0c0000&i=gh&m=ra)

[2022-04-28 17:12] karlafalk opened #9140 "Address field not updating correctly for existing customer when creating new order in backend"
## Description

When creating a new order in the backend and choosing an existing customer from a shop/hub's customer list for the 'customer details' section, the 'province' (in Canada - may be state/county in other instances) field is not being updated when the address info gets automatically filled.

## Expected Behavior

The province field should be updated to the province that is associated wi

[2022-04-28 17:14] karlafalk commented on #9140
Not really sure why these files wouldn't upload in the issue so attaching them here.

<img width="2091" alt="Screen Shot 2022-04-28 at 10 55 01 AM" src="https://user-images.githubusercontent.com/88801240/165808597-3850ef20-870f-4ea2-ab9a-85d2000103f0.png">
<img width="2072" alt="Screen Shot 2022-04-28 at 10 54 47 AM" src="https://user-images.githubusercontent.com/88801240/165808601-98defe99-24d1-4

[2022-04-28 18:59] #9085 closed

[2022-04-28 23:55] mkllnk opened #9141 "Release v4.1.28"
## Preparation on Thursday

- [x] Merge pull requests in the [Ready To Go] column
- [x] Merge [Transifex pull request]
- [x] Include translations: `tx pull --force`
- [x] [Draft new release]. Look at previous [releases] for inspiration.
- [x] Notify [#instance-managers] of user-facing changes.

## Testing

- [x] [Find build] of the release commit and copy it below.
- [x] Move this issue to Test Re

[2022-04-29 07:28] jibees commented on #9140
Probably due to the integration of `tom-select` (PR: )

We do not update correctly value when we fill user; after the customer search:

https://github.com/openfoodfoundation/openfoodnetwork/blob/30ea017fa28b68f2341371c65fe9be88139eea29/app/assets/javascripts/admin/orders/directives/customer_search_override.js.coffee#L51-L52

Should probably be something like:

[code]

[2022-04-29 07:42] BethanOFN commented on #9140
Also happening in OFN UK with county field defaulting to first item in list 'Aberdeen City' on saved customer addresses:
<img width="1046" alt="Screenshot 2022-04-29 at 08 40 33" src="https://user-images.githubusercontent.com/100226210/165903573-3887e7b1-e80b-46c4-b555-585ec1eb8928.png">

[2022-04-29 08:48] filipefurtad0 opened #9143 "[Split Checkout] Order confirmation URL does not contain order_token"
## Description

On split-checkout, after completing the order in the shopfront, the redirection-URL to order confirmation page is missing `order_token` info, when compared to legacy checkout, example:
- legacy-checkout: it contains the order_token info, like this `/orders/R780072611?order_token=c53407a96e934841`
- split-checkout: it does not contain the order_token info, and looks rather like this

[2022-04-29 12:27] RachL commented on #6846
@lin-d-hop do we still need this issue now that the checkbox will be standard on all reports?

[2022-04-29 12:38] RachL opened #9144 "[Reports] Open PDF in new tab"
This issue can only be worked on once https://github.com/openfoodfoundation/openfoodnetwork/pull/9032 is merged.

## Description
**- As a:** enterprise & super admin
**- On page:** ALL subpages of `admin/reports`
**- I want to be able to do:** When export in PDF, I want the PDF to open in a new tab instead of the same page I select all my filters. Currently it means the current page is lost.

## A

[2022-04-29 12:57] RachL opened #9189 "[Reports] Ability for the admin to save their rendering options per reports"
## Description
**- As a:** enterprise user or super admin
**- On page:** each sub pages of `admin/reports`
**- I want to be able to do:** Be able to save the last 'rendering options' I have used

Rendering Options include:
- Report Type
- Display (Header/Summary rows)
- Columns to Show (see [here](https://github.com/openfoodfoundation/openfoodnetwork/pull/9191))
- Report Generation type

The same

[2022-04-29 13:23] RachL commented on #9141
Release is ready to go! I have issues with some users on split checkout. But as it's behind a feature toggle, it's safe to go forward.

https://docs.google.com/document/d/1mLPQWoNXfpVhHzoYmk9FjFQeP4cuiXfv9Gj9AKOaoe4/edit#

[2022-04-29 15:05] filipefurtad0 commented on #9131
So, it seems that starting from a "healthy" account - one which can checkout, on split checkout:
- starting from a fresh order
- choosing stripe SCA payment method, and adding the card 4000000000000002:

![image](https://user-images.githubusercontent.com/49817236/165969763-4acd610d-b2cf-436e-9cae-f88d25a7c46a.png)

- moving to order summary, and clicking "Complete order"
- triggers this bugsnag er

[2022-04-29 21:01] tschumilas opened #9148 "No bulk delete possible on BOM when orders have multiple items"
## Description
It is not possible to select and bulk delete items from orders on the BOM page,  when there are multiple items on the order.  It IS possible to select and bulk delete items IF these are the only/last items in an order.   It IS possible to delete items singularly.

## Expected Behavior

## Actual Behaviour
Should be able to filter, select and bulk delete items.

## Steps to Reproduce

[2022-04-30 10:01] KosyAbone commented on #9144
Please i/d love to work on this issue. Thank you

[2022-05-02 06:25] Renatacumming commented on #9002
Customer Ben has now placed 5 orders since this bug was investigated and it is solved for Ben.

[2022-05-02 07:45] RachL commented on #9144
hello @KosyAbone and welcom here! You will need to wait until https://github.com/openfoodfoundation/openfoodnetwork/pull/9032 gets merged first, but otherwise yes feel free to work on it. Have you seen our [Welcome New devs board](https://github.com/orgs/openfoodfoundation/projects/2) in the meantime?

[2022-05-02 08:12] jibees commented on #9131
Thanks **a lot** for your investigation @filipefurtad0 ! It's worth its weight in gold!

As:
 - your scenario comes from a not handled `Spree::Core::GatewayError`
 - and, https://github.com/openfoodfoundation/openfoodnetwork/pull/9057 is here to catch and handle this exception ; and has been reviewed by @mkllnk

I'd propose to push #9057 into `Test Ready` and see if this could solve this issue too

[2022-05-02 10:09] filipefurtad0 commented on #9131
:100:

[2022-05-02 11:20] #9038 closed

[2022-05-02 11:50] filipefurtad0 commented on #9148
Hey @tschumilas , thanks for opening the issue!

I could not quite reproduce it just yet. For an order with two line items (seen on the left screen) and others with a single line item, I've tried to bulk delete one item from an order which contains two items, and the last item from another order (right screen):

![Peek 2022-05-02 12-43](https://user-images.githubusercontent.com/49817236/166228849-

[2022-05-02 14:55] filipefurtad0 commented on #9100
Thanks @RonellaG and @georgethoppil for the heads up on this one.

I've reproduced this as well, in staging. Indeed the NaN does not dissapper (at least not in all cases!):

If we take a subscription associated (via schedule) to a closed OC:
- it will initially display that no upcoming OCs for that particular variant are upcoming.
- adding other variants from that closed OC
=> will display the NaN

[2022-05-02 16:50] filipefurtad0 opened #9152 "Migrate invoice_print_spec.rb into a system spec"
### What we should change and why (this is tech debt)

We should remove the last standing feature spec, using selenium into a system spec, using cuprite. This is `invoice_print_spec.rb`

### Context

In the context of migrating all feature into system specs.
A previous attempt can be found in #8434.

### Impact and timeline

Being able to reliably test pdfs as system specs or otherwise would impro

[2022-05-02 17:49] RachL opened #9153 "[Split checkout] Taxes are not re-calculated if customer changes state"
## Description

Tested using staging UK with CA data: the legacy checkout updates tax calculation on shipping method, but not split checkout.

## Expected Behavior
Taxes are re-calcultated if a customer change their address

## Actual Behaviour
Taxes are no re-calcultated, customer checksout with the wrong tax.

## Steps to Reproduce

1. Go to https://staging.openfoodnetwork.org.uk/red-berries-hub

[2022-05-03 05:42] #9141 closed

[2022-05-03 05:52] mkllnk opened #9155 "API v1 OpenAPI document swagger.yml is invalid"
### What we should change and why (this is tech debt)

- Visit https://editor.swagger.io/
- Import https://raw.githubusercontent.com/openfoodfoundation/openfoodnetwork/master/swagger/v1/swagger.yaml

#### Errors

[code]

### Context

We merged the first endpoint for our new API v1 but the structural document is actually not valid. This has been pointed out by several community members. One opened

[2022-05-03 06:01] #9155 closed

[2022-05-03 11:32] filipefurtad0 commented on #9153
I _think_ I've seen taxes correctly charged on split-checkout before... (I can't find a pic demonstrating this).

As discussed today on delivery train, we might be looking at a regression introduced by https://github.com/openfoodfoundation/openfoodnetwork/pull/8822

[2022-05-05 05:58] mkllnk commented on #9106
The Bulk Edit Products page uses an API v0 controller under the hood. That means that we can do everything that the page can including updating stock levels and prices.

[2022-05-05 06:07] mkllnk commented on #9106
Request:
[code]

Response:

[code]

[2022-05-05 06:27] mkllnk commented on #8971
Trying a little estimate here. It's a bit bigger though and bigger means more uncertainty:

- 2 days: Database changes for associating shipping methods and payment methods to order cycle. Implementation is not straight forward. We could associate methods with order cycles directly but that would mean that a shared payment method between two enterprises can only be toggled for both enterprises at t

[2022-05-05 06:50] lin-d-hop commented on #8971
Ok this is a process point.

In future I think we need to have 2 devs estimating before fundraising as the difference between Andys estimate and Maikels estimate is 100%. Funded features wont be feaible with the kind of underestimate made on this one.

Thanks for estimating this @mkllnk. Did you know @cillian is working on it?

[2022-05-05 06:59] mkllnk commented on #8971
Where is Andy's estimate?

[2022-05-05 07:00] lin-d-hop commented on #8971
In the original meeting on the first round of funded features we filtered all potential funded features that would take more than 4 senior dev days.

[2022-05-05 10:21] #6139 closed

[2022-05-05 11:41] #9137 closed

[2022-05-05 17:57] tschumilas commented on #9148
just retested:
one 'simple' store (producer sells own)
3 different customers placed orders
BOM -  just filtered by date
I selected products from 2 different customers
go to 'actions' - delete.   Nothing happens.

Will try to make a recording shortly

[2022-05-05 19:44] tschumilas commented on #9148
![testing bom bulk actions](https://user-images.githubusercontent.com/13171778/167013467-3a71a845-55a5-417f-9bf9-498a3ceddff0.gif)

[2022-05-05 19:46] tschumilas commented on #9148
OK - so above recording -   first shows I am able to see  the orders in the orders listing.  Then,  I go to BOM and show that I CAN delete an item from an order on BOM.   Then I try to delete 2 items from the same order on BOM using the 'actioins' - 'delete' .  Nothing happens.    I also show the same effect trying to select and delete items from different orders.

Its not shown on this recording

[2022-05-06 07:31] filipefurtad0 opened #9158 "[Split-Checkout] Test race conditions"
### What we should change and why (this is tech debt)

We need test coverage for race conditions on split-checkout. Something in the likes of https://github.com/openfoodfoundation/openfoodnetwork/pull/4136/commits/ec1b5a7a92e71b4020feabd700f022c74ec12846

If we don't succeed in reproducing these in controller or system specs we need to make sure we test this scenario manually in a staging server.

[2022-05-06 07:48] jibees opened #9159 "Release v4.1.29"
## Preparation on Thursday

- [ ] Merge pull requests in the [Ready To Go] column
- [ ] Merge [Transifex pull request]
- [ ] Include translations: `tx pull --force`
- [ ] [Draft new release]. Look at previous [releases] for inspiration.
- [ ] Notify [#instance-managers] of user-facing changes.

## Testing

- [ ] [Find build] of the release commit and copy it below.
- [ ] Move this issue to Test Re

[2022-05-06 09:17] BethanOFN commented on #8952
I've currently taken UK testers off split checkout due to this issue - any rough timescale for a resolution?

[2022-05-06 09:49] BethanOFN commented on #5732
User flagged this as frustrating today, would be good to get it removed.

[2022-05-06 10:06] RachL commented on #8952
@mkllnk do you have some room to look at it? George has already a pile of bug on his plate 😅

thanks @BethanOFN for the feedback! I will let you know as soon as it is fixed.

[2022-05-06 15:52] RachL commented on #9160
Transferring this to BUU epic: we need to look at this within BUU work.

[2022-05-06 17:41] filipefurtad0 commented on #9131
I keep bumping into this one lately. There are several scenarios triggering it. More findings:

- #9057 indeed prevents one scenario which leads to this issue :+1
- race conditions however, i.e., an order which is not successfully completed (see #9158) can lead to this scenario as well, _but only_ if if the customer gives up the order and clicks "Empty cart", on the `/cart` page.

The error is alw

[2022-05-06 18:01] filipefurtad0 commented on #9153
I think split-checkout is not calculating taxes, regardless of customers changing state. The orders below, from legacy checkout (left); from split checkout (right):

![Peek 2022-05-05 15-55](https://user-images.githubusercontent.com/49817236/167190539-5fa39894-9afc-4bae-acb2-a05c48410ed0.gif)

Only after clicking update and recalculate fees in the BO the orders match.

[2022-05-08 23:08] #8767 closed

[2022-05-09 06:31] RonellaG opened #9161 "Metabase has not synched since 26 April 2022"
## Description
The Australian team use Metabase to provide customer support.

## Expected Behavior
We should be able to see up-to-date data so that we can investigate customer enquiries

## Actual Behaviour
Metabase has not synched since 26 April 2022

## Steps to Reproduce
<img width="1216" alt="Screen Shot 2022-05-09 at 4 23 17 pm" src="https://user-images.githubusercontent.com/68315791/16735272

[2022-05-09 12:28] jibees commented on #9131
Thanks for this incredible work/exploration @filipefurtad0 ! 👏 🙏

I'd vote to destroys the whole order by clicking on `Empty cart`(and by removing all the items in cart?)

I'd invoke @mkllnk opinion on that one too, as I'm not familiar.

[2022-05-09 12:31] jibees commented on #9153
I'll deep dive into this one 🤿. Not sure I'll succeed, but let's have a try ;)

[2022-05-09 21:50] tschumilas commented on #9148
Trying to think about anything else different with this enterprise -  but nothing --   just a producer selling own,  public shop,

[2022-05-10 00:03] mkllnk opened #9166 "Let users generate their API key"
## What is the problem we are solving

Only admin users can generate and see API keys at the moment. So if anyone wants to use the API they need to ask an instance manager for an API key first. This is additional work. Plenty of community contributors are also asking regularly how they get an API key and we need to let them know.

## Success factors = expected outcome

1. In Admin/Users (a super a

[2022-05-10 00:28] mkllnk opened #9167 "[API] Customer endpoint improvements"
## What is the problem we are solving

After publishing the customer endpoint behind a feature toggle we got some suggestions for improvements. I selected a few which would be good to do now before publishing the endpoint as stable.

## Success factors = expected outcome

Region and country codes are useful IDs to compare across databases:

- Replace `region` string with an object: `region: { code

[2022-05-10 00:41] mkllnk commented on #9131
Yes, that sounds simple. There needs to be a check that the order is definitely not completed and doesn't have any successful payments.

It could hide some trails if someone had failed payments and then deleted the order. Actually, thinking of these cases, the order may even have a successful payment but the checkout still failed. How do we resolve this? While emptying the cart is a nice feature t

[2022-05-10 07:01] mkllnk commented on #9153
Just with a very quick look at these line:
https://github.com/openfoodfoundation/openfoodnetwork/blob/44965ff2352e04a824e6036ada383b1fb2decbc8/app/controllers/split_checkout_controller.rb#L79-L81

It looks like the updater is setting the new values but in my 30 second read I didn't see them saved. Do we need to call `save`?

[2022-05-10 07:29] lin-d-hop commented on #9167
Please track your hours on this in clockify under the Customer Endpoint funded feature.
Thanks!

[2022-05-10 08:03] filipefurtad0 commented on #9112
Hey @georgethoppil ,

While not preventing the creation of the ghost transaction fees, this comments seems related, as also here on the `/cart` page, the user can't seem to re-start an order:
https://github.com/openfoodfoundation/openfoodnetwork/issues/9131#issuecomment-1121726323

[2022-05-10 10:50] filipefurtad0 opened #9168 "[Split Checkout] Should a shipment be created on the `/summary` step?"
## Description

This issue is meant as a placeholder to double-check if the current behavior is correct. So not bug per se, rather a code/feature logic/design question:

Do we need to create shipments on the /summary step?

On legacy checkout: a shipment is created once the used clicks "Place order now".
On Split Checkout: a shipment is created once the user visits the `/summary` step, and before

[2022-05-10 12:58] lin-d-hop opened #9170 "OFN DFC Products"
## Description

I want to be able use the DFC standard to interface with OFN.

The OFN v0 Products endpoint gives enough functionality for a simple interface with the DFC. By linking OFN v0 product endpoint to the DFC we can build integrations from the DFC standard and then change OFN under the hood without impacting the integrations. As the v0 products endpoint has everything that is needed, this

[2022-05-10 13:48] BethanOFN opened #9171 "Fees don't automatically update when items out of stock for subscription orders"
## Description

A user raised that subscription orders containing items that had gone out of stock were not updating to reflect the correct enterprise fees and customers were therefore being overcharged on fees.

This is similar to [issue 6363](https://github.com/openfoodfoundation/openfoodnetwork/issues/6363) which appears to have been partly resolved i.e. out of stock items no longer show in edi

[2022-05-10 14:00] jibees commented on #9056
Ok, I couldn't reproduce this issue at all...
Maybe fixed with related PRs...
Feel free to re-open it if needed!

[2022-05-10 14:02] RachL opened #9172 "[Split checkout] Rename "delivery address" in "shipping info""
## Description
**- As a:** shopper
**- On page:** `/checkout/details`
**- I want to be able to do:** see the text "Shipping info" (same as legacy checkout) rather than "delivery address"

Context : it has been reported by several users. They get confused by the term "address". We can fix it in translation, but it's good  to give the right incentive to translators.

![image.png](https://images.zenh

[2022-05-10 14:47] jibees commented on #9172
Since the i18n key has already been translated for almost all languages, should I re-create another key, or simply changing the original key is enough?

[2022-05-10 15:02] RachL commented on #9172
@jibees can we re-use the i18n key from legacy checkout?

[2022-05-11 07:36] lin-d-hop commented on #9170
Relevant conversation on Slack:
https://openfoodnetwork.slack.com/archives/C018S101R4J/p1652184870004909

[2022-05-11 10:12] filipefurtad0 commented on #5505
I think we can close this, as the only path to generating empty orders is by removing all items from orders, which cancels them automatically, and resuming the order.

However, [resumed orders don't appear to the customer](https://github.com/openfoodfoundation/openfoodnetwork/issues/7282), so as of now, this bug does not occur.

[2022-05-11 10:12] #5505 closed

[2022-05-11 10:13] filipefurtad0 commented on #7282
If/when we fix this we then might need to consider re-opening #5505.

[2022-05-11 12:50] #9143 closed

[2022-05-11 20:12] RaggedStaff commented on #9170
As per comments on Slack...
I suggest we create a default DFC:Offer & DFC:customerCategory to hold a "Producer Price" or "default price" for a Product. Since OFN isn't utilising these classes we can create default values for the DFC output.

At this stage DFC isn't read to capture multiple offers/prices per product so we should be able to modify the Prototype to display a price, if that's helpful/

[2022-05-11 21:04] RaggedStaff commented on #9170
Required JSON-LD output format is available here: https://datafoodconsortium.gitbook.io/dfc-standard-documentation/appendixes/practical-examples/version-1.7

Context data has been abstracted to here: http://static.datafoodconsortium.org/ontologies/context.json

This includes a number of reference data ontologies (for look up fields). When looking through the JSON-LD schema, you'll need to referenc

[2022-05-11 23:53] mkllnk commented on #9170
Thanks for that. I have to admit that it's still overwhelming for me as I haven't worked with JSON-LD before. But I'm sure we can work it out.

Off topic: I couldn't find a way to suggest a change in the documentation but this example doesn't seem right defining weight in cm (line 101):
[code]